<div class="addeditBlendedCategory" *ngIf='show'>
    <!-- <div class="col-md-12 addEditCattoprow addEditCatsticky-top">
        <div class="col-md-6">
            <h4 class="addEditCatHead">Course Category</h4>
        </div> -->
    <!-- <div class="col-sm-6" style="text-align:right" >
        <button type="button" class="btn btn-secondary" id="submitBut" (click)="submit()">Save</button>  
        <button type="submit" class="btn btn-mm btn-default" id="backBut" (click)="back()" > Back</button>
      </div> -->
    <!-- <div class="col-md-6 text-right  pad14px">
            <button type="button" class="constantbtn-button-blue-left" [disabled]="!categoryForm.form.valid"
                (click)="submit()">Save</button>
            <button type="submit" class="constantbtn-button-blue-right" (click)="back()">Back</button>
    
        </div>
    </div> -->


    <div class="addEditCategory_container">
        <!-- <div class="top_header_container">
            <div class="top_header_div_sticky content_width">
                <div class="page_title">
                    <h4>Batch Category</h4>
                </div> -->

        <!-- <div>
                                <div class="filter_div"> -->
        <!-- <div class="drop_down">
                                        <select [(ngModel)]="cat.id" class="form-control drop_down_select" name="id" (click)="doropserch()">
                                            <option value = "">All Categories</option>
                                            <option *ngFor="let item of parentcat" value={{item.categoryId}} >{{item.categoryName}}</option>
                                        </select>
                                    </div> -->
        <!-- <div class="search_div">
                                        <input type="text" [(ngModel)]="search.categoryName" class="form-control search_field" placeholder="Search by category Name" name="namw" [disabled]="notFound">
                                        <i class="fa fa-remove remove_icon" aria-hidden="true" (click)="clear()"></i>
                                    </div>
                                </div>   -->
        <!-- </div> -->

        <!-- <div class="buttons_div">
                    <button type="button" class="constantbtn-button-blue-left"
                        (click)="submit(categoryForm)">Save</button>
                    <button type="submit" class="back_button" (click)="back()">Back</button>
                </div>
            </div>
        </div> -->
        <app-subheader [headerConfig]="header" [isSave]="true" (btnone)="submit(categoryForm)" (backClick)="back($event)"></app-subheader>
        <div class="inside_form_container">
            <h5>General Details</h5>
            <div class="form_grid">

                <div class="left_form_container">
                    <div class="form_container">
                        <form #categoryForm="ngForm">
                            <div class="form-group form_field_container">
                                <label class="space_left commonLabel" for="catna">{{helpContent?.blended_courses_AddEditCategoryContent?.name?.label}} <h3
                                        class="reqFieldActivity"
                                        *ngIf="helpContent?.blended_courses_AddEditCategoryContent?.name?.isMandatory">*
                                    </h3>
                                    <div class="help-tooltip">
                                        <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                                        <!-- <i class="fa fa-info tooltip-hover-info-label"
                                                                        aria-hidden="true"></i> -->
                                        <div class="help-tooltip-position-right">
                                            <!-- <h3>Lorem Ipsum</h3> -->
                                            <p>{{helpContent?.blended_courses_AddEditCategoryContent?.name?.labelHelpContent}}
                                            </p>
                                            <i></i>
                                        </div>
                                    </div>
                                </label>

                                <input type="text" class="form-control commonInput" id="catna" minlength="2" maxlength="50" [(ngModel)]="formdata.categoryName" required placeholder="Max 50 characters." name="categoryName" #categoryName="ngModel" ngDefaultControl>
                                <div *ngIf="categoryName.errors && (categoryName.dirty || categoryName.touched)" class="required_msg_text">
                                    <small class="alert alert-danger" [hidden]="!categoryName.errors.required">Category Name is required</small>
                                    <small class="alert alert-danger" [hidden]="!categoryName.errors.minlength">Minimum 2 characters required</small>
                                </div>
                                <span></span>
                            </div>
                            <div class="form-group form_field_container">
                                <label class="left_space commonLabel" for="des">{{helpContent?.blended_courses_AddEditCategoryContent?.description?.label}}
                                    <sup class="reqFieldActivity">*</sup>
                                    <div class="help-tooltip">
                                        <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                                        <!-- <i class="fa fa-info tooltip-hover-info-label"
                                                                        aria-hidden="true"></i> -->
                                        <div class="help-tooltip-position-right">
                                            <!-- <h3>Lorem Ipsum</h3> -->
                                            <p>{{helpContent?.blended_courses_AddEditCategoryContent?.description?.labelHelpContent}}
                                            </p>
                                            <i></i>
                                        </div>
                                    </div>
                                </label>
                                <textarea style="height: 171px;" cols="30" rows="6" maxlength="500" minlength="20" class="form-control form-control-input inputText" id="des" placeholder="Min 20 and Max 500 characters." name="description" [(ngModel)]="formdata.description" #description="ngModel"
                                    required ngDefaultControl></textarea>
                                <div *ngIf="description.errors && (description.dirty || description.touched)" class="required_msg_text">
                                    <small class="alert alert-danger" [hidden]="!description.errors.required">Description is required</small>
                                    <small class="alert alert-danger" [hidden]="!description.errors.minlength">Minimum 20 characters required</small>
                                    <!-- <div [hidden]="!description.hasError('pattern')">Maximum 500 characters required</div> -->
                                </div>
                                <span></span>
                            </div>
                            <div class="form-group tagcontainer">
                                <label class="left_space commonLabel" for="addTags">{{helpContent?.blended_courses_AddEditCategoryContent?.tags?.label}}<h3
                                        class="reqFieldActivity">*</h3>
                                    <div class="help-tooltip">
                                        <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                                        <!-- <i class="fa fa-info tooltip-hover-info-label"
                                                                            aria-hidden="true"></i> -->
                                        <div class="help-tooltip-position-right">
                                            <!-- <h3>Lorem Ipsum</h3> -->
                                            <p>{{helpContent?.blended_courses_AddEditCategoryContent?.tags?.labelHelpContent}}
                                            </p>
                                            <i></i>
                                        </div>
                                    </div>
                                </label>
                                <div id="addTags">
                                    <angular2-multiselect id="exampleInputTags4" [data]="tagList" [(ngModel)]="selectedTags" [settings]="settingsTagDrop" required #tags="ngModel" (onSelect)="onTagsSelect($event)" class="select_field_height" (onDeSelect)="OnTagDeSelect($event)" name="selectedTags"
                                        ngDefaultControl>
                                        <!-- <c-search>
                                          <ng-template>
                                            <input type="text" (keyup)="onTagSearch($event)"
                                              placeholder="Search Tags"
                                              style="border: none;width: 100%; height: 100%;outline: none;" />
                                          </ng-template>
                                        </c-search> -->
                                        <c-item>
                                            <ng-template let-item="item">
                                                <label class="commonLabel" style="color: #333;">{{item.name}}</label>
                                            </ng-template>
                                        </c-item>
                                    </angular2-multiselect>
                                    <div class="required_msg_text" *ngIf="tags.errors && (tags.dirty || tags.touched)">
                                        <small class="alert alert-danger" [hidden]="!tags.errors.required">Tag is required</small>
                                    </div>
                                </div>
                                <span></span>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="right_form_container">
                    <form class="forms-sample form_field_container">
                        <div class="form-group form_field_container">
                            <label class="left_space commonLabel" for="visiid">{{helpContent?.blended_courses_AddEditCategoryContent?.visibility?.label}}
                                <h3 class="reqFieldActivity"
                                    *ngIf="helpContent?.blended_courses_AddEditCategoryContent?.visibility?.isMandatory">
                                    *
                                </h3>
                                <div class="help-tooltip">
                                    <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                                    <!-- <i class="fa fa-info tooltip-hover-info-label"
                                                                    aria-hidden="true"></i> -->
                                    <div class="help-tooltip-position-right">
                                        <!-- <h3>Lorem Ipsum</h3> -->
                                        <p>{{helpContent?.blended_courses_AddEditCategoryContent?.visibility?.labelHelpContent}}
                                        </p>
                                        <i></i>
                                    </div>
                                </div>
                            </label>
                            <select [(ngModel)]="formdata.visible" id="visiid" class="form-control select_field_height commonSelect" required name="visible" #visible="ngModel" ngDefaultControl>
                                <option value="" selected disabled>Select Type</option>
                                <option *ngFor="let item of visibility" value={{item.id}}>{{item.name}}</option>
                            </select>
                            <div *ngIf="visible.errors && (visible.dirty || visible.touched)" class="required_msg_text">
                                <small class="alert alert-danger" [hidden]="!visible.errors.required">Visibility is required</small>
                            </div>
                            <span></span>
                        </div>
                        <label class="commonLabel">
                            {{helpContent?.blended_courses_AddEditCategoryContent?.category_thumbnail?.label}}

                        <div class="help-tooltip">
                            <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                            <!-- <i class="fa fa-info tooltip-hover-info-label"
                                                aria-hidden="true"></i> -->
                            <div class="help-tooltip-position-right">
                                <!-- <h3>Lorem Ipsum</h3> -->
                                <p>{{helpContent?.blended_courses_AddEditCategoryContent?.category_thumbnail?.labelHelpContent}}
                                </p>
                                <i></i>
                            </div>
                        </div>
                    </label>

                        <div class="image_upload_container">
                            <div class="image_preview">

                                <!-- style="background-image: url('https://bhaveshedgetest.s3.ap-south-1.amazonaws.com/BFL.jpg')"  -->
                                <div class="image_preview_container" [style.background-image]="'url(' + formdata.categoryPicRef + ')'">
                                    <div class="icon_upload_image">
                                        <input class="" type='file' [(ngModel)]="formdata.categoryPicRefs" [ngModelOptions]="{standalone: true}" id="imageUpload_1" accept=".png, .jpg, .jpeg" style="display:none" (change)="readCategoryThumb($event)" />
                                        <label class="" for="imageUpload_1" title="Change Thumbnail"><i class="fa fa-pencil"
                                                    aria-hidden="true"></i></label>
                                    </div>
                                    <div class="icon_delete" (click)="deleteCategoryThumb()">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                        <!-- <label></label> -->
                                    </div>
                                </div>

                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>

    </div>

</div>



<!---************************************ OLD CODE *********************************************-->

<!-- <div class="widgets"> -->

<!-- <div class="loaderBackdrop" *ngIf="loader == true">
        <div id="loader"></div>
    </div> -->

<!-- <div ba-panel ba-panel-class="with-scroll">
        <div class="col-sm-12" style="padding: 0;"> -->
<!-- <div style="">
                <div class="row m0" style="width: 100%;">
                    <div class="col-md-6 grid-margin stretch-card" style="padding-left: 25px;margin-top: 25px;">
                        <div class="card cardForm cardFormCategory"> -->
<!-- <div class="card-body">
                                <h4 class="card-title marginTop0">General Details</h4>
                                <p class="card-description">
                                </p> -->
<!-- <form class="forms-sample" #categoryForm="ngForm"> -->
<!--         <div class="form-group">
                                        <label class="space_left" for="catid">Code<sup class="reqFieldActivity">*</sup></label>
                                        <input type="text" class="form-control inputText" id="catid" [(ngModel)]="formdata.categoryCode" required placeholder="Category Code" name="categoryCode" #categoryCode="ngModel" ngDefaultControl>
                                        <div [hidden]="categoryCode.valid || categoryCode.pristine" class="required_msg_text">
                                            <div [hidden]="!categoryCode.errors.required">Category Code is required</div>
                                        </div>
                                        <span></span>
                                    </div> -->
<!-- <div class="form-group">
                                        <label class="space_left" for="catna">{{helpContent?.blended_courses_AddEditCategoryContent?.name?.label}} <h3 class="reqFieldActivity" *ngIf="helpContent?.blended_courses_AddEditCategoryContent?.name?.isMandatory">*</h3>
                                            <div class="help-tooltip">
                                                <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                                            
                                                <div class="help-tooltip-position-right">
                                                
                                                    <p>{{helpContent?.blended_courses_AddEditCategoryContent?.name?.labelHelpContent}}</p>
                                                    <i></i>
                                                </div>
                                            </div>
                                        </label>
                                        <input type="text" class="form-control inputText" id="catna" maxlength="50"  [(ngModel)]="formdata.categoryName" required placeholder="Max 50 characters." name="categoryName" #categoryName="ngModel" ngDefaultControl>
                                        <div [hidden]="categoryName.valid || categoryName.pristine" class="required_msg_text">
                                            <div [hidden]="!categoryName.hasError('required')">Category Name is required</div>
                                        </div>
                                        <span></span>
                                    </div> -->

<!-- <div class="form-group">
                                        <label class="left_space" for="visiid">{{helpContent?.blended_courses_AddEditCategoryContent?.visibility?.label}}
                                                <h3 class="reqFieldActivity" *ngIf="helpContent?.blended_courses_AddEditCategoryContent?.visibility?.isMandatory">*
                                                    </h3>
                                            <div class="help-tooltip">
                                                <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                                               
                                                <div class="help-tooltip-position-right">
                                                
                                                    <p>{{helpContent?.blended_courses_AddEditCategoryContent?.visibility?.labelHelpContent}}</p>
                                                    <i></i>
                                                </div>
                                            </div>
                                        </label>
                                        <select [(ngModel)]="formdata.visible" id="visiid" class="select_field_height" required name="visible" #visible="ngModel" ngDefaultControl>
                                        <option value="" selected disabled>Select Type</option>
                                        <option *ngFor="let item of visibility" value={{item.id}}>{{item.name}}</option>
                                        </select>
                                        <div [hidden]="visible.valid || visible.pristine" class="required_msg_text">
                                            <div [hidden]="!visible.hasError('required')">Visibility is required</div>
                                        </div>
                                        <span></span>
                                    </div> -->

<!-- <div class="form-group">
                    <label class="space_left" for="des">Description</label>
                    <textarea class="form-control taskedittextarea ng-pristine ng-valid ng-valid-maxlength ng-touched inputText" id="des" placeholder="Description" name="description" [(ngModel)]="formdata.description" maxlength="250" #description="ngModel" ngDefaultControl>
                    </textarea>
                    <span></span>
                  </div> -->

<!-- <div class="form-group">
                                        <label class="left_space" for="des">{{helpContent?.blended_courses_AddEditCategoryContent?.description?.label}} <sup class="reqFieldActivity">*</sup>
                                            <div class="help-tooltip">
                                                <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                                          
                                                <div class="help-tooltip-position-right">
                                                
                                                    <p>{{helpContent?.blended_courses_AddEditCategoryContent?.description?.labelHelpContent}} </p>
                                                    <i></i>
                                                </div>
                                            </div>
                                        </label>
                                        <textarea cols="30" rows="6" maxlength="500" minlength="20" class="form-control form-control-input inputText" id="des" placeholder="Min 20 and Max 500 characters." name="description" [(ngModel)]="formdata.description" #description="ngModel" pattern=".{20,500}" required ngDefaultControl></textarea>
                                        <div [hidden]="description.valid || description.pristine" class="required_msg_text">
                                            <div [hidden]="!description.hasError('required')">Description is required</div>
                                            <div [hidden]="!description.errors.minlength">Minimum 20 characters required</div>
                                            <div [hidden]="!description.hasError('pattern')">Maximum 500 characters required</div>
                                        </div>
                                        <span></span>
                                    </div> -->

<!-- <div class="form-group tagcontainer">
                                        <label class="left_space" for="addTags">{{helpContent?.blended_courses_AddEditCategoryContent?.tags?.label}}<h3 class="reqFieldActivity" >*</h3>
                                            <div class="help-tooltip">
                                                    <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                                                  
                                                    <div class="help-tooltip-position-right">
                                                     
                                                        <p>{{helpContent?.blended_courses_AddEditCategoryContent?.tags?.labelHelpContent}} </p>
                                                        <i></i>
                                                    </div>
                                            </div>
                                        </label>
                                        <div id="addTags" class="input-group">
                                            <tag-input [theme]="'bootstrap'"[separatorKeyCodes]="[32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,58,59,60,61,62,63,64188]"  [(ngModel)]="formdata.tags" name="tags" [modelAsStrings]="true"
                                            required #tags="ngModel">
                                            </tag-input>
                                        </div>
                                        <div [hidden]="tags.valid || tags.pristine" class="required_msg_text">
                                                <div [hidden]="!tags.hasError('required')">Tags are required</div>
                                         
                                              </div>
                                              <span></span>
                                    </div> -->

<!-- </form> -->
<!-- </div>
                        </div>
                    </div> -->
<!-- <div class="col-md-6 grid-margin stretch-card" style="margin-top: 25px;padding-right: 25px;">
                <div class="card cardForm">
                    <div class="card-body">
                        <h4 class="card-title marginTop0">
                            {{helpContent?.blended_courses_AddEditCategoryContent?.category_thumbnail?.label}}
                            <div class="help-tooltip">
                                <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                              
                                <div class="help-tooltip-position-right">
                                   
                                    <p>{{helpContent?.blended_courses_AddEditCategoryContent?.category_thumbnail?.labelHelpContent}}
                                    </p>
                                    <i></i>
                                </div>
                            </div>
                        </h4>
                        <p class="card-description">
                        </p>
                        <form class="forms-sample">
                            <div class="form-group">
                                <div class="categoryIcon">
                                    <div class="m0 categoryIcon-upload">
                                        <div class="cat-img">
                                            <div class="categoryIcon-edit">
                                                <input type='file' id="imageUpload"
                                                    (change)="readCategoryThumb($event)" />
                                                <label for="imageUpload" title="Change Thumbnail"></label>
                                            
                                            </div>
                                            <div class="categoryIcon-delete" (click)="deleteCategoryThumb()">
                                                <label title="Restore to default"></label>
                                              
                                            </div>
                                            <div class="categoryIcon-preview">
                                              
                                                <img src={{formdata.categoryPicRef}}>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- </div>
</div> -->