<div class="add_edit_noti">
  <!-- <div class="gamidivNot col-md-12 sticky-top">
    <div class="col-md-6 gamiSubdivNot" >
         <h3 *ngIf="addAction" class="heading">Add Notification Templates</h3>
         <h3 *ngIf="!addAction" class="heading">{{emailTemplateName}} - Edit {{title}} Notification Templates</h3>
    </div>

    <div class="col-md-6 text-right">
    <button type="button" class="constantbtn-button-blue-left" [disabled]="!templateForm.form.valid" (click)="submit(notTemp)">Save</button>
    <button type="button" class="back_button" (click)="back()">Back</button>
    </div>
  </div> -->

  <app-subheader [headerConfig]="header" [isSave]="templateForm.valid" (backClick)="back()"
    (btnone)="submit(notTemp)"></app-subheader>

  <div class="widgets">
    <div ba-panel ba-panel-class="with-scroll">
      <div class="col-sm-12" style="padding: 0;">
        <form class="forms-sample" #templateForm="ngForm">
          <div class="m0" style="width: 100%;">
            <div class="col-md-6 grid-margin stretch-card" style="padding-left: 25px;margin-top: 25px;">
              <div class="card cardForm cardFormCertificate">
                <div>
                  <h4 class="card-title cardHead marginTop0">Template Details</h4>
                </div>

                <div class="card-body">
                  <div class="form-group">
                    <label class="commonLabel">{{helpContent?.notification_temp_add_edit?.template_name?.label}}
                      <sup class="reqFieldActivity">*</sup>
                      <div class="help-tooltip">
                        <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                        <div class="help-tooltip-position-right">
                          <p>{{helpContent?.notification_temp_add_edit?.template_name?.labelHelpContent}}</p>
                          <i></i>
                        </div>
                      </div>
                    </label>
                    <!-- <label class="space_left" for="cname">Template Name<h3 class="reqField">*</h3></label> -->
                    <input type="text" class="form-control commonInput" id="tname" [(ngModel)]="notTemp.name" required
                      placeholder="Template Name" name="tName" #tName="ngModel" ngDefaultControl>
                    <div [hidden]="tName.valid || tName.pristine" class="alert alert-danger">
                      <div [hidden]="!tName.hasError('required')">Template name is required.</div>
                    </div>
                    <span></span>
                  </div>
                  <div class="form-group">
                    <label class="commonLabel">{{helpContent?.notification_temp_add_edit?.description?.label}}
                      <sup class="reqFieldActivity">*</sup>
                      <div class="help-tooltip">
                        <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                        <div class="help-tooltip-position-right">
                          <p>{{helpContent?.notification_temp_add_edit?.description?.labelHelpContent}}</p>
                          <i></i>
                        </div>
                      </div>
                    </label>
                    <!-- <label class="space_left" for="cdesc">Description<h3 class="reqField">*</h3></label> -->
                    <textarea cols="30" rows="6" class="form-control form-control-input commonTextarea" id="cdesc"
                      placeholder="Description" name="desc" [(ngModel)]="notTemp.desc" #desc="ngModel" minlength="20"
                      maxlength="1000" required ngDefaultControl></textarea>
                    <div [hidden]="desc.valid || desc.pristine" class="alert alert-danger">
                      <div [hidden]="!desc.hasError('required')">Description is required</div>
                      <!-- <div [hidden]="!desc.hasError('minlength') && !">Minimum 20 and Maximum 1000 characters required</div> -->
                      <div *ngIf="desc.errors?.minlength">
                        Min 20 and Max 1000 characters is required</div>
                    </div>
                    <span></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class=" grid-margin stretch-card" style="margin-top: 25px;padding-right: 10px;">
                <div class="card cardForm">
                  <div>
                    <h4 class="card-title cardHead marginTop0">Notification Content</h4>
                  </div>
                  <div class="card-body">
                    <div class="form-group" *ngIf="title ==='EMAIL'">
                      <label class="commonLabel">{{helpContent?.notification_temp_add_edit?.subject?.label}}
                        <sup class="reqFieldActivity">*</sup>
                        <div class="help-tooltip">
                          <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                          <div class="help-tooltip-position-right">
                            <p>{{helpContent?.notification_temp_add_edit?.subject?.labelHelpContent}}</p>
                            <i></i>
                          </div>
                        </div>
                      </label>
                      <!-- <label class="space_left" for="subject">Subject<h3 class="reqField">*</h3></label> -->
                      <input type="text" class="form-control commonInput" id="subject" [(ngModel)]="notTemp.subject" required
                        placeholder="Subject Name" name="subject" #subject="ngModel" ngDefaultControl>
                      <div [hidden]="subject.valid || subject.pristine" class="alert alert-danger">
                        <div [hidden]="!subject.hasError('required')">Subject is required.</div>
                      </div>
                      <span></span>
                    </div>
                    <div class="form-group">
                      <label class="commonLabel">{{helpContent?.notification_temp_add_edit?.content?.label}}
                        <sup class="reqFieldActivity">*</sup>
                        <div class="help-tooltip">
                          <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                          <div class="help-tooltip-position-right">
                            <p>{{helpContent?.notification_temp_add_edit?.content?.labelHelpContent}}</p>
                            <i></i>
                          </div>
                        </div>
                      </label>
                      <!-- <label class="space_left" for="cdesc">Content<h3 class="reqField">*</h3></label> -->
                      <!-- <div *ngIf="!emailTemplate">
                        <textarea cols="30" rows="6" class="form-control form-control-input commonTextarea" id="cdesc"
                          placeholder="Content" name="description" [(ngModel)]="notTemp.content" #content="ngModel"
                          minlength="20" maxlength="1000" required ngDefaultControl></textarea>
                        <div [hidden]="content.valid || content.pristine" class="alert alert-danger">
                          <div [hidden]="!content.hasError('required')">Content is required</div>
                          <div [hidden]="!content.hasError('minlength')">Minimum 20 and maximum 1000 characters
                            required.</div>
                        </div>
                      </div>
                      <div *ngIf="emailTemplate">
                        <jodit-editor [config]="config" name="description" id="cdesc" [(ngModel)]="notTemp.content"
                          #content="ngModel" required>
                        </jodit-editor>
                        <!-- <div [hidden]="content.valid || content.pristine" class="alert alert-danger">
                            <div [hidden]="!content.hasError('required')">Content is required</div>
                          </div>
                      </div> -->

                      <div *ngIf="showTemplateFor == 'appNotification'">
                        <textarea cols="30" rows="6" class="form-control form-control-input" id="cdesc"
                        placeholder="Content" name="description" [(ngModel)]="notTemp.content" #content="ngModel"
                        minlength="20" maxlength="1000" required ngDefaultControl></textarea>
                        <div [hidden]="content.valid || content.pristine" class="alert alert-danger">
                          <div [hidden]="!content.hasError('required')">Content is required</div>
                          <div [hidden]="!content.hasError('minlength')">Minimum 20 and maximum 1000 characters required.</div>
                        </div>
                      </div>
                      <div *ngIf="showTemplateFor == 'email'">
                        <jodit-editor  [config]="config" name="description" id="cdesc"  [(ngModel)]="notTemp.content" #content="ngModel"  required>
                        </jodit-editor>
                        <!-- <div [hidden]="content.valid || content.pristine" class="alert alert-danger">
                          <div [hidden]="!content.hasError('required')">Content is required</div>
                        </div> -->
                      </div>
                      <div *ngIf="showTemplateFor == 'sms'">
                        <textarea cols="30" rows="6" class="form-control form-control-input" id="cdesc"
                        placeholder="Content" name="description" [(ngModel)]="notTemp.content" #content="ngModel"
                        minlength="20" maxlength="140" required ngDefaultControl></textarea>
                        <div class="text-right mt-2 mb-2">Character count: {{notTemp?.content?.length}} / 140</div>
                        <div [hidden]="content.valid || content.pristine" class="alert alert-danger">
                          <div [hidden]="!content.hasError('required')">Content is required</div>
                          <div [hidden]="!content.hasError('minlength')">Minimum 20 required.</div>
                          <div [hidden]="!content.hasError('maxlength')">Enter Maximum 140 characters only.</div>
                        </div>
                      </div>
                      <span></span>
                    </div>
                  </div>
                </div>
              </div>
              <!-- <div class="grid-margin stretch-card" style="margin-top: 25px;padding-right: 25px;" *ngIf="htmlEditor">
                <div class="card cardForm">
                  <div>
                      <h4 class="card-title cardHead marginTop0">Notification Content</h4>
                  </div>

                  <div class="card-body">

                    <form class="forms-sample">
                      <div class="form-group">
                        <quill-editor id="cCont" [(ngModel)]="notTemp.content" name="content" #content="ngModel" [ngModelOptions]="{standalone: true}"
                          [options]="editorOptions" pattern=".{20,4000}" required ngDefaultControl></quill-editor>
                          <div [hidden]="content.valid || content.pristine" class="alert alert-danger">
                              <div [hidden]="!content.hasError('required')">Content is required</div>
                              <div [hidden]="!content.hasError('pattern')">Minimum 20 and maximum 4000 characters required.</div>
                            </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div> -->
            </div>

          </div>
        </form>
      </div>
    </div>
  </div>
</div>
