<div class="addEditCourse_main_container">
    <!-- <div class="backaddcou" style="position:fixed;right: 2%;top:76px;z-index: 1031;">
        <div class="" *ngIf="batchDetails">
            <button type="submit" class="back_button" (click)="back()">Back</button>
        </div>
        <div class="" *ngIf="batchSession">
            <button type="submit" class="back_button" (click)="back()">Back</button>
        </div>
        <div class="" *ngIf="batchEnrol">
            <button type="button" class="constantbtn-button-blue-left" *ngIf="!showEnrolpage" (click)="saveEnrol()">Enrol</button>
            <button type="button" class="constantbtn-button-blue-right" *ngIf="!showBulkpage " (click)="bulkEnrol()">Bulk Enrol</button>
            <button type="submit" class="back_button" *ngIf="!showEnrolpage && !showBulkpage" (click)="back()">Back</button>
            <button type="button" class="back_button" *ngIf="showEnrolpage || showBulkpage" (click)="backToEnrol()">Back</button>

        </div>
        <div class="" *ngIf="batchNotification">
            <button type="submit" class="back_button" (click)="back()">Back</button>
        </div>
        <div class="" *ngIf="batchRewards">
            <button type="submit" class="back_button" (click)="back()">Back</button>

        </div>
        <div class="" *ngIf="batchWorkflow">
            <button type="submit" class="back_button">Back</button>
        </div>
        <div class="" *ngIf="batchCosting">
            <button type="submit" class="back_button" (click)="back()">Back</button>
        </div>
    </div> -->

    <app-subheader [headerConfig]="header" (btnthree)="bulkEnrol()" (btntwo)="saveEnrol()" (backClick)="back()" (btnfour)="passData('savennext')" (btnfive)="passData('modules')" (comeBack)="backToAsset($event)" (btnsix)="passData('save')" (btnseven)="passData('cancel')"
        (btneight)="passData('notif')" (btnine)="passData('rewards')" (sameComp)='passData("closeMod")' (btnten)="passData('slot')" (sameComp)='passData("cancel")'></app-subheader>


    <nb-tabset class="custom_tabset courseTabset" (changeTab)="selectedTab($event)">
        <nb-tab tabTitle="Details" [active]="batchDetails" class="courseDetailsTab">
            <div class="row m0 formGen">
                <div class="col-md-12 stretch-card formGenCardCourse">
                    <div class="card cardForm">
                        <div class="card-body padding0 cardBody">
                            <div class="courseDetails">
                                <course-details (savennext)="passData('cancel')" [inpdata]="isdata"></course-details>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nb-tab>

        <nb-tab tabTitle="Sessions" [active]="batchSession" class="courseMoudulesTab disabled">
            <div class="row m0 formGen">
                <div class="col-md-12 grid-margin stretch-card formGenCardCourse">
                    <div class="card cardForm">
                        <div class="card-body padding0 cardBody" style="height: 100vh;">
                            <div class="courseModules" *ngIf="batchSession">
                                <batch-modules (addAct)="onActevent($event)" (editm)="setHeader($event)" (editev)="passEData()" (closeAct)='oncancelAct()' (cancelm)="passData('cancel')" [inpdata]="isdata"></batch-modules>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nb-tab>

        <nb-tab tabTitle="Notification" [active]="batchNotification" class="courseMoudulesTab disabled">
            <div class=" m0">
                <div class="col-md-12 grid-margin stretch-card formGenCardCourse">
                    <div class="card cardForm">
                        <div class="card-body  cardBody" style="height: 80vh;">
                            <div class="courseModules">
                                <div *ngIf="batchNotification">
                                    <batch-notification [inpdata]="isdata"></batch-notification>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nb-tab>
        <nb-tab tabTitle="Enrol" [active]="batchEnrol" class="courseEnrolTab">
            <!-- <p>List of <strong>transactions</strong>.</p> -->
            <div class="row m0 formGen">
                <div class="col-md-12 grid-margin stretch-card formGenCardCourse">
                    <div class="card cardForm">
                        <div class="card-body enrolCardBody">
                            <!-- padding0 <h4 class="card-title">Enrol Details</h4> -->

                            <!-- <p class="card-description cardDesc"></p> -->
                            <div style="width: 100%;">
                                <!-- <course-enrolment></course-enrolment> -->
                                <div class="" style="padding: 1.25rem;width: 100%;" *ngIf="!showEnrolpage  && !showBulkpage">
                                    <div class="col-md-12 manEnrolSrchDiv" >
                                        <input type='text' class="manEnrolSearchUsr searchInput" placeholder='Search user...' (keyup)='searchEnrolUser($event)' [(ngModel)]="searchvalue.value" name="fname" />
                                        <div class="text-left"><i class="fa fa-remove searchRemove" (click)="clearesearch()"></i></div>
                                    </div>
                                    <div class="tableList col-md-12" *ngIf='!nodata'>
                                        <div class="tableCompo">
                                            <ngx-enrol-table [pagination]="true" [label]="labels" [tableData]="rows" (clickOnbutton)=visibilityTableRow($event)></ngx-enrol-table>
                                            <div style="padding: 10px" *ngIf='rows.length'>
                                                <div>Total: {{ rows.length }}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <ngx-no-data [config]="noDataVal" *ngIf="nodata"></ngx-no-data>
                                </div>
                                <!-- <div class="" style="width: 100%;" *ngIf="!showEnrolpage  && !showBulkpage">
                                    <div class="col-md-12">
                                        <ngx-datatable #myTable style="width: 100%" class="material" [rows]="rows" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="30" [rowHeight]="50" [limit]="9" [scrollbarV]="true" [selected]="selected" [selectionType]="'checkbox'" [selectAllRowsOnPage]="false"
                                            [displayCheck]="displayCheck" (activate)="onEnrolDataClickEvent($event)" (select)='onSelectEnrolData($event)' (page)="onPageEnrolData($event)"> -->

                                <!-- <ngx-datatable-column [width]="30" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false" [headerCheckboxable]="true" [checkboxable]="true"> -->
                                <!-- <ngx-datatable-column [width]="50" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false" [headerCheckboxable]="true" [checkboxable]="true">
                                        </ngx-datatable-column> -->

                                <!-- Column Templates -->
                                <!-- <ngx-datatable-column
                                [width]="50"
                                [resizeable]="false"
                                [sortable]="false"
                                [draggable]="false"
                                [canAutoResize]="false"
                                [headerCheckboxable]="true"
                                [checkboxable]="true">
                                <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                                  <a
                                    href="#"
                                    [class.datatable-icon-right]="!expanded"
                                    [class.datatable-icon-down]="expanded"
                                    title="Expand/Collapse Row"
                                    (click)="toggleExpandRow(row)"
                                    class="desktop-hidden">
                                  </a>
                                </ng-template>
                              </ngx-datatable-column> -->

                                <!-- [scrollbarV]="true" [columns]="columns" [rowHeight]="'auto'" -->
                                <!-- <ngx-datatable-column name="Name">{{value}}</ngx-datatable-column>
                              <ngx-datatable-column name="Gender">{{value}}</ngx-datatable-column>
                              <ngx-datatable-column name="Company">{{value}}</ngx-datatable-column>
                              <ngx-datatable-column name="Age">{{value}}</ngx-datatable-column> -->
                                <!--
                                            <ngx-datatable-column prop="ecn" name="EMP CODE"></ngx-datatable-column>
                                            <ngx-datatable-column prop="fullname" name="FULLNAME"></ngx-datatable-column>
                                            <ngx-datatable-column prop="emailId" name="EMAIL"></ngx-datatable-column>
                                            <ngx-datatable-column prop="phoneNo" name="MOBILE"></ngx-datatable-column>
                                            <ngx-datatable-column prop="enrolDate" name="DOE"></ngx-datatable-column>
                                            <ngx-datatable-column prop="enrolmode" name="MODE"></ngx-datatable-column> -->

                                <!-- <ngx-datatable-column [width]="30" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false"> -->
                                <!-- <ngx-datatable-column [width]="50" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                                                <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                                                    <a class="deleteUserIcon" title="Delete User">
                                                        <i title="Enabled" class="fa fa-eye card-footer-icon pointer" aria-hidden="true" (click)="disableCourseVisibility(i,row,0)" *ngIf="row.visible == 1"></i>
                                                        <i title="Disabled" class="fa fa-eye-slash card-footer-icon pointer" aria-hidden="true" (click)="disableCourseVisibility(i,row,1)" *ngIf="row.visible==0"></i>
                                                    </a>
                                                </ng-template>
                                            </ngx-datatable-column>
                                            <ngx-datatable-footer>
                                                <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize" let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset">
                                                    <div style="padding: 5px 10px">
                                                        <div><strong>Summary</strong>: Gender: Female</div> -->
                                <!-- <hr style="width:100%" /> -->
                                <!-- <div>Total: {{ rowCount }}</div>
                                                    </div>
                                                </ng-template>
                                            </ngx-datatable-footer>
                                        </ngx-datatable>
                                    </div>
                                </div>  -->

                                <div *ngIf="showEnrolpage && !showBulkpage" class="subMenu">
                                    <!-- <div *ngIf="!rows" class="subMenu"> -->
                                    <batch-enrolment></batch-enrolment>
                                </div>

                                <div *ngIf="showBulkpage && !showEnrolpage " class="subMenu">
                                    <!-- <div *ngIf="!rows" class="subMenu"> -->

                                    <div class="col-md-12 grid-margin stretch-card" *ngIf="!preview">
                                        <div class="">
                                            <div class="card-body enrolCardBody">
                                                <div class="col-12 margin10 ">
                                                    <div class="form-group inputenup">
                                                        <label class="sr-only" for="inputFile">File Upload</label>
                                                        <input type="file" #fileUpload class="form-control-file text-success font-weight-bold " id="inputFile" accept=".xls,.xlsx" (change)="readFileUrl($event)" attr.data-title="{{fileName}}">
                                                    </div>
                                                    <span></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <!-- <div class="col-sm-12">

                              </div> -->
                                    <!-- <div class="col-sm-12" >

                                  </div> -->
                                    <div class="col-md-12 grid-margin stretch-card" *ngIf="preview">
                                        <div class="card cardForm">
                                            <div class="card-body enrolCardBody">
                                                <div class="col-12 margin10 ">
                                                    <ngx-datatable #previewTable style="width: 100%" class="material" [rows]="datasetPreview" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="30" [rowHeight]="50" [limit]="9" [scrollbarV]="true" [selected]="selected" [selectAllRowsOnPage]="false"
                                                        [displayCheck]="displayCheck">
                                                        <ngx-datatable-column prop="status" name="STATUS"></ngx-datatable-column>
                                                        <ngx-datatable-column prop="ecn" name="EMP CODE"></ngx-datatable-column>
                                                        <ngx-datatable-column prop="fullname" name="FULLNAME"></ngx-datatable-column>
                                                        <ngx-datatable-column prop="enrolDate" name="ENROL Date"></ngx-datatable-column>

                                                    </ngx-datatable>
                                                    <span></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="centerAlign" >

                                </div> -->
                                    <div class="text-center ml-2 mb-4">
                                        <button type="button" class="constantbtn-button-blue-left" *ngIf="preview" (click)="savebukupload()">Save</button>
                                        <a href="assets/images/bulkenrolfinal.xlsx" *ngIf="!enableUpload" download>
                                            <button class="constantbtn-button-blue-right"><i class="fas fa-download"></i>Template</button></a>

                                        <button type="button" *ngIf="!preview && enableUpload" class="constantbtn-button-blue-right" (click)="savebukupload()">Upload</button>
                                        <button type="button" *ngIf="!preview && enableUpload" class="constantbtn-button-blue-right" (click)="cancel()">Cancel</button>
                                        <button class="constantbtn-button-blue-right" *ngIf="showInvalidExcel" (click)="exportToExcelInvalid()"><i class="fas fa-download"></i> Enrollment Status</button>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </nb-tab>



        <nb-tab tabTitle="Rewards" [active]="batchRewards" class="courseMoudulesTab disabled">
            <div class="row m0 formGen">
                <div class="col-md-12 grid-margin stretch-card formGenCardCourse">
                    <div class="card cardForm">
                        <div class="card-body padding0 cardBody" style="height: 80vh;">
                            <div class="courseModules" *ngIf="batchRewards">
                                <batch-rewards [inpdata]="isdata"></batch-rewards>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nb-tab>
        <!-- <nb-tab tabTitle="Chat" [active]="barchChat" class="courseMoudulesTab disabled">
        <div class="row m0 formGen" >
            <div class="col-md-12 grid-margin stretch-card formGenCardCourse">
                <div class="card cardForm">
                    <div class="card-body padding0 cardBody">
                        <div class="courseModules" *ngIf="barchChat">
                            <batch-chat></batch-chat>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nb-tab>
    <nb-tab tabTitle="Workflow" [active]="batchWorkflow" class="courseMoudulesTab disabled">
        <div class="row m0 formGen" >
            <div class="col-md-12 grid-margin stretch-card formGenCardCourse">
                <div class="card cardForm">
                    <div class="card-body padding0 cardBody">
                        <div class="courseModules" *ngIf="batchWorkflow">
                            <batch-workflow></batch-workflow>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nb-tab> -->
        <nb-tab tabTitle="Costing" [active]="batchCosting" class="courseMoudulesTab disabled">
            <div class="row m0 formGen">
                <div class="col-md-12 grid-margin stretch-card formGenCardCourse">
                    <div class="card cardForm">
                        <div class="card-body padding0 cardBody">
                            <div class="courseModules" *ngIf="batchCosting">
                                <batch-costing [inpdata]="isdata"></batch-costing>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nb-tab>


    </nb-tabset>

    <!-- <div class="addSelfDemoModal2">
        <div class="modal-header">
            <p>Add Notifications</p>
            <button class="close " aria-label="Close" (click)="closeEngageModal()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="modal-body">
            <form class="forms-sample col-md-12" style="color: #000;">
                <div class="row">

                    <div class="form-group col-md-6">
                        <label class="left_space">Name</label>
                        <input type="text" class="form-control form-control-input inputText" placeholder="Enter name"
                            name="Name" required>
                    </div>

                    <div class="form-group col-md-6">
                        <label class="left_space">Decription</label>
                        <input type="text" class="form-control form-control-input inputText"
                            placeholder="Enter decription" name="Name" required>
                    </div>

                </div>

                <div class="row">

                    <div class="form-group col-md-12 ">
                        <label class="left_space">Modes</label><br>

                        <label class="sqrCheckBoxengage col-md-4">
                            <input id="sms" type="checkbox">
                            <label class="sqrCheckBoxengageLabel" for="sms"></label> SMS
                        </label>

                        <label class="sqrCheckBoxengage col-md-4">
                            <input id="email" type="checkbox">
                            <label class="sqrCheckBoxengageLabel " for="email"></label> Email
                        </label>

                        <label class="sqrCheckBoxengage col-md-4">
                            <input id="notify" type="checkbox">
                            <label class="sqrCheckBoxengageLabel" for="notify"></label> App
                        </label>

                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-12">
                        <label class="left_space">Methods</label>
                        <select class="form-control input select_field_height" [(ngModel)]="selectMethod" name="dropdown"
                            (click)="onChange(selectMethod)" style="">
                            <option value="Date">Date</option>
                            <option value="Event">Event</option>
                        </select>


                        <div [hidden]="selectMethod != 'Date'">
                            <div class="row">
                                <div class="col-xs-12 col-12 col-sm-4 form-group padding0" style="">
                                    <label class="left_space">Date</label>
                                    <input type="text" class="form-control datePickerInput" [minDate]="minDate"
                                        [maxDate]="maxDate" #dp="bsDatepicker" bsDatepicker [(bsValue)]="myDateValue"
                                        [bsConfig]="bsConfig" placement="top">
                                </div>
                                <div class="col-xs-12 col-12 col-sm-8 form-group calenderBtnDiv" style="">
                                    <button class="openDatepicker" (click)="dp.toggle()"
                                        [attr.aria-expanded]="dp.isOpen">
                                        <i class="ion-calendar calenderIcon"></i>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div [hidden]="selectMethod != 'Event'">
                            <div class="row">
                                <label class="left_space">Event</label>
                                <select class="form-control" name="dropdown2" [(ngModel)]="enterDays"
                                    (change)="onChange(enterDays)" style="height:34px !important;">
                                    <option value="">On course enrolment</option>
                                    <option value="nDays">n days before completion</option>
                                    <option value="">On Course completion</option>
                                </select>

                            </div>
                        </div>

                        <div [hidden]="enterDays !='nDays' || selectMethod == 'Date' " class="daysInputNo">
                            <div class="row enterDaysDiv">
                                <label for="enterDays">Enter Days</label>
                                <input type="number" class="form-control form-control-input " id="enterDays" min="0"
                                    max="365">
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </div>

        <div class="modal-footer">
            <button type="button" class="constantbtn-button-blue-left" (click)="closeEngageModal()">Save</button>
        </div>
    </div> -->