<div class="blended_gamification">

  <div>
    <button class="constantbtn-button-blue-left" (click)="saveLaddersForCoures()">submit</button>
  </div>

  <div class="row col-md-12 catrow">
  
    <div *ngFor="let ladders of ladder ; let i=index" class="card col-md-3">
      <div [ngClass]="{'activeLadders': ladders.activate == true}">
        <div (click)="setActiveSelectedLadders(i, ladders)">
            <div>
                <a *ngIf="!ladders.ico" style="cursor: pointer;">
                  <img src='assets/images/courseicon.jpg'>
                </a>
                <a *ngIf="ladders.ico" style="cursor: pointer;">
                  <img src={{ladders.ico}}>
                </a>
              </div>
          
              <div>
                <div>
                  <p class="toolcatp1 tooltip1">{{ladders.ladderName}}</p>
                </div>
              </div>
        </div>
        
      </div>
    </div>
</div>

</div>

<!-- <div class="col-md-12 ladderContainer">
    <ul class="myladder">
        <li *ngFor="let ladders of ladder"  id="ladder-list">
            <h4 class="card-title ladderHeadings">
              <label class="mysqrcheck sqrCheckBoxLadder pointer width100">
                <input id="mEnrol-{{ ladders.ladderId }}" type="checkbox" name="manualEnrol-{{ ladders.ladderId }}" class="marginRight5px" (click)=onClickCheckbox(ladders.ladderId)>
                <label class="sqrCheckBoxLadderLabel" for="mEnrol-{{ ladders.ladderId }}"></label>
                  {{ ladders.ladderName }}
                  
              </label>
            </h4>  
        </li>    
    </ul>
</div> -->



  

       
      
