<div class="treee-folder pl-2" [ngClass]="{'pl-2': !showCheckedBox}">
    <ul class="m-0"  [ngClass]="{'pl-left-6': !showCheckedBox, 'p-0': showCheckedBox}">
        <span *ngFor="let tree of trees;">
          <!-- [ngClass]="{'activeSelected': tree.showActive && showCurrentSelected }" -->
            <li class="cursor-p" [ngClass]="{'activeSelected':showCurrentSelected && tree?.id == selectedItem?.id, 'activateSelectedActive' :   showCurrentSelected }">
                <span class="d-flex align-items-center">
                  <ng-container *ngIf="showCheckedBox">
                    <div class="checkbox-inline d-flex align-items-center w-100">
                      <input class="form-check-input" [checked]="tree?.checkBoxChecked" type="checkbox" (click)="checkAllChild(tree)">
                      <label class="form-check-label d-flex align-items-center w-100" >
                        <ng-container>
                          <i *ngIf="!tree.expand" class="fas fa-caret-right pr-2" (click)="openFolder(tree)"></i>
                          <i *ngIf="tree.expand" class=" fas fa-sort-down pr-2" (click)="openFolder(tree)"></i>
                          <i *ngIf="!tree.expand" class="fas fa-folder folder-icon"></i>
                          <i *ngIf="tree.expand" class="far fa-folder-open folder-icon"></i>
                      </ng-container>
                      <label [ngClass]="{'tree-name': !tree.children?.length }" class="folder-name cursor-p"title={{tree.categoryName}}
                          (click)="getFolder(tree)">{{tree.categoryName}}</label>
                      </label>
                    </div>

                  </ng-container>
                  <ng-container *ngIf="!showCheckedBox">
                    <ng-container>
                    <i *ngIf="!tree.expand" class="fas fa-caret-right pr-2" (click)="openFolder(tree)"></i>
                    <i *ngIf="tree.expand" class=" fas fa-sort-down pr-2" (click)="openFolder(tree)"></i>
                    <span class="blank" *ngIf="!tree.children?.length>0"></span>
                    <i *ngIf="!tree.expand" class="fas fa-folder folder-icon"></i>
                    <i *ngIf="tree.expand" class="far fa-folder-open folder-icon"></i>
                </ng-container>
                <label [ngClass]="{'tree-name': !tree.children?.length }" class="folder-name folder-name-width cursor-p"title={{tree.categoryName}}
                    (click)="getFolder(tree)">{{tree.categoryName}}</label>
                </ng-container>

                </span>
            </li>
            <app-tree [selectedItem]="selectedItem" [showCheckedBox]="showCheckedBox" [showCurrentSelected]= "showCurrentSelected" (getFolders)="getFolder($event)" [hidden]="!(tree.children && tree.expand)"
                [trees]="tree.children"></app-tree>
        </span>
    </ul>
</div>
