<!-- <input #myImageInput type="file" name="file" ngf-select ngf-pattern="'.xls,.xlsx'" 
accept=".xls,.xlsx" 
(change)="filechnage($event)"> -->
<app-subheader [headerConfig]="header" (addbtn)="folderUpload()"(backClick)="back()"></app-subheader>

<!-- <div class="col-md-12 addEditCattoprow addEditCatsticky-top">
    <div class="col-md-6">
        <h4 class="addEditCatHead">Bulk Upload</h4>
    </div>
    <div class="col-md-6 text-right pad14px">
        <button type="submit" class="back_button" (click)="back()">
        Back
      </button>
    </div>
</div> -->

<div class="col-md-12">
    <div class="uploadCard">
        <div class="col-md-12">
            <div class="form-group inputDnD">
                <label class="sr-only" for="inputFile">File Upload</label>
                <input type="file" title="{{selectFileTitle}}" #fileUpload class="form-control-file text-success font-weight-bold" id="inputFile" name="inputFile" accept=".csv,.xls,.xlsx, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                    (change)="readFileUrl($event)" attr.data-title="{{fileName}}">
                <!-- [(ngModel)]="addEditAssetForm.file" -->
            </div>
        </div>
        <div class="centerAlign">
            <button class="constantbtn-button-blue-left rightMargin" (click)="uploadSheet()">Validate</button>
            <!-- <button class="constantbtn" href="templateExelLink" download><i class="fas fa-download"></i>  Template</button> -->
            <!-- <a [href]="templateExelLink" download></a> -->
            <a href="assets/images/Asset_Upload_Template_New.xlsx" download><button class="constantbtn-button-blue-right"><i class="fas fa-download"></i>  Template</button></a>
            <!-- <a href="googleLink" download><button class="constantbtn-button-blue-right"><i class="fas fa-download"></i>  Google</button></a> -->
        </div>

    </div>


    <div class="uploadCard">
        <div class="tableCompo">
            <ngx-enrol-table [pagination]="true" [label]="labels" [tableData]="rows"></ngx-enrol-table>
        </div>
        <!-- <ngx-datatable #myTable style="width: 100%;" class="material" [rows]="rows" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [limit]="10" [selected]="selected" [selectionType]="'checkbox'" [selectAllRowsOnPage]="false">


            <ngx-datatable-column name="Asset Name" [width]=100>
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <div [title]="{{row.name}}">
                    
                        {{row.name}}
                    </div>
                </ng-template>
            </ngx-datatable-column>
            
            <ngx-datatable-column name="Category" [width]=100>
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <div [title]="{{row.category}}" >
                        {{row.category}}
                    </div>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Format" [width]=100>
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <div [title]="{{row.format}}">
                        {{row.format}}
                    </div>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Channel" [width]=100>
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <div [title]="{{row.channel}}">
                        {{row.channel}}
                    </div>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Language" [width]=100>
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <div [title]="{{row.language}}">
                        {{row.language}}
                    </div>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Valid" [width]=100>
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <div [title]="{{row.valid}}">
                        {{row.valid}}
                    </div>
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable> -->

        <div class="centerAlign" *ngIf="showInvalidExcel">
            <button class="constantbtn-button-blue-left rightMargin" (click)="exportToExcelInvalid()"><i class="fas fa-download"></i> Download</button>
            <!-- <button class="constantbtn" href="templateExelLink" download><i class="fas fa-download"></i> Template</button> -->
            <!-- <a [href]="templateExelLink" download></a> -->
            <!-- <a href="assets/images/Asset_Upload_Template.xlsx" download><button class="constantbtn-button-blue-right" href="templateExelLink" download><i class="fas fa-download"></i> Template</button></a> -->
        </div>

        <div class="text-right">
            <button class="constantbtn-button-blue-left" [disabled]="rows.length == 0" (click)="submit()">Upload</button>
        </div>
    </div>
</div>





<!-- <div>
  <label for="filepicker-button ">Add
    File<h3 class="reqField">*</h3></label>
  <button class=" fp-btn-choose cancelButton" id="filepicker-button" value="Cancel" name="userfilechoose"
    (click)="cancelFile()"><i class="fa fa-times" aria-hidden="true"></i></button>
  <div class="form-group inputFileCourse">
    <label class="sr-only" for="inputFile">File
      Upload</label>
    <input type="file" title="{{selectFileTitle}}" #fileUpload
      class="form-control-file text-success font-weight-bold" id="inputFile" name="inputFile"
      accept=".csv,.xls,.xlsx, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
      (change)="readFileUrl($event)" attr.data-title="{{fileName}}" required>
  </div>
</div> -->