<div class="survey_enrol">
    <div class="accordion" id="accordionExample">
        <div class=" manualformGen" id="manual">
            <div class="col-md-12 grid-margin stretch-card  manualformGenCard">
                <!-- formGenCard -->
                <div class="card cardForm manualCardForm">
                    <div class="card-body manualCardBody">
                        <div class="headerCard">
                            <!-- <a class="expandBtn collapsed btn btn-default btn-xs arrow_right" type="button" data-toggle="collapse" data-target="#collapseManual" aria-expanded="true" aria-controls="collapseManual" role="button">
                <i class="fa downArrow" aria-hidden="true"></i>
                <span class="sr-only">Expand/Collapse Manual</span>
              </a> -->
                            <h4 class="card-title manualTitle">
                                <label class="pointer width100">
                                    <input id="mEnrol" type="checkbox" name="manualEnrol" class="marginRight5px check"
                                        (ngModelChange)="onCheckBoxClick($event,'manual')" [(ngModel)]="enrolment.manual"
                                        data-toggle="collapse" data-target="#collapseManual" aria-controls="collapseManual">
                                    <!-- <label class="sqrCheckBoxEnrolLabel" for="mEnrol"></label > -->
                                    Manual
                                </label>
                            </h4>
                        </div>
                        <!--  class="collapse show" -->
                        <div id="collapseManual" class="collapse" aria-labelledby="collapseManual" data-parent="#accordionExample">
                            <div class="topBorderForm"></div>
                            <form class="forms-sample" class="panel-body manualContent" #userForm="ngForm">
                                <div class="form-group" style="margin-bottom: 0px">
                                    <div class="col-md-12 manualToolBar">
                                        <div class="col-md-4">
                                            <input type='text' class="manSearchUsr searchInput" [(ngModel)]="searchvalue.value" placeholder='Type to filter the users...' (keyup)='searchManEnrol($event)' name="fname" />
                                            <i class="fa fa-remove searchRemove" (click)="clearesearch()"></i>
                                            <!-- <span class="glyphicon glyphicon-remove pull-right paraRemove fa fa-times" (click)="clearesearch()" style = "position: absolute;
                                                  top: 14px;
                                                  right: 15px;
                                              "></span> -->

                                        </div>
                                        <div class="col-md-6">
                                            <!-- <angular2-multiselect [data]="dropdownListUsers" [(ngModel)]="selectedItemsUsers"
                    [settings]="dropdownSettingsUsers"
                    (onSelect)="onItemSelect($event)"
                    (onDeSelect)="OnItemDeSelect($event)"
                    (onSelectAll)="onSelectAll($event)"
                    (onDeSelectAll)="onDeSelectAll($event)"
                    name="selectedItemsUsers" ngDefaultControl>
                  </angular2-multiselect> -->

                                            <angular2-multiselect [data]="tempUsers" [(ngModel)]="selectedUsers" [settings]="settingsUsersSelDrop" (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)"
                                                name="selectedUsers" ngDefaultControl>
                                                <c-search>
                                                    <ng-template>
                                                        <input type="text" (keyup)="onSearch($event)" placeholder="Search users..." [(ngModel)]="searchvalue.value1" name="fname" />
                                                        <i class="fa fa-remove searchRemove" (click)="clear()"></i>

                                                    </ng-template>
                                                </c-search>
                                                <c-item>
                                                    <ng-template let-item="item">
                                                        <!-- <div class="col-md-12">
                                                          <div class="col-md-2">
                                                                  {{item.ecn}}
                                                          </div>
                                                          <div class="col-md-4">
                                                                  {{item.fullname}}
                                                          </div>
                                                          <div class="col-md-6">
                                                                  {{item.emailId}}
                                                          </div>
                                                      </div>   -->
                                                        <label style="color: #333;width: 150px;">{{item.ecn}}</label>
                                                        <!-- <img [src]="item.flag" style="width: 30px; border: 1px solid #efefef;margin-right: 0px;" /> -->
                                                        <label style="color: #333;width: 150px;">{{item.fullname}}</label>
                                                        <label style="color: #333;width: 150px;">{{item.emailId}}</label>
                                                    </ng-template>
                                                </c-item>
                                            </angular2-multiselect>

                                        </div>
                                        <div class="col-md-2 text-right" style="padding: 0;">
                                            <button type="submit" class="constantbtn-button-blue-left" [disable]="!selectedUsers" (click)="manEnrolUser()">Add user</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="tableList col-md-12">

                                    <div class="tableCompo ">
                                        <ngx-enrol-table [pagination]="true" [label]="labels" [tableData]="rowsManual" (clickOnbutton)=visibilityTableRowManual($event)></ngx-enrol-table>
                                    </div>
                                    <div style="padding: 10px">
                                        <div>Total: {{ rowsManual.length }}</div>
                                    </div>
                                </div>

                                <!-- <div class="form-group" style="margin-bottom: 0px">
                               
                                        <div>

                                            <ngx-datatable #tableDataManual style="width: 100%" class="material" [columns]="columnsManual" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="30" [limit]="5" [rowHeight]="50" [scrollbarV]="true" [rows]='rowsManual' [selected]="selectedManual"
                                                [selectionType]="'checkbox'" [selectAllRowsOnPage]="false" (activate)="onActivateManual($event)" (select)='onSelectManual($event)'>

                                               
                                                <ngx-datatable-column prop="ecn" name="EMP CODE"></ngx-datatable-column>
                                                <ngx-datatable-column prop="fullname" name="FULLNAME">
                                                </ngx-datatable-column>
                                                <ngx-datatable-column prop="emailId" name="EMAIL"></ngx-datatable-column>
                                                <ngx-datatable-column prop="phoneNo" name="MOBILE"></ngx-datatable-column>
                                                <ngx-datatable-column prop="enrolDate" name="DOE"></ngx-datatable-column>
                                        
                                                <ngx-datatable-column prop="enrolmode" name="MODE"></ngx-datatable-column>

                                                <ngx-datatable-column [width]="50" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                                                    
                                                    <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                                                        <a class="deleteUserIcon" title="Delete User">
                                                            <i title="Enabled" class="fa fa-eye card-footer-icon pointer" aria-hidden="true" (click)="disableCourseVisibility(i,row,0)" *ngIf="row.visible == 1"></i>
                                                            <i title="Disabled" class="fa fa-eye-slash card-footer-icon pointer" aria-hidden="true" (click)="disableCourseVisibility(i,row,1)" *ngIf="row.visible==0"></i>
                                                        </a>
                                                    </ng-template>
                                                </ngx-datatable-column>
                                                <ngx-datatable-footer>
                                                    <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize" let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset">
                                                        <div style="padding: 5px 10px">
                                                            
                                                            <div>Total: {{ rowCount }}</div>
                                                        </div>
                                                    </ng-template>
                                                </ngx-datatable-footer>
                                            </ngx-datatable>
                                        </div>
                                    </div> 
                        </div>-->
                            </form>
                        </div>
                        <!-- <course-enrolment></course-enrolment> -->
                    </div>
                </div>
            </div>
        </div>

        <div class="ruleBasedformGen" id="ruleBased">
            <div class="col-md-12 grid-margin stretch-card  ruleBasedformGenCard">
                <!-- formGenCard -->
                <div class="card cardForm ruleBasedCardForm">
                    <div class="card-body ruleBasedCardBody">
                        <div class="headerCard">
                            <!-- <a class="expandBtn collapsed btn btn-default btn-xs arrow_right" type="button" data-toggle="collapse" data-target="#collapseruleBased" aria-expanded="false" aria-controls="collapseruleBased" role="button">
                <i class="fa downArrow" aria-hidden="true"></i>
                <span class="sr-only">Expand/Collapse ruleBased</span>
              </a> -->
                            <!-- <h4 class="card-title ruleTitle">Rule Based</h4> -->
                            <h4 class="card-title ruleTitle">
                                <label class="pointer width100" style="margin-bottom: 0px;">
                                    <input id="ruleBased" type="checkbox" name="ruleBased" class="marginRight5px check"
                                        (ngModelChange)="onCheckBoxClick($event,'rule')" [(ngModel)]="enrolment.rule"
                                        data-toggle="collapse" data-target="#collapseruleBased"
                                        aria-controls="collapseruleBased">
                                    <!-- <label class="sqrCheckBoxEnrolLabel" for="ruleBased"></label> --> Rule Based
                                </label>
                            </h4>
                            <!-- <div class="col-md-3 floteright">
                <button type="submit" class="btn-default floteright" (click)="addRule()" id="editbtn">Add Rule</button>
              </div> -->
                        </div>
                        <!-- <p class="card-description cardDesc"></p>   -->
                        <div id="collapseruleBased" class="collapse" aria-labelledby="ruleBased" data-parent="#accordionExample">
                            <!-- <div class="topBorderForm"></div> -->
                            <form class="forms-sample" class="panel-body ruleBasedContent">
                                <div class="form-group" style="margin-bottom: 0px">
                                    <div class="col-md-12 manualToolBar">
                                        <div class="col-md-8">
                                            <input type='text' class="manSearchUsr searchInput" placeholder='Search rules...' (keyup)='searchRuleEnrol($event)' [(ngModel)]="searchvalue.value" name="fname" />
                                            <i class="fa fa-remove searchRemove" (click)="clearesearch()"></i>
                                        </div>
                                        <!-- <div class="col-md-7">
                    <angular2-multiselect [data]="dropdownListUsers" [(ngModel)]="selectedItemsUsers"
                    [settings]="dropdownSettingsUsers"
                    (onSelect)="onItemSelect($event)"
                    (onDeSelect)="OnItemDeSelect($event)"
                    (onSelectAll)="onSelectAll($event)"
                    (onDeSelectAll)="onDeSelectAll($event)"
                    name="selectedItemsUsers" ngDefaultControl>
                  </angular2-multiselect>
                  </div> -->
                                        <div class="col-md-4">
                                            <button type="submit" class="floteright constantbtn" (click)="openRuleModal('',0)" id="ruleBasedBtn">Add
                                                Rule</button>
                                            <!-- <button type="submit" *ngIf="enableShowRuleUsers == true" class="btn-default floteright" (click)="viewRuleUsers()" id="ruleUserBtn">Applicable Users</button> -->

                                            <!-- <div class="divActionBtn floteright" *ngIf="enableShowRuleUsers == true">
                          <div class="btn-group subActionBtnGrp">
                            <button type="button" class="btnPad0 constantbtn subActionBtn">Actions</button>
                            <button type="button" class="btnPad0 btn btn-danger dropdown-toggle dropdown-toggle-split subActionSplitBtn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <div class="dropdown-menu dropMenu subActionBtnDropMenu" aria-labelledby="dropdownMenuButton">
                              <ul class="subActionBtnDropUl">
                                <span>
                                  <li class="dropdown-item subActionBtnDropItem" (click)="openRuleModal(1)">Edit Rule</li>
                                </span>
                                <span>
                                  <li class="dropdown-item subActionBtnDropItem" (click)="viewRuleUsers()">Applicable Users</li>
                                </span>
                              </ul>
                            </div>
                          </div>
                      </div> -->

                                        </div>
                                    </div>
                                </div>
                                <div class="tableList col-md-12">

                                    <div class="tableCompo ">
                                        <ngx-enrol-table [pagination]="true" [label]="labelsRule" [tableData]="rowsRules" (clickOnbutton)="visibilityTableRowRule($event)" (clickOnicon)="editrule($event)" (clickOntext)="viewRuleUsers($event)"></ngx-enrol-table>
                                    </div>
                                    <div style="padding: 10px">
                                        <div>Total: {{ rowsRules.length }}</div>
                                    </div>
                                </div>

                                <!-- <div class="form-group" style="margin-bottom: 0px">
                                    <div class="col-md-12">
                                        <div>
                                            <ngx-datatable #tableDataRules style="width: 100%" class="material" [columns]="columnsRules" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="30" [limit]="5" [rowHeight]="50" [scrollbarV]="true" [rows]='rowsRules' [selected]="selectedRules"
                                                [selectionType]="'checkbox'" [selectAllRowsOnPage]="false" (activate)="onActivateRules($event)" (select)='onSelectRules($event)'>
                                                <ngx-datatable-column width="30">
                                                    <ng-template ngx-datatable-header-template>
                                                        <span>RULE NAME</span>
                                                    </ng-template>
                                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                                        <a class="usersCountToView" (click)="editrule(row)">
                                                            {{row.rulename}}
                                                        </a>
                                                    </ng-template>
                                                </ngx-datatable-column>
                                                <ngx-datatable-column width="30">
                                                    <ng-template ngx-datatable-header-template>
                                                        <span>DESCRIPTION</span>
                                                    </ng-template>
                                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                                        <a class="usersCountToView" (click)="editrule(row)">
                                                            {{row.description}}
                                                        </a>
                                                    </ng-template>
                                                </ngx-datatable-column>
                                                <ngx-datatable-column width="30">
                                                    <ng-template ngx-datatable-header-template>
                                                        <span>APPLICABLE USERS</span>
                                                    </ng-template>
                                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                                        <a class="usersCountToView" title="View Users" style="text-align: center;" (click)="viewRuleUsers(row)">
                                                            {{row.noOfEmp}}
                                                        </a>
                                                    </ng-template>
                                                </ngx-datatable-column>
                                                <ngx-datatable-column [width]="50" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                                                    <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                                                        <a class="deleteUserIcon" title="Delete Rule">
                                                          
                                                            <i title="Enabled" class="fa fa-eye card-footer-icon pointer" aria-hidden="true" (click)="disableRuleVisibility(i,row,0)" *ngIf="row.visible == 1"></i>
                                                            <i title="Disabled" class="fa fa-eye-slash card-footer-icon pointer" aria-hidden="true" (click)="disableRuleVisibility(i,row,1)" *ngIf="row.visible==0"></i>

                                                        </a>
                                                    </ng-template>
                                                </ngx-datatable-column>
                                                <ngx-datatable-footer>
                                                    <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize" let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset">
                                                        <div style="padding: 5px 10px">
                                                            <div>Total: {{ rowCount }}</div>
                                                        </div>
                                                    </ng-template>
                                                    </ngx-datatable-footer>
                                            </ngx-datatable>
                                        </div>
                                    </div>
                                </div> -->
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

    <div class="addRuleBackdropSurvEnrol" *ngIf="showAddRuleModal == true">
        <!-- <div class="addRuleDemoModal">
          <div class="modal-header">
            <p>Rule Enrollment</p>
            <button class="close" aria-label="Close" (click)="closeRuleModal()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body">
            <form class="forms-sample col-md-12" #ruleForm="ngForm" novalidate>
              <div class="row">
                <div class="form-group col-md-3">
                  <label for="left_space"
                    >{{ helpContent?.course_enrol?.name?.label }}
                    <sup class="reqFieldActivity">*</sup>
                    <div class="help-tooltip">
                      <i
                        class="fa fa-info-circle tooltip-hover-info-label-round"
                        aria-hidden="true"
                      ></i>
                      <div class="help-tooltip-position-right">
                        <p>
                          {{ helpContent?.course_enrol?.name?.labelHelpContent }}
                        </p>
                        <i></i>
                      </div>
                    </div>
                  </label>


                  <input
                    type="text"
                    class="form-control form-control-input inputText"
                    id="InputRName"
                    placeholder="Rule Name"
                    [(ngModel)]="ruleData.name"
                    name="name"
                    minlength="2"
                    maxlength="50"
                    #name="ngModel"
                    required
                  />
                  <div
                    class="errorMsg"
                    *ngIf="name.errors && (name.dirty || name.touched)"
                    class="alert alert-danger"
                  >
                    <div [hidden]="!name.errors.required">
                      Rule Name is required
                    </div>
                    <div [hidden]="!name.errors.minlength">
                      Minimum 2 characters required
                    </div>
                  </div>
                  <span></span>
                </div>

                <div class="form-group col-md-3">
                  <label for="left_space"
                    >{{ helpContent?.course_enrol?.description?.label }}
                    <sup class="reqFieldActivity">*</sup>
                    <div class="help-tooltip">
                      <i
                        class="fa fa-info-circle tooltip-hover-info-label-round"
                        aria-hidden="true"
                      ></i>
                      <div class="help-tooltip-position-right">
                        <p>
                          {{
                            helpContent?.course_enrol?.description?.labelHelpContent
                          }}
                        </p>
                        <i></i>
                      </div>
                    </div>
                  </label>


                  <input
                    type="text"
                    class="form-control form-control-input inputText"
                    id="InputRDesc"
                    placeholder="Rule Description"
                    [(ngModel)]="ruleData.description"
                    name="description"
                    #description="ngModel"
                    minlength="2"
                    maxlength="50"
                    required
                  />
                  <div
                    class="errorMsg"
                    *ngIf="
                      description.errors &&
                      (description.dirty || description.touched)
                    "
                    class="alert alert-danger"
                  >
                    <div [hidden]="!description.errors.required">
                      Description is required
                    </div>
                    <div [hidden]="!description.errors.minlength">
                      Minimum 2 characters required
                    </div>
                  </div>
                  <span></span>
                </div>

                <div class="form-group col-md-3">
                  <label for="left_space"
                    >{{ helpContent?.course_enrol?.rule_applicability?.label }}
                    <sup class="reqFieldActivity">*</sup>
                    <div class="help-tooltip">
                      <i
                        class="fa fa-info-circle tooltip-hover-info-label-round"
                        aria-hidden="true"
                      ></i>
                      <div class="help-tooltip-position-right">
                        <p>
                          {{
                            helpContent?.course_enrol?.rule_applicability
                              ?.labelHelpContent
                          }}
                        </p>
                        <i></i>
                      </div>
                    </div>
                  </label>

                  <select
                    id="dropRuleType"
                    class="form-control form-control-input select_field_height"
                    (change)="ruleTypeSelected($event, i, ruleField, type)"
                    [(ngModel)]="ruleData.type"
                    name="type"
                    #type="ngModel"
                    required
                  >
                    <option value="" selected disabled>Select</option>
                    <option
                      *ngFor="let type of ruleApplicType"
                      value="{{ type.id }}"
                      >{{ type.name }}</option
                    >
                  </select>
                  <div
                    *ngIf="type.errors && (type.dirty || type.touched)"
                    class="alert alert-danger"
                  >
                    <div [hidden]="!type.errors.required">
                      Rule Applicability is required
                    </div>
                  </div>
                </div>

                <div class="form-group col-md-3">
                  <label for="left_space"
                    >{{ helpContent?.course_enrol?.start_from?.label }}
                    <sup class="reqFieldActivity">*</sup>
                    <div class="help-tooltip">
                      <i
                        class="fa fa-info-circle tooltip-hover-info-label-round"
                        aria-hidden="true"
                      ></i>
                      <div class="help-tooltip-position-right">
                        <p>
                          {{
                            helpContent?.course_enrol?.start_from?.labelHelpContent
                          }}
                        </p>
                        <i></i>
                      </div>
                    </div>
                  </label>


                  <select
                    id="dropProspType"
                    class="form-control form-control-input select_field_height"
                    (change)="prospTypeSelected($event, i, ruleField, prospname)"
                    [(ngModel)]="ruleData.prospName"
                    name="prospname"
                    #sfrom="ngModel"
                    required
                  >
                    <option value="" selected disabled>Select</option>
                    <option
                      *ngFor="let prospname of prospectivType"
                      value="{{ prospname.id }}"
                      >{{ prospname.name }}
                    </option>
                  </select>
                  <div
                    *ngIf="sfrom.errors && (sfrom.dirty || sfrom.touched)"
                    class="alert alert-danger"
                  >
                    <div [hidden]="!sfrom.errors.required">
                      Start from is required
                    </div>
                  </div>
                </div>

                <div
                  class="form-group col-md-3"
                  *ngIf="this.ruleData.prospName == 3"
                >
                  <label for="left_space"
                    >{{ helpContent?.course_enrol?.custom_date?.label }}
                    <sup class="reqFieldActivity">*</sup>
                    <div class="help-tooltip">
                      <i
                        class="fa fa-info-circle tooltip-hover-info-label-round"
                        aria-hidden="true"
                      ></i>
                      <div class="help-tooltip-position-right">
                        <p>
                          {{
                            helpContent?.course_enrol?.custom_date?.labelHelpContent
                          }}
                        </p>
                        <i></i>
                      </div>
                    </div>
                  </label>


                  <input
                    type="text"
                    class="form-control datePickerInput"
                    [minDate]="nextDay"
                    [maxDate]="maxDate"
                    id="Value"
                    [(ngModel)]="ruleData.value"
                    name="value"
                    #cdate="ngModel"
                    #dp="bsDatepicker"
                    bsDatepicker
                    [bsConfig]="{
                      containerClass: 'theme-dark-blue',
                      dateInputFormat: 'DD-MM-YYYY'
                    }"
                    placement="bottom"
                    required
                  />
                  <div
                    *ngIf="cdate.errors && (cdate.dirty || cdate.touched)"
                    class="alert alert-danger"
                  >
                    <div [hidden]="!cdate.errors.required">
                      Date is required
                    </div>
                  </div>
                </div>


                <div class="form-group col-md-3 text-right" style="top: 23px;">
                  <button
                    type="submit"
                    class="constantbtn-button-blue-left"
                    (click)="addRuleList()"
                    [disabled]="!ruleForm.valid"
                  >
                    Add Rule
                  </button>
                  <span></span>
                </div>
              </div>
              <div class="row" *ngIf="this.ruleData.type"></div>

              <div class="row rulesDiv" *ngIf="profileFieldSelected == true">
                <div
                  class="rules-row col-md-12"
                  *ngFor="let item of ruleData.profiles; let i = index"
                >
                  <div class="form-group col-md-6">

                    <select
                      [id]="'dropRuleType' + i "
                      class="form-control form-control-input select_field_height"
                      #temprulefield = "ngModel"
                      [name]="'dropRuleType_' + i"
                      [(ngModel)]="item.field"
                      ngDefaultControl
                      (change)="
                        ruleFieldTypeSelected($event, i, item);
                        callRuleFieldType($event, i, 2)
                      "
                      required
                    >
                      <option value="" selected disabled>Select Type</option>
                      <option
                        *ngFor="let ruleField of profileFields" [disabled]="ruleField.selected == 'true'"
                        value="{{ ruleField.id }}"
                      >
                        {{ ruleField.name }}</option
                      >
                    </select>
                    <div *ngIf="temprulefield.errors && (temprulefield.dirty || temprulefield.touched)" class="alert alert-danger">
                                        <div [hidden]="!temprulefield.errors.required">Type is required</div>
                                    </div>

                    <span></span>
                  </div>

                  <div
                    class="form-group col-md-5"
                    *ngIf="controlList[i].datatype == 'text'"
                  >
                    <input
                      type="text"
                      class="form-control form-control-input inputText"
                      [id]="'inputText_' + i "
                      placeholder="Input Text"
                      [name]="'fieldTypeValues_' + i"
                      [(ngModel)]="item.fieldValues"
                      #fieldValues ="ngModel"
                      required
                    />
                    <div
                      *ngIf="
                      fieldValues.errors &&
                        (fieldValues.dirty || fieldValues.touched)
                      "
                      class="alert alert-danger"
                    >
                      <div [hidden]="!fieldValues.errors.required">
                        Input required
                      </div>
                    </div>
                    <span></span>
                  </div>

                  <div
                    class="form-group col-md-5"
                    *ngIf="controlList[i].datatype == 'textarea'"
                  >
                    <input
                      type="text"
                      class="form-control form-control-input inputText"
                      [id]="'inputText_' + i "
                      placeholder="Input Text"

                      [name]="'fieldTypeValues_' + i"
                      [(ngModel)]="item.fieldValues"
                      #fieldValues ="ngModel"
                      required
                    />
                    <div
                      *ngIf="
                      fieldValues.errors &&
                        (fieldValues.dirty || fieldValues.touched)
                      "
                      class="alert alert-danger"
                    >
                      <div [hidden]="!fieldTypeValues.errors.required">
                        Input required
                      </div>
                    </div>
                    <span></span>
                  </div>

                  <div
                    class="form-group col-md-5"
                    *ngIf="controlList[i].datatype == 'number'"
                  >
                    <input
                      type="number"
                      class="form-control form-control-input inputText"
                      [id]="'inputText_' + i "
                      placeholder="Input Text"

                      [name]="'fieldTypeValues_' + i"
                      [(ngModel)]="item.fieldValues"
                      #fieldValues ="ngModel"
                      required
                    />
                    <div
                      *ngIf="
                      fieldValues.errors &&
                        (fieldValues.dirty || fieldValues.touched)
                      "
                      class="alert alert-danger"
                    >
                      <div [hidden]="!fieldValues.errors.required">
                        Input required
                      </div>
                    </div>
                    <span></span>
                  </div>

                  <div
                    class="form-group col-md-5"
                    *ngIf="controlList[i].datatype == 'menu'"
                  >
                    <angular2-multiselect
                      [data]="controlList[i].subtype"
                      [(ngModel)]="item.fieldValuesArr"
                      [settings]="settings"
                      (onSelect)="onItemSelectRule($event, i, item)"
                      (onDeSelect)="OnItemDeSelectRule($event, i, item)"
                      (onSelectAll)="onSelectAllRule($event, i, item)"
                      (onDeSelectAll)="onDeSelectAllRule($event, i, item)"
                      [name]="'fieldTypeValues_' + i"
                      [id]="'fieldTypeValues_' + i"
                      [value]="item.fieldValuesArr"
                      #fieldValuesArr ="ngModel"
                      ngDefaultControl
                      required
                    >
                      <c-item>
                        <ng-template let-item="item">
                          <label>{{ item.name }}</label>
                        </ng-template>
                      </c-item>
                    </angular2-multiselect>
                    <div
                      *ngIf="
                      fieldValuesArr.errors &&
                        (fieldValuesArr.dirty || fieldValuesArr.touched)
                      "
                      class="alert alert-danger"
                    >
                      <div [hidden]="!fieldValuesArr.errors.required">
                        Input required
                      </div>
                    </div>
                  </div>

                  <div
                    class="form-group col-md-5"
                    *ngIf="controlList[i].datatype == 'datetime'"
                  >

                    <input
                      placeholder="Select date:"
                      class="form-control datePickerInput"
                      [style.width]="'350px'"
                      [max]="maxDate"
                      [bsConfig]="{
                        containerClass: 'theme-dark-blue',
                        dateInputFormat: 'DD-MM-YYYY'
                      }"
                      [selectMode]="'range'"
                      [owlDateTimeTrigger]="dtRange2"
                      [owlDateTime]="dtRange2"
                      [name]="'fieldTypeValues_' + i"
                      [id]="'fieldTypeValues_' + i"
                      [(ngModel)]="item.fieldValues"
                      [value]="item.fieldValues"
                      ngDefaultControl
                      #fieldValues ="ngModel"
                      required
                    />

                 <owl-date-time
                      [pickerType]="'calendar'"
                      #dtRange2
                    ></owl-date-time>
                    <div
                      *ngIf="
                        fieldValues.errors &&
                        (fieldValues.dirty || fieldValues.touched)
                      "
                      class="alert alert-danger"
                    >
                      <div [hidden]="!fieldValues.errors.required">
                        Input required
                      </div>
                    </div>
                    <span></span>
                  </div>

                  <div class="form-group col-md-1">
                    <span
                      class="glyphicon glyphicon-remove pull-right paraRemove fa fa-times"
                      *ngIf="ruleData.profiles.length > 1"
                      (click)="removeRuleList(i)"
                    ></span>
                  </div>
                </div>
              </div>
            </form>
          </div>

          <div class="modal-footer text-right">
            <button
              type="button"
              class="constantbtn-button-blue-left"
              [disabled]="!ruleData.profiles.length"
              (click)="saveRule($event, ruleForm)"
            >
              Save
            </button>

          </div>
        </div> -->
        <div class="addRuleDemoModal">
            <div class="modal-header">
                <p>Rule Enrollment</p>
                <button class="close" aria-label="Close" (click)="closeRuleModal()">
              <span aria-hidden="true">&times;</span>
            </button>
            </div>

            <div class="modal-body rulesDiv">
                <form class="forms-sample " #ruleForm="ngForm" novalidate>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="left_space">{{ helpContent?.course_enrol?.name?.label }}
                    <sup class="reqFieldActivity">*</sup>
                    <div class="help-tooltip">
                      <i
                        class="fa fa-info-circle tooltip-hover-info-label-round"
                        aria-hidden="true"
                      ></i>
                      <div class="help-tooltip-position-right">
                        <p>
                          {{ helpContent?.course_enrol?.name?.labelHelpContent }}
                        </p>
                        <i></i>
                      </div>
                    </div>
                  </label>

                            <!-- <label class="left_space" for="InputRName">Name
                    <sup class="reqFieldActivity">*</sup>
                  </label> -->
                            <input type="text" class="form-control form-control-input inputText" id="InputRName" placeholder="Rule Name" [(ngModel)]="ruleData.name" name="name" minlength="2" maxlength="50" #name="ngModel" required />
                            <div class="errorMsg" *ngIf="name.errors && (name.dirty || name.touched)" class="alert alert-danger">
                                <div [hidden]="!name.errors.required">
                                    Rule Name is required
                                </div>
                                <div [hidden]="!name.errors.minlength">
                                    Minimum 2 characters required
                                </div>
                            </div>
                            <span></span>
                        </div>

                        <div class="form-group col-md-6">
                            <label for="left_space">{{ helpContent?.course_enrol?.description?.label }}
                    <sup class="reqFieldActivity">*</sup>
                    <div class="help-tooltip">
                      <i
                        class="fa fa-info-circle tooltip-hover-info-label-round"
                        aria-hidden="true"
                      ></i>
                      <div class="help-tooltip-position-right">
                        <p>
                          {{
                            helpContent?.course_enrol?.description?.labelHelpContent
                          }}
                        </p>
                        <i></i>
                      </div>
                    </div>
                  </label>

                            <!-- <label class="left_space" for="InputRDesc">Description
                    <sup class="reqFieldActivity">*</sup>
                  </label> -->
                            <input type="text" class="form-control form-control-input inputText" id="InputRDesc" placeholder="Rule Description" [(ngModel)]="ruleData.description" name="description" #description="ngModel" minlength="2" maxlength="50" required />
                            <div class="errorMsg" *ngIf="
                      description.errors &&
                      (description.dirty || description.touched)
                    " class="alert alert-danger">
                                <div [hidden]="!description.errors.required">
                                    Description is required
                                </div>
                                <div [hidden]="!description.errors.minlength">
                                    Minimum 2 characters required
                                </div>
                            </div>
                            <span></span>
                        </div>
                    </div>
                    <div class="row">


                        <div class="form-group col-md-4">
                            <label for="left_space">{{ helpContent?.course_enrol?.rule_applicability?.label }}
                    <sup class="reqFieldActivity">*</sup>
                    <div class="help-tooltip">
                      <i
                        class="fa fa-info-circle tooltip-hover-info-label-round"
                        aria-hidden="true"
                      ></i>
                      <div class="help-tooltip-position-right">
                        <p>
                          {{
                            helpContent?.course_enrol?.rule_applicability
                              ?.labelHelpContent
                          }}
                        </p>
                        <i></i>
                      </div>
                    </div>
                  </label>

                            <select id="dropRuleType" class="form-control form-control-input select_field_height" (change)="ruleTypeSelected($event, i, ruleField, type)" [(ngModel)]="ruleData.type" name="type" #type="ngModel" required>
                    <option value="" selected disabled>Select</option>
                    <option
                      *ngFor="let type of ruleApplicType"
                      value="{{ type.id }}"
                      >{{ type.name }}</option
                    >
                  </select>
                            <div *ngIf="type.errors && (type.dirty || type.touched)" class="alert alert-danger">
                                <div [hidden]="!type.errors.required">
                                    Rule Applicability is required
                                </div>
                            </div>
                        </div>
                        <!-- new  enrol menu  start--->
                        <!-- <div class="form-group col-md-3">
                  <label for="left_space"> Enrol date
                      <sup class="reqFieldActivity">*</sup>
                      <div class="help-tooltip">
                        <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                        <div class="help-tooltip-position-right">
                          <p>Enrol date</p>
                          <i></i>
                        </div>
                      </div>
                    </label>

                    <label class="left_space" for="dropProspType"> Starts From
                        <sup class="reqFieldActivity">*</sup>
                    </label>
                    <select id="dropenroltype" class="form-control form-control-input select_field_height"
                        (change)="enroldatetype($event,i,ruleField, ruleenroldate)" [(ngModel)]="ruleData.enroltype"
                        name="ruleenroldate" #rdate="ngModel" required>
                        <option value="" selected disabled>Select</option>
                        <option *ngFor="let prospname of ruledate" value={{prospname.id}}>{{prospname.name}}
                        </option>
                    </select>
                    <div *ngIf="rdate.errors && (rdate.dirty || rdate.touched)" class="alert alert-danger">
                        <div [hidden]="!rdate.errors.required">Starts from field is required</div>
                    </div>
                </div>
                <div class="form-group col-md-3" *ngIf="this.ruleData.enroltype == 3">
                    <label for="left_space">Date of joining
                        <div class="help-tooltip">
                          <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                          <div class="help-tooltip-position-right">
                            <p>{{helpContent?.course_enrol?.custom_date?.labelHelpContent}}</p>
                            <i></i>
                          </div>
                        </div>
                      </label>


                    <label class="left_space" for="Value"> Custom Date </label>
                    [minDate]="minDate"
                    <input type="text" class="form-control datePickerInput" [minDate]="nextDay" [maxDate]="maxDate"
                        id="Value" [(ngModel)]="ruleData.enroldate" name="value" #dp="bsDatepicker" bsDatepicker
                        [bsConfig]="{ containerClass: 'theme-dark-blue' }" placement="bottom">
                </div> -->
                        <!--- new enrol date End----->
                        <!-- *ngIf="this.ruleData.type == 2" -->
                        <div class="form-group col-md-3">
                            <label for="left_space">{{ helpContent?.course_enrol?.start_from?.label }}
                    <sup class="reqFieldActivity">*</sup>
                    <div class="help-tooltip">
                      <i
                        class="fa fa-info-circle tooltip-hover-info-label-round"
                        aria-hidden="true"
                      ></i>
                      <div class="help-tooltip-position-right">
                        <p>
                          {{
                            helpContent?.course_enrol?.start_from?.labelHelpContent
                          }}
                        </p>
                        <i></i>
                      </div>
                    </div>
                  </label>

                            <!-- <label class="left_space" for="dropProspType"> Start From
                    <sup class="reqFieldActivity">*</sup>
                  </label> -->
                            <select id="dropProspType" class="form-control form-control-input select_field_height" (change)="prospTypeSelected($event, i, ruleField, prospname)" [(ngModel)]="ruleData.prospName" name="prospname" #sfrom="ngModel" required>
                    <option value="" selected disabled>Select</option>
                    <option
                      *ngFor="let prospname of prospectivType"
                      value="{{ prospname.id }}"
                      >{{ prospname.name }}
                    </option>
                  </select>
                            <div *ngIf="sfrom.errors && (sfrom.dirty || sfrom.touched)" class="alert alert-danger">
                                <div [hidden]="!sfrom.errors.required">
                                    Start from is required
                                </div>
                            </div>
                        </div>
                        <!-- && this.ruleData.type != 1 -->
                        <div class="form-group col-md-3" *ngIf="this.ruleData.prospName == 3">
                            <label for="left_space">{{ helpContent?.course_enrol?.custom_date?.label }}
                    <sup class="reqFieldActivity">*</sup>
                    <div class="help-tooltip">
                      <i
                        class="fa fa-info-circle tooltip-hover-info-label-round"
                        aria-hidden="true"
                      ></i>
                      <div class="help-tooltip-position-right">
                        <p>
                          {{
                            helpContent?.course_enrol?.custom_date?.labelHelpContent
                          }}
                        </p>
                        <i></i>
                      </div>
                    </div>
                  </label>

                            <!-- <label class="left_space" for="Value"> Custom Date
                    <sup class="reqFieldActivity">*</sup>
                  </label> -->
                            <!-- [minDate]="minDate" -->
                            <input type="text" class="form-control datePickerInput" [minDate]="nextDay" [maxDate]="maxDate" id="Value" [(ngModel)]="ruleData.value" name="value" #cdate="ngModel" #dp="bsDatepicker" bsDatepicker [bsConfig]="{
                      containerClass: 'theme-dark-blue',
                      dateInputFormat: 'DD-MM-YYYY'
                    }" placement="bottom" required />
                            <div *ngIf="cdate.errors && (cdate.dirty || cdate.touched)" class="alert alert-danger">
                                <div [hidden]="!cdate.errors.required">
                                    Date is required
                                </div>
                            </div>
                        </div>

                        <!-- *ngIf="this.ruleData.type != 2" -->
                        <!-- <div class="form-group col-md-3 addRulebtn" *ngIf="this.ruleData.type != 2">
                            <button type="submit" class="floteright constantbtn" (click)="addRuleList()" id="editbtn" [disabled]="!ruleForm.valid">
                                Add Rule
                            </button>
                            <span></span>
                        </div> -->
                        <!-- *ngIf="this.ruleData.type != 1 && this.ruleData.type"  -->
                        <div class="form-group col-md-2 text-right align-self-baseline">
                            <button type="submit" class="constantbtn-button-blue-left" (click)="addRuleList()" [disabled]="!ruleForm.valid">
                    Add
                  </button>
                            <span></span>
                        </div>
                    </div>
                    <div class="row" *ngIf="this.ruleData.type"></div>
                    <!-- && ruleData.type != 2 -->
                    <div class="row" *ngIf="profileFieldSelected == true">
                        <div class="rules-row col-md-12" *ngFor="let item of ruleData.profiles; let i = index">
                            <div class="form-group col-md-5">
                                <!-- <select id="dropRuleType_{{ i }}" class="form-control form-control-input select_field_height" [(ngModel)]="item.field" name="fieldId_{{ i }}" #ruleId="ngModel" (change)="
                        ruleFieldTypeSelected($event, i, item);
                        callRuleFieldType($event, i)
                      " required> -->
                                <select [id]="'dropRuleType' + i " class="form-control form-control-input select_field_height" #temprulefield="ngModel" [name]="'dropRuleType_' + i" [(ngModel)]="item.field" ngDefaultControl (change)="
                        ruleFieldTypeSelected($event, i, item);
                        callRuleFieldType($event, i, 2)
                      " required>
                      <option value="" selected disabled>Select Type</option>
                      <option
                        *ngFor="let ruleField of profileFields" [disabled]="ruleField.selected == 'true'"
                        value="{{ ruleField.id }}"
                      >
                        {{ ruleField.name }}</option
                      >
                    </select>
                                <div *ngIf="temprulefield.errors && (temprulefield.dirty || temprulefield.touched)" class="alert alert-danger">
                                    <div [hidden]="!temprulefield.errors.required">Type is required</div>
                                </div>
                                <!-- <div *ngIf="ruleForm.submitted && field.invalid" class="invalid-text">
                                      <div *ngIf="field.errors.required">Type is required</div>
                                    </div> -->
                                <span></span>
                            </div>

                            <div class="form-group col-md-6" *ngIf="controlList[i].datatype == 'text'">
                                <input type="text" class="form-control form-control-input inputText" [id]="'inputText_' + i " placeholder="Input Text" [name]="'fieldTypeValues_' + i" [(ngModel)]="item.fieldValues" #fieldValues="ngModel" required />
                                <div *ngIf="
                      fieldValues.errors &&
                        (fieldValues.dirty || fieldValues.touched)
                      " class="alert alert-danger">
                                    <div [hidden]="!fieldValues.errors.required">
                                        Input required
                                    </div>
                                </div>
                                <span></span>
                            </div>

                            <div class="form-group col-md-6" *ngIf="controlList[i].datatype == 'textarea'">
                                <input type="text" class="form-control form-control-input inputText" [id]="'inputText_' + i " placeholder="Input Text" [name]="'fieldTypeValues_' + i" [(ngModel)]="item.fieldValues" #fieldValues="ngModel" required />
                                <div *ngIf="
                      fieldValues.errors &&
                        (fieldValues.dirty || fieldValues.touched)
                      " class="alert alert-danger">
                                    <div [hidden]="!fieldTypeValues.errors.required">
                                        Input required
                                    </div>
                                </div>
                                <span></span>
                            </div>

                            <div class="form-group col-md-6" *ngIf="controlList[i].datatype == 'number'">
                                <input type="number" class="form-control form-control-input inputText" [id]="'inputText_' + i " placeholder="Input Text" [name]="'fieldTypeValues_' + i" [(ngModel)]="item.fieldValues" #fieldValues="ngModel" required />
                                <div *ngIf="
                      fieldValues.errors &&
                        (fieldValues.dirty || fieldValues.touched)
                      " class="alert alert-danger">
                                    <div [hidden]="!fieldValues.errors.required">
                                        Input required
                                    </div>
                                </div>
                                <span></span>
                            </div>

                            <div class="form-group col-md-6" *ngIf="controlList[i].datatype == 'menu'">
                                <angular2-multiselect [data]="controlList[i].subtype" [(ngModel)]="item.fieldValuesArr" [settings]="settings" (onSelect)="onItemSelectRule($event, i, item)" (onDeSelect)="OnItemDeSelectRule($event, i, item)" (onSelectAll)="onSelectAllRule($event, i, item)"
                                    (onDeSelectAll)="onDeSelectAllRule($event, i, item)" [name]="'fieldTypeValues_' + i" [id]="'fieldTypeValues_' + i" [value]="item.fieldValuesArr" #fieldValuesArr="ngModel" ngDefaultControl required>
                                    <c-item>
                                        <ng-template let-item="item">
                                            <label>{{ item.name }}</label>
                                        </ng-template>
                                    </c-item>
                                </angular2-multiselect>
                                <div *ngIf="
                      fieldValuesArr.errors &&
                        (fieldValuesArr.dirty || fieldValuesArr.touched)
                      " class="alert alert-danger">
                                    <div [hidden]="!fieldValuesArr.errors.required">
                                        Input required
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-md-6" *ngIf="controlList[i].datatype == 'datetime'">
                                <!-- [minDate]="minDate" -->
                                <input placeholder="Select date:" class="form-control datePickerInput" [max]="maxDate" [bsConfig]="{
                        containerClass: 'theme-dark-blue',
                        dateInputFormat: 'DD-MM-YYYY'
                      }" [selectMode]="'range'" [owlDateTimeTrigger]="dtRange2" [owlDateTime]="dtRange2" [name]="'fieldTypeValues_' + i" [id]="'fieldTypeValues_' + i" [(ngModel)]="item.fieldValues" [value]="item.fieldValues" ngDefaultControl #fieldValues="ngModel"
                                    required />

                                <!-- <input placeholder="Select date:" class="form-control datePickerInput" [style.width]="'350px'" [max]='maxDate' id="inputDate_{{i}}"
                                    [(ngModel)]="item.fieldValues" name="fieldTypeValues_{{i}}" [bsConfig]="{ containerClass: 'theme-dark-blue', dateInputFormat: 'DD-MMM-YYYY'}"
                                        [selectMode]="'range'" #fieldValues="ngModel" required [owlDateTimeTrigger]="dtRange2" [owlDateTime]="dtRange2"> -->
                                <owl-date-time [pickerType]="'calendar'" #dtRange2></owl-date-time>
                                <div *ngIf="
                        fieldValues.errors &&
                        (fieldValues.dirty || fieldValues.touched)
                      " class="alert alert-danger">
                                    <div [hidden]="!fieldValues.errors.required">
                                        Input required
                                    </div>
                                </div>
                                <span></span>
                            </div>

                            <div class="form-group col-md-1">
                                <span class="glyphicon glyphicon-remove pull-right paraRemove fa fa-times" *ngIf="ruleData.profiles.length > 1" (click)="removeRuleList(i)"></span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer text-right">
                <button type="button" class="constantbtn-button-blue-left" [disabled]="!ruleData.profiles.length" (click)="saveRule($event, ruleForm)">
              Save
            </button>
                <!-- <button type="button" class="floteright constantbtn" *ngIf="this.ruleData.type == 2" [disabled]=" !ruleForm.valid"
                    (click)="saveRule($event)" id="editbtn">Save</button> -->
            </div>
        </div>
    </div>

    <div class="ruleUsersBackdrop" *ngIf="showRuleUsersModal == true">
        <div class="ruleUsersDemoModal">
            <div class="modal-header">
                <p>Applicable users to {{ruleUsersModelTitle}}</p>
                <button class="close" aria-label="Close" (click)="closeRuleUsersModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form class="forms-sample" class="" #userForm="ngForm">
                    <div class="form-group" style="margin-bottom: 0px">
                        <div class="col-md-12 manualToolBar">
                            <div class="col-md-12">
                                <input type='text' class="manSearchUsr searchInput" placeholder='Type to filter the users...' (keyup)='searchManEnrol($event)' />
                            </div>
                            <!-- <div class="col-md-1" floteright>
                  <button type="submit" class="btn-default floteright" (click)="manEnrolUser()" id="manEnrolBtn">Add user</button>
              </div> -->
                        </div>
                    </div>
                    <div class="tableList col-md-12">
                        <div class="tableCompo ">
                            <ngx-enrol-table [pagination]="true" [label]="labelsPreview" [tableData]="rowsEnrolRule"></ngx-enrol-table>
                        </div>
                        <div style="padding: 10px">
                            <div>Total: {{ rowsEnrolRule.length }}</div>
                        </div>
                    </div>


                    <!-- <div class="form-group" style="margin-bottom: 0px">
                        <div class="col-md-12">
                            <div>
                                <ngx-datatable #tableDataManual style="width: 100%" class="material" [columns]="columnsManual" [loadingIndicator]="loadingIndicator" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="30" [limit]="5" [rowHeight]="50" [scrollbarV]="true" [rows]='rowsManual'>
                                </ngx-datatable>
                            </div>
                        </div>
                    </div> -->
                </form>
            </div>

            <div class="modal-footer">
                <!-- <button type="button" class="btn-default floteright constantbtn" [disabled]="!addRulesForm.valid" (click)="saveRule($event)" id="editbtn">Save</button> -->
            </div>

        </div>
    </div>
</div>