<!-- <div class="col-md-12 toprow sticky-top1">
    <div class="col-md-3">
        <h4>ONLINE COURSES</h4>
    </div>
    <div class="col-md-3 pad14px">
        <select [(ngModel)]="cat.id" class="form-control field-height " name="id" (click)="doropserch()">
      <option value = "">All Categories</option>
      <option *ngFor="let item of parentcat" value={{item.categoryId}} >{{item.categoryName}}</option>
    </select>
    </div>
    <div class="col-md-3 search-div pad14px">
        <input type="text" [(ngModel)]="search.fullname" class="form-control field-height" placeholder="Search by keywords" name="fname">
        <i class="fa fa-remove remove-icon" aria-hidden="true" (click)="clear()"></i>
    </div>
    <div class="col-md-3 text-right pad14px">
            <button type="button"  class="constantbtn-button-blue-left" (click)="addeditcontent(undefined,0)" >Add Course</button>
        <button type="submit" class="constantbtn-button-blue-left" (click)="back()" id="editbtn1">Back</button>

    </div>
</div> -->


<div class="content_main_parent_div">
    <div class="content_div">
        <app-subheader [headerConfig]="header" (addbtn)="addeditcontent(undefined,0)" (backClick)="back()" (filterClick)="gotoFilter()" (inputsearch)="searchQuestion($event)" (Clear)="clear()">
        </app-subheader>
        <ngx-filter [courseTag]="filters" [filterInnertag]="filtersInner" [filterConfig]="filtercon" (dropdownClick)="getSortData($event)" (changeFilterData)="filteredChanged1($event)" *ngIf="filter"></ngx-filter>
        <div class="grid_container_blended_course" *ngIf="!nodataFound">
            <div class="bgwhite sticky-top disnone">
                <div *ngIf="skeletonF">
                    <div class="listheadings">

                        <input type="text" class="textBoxLength" placeholder="Search by name" name="fname" (keyup)="searchQuestion($event)" />
                        <!-- <i class="fa fa-remove remove_icon" aria-hidden="true" (click)="clear()"></i> -->
                    </div>
                    <div class="listheadings" data-toggle="collapse" data-target="#LC">
                        <p class="listLabel">Categories</p>
                        <p class="filterLength" *ngIf="SelectedCategoryLength.categoryId">
                            {{ SelectedCategoryLength.categoryId }}</p>
                    </div>
                    <div id="LC" class="collapse">
                        <div class="listheadings">
                            <input type="text" class="textBoxLength" [(ngModel)]="searchcategory.categoryName" placeholder="Search by category name" />
                        </div>
                        <div class="scroll-Div">
                            <div class="custom-control custom-checkbox small" *ngFor="let item of parentcat | filterBy: searchcategory; let i = index;">
                                <label class="checkContainer1" for="item{{ i }}">{{ item.categoryName }}
                                    <input type="checkbox" id="item{{ i }}" class="" (click)="
                          onUpdateSubjectName($event);
                          subjectName(item, 'categoryId')
                        " />
                                    <span class="checkmarkDiv"></span>
                                </label>
                            </div>
                        </div>

                    </div>

                    <div class="listheadings" data-toggle="collapse" data-target="#CC">
                        <p class="listLabel">Course Level</p>
                        <p class="filterLength" *ngIf="SelectedCategoryLength.courseLevelId">
                            {{ SelectedCategoryLength.courseLevelId }}</p>
                    </div>
                    <div id="CC" class="collapse">
                        <div class="listheadings">
                            <input type="text" class="textBoxLength" [(ngModel)]="searchcourselevel.name" placeholder="Search by Course level" />
                        </div>
                        <div class="scroll-Div">
                            <div class="custom-control custom-checkbox small" *ngFor="let level of courseLevel | filterBy : searchcourselevel; let i = index">
                                <label class="checkContainer1" for="level{{ i }}">{{ level.name }}
                                    <input type="checkbox" id="level{{ i }}" class="" (click)="
                          onUpdateSubjectName($event); subjectName(level, 'courseLevelId')
                        " />
                                    <span class="checkmarkDiv"></span>
                                </label>
                            </div>
                        </div>

                    </div>
                    <div class="listheadings" data-toggle="collapse" data-target="#SC">
                        <p class="listLabel">Manager</p>
                        <p class="filterLength" *ngIf="SelectedCategoryLength.creatorId">
                            {{ SelectedCategoryLength.creatorId }}</p>
                    </div>
                    <div id="SC" class="collapse">
                        <div class="listheadings">
                            <input type="text" class="textBoxLength" [(ngModel)]="searchmanager.fullname" placeholder="Search by Manager" />
                        </div>
                        <div class="scroll-Div">
                            <div class="custom-control custom-checkbox small" *ngFor="let creator  of creatorList | filterBy : searchmanager; let i = index">
                                <label class="checkContainer1" for="creator{{ i }}">{{ creator.fullname }}
                                    <input type="checkbox" id="creator{{ i }}" class="" (click)="
                          onUpdateSubjectName($event); subjectName(creator, 'creatorId')
                        " />
                                    <span class="checkmarkDiv"></span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="listheadings" data-toggle="collapse" data-target="#sort">
                        <p class="listLabel">Sort</p>
                    </div>
                    <div id="sort" class="collapse">
                        <div class="form-group" *ngFor="let sort of sortdata; let i = index">
                            <label class="lable_class">{{sort.title}}</label>
                            <select class="form-control drop_down" (change)="sorting($event, i , type, sort)" [(ngModel)]="sort.type" name="type_{{i}}" #type_{{i}}="ngModel" id="type_{{i}}">
                                <option value="" selected disabled>Select</option>
                                <option *ngFor="let type of sortingmenu" value={{type.value}}>{{type.name}}</option>
                            </select>
                        </div>
                    </div>

                    <!-- workflow -->

                    <div class="listheadings" data-toggle="collapse" data-target="#WC">
                        <p class="listLabel">Workflow</p>
                        <p class="filterLength" *ngIf="SelectedCategoryLength.lpId">
                            {{ SelectedCategoryLength.lpId }}</p>
                    </div>
                    <div id="WC" class="collapse">
                        <div class="listheadings">
                            <input type="text" class="textBoxLength" [(ngModel)]="searchWorkflow.lpName" placeholder="Search by workflow name" />
                        </div>
                        <div class="scroll-Div">
                            <div class="custom-control custom-checkbox small" *ngFor="let ele of workflowData | filterBy: searchWorkflow; let i = index;">
                                <label class="checkContainer1" for="ele{{ i }}">{{ ele.lpName }}
                            <input type="checkbox" id="ele{{ i }}" class="" (click)="
                      onUpdateSubjectName($event);
                      subjectName(ele, 'lpId')
                    " />
                            <span class="checkmarkDiv"></span>
                        </label>
                            </div>
                        </div>

                    </div>
                </div>


                <!-- workflow end -->



                <!-- <div *ngIf="!skeletonF">
                    <div class="content-title">
                        <ngx-skeleton-loader [theme]="{
                                                              width: '130px',
                                                              height: '30px',
                                                              'margin-top':'10px',
                                                              'margin-bottom':'10px',
                                                              'margin-left':'30px'
                                                            }"></ngx-skeleton-loader>
                    </div>
                    <div class="content-title">
                        <ngx-skeleton-loader [theme]="{
                                                              width: '130px',
                                                              height: '30px',
                                                              'margin-bottom':'10px',
                                                              'margin-left':'30px'
                                                            }"></ngx-skeleton-loader>
                    </div>
                    <div class="content-title">
                        <ngx-skeleton-loader [theme]="{
                                                                width: '130px',
                                                                height: '30px',
                                                                'margin-bottom':'10px',
                                                                'margin-left':'30px'
                                                              }"></ngx-skeleton-loader>
                    </div>
                    <div class="content-title">
                        <ngx-skeleton-loader [theme]="{
                                                                width: '130px',
                                                                height: '30px',
                                                                'margin-bottom':'10px',
                                                                'margin-left':'30px'
                                                              }"></ngx-skeleton-loader>
                    </div>
                    <div class="content-title">
                        <ngx-skeleton-loader [theme]="{
                                                                      width: '130px',
                                                                      height: '30px',
                                                                      'margin-bottom':'10px',
                                                                      'margin-left':'30px'
                                                                    }"></ngx-skeleton-loader>
                    </div>
                </div> -->
            </div>
            <!-- class="scrolldiv"style="overflow-y: auto;"  -->
            <!--  (scroll)="onScroll(scrollMe)" #scrollMe [ngStyle]="{ height: conentHeight }" -->
            <div (scroll)="onScroll(scrollMe)" #scrollMe class="overflow_scroll_cards_container">
                <div *ngFor="let item of displayArray;let i=index">
                    <ngx-card (disabled)="enableDisableCourse(i,item)" [cardsList]="item" [config]="cardModify" (copyClick)="copyCard(item)" (gotoDetails)="gotoCardaddedit(item)"></ngx-card>
                </div>
                <app-skeleton [count]='count' *ngIf="!skeleton"></app-skeleton>

                <!-- <table>
                    <tr>
                        <div class="multiple_content_card_container" *ngIf="!skeletonF">
                            <div class="contents_width1">
                                <div class="content_container">

                                    <div class="content_card1">
                                        <div class="content">
                                            <ngx-skeleton-loader [theme]="{ width: '163px', height: '140px','margin': '5px' }">
                                            </ngx-skeleton-loader>
                                        </div>
                                        <div class="content-title">
                                            <ngx-skeleton-loader [theme]="{
                                                                    width: '140px',
                                                                    height: '40px'
                                                                  }"></ngx-skeleton-loader>
                                        </div>
                                        <div class="content-title">
                                            <ngx-skeleton-loader [theme]="{
                                                                    width: '140px',
                                                                    height: '40px'
                                                                  }"></ngx-skeleton-loader>
                                        </div>
                                    </div>


                                    <div class="content_card1">
                                        <div class="content">
                                            <ngx-skeleton-loader [theme]="{ width: '163px', height: '140px','margin': '5px' }">
                                            </ngx-skeleton-loader>
                                        </div>
                                        <div class="content-title">
                                            <ngx-skeleton-loader [theme]="{
                                                                    width: '140px',
                                                                    height: '40px'
                                                                  }"></ngx-skeleton-loader>
                                        </div>
                                        <div class="content-title">
                                            <ngx-skeleton-loader [theme]="{
                                                                    width: '140px',
                                                                    height: '40px'
                                                                  }"></ngx-skeleton-loader>
                                        </div>
                                    </div>


                                    <div class="content_card1">
                                        <div class="content">
                                            <ngx-skeleton-loader [theme]="{ width: '163px', height: '140px','margin': '5px'}">
                                            </ngx-skeleton-loader>
                                        </div>
                                        <div class="content-title">
                                            <ngx-skeleton-loader [theme]="{
                                                                    width: '140px',
                                                                    height: '40px'
                                                                  }"></ngx-skeleton-loader>
                                        </div>
                                        <div class="content-title">
                                            <ngx-skeleton-loader [theme]="{
                                                                    width: '140px',
                                                                    height: '40px'
                                                                  }"></ngx-skeleton-loader>
                                        </div>
                                    </div>


                                    <div class="content_card1">
                                        <div class="content">
                                            <ngx-skeleton-loader [theme]="{ width: '163px', height: '140px','margin': '5px'}">
                                            </ngx-skeleton-loader>
                                        </div>
                                        <div class="content-title">
                                            <ngx-skeleton-loader [theme]="{
                                                                    width: '140px',
                                                                    height: '40px'
                                                                  }"></ngx-skeleton-loader>
                                        </div>
                                        <div class="content-title">
                                            <ngx-skeleton-loader [theme]="{
                                                                    width: '140px',
                                                                    height: '40px'
                                                                  }"></ngx-skeleton-loader>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </tr>
                    <tr>
                        <div class="multiple_content_card_container" *ngIf="!skeletonF">
                            <div class="contents_width1">
                                <div class="content_container">

                                    <div class="content_card1">
                                        <div class="content">
                                            <ngx-skeleton-loader [theme]="{ width: '163px', height: '140px','margin': '5px'}">
                                            </ngx-skeleton-loader>
                                        </div>
                                        <div class="content-title">
                                            <ngx-skeleton-loader [theme]="{
                                                                        width: '140px',
                                                                        height: '40px'
                                                                      }"></ngx-skeleton-loader>
                                        </div>
                                        <div class="content-title">
                                            <ngx-skeleton-loader [theme]="{
                                                                        width: '140px',
                                                                        height: '40px'
                                                                      }"></ngx-skeleton-loader>
                                        </div>
                                    </div>


                                    <div class="content_card1">
                                        <div class="content">
                                            <ngx-skeleton-loader [theme]="{ width: '163px', height: '140px','margin': '5px'}">
                                            </ngx-skeleton-loader>
                                        </div>
                                        <div class="content-title">
                                            <ngx-skeleton-loader [theme]="{
                                                                        width: '140px',
                                                                        height: '40px'
                                                                      }"></ngx-skeleton-loader>
                                        </div>
                                        <div class="content-title">
                                            <ngx-skeleton-loader [theme]="{
                                                                        width: '140px',
                                                                        height: '40px'
                                                                      }"></ngx-skeleton-loader>
                                        </div>
                                    </div>


                                    <div class="content_card1">
                                        <div class="content">
                                            <ngx-skeleton-loader [theme]="{ width: '163px', height: '140px','margin': '5px'}">
                                            </ngx-skeleton-loader>
                                        </div>
                                        <div class="content-title">
                                            <ngx-skeleton-loader [theme]="{
                                                                        width: '140px',
                                                                        height: '40px'
                                                                      }"></ngx-skeleton-loader>
                                        </div>
                                        <div class="content-title">
                                            <ngx-skeleton-loader [theme]="{
                                                                        width: '140px',
                                                                        height: '40px'
                                                                      }"></ngx-skeleton-loader>
                                        </div>
                                    </div>


                                    <div class="content_card1">
                                        <div class="content">
                                            <ngx-skeleton-loader [theme]="{ width: '163px', height: '140px','margin': '5px'}">
                                            </ngx-skeleton-loader>
                                        </div>
                                        <div class="content-title">
                                            <ngx-skeleton-loader [theme]="{
                                                                        width: '140px',
                                                                        height: '40px'
                                                                      }"></ngx-skeleton-loader>
                                        </div>
                                        <div class="content-title">
                                            <ngx-skeleton-loader [theme]="{
                                                                        width: '140px',
                                                                        height: '40px'
                                                                      }"></ngx-skeleton-loader>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </tr>
                </table> -->
            </div>
        </div>
    </div>

    <!-- <div class="addSelfBackdropen" *ngIf="openPopup == true">
        <div class="addSelfDemoModalen">
            <div class="modal-header">
                <p>Hide</p>
                <button class="close " aria-label="Close" (click)="closeHideModal()">
                    <span aria-hidden="true">&times;</span>
                  </button>
            </div>

            <div class="text-left">
                <button type="button" class="constantbtn-button-blue-left" (click)="disableCourseCard(item)">Proceed</button>
            </div>
            <div class=" text-right">
                <button type="button" class="constantbtn-button-blue-left" (click)="closeHideModal()">Cancel</button>
            </div>
        </div>
    </div> -->
    <div class="deleteModalBackdrop" *ngIf="deleteCourseModal == true">
        <div class="deleteModal">
            <div class="modal-header deleteModalHeader">
                <p class="deleteModalHeaderP">Delete course</p>
                <button class="close closeDeleteModalBtn" aria-label="Close" (click)="closeDeleteContentModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="">
                    <p class="deleteModalBodyP">Are you sure you want to delete {{deleteCourseData.fullname}} ?</p>
                </div>
            </div>

            <div class="modal-footer deleteModalFooter">
                <div class="col-md-2">
                    <button type="button" class="deleteModalBtn" (click)="deleteContentAction(true)">Yes</button>
                </div>
                <div class="col-md-2">
                    <button type="button" class="deleteModalBtn" (click)="deleteContentAction(false)">No</button>
                </div>
            </div>
        </div>
    </div>

    <div class="deleteModalBackdrop" *ngIf="enableDisableCourseModal == true">
        <div class="deleteModal">
            <div class="modal-header deleteModalHeader">
                <p *ngIf="!enableCourse" class="enableDisableModalHeaderP">Enable course</p>
                <p *ngIf="enableCourse" class="enableDisableModalHeaderP">Disable course</p>
                <button class="close closeDeleteModalBtn" aria-label="Close" (click)="closeEnableDisableCourseModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="" *ngIf="!enableCourse">
                    <p class="enableDisableModalBodyP" *ngIf="popupMsg!=''"> {{ popupMsg }} </p>
                    <p class="enableDisableModalBodyP">Are you sure you want to Enable {{enableDisableCourseData.fullname}} ?</p>
                </div>
                <div class="" *ngIf="enableCourse">
                    <p class="enableDisableModalBodyP" *ngIf="popupMsg!=''"> {{ popupMsg }} </p>
                    <p class="enableDisableModalBodyP">Are you sure you want to Disable {{enableDisableCourseData.fullname}} ?</p>
                </div>
            </div>

            <div class="modal-footer deleteModalFooter">
                <div class="col-md-2">
                    <button type="button" class="deleteModalBtn" (click)="enableDisableCourseAction(true)">Yes</button>
                </div>
                <div class="col-md-3">
                    <button type="button" class="deleteModalBtn" (click)="enableDisableCourseAction(false)">No</button>
                </div>
            </div>
        </div>
    </div>

    <div class="duplicateModalBackdrop" *ngIf="duplicateCourseModal == true">
        <div class="duplicateModal">
            <div class="modal-header duplicateModalHeader">
                <p class="duplicateModalHeaderP">Duplicate course {{duplicateCourseData.fullname}}</p>
                <button class="close closeDuplicateModalBtn" aria-label="Close" (click)="closeDuplicateCourseModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body" style="max-height: 375px;overflow-y: auto;">
                <div class="card cardForm">
                    <div class="card-body cardBody">
                        <!-- <h5 class="card-title cardTitle">General</h5> -->
                        <form class="forms-sample formPad10" #courseDupliForm="ngForm">
                            <div class="courseBasicDetailsContainer">
                                <div class="form-group">
                                    <label class="left_space" for="fullname">Full Name</label>
                                    <input type="text" class="form-control form-control-input select_field_height inputText" [(ngModel)]="formDataCourse.fullname" required id="fullname" placeholder="Full Name" name="fullname" #fullname="ngModel" minlength="2" maxlength="50">
                                    <div class="errorMsg" [hidden]="fullname.valid || fullname.pristine" class="alert alert-danger">
                                        <div [hidden]="!fullname.hasError('required')">Full Name is required</div>
                                    </div>
                                    <span></span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="modal-footer duplicateModalFooter">
                <div class="">
                    <button type="button" class="duplicateModalBtn" (click)="duplicateCourseAction(true)" [disabled]="!courseDupliForm.valid">Duplicate</button>
                </div>
                <div class="">
                    <button type="button" class="duplicateModalBtn" (click)="duplicateCourseAction(false)">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="spinner_container" *ngIf="showSpinner">
    <div class="loader box-rotation"></div>
</div> -->
<div *ngIf="nodataFound">
    <!-- <img style="width: 900px;" src='../../../../../assets/images/no-data-bg.svg' onerror="this.src='assets/images/noDataFound1.png';"> -->
    <ngx-no-data [config]="noDataVal"></ngx-no-data>
</div>