<!-- <div class="loaderBackdrop" *ngIf="loader == true">
    <div id="loader"></div>
</div> -->

<div class="blended_module">

    <div class="row m0 formGen">
        <div class="col-md-12">
            <div class="grid-margin stretch-card p-0 topicListContainer" [ngClass]="{'col-md-3': isActive,'col-md-12': !isActive}" [hidden]="isActive == true">
                <!-- [ngClass]="{'col-md-3': isActive,'col-md-12': !isActive}" -->
                <!-- <div class="btn-toolbar addTopicBtnTool">
                    <span class="addTopicBtnToolSpan">
            <button type="button" class="constantbtn-button-blue-left" (click)="addEditCourseModule('',0)"
              [disabled]="isActiveTop == true">Add Session</button>
          </span>
                </div> -->
                <ngx-no-data [config]="noDataVal" *ngIf="moduledisplaylist"></ngx-no-data>

                <div class="courseDiv" *ngIf="!moduledisplaylist">
                    <ngx-module-activity-list
                    (performAction)="doAction($event)"
                    [showBulkCopy] = true
                    [activitySubTypeList]="activitySubTypeList"
                    [courseModules]="courseModules"></ngx-module-activity-list>
                </div>

            </div>


            <div class="row" *ngIf="isActiveTop == true" style="margin-top: 0">
                <ngx-add-edit-modules [isWorkflow]=isWorkflow
                [allowMultiLanguage]= true

                [formDataModule]="formDataModule" [tempUsers]="tempUsers"
                [trainerVisible]="trainerVisible" (performAction)="doActionOnModule($event)"
                [getEventData]="inpdata" [courseTypeId]="4" [visibility]="visibility">
                </ngx-add-edit-modules>
            </div>
        </div>


        <div class="col-md-12 grid-margin stretch-card formCustCard floatR mrgnTop0" *ngIf="isActiveRes == true" style="">

            <ngx-add-edit-activity [isWorkflow]=isWorkflow
            [allowMultiLanguage]= true
            [selectedMultiLanguageContent]="selectedMultiLanguageContent"
            (removeMultiContentEvent)= "preformActionOnRemove($event)"
            (formatChangeForMultiLanguage) = "preformActionOnFormatChange($event)"
             [roles]="roles" [showContentSelected]="showContentSelected" [selectedContentData]="showContentSelectedData" [activitieslist]="activitieslist" [selectedTags]="selectedTags" [tagList]="tagList" [formats]="formats"
                [courseTypeId]="4" [endDateRadio]="endDateRadio" [courseTypeDetails]="selectedType" [linkGenerationInProgress]="linkGenerationInProgress" [showGenrateButton]="showGenrateButton" [shortUrl]="shortUrl" [activityFileData]="activityFileData" [enableUpload]="enableUpload"
                [currentActIndex]="currentActIndex" [activityCompTrack]="activityCompTrack" [days]="days" [pointFormat]="pointFormat" [subtypeId]="selectedActivitySubType" [formDataActivity]="formDataActivity" (saveActivity)="saveActivityDetails($event)"
                (browseEvent)="browsePopup($event)" (removeContentEvent)="removeContentpopup($event)" (generateAcitivitylink)="generateAcitivtyUrl()" (closeActivityForm)="closeActivityForm()" [workflowSteps]="workflowSteps">
            </ngx-add-edit-activity>
        </div>
    </div>
    <ngx-multilanguage-popup [noDataFoundActivitySearch]="noDataFoundActivitySearch"   [selectedList]="selectedMultiLanguageContent" [damAssetsList]="srchContentResult" (sendEventToParent)="performActionOnData($event)" [languageList]="languageList" *ngIf="activityContentShow == true">

    </ngx-multilanguage-popup>

    <!-- <div class="selectContentBackdrop" *ngIf="activityContentShow == true">
        <div class="selectContentModal">
            <div class="modal-header">
                <p>Select a content</p>
                <button class="close" aria-label="Close" (click)="closeActivityContentModel(1)">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <div class="contentModelSubDiv">

                    <div class="col-md-12 manEnrolSrchDiv">
                        <input type='text' class="manEnrolSearchUsr searchInput" placeholder='Search content...' (keyup)='searchActivityContent($event,contentSearchQry)' [(ngModel)]="contentSearchQry" />
                    </div>
                    <div class="container content">

                        <div class="card borderNone col-md-4" *ngFor="let catData of srchContentResult; let i = index">
                            <div class="contentDiv contentImgDiv" [ngClass]="{'activeActType': activeSelectedContentId == catData.id}" (click)="selectedActivityContent(i, catData);setActiveSelectedContent(i, catData)">
                                <a>
                                    <img for="content{{ catData.id }}" class="contentIcon" src='{{catData.assetRef}}' onerror="this.src='assets/images/noImage.jpg';">
                                </a>
                                <p class="contentName" title="{{catData.assetName}}">{{catData.assetName | slice:0:20}}</p>
                            </div>
                        </div>

                    </div>
                    <div class="container content" *ngIf="!srchContentResult.length">

                        <p class="nodata">{{ dataDetail }}</p>
                    </div>

                </div>
            </div>
            <div class="modal-footer text-right">
                <button type="button" class="subBttn focus" (click)="saveSelectedActivityContent(1)" id="editbtn">Select</button>
            </div>
        </div>
    </div> -->
    <div class="deleteModalBackdrop" *ngIf="deleteModuleModal == true">
        <div class="deleteModal">
            <div class="modal-header deleteModalHeader">
                <p class="deleteModalHeaderP">Delete module</p>
                <button class="close closeDeleteModalBtn" aria-label="Close" (click)="closeDeleteModuleModal()">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <div class="">
                    <p class="deleteModalBodyP">Are you sure you want to delete {{deleteModuleData.name}} ?</p>
                </div>
            </div>
            <div class="modal-footer deleteModalFooter">
                <div class="">
                    <button type="button" class="subBttn focus" (click)="deleteModuleAction(true)">Yes</button>
                </div>
                <div class="">
                    <button type="button" class="subBttn focus" (click)="deleteModuleAction(false)">No</button>
                </div>
            </div>
        </div>
    </div>
    <div class="deleteModalBackdrop" *ngIf="deleteActivityModal == true">
        <div class="deleteModal">
            <div class="modal-header deleteModalHeader">
                <p class="deleteModalHeaderP">Delete activity</p>
                <button class="close closeDeleteModalBtn" aria-label="Close" (click)="closeDeleteActivityModal()">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <div class="">
                    <p class="deleteModalBodyP">Are you sure you want to delete {{deleteActivityData.rname}} ?</p>
                </div>
            </div>
            <div class="modal-footer deleteModalFooter">
                <div class="">
                    <button type="button" class="subBttn focus" (click)="deleteActivityAction(true)">Yes</button>
                </div>
                <div class="">
                    <button type="button" class="subBttn focus" (click)="deleteActivityAction(false)">No</button>
                </div>
            </div>
        </div>
    </div>
    <div class="existingModalBackdrop" *ngIf="existingActivityModal == true">
        <div class="existingModal">
            <div class="modal-header existingModalHeader">
                <p class="existingModalHeaderP">File already exists</p>
                <button class="close closeExistingModalBtn" aria-label="Close" (click)="closeExistingActivityModal()">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <div class="">
                    <p class="existingModalBodyP">File you have uploaded is already exists,Do you want to proceed ?</p>
                </div>
            </div>
            <div class="modal-footer existingModalFooter">
                <div class="">
                    <button type="button" class=" subBttn focus" (click)="existingActivityAction(true)">Yes</button>
                </div>
                <div class="">
                    <button type="button" class=" subBttn focus" (click)="existingActivityAction(false)">No</button>
                </div>
            </div>
        </div>
    </div>
    <div class="selectContentBackdrop" *ngIf="quizContentShow == true">
        <div class="selectContentModal">
            <div class="modal-header">
                <p>Select a content</p>
                <button class="close" aria-label="Close" (click)="closequizContentModel()">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <div class="contentModelSubDiv">
                    <!-- <div> -->
                    <div class="col-md-12 manEnrolSrchDiv">
                        <input type='text' class="manEnrolSearchUsr searchInput" placeholder='Search content...' (keyup)='searchQuizContent($event,quizSearchQry)' [(ngModel)]="quizSearchQry" />
                    </div>
                    <div class="container content">
                        <!-- <div class="row"> -->
                        <div class="card borderNone col-md-4" *ngFor="let catData of srchquizResult; let i = index ">
                            <div class="contentDiv contentImgDiv" [ngClass]="{'activeActType': activeSelectedQuizId == catData.qid}" (click)="setActiveSelectedQuiz(i,catData)">
                                <a>
                                    <img for="content{{catData.qid}}" class="contentIcon" src='{{catData.picRef}}' onerror="this.src='assets/images/noImage.jpg';">
                                </a>
                                <p class="contentName" title="{{catData.qName}}">{{catData.qName | slice:0:20}} ({{catData.qcode}})</p>
                            </div>
                        </div>
                        <!-- </div> -->
                    </div>
                    <div class="container content" *ngIf="!srchquizResult.length">
                        <!-- <img class="noDataImg" src='assets/images/noDataFound1.png' onerror="this.src='assets/images/noDataFound1.png';"> -->
                        <!-- <img src='assets/images/noDataFound2.png' onerror="this.src='assets/images/noDataFound2.png';"> -->
                        <p class="nodata">Search content...</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer text-right">
                <button type="button" class="subBttn focus" (click)="saveSelectedQuizContent()" id="editbtn">Select</button>
            </div>
        </div>
    </div>
    <div class="selectContentBackdrop" *ngIf="feedbackContentShow == true">
        <div class="selectContentModal">
            <div class="modal-header">
                <p>Select a content</p>
                <button class="close" aria-label="Close" (click)="closefeedbackContentModel()">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <div class="contentModelSubDiv">
                    <!-- <div> -->
                    <div class="col-md-12 manEnrolSrchDiv">
                        <input type='text' class="manEnrolSearchUsr searchInput" placeholder='Search content...' (keyup)='searchFeedbackContent($event,feedbackSearchQry)' [(ngModel)]="feedbackSearchQry" />
                    </div>
                    <div class="container content">
                        <div class="card borderNone col-md-4" *ngFor="let catData of srchfeedbackResult; let i = index ">
                            <div class="contentDiv contentImgDiv" [ngClass]="{'activeActType': activeSelectedFeedbackId == catData.fid}" (click)="setActiveSelectedFeedback(i,catData)">
                                <a>
                                    <img for="content{{catData.fid}}" class="contentIcon" src='{{catData.picRef}}' onerror="this.src='assets/images/noImage.jpg';">
                                </a>
                                <p class="contentName" title="{{catData.fname}}">{{catData.fname | slice:0:20}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="container content" *ngIf="!srchfeedbackResult.length">
                        <p class="nodata">Search content...</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer text-right">
                <button type="button" class="subBttn focus" (click)="saveSelectedFeedbackContent()" id="">Select</button>
            </div>
        </div>
    </div>
    <div class="existingModalBackdrop" *ngIf="removeActivityConfirmation">
      <div class="existingModal">
          <div class="modal-header existingModalHeader">
              <p class="existingModalHeaderP">Remove Langugae Content</p>
              <button class="close closeExistingModalBtn" aria-label="Close" (click)="toggelActivityConfirmation(false)">
        <span aria-hidden="true">&times;</span>
      </button>
          </div>
          <div class="modal-body">
              <div class="">
                  <p class="existingModalBodyP">Do you really want to delete langugae ?</p>
              </div>
          </div>
          <div class="modal-footer existingModalFooter">
              <div class="">
                  <button type="button" class="subBttn focus" (click)="removeLangugae(removeActivityContent)">Yes</button>
              </div>
              <div class="">
                  <button type="button" class="subBttn focus" (click)="toggelActivityConfirmation(false)">No</button>
              </div>
          </div>
      </div>
    </div>
</div>



<!-- <ngx-sidebar-form *ngIf="isActiveTop == true" (saveBtn)="save(form)" (closeBtn)="cloeSidebar()" (outside)="cloeSidebar()" [sidebarTitle]="titleName" [buttonName]="btnName">
    <ngx-add-edit-modules [formDataModule]="formDataModule" [tempUsers]="tempUsers" [trainerVisible]="trainerVisible" (performAction)="doActionOnModule($event)" [getEventData]="inpdata" [courseTypeId]="4" [visibility]="visibility">
    </ngx-add-edit-modules>
</ngx-sidebar-form> -->

<ngx-bulk-copy [courseTypeId]= '4' [config]="config" [titleName]="'Bulk Copy'" [componentConfig]="'course'"  (performAction)="performActionOnBulk($event)" [activityClicked]="selectedBulkActivity" *ngIf="showBulkUploadContainer"></ngx-bulk-copy>
