
.flotlefttop
{
  padding-left:4.5px;
}
.toprow{
  border: none;
  background-color: #ffffff;
  height: auto;width: 100%;
  display: inline-flex;
}

.sticky-top
{
  position: sticky;
    top: 66px;
    z-index: 1030;
}
.h3lable
{
  margin-top:11.5px;
}
.tablepadd
{
  padding: 25px;
}
.tabsumpadd
{
  padding:5px !important;
}
.tblboder
{
  border:1px solid #eeeeee !important;
}
.tabletopdiv{
      width: 100%;
    overflow-y: scroll;
    margin-top: 30px;
}