<div class="loaderBackdrop" *ngIf="loader == true">
        <div id="loader"></div>
      </div> 
    <div class="fixed" *ngIf="show">
    <div class="col-md-12 toprow sticky-top">
      <div class="col-md-6">
        <h3 class="h3lable">Select a Workflow</h3>
      </div>
         <div class="col-md-6 text-right">
       <button type="button" class="back_button"  (click)="back()" >Back</button> 
      </div>
      </div>
 
       <div class="tablepadd container">
      <angular-slickgrid #grid  gridId="grid1"
                [columnDefinitions]="columnDefinitions"
                [gridOptions]="gridOptions"
                [dataset]="dataset"
                (onAngularGridCreated)="angularGridReady($event)"
                (onGridStateChanged)="gridStateChanged($event)"
                (onBeforeGridDestroy)="saveCurrentGridState($event)"
                (sgOnSelectedRowsChanged)="handleSelectedRowsChanged($event.detail.eventData, $event.detail.args)">
      </angular-slickgrid>
     </div> 
    </div>


<!-- <div class="card">
  <div class="">
    <table class="table table-bordered" cellpadding="0" border="0" cellpadding="0" cellspacing="0">
      <thead>
        <tr style="text-align: center;">
          <th *ngFor="let item of finalCourseData">
            <tr>
              <th [attr.colspan] ="item.module.length">
                  {{item.course}}
              <th>
            </tr>
            <tr>
              <th *ngFor="let data of item.module">
                  <tr>
                    <th [attr.colspan]="data.act.length">
                      {{data.modname}}
                    </th>
                  </tr>
                  <tr>
                    <th *ngFor="let mact of data.act">
                    {{mact}}
                    </th>
                  </tr>
            </th>
            </tr>
        </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>data</td>
        </tr>
      </tbody>
    </table>

  </div>
</div> -->
<!-- <div class="col-md-12 toprow sticky-top">
      <div class="col-md-6">
        <h3 class="h3lable">Select a Course</h3>
      </div>
         <div class="col-md-6 flotlefttop">
       <button type="button" class="backcombut"  (click)="export()" >Export</button> 
      </div>
</div>
<div class="card">
  <div class="table-responsive">
    <table #table1 id="table1" class="table table-bordered" cellpadding="0" border="0" cellpadding="0" cellspacing="0">
      <thead>
        <tr style="text-align: center;">
          <th rowspan="3">
            CODE
          </th>
           <th rowspan="3">
            NAME
          </th>
          <th *ngFor="let item of finalCourseData" [attr.colspan] ="item.count">
            {{item.course}}
           </th>
         </tr>
          <tr style="text-align: center;">
          <th *ngFor="let item of finalModuleData" [attr.colspan]="item.act.length">
             {{item.modname}}
          </th>
         </tr>
          <tr style="text-align: center;">
          <th *ngFor="let item of finalActivityData">
            {{item}}
          </th>
         </tr>
       
      </thead>
      <tbody>

     
        <tr *ngFor="let item of fianlData">
           <td>{{item.code}}</td>
           <td>{{item.name}}
           {{item.copmdata.length}}</td>
          <td *ngFor="let data of item.copmdata">{{data}}</td>
        </tr>
      </tbody>
    </table>

  </div>
</div> -->

<!-- <div class="card">
  <div class="">
    <table class="table table-bordered" cellpadding="10">
      <thead>
        <tr style="text-align: center;">

          
          <th  [attr.colspan]="item.module.length" *ngFor="let item of finalCourseData">
            <tr style="border: none;">
              <th style="border: none;" [attr.colspan] ="item.module.length">
                  {{item.course}}
              </th>
            </tr>
            <tr style="border: none;">
              <th style="border: none;" *ngFor="let data of item.module">
                  <tr style="border: none;">
                    <th style="border: none;" [attr.colspan]="data.act.length">
                      {{data.modname}}
                    </th>
                  </tr>
                  <tr style="border: none;">
                    <th style="border: none;" *ngFor="let mact of data.act">
                    {{mact}}
                    </th>
                  </tr>
              </th>
            </tr>
          </th>
           
    
        </tr>
      
      </thead>
      <tbody>
        <tr>
          <td>data</td>
        </tr>
      </tbody>
    </table>
  </div>
</div> -->
