<div class="loaderBackdrop" *ngIf="loader == true">
        <div id="loader"></div>
      </div> 
    <!-- <div class="fixed" *ngIf="show"> -->
<!--     <div class="col-md-12 toprow sticky-top">
      <div class="col-md-8">
        <h3 class="h3lable">{{workflowname}}/{{name}}</h3>
      </div>
         <div class="col-md-4 flotlefttop">
       <button type="button" class="backcombut"  (click)="back()" >Back</button> 
      </div>
      </div> -->
    <!-- <div class="col-sm-12 ">
          <div class="btn-group col-sm-2 flotlefttop">
            <select id="FilterOpt" [(ngModel)]="formdata.qid" (change)="callType(formdata.qid)" class="form-dropcc" autocomplete="false">
              <option *ngFor="let quiz of quizlistdrop" value={{quiz.id}}>{{quiz.name}}</option>
            </select>
          </div>
        </div> -->
<!--      <div class="tablepadd " *ngIf="gridShow">
      <angular-slickgrid #grid  gridId="grid1"
                [columnDefinitions]="columnDefinitions"
                [gridOptions]="gridOptions"
                [dataset]="dataset"
                (onAngularGridCreated)="angularGridReady($event)"
                (onGridStateChanged)="gridStateChanged($event)"
                (onBeforeGridDestroy)="saveCurrentGridState($event)"
                (sgOnSelectedRowsChanged)="handleSelectedRowsChanged($event.detail.eventData, $event.detail.args)">
       
      </angular-slickgrid>
      </div > -->
      <div class="col-md-12 toprow sticky-top">
      <div class="col-md-6">
        <h3 class="h3lable">{{this.name}}</h3>
      </div>
         <div class="col-md-6 flotlefttop">
          <button type="button" class="backcombut"  (click)="back()" >BACK</button> 
       <button type="button" class="topbutcs backcombut" *ngIf="show"  (click)="export()" >EXPORT TO EXCEL</button> 
      </div>
</div>
<div class="card tablecarddiv" *ngIf="show">
  <div class="table-responsive">
    <table #table1 id="table1" class="table table-bordered" cellpadding="0" border="0" cellpadding="0" cellspacing="0">
      <thead>
        <tr class="tralign" >
          <th class="textcp" rowspan="3">
            EMPLOYEE ID
          </th>
           <th class="textcp" rowspan="3">
            EMPLOYEE NAME
          </th>
           <th class="textcp" rowspan="3">
            DEPARTMENT
          </th>
           <th class="textcp" rowspan="3">
            BAND
          </th>
           <th class="textcp" rowspan="3">
            BUSINESS GROUP
          </th>
           <th class="textcp" rowspan="3">
            RM CODE
          </th>
          <th class="textcp" rowspan="3">
            RM EMAIL
          </th>
          <th class="textcp" *ngFor="let item of finalCourseData" [attr.colspan] ="item.count" >
            {{item.course}}
           </th>
         </tr>
          <tr class="tralign">
          <th class="textcp" *ngFor="let item of finalModuleData" [attr.colspan]="item.act.length">
             {{item.modname}}
          </th>
         </tr>
          <tr >
          <th class="textcp" *ngFor="let item of finalActivityData">
            {{item}}
          </th>
         </tr>
       
      </thead>
      <tbody>

     
        <tr *ngFor="let item of fianlData" class="tralign">
           <td>{{item.code}}</td>
           <td>{{item.name}}</td>
           <td>{{item.department}}</td>
           <td>{{item.band}}</td>
           <td>{{item.business}}</td>
           <td>{{item.rmcode}}</td>
           <td>{{item.rmemail}}</td>
          <td *ngFor="let data of item.copmdata">{{data}}</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
     <div class="col-md-12" *ngIf="!show">
          <p class="nodata"> No Data Found</p>
      </div>