<app-subheader [headerConfig]="header" (inputsearch)="searchData($event)" (Clear)="clear()" (addbtn)="popupModal('',0)" (backClick)="back()"></app-subheader>

<div class="badges_container">
    <div class="badges_div">
        <!-- <div class="top_header_container">
            <div class="top_header_div_sticky content_width">
              <div class="page_title">
                <h4>Badges</h4>
              </div>
              <div class="search_div">
                <input type="text" (keyup)="SarchFilter($event, searchtext)"
                  [(ngModel)]="searchtext" class="form-control search_field" placeholder="Search by badge name">
                <i class="fa fa-remove remove_icon" aria-hidden="true" (click)="clear()" ></i>
              </div>
              <div class="buttons_div">
                <button type="button" class="constantbtn-button-blue-left " (click)="popupModal('',0)">Add
                Badge</button>
                <button type="submit" class="back_button " (click)="back()">Back</button>
              </div>
            </div>
          </div> -->

        <!-- <div class="multiple_category_card_container" *ngIf="!Nodatafound">
            <div class="content_width"  *ngIf="skeleton">
              <div class="cards_container" *ngIf="!nobadges">
                <div class="singel_card" *ngFor="let item of badgelist ;let i=index">
                  <div class="overlay_hidden" [hidden]="item.visible == 1">
                    <i title="Disabled" id="enable_{{item.visible}}" class="fa fa-eye-slash" aria-hidden="true"
                      (click)="disableBadge(i,item,false)"></i>
                  </div>
                  <div class="singel_card_image pointer" *ngIf="item.badgeIcon"
                    [ngStyle]="{'background-image': 'url(' + item.badgeIcon + ')'}" (click)="popupModal(item,1)">
                  </div>
                  <div class="singel_card_image not_found pointer" *ngIf="!item.badgeIcon" (click)="popupModal(item,1)">
                  </div>
                  <div class="card_title pointer" (click)="popupModal(item,1)">
                    <div class="" title="{{item.badgeName}}" *ngIf="item.badgeName.length <= 15">
                      {{item.badgeName}}</div>
                    <div class="" title="{{item.badgeName}}" *ngIf="item.badgeName.length > 15">
                      {{item.badgeName.substring(0,15)}}...</div>
                  </div>
                  <div class="card_subtitle pointer" (click)="popupModal(item,1)">
                    <div class="" title="{{item.description}}" *ngIf="item.description.length <= 30">
                        {{item.description}}</div>
                    <div class="" title="{{item.description}}" *ngIf="item.description.length > 30">
                        {{item.description.substring(0,30)}}...</div>
                  </div>

                  <div class="user-icon pointer">
                    <div class="icons-enable-disable" title="Edit" (click)="popupModal(item,1)">
                      <i aria-hidden="true" class="fa fa-edit"></i>
                    </div>
                    <div class="icons-enable-disable">
                      <i title="Enabled" id="disable_{{item.visible}}" class="fa fa-eye" aria-hidden="true"
                        (click)="disableBadge(i,item,true)" [hidden]="item.visible == 0"></i>
                      <i title="Disabled" id="enable_{{item.visible}}" class="fa fa-eye-slash" aria-hidden="true"
                        (click)="disableBadge(i,item,false)" [hidden]="item.visible == 1"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div> -->

        <!-- [ngStyle]="{ height: conentHeight }" style="overflow-y: auto" -->
        <ngx-no-data *ngIf="Nodatafound" [config]="noDataVal"></ngx-no-data>
        <div (scroll)="onScroll(scrollMe)" #scrollMe class="overflow_scroll_cards_container" *ngIf="Nodatafound|| skeleton">
            <div *ngFor="let item of displayArray;let i=index">
                <ngx-card (disabled)="clickTodisable(item)" [cardsList]="item" [config]="cardModify" (gotoDetails)="gotoCardaddedit(item)"></ngx-card>
            </div>
        </div>
        <app-skeleton [count]='count' *ngIf="!skeleton"></app-skeleton>
        <!-- <table *ngIf="!skeleton">
            <tr>
                <div class="multiple_category_card_container">
                    <div class="content_width">
                        <div class="cards_container">
                            <td>
                                <div class="singel_card">
                                    <div class="gravatar">
                                        <ngx-skeleton-loader [theme]="{ width: '216px', height: '100px','margin': '5px' }">
                                        </ngx-skeleton-loader>
                                    </div>
                                    <div class="gravatar-title">
                                        <ngx-skeleton-loader [theme]="{
                                                        width: '170px',
                                                        height: '40px'
                                                      }"></ngx-skeleton-loader>
                                    </div>
                                    <div class="gravatar-title">
                                        <ngx-skeleton-loader [theme]="{
                                                        width: '170px',
                                                        height: '40px'
                                                      }"></ngx-skeleton-loader>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="singel_card">
                                    <div class="gravatar">
                                        <ngx-skeleton-loader [theme]="{ width: '216px', height: '100px','margin': '5px' }">
                                        </ngx-skeleton-loader>
                                    </div>
                                    <div class="gravatar-title">
                                        <ngx-skeleton-loader [theme]="{
                                                        width: '170px',
                                                        height: '40px'
                                                      }"></ngx-skeleton-loader>
                                    </div>
                                    <div class="gravatar-title">
                                        <ngx-skeleton-loader [theme]="{
                                                        width: '170px',
                                                        height: '40px'
                                                      }"></ngx-skeleton-loader>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="singel_card">
                                    <div class="gravatar">
                                        <ngx-skeleton-loader [theme]="{ width: '216px', height: '100px','margin': '5px'}">
                                        </ngx-skeleton-loader>
                                    </div>
                                    <div class="gravatar-title">
                                        <ngx-skeleton-loader [theme]="{
                                                        width: '170px',
                                                        height: '40px'
                                                      }"></ngx-skeleton-loader>
                                    </div>
                                    <div class="gravatar-title">
                                        <ngx-skeleton-loader [theme]="{
                                                        width: '170px',
                                                        height: '40px'
                                                      }"></ngx-skeleton-loader>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="singel_card">
                                    <div class="gravatar">
                                        <ngx-skeleton-loader [theme]="{ width: '216px', height: '100px','margin': '5px'}">
                                        </ngx-skeleton-loader>
                                    </div>
                                    <div class="gravatar-title">
                                        <ngx-skeleton-loader [theme]="{
                                                        width: '170px',
                                                        height: '40px'
                                                      }"></ngx-skeleton-loader>
                                    </div>
                                    <div class="gravatar-title">
                                        <ngx-skeleton-loader [theme]="{
                                                        width: '170px',
                                                        height: '40px'
                                                      }"></ngx-skeleton-loader>
                                    </div>
                                </div>
                            </td>
                        </div>
                    </div>
                </div>
            </tr>
            <tr>
                <div class="multiple_category_card_container">
                    <div class="content_width">
                        <div class="cards_container">
                            <td>
                                <div class="singel_card">
                                    <div class="gravatar">
                                        <ngx-skeleton-loader [theme]="{ width: '216px', height: '100px','margin': '5px'}">
                                        </ngx-skeleton-loader>
                                    </div>
                                    <div class="gravatar-title">
                                        <ngx-skeleton-loader [theme]="{
                                                            width: '170px',
                                                            height: '40px'
                                                          }"></ngx-skeleton-loader>
                                    </div>
                                    <div class="gravatar-title">
                                        <ngx-skeleton-loader [theme]="{
                                                            width: '170px',
                                                            height: '40px'
                                                          }"></ngx-skeleton-loader>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="singel_card">
                                    <div class="gravatar">
                                        <ngx-skeleton-loader [theme]="{ width: '216px', height: '100px','margin': '5px'}">
                                        </ngx-skeleton-loader>
                                    </div>
                                    <div class="gravatar-title">
                                        <ngx-skeleton-loader [theme]="{
                                                            width: '170px',
                                                            height: '40px'
                                                          }"></ngx-skeleton-loader>
                                    </div>
                                    <div class="gravatar-title">
                                        <ngx-skeleton-loader [theme]="{
                                                            width: '170px',
                                                            height: '40px'
                                                          }"></ngx-skeleton-loader>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="singel_card">
                                    <div class="gravatar">
                                        <ngx-skeleton-loader [theme]="{ width: '216px', height: '100px','margin': '5px'}">
                                        </ngx-skeleton-loader>
                                    </div>
                                    <div class="gravatar-title">
                                        <ngx-skeleton-loader [theme]="{
                                                            width: '170px',
                                                            height: '40px'
                                                          }"></ngx-skeleton-loader>
                                    </div>
                                    <div class="gravatar-title">
                                        <ngx-skeleton-loader [theme]="{
                                                            width: '170px',
                                                            height: '40px'
                                                          }"></ngx-skeleton-loader>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="singel_card">
                                    <div class="gravatar">
                                        <ngx-skeleton-loader [theme]="{ width: '216px', height: '100px','margin': '5px'}">
                                        </ngx-skeleton-loader>
                                    </div>
                                    <div class="gravatar-title">
                                        <ngx-skeleton-loader [theme]="{
                                                            width: '170px',
                                                            height: '40px'
                                                          }"></ngx-skeleton-loader>
                                    </div>
                                    <div class="gravatar-title">
                                        <ngx-skeleton-loader [theme]="{
                                                            width: '170px',
                                                            height: '40px'
                                                          }"></ngx-skeleton-loader>
                                    </div>
                                </div>
                            </td>
                        </div>
                    </div>
                </div>
            </tr>
        </table> -->


        <!-- <div *ngIf="nobadges ">
            <div class="NoDataDiv">
                No Badges Found.
            </div>
        </div> -->
    </div>


    <!-- <div *ngIf="Nodatafound">
        <div class="NoDataDiv">
            No Data Found.
        </div>
    </div> -->



    <ngx-sidebar-form *ngIf="addPopup" [sidebarTitle]="badgeTitle" [buttonName]="btnName" (saveBtn)="Submit(badge, badgeForm)" (outside)="closeModal()" (closeBtn)="closeModal()">

        <!-- <div class="deleteModalBackdrop" [hidden]="!addPopup "> -->
        <form class="forms-sample" #badgeForm="ngForm">
            <!-- <div class="addSelfDemoModal2">
                <div class="modal-header">
                    <span *ngIf="Add">Add a new badge</span>
                    <span *ngIf="!Add">Edit badge</span>
                    <button class="close" aria-label="Close" (click)="closeModal()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                </div> -->
            <div class="modal-body">

                <div class="container2">

                    <div class="row">
                        <div class="col-md-12">
                            <label class="side-form-label">{{helpContent?.add_edit_badge?.category_name.label}}
                                    <app-info-tooltip [description]="helpContent?.add_edit_badge?.category_name?.labelHelpContent">
                                    </app-info-tooltip>
                                  </label>
                            <!-- <label for="">
                                    {{helpContent?.add_edit_badge?.category_name.label}}
                                    <sup class="required_mark">*</sup>
                                    <div class="help-tooltip">
                                        <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                                        <div class="help-tooltip-position-right">
                                        <p>{{helpContent?.add_edit_badge?.category_name?.labelHelpContent}}</p>
                                        <i></i>
                                        </div>
                                    </div>
                                </label> -->
                            <!-- <p>{{catName}}</p> -->
                            <input type="text" class="form-control commonInput" id="catname" name="catname" [(ngModel)]="catName" disabled>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label class="side-form-label">{{helpContent?.add_edit_badge?.badge_name.label}}<sup>&#x2731;</sup>
                                    <app-info-tooltip [description]="helpContent?.add_edit_badge?.badge_name?.labelHelpContent">
                                    </app-info-tooltip>
                                  </label>
                            <!-- <label for="">
                                    {{helpContent?.add_edit_badge?.badge_name.label}}
                                    <sup class="required_mark">*</sup>
                                    <div class="help-tooltip">
                                        <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                                        <div class="help-tooltip-position-right">
                                        <p>{{helpContent?.add_edit_badge?.badge_name?.labelHelpContent}}</p>
                                        <i></i>
                                        </div>
                                    </div>
                                </label> -->
                            <input type="text" class="form-control commonInput" id="name" name="name" required [(ngModel)]="badge.name" #name="ngModel" placeholder="Max 50 characters" minlength="2" maxlength="50">
                            <!-- <div *ngIf="name.errors && (name.dirty || name.touched)" class="alert alert-danger">
                                    <div [hidden]="!name.errors.required">Badge name is required</div>
                                    <div [hidden]="!desc.errors.minlength">Maximum 50 characters are allowed.</div>
                                </div> -->

                            <div *ngIf="name.errors && (name.dirty || name.touched)">
                                <small class="invalid-msg" [hidden]="!name.errors.required">Badge name is required</small>
                                <small class="invalid-msg" [hidden]="!name.errors.minlength">Minimum 2 characters required</small>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label class="side-form-label">{{helpContent?.add_edit_badge?.description.label}}<sup>&#x2731;</sup>
                                    <app-info-tooltip [description]="helpContent?.add_edit_badge?.description?.labelHelpContent">
                                    </app-info-tooltip>
                                  </label>
                            <!-- <label for="">
                                    {{helpContent?.add_edit_badge?.description.label}}
                                    <sup class="required_mark">*</sup>
                                    <div class="help-tooltip">
                                        <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                                        <div class="help-tooltip-position-right">
                                        <p>{{helpContent?.add_edit_badge?.description?.labelHelpContent}}</p>
                                        <i></i>
                                        </div>
                                    </div>
                                </label> -->
                            <textarea type="text" class="form-control commonTextarea" id="desc" name="desc" required [(ngModel)]="badge.desc" #desc="ngModel" placeholder="Min 20 and Max 500 characters" maxlength="500" minlength="20"></textarea>
                            <!-- <div *ngIf="desc.errors && (desc.dirty || desc.touched)" class="alert alert-danger">
                                    <div [hidden]="!desc.errors.required">Description is required</div>
                                    <div [hidden]="!desc.errors.minlength">Minimum 20 and maximum 500 characters required</div>
                                </div> -->

                            <div *ngIf="desc.errors && (desc.dirty || desc.touched)">
                                <small class="invalid-msg" [hidden]="!desc.errors.required">Description is required</small>
                                <small class="invalid-msg" [hidden]="!desc.errors.minlength">Minimum 20 characters required</small>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <label class="side-form-label">{{helpContent?.add_edit_badge?.tags.label}}<sup>&#x2731;</sup>
                                    <app-info-tooltip [description]="helpContent?.add_edit_badge?.tags?.labelHelpContent">
                                    </app-info-tooltip>
                                  </label>
                        <!-- <label class="col-md-12" for="addTags">
                                {{helpContent?.add_edit_badge?.tags.label}}
                                <sup class="required_mark">*</sup>
                                <div class="help-tooltip">
                                    <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                                    <div class="help-tooltip-position-right">
                                    <p>{{helpContent?.add_edit_badge?.tags?.labelHelpContent}}</p>
                                    <i></i>
                                    </div>
                                </div>
                            </label> -->
                        <div id="">
                            <angular2-multiselect id="exampleInputTags4" [data]="tagList" [(ngModel)]="selectedTags" [settings]="settingsTagDrop" required #tags="ngModel" (onSelect)="onTagsSelect($event)" class="select_field_height" (onDeSelect)="OnTagDeSelect($event)" name="selectedTags"
                                ngDefaultControl>
                                <!-- <c-search>
                                  <ng-template>
                                    <input type="text" (keyup)="onTagSearch($event)"
                                      placeholder="Search Tags"
                                      style="border: none;width: 100%; height: 100%;outline: none;" />
                                  </ng-template>
                                </c-search> -->
                                <c-item>
                                    <ng-template let-item="item">
                                        <label class="multiselect-label">{{item.name}}</label>
                                    </ng-template>
                                </c-item>
                            </angular2-multiselect>
                            <div *ngIf="tags.errors && (tags.dirty || tags.touched)">
                                <small class="invalid-msg" [hidden]="!tags.errors.required">Tag is required</small>
                            </div>
                        </div>
                        <span></span>
                    </div>
                </div>


                <div class="container3">
                    <label class="side-form-label">{{helpContent?.add_edit_badge?.badge_image.label}}
                            <app-info-tooltip [description]="helpContent?.add_edit_badge?.badge_image?.labelHelpContent">
                            </app-info-tooltip>
                          </label>
                    <!-- <label>
                            {{helpContent?.add_edit_badge?.badge_image.label}}
                            <sup class="required_mark">*</sup>
                            <div class="help-tooltip">
                                <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                                <div class="help-tooltip-position-right">
                                <p>{{helpContent?.add_edit_badge?.badge_image?.labelHelpContent}}</p>
                                <i></i>
                                </div>
                            </div>
                          </label> -->
                    <div class="course-icon">
                        <div class="m0 courseIcon-upload">
                            <div class="courseIcon-edit">
                                <input type='file' id="imageUploadBadge" accept=".png, .jpg, .jpeg" (change)="readBadgeThumb($event)" />
                                <label for="imageUploadBadge" class="editLabel"></label>
                            </div>
                            <div class="courseIcon-delete" (click)="deleteBadgeThumb()">
                                <label class="deleteLabel"></label>
                            </div>
                            <div class="courseIcon-preview">
                                <!-- <div id="imagePreview" [ngStyle]="{'background-image': 'url(' + badge.badgeIcon + ')'}"> -->
                                <img class="imgAddEdit" *ngIf="badge.ico" src="{{badge.ico}}">
                                <img class="imgAddEdit" *ngIf="!badge.ico" src="assets/images/badgeNew.png">

                                <small class="invalid-msg" *ngIf="fileexterror">File format not supported.</small>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- 
                <div class="modal-footer text-right">
                    <button class="constantbtn-button-blue-right" (click)="Submit(badge, badgeForm)">Save</button>
                </div>
            </div> -->
        </form>

        <!-- </div> -->
    </ngx-sidebar-form>

    <div class="deleteModalBackdrop" *ngIf="enableDisableBadgeModal == true">
        <div class="deleteModal">
            <div class="modal-header deleteModalHeader">
                <p *ngIf="!enableCat" class="enableDisableModalHeaderP">{{title}}</p>
                <p *ngIf="enableCat" class="enableDisableModalHeaderP">{{title}}</p>
                <button class="close closeDeleteModalBtn" aria-label="Close" (click)="closeEnableDisableBadgeModal()">
        <span aria-hidden="true">&times;</span>
      </button>
            </div>

            <div class="modal-body">
                <div class="" *ngIf="!enableCat">
                    <!-- {{enableDisableCategoryData.badgeName}} -->
                    <p class="enableDisableModalBodyP">Are you sure you want to enable this badge ?</p>
                </div>
                <div class="" *ngIf="enableCat">
                    <!-- {{enableDisableCategoryData.badgeName}} -->
                    <p class="enableDisableModalBodyP">Are you sure you want to disable this badge ?</p>
                </div>
            </div>

            <div class="modal-footer text-right">
                <div class="">
                    <button type="button" class="constantbtn-button-blue-left" (click)="enableDisableCategoryAction(true)">Yes</button>
                </div>
                <div class="">
                    <button type="button" class="constantbtn-button-blue-right" (click)="enableDisableCategoryAction(false)">No</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ************************************  OLD CODE  ************************************* -->

<!-- <div class="gamidivBadge col-md-12 sticky-top">
    <div class="col-md-6 gamiSubdiv2" >
    <h3 class="heading">Badges</h3>
    </div>

    <div class="col-md-6 text-right" style="padding: 0;">
    <button type="button" class=" constantbtn-button-blue-left" (click)="popupModal('',0)">Add Badges</button>
    <button type="button" class="constantbtn-button-blue-right" (click)="back()" id="editbtnEnroll">Back</button>
    </div>
</div>


<div class="widgets" *ngIf="!Nodatafound">

<div *ngIf="!nobadges" ba-panel ba-panel-class="with-scroll">
    <section id="feature sec" class="section01">
        <div class="row col-md-12 catrow">
            <div *ngFor="let item of rows ; let i=index" class="card col-md-3">
                <div>
                    <a *ngIf="!item.badgeIcon" style="cursor: pointer;">
                        <img src='assets/images/badgeNew.png'>
                    </a>
                    <a *ngIf="item.badgeIcon" style="cursor: pointer;">
                        <img src={{item.badgeIcon}}>
                    </a>
                </div>

                <div>
                    <div class="catsep">
                        <p class="toolcatp1 tooltip1">{{item.badgeName}}</p>
                    </div>
                    <div class="col-sm-12" style="height: 70px;border-bottom: 1px solid #f1f5f8;">
                        <p class="catdesp" title="{{item.description}}">{{item.description | slice:0:100}}</p>
                    </div>
                </div>

                <div class="col-sm-12 card-footer-main">
                    <div class="col-sm-6 card-footer-sub">
                        <div class="" title="Edit" (click)="popupModal(item,1)">
                            <i class="fa fa-edit card-footer-icon pointer" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="col-sm-6 card-footer-sub">
                        <div class="">
                            <i title="Enabled" id="disable_{{item.visible}}"
                                class="fa fa-eye card-footer-icon pointer" aria-hidden="true"
                                (click)="disableBadge(i,item,true)" [hidden]="item.visible == 0"></i>
                            <i title="Disabled" id="enable_{{item.visible}}"
                                class="fa fa-eye-slash card-footer-icon pointer" aria-hidden="true"
                                (click)="disableBadge(i,item,false)" [hidden]="item.visible == 1"></i>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section>
</div>
<div *ngIf="nobadges">
    <div class="NoDataDiv">
        No Badges Found.
    </div>
</div>

</div> -->