@import '../../../@theme/styles/variable.scss';
.badges_container {
    // .widgets123{
    //   margin-bottom:20px; 
    // }
    // .ngx-datatable.fixed-header .datatable-header .datatable-header-inner .datatable-header-cell {
    //   white-space: nowrap;
    //   overflow: hidden;
    //   text-overflow: ellipsis;
    //   text-align: center;
    // }
    // .ngx-datatable.material .datatable-body .datatable-body-row{
    //   border-bottom: 1px solid #e0e0e0;
    // }
    // .ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell {
    //   text-align: center;
    // }
    // .catdesp{
    //   color: black;
    // }
    // .catrow {
    //   height: auto;
    //   width: 100%;
    //   display: inline-flex;
    //   margin: 0px;
    //   padding: 0px;
    // }
    .imgAddEdit {
        // width: inherit;
        height: 150px;
        width: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        // height: -webkit-fill-available;
        //border-radius: 50%;
    }
    .required_mark {
        font-size: 20px;
        font-weight: 100;
        top: -0.3em;
        color: #ed462f;
    }
    // .catrow>div {
    //   // width: 100%;
    //   // padding: 0;
    //   // margin:3%;
    //   // height: 100%;
    //   width: 100%;
    //   padding: 0;
    //   margin: 4% 0 0 4%;
    //   height: 100%;
    //   flex: 0 0 20%;
    //   a {
    //       text-align: center;
    //   }
    //   a>img {
    //       // width: 100%;
    //       width: 100%;
    //       // height: 100%;
    //       height: 125.656px;
    //       // height: 190px;
    //   }
    //   div {
    //       width: 100%;
    //       // margin: 0.7rem 0;
    //       .toolcatp1 {
    //           text-align: center;
    //           margin: 1% 0% !important;
    //           // width: 92%;
    //           width: 100%;
    //           cursor: pointer;
    //           font-size: 16px;
    //           font-weight: 500;
    //           color: black;
    //       }
    //       .toolcat1 {
    //           width: 8%;
    //           float: right;
    //           margin: 3% 0% !important;
    //       }
    //   }
    // }
    // .catsep {
    //   border-bottom: 1px solid #f1f5f8;
    //   margin-bottom: 5px;
    // }
    // .heding{
    //   margin: 0;
    // }
    .NoDataDiv {
        position: fixed;
        top: 50%;
        left: 52%;
    }
    .fileexterrclass {
        text-align: -webkit-center;
        color: brown;
        /* margin: auto; */
        margin: 5px;
    }
    // .gamidivBadge {
    //   /* margin-left: 30px; */
    //   /*margin-top: 8px;*/
    //   transform: none;
    //   background: #fff;
    //   height: 55px;
    //   margin: 0 ;
    //   padding: 13px;
    //   position: sticky;
    //   top: 67px;
    //    z-index: 1090;
    // }
    // .mydatatable{
    //   margin: 15px;
    //   top: 15px;
    // }
    // .descriptionText{
    //   text-align: justify;
    //   line-height: 20px;
    // }
    // .myIcon{
    //   width: 50px;
    //   height: 50px;
    // }
    // .sticky-topBadge {
    //   position: sticky;
    //  top: 67px;
    //   z-index: 1090;
    // }
    // .gamiSubdiv2 {
    //   float: left;
    // }
    // .floterightgami {
    //   float: right;
    // }
    // #editbtnEnroll {
    //   margin: 0 10px;
    //   border-radius: 0;
    //   background: #076ba1;
    //   color: #fff;
    //   border: #076ba1;
    //   height: 28px;
    //   /*width: 92px;*/
    //   color: #ffffff;
    //   background-color: #076ba1;
    //   background-image: none;
    //   border-color: #076ba1;
    //   transform: none;
    // }
    //    Popup modal
    // .addSelfBackdrop2{
    //   position: absolute;
    //     width: 100%;
    //     height: 100%;
    //     top: 67px;
    //     padding: 0;
    //     background-color: #404040c2;
    //     z-index: 2000;
    //     box-sizing: border-box;
    // }
    .addSelfDemoModal2 {
        margin: auto;
        width: 50%;
        background-color: #fff;
        border-radius: 5px;
        margin-top: 2%;
    }
    .modal-header {
        background-color: #076ba1;
        height: 55px;
        color: #fff !important;
    }
    .form-control {
        -webkit-box-shadow: none;
        box-shadow: none;
        border: 1px solid #dadfe6;
    }
    // .constantbtn{
    //   width: auto !important;
    //   border: none;
    //   padding: 6px 14px !important;
    //   background-color: #076ba1 !important;
    //   color: #fff !important;
    //   text-transform: uppercase !important;
    //   min-width: 90px !important;
    //   max-height: 29px !important;
    // }
    // .constantBackbtn{
    //   width: auto !important;
    //   border: none;
    //   padding: 6px 14px !important;
    //   background-color: #bbc0c3 !important;
    //   color: #fff !important;
    //   text-transform: uppercase !important;
    //   min-width: 90px !important;
    //   max-height: 29px !important;
    // }
    .close {
        float: right;
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1;
        color: #fff !important;
        text-shadow: 0 1px 0 #fff;
        opacity: .5;
        outline: none;
    }
    .modal-footer {
        height: 55px;
    }
    .modal-body .row {
        margin: 20px 0 !important;
    }
    .modal-body {
        position: relative;
        padding: 0 !important;
        display: flex;
        box-sizing: border-box;
    }
    // .datepicker1 input[type=Date]::-webkit-inner-spin-button{
    //     -webkit-appearance: none;
    // }
    // .floterightRulesSubmit {
    //   float: right;
    //   background-color: royalblue;
    //   color: #fff !important;
    //   border-radius: none !important; 
    // }
    // .floterightRulesSubmit:hover{
    //   color: black !important;
    // }
    .course-icon {
        margin: 0 auto;
    }
    .courseIcon-upload {
        position: relative;
        max-width: 250px;
        /*margin: 50px auto;*/
        .courseIcon-edit {
            // position: absolute;
            // right: 12px;
            // z-index: 1;
            // top: 10px;
            position: absolute;
            z-index: 1;
            bottom: 10px;
            left: 14px;
            input {
                display: none;
                +.editLabel {
                    display: inline-block;
                    width: 34px;
                    height: 34px;
                    margin-bottom: 0;
                    border-radius: 100%;
                    background: #FFFFFF;
                    border: 1px solid transparent;
                    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
                    cursor: pointer;
                    font-weight: normal;
                    transition: all .2s ease-in-out;
                    &:hover {
                        background: #f1f1f1;
                        border-color: #d6d6d6;
                    }
                    &:after {
                        content: "\f040";
                        font-family: 'FontAwesome';
                        // color: #757575;
                        color: var(--colorIcons);
                        position: absolute;
                        top: 10px;
                        left: 0;
                        right: 0;
                        text-align: center;
                        margin: auto;
                    }
                }
            }
        }
        .courseIcon-delete {
            // position: absolute;
            // right: 12px;
            // z-index: 1;
            // bottom: 10px;
            position: absolute;
            right: 20px;
            z-index: 1;
            bottom: 10px;
            .deleteLabel {
                display: inline-block;
                width: 34px;
                height: 34px;
                margin-bottom: 0;
                border-radius: 100%;
                background: #FFFFFF;
                border: 1px solid transparent;
                box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
                cursor: pointer;
                font-weight: normal;
                transition: all .2s ease-in-out;
                &:hover {
                    background: #f1f1f1;
                    border-color: #d6d6d6;
                }
                &:after {
                    content: "\f1f8";
                    font-family: 'FontAwesome';
                    // color: #757575;
                    color: var(--colorIcons);
                    position: absolute;
                    top: 10px;
                    left: 0;
                    right: 0;
                    text-align: center;
                    margin: auto;
                }
            }
        }
        .courseIcon-preview {
            // width: 192px;
            // height: 192px;
            width: 100%;
            height: 160px;
            position: relative;
            -webkit-box-shadow: 3px 4px 4px 2px rgba(0, 0, 0, 0.1);
            box-shadow: 3px 4px 4px 2px rgba(0, 0, 0, 0.1);
            border: 6px solid #f8f8f8;
            margin: 0;
            >div {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
            }
        }
    }
    .container2 {
        width: 60%;
        padding: 0 10px;
    }
    .container3 {
        width: 40%;
        padding: 20px;
    }
    .tagContainer .bootstrap.ng2-tag-input {
        display: block;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap !important;
        position: relative;
        cursor: text;
        margin-left: 20px;
        border-bottom: 2px solid #efefef !important;
    }
    .tag__text[_ngcontent-c12] {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-top: -2px;
    }
    delete-icon[_nghost-c14] {
        width: 20px;
        margin-top: -2px;
        height: 16px;
        -webkit-transition: all .15s;
        transition: all .15s;
        display: inline-block;
        text-align: right;
    }
    // .filterbtn{
    //   padding: 7px;
    //   background-color: #0275d8;
    //   color: #fff;
    //   border: none;
    // }
    .enableDisableModalBodyP {
        margin: 1rem;
    }
    @media (max-width: 991px) {
        .container3 {
            padding: 8% 0;
        }
        .courseIcon-upload .courseIcon-preview {
            width: 110px;
            height: 110px;
        }
        .courseIcon-upload .courseIcon-preview>div {
            width: 100px;
            height: 100px;
        }
        .courseIcon-upload .courseIcon-delete label {
            margin-bottom: -20px;
        }
        .courseIcon-upload .courseIcon-edit {
            top: -9px;
        }
    }
    .heading {
        margin-top: 0px;
    }
    @import '../../../@theme/styles/variable.scss';
    .badges_div {
        .content_width {
            width: 78vw;
            margin: 0 auto;
        }
        .top_header_container {
            background: #fff;
            position: sticky;
            top: 4.75rem;
            z-index: 1020;
            .top_header_div_sticky {
                background: #fff;
                display: grid;
                grid-template-columns: 0.5fr 1fr 1fr;
                height: 50px;
                align-items: center;
                .page_title {
                    text-align: left;
                    h4 {
                        margin: 0;
                    }
                }
                .search_div {
                    display: grid;
                    grid-template-columns: auto 20px;
                    border: 1px solid $border_color;
                    .search_field {
                        height: 30px;
                        border: none !important;
                        box-shadow: none;
                        padding: 0 10px;
                        &::placeholder {
                            font-size: 14px;
                        }
                    }
                    .remove_icon {
                        line-height: 30px;
                    }
                }
                // .filter_div{
                //     // display: grid;
                //     // grid-template-columns: 1fr 1fr;
                //     // grid-column-gap: 10px;
                //     align-items: center;
                //     .drop_down{
                //         border: 1px solid $border_color;
                //         .drop_down_select{
                //             height: 30px;
                //             border: none;
                //             box-shadow: none;
                //         }
                //     }
                //     .search_div{
                //         display: grid;
                //         grid-template-columns: auto 20px;
                //         border: 1px solid $border_color;
                //         .search_field{
                //             height: 30px;
                //             border: none !important;
                //             box-shadow: none;
                //         }
                //         .remove_icon{
                //             line-height: 30px;
                //         }
                //     }
            }
            .buttons_div {
                text-align: right;
            }
        }
    }
    .multiple_category_card_container {
        background: $background_for_card_container;
        margin: 5px 20px 30px;
        width: 95%;
        // margin: auto;
        .cards_container {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-column-gap: 30px;
            grid-row-gap: 30px;
            .singel_card {
                position: relative;
                background: #fff;
                text-align: center;
                box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
                border-radius: 10px;
                .overlay_hidden {
                    position: absolute;
                    background: rgba(0, 0, 0, 0.5);
                    height: 100%;
                    width: 100%;
                    display: grid;
                    align-items: center;
                    font-size: 30px;
                    color: #fff;
                    border-radius: 10px;
                    i {
                        cursor: pointer;
                    }
                }
                // border-bottom-left-radius: 10px ;
                // border-bottom-right-radius: 10px;
                // box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
                .singel_card_image {
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                    height: 150px;
                    width: 100%;
                    background-position: center;
                    background-size: cover;
                    //    background
                }
                .card_title {
                    padding: 10px !important;
                    border-top: 1px solid $border_color;
                    border-bottom: 1px solid $border_color;
                    color: #000;
                    font-size: $font_size_for_cards;
                }
                .card_subtitle {
                    font-size: 14px;
                    padding: 10px !important;
                    // border-top: 1px solid #F1F5F8;
                    border-bottom: 1px solid $border_color;
                    color: #000;
                }
                .user-icon {
                    display: grid;
                    grid-template-columns: auto auto;
                    height: 40px;
                    align-items: center;
                    .icons-enable-disable {
                        border-right: 1px solid $border_color;
                        color: $icon_font_color;
                        font-size: 20px;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
                .content-icons {
                    text-align: center;
                    border-bottom: 1px solid $border_color;
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    align-items: center;
                }
                .para_margin_0 {
                    margin: 0;
                }
            }
            .not_found {
                background-image: url('assets/images/badgeNew.png');
            }
        }
    }
}

.gravatar {
    margin-top: 10px;
    width: 60px;
    // height: 90px;
}

.gravatar-title {
    // width: 100px;
    padding: 16px 25px 0px;
    // height: 80px;
}