<div class="row m0 formGen">
  <div class="col-md-12">
    <div class="col-md-4 grid-margin stretch-card formGenCard" [ngClass]="{'col-md-4': isActive == true,'col-md-12': isActive == false}" style="float: left;">
      <div class="card cardForm divScrollTopicList" data-spy="scroll">
        <div class="pad0" *ngFor="let topic of topicResult | filterBy: search; let j = index" [ngClass]="{'activeTopic': activeItemId == topic.tid}">
          
          <div class="col-md-12 card-body">
            <div class="col-md-12 mainHeadDiv" style="float: none;" >
              <div class="col-md-6 topRemoveHead" (click)="activeButtonTop(topic,1);setActiveItem(j,topic)">
                <h4 class="topicHead" [(ngModel)]="formdataTopic1.name" name="tName" #name="ngModel" ngDefaultControl>{{topic.name}}</h4>
              </div>
              <div class="col-md-6 colpad addResBut">
                <div class="btn-toolbar btnTool">
                  <div class="btn-group">
                    <button type="submit" class="" (click)="addResource(topic)" id="addbtn" style="float: right;">Add Resourse</button>
                    <button class="toolBut" (click)="removeTopic(topic)">
                      <i class="fa fa-close"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <hr class="topicSeprator" />

            <div style="padding-top: 20px;">  
              <div class="form-group" style="padding-left: 0;margin-bottom: 0;">
                <div class="col-md-12 rowtopic" *ngFor="let module of resourse" [hidden]="topic.id != module.section" style="padding-right: 0;">
                  <div class="colpad removeResDiv">
                    <h4 class="card-title resRemoveHead" (click)="activeButtonRes(module)"  [(ngModel)]="formdataRes.rname" name="rName" #rName="ngModel" ngDefaultControl>{{module.rname}}
                      <div class="btn-toolbar btnTool" *ngIf="removeRes == true">
                        <div class="btn-group">
                          <button class="toolBut" (click)="removeResource(module)">
                            <i class="ion-close iconCancel"></i>
                          </button>
                        </div>
                      </div>  
                    </h4>
                    <hr class="resourceSeprator" />
                  </div>
                </div>
                <span></span>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>

    <div class="col-md-8 grid-margin stretch-card formCustCard" *ngIf="isActiveTop == true" style="float: right;">
      <div class="card cardForm">
        <div class="card-body">
          <h4 class="card-title topEditHead">Edit Topic
            <div class="btn-toolbar btnTool" style="">
              <div class="btn-group" style="float: left;">
                <div class="dropdown al-user-profile dropOption">
                   <a class="profile-toggle-link " id="user-profile-dd" data-toggle="dropdown" aria-expanded="false" title="Options" style="font-size: 20px;">
                       <span><i class="ion-android-more-vertical iconMore"></i></span>
                   </a>
                   <ul class="dropdown-menu top-dropdown-menu profile-dropdown dropMoreList" aria-labelledby="user-profile-dd">
                    <li class="dropdown-item dropMoreListItem" title="Tags" (click)="enableOptionTop(1)">Tags</li>
                    <hr class="topicEditSeperator" />
                    <li class="dropdown-item dropMoreListItem" title="Restrict" (click)="enableOptionTop(2)">Rules</li>
                  </ul>
                </div>
              </div>
              <div class="btn-group" style="float: right;">
                <button class="toolBut" (click)="topicAddEdit()">
                  <i class="ion-android-checkmark-circle iconSubmit"></i>
                </button>
                <button class="toolBut" (click)="closeFormTop()">
                  <i class="ion-close iconCancel"></i>
                </button>
              </div>
            </div>    
          </h4>
          <hr class="listSeperator" />
          <p class="card-description"></p>
          <!-- <form class="forms-sample"> -->
          <div class="form-group">
            <label class="left_space" for="topicName">Name</label>
            <input type="text" class="form-control" id="topicName" [(ngModel)]="formdataTopic1.name" required id="name" placeholder="Name" name="name" #name="ngModel" (ngModelChange)="updateTopName(formdataTopic)">
            <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
              <div [hidden]="!name.hasError('required')">Topic Name is required</div>
              <div [hidden]="!name.hasError('pattern')">Only alphabets allowed</div>
            </div>
            <span></span>
          </div>

          <div class="">
            <label class="left_space" for="topicDesc">Description</label>
            <!-- <div [froalaEditor] [(ngModel)]="formdataTopic1.summary" id="topicDesc"></div> -->
            <quill-editor [(ngModel)]="formdataTopic1.summary" id="topicDesc"></quill-editor>
            <!-- <quill-editor></quill-editor> -->
            <!-- <div class="card cardForm">
              <div class="card-body">
                <h4 class="card-title">Description</h4>
                <p class="card-description"></p>
                <quill-editor [(ngModel)]="formdataTopic1.summary"></quill-editor>
              </div>
            </div> -->
          </div>
          
          <div class="form-group" *ngIf="showRestrictTop == true">
            <label class="left_space" for="topicRestrict">Add Restrictions</label>
            <input type="text" class="form-control" id="topicRestrict" [(ngModel)]="formdataTopic.tTags" id="tTags" placeholder="Add Restrictions" name="tTags" #tTags="ngModel">
            <div [hidden]="tTags.valid || tTags.pristine" class="alert alert-danger">
              <!-- <div [hidden]="!rTags.hasError('required')">rTags is required</div> -->
              <div [hidden]="!tTags.hasError('pattern')">Only alphabets allowed</div>
            </div>
            <span></span>
          </div>
          <div class="form-group" *ngIf="showTagsTop == true">
            <label class="left_space" for="topicTags">Tags</label>
            <input type="text" class="form-control" #tTags="ngModel" id="topicTags" [(ngModel)]="formdataTopic.tTags" id="tTags" placeholder="Add Tag" name="tTags">
            <div [hidden]="tTags.valid || tTags.pristine" class="alert alert-danger">
              <!-- <div [hidden]="!rTags.hasError('required')">rTags is required</div> -->
              <div [hidden]="!tTags.hasError('pattern')">Only alphabets allowed</div>
            </div>
            <span></span>
          </div>
          <!-- </form> -->
        </div>
      </div>
    </div>
    <div class="col-md-8 grid-margin stretch-card formCustCard" *ngIf="isActiveRes == true" style="float: right;">
      <div class="card cardForm">
        <div class="card-body">
          <h4 class="card-title resEditHead">Edit Resource  
            <div class="btn-toolbar btnTool" id="right_align">
              <div class="btn-group" style="float: left;">
                <div class="dropdown al-user-profile dropOption">
                   <a class="profile-toggle-link " id="user-profile-dd" data-toggle="dropdown" aria-expanded="false" title="Options" style="font-size: 20px;">
                       <span><i class="ion-android-more-vertical iconMore"></i></span>
                   </a>
                   <ul class="dropdown-menu top-dropdown-menu profile-dropdown dropMoreList" aria-labelledby="user-profile-dd">
                    <li class="dropdown-item dropMoreListItem" title="Tags" (click)="enableOption(1)">Tags</li>
                    <hr class="resourceEditSeperator" />
                    <li class="dropdown-item dropMoreListItem" title="Restrict" (click)="enableOption(2)">Rules</li>
                  </ul>
                </div>
              </div>
              <div class="btn-group" style="float: right;">
                <button class="toolBut" (click)="addEditRes()">
                  <i class="fa fa-check iconSubmit"></i>
                </button>
                <button class="toolBut" (click)="closeFormRes()">
                  <i class="fa fa-close"></i>
                </button>
              </div>
            </div>    
          </h4>
          <hr class="listSeperator" />
          <p class="card-description"></p>
          <!-- <form class="forms-sample"> -->
          <div class="form-group">
            <label for="resType">Type</label>
            <select [(ngModel)]="formdataRes.rType" id="resType" class="form-control" required name="rType" #rType="ngModel">
              <option value="" selected>Select Type</option>
              <option *ngFor="let type of resType" value={{type.rTypeId}}>{{type.rTypeName}}</option>
            </select>
            <div [hidden]="rType.valid || rType.pristine" class="alert alert-danger">
              <div [hidden]="!rType.hasError('required')">Resource is required</div>
            </div>
            <span></span>
          </div>
          <div class="form-group">
            <label for="resourceName">Name</label>
            <input type="text" class="form-control" id="resourceName" [(ngModel)]="formdataRes.rName" required id="rName" placeholder="Name" name="rName" #rName="ngModel" (ngModelChange)="updateResName(formdataRes)">
            <div [hidden]="rName.valid || rName.pristine" class="alert alert-danger">
              <div [hidden]="!rName.hasError('required')">Resource Name is required</div>
              <div [hidden]="!rName.hasError('pattern')">Only alphabets allowed</div>
            </div>
            <span></span>
          </div>
          <div class="form-group">
            <label class="left_space" for="resDesc">Description</label>
            <!-- <div [froalaEditor] id="topicDesc">{{formdataTopic1.summary}}Hello, Froala!</div> -->
            <quill-editor [(ngModel)]="formdataRes.rSummary" id="resDesc"></quill-editor>
          </div>
          <div class="form-group" style="margin-bottom: 24px;">
            <div>
              <label for="filepicker-button" style="vertical-align: sub;padding-top: 9px;">Add Files</label>
              <input type="button" class="btn btn-secondary fp-btn-choose cancelButton" id="filepicker-button" value="Cancel" name="userfilechoose" (click)="cancel()" style="float: right;transform: none;">
              <div class="form-group inputFileCourse">
                <label class="sr-only" for="inputFile">File Upload</label>
                <input type="file" #fileUpload class="form-control-file text-success font-weight-bold" id="inputFile" accept=".xls,.xlsx" (change)="readUrl($event)" attr.data-title="{{fileName}}">
              </div>
              <span></span>
              <!-- <div class="cancelFile">
                <input type="button" class="btn btn-secondary fp-btn-choose cancelButton" id="filepicker-button" value="Cancel" name="userfilechoose" (click)="cancel()">
                <span></span>
              </div> -->
            </div>
            <!-- <div class="form-group inputDnD">
              <label class="sr-only" for="inputFile">File Upload</label>
              <input type="file" #fileUpload class="form-control-file text-success font-weight-bold" id="inputFile" accept=".xls,.xlsx" (change)="readUrl($event)" attr.data-title="{{fileName}}">
            </div> -->

            <span></span>
          </div>
          <div class="form-group">
            <!-- <fieldset>
                    <legend>Activity completion</legend>
                  </fieldset> -->
            <div>
              <label class="left_space" for="resType">Completion tracking</label>
              <select [(ngModel)]="formdataRes.rType" id="resType" class="form-control" name="rType" #rType="ngModel">
                <option value="" selected>Select Type</option>
                <option *ngFor="let type of compTrackType" value={{type.cTypeId}}>{{type.cTypeName}}</option>
              </select>
              <!-- <div [hidden]="rType.valid || rType.pristine"
                          class="alert alert-danger">
                      <div [hidden]="!rType.hasError('required')">Resource is required</div>
                    </div> -->
              <span></span>
            </div>
            <!-- <div>
                    <label for="id_completionview">Require view</label>
                      <input type="checkbox" name="completionview" class="" value="1" id="id_completionview" checked="" disabled="disabled"> Student must view this activity to complete it
                    <span class="text-nowrap"></span>    
                  </div> -->
          </div>
          <div class="form-group">
            <label class="left_space" for="sdate">Expect completed on</label>
            <div id="divDoj" class="input-group">
              <input class="txtHeight" [placeholder]="placeHolder" [options]="expectedDateOptions" id="sdate" [(ngModel)]="formdata.startdate" #startdate="ngx-mydatepicker" ngx-mydatepicker name="startdate" (dateChanged)="onExpectDateChange($event)" />
              <span class="input-group-btn">
                <button type="button" class="btnCal cal_icon" (click)="startdate.toggleCalendar()">
                  <!-- <i class="glyphicon glyphicon-calendar"></i> -->
                  <!-- <i class="fa fa-calendar"></i> -->
                </button>
              </span>
              <!-- {{formdata.startdate | json}} -->
            </div>
          </div>
          <!-- <span class="text-nowrap"></span> -->
          <!-- <div id="divDoj" class="mdl-left" style="">
              <my-date-picker name="sdate" [placeholder]="placeHolder" [options]="myDatePickerOptions" autocomplete="false" id="sdate" 
                [(ngModel)]="formdata.sdate"></my-date-picker>
              <span></span>
            </div>    
          </div>  -->
          <div class="form-group" *ngIf="showRestrict == true">
            <label class="left_space" for="resourceRestrict">Add Rules</label>
            <input type="text" class="form-control" id="resourceRestrict" [(ngModel)]="formdataRes.rTags" id="rTags" placeholder="Add Restrictions" name="rTags" #rTags="ngModel">
            <div [hidden]="rTags.valid || rTags.pristine" class="alert alert-danger">
              <div [hidden]="!rTags.hasError('pattern')">Only alphabets allowed</div>
            </div>
            <span></span>
          </div>
          <div class="form-group" *ngIf="showTags == true">
            <label class="left_space" for="resourceTags">Tags</label>
            <input type="text" class="form-control" id="resourceTags" [(ngModel)]="formdataRes.rTags" id="rTags" placeholder="Add Tag" name="rTags" #rTags="ngModel">
            <div [hidden]="rTags.valid || rTags.pristine" class="alert alert-danger">
              <!-- <div [hidden]="!rTags.hasError('required')">rTags is required</div> -->
              <div [hidden]="!rTags.hasError('pattern')">Only alphabets allowed</div>
            </div>
            <span></span>
          </div>
          <!-- </form> -->
        </div>
      </div>
    </div>
  </div>
</div>