<div class="row m0 formGen">
  <div class="col-md-12">
    <div class="col-md-3 grid-margin stretch-card formGenCard" [ngClass]="{'col-md-3': isActive == true,'col-md-12': isActive == false}" style="float: left;background: #fff;">
      <div class="btn-toolbar addTopicBtnTool">
          <span style="width: 100%;margin: 10px 0px 10px 10px;">
            <button type="submit" class="constantbtn" (click)="addtopic()" id="addbtn" style="float: right;">Add Module</button>
          </span>
      </div>      

      <div class="card cardForm divScrollTopicList" data-spy="scroll">
        <div class="pad0" *ngFor="let topic of topicResult | filterBy: search; let j = index" [ngClass]="{'activeTopic': activeItemId == topic.id}" [hidden]="topic.name == null">
          
          <div class="col-md-12 card-body" style="padding: 0;">
            <!-- <div class="col-md-12 mainHeadDiv">
              <div class="col-md-6 topRemoveHead" (click)="activeButtonTop(topic,1);setActiveItem(j,topic)">
                <h6 title="{{topic.name}}" class="topicHead" [(ngModel)]="formdataTopic1.name" name="tName" #name="ngModel" ngDefaultControl>{{topic.name | slice:0:8}}</h6>
              </div>
              <div class="col-md-6 colpad addResBut">
                <div class="btn-toolbar btnTool">
                  <div class="btn-group">
                    <button type="submit" class="constantbtn" (click)="addResource(topic)" id="addbtn" style="float: right;">Add Activity</button>
                    <button class="toolBut" (click)="removeTopic(topic)">
                      <i class="fa fa-close"></i>
                    </button>
                  </div>
                </div>
              </div>

            </div>
            <div style="padding-top: 20px;">  
              <div class="form-group" style="padding-left: 0;margin-bottom: 0;">
                <div class="col-md-12 rowtopic" *ngFor="let module of resourse" [hidden]="topic.id != module.tid" style="padding-right: 0;">
                  <div class="colpad removeResDiv">
                    <h6 class="card-title resRemoveHead" (click)="activeButtonRes(module)"  [(ngModel)]="formdataRes.rName" name="rName" #rName="ngModel" ngDefaultControl>{{module.rname}}
                      <div class="btn-toolbar btnTool" *ngIf="removeRes == true">
                        <div class="btn-group">
                          <button class="toolBut" (click)="removeResource(module)">
                            <i class="ion-close iconCancel"></i>
                          </button>
                        </div>
                      </div>  
                    </h6>
                    <hr class="resourceSeprator" style="margin: 0;" />
                  </div>
                </div>
                <span></span>
              </div>
            </div> -->

            <div class="modAct" id="modules">
              <ul class="modActUl">
                <li class="modActLi" *ngFor="let topic of topicResult | filterBy: search; let i = index" [hidden]="topic.name == null">
                  <div class="modActDiv">
                    <div class="modActSubDiv" (click)="current = i;">
                      <span class="treeIcon">
                        <a>
                          <i class="fa fa-tasks"></i>
                        </a>
                      </span>
                      <span class="curPointer" (click)="activeButtonTop(topic,1);">
                        {{topic.name}}
                      </span>
                      <span>
                        <button type="submit" class="addActBtn" (click)="removeTopic(topic)">
                          <!-- <i class="fa fa-close"></i> -->
                          <i class="ion-close"></i>
                        </button>
                        <button type="submit" class="addActBtn" (click)="addResource(topic)">
                          <!-- <i class="fa fa-plus"></i> -->
                          <i class="ion-plus"></i>
                        </button>
                      </span>
                    </div>
                </div>
                  
                  <div id="collapse1" class="panel-collapse" [class.collapse]='current != i'>
                    <ul class="modActSubUl">
                      <li class="modActSubLi" *ngFor="let module of resourse; let j = index" [hidden]="topic.id != module.tid">
                        <span class="treeIcon">
                          <i class="fa fa-file"></i>
                        </span>
                        <span class="curPointer" (click)="activeButtonRes(module)"> 
                          {{module.rname}}
                        </span>
                        <span>
                          <button class="submit" class="addActBtn" (click)="removeResource(module)">
                            <i class="ion-close"></i>
                          </button>
                        </span>
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>

          </div>



        </div>
      </div>

    </div>

    <div class="col-md-9 grid-margin stretch-card formCustCard paddingLeft25" *ngIf="isActiveTop == true" style="float: right;">
      <div class="card cardForm borderNone">
        <div class="card-body padding0">
          <h6 class="card-title topEditHead marginBottom0 marginTop0">Add/Edit Module
            <div class="btn-toolbar btnTool" style="">
              <!-- <div class="btn-group" style="float: left;">
                <div class="dropdown al-user-profile dropOption">
                   <a class="profile-toggle-link " id="user-profile-dd" data-toggle="dropdown" aria-expanded="false" title="Options" style="font-size: 20px;">
                       <span><i class="ion-android-more-vertical iconMore"></i></span>
                   </a>
                   <ul class="dropdown-menu top-dropdown-menu profile-dropdown dropMoreList" aria-labelledby="user-profile-dd">
                    <li class="dropdown-item dropMoreListItem" title="Tags" (click)="enableOptionTop(1)">Tags</li>
                    <hr class="topicEditSeperator" />
                    <li class="dropdown-item dropMoreListItem" title="Restrict" (click)="enableOptionTop(2)">Rules</li>
                  </ul>
                </div>
              </div> -->
              <div class="btn-group" style="float: right;">
                <button class="toolBut" (click)="topicAddEdit()">
                  <i class="ion-android-checkmark-circle iconSubmit"></i>
                </button>
                <button class="toolBut" (click)="closeFormTop()">
                  <i class="ion-close iconCancel"></i>
                </button>
              </div>
            </div>    
          </h6>
          <hr class="listSeperator displayNone" />
          <p class="card-description"></p>

          <div class="row moduleContentDiv">
            <div class="col-md-3">
              <div class="form-group">
                <div class="module-icon">
                  <div class="m0 moduleIcon-upload">
                    <div class="moduleIcon-edit">
                        <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" (change)="readModuleIconUrl($event)"/>
                        <label for="imageUpload"></label>
                    </div>
                    <div class="moduleIcon-delete" (click)="deleteModuleIcon()">
                      <label></label>
                    </div>
                    <div class="moduleIcon-preview">
                        <div id="imagePreview" [ngStyle]="{'background-image': 'url(' + moduleIconUrl + ')'}">
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>  

            <div class="col-md-9">
              <div class="form-group">
                <label class="left_space" for="topicName">Name</label>
                <input type="text" class="form-control" id="topicName" [(ngModel)]="formdataTopic1.tName" required id="name" placeholder="Name" name="tName" #tName="ngModel" (ngModelChange)="updateTopName(formdataTopic)">
                <div [hidden]="tName.valid || tName.pristine" class="alert alert-danger">
                  <div [hidden]="!tName.hasError('required')">Topic Name is required</div>
                  <div [hidden]="!tName.hasError('pattern')">Only alphabets allowed</div>
                </div>
                <span></span>
              </div>

              <!-- <div class="form-group">
                <label class="left_space" for="topicDesc">Description</label>
                <quill-editor [(ngModel)]="formdataTopic1.tSummary" name="tSummary" #tSummary="ngModel" id="topicDesc"></quill-editor>
              </div> -->

              <div class="form-group">
                <label class="left_space" for="topicDesc">Summary</label>
                <textarea cols="30" rows="4" class="form-control form-control-input" id="topicDesc" placeholder="Module Summary" [(ngModel)]="formdataTopic1.tSummary" name="tSummary" #tSummary="ngModel" required></textarea>
                <div [hidden]="tSummary.valid || tSummary.pristine" class="alert alert-danger">
                  <div [hidden]="!tSummary.hasError('required')">Module Summary is required</div>
                  <!-- <div [hidden]="!shortname.hasError('pattern')">Only alphabets allowed</div> -->
                </div>
                <span></span>
              </div>

              <div class="form-group">
                <label class="left_space" for="exampleInputPassword4">Learner Credit Points</label>
                <input type="text" class="form-control form-control-input dropHeight" id="exampleInputPassword4" id="sname" placeholder="Learner Credit Points">
                <!-- <div [hidden]="shortname.valid || shortname.pristine" class="alert alert-danger">
                  <div [hidden]="!shortname.hasError('required')">Short Name is required</div>
                  <div [hidden]="!shortname.hasError('pattern')">Only alphabets allowed</div>
                </div> -->
                <span></span>
              </div>

              <!-- <div class="form-group" *ngIf="showRestrictTop == true">
                <label class="left_space" for="topicRestrict">Add Restrictions</label>
                <input type="text" class="form-control" id="topicRestrict" [(ngModel)]="formdataTopic.tTags" id="tTags" placeholder="Add Restrictions" name="tTags" #tTags="ngModel">
                <div [hidden]="tTags.valid || tTags.pristine" class="alert alert-danger">
                  <div [hidden]="!tTags.hasError('pattern')">Only alphabets allowed</div>
                </div>
                <span></span>
              </div>

              <div class="form-group" *ngIf="showTagsTop == true">
                <label class="left_space" for="topicTags">Tags</label>
                <input type="text" class="form-control" #tTags="ngModel" id="topicTags" [(ngModel)]="formdataTopic.tTags" id="tTags" placeholder="Add Tag" name="tTags">
                <div [hidden]="tTags.valid || tTags.pristine" class="alert alert-danger">
                  <div [hidden]="!tTags.hasError('pattern')">Only alphabets allowed</div>
                </div>
                <span></span>
              </div>

              <div class="form-group">
                <label class="left_space" for="exampleInputPassword4">Points after completion</label>
                <input type="text" class="form-control form-control-input dropHeight" id="exampleInputPassword4" id="sname" placeholder="Points after completion">
                <span></span>
              </div>

              <div class="form-group">
                <label class="left_space" for="enablecompletion1">Display Condition</label>
                <select id="enablecompletion1" class="form-control form-control-input dropHeight">
                  <option value="" selected disabled>Select Condition</option>
                  <option value="">Time based</option>
                  <option value="">Grade based</option>
                  <option value="">Activity based</option>
                  <option value="">Profile based</option>
                </select>
                <span></span>
              </div> -->
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="col-md-9 grid-margin stretch-card formCustCard" *ngIf="isActiveRes == true" style="float: right;">
      
      <div class="accordion activityContainer" id="accordionActivity">
      
        <div class="row m0 formGen contentformGen" id="content">  
          <div class="col-md-12 grid-margin stretch-card formGenCard contentformGenCard">
            <div class="card cardForm contentCardForm borderNone">
              <div class="card-body contentCardBody padding0">
                <div class="headerCard">
                  <h6 class="card-title contentTitle width100">
                    <label class="sqrCheckBox pointer width100">
                      <input id="mcontent" type="checkbox" class="marginRight5px" data-toggle="collapse" data-target="#collapseContent" aria-controls="collapseContent" name="content" (ngModelChange)="onActivityCheckBoxClick($event,'content')" [(ngModel)]="activityType.content">
                      <!-- name="contentEnrol" (ngModelChange)="onCheckBoxClick($event,manualEnrolCheck)" [(ngModel)]="enrolment.manual" -->
                      <label class="sqrCheckBoxLabel" for="mcontent"></label>
                        <button class="toolBut" style="margin-top: 4px;" (click)="closeFormRes()">
                          <i class="fa fa-close"></i>
                        </button>
                        Content
                    </label>
                  </h6>  
                </div>
                <div id="collapseContent" class="collapse show" aria-labelledby="collapseContent" data-parent="#accordionActivity">
                  <div class="topBorderForm"></div>
                  <form class="forms-sample" class="panel-body contentContent" #userForm="ngForm">
                    <div class="form-group row" style="margin-bottom: 0px">
                      
                      <div class="card cardForm divScrollActivityTypeList" data-spy="scroll">
                        <div class="pad0" *ngFor="let actType of activityTypeList | filterBy: search; let j = index" [ngClass]="{'activeActType': activeTypeId == actType.id}">
                          <div class="col-md-12 card-body cardBodyActivityList">
                            <div class="col-md-12 actTypeHeadDiv">
                              <div class="col-md-12 actTypeRemoveHead" (click)="setActiveType(j,actType)">
                                <h6 class="actTypeHead" [(ngModel)]="selectedActivityType.name" name="name" #name="ngModel" ngDefaultControl>{{actType.name}}</h6>
                              </div>
                            </div>
                          </div>
                        </div>  
                      </div>
                    
                      <div class="card cardForm divScrollActivityTypeData" data-spy="scroll">
                        <div class="pad0">
                          <div class="col-md-12 card-body">
                            
                            <h6 class="card-title resEditHead">Upload {{activeTypeName}}
                              <button type="submit" class="constantbtn" id="addbtn" style="float: right;">Submit</button>
                            </h6>
                            <hr class="listSeperator" />
                            <p class="card-description"></p>
                            
                            <div class="fileActivityContainer" *ngIf="activeTypeId == 1">
                              <div class="form-group">
                                <label for="resourceName">Name</label>
                                <input type="text" class="form-control" id="resourceName" [(ngModel)]="formdataRes.rName" required id="rName" placeholder="Name" name="rName" #rName="ngModel" (ngModelChange)="updateResName(formdataRes)" ngDefaultControl>
                                <div [hidden]="rName.valid || rName.pristine" class="alert alert-danger">
                                  <div [hidden]="!rName.hasError('required')">File Name is required</div>
                                  <div [hidden]="!rName.hasError('pattern')">Only alphabets allowed</div>
                                </div>
                                <span></span>
                              </div>

                              <div class="form-group">
                                <label class="left_space" for="resDesc">Description</label>
                                <quill-editor [(ngModel)]="formdataRes.rSummary" name="rSummary" ngDefaultControl id="resDesc"></quill-editor>
                              </div>

                              <div class="form-group" style="margin-bottom: 24px;">
                                <div>
                                  <label for="filepicker-button " style="vertical-align: sub;padding-top: 9px;">Add Files</label>
                                  <input type="button" class="btn btn-secondary constantbtn fp-btn-choose cancelButton" id="filepicker-button" value="Cancel" name="userfilechoose" (click)="cancel()" style="float: right;transform: none;">
                                  <div class="form-group inputFileCourse">
                                    <label class="sr-only" for="inputFile">File Upload</label>
                                    <input type="file" #fileUpload class="form-control-file text-success font-weight-bold" id="inputFile" accept=".xls,.xlsx" (change)="readUrl($event)" attr.data-title="{{fileName}}">
                                  </div>
                                  <span></span>
                                </div>
                                <span></span>
                              </div>

                              <div class="form-group">
                                <div>
                                  <label class="left_space" for="resType">Completion tracking</label>
                                  <select [(ngModel)]="formdataRes.rType" ngDefaultControl id="resType" class="form-control" name="rType" #rType="ngModel">
                                    <option value="" selected>Select Type</option>
                                    <option *ngFor="let type of compTrackType" value={{type.cTypeId}}>{{type.cTypeName}}</option>
                                  </select>
                                  <span></span>
                                </div>
                              </div>

                              <!-- <div class="form-group">
                                <label class="left_space" for="sdate">Expect completed on</label>
                                <div id="divDoj" class="input-group">
                                  <input class="txtHeight" [placeholder]="placeHolder" [options]="expectedDateOptions" id="sdate" [(ngModel)]="formdata.startdate" ngDefaultControl #startdate="ngx-mydatepicker" ngx-mydatepicker name="startdate" (dateChanged)="onExpectDateChange($event)" />
                                  <span class="input-group-btn">
                                    <button type="button" class="btnCal cal_icon" (click)="startdate.toggleCalendar()">
                                    </button>
                                  </span>
                                </div>
                              </div> -->

                              <div class="form-group">
                                <label class="left_space" for="compdate">Completion Date</label>
                                <div id="divDoj" class="input-group">
                                  <!-- <input class="txtHeight2" [attr.disabled]="true" [placeholder]="placeHolder" [options]="expectedDateOptions" id="compdate" [(ngModel)]="formdata.startdate" #startdate="ngx-mydatepicker" ngx-mydatepicker name="startdate" (dateChanged)="onExpectDateChange($event)" ngDefaultControl/> -->
                                  <input type="text" class="form-control" [minDate]="minDate" [maxDate]="maxDate"
                                  #dp="bsDatepicker" bsDatepicker [(bsValue)]="myDateValue">
                                  <!-- <span class="input-group-btn">
                                    <button type="button" class="btnCal2 cal_icon" (click)="startdate.toggleCalendar()">
                                    </button>
                                  </span> -->
                                </div>
                                <span></span>
                              </div>

                              <!-- <div class="input-group">
                                <input class="form-control" style="float:none" placeholder="Select a date" ngx-mydatepicker name="mydate" [(ngModel)]="formdata.startdate" [options]="myOptions" #dp="ngx-mydatepicker" (dateChanged)="onDateChanged($event)"/>
                                <span class="input-group-btn">
                                  <button type="button" class="btn btn-default" (click)="dp.clearDate()">
                                    <i class="glyphicon glyphicon-remove"></i>
                                  </button>
                                  <button type="button" class="btn btn-default" (click)="dp.toggleCalendar()">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                  </button>
                                </span>
                              </div> -->

                              <div class="form-group">
                                <label class="left_space" for="exampleInputPassword4">Learner Credit Points</label>
                                <input type="text" class="form-control form-control-input dropHeight" id="exampleInputPassword4" id="sname" placeholder="Learner Credit Points">
                                <!-- <div [hidden]="shortname.valid || shortname.pristine" class="alert alert-danger">
                                  <div [hidden]="!shortname.hasError('required')">Short Name is required</div>
                                  <div [hidden]="!shortname.hasError('pattern')">Only alphabets allowed</div>
                                </div> -->
                                <span></span>
                              </div>

                              <!-- <div class="form-group" *ngIf="showRestrict == true">
                                <label class="left_space" for="resourceRestrict">Add Rules</label>
                                <input type="text" class="form-control" id="resourceRestrict" [(ngModel)]="formdataRes.rTags" id="rTags" placeholder="Add Restrictions" name="rTags" #rTags="ngModel" ngDefaultControl>
                                <div [hidden]="rTags.valid || rTags.pristine" class="alert alert-danger">
                                  <div [hidden]="!rTags.hasError('pattern')">Only alphabets allowed</div>
                                </div>
                                <span></span>
                              </div>

                              <div class="form-group" *ngIf="showTags == true">
                                <label class="left_space" for="resourceTags">Tags</label>
                                <input type="text" class="form-control" id="resourceTags" [(ngModel)]="formdataRes.rTags" id="rTags" placeholder="Add Tag" name="rTags" #rTags="ngModel" ngDefaultControl>
                                <div [hidden]="rTags.valid || rTags.pristine" class="alert alert-danger">
                                  <div [hidden]="!rTags.hasError('pattern')">Only alphabets allowed</div>
                                </div>
                                <span></span>
                              </div> -->
                            </div>

                            <div class="contentActivityContainer" *ngIf="activeTypeId == 2">
                              <div class="col-sm-12">
                                <div class="col-sm-3 margintop">
                                  <h6 class="h5margin">Select Content</h6>
                                </div>
                                <div class="col-sm-9">
                                   <button type="submit" class="btn-default browsebtn constantbtn" (click)="browseContent()" id="editbtnRules">Browse</button>
                                </div>
                              </div>
                              <div class="col-sm-12 card displayin" *ngIf="contentSelected == true">
                                <div class="col-sm-3 textCenter floatleft">
                                  <a>
                                    <img class="selectedContentIcon" src='{{selectedContent.conIcon}}'>
                                  </a>
                                </div>
                                <div class="col-sm-9 floatrig">
                                  <button class="close removeCon" aria-label="Close" (click)="removeContent()">
                                    <span aria-hidden="true">&times;</span>
                                  </button> 
                                  <p class="selectedContentName">{{selectedContent.conName}}</p>
                                  <p class="selectedContentDesc">{{selectedContent.conDescri}}</p>
                                </div>
                              </div>
                            </div>

                            <div class="fileActivityContainer" *ngIf="activeTypeId == 3">
                              <div class="form-group">
                                <label for="resourceName">Name</label>
                                <input type="text" class="form-control" id="resourceName" [(ngModel)]="formdataRes.rName" required id="rName" placeholder="Name" name="rName" #rName="ngModel" (ngModelChange)="updateResName(formdataRes)" ngDefaultControl>
                                <div [hidden]="rName.valid || rName.pristine" class="alert alert-danger">
                                  <div [hidden]="!rName.hasError('required')">Scorm Name is required</div>
                                  <div [hidden]="!rName.hasError('pattern')">Only alphabets allowed</div>
                                </div>
                                <span></span>
                              </div>

                              <div class="form-group">
                                <label class="left_space" for="resDesc">Description</label>
                                <quill-editor [(ngModel)]="formdataRes.rSummary" name="rSummary" ngDefaultControl id="resDesc"></quill-editor>
                              </div>

                              <div class="form-group" style="margin-bottom: 24px;">
                                <div>
                                  <label for="filepicker-button" style="vertical-align: sub;padding-top: 9px;">Add File</label>
                                  <input type="button" class="btn btn-secondary constantbtn fp-btn-choose cancelButton" id="filepicker-button" value="Cancel" name="userfilechoose" (click)="cancel()" style="float: right;transform: none;">
                                  <div class="form-group inputFileCourse">
                                    <label class="sr-only" for="inputFile">File Upload</label>
                                    <input type="file" #fileUpload class="form-control-file text-success font-weight-bold" id="inputFile" accept=".xls,.xlsx" (change)="readUrl($event)" attr.data-title="{{fileName}}">
                                  </div>
                                  <span></span>
                                </div>
                                <span></span>
                              </div>

                              <div class="form-group">
                                <div>
                                  <label class="left_space" for="resType">Completion tracking</label>
                                  <select [(ngModel)]="formdataRes.rType" ngDefaultControl id="resType" class="form-control" name="rType" #rType="ngModel">
                                    <option value="" selected>Select Type</option>
                                    <option *ngFor="let type of compTrackType" value={{type.cTypeId}}>{{type.cTypeName}}</option>
                                  </select>
                                  <span></span>
                                </div>
                              </div>

                              <!-- <div class="form-group">
                                <label class="left_space" for="sdate">Expect completed on</label>
                                <div id="divDoj" class="input-group">
                                  <input class="txtHeight" [placeholder]="placeHolder" [options]="expectedDateOptions" id="sdate" [(ngModel)]="formdata.startdate" ngDefaultControl #startdate="ngx-mydatepicker" ngx-mydatepicker name="startdate" (dateChanged)="onExpectDateChange($event)" />
                                  <span class="input-group-btn">
                                    <button type="button" class="btnCal cal_icon" (click)="startdate.toggleCalendar()">
                                    </button>
                                  </span>
                                </div>
                              </div> -->

                              <div class="form-group">
                                <label class="left_space" for="compdate">Completion Date</label>
                                <div id="divDoj" class="input-group">
                                  <input class="txtHeight2" [attr.disabled]="true" [placeholder]="placeHolder" [options]="expectedDateOptions" id="compdate" [(ngModel)]="formdata.startdate" #startdate="ngx-mydatepicker" ngx-mydatepicker name="startdate" (dateChanged)="onExpectDateChange($event)" ngDefaultControl/>
                                  <span class="input-group-btn">
                                    <button type="button" class="btnCal2 cal_icon" (click)="startdate.toggleCalendar()">
                                    </button>
                                  </span>
                                </div>
                                <span></span>
                              </div>

                              <!-- <div class="form-group" *ngIf="showRestrict == true">
                                <label class="left_space" for="resourceRestrict">Add Rules</label>
                                <input type="text" class="form-control" id="resourceRestrict" [(ngModel)]="formdataRes.rTags" id="rTags" placeholder="Add Restrictions" name="rTags" #rTags="ngModel" ngDefaultControl>
                                <div [hidden]="rTags.valid || rTags.pristine" class="alert alert-danger">
                                  <div [hidden]="!rTags.hasError('pattern')">Only alphabets allowed</div>
                                </div>
                                <span></span>
                              </div>

                              <div class="form-group" *ngIf="showTags == true">
                                <label class="left_space" for="resourceTags">Tags</label>
                                <input type="text" class="form-control" id="resourceTags" [(ngModel)]="formdataRes.rTags" id="rTags" placeholder="Add Tag" name="rTags" #rTags="ngModel" ngDefaultControl>
                                <div [hidden]="rTags.valid || rTags.pristine" class="alert alert-danger">
                                  <div [hidden]="!rTags.hasError('pattern')">Only alphabets allowed</div>
                                </div>
                                <span></span>
                              </div> -->
                            </div>
                            
                          </div>
                        </div>
                      </div>

                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row m0 formGen assesmentformGen" id="assesment">  
          <div class="col-md-12 grid-margin stretch-card formGenCard assesmentformGenCard">
            <div class="card cardForm assesmentCardForm borderNone">
              <div class="card-body assesmentCardBody padding0">
                <div class="headerCard">
                  <h6 class="card-title assesmentTitle width100">
                    <label class="sqrCheckBox pointer width100">
                      <input id="massesment" type="checkbox" class="marginRight5px" data-toggle="collapse" data-target="#collapseAssesment" aria-controls="collapseAssesment" name="assesment" (ngModelChange)="onActivityCheckBoxClick($event,'assesment')" [(ngModel)]="activityType.assesment">
                      <!-- name="contentEnrol" (ngModelChange)="onCheckBoxClick($event,manualEnrolCheck)" [(ngModel)]="enrolment.manual" -->
                      <label class="sqrCheckBoxLabel" for="massesment"></label>
                        <button class="toolBut" style="margin-top: 4px;" (click)="closeFormRes()">
                          <i class="fa fa-close"></i>
                        </button>
                        Assessment
                    </label>
                  </h6>  
                </div>
                <div id="collapseAssesment" class="collapse" aria-labelledby="collapseAssesment" data-parent="#accordionActivity">
                  <div class="topBorderForm"></div>
                  <form class="forms-sample" class="panel-body assesmentContent" #userForm="ngForm">
                    <div class="form-group row" style="margin-bottom: 0px">
                      
                      <div class="card cardForm divScrollActivityTypeList" data-spy="scroll">
                        <div class="pad0" *ngFor="let actType of assessmentTypeList | filterBy: search; let j = index" [ngClass]="{'activeActType': activeTypeId == actType.id}">
                          <div class="col-md-12 card-body cardBodyActivityList">
                            <div class="col-md-12 actTypeHeadDiv">
                              <div class="col-md-12 actTypeRemoveHead" (click)="setActiveType(j,actType)">
                                <h6 class="actTypeHead" [(ngModel)]="selectedActivityType.name" name="aName" #aName="ngModel" ngDefaultControl>{{actType.name}}</h6>
                              </div>
                            </div>
                            <!-- <hr class="actTypeSeprator"/> -->
                          </div>
                        </div>
                      </div>
                    
                      <div class="card cardForm divScrollActivityTypeData" data-spy="scroll">
                        <div class="pad0">
                          <div class="col-md-12 card-body">
                            
                            <h6 class="card-title resEditHead">Upload {{activeTypeName}}
                              <button type="submit" class="constantbtn" id="addbtn" style="float: right;">Submit</button>
                            </h6>
                            <hr class="listSeperator" />
                            <p class="card-description"></p>
                            
                            <!-- <div class="form-group">
                              <label for="resourceName">Name</label>
                              <input type="text" class="form-control" id="resourceName" [(ngModel)]="formdataRes.rName" required id="rName" placeholder="Name" name="rName" #rName="ngModel" (ngModelChange)="updateResName(formdataRes)" ngDefaultControl>
                              <div [hidden]="rName.valid || rName.pristine" class="alert alert-danger">
                                <div [hidden]="!rName.hasError('required')">Resource Name is required</div>
                                <div [hidden]="!rName.hasError('pattern')">Only alphabets allowed</div>
                              </div>
                              <span></span>
                            </div> -->

                            <div class="contentActivityContainer">
                              <div class="col-sm-12 marginBottom1rem">
                                <div class="col-sm-3 margintop">
                                  <h5 class="h5margin">Select Content</h5>
                                </div>
                                <div class="col-sm-9">
                                   <button type="submit" class="btn-default browsebtn constantbtn" (click)="browseContent()" id="editbtnRules">Browse</button>
                                </div>
                              </div>
                              <div class="col-sm-12 card displayin" *ngIf="contentSelected == true">
                                <div class="col-sm-3 textCenter floatleft">
                                  <a>
                                    <img class="selectedContentIcon" src='{{selectedContent.conIcon}}'>
                                  </a>
                                </div>
                                <div class="col-sm-9 floatrig">
                                  <button class="close removeCon" aria-label="Close" (click)="removeContent()">
                                    <span aria-hidden="true">&times;</span>
                                  </button> 
                                  <p class="selectedContentName">{{selectedContent.conName}}</p>
                                  <p class="selectedContentDesc">{{selectedContent.conDescri}}</p>
                                </div>
                              </div>
                            </div>

                          </div>
                        </div>
                      </div>      

                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row m0 formGen assignmentformGen" id="assignment">  
          <div class="col-md-12 grid-margin stretch-card formGenCard assignmentformGenCard">
            <div class="card cardForm assignmentCardForm borderNone">
              <div class="card-body assignmentCardBody padding0">
                <div class="headerCard">
                  <h6 class="card-title assignmentTitle width100">
                    <label class="sqrCheckBox pointer width100">
                      <input id="massignment" type="checkbox" class="marginRight5px" data-toggle="collapse" data-target="#collapseAssignment" aria-controls="collapseAssignment" name="assignment" (ngModelChange)="onActivityCheckBoxClick($event,'assignment')" [(ngModel)]="activityType.assignment">
                      <!-- name="contentEnrol" (ngModelChange)="onCheckBoxClick($event,manualEnrolCheck)" [(ngModel)]="enrolment.manual" -->
                      <label class="sqrCheckBoxLabel" for="massignment"></label>
                        <button class="toolBut" style="margin-top: 4px;" (click)="closeFormRes()">
                          <i class="fa fa-close"></i>
                        </button>
                        Assignment
                    </label>
                  </h6>  
                </div>
                <div id="collapseAssignment" class="collapse" aria-labelledby="collapseAssignment" data-parent="#accordionActivity">
                  <div class="topBorderForm"></div>
                  <form class="forms-sample" class="panel-body assignmentContent" #userForm="ngForm">
                    <div class="form-group" style="margin-bottom: 0px">
                      
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row m0 formGen communicationformGen" id="communication">  
          <div class="col-md-12 grid-margin stretch-card formGenCard communicationformGenCard">
            <div class="card cardForm communicationCardForm borderNone">
              <div class="card-body communicationCardBody padding0">
                <div class="headerCard">
                  <h6 class="card-title communicationTitle width100">
                    <label class="sqrCheckBox pointer width100">
                      <input id="mcommunication" type="checkbox" class="marginRight5px" data-toggle="collapse" data-target="#collapseCommunication" aria-controls="collapseCommunication" name="communication" (ngModelChange)="onActivityCheckBoxClick($event,'communication')" [(ngModel)]="activityType.communication">
                      <!-- name="contentEnrol" (ngModelChange)="onCheckBoxClick($event,manualEnrolCheck)" [(ngModel)]="enrolment.manual" -->
                      <label class="sqrCheckBoxLabel" for="mcommunication"></label>
                        <button class="toolBut" style="margin-top: 4px;" (click)="closeFormRes()">
                          <i class="fa fa-close"></i>
                        </button>
                        Communication
                    </label>
                  </h6>  
                </div>
                <div id="collapseCommunication" class="collapse" aria-labelledby="collapseCommunication" data-parent="#accordionActivity">
                  <div class="topBorderForm"></div>
                  <form class="forms-sample" class="panel-body communicationContent" #userForm="ngForm">
                    <div class="form-group" style="margin-bottom: 0px">
                      
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row m0 formGen managementformGen" id="management">  
          <div class="col-md-12 grid-margin stretch-card formGenCard managementformGenCard">
            <div class="card cardForm managementCardForm borderNone">
              <div class="card-body managementCardBody padding0">
                <div class="headerCard">
                  <h6 class="card-title managementTitle width100">
                    <label class="sqrCheckBox pointer width100">
                      <input id="mmanagement" type="checkbox" class="marginRight5px" data-toggle="collapse" data-target="#collapseManagement" aria-controls="collapseManagement" name="management" (ngModelChange)="onActivityCheckBoxClick($event,'management')" [(ngModel)]="activityType.management">
                      <!-- name="contentEnrol" (ngModelChange)="onCheckBoxClick($event,manualEnrolCheck)" [(ngModel)]="enrolment.manual" -->
                      <label class="sqrCheckBoxLabel" for="mmanagement"></label>
                        <button class="toolBut" style="margin-top: 4px;" (click)="closeFormRes()">
                          <i class="fa fa-close"></i>
                        </button>
                        Management
                    </label>
                  </h6>  
                </div>
                <div id="collapseManagement" class="collapse" aria-labelledby="collapseManagement" data-parent="#accordionActivity">
                  <div class="topBorderForm"></div>
                  <form class="forms-sample" class="panel-body managementContent" #userForm="ngForm">
                    <div class="form-group" style="margin-bottom: 0px">
                      
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>
</div>

<div class="selectContentBackdrop" *ngIf="contentShow == true">
  <div class="selectContentModal" >
    <div class="modal-header"> 
      <p>Select a content</p>
      <button class="close" aria-label="Close" (click)="closeContentModel(1)">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">
      <div class="contentModelSubDiv">

        <div id="panel-group">
          <div class="panel panel-default" *ngFor="let cat of contentCat; let i = index">
            <div class="panel-heading padding0" (click)="current = i;">
              <h5 class="panel-title padding0">
                <div class="inputGroupRadioDemo margin0">
                  <!-- [ngModel]="selectedContent.catId" (click)="contentCatSelected($event,cat)" [(ngModel)]="cat.selected"-->
                  <input id="cat_{{cat.catId}}" name="radio" type="radio" value="cat.catId" [checked]='cat.selected' (click)="contentCatSelected($event,cat)"/>
                  <label class="margin0" for="cat_{{cat.catId}}">{{cat.catName}}</label>
                </div>
              </h5>
            </div>
             <div id="collapse1" class="panel-collapse" [class.collapse]='current != i' [class.show]='cat.selected == true'>
              <!-- [class.show]='current != i' -->
              <div class="panel-body">
                <!-- container centers content on large screens -->
                <div class="container content"> 
                  <!-- responsive row has 12 columns by default -->
                  <div class="row">             
                    <!-- uses 3 columns on medium and larger screens... -->
                    <div class="card borderNone col-md-4" *ngFor="let catData of cat.content; let i = index">      
                      <div class="contentDiv" [ngClass]="{'activeActType': activeContentId == catData.conId && activeContentCatId == catData.catId}" (click)="onCheckBoxselecClick(catData);setActiveContent(i, catData)">
                        <a>
                          <img for="content{{catData.conId}}" class="contentIcon" src='{{catData.conIcon}}'>
                        </a>
                        <p class="contentName">{{catData.conName}}</p>  
                      </div>
                      
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn-default floteright constantbtn" (click)="saveSelectedContent(1)" id="editbtn">Select</button>
    </div>

  </div>  
</div>