@import '../../../../../@theme/styles/variable.scss';
/*.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; green
}*/


/*.ng-invalid:not(form)  {
  border-left: 5px solid #a94442;  red
}*/

.module_container {
    .floatR {
        float: right;
    }
    .card .card-body .topEditHead {
        background: #076ba1;
        color: #ffff;
        padding: 10px;
        margin-bottom: 10px;
    }
    // .constantbtn {
    //   width: auto  ;
    //   padding: 5px  ;
    //   background-color: #076ba1  ;
    //   color: #fff  ;
    //   text-transform: uppercase  ;
    //   border: none  ;
    // }
    .alert {
        margin-bottom: 1px;
        height: 25px;
        line-height: 25px;
        padding: 0px 15px;
    }
    .alert-danger {
        background-color: #f0f3f4;
        border-color: #f0f3f4;
        color: #a94442;
    }
    .userField {
        margin-left: 30px;
        margin-top: 15px;
    }
    .Nomodule {
        margin: 10px;
        width: 100%;
        text-align: center;
        border-radius: 15px;
        border: 1px solid #076ba1;
        padding: 20px;
    }
    .userLegend {
        margin-bottom: 5px;
    }
    .userLegendBorder {
        border-bottom-style: solid;
        border-bottom-width: 2px;
    }
    #userRow1 {
        margin-top: 10px;
    }
    .userSubBut {
        float: right;
        /* margin-left: 30px; */
        /*margin-top: 8px;*/
        transform: none;
        background: #fff;
        height: 55px;
        //margin: 0 auto;
        padding: 13.5px;
    }
    .userBackBut {
        /* display: none; */
    }
    #addTopicBtn {
        //margin-left: 10px;
        border-radius: 0;
        background: #076ba1;
        color: #fff;
        border: #ed462f;
        height: 37px;
        width: 135px;
        float: left;
        //padding: 2px;
        //width: 90px;
        color: #ffffff;
        background-color: #076ba1;
        background-image: none;
        border-color: #076ba1;
        transform: none;
    }
    .errorMsg {
        background-color: #ffffff;
    }
    .txtHeight {
        //height:30px;
        display: block;
        width: 95%;
        padding: 10px;
        float: left;
        height: 2.5rem;
        color: #495057;
        background-color: #fff;
        //line-height: 1.5;
        //height:40px;
        border: 1px solid #ccd4da;
    }
    #topMargin {
        margin-top: 30px;
    }
    .align_icon {
        display: block;
        width: 15%;
        float: right;
        //color: #495057;
        background-color: #fff;
        //line-height: 1.5;
        border: 1px solid #ccd4da;
    }
    .btnCal {
        position: absolute;
        width: 5%;
        float: right;
        height: 2.5rem;
    }
    .left_space {
        padding-left: 2px;
    }
    .cal_icon {
        background: url(assets/images/calendar-icon.png) no-repeat;
        background-size: 100% 100%;
    }
    .btnCal2 {
        position: absolute;
        width: 30px;
        float: right;
        height: 2.5rem;
    }
    #submitContent {
        margin-left: 10px;
        margin-right: 20px;
        border-radius: 0;
        background: #ed462f;
        color: #fff;
        border: #ed462f;
        height: 37px;
        width: 135px;
        color: #ffffff;
        background-color: #ed462f;
        background-image: none;
        border-color: #ed462f;
        transform: none;
    }
    #saveBut {
        margin-right: 10px;
        border-radius: 0;
        background: #ed462f;
        color: #fff;
        border: #ed462f;
        height: 37px;
        width: 135px;
        //padding: 2px;
        //width: 90px;
        color: #ffffff;
        background-color: #ed462f;
        background-image: none;
        border-color: #ed462f;
        transform: none;
    }
    #backButton {
        margin-bottom: 10px;
        border-radius: 0;
        background: #076ba1;
        color: #fff;
        border: #076ba1;
        height: 37px;
        width: 135px;
        color: #ffffff;
        background-color: #076ba1;
        background-image: none;
        border-color: #076ba1;
        transform: none;
    }
    .optbtnNew {
        border-radius: 0;
        background: #ed462f;
        color: #fff;
        border: #076ba1;
        height: 28px;
        /*width: 91px;*/
        transform: none;
    }
    .btn-secondary:hover {
        color: #fff;
        background-color: #ed462f;
        border-color: #ed462f;
    }
    .inputLabel {
        line-height: 2.5;
        font-size: 15px;
    }
    .left {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .photo {
        width: 200px;
        height: 200px;
        margin-top: -120px;
        border-radius: 100px;
        border: 4px solid #fff;
    }
    .proImg {
        margin-left: 157%;
        margin-top: 65%;
    }
    .img-circle {
        border-radius: 50%;
    }
    .bg-form {
        float: left;
        width: 100%;
        position: relative;
        background: url("http://lorempixel.com/200/200/abstract/");
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 0px;
    }
    .img-section {
        float: left;
        width: 100%;
        padding-top: 15px;
        padding-bottom: 15px;
        background: rgba(0, 0, 0, 0.7);
        position: relative;
    }
    .img-section h4 {
        color: #fff;
    }
    #PicUpload {
        color: #ffffff;
        width: 180px;
        height: 180px;
        background: rgba(255, 255, 255, 0.4);
        padding: 100px;
        position: absolute;
        left: 30.5%;
        border-radius: 50%;
        display: none;
        top: 15px;
    }
    .imgCircle {
        border-radius: 50%;
        width: 200px;
        height: 200px;
    }
    .Profile-input-file {
        height: 180px;
        width: 180px;
        left: 33%;
        position: absolute;
        top: 0px;
        z-index: 999;
        opacity: 0;
    }
    /*.form-control{padding: 10px 50px;}*/
    .form-input {
        height: 50px;
        border-radius: 0px;
        margin-top: 20px;
    }
    .form-style-fake {
        position: absolute;
        top: 0px;
    }
    .form-style-base {
        position: absolute;
        top: 0px;
        z-index: 999;
        opacity: 0;
    }
    .fake-styled-btn {
        background: #006cad;
        padding: 10px;
        color: #fff;
    }
    .camera {
        font-size: 50px;
        color: #333;
    }
    .avatar-upload {
        position: relative;
        max-width: 205px;
        /*margin: 50px auto;*/
        .avatar-edit {
            position: absolute;
            right: 12px;
            z-index: 1;
            top: 10px;
            input {
                display: none;
                +label {
                    display: inline-block;
                    width: 34px;
                    height: 34px;
                    margin-bottom: 0;
                    border-radius: 100%;
                    background: #FFFFFF;
                    border: 1px solid transparent;
                    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
                    cursor: pointer;
                    font-weight: normal;
                    transition: all .2s ease-in-out;
                    &:hover {
                        background: #f1f1f1;
                        border-color: #d6d6d6;
                    }
                    &:after {
                        content: "\f040";
                        font-family: 'FontAwesome';
                        color: #757575;
                        position: absolute;
                        top: 10px;
                        left: 0;
                        right: 0;
                        text-align: center;
                        margin: auto;
                    }
                }
            }
        }
        .avatar-delete {
            position: absolute;
            right: 12px;
            z-index: 1;
            bottom: 10px;
            label {
                display: inline-block;
                width: 34px;
                height: 34px;
                margin-bottom: 0;
                border-radius: 100%;
                background: #FFFFFF;
                border: 1px solid transparent;
                box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
                cursor: pointer;
                font-weight: normal;
                transition: all .2s ease-in-out;
                &:hover {
                    background: #f1f1f1;
                    border-color: #d6d6d6;
                }
                &:after {
                    content: "\f1f8";
                    font-family: 'FontAwesome';
                    color: #757575;
                    position: absolute;
                    top: 10px;
                    left: 0;
                    right: 0;
                    text-align: center;
                    margin: auto;
                }
            }
        }
        .avatar-preview {
            width: 192px;
            height: 192px;
            position: relative;
            border-radius: 100%;
            border: 6px solid #F8F8F8;
            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
            >div {
                width: 100%;
                height: 100%;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
            }
        }
    }
    .inputLabelUpload {
        line-height: 12.5;
        font-size: 15px;
    }
    .activeRoute {
        text-decoration: underline;
        text-underline-position: under;
        text-decoration-color: #076ba1;
        color: #076ba1;
    }
    .al-content {
        padding: 0px;
    }
    .m0 {
        margin: 0 auto;
    }
    .photo-left {
        margin: 0 auto;
    }
    .cardForm {
        color: #666666;
        background-color: #ffffff;
        border: 1px solid #f1eded;
        border-radius: 0px;
        position: relative;
        margin-bottom: 24px;
        box-shadow: none;
    }
    .courseTabs>.tabset>.nav .nav-tabs {
        width: 100%;
    }
    .courseTabs>.tabset>.nav .nav-tabs>li {
        // width:33%  ;
        width: 16%;
    }
    .courseTabs>.tabset>ul {
        padding-left: 0;
        background: #fff;
        border: none;
    }
    .courseTabs>.tabset>ul>li {
        width: 16%;
        height: auto;
    }
    .courseTabs>.tabset>.nav .nav-tabs>li>a {
        width: 100%;
    }
    .courseTabs>.tabset>ul>li>a>span>i {
        font-size: 20px;
        display: block;
        height: 100%;
    }
    .courseTabs>.tabset>ul>li>a>span>i>b {
        display: block;
        font-weight: 500;
        font-style: normal;
        font-size: 16px;
    }
    .courseTabs>.tabset>ul>li>a>.span {
        width: 100%;
    }
    .courseTabs>.tabset>ul>li:last-child a {
        border-top-right-radius: 0px;
    }
    .courseTabs>.tabset>ul>li:hover {
        border-radius: 0px;
        border: none;
        color: #076ba1;
    }
    .courseTabs>.tabset>.nav-tabs>li>a:hover {
        // border-color: #eee #eee #ddd;
        border: none;
        background: #fff;
        color: #076ba1;
    }
    .courseTabs>.tabset>ul>li.active>a {
        background-color: #ffffff;
        color: #076ba1;
        border-radius: 0px;
        border-bottom: 2.5px solid #076ba1;
    }
    .courseTabs>.tabset>ul>li.active>a:hover {
        background-color: #ffffff;
        color: #076ba1;
        border-radius: 0px;
        border-bottom: 2.5px solid #076ba1;
    }
    .courseTabs>.tabset>ul>li.active {
        // width: 20px;
        //height: 20px;
        // border-radius: 20px;
        // position: inherit;
        position: initial;
        // right: calc(50% - 70px);
        //top: 75px;
        background-color: transparent;
        border: none;
        height: auto;
    }
    /*.courseTabs > .tabset > .nav.nav-tabs > li.active > a {
    border-bottom: 3px solid #076ba1  ;
    background-color: #fff  ;
    color: #076ba1  ;
}

.courseTabs > .tabset > ul{
  background: #fff  ;
  height: 55px;
   position: sticky;
    top: 66px;
    z-index: 1030;
    padding: 0px  ;
}

.courseTabs > .tabset > ul > li {
    width: 22%  ;
    height:100%  ;
}

.courseTabs > .tabset > ul > li:hover > a {
    color: #076ba1  ;
    background-color: #ffffff  ;
    transform: none  ;
    transition: none  ;
}

.courseTabs > .tabset > .nav.nav-tabs {
  border-top-left-radius: 5px  ;
  border-top-right-radius: 5px  ;
  border-bottom: none  ;
  background-color: white;
}

.courseTabs > .tabset>ul>li>a{
  width: 100%  ;
  background-color: transparent  ;
  color: #686868  ;
  height: 55px  ;
  border-bottom: none  ;
  line-height: 2.5;
}*/
    .cardmar {
        margin: 44px;
    }
    .colpad {
        padding: 0;
    }
    .rowtopic {
        display: inline-flex;
    }
    // #editbtn {
    //     margin: 0 10px;
    //     border-radius: 0;
    //     background: #076ba1;
    //     color: #fff;
    //     border: #076ba1;
    //     height: 28px;
    //     /*width: 92px;*/
    //     color: #ffffff;
    //     background-color: #076ba1;
    //     background-image: none;
    //     border-color: #076ba1;
    //     transform: none;
    // }
    hr {
        display: block;
        height: 2px;
        border: 0;
        border-top: 1px solid #ececec;
        /*border-top: 2px solid #85c320;*/
        margin: 1em 0;
        padding: 0;
    }
    // #addbtn {
    //     // margin-left: 10px;
    //     border-radius: 0;
    //     background: #ffffff;
    //     color: #fff;
    //     border: 1px solid #076ba1;
    //     // width: 111px;
    //     color: #076ba1;
    //     /* background-color: #076ba1; */
    //     background-image: none;
    //     border-color: #076ba1;
    //     // transform: none;
    //   }
    .paddp {
        padding-right: 15px;
        margin: 15px 0;
    }
    .h4mar {
        margin: 6px 0 0 0;
    }
    .activeForm {}
    .btn-group-xs>.btn,
    .btn-xs {
        padding: 0px 5px;
        font-size: 12px;
    }
    .formGen {
        width: 100%;
    }
    .formGenCard {
        padding: 0 25px;
    }
    .catTitle {
        margin-top: 20px;
    }
    .paddingLeft25 {
        padding-left: 25px;
    }
    .marginTop0 {
        margin-top: 0;
    }
    .formCustCard {
        margin-top: 25px;
        // padding-right: 25px;
        padding-right: 0;
        padding-left: 0;
    }
    .CustomFieldsformGenCard1,
    .CustomFieldsformGenCard2,
    .CustomFieldsformGenCard3,
    .CustomFieldsformGenCard4,
    .CustomFieldsformGenCard5,
    .CustomFieldsformGenCard6,
    .CustomFieldsformGenCard7 {
        margin-bottom: 0;
    }
    .CustomFieldscardForm1,
    .CustomFieldscardForm2,
    .CustomFieldscardForm3,
    .CustomFieldscardForm4,
    .CustomFieldscardForm5,
    .CustomFieldscardForm6,
    .CustomFieldscardForm7 {
        cursor: pointer;
        margin-bottom: 0;
    }
    .CustomFieldscardBody1,
    .CustomFieldscardBody2,
    .CustomFieldscardBody3,
    .CustomFieldscardBody4,
    .CustomFieldscardBody5,
    .CustomFieldscardBody6,
    .CustomFieldscardBody7 {
        padding: 15px 15px 0px 15px;
    }
    [data-toggle="collapse"] i:before {
        content: "\f139";
    }
    [data-toggle="collapse"].collapsed i:before {
        content: "\f13a";
    }
    .headCard {
        display: flex;
    }
    .custTitle {
        margin-bottom: 0;
    }
    .downArrow {
        color: #ed462f;
    }
    .form-control-input {
        border-radius: 0;
    }
    .reqField {
        display: inline;
        color: #ed462f;
    }
    .resEditHead .resRemoveHead {
        /*background: #f2f8f9;*/
        color: #1e2121;
        padding: 10px 0px 10px 0px;
        /*border: 1px solid #5ba3f5;*/
    }
    .btnTool {
        float: right;
        margin-top: -3.2px;
    }
    .toolBut {
        float: right;
        background: transparent;
        border: none;
    }
    .toolBut:focus {
        outline: none;
    }
    .iconSubmit {
        font-size: 19px;
        color: #fff;
    }
    #right_align {
        //width:70%;
        float: right;
    }
    .iconSubmit:hover {
        color: #8BC34A;
    }
    .iconCancel {
        color: #fff;
    }
    .iconCancel:hover {
        color: #F44336;
    }
    .dropOption {
        text-align: center;
    }
    .iconMore {
        font-size: 19px;
        padding-left: 5px;
    }
    .dropMoreList {
        min-width: inherit;
        left: -24%;
        top: 24px;
        cursor: pointer;
        padding: 6px 0 6px 0;
    }
    .dropMoreListItem {
        /*padding: 5px 10px;*/
        /*text-align: center;*/
        font-size: 12px;
        padding: 0 12px 0 12px;
        color: #1e2121;
    }
    .dropMoreListItem:active {
        color: #444;
    }
    .removeResDiv {
        width: 100%;
    }
    .removeTopDiv {
        width: 100%;
    }
    /*.removeResDiv > input:focus {
    outline: none;
    border: none;
}*/
    input.editing {
        outline: none;
        border: none;
        /*border-bottom: 1px solid #ececec;*/
        font-size: 16px;
        color: #076ba1;
    }
    .divScrollTopicList {
        width: 100%;
        min-height: 63px;
        // min-height: 96px;
        max-height: 498px;
        overflow-y: auto;
    }
    .resRemoveHead {
        margin-top: 0;
        margin-bottom: 0;
        /* padding-left: 20px; */
        padding: 7px 20px;
    }
    .resRemoveHead:hover .btnTool {
        display: block;
    }
    .resRemoveHead .btnTool {
        display: none;
    }
    .topRemoveHead .topicHead {
        margin-top: 0;
        min-height: 25px;
        padding: 0;
    }
    .topRemoveHead {
        padding: 0;
    }
    .topRemoveHead:hover .btnTool {
        display: block;
    }
    .topRemoveHead .btnTool {
        display: none;
    }
    .mainHeadDiv {
        /*bottom: 14px;*/
        border-bottom: 1px solid #111218;
    }
    .mainHeadDiv:hover .addResBut {
        display: block;
    }
    .mainHeadDiv .addResBut {
        display: none;
    }
    .nv-file-over {
        border: dotted 3px red;
    }
    /* Default class applied to drop zones on over */
    .another-file-over-class {
        border: dotted 3px green;
    }
    .chooseFile {
        text-align: center;
        float: left;
        /* margin-left: 12%; */
        /* margin-top: 7%; */
    }
    .cancelFile {
        text-align: center;
        /* float: left; */
        /* margin-left: 12%; */
        /* margin-top: 7%; */
    }
    .colInput {
        /*margin-top: -2em;*/
    }
    .or {
        text-align: center;
        margin-left: 12%;
        margin-top: 3%;
        margin-bottom: -4%;
    }
    .inputFileCourse {
        height: 14em;
        .form-control-file {
            position: relative;
            width: 50%;
            height: 100%;
            min-height: 6em;
            outline: none;
            visibility: hidden;
            cursor: pointer;
            background-color: #c61c23;
            box-shadow: 0 0 5px solid currentColor;
            &::before {
                color: #ed462f;
                content: attr(data-title);
                position: absolute;
                top: 1.5em;
                left: 0;
                width: 100%;
                /* min-height: 8em; */
                height: 12em;
                line-height: 8em;
                padding-top: 1.5em;
                opacity: 1;
                visibility: visible;
                text-align: center;
                border: 0.15em dashed #9ea4a5;
                transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
                overflow: hidden;
            }
            &::hover {
                &:before {
                    border-style: solid #076ba1;
                    /*box-shadow: inset 0px 0px 0px 0.25em currentColor;*/
                }
            }
        }
    }
    .labelFile {
        font-size: 17px;
    }
    .dropHeight {
        height: 2.5rem;
    }
    .cancelButton {
        border-radius: 0px;
        background-color: #076ba1;
        background: #076ba1;
        color: white;
        transform: none;
    }
    /* ::-moz-placeholder  Firefox v19+ */
    /* :-moz-placeholder  Firefox v18- */
    /* For Firefox only */
    .inputFileCourse {
        height: 14em;
        .form-control-file {
            position: relative;
            width: 50%;
            height: 100%;
            min-height: 6em;
            outline: none;
            visibility: hidden;
            cursor: pointer;
            background-color: #c61c23;
            box-shadow: 0 0 5px solid currentColor;
            &:before {
                color: #ed462f;
                content: attr(data-title);
                position: absolute;
                top: 1.5em;
                left: 0;
                width: 100%;
                /* min-height: 8em; */
                height: 12em;
                line-height: 8em;
                padding-top: 1.5em;
                opacity: 1;
                visibility: visible;
                text-align: center;
                border: 0.15em dashed #9ea4a5;
                transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
                overflow: hidden;
            }
            &:hover {
                &:before {
                    border-style: solid #076ba1;
                    /*box-shadow: inset 0px 0px 0px 0.25em currentColor;*/
                }
            }
        }
    }
    /* For Firefox only */
    .labelFile {
        font-size: 17px;
    }
    /* For Firefox only */
    .cancelBut {
        border-radius: 0;
        transform: none;
    }
    .addFileHeadSeperator {
        /*margin: 4px;*/
        border-top-color: #9E9E9E;
    }
    .topicSeprator {
        border-top-color: #9E9E9E;
    }
    .resourceSeprator {
        border-top-color: #ececec;
    }
    .topicEditSeperator,
    .resourceEditSeperator {
        margin: 4px;
        /*border-top-color: #9E9E9E;*/
    }
    .form-control,
    .mydp,
    .mydp .headertodaybtn,
    .mydp .selection,
    .mydp .selectiongroup,
    .mydp .selector {
        border-radius: 0px;
    }
    .sticky-top {
        position: sticky;
        top: 67px;
        z-index: 1090;
    }
    .addEditConTopBtnDiv {
        background-color: #fff;
    }
    // .sqrCheckBoxActivity {
    //     font-size: 15.75px;
    //     font-weight: 600;
    //     // background: #fff;
    // }
    // .sqrCheckBoxActivity .sqrCheckBoxActivityLabel {
    //     border: 1px solid #ccc;
    //     border-radius: none;
    //     cursor: pointer;
    //     height: 16px;
    //     // left: -14px;
    //     position: -webkit-sticky;
    //     position: relative;
    //     width: 16px;
    //     top: 10px;
    //     // margin-right: -10px;
    //     margin-right: 5px;
    //     background: #fff;
    // }
    // .sqrCheckBoxActivity .sqrCheckBoxActivityLabel:after {
    //     // border: 2px solid #fff;
    //     border: 2px solid #076ba1;
    //     border-top: none;
    //     border-right: none;
    //     content: "";
    //     height: 4px;
    //     left: 1.5px;
    //     opacity: 0;
    //     position: absolute;
    //     top: 4.0px;
    //     -webkit-transform: rotate(-45deg);
    //     transform: rotate(-45deg);
    //     width: 12px;
    // }
    // .sqrCheckBoxActivity input[type="checkbox"] {
    //     visibility: hidden;
    //     display: none;
    // }
    // .sqrCheckBoxActivity input[type="checkbox"]:checked+.sqrCheckBoxActivityLabel {
    //     background-color: #ffffff;
    //     border-color: #076ba1;
    // }
    // .sqrCheckBoxActivity input[type="checkbox"]:checked+.sqrCheckBoxActivityLabel:after {
    //     opacity: 1;
    // }
    .courseRevDis {
        /* pointer-events: none; */
        cursor: not-allowed;
        background-color: #fdfbfbc2;
        // z-index: 1000;
        .checkBoxDiv {
            pointer-events: none;
        }
    }
    .marginTop14 {
        margin-top: 14px;
    }
    .width100 {
        width: 100%;
    }
    .marginTop10 {
        margin: 10px 0;
    }
    .formGen,
    .contentformGen {
        width: 100%;
    }
    .contentformGenCard {
        margin-top: 0px;
        margin-bottom: 0;
    }
    .assesmentformGenCard,
    .assignmentformGenCard,
    .communicationformGenCard {
        margin-bottom: 0;
        margin-top: 10px;
    }
    .managementformGenCard {
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .contentCardForm,
    .assesmentCardForm,
    .assignmentCardForm,
    .communicationCardForm,
    .managementCardForm {
        cursor: pointer;
        margin-bottom: 0;
    }
    .contentCardBody,
    .assesmentCardBody,
    .assignmentCardBody,
    .communicationCardBody,
    .managementCardBody {
        // padding: 15px 15px 0px 15px  ;
        padding: 0.5rem;
    }
    .headerCard {
        display: inline-block;
        // display: inline-flex;
        // display: inherit;
        width: 100%;
    }
    .contentTitle,
    .assesmentTitle,
    .assignmentTitle,
    .communicationTitle,
    .managementTitle {
        float: left;
        margin-bottom: 0;
        font-size: 1.3rem;
        font-weight: 100;
        margin-top: 0;
        background: #076ba1;
        color: #ffff !important;
        padding: 2px 10px 10px 10px;
    }
    .downArrow {
        color: #ed462f;
    }
    #right_float {
        float: right;
    }
    .margin_bottom10 {
        margin-bottom: 10px;
    }
    [data-toggle="collapse"] i:before {
        content: "\f139";
    }
    [data-toggle="collapse"].collapsed i:before {
        content: "\f13a";
    }
    .expandBtn {
        float: right;
        background: #fff;
        border: none;
    }
    .expandBtn:hover {
        background: #fff;
        border: none;
        outline: none;
    }
    .topBorderForm {
        // border-bottom: 1px solid #076ba1;
        // margin-top: 30px;
    }
    .contentContent,
    .assesmentContent,
    .assignmentContent,
    .communicationContent,
    .managementContent {
        // min-height: 100px;
        min-height: 498px;
        // max-height: 498px;
    }
    // .assesmentContent{
    //   // min-height: 100px;
    //   min-height: 350px;
    // }
    // .assignmentContent{
    //   // min-height: 100px;
    //   min-height: 350px;
    // }
    // .communicationContent{
    //   // min-height: 100px;
    //   min-height: 350px;
    // }
    .pointer {
        margin-bottom: 0px;
    }
    .divScrollActivityTypeList {
        // width: 100%;
        width: 25%;
        min-height: 100px;
        // max-height: 340px;
        max-height: 498px;
        overflow-y: auto;
        margin-bottom: 0;
        margin-left: 8px;
    }
    .divScrollActivityTypeData {
        // width: 74%;
        // margin-left: 9px;
        // min-height: 100px;
        // max-height: 498px;
        // overflow-y: auto;
        // margin-bottom: 0;
        width: 72.5%;
        margin-left: 9px;
        min-height: 100px;
        max-height: 498px;
        overflow-y: auto;
        margin-bottom: 0;
    }
    .actTypeHead {
        margin-bottom: 0px;
        line-height: 0.7;
    }
    .actTypeSeprator {
        border-top-color: #9E9E9E;
        // margin-top: 20px;
        margin: 20px 0 0 0;
    }
    .actTypeHeadDiv {
        padding: 0;
    }
    .activeActType,
    .activeTopic {
        border: 1px solid #076ba1;
        background-color: #e9eef1;
    }
    .activityContainer {
        max-height: 610px;
        overflow-y: auto;
    }
    .cardBodyActivityList {
        border-bottom: 1px solid #000;
    }
    .inputGroupRadioDemo {
        background-color: #fff;
        display: block;
        margin: 10px 0;
        position: relative;
        label {
            padding: 12px 30px;
            width: 100%;
            display: block;
            text-align: left;
            color: #3C454C;
            cursor: pointer;
            position: relative;
            z-index: 2;
            transition: color 200ms ease-in;
            overflow: hidden;
            &:before {
                // width: 10px;
                // height: 10px;
                // border-radius: 50%;
                // content: '';
                // background-color: #5562eb;
                // position: absolute;
                // left: 50%;
                // top: 50%;
                // transform: translate(-50%, -50%) scale3d(1, 1, 1);
                // transition: all 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
                // opacity: 0;
                // z-index: -1;
                width: 100%;
                height: 10px;
                border-radius: 50%;
                content: '';
                // background-color: #2baadd;
                background-color: #076ba1;
                position: absolute;
                /* left: 50%; */
                top: 50%;
                -webkit-transform: translate(-50%, -50%) scale3d(1, 1, 1);
                transform: translate(-50%, -50%) scale3d(1, 1, 1);
                -webkit-transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
                transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
                opacity: 0;
                z-index: -1;
            }
            &:after {
                width: 32px;
                height: 32px;
                content: '';
                border: 2px solid #D1D7DC;
                background-color: #fff;
                background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
                background-repeat: no-repeat;
                background-position: 2px 3px;
                border-radius: 50%;
                z-index: 2;
                position: absolute;
                right: 30px;
                top: 50%;
                transform: translateY(-50%);
                cursor: pointer;
                transition: all 200ms ease-in;
            }
        }
        input:checked~label {
            color: #fff;
            &:before {
                transform: translate(-50%, -50%) scale3d(56, 56, 1);
                opacity: 1;
            }
            &:after {
                background-color: #54E0C7;
                border-color: #54E0C7;
            }
        }
        input {
            width: 32px;
            height: 32px;
            order: 1;
            z-index: 2;
            position: absolute;
            right: 30px;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
            visibility: hidden;
        }
    }
    .displayNone {
        display: none;
    }
    .borderNone {
        border: none;
    }
    .textCenter {
        text-align: center;
    }
    .padding0 {
        // padding: 0;
        padding: 0;
    }
    .margin0 {
        margin: 0;
    }
    .margin0auto {
        margin: 0 auto;
    }
    .font50 {
        font-size: 50px;
    }
    .marginTop4 {
        margin-top: 4px;
    }
    .marginBottom0 {
        margin-bottom: 0;
    }
    .selectContentBackdrop {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        z-index: 1503;
        background-color: #404040c2;
        .selectContentModal {
            width: 50%;
            margin: auto;
            background-color: #fff;
            margin-top: 65px;
            border-radius: 5px;
        }
    }
    .contentModelSubDiv {
        /* height: 323px; */
        overflow-y: scroll;
        height: 365px;
        width: 100%;
    }
    .module-icon {
        margin: 0 auto;
    }
    .moduleIcon-upload {
        position: relative;
        max-width: 275px;
        .moduleIcon-edit {
            position: absolute;
            z-index: 1;
            left: 13px;
            bottom: 8px;
            input {
                display: none;
                +label {
                    display: inline-block;
                    width: 34px;
                    height: 34px;
                    margin-bottom: 0;
                    border-radius: 100%;
                    background: #FFFFFF;
                    border: 1px solid transparent;
                    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
                    cursor: pointer;
                    font-weight: normal;
                    transition: all .2s ease-in-out;
                    &:hover {
                        background: #f1f1f1;
                        border-color: #d6d6d6;
                    }
                    &:after {
                        content: "\f040";
                        font-family: 'FontAwesome';
                        color: #757575;
                        position: absolute;
                        top: 10px;
                        left: 0;
                        right: 0;
                        text-align: center;
                        margin: auto;
                    }
                }
            }
        }
        .moduleIcon-delete {
            position: absolute;
            z-index: 1;
            right: 13px;
            bottom: 8px;
            label {
                display: inline-block;
                width: 34px;
                height: 34px;
                margin-bottom: 0;
                border-radius: 100%;
                background: #FFFFFF;
                border: 1px solid transparent;
                box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
                cursor: pointer;
                font-weight: normal;
                transition: all .2s ease-in-out;
                &:hover {
                    background: #f1f1f1;
                    border-color: #d6d6d6;
                }
                &:after {
                    content: "\f1f8";
                    font-family: 'FontAwesome';
                    color: #757575;
                    position: absolute;
                    top: 10px;
                    left: 0;
                    right: 0;
                    text-align: center;
                    margin: auto;
                }
            }
        }
        .moduleIcon-preview {
            width: 100%;
            height: 180px;
            position: relative;
            border: 6px solid #F8F8F8;
            -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
            >img {
                width: 100%;
                height: 100%;
            }
        }
    }
    .moduleContentDiv {
        width: 100%;
        margin: auto;
        margin-top: 20px;
    }
    .contentIcon {
        width: 50%;
        height: 50%;
        margin: 5px;
        // margin-left: 50px;
    }
    .modAct li {
        list-style-type: none;
        margin: 0;
        padding: 10px 5px 0 5px;
        position: relative;
        // left: 20px;
        // margin-left: 25px;
        // margin-left: 35px;
        // margin-left: 45px;
        margin-left: 33px;
    }
    .modAct li::before,
    .modAct li::after {
        content: '';
        left: -20px;
        position: absolute;
        right: auto
    }
    .modAct li::before {
        // border-left:2px solid #000;
        // border-left: 2px solid #076ba1;
        border-left: 2px solid var(--colorCommon);
        bottom: 50px;
        height: 100%;
        // top:0;
        top: -10px;
        width: 1px
    }
    .modAct li::after {
        // border-top:2px solid #000;
        // border-top: 2px solid #076ba1;
        border-top: 2px solid var(--colorCommon);
        height: 20px;
        top: 25px;
        width: 25px
    }
    .modAct li .treeIcon {
        // -moz-border-radius:5px;
        // -webkit-border-radius:5px;
        // border:2px solid #000;
        // border-radius:3px;
        // display:inline-block;
        // padding:3px 8px;
        // text-decoration:none;
        // cursor:pointer;
        border-radius: 50px;
        width: 35px;
        display: inline-block;
        /* padding: 6px 8px; */
        text-decoration: none;
        border: 2px solid #076ba1;
        color: #076ba1;
        height: 35px;
        display: inline-flex;
        font-size: 16px;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .modAct>ul>li::before,
    .modAct>ul>li::after {
        border: 0
    }
    .modAct li:last-child::before {
        // height:27px;
        height: 36px;
    }
    .modAct li .treeIcon:hover {
        // background: hotpink;
        // border:2px solid #94a0b4;
        // background: #076ba1;
        // border: 2px solid #076ba1;
        // color: #fff;
    }
    [aria-expanded="false"]>.expanded,
    [aria-expanded="true"]>.collapsed {
        display: none;
    }
    .curPointer {
        cursor: pointer;
        padding-left: 10px;
    }
    .addActBtn {
        float: right;
        border-radius: 50px;
        color: #076ba1;
        border-color: #076ba1;
        border: 1px solid #076ba1;
        background-color: transparent;
        // margin: 0px 5px 0px 5px;
        margin: 6px 5px 6px 5px;
        width: 30px;
    }
    .addActBtn:hover {
        // background: hotpink;
        // border:2px solid #94a0b4;
        background: #076ba1;
        border: 2px solid #076ba1;
        color: #fff;
    }
    .addActBtn:focus {
        outline: none;
    }
    .modActUl {
        padding-left: 0;
        border: none;
        padding: 0;
        margin-bottom: 0;
    }
    .modActLi {
        // margin-left: 10px;
        margin-left: 0;
        padding: 0;
        border-bottom: none;
    }
    .modActSubDiv {
        // background: #f1f5f8;
        padding: 10px;
        // padding: 10px 10px 0px 10px;
    }
    .treeIcon a {
        // padding: 10px 8px;
        // padding: 0px;
        padding: 10px 1px;
        font-size: 22px;
    }
    .modActSubUl {
        padding-bottom: 8px;
        border: none;
        padding-right: 5px;
    }
    /*  bhoechie tab */
    div.bhoechie-tab-container {
        z-index: 10;
        background-color: #ffffff;
        padding: 0;
        border-radius: 4px;
        -moz-border-radius: 4px;
        // margin-top: 20px;
        // margin-left: 50px;
        // border:1px solid #ddd;
        // -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
        // box-shadow: 0 6px 12px rgba(0,0,0,.175);
        // -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
        background-clip: padding-box;
        opacity: 0.97;
        filter: alpha(opacity=97);
    }
    div.bhoechie-tab-menu {
        padding-right: 0;
        padding-left: 0;
        padding-bottom: 0;
    }
    div.bhoechie-tab-menu div.list-group {
        margin-bottom: 0;
    }
    div.bhoechie-tab-menu div.list-group>.list-group-item {
        padding: 24.59px;
        color: #2d98d1;
    }
    div.bhoechie-tab-menu div.list-group>a {
        margin-bottom: 0;
    }
    div.bhoechie-tab-menu div.list-group>a .glyphicon,
    div.bhoechie-tab-menu div.list-group>a .fa,
    div.bhoechie-tab-menu div.list-group>a .ion {
        // color: #5A55A3;
        color: #2d98d1;
    }
    div.bhoechie-tab-menu div.list-group>a:first-child {
        border-top-right-radius: 0;
        -moz-border-top-right-radius: 0;
    }
    div.bhoechie-tab-menu div.list-group>a:last-child {
        border-bottom-right-radius: 0;
        -moz-border-bottom-right-radius: 0;
    }
    div.bhoechie-tab-menu div.list-group>a.active,
    div.bhoechie-tab-menu div.list-group>a.active .glyphicon,
    div.bhoechie-tab-menu div.list-group>a.active .fa,
    div.bhoechie-tab-menu div.list-group>a.active .ion {
        // background-color: #5A55A3;
        background-color: #076ba1;
        background-image: #5A55A3;
        color: #ffffff;
    }
    div.bhoechie-tab-menu div.list-group>a.active:after {
        content: '';
        position: absolute;
        left: 100%;
        top: 50%;
        margin-top: -13px;
        border-left: 0;
        border-bottom: 13px solid transparent;
        border-top: 13px solid transparent;
        // border-left: 10px solid #5A55A3;
        border-left: 10px solid #076ba1;
    }
    div.bhoechie-tab-content {
        background-color: #ffffff;
        /* border: 1px solid #eeeeee; */
        // padding-left: 20px;
        padding-left: 10px;
        padding-top: 10px;
    }
    div.bhoechie-tab div.bhoechie-tab-content:not(.active) {
        display: none;
    }
    .activityTabContent {
        // max-height: 498px;
        max-height: 480px;
        // max-height: 508px;
        overflow-y: auto;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        border-right: 1px solid #ddd;
    }
    .topicListContainer {
        background: #fff;
        height: 500px;
    }
    .addTopicBtnToolSpan {
        width: 100%;
        margin: 10px 0px 10px 10px;
    }
    .startDateDiv {
        display: inline-flex;
        width: 100%;
    }
    .startDateDrop {
        width: 105px;
    }
    .startDateLabel {
        // padding: 0 10px 0 10px;
        padding: 0 10px 0 2px;
    }
    .startDateRadioBtn {
        margin-top: 8px;
    }
    .startDateFlex {
        display: inline-flex;
        line-height: 2;
    }
    .datePickerInputModule {
        margin: 0 10px 0 10px;
        width: 106px;
    }
    .openDatepickerModule {
        background: #076ba1;
        border: 1px solid #076ba1;
        color: #fff;
    }
    .marginTop10 {
        margin-top: 10px;
    }
    timepicker button {
        background-color: #2d98d1;
        border: 4px solid #349bd2;
        border-radius: 0;
    }
    .selectedContentContaner {
        padding: 15px;
    }
    .contentImgDiv {
        width: 175px;
        height: 150px;
        margin-bottom: 10px;
    }
    .displayin {
        display: inline;
        padding: 0px;
        margin-bottom: 12px;
    }
    .removeSelectedContent {
        color: #ee3622;
        float: right;
        font-size: 1.5rem;
        font-weight: 700;
        /* line-height: 1; */
        /* text-shadow: 0 1px 0 #fff; */
        opacity: .5;
        background: transparent;
        border: none;
    }
    // .removeCon{
    //   color: #ee352c  ;
    // }
    .selectedContentHeader {
        border-bottom: 1px solid #b3babd61;
        padding-bottom: 5px;
        padding-top: 2px;
    }
    // .selectedContentName{
    //   font-weight: 550;
    //   font-size: 17px;
    //   // border-bottom: 1px solid #dadada;
    // }
    .selectedContentDesc {}
    .floatrightContent {
        float: right;
        font-size: 14px;
        line-height: 20px;
        text-align: justify;
        top: 7px;
    }
    .selectedContentIcon {
        // width: 60%;
        width: 70%;
        height: 60%;
        margin: 20px;
    }
    // .selectedContentIcon{
    //   width: 75%
    // }
    .contentDiv {
        border: 1px solid #f5f5f5;
        text-align: center;
        padding: 15px;
    }
    .contentName {
        margin-bottom: 0;
        padding-top: 10px;
    }
    .assesmentTabContent {
        border-left: 1px solid #ddd;
    }
    /** The Magic **/
    .btn-breadcrumb1 .btn:not(:last-child):after {
        content: " ";
        display: block;
        width: 0;
        height: 0;
        border-top: 17px solid transparent;
        border-bottom: 17px solid transparent;
        border-left: 10px solid white;
        position: absolute;
        top: 50%;
        margin-top: -17px;
        left: 100%;
        z-index: 3;
    }
    .btn-breadcrumb1 .btn:not(:last-child):before {
        content: " ";
        display: block;
        width: 0;
        height: 0;
        border-top: 17px solid transparent;
        border-bottom: 17px solid transparent;
        border-left: 10px solid rgb(173, 173, 173);
        position: absolute;
        top: 50%;
        margin-top: -17px;
        margin-left: 1px;
        left: 100%;
        z-index: 3;
    }
    /** The Spacing **/
    .btn-breadcrumb1 .btn {
        padding: 6px 12px 6px 24px;
    }
    .btn-breadcrumb1 .btn:first-child {
        padding: 6px 6px 6px 10px;
    }
    .btn-breadcrumb1 .btn:last-child {
        padding: 6px 18px 6px 24px;
    }
    /** Primary button **/
    .btn-breadcrumb1 .btn.btn-primary1:not(:last-child):after {
        border-left: 10px solid #428bca;
    }
    .btn-breadcrumb1 .btn.btn-primary1:not(:last-child):before {
        border-left: 10px solid #357ebd;
    }
    .btn-breadcrumb1 .btn.btn-primary1:hover:not(:last-child):after {
        border-left: 10px solid #3276b1;
    }
    .btn-breadcrumb .btn.btn-primary1:hover:not(:last-child):before {
        border-left: 10px solid #285e8e;
    }
    .btn-primary1 {
        color: #fff;
        background-color: #428bca;
        // border-color: #357ebd;
        border-color: var(--colorCommon);
    }
    .btn-primary1:hover {
        color: #fff;
        background-color: #3276b1;
        border-color: #285e8e;
    }
    .breadcrumbDiv {
        color: #fff;
    }
    .firstChild {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        cursor: pointer;
    }
    .midChild {
        cursor: pointer;
    }
    .lastChild {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        background-color: #3276b1;
    }
    .breadcrumbActToolbarDiv {
        padding-left: 20px;
        padding-right: 20px;
    }
    .mrgnTop0 {
        margin-top: 0;
    }
    // .reqFieldActivity {
    //     display: inline;
    //     color: #ed462f  ;
    // }
    .sqrCheckBoxActivity .sqrCheckBoxLabelActivity {
        border: 1px solid #ccc;
        border-radius: none;
        cursor: pointer;
        height: 16px;
        left: -14px;
        position: -webkit-sticky;
        position: relative;
        width: 16px;
        top: 10px;
        margin-right: -10px;
        background: #fff;
    }
    .sqrCheckBoxActivity .sqrCheckBoxLabelActivity:after {
        // border: 2px solid #fff;
        border: 2px solid #076ba1;
        border-top: none;
        border-right: none;
        content: "";
        height: 4px;
        left: 1.5px;
        opacity: 0;
        position: absolute;
        top: 4.0px;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        width: 12px;
    }
    .sqrCheckBoxActivity input[type="checkbox"] {
        visibility: hidden;
    }
    .sqrCheckBoxActivity input[type="checkbox"]:checked+.sqrCheckBoxLabelActivity {
        background-color: #ffffff;
        border-color: #076ba1;
    }
    .sqrCheckBoxActivity input[type="checkbox"]:checked+.sqrCheckBoxLabelActivity:after {
        opacity: 1;
    }
    .copyurl {
      display: grid;
      grid-template-columns: 3fr 1fr;
      width: 100%;
      .copybtn {
          cursor: pointer;
          // background: #076ba1;
          background: var(--colorCommon);
          width: 100%;
          border-radius: 0px;
      }
      .copybtn:hover,
      .copybtn:focus,
      .copybtn:active,
      .copybtn:disabled {
          // cursor: pointer;
          // background: #076ba1;
          background: var(--colorCommon);
          // width: 100%;
      }
  }
  .input-group-btn {
      width: 100%;
  }
  .fa-spin-infinite {
      font-size: 18px;
      // -webkit-animation: infinite-spinning 1s ease-out 0s infinite normal;
      animation: infinite-spinning 1s ease-out 0s infinite normal;
  }
  .close {
      outline: none;
  }
  @keyframes infinite-spinning {
      from {
          transform: rotate(0deg);
      }
      to {
          transform: rotate(360deg);
      }
  }
}

.close {
    outline: none;
}
