// .headT{
//     width: 100%;
//     margin: 0;
//     line-height: 28px;
//     color: #484848;
//     font-family: "poppins";
// }
// .d-flex{
//     display: flex !important;
//     padding: 10px;
//     font-size: 20px;
//     border-bottom: 0.5px solid #ccc;
// }
// .modalbtn{
//     width: 30px;
//     height: 30px;
//     border-radius: 50%;
//     border: none;
//     font-weight: 600;
//     background: #73a1ff;
//     line-height: 30px;
//     color: #fff;
//     cursor: pointer;
//     font-size: 24px;
// }
// .horiz{
//     margin: 0;
//     border: 1px solid #ccc;
//     width: 100%;
// }
// .coursediv{
//     width: 100%;
//     padding: 0;
//     margin: 4% 0 0 4%;
//     height: 100%;
//     -webkit-box-flex: 0;
//     -ms-flex: 0 0 20%;
//     flex: 0 0 20%;
//     color: #000000;
//     background-color: #ffffff;
//     border: 1px solid #eedded;
//     -webkit-box-shadow: none;
//     box-shadow: none;
// }
// .contents{
//     margin-top: 20px;
//     padding: 10px 15px;
// }
// .imgblock{
//     text-align: center;
// }
// .imgCC{
//     width: 100%;
//     height: 100px;
//     margin: auto;
// }
// .mains{
//     padding: 10px;
// }
// .flextit{
//     display: flex;
//     line-height: 30px;
// }
// .items{
//     display: flex;
//     margin: 20px 0;
// }
// .title1{
//     margin: 0;
//     font-size: 18px;
//     font-family: "poppins";
//     width: 100%;
// }
// .bars{
//     line-height: 30px;
//     font-size: 20px;
//     cursor: pointer;
// }
// .desc{
//     font-size: 13px;
//     text-align: justify;
//     margin: 14px 0;
// }
// .addSelfBackdrop345{
//     // position: absolute;
//     //   width: 100%;
//     //   height: 100%;
//     //   top: 0px;
//     //   left:0px;
//     //   padding: 0;
//     //   background-color: #404040c2;
//     //   z-index: 1500;
//     //   box-sizing: border-box;
//     position: fixed;
//     width: 100%;
//     height: 100%;
//     top: 0px;
//     left: 0px;
//     z-index: 1503;
//     background-color: #404040c2;
//   }
//   .addSelfDemoModal345{
//     // margin: auto ;
//     // width:50%;
//     // background-color: #fff;
//     // border-radius: 5px;
//     // margin-top: 2%;
//     width: 50%;
//     margin: auto;
//     background-color: #fff;
//     margin-top: 65px;
//     border-radius: 5px;
//   }
.listheadings {
    height: 40px;
    margin: 0 20px;
    // border-top: 0.5px solid #68c7fb;
    border-bottom: 0.5px solid var(--colorCommon);
    display: flex;
    cursor: pointer;
}

.textBoxLength {
    width: 100%;
    height: 25px;
    line-height: 25px;
    margin: auto;
    outline: none;
    border: none;
    font-size: 13px;
    color: var(--colorCommon);
}

.textBoxLength::placeholder {
    color: var(--colorCommon);
}

.modal-header {
    background-color: #076ba1;
    height: 55px;
    color: var(--colorBtnTxt) !important;
}

.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: var(--colorBtnTxt) !important;
    text-shadow: 0 1px 0 var(--colorBtnTxt);
    opacity: .5;
}

//   .percents{
//       width: 100%;
//       text-align: center;
//   }
//   .modalTitle{
//     width: 100%;
//     line-height: 30px;
//     height: 30px;
//     margin: auto;
//     padding: 0 20px;
//     color: #fff;
//     font-family: "poppins";
//   }
//   .close{
//     line-height: 30px;
//     height: 30px;
//     font-family: "poppins";
//     color: #fff;
//     width: 30px;
//     margin: auto;
//   }
//   .checkbtn{
//       width: 30px;
//       height: 30px;
//       padding: 0 8px;
//       border: 1px solid #ccc;
//       border-radius: 50%;
//       background: #fff;
//       color: #fff;
//       text-align: center;
//       cursor: pointer;
//       line-height: 30px;
//   }
//   .selected{
//     width: 30px;
//     height: 30px;
//     padding: 0 8px;
//     border: none;
//     border-radius: 50%;
//     background: #67e640;
//     text-align: center;
//     color: #fff;
//     cursor: pointer;
//     line-height: 30px;
//   }
//   .modalfooter345{
//     text-align: right;
//   }
.addCourseBackdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1503;
    background-color: #404040c2;
    .addCourseBackdropModal {
        width: 50%;
        margin: auto;
        background-color: #fff;
        margin-top: 65px;
        border-radius: 5px;
    }
}

.topDivRe {
    height: 323px;
    overflow-y: scroll;
}

.badgeContainer,
.certContainer {
    margin: 15px;
}

.displayin {
    display: inline;
    padding: 0px;
    margin-bottom: 12px;
    cursor: pointer;
    border: 1px solid #eee;
}

.activeCourse {
    border: 1px solid var(--colorCommon) !important;
    background-color: #e9eef1;
}

.courseIcon {
    width: 60%;
    height: 50%;
    margin: 5px;
    margin-left: 20px;
}

.floatrig {
    float: right;
    font-size: 11px;
    line-height: 15px;
    margin: 0;
    top: 0;
    text-align: justify;
}

.courseContainer {
    margin: 15px;
}

.BrCo {
    float: right;
    background: var(--colorCommon) !important;
    color: var(--colorBtnTxt) !important;
    border: none !important;
    height: 28px !important;
    margin: 5px !important;
}


/******************************************** copy data ************************************************/

// ngx-course-details{
.mainDiv {
    padding: 2.25rem 2.25rem 0.75rem !important;
}

.headContainer {
    display: inline-flex;
    width: 100%;
}

.headImg {
    float: right;
}

.headContent {
    height: 86px;
    width: 1036px;
}

.headTitle {
    color: #464646;
    // font-family: "Open Sans";	
    font-size: 26px;
    line-height: 36px;
    margin-bottom: 0rem !important;
}

.headDesc {
    opacity: 0.6;
    color: #464646;
    //font-family: "Open Sans";
    font-size: 14px;
    line-height: 35px;
    margin-bottom: 0;
}

.headDetails {
    color: #464646;
    //font-family: "Open Sans";	
    font-size: 12px;
    line-height: 17px;
}

.shareContent {
    margin: auto;
    text-align: center;
}

.headShareImg {
    height: 30px;
    width: 30px;
    float: right;
}

.noPad {
    padding: 0px !important;
    margin: auto;
}

.bodyContent {
    height: auto;
    width: 100%;
    border-radius: 10px;
    background-color: var(--colorBtnTxt);
    -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-top: 20px;
}

.bodyImg {
    height: 100%;
    width: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.card-overlay {
    z-index: 999;
    background: rgba(0, 0, 0, 0.5);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-right: 12px;
    width: 35%;
}

.card-not-overlay {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 100%;
    padding-left: 0;
}

.bodyMid {
    margin: 30px 0;
    width: 100%;
}

.bodyMidHead {
    display: inline-flex;
    width: 100%;
}

.bNo {
    color: var(--colorCommon);
    // font-family: "Open Sans";	
    font-size: 26px;
    line-height: 36px;
    text-align: center;
}

.bNa {
    color: #1B2437;
    // font-family: "Open Sans";	
    font-size: 26px;
    line-height: 36px;
    text-align: center;
}

.bMHP1 {
    margin: 0;
}

.alignCenter {
    width: 100%;
    margin: auto 0;
    padding: 0;
    text-align: right;
}

.bMHP2 {
    color: #464646;
    //font-family: "Open Sans";
    font-size: 14px;
    font-weight: 600;
    line-height: 23px;
    margin: auto 20px;
}

.bodyMidCoins {
    margin-top: 15px;
    height: 24px;
    width: 92px;
    border-radius: 12px;
    background-color: #FFAE74;
}

.bodyMidCoinsText {
    color: var(--colorBtnTxt);
    // font-family: "Open Sans";	
    font-size: 12px;
    font-weight: 600;
    line-height: 17px;
    text-align: center;
    padding-top: 4px;
}

.cardImg {
    height: 20px;
    margin: auto 0;
}

.cardImg2 {
    cursor: pointer;
    width: 18px;
    float: right;
}

.bodydesc {
    width: 100%;
    text-align: justify;
    margin: 20px 0;
    font-size: 15px;
    //font-family: "open sans";
    line-height: 24px;
}

.bodyMidButton {
    height: 40px;
    width: 228px;
    border-radius: 100px;
    background-color: var(--colorCommon);
    box-shadow: 0 10px 20px 0 rgba(80, 123, 252, 0.5);
    margin-top: 45px;
    margin-right: 30px;
    float: right;
    cursor: pointer;
}

.bodyMidButton1 {
    height: 40px;
    width: 228px;
    border: 1px solid #AAAAAA;
    border-radius: 100px;
    box-shadow: 0 10px 20px 0 rgba(80, 123, 252, 0.5);
    float: right;
    cursor: pointer;
    margin-right: 25px;
}

.bodyMidButton2 {
    height: 40px;
    width: 228px;
    border-radius: 100px;
    background-color: #AAAAAA;
    box-shadow: 0 10px 20px 0 rgba(80, 123, 252, 0.5);
    margin-top: 45px;
    margin-right: 30px;
    float: right;
    cursor: not-allowed;
}

.bodyMidButtonText {
    color: var(--colorBtnTxt);
    // font-family: "Open Sans";	
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    text-align: center;
    padding: 10px;
}

.bodyMidButtonText1 {
    color: #AAAAAA;
    // font-family: "Open Sans";
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    padding: 10px;
}

.bodyMidButtonText2 {
    color: var(--colorBtnTxt);
    // font-family: "Open Sans";	
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
    text-align: center;
    padding: 10px;
}

.Tabs {
    display: inline-flex;
}

.Tab-container {
    height: 35px;
    width: 150px;
    border-radius: 17px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 6px 0 rgba(47, 83, 151, 0.1);
    margin-right: 10px;
    cursor: pointer;
}

.Tab-content {
    color: var(--colorCommon);
    //font-family: "Open Sans";	
    font-size: 16px;
    font-weight: 600;
    line-height: 32.5px;
    text-align: center;
    // width: auto !important;
    // border: 1px solid #076ba1;
    // padding: 6px 14px !important;
    // background-color: #ffffff !important;
    // color: #076ba1 !important;
    // min-width: 90px !important;
    // max-height: 36px !important;
    // height: 32px;
}

.noData {
    text-align: center;
    height: 500px;
}

.centerAlign {
    position: relative;
    top: 50%;
}

.centrtxt {
    font-size: 20px;
}

.Tab-container-active {
    height: 35px;
    width: 150px;
    border-radius: 17px;
    background-color: var(--colorCommon);
    box-shadow: 0 10px 20px 0 rgba(80, 123, 252, 0.5);
    margin-right: 10px;
}

.Tab-content-active {
    color: var(--colorBtnTxt);
    // font-family: "Open Sans";	
    font-size: 16px;
    font-weight: 600;
    line-height: 32.5px;
    text-align: center;
}

.deleteModuleIcon {
    float: right;
    font-size: x-large;
    cursor: pointer;
}

// }