<div *ngIf="courseAvailable">

    <div class='mainDiv'>

        <div class='row'>

            <div class="col-md-12">
                <div class='col-md-10'>
                    <div style="display: inline-flex">
                        <div class='noPad'>
                            <img class='headImg' src='assets/images/courseDetailIcon1.svg' />
                        </div>
                        <div>
                            <p class='headTitle'> {{ courseData.courseName }}</p>
                            <p class='headDesc'> {{ courseData.courseDesc }}</p>
                            <!-- <p class='headTitle'> {{condataCourse.courseName}} </p>
                  <p class='headDesc'> {{condataCourse.cDescription}} </p> -->
                            <!-- <p class='headDetails'>Course Completion: end date   |    total courses Stages</p>         -->
                        </div>
                    </div>
                </div>
                <div class='shareContent col-md-2'>
                    <i class="fa fa-times-circle-o deleteModuleIcon" aria-hidden="true" (click)="romoveCourseModules(detail)"></i>
                </div>
            </div>

        </div>

        <div class='Tabs'>

            <div class='Tab-container' *ngFor='let tabs of contentArray;let i=index;' (click)='tabChanged(tabs)' [ngClass]="ActiveTab==i ? 'Tab-container-active' : 'Tab-container'">
                <div class='Tab-content ' [ngClass]="ActiveTab==i ? 'Tab-content-active' : 'Tab-content'">
                    {{ tabs.moduleName }}
                </div>
            </div>

        </div>

        <div class='bodyContainer'>
            <div class='bodyContent' *ngFor='let detail of contentDataArray;let i=index;'>
                <div class="card-overlay" (click)='bookMark(i)'>
                    <img *ngIf='detail.img' class='bodyImg' [src]="detail.img" />
                    <img *ngIf='!detail.img' class='bodyImg' src="assets/images/open-book-leaf.jpg" />
                </div>
                <div class='bodyMid col-9'>
                    <div class='bodyMidHead row'>
                        <p class='bMHP1 col-5'>
                            <!-- <span class='bNo'>{{ detail.activityId }} </span> -->
                            <span class='bNa'>{{ detail.activityName }}</span>
                        </p>
                        <div class="col-5 row">
                            <img class='cardImg' src="assets/images/online.svg" />
                            <p class='bMHP2'>ONLINE | 45 mins</p>
                        </div>
                        <div class="col-md-2 alignCenter">
                            <img *ngIf='detail.bookmarked==true' class='cardImg2' src='assets/images/bookmarked.svg' />
                            <img *ngIf='detail.bookmarked==false' class='cardImg2' src='assets/images/notBookmarked.svg' />
                        </div>
                    </div>
                    <div class='bodydesc'>
                        <p [innerHTML]="detail.summary"></p>
                    </div>
                    <!-- <div class='bodyMidButton' (click)='goToCourseDetails(detail)'>
            <div class='bodyMidButtonText'>Begin</div>
          </div> -->
                </div>
            </div>
        </div>

    </div>



</div>

<div *ngIf="!courseAvailable">
    <div class="noData">
        <div class="centerAlign">
            <p class="centrtxt">No course selected.</p>
            <button class="constantbtn-button-blue-left" (click)="openModal()">Browse course</button>
        </div>

    </div>
</div>


<div class="addCourseBackdrop" *ngIf="couresshow">
    <div class="addCourseBackdropModal">
        <div class="modal-header">
            <p>Select Course</p>
            <button class="close" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="listheadings">
            <input type="text" class="textBoxLength" [(ngModel)]="searchcourse.fullname" placeholder="Search by Course name" />
        </div>
        <div class="mbody modal-body">
            <div class="topDivRe">
                <div class="col-sm-12 card displayin" [ngClass]="{'activeCourse': activeSelectedCourseId == item.courseId}" *ngFor="let item of coursesCC | filterBy: searchcourse; let i = index">
                    <div (click)="setActiveSelectedCourse(i, item)">
                        <div class="col-sm-4 floatleft">
                            <a>
                                <img for="course{{item.courseId}}" class="courseIcon" src='{{item.coursePicRef}}'>
                            </a>
                        </div>

                        <div class="courseContainer">
                            <div class="col-sm-8 floatrig">
                                <h5>{{item.fullname}}</h5>
                                <p>{{item.summary}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-footer text-right">
            <button type="button" class="constantbtn-button-blue-left" (click)="saveCourse()" id="editbtn">Select</button>
        </div>

    </div>
</div>