.ngx-report-only-schedule {
  mat-radio-button {
      margin-right: 10px;
  }
  .mat-radio-inner-circle {
      background-color: #507bfc !important;
  }
  .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
      border-color: #507bfc !important;
  }
}

.popup_conatiner_schedule {
  .header_text {
      color: #263545;
      font-size: 14px;
      font-weight: 500;
      word-break: break-word;
      line-height: 19px;
  }
  .two_cols {
      display: grid;
      grid-template-columns: 3fr 9fr;
      column-gap: 10px;
  }
  .subheader_text {
      color: #a4abb3;
      word-break: break-word;
      font-size: 12px;
      line-height: 17px;
  }
  .selected-list .c-list .c-token {
      font-size: 12px;
  }
  .align_self_center {
      align-self: center;
  }
  .selected-list .c-angle-down,
  .selected-list .c-angle-up {
      width: 13px;
      height: 13px;
      // position: absolute;
      // right: 10px;
      top: 46%;
      // -webkit-transform: translateY(-50%);
      // transform: translateY(-50%);
      // pointer-events: none;
  }
  .addRuleBackdropaddquiz {
      // position: absolute;
      // width: 100%;
      // height: 100%;
      // top: 67px;
      // background-color: #404040c2;
      // z-index: 2000;
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0px;
      left: 0px;
      z-index: 1503;
      background-color: #404040c2;
      .addRuleDemoaddquizModal {
          /*width: 80%;*/
          // width: 50%;
          // margin: auto;
          // background-color: #fff;
          // margin-top: 50px;
          // border-radius: 5px;
          width: 50%;
          margin: auto;
          background-color: #fff;
          margin-top: 65px;
          border-radius: 5px;
      }
  }
  .addRuleDemoaddquizModal .modal-header {
      border-bottom: 1px solid #d5dbe0;
      border-top-left-radius: 0.17rem;
      border-top-right-radius: 0.17rem;
      color: #ffffff;
      font-family: Poppins;
      font-weight: 500;
      font-size: 18px;
      background: #076ba1;
      p {
          margin: 0;
      }
      .close {
          color: #fff;
      }
  }
  .modal-header-1 {
      padding: 10px;
      border-bottom: 1px solid #d5dbe0;
      border-top-left-radius: 0.17rem;
      border-top-right-radius: 0.17rem;
      color: #181818;
      font-family: Poppins;
      font-weight: 500;
      font-size: 1.125rem;
      background: #076ba1;
      color: white;
      display: grid;
      grid-template-columns: 2fr 0fr;
      align-items: center;
      p {
          margin: 0;
      }
      .close {
          display: contents;
          color: #fff;
          outline: none;
      }
  }
  .schedule_card {
      padding: 10px;
      max-height: 300px;
      overflow-x: hidden;
      overflow-y: auto;
      .search_div {
          position: relative;
          .fa {
              top: 10px;
              position: absolute;
              right: 10px;
              cursor: pointer;
          }
      }
      .report_Mode {
          padding-top: 10px;
          .repo {
              margin: 10px !important;
              .repocol {
                  padding: 0px !important;
              }
          }
          .mode_label {
              color: #000;
              margin: 5px;
              font-weight: bold;
          }
      }
      .report_type {}
  }
  .droplist {
      width: 100%;
      padding: 0px 10px;
  }
  .check {
      margin-left: 10px;
  }
  .required_msg_text {
      color: #ed462f !important;
      padding-left: 10px;
      position: relative;
      bottom: 10px;
  }
  .required_msg_text1 {
      color: #ed462f !important;
      // padding-left: 10px;
      position: relative;
      // bottom: 10px;
  }
}
