.rewrds_course {
    .sqrCheckBoxRewards .sqrCheckBoxRewardsLabel {
        border: 1px solid #ccc;
        border-radius: none;
        cursor: pointer;
        height: 16px;
        left: -14px;
        position: -webkit-sticky;
        position: relative;
        width: 16px;
        top: 10px;
        margin-right: -10px;
    }
    .sqrCheckBoxRewards .sqrCheckBoxRewardsLabel:after {
        // border: 2px solid #fff;
        border: 2px solid #076ba1;
        border-top: none;
        border-right: none;
        content: "";
        height: 4px;
        left: 1.5px;
        opacity: 0;
        position: absolute;
        top: 4.0px;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        width: 12px;
    }
    .sqrCheckBoxRewards input[type="checkbox"] {
        visibility: hidden;
    }
    .sqrCheckBoxRewards input[type="checkbox"]:checked+.sqrCheckBoxRewardsLabel {
        background-color: #ffffff;
        border-color: #076ba1;
    }
    .sqrCheckBoxRewards input[type="checkbox"]:checked+.sqrCheckBoxRewardsLabel:after {
        opacity: 1;
    }
    .courseRevDis {
        /* pointer-events: none; */
        cursor: not-allowed;
        background-color: #fdfbfbc2;
        // z-index: 1000;
        .checkBoxDiv {
            pointer-events: none;
        }
    }
    .search_div {
        display: grid;
        grid-template-columns: 5fr 0fr;
        grid-column-gap: 20px;
        align-items: center;
        padding: 10px;
        .search_field {
            -webkit-box-shadow: none;
            box-shadow: none;
            border: 1px solid #dadfe6;
            padding: 10px;
        }
    }
    .marginTop14 {
        margin-top: 14px;
    }
    .formGen,
    .manualformGen {
        width: 100%;
    }
    .formGenCard {
        padding-left: 25px;
        // margin-top: 25px;
    }
    .badgeformGen,
    .certformGen {
        margin-bottom: 1rem;
    }
    .badgeformGenCard,
    .certformGenCard {
        margin-top: 0;
        padding: 0;
    }
    .manualformGenCard,
    .ruleBasedformGenCard,
    .regulatoryformGenCard,
    .selfformGenCard {
        margin-bottom: 0;
        margin-top: 10px;
    }
    .manualCardForm,
    .ruleBasedCardForm,
    .regulatoryCardForm,
    .selfCardForm {
        cursor: pointer;
        margin-bottom: 0;
    }
    .manualCardBody1,
    .ruleBasedCardBody1 {
        // padding: 15px 15px 0px 15px ;
        padding: 0rem;
    }
    .headerCard {
        display: inline-block;
        // display: inline-flex;
        // display: inherit;
        width: 100%;
    }
    .manualTitle,
    .ruleTitle,
    .regTitle,
    .selfTitle {
        float: left;
        margin-bottom: 0;
        font-size: 1.3rem;
        font-weight: 100;
        margin-top: 0;
    }
    .downArrow {
        color: #ed462f;
    }
    #right_float {
        float: right;
    }
    [data-toggle="collapse"] i:before {
        content: "\f139";
    }
    [data-toggle="collapse"].collapsed i:before {
        content: "\f13a";
    }
    .expandBtn {
        float: right;
        background: #fff;
        border: none;
    }
    .expandBtn:hover {
        background: #fff;
        border: none;
        outline: none;
    }
    .topBorderForm {
        // border-bottom: 1px solid #076ba1;
        // margin-top: 30px;
    }
    // .manualContent{
    //   // min-height: 100px;
    //   min-height: 350px;
    // }
    // .ruleBasedContent{
    //   // min-height: 100px;
    //   min-height: 350px;
    // }
    // .regulatoryContent{
    //   // min-height: 100px;
    //   min-height: 350px;
    // }
    // .selfContent{
    //   // min-height: 100px;
    //   min-height: 350px;
    // }
    .manualContent,
    .ruleBasedContent,
    .regulatoryContent,
    .selfContent {
        min-height: 380px;
    }
    .pointer {
        margin-bottom: 0px;
    }
    .subMenu {
        width: 100%;
    }
    .dropdown-list {
        // position: absolute;
        // padding-top: 14px;
        // width: 100%;
        z-index: 1000;
    }
    .manualToolBar {
        margin-top: -13px;
        margin-bottom: 13px;
    }
    #manEnrolBtn,
    #ruleBasedBtn,
    #regulatoryBtn,
    #selfBtn {
        /* margin: 0 10px; */
        border-radius: 0;
        background: #076ba1;
        color: #fff;
        border: #076ba1;
        height: 38px;
        color: #ffffff;
        background-color: #bbc0c3;
        background-image: none;
        border-color: #076ba1;
        -webkit-transform: none;
        transform: none;
        width: 68px;
    }
    #ruleBasedBtn {
        width: 69px;
    }
    .manSearchUsr {
        padding: 7.5px;
        width: 100%;
        margin-top: 2px;
    }
    .browsebtn {
        background: #076ba1;
        color: white;
        border: none;
        height: 28px;
        margin: 5px;
    }
    .margintop {
        margin-top: 8px;
        // float: right;
    }
    // .constantbtn{
    //   width: auto ;
    //   padding: 7px ;
    //   background-color: #076ba1 ;
    //   text-transform: uppercase ;
    // }
    .addRuleBackdrop1 {
        // position: absolute;
        // width: 100%;
        // height: 100%;
        // top: 67px;
        // background-color: #404040c2;
        // z-index: 2000;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        z-index: 1503;
        background-color: #404040c2;
        .addRuleDemoModal1 {
            /*width: 80%;*/
            // width: 50%;
            // margin: auto;
            // background-color: #fff;
            // margin-top: 50px;
            // border-radius: 5px;
            width: 50%;
            margin: auto;
            background-color: #fff;
            margin-top: 65px;
            border-radius: 5px;
        }
    }
    // .imgsrc
    // {
    //   width: 50%;
    //   height: 50%;
    //   margin: 5px;
    //   margin-left: 50px;
    // }
    .floatrig {
        float: right;
        font-size: 11px;
        line-height: 15px;
        margin: 0;
        top: 0;
        text-align: justify;
    }
    .floatrig1 {
        float: right;
        font-size: 14px;
        line-height: 20px;
        text-align: justify;
        top: 7px;
    }
    .floatleft {
        float: left;
    }
    .selectedBadgeContaner,
    .selectedCertContaner {
        padding: 15px;
    }
    .displayin {
        display: inline;
        padding: 0px;
        margin-bottom: 12px;
        cursor: pointer;
        border: 1px solid #eee;
    }
    .removeSelectedBadgeBtn,
    .removeSelectedCertBtn {
        color: #ee3622;
        float: right;
        font-size: 1.5rem;
        font-weight: 700;
        /* line-height: 1; */
        /* text-shadow: 0 1px 0 #fff; */
        opacity: .5;
        background: transparent;
        border: none;
    }
    .selectedBadgeHeader,
    .selectedCertHeader {
        border-bottom: 1px solid #b3babd61;
        padding-bottom: 5px;
        padding-top: 2px;
    }
    .selectedBadgeDesc,
    .selectedBadgeDesc {}
    .selectedBadgeIcon,
    .selectedCertIcon {
        // width: 60%;
        width: 70%;
        height: 60%;
        margin: 20px;
    }
    // .mbody
    // {
    //   height: 400px;
    // }
    .topDivRe {
        height: 323px;
        overflow-y: scroll;
    }
    .checkboxsize {
        width: 33px;
        height: 21px;
    }
    .checkboxsize:after {
        background: #076ba1;
    }
    .h5margin {
        margin-top: 0px;
    }
    .cardTitle {
        background: var(--colorBtnTxt);
        color: var(--colorCommon);
        padding: 10px;
        margin-bottom: 0;
        margin-top: 0;
        width: 100%;
        border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    }
    .padding0 {
        padding: 0;
    }
    .marginBtm10 {
        margin-bottom: 10px;
        float: right;
    }
    .badgeContainer,
    .certContainer {
        margin: 15px;
    }
    .badgeIcon,
    .certIcon {
        width: 190px;
        height: 110px;
        // margin: 5px;
        // margin-left: 20px;
        padding-bottom: 15px;
        overflow: hidden;
    }
    .badgeTitleLabel,
    .certTitleLabel {
        font-size: 15.75px;
        font-weight: 600;
    }
    .badgeCardForm,
    .certCardForm {
        margin-bottom: 0;
    }
    /* The custom radio */
    .customRadioRewards {
        display: block;
        position: relative;
        padding-left: 30px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 20px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none
    }
    /* Hide the browser's default radio button */
    .customRadioRewards input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }
    /* Create a custom radio button */
    .customCheckRoundRewards {
        position: absolute;
        top: 6px;
        left: 0;
        height: 20px;
        width: 20px;
        background-color: #fff;
        // border-color:#f8204f;
        border-color: #076ba1;
        border-style: solid;
        border-width: 2px;
        border-radius: 50%;
    }
    /* When the radio button is checked, add a blue background */
    .customRadioRewards input:checked~.customCheckRoundRewards {
        background-color: #fff;
    }
    /* Create the indicator (the dot/circle - hidden when not checked) */
    .customCheckRoundRewards:after {
        content: "";
        position: absolute;
        display: none;
    }
    /* Show the indicator (dot/circle) when checked */
    .customRadioRewards input:checked~.customCheckRoundRewards:after {
        display: block;
    }
    /* Style the indicator (dot/circle) */
    .customRadioRewards .customCheckRoundRewards:after {
        left: 2px;
        top: 2px;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        // background: #f8204f;
        background: #076ba1;
    }
    .mysqrcheck {
        font-weight: normal;
        // top: 8px;
        // left: -10px;
    }
    .sqrCheckBoxLadder .sqrCheckBoxLadderLabel {
        border: 1px solid #ccc;
        border-radius: none;
        cursor: pointer;
        height: 16px;
        left: 5px;
        position: -webkit-sticky;
        position: relative;
        width: 16px;
        // top: 8px ;
        top: 9.5px;
        margin-right: 10px;
        background: white;
    }
    .sqrCheckBoxLadder .sqrCheckBoxLadderLabel:after {
        // border: 2px solid #fff;
        border: 2px solid #076ba1;
        border-top: none;
        border-right: none;
        content: "";
        height: 4px;
        left: 1.5px;
        opacity: 0;
        position: absolute;
        top: 4.0px;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        width: 12px;
    }
    .sqrCheckBoxLadder input[type="checkbox"] {
        visibility: hidden;
        background: white;
        display: none;
    }
    .sqrCheckBoxLadder input[type="checkbox"]:checked+.sqrCheckBoxLadderLabel {
        background-color: #ffffff;
        border-color: #076ba1;
    }
    .sqrCheckBoxLadder input[type="checkbox"]:checked+.sqrCheckBoxLadderLabel:after {
        opacity: 1;
    }
    .AccPointer {
        cursor: pointer;
    }
    .activeBadge {
        border: 1px solid #076ba1;
        background-color: #e9eef1;
    }
    .rewardSubmit {
        float: right;
        background: #076ba1;
        color: white;
        border: none;
        height: 28px;
        margin: 5px;
    }
    .catrowCert {
        height: auto;
        width: 100%;
        display: inline-flex;
        margin: 0px;
        padding: 0px;
    }
    .catrowCert>div {
        // width: 100%;
        // padding: 0;
        // margin:3%;
        // height: 100%;
        width: 100%;
        padding: 0;
        margin: 4% 0 0 4%;
        height: 100%;
        flex: 0 0 20%;
        a {
            text-align: center;
        }
        a>img {
            // width: 100%;
            width: 100%;
            // height: 100%;
            height: 125.656px;
            // height: 190px;
        }
        div {
            width: 100%;
            // margin: 0.7rem 0;
            .toolcatp1 {
                text-align: center;
                margin: 1% 0%;
                // width: 92%;
                width: 100%;
                cursor: pointer;
                font-size: 20px;
                font-weight: 500;
                color: black;
            }
            .toolcat1 {
                width: 8%;
                float: right;
                margin: 3% 0%;
            }
        }
    }
}

.close {
    outline: none;
}

.remove_icon {
    cursor: pointer;
}