<div class="rewrds_course">
    <!-- <div class="text-right marginBtm10">
        <button class="subBttn focus" (click)="saveRewardsForCoures()">submit</button>
    </div> -->
    <!-- <div class="accordion" id="accordionExample"> -->
    <div class="row m0 formGen badgeformGen" id="manual">
        <div class="col-md-12 grid-margin stretch-card formGenCard badgeformGenCard">
            <div class="card cardForm badgeCardForm">
                <div class="card-body badgeCardBody1 padding0">
                    <div class="headerCard">
                        <h4 class="cardTitle card-title badgeTitle">
                            <!-- <label class="mysqrcheck sqrCheckBoxLadder pointer width100">
                  <input id="mEnrol" type="checkbox" name="checkbox" value="1" class="marginRight5px" (click)="onCheckBoxClick(rewards.id)" [(ngModel)]="rewards.id" data-toggle="collapse" data-target="#collapseBadge" aria-controls="collapseBadge" [disabled]="certificate == true">
                  <label class="sqrCheckBoxLadderLabel" for="mEnrol"></label>
                    Badge
                </label> -->
                            <div class="AccPointer">Badge</div>
                        </h4>
                    </div>
                    <!--  class="collapse show" -->
                    <div>
                        <div class="topBorderForm"></div>
                        <div class="col-sm-12 p-3" *ngIf="badge">
                            <div class="col-sm-3 p-0 margintop">
                                <h5 class="h5margin">Select Badge</h5>
                            </div>
                            <div class=" margintop marginBtm10">
                                <button type="submit" class="subBttn focus" (click)="browse(1)" id="editbtnRules">Browse</button>
                            </div>
                        </div>
                        <div class="selectedBadgeContaner">
                            <div class="col-sm-12 card displayin" *ngIf="!badge">
                                <div class="col-sm-1 padding0">
                                    <a>
                                        <!-- {{item.summary}} -->
                                        <!-- <img src={{item.summary}}> -->
                                        <img class="selectedBadgeIcon" src='{{rewardsBadge.imgsrc}}'>
                                    </a>
                                </div>
                                <div class="col-sm-11 floatrig1">
                                    <button class="removeSelectedBadgeBtn" aria-label="Close" (click)="removeBadge()">
                      <span aria-hidden="true">&times;</span>
                    </button>
                                    <h5 class="selectedBadgeHeader">{{rewardsBadge.name}}</h5>
                                    <p class="selectedBadgeDesc">{{rewardsBadge.descri}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <course-enrolment></course-enrolment> -->
                </div>
            </div>
        </div>
    </div>

    <div class="row m0 formGen certformGen" id="ruleBased">
        <div class="col-md-12 grid-margin stretch-card formGenCard certformGenCard">
            <div class="card cardForm certCardForm">
                <div class="card-body certCardBody1 padding0">
                    <div class="headerCard">
                        <h4 class="cardTitle card-title certTitle">
                            <!-- <label class="mysqrcheck sqrCheckBoxLadder pointer width100">
                  <input id="ruleBased" type="checkbox" value="2" name="checkbox1" class="marginRight5px" (click)="onCheckBoxClick(rewards.id)" [(ngModel)]="rewards.id" data-toggle="collapse" data-target="#collapseCert" aria-controls="collapseCert" [disabled]="badge == true">
                  <label class="sqrCheckBoxLadderLabel" for="ruleBased"></label>
                    Certificate
                </label> -->
                            <div class="AccPointer">Certificate</div>
                        </h4>
                    </div>
                    <!-- <p class="card-description cardDesc"></p>   -->
                    <div>
                        <!--   <div class="topBorderForm"></div> -->
                        <div class="col-sm-12  p-3" *ngIf="certificate">
                            <div class="col-sm-3 margintop p-0">
                                <h5 class="h5margin">Select Certificate</h5>
                            </div>
                            <div class=" margintop marginBtm10">
                                <button type="submit" class="subBttn focus" style="float:right;" (click)="browse(2)" id="editbtnRules">Browse</button>
                            </div>
                        </div>
                        <div class="selectedCertContaner">
                            <div class="col-sm-12 card displayin" *ngIf="!certificate">
                                <div class="col-sm-1 padding0">
                                    <a>
                                        <!-- {{item.summary}} -->
                                        <!-- <img src={{item.summary}}> -->
                                        <img class="selectedCertIcon" src='{{rewardsCert.imgsrc ? rewardsCert.imgsrc  : "assets/images/badgeNew.png"}}'>
                                    </a>
                                </div>
                                <div class="col-sm-11 floatrig1">
                                    <button class="removeSelectedCertBtn" aria-label="Close" (click)="removeCert()">
                          <span aria-hidden="true">&times;</span>
                        </button>
                                    <h5 class="selectedCertHeader">{{rewardsCert.name}}</h5>
                                    <p class="selectedCertDesc">{{rewardsCert.descri}}</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <ngx-sidebar-form *ngIf="badgeshow" [sidebarTitle]='badgeTitle' [buttonName]="btnName" (saveBtn)='saveBadge(1)' (outside)='closeModel(1)' (closeBtn)='closeModel(1)'>
        <!-- <div class="addRuleBackdrop1" *ngIf="badgeshow == true">
        <div class="addRuleDemoModal1">
            <div class="modal-header">
                <p>Select Badge</p>
                <button class="close" aria-label="Close" (click)="closeModel(1)">
            <span aria-hidden="true">&times;</span>
          </button>
            </div> -->
        <div class="search_div">
            <input type="text" [(ngModel)]="search.badgeName" class="form-control search_field" placeholder="Search by badge name" (keyup)="searchBadge($event)" name="name">
            <i class="fa fa-remove remove_icon" aria-hidden="true" (click)="clear()"></i>
        </div>
        <!-- <div class="mbody modal-body">
            <div class="topDivRe"> -->

        <div class="col-sm-12 card displayin" [ngClass]="{'activeBadge': activeSelectedBadgeId == item.badgeId}" *ngFor="let item of badgeData ; let i = index" [hidden]='!item.visible'>
            <div (click)="setActiveSelectedBadge(i, item)">
                <div class="col-sm-4 floatleft">
                    <a>
                        <img for="badge{{item.badgeId}}" class="badgeIcon" src='{{item.badgeIcon ? item.badgeIcon: "assets/images/badgeNew.png"}}'>
                    </a>
                </div>

                <div class="badgeContainer">
                    <div class="col-sm-8 floatrig">
                        <h5>{{item.badgeName}}</h5>
                        <p>{{item.description}}</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- </div>
            </div>

            <div class="modal-footer text-right">
                <button type="button" class="subBttn focus" (click)="saveBadge(1)">Select</button>
            </div>

        </div>
    </div> -->
        <ngx-no-data *ngIf="nodata" [config]="noDataVal"></ngx-no-data>
    </ngx-sidebar-form>
    <ngx-sidebar-form *ngIf="certshow" [sidebarTitle]='certTitle' [buttonName]="btnName" (saveBtn)='saveCert(2)' (outside)='closeModel(2)' (closeBtn)='closeModel(2)'>
        <!-- <div class="addRuleBackdrop1" *ngIf="certshow == true">
        <div class="addRuleDemoModal1">
            <div class="modal-header">
                <p>Select Template</p>
                <button class="close" aria-label="Close" (click)="closeModel(2)">
            <span aria-hidden="true">&times;</span>
          </button>
            </div> -->
        <div class="search_div">
            <input type="text" [(ngModel)]="searchcer.certName" class="form-control search_field" placeholder="Search by certificate name" (keyup)="searchCerti($event)" name="name">
            <i class="fa fa-remove remove_icon" aria-hidden="true" (click)="clearcer()"></i>
        </div>
        <!-- <div class="mbody modal-body"> -->

        <!-- <form class="forms-sample col-md-12" #ruleForm="ngForm"> -->
        <!-- <div class="topDivRe"> -->
        <div class="col-sm-12 card displayin" [ngClass]="{'activeBadge': activeSelectedCertId == item.id}" *ngFor="let item of certData " [hidden]='!item.visible'>
            <div (click)="setActiveSelectedCert(i, item)">
                <div class="col-sm-4 floatleft">
                    <!-- <input id="badge{{item.cid}}" type="radio" value="{{item.cid}}" name="checkbox2"
                  class="with-gap checkboxsize marginRight5px" (click)="onCheckBoxselecClickCert(item)"> -->
                    <a>
                        <img for="badge{{item.id}}" class="certIcon" src='{{item.certIcon}}'>
                    </a>
                </div>
                <div class="certContainer">
                    <div class="col-sm-8 floatrig">
                        <h5>{{item.certName}}</h5>
                        <p>{{item.description}}</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- </div>
            </div>

            <div class="modal-footer text-right">
                <button type="button" class="subBttn focus" (click)="saveCert(2)">Select</button>
            </div>

        </div>

    </div> -->
        <ngx-no-data *ngIf="nodata" [config]="noDataVal"></ngx-no-data>
    </ngx-sidebar-form>
</div>