<div class="cardDiv col-sm-6 col-md-3 pb-3 pt-3" [ngClass]="config?.customCard">
    <div class="cardinnerDiv">
        <span *ngIf="cardsList.visible == 0" class="disableCard text-center"><i (click)="enable()" class="fas fa-eye-slash" title="Enable"></i></span>
        <span *ngIf="cardsList.wrkflwStatus == 'inactive'" class="disableCard text-center"><i (click)="enable()" class="fas fa-eye-slash" title="Enable"></i></span>
        <div class="imageDiv">
            <img *ngIf="config.showImage == true" [src]="cardsList[config.image]" (error)="errorHandler($event)" alt="card-image">

            <i *ngIf="config.showIcon  == true" class=" {{ cardsList[config.sectionIcon] }} fa-7x fa-position  " aria-hidden="true" [spin]="true" [styles]="{'stroke': 'red', 'color': 'red'}"> </i>
            <div class="bgimage" *ngIf="config.hoverlable  == true">
                <button class="detailsBtn" (click)="detailsPage()">{{ config.btnLabel }}</button>
            </div>
            <!-- <div class="colorCode text-left" *ngIf="config.identifier  == true">
              <i class="fas fa-circle circle" style="color: green;" *ngIf="config.showBottomCat == true"></i>
              <i class="fas fa-circle  circle" style="color: yellow;" *ngIf="config.showBottomNoCat == true"></i>
          </div> -->
            <div class="allIcons text-right" (mouseleave)="mouseLeave($event)" *ngIf="config.option  == true">
                <i class="fas fa-ellipsis-v option cursor-p" (mouseenter)="mouseEnter($event)"></i>
                <div class="showlist" *ngIf="!show">
                    <label class="m-0 d-flex align-items-center cursor-p" (click)="enable()" *ngIf="config.eyeIcon  == true">
                      <i  class="fas fa-eye" title="Disable"></i>
                      <span>Disable</span>
                  </label>
                    <label class="m-0 d-flex align-items-center cursor-p" (click)="copyCard()" *ngIf="config.copyIcon  == true">
                      <i  class="far fa-copy" title="Duplicate"></i>
                      <span>Duplicate</span>
                  </label>
                    <label class="m-0 d-flex align-items-center cursor-p" (click)="editCard()" *ngIf="config.editIcon  == true">
                      <i  class="fa fa-edit" title="Edit"></i>
                      <span>Edit</span>
                  </label>
                    <label class="m-0 d-flex align-items-center cursor-p" (click)="copyCard()" *ngIf="config.shareIcon  == true">
                      <i  class="fa fa-share-alt" title="Share asset"></i>
                      <span>Share asset</span>
                  </label>
                    <label class="m-0 d-flex align-items-center cursor-p" (click)="upgradeCard()" *ngIf="config.upgradeIcon  == true">
                      <i  class="fa fa-files-o" title="Version"></i>
                      <span>Version</span>
                  </label>
                    <label class="m-0 d-flex align-items-center cursor-p" (click)="downloadCard()" *ngIf="config.download  == true">
                      <a href={{downLoadLink}} download><i  class="fas fa-download"  title="Download"></i></a>
                      <span>Download</span>
                  </label>
                    <label class="m-0 d-flex align-items-center cursor-p" (click)="editCard()" *ngIf="config.retweet  == true">
                      <i  class="fa fa-retweet" title="Review policy"></i>
                      <span>Review policy</span>
                  </label>

                    <label class="m-0 d-flex align-items-center cursor-p" (click)="batchCard()" *ngIf="config.batchIcon  == true">
                      <i  class="fa fa-mixcloud" title="Batches"></i>
                      <span>Batches</span>
                  </label>
                    <label class="m-0 d-flex align-items-center cursor-p" (click)="smsCard()" *ngIf="config.sms  == true">
                      <i  class="fas fa-comment-alt" title="SMS"></i>
                      <span>SMS</span>
                  </label>
                    <label class="m-0 d-flex align-items-center cursor-p" (click)="msgCard()" *ngIf="config.msg  == true">
                      <i  class="fas fa-envelope" title="Email"></i>
                      <span>Email</span>
                  </label>
                    <label class="m-0 d-flex align-items-center cursor-p" (click)="mblCard()" *ngIf="config.mbl  == true">
                      <i  class="fas fa-mobile" title="App notification"></i>
                      <span>App notification</span>
                  </label>
                  <label class="m-0 d-flex align-items-center cursor-p" (click)="bulkCopy()" *ngIf="config.bulkCopy  == true && cardsList['areaId'] == 2">
                    <i  class="far fa-copy" title="Bulk Copy"></i>
                    <span>Bulk Copy</span>
                </label>
                </div>
            </div>
        </div>
        <div class="bottomDiv" *ngIf="config.bottomDiv == true">
            <h2 *ngIf="config.bottomTitle  == true" title="{{ cardsList[config.titleProp]}}">{{ cardsList[config.titleProp] }}</h2>
            <p *ngIf="config.bottomDiscription  == true" [title]='cardsList[config?.discrption]'>{{ cardsList[config.discrption] }}</p>
            <ul *ngIf="config.showBottomList  == true">
                <li *ngIf="config.showBottomdate  == true">Start Date : <span>{{cardsList[config.date]}}</span></li>
                <li *ngIf="config.showBottomEnddate  == true">End Date : <span>{{cardsList[config.endDate]}}</span></li>
                <li *ngIf="config.showBottomEmployee  == true">Employee : <span>{{cardsList[config.employee]}}</span></li>
                <li *ngIf="config.showBottomQuestion  == true">No of Question : <span>{{cardsList[config.question]}}</span></li>
                <li *ngIf="config.showCompletedEnroll  == true">Completed/Enrolled : <span>{{cardsList[config.compleCount] === undefined ? '0' : cardsList[config.compleCount] }} / {{cardsList[config.totalCount] === undefined ? '0' : cardsList[config.totalCount]}}</span></li>
                <!-- <li *ngIf="config.showCompletedEnroll  == true">Completed/Enrolled : <span>0 / {{cardsList[config.totalCount]}}</span></li> -->
                <li *ngIf="config.showBottomManager== true ">Manager : <span>{{cardsList[config.manager]}}</span></li>
                <li *ngIf="config.showlpName == true ">WorkFlow : <span>{{cardsList[config.lpName]}}</span></li>
                <li *ngIf="config.showBottomEnroll== true ">Enrollment : <span>{{cardsList[config.enroll]}}</span></li>
                <li *ngIf="config.showBottomCourseCountr== true ">Courses : <span>{{cardsList[config.courseCount]}}</span></li>
                <li *ngIf="config.showCourseCompletion== true ">Completion Days : <span>{{cardsList[config.courseCompletion]}}</span></li>
                <li *ngIf="config.showBottomCategory == true">Category : <span>{{cardsList[config.category]}}</span></li>
                <li *ngIf="config.showBottomMaximumPoint == true">Maximum Score : <span>{{cardsList[config.maxpoints]}}</span></li>
                <li *ngIf="config.showBottomMaximumAttemp == true">Attemp : <span>{{cardsList[config.maxAttemp]}}</span></li>
                <li *ngIf="config.showBottomAssets == true">Files : <span>{{cardsList[config.cnt]}}</span></li>
                <li *ngIf="config.showBottomCatAssets == true">Folders : <span>{{cardsList[config.catCnt]}}</span></li>
                <!-- <li *ngIf="config.showBottomCat == true">IsCategory : <span>{{cardsList[config.cat]}}</span></li> -->
                <!-- <li *ngIf="config.showBottomNoCat == true">IsAsset : <span>{{cardsList[config.Nocat]}}</span></li> -->
                <li *ngIf="config.showBottomBatches == true">Batches : <span>{{cardsList[config.batches]}}</span></li>
            </ul>
        </div>
    </div>
</div>
