@import "../../@theme/styles/variable.scss";
.cardDiv {
  .disableCard {
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 6px;
    background: rgba(0, 0, 0, 0.45);
    i {
        top: 50%;
        padding: 6px;
        font-size: 20px;
        cursor: pointer;
        position: absolute;
        color: $white-color;
        transform: translate(-50%, -50%);
    }
}
    // .disableCard {
    //     background: rgba(0, 0, 0, 0.45);
    //     position: absolute;
    //     width: 100%;
    //     height: 100%;
    //     top: 0;
    //     left: 0;
    //     z-index: 1;
    //     border-radius: 6px;
    //     i {
    //         transform: translate(-50%, -50%);
    //         font-size: 20px;
    //         top: 50%;
    //         padding: 6px;
    //         color: $white-color;
    //         cursor: pointer;
    //         position: absolute;
    //     }
    // }
    .cardinnerDiv {
        box-shadow: 0 0.5rem 1rem 0 rgba(44, 51, 73, 0.1);
        position: relative;
        border-radius: 6px;
        height: 257px;
        overflow: hidden;
        background: $white-color;
        &:hover {
            box-shadow: 0 0.5rem 1rem 0 rgba(44, 51, 73, 0.4);
            .imageDiv::before {
                display: block;
            }
            .imageDiv>.bgimage {
                opacity: 1;
            //     -webkit-animation: zoomIn 1s ease;
            //     animation: zoomIn 1s ease forwards;
            //     animation-delay: 0.4s;
            }
            .bottomDiv {
                transform: translate3d(0, -41%, 0);
                position: relative;
            }
        }
        .imageDiv {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            overflow: hidden;
            height: 170px;
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
            &::before {
                content: "";
                background: rgba(0, 0, 0, 0.5);
                display: none;
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                border-top-left-radius: 6px;
                border-top-right-radius: 6px;
                // transition: all 0.4s ease-in-out;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            .bgimage {
                position: absolute;
                text-align: center;
                color: $white-color;
                width: 100%;
                opacity: 0;
                top: 35%;
                .detailsBtn {
                    border: 1px solid $white-color;
                    background: transparent;
                    color: $white-color;
                    outline: none;
                    font-weight: 400;
                    border-radius: 4px;
                    font-size: 13px;
                    padding: 5px 10px;
                    transition: 0.4s ease-in-out;
                    &:hover {
                        background: $white-color;
                        color: black;
                    }
                }
            }
            .colorCode {
                position: absolute;
                top: 0;
                left: 0;
                // margin-left: 6px;
                .circle {
                    font-size: 14px;
                    padding: 8px;
                    z-index: 12;
                    &:active {
                        .showlist {
                            visibility: visible;
                        }
                    }
                }
            }
            .allIcons {
                top: 6px;
                right: 6px;
                z-index: 1;
                position: absolute;
                .option {
                  z-index: 12;
                  width: 23px;
                  font-size: 14px;
                  color: #ffffff;
                  padding: 6px 8px 6px;
                  &:active {
                    .showlist {
                      visibility: visible;
                    }
                  }
                }
                .showlist {
                  padding: 8px;
                  text-align: left;
                  min-width: 115px;
                  border-radius: 4px;
                  background: #ffffff;
                  box-shadow: 1px 1px 1px #908e8e;
                  label {
                    line-height: 2;
                    font-size: 12px;
                    color: #333333;
                    i {
                      width: 25px;
                      font-size: 13px;
                      text-align: center;
                    }
                    &:hover {
                      border-radius: 3px;
                      background: #e7e9ea;
                    }
                  }
                }
              }
            // .allIcons {
            //     position: absolute;
            //     top: 0;
            //     right: 0;
            //     margin-right: 6px;
            //     .option {
            //         color: $white-color;
            //         font-size: 14px;
            //         padding: 8px;
            //         z-index: 12;
            //         &:active {
            //             .showlist {
            //                 visibility: visible;
            //             }
            //         }
            //     }
            //     .showlist {
            //         background: $white-color;
            //         padding: 2px 4px;
            //         border-radius: 4px;
            //         text-align: center;
            //     }
            //     .iconDiv {
            //         i {
            //             color: var(--colorIcons);
            //             font-size: 15px;
            //             padding-top: 5px;
            //             cursor: pointer;
            //         }
            //     }
            // }
        }
    }
    .bottomDiv {
        padding: 9px 12px;
        background: $white-color;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        transition: all 0.2s ease-in-out;
        h2 {
            font-size: 14px;
            line-height: 1.23;
            max-height: 30px;
            // overflow: hidden;
            margin-bottom: 6px;
            font-weight: 600;
            // text-align: justify;
            margin: 0;
            color: $black-color;
            margin-bottom: 5px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        p {
            text-align: justify;
            margin: 0;
            font-size: 12px;
            line-height: 1.3;
            margin-bottom: 4px;
            max-height: 30px;
            overflow: hidden;
            color: $black-color;
        }
        ul {
            padding-left: 1px;
            list-style-type: none;
            margin: 0;
            padding-top: 3px;
            li {
                font-size: 11px;
                letter-spacing: 0.3px;
                font-weight: 500;
                color: $card-list-color;
                text-transform: capitalize;
                margin: 0px 0px 4px 0px;
                span {
                    font-weight: 400;
                }
            }
        }
    }
}

// @keyframes zoomIn {
//     from {
//         opacity: 0;
//         -webkit-transform: scale3d(0.3, 0.3, 0.3);
//         transform: scale3d(0.3, 0.3, 0.3);
//     }
//     100% {
//         opacity: 1;
//     }
// }

@keyframes slideInDown {
    from {
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        display: block;
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
