<div class="courseDiv py-2">
    <ul class="moduleLists p-0">
        <!-- (click)="current = i;" -->
        <li class="moduleInner" *ngFor="let item of courseModules; let i = index">
            <div class="moduleDiv d-flex justify-content-between align-items-center" [ngClass]="{'moduleDisable': item.visible == 0 }">
                <label class="moduleName m-0">
                <span *ngIf="item.visible == 0" class="pr-3"><i class="fas fa-lock"></i></span>
                <span>{{ item.modulename }}</span>
              </label>
                <span class="moduleBtn">
                  <span class="selectDrop">
                      <button class="subBttn" [disabled]="item.visible == 0">
                          Add Activity <i class="fa fa-sort-down dropicon"></i>
                      </button>
                      <ul class="innerdrop" [ngClass]="{'showDropDown||item.visible != 0': showList}" >
                          <div class="dropCategory" *ngFor="let activityType of activitySubTypeList">
                            <label class="m-0">{{activityType?.typeName}}</label>
                            <!-- addAcitivity(typeItem, item,i,activityType) -->
                            <li *ngFor="let typeItem of activityType?.subtype" (click)="passDataToParent('addAcitivity', typeItem, item,i,activityType)"> <i [class]="typeItem.icon" aria-hidden="true"></i> {{typeItem.name}} </li>
                          </div>
                      </ul>
                  </span>
                <span>
                    <!-- (click)="deleteModule(item)" -->
                    <button class="subBttn focus" (click)="passDataToParent('deleteModule',item)" title="Delete Module">Delete <i class="far fa-trash-alt"></i></button>
                  </span>
                <span>
                    <!-- (click)="disableModule(item,i)" -->
                    <button class="subBttn focus" [hidden]="item.visible == 0"  (click)="passDataToParent('disableModule',item,i)"> Disable  <i class="fa fa-eye-slash"></i></button>
                    <button class="subBttn focus" [hidden]="item.visible == 1"  (click)="passDataToParent('disableModule',item,i)"> Enable <i class="fa fa-eye"></i></button>
                  </span>
                <span>
                    <!-- (click)="addEditCourseModule(item,1);" -->
                    <button class="subBttn focus" (click)="passDataToParent('addEditCourseModule',item,1)" title="Edit Module">Edit <i class="far fa-edit"></i></button>
                  </span>
                </span>
            </div>
            <div class="activityDiv d-flex align-items-center pl-3 pr-3" [ngClass]="{'activityDisable': acti.activityVisible == 0 }" *ngFor="let acti of item.activity; let j = index">
                <!-- (click)="addEditActivity(acti,item,1,j,i)" -->
                <label class="actName m-0" (click)="passDataToParent('addEditActivity',acti,item,1,j,i)">
                  <!-- <i *ngIf="acti.activityVisible == 1" [ngClass]="getActivityIcon(acti)"></i>
                  <i *ngIf="acti.activityVisible == 0" class="fas fa-lock"></i> -->
                  <img src="assets/icon-svg/lock.svg"  *ngIf="acti.activityVisible == 0" alt="" srcset="">
                  <img src="assets/icon-svg/{{ acti?.actIcon }}.svg" *ngIf="acti.activityVisible == 1">
                  <span>{{ acti.activityName }}</span>
              </label>
                <span class="actionBtn">
                <!-- (click)="deleteActivity(acti)" -->
                  <span><button class="subBttn focus"  (click)="passDataToParent('deleteActivity',acti)">Delete <i class="far fa-trash-alt"></i></button></span>
                <span>
                    <!-- disableActivity -->
                    <button class="subBttn focus" [hidden]="acti.activityVisible == 0" (click)="passDataToParent('disableActivity',acti,i,j)"> Disable<i class="pl-1 far fa-eye-slash"></i></button>
                    <button class="subBttn focus" [hidden]="acti.activityVisible == 1"  (click)="passDataToParent('disableActivity',acti,i,j)"> Enable<i class="fa fa-eye"></i></button>
                  </span>
                  <span *ngIf="showBulkCopy"><button class="subBttn focus"  (click)="passDataToParent('bulkCopy',acti, true)">Bulk Copy  <i class="far fa-copy"></i></button></span>
                </span>
            </div>
        </li>
    </ul>
</div>
