<div class="content_category_container">
    <div class="content_category_div">
        <!-- <div class="top_header_container">
            <div class="top_header_div_sticky content_width">
                <div class="page_title">
                    <h4>Content</h4>
                </div>

                <div class="buttons_div">
                    <button type="button" class="constantbtn-button-blue-left " (click)="addEditContentForm('',0)">Add

            Content</button>
                    <button type="submit" class="back_button " (click)="back()">Back</button>
                </div>
            </div>
        </div> -->

        <app-subheader [headerConfig]="header" (breadcrum)="ChangeHeader($event)" (comeBack)="backToTools($event)" (addbtn)="addEditContentForm('',0)" (backClick)="back()"></app-subheader>
        <app-skeleton [count]='count' *ngIf="!skeleton"></app-skeleton>

        <!-- <table *ngIf="!skeleton">
            <tr>
                <div class="multiple_tcontents_card_container1">
                    <div class="tcontents_width">
                        <div class="tcontents_container1">
                            <td>
                                <div class="tcontents_card1">
                                    <div class="tcontents">
                                        <ngx-skeleton-loader [theme]="{ width: '215px', height: '140px','margin': '5px' }">
                                        </ngx-skeleton-loader>
                                    </div>
                                    <div class="tcontents-title">
                                        <ngx-skeleton-loader [theme]="{
                                                  width: '170px',
                                                  height: '40px'
                                                }"></ngx-skeleton-loader>
                                    </div>
                                    <div class="tcontents-title">
                                        <ngx-skeleton-loader [theme]="{
                                                  width: '170px',
                                                  height: '40px'
                                                }"></ngx-skeleton-loader>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="tcontents_card1">
                                    <div class="tcontents">
                                        <ngx-skeleton-loader [theme]="{ width: '215px', height: '140px','margin': '5px' }">
                                        </ngx-skeleton-loader>
                                    </div>
                                    <div class="tcontents-title">
                                        <ngx-skeleton-loader [theme]="{
                                                  width: '170px',
                                                  height: '40px'
                                                }"></ngx-skeleton-loader>
                                    </div>
                                    <div class="tcontents-title">
                                        <ngx-skeleton-loader [theme]="{
                                                  width: '170px',
                                                  height: '40px'
                                                }"></ngx-skeleton-loader>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="tcontents_card1">
                                    <div class="tcontents">
                                        <ngx-skeleton-loader [theme]="{ width: '215px', height: '140px','margin': '5px'}">
                                        </ngx-skeleton-loader>
                                    </div>
                                    <div class="tcontents-title">
                                        <ngx-skeleton-loader [theme]="{
                                                  width: '170px',
                                                  height: '40px'
                                                }"></ngx-skeleton-loader>
                                    </div>
                                    <div class="tcontents-title">
                                        <ngx-skeleton-loader [theme]="{
                                                  width: '170px',
                                                  height: '40px'
                                                }"></ngx-skeleton-loader>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="tcontents_card1">
                                    <div class="tcontents">
                                        <ngx-skeleton-loader [theme]="{ width: '215px', height: '140px','margin': '5px'}">
                                        </ngx-skeleton-loader>
                                    </div>
                                    <div class="tcontents-title">
                                        <ngx-skeleton-loader [theme]="{
                                                  width: '170px',
                                                  height: '40px'
                                                }"></ngx-skeleton-loader>
                                    </div>
                                    <div class="tcontents-title">
                                        <ngx-skeleton-loader [theme]="{
                                                  width: '170px',
                                                  height: '40px'
                                                }"></ngx-skeleton-loader>
                                    </div>
                                </div>
                            </td>
                        </div>
                    </div>
                </div>
            </tr>
            <tr>
                <div class="multiple_tcontents_card_container1">
                    <div class="tcontents_width">
                        <div class="tcontents_container1">
                            <td>
                                <div class="tcontents_card1">
                                    <div class="tcontents">
                                        <ngx-skeleton-loader [theme]="{ width: '215px', height: '140px','margin': '5px'}">
                                        </ngx-skeleton-loader>
                                    </div>
                                    <div class="tcontents-title">
                                        <ngx-skeleton-loader [theme]="{
                                                      width: '170px',
                                                      height: '40px'
                                                    }"></ngx-skeleton-loader>
                                    </div>
                                    <div class="tcontents-title">
                                        <ngx-skeleton-loader [theme]="{
                                                      width: '170px',
                                                      height: '40px'
                                                    }"></ngx-skeleton-loader>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="tcontents_card1">
                                    <div class="tcontents">
                                        <ngx-skeleton-loader [theme]="{ width: '215px', height: '140px','margin': '5px'}">
                                        </ngx-skeleton-loader>
                                    </div>
                                    <div class="tcontents-title">
                                        <ngx-skeleton-loader [theme]="{
                                                      width: '170px',
                                                      height: '40px'
                                                    }"></ngx-skeleton-loader>
                                    </div>
                                    <div class="tcontents-title">
                                        <ngx-skeleton-loader [theme]="{
                                                      width: '170px',
                                                      height: '40px'
                                                    }"></ngx-skeleton-loader>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="tcontents_card1">
                                    <div class="tcontents">
                                        <ngx-skeleton-loader [theme]="{ width: '215px', height: '140px','margin': '5px'}">
                                        </ngx-skeleton-loader>
                                    </div>
                                    <div class="tcontents-title">
                                        <ngx-skeleton-loader [theme]="{
                                                      width: '170px',
                                                      height: '40px'
                                                    }"></ngx-skeleton-loader>
                                    </div>
                                    <div class="tcontents-title">
                                        <ngx-skeleton-loader [theme]="{
                                                      width: '170px',
                                                      height: '40px'
                                                    }"></ngx-skeleton-loader>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="tcontents_card1">
                                    <div class="tcontents">
                                        <ngx-skeleton-loader [theme]="{ width: '215px', height: '140px','margin': '5px'}">
                                        </ngx-skeleton-loader>
                                    </div>
                                    <div class="tcontents-title">
                                        <ngx-skeleton-loader [theme]="{
                                                      width: '170px',
                                                      height: '40px'
                                                    }"></ngx-skeleton-loader>
                                    </div>
                                    <div class="tcontents-title">
                                        <ngx-skeleton-loader [theme]="{
                                                      width: '170px',
                                                      height: '40px'
                                                    }"></ngx-skeleton-loader>
                                    </div>
                                </div>
                            </td>
                        </div>
                    </div>
                </div>
            </tr>
        </table> -->
        <!-- <div class="multiple_category_card_container" *ngIf="!noDataFound">
            <div class="content_width" *ngIf="skeleton">
                <div class="cards_container" *ngIf="!noCategory">

                    <div class="singel_card" *ngFor="let item of allContent;let i=index">
                        <div class="overlay_hidden" [hidden]="item.visible == 1">
                            <i title="Disabled" id="enable_{{item.visible}}" class="fa fa-eye-slash" aria-hidden="true" (click)="disableContent(2,item)"></i>
                        </div>


                        <div class="singel_card_image pointer" *ngIf="item.contentType == 1">
                            <img class="content-img" src="assets/images/videoNew.png" />
                        </div>
                        <div class="singel_card_image pointer" *ngIf="item.contentType == 2">
                            <img class="content-img" src="assets/images/audioNew.png" />
                        </div>
                        <div class="singel_card_image pointer" *ngIf="item.contentType == 3">
                            <img class="content-img" src="assets/images/pdfNew.png" />
                        </div>
                        <div class="singel_card_image pointer" *ngIf="item.contentType == 6">
                            <img class="content-img" src="assets/images/videoNew.png" />
                        </div>
                        <div class="singel_card_image pointer" *ngIf="item.contentType == 7">
                            <img class="content-img" src="assets/images/imageNew.png" />
                        </div>
                        <div class="singel_card_image pointer" *ngIf="item.contentType == 8">
                            <img class="content-img" src="assets/images/imageNew.png" />
                        </div>
                        <div class="singel_card_image pointer" *ngIf="item.contentType == 10">
                            <img class="content-img" src="assets/images/ppt.jpg" />
                        </div>
                        <div class="singel_card_image pointer" *ngIf="item.contentType == 11">
                            <img class="content-img" src="assets/images/excel.jpg" />
                        </div>
                        <div class="singel_card_image pointer" *ngIf="item.contentType == 12">
                            <img class="content-img" src="assets/images/doc.jpg" />
                        </div>


                      


                        <div class="card_title pointer">
                            <div *ngIf="item?.contentName">
                                <div class="" title="{{item.contentName}}" *ngIf="item?.contentName?.length <= 15">
                                    {{item.contentName}}</div>
                                <div class="" title="{{item.contentName}}" *ngIf="item?.contentName?.length > 15">
                                    {{item.contentName.substring(0,15)}}...</div>
                            </div>
                            <div *ngIf="!(item?.contentName)">Not Available</div>

                        </div>
                        <div class="card_subtitle pointer" title="Category Code">
                            <div *ngIf="item?.contentDesc">
                                <div class="" title="{{item.contentDesc}}" *ngIf="item?.contentDesc?.length <= 30">
                                    {{item.contentDesc}}</div>
                                <div class="" title="{{item.contentDesc}}" *ngIf="item?.contentDesc?.length > 30">
                                    {{item.contentDesc.substring(0,30)}}...</div>
                            </div>
                            <div *ngIf="!(item?.contentDesc)">Not Available</div>
                        </div>

                        <div class="user-icon pointer">
                            <div class="icons-enable-disable" title="Edit" (click)="addEditContentForm(item,1)">
                                <i aria-hidden="true" class="fa fa-edit"></i>
                            </div>

                            <div class="icons-enable-disable">
                                <i title="Enabled" id="disable_{{item.id}}" class="fa fa-eye" aria-hidden="true" (click)="disableContent(1,item)" [hidden]="item.visible == 0"></i>

                                <i title="Disabled" id="enable_{{item.id}}" class="fa fa-eye-slash" aria-hidden="true" (click)="disableContent(2,item)" [hidden]="item.visible == 1"></i>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div> -->

        <div *ngFor="let item of allContent;let i=index">
            <ngx-card (disabled)="clickTodisableContent(item)" [cardsList]="item" [config]="cardModify" (gotoDetails)="EditContent(item)"></ngx-card>
        </div>


        <!-- <div *ngIf="noCategory">
      <div class="">
        <div class="col-md-12 noDataDiv">
          <img class="noDataImg" src='assets/images/noDataFound1.png' onerror="this.src='assets/images/noDataFound1.png';">
          
        </div>
      </div>
    </div> -->
    </div>





    <div class="contentForm" *ngIf="showContent == true">
        <div class="addSelfDemoModalCat">
            <div class="modal-header">
                <p *ngIf="addAction">Add Content</p>
                <p *ngIf="!addAction">Edit Content</p>
                <button class="close " aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>

            <div class="modalBody12">

                <form class="forms-sample" style="color: #000; width: 100%;" (ngSubmit)="onSubmit(contentFormValidation)" #contentFormValidation="ngForm">
                    <div class="row rowMarginAuto">
                        <div class="col-6">
                            <div class="boxMargin">
                                <label class="left_space">
                  Content name
                    <h3 class="reqFieldActivity">*</h3>
                    <div class="help-tooltip">
                      <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                      <div class="help-tooltip-position-right">
                        <p>Enter the name of the Content</p>
                        <i></i>
                      </div>
                    </div>
                  </label>
                                <input type="text" class="form-control form-control-input inputText" pattern=".{2,20}" required [(ngModel)]="contentData.contentName" id="name" placeholder="Maximum 20 characters" name="name" #contentName="ngModel">

                                <span class="help-block" *ngIf="!contentName.valid && contentName.touched">Please select Content..</span>

                            </div>

                            <div class="boxMargin">
                                <label class="left_space">
                    Description
                    <h3 class="reqFieldActivity">*</h3>
                    <div class="help-tooltip">
                      <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                      <div class="help-tooltip-position-right">
                        <p>Enter description for section</p>
                        <i></i>
                      </div>
                    </div>
                  </label>
                                <textarea type="text" class="form-control form-control-input inputText" id="desc" [(ngModel)]="contentData.contentDesc" placeholder="Min 20 and Max 500 characters." name="desc" #desc="ngModel" pattern=".{20,500}" required></textarea>

                                <span class="help-block" *ngIf="!desc.valid && desc.touched">Please select Content..</span>

                            </div>


                            <div class="boxMargin">
                                <label class="left_space">
                  Content
                    <h3 class="reqFieldActivity">*</h3>
                    <div class="help-tooltip">
                      <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                      <div class="help-tooltip-position-right">
                        <p>Enter the Content of the Section</p>
                        <i></i>
                      </div>
                    </div>
                  </label>


                                <select id="content" class="form-controls form-control-input" pattern=".{10,50}" name="Content" [(ngModel)]="contentData.contentType" [ngClass]="{ 'is-invalid': submitted && conName.errors }" #conName="ngModel" (change)="contentType($event)" required>
                      <option value="">Select content</option>
                      <option *ngFor="let data of allContentDropdown" value={{data.LOVValue}}>{{data.LOVName}}</option>
                    </select>
                                <span class="help-block" *ngIf="!conName.valid && conName.touched">Please select content..</span>


                            </div>
                        </div>

                        <div class="col-6">

                            <div class="boxMargin">

                                <div class="form-group" *ngIf="content == 1">
                                    <label class="left_space">
                                Image 
                                  <h3 class="reqFieldActivity">*</h3>
                                  <div class="help-tooltip">
                                    <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                                    <div class="help-tooltip-position-right">
                                      <p>Enter data for content.</p>
                                      <i></i>
                                    </div>
                                  </div>
                                </label>
                                    <div class="uploadCard">
                                        <div class="form-group inputDnD">

                                            <input type="file" title="{{selected ? 'No file chosen.' : ' '}}" #fileUpload class="form-control-file text-success font-weight-bold" id="inputFile" name="file[]" accept="image/png,image/jpeg,image/jpg" [(ngModel)]="contentData.contentRef" (change)="readFileUrlImg($event)"
                                                attr.data-title="{{fileName}}" required>
                                            <!-- [(ngModel)]="addEditAssetForm.file" -->
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" *ngIf="content == 2">
                                    <label class="left_space">
                                Audio 
                                  <h3 class="reqFieldActivity">*</h3>
                                  <div class="help-tooltip">
                                    <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                                    <div class="help-tooltip-position-right">
                                      <p>Enter data for content.</p>
                                      <i></i>
                                    </div>
                                  </div>
                                </label>
                                    <div class="uploadCard">
                                        <div class="form-group inputDnD">

                                            <input type="file" title="{{selected ? 'No file chosen.' : ' '}}" #fileUpload class="form-control-file text-success font-weight-bold" id="inputFile" name="file[]" accept="audio/mp3" [(ngModel)]="contentData.contentRef" (change)="readFileUrlAudio($event)"
                                                attr.data-title="{{fileName}}" required>
                                            <!-- [(ngModel)]="addEditAssetForm.file" -->
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" *ngIf="content == 3">
                                    <label class="left_space">
                                Video 
                                  <h3 class="reqFieldActivity">*</h3>
                                  <div class="help-tooltip">
                                    <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                                    <div class="help-tooltip-position-right">
                                      <p>Enter data for content.</p>
                                      <i></i>
                                    </div>
                                  </div>
                                </label>
                                    <div class="uploadCard">
                                        <div class="form-group inputDnD">

                                            <input type="file" title="{{selected ? 'No file chosen.' : ' '}}" #fileUpload class="form-control-file text-success font-weight-bold" id="inputFile" name="file[]" accept="video/mp4" [(ngModel)]="contentData.contentRef" (change)="readFileUrlVideo($event)"
                                                attr.data-title="{{fileName}}" required>
                                            <!-- [(ngModel)]="addEditAssetForm.file" -->
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" *ngIf="content == 4">
                                    <label class="left_space">
                                Pdf 
                                  <h3 class="reqFieldActivity">*</h3>
                                  <div class="help-tooltip">
                                    <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                                    <div class="help-tooltip-position-right">
                                      <p>Enter data for content.</p>
                                      <i></i>
                                    </div>
                                  </div>
                                </label>
                                    <div class="uploadCard">
                                        <div class="form-group inputDnD">

                                            <input type="file" title="{{selected ? 'No file chosen.' : ' '}}" #fileUpload class="form-control-file text-success font-weight-bold" id="inputFile" name="file[]" accept="application/pdf" [(ngModel)]="contentData.contentRef" (change)="readFileUrl($event)"
                                                attr.data-title="{{fileName}}" required>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <!-- <div class="boxMargin">
                                 
                    <label class="left_space">
                      Icon
                      <h3 class="reqFieldActivity">*</h3>
                      <div class="help-tooltip">
                        <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                        <div class="help-tooltip-position-right">
                          <p>Enter the Icon of the Section</p>
                          <i></i>
                        </div>
                      </div>
                    </label>
                    <div class="input-group">
                        <span class="input-group-addons" autocomplete="off"><i [ngClass]="conIcons.value"></i></span>
                        <input type="text" name="iconCss" class="form-control"
                              autocomplete="off"
                              [(ngModel)]="conIcon" 
                              [iconPicker]="icon"
                              [ipPosition]="'bottom'"
                              [ipWidth]="'250px'"
                              [ipPlaceHolder]="'Choose an icon'"
                              [ipFallbackIcon]="fallbackIcon"
                              (iconPickerSelect)="onIconPickerSelect($event)"/>
                      </div>

              </div> -->

                        </div>


                    </div>
                </form>
            </div>
            <div class="modal-footer ">
                <button class="constantbtn-button-blue-left" (click)="submit(contentData)">Save</button>
            </div>
        </div>
    </div>


</div>
<div *ngIf="noDataFound">
    <!-- <div class="row">
        <div class="col-md-12 noDataDiv">
            <img class="noDataImg" src='assets/images/noDataFound1.png' onerror="this.src='assets/images/noDataFound1.png';">

        </div>
    </div> -->
    <ngx-no-data [config]="noDataVal"></ngx-no-data>
</div>

<div class="deleteModalBackdrop" *ngIf="enableDisableContentModal == true">
    <div class="deleteModal">
        <div class="modal-header deleteModalHeader">
            <p *ngIf="!enableContent" class="enableDisableModalHeaderP">{{title}}</p>
            <p *ngIf="enableContent" class="enableDisableModalHeaderP">{{title}}</p>
            <button class="close closeDeleteModalBtn" aria-label="Close" (click)="closeEnableDisableContentModal()">
                  <span aria-hidden="true">&times;</span>
              </button>
        </div>

        <div class="modal-body">
            <div class="" *ngIf="!enableContent">
                <p class="enableDisableModalBodyP">Are you sure you want to Enable {{enableContentData.contentName}} ?</p>
            </div>
            <div class="" *ngIf="enableContent">
                <p class="enableDisableModalBodyP">Are you sure you want to Disable {{enableContentData.contentName}} ?</p>
            </div>
        </div>

        <div class="modal-footer deleteModalFooter">
            <div class="col-md-2">
                <button type="button" class="deleteModalBtn" (click)="enableDisableContentAction(true)">Yes</button>
            </div>
            <div class="col-md-2">
                <button type="button" class="deleteModalBtn" (click)="enableDisableContentAction(false)">No</button>
            </div>
        </div>
    </div>
</div>