.content-img {
    vertical-align: middle;
    border-style: none;
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0px 0px;
}

.noWeight {
    font-weight: unset;
}

.uploadCard {
    background: #fff;
    width: 100%;
    padding: 10px;
    margin: auto;
    margin-top: 10px;
}

.inputDnD {
    // height: 14em;
    .form-control-file {
        position: relative;
        width: 100%;
        height: 100%;
        min-height: 6em;
        outline: none;
        visibility: hidden;
        cursor: pointer;
        background-color: #c61c23;
        box-shadow: 0 0 5px solid currentColor;
        &::before {
            color: #ed462f;
            content: attr(data-title);
            position: absolute;
            left: 0;
            width: 100%;
            height: 6em;
            line-height: 5.5em;
            opacity: 1;
            visibility: visible;
            text-align: center;
            border: 0.15em dashed #9ea4a5;
            -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
            transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
            overflow: hidden;
        }
        &::hover {
            &:before {
                border-style: solid #076ba1;
                /*box-shadow: inset 0px 0px 0px 0.25em currentColor;*/
            }
        }
    }
}

.help-block {
    color: red;
}

.uploadCard {
    background: #fff;
    width: 100%;
    padding: 10px;
    margin: auto;
    margin-top: 10px;
}

.inputDnD {
    // height: 14em;
    .form-control-file {
        position: relative;
        width: 100%;
        height: 100%;
        min-height: 6em;
        outline: none;
        visibility: hidden;
        cursor: pointer;
        background-color: #c61c23;
        box-shadow: 0 0 5px solid currentColor;
        &::before {
            color: #ed462f;
            content: attr(data-title);
            position: absolute;
            left: 0;
            width: 100%;
            height: 6em;
            line-height: 5.5em;
            opacity: 1;
            visibility: visible;
            text-align: center;
            border: 0.15em dashed #9ea4a5;
            -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
            transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
            overflow: hidden;
        }
        &::hover {
            &:before {
                border-style: solid #076ba1;
                /*box-shadow: inset 0px 0px 0px 0.25em currentColor;*/
            }
        }
    }
}

.content_category_container {
    .pointer {
        cursor: pointer;
    }
    .form-control {
        -webkit-box-shadow: none;
        box-shadow: none;
        border: 1px solid #dadfe6;
    }
    .form-controls {
        -webkit-box-shadow: none;
        box-shadow: none;
        width: 275px;
        border: 1px solid #dadfe6;
        height: calc(1.6rem + 10px);
        width: 250px;
    }
    .rowMarginAuto {
        margin: auto;
    }
    .boxMargin {
        margin-bottom: 20px;
    }
    textarea {
        resize: none;
    }
    .NoDataDiv {
        position: fixed;
        top: 50%;
        left: 52%;
    }
    .image_upload_container {
        margin-top: 15px;
        .image_preview {
            height: 170px;
            width: 300px;
            margin-right: auto;
            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
            padding: 10px;
            background: #fff9f9;
            position: relative;
            .image_preview_container {
                height: 150px;
                width: 100%;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                display: grid;
                grid-template-columns: 1fr 1fr;
                // position: absolute;
                grid-column-gap: 20px;
                align-items: end;
                .icon_upload_image {
                    // text-align: right;
                    // margin-left: auto;
                    margin-left: 10px;
                    margin-bottom: 10px;
                    label {
                        display: flex;
                        align-items: center;
                        // align-content: 
                        justify-content: center;
                        // justify-items: center;
                        background: #fff;
                        color: #076ba1;
                        height: 40px;
                        width: 40px;
                        border-radius: 50%;
                        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
                        margin-bottom: 0;
                        padding: 0;
                        i {
                            line-height: 40px;
                        }
                    }
                    // margin: 0 auto;
                }
                .icon_delete {
                    // text-align: right;
                    // margin-right: auto;
                    margin-left: auto;
                    margin-right: 10px;
                    margin-bottom: 10px;
                    display: flex;
                    align-items: center;
                    // align-content: 
                    justify-content: center;
                    // justify-items: center;
                    background: #fff;
                    color: #076ba1;
                    height: 40px;
                    width: 40px;
                    border-radius: 50%;
                    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
                    // margin: 0;
                    padding: 0;
                    i {
                        line-height: 40px;
                    }
                }
            }
        }
    }
    .contentForm {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        z-index: 1503;
        background-color: #404040c2;
        .addSelfDemoModalCat {
            margin: auto;
            width: 50%;
            background-color: #fff;
            border-radius: 5px;
            margin-top: 2%;
            .modal-header {
                background-color: #076ba1;
                height: 55px;
                color: #fff;
                .close {
                    float: right;
                    font-size: 1.5rem;
                    font-weight: 700;
                    line-height: 1;
                    color: #fff;
                    text-shadow: 0 1px 0 #fff;
                    opacity: .5;
                }
            }
            .modalBody12 {
                height: 100%;
                padding: 15px;
            }
            .modal-footer {
                height: 55px;
            }
        }
    }
    .certIconbc-preview {
        width: 300px;
        height: 175px;
        position: relative;
        border: 6px solid #fbfbfb;
        -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
        >img {
            width: 100%;
            height: 100%;
        }
    }
    .notFoundPage {
        display: inline-block;
        width: 100%;
        padding: 10px;
        height: 100%;
    }
    @import '../../../@theme/styles/variable.scss';
    .content_category_div {
        .content_width {
            width: 78vw;
            margin: 0 auto;
        }
        .top_header_container {
            background: #fff;
            position: sticky;
            top: 4.75rem;
            z-index: 1020;
            .top_header_div_sticky {
                background: #fff;
                display: grid;
                grid-template-columns: auto auto;
                height: 50px;
                align-items: center;
                .page_title {
                    text-align: left;
                    h4 {
                        margin: 0;
                    }
                }
            }
            .buttons_div {
                text-align: right;
            }
        }
    }
    .multiple_category_card_container {
        background: $background_for_card_container;
        margin: 20px auto;
        width: 95%;
        // margin: auto;
        .cards_container {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-column-gap: 30px;
            grid-row-gap: 30px;
            .singel_card {
                position: relative;
                background: #fff;
                text-align: center;
                box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
                border-radius: 10px;
                min-width: 100px;
                .overlay_hidden {
                    position: absolute;
                    background: rgba(0, 0, 0, 0.5);
                    height: 100%;
                    width: 100%;
                    display: grid;
                    align-items: center;
                    font-size: 30px;
                    color: #fff;
                    border-radius: 10px;
                    i {
                        cursor: pointer;
                    }
                }
                .singel_card_image {
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                    height: 150px;
                    width: 100%;
                    background-position: center;
                    background-size: cover;
                    //    background
                }
                .card_title {
                    padding: 10px;
                    border-top: 1px solid $border_color;
                    border-bottom: 1px solid $border_color;
                    color: #000;
                    font-size: $font_size_for_cards;
                }
                .card_subtitle {
                    font-size: 14px;
                    padding: 10px;
                    // border-top: 1px solid #F1F5F8;
                    border-bottom: 1px solid $border_color;
                    color: #000;
                    word-break: break-all;
                    min-height: 60px !important;
                }
                .user-icon {
                    display: grid;
                    grid-template-columns: auto auto;
                    height: 40px;
                    align-items: center;
                    .icons-enable-disable {
                        border-right: 1px solid $border_color;
                        color: $icon_font_color;
                        font-size: 20px;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
                .content-icons {
                    text-align: center;
                    border-bottom: 1px solid $border_color;
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    align-items: center;
                }
                .para_margin_0 {
                    margin: 0;
                }
            }
        }
    }
    .not_found {
        background-image: url('assets/images/category.jpg');
    }
}

.NoDataDiv {
    position: fixed;
    top: 38%;
    left: 28%;
}

.multiple_tcontents_card_container1 {
    // background:$background_for_card_container;
    margin: 20px 0px 30px 25px;
    width: 95%;
    // margin: auto;
    .tcontents_container1 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-column-gap: 30px;
        grid-row-gap: 30px;
        .tcontents_card1 {
            position: relative;
            background: #fff;
            text-align: center;
            box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
            border-radius: 10px;
        }
    }
}

.tcontents-title {
    // width: 100px;
    // padding: 16px 30px 0px;
    // height: 80px;
    margin-top: 5px;
}

.tcontents_width {
    width: 1000px;
    margin: 0 auto;
}