$color-common: #076ba1;
$white: #ffffff;
$black: #000000;

@mixin button($color, $bg) {
  outline: none;
  color: $color;
  background: $bg;
  font-size: 14px;
  padding: 3px 6px;
  font-weight: 400;
  margin: 0 3px 4px;
  border-radius: 3px;
  position: relative;
  border: 1px solid $color;
  transition: all 0.1s ease-in-out;
  text-transform: capitalize;
  &:hover {
    color: $bg;
    background: $color;
    border: 1px solid $bg;
  }
}
.filterDiv {
  left: 0;
  top: 65px;
  padding: 12px;
  background: $white;
  .innerFilter {
    .sort {
      height: 30px;
      .togglebtn {
        @include button($color-common, $white);
        margin: 0;
        border-radius: 0;
        &:first-child {
          border-right: none;
          border-top-left-radius: 3px;
          border-bottom-left-radius: 3px;
          &:hover {
            border-right: none;
          }
        }
        &:last-child {
          border-top-right-radius: 3px;
          border-bottom-right-radius: 3px;
        }
        &:hover {
          border-color: $color-common;
        }
      }
      .active {
        color: $white;
        background: $color-common;
      }
      .selectTab {
        font-size: 13px;
        cursor: pointer;
        color: $color-common;
        margin: 0 3px 4px 6px;
        text-transform: uppercase;
        border: 1px solid $color-common;
      }
    }
    button {
      .count {
        left: -7px;
        top: -8px;
        color: $white;
        font-size: 8px;
        font-weight: 600;
        padding: 1px 4px;
        border: 1px solid;
        background: $black;
        position: absolute;
        border-radius: 25px;
        font-family: monospace;
      }
      .close {
        opacity: 1;
        font-size: 10px;
        padding-left: 6px;
      }
    }
    .courseTag {
      button {
        @include button($black, $white);
      }
      .selectTag {
        @include button($white, $black);
        &:hover {
          color: $white;
          background: $black;
        }
        .close {
          color: $white;
        }
      }
    }
    .dataTag {
      button {
        @include button($black, $white);
      }
    }
    .clear-btn {
      @include button($white, $color-common);
      font-size: 13px;
      padding: 4px 6px;
    }
    .date-btn {
      @include button($white, $color-common);
    }
    .dateRange {
      input {
        border: 1px solid $color-common;
        border-radius: 3px;
        padding: 2px 3px;
        font-size: 13px;
        outline: none;
      }
    }
    // checkbox
    .customBtn {
      margin: 0;
      padding: 0;
      font-size: 13px;
      font-weight: 400;
      display: block;
      cursor: pointer;
      position: relative;
      text-transform: capitalize;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    .customBtn input {
      top: 0;
      opacity: 0;
      cursor: pointer;
      position: absolute;
    }

    .subFilters {
      width: 100%;
      height: 100%;
      max-height: 250px;
      overflow: auto;
      position: relative;
      transition: all 0.3s ease;
      .innertag {
        margin: 4px;
        font-size: 12px;
        cursor: pointer;
        padding: 3px 8px;
        font-weight: 400;
        color: #353535;
        border: 0.5px solid;
        border-radius: 25px;
        &:hover {
          color: $white;
          background: #686868;
          // background: linear-gradient(45deg, #36658b, #3e98df);
        }
      }
      .selectInnertag {
        color: $white;
        background: #686868;
        // background: linear-gradient(45deg, #36658b, #3e98df);
      }
      .hidediv {
        left: 0;
        z-index: 1;
        bottom: 0px;
        width: 100%;
        height: 30px;
        cursor: pointer;
        position: absolute;
        text-align: center;
        background-image: linear-gradient(0deg, $white, #ffffff4a);
        .fas {
          font-size: 12px;
          color: #494646;
          position: absolute;
        }
        .bounce {
          -moz-animation: bounce 2s infinite;
          -webkit-animation: bounce 2s infinite;
          animation: bounce 2s infinite;
        }

        @keyframes bounce {
          0%,
          20%,
          50%,
          80%,
          100% {
            transform: translateY(0);
          }
          40% {
            transform: translateY(-5px);
          }
          60% {
            transform: translateY(-3px);
          }
        }
      }
    }
    .checkboxDiv {
      display: block;
      position: relative;
      min-height: 1.3rem;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    .checkboxDiv input {
      top: 0;
      left: 0;
      margin: 0;
      opacity: 0;
      z-index: 1;
      width: 17px;
      height: 17px;
      cursor: pointer;
      position: absolute;
    }
  }
}
.showFilter {
  animation: animate 0.4s forwards ease-in-out;
}
@keyframes animate {
  0% {
    top: 35px;
    visibility: visible;
  }
  100% {
    top: 45px;
    visibility: visible;
  }
}
