<div class="filterDiv w-100 mb-2">
  <div class="innerFilter">
    <div class="sort float-right text-right d-flex justify-content-end">
        <div *ngIf="filterConfig.ascending" class="btn-group btn-group-toggle" >
            <label class="btn togglebtn cursor-p " [ngClass]="(selectedRadio == 1) ? 'active' : '' ">
              <input type="radio" [value] = "1"  name="options" id="option1" [(ngModel)]="selectedRadio" (click)="selectedRadioClick(1)" autocomplete="off" >ASC
            </label>
            <label class="btn togglebtn cursor-p" [ngClass]="(selectedRadio == 2) ? 'active' : '' ">
              <input type="radio"  [value] = "2"name="options"  id="option2" [(ngModel)]="selectedRadio" (click)="selectedRadioClick(2)" autocomplete="off">DEC
            </label>
          </div>

          <!-- <div class="radio">  
              <label>  
                  <input type="radio" name="gender" value="Male" (click)="selectedRadioClick('Male')" [checked]='true' ngModel>  
                  Male  
              </label>  
          </div>  
          <div class="radio">  
              <label>  
                  <input type="radio" name="gender" value="Female" (click)="selectedRadioClick('Female')" ngModel>  
                  Female  
              </label>  
          </div> -->

        <select *ngIf="filterConfig.showDropdown"placeholder="select option" [(ngModel)]="selectedLevel"(change) = "showDropClick($event)" class="custom-select custom-select-sm col-sm-7 focus selectTab">
          <option [value]="4" disabled selected>Select option</option>
            <option *ngFor="let item of filterConfig?.dropdownList" [ngValue]="item.val">{{ item.drpName }}</option>
        </select>
    </div>
    <input type="text" placeholder="Search"  (keyup)="inputSearch($event.target.value)" [(ngModel)]="searchText">

      <button class="clear-btn" (click)="clearalltag()">CLEAR</button>
      <!-- <button class="date-btn" (click)="showDate()">Enroll Date  <i *ngIf="showdateRange" class="fas fa-times fa-1x"></i></button>
       <div class="dateRange d-inline" *ngIf="showdateRange">
          <input [selectMode]="'range'" [owlDateTimeTrigger]="dtPicker3" [owlDateTime]="dtPicker3"
              placeholder="Start date and End date" >
          <owl-date-time [pickerType]="'calendar'" #dtPicker3></owl-date-time>
      </div> -->
      <div class="d-inline-block courseTag" *ngFor="let item of courseTag; let i = index;">
        <div *ngIf="item?.type === 'date'; else defaulttype">
                <button class="date-btn" (click)="changeTobtn($event, item)" value="{{item.tagname}}" [ngClass]="{'selectTag': item.isChecked}">{{item?.tagname}}
                    <span class="pr-1 count" *ngIf="item.count > 0">{{ item?.count }}</span>
                    <i *ngIf="item?.isChecked" class="fas fa-times fa-1x" (click)="clearTag(item);"></i>
                </button>
                <div class="dateRange d-inline" *ngIf="item?.isChecked">
                    <input [selectMode]="'range'" [owlDateTimeTrigger]="dtPicker1" [owlDateTime]="dtPicker1"
                        placeholder="Start date and End date" (dateTimeInput)="checkChange(index, item, $event)"
                        #startDate2="ngModel" [(ngModel)]="item.value === undefined ? [] : item.value">
                    <owl-date-time [pickerType]="'calendar'" #dtPicker1></owl-date-time>
                </div>
        </div>
        <ng-template #defaulttype>
                <button class="course-btn d-flex justify-content-center align-items-center" [ngClass]="{'selectTag': item.isChecked}">
                        <span class="pr-1 count" *ngIf="item.count > 0">{{ item?.count }}</span>
                        <label class="customBtn">{{ item.tagname }}
                            <input (change)="changeTobtn($event, item)" type="radio" name="radio" value="{{item.tagname}}">
                        </label>
                        <i *ngIf="item.count > 0 && item.isChecked" class="fas fa-times fa-1x close" (click)="clearTag(item);"></i>
                </button>
        </ng-template>
      </div>

      <div class="subFilters pt-1" *ngIf="showinnerTag" >
          <div class="d-inline-block checkboxDiv" *ngFor="let innertag of filterInnertag; let i = index">
              <label class="innertag" [ngClass]="{'selectInnertag': innertag.isSelected}">{{ innertag.tagName }}
                  <input type="checkbox" (click)="checkChange(i, innertag, null)" [checked]="innertag.isSelected">
              </label>
          </div>
      </div>
  </div>
</div>
