<app-subheader [headerConfig]="header" (inputsearch)="onsearchTest($event)" (Clear)="clear()" (btntwo)="uploadQuestion()" (addbtn)="addeditccategory(undefined,0)" (backClick)="back()"></app-subheader>

<div class="main_container">
    <!-- <div class="question_category_div"> -->
    <!-- [bottomOffset]="200" -->
    <!-- [topOffset]="200" -->
    <!-- [ngStyle]="{ height: conentHeight }" style="overflow-y: auto;" -->
    <div class="question_category_div" (scroll)="onScroll(scrollMe)" #scrollMe class="overflow_scroll_cards_container">

        <div *ngIf="category?.length != 0">
            <div *ngFor="let item of category;let i=index">
                <ngx-card (disabled)="clickTodisableCategory(item,i)" [cardsList]="item" [config]="cardModify" (sectionEdit)="gotoCardaddedit(item)" (gotoDetails)="gotoCardQuestion(item)"></ngx-card>
            </div>
        </div>
        <!-- </div> -->
        <app-skeleton [count]='count' *ngIf="!skeleton"></app-skeleton>

        <!-- <table *ngIf="!skeleton">
            <tr>
                <div class="multiple_qCat_card_container">
                    <div class="qCat_width">
                        <div class="qCat_container">
                            <td>
                                <div class="qCat_card">
                                    <div class="qCat">
                                        <ngx-skeleton-loader [theme]="{ width: '216px', height: '140px','margin': '5px' }">
                                        </ngx-skeleton-loader>
                                    </div>
                                    <div class="qCat-title">
                                        <ngx-skeleton-loader [theme]="{
                                                  width: '170px',
                                                  height: '40px'
                                                }"></ngx-skeleton-loader>
                                    </div>
                                    <div class="qCat-title">
                                        <ngx-skeleton-loader [theme]="{
                                                  width: '170px',
                                                  height: '40px'
                                                }"></ngx-skeleton-loader>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="qCat_card">
                                    <div class="qCat">
                                        <ngx-skeleton-loader [theme]="{ width: '216px', height: '140px','margin': '5px' }">
                                        </ngx-skeleton-loader>
                                    </div>
                                    <div class="qCat-title">
                                        <ngx-skeleton-loader [theme]="{
                                                  width: '170px',
                                                  height: '40px'
                                                }"></ngx-skeleton-loader>
                                    </div>
                                    <div class="qCat-title">
                                        <ngx-skeleton-loader [theme]="{
                                                  width: '170px',
                                                  height: '40px'
                                                }"></ngx-skeleton-loader>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="qCat_card">
                                    <div class="qCat">
                                        <ngx-skeleton-loader [theme]="{ width: '216px', height: '140px','margin': '5px'}">
                                        </ngx-skeleton-loader>
                                    </div>
                                    <div class="qCat-title">
                                        <ngx-skeleton-loader [theme]="{
                                                  width: '170px',
                                                  height: '40px'
                                                }"></ngx-skeleton-loader>
                                    </div>
                                    <div class="qCat-title">
                                        <ngx-skeleton-loader [theme]="{
                                                  width: '170px',
                                                  height: '40px'
                                                }"></ngx-skeleton-loader>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="qCat_card">
                                    <div class="qCat">
                                        <ngx-skeleton-loader [theme]="{ width: '216px', height: '140px','margin': '5px'}">
                                        </ngx-skeleton-loader>
                                    </div>
                                    <div class="qCat-title">
                                        <ngx-skeleton-loader [theme]="{
                                                  width: '170px',
                                                  height: '40px'
                                                }"></ngx-skeleton-loader>
                                    </div>
                                    <div class="qCat-title">
                                        <ngx-skeleton-loader [theme]="{
                                                  width: '170px',
                                                  height: '40px'
                                                }"></ngx-skeleton-loader>
                                    </div>
                                </div>
                            </td>
                        </div>
                    </div>
                </div>
            </tr>
            <tr>
                <div class="multiple_qCat_card_container">
                    <div class="qCat_width">
                        <div class="qCat_container">
                            <td>
                                <div class="qCat_card">
                                    <div class="qCat">
                                        <ngx-skeleton-loader [theme]="{ width: '216px', height: '140px','margin': '5px'}">
                                        </ngx-skeleton-loader>
                                    </div>
                                    <div class="qCat-title">
                                        <ngx-skeleton-loader [theme]="{
                                                      width: '170px',
                                                      height: '40px'
                                                    }"></ngx-skeleton-loader>
                                    </div>
                                    <div class="qCat-title">
                                        <ngx-skeleton-loader [theme]="{
                                                      width: '170px',
                                                      height: '40px'
                                                    }"></ngx-skeleton-loader>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="qCat_card">
                                    <div class="qCat">
                                        <ngx-skeleton-loader [theme]="{ width: '216px', height: '140px','margin': '5px'}">
                                        </ngx-skeleton-loader>
                                    </div>
                                    <div class="qCat-title">
                                        <ngx-skeleton-loader [theme]="{
                                                      width: '170px',
                                                      height: '40px'
                                                    }"></ngx-skeleton-loader>
                                    </div>
                                    <div class="qCat-title">
                                        <ngx-skeleton-loader [theme]="{
                                                      width: '170px',
                                                      height: '40px'
                                                    }"></ngx-skeleton-loader>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="qCat_card">
                                    <div class="qCat">
                                        <ngx-skeleton-loader [theme]="{ width: '216px', height: '140px','margin': '5px'}">
                                        </ngx-skeleton-loader>
                                    </div>
                                    <div class="qCat-title">
                                        <ngx-skeleton-loader [theme]="{
                                                      width: '170px',
                                                      height: '40px'
                                                    }"></ngx-skeleton-loader>
                                    </div>
                                    <div class="qCat-title">
                                        <ngx-skeleton-loader [theme]="{
                                                      width: '170px',
                                                      height: '40px'
                                                    }"></ngx-skeleton-loader>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="qCat_card">
                                    <div class="qCat">
                                        <ngx-skeleton-loader [theme]="{ width: '216px', height: '140px','margin': '5px'}">
                                        </ngx-skeleton-loader>
                                    </div>
                                    <div class="qCat-title">
                                        <ngx-skeleton-loader [theme]="{
                                                      width: '170px',
                                                      height: '40px'
                                                    }"></ngx-skeleton-loader>
                                    </div>
                                    <div class="qCat-title">
                                        <ngx-skeleton-loader [theme]="{
                                                      width: '170px',
                                                      height: '40px'
                                                    }"></ngx-skeleton-loader>
                                    </div>
                                </div>
                            </td>
                        </div>
                    </div>
                </div>
            </tr>
        </table> -->

        <div *ngIf="notFound">
            <!-- <div class="col-md-12 noDataDiv">
                <img class="noDataImg" src='assets/images/noDataFound1.png' onerror="this.src='assets/images/noDataFound1.png';"> -->
            <!-- <img src='assets/images/noDataFound2.png' onerror="this.src='assets/images/noDataFound2.png';"> -->
            <!-- <p class="nodata"> No Data Found</p> -->
            <!-- </div> -->
            <ngx-no-data [config]="noDataVal"></ngx-no-data>
        </div>

    </div>
</div>

<div class="deleteModalBackdrop" *ngIf="enableDisableModal == true">
    <div class="deleteModal">
        <div class="modal-header deleteModalHeader">
            <p *ngIf="!enable" class="enableDisableModalHeaderP">Enable Category</p>
            <p *ngIf="enable" class="enableDisableModalHeaderP">Disable Category</p>
            <button class="close closeDeleteModalBtn" aria-label="Close" (click)="closeEnableDisableModal()">
                  <span aria-hidden="true">&times;</span>
              </button>
        </div>
        <div class="modal-body">
            <div class="" *ngIf="!enable">
                <p class="enableDisableModalBodyP">Are you sure you want to enable this {{qCategory.catName}} ?</p>
            </div>
            <div class="" *ngIf="enable">
                <p class="enableDisableModalBodyP">Are you sure you want to disable this {{qCategory.catName}} ?</p>
            </div>
        </div>

        <div class="modal-footer deleteModalFooter">
            <div class="col-md-2">
                <button type="button" class="deleteModalBtn" (click)="enableDisableCategoryAction(true)">Yes</button>
            </div>
            <div class="col-md-2">
                <button type="button" class="deleteModalBtn" (click)="enableDisableCategoryAction(false)">No</button>
            </div>
        </div>
    </div>
</div>
<ngx-sidebar-form *ngIf="sidebarForm" (saveBtn)="submit(categoryForm)" (closeBtn)="cloeSidebar()" (outside)="cloeSidebar()" [sidebarTitle]="titleName" [buttonName]="btnName">
    <form #categoryForm="ngForm">

        <!-- <div class="row">
          <div class="form-group col-md-6">
              <label class="side-form-label">{{helpContent?.qb_editCat?.qb_catname.label}}<sup>&#x2731;</sup>  
                <div class="help-tooltip">
                  <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                  <div class="help-tooltip-position-right">
                    <p>{{helpContent?.qb_editCat?.qb_catname?.labelHelpContent}}</p>
                    <i></i>
                  </div>
                </div>
              </label>
              <select class="custom-select">
                  <option selected>Select discount type<sup>&#x2731;</sup></option>
                  <option value="1">Amount</option>
                  <option value="2">Percentage</option>
              </select>
          </div>
          <div class="form-group col-md-6">
              <label class="side-form-label">Discount value</label>
              <input type="text" class="form-control" placeholder="Enter discount value">
          </div>
      </div>
      <div class="row">
        <div class="form-group col-md-6">
            <label class="side-form-label">Discount Type<sup>&#x2731;</sup></label>
            <select class="custom-select">
                <option selected>Select discount type<sup>&#x2731;</sup></option>
                <option value="1">Amount</option>
                <option value="2">Percentage</option>
            </select>
        </div>
        <div class="form-group col-md-6">
            <label class="side-form-label">Discount value</label>
            <input type="text" class="form-control" placeholder="Enter discount value">
        </div>
      </div> -->


        <div class="form_grid">
            <div class="left_form_container">
                <div class="form-group form_field_container">
                    <label class="side-form-label">{{helpContent?.qb_editCat?.qb_catname.label}} <sup>&#x2731;</sup>
                    <app-info-tooltip  [description]="helpContent?.qb_editCat?.qb_catname.labelHelpContent"></app-info-tooltip>
                </label>
                    <!-- <label class="commonLabel" for="catna">
          {{helpContent?.qb_editCat?.qb_catname.label}}
          <sup class="required_mark">*</sup>
          <div class="help-tooltip">
            <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
            <div class="help-tooltip-position-right">
              <p>{{helpContent?.qb_editCat?.qb_catname?.labelHelpContent}}</p>
              <i></i>
            </div>
          </div>
      </label> -->
                    <input type="text" class="form-control commonInput" maxlength="50" minlength="2" id="catna" [(ngModel)]="formdata.cname" required placeholder="Max 50 Characters" name="cname" #cname="ngModel">


                    <div *ngIf="cname.errors && (cname.dirty || cname.touched)">
                        <small class="invalid-msg" [hidden]="!cname.errors.required">Category Name is required</small>
                        <small class="invalid-msg" [hidden]="!cname.errors.minlength">Minimum 2 characters required</small>
                    </div>
                    <span></span>
                </div>





                <div class="form-group form_field_container">
                    <label class="side-form-label">{{helpContent?.qb_editCat?.qb_desc.label}}
                    <app-info-tooltip  [description]="helpContent?.qb_editCat?.qb_desc.labelHelpContent"></app-info-tooltip>
                </label>
                    <!-- <label class="commonLabel" for="des">
          {{helpContent?.qb_editCat?.qb_desc.label}}
          <sup class="required_mark">*</sup>
          <div class="help-tooltip">
            <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
            <div class="help-tooltip-position-right">
              <p>{{helpContent?.qb_editCat?.qb_desc?.labelHelpContent}}</p>
              <i></i>
            </div>
          </div>
      </label> -->

                    <textarea class="form-control taskedittextarea ng-pristine ng-valid ng-valid-maxlength ng-touched commonTextarea" id="cdesc" placeholder="Min 20 and Max 500 characters." maxlength="500" minlength="20" name="cdesc" [(ngModel)]="formdata.cdesc" minlength="20"
                        maxlength="500" #cdesc="ngModel" pattern=".{20,500}">
              </textarea>


                    <!-- <div *ngIf="cdesc.errors && (cdesc.dirty || cdesc.touched)">
                        <small class="invalid-msg" [hidden]="!cdesc.errors.required">Category Description is Required</small>
                        <small class="invalid-msg" [hidden]="!cdesc.errors.minlength">Minimum 20 characters Required</small>
                    </div> -->
                    <span></span>
                </div>
                <div class="form-group form_field_container">
                    <label class="side-form-label">{{helpContent?.qb_editCat?.qb_tag.label}} <sup>&#x2731;</sup>
                    <app-info-tooltip  [description]="helpContent?.qb_editCat?.qb_tag.labelHelpContent"></app-info-tooltip>
                </label>
                    <!-- <label class="commonLabel" for="items">
          {{helpContent?.qb_editCat?.qb_tag.label}}
          <sup class="required_mark">*</sup>
          <div class="help-tooltip">
            <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
            <div class="help-tooltip-position-right">
              <p>{{helpContent?.qb_editCat?.qb_tag?.labelHelpContent}}</p>
              <i></i>
            </div>
          </div>
      </label> -->
                    <div id="addTags">
                        <angular2-multiselect id="exampleInputTags4" [data]="tagList" [(ngModel)]="selectedTags" [settings]="settingsTagDrop" required #tags="ngModel" (onSelect)="onTagsSelect($event)" (onDeSelect)="OnTagDeSelect($event)" name="selectedTags" ngDefaultControl>

                            <c-item>
                                <ng-template let-item="item">
                                    <label class="multiselect-label">{{item.name}}</label>
                                </ng-template>
                            </c-item>
                        </angular2-multiselect>
                        <div *ngIf="tags.errors && (tags.dirty || tags.touched)">
                            <small class="invalid-msg" [hidden]="!tags.errors.required">Tag is required</small>
                        </div>
                    </div>
                    <span></span>
                </div>
            </div>
            <div class="right_form_container">

                <form class="forms-sample form_field_container">
                    <label class="side-form-label">{{helpContent?.qb_editCat?.qb_img.label}} 
                    <app-info-tooltip  [description]="helpContent?.qb_editCat?.qb_img.labelHelpContent"></app-info-tooltip>
                </label>
                    <!-- <label class="commonLabel" for="">
          {{helpContent?.qb_editCat?.qb_img.label}}
          <div class="help-tooltip">
            <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
            <div class="help-tooltip-position-right">
              <p>{{helpContent?.qb_editCat?.qb_img?.labelHelpContent}}</p>
              <i></i>
            </div>
          </div>
      </label> -->

                    <div class="image_upload_container">
                        <div class="image_preview">

                            <div class="image_preview_container" [style.background-image]="'url(' + formdata.picRef + ')'">
                                <div class="icon_upload_image">
                                    <input class="commonInput" type='file' id="imageUpload_1" [(ngModel)]="formdata.categoryPicRefs" [ngModelOptions]="{standalone: true}" accept=".png, .jpg, .jpeg" style="display:none" (change)="readCategoryThumb($event)" />
                                    <label for="imageUpload_1" title="Change Thumbnail"><i class="fa fa-pencil"
                    aria-hidden="true"></i></label>
                                </div>
                                <div class="icon_delete" (click)="deleteCategoryThumb()">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </div>

                            </div>


                        </div>
                    </div>
                </form>
            </div>
        </div>

    </form>
</ngx-sidebar-form>








<!-- **************************   OLD CODE**************************** -->
<!--
<div class="row sticky-catHead" style="margin: 0;">
    <div style="background:#fff; width: 100%;">
      <div class="col-md-3">
        <h4 class="marginTop14">Question Bank Category</h4>
      </div>
      <div class="col-md-6">
        <div class="row marginTop14" style="border: 1px solid #cbcbcb;">
          <div class="col-md-11">
           <input type="text" [(ngModel)]="search.catName" class="form-control borderNone" placeholder="Search by keywords" name="namw" [disabled]="notFound">
          </div>
          <div class="col-md-1 text-right" style="padding-left: 0px">
           <i class="fa fa-remove catRemove" aria-hidden="true" (click)="clear()"></i>
          </div>
      </div>
      </div>
      <div class="col-md-3 btn-div">
          <button type="submit" class="btn btn-mm btnBack"  id="btnBackHover" (click)="back()">Back</button>
          <button type="submit" class="btn btn-mm btnAddCategory"  id="btnAdd" (click)="addeditccategory(item,0)">Add Category</button>
        </div>
      <div class="col-md-3 text-right pad14px">
          <button type="button" class="constantbtn-button-blue-left" (click)="addeditccategory(item,0)" [disabled]="notFound">Add Category</button>
        <button type="submit" class="constantbtn-button-blue-right" (click)="back()">Back</button>

      </div>
    </div>
  </div>
  <div class="widgets" *ngIf="!notFound">
    <div class="loaderBackdrop" *ngIf="loader == true">
      <div id="loader"></div>
    </div>
    <div ba-panel ba-panel-class="with-scroll">
      sticky-top
      <section id="feature sec" class="section01">
        <h3>CATEGORY</h3>
        <div class="col-md-12 toprow">
              <div class="col-md-6 searchdiv">
                <input type="text" [(ngModel)]="search.catna" class="form-control"  placeholder="search" name="catna">
                <i class="fa fa-remove remove" aria-hidden="true" (click)="clear()"></i>
              </div>
              <div class="col-md-3 btn-div">
                <button type="submit" class="btn btn-danger btn-mm btn-with-icon" (click)="addeditcategory(item,0)"><i class="fa fa-plus"></i>Add Category</button>
              </div>
            </div>
        <div class="row col-md-12 catrow">
          <div *ngFor="let item of category |filterBy: search;let j=index" class="card col-md-3 qcategory-card">
            (click)="content2(item,0)"
            <div class="qcategory-disabled" [hidden]="item.visible == 1">
              <i title="Disabled" id="enable_{{item.courseId}}" class="fa fa-eye-slash disabled-icon" aria-hidden="true" (click)="disableQcate(j,item)" ></i>
          </div>
            <div class="pointhand" (click)="content2(item,1)">
              <a *ngIf="item.picRef" style="cursor: pointer;">
                <img class="constimg" src={{item.picRef}}>
              </a>
              <a class="constimg" *ngIf="!item.picRef" style="cursor: pointer;">
                <img src='assets/images/category.jpg'>
              </a>
            </div>
            <div class="border-bott-feed pointhand" (click)="content2(item,1)">
              <div class="catsep">
                <p class="toolcatp tooltip">{{item.catName}}</p>
                <p class="toolcatp" title="{{item.catName}}" *ngIf="item.catName.length <=10">{{item.catName}}</p>
                <p class="toolcatp" title="{{item.catName}}" *ngIf="item.catName.length >10">{{item.catName.substring(0,10)}}...</p>
              </div>
              <div class="col-sm-12 constDesc">
                <p class="catdesp">{{item.description | slice:0:100}} . . .</p>
                  <p class="catdesp" title="{{item.description}}" *ngIf="item.description.length <=100">{{item.description}}</p>
                  <p class="catdesp" title="{{item.description}}" *ngIf="item.description.length >100">{{item.description.substring(0,100)}}...</p>
              </div>
               <div class="col-sm-12 topline" >
                  <p class="catque">Number of Questions :{{item.qcnt}}</p>
                </div>
            </div>
            <div class="col-sm-12 card-footer-main">
              <div class="col-sm-6  bordright pointhand">
                <div class="pointhand card-footer-sub" title="Edit" (click)="addeditccategory(item,1)">
                  <i class="fa fa-edit card-footer-icon" aria-hidden="true"></i>
                </div>
                 <div >
                          <span class="">Edit</span>
                          </div>
              </div>
              <div class="col-sm-6  ">
                <div class="pointhand card-footer-sub" >
                  <i class="fa fa-eye card-footer-icon pointhand " title="Enable" aria-hidden="true" (click)="disableQcate(j,item)" [hidden]="item.visible == 0"></i>
                  <i class="fa fa-eye-slash card-footer-icon pointhand" title="Disable" aria-hidden="true" (click)="disableQcate(j,item)" [hidden]="item.visible == 1"></i>
                </div>
              </div>
                    <div class="col-sm-4 card-footer-sub">
                    <div class="" title="Duplicate">
                          <i class="fa fa-clone card-footer-icon" aria-hidden="true"></i>
                        </div>

                  </div>
            </div>
            </div>
          </div>
        </div>
                <div class="row col-md-12 catrow">
            <div *ngFor="let item of category |filterBy: search;let j=index" class="card col-md-3" (click)="content2(item,0)" >

              <a>

                <img src='assets/images/category.jpg'>
              </a>
              <div>
                 <div class="catsep">
                <p class="toolcatp tooltip">{{item.catName}}</p>
                <div class="toolcat">
                  <li class="tooltip"><i class="fa fa-bars tolicon" aria-hidden="true"></i>
                    <div class="tooltipMenu bottomSide tooltipMenulist">
                      <ul>

                        <li class="lastli" title="Edit"(click)="addeditccategory(item,1)">
                          <i class="fa fa-edit" aria-hidden="true"></i>
                        </li>
                        <li class="lastli" title="Delete"(click)="delatecategory(j)">
                          <i class="fa fa-free-code-camp fr" aria-hidden="true"></i>
                        </li>
                        <li class="lastli" title="Add Question"(click)="addeditccategory(item,1)">
                          <i class="fa fa-user-o fr " aria-hidden="true"></i>
                        </li>
                      </ul>
                    </div>
                  </li>
                </div>
              </div>
                <div class="col-sm-12">
                  <p class="catdesp">{{item.cdesc | slice:0:120}} . . .</p>
                </div>
              </div>
            </div>

          </div>
      </section>
    </div>
  </div> -->