<div class="activity_consumption">
    <app-subheader [headerConfig]="header" (inputsearch)="SarchFilter($event,searchtext)" (Clear)="clear()" (btntwo)="Exportreport()" (btnthree)="GetReports()" (backClick)="GoToBack()" (filterReportPrimary)="gotoFilter('primary')" (filterReportSecondary)="gotoFilter('secondary')"></app-subheader>

    <ngx-filter [courseTag]="filters.primary" [filterInnertag]="filtersInner.primary" [cacheFilter]='filtersCache?.primary' [filterConfig]="filtercon" (changeFilterData)="filteredPrimaryChanged($event)" *ngIf="filter?.primary"></ngx-filter>
    <ngx-filter [courseTag]="filters.secondary" [filterInnertag]="filtersInner.sencodary" [cacheFilter]='filtersCache?.secondary' [filterConfig]="filterSecondaryCon" (changeFilterData)="filteredSecondaryChanged($event)" *ngIf="filter?.secondary" (sendErrorMessageData)="bindErrorMessageData($event)"></ngx-filter>


    <!-- <div class="side_menu_container col-md-3">
        <div *ngIf="FMReportFilterWorking">
            <ngx-side-menu-filter [filter]='FMReportFilterObj.main' [sfilter]='FMReportFilterObj.sub' [filtertype]='filtertype' [cacheFilter]='cacheFilters' (onSelectFilter)="getSelectedFilter($event)">
            </ngx-side-menu-filter>
        </div>
    </div> -->

    <div class="tableList col-md-12">
        <div class="tableCompo tableInfinite" #scrollDiv cdkScrollable *ngIf='!noData'>
            <ngx-enrol-table [label]="labels" [tableData]="courseList" (clickOnCheck)="onSelectRow($event)"></ngx-enrol-table>
        </div>
        <div class="totalrows" *ngIf='!noData'>
            <p class="totalcount">TOTAL: &nbsp; <b>{{FilterParam.total}}</b></p>
        </div>
        <ngx-no-data *ngIf="noData"></ngx-no-data>

    </div>
    <!-- <div *ngIf="exports">
        <ngx-report-schedule [data]="FMReportFilterValues" [menuId]="menuId" (closed)="closedmodel($event)">
        </ngx-report-schedule>
    </div> -->

    <ngx-sidebar-form *ngIf="exports" [sidebarTitle]='notiTitle' (outside)="closeSiderBar()" [buttonName]="btnName" [buttonName1]="btnName1" (closeBtn)='closeSiderBar()' (saveBtn)="sendSaveBtn('save')" (saveBtn1)="sendSaveBtn('savenshow')">
        <ngx-report-schedule-sidebar [courseTag]="filters.secondary" [inpdata]="isdata" [data]="FMReportFilterValues" [menuId]="menuId" (closed)="closedmodel($event)">
        </ngx-report-schedule-sidebar>
    </ngx-sidebar-form>

    <!-- <div class="spinner_container" *ngIf="showSpinner">
        <div class="loader box-rotation"></div>
    </div> -->
</div>