.approve_asset_container {
    .addEditCattoprow {
        // padding: 12px;
        border: none;
        background-color: #ffffff;
        height: auto;
        width: 100%;
        display: inline-flex;
    }
    .floteright {
        float: right;
        font-size: 13px;
        background-color: #fff;
    }
    .no_pdf {
        // text-align: center;
        color: #000;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
    }
    .noPadding {
        padding: 0;
    }
    .noPaddingRight {
        padding-right: 0;
    }
    .tagWidth {
        width: 100%;
    }
    .was-validated .form-control:invalid,
    .form-control.is-invalid {
        background-image: none;
    }
    .paddingTo {
        padding: 15px;
    }
    .flexcol {
        display: flex;
        // margin-top: 25px;
        margin-top: 17px;
        padding-left: 0;
    }
    .image_container {
        text-align: center;
        margin-top: 25px;
    }
    .imagePreview {
        width: 500px;
        height: 300px;
    }
    .rowMargin {
        margin: auto;
    }
    .inside_container {
        margin: 15px;
        background: #fff;
        .form_grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 20px;
            padding: 20px;
        }
    }
    .addEditCatsticky-top {
        position: sticky;
        top: 67px;
        z-index: 1039;
    }
    .addEditCatHead {
        // padding: 15px 0px 15px 30px;
        margin: 15px auto;
    }
    .dropdown-height {
        height: 34px;
    }
    .bgwhite132 {
        background-color: white;
        min-height: 455px;
    }
    .bgwhite {
        background-color: white;
    }
    .padding-top {
        padding-top: 15px;
    }
    .padding-bottom {
        padding-bottom: 20px;
    }
    .margin-top {
        margin-top: 17px;
    }
    .margin-vertical {
        /* margin-top: 20px; */
        margin: auto;
        // margin-bottom: 20px;
        padding: 0;
    }
    .space {
        padding-top :20px
    }
    textarea {
        resize: none;
    }
    .margin-all {
        margin: 20px;
    }
    .padding-all {
        padding: 20px;
    }
    .marginRight {
        margin-left: 10px;
    }

    //new css
    .addRuleBackdrop1 {
        // position: absolute;
        // width: 100%;
        // height: 100%;
        // top: 67px;
        // background-color: #404040c2;
        // z-index: 2000;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        z-index: 1503;
        background-color: #404040c2;
        .addRuleDemoModal1 {
            /*width: 80%;*/
            // width: 50%;
            // margin: auto;
            // background-color: #fff;
            // margin-top: 50px;
            // border-radius: 5px;
            width: 50%;
            margin: auto;
            background-color: #fff;
            margin-top: 65px;
            border-radius: 5px;
        }
    }
    .topDivRe {
        height: 350px;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    .badgeIcon,
    .certIcon {
        width: 80px;
        height: 50px;
        padding: 5px 5px 5px 20px;
        // margin: 5px;
        // margin-left: 20px;
        // padding-bottom: 15px;
        overflow: hidden;
    }
    .search_div {
        display: grid;
        grid-template-columns: 2fr 1.5fr;
        grid-column-gap: 20px;
        align-items: center;
        padding: 10px 10px 10px 0;
        .search_field {
            -webkit-box-shadow: none;
            box-shadow: none;
            border: 1px solid #dadfe6;
            padding: 10px;
            font-size: 13px;
        }
    }
    .displayin {
        display: inline;
        padding: 0px;
        margin-bottom: 10px;
        height: 50px;
        cursor: pointer;
        border: 1px solid #eee;
    }
    .cursor {
        cursor: pointer;
    }
    .remove_icon {
        outline: none;
        cursor: pointer;
        padding-top: 10px;
        position: absolute;
        top: 10px;
        right: 40px;
    }
    .floatrig {
        float: right;
        font-size: 11px;
        line-height: 15px;
        margin: 0;
        top: 0;
        text-align: justify;
    }
    .badgeContainer,
    .certContainer {
        margin: 5px;
        text {
            font-size: 12px;
        }
    }
    .activeBadge {
        border: 1px solid #076ba1 !important;
        background-color: #e9eef1;
    }
    //end new
    .constantbtn-approve {
        background: green;
        color: white;
        border: none;
        width: 100%;
        min-width: 90px;
        min-height: 30px;
        margin: auto;
        margin-right: 15px;
        text-transform: uppercase;
    }
    .constantbtn-reject {
        background: red;
        color: white;
        border: none;
        width: 100%;
        min-width: 90px;
        min-height: 30px;
        margin: auto;
        text-transform: uppercase;
    }
    .viewbtn {
        background: #076ba1;
        color: white;
        border: none;
        width: 150px;
        height: 25px;
        margin-bottom: 10px;
    }
    .savebtn {
        background: #076ba1;
        border: none;
        color: #fff;
        margin-left: 15px;
    }
    // radio button style code start here
    // /* The container */
    .containerRadio {
        display: block;
        position: relative;
        padding-left: 35px;
        // width: 150px;
        cursor: pointer;
        // font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        margin: 0;
        line-height: 30px;
    }
    // /* Hide the browser's default radio button */
    .containerRadio input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        visibility: hidden;
    }
    // /* Create a custom radio button */
    .checkmark {
        position: absolute;
        top: 5px;
        left: 0px;
        height: 20px;
        width: 20px;
        background-color: #ffffff;
        border-radius: 50%;
        // border: 1px solid #2196F3;
        border: 1px solid var(--colorCommon);
    }
    /* On mouse-over, add a grey background color */
    .containerRadio:hover input~.checkmark {
        background-color: #ccc;
    }
    /* When the radio button is checked, add a blue background */
    .containerRadio input:checked~.checkmark {
        background-color: #ffffff;
    }
    // /* Create the indicator (the dot/circle - hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }
    // /* Show the indicator (dot/circle) when checked */
    .containerRadio input:checked~.checkmark:after {
        display: block;
    }
    // /* Style the indicator (dot/circle) */
    .containerRadio .checkmark:after {
        top: 5px;
        left: 5px;
        width: 9px;
        height: 8px;
        border-radius: 50%;
        // background: #2196F3;
        background: var(--colorCommon);
    }
    // radio style code end here
    // .modal-header {
    //     background-color: #076ba1;
    //     height: 55px;
    //     color: #fff;
    // }
    // .modal-body {
    //     position: relative;
    //     padding: 0;
    //     display: flex;
    //     box-sizing: border-box;
    // }
    .close {
        float: right;
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1;
        color: #fff;
        text-shadow: 0 1px 0 #fff;
        opacity: .5;
        outline: none;
    }
    .modal-footer {
        height: 55px;
    }
    .form-group {
        margin-bottom: 20px;
    }
    label {
        font-weight: 100;
        color: rgb(44, 44, 44);
    }
    .form-control {
        box-shadow: none;
    }
    .catIInput {
        margin-right: 3.5%;
    }
    .inputFileCourse {
        height: 14em;
        .form-control-file {
            position: relative;
            width: 100%;
            height: 100%;
            min-height: 6em;
            outline: none;
            visibility: hidden;
            cursor: pointer;
            background-color: #c61c23;
            box-shadow: 0 0 5px solid currentColor;
            input {
                word-wrap: break-word;
            }
            &::before {
                color: #ed462f;
                content: attr(data-title);
                position: absolute;
                top: 0.5em;
                left: 0;
                width: 100%;
                /* min-height: 8em; */
                height: 12em;
                line-height: 8em;
                padding-top: 1.5em;
                opacity: 1;
                visibility: visible;
                text-align: center;
                border: 0.15em dashed #9ea4a5;
                transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
                overflow: hidden;
                padding: 20px;
                text-overflow: ellipsis;
            }
            &::hover {
                &:before {
                    border-style: solid #076ba1;
                    /*box-shadow: inset 0px 0px 0px 0.25em currentColor;*/
                }
            }
        }
    }
    .right {
        margin-left: 88%;
    }
    .cancelButton {
        float: right;
        transform: none;
        background: transparent;
        font-weight: 600;
        border: none;
        padding: 0px;
        width: 15px;
        color: #ff0c0c;
        // margin: 5px 0;
        // margin-left: 98%;
        outline: none;
    }
    // .reqFieldActivity{
    //   display: inline;
    //   color: #ed462f;
    // }
    // .required_msg_text{
    //   .form-text{
    //     color: #ed462f ;
    //   }
    // }
    .textarA{
        height: 112px;
    }
}