<div class="approve_asset_container" *ngIf="show">
    <app-subheader [headerConfig]="header" (addbtn)="updateAssetStatus(approveForm, approve)" (backClick)="back($event)" (comeBack)="backToAsset($event)"></app-subheader>
    <!-- <div class="addEditCattoprow addEditCatsticky-top">
      <div class="col-md-6">
          <h4 class="addEditCatHead">APPROVE ASSET</h4>
      </div>
      <div class="col-md-6 text-right pad14px">
          <button type="button" class="constantbtn-button-blue-left" (click)="updateAssetStatus(approveForm, approve)">
              Save
            </button>
          <button type="submit" class="back_button" (click)="back()">
          Back
        </button>

      </div>
  </div> -->

    <form #approve="ngForm">

        <div class="inside_container">
            <div class="form_grid">
                <div class="">
                    <div class="form-group">
                        <label class="side-form-label">{{helpContent?.dam_approve_asset?.asset_name?.label}}<sup>&#x2731;</sup>
                        <app-info-tooltip [description]="helpContent?.dam_approve_asset?.asset_name?.labelHelpContent">
                        </app-info-tooltip>
                      </label>
                        <!-- <label class="space_left">
                  {{helpContent?.dam_approve_asset?.asset_name.label}}
                  <sup class="reqFieldActivity">*</sup>
                  <div class="help-tooltip">
                    <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                    <div class="help-tooltip-position-right">
                      <p>{{helpContent?.dam_approve_asset?.asset_name?.labelHelpContent}}</p>
                      <i></i>
                    </div>
                  </div>
                </label> -->
                        <input type="text" class="form-control form-control-input commonInput" [(ngModel)]="approveForm.assetName" name="assetName" #assetName="ngModel" [ngClass]="{ 'is-invalid': submitted && assetName.errors }" pattern=".{2,50}" required placeholder="Enter name of the file. Max 50 characters.">
                        <div *ngIf="submitted && assetName.errors" class="invalid-msg">
                            <small *ngIf="assetName.hasError('required')">File name is required</small>
                            <small *ngIf="assetName.hasError('pattern')">Min 2 and max 50 characters allowed</small>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="side-form-label">{{helpContent?.dam_approve_asset?.description?.label}}
                        <app-info-tooltip [description]="helpContent?.dam_approve_asset?.description?.labelHelpContent">
                        </app-info-tooltip>
                      </label>
                        <!-- <label class="left_space" for="des">
                {{helpContent?.dam_approve_asset?.description.label}} -->
                        <!-- <sup class="reqFieldActivity">*</sup>  -->
                        <!-- <div class="help-tooltip">
                  <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                  <div class="help-tooltip-position-right">
                    <p>{{helpContent?.dam_approve_asset?.description?.labelHelpContent}}</p>
                    <i></i>
                  </div>
                </div>
              </label> -->
                        <textarea cols="30" rows="5" class="form-control form-control-input inputText commonTextarea textarA" id="des" name="description" [(ngModel)]="approveForm.description" #descrip="ngModel" [ngClass]="{ 'is-invalid': submitted && descrip.errors }" placeholder="Max 500 characters."
                            pattern=".{2,500}"></textarea>
                        <!-- <div *ngIf="submitted && descrip.errors" class="alert alert-danger">
                          <div *ngIf="descrip.hasError('required')">File Description is required</div>
                          <div *ngIf="descrip.hasError('pattern')">Min 20 and max 500 characters allowed</div>
                      </div> -->
                    </div>

                    <div class="form-group">
                        <label class="side-form-label">{{helpContent?.dam_approve_asset?.category?.label}}<sup>&#x2731;</sup>
                        <app-info-tooltip [description]="helpContent?.dam_approve_asset?.category?.labelHelpContent">
                        </app-info-tooltip>
                      </label>
                        <!-- <label for="categories">
                {{helpContent?.dam_approve_asset?.category.label}}
                <sup class="reqFieldActivity">*</sup>
                <div class="help-tooltip">
                  <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                  <div class="help-tooltip-position-right">
                    <p>{{helpContent?.dam_approve_asset?.category?.labelHelpContent}}</p>
                    <i></i>
                  </div>
                </div>
              </label> -->
                        <!-- <select class="form-control select_field_height" name="categories" [(ngModel)]="approveForm.category" id="categories" #category="ngModel" [ngClass]="{ 'is-invalid': submitted && category.errors }" required>
                <option value="" selected disabled>Select Categories</option>
                <option *ngFor="let category of categories" value={{category.catId}}>{{category.catName}}</option>
              </select> -->
                        <!-- <div class="row"> -->
                        <!-- <div class="col-md-12"> -->
                        <!-- <input type="text" class="col-md-10  col-sm-10 d-inline form-control select_field_height catIInput" #category="ngModel" name="categories" placeholder="Select Folder" disabled [(ngModel)]="CategoryName" [ngModelOptions]="{standalone: true}"> -->
                        <input type="text" class=" form-control select_field_height catIInput commonInput" #category="ngModel" name="categories" placeholder="Select Folder" disabled [(ngModel)]="CategoryName" [ngModelOptions]="{standalone: true}">
                        <!-- </div> -->
                        <!-- <span> -->
                        <!-- <div class="col-md-2">
                                <button type="button" class="constantbtn-button-blue-left  pull-right" (click)="CatModal()" [disabled]="dataFromAssetCategory && CategoryName.length != 0">Browse</button>
                            </div> -->
                    </div>
                    <!-- </span> -->
                    <div *ngIf="submitted && category.errors" class="invalid-msg">
                        <small *ngIf="category.hasError('required')">Folder is required</small>
                    </div>
                    <!-- </div> -->

                    <!-- //new -->
                    <div class="row tagContainer col-md-12 margin-vertical">
                        <div class="col-md-12 noPadding space pt-0">
                            <label class="side-form-label">{{helpContent?.dam_approve_asset?.author?.label}}<sup>&#x2731;</sup>
                            <app-info-tooltip [description]="helpContent?.dam_approve_asset?.author?.labelHelpContent">
                            </app-info-tooltip>
                          </label>
                            <!-- <label class="lbl">
              {{helpContent?.dam_approve_asset?.author.label}}
              <sup class="reqFieldActivity">*</sup>
              <div class="help-tooltip">
                <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                <div class="help-tooltip-position-right">
                  <p>{{helpContent?.dam_approve_asset?.author?.labelHelpContent}}</p>
                  <i></i>
                </div>
              </div>
          </label> -->
                            <angular2-multiselect id="employee" [data]="allEmployeeAutoDrop" [(ngModel)]="approveForm.selectedEmployee" [settings]="settingsEmployeeDrop" (onSelect)="onCreatorSelect($event)" (onDeSelect)="OnCreatorDeSelect($event)" name="selectedEmployee" #employee="ngModel"
                                [ngClass]="{ 'is-invalid': submitted && employee.errors }" required>
                                <c-search>
                                    <ng-template>
                                        <input type="text" (keyup)="onCreatorSearch($event)" placeholder="Search employee..." style="border: none;width: 100%; height: 100%;outline: none;" />
                                    </ng-template>
                                </c-search>
                                <c-item>
                                    <ng-template let-item="item">
                                        <label class="multiselect-label">{{item.empCode}}</label>
                                        <label class="multiselect-label">{{item.empName}}</label>
                                    </ng-template>
                                </c-item>
                            </angular2-multiselect>
                            <div *ngIf="submitted && employee.errors" class="invalid-msg">
                                <div *ngIf="employee.hasError('required')">Author is required</div>
                            </div>
                            <span></span>
                        </div>

                        <!-- ///approve -->
                        <div class="form-group flexcol">
                            <div *ngIf="tabId == 3 || tabId == 2">
                                <label class="containerRadio side-form-label col-md-6">Approve
                  <input type="radio" checked="checked" name="radio" (click)="approveReject(true)">
                  <span class="checkmark"></span>
                </label>
                            </div>
                            <div *ngIf="tabId == 3 || tabId == 1">
                                <label class="containerRadio side-form-label col-md-6">Reject
                  <input type="radio" name="radio" (click)="approveReject(false)">
                  <span class="checkmark"></span>
                </label>
                            </div>
                        </div>
                        <!-- end Approve -->
                    </div>
                    <div class="form-group margin-top" *ngIf="showReasons">
                        <label class="left_space" for="rejRes">Rejection Reason<sup class="reqFieldActivity">*</sup> </label>
                        <textarea cols="30" rows="3" class="form-control form-control-input inputText commonTextarea" id="rejRes" name="rejReason" [(ngModel)]="approveForm.rejectionReason" #rejection_reason="ngModel" placeholder="Enter rejection reason for the asset. Min 20 and Max 500 characters."
                            pattern=".{20,500}" required [ngClass]="{ 'is-invalid': submitted && rejection_reason.errors }"></textarea>
                        <div *ngIf="submitted && rejection_reason.errors" class="invalid-msg">
                            <small *ngIf="rejection_reason.hasError('required')">Rejection reason is required</small>
                            <small *ngIf="rejection_reason.hasError('pattern')">Min 20 and max 500 characters allowed</small>
                        </div>
                    </div>

                    <!-- End New -->

                    <!-- <div class="form-group">
                      <label for="format">
                  {{helpContent?.dam_approve_asset?.format.label}}
                  <sup class="reqFieldActivity">*</sup>
                  <div class="help-tooltip">
                    <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                    <div class="help-tooltip-position-right">
                      <p>{{helpContent?.dam_approve_asset?.format?.labelHelpContent}}</p>
                      <i></i>
                    </div>
                  </div>
              </label>
                      <select class="form-control select_field_height" name="format" #format="ngModel" [ngClass]="{ 'is-invalid': submitted && format.errors }" [(ngModel)]="approveForm.format" (change)="formatChange()" required>
                <option value="" selected disabled>Select asset format</option>
                <option *ngFor="let format of formats" value={{format.formatId}}>{{format.formatName}}</option>
              </select>
                      <div *ngIf="submitted && format.errors" class="alert alert-danger">
                          <div *ngIf="format.hasError('required')">Format is required</div>
                      </div>
                  </div> -->

                    <!-- <div class="" *ngIf="
            approveForm.format == 1 ||
            approveForm.format == 2 ||
            approveForm.format == 4 ||
            approveForm.format == 6
                          ">
                      <label for="actDuration">
                  {{helpContent?.dam_approve_asset?.estimated_time.label}}
                  <sup class="reqFieldActivity">*</sup>
                  <div class="help-tooltip">
                    <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                    <div class="help-tooltip-position-right">
                      <p>{{helpContent?.dam_approve_asset?.estimated_time?.labelHelpContent}}</p>
                      <i></i>
                    </div>
                  </div>
              </label>
                      <timepicker id="actDuration" [(ngModel)]="approveForm.time" [minuteStep]="1" [ngModelOptions]="{standalone: true}" [secondsStep]="1" [showMeridian]="false" [showMinutes]="true" [showSeconds]="true" name="activityDuration">
                      </timepicker>
                      <span></span>
                  </div> -->

                </div>
                <div class="">

                    <!-- //new  -->
                    <div class="form-group">
                        <label class="side-form-label">{{helpContent?.dam_approve_asset?.format?.label}}<sup>&#x2731;</sup>
                        <app-info-tooltip [description]="helpContent?.dam_approve_asset?.format?.labelHelpContent">
                        </app-info-tooltip>
                      </label>
                        <!-- <label for="format">
              {{helpContent?.dam_approve_asset?.format.label}}
              <sup class="reqFieldActivity">*</sup>
              <div class="help-tooltip">
                <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                <div class="help-tooltip-position-right">
                  <p>{{helpContent?.dam_approve_asset?.format?.labelHelpContent}}</p>
                  <i></i>
                </div>
              </div>
          </label> -->
                        <select class="custom-select commonSelect" name="format" #format="ngModel" [ngClass]="{ 'is-invalid': submitted && format.errors }" [(ngModel)]="approveForm.format" (change)="formatChange()" required>
            <option value="" selected disabled>Select file format</option>
            <option *ngFor="let format of formats" value={{format.formatId}}>{{format.formatName}}</option>
          </select>
                        <div *ngIf="submitted && format.errors" class="invalid-msg">
                            <small *ngIf="format.hasError('required')">Format is required</small>
                        </div>
                    </div>
                    <!-- ///need to uncomment -->
                    <!-- <div style="margin-bottom: 10px;" *ngIf="
                approveForm.format == 1 ||
                approveForm.format == 2 ||
                approveForm.format == 4 ||
                approveForm.format == 6
                      ">
                  <label for="actDuration">
              {{helpContent?.dam_approve_asset?.estimated_time.label}}
              <sup class="reqFieldActivity">*</sup>
              <div class="help-tooltip">
                <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                <div class="help-tooltip-position-right">
                  <p>{{helpContent?.dam_approve_asset?.estimated_time?.labelHelpContent}}</p>
                  <i></i>
                </div>
              </div>
          </label>
                  <timepicker id="actDuration" [(ngModel)]="approveForm.time" [minuteStep]="1" [ngModelOptions]="{standalone: true}" [secondsStep]="1" [showMeridian]="false" [showMinutes]="true" [showSeconds]="true" name="activityDuration">
                  </timepicker>
                  <span></span>
              </div> -->
                    <!-- //end new  -->
                    <div class="form-group">
                        <label class="side-form-label">{{helpContent?.dam_approve_asset?.channel?.label}}<sup>&#x2731;</sup>
                        <app-info-tooltip [description]="helpContent?.dam_approve_asset?.channel?.labelHelpContent">
                        </app-info-tooltip>
                      </label>
                        <!-- <label for="Channel">
                    {{helpContent?.dam_approve_asset?.channel.label}}
                    <sup class="reqFieldActivity">*</sup>
                    <div class="help-tooltip">
                      <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                      <div class="help-tooltip-position-right">
                        <p>{{helpContent?.dam_approve_asset?.channel?.labelHelpContent}}</p>
                        <i></i>
                      </div>
                    </div>
                  </label> -->
                        <select class="custom-select commonSelect" name="channel" #channel="ngModel" [ngClass]="{ 'is-invalid': submitted && channel.errors }" [(ngModel)]="approveForm.channel" required>
                    <option value="" selected disabled>Select Channel</option>
                    <option *ngFor="let channel of channels" value={{channel.channelId}}>{{channel.channelName}}</option>
                  </select>
                        <div *ngIf="submitted && channel.errors" class="invalid-msg">
                            <small *ngIf="channel.hasError('required')">Channel is required</small>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="side-form-label">{{helpContent?.dam_approve_asset?.language?.label}}<sup>&#x2731;</sup>
                        <app-info-tooltip [description]="helpContent?.dam_approve_asset?.language?.labelHelpContent">
                        </app-info-tooltip>
                      </label>
                        <!-- <label for="Channel">
                    {{helpContent?.dam_approve_asset?.language.label}}
                    <sup class="reqFieldActivity">*</sup>
                    <div class="help-tooltip">
                      <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                      <div class="help-tooltip-position-right">
                        <p>{{helpContent?.dam_approve_asset?.language?.labelHelpContent}}</p>
                        <i></i>
                      </div>
                    </div>
                  </label> -->
                        <select class="custom-select commonSelect" #lang="ngModel" [ngClass]="{ 'is-invalid': submitted && lang.errors }" name="language" [(ngModel)]="approveForm.language" required>
                    <option value="" selected disabled>Select Language</option>
                    <option *ngFor="let item of languages" value={{item.languageId}}>{{item.languageName}}</option>
                  </select>
                        <div *ngIf="submitted && lang.errors" class="invalid-msg">
                            <small *ngIf="lang.hasError('required')">Language is required</small>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="side-form-label">{{helpContent?.dam_approve_asset?.estimated_cost?.label}}
                        <app-info-tooltip [description]="helpContent?.dam_approve_asset?.estimated_cost?.labelHelpContent">
                        </app-info-tooltip>
                      </label>
                        <!-- <label class="space_left">
                      {{helpContent?.dam_approve_asset?.estimated_cost.label}}
                      <sup class="reqFieldActivity">*</sup>
                      <div class="help-tooltip">
                        <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                        <div class="help-tooltip-position-right">
                          <p>{{helpContent?.dam_approve_asset?.estimated_cost?.labelHelpContent}}</p>
                          <i></i>
                        </div>
                      </div>
                  </label> -->
                        <input type="number" class="form-control inputText commonInput" placeholder="Enter estimated cost of asset." name="cost" #cost="ngModel" [ngClass]="{ 'is-invalid': submitted && cost.errors }" [(ngModel)]="approveForm.cost">
                        <div *ngIf="submitted && cost.errors" class="invalid-msg">
                            <small *ngIf="cost.hasError('required')">Estimated cost is required</small>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="side-form-label">{{helpContent?.dam_approve_asset?.custom_tags?.label}}
                        <app-info-tooltip [description]="helpContent?.dam_approve_asset?.custom_tags?.labelHelpContent">
                        </app-info-tooltip>
                      </label>
                        <!-- <label class="" for="addTags">
                  {{helpContent?.dam_approve_asset?.custom_tags.label}} -->
                        <!-- <sup class="reqFieldActivity">*</sup>  -->
                        <!-- <div class="help-tooltip">
                    <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                    <div class="help-tooltip-position-right">
                      <p>{{helpContent?.dam_approve_asset?.custom_tags?.labelHelpContent}}</p>
                      <i></i>
                    </div>
                  </div>
              </label> -->
                        <angular2-multiselect id="exampleInputTags4" [data]="tagList" [(ngModel)]="selectedTags" [settings]="settingsTagDrop" #tags="ngModel" (onSelect)="onTagsSelect($event)" class="select_field_height" (onDeSelect)="OnTagDeSelect($event)" name="selectTags"
                            [ngModelOptions]="{standalone: true}">
                            <!-- <c-search>
                <ng-template>
                  <input type="text" (keyup)="onTagSearch($event)"
                    placeholder="Search Tags"
                    style="border: none;width: 100%; height: 100%;outline: none;" />
                </ng-template>
              </c-search> -->
                            <c-item>
                                <ng-template let-item="item">
                                    <label class="multiselect-label">{{item.name}}</label>
                                </ng-template>
                            </c-item>
                        </angular2-multiselect>
                        <!-- <div class="required_msg_text" *ngIf="selectedTags.length == 0 && valid == false ">

                          <small class="form-text text-muted">Tag is required</small>

                      </div> -->
                        <span></span>
                    </div>
                    <div style="margin-bottom: 10px;" *ngIf="approveForm.format == 1 || approveForm.format == 2 || approveForm.format == 4 || approveForm.format == 6">
                        <label class="side-form-label">{{helpContent?.dam_approve_asset?.estimated_time?.label}}<sup>&#x2731;</sup>
                                  <app-info-tooltip [description]="helpContent?.dam_approve_asset?.estimated_time?.labelHelpContent">
                                  </app-info-tooltip>
                                </label>
                        <!-- <label for="actDuration">
                        {{helpContent?.dam_approve_asset?.estimated_time.label}}
                        <sup class="reqFieldActivity">*</sup>
                        <div class="help-tooltip">
                          <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                          <div class="help-tooltip-position-right">
                            <p>{{helpContent?.dam_approve_asset?.estimated_time?.labelHelpContent}}</p>
                            <i></i>
                          </div>
                        </div>
                    </label> -->
                        <timepicker id="actDuration" [(ngModel)]="approveForm.time" [minuteStep]="1" [ngModelOptions]="{standalone: true}" [secondsStep]="1" [showMeridian]="false" [showMinutes]="true" [showSeconds]="true" name="activityDuration">
                        </timepicker>
                        <span></span>
                    </div>

                    <div class="row tagContainer col-md-12 margin-vertical">
                        <!-- <div class="col-md-12 noPadding">
                          <label class="lbl">
                    {{helpContent?.dam_approve_asset?.author.label}}
                    <sup class="reqFieldActivity">*</sup>
                    <div class="help-tooltip">
                      <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                      <div class="help-tooltip-position-right">
                        <p>{{helpContent?.dam_approve_asset?.author?.labelHelpContent}}</p>
                        <i></i>
                      </div>
                    </div>
                </label>
                          <angular2-multiselect id="employee" [data]="allEmployeeAutoDrop" [(ngModel)]="approveForm.selectedEmployee" [settings]="settingsEmployeeDrop" (onSelect)="onCreatorSelect($event)" (onDeSelect)="OnCreatorDeSelect($event)" name="selectedEmployee" #employee="ngModel"
                              [ngClass]="{ 'is-invalid': submitted && employee.errors }" required>
                              <c-search>
                                  <ng-template>
                                      <input type="text" (keyup)="onCreatorSearch($event)" placeholder="Search employee..." style="border: none;width: 100%; height: 100%;outline: none;" />
                                  </ng-template>
                              </c-search>
                              <c-item>
                                  <ng-template let-item="item">
                                      <label style="color: #333;width: 150px;">{{item.empCode}}</label>
                                      <label>{{item.empName}}</label>
                                  </ng-template>
                              </c-item>
                          </angular2-multiselect>
                          <div *ngIf="submitted && employee.errors" class="alert alert-danger">
                              <div *ngIf="employee.hasError('required')">Author is required</div>
                          </div>
                          <span></span>
                      </div> -->

                        <!-- <div class="form-group flexcol">
                        <div *ngIf ="tabId == 3 || tabId == 2">
                          <label class="containerRadio  col-md-6">Approve
                        <input type="radio" checked="checked" name="radio" (click)="approveReject(true)">
                        <span class="checkmark"></span>
                      </label>
                    </div>
                    <div *ngIf ="tabId == 3 || tabId == 1">
                        <label class="containerRadio  col-md-6">Reject
                        <input type="radio" name="radio" (click)="approveReject(false)">
                        <span class="checkmark"></span>
                      </label>
                    </div>
                      </div> -->


                    </div>
                    <!-- <div class="form-group margin-top" *ngIf="showReasons">
                    <label class="left_space" for="rejRes">Rejection Reason<sup class="reqFieldActivity">*</sup> </label>
                    <textarea cols="30" rows="3" class="form-control form-control-input inputText" id="rejRes" name="rejReason" [(ngModel)]="approveForm.rejectionReason" #rejection_reason="ngModel" placeholder="Enter rejection reason for the asset. Min 20 and Max 500 characters."
                        pattern=".{20,500}" required [ngClass]="{ 'is-invalid': submitted && rejection_reason.errors }"></textarea>
                    <div *ngIf="submitted && rejection_reason.errors" class="alert alert-danger">
                        <div *ngIf="rejection_reason.hasError('required')">Rejection reason is required</div>
                        <div *ngIf="rejection_reason.hasError('pattern')">Min 20 and max 500 characters allowed</div>
                    </div>
                </div> -->


                </div>
            </div>
        </div>
        <div class="inside_container">
            <div class="form_grid">
                <div class="">
                    <div class="form-group inputFileCourse" *ngIf="selectedAssetFormatData?.pickerType == 1">
                        <input type='file' class="form-control-file text-success font-weight-bold" *ngIf="selectedAssetFormatData?.pickerType == 1" #fileInput (click)="fileInput.value = null" id="fileid" (change)="readFileUrl($event)" title="{{ fileName }}" attr.data-title="{{ fileName }}">
                        <!-- <label class="w-100 m-0" [class.disabled-contenct]="special" for="fileid" *ngIf="selectedAssetFormatData?.pickerType == 1">
            <div class="choose position-relative d-flex align-items-center justify-content-center">
                {{fileName  }}
            </div>
        </label> -->
                    </div>
                    <!-- </div> -->

                    <!-- <div class="" style="margin-bottom: 24px;"> -->
                    <div class="" style="margin-bottom: 24px;" *ngIf="(approveForm.format == 8 ||approveForm.format == 6  || approveForm.format == 4) && selectedAssetFormatData?.pickerType == 2">
                        <label for="External_Link">
    <!-- {{helpContent?.dam_approve_asset?.enter_External_Link.label}} -->
    Enter Link
    <sup class="reqFieldActivity">*</sup>
    <div class="help-tooltip">
      <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
      <div class="help-tooltip-position-right">
        <!-- <p>{{helpContent?.dam_approve_asset?.enter_External_Link?.labelHelpContent}}</p> -->
        <i></i>
      </div>
    </div>
</label>
                        <textarea cols="30" rows="3" class="form-control commonTextarea" id="External_Link" #ext_link="ngModel" required placeholder="Enter link." name="file" pattern=".{5,500}" [(ngModel)]="approveForm.assetRef" #ext_link [ngClass]="{ 'is-invalid': submitted && ext_link.errors }"></textarea>
                        <!-- <input type="submit" class="constantbtn-button-blue-left margin-top" > -->
                        <div *ngIf="ext_link.errors && (ext_link.dirty || ext_link.touched)" class="alert alert-danger custom-alert custom-alert">
                            <div [hidden]="!ext_link.errors.required">External link is required</div>
                        </div>
                    </div>


                    <span></span>
                    <!-- </div> -->
                </div>
                <!-- <div class="">



                  <div *ngIf="approveForm.format == 2">
                      <label for="filepicker-button ">
                  {{helpContent?.dam_approve_asset?.upload_audio.label}}
                  <sup class="reqFieldActivity">*</sup>
                  <div class="help-tooltip">
                    <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                    <div class="help-tooltip-position-right">
                      <p>{{helpContent?.dam_approve_asset?.upload_audio?.labelHelpContent}}</p>
                      <i></i>
                    </div>
                  </div>
              </label>
                      <button class=" fp-btn-choose cancelButton" id="filepicker-button" name="userfilechoose" (click)="removeFile()">
                <i class="fa fa-times" aria-hidden="true"></i>
              </button>
                      <div>
                          <div class="form-group inputFileCourse">
                              <input class="form-control-file text-success font-weight-bold" type="file" id="audiofile" #audio_file name="file[]" accept="audio/*" [(ngModel)]="files" attr.data-title="{{ fileName }}" title="{{ selectFileTitle }}">
                              <div  *ngIf="submitted && audio_file.errors" class="alert alert-danger">
                      <div *ngIf="audio_file.hasError('required')">Audio file upload is required</div>
                    </div>
                          </div>
                      </div>
                  </div>
                  <div *ngIf="approveForm.format == 1">
                      <label for="filepicker-button ">
                  {{helpContent?.dam_approve_asset?.upload_video.label}}
                  <sup class="reqFieldActivity">*</sup>
                  <div class="help-tooltip">
                    <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                    <div class="help-tooltip-position-right">
                      <p>{{helpContent?.dam_approve_asset?.upload_video?.labelHelpContent}}</p>
                      <i></i>
                    </div>
                  </div>
              </label>
                      <button class=" fp-btn-choose cancelButton" id="filepicker-button" name="userfilechoose" (click)="removeFile()">
                <i class="fa fa-times" aria-hidden="true"></i>
              </button>
                      <fieldset>
                          <div class="form-group inputFileCourse">
                              <input class="form-control-file text-success font-weight-bold" type="file" id="videofile" #video_file name="file[]" accept="video/*" [(ngModel)]="files" attr.data-title="{{ fileName }}" title="{{ selectFileTitle }}">
                              <div  *ngIf="submitted && video_file.errors" class="alert alert-danger">
                      <div *ngIf="video_file.hasError('required')">Video file upload is required</div>
                    </div>
                          </div>
                      </fieldset>
                  </div>

                  <div *ngIf="approveForm.format == 3">
                      <label for="filepicker-button ">
                {{helpContent?.dam_approve_asset?.upload_pdf.label}}
                <sup class="reqFieldActivity">*</sup>
                <div class="help-tooltip">
                  <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                  <div class="help-tooltip-position-right">
                    <p>{{helpContent?.dam_approve_asset?.upload_pdf?.labelHelpContent}}</p>
                    <i></i>
                  </div>
                </div>
            </label>
                      <button class=" fp-btn-choose cancelButton" id="filepicker-button" name="userfilechoose" (click)="removeFile()">
              <i class="fa fa-times" aria-hidden="true"></i>
            </button>
                      <div>
                          <div class="form-group inputFileCourse">
                              <input class="form-control-file text-success font-weight-bold" type="file" id="iframefile" #iframe_file name="file[]" accept="application/pdf" [(ngModel)]="files" attr.data-title="{{ fileName }}" title="{{ selectFileTitle }}">
                              <div  *ngIf="submitted && iframe_file.errors" class="alert alert-danger">
                    <div *ngIf="iframe_file.hasError('required')">Link is required</div>
                  </div>
                          </div>
                      </div>
                  </div>

                  <div class="" style="margin-bottom: 24px;">
                      <div *ngIf="approveForm.format == 4">
                          <label for="kpoint">
                    {{helpContent?.dam_approve_asset?.K_point_link.label}}
                    <sup class="reqFieldActivity">*</sup>
                    <div class="help-tooltip">
                      <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                      <div class="help-tooltip-position-right">
                        <p>{{helpContent?.dam_approve_asset?.K_point_link?.labelHelpContent}}</p>
                        <i></i>
                      </div>
                    </div>
                </label>
                          <textarea cols="30" rows="3" class="form-control form-control-input inputText commonTextarea" id="kpoint" placeholder="Enter video link." name="file" [(ngModel)]="approveForm.assetRef" #kpoint_link></textarea>
                          <input type="submit" value="View" (click)="kpointConfigure(approveForm.assetRef)" class="constantbtn-button-blue-left margin-top right">
                          <div  *ngIf="submitted && kpoint_link.errors" class="alert alert-danger">
                    <div *ngIf="kpoint_link.hasError('required')">Link is required</div>
                  </div>
                      </div>
                      <span></span>
                  </div>

                  <div *ngIf="approveForm.format == 5">
                      <label for="filepicker-button ">
                  {{helpContent?.dam_approve_asset?.upload_Scorm.label}}
                  <sup class="reqFieldActivity">*</sup>
                  <div class="help-tooltip">
                    <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                    <div class="help-tooltip-position-right">
                      <p>{{helpContent?.dam_approve_asset?.upload_Scorm?.labelHelpContent}}</p>
                      <i></i>
                    </div>
                  </div>
              </label>
                      <button class=" fp-btn-choose cancelButton" id="filepicker-button" name="userfilechoose" (click)="removeFile()">
                <i class="fa fa-times" aria-hidden="true"></i>
              </button>
                      <div>
                          <div class="inputFileCourse">
                              <input class="form-control-file text-success font-weight-bold" type="file" id="scormfile" #scorm_file name="file[]" accept="application/zip" [(ngModel)]="approveForm.assetRef" attr.data-title="{{ fileName }}" title="{{ selectFileTitle }}">
                              <div *ngIf="submitted && iframe_file.errors" class="alert alert-danger">
                    <div *ngIf="iframe_file.hasError('required')">Link is required</div>
                  </div>
                          </div>
                      </div>
                  </div>

                  <div class="" style="margin-bottom: 24px;">
                      <div *ngIf="approveForm.format == 6">
                          <label for="kpoint">
                      {{helpContent?.dam_approve_asset?.enter_YouTube_Link.label}}
                      <sup class="reqFieldActivity">*</sup>
                      <div class="help-tooltip">
                        <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                        <div class="help-tooltip-position-right">
                          <p>{{helpContent?.dam_approve_asset?.enter_YouTube_Link?.labelHelpContent}}</p>
                          <i></i>
                        </div>
                      </div>
                  </label>
                          <textarea cols="30" rows="3" class="form-control form-control-input inputText commonTextarea" id="kpoint" placeholder="Enter video link." name="file" [(ngModel)]="approveForm.assetRef" #youtube_link></textarea>
                          <input type="submit" (click)="youtubeconfigure(approveForm.assetRef)" class="constantbtn-button-blue-left margin-top">
                          <div  *ngIf="submitted && youtube_link.errors" class="alert alert-danger">
                      <div *ngIf="youtube_link.hasError('required')">Link is required</div>
                    </div>
                      </div>
                      <span></span>
                  </div>




                  <div *ngIf="approveForm.format == 7">
                      <label for="filepicker-button ">
                  {{helpContent?.dam_add_asset?.upload_image.label}}
                  <sup class="reqFieldActivity">*</sup>
                  <div class="help-tooltip">
                    <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                    <div class="help-tooltip-position-right">
                      <p>{{helpContent?.dam_add_asset?.upload_image?.labelHelpContent}}</p>
                      <i></i>
                    </div>
                  </div>
              </label>
                      <button class=" fp-btn-choose cancelButton" id="filepicker-button" name="userfilechoose" (click)="removeFile()">
                <i class="fa fa-times" aria-hidden="true"></i>
              </button>
                      <div>
                          <div class="inputFileCourse">
                               <input class="form-control-file text-success font-weight-bold" type="file" id="imagefile" #image_file name="file[]" accept=".png, .jpg, .jpeg"  #upload_image="ngModel" [(ngModel)]="approveForm.assetRef" attr.data-title="{{ fileName }}"
                                  title="{{ selectFileTitle }}">
                              <div *ngIf="upload_image.errors && (upload_image.dirty || upload_image.touched)" class="alert alert-danger custom-alert custom-alert">
                                  <div [hidden]="!upload_image.errors.required">Image file upload required</div>
                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="" style="margin-bottom: 24px;">
                      <div *ngIf="approveForm.format == 8">
                          <label for="External_Link">
                  {{helpContent?.dam_approve_asset?.enter_External_Link.label}}
                  <sup class="reqFieldActivity">*</sup>
                  <div class="help-tooltip">
                    <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                    <div class="help-tooltip-position-right">
                      <p>{{helpContent?.dam_approve_asset?.enter_External_Link?.labelHelpContent}}</p>
                      <i></i>
                    </div>
                  </div>
              </label>
                          <textarea cols="30" rows="3" class="form-control commonTextarea" id="External_Link" #ext_link="ngModel" required placeholder="Enter link." name="file" pattern=".{5,500}" [(ngModel)]="approveForm.assetRef" #ext_link [ngClass]="{ 'is-invalid': submitted && ext_link.errors }"></textarea>
                          <input type="submit" class="constantbtn-button-blue-left margin-top" >
                          <div *ngIf="ext_link.errors && (ext_link.dirty || ext_link.touched)" class="alert alert-danger custom-alert custom-alert">
                              <div [hidden]="!ext_link.errors.required">External link is required</div>
                          </div>
                      </div>


                      <span></span>
                  </div>

                  <div *ngIf="approveForm.format == 10">
                      <label for="filepicker-button ">
                  {{helpContent?.dam_approve_asset?.upload_ppt.label}}
                  <sup class="reqFieldActivity">*</sup>
                  <div class="help-tooltip">
                    <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                    <div class="help-tooltip-position-right">
                      <p>{{helpContent?.dam_approve_asset?.upload_ppt?.labelHelpContent}}</p>
                      <i></i>
                    </div>
                  </div>
              </label>
                      <button class=" fp-btn-choose cancelButton" id="filepicker-button" name="userfilechoose" (click)="removeFile()">
                <i class="fa fa-times" aria-hidden="true"></i>
              </button>
                      <div>
                          <div class="form-group inputFileCourse">
                              <input class="form-control-file text-success font-weight-bold" type="file" id="iframefile" #ppt_file name="file[]" accept=".ppt,.pptx" [(ngModel)]="files" attr.data-title="{{ fileName }}" title="{{ selectFileTitle }}">
                              <div  *ngIf="submitted && iframe_file.errors" class="alert alert-danger">
                      <div *ngIf="iframe_file.hasError('required')">Link is required</div>
                    </div>
                          </div>
                      </div>
                  </div>


                  <div *ngIf="approveForm.format == 11">
                      <label for="filepicker-button ">
                  {{helpContent?.dam_approve_asset?.upload_excel.label}}
                  <sup class="reqFieldActivity">*</sup>
                  <div class="help-tooltip">
                    <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                    <div class="help-tooltip-position-right">
                      <p>{{helpContent?.dam_approve_asset?.upload_excel?.labelHelpContent}}</p>
                      <i></i>
                    </div>
                  </div>
              </label>
                      <button class=" fp-btn-choose cancelButton" id="filepicker-button" name="userfilechoose" (click)="removeFile()">
                <i class="fa fa-times" aria-hidden="true"></i>
              </button>
                      <div>
                          <div class="form-group inputFileCourse">
                              <input class="form-control-file text-success font-weight-bold" type="file" id="iframefile" #excel_file name="file[]" accept=".xls,.xlsx" [(ngModel)]="files" attr.data-title="{{ fileName }}" title="{{ selectFileTitle }}">
                              <div  *ngIf="submitted && iframe_file.errors" class="alert alert-danger">
                      <div *ngIf="iframe_file.hasError('required')">Link is required</div>
                    </div>
                          </div>
                      </div>
                  </div>


                  <div *ngIf="approveForm.format == 12">
                      <label for="filepicker-button ">
                  {{helpContent?.dam_approve_asset?.upload_word.label}}
                  <sup class="reqFieldActivity">*</sup>
                  <div class="help-tooltip">
                    <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                    <div class="help-tooltip-position-right">
                      <p>{{helpContent?.dam_approve_asset?.upload_word?.labelHelpContent}}</p>
                      <i></i>
                    </div>
                  </div>
              </label>
                      <button class=" fp-btn-choose cancelButton" id="filepicker-button" name="userfilechoose" (click)="removeFile()">
                <i class="fa fa-times" aria-hidden="true"></i>
              </button>
                      <div>
                          <div class="form-group inputFileCourse">
                              <input class="form-control-file text-success font-weight-bold" type="file" id="iframefile" #word_file name="file[]" accept=".doc,.docx" [(ngModel)]="files" attr.data-title="{{ fileName }}" title="{{ selectFileTitle }}">
                              <div  *ngIf="submitted && iframe_file.errors" class="alert alert-danger">
                      <div *ngIf="iframe_file.hasError('required')">Link is required</div>
                    </div>
                          </div>
                      </div>
                  </div>


              </div> -->
                <div class="">

                    <div fxFlex="90" fxFlex.gt-sm="80">
                        <!-- <div *ngIf="approveForm.format == 1">
                    <video style="width: 100%;" controls controlsList="nodownload">
                      <source src="{{getAssetDataForApproval.assetRef}}" id="video_here">
                      Your browser does not support HTML5 video.
                    </video>
                  </div> -->

                        <div *ngIf="approveForm.format == 1 && selectedAssetFormatData?.previewEnable == 1">
                            <div *ngIf="approveForm.assetRef && !isLocalfile">
                                <video style="width: 100%;height: 300px;" controls controlsList="nodownload">
                        <source src="{{approveForm.assetRef}}">
                        Your browser does not support HTML5 video.
                      </video>
                            </div>
                            <div *ngIf="isLocalfile">
                                <!-- <video style="width: 100%;" id="video_here" controls controlsList="nodownload"> -->
                                <!-- <video style="width: 100%;height: 300px;" controls controlsList="nodownload">
                                  <source src="{{approveForm.previewUrl}}">
                                  Your browser does not support HTML5 video.
                                </video> -->
                                <video controls style="width: 100%;height: 300px;" src="{{url}}"></video>
                            </div>
                        </div>

                        <!-- <div *ngIf="approveForm.format == 2">
                    <audio style="width: 100%;" controls>
                      <source src="{{getAssetDataForApproval.assetRef}}" id="audio_here">
                      Your browser does not support HTML5 video.
                    </audio>
                  </div> -->

                        <div *ngIf="approveForm.format == 2 && selectedAssetFormatData?.previewEnable == 1">
                            <div *ngIf="approveForm.assetRef && !isLocalfile">
                                <audio style="width: 100%;" controls>
                    <source src="{{approveForm.assetRef}}" >
                    Your browser does not support HTML5 video.
                  </audio>
                            </div>
                            <div *ngIf="isLocalfile">
                                <!-- <audio style="width: 100%;" controls id="audio_here"> -->
                                <audio style="width: 100%;" [src]="approveForm.previewUrl" controls>
                          <!-- <source > -->
                          Your browser does not support HTML5 video.
                        </audio>
                            </div>
                        </div>







                        <!-- ---------------End------------------ -->







                        <div *ngIf="approveForm.format == 7 && selectedAssetFormatData?.previewEnable == 1">
                            <div *ngIf="approveForm.assetRef && !isLocalfile" class="image_container">
                                <!-- <img style="width: 100%;">
                          <source src="{{approveForm.assetRef}}">
                          Your browser does not support HTML5 image.
                          </img> -->

                                <img src="{{approveForm.assetRef}}" class="imagePreview">
                            </div>
                            <div *ngIf="isLocalfile">
                                <!-- <img style="width: 100%;height:300px" id="image_here"> -->
                                <img style="width: 100%;height:300px" [src]="approveForm.previewUrl">
                            </div>
                        </div>


                        <!-- <div *ngIf="approveForm.format == 3">
                    <iframe [src]="getAssetDataForApproval.reference" style="width:100%;height:500px" id="iframe" fullscreen></iframe>
                  </div> -->

                        <div *ngIf="approveForm.format == 3 && selectedAssetFormatData?.previewEnable == 1">
                            <div *ngIf="approveForm.assetRef && !isLocalfile">
                                <iframe *ngIf="pdfUrlFlag" [src]="approveForm.reference" style="width:100%;height:500px" fullscreen></iframe>

                            </div>
                            <div class="no_pdf" *ngIf="!pdfUrlFlag && !isLocalfile ">
                                Content not downloaded
                            </div>
                            <div *ngIf="isLocalfile">
                                <iframe style="width:100%;height:300px" id="iframe" [src]="approveForm.previewUrl" fullscreen></iframe>
                            </div>
                        </div>

                        <div *ngIf="approveForm.format == 4 && selectedAssetFormatData?.previewEnable == 1">
                            <div style="width:100%;height:300px" #kpplayer></div>
                        </div>

                        <div *ngIf="approveForm.format == 6 && selectedAssetFormatData?.previewEnable == 1">
                            <div *ngIf="youtubeurl">
                                <iframe [src]="youtubeurl" style="width:100%;height:300px" id="iframe" fullscreen></iframe>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="form-group flexcol">
                    <div *ngIf ="tabId == 3 || tabId == 2">
                      <label class="containerRadio  col-md-6">Approve
                    <input type="radio" checked="checked" name="radio" (click)="approveReject(true)">
                    <span class="checkmark"></span>
                  </label>
                </div>
                <div *ngIf ="tabId == 3 || tabId == 1">
                    <label class="containerRadio  col-md-6">Reject
                    <input type="radio" name="radio" (click)="approveReject(false)">
                    <span class="checkmark"></span>
                  </label>
                </div>
                  </div>

                  <div class="form-group margin-top" *ngIf="showReasons">
                      <label class="left_space" for="rejRes">Rejection Reason<sup class="reqFieldActivity">*</sup> </label>
                      <textarea cols="30" rows="3" class="form-control form-control-input inputText" id="rejRes" name="rejReason" [(ngModel)]="approveForm.rejectionReason" #rejection_reason="ngModel" placeholder="Enter rejection reason for the asset. Min 20 and Max 500 characters."
                          pattern=".{20,500}" required [ngClass]="{ 'is-invalid': submitted && rejection_reason.errors }"></textarea>
                      <div *ngIf="submitted && rejection_reason.errors" class="alert alert-danger">
                          <div *ngIf="rejection_reason.hasError('required')">Rejection reason is required</div>
                          <div *ngIf="rejection_reason.hasError('pattern')">Min 20 and max 500 characters allowed</div>
                      </div>
                  </div> -->
                </div>
            </div>
        </div>



    </form>

    <!-- /// New model for category selection -->

    <div class="addRuleBackdrop1" *ngIf="catshow == true">
        <div class="addRuleDemoModal1">
            <div class="modal-header" style="color: #fff; height: 50px;    border-radius: 5px 5px 0 0;">
                <p>Select Folder</p>
                <button class="close" style="color: #fff;" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
            </div>

            <div class="mbody modal-body" style="padding-top: 0;">
                <div class="search_div">
                    <i class="fa fa-arrow-left" style="font-size: 15px;font-weight: bold; cursor: pointer;" aria-hidden="true" (click)="backCat()"></i>
                    <div>
                        <input type="text" class="form-control search_field commonInput" placeholder="Search by folder name " name="name" (keyup)="searchQuestion($event)" [(ngModel)]="search">
                        <i class="fa fa-remove remove_icon" aria-hidden="true" style="padding-top:10px" (click)="clear()"></i>
                        <!-- <div>{{breadCrumb}}</div> -->
                    </div>
                </div>
                <div class="topDivRe" *ngIf="!noCatwise">
                    <div class="col-sm-12 card displayin" *ngFor="let item of assetCat" [ngClass]="{'activeBadge': activeSelectedCatId == item.id}">
                        <div class="row" (click)="setActiveSelectedCat(i, item)">
                            <div class="imageDiv">
                                <!-- <div class="col-sm-4 floatleft"> -->
                                <!-- <a> -->
                                <img for="badge{{item.badgeId}}" class="badgeIcon" src='{{item.categoryPicRef ? item.categoryPicRef : "assets/images/category.jpg"}}'>
                                <!-- <img class="badgeIcon" src="assets/images/badgeNew.png"> -->
                                <!-- <img class="badgeIcon" src="assets/images/category.jpg"> -->
                                <!-- </a> -->
                                <!-- </div> -->
                            </div>

                            <div class="badgeContainer" (dblclick)="gotoCat(item)">
                                <!-- <div class="col-sm-8 floatrig"> -->
                                <h6>{{item.categoryName}}</h6>
                                <text> File Count : {{item.assetCnt}}</text>
                                <text style="float: right;margin-left: 27pc;font-size: 12px;"> Folder Count : {{item.catCount}}</text>
                                <p style="visibility: hidden;">{{item.description}}</p>
                                <!-- </div> -->
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="topDivRe" *ngIf="noCatwise" style="overflow: hidden;">
                <div class="col-md-12 noDataDiv">
                    <img class="noDataImg" src='assets/images/noDataFound1.png' onerror="this.src='assets/images/noDataFound1.png';">
                </div>
            </div>

            <div class="modal-footer text-right" style="height: 50px;">
                <button type="button" class="constantbtn-button-blue-left" (click)="selectCat()" *ngIf="!noCatwise">Select</button>
                <span>
          <!-- <button type="button" class="constantbtn-button-blue-left" (click)="closeModal()">Cancel</button> -->
          </span>
            </div>



        </div>
    </div>

</div>

<div class="deleteModalBackdrop" *ngIf="fileExistModal">
    <div class="deleteModal">
        <div class="modal-header deleteModalHeader">
            <p class="enableDisableModalHeaderP">Warning</p>
            <button class="close closeDeleteModalBtn" aria-label="Close" (click)="closeFileExistModal()">
      <span aria-hidden="true">&times;</span>
    </button>
        </div>

        <div class="modal-body">
            <div>
                <p class="enableDisableModalBodyP">{{dupFileError}}</p>
            </div>
        </div>

        <div class="modal-footer deleteModalFooter">
            <div class="">
                <button type="button" class="constantbtn-button-blue-left" (click)="fileExistModalSubmit(1)">Yes</button>
            </div>
            <div class="">
                <button type="button" class="constantbtn-button-blue-left" (click)="fileExistModalSubmit(2)">No</button>
            </div>
        </div>
    </div>
</div>
<div class="deleteModalBackdrop" *ngIf="checkstatus">
    <div class="deleteModal">
        <div class="modal-header deleteModalHeader">
            <p class="enableDisableModalHeaderP">Warning</p>
            <button class="close closeDeleteModalBtn" aria-label="Close" (click)="closeApproveStatus(false)">
    <span aria-hidden="true">&times;</span>
  </button>
        </div>

        <div class="modal-body">
            <div>
                <p class="enableDisableModalBodyP">{{popupMsg}}</p>
            </div>
        </div>

        <div class="modal-footer deleteModalFooter">
            <div class="">
                <button type="button" class="constantbtn-button-blue-left" (click)="approveReject(true); doNextProcess(clickedData)">Yes</button>
            </div>
            <div class="">
                <button type="button" class="constantbtn-button-blue-left" (click)="closeApproveStatus(true)">No</button>
            </div>
        </div>
    </div>
</div>
