<div class="loaderBackdrop" *ngIf="loader == true">
        <div id="loader"></div>
      </div> 
    <div class="fixed" *ngIf="show">
    <div class="col-md-12 toprow sticky-top">
      <div class="col-md-8">
        <h3 class="h3lable">{{workflowname}}/{{name}}</h3>
      </div>
         <div class="col-md-4 text-right">
       <button type="button" class="back_button"  (click)="back()" >Back</button> 
      </div>
      </div>
    <!-- <div class="col-sm-12 ">
          <div class="btn-group col-sm-2 flotlefttop">
            <select id="FilterOpt" [(ngModel)]="formdata.qid" (change)="callType(formdata.qid)" class="form-dropcc" autocomplete="false">
              <option *ngFor="let quiz of quizlistdrop" value={{quiz.id}}>{{quiz.name}}</option>
            </select>
          </div>
        </div> -->
     <div class="tablepadd " *ngIf="gridShow">
      <angular-slickgrid #grid  gridId="grid1"
                [columnDefinitions]="columnDefinitions"
                [gridOptions]="gridOptions"
                [dataset]="dataset"
                (onAngularGridCreated)="angularGridReady($event)"
                (onGridStateChanged)="gridStateChanged($event)"
                (onBeforeGridDestroy)="saveCurrentGridState($event)"
                (sgOnSelectedRowsChanged)="handleSelectedRowsChanged($event.detail.eventData, $event.detail.args)">
               <!--  (onGridCreated)="onGridCreated($event)" -->
                <!-- (sgOnRowCountChanged)="refreshStatistics($event.detail.eventData, $event.detail.args)" -->
      </angular-slickgrid>
      </div >
       <div class="col-md-12" *ngIf="!gridShow">
          <p class="nodata"> No Data Found</p>
      </div>
    </div>