<app-subheader [headerConfig]="header" (inputsearch)="searchQuestion($event)" [parentcat]="parentcat" (Clear)="clear()" (dropsearch)="doropserch($event)" (addbtn)="addeditcontent(undefined,0)" (backClick)="back()"></app-subheader>


<div class="preOnContent_main_parent_div">

    <div class="preOnContent_content_div">
        <!-- <div class="top_header_container">
            <div class="top_header_div_sticky preOnContent_width">
                <div class="page_title">
                    <h4>PREONBOARDING COURSES</h4>
                </div>


                <div>
                    <div class="filter_div">
                        <div class="drop_down">
                            <select [(ngModel)]="cat.id" class=" drop_down_select" name="id" (click)="doropserch()">
                                        <option value = "">All Categories</option>
                                        <option *ngFor="let item of parentcat" value={{item.categoryId}} >{{item.categoryName}}</option>
                                    </select>
                        </div>
                        <div class="search_box">
                            <input type="text" [(ngModel)]="search.fullname" class=" search_field" placeholder="Search by course name" name="fname">
                            <i class="fa fa-remove remove_icon" aria-hidden="true" (click)="clear()"></i>
                        </div>
                    </div>
                </div>

                <div class="buttons_div">
                    <button type="button" class="constantbtn-button-blue-left " (click)="addeditcontent(undefined,0)">Add Course</button>
                    <button type="submit" class="back_button " (click)="back()">Back</button>
                </div>
            </div>
        </div> -->



        <!-- <div class="multiple_category_card_container" *ngIf="!nodata">
            <div class="preOnContent_width">
                <div class="cards_container" *ngIf="skeleton">

                    <div class="singel_card" *ngFor="let item of content | filterBy: search; let i=index">
                        <div class="overlay_hidden" [hidden]="item.visible == 1">
                            <i title="Disabled" id="enable_{{item.courseId}}" class="fa fa-eye-slash" aria-hidden="true" (click)="disableCourseVisibility(i,item,false)"></i>
                        </div>
                        <div class="singel_card_image pointer" *ngIf="item.coursePicRef" [ngStyle]="{'background-image': 'url(' + item.coursePicRef + ')'}" (click)="addeditcontent(item,1)">
                        </div>
                        <div class="singel_card_image not_found pointer" *ngIf="!item.coursePicRef" (click)="addeditcontent(item,1)">
                        </div>
                        <div class="card_title pointer" (click)="addeditcontent(item,1)">
                            <div class="" title="{{item.fullname}}" *ngIf="item?.fullname?.length <= 15">{{item.fullname}}</div>
                            <div class="" title="{{item.fullname}}" *ngIf="item?.fullname?.length > 15">{{item.fullname.substring(0,15)}}...</div>
                        </div>

                        <div class="icon-div ">
                            <div class="icon_inner_content">

                                <p class="icon"> <i class="fa fa-users" aria-hidden="true" title="Completed/Enrolled"></i></p>
                                <p class="para_margin_0" *ngIf="item.enrollcount" title="Completed/Enrolled"><b> 0/{{item.enrollcount}}</b></p>
                                <p class="para_margin_0" *ngIf="!item.enrollcount" title="Completed/Enrolled"><b> 0/0 </b></p>
                            </div>

                            <div class="icon_inner_content">
                                <p class="icon"><i class="fa fa-calendar" aria-hidden="true" title="Completion Days"></i></p>
                                <p class="para_margin_0" title="Completion Days"><b>{{item.courseCompletion}}</b></p>
                            </div>

                        </div>
                        <div class="card_subtitle" *ngIf="item?.cereaterName?.length <= 10">Manager : {{item.cereaterName}}</div>
                        <div class="card_subtitle" *ngIf="item?.cereaterName?.length > 10">Manager : {{item.cereaterName.substring(0,10)}} ....</div>
                        <div class="card_subtitle" *ngIf="item?.catName?.length <= 10" title="{{item.catName}}">Category : {{item.catName}}</div>
                        <div class="card_subtitle" *ngIf="item?.catName?.length > 10">Category : {{item.catName.substring(0,10)}} ....</div>
                        <div class="card_subtitle">Maximum Points : {{item.maxPoints}}</div>

                        <div class="user-icon pointer">
                            <div class="icons-enable-disable " title="Edit" (click)="addeditcontent(item,1)">
                                <i aria-hidden="true" class="fa fa-edit"></i>
                            </div>
                            <div class="icons-enable-disable">
                                <i title="Enabled" id="disable_{{item.courseId}}" class="fa fa-eye" aria-hidden="true" (click)="disableCourseVisibility(i,item,true)" [hidden]="item.visible == 0"></i>
                                <i title="Disabled" id="enable_{{item.courseId}}" class="fa fa-eye-slash" aria-hidden="true" (click)="disableCourseVisibility(i,item,false)" [hidden]="item.visible == 1"></i>
                            </div>
                            <div class="icons-enable-disable" title="Duplicate" (click)=duplicateCourseContent(item)>
                                <i class="fa fa-clone" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- [ngStyle]="{ height: conentHeight }" style="overflow-y: auto" -->
        <div *ngIf="!nodata">
            <div (scroll)="onScroll(scrollMe)" #scrollMe class="overflow_scroll_cards_container">
                <div *ngFor="let item of displayArray | filterBy: search;let i=index">
                    <ngx-card (disabled)="clickTodisable(item)" [cardsList]="item" [config]="cardModify" (copyClick)="copyCard(item)" (gotoDetails)="gotoCardaddedit(item)"></ngx-card>
                </div>
            </div>
        </div>

        <app-skeleton [count]='count' *ngIf="!skeleton"></app-skeleton>
        <!-- 
        <table *ngIf="!skeleton">
            <tr>
                <div class="multiple_preContent_card_container1">
                    <div class="preContent_width">
                        <div class="preContent_container1">
                            <td>
                                <div class="preContent_card1">
                                    <div class="preContent">
                                        <ngx-skeleton-loader [theme]="{ width: '216px', height: '145px','margin': '5px' }">
                                        </ngx-skeleton-loader>
                                    </div>
                                    <div class="preContent-title">
                                        <ngx-skeleton-loader [theme]="{
                                                        width: '170px',
                                                        height: '40px'
                                                      }"></ngx-skeleton-loader>
                                    </div>
                                    <div class="preContent-title">
                                        <ngx-skeleton-loader [theme]="{
                                                        width: '170px',
                                                        height: '40px'
                                                      }"></ngx-skeleton-loader>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="preContent_card1">
                                    <div class="preContent">
                                        <ngx-skeleton-loader [theme]="{ width: '216px', height: '145px','margin': '5px' }">
                                        </ngx-skeleton-loader>
                                    </div>
                                    <div class="preContent-title">
                                        <ngx-skeleton-loader [theme]="{
                                                        width: '170px',
                                                        height: '40px'
                                                      }"></ngx-skeleton-loader>
                                    </div>
                                    <div class="preContent-title">
                                        <ngx-skeleton-loader [theme]="{
                                                        width: '170px',
                                                        height: '40px'
                                                      }"></ngx-skeleton-loader>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="preContent_card1">
                                    <div class="preContent">
                                        <ngx-skeleton-loader [theme]="{ width: '216px', height: '145px','margin': '5px'}">
                                        </ngx-skeleton-loader>
                                    </div>
                                    <div class="preContent-title">
                                        <ngx-skeleton-loader [theme]="{
                                                        width: '170px',
                                                        height: '40px'
                                                      }"></ngx-skeleton-loader>
                                    </div>
                                    <div class="preContent-title">
                                        <ngx-skeleton-loader [theme]="{
                                                        width: '170px',
                                                        height: '40px'
                                                      }"></ngx-skeleton-loader>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="preContent_card1">
                                    <div class="preContent">
                                        <ngx-skeleton-loader [theme]="{ width: '216px', height: '145px','margin': '5px'}">
                                        </ngx-skeleton-loader>
                                    </div>
                                    <div class="preContent-title">
                                        <ngx-skeleton-loader [theme]="{
                                                        width: '170px',
                                                        height: '40px'
                                                      }"></ngx-skeleton-loader>
                                    </div>
                                    <div class="preContent-title">
                                        <ngx-skeleton-loader [theme]="{
                                                        width: '170px',
                                                        height: '40px'
                                                      }"></ngx-skeleton-loader>
                                    </div>
                                </div>
                            </td>
                        </div>
                    </div>
                </div>
            </tr>
            <tr>
                <div class="multiple_preContent_card_container1">
                    <div class="preContent_width1">
                        <div class="preContent_container1">
                            <td>
                                <div class="preContent_card1">
                                    <div class="preContent">
                                        <ngx-skeleton-loader [theme]="{ width: '216px', height: '145px','margin': '5px'}">
                                        </ngx-skeleton-loader>
                                    </div>
                                    <div class="preContent-title">
                                        <ngx-skeleton-loader [theme]="{
                                                            width: '170px',
                                                            height: '40px'
                                                          }"></ngx-skeleton-loader>
                                    </div>
                                    <div class="preContent-title">
                                        <ngx-skeleton-loader [theme]="{
                                                            width: '170px',
                                                            height: '40px'
                                                          }"></ngx-skeleton-loader>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="preContent_card1">
                                    <div class="preContent">
                                        <ngx-skeleton-loader [theme]="{ width: '216px', height: '145px','margin': '5px'}">
                                        </ngx-skeleton-loader>
                                    </div>
                                    <div class="preContent-title">
                                        <ngx-skeleton-loader [theme]="{
                                                            width: '170px',
                                                            height: '40px'
                                                          }"></ngx-skeleton-loader>
                                    </div>
                                    <div class="preContent-title">
                                        <ngx-skeleton-loader [theme]="{
                                                            width: '170px',
                                                            height: '40px'
                                                          }"></ngx-skeleton-loader>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="preContent_card1">
                                    <div class="preContent">
                                        <ngx-skeleton-loader [theme]="{ width: '216px', height: '145px','margin': '5px'}">
                                        </ngx-skeleton-loader>
                                    </div>
                                    <div class="preContent-title">
                                        <ngx-skeleton-loader [theme]="{
                                                            width: '170px',
                                                            height: '40px'
                                                          }"></ngx-skeleton-loader>
                                    </div>
                                    <div class="preContent-title">
                                        <ngx-skeleton-loader [theme]="{
                                                            width: '170px',
                                                            height: '40px'
                                                          }"></ngx-skeleton-loader>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="preContent_card1">
                                    <div class="preContent">
                                        <ngx-skeleton-loader [theme]="{ width: '216px', height: '145px','margin': '5px'}">
                                        </ngx-skeleton-loader>
                                    </div>
                                    <div class="preContent-title">
                                        <ngx-skeleton-loader [theme]="{
                                                            width: '170px',
                                                            height: '40px'
                                                          }"></ngx-skeleton-loader>
                                    </div>
                                    <div class="preContent-title">
                                        <ngx-skeleton-loader [theme]="{
                                                            width: '170px',
                                                            height: '40px'
                                                          }"></ngx-skeleton-loader>
                                    </div>
                                </div>
                            </td>
                        </div>
                    </div>
                </div>
            </tr>
        </table> -->
    </div>

    <div *ngIf="nodata">
        <!-- <img class="noDataImg" src='assets/images/noDataFound1.png' onerror="this.src='assets/images/noDataFound1.png';"> -->
        <!-- <img src='assets/images/noDataFound2.png' onerror="this.src='assets/images/noDataFound2.png';"> -->
        <!-- <p class="nodata"> No Data Found</p> -->
        <ngx-no-data [config]="noDataVal"></ngx-no-data>
    </div>

    <div class="deleteModalBackdrop" *ngIf="deleteCourseModal == true">
        <div class="deleteModal">
            <div class="modal-header deleteModalHeader">
                <p class="deleteModalHeaderP">Delete course</p>
                <button class="close closeDeleteModalBtn" aria-label="Close" (click)="closeDeleteContentModal()">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>

            <div class="modal-body">
                <div class="">
                    <p class="deleteModalBodyP">Are you sure you want to delete {{deleteCourseData.fullname}} ?</p>
                </div>
            </div>

            <div class="modal-footer deleteModalFooter">
                <div class="col-md-2">
                    <button type="button" class="deleteModalBtn" (click)="deleteContentAction(true)">Yes</button>
                </div>
                <div class="col-md-2">
                    <button type="button" class="deleteModalBtn" (click)="deleteContentAction(false)">No</button>
                </div>
            </div>
        </div>
    </div>

    <div class="deleteModalBackdrop" *ngIf="enableDisableCourseModal == true">
        <div class="deleteModal">
            <div class="modal-header deleteModalHeader">
                <p *ngIf="!enableCourse" class="enableDisableModalHeaderP">Enable course</p>
                <p *ngIf="enableCourse" class="enableDisableModalHeaderP">Disable course</p>
                <button class="close closeDeleteModalBtn" aria-label="Close" (click)="closeEnableDisableCourseModal()">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>

            <div class="modal-body">
                <div class="" *ngIf="!enableCourse">
                    <p class="enableDisableModalBodyP">Are you sure you want to Enable {{enableDisableCourseData.fullname}} ?</p>
                </div>
                <div class="" *ngIf="enableCourse">
                    <p class="enableDisableModalBodyP">Are you sure you want to Disable {{enableDisableCourseData.fullname}} ?</p>
                </div>
            </div>

            <div class="modal-footer deleteModalFooter">
                <div class="col-md-2">
                    <button type="button" class="deleteModalBtn" (click)="enableDisableCourseAction(true)">Yes</button>
                </div>
                <div class="col-md-2">
                    <button type="button" class="deleteModalBtn" (click)="enableDisableCourseAction(false)">No</button>
                </div>
            </div>
        </div>
    </div>

    <div class="duplicateModalBackdrop" *ngIf="duplicateCourseModal == true">
        <div class="duplicateModal">
            <div class="modal-header duplicateModalHeader">
                <p class="duplicateModalHeaderP">Duplicate course {{duplicateCourseData.fullname}}</p>
                <button class="close closeDuplicateModalBtn" aria-label="Close" (click)="closeDuplicateCourseModal()">
            <span aria-hidden="true">&times;</span>
            </button>
            </div>

            <div class="modal-body" style="max-height: 375px;overflow-y: auto;">
                <div class="card cardForm">
                    <div class="card-body cardBody">
                        <!-- <h5 class="card-title cardTitle">General</h5> -->
                        <form class="forms-sample formPad10" #courseDupliForm="ngForm">
                            <!-- <div class="row courseIconContainer">
                                <div class="col-md-6">
                                </div>
                                <div class="col-md-6">
                                </div>
                            </div> -->

                            <div class="courseBasicDetailsContainer">
                                <!-- <div class="form-group">
                                    <label class="left_space" for="courseCode">Course Code</label>
                                    <input type="text" class="form-control inputText" id="courseCode" [(ngModel)]="formDataCourse.courseCode" required placeholder="Code" name="courseCode" #courseCode="ngModel">
                                    <div [hidden]="courseCode.valid || courseCode.pristine" class="alert alert-danger">
                                        <div [hidden]="!courseCode.hasError('required')">Code is required</div>
                                    </div>
                                    <span></span>
                                </div> -->

                                <div class="form-group">
                                    <label class="left_space" for="fullname">Full Name</label>
                                    <input type="text" class="form-control form-control-input select_field_height inputText" [(ngModel)]="formDataCourse.fullname" required id="fullname" placeholder="Full Name" name="fullname" #fullname="ngModel" minlength="2" maxlength="50">
                                    <div class="errorMsg" [hidden]="fullname.valid || fullname.pristine" class="alert alert-danger">
                                        <div [hidden]="!fullname.hasError('required')">Full Name is required</div>
                                    </div>
                                    <span></span>
                                </div>

                                <!-- <div class="form-group">
                                    <label class="left_space" for="shortname">Display Name</label>
                                    <input type="text" class="form-control form-control-input select_field_height inputText" id="shortname" [(ngModel)]="formDataCourse.shortname" required placeholder="Display Name" name="shortname" #shortname="ngModel">
                                    <div [hidden]="shortname.valid || shortname.pristine" class="alert alert-danger">
                                        <div [hidden]="!shortname.hasError('required')">Display Name is required</div>
                                    </div>
                                    <span></span>
                                </div> -->

                                <!-- <div class="form-group">
                                    <label class="left_space" for="categoryId">Category</label>
                                    <select [(ngModel)]="formDataCourse.categoryId" id="categoryId" class="form-control form-control-input select_field_height" required name="categoryId" #categoryId="ngModel">
                                        <option class="form-control" value="" selected disabled>Select Type</option>
                                        <option *ngFor="let item of parentcat" value={{item.categoryId}}>{{item.categoryName}}</option>
                                    </select>
                                    <div [hidden]="categoryId.valid || categoryId.pristine" class="alert alert-danger">
                                        <div [hidden]="!categoryId.hasError('required')">Category is required</div>
                                    </div>
                                    <span></span>
                                </div>

                                <div class="form-group">
                                    <label class="left_space" for="summary">Summary</label>
                                    <textarea cols="30" rows="6" class="form-control form-control-input inputText" id="summary" [(ngModel)]="formDataCourse.summary" placeholder="Course Summary" name="summary" #summary="ngModel" required pattern=".{20,500}"></textarea>
                                    <div [hidden]="summary.valid || summary.pristine" class="alert alert-danger">
                                        <div [hidden]="!summary.hasError('required')">Summary is required</div>
                                        <div [hidden]="!summary.hasError('pattern')">Minimum 20 characters required</div>
                                    </div>
                                    <span></span>
                                </div>

                                <div class="form-group tagcontainer">
                                    <label class="left_space" for="addTags">Tags</label>
                                    <div id="addTags" class="input-group">
                                        <tag-input [theme]="'bootstrap'" [(ngModel)]="formDataCourse.tags" name="items">
                                        </tag-input>
                                    </div>
                                </div> -->
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="modal-footer duplicateModalFooter">
                <div class="">
                    <button type="button" class="duplicateModalBtn" (click)="duplicateCourseAction(true)" [disabled]="!courseDupliForm.valid">Duplicate</button>
                </div>
                <div class="">
                    <button type="button" class="duplicateModalBtn" (click)="duplicateCourseAction(false)">Cancel</button>
                </div>
            </div>
        </div>
    </div>

</div>