.preOnContent_main_parent_div{


.pointer {
    cursor: pointer;
}

// .trHeader {
//     text-align: center;
//     text-transform: uppercase;
//     font-weight: 500;
//     padding: 8px;
//     background-color: #2574a2  
// }

// .btn:hover {
//     transform: none;
// }

// .BackButton{
//     width: auto  ;
//       border: none;
//       padding: 6px 14px  ;
//       background-color: #bbc0c3  ;
//       color: #fff  ;
//       text-transform: uppercase  ;
//       min-width: 90px  ;
//       max-height: 29px  ;
//       margin-left: 5px;
//   }
//   .coursebtnNewAdd{
//     width: auto  ;
//     border: none;
//     padding: 6px 14px  ;
//     background-color: #076ba1  ;
//     color: #fff  ;
//     text-transform: uppercase  ;
//     min-width: 90px  ;
//     max-height: 29px  ;
//   }

// #editbtn1{
//     margin-right: 20%;
//     margin-left: 10px;
//     border-radius: 0;
//     background: #076ba1;
//     color: #fff;
//     border: #076ba1;
//     height: 32px;
//     color: #ffffff;
//     background-image: none;
//     border-color: #076ba1;
//     -webkit-transform: none;
//     transform: none;
// }
// #noMatch {
//     margin: 10px;
//     text-align: center;
//     border-radius: 15px;
//     border: 1px solid #076ba1;
//     padding: 20px;
// }


// /* Center the loader */

// #loader {
//     position: absolute;
//     left: 50%;
//     top: 70%;
//     z-index: 1;
//     width: 150px;
//     height: 150px;
//     margin: -75px 0 0 -75px;
//     border: 16px solid #076ba1;
//     border-radius: 50%;
//     border-top: 16px solid #ffffff;
//     /* border: 16px solid #f3f3f3; Light grey */
//     /* border-top: 16px solid #3498db; Blue */
//     width: 120px;
//     height: 120px;
//     -webkit-animation: spin 2s linear infinite;
//     animation: spin 2s linear infinite;
// }

// @-webkit-keyframes spin {
//     0% {
//         -webkit-transform: rotate(0deg);
//     }
//     100% {
//         -webkit-transform: rotate(360deg);
//     }
// }

// @keyframes spin {
//     0% {
//         transform: rotate(0deg);
//     }
//     100% {
//         transform: rotate(360deg);
//     }
// }


// /* Add animation to "page content" */

// .animate-bottom {
//     position: relative;
//     -webkit-animation-name: animatebottom;
//     -webkit-animation-duration: 1s;
//     animation-name: animatebottom;
//     animation-duration: 1s
// }

// @-webkit-keyframes animatebottom {
//     from {
//         bottom: -100px;
//         opacity: 0
//     }
//     to {
//         bottom: 0px;
//         opacity: 1
//     }
// }

// @keyframes animatebottom {
//     from {
//         bottom: -100px;
//         opacity: 0
//     }
//     to {
//         bottom: 0;
//         opacity: 1
//     }
// }

// .mid {
//     vertical-align: middle;
//     line-height: 21px;
//     padding-right: 8px;
// }


// /*@import "../../../../theme/sass/conf/conf";*/

// :host /deep/.pie-charts {
//     color: #fff;
//     .pie-chart-item-container {
//         position: relative;
//         padding: 0 15px;
//         float: left;
//         box-sizing: border-box;
//         .card {
//             height: 114px;
//         }
//     }
//     @media screen and (min-width: 1325px) {
//         .pie-chart-item-container {
//             max-width: 25%;
//             flex: 0 0 25%
//         }
//     }
//     @media screen and (min-width: 700px) and (max-width: 1325px) {
//         .pie-chart-item-container {
//             max-width: 50%;
//             flex: 0 0 50%
//         }
//     }
//     @media screen and (max-width: 700px) {
//         .pie-chart-item-container {
//             max-width: 100%;
//             flex: 0 0 100%
//         }
//     }
//     .pie-chart-item {
//         position: relative;
//         .chart-icon {
//             position: absolute;
//             right: 0;
//             top: 3px;
//         }
//     }
//     @media screen and (min-width: 1325px) and (max-width: 1650px),
//     (min-width: 700px) and (max-width: 830px),
//     (max-width: 400px) {
//         .chart-icon {
//             display: none;
//         }
//     }
//     .chart {
//         position: relative;
//         display: inline-block;
//         width: 84px;
//         height: 84px;
//         text-align: center;
//         float: left;
//     }
//     .chart canvas {
//         position: absolute;
//         top: 0;
//         left: 0;
//     }
//     .percent {
//         display: inline-block;
//         line-height: 84px;
//         z-index: 2;
//         font-size: 16px;
//     }
//     .percent:after {
//         content: '%';
//         margin-left: 0.1em;
//         font-size: .8em;
//     }
//     .description {
//         display: inline-block;
//         padding: 20px 0 0 20px;
//         font-size: 18px;
//         opacity: 0.9;
//         .description-stats {
//             padding-top: 8px;
//             font-size: 24px;
//         }
//     }
//     .angular {
//         margin-top: 100px;
//     }
//     .angular .chart {
//         margin-top: 0;
//     }
// }

// .tooltipMenu::after {
//     content: " ";
//     position: absolute;
//     border-width: 10px;
//     border-style: solid;
// }

// .bottomSide.tooltipMenu::after {
//     bottom: 100%;
//     left: 45%;
//     border-color: transparent transparent white transparent;
// }

// .leftSide.tooltipMenu::after {
//     left: 100%;
//     top: 5%;
//     border-color: transparent transparent transparent white;
// }

// .rightSide.tooltipMenu::after {
//     right: 100%;
//     top: 5%;
//     border-color: transparent white transparent transparent;
// }

// .topSide.tooltipMenu::after {
//     right: 45%;
//     top: 100%;
//     border-color: white transparent transparent transparent;
// }

// .bottomSide {
//     top: 100%;
// }

// .topSide {
//     bottom: 100%;
// }

// .leftSide {
//     right: 70%;
//     top: 15%
// }

// .rightSide {
//     left: 70%;
//     top: 15%;
// }

// div li:hover .tooltipMenu {
//     visibility: visible;
//     cursor: pointer;
// }

// .tooltipcourse {
//     position: relative;
//     display: inline-block;
//     opacity: 1;
// }

// .tooltipMenu {
//     visibility: hidden;
//     position: absolute;
//     z-index: 1;
// }

// .tooltipMenu {
//     min-height: 100px;
//     width: 45%;
//     /* border: 1px solid #0d77b6;*/
// }

// .tooltipMenu ul li {
//     color: #fff;
//     padding: 11px;
//     font-family: sans-serif;
//     font-size: 15px;
//     width: 100%;
//     background: #62a8ea;
//     display: flex;
//     height: 2.5rem;
//     border-radius: 1px;
// }

// .tooltipMenu ul li:hover {
//     background: #0d77b6;
//     color: white;
//     cursor: pointer;
//     font-weight: bold;
// }

// .contentCard {
//     color: #000000;
//     background-color: #ffffff;
//     /*border: 0px solid #0000000a;*/
//     border: 0px;
//     box-shadow: none;
//     position: relative;
// }
// .content-disabled{
//     background-color: #00000082;
//     height: 100%;
//     position: absolute;
//     z-index: 2;
//     /* color: #fff; */
//     display: grid;
//     text-align: center;
//     align-items: center;
// }
// .disabled-icon{
//     font-size: 30px;
//     color:#fff;
    
// }
// .sec {
//     float: none;
// }

// .toprow {
//     border: none;
//     background-color: #ffffff;
//     height: auto;
//     width: 100%;
//     display: inline-flex;
// }

// #btnBackHover:hover {
//     background: #FF0000;
//     background-color: #FF0000;
// }

// .btnAddContent {
//     margin: 10px  ;
//     border-radius: 0px  ;
//     background: #076ba1;
//     background-color: #076ba1;
//     transform: none;
//     color: white;
//     height: 37px;
//     //padding: 5px;
//     margin-right: 5px;
//     border-color: #076ba1;
//     transform: none;
// }

// .btnBack {
//     border-radius: 0px  ;
//     background: #076ba1;
//     //padding: 5px;
//     height: 37px;
//     margin: 10px  ;
//     color: white;
//     transform: none  ;
// }

// .conSearchdiv {
//     float: left;
//     margin: 10px  ;
//     display: inline-flex;
//     border: 1px solid #cbcbcb;
//     padding: 0;
//     height: 40px;
// }

// .conSearchdiv>input {
//     border-radius: 0;
//     border: 0px;
//     background-color: #ffffff  ;
//      :focus {
//         background-color: #ffffff;
//     }
// }

// .conSearchInput {
//     height: 36px;
//     border: none ;
// }

// .conRemove {
//     background-color: #ffffff;
//     // padding: 9px 9px 0 0;
//     // padding-top:16px;
//     padding: 10px;
// }

// .contsep {
//     border-bottom: 1px solid #f1f5f8;
//     // margin-bottom: 5px;
// }


// .btn-div {
//     float: right;
//     //margin: 8px;
//     // padding: 5px 30px 5px 5px;
// }

// h1,
// h2,
// h3,
// h4,
// h5,
// h6 {
//     font-family: "Poppins";
//     width: 100%;
//     margin-top: 16px;
// }

// .btn-div>button {
//     float: right;
//     background: #076ba1;
//     border-color: #076ba1;
//     color: #ffffff;
//     border-radius: 0;
// }

// .contGrid {
//     // height:auto;
//     // width: 100%;
//     // display: inline-flex;
//     height: auto;
//     width: 100%;
//     display: inline-flex;
//     margin: 0px;
//     padding: 0px;
// }

// .contGrid>div {
//     width: 100%;
//     padding: 0;
//     margin: 4% 0 0 4%;
//     height: 100%;
//     flex: 0 0 20%;
//     a {
//         text-align: center;
//         cursor: pointer;
//     }
//     a>img {
//         // width: 70%;
//         // height: 165px;
//         width: 100%;
//         // height: 125.656px;
//         height: 150px
//     }
//     div {
//         width: 100%;
//         cursor: pointer;
//         padding: 0;
//         // display: inline-flex;
//         // margin: 0.7rem 0;
//         // p{
//         //   text-align: center;
//         //   margin: 4% 0%  ;
//         //   width: 100%;
//         // }
//         // div
//         // {
//         //   width: 8%;
//         //   float: right;
//         //   margin: 4% 0%  ;
//         // }
//         .toolcontp {
//             text-align: center;
//             color: #000;
//             margin: 3% 0%  ;
//             width: 92%;
//             cursor: pointer;
//             font-size: 18px;
//             font-weight: 500;
            
//         }
//         .toolcont {
//             width: 8%;
//             float: right;
//             margin: 3% 0%  ;
//         }
//     }
// }
// .usericon{
//     text-align: center;
//     border-bottom: 1px solid #f1f5f8;

//     .contenticon {
//         i{
//             font-size: 20px;
//             color: #2795d0;
//             margin-bottom: 0px  ;
//         }
//         padding-top: 10px;
//         margin: 0;
//         padding-bottom: 5px;
//     }
// }
// .tolicon {
//     font-size: 19px;
// }
// .card-footer-sub{
//     padding: 0;
//     text-align: center;
//     margin:  0px  ;
//  .edit{
//     border-right: 1px solid #f1f5f8;  
// }
//     .card-footer-icon {
//         font-size: 20px;
//         margin: 7% 10px;
//         color: #2795d0;
//     }
// }
// .contdesp {
//     font-size: 14px;
// }
// .manager{
//     padding: 10px  ;
//     border-bottom: 1px solid #f1f5f8;
// }

// .contdespDiv {
//   //  height: 70px;
//     border-bottom: 1px solid #f1f5f8;
// }

// .tooltipMenulist {
//     display: flex;
//     width: 5rem;
//     ul {
//         display: inherit;
//         border-radius: 17px;
//         padding-left: 7px;
//     }
// }

// .firstli {
//     border-bottom-left-radius: 6px;
//     border-top-left-radius: 6px;
// }

// .lastli {
//     border-bottom-right-radius: 6px;
//     border-top-right-radius: 6px;
// }

// .al-content {
//     padding: 0px;
// }

// .colpadd {
//     padding: 0px;
// }

// .sticky-top1 {
//     position: sticky;
//     top: 67px;
//     z-index: 3;
//    // z-index: 1090;
// // }


// .tooltipList {
//     height: 35px;
//     padding-left: 0;
//     margin-bottom: 0;
// }

// .contselect {
//     border: 0px  ;
// }

// .deleteBackdrop{
//   position: absolute;
//   width: 100%;
//   height: 100%;
//   top: 67px;
//   background-color: #404040c2;
//   z-index: 2000;
//   box-sizing: border-box;
//     .deleteModal{
//       width: 25%;
//       margin: 0 auto;
//       background-color: #fff;
//       margin-top: 65px;
//       border-radius: 5px;
//     }
//  }
.duplicateModalBackdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1503;
    background-color: #404040c2;
    .duplicateModal {
        width: 50%;
        margin: auto;
        background-color: #fff;
        margin-top: 65px;
        border-radius: 5px;
    }
}

.duplicateModalBtn {
    width: auto  ;
    border: none;
    padding: 6px 14px  ;
    background-color: #076ba1  ;
    color: #fff  ;
    text-transform: uppercase  ;
    /* min-width: 90px  ; */
    max-height: 36px  ;
    // max-height: 29px  ;
    &:disabled {
        background-color: #076ba14a  ;
    }
}

.duplicateModalHeader {
    /* padding: 8px; */
    background: #076ba1;
    color: #fff  ;
}

.duplicateModalHeaderP {
    margin-bottom: 0;
}

// .duplicateModalBodyP {
//     // margin-bottom: 0;
//     color: #000;
// }

.closeDuplicateModalBtn {
    color: #fff  ;
}

.duplicateModalFooter {
    padding: 10px;
}

// .courseIconDuplicateContainer {
//     width: 98%;
//     margin-left: 7px;
//     padding: 0.5em;
// }

// .paddingCourseIconDuplicateContainer {
//     padding: 0em 0.5em 0em 0.5em;
// }

// .course-iconDuplicate {
//     margin: 0 auto;
// }

// .courseIcon-uploadDuplicate {
//     position: relative;
//     max-width: 275px;
//     .courseIcon-editDuplicate {
//         position: absolute;
//         z-index: 1;
//         left: 13px;
//         bottom: 8px;
//         input {
//             display: none;
//             +label {
//                 display: inline-block;
//                 width: 34px;
//                 height: 34px;
//                 margin-bottom: 0;
//                 border-radius: 100%;
//                 background: #FFFFFF;
//                 border: 1px solid transparent;
//                 box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
//                 cursor: pointer;
//                 font-weight: normal;
//                 transition: all .2s ease-in-out;
//                 &:hover {
//                     background: #f1f1f1;
//                     border-color: #d6d6d6;
//                 }
//                 &:after {
//                     content: "\f040";
//                     font-family: 'FontAwesome';
//                     color: #757575;
//                     position: absolute;
//                     top: 10px;
//                     left: 0;
//                     right: 0;
//                     text-align: center;
//                     margin: auto;
//                 }
//             }
//         }
//     }
//     .courseIcon-deleteDuplicate {
//         position: absolute;
//         z-index: 1;
//         right: 13px;
//         bottom: 8px;
//         label {
//             display: inline-block;
//             width: 34px;
//             height: 34px;
//             margin-bottom: 0;
//             border-radius: 100%;
//             background: #FFFFFF;
//             border: 1px solid transparent;
//             box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
//             cursor: pointer;
//             font-weight: normal;
//             transition: all .2s ease-in-out;
//             &:hover {
//                 background: #f1f1f1;
//                 border-color: #d6d6d6;
//             }
//             &:after {
//                 content: "\f1f8";
//                 font-family: 'FontAwesome';
//                 color: #757575;
//                 position: absolute;
//                 top: 10px;
//                 left: 0;
//                 right: 0;
//                 text-align: center;
//                 margin: auto;
//             }
//         }
//     }
//     .courseIcon-previewDuplicate {
//         width: 100%;
//         height: 180px;
//         position: relative;
//         border: 6px solid #F8F8F8;
//         -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
//         box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
//         >img {
//             width: 100%;
//             height: 100%;
//         }
//     }
// }

// .inputLabelUploadDuplicate {
//     line-height: 12.5;
//     font-size: 15px;
// }

// textarea {
//     resize: none;
// }

// tag-input {
//     width: 100%;
// }

// tag-input div {
//     width: 100%  ;
// }

// .noDataDiv{
//     width: 100%;
//     height: 100%;
//     .noDataImg{
//         width: 100%;
//         height: 100%;
//     }
// }
// .constantbtn-1{
//     margin-left: 10px;
//     border-radius: 0;
//     background: #076ba1;
//     color: #fff;
//     border: #076ba1;
//     height: 32px;
//     color: #ffffff;
//     background-image: none;
//     border-color: #076ba1;
//     -webkit-transform: none;
//     transform: none;
// }
// .constantbtn-2{
//     // margin-right: 12%;
//     margin-left: 10px;
//     border-radius: 0;
//     background: #076ba1;
//     color: #fff;
//     border: #076ba1;
//     height: 32px;
//     color: #ffffff;
//     background-image: none;
//     border-color: #076ba1;
//     -webkit-transform: none;
//     transform: none;
// }
// .field-height{
//     height:40px  ;
// }
// .search-div{
//     position: relative;
//     .remove-icon{
//         position: absolute;
//         top: 24px;
//         right: 20px;
//         font-size: 16px;
//     }
// }
// .toprow{
//     align-items: center;    
// }


@import '../../../../@theme/styles/variable.scss';

    .preOnContent_width{
        width: 78vw;
        margin: 0 auto;
    }
    .top_header_container{
        background: #fff;
        position: sticky;
        top: 4.75rem;
        z-index: 1020;
        .top_header_div_sticky{
            background: #fff;
            display: grid;
            grid-template-columns: 2.4fr 4fr 2fr;
            height: 60px;
            align-items: center;
            .page_title{
                text-align: left;
                h4{
                    margin: 0;
                    font-size: $font_size_page_top;
                }
            }
            .filter_div{
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-column-gap: 10px;
                align-items: center;
                .drop_down{
                    border: 1px solid $header_div_border;
                    .drop_down_select{
                        height: 30px;
                        border: none;
                        box-shadow: none;
                        width: 100%;
                    }
                }

                .search_box{
                    display: grid;
                    grid-template-columns: auto 20px;
                    border: 1px solid $header_div_border;
                    .search_field{
                        height: 30px;
                        border: none;
                        box-shadow: none;
                        padding: 0 10px;
                    }
                    .remove_icon{
                        line-height: 30px;
                    }
                }
            }
            
            .buttons_div{
                text-align: right;
            }
        }
        
    
   
   
}
.multiple_category_card_container{
    background:$background_for_card_container;
    margin: 20px auto;
    width: 95%;
    // margin: auto;
    .cards_container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-column-gap: 30px;
        grid-row-gap: 30px;
        .singel_card{
            position: relative;
            background: #fff;
            text-align: center;
            box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
            border-radius: 10px;
            .overlay_hidden{
                position: absolute;
                background: rgba(0, 0, 0, 0.5);
                height: 100%;
                width: 100%;
                display: grid;
                align-items: center;
                font-size: 30px;
                color: #fff;
                border-radius: 10px;
                i{
                    cursor: pointer;
                }
            }
            // border-bottom-left-radius: 10px ;
            // border-bottom-right-radius: 10px;
            // box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
            .singel_card_image{
               border-top-left-radius: 10px ;
               border-top-right-radius: 10px;
               height: 150px;
               width: 100%;
               background-position: center;
               background-size: cover;
            //    background
            }
            .card_title{
                padding: 10px  ;
                border-top: 1px solid $border_color;
                border-bottom: 1px solid $border_color;
                color: #000;
                font-size:$font_size_for_cards; 
            }
            .card_subtitle{
                font-size: $font_size_for_card_subtitle;
                padding: 10px  ;
                // border-top: 1px solid #F1F5F8;
                border-bottom: 1px solid $border_color;
                color: #000;
            }
            .icon-div{
                display: grid;
                grid-template-columns: 1fr 1fr;
                height: 40px;
                align-items: center;
                border-bottom: 1px solid $border_color;
                .icon_inner_content{
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    align-items: center;
                    height: 40px;
                    border-right: 1px solid $border_color;
                    p{
                        color: #000;
                    }
                    .icon{
                        border-right: 1px solid $border_color;
                        color: $icon_font_color;
                        font-size: $card_font_size_icons;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin: 0;
                    }
                    .icon:last-child{
                       border-right: 0px; 
                    }
                }
                .icon_inner_content:last-child{
                    border-right: 0px;
                }
              
            }

            .icon-div:not(last){
                border-right: 1px solid $border_color;
            }

            .user-icon{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                height: 40px;
                align-items: center;

                .icons-enable-disable{
                    border-right: 1px solid $border_color;
                    color: $icon_font_color;
                    font-size: $card_font_size_icons;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }

            .content-icons{
                text-align: center;
                border-bottom: 1px solid $border_color;
                display: grid;
                grid-template-columns: 1fr 1fr;
                align-items: center;
            }

            .para_margin_0{
                margin: 0;
            }
           
        }
        .not_found{
            background-image:url('https://bhaveshedgetest.s3.ap-south-1.amazonaws.com/BFL.jpg');
        }
    }
}
}
.multiple_preContent_card_container1{
    // background:$background_for_card_container;
    margin: 0px 0px 30px 20PX;
    width: 95%;
    // margin: auto;
    .preContent_container1{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-column-gap: 30px;
        grid-row-gap: 30px;
        .preContent_card1{
            position: relative;
            background: #fff;
            text-align: center;
            box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
            border-radius: 10px;
        }
      }
    }
   // .gravatar {
  //   margin-top: 10px;
  //   width: 60px;
  //   // height: 90px;
  // }
  .preContent-title {
    // width: 100px;
    // padding: 16px 25px 0px;
    // height: 80px;
     margin-top: 5px;
  }
  .preContent_width{
    width: 1000px;
    margin: 0px 10px 20px 6px;
  }