  <app-subheader [headerConfig]="header" (backClick)="back()"></app-subheader>

  <div class="mainCard">
    <ngx-parent-card [cardList]="item" *ngFor="let item of menuList" (cardClick)="gotopages(item, item.menuId)"
      (backClick)="back()"></ngx-parent-card>
  </div>