<!-- buttons -->
<div class="d-flex align-items-center justify-content-end pb-2">
    <!-- <div class="searchBar focus" [ngClass]="{ fullserch: showSearch }"> -->
    <div class="searchBarNew focus" [ngClass]="{'fullserch': showSearch}">
        <i class="fa fa-search search cursor-p" (click)="search()"></i>
        <i class="fa fa-times close-icon cursor-p" (click)="passEventToParent('clearRuleEnrol', $event);reference.value='';showSearch = false"></i>
        <input type="text" placeholder="Search..." #reference (keyup)="passEventToParent('searchRuleEnrol', $event)" />
    </div>

    <button class="commonBtn mr-0" (click)="passEventToParent('addEditRule', '', 0)">
    Add Rule
  </button>
</div>

<!-- table -->
<ngx-enrol-table *ngIf="ruleEnrolConfig" [pagination]= true [label]="ruleEnrolConfig?.labels" [tableData]="ruleEnrolConfig?.data" [addPointer]=true (clickOnbutton)="passEventToParent('visibilityTableRow1', $event)" (clickOntext)="passEventToParent('viewRuleUsers', $event)"
    (clickOnicon)="passEventToParent('addEditRule', $event, 1)"></ngx-enrol-table>
<ngx-no-data [config]="noDataVal" *ngIf="ruleEnrolConfig?.data?.length == 0"></ngx-no-data>

<ngx-sidebar-form *ngIf="ruleEnrolConfig?.showAddRuleModal" [saveDisabled]="!ruleEnrolConfig?.ruleData?.profiles?.length" (saveBtn)="
    passEventToParent('saveRule', $event, ruleForm, ruleEnrolConfig?.ruleData)
  " (closeBtn)="cloeSidebar(); passEventToParent('closePopup', '')" (outside)="cloeSidebar(); passEventToParent('closePopup', '')" [sidebarTitle]="titleName" [buttonName]="btnName">
    <form #ruleForm="ngForm" novalidate>
        <div class="form-group">
            <label class="side-form-label">{{ ruleEnrolConfig?.helpContent?.course_enrol?.name?.label }}
        <sup>&#x2731;</sup>
        <div class="help-tooltip">
          <i
            class="fa fa-info-circle tooltip-hover-info-label-round"
            aria-hidden="true"
          ></i>
          <div class="help-tooltip-position-right">
            <p>
              {{
                ruleEnrolConfig?.helpContent?.course_enrol?.name
                  ?.labelHelpContent
              }}
            </p>
            <i></i>
          </div>
        </div>
      </label>
            <input type="text" class="form-control commonInput" name="name" minlength="2" maxlength="50" #name="ngModel" required (ngModelChange)="onChange($event)" [(ngModel)]="ruleEnrolConfig?.ruleData.name" [ngClass]="{ 'invalid-form': name.errors && (name.dirty || name.touched) }"
                placeholder="Enter name of the rule" />
            <ng-container *ngIf="name.errors && (name.dirty || name.touched)">
                <small class="invalid-msg" [hidden]="!name.errors.required">Rule Name is required</small
        >
        <small class="invalid-msg" [hidden]="!name.errors.minlength">
          Minimum 2 characters required</small
        >
      </ng-container>
    </div>
    <div class="form-group">
      <label class="side-form-label"
        >{{ ruleEnrolConfig?.helpContent?.course_enrol?.description?.label }}
        <sup>&#x2731;</sup>
        <div class="help-tooltip">
          <i
            class="fa fa-info-circle tooltip-hover-info-label-round"
            aria-hidden="true"
          ></i>
          <div class="help-tooltip-position-right">
            <p>
              {{
                ruleEnrolConfig?.helpContent?.course_enrol?.description
                  ?.labelHelpContent
              }}
            </p>
            <i></i>
          </div>
        </div>
      </label>
      <!-- <input
        type="text"
        class="form-control commonInput"
        placeholder="Rule Description"
        [(ngModel)]="ruleEnrolConfig?.ruleData.description"
        (ngModelChange)="onChange($event)"
        name="description"
        #description="ngModel"
        minlength="2"
        maxlength="50"
        required
        [ngClass]="{ 'invalid-form': description.errors && (description.dirty || description.touched) }"
        placeholder="Enter name of the rule"
      /> -->
      <textarea
        type="text"
        class="form-control commonTextarea"
        placeholder="Rule Description"
        [(ngModel)]="ruleEnrolConfig?.ruleData.description"
        (ngModelChange)="onChange($event)"
        name="description"
        #description="ngModel"
        minlength="2"
        maxlength="50"
        required
        [ngClass]="{ 'invalid-form': description.errors && (description.dirty || description.touched) }"
        placeholder="Enter name of the rule"
      ></textarea>
      <ng-container
        *ngIf="description.errors && (description.dirty || description.touched)"
      >
        <small class="invalid-msg" [hidden]="!description.errors.required"
          >Description is required</small
        >
        <small class="invalid-msg" [hidden]="!description.errors.minlength">
          Minimum 2 characters required</small
        >
      </ng-container>
    </div>
    <div class="row">
      <div class="form-group col-md-6">
        <label class="side-form-label"
          >{{
            ruleEnrolConfig?.helpContent?.course_enrol?.rule_applicability
              ?.label
          }}
          <sup>&#x2731;</sup>
          <div class="help-tooltip">
            <i
              class="fa fa-info-circle tooltip-hover-info-label-round"
              aria-hidden="true"
            ></i>
            <div class="help-tooltip-position-right">
              <p>
                {{
                  ruleEnrolConfig?.helpContent?.course_enrol?.rule_applicability
                    ?.labelHelpContent
                }}
              </p>
              <i></i>
            </div>
          </div>
        </label>
        <select
          class="custom-select commonSelect"
          (change)="
            passEventToParent(
              'ruleTypeSelected',
              $event,
              ruleEnrolConfig?.ruleData
            )
          "
          [ngClass]="{ 'invalid-form': type.errors && (type.dirty || type.touched) }"
          [(ngModel)]="ruleEnrolConfig?.ruleData.type"
          name="type"
          (ngModelChange)="onChange($event)"
          #type="ngModel"
          required
        >
          <option value="" selected disabled>Select</option>
          <option
            *ngFor="let type of ruleEnrolConfig?.ruleApplicType"
            value="{{ type.id }}"
            >{{ type.name }}
          </option>
          <!-- <option value="2">Ipsum</option> -->
        </select>
        <ng-container *ngIf="type.errors && (type.dirty || type.touched)">
          <small class="invalid-msg" [hidden]="!type.errors.required">
            Rule Applicability is required</small
          >
        </ng-container>
      </div>
      <div class="form-group col-md-6">
        <label class="side-form-label"
          >{{ ruleEnrolConfig?.helpContent?.course_enrol?.start_from?.label }}
          <sup>&#x2731;</sup>
          <div class="help-tooltip">
            <i
              class="fa fa-info-circle tooltip-hover-info-label-round"
              aria-hidden="true"
            ></i>
            <div class="help-tooltip-position-right">
              <p>
                {{
                  ruleEnrolConfig?.helpContent?.course_enrol?.start_from
                    ?.labelHelpContent
                }}
              </p>
              <i></i>
            </div>
          </div>
        </label>
        <select
          class="custom-select commonSelect"
          (change)="
            passEventToParent(
              'prospTypeSelected',
              $event,
              ruleEnrolConfig?.ruleData
            )
          "
          [(ngModel)]="ruleEnrolConfig?.ruleData.prospName"
          name="prospname"
          [ngClass]="{ 'invalid-form': sfrom.errors && (sfrom.dirty || sfrom.touched) }"
          #sfrom="ngModel"
          required
        >
          <option value="" disabled selected>Select</option>
          <option
            *ngFor="let prospname of ruleEnrolConfig?.prospectivType"
            value="{{ prospname.id }}"
            >{{ prospname.name }}
          </option>
          <!-- <option value="2">Ipsum</option> -->
        </select>
        <ng-container *ngIf="sfrom.errors && (sfrom.dirty || sfrom.touched)">
          <small class="invalid-msg" [hidden]="!sfrom.errors.required">
            Start from is required</small
          >
        </ng-container>
      </div>
    </div>
    <div class="row" *ngIf="ruleEnrolConfig.enrolDateOption">
      <div class="col-md-12 form-group">
          <label class="commonLabel" for="left_space">{{ruleEnrolConfig.helpContent?.course_enrol?.enrol_date?.label}}
    <sup class="reqFieldActivity">*</sup>
    <div class="help-tooltip">
      <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
      <div class="help-tooltip-position-right">
        <p>{{ruleEnrolConfig.helpContent?.course_enrol?.enrol_date?.labelHelpContent}}</p>
        <i></i>
      </div>
    </div>
  </label>

          <!-- <label class="left_space" for="dropProspType"> Starts From
    <sup class="reqFieldActivity">*</sup>
</label> -->
          <select id="dropenroltype" class="custom-select commonSelect" [(ngModel)]="ruleEnrolConfig?.ruleData.enroltype" name="ruleenroldate" #rdate="ngModel" required>
    <option value="" selected disabled>Select</option>
    <option *ngFor="let prosname of ruleEnrolConfig?.rulesOption" value={{prosname.id}}>{{prosname.name}}
    </option>
</select>
          <div *ngIf="rdate.errors && (rdate.dirty || rdate.touched)" class="alert alert-danger">
              <div [hidden]="!rdate.errors.required">Enrol date is required</div>
          </div>
      </div>
    </div>
    <div class="form-group" *ngIf="ruleEnrolConfig?.ruleData.prospName == 3">
      <label class="side-form-label"
        >{{ ruleEnrolConfig?.helpContent?.course_enrol?.custom_date?.label }}
        <sup>&#x2731;</sup>
        <div class="help-tooltip">
          <i
            class="fa fa-info-circle tooltip-hover-info-label-round"
            aria-hidden="true"
          ></i>
          <div class="help-tooltip-position-right">
            <p>
              {{
                ruleEnrolConfig?.helpContent?.custom_date?.description
                  ?.labelHelpContent
              }}
            </p>
            <i></i>
          </div>
        </div>
      </label>
      <!--  [maxDate]="maxDate" -->
      <input
        type="text"
        class="form-control"
        [minDate]="nextDay"
        id="Value"
        [(ngModel)]="ruleEnrolConfig?.ruleData.value"
        name="value"
        [ngClass]="{ 'invalid-form': cdate.errors && (cdate.dirty || cdate.touched) }"
        (ngModelChange)="onChange($event)"
        #cdate="ngModel"
        #dp="bsDatepicker"
        bsDatepicker
        [bsConfig]="{
          containerClass: 'theme-dark-blue',
          dateInputFormat: 'DD-MM-YYYY'
        }"
        placement="bottom"
        required
      />
      <ng-container *ngIf="cdate.errors && (cdate.dirty || cdate.touched)">
        <small class="invalid-msg" [hidden]="!cdate.errors.required">
          Date is required</small
        >
      </ng-container>
    </div>
    <ng-container *ngIf="ruleEnrolConfig?.profileFieldSelected == true">
      <div
        class="selector-section position-relative p-2 mb-3"
        *ngFor="let item of ruleEnrolConfig?.ruleData.profiles; let i = index"
      >
        <span
          class="remove-selector position-absolute"
          (click)="
            passEventToParent('removeRuleList', i, ruleEnrolConfig.ruleData)
          "
          *ngIf="ruleEnrolConfig?.ruleData?.profiles.length > 1"
          >X</span
        >
        <div class="row">
          <div class="form-group m-0 col-md-6">
            <select
              [id]="'dropRuleType' + i"
              #temprulefield="ngModel"
              [name]="'dropRuleType_' + i"
              [(ngModel)]="item.field"
              ngDefaultControl
              (change)="
                passEventToParent(
                  'ruleFieldTypeSelected',
                  $event,
                  i,
                  item,
                  ruleEnrolConfig.ruleData
                );
                passEventToParent('callRuleFieldType', $event, i, 2, ruleEnrolConfig.ruleData)
              "
              [ngClass]="{ 'invalid-form':  temprulefield.errors &&
              (temprulefield.dirty || temprulefield.touched) }"
              required
              class="custom-select"
            >
              <option value="" disabled selected>Select</option>
              <option
                *ngFor="let ruleField of ruleEnrolConfig?.profileFields"
                [disabled]="ruleField.selected == 'true'"
                value="{{ ruleField.id }}"
                >{{ ruleField.name }}
              </option>
              <!-- <option value="2">Ipsum</option> -->
            </select>
            <ng-container
              *ngIf="
                temprulefield.errors &&
                (temprulefield.dirty || temprulefield.touched)
              "
            >
              <small
                class="invalid-msg"
                [hidden]="!temprulefield.errors.required"
                >Type is required</small
              >
            </ng-container>
          </div>
          <div class="form-group m-0 col-md-6">
            <ng-container
              *ngIf="(ruleEnrolConfig?.controlList)[i]?.datatype == 'text'"
            >
              <input
                type="text"
                class="form-control"
                [id]="'inputText_' + i"
                placeholder="Input Text"
                [name]="'fieldTypeValues_' + i"
                [(ngModel)]="item.fieldValues"
                #fieldValues="ngModel"
                required
                [ngClass]="{ 'invalid-form': fieldValues.valid }"
                placeholder="Enter name of the rule"
              />
              <ng-container
                *ngIf="
                  fieldValues?.errors &&
                  (fieldValues?.dirty || fieldValues?.touched)
                "
              >
                <small
                  class="invalid-msg"
                  [hidden]="!fieldValues?.errors?.required"
                >
                  Input required</small
                >
              </ng-container>
            </ng-container>
            <ng-container
              *ngIf="(ruleEnrolConfig?.controlList)[i]?.datatype == 'number'"
            >
              <input
                type="number"
                class="form-control"
                [id]="'inputText_' + i"
                placeholder="Input Text"
                [name]="'fieldTypeValues_' + i"
                [(ngModel)]="item.fieldValues"
                (ngModelChange)="onChange($event)"
                #fieldValues="ngModel"
                required
                [ngClass]="{ 'invalid-form': fieldValues?.errors &&
                (fieldValues?.dirty || fieldValues?.touched) }"
                placeholder="Enter name of the rule"
              />
              <ng-container
                *ngIf="
                  fieldValues?.errors &&
                  (fieldValues?.dirty || fieldValues?.touched)
                "
              >
                <small
                  class="invalid-msg"
                  [hidden]="!fieldValues?.errors?.required"
                >
                  Input required</small
                >
              </ng-container>
            </ng-container>
            <ng-container
              *ngIf="(ruleEnrolConfig?.controlList)[i]?.datatype == 'menu'"
            >
              <angular2-multiselect
                [data]="(ruleEnrolConfig?.controlList)[i]?.subtype"
                [(ngModel)]="item.fieldValuesArr"
                [settings]="dropdownSettings"
                (onSelect)="
                  passEventToParent(
                    'onItemSelectRule',
                    $event,
                    i,
                    item,
                    ruleEnrolConfig?.ruleData
                  )
                "
                [ngClass]="{ 'invalid-form': fieldValues?.errors &&
                (fieldValues?.dirty || fieldValues?.touched) }"
                (onDeSelect)="
                  passEventToParent(
                    'OnItemDeSelectRule',
                    $event,
                    i,
                    item,
                    ruleEnrolConfig?.ruleData
                  )
                "
                (onSelectAll)="
                  passEventToParent(
                    'onSelectAllRule',
                    $event,
                    i,
                    item,
                    ruleEnrolConfig?.ruleData
                  )
                "
                (onDeSelectAll)="
                  passEventToParent(
                    'onDeSelectAllRule',
                    $event,
                    i,
                    item,
                    ruleEnrolConfig?.ruleData
                  )
                "
                [name]="'fieldTypeValues_' + i"
                [id]="'fieldTypeValues_' + i"
                #fieldValuesArr="ngModel"
                ngDefaultControl
                required
              >
                <c-item>
                  <ng-template let-item="item">
                    <label class="multiselect-label">{{ item.name }}</label>
                  </ng-template>
                </c-item>
              </angular2-multiselect>
              <ng-container
                *ngIf="
                  fieldValues?.errors &&
                  (fieldValues?.dirty || fieldValues?.touched)
                "
              >
                <small
                  class="invalid-msg"
                  [hidden]="!fieldValues?.errors?.required"
                >
                  Input required</small
                >
              </ng-container>
            </ng-container>
            <ng-container
              *ngIf="(ruleEnrolConfig?.controlList)[i]?.datatype == 'datetime' && (!item.fieldValues.includes('$') )"
            >
              <input
                placeholder="Select date:"
                class="form-control"
                [bsConfig]="{
                  containerClass: 'theme-dark-blue',
                  dateInputFormat: 'DD-MM-YYYY'
                }"
                [selectMode]="'range'"
                [owlDateTimeTrigger]="dtRange2"
                [owlDateTime]="dtRange2"
                [name]="'fieldTypeValues_' + i"
                [id]="'fieldTypeValues_' + i"
                [(ngModel)]="item.fieldValues"
                (ngModelChange)="onChange($event)"
                [value]="item.fieldValues ? item.fieldValues : []"
                ngDefaultControl
                [ngClass]="{ 'invalid-form': fieldValues?.errors &&
                (fieldValues?.dirty || fieldValues?.touched) }"
                #fieldValues="ngModel"
                required
              />

              <!-- <input placeholder="Select date:" class="form-control datePickerInput" [style.width]="'350px'" [max]='maxDate' id="inputDate_{{i}}"
                          [(ngModel)]="item.fieldValues" name="fieldTypeValues_{{i}}" [bsConfig]="{ containerClass: 'theme-dark-blue', dateInputFormat: 'DD-MMM-YYYY'}"
                              [selectMode]="'range'" #fieldValues="ngModel" required [owlDateTimeTrigger]="dtRange2" [owlDateTime]="dtRange2"> -->
              <owl-date-time
                [pickerType]="'calendar'"
                #dtRange2
              ></owl-date-time>

              <ng-container
                *ngIf="
                  fieldValues?.errors &&
                  (fieldValues?.dirty || fieldValues?.touched)
                "
              >
                <small
                  class="invalid-msg"
                  [hidden]="!fieldValues?.errors?.required"
                >
                  Input required</small
                >
              </ng-container>
            </ng-container>
          </div>
        </div>
      </div>
    </ng-container>

    <div
      class="float-right"
      [class.disabled-contenct]="!ruleForm.valid"
      (click)="passEventToParent('addRuleList', '')"
    >
      <!-- <small class="add-icon">Add +</small> -->
                <button class="subBttn">Add</button>
        </div>
    </form>
</ngx-sidebar-form>
<!-- modal pop-up -->
<ngx-sidebar-form [sidebarTitle]="Title" *ngIf="ruleEnrolConfig?.showEnroleduserPopup" (closeBtn)="closePopup()" (outside)="closePopup()">
    <ngx-enrol-table [label]="ruleEnrolConfig?.enrolUserPopupTableLabel[0]" [pagination]="true" [tableData]="ruleEnrolConfig?.rowsEnrolRule" (selectRow)="openPopup()"></ngx-enrol-table>
    <!-- <ngx-no-data [config]="noDataVal1" *ngIf="ruleEnrolConfig?.rowsEnrolRule?.length == 0"></ngx-no-data> -->
</ngx-sidebar-form>
