.add_asset_category {
    .catIInput {
        margin-right: 3.5%;
    }
    .addEditCattoprow {
        // padding: 12px;
        border: none;
        background-color: #ffffff;
        height: auto;
        width: 100%;
        display: inline-flex;
    }
    .floteright {
        float: right;
        font-size: 13px;
        background-color: #fff;
    }
    .no_pdf {
        // text-align: center;
        color: #000;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
    }
    .nopaddingRight {
        padding-right: 0;
    }
    .bgwhite132 {
        background-color: white;
        min-height: 605px;
    }
    .formTOpmargin {
        margin-top: 10px;
    }
    .constantbtn-button-blue-right {
        // background: #076ba1;
        // color: #fff;
        // border: #02a0f5;
        height: 32px;
        min-width: 70px;
        // color: #ffffff;
        background-image: none;
        // border-color: #02a0f5;
        -webkit-transform: none;
        transform: none;
        margin-left: 10px;
        text-transform: capitalize;
        border-radius: 3px;
        background-color: var(--colorBgbtn) !important;
        color: var(--colorBtnTxt) !important;
        border: 1px solid var(--colorBtnTxt) !important;
    }
    .noPadding {
        padding: 0;
    }
    .paddingTo {
        padding: 15px;
    }
    .marginLeft {
        margin-left: 10px;
    }
    .right {
        margin-left: 88%;
    }
    .activeBadge {
        border: 1px solid #076ba1 !important;
        background-color: #e9eef1;
    }
    .addEditCatsticky-top {
        position: sticky;
        top: 67px;
        z-index: 1039;
        background: #fff;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 0 15px;
    }
    .buttons_container {
        margin-top: 10px;
        display: inline-block;
        text-align: right;
        // display: flex;
        // align-items: flex-end;
    }
    .dropdown-height {
        height: 34px;
    }
    .link{
        margin-left: 15px;
    }
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }
    td,
    th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
    tr:nth-child(even) {
        background-color: #dddddd;
    }
    .addEditCatHead {
        // padding: 15px 0px 15px 30px;
        margin: 15px auto;
    }
    .was-validated .form-control:invalid,
    .form-control.is-invalid {
        background-image: none;
    }
    .custom-alert {
        margin-bottom: 1px;
        height: 25px;
        line-height: 25px;
        padding: 0px 15px 0px 0px;
    }
    .tagContainer .bootstrap.ng2-tag-input {
        display: block;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        position: relative;
        cursor: text;
        margin-left: 20px;
        border-bottom: 2px solid #efefef;
    }
    .bootstrap tag {
        margin: 0.1rem 0.8rem 0.1rem 0;
    }
    .bgwhite {
        background-color: white;
    }
    .margin-vertical {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    // .reqFieldActivity{
    // display: inline;
    // color: #ed462f  ;
    // }
    .padding-top {
        padding-top: 15px;
    }
    .padding-bottom {
        padding-bottom: 15px;
    }
    .padding-left {
        padding-left: 15px;
    }
    .padding-right {
        padding-right: 15px;
    }
    .margin-top {
        margin-top: 15px;
    }
    .margin-right {
        margin-right: 15px;
    }
    .padding-right-0 {
        padding-right: 0px;
    }
    .padding-left-0 {
        padding-left: 0px;
    }
    // .margin-right-15px{
    //   margin-right: 1px;
    // }
    // .margin-left-15px{
    //   margin-left: 1px;
    // }
    .reqField {
        display: inline;
        color: #ed462f;
    }
    .cancelButton {
        float: right;
        transform: none;
        background: transparent;
        font-weight: 600;
        border: none;
        padding: 0px;
        width: 15px;
        color: #ff0c0c;
        margin: 5px 0;
    }
    .tagINput {
        width: 100%;
    }
    .inputFileCourse {
        height: 14em;
        .form-control-file {
            position: relative;
            width: 100%;
            height: 100%;
            min-height: 6em;
            outline: none;
            visibility: hidden;
            cursor: pointer;
            background-color: #c61c23;
            box-shadow: 0 0 5px solid currentColor;
            &::before {
                color: #ed462f;
                content: attr(data-title);
                position: absolute;
                top: 1.5em;
                left: 0;
                width: 100%;
                height: 9em;
                line-height: 8em;
                padding-top: 2px;
                opacity: 1;
                visibility: visible;
                text-align: center;
                border: 0.15em dashed #9ea4a5;
                -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
                transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
                overflow: hidden;
            }
            &::hover {
                &:before {
                    border-style: solid #076ba1;
                    /*box-shadow: inset 0px 0px 0px 0.25em currentColor;*/
                }
            }
        }
    }
    .labelFile {
        font-size: 17px;
    }
    .dropHeight {
        height: 2.5rem;
    }
    .NoDataDiv {
        position: fixed;
        top: 50%;
        left: 52%;
    }
    .inside_container {
        margin: 15px;
        background: #fff;
        .cardForm {
            padding: 16px;
            padding-bottom: 16px;
            .padBt {
                padding-bottom: 16px;
            }
        }
        // .padBt {
        //   padding:16px;
        // }
        .form_grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 20px;
            padding: 20px;
        }
    }
    .disable{
        cursor: not-allowed;
    }
    // select {
    //     color:#D3D3D3;
      
    //    option {
    //     color: black; // color of all the other options
    //   }
    // }
    // select option[default] {
    //     color: #eee;
    //   }

    // .placeholder{
    //     color: grey;
    // }
    // select option:first-child{
    //     // color: grey; 
    //     color: black;

    //     // display: none;
    // }
    // select option{
    //     color: black;
    // } // bootstrap default color
    /* ::-moz-placeholder  Firefox v19+ */
    /* :-moz-placeholder  Firefox v18- */
    /* For Firefox only */
    .inputFileCourse {
        height: 14em;
        .form-control-file {
            position: relative;
            // width: 50%;
            height: 100%;
            min-height: 6em;
            outline: none;
            visibility: hidden;
            cursor: pointer;
            background-color: #c61c23;
            box-shadow: 0 0 5px solid currentColor;
            &:before {
                color: #ed462f;
                content: attr(data-title);
                position: absolute;
                top: 0.5em;
                left: 0;
                width: 100%;
                height: 9em;
                line-height: 8em;
                padding-top: 2px;
                opacity: 1;
                visibility: visible;
                text-align: center;
                border: 0.15em dashed #9ea4a5;
                -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
                transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
                overflow: hidden;
            }
            &:hover {
                &:before {
                    border-style: solid #076ba1;
                    /*box-shadow: inset 0px 0px 0px 0.25em currentColor;*/
                }
            }
        }
    }
    .errorBorder {
        border: 1px;
        border-style: solid;
        border-color: red;
    }
    .addRuleBackdrop1 {
        // position: absolute;
        // width: 100%;
        // height: 100%;
        // top: 67px;
        // background-color: #404040c2;
        // z-index: 2000;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        z-index: 1503;
        background-color: #404040c2;
        .addRuleDemoModal1 {
            /*width: 80%;*/
            // width: 50%;
            // margin: auto;
            // background-color: #fff;
            // margin-top: 50px;
            // border-radius: 5px;
            width: 50%;
            margin: auto;
            background-color: #fff;
            margin-top: 65px;
            border-radius: 5px;
        }
    }
    .topDivRe {
        height: 350px;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    .badgeIcon,
    .certIcon {
        width: 80px;
        height: 50px;
        padding: 5px 5px 5px 20px;
        // margin: 5px;
        // margin-left: 20px;
        // padding-bottom: 15px;
        overflow: hidden;
    }
    .search_div {
        display: grid;
        grid-template-columns: 2fr 1.5fr;
        grid-column-gap: 20px;
        align-items: center;
        padding: 10px 10px 10px 0;
        .search_field {
            -webkit-box-shadow: none;
            box-shadow: none;
            border: 1px solid #dadfe6;
            padding: 10px;
            font-size: 13px;
        }
    }
    .displayin {
        display: inline;
        padding: 0px;
        margin-bottom: 10px;
        height: 50px;
        cursor: pointer;
        border: 1px solid #eee;
    }
    .cursor {
        cursor: pointer;
    }
    .remove_icon {
        outline: none;
        cursor: pointer;
        padding-top: 10px;
        position: absolute;
        top: 10px;
        right: 40px;
    }
    .floatrig {
        float: right;
        font-size: 11px;
        line-height: 15px;
        margin: 0;
        top: 0;
        text-align: justify;
    }
    .badgeContainer,
    .certContainer {
        margin: 5px;
        text {
            font-size: 12px;
        }
    }
    // .required_msg_text{
    //   .form-text{
    //     color: #ed462f !important;
    //   }
    // }
    .copy-url {
        .action-icon {
            color: var(--colorIcons);
            cursor: pointer;
            a {
                color: var(--colorIcons);
            }
        }
        .inner-url {
            border-radius: 3px;       
            border: 1px solid #dbdbdb;
            .date-label {
                font-size: 14px;
                font-weight: 400;
                color: #575555;
                letter-spacing: 0.3px;
            }
            .create-date {
                font-size: 14px;
                letter-spacing: 0.3px;
            }
        }
    }
    .left-pad{
        padding-left: 7px;
    }
    .link-date {
        margin-left: 47%;
    }

    .copyurl {
        display: grid;
        grid-template-columns: 1fr 54px  60px 60px 60px;
        width: 100%;
        margin-bottom: 10px;
        // margin-left: 15px;
        span {
            i {
                font-size: 18px;
                border: 1px solid;
                color: #076ba1;
                padding: 8px;
                border-radius: 25px;
                cursor: pointer;
            }
        }
    }

    .circle {
        padding-left: 12px;
    }
    .circle-del {
        padding-left: 12px;
        padding-right: 12px;
    }
    .modCat {
        border: 1px solid #b3b1b1;
        padding: 6px 10px;
        border-radius: 4px;
        cursor: pointer;
    }
    .imageDiv img {
        // width: 55px;
        // height: 100%;
    }
    .modContent h3 {
        font-size: 14px;
    }
    .modContent p {
        font-size: 12px;
    }
    .modContent span {
        font-size: 10px;
    }
    .top{
        margin-top: 20px;
    }
    .left{
        margin-right: 30px;
    }
    .copybtn {
        cursor: pointer;
        // background: #0275d8;
        background: var(--colorCommon);
        padding: 8px 12px !important;
    }
    .blueback {
        background: #076ba1;
    }
}

.checkfield {
    // position: relative;
    position: absolute;
    margin: auto 0;
}

.checkLabel input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}


/* Create a custom checkbox */

.checkMarker {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    margin: auto;
    width: 18px;
    // border: 1px solid #2196F3;
    border: 1px solid var(--colorCommon);
    background-color: #feffff;
}


/* On mouse-over, add a grey background color */

.checkLabel:hover input~.checkMarker {
    background-color: #F1F5F8;
}


/* When the checkbox is checked, add a blue background */

.checkLabel input:checked~.checkMarker {
    background-color: #feffff
}


/* Create the checkmark/indicator (hidden when not checked) */

.checkMarker:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the checkmark when checked */

.checkLabel input:checked~.checkMarker:after {
    display: block;
}


/* Style the checkmark/indicator */

.checkLabel .checkMarker:after {
    left: 6px;
    top: 1px;
    width: 6px;
    height: 12px;
    // border: solid #2196F3;
    border: 1px solid var(--colorCommon);
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.checkLabel {
    margin: auto;
    line-height: 18px;
    width: 100%;
    // font-size: 16px;
    padding-left: 35px;
    /* font-weight: 100; */
}

.checkMarker[disabled] {
    cursor: not-allowed;
}