<div class="add_asset_category">
  <form #assetForm="ngForm" *ngIf="!noCategory">
    <app-subheader [headerConfig]="header" (changeHeader)="setbreadcrum()"
      (btntwo)="onSubmit(addEditAssetForm,assetForm)" (comeBack)="backToAsset($event)" (backClick)="back()">
    </app-subheader>

    <!-- <div class="addEditCatsticky-top">
            <div *ngIf="!dataFromDAM">
                <h4 class="addEditCatHead" *ngIf="addAction">ADD ASSET</h4>
                <h4 class="addEditCatHead" *ngIf="!addAction">EDIT ASSET</h4>
            </div>
            <div class="" *ngIf="dataFromDAM">
                <h4 class="addEditCatHead" *ngIf="addAction">ADD ASSET</h4>
            </div>
            <div class="buttons_container">
                <button type="button" class="constantbtn-button-blue-left" (click)="onSubmit(addEditAssetForm,assetForm)" *ngIf="!noCategory">Save
                </button>
                <button type="submit" class="back_button" (click)="back()">
          Back
        </button>
            </div>
        </div> -->

    <div class="inside_container">
      <div class="cardForm">
        <!-- <div class="row"> -->
        <div class="row">
          <div class="col-sm-12 col-md-6 padBt">
            <!-- <div class=" padBt"> -->
            <label class="">
              {{helpContent?.dam_add_asset?.asset_name.label}}
              <sup class="reqFieldActivity">*</sup>
              <div class="help-tooltip">
                <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                <div class="help-tooltip-position-right">
                  <p>{{helpContent?.dam_add_asset?.asset_name?.labelHelpContent}}</p>
                  <i></i>
                </div>
              </div>
            </label>
            <input type="text" class="form-control" placeholder="Max 50 characters." minlength="2" maxlength="500"
              [(ngModel)]="addEditAssetForm.assetName" name="assetName" #assetName="ngModel" required />
            <div *ngIf="assetName.errors && (assetName.dirty || assetName.touched)" class="alert alert-danger">
              <div *ngIf="assetName.errors.required">File name is required.</div>
              <!-- <div *ngIf="assetName.errors?.maxlength">max Length error.</div> -->
              <div *ngIf="assetName.errors.minlength">Minimum 2 characters required</div>
            </div>
            <!-- </div> -->
            <label class="top" for="">
              {{helpContent?.dam_add_asset?.description.label}}
              <!-- <sup class="reqFieldActivity">*</sup> -->
              <div class="help-tooltip">
                <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                <div class="help-tooltip-position-right">
                  <p>{{helpContent?.dam_add_asset?.description?.labelHelpContent}}</p>
                  <i></i>
                </div>
              </div>
            </label>
            <textarea cols="30" rows="5" class="form-control " id="des" name="description"
              placeholder="Max 500 characters." #descrip="ngModel" maxlength="500"
              [(ngModel)]="addEditAssetForm.description"></textarea>
            <!-- <div *ngIf="descrip.errors && (descrip.dirty || descrip.touched)" class="alert alert-danger custom-alert">
                                  <div *ngIf="descrip.errors.required">File Description is required</div>
                                  <div *ngIf="descrip.errors.minlength">Minimum 20 characters required</div>
                              </div> -->
            <div class=" padBt">
              <label for="" class=" top">
                {{helpContent?.dam_add_asset?.category.label}}
                <sup class="reqFieldActivity">*</sup>
                <div class="help-tooltip">
                  <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                  <div class="help-tooltip-position-right">
                    <p>{{helpContent?.dam_add_asset?.category?.labelHelpContent}}</p>
                    <i></i>
                  </div>
                </div>
              </label>
              <!-- <select class="form-control select_field_height" name="categories" [(ngModel)]="addEditAssetForm.category" [disabled]="dataFromAssetCategory" id="categories" #category="ngModel" required> -->
              <!-- <select class="form-control select_field_height" name="categories" [(ngModel)]="addEditAssetForm.category" [disabled]="dataFromAssetCategory" id="categories" #category="ngModel" required>
                          <option value="" selected disabled>Select Category</option>
                          <option *ngFor="let category of categories" value="{{ category.catId }}">{{ category.catName }}</option>
                        </select> -->
              <input type="text" class="col-md-12 d-inline form-control select_field_height catIInput"
                #category="ngModel" name="categories" placeholder="Select Folder" disabled [(ngModel)]="CategoryName"
                required>
              <!-- <span>
                <button type="button" class="constantbtn-button-blue-left  pull-right" (click)="CatModal()"
                  [disabled]="dataFromAssetCategory && CategoryName.length != 0">Browse</button>
              </span> -->

              <div *ngIf="category.errors" class="alert alert-danger custom-alert">
                <div *ngIf="category.errors.required">Folder is required</div>
              </div>
            </div>

            <!-- <div class="col-sm-12 col-md-6 padBt"> -->
            <label class="top left">
              {{helpContent?.dam_add_asset?.author.label}}
              <sup class="reqFieldActivity">*</sup>
              <div class="help-tooltip">
                <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                <div class="help-tooltip-position-right">
                  <p>{{helpContent?.dam_add_asset?.author?.labelHelpContent}}</p>
                  <i></i>
                </div>
              </div>
            </label>
            <!--  [ngModelOptions]="{standalone: true}" -->
            <angular2-multiselect id="exampleInputPassword4" [data]="allEmployeeEdgeAutoDrop"
              [settings]="settingsEmployeeDrop" (onSelect)="onEmployeeSelect($event)"
              (onDeSelect)="OnEmployeeDeSelect($event)" name="selectedEmployee" #employee="ngModel" required
              [(ngModel)]="addEditAssetForm.selectedEmployee">
              <c-search>
                <ng-template>
                  <!-- <input type="text" (keyup)="onEmployeeSearch($event)" placeholder="Search employee..." -->
                  <input type="text" (keyup)="onEmployeeSearch($event)" placeholder="Search & Select Author"
                    style="border: none; width: 100%; height: 100%; outline: none;" />
                </ng-template>
              </c-search>
              <c-item>
                <ng-template let-item="item">
                  <label style="color: #333; width: 100px;">{{
                                  item.edgeempCode
                                }}</label>
                  <label>{{ item.edgeempName }}</label>
                </ng-template>
              </c-item>
            </angular2-multiselect>

            <div *ngIf="employee.errors && (employee.dirty || employee.touched)"
              class="alert alert-danger custom-alert">
              <div *ngIf="employee.errors.required">Author is required</div>
            </div>
            <span></span>
            <!-- </div> -->
            <!-- <div class="col-sm-12 col-md-6 padBt"> -->
            <div class="row">
              <div class="col-md-4 d-flex">
                <!-- <span class="pr-1"> -->
                <div class="checkfield top padBt">
                  <label class="checkLabel label-black commonLabel">

                    <input id="appr" type="checkbox" class="" [checked]="isShowApprover" [disabled]="!addAction"
                      (click)="check($event)" name="app">
                    <!-- <label class="" for="appr"></label> -->
                    <!-- <span class="checkMarker" [ngClass]="!addAction"> -->
                    <span class="checkMarker" [ngClass]="{'disable': !addAction}">

                    </span>


                    <label class="" style="font-size: 14px;">Approval Required ? </label>


                    <!-- <sup class="reqFieldActivity">*</sup> -->
                  </label>
                </div>
              </div>
              <div class="col-md-8 top">
                <div *ngIf="isShowApprover">
                  <!-- <label class="">
                          {{helpContent?.dam_add_asset?.approver.label}}
                          <sup class="reqFieldActivity">*</sup>
                          <div class="help-tooltip">
                            <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                            <div class="help-tooltip-position-right">
                              <p>{{helpContent?.dam_add_asset?.approver?.labelHelpContent}}</p>
                              <i></i>
                            </div>
                          </div>
                        </label> -->

                  <angular2-multiselect id="exampleInputPassword4" [data]="usersList" #creator="ngModel"
                    [(ngModel)]="addEditAssetForm.selectedCreator" [settings]="settingsCreatorDrop"
                    (onSelect)="onCreatorSelect($event)" (onDeSelect)="OnCreatorDeSelect($event)" name="selectedCreator"
                    [required]="isShowApprover ">
                    <c-search>
                      <ng-template>
                        <input type="text" (keyup)="onCreatorSearch($event)" placeholder="Search & Select Approver"
                          style="border: none; width: 100%; height: 100%; outline: none;" />
                      </ng-template>
                    </c-search>
                    <c-item>
                      <ng-template let-item="item">
                        <label style="color: black; width: 150px;">{{item.empId}}</label>
                        <label>{{ item.empName }}</label>
                      </ng-template>
                    </c-item>
                  </angular2-multiselect>

                  <div *ngIf="creator.errors && (creator.dirty || creator.touched)"
                    class="alert alert-danger custom-alert">
                    <div *ngIf="creator.errors.required">Approver is required</div>
                  </div>
                  <span></span>
                </div>
              </div>
            </div>
            <!-- </div> -->
            <!-- <div class="col-sm-12 col-md-6 padBt"> -->

            <!-- </div> -->
          </div>
          <div class="col-sm-12 col-md-6 padBt">
            <!-- <div class="col-sm-12 col-md-6 padBt"> -->
            <div>
              <label class="" for="format">
                {{helpContent?.dam_add_asset?.format.label}}
                <sup class="reqFieldActivity">*</sup>
                <div class="help-tooltip">
                  <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                  <div class="help-tooltip-position-right">
                    <p>{{helpContent?.dam_add_asset?.format?.labelHelpContent}}</p>
                    <i></i>
                  </div>
                </div>
              </label>
              <select class="form-control select_field_height" name="format" #format="ngModel"
                [(ngModel)]="addEditAssetForm.format" (change)="formatChange($event)" required>
                <option value="" selected disabled>Select Format</option>
                <option *ngFor="let format of formats" value="{{ format.formatId }}">{{ format.formatName }}</option>
              </select>
              <div *ngIf="format.errors && (format.dirty || format.touched)" class="alert alert-danger custom-alert">
                <div *ngIf="format.errors.required">Format is required</div>
              </div>
            </div>




            <!-- <div class="" *ngIf="
                              addEditAssetForm.format == 1 ||
                              addEditAssetForm.format == 2 ||
                              addEditAssetForm.format == 4 ||
                              addEditAssetForm.format == 6
                            ">
                              <label class = "top" for="actDuration">
                    {{helpContent?.dam_add_asset?.estimated_time.label}}
                    <sup class="reqFieldActivity">*</sup>
                    <div class="help-tooltip">
                      <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                      <div class="help-tooltip-position-right">
                        <p>{{helpContent?.dam_add_asset?.estimated_time?.labelHelpContent}}</p>
                        <i></i>
                      </div>
                    </div>
                </label>
                              <timepicker id="actDuration" [(ngModel)]="addEditAssetForm.time" [minuteStep]="1" [ngModelOptions]="{standalone: true}" [secondsStep]="1" [showMeridian]="false" [showMinutes]="true" [showSeconds]="true" name="activityDuration">
                              </timepicker>
                              <span></span>
                          </div> -->
            <!-- </div> -->
            <!-- <div class="col-sm-12 col-md-6 padBt"> -->
            <label class="top" for="Channel">
              {{helpContent?.dam_add_asset?.channel.label}}
              <sup class="reqFieldActivity">*</sup>
              <div class="help-tooltip">
                <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                <div class="help-tooltip-position-right">
                  <p>{{helpContent?.dam_add_asset?.channel?.labelHelpContent}}</p>
                  <i></i>
                </div>
              </div>
            </label>
            <select class="form-control select_field_height" name="channel" #channel="ngModel"
              [ngClass]="{ 'is-invalid': submitted && channel.errors }" [(ngModel)]="addEditAssetForm.channel" required>
              <option value="" selected disabled>Select Channel</option>
              <option *ngFor="let channel of channels" value="{{ channel.channelId }}">{{ channel.channelName }}
              </option>
            </select>
            <div *ngIf="channel.errors && (channel.dirty || channel.touched)" class="alert alert-danger custom-alert">
              <div *ngIf="channel.errors.required">Channel is required</div>
            </div>
            <!-- </div> -->
            <!-- <div class="col-sm-12 col-md-6 padBt"> -->
            <label class="top" for="">
              {{helpContent?.dam_add_asset?.language.label}}
              <sup class="reqFieldActivity">*</sup>
              <div class="help-tooltip">
                <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                <div class="help-tooltip-position-right">
                  <p>{{helpContent?.dam_add_asset?.language?.labelHelpContent}}</p>
                  <i></i>
                </div>
              </div>
            </label>
            <select class="form-control select_field_height placeholder" #lang="ngModel" name="language"
              [ngClass]="{ 'is-invalid': submitted && lang.errors }" [(ngModel)]="addEditAssetForm.language" required>
              <option value="" selected disabled>Select Language</option>
              <option *ngFor="let item of languages" value="{{ item.languageId }}">{{ item?.languageName }}</option>
            </select>
            <div *ngIf="lang && lang?.errors && (lang?.dirty || lang?.touched)" class="alert alert-danger custom-alert">
              <div *ngIf="lang?.errors?.required">Language is required</div>
            </div>
            <!-- </div> -->
            <!-- <div class="col-sm-12 col-md-6 padBt"> -->
            <label class="top">
              {{helpContent?.dam_add_asset?.estimated_cost.label}}
              <sup class="reqFieldActivity">*</sup>
              <div class="help-tooltip">
                <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                <div class="help-tooltip-position-right">
                  <p>{{helpContent?.dam_add_asset?.estimated_cost?.labelHelpContent}}</p>
                  <i></i>
                </div>
              </div>
            </label>
            <!-- (keyup)="limit($event)" -->
            <input type="text" class="form-control" placeholder="Enter estimated cost of file." pattern="^[0-9]*$"
              name="cost" #cost="ngModel" maxlength="6" minlength="0" [(ngModel)]="addEditAssetForm.estimateCost"
              required />
            <div *ngIf="cost.errors && (cost.dirty || cost.touched)" class="alert alert-danger custom-alert">
              <div *ngIf="cost.errors.required">Estimated cost is required</div>
              <div *ngIf="cost.hasError('pattern')">Enter a valid cost of the asset</div>
              <div *ngIf="cost.errors.minlength">Minimum 1 digit required</div>
            </div>
            <!-- </div> -->
            <!-- <div class="col-sm-12 col-md-6 padBt"> -->
            <label class="top" for="addTags">
              {{helpContent?.dam_add_asset?.custom_tags.label}}
              <!-- <sup class="reqFieldActivity">*</sup> -->
              <div class="help-tooltip">
                <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                <div class="help-tooltip-position-right">
                  <p>{{helpContent?.dam_add_asset?.custom_tags?.labelHelpContent}}</p>
                  <i></i>
                </div>
              </div>
            </label>
            <angular2-multiselect id="exampleInputTags4" [ngModelOptions]="{standalone: true}" [data]="tagList"
              #selectTag="ngModel" [(ngModel)]="selectedTags" [settings]="settingsTagDrop"
              (onSelect)="onTagsSelect($event)" class="select_field_height" (onDeSelect)="OnTagDeSelect($event)"
              name="selectTags" ngDefaultControl>
              <!-- <c-search>
                    <ng-template>
                      <input type="text" (keyup)="onTagSearch($event)"
                        placeholder="Search Tags"
                        style="border: none;width: 100%; height: 100%;outline: none;" />
                    </ng-template>
                  </c-search> -->
              <c-item>
                <ng-template let-item="item">
                  <label style="color: #333;">{{item.name}}</label>
                  <!-- <img [src]="item.flag" style="width: 30px; border: 1px solid #efefef;margin-right: 0px;" /> -->
                  <!-- <label style="color: #333;width: 30%;">{{item.fullname}}</label> -->
                  <!-- <label style="color: #333;width: 30%;">{{item.email}}</label> -->
                </ng-template>
              </c-item>
            </angular2-multiselect>

            <!-- <div class="required_msg_text" *ngIf="selectedTags.length == 0 && (selectTag.dirty || selectTag.touched)">
              <small class="form-text text-muted">
                Tag required</small>
            </div> -->

            <div class="" *ngIf="
                              addEditAssetForm.format == 1 ||
                              addEditAssetForm.format == 2 ||
                              addEditAssetForm.format == 4 ||
                              addEditAssetForm.format == 6
                            ">
              <label class="top" for="actDuration">
                {{helpContent?.dam_add_asset?.estimated_time.label}}
                <sup class="reqFieldActivity">*</sup>
                <div class="help-tooltip">
                  <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                  <div class="help-tooltip-position-right">
                    <p>{{helpContent?.dam_add_asset?.estimated_time?.labelHelpContent}}</p>
                    <i></i>
                  </div>
                </div>
              </label>
              <timepicker id="actDuration" [(ngModel)]="addEditAssetForm.time" [minuteStep]="1"
                [ngModelOptions]="{standalone: true}" [secondsStep]="1" [showMeridian]="false" [showMinutes]="true"
                [showSeconds]="true" name="activityDuration">
              </timepicker>
              <span></span>
            </div>


            <!-- </div> -->
          </div>


        </div>










        <!-- <div class="form-group">
            <label>State</label>
      <input type="checkbox" [(ngModel)]="isChecked" (change)="checkValue(isChecked?'A':'B')" formControlName="state"/>
    </div>   -->

        <!-- <div class="row" >
              <div class="col-sm-12 col-md-6 padBt" *ngIf = "isShowApprover">
                <label class="">
                  {{helpContent?.dam_add_asset?.approver.label}}
                  <sup class="reqFieldActivity">*</sup>
                  <div class="help-tooltip">
                    <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                    <div class="help-tooltip-position-right">
                      <p>{{helpContent?.dam_add_asset?.approver?.labelHelpContent}}</p>
                      <i></i>
                    </div>
                  </div>
                </label>

                    <angular2-multiselect id="exampleInputPassword4" [data]="usersList" #creator="ngModel" [(ngModel)]="addEditAssetForm.selectedCreator" [settings]="settingsCreatorDrop" (onSelect)="onCreatorSelect($event)" (onDeSelect)="OnCreatorDeSelect($event)" name="selectedCreator"
                        [required]  = "isShowApprover ">
                        <c-search>
                            <ng-template>
                                <input type="text" (keyup)="onCreatorSearch($event)" placeholder="Search & select employee" style="border: none; width: 100%; height: 100%; outline: none;" />
                            </ng-template>
                        </c-search>
                        <c-item>
                            <ng-template let-item="item">
                                <label style="color: #333; width: 150px;">{{item.empId}}</label>
                                <label>{{ item.empName }}</label>
                            </ng-template>
                        </c-item>
                    </angular2-multiselect>

                    <div *ngIf="creator.errors && (creator.dirty || creator.touched)" class="alert alert-danger custom-alert">
                        <div *ngIf="creator.errors.required">Approver is required</div>
                    </div>
                    <div class="col-sm-12 col-md-6 padBt">
                        <label class="">
                  {{helpContent?.dam_add_asset?.estimated_cost.label}}
                  <sup class="reqFieldActivity">*</sup>
                  <div class="help-tooltip">
                    <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                    <div class="help-tooltip-position-right">
                      <p>{{helpContent?.dam_add_asset?.estimated_cost?.labelHelpContent}}</p>
                      <i></i>
                    </div>
                  </div>
                </label>

                    <input type="text" class="form-control" placeholder="Enter estimated cost of asset." pattern="[0-9]*" name="cost" #cost="ngModel" maxlength="6" minlength="1" [(ngModel)]="addEditAssetForm.estimateCost" required />
                    <div *ngIf="cost.errors && (cost.dirty || cost.touched)" class="alert alert-danger custom-alert">
                        <div *ngIf="cost.errors.required">Estimated cost is required</div>
                        <div *ngIf="cost.hasError('pattern')">Enter a valid cost of the asset</div>
                        <div *ngIf="cost.errors.minlength">Minimum 1 digit required</div>
                    </div>
              </div>
            </div> -->


      </div>

    </div>



  </form>

  <div class="inside_container" *ngIf="addEditAssetForm.format">
    <div class="form_grid">
      <div class="">
        <div *ngIf="addEditAssetForm.format == 2">
          <label for="filepicker-button ">
            {{helpContent?.dam_add_asset?.upload_audio.label}}
            <sup class="reqFieldActivity">*</sup>
            <div class="help-tooltip">
              <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
              <div class="help-tooltip-position-right">
                <p>{{helpContent?.dam_add_asset?.upload_audio?.labelHelpContent}}</p>
                <i></i>
              </div>
            </div>
          </label>
          <button class=" fp-btn-choose cancelButton" id="filepicker-button" name="userfilechoose"
            (click)="removeFile()">
            <i class="fa fa-times" aria-hidden="true"></i>
          </button>
          <div>
            <div class="inputFileCourse">
              <input class="form-control-file text-success font-weight-bold" type="file" id="audiofile" #audio_file
                name="file[]" accept="audio/*" required #upload_aud="ngModel" [ngModel]="addEditAssetForm.assetRef"
                (ngModelChange)="convertFileUrl(addEditAssetForm.assetRef)" attr.data-title="{{ fileName }}"
                title="{{ selectFileTitle }}">
              <div *ngIf="upload_aud.errors && (upload_aud.dirty || upload_aud.touched)"
                class="alert alert-danger custom-alert custom-alert">
                <div [hidden]="!upload_aud.errors.required">Audio file upload required</div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="addEditAssetForm.format == 1">
          <label for="filepicker-button ">
            {{helpContent?.dam_add_asset?.upload_video.label}}
            <sup class="reqFieldActivity">*</sup>
            <div class="help-tooltip">
              <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
              <div class="help-tooltip-position-right">
                <p>{{helpContent?.dam_add_asset?.upload_video?.labelHelpContent}}</p>
                <i></i>
              </div>
            </div>
          </label>
          <button class=" fp-btn-choose cancelButton" id="filepicker-button" name="userfilechoose"
            (click)="removeFile()">
            <i class="fa fa-times" aria-hidden="true"></i>
          </button>
          <div>
            <div class="inputFileCourse">
              <input class="form-control-file text-success font-weight-bold" type="file" required #vid_upload="ngModel"
                id="videofile" #video_file name="file[]" [ngClass]="{ 'is-invalid': submitted && video_file.errors }"
                accept="video/*" [ngModel]="addEditAssetForm.assetRef"
                (ngModelChange)="convertFileUrl(addEditAssetForm.assetRef)" attr.data-title="{{ fileName }}"
                title="{{ selectFileTitle }}">
              <div *ngIf="vid_upload.errors && (vid_upload.dirty || vid_upload.touched)"
                class="alert alert-danger custom-alert custom-alert">
                <div [hidden]="!vid_upload.errors.required">Video file upload required</div>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="addEditAssetForm.format == 3">
          <label for="filepicker-button ">
            {{helpContent?.dam_add_asset?.upload_pdf.label}}
            <sup class="reqFieldActivity">*</sup>
            <div class="help-tooltip">
              <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
              <div class="help-tooltip-position-right">
                <p>{{helpContent?.dam_add_asset?.upload_pdf?.labelHelpContent}}</p>
                <i></i>
              </div>
            </div>
          </label>
          <button class=" fp-btn-choose cancelButton" id="filepicker-button" name="userfilechoose"
            (click)="removeFile()">
            <i class="fa fa-times" aria-hidden="true"></i>
          </button>
          <div>
            <div class="inputFileCourse">
              <input class="form-control-file text-success font-weight-bold" #pdf_upload="ngModel" required type="file"
                id="iframefile" #iframe_file name="file[]" [ngClass]="{ 'is-invalid': submitted && iframe_file.errors }"
                accept="application/pdf" [(ngModel)]="addEditAssetForm.assetRef" attr.data-title="{{ fileName }}"
                title="{{ selectFileTitle }}">
              <div *ngIf="pdf_upload.errors && (pdf_upload.dirty || pdf_upload.touched)"
                class="alert alert-danger custom-alert custom-alert">
                <div [hidden]="!pdf_upload.errors.required">Pdf file upload required</div>
              </div>
            </div>
          </div>
        </div>

        <div class="" style="margin-bottom: 24px;">
          <div *ngIf="addEditAssetForm.format == 4">
            <label for="kpoint">
              {{helpContent?.dam_add_asset?.K_point_link.label}}
              <sup class="reqFieldActivity">*</sup>
              <div class="help-tooltip">
                <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                <div class="help-tooltip-position-right">
                  <p>{{helpContent?.dam_add_asset?.K_point_link?.labelHelpContent}}</p>
                  <i></i>
                </div>
              </div>
            </label>
            <textarea cols="30" rows="3" class="form-control" id="kpoint" required #link_upload="ngModel"
              placeholder="Enter k-point link." name="file" pattern=".{5,500}"
              [ngClass]="{ 'is-invalid': submitted && kpoint_link.errors }" [(ngModel)]="addEditAssetForm.assetRef"
              #kpoint_link></textarea>
            <input type="submit" value="View" class="constantbtn-button-blue-left  right  top"
              (click)="kpointConfigure(addEditAssetForm.assetRef)">
            <div *ngIf="link_upload.errors && (link_upload.dirty || link_upload.touched)"
              class="alert alert-danger custom-alert custom-alert">
              <div [hidden]="!link_upload.errors.required">K-point link is required</div>
            </div>
          </div>
          <span></span>
        </div>

        <div *ngIf="addEditAssetForm.format == 5">
          <label for="filepicker-button ">
            {{helpContent?.dam_add_asset?.upload_Scorm.label}}
            <sup class="reqFieldActivity">*</sup>
            <div class="help-tooltip">
              <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
              <div class="help-tooltip-position-right">
                <p>{{helpContent?.dam_add_asset?.upload_Scorm?.labelHelpContent}}</p>
                <i></i>
              </div>
            </div>
          </label>
          <button class=" fp-btn-choose cancelButton" id="filepicker-button" name="userfilechoose"
            (click)="removeFile()">
            <i class="fa fa-times" aria-hidden="true"></i>
          </button>
          <div>
            <div class="inputFileCourse">
              <input class="form-control-file text-success font-weight-bold" type="file" required
                #scorm_upload="ngModel" id="scormfile" #scorm_file name="file[]"
                [ngClass]="{ 'is-invalid': submitted && scorm_file.errors }" accept="application/zip"
                [(ngModel)]="addEditAssetForm.assetRef" attr.data-title="{{ fileName }}" title="{{ selectFileTitle }}">
              <div *ngIf="scorm_upload.errors && (scorm_upload.dirty || scorm_upload.touched)"
                class="alert alert-danger custom-alert custom-alert">
                <div [hidden]="!scorm_upload.errors.required">Scorm file is required</div>
              </div>
            </div>
          </div>
        </div>

        <div class="" style="margin-bottom: 24px;">
          <div *ngIf="addEditAssetForm.format == 6">
            <label for="kpoint">
              {{helpContent?.dam_add_asset?.enter_YouTube_Link.label}}
              <sup class="reqFieldActivity">*</sup>
              <div class="help-tooltip">
                <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                <div class="help-tooltip-position-right">
                  <p>{{helpContent?.dam_add_asset?.enter_YouTube_Link?.labelHelpContent}}</p>
                  <i></i>
                </div>
              </div>
            </label>
            <textarea cols="30" rows="3" class="form-control" id="kpoint" #utube_link="ngModel" required
              placeholder="Enter video link." name="file" pattern=".{5,500}" [(ngModel)]="addEditAssetForm.assetRef"
              #youtube_link [ngClass]="{ 'is-invalid': submitted && youtube_link.errors }"></textarea>
            <input type="submit" class="constantbtn-button-blue-left margin-top"
              (click)="youtubeconfigure(addEditAssetForm.assetRef)">
            <div *ngIf="utube_link.errors && (utube_link.dirty || utube_link.touched)"
              class="alert alert-danger custom-alert custom-alert">
              <div [hidden]="!utube_link.errors.required">YouTube link is required</div>
            </div>
          </div>


          <span></span>
        </div>

        <div *ngIf="addEditAssetForm.format == 7">
          <label for="filepicker-button ">
            {{helpContent?.dam_add_asset?.upload_image.label}}
            <sup class="reqFieldActivity">*</sup>
            <div class="help-tooltip">
              <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
              <div class="help-tooltip-position-right">
                <p>{{helpContent?.dam_add_asset?.upload_image?.labelHelpContent}}</p>
                <i></i>
              </div>
            </div>
          </label>
          <button class=" fp-btn-choose cancelButton" id="filepicker-button" name="userfilechoose"
            (click)="removeFile()">
            <i class="fa fa-times" aria-hidden="true"></i>
          </button>
          <div>
            <div class="inputFileCourse">
              <input class="form-control-file text-success font-weight-bold" type="file" id="imagefile" #image_file
                name="file[]" accept=".png, .jpg, .jpeg" required #upload_image="ngModel"
                [ngModel]="addEditAssetForm.assetRef" (ngModelChange)="convertFileUrl(addEditAssetForm.assetRef)"
                attr.data-title="{{ fileName }}" title="{{ selectFileTitle }}">
              <div *ngIf="upload_image.errors && (upload_image.dirty || upload_image.touched)"
                class="alert alert-danger custom-alert custom-alert">
                <div [hidden]="!upload_image.errors.required">Image file upload required</div>
              </div>
            </div>
          </div>
        </div>




        <!-- -------------Try------------------ -->
        <div *ngIf="addEditAssetForm.format == 10">
          <label for="filepicker-button ">
            {{helpContent?.dam_add_asset?.upload_ppt.label}}
            <sup class="reqFieldActivity">*</sup>
            <div class="help-tooltip">
              <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
              <div class="help-tooltip-position-right">
                <p>{{helpContent?.dam_add_asset?.upload_ppt?.labelHelpContent}}</p>
                <i></i>
              </div>
            </div>
          </label>
          <button class=" fp-btn-choose cancelButton" id="filepicker-button" name="userfilechoose"
            (click)="removeFile()">
            <i class="fa fa-times" aria-hidden="true"></i>
          </button>
          <div>
            <div class="inputFileCourse">
              <input class="form-control-file text-success font-weight-bold" #ppt_upload=ngModel required type="file"
                #ppt_file accept=".ppt,.pptx" name="file[]" [ngClass]="{ 'is-invalid': submitted && ppt_file.errors }"
                [(ngModel)]="addEditAssetForm.assetRef" attr.data-title="{{ fileName }}" title="{{ selectFileTitle }}">
              <div *ngIf="ppt_upload.errors && (ppt_upload.dirty || ppt_upload.touched)"
                class="alert alert-danger custom-alert custom-alert">
                <div [hidden]="!ppt_upload.errors.required"> file upload required</div>
              </div>
            </div>
          </div>
        </div>


        <div *ngIf="addEditAssetForm.format == 12">
          <label for="filepicker-button ">
            {{helpContent?.dam_add_asset?.upload_word.label}}
            <sup class="reqFieldActivity">*</sup>
            <div class="help-tooltip">
              <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
              <div class="help-tooltip-position-right">
                <p>{{helpContent?.dam_add_asset?.upload_word?.labelHelpContent}}</p>
                <i></i>
              </div>
            </div>
          </label>
          <button class=" fp-btn-choose cancelButton" id="filepicker-button" name="userfilechoose"
            (click)="removeFile()">
            <i class="fa fa-times" aria-hidden="true"></i>
          </button>
          <div>
            <div class="inputFileCourse">
              <input class="form-control-file text-success font-weight-bold" #word_upload=ngModel required type="file"
                #word_file accept=".doc,.docx" name="file[]" [ngClass]="{ 'is-invalid': submitted && word_file.errors }"
                [(ngModel)]="addEditAssetForm.assetRef" attr.data-title="{{ fileName }}" title="{{ selectFileTitle }}">
              <div *ngIf="word_upload.errors && (word_upload.dirty || word_upload.touched)"
                class="alert alert-danger custom-alert custom-alert">
                <div [hidden]="!word_upload.errors.required"> file upload required</div>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="addEditAssetForm.format == 11">
          <label for="filepicker-button ">
            {{helpContent?.dam_add_asset?.upload_excel.label}}
            <sup class="reqFieldActivity">*</sup>
            <div class="help-tooltip">
              <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
              <div class="help-tooltip-position-right">
                <p>{{helpContent?.dam_add_asset?.upload_excel?.labelHelpContent}}</p>
                <i></i>
              </div>
            </div>
          </label>
          <button class=" fp-btn-choose cancelButton" id="filepicker-button" name="userfilechoose"
            (click)="removeFile()">
            <i class="fa fa-times" aria-hidden="true"></i>
          </button>
          <div>
            <div class="inputFileCourse">
              <input class="form-control-file text-success font-weight-bold" #excel_upload=ngModel required type="file"
                #excel_file accept=".xls,.xlsx" name="file[]"
                [ngClass]="{ 'is-invalid': submitted && excel_file.errors }" [(ngModel)]="addEditAssetForm.assetRef"
                attr.data-title="{{ fileName }}" title="{{ selectFileTitle }}">
              <div *ngIf="excel_upload.errors && (excel_upload.dirty || excel_upload.touched)"
                class="alert alert-danger custom-alert custom-alert">
                <div [hidden]="!excel_upload.errors.required"> file upload required</div>
              </div>
            </div>
          </div>
        </div>




        <!-- -------------Try------------------End -->


        <div class="" style="margin-bottom: 24px;">
          <div *ngIf="addEditAssetForm.format == 8">
            <label for="External_Link">
              {{helpContent?.dam_add_asset?.enter_External_Link.label}}
              <sup class="reqFieldActivity">*</sup>
              <div class="help-tooltip">
                <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                <div class="help-tooltip-position-right">
                  <p>{{helpContent?.dam_add_asset?.enter_External_Link?.labelHelpContent}}</p>
                  <i></i>
                </div>
              </div>
            </label>
            <textarea cols="30" rows="3" class="form-control" id="External_Link" #ext_link="ngModel" required
              placeholder="Enter link." name="ext_link" pattern=".{5,500}" [(ngModel)]="addEditAssetForm.assetRef"
              #ext_link [ngClass]="{ 'is-invalid': submitted && ext_link.errors }"></textarea>
            <div *ngIf="ext_link.errors && (ext_link.dirty || ext_link.touched)"
              class="alert alert-danger custom-alert custom-alert">
              <div [hidden]="!ext_link.errors.required">External link is required</div>
            </div>
          </div>


          <span></span>
        </div>
        <!-- <div *ngIf="!addAction">
                    <label for="External_Link">
                      {{helpContent?.dam_add_asset?.Url.label}}
                      <sup class="reqFieldActivity">*</sup>
                      <div class="help-tooltip">
                        <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                        <div class="help-tooltip-position-right">
                          <p>{{helpContent?.dam_add_asset?.Url?.labelHelpContent}}</p>
                          <i></i>
                        </div>
                      </div>
                  </label>
                    <textarea col="30" rows="1" class="form-control" disabled>{{addEditAssetForm.assetRef}} </textarea>
                    <div class="input-group" *ngIf="versionshow">
                        <div class="copyurl" *ngFor="let ver of assetVersions">

                            <input type="text" class="form-control" [(ngModel)]="ver.assetRef" disabled>
                            <div class="input-group-btn">
                                <button class="btn btn-primary copybtn" title="copy the link" type="submit" (click)="copytext(ver.assetRef)"><i class="fas fa-copy"></i></button>
                            </div>
                            <span>
                              {{ver.timeCreated}}
                              <i class="fa fa-trash circle-del" title="Delete" style="padding-left: 12px;padding-right: 12px;"></i>
                            </span>
                            <span>
                              {{ver.timeCreated}}
                              <i class="fa fa-trash circle-del" title="Delete" style="padding-left: 12px;padding-right: 12px;"></i>
                            </span>

                            <span *ngIf="ver.isDownload == 1">
                              <a href={{ver.assetRef}} download><i class="fas fa-download"title="Download" ></i></a>
                            </span>
                            <span *ngIf="ver.isPreview == 1" (click)="preview(ver)">
                              <i class="fa fa-play " title="Preview" style="padding-left: 12px;"></i>
                            </span>
                            <span *ngIf="ver.isDelete == 1" (click)="deleteAssetVersion(ver)">
                              <i class="fa fa-trash circle-del" title="Delete" style="padding-left: 12px;padding-right: 12px;"></i>
                            </span>




                        </div>

                    </div>

                </div> -->
      </div>

      <div class="">


        <div *ngIf="addEditAssetForm.format == 1">
          <div *ngIf="addEditAssetForm.assetRef && !isLocalfile">
            <video style="width: 100%;height: 300px;" controls controlsList="nodownload">
              <source src="{{addEditAssetForm.assetRef}}">
              Your browser does not support HTML5 video.
            </video>
          </div>
          <div *ngIf="isLocalfile">
            <video style="width: 100%; height: 300px" id="video_here" controls controlsList="nodownload">
              <source>
              Your browser does not support HTML5 video.
            </video>
          </div>
        </div>

        <div *ngIf="addEditAssetForm.format == 7">
          <div *ngIf="addEditAssetForm.assetRef && !isLocalfile">


            <img style="width: 100%;height: 300px" src="{{addEditAssetForm.assetRef}}">
          </div>
          <div *ngIf="isLocalfile">
            <img style="width: 100%;height: 300px" id="image_here">
          </div>
        </div>

        <div *ngIf="addEditAssetForm.format == 2">
          <div *ngIf="addEditAssetForm.assetRef && !isLocalfile">
            <audio style="width: 100%;" controls>
              <source src="{{addEditAssetForm.assetRef}}">
              Your browser does not support HTML5 video.
            </audio>
          </div>
          <div *ngIf="isLocalfile">
            <audio style="width: 100%; " controls id="audio_here">
              <source>
              Your browser does not support HTML5 video.
            </audio>
          </div>
        </div>


        <div *ngIf="addEditAssetForm.format == 3">

          <div *ngIf="addEditAssetForm.assetRef && !isLocalfile">
            <iframe *ngIf="pdfUrlFlag" [src]="addEditAssetForm.reference" style="width:100%; height:300px;"
              fullscreen></iframe>

          </div>
          <div *ngIf="!pdfUrlFlag && !isLocalfile && intialCheck" class="no_pdf">
            Content not downloaded
          </div>
          <div *ngIf="isLocalfile">
            <iframe style="width:100%; height:300px;" id="iframe" fullscreen></iframe>
          </div>
        </div>







        <!-- <div *ngIf="addEditAssetForm.format == 10">

                    <div *ngIf="addEditAssetForm.assetRef && !isLocalfile">
                        <iframe *ngIf="pdfUrlFlag" [src]="addEditAssetForm.reference" style="width:100%; height:500px;" fullscreen></iframe>

                    </div>
                    <div *ngIf="!pdfUrlFlag && !isLocalfile && intialCheck" class="no_pdf">
                      Content not downloaded
                   </div>
                    <div *ngIf="isLocalfile">
                        <iframe style="width:100%; height:500px;" id="iframe" fullscreen></iframe>
                    </div>
                </div> -->

        <!-- //// Need to be unComment -->

        <div *ngIf="addEditAssetForm.format == 4" >
                    <div #kpplayer ></div>
                </div>
        <!-- //// End Need to be unComment -->


        <div *ngIf="addEditAssetForm.format == 6">
          <div *ngIf="youtubeurl">
            <iframe [src]="youtubeurl" style="width:100%; height:300px;" id="iframe" fullscreen></iframe>
          </div>
        </div>

      </div>

    </div>

    <!-- ḷink section -->
    <div *ngIf="!addAction" class="px-4 pb-2">
      <div *ngIf="versionshow">
        <div class="row">
          <div class="col-md-8">
        <label for="External_Link">
          {{helpContent?.dam_add_asset?.Url.label}}
          <div class="help-tooltip">
            <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
            <div class="help-tooltip-position-right">
              <p>{{helpContent?.dam_add_asset?.Url?.labelHelpContent}}</p>
              <i></i>
            </div>
          </div>
        </label>
        </div>
        <!-- <div class="row">
          <div class="col-md-8">
          </div> -->
          <div class="col-md-4">
            <div class="row">
              <div class="col-sm-6">
            <label for="External_Link" class="date-label m-0">Created on</label>
          </div>
          <div class="col-sm-6">
            <label for="External_Link" class="date-label m-0">Created by</label>
          </div>
          </div>
        </div>
        </div>
        <div class="copy-url" *ngFor="let ver of assetVersions">
          <div class="inner-url pt-2 pb-3 px-3">
            <div class="row">
              <div class="col-md-8"></div>
              <div class="col-md-4">

              </div>

              <!-- <div class="col-md-2">
                <label for="External_Link" class="date-label m-0">Date of Creation</label>
              </div>
              <div class="col-md-2">
                <label for="External_Link" class="date-label m-0">User Name</label>

              </div> -->
            </div>
            <div class="row">
              <div class="col-md-8">
                <div class="input-group">
                  <input type="text" class="form-control" [(ngModel)]="ver.assetRef" disabled>
                  <div class="input-group-append">
                    <span class="input-group-text action-icon" (click)="copytext(ver.assetRef)">Copy</span>
                    <span class="input-group-text action-icon" *ngIf="ver.isDownload == 1"><a href={{ver.assetRef}} download><i
                          class="fas fa-download" title="Download"></i></a></span>
                    <span class="input-group-text action-icon"*ngIf="ver.isDelete == 1" (click)="deleteAssetVersion(ver)"><i class="fa fa-trash"
                        title="Delete"></i></span>
                    <span class="input-group-text action-icon"*ngIf="ver.isPreview == 1" (click)="preview(ver)"><i class="fas fa-expand"
                        title="Preview"></i></span>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="create-date align-self-center">
                    <div class="create-date">
                      <span>{{ver.timeCreated ? ver.timeCreated : 'Not Available' }}</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 align-self-center">
                    <div class="create-date left-pad">
                      <span>{{ver.uName}}</span>
                    </div>
                  </div>
                  <!-- <div class="col-sm-4 align-self-center">

                  </div> -->
                </div>
              </div>

              <!-- <div class="col-md-2 align-self-center">
                <div class="create-date">
                  <span>{{ver.timeCreated ? ver.timeCreated : 'Not Available' }}</span>
                </div>
              </div>
              <div class="col-md-2 align-self-center">
                <div class="create-date">
                  <span>{{ver.uName}}</span>
                </div>
              </div> -->
            </div>
          </div>
        </div>

        <!-- link old -->
        <!-- <div class="copyurl1" *ngFor="let ver of assetVersions">
          <input type="text" class="form-control" [(ngModel)]="ver.assetRef" disabled>
          <div class="input-group-btn">
            <button class="btn btn-primary copybtn" title="copy the link" type="submit"
              (click)="copytext(ver.assetRef)"><i class="fas fa-copy"></i></button>
          </div>
          <span style="padding: 5px;">
            {{ver.timeCreated ? ver.timeCreated : 'Not Available' }}
          </span>
          <span *ngIf="ver.isDownload == 1">
            <a href={{ver.assetRef}} download><i class="fas fa-download" title="Download"></i></a>
          </span>
          <span *ngIf="ver.isPreview == 1" (click)="preview(ver)">
            <i class="fa fa-play " title="Preview"></i>
          </span>
          <span *ngIf="ver.isDelete == 1" (click)="deleteAssetVersion(ver)">
            <i class="fa fa-trash circle-del" title="Delete" ></i>
          </span>
        </div> -->
      </div>
    </div>
  </div>


  <!-- /// New model for category selection -->

  <div class="addRuleBackdrop1" *ngIf="catshow == true">
    <div class="addRuleDemoModal1">
      <div class="modal-header" style="color: #fff; height: 50px;    border-radius: 5px 5px 0 0;">
        <p>Select Category</p>
        <button class="close" style="color: #fff;" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="mbody modal-body" style="padding-top: 0;">
        <div class="search_div">
          <i class="fa fa-arrow-left" style="font-size: 15px;font-weight: bold; cursor: pointer;" aria-hidden="true"
            (click)="backCat()"></i>
          <div>
            <input type="text" class="form-control search_field commonInput" placeholder="Search by folder name "
              name="name" (keyup)="searchQuestion($event)" [(ngModel)]="search">
            <i class="fa fa-remove remove_icon" aria-hidden="true" style="padding-top:10px" (click)="clear()"></i>
            <!-- <div>{{breadCrumb}}</div> -->
          </div>
        </div>
        <div class="topDivRe" *ngIf="!noCatwise">
          <div class="col-sm-12 card displayin" *ngFor="let item of assetCat"
            [ngClass]="{'activeBadge': activeSelectedCatId == item.id}">
            <div class="row" (click)="setActiveSelectedCat(i, item)">
              <div class="imageDiv">
                <!-- <div class="col-sm-4 floatleft"> -->
                <!-- <a> -->
                <img for="badge{{item.badgeId}}" class="badgeIcon"
                  src='{{item.categoryPicRef ? item.categoryPicRef : "assets/images/category.jpg"}}'>
                <!-- <img class="badgeIcon" src="assets/images/badgeNew.png"> -->
                <!-- <img class="badgeIcon" src="assets/images/category.jpg"> -->
                <!-- </a> -->
                <!-- </div> -->
              </div>

              <div class="badgeContainer" (dblclick)="gotoCat(item)">
                <!-- <div class="col-sm-8 floatrig"> -->
                <h6>{{item.categoryName}}</h6>
                <text> File Count : {{item.assetCnt}}</text>
                <text style="float: right;margin-left: 27pc;font-size: 12px;"> Folder Count : {{item.catCount}}</text>
                <p style="visibility: hidden;">{{item.description}}</p>
                <!-- </div> -->
              </div>
            </div>
          </div>
        </div>


      </div>
      <div class="topDivRe" *ngIf="noCatwise" style="overflow: hidden;">
        <div class="col-md-12 noDataDiv">
          <img class="noDataImg" src='assets/images/noDataFound1.png'
            onerror="this.src='assets/images/noDataFound1.png';">
        </div>
      </div>

      <div class="modal-footer text-right" style="height: 50px;">
        <button type="button" class="constantbtn-button-blue-left" (click)="selectCat()"
          *ngIf="!noCatwise">Select</button>
        <span>
          <!-- <button type="button" class="constantbtn-button-blue-left" (click)="closeModal()">Cancel</button> -->
        </span>
      </div>



    </div>
  </div>



  <!-- // End new  Modal for category Selection -->








  <!-- ---------------for Asset Viewer----------------- -->

  <div>

    <div class="addRuleBackdrop1" *ngIf="previewShow">
      <div class="addRuleDemoModal1">
        <div class="modal-header">
          <p style = "color: white;">{{previewName}}</p>
          <button class="close" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="mbody modal-body">
          <div *ngIf="previewData.formatId == 7">
            <div *ngIf="previewData.assetRef">


              <img style="width: 100%" src="{{previewData.assetRef}}">
            </div>

          </div>

          <div *ngIf="previewData.formatId == 1">
            <div *ngIf="previewData.assetRef">
              <video style="width: 100%;" controls controlsList="nodownload">
                <source src="{{previewData.assetRef}}">
                Your browser does not support HTML5 video.
              </video>
            </div>
          </div>

          <div *ngIf="previewData.formatId == 2">
            <div *ngIf="previewData.assetRef">
              <audio style="width: 100%;" controls>
                <source src="{{previewData.assetRef}}">
                Your browser does not support HTML5 video.
              </audio>
            </div>
          </div>

          <div *ngIf="previewData.formatId == 3">

            <div *ngIf="previewData.assetRef">
              <iframe [src]="pdfReference" style="width:100%; height:500px;" fullscreen></iframe>

            </div>
          </div>

          <div *ngIf="previewData.formatId == 4">
            <div #kpplayer1></div>
          </div>

          <div *ngIf="previewData.formatId == 6">
            <div *ngIf="youtubeurl">
              <iframe [src]="youtubeurl" style="width:100%; height:500px;" id="iframe" fullscreen></iframe>
            </div>
          </div>




        </div>
      </div>
    </div>
  </div>
</div>


<!-- ////// New requirement -->
<!-- <button  (click) = "CatModal()">demo</button> -->






<!-- <div *ngIf="!noCategory">
    <form #assetForm="ngForm">
        <div class="col-md-12 margin-top">
            <div class="col-md-6 noPadding">
              <div class="col-md-12 bgwhite132 paddingTo">
                  <div class="">
                      <label class="">Name
                        <sup class="reqFieldActivity">*</sup> </label>
                      <input type="text" class="form-control inputText" placeholder="Max 50 characters." minlength="6" maxlength="50" [(ngModel)]="addEditAssetForm.assetName"
                       [ngClass]="{ 'is-invalid': submitted && assetName.errors }" name="assetName" #assetName="ngModel" required />
                        <div  *ngIf="assetName.errors && (assetName.dirty || assetName.touched)" class="alert alert-danger custom-alert">
                            <div *ngIf="assetName.errors.required">Asset name is required.</div>
                            <div *ngIf="assetName.errors?.maxlength">max Length error.</div>
                            <div *ngIf="assetName.errors?.minlength">min Length error.</div>
                          </div>
                    </div>
                    <br />

                    <div class="form-group">
                      <label class="" for="desc">Description
                        <sup class="reqFieldActivity">*</sup> </label>
                      <textarea cols="30" rows="6" class="form-control form-control-input inputText" id="des" name="description"
                        placeholder="Min 20 and Max 500 characters." #descrip="ngModel"  [ngClass]="{ 'is-invalid': submitted && descrip.errors }"
                        pattern=".{20,500}" required
                        [(ngModel)]="addEditAssetForm.description"></textarea>
                        <div  *ngIf="descrip.errors && (descrip.dirty || descrip.touched)" class="alert alert-danger custom-alert">
                            <div *ngIf="descrip.errors.required">Asset Description is required</div>
                            <div *ngIf="descrip.errors.minlength">Min max len</div>
                          </div>
                    </div>
                    <br />

                    <div class="form-group">
                      <label for="">Category
                        <sup class="reqFieldActivity">*</sup> </label>
                      <select class="form-control dropdown-height" name="categories"
                        [(ngModel)]="addEditAssetForm.category" [disabled]="dataFromAssetCategory" id="categories" #category="ngModel" [ngClass]="{'is-invalid': submitted && category.errors }" required>
                        <option value="" selected disabled>Select Category</option>
                        <option *ngFor="let category of categories" value="{{ category.catId }}">{{ category.catName }}</option>
                      </select>
                      <div  *ngIf="category.errors && (category.dirty || category.touched)" class="alert alert-danger custom-alert">
                          <div *ngIf="category.errors.required">Category is required</div>
                        </div>
                    </div>
                    <br />

                    <div class="form-group">
                      <label class="">Author
                        <sup class="reqFieldActivity">*</sup> </label>

                      <angular2-multiselect id="exampleInputPassword4" [data]="empList" [settings]="settingsEmployeeDrop"
                        (onSelect)="onEmployeeSelect($event)" (onDeSelect)="OnEmployeeDeSelect($event)" name="selectedEmployee"
                        #employee="ngModel" [ngClass]="{ 'is-invalid': submitted && employee.errors }" required [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="addEditAssetForm.selectedEmployee">
                        <c-search>
                          <ng-template>
                            <input type="text" (keyup)="onEmployeeSearch($event)" placeholder="Search employee..."
                              style="border: none;width: 100%; height: 100%;outline: none;" />
                          </ng-template>
                        </c-search>
                        <c-item>
                          <ng-template let-item="item">
                            <label style="color: #333;width: 150px;">{{
                              item.edgeempId
                            }}</label>
                            <label>{{ item.edgeempName }}</label>
                          </ng-template>
                        </c-item>
                      </angular2-multiselect>

                      <div *ngIf="employee.errors && (employee.dirty || employee.touched)" class="alert alert-danger custom-alert">
                        <div *ngIf="employee.errors.required">Author is required</div>
                      </div>
                      <span></span>
                    </div>

                    <div class="form-group">
                      <label class="">Approver
                        <sup class="reqFieldActivity">*</sup> </label>

                      <angular2-multiselect id="exampleInputPassword4" [data]="usersList" #creator="ngModel"
                        [(ngModel)]="addEditAssetForm.selectedCreator" [ngModelOptions]="{standalone: true}"
                        [settings]="settingsCreatorDrop" (onSelect)="onCreatorSelect($event)"
                        (onDeSelect)="OnCreatorDeSelect($event)" name="selectedCreator" required>
                        <c-search>
                          <ng-template>
                            <input type="text" (keyup)="onCreatorSearch($event)" placeholder="Search users..."
                              style="border: none;width: 100%; height: 100%;outline: none;" />
                          </ng-template>
                        </c-search>
                        <c-item>
                          <ng-template let-item="item">
                            <label style="color: #333;width: 150px;">{{item.empId}}</label>
                            <label>{{ item.empName }}</label>
                          </ng-template>
                        </c-item>
                      </angular2-multiselect>

                      <div *ngIf="creator.errors && (creator.dirty || creator.touched)" class="alert alert-danger custom-alert">
                        <div *ngIf="creator.errors.required">Approver is required</div>
                      </div>
                      <span></span>
                    </div>
              </div>
            </div>

            <div class="col-md-6 noPaddingRight">
                <div class="col-md-12 bgwhite132 paddingTo">
                    <div class="form-group">
                        <label for="format">Format
                          <sup class="reqFieldActivity">*</sup> </label>
                        <select class="form-control dropdown-height" name="format" #format="ngModel" [ngClass]="{ 'is-invalid': submitted && format.errors }" [(ngModel)]="addEditAssetForm.format"
                          (change)="formatChange()" required>
                          <option value="" selected disabled>Select Format</option>
                          <option *ngFor="let format of formats" value="{{ format.formatId }}">{{ format.formatName }}</option>
                        </select>
                        <div  *ngIf="format.errors && (format.dirty || format.touched)" class="alert alert-danger custom-alert">
                            <div *ngIf="format.errors.required">Format is required</div>
                          </div>
                      </div>

                      <br />

                      <div class="" *ngIf="
                            addEditAssetForm.format == 1 ||
                            addEditAssetForm.format == 2 ||
                            addEditAssetForm.format == 4
                          ">
                        <label class="form-group" for="actDuration">Estimated time</label>
                        <timepicker id="actDuration" [(ngModel)]="addEditAssetForm.time" [minuteStep]="1"
                          [ngModelOptions]="{standalone: true}" [secondsStep]="1" [showMeridian]="false" [showMinutes]="true"
                          [showSeconds]="true" name="activityDuration">
                        </timepicker>
                        <span></span>
                      </div>

                      <br />

                      <div class="form-group">
                        <label for="Channel">Channel
                          <sup class="reqFieldActivity">*</sup> </label>
                        <select class="form-control dropdown-height" name="channel" #channel="ngModel" [ngClass]="{ 'is-invalid': submitted && channel.errors }" [(ngModel)]="addEditAssetForm.channel" required>
                          <option value="" selected disabled>Select Channel</option>
                          <option *ngFor="let channel of channels" value="{{ channel.channelId }}">{{ channel.channelName }}</option>
                        </select>
                        <div  *ngIf="channel.errors && (channel.dirty || channel.touched)" class="alert alert-danger custom-alert">
                            <div *ngIf="channel.errors.required">Channel is required</div>
                          </div>
                      </div>

                      <br />

                      <div class="form-group">
                        <label for="">Language
                          <sup class="reqFieldActivity">*</sup> </label>
                        <select class="form-control dropdown-height"  #lang="ngModel" [ngClass]="{ 'is-invalid': submitted && lang.errors }"  name="language" [(ngModel)]="addEditAssetForm.language" required>
                          <option value="" selected disabled>Select Language</option>
                          <option *ngFor="let item of languages" value="{{ item.languageId }}">{{ item.languageName }}</option>
                        </select>
                        <div  *ngIf="lang.errors && (lang.dirty || lang.touched)" class="alert alert-danger custom-alert">
                            <div *ngIf="lang.errors.required">Language is required</div>
                          </div>
                      </div>
                      <br />

                      <div class="form-group">
                        <label class="">Estimated Cost ( INR )
                          <sup class="reqFieldActivity">*</sup> </label>
                        <input type="number" class="form-control inputText" placeholder="Enter estimated cost of asset." name="cost"
                        #cost="ngModel" [ngClass]="{ 'is-invalid': submitted && cost.errors }" [(ngModel)]="addEditAssetForm.estimateCost"
                         required/>
                         <div  *ngIf="cost.errors && (cost.dirty || cost.touched)" class="alert alert-danger custom-alert">
                            <div *ngIf="cost.errors.required">Estimated cost is required</div>
                          </div>
                      </div>


                      <div class="row tagContainer col-md-12 margin-vertical">
                        <label class="" for="addTags">Custom tags <sup class="reqFieldActivity">*</sup> </label>
                        <div id="addTags" class="input-group">
                          <tag-input [theme]="'bootstrap'" name="customTags" [(ngModel)]="addEditAssetForm.customTags"
                            [ngModelOptions]="{standalone: true}" #customTags="ngModel"
                            placeholder="Search for existing tags or enter new tags" required class="tagINput" required
                            [ngClass]="{ 'is-invalid': submitted && customTags.errors.required }">
                          </tag-input>
                          <div *ngIf="customTags.errors && (customTags.dirty || customTags.touched)" class="alert alert-danger custom-alert custom-alert">
                            <div [hidden]="!customTags.errors.required">Tags are required</div>
                          </div>
                        </div>
                      </div>
                </div>


            </div>

        </div>

        <div class="col-md-12 margin-top">
          <div class="col-md-6 noPadding">
              <div class="col-md-12 bgwhite132 paddingTo">
                  <div *ngIf="addEditAssetForm.format == 2">
                      <label for="filepicker-button ">Upload audio</label>
                      <button class=" fp-btn-choose cancelButton" id="filepicker-button" name="userfilechoose" (click)="removeFile()">
                        <i class="fa fa-times" aria-hidden="true"></i>
                      </button>
                      <div>
                        <div class="form-group inputFileCourse">
                          <input class="form-control-file text-success font-weight-bold" type="file" id="audiofile" #audio_file
                            name="file[]" [ngClass]="{ 'is-invalid': submitted && audio_file.errors }" required accept="audio/*"
                            [(ngModel)]="addEditAssetForm.assetRef" attr.data-title="{{ fileName }}" title="{{ selectFileTitle }}">
                          <div *ngIf="submitted && audio_file.errors" class="alert alert-danger">
                            <div *ngIf="audio_file.errors.required">Audio file upload is required</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div *ngIf="addEditAssetForm.format == 1">
                      <label for="filepicker-button ">Upload video</label>
                      <button class=" fp-btn-choose cancelButton" id="filepicker-button" name="userfilechoose" (click)="removeFile()">
                        <i class="fa fa-times" aria-hidden="true"></i>
                      </button>
                      <div>
                        <div class="form-group inputFileCourse">
                          <input class="form-control-file text-success font-weight-bold" type="file" id="videofile" #video_file
                            name="file[]" [ngClass]="{ 'is-invalid': submitted && video_file.errors }" required accept="video/*"
                            [(ngModel)]="addEditAssetForm.assetRef" attr.data-title="{{ fileName }}" title="{{ selectFileTitle }}">
                          <div *ngIf="submitted && video_file.errors" class="alert alert-danger">
                            <div *ngIf="video_file.errors.required">Video file upload is required</div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div *ngIf="addEditAssetForm.format == 3">
                      <label for="filepicker-button ">Upload pdf</label>
                      <button class=" fp-btn-choose cancelButton" id="filepicker-button" name="userfilechoose" (click)="removeFile()">
                        <i class="fa fa-times" aria-hidden="true"></i>
                      </button>
                      <div>
                        <div class="form-group inputFileCourse">
                          <input class="form-control-file text-success font-weight-bold" type="file" id="iframefile" #iframe_file
                            name="file[]" [ngClass]="{ 'is-invalid': submitted && iframe_file.errors }" required
                            accept="application/pdf" [(ngModel)]="addEditAssetForm.assetRef" attr.data-title="{{ fileName }}"
                            title="{{ selectFileTitle }}">
                          <div *ngIf="submitted && iframe_file.errors" class="alert alert-danger">
                            <div *ngIf="iframe_file.errors.required">Link is required</div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="" style="margin-bottom: 24px;">
                      <div *ngIf="addEditAssetForm.format == 4">
                        <label for="kpoint">Enter K-point link</label>
                        <textarea cols="30" rows="3" class="form-control form-control-input inputText" id="kpoint"
                          placeholder="Enter video link." name="file" pattern=".{5,500}"
                          [ngClass]="{ 'is-invalid': submitted && kpoint_link.errors }" required
                          [(ngModel)]="addEditAssetForm.assetRef" #kpoint_link></textarea>
                        <input type="submit" (click)="kpointConfigure(addEditAssetForm.assetRef)">
                        <div *ngIf="submitted && kpoint_link.errors" class="alert alert-danger">
                          <div *ngIf="kpoint_link.errors.required">Link is required</div>
                        </div>
                      </div>
                      <span></span>
                    </div>

                    <div class="" style="margin-bottom: 24px;">
                      <div *ngIf="addEditAssetForm.format == 6">
                        <label for="kpoint">Enter YouTube Link</label>
                        <textarea cols="30" rows="3" class="form-control form-control-input inputText" id="kpoint"
                          placeholder="Enter video link." name="file" pattern=".{5,500}" [(ngModel)]="addEditAssetForm.assetRef"
                          #youtube_link [ngClass]="{ 'is-invalid': submitted && youtube_link.errors }" required></textarea>
                        <input type="submit" (click)="youtubeconfigure(addEditAssetForm.assetRef)" class="">
                        <div *ngIf="submitted && youtube_link.errors" class="alert alert-danger">
                          <div *ngIf="youtube_link.errors.required">Link is required</div>
                        </div>
                      </div>
                      <span></span>
                    </div>
              </div>




          </div>
          <div class="col-md-6 noPaddingRight">
              <div class="col-md-12 bgwhite132 paddingTo">


              <div *ngIf="addEditAssetForm.format == 1">
                <video style="width: 100%;" controls controlsList="nodownload">
                  <source src="{{addEditAssetForm.assetRef}}" id="video_here">
                  Your browser does not support HTML5 video.
                </video>
              </div>

              <div *ngIf="addEditAssetForm.format == 2">
                <audio style="width: 100%;" controls>
                  <source src="{{addEditAssetForm.assetRef}}" id="audio_here">
                  Your browser does not support HTML5 video.
                </audio>
              </div>


              <div *ngIf="addEditAssetForm.format == 3">
                <iframe [src]="addEditAssetForm.reference" style="width:100%;height:500px" id="iframe" fullscreen></iframe>
              </div>

              <div *ngIf="addEditAssetForm.format == 4">
                <div #kpplayer></div>
              </div>

              <div *ngIf="addEditAssetForm.format == 6">
                <div *ngIf="youtubeplay.id">
                  <youtube-player [videoId]="youtubeplay.id" (ready)="savePlayer($event)" (change)="onStateChange($event)">
                  </youtube-player>
                </div>
              </div>

            </div>
          </div>
        </div>
    </form>
</div> -->
<div class="deleteModalBackdrop" *ngIf="fileExistModal">
  <div class="deleteModal">
    <div class="modal-header deleteModalHeader">
      <p class="enableDisableModalHeaderP">Warning</p>
      <button class="close closeDeleteModalBtn" aria-label="Close" (click)="closeFileExistModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">
      <div>
        <p class="enableDisableModalBodyP">{{dupFileError}}</p>
      </div>
    </div>

    <div class="modal-footer deleteModalFooter">
      <div class="">
        <button type="button" class="constantbtn-button-blue-left" (click)="fileExistModalSubmit(1)">Yes</button>
      </div>
      <div class="">
        <button type="button" class="constantbtn-button-blue-left" (click)="fileExistModalSubmit(2)">No</button>
      </div>
    </div>
  </div>
</div>
