<div class="report_viewer">
    <app-subheader [headerConfig]="header" [parentcat]="FMReportList" (dropsearch)="handleChange($event)" (btntwo)="Exportreport()" (backClick)="back()"></app-subheader>

    <!-- <div class="report_viewer_header">
    <div class="content_width">
      <div class="header_grid">
        <div class="header_title">
          <h4>
            {{ReportName}}
          </h4>
        </div>
        <div>
          <div class="leftContent">
              <div class="drop_div" >
                  <select class="form-control drop_field" *ngIf="FMReportList.length > 0" name="reportList" [(ngModel)]="SelectedReport"
                    (change)="handleChange($event, SelectedReport)">
                    <option value="" selected disabled>Select Report List</option>
                    <option [value]="report.report_id" *ngFor="let report of FMReportList">{{ report.report_name }}</option>
                  </select>
                </div>
                <div class="">
                  <button class="back_button pull-right" (click)="back()">
                    Back
                  </button>
                </div>
          </div>
        </div>

      </div>
    </div>
  </div> -->

    <!-- <button (click)="OpenModal()">Get report</button> -->
    <div class="inside_form_container">
        <div class=''>
            <div *ngIf="FMReadyForWorking">
                <ngx-fm-report [Data]="FMReport.data" [Report]="FMReport.report" [Toolbar]="FMReport.toolbar" (GetReportMethod)="GetReport($event)"></ngx-fm-report>
            </div>
            <!-- <div *ngIf="FMReportList.length > 0">
        <ul>
          <li *ngFor="let report of FMReportList;">
            <input type="radio" name="report" [value]="report" (click)="handleChange($event, report)">
            {{ report.report_name }}
          </li>
        </ul>
      </div> -->
        </div>
    </div>



    <!-- ------Schedule Popup------- -->
    <!-- <div class="reportBackdrop" *ngIf="openPopUp">
    <div class="reportModal">
      <div class="report_modal_header">
        Select any one of the option
        <button (click)="Close()" class="closebtn">x</button>
      </div>
      <div >
        <div class="text-center">
          <div>&nbsp;</div>
          <div>&nbsp;</div>
          <button class="btn btn-primary"   (click)="Exportreport()">Schedule</button>
          <span>&nbsp;&nbsp;</span>
          <button type="button" class="btn btn-primary" (click)="Close()" >Preview</button>
          <div>&nbsp;</div>
          <div>&nbsp;</div>
        </div>

      </div>

    </div>
  </div> -->

    <!-- ------End Schedule Popup------- -->



    <div class="reportBackdrop" *ngIf="openPopUpModal">
        <div class="reportModal">
            <div class="report_modal_header">
                Save Report
                <button (click)="CloseModal()" class="closebtn">x</button>
            </div>
            <div class="report_modal_body">
                <nb-tabset class="report_viewer_tabset" (changeTab)="selectedTab($event, type)">
                    <nb-tab tabTitle="Add New" [active]="addReport" class="reportSelectionTabs">
                        <form #addReportForm="ngForm">
                            <div class="form_field_container">
                                <label for="reportName">Report Name</label>
                                <input type="text" class="form-control" [(ngModel)]="Report_Name_Temp" name="reportName" id="reportName" #repoName="ngModel" (change)="disableSelectBox($event, repoName.dirty)" [disabled]="hideReportInput" placeholder="Max 50 characters" pattern=".{0,50}"
                                    maxlength="50" required>
                                <div class="required_msg_text" [hidden]="repoName.valid || repoName.pristine">
                                    <small class="form-text text-muted" [hidden]="!repoName.hasError('required')">Report name is
                    required</small>
                                    <small class="form-text text-muted" [hidden]="!repoName.hasError('pattern')"> Maximum 50 characters are
                    allowed</small>
                                </div>
                            </div>

                            <div class="modal_footer_btn">
                                <button class="constantbtn-button-blue-left" [disabled]="!addReportForm.valid" (click)="SaveReport(Report_Name_Temp, addReportForm)">Save</button>
                            </div>
                        </form>

                    </nb-tab>
                    <!--  -->
                    <nb-tab tabTitle="Update" class="reportSelectionTabs">
                        <form #updateReportForm="ngForm">
                            <div class="form_field_container">
                                <label for="selectedReport">Select Report</label>
                                <select class="form-control select_field_height" name="reportList" (change)="disableInput($event, reportList.dirty)" [(ngModel)]="Selected_Report_Temp" #reportList="ngModel" required>
                  <option value="0" selected disabled>Select Report List</option>
                  <option [value]="report.report_id" *ngFor="let report of FMReportList">{{ report.report_name }}
                  </option>
                </select>
                                <div class="required_msg_text" [hidden]="submitted || (reportList.valid && reportList.pristine)">
                                    <small class="form-text text-muted" [hidden]="!reportList.hasError('required')">Select at least one
                    report</small>
                                    <small class="form-text text-muted" *ngIf="reportList.invalid">Please select report from list</small>
                                </div>
                            </div>

                            <div class="modal_footer_btn">
                                <button class="constantbtn-button-blue-left" [disabled]="!updateReportForm.valid" (click)="SaveReport(Selected_Report_Temp, updateReportForm)">Save</button>
                            </div>
                        </form>
                    </nb-tab>
                </nb-tabset>

            </div>

        </div>
    </div>


</div>
<!-- <div *ngIf="exports">
    <ngx-report-schedule [data]="FMReportFilterValues" [menuId]="menuId" (closed)="closedmodel($event)"></ngx-report-schedule>
</div> -->
<ngx-sidebar-form *ngIf="exports" [sidebarTitle]='notiTitle' (outside)="closeSiderBar()" [buttonName]="" [buttonName1]="btnName1" (closeBtn)='closeSiderBar()' (saveBtn)="sendSaveBtn('save')" (saveBtn1)="sendSaveBtn('savenshow')">
  <ngx-report-schedule-sidebar [inpdata]="isdata" [data]="FMReportFilterValues" [menuId]="menuId" (closed)="closedmodel($event)">
  </ngx-report-schedule-sidebar>
</ngx-sidebar-form>
