@import '../../../@theme/styles/variable.scss';
.report_viewer {
    .report_viewer_header {
        background: #fff;
        position: sticky;
        top: 4.75rem;
        z-index: 1020;
        .content_width {
            width: 82vw;
            margin: auto;
            .header_grid {
                display: grid;
                grid-template-columns: 1fr 3fr;
                align-items: center;
                height: 50px;
                padding: 0 30px;
                .header_title {
                    h4 {
                        text-align: left;
                    }
                }
                .leftContent {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    align-items: center;
                }
                .drop_div {
                    display: grid;
                    // grid-template-columns: auto 20px;
                    border: 1px solid $border_color;
                    .drop_field {
                        height: 35px;
                        border: none;
                        box-shadow: none;
                        outline: none;
                        // padding: 10px;
                    }
                }
            }
        }
    }
    .inside_form_container {
        background: #fff;
        margin: 20px;
    }
    .reportBackdrop {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        z-index: 1503;
        background-color: #404040c2;
        .reportModal {
            width: 50%;
            margin: auto;
            background-color: #fff;
            margin-top: 65px;
            border-radius: 5px;
            .report_modal_header {
                background-color: #076ba1;
                height: 55px;
                color: #fff;
                display: grid;
                font-size: 16px;
                align-items: center;
                padding: 0 15px;
                grid-template-columns: 1fr 0fr;
                .closebtn {
                    background-color: transparent;
                    border: none;
                }
            }
            .report_modal_body {
                position: relative;
                padding: 0;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                form {
                    width: 100%;
                    .modal_footer_btn {
                        margin-top: 20px;
                        text-align: right;
                    }
                }
                .report_viewer_tabset {
                    width: 100%;
                }
                .reportSelectionTabs {
                    padding: 25px;
                }
            }
            // .report_modal_footer{
            //   padding: 1.25rem;
            //   border-top: 1px solid #d5dbe0;
            //   border-bottom-left-radius: 0.17rem;
            //   border-bottom-right-radius: 0.17rem;
            //   text-align: right;
            // }
        }
    }
    nb-tabset>ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        /* flex-direction: row; */
        // list-style-type: none;
        // margin: 0;
        padding: 0;
    }
    nb-tabset>ul>li>a {
        justify-content: center;
    }
    nb-tabset>ul>li>a::before {
        background: #076ba19c;
    }
}