.preonDiv_main_container{

.pointer {
    cursor: pointer;
}

.notFoundPage {
    display: inline-block;
    width: 100%;
    padding: 10px;
    height: 100%;
}
@import '../../../../@theme/styles/variable.scss';
.preonDivCategoty{
    .content_width{
        width: 78vw;
        margin: 0 auto;
    }
    .top_header_container{
        background: #fff;
        position: sticky;
        top: 4.75rem;
        z-index: 1020;
        .top_header_div_sticky{
            background: #fff;
            display: grid;
            grid-template-columns: 2fr 4fr 3fr;
            height: 50px;
            align-items: center;
            .page_title{
                text-align: left;
                h4{
                    margin: 0;
                }
            }
            .search_div{
                display: grid;
                grid-template-columns: auto 20px;
                border: 1px solid $border_color;
                .search_field{
                    height: 30px;
                    border: none;
                    box-shadow: none;
                }
                .remove_icon{
                    line-height: 30px;
                }
            }
            .buttons_div{
                text-align: right;
            }
        }
    }
   
    .multiple_category_card_container{
        background:$background_for_card_container;
        margin: 20px 20px 30px;
        width: 95%;
        // margin: auto;
        .cards_container{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-column-gap: 30px;
            grid-row-gap: 30px;
            .singel_card{
                position: relative;
                background: #fff;
                text-align: center;
                box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
                border-radius: 10px;
                .overlay_hidden{
                    position: absolute;
                    background: rgba(0, 0, 0, 0.5);
                    height: 100%;
                    width: 100%;
                    display: grid;
                    align-items: center;
                    font-size: 30px;
                    color: #fff;
                    border-radius: 10px;
                    i{
                        cursor: pointer;
                    }
                }
                // border-bottom-left-radius: 10px ;
                // border-bottom-right-radius: 10px;
                // box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
                .singel_card_image{
                   border-top-left-radius: 10px ;
                   border-top-right-radius: 10px;
                   height: 150px;
                   width: 100%;
                   background-position: center;
                   background-size: cover;
                //    background
                }
                .card_title{
                    padding: 10px !important;
                    border-top: 1px solid $border_color;
                    border-bottom: 1px solid $border_color;
                    color: #000;
                    font-size:$font_size_for_cards; 
                }
                .card_subtitle{
                    font-size: 14px;
                    padding: 10px !important;
                    // border-top: 1px solid #F1F5F8;
                    border-bottom: 1px solid $border_color;
                    color: #000;
                }
                .icon-div{
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    height: 40px;
                    align-items: center;
                    .icon{
                        border-right: 1px solid $border_color;
                        color: $icon_font_color;
                        font-size: 20px;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                    .icon:last-child{
                       border-right: 0px; 
                    }
                }
            }

        }
    }
}
 // .gravatar {
  //   margin-top: 10px;
  //   width: 60px;
  //   // height: 90px;
  // }
  .multiple_preoCat_card_container{
    background:$background_for_card_container;
    margin: 20px 20px 30px;
    width: 95%;
    // margin: auto;
    .preoCat_container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-column-gap: 30px;
        grid-row-gap: 30px;
        .preoCat_card{
            position: relative;
            background: #fff;
            text-align: center;
            box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
            border-radius: 10px;
        }
    }
}
.preoCat-title {
    // width: 100px;
    // padding: 16px 25px 0px;
    // height: 80px;
     margin-top: 5px;
  }
  .preoCat_width{
    width: 1000px;
    margin: 20px 10px 20px 0px;
  }
    /// new structure
    $black-color: #000000b8;
    $border: 1px solid #d1d1d1;
    @mixin folder {
        border-radius: 4px;
        color: $black-color;
        background: #ffffff;
        letter-spacing: 0.1px;
        border: 0.5px solid #d1d1d1;
        &--icon {
          font-size: 20px;
          color: #5f6368;
          padding: 8px 12px;
        }
        &--text {
          font-size: 13px;
          font-weight: 500;
          overflow: hidden;
          user-select: none;
          white-space: nowrap;
          text-overflow: ellipsis;
          width: calc(100% - 58px);
          -webkit-touch-callout: none;
          text-transform: capitalize;
        }
      }
    .dam-content {
      //   overflow-y: auto;
      //   overflow-x: hidden;
        border-left: $border;
        height: calc(100vh - 7.9rem);
        &--folders {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(20%, 219px));
          .folders-section {
            .folder {
              @include folder;
              .hover-content {
                top: 41px;
                z-index: 1;
                width: 100%;
                padding: 10px;
                margin-top: 6px;
                border-radius: 4px;
                background: #ffffff;
                border: 0.5px solid #d1d1d1;
                box-shadow: 0px 4px 6px #0000004a;
                h4 {
                  font-size: 14px;
                  font-weight: 600;
                }
                p {
                  font-size: 13px;
                  line-height: 1.5;
                }
              }
              .window-top {
                bottom: 45px;
                top: inherit !important;
                box-shadow: 0px -3px 6px #00000028 !important;
              }
            }
            .disable {
              text-decoration: line-through;
              background: rgba(105, 110, 115, 0.67);
              color: #000000;
              i {
                font-size: 18px;
              }
            }
          }
          .active-folder {
            background: #e1ebf4;
          }
        }
        &--files {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(21%, 242px));
          .file-section {
            .file {
              @include folder;
              min-height: 200px;
              &--img {
                left: 50%;
                top: 42%;
                font-size: 60px;
                transform: translate(-50%, -50%);
              }
              .inner-file {
                bottom: 0;
                width: 100%;
              }
            }
            .disable {
              background: rgba(105, 110, 115, 0.67);
              .inner-file {
                text-decoration: line-through;
              }
            }
          }
        }
      }

      .duplicateModalBackdrop {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        z-index: 1503;
        background-color: #404040c2;
        .duplicateModal {
            width: 50%;
            margin: auto;
            background-color: #fff;
            margin-top: 65px;
            border-radius: 5px;
        }
    }
    
    .duplicateModalBtn {
        width: auto  ;
        border: none;
        padding: 6px 14px  ;
        background-color: #076ba1  ;
        color: #fff  ;
        text-transform: uppercase  ;
        /* min-width: 90px  ; */
        max-height: 36px  ;
        // max-height: 29px  ;
        &:disabled {
            background-color: #076ba14a  ;
        }
    }
    
    .duplicateModalHeader {
        /* padding: 8px; */
        background: #076ba1;
        color: #fff  ;
    }
    
    .duplicateModalHeaderP {
        margin-bottom: 0;
    }
    
    // .duplicateModalBodyP {
    //     // margin-bottom: 0;
    //     color: #000;
    // }
    
    .closeDuplicateModalBtn {
        color: #fff  ;
    }
    
    .duplicateModalFooter {
        padding: 10px;
    }
    /// end new structure
}