<!-- <div class="col-md-12 catHead sticky-categoryHead">
    <div class="col-md-4">
        <h4 class="marginTop14">COURSE CATEGORY</h4>
    </div>
    <div class="col-md-4 catsearchdiv">
        <input type="text" [(ngModel)]="search.categoryName" class="form-control borderNone" placeholder="Search by keywords" name="namw" [disabled]="nodata">
        <i class="fa fa-remove catRemove" aria-hidden="true" (click)="clear()"></i>
    </div>
    <div class="col-md-4 text-right pad14px">
        <button type="button" class="constantbtn-button-blue-left " (click)="addeditccategory(undefined,0)" [disabled]="nodata">Add Category</button>
        <button type="submit" class="constantbtn-button-blue-left " (click)="back()" id="editbtn2">Back</button>
    </div>
</div> -->
<div class="preonDiv_main_container">


    <div class="preonDivCategoty">
        <!-- <div class="top_header_container">
            <div class="top_header_div_sticky content_width">
                <div class="page_title"> -->
        <!-- ABCpqr -->
        <!-- <h4>PREONBOARDING CATEGORY</h4>
                </div>
                <div>
                    <div class="search_div">
                        <input class="form-control search_field ng-untouched ng-pristine ng-valid" name="namw" [(ngModel)]="search.categoryName" placeholder="Search by keywords" type="text" [disabled]="nodata">
                        <i aria-hidden="true" class="fa fa-remove remove_icon" (click)="clear()"></i>
                    </div>
                </div>
                <div class="buttons_div">
                    <button type="button" class="constantbtn-button-blue-left " (click)="addeditccategory(undefined,0)" [disabled]="nodata">Add Category</button>
                    <button type="submit" class="back_button" (click)="back()">Back</button>
                </div>
            </div>
        </div> -->

        <app-subheader [headerConfig]="header" (inputsearch)="searchData($event)" (addbtn)="addeditccategory(undefined,0)" (dropdownClick)="getSortData($event)"  (filterClick)="gotoFilter()" (comeBack)="breadcrumbNavigate($event)" (btnone) = "addeditcontent(undefined,0)"(backClick)="back()" (Clear)="clear()"></app-subheader>
        <ngx-filter [courseTag]="filters" [filterInnertag]="filtersInner" [filterConfig]="filtercon" (changeFilterData)="filteredChanged($event)"   *ngIf="filter" [clearData]="filterClearData"></ngx-filter>


        <app-skeleton [count]='count' *ngIf="!skeleton"></app-skeleton>
        <!-- 
        <table *ngIf="!skeleton">
            <tr>
                <div class="multiple_preoCat_card_container">
                    <div class="preoCat_width">
                        <div class="preoCat_container">
                            <td>
                                <div class="preoCat_card">
                                    <div class="preoCat">
                                        <ngx-skeleton-loader [theme]="{ width: '216px', height: '145px','margin': '5px' }">
                                        </ngx-skeleton-loader>
                                    </div>
                                    <div class="preoCat-title">
                                        <ngx-skeleton-loader [theme]="{
                                                            width: '170px',
                                                            height: '40px'
                                                          }"></ngx-skeleton-loader>
                                    </div>
                                    <div class="preoCat-title">
                                        <ngx-skeleton-loader [theme]="{
                                                            width: '170px',
                                                            height: '40px'
                                                          }"></ngx-skeleton-loader>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="preoCat_card">
                                    <div class="preoCat">
                                        <ngx-skeleton-loader [theme]="{ width: '216px', height: '145px','margin': '5px' }">
                                        </ngx-skeleton-loader>
                                    </div>
                                    <div class="preoCat-title">
                                        <ngx-skeleton-loader [theme]="{
                                                            width: '170px',
                                                            height: '40px'
                                                          }"></ngx-skeleton-loader>
                                    </div>
                                    <div class="preoCat-title">
                                        <ngx-skeleton-loader [theme]="{
                                                            width: '170px',
                                                            height: '40px'
                                                          }"></ngx-skeleton-loader>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="preoCat_card">
                                    <div class="preoCat">
                                        <ngx-skeleton-loader [theme]="{ width: '216px', height: '145px','margin': '5px'}">
                                        </ngx-skeleton-loader>
                                    </div>
                                    <div class="preoCat-title">
                                        <ngx-skeleton-loader [theme]="{
                                                            width: '170px',
                                                            height: '40px'
                                                          }"></ngx-skeleton-loader>
                                    </div>
                                    <div class="preoCat-title">
                                        <ngx-skeleton-loader [theme]="{
                                                            width: '170px',
                                                            height: '40px'
                                                          }"></ngx-skeleton-loader>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="preoCat_card">
                                    <div class="preoCat">
                                        <ngx-skeleton-loader [theme]="{ width: '216px', height: '145px','margin': '5px'}">
                                        </ngx-skeleton-loader>
                                    </div>
                                    <div class="preoCat-title">
                                        <ngx-skeleton-loader [theme]="{
                                                            width: '170px',
                                                            height: '40px'
                                                          }"></ngx-skeleton-loader>
                                    </div>
                                    <div class="preoCat-title">
                                        <ngx-skeleton-loader [theme]="{
                                                            width: '170px',
                                                            height: '40px'
                                                          }"></ngx-skeleton-loader>
                                    </div>
                                </div>
                            </td>
                        </div>
                    </div>
                </div>
            </tr>
            <tr>
                <div class="multiple_preoCat_card_container">
                    <div class="preoCat_width">
                        <div class="preoCat_container">
                            <td>
                                <div class="preoCat_card">
                                    <div class="preoCat">
                                        <ngx-skeleton-loader [theme]="{ width: '216px', height: '145px','margin': '5px'}">
                                        </ngx-skeleton-loader>
                                    </div>
                                    <div class="preoCat-title">
                                        <ngx-skeleton-loader [theme]="{
                                                                width: '170px',
                                                                height: '40px'
                                                              }"></ngx-skeleton-loader>
                                    </div>
                                    <div class="preoCat-title">
                                        <ngx-skeleton-loader [theme]="{
                                                                width: '170px',
                                                                height: '40px'
                                                              }"></ngx-skeleton-loader>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="preoCat_card">
                                    <div class="preoCat">
                                        <ngx-skeleton-loader [theme]="{ width: '216px', height: '145px','margin': '5px'}">
                                        </ngx-skeleton-loader>
                                    </div>
                                    <div class="preoCat-title">
                                        <ngx-skeleton-loader [theme]="{
                                                                width: '170px',
                                                                height: '40px'
                                                              }"></ngx-skeleton-loader>
                                    </div>
                                    <div class="preoCat-title">
                                        <ngx-skeleton-loader [theme]="{
                                                                width: '170px',
                                                                height: '40px'
                                                              }"></ngx-skeleton-loader>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="preoCat_card">
                                    <div class="preoCat">
                                        <ngx-skeleton-loader [theme]="{ width: '216px', height: '145px','margin': '5px'}">
                                        </ngx-skeleton-loader>
                                    </div>
                                    <div class="preoCat-title">
                                        <ngx-skeleton-loader [theme]="{
                                                                width: '170px',
                                                                height: '40px'
                                                              }"></ngx-skeleton-loader>
                                    </div>
                                    <div class="preoCat-title">
                                        <ngx-skeleton-loader [theme]="{
                                                                width: '170px',
                                                                height: '40px'
                                                              }"></ngx-skeleton-loader>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="preoCat_card">
                                    <div class="preoCat">
                                        <ngx-skeleton-loader [theme]="{ width: '216px', height: '145px','margin': '5px'}">
                                        </ngx-skeleton-loader>
                                    </div>
                                    <div class="preoCat-title">
                                        <ngx-skeleton-loader [theme]="{
                                                                width: '170px',
                                                                height: '40px'
                                                              }"></ngx-skeleton-loader>
                                    </div>
                                    <div class="preoCat-title">
                                        <ngx-skeleton-loader [theme]="{
                                                                width: '170px',
                                                                height: '40px'
                                                              }"></ngx-skeleton-loader>
                                    </div>
                                </div>
                            </td>
                        </div>
                    </div>
                </div>
            </tr>
        </table> -->
        <!-- <div class="multiple_category_card_container" *ngIf="!nodata">
            <div class="content_width" *ngIf="skeleton">
                <div class="cards_container" *ngIf="category?.length">

                    <div class="singel_card" *ngFor="let item of category |filterBy: search; let i=index">
                        <div class="overlay_hidden" [hidden]="item.visible == 1">
                            <i title="Disabled" id="enable_{{item.categoryId}}" class="fa fa-eye-slash" aria-hidden="true" (click)="disableCategory(i,item,false)"></i>
                        </div>
                        <div class="singel_card_image pointer" *ngIf="item.categoryPicRef" [ngStyle]="{'background-image': 'url(' + item.categoryPicRef + ')'}" (click)="content2(item,0)">
                        </div>
                        <div class="singel_card_image pointer" *ngIf="!item.categoryPicRef" [ngStyle]="{'background-image': getUrl('https://bhaveshedgetest.s3.ap-south-1.amazonaws.com/BFL.jpg')}" (click)="content2(item,0)">
                        </div>
                        <div class="card_title pointer" (click)="content2(item,0)">
                            <div *ngIf="item?.categoryName">
                                <div class="" title="{{item.categoryName}}" *ngIf="item?.categoryName?.length <= 15">
                                    {{item.categoryName}}</div>
                                <div class="" title="{{item.categoryName}}" *ngIf="item?.categoryName?.length > 15">
                                    {{item.categoryName.substring(0,15)}}...</div>
                            </div>
                            <div *ngIf="!(item?.categoryName)">Not Available
                            </div>
                        </div>
                        <div class="card_subtitle pointer" (click)="content2(item,0)">
                            Courses : {{item.coursecount}}
                        </div>
                        <div class="icon-div pointer">
                            <div class="icon" title="Edit" (click)="addeditccategory(item,1)">
                                <i aria-hidden="true" class="fa fa-edit"></i>
                            </div>
                            <div class="icon">
                                <i title="Enabled" id="disable_{{item.categoryId}}" class="fa fa-eye" aria-hidden="true" (click)="disableCategory(i,item,true)" [hidden]="item.visible == 0"></i>

                                <i title="Disabled" id="enable_{{item.categoryId}}" class="fa fa-eye-slash" aria-hidden="true" (click)="disableCategory(i,item,false)" [hidden]="item.visible == 1"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- [ngStyle]="{ height: conentHeight }" style="overflow-y: auto" -->
        <div (scroll)="onScroll(scrollMe)" #scrollMe class="overflow_scroll_cards_container" *ngIf="!nodata && skeleton">
            <div *ngIf = "showOld == true">
            <div *ngFor="let item of displayArray|filterBy: search;let i=index">
                <ngx-card (disabled)="clickTodisable(item)" [cardsList]="item" [config]="cardModify" (sectionEdit)="gotoCardaddedit(item)" (gotoDetails)="gotoCardDetails(item)"></ngx-card>
            </div>
        </div>
            <!-- //new structure -->
            <div class="dam-content p-2">
                <ng-container >
                  <!-- <label class="label-name" *ngIf="displayArray?.length>0">Folders</label> -->
                  <div class="dam-content--folders" style="padding:8px;" *ngIf="displayArray?.length>0 && showOld == false">
                      <div class="folders-section p-2" *ngFor="let item of displayArray;let i = index;"
                          (click)="getAllSubCat(item)" 
                          [contextMenu]="folderMenu" [contextMenuSubject]="item" #iconFolder
                          (mouseenter)="mouseup(i, item)" (mouseleave)="mousedown(i)">
                          <div class="folder d-flex align-items-center position-relative cursor-p"
                              [ngClass]="{'active-folder': activeFolder, 'disable': item.visible == 0}">
                              <span class="folder--icon">
                                  <i *ngIf="item.visible == 1" class="fa fa-folder"></i>
                                  <i *ngIf="item.visible == 0"  class="fa fa-eye-slash" title="Enable"></i>
                              </span>
                              <span class="folder--text" title={{item.categoryName}}>{{ item.categoryName }}</span>
                              <div class="hover-content position-absolute" *ngIf="item.isHoverDesc == 1 && item.description" #hover>
                                  <p class="m-0 text-break">{{ item?.description }}</p>
                                <!-- <h4 class="text-break ">Course Count: {{ item?.coursecount }}</h4> -->
                                <p class="m-0 text-break ">Course Count: {{ item?.coursecount }}</p>
                              </div>
                          </div>
                          <context-menu #folderMenu [menuClass]="'context-dropdown'">
                            <ng-template contextMenuItem (execute)="contextItem($event,list)">
                                
                                  <span (click)="View('Edit','')"><i class="fa fas fa-folder"></i>Edit </span>
                                  <!-- <span (click)="View('Duplicate','')"><i class="fa fas fa-folder"></i>Duplicate </span> -->
                                  <span (click)="View('Enable',i)" *ngIf="item?.visible == 0 || item?.isVisibility == 1"><i
                                          class="fas fa-eye"></i>Enable</span>
                                  <span (click)="View('Disable',i)" *ngIf="item?.visible == 1 || item?.isVisibility == 1"><i
                                          class="fas fa-eye-slash"></i>Disable</span>
                                  
                              </ng-template>
                        </context-menu>
                      </div>
                  </div>
                  <div *ngIf= "courseList?.length > 0 && showOld == false">
                    <div *ngFor="let item of courseList;let i=index">
          <ngx-card (disabled)="clickTodisableBatch(item,i)" [cardsList]="item" [config]="cardModifyCourse" (copyClick)="copyCard(item)" (sectionEdit)="addeditccategory(item,1)" (gotoDetails)="gotoCardaddeditCourse(item)"></ngx-card>
      </div>
    </div>
          
                  <label class="label-name" *ngIf="files?.length>0">Files</label>
                  <div class="dam-content--files" *ngIf="files?.length>0">
                      <div class="file-section cursor-p p-2" *ngFor="let item of files;let i = index" (click)="onlyEdit(item)"
                          >
                          <div class="file position-relative" [ngClass]="{ 'disable': item.visible == 0 }">
                              <div class="file--img position-absolute">
                                  <i class={{item.formatIcon}}></i>
                              </div>
                              <div class="inner-file position-absolute d-flex align-items-center">
                                  <span class="file--icon" *ngIf="item.visible == 0"><i class="fa fa-eye-slash"></i></span>
                                  <span class="file--icon" *ngIf="!item.visible == 0"><i class={{item.formatIcon}}></i></span>
                                  <span class="file--text" title={{item.assetName}}>{{ item.assetName }}</span>
                              </div>
                          </div>
                          
                      </div>
                  </div>
                </ng-container>
                <ng-container *ngIf="showContentBoxSpinner">
                  <div class="content_spinner">
                    <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
                  </div>
          
                </ng-container>
                  <!-- <div *ngIf="(folder?.length==0 && files.length == 0) && !showSpinner && !showContentBoxSpinner">
                      <ngx-no-data [config]="noDataVal"></ngx-no-data>
                  </div> -->
              </div>

              <div class="duplicateModalBackdrop" *ngIf="duplicateCourseModal == true">
                <div class="duplicateModal">
                    <div class="modal-header duplicateModalHeader">
                        <p class="duplicateModalHeaderP">Duplicate course {{duplicateCourseData.fullname}}</p>
                        <button class="close closeDuplicateModalBtn" aria-label="Close" (click)="closeDuplicateCourseModal()">
                    <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
        
                    <div class="modal-body" style="max-height: 375px;overflow-y: auto;">
                        <div class="card cardForm">
                            <div class="card-body cardBody">
                                <!-- <h5 class="card-title cardTitle">General</h5> -->
                                <form class="forms-sample formPad10" #courseDupliForm="ngForm">
                                    <!-- <div class="row courseIconContainer">
                                        <div class="col-md-6">
                                        </div>
                                        <div class="col-md-6">
                                        </div>
                                    </div> -->
        
                                    <div class="courseBasicDetailsContainer">
                                        <!-- <div class="form-group">
                                            <label class="left_space" for="courseCode">Course Code</label>
                                            <input type="text" class="form-control inputText" id="courseCode" [(ngModel)]="formDataCourse.courseCode" required placeholder="Code" name="courseCode" #courseCode="ngModel">
                                            <div [hidden]="courseCode.valid || courseCode.pristine" class="alert alert-danger">
                                                <div [hidden]="!courseCode.hasError('required')">Code is required</div>
                                            </div>
                                            <span></span>
                                        </div> -->
        
                                        <div class="form-group">
                                            <label class="left_space" for="fullname">Full Name</label>
                                            <input type="text" class="form-control form-control-input select_field_height inputText" [(ngModel)]="formDataCourse.fullname" required id="fullname" placeholder="Full Name" name="fullname" #fullname="ngModel" minlength="2" maxlength="50">
                                            <div class="errorMsg" [hidden]="fullname.valid || fullname.pristine" class="alert alert-danger">
                                                <div [hidden]="!fullname.hasError('required')">Full Name is required</div>
                                            </div>
                                            <span></span>
                                        </div>
        
                                        <!-- <div class="form-group">
                                            <label class="left_space" for="shortname">Display Name</label>
                                            <input type="text" class="form-control form-control-input select_field_height inputText" id="shortname" [(ngModel)]="formDataCourse.shortname" required placeholder="Display Name" name="shortname" #shortname="ngModel">
                                            <div [hidden]="shortname.valid || shortname.pristine" class="alert alert-danger">
                                                <div [hidden]="!shortname.hasError('required')">Display Name is required</div>
                                            </div>
                                            <span></span>
                                        </div> -->
        
                                        <!-- <div class="form-group">
                                            <label class="left_space" for="categoryId">Category</label>
                                            <select [(ngModel)]="formDataCourse.categoryId" id="categoryId" class="form-control form-control-input select_field_height" required name="categoryId" #categoryId="ngModel">
                                                <option class="form-control" value="" selected disabled>Select Type</option>
                                                <option *ngFor="let item of parentcat" value={{item.categoryId}}>{{item.categoryName}}</option>
                                            </select>
                                            <div [hidden]="categoryId.valid || categoryId.pristine" class="alert alert-danger">
                                                <div [hidden]="!categoryId.hasError('required')">Category is required</div>
                                            </div>
                                            <span></span>
                                        </div>
        
                                        <div class="form-group">
                                            <label class="left_space" for="summary">Summary</label>
                                            <textarea cols="30" rows="6" class="form-control form-control-input inputText" id="summary" [(ngModel)]="formDataCourse.summary" placeholder="Course Summary" name="summary" #summary="ngModel" required pattern=".{20,500}"></textarea>
                                            <div [hidden]="summary.valid || summary.pristine" class="alert alert-danger">
                                                <div [hidden]="!summary.hasError('required')">Summary is required</div>
                                                <div [hidden]="!summary.hasError('pattern')">Minimum 20 characters required</div>
                                            </div>
                                            <span></span>
                                        </div>
        
                                        <div class="form-group tagcontainer">
                                            <label class="left_space" for="addTags">Tags</label>
                                            <div id="addTags" class="input-group">
                                                <tag-input [theme]="'bootstrap'" [(ngModel)]="formDataCourse.tags" name="items">
                                                </tag-input>
                                            </div>
                                        </div> -->
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
        
                    <div class="modal-footer duplicateModalFooter">
                        <div class="">
                            <button type="button" class="duplicateModalBtn" (click)="duplicateCourseAction(true)" [disabled]="!courseDupliForm.valid">Duplicate</button>
                        </div>
                        <div class="">
                            <button type="button" class="duplicateModalBtn" (click)="duplicateCourseAction(false)">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="deleteModalBackdrop" *ngIf="enableDisableCourseModal == true">
                <div class="deleteModal">
                    <div class="modal-header deleteModalHeader">
                        <p *ngIf="!enableCourse" class="enableDisableModalHeaderP">Enable course</p>
                        <p *ngIf="enableCourse" class="enableDisableModalHeaderP">Disable course</p>
                        <button class="close closeDeleteModalBtn" aria-label="Close" (click)="closeEnableDisableCourseModal()">
                    <span aria-hidden="true">&times;</span>
                  </button>
                    </div>
        
                    <div class="modal-body">
                        <div class="" *ngIf="!enableCourse">
                            <p class="enableDisableModalBodyP">Are you sure you want to Enable {{enableDisableCourseData.fullname}} ?</p>
                        </div>
                        <div class="" *ngIf="enableCourse">
                            <p class="enableDisableModalBodyP">Are you sure you want to Disable {{enableDisableCourseData.fullname}} ?</p>
                        </div>
                    </div>
        
                    <div class="modal-footer deleteModalFooter">
                        <div class="col-md-2">
                            <button type="button" class="deleteModalBtn" (click)="enableDisableCourseAction(true)">Yes</button>
                        </div>
                        <div class="col-md-2">
                            <button type="button" class="deleteModalBtn" (click)="enableDisableCourseAction(false)">No</button>
                        </div>
                    </div>
                </div>
            </div>
              <!-- //end new structure -->
        </div>
    </div>



    <!-- <div class="widgets" *ngIf="!nodata">
    <div ba-panel ba-panel-class="with-scroll" *ngIf="category.length">
        <section id="feature sec" class="section01">
            <div class="row col-md-12 catrow content-category-card">
                <div *ngFor="let item of category |filterBy: search; let i=index" class="card col-md-3">
                    <div class="content-category-disabled" [hidden]="item.visible == 1">
                        <i title="Disabled" id="enable_{{item.courseId}}" class="fa fa-eye-slash disabled-icon" aria-hidden="true" (click)="disableCategory(i,item,false)" ></i>
                    </div>
                    <div (click)="content2(item,0)">
                        <a *ngIf="item.categoryPicRef" style="cursor: pointer;">
                            <img src={{item.categoryPicRef}}>
                        </a>
                        <a *ngIf="!item.categoryPicRef" style="cursor: pointer;">
                            <img src='assets/images/category.jpg'>
                        </a>
                    </div>
                    <div (click)="content2(item,0)">
                        <div class="catsep">
                            <p class="toolcatp tooltip" title="{{item.categoryName}}" *ngIf = "item.categoryName.length <= 10" >{{item.categoryName}}</p>
                            <p class="toolcatp tooltip" title="{{item.categoryName}}" *ngIf = "item.categoryName.length > 10">{{item.categoryName.substring(0,10)}}...</p>
                        </div>
                        <div class="col-md-12 manager1">
                            Courses : {{item.coursecount}}
                        </div>
                    </div>

                    <div class="col-sm-12 card-footer-main">
                        <div class="col-sm-6 card-footer-sub">
                            <div class="edit" title="Edit" (click)="addeditccategory(item,1)">
                                <i class="fa fa-edit card-footer-icon pointer" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="col-sm-6 card-footer-sub">
                            <div class="">
                                <i title="Enabled" id="disable_{{item.categoryId}}" class="fa fa-eye card-footer-icon pointer" aria-hidden="true" (click)="disableCategory(i,item,true)" [hidden]="item.visible == 0"></i>
                                <i title="Disabled" id="enable_{{item.categoryId}}" class="fa fa-eye-slash card-footer-icon pointer" aria-hidden="true" (click)="disableCategory(i,item,false)" [hidden]="item.visible == 1"></i>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </section>
    </div>
</div> -->

    <div *ngIf="nodata">
        <!-- <img style="width: 1000px;" src='assets/images/noDataFound1.png' onerror="this.src='assets/images/noDataFound1.png';"> -->
        <!-- <img src='assets/images/noDataFound2.png' onerror="this.src='assets/images/noDataFound2.png';"> -->
        <!-- <p class="nodata"> No Data Found</p> -->
        <ngx-no-data [config]="noDataVal"></ngx-no-data>
    </div>

    <!-- <div *ngIf="nodata" class="nodataPage">
        <ngx-not-found></ngx-not-found>
    </div> -->

    <div class="deleteModalBackdrop" *ngIf="deleteCategoryModal == true">
        <div class="deleteModal">
            <div class="modal-header deleteModalHeader">
                <p class="deleteModalHeaderP">Delete category</p>
                <button class="close closeDeleteModalBtn" aria-label="Close" (click)="closeDeleteCategoryModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="">
                    <p class="deleteModalBodyP">Are you sure you want to delete {{deleteCatData.categoryName}} ?</p>
                </div>
            </div>

            <div class="modal-footer deleteModalFooter">
                <div class="col-md-2">
                    <button type="button" class="deleteModalBtn" (click)="deleteCategoryAction(true)">Yes</button>
                </div>
                <div class="col-md-2">
                    <button type="button" class="deleteModalBtn" (click)="deleteCategoryAction(false)">No</button>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="enableDisableModalBackdrop" *ngIf="enableDisableCategoryModal == true">
    <div class="enableDisableModal">
        <div class="modal-header enableDisableModalHeader">
            <p *ngIf="enableCat" class="enableDisableModalHeaderP">Enable category</p>
            <p *ngIf="!enableCat" class="enableDisableModalHeaderP">Disable category</p>
            <button class="close closeEnableDisableModalBtn" aria-label="Close" (click)="closeEnableDisableCategoryModal()">
        <span aria-hidden="true">&times;</span>
      </button>
        </div>

        <div class="modal-body">
            <div class="" *ngIf="enableCat">
                <p class="enableDisableModalBodyP">Are you sure you want to Enable {{enableDisableCategoryData.categoryName}} ?</p>
            </div>
            <div class="" *ngIf="!enableCat">
                <p class="enableDisableModalBodyP">Are you sure you want to Disable {{enableDisableCategoryData.categoryName}} ?</p>
            </div>
        </div>

        <div class="modal-footer enableDisableModalFooter">
            <div class="col-md-2">
                <button type="button" class="enableDisableModalBtn" (click)="enableDisableCategoryAction(true)">Yes</button>
            </div>
            <div class="col-md-2">
                <button type="button" class="enableDisableModalBtn" (click)="enableDisableCategoryAction(false)">No</button>
            </div>
        </div>
    </div>
</div> -->

    <div class="deleteModalBackdrop" *ngIf="enableDisableCategoryModal == true">
        <div class="deleteModal">
            <div class="modal-header deleteModalHeader">
                <p *ngIf="!enableCat" class="enableDisableModalHeaderP">Enable category</p>
                <p *ngIf="enableCat" class="enableDisableModalHeaderP">Disable category</p>
                <button class="close closeDeleteModalBtn" aria-label="Close" (click)="closeEnableDisableCategoryModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="" *ngIf="!enableCat">
                    <p class="enableDisableModalBodyP">Are you sure you want to Enable {{enableDisableCategoryData.categoryName}} ?</p>
                </div>
                <div class="" *ngIf="enableCat">
                    <p class="enableDisableModalBodyP">Are you sure you want to Disable {{enableDisableCategoryData.categoryName}} ?</p>
                </div>
            </div>

            <div class="modal-footer deleteModalFooter">
                <div class="col-md-2">
                    <button type="button" class="deleteModalBtn" (click)="enableDisableCategoryAction(true)">Yes</button>
                </div>
                <div class="col-md-2">
                    <button type="button" class="deleteModalBtn" (click)="enableDisableCategoryAction(false)">No</button>
                </div>
            </div>
        </div>
    </div>

</div>