<app-subheader [headerConfig]="header" [parentcat]="questionTypeArray" (dropsearch)="selectQuestionType($event)"  (backClick)="back()"></app-subheader>

<div class="upload_question_container">
    <!-- <div class="top_header_container">
        <div class="top_header_div_sticky content_width">
            <div class="page_title">
                <h4>{{title}}</h4>
            </div>

            <div>
                <div class="filter_div">
                    <div class="drop_down">
                        <select class="form-control drop_down_select" name="id" (change)="selectQuestionType(questionTypeArray[$event.target.selectedIndex])">
                            <option *ngFor="let item of questionTypeArray;let i = index"  value={{item?.id}}  [selected]="selectedQuestionType.name == item.name">{{item?.name}}</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="buttons_div">
                <button type="submit" class="back_button" (click)="back()">Back</button>
            </div>
        </div>
    </div> -->
    <div class="upload_file_container">
        <div class="uploadCard" [hidden]="showTable">
            <div class="col-md-12">
                <div class="form-group inputDnD">
                    <label class="sr-only" for="inputFile">File Upload</label>
                    <input type="file" title="{{selectFileTitle}}" #fileUpload class="form-control-file text-success font-weight-bold" id="inputFile" name="inputFile" accept=".csv,.xls,.xlsx, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                        (change)="readFileUrl($event)" attr.data-title="{{fileName}}">
                    <!-- [(ngModel)]="addEditAssetForm.file" -->
                </div>
            </div>
            <div class="text-center">
                <button class="constantbtn-button-blue-left rightMargin" [disabled]="disableUploadButton" *ngIf="enableUpload" (click)="uploadSheet()">Upload</button>
                <button class="constantbtn-button-blue-right" (click)="cancelFile()">Cancel</button>
                <!-- <button class="constantbtn" href="templateExelLink" download><i class="fas fa-download"></i>  Template</button> -->
                <!-- <a [href]="templateExelLink" download></a> -->
                
                <!-- <a [href]="uploadsheetLink" download><button class="constantbtn-button-blue-right"><i class="fas fa-download"></i>  Template</button></a> -->
            </div>
        </div>


        <!--  -->
        <div class="status_title_container" *ngIf="showTable">
            <div class="grid-2-row inside_content">

                <div class="">
                    <h5>Uploaded Question Status</h5>
                </div>
                <div class="text-right">
                    <button class="constantbtn-button-blue-left" [disabled]="validdata.length == 0 || submitDisabled" (click)="submit()">Save</button>
                    <button class="constantbtn-button-blue-right" (click)="cancelFile()">Cancel</button>
                </div>

            </div>

        </div>

        <div *ngIf="selectedQuestionType?.id === '1'">

            <div class="uploadCard" *ngIf="showTable">

                <ngx-datatable #myTable class="material" [rows]="uploadedData" [columnMode]="'force'" [headerHeight]="50" [scrollbarV]="true" [footerHeight]="50" [limit]="10" [selectAllRowsOnPage]="false">
                    <ngx-datatable-column [minWidth]="90" name="Status" [width]=60>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <div>
                                <!-- {{row.assetName}} -->
                                {{row['status']}}
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column [minWidth]="200" name="Reason" [width]=60>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <div>
                                <!-- {{row.assetName}} -->
                                {{row['reason']}}
                            </div>
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column [minWidth]="140" name="Category name" [width]=60>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <div>
                                <!-- {{row.assetName}} -->
                                {{row['Category name']}}
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column [minWidth]="140" name="ContentRef" [width]=60>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <div>
                                <!-- {{row.assetName}} -->
                                {{row.ContentRef}}
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column [minWidth]="140" name="Feedback" [width]=60>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <div>
                                <!-- {{row.assetName}} -->
                                {{row.Feedback}}
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column [minWidth]="140" name="Instructions" [width]=60>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <div>
                                <!-- {{row.assetName}} -->
                                {{row.Instructions}}
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column [minWidth]="140" name="IsCorrect" [width]=60>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <div>
                                <!-- {{row.assetName}} -->
                                {{row.IsCorrect}}
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column [minWidth]="140" name="IsShuffle" [width]=60>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <div>
                                <!-- {{row.assetName}} -->
                                {{row.IsShuffle}}
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column [minWidth]="140" name="Level" [width]=60>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <div>
                                <!-- {{row.assetName}} -->
                                {{row.Level}}
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column [minWidth]="140" name="OptionChoiceType" [width]=60>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <div>
                                <!-- {{row.assetName}} -->
                                {{row.OptionChoiceType}}
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column [minWidth]="140" name="OptionFeedback" [width]=60>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <div>
                                <!-- {{row.assetName}} -->
                                {{row.OptionFeedback}}
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column [minWidth]="140" name="Penality" [width]=60>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <div>
                                <!-- {{row.assetName}} -->
                                {{row.Penality}}
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column [minWidth]="140" name="QueOption" [width]=60>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <div>
                                <!-- {{row.assetName}} -->
                                {{row.QueOption}}
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column [minWidth]="140" name="Question name" [width]=60>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <div>
                                <!-- {{row.assetName}} -->
                                {{row['Question name']}}
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column [minWidth]="140" name="Question text" [width]=60>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <div>
                                <!-- {{row.assetName}} -->
                                {{row['Question text']}}
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column [minWidth]="140" name="Score" [width]=60>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <div>
                                <!-- {{row.assetName}} -->
                                {{row['Score']}}
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column [minWidth]="140" name="Visible" [width]=60>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <div>
                                <!-- {{row.assetName}} -->
                                {{row['Visible']}}
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column [minWidth]="140" name="Tags" [width]=60>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <div>
                                <!-- {{row.assetName}} -->
                                {{row['Tags']}}
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                    <!-- <ngx-datatable-column name="Date" [width]=100>
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <div>
                      {{row.date}}
                    </div>
                  </ng-template>
                </ngx-datatable-column> -->

                    <!-- <ngx-datatable-column name="Status" [width]=100>
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      <div>
                        {{row.status}}
                      </div>
                    </ng-template>
                </ngx-datatable-column> -->
                </ngx-datatable>
                <div class="grid-2-row">
                    <div class="valid_invalid_data">
                        <div class="grid-2-row">
                            <div>
                                <h6>Valid Data - {{validdata?.length}}</h6>
                            </div>
                            <div>
                                <h6>Invalid Data - {{invaliddata?.length}}</h6>
                            </div>

                        </div>
                    </div>
                    <div class="text-center">

                        <button *ngIf="showInvalidExcel" class="constantbtn-button-blue-left rightMargin" (click)="exportToExcelInvalid()"><i class="fas fa-download"></i> Invalid</button>
                        <!-- <button class="constantbtn" href="templateExelLink" download><i class="fas fa-download"></i> Template</button> -->
                        <!-- <a [href]="templateExelLink" download></a> -->
                        <!-- <a href="assets/images/Asset_Upload_Template.xlsx" download><button class="constantbtn-button-blue-right" href="templateExelLink" download><i class="fas fa-download"></i> Template</button></a> -->

                    </div>
                </div>


                <!-- <div class="text-center">
               
              </div> -->
            </div>
        </div>
        <div *ngIf="selectedQuestionType?.id === '2'">

            <div class="uploadCard" *ngIf="showTable">

                <ngx-datatable #myTable class="material" [rows]="uploadedData" [columnMode]="'force'" [headerHeight]="50" [scrollbarV]="true" [footerHeight]="50" [limit]="10" [selectAllRowsOnPage]="false">
                    <ngx-datatable-column [minWidth]="90" name="Status" [width]=60>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <div>
                                <!-- {{row.assetName}} -->
                                {{row['status']}}
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column [minWidth]="200" name="Reason" [width]=60>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <div>
                                <!-- {{row.assetName}} -->
                                {{row['reason']}}
                            </div>
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column [minWidth]="140" name="Category name" [width]=60>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <div>
                                <!-- {{row.assetName}} -->
                                {{row['Category name']}}
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column [minWidth]="140" name="ContentRef" [width]=60>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <div>
                                <!-- {{row.assetName}} -->
                                {{row.ContentRef}}
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column [minWidth]="140" name="Feedback" [width]=60>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <div>
                                <!-- {{row.assetName}} -->
                                {{row.Feedback}}
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column [minWidth]="140" name="Instructions" [width]=60>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <div>
                                <!-- {{row.assetName}} -->
                                {{row.Instructions}}
                            </div>
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column [minWidth]="140" name="Level" [width]=60>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <div>
                                <!-- {{row.assetName}} -->
                                {{row.Level}}
                            </div>
                        </ng-template>
                    </ngx-datatable-column>


                    <ngx-datatable-column [minWidth]="140" name="Penality" [width]=60>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <div>
                                <!-- {{row.assetName}} -->
                                {{row.Penality}}
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column [minWidth]="140" name="QueOption" [width]=60>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <div>
                                <!-- {{row.assetName}} -->
                                {{row.QueOption}}
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column [minWidth]="140" name="QueOptionMatch" [width]=60>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <div>
                                <!-- {{row.assetName}} -->
                                {{row.QueOptionMatch}}
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column [minWidth]="140" name="QueOptionRef" [width]=60>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <div>
                                <!-- {{row.assetName}} -->
                                {{row.QueOptionRef}}
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column [minWidth]="140" name="Question name" [width]=60>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <div>
                                <!-- {{row.assetName}} -->
                                {{row['Question name']}}
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column [minWidth]="140" name="Question text" [width]=60>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <div>
                                <!-- {{row.assetName}} -->
                                {{row['Question text']}}
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column [minWidth]="140" name="Score" [width]=60>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <div>
                                <!-- {{row.assetName}} -->
                                {{row['Score']}}
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column [minWidth]="140" name="Visible" [width]=60>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <div>
                                <!-- {{row.assetName}} -->
                                {{row['Visible']}}
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column [minWidth]="140" name="Tags" [width]=60>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <div>
                                <!-- {{row.assetName}} -->
                                {{row['Tags']}}
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                    <!-- <ngx-datatable-column name="Date" [width]=100>
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <div>
                      {{row.date}}
                    </div>
                  </ng-template>
                </ngx-datatable-column> -->

                    <!-- <ngx-datatable-column name="Status" [width]=100>
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      <div>
                        {{row.status}}
                      </div>
                    </ng-template>
                </ngx-datatable-column> -->
                </ngx-datatable>
                <div class="grid-2-row">
                    <div class="valid_invalid_data">
                        <div class="grid-2-row">
                            <div>
                                <h6>Valid Data - {{validdata?.length}}</h6>
                            </div>
                            <div>
                                <h6>Invalid Data - {{invaliddata?.length}}</h6>
                            </div>

                        </div>
                    </div>
                    <div class="text-center">

                        <button *ngIf="showInvalidExcel" class="constantbtn-button-blue-left rightMargin" (click)="exportToExcelInvalid()"><i class="fas fa-download"></i> Invalid</button>
                        <!-- <button class="constantbtn" href="templateExelLink" download><i class="fas fa-download"></i> Template</button> -->
                        <!-- <a [href]="templateExelLink" download></a> -->
                        <!-- <a href="assets/images/Asset_Upload_Template.xlsx" download><button class="constantbtn-button-blue-right" href="templateExelLink" download><i class="fas fa-download"></i> Template</button></a> -->

                    </div>
                </div>


                <!-- <div class="text-center">
               
              </div> -->
            </div>
        </div>
        <div *ngIf="selectedQuestionType?.id === '3'">

            <div class="uploadCard" *ngIf="showTable">

                <ngx-datatable #myTable class="material" [rows]="uploadedData" [columnMode]="'force'" [headerHeight]="50" [scrollbarV]="true" [footerHeight]="50" [limit]="10" [selectAllRowsOnPage]="false">
                    <ngx-datatable-column [minWidth]="90" name="Status" [width]=60>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <div>
                                <!-- {{row.assetName}} -->
                                {{row['status']}}
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column [minWidth]="200" name="Reason" [width]=60>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <div>
                                <!-- {{row.assetName}} -->
                                {{row['reason']}}
                            </div>
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column [minWidth]="140" name="Category name" [width]=60>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <div>
                                <!-- {{row.assetName}} -->
                                {{row['Category name']}}
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column [minWidth]="140" name="ContentRef" [width]=60>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <div>
                                <!-- {{row.assetName}} -->
                                {{row.ContentRef}}
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column [minWidth]="140" name="Feedback" [width]=60>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <div>
                                <!-- {{row.assetName}} -->
                                {{row.Feedback}}
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column [minWidth]="140" name="Instructions" [width]=60>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <div>
                                <!-- {{row.assetName}} -->
                                {{row.Instructions}}
                            </div>
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column [minWidth]="140" name="Level" [width]=60>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <div>
                                <!-- {{row.assetName}} -->
                                {{row.Level}}
                            </div>
                        </ng-template>
                    </ngx-datatable-column>


                    <ngx-datatable-column [minWidth]="140" name="Penality" [width]=60>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <div>
                                <!-- {{row.assetName}} -->
                                {{row.Penality}}
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column [minWidth]="140" name="QueOption" [width]=60>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <div>
                                <!-- {{row.assetName}} -->
                                {{row.QueOption}}
                            </div>
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column [minWidth]="140" name="Question name" [width]=60>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <div>
                                <!-- {{row.assetName}} -->
                                {{row['Question name']}}
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column [minWidth]="140" name="Question text" [width]=60>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <div>
                                <!-- {{row.assetName}} -->
                                {{row['Question text']}}
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column [minWidth]="140" name="Score" [width]=60>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <div>
                                <!-- {{row.assetName}} -->
                                {{row['Score']}}
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column [minWidth]="70" name="SequenceNo" [width]=60>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <div>
                                <!-- {{row.assetName}} -->
                                {{row['Visible']}}
                            </div>
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column [minWidth]="140" name="Tags" [width]=60>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <div>
                                <!-- {{row.assetName}} -->
                                {{row['Tags']}}
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column [minWidth]="140" name="Visible" [width]=60>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <div>
                                <!-- {{row.assetName}} -->
                                {{row['Visible']}}
                            </div>
                        </ng-template>
                    </ngx-datatable-column>

                    <!-- <ngx-datatable-column name="Date" [width]=100>
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <div>
                      {{row.date}}
                    </div>
                  </ng-template>
                </ngx-datatable-column> -->

                    <!-- <ngx-datatable-column name="Status" [width]=100>
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      <div>
                        {{row.status}}
                      </div>
                    </ng-template>
                </ngx-datatable-column> -->
                </ngx-datatable>
                <div class="grid-2-row">
                    <div class="valid_invalid_data">
                        <div class="grid-2-row">
                            <div>
                                <h6>Valid Data - {{validdata?.length}}</h6>
                            </div>
                            <div>
                                <h6>Invalid Data - {{invaliddata?.length}}</h6>
                            </div>

                        </div>
                    </div>
                    <div class="text-center">

                        <button *ngIf="showInvalidExcel" class="constantbtn-button-blue-left rightMargin" (click)="exportToExcelInvalid()"><i class="fas fa-download"></i> Invalid</button>
                        <!-- <button class="constantbtn" href="templateExelLink" download><i class="fas fa-download"></i> Template</button> -->
                        <!-- <a [href]="templateExelLink" download></a> -->
                        <!-- <a href="assets/images/Asset_Upload_Template.xlsx" download><button class="constantbtn-button-blue-right" href="templateExelLink" download><i class="fas fa-download"></i> Template</button></a> -->

                    </div>
                </div>


                <!-- <div class="text-center">
               
              </div> -->
            </div>
        </div>
        <div *ngIf="selectedQuestionType?.id === '4'">

            <div class="uploadCard" *ngIf="showTable">

                <ngx-datatable #myTable class="material" [rows]="uploadedData" [columnMode]="'force'" [headerHeight]="50" [scrollbarV]="true" [footerHeight]="50" [limit]="10" [selectAllRowsOnPage]="false">
                    <ngx-datatable-column [minWidth]="90" name="Status" [width]=60>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <div>
                                <!-- {{row.assetName}} -->
                                {{row['status']}}
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column [minWidth]="200" name="Reason" [width]=60>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <div>
                                <!-- {{row.assetName}} -->
                                {{row['reason']}}
                            </div>
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column [minWidth]="140" name="Category name" [width]=60>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <div>
                                <!-- {{row.assetName}} -->
                                {{row['Category name']}}
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column [minWidth]="140" name="ContentRef" [width]=60>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <div>
                                <!-- {{row.assetName}} -->
                                {{row.ContentRef}}
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column [minWidth]="140" name="Feedback" [width]=60>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <div>
                                <!-- {{row.assetName}} -->
                                {{row.Feedback}}
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column [minWidth]="140" name="Instructions" [width]=60>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <div>
                                <!-- {{row.assetName}} -->
                                {{row.Instructions}}
                            </div>
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column [minWidth]="140" name="Level" [width]=60>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <div>
                                <!-- {{row.assetName}} -->
                                {{row.Level}}
                            </div>
                        </ng-template>
                    </ngx-datatable-column>


                    <ngx-datatable-column [minWidth]="140" name="MaxLength" [width]=60>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <div>
                                <!-- {{row.assetName}} -->
                                {{row.MaxLength}}
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column [minWidth]="140" name="MinLength" [width]=60>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <div>
                                <!-- {{row.assetName}} -->
                                {{row.MinLength}}
                            </div>
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column [minWidth]="140" name="Question name" [width]=60>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <div>
                                <!-- {{row.assetName}} -->
                                {{row['Question name']}}
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column [minWidth]="140" name="Question text" [width]=60>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <div>
                                <!-- {{row.assetName}} -->
                                {{row['Question text']}}
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column [minWidth]="140" name="Visible" [width]=60>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <div>
                                <!-- {{row.assetName}} -->
                                {{row['Visible']}}
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column [minWidth]="140" name="Tags" [width]=60>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <div>
                                <!-- {{row.assetName}} -->
                                {{row['Tags']}}
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                    <!-- <ngx-datatable-column name="Date" [width]=100>
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <div>
                      {{row.date}}
                    </div>
                  </ng-template>
                </ngx-datatable-column> -->

                    <!-- <ngx-datatable-column name="Status" [width]=100>
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      <div>
                        {{row.status}}
                      </div>
                    </ng-template>
                </ngx-datatable-column> -->
                </ngx-datatable>
                <div class="grid-2-row">
                    <div class="valid_invalid_data">
                        <div class="grid-2-row">
                            <div>
                                <h6>Valid Data - {{validdata?.length}}</h6>
                            </div>
                            <div>
                                <h6>Invalid Data - {{invaliddata?.length}}</h6>
                            </div>

                        </div>
                    </div>
                    <div class="text-center">

                        <button *ngIf="showInvalidExcel" class="constantbtn-button-blue-left rightMargin" (click)="exportToExcelInvalid()"><i class="fas fa-download"></i> Invalid</button>
                        <!-- <button class="constantbtn" href="templateExelLink" download><i class="fas fa-download"></i> Template</button> -->
                        <!-- <a [href]="templateExelLink" download></a> -->
                        <!-- <a href="assets/images/Asset_Upload_Template.xlsx" download><button class="constantbtn-button-blue-right" href="templateExelLink" download><i class="fas fa-download"></i> Template</button></a> -->

                    </div>
                </div>


                <!-- <div class="text-center">
               
              </div> -->
            </div>
        </div>
    </div>

    <div class="popup_conatiner" *ngIf="disabledPopup">
        <div class="addRuleBackdropaddquiz">
            <div class="addRuleDemoaddquizModal">
                <div class="modal-header-1">
                    <p>Add Section</p>
                    <button class="close" aria-label="Close" (click)="closesectionModel()">
          <span aria-hidden="true">&times;</span>
        </button>
                </div>
                <div class="mbody modal-body">
                    <div class="form_body_padding">
                        <div class="question_check_box" *ngFor="let type of questionTypeArray;let i = index">
                            <label class="container"> {{type.name}}
               
                <input type="checkbox"  (ngModelChange)="onChange(type)" [(ngModel)]="type.isChecked">
                <span class="checkmark"></span>
              </label>
                        </div>

                    </div>
                </div>

               
            </div>
        </div>
    </div>