@import '../../../../@theme/styles/variable.scss';
.upload_question_container {
    .top_header_container {
        background: #fff;
        position: sticky;
        top: 3.75rem;
        z-index: 1020;
        .top_header_div_sticky {
            background: #fff;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            height: 50px;
            align-items: center;
            width: 95%;
            margin: auto;
            .page_title {
                text-align: left;
                h4 {
                    margin: 0;
                }
            }
            .search_div {
                display: grid;
                grid-template-columns: auto 20px;
                border: 1px solid $border_color;
                .search_field {
                    height: 30px;
                    border: none;
                    box-shadow: none;
                }
                .remove_icon {
                    line-height: 30px;
                }
            }
            .drop_down {
                border: 1px solid $header_div_border;
                .drop_down_select {
                    height: 30px;
                    border: none;
                    box-shadow: none;
                }
            }
            .buttons_div {
                text-align: right;
            }
        }
    }
    .upload_file_container {
        .m0 {
            margin: 0 auto;
        }
        .uploadCard {
            background: #fff;
            width: 100%;
            padding: 10px;
            margin: auto;
            margin-top: 10px;
        }
        .formGen {
            width: 100%;
        }
        .formGenCard {
            padding-left: 25px;
            margin-top: 25px;
        }
        .cardForm1 {
            color: #666666;
            background-color: #ffffff;
            border: 1px solid #f1eded;
            border-radius: 0px;
            position: relative;
            margin-bottom: 24px;
            box-shadow: none;
            height: 24em;
        }
        .cardForm {
            color: #666666;
            background-color: #ffffff;
            border: 1px solid #f1eded;
            border-radius: 0px;
            position: relative;
            margin-bottom: 24px;
            box-shadow: none;
        }
        /* For Firefox only */
        .inputDnD {
            height: 14em;
            .form-control-file {
                position: relative;
                width: 100%;
                height: 100%;
                min-height: 6em;
                outline: none;
                visibility: hidden;
                cursor: pointer;
                background-color: #c61c23;
                box-shadow: 0 0 5px solid currentColor;
                &:before {
                    color: #ed462f;
                    content: attr(data-title);
                    position: absolute;
                    top: 1.5em;
                    left: 0;
                    width: 100%;
                    /* min-height: 8em; */
                    height: 12em;
                    line-height: 8em;
                    padding-top: 1.5em;
                    opacity: 1;
                    visibility: visible;
                    text-align: center;
                    border: 0.15em dashed #9ea4a5;
                    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
                    overflow: hidden;
                }
                &:hover {
                    &:before {
                        border-style: solid #076ba1;
                        /*box-shadow: inset 0px 0px 0px 0.25em currentColor;*/
                    }
                }
            }
        }
        .centerAlign {
            width: 100%;
            text-align: center;
        }
    }
    .upload_data_table {
        .m0 {
            margin: 0 auto;
        }
        .previewGrid {
            height: 100%;
            padding-top: 40px;
            box-sizing: border-box;
        }
        .formGen {
            width: 100%;
        }
        .formGenCard {
            padding-left: 25px;
            margin-top: 25px;
        }
        .cardForm1 {
            color: #666666;
            background-color: #ffffff;
            border: 1px solid #f1eded;
            border-radius: 0px;
            position: relative;
            margin-bottom: 24px;
            box-shadow: none;
            height: 24em;
        }
        .cardForm {
            color: #666666;
            background-color: #ffffff;
            border: 1px solid #f1eded;
            border-radius: 0px;
            position: relative;
            margin-bottom: 24px;
            box-shadow: none;
        }
    }
}

.grid-2-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 50px;
    align-items: center;
    h5 {
        margin: 0;
    }
}

.status_title_container {
    background: #fff;
    margin: 10px 0;
    position: sticky;
    z-index: 1021;
    top: 7rem;
    .inside_content {
        width: 95%;
        margin: 0 auto;
    }
}

.popup_conatiner {
    .addRuleBackdropaddquiz {
        // position: absolute;
        // width: 100%;
        // height: 100%;
        // top: 67px;
        // background-color: #404040c2;
        // z-index: 2000;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        z-index: 1503;
        background-color: #404040c2;
        .addRuleDemoaddquizModal {
            /*width: 80%;*/
            // width: 50%;
            // margin: auto;
            // background-color: #fff;
            // margin-top: 50px;
            // border-radius: 5px;
            width: 50%;
            margin: auto;
            background-color: #fff;
            margin-top: 65px;
            border-radius: 5px;
        }
    }
    .addRuleDemoaddquizModal .modal-header {
        border-bottom: 1px solid #d5dbe0;
        border-top-left-radius: 0.17rem;
        border-top-right-radius: 0.17rem;
        color: #ffffff;
        font-family: Poppins;
        font-weight: 500;
        font-size: 18px;
        background: #076ba1;
        p {
            margin: 0;
        }
        .close {
            color: #fff;
        }
    }
    .modal-header-1 {
        padding: 10px;
        border-bottom: 1px solid #d5dbe0;
        border-top-left-radius: 0.17rem;
        border-top-right-radius: 0.17rem;
        color: #181818;
        font-family: Poppins;
        font-weight: 500;
        font-size: 1.125rem;
        background: #076ba1;
        color: white;
        display: grid;
        grid-template-columns: 2fr 0fr;
        align-items: center;
        p {
            margin: 0;
        }
        .close {
            display: contents;
            color: #fff;
            outline: none;
        }
    }
}

.question_check_box {
    /* The container */
    .container {
        display: block;
        position: relative;
        padding-left: 27px;
        margin-bottom: 9px;
        cursor: pointer;
        font-size: 13px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    /* Hide the browser's default checkbox */
    .container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }
    /* Create a custom checkbox */
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 20px;
        width: 20px;
        background-color: #eee;
    }
    /* On mouse-over, add a grey background color */
    .container:hover input~.checkmark {
        background-color: #ccc;
    }
    /* When the checkbox is checked, add a blue background */
    .container input:checked~.checkmark {
        background-color: #2196F3;
    }
    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }
    /* Show the checkmark when checked */
    .container input:checked~.checkmark:after {
        display: block;
    }
    /* Style the checkmark/indicator */
    .container .checkmark:after {
        left: 7px;
        top: 5px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}