<app-subheader [headerConfig]="header" (inputsearch)="searchData($event)" (addbtn)="gotoaddeditLadders()" (backClick)="back()"></app-subheader>
<ngx-no-data *ngIf="noladders||Nodatafound" [config]="noDataVal"></ngx-no-data>
<div class="leaderboard_container">
    <div class="leaderboard_div">
        <!-- <div class="top_header_container">
        </div> -->

        <div *ngIf="skeleton ">
            <!--  [ngStyle]="{ height: conentHeight }" style="overflow-y: auto" -->
            <div *ngIf="!Nodatafound || !noladders" (scroll)="onScroll(scrollMe)" #scrollMe class="overflow_scroll_cards_container">
                <div *ngFor="let item of rows;let i=index">
                    <ngx-card (disabled)="clickTodisable(item)" [cardsList]="item" [config]="cardModify" (gotoDetails)="gotoCardaddedit(item)"></ngx-card>
                </div>
            </div>
        </div>
        <app-skeleton [count]='count' *ngIf="!skeleton"></app-skeleton>

        <!-- 
        <table *ngIf="!skeleton">
            <tr>
                <div class="multiple_category_card_container2">
                    <div class="content_width2">
                        <div class="cards_container2">
                            <td>
                                <div class="singel_card2">
                                    <div class="">
                                        <ngx-skeleton-loader [theme]="{ width: '216px', height: '100px','margin': '5px' }">
                                        </ngx-skeleton-loader>
                                    </div>
                                    <div class="-title">
                                        <ngx-skeleton-loader [theme]="{
                                                            width: '170px',
                                                            height: '40px'
                                                          }"></ngx-skeleton-loader>
                                    </div>
                                    <div class="-title">
                                        <ngx-skeleton-loader [theme]="{
                                                            width: '170px',
                                                            height: '40px'
                                                          }"></ngx-skeleton-loader>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="singel_card2">
                                    <div class="">
                                        <ngx-skeleton-loader [theme]="{ width: '216px', height: '100px','margin': '5px' }">
                                        </ngx-skeleton-loader>
                                    </div>
                                    <div class="-title">
                                        <ngx-skeleton-loader [theme]="{
                                                            width: '170px',
                                                            height: '40px'
                                                          }"></ngx-skeleton-loader>
                                    </div>
                                    <div class="-title">
                                        <ngx-skeleton-loader [theme]="{
                                                            width: '170px',
                                                            height: '40px'
                                                          }"></ngx-skeleton-loader>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="singel_card2">
                                    <div class="">
                                        <ngx-skeleton-loader [theme]="{ width: '216px', height: '100px','margin': '5px'}">
                                        </ngx-skeleton-loader>
                                    </div>
                                    <div class="-title">
                                        <ngx-skeleton-loader [theme]="{
                                                            width: '170px',
                                                            height: '40px'
                                                          }"></ngx-skeleton-loader>
                                    </div>
                                    <div class="-title">
                                        <ngx-skeleton-loader [theme]="{
                                                            width: '170px',
                                                            height: '40px'
                                                          }"></ngx-skeleton-loader>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="singel_card2">
                                    <div class="">
                                        <ngx-skeleton-loader [theme]="{ width: '216px', height: '100px','margin': '5px'}">
                                        </ngx-skeleton-loader>
                                    </div>
                                    <div class="-title">
                                        <ngx-skeleton-loader [theme]="{
                                                            width: '170px',
                                                            height: '40px'
                                                          }"></ngx-skeleton-loader>
                                    </div>
                                    <div class="-title">
                                        <ngx-skeleton-loader [theme]="{
                                                            width: '170px',
                                                            height: '40px'
                                                          }"></ngx-skeleton-loader>
                                    </div>
                                </div>
                            </td>
                        </div>
                    </div>
                </div>
            </tr>
            <tr>
                <div class="multiple_category_card_container2">
                    <div class="content_width2">
                        <div class="cards_container2">
                            <td>
                                <div class="singel_card2">
                                    <div class="">
                                        <ngx-skeleton-loader [theme]="{ width: '216px', height: '100px','margin': '5px'}">
                                        </ngx-skeleton-loader>
                                    </div>
                                    <div class="-title">
                                        <ngx-skeleton-loader [theme]="{
                                                                width: '170px',
                                                                height: '40px'
                                                              }"></ngx-skeleton-loader>
                                    </div>
                                    <div class="-title">
                                        <ngx-skeleton-loader [theme]="{
                                                                width: '170px',
                                                                height: '40px'
                                                              }"></ngx-skeleton-loader>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="singel_card2">
                                    <div class="">
                                        <ngx-skeleton-loader [theme]="{ width: '216px', height: '100px','margin': '5px'}">
                                        </ngx-skeleton-loader>
                                    </div>
                                    <div class="-title">
                                        <ngx-skeleton-loader [theme]="{
                                                                width: '170px',
                                                                height: '40px'
                                                              }"></ngx-skeleton-loader>
                                    </div>
                                    <div class="-title">
                                        <ngx-skeleton-loader [theme]="{
                                                                width: '170px',
                                                                height: '40px'
                                                              }"></ngx-skeleton-loader>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="singel_card2">
                                    <div class="">
                                        <ngx-skeleton-loader [theme]="{ width: '216px', height: '100px','margin': '5px'}">
                                        </ngx-skeleton-loader>
                                    </div>
                                    <div class="-title">
                                        <ngx-skeleton-loader [theme]="{
                                                                width: '170px',
                                                                height: '40px'
                                                              }"></ngx-skeleton-loader>
                                    </div>
                                    <div class="-title">
                                        <ngx-skeleton-loader [theme]="{
                                                                width: '170px',
                                                                height: '40px'
                                                              }"></ngx-skeleton-loader>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="singel_card2">
                                    <div class="">
                                        <ngx-skeleton-loader [theme]="{ width: '216px', height: '100px','margin': '5px'}">
                                        </ngx-skeleton-loader>
                                    </div>
                                    <div class="-title">
                                        <ngx-skeleton-loader [theme]="{
                                                                width: '170px',
                                                                height: '40px'
                                                              }"></ngx-skeleton-loader>
                                    </div>
                                    <div class="-title">
                                        <ngx-skeleton-loader [theme]="{
                                                                width: '170px',
                                                                height: '40px'
                                                              }"></ngx-skeleton-loader>
                                    </div>
                                </div>
                            </td>
                        </div>
                    </div>
                </div>
            </tr>
        </table> -->


        <!-- <div *ngIf="noladders||Nodatafound">
            <div>
                <img class="noDataImg" src='assets/images/noDataFound1.png' onerror="this.src='assets/images/noDataFound1.png';">
            </div>
        </div>
    </div> -->


        <!-- <div *ngIf="Nodatafound">
        <div>
            <img class="noDataImg" src='assets/images/noDataFound1.png' onerror="this.src='assets/images/noDataFound1.png';">
        </div>
    </div> -->

        <div class="deleteModalBackdrop" *ngIf="enableDisableLadderModal == true">
            <div class="deleteModal">
                <div class="modal-header deleteModalHeader">
                    <p *ngIf="!enableLadder" class="enableDisableModalHeaderP">{{title}}</p>
                    <p *ngIf="enableLadder" class="enableDisableModalHeaderP">{{title}}</p>
                    <button class="close closeDeleteModalBtn" aria-label="Close" (click)="closeEnableDisableLadderModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>

                <div class="modal-body">
                    <div class="" *ngIf="!enableLadder">
                        <p class="enableDisableModalBodyP">Are you sure you want to Enable {{enableDisableLadderData.ladderName}} ?</p>
                    </div>
                    <div class="" *ngIf="enableLadder">
                        <p class="enableDisableModalBodyP">Are you sure you want to Disable {{enableDisableLadderData.ladderName}} ?</p>
                    </div>
                </div>

                <div class="modal-footer deleteModalFooter">
                    <div class="">
                        <button type="button" class="constantbtn-button-blue-left" (click)="enableDisableLadderAction(true)">Yes</button>
                    </div>
                    <div class="">
                        <button type="button" class="constantbtn-button-blue-right" (click)="enableDisableLadderAction(false)">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- ********************************* OLD CODE ******************************** -->

    <!-- <div class="gamidivLadder col-md-12 sticky-topEnroll">
    <div class="col-md-6 gamiSubdiv2" >
    <h3 class="heading">Leaderboard</h3>
    </div>

    <div class="col-md-6 text-right" style="padding-right: 0;">
    <button type="button" class="constantbtn-button-blue-left" (click)="gotoaddeditLadders('')">Add Leaderboard</button>
    <button type="button" class="constantbtn-button-blue-right" (click)="back()" id="editbtnEnroll">Back</button>
    </div>
    </div>

<div class="widgets" *ngIf="!Nodatafound">

<div *ngIf="!noladders" ba-panel ba-panel-class="with-scroll">
    <section id="feature sec" class="section01">
        <div class="row col-md-12 catrow">
            <div *ngFor="let item of rows ; let i=index" class="card col-md-3">
                    (click)="content2(item,0)"
                <div>
                    <a *ngIf="!item.ico" style="cursor: pointer;">
                        <img src='assets/images/courseicon.jpg'>
                    </a>
                    <a *ngIf="item.ico" style="cursor: pointer;">
                        <img src={{item.ico}}>
                    </a>
                </div>

                <div>
                    <div class="catsep">
                        <p class="toolcatp1 tooltip1">{{item.ladderName}}</p>
                    </div>
                    <div class="col-sm-12" style="height: 70px;border-bottom: 1px solid #f1f5f8;">
                        <p class="catdesp" title="{{item.description}}">{{item.desc | slice:0:120}}</p>
                    </div>
                </div>

                <div class="col-sm-12 card-footer-main">
                    <div class="col-sm-6 card-footer-sub">
                        <div class="" title="Edit" (click)="gotoaddeditLadders(item)">
                            <i class="fa fa-edit card-footer-icon pointer" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="col-sm-6 card-footer-sub">
                        <div class="">
                            <i title="Enabled" id="disable_{{item.visible}}" class="fa fa-eye card-footer-icon pointer" aria-hidden="true" (click)="disableLadder(i,item,true)" [hidden]="item.visible == 0"></i>
                            <i title="Disabled" id="enable_{{item.visible}}" class="fa fa-eye-slash card-footer-icon pointer" aria-hidden="true" (click)="disableLadder(i,item,false)" [hidden]="item.visible == 1"></i>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section>
</div>

<div *ngIf="noladders">
    <div class="NoDataDiv">
        No Ladders Found.
    </div>
</div>
</div> -->