.leaderboard_container{
.pointer{
    cursor: pointer;
}

.NoDataDiv{
  position:fixed;
  top: 50%;
  left: 52%;
}

.modal-header{
  background-color: #076ba1;
  height: 55px;
  color: #fff ;
}


.close {
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #fff ;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
}

.modal-body .row{
  margin: 20px 0 ;
}

.modal-body {
  position: relative;
  padding: 0 ;
  display: flex;
  box-sizing: border-box;
}

.modal-footer{
  height: 55px;
}

.enableDisableModalBodyP{
  margin: 1rem;
}

// .floterightgami {
//   float: right;
// }

// .constantbtn{
//   width: auto ;
//   border: none;
//   padding: 6px 14px ;
//   background-color: #076ba1 ;
//   color: #fff ;
//   text-transform: uppercase ;
//   min-width: 90px ;
//   max-height: 29px ;
// }

// .constantBackbtn{
//   width: auto ;
//   border: none;
//   padding: 6px 14px ;
//   background-color: #bbc0c3 ;
//   color: #fff ;
//   text-transform: uppercase ;
//   min-width: 90px ;
//   max-height: 29px ;
// }

// .catdesp{
//   color: black;
// }

// .catrow {
//   height: auto;
//   width: 100%;
//   display: inline-flex;
//   margin: 0px;
//   padding: 0px;
// }

// .catrow>div {
//   // width: 100%;
//   // padding: 0;
//   // margin:3%;
//   // height: 100%;
//   width: 100%;
//   padding: 0;
//   margin: 4% 0 0 4%;
//   height: 100%;
//   flex: 0 0 20%;
//   a {
//       text-align: center;
//   }
//   a>img {
//       // width: 100%;
//       width: 100%;
//       // height: 100%;
//       height: 125.656px;
//       // height: 190px;
//   }
//   div {
//       width: 100%;
//       // margin: 0.7rem 0;
//       .toolcatp1 {
//           text-align: center;
//           margin: 1% 0% ;
//           // width: 92%;
//           width: 100%;
//           cursor: pointer;
//           font-size: 20px;
//           font-weight: 500;
//           color: black;
//       }
//       .toolcat1 {
//           width: 8%;
//           float: right;
//           margin: 3% 0% ;
//       }
//   }
// }

// .catsep {
//   border-bottom: 1px solid #f1f5f8;
//   margin-bottom: 5px;
// }

// /* Center the loader */
// #loader {
//   position: absolute;
//   left: 50%;
//   top: 70%;
//   z-index: 1;
//   width: 150px;
//   height: 150px;
//   margin: -75px 0 0 -75px;
//   border: 16px solid #076ba1;
//   border-radius: 50%;
//   border-top: 16px solid #ffffff;
//   /* border: 16px solid #f3f3f3; Light grey */
//   /* border-top: 16px solid #3498db; Blue */
//   width: 120px;
//   height: 120px;
//   -webkit-animation: spin 2s linear infinite;
//   animation: spin 2s linear infinite;
// }

// @-webkit-keyframes spin {
//   0% { -webkit-transform: rotate(0deg); }
//   100% { -webkit-transform: rotate(360deg); }
// }

// @keyframes spin {
//   0% { transform: rotate(0deg); }
//   100% { transform: rotate(360deg); }
// }

// /* Add animation to "page content" */
// .animate-bottom {
//   position: relative;
//   -webkit-animation-name: animatebottom;
//   -webkit-animation-duration: 1s;
//   animation-name: animatebottom;
//   animation-duration: 1s
// }

// @-webkit-keyframes animatebottom {
//   from { bottom:-100px; opacity:0 } 
//   to { bottom:0px; opacity:1 }
// }

// @keyframes animatebottom { 
//   from{ bottom:-100px; opacity:0 } 
//   to{ bottom:0; opacity:1 }
// }

// .mid{
//   vertical-align: middle;
//   line-height: 21px;
//   padding-right:8px;
// }
// /*@import "../../theme/sass/conf/conf";*/

// :host /deep/.pie-charts {
//   color: #fff;

//   .pie-chart-item-container {
//     position: relative;
//     padding: 0 15px;
//     float: left;
//     box-sizing: border-box;

//     .card {
//       height: 114px;
//     }
//   }

//   @media screen and (min-width: 1325px) {
//     .pie-chart-item-container {
//       max-width: 25%;
//       flex: 0 0 25%
//     }
//   }
//   @media screen and (min-width: 700px) and (max-width: 1325px)  {
//     .pie-chart-item-container {
//       max-width: 50%;
//       flex: 0 0 50%
//     }
//   }
//   @media screen and (max-width: 700px)  {
//     .pie-chart-item-container {
//       max-width: 100%;
//       flex: 0 0 100%
//     }
//   }

//   .pie-chart-item {
//     position: relative;
//     .chart-icon {
//       position: absolute;
//       right: 0;
//       top: 3px;
//     }
//   }
//   @media screen and
//   (min-width: 1325px) and (max-width: 1650px),
//   (min-width: 700px) and (max-width: 830px),
//   (max-width: 400px) {
//     .chart-icon {
//       display: none;
//     }
//   }

//   .chart {
//     position: relative;
//     display: inline-block;
//     width: 84px;
//     height: 84px;
//     text-align: center;
//     float: left;
//   }
//   .chart canvas {
//     position: absolute;
//     top: 0;
//     left: 0;
//   }
//   .percent {
//     display: inline-block;
//     line-height: 84px;
//     z-index: 2;
//     font-size: 16px;
//   }
//   .percent:after {
//     content: '%';
//     margin-left: 0.1em;
//     font-size: .8em;
//   }
//   .description {
//     display: inline-block;
//     padding: 20px 0 0 20px;
//     font-size: 18px;
//     opacity: 0.9;
//     .description-stats {
//       padding-top: 8px;
//       font-size: 24px;
//     }
//   }
//   .angular {
//     margin-top: 100px;
//   }
//   .angular .chart {
//     margin-top: 0;
//   }
// }
// .cloud{
//   font-size: 99px;
//     width: 86px;
//     height: 86px;
//     margin: 21px auto 21px auto;
//     color: #076ba1;
// }

// .mainrow
// {
//   margin:25px 0 0 0;
// }
// .maincol
// {
//   padding: 10px;
//   cursor: pointer;
//   border:none;
// }
// .mainbox
// {
//   border:2px solid #e2f2f9;
//   box-shadow: 2px 4px #e2f2f9;
//   border-radius:10px;
//   background-color:#ffffff;
//   cursor: pointer;
//   height: 240px;outline-style: none;
// }
// .mainh3
// {
//   text-align:center; 
//   color:#076ba1;
//   cursor: pointer;
// }
// .mainp
// {
//   text-align:center;
//   font-weight:300;
//   cursor: pointer;
// }

// .userSubButEnroll {
//   float: right;
//   /* margin-left: 30px; */
//   /*margin-top: 8px;*/
//   transform: none;
//   background: #fff;
//   height: 55px;
//   margin: 0 auto;
//   padding: 13.5px;
// }

// .sticky-topEnroll {
//   position: sticky;
//     top: 66px;
//     /*z-index: 1090;*/
//     z-index: 1040;
// }
// .usersubdiv1Enroll {
//   float: left;
// }

// .floterightEnroll {
//   float: right;
// }


// .optbtnNewEnroll {
//   border-radius: 0 ;
//   background: #ed462f;
//   color: #fff;
//   border: #076ba1;
//   height: 28px;
//   /*width: 91px;*/
//   transform: none ;
// }


// #editbtnEnroll {
//   margin: 0 10px;
//   border-radius: 0;
//   background: #076ba1;
//   color: #fff;
//   border: #076ba1;
//   height: 28px;
//   /*width: 92px;*/
//   color: #ffffff;
//   background-color: #076ba1;
//   background-image: none;
//   border-color: #076ba1;
//   transform: none;
// }

 
@import '../../../@theme/styles/variable.scss';
.leaderboard_div{
    .content_width{
        width: 78vw;
        margin: 0 auto;
    }
    .top_header_container{
        background: #fff;
        position: sticky;
        top: 4.75rem;
        z-index: 1020;
        .top_header_div_sticky{
            background: #fff;
            display: grid;
            grid-template-columns: auto auto; 
            height: 50px;
            align-items: center;
            .page_title{
                text-align: left;
                h4{
                    margin: 0;
                }
            }
            // .filter_div{
            //     // display: grid;
            //     // grid-template-columns: 1fr 1fr;
            //     // grid-column-gap: 10px;
            //     align-items: center;
            //     .drop_down{
            //         border: 1px solid $border_color;
            //         .drop_down_select{
            //             height: 30px;
            //             border: none;
            //             box-shadow: none;
            //         }
            //     }

            //     .search_div{
            //         display: grid;
            //         grid-template-columns: auto 20px;
            //         border: 1px solid $border_color;
            //         .search_field{
            //             height: 30px;
            //             border: none ;
            //             box-shadow: none;
            //         }
            //         .remove_icon{
            //             line-height: 30px;
            //         }
            //     }
            }
            
            .buttons_div{
                text-align: right;
            }
        }
    }
   
    .multiple_category_card_container{
        background:$background_for_card_container;
        margin: 20px auto;
        width: 95%;
        // margin: auto;
        .cards_container{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-column-gap: 30px;
            grid-row-gap: 30px;
            .singel_card{
                position: relative;
                background: #fff;
                text-align: center;
                box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
                border-radius: 10px;
                .overlay_hidden{
                    position: absolute;
                    background: rgba(0, 0, 0, 0.5);
                    height: 100%;
                    width: 100%;
                    display: grid;
                    align-items: center;
                    font-size: 30px;
                    color: #fff;
                    border-radius: 10px;
                    i{
                        cursor: pointer;
                    }
                }
                // border-bottom-left-radius: 10px ;
                // border-bottom-right-radius: 10px;
                // box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
                .singel_card_image{
                   border-top-left-radius: 10px ;
                   border-top-right-radius: 10px;
                   height: 150px;
                   width: 100%;
                   background-position: center;
                   background-size: cover;
                //    background
                }
                .card_title{
                    padding: 10px ;
                    border-top: 1px solid $border_color;
                    border-bottom: 1px solid $border_color;
                    color: #000;
                    font-size:$font_size_for_cards; 
                }
                .card_subtitle{
                    font-size: 14px;
                    padding: 10px ;
                    // border-top: 1px solid #F1F5F8;
                    border-bottom: 1px solid $border_color;
                    color: #000;
                }
              
                .user-icon{
                    display: grid;
                    grid-template-columns: auto auto;
                    height: 40px;
                    align-items: center;

                    .icons-enable-disable{
                        border-right: 1px solid $border_color;
                        color: $icon_font_color;
                        font-size: 20px;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }

                .content-icons{
                    text-align: center;
                    border-bottom: 1px solid $border_color;
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    align-items: center;
                }

                .para_margin_0{
                    margin: 0;
                }
               
            }
            .not_found{
                background-image:url('assets/images/courseicon.jpg');
            }
        }
    }
}

.multiple_category_card_container2{
    // background:$background_for_card_container;
    margin: 20px auto;
    width: 95%;
    // margin: auto;
    .cards_container2{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-column-gap: 30px;
        grid-row-gap: 30px;
        .singel_card2{
            position: relative;
            background: #fff;
            text-align: center;
            box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
            border-radius: 10px;

        }
    }
}
.content_width2{
    width: 1000px;
}