form {
    background: var(--colorBgPage);
    .activity-section {
        background: #ffffff;
        padding: 16px;
        margin-bottom: 16px;
    }
    .browse-div,
    .select-content {
        width: 100%;
        // margin: auto;
        text-align: center;
        padding: 30px 16px;
        border: 1px dashed #a0a0a0;
    }
    .select-content {
        margin: initial;
        position: relative;
        padding: 16px 16px;
        .remove-btn {
            top: 0;
            right: 0;
            color: red;
            font-size: 19px;
            cursor: pointer;
            padding: 0px 8px;
            position: absolute;
            background: white;
            border-left: 1px dashed #a0a0a0;
            border-bottom: 1px dashed #a0a0a0;
        }
        .preview-section {
            h4 {
                font-size: 14px;
                text-align: left;
                span {
                    font-weight: 600;
                }
            }
            .image-div {
                height: 216px;
                img {
                    width: 100%;
                    height: 100%;
                    border: 0.5px solid #e2e2e2;
                }
            }
        }
        .preview-section-multicontent{
          .image-div-svg {
            height: 100px;
            img {
              width: 60px;
              height: 100%;
              // border: 0.5px solid #e2e2e2;
            }
          }
        }
    }
}
