<form #form="ngForm">
    <section class="activity-section">
        <div class="row">
            <div class="col-md-6">
                <!-- {{courseTypeDetails?.supTypeName}} > {{courseTypeDetails?.subTypeName}} -->
            </div>
            <div class="col-md-6">
                <div class="text-right">
                    <button type="submit" class="constantbtn-button-blue-left" (click)="callSaveActivity(form)">Save</button>
                    <button type="button" (click)="closeActivityFormWindow()" class="constantbtn-button-blue-right">Cancel</button>
                </div>
            </div>
        </div>

        <!-- name -->
        <div class="form-group">
            <label class="side-form-label">{{helpContent?.course_Module?.activity_name?.label}}<sup>&#x2731;</sup>
            <app-info-tooltip [description]="helpContent?.course_Module?.activity_name?.labelHelpContent">
            </app-info-tooltip>
          </label>
            <!-- <label class="left_space commonLabel" for="resourceName">{{helpContent?.course_Module?.activity_name?.label}} <sup
          class="reqFieldActivity">*</sup>
        <div class="help-tooltip">
          <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
          <div class="help-tooltip-position-right">
            <p>{{helpContent?.course_Module?.activity_name?.labelHelpContent}}</p>
            <i></i>
          </div>
        </div>
      </label> -->

            <input type="text" class="form-control inputText commonInput" [(ngModel)]="formDataActivity.activityName" required id="name" placeholder="Maximum 50 characters" minlength="2" maxlength="50" name="name" #name="ngModel">
            <div *ngIf="name.errors && (name.dirty || name.touched)" class="invalid-msg">
                <small [hidden]="!name.errors.required">Name is required</small>
                <small [hidden]="!name.errors.minlength">Minimum 2 characters allowed</small>
            </div>
        </div>

        <!-- discription -->
        <div class="form-group">
            <label class="side-form-label">{{helpContent?.course_Module?.act_desc?.label}}
            <app-info-tooltip [description]="helpContent?.course_Module?.act_desc?.labelHelpContent">
            </app-info-tooltip>
          </label>
            <!-- <label class="left_space commonLabel" for="resDesc">{{helpContent?.course_Module?.act_desc?.label}}
        <div class="help-tooltip">
          <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
          <div class="help-tooltip-position-right">
            <p>{{helpContent?.course_Module?.act_desc?.labelHelpContent}}</p>
            <i></i>
          </div>
        </div>
      </label> -->
            <quill-editor ngDefaultControl [(ngModel)]="formDataActivity.description" name="description" #description="ngModel" [minlength]='20' [maxlength] = "500" pattern=".{20,500}" >
            </quill-editor>
            <div *ngIf="description.errors && (description.dirty || description.touched)" class="invalid-msg">
                <small class="invalid-msg" [hidden]="!description.hasError('pattern')">Minimum 20 and maximum 500 characters required.</small>
            </div>
        </div>

        <!-- Format -->
        <div class="form-group" *ngIf="subtypeId == 1 || subtypeId == 2">
            <label class="side-form-label">{{helpContent?.course_Module?.activity_format?.label}}<sup>&#x2731;</sup>
            <app-info-tooltip [description]="helpContent?.course_Module?.activity_format?.labelHelpContent">
            </app-info-tooltip>
          </label>
            <!-- <label for="format" class="commonLabel">
        {{helpContent?.course_Module?.activity_format?.label}}
        <sup class="reqFieldActivity">*</sup>
        <div class="help-tooltip">
          <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
          <div class="help-tooltip-position-right">
            <p>
              {{helpContent?.course_Module?.activity_format?.labelHelpContent}}
            </p>
            <i></i>
          </div>
        </div>
      </label> -->
            <select class="custom-select commonSelect" name="format" #format="ngModel" [(ngModel)]="formDataActivity.formatId" (change)="formatChange($event)" required>
        <option value="" selected disabled>Select Format</option>
        <option *ngFor="let format of formats"
          [hidden]="(format.formatId == 4 || format.formatId == 6 || format.formatId == 8) && subtypeId == 1"
          value="{{ format.formatId }}">{{ format.formatName }}</option>
      </select>
            <div *ngIf="format.errors && (format.dirty || format.touched)" class="invalid-msg">
                <small *ngIf="format.errors.required">
                    Format is required
                </small>
            </div>
        </div>

        <!-- select content quiz-feedback -->
        <div class="row m-1" *ngIf="subtypeId != 1 && subtypeId != 9 &&  subtypeId != 11 ">
            <label class="side-form-label">{{helpContent?.course_Module?.select_content?.label}}<sup>&#x2731;</sup>
            <app-info-tooltip [description]="helpContent?.course_Module?.select_content?.labelHelpContent">
            </app-info-tooltip>
          </label>
            <!-- <label class="col-md-12 commonLabel">{{helpContent?.course_Module?.select_content?.label}}
          <sup class="reqFieldActivity">*</sup>
          <div class="help-tooltip">
            <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
            <div class="help-tooltip-position-right">
              <p>{{helpContent?.course_Module?.select_content?.labelHelpContent}}</p>
              <i></i>
            </div>
          </div>
        </label> -->
            <div class="browse-div mb-3">
                <button type="submit" class="commonBtn" (click)="browse()">Browse</button>
            </div>
            <div class="select-content col-md-6 mb-3" *ngIf="showContentSelected == true && !(subtypeId == 2 && allowMultiLanguage)">

                <span class="remove-btn" (click)="removeSelectedContent()">&times;</span>
                <div class="col-md-12" class="preview-section">
                    <h4 title="{{selectedContentData?.name}}"><span class="pr-1 side-form-label">Title : </span>{{selectedContentData?.name | slice:0:20}}</h4>
                    <div class="image-div">
                        <img src='{{selectedContentData?.refImage}}' onerror="this.src='assets/images/noImage.jpg';">
                    </div>
                </div>
            </div>
            <ng-container *ngIf="showContentSelected == true && (subtypeId == 2 && allowMultiLanguage)">
                <div class="select-content col-md-3 mb-3" *ngFor="let item of selectedMultiLanguageContent;let i = index">
                    <span class="remove-btn" (click)="removeSelectedContentMultiple(i,item,formDataActivity)">&times;</span>
                    <div class="col-md-12" class="preview-section preview-section-multicontent">
                        <h4 title="{{selectedContentData?.assetName}}"><span class="pr-1 side-form-label">Title : </span>{{item?.assetName | slice:0:20}}</h4>
                        <div class="image-div-svg">
                            <!-- <img src='{{item?.refImage}}' onerror="this.src='assets/images/noImage.jpg';"> -->
                            <!-- onerror="this.src='assets/images/noImage.jpg';" -->
                            <img src="assets/icon-svg/{{ formDataActivity?.formatIcon }}.svg" >
                        </div>
                        <h4 title="{{item?.langName}}" class="mt-2"><span class="pr-1 side-form-label">Langugage : </span>{{item?.langName}}</h4>
                    </div>
                </div>
            </ng-container>

        </div>

        <!-- file upload -->
        <div class="inside_container" *ngIf="subtypeId == 1 && formDataActivity.formatId != ''">
            <div class="form_grid">
                <app-file-upload [files]="files" [resetFlag]="resetFlag" [allowedTypes]="allowedTypes" [allowedSize]="104857600" [allowMultiple]="false" (outputFile)="displayOutput($event)"></app-file-upload>
            </div>
        </div>

        <div class="row">
            <!-- completion days -->
            <div class="form-group col-md-6">
                <label class="side-form-label">{{helpContent?.course_Module?.completion_days?.label}}
                <app-info-tooltip [description]="helpContent?.course_Module?.completion_days?.labelHelpContent">
                </app-info-tooltip>
              </label>
                <!-- <label class="commonLabel" for="">{{helpContent?.course_Module?.completion_days?.label}}
          <div class="help-tooltip">
            <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
            <div class="help-tooltip-position-right">
              <p>{{helpContent?.course_Module?.completion_days?.labelHelpContent}}</p>
            </div>
          </div>
        </label> -->
                <div class="d-flex align-items-center">
                    <select id="reviewCheck1" class="custom-select commonSelect" autocomplete="false" [(ngModel)]="formDataActivity.completionDays" name="completionDays" required>
            <option value="undefined" selected disabled>Select </option>
            <option *ngFor="let day of days; let j = index" value="{{day.id}}">
              {{day.name}}
            </option>
          </select>
                    <label class="pl-3 m-0 side-form-label">Days</label>
                </div>
            </div>

            <!-- comopletion tracking -->
            <div class="form-group col-md-6">
                <label class="side-form-label">{{helpContent?.course_Module?.completion_tracking?.label}}<sup>&#x2731;</sup>
                <app-info-tooltip [description]="helpContent?.course_Module?.completion_tracking?.labelHelpContent">
                </app-info-tooltip>
              </label>
                <!-- <label class="left_space commonLabel" for="resType">{{helpContent?.course_Module?.completion_tracking?.label}}
          <sup class="reqFieldActivity">*</sup>
          <div class="help-tooltip">
            <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
            <div class="help-tooltip-position-right">
              <p>{{helpContent?.course_Module?.completion_tracking?.labelHelpContent}}</p>
              <i></i>
            </div>
          </div>
        </label> -->
                <select [(ngModel)]="formDataActivity.completionCriteria" ngDefaultControl id="resType" class="custom-select commonSelect" name="rType" #rType="ngModel">
          <option value="" selected disabled>Select</option>
          <option *ngFor="let type of activityCompTrack" value={{type.id}}>{{type.name}}
          </option>
        </select>
            </div>
        </div>


        <div class="row">
            <!-- tags -->
            <div class="form-group col-md-6">
                <label class="side-form-label">{{helpContent?.course_Module?.tags?.label}}
                <app-info-tooltip [description]="helpContent?.course_Module?.tags?.labelHelpContent">
                </app-info-tooltip>
              </label>
                <!-- <label class="commonLabel" for="addTags">{{helpContent?.course_Module?.tags?.label}}
        <sup class="reqFieldActivity">*</sup>
        <div class="help-tooltip">
          <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
          <div class="help-tooltip-position-right">
            <p>{{helpContent?.course_Module?.tags?.labelHelpContent}}</p>
            <i></i>
          </div>
        </div>
      </label> -->
                <div>
                    <angular2-multiselect id="exampleInputTags4" [data]="tagList" [(ngModel)]="selectedTags" [settings]="settingsTagDrop" #tags="ngModel" (onSelect)="onTagsSelect($event)" class="select_field_height form-control" (onDeSelect)="OnTagDeSelect($event)" name="selectedTags"
                        ngDefaultControl>
                        <c-item>
                            <ng-template let-item="item">
                                <label class="multiselect-label">{{item.name}}</label>
                            </ng-template>
                        </c-item>
                    </angular2-multiselect>
                    <!-- <div *ngIf="tags.errors && (tags.dirty || tags.touched)" class="invalid-msg">
                        <div [hidden]="!tags.errors.required">Tags are required</div>
                    </div> -->
                    <span></span>
                </div>
            </div>
            <!-- start date -->
            <div class="form-group col-md-6" *ngIf="currentActIndex != 0 && activitieslist.length > 0">
                <label class="side-form-label">{{helpContent?.course_Module?.start_date?.label}}
              <app-info-tooltip [description]="helpContent?.course_Module?.start_date?.labelHelpContent">
              </app-info-tooltip>
            </label>
                <!-- <label class="col-md-12 commonLabel ml-0 pl-0" for="">{{helpContent?.course_Module?.start_date?.label}}
              <div class="help-tooltip">
                <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                <div class="help-tooltip-position-right">
                  <p>{{helpContent?.course_Module?.start_date?.labelHelpContent}}</p>
                </div>
              </div>
            </label> -->
                <div class="col-md-12 ml-0 pl-0">
                    <div class="d-flex align-items-center">
                        <label class="startDateLabel pb-0 mb-0 side-form-label" for="reviewCheck1">After</label>
                        <select id="reviewCheck1" class="custom-select commonSelect" autocomplete="false" [(ngModel)]="formDataActivity.dependentActId" name="dependentActId" [disabled]="startDateRadio" required>
                  <option value="" selected disabled>
                    Select</option>
                  <option *ngFor="let activity of activitieslist; let j = index"
                    [hidden]="formDataActivity.activityId == activity.activityId" value={{activity.activityId}}>
                    >
                    {{activity.activityName}}
                  </option>
                </select>
                        <label class="pl-4 m-0 side-form-label">is completed.</label>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <!-- credit details section -->
    <section class="activity-section">
        <div class="pb-3">
            <h5 class="commonTitle">Credit Details</h5>
            <hr>
        </div>



        <!-- role-credit type -->
        <div class="row">
            <div class="col-md-6 p-0" *ngFor="let item of formDataActivity.craditpoints; let i=index ">
                <div class="form-group col-md-6">
                    <label class="side-form-label">{{helpContent?.course_Module?.role?.label}}
                    <app-info-tooltip [description]="helpContent?.course_Module?.role?.labelHelpContent">
                    </app-info-tooltip>
                  </label>
                    <!-- <label class="commonLabel" for="roleId{{i}}">{{helpContent?.course_Module?.role?.label}}
            <div class="help-tooltip">
              <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
              <div class="help-tooltip-position-right">
                <p>{{helpContent?.course_Module?.role?.labelHelpContent}}</p>
                <i></i>
              </div>
            </div>
          </label> -->
                    <select id="roleId{{i}}" class="custom-select commonSelect" [(ngModel)]="item.roleId" name="roleId{{i}}" #roleId="ngModel" (change)="roleTypeSelected(i,item)">
            <option value="" selected disabled>Select Role</option>
            <option *ngFor="let type of roles" [hidden]="type.id == 9 ||
             type.id == 11 || type.id == 12 || type.id == 13 || type.id == 14 || type.id == 15" value={{type.id}}>
              {{type.name}}</option>
          </select>
                </div>

                <div class="form-group col-md-6">
                    <label class="side-form-label">{{helpContent?.course_Module?.credit_type?.label}}
                    <app-info-tooltip [description]="helpContent?.course_Module?.credit_type?.labelHelpContent">
                    </app-info-tooltip>
                  </label>
                    <!-- <label class="commonLabel" for="pformatid{{i}}">{{helpContent?.course_Module?.credit_type?.label}}
            <div class="help-tooltip">
              <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
              <div class="help-tooltip-position-right">
                <p>{{helpContent?.course_Module?.credit_type?.labelHelpContent}}</p>
                <i></i>
              </div>
            </div>
          </label> -->

                    <select id="pformatid{{i}}" class="custom-select commonSelect" [(ngModel)]="item.pformatid" name="pformatid{{i}}" #pformatid="ngModel">
            <option value="" selected disabled>Credit Type</option>
            <option *ngFor="let type of pointFormat" [disabled]="item.roleId == 8 && type.id == 2 " value={{type.id}}>
              {{type.name}}
            </option>
          </select>
                    <span></span>
                </div>

                <div class="form-group col-md-6" *ngIf="item.pformatid == 1">
                    <label class="side-form-label">{{helpContent?.course_Module?.before_completion?.label}}
                    <app-info-tooltip [description]="helpContent?.course_Module?.before_completion?.labelHelpContent">
                    </app-info-tooltip>
                  </label>
                    <!-- <label class="commonLabel" for="bcpoints{{i}}">{{helpContent?.course_Module?.before_completion?.label}}
            <sup class="reqFieldActivity">*</sup>
            <div class="help-tooltip">
              <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
              <div class="help-tooltip-position-right">
                <p>{{helpContent?.course_Module?.before_completion?.labelHelpContent}}</p>
                <i></i>
              </div>
            </div>
          </label> -->
                    <input type="number" class="form-control commonInput" id="bcpoints{{i}}" placeholder="Points" [(ngModel)]="item.bcpoints" name="bcpoints{{i}}" #bcpoints="ngModel" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');"
                        onKeyDown="if(this.value.length==3 && event.keyCode!=8) return false;" maxlength="3" min="1" required>
                    <!-- (change)="setMinVal($event,i)" (input)="onInput($event,i,item)" -->
                    <div *ngIf="bcpoints.errors && (bcpoints.dirty || bcpoints.touched)" class="invalid-msg">
                        <small [hidden]="!bcpoints.errors.required">Points required</small>
                    </div>
                    <span></span>
                </div>

                <div class="form-group col-md-6" *ngIf="item.pformatid == 1">
                    <label class="side-form-label">{{helpContent?.course_Module?.after_completion?.label}}<sup>&#x2731;</sup>
                    <app-info-tooltip [description]="helpContent?.course_Module?.after_completion?.labelHelpContent">
                    </app-info-tooltip>
                  </label>
                    <!-- <label class="commonLabel" for="acpoints{{i}}">{{helpContent?.course_Module?.after_completion?.label}}
            <sup class="reqFieldActivity">*</sup>
            <div class="help-tooltip">
              <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
              <div class="help-tooltip-position-right">
                <p>{{helpContent?.course_Module?.after_completion?.labelHelpContent}}</p>
                <i></i>
              </div>
            </div>
          </label> -->
                    <input type="number" class="form-control commonInput" id="acpoints{{i}}" placeholder="Points" [(ngModel)]="item.acpoints" name="acpoints{{i}}" #acpoints="ngModel" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');"
                        onKeyDown="if(this.value.length==3 && event.keyCode!=8) return false;" maxlength="3" min="1" required>
                    <div *ngIf="acpoints.errors && (acpoints.dirty || acpoints.touched)" class="invalid-msg">
                        <small [hidden]="!acpoints.errors.required">Points required</small>
                    </div>
                    <span></span>
                </div>

                <div class="form-group col-md-6" *ngIf="item.pformatid == 2">
                    <label class="side-form-label">{{helpContent?.course_Module?.before_completion?.label}}<sup>&#x2731;</sup>
                    <app-info-tooltip [description]="helpContent?.course_Module?.before_completion?.labelHelpContent">
                    </app-info-tooltip>
                  </label>
                    <!-- <label class="commonLabel" for="inputPercentage">{{helpContent?.course_Module?.before_completion?.label}}
            <sup class="reqFieldActivity">*</sup>
            <div class="help-tooltip">
              <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
              <div class="help-tooltip-position-right">
                <p>{{helpContent?.course_Module?.before_completion?.labelHelpContent}}</p>
                <i></i>
              </div>
            </div>
          </label> -->
                    <input type="number" class="form-control commonInput" id="bcpoints{{i}}" placeholder="Percentage" [(ngModel)]="item.bcpoints" name="bcpoints{{i}}" #bcpoints="ngModel" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');"
                        onKeyDown="if(this.value.length==3 && event.keyCode!=8) return false;" maxlength="3" min="1" required>
                    <div *ngIf="bcpoints.errors && (bcpoints.dirty || bcpoints.touched)" class="invalid-msg">
                        <small [hidden]="!bcpoints.errors.required">Percentage is required</small>
                    </div>
                    <span></span>
                </div>

                <div class="form-group col-md-6" *ngIf="item.pformatid == 2">
                    <label class="side-form-label">{{helpContent?.course_Module?.after_completion?.label}}<sup>&#x2731;</sup>
                    <app-info-tooltip [description]="helpContent?.course_Module?.after_completion?.labelHelpContent">
                    </app-info-tooltip>
                  </label>
                    <!-- <label class="commonLabel" for="inputPercentage">{{helpContent?.course_Module?.after_completion?.label}}
            <sup class="reqFieldActivity">*</sup>
            <div class="help-tooltip">
              <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
              <div class="help-tooltip-position-right">
                <p>{{helpContent?.course_Module?.after_completion?.labelHelpContent}}</p>
                <i></i>
              </div>
            </div>
          </label> -->
                    <input type="number" class="form-control commonInput" id="acpoints{{i}}" placeholder="Percentage" [(ngModel)]="item.acpoints" name="acpoints{{i}}" #acpoints="ngModel" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');"
                        onKeyDown="if(this.value.length==3 && event.keyCode!=8) return false;" maxlength="3" min="1" required>
                    <div *ngIf="acpoints.errors && (acpoints.dirty || acpoints.touched)" class="invalid-msg">
                        <small [hidden]="!acpoints.errors.required">Percentage is required</small>
                    </div>
                    <span></span>
                </div>

                <div class="form-group ">
                    <span class="glyphicon glyphicon-remove pull-right paraRemove fa fa-times" *ngIf="formDataActivity.craditpoints.length > 1" (click)="removePointsList(i)"></span>
                </div>
            </div>

            <!-- activity duration -->
            <div class="col-md-6">
                <label class="side-form-label">{{helpContent?.course_Module?.activity_Duration?.label}}<sup>&#x2731;</sup>
                <app-info-tooltip [description]="helpContent?.course_Module?.activity_Duration?.labelHelpContent">
                </app-info-tooltip>
              </label>
                <!-- <label class="commonLabel" for="actDuration">{{helpContent?.course_Module?.activity_Duration?.label}}
          <sup class="reqFieldActivity">*</sup>
          <div class="help-tooltip">
            <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
            <div class="help-tooltip-position-right">
              <p>{{helpContent?.course_Module?.activity_Duration?.labelHelpContent}}</p>
              <i></i>
            </div>
          </div>
        </label> -->

                <timepicker id="actDuration" [(ngModel)]="formDataActivity.activityDuration" [showMeridian]="false" [showMinutes]="true" [showSeconds]="true" name="activityDuration" #activityDuration="ngModel" ngDefaultControl required></timepicker>
                <div *ngIf="activityDuration.errors && (activityDuration.dirty || activityDuration.touched)" class="invalid-msg">
                    <small [hidden]="!activityDuration.errors.required">Activity Duration is required</small>
                </div>
            </div>
        </div>


        <!-- checkboxes -->
        <div *ngIf="courseTypeId == 4" class="row">
            <div class="col-sm-12 " *ngIf="subtypeId == 9">
                <div class="col-sm-6 pl-0">
                    <div class="form-group">
                        <label class="mysqrcheck sqrCheckBoxLadder pointer width100">
              <input id="byTrainer" type="checkbox" name="byTrainer" value="true" (change)="toggleCheckbox($event)"
                [required]="checkedAnyOneCheckBox" class="marginRight5px" [(ngModel)]="formDataActivity.byTrainer"
                #byTrainer="ngModel">
              <label class="sqrCheckBoxLadderLabel commonLabel" for="byTrainer"></label>
                        <label class="side-form-label">{{helpContent?.blended_course_Session?.attendByTrainer?.label}}
                <app-info-tooltip [description]="helpContent?.blended_course_Session?.attendByTrainer?.labelHelpContent">
                </app-info-tooltip>
              </label>
                        <!-- <span class="left_space">
                {{helpContent?.blended_course_Session?.attendByTrainer.label}}
                <div class="help-tooltip">
                  <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                  <div class="help-tooltip-position-right">
                    <p>
                      {{helpContent?.blended_course_Session?.attendByTrainer?.labelHelpContent}}
                    </p>
                    <i></i>
                  </div>
                </div>
              </span> -->
                        </label>
                    </div>
                </div>

                <div class="col-sm-6 ">
                    <div class="form-group">
                        <label class="mysqrcheck sqrCheckBoxLadder pointer width100">
              <input id="byLearner" type="checkbox" name="byLearner" value="true" [required]="!checkedAnyOneCheckBox"
                class="marginRight5px" [(ngModel)]="formDataActivity.byLearner" (change)="toggleCheckbox($event)"
                #byLearner="ngModel">
              <label class="sqrCheckBoxLadderLabel commonLabel" for="byLearner"></label>
                        <!-- Attendance By Learner -->
                        <label class="side-form-label">{{helpContent?.blended_course_Session?.attendByLearner?.label}}
                          <app-info-tooltip [description]="helpContent?.blended_course_Session?.attendByLearner?.labelHelpContent">
                          </app-info-tooltip>
                        </label>
                        <!-- <span class="left_space">
                {{helpContent?.blended_course_Session?.attendByLearner.label}}
                <div class="help-tooltip">
                  <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                  <div class="help-tooltip-position-right">
                    <p>
                      {{helpContent?.blended_course_Session?.attendByLearner?.labelHelpContent}}
                    </p>
                    <i></i>
                  </div>
                </div>
              </span> -->
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group" *ngIf="sessionCheckShow">
                <label class="mysqrcheck sqrCheckBoxLadder pointer width100">
          <input id="qenpass" type="checkbox" name="qenpass" value="1" class="marginRight5px"
            [(ngModel)]="formDataActivity.sessionDuration">
          <label class="sqrCheckBoxLadderLabel commonLabel" for="qenpass"></label>
                <label class="side-form-label">{{helpContent?.blended_course_Session?.session_completion?.label}}
            <app-info-tooltip [description]="helpContent?.blended_course_Session?.session_completion?.labelHelpContent">
            </app-info-tooltip>
          </label>
                <!-- <span class="left_space">
            {{helpContent?.blended_course_Session?.session_completion.label}}
            <div class="help-tooltip">
              <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
              <div class="help-tooltip-position-right">
                <p>
                  {{helpContent?.blended_course_Session?.session_completion?.labelHelpContent}}
                </p>
                <i></i>
              </div>
            </div>
          </span> -->
                <!-- Session Completion -->
                </label>
            </div>

            <div class="form-group" *ngIf='isWorkflow'>
                <div>
                    <label class="left_space commonLabel" for="stepId">Select workflow step
            <h3 class="reqFieldActivity">&nbsp; *</h3></label>
                    <select [(ngModel)]="formDataActivity.workflowStepId" ngDefaultControl id="stepId" class="custom-select commonSelect" name="wfstepId" #wfstepId="ngModel">
            <option value="" selected disabled>Select step</option>
            <option *ngFor="let item of workflowSteps" value={{item.id}}>{{item.name}}
            </option>
          </select>
                </div>
            </div>
        </div>

        <div class="row">


            <!-- activity url -->
            <div class="form-group col-md-6" *ngIf="formDataActivity.activityId !=''">
                <label class="side-form-label">{{helpContent?.Acitivity_URL?.label}}
              <app-info-tooltip [description]="helpContent?.Acitivity_URL?.labelHelpContent">
              </app-info-tooltip>
            </label>
                <!-- <label class="commonLabel" for="sdate">{{helpContent?.Acitivity_URL?.label}}
        <div class="help-tooltip">
          <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
          <div class="help-tooltip-position-right">
            <p>{{helpContent?.Acitivity_URL?.labelHelpContent}}</p>
            <i></i>
          </div>
        </div>
      </label> -->
                <div class="copyurl d-flex">
                    <input type="text" class="form-control commonInput" [(ngModel)]="shortUrl" [ngModelOptions]="{standalone: true}" disabled>
                    <!-- <div class="input-group-btn" > -->
                    <button *ngIf="showGenrateButton" class="commonBtn copybtn" title="copy the link" type="submit" (click)="copytext(shortUrl)">
          <!-- <i class="fas fa-copy"></i> -->
          Copy
        </button>
                    <!-- </div> -->
                    <button class="commonBtn copybtn" [disabled]="" (click)="generateAcitivtyUrl()" *ngIf="!showGenrateButton && formDataActivity.activityId !=''">
          <span *ngIf="!linkGenerationInProgress">Generate</span>
          <span *ngIf="linkGenerationInProgress"><i class="fa fa-refresh fa-2x fa-spin-infinite"></i></span>
        </button>
                </div>
            </div>
        </div>
    </section>
</form>
