@import '../../../../../../@theme/styles/variable.scss';
.codeContainer{
    display: grid;
    grid-row-gap: 15px;
    padding: 15px;

.header{
    // width: 30%;
    // text-align: right;
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
}

.alignbtnsRight{
    text-align: right;
}

.dragBtn{
    height: AUTO;
    width: 100%;
    background-color: #ffffff;
    border: none;
    TEXT-ALIGN: LEFT;
  }
  
  .sortIcon{
    right: 4.5px;
    font-size: 14px;
    top: 0px;
  }
  
  .glyphicon-sort:before {
      // content: "\e150";
    //   color: #076ba1;
    color: var(--colorIcons);
  }
  
  .glyphicon-move:before {
      // content: "\e068";
    //   color: #076ba1;
    color: var(--colorIcons);
  }
  
  .dragBtn:focus {
    // outline: 5px auto -webkit-focus-ring-color;
    outline: none;
  }

  .reqField { 
    display: inline;
    color: #ed462f !important;
}

.sectionContent{
    padding: 15px;
    border: 1px solid #eee;
    border-radius: 3px;
    // margin-bottom: 10px;
    div{
        // margin-bottom: 20px;
        label{
            margin-bottom: 10px;
            font-weight: 100;
            font-size: 14px;
        }
        input, textarea{
            margin-bottom: 10px;
        }
    }
    .closeDiv{
        margin: 0 !important;
        margin-bottom: 10px !important;
        /* text-align: right; */
        DISPLAY: FLEX;
        .closebutton{
            background: transparent;
            font-weight: 900;
            border: none;
            color: #ec3d3d;
            font-size: 18px;
            padding: 0;
            width: 20px;
        }
    }
}

}

.uploadCard{
    background: #fff;
    width: 100%;
    padding: 10px;
    margin: auto;
    margin-top: 10px;
  
    
}
.inputDnD {
    // height: 14em;
    .form-control-file {
      position: relative;
      width: 100%;
      height: 100%;
      min-height: 6em;
      outline: none;
      visibility: hidden;
      cursor: pointer;
      background-color: #c61c23;
      box-shadow: 0 0 5px solid currentColor;
      &::before {
        color: #ed462f;
        content: attr(data_col);
        position: absolute;
        left: 0;
        width: 100%;
        height: 6em;
        line-height: 5.5em;
        opacity: 1;
        visibility: visible;
        text-align: center;
        border: 0.15em dashed #9ea4a5;
        -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        overflow: hidden;
    }
    &::hover {
      &:before {
        border-style: solid #076ba1;
        /*box-shadow: inset 0px 0px 0px 0.25em currentColor;*/
      }
    }
  }
}

.attachDiv{
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.attachDiv input[type=file]{
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.removeMulti {
    float: right;
    text-align: right;
    // margin-left: 10rem;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #076ba1 !important;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    background: none;
    border: none;
  }


  sup {
    color: red;
  }