<section class="vh-100 bg-soft d-flex align-items-center domain-bg-image">
  <div class="w-100 text-center col-md-12">
      <div class="row justify-content-center">
          <div class="domain d-flex align-items-center justify-content-center">
              <div class="d-flex justify-content-center flex-column mt-lg-0 shadow-soft border border-light rounded p-4 p-lg-5 w-100">
                  <form #domainForm="ngForm">
                      <div class="form-group row ml-0 pr-3">
                          <div class="input-group col-md-7 pr-0">
                              <div class="input-group-prepend">
                                  <span class="input-group-text"><i class="fas fa-globe"></i></span>
                              </div>
                              <input type="text" [(ngModel)]="domainMap.domainName"
                              #domainName="ngModel"
                              minlength="3"
                              pattern="[a-zA-Z][a-zA-Z ]+"
                              (ngModelChange)="this.domainNameCheck = ''"
                              maxlength="10"
                              required
                              name = "domainName" class="form-control" placeholder="Domain name">
                          </div>
                          <div class="col-md-5 align-self-end pl-1 edge-learn">
                              <label>{{domainNameString}}</label>
                          </div>
                          <ng-container *ngIf="domainName.invalid && domainName.touched">
                            <small class="invalid-msg" [hidden]="!domainName.hasError('required')"
                              >Sub domain Name is required</small
                            >
                            <small class="invalid-msg" [hidden]="!domainName.hasError('minlength')"
                              >Minimum 2 charecter requrired.</small
                                 >
                            <small class="invalid-msg" *ngIf="domainName.errors.pattern"
                                 > Only letters are allowed.</small
                               >
                          </ng-container>
                      </div>
                      <!-- <div class="form-group">
                          <angular2-multiselect
                          [data]="currencyData"
                          [(ngModel)]="domainMap.currency"
                          name = "currency"
                          [settings]="dropdownSettings"
                           required
                        >
                          <c-item>
                            <ng-template let-item="item">
                              <label class="commonLabel">{{ item.name }}</label>
                            </ng-template>
                          </c-item>
                          <c-badge>
                            <ng-template let-item="item">
                              <label class="commonLabel">{{ item.name }}</label>
                            </ng-template>
                          </c-badge>
                        </angular2-multiselect>
                      </div> -->
                      <div class="form-group">
                        <angular2-multiselect
                        [data]="countryData"
                        name = "country"
                        #country="ngModel"
                        [(ngModel)]="domainMap.country"
                        [settings]="dropdownSettings"
                         required
                      >
                        <c-item>
                          <ng-template let-item="item">
                            <label class="mb-1">{{ item.name }}</label>
                          </ng-template>
                        </c-item>
                        <c-badge>
                          <ng-template let-item="item">
                            <label class="mb-1">{{ item.name }}</label>
                          </ng-template>
                        </c-badge>
                      </angular2-multiselect>
                      <ng-container *ngIf="country.invalid && country.touched">
                        <small class="invalid-msg" [hidden]="!country.hasError('required')"
                          >Country Name is required</small
                        >
                      </ng-container>
                    </div>
                    <div class="alert alert-warning" *ngIf ="domainNameCheck === 'Inused'" role="alert">
                        Domain name is already taken.
                    </div>
                    <div class="alert alert-success" *ngIf ="domainNameCheck === 'available'" role="alert">
                      Domain name is available.
                  </div>
                    <div class="mt-4">
                      <button type="submit" class="btn btn-block btn-color"
                          (click)="checkIfDomainName()">check if subdomain exist</button>
                  </div>
                      <div class="mt-4">
                          <button type="submit" class="btn btn-block btn-color"
                              (click)="submit(domainForm)">Submit</button>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</section>
