.domain {
  width: 430px;
  background: #f1f5f8;
  border-radius: 6px;
  .edge-learn {
    padding-top: 4px;
    margin-left: -2px;
    background: #e9ecef;
    border: 1px solid #ced4da;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
}
.domain-bg-image {
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top center;
  background-image: url("../../../assets/Domain.svg");
}
.btn-color {
  color: #ffffff;
  background: #1282ce;
}

.doamin-multi .cuppa-dropdown .selected-list .c-list .c-token {
    background: #0079FE !important;
}

:host{
  --colorCommon: #1282ce;
}
