.asset_review{

  .addEditCattoprow{
    // padding: 12px;
    border: none;
    background-color: #ffffff;
    height: auto;
    width: 100%;
    display: inline-flex;
  }
  .floteright {
    float: right;
    font-size: 13px;
    background-color: #fff;
  }
  
  .addEditCatsticky-top{
    position: sticky;
    top: 67px;
    z-index: 1030;
  }
  
  .addEditCatHead{
    // padding: 15px 0px 15px 30px;
    margin: 15px auto;
  }
  
  .was-validated .form-control:invalid, .form-control.is-invalid{
    background-image: none   ;
  }
  
  .flexInput{
    display: flex;
  }
  
  .bgwhite{
    background-color: white;
  }
  .padding-vertical{
  padding-top: 15px;
  padding-bottom: 15px;
  }
  .margin-vertical{
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .select-height{
    height: 34px   ;
  }
  .padding-vertical{
    padding-bottom: 20px;
  }
  
  .divcalicon{
    // height: 34px;
     padding: 5px;
      width: auto;
     /* border: 1px solid; */
     background: #2795d0;
  }
  
  .calfont{
       font-size: 20px;
     /* padding: 10px 10px; */
     color: #fff;
     // margin-left: 8px;
  }
  
  .sqrCheckBox .sqrCheckBoxLabel {
  border: 1px solid #ccc;
  border-radius: none;
  cursor: pointer;
  height: 16px;
  left: -14px;
  position: -webkit-sticky;
  position: relative;
  width: 16px;
  top: 10px;
  margin-right: -10px;
  }
  .sqrCheckBox .sqrCheckBoxLabel:after {
  // border: 2px solid #fff;
  border: 2px solid #076ba1;
  border-top: none;
  border-right: none;
  content: "";
  height: 4px;
  left: 1.5px;
  opacity: 0;
  position: absolute;
  top: 4.0px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  width: 12px;
  }
  .sqrCheckBox input[type="checkbox"] {
  visibility: hidden;
  }
  .sqrCheckBox input[type="checkbox"]:checked+.sqrCheckBoxLabel {
  background-color: #ffffff;
  border-color: #076ba1;
  }
  .sqrCheckBox input[type="checkbox"]:checked+.sqrCheckBoxLabel:after {
  opacity: 1;
  }
  
  
  .notDetailsModals{
  margin: auto ;
  width:50%;
  background-color: #fff;
  border-radius: 5px;
  margin-top: 2%;
  z-index: 9999;
  }
  
  .OuterDiv{
    padding: 20px;
      width: 100%;
    }
    
    .InnerDiv{
    padding-bottom: 10px;
    p{
      color: black;
    }
    }
  
  /* Hide the browser's default checkbox */
  .container1 input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark1 {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .container1:hover input ~ .checkmark1 {
  background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container1 input:checked ~ .checkmark1 {
  background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark1:after {
  content: "";
  position: absolute;
  display: none;
  }
  
  /* Show the checkmark when checked */
  .container1 input:checked ~ .checkmark1:after {
  display: block;
  }
  
  /* Style the checkmark/indicator */
  .container1 .checkmark1:after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  }
  
  .mardis{
    padding: 5px;
    }
  
  .assetReviewTopRow{
  // padding: 12px;
  border: none;
  background-color: #ffffff;
  height: auto;
  width: 100%;
  display: inline-flex;
  }
  
  .assetReviewTopRow-top{
  position: sticky;
  top: 67px;
  z-index: 1030;
  }
  
  .assetReviewTopRowHead{
  // padding: 15px 0px 15px 30px;
  margin: 15px auto;
  }
  
  .arpBackButton{
  width: auto   ;
    border: none;
    padding: 6px 14px   ;
    background-color: #076ba1   ;
    color: #fff   ;
    text-transform: uppercase   ;
    min-width: 90px   ;
    max-height: 29px   ;
    margin-left: 5px;
  }
  .arpSubmit{
  width: auto   ;
  border: none;
  padding: 6px 14px   ;
  background-color: #076ba1   ;
  color: #fff   ;
  text-transform: uppercase   ;
  min-width: 90px   ;
  max-height: 29px   ;
  }
  
  .modal-header{
  background-color: #076ba1;
  height: 55px;
  color: #fff   ;
  }
  
  .modal-footer{
  height: 55px;
  }
  
  .modal-body .row{
  margin: 20px 0   ;
  }
  
  .modal-body {
  position: relative;
  padding: 1.25rem;;
  display: flex;
  box-sizing: border-box;
  }
  
  .prevbutton{
  padding: 0;
  text-align: center;
  }
  
  .selectDrop{
  height: 35px   ;
  margin-bottom: 20px;
  }
  
  .mar{
    margin-bottom: 20px;
  }
  
  
  .form-control{
  box-shadow: none   ;
  
  }
  
  .cuppa-dropdown .selected-list .c-btn {
  height: 35px   ;
  padding: 8px   ;
  }
  
  .formWidth{
  width: 100%;
  margin: 0;
  }
  
  .divider{
  margin-top: 10px   ;
  width: 100%;
  }
  
  
  /* Hide the browser's default checkbox */
  .checkcontainer2 input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  }
  
  /* Create a custom checkbox */
  .checkMarker {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  margin: 12px 0;
  width: 18px;
  border: 1px solid #2196F3;
  background-color: #feffff;
  }
  
  /* On mouse-over, add a grey background color */
  .checkcontainer2:hover input ~ .checkMarker {
  background-color: #F1F5F8;
  }
  
  /* When the checkbox is checked, add a blue background */
  .checkcontainer2 input:checked ~ .checkMarker {
    background-color: #feffff
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkMarker:after {
  content: "";
  position: absolute;
  display: none;
  }
  
  /* Show the checkmark when checked */
  .checkcontainer2 input:checked ~ .checkMarker:after {
  display: block;
  }
  
  /* Style the checkmark/indicator */
  .checkcontainer2 .checkMarker:after {
    left: 6px;
    top: 1px;
    width: 6px;
    height: 12px;
    border: solid #2196F3;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  .checkcontainer2{
    margin: 5px 0;
    line-height: 30px;
    width: 100%;
    font-size: 14px;
    padding-left: 15px;
    font-weight: 100;
    cursor: pointer;
  }
  
  label{
    font-weight: 100   ;
    margin-bottom: 10px;
    color: #4e4646;
  }
  
  
  // .required_msg_text{
  //   .form-text{
  //     color: #ed462f ;
  //   }
  // }
  
  }