<app-subheader [headerConfig]="header" (addbtn)="onSubmit(reviewFormData, reviewForm)" (comeBack)="backToAsset($event)" (backClick)="back()"></app-subheader>

<div class="asset_review">

    <!-- <div class="col-md-12 assetReviewTopRow assetReviewTopRow-top">
        <div class="col-md-6">
            <h4 class="assetReviewTopRowHead">ASSET REVIEW POLICY</h4>
        </div>
        <div class="col-md-6 text-right pad14px">
            <button type="button" class="constantbtn-button-blue-right" (click)="onSubmit(reviewFormData, reviewForm)">Save</button>
            <button type="submit" class="back_button" (click)="back()">Back</button>
        </div>
    </div> -->

    <form class="container" #reviewForm="ngForm">
        <div class="col-md-12 bgwhite margin-vertical padding-vertical">
            <div class="col-md-4">
                <div class="">
                    <label class="noWeight">
                  {{helpContent?.dam_review_asset?.inception_date.label}}
                  <sup class="reqFieldActivity">*</sup> 
                  <div class="help-tooltip">
                    <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                    <div class="help-tooltip-position-right">
                      <p>{{helpContent?.dam_review_asset?.inception_date?.labelHelpContent}}</p>
                      <i></i>
                    </div>
                  </div>
              </label>
                    <div class="flexInput">
                        <input [owlDateTime]="dt22" placeholder="Inception Date" [owlDateTimeTrigger]="dt22" class="form-control dateinput" [(ngModel)]="reviewFormData.incDate" [ngClass]="{ 'is-invalid': submitted && incepDate.errors }" #incepDate="ngModel" required name="inception"
                        />
                        <div class="divcalicon" [owlDateTimeTrigger]="dt22">
                            <i class="fa fa-calendar calfont"></i>
                        </div>
                        <owl-date-time [pickerType]="'calendar'" #dt22></owl-date-time>
                    </div>
                    <div *ngIf="incepDate.errors && (incepDate.dirty || incepDate.touched)" class="alert alert-danger">
                        <div *ngIf="incepDate.errors.required">Inception date is required</div>
                    </div>
                </div>
            </div>

            <div class="conSearchdiv col-md-4">
                <div>
                    <label for="">
                  {{helpContent?.dam_review_asset?.review_frequency.label}}
                  <sup class="reqFieldActivity">*</sup> 
                  <div class="help-tooltip">
                    <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                    <div class="help-tooltip-position-right">
                      <p>{{helpContent?.dam_review_asset?.review_frequency?.labelHelpContent}}</p>
                      <i></i>
                    </div>
                  </div>
              </label>
                    <select class="commonSelect custom-select" name="freq" [(ngModel)]="reviewFormData.freq" [ngClass]="{ 'is-invalid': submitted && freq.errors }" #freq="ngModel" required (ngModelChange)="setExpDate(reviewFormData.incDate , $event)">
                  <option value="" disabled selected>Select frequency</option>
                <option *ngFor="let time of frequencyDrop" value="{{ time.freqValue }}">{{time.freqName}}</option>
              </select>
                    <div *ngIf="freq.errors && (freq.dirty || freq.touched)" class="alert alert-danger">
                        <div *ngIf="freq.errors.required">Review Frequency field is required</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="">
                    <label class="">
                  {{helpContent?.dam_review_asset?.expiry_date.label}}
                  <sup class="reqFieldActivity">*</sup> 
                  <div class="help-tooltip">
                    <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                    <div class="help-tooltip-position-right">
                      <p>{{helpContent?.dam_review_asset?.expiry_date?.labelHelpContent}}</p>
                      <i></i>
                    </div>
                  </div>
              </label>
                    <div class="flexInput">
                        <input [owlDateTime]="dt23" placeholder="Expiry Date" [(ngModel)]="reviewFormData.expDate" [ngClass]="{ 'is-invalid': submitted && xpDate.errors }" #xpDate="ngModel" required class="form-control dateinput" name="expdate" disabled />
                        <div class="divcalicon" [owlDateTimeTrigger]="dt23">
                            <i class="fa fa-calendar calfont"></i>
                        </div>
                        <owl-date-time [pickerType]="'calendar'" #dt23></owl-date-time>
                    </div>
                    <div *ngIf="xpDate.errors && (xpDate.dirty || xpDate.touched)" class="alert alert-danger">
                        <div *ngIf="xpDate.errors.required">Expiry date is required</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 bgwhite margin-vertical padding-vertical">
            <div class="col-md-12 padding-vertical">
                <label class="">
                {{helpContent?.dam_review_asset?.asset_owner.label}}
                <sup class="reqFieldActivity">*</sup> 
                <div class="help-tooltip">
                  <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                  <div class="help-tooltip-position-right">
                    <p>{{helpContent?.dam_review_asset?.asset_owner?.labelHelpContent}}</p>
                    <i></i>
                  </div>
                </div>
            </label>
                <angular2-multiselect id="exampleInputPassword4" [data]="allEmployeeAutoDrop" [(ngModel)]="reviewFormData.selectedCreator" [ngClass]="{ 'is-invalid': submitted && creator.errors }" #creator="ngModel" required [settings]="settingsCreatorDrop" (onSelect)="onCreatorSelect($event)"
                    (onDeSelect)="OnCreatorDeSelect($event)" name="selectedCreator">
                    <c-search>
                        <ng-template>
                            <input type="text" (keyup)="onCreatorSearch($event)" placeholder="Search & select employee..." style="border: none;width: 100%; height: 100%;outline: none;" />
                        </ng-template>
                    </c-search>
                    <c-item>
                        <ng-template let-item="item">
                            <!-- <label style="color: #333;width: 150px;">{{item.empId}}</label> -->
                            <label style="color: #333;width: 150px;">{{item.empCode}}</label>
                            <!-- <img [src]="item.flag" style="width: 30px; border: 1px solid #efefef;margin-right: 0px;" /> -->
                            <label>{{item.empName}}</label>
                        </ng-template>
                    </c-item>
                </angular2-multiselect>
                <div *ngIf="creator.errors && (creator.dirty || creator.touched)" class="alert alert-danger">
                    <div *ngIf="creator.errors.required">File Owner is required</div>
                </div>
                <span></span>
            </div>

            <br />
            <!-- <div class="conSearchdiv col-md-12">
            <label for="">Event<sup class="reqFieldActivity">*</sup> </label>
            <select class="form-control select-height" name="id"
              [ngClass]="{ 'is-invalid': submitted && f.event.errors }">
              <option value="select">Select</option>
              <option *ngFor="let event of Events" value="{{ event.value }}">{{
                event.name
              }}</option>
            </select>
          </div> -->



            <!-- <div class="col-md-12 margin-vertical" *ngFor="let notifications of notifyMe; let i = index">
            <div class="form-group">
              <div class="col-sm-12 mardis">
                <div class="col-sm-2">
                  <label class="sqrCheckBox pointer">
                    <input type="checkbox" name="lnmsg" id="lnmsg" [(ngModel)]="notifications.value" [ngModelOptions]="{standalone: true}" class="marginRight5px"
                      (change)="viewOptions(notifications,i)" >
                    <label class="sqrCheckBoxLabel" for="lnmsg"></label> {{ notifications.type }}
                  </label>
                </div>
                <div class="col-sm-8" *ngIf="notifications.value">
                  <select id="lnmsgtemp" class="form-control select-height" name="lnmsgtemp">
                    <option value="select">Select</option>
                    <option *ngFor="let temp of notifications.options" value="{{ temp.id }}">{{ temp.name }}
                    </option>
                  </select>
                </div>
                <div class="col-sm-2" *ngIf="notifications.value">
                  <button class="constantbtn" (click)="getTempData(1, formdataNotifications.lnmsgtemp)">
                    Preview
                  </button>
                </div>
              </div>
              <span></span>
            </div>
          </div> -->

            <div class="col-md-12 bgwhite margin-vertical padding-vertical">
                <div class="">
                    <label class="left_space">
                  {{helpContent?.dam_review_asset?.event.label}}
                  <!-- <sup class="reqFieldActivity">*</sup>  -->
                  <div class="help-tooltip">
                    <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                    <div class="help-tooltip-position-right">
                      <p>{{helpContent?.dam_review_asset?.event?.labelHelpContent}}</p>
                      <i></i>
                    </div>
                  </div>
              </label>
                    <select class="commonSelect custom-select" name="dropdown2" [(ngModel)]="reviewFormData.event" name="event" [ngClass]="{ 'is-invalid': submitted && evnt.errors }" #evnt="ngModel" required (change)="onChange2(reviewFormData.event)" style="height:34px !important;">
                <option value="" selected disabled>Select event</option>
                <option *ngFor="let temp of eventsDrop" value={{temp.notEventId}}>{{temp.notEvent}}
                </option>
              </select>
                    <div *ngIf="evnt.errors && (evnt.dirty || evnt.touched)" class="alert alert-danger">
                        <div *ngIf="evnt.errors.required">Event is required</div>
                    </div>
                </div>
            </div>

            <div class="col-md-12 bgwhite margin-vertical padding-vertical">

                <div class="form-group col-md-12 ">
                    <!-- <label class="left_space">Modes</label><br>
      
                  <label class="sqrCheckBoxengage col-md-4">
                   <input id="sms" type="checkbox">
                   <label class="sqrCheckBoxengageLabel" for = "sms"></label>
                     SMS
                 </label>
      
                 <label class="sqrCheckBoxengage col-md-4">
                   <input id="email" type="checkbox">
                   <label class="sqrCheckBoxengageLabel " for="email"></label>
                    Email
                 </label>
      
                 <label class="sqrCheckBoxengage col-md-4">
                   <input id="notify" type="checkbox">
                   <label class="sqrCheckBoxengageLabel" for="notify"></label>
                     Notification
                 </label> -->
                    <div class="row">
                        <div class="form-group formWidth">
                            <div class="col-sm-12 mardis">
                                <div class="col-sm-3">
                                    <label class="checkcontainer2">
                        {{helpContent?.dam_review_asset?.text_sms.label}}
                        <!-- <sup class="reqFieldActivity">*</sup>  -->
                        <div class="help-tooltip">
                          <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                          <div class="help-tooltip-position-right">
                            <p>{{helpContent?.dam_review_asset?.text_sms?.labelHelpContent}}</p>
                            <i></i>
                          </div>
                        </div>
                      <input type="checkbox" id="lnmsg" name="lnmsg" value="true" [(ngModel)]="reviewFormData.lnmsg"
                       (click)="onChangeSms($event)">
                      <span class="checkMarker"></span>
                    </label>
                                </div>
                                <div class="col-sm-8" *ngIf="reviewFormData.lnmsg">
                                    <select [(ngModel)]="reviewFormData.lnmsgtemp" id="exampleInputAccRole3" [ngClass]="{ 'is-invalid': submitted && lnmsgtemp.errors }" #lnmsgtemp="ngModel" required class="commonSelect custom-select" name="lnmsgtemp" (change)="onChangeDropDownSms($event)">
                      <option value="" selected="selected" selected>Select Template</option>
                      <option *ngFor="let temp of templatesms" value={{temp.id}}>{{temp.name}}
                      </option>
                    </select>
                                    <div *ngIf="reviewFormData.lnmsg && lnmsgtemp.errors && (lnmsgtemp.dirty || lnmsgtemp.touched)" class="alert alert-danger">
                                        <div *ngIf="lnmsgtemp.errors.required">SMS template is required</div>
                                    </div>

                                    <div class="" *ngIf="reviewFormData.reviewTextSms">
                                        <label class="space_left">Edit Template</label>
                                        <input type="text" class="form-control inputText" placeholder="Edit Template" name="Edit-Template-sms" [(ngModel)]="reviewFormData.editSmsTemplateData" [ngClass]="{ 'is-invalid': submitted && editSmsTemplateData.errors }" #editSmsTemplateData="ngModel"
                                            required>

                                    </div>
                                    <!-- <div  *ngIf="submitted && editSmsTemplateData.errors" class="alert alert-danger">
                            <div *ngIf="editSmsTemplateData.errors.required"> is required</div>
                          </div> -->

                                </div>
                                <!-- <div class="col-sm-1 prevbutton" *ngIf="reviewFormData.reviewTextSms">
                                    <button class="constantbtn" (click)="getTempData(1,reviewFormData.lnmsgtemp)">Preview</button>
                                </div> -->
                            </div>
                            <span></span>
                        </div>
                    </div>

                    <!-- <br>
                    <hr class="divider"> -->
                    <!-- <div class="row">
                        <div class="form-group formWidth">
                            <div class="col-sm-12 mardis">
                                <div class="col-sm-3">
                                    <label class="checkcontainer2">
                        {{helpContent?.dam_review_asset?.app_notification.label}}
                        <sup class="reqFieldActivity">*</sup> 
                        <div class="help-tooltip">
                          <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                          <div class="help-tooltip-position-right">
                            <p>{{helpContent?.dam_review_asset?.app_notification?.labelHelpContent}}</p>
                            <i></i>
                          </div>
                        </div>
                      <input type="checkbox" id="lnnot" name="lnnot" value="true" [(ngModel)]="reviewFormData.lnnot">
                      <span class="checkMarker"></span>
                    </label>
                                </div>
                                <div class="col-sm-8" *ngIf="reviewFormData.lnnot">
                                    <select [(ngModel)]="reviewFormData.lnnottemp" id="exampleInputAccRole2" class="form-control form-control-input selectDrop" name="lnnottemp" (change)="onChangeDropDownNot($event)" [ngClass]="{ 'is-invalid': submitted && lnnottemp.errors }" #lnnottemp="ngModel"
                                        required>
                      <option value="" selected="selected">Select Template</option>
                      <option *ngFor="let temp of templatenot" value={{temp.id}}>{{temp.name}}
                      </option>
                    </select>
                                    <div *ngIf="lnnottemp.errors && (lnnottemp.dirty || lnnottemp.touched)" class="alert alert-danger">
                                        <div *ngIf="lnnottemp.errors.required">Notification template is required</div>
                                    </div>

                                    <div class="" *ngIf="reviewFormData.reviewTextNot">
                                        <label class="space_left">Edit Template</label>
                                        <input type="text" class="form-control inputText" placeholder="Edit Template" name="Edit-Template-not" [(ngModel)]="reviewFormData.editNotTemplateData" [ngClass]="{ 'is-invalid': submitted && editNotTemplateData.errors }" #editNotTemplateData="ngModel"
                                            required>

                                    </div>
                                    <div  *ngIf="submitted && editNotTemplateData.errors" class="alert alert-danger">
                        <div *ngIf="editNotTemplateData.errors.required">Asset Name is required</div>
                      </div>
                                </div>

                                <div class="col-sm-1 prevbutton" *ngIf="reviewFormData.reviewTextNot">
                                    <button class="constantbtn" (click)="getTempData(3,reviewFormData.lnnottemp)">Preview</button>
                                </div>
                            </div>
                            <span></span>
                        </div>
                    </div> -->


                    <br>
                    <hr class="divider">
                    <div class="row">
                        <div class="form-group formWidth">
                            <div class="col-sm-12 mardis">
                                <div class="col-sm-3">
                                    <label class="checkcontainer2">
                        {{helpContent?.dam_review_asset?.email.label}}
                        <!-- <sup class="reqFieldActivity">*</sup>  -->
                        <div class="help-tooltip">
                          <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                          <div class="help-tooltip-position-right">
                            <p>{{helpContent?.dam_review_asset?.email?.labelHelpContent}}</p>
                            <i></i>
                          </div>
                        </div>
                      <input type="checkbox" id="lnemail" name="lnemail" value="true"
                        [(ngModel)]="reviewFormData.lnemail">
                      <span class="checkMarker"></span>
                    </label>
                                </div>
                                <div class="col-sm-8" *ngIf="reviewFormData.lnemail">
                                    <select [(ngModel)]="reviewFormData.lnemailTemp" id="exampleInputAccRole1" [ngClass]="{ 'is-invalid': submitted && lnemailTemp.errors }" #lnemailTemp="ngModel" required class="form-control form-control-input selectDrop" name="lnemailTemp" (change)="onChangeDropDownEmail($event)">
                      <option value="" selected="selected">Select Template</option>
                      <option *ngFor="let temp of templateemail" value="{{temp.id}}">
                        {{temp.name}}</option>
                    </select>
                                    <div *ngIf="lnemailTemp.errors && (lnemailTemp.dirty || lnemailTemp.touched)" class="alert alert-danger">
                                        <div *ngIf="lnemailTemp.errors.required">Email template is required</div>
                                    </div>
                                    <div class="" *ngIf="reviewFormData.reviewTextEmail">
                                        <label class="space_left">Edit Subject</label>
                                        <input type="text" class="form-control inputText mar" placeholder="Edit Subject" name="Edit-Subject" [(ngModel)]="reviewFormData.editEmailSubject" #editSubject="ngModel" required>
                                        <div *ngIf="editSubject.errors && (editSubject.dirty || editSubject.touched)" class="alert alert-danger">
                                            <div *ngIf="editSubject.errors.required">Email Subject is required</div>
                                        </div>
                                        <label class="space_left">Edit Body</label>
                                        <!-- <input type="text" class="form-control inputText" placeholder="Edit Template" name="Edit-Template"
                                        [(ngModel)]="reviewFormData.editEmailTemplateData" [ngClass]="{ 'is-invalid': submitted && editEmailTemplateData.errors }" #editEmailTemplateData="ngModel" required> -->
                                        <div style="height: 100px;">
                                            <quill-editor id="cCont" [(ngModel)]="reviewFormData.editEmailTemplateData" name="Edit-Template-Email" [ngModelOptions]="{standalone: true}" [options]="editorOptions" pattern=".{20,500}" [ngClass]="{ 'is-invalid': submitted && editEmailTemplateData.errors }"
                                                #editEmailTemplateData="ngModel" required ngDefaultControl></quill-editor>
                                        </div>
                                        <!-- <jodit-editor class="dropped_content" [config]="config"  name="Edit-Template-Email" [ngModelOptions]="{standalone: true}" [(ngModel)]="reviewFormData.editEmailTemplateData" #editEmailTemplateData="ngModel" required ngDefaultControl  pattern=".{20,500}" [ngClass]="{ 'is-invalid': submitted && editEmailTemplateData.errors }">
                                            </jodit-editor> -->
                                        <!-- <jodit-edtor [config]="config"></jodit-edtor> -->

                                    </div>
                                    <!-- <div  *ngIf="submitted && editEmailTemplateData.errors" class="alert alert-danger">
                        <div *ngIf="editEmailTemplateData.errors.required">Asset Name is required</div>
                      </div> -->
                                </div>
                                <!-- <div class="col-sm-1 prevbutton" *ngIf="reviewFormData.reviewTextEmail">
                                    <button class="constantbtn" (click)="getTempData(2,reviewFormData.lnemailTemp)">Preview</button>
                                </div> -->
                            </div>
                            <span></span>
                        </div>
                    </div>


                </div>
            </div>

        </div>
    </form>

    <div class="deleteModalBackdrop" *ngIf="notDetailsModal">
        <div class="notDetailsModals">
            <div class="modal-header">
                <span>Template Description</span>
                <!-- <button class="close" aria-label="Close" (click)="closeModal()">
                <span aria-hidden="true">&times;</span>
              </button> -->
            </div>
            <div class="modal-body">
                <div class="OuterDiv">
                    <!-- <div class="InnerDiv">
                        <lable>Name</lable>
                        <p>{{templateData.name}}</p>
                    </div>
                    <div class="InnerDiv">
                        <lable>Description</lable>
                        <p>{{templateData.desc}}</p>
                    </div> -->
                    <div class="InnerDiv">
                        <p>Template</p>
                        <p [innerHtml]="templateData.template"></p>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button class="constantbtn floterightgami" (click)="closeNotDetailModal()">OK</button>
            </div>

        </div>

    </div>

</div>