@import '../../../../@theme/styles/variable.scss';

/*.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; green
}*/


/*.ng-invalid:not(form)  {
  border-left: 5px solid #a94442;  red
}*/

.upload_employee_container {
    .dwnldErr {
        color: #ed462f;
        text-decoration: underline;
        text-underline-position: under;
        cursor: pointer;
    }
    .previewGrid {
        height: 100%;
        padding-top: 40px;
        overflow: auto;
        box-sizing: border-box;
    }
    #uploadBut {
        margin-left: 10px;
        border-radius: 0;
        background: #ed462f;
        color: #fff;
        border: #ed462f;
        height: 30px;
        width: 90px;
        color: #ffffff;
        background-color: #ed462f;
        background-image: none;
        border-color: #ed462f;
        transform: none;
    }
    .alert {
        margin-bottom: 1px;
        height: 25px;
        line-height: 25px;
        padding: 0px 15px;
    }
    .alert-danger {
        background-color: transparent;
        border-color: transparent;
        color: #a94442;
        float: right;
    }
    .btn-secondary.disabled,
    .btn-secondary:disabled {
        background-color: #ed462f;
        border-color: #ed462f;
    }
    .userField {
        margin-left: 30px;
        margin-top: 15px;
    }
    .userLegend {
        margin-bottom: 5px;
    }
    .userLegendBorder {
        border-bottom-style: solid;
        border-bottom-width: 2px;
    }
    #userRow1 {
        margin-top: 10px;
    }
    .userSubButUploadUp,
    .userSubButUploadSub,
    .userSubButUploadBack {
        float: right;
        /* margin-left: 30px; */
        /*margin-top: 8px;*/
        transform: none;
        background: #fff;
        height: 55px;
        margin: 0 auto;
        padding: 13px;
    }
    .userSubButAddEdit {
        float: right;
        /* margin-left: 30px; */
        /*margin-top: 8px;*/
        transform: none;
        background: #fff;
        height: 55px;
        margin: 0 auto;
        padding: 13px;
    }
    .userBackBut {
        /* display: none; */
    }
    #backBut {
        margin-left: 10px;
        border-radius: 0;
        background: #076ba1;
        color: #fff;
        border: #076ba1;
        height: 30px;
        width: 90px;
        color: #ffffff;
        background-color: #076ba1;
        background-image: none;
        border-color: #076ba1;
        transform: none;
    }
    .optbtnNewUploadUp,
    .optbtnNewUploadSub,
    .optbtnNewUploadBack {
        border-radius: 0;
        /*background: #076ba1;*/
        background: #ed462f;
        color: #fff;
        border: #076ba1;
        height: 30px;
        width: 90px;
        transform: none;
    }
    .btn-secondary:hover {
        color: #fff;
        background-color: #ed462f;
        border-color: #ed462f;
    }
    .inputLabel {
        line-height: 2.5;
        font-size: 15px;
    }
    .left {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .photo {
        width: 200px;
        height: 200px;
        margin-top: -120px;
        border-radius: 100px;
        border: 4px solid #fff;
    }
    .proImg {
        margin-left: 157%;
        margin-top: 65%;
    }
    .img-circle {
        border-radius: 50%;
    }
    .bg-form {
        float: left;
        width: 100%;
        position: relative;
        background: url("http://lorempixel.com/200/200/abstract/");
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 0px;
    }
    .img-section {
        float: left;
        width: 100%;
        padding-top: 15px;
        padding-bottom: 15px;
        background: rgba(0, 0, 0, 0.7);
        position: relative;
    }
    .img-section h4 {
        color: #fff;
    }
    #PicUpload {
        color: #ffffff;
        width: 180px;
        height: 180px;
        background: rgba(255, 255, 255, 0.4);
        padding: 100px;
        position: absolute;
        left: 30.5%;
        border-radius: 50%;
        display: none;
        top: 15px;
    }
    .imgCircle {
        border-radius: 50%;
        width: 200px;
        height: 200px;
    }
    .Profile-input-file {
        height: 180px;
        width: 180px;
        left: 33%;
        position: absolute;
        top: 0px;
        z-index: 999;
        opacity: 0;
    }
    /*.form-control{padding: 10px 50px;}*/
    .form-input {
        height: 50px;
        border-radius: 0px;
        margin-top: 20px;
    }
    .form-style-fake {
        position: absolute;
        top: 0px;
    }
    .form-style-base {
        position: absolute;
        top: 0px;
        z-index: 999;
        opacity: 0;
    }
    .fake-styled-btn {
        background: #006cad;
        padding: 10px;
        color: #fff;
    }
    .camera {
        font-size: 50px;
        color: #333;
    }
    .avatar-upload {
        position: relative;
        max-width: 205px;
        /*margin: 50px auto;*/
        .avatar-edit {
            position: absolute;
            right: 12px;
            z-index: 1;
            top: 10px;
            input {
                display: none;
                +label {
                    display: inline-block;
                    width: 34px;
                    height: 34px;
                    margin-bottom: 0;
                    border-radius: 100%;
                    background: #FFFFFF;
                    border: 1px solid transparent;
                    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
                    cursor: pointer;
                    font-weight: normal;
                    transition: all .2s ease-in-out;
                    &:hover {
                        background: #f1f1f1;
                        border-color: #d6d6d6;
                    }
                    &:after {
                        content: "\f040";
                        font-family: 'FontAwesome';
                        color: #757575;
                        position: absolute;
                        top: 10px;
                        left: 0;
                        right: 0;
                        text-align: center;
                        margin: auto;
                    }
                }
            }
        }
        .avatar-delete {
            position: absolute;
            right: 12px;
            z-index: 1;
            bottom: 10px;
            label {
                display: inline-block;
                width: 34px;
                height: 34px;
                margin-bottom: 0;
                border-radius: 100%;
                background: #FFFFFF;
                border: 1px solid transparent;
                box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
                cursor: pointer;
                font-weight: normal;
                transition: all .2s ease-in-out;
                &:hover {
                    background: #f1f1f1;
                    border-color: #d6d6d6;
                }
                &:after {
                    content: "\f1f8";
                    font-family: 'FontAwesome';
                    color: #757575;
                    position: absolute;
                    top: 10px;
                    left: 0;
                    right: 0;
                    text-align: center;
                    margin: auto;
                }
            }
        }
        .avatar-preview {
            width: 192px;
            height: 192px;
            position: relative;
            border-radius: 100%;
            border: 6px solid #F8F8F8;
            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
            >div {
                width: 100%;
                height: 100%;
                border-radius: 100%;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
            }
        }
    }
    .inputLabelUpload {
        line-height: 12.5;
        font-size: 15px;
    }
    .activeRoute {
        text-decoration: underline;
        text-underline-position: under;
        text-decoration-color: #076ba1;
        color: #076ba1;
    }
    .al-content {
        padding: 0px;
    }
    .m0 {
        margin: 0 auto;
    }
    .photo-left {
        margin: 0 auto;
    }
    .cardForm1 {
        color: #666666;
        background-color: #ffffff;
        border: 1px solid #f1eded;
        border-radius: 0px;
        position: relative;
        margin-bottom: 24px;
        box-shadow: none;
        height: 24em;
    }
    .cardForm {
        color: #666666;
        background-color: #ffffff;
        border: 1px solid #f1eded;
        border-radius: 0px;
        position: relative;
        margin-bottom: 24px;
        box-shadow: none;
    }
    .panelCol {
        padding: 0;
    }
    .formGen {
        width: 100%;
    }
    .formGenCard {
        padding-left: 25px;
        margin-top: 25px;
    }
    .formCustCard {
        margin-top: 25px;
        padding-right: 25px;
    }
    .ag-theme-balham {}
    .my-drop-zone {
        border: dotted 3px lightgray;
        width: 80%;
        margin-left: 10%;
        height: 75px;
        text-align: center;
        line-height: 4.7;
        display: inline-block;
    }
    .nv-file-over {
        border: dotted 3px red;
    }
    /* Default class applied to drop zones on over */
    .another-file-over-class {
        border: dotted 3px green;
    }
    .chooseFile {
        text-align: center;
        float: left;
        /* margin-left: 12%; */
        /* margin-top: 7%; */
    }
    .cancelFile {
        text-align: center;
        /* float: left; */
        /* margin-left: 12%; */
        /* margin-top: 7%; */
    }
    .colInput {
        /*margin-top: -2em;*/
    }
    .or {
        text-align: center;
        margin-left: 12%;
        margin-top: 3%;
        margin-bottom: -4%;
    }
    // .inputDnD {
    //     height: 14em;
    //     .form-control-file {
    //       position: relative;
    //       width: 100%;
    //       height: 100%;
    //       min-height: 6em;
    //       outline: none;
    //       visibility: hidden;
    //       cursor: pointer;
    //       background-color: #c61c23;
    //       box-shadow: 0 0 5px solid currentColor;
    //       &::before {
    //         color: #ed462f;
    //         content: attr(data-title);
    //         position: absolute;
    //         top: 1.5em;
    //         left: 0;
    //         width: 100%;
    //         /* min-height: 8em; */
    //         height: 12em;
    //         line-height: 8em;
    //         padding-top: 1.5em;
    //         opacity: 1;
    //         visibility: visible;
    //         text-align: center;
    //         border: 0.15em dashed #9ea4a5;
    //         transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    //         overflow: hidden;
    //     }
    //     &::hover {
    //       &:before {
    //         border-style: solid #076ba1;
    //         /*box-shadow: inset 0px 0px 0px 0.25em currentColor;*/
    //       }
    //     }
    //   }
    // }
    .labelFile {
        font-size: 17px;
    }
    .cancelBut {
        border-radius: 0;
        transform: none;
    }
    /* ::-moz-placeholder  Firefox v19+ */
    /* :-moz-placeholder  Firefox v18- */
    /* For Firefox only */
    .inputDnD {
        height: 14em;
        .form-control-file {
            position: relative;
            width: 100%;
            height: 100%;
            min-height: 6em;
            outline: none;
            visibility: hidden;
            cursor: pointer;
            background-color: #c61c23;
            box-shadow: 0 0 5px solid currentColor;
            &:before {
                color: #ed462f;
                content: attr(data-title);
                position: absolute;
                top: 1.5em;
                left: 0;
                width: 100%;
                /* min-height: 8em; */
                height: 12em;
                line-height: 8em;
                padding-top: 1.5em;
                opacity: 1;
                visibility: visible;
                text-align: center;
                border: 0.15em dashed #9ea4a5;
                transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
                overflow: hidden;
            }
            &:hover {
                &:before {
                    border-style: solid #076ba1;
                    /*box-shadow: inset 0px 0px 0px 0.25em currentColor;*/
                }
            }
        }
    }
    /* For Firefox only */
    .labelFile {
        font-size: 17px;
    }
    /* For Firefox only */
    .cancelBut {
        border-radius: 0;
        transform: none;
    }
    .sticky-top {
        position: sticky;
        top: 56px;
        z-index: 1;
    }
    /* Center the loader */
    #loader {
        position: absolute;
        left: 50%;
        top: 70%;
        z-index: 99999;
        width: 150px;
        height: 150px;
        margin: -75px 0 0 -75px;
        border: 16px solid #076ba1;
        border-radius: 50%;
        border-top: 16px solid #ffffff;
        /* border: 16px solid #f3f3f3; Light grey */
        /* border-top: 16px solid #3498db; Blue */
        width: 120px;
        height: 120px;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
    }
    @-webkit-keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
        }
    }
    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
    /* Add animation to "page content" */
    .animate-bottom {
        position: relative;
        -webkit-animation-name: animatebottom;
        -webkit-animation-duration: 1s;
        animation-name: animatebottom;
        animation-duration: 1s
    }
    @-webkit-keyframes animatebottom {
        from {
            bottom: -100px;
            opacity: 0
        }
        to {
            bottom: 0px;
            opacity: 1
        }
    }
    @keyframes animatebottom {
        from {
            bottom: -100px;
            opacity: 0
        }
        to {
            bottom: 0;
            opacity: 1
        }
    }
    .tabset>.nav .nav-tabs {
        width: 100%;
    }
    .tabset>.nav .nav-tabs>li {
        width: 33%;
    }
    .tabset>.nav .nav-tabs>li>a {
        width: 100%;
    }
    .tabset>ul>li>a>span>i {
        font-size: 20px;
        display: block;
        height: 100%;
    }
    .tabset>ul>li>a>span>i>b {
        display: block;
        font-weight: 500;
        font-style: normal;
        font-size: 16px;
        vertical-align: -webkit-baseline-middle;
    }
    /*.uploadUsersTab > .tabset>ul>li>a>span>b{
  vertical-align: -webkit-baseline-middle ;
}*/
    .tabset>ul>li>a>.span {
        width: 100%;
    }
    .tabset>ul>li:last-child a {
        border-top-right-radius: 5px;
    }
    .tabset>ul>li.active>a {
        background-color: #bec0c1;
        color: #fff;
    }
    /*#addUser .tabset .nav .nav-tabs{
      height: 60px ;
      background: #ffff ;
      padding-left: 15px ;
      border: none ;
    }
  #addUser .tabset .nav .nav-tabs li.active{
    line-height: 4 ;
    background: transparent ;
    border-bottom: 2px solid #076ba1 ;
  }*/
    .tabset>ul>li.active {
        // width: 160px;
        // height: 20px;
        border-radius: 20px;
        position: inherit;
        right: calc(50% - 70px);
        top: 56px;
        background-color: transparent;
        border: none;
    }
    .nav.nav-tabs>li.active>a {
        // border-bottom: 3px solid #076ba1 ;
        background-color: #fff;
        // color: #076ba1 ;
        border-radius: 0px;
        border-bottom: 3px solid var(--colorCommon);
        color: var(--colorCommon);
    }
    .tabset>ul {
        background-color: #fff !important;
        // height: 55px;
        position: sticky;
        top: 56px;
        z-index: 5;
        padding: 0px;
    }
    .tabset>ul>li {
        // width: 160px;s
        // height: 100%;
    }
    .tabset>ul>li:hover>a {
        color: #076ba1;
        background-color: #ffffff;
        transform: none;
        transition: none;
    }
    .nav.nav-tabs {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom: none;
        background-color: white;
    }
    .tabset>ul>li>a {
        width: 100%;
        background-color: transparent;
        color: #686868;
        height: 55px;
        border-bottom: none;
        line-height: 3;
    }
    .form-control {
        border: 1px solid #dadfe6;
    }
    .tempbtn {
        background-color: var(--colorBgbtn) !important;
        color: var(--colorBtnTxt) !important;
        border: 1px solid var(--colorBtnTxt) !important;
    }
    .marglef15 {
        margin-left: 15px;
    }
}

@import "../../../../@theme/styles/loader.scss";