<app-subheader *ngIf="tab1" [headerConfig]="header" [isSave]='enableUpload' (btnone)="postfile()" (backClick)="back()"></app-subheader>
<app-subheader *ngIf="tab2" [headerConfig]="header" [isSave]='!enableSubmit' (btnone)="getRowDataLength()" (backClick)="backTab1()"></app-subheader>
<app-subheader *ngIf="tab3" [headerConfig]="header" (backClick)="back()"></app-subheader>
<div class="widgets upload_employee_container">
    <!-- <div id="loader" *ngIf="loader == true"></div> -->
    <!-- <div class="spinner_container" *ngIf="loader == true">
        <div class="loader box-rotation"></div>
    </div> -->
    <!-- <div ba-panel ba-panel-class="with-scroll">
        <div class="">
            <div style="">
                <div class="userSubButAddEdit sticky-top" *ngIf="tab1 == true">

                    <a download="" href="assets/images/Template_employee_upload.xlsx"><button
                                class="constantbtn-button-blue-left "><i
                                    class="fas fa-download"></i>Template</button></a>
                    <button type="button" class="constantbtn-button-blue-left marglef15" [disabled]="enableUpload == false" (click)="postfile()">Upload</button>
                    <button type="submit" class="back_button hover focus" (click)="back()">Back</button>
                </div>
                <div class="userSubButUploadSub sticky-top" *ngIf="tab2 == true">
                    <button type="button" class="constantbtn-button-blue-left" [disabled]="enableSubmit == false" (click)="getRowDataLength()">Save</button>
                    <button type="submit" class="back_button hover focus" (click)="backTab1()">Back</button>
                </div>

                <div class="userSubButUploadBack sticky-top" *ngIf="tab3 == true">
                    <button type="button" class="btn btn-secondary optbtnNew" [disabled]="!userForm.form.valid" (click)="subfile()">Save</button>
                    <button type="submit" (click)="backTab2()" class="back_button hover focus">Back</button>
                </div> -->

    <!-- (onSelect)="postfileTab($event)" -->
    <nb-tabset class=" tabable uploadUsersTab custom_tabset courseTabset" (changeTab)="postfileTab($event)">
        <nb-tab tabTitle="Upload" [active]="tab1">
            <span *tabHeading>
                            <b>
                                Upload
                            </b>
                        </span>
            <!-- <app-subheader [headerConfig]="header" (backClick)="back()"></app-subheader> -->

            <div class="row m0 formGen">
                <div class="col-12 grid-margin stretch-card formGenCard">
                    <div class="card cardForm cardForm1">
                        <div class="card-body">
                            <!-- <h4 class="card-title">Upload</h4> -->
                            <div class="row">
                                <!-- --------change Neha------- -->
                                <!-- <div class="col-md-12 text-right">
                                    <a download="" href="assets/images/Template_employee_upload.xlsx"><button
                                                        class="constantbtn-button-blue-left tempbtn"><i
                                                            class="fas fa-download"></i>Template</button></a>
                                </div> -->
                                <!-- ------End------ -->
                            </div>
                            <p class="card-description">
                            </p>
                            <form class="forms-sample" #userForm="ngForm">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-12 colInput">
                                            <div class="form-group inputDnD">
                                                <label class="sr-only" for="inputFile">File Upload</label>
                                                <input type="file" #fileUpload class="form-control-file text-success font-weight-bold" id="inputFile" accept=".xls,.xlsx" (change)="readUrl($event)" attr.data-title="{{fileName}}">
                                            </div>
                                            <span></span>
                                            <div class="cancelFile">
                                                <!-- <a download="" href="assets/images/Template_employee_upload.xlsx"><button
                                                    class="constantbtn-button-blue-left "><i
                                                        class="fas fa-download"></i>Template</button></a> -->
                                                <span></span>
                                                <input type="button" class="constantbtn-button-blue-left tempbtn" id="filepicker-button" [disabled]="enableUpload == false" value="Cancel" name="userfilechoose" (click)="cancel()">
                                                <span></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </nb-tab>
        <nb-tab tabTitle="Preview" [disabled]="tab1" [active]="tab2">
            <span *tabHeading>
                            <b>
                                Results
                            </b>
                        </span>
            <div class="row m0 formGen">
                <div class="col-md-12 grid-margin stretch-card formGenCard">
                    <div class="card cardForm">
                        <div class="card-body">
                            <!-- <h4 class="card-title" style="background-color: white !important;">Uploaded Users</h4> -->
                            <p class="card-description">
                            </p>
                            <form class="forms-sample">
                                <div class="form-group previewGrid">
                                    <div id="container" *ngIf="tab2Grid == true">
                                        <!-- <angular-slickgrid gridId="grid1" [columnDefinitions]="columnDefinitionsPreview" [gridOptions]="gridOptionsPreview" [dataset]="datasetPreview" (onAngularGridCreated)="angularGridReadyPreview($event)">
                                                    </angular-slickgrid> -->

                                        <ngx-enrol-table [pagination]="true" [label]="labels" [tableData]="uploadedData"></ngx-enrol-table>
                                    </div>
                                </div>
                            </form>
                            <div>
                                <p>Valid Users <span> {{ validCount }} </span></p>
                                <!-- <p>Users skipped <span>  </span></p> -->
                                <p>Errors <span> {{ invalidCount }} </span></p>
                                <!-- <p class="dwnldErr" (click)="exportToExcel()">Click here to download users having errors!</p> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="userSubBut" style="margin-top: 2%;">
                  <button type="button" class="btn btn-mm btn-primary" [disabled]="!userForm.form.valid" (click)="  addEdit(formdata)">Save</button>
                  <button type="submit" class="btn btn-mm btn-default" (click)="back()" id="backBut"> Back</button>
                </div> -->
        </nb-tab>
        <nb-tab tabTitle="Results" [disabled]="tab2||tab1" [active]="tab3">
            <span *tabHeading>
                            <b>
                                Results
                            </b>
                        </span>
            <div class="row m0 formGen">
                <div class="col-md-12 grid-margin stretch-card formGenCard">
                    <div class="card cardForm">
                        <div class="card-body">
                            <h4 class="card-title" style="background-color: white !important;">Uploaded Users Result</h4>
                            <p class="card-description">
                            </p>
                            <form class="forms-sample">
                                <div class="form-group previewGrid">
                                    <div class="grid-container" *ngIf="tab3Grid == true">
                                        <!-- <angular-slickgrid gridId="grid2" [columnDefinitions]="columnDefinitionsResult" [gridOptions]="gridOptionsResult" [dataset]="datasetResult" (onAngularGridCreated)="angularGridReadyResult($event)">
                                                    </angular-slickgrid> -->
                                        <ngx-enrol-table [pagination]="true" [label]="labelsResult" [tableData]="datasetResult"></ngx-enrol-table>
                                    </div>
                                </div>
                            </form>
                            <div>
                                <p>Users Added <span> {{ usersAddedCount }} </span></p>
                                <!-- <p>Users skipped <span>  </span></p> -->
                                <p>Errors <span> {{ usersErrorsCount }} </span></p>
                                <p class="dwnldErr" (click)="exportToExcel()">Click here to download users having errors!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="userSubBut" style="margin-top: 2%;">
                  <button type="button" class="btn btn-mm btn-primary" [disabled]="!userForm.form.valid" (click)="  addEdit(formdata)">Save</button>
                  <button type="submit" class="btn btn-mm btn-default" (click)="back()" id="backBut"> Back</button>
                </div> -->
        </nb-tab>
    </nb-tabset>
    <!-- </div>
        </div>
    </div> -->
</div>
<!-- <div class="spinner_container" *ngIf="showSpinner">
    <div class="loader box-rotation"></div>
</div> -->