<div class="widgets">
  
    <div ba-panel ba-panel-class="with-scroll">
       <section id="feature" class="section01" style="float:none;">
        <div class="container">
            <div class="row col-md-12">
                <div class="col-md-6" style="padding: 10px;cursor: pointer;border:none" *ngIf="reporting == true">
                    <div class="element-animate" style="border:2px solid #e2f2f9;box-shadow: 2px 4px #e2f2f9; border-radius:10px;background-color:#ffffff;cursor: pointer;height: 240px;outline-style: none;" (click)='gotoreporting()'>
                        <!-- col-lg-4 mb-4 -->
                          <div class="ion-ios-cloud cloud"></div>
                        <div class="media custom-media" style="cursor: pointer;">
                            <!-- <img class="mr-3" width="30" src="img/img_1.jpg" alt="Generic placeholder image"> -->
                            <div class="media-body" style="cursor: pointer;">
                                <h3 class="mt-0" style="text-align:center; color:#076ba1;cursor: pointer;">REPORTING</h3>
                                <!-- <p class="post-meta">May 12, 2018, <a href="#">Children Ministries</a></p> -->
                               <p style="text-align:center; font-weight:300;cursor: pointer;"> Get all the information related to your users here.</p>
                            </div>
                        </div>
                    </div>
                </div>
                 <div class="col-md-6" style="padding: 10px;" *ngIf="analytics == true">
                    <div class="element-animate" style="border:2px solid #e2f2f9;box-shadow: 2px 4px #e2f2f9; border-radius:10px;background-color:#ffffff; margin-top:0px;height: 240px;cursor: pointer;">
                        <!-- col-lg-4 mb-4 -->
                          <div class="ion-ios-cloud cloud"></div>
                        <div class="media custom-media">
                            <!-- <img class="mr-3" width="30" src="img/img_1.jpg" alt="Generic placeholder image"> -->
                            <div class="media-body">
                                <h3 class="mt-0" style="text-align:center; color:#076ba1;">ANALYTICS</h3>
                                <!-- <p class="post-meta">May 12, 2018, <a href="#">Children Ministries</a></p> -->
                                <p style="text-align:center; font-weight:300;">Get all the information related to your users here</p>
                            </div>
                        </div>
                    </div>
                </div>

              
            </div>
         <!--    <div class="row col-md-12">
               
                  <div class="col-md-6" style="padding: 10px;cursor: pointer;">
                    <div class="element-animate" style="border:2px solid #e2f2f9;box-shadow: 2px 4px #e2f2f9; border-radius:10px;background-color:#ffffff; margin-top:60px;height: 240px;cursor: pointer;">
                       
                          <div class="ion-ios-cloud cloud"></div>
                        <div class="media custom-media">
                           
                            <div class="media-body">
                                <h3 class="mt-0" style="text-align:center; color:#076ba1;">USERS</h3>
                              
                                <p style="text-align:center; font-weight:300;">Get all the information related to your users here</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6" style="padding: 10px;">
                    <div class="element-animate" style="border:2px solid #e2f2f9;box-shadow: 2px 4px #e2f2f9; border-radius:10px;background-color:#ffffff; margin-top:0px;height: 240px;cursor: pointer;">
                        
                          <div class="ion-ios-cloud cloud"></div>
                        <div class="media custom-media" ng-click="locations()">
                            
                            <div class="media-body">
                                <h3 class="mt-0" style="text-align:center; color:#076ba1;">USERS</h3>
                                
                                <p style="text-align:center; font-weight:300;">Get all the information related to your users here</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->            
        </div>

</section>
</div>
</div>
<router-outlet></router-outlet>


