
<div class="parent_faq">
  <iframe src="https://faq.edgelearning.co.in/" #iFrame frameBorder="0" (load)="onLoad()">
    <p>Your browser does not support iframes.</p>
  </iframe>
  <div class ="center_progress" *ngIf="!frameLoad"> 
      <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
  </div>
</div>