@import '../../../../../../@theme/styles/variable.scss';
.takeANote {
    font-size: 16px;
    width: 100%;
    margin: auto;
    margin-bottom: 20px;
    color: var(--colorCommon);
    // background: #076ba1;\
    // background: var(--colorCommon);
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.stepRow {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 20px;
    min-height: 50px;
    border-bottom: 1px solid #ccc;
    /* margin-top: 10px; */
    padding: 15px 0;
}

.stepRow:last-child {
    border: none !important;
}

select,
input,
textarea {
    box-shadow: none !important;
}

.stepWeightage {
    margin-left: 30px;
    color: #464a47;
}

.stepFooter {
    /* margin-top: 20px; */
    /* text-align: right; */
    text-align: right;
    padding: 0 20px;
}

.formPadding {
    padding: 0 35px;
    padding-bottom: 20px;
}

// .stepLabel{
//     margin: auto 0;
//     text-align: left;
//     font-size: 16px;
//     color: #5e5454;
//     text-transform: capitalize;
// }
.stepName {
    position: relative;
    margin: auto 0;
}


/* Hide the browser's default checkbox */

.stepLabel input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}


/* Create a custom checkbox */

.stepMarker {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    margin: auto;
    width: 18px;
    // border: 1px solid #2196F3;
    border: 1px solid var(--colorCommon);
    background-color: #feffff;
}


/* On mouse-over, add a grey background color */

.stepLabel:hover input~.stepMarker {
    background-color: #F1F5F8;
}


/* When the checkbox is checked, add a blue background */

.stepLabel input:checked~.stepMarker {
    background-color: #feffff
}


/* Create the checkmark/indicator (hidden when not checked) */

.stepMarker:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the checkmark when checked */

.stepLabel input:checked~.stepMarker:after {
    display: block;
}


/* Style the checkmark/indicator */

.stepLabel .stepMarker:after {
    left: 6px;
    top: 1px;
    width: 6px;
    height: 12px;
    // border: solid #2196F3;
    border: solid var(--colorCommon);
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.stepLabel {
    margin: auto;
    line-height: 24px;
    width: 100%;
    font-size: 16px;
    padding-left: 35px;
    /* font-weight: 100; */
    cursor: pointer;
}

label {
    font-weight: 100 !important;
    margin-bottom: 10px;
    color: #4e4646;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.alert-danger {
    padding: 0 !important;
    margin-bottom: 10px !important;
}

.drop-height {
    margin: auto;
    height: 35px !important;
}

.flexInput {
    display: flex;
}

.divcalicon {
    // height: 34px;
    padding: 5px;
    width: auto;
    /* border: 1px solid; */
    background: #2795d0;
}

.calfont {
    font-size: 20px;
    /* padding: 10px 10px; */
    color: #fff;
    // margin-left: 8px;
}

.modal-header {
    background-color: #076ba1;
    height: 55px;
    color: #fff !important;
}

.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #fff !important;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}

.modal-body .row {
    margin: 0 !important;
}

.enableDisableModalBodyP {
    margin: 1rem;
}

.modal-footer {
    height: 55px;
}

// .stdate{
//   margin-top: 12px;
// }