<div class="workflowSteps">

    <div class="">
        <p class="takeANote">Workflow Steps</p>
        <div class="stepFooter">
            <!-- <button class="constantbtn-button-blue-left"  (click)="onSubmit()">Save</button> -->
            <!-- [disabled]="!stepForm.form.valid" -->
        </div>
    </div>

    <form #stepForm="ngForm" class="formPadding">
        <div class="stepRow" *ngFor="let item of steps; let i = index">
            <div class="stepName">
                <label class="stepLabel">{{ item.displayName }}
          <input type="checkbox" id="stepno{{i}}" name="stepno{{i}}"  [(ngModel)]="item.checked" (click)="onChecked($event,i)" >
          <span class="stepMarker"></span>
        </label>

                <!-- <p class="stepLabel">Nomination Details</p> -->
            </div>

            <div class="" *ngIf="item.checked">
                <label>Weightage<sup class="reqFieldActivity">*</sup></label>
                <input type="number" placeholder="Enter weightage in %" id="weightage{{i}}" name="weightage{{i}}" class="form-control" #weightage="ngModel" (keyup)="getWeightage($event, stepForm)" [(ngModel)]="item.weightage" required min="1" max="999" pattern="">
                <div [hidden]="weightage.valid || weightage.pristine" class="alert alert-danger">
                    <div [hidden]="!weightage.hasError('required')">Enter weightage of step</div>
                    <!-- <div *ngIf="weightage.invalid">Enter value less than 100</div> -->
                </div>
            </div>

            <div class="stdate" *ngIf="item.checked">
                <label class="">Start Date<sup class="reqFieldActivity">*</sup> </label>
                <div class="flexInput">
                    <input [owlDateTime]="dt1" placeholder="dd-mm-yyyy" [owlDateTimeTrigger]="dt1" class="form-control dateinput" name="sdate{{i}}" [(ngModel)]="item.startDate" #startDate="ngModel" (dateTimeChange)="onSearchChange($event.value)" [min]="i == 0 ? todatDate : steps[(i-1)].endDate "
                        [max]="item.endDate ? item.endDate : maxdateto" required/>
                    <div class="divcalicon" [owlDateTimeTrigger]="dt1">
                        <i class="fa fa-calendar calfont"></i>
                    </div>
                    <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
                </div>
                <!-- {{i == 0 ? todatDate : steps[(i-1)].endDate}} -{{item.endDate}} -->
                <div [hidden]="startDate.valid || startDate.pristine" class="alert alert-danger">
                    <div [hidden]="!startDate.hasError('required')">Enter Start date of the workflow step</div>
                </div>
            </div>
            <div class="stdate" *ngIf="item.checked">
                <label class="">End Date<sup class="reqFieldActivity">*</sup> </label>
                <div class="flexInput">
                    <input [owlDateTime]="dt2" placeholder="dd-mm-yyyy" [owlDateTimeTrigger]="dt2" class="form-control dateinput" name="enddate{{i}}" [(ngModel)]="item.endDate" #enddate="ngModel" [min]="item.startDate" [max]="maxdateto" required
                    />
                    <div class="divcalicon" [owlDateTimeTrigger]="dt2">
                        <i class="fa fa-calendar calfont"></i>
                    </div>
                    <owl-date-time [pickerType]="'calendar'" #dt2></owl-date-time>
                </div>
                <!-- {{item.startDate}} - {{i == (steps.length - 1) ? maxdateto : ''}} -{{i }} -{{(steps.length - 1)}} -->
                <div [hidden]="enddate.valid || enddate.pristine" class="alert alert-danger">
                    <div [hidden]="!enddate.hasError('required')">Enter End date of workflow step</div>
                </div>
            </div>

            <div class="" *ngIf="item.checked && item.isActivityEnable == 1">
                <label class="">Activity
                  <sup class="reqFieldActivity">*</sup>

          </label>
                <select class="form-control drop-height" name="categories{{i}}" id="categories{{i}}" [(ngModel)]="item.activityId" #category="ngModel" required>
            <option value="" selected disabled>Select Activity</option>
            <option *ngFor="let dropdown of activities" value={{dropdown.actId}} >{{ dropdown.actName }}</option>
          </select>
                <div [hidden]="category.valid || category.pristine" class="alert alert-danger">
                    <div [hidden]="!category.hasError('required')">Select activity of workflow step</div>
                </div>
                <!-- <div *ngIf="item.activityId==0">
                    <p class="alert alert-danger">Select activity of workflow step</p>
                </div> -->
            </div>

        </div>
    </form>
</div>

<div class="deleteModalBackdrop" *ngIf="weightNotMatch">
    <div class="deleteModal">
        <div class="modal-header deleteModalHeader">
            <p class="enableDisableModalHeaderP">Warning</p>
        </div>

        <div class="modal-body">
            <div>
                <p class="enableDisableModalBodyP">Total weightage must be 100. current weightage is {{cnt}}.</p>
            </div>
        </div>

        <div class="modal-footer deleteModalFooter">
            <div class="">
                <button type="button" class="constantbtn-button-blue-left" (click)="closeModal()">OK</button>
            </div>
        </div>
    </div>
</div>