// ngx-send-feedback{
//     display: grid;
//     overflow-x: auto;
// }

.feedback_container{
    padding: 15px;
    height: 360px;
    overflow-y: auto;
    form{
        color: #000;
    }

.img{
    width: auto;
    height: auto;
    margin: 15px 0;
    border: 1px solid #eee;
}

.margin-top{
    margin-top: 10px;
}

.commntbx{
    outline: none !important;
    box-shadow: none;
    resize: none;
}

}