<div class="main_reward_parent">

    <div class="floterightm mar12 col-md-12">
        <div class="text-right">
            <!-- <button type="submit" class="courseRewardsBackBtn floteright" (click)="back()">Back</button> -->
            <button type="button" class="constantbtn-button-blue-left" (click)="saveRewards()">Save</button>
        </div>
    </div>
    <div class="accordion" id="accordionExample">
        <div class="row m0 formGen manualformGen" id="manual">
            <div class="col-md-12 grid-margin stretch-card formGenCard badgeformGenCard">
                <div class="card cardForm manualCardForm">
                    <div class="card-body manualCardBody1">
                        <div class="headerCard">
                            <!-- <a class="expandBtn collapsed btn btn-default btn-xs arrow_right" type="button" data-toggle="collapse" data-target="#collapseManual" aria-expanded="true" aria-controls="collapseManual" role="button">
                <i class="fa downArrow" aria-hidden="true"></i>
                <span class="sr-only">Expand/Collapse Manual</span>
              </a> -->
                            <h4 class="cardTitle card-title manualTitle">
                                <label class="pointer ladderlabel">
                  <!-- <input id="mEnrol" type="radio" name="checkbox" value="1" class="with-gap  marginRight5px" (click)="onCheckBoxClick(rewards.id)" [(ngModel)]="rewards.id" data-toggle="collapse" data-target="#collapseManual" aria-controls="collapseManual" [disabled]="certificate == true"> -->
                  <label class="sqrCheckBoxLabel commonLabel" for="mEnrol"></label> Badge
                                </label>
                            </h4>
                        </div>
                        <!--  class="collapse show" -->
                        <div>
                            <div class="topBorderForm"></div>
                            <div class="col-sm-12 marginBtm10">
                                <div class="col-sm-3 margintop">
                                    <h5 class="h5margin">Select Badge</h5>
                                </div>
                                <div class="col-sm-9">
                                    <button type="submit" class="constantbtn-button-blue-left" (click)="browse(1)">Browse</button>
                                </div>
                            </div>
                            <div class="selectedBadgeContaner">
                                <div class="col-sm-12 card displayin" *ngIf="certificate == true">
                                    <div class="col-sm-1 padding0">
                                        <a>
                                            <!-- {{item.summary}} -->
                                            <!-- <img src={{item.summary}}> -->
                                            <img class="selectedBadgeIcon" src='{{rewards.imgsrc}}'>
                                        </a>
                                    </div>
                                    <div class="col-sm-11 floatrig1">
                                        <button class="close removeSelectedBadgeBtn" aria-label="Close" (click)="remove(1)">
                      <span aria-hidden="true">&times;</span>
                    </button>
                                        <h5 class="selectedBadgeHeader">{{rewards.name}}</h5>
                                        <p class="selectedBadgeDesc">{{rewards.descri}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <course-enrolment></course-enrolment> -->
                    </div>
                </div>
            </div>
        </div>

        <div class="row m0 formGen ruleBasedformGen" id="ruleBased">
            <div class="col-md-12 grid-margin stretch-card formGenCard certformGenCard">
                <div class="card cardForm ruleBasedCardForm">
                    <div class="card-body ruleBasedCardBody1">
                        <div class="headerCard">
                            <!-- <a class="expandBtn collapsed btn btn-default btn-xs arrow_right" type="button" data-toggle="collapse" data-target="#collapseruleBased" aria-expanded="false" aria-controls="collapseruleBased" role="button">
                <i class="fa downArrow" aria-hidden="true"></i>
                <span class="sr-only">Expand/Collapse ruleBased</span>
              </a> -->
                            <!-- <h4 class="card-title ruleTitle">Rule Based</h4> -->
                            <h4 class="cardTitle card-title ruleTitle">
                                <label class="pointer ladderlabel" style="margin-bottom: 0px;">
                  <input id="ruleBased" type="radio" value="2" name="checkbox" class="with-gap marginRight5px commonInput" (click)="onCheckBoxClick(rewards.id)" [(ngModel)]="rewards.id" data-toggle="collapse" data-target="#collapseruleBased" aria-controls="collapseruleBased" [disabled]="badge == true">
                  <label class="sqrCheckBoxLabel commonLabel" for="ruleBased"></label> Certificate
                                </label>
                            </h4>
                            <!-- <div class="col-md-3 floteright">
                <button type="submit" class="btn-default floteright" (click)="addRule()" id="editbtn">Add Rule</button>
              </div> -->
                        </div>
                        <!-- <p class="card-description cardDesc"></p>   -->
                        <div id="collapseruleBased" class="collapse" aria-labelledby="ruleBased" data-parent="#accordionExample">
                            <!--   <div class="topBorderForm"></div> -->
                            <div class="col-sm-12 marginBtm10">
                                <div class="col-sm-3 margintop">
                                    <h5 class="h5margin">Select Template</h5>
                                </div>
                                <div class="col-sm-9">
                                    <button type="submit" class="constantbtn-button-blue-left" (click)="browse(2)">Browse</button>
                                </div>
                            </div>
                            <div class="selectedCertContaner">
                                <div class="col-sm-12 card displayin" *ngIf="badge == true">
                                    <div class="col-sm-1 padding0">
                                        <a>
                                            <!-- {{item.summary}} -->
                                            <!-- <img src={{item.summary}}> -->
                                            <img class="selectedCertIcon" src='{{rewards.imgsrc}}'>
                                        </a>
                                    </div>
                                    <div class="col-sm-11 floatrig1">
                                        <button class="close removeSelectedCertBtn" aria-label="Close" (click)="remove(2)">
                          <span aria-hidden="true">&times;</span>
                        </button>
                                        <h5 class="selectedCertHeader">{{rewards.name}}</h5>
                                        <p class="selectedCertDesc">{{rewards.descri}}</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="addRuleBackdrop1" *ngIf="badgeshow == true">
            <div class="addRuleDemoModal1">
                <div class="modal-header">
                    <p>Select Badge</p>
                    <button class="close" aria-label="Close" (click)="closeModel(1)">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>

                <div class="mbody modal-body">
                    <!-- <form class="forms-sample col-md-12" #ruleForm="ngForm"> -->
                    <div class="topDivRe">
                        <div class="col-sm-12 card displayin" *ngFor="let item of badgeData">
                            <div class="col-sm-4 floatleft">
                                <input id="badge{{item.bid}}" type="radio" value="{{item.bid}}" name="checkbox1" class=" with-gap checkboxsize marginRight5px commonInput" (click)="onCheckBoxselecClick(item)">
                                <a>
                                    <!-- {{item.summary}} -->
                                    <!-- <img src={{item.summary}}> -->
                                    <img *ngIf="item.bimgsrc" for="badge{{item.bid}}" class="badgeIcon" src='{{item.bimgsrc}}'>
                                    <img *ngIf="!item.bimgsrc" for="badge{{item.bid}}" class="badgeIcon" src='{{item.bimgsrc}}'>
                                </a>
                            </div>

                            <div class="badgeContainer">
                                <div class="col-sm-8 floatrig">
                                    <h5>{{item.bname}}</h5>
                                    <p>{{item.bdescri}}</p>
                                </div>
                            </div>

                        </div>
                        <!--  <div class="row rulesDiv">
            </div>
   -->
                        <!-- </form>   -->
                    </div>
                </div>

                <div class="modal-footer text-right">
                    <button type="button" class="constantbtn-button-blue-left" (click)="save(1)">Select</button>
                </div>

            </div>
        </div>
        <div class="addRuleBackdrop1" *ngIf="certshow == true">
            <div class="addRuleDemoModal1">
                <div class="modal-header">
                    <p>Select Template</p>
                    <button class="close" aria-label="Close" (click)="closeModel(2)">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>

                <div class="mbody modal-body">
                    <!-- <form class="forms-sample col-md-12" #ruleForm="ngForm"> -->
                    <div class="topDivRe">
                        <div class="col-sm-12 card displayin" *ngFor="let item of certData">
                            <div class="col-sm-4 floatleft">
                                <input id="badge{{item.cid}}" type="radio" value="{{item.cid}}" name="checkbox2" class="with-gap checkboxsize marginRight5px commonInput" (click)="onCheckBoxselecClick(item)">
                                <a>
                                    <!-- {{item.summary}} -->
                                    <!-- <img src={{item.summary}}> -->
                                    <img for="badge{{item.cid}}" class="certIcon" src='{{item.cimgsrc}}'>
                                </a>
                            </div>
                            <div class="certContainer">
                                <div class="col-sm-8 floatrig">
                                    <h5>{{item.cname}}</h5>
                                    <p>{{item.cdescri}}</p>
                                </div>
                            </div>

                        </div>
                        <!--  <div class="row rulesDiv">
            </div>
   -->
                        <!-- </form>   -->
                    </div>
                </div>

                <div class="modal-footer text-right">
                    <button type="button" class="constantbtn-button-blue-left" (click)="save(2)">Select</button>
                </div>

            </div>
        </div>

    </div>

</div>



<!-- <div class="addRuleBackdrop" *ngIf="showAddRuleModal == true">
    <div class="addRuleDemoModal" >
      <div class="modal-header"> 
          
          <button class="close" aria-label="Close" (click)="closeRule()">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>

      <div class="modal-body"> 
          <div class="col-md-12">
            <div class="col-md-3">
              <input type='text' class="inputRuleName" placeholder='Rule Name'/>
            </div>
            <div class="col-md-3">
              <input type='text' class="inputRuleDesc" placeholder='Rule Description'/>
            </div>
            <div class="col-md-3">
              <input type='text' class="inputRuleDesc" placeholder='Rule Dropdown'/>
            </div>
            <div class="col-md-3">
              <button type="submit" class="btn-default floteright" (click)="addRule()" id="editbtn">Add Rule</button>
            </div>
          </div>
      </div>

      <div class="modal-footer">
          <button type="button" class="btn btn-md optbtnNewEnrollSubmit floterightEnrollSubmit" (click)="saveRule()" >Save</button>
      </div>
    </div>
</div> -->