.main_reward_parent {
    .sqrCheckBox .sqrCheckBoxLabel {
        border: 1px solid #ccc;
        border-radius: none;
        cursor: pointer;
        height: 16px;
        left: -14px;
        position: -webkit-sticky;
        position: relative;
        width: 16px;
        top: 10px;
        margin-right: -10px;
    }
    .sqrCheckBox .sqrCheckBoxLabel:after {
        // border: 2px solid #fff;
        border: 2px solid #076ba1;
        border-top: none;
        border-right: none;
        content: "";
        height: 4px;
        left: 1.5px;
        opacity: 0;
        position: absolute;
        top: 4.0px;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        width: 12px;
    }
    .sqrCheckBox input[type="checkbox"] {
        visibility: hidden;
    }
    .sqrCheckBox input[type="checkbox"]:checked+.sqrCheckBoxLabel {
        background-color: #ffffff;
        border-color: #076ba1;
    }
    .sqrCheckBox input[type="checkbox"]:checked+.sqrCheckBoxLabel:after {
        opacity: 1;
    }
    .courseRevDis {
        /* pointer-events: none; */
        cursor: not-allowed;
        background-color: #fdfbfbc2;
        // z-index: 1000;
        .checkBoxDiv {
            pointer-events: none;
        }
    }
    .marginTop14 {
        margin-top: 14px;
    }
    .formGen,
    .manualformGen {
        width: 100%;
    }
    .formGenCard {
        padding-left: 25px;
        // margin-top: 25px;
    }
    .badgeformGenCard,
    .certformGenCard {
        margin-top: 0;
        padding: 0;
    }
    .manualformGenCard,
    .ruleBasedformGenCard,
    .regulatoryformGenCard,
    .selfformGenCard {
        margin-bottom: 0;
        margin-top: 10px;
    }
    .manualCardForm,
    .ruleBasedCardForm,
    .regulatoryCardForm,
    .selfCardForm {
        cursor: pointer;
        margin-bottom: 0;
    }
    .manualCardBody1,
    .ruleBasedCardBody1 {
        // padding: 15px 15px 0px 15px  ;
        padding: 0rem;
    }
    .headerCard {
        display: inline-block;
        // display: inline-flex;
        // display: inherit;
        width: 100%;
    }
    .manualTitle,
    .ruleTitle,
    .regTitle,
    .selfTitle {
        float: left;
        margin-bottom: 0;
        font-size: 1.3rem;
        font-weight: 100;
        margin-top: 0;
    }
    .downArrow {
        color: #ed462f;
    }
    #right_float {
        float: right;
    }
    [data-toggle="collapse"] i:before {
        content: "\f139";
    }
    [data-toggle="collapse"].collapsed i:before {
        content: "\f13a";
    }
    .expandBtn {
        float: right;
        background: #fff;
        border: none;
    }
    .expandBtn:hover {
        background: #fff;
        border: none;
        outline: none;
    }
    .topBorderForm {
        // border-bottom: 1px solid #076ba1;
        // margin-top: 30px;
    }
    // .manualContent{
    //   // min-height: 100px;
    //   min-height: 350px;
    // }
    // .ruleBasedContent{
    //   // min-height: 100px;
    //   min-height: 350px;
    // }
    // .regulatoryContent{
    //   // min-height: 100px;
    //   min-height: 350px;
    // }
    // .selfContent{
    //   // min-height: 100px;
    //   min-height: 350px;
    // }
    .manualContent,
    .ruleBasedContent,
    .regulatoryContent,
    .selfContent {
        min-height: 380px;
    }
    .pointer {
        margin-bottom: 0px;
    }
    .subMenu {
        width: 100%;
    }
    .dropdown-list {
        // position: absolute;
        // padding-top: 14px;
        // width: 100%;
        z-index: 1000;
    }
    .manualToolBar {
        margin-top: -13px;
        margin-bottom: 13px;
    }
    #manEnrolBtn,
    #ruleBasedBtn,
    #regulatoryBtn,
    #selfBtn {
        /* margin: 0 10px; */
        border-radius: 0;
        background: #076ba1;
        color: #fff;
        border: #076ba1;
        height: 38px;
        color: #ffffff;
        background-color: #bbc0c3;
        background-image: none;
        border-color: #076ba1;
        -webkit-transform: none;
        transform: none;
        width: 68px;
    }
    #ruleBasedBtn {
        width: 69px;
    }
    .manSearchUsr {
        padding: 7.5px;
        width: 100%;
        margin-top: 2px;
    }
    .browsebtn {
        background: #076ba1;
        color: white;
        border: none;
        height: 28px;
        margin: 5px;
    }
    .margintop {
        margin-top: 8px;
    }
    .constantbtn {
        width: auto;
        padding: 7px;
        background-color: #076ba1;
        text-transform: uppercase;
    }
    .addRuleBackdrop1 {
        // position: absolute;
        // width: 100%;
        // height: 100%;
        // top: 67px;
        // background-color: #404040c2;
        // z-index: 2000;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        z-index: 1503;
        background-color: #404040c2;
        .addRuleDemoModal1 {
            /*width: 80%;*/
            // width: 50%;
            // margin: auto;
            // background-color: #fff;
            // margin-top: 50px;
            // border-radius: 5px;
            width: 50%;
            margin: auto;
            background-color: #fff;
            margin-top: 65px;
            border-radius: 5px;
        }
    }
    // .imgsrc
    // {
    //   width: 50%;
    //   height: 50%;
    //   margin: 5px;
    //   margin-left: 50px;
    // }
    .floatrig {
        float: right;
        font-size: 11px;
        line-height: 15px;
        margin: 0;
        top: 0;
        text-align: justify;
    }
    .floatrig1 {
        float: right;
        font-size: 14px;
        line-height: 20px;
        text-align: justify;
        top: 7px;
    }
    .floatleft {
        float: left;
    }
    .selectedBadgeContaner,
    .selectedCertContaner {
        padding: 15px;
    }
    .displayin {
        display: inline;
        padding: 0px;
        margin-bottom: 12px;
    }
    .removeSelectedBadgeBtn,
    .removeSelectedCertBtn {
        color: #ee3622;
    }
    .selectedBadgeHeader,
    .selectedCertHeader {
        border-bottom: 1px solid #b3babd61;
        padding-bottom: 5px;
        padding-top: 2px;
    }
    .selectedBadgeIcon,
    .selectedCertIcon {
        // width: 60%;
        width: 70%;
        height: 60%;
        margin: 20px;
    }
    // .mbody
    // {
    //   height: 400px;
    // }
    .topDivRe {
        height: 323px;
        overflow-y: scroll;
    }
    .checkboxsize {
        width: 33px;
        height: 21px;
    }
    .checkboxsize:after {
        background: #076ba1;
    }
    .h5margin {
        margin-top: 0px;
    }
    .cardTitle {
        background: #076ba1;
        color: #ffff;
        padding: 10px;
        margin-bottom: 0;
        margin-top: 0;
        width: 100%;
    }
    .padding0 {
        padding: 0;
    }
    .marginBtm10 {
        margin-bottom: 10px;
    }
    .badgeContainer,
    .certContainer {
        margin: 15px;
    }
    .badgeIcon,
    .certIcon {
        width: 60%;
        height: 50%;
        margin: 5px;
        margin-left: 20px;
    }
    .courseRewardsBtn {
        border-radius: 0;
        background: #076ba1;
        color: #fff;
        border: #076ba1;
        height: 29px;
        -webkit-transform: none;
        transform: none;
    }
}

.close {
    outline: none;
}