<app-subheader [headerConfig]="header" (inputsearch)="onsearchBar($event)" (addbtn)="AddGBH(null,0)" (backClick)="back()" (Clear)="clear()"></app-subheader>

<div class="top_header_container" *ngIf="!nodata">
    <div class="top_header_div_sticky ">
        <div class="widgets">
            <!-- <div ba-panel ba-panel-class="with-scroll">
                <div class="col-sm-12 csm12">
                    <div class="divCon">
                        <div class="userSubButInd1 sticky-top">
                            <div class="col-sm-3">
                                <h3 class="h3lableuser">GBH List</h3>
                            </div>
                            <div class="col-sm-5">
                                <div class="search_div">
                                    <input type="text" class="form-control search_field" placeholder="Search by username, name" [(ngModel)]="searchTags" (change)="onsearchBar($event, searchTags)" />
                                    <i class="fa fa-remove remove_icon" aria-hidden="true" (click)="clear()"></i>
                                </div>
                            </div>
                            <div class="buttons_div">

                                <button class="constantbtn-button-blue-left" (click)="AddGBH(null,0)">Add</button>

                                <button type="submit" class="back_button" (click)="back()">Back</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            <div *ngIf="!nodata">
                <div class="tableCompo">
                    <ngx-enrol-table [label]="labels" [pagination]="true" [tableData]="gbhList" (clickOnbutton)=visibilityTableRow($event) (clickOnicon)="AddGBH($event)"></ngx-enrol-table>
                </div>
                <div style="padding: 5px 10px">
                    <div>Total: {{ gbhList.length }}</div>
                </div>
                <div>

                    <!-- <div class="headers col-md-12">
            <div class="col-sm-1">
              <h6>
                <strong>
                  Sr No
                </strong>
              </h6>
            </div>
            <div class="col-sm-3">
              <h6>
                <strong>
                  Fullname
                </strong>
              </h6>
            </div>
            <div class="col-sm-6">
              <h6>
                <strong>
                  Sub-Department
                </strong>
              </h6>
            </div>
            <div class="col-sm-1">
            </div>
            <div class="col-sm-1">
            </div>
          </div> -->
                    <!-- <div class="scroll_div">
            <div class="col-sm-12 tableData" *ngFor=" let item of GBH;let i=index ">

              <div class="col-sm-1">
                <h6>{{item.sr_no}}</h6>
              </div>
              <div class="col-sm-3">
                <h6>{{item['fullname']}}</h6>
              </div>
              <div class="col-sm-6" title="{{item['sub Department']}}">
                <h6 *ngIf ="item['sub Department']?.length <= 150">{{item['sub Department']}}</h6>
                <h6 *ngIf ="item['sub Department']?.length > 150">{{item['sub Department']?.substring(0,150)}}...</h6>
              </div>

              <div class="col-sm-1">

                <i title="Enabled" style="color: black;" class="fa fa-eye fa-lg pointer" aria-hidden="true"
                  (click)="disableVisibility(i,item,0)" [hidden]="item.visible == 0"></i>
                <i title="Disabled" style="color: black;" class="fa fa-eye-slash fa-lg pointer" aria-hidden="true"
                  (click)="disableVisibility(i,item,1)" [hidden]="item.visible == 1"></i>

              </div>
              <div class="col-sm-1">
                <button class="cancelbutquiz" (click)="AddGBH(item,1)">
                  <i class="fa fa-edit" title="Edit" style="float: right;"></i>
                </button>
              </div>

            </div>
          </div> -->
                    <!-- <div class="clearfix" *ngIf='!nodata'>
                        <div class="hint-text" style="margin-left:20px">Total Pages : <b>{{pager.totalPages}}</b></div>
                        <ul class="pagination" style="margin-right: 10px;">
                            <li class="page-item disabled" [ngClass]="{disabled:pager.currentPage === 1}" (click)="setpage(pager.currentPage - 1)">Previous</li>
                            <li class="page-item" *ngFor="let item of pager.pages; let i = index" [ngClass]="{active:pager.currentPage === item}" (click)="setpage(item)">
                                {{item}}</li>
                            <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}" (click)="setpage(pager.currentPage + 1)">Next</li>
                        </ul>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>

<ngx-sidebar-form *ngIf="sectionshow" [sidebarTitle]='title' [buttonName]="btnName" (saveBtn)='saveMapping(GBHForm)' (outside)="closesectionModel(UserForm)" (closeBtn)='closesectionModel(UserForm)'>

    <!-- <div class="addRuleBackdropaddquiz" *ngIf="sectionshow">
    <div class="addRuleDemoaddquizModal">
        <div class="modal-header-1">

            <p>{{title}} GBH</p>
            <button class="close" aria-label="Close" (click)="closesectionModel()">
        <span aria-hidden="true">&times;</span>
      </button>
        </div>
        <div class="mbody modal-body">
            <div class="form_body_padding">
                <div class="col-md-12"> -->
    <form #GBHForm="ngForm">
        <div class="row">
            <div class="form-group col-md-6">
                <label class="side-form-label">{{helpContent?.GBH?.sub_Department_Name.label}} <sup>&#x2731;</sup>
                                <app-info-tooltip  [description]="helpContent?.GBH?.sub_Department_Name.labelHelpContent"></app-info-tooltip>
                            </label>
                <!-- <label >{{helpContent?.GBH?.sub_Department_Name.label}} <sup
                class="reqFieldActivity">*</sup>
                <div class="help-tooltip">
                  <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                  <div class="help-tooltip-position-right">
                    <p>{{helpContent?.GBH?.sub_Department_Name.labelHelpContent}}</p>
                    <i></i>
                  </div>
                </div>
              </label> -->
                <angular2-multiselect [data]="subDepartmentDropDown" [(ngModel)]="subDepartmentSelected" [settings]="settings" required #subDepartmentDropDown12="ngModel" name="subDepartmentDropDown12" ngDefaultControl>

                    <c-item>
                        <ng-template let-item="item">
                            <!-- <label style="color: #333">{{item.typename}}</label> -->
                            <label class="side-form-label">{{item.name}}</label>
                            <!-- <img [src]="item.flag" style="width: 30px; border: 1px solid #efefef;margin-right: 0px;" /> -->
                            <!-- <label style="color: #333;width: 30%;">{{item.fullname}}</label>
                    <label style="color: #333;width: 30%;">{{item.email}}</label> -->
                        </ng-template>
                    </c-item>
                </angular2-multiselect>
                <div *ngIf="subDepartmentDropDown12.invalid && (subDepartmentDropDown12.dirty || subDepartmentDropDown12.touched)">
                    <!-- <div *ngIf="subDepartmentDropDown12.errors.required">
                                        Sub Department is required.
                                    </div> -->
                    <small class="invalid-msg" *ngIf="subDepartmentDropDown12.errors.required">Sub Department is required.</small>

                </div>
            </div>
            <div class="form-group col-md-6">
                <label class="side-form-label">{{helpContent?.GBH?.visibility.label}} <sup>&#x2731;</sup>
                                <app-info-tooltip  [description]="helpContent?.GBH?.visibility.labelHelpContent"></app-info-tooltip>
                            </label>
                <!-- <label for="visibility">{{helpContent?.GBH?.visibility.label}}
                <sup class="reqFieldActivity">*</sup>
                <div class="help-tooltip">
                  <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                  <div class="help-tooltip-position-right">
                    <p>{{helpContent?.GBH?.visibility.labelHelpContent}}</p>
                    <i></i>
                  </div>
                </div>
              </label> -->
                <select [(ngModel)]="GBHData.visible" class=" commonSelect custom-select" required name="visible" #visible="ngModel" ngDefaultControl>
                <!-- <option value="" selected disabled>Select Visible</option> -->
                <option *ngFor="let item of drowDownVisibleData" [value]=item.id>{{item.name}}</option>
              </select>
                <!-- <div *ngIf="visible.errors.required">
                Please select a visibility
              </div> -->
                <div *ngIf="visible.invalid && (visible.dirty || visible.touched)">
                    <!-- <div *ngIf="visible.errors.required">
                                        Please select a visibility
                                    </div> -->
                    <small class="invalid-msg" *ngIf="visible.errors.required">Please select a visibility.</small>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <!-- <div class="form-group col-md-12"> -->
                <label class="side-form-label">{{helpContent?.GBH?.GBH_Name.label}} <sup>&#x2731;</sup>
                                <app-info-tooltip  [description]="helpContent?.GBH?.GBH_Name.labelHelpContent"></app-info-tooltip>
                            </label>
                <!-- <label for="name">{{helpContent?.GBH?.GBH_Name.label}}
                <sup class="reqFieldActivity">*</sup>
                <div class="help-tooltip">
                  <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                  <div class="help-tooltip-position-right">
                    <p>{{helpContent?.GBH?.GBH_Name.labelHelpContent}}</p>
                 
                    <i></i>
                  </div>
                </div>
              </label> -->
                <angular2-multiselect [data]="userList" [(ngModel)]="selectedEmployee" [settings]="settings1" required #employee="ngModel" required name="selectedCreator" ngDefaultControl>
                    <c-search>
                        <ng-template>
                            <input type="text" class="form-control" (keyup)="onCreatorSearch($event)" placeholder="Search user (ECN,Name,Email ID)" />
                        </ng-template>
                    </c-search>
                    <c-item>
                        <ng-template let-item="item">
                            <label>{{item.username}}</label>
                            <!-- <img [src]="item.flag" style="width: 30px; border: 1px solid #efefef;margin-right: 0px;" /> -->
                            <label>{{item.fullname}}</label>
                            <!-- <label style="color: #333;width: 30%;">{{item.email}}</label> -->
                        </ng-template>
                    </c-item>
                </angular2-multiselect>
                <div *ngIf="employee.invalid && (employee.dirty || employee.touched)">
                    <!-- <div *ngIf="employee.errors.required">
                                        {{currentBrandData.employee}} is required.
                                    </div> -->
                    <small class="invalid-msg" *ngIf="employee.errors.required">Search Group Business Head/s from the list
                    </small>

                </div>
            </div>
        </div>


    </form>
</ngx-sidebar-form>
<!-- </div>
            </div>
            <p></p>
            <div class="text-right">
                <button type="button" class="constantbtn-button-blue-left" id="editbtn" (click)="saveMapping(GBHForm)">Submit</button>
            </div>
        </div> -->
<!-- </div>
</div> -->
<div *ngIf='nodata'>
    <!-- <div class="col-md-12 noDataDiv">
        <img class="noDataImg" src='assets/images/noDataFound1.png' onerror="this.src='assets/images/noDataFound1.png';">
    </div> -->
    <ngx-no-data [config]="noDataVal"></ngx-no-data>
</div>