<div class="tabs-section p-3" *ngIf="config">
    <ngx-tabset class="tabset"
    #tabs
    *ngIf="displayTabArray"
    (onSelect)="createDataForTabChange($event,tabs)"
    customNavClass="sub-tabs" customTabsClass="sub-inner"
    customPaneClass="inner-pane">
    <ng-container *ngFor="let tab of displayTabArray">
      <ngx-tab class="tabinner"  [tabTitle]="tab?.tabTitle" [bypassDOM]="true">
        <ng-template>
            <ngx-mannual *ngIf="tab.identifer === 'manual'" [manulEnrolConfig]="config[tab.configName]" (sendEventToParent)="passEventToParent($event)"></ngx-mannual>
            <ngx-rule-based *ngIf="tab.identifer === 'ruleBased'" [ruleEnrolConfig]="config[tab.configName]" (sendEventToParent)="passEventToParent($event)"></ngx-rule-based>
            <!-- <ngx-enrol-table *ngIf="tab.identifer === 'self'" [label]="labels" [tableData]="tableList2"></ngx-enrol-table> -->
            <ngx-self *ngIf="tab.identifer === 'self'" [selfEnrolConfig]="config[tab.configName]" (sendEventToParent)="passEventToParent($event)"></ngx-self>
            <!-- <ngx-enrol-table *ngIf="tab.identifer === 'regulatory'" [label]="labels" [tableData]="tableList2"></ngx-enrol-table> -->
            <ngx-regulatory *ngIf="tab.identifer === 'regulatory'" [regulatoryEnrolConfig]="config[tab.configName]"  (sendEventToParent)="passEventToParent($event)"></ngx-regulatory>
            <!-- <ngx-enrol-table *ngIf="tab.identifer === 'pricing'" [label]="labels" [tableData]="tableList2"></ngx-enrol-table> -->
            <ngx-pricing *ngIf="tab.identifer === 'pricing'" [pricingConfig]="config[tab.configName]" (sendEventToParent)="passEventToParent($event)"></ngx-pricing>
        </ng-template>
      </ngx-tab>
    </ng-container>
        <!-- <ngx-tab class="tabinner" *ngIf="config?.ruleBasedEnrolmentData?.show" tabTitle="Rule Based" [bypassDOM]="true">
            <ng-template>
                <ngx-rule-based [ruleEnrolConfig]="config?.ruleBasedEnrolmentData"></ngx-rule-based>
            </ng-template>
        </ngx-tab>
        <ngx-tab class="tabinner" *ngIf="config?.regulatoryEnrolmentData?.show" tabTitle="Regulatory" [bypassDOM]="true">
            <ng-template>
                <ngx-enrol-table [label]="labels" [tableData]="tableList2"></ngx-enrol-table>
            </ng-template>
        </ngx-tab>
        <ngx-tab class="tabinner" *ngIf="config?.selfEnrolmentData?.show" tabTitle="Self" [bypassDOM]="true">
            <ng-template>
                <ngx-enrol-table [label]="labels" [tableData]="tableList1"></ngx-enrol-table>
            </ng-template>
        </ngx-tab>
        <ngx-tab class="tabinner" *ngIf="config?.priceBasedEnrolmentData?.show" tabTitle="Pricing" [bypassDOM]="true">
            <ng-template>
                <ngx-enrol-table [label]="labels" [tableData]="tableList"></ngx-enrol-table>
            </ng-template>
        </ngx-tab> -->
    </ngx-tabset>
</div>
