<app-subheader [headerConfig]="header" (inputsearch)="searchQuestion($event)" (addbtn)="addUser('add')" (btntwo)="add('add')" (backClick)="back()" (Clear)="clear()"></app-subheader>
<!-- <div class="top_header_container">
    <div class="top_header_div_sticky content_width">
        <div class="widgets"> -->

<div ba-panel ba-panel-class="with-scroll" *ngIf="!nodata">
    <div class="tableCompo">
        <ngx-enrol-table [label]="labels" [pagination]="true" [tableData]="finalvalue" (clickOnbutton)="visibilityTableGroup($event)" (clickOnicon)="showTemplate($event)">
        </ngx-enrol-table>
    </div>
    <div style="padding: 5px 10px">
        <div>Total: {{ finalvalue.length }}</div>
    </div>


    <!-- <div class="clearfix col-md-12 bottomPager" *ngIf="finalvalue?.length > 0">
                    <div class="hint-text">Total Pages : <b>{{pager?.totalPages}}</b></div>
                    <ul class="pagination">
                        <li class="page-item disabled" [ngClass]="{disabled:pager?.currentPage === 1}" (click)="setpage(pager?.currentPage - 1)">Previous</li>
                        <li class="page-item" *ngFor="let item of pager?.pages; let i = index" [ngClass]="{active:pager?.currentPage === item}" (click)="setpage(item)">
                            {{item}}</li>
                        <li class="page-item" [ngClass]="{disabled:pager?.currentPage === pager?.totalPages}" (click)="setpage(pager?.totalPages)">Next</li>
                    </ul>
                </div> -->
</div>
<div *ngIf="nodata">
    <ngx-no-data [config]="noDataVal"></ngx-no-data>
</div>
<!-- </div>
    </div>
</div> -->

<!-- Modal -->
<ngx-sidebar-form *ngIf="sectionshow" [sidebarTitle]='popUpTitle' [buttonName]="btnName" (saveBtn)='saveform()' (outside)="cancel()" (closeBtn)='cancel()'>

    <!-- <div class="addRuleBackdropaddquiz" [hidden]="!sectionshow">
    <div class="addRuleDemoaddquizModal">
        <div class="modal-header-1">

            <p>{{popUpTitle}} </p>
            <button class="close" aria-label="Close" (click)="cancel()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div> -->
    <!-- <div class="mbody modal-body body_overflow_scroll">
            <div class="col-md-12"> -->
    <form [formGroup]="myForm">

        <div class="row">
            <div class="form-group m-0 col-md-6">
                <div class="form-group">
                    <label class="side-form-label">System Identifier<sup>&#x2731;</sup></label>
                    <angular2-multiselect [data]="systemIdentifiers" formControlName="systemId" [(ngModel)]="identifier" [settings]="settings0" (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)">

                        <c-item>
                            <ng-template let-item="item">

                                <!-- <label class="header_text commonLabel"></label> -->
                                <label class="side-form-label">
                                            {{item?.itemName}}</label>
                            </ng-template>
                        </c-item>
                    </angular2-multiselect>

                    <div *ngIf="myForm.get('systemId').touched">
                        <small class="invalid-msg" *ngIf="myForm.get('systemId').errors?.required">System Identifier is required.</small>

                        <!-- <div *ngIf="myForm.get('systemId').errors?.required">
                                    System Identifier is required.
                                </div> -->
                    </div>
                </div>
            </div>


            <div class="form-group m-0 col-md-6">
                <div class="form-group">
                    <!-- <label class="commonLabel">Bands<span class="alert alert-danger">*</span></label> -->
                    <label class="side-form-label">Bands<sup>&#x2731;</sup></label>
                    <angular2-multiselect [data]="bands" formControlName="bands" [(ngModel)]="selectedItems" [settings]="settings" (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)">

                        <c-item>
                            <ng-template let-item="item">

                                <!-- <label class="header_text commonLabel"></label> -->


                                <label class="side-form-label">
                                            {{item?.itemName}}</label>



                            </ng-template>
                        </c-item>
                    </angular2-multiselect>


                    <div *ngIf="myForm.get('bands').touched">
                        <!-- 
                                <div *ngIf="myForm.get('bands').errors?.required">
                                    Bands is required.
                                </div> -->
                        <small class="invalid-msg" *ngIf="myForm.get('bands').errors?.required">Bands is required.</small>

                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group m-0 col-md-6">
                <div class="form-group">
                    <!-- <label class="commonLabel" for="nameInput">Courses</label> -->
                    <label class="side-form-label">Courses</label>
                    <angular2-multiselect [data]="courses" formControlName="courses" [(ngModel)]="selectCourses" [settings]="settings1" (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)">

                        <c-item>
                            <ng-template let-item="item">

                                <!-- <label class="header_text commonLabel"></label> -->


                                <label class="side-form-label">
                                                {{item?.itemName}}</label>
                                <!-- <small class="invalid-msg" *ngIf="myForm.get('bands').errors?.required">{{item?.itemName}}</small> -->


                                <!-- <img [src]="item.flag" style="width: 30px; border: 1px solid #efefef;margin-right: 0px;" /> -->
                                <!-- <label style="color: #333;width: 30%;">{{item.fullname}}</label> -->
                                <!-- <label style="color: #333;width: 30%;">{{item.email}}</label> -->
                            </ng-template>
                        </c-item>
                    </angular2-multiselect>

                    <!-- <div *ngIf="myForm.get('courses').touched" class="alert alert-danger">

        <div *ngIf="myForm.get('courses').errors?.required">
            Courses is required.
        </div>
        </div> -->
                </div>
            </div>







            <div class="form-group m-0 col-md-6">
                <div class="form-group">
                    <!-- <label class="commonLabel" for="nameInput">Workflow</label> -->
                    <label class="side-form-label">Workflow</label>
                    <angular2-multiselect [data]="workFlow" formControlName="workFlow" [(ngModel)]="selectedWork" [settings]="settings2" (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)">

                        <c-item>
                            <ng-template let-item="item">

                                <!-- <label class="header_text commonLabel"></label> -->


                                <label class="side-form-label">
                                                {{item?.itemName}}</label>


                                <!-- <img [src]="item.flag" style="width: 30px; border: 1px solid #efefef;margin-right: 0px;" /> -->
                                <!-- <label style="color: #333;width: 30%;">{{item.fullname}}</label> -->
                                <!-- <label style="color: #333;width: 30%;">{{item.email}}</label> -->
                            </ng-template>
                        </c-item>
                    </angular2-multiselect>
                    <!-- <div *ngIf="myForm.get('workFlow').touched" class="alert alert-danger">

            <div *ngIf="myForm.get('workFlow').errors?.required">
                WorkFlow is required
            </div>
            </div> -->
                </div>
            </div>



        </div>


        <div class="row">

            <div class="form-group m-0 col-md-6">
                <div class="form-group">
                    <!-- <label class="commonLabel" for="nameInput">ClassRooms</label> -->
                    <label class="side-form-label">ClassRooms</label>
                    <angular2-multiselect [data]="classrooms" formControlName="classRooms" [(ngModel)]="selectedClass" [settings]="settings3" (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)">

                        <c-item>
                            <ng-template let-item="item">

                                <!-- <label class="header_text commonLabel"></label> -->


                                <label class="side-form-label">
                                                {{item?.itemName}}</label>


                                <!-- <img [src]="item.flag" style="width: 30px; border: 1px solid #efefef;margin-right: 0px;" /> -->
                                <!-- <label style="color: #333;width: 30%;">{{item.fullname}}</label> -->
                                <!-- <label style="color: #333;width: 30%;">{{item.email}}</label> -->
                            </ng-template>
                        </c-item>
                    </angular2-multiselect>
                    <!-- <div *ngIf="myForm.get('classRooms').touched" class="alert alert-danger">

            <div *ngIf="myForm.get('classRooms').errors?.required">
                ClassRooms is required
            </div>
            </div> -->
                </div>
            </div>










            <!-- <mat-form-field>
        <mat-label>Bands</mat-label>
        <mat-select formControlName="bands" multiple>
            <mat-option *ngFor="let band of bands" [value]="band">{{band.name}}</mat-option>
        </mat-select>
        </mat-form-field> -->

            <!-- <mat-form-field>
        <mat-label>Courses</mat-label>
        <mat-select formControlName="courses" multiple>
            <mat-option *ngFor="let course of courses" [value]="course">{{course.name}}</mat-option>
        </mat-select>
        </mat-form-field>

        <mat-form-field>
        <mat-label>WorkFlow</mat-label>
        <mat-select formControlName="workFlow" multiple>
            <mat-option *ngFor="let work of workFlow" [value]="work">{{work.name}}</mat-option>
        </mat-select>
        </mat-form-field>

        <mat-form-field>
        <mat-label>ClassRooms</mat-label>
        <mat-select formControlName="classRooms" multiple>
            <mat-option *ngFor="let class of classrooms" [value]="class">{{class.name}}</mat-option>
        </mat-select>
        </mat-form-field> -->

            <!-- <mat-form-field>
        <mat-label>Visibility</mat-label>
        <mat-select formControlName="visible"  [(ngModel)] = "visibility">
            <mat-option *ngFor="let visi of visible" [value]="visi.id" >
            {{visi.name}}
            </mat-option>
        </mat-select>
        </mat-form-field> -->


            <div class="form-group m-0 col-md-6">
                <div class="form-group">
                    <!-- <label class="commonLabel" for="exampleFormControlSelect1">Visibility <span
                                        style="color: red">*</span></label> -->
                    <label class="side-form-label">Visibility<sup>&#x2731;</sup></label>

                    <div>
                        <select class="commonSelect custom-select" formControlName="visible" [(ngModel)]="visibility">
                                        <option *ngFor="let visi of visible" [value]="visi.id">
                                            {{visi.name}}</option>
                                    </select>
                    </div>
                </div>
            </div>

            <!-- <div *ngIf="myForm.get('visible').touched" class="alert alert-danger">

        <div *ngIf="myForm.get('visible').errors?.required">
            Visibility is required
        </div>
        </div>-->




            <!-- demo -->
            <!-- <div class="col-sm-6">
    <select [(ngModel)]="visibility" [ngModelOptions]="{standalone: true}" formControlName="visible"
    class="form-control select_field_height" required>
    <option value="" selected disabled>Select Visible</option>
    <option *ngFor="let visi of visible" [value]=visi.id>{{visi.name}}</option>
    </select>
    </div> -->
            <!-- end -->
        </div>


    </form>
    <!-- </div> -->
    <div style='margin:10px;color: red;'><strong>Note: Out of Courses, Workflow and
                    Classroom, Selection of one Field is mandatory </strong></div>
</ngx-sidebar-form>
<!-- <p></p> -->
<!-- </div> -->
<!-- <div class="model-footer">
            <div class="text-right">
                <button class="constantbtn-button-blue-left" id="editbtn" style='margin-right:16px' (click)="saveform()">Save</button>
                <button class="constantbtn-button-blue-left" id="editbtn" style='margin-right:48px' (click)="cancel()">Cancel</button>
            </div>
        </div>
    </div>
</div> -->
<ngx-sidebar-form *ngIf="showAddUserModel" (outside)="cancelUserModal(UserForm)" [sidebarTitle]='title' [buttonName]="btnName" (saveBtn)='addUserForm(UserForm)' [saveDisabled]="!UserForm.valid" (closeBtn)='cancelUserModal(UserForm)'>

    <!-- <div class="addRuleBackdropaddquiz" *ngIf="showAddUserModel">
    <div class="addRuleDemoaddquizModal width70">
        <div class="modal-header-1">
            <p>Add User</p>
            <button class="close" aria-label="Close" (click)="cancelUserModal(UserForm)">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="mbody modal-body">
            <div class="row">
                <div class="col-md-12"> -->
    <form #UserForm="ngForm">
        <div class="row">
            <div class="form-group col-md-6">
                <label class="side-form-label">Name <sup>&#x2731;</sup>
                            </label>
                <input class="form-control commonInput" type="text" id="InputRName" placeholder="Enter name" [ngClass]="{'invalid-form': userName.invalid && (userName.dirty || userName.touched)}" [(ngModel)]="addUserModel.name" name="userInputName" #userName="ngModel"
                    required minlength="2" maxlength="20">
                <div *ngIf="userName.invalid && (userName.dirty || userName.touched)">
                    <small class="invalid-msg" *ngIf="userName.errors.required">Name is required.</small>
                    <small class="invalid-msg" *ngIf="userName.errors.minlength">Name must be at least two characters long.</small>
                    <small class="invalid-msg" *ngIf="userName.errors.maxlength">Name must be less then 20 characters.</small>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label class="side-form-label">Visibility<sup>&#x2731;</sup>
                                <!-- <app-info-tooltip  [description]="helpContent?.location_AddEditCategoryContent?.visibility.labelHelpContent"></app-info-tooltip> -->
                                </label>
                <select class="commonSelect custom-select" [(ngModel)]="addUserModel.visible" required name="visible" #visible="ngModel" ngDefaultControl>
                                  <!-- <option selected disabled>Select Visibility</option> -->
                                  <option *ngFor="let visi of visiblityArray" [value]="visi?.id">{{visi.name}}</option>
                              </select>
            </div>
        </div>
        <!-- <div class="col-sm-5 mb-2">
                                <div class="form-group">
                                    <label class="commonLabel" for="name">Name<sup class="reqFieldActivity">*</sup>
                                        <div class="help-tooltip">
                                            <i class="fa fa-info-circle tooltip-hover-info-label-round"
                                                aria-hidden="true"></i>
                                        </div>
                                    </label>
                                    <input type="text" class="form-control form-control-input inputText commonInput" id="InputRName" placeholder="Enter name" [(ngModel)]="addUserModel.name" name="userInputName" #userName="ngModel" required minlength="2" maxlength="20">

                                    <div *ngIf="userName.invalid && (userName.dirty || userName.touched)" class="alert alert-danger">
                                        <div *ngIf="userName.errors.required">
                                            Name is required.
                                        </div>
                                        <div *ngIf="userName.errors.minlength">
                                            Name must be two characters long
                                        </div>
                                        <div *ngIf="userName.errors.maxlength">
                                            Name cannot exceed 20 characters
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-5">
                                <div class="form-group">
                                    <label class="commonLabel" for="exampleFormControlSelect1">Visibility <span
                                            style="color: red;">*</span></label>
                                    <select [(ngModel)]="addUserModel.visible" class="form-control form-control-input select_field_height commonSelect" required name="visible" #visible="ngModel" ngDefaultControl>
                                        <option *ngFor="let visi of visiblityArray" [value]="visi?.id">{{visi.name}}
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-2 align_items_center">
                                <button class="constantbtn-button-blue-left" id="editbtn" (click)="addUserForm(UserForm)">Add
                                </button>
                            </div>
                        </div> -->
    </form>
    <div class="tableCompo" *ngIf="!noUniqueIdentifierFound">
        <ngx-enrol-table [label]="labelsUser" [pagination]="true" [tableData]="uniqueIdenfierList" (clickOnbutton)=visibilityTableUser($event)></ngx-enrol-table>
    </div>
    <div *ngIf="noUniqueIdentifierFound">
        <ngx-no-data [config]="noDataValue"></ngx-no-data>
    </div>
</ngx-sidebar-form>
<!-- </div>
</div>


</div>
</div>
</div> -->