.ladderContainer{
    margin: 0;
    padding: 0;
}

.myladder{
    margin: 0;
    padding: 0 !important;
    min-height: 600px;
    border: none !important;
}

#ladder-list {
    margin: 0 ;
    padding: 0;
    list-style: none;
    border-radius: 5px;
    margin-bottom: 20px;
}


.ladderHeadings {
    margin: 0;
    padding: 6px 10px;
    color: #fff !important;
    background-color: #076ba1;
    font-weight: normal !important;
    font-size: 20px;
    line-height: 29px;
}

.ladderHeadings input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  // .checkmark {
  //   position: absolute;
  //   top: 0;
  //   right: 0;
  //   height: 25px;
  //   width: 25px;
  //   background-color: #eee;
  // }


  // .ladderHeadings:hover input ~ .checkmark {
  //   background-color: #ccc;
  // }

  // .ladderHeadings input:checked ~ .checkmark {
  //   background-color: #2196F3;
  // }

  // .checkmark:after {
  //   content: "";
  //   position: absolute;
  //   display: none;
  // }

  // .ladderHeadings input:checked ~ .checkmark:after {
  //   display: block;
  // }

  // .ladderHeadings .checkmark:after {
  //   left: 9px;
  //   top: 5px;
  //   width: 5px;
  //   height: 10px;
  //   border: solid white;
  //   border-width: 0 3px 3px 0;
  //   -webkit-transform: rotate(45deg);
  //   -ms-transform: rotate(45deg);
  //   transform: rotate(45deg);
  // }

// .description{
//     margin: 0;
//     padding: 20px;
//     font-size: 14px;
//     text-align: justify;
//     line-height: 30px;
// }


#ladder-list:hover{
    // background-color: #e3e9ee;
}

.mysqrcheck{
 
    font-weight: normal !important;
    top: 8px;
    left: -10px;
}
// .mysqrcheckclr
// {
//    background: white;
// }
.sqrCheckBoxLadder input[type="checkbox"] {
  visibility: hidden;
  background: white !important;
}
.sqrCheckBoxLadder .sqrCheckBoxLadderLabel {
    border: 1px solid #ccc;
    border-radius: none;
    cursor: pointer;
    height: 16px;
    left: 5px !important;
    position: -webkit-sticky;
    position: relative;
    width: 16px;
    top: 8px !important;
    margin-right: 10px !important;
    background: white !important;
}

.ladderDesc{
    border: 1px solid #076ba1;
    margin: 0;
    padding: 20px;
    font-size: 14px;
    text-align: justify;
    line-height: 30px;
}

