.gamification{

.ladderContainer{
    margin: 0;
    padding: 0;
}

.myladder{
    margin: 0;
    padding: 0  ;
    min-height: 600px;
    border: none  ;
}

#ladder-list {
    margin: 0 ;
    padding: 0;
    list-style: none;
    border-radius: 5px;
    margin-bottom: 20px;
}

.ladderHeadings {
    margin: 0;
    // padding: 6px 10px;
    color: #fff  ;
    background-color: #076ba1;
    font-weight: normal  ;
    font-size: 20px;
    line-height: 29px;
    // padding: 3px 6px 1.5px 6px;
    padding: 0px 6px 3px 6px;
    font-size: 15.75px;
}

// // .ladderHeadings input {
// //     position: absolute;
// //     opacity: 0;
// //     cursor: pointer;
// //     height: 0;
// //     width: 0;
// //   }

// //   .checkmark {
// //     position: absolute;
// //     top: 0;
// //     right: 0;
// //     height: 25px;
// //     width: 25px;
// //     background-color: #eee;
// //   }


// //   .ladderHeadings:hover input ~ .checkmark {
// //     background-color: #ccc;
// //   }

// //   .ladderHeadings input:checked ~ .checkmark {
// //     background-color: #2196F3;
// //   }

// //   .checkmark:after {
// //     content: "";
// //     position: absolute;
// //     display: none;
// //   }

// //   .ladderHeadings input:checked ~ .checkmark:after {
// //     display: block;
// //   }

//   .ladderHeadings .checkmark:after {
//     left: 9px;
//     top: 5px;
//     width: 5px;
//     height: 10px;
//     border: solid white;
//     border-width: 0 3px 3px 0;
//     -webkit-transform: rotate(45deg);
//     -ms-transform: rotate(45deg);
//     transform: rotate(45deg);
//   }

// .description{
//     margin: 0;
//     padding: 20px;
//     font-size: 14px;
//     text-align: justify;
//     line-height: 30px;
// }


#ladder-list:hover{
    // background-color: #e3e9ee;
}

.mysqrcheck{
 
    font-weight: normal  ;
    // top: 8px;
    // left: -10px;
}
// .mysqrcheckclr
// {
//    background: white;
// }

// .sqrCheckBox input[type="checkbox"] {
//   visibility: hidden;
//   background: white  ;
// }
// .sqrCheckBox .sqrCheckBoxLabel {
//     border: 1px solid #ccc;
//     border-radius: none;
//     cursor: pointer;
//     height: 16px;
//     left: 5px  ;
//     position: -webkit-sticky;
//     position: relative;
//     width: 16px;
//     // top: 8px  ;
//     top: 9.5px  ;
//     margin-right: 10px  ;
//     background: white  ;
// }

.sqrCheckBoxLadder .sqrCheckBoxLadderLabel {
    border: 1px solid #ccc;
    border-radius: none;
    cursor: pointer;
    height: 16px;
    left: 5px  ;
    position: -webkit-sticky;
    position: relative;
    width: 16px;
    // top: 8px  ;
    top: 9.5px  ;
    margin-right: 10px  ;
    background: white  ;
}

.sqrCheckBoxLadder .sqrCheckBoxLadderLabel:after {
    // border: 2px solid #fff;
    border: 2px solid #076ba1;
    border-top: none;
    border-right: none;
    content: "";
    height: 4px;
    left: 1.5px;
    opacity: 0;
    position: absolute;
    top: 4.0px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    width: 12px;
}

.sqrCheckBoxLadder input[type="checkbox"] {
    visibility: hidden;
    background: white  ;
    display: none;
}

.sqrCheckBoxLadder input[type="checkbox"]:checked + .sqrCheckBoxLadderLabel {
    background-color: #ffffff;
    border-color: #076ba1;
}

.sqrCheckBoxLadder input[type="checkbox"]:checked + .sqrCheckBoxLadderLabel:after {
    opacity: 1;
}

.ladderDesc{
    border: 1px solid #076ba1;
    margin: 0;
    padding: 20px;
    font-size: 14px;
    text-align: justify;
    line-height: 30px;
}
.gameSubmit{
    float: right;
  background: #076ba1  ;
    color: white  ;
    border: none  ;
    height: 28px  ;
    margin: 5px  ;
}

.catsep {
    border-bottom: 1px solid #f1f5f8;
    margin-bottom: 5px;
  }

  .catrow {
    height: auto;
    width: 100%;
    display: inline-flex;
    margin: 0px;
    padding: 0px;
  }
  
  .catrow>div {
    // width: 100%;
    // padding: 0;
    // margin:3%;
    // height: 100%;
    width: 100%;
    padding: 0;
    margin: 4% 0 0 4%;
    height: 100%;
    flex: 0 0 20%;
    a {
        text-align: center;
    }
    a>img {
        // width: 100%;
        width: 100%;
        // height: 100%;
        height: 125.656px;
        // height: 190px;
    }
    div {
        width: 100%;
        // margin: 0.7rem 0;
        .toolcatp1 {
            text-align: center;
            margin: 1% 0%  ;
            // width: 92%;
            width: 100%;
            cursor: pointer;
            font-size: 20px;
            font-weight: 500;
            color: black;
        }
        .toolcat1 {
            width: 8%;
            float: right;
            margin: 3% 0%  ;
        }
    }
  }

  .activeLadders{
    border: 1px solid #076ba1  ;
    background-color: #e9eef1;
  }
}