<app-subheader [headerConfig]="header" (backClick)="back()"></app-subheader>
<!-- <div class="col-md-12 addEditCattoprow addEditCatsticky-top">
    <div class="col-md-6">
      <h4 class="addEditCatHead">Bulk Upload</h4>
    </div>
    <div class="col-md-6 text-right pad14px">
      <button type="submit" class="back_button" (click)="back()">
        Back
      </button>
    </div>
  </div> -->

<div class="col-md-12">
    <div class="uploadCard">
        <div class="col-md-12">
            <div class="form-group inputDnD">
                <label class="sr-only" for="inputFile">File Upload</label>
                <input type="file" title="{{selectFileTitle}}" #fileUpload class="form-control-file text-success font-weight-bold" id="inputFile" name="inputFile" accept=".csv,.xls,.xlsx, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                    (change)="readFileUrl($event)" attr.data-title="{{fileName}}">
                <!-- [(ngModel)]="addEditAssetForm.file" -->
            </div>
        </div>
        <div class="centerAlign">
            <button class="constantbtn-button-blue-left rightMargin" [disabled]="uploadedData.length == 0" (click)="submit()">Upload</button>
            <!-- <button class="constantbtn" href="templateExelLink" download><i class="fas fa-download"></i>  Template</button> -->
            <!-- <a [href]="templateExelLink" download></a> -->
            <a href="assets/images/bulkenrolfinalnew.xlsx" download><button class="constantbtn-button-blue-right"><i class="fas fa-download"></i>  Template</button></a>
            <!-- <a href="googleLink" download><button class="constantbtn-button-blue-right"><i class="fas fa-download"></i>  Google</button></a> -->
        </div>

    </div>


    <div class="uploadCard" *ngIf="showInvalidExcel">
        <!-- <ngx-datatable #myTable style="width: 100%;" class="material" [rows]="invaliddata" [columnMode]="'force'"
          [headerHeight]="50" [footerHeight]="50" [limit]="10" 
         [selectAllRowsOnPage]="false"
          >
      
      
          <ngx-datatable-column name="Ecn" [width]=60>
            <ng-template let-row="row" ngx-datatable-cell-template>
              <div>
                {{row.ecn}}
              </div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Partner" [width]=60>
            <ng-template let-row="row" ngx-datatable-cell-template>
              <div>
                {{row.partner}}
              </div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Assessment" [width]=200>
              <ng-template let-row="row" ngx-datatable-cell-template>
                <div>
                  {{row.assessment}}
                </div>
              </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Date" [width]=60>
              <ng-template let-row="row" ngx-datatable-cell-template>
                <div>
                  {{row.date}}
                </div>
              </ng-template>
            </ngx-datatable-column>
        </ngx-datatable> -->

        <div class="centerAlign">
            <button class="constantbtn-button-blue-left rightMargin" (click)="exportToExcelInvalid()"><i class="fas fa-download"></i> Invalid</button>

        </div>

        <!-- <div class="text-right">
          <button class="constantbtn-button-blue-left" [disabled]="uploadedData.length == 0" (click)="submit()">Save</button>
        </div> -->
    </div>
</div>





<!-- <div>
  <label for="filepicker-button ">Add
    File<h3 class="reqField">*</h3></label>
  <button class=" fp-btn-choose cancelButton" id="filepicker-button" value="Cancel" name="userfilechoose"
    (click)="cancelFile()"><i class="fa fa-times" aria-hidden="true"></i></button>
  <div class="form-group inputFileCourse">
    <label class="sr-only" for="inputFile">File
      Upload</label>
    <input type="file" title="{{selectFileTitle}}" #fileUpload
      class="form-control-file text-success font-weight-bold" id="inputFile" name="inputFile"
      accept=".csv,.xls,.xlsx, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
      (change)="readFileUrl($event)" attr.data-title="{{fileName}}" required>
  </div>
</div> -->