@import "../../../@theme/styles/variable.scss";
.report_viewer {
    .report_viewer_header {
        background: #fff;
        position: sticky;
        top: 4.75rem;
        z-index: 1020;
        .content_width {
            width: 82vw;
            margin: auto;
            .header_grid {
                display: grid;
                grid-template-columns: 1fr 3fr;
                align-items: center;
                height: 50px;
                padding: 0 30px;
                .header_title {
                    h4 {
                        text-align: left;
                    }
                }
                .leftContent {
                    // display: grid;
                    grid-template-columns: 1fr 1fr;
                    align-items: right;
                    .buttons_container {
                        text-align: right;
                    }
                }
                .drop_div {
                    display: grid;
                    // grid-template-columns: auto 20px;
                    border: 1px solid $border_color;
                    .drop_field {
                        height: 35px;
                        border: none;
                        box-shadow: none;
                        outline: none;
                        // padding: 10px;
                    }
                }
            }
        }
    }
    .inside_form_container {
        background: #fff;
        margin: 20px;
    }
    .reportBackdrop {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        z-index: 1503;
        background-color: #404040c2;
        .reportModal {
            width: 50%;
            margin: auto;
            background-color: #fff;
            margin-top: 65px;
            border-radius: 5px;
            .report_modal_header {
                background-color: #076ba1;
                height: 55px;
                color: #fff;
                display: grid;
                font-size: 16px;
                align-items: center;
                padding: 0 15px;
                grid-template-columns: 1fr 0fr;
                .closebtn {
                    background-color: transparent;
                    border: none;
                }
            }
            .report_modal_body {
                position: relative;
                padding: 0;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                form {
                    width: 100%;
                    .modal_footer_btn {
                        margin-top: 20px;
                        text-align: right;
                    }
                }
                .report_viewer_tabset {
                    width: 100%;
                }
                .reportSelectionTabs {
                    padding: 25px;
                }
            }
            // .report_modal_footer{
            //   padding: 1.25rem;
            //   border-top: 1px solid #d5dbe0;
            //   border-bottom-left-radius: 0.17rem;
            //   border-bottom-right-radius: 0.17rem;
            //   text-align: right;
            // }
        }
    }
    nb-tabset>ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        /* flex-direction: row; */
        // list-style-type: none;
        // margin: 0;
        padding: 0;
    }
    nb-tabset>ul>li>a {
        justify-content: center;
    }
    nb-tabset>ul>li>a::before {
        background: #076ba19c;
    }
    .popup_conatiner {
        .addRuleBackdropaddquiz {
            // position: absolute;
            // width: 100%;
            // height: 100%;
            // top: 67px;
            // background-color: #404040c2;
            // z-index: 2000;
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0px;
            left: 0px;
            z-index: 1503;
            background-color: #404040c2;
            .addRuleDemoaddquizModal {
                /*width: 80%;*/
                // width: 50%;
                // margin: auto;
                // background-color: #fff;
                // margin-top: 50px;
                // border-radius: 5px;
                width: 50%;
                margin: auto;
                background-color: #fff;
                margin-top: 65px;
                border-radius: 5px;
            }
        }
        .addRuleDemoaddquizModal .modal-header {
            border-bottom: 1px solid #d5dbe0;
            border-top-left-radius: 0.17rem;
            border-top-right-radius: 0.17rem;
            color: #ffffff;
            font-family: Poppins;
            font-weight: 500;
            font-size: 18px;
            background: #076ba1;
            p {
                margin: 0;
            }
            .close {
                color: #fff;
            }
        }
        .modal-header-1 {
            padding: 10px;
            border-bottom: 1px solid #d5dbe0;
            border-top-left-radius: 0.17rem;
            border-top-right-radius: 0.17rem;
            color: #181818;
            font-family: Poppins;
            font-weight: 500;
            font-size: 1.125rem;
            background: #076ba1;
            color: white;
            display: grid;
            grid-template-columns: 2fr 0fr;
            align-items: center;
            p {
                margin: 0;
            }
            .close {
                display: contents;
                color: #fff;
                outline: none;
            }
        }
        .modal-footer {
            padding: 10px;
            justify-content: flex-start;
        }
    }
    .question_check_box {
        /* The container */
        .container {
            display: block;
            position: relative;
            padding-left: 27px;
            margin-bottom: 9px;
            cursor: pointer;
            font-size: 13px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        /* Hide the browser's default checkbox */
        .container input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }
        /* Create a custom checkbox */
        .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 20px;
            width: 20px;
            background-color: #eee;
        }
        /* On mouse-over, add a grey background color */
        .container:hover input~.checkmark {
            background-color: #ccc;
        }
        /* When the checkbox is checked, add a blue background */
        .container input:checked~.checkmark {
            // background-color: #2196f3;
            background-color: var(--colorCommon);
        }
        /* Create the checkmark/indicator (hidden when not checked) */
        .checkmark:after {
            content: "";
            position: absolute;
            display: none;
        }
        /* Show the checkmark when checked */
        .container input:checked~.checkmark:after {
            display: block;
        }
        /* Style the checkmark/indicator */
        .container .checkmark:after {
            left: 7px;
            top: 5px;
            width: 5px;
            height: 10px;
            border: solid white;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    }
    .nodat {
        padding: 20%;
        background: #f1f5f8;
        text-align: center;
        font-size: 20px;
    }
    .modal-footer-1 {
        padding: 2px 16px;
        background-color: #5cb85c;
        color: white;
      }

      .modal-header-2 {
        padding: 2px 16px;
        background-color: #5cb85c;
        color: white;
      }
      
}