<div class="report_viewer">

    <!-- <div class="report_viewer_header">
    <div class="content_width">
      <div class="header_grid">
        <div class="header_title">
          <h4>
            {{ReportName}}
          </h4>
        </div>
        <div>
          <div class="leftContent">

                <div class="buttons_container">
                    <button class="back_button" (click)="back()">Back</button>
                </div>
          </div>
        </div>

      </div>
    </div>
  </div> -->


    <app-subheader [headerConfig]="header" [parentcat]="FMReportList" (dropsearch)="handleChange($event)" (btntwo)="Exportreport()" (backClick)="back()"></app-subheader>

    <!-- <button (click)="OpenModal()">Get report</button> -->
    <div class="inside_form_container">
        <div class=''>
            <div *ngIf="FMReadyForWorking">
                <ngx-fm-report [Data]="FMReport.data" (GetReportMethod)="GetReport($event)" [Report]="FMReport.report" [Toolbar]="FMReport.toolbar"></ngx-fm-report>
                <!-- (GetReportMethod)="GetReport($event)" -->
            </div>
            <!-- <div *ngIf="nodata" class="nodat">
                <p>No Data found</p>
            </div> -->
            <ngx-no-data *ngIf="nodata"></ngx-no-data>

        </div>
    </div>

    <div class="reportBackdrop" *ngIf="openPopUpModal">
        <div class="reportModal">
            <div class="report_modal_header">
                Save Report
                <button (click)="CloseModal()" class="closebtn">x</button>
            </div>
            <div class="report_modal_body">
                <nb-tabset class="report_viewer_tabset" (changeTab)="selectedTab($event, type)">
                    <nb-tab tabTitle="Add New" [active]="addReport" class="reportSelectionTabs">
                        <form #addReportForm="ngForm">
                            <div class="form_field_container">
                                <label for="reportName">Report Name</label>
                                <input type="text" class="form-control" [(ngModel)]="Report_Name_Temp" name="reportName" id="reportName" #repoName="ngModel" (change)="disableSelectBox($event, repoName.dirty)" [disabled]="hideReportInput" placeholder="Max 50 characters" pattern=".{0,50}"
                                    maxlength="50" required>
                                <div class="required_msg_text" [hidden]="repoName.valid || repoName.pristine">
                                    <small class="form-text text-muted" [hidden]="!repoName.hasError('required')">Report name is
                    required</small>
                                    <small class="form-text text-muted" [hidden]="!repoName.hasError('pattern')"> Maximum 50 characters are
                    allowed</small>
                                </div>
                            </div>

                            <div class="modal_footer_btn">
                                <button class="constantbtn-button-blue-left" [disabled]="!addReportForm.valid" (click)="SaveReport(Report_Name_Temp, addReportForm)">Save</button>
                            </div>
                        </form>

                    </nb-tab>
                    <!--  -->
                    <nb-tab tabTitle="Update" class="reportSelectionTabs">
                        <form #updateReportForm="ngForm">
                            <div class="form_field_container">
                                <label for="selectedReport">Select Report</label>
                                <select class="form-control select_field_height" name="reportList" (change)="disableInput($event, reportList.dirty)" [(ngModel)]="Selected_Report_Temp" #reportList="ngModel" required>
                  <option value="0" selected disabled>Select Report List</option>
                  <option [value]="report.report_id" *ngFor="let report of FMReportList">{{ report.report_name }}
                  </option>
                </select>
                                <div class="required_msg_text" [hidden]="submitted || (reportList.valid && reportList.pristine)">
                                    <small class="form-text text-muted" [hidden]="!reportList.hasError('required')">Select at least one
                    report</small>
                                    <small class="form-text text-muted" *ngIf="reportList.invalid">Please select report from list</small>
                                </div>
                            </div>

                            <div class="modal_footer_btn">
                                <button class="constantbtn-button-blue-left" [disabled]="!updateReportForm.valid" (click)="SaveReport(Selected_Report_Temp, updateReportForm)">Save</button>
                            </div>
                        </form>
                    </nb-tab>
                </nb-tabset>

            </div>

        </div>
    </div>
    <!-- <div class="popup_conatiner" *ngIf="openPopUpEmployeeDetailType">
        <div class="addRuleBackdropaddquiz">
            <div class="addRuleDemoaddquizModal">
                <div class="modal-header-1">
                    <p>Select Report</p>
                    <button class="close" aria-label="Close" (click)="closesectioType()">
              <span aria-hidden="true">&times;</span>
            </button>
                </div>
                <div class="mbody modal-body">
                    <div class="form_body_padding">
                        <div class="question_check_box" *ngFor="let item of emplyeedetailType;let i = index">
                            <label class="container"> {{item.value}}
                    [disabled]="i !=0"
                    <input type="checkbox"  (ngModelChange)="onChange($event,item,i)"  [(ngModel)]="item.selected">
                    <span class="checkmark"></span>
                  </label>
                        </div>

                    </div>
                </div>

                <div class="modal-footer text-left">
                    <button type="button" class="constantbtn-button-blue-left" (click)="getReportEmployee()">Save</button>
                    <button class="constantbtn-button-blue-right" [disabled]="anyOneSelected" *ngIf="menuId === 107" (click)="Exportreport()">Schedule</button>
                </div>
            </div>
        </div>
    </div> -->

    <ngx-sidebar-form *ngIf="openPopUpEmployeeDetailType" [sidebarTitle]='notiTitleEmp' (outside)="closeSiderBar()" [buttonName]="btnName" [buttonName1]="btnName1Emp" (closeBtn)='closesectioType()' (saveBtn)="getReportEmployee()" (saveBtn1)="Exportreport()">
        <div class="mbody modal-body">
            <div class="form_body_padding">
                <div class="question_check_box" *ngFor="let item of emplyeedetailType;let i = index">
                    <label class="container"> {{item.value}}
            <!-- [disabled]="i !=0" -->
            <input type="checkbox"  (ngModelChange)="onChange($event,item,i)"  [(ngModel)]="item.selected">
            <span class="checkmark"></span>
          </label>
                </div>

            </div>
        </div>
    </ngx-sidebar-form>


    <!-- -------Schedule Preview Popup-------------------->
    <!-- <div class="popup_conatiner" *ngIf="openPopup">
      <div class="addRuleBackdropaddquiz" >
        <div class="addRuleDemoaddquizModal">
          <div class="modal-header">
            <p>Select any one of the option</p>
            <button class="close" aria-label="Close" (click)="closesectioType()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>


          <div class="text-center">
            <div>&nbsp;</div>
            <div>&nbsp;</div>

            <button class="btn btn-primary"   (click)="Exportreport()">Schedule</button>
            <span>&nbsp;&nbsp;</span>
            <button type="button" class="btn btn-primary" (click)="closesectioType()" >Preview</button>
            <div>&nbsp;</div>
            <div>&nbsp;</div>

          </div>
        </div>
      </div>
    </div> -->


    <!-- ---------End Popup----------------  -->


    <!-- <div *ngIf="exports">
        <ngx-report-schedule [data]="FMReportFilterValues" [menuId]="menuId" (closed)="closedmodel($event)"></ngx-report-schedule>
    </div> -->
<!-- (saveBtn)="sendSaveBtn('save')"  -->
    <ngx-sidebar-form *ngIf="exports" [sidebarTitle]='notiTitle' (outside)="closeSiderBar()" [buttonName]="" [buttonName1]="btnName1" (closeBtn)='closeSiderBar()' (saveBtn1)="sendSaveBtn('savenshow')">
        <ngx-report-schedule-sidebar [inpdata]="isdata" [data]="FMReportFilterValues" [menuId]="menuId" (closed)="closedmodel($event)">
        </ngx-report-schedule-sidebar>
      </ngx-sidebar-form>

      <ngx-sidebar-form *ngIf="showOnlySchedulePopup" [sidebarTitle]='notiTitle' (outside)="closeSiderBar()" [buttonName1]="btnName1" (closeBtn)='closeOnlySiderBar()' (saveBtn1)="sendSaveBtn('onlysavenshow')">
        <ngx-report-only-schedule-sidebar [inpdata]="isdata" [data]="FMReportFilterValues" [menuId]="menuId" (closed)="closedOnlySchedule($event)"></ngx-report-only-schedule-sidebar>
      </ngx-sidebar-form>

    <!-- <div *ngIf="showOnlySchedulePopup">
        <ngx-report-only-schedule [data]="FMReportFilterValues" [menuId]="menuId" (closed)="closedOnlySchedule($event)"></ngx-report-only-schedule>
    </div> -->

