<div class="widgets">
  <!-- <div id="loader" *ngIf="loader == true"></div> -->
  <div class="loaderBackdrop" *ngIf="loader == true">
    <div id="loader"></div>
  </div>
  <div ba-panel ba-panel-class="with-scroll">
    <div class="col-sm-12 panelCol">
      <div style="">
        <div class="userSubButAddEdit sticky-top" *ngIf="tab1 == true">
          <button type="button" id="uploadBut" [disabled]="enableUpload == false" (click)="postfile()">Upload</button>
          <button type="submit"  (click)="back()" class="back_button">Back</button>
        </div>
        <div class="userSubButUploadSub sticky-top" *ngIf="tab2 == true">
          <button type="button" id="uploadBut" [disabled]="enableSubmit == false" (click)="getRowDataLength()">Save</button>
          <button type="submit" (click)="backTab1()" class="back_button">Back</button>
        </div>

        <div class="userSubButUploadBack sticky-top" *ngIf="tab3 == true">
          <!-- <button type="button" class="btn btn-secondary optbtnNew" [disabled]="!userForm.form.valid" (click)="subfile()">Save</button> -->
          <button type="submit" (click)="backTab2()" class="back_button">Back</button>
        </div>

        <!-- (onSelect)="postfileTab($event)" -->
        <tabset [pills]="false" class="tabable uploadUsersTab" (onSelect)="postfileTab($event)" #tabsetUpload >
          <tab title="" [disabled]="false" [active]= "true">
            <span *tabHeading>
                  <b> 
                     Upload
                  </b> 
                </span>
            <div class="row m0 formGen">
              <div class="col-12 grid-margin stretch-card formGenCard">
                <div class="card cardForm cardForm1">
                  <div class="card-body">
                    <!-- <h4 class="card-title">Upload</h4> -->
                    <p class="card-description">
                    </p>
                    <form class="forms-sample" #userForm="ngForm">
                      <div class="form-group">
                        <div class="row">
                        <div class="col-12 colInput">
                          <div class="form-group inputDnD">
                            <label class="sr-only" for="inputFile">File Upload</label>
                            <input type="file" #fileUpload class="form-control-file text-success font-weight-bold" id="inputFile" accept=".xls,.xlsx" (change)="readUrl($event)" attr.data-title="{{fileName}}">
                          </div>
                          <span></span>
                            <div class="cancelFile">
                              <input type="button" class="btn btn-secondary fp-btn-choose cancelBut" id="filepicker-button" value="Cancel" name="userfilechoose" (click)="cancel()">
                              <span></span>
                            </div>
                          </div>
                        </div>  
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              
            </div>
          </tab>
          <tab title="" [disabled]="true" [active]= "false">
            <span *tabHeading>
                  <b> 
                    Preview
                  </b> 
                </span>
            <div class="row m0 formGen">
              <div class="col-md-12 grid-margin stretch-card formGenCard">
                <div class="card cardForm">
                  <div class="card-body">
                    <h4 class="card-title">Uploaded Users</h4>
                    <p class="card-description">
                    </p>
                    <form class="forms-sample">
                      <div class="form-group previewGrid">
                        <div class="container" *ngIf="tab2Grid == true">
                          <angular-slickgrid gridId="grid1"
                                    [columnDefinitions]="columnDefinitionsPreview"
                                    [gridOptions]="gridOptionsPreview"
                                    [dataset]="datasetPreview"
                                    (onAngularGridCreated)="angularGridReadyPreview($event)">
                          </angular-slickgrid>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="userSubBut" style="margin-top: 2%;">
                  <button type="button" class="btn btn-mm btn-primary" [disabled]="!userForm.form.valid" (click)="  addEdit(formdata)">Save</button>
                  <button type="submit" class="btn btn-mm btn-default" (click)="back()" id="backBut"> Back</button>
                </div> -->
          </tab>
          <tab title="" [disabled]="true" [active]= "false">
            <span *tabHeading>
                  <b> 
                    Results
                  </b> 
                </span>
            <div class="row m0 formGen">
              <div class="col-md-12 grid-margin stretch-card formGenCard">
                <div class="card cardForm">
                  <div class="card-body">
                    <h4 class="card-title">Uploaded Users Result</h4>
                    <p class="card-description">
                    </p>
                    <form class="forms-sample">
                      <div class="form-group previewGrid">
                        <div class="container" *ngIf="tab3Grid == true">
                          <angular-slickgrid gridId="grid2"
                                    [columnDefinitions]="columnDefinitionsResult"
                                    [gridOptions]="gridOptionsResult"
                                    [dataset]="datasetResult"
                                    (onAngularGridCreated)="angularGridReadyResult($event)">
                          </angular-slickgrid>
                        </div>
                      </div>
                    </form>
                    <div>
                      <p>Users Added <span> {{ usersAddedCount }} </span></p>
                      <!-- <p>Users skipped <span>  </span></p> -->
                      <p>Errors <span> {{ usersErrorsCount }} </span></p>
                      <p class="dwnldErr" (click)="exportToExcel()">Click here to download users having errors!</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="userSubBut" style="margin-top: 2%;">
                  <button type="button" class="btn btn-mm btn-primary" [disabled]="!userForm.form.valid" (click)="  addEdit(formdata)">Save</button>
                  <button type="submit" class="btn btn-mm btn-default" (click)="back()" id="backBut"> Back</button>
                </div> -->    
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>
