ngx-observation {
    .rating.color-goldenyellow .star-container .star {
        width: 30px;
        height: 30px;
        margin: 5px;
        margin-top: 0;
        margin-bottom: 0;
        svg {
            fill: var(--colorCommon);
        }
        i {
            color: var(--colorCommon);
        }
    }
    .mytable {
        // padding: 20px;
    }
    .tname {
        width: 100%;
        background: var(--colorCommon);
        color: var(--colorBtnTxt);
        padding: 10px;
        font-size: 16px;
        font-weight: 500;
    }
    .assessSubmit {
        width: auto !important;
        border: none;
        padding: 6px 14px !important;
        background-color: var(--colorCommon) !important;
        color: var(--colorBtnTxt) !important;
        text-transform: uppercase !important;
        min-width: 90px !important;
        max-height: 29px !important;
    }
    .tHeadSize {
        width: 150px !important;
        text-align: inherit;
    }
    .tHeadSizeSec {
        width: 150px !important;
        text-align: center;
    }
    .justifyContent {
        padding: 10px 20px;
    }
    .txtArea {
        width: 100%;
        height: 5vw;
    }
    .scoreInp {
        width: 50px;
        height: 50px;
    }
    .scoreTd {
        text-align: center;
    }
    .colPad {
        padding: 15px;
    }
    .subheading {
        padding: 10px 20px;
    }
    .progressBar {
        width: 1000px !important;
    }
}