<!-- <div class="observationtable">
    <div class="mytable" *ngIf = "obs">
      <table>
        <thead>
          <tr>
            <th class="tHeadSize">Spectr</th>
            <th class="tHeadSize">Competencies</th>
            <th class="tHeadSize">Evaluation Areas</th>
            <th class="tHeadSize">Score</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let obs of obsqueans; let i = index" class="evenoddRows">
            <td class="justifyContent">{{obs.spectrNames}}</td>
            <td class="justifyContent">{{obs.compNames}}</td>
            <td class="justifyContent">{{obs.evalAreaNames}}</td>
            <td class="justifyContent">
              <star-rating [starType]="'svg'" [readOnly]="true" staticColor="goldenyellow" [rating]="obs.value"></star-rating>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
</div> -->


<div id="table" class="table-editable mytable">
    <div class="tname">
        Manager
    </div>
    <table class="table" *ngIf="obs">
        <thead>
            <tr>
                <th scope="col" class="tHeadSize">Spectr</th>
                <th scope="col" class="tHeadSize">Competencies</th>
                <th scope="col" class="tHeadSize">Area</th>
                <th scope="col" class="tHeadSizeSec">Score</th>
                <!-- <th scope="col" class="tHeadSize">Remarks</th> -->
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let obs of obsqueans; let i = index">
                <td class="justifyContent" title="{{obs.spectrNames}}">{{obs.spectrNames}}</td>
                <td class="justifyContent" title="{{obs.compNames}}">{{obs.compNames}}</td>
                <td class="justifyContent" title="{{obs.evalAreaNames}}">{{obs.evalAreaNames}}</td>
                <td class="justifyContent">
                    <star-rating [starType]="'svg'" [readOnly]="true" [numOfStars]="4" staticColor="goldenyellow" [rating]="obs.score"></star-rating>
                </td>
            </tr>
        </tbody>
    </table>
</div>