
.inputDnD {
    // height: 14em;
    .form-control-file {
        position: relative;
        width: 100%;
        height: 100%;
        min-height: 6em;
        outline: none;
        visibility: hidden;
        cursor: pointer;
        background-color: #c61c23;
        box-shadow: 0 0 5px solid currentColor;
        &::before {
            color: #ed462f;
            content: attr(data-title);
            position: absolute;
            left: 0;
            margin-top: 15px;
            width: 100%;
            height: 6em;
            line-height: 5.5em;
            opacity: 1;
            visibility: visible;
            text-align: center;
            border: 0.15em dashed #9ea4a5;
            -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
            transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
            overflow: hidden;
        }
        &::hover {
            &:before {
                border-style: solid #076ba1;
                /*box-shadow: inset 0px 0px 0px 0.25em currentColor;*/
            }
        }
    }
}
.blur {
    // height: 14em;
    .form-control-file {
        position: relative;
        width: 100%;
        height: 100%;
        min-height: 6em;
        outline: none;
        visibility: hidden;
        cursor: pointer;
        background-color: #c61c23;
        box-shadow: 0 0 5px solid currentColor;
        &::before {
            color: #ed462f;
            content: attr(data-title);
            position: absolute;
            left: 0;
            margin-top: 15px;
            width: 100%;
            height: 6em;
            line-height: 5.5em;
            opacity: 0.5;
            z-index: 0;
            // cursor: none;
            visibility: visible;
            text-align: center;
            border: 0.15em dashed #9ea4a5;
            -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
            transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
            overflow: hidden;
        }
        &::hover {
            &:before {
                border-style: solid #076ba1;
                /*box-shadow: inset 0px 0px 0px 0.25em currentColor;*/
            }
        }
    }
}
.height {
    height: 100px;
}
.uploadCard {
    background: #fff;
    width: 100%;
    padding: 10px;
    margin: auto;
    margin-top: 10px;
    height: 170px
    // width: 70px;
}
.centerAlign {
    width: 100%;
    text-align: center;
    // background: #82c648;
}
.progress {
    background-color: #e9ecef;
    border-radius: 0.25rem;
    display: flex;
    font-size: 1.2rem;
    height: 2rem;
    margin-top:1rem;
    overflow: hidden;
    margin-left: 40px;
    margin-right: 40px;
    z-index: 1;
  }
  .progress-bar {
    align-items: center;
    background-color: #007bff;
    color: #fff;
    display: flex;
    justify-content: center;
  }
.constantbtn-green{
    // margin-left: 10px;
    // background: #076ba1;
    // color: #fff;
    // border: #02a0f5;
    height: 40px;
    min-width: 70px;
    // color: #ffffff;
    background-image: none;
    // border-color: #02a0f5;
    -webkit-transform: none;
    transform: none;
    text-transform: capitalize;
    border-radius: 5px;
    // background-color: var(--colorBgbtn) !important;
    background-color: #82c648 !important;
    // color: var(--colorBtnTxt) !important;
    color: #Efffda !important;
    border: 1px solid var(--colorBtnTxt) !important;
}