<app-subheader [headerConfig]="header" (backClick)="back()" (comeBack)="backToAsset($event)"></app-subheader>
<!-- <button (click)="folder()">Folder Upload</button> -->
<div class="col-md-12">
  <!-- <div style="background-color:blue">
    <p style="color: white;">Upload Folder</p>
    *ngIf="folderPopupshow"
  </div> -->
  <div class="uploadCard" >
    <!-- <h1 style="text-align: center;">File Upload</h1>
    <hr> -->
    <div class="progress" *ngIf="progress">
      <div class="progress-bar" [style.width]="progress + '%'">{{progress}}%</div>
    </div>
  <div class="col-md-12">
    <div class="form-group inputDnD height" *ngIf = "type == 1 && !progress" [ngClass]="{'blur': progress}">
    <input type="file" title="folder" #fileUpload class="form-control-file text-success font-weight-bold" id="inputFile"
      accept="zip,application/octet-stream,application/zip,application/x-zip,application/x-zip-compressed,.csv" name="inputFile" (change)="onSelectFile($event)" attr.data-title="{{fileName}}">
  </div>
  <div class="form-group inputDnD height" *ngIf = "type == 1 && progress" [ngClass]="{'blur': progress}">
    <input type="file" title="folder" #fileUpload class="form-control-file text-success font-weight-bold" id="inputFile"
      accept="zip,application/octet-stream,application/zip,application/x-zip,application/x-zip-compressed,.csv" name="inputFile" (change)="onSelectFile($event)" attr.data-title="{{fileName}}"disabled>
  </div>
  <div class="form-group inputDnD height" *ngIf = "type == 2 && !progress" [ngClass]="{'blur': progress}">
    <input type="file" title="folder" #fileUpload class="form-control-file text-success font-weight-bold" id="inputFile"
      accept="video/*,audio/*,application/pdf,.png, .jpg, .jpeg,.ppt,.pptx,.doc,.docx,.xls,.xlsx" name="inputFile" (change)="onSelectFile($event)" attr.data-title="{{fileName}}">
  </div>
  <div class="form-group inputDnD height" *ngIf = "type == 2 && progress" [ngClass]="{'blur': progress}">
    <input type="file" title="folder" #fileUpload class="form-control-file text-success font-weight-bold" id="inputFile"
      accept="video/*,audio/*,application/pdf,.png, .jpg, .jpeg,.ppt,.pptx,.doc,.docx,.xls,.xlsx" name="inputFile" (change)="onSelectFile($event)" attr.data-title="{{fileName}}" disabled>
  </div>
</div>
<div class="centerAlign" *ngIf="folderPopupshow">
<!-- <button class="constantbtn-button-blue-left rightMargin" (click)="submit1()">Upload</button> -->
<button class="constantbtn-button-blue-left rightMargin" *ngIf = "!progress"[disabled]="progress != null" (click)="upload()">Upload </button>
&nbsp;
&nbsp;
<button class="constantbtn-button-blue-left rightMargin" *ngIf = "!progress" (click)="cancel()">Cancel</button>
</div>
</div>
</div>
