<table class="table" *ngIf="tableData?.length!=0">
    <thead>
        <tr>
            <th>

            </th>
            <!-- <th *ngIf="allCheck">
            </th> -->

            <!-- <th *ngIf="allCheck"><input name="select_all" value="1" type="checkbox" (click)="selectAll()"></th> -->
            <th *ngFor="let item of label">
                <ngx-checkbox id="select_All" [isChecked]="checkAllFlag" *ngIf="item.componentType == 'checkbox' && allCheck" (clickToCheck)="selectAll($event)"></ngx-checkbox>
                <ngx-checkbox id="select_All" [isChecked]="customCheckAllFlag?.flag" *ngIf="item.componentType == 'checkbox' && customCheckAll" (clickToCheck)="customCheckAllEmit($event)"></ngx-checkbox>
                {{ item.labelname }}
            </th>
        </tr>
    </thead>


    <tbody>

        <tr *ngFor="let item of tableData |paginate: { itemsPerPage: paginationObject.itemsPerPage, currentPage: p , id: paginationObject.id}; let i = index">
            <td></td>
            <td *ngFor="let thd of label" (click)="onRowClick(item)">
                <ngx-text (textClick)="clickTotext(item[thd.bindingProperty], item)" [normalText]="item[thd.bindingProperty]" [ngClass]="{'cursor' : addPointer}" *ngIf="thd.componentType == 'text'"></ngx-text>
                <ngx-price (priceClick)="clickTotext(item[thd.bindingProperty], item)" [price]="item[thd.bindingProperty]" [ngClass]="{'cursor' : addPointer}" *ngIf="thd.componentType == 'price'"></ngx-price>
                <ngx-text (textClick)="clickTotext(item[thd.bindingProperty], item)" [fulltext]="item[thd.bindingProperty]" [ngClass]="{'cursor' : addPointer}" *ngIf="thd.componentType == 'fulltext'"></ngx-text>
                <ngx-text (textClick)="clickTotext(item[thd.bindingProperty], item)" [htmlStr]="item[thd.bindingProperty]" [ngClass]="{'cursor' : addPointer}" *ngIf="thd.componentType == 'htmlStr'"></ngx-text>
                <ngx-html (textClick)="clickTotext(item[thd.bindingProperty], item)" [ngClass]="{'cursor' : addPointer}" [normalText]="item[thd.bindingProperty]" *ngIf="thd.componentType == 'html'"></ngx-html>
                <ngx-button (buttonClick)="clickToButton(item[thd.bindingProperty], item)" [item]="item" [addClass]="'btn-success'" [buttonText]="item[thd.bindingProperty]" *ngIf="thd.componentType == 'button'">
                </ngx-button>
                <ngx-checkbox [id]="i" (clickToCheck)="checkChange(item)" [isChecked]="item.checked" *ngIf="thd.componentType == 'checkbox'"></ngx-checkbox>
                <ngx-mobile [normalText]="item[thd.bindingProperty]" *ngIf="thd.componentType == 'Number'"></ngx-mobile>
                <ngx-date [normalText]="item[thd.bindingProperty]" *ngIf="thd.componentType == 'date'"></ngx-date>
                <ngx-delete (buttonDelClick)="clickToDelButton(item[thd.bindingProperty], item)" [item]="item" [addClass]="'btn-success'" [buttonDelete]="item[thd.bindingProperty]" *ngIf="thd.componentType == 'delete'">
                </ngx-delete>
                <ngx-edit-button (iconClick)="clickToicon(item[thd.bindingProperty], item)" [item]="item" [addClass]="'btn-success'" *ngIf="thd.componentType == 'icon'"></ngx-edit-button>
                <ngx-duplicate (iconClick)="clickToDupicon(item[thd.bindingProperty], item)" [item]="item" [addClass]="'btn-success'" *ngIf="thd.componentType == 'icondup'"></ngx-duplicate>
                <ngx-download (buttonDownClick)="buttonDownClick(item[thd.bindingProperty], item)" [tableHead]="thd" [item]="item" [buttonDown]="item[thd.bindingProperty]" *ngIf="thd.componentType == 'icondown'"></ngx-download>
            </td>
        </tr>

    </tbody>
</table>

<div class="text-center mt-3 w100" *ngIf="pagination && tableData?.length!=0">
    <pagination-controls (pageChange)="p = $event" maxSize="12" [id]="paginationObject.id" responsive="true" previousLabel="Previous" nextLabel="Next" directionLinks="false" autoHide="true">
    </pagination-controls>
</div>
