table {
    background: #fff;
    box-shadow: 0px 5px 21px 0px rgba(226, 233, 238, 0.7);
    thead {
        color: #4b4b4b;
        background: #d8ebfa;
        box-shadow: 0px 5px 21px 0px rgb(228, 236, 242);
        th {
            border-bottom: 1px solid #dee2e6;
            text-transform: uppercase;
            font-weight: 600;
            // color: var(--colorCommon);
            color: #0f3a68;
            padding: 8px 10px;
            font-size: 12px;
        }
    }
    tbody {
        color: #7c7a7a;
        border-bottom: 1px solid #dee2e6;
        tr {
            td {
                padding: 8px 10px;
                font-size: 12px;
                vertical-align: middle;
            }
        }
    }
}

.focus:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}

.focus {
    // border: 1px solid #ced4da;
    border: 1px solid #dae6f2;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.w100 {
    width: 100%;
}

.cursor {
    cursor: pointer;
}