<form name="form" #modf="ngForm">
    <!-- <div class="btn-toolbar addTopicBtnTool" *ngIf="courseTypeId === 5">
        <span class="addTopicBtnToolSpan text-right"> -->
    <!-- <ng-container *ngIf="courseTypeId === 4">
        <button
          type="button"
          class="constantbtn-button-blue-left"
          [disabled]="userForm1?.invalid || trainer == false"
          (click)="passDataToParent('saveModuleDetails', modf, train)"
        >
          Save
        </button>
      </ng-container> -->

    <!-- <ng-container *ngIf="courseTypeId === 5">
        <button
          type="button"
          class="constantbtn-button-blue-left"
          (click)="passDataToParent('saveModuleDetails', modf)"
        >
          Save
        </button>
      </ng-container>

      <button
        type="button"
        class="constantbtn-button-blue-right"
        *ngIf="courseTypeId === 5"
        (click)="passDataToParent('closeModuleForm', '')"
      >
        Cancel
      </button> -->

    <!-- <div class="btn-group btn-breadcrumb1 breadcrumbDiv">
        <a class="btn btn-primary1 firstChild" (click)="closeModuleForm()">
          <i class="glyphicon glyphicon-list" style="mt-1"></i>
          All Sessions
        </a>
        <a class="btn btn-primary1 lastChild">{{courseNav.currentModule.modulename}}</a>
      </div> -->
    <!-- </span>
    </div> -->
    <div class="card cardForm borderNone">
        <div class="card-body padding0">
            <div class="card-title topEditHead marginBottom0 marginTop0">
                <ng-container *ngIf="courseTypeId === 4">
                    Session
                </ng-container>
                <ng-container *ngIf="courseTypeId !== 4">
                    Module
                </ng-container>
                <!-- <div class="btn-toolbar btnTool" style="">
          <div class="btn-group floatR" style="">
            <button class="toolBut" title="Save">
            </button>
            <button class="toolBut" title="Close form" (click)="closeModuleForm()">
            </button>
          </div>
        </div> -->
            </div>
            <hr class="listSeperator displayNone" />
            <div class="row moduleContentDiv">
                <div class="col-sm-12 p-0">
                    <div class="col-sm-6 p-0">
                        <div class="form-group col-md-12">
                            <ng-container *ngIf="courseTypeId === 4">
                                <label class="side-form-label">{{helpContent?.blended_course_Session?.session_name?.label}}<sup>&#x2731;</sup>
                  <app-info-tooltip [description]="helpContent?.blended_course_Session?.session_name?.labelHelpContent">
                  </app-info-tooltip>
                </label>
                                <!-- <label class="left_space" for="moduleName">
                  {{ helpContent?.blended_course_Session?.session_name.label }}
                  <sup class="reqFieldActivity">*</sup>
                  <div class="help-tooltip">
                    <i
                      class="fa fa-info-circle tooltip-hover-info-label-round"
                      aria-hidden="true"
                    ></i>
                    <div class="help-tooltip-position-bottom">
                      <p>
                        {{
                          helpContent?.blended_course_Session?.session_name
                            ?.labelHelpContent
                        }}
                      </p>
                      <i></i>
                    </div>
                  </div>
                </label> -->
                            </ng-container>
                            <ng-container *ngIf="courseTypeId !== 4">
                                <label class="side-form-label">{{helpContent?.course_Module?.module_name?.label}}<sup>&#x2731;</sup>
                  <app-info-tooltip [description]="helpContent?.course_Module?.module_name?.labelHelpContent">
                  </app-info-tooltip>
                </label>
                                <!-- <label class="left_space" for="moduleName"
                  >{{ helpContent?.course_Module?.module_name?.label }}
                  <sup class="reqFieldActivity">*</sup>
                  <div class="help-tooltip">
                    <i
                      class="fa fa-info-circle tooltip-hover-info-label-round"
                      aria-hidden="true"
                    ></i>
                    <div class="help-tooltip-position-right">
                      <p>
                        {{
                          helpContent?.course_Module?.module_name
                            ?.labelHelpContent
                        }}
                      </p>
                      <i></i>
                    </div>
                  </div>
                </label> -->
                            </ng-container>

                            <input type="text" class="form-control commonInput" id="moduleName" [(ngModel)]="formDataModule.moduleName" required placeholder="Maximum 50 characters" name="moduleName" #moduleName="ngModel" minlength="2" maxlength="50" />
                            <!-- (ngModelChange)="updateTopName(formDataModule)" -->
                            <ng-container *ngIf="
                  moduleName.errors && (moduleName.dirty || moduleName.touched)
                " class="invalid-msg">
                                <ng-container *ngIf="courseTypeId === 4">
                                    <small [hidden]="!moduleName.errors.required" class="invalid-msg">
                                        Session Name is required
                                    </small>
                                    <small [hidden]="!moduleName.errors.minlength" class="invalid-msg">
                                        Minimum 2 characters required
                                    </small>
                                </ng-container>
                                <ng-container *ngIf="courseTypeId !== 4">
                                    <small *ngIf="moduleName.errors.required" class="invalid-msg">
                                        Module Name is required
                                    </small>
                                    <small *ngIf="moduleName.errors.minlength" class="invalid-msg">
                                        Minimum 2 characters are required
                                    </small>
                                </ng-container>
                            </ng-container>
                            <span></span>
                        </div>

                        <!-- new change -->
                        <div class="form-group col-md-12">
                            <ng-container *ngIf="courseTypeId === 4">
                                <label class="side-form-label">{{helpContent?.blended_course_Session?.session_code?.label}}
                <app-info-tooltip [description]="helpContent?.blended_course_Session?.session_code?.labelHelpContent">
                </app-info-tooltip>
              </label>

                            </ng-container>
                            <ng-container *ngIf="courseTypeId !== 4">
                                <label class="side-form-label">{{helpContent?.course_Module?.module_code?.label}}
                <app-info-tooltip [description]="helpContent?.course_Module?.module_code?.labelHelpContent">
                </app-info-tooltip>
              </label>

                            </ng-container>

                            <input type="text" class="form-control commonInput" id="moduleCode" [(ngModel)]="formDataModule.moduleCode" disabled name="moduleCode" #moduleCode="ngModel" />
                            <!-- (ngModelChange)="updateTopName(formDataModule)" -->

                            <span></span>
                        </div>

                        <!-- end  -->

                        <div class="form-group col-md-12">
                            <!-- <ng-container  *ngIf="courseTypeId === 4"> -->
                            <label class="side-form-label">{{helpContent?.blended_course_Session?.summary?.label}}<sup>&#x2731;</sup>
                  <app-info-tooltip [description]="helpContent?.blended_course_Session?.summary?.labelHelpContent">
                  </app-info-tooltip>
                </label>
                            <!-- <label class="left_space" for="summary">
                {{ helpContent?.blended_course_Session?.summary.label }}
                <sup class="reqFieldActivity">*</sup>
                <div class="help-tooltip">
                  <i
                    class="fa fa-info-circle tooltip-hover-info-label-round"
                    aria-hidden="true"
                  ></i>
                  <div class="help-tooltip-position-right">
                    <p>
                      {{
                        helpContent?.blended_course_Session?.summary
                          ?.labelHelpContent
                      }}
                    </p>
                    <i></i>
                  </div>
                </div>
              </label> -->
                            <!-- </ng-container> -->
                            <textarea cols="30" rows="6" class="form-control form-control-input commonTextarea" id="summary" minlength="20" pattern=".{20,500}" [(ngModel)]="formDataModule.summary" placeholder="Min 20 and Max 500 characters." name="summary" #summary="ngModel" required></textarea>
                            <ng-container *ngIf="summary.errors && (summary.dirty || summary.touched)" class="invalid-msg">
                                <ng-container>
                                    <small [hidden]="!summary.errors.required" class="invalid-msg"> 
                                        Summary is required
                                    </small>
                                    <small [hidden]="!summary.hasError('pattern')" class="invalid-msg">
                                        Minimum 20 and maximum 500 characters required
                                    </small>
                                    <!-- <small [hidden]="!summary.errors.mlength" class="invalid-msg">
                                      Minimum 20 and maximum 500 characters required
                                  </small> -->
                                </ng-container>
                            </ng-container>

                            <span></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <ng-container *ngIf="courseTypeId === 4">
                            <div class="form-group">
                                <label class="side-form-label">{{helpContent?.blended_course_Session?.session_image?.label}}<sup>&#x2731;</sup>
                  <app-info-tooltip [description]="helpContent?.blended_course_Session?.session_image?.labelHelpContent">
                  </app-info-tooltip>
                </label>
                                <!-- <label class="left_space">
                  {{ helpContent?.blended_course_Session?.session_image.label }}

                  <div class="help-tooltip">
                    <i
                      class="fa fa-info-circle tooltip-hover-info-label-round"
                      aria-hidden="true"
                    ></i>
                    <div class="help-tooltip-position-right">
                      <p>
                        {{
                          helpContent?.blended_course_Session?.session_image
                            ?.labelHelpContent
                        }}
                      </p>
                      <i></i>
                    </div>
                  </div>
                </label> -->

                                <div class="image_upload_container">
                                    <div class="image_preview">
                                        <div class="image_preview_container" [ngClass]="{ not_found: !formDataModule.modulePic }" [style.background-image]="
                        'url(' + formDataModule.modulePic + ')'
                      ">
                                            <div class="icon_upload_image">
                                                <input type="file" id="imageUpload1" accept=".png, .jpg, .jpeg" name="imageFile" [(ngModel)]="formDataModule.categoryPicRefs" (change)="passDataToParent('readModuleThumb', $event)" style="display: none;" />

                                                <label for="imageUpload1" title="Change Thumbnail"><i class="fa fa-pencil" aria-hidden="true"></i
                        ></label>
                                            </div>
                                            <div class="icon_delete" (click)="passDataToParent('deleteModuleThumb', [])">
                                                <i class="fa fa-trash" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>
                <div class="col-sm-12 p-0">
                    <ng-container *ngIf="courseTypeId === 4">
                        <div class="col-sm-6 p-0">
                            <div class="form-group col-md-12">
                                <label class="side-form-label">{{helpContent?.blended_course_Session?.start_date_time?.label}}<sup>&#x2731;</sup>
                  <app-info-tooltip [description]="helpContent?.blended_course_Session?.start_date_time?.labelHelpContent">
                  </app-info-tooltip>
                </label>
                                <!-- <label class="space_left" for="startDate">
                  {{
                    helpContent?.blended_course_Session?.start_date_time.label
                  }}
                  <sup class="reqFieldActivity">*</sup>
                  <div class="help-tooltip">
                    <i
                      class="fa fa-info-circle tooltip-hover-info-label-round"
                      aria-hidden="true"
                    ></i>
                    <div class="help-tooltip-position-right">
                      <p>
                        {{
                          helpContent?.blended_course_Session?.start_date_time
                            ?.labelHelpContent
                        }}
                      </p>
                      <i></i>
                    </div>
                  </div>
                </label> -->
                                <div class="fullwiddth">
                                    <input [owlDateTime]="dt2" [(ngModel)]="formDataModule.startDate" [min]="setMinDate(formDataModule.startDate, date)" [max]="formDataModule.endDate" placeholder="Start Date" class="form-control dateinput commonInput" name="startDate" id="startDate" #startDate="ngModel"
                                        required />
                                    <div class="divcalicon" [owlDateTimeTrigger]="dt2">
                                        <i class="fa fa-calendar calfont"></i>
                                    </div>
                                    <owl-date-time #dt2></owl-date-time>
                                </div>

                                <ng-container *ngIf="
                    startDate.errors && (startDate.dirty || startDate.touched)
                  " class="invalid-msg">
                                    <small [hidden]="!startDate.errors.required" class="invalid-msg">
                                        Start Date is required
                                    </small>
                                </ng-container>
                            </div>
                            <div class="form-group col-md-12">
                                <label class="side-form-label">{{helpContent?.blended_course_Session?.end_date_time?.label}}<sup>&#x2731;</sup>
                  <app-info-tooltip [description]="helpContent?.blended_course_Session?.end_date_time?.labelHelpContent">
                  </app-info-tooltip>
                </label>
                                <!-- <label class="space_left" for="pctime">
                  {{ helpContent?.blended_course_Session?.end_date_time.label }}
                  <sup class="reqFieldActivity">*</sup>
                  <div class="help-tooltip">
                    <i
                      class="fa fa-info-circle tooltip-hover-info-label-round"
                      aria-hidden="true"
                    ></i>
                    <div class="help-tooltip-position-right">
                      <p>
                        {{
                          helpContent?.blended_course_Session?.end_date_time
                            ?.labelHelpContent
                        }}
                      </p>
                      <i></i>
                    </div>
                  </div>
                </label> -->
                                <div class="fullwiddth">
                                    <input [owlDateTime]="dt22" [(ngModel)]="formDataModule.endDate" [min]="formDataModule.startDate" placeholder="End Date" class="form-control dateinput commonInput" name="pctime" id="pctime" #endDate="ngModel" required />
                                    <div class="divcalicon" [owlDateTimeTrigger]="dt22">
                                        <i class="fa fa-calendar calfont"></i>
                                    </div>
                                    <owl-date-time #dt22></owl-date-time>
                                </div>

                                <ng-container *ngIf="endDate.errors && (endDate.dirty || endDate.touched)" class="invalid-msg">
                                    <small [hidden]="!endDate.errors.required" class="invalid-msg">
                                        End Date is required
                                    </small>
                                </ng-container>
                            </div>
                        </div>
                    </ng-container>

                    <div class="col-sm-6 p-0">
                        <div class="form-group col-md-12">
                            <label class="side-form-label">{{helpContent?.blended_course_Session?.visibility?.label}}<sup>&#x2731;</sup>
                <app-info-tooltip [description]="helpContent?.blended_course_Session?.visibility?.labelHelpContent">
                </app-info-tooltip>
              </label>
                            <!-- <label class="left_space" for="visible">
                {{ helpContent?.blended_course_Session?.visibility.label }}
                <sup class="reqFieldActivity">*</sup>
                <div class="help-tooltip">
                  <i
                    class="fa fa-info-circle tooltip-hover-info-label-round"
                    aria-hidden="true"
                  ></i>
                  <div class="help-tooltip-position-right">
                    <p>
                      {{
                        helpContent?.blended_course_Session?.visibility
                          ?.labelHelpContent
                      }}
                    </p>
                    <i></i>
                  </div>
                </div>
              </label> -->
                            <select [(ngModel)]="formDataModule.visible" id="visible" class="custom-select commonSelect" required name="visible" #visible="ngModel">
                <option value="" selected disabled>Select Type</option>
                <option *ngFor="let item of visibility" value="{{ item.id }}">{{
                  item.name
                }}</option>
              </select>
                            <ng-container *ngIf="visible.errors && (visible.dirty || visible.touched)" class="invalid-msg">
                                <small [hidden]="!visible.errors.required" class="invalid-msg">
                                    Visibility is required
                                </small>
                            </ng-container>

                            <span></span>
                        </div>
                    </div>
                </div>
                <ng-container *ngIf="courseTypeId === 4">
                    <div class="col-sm-12 flexTitle">
                        <h6 class="card-title">Trainer Details</h6>
                        <button type="button" class="constantbtn-button-blue-left button_size" (click)="passDataToParent('addtrainer', visible)">
              Add trainer
            </button>
                    </div>
                    <div class="col-sm-12" *ngIf="!trainerVisible">
                        <form class="forms-sample" #userForm1="ngForm">
                            <div class="col-md-12 accdata" *ngFor="let type of formDataModule.trainers; let j = index">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label class="mysqrcheck sqrCheckBoxLadder pointer ">
                                        <input
                                          id="traineresId{{ j }}"
                                          type="checkbox"
                                          (click)="passDataToParent('nomination', $event)"
                                          name="traineresId{{ j }}"
                                          class="marginRight5px"
                                          [(ngModel)]="type.traineresId"
                                          [disabled] = "type.isCheck == 1"
                                          #traineresId="ngModel"
                                          [required] = "type.trainerId != '' && type.traineresId == 0"
                                          
                                        />
                                        <label
                                          class="sqrCheckBoxLadderLabel"
                                          for="traineresId{{ j }}"
                                        ></label>
                                        </label>
                                        <label class="side-form-label">{{helpContent?.blended_course_Session?.request_for_nomination?.label}}<sup>&#x2731;</sup>
                      <app-info-tooltip [description]="helpContent?.blended_course_Session?.request_for_nomination?.labelHelpContent">
                      </app-info-tooltip>
                    </label>
                                        <!-- <label
                      class="left_space"
                      for="exampleInputPassword4{{ j }}"
                    >
                      {{
                        helpContent?.blended_course_Session
                          ?.request_for_nomination.label
                      }}

                      <div class="help-tooltip">
                        <i
                          class="fa fa-info-circle tooltip-hover-info-label-round"
                          aria-hidden="true"
                        ></i>
                        <div class="help-tooltip-position-right">
                          <p>
                            {{
                              helpContent?.blended_course_Session
                                ?.request_for_nomination?.labelHelpContent
                            }}
                          </p>
                          <i></i>
                        </div>
                      </div>
                    </label> -->

                                    </div>
                                </div>
                                <div class="col-sm-3" [class.disabled-contenct]="type.isCheck == 1">
                                    <div class="form-group" [hidden]="type.traineresId == true">
                                        <label class="side-form-label">{{helpContent?.blended_course_Session?.trainer_name?.label}}<sup>&#x2731;</sup>
                      <app-info-tooltip [description]="helpContent?.blended_course_Session?.trainer_name?.labelHelpContent">
                      </app-info-tooltip>
                    </label>
                                        <!-- <label class="left_space" for="traineresId{{ j }}">
                      {{
                        helpContent?.blended_course_Session?.trainer_name.label
                      }}
                      <span class="invalid-msg">*</span> -->
                                        <!-- <sup class="reqFieldActivity">*</sup> -->
                                        <!-- <div class="help-tooltip">
                        <i
                          class="fa fa-info-circle tooltip-hover-info-label-round"
                          aria-hidden="true"
                        ></i>
                        <div class="help-tooltip-position-bottom">
                          <p>
                            {{
                              helpContent?.blended_course_Session?.trainer_name
                                ?.labelHelpContent
                            }}
                          </p>
                          <i></i>
                        </div>
                      </div>
                    </label> -->
                                        <angular2-multiselect id="exampleInputPassword4{{ j }}" [data]="tempUsers" #train="ngModel" [(ngModel)]="type.train" [settings]="settingsCreatorDrop" (onSelect)="
                        passDataToParent('onCreatorSelect', $event, j) 
                      " (onDeSelect)="
                        passDataToParent('OnCreatorDeSelect', $event, j)
                      " name="trainerId{{ j }}" [required]="type.trainerId != '' && type.traineresId == 0">
                                            <c-item>
                                                <ng-template let-item="item">
                                                    <label class="multiselect-label">{{ item.trainerName }}</label>
                                                </ng-template>
                                            </c-item>
                                        </angular2-multiselect>

                                        <span></span>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group col-md-12">
                                        <label class="side-form-label">{{helpContent?.blended_course_Session?.trainer_visibility?.label}}
                      <app-info-tooltip [description]="helpContent?.blended_course_Session?.trainer_visibility?.labelHelpContent">
                      </app-info-tooltip>
                    </label>
                                        <!-- <label class="left_space" for="visible">
                      {{
                        helpContent?.blended_course_Session?.trainer_visibility
                          .label
                      }}

                      <div class="help-tooltip">
                        <i
                          class="fa fa-info-circle tooltip-hover-info-label-round"
                          aria-hidden="true"
                        ></i>
                        <div class="help-tooltip-position-right">
                          <p>
                            {{
                              helpContent?.blended_course_Session
                                ?.trainer_visibility?.labelHelpContent
                            }}
                          </p>
                          <i></i>
                        </div>
                      </div>
                    </label> -->
                                        <select [(ngModel)]="type.visible" id="visible{{ j }}" class="custom-select commonSelect" required name="visible{{ j }}" #visible="ngModel">
                      <option
                        *ngFor="let item of visibility"
                        value="{{ item.id }}"
                        >{{ item.name }}</option
                      >
                    </select>
                                        <span></span>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <button class="toolButrole crossbuttontrian">
                    <i
                      class="ion-close iconCancel"
                      (click)="
                        passDataToParent(
                          'removeTrainer',
                          formDataModule,
                          type,
                          j,
                          modf,
                          train
                        )
                      "
                      style="float: right;"
                    ></i>
                  </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</form>