<div class="workflow_consumption">
    <!-- <div class="workflow_consumption_header">
        <div class="content_width">
            <div class="header_grid">
                <div class="header_title">
                    <h4>{{ReportName}}</h4>
                </div>
                <div class="search_div">
                    <input class="form-control search_field ng-untouched ng-pristine ng-valid" name="namw" [(ngModel)]="searchtext" (change)="SarchFilter($event, searchtext)" placeholder="Search by workflow name" type="text">
                    <i aria-hidden="true" class="fa fa-remove remove_icon" (click)="clear()"></i>
                </div>
                <div class="buttons_container">
                    <button class="constantbtn-button-blue-left" (click)="Exportreport()">Schedule</button>
                    <button class="constantbtn-button-blue-left" [hidden]="true" (click)="DownlaodReports()">Download</button>
                    <button class="constantbtn-button-blue-right" (click)="GetReports()">Preview</button>
                    <button class="back_button" (click)="GoToBack()">Back</button>
                </div>
            </div>
        </div>
    </div> -->

    <app-subheader [headerConfig]="header" (inputsearch)="SarchFiltertest($event,null)" (Clear)="clear()" (btntwo)="Exportreport()" (btnthree)="GetReports()" (backClick)="GoToBack()" (filterReportPrimary)="gotoFilter('primary')" (filterReportSecondary)="gotoFilter('secondary')"></app-subheader>

    <ngx-filter [courseTag]="filters.primary" [filterInnertag]="filtersInner.primary" [cacheFilter]='filtersCache?.primary' [filterConfig]="filtercon" (changeFilterData)="filteredPrimaryChanged($event)" *ngIf="filter?.primary"></ngx-filter>
    <ngx-filter [courseTag]="filters.secondary" [filterInnertag]="filtersInner.sencodary" [cacheFilter]='filtersCache?.secondary' [filterConfig]="filterSecondaryCon" (changeFilterData)="filteredSecondaryChanged($event)" *ngIf="filter?.secondary" (sendErrorMessageData)="bindErrorMessageData($event)"></ngx-filter>



    <!-- <div class="side_menu_container col-md-3">
        <div *ngIf="FMReportFilterWorking">
            <ngx-side-menu-filter [filter]='FMReportFilterObj.main' [sfilter]='FMReportFilterObj.sub' [filtertype]='filtertype' (onSelectFilter)="getSelectedFilter($event)"></ngx-side-menu-filter>
        </div>
    </div> -->
    <div class="tableList col-md-12">
        <!-- (scroll)="onScrollDown($event.offsetY, false)" -->
        <div class="tableCompo tableInfinite" #scrollDiv cdkScrollable *ngIf='!noData'>
            <ngx-enrol-table [addPointer]="true" [label]="labels" [tableData]="workflowList" (clickOntext)="selectCourseForReport($event)" (selectedItems)='onSelect($event)'></ngx-enrol-table>
        </div>
        <div class="totalrows" *ngIf='!noData'>
            <p class="totalcount">TOTAL: &nbsp; <b>{{FilterParam.total}}</b></p>
        </div>
        <ngx-no-data *ngIf="noData"></ngx-no-data>
        <!-- commented by Ui team member punit soni on 13-03-2020 for dynamic table component -->


        <!-- <div *ngIf="!noData">
          <ngx-datatable class="material server-scrolling-demo" style="" [rows]="workflowList" [columnMode]="'force'"
            [headerHeight]="headerHeight" [rowHeight]="rowHeight" [loadingIndicator]="isLoading" [scrollbarV]="true"
            [selected]="selected" [selectionType]="'checkbox'" [selectAllRowsOnPage]="false" [displayCheck]="displayCheck"
            (select)='onSelect($event)' (activate)="onActivate($event)" (scroll)="onScrollDown($event.offsetY, false)"
            [limit]="5">
            <ngx-datatable-column [width]="30" [sortable]="false" [canAutoResize]="false" [draggable]="false"
              [resizeable]="false" [headerCheckboxable]="false" [checkboxable]="true" >
            </ngx-datatable-column>
            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span>Workflow Code</span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                <a class="usersCountToView" (click)="selectCourseForReport(row)">
                  {{row.workflowid}}
                </a>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span>Workflow Name</span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                <a class="">
                  {{row.wname}}
                </a>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span>Workflow Enrol Date</span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                <a class="" *ngIf="row.enrolDate">
                  {{row.enrolDate | date}}
                </a>
                <a class="" *ngIf="!row.enrolDate">
                  NA
                </a>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span>Enrol Count</span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                <a class="">
                  {{row.enrolCount}}
                </a>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
          <div class="totalrows">
              <p class="totalcount">TOTAL: &nbsp; <b>{{FilterParam.total}}</b></p>
            </div>
        </div> -->
        <!-- <div class="nodatatoDisplay" *ngIf="noData">
            <img src="assets/images/noDataFound11.png">
        </div> -->
    </div>

</div>
<!-- <div *ngIf="exports">
    <ngx-report-schedule [data]="FMReportFilterValues" [menuId]="menuId" (closed)="closedmodel($event)"></ngx-report-schedule>
</div> -->

<ngx-sidebar-form *ngIf="exports" [sidebarTitle]='notiTitle' (outside)="closeSiderBar()" [buttonName]="btnName" [buttonName1]="btnName1" (closeBtn)='closeSiderBar()' (saveBtn)="sendSaveBtn('save')" (saveBtn1)="sendSaveBtn('savenshow')">
    <ngx-report-schedule-sidebar [courseTag]="filters.secondary" [inpdata]="isdata" [data]="FMReportFilterValues" [menuId]="menuId" (closed)="closedmodel($event)">
    </ngx-report-schedule-sidebar>
</ngx-sidebar-form>

<!-- <div class="spinner_container" *ngIf="showSpinner">
    <div class="loader box-rotation"></div>
</div> -->