/*.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; green
}*/


/*.ng-invalid:not(form)  {
  border-left: 5px solid #a94442;  red
}*/

// .alert {
//   margin-bottom: 1px;
//   height: 25px;
//   line-height:25px;
//   padding:0px 15px;
// }
// .alert-danger {
//     background-color: #f0f3f4;
//     border-color: #f0f3f4;
//     color: #645a5a;
// }
@import '../../../@theme/styles/variable.scss';
// input.ng-invalid.ng-touched {
//    border: 1px solid;
// }
.NoDataDiv {
    position: fixed;
    top: 50%;
    left: 52%;
}

#required_mark {
    font-size: 20px;
    font-weight: 100;
    top: -0.3em;
    color: #ed462f;
}

#addFeedSection {
    border-radius: 0;
    background: #076ba1 !important;
    color: #fff;
    border: #076ba1;
    height: 32px;
    color: #ffffff;
    background-image: none;
    border-color: #076ba1;
    -webkit-transform: none;
    transform: none;
}

.help-block {
    color: red;
}

.addEditquiz_Container {
    .top_header_container {
        background: #fff;
        position: sticky;
        width: 100%;
        top: 4.75rem;
        z-index: 1020;
        .top_header_div_sticky {
            background: #fff;
            display: grid;
            position: sticky;
            grid-template-columns: 1fr 1fr;
            height: 50px;
            align-items: center;
            width: 95%;
            margin: auto;
            .page_title {
                text-align: left;
                h4 {
                    margin: 0;
                }
            }
            .search_div {
                display: grid;
                grid-template-columns: auto 20px;
                border: 1px solid;
                .search_field {
                    height: 30px;
                    border: none;
                    box-shadow: none;
                }
                .remove_icon {
                    line-height: 30px;
                }
            }
            .buttons_div {
                text-align: right;
            }
        }
    }
    .image_upload_container {
        margin-top: 15px;
        .image_preview {
            height: 170px;
            width: 300px;
            margin-right: auto;
            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
            padding: 10px;
            background: #fff9f9;
            position: relative;
            .image_preview_container {
                height: 150px;
                width: 100%;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                display: grid;
                grid-template-columns: 1fr 1fr;
                // position: absolute;
                grid-column-gap: 20px;
                align-items: end;
                // margin-top: -10px;
                // img{
                //   width: 100%;
                //   height: 100%;
                // }
                .icon_upload_image {
                    // text-align: right;
                    // margin-left: auto;
                    margin-left: 10px;
                    margin-bottom: 10px;
                    label {
                        display: flex;
                        align-items: center;
                        // align-content:
                        justify-content: center;
                        // justify-items: center;
                        background: #fff;
                        color: #076ba1;
                        height: 40px;
                        width: 40px;
                        border-radius: 50%;
                        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
                        margin-bottom: 0;
                        padding: 0;
                        i {
                            line-height: 40px;
                        }
                    }
                    // margin: 0 auto;
                }
                .icon_delete {
                    // text-align: right;
                    // margin-right: auto;
                    margin-left: auto;
                    margin-right: 10px;
                    margin-bottom: 10px;
                    display: flex;
                    align-items: center;
                    // align-content:
                    justify-content: center;
                    // justify-items: center;
                    background: #fff;
                    color: #076ba1;
                    height: 40px;
                    width: 40px;
                    border-radius: 50%;
                    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
                    // margin: 0;
                    padding: 0;
                    i {
                        line-height: 40px;
                    }
                }
                //   .buttons_image_preview{
                //     // display: grid;
                //     // grid-template-columns: 1fr 1fr;
                //     // // position: absolute;
                //     // grid-column-gap: 20px;
                //     // align-items: end;
                //     // margin-top: -10px;
                // }
            }
        }
    }
    .close {
        color: #fff;
        opacity: 1;
        outline: none;
    }
    .btn {
        text-align: center;
    }
    .disbtn {
        color: #999999;
    }
    .addEditCattoprow {
        // padding: 12px;
        border: none;
        background-color: #ffffff;
        height: auto;
        width: 100%;
        display: inline-flex;
    }
    .addEditCaatsticky-top {
        position: sticky;
        top: 67px;
        z-index: 999
    }
    #submitBut {
        margin: 10px;
        border-radius: 0;
        background: #ed462f;
        color: #fff;
        border: #ed462f;
        height: 37px;
        width: 135px;
        color: #ffffff;
        background-color: #ed462f;
        background-image: none;
        border-color: #ed462f;
        transform: none;
    }
    #addEditCatbackBut {
        margin: 10px;
        border-radius: 0;
        background: #076ba1;
        color: #fff;
        border: #076ba1;
        height: 37px;
        width: 135px;
        color: #ffffff;
        background-color: #076ba1;
        background-image: none;
        border-color: #076ba1;
        transform: none;
    }
    .addEditCatoptbtnNew {
        border-radius: 0px;
        /*background: #076ba1;*/
        background: #ed462f;
        color: #fff;
        border: #076ba1;
        height: 37px;
        width: 135px;
        transform: none;
        margin: 10px;
    }
    .userField {
        margin-left: 30px;
        margin-top: 15px;
    }
    .userLegend {
        margin-bottom: 5px;
    }
    .userLegendBorder {
        border-bottom-style: solid;
        border-bottom-width: 2px;
    }
    /////////////////////////////////////////////////////////
    #userRow1 {
        margin-top: 10px;
    }
    .userSubBut {
        float: right;
        /* margin-left: 30px; */
        /*margin-top: 8px;*/
        transform: none;
        background: #fff;
        height: 55px;
        margin: 0 auto;
        padding: 9px;
    }
    #backBut {
        //margin: 10px;
        border-radius: 0;
        background: #076ba1;
        color: #fff;
        border: #076ba1;
        height: 37px;
        width: 135px;
        color: #ffffff;
        background-color: #076ba1;
        background-image: none;
        border-color: #076ba1;
        transform: none;
    }
    .optbtnNew {
        border-radius: 0;
        /*background: #076ba1;*/
        background: #ed462f;
        color: #fff;
        border: #076ba1;
        height: 37px;
        width: 135px;
        transform: none;
        margin: 10px;
    }
    .btn-secondary:hover {
        color: #fff;
        background-color: #ed462f;
        border-color: #ed462f;
    }
    .inputLabel {
        line-height: 2.5;
        font-size: 15px;
    }
    .left {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .photo {
        width: 200px;
        height: 200px;
        margin-top: -120px;
        border-radius: 100px;
        border: 4px solid #fff;
    }
    // .active {
    //   width: 20px;
    //   height: 20px;
    //   border-radius: 20px;
    //   position: absolute;
    //   right: calc(50% - 70px);
    //   top: 75px;
    //   background-color: #FFC107;
    //   border: 3px solid #fff;
    // }
    @media (max-width:990px) {
        .active {
            right: calc(50% - 60px);
            top: 50px;
        }
    }
    .proImg {
        margin-left: 157%;
        margin-top: 65%;
    }
    .img-circle {
        border-radius: 50%;
    }
    .bg-form {
        float: left;
        width: 100%;
        position: relative;
        background: url("http://lorempixel.com/200/200/abstract/");
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 0px;
    }
    .img-section {
        float: left;
        width: 100%;
        padding-top: 15px;
        padding-bottom: 15px;
        background: rgba(0, 0, 0, 0.7);
        position: relative;
    }
    .img-section h4 {
        color: #fff;
    }
    #PicUpload {
        color: #ffffff;
        width: 180px;
        height: 180px;
        background: rgba(255, 255, 255, 0.4);
        padding: 100px;
        position: absolute;
        left: 30.5%;
        border-radius: 50%;
        display: none;
        top: 15px;
    }
    .imgCircle {
        border-radius: 50%;
        width: 200px;
        height: 200px;
    }
    .Profile-input-file {
        height: 180px;
        width: 180px;
        left: 33%;
        position: absolute;
        top: 0px;
        z-index: 999;
        opacity: 0;
    }
    /*.form-control{padding: 10px 50px;}*/
    .form-input {
        height: 50px;
        border-radius: 0px;
        margin-top: 20px;
    }
    .form-style-fake {
        position: absolute;
        top: 0px;
    }
    .form-style-base {
        position: absolute;
        top: 0px;
        z-index: 999;
        opacity: 0;
    }
    .space_left {
        padding-left: 2px;
    }
    .fake-styled-btn {
        background: #006cad;
        padding: 10px;
        color: #fff;
    }
    .camera {
        font-size: 50px;
        color: #333;
    }
    .avatar-upload {
        position: relative;
        max-width: 205px;
        /*margin: 50px auto;*/
        .avatar-edit {
            position: absolute;
            right: 12px;
            z-index: 1;
            top: 10px;
            input {
                display: none;
                +label {
                    display: inline-block;
                    width: 34px;
                    height: 34px;
                    margin-bottom: 0;
                    border-radius: 100%;
                    background: #FFFFFF;
                    border: 1px solid transparent;
                    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
                    cursor: pointer;
                    font-weight: normal;
                    transition: all .2s ease-in-out;
                    &:hover {
                        background: #f1f1f1;
                        border-color: #d6d6d6;
                    }
                    &:after {
                        content: "\f040";
                        font-family: 'FontAwesome';
                        color: #757575;
                        position: absolute;
                        top: 10px;
                        left: 0;
                        right: 0;
                        text-align: center;
                        margin: auto;
                    }
                }
            }
        }
        .avatar-delete {
            position: absolute;
            right: 12px;
            z-index: 1;
            bottom: 10px;
            label {
                display: inline-block;
                width: 34px;
                height: 34px;
                margin-bottom: 0;
                border-radius: 100%;
                background: #FFFFFF;
                border: 1px solid transparent;
                box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
                cursor: pointer;
                font-weight: normal;
                transition: all .2s ease-in-out;
                &:hover {
                    background: #f1f1f1;
                    border-color: #d6d6d6;
                }
                &:after {
                    content: "\f1f8";
                    font-family: 'FontAwesome';
                    color: #757575;
                    position: absolute;
                    top: 10px;
                    left: 0;
                    right: 0;
                    text-align: center;
                    margin: auto;
                }
            }
        }
        .avatar-preview {
            width: 192px;
            height: 192px;
            position: relative;
            border-radius: 100%;
            border: 6px solid #F8F8F8;
            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
            >div {
                width: 100%;
                height: 100%;
                border-radius: inherit;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
            }
        }
    }
    .inputLabelUpload {
        line-height: 12.5;
        font-size: 15px;
    }
    .activeRoute {
        text-decoration: underline;
        text-underline-position: under;
        text-decoration-color: #076ba1;
        color: #076ba1;
    }
    .al-content {
        padding: 0px;
    }
    .m0 {
        margin: 0 auto;
    }
    .photo-left {
        margin: 0 auto;
    }
    .cardForm {
        color: #666666;
        background-color: #ffffff;
        border: 1px solid #f1eded;
        border-radius: 0px;
        position: relative;
        margin-bottom: 24px;
        box-shadow: none;
    }
    .tabset>.nav .nav-tabs {
        width: 100%;
    }
    .tabset>.nav .nav-tabs>li {
        width: 33%;
    }
    .tabset>.nav .nav-tabs>li>a {
        width: 100%;
    }
    .tabset>ul>li>a>span>i {
        font-size: 20px;
        display: block;
        height: 100%;
    }
    .tabset>ul>li>a>span>i>b {
        display: block;
        font-weight: 500;
        font-style: normal;
        font-size: 16px;
    }
    .tabset>ul>li>a>.span {
        width: 100%;
    }
    .tabset>ul>li:last-child a {
        border-top-right-radius: 5px;
    }
    .tabset>ul>li.active>a {
        background-color: #bec0c1;
        color: #fff;
    }
    /*#addUser .tabset .nav .nav-tabs{
      height: 60px  ;
      background: #ffff  ;
      padding-left: 15px  ;
      border: none  ;
    }
  #addUser .tabset .nav .nav-tabs li.active{
    line-height: 4  ;
    background: transparent  ;
    border-bottom: 2px solid #076ba1  ;
  }*/
    .tabset>ul>li.active {
        width: 20px;
        height: 20px;
        border-radius: 20px;
        position: inherit;
        right: calc(50% - 70px);
        top: 75px;
        background-color: transparent;
        border: none;
    }
    .nav.nav-tabs>li.active>a {
        border-bottom: 3px solid #076ba1;
        background-color: #fff;
        color: #076ba1;
    }
    .tabset>ul>li {
        width: 22%;
    }
    .tabset>ul>li:hover>a {
        color: #076ba1;
        background-color: #ffffff;
        transform: none;
        transition: none;
    }
    .nav.nav-tabs {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom: none;
        background-color: white;
    }
    .tabset>ul>li>a {
        width: 100%;
        background-color: transparent;
        color: #686868;
        height: 55px;
        border-bottom: none;
        line-height: 2.5;
    }
    .al-content {
        padding: 0px;
    }
    .nb-theme-corporate select.form-control:not([size]):not([multiple]) {
        height: 19%;
    }
    .addEditCatHead {
        // padding: 15px 0px 15px 30px;
        margin: 15px auto;
    }
    .texthei {
        height: 96px;
    }
    .mar10 {
        margin: 10px
    }
    .pad0 {
        padding: 0;
    }
    .fullwiddth {
        width: 100%;
        display: inline-flex;
    }
    .dateinput {
        width: 92%;
        float: left;
    }
    .calfont {
        font-size: 27px;
        /* padding: 10px 10px; */
        color: #fff;
        // margin-left: 8px;
    }
    .divcalicon {
        // height: 34px;
        padding: 0.5%;
        width: auto;
        /* border: 1px solid; */
        background: #2795d0;
    }
    .sqrCheckBoxLadder .sqrCheckBoxLadderLabel {
        border: 1px solid #ccc;
        border-radius: none;
        cursor: pointer;
        height: 16px;
        left: 5px;
        position: -webkit-sticky;
        position: relative;
        width: 16px;
        // top: 8px  ;
        top: 9.5px;
        margin-right: 10px;
        background: white;
    }
    .sqrCheckBoxLadder .sqrCheckBoxLadderLabel:after {
        // border: 2px solid #fff;
        border: 2px solid #076ba1;
        border-top: none;
        border-right: none;
        content: "";
        height: 4px;
        left: 1.5px;
        opacity: 0;
        position: absolute;
        top: 4.0px;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        width: 12px;
    }
    .sqrCheckBoxLadder input[type="checkbox"] {
        visibility: hidden;
        background: white;
        display: none;
    }
    .sqrCheckBoxLadder input[type="checkbox"]:checked+.sqrCheckBoxLadderLabel {
        background-color: #ffffff;
        border-color: #076ba1;
    }
    .sqrCheckBoxLadder input[type="checkbox"]:checked+.sqrCheckBoxLadderLabel:after {
        opacity: 1;
    }
    .cancelbutquiz {
        background: transparent;
        border: none;
        float: right;
        // margin: 5px 0;
    }
    .addRuleBackdropaddquiz {
        // position: absolute;
        // width: 100%;
        // height: 100%;
        // top: 67px;
        // background-color: #404040c2;
        // z-index: 2000;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        z-index: 1503;
        background-color: #404040c2;
        .addRuleDemoaddquizModal {
            /*width: 80%;*/
            // width: 50%;
            // margin: auto;
            // background-color: #fff;
            // margin-top: 50px;
            // border-radius: 5px;
            width: 50%;
            margin: auto;
            background-color: #fff;
            margin-top: 65px;
            border-radius: 5px;
        }
    }
    .marginTop {
        margin-top: 20px;
    }
    .form_body_padding {
        // padding: 15px;
    }
    .quesmbody {
        padding: 15px;
    }
    .borderQuestion {
        border: 6px solid #f1f5f8;
        border-bottom: 0px solid #f1f5f8;
        padding: 16px;
        margin-inline-start: inherit;
        &:first-child {
            border-top: 6px solid #f1f5f8;
        }
        &:last-child {
            border-bottom: 6px solid #f1f5f8;
        }
    }
    .marginBottombutaddquiz {
        margin-bottom: 20px;
    }
    .quiztabpad {
        padding: 0px 15px;
    }
    .disblc {
        display: block;
    }
    .paddingmarginBottombutaddquiz {
        padding-bottom: 20px;
    }
    .forms-sample {
        color: #6d6d6d;
    }
    .dragBtn {
        height: 17px;
        width: 17px;
        background-color: #ffffff;
        border: none;
    }
    .sortIcon {
        right: 4.5px;
        font-size: 14px;
        top: 0px;
    }
    .glyphicon-sort:before {
        // content: "\e150";
        color: #076ba1;
    }
    .glyphicon-move:before {
        // content: "\e068";
        color: #076ba1;
    }
    .dragBtn:focus {
        // outline: 5px auto -webkit-focus-ring-color;
        outline: none;
    }
    .iconCancelaq {
        color: #F44336;
    }
    .qattmarlef {
        margin-left: 5px;
    }
    .categoryIcon {
        margin: 0 auto;
        text-align: -webkit-center;
    }
    .categoryIcon-upload {
        position: relative;
        // max-width: 205px;
        /*margin: 50px auto;*/
        .categoryIcon-edit {
            // position: absolute;
            // right: 12px;
            // z-index: 1;
            // top: 10px;
            position: absolute;
            left: 28%;
            z-index: 1;
            bottom: 5%;
            input {
                display: none;
                +label {
                    display: inline-block;
                    width: 34px;
                    height: 34px;
                    margin-bottom: 0;
                    border-radius: 100%;
                    background: #FFFFFF;
                    border: 1px solid transparent;
                    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
                    cursor: pointer;
                    font-weight: normal;
                    transition: all .2s ease-in-out;
                    &:hover {
                        background: #f1f1f1;
                        border-color: #d6d6d6;
                    }
                    &:after {
                        content: "\f040";
                        font-family: 'FontAwesome';
                        color: #757575;
                        position: absolute;
                        top: 10px;
                        left: 0;
                        right: 0;
                        text-align: center;
                        margin: auto;
                    }
                }
            }
        }
        .categoryIcon-delete {
            // position: absolute;
            // right: 12px;
            // z-index: 1;
            // bottom: 10px;
            position: absolute;
            right: 28%;
            z-index: 1;
            bottom: 5%;
            label {
                display: inline-block;
                width: 34px;
                height: 34px;
                margin-bottom: 0;
                border-radius: 100%;
                background: #FFFFFF;
                border: 1px solid transparent;
                box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
                cursor: pointer;
                font-weight: normal;
                transition: all .2s ease-in-out;
                &:hover {
                    background: #f1f1f1;
                    border-color: #d6d6d6;
                }
                &:after {
                    content: "\f1f8";
                    font-family: 'FontAwesome';
                    color: #757575;
                    position: absolute;
                    top: 10px;
                    left: 0;
                    right: 0;
                    text-align: center;
                    margin: auto;
                }
            }
        }
        .categoryIcon-preview {
            // width: 192px;
            // height: 192px;
            // position: relative;
            // border-radius: 100%;
            // border: 6px solid #F8F8F8;
            // box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
            width: 300px;
            height: 175px;
            position: relative;
            /* border-radius: 100%; */
            border: 6px solid #fbfbfb;
            -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
            // > div {
            //   width: 100%;
            //   height: 100%;
            //   border-radius: inherit;
            //   // background-size: contain;
            //   background-size: cover;
            //   background-repeat: no-repeat;
            //   background-position: center;
            // }
            >img {
                width: 100%;
                height: 100%;
                // border-radius: inherit;
                // background-size: contain;
                // background-size: cover;
                // background-repeat: no-repeat;
                // background-position: center;
            }
        }
    }
    .mar10q {
        margin: 10px;
    }
    .sortable {
        // background: #eee;
        border-radius: 0.25rem;
        min-height: 40px;
    }
    [contenteditable="true"] {
        padding: 10px;
    }
    [contenteditable="true"]:hover {
        border-bottom: 1px solid #076ba1;
    }
    [contenteditable="true"]:focus {
        outline: none;
    }
    .floatleft {
        float: left;
    }
    .sercjbtn {
        margin: 22px;
    }
    .marginleft10px {
        margin-left: 10px
    }
    .cardTitle {
        background: #076ba1;
        color: #ffff;
        padding: 10px;
        margin-bottom: 0;
        margin-top: 0;
    }
    .disin {
        display: inline;
    }
    .headers {
        padding: 0;
        height: 50px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #eee;
    }
    .tableData {
        min-height: 55px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #eee;
        padding: 0;
    }
    .scroll_div {
        width: 100%;
        height: 515px;
        overflow-y: auto;
        overflow-x: hidden;
    }
    .tableDiv {
        margin: 15px;
        background: #fff;
        padding: 15px;
        border-radius: 5px;
    }
    .borderbot {
        border-bottom: 1px solid #eeeeee;
        margin: 5px 0;
    }
    .addRuleDemoaddquizModal .modal-header {
        border-bottom: 1px solid #d5dbe0;
        border-top-left-radius: 0.17rem;
        border-top-right-radius: 0.17rem;
        color: #ffffff;
        font-family: Poppins;
        font-weight: 500;
        font-size: 18px;
        background: #076ba1;
        p {
            margin: 0;
        }
    }
    .modal-header-1 {
        padding: 10px;
        border-bottom: 1px solid #d5dbe0;
        border-top-left-radius: 0.17rem;
        border-top-right-radius: 0.17rem;
        color: #181818;
        font-family: Poppins;
        font-weight: 500;
        font-size: 1.125rem;
        background: #076ba1;
        color: white;
        display: grid;
        grid-template-columns: 2fr 0fr;
        align-items: center;
        p {
            margin: 0;
        }
    }
    .no_image_found {
        background-image: url('assets/images/survey.png');
    }
    // .required_msg_text{
    //   .form-text{
    //     color: #ed462f !important;
    //   }
    // }
}

// .sticky-top
// {
//   position: sticky;
//   top: 67px;
//   z-index: 1090;
// }
// .toprow{
//   border: none;
//   background-color: #ffffff;
//   height: auto;
//   width: 100%;
//   display: inline-flex;
// }