<form class="forms-sample" #reportForm="ngForm">
  <div class="search_div">
    <input
      class="form-control search_field ng-untouched ng-pristine ng-valid commonInput"
      name="schedulename"
      [(ngModel)]="searchtext"
      placeholder="Report Name"
      type="text"
      required
      #schedulename="ngModel"
    />
    <i
      aria-hidden="true"
      class="fa fa-remove remove_icon"
      (click)="clear()"
    ></i>
  </div>
  <div
    class="required_msg_text1"
    *ngIf="
      schedulename.errors &&
      (schedulename.dirty || schedulename.touched)
    "
  >
    <small
      class="form-text text-muted"
      [hidden]="!schedulename.errors.required"
      >Report Name is required.</small
    >
  </div>
  <div class="report_Mode">
    <!-- <p class="mode_label">Schedule this report</p> -->
    <mat-radio-group
      [(ngModel)]="report_Mode"
      required
      name="reportname"
      #reportname="ngModel"
    >
      <!-- <div > -->
      <div class="row repo">
        <div
          class="col-md-6 repocol"
          *ngFor="let item of reportMode; let i = index"
        >
          <mat-radio-button
            [value]="item.LOVValue"
            (change)="onChangemode(item)"
            >{{ item.LOVName }}</mat-radio-button
          >
        </div>
      </div>
      <!-- </div> -->
    </mat-radio-group>
  </div>
  <div
    class="required_msg_text"
    *ngIf="
      reportname.errors && (reportname.dirty || reportname.touched)
    "
  >
    <small
      class="form-text text-muted"
      [hidden]="!reportname.errors.required"
      >Schedule Mode is required.</small
    >
  </div>
  <div class="report_type" *ngIf="report_Mode == 2">
    <!-- <mat-radio-group [(ngModel)]="report_type">
            <mat-radio-button [value]="item.LOVValue" (change)="onChangetype(item)" *ngFor="let item of reportfrequency;let i = index" >
              {{ item.LOVName}}</mat-radio-button>
        </mat-radio-group> -->
    <div>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field class="droplist">
            <mat-label>Schedule this report</mat-label>
            <mat-select
              [(ngModel)]="report_freq"
              (ngModelChange)="onChangetype()"
              [disableOptionCentering]="true"
              panelClass="testClass"
              required
              name="reportfreq"
              #reportfreq="ngModel"
            >
              <mat-option
                *ngFor="let item of reportfrequency"
                [value]="item.LOVValue"
              >
                {{ item.LOVName }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div
            class="required_msg_text"
            *ngIf="
              reportfreq.errors &&
              (reportfreq.dirty || reportfreq.touched)
            "
          >
            <small
              class="form-text text-muted"
              [hidden]="!reportfreq.errors.required"
              >Schedule Mode is required.</small
            >
          </div>
        </div>

        <div class="col-md-6" *ngIf="report_freq == 2">
          <mat-form-field class="droplist">
            <mat-label>On day</mat-label>
            <mat-select
              [(ngModel)]="report_days"
              [disableOptionCentering]="true"
              panelClass="testClass"
              multiple
              required
              name="reportdays"
              #reportdays="ngModel"
            >
              <mat-option *ngFor="let day of weekdays" [value]="day.id">
                {{ day.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div
            class="required_msg_text"
            *ngIf="
              reportdays.errors &&
              (reportdays.dirty || reportdays.touched)
            "
          >
            <small
              class="form-text text-muted"
              [hidden]="!reportdays.errors.required"
              >Schedule Name is required.</small
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="row align_self_center mb-2"
    *ngFor="let unit of reporttype; let i = index"
  >
    <div class="col-md-4">
      <div class="check">
        <mat-checkbox
          [(ngModel)]="reporttype[i].checked"
          (change)="Checkboxtype(unit, i)"
          [checked]="unit.checked"
          id="units-{{ i }}"
          name="units-{{ i }}"
        >
          {{ unit.LOVName }}
        </mat-checkbox>
      </div>
    </div>
    <div class="col-md-8">
      <angular2-multiselect
        *ngIf="reporttype[i].checked"
        id="exampleInputTags4"
        [data]="userList"
        [(ngModel)]="selectedUserList"
        [settings]="settings"
        [ngModelOptions]="{ standalone: true }"
        required
        #tags="ngModel"
        (onSelect)="onUserSelect($event)"
        class="select_field_height"
        (onDeSelect)="OnUserDeSelect($event)"
        name="selectedTags"
        ngDefaultControl
      >
        <!-- <c-search>
            <ng-template>
              <input type="text"
                placeholder="Search Emails"
                style="border: none;width: 100%; height: 100%;outline: none;" />
            </ng-template>
          </c-search> -->
        <c-item>
          <ng-template let-item="item">
            <label class="header_text multiselect-label"
              >{{ item?.firstname }} {{ item?.lastname }}</label
            >
            <div class="two_cols">
              <div>
                <label class="subheader_text"> {{ item?.ecn }}</label>
              </div>
              <div>
                <label class="subheader_text"> {{ item?.email }}</label>
              </div>
            </div>
            <!-- <img [src]="item.flag" style="width: 30px; border: 1px solid #efefef;margin-right: 0px;" /> -->
            <!-- <label style="color: #333;width: 30%;">{{item.fullname}}</label> -->
            <!-- <label style="color: #333;width: 30%;">{{item.email}}</label> -->
          </ng-template>
        </c-item>
      </angular2-multiselect>
    </div>
  </div>
</form>
<div *ngIf="FMReportFilterWorking" class="mb-2">
  <ngx-popup-data-filter
    [showSubmittedError]="showSubmittedError"
    [menuId]="menuId"
    [filter]="FMReportFilterObj.main"
    [sfilter]="FMReportFilterObj.sub"
    [filtertype]="filtertype"
    [cacheFilter]="cacheFilters"
    (onSelectFilter)="getSelectedFilter($event)"
  ></ngx-popup-data-filter>
</div>
<div class="row mt-3">
  <div class="col-md-12">
    <div
      class="alert alert-warning"
      style="padding: 10px; margin: 3px 10px;"
      role="alert"
    >
      <!-- <h4 class="alert-heading">Well done!</h4> -->
      <!-- <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
              <hr> -->
      <p>
        Note : Preview is not available for this report as it contains a
        large amount of data.
      </p>
    </div>
  </div>
</div>