.calldetailTabset>ul {
    background: #fff !important;
    border-bottom: 1px solid var(--colorCommon) !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 57px !important;
    z-index: 1090 !important;
}

.calldetailTabset>ul>li.active>a {
    color: var(--colorCommon) !important;
}

.calldetailTabset>ul>li>a::before {
    background: var(--colorCommon) !important;
}

.calldetailTabset>ul>li>a:hover {
    color: var(--colorCommon) !important;
}

.card1234 {
    border: none !important;
}

.tabset>.nav .nav-tabs {
    width: 100% !important;
}

.tabset>.nav .nav-tabs>li {
    width: 33% !important;
}

.tabset>.nav .nav-tabs>li>a {
    width: 100% !important;
}

.tabset>ul {
    background: #fff !important;
    height: 55px;
    position: sticky;
    padding-left: 0px;
    top: 66px;
    z-index: 1030;
    padding: 0px !important;
}

.tabset>ul>li>a>span>i {
    font-size: 20px !important;
    display: block !important;
    height: 100% !important;
}

.tabset>ul>li>a>span>i>b {
    display: block !important;
    font-weight: 500 !important;
    font-style: normal !important;
    font-size: 16px !important;
}

.tabset>ul>li>a>.span {
    width: 100% !important;
}

.tabset>ul>li:last-child a {
    border-top-right-radius: 5px !important;
}

.tabset>ul>li.active>a {
    background-color: #bec0c1 !important;
    color: #fff !important;
}

.nav.nav-tabs>li.active>a {
    border-bottom: 3px solid var(--colorCommon) !important;
    background-color: #fff !important;
    color: var(--colorCommon) !important;
    border-radius: 0px;
}

.nav-tabs>li>a:hover {
    border-color: #fff #fff #fff;
}

.tabset>ul>li {
    width: 22% !important;
    height: 100% !important;
    // border-radius: 0px;
}

.tabset>ul>li:hover>a {
    color: var(--colorCommon) !important;
    border-radius: 0px;
    background-color: #ffffff !important;
    transform: none !important;
    transition: none !important;
}

.nav.nav-tabs {
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
    border-bottom: none !important;
    background-color: white !important;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    border: 1px solid #fff;
}

.contentTab {
    margin: 20px;
}

.formGen2,
.manualformGen {
    width: 100%;
    margin: 0 auto;
}

// .formGenCard{
//   padding-left: 25px;
//   // margin-top: 25px;  
// }
.formGenCardCourse23 {
    padding: 0 !important;
}

.notepad {
    background: #fff;
    width: 100%;
    padding: 20px;
    border-radius: 3px;
    .inner_class {
        ul {
            line-height: 24px;
            border-bottom: none;
            li {
                margin-bottom: 5px;
            }
        }
    }
}

.noData {
    text-align: center;
    font-size: 18px;
}

.padding0 {
    padding: 0;
}