<app-subheader [headerConfig]="header" (backClick)="back()"></app-subheader>
<!-- <div class="backaddcou" style="position:fixed;right: 2%;top:58px;z-index: 1092">
    <div class="">
        <button type="submit" class="back_button" (click)="back()">Back</button>
    </div>
</div> -->
<nb-tabset class="custom_tabset calldetailTabset" (changeTab)="selectedTab($event)">
    <nb-tab tabTitle="Content" [active]="contentTab" class="contentTab">
        <div class="row formGen2">
            <div class="col-md-12 formGenCardCourse23">
                <div class="card card1234">
                    <div class="card-body padding0 cardBody">
                        <div class="contentComponent">
                            <ngx-content></ngx-content>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nb-tab>


    <nb-tab tabTitle="Chat" [active]="chatTab" class="contentTab">
        <div class="row formGen2">
            <div class="col-md-12  formGenCardCourse23">
                <div class="card card1234">
                    <div class="card-body padding0 cardBody">
                        <div class="contentComponent">
                            <ngx-chat></ngx-chat>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nb-tab>


    <nb-tab tabTitle="Feedback" [active]="feedbackTab" class="contentTab">
        <div class="row formGen2">
            <div class="col-md-12 formGenCardCourse23">
                <div class="card card1234">
                    <div class="card-body padding0 cardBody">
                        <div class="contentComponent">
                            <ngx-feedback></ngx-feedback>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nb-tab>
    <nb-tab tabTitle="Pre-Assessment" [active]="obsTab" class="contentTab">
        <div class="row formGen2">
            <div class="col-md-12 formGenCardCourse23">
                <div class="card card1234">
                    <div class="card-body padding0 cardBody">
                        <div class="contentComponent">
                            <ngx-observation></ngx-observation>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nb-tab>
    <nb-tab tabTitle="Assessment" [active]="assessTab" class="contentTab">
        <div class="row formGen2">
            <div class="col-md-12 formGenCardCourse23">
                <div class="card card1234">
                    <div class="card-body padding0 cardBody">
                        <div class="contentComponent">
                            <ngx-assessment></ngx-assessment>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nb-tab>


    <nb-tab tabTitle="Notepad" [active]="notesTab" class="contentTab">
        <div class="notepad">
            <div class="inner_class" [innerHtml]="notesHtmlStr" *ngIf="notes_not_found">
            </div>
            <!-- <div class="noData" *ngIf="!notes_not_found">
                No data available
            </div> -->
            <ngx-no-data *ngIf='!notes_not_found'></ngx-no-data>

        </div>
    </nb-tab>
</nb-tabset>