<div class="widgets">
  <!-- <div id="loader" *ngIf="loader == true"></div> -->
  <div class="loaderBackdrop" *ngIf="loader == true">
    <div id="loader"></div>
  </div>
  <div  ba-panel ba-panel-class="with-scroll" >
    <div class="col-sm-12 panelCol">
      <div style="">
        <!-- <induction></induction> -->
        <!-- <div style="display: inline-flex;">
          <span style="cursor: pointer;" routerLink="../../plan">Plan </span>
          <span>&nbsp;/&nbsp;</span>
          <span style="cursor: pointer;" routerLink="../../users/induction"> Users</span> 
          <span>&nbsp;/&nbsp;</span>
          <span class="activeRoute"> Add User</span>
        </div> -->
        <!-- <div class="widgets">
          <div ba-panel ba-panel-class="with-scroll" >
          -->    
            <!-- <div class="userBackBut" (click)="back()">  -->
              <!-- <button type="submit" class="btn btn-mm btn-default" (click)="back()" id="backBut"> Back</button> -->
              <!-- <i class="fa fa-arrow-left"></i> -->
            <!-- </div> -->
              <!-- <i class="fa fa-arrow-left"></i> -->

              <!-- <div class="userSubButAddEdit sticky-top">
              submit class="btn btn-secondary optbtnNewAddEdit"
              class="btn btn-mm btn-default"
              back   
              -->
                <div class="userSubButAddEdit sticky-top" >
                <button type="submit" class="constantbtn-button-blue-left" [disabled]="!userForm.form.valid ||!userForm1.form.valid " (click)="addEdit(formdata)">Save</button>  
                <button type="button"  (click)="back()" class="back_button">Back</button>              
              </div>

              <tabset [pills]="false" class="addEditUsersTab">
              <tab title="" [disabled]="false" >
                <span *tabHeading>
                  <b > 
                    General
                  </b> 
                </span> 

              <div class="row m0 formGen" [hidden]="submitted">  
                <div class="col-md-12 grid-margin stretch-card formGenCard">
                  <div class="card cardForm">
                    <div class="card-body">
                      <h4 class="card-title">Basic Details</h4>
                      <p class="card-description cardDesc">
                        
                      </p>
                      <form class="forms-sample" #userForm="ngForm">

               <!--          <div class="form-group">
                          <label for="exampleInputcohort">Workflow<h3 class="reqField">&nbsp;*</h3></label>
                          <input type="text" class="form-control form-control-input" id="exampleInputcohort" [(ngModel)]="formdata.cohortidnumber" required pattern="^$|^[A-Za-z0-9]+$" id="cohortidnumber" placeholder="Workflow" name="cohortidnumber" #cohortidnumber="ngModel">
                          <div [hidden]="cohortidnumber.valid || cohortidnumber.pristine" class="alert alert-danger">
                            <div [hidden]="!cohortidnumber.hasError('required')">Workflow is required</div>
                            <div [hidden]="!cohortidnumber.hasError('pattern')">Only alphanumericals allowed</div>
                          </div>
                          <span></span>
                        </div> -->    
                      <!--   <div class="form-group">
                          <label for="exampleInputName2">Employee Code</label>
                          <input type="text" class="form-control form-control-input" id="exampleInputName2" [(ngModel)]="formdata.ecn" id="ecn" placeholder="Employee Code" name="ecn" #ecn="ngModel">
                          <div [hidden]="ecn.valid || ecn.pristine"
                                  class="alert alert-danger">
                            <div [hidden]="!lastname.hasError('required')">Last Name is required</div>
                            <div [hidden]="!lastname.hasError('pattern')">Only alphabets allowed</div>
                          </div>
                          <span></span>
                        </div> -->
                        <div class="form-group">
                          <label for="exampleInputUName1">Username<h3 class="reqField">&nbsp; *</h3></label>
                          <input type="text" class="form-control form-control-input" id="exampleInputUName1" [(ngModel)]="formdata.username" required pattern="^$|^[A-Za-z0-9]+$" id="username" placeholder="Username" name="username" #username="ngModel" [disabled]="para.id == 1" minlength="6" maxlength="15">
                          <div [hidden]="username.valid || username.pristine" class="alert alert-danger">
                            <div [hidden]="!username.hasError('required')">Username is required</div>
                            <div [hidden]="!username.hasError('pattern')">Only Alphanumericals allowed</div>
                             <div [hidden]="!username.hasError('minlength')">Minimum 6 character in length </div>
                              <div [hidden]="!username.hasError('maxlength')">Maximum 15 character in length</div>
                          </div>
                          <span></span>
                        </div>
                        <div class="form-group">
                          <label for="exampleInputPassword4">Password<h3 class="reqField">&nbsp; *</h3></label>
                          <input type="password" class="form-control form-control-input" id="exampleInputPassword4" [(ngModel)]="formdata.password" required id="password" placeholder="Password" [disabled]="para.id == 1"  pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,20}$" name="password" #password="ngModel">
                          <div [hidden]="password.valid || password.pristine"
                                  class="alert alert-danger">
                            <div [hidden]="!password.hasError('required')">Password is required</div>
                            <div [hidden]="!password.hasError('pattern')">Password must contain  8 to 20 characters, including uppercase,lowercase,numbers and special character</div>
                          </div>
                          <span></span>
                        </div>
                        <div class="form-group">
                          <label for="exampleInputName1">First Name<h3 class="reqField">&nbsp; *</h3></label>
                          <input type="text" class="form-control form-control-input" id="exampleInputName1" [(ngModel)]="formdata.firstname" required pattern="[a-zA-Z][a-zA-Z ]+" id="firstname" placeholder="First Name" name="firstname" #firstname="ngModel" minlength="2" maxlength="20">
                          <div [hidden]="firstname.valid || firstname.pristine"
                                  class="alert alert-danger">
                            <div [hidden]="!firstname.hasError('required')">First Name is required</div>
                            <div [hidden]="!firstname.hasError('pattern') || firstname.hasError('required') || firstname.hasError('minlength') ">Only alphabets allowed</div>
                             <div [hidden]="!firstname.hasError('minlength') || firstname.hasError('required') ">Minimum 2 characters in length </div>
                            <!--   <div [hidden]="!firstname.hasError('maxlength')">Maximum 20 characters in length</div> -->
                          </div>
                          <span></span>
                        </div>
                        <div class="form-group">
                          <label for="exampleInputName2">Last Name</label>
                          <input type="text" class="form-control form-control-input" id="exampleInputName2" [(ngModel)]="formdata.lastname" pattern="[a-zA-Z]+" id="lastname" placeholder="Last Name" name="lastname" #lastname="ngModel" minlength="1" maxlength="20" >
                          <div [hidden]="lastname.valid || lastname.pristine"
                                  class="alert alert-danger">
                            <!-- <div [hidden]="!lastname.hasError('required')">Last Name is required</div> -->
                            <div [hidden]="!lastname.hasError('pattern')">Only alphabets allowed</div>
                          </div>
                          <span></span>
                        </div>
                        <div class="form-group">
                          <label for="exampleInputEmail3">Email address<h3 class="reqField">&nbsp; *</h3></label>
                          <input type="email" class="form-control form-control-input" id="exampleInputEmail3" [(ngModel)]="formdata.email" required                          pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                          id="email" placeholder="E-Mail" name="email" #email="ngModel">
                          <div [hidden]="email.valid || email.pristine" class="alert alert-danger"> 
                            <div [hidden]="!email.hasError('required')">Email is required</div>
                            <div [hidden]="!email.hasError('pattern')">Email format should be 
                            <small><b>joe@abc.com</b></small>
                            </div>
                          </div>
                          <span></span>
                        </div>
                        <div class="form-group">
                          <label for="exampleInputPhone1">Phone<h3 class="reqField">&nbsp; *</h3></label>
                          <input type="tel" class="form-control form-control-input" id="exampleInputPhone1" [(ngModel)]="formdata.phone" required id="phone" placeholder="Phone Number" name="phone" pattern="[0-9]*" minlength="10" maxlength="10" #phone="ngModel">
                          <div [hidden]="phone.valid || phone.pristine" class="alert alert-danger">
                            <div [hidden]="!phone.hasError('minlength')">Mobile should be 10 digit</div>
                            <div [hidden]="!phone.hasError('required')">Mobile is required</div>
                            <div [hidden]="!phone.hasError('pattern')">Mobile number should be only numbers</div>
                          </div>
                          <span></span>
                        </div>
                        <!-- <div class="form-group">
                          <label>File upload</label>
                          <input type="file" name="img[]" class="file-upload-default">
                          <div class="input-group col-xs-12">
                            <input type="text" class="form-control form-control-input file-upload-info" disabled="" placeholder="Upload Image">
                            <span class="input-group-append">
                              <button class="file-upload-browse btn btn-info" type="button">Upload</button>
                            </span>
                          </div>
                        </div> -->
                        <!-- <div class="form-group">
                          <label for="exampleInputCity1">City / Town</label>
                          <input type="text" class="form-control form-control-input" id="exampleInputCity1" [(ngModel)]="formdata.city" required id="city" placeholder="City / Town" name="city" pattern="[a-zA-Z][a-zA-Z ]+" #city="ngModel">
                          <div [hidden]="city.valid || city.pristine" class="alert alert-danger">
                            <div [hidden]="!city.hasError('required')">City/Town is required</div>
                            <div [hidden]="!city.hasError('pattern')">Only alphabets allowed</div>
                          </div>
                          <span></span>
                        </div> -->
                        <!-- <div class="form-group">
                          <label for="exampleInputGender">Gender</label>
                          <input type="text" class="form-control form-control-input" id="exampleInputGender" [(ngModel)]="formdata.gender" id="gender" placeholder="gender" name="gender" pattern="[a-zA-Z][a-zA-Z ]+" #gender="ngModel">
                          <div [hidden]="gender.valid || gender.pristine" class="alert alert-danger">
                              <div [hidden]="!gender.hasError('required')">Gender is required</div>
                              <div [hidden]="!gender.hasError('pattern')">Only alphabets allowed</div>
                            </div>
                          <span></span>
                        </div> -->
                   <!--      <div class="form-group ">
                          <label for="exampleInputGender">Gender</label>
                            <select [(ngModel)]="formdata.gender" id="exampleInputGender" class="form-control form-control-input selectDrop" name="gender" #gender="ngModel">
                              <option value = "">Select Type</option>
                                <option *ngFor="let gender of strArrayGender" value={{gender.gId}} >{{gender.gName}}</option>
                            </select>
                        </div> -->
                        <!-- <div class="form-group">
                          <label for="exampleTextarea1">Textarea</label>
                          <textarea class="form-control form-control-input" id="exampleTextarea1" rows="2"></textarea>
                        </div> -->
                        <!-- <button type="submit" class="btn btn-success mr-2">Save</button>
                        <button class="btn btn-light">Cancel</button> -->

                    <!--     <div class="form-group">
                          <label for="exampleInputAccRole">Role</label>
                            <select [(ngModel)]="selRole.id" id="exampleInputAccRole" class="form-control form-control-input selectDrop" name="id" #id="ngModel">
                              <option value = "">Select Role</option>
                                <option *ngFor="let role of roles" value={{role.id}} >{{role.name}}</option>
                            </select>
                        </div>
 -->
                      </form>
                    </div>
                  </div>
                </div>
              </div>  
              </tab>
           <tab title="" [disabled]="false" >
                <span *tabHeading>
                  <b > 
                   access
                  </b> 
                </span> 
                <div class="row m0 formGen" id="content" >  
                 
                  <div class="col-md-12 grid-margin stretch-card formGenCard" >
                    <div class="card cardForm">
                      <div class="col-md-12 accdata margintop10" >
                        <div  class="col-md-6">
                          <h4 class="card-title">Access Role</h4>
                        </div>
                        <div  class="col-md-6">
                           <button type="button" class="constantbtn-button-blue-left" (click)="Addrole()" style="float: right">Add Role</button>   
                        </div> 
                      </div>
                      <div class="card-body">
                        
                      <!--   <div class="magin20px">
                            <label >Role</label>
                        <angular2-multiselect [data]="dropdownListRole" [(ngModel)]="formdata.rolls" 
                        [settings]="dropdownSettingsRole" 
                        (onSelect)="onrollSelect($event)" 
                        (onDeSelect)="OnrollDeSelect($event)"
                        (onSelectAll)="onrollSelectAll($event)"
                        (onDeSelectAll)="onrollDeSelectAll($event)">
                      </angular2-multiselect>
                      </div> -->
             
                       <!--  <label for="exampleInputAccRole">Role</label>
                            <select [(ngModel)]="selRole.id" id="exampleInputAccRole" class="form-control form-control-input selectDrop" name="id" #id="ngModel">
                              <option value = "">Select Role</option>
                                <option *ngFor="let role of roles" value={{role.id}} >{{role.name}}</option>
                            </select>
                        </div> -->

                  <!-- <h5 class="card-title">Access Data</h5> -->
                  <form class="forms-sample" #userForm1="ngForm">
                  <div class="col-md-12 accdata "  *ngFor="let role of formdata.Role ;let j =index">  
                    <div class="magin20px col-md-4">
                            <label >Role</label>
                             <select [(ngModel)]="role.roleId" id="exampleInputAccRole " class="form-control form-control-input selectDrop select_field_height" name="role-{{j}}" #roleId="ngModel" required [disabled]="role.roleId >= 1" (ngModelChange)="onSelect(role)">
                              <option value = "">Select Role</option>
                                <option  *ngFor="let data of dropdownListRole" [disabled]="data.disabled"  value={{data.id}} >{{data.itemName}}</option>
                            </select>
                      </div>
           
                    <div class="magin20px col-md-4">
                        <label >Department</label>
                      <angular2-multiselect name="dept-{{j}}{{role.RoleDe}}" #RoleDe="ngModel" [data]="dropdownListDept" [(ngModel)]="role.RoleDe" 
                      [settings]="dropdownSettingsDept" 
                      (onSelect)="ondeptSelect($event)" 
                      (onDeSelect)="OndeptDeSelect($event)"
                      (onSelectAll)="ondeptSelectAll($event)"
                      (onDeSelectAll)="ondeptDeSelectAll($event)">
                    </angular2-multiselect>
                    </div>
                      <div class="magin20px col-md-4">
                        <label >Band</label>
                    <angular2-multiselect name="band-{{j}}{{role.RoleBan}}" #band="ngModel" [data]="dropdownListBand" [(ngModel)]="role.RoleBan" 
                    [settings]="dropdownSettingsBand" 
                    (onSelect)="onbandSelect($event)" 
                    (onDeSelect)="OnbandDeSelect($event)"
                    (onSelectAll)="onbandSelectAll($event)"
                    (onDeSelectAll)="onbandDeSelectAll($event)">
                  </angular2-multiselect>
                  </div>
                  <button class="toolButrole crossbuttonrole" (click)="RemoveRoll(role,j,formdata.userId)">
                    <i class="ion-close iconCancel" style="float: right;"></i>
                  </button>
                  </div>
                </form>
                      </div>
                    </div>
                  </div>

                </div>
              </tab>              

            </tabset>
      </div>
    </div>
  </div>
</div>

