<div class="addedituser">
    <!-- <div class="topHeader sticky-bar">
      <div class="title">User Management</div>
      <div class="leftColBtns text-right">
          <button class="constantbtn-button-blue-left" [disabled]="!formdataUser123.valid" (click)="submitUser()">Save</button>
          <button class="back_button" (click)="back()">Back</button>
      </div>
  </div> -->

    <app-subheader [headerConfig]="header" (backClick)="back()" (btnone)="submitUser(formdataUser123)"></app-subheader>
    <div class="loaderBackdrop" *ngIf="loader == true">
        <div id="loader"></div>
    </div>
    <!-- {{formdataUser123.valid}} -{{formdataUser123 | json}} -->

    <form #formdataUser123="ngForm">
        <div class="card user-card" style="border: none;">
            <fieldset style="border: 1px solid; margin: 10px;">
                <div class="columns2">
                    <div class="form-group  form-margin-auto pl-4">
                        <label class="side-form-label" for="Address">{{helpContent?.User_addEdit?.username.label}}<sup>&#x2731;</sup>
                  <app-info-tooltip  [description]="helpContent?.User_addEdit?.username.labelHelpContent"></app-info-tooltip>
              </label>
                        <!-- <label for="exampleInputUName1" class="label-black commonLabel">{{helpContent?.User_addEdit?.username?.label}}
              <sup class="reqFieldActivity">*</sup>
              <div class="help-tooltip">
                <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                <div class="help-tooltip-position-right">
                  <p>{{helpContent?.User_addEdit?.username?.labelHelpContent}}</p>
                  <i></i>
                </div>
              </div>
            </label> -->
                        <input type="text" class="form-control form-control-input commonInput" id="exampleInputUName1" name="first" [(ngModel)]="formdataUser.username" required (focusout)="getValidation(formdataUser.username,1)" pattern="^$|^[A-Za-z0-9]+$" id="username" placeholder="Enter Username"
                            name="username" #username="ngModel" [disabled]="para.id == 1" minlength="6" maxlength="15" [ngModelOptions]="{standalone: true}" />
                        <div [hidden]="username.valid || username.pristine" class="invalid-msg">
                            <small [hidden]="!username.hasError('required')">
                          Username is required
                      </small>
                            <small [hidden]="!username.hasError('pattern')">
                          Only Alphanumericals allowed
                      </small>
                            <small [hidden]="!username.hasError('minlength')">
                          Minimum 6 Characters required
                      </small>
                            <small [hidden]="!username.hasError('maxlength')">
                          Maximum 15 character in length
                      </small>
                        </div>
                        <div class="invalid-msg">
                            <small *ngIf="validation">
                      {{validation}}
                  </small>
                        </div>
                        <span></span>
                    </div>
                    <div class="form-group  form-margin-auto pr-4">
                        <label class="side-form-label" for="Address">{{helpContent?.User_addEdit?.password.label}} <sup>&#x2731;</sup>
                  <app-info-tooltip  [description]="helpContent?.User_addEdit?.password.labelHelpContent"></app-info-tooltip>
              </label>
                        <!-- <label for="exampleInputUName1" class="label-black commonLabel commonInput">{{helpContent?.User_addEdit?.password?.label}}
              <sup class="reqFieldActivity">*</sup>
              <div class="help-tooltip">
                <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                <div class="help-tooltip-position-right">
                  <p>{{helpContent?.User_addEdit?.password?.labelHelpContent}}</p>
                  <i></i>
                </div>
              </div>
            </label> -->
                        <div class="chechpass">
                            <input type="checkbox" [(ngModel)]="isChecked" class="check commonInput" (change)="checkValue($event)" />
                            <input type="password" class="form-control form-control-input commonInput" id="exampleInputPassword4" [(ngModel)]="formdataUser.password" required id="password" placeholder="Enter Password" [disabled]="para.id == 1" pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,20}$"
                                name="password" #password="ngModel" />
                        </div>

                        <div [hidden]="password.valid || password.pristine" class="invalid-msg">
                            <small [hidden]="!password.hasError('required')">
                          Password is required
                      </small>
                            <small [hidden]="!password.hasError('pattern')">
                          Password must contain 8 to 20 characters, including uppercase,lowercase,numbers and special character
                      </small>
                        </div>
                        <span></span>
                    </div>
                    <div class="form-group  form-margin-auto pl-4">
                        <label class="side-form-label" for="Address">{{helpContent?.User_addEdit?.first_name.label}} <sup>&#x2731;</sup>
                  <app-info-tooltip  [description]="helpContent?.User_addEdit?.first_name.labelHelpContent"></app-info-tooltip>
              </label>
                        <!-- <label for="exampleInputUName1" class="label-black commonLabel ">{{helpContent?.User_addEdit?.first_name?.label}}
              <sup class="reqFieldActivity">*</sup>
              <div class="help-tooltip">
                <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                <div class="help-tooltip-position-right">
                  <p>{{helpContent?.User_addEdit?.first_name?.labelHelpContent}}</p>
                  <i></i>
                </div>
              </div>
            </label> -->


                        <input type="text" class="form-control form-control-input commonInput" id="exampleInputName1" [(ngModel)]="formdataUser.firstname" required pattern="[a-zA-Z ]+" id="firstname" placeholder="Enter First Name" name="firstname" #firstname="ngModel" minlength="2"
                            maxlength="20" />
                        <div [hidden]="firstname.valid || firstname.pristine" class="invalid-msg">
                            <small [hidden]="!firstname.hasError('required')">
                          First Name is required
                      </small>
                            <small [hidden]="
                !firstname.hasError('pattern') ||
                firstname.hasError('required') ||
                firstname.hasError('minlength')
              ">
                          Only alphabets allowed
                      </small>
                            <small [hidden]="
                !firstname.hasError('minlength') ||
                firstname.hasError('required')
              ">
                          Minimum 2 characters in length
                      </small>
                        </div>
                        <span></span>
                    </div>
                    <div class="form-group  form-margin-auto pr-4">
                        <label class="side-form-label" for="Address">{{helpContent?.User_addEdit?.last_name.label}} 
                  <app-info-tooltip  [description]="helpContent?.User_addEdit?.last_name.labelHelpContent"></app-info-tooltip>
              </label>
                        <!-- <label for="exampleInputUName1" class="label-black commonLabel">{{helpContent?.User_addEdit?.last_name?.label}}
              <div class="help-tooltip">
                <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                <div class="help-tooltip-position-right">
                  <p>{{helpContent?.User_addEdit?.last_name?.labelHelpContent}}</p>
                  <i></i>
                </div>
              </div>
            </label> -->

                        <!-- <label for="exampleInputName2" class="label-black">Last Name</label> -->
                        <input type="text" class="form-control form-control-input commonInput" id="exampleInputName2" [(ngModel)]="formdataUser.lastname" pattern="[a-zA-Z]+" id="lastname" placeholder="Enter Last Name" name="lastname" #lastname="ngModel" minlength="1" maxlength="20"
                        />
                        <div [hidden]="lastname.valid || lastname.pristine" class="invalid-msg">
                            <!-- <div [hidden]="!lastname.hasError('required')">Last Name is required</div> -->
                            <small [hidden]="!lastname.hasError('pattern')">
                          Only alphabets allowed
                      </small>
                        </div>
                        <span></span>
                    </div>
                    <div class="form-group  form-margin-auto pl-4">
                        <label class="side-form-label" for="Address">{{helpContent?.User_addEdit?.email_address.label}} <sup>&#x2731;</sup>
                  <app-info-tooltip  [description]="helpContent?.User_addEdit?.email_address.labelHelpContent"></app-info-tooltip>
              </label>
                        <!-- <label for="exampleInputUName1" class="label-black commonLabel">{{helpContent?.User_addEdit?.email_address?.label}}
              <sup class="reqFieldActivity">*</sup>
              <div class="help-tooltip">
                <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                <div class="help-tooltip-position-right">
                  <p>{{helpContent?.User_addEdit?.email_address?.labelHelpContent}}</p>
                  <i></i>
                </div>
              </div>
            </label> -->
                        <!-- <label for="exampleInputEmail3" class="label-black">Email address<h3 class="reqFieldActivity">&nbsp; *</h3>
          </label> -->
                        <!-- <input type="email" class="form-control form-control-input commonInput" id="exampleInputEmail3" [(ngModel)]="formdataUser.email" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" id="email" placeholder="E-Mail" name="email" #email="ngModel"
                  /> -->
                        <!-- <div [hidden]="email.valid || email.pristine" class="invalid-msg">
                      <div [hidden]="!email.hasError('required')">Email is required</div>
                      <div [hidden]="!email.hasError('pattern')">
                          Email format should be
                          <small><b>joe@abc.com</b></small>
                      </div>
                  </div> -->
                        <input type="email" class="form-control form-control-input inputText commonInput" id="emailId" name="emailId" placeholder="Enter Email Address" [(ngModel)]="formdataUser.email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" #emailId="ngModel" (focusout)="getValidation(formdataUser.email,2)"
                            required [email]="true">
                        <div [hidden]="emailId.valid || emailId.pristine" class="invalid-msg">
                            <small [hidden]="!emailId.hasError('required')">Email Address is required</small>
                            <small [hidden]="!emailId.hasError('pattern')">Email format should be
                          <small><b>joe@abc.com</b></small>
                            </small>
                            <!-- <div *ngIf="emailId?.errors?.email">Email must be a valid email address</div> -->
                            <!-- <div *ngIf="email.errors?.pattern">Please enter a Valid Email ID format</div> -->
                        </div>
                        <div class="invalid-msg">
                            <small *ngIf="validationEmail">
                      {{validationEmail}}
                  </small>
                        </div>
                        <span></span>
                    </div>
                    <div class="form-group  form-margin-auto pr-4">
                        <label class="side-form-label" for="Address">{{helpContent?.User_addEdit?.phone.label}} <sup>&#x2731;</sup>
                  <app-info-tooltip  [description]="helpContent?.User_addEdit?.phone.labelHelpContent"></app-info-tooltip>
              </label>
                        <!-- <label for="exampleInputUName1" class="label-black commonLabel">{{helpContent?.User_addEdit?.phone?.label}}
              <sup class="reqFieldActivity">*</sup>
              <div class="help-tooltip">
                <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                <div class="help-tooltip-position-right">
                  <p>{{helpContent?.User_addEdit?.phone?.labelHelpContent}}</p>
                  <i></i>
                </div>
              </div>
            </label> -->
                        <!-- <label for="exampleInputPhone1" class="label-black">Phone<h3 class="reqFieldActivity">&nbsp; *</h3></label> -->
                        <input type="tel" class="form-control form-control-input commonInput" id="exampleInputPhone1" [(ngModel)]="formdataUser.phone" required id="phone" placeholder="Enter Phone Number" name="phone" pattern="[0-9]*" (focusout)="getValidation(formdataUser.phone,3)"
                            minlength="10" maxlength="10" #phone="ngModel" />
                        <div [hidden]="phone.valid || phone.pristine" class="invalid-msg">
                            <small [hidden]="!phone.hasError('minlength')">
                          Mobile should be 10 digit
                      </small>
                            <small [hidden]="!phone.hasError('required')">Mobile is required</small>
                            <small [hidden]="!phone.hasError('pattern')">
                          Mobile number should be only numbers
                      </small>
                        </div>
                        <div class="invalid-msg">
                            <small *ngIf="validationPhone && !phone.hasError('required')">
                      {{validationPhone}}
                  </small>
                        </div>
                        <span></span>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="parent_container" *ngFor="let secData of sectionData ;let z =index">
            <fieldset style="border: 1px solid;">
                <p style="margin-top: -10px;">
                    <span style="background: #fff;margin: 15px;padding: 3px;">
            {{secData.sectionName}} 
        </span>
                </p>
                <div class="parent_container" *ngFor="let data of secData.role ;let i =index">
                    <div class="check_box_container">
                        <div class="checkfield">
                            <label class="checkLabel label-black commonLabel">{{data.roleName}}
          <input type="checkbox" id="learner{{i}}{{z}}" name="learner{{i}}{{z}}" value="1" [(ngModel)]="data.isChecked"
            (click)="onRoleCheckBoxClick(data?.isChecked,i,z)" />
          <span class="checkMarker"></span>
        </label>
                        </div>
                        <div>
                            <!-- <div> -->
                            <angular2-multiselect *ngIf="(data.isChecked == 1) && data.roleId == 8 || (data?.isChecked === 1) && data.roleId ==5" id="exampleInputPassword4{{i}}{{z}}" [data]="multipleLearnertype" [settings]="settingsDrop" (onSelect)="onLearnerSelect($event)" (onDeSelect)="OnLearnerDeSelect($event)"
                                name="selectedlearner{{i}}" [(ngModel)]="data.roleEmpData" #learner="ngModel" required>
                                <c-search>
                                    <ng-template>
                                        <input type="text" (keyup)="onLearnerSearch($event)" placeholder="Search ..." class="commonInput" />
                                    </ng-template>
                                </c-search>
                                <c-item>
                                    <ng-template let-item="item">
                                        <label class="commonLabel colorBlack">
                <span>{{ item.ecn }}  </span> <br>
                <!-- <span>{{ item.name }}  </span> -->
              </label>
                                        <label class="commonLabel colorBlack">{{ item.name }}</label>
                                        <label class="commonLabel colorBlack"> {{ item.email }}</label>
                                    </ng-template>
                                </c-item>
                            </angular2-multiselect>
                            <div *ngIf="learner?.dirty || learner?.touched" class="invalid-msg">
                                <small *ngIf="learner?.errors?.required">Trainer is required</small>
                            </div>
                            <!-- <div *ngIf = "learner?.errors?.required"> cxnnnnnn</div> -->
                            <!-- <div *ngIf = "(data.isChecked == 1) && data.roleId == 8 || (data?.isChecked === 1) && data.roleId ==5 && selectedlearner{{i}}?.length == 0"> cxnnnnnn</div> -->
                            <!-- </div> -->
                            <angular2-multiselect *ngIf="(data.isChecked == 1) && data.roleId == 7" id="exampleInpusstPassword4{{i}}{{z}}" [data]="multipleTrainertype" [settings]="settingsTrainerDrop" name="selectedlearner{{i}}{{z}}" [(ngModel)]="data.roleEmpData" #roleEmpData="ngModel"
                                required>
                                <c-search>
                                    <ng-template>
                                        <input type="text" (keyup)="onTrainerSearch($event)" placeholder="Search ..." class="commonInput" />
                                    </ng-template>
                                </c-search>
                                <c-item>
                                    <ng-template let-item="item">
                                        <label class="commonLabel colorBlack">
                <!-- {{item.id}} -->
              </label>
                                        <label>{{ item.name }}</label>
                                    </ng-template>
                                </c-item>
                            </angular2-multiselect>
                            <div *ngIf="roleEmpData?.dirty || roleEmpData?.touched" class="invalid-msg">
                                <small *ngIf="roleEmpData?.errors?.required">Trainer is required</small>
                            </div>
                            <!-- <div *ngIf="roleEmpData?.length == 0">Please select a employee</div> -->
                            <!-- <div *ngIf = "learner?.errors?.required"> gggggggggggggg</div> -->
                            <!-- <div *ngIf = "(data.isChecked == 1) && data.roleId == 7   && selectedlearner{{i}}{{z}}?.length == 0"> cxnnnnnn</div> -->
                        </div>
                        <div class="text-right addbtn" *ngIf="(data.isChecked == 1) &&  data.roleType == 1">
                            <button (click)="addProfileData(i,z)" class="constantbtn-button-blue-left tempbtn">Add</button>
                        </div>
                    </div>
                    <div *ngIf="(data.isChecked == 1)">
                        <!-- [hidden]=" !data?.showDrop && data?.roleId == 8 || !data?.showDrop && data?.roleId ==5 || !data?.showDrop && data?.roleId == 7  "
      *ngFor="let item of data.roleProfileData; let j = index"> -->
                        <div class="select_div" *ngFor="let item of data.roleProfileData; let j = index">
                            <div>
                                <select id="dropRuleType{{z}}{{j}}{{i}}" class="commonSelect custom-select" [(ngModel)]="item.id" (ngModelChange)="dropdownValue(data,item,j)" name="fieldId{{z}}{{j}}{{i}}" required>
            <option value="" selected disabled>Select Type</option>
            <option *ngFor="let ruleField of profileFields" value={{ruleField.id}}>{{ruleField.name}}</option>
          </select>
                            </div>
                            <div>
                                <angular2-multiselect *ngIf="item.id != '' && profiledDropData[data.roleName]" id="exampleInpusstPaccssword4{{z}}{{j}}{{i}}" [data]="profiledDropData[data.roleName][item.id]" [settings]="settings" name="selectedlccearner{{z}}{{j}}{{i}}" [(ngModel)]="item.fieldData"
                                    #fieldData="ngModel" required>
                                    <c-item>
                                        <ng-template let-item="item">
                                            <!-- <label style="color: #333;width: 150px;">{{
              item.id
              }}</label> -->
                                            <label>{{ item.name }}</label>
                                        </ng-template>
                                    </c-item>
                                </angular2-multiselect>
                                <div *ngIf="fieldData?.dirty || fieldData?.touched" class="invalid-msg">
                                    <small *ngIf="fieldData?.errors?.required">Field is required</small>
                                </div>


                                <!-- <div *ngIf="!fieldData?.valid">Please select a learner</div> -->
                                <!-- <angular2-multiselect *ngIf="item.id ==''" id="exampleInpusstPassword4{{j}}" [settings]="settingsTrainerDrop"
            name="selectedlearner{{j}}{{i}}" [ngModelOptions]="{standalone: true}" [(ngModel)]="item.fieldData"
            #fieldData="ngModel" required>
            <c-search>
              <ng-template>
                <input type="text" (keyup)="onTrainerSearch($event)" placeholder="Search ..."
                  style="border: none;width: 100%; height: 100%;outline: none;" />
              </ng-template>
            </c-search>
            <c-item>
              <ng-template let-item="item">
                <label style="color: #333;width: 150px;">{{
          item.id
          }}</label>
                <label>{{ item.name }}</label>
              </ng-template>
            </c-item>
          </angular2-multiselect> -->
                            </div>

                            <div class="text-right">
                                <i class="fa fa-times" aria-hidden="true" (click)="removeProfileData(i,j,data,item,z)"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
        <!--  <div class="card user-card">
      <div class="roleTypeCols" *ngFor="let data of roleData;let i =index">
        <div class="checkfield">
          <label class="checkLabel label-black">{{data.roleName}}
            <input type="checkbox" id="learner{{i}}" name="learner{{i}}" value="true" [(ngModel)]="data.showDrop" (click)="onRoleCheckBoxClick(data?.showDrop,i)" />
            <span class="checkMarker"></span>
          </label>
        </div>
        <div class="form-group  form-margin-auto" *ngIf="data?.showDrop">
          <angular2-multiselect *ngIf="data.roleId == 8 || data.roleId ==5" id="exampleInputPassword4{{i}}" [data]="employeeList" [settings]="settingsDrop" (onSelect)="onLearnerSelect($event)" (onDeSelect)="OnLearnerDeSelect($event)" name="selectedlearner{{i}}" [ngModelOptions]="{standalone: true}" [(ngModel)]="data.roleEmpData" #learner="ngModel" required>
            <c-search>
              <ng-template>
                <input type="text" (keyup)="onLearnerSearch($event)" placeholder="Search ..." style="border: none;width: 100%; height: 100%;outline: none;" />
              </ng-template>
            </c-search>
            <c-item>
              <ng-template let-item="item">
                <label style="color: #333;width: 150px;">{{
                  item.id
                  }}</label>
                <label>{{ item.name }}</label>
              </ng-template>
            </c-item>
          </angular2-multiselect>
          <angular2-multiselect *ngIf="data.roleId == 7" id="exampleInpusstPassword4{{i}}" [data]="trainerList" [settings]="settingsTrainerDrop" name="selectedlearner{{i}}" [ngModelOptions]="{standalone: true}" [(ngModel)]="data.roleEmpData" #roleEmpData="ngModel" required>
            <c-search>
              <ng-template>
                <input type="text" (keyup)="onTrainerSearch($event)" placeholder="Search ..." style="border: none;width: 100%; height: 100%;outline: none;" />
              </ng-template>
            </c-search>
            <c-item>
              <ng-template let-item="item">
                <label style="color: #333;width: 150px;">{{
                  item.id
                  }}</label>
                <label>{{ item.name }}</label>
              </ng-template>
            </c-item>
          </angular2-multiselect>
        </div>
        <div [hidden]="!data?.showDrop" *ngFor="let item of roleData; let j = index">
          <div class="columns2" [hidden]="data.roleId == 8 || data.roleId ==5 || data.roleId == 7">
              <div class="text-right addbtn" [hidden]="data.roleId == 8 || data.roleId ==5 || data.roleId == 7">
                  <button (click)="addRow()" class="constantbtn-button-blue-left">Add</button>
                </div>
            <div class="form-group">
              <select id="dropRuleType_{{j}}" class="for [(ngModel)]="item.id" name="fieldId_{{j}}" required>
                <option value="" selected disabled>Select Type</option>
                <option *ngFor="let ruleField of profileFields" value={{ruleField.id}}>{{ruleField.name}}</option>
              </select>
            </div>
            <div class="form-group">
              <angular2-multiselect [data]="learners" [(ngModel)]="item.fieldData" [settings]="settings" (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)" name="fieldTypeValues_{{i}}">
                <c-item>
                  <ng-template let-item="item">
                    <label>{{item.name}}</label>
                  </ng-template>
                </c-item>
              </angular2-multiselect>
          </div>
        </div>
      </div>
    </div>
  </div> -->
    </form>

</div>
<ngx-sidebar-form *ngIf="changpass" [sidebarTitle]='title' [buttonName]="btnName" (saveBtn)='upadatepass(chang,formdataUser123)' (outside)="closepop()" (closeBtn)='closepop()'>

    <!-- <div class="popup_conatiner" *ngIf="changpass">
  <div class="addRuleBackdropaddquiz">
      <div class="addRuleDemoaddquizModal">
          <div class="modal-header-1"> -->
    <!-- <h3>Add Section</h3> -->
    <!-- <p>Change Password</p>
              <button class="close" aria-label="Close" (click)="closepop()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="mbody modal-body">
              <div class="form_body_padding"> -->
    <form class="forms-sample" #chang="ngForm">
        <div class="form-group  form-margin-auto">
            <label class="side-form-label">{{helpContent?.User_addEdit?.new_password.label}} <sup>&#x2731;</sup>
                          <app-info-tooltip  [description]="helpContent?.User_addEdit?.new_password.labelHelpContent"></app-info-tooltip>
                      </label>
            <!-- <label for="exampleInputUName1" class="label-black commonLabel">{{helpContent?.User_addEdit?.new_password?.label}}
                              <sup class="reqFieldActivity">*</sup>
                              <div class="help-tooltip">
                                <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                                <div class="help-tooltip-position-right">
                                  <p>{{helpContent?.User_addEdit?.new_password?.labelHelpContent}}</p>
                                  <i></i>
                                </div>
                              </div>
                            </label> -->
            <div class="chechpass-sub">
                <div><input type="password" class="form-control form-control-input commonInput" id="exampleInputPassword4" [(ngModel)]="chang.password" oncopy="return false" onpaste="return false" required id="password" placeholder="Enter Password" pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,20}$"
                        name="password" #password="ngModel" [type]="show ? 'text' : 'password'" /></div>
                <div (click)="passwordEye()" class="field-icon toggle-password">
                    <i *ngIf="show" class="fas fa-eye"></i>
                    <i *ngIf="!show" class="fas fa-eye-slash"></i>
                </div>
            </div>

            <div [hidden]="password.valid || password.pristine" class="invalid-msg">
                <small [hidden]="!password.hasError('required')">
                                  Password is required
                              </small>
                <small [hidden]="!password.hasError('pattern')">
                                  Password must contain 8 to 20 characters, including 1 uppercase,lowercase, numbers and special character
                              </small>
            </div>
            <span></span>
        </div>
        <div class="form-group  form-margin-auto">
            <label class="side-form-label">{{helpContent?.User_addEdit?.confirm_password.label}} <sup>&#x2731;</sup>
                          <app-info-tooltip  [description]="helpContent?.User_addEdit?.confirm_password.labelHelpContent"></app-info-tooltip>
                      </label>
            <!-- <label for="exampleInputUName1" class="label-black">{{helpContent?.User_addEdit?.confirm_password?.label}}
                              <sup class="reqFieldActivity">*</sup>
                              <div class="help-tooltip">
                                <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                                <div class="help-tooltip-position-right">
                                  <p>{{helpContent?.User_addEdit?.confirm_password?.labelHelpContent}}</p>
                                  <i></i>
                                </div>
                              </div>
                            </label> -->
            <div class="chechpass-sub">
                <div><input type="password" class="form-control form-control-input commonInput" id="exampleInputPassword4" [(ngModel)]="chang.confirmpassword" required id="confirmpassword" oncopy="return false" onpaste="return false" placeholder="Enter Confirm Password"
                        pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,20}$" name="confirmpassword" #confirmpassword="ngModel" [type]="show ? 'text' : 'password'" /></div>
                <!-- <div (click)="passwordEye()" class="fa fa-fw fa-eye field-icon toggle-password"></div> -->
            </div>

            <div [hidden]="confirmpassword.valid || confirmpassword.pristine" class="invalid-msg">
                <small [hidden]="!confirmpassword.hasError('required')">
                                  Confirm Password is required
                              </small>
                <small [hidden]="!confirmpassword.hasError('pattern')">
                                  Password must contain 8 to 20 characters, including 1 uppercase,lowercase, numbers and special character
                              </small>
            </div>
            <small *ngIf="missmatch" class="invalid-msg">
                              Password missmatch
                          </small>
            <span></span>
        </div>
    </form>
    <!-- </div>
          </div>

          <div class="modal-footer text-left">
              <button type="button" class="constantbtn-button-blue-left tempbtn" (click)="upadatepass(chang,formdataUser123)">Save</button>
          </div>
      </div>
  </div> -->

    <!-- </div> -->
</ngx-sidebar-form>