
/*.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; green
}*/

/*.ng-invalid:not(form)  {
  border-left: 5px solid #a94442;  red 
}*/

.alert {
  margin-bottom: 1px;
  height: 25px;
  line-height:25px;
  padding:0px 15px;
}

.alert-danger {
    background-color: transparent;
    border-color: transparent;
    color: #a94442;
    float: right;
}

.btn-secondary.disabled{
    background-color: #ed462f;
    border-color: #ed462f;
}

.userField {
	margin-left: 30px ;
	margin-top: 15px ;
}

.userLegend {
	margin-bottom: 5px;
}

.userLegendBorder {
	border-bottom-style: solid; 
	border-bottom-width: 2px;
}

#userRow1 {
	margin-top: 10px;
}

.userSubButAddEdit {
    float: right;
    /* margin-left: 30px; */
    /*margin-top: 8px;*/
    transform: none;
    background: #fff;
    height: 55px;
    margin: 0 auto;
    padding: 13px;
}

.userBackBut{
  /* display: none; */
}
#addEditUserBackBut {
	margin-left: 10px;
	border-radius: 0;
  background: #076ba1;
  color: #fff;
  border: #076ba1;
  height: 30px;
  width: 90px;
  color: #ffffff;
  background-color: #076ba1;
  background-image: none;
  border-color: #076ba1;
  transform: none;
}
#submitBut {
	margin-left: 10px;
	border-radius: 0;
  background: #ed462f;
  color: #fff;
  border: #ed462f;
  height: 30px;
  width: 90px;
  color: #ffffff;
  background-color: #ed462f;
  background-image: none;
  border-color: #ed462f;
  transform: none;
}
#submitBut:disabled{
  cursor:not-allowed;
  background-color: #ff9081;
}
.optbtnNewAddEdit{
  	border-radius: 0;
    background: #076ba1;
    //background: #ed462f;
    color: #fff;
    border: #ed462f;
    height: 30px;
    width: 90px;
    transform: none !important;
}

.btn-secondary:hover {
     color: #fff; 
     background-color: #ed462f; 
     border-color:  #ed462f;
}

.inputLabel{
  line-height: 2.5;
  font-size: 15px;
}

.left {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.photo {
  width: 200px;
  height: 200px;
  margin-top: -120px;
  border-radius: 100px;
  border: 4px solid #fff;
}

.proImg{
  margin-left: 157%;
  margin-top: 65%;
}

.img-circle {
  border-radius: 50%;
}

.bg-form{
    float:left;width:100%;
    position:relative;
    background: url("http://lorempixel.com/200/200/abstract/");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0px;
}

.img-section{
    float: left;width: 100%;padding-top: 15px;padding-bottom: 15px;background: rgba(0,0,0,0.7);position: relative;
}
.img-section h4{color:#fff;}
#PicUpload{
    color: #ffffff;
    width: 180px;
    height: 180px;
    background: rgba(255,255,255,0.4);
    padding: 100px;
    position: absolute;
    left: 30.5%;
    border-radius: 50%;
    display: none;
    top:15px;
}

.imgCircle{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.Profile-input-file{
    height:180px;width:180px;left:33%;
    position: absolute;
    top: 0px;
    z-index: 999;
    opacity: 0 !important;
}

/*.form-control{padding: 10px 50px;}*/
.form-input{height:50px;border-radius: 0px;margin-top: 20px;}

.form-style-fake{position:absolute;top:0px;}
.form-style-base{position:absolute;top:0px;z-index: 999;opacity: 0;}

.fake-styled-btn{
    background: #006cad;
    padding: 10px;
    color: #fff;
}

.camera{
    font-size: 50px;
    color: #333;
}

.avatar-upload {
   position: relative;
   max-width: 205px;
   /*margin: 50px auto;*/
   .avatar-edit {
       position: absolute;
       right: 12px;
       z-index: 1;
       top: 10px;
       input {
           display: none;
           + label {
               display: inline-block;
               width: 34px;
               height: 34px;
               margin-bottom: 0;
               border-radius: 100%;
               background: #FFFFFF;
               border: 1px solid transparent;
               box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
               cursor: pointer;
               font-weight: normal;
               transition: all .2s ease-in-out;
               &:hover {
                   background: #f1f1f1;
                   border-color: #d6d6d6;
               }
               &:after {
                   content: "\f040";
                   font-family: 'FontAwesome';
                   color: #757575;
                   position: absolute;
                   top: 10px;
                   left: 0;
                   right: 0;
                   text-align: center;
                   margin: auto;
               }
           }
       }
   }
   .avatar-delete {
       position: absolute;
       right: 12px;
       z-index: 1;
       bottom: 10px;
       label {
               display: inline-block;
               width: 34px;
               height: 34px;
               margin-bottom: 0;
               border-radius: 100%;
               background: #FFFFFF;
               border: 1px solid transparent;
               box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
               cursor: pointer;
               font-weight: normal;
               transition: all .2s ease-in-out;
               &:hover {
                   background: #f1f1f1;
                   border-color: #d6d6d6;
               }
               &:after {
                   content: "\f1f8";
                   font-family: 'FontAwesome';
                   color: #757575;
                   position: absolute;
                   top: 10px;
                   left: 0;
                   right: 0;
                   text-align: center;
                   margin: auto;
           }
       }
   }
   .avatar-preview {
       width: 192px;
       height: 192px;
       position: relative;
       border-radius: 100%;
       border: 6px solid #F8F8F8;
       box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
       > div {
           width: 100%;
           height: 100%;
           border-radius: 100%;
           background-size: cover;
           background-repeat: no-repeat;
           background-position: center;
       }
   }
}

.inputLabelUpload{
  line-height: 12.5;
  font-size: 15px;
}

.activeRoute{
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-color: #076ba1;
  color: #076ba1;
}

.al-content {
   padding: 0px;
}


.m0{
  margin: 0 auto;
}

.photo-left{
  margin: 0 auto;
}

.cardForm {
    color: #666666;
    background-color: #ffffff;
    border: 1px solid #f1eded;
    border-radius: 0px;
    position: relative;
    margin-bottom: 24px;
    box-shadow: none; 
}

.tabset>.nav .nav-tabs{
  width: 100% !important;
}
.tabset>.nav .nav-tabs > li{
  width:33% !important;
}
.tabset > .nav .nav-tabs > li >a {
  width:100% !important ;
}
.tabset > ul{
  background: #fff !important;
  height: 55px;
   position: sticky;
   padding-left: 0px;
    top: 66px;
    z-index: 1030;
    padding: 0px !important;
}
.tabset>ul>li>a>span>i{
  font-size: 20px !important;
  display: block !important;
  height:100% !important;
}
.tabset>ul>li>a>span>i>b{
  display: block !important;
  font-weight: 500 !important;
  font-style: normal !important;
  font-size: 16px !important;
}

.tabset>ul>li>a>.span{
  width: 100% !important;
}
.tabset>ul>li:last-child a{
  border-top-right-radius: 5px !important;
}
.tabset>ul>li.active > a {
  background-color: #bec0c1 !important;
  color:#fff !important;
}


/*#addUser .tabset .nav .nav-tabs{
      height: 60px !important;
      background: #ffff !important;
      padding-left: 15px !important;
      border: none !important;
    }
  #addUser .tabset .nav .nav-tabs li.active{
    line-height: 4 !important;
    background: transparent !important;
    border-bottom: 2px solid #076ba1 !important;
  }*/

.tabset>ul>li.active {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    position: inherit;
    // right: calc(50% - 70px);
    top: 75px;
    background-color: transparent;
    border: none;
    outline: 0;
}

.nav.nav-tabs > li.active > a {
    border-bottom: 3px solid #076ba1 !important;
    background-color: #fff !important;
    color: #076ba1 !important;
    border-radius: 0px;

}

.nav-tabs>li>a:hover {
    border-color: #fff #fff #fff;
}  

.tabset > ul > li {
    width: 22% !important;
    height:100% !important;
   // border-radius: 0px;

}

.tabset > ul > li:hover > a {
    color: #076ba1 !important;
    border-radius: 0px;
    background-color: #ffffff !important;
    transform: none !important;
    transition: none !important;
}

.nav.nav-tabs {
  border-top-left-radius: 5px !important;
  border-top-right-radius: 5px !important;
  border-bottom: none !important;
  background-color: white !important;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  border: 1px solid #fff;
}

.btn:focus {
    // outline: 0;
    // box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    box-shadow: none;
}

.btn:active {
    // box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    box-shadow: none;
}

.tabBorder{
  border-radius: 0px;
}
.tabset>ul>li>a{
  width: 100% !important;
  background-color: transparent !important;
  color: #686868 !important;
  height: 55px !important;
  border-bottom: none !important;
  line-height: 3;
}

.panelCol{
  padding: 0;
}

.formGen{
  width: 100%;
}

.formGenCard{
  padding-left: 25px;
  margin-top: 25px;
}

.formCustCard{
  margin-top: 25px;
  padding-right: 25px;
}
.ag-theme-balham{
  
}

.CustomFieldsformGenCard1, .CustomFieldsformGenCard2, .CustomFieldsformGenCard3, .CustomFieldsformGenCard4, .CustomFieldsformGenCard5, .CustomFieldsformGenCard6, .CustomFieldsformGenCard7{
  margin-bottom: 0 !important;
}

.CustomFieldscardForm1, .CustomFieldscardForm2, .CustomFieldscardForm3, .CustomFieldscardForm4, .CustomFieldscardForm5, .CustomFieldscardForm6, .CustomFieldscardForm7{
  cursor: pointer !important;
  margin-bottom: 0 !important;
}

.CustomFieldscardBody1, .CustomFieldscardBody2, .CustomFieldscardBody3, .CustomFieldscardBody4, .CustomFieldscardBody5, .CustomFieldscardBody6, .CustomFieldscardBody7{
  padding: 15px 15px 0px 15px !important;
}
#right_float{
  float:right;
}
[data-toggle="collapse"] i:before{
    content: "\f139";
}

[data-toggle="collapse"].collapsed i:before{
  
    content: "\f13a";
}

.btn-group-xs > .btn, .btn-xs {
  padding: 0px 5px;
  font-size: 12px;
}

.headCard{
  display: flex;
}
.align-right{
  float:right;
}
.custTitle{
  float:left;
  margin-bottom: 0 !important;
}
.leftTitle{
  float: left;
}
.headerCard{
  display:inline-block;
  width:100%;

}
.arrow_right{
  float: right;
}
.downArrow{
  color: #ed462f; 
}
.txtHeight{
  height:34px;
}
.datestyle{
  padding: 5px 10px;
    width: 94%;
    border-right: 0px solid #dadfe6;
    border-bottom: 2px solid #dadfe6;
    border-left: 2px solid #dadfe6;
    border-top: 2px solid #dadfe6;
}
.form-control-input{
  border-radius: 0;
}

.topBorderForm{
  /*border-top: 1px solid #076ba1;*/
  /*margin-bottom: 10px*/
}

.reqField{
  display: inline;
  color: #ed462f !important;
}
.sticky-top
{
  position: sticky;
    top: 66px;
    //z-index: 1030;
}
.inpucal
{
  width:100%;
  height:35px;
}
.btnCal
{
  width:35px;
  height:35px;
  float:right;
}
.spancal
{
 width:100%;
  display:inline-flex;
}
.cal_icon{
  background: url(assets/images/calendar-icon.png) no-repeat;
  background-size: 100% 100%;
}

.cardDesc{
    margin-top: 5px;
    margin-bottom: 0;
}

.selectDrop{
  height: 2.5rem !important;
}

#content {
  width: 100%;
  height: 100%;
}

#contentInside{
  display: inline-flex;
}

.menuSeprator{
  border-top-color: #9E9E9E;
  // margin-top: 2rem;
  margin-top: 0;
}

.featureSeprator{
  border-top-color: #ececec;
  margin-top: 0;
}

.menuUL { list-style-type: none; }

label{
  border-radius: 5px;
  padding: 3px;
  padding-left: 25px;
  color: #8b8b8b;
  width: 100%;
  padding-left: 10px; 
}

.menuUL > li { 
  /*margin: 10px;
  padding: 5px;
  border: 1px solid #ABC;
  border-radius: 5px;*/
}

.expandFeatures { display: none; }
.expandFeatures ~ ul { 
  max-height: 0;
  max-width: 0;
  opacity: 0;
  overflow: hidden;
  white-space:nowrap;
  -webkit-transition:all 0.3s ease;  
  -moz-transition:all 0.3s ease;  
  -o-transition:all 0.3s ease;  
  transition:all 0.3s ease;  
  
}

.expandFeatures:checked ~ ul { 
  max-height: 100%;
  max-width: 100%;
  opacity: 1;
  margin-left: 15px;
}

.expandFeatures + label:before{
  transform-origin:25% 50%;
  border: 8px solid transparent;
  border-width: 8px 12px; 
  border-left-color: #aaafab;
  width: 0;
  height: 0;
  display: inline-block;
  text-align: center;
  content: '';
  color: #AAAFAB;
   -webkit-transition:all .5s ease;  
   -moz-transition:all .5s ease;  
   -o-transition:all .5s ease;  
   transition:all .5s ease; 
  position: relative;
  margin-top: 1px;
  float: right;
}
.expandFeatures:checked + label:before {
  transform: rotate(90deg);
}

.menu {
  position: relative;
}

.menu .menuLabel {
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 20px;
  left: -7px;
  position: absolute;
  top: 0;
  width: 20px;
  margin-top: 4px;
}

.menu .menuLabel:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 3.5px;
  opacity: 0;
  position: absolute;
  top: 5.2px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  width: 12px;
}

.menu input[type="checkbox"] {
  visibility: hidden;
}

.menu input[type="checkbox"]:checked + .menuLabel {
  background-color: #66bb6a;
  border-color: #66bb6a;
}

.menu input[type="checkbox"]:checked + .menuLabel:after {
  opacity: 1;
}

// .magin20px
// {
//   margin: 20px
// }
.accdata
{
  display: inline-flex;
      margin-top: 7px;
}
.dropheight
{
  height: 39px !important;
}
.margintop10
{
  margin-top: 10px;
}

.toolButrole {
  float: right;
  background: transparent;
  border: none;
}
.crossbuttonrole {
    padding: 10px;
    text-align: right;
    position: relative;
    top: -21px;
    color: red;
}

button:focus
{
    outline:none !important;
}