@import '../../../../@theme/styles/variable.scss';
// .toolBut {
//   float: right;
//   background: transparent;
//   border: none;
// }
// .crossbutton{
//   padding: 10px;
//   text-align: right;
//   position: relative;
//   top: -3px;
// }
.addedituser {
    .topHeader {
        border: none;
        background-color: #ffffff;
        height: auto;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        position: sticky;
        top: 67px;
        z-index: 3;
        padding: 12px;
        // z-index: 1090;
    }
    .title {
        margin: auto 0;
        font-size: 20px;
        color: #000;
    }
    .user-card {
        // margin: 15px;
        // padding-bottom: 15px;
        // padding: 15px;
        // padding: 15px 15px 15px;
    }
    .columns2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        // grid-column-gap: 20px;
        // padding: 0 15px;
    }
    .parent_container {
        background-color: #fff;
        padding: 10px;
        margin-bottom: 1px solid #eee;
        border-bottom: 1px solid rgba(221, 221, 221, .2);
        .check_box_container {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            align-items: center;
            grid-column-gap: 20px;
            padding: 0 15px;
        }
        .select_div {
            display: grid;
            // grid-template-columns: 1fr 1fr 0fr;
            grid-template-columns: 1fr 4fr 0fr;
            grid-column-gap: 20px;
            align-items: center;
            width: 95%;
            margin: 10px auto;
        }
    }
    .label-black {
        padding-left: 2px;
        color: #000 !important;
        font-weight: 100 !important;
    }
    .form-margin-auto {
        margin: 0;
        padding: 10px 10px;
        outline: none !important;
        box-shadow: none !important;
        border-bottom: 1px solid rgba(221, 221, 221, 0.2);
    }
    .checkfield {
        position: relative;
        margin: auto 0;
    }
    .checkLabel input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }
    /* Create a custom checkbox */
    .checkMarker {
        position: absolute;
        top: 0;
        left: 0;
        height: 18px;
        margin: auto;
        width: 18px;
        // border: 1px solid #2196F3;
        border: 1px solid var(--colorCommon);
        background-color: #feffff;
    }
    /* On mouse-over, add a grey background color */
    .checkLabel:hover input~.checkMarker {
        background-color: #F1F5F8;
    }
    /* When the checkbox is checked, add a blue background */
    .checkLabel input:checked~.checkMarker {
        background-color: #feffff
    }
    /* Create the checkmark/indicator (hidden when not checked) */
    .checkMarker:after {
        content: "";
        position: absolute;
        display: none;
    }
    /* Show the checkmark when checked */
    .checkLabel input:checked~.checkMarker:after {
        display: block;
    }
    /* Style the checkmark/indicator */
    .checkLabel .checkMarker:after {
        left: 6px;
        top: 1px;
        width: 6px;
        height: 12px;
        // border: solid #2196F3;
        border: 1px solid var(--colorCommon);
        border-width: 0 2px 2px 0;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    .checkLabel {
        margin: auto;
        line-height: 18px;
        width: 100%;
        font-size: 12px;
        padding-left: 35px;
        /* font-weight: 100; */
        cursor: pointer;
    }
    [data-toggle="collapse"] i:before {
        content: "\f139";
    }
    [data-toggle="collapse"].collapsed i:before {
        content: "\f13a";
    }
    .admincol {
        height: 35px;
        margin: auto;
    }
    .formTitle {
        width: 100%;
        margin: auto;
        background: #076ba1;
        color: #fff;
        padding: 10px;
        font-size: 18px;
        border: none !important;
    }
    .para {
        margin: auto 0;
    }
    .addbtn {
        padding: 15px;
    }
    .drop-height {
        height: 30px !important;
    }
    .roleTypeCols {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 20px;
        padding: 0 10px;
        height: 60px;
        border-bottom: 1px solid #eee;
    }
    .usertable {
        padding: 15px;
    }
    .featurePara {
        font-size: 18px;
        color: #5a5555;
        /* margin: 0; */
        padding: 10px;
        border-bottom: 1px solid #eee;
    }
    .userTablWidth {
        width: 100%;
    }
    .userRow {
        // text-align: center;
        color: #000;
        font-size: 16px;
        height: 50px;
    }
    .textCenter {
        text-align: center;
    }
    .tableCheckBox {
        padding: 10px 20px;
    }
    .margintop10 {
        margin-top: 10px;
    }
    .subTypetree {
        padding: 10px 0px 10px 30px;
        position: relative;
    }
    .subTypetree::before {
        // padding: 10px 20px;
        content: ' ';
        position: absolute;
        font-family: "FontAwesome";
        width: auto;
        height: 10vh;
        color: #000;
        // -webkit-transform: rotate(90deg);
        // transform: rotate(180deg);
        top: 0;
        left: 0;
        z-index: 88;
    }
    .chechpass {
        display: grid;
        grid-template-columns: 7% 93%;
    }
    input.check {
        width: 25px;
        height: 25px;
        margin: 3px 3px;
    }
}

.chechpass-sub {
    display: grid;
    grid-template-columns: 95% 5%;
    .toggle-password {
        text-align: right;
        // margin-right: 53px;
        margin: 5px 0;
        font-size: 18px;
    }
}

.popup_conatiner {
    .addRuleBackdropaddquiz {
        // position: absolute;
        // width: 100%;
        // height: 100%;
        // top: 67px;
        // background-color: #404040c2;
        // z-index: 2000;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        z-index: 1503;
        background-color: #404040c2;
        .addRuleDemoaddquizModal {
            /*width: 80%;*/
            // width: 50%;
            // margin: auto;
            // background-color: #fff;
            // margin-top: 50px;
            // border-radius: 5px;
            width: 50%;
            margin: auto;
            background-color: #fff;
            margin-top: 65px;
            border-radius: 5px;
        }
    }
    .addRuleDemoaddquizModal .modal-header {
        border-bottom: 1px solid #d5dbe0;
        border-top-left-radius: 0.17rem;
        border-top-right-radius: 0.17rem;
        color: #ffffff;
        font-family: Poppins;
        font-weight: 500;
        font-size: 18px;
        background: #076ba1;
        p {
            margin: 0;
        }
        .close {
            color: #fff;
        }
    }
    .modal-header-1 {
        padding: 10px;
        border-bottom: 1px solid #d5dbe0;
        border-top-left-radius: 0.17rem;
        border-top-right-radius: 0.17rem;
        color: #181818;
        font-family: Poppins;
        font-weight: 500;
        font-size: 1.125rem;
        background: #076ba1;
        color: white;
        display: grid;
        grid-template-columns: 2fr 0fr;
        align-items: center;
        p {
            margin: 0;
        }
        .close {
            display: contents;
            color: #fff;
            outline: none;
        }
    }
    .modal-footer {
        padding: 10px;
        justify-content: flex-start;
    }
}

.tempbtn {
    background-color: var(--colorBgbtn) !important;
    color: var(--colorBtnTxt) !important;
    border: 1px solid var(--colorBtnTxt) !important;
}