<app-subheader [headerConfig]="header" (addbtn)="addBusinessTemp()" (backClick)="back()"></app-subheader>

<div class="addEditquiz_Container">
    <!-- <div class="top_header_container">
        <div class="top_header_div_sticky content_width">
            <div class="page_title">
                <h4>Assessment</h4>
            </div>
            <div class="buttons_div">
                <button type="submit" class="back_button" (click)="back()">
          Back
        </button>
            </div>
        </div>
    </div> -->

    <div class="">

        <div class="pt-2">
            <div class="col-md-4">
                <form class="forms-sample" #businessForm="ngForm">
                    <div class="form-group">
                        <label class="side-form-label">{{helpContent?.cc_add_edit_assessment?.select_Business.label}}
                            <app-info-tooltip  [description]="helpContent?.cc_add_edit_assessment?.select_Business.labelHelpContent"></app-info-tooltip>
                        </label>
                        <!-- <label class="id" for="id">{{helpContent?.cc_add_edit_assessment?.select_Business?.label}}
              <div class="help-tooltip">
                <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                <div class="help-tooltip-position-right">
                  <p>{{helpContent?.cc_add_edit_assessment?.select_Business?.labelHelpContent}}</p>
                  <i></i>
                </div>
              </div>
            </label> -->

                        <select id="id" class="custom-select commonSelect" required [(ngModel)]="businessId" (ngModelChange)="searchTemp(businessId)" ngModel name="id">
              <option *ngFor="let item of business" value="{{ item.businessId }}">
                {{ item.businessName }}</option>
            </select>
                    </div>
                </form>
            </div>

            <!-- <div class="col-md-8 text-right" *ngIf="showTemp">
                <button type="submit" class="constantbtn-button-blue-left" (click)="addBusinessTemp()" id="tempbtn">
        Add Assessment
        </button>
            </div> -->
        </div>
        <div *ngIf="questions">
            <div class="tableCompo" *ngIf="!noAssessment">
                <ngx-enrol-table [pagination]="true" [label]="labels" [tableData]="businessData" (clickOnbutton)="visibilityTableRow($event)" (clickOnDelbutton)="clickToDelete($event)"></ngx-enrol-table>
                <div style="padding: 10px">
                    <div>Total: {{ businessData.length }}</div>
                </div>
            </div>
        </div>
        <!-- <div>
        <div *ngIf="questions" class="">
            <div class="">
                <div class="col-sm-12 headers" *ngIf="!noAssessment">
                    <div class="col-sm-2">
                        <h6>
                            <strong>
                Spectr
              </strong>

                        </h6>
                    </div>
                    <div class="col-sm-3">
                        <h6>
                            <strong>
                Competency
              </strong>

                        </h6>
                    </div>
                    <div class="col-sm-2">
                        <h6>
                            <strong>
                Evaluation Area
              </strong>

                        </h6>
                    </div>
                    <div class="col-sm-4">
                        <h6>
                            <strong>
                Assess Name
              </strong>
                        </h6>
                    </div>
                    <div class="col-sm-1">
                    </div>
                </div>
                <div class="scroll_div">
                    <div class="col-sm-12 tableData" *ngFor="let data of businessData; let i = index">
                        <div class="col-sm-2">
                            <h6>{{ data.spectrNames }}</h6>
                        </div>
                        <div class="col-sm-3">
                            <h6>{{ data.compNames }}</h6>
                        </div>
                        <div class="col-sm-2">
                            <h6>{{ data.evalAreaName }}</h6>
                        </div>
                        <div class="col-sm-3">
                            <h6>{{ data.assessNames }}</h6>
                        </div>

                        <div class="col-sm-2 btn">
                            <button class="cancelbutquiz">
                <i title="Enabled" class="fa fa-eye disbtn" aria-hidden="true" (click)="Disableassessment(i,data,0)"
                  [hidden]="data.visible == 0"></i>
                <i title="Disabled" class="fa fa-eye-slash disbtn" aria-hidden="true"
                  (click)="Disableassessment(i,data,1)" [hidden]="data.visible == 1"></i>
              </button>
                            <button *ngIf="data.isDelete > 0" class="cancelbutquiz" (click)="Removeque(data, i)">
                <i class="fa fa-trash iconCancelaq" style="float: right;"></i>
              </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div> -->
        <ngx-sidebar-form *ngIf="busininesTemp" [sidebarTitle]="title" [buttonName]="btnName" (saveBtn)="saveSection(subsectionForm)" (outside)="closeBusinessTemp()" (closeBtn)="closeBusinessTemp()">
            <!-- <div class="addRuleBackdropaddquiz" *ngIf="busininesTemp">
            <div class="addRuleDemoaddquizModal">
                <div class="modal-header-1">
                    <p>Add Assessment Template</p>
                    <button class="close" aria-label="Close" (click)="closeBusinessTemp()">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="mbody modal-body">
                    <div class="form_body_padding">
                        <div class="col-sm-12"> -->
            <form (ngSubmit)="onSubmitSec(subsectionForm)" #subsectionForm="ngForm">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <label class="side-form-label">{{helpContent?.cc_add_edit_assessment?.spectr_name.label}}<sup>&#x2731;</sup>
                                                <app-info-tooltip [description]="helpContent?.cc_add_edit_assessment?.spectr_name?.labelHelpContent">
                                                </app-info-tooltip>
                                              </label>
                            <!-- <label>{{helpContent?.cc_add_edit_assessment?.spectr_name?.label}}
                        <sup class="reqFieldActivity">*</sup>
                        <div class="help-tooltip">
                          <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                          <div class="help-tooltip-position-right">
                            <p>{{helpContent?.cc_add_edit_assessment?.spectr_name?.labelHelpContent}}</p>
                            <i></i>
                          </div>
                        </div>
                      </label> -->

                            <angular2-multiselect id="spctrNames" [data]="spectrList" [(ngModel)]="selectedSpectr" [settings]="settingsSpectrDrop" (onSelect)="onSpectrSelect($event)" (onDeSelect)="OnSpectrDeSelect($event)" (onSelectAll)="onSelectAllspestr($event)" (onDeSelectAll)="onDeSelectAllspestr($event)"
                                name="selectedSpectr" required>
                                <c-search>
                                    <ng-template>
                                        <input type="text" (keyup)="onSpectrSearch($event)" placeholder="Search Spectr..." />
                                    </ng-template>
                                </c-search>
                                <c-item>
                                    <ng-template let-item="item">

                                        <label class="multiselect-label">{{ item.spectrName }}</label>
                                    </ng-template>
                                </c-item>
                            </angular2-multiselect>
                            <span></span>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <label class="side-form-label">{{helpContent?.cc_add_edit_assessment?.competency_name.label}}<sup>&#x2731;</sup>
                                                <app-info-tooltip [description]="helpContent?.cc_add_edit_assessment?.competency_name?.labelHelpContent">
                                                </app-info-tooltip>
                                              </label>
                            <!-- <label>{{helpContent?.cc_add_edit_assessment?.competency_name?.label}}
                        <sup class="reqFieldActivity">*</sup>
                        <div class="help-tooltip">
                          <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                          <div class="help-tooltip-position-right">
                            <p>{{helpContent?.cc_add_edit_assessment?.competency_name?.labelHelpContent}}</p>
                            <i></i>
                          </div>
                        </div>
                      </label> -->

                            <!-- <label class="" for="exampleInputPassword4"
                        >Competency Name<sup class="required_mark">*</sup></label
                      > -->

                            <angular2-multiselect id="competency" [data]="competencyList" [(ngModel)]="selectedCompetency" [settings]="settingsCompenDrop" (onSelect)="onCompenSelect($event)" (onDeSelect)="OnCompenDeSelect($event)" (onSelectAll)="onSelectAllCompen($event)" (onDeSelectAll)="onDeSelectAllCompen($event)"
                                name="selectedCompetency" required>
                                <c-search>
                                    <ng-template>
                                        <input type="text" (keyup)="onCompenSearch($event)" placeholder="Search Compentency..." style="border: none;width: 100%; height: 100%;outline: none;" />
                                    </ng-template>
                                </c-search>
                                <c-item>
                                    <ng-template let-item="item">
                                        <!-- <label style="color: #333;width: 150px;">{{
                              item.compId
                            }}</label> -->
                                        <label class="multiselect-label">{{ item.compName }}</label>
                                    </ng-template>
                                </c-item>
                            </angular2-multiselect>
                            <span></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <label class="side-form-label">{{helpContent?.cc_add_edit_assessment?.evaluation_Area_Name.label}}<sup>&#x2731;</sup>
                                                <app-info-tooltip [description]="helpContent?.cc_add_edit_assessment?.evaluation_Area_Name?.labelHelpContent">
                                                </app-info-tooltip>
                                              </label>
                            <!-- <label>{{helpContent?.cc_add_edit_assessment?.evaluation_Area_Name?.label}}
                        <sup class="reqFieldActivity">*</sup>
                        <div class="help-tooltip">
                          <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                          <div class="help-tooltip-position-right">
                            <p>{{helpContent?.cc_add_edit_assessment?.evaluation_Area_Name?.labelHelpContent}}</p>
                            <i></i>
                          </div>
                        </div>
                      </label> -->

                            <!-- <label class="" for="exampleInputPassword4"
                        >Evaluation Area Name<sup class="required_mark">*</sup></label
                      > -->

                            <angular2-multiselect id="area" [data]="areaList" [(ngModel)]="selectedArea" [settings]="settingsAreaDrop" (onSelect)="onAreaSelect($event)" (onDeSelect)="OnAreaDeSelect($event)" (onSelectAll)="onSelectAllArea($event)" (onDeSelectAll)="onDeSelectAllArea($event)"
                                name="selectedArea" required>
                                <c-search>
                                    <ng-template>
                                        <input type="text" (keyup)="onAreaSearch($event)" placeholder="Search  Evaluation Area..." style="border: none;width: 100%; height: 100%;outline: none;" />
                                    </ng-template>
                                </c-search>
                                <c-item>
                                    <ng-template let-item="item">
                                        <!-- <label style="color: #333;width: 150px;">{{
                              item.areaId
                            }}</label> -->
                                        <label class="multiselect-label">{{ item.areaName }}</label>
                                    </ng-template>
                                </c-item>
                            </angular2-multiselect>
                            <span></span>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <label class="side-form-label">{{helpContent?.cc_add_edit_assessment?.assess_Name.label}}<sup>&#x2731;</sup>
                                                <app-info-tooltip [description]="helpContent?.cc_add_edit_assessment?.assess_Name?.labelHelpContent">
                                                </app-info-tooltip>
                                              </label>
                            <!-- <label>{{helpContent?.cc_add_edit_assessment?.assess_Name?.label}}
                        <sup class="reqFieldActivity">*</sup>
                        <div class="help-tooltip">
                          <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                          <div class="help-tooltip-position-right">
                            <p>{{helpContent?.cc_add_edit_assessment?.assess_Name?.labelHelpContent}}</p>
                            <i></i>
                          </div>
                        </div>
                      </label> -->

                            <!-- <label class="" for="max">Assess Name<sup class="required_mark">*</sup></label> -->
                            <input type="text" class="form-control commonInput" [(ngModel)]="assessNames" placeholder="Enter Assess Name" name="max" required />
                            <span></span>
                        </div>
                    </div>
                </div>

            </form>
            <!-- </div>
                    </div>
                </div>
                <div class="modal-footer text-right">
                    <button type="button" class="constantbtn-button-blue-left" (click)="saveSection(name, role)" [disabled]="subsectionForm.invalid">
            Submit
          </button>
                </div>
            </div>
        </div> -->
        </ngx-sidebar-form>
    </div>

    <!-- -->


    <div *ngIf='noAssessment'>
        <!-- <div class="col-md-12 noDataDiv">
            <img class="noDataImg" src='assets/images/noDataFound1.png' onerror="this.src='assets/images/noDataFound1.png';">
        </div> -->
        <ngx-no-data [config]="noDataVal"></ngx-no-data>
    </div>
    <div class="deleteModalBackdrop" *ngIf="enableDeleteModal == true">
        <div class="deleteModal">
            <div class="modal-header deleteModalHeader">
                <p class="enableDisableModalHeaderP">Delete Assessment</p>
                <button class="close closeDeleteModalBtn" aria-label="Close" (click)="closeDeleteModal()">
                      <span aria-hidden="true">&times;</span>
                  </button>
            </div>

            <div class="modal-body">
                <div class="">
                    <p class="enableDisableModalBodyP">Are you sure you want to Delete {{delData.spectrNames}}?</p>
                </div>

            </div>

            <div class="modal-footer deleteModalFooter">
                <div class="col-md-2">
                    <button type="button" class="deleteModalBtn" (click)="enableDelaction(true)">Yes</button>
                </div>
                <div class="col-md-2">
                    <button type="button" class="deleteModalBtn" (click)="enableDelaction(false)">No</button>
                </div>
            </div>
        </div>
    </div>