<!-- <div class="col-md-12 addEditCattoprow addEditCatsticky-top"> -->
<!-- addEditCatHead -->
<!-- <div class="col-md-6">
        <h4 class="addEditCatHead">Course Category</h4>
    </div> -->
<!-- <div class="col-sm-6" style="text-align:right" >
    <button type="button" class="btn btn-secondary" id="submitBut" (click)="submit()">Save</button>  
    <button type="submit" class="btn btn-mm btn-default" id="backBut" (click)="back()" > Back</button>
  </div> -->
<!-- <div class="col-md-6 text-right pad14px">
        <button type="button" class="constantbtn-button-blue-left " [disabled]="!categoryForm.form.valid"
            (click)="submit()">Save</button>
        <button type="submit" class="constantbtn-button-blue-left " (click)="back()" id="editbtn">Back</button>

    </div> -->
<!-- </div> -->
<div class="course_addEditCategory_page_container" *ngIf='show'>
    <!-- <div class="addEditCategory_header">
        <div class="content_width">
            <div class="header_grid">
                <div class="header_title">
                    <h4>Course Category</h4>
                </div>
                <div class="buttons_container">
                    <button type="submit" class="constantbtn-button-blue-left "
                        (click)="submit(categoryForm)">Save</button>
                    <button type="button" class="back_button " (click)="back()">Back</button> -->
    <!-- <button type="button" class="back_button " (click)="popToaster()">Toaster</button> -->
    <!-- </div>
            </div>

        </div>

    </div> -->

    <app-subheader [headerConfig]="header" [isSave]="true" (btnone)="submit(categoryForm)" (backClick)="back($event)"></app-subheader>


    <div class="inside_form_container">
        <div class="content_width">
            <div class="form_title">
                <h5>General Details</h5>
                <p class="card-description">
                </p>
            </div>
            <div class="form_grid">

                <div class="left_form_container">

                    <div class="form_container">
                        <form class="forms-sample" #categoryForm="ngForm">
                            <div class="form-group form_field_container">
                                <label class="commonLabel" for="Name">{{helpContent?.courses_AddEditCategoryContent?.name?.label}} <sup
                                        class="required_mark">*</sup>
                                    <div class="help-tooltip">
                                        <i class="fa fa-info-circle tooltip-hover-info-label-round"
                                            aria-hidden="true"></i>
                                        <!-- <i class="fa fa-info tooltip-hover-info-label"
                                                aria-hidden="true"></i> -->
                                        <div class="help-tooltip-position-right">
                                            <!-- <h3>Lorem Ipsum</h3> -->
                                            <p>{{helpContent?.courses_AddEditCategoryContent?.name?.labelHelpContent}}
                                            </p>
                                            <i></i>
                                        </div>
                                    </div>
                                </label>
                                <input class="commonInput" type="text" class="form-control" id="catna" minlength="2" maxlength="50" [(ngModel)]="formdata.categoryName" required placeholder="Max 50 characters." name="categoryName" #categoryName="ngModel" ngDefaultControl>
                                <div class="alert alert-danger" style="color: #a94442;" *ngIf="categoryName.errors && (categoryName.dirty || categoryName.touched)">
                                    <small class="alert alert-danger" [hidden]="!categoryName.errors.required">Category Name is required</small>
                                    <small class="alert alert-danger" [hidden]="!categoryName.errors.minlength">Minimum 2 characters required</small>
                                </div>

                            </div>

                            <div class="form-group form_field_container">

                                <label class="commonLabel" for="comment">{{helpContent?.courses_AddEditCategoryContent?.description?.label}}
                                    <sup class="required_mark">*</sup>
                                    <div class="help-tooltip">
                                        <i class="fa fa-info-circle tooltip-hover-info-label-round"
                                            aria-hidden="true"></i>
                                        <!-- <i class="fa fa-info tooltip-hover-info-label"
                                                        aria-hidden="true"></i> -->
                                        <!-- <img src="../../../../../assets/images/info.svg" alt="" srcset=""> -->
                                        <div class="help-tooltip-position-right">
                                            <!-- <h3>Lorem Ipsum</h3> -->
                                            <p>{{helpContent?.courses_AddEditCategoryContent?.description?.labelHelpContent}}
                                            </p>
                                            <i></i>
                                        </div>
                                    </div>
                                </label>
                                <textarea class="commonTextarea" style="height: 170px;" cols="30" rows="5" maxlength="500" minlength="20" class="form-control" placeholder="Min 20 and Max 500 characters." name="description" [(ngModel)]="formdata.description" #description="ngModel" required
                                    ngDefaultControl></textarea>
                                <!-- <textarea class="form-control" rows="5" ></textarea> -->
                                <div class="alert alert-danger" style="color: #a94442;" *ngIf="description.errors && (description.dirty || description.touched)">
                                    <small class="alert alert-danger" [hidden]="!description.errors.required">Description is
                                        required.</small>
                                    <small class="alert alert-danger" [hidden]="!description.errors.minlength">Minimum 20 characters
                                        required</small>
                                </div>

                            </div>
                            <div class="form-group tagcontainer">
                                <label class="commonLabel" for="addTags">{{helpContent?.courses_AddEditCategoryContent?.tags?.label}}
                                    <sup class="required_mark">*</sup>
                                    <div class="help-tooltip">
                                        <i class="fa fa-info-circle tooltip-hover-info-label-round"
                                            aria-hidden="true"></i>
                                        <!-- <i class="fa fa-info tooltip-hover-info-label"
                                                aria-hidden="true"></i> -->
                                        <!-- <img src="../../../../../assets/images/info.svg" alt="" srcset=""> -->
                                        <div class="help-tooltip-position-right">
                                            <!-- <h3>Lorem Ipsum</h3> -->
                                            <p>{{helpContent?.courses_AddEditCategoryContent?.tags?.labelHelpContent}}
                                            </p>
                                            <i></i>
                                        </div>
                                    </div>
                                </label>
                                <div id="addTags">
                                    <angular2-multiselect id="exampleInputTags4" [data]="tagList" [(ngModel)]="selectedTags" [settings]="settingsTagDrop" required #tags="ngModel" (onSelect)="onTagsSelect($event)" class="select_field_height" (onDeSelect)="OnTagDeSelect($event)" name="selectedTags"
                                        ngDefaultControl>
                                        <!-- <c-search>
                                          <ng-template>
                                            <input type="text" (keyup)="onTagSearch($event)"
                                              placeholder="Search Tags"
                                              style="border: none;width: 100%; height: 100%;outline: none;" />
                                          </ng-template>
                                        </c-search> -->
                                        <c-item>
                                            <ng-template let-item="item">
                                                <label style="color: #333;">{{item.name}}</label>
                                            </ng-template>
                                        </c-item>
                                    </angular2-multiselect>
                                    <div class="alert alert-danger" style="color: #a94442;" *ngIf="tags.errors && (tags.dirty || tags.touched)">
                                        <small class="alert alert-danger" [hidden]="!tags.errors.required">Tag is required</small>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="right_form_container">
                    <form class="forms-sample form_field_container">
                        <div class="form-group form_field_container">
                            <label class="commonLabel" for="select_field">{{helpContent?.courses_AddEditCategoryContent?.visibility?.label}} <sup
                                    class="required_mark">*</sup>
                                <div class="help-tooltip">
                                    <i class="fa fa-info-circle tooltip-hover-info-label-round"
                                        aria-hidden="true"></i>
                                    <!-- <i class="fa fa-info tooltip-hover-info-label"
                                            aria-hidden="true"></i> -->
                                    <div class="help-tooltip-position-right">
                                        <!-- <h3>Lorem Ipsum</h3> -->
                                        <p>{{helpContent?.courses_AddEditCategoryContent?.visibility?.labelHelpContent}}
                                        </p>
                                        <i></i>
                                    </div>
                                </div>
                            </label>
                            <!-- <label for="select_field">Visibility<sup class="required_mark">*</sup></label> -->

                            <select style="width: 92%;" [(ngModel)]="formdata.visible" class="form-control select_field_height commonSelect" required name="visible" #visible="ngModel" ngDefaultControl>
                                <option value="" selected disabled>Select Type</option>
                                <option *ngFor="let item of visibility" value={{item.id}}>{{item.name}}
                                </option>
                            </select>

                            <!-- <select class="form-control" id="select_field">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select> -->
                            <div class="alert alert-danger" style="color: #a94442;" *ngIf="visible.errors && (visible.dirty || visible.touched)">
                                <small class="alert alert-danger" [hidden]="!visible.errors.required">Visibility is required</small>
                            </div>

                        </div>
                        <label class="commonLabel">
                            {{helpContent?.courses_AddEditCategoryContent?.category_thumbnail?.label}}
                        
                        <div class="help-tooltip">
                            <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                            <!-- <i class="fa fa-info tooltip-hover-info-label"
                                                aria-hidden="true"></i> -->
                            <div class="help-tooltip-position-right">
                                <!-- <h3>Lorem Ipsum</h3> -->
                                <p>{{helpContent?.courses_AddEditCategoryContent?.category_thumbnail?.labelHelpContent}}
                                </p>
                                <i></i>
                            </div>
                        </div>
                    </label>
                        <div class="image_upload_container">
                            <div class="image_preview">

                                <!-- style="background-image: url('https://bhaveshedgetest.s3.ap-south-1.amazonaws.com/BFL.jpg')"  -->
                                <div class="image_preview_container" [style.background-image]="'url(' + formdata.categoryPicRef + ')'">
                                    <!-- <div class="buttons_image_preview"> -->

                                    <div class="icon_upload_image">
                                        <input class="commonInput" type='file' id="imageUpload_1" accept=".png, .jpg, .jpeg" style="display:none" [(ngModel)]="formdata.categoryPicRefs" [ngModelOptions]="{standalone: true}" (change)="readCategoryThumb($event)" />
                                        <label class="commonLabel" for="imageUpload_1" title="Change Thumbnail"><i class="fa fa-pencil"
                                                        aria-hidden="true"></i></label>
                                    </div>
                                    <div class="icon_delete" (click)="deleteCategoryThumb()">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                        <!-- <label></label> -->
                                    </div>
                                    <!-- </div> -->
                                </div>

                            </div>
                        </div>
                    </form>

                </div>
            </div>

        </div>

    </div>


</div>



<!-- 
<div class="widgets"> -->

<!-- <div class="loaderBackdrop" *ngIf="loader == true">
        <div id="loader"></div>
    </div> -->

<!-- <div ba-panel ba-panel-class="with-scroll">
        <div class="col-sm-12" style="padding: 0;">
            <div> -->
<!-- <div class="row m0" style="width: 100%;"> -->
<!-- <div class="inside-container">
                        <div class="col-md-6 grid-margin stretch-card" style="padding-left: 25px;margin-top: 25px;">
                            <div class="card cardForm cardFormCategory">
                                <div class="card-body">
                                    <h4 class="card-title marginTop0">General Details</h4>
                                    <p class="card-description">
                                    </p> -->
<!-- <form class="forms-sample" #categoryForm="ngForm"> -->
<!--         <div class="form-group">
                                            <label class="space_left" for="catid">Code<sup class="reqFieldActivity">*</sup> </label>
                                            <input type="text" class="form-control inputText" id="catid" [(ngModel)]="formdata.categoryCode" required placeholder="Category Code" name="categoryCode" #categoryCode="ngModel" ngDefaultControl>
                                            <div [hidden]="categoryCode.valid || categoryCode.pristine" class="alert alert-danger">
                                                <div [hidden]="!categoryCode.hasError('required')">Category Code is required</div>
                                            </div>
                                            <span></span>
                                        </div> -->
<!-- <div class="form-group">
                                            <label class="space_left"
                                                for="catna">{{helpContent?.courses_AddEditCategoryContent?.name?.label}}
                                                <h3 class="reqFieldActivity">*
                                                </h3>
                                                <div class="help-tooltip">
                                                    <i class="fa fa-info-circle tooltip-hover-info-label-round"
                                                        aria-hidden="true"></i>
                                                   
                                                    <div class="help-tooltip-position-right">
                                                   
                                                        <p>{{helpContent?.courses_AddEditCategoryContent?.name?.labelHelpContent}}
                                                        </p>
                                                        <i></i>
                                                    </div>
                                                </div>
                                            </label>
                                            <input type="text" class="form-control inputText" id="catna" maxlength="50"
                                                [(ngModel)]="formdata.categoryName" required
                                                placeholder="Max 50 characters." name="categoryName"
                                                #categoryName="ngModel" ngDefaultControl>

                                            <div [hidden]="categoryName.valid || categoryName.pristine"
                                                class="alert alert-danger">
                                                <div [hidden]="!categoryName.hasError('required')">Category Name is
                                                    required</div>
                                            </div>
                                            <span></span>
                                        </div> -->

<!-- <div class="form-group">
                                            <label class="left_space"
                                                for="visiid">{{helpContent?.courses_AddEditCategoryContent?.visibility?.label}}
                                            </label>

                                            <div class="help-tooltip">
                                                <i class="fa fa-info-circle tooltip-hover-info-label-round"
                                                    aria-hidden="true"></i>
                                            
                                                <div class="help-tooltip-position-right">
                                                 
                                                    <p>{{helpContent?.courses_AddEditCategoryContent?.visibility?.labelHelpContent}}
                                                    </p>
                                                    <i></i>
                                                </div>
                                            </div>
                                            <select [(ngModel)]="formdata.visible" id="visiid"
                                                class="form-control form-control-input select_field_height inputText" required
                                                name="visible" #visible="ngModel" ngDefaultControl>
                                                <option value="" selected disabled>Select Type</option>
                                                <option *ngFor="let item of visibility" value={{item.id}}>{{item.name}}
                                                </option>
                                            </select>
                                            <div [hidden]="visible.valid || visible.pristine"
                                                class="alert alert-danger">
                                                <div [hidden]="!visible.hasError('required')">Visibility is required
                                                </div>
                                            </div>
                                            <span></span>
                                        </div> -->

<!-- <div class="form-group">
                        <label class="space_left" for="des">Description</label>
                        <textarea class="form-control taskedittextarea ng-pristine ng-valid ng-valid-maxlength ng-touched inputText" id="des" placeholder="Description" name="description" [(ngModel)]="formdata.description" maxlength="250" #description="ngModel" ngDefaultControl>
                        </textarea>
                        <span></span>
                      </div> -->

<!-- <div class="form-group"> -->
<!-- <label class="left_space"
                                                for="des">{{helpContent?.courses_AddEditCategoryContent?.description?.label}}
                                                <sup class="reqFieldActivity">*</sup> 
                                                <div class="help-tooltip">
                                                    <i class="fa fa-info-circle tooltip-hover-info-label-round"
                                                        aria-hidden="true"></i>
                                                 
                                                    <div class="help-tooltip-position-right">
                                                    
                                                        <p>{{helpContent?.courses_AddEditCategoryContent?.description?.labelHelpContent}}
                                                        </p>
                                                        <i></i>
                                                    </div>
                                                </div>

                                            </label> -->

<!-- <textarea cols="30" rows="6" maxlength="500" minlength="20"
                                                class="form-control form-control-input inputText" id="des"
                                                placeholder="Min 20 and Max 500 characters." name="description"
                                                [(ngModel)]="formdata.description" #description="ngModel"
                                                pattern=".{20,500}" required ngDefaultControl></textarea> -->
<!-- <div [hidden]="description.valid || description.pristine"
                                                class="alert alert-danger">
                                                <div [hidden]="!description.hasError('required')">Description is
                                                    required</div>
                                                <div [hidden]="!description.hasError('minlength')">Minimum 20 characters
                                                    required</div> -->
<!-- <div [hidden]="!description.hasError('pattern')">Maximum 500 characters required</div> -->
<!-- </div> -->
<!-- <span></span> -->
<!-- </div> -->

<!-- <div class="form-group tagcontainer">
                                            <label class="left_space"
                                                for="addTags">{{helpContent?.courses_AddEditCategoryContent?.tags?.label}}
                                                <h3 class="reqFieldActivity">*
                                                </h3>
                                                <div class="help-tooltip">
                                                    <i class="fa fa-info-circle tooltip-hover-info-label-round"
                                                        aria-hidden="true"></i>
                                             
                                                    <div class="help-tooltip-position-right">
                                                       
                                                        <p>{{helpContent?.courses_AddEditCategoryContent?.tags?.labelHelpContent}}
                                                        </p>
                                                        <i></i>
                                                    </div>
                                                </div>
                                            </label>
                                            <div id="addTags" class="input-group">
                                                <tag-input required [theme]="'bootstrap'"
                                                    [separatorKeyCodes]="[32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,58,59,60,61,62,63,64188]"
                                                    [(ngModel)]="formdata.tags" name="tags" #tags="ngModel"
                                                    [modelAsStrings]="true">
                                                </tag-input>
                                                <div [hidden]="tags.valid || tags.pristine" class="alert alert-danger">
                                                    <div [hidden]="!tags.hasError('required')">Tag is required</div>
                                                  
                                                </div>
                                            </div>
                                        </div> -->

<!-- </form> -->
<!-- </div>
                            </div>
                        </div> -->
<!-- <div class="col-md-6 grid-margin stretch-card" style="margin-top: 25px;padding-right: 25px;">
                            <div class="card cardForm">
                                <div class="card-body">
                                    <h4 class="card-title marginTop0">
                                        {{helpContent?.courses_AddEditCategoryContent?.category_thumbnail?.label}}
                                        <div class="help-tooltip">
                                            <i class="fa fa-info-circle tooltip-hover-info-label-round"
                                                aria-hidden="true"></i>
                                        
                                            <div class="help-tooltip-position-right">
                                               
                                                <p>{{helpContent?.courses_AddEditCategoryContent?.category_thumbnail?.labelHelpContent}}
                                                </p>
                                                <i></i>
                                            </div>
                                        </div>
                                    </h4>
                                    <p class="card-description">
                                    </p>
                                    <form class="forms-sample">
                                        <div class="form-group">
                                            <div class="categoryIcon">
                                                <div class="m0 categoryIcon-upload">
                                                    <div class="cat-img">
                                                        <div class="categoryIcon-edit">
                                                            <input type='file' id="imageUpload"
                                                                accept=".png, .jpg, .jpeg"
                                                                (change)="readCategoryThumb($event)" />
                                                            <label for="imageUpload" title="Change Thumbnail">

                                                            </label>
                                                          
                                                        </div>
                                                        <div class="categoryIcon-delete"
                                                            (click)="deleteCategoryThumb()">
                                                            <label title="Restore to default"></label>
                                                            
                                                        </div>
                                                        <div class="categoryIcon-preview">
                                                      
                                                            <img src={{formdata.categoryPicRef}}>
                                                           
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div> -->
<!-- </div>

                </div>

            </div>
        </div> -->
<!-- </div>
</div> -->