// .addEditCattoprow{
//   // padding: 12px;
//   border: none;
//   background-color: #ffffff;
//   height: auto;
//   width: 100%;
//   display: inline-flex;
// }
// .floteright {
//   float: right;
//   font-size: 13px;
//   background-color: #fff;
// }
// .inside-container{
//   background: #fff;
//   margin: 20px;
//   width: 100%;
// }
// .addEditCatsticky-top{
//   position: sticky;
//   top: 67px;
//   z-index: 1090;
// }
// .reqFieldActivity {
//   display: inline;
//   color: #ed462f  ;
// }
// .categoryIcon-upload{
// .cat-img{
//   position: relative;
//   height: 175px;
//   width: 300px;
//   .categoryIcon-edit{
//     position: absolute;
//     left: 5%;
//     z-index: 1;
//     bottom: 5%;
//   }
//   .categoryIcon-delete{
//     position: absolute;
//     right: 5%;
//     z-index: 1;
//     bottom: 5%;
//   }
//   .categoryIcon-preview{
//     height: 100%
//   }
// }
// }
// .space_left{
//   padding-left: 2px;
// }
// .categoryIcon{
//   // margin: 0 auto;
//   // text-align: -webkit-center;
// }
// .categoryIcon-upload {
//    position: relative;
//    // max-width: 205px;
//    /*margin: 50px auto;*/
//    .categoryIcon-edit {
//        // position: absolute;
//        // right: 12px;
//        // z-index: 1;
//        // top: 10px;
//       position: absolute;
//       left: 28%;
//       z-index: 1;
//       bottom: 5%; 
//        input {
//            display: none;
//            + label {
//                display: inline-block;
//                width: 34px;
//                height: 34px;
//                margin-bottom: 0;
//                border-radius: 100%;
//                background: #FFFFFF;
//                border: 1px solid transparent;
//                box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
//                cursor: pointer;
//                font-weight: normal;
//                transition: all .2s ease-in-out;
//                &:hover {
//                    background: #f1f1f1;
//                    border-color: #d6d6d6;
//                }
//                &:after {
//                    content: "\f040";
//                    font-family: 'FontAwesome';
//                    color: #757575;
//                    position: absolute;
//                    top: 10px;
//                    left: 0;
//                    right: 0;
//                    text-align: center;
//                    margin: auto;
//                }
//            }
//        }
//    }
//  .categoryIcon-delete {
//      // position: absolute;
//      // right: 12px;
//      // z-index: 1;
//      // bottom: 10px;
//     position: absolute;
//     right: 28%;
//     z-index: 1;
//     bottom: 5%; 
//      label {
//              display: inline-block;
//              width: 34px;
//              height: 34px;
//              margin-bottom: 0;
//              border-radius: 100%;
//              background: #FFFFFF;
//              border: 1px solid transparent;
//              box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
//              cursor: pointer;
//              font-weight: normal;
//              transition: all .2s ease-in-out;
//              &:hover {
//                  background: #f1f1f1;
//                  border-color: #d6d6d6;
//              }
//              &:after {
//                  content: "\f1f8";
//                  font-family: 'FontAwesome';
//                  color: #757575;
//                  position: absolute;
//                  top: 10px;
//                  left: 0;
//                  right: 0;
//                  text-align: center;
//                  margin: auto;
//          }
//      }
//  }
// .categoryIcon-preview {
//   // width: 192px;
//   // height: 192px;
//   // position: relative;
//   // border-radius: 100%;
//   // border: 6px solid #F8F8F8;
//   // box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
//   width: 300px;
//   height: 175px;
//   position: relative;
//   /* border-radius: 100%; */
//   border: 6px solid #fbfbfb;
//   -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
//   box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
//   // > div {
//   //   width: 100%;
//   //   height: 100%;
//   //   border-radius: inherit;
//   //   // background-size: contain;
//   //   background-size: cover;
//   //   background-repeat: no-repeat;
//   //   background-position: center;
//   // }
//   > img {
//       width: 100%;
//       height: 100%;
//       // border-radius: inherit;
//       // background-size: contain;
//       // background-size: cover;
//       // background-repeat: no-repeat;
//       // background-position: center;
//   }
// }
// }
// .m0{
//   margin: 0 auto;
// }
// .addEditCatHead{
//   // padding: 15px 0px 15px 30px;
//   margin: 15px auto;
// }
// .cardFormCategory {
//     color: #666666;
//     background-color: #ffffff;
//     // border: 1px solid #f1eded;
//     border-radius: 0px;
//     position: relative;
//     margin-bottom: 24px;
//     box-shadow: none; 
// }
// .dropHeight{
//   height: 2.5rem  ;
// }
// textarea {
//   resize: none;
// }
// .marginTop0{
//   margin-top: 0px;
// }

/*.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; green
}*/


/*.ng-invalid:not(form)  {
  border-left: 5px solid #a94442;  red 
}*/

// .alert {
//   margin-bottom: 1px;
//   height: 25px;
//   line-height:25px;
//   padding:0px 15px;
// }
// .alert-danger {
//     background-color: #f0f3f4;
//     border-color: #f0f3f4;
//     color: #645a5a;
// }
// .addEditCatbtn-secondary:hover {
//   color: #fff; 
//   background-color: #ed462f; 
//   border-color:  #ed462f;
// }
// .sticky-top
// {
//   position: sticky;
//   top: 67px;
//   z-index: 1090;
// }
// .toprow{
//   border: none;
//   background-color: #ffffff;
//   height: auto;
//   width: 100%;
//   display: inline-flex;
// }
// #submitBut {
//  margin: 10px;
//  border-radius: 0;
//   background: #ed462f;
//   color: #fff;
//   border: #ed462f;
//   height: 37px;
//   width: 135px;
//   color: #ffffff;
//   background-color: #ed462f;
//   background-image: none;
//   border-color: #ed462f;
//   transform: none;
// }
// #addEditCatbackBut {
//   margin: 10px;
//   border-radius: 0;
//   background: #076ba1;
//   color: #fff;
//   border: #076ba1;
//   height: 37px;
//   width: 135px;
//   color: #ffffff;
//   background-color: #076ba1;
//   background-image: none;
//   border-color: #076ba1;
//   transform: none;
// }
// .addEditCatoptbtnNew{
//   border-radius: 0px  ; 
//   /*background: #076ba1;*/
//   background: #ed462f  ;
//   color: #fff;
//   border: #076ba1;
//   height: 37px;
//   width: 135px;
//   transform: none  ;
//   margin: 10px;
// }
// .userField {
//   margin-left: 30px ;
//   margin-top: 15px ;
// }
// .userLegend {
//   margin-bottom: 5px;
// }
// .userLegendBorder {
//   border-bottom-style: solid; 
//   border-bottom-width: 2px;
// }
// #userRow1 {
//   margin-top: 10px;
// }
// .userSubBut {
//     float: right;
//     /* margin-left: 30px; */
//     /*margin-top: 8px;*/
//     transform: none;
//     background: #fff;
//     height: 55px;
//     margin: 0 auto;
//     padding: 9px;
// }
// .userBackBut{
//   /* display: none; */
// }
// #backBut {
//   //margin: 10px;
//   border-radius: 0;
//   background: #076ba1;
//   color: #fff;
//   border: #076ba1;
//   height: 37px;
//   width: 135px;
//   color: #ffffff;
//   background-color: #076ba1;
//   background-image: none;
//   border-color: #076ba1;
//   transform: none;
// }
// .optbtnNew{
//     border-radius: 0;
//     /*background: #076ba1;*/
//     background: #ed462f;
//     color: #fff;
//     border: #076ba1;
//     height: 37px;
//     width: 135px;
//     transform: none  ;
//     margin: 10px;
// }
// .btn-secondary:hover {
//      color: #fff; 
//      background-color: #ed462f; 
//      border-color:  #ed462f;
// }
// .inputLabel{
//   line-height: 2.5;
//   font-size: 15px;
// }
// .left {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   flex-direction: column;
// }
// .photo {
//   width: 200px;
//   height: 200px;
//   margin-top: -120px;
//   border-radius: 100px;
//   border: 4px solid #fff;
// }
// .active {
//   width: 20px;
//   height: 20px;
//   border-radius: 20px;
//   position: absolute;
//   right: calc(50% - 70px);
//   top: 75px;
//   background-color: #FFC107;
//   border: 3px solid #fff;
// }
// @media (max-width:990px) {
//   .active {
//     right: calc(50% - 60px);
//     top: 50px;
//   } 
// }
// .proImg{
//   margin-left: 157%;
//   margin-top: 65%;
// }
// .img-circle {
//   border-radius: 50%;
// }
// .bg-form{
//     float:left;width:100%;
//     position:relative;
//     background: url("http://lorempixel.com/200/200/abstract/");
//     background-repeat: no-repeat;
//     background-size: cover;
//     margin-top: 0px;
// }
// .img-section{
//     float: left;width: 100%;padding-top: 15px;padding-bottom: 15px;background: rgba(0,0,0,0.7);position: relative;
// }
// .img-section h4{color:#fff;}
// #PicUpload{
//     color: #ffffff;
//     width: 180px;
//     height: 180px;
//     background: rgba(255,255,255,0.4);
//     padding: 100px;
//     position: absolute;
//     left: 30.5%;
//     border-radius: 50%;
//     display: none;
//     top:15px;
// }
// .imgCircle{
//     border-radius: 50%;
//     width: 200px;
//     height: 200px;
// }
// .Profile-input-file{
//     height:180px;width:180px;left:33%;
//     position: absolute;
//     top: 0px;
//     z-index: 999;
//     opacity: 0  ;
// }

/*.form-control{padding: 10px 50px;}*/

// .form-input{height:50px;border-radius: 0px;margin-top: 20px;}
// .form-style-fake{position:absolute;top:0px;}
// .form-style-base{position:absolute;top:0px;z-index: 999;opacity: 0;}
// .fake-styled-btn{
//     background: #006cad;
//     padding: 10px;
//     color: #fff;
// }
// .camera{
//     font-size: 50px;
//     color: #333;
// }
// .inputLabelUpload{
//   line-height: 12.5;
//   font-size: 15px;
// }
// .activeRoute{
//   text-decoration: underline;
//   text-underline-position: under;
//   text-decoration-color: #076ba1;
//   color: #076ba1;
// }
// .nb-theme-corporate select.form-control:not([size]):not([multiple]) {
//   height: 19%;
// }
// .tabset>.nav .nav-tabs{
//   width: 100%  ;
// }
// .tabset>.nav .nav-tabs > li{
//   width:33%  ;
// }
// .tabset > .nav .nav-tabs > li >a {
//   width:100%   ;
// }
// .tabset>ul>li>a>span>i{
//   font-size: 20px  ;
//   display: block  ;
//   height:100%  ;
// }
// .tabset>ul>li>a>span>i>b{
//   display: block  ;
//   font-weight: 500  ;
//   font-style: normal  ;
//   font-size: 16px  ;
// }
// .tabset>ul>li>a>.span{
//   width: 100%  ;
// }
// .tabset>ul>li:last-child a{
//   border-top-right-radius: 5px  ;
// }
// .tabset>ul>li.active > a {
//   background-color: #bec0c1  ;
//   color:#fff  ;
// }

/*#addUser .tabset .nav .nav-tabs{
      height: 60px  ;
      background: #ffff  ;
      padding-left: 15px  ;
      border: none  ;
    }
  #addUser .tabset .nav .nav-tabs li.active{
    line-height: 4  ;
    background: transparent  ;
    border-bottom: 2px solid #076ba1  ;
  }*/

// .tabset>ul>li.active {
//     width: 20px;
//     height: 20px;
//     border-radius: 20px;
//     position: inherit;
//     right: calc(50% - 70px);
//     top: 75px;
//     background-color: transparent;
//     border: none;
// }
// .nav.nav-tabs > li.active > a {
//     border-bottom: 3px solid #076ba1  ;
//     background-color: #fff  ;
//     color: #076ba1  ;
// }
// .tabset > ul > li {
//     width: 22%  ;
// }
// .tabset > ul > li:hover > a {
//     color: #076ba1  ;
//     background-color: #ffffff  ;
//     transform: none  ;
//     transition: none  ;
// }
// .nav.nav-tabs {
//   border-top-left-radius: 5px  ;
//   border-top-right-radius: 5px  ;
//   border-bottom: none  ;
//   background-color: white;
// }
// .tabset>ul>li>a{
//   width: 100%  ;
//   background-color: transparent  ;
//   color: #686868  ;
//   height: 55px  ;
//   border-bottom: none  ;
//   line-height: 2.5;
// }
// .al-content {
//    padding: 0px;
// }
.course_addEditCategory_page_container {
    .addEditCategory_header {
        background: #fff;
        position: sticky;
        top: 4.75rem;
        z-index: 1020;
        .content_width {
            width: 78vw;
            margin: 0 auto;
            .header_grid {
                display: grid;
                grid-template-columns: 1fr 1fr;
                align-items: center;
                height: 50px;
                .header_title {
                    h4 {
                        text-align: left;
                    }
                }
                .buttons_container {
                    text-align: right;
                }
            }
        }
    }
    .inside_form_container {
        // display: grid;
        // grid-template-columns: 1fr 1fr;
        background: #fff;
        margin: 20px;
        padding: 20px;
        .content_width {
            width: 78vw;
            margin: 0 auto;
            .form_title {
                h5 {}
            }
            .form_grid {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-column-gap: 40px;
                .left_form_container {
                    .form_container {}
                }
                .right_form_container {}
                .form_field_container {
                    margin-bottom: 15px;
                    padding-bottom: 10px;
                    label {
                        color: #666666;
                    }
                    // .select_field_height{
                    //   height: 35px;
                    // }
                    .required_mark {
                        font-size: 20px;
                        font-weight: 100;
                        top: -0.3em;
                        color: #ed462f;
                    }
                    // .required_msg_text{
                    //   .form-text{
                    //     color: #ed462f !important;
                    //   }
                    // }
                }
                .image_upload_container {
                    // margin-top: 15px;
                    .image_preview {
                        height: 170px;
                        width: 300px;
                        margin-right: auto;
                        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
                        padding: 10px;
                        background: #fff9f9;
                        position: relative;
                        .image_preview_container {
                            height: 150px;
                            width: 100%;
                            background-size: cover;
                            background-position: center;
                            background-repeat: no-repeat;
                            display: grid;
                            grid-template-columns: 1fr 1fr;
                            // position: absolute;
                            grid-column-gap: 20px;
                            align-items: end;
                            // margin-top: -10px;
                            // img{
                            //   width: 100%;
                            //   height: 100%;
                            // }
                            .icon_upload_image {
                                // text-align: right;
                                // margin-left: auto;
                                margin-left: 10px;
                                margin-bottom: 10px;
                                label {
                                    display: flex;
                                    align-items: center;
                                    // align-content: 
                                    justify-content: center;
                                    // justify-items: center;
                                    background: #fff;
                                    // color: #076ba1;
                                    color: var(--colorIcons) !important;
                                    height: 40px;
                                    width: 40px;
                                    border-radius: 50%;
                                    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
                                    margin-bottom: 0;
                                    padding: 0;
                                    i {
                                        line-height: 40px;
                                    }
                                }
                                // margin: 0 auto;
                            }
                            .icon_delete {
                                // text-align: right;
                                // margin-right: auto;
                                margin-left: auto;
                                margin-right: 10px;
                                margin-bottom: 10px;
                                display: flex;
                                align-items: center;
                                // align-content: 
                                justify-content: center;
                                // justify-items: center;
                                background: #fff;
                                color: #076ba1;
                                height: 40px;
                                width: 40px;
                                border-radius: 50%;
                                box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
                                // margin: 0;
                                padding: 0;
                                i {
                                    line-height: 40px;
                                }
                            }
                            //   .buttons_image_preview{
                            //     // display: grid;
                            //     // grid-template-columns: 1fr 1fr;
                            //     // // position: absolute;
                            //     // grid-column-gap: 20px;
                            //     // align-items: end;
                            //     // margin-top: -10px;
                            // }
                        }
                    }
                }
            }
        }
        .tagcontainer {
            margin-bottom: 4px;
            color: #838080;
            .required_mark {
                font-size: 20px;
                font-weight: 100;
                top: -0.3em;
                color: #ed462f;
            }
        }
        .tagcontainer .bootstrap.ng2-tag-input {
            display: block;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            position: relative;
            cursor: text;
            // width: 445px  ;
            border-bottom: 2px solid #efefef;
        }
        tag-input {
            width: 100%;
        }
    }
}