<app-subheader [headerConfig]="header" (inputsearch)="searchData($event)" (addbtn)="upload()" (Clear)="clear()"
   (backClick)="back()"></app-subheader>


<!-- //tabs -->
<nb-tabset class=" custom_tabset courseTabset"  *ngIf = "!uploadedFile"(changeTab)="changeTab($event)">
  <nb-tab tabTitle="Batch" >
    <span *tabHeading>
      <b>
        Batch
      </b>
    </span>
    <div style="margin:10px">
  <ngx-enrol-table [label]="labels"*ngIf = "!sidebarForm" (clickToDownicon) =  "download($event)" [pagination]="true" [tableData]="batchList"></ngx-enrol-table>
</div>

  </nb-tab>

  <nb-tab tabTitle="Session" >
    <span *tabHeading>
      <b>
        Session
      </b>
    </span>
  <div style="margin:10px">
  <ngx-enrol-table [label]="labelsSession"*ngIf = "!sidebarForm" [pagination]="true"(clickToDownicon) =  "downloadSession($event)" [tableData]="sessionList"></ngx-enrol-table>
</div>
  </nb-tab>
</nb-tabset>
<ngx-no-data [config]="noDataVal" *ngIf="noData && batchList?.length == 0  && tabEvent.tabTitle == 'Batch'"></ngx-no-data>

<ngx-no-data [config]="noDataVal" *ngIf="noData && sessionList?.length == 0 && tabEvent.tabTitle == 'Session'"></ngx-no-data>


<!-- <ngx-no-data [config]="noDataVal" *ngIf="noData"></ngx-no-data> -->


<!-- <ngx-sidebar-form *ngIf="sidebarForm" (saveBtn)="submit(categoryForm)" (closeBtn)="cloeSidebar()" (outside)="cloeSidebar()" [sidebarTitle]="titleName" [buttonName]="btnName"> -->
  <!-- <div *ngIf = "sidebarForm">
  <div class="form-group inputDnD " >
  <input type="file" #fileUpload class="form-control-file text-success font-weight-bold" id="inputFile" accept=".xls,.xlsx" (change)="onSelectFile($event)" attr.data-title="{{fileName}}">
  </div>
  <div class="cancelFile">
  <button type="button" class="constantbtn-button-blue-left tempbtn"  (click)="uploadFile()">Upload File</button>
</div>
</div> -->
<!-- 
<nb-tabset class=" tabable uploadUsersTab custom_tabset courseTabset"*ngIf = "uploadedFile" (changeTab)="onSelectTab($event)">
  <nb-tab tabTitle="Upload" [active]="tab1">
    <span *tabHeading>
      <b>
        Upload
      </b>
    </span>
  </nb-tab>

  <nb-tab tabTitle="Preview" [active]="tab2">
    <span *tabHeading>
      <b>
        Preview
      </b>
    </span>
  </nb-tab>

  <nb-tab tabTitle="Results" [active]="tab2">
    <span *tabHeading>
      <b>
        Results
      </b>
    </span>
  </nb-tab>
</nb-tabset> -->

<!-- </ngx-sidebar-form> -->
<!-- <div >  -->
<ngx-batch-upload *ngIf = "sidebarForm" [parentTabEvent] = "tabEvent" [param] = "param" (tabChanged)="onSelectTabTest($event)" ></ngx-batch-upload>
<!-- </div> -->


<!-- <div *ngIf = "!sidebarForm">
<ngx-enrol-table [label]="labels" [pagination]="true" [tableData]="employeeList"></ngx-enrol-table>
</div> -->