.inputDnD {
    height: 14em;
    .form-control-file {
        position: relative;
        width: 100%;
        height: 100%;
        min-height: 6em;
        outline: none;
        visibility: hidden;
        cursor: pointer;
        background-color: #c61c23;
        box-shadow: 0 0 5px solid currentColor;
        &:before {
            color: #ed462f;
            content: attr(data-title);
            position: absolute;
            top: 1.5em;
            left: 0;
            width: 100%;
            /* min-height: 8em; */
            height: 12em;
            line-height: 8em;
            padding-top: 1.5em;
            opacity: 1;
            visibility: visible;
            text-align: center;
            border: 0.15em dashed #9ea4a5;
            transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
            overflow: hidden;
        }
        &:hover {
            &:before {
                border-style: solid #076ba1;
                /*box-shadow: inset 0px 0px 0px 0.25em currentColor;*/
            }
        }
    }
}

.cancelFile {
    text-align: center;
    /* float: left; */
    /* margin-left: 12%; */
    /* margin-top: 7%; */
}