<app-subheader [headerConfig]="header" (inputsearch)="searchShareUser($event,search)"(comeBack)="backToAsset($event)" [isSave]="checked" (btnone)="save()" (Clear)="clearSearch()" (backClick)="back()"></app-subheader>
<!-- <div class="col-md-12 sharetoprow shareAssetsticky-top">
    <div class="col-md-3">
        <h4 class="shareAssetHead">SHARE ASSET</h4>
    </div>
    <div class="col-md-5">
        <input type='text' class="shareAssetSearchUsr searchInput" placeholder='Search user...' (keyup)='searchShareUser($event)' [(ngModel)]="searchvalue.value" name="name" />
    </div>
    <div class="col-md-4 text-right pad14px">
        <button class="constantbtn-button-blue-left" (click)="save()">Save</button>
        <button class="back_button" (click)="back()">Back</button>
    </div>
</div> -->


<div class="tableCompo">
    <ngx-enrol-table [label]="labels" [pagination]="true" [tableData]="rows" (clickOnCheck)='onSelect($event)' (selectedItems)="onSelect($event)"></ngx-enrol-table>
</div>

<!-- 
<div class="container marginTop72">

    <div>
        <ngx-datatable #myTable style="width: 100%;" class="material" [rows]="rows" [columnMode]="'force'" [headerHeight]="50" [rowHeight]="50" [footerHeight]="50" [limit]="10" (select)='onSelect($event)' [selected]="selected" [selectionType]="'checkbox'" [selectAllRowsOnPage]="false">

            <ngx-datatable-column [width]="30" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false" [headerCheckboxable]="false" [checkboxable]="true">
            </ngx-datatable-column>


            <ngx-datatable-column name="Sr.no" [width]=100>
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <div>
                        {{row.ecn}}
                    </div>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Consumer" [width]=100>
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <div>
                        {{row.name}}
                    </div>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="E-MAIL" [width]=100>
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <div>
                        {{row.email}}
                    </div>
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>
    </div>

</div> -->