.addEditCattoprow {
    // padding: 12px;
    border: none;
    background-color: #ffffff;
    height: auto;
    width: 100%;
    display: inline-flex;
}

.addEditCatsticky-top {
    position: sticky;
    top: 67px;
    z-index: 1090;
}

.marginRight {
    margin-right: 16px;
}

.content {
    background: #fff;
    padding: 20px 0;
}

.addEditCatHead {
    // padding: 15px 0px 15px 30px;
    margin: 15px auto;
}

.marginAuto {
    width: 100%;
    margin: auto;
}

.bgwhite {
    background-color: white;
}

.padding-top {
    padding-top: 15px;
}

.margin-top {
    margin-top: 15px;
}

.padding-all {
    padding: 10px;
}

.constantbtn {
    background: Blue;
    color: white;
    border: none;
    width: auto;
    min-width: 90px;
    max-height: 36px;
}

.constantbtn-reject {
    background: red;
    color: white;
    border: none;
    width: auto;
    min-width: 90px;
    max-height: 36px;
}

.shareAssetSrchDiv {
    margin-bottom: 15px;
}

.shareAssetSearchUsr {
    width: 100%;
    padding: 13px;
}

.searchInput::placeholder {
    color: #313233bf;
}

.searchInput {
    border: none;
    border-bottom: 1px solid #313233bf;
    background: transparent;
    box-shadow: none;
    border-radius: 0;
    outline: none;
    color: black;
}

.searchRemove {
    position: absolute;
    top: 14px;
    right: 15px;
}

.sharetoprow {
    // padding: 12px;
    border: none;
    background-color: #ffffff;
    height: auto;
    width: 100%;
    display: inline-flex;
}

.floteright {
    float: right;
    font-size: 13px;
    background-color: #fff;
}

.nopaddingRight {
    padding-right: 0;
}

.noPadding {
    padding: 0;
}

.marginLeft {
    margin-left: 10px;
}

.shareAssetsticky-top {
    position: sticky;
    top: 67px;
    z-index: 1090;
}

.dropdown-height {
    height: 34px;
}

.shareAssetHead {
    // padding: 15px 0px 15px 30px;
    margin: 15px auto;
}

.marginTop72 {
    margin-top: 72px;
}

.asBackButton {
    width: auto;
    border: none;
    padding: 6px 14px;
    background-color: #076ba1;
    color: #fff;
    text-transform: uppercase;
    min-width: 90px;
    max-height: 29px;
    margin-left: 5px;
}

.asSubmit {
    width: auto;
    border: none;
    padding: 6px 14px;
    background-color: #076ba1;
    color: #fff;
    text-transform: uppercase;
    min-width: 90px;
    max-height: 29px;
}