.teamSubdiv2 {
    float: left;
  }
  
  .add_edit_team{

    .content_width{
      width: 95%;
      margin: 0 auto;
    }
    .top_header_container{
      background: #fff;
      position: sticky;
      top: 4.75rem;
      z-index: 1020;
      .top_header_div_sticky{
          background: #fff;
          display: grid;
          grid-template-columns: auto auto; 
          height: 50px;
          align-items: center;
          .page_title{
              text-align: left;
              h4{
                  margin: 0;
              }
          }
          // .filter_div{
          //     // display: grid;
          //     // grid-template-columns: 1fr 1fr;
          //     // grid-column-gap: 10px;
          //     align-items: center;
          //     .drop_down{
          //         border: 1px solid $border_color;
          //         .drop_down_select{
          //             height: 30px;
          //             border: none;
          //             box-shadow: none;
          //         }
          //     }
  
          //     .search_div{
          //         display: grid;
          //         grid-template-columns: auto 20px;
          //         border: 1px solid $border_color;
          //         .search_field{
          //             height: 30px;
          //             border: none !important;
          //             box-shadow: none;
          //         }
          //         .remove_icon{
          //             line-height: 30px;
          //         }
          //     }
          }
          
          .buttons_div{
              text-align: right;
          }
      }
    .inputFields{
      width: 100%;
      padding: 0;
      margin: auto;
      margin-bottom: 10px;
    }
    
    .datePickerInput{
      width: 94%;
    }
    .datePickerInput:focus {
      border: 1px solid #dadfe6 !important;
      background-color: #ffffff;
    }
    .calenderIcon{
      font-size: 21px;
    }
    .labelName{
      font-weight: 100 !important;
      color: #797979;
    }
  }



  .floterightbtn {
    float: right;
    margin: auto 10px;
    text-align: right;
  }

  .heding1{
    line-height: 50px;
    margin: auto;
  }

  .floatingbtn{
    margin: auto;
    padding: 0;
    text-align: right;
  }

  
  .bottom15{
    margin-bottom: 15px;
  }

.mr20{
  margin-left: 20px;
}

  
  .calenderBtnDiv{
    padding: 24.5px 0px 0px 15px;
  }
  
  .formDiv{
    margin: 15px;
    background: #fff;
    width: auto;
    padding: 20px;
    margin-top: 65px;
  }

  .openDatepicker{
    // color: #ffffff;
    // text-transform: uppercase;
    // letter-spacing: 0.4px;
    // font-weight: 500;
    // font-family: Poppins;
    // border: 2px solid transparent;
    // -webkit-transition: none;
    // transition: none;
    // cursor: default;
    // padding: 0.75rem 1.5rem;
    // font-size: 1rem;
    // line-height: 1.25;
    // border-radius: 0.75rem;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 0.4px;
    font-weight: 500;
    font-family: Poppins;
    border: 2px solid transparent;
    -webkit-transition: none;
    transition: none;
    cursor: default;
    // padding: 0.5rem 1.5rem;
    padding: 0.16rem 0.5rem;
    background: #076ba1;
  }
  
  .openDatepicker:focus{
    outline:  none; 
  }
  





  .myForm{
    position: absolute;
    top: 136px;
    background: #fff;
    padding: 30px 20px;
    color: #656464;
    margin: auto 15px;
    border-radius: 5px;
    font-family: "poppins";
  }

