<!-- <div class="widgets">

  <div class="toprow col-md-12 bottom15">
    <div class="col-md-6 teamSubdiv2" >
      <h3 class="heding1">Add Team Member</h3>
    </div>

    <div class="col-md-6 floatingbtn ">
        <button class="constantbtn " (click)="onSubmit(member)">SUBMIT</button>       
        <button class="constantBackbtn mr20" (click)="gotoTeam()">BACK</button>       
    </div>
  </div> -->

  <!-- <div class="toprow col-md-12 bottom15 sticky-top">
    <div class="col-md-9 teamSubdiv2" >
        <h3 *ngIf="addAction" class="heding1">Add Team Member</h3>
        <h3 *ngIf="!addAction" class="heding1">Edit Team Member</h3>
    </div>
    <div class="col-md-3 floatingbtn">    
        <button class="constantbtn  " (click)="onSubmit(member)"> Save</button>         
        <button class="constantBackbtn mr20" (click)="gotoTeam()">Back</button> 
    </div>
</div> -->
<div class="add_edit_team">
        <div class="top_header_container">
                <div class="top_header_div_sticky content_width">
                  <div class="page_title">
                        <h4 *ngIf="addAction" class="heding1">Add Team Member</h4>
                        <h4 *ngIf="!addAction" class="heding1">Edit Team Member</h4>
                  </div>
          
                  <div class="buttons_div">
                      <button class="constantbtn-button-blue-left " (click)="onSubmit(member)">Save</button>       
                      <button class="back_button" (click)="gotoTeam()">Back</button>
                  </div>
                </div>
        </div>
        <div class="formDiv">
                <form  [formGroup]="registerForm">
                    <div class="row inputFields">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="labelName" >NAME</label>
                                <input type="text" formControlName="name" class="form-control inputField" [(ngModel)]="member.name" name="name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }"/>
                                <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                    <div *ngIf="f.name.errors.required">Name is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="labelName">DATE OF BIRTH</label>
                                <div style="display: -webkit-box;">
                                  <!-- <input placeholder="Select a date" ngx-mydatepicker  dateFormat="dd.mm.yyyy"
                                  [options]="myOptions" #dob="ngx-mydatepicker" class="form-control inputField dobInput" disabled/> -->
                                  
                                  <input type="text" formControlName="dob" class="form-control datePickerInput"  placeholder="Select a date"  [ngClass]="{ 'is-invalid': submitted && f.dob.errors }" 
                                    #db="bsDatepicker" bsDatepicker  [bsConfig]="{ containerClass: 'theme-dark-blue' }" placement="bottom center" [(ngModel)]="member.dob" name="dob"  dateFormat="dd.mm.yyyy">
                                  <span> 
                                      <button class="openDatepicker"  (click)="db.toggle()">
                                         <i class="ion-calendar calenderIcon" ></i>
                                      </button> 
                                  </span>
                                </div>
                                <div *ngIf="submitted && f.dob.errors" class="invalid-feedback">
                                    <div *ngIf="f.dob.errors.required">Date of birth is required</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row inputFields">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="labelName">DESIGNATION</label>
                                <input type="text" class="form-control inputField"  formControlName="designation" [(ngModel)]="member.designation" name="designation" [ngClass]="{ 'is-invalid': submitted && f.designation.errors }"/>                                
                                <div *ngIf="submitted && f.designation.errors" class="invalid-feedback">
                                    <div *ngIf="f.designation.errors.required">Designation is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="labelName">QUALIFICATION</label>
                                <input type="text" formControlName="qualification" class="form-control inputField" [(ngModel)]="member.qualification" name="qualification" [ngClass]="{ 'is-invalid': submitted && f.qualification.errors }"/>                                  
                                <div *ngIf="submitted && f.qualification.errors" class="invalid-feedback">
                                    <div *ngIf="f.qualification.errors.required">Qualifiaction is required</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row inputFields">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="labelName">DATE OF JOINING</label>
                                <div style="display: -webkit-box;">
                                   
                                  <input type="text" class="form-control datePickerInput" formControlName="doj"  placeholder="Select a date"  dateFormat="dd.mm.yyyy"
                                  #dj="bsDatepicker" bsDatepicker  [bsConfig]="{ containerClass: 'theme-dark-blue' }" placement="bottom center" [(ngModel)]="member.doj" name="doj" [ngClass]="{ 'is-invalid': submitted && f.doj.errors }">
                                  <span>
                                    <button class="openDatepicker"  (click)="dj.toggle()">
                                      <i class="ion-calendar calenderIcon" ></i>
                                    </button> 
                                  </span> 
                                </div>
                                <div *ngIf="submitted && f.doj.errors" class="invalid-feedback">
                                    <div *ngIf="f.doj.errors.required">Date of joining is required</div>
                                </div>
                            </div>
                        </div>
                      
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="labelName">MOBILE</label>
                                <input type="number"  formControlName="mobile" class="form-control inputField" [ngClass]="{ 'is-invalid': submitted && f.mobile.errors }" [(ngModel)]="member.mobile" name="mobile"/>                                  
                                <div *ngIf="submitted && f.mobile.errors" class="invalid-feedback">
                                    <div *ngIf="f.mobile.errors.required">Mobile number is required</div>
                                    <div *ngIf="f.mobile.errors.minLength">Mobile number should be 10 digits.</div>
                                    <div *ngIf="f.mobile.errors.maxLength">Mobile number should be 10 digits.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row inputFields">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="labelName">E-MAIL</label>
                                <input type="text" formControlName="email" class="form-control inputField" [(ngModel)]="member.email" name="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"/>
                                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                    <div *ngIf="f.email.errors.required">E-mail is required</div>
                                </div>
                                
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="labelName">COST</label>
                                <input type="text" formControlName="cost" class="form-control inputField" [(ngModel)]="member.cost" name="cost"  [ngClass]="{ 'is-invalid': submitted && f.cost.errors }"/>
                                <div *ngIf="submitted && f.cost.errors" class="invalid-feedback">
                                    <div *ngIf="f.cost.errors.required">Cost is required</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row inputFields">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="labelName">EMPLOYEE ROLE</label>
                                  <select class="form-control" formControlName="emprole"  [(ngModel)]="member.emprole" name="emprole"  [ngClass]="{ 'is-invalid': submitted && f.emprole.errors }">
                                    <option [value]="role" *ngFor="let role of roles">{{role}}</option>
                                  </select>
                                  <div *ngIf="submitted && f.emprole.errors" class="invalid-feedback">
                                    <div *ngIf="f.emprole.errors.required">Role is required</div>
                                  </div>
                            </div>
                        </div>
                        
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="labelName">EMPLOYEE STATUS</label>
                                <select class="form-control" formControlName="status" [(ngModel)]="member.status" name="status" [ngClass]="{ 'is-invalid': submitted && f.status.errors }" >
                                  <option [value]="stat" *ngFor="let stat of statuss">{{stat}}</option>
                                </select>
                                <div *ngIf="submitted && f.status.errors" class="invalid-feedback">
                                    <div *ngIf="f.status.errors.required">Status is required</div>
                                </div>
                            </div>
                        </div>
                    </div>  
                </form>
            </div>
            
</div>


