<div>
    <button class=" fp-btn-choose cancelButton" id="filepicker-button" value="Cancel" name="userfilechoose"
      (click)="cancelFile()">x</button>
    <div class="form-group inputFileCourse">
      <label class="sr-only" for="inputFile">File
        Upload</label>
      <input type="file" title="{{selectFileTitle}}" #fileUpload
        class="form-control-file text-success font-weight-bold" id="inputFile" name="inputFile"
        accept="application/zip,application/rar,application/7z" [(ngModel)]="addEditAssetForm.file"
        (change)="readFileUrl($event)" attr.data-title="{{fileName}}" required>
    </div>
  </div>
  <span></span>


<button (click)="submit()">SUBMIT</button>
