<!-- <div class="blended_courses_div"> -->
<!-- <div class="top_header_container">
      <div class="top_header_div_sticky content_width_header">
          <div class="page_title"> -->
<!-- ABCpqr -->
<!-- <h4>BATCHES</h4>
          </div> -->
<!-- <div>
              <div class="filter_div">
                  <div class="drop_down">
                      <select [(ngModel)]="cat.id" class="drop_down_select" name="id"
                          (click)="doropserch()">
                          <option value="">All Categories</option>
                          <option *ngFor="let item of parentcat" value={{item.categoryId}}>{{item.categoryName}}
                          </option>
                      </select>
                  </div>
                  <div class="search_div">
                      <input type="text" [(ngModel)]="search.fullname" class="search_field"
                          placeholder="Search by keywords" name="fname">
                      <i class="fa fa-remove remove_icon" aria-hidden="true" (click)="clear()"></i>

                  </div>
              </div>
          </div> -->
<!-- <div class="buttons_div">
              <button type="button" class="constantbtn-button-blue-left " (click)="addeditcontent(undefined,0)">Add
                  Batch</button>
              <button type="submit" class="back_button " (click)="back()">Back</button>
          </div>
      </div>
  </div> -->


<app-subheader [headerConfig]="header" (addbtn)="addeditcontent(undefined,0)" (backClick)="back()" (inputsearch)="searchQuestion($event)" (filterClick)="gotoFilter()" (Clear)="searchQuestion($event)"></app-subheader>
<ngx-filter [courseTag]="filters" [filterInnertag]="filtersInner" [filterConfig]="filtercon" (dropdownClick)="getSortData($event)" (changeFilterData)="filteredChanged1($event)" *ngIf="filter"></ngx-filter>

<div class="grid_container_blended_course">
    <div class="bgwhite sticky-top disnone" [style.height.px]="myInnerHeight">
        <div *ngIf="skeleton">
            <div class="listheadings">

                <input type="text" class="textBoxLength" (keyup)="searchQuestion($event)" placeholder="Search by name" name="fname" />
            </div>
            <div class="listheadings" data-toggle="collapse" data-target="#PC">
                <p class="listLabel">Program</p>
                <p class="filterLength" *ngIf="SelectedCategoryLength.programId">{{ SelectedCategoryLength.programId }}</p>
            </div>
            <div id="PC" class="collapse">
                <div class="listheadings">
                    <input type="text" class="textBoxLength" [(ngModel)]="searchprogram.name" placeholder="Search by Program" />
                </div>
                <div class="scroll-Div">
                    <div class="custom-control custom-checkbox small" *ngFor="let program of programs | filterBy: searchprogram; let i = index;">
                        <label class="checkContainer1" for="program{{ i }}">{{ program.name }}
                      <input
                        type="checkbox"
                        id="program{{ i }}"
                        class=""
                        (click)="
                          onUpdateSubjectName($event);
                          subjectName(program, 'programId')
                        "
                      />
                      <span class="checkmarkDiv"></span>
                    </label>
                    </div>
                </div>

            </div>

            <div class="listheadings" data-toggle="collapse" data-target="#LC">
                <p class="listLabel">Categories</p>
                <p class="filterLength" *ngIf="SelectedCategoryLength.categoryId">{{ SelectedCategoryLength.categoryId }}</p>
            </div>
            <div id="LC" class="collapse">
                <div class="listheadings">
                    <input type="text" class="textBoxLength" [(ngModel)]="searchcategory.categoryName" placeholder="Search by category name" />
                </div>
                <div class="scroll-Div">
                    <div class="custom-control custom-checkbox small" *ngFor="let item of parentcat | filterBy: searchcategory; let i = index;">
                        <label class="checkContainer1" for="item{{ i }}">{{ item.categoryName }}
                        <input
                          type="checkbox"
                          id="item{{ i }}"
                          class=""
                          (click)="
                            onUpdateSubjectName($event);
                            subjectName(item, 'categoryId')
                          "
                        />
                        <span class="checkmarkDiv"></span>
                      </label>
                    </div>
                </div>

            </div>

            <div class="listheadings" data-toggle="collapse" data-target="#CC">
                <p class="listLabel">Level</p>
                <p class="filterLength" *ngIf="SelectedCategoryLength.courseLevelId">{{ SelectedCategoryLength.courseLevelId }}</p>
            </div>
            <div id="CC" class="collapse">
                <div class="listheadings">
                    <input type="text" class="textBoxLength" [(ngModel)]="searchcourselevel.name" placeholder="Search by level" />
                </div>
                <div class="scroll-Div">
                    <div class="custom-control custom-checkbox small" *ngFor="let level of courseLevel | filterBy : searchcourselevel; let i = index">
                        <label class="checkContainer1" for="level{{ i }}">{{ level.name }}
                        <input
                          type="checkbox"
                          id="level{{ i }}"
                          class=""
                          (click)="
                            onUpdateSubjectName($event); subjectName(level, 'courseLevelId')
                          "
                        />
                        <span class="checkmarkDiv"></span>
                      </label>
                    </div>
                </div>

            </div>
            <div class="listheadings" data-toggle="collapse" data-target="#AC">
                <p class="listLabel">Location</p>
                <p class="filterLength" *ngIf="SelectedCategoryLength.locationId">{{ SelectedCategoryLength.locationId }}</p>
            </div>
            <div id="AC" class="collapse">
                <div class="listheadings">
                    <input type="text" class="textBoxLength" [(ngModel)]="searchlocation.name" placeholder="Search by location" />
                </div>
                <div class="scroll-Div">
                    <div class="custom-control custom-checkbox small" *ngFor="let local of locationData | filterBy : searchlocation; let i = index">
                        <label class="checkContainer1" for="local{{ i }}">{{ local.name }}
                              <input
                                type="checkbox"
                                id="local{{ i }}"
                                class=""
                                (click)="
                                  onUpdateSubjectName($event); subjectName(local, 'locationId')
                                "
                              />
                              <span class="checkmarkDiv"></span>
                            </label>
                    </div>
                </div>

            </div>
            <div class="listheadings" data-toggle="collapse" data-target="#SC">
                <p class="listLabel">Batch creator</p>
                <p class="filterLength" *ngIf="SelectedCategoryLength.creatorId">{{ SelectedCategoryLength.creatorId }}</p>
            </div>
            <div id="SC" class="collapse">
                <div class="listheadings">
                    <input type="text" class="textBoxLength" [(ngModel)]="searchmanager.fullname" placeholder="Search by Batch creator" />
                </div>
                <div class="scroll-Div">
                    <div class="custom-control custom-checkbox small" *ngFor="let creator  of creatorList | filterBy : searchmanager; let i = index">
                        <label class="checkContainer1" for="creator{{ i }}">{{ creator.fullname }}
                        <input
                          type="checkbox"
                          id="creator{{ i }}"
                          class=""
                          (click)="
                            onUpdateSubjectName($event); subjectName(creator, 'creatorId')
                          "
                        />
                        <span class="checkmarkDiv"></span>
                      </label>
                    </div>
                </div>
            </div>
            <div class="listheadings" data-toggle="collapse" data-target="#VC">
                <p class="listLabel">Venue</p>
                <p class="filterLength" *ngIf="SelectedCategoryLength.venueId ">{{ SelectedCategoryLength.venueId }}</p>
            </div>
            <div id="VC" class="collapse">
                <div class="listheadings">
                    <input type="text" class="textBoxLength" [(ngModel)]="searchvenue.name" placeholder="Search by venue" />
                </div>
                <div class="scroll-Div">
                    <div class="custom-control custom-checkbox small" *ngFor="let venue  of venueData | filterBy : searchvenue; let i = index">
                        <label class="checkContainer1" for="venue{{ i }}">{{ venue.name }}
                              <input
                                type="checkbox"
                                id="venue{{ i }}"
                                class=""
                                (click)="
                                  onUpdateSubjectName($event); subjectName(venue, 'venueId')
                                "
                              />
                              <span class="checkmarkDiv"></span>
                            </label>
                    </div>
                </div>
            </div>
            <!-- <div class="listheadings" data-toggle="collapse" data-target="#tags">
                    <p class="listLabel">Tag</p>
                    <p class="filterLength" *ngIf="SelectedCategoryLength.tags">{{ SelectedCategoryLength.tags }}</p>
                  </div>
                  <div id="tags" class="collapse">
                    <div class="listheadings">
                      <input
                        type="text"
                        class="textBoxLength"
                        [(ngModel)]="searchTags.tags"
                        placeholder="Search by tag name"
                      />
                    </div>

                    <div class="scroll-Div">
                      <div
                      class="custom-control custom-checkbox small"
                      *ngFor="let tag of Tags | filterBy: searchTags; let i = index"
                    >
                      <label class="checkContainer1" for="tags{{ i }}"
                        >{{ tag.tags }}
                        <input
                          type="checkbox"
                          id="tags{{ i }}"
                          class=""
                          (click)="onUpdateSubjectName($event); subjectName(tag, 'tags')"
                        [checked]='tag.status'/>
                        <span class="checkmarkDiv"></span>
                      </label>
                    </div>
                    </div>
                  </div> -->
            <div class="listheadings" data-toggle="collapse" data-target="#sort">
                <p class="listLabel">Sort</p>
            </div>
            <div id="sort" class="collapse">
                <!-- <div class="form-group">
                          <label class="lable_class">Batch Name</label>
                          <select class="form-control drop_down" (click)="sorting($event,'fullname', type)"
                          [(ngModel)]="sortingmenu.type" name="type" #type="ngModel">
                                  <option value="" selected disabled>Select</option>
                                  <option *ngFor="let type of sortingmenu" value={{type.value}}>{{type.name}}</option>
                          </select>
                      </div>
                      <div class="form-group">
                          <label class="lable_class">Time Modified/Time Creation</label>
                              <select class="form-control drop_down" (click)="sorting($event,'timemodified', type)"
                              [(ngModel)]="sortingmenu.type1" name="type" #type="ngModel">
                                  <option value="" selected disabled>Select</option>
                                  <option *ngFor="let type of sortingmenu" value={{type.value}}>{{type.name}}</option>
                              </select>
                      </div> -->
                <div class="form-group" *ngFor="let sort of sortdata; let i = index">
                    <label class="lable_class">{{sort.title}}</label>
                    <select class="form-control drop_down" (change)="sorting($event, i , type, sort)" [(ngModel)]="sort.type" name="type_{{i}}" #type_{{i}}="ngModel" id="type_{{i}}">
                                      <option value="" selected disabled>Select</option>
                                      <option *ngFor="let type of sortingmenu" value={{type.value}}>{{type.name}}</option>
                              </select>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div *ngIf="!skeleton">
                <div class="blendCourse-title">
                    <ngx-skeleton-loader [theme]="{
                                                width: '150px',
                                                height: '30px',
                                                'margin-top':'10px',
                                                'margin-bottom':'10px',
                                                'margin-left':'25px'
                                              }"></ngx-skeleton-loader>
                </div>
                <div class="blendCourse-title">
                    <ngx-skeleton-loader [theme]="{
                                                width: '150px',
                                                height: '30px',
                                                'margin-bottom':'10px',
                                                'margin-left':'25px'
                                              }"></ngx-skeleton-loader>
                </div>
                <div class="blendCourse-title">
                    <ngx-skeleton-loader [theme]="{
                                                  width: '150px',
                                                  height: '30px',
                                                  'margin-bottom':'10px',
                                                  'margin-left':'25px'
                                                }"></ngx-skeleton-loader>
                </div>
                <div class="blendCourse-title">
                    <ngx-skeleton-loader [theme]="{
                                                  width: '150px',
                                                  height: '30px',
                                                  'margin-bottom':'10px',
                                                  'margin-left':'25px'
                                                }"></ngx-skeleton-loader>
                </div>
                <div class="blendCourse-title">
                    <ngx-skeleton-loader [theme]="{
                                                    width: '150px',
                                                    height: '30px',
                                                    'margin-bottom':'10px',
                                                    'margin-left':'25px'
                                                  }"></ngx-skeleton-loader>
                </div>
            </div>
        </div>
        <div *ngIf="!skeleton">
            <table>
                <tr>
                    <div class="multiple_blendCourse_card_container">
                        <div class="blendCourse_width1">
                            <div class="blendCourse_container">
                                <td>
                                    <div class="blendCourse_card1">
                                        <div class="blendCourse">
                                            <ngx-skeleton-loader [theme]="{ width: '190px', height: '90px','margin': '5px' }">
                                            </ngx-skeleton-loader>
                                        </div>
                                        <div class="">
                                            <ngx-skeleton-loader [theme]="{
                                                                  width: '160px',
                                                                  height: '35px'
                                                                }"></ngx-skeleton-loader>
                                        </div>
                                        <div class="">
                                            <ngx-skeleton-loader [theme]="{
                                                                  width: '160px',
                                                                  height: '35px'
                                                                }"></ngx-skeleton-loader>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="blendCourse_card1">
                                        <div class="blendCourse">
                                            <ngx-skeleton-loader [theme]="{ width: '190px', height: '90px','margin': '5px' }">
                                            </ngx-skeleton-loader>
                                        </div>
                                        <div class="">
                                            <ngx-skeleton-loader [theme]="{
                                                                  width: '160px',
                                                                  height: '35px'
                                                                }"></ngx-skeleton-loader>
                                        </div>
                                        <div class="">
                                            <ngx-skeleton-loader [theme]="{
                                                                  width: '160px',
                                                                  height: '35px'
                                                                }"></ngx-skeleton-loader>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="blendCourse_card1">
                                        <div class="blendCourse">
                                            <ngx-skeleton-loader [theme]="{ width: '190px', height: '90px','margin': '5px'}">
                                            </ngx-skeleton-loader>
                                        </div>
                                        <div class="">
                                            <ngx-skeleton-loader [theme]="{
                                                                  width: '160px',
                                                                  height: '35px'
                                                                }"></ngx-skeleton-loader>
                                        </div>
                                        <div class="">
                                            <ngx-skeleton-loader [theme]="{
                                                                  width: '160px',
                                                                  height: '35px'
                                                                }"></ngx-skeleton-loader>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="blendCourse_card1">
                                        <div class="blendCourse">
                                            <ngx-skeleton-loader [theme]="{ width: '190px', height: '90px','margin': '5px'}">
                                            </ngx-skeleton-loader>
                                        </div>
                                        <div class="">
                                            <ngx-skeleton-loader [theme]="{
                                                                  width: '160px',
                                                                  height: '35px'
                                                                }"></ngx-skeleton-loader>
                                        </div>
                                        <div class="">
                                            <ngx-skeleton-loader [theme]="{
                                                                  width: '160px',
                                                                  height: '35px'
                                                                }"></ngx-skeleton-loader>
                                        </div>
                                    </div>
                                </td>
                            </div>
                        </div>
                    </div>
                </tr>
                <tr>
                    <div class="multiple_blendCourse_card_container">
                        <div class="blendCourse_width1">
                            <div class="blendCourse_container">
                                <td>
                                    <div class="blendCourse_card1">
                                        <div class="blendCourse">
                                            <ngx-skeleton-loader [theme]="{ width: '190px', height: '90px','margin': '5px'}">
                                            </ngx-skeleton-loader>
                                        </div>
                                        <div class="">
                                            <ngx-skeleton-loader [theme]="{
                                                                      width: '160px',
                                                                      height: '35px'
                                                                    }"></ngx-skeleton-loader>
                                        </div>
                                        <div class="">
                                            <ngx-skeleton-loader [theme]="{
                                                                      width: '160px',
                                                                      height: '35px'
                                                                    }"></ngx-skeleton-loader>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="blendCourse_card1">
                                        <div class="blendCourse">
                                            <ngx-skeleton-loader [theme]="{ width: '190px', height: '90px','margin': '5px'}">
                                            </ngx-skeleton-loader>
                                        </div>
                                        <div class="">
                                            <ngx-skeleton-loader [theme]="{
                                                                      width: '160px',
                                                                      height: '35px'
                                                                    }"></ngx-skeleton-loader>
                                        </div>
                                        <div class="">
                                            <ngx-skeleton-loader [theme]="{
                                                                      width: '160px',
                                                                      height: '35px'
                                                                    }"></ngx-skeleton-loader>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="blendCourse_card1">
                                        <div class="blendCourse">
                                            <ngx-skeleton-loader [theme]="{ width: '190px', height: '90px','margin': '5px'}">
                                            </ngx-skeleton-loader>
                                        </div>
                                        <div class="">
                                            <ngx-skeleton-loader [theme]="{
                                                                      width: '160px',
                                                                      height: '35px'
                                                                    }"></ngx-skeleton-loader>
                                        </div>
                                        <div class="">
                                            <ngx-skeleton-loader [theme]="{
                                                                      width: '160px',
                                                                      height: '35px'
                                                                    }"></ngx-skeleton-loader>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="blendCourse_card1">
                                        <div class="blendCourse">
                                            <ngx-skeleton-loader [theme]="{ width: '190px', height: '90px','margin': '5px'}">
                                            </ngx-skeleton-loader>
                                        </div>
                                        <div class="">
                                            <ngx-skeleton-loader [theme]="{
                                                                      width: '160px',
                                                                      height: '35px'
                                                                    }"></ngx-skeleton-loader>
                                        </div>
                                        <div class="">
                                            <ngx-skeleton-loader [theme]="{
                                                                      width: '160px',
                                                                      height: '35px'
                                                                    }"></ngx-skeleton-loader>
                                        </div>
                                    </div>
                                </td>
                            </div>
                        </div>
                    </div>
                </tr>
            </table>
            <!-- <div class="multiple_category_card_container" *ngIf="displayArray?.length !=0">
              <div class="" *ngIf="skeleton">
                  <div class="cards_container" *ngIf="displayArray?.length !=0">

                      <div class="singel_card" *ngFor="let item of displayArray | filterBy: search; let i=index">
                          <div class="overlay_hidden" [hidden]="item.visible == 1">
                              <i title="Disabled" id="enable_{{item.courseId}}" class="fa fa-eye-slash" aria-hidden="true" (click)="disableCourseVisibility(i,item,false)"></i>
                          </div>
                          <div class="singel_card_image pointer" *ngIf="item.coursePicRef" [ngStyle]="{'background-image': 'url(' + item.coursePicRef + ')'}" (click)="addeditcontent(item,1)">
                          </div>
                          <div class="singel_card_image not_found pointer" *ngIf="!item.coursePicRef" (click)="addeditcontent(item,1)">
                          </div>
                          <div class="card_title pointer" (click)="addeditcontent(item,1)">
                              <div *ngIf="item?.fullname">
                                  <div class="" title="{{item.fullname}}" *ngIf="item?.fullname?.length <= 15">{{item.fullname}}
                                  </div>
                                  <div class="" title="{{item.fullname}}" *ngIf="item?.fullname?.length > 15">
                                      {{item.fullname.substring(0,15)}}...</div>
                              </div>
                              <div *ngIf="!(item?.fullname)"></div>
                          </div>

                          <div class="icon-div pointer">
                              <div class="icon-div">
                                  <p class="icon"> <i class="fa fa-users" aria-hidden="true" title="Completed/Enrolled"></i>
                                  </p>
                                  <p class="para_margin_0" *ngIf="item.enrollcount" title="Completed/Enrolled"><b>
                                  0/{{item.enrollcount}}</b></p>
                                  <p class="para_margin_0" *ngIf="!item.enrollcount" title="Completed/Enrolled"><b> 0/0 </b>
                                  </p>
                              </div>
                              <div class="icon-div">
                                  <p class="icon"><i class="fa fa-calendar" aria-hidden="true" title="Completion Days"></i>
                                  </p>
                                  <p class="para_margin_0" title="Completion Days"><b>{{item.courseCompletion}}</b></p>
                              </div>
                          </div>

                          <div class="card_subtitle" title="{{item.cereaterName}}" *ngIf="item?.cereaterName?.length <= 10">Manager : {{item.cereaterName}}</div>
                          <div class="card_subtitle" title="{{item.cereaterName}}" *ngIf="item?.cereaterName?.length > 10">Manager : {{item.cereaterName.substring(0,15)}}...</div>
                          <div class="card_subtitle" title="{{item.catName}}" *ngIf="item?.catName?.length <= 10">Category : {{item.catName}}</div>
                          <div class="card_subtitle" title="{{item.catName}}" *ngIf="item?.catName?.length > 10">Category : {{item.catName.substring(0,15)}}...</div>
                          <div class="card_subtitle" title="{{item.maxPoints}}">Maximum Points : {{item.maxPoints}}</div>

                          <div class="user-icon">
                              <div class="icons-enable-disable" title="Edit" (click)="addeditcontent(item,1)">
                                  <i aria-hidden="true" class="fa fa-edit"></i>
                              </div>
                              <div class="icons-enable-disable">
                                  <i title="Enabled" id="disable_{{item.courseId}}" class="fa fa-eye" aria-hidden="true" (click)="disableCourseVisibility(i,item,true)" [hidden]="item.visible == 0"></i>
                                  <i title="Disabled" id="enable_{{item.courseId}}" class="fa fa-eye-slash" aria-hidden="true" (click)="disableCourseVisibility(i,item,false)" [hidden]="item.visible == 1"></i>
                              </div>
                              <div class="icons-enable-disable" title="Duplicate" (click)="duplicateCourseContent(item)">
                                  <i class="fa fa-clone" aria-hidden="true"></i>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div> -->

<!-- [ngStyle]="{ height: conentHeight }" style="overflow-y: auto" -->
<!-- </div> -->
<app-skeleton [count]='count' *ngIf="!skeleton"></app-skeleton>

<div *ngIf="!nodata && displayArray?.length!=0">
    <div (scroll)="onScroll(scrollMe)" #scrollMe class="overflow_scroll_cards_container">
        <div *ngFor="let item of displayArray ;let i=index">
            <ngx-card (disabled)="clickTodisable(item ,i)" [cardsList]="item" [config]="cardModify" (copyClick)="copyCard(item)" (gotoDetails)="gotoCardaddedit(item)"></ngx-card>
        </div>
    </div>
</div>
<ngx-no-data *ngIf="nodata" [config]="noDataVal"></ngx-no-data>

<!-- </div>
    </div> -->
<!-- <div > -->
<!-- <img class="noDataImg" src='assets/images/noDataFound1.png' onerror="this.src='assets/images/noDataFound1.png';"> -->
<!-- <img src='assets/images/noDataFound2.png' onerror="this.src='assets/images/noDataFound2.png';"> -->
<!-- <p class="nodata"> No Data Found</p> -->
<!-- </div> -->
<!-- <div class="col-md-12 toprow sticky-top1">
  <div class="col-md-2">
      <h4>BATCHES</h4>
  </div>
  <div class="col-md-3 conSearchdiv">
      <select [(ngModel)]="cat.id" class="form-control select contselect" name="id" (click)="doropserch()">
    <option value = "">All Categories</option>
    <option *ngFor="let item of parentcat" value={{item.categoryId}} >{{item.categoryName}}</option>
  </select>
  </div>
  <div class="col-md-3 conSearchdiv">
      <input type="text" [(ngModel)]="search.fullname" class="form-control conSearchInput" placeholder="Search by keyword" name="fname">
      <i class="fa fa-remove conRemove" aria-hidden="true" (click)="clear()"></i>
  </div>
  <div class="col-md-4 text-right pad14px" >
      <button type="button" class="constantbtn-button-blue-left" (click)="addeditcontent(undefined,0)" >Add Batch</button>
      <button type="submit" class="constantbtn-button-blue-right" style="margin-right: 20px" (click)="back()" >Back</button>

  </div>
</div> -->

<!-- <div class="widgets" *ngIf="content.length">
  <div ba-panel ba-panel-class="with-scroll">
      <section id="feature" class="section01" style="float:none;">
          <div class="row col-md-12 contGrid">
              <div *ngFor="let item of content | filterBy: search; let i=index" class="card contentCard col-md-3 blended-course-card">
                  <div class="blended-course-disabled" [hidden]="item.visible == 1">
                      <i title="Disabled" id="enable_{{item.courseId}}" class="fa fa-eye-slash disabled-icon" aria-hidden="true" (click)="disableCourseVisibility(i,item,false)" ></i>
                  </div>
                  <div (click)="addeditcontent(item,1)">
                      <a *ngIf="item.coursePicRef" style="">
                          <img src={{item.coursePicRef}} onerror="this.src='assets/images/noImage.jpg';">
                      </a>
                      <a *ngIf="!item.coursePicRef" style="">
                          <img src='assets/images/courseicon.jpg' onerror="this.src='assets/images/noImage.jpg';">
                      </a>
                  </div>
                  <div (click)="addeditcontent(item,1)">
                      <div class="contsep">
                          <p class="toolcontp tooltipcourse" *ngIf = "item.fullname.length <= 10" title="{{item.fullname}}">{{item.fullname}}</p>
                          <p class="toolcontp tooltipcourse" *ngIf = "item.fullname.length > 10" title="{{item.fullname}}">{{item.fullname.substring(0,10)}}...</p>
                      </div>
                      <div class="col-sm-12 contdespDiv" style="">
                          <div class="col-sm-6 usericon" style="border-right: 1px solid #f1f5f8" >
                              <p class="contenticon"> <i class="fa fa-user" aria-hidden="true" title="Completed/Enrolled"></i></p>
                              <p class="contdesp" *ngIf="item.enrollcount" title="Completed/Enrolled"><b> 0/{{item.enrollcount}}</b></p>
                              <p class="contdesp" *ngIf="!item.enrollcount" title="Completed/Enrolled"><b> 0/0 </b></p>
                          </div>
                          <div class="col-sm-6 usericon">
                              <p class="contenticon"><i class="fa fa-calendar" aria-hidden="true" title="Completion Days"></i></p>
                              <p class="contdesp" title="Completion Days"><b>{{item.courseCompletion}}</b></p>
                          </div>
                      </div>
                      <div class="col-md-12 manager">Manager : {{item.cereaterName}}</div>
                      <div class="col-md-12 manager">Cateory : {{item.catName}}</div>
                      <div class="col-md-12 manager">Maximum Points : {{item.maxPoints}}</div>
                  </div>

                  <div class="col-sm-12 card-footer-main">
                      <div class="col-sm-4 card-footer-sub">
                          <div class="edit" title="Edit" (click)="addeditcontent(item,1)">
                              <i class="fa fa-edit card-footer-icon pointer" aria-hidden="true"></i>
                          </div>
                      </div>
                      <div class="col-sm-4 card-footer-sub">
                          <div class="edit">
                              <i title="Enabled" id="disable_{{item.courseId}}" class="fa fa-eye card-footer-icon pointer" aria-hidden="true" (click)="disableCourseVisibility(i,item,true)" [hidden]="item.visible == 0"></i>
                              <i title="Disabled" id="enable_{{item.courseId}}" class="fa fa-eye-slash card-footer-icon pointer" aria-hidden="true" (click)="disableCourseVisibility(i,item,false)" [hidden]="item.visible == 1"></i>
                          </div>
                      </div>
                      <div class="col-sm-4 card-footer-sub">
                          <div class="" title="Duplicate">
                              <i class="fa fa-clone card-footer-icon pointer" aria-hidden="true"></i>
                          </div>
                      </div>
                  </div>

              </div>
          </div>
      </section>
  </div>

</div> -->

<!-- <div *ngIf="nodata">
  <img class="noDataImg" src='assets/images/noDataFound1.png' onerror="this.src='assets/images/noDataFound1.png';">
  <img src='assets/images/noDataFound2.png' onerror="this.src='assets/images/noDataFound2.png';">
  <p class="nodata"> No Data Found</p>
  <ngx-no-data></ngx-no-data>
</div> -->

<div class="deleteModalBackdrop" *ngIf="deleteCourseModal == true">
    <div class="deleteModal">
        <div class="modal-header deleteModalHeader">
            <p class="deleteModalHeaderP">Delete course</p>
            <button class="close closeDeleteModalBtn" aria-label="Close" (click)="closeDeleteContentModal()">
              <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
            <div class="">
                <p class="deleteModalBodyP">Are you sure you want to delete {{deleteCourseData.fullname}} ?</p>
            </div>
        </div>

        <div class="modal-footer deleteModalFooter">
            <div class="">
                <button type="button" class="constantbtn-button-blue-left" (click)="deleteContentAction(true)">Yes</button>
            </div>
            <div class="">
                <button type="button" class="constantbtn-button-blue-left" (click)="deleteContentAction(false)">No</button>
            </div>
        </div>
    </div>
</div>

<div class="deleteModalBackdrop" *ngIf="enableDisableCourseModal == true">
    <div class="deleteModal">
        <div class="modal-header deleteModalHeader">
            <p *ngIf="!enableCourse" class="enableDisableModalHeaderP">Enable course</p>
            <p *ngIf="enableCourse" class="enableDisableModalHeaderP">Disable course</p>
            <button class="close closeDeleteModalBtn" aria-label="Close" (click)="closeEnableDisableCourseModal()">
              <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
            <div class="" *ngIf="!enableCourse">
                <p class="enableDisableModalBodyP">Are you sure you want to Enable {{enableDisableCourseData.fullname}} ?
                </p>
            </div>
            <div class="" *ngIf="enableCourse">
                <p class="enableDisableModalBodyP">Are you sure you want to Disable {{enableDisableCourseData.fullname}} ?
                </p>
            </div>
        </div>

        <div class="modal-footer deleteModalFooter">
            <div class="">
                <button type="button" class="constantbtn-button-blue-left" (click)="enableDisableCourseAction(true)">Yes</button>
            </div>
            <div class="">
                <button type="button" class="constantbtn-button-blue-right" (click)="enableDisableCourseAction(false)">No</button>
            </div>
        </div>
    </div>
</div>

<div class="duplicateModalBackdrop" *ngIf="duplicateCourseModal == true">
    <div class="duplicateModal">
        <div class="modal-header duplicateModalHeader">
            <p class="duplicateModalHeaderP">Duplicate course {{duplicateCourseData.fullname}}</p>
            <button class="close closeDuplicateModalBtn" aria-label="Close" (click)="closeDuplicateCourseModal()">
              <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body" style="max-height: 375px;overflow-y: auto;">
            <div class="card cardForm">
                <div class="card-body cardBody">
                    <form class="forms-sample formPad10" #courseDupliForm="ngForm">
                        <div class="courseBasicDetailsContainer">
                            <div class="form-group">
                                <label class="left_space" for="fullname">Full Name</label>
                                <input type="text" class="form-control form-control-input select_field_height inputText" [(ngModel)]="formDataCourse.fullname" required id="fullname" maxlength="50" placeholder="Full Name" name="fullname" #fullname="ngModel">
                                <div class="errorMsg" [hidden]="fullname.valid || fullname.pristine" class="required_msg_text">
                                    <small class="form-text text-muted" [hidden]="!fullname.hasError('required')">Full Name is required</small>
                                </div>
                                <span></span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal-footer duplicateModalFooter">
            <div class="">
                <button type="button" class="constantbtn-button-blue-left" (click)="duplicateCourseAction(true)" [disabled]="!courseDupliForm.valid">Duplicate</button>
            </div>
            <div class="">
                <button type="button" class="constantbtn-button-blue-right" (click)="duplicateCourseAction(false)">Cancel</button>
            </div>
        </div>
    </div>
</div>
<div class="spinner_container" *ngIf="showSpinner">
    <div class="loader box-rotation"></div>
</div>


<!-- ************************************ OLD CODE ********************************** -->
<!--
<div class="col-md-12 catHead sticky-catHead">
      <div class="col-md-3">
          <h3 class="marginTop14">PROGRAMS</h3>
      </div>
          <div class="col-md-6 conSearchdivpro">
            <select [(ngModel)]="categories" class="form-control select  qcathei" name="id" (change)="doropserch(categories)">
          <option value = 0>All Categories</option>
          <option *ngFor="let item of category"  value={{item.categoryId}}>{{item.categoryName}}</option>
        </select>
            <input type="text" class="form-control conSearchInputquepro" placeholder="Search by question name" name="name" [(ngModel)]="search.programName">
            <i class="fa fa-remove conRemove" aria-hidden="true" (click)="clear()"></i>
        </div>
      <div class="col-md-6 catsearchdiv">
          <div class="col-md-6 inputbx1">
                <select [(ngModel)]="categories" name="categories" class="form-control borderNone ">
                    <option value = "">All Categories</option>
                    <option value={{category.categoryName}} *ngFor="let category of category">{{ category.categoryName }}</option>
                </select>
          </div>
          <div class="col-md-5 inputbx2">
                <input type="text" [(ngModel)]="search.programName" class="form-control borderNone " placeholder="Program Name" name="namw" [disabled]="notFound">
          </div>
          <i class="fa fa-remove catRemove" aria-hidden="true" (click)="clear()"></i>
      </div>
      <div class="col-md-3 text-right pad14px">
          <button type="button"  class="constantbtn-button-blue-left" (click)="addeditprogram(undefined,0)" [disabled]="notFound">Add Program</button>
          <button type="submit" class="constantbtn-button-blue-right" (click)="back()" >Back</button>

      </div>
    </div>

    <div class="widgets" *ngIf="!notFound">

          <div class="loaderBackdrop" *ngIf="loader == true">
              <div id="loader"></div>
          </div>

          <div ba-panel ba-panel-class="with-scroll">
            <section id="feature sec" class="section01">




                   <div class="row col-md-12 catrow">
                      <div *ngFor="let item of programs |filterBy: search; let i=index" class="card col-md-3">
                          <div (click)="content2(item,0)">
                              <a *ngIf="item.picRef" style="cursor: pointer;">
                                  <img src={{item.picRef}}>
                              </a>
                              <a *ngIf="!item.picRef" style="cursor: pointer;">
                                  <img src='assets/images/category.jpg'>
                              </a>
                          </div>

                          <div (click)="content2(item,0)">
                              <div class="catsep">
                                  <p class="toolcatp tooltip">{{item.programName}}</p>

                              </div>
                          </div>

                          <div class="col-sm-12 card-footer-main">
                              <div class="col-sm-6 card-footer-sub">
                                  <div class="" title="Edit" (click)="addeditprogram(item,1)">
                                      <i class="fa fa-edit card-footer-icon pointer" aria-hidden="true"></i>
                                  </div>
                              </div>
                              <div class="col-sm-6 card-footer-sub">
                                  <div class="">
                                      <i title="Enabled" id="disable_{{item.categoryCode}}" class="fa fa-eye card-footer-icon pointer" aria-hidden="true" (click)="disableCategory(i,item,true)" [hidden]="item.visibility == 0"></i>
                                      <i title="Disabled" id="enable_{{item.categoryCode}}" class="fa fa-eye-slash card-footer-icon pointer" aria-hidden="true" (click)="disableCategory(i,item,false)" [hidden]="item.visibility == 1"></i>
                                  </div>
                              </div>
                          </div>

                      </div>
                  </div>
              <div class="row col-md-12 catrow">
                <div *ngFor="let item of programs |filterBy: search;let j=index" class="card col-md-3 blended-program-card">
                  (click)="content2(item,0)"
                  <div class="blended-program-disabled" [hidden]="item.visible == 1">
                    <i title="Disabled" id="enable_{{item.courseId}}" class="fa fa-eye-slash disabled-icon" aria-hidden="true"
                      (click)="disableQcate(j,item)"></i>
                  </div>
                  <div class="pointhand">
                    <a *ngIf="item.progPicRef" style="cursor: pointer;">
                      <img class="constimg" src={{item.progPicRef}}>
                    </a>
                    <a class="constimg" *ngIf="!item.progPicRef" style="cursor: pointer;">
                      <img src='assets/images/category.jpg'>
                    </a>
                  </div>
                  <div class="border-bott-feed pointhand">
                    <div class="catsep">
                      <p class="toolcatp tooltip">{{item.catName}}</p>
                      <p class="toolcatp" title="{{item.programName}}" *ngIf="item.programName.length <=10">{{item.programName}}
                      </p>
                      <p class="toolcatp" title="{{item.programName}}" *ngIf="item.programName.length >10">
                        {{item.programName.substring(0,10)}}...</p>
                    </div>
                    <div class="col-sm-12 constDesc">
                      <p class="catdesp">{{item.description | slice:0:100}} . . .</p>
                      <p class="catdesp" title="{{item.description}}" *ngIf="item.description.length <=100">{{item.description}}
                      </p>
                      <p class="catdesp" title="{{item.description}}" *ngIf="item.description.length >100">
                        {{item.description.substring(0,100)}}...</p>
                    </div>
                     <div class="col-sm-12 topline" >
                        <p class="catque">Number of Questions :0</p>
                      </div>
                  </div>
                  <div class="col-sm-12 card-footer-main">
                    <div class="col-sm-6  bordright pointhand">
                      <div class="pointhand card-footer-sub" title="Edit" (click)="addeditprogram(item,1)">
                        <i class="fa fa-edit card-footer-icon" aria-hidden="true"></i>
                      </div>
                       <div >
                                <span class="">Edit</span>
                                </div>
                    </div>
                    <div class="col-sm-6  ">
                      <div class="pointhand card-footer-sub">
                        <i class="fa fa-eye card-footer-icon pointhand " title="Enable" aria-hidden="true"
                          (click)="disableQcate(j,item)" [hidden]="item.visible == 0"></i>
                        <i class="fa fa-eye-slash card-footer-icon pointhand" title="Disable" aria-hidden="true"
                          (click)="disableQcate(j,item)" [hidden]="item.visible == 1"></i>
                      </div>
                    </div>
                          <div class="col-sm-4 card-footer-sub">
                          <div class="" title="Duplicate">
                                <i class="fa fa-clone card-footer-icon" aria-hidden="true"></i>
                              </div>

                        </div>
                  </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div> -->