ngx-blended-courses {
    .grid_container_blended_course {
        display: grid;
        // grid-template-columns: 2fr 10fr;
        word-break: break-word;
    }
    .duplicateModalBackdrop {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        z-index: 1503;
        background-color: #404040c2;
        .duplicateModal {
            width: 50%;
            margin: auto;
            background-color: #fff;
            margin-top: 65px;
            border-radius: 5px;
        }
    }
    .disnone {
        display: none;
    }
    .blended_courses_div {
        .pointer {
            cursor: pointer;
        }
        .duplicateModalBackdrop {
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0px;
            left: 0px;
            z-index: 1503;
            background-color: #404040c2;
            .duplicateModal {
                width: 50%;
                margin: auto;
                background-color: #fff;
                margin-top: 65px;
                border-radius: 5px;
            }
        }
        .duplicateModalHeader {
            /* padding: 8px; */
            background: #076ba1;
            color: #fff;
        }
        .duplicateModalHeaderP {
            margin-bottom: 0;
        }
        // .duplicateModalBtn {
        //     width: auto  ;
        //     border: none;
        //     padding: 6px 14px  ;
        //     background-color: #076ba1  ;
        //     color: #fff  ;
        //     text-transform: uppercase  ;
        //     /* min-width: 90px  ; */
        //     max-height: 36px  ;
        //     // max-height: 29px  ;
        //     &:disabled {
        //         background-color: #076ba14a  ;
        //     }
        // }
        // .duplicateModalHeader {
        //     /* padding: 8px; */
        //     background: #076ba1;
        //     color: #fff  ;
        // }
        // .duplicateModalHeaderP {
        //     margin-bottom: 0;
        // }
        .duplicateModalBtn {
            width: auto;
            border: none;
            padding: 6px 14px;
            background-color: #076ba1;
            color: #fff;
            text-transform: uppercase;
            /* min-width: 90px  ; */
            max-height: 36px;
            // max-height: 29px  ;
            &:disabled {
                background-color: #076ba14a;
            }
        }
        // .duplicateModalBodyP {
        //     // margin-bottom: 0;
        //     color: #000;
        // }
        .closeDuplicateModalBtn {
            color: #fff;
        }
        .duplicateModalFooter {
            padding: 10px;
        }
        // .closeDuplicateModalBtn {
        //     color: #fff  ;
        // }
        // .duplicateModalFooter {
        //     padding: 10px;
        // }
        @import "../../../@theme/styles/variable.scss";
        .content_width {
            width: 78vw;
            margin: 0 auto;
        }
        .content_width_header {
            padding: 0 20px;
        }
        .top_header_container {
            background: #fff;
            position: sticky;
            top: 4.75rem;
            z-index: 1020;
            .top_header_div_sticky {
                background: #fff;
                display: grid;
                grid-template-columns: 1fr 5fr;
                height: 50px;
                align-items: center;
                .page_title {
                    text-align: left;
                    h4 {
                        margin: 0;
                    }
                }
                .filter_div {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-column-gap: 10px;
                    align-items: center;
                    .drop_down {
                        border: 1px solid $border_color;
                        .drop_down_select {
                            height: 30px;
                            border: none;
                            box-shadow: none;
                            width: 100%;
                        }
                    }
                    .search_div {
                        display: grid;
                        grid-template-columns: auto 20px;
                        border: 1px solid $border_color;
                        .search_field {
                            height: 30px;
                            border: none;
                            box-shadow: none;
                            padding: 10px;
                        }
                        .remove_icon {
                            line-height: 30px;
                        }
                    }
                }
                .buttons_div {
                    text-align: right;
                }
            }
        }
        .multiple_category_card_container {
            background: $background_for_card_container;
            margin: 55px 30px 30px;
            // margin: auto;
            .cards_container {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                grid-column-gap: 20px;
                grid-row-gap: 20px;
                .singel_card {
                    position: relative;
                    background: #fff;
                    text-align: center;
                    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
                    border-radius: 10px;
                    .overlay_hidden {
                        position: absolute;
                        background: rgba(0, 0, 0, 0.5);
                        height: 100%;
                        width: 100%;
                        display: grid;
                        align-items: center;
                        font-size: 30px;
                        color: #fff;
                        border-radius: 10px;
                        i {
                            cursor: pointer;
                        }
                    }
                    // border-bottom-left-radius: 10px ;
                    // border-bottom-right-radius: 10px;
                    // box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
                    .singel_card_image {
                        border-top-left-radius: 10px;
                        border-top-right-radius: 10px;
                        height: 150px;
                        width: 100%;
                        background-position: center;
                        background-size: cover;
                        //    background
                    }
                    .card_title {
                        padding: 10px;
                        border-top: 1px solid $border_color;
                        border-bottom: 1px solid $border_color;
                        color: #000;
                        font-size: $font_size_for_cards;
                        min-height: 72px;
                        word-break: break-word;
                    }
                    .card_subtitle {
                        font-size: 14px;
                        padding: 10px;
                        // border-top: 1px solid #F1F5F8;
                        border-bottom: 1px solid $border_color;
                        color: #000;
                        word-break: break-word;
                        min-height: 55px;
                    }
                    .icon-div {
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        height: 40px;
                        align-items: center;
                        border-bottom: 1px solid $border_color;
                        .icon {
                            border-right: 1px solid $border_color;
                            color: $icon_font_color;
                            font-size: 20px;
                            height: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            margin: 0;
                        }
                        .icon:last-child {
                            border-right: 0px;
                        }
                    }
                    .icon-div:not(last) {
                        border-right: 1px solid $border_color;
                    }
                    .user-icon {
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr;
                        height: 40px;
                        align-items: center;
                        .icons-enable-disable {
                            border-right: 1px solid $border_color;
                            color: $icon_font_color;
                            font-size: 20px;
                            height: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                    }
                    .content-icons {
                        text-align: center;
                        border-bottom: 1px solid $border_color;
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        align-items: center;
                    }
                    .para_margin_0 {
                        margin: 0;
                    }
                }
                .not_found {
                    background-image: url("https://bhaveshedgetest.s3.ap-south-1.amazonaws.com/BFL.jpg");
                }
            }
        }
    }
    .bgwhite {
        background-color: white;
        padding: 15px;
        // height: -webkit-fill-available;
    }
    .sticky-top {
        position: sticky;
        width: 230px;
        position: -webkit-sticky;
        top: 107px;
        z-index: 1030;
        overflow-y: auto;
    }
    .sticky-top::-webkit-scrollbar {
        width: 20px;
        scroll-margin-left: 10px;
    }
    .sticky-top::-webkit-scrollbar-thumb {
        background: #e3e9ee;
        border-radius: 25px;
    }
    .sticky-top::-webkit-scrollbar-track {
        display: none;
    }
    .listheadings {
        height: 40px;
        // border-top: 0.5px solid #68c7fb;
        border-bottom: 0.5px solid #68c7fb;
        display: flex;
        cursor: pointer;
    }
    .listLabel {
        line-height: 30px;
        font-size: 15px;
        font-weight: 100;
        width: 100%;
        margin: auto;
        color: #076ba1;
    }
    .filterLength {
        min-width: 25px;
        height: 25px;
        line-height: 25px;
        color: #fff;
        margin: auto;
        font-size: 13px;
        background: #076ba1;
        text-align: center;
    }
    .checkContainer1 input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }
    .checkmarkDiv {
        position: absolute;
        top: 0;
        left: 0;
        height: 18px;
        margin: 12px 0;
        width: 18px;
        border: 1px solid #076ba1;
        background-color: #feffff;
    }
    /* On mouse-over, add a grey background color */
    .checkContainer1:hover input~.checkmarkDiv {
        background-color: #f1f5f8;
    }
    /* When the checkbox is checked, add a blue background */
    .checkContainer1 input:checked~.checkmarkDiv {
        background-color: #feffff;
    }
    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmarkDiv:after {
        content: "";
        position: absolute;
        display: none;
    }
    /* Show the checkmark when checked */
    .checkContainer1 input:checked~.checkmarkDiv:after {
        display: block;
    }
    /* Style the checkmark/indicator */
    .checkContainer1 .checkmarkDiv:after {
        left: 6px;
        top: 0px;
        width: 6px;
        height: 12px;
        border: solid #076ba1;
        border-width: 0 2px 2px 0;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    .checkContainer1 {
        margin: 0;
        line-height: 30px;
        width: 100%;
        font-size: 14px;
        padding-left: 15px;
        font-weight: 100;
        cursor: pointer;
    }
    .textBoxLength {
        width: 100%;
        height: 25px;
        line-height: 25px;
        margin: auto;
        outline: none;
        border: none;
        font-size: 13px;
        color: #484343;
    }
    .textBoxLength::placeholder {
        color: #076ba1;
    }
    .scroll-Div {
        height: 200px;
        overflow-y: scroll;
    }
    .scroll-Div::-webkit-scrollbar {
        width: 20px;
        scroll-margin-left: 10px;
    }
    .scroll-Div::-webkit-scrollbar-thumb {
        background: #e3e9ee;
        border-radius: 25px;
    }
    .scroll-Div::-webkit-scrollbar-track {
        display: none;
    }
    .lable_class {
        color: #076ba1;
    }
    .drop_down {
        height: 35px;
    }
    .multiple_blendCourse_card_container {
        // background: $background_for_card_container;
        margin: 20px 20px 30px;
        // margin: auto;
        .blendCourse_container {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-column-gap: 20px;
            grid-row-gap: 20px;
            .blendCourse_card1 {
                position: relative;
                background: #fff;
                text-align: center;
                box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
                border-radius: 10px;
            }
        }
    }
    // .blendCourse {
    //   margin-top: 10px;
    //   width: 60px;
    //   // height: 90px;
    // }
    // .blendCourse-title {
    //   // width: 100px;
    //   padding: 16px 25px 0px;
    //   // height: 80px;
    // }
    .blendCourse_width1 {
        width: 775px;
    }
}

@import "../../../@theme/styles/loader.scss";