<!-- <div class="chatContainer">
    <div class="chatContent" [style.height.px]="myInnerHeight" >
      <div class="chatHeadr212">
        <button class="callbtn" (click)="endVideo()" *ngIf="_videoworking"><i class="fas fa-times"></i></button>
        <button class="callbtn" (click)="OpenInviationPopup()" *ngIf="!_videoworking"><i class="fas fa-phone"></i></button>
        <button class="callbtn marg0" (click)="OpenInviationPopup()" *ngIf="!_videoworking"><i class="fas fa-video"></i></button>
      </div>
      <div class="chat" #scrollMe [style.height.px]="chatboxHeight">
        <div *ngIf="chatInit">
          <div *ngFor="let chat of data.messages" class="p16">
            <div class="d-flex justify-content-start mb-4" *ngIf="chat?.fromUserId != UserId">
              <div class="img_cont_msg">
                <img [src]="chat?.friendProfilePic" class="rounded-circle user_img_msg">
              </div>
              <div class="msg_cotainer">
                {{chat?.message}}
                <span class="msg_time">{{chat?.datetime | date:"hh:mma"}}</span>
              </div>
            </div>
            <div class="d-flex justify-content-end mb-4" *ngIf="chat?.fromUserId == UserId">
              <div class="msg_cotainer_send">
                {{chat?.message}}
                <span class="msg_time_send">{{chat?.datetime | date:"HH:mm"}}</span>
              </div>
              <div class="img_cont_msg">
                <img [src]="chat?.userProfilePic" class="rounded-circle user_img_msg">
              </div>
            </div>
          </div>
          <div *ngIf="data.messages.length == 0">
            <div class="a-E Eg">
              <div class="hN soT5xd">
                <i class="fa fa-comment text-secondary iconsize8em" aria-hidden="true"></i>
                <div class="Ziild">
                  <div class="Cb5AFb mopgBe">Start a conversation with
                    <strong>{{data.selectedFriendName}}</strong>!</div>
                </div>
                <div class="ZrxcBe Y6eeve" role="alert"></div>
            </div>
          </div>
  
  
      <div class="chat-Screen-Footer">
        <div class="row-height-Footer">
          <textarea rows="1" cols="5" class="typeHereInput" placeholder="Type your message here"
            [(ngModel)]="message" (keyup.enter)="sendChatMessage($event,message)"></textarea>
          <button class="btn-chat-send" (click)="sendChatMessage($event,message)"><i
              class="fas fa-paper-plane"></i></button>
        </div>
      </div>
  
    </div>
    <div class="col-md-6 chatList" [style.height.px]="myInnerHeight" *ngIf="_videoworking">
      <iframe style="width:100%;display: block;" [style.height.px]="myInnerHeight" [src]="bbburl" *ngIf="bbburl" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <div *ngIf="visibleSendModal">
      <ngx-modal-viewer [modalInfo]='modalSendInvitation' (acceptEvent)="SendInviation($event)" (rejectEvent)="CloseModal($event)" (closeEvent)="CloseModal($event)"></ngx-modal-viewer>
    </div>
    <div *ngIf="visibleReceiveModal">
        <ngx-modal-viewer [modalInfo]='modalReceiveInvitation' (acceptEvent)="AcceptInvitation($event)" (rejectEvent)="AcceptInvitation($event)" (closeEvent)="CloseModal($event)"></ngx-modal-viewer>
      </div>
      <div *ngIf="visibleConnectingModal">
          <ngx-modal-viewer [modalInfo]='modalConnecting' (rejectEvent)="CloseModal($event)"></ngx-modal-viewer>
        </div>
        <div *ngIf="visibleRejectModal">
            <ngx-modal-viewer [modalInfo]='modalRejectMessage' (acceptEvent)="CloseModal($event)"></ngx-modal-viewer>
          </div>
          <div *ngIf="visibleEndedModal">
              <ngx-modal-viewer [modalInfo]='modalEndedMessage' (acceptEvent)="EndedMeeting()" (rejectEvent)="CloseModal($event)"></ngx-modal-viewer>
            </div>
            <div *ngIf="visibleEndModal">
                <ngx-modal-viewer [modalInfo]='modalEndMessage' (acceptEvent)="CloseModal($event)" ></ngx-modal-viewer>
              </div> -->

<div class="chat_container">

    <div class="chat_box_container">
      <div class="chat_box_header">
        Call Id : {{callId}}
      </div>
        <div *ngIf="!noChatAvailable" class="chat_box" #scrollMe>
          <!-- <div class="header_chat">
                  <div class="profile_image">
                      <img src="../../../assets/user-avtars/1.jpg" alt="" srcset="">
                    </div>
                    <div class="profile_message">
                      <h3 class="profile_name">
                        {{ data.chatlist[currentUserIndex].name}}
                      </h3>
                    </div>
              </div> -->
          <div *ngFor="let chat of chatList">
            <!-- <div class="messages_container_right chat_row_gap" *ngIf="chat?.fromUserId != UserId">
              <div class="profile_image_chat">
                <img [src]="chat?.friendProfilePic">
              </div>
              <div class="chat_bubble">
                  <p class="username">{{chat?.username}} ~</p>
                <p class="message">{{chat?.message}}</p>
              </div>
            </div> -->
            <div class="messages_container_up">{{chat?.fromusername}}</div>
            <div class="messages_container_left chat_row_gap">
              
              <div class="chat_bubble">
                <p class="username">~ {{chat?.username}}</p>
                <p class="message">{{chat?.message}}</p>
                <!-- Hellooooooooooooooooooo Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam maxime, vel, quod doloribus asperiores, hic cumque recusandae consectetur veritatis commodi cupiditate similique placeat quas dicta facere corporis harum? Asperiores, corrupti. -->
              </div>
              <!-- <div class="profile_image_chat">
                <img [src]="chat?.userProfilePic">
              </div> -->
            </div>
          </div>
      
        </div>
        <div *ngIf="noChatAvailable" class="chat_box" #scrollMe>
          <div class="start_chat_box">
            <div class="no_chat_icon">
              <i class="fa fa-comments"></i>
              <span>No messages.</span>
            </div>
          </div>
        </div>
        
        <!-- <div class="chat_send_container">
          <div>
            <textarea class="typeHereInput" rows="1" [disabled]='true' placeholder="Type your message here" 
              ></textarea>
          </div>
          <div>
            <button class="btn-chat-send" [disabled]='true'><i
                class="fas fa-paper-plane"></i></button>
          </div>
        </div> -->
      </div>
      
      <div class="recordings_container">
        <div class="heading">
          Recordings ( {{recordings.length}} )
        </div>
        <div class="scroll_div" *ngIf="recordings.length !== 0">
          <div class="recordlist" *ngFor="let item of recordings; let i = index">
              <div class="recordingName">Recording {{ i + 1 }} - {{item.recordingDate}}</div>
              <div class="play_button" (click)="playRecordedVideo(item, i)">
                  <i class="fas fa-play"></i>
              </div>
          </div>
        </div>
        <div *ngIf="recordings.length === 0">
          No Recordings Available
        </div>
      </div>

      <div class="video_modal_container" *ngIf="playRecording">
        <div class="videoBackdrop">
          <div class="videoBackdropModal">
            <div class="modal-header">
              <p>Recording {{modal_title + 1}}</p>
              <button class="close" aria-label="Close" (click)="closeModal()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>

            <div class="modal-body">
                <div class="video">
                    <video controls (click)="toggleVideo()" #videoPlayer>
                        <source src="{{videoLink}}" type="video/mp4">
                        Browser not supported
                    </video>
                </div>
            </div>
          </div>
        </div>
      </div>
</div>
             