// .main-content{
//     padding: 0 !important;
// }
// .chatContainer{
//     margin: 0;
//     padding: 0;
//     box-sizing: border-box;
//     display: flex;
// }
// .chatList{
//     padding: 0;
//     margin: auto;
//     background: #fff;
//     height: 100%;
//     box-shadow: 2px 0 6px 0 rgba(47,83,151,0.1);
// }
// .chatListHeader{
//     margin: auto;
//     padding: 15px;
//     height: auto;
//     border-bottom: 1px solid #ccc;
//     position: sticky;
// }
// .searchBox{
//     height: 50px;
//     color: #ccc;
//     font-size: 30px;
//     border: none;
//     width: 100%;
//     outline: none;
// }
// .searchBox::placeholder{
//     color: #949393;
// }
// .searchbtn{
//     background: #fff;
//     border: none;
//     font-size: 30px;
//     font-weight: 100;
//     color: #949393;
//     outline: none;
//     cursor: pointer;
// }
// .chatScreen{
//     background: transparent;
//     padding: 0;
//     margin: 0;
//     border-left: 1px solid white;
//     height: 690px;
// }
// .chatListUl{
//     margin: auto;
//     overflow-y: scroll;
//     height: 610px;
//     padding: 0;
//     display: block;
//     list-style-type: none;
// }
// .chatArray{
//     margin: 0;
//     width: 100%;
//     padding: 15px;
//     //height: auto;
//     height:fit-content;
//     border-bottom: 1px solid #ccc;
//     position: -webkit-sticky;
//     position: sticky;
//     list-style: none;
//     cursor: pointer;
//     color: #333232;
// }
// .chatArray.activeChat{
//     background-color: #507bfc;
//     color: #fff !important;
//     box-shadow: 0 10px 20px 0 rgba(80,123,252,0.5);
// }
// .chatRow{
//     margin: 20px auto;
//     width: 100%;
// }
// .alignItmcenter{
//     padding: 0;
//     text-align: center;
// }
// .profileImg{
//     width: 60px;
//     height: 60px;
//     border-radius: 50%;
// }
// .chatName{
//     font-size: 1em;
//     font-weight: 600;
//     line-height: 33px;
//     margin: 0;
//     overflow: hidden;
//     text-overflow: ellipsis;
//     /* color: red; */
//     white-space: normal;
// }
// .msgPreview{
//     // color: #6d6d6d;
//     margin: 0;
//     line-height: 24px;
// }
// .lastmsgTime{
//     text-align: center;
// }
// .pendingMsg{
//     width: 35px;
//     height: 35px;
//     text-align: center;
//     margin: auto;
//     line-height: 35px;
//     border-radius: 50%;
//     background: #FEA08F;
//     color: #fff;
// }
// .User{
//     float: right;
// }
// .message{
//     padding: 15px;
//     height: auto;
//     font-size: 16px;
//     line-height: 26px;
//     border-radius: 13px;
//     // background: #fff;
//     box-shadow: 0 2px 6px 0 rgba(47,83,151,0.1);
//     color: #5b5b5b;
//     text-align: justify;
// }
// .sender{
//     background: #ff9868e6;
//     color: #fff;
// }
// .receiver{
//     background: #fff;
// }
// .message2{
//     padding: 15px;
//     height: auto;
//     font-size: 16px;
//     line-height: 26px;
//     border-radius: 13px;
//     background: #ff9868e6;
//     box-shadow: 0 2px 6px 0 rgba(47,83,151,0.1);
//     color: #fff;
//     text-align: justify;
// }
// .p16{
//     padding:16px;
// }
// .timeOfMsg{
//     line-height: 30px;
//     padding: 0 10px;
//     color: #807f7f;
// }
// .timeOfMsg2{
//     line-height: 30px;
//     padding: 0 10px;
//     color: #807f7f;
//     text-align: right;
// }
// .chat-Screen-Footer{
//     bottom: 0;
//     width: 100%;
//     margin: 0;
//     background: #fff;
//     box-shadow: 0 -2px 6px 0 rgba(47,83,151,0.1);
// }
// .row-height-Footer{
//     margin: auto;
//     height: 80px;
//     padding: 0;
//     display: flex;
// }
// .typeHereInput{
//     width: 100%;
//     font-size: 18px;
//     border: none;
//     height: 100%;
//     outline: none;
//     background: transparent;
//     resize: none;
//     margin: auto;
//     padding: 15px;
// }
// .typeHereInput::placeholder{
//     line-height: 50px;
// }
// .btn-chat-send{
//     width: 50px;
//     height: 50px;
//     margin: auto 15px;
//     background: #73a1ff;
//     color: #fff;
//     text-align: center;
//     font-size: 25px;
//     border: none;
//     border-radius: 50%;
//     box-shadow: 1px 2px 10px #6c7890;
// }
// /*Sample*/
// .mb-4, .my-4 {
//     margin-bottom: 1.5rem!important;
// }
// .d-flex {
//     display: -ms-flexbox!important;
//     display: flex!important;
// }
// .rounded-circle {
//     border-radius: 50%!important;
// }
// .user_img_msg {
//     height: 60px;
//     width: 60px;
// }
// .msg_cotainer {
//     margin-top: auto;
//     margin-bottom: auto;
//     margin-left: 20px;
//     font-size: 18px;
//     color: #333232;
//     border-radius: 10px;
//     background-color: #ffffff;
//     padding: 16px 16px;
//     word-break: break-word;
//     position: relative;
//     max-width: 700px;
// }
// .msg_time {
//     position: absolute;
//     left: 10px;
//     bottom: -22px;
//     color: #868686;
//     font-size: 14px;
//     font-family: "open sans";
// }
// /*send*/
// .msg_cotainer_send {
//     margin-top: auto;
//     margin-bottom: auto;
//     margin-right: 20px;
//     border-radius: 10px;
//     background-color: #FEA08F;
//     padding: 16px 16px;
//     color: #fff;
//     font-size: 18px;
//     word-break: break-word;
//     position: relative;
// }
// .msg_time_send {
//     position: absolute;
//     right: 3px;
//     bottom: -22px;
//     color: #868686;
//     font-size: 14px;
//     font-family: "open sans";
// }
// .img_cont_msg {
//     height: 60px;
//     width: 60px;
// }
// .chat{
//     //height: 610px;
//     height: 100%;
//     padding-bottom: 0px;
//     overflow-y: scroll;
// }
// .example-form {
//     min-width: 150px;
//     max-width: 500px;
//     width: 100%;
//   }
//   .example-full-width {
//     width: 100%;
//   }
//   .ng-autocomplete {
//     width: 400px;
// }
// .Eg {
//     top: 0;
//     bottom: 0;
//     left: 0;
//     right: 0;
//     position: absolute;
//     overflow-y: auto;
//     overflow-x: hidden;
//     top:50%;
//     transform: translateY(-50%);
// }
// .iconsize8em{
//     font-size: 8em;
// }
// .title{
//     padding: 10px;
//     text-align: center;
//     font-size: 18px;
// }
// .mR16{
//     margin-right: 16px;
// }
// .soT5xd {
//     margin: 8px 14px;
//     text-align: center;
// }
// .kgp9rc {
//     margin-left: auto;
//     margin-right: auto;
// }
// .ebeE0d {
//     background: no-repeat url(//ssl.gstatic.com/chat/babble/sprites/common-517bca7….png) -1197px -133px;
//     height: 82px;
//     width: 68px;
// }
// .qJS6W {
//     position: relative;
//     margin: auto;
//     top: 22px;
//     left: -1px;
// }
// .W4rVif {
//     background: no-repeat url(//ssl.gstatic.com/chat/babble/sprites/common-517bca7….png) -128px -95px;
//     height: 24px;
//     width: 24px;
// }
// .Ziild {
//     padding-top: 10px;
//     padding-bottom: 10px;
// }
// .mopgBe {
//     font-size: 16px;
//     color: #37474f;
//     line-height: 1.5em;
//     vertical-align: middle;
//     display: inline-block;
//     overflow: hidden;
//     -webkit-user-select: none;
//     width: 100%;
//     word-wrap: break-word;
// }
// .chatContent{
//     background: #fff;
//     width: 100%;
// }
// .chatHeadr212{
//     background: #fff;
//     padding: 15px;
//     text-align: right;
//     box-shadow: 1px 3px 18px #a8a5a5;
// }
// .callbtn{
//     height: 40px;
//     width: 40px;
//     border-radius: 50%;
//     border: none;
//     color: #fff;
//     background: #73a1ff;
//     box-shadow: 1px 5px 9px 3px #507bfc61;
//     margin-right: 15px;
//     cursor: pointer;
//     outline: none;
// }
// .marg0{
//     margin: 0;
// }
// .floatRightCall{
//     width: 100%;
//     margin: auto;
//     padding: 0 10px;
// }
// .roundBt{
//     width: 45px;
//     height: 45px;
//     border: none;
//     border-radius: 50%;
//     background: #73a1ff;
//     padding: 0;
//     font-size: 20px;
//     color: #fff;
//     margin: 18px 15px;
// }
// .chatbox{
//     width: 100%;
//     margin: auto;
//     padding: 10px 25px;
//     overflow-y: scroll;
// }
// .chatRow{
//     width: 100%;
//     margin: auto;
// }
// .audioData{
//     width: 80%;
// }
// /*Sample*/
// .mb-4, .my-4 {
//     margin-bottom: 1.5rem!important;
// }
// .d-flex {
//     display: -ms-flexbox!important;
//     display: flex!important;
// }
// .rounded-circle {
//     border-radius: 50%!important;
// }
// .user_img_msg {
//     height: 60px;
//     width: 60px;
// }
// .msg_cotainer {
//     margin-top: auto;
//     margin-bottom: auto;
//     margin-left: 20px;
//     font-size: 18px;
//     color: #333232;
//     border-radius: 10px;
//     background-color: #f1f3f4;
//     padding: 16px 16px;
//     word-break: break-word;
//     position: relative;
// }
// .msg_time {
//     position: absolute;
//     left: 10px;
//     bottom: -22px;
//     color: #868686;
//     font-size: 14px;
//     font-family: "open sans";
// }
// /*send*/
// .msg_cotainer_send {
//     margin-top: auto;
//     margin-bottom: auto;
//     margin-right: 20px;
//     border-radius: 10px;
//     background-color: #73a1ff;
//     padding: 16px 16px;
//     color: #fff;
//     font-size: 18px;
//     word-break: break-word;
//     position: relative;
//     max-width: 700px;
// }
// .msg_time_send {
//     position: absolute;
//     right: 3px;
//     bottom: -22px;
//     color: #868686;
//     font-size: 14px;
//     font-family: "open sans";
// }
// .img_cont_msg {
//     height: 60px;
//     width: 60px;
// }
// .typeHereField{
//     width: 100%;
//     margin: auto;
//     position: absolute;
//     bottom: 0;
//     margin-bottom: 10px;
// }
// .textInput{
//     width: 90%;
//     font-size: 18px;
//     height: 50px;
//     border: 1px solid #ccc;
//     line-height: 24px;
//     outline: none;
//     background: transparent;
//     border-radius: 25px;
//     resize: none;
//     margin: auto;
//     padding: 10px;
//     margin-right: 0 !important;
// }
// .textInput::placeholder{
//     line-height: 30px;
// }
// .sendbtn{
//     width: 55px;
//     height: 50px;
//     margin: auto;
//     background: #73a1ff;
//     color: #fff;
//     text-align: center;
//     font-size: 25px;
//     border: none;
//     padding: 0;
//     border-radius: 50%;
// }
.chat_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    background: #f1f5f8;
    .chat_box_container {
        border: 1px solid #e1e1e1;
        .chat_box_header {
            background: var(--colorCommon);
            color: var(--colorBtnTxt);
            padding: 10px 20px;
            font-size: 18px;
        }
        .chat_box {
            background: #ffffff;
            height: 520px;
            max-height: 550px;
            overflow-y: auto;
            .messages_container_right {
                display: grid;
                grid-template-columns: 50px auto;
                align-items: center;
                // padding: 0px 20px;
                grid-column-gap: 20px;
                max-width: 500px;
                margin-right: auto;
                padding: 0px 20px;
                width: 100%;
                .profile_image_chat {
                    img {
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                    }
                }
                .chat_bubble {
                    position: relative;
                    background: rgb(223, 222, 222);
                    border-radius: .4em;
                    padding: 10px;
                    .username {
                        margin-bottom: 8px;
                        font-style: italic;
                        font-size: 13px;
                    }
                    .message {
                        margin: 0
                    }
                }
                .chat_bubble:after {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 50%;
                    width: 0;
                    height: 0;
                    border: 10px solid transparent;
                    border-right-color: rgb(223, 222, 222);
                    border-left: 0;
                    margin-top: -10px;
                    margin-left: -10px;
                }
            }
            .messages_container_left {
                display: grid;
                // grid-template-columns:auto 70px;
                align-items: center;
                grid-column-gap: 20px;
                // padding: 0px 20px;
                max-width: 500px;
                margin-left: auto;
                margin-right: 20px;
                padding: 0px 20px;
                width: 100%;
                color: var(--colorBtnTxt);
                .profile_image_chat {
                    img {
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                    }
                }
                .chat_bubble {
                    position: relative;
                    background: var(--colorCommon);
                    border-radius: .4em;
                    padding: 10px;
                    .username {
                        margin-bottom: 8px;
                        font-style: italic;
                        font-size: 13px;
                    }
                    .message {
                        margin: 0
                    }
                }
                .chat_bubble:after {
                    content: '';
                    position: absolute;
                    right: 0;
                    top: 50%;
                    width: 0;
                    height: 0;
                    border: 10px solid transparent;
                    border-left-color: var(--colorCommon);
                    border-right: 0;
                    margin-top: -10px;
                    margin-right: -10px;
                }
            }
            .messages_container_up {
                max-width: 500px;
                margin-left: auto;
                margin-top: 3%;
            }
            .chat_row_gap {
                // margin: 10px 0;
                padding: 0px 0px 20px 0px;
            }
        }
        .start_chat_box {
            height: 500px;
            background: #F1F3F4;
            display: grid;
            align-items: center;
            font-size: 70px;
            text-align: center;
            span {
                font-size: 30px;
                display: block;
            }
        }
        .chat_send_container {
            background: #ffffff;
            display: grid;
            grid-template-columns: 3fr 50px;
            border-top: 1px solid #eee;
            // height: 10vh;
            .typeHereInput {
                width: 100%;
                font-size: 18px;
                border: none;
                // height: 100%;
                outline: none;
                background: transparent;
                resize: none;
                margin: auto;
                padding: 15px;
                // height: 50px;
            }
            .btn-chat-send {
                width: 100%;
                height: 100%;
                background: var(--colorCommon);
                color: var(--colorBtnTxt);
                text-align: center;
                font-size: 23px;
                border: none;
                // border-radius: 50%;
                // box-shadow: 1px 2px 10px #6c7890;
            }
        }
    }
    .recordings_container {
        background: #fff;
        .heading {
            background: var(--colorCommon);
            padding: 10px;
            width: 100%;
            color: var(--colorBtnTxt);
            font-size: 18px;
        }
        .scroll_div {
            max-height: 520px;
            overflow-y: auto;
            overflow-x: hidden;
            display: grid;
            // grid-template-rows: 50px;
            grid-row-gap: 15px;
            padding: 4%;
            .recordlist {
                height: 50px;
                /* border: 1px solid #507BFC; */
                display: flex;
                background: var(--colorCommon);
                align-items: center;
                border-radius: 5px;
                color: var(--colorBtnTxt);
                padding-left: 2%;
                .recordingName {
                    width: 100%;
                }
                .play_button {
                    align-self: center;
                    width: 30px;
                    cursor: pointer;
                }
            }
        }
    }
    .video_modal_container {
        .videoBackdrop {
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0px;
            left: 0px;
            z-index: 1503;
            background-color: #404040c2;
            .videoBackdropModal {
                width: 50%;
                margin: auto;
                background-color: #fff;
                margin-top: 65px;
                border-radius: 5px;
                .modal-header {
                    background-color: var(--colorCommon);
                    height: 55px;
                    color: var(--colorBtnTxt) !important;
                    border: none;
                }
                .modal-body {
                    //   padding: 0;
                    .video {
                        width: 100%;
                        video {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

.close {
    outline: none;
}