.nominationtoprow {
    border: none;
    height: 50px;
    background-color: #ffffff;
    width: 100%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin: auto;
}

.nominationsticky-top {
    position: sticky;
    top: 67px;
    z-index: 1090;
}

.nominationmarginLft {
    margin-left: 10px;
}

.pure-checkbox input[type="checkbox"]+label:before {
    margin-top: -15px !important;
}

.pure-checkbox input[type="checkbox"]+label:after {
    margin-top: -9px !important;
}

.marginAuto {
    margin: auto;
}

.headerName {
    margin: 0;
}

.columnsInGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
}

.form-container {
    padding: 20px;
    margin: 15px 15px;
    // margin-top: 70px;
    background: #fff;
    border-radius: 4px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
}

// select {
//     height: 30px !important;
// }
input,
textarea,
select {
    box-shadow: none !important;
}

label {
    color: #7d7d7d;
    font-weight: 200;
}

.noMargin {
    margin: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.stepName {
    position: relative;
    margin: auto 0;
}


/* Hide the browser's default checkbox */

.stepLabel input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}


/* Create a custom checkbox */

.stepMarker {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    margin: auto;
    width: 18px;
    // border: 1px solid #2196f3;
    border: 1px solid var(--colorCommon);
    background-color: #feffff;
}


/* On mouse-over, add a grey background color */

.stepLabel:hover input~.stepMarker {
    background-color: #f1f5f8;
}


/* When the checkbox is checked, add a blue background */

.stepLabel input:checked~.stepMarker {
    background-color: #feffff;
}


/* Create the checkmark/indicator (hidden when not checked) */

.stepMarker:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the checkmark when checked */

.stepLabel input:checked~.stepMarker:after {
    display: block;
}


/* Style the checkmark/indicator */

.stepLabel .stepMarker:after {
    left: 6px;
    top: 1px;
    width: 6px;
    height: 12px;
    // border: solid #2196f3;
    border: solid var(--colorCommon);
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.stepLabel {
    margin: auto;
    line-height: 18px;
    width: 100%;
    font-size: 16px;
    padding-left: 35px;
    /* font-weight: 100; */
    cursor: pointer;
}

.formgroupMargin {
    margin: 15px 0px !important;
}

.flexInputs12 {
    display: flex;
    box-sizing: border-box;
    width: 100%;
}

.dateinput1232 {
    width: 95%;
}

.divcalicon {
    // background: #2196f3;
    background: var(--colorIcons);
    color: #fff;
    width: 5%;
    text-align: center;
    font-size: 20px;
    line-height: 30px !important;
    height: 30px !important;
}

.selected-list .c-list .c-token {
    height: 25px !important;
    margin-right: 0px !important;
    margin-top: 0px !important;
}

.modal-header {
    background-color: #076ba1;
    height: 55px;
    color: #fff !important;
}

.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #fff !important;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.5;
}

.modal-body .row {
    margin: 0 !important;
}

.enableDisableModalBodyP {
    margin: 1rem;
}

.modal-footer {
    height: 55px;
}

ul.lazyContainer {
    padding: 0px !important;
}

.ecn {
    columns: #333333 !important;
    width: 80px !important;
    line-height: 1;
    vertical-align: text-top;
}

.temp {
    padding: 0px !important;
}