<!-- <div class="col-md-12 nominationtoprow nominationsticky">
  <div class="col-md-9 marginAuto">
    <h3 class="headerName" *ngIf="addOrEditValue == 'ADD'">Add Trainer</h3>
    <h3 class="headerName" *ngIf="addOrEditValue == 'EDIT'">Edit Trainer</h3>
  </div>
  <div class="col-md-3 text-right" style="margin-top: 10px;margin-bottom: 10px;">
    <button type="submit" class="constantbtn-button-blue-left" [disabled]="!trainerForm.form.valid"
      (click)="onSubmit(trainerDetails)">Save</button> -->

<!-- validation is removed from the below button which is replica of above button tag -->

<!-- <button type="submit" class="constantbtn-button-blue-left"
    (click)="onSubmit(trainerDetails)">Save</button> -->


<!-- <button class="back_button" (click)="gotoBack()">Back</button>
  </div>
</div> -->

<app-subheader [headerConfig]="header" [isSave]="true" (btnone)="onSubmit(trainerDetails,trainerForm.form)" (backClick)="gotoBack()"></app-subheader>

<form #trainerForm="ngForm">
    <div class="form-container">
        <div class="columnsInGrid">

            <div class="stepName">
                <label class="stepLabel commonLabel">
          <!-- Is Internal Employee -->
          <label class="side-form-label" for="Address">{{helpContent?.trainer_addEdit?.isInternal.label}} 
            <app-info-tooltip  [description]="helpContent?.trainer_addEdit?.isInternal.labelHelpContent"></app-info-tooltip>
        </label>
                <!-- <span for="addTags">{{helpContent?.trainer_addEdit?.isInternal?.label}}
                <div class="help-tooltip">
                  <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                  <div class="help-tooltip-position-right">
                    <p>{{helpContent?.trainer_addEdit?.isInternal?.labelHelpContent}}</p>
                    <i></i>
                  </div>
                </div>
              </span> -->
                <input class="commonInput commonpadding" type="checkbox" id="isInternal" name="isInternal" value="false" [(ngModel)]="trainerDetails.trainerTypeId" (click)="onChecked($event)">
                <span class="stepMarker"></span>
                </label>
            </div>
            <div class=" noMargin" *ngIf="allowTrainerCode">
                <label class="side-form-label" for="Address">{{helpContent?.trainer_addEdit?.employee_code.label}} <sup>&#x2731;</sup>
                <app-info-tooltip  [description]="helpContent?.trainer_addEdit?.employee_code.labelHelpContent"></app-info-tooltip>
            </label>
                <!-- <label class="left_space commonLabel">{{helpContent?.trainer_addEdit?.employee_code?.label}}
              <sup class="reqFieldActivity">*</sup>
              <div class="help-tooltip">
                <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                <div class="help-tooltip-position-right">
                  <p>{{helpContent?.trainer_addEdit?.employee_code?.labelHelpContent}}</p>
                  <i></i>
                </div>
              </div>
            </label> -->

                <!-- <label class="left_space" for="">Employee Code<sup class="reqFieldActivity">*</sup> </label> -->
                <!-- <input type="number" class="form-control form-control-input inputText" id="trainerCode" name="trainerCode"
                maxlength="5" placeholder="Enter trainer code" [(ngModel)]="trainerDetails.trainerCode" #code="ngModel" required> -->

                <angular2-multiselect id="empCode" [data]="employeeCodes" [settings]="settingsCodeDrop" (onSelect)="onCodeSelect($event)" (onDeSelect)="OnCodeDeSelect($event)" name="empCode" [ngModelOptions]="{standalone: true}" [(ngModel)]="trainerDetails.empCode">
                    <c-search>
                        <ng-template>
                            <input class="commonInput form-control commonpadding" type="text" (keyup)="onCodeSearch($event)" placeholder="Search Learner code..." style="border: none;width: 100%; height: 100%;outline: none;" />
                        </ng-template>
                    </c-search>
                    <c-item>
                        <ng-template let-item="item" class="temp">
                            <!-- style="color: #333;width: 150px; -->
                            <label class="multiselect-label" style="vertical-align: text-top;margin: 0px;">{{ item.ecn }} </label><br>
                            <label class="multiselect-label" style="padding-left: 29px;margin: 0px;">{{ item.name }} </label><br>
                            <label class="multiselect-label" style="padding-left: 29px;margin: 0px;">{{ item.email }} </label>
                            <!-- <label style="color: #333;width: 150px;line-height: 1;vertical-align: text-top;">
                <span>{{ item.ecn }}  </span> <br>
                <span>{{ item.name }}  </span><br>
                <span>{{ item.email }}  </span>
              </label> -->
                            <!-- <label style="color: #333;width: 150px; padding-left: 29px;">{{ item.email }}</label> -->

                        </ng-template>
                    </c-item>
                </angular2-multiselect>

                <!-- <div [hidden]="eCN.valid || eCN.pristine" class="invalid-msg">
                <div [hidden]="!eCN.hasError('required')">Employee Code is required</div>
              </div> -->
            </div>
        </div>
    </div>
    <div class="form-container">
        <div class="lftDiv">
            <div class="formgroupMargin">
                <label class="side-form-label" for="Address">{{helpContent?.trainer_addEdit?.trainer_Name.label}} <sup>&#x2731;</sup>
                <app-info-tooltip  [description]="helpContent?.trainer_addEdit?.trainer_Name.labelHelpContent"></app-info-tooltip>
            </label>
                <!-- <label class="left_space commonLabel">{{helpContent?.trainer_addEdit?.trainer_Name?.label}}
              <sup class="reqFieldActivity">*</sup>
              <div class="help-tooltip">
                <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                <div class="help-tooltip-position-right">
                  <p>{{helpContent?.trainer_addEdit?.trainer_Name?.labelHelpContent}}</p>
                  <i></i>
                </div>
              </div>
            </label> -->


                <!-- <label class="left_space" for="">Trainer Name<sup class="reqFieldActivity">*</sup> </label> -->
                <input type="text" class="form-control form-control-input inputText commonInput commonpadding" id="trainerName" name="trainerName" pattern=".{6,100}" placeholder="Max 50 characters" [(ngModel)]="trainerDetails.trainerName" #name="ngModel" [disabled]="nameDisable"
                    required>
                <div [hidden]="name.valid || name.pristine" class="invalid-msg">
                    <small [hidden]="!name.hasError('required')">Trainer Name is required</small>
                    <small *ngIf="name.errors?.pattern">Trainer name must be between 6 to 100 characters</small>
                </div>
            </div>

            <div class="formgroupMargin">
                <label class="side-form-label" for="Address">{{helpContent?.trainer_addEdit?.contact_Number.label}} <sup>&#x2731;</sup>
                <app-info-tooltip  [description]="helpContent?.trainer_addEdit?.contact_Number.labelHelpContent"></app-info-tooltip>
            </label>
                <!-- <label class="left_space commonLabel">{{helpContent?.trainer_addEdit?.contact_Number?.label}}
            <sup class="reqFieldActivity">*</sup>
            <div class="help-tooltip">
              <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
              <div class="help-tooltip-position-right">
                <p>{{helpContent?.trainer_addEdit?.contact_Number?.labelHelpContent}}</p>
                <i></i>
              </div>
            </div>
          </label> -->

                <!-- <label class="left_space" for="">Contact Number<sup class="reqFieldActivity">*</sup> </label> -->
                <input type="number" class="form-control form-control-input inputText commonInput" id="mobileNo" name="mobileNo" placeholder="+91 ***** *****" pattern=".{10,10}" [(ngModel)]="trainerDetails.mobileNo" #mobile="ngModel" required>
                <div [hidden]="mobile.valid || mobile.pristine" class="invalid-msg">
                    <small [hidden]="!mobile.hasError('required')">Contact number is required</small>
                    <small *ngIf="mobile.errors?.pattern">Mobile must have the length of 10 digit</small>
                </div>
            </div>


            <div class="formgroupMargin">
                <label class="side-form-label" for="Address">{{helpContent?.trainer_addEdit?.standard.label}} <sup>&#x2731;</sup>
                <app-info-tooltip  [description]="helpContent?.trainer_addEdit?.standard.labelHelpContent"></app-info-tooltip>
            </label>
                <!-- <label class="left_space commonLabel">{{helpContent?.trainer_addEdit?.standard?.label}}
              <sup class="reqFieldActivity">*</sup>
              <div class="help-tooltip">
                <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                <div class="help-tooltip-position-right">
                  <p>{{helpContent?.trainer_addEdit?.standard?.labelHelpContent}}</p>
                  <i></i>
                </div>
              </div>
            </label> -->

                <!-- <label class="left_space" for="">Standard<sup class="reqFieldActivity">*</sup> </label> -->
                <select class="commonSelect custom-select" name="standard" id="standard" placeholder="Trainer Standard" [(ngModel)]="trainerDetails.standardId" #std="ngModel" required>
          <option value="" selected disabled>Select trainer standard</option>
          <option *ngFor="let item of standard" value={{item.standardId}}>{{ item.standardName }}</option>
        </select>
                <div [hidden]="std.valid || std.pristine" class="invalid-msg">
                    <small [hidden]="!std.hasError('required')">Trainer Standard is required </small>
                </div>
            </div>

            <div class="formgroupMargin">
                <label class="side-form-label" for="Address">{{helpContent?.trainer_addEdit?.dob.label}} <sup>&#x2731;</sup>
                <app-info-tooltip  [description]="helpContent?.trainer_addEdit?.dob.labelHelpContent"></app-info-tooltip>
            </label>
                <!-- <label class="left_space commonLabel">{{helpContent?.trainer_addEdit?.dob?.label}}
              <sup class="reqFieldActivity">*</sup>
              <div class="help-tooltip">
                <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                <div class="help-tooltip-position-right">
                  <p>{{helpContent?.trainer_addEdit?.dob?.labelHelpContent}}</p>
                  <i></i>
                </div>
              </div>
            </label> -->

                <!-- <label class="space_left" for="sDate">Date of birth<h3 class="reqFieldActivity">* -->
                <!-- </h3></label> -->
                <div class="flexInputs12">
                    <input [owlDateTime]="dt1" [(ngModel)]="trainerDetails.dateOfBirth" #dob="ngModel" placeholder="dd-mm-yyyy" required class="form-control form-control-input  dateinput1232 commonInput commonpadding" id="dob" name="dob" [max]="maxDate" [owlDateTimeTrigger]="dt1">
                    <div class="divcalicon" [owlDateTimeTrigger]="dt1"><i class="fa fa-calendar calfont"></i>
                    </div>
                    <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
                </div>
                <div [hidden]="dob.valid || dob.pristine" class="invalid-msg">
                    <small [hidden]="!dob.hasError('required')">Enter date of birth</small>
                </div>
            </div>



            <div class="formgroupMargin">
                <label class="side-form-label" for="Address">{{helpContent?.trainer_addEdit?.visibility.label}} <sup>&#x2731;</sup>
                <app-info-tooltip  [description]="helpContent?.trainer_addEdit?.visibility.labelHelpContent"></app-info-tooltip>
            </label>
                <!-- <label class="left_space commonLabel">{{helpContent?.trainer_addEdit?.visibility?.label}}
              <sup class="reqFieldActivity">*</sup>
              <div class="help-tooltip">
                <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                <div class="help-tooltip-position-right">
                  <p>{{helpContent?.trainer_addEdit?.visibility?.labelHelpContent}}</p>
                  <i></i>
                </div>
              </div>
            </label> -->

                <!-- <label class="left_space" for="">Visibility<sup class="reqFieldActivity">*</sup> </label> -->
                <select class="commonSelect custom-select" name="visibility" id="visibility" [(ngModel)]="trainerDetails.trainerStatus" #visible="ngModel" required>
          <!-- <option value="" selected disabled>Select visibility</option> -->
          <option  *ngFor="let item of visibility" value={{item.visibilityId}}>{{ item.visibilityName }}</option>
        </select>
                <div [hidden]="visible.valid || visible.pristine" class="invalid-msg">
                    <small [hidden]="!visible.hasError('required')">Select visibility mode</small>
                </div>
            </div>

            <div class="formgroupMargin">
                <label class="side-form-label" for="Address">{{helpContent?.trainer_addEdit?.agency_Name.label}}
                <app-info-tooltip  [description]="helpContent?.trainer_addEdit?.agency_Name.labelHelpContent"></app-info-tooltip>
            </label>
                <!-- <label class="left_space commonLabel">{{helpContent?.trainer_addEdit?.agency_Name?.label}}
              <div class="help-tooltip">
                <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                <div class="help-tooltip-position-right">
                  <p>{{helpContent?.trainer_addEdit?.agency_Name?.labelHelpContent}}</p>
                  <i></i>
                </div>
              </div>
            </label> -->


                <!-- <label class="left_space" for="">Agency Name<sup class="reqFieldActivity">*</sup> </label> -->
                <input type="text" class="form-control form-control-input inputText commonInput commonpadding" id="agencyName" name="agencyName" maxlength="50" minlength="10" placeholder="Max 50 characters" [(ngModel)]="trainerDetails.agencyName" #agencyName="ngModel">
                <div [hidden]="agencyName.valid || agencyName.pristine" class="invalid-msg">
                    <small *ngIf="agencyName.errors?.minlength">Agency name must be between 10 to 50 characters</small>
                </div>
            </div>
        </div>

        <div class="rightDiv">
            <div class="formgroupMargin">
                <label class="side-form-label" for="Address">{{helpContent?.trainer_addEdit?.partner.label}} 
                <app-info-tooltip  [description]="helpContent?.trainer_addEdit?.partner.labelHelpContent"></app-info-tooltip>
            </label>
                <!-- <label class="left_space commonLabel">{{helpContent?.trainer_addEdit?.partner?.label}} -->
                <!-- <sup class="reqFieldActivity">*</sup> -->
                <!-- <div class="help-tooltip">
            <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
            <div class="help-tooltip-position-right">
              <p>{{helpContent?.trainer_addEdit?.partner?.labelHelpContent}}</p>
              <i></i>
            </div>
          </div>
        </label> -->


                <!-- <label class="left_space" for="">Partner</label> -->
                <select class="commonSelect custom-select" name="partner" id="partner" [(ngModel)]="trainerDetails.partner" #partner="ngModel">
      <option value="" selected disabled>Select partner name</option>
      <option *ngFor="let item of partners" value={{item.id}}>{{ item.partnerName }}</option>
    </select>
                <!-- <div [hidden]="partner.valid || partner.pristine" class="invalid-msg">
      <div [hidden]="!partner.hasError('required')">Select partner</div>
    </div> -->
            </div>
            <div class="formgroupMargin">
                <div class="formgroupMargin">
                    <label class="side-form-label" for="Address">{{helpContent?.trainer_addEdit?.alternate_no.label}} 
                  <app-info-tooltip  [description]="helpContent?.trainer_addEdit?.alternate_no.labelHelpContent"></app-info-tooltip>
              </label>
                    <!-- <label class="left_space commonLabel">{{helpContent?.trainer_addEdit?.alternate_no?.label}}
              <div class="help-tooltip">
                <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                <div class="help-tooltip-position-right">
                  <p>{{helpContent?.trainer_addEdit?.alternate_no?.labelHelpContent}}</p>
                  <i></i>
                </div>
              </div>
            </label> -->

                    <!-- <label class="left_space" for="">Alternate Contact Number</label> -->
                    <input type="number" class="form-control form-control-input inputText commonInput commonpadding" id="alternateNo" name="alternateNo" placeholder="+91 ***** *****" pattern=".{10,10}" [(ngModel)]="trainerDetails.alternateMobile" #alteNo="ngModel">
                    <div [hidden]="alteNo.valid || alteNo.pristine" class="invalid-msg">
                        <!-- <div [hidden]="!alteNo.hasError('required')">Contact number is required</div> -->
                        <small *ngIf="alteNo.errors?.pattern">Mobile must have the length of 10 digit</small>
                    </div>
                </div>

                <!-- <div class="formgroupMargin">
            <label class="left_space" for="" style="margin-top: 10px;">Alternate Contact Number</label>
            <input type="number" class="form-control form-control-input inputText" id="alternateNo" name="alternateNo"
              maxlength="10" placeholder="+91 ***** *****" pattern=".{10,10}" [(ngModel)]="trainerDetails.alternateMobile" #alteNo="ngModel">
            <div [hidden]="alteNo.valid || alteNo.pristine" class="invalid-msg">
              <div [hidden]="!alteNo.hasError('required')">Trainer Code is required</div>
              <div *ngIf="alteNo.errors?.minlength">Mobile must have the length of 10 digit</div>
            </div>
          </div> -->

                <div class="formgroupMargin">
                    <label class="side-form-label" for="Address">{{helpContent?.trainer_addEdit?.experience.label}} <sup>&#x2731;</sup>
                <app-info-tooltip  [description]="helpContent?.trainer_addEdit?.experience.labelHelpContent"></app-info-tooltip>
            </label>
                    <!-- <label class="left_space commonLabel">{{helpContent?.trainer_addEdit?.experience?.label}}
              <sup class="reqFieldActivity">*</sup>
              <div class="help-tooltip">
                <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                <div class="help-tooltip-position-right">
                  <p>{{helpContent?.trainer_addEdit?.experience?.labelHelpContent}}</p>
                  <i></i>
                </div>
              </div>
            </label> -->
            <!-- pattern=".{1,2}" -->

                    <!-- <label class="left_space" for="">Experience (In Years)<sup class="reqFieldActivity">*</sup> </label> -->
                    <input type="number" class="form-control form-control-input inputText commonInput commonpadding" pattern="^[0-9]{1,2}[:.,-]?$" id="expYrs" name="expYrs"  minlength='1' min="0" maxlength="2" placeholder="Enter Experience in years" [(ngModel)]="trainerDetails.expYears"
                        #expYr="ngModel" required>
                    <div [hidden]="expYr.valid || expYr.pristine" class="invalid-msg">
                        <small [hidden]="!expYr?.hasError('required')">Experience is required</small>
                        <small *ngIf="expYr?.errors?.pattern">Not a valid value for experience</small>
                        <small *ngIf="expYr?.value?.length<1 ">Enter a valid value</small>
                    </div>
                </div>

                <div class="formgroupMargin">
                    <label class="side-form-label" for="Address">{{helpContent?.trainer_addEdit?.email_id.label}} <sup>&#x2731;</sup>
                <app-info-tooltip  [description]="helpContent?.trainer_addEdit?.email_id.labelHelpContent"></app-info-tooltip>
            </label>
                    <!-- <label class="left_space commonLabel">{{helpContent?.trainer_addEdit?.email_id?.label}}
              <sup class="reqFieldActivity">*</sup>
              <div class="help-tooltip">
                <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                <div class="help-tooltip-position-right">
                  <p>{{helpContent?.trainer_addEdit?.email_id?.labelHelpContent}}</p>
                  <i></i>
                </div>
              </div>
            </label> -->
                    <!-- pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" -->
                    <!-- <label class="left_space" for="">Email id<sup class="reqFieldActivity">*</sup> </label> -->
                    <input type="email" class="form-control form-control-input inputText commonInput commonpadding" id="emailId" name="emailId" placeholder="Enter email id" [(ngModel)]="trainerDetails.emailId" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" #emailId="ngModel"
                        required [email]="true">
                    <div [hidden]="emailId.valid || emailId.pristine" class="invalid-msg">
                        <div [hidden]="!emailId.hasError('required')">Email id is required</div>
                        <!-- <div *ngIf="emailId?.errors?.email">Email must be a valid email address</div> -->
                        <div [hidden]="!emailId.hasError('pattern')">Email format should be
                            <small><b>joe@abc.com</b></small>
                        </div>
                        <!-- <div *ngIf="email.errors?.pattern">Please enter a Valid Email ID format</div> -->
                    </div>
                </div>

                <div class="formgroupMargin">
                    <label class="side-form-label" for="Address">{{helpContent?.trainer_addEdit?.language.label}} <sup>&#x2731;</sup>
                <app-info-tooltip  [description]="helpContent?.trainer_addEdit?.language.labelHelpContent"></app-info-tooltip>
            </label>
                    <!-- <label class="left_space commonLabel">{{helpContent?.trainer_addEdit?.language?.label}}
              <sup class="reqFieldActivity">*</sup>
              <div class="help-tooltip">
                <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                <div class="help-tooltip-position-right">
                  <p>{{helpContent?.trainer_addEdit?.language?.labelHelpContent}}</p>
                  <i></i>
                </div>
              </div>
            </label> -->

                    <!-- <label class="left_space" for="">Language<sup class="reqFieldActivity">*</sup> </label> -->
                    <!-- <select class="form-control" name="lang" id="lang" [(ngModel)]="trainerDetails.lang" #language="ngModel"
              required>
              <option value="" selected disabled>Select Language</option>
              <option *ngFor="let item of languages" value={{item.id}}>{{ item.name }}</option>
            </select> -->
                    <!--  [ngModelOptions]="{standalone: true}" -->
                    <angular2-multiselect id="exampleInputPassword4" [data]="languages" [settings]="settingsLanguageDrop" (onSelect)="onLanguageSelect($event)" (onDeSelect)="onLanguageDeSelect($event)" name="selectedLanguage" #language="ngModel" [ngClass]="{ 'is-invalid': submitted && language.errors }"
                        required [(ngModel)]="trainerDetails.languageId">
                        <c-search>
                            <ng-template>
                                <input class="commonInput commonpadding" type="text" (keyup)="onLanguageSearch($event)" placeholder="Search language..." style="border: none;width: 100%; height: 100%;outline: none;" />
                            </ng-template>
                        </c-search>
                        <c-item>
                            <ng-template let-item="item">
                                <label class="multiselect-label" style="width: 150px;">{{ item.languageId }}</label>
                                <label class="multiselect-label">{{ item.languageName }}</label>
                            </ng-template>
                        </c-item>
                    </angular2-multiselect>
                    <div [hidden]="language.valid || language.pristine" class="invalid-msg">
                        <div [hidden]="!language.hasError('required')">Select Language </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</form>



<div class="deleteModalBackdrop" *ngIf="warningModal">
    <div class="deleteModal">
        <div class="modal-header deleteModalHeader">
            <p class="enableDisableModalHeaderP">Warning</p>
        </div>

        <div class="modal-body">
            <div>
                <p class="enableDisableModalBodyP">Selected learner is already mapped to trainer. please select another learner.
                </p>
            </div>
        </div>

        <div class="modal-footer deleteModalFooter">
            <div class="col-md-2">
                <button type="button" class="deleteModalBtn" (click)="closeWarningModal()">OK</button>
            </div>
        </div>
    </div>
</div>