@import '../../../../@theme/styles/variable.scss';
#editbtn1 {
    padding: 6px 10px;
    border: none;
    margin-left: 10px;
    font-size: 14px;
    border-radius: 3px;
    background: var(--colorBgbtn);
    color: var(--colorBtnTxt);
    border: 1px solid var(--colorBtnTxt);
    outline: none;
    text-transform: capitalize;
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
}

.focus:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25) !important;
}

.focus {
    transition: box-shadow 0.15s ease-in-out;
}

.add_edit_feedback {
    // position: sticky;
    // top: 114px;
    .feedback_tab_body {
        padding: 15px;
        background: white;
        height: 72vh;
    }
    .al-content {
        padding: 0px;
    }
    .fullwiddth {
        width: 100%;
        display: inline-flex;
    }
    .dateinput {
        width: 92%;
        float: left;
    }
    .calfont {
        font-size: 1.5vw;
        color: #fff;
        width: 35px;
        text-align: center;
        display: block;
        margin: auto;
    }
    .divcalicon {
        width: auto;
        display: flex;
        background: #2795d0;
    }
    .sqrCheckBox .sqrCheckBoxLabel {
        border: 1px solid #ccc;
        border-radius: none;
        cursor: pointer;
        height: 16px;
        left: 5px;
        position: -webkit-sticky;
        position: relative;
        width: 16px;
        top: 9.5px;
        margin-right: 10px;
        background: white;
    }
    .sqrCheckBox .sqrCheckBoxLabel:after {
        border: 2px solid #076ba1;
        border-top: none;
        border-right: none;
        content: "";
        height: 4px;
        left: 1.5px;
        opacity: 0;
        position: absolute;
        top: 4.0px;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        width: 12px;
    }
    .sqrCheckBox input[type="checkbox"] {
        visibility: hidden;
        background: white;
        display: none;
    }
    .sqrCheckBox input[type="checkbox"]:checked+.sqrCheckBoxLabel {
        background-color: #ffffff;
        border-color: #076ba1;
    }
    .sqrCheckBox input[type="checkbox"]:checked+.sqrCheckBoxLabel:after {
        opacity: 1;
    }
    .cancelbutquiz {
        background: transparent;
        border: none;
        float: right;
        margin: 5px 0;
        color: grey;
        float: left;
        font-size: 12px;
         :hover {
            color: red
        }
    }
    .addQuestion {
        padding: 5px 10px;
        color: var(--colorBgbtn);
        background: var(--colorBtnTxt);
        border: 1px solid var(--colorBgbtn);
        border-radius: 3px;
        &:hover {
            color: var(--colorBtnTxt);
            background: var(--colorBgbtn);
        }
    }
    .addRuleBackdropaddquiz {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        z-index: 1503;
        background-color: #404040c2;
        .addRuleDemoaddquizModal {
            width: 50%;
            margin: auto;
            background-color: #fff;
            margin-top: 65px;
            border-radius: 5px;
        }
    }
    .marginTop {
        margin-top: 20px;
    }
    .marginBottom {
        margin-bottom: 20px;
    }
    .borderQuestion1 {
        border: 1px solid #eee;
        // margin-bottom: 3px;
        // margin-top: 10px;
        // height: 71vh;
        overflow: hidden;
        padding: 10px 20px 10px 0 !important;
    }
    .text_overflow {
        word-break: break-all;
        overflow-wrap: break-word;
    }
    .borderQuestion {
        border: 1px solid #eee;
        display: grid;
        grid-template-columns: 0.3fr 1.9fr 0.5fr 0.1fr;
        column-gap: 10px;
        align-items: center;
        min-height: 40px;
        // margin-bottom: 3px;
        margin-top: 5px;
        margin-bottom: 0px;
        width: 90%;
        margin-left: 85px;
        padding: 15px 10px 10px;
        cursor: pointer;
        grid-template-rows: 30px,
    }
    .editText {
        outline: none;
        &:hover {
            border-bottom: 1px solid #076ba1;
        }
    }
    .marginBottombutaddquiz {
        margin-bottom: 20px;
    }
    .disblc {
        display: block;
    }
    .dragBtn {
        height: 17px;
        width: 17px;
        background-color: transparent;
        border: none;
        padding: 14px;
    }
    .sortIcon {
        right: 4px;
        font-size: 14px;
        top: -8px;
    }
    .glyphicon-sort:before {
        // color: #076ba1;
        color: var(--colorIcons);
    }
    .glyphicon-move:before {
        // color: #076ba1;
        color: var(--colorIcons);
    }
    .dragBtn:focus {
        outline: none;
    }
    .feedmartop9 {
        margin-top: 9px;
    }
    .feedmartop21 {
        margin-top: 21px;
    }
    .mBodyQue {
        height: 350px;
        overflow-y: scroll;
        width: 100%;
    }
    .mBodyQue1 {
        height: 100px;
        width: 100%;
        padding: 0 30px;
    }
    .addRuleBackdropaddquiz {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        z-index: 1503;
        background-color: #404040c2;
        .addRuleDemoaddquizModal {
            width: 50%;
            margin: auto;
            background-color: #fff;
            margin-top: 65px;
            border-radius: 5px;
        }
    }
    .closeAns1 {
        background: none;
        border: none;
        font-size: 20px;
    }
    .addEditCategory_page_container {
        .content_width {
            width: 78vw;
            margin: 0 auto;
        }
        .addEditCategory_header {
            background: #fff;
            position: sticky;
            top: 4.75rem;
            z-index: 1020;
            .header_grid {
                display: grid;
                grid-template-columns: 1fr 1fr;
                align-items: center;
                height: 50px;
                .header_title {
                    h4 {
                        text-align: left;
                    }
                }
                .buttons_container {
                    text-align: right;
                }
            }
        }
        .section_name_container {
            display: flex;
        }
        .inside_form_container {
            // display: grid;
            // grid-template-columns: 1fr 1fr;
            // background: #fff;
            // margin: 20px;
            .form_grid {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-column-gap: 30px;
                .form_field_container {
                    margin: 20px 0;
                    label {
                        color: #666666;
                    }
                    .required_mark {
                        font-size: 20px;
                        font-weight: 100;
                        top: -0.3em;
                        color: #ed462f;
                    }
                    .image_upload_container {
                        margin-top: 15px;
                        .image_preview {
                            height: 214px;
                            width: 300px;
                            margin-right: auto;
                            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
                            padding: 10px;
                            background: #fff9f9;
                            position: relative;
                            .image_preview_container {
                                height: 194px;
                                width: 100%;
                                background-size: cover;
                                background-position: center;
                                background-repeat: no-repeat;
                                display: grid;
                                grid-template-columns: 1fr 1fr;
                                grid-column-gap: 20px;
                                align-items: end;
                                .icon_upload_image {
                                    margin-left: 10px;
                                    margin-bottom: 10px;
                                    label {
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        background: #fff;
                                        // color: #076ba1;
                                        color: var(--colorIcons);
                                        height: 40px;
                                        width: 40px;
                                        border-radius: 50%;
                                        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
                                        margin-bottom: 0;
                                        padding: 0;
                                        i {
                                            line-height: 40px;
                                        }
                                    }
                                    // margin: 0 auto;
                                }
                                .icon_delete {
                                    margin-left: auto;
                                    margin-right: 10px;
                                    margin-bottom: 10px;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    background: #fff;
                                    color: #076ba1;
                                    height: 40px;
                                    width: 40px;
                                    border-radius: 50%;
                                    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
                                    padding: 0;
                                    i {
                                        line-height: 40px;
                                    }
                                }
                            }
                        }
                    }
                    .not_found {
                        background-image: url('assets/images/category.jpg');
                    }
                    .form_div {
                        padding: 15px;
                    }
                }
            }
        }
    }
    .five_col_grids {
        display: grid;
        grid-template-columns: 3fr 3fr 2fr 2fr 1fr;
        grid-column-gap: 20px;
        align-items: center;
        .required_mark {
            font-size: 20px;
            font-weight: 100;
            top: -0.3em;
            color: #ed462f;
        }
    }
    .flex_header {
        display: flex;
        h5 {
            width: 100%;
            margin: 0;
            align-self: center;
        }
    }
    .feedQnameFlex {
        margin-top: 9px;
        display: flex;
        align-items: center;
    }
    .required_mark {
        font-size: 20px;
        font-weight: 100;
        top: -0.3em;
        color: #ed462f;
    }
    .eyeIcon {
        padding: 16px;
    }
    .modal-header {
        background-color: #076ba1;
        height: 55px;
        color: #fff;
    }
    .feedback>ul {
        background: #fff;
        border-bottom: 1px solid var(--colorCommon) !important;
        padding-left: 0;
        padding-right: 0;
        position: -webkit-sticky;
        position: sticky;
        top: 106px;
        z-index: 2;
    }
    .feedback>ul>li.active>a {
        // color: #076ba1;
        color: var(--colorCommon);
    }
    .feedback>ul>li>a::before {
        // background: #076ba1;
        background: var(--colorCommon);
    }
    .cursor {
        cursor: pointer;
    }
    .feedback>ul>li>a:hover {
        // color: #076ba1;
        color: var(--colorCommon);
    }
    .form_grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 20px;
    }
    // .select_field_height{
    //   height: 35px !important;
    //   width: 100%;
    // }
    .option_grid {
        display: grid;
        grid-template-columns: 1fr 0fr;
    }
    .width100 {
        width: 100%;
    }
    .addOptnBtn {
        text-align: right;
        margin: auto;
    }
}

.disblc {
    display: block;
}

.sortable {
    // background: #eee;
    border-radius: 0.25rem;
    min-height: 40px;
}

.close {
    outline: none;
}

.bg_white {
    background: white;
}
.fnytsiz{
    font-size: 12px;
}

.margin-top-side {
    margin-top: 16px;
}

.margin-bottom-side {
    margin-top: 16px;
}