<!-- <div class="mains">
  <div class="warp" *ngFor=" let item of callArray">
    <div class="d-flex" >
      <p class="headT">{{ item.name }}</p>
      <button class="modalbtn" (click)="openModal()">+</button>
    </div>
    <div class="items">
      <div class="card coursediv col-md-3" *ngFor="let subitems of item.courseList">
        <div class="imgblock">
          <img [src]="subitems.courseImg" class="imgCC"/>
        </div>
        <div class="contents">
          <div class="flextit">
            <p class="title1">{{ subitems.courseName }}</p>
            <i class="fas fa-bars bars"></i>
          </div>
          <div class="desc">
            <p>{{ subitems.courseDesc | slice:0:50 }}</p>
            <div class="progressBar progress">
                <div class="progress-bar" role="progressbar" style="width: 60%" attr.aria-valuenow="{{subitems.progress}}" aria-valuemin="0" aria-valuemax="100">
                    <span class="percents">{{ subitems.progress }} %</span>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="addSelfBackdrop345" [hidden]= "!modal">
  <div class="addSelfDemoModal345">
      <div class="modal-header345">
        <h3 class="modalTitle">Select Courses</h3>
        <button class="close" (click)="closeModal()"><i class="fas fa-times"></i></button>
      </div>
      <div class="modal-body">
          <div class="items">
              <div class=" card coursediv col-md-3" *ngFor="let courses of allCourse">
                <div class="imgblock">
                  <img [src]="courses.courseImg" class="imgCC"/>
                </div>
                <div class="contents">
                  <div class="flextit">
                    <p class="title1">{{ courses.courseName }}</p>
                    <div class="checkbtn" [ngClass]="{ 'selected' : courses.isSelected }" (click)="selectItem(courses)"><i class="fas fa-check"></i></div>
                  </div>
                  <div class="desc">
                    <p>{{ courses.courseDesc | slice:0:50 }}</p>
                    <div class="progressBar progress">
                        <div class="progress-bar" role="progressbar" style="width: 60%" attr.aria-valuenow="{{courses.progress}}" aria-valuemin="0" aria-valuemax="100">
                            <span class="percents">{{ courses.progress }} %</span>
                        </div>
                    </div>
                   
                  </div>
                </div>
              </div>
            </div>

            <div class="modalfooter345">
              <button class="constantbtn" (click)="addSelected()">Add</button>
            </div>
      </div>
  </div>
</div> -->

<div class="add_edit_prog_detail">

    <div *ngIf="courseAvailable">

        <div class='mainDiv'>

            <div class='row'>

                <div class="col-md-12">
                    <div class='col-md-10'>
                        <div style="display: inline-flex">
                            <div class='noPad'>
                                <img class='headImg' src='assets/images/courseDetailIcon1.svg' />
                            </div>
                            <div>
                                <p class='headTitle'>{{courseName}}</p>
                                <!-- <p class='headDesc' title="{{courseDescription}}" *ngIf ="courseDescription.length > 30"> {{courseDescription.substring(0,30)}} ...</p>
                    <p class='headDesc' title="{{courseDescription}}" *ngIf ="courseDescription.length <= 30"> {{courseDescription}}</p> -->
                                <!-- <p class='headTitle'> {{condataCourse.courseName}} </p>
                    <p class='headDesc'> {{condataCourse.cDescription}} </p> -->
                                <!-- <p class='headDetails'>Course Completion: end date   |    total courses Stages</p>         -->
                            </div>
                        </div>
                    </div>
                    <div class='shareContent col-md-2'>
                        <i class="fa fa-times-circle-o deleteModuleIcon" aria-hidden="true" (click)="romoveCourseModules(detail)"></i>
                    </div>
                </div>

            </div>

            <div class="tab_main_container">
                <div class='Tabs'>

                    <div class='Tab-container' *ngFor='let tabs of contentArray;let i=index;' (click)='tabChanged(tabs)' [ngClass]="ActiveTab==i ? 'Tab-container-active' : 'Tab-container'">
                        <div class='Tab-content ' title="{{tabs.modulename}}" *ngIf="tabs.modulename.length > 10" [ngClass]="ActiveTab==i ? 'Tab-content-active' : 'Tab-content'">
                            {{ tabs.modulename.substring(0,10)}} ...
                        </div>
                        <div class='Tab-content' title="{{tabs.modulename}}" *ngIf="tabs.modulename.length <= 10" [ngClass]="ActiveTab==i ? 'Tab-content-active' : 'Tab-content'">
                            {{ tabs.modulename}}
                        </div>
                    </div>

                </div>
            </div>


            <div class='bodyContainer'>
                <div class='bodyContent' *ngFor='let detail of contentDataArray;let i=index;'>
                    <div class="card-overlay" (click)='bookMark(i)'>
                        <img class='bodyImg' [src]="detail.img" />
                    </div>
                    <div class='bodyMid col-9'>
                        <div class='bodyMidHead row'>
                            <p class='bMHP1 col-5'><span class='bNo'> </span><span class='bNa'>{{ detail.activityTitle }}</span></p>
                            <!-- {{ detail.activityId }} -->
                            <div class="col-5 row">
                                <img class='cardImg' src="assets/images/online.svg" />
                                <!-- <p class='bMHP2'>ONLINE   |   45 mins</p> -->
                            </div>
                            <div class="col-md-2 alignCenter">
                                <img *ngIf='detail.bookmarked==true' class='cardImg2' src='assets/images/bookmarked.svg' />
                                <img *ngIf='detail.bookmarked==false' class='cardImg2' src='assets/images/notBookmarked.svg' />
                            </div>
                        </div>
                        <div class='bodydesc'>
                            <p>{{ detail.summary }}</p>
                        </div>
                        <!-- <div class='bodyMidButton' (click)='goToCourseDetails(detail)'>
              <div class='bodyMidButtonText'>Begin</div>
            </div> -->
                    </div>
                </div>
            </div>

        </div>



    </div>

    <div *ngIf="!courseAvailable">
        <ngx-no-data [config]="noDataVal"></ngx-no-data>
        <div class="d-flex justify-content-center">
            <button class="subBttn focus" (click)="openModal()">Browse course</button>
            <!-- <div class="noData">
            <div class="centerAlign">
                <p class="centrtxt">No course selected.</p>
            </div>
        </div> -->
        </div>
    </div>

    <ngx-sidebar-form *ngIf="couresshow" [sidebarTitle]='badgeTitle' [buttonName]="btnName" (saveBtn)='saveCourse()' (outside)='closeModal()' (closeBtn)='closeModal()'>

        <!-- <div class="addCourseBackdrop" *ngIf="couresshow">
        <div class="addCourseBackdropModal">
            <div class="modal-header">
                <p>Select Course</p>
                <button class="close" aria-label="Close" (click)="closeModal()">
              <span aria-hidden="true">&times;</span>
            </button>
            </div> -->
        <div class="search_div">
            <input type="text" [(ngModel)]="search.fullname" class="search_field form-control" placeholder="Search by course name" name="name">
            <i class="fa fa-remove remove_icon" aria-hidden="true" (click)="clear()"></i>
        </div>
        <!-- <div class="mbody modal-body">
                <div class="topDivRe"> -->
        <ng-container *ngIf="( coursesCC | filterBy:search) as result">

            <div class="col-sm-12 card displayin" [ngClass]="{'activeCourse': activeSelectedCourseId == item.courseId}" *ngFor="let item of result; let i = index">
                <div (click)="setActiveSelectedCourse(i, item)">
                    <div class="col-sm-3 floatleft" style="margin-bottom: 15px;">
                        <a>
                            <img for="course{{item.courseId}}" class="courseIcon" (error)="errorHandler($event,item)" src='{{item.coursePicRef?item.coursePicRef:"assets/images/courseicon.jpg"}}'>
                        </a>
                    </div>

                    <div class="courseContainer">
                        <div class="col-sm-8 floatleft">
                            <h5>{{item.fullname}}</h5>
                            <p>{{item.summary}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- </div>
            </div>

            <div class="modal-footer text-right">
                <button type="button" class="constantbtn-button-blue-left" [disabled]="!programId" (click)="saveCourse()">Select</button>
            </div>

        </div>
    </div> -->
            <ngx-no-data *ngIf="result?.length === 0" [config]="noDataVal"></ngx-no-data>
        </ng-container>

    </ngx-sidebar-form>
</div>