
<!-- <router-outlet></router-outlet> -->
<div class="widgets add_edit_badges_container">
  
    <div ba-panel ba-panel-class="with-scroll">
       <section id="feature" class="section01" style="float:none; ">
        <div class="container">
            <div class="row col-md-12 mainrow" style="">
                <div class="col-md-6 maincol" style="">
                    <div class="element-animate mainbox" style="" >
                    <!-- routerLink="../usersComponent" -->
                        <!-- col-lg-4 mb-4 (click)="goToUsers()"-->
                        <div class="ion-ios-cloud cloud"></div>
                        <div class="media custom-media">
                            <!-- <img class="mr-3" width="30" src="img/img_1.jpg" alt="Generic placeholder image"> -->
                            <div class="media-body">
                                <h3 class="mt-0 mainh3" style="">USERS</h3>
                                <!-- <p class="post-meta">May 12, 2018, <a href="#">Children Ministries</a></p> -->
                               <p class="mainp" style=""> Get all the information related to your users here.</p>
                            </div>
                        </div>
                    </div>
                </div>

              <div class="col-md-6 maincol" style="" >
              <!-- (click)="gotocourses()" -->
                    <div class="element-animate mainbox">
                        <!-- col-lg-4 mb-4 --><!-- routerLink="../../courses"  (click)="gotocourses()"-->
                        <div class="ion-ios-cloud cloud" ></div>
                        <div class="media custom-media">
                            <!-- <img class="mr-3" width="30" src="img/img_1.jpg" alt="Generic placeholder image"> -->
                            <div class="media-body">
                                <h3 class="mt-0 mainh3" style="text-align:center; color:#076ba1;">COURSES</h3>
                                <!-- <p class="post-meta">May 12, 2018, <a href="#">Children Ministries</a></p> -->
                                <p class="mainp">Get all the information related to your users here</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row col-md-12" style="margin:0">
                <div class="col-md-6 maincol" style="">
                    <div class="element-animate mainbox">
                        <!-- col-lg-4 mb-4 -->
                        <div class="ion-ios-cloud cloud" ></div>
                        <div class="media custom-media">
                            <!-- <img class="mr-3" width="30" src="img/img_1.jpg" alt="Generic placeholder image"> -->
                            <div class="media-body">
                                <h3 class="mt-0 mainh3">EVALUATION</h3>
                                <!-- <p class="post-meta">May 12, 2018, <a href="#">Children Ministries</a></p> -->
                                <p class="mainp">Get all the information related to your users here</p>
                            </div>
                        </div>
                    </div>
                </div>
                
               <div class="col-md-6 maincol" style="">
                    <div class="element-animate mainbox">
                        <!-- col-lg-4 mb-4 -->
                        <div class="ion-ios-cloud cloud" ></div>
                        <div class="media custom-media">
                            <!-- <img class="mr-3" width="30" src="img/img_1.jpg" alt="Generic placeholder image"> -->
                            <div class="media-body">
                                <h3 class="mt-0 mainh3">COMPETENCY</h3>
                                <!-- <p class="post-meta">May 12, 2018, <a href="#">Children Ministries</a></p> -->
                                <p class="mainp">Get all the information related to your users here</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
               <div class="row col-md-12" style="margin:0">
                <div class="col-md-6 maincol" style="">
                    <div class="element-animate mainbox"  style="">
                    <!-- routerLink="../coursebundle" (click)="gotocoursebundle()"-->
                        <!-- col-lg-4 mb-4 (click)="goToUsers()"-->
                        <div class="ion-ios-cloud cloud"></div>
                        <div class="media custom-media">
                            <!-- <img class="mr-3" width="30" src="img/img_1.jpg" alt="Generic placeholder image"> -->
                            <div class="media-body">
                                <h3 class="mt-0 mainh3" style="">COURSE BUNDLE</h3>
                                <!-- <p class="post-meta">May 12, 2018, <a href="#">Children Ministries</a></p> -->
                               <p class="mainp" style=""> Get all the information related to your users here.</p>
                            </div>
                        </div>
                    </div>
                </div>
              <!--  <div class="col-md-6 maincol" style="">
                    <div class="element-animate mainbox">
                        
                        <div class="ion-ios-cloud cloud" ></div>
                        <div class="media custom-media">
                        
                            <div class="media-body">
                                <h3 class="mt-0 mainh3">COMPETENCY</h3>
                                
                                <p class="mainp">Get all the information related to your users here</p>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>                   
        </div>
       </section>
    </div>

</div>

