/*@import "../../../theme/sass/conf/conf";*/

.modal-buttons .btn {
  margin-right: 20px;
}

/*.modal-content {
  color: $dropdown-text;
}*/

.modal-content{
	position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    background-clip: padding-box;
    border: 1px solid #51c8eB !important;
    border-radius: 0.3rem;
    outline: 0;
    margin: 0 auto;
    /*background: #011217eb !important;*/
    color: #fff;
    height: 216px;
    background-color: rgba(11, 17, 19, 0.99) !important;
    /*@include bg-translucent-dark(0.55);*/
}

button.btn.btn-primary {
    background: #51c8eb;
    border-color: #51c8eb;
}
.modal-header{
    border:none;
}
.modal-footer{
    border:none;
}