<!-- <div class="col-md-12 addEditCattoprow addEditCatsticky-top">  -->
<!-- addEditCatHead -->
<!-- <div class="col-md-6">
    <h4 class="addEditCatHead">{{title}}</h4>
  </div> -->
<!-- <div class="col-sm-6" style="text-align:right" >
    <button type="button" class="btn btn-secondary" id="submitBut" (click)="submit()">Save</button>  
    <button type="submit" class="btn btn-mm btn-default" id="backBut" (click)="back()" > Back</button>
  </div> -->
<!-- <div class="col-md-6 text-right pad14px">
      <button type="button" class="constantbtn-button-blue-left"  [disabled]="!categoryForm.form.valid" (click)="submit()">Save</button>
    <button type="submit" class="constantbtn-button-blue-right" (click)="back()" >Back</button>
    
  </div>
</div> -->
<div class="addEditCategory_container " *ngIf="show">
    <!-- <div class="top_header_container">
    <div class="top_header_div_sticky content_width">
      <div class="page_title">
        <h4>{{title}}</h4>
      </div> -->

    <!-- <div>
                <div class="filter_div">
                    <div class="drop_down">
                        <select [(ngModel)]="cat.id" class="form-control drop_down_select" name="id" (click)="doropserch()">
                            <option value = "">All Categories</option>
                            <option *ngFor="let item of parentcat" value={{item.categoryId}} >{{item.categoryName}}</option>
                        </select>
                    </div>
                    <div class="search_div">
                        <input type="text" [(ngModel)]="search.fullname" class="form-control search_field" placeholder="Search by keywords" name="fname">
                        <i class="fa fa-remove remove_icon" aria-hidden="true" (click)="clear()"></i>
                    </div>
                </div>  
            </div> -->

    <!-- <div class="buttons_div">
        <button type="button" class="constantbtn-button-blue-left" 
          (click)="submit(categoryForm)">Save</button>
        <button type="submit" class="back_button" (click)="back()">Back</button>
      </div>
    </div>
  </div> -->


    <app-subheader [headerConfig]="header" [isSave]="true" (btnone)="submit(categoryForm)" (backClick)="back($event)"></app-subheader>



    <div class="inside_form_container">
        <!-- <div class=" breadcrumbDiv">
            <div class="btn-group btn-breadcrumb1 breadcrumbDiv">
                <a class="btn btn-primary1 firstChild" (click)="back()">
                    <i class="glyphicon glyphicon-list"></i> Question Bank Category
                </a>
                <a class="btn btn-primary1 lastChild">{{title}}</a>
            </div>
        </div> -->
        <p class="card-title cardTitle">Question Bank Category Details</p>
        <form #categoryForm="ngForm">
            <div class="form_grid">
                <div class="left_form_container">
                    <div class="form-group form_field_container">
                        <label class="side-form-label">{{helpContent?.qb_editCat?.qb_catname.label}} <sup>&#x2731;</sup>
                        <app-info-tooltip  [description]="helpContent?.qb_editCat?.qb_catname.labelHelpContent"></app-info-tooltip>
                    </label>
                        <!-- <label class="commonLabel" for="catna">
                  {{helpContent?.qb_editCat?.qb_catname.label}}
                  <sup class="required_mark">*</sup>
                  <div class="help-tooltip">
                    <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                    <div class="help-tooltip-position-right">
                      <p>{{helpContent?.qb_editCat?.qb_catname?.labelHelpContent}}</p>
                      <i></i>
                    </div>
                  </div>
              </label> -->
                        <!-- <label for="catna">Category Name<sup class="required_mark">*</sup></label> -->
                        <input type="text" class="form-control commonInput" maxlength="50" minlength="2" id="catna" [(ngModel)]="formdata.cname" required placeholder="Max 50 Characters" name="cname" #cname="ngModel">
                        <!-- <div *ngIf="cname.errors && (cname.dirty || cname.touched)" class="alert alert-danger">
              <div [hidden]="!cname.errors.required">Category Name is required</div>
            </div> -->

                        <div *ngIf="cname.errors && (cname.dirty || cname.touched)">
                            <small class="invalid-msg" [hidden]="!cname.errors.required">Category Name is required</small>
                            <small class="invalid-msg" [hidden]="!cname.errors.minlength">Minimum 2 characters required</small>
                        </div>
                        <span></span>
                    </div>
                    <div class="form-group form_field_container">
                        <label class="side-form-label">{{helpContent?.qb_editCat?.qb_desc.label}} <sup>&#x2731;</sup>
                        <app-info-tooltip  [description]="helpContent?.qb_editCat?.qb_desc.labelHelpContent"></app-info-tooltip>
                    </label>
                        <!-- <label class="commonLabel" for="des">
                  {{helpContent?.qb_editCat?.qb_desc.label}}
                  <sup class="required_mark">*</sup>
                  <div class="help-tooltip">
                    <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                    <div class="help-tooltip-position-right">
                      <p>{{helpContent?.qb_editCat?.qb_desc?.labelHelpContent}}</p>
                      <i></i>
                    </div>
                  </div>
              </label> -->
                        <!-- <label for="des">Short Description<sup class="required_mark">*</sup></label> -->
                        <!-- <input type="text" class="form-control" id="catna" [(ngModel)]="formdata.description" placeholder="Description" name="description" #description="ngModel" required> -->
                        <textarea class="form-control taskedittextarea ng-pristine ng-valid ng-valid-maxlength ng-touched commonTextarea" id="cdesc" placeholder="Min 20 and Max 500 characters." maxlength="500" minlength="20" name="cdesc" [(ngModel)]="formdata.cdesc" minlength="20"
                            maxlength="500" #cdesc="ngModel" required pattern=".{20,500}">
                      </textarea>
                        <!-- <div *ngIf="cdesc.errors && (cdesc.dirty || cdesc.touched)" class="alert alert-danger">
              <div [hidden]="!cdesc.errors.required">Category Description is Required</div>
              <div [hidden]="!cdesc.errors.minlenght">Minimum 20 characters Required</div>
              <div [hidden]="!cdesc.hasError('maxlength')">Maximum 500 characters</div>
            </div> -->

                        <div *ngIf="cdesc.errors && (cdesc.dirty || cdesc.touched)">
                            <small class="invalid-msg" [hidden]="!cdesc.errors.required">Category Description is Required</small>
                            <small class="invalid-msg" [hidden]="!cdesc.errors.minlength">Minimum 20 characters Required</small>
                        </div>
                        <span></span>
                    </div>
                    <div class="form-group form_field_container">
                        <label class="side-form-label">{{helpContent?.qb_editCat?.qb_tag.label}} <sup>&#x2731;</sup>
                        <app-info-tooltip  [description]="helpContent?.qb_editCat?.qb_tag.labelHelpContent"></app-info-tooltip>
                    </label>
                        <!-- <label class="commonLabel" for="items">
                  {{helpContent?.qb_editCat?.qb_tag.label}}
                  <sup class="required_mark">*</sup>
                  <div class="help-tooltip">
                    <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                    <div class="help-tooltip-position-right">
                      <p>{{helpContent?.qb_editCat?.qb_tag?.labelHelpContent}}</p>
                      <i></i>
                    </div>
                  </div>
              </label> -->
                        <!-- <label for="items">Tags <sup class="required_mark">*</sup></label> -->
                        <div id="addTags">
                            <angular2-multiselect id="exampleInputTags4" [data]="tagList" [(ngModel)]="selectedTags" [settings]="settingsTagDrop" required #tags="ngModel" (onSelect)="onTagsSelect($event)" class="select_field_height" (onDeSelect)="OnTagDeSelect($event)" name="selectedTags"
                                ngDefaultControl>
                                <!-- <c-search>
                  <ng-template>
                    <input type="text" (keyup)="onTagSearch($event)"
                      placeholder="Search Tags"
                      style="border: none;width: 100%; height: 100%;outline: none;" />
                  </ng-template>
                </c-search> -->
                                <c-item>
                                    <ng-template let-item="item">
                                        <label class="commonLabel" style="color: #333;">{{item.name}}</label>
                                    </ng-template>
                                </c-item>
                            </angular2-multiselect>
                            <div *ngIf="tags.errors && (tags.dirty || tags.touched)">
                                <small class="invalid-msg" [hidden]="!tags.errors.required">Tag is required</small>
                            </div>
                        </div>
                        <span></span>
                    </div>
                </div>
                <div class="right_form_container">

                    <form class="forms-sample form_field_container">
                        <label class="side-form-label">{{helpContent?.qb_editCat?.qb_img.label}} 
                        <app-info-tooltip  [description]="helpContent?.qb_editCat?.qb_img.labelHelpContent"></app-info-tooltip>
                    </label>
                        <!-- <label class="commonLabel" for="">
                  {{helpContent?.qb_editCat?.qb_img.label}} -->
                        <!-- <sup class="required_mark">*</sup> -->
                        <!-- <div class="help-tooltip">
                    <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                    <div class="help-tooltip-position-right">
                      <p>{{helpContent?.qb_editCat?.qb_img?.labelHelpContent}}</p>
                      <i></i>
                    </div>
                  </div>
              </label> -->
                        <!-- <label>
                  Category Image
                </label> -->
                        <div class="image_upload_container">
                            <div class="image_preview">

                                <!-- style="background-image: url('https://bhaveshedgetest.s3.ap-south-1.amazonaws.com/BFL.jpg')"  -->
                                <div class="image_preview_container" [style.background-image]="'url(' + formdata.picRef + ')'">
                                    <div class="icon_upload_image">
                                        <input class="commonInput" type='file' id="imageUpload_1" [(ngModel)]="formdata.categoryPicRefs" [ngModelOptions]="{standalone: true}" accept=".png, .jpg, .jpeg" style="display:none" (change)="readCategoryThumb($event)" />
                                        <label for="imageUpload_1" title="Change Thumbnail"><i class="fa fa-pencil"
                            aria-hidden="true"></i></label>
                                    </div>
                                    <div class="icon_delete" (click)="deleteCategoryThumb()">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                        <!-- <label></label> -->
                                    </div>

                                </div>


                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </form>
    </div>
</div>


<!-- <div class="widgets">
  <div  ba-panel ba-panel-class="with-scroll" > -->
<!-- <div class="col-md-12 mrgn10">
      <div class="btn-group btn-breadcrumb1 breadcrumbDiv">
            <a class="btn btn-primary1 firstChild" (click)="back()">
              <i class="glyphicon glyphicon-list"></i>
             Question Bank Category
            </a>
            <a class="btn btn-primary1 lastChild" >{{title}}</a>

      </div>
   </div> -->
<!-- <div class="col-sm-12 pad0"> -->
<!--               <div class="row m0" style="width: 100%;"> -->
<!-- <div class="col-md-12 grid-margin stretch-card" > 
               
                  <div class="card cardForm">
                    <div class="card-body pad0">
                       <h4 class="card-title cardTitle">Category Details</h4>
                    <div class="col-md-6 "> -->
<!--   <p class="card-description">
                        
                      </p> -->
<!-- <form class="forms-sample" #categoryForm="ngForm"> -->
<!--  <div class="form-group">
                          <label class="space_left" for="catid">Category Id</label>
                          <input type="text" class="form-control" id="catid" [(ngModel)]="formdata.idnumber" required placeholder="Category Id" name="idnumber" #idnumber="ngModel">
                          <div [hidden]="idnumber.valid || idnumber.pristine" class="alert alert-danger">
                            <div [hidden]="!idnumber.errors.required">Category Id is required</div>
                          </div>
                          <span></span>
                        </div> -->
<!-- <div class="form-group">
                          <label class="space_left"  for="catna">Category Name<sup class="required_mark">*</sup></label>
                          <input type="text" class="form-control" maxlength="50" id="catna" [(ngModel)]="formdata.cname" required placeholder="Max 50 Characters" name="cname" #cname="ngModel" >
                          <div *ngIf="cname.errors && (cname.dirty || cname.touched)"
                                  class="alert alert-danger">
                            <div [hidden]="!cname.errors.required">Category Name is required</div>
                          </div>
                          <span></span>
                        </div> -->
<!--   <div class="form-group">
                          <label class="space_left" for="pcatid">Parent Category</label>
                         <select [(ngModel)]="formdata.parent" id="pcatid" class="form-control" required name="parent" #parent="ngModel">
                                  <option value = "">Select Type</option>
                                    <option *ngFor="let item of parentcat" value={{item.id}} >{{item.name}}</option>
                                </select>
                          <div [hidden]="parent.valid || parent.pristine"
                                  class="alert alert-danger">
                            <div [hidden]="!parent.errors.required">Parent Category is required</div>
                          </div>
                          <span></span>
                        </div> -->
<!-- <div class="form-group">
                          <label class="space_left" for="des">Short Description<sup class="required_mark">*</sup></label> -->
<!-- <input type="text" class="form-control" id="catna" [(ngModel)]="formdata.description" placeholder="Description" name="description" #description="ngModel" required> -->
<!-- <textarea class="form-control taskedittextarea ng-pristine ng-valid ng-valid-maxlength ng-touched" id="cdesc"  placeholder="Min 20 and Max 500 characters." maxlength="500" minlength="20" name="cdesc" [(ngModel)]="formdata.cdesc" minlength="20" maxlength="500" #cdesc="ngModel" required pattern=".{20,500}">          
                            </textarea>
                          <div *ngIf="cdesc.errors && (cdesc.dirty || cdesc.touched)"
                                  class="alert alert-danger">
                            <div [hidden]="!cdesc.errors.required">Category Description is Required</div>
                            <div [hidden]="!cdesc.errors.minlenght">Minimum 20 characters Required</div>
                            <!-- <div [hidden]="!cdesc.hasError('maxlength')">Maximum 500 characters</div> -->
<!-- </div>
                          <span></span>
                        </div> -->
<!--                       
                        <div class="form-group">
                          <label class="space_left" for="items">Tags <sup class="required_mark">*</sup></label>
                          <tag-input [theme]="'bootstrap'" [separatorKeyCodes]="[32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,58,59,60,61,62,63,64188]" [(ngModel)]="formdata.ctags" name="items" required #ctags="ngModel">
                          </tag-input>

                           <div [hidden]="ctags.valid || ctags.pristine" class="alert alert-danger">
                           <div *ngIf="ctags.errors && (ctags.dirty || ctags.touched)">Tags are required</div> -->
<!-- <div [hidden]="!summary.errors.minlength">Maximum 500 characters required</div> -->
<!-- </div>
                          <span></span>
                        </div>
                 
                       
                      </form>
                    </div> -->
<!-- <div class="col-md-6" > -->

<!-- <form class="forms-sample">
                                    <div class="form-group">
                                      <label class="space_left" for="items">Category Thumbnail <h3 class="reqFieldActivity">&nbsp;</h3></label>
                                        <div class="categoryIcon">
                                            <div class="m0 categoryIcon-upload">
                                                <div class="categoryIcon-edit">
                                                    <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" (change)="readCategoryThumb($event)" />
                                                    <label for="imageUpload" title="Change Thumbnail"></label> -->
<!-- <label for="imageUpload"></label> -->
<!-- </div>
                                                <div class="categoryIcon-delete" (click)="deleteCategoryThumb()">
                                                    <label title="Restore to default"></label>
                                                    
                                                </div>
                                                <div class="categoryIcon-preview"> -->
<!-- <div id="imagePreview" [ngStyle]="{'background-image': 'url(' + this.defaultThumb + ')'}" ngDefaultControl> -->
<!-- <img src={{formdata.picRef}}>
                                                   
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form> -->
<!-- </div> -->
<!-- </div>
                </div> -->

<!--           <div class="col-md-6 grid-margin stretch-card" style="margin-top: 25px;padding-right: 25px;">
                  <div class="card cardForm">
                    <div class="card-body">
                      <h4 class="card-title">Category Picture</h4>
                      <p class="card-description">
                        
                      </p>
                      <form class="forms-sample">
                        
                        <div class="form-group">
                          <div class="photo-left">
                            <div class="m0 avatar-upload">
                              <div class="avatar-edit">
                                  <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" (change)="readUrl($event)" />
                                  <label for="imageUpload"></label>
                              </div>
                              <div class="avatar-delete" (click)="deleteProfile()">
                                 <label></label>
                              </div>
                              <div class="avatar-preview">
                                  <div id="imagePreview" [ngStyle]="{'background-image': 'url(' + profileUrl + ')'}">
                                  </div>
                              </div>
                            </div>
                          </div>
                        </div> 
                        
                      </form>
                    </div>
                  </div>
                </div> -->

<!-- </div>
                    </div> -->




<!-- </div> -->
<!-- </div>
</div> -->