<!-- <div class="componentCard1" *ngIf="!skeleton">
    <div class="fb-item">
        <div class="first-section-wrapper">
          <div class="gravatar">
            <ngx-skeleton-loader appearance="circle" [theme]="{ width: '60px', height: '60px' }">
            </ngx-skeleton-loader>
          </div>
          <div class="gravatar-title">
            <div>
              <ngx-skeleton-loader
                [theme]="{
                  width: '120px',
                  'border-radius': '0',
                  height: '15px',
                  'margin-bottom': '10px'
                }"
              ></ngx-skeleton-loader>
            </div>
            <div>
              <ngx-skeleton-loader
                [theme]="{     
                  width: '120px',
                  'border-radius': '0',
                  height: '15px'
                }"
              ></ngx-skeleton-loader>
            </div>
          </div>
        </div>
      </div>
</div>
<div class="componentCard" *ngIf="skeleton">
  <div class="gridSections" >
    <div class="iconClass">
        <i class="fas fa-users"></i>
    </div>
    <div class="txtMargin">
      <p class="titleNo">{{ total_courses }}</p>
      <p class="subtitile">Total Users</p>
    </div>
  </div>
</div> -->


<!-- ===================================================== -->
<div class="widget-card d-flex align-items-center">
  <i class="fas fa-users"></i>
  <div class="content pl-4">
    <p class="m-0">{{ total_courses }}</p>
    <label class="font-weight-normal m-0">Total Courses</label>
  </div>
</div>