.engage {
    .container {
        margin: 0;
        padding: 0 25px;
    }
    /* The container */
    .container1 {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 14px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        font-weight: 100;
        //color: #2196F3;
        color: black;
        font-weight: 660;
    }
    /* Hide the browser's default checkbox */
    .container1 input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }
    /* Create a custom checkbox */
    .checkmark1 {
        position: absolute;
        top: 0;
        left: 0;
        height: 18px;
        width: 18px;
        /* background-color: #eee; */
        border: 1px solid #048AD2;
    }
    /* On mouse-over, add a grey background color */
    .container1:hover input~.checkmark1 {
        background-color: #ccc;
    }
    /* When the checkbox is checked, add a blue background */
    .container1 input:checked~.checkmark1 {
        // background-color: #2196F3;
    }
    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark1:after {
        content: "";
        position: absolute;
        display: none;
    }
    /* Show the checkmark when checked */
    .container1 input:checked~.checkmark1:after {
        display: block;
    }
    /* Style the checkmark/indicator */
    .container1 .checkmark1:after {
        left: 6px;
        top: 1px;
        width: 6px;
        height: 12px;
        border: solid #048AD2;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    .searchBar input[type="text"] {
        margin-bottom: 15px;
        width: 100%;
        padding: 10px;
        position: relative;
    }
    .searchBar ::placeholder {
        color: #313233bf;
    }
    .searchInput {
        width: 100%;
        border: none;
        border-bottom: 1px solid #ccc;
        background: transparent;
        box-shadow: none;
        border-radius: 0;
        margin-bottom: 2rem;
    }
    .searchRemove {
        position: absolute;
        top: 0px;
        right: 15px;
        cursor: pointer;
        // padding:0px;
    }
    .ngx-datatable.fixed-header .datatable-header .datatable-header-inner .datatable-header-cell {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        // text-align: center;
        font-size: 14px;
        color: black;
    }
    .ngx-datatable.material {
        background: #FFF;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .ngx-datatable.fixed-row .datatable-scroll .datatable-body-row {
        border-bottom: 0.5px solid #e8dedef0;
    }
    .form-control {
        -webkit-box-shadow: none;
        box-shadow: none;
        border: 1px solid #ccc;
    }
    .courseEngageBtn {
        border-radius: 0;
        background: #048ad2;
        color: #fff;
        border: #02a0f5;
        height: 29px;
        -webkit-transform: none;
        transform: none;
    }
    .courseEngageBackBtn {
        margin: 0 10px;
        border-radius: 0;
        background: #048ad2;
        color: #fff;
        border: #02a0f5;
        height: 29px;
        color: #ffffff;
        background-color: #bbc0c3;
        background-image: none;
        border-color: #02a0f5;
        -webkit-transform: none;
        transform: none;
    }
    .addSelfBackdropen {
        // position: absolute;
        // width: 100%;
        // height: 100%;
        // top: 67px;
        // padding: 0;
        // background-color: #404040c2;
        // z-index: 2000;
        // box-sizing: border-box;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        z-index: 1503;
        background-color: #404040c2;
    }
    .addSelfDemoModalen {
        // margin: auto;
        // width: 50%;
        // background-color: #fff;
        // border-radius: 5px;
        // margin-top: 2%;
        width: 60%;
        margin: auto;
        background-color: #fff;
        margin-top: 65px;
        border-radius: 5px;
        z-index: 0;
    }
    .modal-header {
        background-color: #048ad2;
        height: 55px;
        color: #fff;
    }
    .close {
        float: right;
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1;
        color: #fff;
        text-shadow: 0 1px 0 #fff;
        opacity: .5;
    }
    .modal-footer {
        // height: 55px;
        height: auto;
    }
    .over {
        height: 365px;
        overflow-y: scroll;
    }
    .selectDropen {
        height: calc(2rem + 10px);
    }
    .mardis {
        padding: 5px;
    }
    .text-notification-text {
        margin: 10px 0 10px 0px;
        border-bottom: 1px solid #e6e1e1;
        .edit-notification-grid {
            height: 56px;
            display: grid;
            grid-template-columns: 2fr 4fr 1fr;
            width: 100%;
            align-items: center;
            .preview-button {
                text-align: right;
            }
        }
        .content-boxes {
            margin: 10px 0;
            .engage-content-area,
            .ql-snow {
                height: 100px;
            }
        }
    }
    .modal-header {
        background-color: #048ad2;
        height: 55px;
        color: #fff;
    }
    .modal-body .row {
        margin: 0;
    }
    .modal-body {
        position: relative;
        padding: 0;
        // display: flex;
        box-sizing: border-box;
    }
    .enableDisableModalBodyP {
        margin: 1rem;
    }
    .modal-footer {
        // height: 55px;
        height: auto;
    }
    .ngx-datatable .datatable-body .datatable-row-wrapper {
        cursor: pointer;
    }
    .reqField {
        display: inline;
        color: #ed462f;
    }
    .addSelfDemoModalEngage {
        margin: auto;
        width: 50%;
        background-color: #fff;
        border-radius: 5px;
        margin-top: 2%;
        z-index: 9999;
    }
    .OuterDiv {
        padding: 20px;
        width: 100%;
    }
    .InnerDiv {
        padding-bottom: 10px;
        p {
            color: black;
        }
    }
}