<div class="engage">
    <!-- <div class="text-right">
        <button type="button" class="constantbtn-button-blue-left" (click)="openAddEdit()">
      Add Notification
    </button>
    </div> -->
    <div class="col-md-12 " *ngIf="rows.length!=0">
        <input type="text" placeholder="Search" class="searchInput commonInput" [(ngModel)]="searchvalue.value" (keyup)="searchnotification($event)" />
        <i class="fa fa-remove searchRemove" (click)="clearesearch()"></i>
    </div>
    <!-- <div class="col-md-12 container"> -->
    <!-- <div class="col-md-12  ">
                <input type="text" placeholder="Search" class="searchInput commonInput" (keyup)='searchnotification($event)'>
            </div> -->
    <div class="tableCompo">
        <ngx-enrol-table [label]="notificationLabel" [pagination]="true" [tableData]="rows" (clickOnicon)="onSelect($event)" (clickOnbutton)="visibilityTableRow($event)"></ngx-enrol-table>
    </div>
    <ngx-no-data [config]="noDataVal" *ngIf="rows?.length==0"></ngx-no-data>

    <!-- <div>
            <ngx-datatable #tablenoti style="width:100%" class="material" [columns]="columns" [rows]=rows [headerHeight]="50" [footerHeight]="50" [rowHeight]="50" [limit]="10" [width]="30" [columnMode]="'force'" [selected]="selected" [selectAllRowsOnPage]="false"
                (activate)="onSelect($event)">
            </ngx-datatable>

             </div> -->
    <ngx-sidebar-form *ngIf="addEngagePopup" [sidebarTitle]='notiTitle' [buttonName]="btnName" (saveBtn)='submitCourseNotification(CourseNotification,notiForm)' (outside)='closeEngageModal()' (closeBtn)='closeEngageModal()'>
        <!-- <div class="addSelfBackdropen" *ngIf="addEngagePopup == true">
        <div class="addSelfDemoModalen">
            <div class="modal-header">
                <p *ngIf="addFlag">Add Notifications</p>
                <p *ngIf="!addFlag">Edit Notifications</p>
                <button class="close " aria-label="Close" (click)="closeEngageModal()">
                    <span aria-hidden="true">&times;</span>
                  </button>
            </div> -->
        <ngx-sidemenu-drower *ngIf="init">
            <div>
                <ngx-drag-chips-component [inputTags]="tagsArray" [vertical]="true"></ngx-drag-chips-component>
            </div>
        </ngx-sidemenu-drower>
        <!-- <textarea class="form-control dropped_content ui-droppable" aria-label="With textarea"></textarea> -->
        <div class="modal-body">
            <!-- <ngx-drag-chips-component [inputTags]="tagsArray" *ngIf="init"></ngx-drag-chips-component> -->
            <form #notiForm="ngForm">
                <div class="row">
                    <div class="form-group col-md-12">
                        <label class="side-form-label">{{helpContent?.courses_notification?.name?.label}}<sup>&#x2731;</sup>
                            <app-info-tooltip  [description]="helpContent?.courses_notification?.name?.labelHelpContent"></app-info-tooltip>
                            </label>
                        <!-- <label class="commonLabel" for="left_space">{{helpContent?.courses_notification?.name?.label}}
                          <sup class="reqFieldActivity">*</sup>
                          <div class="help-tooltip">
                            <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                            <div class="help-tooltip-position-right">
                              <p>
                                {{helpContent?.courses_notification?.name?.labelHelpContent}}
                              </p>
                              <i></i>
                            </div>
                          </div>
                        </label> -->
                        <!-- <label class="left_space">Name<h3 class="reqFieldActivity">*</h3></label> -->
                        <textarea class="form-control commonInput" aria-label="With textarea" [(ngModel)]="CourseNotification.name" placeholder="Maximum 50 characters" name="name" #name="ngModel" minlength="2" maxlength="50" required></textarea>
                        <!-- <input type="text" class="form-control form-control-input inputText" [(ngModel)]="CourseNotification.name"
                          placeholder="Maximum 50 characters" name="name" #name="ngModel" minlength="2" maxlength="50" required> -->
                        <div *ngIf="name.errors && (name.dirty || name.touched)">
                            <!-- <div [hidden]="!name.errors.required">Name is required.</div>
                                <div [hidden]="!name.errors.minlength">
                                    Minimum 2 characters required
                                </div> -->
                            <small class="invalid-msg" *ngIf="name.errors.required">Name is required.</small>
                            <small class="invalid-msg" *ngIf="name.errors.minlength">Minimum 2 characters required.</small>
                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        <label class="side-form-label">{{helpContent?.courses_notification?.description?.label}}<sup>&#x2731;</sup>
                            <app-info-tooltip  [description]="helpContent?.courses_notification?.description?.labelHelpContent"></app-info-tooltip>
                        </label>
                        <!-- <label for="left_space">{{helpContent?.courses_notification?.description?.label}}
                          <sup class="reqFieldActivity">*</sup>
                          <div class="help-tooltip">
                            <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                            <div class="help-tooltip-position-right">
                              <p>
                                {{helpContent?.courses_notification?.description?.labelHelpContent}}
                              </p>
                              <i></i>
                            </div>
                          </div>
                        </label> -->
                        <!-- <label class="left_space">Description<h3 class="reqFieldActivity">*</h3></label> -->
                        <textarea type="text" class="form-control commonTextarea" [(ngModel)]="CourseNotification.desc" placeholder="Min 20 Max 500 character" name="desc" #desc="ngModel" minlength="20" maxlength="500" required></textarea>
                        <div *ngIf="desc.errors && (desc.dirty || desc.touched)" class="alert alert-danger">
                            <small class="invalid-msg" *ngIf="desc.errors.required">Description is required.</small>
                            <small class="invalid-msg" *ngIf="desc.errors.minlength">Minimum 20 and maximum 250 characters characters required.</small>
                            <!-- <div [hidden]="!desc.errors.required">
                                    Description is required.
                                </div>
                                <div [hidden]="!desc.errors.minlength">
                                    Minimum 20 and maximum 250 characters required
                                </div> -->
                        </div>
                    </div>

                    <!-- new -->
                    <div class="form-group col-md-12">
                        <label class="side-form-label">{{helpContent?.courses_notification?.visibility?.label}}<sup>&#x2731;</sup>
                          <app-info-tooltip [description]="helpContent?.courses_notification?.visibility?.labelHelpContent"></app-info-tooltip>
                      </label>
                        <select [(ngModel)]="CourseNotification.visibility" [disabled]="disableVisiblityStatusForRole" id="visible" class="custom-select commonSelect" required name="visible" #visible="ngModel">
                          <option value="" selected disabled>Select Type</option>
                          <option *ngFor="let item of visibility" value={{item.id}}>{{item.name}}</option>
                      </select>
                        <div *ngIf="visible.errors && (visible.dirty || visible.touched)">
                            <small class="invalid-msg" [hidden]="!visible.errors.required">
                              Visibility is required
                          </small>
                        </div>
                    </div>
                    <!-- End new -->

                </div>

                <div class="row">
                    <div class="form-group col-md-12">
                        <div>
                            <label class="side-form-label">{{helpContent?.courses_notification?.event?.label}}<sup>&#x2731;</sup>
                                <app-info-tooltip  [description]="helpContent?.courses_notification?.event?.labelHelpContent"></app-info-tooltip>
                                </label>
                            <!-- <label for="left_space">{{helpContent?.courses_notification?.event?.label}}
                            <sup class="reqFieldActivity">*</sup>
                            <div class="help-tooltip">
                              <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                              <div class="help-tooltip-position-right">
                                <p>
                                  {{helpContent?.courses_notification?.event?.labelHelpContent}}
                                </p>
                                <i></i>
                              </div>
                            </div>
                          </label> -->
                            <!-- <label class="left_space">Event<h3 class="reqFieldActivity">*</h3></label> -->
                            <select class="commonSelect custom-select" name="dropdown2" [(ngModel)]="CourseNotification.event" name="event" (change)="onChange2(CourseNotification.event)" #evnt="ngModel" style="height:34px ;" required>
                            <option value="" selected="selected">Select Events</option>
                            <option *ngFor="let temp of eventsDrop" value="{{temp.notEventId}}">{{temp.notEvent}}
                            </option>
                          </select>
                            <div *ngIf="evnt.errors && (evnt.dirty || evnt.touched)">
                                <small class="invalid-msg" *ngIf="evnt.errors.required">Event is required.</small>
                                <!-- <div [hidden]="!evnt.errors.required">Event is required.</div> -->
                            </div>
                        </div>

                        <!-- <div [hidden]="enterDays !='nDays' || selectMethod == 'Date' " class="daysInputNo">
                          <div class="row enterDaysDiv">
                            <label for="enterDays">Enter Days</label>
                            <input type="number" class="form-control form-control-input " id="enterDays" min="0" max="365">
                          </div>
                        </div> -->
                    </div>
                </div>

                <div class="row" [hidden]="CourseNotification.event == ''">
                    <div class="form-group col-md-12 ">
                        <div class="text-notification-text" *ngIf="userData[0].flag==true">
                            <div class="edit-notification-grid">
                                <div>
                                    <label class="container1">
                                          <label class="side-form-label">{{helpContent?.courses_notification?.text_sms?.label}}
                                            <app-info-tooltip  [description]="helpContent?.courses_notification?.text_sms?.labelHelpContent"></app-info-tooltip>
                                            </label>
                                    <!-- <label for="left_space">{{helpContent?.courses_notification?.text_sms?.label}}
                                  <div class="help-tooltip">
                                    <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                                    <div class="help-tooltip-position-right">
                                      <p>
                                        {{helpContent?.courses_notification?.text_sms?.labelHelpContent}}
                                      </p>
                                      <i></i>
                                    </div>
                                  </div>
                                </label> -->
                                    <input type="checkbox" id="lnmsg" name="lnmsg" value="true" [(ngModel)]="CourseNotification.lnmsg" (ngModelChange)="smsValidCheck($event)" />
                                    <span class="checkmark1"></span>
                                    </label>
                                </div>
                                <div *ngIf="CourseNotification.lnmsg == true">
                                    <select [(ngModel)]="CourseNotification.lnmsgtemp" id="exampleInputAccRole3" class="commonSelect custom-select" name="lnmsgtemp" (change)="onChangeDropDownSms($event)">
                                <option value="" selected="selected">{{userData[0].selectplace}}</option>
                                <option *ngFor="let temp of templatesms" value="{{temp.id}}">{{temp.name}}
                                </option>
                              </select>
                                </div>
                                <!-- <div class="preview-button"
                              *ngIf="CourseNotification.reviewTextSms == true && CourseNotification.lnmsg == true">
                              <button class="constantbtn-button-blue-left"
                                (click)="getTempData(1,CourseNotification.lnmsgtemp)">Preview</button>
                            </div> -->
                            </div>
                            <div class="content-boxes" [hidden]="!(CourseNotification.lnmsg == true && CourseNotification.reviewTextSms == true)">
                                <label class="side-form-label">{{userData[0].Edittemp}}</label>
                                <textarea type="text" class="form-control commonTextarea dropped_content" placeholder="Edit Template" name="Edit-Template-Sms" #content="ngModel" [(ngModel)]="CourseNotification.editSmsTemplateData" [required]="CourseNotification.lnmsg" [minlength]="smsMinText"
                                    [maxlength]="smsMaxText"></textarea>
                                <div class="text-right mt-2 mb-2 side-form-label">Character count: {{CourseNotification?.editSmsTemplateData?.length}} / 140</div>
                                <div *ngIf="content.invalid && content.touched||content.dirty">
                                    <small class="invalid-msg" *ngIf="content.hasError('required')">Template is required.</small>
                                    <small class="invalid-msg" *ngIf="content.hasError('minlength')">Minimum 20 characters required.</small>
                                    <small class="invalid-msg" *ngIf="content.hasError('maxlength')">Enter Maximum 140 characters only.</small>
                                    <!-- <div [hidden]="!content.hasError('required')">Content is required</div>
                                        <div [hidden]="!content.hasError('minlength')">Minimum 20 required.</div>
                                        <div [hidden]="!content.hasError('maxlength')">Enter Maximum 140 characters only.</div> -->
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="text-notification-text" *ngIf="userData[1].flag==true">
                            <div class="edit-notification-grid">
                                <div>
                                    <label class="container1">
                                          <label class="side-form-label">{{helpContent?.courses_notification?.app_notification?.label}}
                                            <app-info-tooltip  [description]="helpContent?.courses_notification?.app_notification?.labelHelpContent"></app-info-tooltip>
                                            </label>
                                    <!-- <label for="left_space">{{helpContent?.courses_notification?.app_notification?.label}}
                                  <div class="help-tooltip">
                                    <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                                    <div class="help-tooltip-position-right">
                                      <p>
                                        {{helpContent?.courses_notification?.app_notification?.labelHelpContent}}
                                      </p>
                                      <i></i>
                                    </div>
                                  </div>
                                </label> -->
                                    <input type="checkbox" id="lnnot" name="lnnot" value="true" [(ngModel)]="CourseNotification.lnnot" />
                                    <span class="checkmark1"></span>
                                    </label>
                                </div>
                                <div *ngIf="CourseNotification.lnnot == true">
                                    <select [(ngModel)]="CourseNotification.lnnottemp" id="exampleInputAccRole2" class="commonSelect custom-select" name="lnnottemp" (change)="onChangeDropDownNot($event)">
                                <option value="" selected="selected">{{userData[1].selectplace}}</option>
                                <option *ngFor="let temp of templatenot" value="{{temp.id}}">{{temp.name}}
                                </option>
                              </select>
                                </div>
                                <!-- <div class="preview-button"
                            [hidden]="!(CourseNotification.reviewTextNot == true && CourseNotification.lnnot == true)">
                              <button class="constantbtn-button-blue-left"
                                (click)="getTempData(1,CourseNotification.lnnottemp)">Preview</button>
                            </div> -->
                            </div>
                            <div class="content-boxes" [hidden]="!(CourseNotification.reviewTextNot == true && CourseNotification.lnnot == true)">
                                <label class="space_left side-form-label">{{userData[1].Edittemp}}</label>
                                <textarea type="text" class="form-control " placeholder="Edit Template" name="Edit-Template-Not" #noti="ngModel" minlength="2" maxlength="140" [(ngModel)]="CourseNotification.editNotTemplateData" [required]="CourseNotification.lnnot"></textarea>
                                <div *ngIf="noti.invalid && noti.touched||noti.touched">
                                    <small class="invalid-msg" *ngIf="noti.hasError('required')">Template is required.</small>
                                    <small class="invalid-msg" *ngIf="noti.hasError('minlength')">Minimum 2 characters required.</small>
                                    <small class="invalid-msg" *ngIf="noti.hasError('maxlength')">Enter Maximum 140 characters only.</small>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="text-notification-text" *ngIf="userData[2].flag==true">
                            <div class="edit-notification-grid">
                                <div>
                                    <label class="container1">
                                          <label class="side-form-label">{{helpContent?.courses_notification?.email?.label}}
                                            <app-info-tooltip  [description]="helpContent?.courses_notification?.email?.labelHelpContent"></app-info-tooltip>
                                            </label>
                                    <!-- <label for="left_space">{{helpContent?.courses_notification?.email?.label}}
                                  <div class="help-tooltip">
                                    <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                                    <div class="help-tooltip-position-right">
                                      <p>
                                        {{helpContent?.courses_notification?.email?.labelHelpContent}}
                                      </p>
                                      <i></i>
                                    </div>
                                  </div>
                                </label> -->
                                    <input type="checkbox" id="lnemail" name="lnemail" value="true" [(ngModel)]="CourseNotification.lnemail" />
                                    <span class="checkmark1"></span>
                                    </label>
                                </div>
                                <div *ngIf="CourseNotification.lnemail == true">
                                    <select [(ngModel)]="CourseNotification.lnemailTemp" id="exampleInputAccRole1" class="commonSelect custom-select" name="lnemailTemp" (change)="onChangeDropDownEmail($event)">
                                <option value="" selected="selected">{{userData[2].selectplace}}</option>
                                <option *ngFor="let temp of templateemail" value="{{temp.id}}">
                                  {{temp.name}}</option>
                              </select>
                                </div>
                                <!-- <div class="preview-button"
                              *ngIf="CourseNotification.reviewTextEmail == true && CourseNotification.lnemail == true">
                              <button class="constantbtn-button-blue-left"
                                (click)="getTempData(3,CourseNotification.lnemailTemp)">Preview</button>
                            </div> -->
                            </div>
                            <!-- *ngIf="CourseNotification.reviewTextEmail == true && CourseNotification.lnemail == true" -->
                            <div class="content-boxes" [hidden]="!(CourseNotification.reviewTextEmail == true && CourseNotification.lnemail == true)">
                                <label class="space_left side-form-label">{{userData[2].Edittemp}}</label>
                                <!-- <input type="text" class="form-control inputText" placeholder="Edit Template" name="Edit-Template-Email"
                                                            [(ngModel)]="CourseNotification.editEmailTemplateData" required> -->
                                <!-- <quill-editor id="cCont" [(ngModel)]="CourseNotification.editEmailTemplateData" name="Edit-Template-Email"  [ngModelOptions]="{standalone: true}"
                                                              [options]="editorOptions" pattern=".{20,500}" required ngDefaultControl></quill-editor> -->
                                <input type="text" class="form-control form-control-input  commonInput" [(ngModel)]="CourseNotification.emailSubjectData" placeholder="Maximum 50 characters" name="emailSubjectData" minlength="2" maxlength="200" />
                                <label class="space_left commonLabel side-form-label mt-3">{{userData[2].Editbody}}</label>
                                <!-- <textarea type="text" class="form-control engage-" placeholder="Edit Template"
                              name="Edit-Template-Email" [(ngModel)]="CourseNotification.editEmailTemplateData"
                              required></textarea> -->
                                <jodit-editor class="dropped_content commonLabel" [config]="config" id="Edit-Template-Email" [ngModelOptions]="{standalone: true}" #appnoti="ngModel" [(ngModel)]="CourseNotification.editEmailTemplateData" [required]="CourseNotification.lnemail" ngDefaultControl>
                                </jodit-editor>
                                <div *ngIf="appnoti.invalid && appnoti.touched||appnoti.dirty">
                                    <small class="invalid-msg" *ngIf="appnoti.hasError('required')">Email body is required.</small>
                                </div>
                                <!-- <div [hidden]="editEmailTemplateData.valid || content.pristine" class="alert alert-danger">
                                <div [hidden]="!editEmailTemplateData.hasError('required')">Content is required</div>
                              </div> -->
                            </div>
                        </div>
                        <hr>
                    </div>
                    <div class="alert alert-danger ml-3">
                        Note:- Please select at least one option.
                    </div>
                </div>
            </form>
        </div>
        <!-- 
            <div class="modal-footer text-right">
                <button type="button" class="constantbtn-button-blue-left" (click)="submitCourseNotification(CourseNotification,notiForm)">
                    Save
                  </button>
            </div>
        </div>
    </div> -->
    </ngx-sidebar-form>
</div>
<!-- </div> -->



<div class="deleteModalBackdrop" *ngIf="warningModal == true">
    <div class="deleteModal">
        <div class="modal-header deleteModalHeader">
            <p class="enableDisableModalHeaderP">Warning</p>
            <button class="close closeDeleteModalBtn" aria-label="Close" (click)="closeWarningModal()">
          <span aria-hidden="true">&times;</span>
        </button>
        </div>

        <div class="modal-body">
            <div>
                <p class="enableDisableModalBodyP">
                    Event already present in event list .
                </p>
            </div>
        </div>

        <div class="modal-footer deleteModalFooter">
            <div class="">
                <button type="button" class="constantbtn-button-blue-left" (click)="closeWarningModal()">
            OK
          </button>
            </div>
        </div>
    </div>
</div>

<div class="deleteModalBackdrop" *ngIf="notDetailsModal">
    <div class="addSelfDemoModalEngage">
        <div class="modal-header">
            <span>Template Description</span>
            <!-- <button class="close" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button> -->
        </div>
        <div class="modal-body">
            <div class="OuterDiv">
                <!-- <div class="InnerDiv">
                  <lable>Name</lable>
                  <p>{{templateData.name}}</p>
              </div>
              <div class="InnerDiv">
                  <lable>Description</lable>
                  <p>{{templateData.desc}}</p>
              </div> -->
                <div class="InnerDiv">
                    <lable>Template</lable>
                    <p [innerHtml]="templateData.template"></p>
                </div>
            </div>
        </div>

        <div class="modal-footer text-right">
            <button class="constantbtn-button-blue-left" (click)="closeNotDetailModal()">
          OK
        </button>
        </div>
    </div>
</div>