.poll_main_container{
.pointer{
    cursor: pointer;
}
.notFoundPage{
  display: inline-block;
  width: 100%;
  padding: 10px;
  height: 100%;
}
.NoDataDiv{
  position:fixed;
  top: 50%;
  left: 52%;
}

// .BackButton{
//   width: auto !important;
//     border: none;
//     padding: 6px 14px !important;
//     background-color: #076ba1 !important;
//     color: #fff !important;
//     text-transform: uppercase !important;
//     min-width: 90px !important;
//     max-height: 29px !important;
//     margin-left: 5px;
// }
.pollbtnNewAdd{
  width: auto !important;
  border: none;
  padding: 6px 14px !important;
  background-color: #076ba1 !important;
  color: #fff !important;
  text-transform: uppercase !important;
  min-width: 90px !important;
  max-height: 29px !important;
}
.pollDesc{
  height: 60px;
}

// .usericon{
//   text-align: center;
//   //border-bottom: 1px solid #f1f5f8;

//   .contenticon {
//       i{
//           font-size: 20px;
//           color: #2795d0;
//           margin-bottom: 0px !important;
//       }
//       padding-top: 10px;
//       margin: 0;
//       padding-bottom: 5px;
//   }
// }
// .contdesp {
//   font-size: 14px;
// }
// .manager{
//   padding: 10px !important;
//   border-bottom: 1px solid #f1f5f8;
// }
// .contdespDiv {
//   //  height: 70px;
//     border-bottom: 1px solid #f1f5f8;
// }
// .paddingLR0{
//   padding-left: 0px !important;
//   padding-right : 0px !important;
// }

// .pole-card {
//   // color: #000000;
//   // background-color: #ffffff;
//   // /*border: 0px solid #0000000a;*/
//   // border: 0px;
//   // box-shadow: none;
//   position: relative;
// }
// .pole-disabled
// {
//   background-color: #00000082;
//   height: 100%;
//   position: absolute;
//   z-index: 2;
//   /* color: #fff; */
//   display: grid;
//   text-align: center;
//   align-items: center;
// }
// .disabled-icon{
//   font-size: 30px;
//   color:#fff;
//   cursor: pointer;
// }



@import '../../../@theme/styles/variable.scss';
.poll_div{
    .content_width{
        width: 78vw;
        margin: 0 auto;
    }
    .top_header_container{
        background: #fff;
        position: sticky;
        top: 4.75rem;
        z-index: 1020;
        .top_header_div_sticky{
            background: #fff;
            display: grid;
            grid-template-columns: 2fr 5fr 2fr;
            height: 50px;
            align-items: center;
            .page_title{
                text-align: left;
                h4{
                    margin: 0;
                    font-size: $font_size_page_top;
                }
            }
            .filter_div{
                display: grid;
                grid-template-columns: auto;
                grid-column-gap: 10px;
                align-items: center;
                .drop_down{
                    border: 1px solid $header_div_border;
                    .drop_down_select{
                        height: 30px;
                        border: none;
                        box-shadow: none;
                    }
                }

                .search_div{
                    display: grid;
                    grid-template-columns: auto 20px;
                    border: 1px solid $header_div_border;
                    .search_field{
                        height: 30px;
                        border: none;
                        box-shadow: none;
                    }
                    .remove_icon{
                        line-height: 30px;
                    }
                }
            }
            
            .buttons_div{
                text-align: right;
            }
        }
    }
   
    .multiple_category_card_container{
        background:$background_for_card_container;
        margin: 20px 20px 30px;
        width: 95%;
        // margin: auto;
        .cards_container{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-column-gap: 30px;
            grid-row-gap: 30px;
            .singel_card{
                position: relative;
                background: #fff;
                text-align: center;
                box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
                border-radius: 10px;
                overflow: hidden;
                .overlay_hidden{
                    position: absolute;
                    background: rgba(0, 0, 0, 0.5);
                    height: 100%;
                    width: 100%;
                    display: grid;
                    align-items: center;
                    font-size: 30px;
                    color: #fff;
                    border-radius: 10px;
                    i{
                        cursor: pointer;
                    }
                }
                // border-bottom-left-radius: 10px ;
                // border-bottom-right-radius: 10px;
                // box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
                .singel_card_image{
                   border-top-left-radius: 10px ;
                   border-top-right-radius: 10px;
                   height: 150px;
                   width: 100%;
                   background-position: center;
                   background-size: cover;
                //    background
                }
                .card_title{
                    padding: 10px !important;
                    border-top: 1px solid $border_color;
                    border-bottom: 1px solid $border_color;
                    color: #000;
                    font-size:$font_size_for_cards; 
                }
                .card_subtitle{
                    font-size: $font_size_for_card_subtitle;
                    padding: 10px !important;
                    // border-top: 1px solid #F1F5F8;
                    border-bottom: 1px solid $border_color;
                    color: #000;
                }
                .icon-div{
                    display: grid;
                    grid-template-columns: auto;
                    height: 40px;
                    align-items: center;
                    border-bottom: 1px solid $border_color;
                    .icon_inner_content{
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        align-items: center;
                        // height: 40px;
                        border-right: 1px solid $border_color;
                        p{
                            color: #000;
                        }
                        .icon{
                            border-right: 1px solid $border_color;
                            color: $icon_font_color;
                            font-size: $card_font_size_icons;
                            height: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            margin: 0;
                        }
                        .icon:last-child{
                           border-right: 0px; 
                        }
                    }

                    // .icon_inner_content:last-child{
                    //     border-right: 0px;
                    //     p{
                    //       color: #000;
                    //   }
                    // }

                    .icon_inner_para_content{
                      display: grid;
                      height: 50px;
                      align-items: center;
                    }
                  
                }

                .icon-div:not(last){
                    border-right: 1px solid $border_color;
                }

                .user-icon{
                    display: grid;
                    // grid-template-columns: 1fr 1fr 1fr;
                    grid-template-columns: 1fr 1fr;
                    height: 40px;
                    align-items: center;

                    .icons-enable-disable{
                        border-right: 1px solid $border_color;
                        color: $icon_font_color;
                        font-size: $card_font_size_icons;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }

                .content-icons{
                    text-align: center;
                    border-bottom: 1px solid $border_color;
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    align-items: center;
                }

                .para_margin_0{
                    margin: 0;
                }
               
            }
            .not_found{
                background-image:url('assets/images/survey.png');
            }
        }
    }
}
.multiple_pole_card_container{
    background:$background_for_card_container;
    margin: 20px 20px 30px;
    width: 95%;
    // margin: auto;
    .pole_container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-column-gap: 30px;
        grid-row-gap: 30px;
        .pole_card{
            position: relative;
            background: #fff;
            text-align: center;
            box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
            border-radius: 10px;
            overflow: hidden;
        }
    }
}
.pole_width{
    width: 78vw;
    margin: 0 auto;
}
// .pole {
//     margin-top: 10px;
//     width: 60px;
//     // height: 90px;
//   }
.pole-title {
    // width: 100px;
    // padding: 16px 25px 0px;
    // height: 80px;
     margin-top: 5px;
  }
}