<app-subheader [headerConfig]="header" (inputsearch)="onsearch($event, searchTags)" (addbtn)="showTemplate(null,0)" (backClick)="back()" (Clear)="clear()"></app-subheader>
<!-- <div class="top_header_container" >
    <div class="top_header_div_sticky content_width">
        <div class="widgets"> -->
<!-- <div class="loaderBackdrop" *ngIf="loader == true">
        <div id="loader"></div>
      </div> -->
<!-- <div ba-panel ba-panel-class="with-scroll"> -->
<!-- <div class="divCon">
                        <div class="userSubButInd1 sticky-top">
                            <div class="col-sm-3">
                                <h3 class="h3lableuser">Tags</h3>
                            </div>
                            <div class="col-sm-5">
                                <div class="search_div">
                                    <input type="text" class="form-control search_field" placeholder="Search by Tags name " [(ngModel)]="searchTags" (keyup.enter)="onsearch($event, searchTags)" />
                                    <i class="fa fa-remove remove_icon" aria-hidden="true" (click)="clear()"></i>
                                </div>
                            </div>
                            <div class="buttons_div">

                                <button class="constantbtn-button-blue-left" (click)="showTemplate(null,0)">Add</button>

                                <button type="submit" class="back_button" (click)="back()">Back</button>
                            </div>
                        </div>
                    </div> -->
<div *ngIf='!nodata'>
    <div class="tableCompo">
        <ngx-enrol-table [pagination]="true" [label]="labels" [tableData]="taglist" (clickOnbutton)="visibilityTableRow($event)" (clickOnicon)="showTemplate($event,1)"></ngx-enrol-table>
    </div>
    <div style="padding: 5px 10px">
        <div>Total: {{ taglist.length }}</div>
    </div>
</div>
<!-- <div class="tableDiv" >
            <div class="headers col-md-12">
              <div class="col-sm-2">
                <h6>
                  <strong>
                    ID
                  </strong>
                </h6>
              </div>
              <div class="col-sm-4">
                <h6>
                  <strong>
                    NAME
                  </strong>
                </h6>
              </div>
              <div class="col-sm-4">
                <h6>
                  <strong>
                    SUBTAGS
                  </strong>
                </h6>
              </div>
              <div class="col-sm-1">
              </div>
              <div class="col-sm-1">
              </div>
            </div>
            <div class="scroll_div">
              <div class="col-sm-12 tableData" *ngFor=" let item of tagsdata;let i=index ">

                <div class="col-sm-2">
                  <h6>{{item.id}}</h6>
                </div>
                <div class="col-sm-4">
                  <h6>{{item.dispName}}</h6>
                </div>
                <div class="col-sm-4">
                  <h6>{{item.subtags}}</h6>
                </div>
               
                <div class="col-sm-1">

                  <i title="Enabled" style="color: black;" class="fa fa-eye fa-lg pointer" aria-hidden="true"
                    (click)="disableVisibility(i,item,0)" [hidden]="item.isActive == 0"></i>
                  <i title="Disabled" style="color: black;" class="fa fa-eye-slash fa-lg pointer" aria-hidden="true"
                    (click)="disableVisibility(i,item,1)" [hidden]="item.isActive == 1"></i>

                </div>
                <div class="col-sm-1">
                  <button class="cancelbutquiz" (click)="showTemplate(item,1)">
                    <i class="fa fa-edit" title="Edit" style="float: right;"></i>
                  </button>
                </div>

              </div>
            </div> -->
<!-- <div class="clearfix bottomPager col-md-12" *ngIf='!nodata'>
                        <div class="hint-text">Total Pages : <b>{{pager.totalPages}}</b></div>
                        <ul class="pagination">
                            <li class="page-item disabled" [ngClass]="{disabled:pager.currentPage === 1}" (click)="setpage(pager.currentPage - 1)">Previous</li>
                            <li class="page-item" *ngFor="let item of pager.pages; let i = index" [ngClass]="{active:pager.currentPage === item}" (click)="setpage(item)">
                                {{item}}</li>
                            <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}" (click)="setpage(pager.currentPage + 1)">Next</li>
                        </ul>
                    </div> -->
<!-- </div>
        </div>
    </div>
</div> -->
<!------Add edit -------->
<ngx-sidebar-form *ngIf="sectionshow" [sidebarTitle]='title' [buttonName]="btnName" (saveBtn)='saveTemp(tagForm)' (outside)="closesectionModel()" (closeBtn)='closesectionModel()'>
    <!-- <div class="addRuleBackdropaddquiz" *ngIf="sectionshow">
    <div class="addRuleDemoaddquizModal">
        <div class="modal-header-1">
            <p>{{title}}</p>
            <button class="close" aria-label="Close" (click)="closesectionModel()">
                <span aria-hidden="true">&times;</span>
              </button>
        </div>
        <div class="mbody modal-body">
            <div class="col-md-12" style="padding: 0;"> -->
    <form class="forms-sample" #tagForm="ngForm">
        <div class="form-group">
            <label class="side-form-label">{{helpContent?.Tags?.name.label}} <sup>&#x2731;</sup>
                    <app-info-tooltip for="name" [description]="helpContent?.Tags?.name.labelHelpContent"></app-info-tooltip>
                </label>
            <input class="form-control commonInput" type="text" id="InputRName" placeholder="Tags Name" [ngClass]="{'invalid-form': name.invalid && (name.dirty || name.touched)}" [(ngModel)]="tagdata.name" name="name" #name="ngModel" minlength="3" maxlength="20"
                required>
            <div *ngIf="name.invalid && (name.dirty || name.touched)">
                <small class="invalid-msg" *ngIf="name.errors.required">Name is required.</small>
                <small class="invalid-msg" *ngIf="name.errors.minlength">Name must be at least 3 characters long.</small>
                <small class="invalid-msg" *ngIf="name.errors.maxlength">Name must be less then 20 characters.</small>
            </div>
        </div>
        <div class="form-group">
            <label class="side-form-label">{{helpContent?.Tags?.visibility.label}} <sup>&#x2731;</sup>
                    <app-info-tooltip  [description]="helpContent?.Tags?.visibility.labelHelpContent"></app-info-tooltip>
                    </label>
            <select class=" custom-select commonSelect" [(ngModel)]="tagdata.visible" name="visible" #visible="ngModel" required>
                      <option selected disabled>Select Visibility</option>
                      <option *ngFor="let item of drowDownVisibleData" [value]=item.id>{{item.name}}</option>
                  </select>
        </div>
        <!-- <div class="float-right">
            <button type="submit" style="height: 40px;" class="constantbtn-button-blue-left" (click)="addsubtag()" id="editbtn">
            Add subtag
          </button>
        </div> -->
        <div class="float-right">
            <small class="add-icon" (click)="addsubtag()">Add Sub Tags +</small>
        </div>


        <div class="row col-md-12 p-0" *ngIf="tagdata.SubtagsData.length > 0">
            <div class="form-group col-md-6">
                <label class="side-form-label">{{helpContent?.Tags?.subname.label}} <sup>&#x2731;</sup>
              <app-info-tooltip for="name" [description]="helpContent?.Tags?.subname.labelHelpContent"></app-info-tooltip>
          </label>

            </div>
            <div class="form-group col-md-5">
                <label class="side-form-label">{{helpContent?.Tags?.visibility.label}}<sup>&#x2731;</sup>
              <app-info-tooltip  [description]="helpContent?.Tags?.visibility.labelHelpContent"></app-info-tooltip>
              </label>

            </div>
            <div class="float-right col-md-1 mt-3">

            </div>
        </div>

        <div class="row col-md-12 p-0" *ngFor="let data of tagdata.SubtagsData; let i=index">
            <div class="form-group col-md-6">
                <!-- <label class="side-form-label">{{helpContent?.Tags?.subname.label}} <sup>&#x2731;</sup>
                <app-info-tooltip for="name" [description]="helpContent?.Tags?.subname.labelHelpContent"></app-info-tooltip>
            </label> -->
                <input class="form-control commonInput" type="text" id="subname{{i}}" name="subname{{i}}" placeholder="Subtag Name" [(ngModel)]="data.subName" #subname="ngModel" minlength="3" maxlength="20" required>
                <div *ngIf="subname.invalid &&  (subname.dirty || subname.touched)">
                    <small class="invalid-msg" *ngIf="subname.errors.required">Subtag name is required.</small>
                    <small class="invalid-msg" *ngIf="subname.errors.minlength">Subtag name must be at least 3 characters long.</small>
                    <small class="invalid-msg" *ngIf="subname.errors.maxlength">Subtag name must be less then 20 characters.</small>
                </div>
            </div>
            <div class="form-group col-md-5">
                <!-- <label class="side-form-label">{{helpContent?.Tags?.visibility.label}}<sup>&#x2731;</sup>
                <app-info-tooltip  [description]="helpContent?.Tags?.visibility.labelHelpContent"></app-info-tooltip>
                </label> -->
                <select id="subStatus{{i}}" class="commonSelect custom-select" [(ngModel)]="data.subStatus" name="subStatus{{i}}" #subStatus="ngModel" required>
                  <option selected disabled>Select Visibility</option>
                  <option *ngFor="let item of drowDownVisibleData" [value]=item.id>{{item.name}}</option>
              </select>
            </div>
            <div class="float-right col-md-1">
                <i class="fa fa-remove remove_icon" aria-hidden="true" (click)="removesubmenu(data, i)"></i>
            </div>
        </div>
        <!-- <div class="row">
                        <div class="col-md-12">
                            <div class="form-group col-md-4">
                                <label class="commonLabel" for="name">{{helpContent?.Tags?.name.label}} <sup
                            class="reqFieldActivity">*</sup>
                          <div class="help-tooltip">
                            <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                            <div class="help-tooltip-position-right">
                              <p>{{helpContent?.Tags?.visibility.labelHelpContent}}</p>
                              <i></i>
                            </div>
                          </div>
                        </label>
                                <input type="text" style="width:185px" class="form-control form-control-input inputText commonInput" id="InputRName" placeholder="Tags Name" [(ngModel)]="tagdata.name" name="name" #name="ngModel" required>

                                <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
                                    <div *ngIf="name.errors.required">
                                        Name is required.
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="commonLabel" for="visibility">{{helpContent?.Tags?.visibility.label}}
                          <sup class="reqFieldActivity">*</sup>
                          <div class="help-tooltip">
                            <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                            <div class="help-tooltip-position-right">
                              <p>{{helpContent?.Tags?.visibility.labelHelpContent}}</p>
                              <i></i>
                            </div>
                          </div>
                        </label>
                                <select  style="width:185px" class="form-control form-control-input select_field_height commonSelect commonInput"[(ngModel)]="tagdata.visible" name="visible" #visible="ngModel" required>
                          <option value="" selected disabled>Select Visible</option>
                          <option *ngFor="let item of drowDownVisibleData" [value]=item.id>{{item.name}}</option>
                        </select>
                            </div>
                            <div class="form-group col-md-3 addbtn" style="margin-top: 20px;">
                                <button type="submit" style="height: 40px;" class="constantbtn-button-blue-left" (click)="addsubtag()" id="editbtn">
                          Add subtag
                        </button>
                                <span></span>
                            </div>
                        </div>
                    </div>
                    <div class="pop_scroll">


                        <div class="row col-md-12" *ngFor="let data of tagdata.SubtagsData; let i=index">
                            <div class="form-group col-md-4" style="padding-right: 5px;">
                                <label class="commonLabel" for="subname">{{helpContent?.Tags?.subname.label}} <sup
                            class="reqFieldActivity">*</sup>
                          <div class="help-tooltip">
                            <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                            <div class="help-tooltip-position-right">
                              <p>{{helpContent?.Tags?.subname.labelHelpContent}}</p>
                              <i></i>
                            </div>
                          </div>
                        </label>
                                <input type="text" style="width:185px" class="form-control form-control-input inputText commonInput" id="subname{{i}}" name="subname{{i}}" placeholder="SubTags Name" [(ngModel)]="data.subName" #subname="ngModel" required>

                                <div *ngIf=" subname.invalid &&  (subname.dirty || subname.touched)" class="alert alert-danger">
                                    <div *ngIf="subname.errors.required">
                                        Subtag name is required.
                                    </div>
                                </div>
                                <p></p>
                            </div>
                            <div class="form-group col-md-4" style="padding: 0 0 0 25px;">
                                <label class="commonLabel" for="visibility">{{helpContent?.Tags?.visibility.label}}
                          <sup class="reqFieldActivity">*</sup>
                          <div class="help-tooltip">
                            <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                            <div class="help-tooltip-position-right">
                              <p>{{helpContent?.Tags?.visibility.labelHelpContent}}</p>
                              <i></i>
                            </div>
                          </div>
                        </label>

                                <select id="subStatus{{i}}" style="width:185px" [(ngModel)]="data.subStatus" class="form-control form-control-input select_field_height commonSelect" name="subStatus{{i}}" #subStatus="ngModel" required>
                          <option value="" selected disabled>Select Visible</option>
                          <option *ngFor="let item of drowDownVisibleData" [value]=item.id>{{item.name}}</option>
                        </select>
                                <p></p>
                            </div> -->
        <!-- <div class="form-group col-md-2">
                              <i title="Enabled" style="color: black;" class="fa fa-eye fa-lg pointer" aria-hidden="true"
                              (click)="disableVisibilityofsubtag(i,data,0)" [hidden]="data.visible == 0"></i>
                            <i title="Disabled" style="color: black;" class="fa fa-eye-slash fa-lg pointer" aria-hidden="true"
                              (click)="disableVisibilityofsubtag(i,data,1)" [hidden]="data.visible == 1"></i>
                            </div> -->
        <!-- <div class="form-group col-md-3 addbtn" style="text-align: center;">
                                <i class="fa fa-times tooltip-hover-info-label-round" aria-hidden="true" (click)="removesubmenu(data, i)"></i>
                            </div>
                        </div>
                    </div> -->

    </form>
</ngx-sidebar-form>

<!-- </div>
        </div>
        <p></p>
        <div class="subbtn text-right">
            <button type="button" class="constantbtn-button-blue-left" [disabled]="!tagForm.valid" id="editbtn" (click)="saveTemp()">Submit</button>
        </div>
    </div>
</div> -->
<div *ngIf='nodata'>
    <!-- <div class="col-md-12 noDataDiv">
                <img class="noDataImg" src='assets/images/noDataFound1.png' onerror="this.src='assets/images/noDataFound1.png';">
            </div> -->
    <ngx-no-data [config]="noDataVal"></ngx-no-data>
</div>