.news_container {
    .addEditCattoprow {
        // padding: 12px;
        border: none;
        background-color: #ffffff;
        height: auto;
        width: 100%;
        display: inline-flex;
    }
    .floteright {
        float: right;
        font-size: 13px;
        background-color: #fff;
    }
    .addEditCatsticky-top {
        position: sticky;
        top: 67px;
        z-index: 1030;
    }
    .addEditCatHead {
        // padding: 15px 0px 15px 30px;
        margin: 15px auto;
    }
    .bgwhite {
        background-color: white;
    }
    .padding-top {
        padding-top: 15px;
    }
    .margin-top {
        margin-top: 15px;
    }
    .padding-all {
        padding: 10px;
    }
    .constantbtn {
        background: Blue;
        color: white;
        border: none;
        width: auto !important;
        min-width: 90px !important;
        max-height: 36px !important;
    }
    .constantbtn-reject {
        background: red;
        color: white;
        border: none;
        width: auto !important;
        min-width: 90px !important;
        max-height: 36px !important;
    }
    .catdesp {
        color: black;
    }
    .catrow {
        height: auto;
        width: 100%;
        display: inline-flex;
        margin: 0px;
        padding: 0px;
    }
    .catsep {
        border-bottom: 1px solid #f1f5f8;
        margin-bottom: 5px;
    }
    .NoDataDiv {
        position: fixed;
        top: 50%;
        left: 52%;
    }
    .marginTop14 {
        margin-top: 14px;
    }
    .catrow>div {
        // width: 100%;
        // padding: 0;
        // margin:3%;
        // height: 100%;
        width: 100%;
        padding: 0;
        margin: 4% 0 0 4%;
        height: 100%;
        flex: 0 0 20%;
        a {
            text-align: center;
        }
        a>img {
            // width: 100%;
            width: 100%;
            // height: 100%;
            height: 125.656px;
            // height: 190px;
        }
        div {
            width: 100%;
            // margin: 0.7rem 0;
            .toolcatp1 {
                text-align: center;
                margin: 1% 0% !important;
                // width: 92%;
                width: 100%;
                cursor: pointer;
                font-size: 16px;
                font-weight: 500;
                color: black;
            }
            .toolcat1 {
                width: 8%;
                float: right;
                margin: 3% 0% !important;
            }
        }
    }
    @import "../../@theme/styles/variable.scss";
    .news_div {
        .content_width {
            width: 78vw;
            margin: 0 auto;
        }
        .top_header_container {
            background: #fff;
            position: sticky;
            top: 4.75rem;
            z-index: 1020;
            .top_header_div_sticky {
                background: #fff;
                display: grid;
                grid-template-columns: 0.5fr 1fr 1fr;
                height: 50px;
                align-items: center;
                .page_title {
                    text-align: left;
                    h4 {
                        margin: 0;
                    }
                }
                .search_div {
                    display: grid;
                    grid-template-columns: auto 20px;
                    border: 1px solid $border_color;
                    .search_field {
                        height: 30px;
                        border: none !important;
                        box-shadow: none;
                        padding: 0 10px;
                        &::placeholder {
                            font-size: 14px;
                        }
                    }
                    .remove_icon {
                        line-height: 30px;
                    }
                }
                // .filter_div{
                //     // display: grid;
                //     // grid-template-columns: 1fr 1fr;
                //     // grid-column-gap: 10px;
                //     align-items: center;
                //     .drop_down{
                //         border: 1px solid $border_color;
                //         .drop_down_select{
                //             height: 30px;
                //             border: none;
                //             box-shadow: none;
                //         }
                //     }
                //     .search_div{
                //         display: grid;
                //         grid-template-columns: auto 20px;
                //         border: 1px solid $border_color;
                //         .search_field{
                //             height: 30px;
                //             border: none !important;
                //             box-shadow: none;
                //         }
                //         .remove_icon{
                //             line-height: 30px;
                //         }
                //     }
            }
            .buttons_div {
                text-align: right;
            }
        }
    }
    .multiple_category_card_container {
        background: $background_for_card_container;
        margin: 20px auto;
        width: 95%;
        // margin: auto;
        .cards_container {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-column-gap: 30px;
            grid-row-gap: 30px;
            .singel_card {
                position: relative;
                background: #fff;
                text-align: center;
                box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
                border-radius: 10px;
                min-width: 100px;
                .overlay_hidden {
                    position: absolute;
                    background: rgba(0, 0, 0, 0.5);
                    height: 100%;
                    width: 100%;
                    display: grid;
                    align-items: center;
                    font-size: 30px;
                    color: #fff;
                    border-radius: 10px;
                    i {
                        cursor: pointer;
                    }
                }
                // border-bottom-left-radius: 10px ;
                // border-bottom-right-radius: 10px;
                // box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
                .singel_card_image {
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                    height: 150px;
                    width: 100%;
                    background-position: center;
                    background-size: cover;
                    //    background
                }
                .card_title {
                    padding: 10px !important;
                    border-top: 1px solid $border_color;
                    border-bottom: 1px solid $border_color;
                    color: #000;
                    font-size: $font_size_for_cards;
                }
                // .card_subtitle{
                //     font-size: 14px;
                //     padding: 10px !important;
                //     // border-top: 1px solid #F1F5F8;
                //     border-bottom: 1px solid $border_color;
                //     color: #000;
                // }
                .user-icon {
                    display: grid;
                    grid-template-columns: auto;
                    height: 40px;
                    align-items: center;
                    .icons-enable-disable {
                        border-right: 1px solid $border_color;
                        color: $icon_font_color;
                        font-size: 20px;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
                .content-icons {
                    text-align: center;
                    border-bottom: 1px solid $border_color;
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    align-items: center;
                }
                .para_margin_0 {
                    margin: 0;
                }
            }
            .not_found {
                background-image: url("assets/images/badgeNew.png");
            }
        }
    }
    .multiple_newsAnnouc_card_container1 {
        background: $background_for_card_container;
        margin: 20px 20px 30px 25px;
        width: 95%;
        // margin: auto;
        .newsAnnouc_container1 {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-column-gap: 30px;
            grid-row-gap: 30px;
            .newsAnnouc_card1 {
                position: relative;
                background: #fff;
                text-align: center;
                box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
                border-radius: 10px;
            }
        }
    }
    // .newsAnnouc {
    //   margin-top: 10px;
    //   width: 60px;
    //   // height: 90px;
    // }
    .newsAnnouc-title {
        // width: 100px;
        // padding: 16px 30px 0px;
        margin-top: 5px;
        // height: 80px;
    }
}