<app-subheader [headerConfig]="header" (inputsearch)="SarchFilter($event, searchtext)" (Clear)="clear()" (addbtn)="gotoEnroll()"></app-subheader>
<div class="news_container">
    <div class="news_div">
        <!-- <div class="top_header_container">
            <div class="top_header_div_sticky content_width">
                <div class="page_title">
                    <h4>News</h4>
                </div>
                <div class="search_div">

                    <input type="text" (keyup)="SarchFilter($event, searchtext)" [(ngModel)]="searchtext" class="form-control search_field" placeholder="Search by News title">
                    <i class="fa fa-remove remove_icon" aria-hidden="true" (click)="clear()"></i>
                </div>
                <div class="buttons_div">
                    <button type="button" class="constantbtn-button-blue-left " (click)="gotoEnroll(null,1)">Add
                News</button>
                </div>
            </div>
        </div> -->
        <app-skeleton [count]='count' *ngIf="!skeleton"></app-skeleton>
        <!-- <table *ngIf="!skeleton">
            <tr>
                <div class="multiple_newsAnnouc_card_container1">
                    <div class="newsAnnouc_width">
                        <div class="newsAnnouc_container1">
                            <td>
                                <div class="newsAnnouc_card1">
                                    <div class="newsAnnouc">
                                        <ngx-skeleton-loader [theme]="{ width: '220px', height: '100px','margin': '5px' }">
                                        </ngx-skeleton-loader>
                                    </div>
                                    <div class="newsAnnouc-title">
                                        <ngx-skeleton-loader [theme]="{
                                                          width: '170px',
                                                          height: '40px'
                                                        }"></ngx-skeleton-loader>
                                    </div>
                                    <div class="newsAnnouc-title">
                                        <ngx-skeleton-loader [theme]="{
                                                          width: '170px',
                                                          height: '40px'
                                                        }"></ngx-skeleton-loader>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="newsAnnouc_card1">
                                    <div class="newsAnnouc">
                                        <ngx-skeleton-loader [theme]="{ width: '220px', height: '100px','margin': '5px' }">
                                        </ngx-skeleton-loader>
                                    </div>
                                    <div class="newsAnnouc-title">
                                        <ngx-skeleton-loader [theme]="{
                                                          width: '170px',
                                                          height: '40px'
                                                        }"></ngx-skeleton-loader>
                                    </div>
                                    <div class="newsAnnouc-title">
                                        <ngx-skeleton-loader [theme]="{
                                                          width: '170px',
                                                          height: '40px'
                                                        }"></ngx-skeleton-loader>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="newsAnnouc_card1">
                                    <div class="newsAnnouc">
                                        <ngx-skeleton-loader [theme]="{ width: '220px', height: '100px','margin': '5px'}">
                                        </ngx-skeleton-loader>
                                    </div>
                                    <div class="newsAnnouc-title">
                                        <ngx-skeleton-loader [theme]="{
                                                          width: '170px',
                                                          height: '40px'
                                                        }"></ngx-skeleton-loader>
                                    </div>
                                    <div class="newsAnnouc-title">
                                        <ngx-skeleton-loader [theme]="{
                                                          width: '170px',
                                                          height: '40px'
                                                        }"></ngx-skeleton-loader>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="newsAnnouc_card1">
                                    <div class="newsAnnouc">
                                        <ngx-skeleton-loader [theme]="{ width: '220px', height: '100px','margin': '5px'}">
                                        </ngx-skeleton-loader>
                                    </div>
                                    <div class="newsAnnouc-title">
                                        <ngx-skeleton-loader [theme]="{
                                                          width: '170px',
                                                          height: '40px'
                                                        }"></ngx-skeleton-loader>
                                    </div>
                                    <div class="newsAnnouc-title">
                                        <ngx-skeleton-loader [theme]="{
                                                          width: '170px',
                                                          height: '40px'
                                                        }"></ngx-skeleton-loader>
                                    </div>
                                </div>
                            </td>
                        </div>
                    </div>
                </div>
            </tr>
            <tr>
                <div class="multiple_newsAnnouc_card_container1">
                    <div class="newsAnnouc_width">
                        <div class="newsAnnouc_container1">
                            <td>
                                <div class="newsAnnouc_card1">
                                    <div class="newsAnnouc">
                                        <ngx-skeleton-loader [theme]="{ width: '220px', height: '100px','margin': '5px'}">
                                        </ngx-skeleton-loader>
                                    </div>
                                    <div class="newsAnnouc-title">
                                        <ngx-skeleton-loader [theme]="{
                                                              width: '170px',
                                                              height: '40px'
                                                            }"></ngx-skeleton-loader>
                                    </div>
                                    <div class="newsAnnouc-title">
                                        <ngx-skeleton-loader [theme]="{
                                                              width: '170px',
                                                              height: '40px'
                                                            }"></ngx-skeleton-loader>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="newsAnnouc_card1">
                                    <div class="newsAnnouc">
                                        <ngx-skeleton-loader [theme]="{ width: '220px', height: '100px','margin': '5px'}">
                                        </ngx-skeleton-loader>
                                    </div>
                                    <div class="newsAnnouc-title">
                                        <ngx-skeleton-loader [theme]="{
                                                              width: '170px',
                                                              height: '40px'
                                                            }"></ngx-skeleton-loader>
                                    </div>
                                    <div class="newsAnnouc-title">
                                        <ngx-skeleton-loader [theme]="{
                                                              width: '170px',
                                                              height: '40px'
                                                            }"></ngx-skeleton-loader>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="newsAnnouc_card1">
                                    <div class="newsAnnouc">
                                        <ngx-skeleton-loader [theme]="{ width: '220px', height: '100px','margin': '5px'}">
                                        </ngx-skeleton-loader>
                                    </div>
                                    <div class="newsAnnouc-title">
                                        <ngx-skeleton-loader [theme]="{
                                                              width: '170px',
                                                              height: '40px'
                                                            }"></ngx-skeleton-loader>
                                    </div>
                                    <div class="newsAnnouc-title">
                                        <ngx-skeleton-loader [theme]="{
                                                              width: '170px',
                                                              height: '40px'
                                                            }"></ngx-skeleton-loader>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="newsAnnouc_card1">
                                    <div class="newsAnnouc">
                                        <ngx-skeleton-loader [theme]="{ width: '220px', height: '100px','margin': '5px'}">
                                        </ngx-skeleton-loader>
                                    </div>
                                    <div class="newsAnnouc-title">
                                        <ngx-skeleton-loader [theme]="{
                                                              width: '170px',
                                                              height: '40px'
                                                            }"></ngx-skeleton-loader>
                                    </div>
                                    <div class="newsAnnouc-title">
                                        <ngx-skeleton-loader [theme]="{
                                                              width: '170px',
                                                              height: '40px'
                                                            }"></ngx-skeleton-loader>
                                    </div>
                                </div>
                            </td>
                        </div>
                    </div>
                </div>
            </tr>
        </table> -->
        <!-- <div class="multiple_category_card_container" *ngIf="!noDataFound">


            <div class="content_width" *ngIf="skeleton">
                <div class="cards_container" *ngIf="!noNews">

                    <div class="singel_card" *ngFor="let item of newslist ;let i=index">

                        <div class="singel_card_image not_found pointer" (click)="gotoEnroll(item,2)">
                        </div>


                        <div class="card_title pointer" (click)="gotoEnroll(item,2)">
                            <div *ngIf="item?.name">
                                <div class="" title="{{item.name}}" *ngIf="item?.name?.length <= 15">
                                    {{item.name}}</div>
                                <div class="" title="{{item.name}}" *ngIf="item?.name?.length > 15">
                                    {{item.name.substring(0,15)}}...</div>
                            </div>
                            <div *ngIf="!(item?.name)"></div>
                        </div>




                        <div class="user-icon pointer" (click)="gotoEnroll(item,2)">
                            <div class="icons-enable-disable" title="Edit">
                                <i aria-hidden="true" class="fa fa-edit"></i>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <!--  [ngStyle]="{ height: conentHeight }" style="overflow-y: auto"  -->
        <ngx-no-data *ngIf="noNews||noDataFound" [config]="noDataVal"></ngx-no-data>
        <!-- <ngx-no-data *ngIf=""></ngx-no-data> -->
        <div (scroll)="onScroll(scrollMe)" *ngIf="!noNews" #scrollMe class="overflow_scroll_cards_container">
            <div *ngFor="let item of displayArray ;let i=index">
                <ngx-card [cardsList]="item"  (disabled)="enableDisableNews(item)" [config]="cardModify" (gotoDetails)="gotoEnrollCard(item)"></ngx-card>
            </div>
        </div>
        <!-- <div *ngIf="noNews">
            <div class="col-md-12 noDataDiv">
                <img class="noDataImg" src='assets/images/noDataFound1.png' onerror="this.src='assets/images/noDataFound1.png';">

            </div>
        </div> -->
    </div>
    <!--
    <div *ngIf="noDataFound">
        <div class="col-md-12 noDataDiv">
            <img class="noDataImg" src='assets/images/noDataFound1.png' onerror="this.src='assets/images/noDataFound1.png';">

        </div>
    </div> -->

</div>


<!-- ********************************* OLD  CODE ************************************************* -->

<!-- <div class="col-md-12 addEditCattoprow addEditCatsticky-top">
    <div class="col-md-6">
        <h3 class="marginTop14">News</h3>
    </div>
    <div class="col-md-6 text-right pad14px">
        <button type="submit" class="constantbtn floteright" (click)="back()" id="editbtn">Back</button>
        <button type="button" class="constantbtn-button-blue-left" (click)="gotoEnroll(null,1)"> Add News</button>
    </div>
</div>

<div class="widgets" *ngIf="!noDataFound">

    <div *ngIf="!noNews" ba-panel ba-panel-class="with-scroll">
        <section id="feature sec" class="section01">
            <div class="row col-md-12 catrow">
                <div *ngFor="let item of news; let i=index" class="card col-md-3">
                    <div>
                        <a>
                            <img src='assets/images/badgeNew.png'>
                        </a>
                        <a *ngIf="item.iconRef" style="cursor: pointer;">
                          <img src='assets/images/badgeNew.png'>
                      </a>
                        <a *ngIf="item.iconRef" style="cursor: pointer;">
                          <img src={{item.iconRef}}>
                      </a>
                    </div>

                    <div>
                        <div class="catsep">
                            {{item.name}}
                            {{item.name.length}}
                            <p class="toolcatp1 tooltip1">{{item.name}}</p>
                            <p class="toolcatp1 tooltip1" title="{{item.name}}" *ngIf="item?.name?.length <=10">
                                {{item.name}}</p>
                            <p class="toolcatp1 tooltip1" title="{{item.name}}" *ngIf="item?.name?.length > 10">
                                {{item.name.substring(0,10)}} . . .</p>
                        </div>
                        <div class="col-sm-12" style="height: 70px;border-bottom: 1px solid #f1f5f8;">
                          <p class="catdesp" title="{{item.description}}">{{item.description | slice:0:100}}</p>
                      </div>
                    </div>

                    <div class="col-sm-12 card-footer-main">
                        <div class="col-sm-12 card-footer-sub">
                            <div class="" title="Edit" (click)="gotoEnroll(item,2)">
                                <i class="fa fa-edit card-footer-icon pointer" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="col-sm-6 card-footer-sub">
                          <div class="">
                              <i title="Enabled" id="disable_{{item.visible}}"
                                  class="fa fa-eye card-footer-icon pointer" aria-hidden="true"
                                  (click)="disableBadge(i,item,true)" [hidden]="item.visible == 0"></i>
                              <i title="Disabled" id="enable_{{item.visible}}"
                                  class="fa fa-eye-slash card-footer-icon pointer" aria-hidden="true"
                                  (click)="disableBadge(i,item,false)" [hidden]="item.visible == 1"></i>
                          </div>
                      </div>
                    </div>

                </div>

            </div>
        </section>
    </div>
    <div *ngIf="noNews">
        <div class="NoDataDiv">
            No Announcements Found.
        </div>
    </div>

</div> -->
<div class="deleteModalBackdrop" *ngIf="enableDisableModal == true">
    <div class="deleteModal">
        <div class="modal-header deleteModalHeader">
            <p class="enableDisableModalHeaderP">{{title}}</p>
            <!-- <p *ngIf="enableCourse" class="enableDisableModalHeaderP">{{title}}</p> -->
            <button class="close closeDeleteModalBtn" aria-label="Close" (click)="closeEnableDisableModal()">
              <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
            <div class="" *ngIf="enableDisableNewsData?.visible == 0">
                <p class="enableDisableModalBodyP">Are you sure you want to Enable {{enableDisableNewsData.name}} ?</p>
            </div>
            <div class="" *ngIf="enableDisableNewsData?.visible == 1">
                <p class="enableDisableModalBodyP">Are you sure you want to Disable {{enableDisableNewsData.name}} ?</p>
            </div>
        </div>

        <div class="modal-footer deleteModalFooter">
            <div class="">
                <button type="button" class="subBttn focus" (click)="enableDisableCourse()">Yes</button>
            </div>
            <div class="">
                <button type="button" class="subBttn focus" (click)="closeEnableDisableModal()">No</button>
            </div>
        </div>
    </div>
</div>


