 <div class="loaderBackdrop" *ngIf="loader == true">
    <div id="loader"></div>
  </div> 
<div class="fixed" >
<div class="col-md-12 toprow sticky-top">
  <div class="col-md-6">
    <h3 class="h3lable">User Activity Report</h3>
  </div>
    <div class="dateSelect col-sm-2  paddtop">
                           <div id="divdob" class="mdl-left" style="">
                                  <span class="spancal">
                                      <input class="txtHeight inpucal" [placeholder]="startDatePlaceHolder" [options]="startDate" id="dob" [(ngModel)]="fildata.fromDate" #dob="ngx-mydatepicker" ngx-mydatepicker name="dob" (dateChanged)="onStartDateChanged($event)"/>
                                      <span>
                                          <button type="button" class="btncal cal_icon" (click)="dob.toggleCalendar()">
                                              <!-- <i class="glyphicon glyphicon-calendar"></i> -->
                                          </button>
                                      </span>
                                  </span>
                                </div>
                             <!--  {{fildata.toDate}} -->
                </div>
                <div class="dateSelect col-sm-2  paddtop">
                               <div id="divDoj" class="mdl-left" style="">
                                <span class="spancal">
                                  <input class="txtHeight inpucal" [placeholder]="endDatePlaceHolder" [options]="endDate" id="doj" ngx-mydatepicker name="doj" #doj="ngx-mydatepicker"
                                    [(ngModel)]="fildata.toDate" (dateChanged)="onEndDateChanged($event)"/>
                                     <span>
                                      <button type="button" class="btncal cal_icon" (click)="doj.toggleCalendar()">
                                          <i class="glyphicon glyphicon-calendar"></i>
                                      </button>
                                           </span>
                                  </span>
                                </div>
                </div>
                 <div class="btn-group col-sm-1  paddtop text-right" >
                         <button type="button" [disabled]="fildata.toDate =='' && fildata.fromDate=='' " class="constantbtn-button-blue-left"(click)="submitForm()">Save</button>
                </div>
                   <div class="btn-group col-sm-1  paddtop backmar">
                            <button type="button" class="back_button"  (click)="back()" >Back</button>
                </div>

        </div>
<!--     <div class="col-sm-12 ">
    <div class="row col-md-9">
    <div class="dateSelect col-sm-2 flotlefttop">
                           <div id="divdob" class="mdl-left" style="">
                                  <span class="spancal">
                                      <input class="txtHeight inpucal" [placeholder]="startDatePlaceHolder" [options]="startDate" id="dob" [(ngModel)]="fildata.fromDate" #dob="ngx-mydatepicker" ngx-mydatepicker name="dob" (dateChanged)="onStartDateChanged($event)"/>
                                      <span>
                                          <button type="button" class="btncal cal_icon" (click)="dob.toggleCalendar()">
                                           
                                          </button>
                                      </span>
                                  </span>
                                </div>
                       
                </div>
                <div class="dateSelect col-sm-2 flotlefttop">
                               <div id="divDoj" class="mdl-left" style="">
                                <span class="spancal">
                                  <input class="txtHeight inpucal" [placeholder]="endDatePlaceHolder" [options]="endDate" id="doj" ngx-mydatepicker name="doj" #doj="ngx-mydatepicker"
                                    [(ngModel)]="fildata.toDate" (dateChanged)="onEndDateChanged($event)"/>
                                     <span>
                                      <button type="button" class="btncal cal_icon" (click)="doj.toggleCalendar()">
                                          <i class="glyphicon glyphicon-calendar"></i>
                                      </button>
                                           </span>
                                  </span>
                                </div>
                </div>
                 <div class="btn-group col-sm-2 flotlefttop" >
                         <button type="button" class="btn optbtnNewre1"(click)="submitForm()">Save</button>
                </div>
        </div>
        </div> -->
<div class="tablepadd container" *ngIf="show">
  <angular-slickgrid gridId="grid1" *ngIf="!loader"
            [columnDefinitions]="columnDefinitions"
            [gridOptions]="gridOptions"
            [dataset]="dataset"
            (onAngularGridCreated)="angularGridReady($event)"
            (onGridStateChanged)="gridStateChanged($event)"
            (onBeforeGridDestroy)="saveCurrentGridState($event)"
            (sgOnSelectedRowsChanged)="handleSelectedRowsChanged($event.detail.eventData, $event.detail.args)">
            <!-- (sgOnRowCountChanged)="refreshStatistics($event.detail.eventData, $event.detail.args)" -->
  </angular-slickgrid>
</div>