.spancal
{
 width:120%;
  display:inline-flex;
}
.inpucal
{
  width:79%;
  height:35px;
}
.btncal
{
  width:35px;
  height:35px;
  float:right;
}
.cal_icon{
  background: url(assets/images/calendar-icon.png) no-repeat;
  background-size: 100% 100%;
}
.optbtnNewre1{
    border-radius: 0 !important;
    background: #ed462f !important;
    color: #fff;
    border: #ed462f !important;
    height: 36px;
    text-align: center;
    margin-top: 0px;
}
.toprow{
  border: none;
  background-color: #ffffff;
  height: auto;width: 100%;
  display: inline-flex;
}

.sticky-top
{
  position: sticky;
    top: 66px;
    z-index: 1030;
}
.h3lable
{
  margin-top:11.5px;
}
.tablepadd
{
  padding: 25px;
}
.paddtop
{
  padding-top:5px;
  margin-left: 3px;
}
.backmar
{
      padding: 5px 0px;
    margin-left: 11px;

}
