
.form-drop
{
color: #ffffff;
background-color: #076ba1;
border: 1px solid #cbcbcb;
box-shadow: none;
    font-size: 14px;
    display: block;
    width: 100%;
    padding: 0.2rem 0.5rem;
    line-height: 1.25;
        background-image: none;
    background-clip: padding-box;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s
}
.form-drop:focus {
    color: #ffffff;
    box-shadow: none;
    border-color: #4db1a7;
    background-color: #076ba1;
}

.flotlefttop
{
  float: left;
  margin:5px;
  height: 36px;
  padding:0;
}




.selDate
{
  width:100%;
  border-radius: 0px;
  margin-bottom: 0;
}

.sticky-top
{
  position: sticky;
    top: 66px;
    z-index: 1030;
}
.spancal
{
 width:100%;
  display:inline-flex;
}
.inpucal
{
  width:79%;
  height:35px;
}
.btncal
{
  width:35px;
  height:35px;
  float:right;
}
.cal_icon{
  background: url(assets/images/calendar-icon.png) no-repeat;
  background-size: 100% 100%;
}
.optbtnNewre1{
    border-radius: 0 !important;
    background: #ed462f !important;
    color: #fff;
    border: #ed462f !important;
    height: 36px;
    text-align: center;
    margin-top: 0px;
}
.toprow{
  border: none;
  background-color: #ffffff;
  height: auto;width: 100%;
  display: inline-flex;
}

.sticky-top
{
  position: sticky;
    top: 66px;
    z-index: 1030;
}
.h3lable
{
  margin-top:11.5px;
}
.tablepadd
{
  padding: 25px;
}

.margin
{
  margin-left:0px;
}

.margin0
{
  margin-left: 22.9%;
}
.marlef
{
margin-left: 10px;
}