
 <div class="loaderBackdrop" *ngIf="loader == true">
    <div id="loader"></div>
  </div> 
<div class="fixed" *ngIf="show">
<div class="col-md-12 toprow sticky-top">
  <div class="col-md-4">
    <h3 class="h3lable">Employee Login Report</h3>
  </div>
 <div class="row col-md-9" [ngClass]="{'margin':fildata.dateid ==0,'margin0':fildata.dateid !=0}">
 <div class="row col-sm-12">  
  <div class="btn-group col-sm-2 flotlefttop" >
                        <select [(ngModel)]="fildata.logid" id="FilterOpt" class="form-drop" autocomplete="false" required>
                                <option value="" selected >All</option>
                                <option *ngFor="let log of loggeddrop" value={{log.id}}>{{log.name}}</option>
                                <!-- [disabled]="par.pSelected==true" -->
                              </select>
                </div>
                <div class="btn-group col-sm-2 flotlefttop" >
                        <select [(ngModel)]="fildata.dateid" id="FilterOpt" class="form-drop" autocomplete="false">
                                <!-- <option value="" selected disabled>Select Option</option> -->
                                <option *ngFor="let date of datedrop" value={{date.id}}>{{date.name}}</option>
                                <!-- [disabled]="par.pSelected==true" -->
                              </select>
                </div>
                <div class="dateSelect col-sm-2 flotlefttop" [hidden]="fildata.dateid !=0">
                           <div id="divdob" class="mdl-left" style="">
                                  <span class="spancal">
                                      <input class="txtHeight inpucal" [placeholder]="startDatePlaceHolder" [options]="startDate" id="dob" [(ngModel)]="fildata.fromDate" #dob="ngx-mydatepicker" ngx-mydatepicker name="dob" (dateChanged)="onStartDateChanged($event)"/>
                                      <span>
                                          <button type="button" class="btncal cal_icon" (click)="dob.toggleCalendar()">
                                              <!-- <i class="glyphicon glyphicon-calendar"></i> -->
                                          </button>
                                      </span>
                                  </span>
                                </div>
                             <!--  {{fildata.toDate}} -->
                </div>
                <div class="dateSelect col-sm-2 flotlefttop"  [hidden]="fildata.dateid !=0">
                               <div id="divDoj" class="mdl-left" style="">
                                <span class="spancal">
                                  <input class="txtHeight inpucal" [placeholder]="endDatePlaceHolder" [options]="endDate" id="doj" ngx-mydatepicker name="doj" #doj="ngx-mydatepicker"
                                    [(ngModel)]="fildata.toDate" (dateChanged)="onEndDateChanged($event)"/>
                                     <span>
                                      <button type="button" class="btncal cal_icon" (click)="doj.toggleCalendar()">
                                          <i class="glyphicon glyphicon-calendar"></i>
                                      </button>
                                           </span>
                                  </span>
                                </div>
                </div>
                 <div class="btn-group col-sm-3 text-right" >
                         <button type="button" class="btn optbtnNewre1"(click)="submitForm()">Save</button>
                         <button type="button" class="back_button"  (click)="back()" >Back</button> 
                </div>
               <!--  <div class="btn-group col-sm-2 flotlefttop"  >
                         <button type="button" class="backcombut"  (click)="back()" >Back</button> 
                </div>
 -->

                   
</div>
                </div>
  </div>
<!--             <div class="col-sm-12 ">
              <div class="row col-md-9">
                <div class="btn-group col-sm-2 flotlefttop" >
                        <select [(ngModel)]="fildata.logid" id="FilterOpt" class="form-drop" autocomplete="false" required>
                             
                                <option *ngFor="let log of loggeddrop" value={{log.id}}>{{log.name}}</option>
                   
                              </select>
                </div>
                <div class="btn-group col-sm-2 flotlefttop" >
                        <select [(ngModel)]="fildata.dateid" id="FilterOpt" class="form-drop" autocomplete="false">
                               
                                <option *ngFor="let date of datedrop" value={{date.id}}>{{date.name}}</option>
                              </select>
                </div>
                <div class="dateSelect col-sm-2 flotlefttop" [hidden]="fildata.dateid !=0">
                           <div id="divdob" class="mdl-left" style="">
                                  <span class="spancal">
                                      <input class="txtHeight inpucal" [placeholder]="startDatePlaceHolder" [options]="startDate" id="dob" [(ngModel)]="fildata.fromDate" #dob="ngx-mydatepicker" ngx-mydatepicker name="dob" (dateChanged)="onStartDateChanged($event)"/>
                                      <span>
                                          <button type="button" class="btncal cal_icon" (click)="dob.toggleCalendar()">
                               
                                          </button>
                                      </span>
                                  </span>
                                </div>
                            
                </div>
                <div class="dateSelect col-sm-2 flotlefttop"  [hidden]="fildata.dateid !=0">
                               <div id="divDoj" class="mdl-left" style="">
                                <span class="spancal">
                                  <input class="txtHeight inpucal" [placeholder]="endDatePlaceHolder" [options]="endDate" id="doj" ngx-mydatepicker name="doj" #doj="ngx-mydatepicker"
                                    [(ngModel)]="fildata.toDate" (dateChanged)="onEndDateChanged($event)"/>
                                     <span>
                                      <button type="button" class="btncal cal_icon" (click)="doj.toggleCalendar()">
                                          <i class="glyphicon glyphicon-calendar"></i>
                                      </button>
                                           </span>
                                  </span>
                                </div>
                </div>
                 <div class="btn-group col-sm-2 flotlefttop" >
                         <button type="button" class="btn optbtnNewre1"(click)="submitForm()">Save</button>
                </div>
                        
                </div>
                </div>  -->
    <!-- <button type="button" class="btn optbtnNewre1" (click)="submitForm()">Save</button> -->

<div class="tablepadd container" *ngIf="!loader" >
  <angular-slickgrid gridId="grid1"
            [columnDefinitions]="columnDefinitions"
            [gridOptions]="gridOptions"
            [dataset]="dataset"
            (onAngularGridCreated)="angularGridReady($event)"
            (onGridStateChanged)="gridStateChanged($event)"
            (onBeforeGridDestroy)="saveCurrentGridState($event)"
            (sgOnSelectedRowsChanged)="handleSelectedRowsChanged($event.detail.eventData, $event.detail.args)">
            <!-- (sgOnRowCountChanged)="refreshStatistics($event.detail.eventData, $event.detail.args)" -->
  </angular-slickgrid>
  </div>
</div>