<!-- <div class="deleteModalBackdrop">
    <div class="deleteModal">
        <div class="modal-header deleteModalHeader">
            <p class="enableDisableModalHeaderP">{{modalInfo.title}}</p>
            <button class="close closeDeleteModalBtn" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
        </div>
  
        <div class="modal-body">
            <div class="" >
                <p class="enableDisableModalBodyP">{{modalInfo.message}}</p>
            </div>
        </div>
  
        <div class="modal-footer deleteModalFooter" *ngIf="modalInfo.event_first && modalInfo.event_second">
            <div class="col-md-2">
                <button type="button" class="deleteModalBtn" (click)="accepted()">{{modalInfo.event_first}}</button>
            </div>
            <div class="col-md-2">
                <button type="button" class="deleteModalBtn" (click)="rejected()">{{modalInfo.event_second}}</button>
            </div>
        </div>
    </div>
  </div> -->

  <div class="addSelfBackdrop2">
	<div class="addSelfDemoModal2">
		<h1 class="modalheader">{{modalInfo.title}}</h1>
        <button class="close closeDeleteModalBtn" aria-label="Close" (click)="close()"></button>
		<div class="content123 row">
			<p class="para123">{{modalInfo.message}}</p>
			<div class="toggleIcon">
				<!-- <div class="toggle" (click)="SynSettings()">
					<i class="fas fa-toggle-off" [ngClass]="{'fa-toggle-on' : togglebtn }"></i>
				</div> -->
				<!-- <div class="toggle" (click)="toggleBtnState()" [hidden]="togglebtn.toggleON">
								<i class="fas "></i>
							</div> -->
			</div>
		</div>
		<div class="butns">
			<button type="button" class="btn btn-success mR10" (click)="accepted()" *ngIf="modalInfo.event_first">{{modalInfo.event_first}}</button>
			<button type="button" class="btn btn-warning" (click)="rejected()" *ngIf="modalInfo.event_second">{{modalInfo.event_second}}</button>
		</div>

	</div>
</div>