
.pointer{
    cursor: pointer;
}
.trHeader{
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    padding: 8px;
    background-color:#2574a2 !important

}
.btn:hover{
    transform: none;
}
#btnAdd:hover{
  background: #076ba1;
  background-color: #076ba1;
}
#btnBackHover:hover{
  background: #FF0000;
  background-color: #FF0000;
}

.btnAddCategory{
  margin: 10px !important;
  border-radius: 0px;
  background: #076ba1;
  background-color: #076ba1;
  transform: none;
  color:white;
  height: 37px;
   //padding: 5px;
  margin-right:5px;
  border-color: #076ba1;
  transform: none;
}
.btnBack{
  border-radius: 0px;
  background: #076ba1;
  //padding: 5px;
   height: 37px;
  margin:10px !important;
  color:white;
  transform: none !important;

}
#noMatch{
  margin: 10px;
  text-align:center;
  border-radius: 15px;
  border: 1px solid #076ba1;
  padding: 20px; 
}

/* Center the loader */
#loader {
  position: absolute;
  left: 50%;
  top: 70%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #076ba1;
  border-radius: 50%;
  border-top: 16px solid #ffffff;
  /* border: 16px solid #f3f3f3; Light grey */
  /* border-top: 16px solid #3498db; Blue */
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

.mid{
  vertical-align: middle;
  line-height: 21px;
  padding-right:8px;
}
/*@import "../../../../theme/sass/conf/conf";*/

:host /deep/.pie-charts {
  color: #fff;

  .pie-chart-item-container {
    position: relative;
    padding: 0 15px;
    float: left;
    box-sizing: border-box;

    .card {
      height: 114px;
    }
  }

  @media screen and (min-width: 1325px) {
    .pie-chart-item-container {
      max-width: 25%;
      flex: 0 0 25%
    }
  }
  @media screen and (min-width: 700px) and (max-width: 1325px)  {
    .pie-chart-item-container {
      max-width: 50%;
      flex: 0 0 50%
    }
  }
  @media screen and (max-width: 700px)  {
    .pie-chart-item-container {
      max-width: 100%;
      flex: 0 0 100%
    }
  }

  .pie-chart-item {
    position: relative;
    .chart-icon {
      position: absolute;
      right: 0;
      top: 3px;
    }
  }
  @media screen and
  (min-width: 1325px) and (max-width: 1650px),
  (min-width: 700px) and (max-width: 830px),
  (max-width: 400px) {
    .chart-icon {
      display: none;
    }
  }

  .chart {
    position: relative;
    display: inline-block;
    width: 84px;
    height: 84px;
    text-align: center;
    float: left;
  }
  .chart canvas {
    position: absolute;
    top: 0;
    left: 0;
  }
  .percent {
    display: inline-block;
    line-height: 84px;
    z-index: 2;
    font-size: 16px;
  }
  .percent:after {
    content: '%';
    margin-left: 0.1em;
    font-size: .8em;
  }
  .description {
    display: inline-block;
    padding: 20px 0 0 20px;
    font-size: 18px;
    opacity: 0.9;
    .description-stats {
      padding-top: 8px;
      font-size: 24px;
    }
  }
  .angular {
    margin-top: 100px;
  }
  .angular .chart {
    margin-top: 0;
  }
}
.tooltipMenu::after {
    content: " ";
    position: absolute;
    border-width: 10px;
    border-style: solid;
}
.bottomSide.tooltipMenu::after {
    bottom: 100%;
    left: 45%;
    border-color: transparent transparent white transparent;
}
.leftSide.tooltipMenu::after {
    left: 100%;
    top: 5%;
    border-color: transparent transparent transparent white;
}

.rightSide.tooltipMenu::after {
    right: 100%;
    top: 5%;
    border-color: transparent white transparent transparent;
}

.topSide.tooltipMenu::after {
    right: 45%;
    top: 100%;
    border-color: white transparent transparent transparent;
}
.bottomSide {
  top: 100%;
}

.topSide {
  bottom: 100%;
}
.leftSide {
  right: 70%;
  top: 15%
}
  .catsep
{
  border-bottom: 1px solid #f1f5f8;
  margin-bottom: 5px;
}

.rightSide {
  left: 70%;
  top: 15%;
}
div li:hover .tooltipMenu{
  visibility: visible;
  cursor: pointer;
} 
.tooltip{
  position: relative;
  display: inline-block;
  opacity: 1;
}

.tooltipMenu {
  visibility: hidden;
  position: absolute;
  z-index: 1;
}
.tooltipMenu{
  min-height: 100px;
  width: 45%;
 /* border: 1px solid #0d77b6;*/
}

.tooltipMenu ul li{
    color: #fff;
    padding: 13px;
    font-family: sans-serif;
    font-size: 15px;
    width: 100%;
    background: #62a8ea;
    display: flex;
    height: 2.5rem;
    border-radius: 1px;
}

.tooltipMenu ul li:hover{
  background: #0d77b6;
  color: white;
  cursor: pointer;
  font-weight: bold;
}
.card {
    color: #000000;
    background-color: #ffffff;
    /*border: 0px solid #0000000a;*/
    border: 0px;
    box-shadow: none;
}

.sec{
  float:none;
}

.catHead{
  border: none;
  background-color: #ffffff;
  height: auto;width: 100%;
  display: inline-flex;
}

.catsearchdiv{
  float: left;
  // margin: 7.5px;
  margin: 10.5px;
  display: inline-flex;
  border: 1px solid #cbcbcb;
  padding: 0;
}

// .searchdiv{
//   float: left;
//   margin: 10px !important;
//   display: inline-flex;
//   border: 1px solid #cbcbcb;
//   padding: 0;
// }

.catsearchdiv > input
{
  border-radius: 0;
  border: 0px;
  background-color: #ffffff !important;
  :focus
  {
      background-color: #ffffff ;
  }
}

.catRemove
{
  background-color: #ffffff;
  //padding: 9px 9px 0 0;
  // padding: 9px 1px 0px 0px;
      padding: 9px 5px;
}

.borderNone{
  border: none !important;
}

.btn-div
{
  float: right;
 // margin: 8px;
  //padding: 5px 30px 5px 5px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Poppins";
    width: 100%;
    margin-top: 16px;
}

.btn-div > button
{
  float: right;
    background: #076ba1;
    border-color: #076ba1;
    color: #ffffff;
    border-radius: 0;
}
.catrow
{
  height:auto;
  width: 100%;
  display: inline-flex;
    margin: 0px;
  padding:0px;
}
.catrow > div{
  // width: 100%;
  // padding: 0;
  // margin:3%;
  // height: 100%;
    width: 100%;
    padding: 0;
    margin: 4% 0 0 4%;
    height: 100%;
    flex: 0 0 20%;
  a {
    text-align: center;
  }
  a > img{
    // width: 100%;
    width: 100%;
    //height: 100%;
   // height: 111px;;
   height: 111px !important;
  }
  div{
    width: 100%;
   
    // margin: 0.7rem 0;
    .toolcatp{
      text-align: center;
      margin: 1% 0% !important;
      width: 92%;
      cursor: pointer;
      font-size: 20px;  
    font-weight: 500;
    }
    .toolcat{
      width: 8%;
      float: right;
      margin: 3% 0% !important;
    }
  }
}
.tolicon
{
  font-size: 19px;
}
  .catdesp
  {
    font-size: 12px;
    height: 50px;
  }
.tooltipMenulist{
  display: flex;
  width: 5rem;
  ul{
      display: inherit;
      border-radius: 17px;
      padding-left: 7px;
    }
}

.firstli{
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
}

.lastli{
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
}

.al-content {
   padding: 0px;
}
.colpadd{
   padding: 0px;
}

.sticky-catHead{
  position: sticky;
  top: 67px;
  z-index: 1090;
}

.pad14px{
  padding: 12px;
}

.marginTop14{
  margin-top: 14px;
}

.notFoundPage{
  display: inline-block;
  width: 100%;
  padding: 10px;
  height: 100%;
}


.card-footer-main {
    // height: 50px;
    padding: 0;
}
.card-footer-sub {
    // height: 50px;
    padding: 0;
    text-align: center;
        margin: 10px 0;
}

.card-footer-icon{
  font-size: 20px;
    margin: 1px 10px;
    color: #2795d0;
}
// .card-footer-text-div
// {
//   font-size: 13px;
//   text-align: center;
// }
.border-bott-feed
{
      //border-bottom: 1px solid #eeee;
      border-bottom : 1px solid #f1f5f8;
}

.NoDataDiv{
  position:fixed;
  top: 50%;
  left: 52%;
}

.modal-header{
  background-color: #076ba1;
  height: 55px;
  color: #fff !important;
}

.close {
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #fff !important;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
}

.enableDisableModalBodyP{
  margin: 1rem;
}

.modal-footer{
  height: 55px;
}

.modal-body .row{
  margin: 20px 0 !important;
}

.modal-body {
  position: relative;
  padding: 1.25rem;;
  display: flex;
  box-sizing: border-box;
}

.BackButton{
  width: auto !important;
    border: none;
    padding: 6px 14px !important;
    background-color: #076ba1 !important;
    color: #fff !important;
    text-transform: uppercase !important;
    min-width: 90px !important;
    max-height: 29px !important;
    margin-left: 5px;
}
.surveybtnNewAdd{
  width: auto !important;
  border: none;
  padding: 6px 14px !important;
  background-color: #076ba1 !important;
  color: #fff !important;
  text-transform: uppercase !important;
  min-width: 90px !important;
  max-height: 29px !important;
}
.reqField{
  display: inline;
  color: #ed462f !important;
}
.dupSurveyModal{
   
  // position: absolute;
  // width: 100%;
  // height: 100%;
  // top: 67px;
  // background-color: #404040c2;
  // z-index: 2000;
  position: fixed;
   width: 100%;
   height: 100%;
   top: 0px;
   left: 0px;
   z-index: 1503;
   background-color: #404040c2;
  .dupSurveyModalSub{
      /*width: 80%;*/
      // width: 50%;
      // margin: auto;
      // background-color: #fff;
      // margin-top: 50px;
      // border-radius: 5px;
      width: 50%;
      margin: auto;
      background-color: #fff;
      margin-top: 65px;
      border-radius: 5px;
  }
}

.usericon{
  text-align: center;
  //border-bottom: 1px solid #f1f5f8;

  .contenticon {
      i{
          font-size: 20px;
          color: #2795d0;
          margin-bottom: 0px !important;
      }
      padding-top: 10px;
      margin: 0;
      padding-bottom: 5px;
  }
}
.contdesp {
  font-size: 14px;
}
.manager{
  padding: 10px !important;
  border-bottom: 1px solid #f1f5f8;
}
.contdespDiv {
  //  height: 70px;
    border-bottom: 1px solid #f1f5f8;
}
.paddingLR0{
  padding-left: 0px !important;
  padding-right : 0px !important;
}

.addSelfBackdrop2{		
	position: fixed;		
	 width: 100%;		
	 height: 100%;		
	 top: 0px;		
	 left: 0px;		
	 z-index: 1503;		
	 background-color: #40404075;		
	.addSelfDemoModal2{		
		width: 40%;		
		margin: auto;		
		background-color: #fff;		
		border-radius: 5px;		
		margin-top: 5%;		
		padding: 20px;		
	}		
}		
.modalheader{		
	font-family: "Open sans";		
	text-align: center;		
	width: 100%;		
}	

.cancel{
    width: 120px;
    line-height: 38px;
    font-size: 14px;
    background: #fff;
    border: 1px solid #2196F3;
    color: #2196F3;
    border-radius: 25px;
    margin-right: 20px;
    box-shadow: 0 2px 13px -2px rgba(168, 168, 169, 0.5);
    outline: none !important;
    cursor: pointer;
}
.butns{
  height: auto;
  text-align: right;
}

.content123{
  margin: auto;
  width: 100%;
  margin-bottom: 20px;
  line-height: 25px;
}

.toggle{
  color: #2196F3;
  cursor: pointer;
}

.para123{
  font-size: 20px;
  color: #000;
  margin: 0;
  text-align:center;
  width: 95%;
}
.mR10{
  margin-right: 10px;
}
.wrapCOntent{
  padding: 45px 15px;
}

.toggleIcon{
  width: 5%;
  margin: auto;
  font-size: 23px;
  color: #7b7a7a;
  text-align: center;
  cursor: pointer;
}

.change{
  width: 120px;
  line-height: 40px;
  font-size: 14px;
  padding: 0;
  background: #2196F3;
  border: none;
  color: #fff;
  border-radius: 25px;
  box-shadow:0px 5px 14px 0px rgba(80,123,252,0.5);
  outline: none !important;
  cursor: pointer;
}

.dropBtn{
  color: #507BFC;
  border: 1px solid #507BFC;
  background: #fff;
  width: 100%;
  line-height: 45px;
  border-radius: 25px;
  outline: none !important;
  text-align: left;
  text-transform: capitalize;
  font-size: 16px;
  padding: 0 15px;
}

.nb-theme-default .dropdown .dropdown-menu, .nb-theme-default .dropup .dropdown-menu {
  margin-top: 6px;
  border-radius: 7px;
  border: none;
  width: 100%;
  color: #000;
  padding: 0;
  min-width: 100px;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.15);
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  font-size: 14px !important;
  white-space: nowrap;
  text-transform: capitalize !important;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #ccc;
}

.selectDiv{
  border-radius: 25px;
  border: 1px solid #7d7e7f;
  width: 270px;
}

.selectDiv select{
  min-width: 220px;
  min-height: 40px;
  padding: 0 15px;
  color: #7d7e7f;
  -webkit-appearance: button;
  outline: none !important;
  font-family: "open sans";
  border: none;
  margin: 0;
  margin-left: 15px;
  border-radius: 25px;
  font-size: 17px;
  cursor: pointer;
}


.selectDiv::after{
  content: '\f0d7';
  font-family: "Fontawesome";
  position: relative;
  top: 0px;
  left: 0;
  border-radius: 50%;
  padding: 4px 8px;
  background: #a4a6a7;
  width: 40px;
  color: #fff;
  height: 40px;
  cursor: pointer;
}



.msg{
  font-size: 20px;
  color: #4c4c4c;
  margin-bottom: 35px;
}
