ngx-coaching{
  .mainrow
{
  margin:25px 0 0 0;
}
.maincol
{
  padding: 10px;
  cursor: pointer;
  border:none;
}

.mainbox
{
  border: 2px solid #ffffff;
    box-shadow: 2px 4px 8px #dedede;
  border-radius:10px;
  background-color:#ffffff;
  cursor: pointer;
  height: 240px;outline-style: none;
  display: grid;
}

.mainh3
{
  text-align:center; 
  color:#076ba1;
  cursor: pointer;
}
.mainp
{
  text-align:center;
  font-weight:300;
  cursor: pointer;
}


.cloud{
    font-size: 99px;
      width: 86px;
      height: 86px;
      margin: 21px auto 21px auto;
      color: #076ba1;
  }
  // .required_msg_text{
  //   .form-text{
  //     color: #ed462f !important;
  //   }
  // }
}
