<!-- <div class="widgets"> -->
<app-subheader [headerConfig]="header"></app-subheader>

<!-- <div class="col-md-12 toprow sticky-top">
    <div class="col-md-6">
        <h3 class="h3lable">Coaching</h3>
    </div>
</div> -->

<!-- <div ba-panel ba-panel-class="with-scroll">
    <section id="feature" class="section01">
        <div class="container">
            <div class="row col-md-12 mainrow">
                <div class="col-md-6 maincol" *ngFor="let item of learnData" style="">

                    <div class="element-animate mainbox" style=""
                        (click)="gotopages(item.menuRoute, item.menuIdentifier)">

                        <div class="{{item.menuIcon}}"></div>
                        <div class="media custom-media">

                            <div class="media-body">
                                <h3 class="mt-0 mainh3" style="">{{item.menuName}}</h3>

                                <p class="mainp" style="">{{item.menuDescription}}</p>
                            </div>
                        </div>
                    </div>
          
        </div>
      </div>
    </section>
  </div> -->

<!-- new card -->
<div class="mainCard">
    <ngx-parent-card [cardList]="item" *ngFor="let item of learnData" (cardClick)="gotopages(item.menuRoute, item.menuIdentifier)"></ngx-parent-card>
</div>