<!-- buttons -->
<div class="d-flex align-items-center justify-content-end pb-2">
    <div class="searchBarNew focus" [ngClass]="{ fullserch: showSearch }">
        <i class="fa fa-search search cursor-p" (click)="search()"></i>
        <i class="fa fa-times close-icon cursor-p" (click)="passEventToParent('clearself', '');reference.value='';showSearch = false"></i>
        <input type="text" placeholder="Search..." #reference [(ngModel)]="searchText" (keyup)="passEventToParent('searchSelfEnrol', $event)" />
    </div>
    <button class="commonBtn mr-0" (click)="passEventToParent('openSelfModal', '')">
    Setting
  </button>
</div>

<!-- table -->
<ngx-enrol-table  [pagination]=true  *ngIf="selfEnrolConfig" [label]="selfEnrolConfig?.labels" [tableData]="selfEnrolConfig?.data" (clickOnbutton)="passEventToParent('changeVisibilitySelf', $event)"></ngx-enrol-table>
<ngx-no-data [config]="noDataVal" *ngIf="selfEnrolConfig?.data?.length == 0"></ngx-no-data>

<!-- sidebar form -->

<!-- [saveDisabled]="!selfForm.valid || !selfEnrolConfig?.selfFieldsData?.profiles?.length" -->
<ngx-sidebar-form *ngIf="selfEnrolConfig?.showAddSelfModal" (saveBtn)="
    passEventToParent(
      'saveSelfFields',
      selfEnrolConfig?.selfFieldsData,
      selfForm
    )
  " (closeBtn)="passEventToParent('closeSelfModal', '')" (outside)="passEventToParent('closeSelfModal', '')" [sidebarTitle]="titleName" [buttonName]="btnName">
    <form #selfForm="ngForm">
        <div class="form-group" *ngIf="sideform">
            <label class="side-form-label">{{ selfEnrolConfig?.helpContent?.course_enrol?.self_type?.label }}
        <sup>&#x2731;</sup>
        <div class="help-tooltip">
          <i
            class="fa fa-info-circle tooltip-hover-info-label-round"
            aria-hidden="true"
          ></i>
          <div class="help-tooltip-position-right">
            <p>
              {{
                selfEnrolConfig?.helpContent?.course_enrol?.self_type
                  ?.labelHelpContent
              }}
            </p>
            <i></i>
          </div>
        </div>
      </label>
            <select class="custom-select commonSelect" [(ngModel)]="selfEnrolConfig?.selfFieldsData.sid" name="id" [ngClass]="{ 'invalid-form': id.errors && (id.dirty || id.touched) }" (ngModelChange)="onChange($event)" #id="ngModel" required>
        <option value="" selected disabled>Select</option>
        <option
          *ngFor="let type of selfEnrolConfig?.selfType"
          value="{{ type.id }}"
          >{{ type.name }}
        </option>
        <!-- <option value="2">Ipsum</option> -->
      </select>
            <ng-container *ngIf="id.errors && (id.dirty || id.touched)">
                <small class="invalid-msg" [hidden]="!id.errors.required">Type is required</small
        >
      </ng-container>
    </div>
    <div class="row" >
      <div class="form-group col-md-6" *ngIf="sideform">
        <label class="side-form-label"
          >{{ selfEnrolConfig?.helpContent?.course_enrol?.fields_type?.label }}
          <sup>&#x2731;</sup>
          <div class="help-tooltip">
            <i
              class="fa fa-info-circle tooltip-hover-info-label-round"
              aria-hidden="true"
            ></i>
            <div class="help-tooltip-position-right">
              <p>
                {{
                  selfEnrolConfig?.helpContent?.course_enrol?.fields_type
                    ?.labelHelpContent
                }}
              </p>
              <i></i>
            </div>
          </div>
        </label>
        <select
          class="custom-select commonSelect"
          (change)="
            passEventToParent(
              'selfFieldTypeSelected',
              $event,
              null,
              selfEnrolConfig.selfFieldsData
            )
          "
          (ngModelChange)="onChange($event)"
          [ngClass]="{ 'invalid-form': type.errors && (type.dirty || type.touched) }"
          [(ngModel)]="selfEnrolConfig?.selfFieldsData.type"
          name="selfType"
          #type="ngModel"
          required
        >
          <option value="" disabled selected>Select</option>
          <option
            *ngFor="let ftype of selfEnrolConfig?.selfFeildType"
            value="{{ ftype.selfTypeId }}"
            >{{ ftype.selfTypeName }}
          </option>
        </select>
        <ng-container *ngIf="type.errors && (type.dirty || type.touched)">
          <small class="invalid-msg" [hidden]="!type.errors.required"
            >Fields Type is required</small
          >
        </ng-container>
      </div>
      <div class="form-group col-md-6" >
        <label class="side-form-label"
          >{{
            selfEnrolConfig?.helpContent?.course_enrol?.max_enrollments?.label
          }}
          <sup>&#x2731;</sup>
          <div class="help-tooltip">
            <i
              class="fa fa-info-circle tooltip-hover-info-label-round"
              aria-hidden="true"
            ></i>
            <div class="help-tooltip-position-right">
              <p>
                {{
                  selfEnrolConfig?.helpContent?.course_enrol?.max_enrollments
                    .labelHelpContent
                }}
              </p>
              <i></i>
            </div>
          </div>
        </label>
        <input
          type="number"
          [(ngModel)]="selfEnrolConfig?.selfFieldsData.maxCount"
          name="maxCount"
          #maxCount="ngModel"
          required
          class="form-control commonInput"
          (ngModelChange)="onChange($event)"
          [ngClass]="{ 'invalid-form': maxCount.errors && (maxCount.dirty || maxCount.touched) }"
          placeholder="Enter max enrollments"
        />
        <ng-container
          *ngIf="maxCount.errors && (maxCount.dirty || maxCount.touched)"
        >
          <small class="invalid-msg" [hidden]="!maxCount.errors.required">
            Max count is required</small
          >
        </ng-container>
      </div>
    </div>
    <!--  *ngIf="selfEnrolConfig?.isFetchingSettings" -->
    <ng-container *ngIf="selfEnrolConfig?.isFetchingSettings">
      <div
        class="selector-section position-relative p-2 mb-3"
        *ngFor="
          let selfField of selfEnrolConfig?.selfFieldsData.profiles;
          let i = index
        "
      >
        <span
          class="remove-selector position-absolute"
          *ngIf="selfEnrolConfig?.selfFieldsData.profiles.length > 1"
          (click)="passEventToParent('removeSelfFields', i, id, selfField)"
          >X</span
        >
        <div class="row">
          <div class="form-group m-0 col-md-6">
            <select
              class="custom-select commonSelect"
              #dropSelfRuleType="ngModel"
              [name]="'dropSelfRuleType_' + i"
              [id]="'dropSelfRuleType_' + i"
              [(ngModel)]="selfField.field"
              ngDefaultControl
              (change)="
                passEventToParent(
                  'selfFieldTypeSelected',
                  $event,
                  i,
                  selfField,
                  selfEnrolConfig?.selfFieldsData
                );
                passEventToParent(
                  'callTypeSelfFields',
                  $event,
                  i,
                  2,
                  selfEnrolConfig?.selfFieldsData
                )
              "
              required
              [ngClass]="{ 'invalid-form':  dropSelfRuleType.errors &&
              (dropSelfRuleType.dirty || dropSelfRuleType.touched) }"
            >
              <option value="" selected disabled>Select Type</option>
              <option
                *ngFor="let selfProField of selfEnrolConfig?.profileFieldsSelf"
                [disabled]="selfProField.selected == 'true'"
                [value]="selfProField.id"
                >{{ selfProField.name }}</option
              >
            </select>
            <ng-container
              *ngIf="
                dropSelfRuleType.errors &&
                (dropSelfRuleType.dirty || dropSelfRuleType.touched)
              "
            >
              <small
                class="invalid-msg"
                [hidden]="!dropSelfRuleType.errors.required"
              >
                Type is required</small
              >
            </ng-container>
          </div>
          <!-- <div class="form-group m-0 col-md-6">
                    <angular2-multiselect [data]="dropdownList" [(ngModel)]="selectedItems"
                        [ngModelOptions]="{standalone: true}" [settings]="dropdownSettings"
                        (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)"
                        (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)">
                    </angular2-multiselect>
                </div> -->
          <div class="form-group m-0 col-md-6">
            <!-- <input [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" [selectMode]="'range'" class="form-control" placeholder="Select Date">
                    <owl-date-time #dt1 [pickerType]="'calendar'"></owl-date-time> -->
            <ng-container
              *ngIf="(selfEnrolConfig?.controlList)[i]?.datatype == 'text'"
            >
              <input
                type="text"
                class="form-control commonInput"
                [id]="'inputText_' + i"
                placeholder="Input Text"
                [name]="'fieldTypeValues_' + i"
                [(ngModel)]="selfField.fieldValues"
                #fieldValues="ngModel"
                (ngModelChange)="onChange($event)"
                required
                [ngClass]="{ 'invalid-form': fieldValues?.errors &&
                (fieldValues?.dirty || fieldValues?.touched) }"
                placeholder="Enter name of the rule"
              />
              <ng-container
                *ngIf="
                  fieldValues?.errors &&
                  (fieldValues?.dirty || fieldValues?.touched)
                "
              >
                <small
                  class="invalid-msg"
                  [hidden]="!fieldValues?.errors?.required"
                >
                  Input required</small
                >
              </ng-container>
            </ng-container>
            <ng-container
              *ngIf="(selfEnrolConfig?.controlList)[i]?.datatype == 'number'"
            >
              <input
                type="number"
                class="form-control commonInput"
                [id]="'inputText_' + i"
                placeholder="Input Text"
                [name]="'fieldTypeValues_' + i"
                [(ngModel)]="selfField.fieldValues"
                #fieldValues="ngModel"
                (ngModelChange)="onChange($event)"
                required
                [ngClass]="{ 'invalid-form': fieldValues?.errors &&
                (fieldValues?.dirty || fieldValues?.touched) }"
                placeholder="Enter name of the rule"
              />
              <ng-container
                *ngIf="
                  fieldValues?.errors &&
                  (fieldValues?.dirty || fieldValues?.touched)
                "
              >
                <small
                  class="invalid-msg"
                  [hidden]="!fieldValues?.errors?.required"
                >
                  Input required</small
                >
              </ng-container>
            </ng-container>
            <ng-container
              *ngIf="(selfEnrolConfig?.controlList)[i]?.datatype == 'menu'"
            >
              <angular2-multiselect
                [data]="(selfEnrolConfig?.controlList)[i]?.subtype"
                [(ngModel)]="selfField.fieldValuesArr"
                [settings]="dropdownSettings"
                [ngClass]="{ 'invalid-form': fieldValues?.errors &&
                (fieldValues?.dirty || fieldValues?.touched) }"
                (onSelect)="
                  passEventToParent(
                    'onItemSelectSelf',
                    $event,
                    i,
                    selfField,
                    selfEnrolConfig?.selfFieldsData
                  )
                "
                (onDeSelect)="
                  passEventToParent(
                    'OnItemDeSelectSelf',
                    $event,
                    i,
                    selfField,
                    selfEnrolConfig?.selfFieldsData
                  )
                "
                (onSelectAll)="
                  passEventToParent(
                    'onSelectAllSelf',
                    $event,
                    i,
                    selfField,
                    selfEnrolConfig?.selfFieldsData
                  )
                "
                (onDeSelectAll)="
                  passEventToParent(
                    'onDeSelectAllSelf',
                    $event,
                    i,
                    selfField,
                    selfEnrolConfig?.selfFieldsData
                  )
                "
                [name]="'fieldTypeValues_' + i"
                [id]="'fieldTypeValues_' + i"
                #fieldValuesArr="ngModel"
                ngDefaultControl
                required
              >
                <c-item>
                  <ng-template let-item="item">
                    <label class="multiselect-label">{{ item.name }}</label>
                  </ng-template>
                </c-item>
              </angular2-multiselect>
              <ng-container
                *ngIf="
                  fieldValues?.errors &&
                  (fieldValues?.dirty || fieldValues?.touched)
                "
              >
                <small
                  class="invalid-msg"
                  [hidden]="!fieldValues?.errors?.required"
                >
                  Input required</small
                >
              </ng-container>
            </ng-container>
            <ng-container
              *ngIf="(selfEnrolConfig?.controlList)[i]?.datatype == 'datetime' && (!selfField.fieldValues.includes('$'))"
            >
              <input
                placeholder="Select date:"
                class="form-control commonInput"
                [bsConfig]="{
                  containerClass: 'theme-dark-blue',
                  dateInputFormat: 'DD-MM-YYYY'
                }"
                [ngClass]="{ 'invalid-form': fieldValues?.errors &&
                (fieldValues?.dirty || fieldValues?.touched) }"
                [selectMode]="'range'"
                [owlDateTimeTrigger]="dtRange2"
                (ngModelChange)="onChange($event)"
                [owlDateTime]="dtRange2"
                [name]="'fieldTypeValues_' + i"
                [id]="'fieldTypeValues_' + i"
                [(ngModel)]="selfField.fieldValues"
                [value]="selfField.fieldValues ? selfField.fieldValues : []"
                ngDefaultControl
                #fieldValues="ngModel"
                required
              />

              <!-- <input placeholder="Select date:" class="form-control datePickerInput" [style.width]="'350px'" [max]='maxDate' id="inputDate_{{i}}"
                                [(ngModel)]="item.fieldValues" name="fieldTypeValues_{{i}}" [bsConfig]="{ containerClass: 'theme-dark-blue', dateInputFormat: 'DD-MMM-YYYY'}"
                                    [selectMode]="'range'" #fieldValues="ngModel" required [owlDateTimeTrigger]="dtRange2" [owlDateTime]="dtRange2"> -->
              <owl-date-time
                [pickerType]="'calendar'"
                #dtRange2
              ></owl-date-time>

              <ng-container
                *ngIf="
                  fieldValues?.errors &&
                  (fieldValues?.dirty || fieldValues?.touched)
                "
              >
                <small
                  class="invalid-msg"
                  [hidden]="!fieldValues?.errors?.required"
                >
                  Input required</small
                >
              </ng-container>
            </ng-container>
          </div>
        </div>
      </div>
    </ng-container>

    <div class="float-right" [class.disabled-contenct]="!selfForm.valid" *ngIf="sideform">
      <small class="add-icon" (click)="passEventToParent('addSelfFields', '')"
        >Add +</small
      >
    </div>
  </form>


</ngx-sidebar-form>

<!-- modal pop-up -->
<app-modal-pop-up *ngIf="showPopup" (closeBtn)="closePopup()">
  <ngx-enrol-table
    [label]="labels"
    [pagination]=true
    [tableData]="tableList"
    (selectRow)="openPopup()"
  ></ngx-enrol-table>
</app-modal-pop-up>
