@import '../../../@theme/styles/variable.scss';
.checkboxDiv {
    display: block;
    cursor: pointer;
    position: relative;
    min-height: 1.3rem;
    margin-left: -10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkboxDiv input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 17px;
    width: 17px;
    z-index: 1;
}

.tableCheck {
    position: absolute;
    top: 0;
    height: 17px;
    width: 17px;
    border-radius: 0.25em;
    border: 1px solid #c8c7c7;
}

.checkboxDiv:hover input~.tableCheck {
    background-color: #f2f3f4;
}

.checkboxDiv input:checked~.tableCheck {
    // border-color: #076BA1;
    // background-color: #076BA1;
    border-color: var(--colorCommon);
    background-color: var(--colorCommon);
}

.tableCheck:after {
    content: "";
    position: absolute;
    display: none;
}

.checkboxDiv input:checked~.tableCheck:after {
    display: block;
}

.checkboxDiv .tableCheck:after {
    top: 2px;
    left: 5px;
    width: 5px;
    height: 9px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}