// // .table-content{
// //     display: grid;
// //     // grid-template-columns: 1fr 2fr 4fr 1fr;
// //     align-items: center;
// //     padding: 10px ;
// //     text-align: center;
// //     .table-row-image{
// //         margin: 0 auto;
// //         border-radius: 50%;
// //         height: 55px;
// //         width: 55px;;
// //         border: 3px solid #8e9db7;
// //     }
// //     h2{
// //         line-height: 30px;
// //         font-size: 16px;
// //         font-family: Roboto, "Helvetica Neue", sans-serif;
// //         margin: 0;
// //     }
// //     .rank {
// //         // font-size: 13vw;
// //         font-size: 45px;
// //         // color: blue;
// //         text-align: center;
// //         position: relative;
// //         .rank-number {
// //             position: absolute;
// //             color: white;
// //             left: 38%;
// //             font-size: 20px;
// //             top: 23%;
// //         }
// //     }
// //     // .golden-medal {
// //     //     color: #FFD700;
// //     // }
// //     // .silver-medal {
// //     //     color: #C0C0C0;
// //     // }
// //     // .bronze-medal {
// //     //     color: #cd7f32;
// //     // }
// // }
// // .table-content-odd{
// //     background-color: #4646460f;
// // }
// // .table-content-even{
// //     background-color: #fff;
// // }
// // New Table
// .table-wrapper {
//     background: #fff;
//     padding: 20px;
//     // margin: 30px 0;
//     width: 95%;
//     overflow-y: hidden;
//     overflow-x:auto;
//     margin: 30px auto;
//     box-shadow: 0 1px 1px rgba(0,0,0,.05);
// }
// .table-title {
//     padding-bottom: 10px;
//     margin: 0 0 10px;
//     .table_title_grid{
//         // display: grid;
//         // grid-template-columns: 3fr 2fr 1fr;
//         // align-items: center;
//         // .search_title{
//         //     h2 {
//         //         margin: 8px 0 0;
//         //         font-size: 22px;
//         //     }
//         // }
//         width: 60%;
//         margin: 0 auto;
//         text-align: center;
//         .search_container{
//             display: grid;
//             grid-template-columns: 3fr 1fr;
//             .search_icon{
//                 background: #076ba1;
//                 color: #fff;
//                 display: flex;
//                 align-items: center;
//                 justify-content: center;
//             }
//         }
//         .update_records{
//             text-align: right;
//             margin-left: auto;
//         }
//     }
// }
// .btn_clear{
//   // align-items: center; */
//     align-self: center;
//     /* justify-self: end; */
//     text-align: right;
// }
// table.table tr th, table.table tr td {
//     border-color: #e9e9e9;
//     padding: 0;
// }
// .data_inside{
//     height: 100%;
//     width: 100%;
//     padding: 8px;
// }
// table.table-striped tbody tr:nth-of-type(odd) {
//     background-color: #fcfcfc;
// }
// table.table-striped.table-hover tbody tr:hover {
//     background: #f5f5f5;
// }
// table.table th i {
//     font-size: 13px;
//     margin: 0 5px;
//     cursor: pointer;
// }
// table.table td:last-child {
//     width: 130px;
// }
// table.table td a {
//     color: #a0a5b1;
//     display: inline-block;
//     margin: 0 5px;
// }
// // table.table td a.view {
// //     color: #03A9F4;
// // }
// // table.table td a.edit {
// //     color: #FFC107;
// // }
// // table.table td a.delete {
// //     color: #E34724;
// // }
// // table.table td i {
// //     font-size: 19px;
// // }
// // Pagination Code
// .pagination {
//     float: right;
//     margin: 0 0 5px;
// }
// .pagination li a {
//     border: none;
//     font-size: 95%;
//     width: 30px;
//     height: 30px;
//     color: #999;
//     margin: 0 2px;
//     line-height: 30px;
//     border-radius: 30px !important;
//     text-align: center;
//     padding: 0;
// }
// .pagination li a:hover {
//     color: #666;
// }
// .pagination li.active a {
//     background: #03A9F4;
// }
// .pagination li.active a:hover {
//     background: #0397d6;
// }
// .pagination li.disabled i {
//     color: #ccc;
// }
// .pagination li i {
//     font-size: 16px;
//     padding-top: 6px
// }
// .hint-text {
//     float: left;
//     margin-top: 6px;
//     font-size: 95%;
// }
ngx-table {
    .btn_clear {
        align-self: center;
    }
    thead {
        // background: #e9f0f4;
        // font-family: sans-serif;
        // color: #4b4b4b;
        // color: var(--colorCommon);
        background: var(--colorHeader);
        color: var(--colorBtnTxt);
        th {
            font-size: 14px;
        }
    }
    tbody {
        color: #787878;
        font-size: 13px;
        border-bottom: 1px solid #dee2e6;
        tr {
            td {
                font-size: 13px;
                // padding: 8px 12px;
                padding-left: 12px !important;
            }
        }
    }
    .table thead th {
        border-bottom: 1px solid #dee2e6;
    }
    td,
    th {
        padding: 10px;
    }
    .mat-checkbox-layout {
        margin-bottom: 0px;
    }
    .mat-checkbox-inner-container {
        height: 17px;
        width: 17px;
    }
    .mat-checkbox-checked.mat-accent .mat-checkbox-background {
        background-color: #076ba1 !important;
    }
    .table_form_search {
        border: none !important;
        box-shadow: none;
        border: 1px solid #eee !important;
        padding: 0;
    }
    .table-wrapper {
        background: #fff;
        margin: 0;
        // padding: 20px;
        // box-shadow: 0 1px 1px rgba(0,0,0,.05);
        label {
            font-size: 13px;
        }
    }
    .overflow_table_container {
        width: 96%;
        margin: 10px auto;
    }
    .min_width_container {
        min-width: 100px;
    }
    .drop-height {
        margin: auto;
        height: 30px !important;
        font-size: 12px;
        padding: 0px;
    }
    .table-title {
        // font-size: 15px;
        //   padding-bottom: 10px;
        //   margin: 0 0 10px;
        // min-height: 45px;
        width: 92.3%;
        margin: 0 auto;
    }
    .table-title h2 {
        margin: 5px 0 0;
        font-size: 24px;
    }
    .table-title select {
        border-color: #ddd;
        border-width: 0 0 1px 0;
        padding: 3px 10px 3px 5px;
        margin: 0 5px;
    }
    .table-title .show-entries {
        margin-top: 7px;
    }
    .search-box {
        // position: relative;
        // float: right;
    }
    .search-box .input-group {
        max-width: 100%;
        // position: absolute;
        // right: 0;
    }
    .search-box .input-group-addon,
    .search-box input {
        border-color: #ddd;
        border-radius: 0;
    }
    .search-box .input-group-addon {
        border: none;
        border: none;
        background: transparent;
        position: absolute;
        z-index: 9;
    }
    .search-box .input-group-addon input {
        height: 34px;
        // padding-left: 28px;
        box-shadow: none !important;
        border-width: 0 0 1px 0;
        border: none;
        border-bottom: 1px solid #eee;
    }
    .search-box input:focus {
        border-color: #3FBAE4;
        .search-box i {
            color: #a0a5b1;
            font-size: 19px;
            position: relative;
            top: 2px;
            left: -10px;
        }
        table.table tr th,
        table.table tr td {
            border-color: #e9e9e9;
        }
        table.table th i {
            font-size: 13px;
            margin: 0 5px;
            cursor: pointer;
        }
        table.table td:last-child {
            width: 130px;
        }
        table.table td a {
            color: #a0a5b1;
            display: inline-block;
            margin: 0 5px;
        }
        table.table td a.view {
            color: #03A9F4;
        }
        table.table td a.edit {
            color: #FFC107;
        }
        table.table td a.delete {
            color: #E34724;
        }
        table.table td i {
            font-size: 19px;
        }
        .pagination {
            float: right;
            margin: 0 0 5px;
        }
        .pagination li a {
            border: none;
            font-size: 13px;
            min-width: 30px;
            min-height: 30px;
            padding: 0 10px;
            color: #999;
            margin: 0 2px;
            line-height: 30px;
            border-radius: 30px !important;
            text-align: center;
        }
        .pagination li a:hover {
            color: #666;
        }
        .pagination li.active a {
            background: #076BA1;
        }
        .pagination li.active a:hover {
            background: #076BA1;
        }
        .pagination li.disabled i {
            color: #ccc;
        }
        .download_link {
            color: #007bff;
            padding: 5px;
            font-size: 16px;
        }
        .pagination li i {
            font-size: 16px;
            padding-top: 6px
        }
        .hint-text {
            float: left;
            margin-top: 10px;
            font-size: 13px;
        }
    }
}