<!-- <div class="table-content"  [ngStyle]="{'grid-template-columns': repeatCssFunction(data.length)}" [ngClass]="{'table-content-odd': even, 'table-content-even': odd}" *ngFor="let item of data;let even = even; let odd = odd">
  <div (click)="valueChanged()">
    <h2>{{item.col_1}}</h2>
  </div>
  <div>
    <h2>{{item.col_2}}</h2>
  </div>
  <div>
    <h2>{{item.col_3}}</h2>
  </div>
  <div>
    <h2>{{item.col_4}}</h2>
  </div>
</div> -->

<div class="table-wrapper">
    <!-- <div class="table-title" *ngIf="stepIndex != 3">
        <div class="table_title_grid">

            <div class="search_container">
                <div class="input_field">
                    <input class="form-control" type="text" placeholder="Search" (keyup)='searchQuestion($event)' aria-label="Search">
                </div>
                <div class="search_icon">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </div>
            </div>
            <div class="update_records">
             </div>
        </div>
    </div> -->
    <!-- <div class="row" *ngIf="stepIndex == 3">
      <div class="col-md-3">
          <div class="form-group">
              <label for="usr">ECN:</label>
              <input type="text"  [(ngModel)]="userEcn"  placeholder="Search by Ecn" class="form-control" id="ecn">
            </div>
      </div>

      <div class="col-md-3">
          <div class="form-group">
              <label for="sel1">Completed Status</label>
              <select class="form-control" [(ngModel)]='completedStatus'  id="sel1">
                <option value="all">All</option>
                <option value="accepted">Accepted</option>
                <option value="rejected">Rejected</option>
                <option value="notAvailable">Not Available</option>

              </select>
            </div>
      </div>
      <div class="col-md-3">
          <div class="form-group">
              <label for="sel1">Publish</label>
              <select class="form-control" [(ngModel)]='publish'  id="sel1">
                <option value="all">All</option>
                <option value="notPublished">Not Published</option>
                <option value="published">Published</option>
                <option value="notApplicable">Not Applicable</option>

              </select>
            </div>
      </div>
      <div class="col-md-3 btn_clear">

            <button class="constantbtn-button-blue-left" (click)="FilterDate()">
                Search
            </button>
            <button class="constantbtn-button-blue-right" (click)="getOriginalData()">
              Clear
            </button>
      </div>

    </div> -->
    <!-- <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th *ngFor="let item of headerRow">
                    <input type="checkbox" [(ngModel)]="this.headerCheckBox" *ngIf="item === 'isSelected'" (change)="updateAllValues(this.headerCheckBox)" />
                    <span *ngIf="item !== 'isSelected'">{{item}}</span>
                </th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of data;let i = index">
                <td *ngFor="let item_1 of headerRow" [ngClass]="{'padding0': item_1 !== 'isSelected'}">
                  <input type="checkbox"  [(ngModel)]="item[item_1]" *ngIf="item_1 == 'isSelected'" (change)="updateSingleValue( i, item[item_1])" />
                  <div class="data_inside" *ngIf="item_1 !== 'isSelected'" (click)="callPopup(item)" > {{item[item_1]}}</div>
                </td>
            </tr>
           </tbody>
    </table> -->

    <!-- Pagination Content -->
    <!-- <div class="clearfix">
      <div class="hint-text">Showing <b>5</b> out of <b>25</b> entries</div>
      <ul class="pagination">
          <li class="page-item disabled"><a href="#"><i class="fa fa-angle-double-left"></i></a></li>
          <li class="page-item"><a href="#" class="page-link">1</a></li>
          <li class="page-item"><a href="#" class="page-link">2</a></li>
          <li class="page-item active"><a href="#" class="page-link">3</a></li>
          <li class="page-item"><a href="#" class="page-link">4</a></li>
          <li class="page-item"><a href="#" class="page-link">5</a></li>
          <li class="page-item"><a href="#" class="page-link"><i class="fa fa-angle-double-right"></i></a></li>
      </ul>
  </div> -->
</div>

<div class="table-wrapper">
    <div class="table-title">
        <div class="row" *ngIf="stepIndex != 3">
            <!-- <div class="col-sm-6">
              <h2></h2>
          </div> -->
            <div class="w-100">
                <div class="search-box">
                    <div class="input-group">
                        <!-- <span class="input-group-addon"></span> -->
                        <input type="text" class="form-control table_form_search" (keyup)='searchQuestion($event)' placeholder="Search by Ecn & Name">
                    </div>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="stepIndex == 3 && stepThreeFlag">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="usr">ECN:</label>
                    <input type="text" [(ngModel)]="userEcn" placeholder="Search by Ecn" class="form-control ttt_form_field_style table_form_search" id="ecn">
                </div>
            </div>
            <!-- <div class="col-md-3">
            <div class="form-group">
                <label for="usr">Employee Name:</label>
                <input type="text" placeholder="Employee Name" class="form-control" id="ecn">
              </div>
        </div> -->
            <!-- <div class="col-md-3">
            <div class="form-group">
                <label for="sel1">Completed Status</label>
                <select class="form-control drop-height" [(ngModel)]='completedStatus'  id="sel1">
                  <option value="all">All</option>
                  <option value="accepted">Accepted</option>
                  <option value="rejected">Rejected</option>
                  <option value="notAvailable">Not Available</option>
                </select>
              </div>
        </div> -->
            <div class="col-md-4" *ngIf="!isPending">
                <div class="form-group">
                    <label for="sel1">Publish</label>
                    <select class="form-control drop-height" [(ngModel)]="publish" id="sel1">
                  <option [value]="item.LOVValue" *ngFor="let item of dropDownData">{{item?.LOVName}}</option>
                  <!-- <option value="notPublished">Not Published</option>
                  <option value="published">Published</option>
                  <option value="notApplicable">Not Applicable</option> -->
                  <!-- <option>4</option> -->
                </select>
                </div>
            </div>
            <div class="col-md-4 btn_clear">
                <!-- <div class="form-group">
                <label for="sel1">Publish</label>
                <select class="form-control" id="sel1">
                  <option value="all">All</option>
                  <option value="notPublish">Not Publish</option>
                  <option value="notPublish">Publish</option>

                </select>
              </div> -->
                <button class="constantbtn-button-blue-left" (click)="FilterDate()">
                  Search
              </button>
                <button class="constantbtn-button-blue-right" (click)="getOriginalData()">
                Clear
              </button>
            </div>

        </div>
    </div>
    <div class="overflow_table_container">
        <table class="table" *ngIf="data?.length != 0 ">
            <thead>
                <th *ngFor="let item of headerRow" [ngClass]="{'min_width_container': item_1 == 'isSelected'}">
                    <mat-checkbox (change)="updateAllValues(this.headerCheckBox , $event)" *ngIf="item == 'isSelected'" [(ngModel)]="this.headerCheckBox"></mat-checkbox>
                    <!-- <input type="checkbox" [(ngModel)]="this.headerCheckBox" *ngIf="item == 'isSelected'" (change)="updateAllValues(this.headerCheckBox)" /> -->
                    <span *ngIf="item !== 'isSelected'">{{item}}</span>
                </th>
            </thead>
            <tbody>
                <tr *ngFor="let item of data;let i = index">
                    <td *ngFor="let item_1 of headerRow" [ngClass]="{'min_width_container': item_1 != 'isSelected'}">
                        <!-- <input type="checkbox"  [(ngModel)]="item[item_1]" *ngIf="item_1 == 'isSelected'" (change)="updateSingleValue( i, item[item_1])" /> -->
                        <mat-checkbox (change)="updateSingleValue( i, item[item_1], $event)" [(ngModel)]="item[item_1]" *ngIf="item_1 == 'isSelected'" [checked]="item[item_1]"></mat-checkbox>
                        <div class="data_inside" *ngIf="item_1 != 'isSelected'">
                            <div *ngIf="item_1 === 'Photo'">
                                <a [href]="item[item_1]" download *ngIf="item[item_1] != null">
                                    <span class="download_link">
                      <i class="fa fa-download" aria-hidden="true"></i>
                    </span>
                                </a>
                                <span *ngIf="!(item[item_1] != null && item[item_1])">NA</span>
                            </div>
                            <span *ngIf="item_1 !== 'Photo'" (click)="callPopup(item)">{{item[item_1]}}</span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


</div>
<!-- <div *ngIf="data?.length == 0 "> -->
<ngx-no-data *ngIf="data?.length ==0"></ngx-no-data>

<!-- <div>
      <p>
          No Data Found
      </p>
  </div> -->
<!-- </div> -->