<div class="reportContents">
    <div class="flexGrid">
        <!-- <fm-pivot [licenseKey]="flexMonsterKey" [report]="flexMonsterDataUrl" [report]="pivotReport">
        </fm-pivot> -->
        <!-- <fm-pivot #pivot [toolbar]="true" [width]="'100%'" [height]="500" [licenseKey]="flexMonsterKey" [report]="pivotReport" (ready)="onPivotReady($event)" [customizeCell]="onCustomizeCell" (reportcomplete)="onReportComplete($event)">
        </fm-pivot> -->
        <div #pivot id="pivot-container"></div>
    </div>
</div><!-- <script src="https://cdn.flexmonster.com/flexmonster.js"></script> -->



