<section class="vh-100 bg-soft d-flex align-items-center bg-light">
  <div class="w-100 text-center col-md-12">
    <div class="row justify-content-center form-bg-image">
      <!-- sign up -->
      <div
        class="d-flex align-items-center justify-content-center w-100"
      >
        <div
          class="signin-inner mt-lg-0 bg-white shadow-soft border border-light rounded p-4 px-lg-5 w-100"
        >
          <div class="d-flex justify-content-center pb-3">
            <img
              src="assets/images/Edge/edge-blue.png"
              alt="logo"
              width="40"
              height="40"
            />
            <h1 class="head align-self-center">Sign Up</h1>
          </div>

          <form #signupForm="ngForm">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="far fa-user"></i
                  ></span>
                </div>
                <input
                  type="text"
                  [(ngModel)]="signUpDetails.firstName"
                  required
                  name="firstName"
                  pattern="[A-Za-z0-9]+"
                  #firstName="ngModel"
                  class="form-control"
                  minlength="2"
                  placeholder="Enter first name"
                />
              </div>
              <ng-container *ngIf="firstName.invalid && firstName.touched">
                <small class="invalid-msg" [hidden]="!firstName.hasError('required')"
                  >First Name is required</small
                >
                <small class="invalid-msg" [hidden]="!firstName.hasError('minlength')"
                >Minimum 2 charecter requrired.</small
              >
                <small class="invalid-msg" *ngIf="firstName.errors.pattern"
                  >Only letters and numbers allowed.</small
                >
              </ng-container>
            </div>
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="far fa-user"></i
                  ></span>
                </div>
                <input
                  type="text"
                  [(ngModel)]="signUpDetails.lastName"
                  required
                  name="lastName"
                  #lastName="ngModel"
                  pattern="[a-zA-Z]+"
                  #lastname="ngModel"
                  minlength="2"
                  maxlength="20"
                  class="form-control"
                  placeholder="Enter last name"
                />
              </div>
              <ng-container *ngIf="lastName.invalid && lastName.touched">
                <small class="invalid-msg" [hidden]="!lastName.hasError('required')"
                  >Last Name is required</small
                >
                <small class="invalid-msg" [hidden]="!lastName.hasError('minlength')"
                >Minimum 2 charecter requrired.</small
              >
                <small class="invalid-msg" *ngIf="lastName.errors.pattern"
                  > Only alphabets allowed</small
                >
              </ng-container>
            </div>
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="far fa-envelope"></i
                  ></span>
                </div>
                <input
                  type="email"
                  [(ngModel)]="signUpDetails.email"
                  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                  required
                  name="email"
                  #email="ngModel"
                  class="form-control"
                  placeholder="Enter email"
                  [email]="true"
                />
              </div>
              <ng-container *ngIf="email.invalid && email.touched">
                <small class="invalid-msg" [hidden]="!email.hasError('required')"
                  >Email is required</small
                >
                <small class="invalid-msg" *ngIf="email.errors.pattern"
                >Email format should be
                <small><b>joe@abc.com</b></small></small
              >
              </ng-container>
            </div>
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="fas fa-mobile-alt"></i
                  ></span>
                </div>
                <!--  pattern="[789][0-9]{9}" -->
                <input
                  type="tel"
                  class="form-control"
                  [(ngModel)]="signUpDetails.phone"
                  required
                 pattern ="^[6-9]\d{9}$"
                  maxlength = 10
                  name="phone"
                  #phone="ngModel"
                  placeholder="Enter mobile number"
                />
              </div>
              <ng-container *ngIf="phone.invalid && phone.touched">
                <small class="invalid-msg" [hidden]="!phone.hasError('required')"
                  >Please Enter a phone number</small
                >
                <small class="invalid-msg" *ngIf="phone.errors.pattern"
                >Please Enter a valid phone number</small
              >
              </ng-container>
            </div>
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="fas fa-unlock-alt"></i
                  ></span>
                </div>
                <input
                  class="form-control"
                  [(ngModel)]="signUpDetails.password"
                  required
                  [type]="show ? 'text' : 'password'"
                  name="password"
                  pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,20}$"
                  #password="ngModel"
                  placeholder="Password"
                  type="password"
                />
                <div class="input-group-append" (click)="passwordEye()">
                  <span class="input-group-text"
                    ><i class="fas fa-eye"></i
                  ></span>
                </div>
              </div>
              <ng-container *ngIf="password.invalid && password.touched">
                <small class="invalid-msg" [hidden]="!password.hasError('required')"
                  >Password is required</small
                >
                <small class="invalid-msg" *ngIf="password.errors.pattern"
                  > Password must contain 8 to 20 characters, including 1 uppercase,lowercase, numbers and special character</small
                >
              </ng-container>
              <div class="input-group mt-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="fas fa-unlock-alt"></i
                  ></span>
                </div>
                <input
                  type = "password"
                  class="form-control"
                  placeholder="Confirm password"
                  [(ngModel)]="signUpDetails.confirmPassword"
                  required
                  pattern="{{ password.value }}"
                  name="confirmPassword"
                  #confirmPassword="ngModel"
                />
              </div>
              <ng-container *ngIf="confirmPassword.invalid && confirmPassword.touched">
                <small class="invalid-msg" [hidden]="!confirmPassword.hasError('required')"
                  >Confirm Password is required</small
                >
                <small class="invalid-msg" *ngIf="confirmPassword.errors.pattern"
                  >Password does not match</small
                >

              </ng-container>
              <!-- <ng-container *ngIf="(!confirmPassword.hasError('required')) && confirmPassword.touched">
                <small class="invalid-msg" [hidden]="signUpDetails.confirmPassword === signUpDetails.password"
                  >Password does not match</small
                >
              </ng-container> -->

            </div>

            <div class="row text-left ml-0 mr-0 mt-3">
              <div class="col-md-6 mb-0 ml-0 pl-0 form-group">
                <label
                  ><input
                    type="radio"
                    name="organization"
                    id="organization"
                    required
                    #organization="ngModel"
                    [value]="1"
                    [(ngModel)]="signUpDetails.organization"
                  />
                  <span class="ml-2">Organization</span>
                </label>
              </div>
              <div class="col-md-6 ml-0 pl-0  mb-0 form-group">
                <label
                  ><input
                    type="radio"
                    name="organization"
                    id="freeRadio"
                    required
                    #organization="ngModel"
                    [value]="2"
                    [(ngModel)]="signUpDetails.organization"
                  />
                  <span class="ml-2">Indivdual</span>
                </label>
              </div>
              <ng-container *ngIf="organization.invalid && organization.touched">
                <small class="invalid-msg">Organization is required</small>
              </ng-container>
            </div>
            <div
              class="d-block d-sm-flex justify-content-between align-items-center mt-2"
            >
              <div class="d-flex form-group form-check pl-0 my-2">
                <input type="checkbox" [(ngModel)]="signUpDetails.termsAndCondition"
                required
                value = true
                name="termsAndCondition"
                #termsAndCondition="ngModel" class="form-check-input" />
                <label
                  class="form-check-label ml-4 form-check-sign-white agree"
                  for="exampleCheck1"
                >
                  I agree to the <a [href]="currentBrandData?.termsandcondition" target="_blank">terms and conditions</a>
                </label>
              </div>

            </div>
            <ng-container *ngIf="termsAndCondition.invalid && termsAndCondition.touched">
              <small class="invalid-msg" [hidden]="!termsAndCondition.hasError('required')"
                >Please agree to Terms And Condition</small
              >
            </ng-container>
            <div class="alert alert-success" *ngIf ="mailSent" role="alert">
              {{mailSentMessage}}
            </div>
            <div class="alert alert-warning mt-2" *ngIf ="count !== 0" role="alert">
                Remaining reattempt: {{ maxResendCount - count}}
            </div>
            <div class="mt-3">
              <button
                type="submit"
                class="btn btn-block btn-color"
                (click)="sendVerificationLink(signupForm)"
                [disabled]="mailSent"
              >
                Sign up
              </button>
            </div>
            <div class="mt-3">
              <button
                *ngIf ="mailSent"
                type="button"
                class="btn btn-block btn-color"
                (click)="resendEmail()"
              >
                Resend Email
              </button>
            </div>
          </form>

          <div
            class="d-block d-sm-flex justify-content-center align-items-center mt-2"
          >
            <span class="font-weight-normal"
              >Already have an account?

              <a class="change-screen" (click)="signIn()">Login here</a>
            </span>
          </div>
        </div>
      </div>


    </div>
  </div>
</section>
