// New Scss
.form-bg-image {
  background-size: 87%;
  background-repeat: no-repeat;
  background-position: top center;
  background-image: url("../../../assets/signin.svg");
}

.signin-inner {
  height: 95vh;
  max-width: 484px;
}

.head {
  margin: 0;
  font-size: 24px;
  color: #454748;
  padding-left: 12px;
}

.input-group-text {
  i {
    width: 12px;
  }
}

.agree {
  font-size: 14px;
}

.change-screen {
  cursor: pointer;
  color: #007bff;
}


.btn-color {
  color: #ffffff;
  background: #1282ce;
}
