<div class="col-md-12 grid-margin stretch-card" [hidden]="IsmodelShow" *ngIf="!preview">
    <mat-dialogue-actions>
        <button class="topButton" mat-icon-button mat-dialog-close><i class="fa fa-remove searchRemove"  ></i></button>
    </mat-dialogue-actions>
    <div class="">
        <div class="card-body enrolCardBody">
            <div class="col-12 margin10 ">
                <div class="form-group inputenup">
                    <label class="sr-only" for="inputFile">File Upload</label>
                    <input type="file" #fileUpload class="form-control-file text-success font-weight-bold " id="inputFile" accept=".xls,.xlsx" (change)="readUrl($event)" attr.data-title="{{fileName}}">
                </div>
                <!-- <div class="col-sm-12 upbackbtn" *ngIf="!enableUpload">
                    <a href="assets/images/bulkenrol.xlsx" download>
                        <button class="constantbtn-button-blue-right"><i class="fas fa-download"></i>Template</button></a>
                </div> -->
                <div class="col-sm-12 upbackbtn" *ngIf="!preview && enableUpload">

                    <button type="button" class="constantbtn-button-blue-right" (click)="saveaproval()">Save</button>
                    <button type="button" class="constantbtn-button-blue-right" (click)="cancel()">Cancel</button>
                </div>
                <span></span>
            </div>
        </div>
    </div>
</div>