<p class="m-0" (click)="btnclick()" title="{{  normalText }}">{{ normalText | truncate : 25 : "..." }}</p>
<p class="m-0" style="white-space: nowrap;" (click)="btnclick()" title="{{  fulltext }}">{{ fulltext }}</p>
<p class="m-0" (click)="btnclick()" title="{{  htmlStr }}" [innerHTML]="htmlStr"></p>
<p class="m-0" *ngIf="!normalText &&  !fulltext && !htmlStr"> NA </p>