<!-- <div class="mains">
  <div class="warp" *ngFor=" let item of callArray">
    <div class="d-flex" >
      <p class="headT">{{ item.name }}</p>
      <button class="modalbtn" (click)="openModal()">+</button>
    </div>
    <div class="items">
      <div class="card coursediv col-md-3" *ngFor="let subitems of item.courseList">
        <div class="imgblock">
          <img [src]="subitems.courseImg" class="imgCC"/>
        </div>
        <div class="contents">
          <div class="flextit">
            <p class="title1">{{ subitems.courseName }}</p>
            <i class="fas fa-bars bars"></i>
          </div>
          <div class="desc">
            <p>{{ subitems.courseDesc | slice:0:50 }}</p>
            <div class="progressBar progress">
                <div class="progress-bar" role="progressbar" style="width: 60%" attr.aria-valuenow="{{subitems.progress}}" aria-valuemin="0" aria-valuemax="100">
                    <span class="percents">{{ subitems.progress }} %</span>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="addSelfBackdrop345" [hidden]= "!modal">
  <div class="addSelfDemoModal345">
      <div class="modal-header345">
        <h3 class="modalTitle">Select Courses</h3>
        <button class="close" (click)="closeModal()"><i class="fas fa-times"></i></button>
      </div>
      <div class="modal-body">
          <div class="items">
              <div class=" card coursediv col-md-3" *ngFor="let courses of allCourse">
                <div class="imgblock">
                  <img [src]="courses.courseImg" class="imgCC"/>
                </div>
                <div class="contents">
                  <div class="flextit">
                    <p class="title1">{{ courses.courseName }}</p>
                    <div class="checkbtn" [ngClass]="{ 'selected' : courses.isSelected }" (click)="selectItem(courses)"><i class="fas fa-check"></i></div>
                  </div>
                  <div class="desc">
                    <p>{{ courses.courseDesc | slice:0:50 }}</p>
                    <div class="progressBar progress">
                        <div class="progress-bar" role="progressbar" style="width: 60%" attr.aria-valuenow="{{courses.progress}}" aria-valuemin="0" aria-valuemax="100">
                            <span class="percents">{{ courses.progress }} %</span>
                        </div>
                    </div>
                   
                  </div>
                </div>
              </div>
            </div>

            <div class="modalfooter345">
              <button class="constantbtn" (click)="addSelected()">Add</button>
            </div>
      </div>
  </div>
</div> -->

<div *ngIf="courseAvailable">

    <div class='mainDiv'>

        <div class='row'>

            <div class="col-md-12">
                <div class='col-md-10'>
                    <div style="display: inline-flex">
                        <div class='noPad'>
                            <img class='headImg' src='assets/images/courseDetailIcon1.svg' />
                        </div>
                        <div>
                            <p class='headTitle'>{{courseData.courseName}}</p>
                            <p class='headDesc'> {{courseData.cDescription}}</p>
                            <!-- <p class='headTitle'> {{condataCourse.courseName}} </p>
                  <p class='headDesc'> {{condataCourse.cDescription}} </p> -->
                            <!-- <p class='headDetails'>Course Completion: end date   |    total courses Stages</p>         -->
                        </div>
                    </div>
                </div>
                <div class='shareContent col-md-2'>
                    <i class="fa fa-times-circle-o deleteModuleIcon" aria-hidden="true" (click)="romoveCourseModules(detail)"></i>
                </div>
            </div>

        </div>

        <div class='Tabs'>

            <div class='Tab-container' *ngFor='let tabs of contentArray;let i=index;' (click)='tabChanged(tabs)' [ngClass]="ActiveTab==i ? 'Tab-container-active' : 'Tab-container'">
                <div class='Tab-content ' [ngClass]="ActiveTab==i ? 'Tab-content-active' : 'Tab-content'">
                    {{ tabs.moduleName }}
                </div>
            </div>

        </div>

        <div class='bodyContainer' style="margin-top: 10px;">
            <div class='bodyContent' *ngFor='let detail of contentDataArray;let i=index;'>
                <div class="card-overlay" (click)='bookMark(i)'>
                    <img class='bodyImg' [src]="detail.img" />
                </div>
                <div class='bodyMid col-9'>
                    <div class='bodyMidHead row'>
                        <!-- <span class='bNo'>{{ detail.activityId }} </span> -->
                        <p class='bMHP1 col-5'><span class='bNa'>{{ detail.activityTitle }}</span></p>
                        <!-- <div class="col-5 row">
              <img class='cardImg' src="assets/images/online.svg"/>
              <p class='bMHP2'>ONLINE   |   45 mins</p>
            </div> -->
                        <div class="col-md-2 alignCenter">
                            <img *ngIf='detail.bookmarked==true' class='cardImg2' src='assets/images/bookmarked.svg' />
                            <img *ngIf='detail.bookmarked==false' class='cardImg2' src='assets/images/notBookmarked.svg' />
                        </div>
                    </div>
                    <div class='bodydesc'>
                        <p>{{ detail.summary }}</p>
                    </div>
                    <!-- <div class='bodyMidButton' (click)='goToCourseDetails(detail)'>
            <div class='bodyMidButtonText'>Begin</div>
          </div> -->
                </div>
            </div>
        </div>

    </div>



</div>

<div *ngIf="!courseAvailable">
    <div class="noData">
        <div class="centerAlign">
            <p class="centrtxt">No course selected.</p>
            <button class="constantbtn-button-blue-left" (click)="openModal()">Browse course</button>
        </div>

    </div>
</div>

<ngx-sidebar-form *ngIf="couresshow" [sidebarTitle]='badgeTitle' [buttonName]="btnName" (saveBtn)='saveCourse()' (outside)='closeModal()' (closeBtn)='closeModal()'>

    <!-- <div class="addCourseBackdrop" *ngIf="couresshow">
    <div class="addCourseBackdropModal">
        <div class="modal-header">
            <p>Select Course</p>
            <button class="close" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="mbody modal-body">
            <div class="topDivRe"> -->
    <div class="search_div1">
        <input class="form-control search_field ng-untouched ng-pristine ng-valid" name="namw" [(ngModel)]="searchtext" (keyup)="SarchFilter($event, searchtext)" placeholder="Search by Course Name" type="text">
        <i aria-hidden="true" class="fa fa-remove remove_icon" (click)="clear()"></i>
    </div>
    <div class="col-sm-12 card displayin" [ngClass]="{'activeCourse': activeSelectedCourseId == item.courseId}" *ngFor="let item of coursesCC; let i = index">
        <div (click)="setActiveSelectedCourse(i, item)">
            <div class="col-sm-3 floatleft">
                <a>
                    <!-- <img for="course{{item.courseId}}" class="courseIcon" src='{{item.coursePicRef}}'> -->
                    <img for="course{{item.courseId}}" class="courseIcon" src="{{item.coursePicRef?item.coursePicRef:'assets/images/courseicon.jpg'}}">
                </a>
            </div>

            <div class="courseContainer">
                <div class="col-sm-8 floatleft">
                    <h5>{{item.fullname}}</h5>
                    <p>{{item.summary}}</p>
                </div>
            </div>
        </div>
    </div>
    <!-- </div>
        </div>

        <div class="modal-footer text-right">
            <button type="button" class="constantbtn-button-blue-left" (click)="saveCourse()" id="editbtn">Select</button>
        </div>

    </div>
</div> -->
    <ngx-no-data *ngIf="nodata" [config]="noDataVal"></ngx-no-data>

</ngx-sidebar-form>