.program_call_container {
    .call_table {
        padding: 15px;
        .editIcon {
            color: black;
            cursor: pointer;
        }
    }
    .button_container {
        text-align: right;
    }
    .ngx-datatable.material .empty-row {
        // height: 50px;
        // display: flex;
        // padding: .5rem 1.2rem;
        // vertical-align: top;
        // border-top: 0;
        // margin: 15px;
        // border: 1px solid #076ba1;
        // border-radius: 20px;
        // align-items: center;
        // justify-content: center ;
        height: 50px;
        text-align: center;
        align-items: center;
        /* padding: .5rem 1.2rem; */
        display: grid;
        vertical-align: top;
        margin: 15px;
        border-radius: 15px;
        border: 1px solid #16acec;
    }
    .addEditCallBackdrop {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        z-index: 1503;
        background-color: #404040c2;
        .addEditCallModal {
            width: 50%;
            margin: auto;
            background-color: #fff;
            margin-top: 65px;
            border-radius: 5px;
            .modal-header {
                .close {
                    color: #FFFFFF;
                    outline: none;
                }
            }
            .modal-body {
                .form_grid_container {
                    .form_grid {
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        grid-column-gap: 20px;
                        grid-row-gap: 20px;
                        .form_field {
                            width: 100%;
                            .date_picker_container {
                                display: grid;
                                grid-template-columns: 1fr 0fr;
                                .input_field {
                                    height: 40px;
                                }
                                .cal_icon {
                                    background: #076ba1;
                                    color: #fff;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    font-size: 20px;
                                    width: 35px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}