<div class="program_call_container">
    <div class="tableDiv">
        <!-- <div class="button_container" style="margin-bottom: 20px;">
            <button class="commonBtn" (click)="addEditCall(null, 0)">Add Call</button>
        </div> -->
        <ngx-enrol-table *ngIf="!notFound" [label]="labels" [pagination]="true" [tableData]="calls_List" (clickOnbutton)=visibilityTableRowRule($event) (clickOnicon)="addEditCall($event,1)"></ngx-enrol-table>
        <ngx-no-data *ngIf='notFound' [config]="noDataVal"></ngx-no-data>

    </div>
    <!-- <div class="call_table">
        
        <ngx-datatable class="material" [rows]="calls_List" [columnMode]="'force'" [headerHeight]="50" [rowHeight]="50" [selectAllRowsOnPage]="false">
            <ngx-datatable-column [width]="300">
                <ng-template ngx-datatable-header-template>
                    <span>Call Date</span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <a class="">
            {{row.cDate}}
        
          </a>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column [width]="300">
                <ng-template ngx-datatable-header-template>
                    <span>From Time</span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <a class="">
            {{row.fromT}}
          </a>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column [width]="300">
                <ng-template ngx-datatable-header-template>
                    <span>To Time</span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <a class="">
              {{row.toT}}
            </a>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column [width]="300">
                <ng-template ngx-datatable-header-template>
                    <span>Trainer</span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <a class="">
            {{row.entityNames}}
          </a>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column [width]="300">
                <ng-template ngx-datatable-header-template>
                    <span></span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <a class="editIcon" (click)="addEditCall(row, 1)">
                        <i class="far fa-edit"></i>
                    </a>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column [width]="300">
                <ng-template ngx-datatable-header-template>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <a class="editIcon">
                        <i class="far fa-eye" *ngIf="row.visible === 1" (click)="enableDisable(row, 1)"></i>
                        <i class="far fa-eye-slash" *ngIf="row.visible === 0" (click)="enableDisable(row, 0)"></i>
                    </a>
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>
    </div> -->
    <ngx-sidebar-form *ngIf="openModal" [sidebarTitle]='title' [buttonName]="btnName" (outside)="closeModal()" (saveBtn)='onsubmit(callData, callForm)' (closeBtn)='closeModal()'>

        <!-- <div class="addEditCallBackdrop" *ngIf="openModal">
        <div class="addEditCallModal">
            <div class="modal-header deleteModalHeader">
                <p *ngIf='addAction' class="deleteModalHeaderP">Add Call</p>
                <p *ngIf='!addAction' class="deleteModalHeaderP">Edit Call</p>
                <button class="close" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body"> -->
        <form #callForm="ngForm">
            <div class="row">
                <div class="col-md-6 form-group">
                    <label class="side-form-label">Trainer Name</label>
                    <angular2-multiselect id="trainer" [data]="trainer" [settings]="settingsTrainerDrop" (onSelect)="onTrainerSelect($event)" (onDeSelect)="OnTrainerDeSelect($event)" name="trainer" required #trainers="ngModel" [(ngModel)]="selected_trainers">
                        <c-search>
                            <ng-template>
                                <input type="text" class="form-control commonInput" (keyup)="onTrainerSearch($event)" placeholder="Search Trainer..." />
                            </ng-template>
                        </c-search>
                        <c-item>
                            <ng-template let-item="item">
                                <label class="">{{ item.trainerName }}
                                </label>

                            </ng-template>
                        </c-item>
                    </angular2-multiselect>
                    <div [hidden]="trainers.valid || trainers.pristine">
                        <small class="invalid-msg" [hidden]="!trainers.hasError('required')">Trainer name is required</small>
                    </div>
                </div>
                <div class="col-md-6 form-group">

                    <label class="side-form-label">Call Date
                        <sup>&#x2731;</sup>
                    </label>
                    <div class="">
                        <div>
                            <input [owlDateTime]="dt1" placeholder="Call Date" [min]="minDate" [owlDateTimeTrigger]="dt1" class="form-control commonInput" required #callDt="ngModel" [(ngModel)]="callData.callDate" name="callDate" id="callDate" [owlDateTimeTrigger]="dt1" />
                            <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
                        </div>

                        <!-- <div class="cal_icon">
                            <span [owlDateTimeTrigger]="dt1"><i class="fa fa-calendar calfont"></i></span>
                            <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
                        </div> -->
                    </div>
                    <div [hidden]="callDt.valid || callDt.pristine">
                        <small class="invalid-msg" [hidden]="!callDt.hasError('required')">Call Date is required</small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 form-group">
                    <label class="side-form-label">Call Start Time
                        <sup>&#x2731;</sup>
                    </label>
                    <div class="">
                        <div>
                            <input [owlDateTime]="dt2" placeholder="Select time" [owlDateTimeTrigger]="dt2" class="form-control commonInput" [(ngModel)]="callData.fromTime" required name="fromTime" id="fromTime" #callTm="ngModel" [owlDateTimeTrigger]="dt2" />
                            <owl-date-time [pickerType]="'timer'" #dt2></owl-date-time>
                        </div>

                        <!-- <div class="cal_icon">
                            <span [owlDateTimeTrigger]="dt2"><i class="fa fa-calendar calfont"></i></span>
                            <owl-date-time [pickerType]="'timer'" #dt2></owl-date-time>
                        </div> -->
                    </div>
                    <div [hidden]="callTm.valid || callTm.pristine">
                        <small class="invalid-msg" [hidden]="!callTm.hasError('required')">Call Start Time is required</small>
                    </div>
                </div>

                <div class="col-md-6 form-group">
                    <label class="side-form-label">Call End Time
                        <sup>&#x2731;</sup>
                    </label>
                    <div class="">
                        <div>
                            <input [owlDateTime]="dt3" placeholder="Select time" [owlDateTimeTrigger]="dt3" class="form-control commonInput" [(ngModel)]="callData.toTime" [min]="callData.fromTime" required name="toTime" id="toTime" #callToTm="ngModel" [owlDateTimeTrigger]="dt3"
                            />
                            <owl-date-time [pickerType]="'timer'" #dt3></owl-date-time>
                        </div>

                        <!-- <div class="cal_icon">
                            <span [owlDateTimeTrigger]="dt3"><i class="fa fa-calendar calfont"></i></span>
                            <owl-date-time [pickerType]="'timer'" #dt3></owl-date-time>
                        </div> -->
                    </div>
                    <div [hidden]="callToTm.valid || callToTm.pristine">
                        <small class="invalid-msg" [hidden]="!callToTm.hasError('required')">Call End Time is required</small>
                    </div>
                </div>
            </div>
        </form>
        <!-- </div>
            <div class="modal-footer">
                <div class="button_container">
                    <button type="button" [disabled]="callForm.invalid" class="constantbtn-button-blue-left" (click)="onsubmit(callData)">Save</button>
                </div>
            </div>
        </div>
    </div> -->
    </ngx-sidebar-form>
</div>