
.forgotPwd_container{
.modal {
  padding-top: 300px;

  .modal-content {
    

    .modal-header {
      border: none;
    }

    .modal-footer {
      border: none;
    }

    .close {
      outline: none;
    }
  }
}

.auth-main {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
}

.auth-block {
    width: 510px;
    margin: 0 auto;
    background: rgba(1, 18, 23, 0.9215686274509803);
    color: #fff;
    height: 515px;
    /*z-index: 999999;*/

  h1 {
    /*font-weight: $font-light;*/
    margin-bottom: 28px;
    text-align: center;
    background-color: #58b4ff;
  }
  p {
    font-size: 16px;
  }
  a {
    text-decoration: none;
    outline: none;
    transition: all 0.2s ease;
    color: #fff;
    &:hover {
      color: #fff;
    }
  }

  .btn-auth {
    color: #008899 !important;
    vertical-align: baseline;
    background: #ffffff !important;
    border-color: #ffffff !important;
    width: 100%;
    height: 67px;
    border: none;
    border-radius: 0;
    box-shadow: none;
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 18px;
}

.width100{
  width: 100%;
}

.marginAuto{
  margin: auto;
    width: 100%;
}

a.forgot-pass {
  display: block;
  text-align: center;
}

  .control-label {
    padding-top: 11px;
    color: #fff;
  }

  .form-group {
    margin-bottom: 12px;
  }
}

.modal-buttons .btn {
  margin-right: 20px;
}


.error{
  font-size: 10px;
  color: red;
  font-weight: 600;
}

:host /deep/ {

  .page-top {
   
    position: fixed;
    z-index: 904;
    box-shadow: 2px 0 3px rgba(0, 0, 0, 0.5);
    height: 130px;
    width: 100%;
    
    padding: 0 32px 0 40px;

    .dropdown-toggle::after {
      display: none;
    }
  }

  .blur {
    .page-top.scrolled {
      background-color: rgba(black, 0.85)
    }
  }

  a.al-logo {
    margin-top: 30px;
    
    display: block;
    font-size: 24px;
    
    white-space: nowrap;
    float: left;
    outline: none !important;
    line-height: 60px;

    span {
      
      
      /*font-family: Futura, "Trebuchet MS", Arial, sans-serif;*/
      /* font-family : Brush Script MT, Brush Script Std, cursive;*/
      font-size: 50px;
      font-style: normal;
      font-variant: normal;
      font-weight: 500;
    }
  }

  a.al-logo:hover {
    
  }

  .user-profile {
    float: right;
    min-width: 230px;
    margin-top: 10px;
  }

  .al-user-profile {
    float: right;
    margin-right: 12px;
    transition: all .15s ease-in-out;
    padding: 0;
    width: 36px;
    height: 36px;
    border: 0;
    opacity: 1;
    position: relative;
    ul.profile-dropdown:after {
      bottom: 100%;
      right: 0;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(255, 255, 255, 0);
      border-bottom-color: #fff;
      border-width: 10px;
      margin-right: 28px;
    }
    a {
      display: block;
    }
    img {
      width: 45px;
      height: 45px;
      border-radius: 50%;
    }
  }

  a.refresh-data {
   
    font-size: 13px;
    text-decoration: none;
   
    float: right;
    margin-top: 13px;
    margin-right: 26px;

    &:hover {
      
    }
  }

  a.collapse-menu-link {
    font-size: 31px;
    cursor: pointer;
    display: block;
    text-decoration: none;
    line-height: 42px;
   
    padding: 0;
    float: left;
    margin: 11px 0 0 25px;

    &:hover {
      text-decoration: none;
      
    }
  }

  .al-skin-dropdown {
    float: right;
    margin-top: 14px;
    margin-right: 26px;

    .tpl-skin-panel {
      max-height: 300px;
      overflow-y: scroll;
      overflow-x: hidden;
    }
  }

  .icon-palette {
    display: inline-block;
    width: 14px;
    height: 13px;
    
    background-size: cover;
  }

  .search {
    text-shadow: none;
    font-size: 13px;
    line-height: 25px;
    transition: all 0.5s ease;
    white-space: nowrap;
    overflow: hidden;
    width: 162px;
    float: left;
    margin: 20px 0 0 30px;

    label {
      cursor: pointer;
    }
    i {
      width: 16px;
      display: inline-block;
      cursor: pointer;
      padding-left: 1px;
      font-size: 16px;
      margin-right: 13px;
    }
    input {
     
      background: none;
      border: none;
      outline: none;
      width: 120px;
      padding: 0;
      margin: 0 0 0 -3px;
      height: 27px;
    }
  }

 
 

  .profile-toggle-link {
    cursor: pointer;
  }
}
.auth-link1{
	  width: 20%;
    float: right;
    margin-top: 50px;
   
    /*font-family: Futura, "Trebuchet MS", Arial, sans-serif;*/
}

#labelName {
  font-size: 22px;
  
  /*font-family: Futura, "Trebuchet MS", Arial, sans-serif;*/
  text-align: left;
  display: inline-block;
  margin-left : 60px;
}

h1 {
  
  /*font-family: Futura, "Trebuchet MS", Arial, sans-serif;*/
}

a.forgot-pass1{
  cursor: pointer;
  /*font-family: Futura, "Trebuchet MS", Arial, sans-serif;*/
}

    .inputVal{
        display: inline-block;
        text-align: left;
        float: right;
        margin-top:6px;
    }

.signIn{
      margin-top:55px;
}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
      background-color: #008899 !important;
}

.myDiv{
  background-image: url("/assets/images/admin-background.jpg");
  /*opacity: 0.5;*/
}

.border_right{
  border: none;
  border-right: 1px solid #313131 !important;
}

.button_container{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff;
    opacity: 1; /* Firefox */
    font-size:15px;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #fff;
    font-size:15px;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #fff;
    font-size:15px;
}

.error{
  margin-left:60px;
}

.ng-valid[required], .ng-valid.required  {
  border-bottom: 3px solid #42A948 !important; /* green */
}

/*.ng-invalid:not(form)  {
  border-bottom: 3px solid #a94442 !important; red 
}*/

 .ng-dirty .ng-invalid .ng-invalid {
  border-bottom: 3px solid #a94442 !important; /* red */
}

.alert {
  margin-bottom: 1px;
  height: 25px;
  line-height:25px;
  padding:0px 15px;
}

.alert-danger {
    background-color: transparent;
    border-color: transparent;
    color: #a94442;
    padding-left: 61px;
    font-weight: 700;
}

/*input{
  border-bottom: 3px solid #FFEB3B ;
}*/

button, input, optgroup, select, textarea, p{
   
    /*font-family: ubuntu;*/
}

}