<!-- <div class="page-top clearfix" > -->
<!-- <a class="al-logo clearfix"><span><img src="" alt="Carefewerks"></span></a> -->
<!-- <a class="al-logo clearfix"><span>BFL EDGE</span></a>
  <a routerLink="/register" class="auth-link auth-link1" translate>Dont't have an account? Sign up</a>
</div> -->
<div class="forgotPwd_container">
  <div class="auth-main myDiv" style="background-color: #00BCD4 !important;">
    <div class="auth-block">
      <div style="font-weight: 300;/* margin-bottom: 28px; */text-align: center;background-color: #4dcae8;height: 7%;">
        <p translate style="font-weight: 400;font-size: 15px;padding-top: 9px;text-transform: uppercase;">Forgot Password</p>
      </div>
      <!-- <a routerLink="/register" class="auth-link" translate>{{'login.signup_link'}}< /a> -->
      <form *ngIf="showPassVal == true" #forgotForm="ngForm" (keyup.enter)="forgotPass();" style="height: 67%;">
        <fieldset style="height: 100%;">
          <div>
            <img src="/assets/images/512.png" width="45px" style="width: 70px;margin-top: 7%;margin-bottom: -20%;margin-left: 7%;font-weight: 600;">
            <div style="margin-left: 8%;margin-top: 24%;margin-bottom: -29%;">
              <p style="font-size: 22px !important;">Welcome to ILLUME,</p>
              <p style="font-size: 20px !important;">Enter your ECN/EMP ID to recover your account.</p>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputEmail1" class="col-sm-4 control-label" id="labelName" style="display: none;">ECN</label>
            <div class="col-sm-8" class="inputVal" style="width: 100%;">
              <input [(ngModel)]="forgotData1.ecn" type="text" class="form-control form-control-sm" id="inputEmail1" placeholder="ECN / EMP ID" required name="ECN" #ECN="ngModel" autocomplete="off" style="margin-top: 30%;width: 80%;margin-left: 10%;margin-right: 10%;background-color: #ece0e000 !important;border: none;border-bottom: 3px solid #FFEB3B ;color: #fff;font-size: 15px;border-radius: 0;">
              <!-- <i id="0-email" class="error"></i> -->
              <div [hidden]="ECN.valid || ECN.pristine" class="alert alert-danger">
                <div [hidden]="!ECN.hasError('required')">ECN is required</div>
                <!-- <div [hidden]="!userName.hasError('minlength')">Minimum 3 required</div> -->
              </div>
            </div>
          </div>
          <!-- <div class="form-group row">
            <label for="inputEmail2" class="col-sm-4 control-label" id="labelName" style="display: none;">Email id</label>
            <div class="col-sm-8" class="inputVal" style="width: 100%;">
              <input [(ngModel)]="forgotData1.password" type="email" class="form-control form-control-sm" id="inputEmail2" placeholder="Email id" required name="email" #email="ngModel" autocomplete="off" style="margin-top: 0%;width: 80%;margin-left: 10%;margin-right: 10%;background-color: #ece0e000 !important;border: none;border-bottom: 3px solid #FFEB3B ;color: #fff;font-size: 15px;border-radius: 0;">
              <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
                <div [hidden]="!email.hasError('required')">Email is required</div>
              </div>
            </div>
          </div> -->
          <div class="form-group row marginAuto">
            <div class="width100" >
            <a (click)="gotologin()" class="forgot-pass forgot-pass1" translate style="color: #fff;">Already have an account? Log in</a>
            </div>
          <div class="alert alert-danger" role="alert" *ngIf="error" style="text-align: center;padding: 0;margin-top: 38px;"> {{errorMessage}} </div>
          <!-- <button class="btn btn-success" (click)="lgModalShow()">Large modal</button> -->
          </div>
        </fieldset>
        
        <div class="form-group row" class="signIn" style="position: relative;bottom: 0;">
          <div class="button_container">
            <!-- <button type="button" [disabled]="!loginForm.form.valid" class="btn-auth" (click)="saveUser(login,0);" translate>Sign in</button> -->
            <button type="button" [disabled]="!forgotForm.form.valid" class="btn-auth border_right" (click)="forgotPass();" translate>Submit</button>
            <button type="button" class="btn-auth" (click)="cancel()" translate>Cancel</button>
          </div>
        </div>
        
      </form>

      <form *ngIf="showPassVal != true" #tokenForm="ngForm" (keyup.enter)="tokenVal();" style="height: 67%;">
        <fieldset style="height: 100%;">
          <div>
            <img src="/assets/images/512.png" width="45px" style="width: 70px;margin-top: 7%;margin-bottom: -20%;margin-left: 7%;font-weight: 600;">
            <div style="margin-left: 8%;margin-top: 24%;margin-bottom: -29%;">
              <p style="font-size: 22px !important;">Welcome to ILLUME,</p>
              <p style="font-size: 20px !important;">Enter token sent to your mail to recover your account.</p>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputEmail2" class="col-sm-4 control-label" id="labelName" style="display: none;">TOKEN</label>
            <div class="col-sm-8" class="inputVal" style="width: 100%;">
              <input [(ngModel)]="tokenData1.token" type="text" class="form-control form-control-sm" id="inputEmail2" placeholder="TOKEN" required name="token" #token="ngModel" autocomplete="off" style="margin-top: 30%;width: 80%;margin-left: 10%;margin-right: 10%;background-color: #ece0e000 !important;border: none;border-bottom: 3px solid #FFEB3B ;color: #fff;font-size: 15px;border-radius: 0;">
              <div [hidden]="token.valid || token.pristine" class="alert alert-danger">
                <div [hidden]="!token.hasError('required')">Token is required</div>
              </div>
            </div>
          </div>
          <div class="form-group row marginAuto">
            <div class="width100" >
            <a (click)="gotologin()" class="forgot-pass forgot-pass1" translate style="color: #fff;">Already have an account? Log in</a>
            </div>
          <div class="alert alert-danger" role="alert" *ngIf="error1" style="text-align: center;padding: 0;margin-top: 38px;margin-left: -43px;"> {{errorMessage1}} </div>
          </div>
        </fieldset>
        
        <div class="form-group row" class="signIn" style="position: relative;bottom: 0;">
          <div class="">
            <button type="button" [disabled]="!tokenForm.form.valid" class="btn-auth border_right" (click)="tokenVal();" translate>Submit</button>
            <button type="button" class="btn-auth" (click)="cancel()" translate>Cancel</button>
          </div>
        </div>
        
      </form>
    </div>
  </div>
</div>
