.error{
  font-size: 10px;
  color: red;
  font-weight: 600;
}
.card{
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
}
.tabset>.nav .nav-tabs{
  width: 100% !important;
}
.tabset>.nav .nav-tabs > li{
  width:33% !important;
}
.tabset > .nav .nav-tabs > li >a {
  width:100% !important ;
}
.feed-network {
  padding: 10px;
}
.text-network{
  border-bottom: 1px solid #d1daea !important;
}
.network-header{
  text-align: center;
}
.network-header >h3{
  font-size: 15px;
  color: #c42d2d;
}
.font11{
  font-size: 11px !important;
  /*padding-bottom: 10px !important;*/
}
.network-time{
  display: flow-root;
}
.network-emirate{
  float:left;
}
.neywork-type{
  float: right;
}
.google-maps {
  width: 100%;
  height: calc(100vh - 283px);
}
.colorB{
  color:#000;
}
.docListIcon{
  float: left;
  font-size: 25px;
  margin-top: 10px;
}
.docListHead{
  margin-left: 30px;
}
.btn-marg-lef15{
  margin-left: 15px;
}
.textCenter{
  text-align: center;
}
.width33{
  width: 33%;
}
.fileDiv{
  display: inline-flex;
  width: 100%;
  margin: 5px;
  vertical-align: middle;
  border: 1px solid #c4ddf0;
  padding: 5px;
  border-radius: 5px;
}
.fileDname{
  width: 90%;
  float:left;
}
.fileDCross{
  width: 10%;
  position: relative;
  top: 2px;
  flex: right;
}
.fileCount{
  font-size: 12px;
  text-align: center;
  color: #c43030;
  position: relative;
  left: 5px;
  top: 5px;
}
.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.inputfile-4 + label {
    color: #d3394c;
}
.inputfile + label {
  max-width: 80%;
  font-size: 1.25rem;
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: flex;
  overflow: hidden;
}
.inputfile-4 + label figure {
  width: 70px;
  height: 30px;
  border-radius: 5px;
  background-color: #c42e2e;
  display: block;
  text-align: center;
}
.policyList{
  border: 1px solid;
  padding: 10px;
  border-radius: 10px;
  margin: 5px auto;  
}
.form-groupMargin_01{
  margin-bottom: 0.1rem;
  margin-top: 0.1rem;
}
.smloader {
  /* border: 5px solid #f3f3f3; */
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  border-top: 5px solid #1b6b64;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  width: 150px;
  height: 150px;
  /* background-color: rgb(240, 243, 244); */
  /*visibility: hidden;*/
  opacity: 1;
  -webkit-transition: 0.1s opacity linear;
  transition: 0.1s opacity linear;
  visibility: visible;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  position: absolute;
  left: 45%;
  top: 40%;
  right: 45%;
  bottom: 40%;
  z-index: 13;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  visibility: visible;
  opacity: 1;
  -webkit-transition: 0.1s opacity linear;
  transition: 0.1s opacity linear;
}
.nav.nav-tabs {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: none;
  background-color: transparent;
}
.tabset>ul>li>a>span>i{
  font-size: 20px;
  display: block;
  height:100%
}
.tabset>ul>li>a>span>i>b{
  display: block;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
}
.tabset>ul>li{
  width: 33.30% !important;
}
.tabset>ul>li>a{
  width: 100%;
  background-color: transparent;
  color: #686868 !important;
  height: 55px;
  border-bottom: 3px solid #c42e2e !important;
}
.tabset>ul>li>a>.span{
  width: 100%;
}
.tabset>ul>li:last-child a{
  border-top-right-radius: 5px;
}
.tabset>ul>li.active > a {
  background-color: #bec0c1;
  color:#fff !important;
}
.tabset>ul>li:hover > a {
  color:#fff !important;
  background-color: #bec0c1;
  transform: none;
  transition: none;
}
.poDetails{
  width: inherit;
  display: -webkit-inline-box;
  margin-top: 10px;
}
.poDetailsIcon{
  font-size: 25px;
  position: relative;
  left: 40px;
}
.poDetailsHeader{
  position: relative;
  left: 60px;
}
.TaskRowCompletionStatus-checkbox {
  border: 1px solid #b9bcc0;
  border-radius: 50%;
  cursor: pointer;
  fill: #cdcfd2;
}
.TaskRowCompletionStatus-checkbox.TaskRowCompletionStatus-checkbox--incomplete {
  -webkit-transition: 200ms box-shadow,200ms color,200ms background,200ms fill;
  transition: 200ms box-shadow,200ms color,200ms background,200ms fill;
}
.TaskRow-completionStatus {
  margin: 0 10px 0 0;
}
.TaskRowCompletionStatus {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 22px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 22px;
}
.Icon {
  height: 16px;
  width: 16px;
}
.TaskRowCompletionStatus-checkbox.TaskRowCompletionStatus-checkbox--incomplete:hover {
  background-color: #fff;
  border-color: #fff;
  box-shadow: 0 0 0 3px #6dbd63;
  color: #6dbd63;
  fill: #6dbd63;
}
.TaskRowCompletionStatus-checkbox {
  border: 1px solid #b9bcc0;
  border-radius: 50%;
  cursor: pointer;
  fill: #cdcfd2;
}
svg {
  transform-origin: 50% 50% 0px;
}
.TaskRowCompletionStatus-checkbox.TaskRowCompletionStatus-checkbox--complete {
  background: #6dbd63;
  border-color: #d4f2e8;
  fill: #f5f5f5;
}
.TaskRowCompletionStatus-checkbox.TaskRowCompletionStatus-checkbox--complete {
  background: #6dbd63;
  border-color: #d4f2e8;
  fill: #f5f5f5;
}
.TaskRowCompletionStatus-checkbox1.TaskRowCompletionStatus-checkbox--incomplete1:hover {
  background-color: #fff;
  border-color: #fff;
  box-shadow: 0 0 0 3px #e64125;
  color: #e64125;
  fill: #e64125;
}
.TaskRowCompletionStatus-checkbox1 {
  border: 1px solid #b9bcc0;
  border-radius: 50%;
  cursor: pointer;
  fill: #cdcfd2;
}

.TaskRowCompletionStatus-checkbox1.TaskRowCompletionStatus-checkbox--complete1 {
  background: #e64125;
  border-color: #e64125;
  fill: #fff;
}
.TaskRowCompletionStatus-checkbox1.TaskRowCompletionStatus-checkbox--complete1 {
  background: #e64125;
  border-color: #e64125;
  fill: #fff;
}
.TaskRowCompletionStatus-checkbox1 {
  border: 1px solid #b9bcc0;
  border-radius: 50%;
  cursor: pointer;
  fill: #cdcfd2;
}
.TaskRowCompletionStatus-checkbox1.TaskRowCompletionStatus-checkbox--incomplete1 {
  -webkit-transition: 200ms box-shadow,200ms color,200ms background,200ms fill;
  transition: 200ms box-shadow,200ms color,200ms background,200ms fill;
}
.TaskRow-completionStatus1 {
  margin: 0 10px 0 0;
}
.TaskRowCompletionStatus1 {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 22px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 22px;
}

.invite{
  padding: 3px;
  border-radius: 10px;
  position: relative;
  top: 5px;
}
.invite--20{
  background: #6ebd64;
  border: 2px solid #219e91;
}
.ProfileName{
  position: relative;
  top: 17px;
  color: #fff;
  font-style: normal;
  font-weight: 600;
}
.al-user-profile{
  width: inherit !important;
}
.card .my-medium-card {
  height: 250px !important;
}
.card .my-medium-card1 {
  height: 300px !important;
}
.card .lm-medium-card{
  height: 350px !important;
}
.card .my-large-card {
    height: 520px !important;
}
.lineHeight25{
  line-height: 25px;
}
.lineHeight20{
  line-height: 20px;
}
p .docListHead, h3 .docListHead{
  margin-bottom: 5px
}
.card.with-scroll .card-body {
  height:100% !important;
}
.my-large-card>.card-body{
  padding: 5px 5px !important;
}
.form-control-sm-label{
  border:none !important;
}
.paddingLR-10{
  padding-left: 10px;
  padding-right: 10px;
}
.selectRow{
  padding-bottom: 10px;
}
.docListHead1{
  padding-left: 10px;
}
.feed-network-select{
  background-color: #f0f3f4;
  border-radius: 5px;
}
.labelColan{
  float: right;
  font-style: normal;
}

.toast-title{font-weight:700}
.toast-message{word-wrap:break-word}
.toast-message a,
.toast-message label{color:#fff}
.toast-message a:hover{color:#ccc;text-decoration:none}
.toast-close-button{position:relative;right:-.3em;top:-.3em;float:right;font-size:20px;font-weight:700;color:#fff;-webkit-text-shadow:0 1px 0 #fff;text-shadow:0 1px 0 #fff;opacity:.8}
.toast-close-button:focus,
.toast-close-button:hover{color:#000;text-decoration:none;cursor:pointer;opacity:.4}button
.toast-close-button{padding:0;cursor:pointer;background:transparent;border:0;-webkit-appearance:none}
.toast-top-center{top:0;right:0;width:100%}
.toast-bottom-center{bottom:0;right:0;width:100%}
.toast-top-full-width{top:0;right:0;width:100%}
.toast-bottom-full-width{bottom:0;right:0;width:100%}
.toast-top-left{top:12px;left:12px}
.toast-top-right{top:12px;right:12px}
.toast-bottom-right{right:12px;bottom:12px}
.toast-bottom-left{bottom:12px;left:12px}
#toast-container{position:fixed;z-index:99999}
#toast-container *{box-sizing:border-box}
#toast-container>div{position:relative;overflow:hidden;margin:0 0 6px;padding:15px 15px 15px 50px;width:300px;border-radius:3px 3px 3px 3px;background-position:15px;background-repeat:no-repeat;box-shadow:0 0 12px #999;color:#fff;opacity:.8}
#toast-container>div
.toast-custom{padding:15px;color:#030303}
#toast-container>div
.toast-custom 
.toast-close-button{color:#999!important}
#toast-container>:hover{box-shadow:0 0 12px #000;opacity:1;cursor:pointer}
#toast-container>
.toast-info{background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGwSURBVEhLtZa9SgNBEMc9sUxxRcoUKSzSWIhXpFMhhYWFhaBg4yPYiWCXZxBLERsLRS3EQkEfwCKdjWJAwSKCgoKCcudv4O5YLrt7EzgXhiU3/4+b2ckmwVjJSpKkQ6wAi4gwhT+z3wRBcEz0yjSseUTrcRyfsHsXmD0AmbHOC9Ii8VImnuXBPglHpQ5wwSVM7sNnTG7Za4JwDdCjxyAiH3nyA2mtaTJufiDZ5dCaqlItILh1NHatfN5skvjx9Z38m69CgzuXmZgVrPIGE763Jx9qKsRozWYw6xOHdER+nn2KkO+Bb+UV5CBN6WC6QtBgbRVozrahAbmm6HtUsgtPC19tFdxXZYBOfkbmFJ1VaHA1VAHjd0pp70oTZzvR+EVrx2Ygfdsq6eu55BHYR8hlcki+n+kERUFG8BrA0BwjeAv2M8WLQBtcy+SD6fNsmnB3AlBLrgTtVW1c2QN4bVWLATaIS60J2Du5y1TiJgjSBvFVZgTmwCU+dAZFoPxGEEs8nyHC9Bwe2GvEJv2WXZb0vjdyFT4Cxk3e/kIqlOGoVLwwPevpYHT+00T+hWwXDf4AJAOUqWcDhbwAAAAASUVORK5CYII=")!important}
#toast-container>
.toast-error{background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAHOSURBVEhLrZa/SgNBEMZzh0WKCClSCKaIYOED+AAKeQQLG8HWztLCImBrYadgIdY+gIKNYkBFSwu7CAoqCgkkoGBI/E28PdbLZmeDLgzZzcx83/zZ2SSXC1j9fr+I1Hq93g2yxH4iwM1vkoBWAdxCmpzTxfkN2RcyZNaHFIkSo10+8kgxkXIURV5HGxTmFuc75B2RfQkpxHG8aAgaAFa0tAHqYFfQ7Iwe2yhODk8+J4C7yAoRTWI3w/4klGRgR4lO7Rpn9+gvMyWp+uxFh8+H+ARlgN1nJuJuQAYvNkEnwGFck18Er4q3egEc/oO+mhLdKgRyhdNFiacC0rlOCbhNVz4H9FnAYgDBvU3QIioZlJFLJtsoHYRDfiZoUyIxqCtRpVlANq0EU4dApjrtgezPFad5S19Wgjkc0hNVnuF4HjVA6C7QrSIbylB+oZe3aHgBsqlNqKYH48jXyJKMuAbiyVJ8KzaB3eRc0pg9VwQ4niFryI68qiOi3AbjwdsfnAtk0bCjTLJKr6mrD9g8iq/S/B81hguOMlQTnVyG40wAcjnmgsCNESDrjme7wfftP4P7SP4N3CJZdvzoNyGq2c/HWOXJGsvVg+RA/k2MC/wN6I2YA2Pt8GkAAAAASUVORK5CYII=")!important}
#toast-container>
.toast-success{background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAADsSURBVEhLY2AYBfQMgf///3P8+/evAIgvA/FsIF+BavYDDWMBGroaSMMBiE8VC7AZDrIFaMFnii3AZTjUgsUUWUDA8OdAH6iQbQEhw4HyGsPEcKBXBIC4ARhex4G4BsjmweU1soIFaGg/WtoFZRIZdEvIMhxkCCjXIVsATV6gFGACs4Rsw0EGgIIH3QJYJgHSARQZDrWAB+jawzgs+Q2UO49D7jnRSRGoEFRILcdmEMWGI0cm0JJ2QpYA1RDvcmzJEWhABhD/pqrL0S0CWuABKgnRki9lLseS7g2AlqwHWQSKH4oKLrILpRGhEQCw2LiRUIa4lwAAAABJRU5ErkJggg==")!important}
#toast-container>.toast-warning{background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGYSURBVEhL5ZSvTsNQFMbXZGICMYGYmJhAQIJAICYQPAACiSDB8AiICQQJT4CqQEwgJvYASAQCiZiYmJhAIBATCARJy+9rTsldd8sKu1M0+dLb057v6/lbq/2rK0mS/TRNj9cWNAKPYIJII7gIxCcQ51cvqID+GIEX8ASG4B1bK5gIZFeQfoJdEXOfgX4QAQg7kH2A65yQ87lyxb27sggkAzAuFhbbg1K2kgCkB1bVwyIR9m2L7PRPIhDUIXgGtyKw575yz3lTNs6X4JXnjV+LKM/m3MydnTbtOKIjtz6VhCBq4vSm3ncdrD2lk0VgUXSVKjVDJXJzijW1RQdsU7F77He8u68koNZTz8Oz5yGa6J3H3lZ0xYgXBK2QymlWWA+RWnYhskLBv2vmE+hBMCtbA7KX5drWyRT/2JsqZ2IvfB9Y4bWDNMFbJRFmC9E74SoS0CqulwjkC0+5bpcV1CZ8NMej4pjy0U+doDQsGyo1hzVJttIjhQ7GnBtRFN1UarUlH8F3xict+HY07rEzoUGPlWcjRFRr4/gChZgc3ZL2d8oAAAAASUVORK5CYII=")!important}
#toast-container.toast-bottom-center>div,
#toast-container.toast-top-center>div{width:300px;margin:auto}
#toast-container.toast-bottom-full-width>div,
#toast-container.toast-top-full-width>div{width:96%;margin:auto}
.toast{background-color:#fff}
.toast-success{background-color:#51a351}
.toast-error{background-color:#bd362f}
.toast-info{background-color:#2f96b4}
.toast-warning{background-color:#f89406}
.toast-progress{position:absolute;left:0;bottom:0;height:4px;background-color:#000;opacity:.4}
@media (max-width:240px){
  #toast-container>div{padding:8px 8px 8px 50px;width:11em}
  #toast-container 
  .toast-close-button{right:-.2em;top:-.2em}}
  @media (min-width:241px) and (max-width:480px){
    #toast-container>div{padding:8px 8px 8px 50px;width:18em}
    #toast-container 
    .toast-close-button{right:-.2em;top:-.2em}}
    @media (min-width:481px) and (max-width:768px){
      #toast-container>div{padding:15px 15px 15px 50px;width:25em}}

/********** GLOBAL STYLES **********/

/**width size**/

.w0{ width:0px;}
.w5{ width:5px;}
.w10{ width:10px;}
.w50{ width:50px !important;}
.w80{ width:80px;}
.w100{ width:100px;}
.w110{ width:110px;}
.w115{ width:115px;}
.w120{ width:120px;}
.w150{ width:150px !important;}
.w160{ width:160px;}
.w170{ width:170px;}
.w180{ width:180px;}
.w190{ width:190px;}
.w200{ width:200px;}
.w238{ width:238px;}
.w250{ width:250px;}
.w260{ width:260px;}
.w270{ width:270px;}
.w280{ width:280px;}
.w290{ width:290px !important;}
.w300{ width:300px !important;}
.w310{ width:310px;}
.w320{ width:320px;}
.w330{ width:330px;}
.w340{ width:340px;}
.w350{ width:350px;}
.w610{ width:610px;}
.fullWidth{ width:100%;}

/**margin-top**/

.mAuto{ margin:auto !important;}
.mT0{ margin-top:0px;}
.mT2{ margin-top:2px;}
.mT5{ margin-top:5px;}
.mT10{ margin-top:10px;}
.mT15{ margin-top:15px;}
.mT20{ margin-top:20px;}
.mT21{ margin-top:21px;}
.mT25{ margin-top:25px;}
.mT30{ margin-top:30px;}
.mT35{ margin-top:35px;}
.mT40{ margin-top:40px;}
.mT50{ margin-top:50px !important;}
.mT60{ margin-top:60px !important;}
.mT28{ margin-top:28px; text-align: right;}

/**margin-left**/
.mL0{ margin-left:0px;}
.mL5{ margin-left:5px;}
.mL10{ margin-left:10px;}
.mL15{ margin-left:15px;}
.mL20{ margin-left:20px;}
.mL25{ margin-left:25px;}
.mL30{ margin-left:30px;}
.mL40{ margin-left:40px;}
.mL50{ margin-left:50px;}
.mL55{ margin-left:55px;}
.mL190{ margin-left:190px;}
.margin-Left{ margin-left:274px;}


/**margin-right**/
.mR0{ margin-right:0;}
.mR2{ margin-right:2px;}
.mR5{ margin-right:5px;}
.mR10{ margin-right:10px;}
.mR12{ margin-right:12px;}
.mR14{ margin-right:14px;}
.mR15{ margin-right:15px;}
.mR18{ margin-right:18px;}
.mR20{ margin-right:20px;}
.mR21{ margin-right:21px;}
.mR22{ margin-right:22px;}
.mR23{ margin-right:23px;}
.mR24{ margin-right:24px;}
.mR25{ margin-right:25px;}
.mR30{ margin-right:30px !important;}
.mR40{ margin-right:40px !important;}
.mR45{ margin-right:45px !important;}
.mR50{ margin-right:50px !important;}
.mR55{ margin-right:55px !important;}
.mR60{ margin-right:60px !important;}
.mR65{ margin-right:65px !important;}
.mR70{ margin-right:100px !important;}
.mR80{ margin-right:80px !important;}

/**margin-bottom**/
.mB0{ margin-bottom:0px;}
.mB5{ margin-bottom:5px;}
.mB10{ margin-bottom:10px;}
.mB15{ margin-bottom:15px !important;}
.mB20{ margin-bottom:20px !important;}
.mB25{ margin-bottom:25px !important;}
.mB28{ margin-bottom:28px !important;}
.mB30{ margin-bottom:30px !important;}
.mB35{ margin-bottom:35px !important;}
.mB45{ margin-bottom:45px !important;}
.mB60{ margin-bottom:60px !important;}
.mB160{ margin-bottom:160px !important;}

/**padding**/
.p0{ padding:0;}
.p5{ padding:5px !important;}
.p8{ padding:8px !important;}
.p10{ padding:10px !important;} 
.p12{ padding:12px !important; }
.p15{ padding:15px !important; }
.p16{ padding:16px !important; }
.p20{ padding:20px !important; }
.p25{ padding:25px !important; }
.p30{ padding:30px !important; }

/**padding-top**/
.pT0{ padding-top:0px !important;}
.pT2{ padding-top:2px; }
.pT8{ padding-top:8px;}
.pT5{ padding-top:5px;}
.pT10{ padding-top:10px;}
.pT15{ padding-top:15px;}
.pT14{ padding-top:14px;}
.pT20{ padding-top:20px;}
.pT25{ padding-top:25px;}
.pT30{ padding-top:30px;}
.pT40{ padding-top:40px;}
.pT50{ padding-top:60px;}


/**padding-bottom**/
.pB0{ padding-bottom:0px;}
.pB5{ padding-bottom:5px;}
.pB10{ padding-bottom:10px;}
.pB14{ padding-bottom:14px;}
.pB15{ padding-bottom:15px;}
.pB20{ padding-bottom:20px;}
.pB25{ padding-bottom:25px;}
.pB30{ padding-bottom:30px;}
.pB40{ padding-bottom:40px;}
.pB80{ padding-bottom:80px;}

/**padding-left**/
.pL0{ padding-left:0px !important;}
.pL5{ padding-left:5px !important;}
.pL10{ padding-left:10px !important;}
.pL15{ padding-left:15px;}
.pL20{ padding-left:20px;}
.pL25{ padding-left:25px;}
.pL32{ padding-left:32px;}
.pL40{ padding-left:40px;}
.pL50{ padding-left:50px;}
.pL60{ padding-left:60px;}
.pL80{ padding-left:80px;}

/**padding-right**/ 
.pR0 {padding-right: 0px !important;}
.pR5 {padding-right: 5px;}
.pR10 {padding-right: 10px;}
.pR15 {padding-right: 15px;}
.pR20 {padding-right: 20px;}
.pR25 {padding-right: 25px;}
.pR30 {padding-right: 30px;}

/*** 
====================================================================
  Scroll To Top style
====================================================================

***/
      