<!-- <app-subheader [headerConfig]="header" (inputsearch)="searchData($event)" (addbtn)="upload()" (btnone) = "uploadFile()" (Clear)="clear()"
  (comeBack)="breadcrumbNavigate($event)" (backClick)="back()"></app-subheader> -->


<!-- <div >
  <div class="form-group inputDnD " >
  <input type="file" #fileUpload class="form-control-file text-success font-weight-bold" id="inputFile" accept=".xls,.xlsx" (change)="onSelectFile($event)" attr.data-title="{{fileName}}">
  </div>
  <div class="cancelFile">
  <button type="button" class="constantbtn-button-blue-left tempbtn"  (click)="uploadFile()">Upload File</button>
</div>
</div> -->

<!-- <nb-tabset class=" tabable uploadUsersTab custom_tabset courseTabset"     customNavClass="sub-tabs" customTabsClass="sub-inner"
customPaneClass="inner-pane"(changeTab)="onSelectTab($event)">
  <nb-tab tabTitle="Add File" [active]="tab1">
    <span *tabHeading>
      <b>
        Add File
      </b>
    </span>
    <div >
      <div class="form-group inputDnD " >
      <input type="file" #fileUpload class="form-control-file text-success font-weight-bold" id="inputFile"(click)="fileUpload.value = null" accept=".xls,.xlsx" (change)="onSelectFile($event)" attr.data-title="{{fileName}}">
      </div>
      <div class="cancelFile">
      <button type="button" class="constantbtn-button-blue-left tempbtn"  (click)="uploadFile()">Upload </button>
      <button type="button" class="constantbtn-button-blue-left tempbtn"  (click)="cancelFile()">Cancel </button>
    </div>
    </div>
  </nb-tab>

  <nb-tab tabTitle="Preview" [active]="tab2">
    <span *tabHeading>
      <b>
        Preview
      </b>
    </span>
    <div style="background-color: #ffff; height: 400px;width: 100%;">
      <div class="row" style="margin-left: 10px;margin-top:10px">
      <div class = "col-md-2"style ="margin-top:10px;color:#87DC87"> Valid batch:10</div>
      <div  class = "col-md-2" style ="margin-top:10px;color:red">Invalid batch:2</div>
      <div class = "col-md-6"></div>
      <div class = "col-md-2">
    <button type="button"style ="margin-top:10px;" class="constantbtn-button-blue-left tempbtn "  (click)="upload()">Show Result </button>
  </div>
</div>
    <div style="margin-top: 30px;margin-left: 10px;">
      <ngx-enrol-table [label]="labels" [pagination]="true" [tableData]="employeeList"></ngx-enrol-table>
      </div>
    </div>
  </nb-tab>

  <nb-tab tabTitle="Results" [active]="tab3">
    <span *tabHeading>
      <b>
        Results
      </b>
    </span>
    <div style="background-color: #ffff;height: 300px;width: 100%;">
    <div class="row" style ="text-align: center; margin-top: 30px;">
      <div class="row">
    <div class="col-md-4 counts" >Session Created: 4</div>
    <div class="col-md-2"></div>
    <div class="col-md-4 counts1" >Invalid Batch: 1</div>
  </div>

  </div>
  <div style="margin-left: 42%;">
    <button type="button" class="constantbtn-button-blue-left tempbtn"  (click)="uploadFile()">Back to Batches </button>
  </div>
  &nbsp;
  &nbsp;

    <div style="margin-left: 35%;">
    <a style="padding-top: 50px; color:red" href="https://www.w3schools.com">Click here to download bacthes having errors !</a>
  </div>
  </div>

  </nb-tab>
</nb-tabset>  -->
<div class=" tabs-section">
    <ngx-tabset class="tabset" #tabs (onSelect)="onSelectTab($event,tabs)" customNavClass="sub-tabs" customTabsClass="sub-inner" customPaneClass="inner-pane">
        <ng-container>
            <ngx-tab class="tabinner" tabTitle="Add File" [active]="tab1" [bypassDOM]="true">
                <ng-template>
                    <div class="row">
                        <div class="col-md-12">
                            <div style="text-align: center;margin-top: 3em;margin-bottom: 2.5em;" *ngIf="parentTabEvent && parentTabEvent.tabTitle != 'Session'">
                                <i class="fa fa-download" aria-hidden="true"></i> &nbsp; &nbsp;
                                <a download="" href="assets/images/Batch_Bulk_upload.xlsx" style="color:#A4ABB3;font-weight: 600;"> Click here to download template file           
        </a>
                            </div>
                            <div style="text-align: center;margin-top: 3em;margin-bottom: 2.5em;" *ngIf="parentTabEvent && parentTabEvent.tabTitle == 'Session'">
                                <i class="fa fa-download" aria-hidden="true"></i> &nbsp; &nbsp;
                                <a download="" href="assets/images/Bulk_Session_upload.xlsx" style="color: #A4ABB3;font-weight: 600;"> Click here to download template file 
            
              </a>

                            </div>
                            <!-- <div class="form-group inputDnD " >
        <input type="file" #fileUpload class="form-control-file text-success font-weight-bold" id="inputFile"(click)="fileUpload.value = null" accept=".xls,.xlsx" (change)="onSelectFile($event)" attr.data-title="{{fileName}}"> -->
                            <div class="form-group choose ">
                                <!-- <div style = "margin-top: 20px;text-align: center;"> -->
                                <label class="w-100 m-0  margin" for="inputFile">
          <div class="  margin position-relative d-flex align-items-center justify-content-center">
          <img style = "height: 50px;" src="../../../../../assets/images/upload-file.svg">
        </div>
        </label>
                                <input type="file" #fileUpload style="display: none;" id="inputFile" (click)="fileUpload.value = null" accept=".xls,.xlsx" (change)="onSelectFile($event)" attr.data-title="{{fileName}}">
                                <label class="w-100 m-0 margin" for="inputFile">
        <div class="margin1 position-relative d-flex align-items-center justify-content-center">
          {{fileName  }}
      </div>
    </label>

                                <!-- <div class="cancelFile">
          <button type="button" class="constantbtn-button-blue-left " (click)="uploadFile()">Upload </button>
          <button type="button" class="constantbtn-button-blue-left " (click)="cancelFile()">Cancel </button>
        </div> -->
                            </div>
                            <div class="cancelFile">
                                <button type="button" class="constantbtn-button-blue-left tempbtn" (click)="uploadFile()">Upload </button>
                                <button type="button" class="constantbtn-button-blue-left tempbtn" (click)="cancelFile()">Cancel </button>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </ngx-tab>

            <ngx-tab class="tabinner" tabTitle="Preview" [active]="tab2" [bypassDOM]="true">
                <ng-template>
                    <!-- <div style="background-color: #ffff; height: 400px;width: 100%;"> -->
                    <div class="row" style="margin-left: 10px;margin-top:10px">
                        <!-- <div class = "col-md-2"style ="margin-top:10px;color:#87DC87"> Valid batch:10</div>
        <div  class = "col-md-2" style ="margin-top:10px;color:red">Invalid batch:2</div> -->
                        <div class="col-md-4"></div>
                        <div class="col-md-6"></div>
                        <div class="col-md-2" *ngIf="parentTabEvent && parentTabEvent.tabTitle != 'Session'">
                            <button type="button" style="margin-top:0px;" class="constantbtn-button-blue-left tempbtn " (click)="upload()">Submit Batches </button>
                        </div>
                        <div class="col-md-2" *ngIf="parentTabEvent && parentTabEvent.tabTitle == 'Session'">
                            <button type="button" style="margin-top:0px;" class="constantbtn-button-blue-left tempbtn " (click)="upload()">Submit Sessions </button>
                        </div>
                    </div>


                    <div style="margin-left: 10px;margin-top:10px; overflow-x: scroll;" *ngIf="parentTabEvent && parentTabEvent.tabTitle != 'Session'">
                        <ngx-enrol-table [label]="labels" [pagination]="true" [tableData]="uploadedData"></ngx-enrol-table>
                    </div>

                    <div style="margin-left: 10px;margin-top:10px; overflow-x: scroll;" *ngIf="parentTabEvent && parentTabEvent.tabTitle == 'Session'">
                        <ngx-enrol-table [label]="labelsSession" [pagination]="true" [tableData]="uploadedData"></ngx-enrol-table>
                    </div>
                    <!-- </div> -->
                </ng-template>
            </ngx-tab>

            <ngx-tab class="tabinner" tabTitle="Results" [active]="tab3" [bypassDOM]="true">
                <ng-template>
                    <!-- <div style="background-color: #ffff; height: 400px;width: 100%;"> -->
                    <div class="row" style="margin-left: 10px;margin-top:10px" *ngIf="parentTabEvent &&parentTabEvent.tabTitle != 'Session'">
                        <div class="col-md-4">
                            <span style="color:#87DC87">Valid batch:{{validCount}}</span> &nbsp;
                            <span style="color:red">Invalid batch:{{InvalidCount}}</span>
                        </div>
                        <!-- <div class = "col-md-2"style ="color:#87DC87"> Valid batch:10</div>
        <div  class = "col-md-2" style ="color:red">Invalid batch:2</div> -->
                        <!-- <div class = "col-md-2"></div> -->
                        <div class="col-md-4">
                            <!-- <a download="" href="assets/images/Template_employee_upload.xlsx">( Click here to<u> Download</u> batches having errors! ) -->
                            <p style="cursor: pointer" (click)="exportToExcel()" *ngIf="usersErrorsData?.length>0"> ( Click here to<u> Download</u> batches having errors!) </p>
                            <!-- <button
            class="constantbtn-button-blue-left "><i
                class="fas fa-download"></i>Template</button> -->
                            <!-- </a> -->
                        </div>
                        <div class="col-md-2">
                            <button type="button" style="margin-top:0px;" class="constantbtn-button-blue-left tempbtn " (click)="backBatch()">Back to Batches </button>
                        </div>
                    </div>
                    <div class="row" style="margin-left: 10px;margin-top:10px" *ngIf="parentTabEvent &&parentTabEvent.tabTitle == 'Session'">
                        <div class="col-md-4">
                            <span style="color:#87DC87">Valid Session:{{validCount}}</span> &nbsp;
                            <span style="color:red">Invalid Session:{{InvalidCount}}</span>
                        </div>
                        <div class="col-md-4">
                            <p style="cursor: pointer" (click)="exportToExcel()" *ngIf="usersErrorsData?.length>0"> ( Click here to<u> Download</u> Sessions having errors!) </p>
                        </div>
                        <div class="col-md-2">
                            <button type="button" style="margin-top:0px;" class="constantbtn-button-blue-left tempbtn " (click)="backBatch()">Back to Batches </button>
                        </div>
                    </div>
                    <div style="margin-top: 30px;margin-left: 10px;overflow-x: scroll;" *ngIf="parentTabEvent && parentTabEvent.tabTitle != 'Session'">
                        <ngx-enrol-table [label]="reviewlabels" [pagination]="true" [tableData]="resultData"></ngx-enrol-table>
                    </div>

                    <div style="margin-top: 30px;margin-left: 10px;overflow-x: scroll;" *ngIf="parentTabEvent && parentTabEvent.tabTitle == 'Session'">
                        <ngx-enrol-table [label]="reviewSession" [pagination]="true" [tableData]="resultData"></ngx-enrol-table>
                    </div>
                    <!-- </div> -->
                </ng-template>
            </ngx-tab>
        </ng-container>
    </ngx-tabset>
</div>