.inputDnD {
    // height: 14em;
    height: 16em;
    background-color: #ffff;
    .form-control-file {
        position: relative;
        width: 100%;
        height: 100%;
        min-height: 6em;
        outline: none;
        visibility: hidden;
        cursor: pointer;
        background-color: #c61c23;
        box-shadow: 0 0 5px solid currentColor;
        &:before {
            color: #ed462f;
            content: attr(data-title);
            position: absolute;
            // top: 1.5em;
            top: 2.5em;
            // left: 0;
            // left: 20px;
            left: 217px;
            // width: 96%;
            width: 61%;
            /* min-height: 8em; */
            height: 12em;
            line-height: 8em;
            padding-top: 1.5em;
            opacity: 1;
            visibility: visible;
            text-align: center;
            border: 0.15em dashed #9ea4a5;
            transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
            overflow: hidden;
        }
        &:hover {
            &:before {
                border-style: solid #076ba1;
                /*box-shadow: inset 0px 0px 0px 0.25em currentColor;*/
            }
        }
    }
    
    
}

.choose {
    height: 167px;
    margin: 20px auto;
    border: 1px dashed #9ea4a5;
    width: 60%;
    input {
      opacity: 0;
      width: 100%;
      height: 100%;
    }
  }

  .margin{
      margin-top: 2.5em;
  }

  .margin1{
    margin-top: 1em;
}
  
// .bbb{
//     background-image: url(paper.gif);
// }

.input-text{
    text-align: center;
    /* padding: 35px; */
    padding-top: 20px;
    padding-left: 110px;
    padding-right: 23px;
}
.tempbtn {
    background-color: var(--colorBgbtn) !important;
    color: var(--colorBtnTxt) !important;
    border: 1px solid var(--colorBtnTxt) !important;
}
.cancelFile {
    text-align: center;
    margin-bottom: 3em;
    /* float: left; */
    /* margin-left: 12%; */
    /* margin-top: 7%; */
}

.resbutton{
    margin-left: 980px;
    margin-top: 10px;
}

.counts{
    background-color:  #f5f5f5;
    height: 80px;
    margin-top: 50px;
    margin-left: 80px;
    width: 900px;
    padding: 25px;

}
.counts1{
    background-color: #f5f5f5;
    height: 80px;
    margin-top: 50px;
    margin-right: 40px;
    width: 900px;
    padding: 25px;
}
:host /deep/ {
.sub-tabs {
    margin: 0;
    padding: 0 !important;
    display: flex;
    list-style-type: none;
    li {
      cursor: pointer;
      font-size: 13px;
      color: #575757;
      font-weight: 400;
      padding: 8px 18px;
      letter-spacing: 0.4px;
    }
    li.active {
      z-index: 1;
      font-weight: 600;
      color: #000000;
      margin-bottom: -4px;
      background: #ffffff;
      border: 1px solid #c9c9ca !important;
      border-bottom: none !important;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
    }
  }
  .sub-inner {
    padding: 12px;
    border-radius: 3px;
    background: #ffffff;
    border: 1px solid #c9c9ca;
    // height: 500px;
    width: 100%;
  }
  .form-control:disabled {
    color: #6c757d;
    background-color: #e9ecef;
  }
}

.tabs-section {
//   height: 74vh;
  width:100%;
  padding:20px
//   position: fixed;
}