<div class="subHeader d-flex justify-content-between align-items-center">
    <h2 *ngIf="headerConfig?.showBreadcrumb">
        <span class="bread-path" *ngFor="let breadcrumb of headerConfig?.breadCrumbList;let i = index;let last = last" (click)="goToPage(breadcrumb,i)">
          {{breadcrumb?.name | truncate : 25 : "..."}} <label class="arrow m-0">/</label>
        </span>
        <span [ngClass]="{'last-name': headerConfig?.breadCrumbList?.length > 0}">{{ headerConfig?.title }}</span>
    </h2>



    <div class="buttonDiv" *ngIf="headerConfig?.btnsSearch">
        <div *ngIf="headerConfig?.searchBar" class="searchBar focus" [ngClass]="{'fullserch': showSearch}">
            <i class="fa fa-search search" (click)="search()"></i>
            <i class="fa fa-times close" (click)="clear()"></i>
            <input type="text" maxlength="20" placeholder={{headerConfig?.placeHolder}} [(ngModel)]="headerConfig.searchtext" (keyup)="inputSearch($event)">
        </div>
        <div class="dropdownDiv" *ngIf="headerConfig?.catDropdown">
            <select class="drop_down_select" [(ngModel)]="headerConfig.id" name="iid" (change)="doropserch($event.target.selectedIndex,headerConfig?.id)" [disabled]="isShow">
              <option value="">{{headerConfig?.optionValue}}</option>
              <option *ngFor="let item of parentcat" value={{item[headerConfig?.dropId]}}>{{item[headerConfig?.dropName]}}
              </option>
          </select>
        </div>
        <div class="dropdownDiv" *ngIf='headerConfig?.quesDrop'>
            <select class="drop_down_select" name="id" (change)="questypeSelect(parentcat[$event.target.selectedIndex])">
            <option *ngFor="let item of parentcat;let i = index"  value={{item?.id}}  [selected]="parentcat.name == item.name">{{item?.name}}</option>
        </select>
        </div>
        <button *ngIf="headerConfig?.filter" class="subBttn backBttn focus" (click)="openfilter()">Filter <i class="fa fa-filter"
                aria-hidden="true"></i></button>
        <button *ngIf="headerConfig?.filterConfig?.primary" class="subBttn backBttn  position-relative focus" (click)="openPrimaryFilter()">
          {{ headerConfig?.filterConfig?.primaryText }}
          <i class="fa fa-filter"
            aria-hidden="true"></i>
            <ng-container *ngIf="headerConfig?.filterConfig?.showPrimarySelectedFilteredCount && headerConfig?.filterConfig?.primarySelectedFilteredCount > 0">
              <span class="button-count-indicator pr-1">
                {{headerConfig?.filterConfig?.primarySelectedFilteredCount}}
              </span>
            </ng-container>
          </button>
        <button *ngIf="headerConfig?.filterConfig?.secondary" class="subBttn backBttn position-relative focus" (click)="openSecondaryFilter()">{{headerConfig?.filterConfig?.secondaryText}} <i class="fa fa-filter"
            aria-hidden="true"></i>
            <ng-container *ngIf="headerConfig?.filterConfig?.showSecondarySelectedFilteredCount && headerConfig?.filterConfig?.secondarySelectedFilteredCount > 0">
              <span class="button-count-indicator pr-1">
                {{headerConfig?.filterConfig?.secondarySelectedFilteredCount}}
              </span>

            </ng-container>
          </button>
        <div *ngIf="headerConfig?.drplabelshow" (clickOutside)="out()" class="selectDrop" (click)="dropdown()">
            <button class="subBttn focus">{{ headerConfig?.dropdownlabel }} <i
                    class="fa fa-sort-down dropicon"></i></button>
            <ul class="innerdrop" *ngIf="showlist" [ngClass]="{'innerdrop2' : user}">
                <li (click)="dropdown1()" *ngIf="headerConfig?.drpName1show"><i class="fa fa-folder fa-icon" *ngIf="headerConfig?.folder"></i>{{ headerConfig?.drpName1 }}</li>
                <li *ngIf="headerConfig?.drpName2show" (click)="dropdown2()"><i class="fa fa-folder fa-icon" *ngIf="headerConfig?.folder"></i>{{ headerConfig?.drpName2 }}</li>
                <li *ngIf="headerConfig?.drpName3show">{{ headerConfig?.drpName3 }}</li>
                <li *ngFor="let list of headerConfig?.dropdownlist" (click)="selectList(list)">{{list.name}}</li>
            </ul>
        </div>
        <!-- /// new dropdown -->
        <div *ngIf="headerConfig?.drplabel1show" class="selectDrop" (clickOutside)="out1()" (click)="drop1()">
            <button class="subBttn focus">{{ headerConfig?.dropdownlabel1 }} <i
                    class="fa fa-sort-down dropicon"></i></button>
            <ul class="innerdrop" *ngIf="showlist1" [ngClass]="{'innerdrop2' : user}">
                <li (click)="dropdown_1()" *ngIf="headerConfig?.drpName_1show"><i class="fa fa-file fa-icon" *ngIf="headerConfig?.file"></i>{{ headerConfig?.drpName_1 }}</li>
                <li *ngIf="headerConfig?.drpName_2show" (click)="dropdown_2()"><i class="fa fa-file fa-icon" *ngIf="headerConfig?.file"></i>{{ headerConfig?.drpName_2 }}</li>
                <li *ngIf="headerConfig?.drpName_3show">{{ headerConfig?.drpName3 }}</li>
                <li *ngFor="let list of headerConfig?.dropdownlist" (click)="selectList(list)">{{list.label}}</li>
            </ul>
        </div>
        <!-- /// end new dropdown -->
        <button [disabled]="!isSave" (click)="btn1()" *ngIf="headerConfig?.btnName1show" class="subBttn focus">{{ headerConfig?.btnName1 }}</button>
        <button (click)="btn2()" *ngIf="headerConfig?.btnName2show" class="subBttn focus">{{ headerConfig?.btnName2 }}</button>
        <button (click)="btn3()" *ngIf="headerConfig?.btnName3show" class="subBttn focus">{{ headerConfig?.btnName3 }}</button>
        <button (click)="btn4()" *ngIf="headerConfig?.btnName4show" class="subBttn focus">{{ headerConfig?.btnName4 }}</button>
        <button (click)="btn5()" *ngIf="headerConfig?.btnName5show" class="subBttn focus">{{ headerConfig?.btnName5 }}</button>
        <button (click)="btn6()" *ngIf="headerConfig?.btnName6show" class="subBttn focus">{{ headerConfig?.btnName6 }}</button>
        <button (click)="btn7()" *ngIf="headerConfig?.btnName7show" class="subBttn focus">{{ headerConfig?.btnName7 }}</button>
        <button (click)="btn8()" *ngIf="headerConfig?.btnName8show" class="subBttn focus">{{ headerConfig?.btnName8 }}</button>
        <button (click)="btn9()" *ngIf="headerConfig?.btnName9show" class="subBttn focus">{{ headerConfig?.btnName9 }}</button>
        <button (click)="btn10()" *ngIf="headerConfig?.btnName10show" class="subBttn focus">{{ headerConfig?.btnName10 }}</button>
        <button (click)="btn11()" *ngIf="headerConfig?.btnName11show" class="subBttn focus">{{ headerConfig?.btnName11 }}</button>
        <a [href]="headerConfig?.uploadsheetLink" download *ngIf="headerConfig?.btnNameupload"><button class="constantbtn-button-blue-right"><i class="fas fa-download"></i>  Template</button></a>

        <button (click)="add()" [disabled]="isAdd == false" *ngIf="headerConfig?.btnAddshow" class="subBttn focus">{{ headerConfig?.btnAdd }}</button>
        <button (click)="back('back')" *ngIf="headerConfig?.btnBackshow" class="subBttn backBttn focus">Back</button>
    </div>
</div>
