@import "../../../@theme/styles/variable.scss";
.subHeader {
    padding: 10px 16px;
    background: $white-color;
    box-shadow: 0px 3px 17px 0px #e1e1e1;
    position: sticky;
    top: 56px;
    z-index: 6;
    h2 {
        margin: 0;
        font-size: 13px;
        letter-spacing: 0.3px;
        cursor: pointer;
        .bread-path {
            &:hover {
                color: var(--colorCommon);
            }
        }
        span:last-child {
            font-size: 18px;
            font-weight: 600;
            cursor: default;
        }
        .last-name {
            padding-left: 3px;
            font-size: 15px !important;
        }
        .arrow {
            cursor: pointer;
            font-size: 9px !important;
        }
    }
    .innersub {
        width: 65%;
        input {
            width: 100%;
            border-radius: 6px;
            outline: none;
            border: none;
            border: 1px solid #e2e4e5;
            padding: 4px 6px;
            font-size: 14px;
        }
    }
    .buttonDiv {
        display: flex;
        // flex-flow: wrap;  //before
        flex-flow: row; // after
        align-items: center;
        .dropdownDiv {
            select {
                outline: none;
                padding: 4px;
                margin-left: 10px;
                border-radius: 3px;
                border: 1px solid #d4d4d4;
                word-wrap: normal;
                color: $card-list-color;
            }
        }
        .searchBar {
            border: 1px solid var(--colorBgbtn);
            padding: 5px 0px 5px 8px;
            border-radius: 3px;
            padding-right: 22px;
            position: relative;
            display: flex;
            width: 0;
            // box-shadow: $common-btn-shadow;
            i {
                color: $common-btn-color;
            }
            .search {
                padding: 2px 0px;
                cursor: pointer;
                color: var(--colorBgbtn)
            }
            .close {
                position: absolute;
                display: none;
                right: 2px;
                top: 2px;
                font-size: 15px;
                padding: 6px;
                color: var(--colorBgbtn)
            }
            input {
                border: 0;
                outline: none;
                font-size: 14px;
                padding: 0;
                width: 0%;
            }
            // ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            //   color: var(--colorCommon);
            //   opacity: 1; /* Firefox */
            // }
            // :-ms-input-placeholder { /* Internet Explorer 10-11 */
            //   color: var(--colorCommon);
            // }
            // ::-ms-input-placeholder { /* Microsoft Edge */
            //   color: var(--colorCommon);
            // }
        }
        .fullserch {
            width: 300px;
            transition: all 0.3s;
            .close {
                display: block;
            }
            input {
                width: 100%;
                padding: 0 6px;
                color: #747373;
            }
        }
        .subBttn {
            padding: 6px 10px;
            border: none;
            margin-left: 10px;
            font-size: 14px;
            width:max-content; ///new
            border-radius: 3px;
            background: var(--colorBgbtn);
            color: var(--colorBtnTxt);
            border: 1px solid var(--colorBtnTxt);
            outline: none;
            text-transform: capitalize;
            transition: 0.4s ease-in-out;
            // &:hover {
            //     background: var(--colorBtnTxt);
            //     color: var(--colorBgbtn);
            //     border: 1px solid var(--colorBgbtn);
            // }
        }
        .backBttn {
            padding: 5px 10px;
            color: var(--colorBgbtn);
            background: var(--colorBtnTxt);
            border: 1px solid var(--colorBgbtn);
            &:hover {
                color: var(--colorBtnTxt);
                background: var(--colorBgbtn);
            }
        }
        .addBttn {
            background: $common-add-btn-color;
            color: #ffffff;
            &:hover {
                background: rgba($common-add-btn-color, 0.85);
            }
            &:focus {
                box-shadow: 0 0 0 0.2rem rgba(2, 255, 43, 0.3) !important;
            }
        }
        .selectDrop {
            position: relative;
            .dropicon {
                position: relative;
                top: -2px;
                right: -2px;
            }
            .innerdrop {
                position: absolute;
                top: 100%;
                left: 9px;
                min-width: 140px;
                padding: 4px 6px;
                margin: 3px 0 0;
                font-size: 13px;
                text-align: left;
                list-style: none;
                background-color: $white-color;
                border: 1px solid #7a7a7a2b;
                border-radius: 4px;
                z-index: 1;
                color: var(--colorCommon);
                box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.15);
                font-weight: 600;
                letter-spacing: 0.3px;
                li {
                    cursor: pointer;
                    padding: 3px 0;
                    color: var(--colorCommon);
                    &:hover {
                        color: $common-btn-color;
                    }
                }
            }
            .fa-icon {
                width: 24px;
                padding: 4px;
            }
            .innerdrop2 {
                position: absolute;
                top: 100%;
                left: 9px;
                min-width: 129px;
                padding: 4px 6px;
                margin: 3px 0 0;
                font-size: 13px;
                text-align: left;
                list-style: none;
                background-color: $white-color;
                border: 1px solid #7a7a7a2b;
                border-radius: 4px;
                z-index: 1;
                color: $common-btn-color;
                box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.15);
                font-weight: 600;
                letter-spacing: 0.3px;
                li {
                    cursor: pointer;
                    padding: 3px 0;
                    &:hover {
                        color: $common-btn-color;
                    }
                }
            }
        }
    }
    .focus:focus {
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25) !important;
    }
    .focus {
        transition: box-shadow 0.15s ease-in-out;
    }

    .button-count-indicator{
      right: -7px;
      top: -8px;
      color: #ffffff;
      font-size: 8px;
      font-weight: 600;
      padding: 1px 4px;
      border: 1px solid;
      background: #000000;
      position: absolute;
      border-radius: 25px;
      font-family: monospace;
    }
}
