<div class="stickyrow">
    <div class="trainerheader">
        <div class="">
            <div class="backIcon" (click)="goBack()">
                <i class="fas fa-chevron-left"></i>
            </div>
        </div>
    </div>
    <!-- <div class="input-group md-form form-sm form-1 pl-0">
      <div class="input-group-prepend">
        <span class="input-group-text purple lighten-3" id="basic-text1"><i class="fas fa-search text-white"
            aria-hidden="true"></i></span>
      </div>
      <input class="form-control my-0 py-1" type="text" placeholder="Search by keyword" aria-label="Search"
      [(ngModel)]="searchString"  (keyup.enter)="searchlist(searchString)">
    </div> -->

    <!-- <div class="topnav">
      <input type="text" placeholder="Search.." [(ngModel)]="searchString"  (keyup.enter)="searchlist(searchString)">
    </div> -->
</div>
<div *ngIf="!noParticipants" class="participants_list">
    <mat-card class="mycrd2">
        <div class="header167">
            <div class="search_field_container">
                <form class="form-inline md-form mr-auto mb-4">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search by keyword" aria-label="Search" [(ngModel)]="searchString" (keyup.enter)="searchlist(searchString)" name="searchString">
                    <span class="clearbtn"><i class="fa fa-times" aria-hidden="true" (click)="clearstring()"></i></span>
                </form>
            </div>
            <div class="buttons_conatiner">
                <button class="select_all_btn">
                    <span   (click)="submitFuction(1)">Mark Attendence</span>
                  </button>
                <button class="select_all_btn">
                    <span  (click)="submitFuction(2)">Unmark Attendence</span>
                  </button>
            </div>

        </div>
        <table>
            <thead>
                <tr>
                    <th>
                        <mat-checkbox class="example-margin" [(ngModel)]="markAll" (click)="onClicked(markAll)"></mat-checkbox>
                    </th>
                    <th class="first_col">Sr. No.</th>
                    <th>ATTENDANCE</th>
                    <th>EMP Code</th>
                    <th>Name</th>
                    <th>Designation</th>
                    <th>In Time</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of Attendance_Data; let i = index" class="rowData">
                    <td class="tableDataWidth">
                        <mat-checkbox class="example-margin" [(ngModel)]="item.isSelected" (click)="onClickedSingle(item , item.isSelected)"></mat-checkbox>
                    </td>
                    <td class="tableDataWidth">
                        {{i+1}}
                        <!-- <i class="fas fa-user-check icon1" [ngClass]="{'present': item.attStatus == 'Y' }"></i> -->
                    </td>

                    <td class="iBlk" title="Attendence to ba marked">
                        <i class="fas fa-user-check icon1" [ngClass]="{'present': item.attStatus == 'Y' }"></i>
                    </td>
                    <td class="tableDataWidth">{{ item.ecn }}</td>
                    <td class="tableDataWidth">{{ item.name }}</td>
                    <td class="tableDataWidth">{{ item.designation }}</td>
                    <td class="tableDataWidth">{{ item.attdatetime }}</td>

                </tr>
            </tbody>
        </table>


    </mat-card>
</div>


<div class="no_data_found" *ngIf="noParticipants">
    No Participants Found.
</div>