.shareSearch{
  position: relative;
  .shareSearchInput{
    border: none;
      border-bottom: 1px solid #313233bf;
      background: transparent;
      -webkit-box-shadow: none;
      box-shadow: none;
      border-radius: 0;
      width: 100%;
      padding: 10px;
    &:focus{
      outline: none;
    }
  }
  .searchRemove{
    position: absolute;
    top: 12px;
    right: 2px;
    cursor: pointer;
  }
}
