<!-- <p>
  share-asset-popup works!
</p> -->
<div class="row pb-2 pl-3 pr-3 pb-2" >
  <div class="col-sm-11 pr-0 ">
    <div class="w-100 shareSearch" >
      <input type='text' class="shareSearchInput searchInput commonInput" [(ngModel)]="searchtext" placeholder='Search user...' (keyup)='searchShareUser($event, "")' />
      <i class="fa fa-remove searchRemove" (click)="clearSearch()"></i>
    </div>
  </div>
  <div class="col-sm-1 pl-0 pr-0 align-self-end text-right">
    <button class="subBttn ml-0" (click)="save()">
       <i class="fa fa-check" aria-hidden="true"></i>
    </button>
  </div>
</div>

<div class="tablePop mt-3 pl-2 pr-2" >
  <ngx-enrol-table [label]="labels" [pagination]="true" *ngIf="!noEmployees" [tableData]="rows" (clickOnCheck)='onSelect($event)' (selectedItems)="onSelect($event)"></ngx-enrol-table>
  <ngx-no-data [config]="noDataVal" *ngIf="noEmployees"></ngx-no-data>
</div>
