<!-- <p>
  popup-data-filter works!
</p> -->
<form class="forms-sample" #filterForm="ngForm">
  <div class="popup_data_filter">
    <div [hidden]="noDataInMain">
      <!-- <div class="filterTitleContainer">
          <p class="filtertxt">{{filtertype.primary}}</p>
          <button class="constantbtn-button-blue-left" (click)="clearvalue('primary')">Clear</button>
      </div> -->
      <div  class="col_container">
        <div class="sidemenuCompoinner" *ngFor="let mfilter of filter; let i = index">
          <div *ngIf="mfilter.length > 0 && filterstartworking === true">
              <!-- [attr.data-target]="'#p_' + removeSpace(mfilter[0].title)" -->
              <div class="listheadings"  aria-expanded="false"
                  data-toggle="collapse">
                  <p class="listLabel">{{ mfilter[0].title }} <sup class="required_mark" *ngIf="mfilter[0].isMandatory == 1">*</sup></p>
                  <!-- <p class="filterLength" *ngIf="filterJSON['primary'][mfilter[0].title] && mfilter[0].type === 'dd'">{{ filterJSON['primary'][mfilter[0].title].length || 0}}</p>
                  <p class="filterLength" *ngIf="filterJSON['primary'][mfilter[0].title] === undefined && mfilter[0].type === 'dd'">0</p> -->
              </div>
              <!-- class="collapse" [id]="'p_' + removeSpace(mfilter[0].title)" [ngClass]="{'show': filterJSON['primary'][mfilter[0].title] && filterJSON['primary'][mfilter[0].title].length > 0}" -->
              <div  >
                <!--  #[mfilter[0].title]="ngModel" -->
                  <div *ngIf="mfilter[0].type === 'dd'">
                      <angular2-multiselect class="common-multi" id="multiselectff_{{mfilter[0].title}}" [data]="mfilter"
                          [settings]="filterdropdownSettings[mfilter[0].title]"
                          (onSelect)="onItemSelect($event, mfilter[0].title, 'primary')"
                          (onDeSelect)="OnItemDeSelect($event, mfilter[0].title, 'primary')"
                          [name]="mfilter[0].title"
                          (onSelectAll)="onSelectAll($event, mfilter[0].title, 'primary')"
                          (onDeSelectAll)="onDeSelectAll($event, mfilter[0].title, 'primary')"
                          [(ngModel)]="selected_filter_Items[mfilter[0].title]"
                          [required] = "mfilter[0].isMandatory == 1 ? true : false"

                          >
                          <!--  [ngModelOptions]="{standalone: true}" -->
                          <c-item>
                              <ng-template let-item="item">
                                  <label class="multiselect-label">{{ item.itemName }}</label>
                              </ng-template>
                          </c-item>
                      </angular2-multiselect>
                  </div>
                  <div *ngIf="mfilter[0].type === 'date'">
                      <div class="form_field_container">
                          <!-- <label for="sdate" class="date_picker_label">Select Date Range</label> -->
                          <div class="date_picker_container">
                              <div class="cal_icon">
                                  <i class="fa fa-calendar calfont"></i>
                              </div>
                              <input [owlDateTime]="dt1" placeholder="Start date and End date" [owlDateTimeTrigger]="dt1"
                                  class="form-control input_field"
                                  [(ngModel)]="selected_filter_Items[mfilter[0].title]['date']"
                                  [ngClass]="{ 'is-invalid': submitted && [mfilter[0].title].errors }" #[mfilter[0].title]="ngModel"
                                [required] = "mfilter[0].isMandatory == 1 ? true : false"

                                   [name]="mfilter[0].title" id="sdate" [selectMode]="'range'"
                                  [owlDateTimeTrigger]="dt1" (dateTimeInput)="onDateInputChange($event, mfilter[0].title, 'primary')"/>
                              <div class="clear" (click)="clearDateValue(mfilter[0].title, 'primary')"><i class="fas fa-times"></i></div>
                              <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
                          </div>
                      </div>
                      <!-- <div class="form_field_container">
                          <label for="edate" class="date_picker_label">End date</label>
                          <div class="date_picker_container">
                              <div class="cal_icon">
                                  <i class="fa fa-calendar calfont"></i>
                              </div>
                              <input [owlDateTime]="dt2" placeholder="End Date" [owlDateTimeTrigger]="dt2"
                                  class="form-control input_field"
                                  [(ngModel)]="selected_filter_Items[mfilter[0].title]['start_End_Date']"
                                  [ngClass]="{ 'is-invalid': submitted && endDt.errors }" #endDt="ngModel" required
                                  name="edate" id="edate" [selectMode]="'rangeTo'" [owlDateTimeTrigger]="dt2" />

                              <owl-date-time [pickerType]="'calendar'" #dt2></owl-date-time>
                          </div>
                      </div> -->
                  </div>
              </div>
              <div *ngIf="filterError['main'][i].isError && showSubmittedError" class="alert alert-danger">

                  <div *ngIf="filterError['main'][i].isError">
                      {{filterError['main'][i].Name}} is required.
                  </div>
            </div>
          </div>
      </div>
      </div>

    </div>

    <div class="SubDiv" [hidden]="noDataInSub">
      <!-- <div class="filterTitleContainer">
          <p class="filtertxt">{{filtertype.secondary}}</p>
          <button class="constantbtn-button-blue-left" (click)="clearvalue('secondary')">Clear</button>
      </div> -->
      <div  class="col_container">
        <div class="sidemenuCompoinner" *ngFor="let subfilter of sfilter; let i = index;">
          <div *ngIf="subfilter.length > 0">
            <!-- data-toggle="collapse"  [attr.data-target]="'#s_' + removeSpace(subfilter[0].title)" -->
              <div class="listheadings">
                  <p class="listLabel">{{ subfilter[0].title }}</p>
                  <!-- <p class="filterLength" *ngIf="filterJSON['secondary'][subfilter[0].title] && subfilter[0].type === 'dd'">{{ filterJSON['secondary'][subfilter[0].title].length || 0}}</p>
                  <p class="filterLength" *ngIf="filterJSON['secondary'][subfilter[0].title] === undefined && subfilter[0].type === 'dd'">0</p> -->
                </div>
                  <div [id]="'s_' + removeSpace(subfilter[0].title)"  >
                    <div *ngIf="subfilter[0].type === 'dd'">
                        <angular2-multiselect class="common-multi" id="multiselectff_{{subfilter[0].title}}" [data]="subfilter"
                            [settings]="sfilterdropdownSettings[subfilter[0].title]"
                            (onSelect)="onItemSelect($event, subfilter[0].title, 'secondary')"
                            (onDeSelect)="OnItemDeSelect($event, subfilter[0].title, 'secondary')"
                            [name]="subfilter[0].title"
                            (onSelectAll)="onSelectAll($event, subfilter[0].title, 'secondary')"
                            (onDeSelectAll)="onDeSelectAll($event, subfilter[0].title, 'secondary')"
                            [required] = "subfilter[0].isMandatory == 1 ? true : false"
                            [(ngModel)]="selected_sfilter_Items[subfilter[0].title]">
                            <!--  [ngModelOptions]="{standalone: true}" -->
                            <c-item>
                                <ng-template let-item="item">
                                    <label class="multiselect-label">{{ item.itemName }}</label>
                                </ng-template>
                            </c-item>
                        </angular2-multiselect>
                    </div>
                    <div *ngIf="subfilter[0].type === 'date'">
                        <div class="form_field_container">
                            <!-- <label for="sdate2" class="date_picker_label">Start and end date</label> -->
                            <div class="date_picker_container">
                                <div class="cal_icon">
                                    <i class="fa fa-calendar calfont"></i>
                                </div>
                                <input [owlDateTime]="dt3" placeholder="Start Date & End Date" [owlDateTimeTrigger]="dt3"
                                    class="form-control input_field"
                                    [(ngModel)]="selected_sfilter_Items[subfilter[0].title]['date']"
                                    [ngClass]="{ 'is-invalid': submitted && startDate2.errors }" #startDate2="ngModel"
                                     [required] = "subfilter[0].isMandatory == 1 ? true : false "
                                     [name]="subfilter[0].title" [id]="subfilter[0].title"
                                     [selectMode]="'range'" [owlDateTimeTrigger]="dt3"
                                    (dateTimeInput)="onDateInputChange($event, subfilter[0].title, 'secondary')" />
                                    <div class="clear" (click)="clearDateValue(subfilter[0].title, 'secondary')"><i class="fas fa-times"></i></div>
                                <owl-date-time [pickerType]="'calendar'" #dt3></owl-date-time>
                            </div>
                        </div>


                        <!-- <div class="form_field_container">
                            <label for="edate2" class="date_picker_label">End date</label>
                            <div class="date_picker_container">
                                <div class="cal_icon">
                                    <i class="fa fa-calendar calfont"></i>
                                </div>
                                <input [owlDateTime]="dt4" placeholder="End Date" [owlDateTimeTrigger]="dt4"
                                    class="form-control input_field"
                                    [(ngModel)]="selected_filter_Items[subfilter[0].title]['start_End_Date']"
                                    [ngClass]="{ 'is-invalid': submitted && endDt2.errors }" #endDt2="ngModel" required
                                    name="edate2" id="edate2" [owlDateTimeTrigger]="dt4" />

                                <owl-date-time [pickerType]="'calendar'" #dt4></owl-date-time>
                            </div>
                        </div> -->


                    </div>
                </div>
                <!-- <div *ngIf="filterForm?.controls[subfilter[0].title]?.invalid && (filterForm?.controls[subfilter[0].title]?.dirty || filterForm?.controls[subfilter[0].title]?.touched)" class="alert alert-danger">

                  <div *ngIf="filterForm?.controls[subfilter[0].title].errors.required">
                      {{subfilter[0].title}} is required.
                  </div>
            </div> -->
              <!-- class="collapse" -->
              <!-- [ngClass]="{'show': filterJSON['secondary'][subfilter[0].title] && filterJSON['secondary'][subfilter[0].title].length > 0}" -->

          </div>
      </div>
      </div>

    </div>
  </div>
  <div>
    <!-- <button type="button" class="constantbtn-button-blue-left"  (click)="popupFilterForm(filterForm)" >Save & show</button> -->
  </div>
</form>


