@import '../../../@theme/styles/variable.scss';
.popup_data_filter{
  // margin-top: 25px;
  // height: 90vh;
  // background: white;
  // padding-left: 1%;
  // box-shadow: 3px 3px 5px 0px #ccc;

    // .listheadings{
    //     height: 40px;
    //     // border-top: 0.5px solid #68c7fb;
    //     border-bottom: 0.5px solid #68c7fb;
    //     display: flex;
    //     cursor: pointer;
    // }
    .col_container{
      display: grid;
      grid-template-columns: 1fr 1fr;
      row-gap: 10px;
      column-gap: 10px;
    }
  .listLabel{
    line-height: 30px;
    font-size: 15px;
    font-weight: 100;
    width: 100%;
    margin: auto;
    // color: #076ba1;
    color: var(--colorCommon);
  }

  .sticky-top {
    position: sticky;
    position: -webkit-sticky;
    top: 67px;
    z-index: 1030;
  }

  .filterLength{
    min-width: 25px;
    height: 25px;
    line-height: 25px;
    color: #fff    ;
    margin: auto;
    font-size: 13px;
    background: #076ba1;
    text-align: center;
  }
  .textBoxLength{
    width: 100%;
    height: 25px;
    line-height: 25px;
    margin: auto;
    outline: none;
    border: none;
    font-size: 13px;
    color: #484343;
  }

  .textBoxLength::placeholder{
    color: #076ba1;
  }

  .scroll-Div{
    height: 200px;
    overflow-y: scroll;
  }
  .required_mark {
    font-size: 20px;
    font-weight: 100;
    top: -0.3em;
    color: #ed462f;
}

  .scroll-Div::-webkit-scrollbar {
    width: 30px;
    scroll-margin-left: 10px;
  }
  .scroll-Div::-webkit-scrollbar-thumb {
    background: #E3E9EE;
    border-radius: 25px;
  }

  .scroll-Div::-webkit-scrollbar-track {
    display: none;
  }


  /* Hide the browser's default checkbox */
  .checkContainer1 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    }

  /* Create a custom checkbox */
  .checkmarkDiv {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    margin: 12px 0;
    width: 18px;
    border: 1px solid #2196F3;
    background-color: #feffff;
    }

    /* On mouse-over, add a grey background color */
    .checkContainer1:hover input ~ .checkmarkDiv {
    background-color: #F1F5F8;
    }

    /* When the checkbox is checked, add a blue background */
    .checkContainer1 input:checked ~ .checkmarkDiv {
      background-color: #feffff
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmarkDiv:after {
    content: "";
    position: absolute;
    display: none;
    }

    /* Show the checkmark when checked */
    .checkContainer1 input:checked ~ .checkmarkDiv:after {
    display: block;
    }

    /* Style the checkmark/indicator */
    .checkContainer1 .checkmarkDiv:after {
      left: 6px;
      top: 0px;
      width: 6px;
      height: 12px;
      border: solid #2196F3;
      border-width: 0 2px 2px 0;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    .checkContainer1{
      margin: 0;
      line-height: 30px;
      width: 100%;
      font-size: 14px;
      padding-left: 15px;
      font-weight: 100;
      cursor: pointer;
    }

    .form_field_container{
      // margin-top: 10px;
      .date_picker_label{
        color: #000;
        font-weight: 100;
      }
      .date_picker_container{
        display: grid;
        grid-template-columns: 0fr 1fr 0fr;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        border: 1px solid #ccc;
        background: #fff;
        .input_field{
          box-shadow: none;
          border: none;
          border-radius: 0;
          height: 32px !important;
          font-size: 12px !important;
        }
        .cal_icon{
          width: 40px;
          text-align: center;
          background: transparent;
          color: #fff;
          font-size: 20px;
          height: 100%;
          line-height: 32px;
          i{
            color: #fff;
          }
        }
        .clear{
          width: 20px;
          text-align: center;
          cursor: pointer;
          color: #000;
        }
      }
    }

    .filterTitleContainer{
      color: #000;
      display: grid;
      align-items: center;
      grid-template-columns: 4fr 1fr;
    }

    .filtertxt{
      width: 100%;
      font-size: 18px;
      margin: 0;
    }

    .cdk-overlay-container {
      position: fixed;
      pointer-events: none;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      display: flex;
      position: absolute;
      z-index: 9999999 !important;
  }
  .cdk-global-overlay-wrapper, .cdk-overlay-container {
      pointer-events: none;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      display: flex;
      position: absolute;
      z-index: 9999999 !important;
  }
}

// .SubDiv{
//     padding-top: 10%;
// }
  @media screen and (max-width: 768px) {
      .sidemenuCompo{
          height: inherit;
      }
  }
