
<!-- <router-outlet></router-outlet> -->
<div class="widgets role_conteiner">
    <div class="loaderBackdrop" *ngIf="loader == true">
        <div id="loader"></div>
      </div>  
      <div class="userSubButEnroll col-md-12 sticky-topEnroll">
        <div class="col-md-3 usersubdiv1Enroll" style="">
          <h4>Role Management</h4>
        </div>
          <!-- <div class="col-md-6 searchdivBundle">
            <input type="text" [(ngModel)]="search.inputText" class="form-control"  placeholder="search" name="inputText" (keydown.enter)="serachBundle()">
            <i class="fa fa-remove removesearchBundle" aria-hidden="true" (click)="clearSearch()"></i>
          </div> -->
        <div class="col-md-3 text-right" style="padding-right: 0;">
          <button type="button" style="" class="constantbtn-button-blue-left" (click)="gotoaddrole()" style="font-size: 13px" >Add Role</button>
          <button type="submit" class="back_button" (click)="back()">Back</button>

          <!-- (click)="enrollUser()" -->
          <!-- <button type="button" style="" class="btn optbtnNewEnroll floterightEnroll sercchBtn" (click)="searchUsers()" style="font-size: 13px">Search</button> -->
        </div>
      </div>
    <div ba-panel ba-panel-class="with-scroll">
       <section id="feature" class="section01" style="float:none;padding-top: 100px; ">
        <div class="container">
            <ngx-datatable
            style="width: 100%"
            class="material"
            [rows]="rows"
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="'auto'"
            [limit]="5"
            [selected]="selected"
            [selectionType]="'checkbox'"
            [selectAllRowsOnPage]="false"
            [displayCheck]="displayCheck"
            (activate)="onActivate($event)"
            (select)='onSelect($event)'>     

            <ngx-datatable-column
              [width]="50"
              [resizeable]="false"
              [sortable]="false"
              [draggable]="false"
              [canAutoResize]="false"
              [headerCheckboxable]="true"
              [checkboxable]="true">
              
             <ng-template ngx-datatable-cell-template let-value="value" let-isSelected="isSelected" let-onCheckboxChangeFn="onCheckboxChangeFn">
                <input type="checkbox" [checked]="isSelected" (change)="onCheckboxChangeFn($event)"/>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column width="80">
              <ng-template ngx-datatable-header-template>
                <span>Roles</span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.name}}
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>         
        </div>
       </section>
    </div>

</div>

