.asset_version {
    .addEditCattoprow {
        // padding: 12px;
        border: none;
        background-color: #ffffff;
        height: auto;
        width: 100%;
        display: inline-flex;
    }
    .floteright {
        float: right;
        font-size: 13px;
        background-color: #fff;
    }
    .noPadding {
        padding: 0 7.5px;
    }
    .noPaddingRight {
        padding-right: 0;
    }
    .tagWidth {
        width: 100%;
    }
    .paddingTo {
        padding: 15px;
    }
    .flexcol {
        display: flex;
        padding-left: 0;
    }
    .rowMargin {
        margin: auto;
    }
    .pointer {
        cursor:not-allowed
    }
    // .cuppa-dropdown .selected-list .c-btn {
    //     // height: 35px   ;
    //     padding: 8px   ;
    //     cursor: not-allowed;
    // }
    .inside_container{
        background: white;
    }

    .addEditCatsticky-top {
        position: sticky;
        top: 67px;
        z-index: 1090;
    }
    .addEditCatHead {
        // padding: 15px 0px 15px 30px;
        margin: 15px auto;
    }
    .right {
        margin-left: 88%;
    }
    .dropdown-height {
        height: 35px !important;
    }
    .bgwhite {
        background-color: white;
    }
    .padding-top {
        // padding-top: 15px;
        padding-top: 20px;
    }
    .height{
        height: 350px;
    }
    .padding-bottom {
        padding-bottom: 20px;
    }
    .margin-top {
        margin-top: 15px;
    }
    .margin-vertical {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .margin-all {
        margin: 20px;
    }
    .padding-all {
        padding: 20px;
    }
    .marginRight {
        margin-left: 10px;
    }
    .constantbtn-approve {
        background: green;
        color: white;
        border: none;
        width: 100%;
        min-width: 90px;
        min-height: 30px;
        margin: auto;
        margin-right: 15px;
        text-transform: uppercase;
    }
    .constantbtn-reject {
        background: red;
        color: white;
        border: none;
        width: 100%;
        min-width: 90px;
        min-height: 30px;
        margin: auto;
        text-transform: uppercase;
    }
    .viewbtn {
        background: #076ba1;
        color: white;
        border: none;
        width: 150px;
        height: 25px;
        margin-bottom: 10px;
    }
    .savebtn {
        background: #076ba1;
        border: none;
        color: #fff;
        margin-left: 15px;
    }
    .link-margin {
        margin:12px;
        width:98%;
    }
    .inputFileCourse {
        height: 14em;
        .form-control-file {
            position: relative;
            width: 100%;
            height: 100%;
            min-height: 6em;
            outline: none;
            visibility: hidden;
            cursor: pointer;
            background-color: #c61c23;
            box-shadow: 0 0 5px solid currentColor;
            &::before {
                color: #ed462f;
                content: attr(data-title);
                position: absolute;
                // top: 1.5em;
                left: 0;
                width: 100%;
                margin:12px;
                /* min-height: 8em; */
                height: 12em;
                line-height: 8em;
                padding-top: 1.5em;
                opacity: 1;
                visibility: visible;
                text-align: center;
                border: 0.15em dashed #9ea4a5;
                transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
                overflow: hidden;
            }
            &::hover {
                &:before {
                    border-style: solid #076ba1;
                    /*box-shadow: inset 0px 0px 0px 0.25em currentColor;*/
                }
            }
        }
    }
    /* For Firefox only */
    .inputFileCourse {
        height: 14em;
        .form-control-file {
            position: relative;
            width: 100%;
            height: 100%;
            min-height: 6em;
            outline: none;
            visibility: hidden;
            cursor: pointer;
            background-color: #c61c23;
            box-shadow: 0 0 5px solid currentColor;
            &:before {
                color: #ed462f;
                content: attr(data-title);
                position: absolute;
                // top: 1.5em;
                left: 0;
                // width: 100%;
                width: 98%;
                /* min-height: 8em; */
                height: 12em;
                line-height: 8em;
                padding-top: 1.5em;
                opacity: 1;
                visibility: visible;
                text-align: center;
                border: 0.15em dashed #9ea4a5;
                transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
                overflow: hidden;
            }
            &:hover {
                &:before {
                    border-style: solid #076ba1;
                    /*box-shadow: inset 0px 0px 0px 0.25em currentColor;*/
                }
            }
        }
    }
    .cancelButton {
        float: right;
        transform: none;
        background: transparent;
        font-weight: 600;
        border: none;
        padding: 0px;
        width: 15px;
        color: #ff0c0c;
        margin-right: 10px;
        // margin: 5px 0;
    }
    // .required_msg_text{
    //   .form-text{
    //     color: #ed462f ;
    //   }
    // }
}