<app-subheader [headerConfig]="header" (addbtn)="insertAssetVersion(versionForm)"(comeBack) = "backToAsset($event)" (backClick)="back()"></app-subheader>

<div class="asset_version">

    <!-- <div class="col-md-12 addEditCattoprow addEditCatsticky-top">
        <div class="col-md-6">
          <h4 class="addEditCatHead">ADD ASSET VERSION</h4>
        </div>
        <div class="col-md-6 text-right pad14px">
            <button type="button" class="constantbtn-button-blue-left" (click)="insertAssetVersion(versionForm)">
                Save
              </button>
          <button type="submit" class="back_button" (click)="back()">
            Back
          </button>
        </div>
      </div> -->

    <form #approve="ngForm">

        <div class="col-md-12 noPadding margin-top">
            <div class="col-md-12 noPadding">
                <div class="col-md-12 bgwhite paddingTo">
                    <div class="col-md-6">
                        <div>
                            <label class="space_left">Name</label>
                            <input type="text" class="form-control form-control-input dropdown-height" name="assetName" [(ngModel)]="versionForm.assetName" #assetName="ngModel" placeholder="Enter name of the file. Max 50 characters." disabled>
                        </div>

                        <br>

                        <div class="">
                            <label class="left_space" for="des">Description</label>
                            <textarea cols="30" rows="3" class="form-control form-control-input inputText" id="des" name="description" [(ngModel)]="versionForm.description" placeholder="Enter description for the file. Max 500 characters." pattern=".{2,500}" required disabled></textarea>
                        </div>

                        <br>

                        <div class="">
                            <label for="categories">Folder Name</label>
                            <select class="form-control dropdown-height" name="categories" [(ngModel)]="versionForm.category" id="categories" required disabled>
                    <option value="" selected disabled>Select Folders</option>
                    <option *ngFor="let category of categories" value={{category.catId}}>{{category.catName}}</option>
                  </select>
                        </div>

                        <br>

                        <div class="">
                            <label class='lbl' for="exampleInputPassword4">Author</label>
            
                                    <angular2-multiselect id="exampleInputPassword4" [data]="empList" [(ngModel)]="versionForm.selectedEmployee" [settings]="settingsEmployeeDrop" (onSelect)="onEmployeeSelect($event)" (onDeSelect)="OnEmployeeDeSelect($event)" name="selectedEmployee" style="cursor: not-allowed;">
                                        <c-search>
                                            <ng-template>
                                                <input type="text" (keyup)="onEmployeeSearch($event)" placeholder="Search employee..." style="border: none;width: 100%; height: 100%;outline: none;padding:5px;" />
                                            </ng-template>
                                        </c-search>
                                        <c-item>
                                            <ng-template let-item="item">
                                                <label style="color: #333;width: 150px;">{{item.edgeempId}}</label>
                                                <label>{{item.edgeempName}}</label>
                                            </ng-template>
                                        </c-item>
                                    </angular2-multiselect>
                                    <span></span>
                                </div>

                                <br>

                                <div class="">
                                    <label class="lbl">Approver</label>
                                    <angular2-multiselect id="employee" [data]="usersList" [(ngModel)]="versionForm.selectedCreator" [settings]="settingsCreatorDrop" (onSelect)="onCreatorSelect($event)" (onDeSelect)="OnCreatorDeSelect($event)" name="selectedCreator">
                                        <c-search>
                                            <ng-template>
                                                <input type="text" (keyup)="onCreatorSearch($event)" placeholder="Search employee..." style="border: none;width: 100%; height: 100%;outline: none;" />
                                            </ng-template>
                                        </c-search>
                                        <c-item>
                                            <ng-template let-item="item">
                                                <label style="color: #333;width: 150px;">{{item.empId}}</label>
                                                <label>{{item.empName}}</label>
                                            </ng-template>
                                        </c-item>
                                    </angular2-multiselect>
                                    <span></span>
                                </div>

                                <br>

                    </div>
                    <div class="col-md-6">
                        <div class="">
                            <label for="format">Format</label>
                            <select class="form-control dropdown-height" name="format" [(ngModel)]="versionForm.format" required disabled>
                    <option value="" selected disabled>Select file format</option>
                    <option *ngFor="let format of formats" value={{format.formatId}}>{{format.formatName}}</option>
                  </select>
                        </div>

                        <br>

                        <div class="">
                            <label for="Channel">Channel</label>
                            <select class="form-control dropdown-height" name="channel" [(ngModel)]="versionForm.channel" required disabled>
                    <option value="" selected disabled>Select Channel</option>
                    <option *ngFor="let channel of channels" value={{channel.channelId}}>{{channel.channelName}}</option>
                  </select>
                        </div>
                        <br>

                        <div class="">
                            <label for="Channel">Language</label>
                            <select class="form-control dropdown-height" name="language" [(ngModel)]="versionForm.language" required disabled>
                    <option value="" selected disabled>Select Language</option>
                    <option *ngFor="let item of languages" value={{item.languageId}}>{{item.languageName}}</option>
                  </select>
                        </div>

                        <!-- <br> -->

                        <div class="padding-top" *ngIf="versionForm.format == 1 ||
                                      versionForm.format == 2 ||
                                      versionForm.format == 4 || 
                                      versionForm.format == 6">
                            <label class="" for="actDuration">Estimated time</label>
                            <timepicker id="actDuration" [(ngModel)]="versionForm.time" [minuteStep]="1" [secondsStep]="1" [showMeridian]="false" [showMinutes]="true" [showSeconds]="true" name="activityDuration"></timepicker>
                            <span></span>
                        </div>

                        <br>

                        <div class="">
                            <label class="">Estimated Cost ( INR )</label>
                            <input type="number" class="form-control inputText dropdown-height" placeholder="Enter estimated cost of file." name="cost" [(ngModel)]="versionForm.cost" required>
                            <!-- <input type="number" class="form-control inputText dropdown-height" placeholder="Enter estimated cost of asset." name="cost"  required> -->

                        </div>

                        <br>

                        <!-- <div class="">
                            <label class="" for="addTags">Custom tags</label>
                            <div id="addTags" class="input-group">
                                <tag-input [theme]="'bootstrap'" [separatorKeyCodes]="[32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,58,59,60,61,62,63,64188]" name="assetTags" class="tagWidth" [(ngModel)]="versionForm.assetTags" [disable]="true" required> </tag-input>
                            </div>
                            <span></span>
                        </div> -->

                        <!-- //new tags -->
                        <div class="">
                            <label class="" for="addTags">Custom tags</label>
                        <angular2-multiselect id="exampleInputTags4" [ngModelOptions]="{standalone: true}" [data] = "tagList" #selectTag="ngModel" [(ngModel)]="selectedTags" [settings]="settingsTagDrop" (onSelect)="onTagsSelect($event)" class="select_field_height" (onDeSelect)="OnTagDeSelect($event)"
                        name="selectTags" ngDefaultControl>
                        <!-- <c-search>
              <ng-template>
                <input type="text" (keyup)="onTagSearch($event)"
                  placeholder="Search Tags"
                  style="border: none;width: 100%; height: 100%;outline: none;" />
              </ng-template>
            </c-search> -->
                        <c-item>
                            <ng-template let-item="item">
                                <label style="color: #333;">{{item.name}}</label>
                                <!-- <img [src]="item.flag" style="width: 30px; border: 1px solid #efefef;margin-right: 0px;" /> -->
                                <!-- <label style="color: #333;width: 30%;">{{item.fullname}}</label> -->
                                <!-- <label style="color: #333;width: 30%;">{{item.email}}</label> -->
                            </ng-template>
                        </c-item>
                    </angular2-multiselect>
                    </div>

                        <!-- end new tags -->



                    </div>





                </div>
            </div>
            <div class="col-md-12 noPadding margin-top ">
            <!-- <div class="col-md-12 paddingTo margin-top inside_container"> -->
                <div class="col-md-6 bgwhite paddingTo height">
                    <div class="" *ngIf="versionForm.format == 2 ||versionForm.format == 3 ||
              versionForm.format == 5">
                        <!-- <div class=""> -->
                            <label for="" style="width: 100%; margin:8px;margin-bottom: 0px;">Content
                            <!-- <button class="viewbtn">View Content</button> -->
                        <!-- </div> -->

                        <button class=" fp-btn-choose cancelButton" id="filepicker-button" value="Cancel" name="userfilechoose" (click)="cancelFile()"><i class="fa fa-times" aria-hidden="true"></i></button>
                    </label>
                        <div class="form-group inputFileCourse">
                            <label class="sr-only" for="inputFile">File
                    Upload</label>
                            <input type="file" title="{{selectFileTitle}}" #fileUpload class="form-control-file text-success font-weight-bold" id="inputFile" name="inputFile" accept="application/zip,application/rar,application/7z,audio/*,video/*,application/pdf" [(ngModel)]="versionForm.assetRef"
                                (change)="readFileUrl($event)" attr.data-title="{{fileName}}" required>
                        </div>
                    </div>

                    <!-- //new one  -->

                    <div class="" *ngIf=" versionForm.format == 7">
                        <!-- <div class=""> -->
                            <label for="" style="width: 100%; margin: 8px;margin-bottom: 0px;">Content
                            <!-- <button class="viewbtn">View Content</button> -->
                        <!-- </div> -->

                        <button class=" fp-btn-choose cancelButton" id="filepicker-button" value="Cancel" name="userfilechoose" (click)="cancelFile()"><i class="fa fa-times" aria-hidden="true"></i></button></label>
                        <div class="form-group inputFileCourse">
                            <label class="sr-only" for="inputFile">File
                          Upload</label>
                            <input type="file" title="{{selectFileTitle}}" #fileUpload class="form-control-file text-success font-weight-bold" id="inputFile" name="inputFile" accept=".png, .jpg, .jpeg" [(ngModel)]="versionForm.assetRef" (change)="readFileUrl($event)" attr.data-title="{{fileName}}"
                                required>
                            <!-- <div class="alert alert-danger " *ngIf="versionForm.assetRef == null">
                                File Required
                            </div> -->
                        </div>
                    </div>

                    <div class="" *ngIf=" versionForm.format == 1">
                        <!-- <div class=""> -->
                            <label for="" style="width: 100%; margin: 8px;margin-bottom: 0px;">Content
                            <!-- <button class="viewbtn">View Content</button> -->
                        <!-- </div> -->

                        <button class=" fp-btn-choose cancelButton" id="filepicker-button" value="Cancel" name="userfilechoose" (click)="cancelFile()"><i class="fa fa-times" aria-hidden="true"></i></button></label>
                        <div class="form-group inputFileCourse">
                            <label class="sr-only" for="inputFile">File
                          Upload</label>
                            <input type="file" title="{{selectFileTitle}}"  class="form-control-file text-success font-weight-bold" #video_file id="videofile" name="inputFile" accept="video/*" [(ngModel)]="versionForm.assetRef" (change)="readFileUrl($event)" attr.data-title="{{fileName}}"
                                required>
                            <!-- <div class="alert alert-danger " *ngIf="versionForm.assetRef == null">
                                File Required
                            </div> -->
                        </div>
                    </div>

                    <div class="" *ngIf=" versionForm.format == 10">
                        <!-- <div class=""> -->
                            <label for="" style="width: 100%; margin:8px;margin-bottom: 0px;">Content
                            <!-- <button class="viewbtn">View Content</button> -->
                        <!-- </div> -->

                        <button class=" fp-btn-choose cancelButton" id="filepicker-button" value="Cancel" name="userfilechoose" (click)="cancelFile()"><i class="fa fa-times" aria-hidden="true"></i></button>
                    </label>
                        <div class="form-group inputFileCourse">
                            <label class="sr-only" for="inputFile">File
                        Upload</label>
                            <input type="file" title="{{selectFileTitle}}" #fileUpload class="form-control-file text-success font-weight-bold" id="inputFile" name="inputFile" accept=".ppt,.pptx" [(ngModel)]="versionForm.assetRef" (change)="readFileUrl($event)" attr.data-title="{{fileName}}"
                                required>
                        </div>
                    </div>

                    <div class="" *ngIf=" versionForm.format == 12">
                        <!-- <div class=""> -->
                            <label for="" style="width: 100%; margin: 8px;margin-bottom: 0px">Content
                            <!-- <button class="viewbtn">View Content</button> -->
                        <!-- </div> -->

                        <button class=" fp-btn-choose cancelButton" id="filepicker-button" value="Cancel" name="userfilechoose" (click)="cancelFile()"><i class="fa fa-times" aria-hidden="true"></i></button>
                    </label>
                        <div class="form-group inputFileCourse">
                            <label class="sr-only" for="inputFile">File
                        Upload</label>
                            <input type="file" title="{{selectFileTitle}}" #fileUpload class="form-control-file text-success font-weight-bold" id="inputFile" name="inputFile" accept=".doc,.docx" [(ngModel)]="versionForm.assetRef" (change)="readFileUrl($event)" attr.data-title="{{fileName}}"
                                required>
                        </div>
                    </div>


                    <div class="" *ngIf=" versionForm.format == 11">
                        <!-- <div class=""> -->
                            <label for="" style="width: 100%; margin: 8px;margin-bottom: 0px">Content
                            <!-- <button class="viewbtn">View Content</button> -->
                        <!-- </div> -->

                        <button class=" fp-btn-choose cancelButton" id="filepicker-button" value="Cancel" name="userfilechoose" (click)="cancelFile()"><i class="fa fa-times" aria-hidden="true"></i></button>
                    </label>
                        <div class="form-group inputFileCourse">
                            <label class="sr-only" for="inputFile">File
                        Upload</label>
                            <input type="file" title="{{selectFileTitle}}" #fileUpload class="form-control-file text-success font-weight-bold" id="inputFile" name="inputFile" accept=".xls,.xlsx" [(ngModel)]="versionForm.assetRef" (change)="readFileUrl($event)" attr.data-title="{{fileName}}"
                                required>
                        </div>
                    </div>



                    <!-- new one end -->

                    <div class="" *ngIf="versionForm.format == 6 || versionForm.format == 8">
                        <label for="kpoint" style="margin:12px;margin-bottom: 0px;">Insert link
                    <span class="alert alert-danger">*</span></label
                  >
                  <textarea
                    cols="30"
                    rows="3"
                    class="form-control form-control-input inputText link-margin"
                    id="kpoint"
                    placeholder="Enter link."
                    name="file"
                    pattern=".{5,500}"
                    required
                    [(ngModel)]="versionForm.assetRef"
                    required
                  ></textarea>
              </div>

              <div class="" *ngIf="versionForm.format == 4">
                <label for="kpoint" style="margin:12px;margin-bottom: 0px;">Insert link
            <span class="alert alert-danger">*</span></label
          >
          <textarea
            cols="30"
            rows="3"
            class="form-control form-control-input inputText link-margin"
            id="kpoint"
            placeholder="Enter link."
            name="file"
            pattern=".{5,500}"
            required
            [(ngModel)]="versionForm.assetRef"
            required
          ></textarea>
          <input type="submit" value="View" class="constantbtn-button-blue-left  right  top" (click)="kpointConfigure(versionForm.assetRef)">
      </div>
      
              <!-- <br> -->
      
              <!-- <div class="">
                <label class='lbl' for="exampleInputPassword4">Author</label>

                        <angular2-multiselect id="exampleInputPassword4" [data]="empList" [(ngModel)]="versionForm.selectedEmployee" [settings]="settingsEmployeeDrop" (onSelect)="onEmployeeSelect($event)" (onDeSelect)="OnEmployeeDeSelect($event)" name="selectedEmployee">
                            <c-search>
                                <ng-template>
                                    <input type="text" (keyup)="onEmployeeSearch($event)" placeholder="Search employee..." style="border: none;width: 100%; height: 100%;outline: none;padding:5px" />
                                </ng-template>
                            </c-search>
                            <c-item>
                                <ng-template let-item="item">
                                    <label style="color: #333;width: 150px;">{{item.edgeempId}}</label>
                                    <label>{{item.edgeempName}}</label>
                                </ng-template>
                            </c-item>
                        </angular2-multiselect>
                        <span></span>
                    </div>

                    <br>

                    <div class="">
                        <label class="" for="addTags">Custom tags</label>
                        <div id="addTags" class="input-group">
                            <tag-input [theme]="'bootstrap'" [separatorKeyCodes]="[32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,58,59,60,61,62,63,64188]" name="assetTags" class="tagWidth" [(ngModel)]="versionForm.assetTags" [disable]="true" required> </tag-input>
                        </div>
                        <span></span>
                    </div>

                    <br>

                    <div class="">
                        <label class="lbl">Approver</label>
                        <angular2-multiselect id="employee" [data]="usersList" [(ngModel)]="versionForm.selectedCreator" [settings]="settingsCreatorDrop" (onSelect)="onCreatorSelect($event)" (onDeSelect)="OnCreatorDeSelect($event)" name="selectedCreator">
                            <c-search>
                                <ng-template>
                                    <input type="text" (keyup)="onCreatorSearch($event)" placeholder="Search employee..." style="border: none;width: 100%; height: 100%;outline: none;" />
                                </ng-template>
                            </c-search>
                            <c-item>
                                <ng-template let-item="item">
                                    <label style="color: #333;width: 150px;">{{item.empId}}</label>
                                    <label>{{item.empName}}</label>
                                </ng-template>
                            </c-item>
                        </angular2-multiselect>
                        <span></span>
                    </div> 

                    <br> -->

                </div>
                <!-- ////// View  -->

                <div class="col-md-6 bgwhite paddingTo height" >
                                
                    <div *ngIf="versionForm.format == 7">
                        <div *ngIf="versionForm.assetRef">


                            <img style="width: 100% ;height:300px" src="{{fileUrl}}">
                        </div>

                    </div>

                    <div *ngIf="versionForm.format == 2">
                        <div *ngIf="versionForm.assetRef">
                            <!-- <audio style="width: 100%;" controls>
                            <source src="{{versionForm.assetRef}}" >
                            Your browser does not support HTML5 video.
                          </audio> -->
                        <audio [src]="fileUrl" style="width: 100%" controls></audio>
                          
                        </div>
                    </div>


                    <div *ngIf="versionForm.format == 1">
                        <div *ngIf="versionForm.assetRef">
                            <!-- <video style="width: 100%;" controls controlsList="nodownload" id="video_here">
                        <source >
                        Your browser does not support HTML5 video.
                      </video> -->
                      <video [src]="fileUrl" style="width: 100% ;height:300px" controls></video>
                        </div>
                    </div>

                    <div *ngIf="versionForm.format == 3">

                        <div *ngIf="versionForm.assetRef">
                            <!-- <iframe [src]="fileName" style="width:100%; height:500px;" fullscreen></iframe> -->
                            <iframe [src]="pdfReference" style="width:100%; height:300px;" fullscreen></iframe>
                            <!-- <embed [src]="pdfReference" > -->
                        </div>
                    </div>

                    <div *ngIf="versionForm.format == 4 && versionForm.assetRef" >
                        <div style="width:100%; height:300px;" #kpplayer ></div>
                    </div>

                </div>
                <!-- ////End View -->
            </div>
        </div>
    </form>
</div>