<app-subheader [headerConfig]="header" (inputsearch)="searchData($event)" (addbtn)="showTemplate(null,0)" (backClick)="back()" (Clear)="clear()"></app-subheader>
<!-- <div class="top_header_container" >
    <div class="top_header_div_sticky content_width">
        <div class="widgets">
            <div ba-panel ba-panel-class="with-scroll" > -->

<!-- <div class="divCon">
                        <div class="userSubButInd1 sticky-top">
                            <div class="col-sm-3">
                                <h3 class="h3lableuser">Partner</h3>
                            </div>
                            <div class="col-sm-5">
                                <div class="search_div">
                                    <input type="text" class="form-control search_field" placeholder="Search by partner name " [(ngModel)]="searchParticipant.partnerName" />
                                    <i class="fa fa-remove remove_icon" aria-hidden="true" (click)="clear()"></i>
                                </div>
                            </div>
                            <div class="buttons_div">

                                <button class="constantbtn-button-blue-left" (click)="showTemplate(null,0)">Add</button>

                                <button type="submit" class="back_button" (click)="back()">Back</button>
                            </div>
                        </div>
                    </div> -->
<!-- <div class="loaderBackdrop" *ngIf="loader == true">
    <div id="loader"></div>
</div> -->
<div class="" *ngIf='!noMaster'>
    <!-- <ng-container *ngIf="( partnerJson | filterBy:searchParticipant) as partnerJson"> -->
    <div class="tableCompo">
        <ngx-enrol-table [label]="labels" [addPointer]="true" [pagination]="true" [tableData]="partnerJson" (clickOnbutton)="visibilityTableRow($event)" (clickOnicon)="showTemplate($event,1)"></ngx-enrol-table>
    </div>
    <div *ngIf="noMaster" style="padding: 5px 10px">
        <div>Total: {{ partnerJson.length }}</div>
    </div>
    <!-- </ng-container> -->
</div>
<!-- <div *ngIf="noMaster">
    <ngx-no-data [config]="noDataVal"></ngx-no-data>
</div> -->
<!-- </div>
        </div>
    </div>
</div> -->
<!-- <div class="tableDiv">
            <div class="headers col-md-12">
              <div class="col-sm-2">
                <h6>
                  <strong>
                    ID
                  </strong>
                </h6>
              </div>
              <div class="col-sm-2">
                <h6>
                  <strong>
                    PARTNER NAME
                  </strong>
                </h6>
              </div>
              <div class="col-sm-4">
                <h6>
                  <strong>
                    ADDRESS
                  </strong>
                </h6>
              </div>

              <div class="col-sm-1">
              </div>
              <div class="col-sm-1">
              </div>
            </div>
            <div class="scroll_div">
              <div class="col-sm-12 tableData"
                *ngFor=" let item of partnerJson | filterBy: searchParticipant;let j=index ">

                <div class="col-sm-2">
                  <h6>{{item.partnerId}}</h6>
                </div>
                <div class="col-sm-2">
                  <h6>{{item.partnerName}}</h6>
                </div>
                <div class="col-sm-4">
                  <h6>{{item.partnerAddress1}} {{item.partnerAddress2}}</h6>
                </div>
                <div>
                  <p style="padding-right: 150px;"></p>
                </div>
                <div class="col-sm-1">

                  <i title="Enabled" style="color: black;" class="fa fa-eye fa-lg pointer" aria-hidden="true"
                    (click)="disableVisibility(j,item,0)" [hidden]="item.visible == 0"></i>
                  <i title="Disabled" style="color: black;" class="fa fa-eye-slash fa-lg pointer" aria-hidden="true"
                    (click)="disableVisibility(j,item,1)" [hidden]="item.visible == 1"></i>

                </div>
                <div class="col-sm-1">
                  <button class="cancelbutquiz" (click)="showTemplate(item,1)">
                    <i class="fa fa-edit" title="Edit" style="float: right;"></i>
                  </button>
                </div>
              </div>
            </div> -->
<ngx-sidebar-form *ngIf="sectionshow" [sidebarTitle]='title' [buttonName]="btnName" (saveBtn)='saveTemp(subsectionForm)' (outside)="closesectionModel()" (closeBtn)='closesectionModel()'>

    <!--<div class="addRuleBackdropaddquiz" *ngIf="sectionshow">
    <div class="addRuleDemoaddquizModal">
         <div class="modal-header-1">
            <p>{{title}}</p>
            <button class="close" aria-label="Close" (click)="closesectionModel()">
                    <span aria-hidden="true">&times;</span>
                  </button>
        </div> -->
    <!-- <div class="mbody modal-body">
            <div class="form_body_padding">
                <div class="col-md-12" style="padding: 0px;"> -->
    <form class="forms-sample" [formGroup]="Form" (ngSubmit)="saveTemp()" #subsectionForm="ngForm">
        <div class="form-group">
            <label class="side-form-label" for="name">{{helpContent?.partnerList_AddEditCategoryContent?.name.label}} <sup>&#x2731;</sup>
                        <app-info-tooltip for="name" [description]="helpContent?.partnerList_AddEditCategoryContent?.name.labelHelpContent"></app-info-tooltip>
                    </label>
            <input id="partnerName" class="form-control commonInput" formControlName="name" [ngClass]="{'invalid-form': name.invalid && (name.dirty || name.touched)}" required matInput [(ngModel)]="partnerName" placeholder="Partner Name">
            <div *ngIf="name.invalid && (name.dirty || name.touched)">
                <small class="invalid-msg" *ngIf="name.errors.required">Partner Name is required.</small>
                <small class="invalid-msg" *ngIf="name.errors.minlength">Partner Name must be at least 3 characters long.</small>
                <small class="invalid-msg" *ngIf="name.errors.maxlength">Partner Name must be less then 100 characters.</small>
            </div>
        </div>
        <div class="form-group">
            <label class="side-form-label" for="name">{{helpContent?.partnerList_AddEditCategoryContent?.Address.label}} <sup>&#x2731;</sup>
                      <app-info-tooltip for="name" [description]="helpContent?.partnerList_AddEditCategoryContent?.Address.labelHelpContent"></app-info-tooltip>
                  </label>
            <input id="address" type="text" class="form-control commonInput" [ngClass]="{'invalid-form': address.invalid && (address.dirty || address.touched)}" [(ngModel)]="partnerAddress1" formControlName="address" required matInput placeholder="Enter Address">
            <div *ngIf="address && address.invalid && (address.dirty || address.touched)">
                <small class="invalid-msg" *ngIf="address.errors.required">Address is required.</small>
                <small class="invalid-msg" *ngIf="address.errors.minlength">Address must be atleast 5 characters long.small></small>
                <small class="invalid-msg" *ngIf="address.errors.maxlength"> Address must be less then 100 characters.</small>
            </div>
        </div>
        <div class="form-group">
            <label class="side-form-label" for="name">{{helpContent?.partnerList_AddEditCategoryContent?.Address1.label}}
                    <app-info-tooltip for="name" [description]="helpContent?.partnerList_AddEditCategoryContent?.Address1.labelHelpContent"></app-info-tooltip>
                </label>
            <input id="address1" type="text" [(ngModel)]="partnerAddress2" [ngClass]="{'invalid-form': address1.invalid && (address1.dirty || address1.touched)}" class="form-control commonInput" formControlName="address1" matInput placeholder="Enter Address">
            <div *ngIf="address1 && address1.invalid && (address1.dirty || address1.touched)">
                <small class="invalid-msg" *ngIf="address1.errors.minlength">Address must be atleast 5 characters long.small></small>
                <small class="invalid-msg" *ngIf="address1.errors.maxlength"> Address must be less then 100 characters.</small>
            </div>
        </div>
        <!-- <label for="partnerName">{{helpContent?.partnerList_AddEditCategoryContent?.name.label}} <sup
                            class="reqFieldActivity">*</sup>
                          <div class="help-tooltip">
                            <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                            <div class="help-tooltip-position-right">
                              <p>{{helpContent?.partnerList_AddEditCategoryContent?.name.labelHelpContent}}</p>
                              <i></i>
                            </div>
                          </div>
                        </label>
        <input id="partnerName" class="form-control" formControlName="name" required matInput [(ngModel)]="partnerName" placeholder="Please enter partner name">
        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
            <div *ngIf="name.errors.required">
                Partner Name is required.
            </div>
            <div *ngIf="name.errors.minlength">
                Partner Name must be at least 3 characters long.
            </div>
            <div *ngIf="name.errors.maxlength">
                Partner Name must be less then 100 characters.
            </div>
        </div>
        <p></p>
        <table class="example-full-width" cellspacing="0">
            <tr>
                <td>
                    <label for="Address">{{helpContent?.partnerList_AddEditCategoryContent?.Address.label}}
                                <sup class="reqFieldActivity">*</sup>
                                <div class="help-tooltip">
                                  <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                                  <div class="help-tooltip-position-right">
                                    <p>{{helpContent?.partnerList_AddEditCategoryContent?.Address.labelHelpContent}}</p>
                                    <i></i>
                                  </div>
                                </div>
                              </label>
                    <input id="address" type="text" class="form-control" [(ngModel)]="partnerAddress1" formControlName="address" required matInput placeholder="Enter Address">
                    <div *ngIf="address && address.invalid && (address.dirty || address.touched)" class="alert alert-danger">
                        <div *ngIf="address.errors.required">
                            Address is required.
                        </div>
                        <div *ngIf="address.errors.minlength">
                            Address must be atleast 5 characters long.
                        </div>
                        <div *ngIf="address.errors.maxlength">
                            Address must be less then 100 characters.
                        </div>
                    </div>
                    <p></p>
                </td>
                <span style="padding-right: 20px;"></span>
                <td>
                    <label for="address1">{{helpContent?.partnerList_AddEditCategoryContent?.Address1.label}}
                                <div class="help-tooltip">
                                  <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                                  <div class="help-tooltip-position-right">
                                    <p>{{helpContent?.partnerList_AddEditCategoryContent?.Address1.labelHelpContent}}</p>
                                    <i></i>
                                  </div>
                                </div>
                              </label>
                    <input id="address1" type="text" [(ngModel)]="partnerAddress2" class="form-control" formControlName="address1" matInput placeholder="Enter Address">
                    <div *ngIf="address1 && address1.invalid && (address1.dirty || address1.touched)" class="alert alert-danger">
                        <div *ngIf="address1.errors.minlength">
                            Address must be atleast 5 characters long.
                        </div>
                        <div *ngIf="address1.errors.maxlength">
                            Address must be less then 100 characters.
                        </div>
                    </div>
                    <p></p>
                </td>
            </tr>
        </table> -->
    </form>
    <!-- </div>
            </div>
            <p></p>
            <div class="text-right">
                <button type="button" class="constantbtn-button-blue-left margin-right" [disabled]="!Form.valid" id="editbtn" (click)="saveTemp()">Submit</button>
            </div>
        </div> -->
    <!-- </div>

</div> -->
</ngx-sidebar-form>
<!-- <div class="clearfix bottomPager col-md-12">
                        <div class="hint-text">Total Pages : <b>{{pager.totalPages}}</b></div>
                        <ul class="pagination">
                            <li class="page-item disabled" [ngClass]="{disabled:pager.currentPage === 1}" (click)="setpage(pager.currentPage - 1)">Previous</li>
                            <li class="page-item" *ngFor="let item of pager.pages; let i = index" [ngClass]="{active:pager.currentPage === item}" (click)="setpage(item)">
                                {{item}}</li>
                            <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}" (click)="setpage(pager.currentPage + 1)">Next</li>
                        </ul>
                    </div> -->

<div *ngIf='noMaster'>
    <!-- <div class="col-md-12 noDataDiv">
                            <img class="noDataImg" src='assets/images/noDataFound1.png' onerror="this.src='assets/images/noDataFound1.png';">
                        </div> -->
    <ngx-no-data [config]="noDataVal"></ngx-no-data>
</div>