ngx-eneroltools {
    .enrolCardBody {
        padding: 0px;
    }
    .openDatepicker:focus {
        outline: none;
    }
    /*UPLOAD FILE CSS*/
    .inputenup {
        height: 14em;
        .form-control-file {
            position: relative;
            width: 100%;
            height: 100%;
            min-height: 6em;
            outline: none;
            visibility: hidden;
            cursor: pointer;
            background-color: #c61c23;
            box-shadow: 0 0 5px solid currentColor;
            &::before {
                color: #ed462f;
                content: attr(data-title);
                position: absolute;
                top: 1.5em;
                left: 0;
                width: 100%;
                /* min-height: 8em; */
                height: 12em;
                line-height: 8em;
                padding-top: 1.5em;
                opacity: 1;
                visibility: visible;
                text-align: center;
                border: 0.15em dashed #9ea4a5;
                transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
                overflow: hidden;
            }
            &::hover {
                &:before {
                    border-style: solid #076ba1;
                    /*box-shadow: inset 0px 0px 0px 0.25em currentColor;*/
                }
            }
        }
    }
    .chooseFile {
        text-align: center;
        float: left;
        /* margin-left: 12%; */
        /* margin-top: 7%; */
    }
    .datePickerInput:focus {
        border: 1px solid #dadfe6;
        background-color: #ffffff;
    }
    .inputText:focus {
        border: 1px solid #dadfe6;
        background-color: #ffffff;
    }
    .searchInput::placeholder {
        color: #313233bf;
    }
    .searchInput {
        border: none;
        border-bottom: 1px solid #313233bf;
        background: transparent;
        box-shadow: none;
        border-radius: 0;
        outline: none;
    }
    .searchRemove {
        position: absolute;
        top: 14px;
        right: 15px;
    }
    .manEnrolSrchDiv {
        margin-bottom: 15px;
        input {
            outline: none;
        }
    }
    .manEnrolSearchUsr {
        width: 100%;
        padding: 10px;
    }
    .searchRemove {
        position: absolute;
        top: 14px;
        right: 15px;
    }
    .ngx-datatable.fixed-header .datatable-header .datatable-header-inner .datatable-header-cell {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        // text-align: center;
        font-size: 14px;
        color: black;
    }
    .ngx-datatable.material {
        background: #FFF;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .ngx-datatable.material .datatable-body .datatable-body-row {
        border-bottom: 0.5px solid #e8dedef0;
    }
}

.text-right {
    margin: 10px;
}

.tableList {
    display: inline-block;
    vertical-align: top;
    // padding-top: 16px;
    table {
        width: 100%;
        background: white;
        box-shadow: 3px 2px 6px 4px #ccc;
    }
}