<div class="text-right inside-button-div">
    <!-- <button type="button" class="constantbtn-button-blue-right" *ngIf="!showEnrolpage " (click)="saveEnrol()">Enrol</button>
    <button type="button" class="constantbtn-button-blue-right" *ngIf="!showBulkpage " (click)="bulkEnrol()">Bulk Enrol</button>
    <button type="submit inside-button-div" class="back_button" *ngIf="!showEnrolpage && !showBulkpage" (click)="back()">Back</button> -->
    <!-- <button type="button" class="back_button" *ngIf="showEnrolpage ||  showBulkpage" (click)="backToEnrol()">Back</button> -->
</div>
<div class=" m0 formGen">
    <div class="col-md-12 grid-margin stretch-card formGenCardCourse">
        <div class="">
            <div class="card-body enrolCardBody">
                <!-- padding0 <h4 class="card-title">Enrol Details</h4> -->
                <!-- <p class="card-description cardDesc"></p> -->
                <div class="" style="width: 100%;">
                    <!-- <course-enrolment></course-enrolment> -->
                    <div class="col-md-12" *ngIf="!showEnrolpage && !showBulkpage">
                        <div class="manEnrolSrchDiv" *ngIf='!nodata'>
                            <!--  -->
                            <input type='text' class="manEnrolSearchUsr searchInput" placeholder='Search user...' [(ngModel)]="searchvalue.value" (keyup)='searchEnrolUser($event)' name="fname" />
                            <i class="fa fa-remove searchRemove" (click)="clearesearch($event)"></i>
                            <!-- </div>
                        <div class="tableList col-md-12"> -->
                            <div class="tableCompo pl-0 pr-0">
                                <ngx-enrol-table [pagination]="true" [label]="labels" [tableData]="rows" (clickOnbutton)=visibilityTableRow($event)></ngx-enrol-table>
                            </div>
                            <div style="padding: 10px">
                                <div>Total: {{ rows.length }}</div>
                            </div>
                        </div>
                        <ngx-no-data [config]="noDataVal" *ngIf='rows?.length==0'></ngx-no-data>

                        <!-- <div *ngIf="rows">
                            <ngx-datatable #myTable style="width: 100%" class="material" [rows]="rows" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="30" [rowHeight]="50" [limit]="9" [scrollbarV]="true" [selected]="selected" [selectionType]="'checkbox'" [selectAllRowsOnPage]="false"
                                [displayCheck]="displayCheck" (activate)="onEnrolDataClickEvent($event)" (select)='onSelectEnrolData($event)' (page)="onPageEnrolData($event)">
                                <ngx-datatable-column prop="ecn" name="EMP CODE"></ngx-datatable-column>
                                <ngx-datatable-column prop="fullname" name="FULLNAME"></ngx-datatable-column>
                                <ngx-datatable-column prop="emailId" name="EMAIL"></ngx-datatable-column>
                                <ngx-datatable-column prop="phoneNo" name="MOBILE"></ngx-datatable-column>
                                <ngx-datatable-column prop="enrolDate" name="DOE"></ngx-datatable-column>
                                <ngx-datatable-column prop="enrolmode" name="MODE"></ngx-datatable-column>
                                <ngx-datatable-column [width]="50" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                                    <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                                        <a class="deleteUserIcon" title="Delete User">
                                            <i title="Enabled" class="fa fa-eye card-footer-icon pointer" aria-hidden="true" (click)="disableCourseVisibility(i,row,0)" *ngIf="row.visible == 1"></i>
                                            <i title="Disabled" class="fa fa-eye-slash card-footer-icon pointer" aria-hidden="true" (click)="disableCourseVisibility(i,row,1)" *ngIf="row.visible==0"></i>
                                        </a>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-footer>
                                    <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize" let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset">
                                        <div style="padding: 5px 10px">
                                            <!-- <div><strong>Summary</strong>: Gender: Female</div> -->
                        <!-- <hr style="width:100%" /> -->
                        <!-- <div>Total: {{ rowCount }}</div>
                                        </div>
                                    </ng-template>
                                </ngx-datatable-footer>
                            </ngx-datatable>
                        </div>  -->
                    </div>
                    <div *ngIf="showEnrolpage && !showBulkpage" class="subMenu">
                        <!-- <div *ngIf="!rows" class="subMenu"> -->
                        <course-enrolment></course-enrolment>
                    </div>
                    <div *ngIf="showBulkpage && !showEnrolpage " class="subMenu">
                        <!-- <div *ngIf="!rows" class="subMenu"> -->
                        <!-- <div class="col-sm-12 upbackbtn" >

              </div> -->
                        <!-- <div class="col-sm-12 upbackbtn text-right mt-2" >

            </div> -->
                        <div class="col-md-12 grid-margin stretch-card" *ngIf="!preview">
                            <div class="">
                                <div class="card-body enrolCardBody">
                                    <div class="col-12 margin10 ">
                                        <div class="form-group inputenup">
                                            <label class="sr-only" for="inputFile">File Upload</label>
                                            <input type="file" #fileUpload class="form-control-file text-success font-weight-bold " id="inputFile" accept=".xls,.xlsx" (change)="readUrl($event)" attr.data-title="{{fileName}}">
                                        </div>
                                        <span></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="col-sm-12 upbackbtn" >

            </div> -->
                        <div class="col-md-12 grid-margin stretch-card" *ngIf="preview">
                            <div class="mb-4 text-center">
                                <div class="card-body enrolCardBody">
                                    <div class="col-12 margin10 ">
                                        <ngx-datatable #previewTable style="width: 100%" class="material" [rows]="datasetPreview" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="30" [rowHeight]="50" [limit]="9" [scrollbarV]="true" [selectAllRowsOnPage]="false" [displayCheck]="displayCheck">
                                            <ngx-datatable-column prop="status" name="STATUS"></ngx-datatable-column>
                                            <ngx-datatable-column prop="ecn" name="EMP CODE"></ngx-datatable-column>
                                            <ngx-datatable-column prop="fullname" name="FULLNAME"></ngx-datatable-column>
                                            <ngx-datatable-column prop="enrolDate" name="ENROL Date"></ngx-datatable-column>
                                        </ngx-datatable>
                                        <span></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="centerAlign text-center mb-4">
                            <a href="assets/images/bulkenrolfinal.xlsx" *ngIf="!enableUpload" download>
                                <button class="constantbtn-button-blue-left"><i class="fas fa-download"></i>Template</button></a>
                            <button type="button" class="constantbtn-button-blue-right" *ngIf="!preview && enableUpload" (click)="uploadfile()">Upload</button>
                            <button type="button" class="constantbtn-button-blue-right" *ngIf="!preview && enableUpload" (click)="cancel()">Cancel</button>
                            <!-- <div class="cancelFile ">
                          <input type="button" class="btn btn-secondary fp-btn-choose cancelBut" id="filepicker-button" value="Cancel" name="userfilechoose" (click)="cancel()">
                        </div>  -->
                            <button type="button" *ngIf="preview" class="constantbtn-button-blue-right" (click)="savebukupload()">Save</button>
                            <!-- <button type="button" class="constantbtn-button-blue-right" (click)="clearPreviewData()">Cancel</button> -->
                            <button class="constantbtn-button-blue-right" *ngIf="showInvalidExcel" (click)="exportToExcelInvalid()"><i class="fas fa-download"></i>
                Enrollment Status
              </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>