.add_edit_partner{
    .content_width{
      width: 95%;
      margin: 0 auto;
    }
    .top_header_container{
      background: #fff;
      position: sticky;
      top: 4.75rem;
      z-index: 1020;
      .top_header_div_sticky{
          background: #fff;
          display: grid;
          grid-template-columns: auto auto; 
          height: 50px;
          align-items: center;
          .page_title{
              text-align: left;
              h4{
                  margin: 0;
              }
          }
          // .filter_div{
          //     // display: grid;
          //     // grid-template-columns: 1fr 1fr;
          //     // grid-column-gap: 10px;
          //     align-items: center;
          //     .drop_down{
          //         border: 1px solid $border_color;
          //         .drop_down_select{
          //             height: 30px;
          //             border: none;
          //             box-shadow: none;
          //         }
          //     }
  
          //     .search_div{
          //         display: grid;
          //         grid-template-columns: auto 20px;
          //         border: 1px solid $border_color;
          //         .search_field{
          //             height: 30px;
          //             border: none !important;
          //             box-shadow: none;
          //         }
          //         .remove_icon{
          //             line-height: 30px;
          //         }
          //     }
          }
          
          .buttons_div{
              text-align: right;
          }
      }
    .bottom15{
      margin-bottom: 15px;
    }

    .teamSubdiv2 {
      float: left;
    }

    .floatingbtn{
      margin: auto;
      padding: 0;
      text-align: right;
    }

    .heding1{
      line-height: 50px;
      margin: auto;
    }

    .formDiv{
      width: auto;
      margin: 15px;
      background: #fff;
      padding: 15px;
    }

    
  .mr20{
    margin-left: 20px;
  }
    
  .calenderIcon{
      font-size: 21px;
    }
    
    .calenderBtnDiv{
      padding: 24.5px 0px 0px 15px;
    }
    
    .openDatepicker{
      // color: #ffffff;
      // text-transform: uppercase;
      // letter-spacing: 0.4px;
      // font-weight: 500;
      // font-family: Poppins;
      // border: 2px solid transparent;
      // -webkit-transition: none;
      // transition: none;
      // cursor: default;
      // padding: 0.75rem 1.5rem;
      // font-size: 1rem;
      // line-height: 1.25;
      // border-radius: 0.75rem;
      color: #ffffff;
      text-transform: uppercase;
      letter-spacing: 0.4px;
      font-weight: 500;
      font-family: Poppins;
      border: 2px solid transparent;
      -webkit-transition: none;
      transition: none;
      cursor: default;
      // padding: 0.5rem 1.5rem;
      padding: 0.16rem 0.5rem;
      background: #076ba1;
    }
    
    .openDatepicker:focus{
      outline:  none; 
    }
    
    .datePickerInput:focus {
      border: 1px solid #dadfe6;
      background-color: #ffffff;
    }

    .form-control{
      -webkit-box-shadow: none ;
      box-shadow: none ;
      border: 1px solid #dadfe6;
    }

    .datePickerInput{
      width: 94%;
    }
    
    .labelName{
      font-weight: 100 ;
      color: #666666;
    }

    .ngx-datatable.fixed-header .datatable-header .datatable-header-inner .datatable-header-cell {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: center;
    }
    
    .ngx-datatable.material .datatable-body .datatable-body-row{
      border-bottom: 1px solid #e0e0e0;
    }
    
    .ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell {
      text-align: center;
    }

    .mar20{
        margin-right: 20px;
    }

    .plusIcon{
      margin-right: 8px;
    }

    .form123{
      width: auto;
      margin: 15px;
      margin-top: 65px;
      background: #fff;
      padding: 30px 20px;
      font-family: "poppins";
    }

    .mainDiv{
      padding: 10px;
      margin: 15px;
      background: #fff;
      margin-top: 65px;
      color: #000;
    }
    
    .skillCheckDiv{
          display: -webkit-box;
    }
    .skillLabel{
        margin-left: 10px;
        font-weight: 400;
        margin-bottom: -1px;
    }
    .AssessText{
            display: block;
        /* margin-left: auto; */
        /* margin-right: auto; */
        /* width: 180%; */
        /* margin-bottom: -6px; */
        margin: 0 auto;
        border-radius: 5px;
        height: 30px;
        width:100%
    }
    .AssessTable{
      margin-top:1rem;
    }
    .AssessSubmit{
      float:right;
      background-color: #076ba1 ;
      cursor: pointer ;
      border-radius:2px ;
    }
    
    .topDiv{
      background-color:white;
      display: flow-root;
    }
    
    
    
    /* data-table */
    .add {
      border: none;
        height: 34px;
        width: 150px;
        /* margin-bottom: 1em; */
        background-color: #076ba1;
        color: #fff;
        background-color: #076ba1 ;
        border-radius: 2px;
        float: right;
        margin-top: 8px;
        margin-right: 13px;
    }
    
    .myForm{
      width: 100%;
    }

    .displaynext{
      display: block;
    }
    
    .dropHeight {
      height: 35px ;
    }

    .form-control{
      box-shadow: none ;
    }

    .inputFields{
      margin: 10px 0;
    }
}

