<!-- <div class="toprow col-md-12 bottom15 sticky-top">
    <div class="col-md-9 teamSubdiv2" >
      <h3 class="heding1" *ngIf="addPartner">Add Partner</h3>
      <h3 class="heding1" *ngIf="!addPartner">Edit Partner</h3>

    </div>
    <div class="col-md-3 text-right" style="margin-top:7px">    
      <button class="constantbtn-button-blue-left" (click)="onSubmit(member)"> Save</button>         
      <button class="constantbtn-button-blue-right" (click)="gotoBack()">Back</button> 
    </div>
</div> -->
<div class="add_edit_partner">
        <div class="top_header_container">
                <div class="top_header_div_sticky content_width">
                  <div class="page_title">
                    <h4 *ngIf="addPartner">Add Partner</h4>
                    <h4 *ngIf="!addPartner">Edit Partner</h4>
        
                  </div>
          
                  <div class="buttons_div">
                        <button class="constantbtn-button-blue-left" (click)="onSubmit(member)"> Save</button>         
                        <button class="back_button" (click)="gotoBack()">Back</button> 
                  </div>
                </div>
        </div> 
        <form [formGroup]="registerForm" class="form123">
                <div class="row inputFields">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="labelName">NAME</label>
                            <input type="text" formControlName="name" [(ngModel)]="member.name" class="form-control inputField" [ngClass]="{ 'is-invalid': submitted && f.name.errors }"/>
                            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                <div *ngIf="f.name.errors.required">Name is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="labelName">DATE OF BIRTH</label>
                            <div style="display: -webkit-box;">
                                <input type="text" formControlName="dob" class="form-control datePickerInput"  placeholder="Select a date"  [ngClass]="{ 'is-invalid': submitted && f.dob.errors }" 
                                  #db="bsDatepicker" bsDatepicker  [bsConfig]="{ containerClass: 'theme-dark-blue' }" placement="bottom center" [(ngModel)]="member.dob" name="dob"  dateFormat="dd.mm.yyyy">
                                <span> 
                                  <button class="openDatepicker"  (click)="db.toggle()">
                                      <i class="ion-calendar calenderIcon" ></i>
                                  </button> 
                                </span>
                                <div *ngIf="submitted && f.dob.errors" class="invalid-feedback displaynext">
                                      <div *ngIf="f.dob.errors.required">Date of birth is required</div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="row inputFields">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="labelName">DESIGNATION</label>
                            <input type="text" formControlName="designation" [(ngModel)]="member.designation" class="form-control inputField" [ngClass]="{ 'is-invalid': submitted && f.designation.errors }" />
                            <div *ngIf="submitted && f.designation.errors" class="invalid-feedback">
                                <div *ngIf="f.designation.errors.required">Designation is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="labelName">QUALIFICATION</label>
                            <input type="text" formControlName="qualification" [(ngModel)]="member.qualification" class="form-control inputField" [ngClass]="{ 'is-invalid': submitted && f.qualification.errors }"/>
                            <div *ngIf="submitted && f.qualification.errors" class="invalid-feedback">
                                <div *ngIf="f.qualification.errors.required">Qualifiaction is required</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row inputFields">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="labelName">DATE OF JOINING</label>
                            <div style="display: -webkit-box;">
                                <input type="text" formControlName="dob" class="form-control datePickerInput"  placeholder="Select a date"  [ngClass]="{ 'is-invalid': submitted && f.dob.errors }" 
                                #db="bsDatepicker" bsDatepicker  [bsConfig]="{ containerClass: 'theme-dark-blue' }" placement="bottom center" [(ngModel)]="member.dob" name="dob"  dateFormat="dd.mm.yyyy">
                                <span> 
                                  <button class="openDatepicker"  (click)="db.toggle()">
                                     <i class="ion-calendar calenderIcon" ></i>
                                  </button> 
                                </span>
                                <div *ngIf="submitted && f.dob.errors" class="invalid-feedback displaynext">
                                      <div *ngIf="f.dob.errors.required">Date of birth is required</div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                  
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="labelName">MOBILE</label>
                            <input type="number" formControlName="mobile" [(ngModel)]="member.mobile" class="form-control inputField" [ngClass]="{ 'is-invalid': submitted && f.mobile.errors }"/>
                            <div *ngIf="submitted && f.mobile.errors" class="invalid-feedback">
                                <div *ngIf="f.mobile.errors.required">Mobile number is required</div>
                                <div *ngIf="f.mobile.errors.minLength">Mobile number should be 10 digits.</div>
                                <div *ngIf="f.mobile.errors.maxLength">Mobile number should be 10 digits.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row inputFields">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="labelName">E-MAIL</label>
                            <input type="text" formControlName="email" [(ngModel)]="member.email" class="form-control inputField" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"/>
                            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                <div *ngIf="f.email.errors.required">E-mail is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="labelName">COST</label>
                            <input type="text" formControlName="cost" [(ngModel)]="member.cost" class="form-control inputField" [ngClass]="{ 'is-invalid': submitted && f.cost.errors }"/>
                            <div *ngIf="submitted && f.cost.errors" class="invalid-feedback">
                                <div *ngIf="f.cost.errors.required">Cost is required</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row inputFields">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="labelName">EMPLOYEE ROLE</label>
                            <select formControlName="role" [(ngModel)]="member.role" class="form-control select_field_height" [ngClass]="{ 'is-invalid': submitted && f.role.errors }" >
                                <option [value]="role" *ngFor="let role of roles">{{role}}</option>
                                  </select>
                                                    <div *ngIf="submitted && f.role.errors" class="invalid-feedback">
                                                        <div *ngIf="f.role.errors.required">Role is required</div>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="labelName">EMPLOYEE STATUS</label>
                                                    <select formControlName="status"[(ngModel)]="member.status"  class="form-control select_field_height" [ngClass]="{ 'is-invalid': submitted && f.status.errors }" >
                                      <option [value]="stat" *ngFor="let stat of statuss">{{stat}}</option>
                                  </select>
                            <div *ngIf="submitted && f.status.errors" class="invalid-feedback">
                                <div *ngIf="f.status.errors.required">Status is required</div>
                            </div>
                        </div>
                    </div>
                </div>      
         </form>
</div>
 
  