.survey_engage {
    // .container {
    //     margin: 0;
    //     padding: 0 25px;
    // }
    .searchInput {
        border: none;
        border-bottom: 1px solid #ccc;
        background: transparent;
        box-shadow: none;
        border-radius: 0;
    }
    .searchRemove {
        position: absolute;
        // top: 14px;
        // right: 15px;
        // padding:0px;
        cursor: pointer;
        top: 0px;
        right: 4rem;
    }
    .ngx-datatable.material .datatable-body .datatable-body-row {
        border-bottom: 1px solid #ccc;
    }
    .modal-header {
        background-color: #076ba1;
        height: 55px;
        color: #fff;
    }
    .modal-footer {
        height: 55px;
    }
    // .required_msg_text{
    //   .form-text{
    //     color: #ed462f ;
    //   }
    // }
    .modal-body .row {
        margin: 20px 0;
    }
    .modal-body {
        position: relative;
        padding: 1.25rem;
        ;
        // display: flex;
        display: block;
        box-sizing: border-box;
    }
    .dropHeight {
        //height:50% ;
    }
    .searchBar input[type="text"] {
        margin-bottom: 15px;
        width: 100%;
        padding: 10px;
    }
    .text-notification-text {
        margin: 0px 0 10px 0px;
        .edit-notification-grid {
            display: grid;
            // display: flex;
            grid-template-columns: 2fr 4fr;
            width: 100%;
            align-items: center;
            // .preview-button{
            //   text-align: right;
            // }
        }
        .content-boxes {
            margin: 10px 0;
            .engage-content-area,
            .ql-snow {
                height: 100px;
            }
        }
    }
    .courseEngageBtn {
        border-radius: 0;
        background: #076ba1;
        color: #fff;
        border: #076ba1;
        height: 29px;
        -webkit-transform: none;
        transform: none;
    }
    // .addSelfBackdrop2{
    //    position: fixed;
    //      width: 100%;
    //      height: 100%;
    //      top: 67px;
    //      padding: 0;
    //      background-color: #404040c2;
    //      z-index: 2000;
    //      box-sizing: border-box;
    //  }
    //  .addSelfDemoModal2{
    //    margin: auto ;
    //    width:50%;
    //    background-color: #fff;
    //    border-radius: 5px;
    //    margin-top: 2%;
    //  }
    .addSelfBackdropSurvNoti {
        // position: absolute;
        // width: 100%;
        // height: 100%;
        // top: 67px;
        // background-color: #404040c2;
        // z-index: 2000;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        z-index: 1503;
        background-color: #404040c2;
        .addSelfDemoModal2 {
            /*width: 80%;*/
            // width: 50%;
            // margin: auto;
            // background-color: #fff;
            // margin-top: 50px;
            // border-radius: 5px;
            width: 60%;
            margin: auto;
            background-color: #fff;
            margin-top: 65px;
            border-radius: 5px;
        }
    }
    .sqrCheckBoxengage .sqrCheckBoxengageLabel {
        border: 1px solid #ccc;
        border-radius: none;
        cursor: pointer;
        height: 16px;
        left: -14px;
        position: -webkit-sticky;
        position: relative;
        width: 16px;
        top: 10px;
        margin-right: -10px;
    }
    .sqrCheckBoxengage .sqrCheckBoxengageLabel:after {
        // border: 2px solid #fff;
        border: 2px solid #076ba1;
        border-top: none;
        border-right: none;
        content: "";
        height: 4px;
        left: 1.5px;
        opacity: 0;
        position: absolute;
        top: 4.0px;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        width: 12px;
    }
    .sqrCheckBoxengage input[type="checkbox"] {
        visibility: hidden;
    }
    .sqrCheckBoxengage input[type="checkbox"]:checked+.sqrCheckBoxengageLabel {
        background-color: #ffffff;
        border-color: #076ba1;
    }
    .sqrCheckBoxengage input[type="checkbox"]:checked+.sqrCheckBoxengageLabel:after {
        opacity: 1;
    }
    .backaddcou {
        background: #ffffff;
    }
    .calenderIcon {
        font-size: 21px;
    }
    .calenderBtnDiv {
        padding: 24.5px 0px 0px 15px;
    }
    .openDatepicker {
        // color: #ffffff;
        // text-transform: uppercase;
        // letter-spacing: 0.4px;
        // font-weight: 500;
        // font-family: Poppins;
        // border: 2px solid transparent;
        // -webkit-transition: none;
        // transition: none;
        // cursor: default;
        // padding: 0.75rem 1.5rem;
        // font-size: 1rem;
        // line-height: 1.25;
        // border-radius: 0.75rem;
        color: #ffffff;
        text-transform: uppercase;
        letter-spacing: 0.4px;
        font-weight: 500;
        font-family: Poppins;
        border: 2px solid transparent;
        -webkit-transition: none;
        transition: none;
        cursor: default;
        // padding: 0.5rem 1.5rem;
        padding: 0.16rem 0.5rem;
        background: #076ba1;
    }
    .openDatepicker:focus {
        outline: none;
    }
    .datePickerInput:focus {
        border: 1px solid #dadfe6;
        background-color: #ffffff;
    }
    .daysInputNo input[type=number]::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
    .enterDaysDiv {
        display: flex;
    }
    .enterDaysDiv label {
        padding-top: 8px;
        width: 25%;
    }
    #enterDays {
        width: 75%;
    }
    .savebtn {
        background-color: #076ba1;
        border: none;
        padding: 8px;
        color: #fff;
    }
    .mardis {
        padding: 5px;
    }
    /* The container */
    .container1 {
        display: block;
        position: relative;
        // padding-left: 35px;
        padding-left: 25px;
        margin-top: 12px;
        // margin-top: 12px !important;
        cursor: pointer;
        font-size: 14px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        font-weight: 100;
        //color: #2196F3;
        color: black;
        font-weight: 660;
    }
    /* Hide the browser's default checkbox */
    .container1 input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }
    /* Create a custom checkbox */
    .checkmark1 {
        position: absolute;
        top: 0;
        left: 0;
        height: 18px;
        width: 18px;
        border: 1px solid #45a8de;
    }
    /* On mouse-over, add a grey background color */
    .container1:hover input~.checkmark1 {
        background-color: #eee;
    }
    /* When the checkbox is checked, add a blue background */
    .container1 input:checked~.checkmark1 {
        // background-color: #2196F3;
    }
    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark1:after {
        content: "";
        position: absolute;
        display: none;
    }
    /* Show the checkmark when checked */
    .container1 input:checked~.checkmark1:after {
        display: block;
    }
    /* Style the checkmark/indicator */
    .container1 .checkmark1:after {
        left: 6px;
        top: 1px;
        width: 6px;
        height: 12px;
        border: 1px solid #45a8de;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    .searchBar input[type="text"] {
        margin-bottom: 15px;
        width: 100%;
        padding: 10px;
    }
    .reqField {
        display: inline;
        color: #ed462f;
    }
    .addSelfDemoModalEngage {
        margin: auto;
        width: 50%;
        background-color: #fff;
        border-radius: 5px;
        margin-top: 2%;
        z-index: 9999;
    }
    .over {
        height: 365px;
        overflow-y: scroll;
    }
    .OuterDiv {
        padding: 20px;
        width: 100%;
    }
    .InnerDiv {
        padding-bottom: 10px;
        p {
            color: black;
        }
    }
}

.caps {
    text-transform: capitalize;
}

.margleft {
    margin-left: 8px;
    width: 100%;
}

hr {
    margin: 7px 0px;
}

.textar {
    height: 100px !important;
}

.flexsh {
    flex-shrink: 0;
}