<div class="survey_engage">
    <div class="">
        <!-- <div class="col-sm-12 text-right" style="padding: 0;">
            <button type="button" class="constantbtn-button-blue-left" (click)="addNotification()">Add
  Notification</button>
        </div> -->
        <div class=" " *ngIf="!nodata">

            <!-- <input type="text" class="col-md-12 searchInput" (keyup)='searchnotification($event)' [(ngModel)]="searchvalue.value" placeholder="Search">
            <i class="fa fa-remove searchRemove" (click)="clearesearch()"></i> -->
            <div class="">
                <ngx-enrol-table [pagination]="true" [label]="notificationLabel" [addPointer]="true" (clickOnicon)="onSelect($event)" (clickOnbutton)="visibilityTableRow($event)" [tableData]="rows"></ngx-enrol-table>
                <!-- <p *ngIf="shownoData" style="text-align : center">No search match</p> -->
            </div>
        </div>
        <ngx-no-data *ngIf="nodata" [config]="noDataVal"></ngx-no-data>
        <ngx-sidebar-form *ngIf="addEngagePopup" [sidebarTitle]="notiTitle" [buttonName]="btnName" (saveBtn)="submitSurveyNotification(SurveyNotification, notiForm)" [saveDisabled]="!notiForm.valid" (outside)="closeEngageModal()" (closeBtn)="closeEngageModal()">

            <!-- <div class="addSelfBackdropSurvNoti" *ngIf="addEngagePopup == true">
            <div class="addSelfDemoModal2">
                <div class="modal-header">
                    <p *ngIf="addFlag">Add Notifications</p>
                    <p *ngIf="!addFlag">Edit Notifications</p>
                    <button class="close " aria-label="Close" (click)="closeEngageModal()">
          <span aria-hidden="true">&times;</span>
        </button>
                </div> -->
            <ngx-sidemenu-drower *ngIf="init">
                <div>
                    <ngx-drag-chips-component [inputTags]="tagsArray" [vertical]="true"></ngx-drag-chips-component>
                </div>
            </ngx-sidemenu-drower>

            <div class="">
                <!-- <ngx-drag-chips-component [inputTags]="tagsArray" *ngIf="init"></ngx-drag-chips-component> -->
                <form #notiForm="ngForm">
                    <div class="row m-0">
                        <div class="form-group col-md-12">
                            <label class="side-form-label">{{helpContent?.add_edit_survey?.notification_name?.label}}<sup>&#x2731;</sup>
                                <app-info-tooltip [description]="helpContent?.add_edit_survey?.notification_name?.labelHelpContent">
                                </app-info-tooltip>
                              </label>
                            <!-- <label class="">
                {{helpContent?.add_edit_survey?.notification_name.label}}
                <sup class="reqFieldActivity">*</sup>
                <div class="help-tooltip">
                  <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                  <div class="help-tooltip-position-bottom">
                    <p>
                      {{helpContent?.add_edit_survey?.notification_name?.labelHelpContent}}
                    </p>
                    <i></i>
                  </div>
                </div>
              </label> -->

                            <!-- <label class="left_space">Name<h3 class="reqFieldActivity">*</h3></label> -->
                            <input type="text" class="form-control commonInput" [(ngModel)]="SurveyNotification.name" placeholder="Maximum 50 characters" name="name" #name="ngModel" minlength="2" maxlength="50" required />

                            <div *ngIf="name.errors && (name.dirty || name.touched)">
                                <small class="invalid-msg" [hidden]="!name.errors.required">Name is required.</small>
                                <small class="invalid-msg" [hidden]="!name.errors.minlength">Minimum 2 characters required</small>
                            </div>
                        </div>

                        <div class="form-group col-md-12">
                            <label class="side-form-label">{{helpContent?.add_edit_survey?.notification_desc?.label}}
                              <!-- <sup>&#x2731;</sup> -->
                                <app-info-tooltip [description]="helpContent?.add_edit_survey?.notification_desc?.labelHelpContent">
                                </app-info-tooltip>
                              </label>
                            <!-- <label class="">
                {{helpContent?.add_edit_survey?.notification_desc.label}}
                <sup class="reqFieldActivity">*</sup>
                <div class="help-tooltip">
                  <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                  <div class="help-tooltip-position-right">
                    <p>
                      {{helpContent?.add_edit_survey?.notification_desc?.labelHelpContent}}
                    </p>
                    <i></i>
                  </div>
                </div>
              </label> -->

                            <!-- <label class="left_space">Description<h3 class="reqFieldActivity">*</h3></label> -->
                            <textarea type="text" class="form-control textar commonTextarea" [(ngModel)]="SurveyNotification.desc" placeholder="Min 20 and max 500 characters" name="desc" #desc="ngModel" minlength="20" maxlength="500"></textarea>

                            <div *ngIf="desc.errors && (desc.dirty || desc.touched)">
                                <!-- <small class="invalid-msg" [hidden]="!desc.errors.required">Description is required.</small> -->
                                <small class="invalid-msg" [hidden]="!desc.errors.minlength">Minimum 20 characters required</small>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label for="visibility" class="side-form-label">{{helpContent?.add_edit_survey?.notification_Visible.label}}<sup>&#x2731;</sup>
                    <app-info-tooltip  [description]="helpContent?.add_edit_survey?.notification_Visible.labelHelpContent"></app-info-tooltip>
          
                  </label>
                            <select [(ngModel)]="SurveyNotification.visible" [ngModelOptions]="{standalone: true}" class="commonSelect custom-select" required>
                    <option value="" selected disabled>Select Visible</option>
                    <option *ngFor="let item of visibleDropDownData" [value]=item.id>{{item.name}}</option>
                  </select>
                        </div>
                    </div>

                    <div class="row m-0">
                        <div class="form-group col-md-12">
                            <div>
                                <div>
                                    <label class="side-form-label">{{helpContent?.add_edit_survey?.notification_Event?.label}}<sup>&#x2731;</sup>
                                        <app-info-tooltip [description]="helpContent?.add_edit_survey?.notification_Event?.labelHelpContent">
                                        </app-info-tooltip>
                                      </label>
                                    <!-- <label class="">
                    {{helpContent?.add_edit_survey?.notification_Event.label}}
                    <sup class="reqFieldActivity">*</sup>
                    <div class="help-tooltip">
                      <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                      <div class="help-tooltip-position-right">
                        <p>
                          {{helpContent?.add_edit_survey?.notification_Event?.labelHelpContent}}
                        </p>
                        <i></i>
                      </div>
                    </div>
                  </label> -->

                                    <!-- <label class="left_space">Event
                    <h3 class="reqFieldActivity">*</h3>
                  </label> -->
                                    <select class="custom-select commonSelect" name="dropdown2" [(ngModel)]="SurveyNotification.event" name="event" (change)="onChange2(SurveyNotification.event)" #evnt="ngModel" style="height:34px !important;" required>
                    <option value="" selected="selected">Select Events</option>
                    <option class="caps" *ngFor="let temp of eventsDrop" value="{{temp.notEventId}}">{{temp.notEvent}}
                    </option>
                  </select>
                                    <div class="required_msg_text" *ngIf="evnt.errors && (evnt.dirty || evnt.touched)">
                                        <small class="invalid-msg" [hidden]="!evnt.errors.required">Event is required.</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="form-group col-md-12 " [hidden]="SurveyNotification.event == ''">
                            <div class="text-notification-text" *ngIf="notiData[0].flag==true">
                                <div class="edit-notification-grid">
                                    <div class="flexsh">
                                        <label class="container1">
                                              <label class="side-form-label">{{helpContent?.add_edit_survey?.text_Sms?.label}}
                                                <app-info-tooltip  [description]="helpContent?.add_edit_survey?.text_Sms?.labelHelpContent"></app-info-tooltip>
                                                </label>
                                        <!-- <span class="">
                        {{helpContent?.add_edit_survey?.text_Sms.label}}
                        <div class="help-tooltip">
                          <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                          <div class="help-tooltip-position-right">
                            <p>
                              {{helpContent?.add_edit_survey?.text_Sms?.labelHelpContent}}
                            </p>
                            <i></i>
                          </div>
                        </div>
                      </span> -->
                                        <!-- Text Sms -->
                                        <input type="checkbox" id="lnmsg" name="lnmsg" value="true" [(ngModel)]="SurveyNotification.lnmsg" (ngModelChange)="smsValidCheck($event)" />
                                        <span class="checkmark1"></span>
                                        </label>
                                    </div>
                                    <div *ngIf="SurveyNotification.lnmsg == true" class="margleft">
                                        <select [(ngModel)]="SurveyNotification.lnmsgtemp" id="exampleInputAccRole3" class="custom-select commonSelect" name="lnmsgtemp" (change)="onChangeDropDownSms($event)">
                      <option value="" selected="selected" disabled>{{notiData[0].selectplace}}</option>
                      <option class="caps" *ngFor="let temp of templatesms" value="{{temp.id}}">{{temp.name}}
                      </option>
                    </select>
                                    </div>
                                    <!-- <div class="preview-button"
                    *ngIf="SurveyNotification.reviewTextSms == true && SurveyNotification.lnmsg == true">
                    <button class="constantbtn-button-blue-left"
                      (click)="getTempData(1,SurveyNotification.lnmsgtemp)">Preview</button>
                  </div> -->
                                </div>
                                <div class="content-boxes" [hidden]="!(SurveyNotification.reviewTextSms == true && SurveyNotification.lnmsg == true)">
                                    <label class="space_left side-form-label">{{notiData[0].Edittemp}}</label>
                                    <textarea type="text" class="form-control engage-content-area dropped_content textar commonTextarea" placeholder="{{notiData[0].Edittemp}}" name="Edit-Template-Sms" #content="ngModel" [(ngModel)]="SurveyNotification.editSmsTemplateData" [required]="SurveyNotification.lnmsg"
                                        [minlength]="smsMinText" [maxlength]="smsMaxText"></textarea>
                                    <div class="text-right mt-2 mb-2 side-form-label">Character count: {{SurveyNotification?.editSmsTemplateData?.length}} / 140</div>
                                    <div *ngIf="content.invalid && content.touched ||content.dirty">
                                        <div class="invalid-msg" [hidden]="!content.hasError('required')">Template is required</div>
                                        <div class="invalid-msg" [hidden]="!content.hasError('minlength')">Minimum 20 required.</div>
                                        <div class="invalid-msg" [hidden]="!content.hasError('maxlength')">Enter Maximum 140 characters only.</div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="text-notification-text" *ngIf="notiData[1].flag==true">
                                <div class="edit-notification-grid">
                                    <div class="flexsh">
                                        <label class="container1">
                                              <label class="side-form-label">{{helpContent?.add_edit_survey?.app_noti?.label}}
                                                <app-info-tooltip  [description]="helpContent?.add_edit_survey?.app_noti?.labelHelpContent"></app-info-tooltip>
                                                </label>
                                        <!-- <span class="">
                        {{helpContent?.add_edit_survey?.app_noti.label}}
                        <div class="help-tooltip">
                          <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                          <div class="help-tooltip-position-right">
                            <p>
                              {{helpContent?.add_edit_survey?.app_noti?.labelHelpContent}}
                            </p>
                            <i></i>
                          </div>
                        </div>
                      </span> -->
                                        <!-- App Notification -->
                                        <input type="checkbox" id="lnnot" name="lnnot" value="true" [(ngModel)]="SurveyNotification.lnnot" />
                                        <span class="checkmark1"></span>
                                        </label>
                                    </div>
                                    <div *ngIf="SurveyNotification.lnnot == true" class="margleft">
                                        <select [(ngModel)]="SurveyNotification.lnnottemp" id="exampleInputAccRole2" class="custom-select commonSelect" name="lnnottemp" (change)="onChangeDropDownNot($event)">
                      <option value="" selected="selected" disabled>{{notiData[1].selectplace}}</option>
                      <option *ngFor="let temp of templatenot" value="{{temp.id}}">{{temp.name}}
                      </option>
                    </select>
                                    </div>
                                    <!-- <div class="preview-button"
                    *ngIf="SurveyNotification.reviewTextNot == true && SurveyNotification.lnnot == true">
                    <button class="constantbtn-button-blue-left"
                      (click)="getTempData(3,SurveyNotification.lnnottemp)">Preview</button>
                  </div> -->
                                </div>
                                <div class="content-boxes" [hidden]="!(SurveyNotification.reviewTextNot == true && SurveyNotification.lnnot == true)">
                                    <label class="space_left side-form-label">{{notiData[1].Edittemp}}</label>
                                    <textarea type="text" class="form-control engage-content-area dropped_content textar commonTextarea" #noti="ngModel" maxlength="140" minlength="2" placeholder="{{notiData[1].Edittemp}}" name="Edit-Template-Not" [(ngModel)]="SurveyNotification.editNotTemplateData"
                                        [required]="SurveyNotification.lnnot"></textarea>
                                    <div *ngIf="noti.invalid && noti.touched||noti.dirty">
                                        <small class="invalid-msg" *ngIf="noti.hasError('required')">Template is required.</small>
                                        <small class="invalid-msg" *ngIf="noti.hasError('minlength')">Minimum 2 characters required.</small>
                                        <small class="invalid-msg" *ngIf="noti.hasError('maxlength')">Enter Maximum 140 characters only.</small>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="text-notification-text" *ngIf="notiData[2].flag==true">
                                <div class="edit-notification-grid">
                                    <div class="flexsh">
                                        <label class="container1">
                                              <label class="side-form-label">{{helpContent?.add_edit_survey?.email?.label}}
                                                <app-info-tooltip  [description]="helpContent?.add_edit_survey?.email?.labelHelpContent"></app-info-tooltip>
                                                </label>
                                        <!-- <span class="">
                        {{helpContent?.add_edit_survey?.email.label}}
                        <div class="help-tooltip">
                          <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                          <div class="help-tooltip-position-right">
                            <p>
                              {{helpContent?.add_edit_survey?.email?.labelHelpContent}}
                            </p>
                            <i></i>
                          </div>
                        </div>
                      </span> -->
                                        <!-- Email -->
                                        <input type="checkbox" id="lnemail" name="lnemail" value="true" [(ngModel)]="SurveyNotification.lnemail" />
                                        <span class="checkmark1"></span>
                                        </label>
                                    </div>
                                    <div *ngIf="SurveyNotification.lnemail == true" class="margleft">
                                        <select [(ngModel)]="SurveyNotification.lnemailTemp" id="exampleInputAccRole1" class="custom-select commonSelect" name="lnemailTemp" (change)="onChangeDropDownEmail($event)">
                      <option value="" selected="selected" disabled>{{notiData[2].selectplace}}</option>
                      <option class="caps" *ngFor="let temp of templateemail" value="{{temp.id}}">
                        {{temp.name}}</option>
                    </select>
                                    </div>
                                    <!-- <div class="preview-button"
                    *ngIf="SurveyNotification.lnemail == true && SurveyNotification.reviewTextEmail == true">
                    <button class="constantbtn-button-blue-left"
                      (click)="getTempData(2,SurveyNotification.lnemailTemp)">Preview</button>
                  </div> -->
                                </div>
                                <div class="content-boxes" [hidden]="!(SurveyNotification.lnemail == true && SurveyNotification.reviewTextEmail == true)">
                                    <label class="space_left side-form-label">{{notiData[2].Edittemp}}</label>
                                    <input type="text" class="form-control form-control-input inputText commonInput" [(ngModel)]="SurveyNotification.emailSubjectData" placeholder="Maximum 50 characters" name="emailSubjectData" minlength="2" maxlength="200" />
                                    <!-- <textarea type="text" class="form-control engage-" placeholder="Edit Template"
                  name="Edit-Template-Email" [(ngModel)]="SurveyNotification.editEmailTemplateData"
                  required></textarea> -->

                                    <!-- <quill-editor id="cCont" [(ngModel)]="SurveyNotification.editEmailTemplateData"
                    name="Edit-Template-Email" [ngModelOptions]="{standalone: true}" [options]="editorOptions"
                    pattern=".{20,500}" required ngDefaultControl></quill-editor> -->
                                </div>
                                <div class="content-boxes" [hidden]="!(SurveyNotification.lnemail == true && SurveyNotification.reviewTextEmail == true)">
                                    <label class="space_left side-form-label">{{notiData[2].Editbody}}</label>
                                    <jodit-editor [config]="config" class="dropped_content commonInput" id="Edit-Template-Email" [ngModelOptions]="{standalone: true}" #appnoti="ngModel" [(ngModel)]="SurveyNotification.editEmailTemplateData" [required]="SurveyNotification.lnemail" ngDefaultControl>
                                    </jodit-editor>
                                    <div *ngIf="appnoti.invalid && appnoti.touched||appnoti.dirty">
                                        <small class="invalid-msg" *ngIf="appnoti.hasError('required')">Email body is required.</small>
                                    </div>
                                </div>
                            </div>
                            <div class="alert alert-danger">
                                Note:- Please select at least one option.
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <!-- <div class="modal-footer">
                    <button type="button" class="constantbtn-button-blue-left" (click)="submitSurveyNotification(SurveyNotification, notiForm)">
          Save
        </button>
                </div>
            </div>
        </div> -->
        </ngx-sidebar-form>
        <div class="deleteModalBackdrop" *ngIf="warningModal == true">
            <div class="deleteModal">
                <div class="modal-header deleteModalHeader">
                    <p class="enableDisableModalHeaderP">Warning</p>
                    <button class="close closeDeleteModalBtn" aria-label="Close" (click)="closeWarningModal()">
          <span aria-hidden="true">&times;</span>
        </button>
                </div>

                <div class="modal-body">
                    <div>
                        <p class="enableDisableModalBodyP">
                            Event already present in event list .
                        </p>
                    </div>
                </div>

                <div class="modal-footer deleteModalFooter">
                    <div class=" text-right">
                        <button type="button" class="constantbtn-button-blue-left" (click)="closeWarningModal()">
            OK
          </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="deleteModalBackdrop" *ngIf="notDetailsModal">
            <div class="addSelfDemoModalEngage">
                <div class="modal-header">
                    <span>Template Description</span>
                </div>
                <div class="modal-body">
                    <div class="OuterDiv">
                        <div class="InnerDiv">
                            <lable>Template</lable>
                            <p [innerHtml]="templateData.template"></p>
                        </div>
                    </div>
                </div>

                <div class="modal-footer text-right">
                    <button class="constantbtn-button-blue-left" (click)="closeNotDetailModal()">
          OK
        </button>
                </div>
            </div>
        </div>
    </div>