<!-- <div class="search_div1">
    <input class="form-control search_field ng-untouched ng-pristine ng-valid" name="namw" [(ngModel)]="searchtext" (keyup)="SarchFilter($event, searchtext)" placeholder="{{placeholder}}" type="text">
    <i aria-hidden="true" class="fa fa-remove remove_icon" (click)="clear()"></i>
</div>
<div class="backaddcou  buttons-div" style="background: #fff;">

    <div class="text-right inside-button-div">
        <button type="submit" class="back_button" (click)="back()">Back</button>
    </div>
</div> -->

<app-subheader [headerConfig]="header" (inputsearch)="SarchFiltertest($event, null)" (Clear)="clear()" (backClick)="back()"></app-subheader>


<div>



    <nb-tabset class="custom_tabset courseTabset" (changeTab)="onChangeTab($event)">
        <nb-tab tabTitle="Schedule" [active]="scheduleTab" class="courseDetailsTab">
            <div>
                <div class="tableCompo" *ngIf='!nodata'>
                    <ngx-enrol-table [addPointer]="true" [noLinkAvailableText]="noLinkAvailableText" [label]="labelsSchedule" [tableData]="displayTableData" (clickOntext)="editScheduleModel($event)" (clickOnicon)="editScheduleModel($event)" (clickOnbutton)="visibilityTableRow($event)"></ngx-enrol-table>
                </div>
                <!--
                       <table class="table table-bordered">
                            <thead>
                                <th *ngFor="let item of headerRow">
                                    <span *ngIf="item === 'id'">Sr. No</span>
                                    <span *ngIf="item !== 'id'">{{item}}</span>
                                </th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of displayTableData;let i = index">
                                    <td *ngFor="let item_1 of headerRow" >
                                        <a class="view" *ngIf="item_1 =='reportLink' && displayReportList" title="download" [href]="item[item_1]"  download><i class="fa fa-download" aria-hidden="true"></i></a>
                                        <a class="view" *ngIf="item_1 =='Edit' && displayScheduledList" title="edit" (click)="editScheduleModel(item)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                        <span *ngIf="item_1 !='reportLink'">{{item[item_1]}}</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table> -->
                <div class="clearfix bottomPager col-md-12" *ngIf='!nodata'>
                    <div class="hint-text">Total Pages : <b>{{pager.totalPages}}</b></div>
                    <ul class="pagination">
                        <li class="page-item disabled" [ngClass]="{disabled:pager.currentPage === 1}" (click)="setpage(pager.currentPage - 1)">Previous</li>
                        <li class="page-item" *ngFor="let item of pager.pages; let i = index" [ngClass]="{active:pager.currentPage === item}" (click)="setpage(item)">
                            {{item}}</li>

                        <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}" (click)="setpage(pager.currentPage + 1)">Next</li>
                    </ul>
                </div>
            </div>

        </nb-tab>
        <nb-tab tabTitle="Download" [active]="DownloadTab" class="courseDetailsTab">
            <div *ngIf='!nodata'>
                <div class="tableCompo">
                    <ngx-enrol-table [label]="labelsDownload" [tableData]="displayTableData" (clickToDownicon)="downloadFile($event)"></ngx-enrol-table>
                </div>

                <!-- <table class="table table-bordered">
                            <thead>
                                <th *ngFor="let item of headerRow">
                                    <span *ngIf="item === 'id'">Sr. No</span>
                                    <span *ngIf="item !== 'id'">{{item == 'reportLink' ? 'Download' : item}}</span>
                                </th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of displayTableData;let i = index">
                                    <td *ngFor="let item_1 of headerRow" >
                                        <div >
                                            <a class="view" *ngIf="item_1 =='reportLink' && displayReportList && item?.reportLink" title="download" [href]="item[item_1]"  download><i class="fa fa-download" aria-hidden="true"></i></a>
                                            <p *ngIf="item_1 =='reportLink' && displayReportList && !item?.reportLink"> No data available</p>
                                        </div>
                                        <span *ngIf="item_1 !='reportLink'">{{item[item_1]}}</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table> -->
                <div class="clearfix" *ngIf="!nodata">
                    <div class="hint-text">Total Pages : <b>{{pager.totalPages}}</b></div>
                    <ul class="pagination">
                        <li class="page-item disabled" [ngClass]="{disabled:pager.currentPage === 1}" (click)="setpage(pager.currentPage - 1)">Previous</li>
                        <li class="page-item" *ngFor="let item of pager.pages; let i = index" [ngClass]="{active:pager.currentPage === item}" (click)="setpage(item)">
                            {{item}}</li>
                        <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}" (click)="setpage(pager.currentPage + 1)">Next</li>
                    </ul>
                </div>
            </div>
        </nb-tab>
    </nb-tabset>
</div>
<div *ngIf="showSchedulePopup">
    <ngx-report-schedule [scheduleId]="scheduleId" [scheduleParams]="scheduleParams" (closed)="closedmodel($event)" (clos)="close($event)"></ngx-report-schedule>
</div>
<ngx-no-data *ngIf="nodata" [config]="noDataVal"></ngx-no-data>
