// .table-wrapper {
//   width: 1000px;
//   margin: 30px auto;
//       background: #fff;
//       padding: 20px;
//       box-shadow: 0 1px 1px rgba(0,0,0,.05);
//   }
//   .table-title {
//       padding-bottom: 10px;
//       margin: 0 0 10px;
//   }
//   .table-title h2 {
//       margin: 6px 0 0;
//       font-size: 22px;
//   }
//   .table-title .add-new {
//       float: right;
//   height: 30px;
//   font-weight: bold;
//   font-size: 12px;
//   text-shadow: none;
//   min-width: 100px;
//   border-radius: 50px;
//   line-height: 13px;
//   }
// .table-title .add-new i {
//   margin-right: 4px;
// }
//   table.table {
//       table-layout: fixed;
//   }
//   table.table tr th, table.table tr td {
//       border-color: #e9e9e9;
//   }
//   table.table th i {
//       font-size: 13px;
//       margin: 0 5px;
//       cursor: pointer;
//   }
//   table.table th:last-child {
//       width: 100px;
//   }
//   table.table td a {
//   cursor: pointer;
//       display: inline-block;
//       margin: 0 5px;
//   min-width: 24px;
//   }
// table.table td a.add {
//       color: #27C46B;
//   }
//   table.table td a.edit {
//       color: #FFC107;
//   }
//   table.table td a.delete {
//       color: #E34724;
//   }
//   table.table td i {
//       font-size: 19px;
//   }
// table.table td a.add i {
//       font-size: 24px;
//     margin-right: -1px;
//       position: relative;
//       top: 3px;
//   }
//   table.table .form-control {
//       height: 32px;
//       line-height: 32px;
//       box-shadow: none;
//       border-radius: 2px;
//   }
// table.table .form-control.error {
//   border-color: #f50000;
// }
// table.table td .add {
//   display: none;
// }
ngx-report-list {
  .table-wrapper {
    
    background: #fff;
    padding: 20px;
    margin: 30px 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  }
  .table-title {
    font-size: 15px;
    padding-bottom: 10px;
    margin: 0 0 10px;
    min-height: 45px;
  }
  .table-title h2 {
    margin: 5px 0 0;
    font-size: 24px;
  }
  .table-title select {
    border-color: #ddd;
    border-width: 0 0 1px 0;
    padding: 3px 10px 3px 5px;
    margin: 0 5px;
  }
  .table-title .show-entries {
    margin-top: 7px;
  }
  .search-box {
    position: relative;
    // float: right;
    width: 40%;
    margin: 0 auto;
  }
  .search-box .input-group {
    min-width: 350px;
    position: absolute;
    right: 0;
  }
  .search-box .input-group-addon,
  .search-box input {
    border-color: #ddd;
    border-radius: 0;
  }
  .search-box .input-group-addon {
    border: none;
    border: none;
    background: transparent;
    position: absolute;
    z-index: 9;
  }
  .search-box input {
    height: 34px;
    padding-left: 28px;
    box-shadow: none !important;
    border-width: 0 0 1px 0;
  }
  .search-box input:focus {
    border-color: #3fbae4;
  }
  .search-box i {
    color: #a0a5b1;
    font-size: 19px;
    position: relative;
    top: 2px;
    left: -10px;
  }
  table.table tr th,
  table.table tr td {
    border-color: #e9e9e9;
  }
  table.table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
  }
  table.table td:last-child {
    width: 130px;
  }
  table.table td a {
    color: #a0a5b1;
    display: inline-block;
    margin: 0 5px;
  }
  table.table td p {
    // color: #03a9f4;
    margin: 0px !important;
  }
  table.table td a.view {
    color: #03a9f4;
  }
  table.table td a.edit {
    color: #ffc107;
  }
  table.table td a.delete {
    color: #e34724;
  }
  // table.table td i {
    // font-size: 19px;
  // }
  .pagination {
    float: right;
    margin: 0 0 5px;
    border: none !important;
  }
  .pagination li {
    border: none;
    font-size: 13px;
    min-width: 30px;
    min-height: 30px;
    padding: 0 10px;
    color: #999;
    margin: 0 2px;
    line-height: 30px;
    border-radius: 30px !important;
    text-align: center;
    cursor: pointer;
  }
  // .pagination li:hover {
  //   color: #666;
  // }
  .pagination li.active {
    // background: #076ba1;
    border: 1px solid #076ba1 !important;
    cursor: not-allowed;
  }
  // .pagination li.active:hover {
  //   background: #076ba1;
  //   cursor: not-allowed;
  // }
  .pagination li.disabled{
    cursor: not-allowed;
    color: #ccc;
  }
  .pagination li i {
    font-size: 16px;
    padding-top: 6px;
  }
  .hint-text {
    float: left;
    margin-top: 10px;
    font-size: 13px;
  }

  .buttons-div {
    position: absolute;
    background: #fff;
    z-index: 1;
    right: 1%;
    margin: 10px;
    display: flex;
    .back_button {
      margin-left: 0px;
    }
  }

  .search_div1 {
    display: flex;
    width: 30%;
    position: absolute;
    z-index: 1;
    left: 40%;
    margin: 10px;
    .remove_icon {
      display: flex;
      position: absolute;
      right: 2%;
      top: 10px;
      font-size: 14px;
    }
  }
  .nodatafound {
    text-align: center;
    font-size: 20px;
  }
}

.courseTabset > ul > li {
  &.disabled {
    cursor: not-allowed;
    a {
      color: #a4abb3;
      cursor: not-allowed;
      pointer-events: none;
      &:hover {
        color: #a4abb3;
      }
    }
  }
}

.courseTabset > ul {
  background: #fff;
  border-bottom: 1px solid #076ba1;
  padding-left: 0;
  padding-right: 0;
  position: -webkit-sticky;
  position: sticky;
  top: 67px;
  // z-index: 1030;
}

.courseTabset > ul > li.active > a {
  color: #076ba1;
}

.courseTabset > ul > li > a::before {
  background: #076ba1;
}

.courseTabset > ul > li > a:hover {
  color: #076ba1;
}
