// &[data-direction="left"]
.tooltip-section {
    display: inline-block;
    position: relative;
    text-align: left;
    &:hover {
        .right,
        .top,
        .bottom,
        .left {
            display: block;
        }
    }
    .information-btn {
        cursor: pointer;
        color: #64636361;
    }
    .top,
    .right,
    .bottom,
    .left {
        z-index: 50;
        display: none;
        font-size: 12px;
        color: #000000;
        min-width: 200px;
        padding: 5px 10px;
        border-radius: 3px;
        position: absolute;
        font-weight: normal;
        box-sizing: border-box;
        background-color: #fdfdfd;
        box-shadow: 0 1px 8px rgba(0, 0, 0, 0.4);
        i {
            width: 10px;
            height: 24px;
            overflow: hidden;
            position: absolute;
            &::after {
                content: "";
                width: 12px;
                height: 12px;
                position: absolute;
                background-color: #fdfdfd;
                box-shadow: 0 1px 8px rgba(0, 0, 0, 0.4);
            }
        }
    }
    .right {
        top: 50%;
        left: 100%;
        margin-left: 15px;
        transform: translate(0, -50%);
        i {
            top: 50%;
            right: 100%;
            margin-top: -12px;
            &::after {
                content: "";
                left: 0;
                top: 50%;
                box-shadow: 0 1px 8px rgba(0, 0, 0, 0.4);
                transform: translate(50%, -50%) rotate(-45deg);
            }
        }
    }
    .top {
        left: 0;
        top: -10px;
        transform: translate(-50%, -100%);
        i {
            top: 100%;
            left: 50%;
            margin-top: -4px;
            &::after {
                content: "";
                left: 50%;
                box-shadow: 0 -6px 8px rgba(0, 0, 0, 0.4);
                transform: translate(-50%, -50%) rotate(45deg);
            }
        }
    }
    .bottom {
        top: 33px;
        left: 50%;
        transform: translate(-50%, 0);
        i {
            left: 50%;
            width: 24px;
            height: 12px;
            bottom: 100%;
            margin-left: -12px;
            &::after {
                content: "";
                left: 50%;
                box-shadow: 0 1px 8px rgba(0, 0, 0, 0.4);
                transform: translate(-50%, 50%) rotate(45deg);
            }
        }
    }
    .left {
        top: 50%;
        right: 100%;
        margin-right: 20px;
        transform: translate(0, -50%);
        i {
            top: 50%;
            left: 100%;
            margin-top: -12px;
            &::after {
                content: "";
                left: 0;
                top: 50%;
                box-shadow: 0 1px 8px rgba(0, 0, 0, 0.4);
                transform: translate(-50%, -50%) rotate(-45deg);
            }
        }
    }
}