
<div class="titlerow">
  <div class="buttonInCenter">
    <button class="downloadbtn" (click)="back()"><i class="fas fa-chevron-left"></i></button>
  </div>
  <div class="titleDiv">
    <p class="titlePara">{{ level1_data?.BatchName }} </p>
    <p class="titlesub">{{ level1_data?.programName }}</p>
  </div>
  <!-- <div class="cardContainer" style="padding: 0">
    <div class="scoreCard scoreCard1">
      <div class="scoreTxt">Overall Feedback</div>
      <div class="scorNum" *ngIf="avg_feedback">{{ avg_feedback }}</div>
      <div class="scorNum" *ngIf="!avg_feedback">0</div>
    </div>
    <div class="scoreCard scoreCard2">
      <div class="scoreTxt">Average Score</div>
     
      <div class="scorNum" *ngIf="avg_Assess">{{ avg_Assess }}</div>
      <div class="scorNum" *ngIf="!avg_Assess">0</div>
    </div>
    <div class="scoreCard scoreCard3">
      <div class="scoreTxt">Average Score</div>
      
      <div class="scorNum" *ngIf="avg_Assess">{{ avg_Assess }}</div>
      <div class="scorNum" *ngIf="!avg_Assess">0</div>
    </div>
  </div> -->
</div>

<div class="accordian_conatiner" *ngIf="noFeedData">
    <mat-accordion>
        <mat-expansion-panel class="expansion_panel_relative"
          *ngFor="let item of level2data; let i = index;let isFirst = first"
          (closed)="setClosed(item, i)" (click)="setOpened(item,i,$event)">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ item?.EmployeeName | titlecase }}
              <!-- <button class="btn btn-primary go_to_page"  (click)="gotoLevel2(item,i)">Go Next</button> -->
            </mat-panel-title>
            <mat-panel-description class="content_end">
              Score- {{ item.avg_scr == null ? 'NA' :  item.avg_scr }}  
            <!-- <span *ngIf="displayDataOf == 'feedback'" class="npa_score">  Nps - {{ item?.nps }} </span>
              <button class="btn btn-primary"  (opened)="setOpened(item,i, true)">Go To next level</button> -->
            </mat-panel-description>
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>
          

            <div class="section_container">
                <div class="inside_content_conatiner" *ngFor="let section_item of section; let j = index;">
             
                   <div class="feedback_section_name_Container">
                        <div class="section_name">
                            {{section_item?.sectionName}}
                        </div>
                        <div class="section_marks">
                            Avg - {{section_item.secAvg == null ? 'NA' : section_item.secAvg}}
                            <!-- <span *ngIf="displayDataOf == 'feedback'" class="npa_score">   Avg - {{ feedback_section_item?.secAvg }} </span> -->
                        </div>
                   </div>
                   
                   <div>
                     
                      <table style="width:100%" >
                          <thead>
                            <tr>
                              <th >Question Name</th>
                              <th >Marks</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let section_item of section_item.list; let k = index;" class="rowData">
                              <!-- <td *ngFor="let data of Object.values(feedback_section_question); let l=index" [hidden]="l == 0">{{ data ? data : 'NA' }}</td> -->
                              <td [innerHTML]="section_item?.qName" *ngIf="section_item?.questionTypeId == 1"></td>
                              <td  *ngIf="section_item?.questionTypeId == 2">
                                <img class="question-image-level-2" [src]="section_item?.contentRef" alt="image not found" srcset="">
                              </td>
                              <td>{{section_item.score == null ? 'NA' : section_item.score}}</td>                              
                            </tr>
                          </tbody>
                        </table>
                   </div>
                 
              </div>
            </div>
              
          </ng-template>
        </mat-expansion-panel>
    </mat-accordion>
</div>


<!-- 
<div class="titleDiv_table" *ngIf="!noFeedbackModule">
 
  <p class="para_title">Feedback</p>
  <div class="tabs-layouts">
		<div class="tabs_single" [ngClass]="{'tabs_single_active': activeTabIndex == i }" *ngFor='let tabs of sectionArray;let i=index;' (click)='tabChanged(tabs,i)'>
			<p>{{ tabs.secName | titlecase }}</p>
			
		</div>
	</div>
</div>
  <div class="tableContent">
     
    <table style="width:100%" *ngIf="!noFeedData">
      <thead>
        <tr>
            <th  *ngFor="let item of objKeys" [hidden]="item == 'EmployeeId'"> {{ item }} </th>
        </tr>
       

    </thead>

    <tbody>
        <tr  *ngFor="let sub_item of level2Details; let i = index" class="rowData">
          <td  *ngFor="let data of Object.values(sub_item); let j =index" [hidden]="j == 0">{{ data ? data : 'NA' }}</td>
        </tr>
    </tbody>
    </table>

    <div *ngIf="noFeedData" class="noDataGrid">
      No data available.
    </div>
  </div>

  <div class="titleDiv_table" *ngIf="!noAssessData">
  
    <p class="para_title">Assessment</p>
  </div>
  <div class="tableContent">
   
  <table style="width:100%" *ngIf="!noAssessData">
    <thead>
      <tr>
          <th>Employee Name</th>
          <th>Quiz Points</th>
          <th>Quiz Score</th>
        
      </tr>
   
  </thead>

  <tbody>
    <tr  *ngFor="let sub_item of assessmentData; let i = index" class="rowData">
     
      <td>{{ sub_item.firstname ? sub_item.firstname : 'NA' }} </td>
      <td>{{ sub_item.points | number: '1.2-2' }}</td>
      <td>{{ sub_item.score | number: '1.2-2' }}</td>
    </tr>
  </tbody>
  </table>

  <div *ngIf="noAssessData" class="noDataGrid">
      No data available.
    </div>
</div> -->
