.addedituser {
    .topHeader {
        border: none;
        background-color: #ffffff;
        height: auto;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        position: sticky;
        top: 67px;
        z-index: 3;
        padding: 12px;
        // z-index: 1090;
    }
}

.title {
    margin: auto 0;
    font-size: 20px;
    color: #000;
}

.user-card {
    margin: 15px;
    // padding-bottom: 15px;
    padding: 15px;
}

.columns2 {
    display: grid;
    grid-template-columns: auto;
    grid-column-gap: 50px;
    // padding: 0 15px;
}

.example-full-width {
    width: 100%;
}

td {
    padding-right: 8px;
    width: 50%;
    vertical-align: top;
}

.example-form {
    width: 100%;
}

label {
    color: black;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}