<!-- <div class="addedituser">
    <div class="topHeader sticky-bar">
        <div class="title">{{title}} Venue</div>
        <div class="leftColBtns text-right">
            <button class="constantbtn-button-blue-left" [disabled]="!editVenueForm.valid" (click)="onSubmit()">Save</button>
            <button class="back_button" (click)="back()">Back</button>
        </div>
    </div>
</div> -->

<app-subheader [headerConfig]="header" [isSave]= "editVenueForm.valid" (btnone) = "onSubmit()" (backClick) = "back()"></app-subheader>

<div class="card user-card" *ngIf="sectionshow">
    <div class="columns2">
        <form [formGroup]="editVenueForm" class="example-form">
            <table class="example-full-width" cellspacing="0">
                <tr>
                    <td>
                        <label class="commonLabel" for="venue">{{helpContent?.venue_AddEditCategoryContent?.Venue.label}} <sup
                class="reqFieldActivity">*</sup>
              <div class="help-tooltip">
                <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                <div class="help-tooltip-position-right">
                  <p>{{helpContent?.venue_AddEditCategoryContent?.Venue.labelHelpContent}}</p>
                  <i></i>
                </div>
              </div>
            </label>
                        <input id="VENUE" type="text" class="form-control commonInput" formControlName="VENUE" required [(ngModel)]="editData.venueName" matInput placeholder="Enter Venue Name">

                        <div *ngIf="VENUE && VENUE.invalid && (VENUE.dirty || VENUE.touched)" class="alert alert-danger">

                            <div *ngIf="VENUE.errors.required">
                                Venue is required.
                            </div>
                            <div *ngIf="VENUE.errors.minlength">
                                Venue must be atleast 3 characters long.
                            </div>
                            <div *ngIf="VENUE.errors.maxlength">
                                Venue must be less then 100 characters
                            </div>
                            <div *ngIf="VENUE.errors.required">

                            </div>

                        </div>
                        <td>
                            <!-- <p></p> -->
                            <label class="commonLabel" for="locationName">{{helpContent?.venue_AddEditCategoryContent?.Location_Name.label}}
              <div class="help-tooltip"><sup
                class="reqFieldActivity">*</sup>
                <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                <div class="help-tooltip-position-right">
                  <p>{{helpContent?.venue_AddEditCategoryContent?.Location_Name.labelHelpContent}}</p>
                  <i></i>
                </div>
              </div>
            </label>

                            <select name="locationName" [(ngModel)]="selectedLocationId" [ngModelOptions]="{standalone: true}" class="form-control select_field_height commonSelect" formControlName="locationName" required>
              <option value=null selected disabled>Select Location Name</option>
              <option *ngFor="let item of locationDropDownData" [value]="item.locationId">{{item.locationName}}</option>
            </select>
                            <div *ngIf="locationName && locationName.invalid && (locationName.dirty || locationName.touched)" class="alert alert-danger">

                                <div *ngIf="locationName.errors.required">
                                    Location Name is required.
                                </div>
                            </div>
                            <p></p>
                        </td>
                </tr>
                <tr>
                    <td>
                        <label class="commonLabel" for="Address">{{helpContent?.venue_AddEditCategoryContent?.Address.label}} <sup
                class="reqFieldActivity">*</sup>
              <div class="help-tooltip">
                <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                <div class="help-tooltip-position-right">
                  <p>{{helpContent?.venue_AddEditCategoryContent?.Address.labelHelpContent}}</p>
                  <i></i>
                </div>
              </div>
            </label>
                        <input id="address" type="text" class="form-control commonInput" [(ngModel)]="editData.address1" formControlName="address" required matInput placeholder="Enter Address">


                        <div *ngIf="address && address.invalid && (address.dirty || address.touched)" class="alert alert-danger">

                            <div *ngIf="address.errors.required">
                                Address is required.
                            </div>
                            <div *ngIf="address.errors.minlength">
                                Address must be atleast 5 characters long.
                            </div>
                            <div *ngIf="address.errors.maxlength">
                                Address must be less then 100 characters.
                            </div>
                        </div>
                        <p></p>
                    </td>
                    <td>
                        <label for="address1">{{helpContent?.venue_AddEditCategoryContent?.Address1.label}}
              <div class="help-tooltip">
                <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                <div class="help-tooltip-position-right">
                  <p>{{helpContent?.venue_AddEditCategoryContent?.Address1.labelHelpContent}}</p>
                  <i></i>
                </div>
              </div>
            </label>
                        <input id="address1" type="text" [(ngModel)]="editData.address2" class="form-control commonInput" formControlName="address1" matInput placeholder="Enter Address">


                        <div *ngIf="address1 && address1.invalid && (address1.dirty || address1.touched)" class="alert alert-danger">
                            <div *ngIf="address1.errors.minlength">
                                Address 1 must be atleast 5 characters long.
                            </div>
                            <div *ngIf="address1.errors.maxlength">
                                Address 1 must be less then 100 characters.
                            </div>
                        </div>
                        <p></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="commonLabel" for="pincode">{{helpContent?.venue_AddEditCategoryContent?.Pincode.label}} <sup
                class="reqFieldActivity">*</sup>
              <div class="help-tooltip">
                <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                <div class="help-tooltip-position-right">
                  <p>{{helpContent?.venue_AddEditCategoryContent?.Pincode.labelHelpContent}}</p>
                  <i></i>
                </div>
              </div>
            </label>
                        <input id="pincode" type="number" class="form-control commonInput" [(ngModel)]="editData.pinCode" formControlName="pincode" required matInput placeholder="Enter Pincode">


                        <div *ngIf="pincode && pincode.invalid && (pincode.dirty || pincode.touched)" class="alert alert-danger">
                            <div *ngIf="pincode.errors.required">
                                Pincode is required.
                            </div>
                            <div *ngIf="pincode.errors.pattern">
                                Pincode should be only 6 digits.
                            </div>
                            <!-- <div *ngIf="pincode.errors.pattern">
                Pincode should be only 6 digits.
              </div> -->
                        </div>
                        <p></p>
                    </td>
                    <td>
                        <label class="commonLabel" for="contactPerson">{{helpContent?.venue_AddEditCategoryContent?.Contact_Person.label}}
              <div class="help-tooltip">
                <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                <div class="help-tooltip-position-right">
                  <p>{{helpContent?.venue_AddEditCategoryContent?.Contact_Person.labelHelpContent}}</p>
                  <i></i>
                </div>
              </div>
            </label>
                        <input id="contactPerson" type="text" class="form-control commonInput" [(ngModel)]="editData.contactPerson" formControlName="contactPerson" matInput placeholder="Enter Contact Person Name">


                        <div *ngIf="contactPerson && contactPerson.invalid && (contactPerson.dirty || contactPerson.touched)" class="alert alert-danger">
                            <div *ngIf="contactPerson.errors.minlength">
                                ContactPerson be atleast 3 characters long.
                            </div>
                            <div *ngIf="contactPerson.errors.maxlength">
                                ContactPerson be less than 100 characters long.
                            </div>
                        </div>
                        <p></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="commonLabel" for="mobileNumber">{{helpContent?.venue_AddEditCategoryContent?.Mobile_Number.label}} <sup
                class="reqFieldActivity">*</sup>
              <div class="help-tooltip">
                <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                <div class="help-tooltip-position-right">
                  <p>{{helpContent?.venue_AddEditCategoryContent?.Mobile_Number.labelHelpContent}}</p>
                  <i></i>
                </div>
              </div>
            </label>
                        <input id="mobile" type="tel" pattern="[6-9]{1}[0-9]{9}" class="form-control commonInput" [(ngModel)]="editData.mobile" maxlength="10" formControlName="mobile" required matInput placeholder="Enter Mobile Number">


                        <div *ngIf="mobile.invalid && (mobile.dirty || mobile.touched)" class="alert alert-danger">

                            <div *ngIf="mobile.errors.required">
                                Mobile Number is required.
                            </div>
                            <!-- <div *ngIf="mobile.errors.minlength">
                Mobile Number should be only 10 digits.
              </div>
              <div *ngIf="mobile.errors.maxlength">
                Mobile Number should be only 10 digits.
              </div> -->
                            <div *ngIf="mobile.errors.pattern">
                                Please enter proper mobile number.
                            </div>
                        </div>
                    </td>
                    <td>
                        <!-- <p></p> -->
                        <label for="visibility" class="commonLabel">{{helpContent?.venue_AddEditCategoryContent?.visibility.label}}<sup
              class="reqFieldActivity">*</sup>
              <div class="help-tooltip">
                <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                <div class="help-tooltip-position-right">
                  <p>{{helpContent?.venue_AddEditCategoryContent?.visibility.labelHelpContent}}</p>
                  <i></i>
                </div>
              </div>
            </label>
                        <select [(ngModel)]="selectedVenueId" [ngModelOptions]="{standalone: true}" class="form-control select_field_height commonSelect" required>
              <option value="" selected disabled>Select Visible</option>
              <option *ngFor="let item of visibleDropDownData" [value]=item.id>{{item.name}}</option>
            </select>
                        <p></p>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
