<div class="detailcontent">
    <!-- <div class="text-right">
      <button class="constantbtn-button-blue-left" [disabled]="!nominationForm.form.valid || disableSubmit" (click)="onSubmit(nominationData)">Save</button>
  </div> -->
    <div class="">
        <form class="detailsForm forms-sample" #nominationForm="ngForm" novalidate>
            <div class="left_grid">

                <div class="titleDiv">
                    <p>Basic Details</p>
                </div>
                <div class="form-group">
                    <label class="left_space side-form-label" for="">{{helpContent?.blended_programs_AddEditNomination_EEP?.instance_name?.label}}
                        <sup  class="reqField">&#x2731;</sup>
<app-info-tooltip  [description]="helpContent?.blended_programs_AddEditNomination_EEP?.instance_name?.labelHelpContent"></app-info-tooltip>
             <!-- <h3 class="reqField">*</h3>
                <div class="help-tooltip">
                    <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>

                    <div class="help-tooltip-position-right">
                        <p>{{helpContent?.blended_programs_AddEditNomination_EEP?.instance_name?.labelHelpContent}}</p>

                        <i></i>
                    </div>
                </div> -->


              </label>
                    <input type="text" class="form-control form-control-input commonInput " id="instName" name="instName" minlength="2" maxlength="50" placeholder="Max 50 characters" [(ngModel)]="nominationData.instName" #iname="ngModel" required>
                    <div [hidden]="iname.valid || iname.pristine" class="invalid-msg">
                        <small [hidden]="!iname.hasError('required')">Cohort Name is required</small>
                        <small *ngIf="iname.errors?.minlength">Cohort name must be between 2 to 50 characters</small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="left_space side-form-label" for="">{{helpContent?.blended_programs_AddEditNomination_EEP?.program_name?.label}}
                        <sup  class="reqField">&#x2731;</sup>
                        <app-info-tooltip  [description]="helpContent?.blended_programs_AddEditNomination_EEP?.program_name?.labelHelpContent"></app-info-tooltip>

                        <!-- <h3 class="reqField">*</h3> -->
                    <!-- <div class="help-tooltip">
                      <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>

                      <div class="help-tooltip-position-right">
                          <p>{{helpContent?.blended_programs_AddEditNomination_EEP?.program_name?.labelHelpContent}}</p>

                          <i></i>
                      </div>
                    </div> -->
                </label>
                    <select class="commonSelect custom-select" name="pId" id="pId" [(ngModel)]="nominationData.pId" #programName="ngModel" required>
                    <option value="" selected disabled>Select Program</option>
                    <option *ngFor="let item of programs" value={{item.pId}}>{{ item.programName }}</option>
                  </select>
                    <div [hidden]="programName.valid || programName.pristine" class="invalid-msg">
                        <div [hidden]="!programName.hasError('required')">Select name of Program</div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="left_space side-form-label" for="">{{helpContent?.blended_programs_AddEditNomination_EEP?.visibility?.label}}
                        <sup  class="reqField">&#x2731;</sup>
                        <app-info-tooltip  [description]="helpContent?.blended_programs_AddEditNomination_EEP?.visibility?.labelHelpContent"></app-info-tooltip>

                        <!-- <h3 class="reqField">*</h3>
                  <div class="help-tooltip">
                    <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>

                    <div class="help-tooltip-position-right">
                        <p>{{helpContent?.blended_programs_AddEditNomination_EEP?.visibility?.labelHelpContent}}</p>

                        <i></i>
                    </div>
                  </div> -->
                </label>
                    <select class="commonSelect custom-select" name="visible" id="visible" [(ngModel)]="nominationData.visible" #visibility="ngModel" required>
                    <option value="" selected disabled>Select visibility type</option>
                    <option *ngFor="let options of visibilityOptions" value={{options.id}}>{{ options.name }}</option>
                  </select>
                    <div [hidden]="visibility.valid || visibility.pristine" class="invalid-msg">
                        <small [hidden]="!visibility.hasError('required')">Select visibility of Cohort</small>
                    </div>
                </div>


                <div class="form-group">
                    <label class="space_left side-form-label" for="sDate">{{helpContent?.blended_programs_AddEditNomination_EEP?.start_date?.label}}
                        <sup  class="reqField">&#x2731;</sup>
                        <app-info-tooltip  [description]="helpContent?.blended_programs_AddEditNomination_EEP?.start_date?.labelHelpContent"></app-info-tooltip>

                        <!-- <h3 class="reqField">* </h3>

                  <div class="help-tooltip">
                    <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>

                    <div class="help-tooltip-position-right">
                        <p>{{helpContent?.blended_programs_AddEditNomination_EEP?.start_date?.labelHelpContent}}</p>

                        <i></i>
                    </div>
                  </div> -->


                </label>
                    <div class="nominationfullwidth">
                        <input [owlDateTime]="dt1" [(ngModel)]="nominationData.sDate" (dateTimeChange)="onSearchChange($event.value)" #sdate="ngModel" placeholder="DD/MM/YYYY" required class="form-control form-control-input commonInput nominationdateinput" id="sDate" name="sDate"
                            [min]="mdate" [owlDateTimeTrigger]="dt1">
                        <div class="nominationcalenderIcon"><i class="fa fa-calendar nominationcalfont"></i>
                        </div>
                        <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
                    </div>
                    <div [hidden]="sdate.valid || sdate.pristine" class="invalid-msg">
                        <small [hidden]="!sdate.hasError('required')">Enter start date</small>
                    </div>

                </div>

                <div class="form-group">
                    <label class="space_left side-form-label" for="eDate">{{helpContent?.blended_programs_AddEditNomination_EEP?.end_date?.label}}
                        <sup  class="reqField">&#x2731;</sup>
                        <app-info-tooltip  [description]="helpContent?.blended_programs_AddEditNomination_EEP?.end_date?.labelHelpContent"></app-info-tooltip>

                        <!-- <h3 class="reqField">*
                      </h3>

                      <div class="help-tooltip">
                        <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>

                        <div class="help-tooltip-position-right">
                            <p>{{helpContent?.blended_programs_AddEditNomination_EEP?.end_date?.labelHelpContent}}</p>

                            <i></i>
                        </div>
                      </div> -->

                    </label>
                    <div class="nominationfullwidth">
                        <input [owlDateTime]="dt2" [(ngModel)]="nominationData.eDate" id="eDate" #edate="ngModel" [min]="minDateto" placeholder="DD/MM/YYYY" required class="form-control form-control-input commonInput nominationdateinput" name="eDate" [owlDateTimeTrigger]="dt2">
                        <div class="nominationcalenderIcon"><i class="fa fa-calendar nominationcalfont"></i>
                        </div>
                        <owl-date-time [pickerType]="'calendar'" #dt2></owl-date-time>
                    </div>
                    <div [hidden]="edate.valid || edate.pristine" class="invalid-msg">
                        <small [hidden]="!edate.hasError('required')">Enter end date</small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="left_space side-form-label" for="nDesc">{{helpContent?.blended_programs_AddEditNomination_EEP?.description?.label}}
                        <sup  class="reqField">&#x2731;</sup>
                        <app-info-tooltip  [description]="helpContent?.blended_programs_AddEditNomination_EEP?.description?.labelHelpContent"></app-info-tooltip>

                        <!-- <h3 class="reqField">*</h3>

                <div class="help-tooltip">
                  <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>

                  <div class="help-tooltip-position-right">
                      <p>{{helpContent?.blended_programs_AddEditNomination_EEP?.description?.labelHelpContent}}</p>

                      <i></i>
                  </div>
                </div> -->
              </label>
                    <textarea type="text" cols="12" rows="5" class="form-control commonTextarea" id="nDesc" #comments="ngModel" minlength="20" maxlength="500" placeholder="Min 20 to Max 500 characters" required [(ngModel)]="nominationData.nDesc" name="nDesc"></textarea>
                    <div [hidden]="comments.valid || comments.pristine" class="invalid-msg">
                        <small [hidden]="!comments.hasError('required')">Description is required</small>
                        <small *ngIf="comments.errors?.minlength">Min 10 to Max 500 characters</small>
                    </div>
                </div>
            </div>

            <div class="right_grid">
                <div class="titleDiv">
                    <p>Advanced Details</p>
                </div>
                <div class="form-group">
                    <label class="left_space side-form-label" for="">{{helpContent?.blended_programs_AddEditNomination_EEP?.budget_allocated?.label}}
                        <sup  class="reqField">&#x2731;</sup>
                        <app-info-tooltip  [description]="helpContent?.blended_programs_AddEditNomination_EEP?.budget_allocated?.labelHelpContent"></app-info-tooltip>

                        <!-- <h3 class="reqField">*</h3>
            <div class="help-tooltip">
                <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>

                <div class="help-tooltip-position-right">
                    <p>{{helpContent?.blended_programs_AddEditNomination_EEP?.budget_allocated?.labelHelpContent}}</p>

                    <i></i>
                </div>
            </div> -->


          </label>
                    <input type="number" class="form-control commonInput" id="budget" name="budget" min="1" max="9999999" minlength="0" maxlength="7" placeholder="Enter budget allocated" [(ngModel)]="nominationData.budget" #budgetAlloc="ngModel" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');"
                        onKeyDown="if(this.value.length==7 && event.keyCode!=8) return false;" required>
                    <div [hidden]="budgetAlloc.valid || budgetAlloc.pristine" class="invalid-msg">
                        <small [hidden]="!budgetAlloc.hasError('required')">Budget is required</small>
                        <small *ngIf="budgetAlloc.errors?.minlength">Minimum budget must be between 1 to 7 digits</small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="left_space side-form-label" for="">{{helpContent?.blended_programs_AddEditNomination_EEP?.institute_name?.label}}
                        <sup  class="reqField">&#x2731;</sup>
                        <app-info-tooltip  [description]="helpContent?.blended_programs_AddEditNomination_EEP?.institute_name?.labelHelpContent"></app-info-tooltip>

                        <!-- <h3 class="reqField">*</h3>
            <div class="help-tooltip">
                <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>

                <div class="help-tooltip-position-right">
                    <p>{{helpContent?.blended_programs_AddEditNomination_EEP?.institute_name?.labelHelpContent}}</p>

                    <i></i>
                </div>
            </div> -->


          </label>
                    <!-- <input type="text" class="form-control" id="instituteName" name="instName" minlength="10" maxlength="50" -->
                    <!-- placeholder="Max 50 characters" [(ngModel)]="nominationData.instName" #iname="ngModel" required> -->
                    <select class="commonSelect custom-select" [(ngModel)]="nominationData.instituteId" name="instituteName" id="instituteName" #instituteName="ngModel">
              <option value="" selected disabled>Select Institute Name</option>
              <option *ngFor="let item of institute_name" value="{{item.instId}}">{{ item.instituteName }}</option>
            </select>
                    <div [hidden]="instituteName.valid || instituteName.pristine" class="invalid-msg">
                        <small [hidden]="!instituteName.hasError('required')">Institute Name is required</small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="left_space side-form-label" for="">{{helpContent?.blended_programs_AddEditNomination_EEP?.distribution_partner?.label}}
                        <!-- <sup  class="reqField">&#x2731;</sup> -->
                        <app-info-tooltip  [description]="helpContent?.blended_programs_AddEditNomination_EEP?.distribution_partner?.labelHelpContent"></app-info-tooltip>

            <!-- <div class="help-tooltip">
                <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>

                <div class="help-tooltip-position-right">
                    <p>{{helpContent?.blended_programs_AddEditNomination_EEP?.distribution_partner?.labelHelpContent}}</p>

                    <i></i>
                </div>
            </div> -->


          </label>
                    <select class="commonSelect custom-select" [(ngModel)]="nominationData.distributionPartnerId" name="distri_partner" id="distri_partner" #distri_partner="ngModel">
            <option value="" selected disabled>Select Distribution Partner</option>
            <option *ngFor="let item of distribution_partner" value="{{item.instId}}">{{ item.partnerName }}</option>
          </select>
                    <div [hidden]="distri_partner.valid || distri_partner.pristine" class="invalid-msg">
                        <div [hidden]="!distri_partner.hasError('required')">Distribution partner is required</div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="left_space side-form-label" for="">{{helpContent?.blended_programs_AddEditNomination_EEP?.per_seat_cost?.label}}
                        <sup  class="reqField">&#x2731;</sup>
                        <app-info-tooltip  [description]="helpContent?.blended_programs_AddEditNomination_EEP?.per_seat_cost?.labelHelpContent"></app-info-tooltip>

                        <!-- <h3 class="reqField">*</h3>
            <div class="help-tooltip">
                <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>

                <div class="help-tooltip-position-right">
                    <p>{{helpContent?.blended_programs_AddEditNomination_EEP?.per_seat_cost?.labelHelpContent}}</p>

                    <i></i>
                </div>
            </div> -->


          </label>
                    <input type="number" class="form-control commonInput" id="seat_cost" name="seat_cost" min="1" max="9999999" minlength="0" maxlength="7" placeholder="Enter per seat cost" [(ngModel)]="nominationData.seatCost" #seat_cost="ngModel" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');"
                        onKeyDown="if(this.value.length==7 && event.keyCode!=8) return false;" required>
                    <div [hidden]="seat_cost.valid || seat_cost.pristine" class="invalid-msg">
                        <small [hidden]="!seat_cost.hasError('required')">Per seat cost is required</small>
                        <small *ngIf="seat_cost.errors?.minlength">Per seat cost must be between 1 to 7 digits</small>
                    </div>
                </div>

            </div>
        </form>

        <div>
            <table class="table-bordered">
                <tr class="tableRowHeight">
                    <th>Business</th>
                    <th>Total Employees </th>
                    <th>Proposed Seats</th>
                    <th>Adjusted Seats</th>
                    <th>Actual Seats</th>
                </tr>
                <tr class="tableRowHeight" *ngFor="let item of buisnessData; let i = index">
                    <td>{{item.busiName}}</td>
                    <td>{{item.totalCount}}</td>
                    <td>
                        <input type="number" class="tableInputCell commonInput" [(ngModel)]="item.praposedSeats" name="proposed_seats" onKeyDown="if(this.value.length==4 && event.keyCode!=8) return false;">
                    </td>
                    <td>
                        <input type="number" class="tableInputCell commonInput" [(ngModel)]="item.adjustSeats" name="adjusted_seats" onKeyDown="if(this.value.length==4 && event.keyCode!=8) return false;">
                    </td>
                    <td>
                        {{item.actualCount}}
                    </td>
                </tr>
                <!-- <tr class="tableRowHeight">
          <td>Rural</td>
          <td>200</td>
          <td>
            <input type="number" class="tableInputCell"  name="proposed_seats">
          </td>
          <td>
              <input type="number" class="tableInputCell"  name="adjusted_seats">
          </td>
          <td>
              <input type="number" class="tableInputCell"  name="actual_seats">
          </td>
        </tr> -->
            </table>
        </div>
    </div>
</div>
