@import '../../../../../../@theme/styles/variable.scss';
.detailsForm {
    width: 100%;
    // display: grid;
    // grid-template-columns: 1fr 1fr;
    // grid-column-gap: 20px;
}

.left_space {
    padding-left: 2px;
}

.left_grid {
    margin-top: 15px;
}

.right_grid {
    margin-top: 15px;
    margin-bottom: 15px;
}

.reqField {
    display: inline;
    color: #ed462f !important;
}

.titleDiv {
    font-size: 18px;
    color: var(--colorCommon);
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
    p {
        margin-bottom: 5px;
    }
}

table {
    width: 100%;
}

.tableRowHeight {
    height: 50px;
    text-align: center;
}

.tableInputCell {
    display: table-cell;
    width: 100%;
    border: none;
    outline: none;
    padding: 10px;
    height: 50px;
    text-align: center;
}

.tableInputCell::-webkit-inner-spin-button {
    display: none;
}

// .nominationcalenderIcon {
//     font-size: 21px;
// }
.noPadding {
    padding: 0 !important;
}

.detailcontent {
    padding: 15px;
}

.nominationdateinput {
    width: 100%;
}

select {
    height: 35px !important;
}

.nominationcalfont {
    font-size: 22px;
    color: #fff;
}

.nominationfullwidth {
    display: flex;
    width: 100%;
    box-sizing: border-box;
}

.nominationcalenderIcon {
    padding: 4px 6px;
    width: 3vw;
    height: 34px;
    line-height: 34px;
    background: #2795d0;
    text-align: center;
}

.nominationopenDatepicker {
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 0.4px;
    font-weight: 500;
    font-family: Poppins;
    border: 2px solid transparent;
    -webkit-transition: none;
    transition: none;
    cursor: default;
    padding: 0.16rem 0.5rem;
    background: #076ba1;
}

.nominationopenDatepicker:focus {
    outline: none;
}

.nominationdatePickerInput:focus {
    border: 1px solid #dadfe6 !important;
    background-color: #ffffff;
}

.inputText:focus {
    border: 1px solid #dadfe6 !important;
    background-color: #ffffff;
}