<app-subheader [headerConfig]="header" (inputsearch)="searchData($event)" (Clear)="clear()" (addbtn)="gotoaddedit('',0)" (backClick)="back()"></app-subheader>

<div class="badge_main_container">
    <div class="badge_div">
        <!-- <div class="top_header_container">
            <div class="top_header_div_sticky content_width">
                <div class="page_title">
                    <h4>Badges category</h4>
                </div>
                <div class="search_div">
                    <input type="text" (keyup)="SarchFilter($event, searchtext)" [(ngModel)]="searchtext" class="form-control search_field" placeholder="Search by category name">
                    <i class="fa fa-remove remove_icon" aria-hidden="true" (click)="clear()"></i>
                </div>
                <div class="buttons_div">
                    <button type="button" class="constantbtn-button-blue-left " (click)="gotoaddedit('',0)">Add Category</button>
                    <button type="submit" class="back_button " (click)="back()">Back</button>
                </div>
            </div>
        </div> -->
        <app-skeleton [count]='count' *ngIf="!skeleton"></app-skeleton>
        <!-- <table *ngIf="!skeleton">
            <tr>
                <div class="multiple_badgeCat_card_container">
                    <div class="badgeCat_width">
                        <div class="badgeCat_container">
                            <td>
                                <div class="badgeCat_card">
                                    <div class="badgeCat">
                                        <ngx-skeleton-loader [theme]="{ width: '216px', height: '100px','margin': '5px' }">
                                        </ngx-skeleton-loader>
                                    </div>
                                    <div class="badgeCat-title">
                                        <ngx-skeleton-loader [theme]="{
                                                    width: '170px',
                                                    height: '40px'
                                                  }"></ngx-skeleton-loader>
                                    </div>
                                    <div class="badgeCat-title">
                                        <ngx-skeleton-loader [theme]="{
                                                    width: '170px',
                                                    height: '40px'
                                                  }"></ngx-skeleton-loader>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="badgeCat_card">
                                    <div class="badgeCat">
                                        <ngx-skeleton-loader [theme]="{ width: '216px', height: '100px','margin': '5px' }">
                                        </ngx-skeleton-loader>
                                    </div>
                                    <div class="badgeCat-title">
                                        <ngx-skeleton-loader [theme]="{
                                                    width: '170px',
                                                    height: '40px'
                                                  }"></ngx-skeleton-loader>
                                    </div>
                                    <div class="badgeCat-title">
                                        <ngx-skeleton-loader [theme]="{
                                                    width: '170px',
                                                    height: '40px'
                                                  }"></ngx-skeleton-loader>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="badgeCat_card">
                                    <div class="badgeCat">
                                        <ngx-skeleton-loader [theme]="{ width: '216px', height: '100px','margin': '5px'}">
                                        </ngx-skeleton-loader>
                                    </div>
                                    <div class="badgeCat-title">
                                        <ngx-skeleton-loader [theme]="{
                                                    width: '170px',
                                                    height: '40px'
                                                  }"></ngx-skeleton-loader>
                                    </div>
                                    <div class="badgeCat-title">
                                        <ngx-skeleton-loader [theme]="{
                                                    width: '170px',
                                                    height: '40px'
                                                  }"></ngx-skeleton-loader>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="badgeCat_card">
                                    <div class="badgeCat">
                                        <ngx-skeleton-loader [theme]="{ width: '216px', height: '100px','margin': '5px'}">
                                        </ngx-skeleton-loader>
                                    </div>
                                    <div class="badgeCat-title">
                                        <ngx-skeleton-loader [theme]="{
                                                    width: '170px',
                                                    height: '40px'
                                                  }"></ngx-skeleton-loader>
                                    </div>
                                    <div class="badgeCat-title">
                                        <ngx-skeleton-loader [theme]="{
                                                    width: '170px',
                                                    height: '40px'
                                                  }"></ngx-skeleton-loader>
                                    </div>
                                </div>
                            </td>
                        </div>
                    </div>
                </div>
            </tr>
            <tr>
                <div class="multiple_badgeCat_card_container">
                    <div class="badgeCat_width">
                        <div class="badgeCat_container">
                            <td>
                                <div class="badgeCat_card">
                                    <div class="badgeCat">
                                        <ngx-skeleton-loader [theme]="{ width: '216px', height: '100px','margin': '5px'}">
                                        </ngx-skeleton-loader>
                                    </div>
                                    <div class="badgeCat-title">
                                        <ngx-skeleton-loader [theme]="{
                                                        width: '170px',
                                                        height: '40px'
                                                      }"></ngx-skeleton-loader>
                                    </div>
                                    <div class="badgeCat-title">
                                        <ngx-skeleton-loader [theme]="{
                                                        width: '170px',
                                                        height: '40px'
                                                      }"></ngx-skeleton-loader>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="badgeCat_card">
                                    <div class="badgeCat">
                                        <ngx-skeleton-loader [theme]="{ width: '216px', height: '100px','margin': '5px'}">
                                        </ngx-skeleton-loader>
                                    </div>
                                    <div class="badgeCat-title">
                                        <ngx-skeleton-loader [theme]="{
                                                        width: '170px',
                                                        height: '40px'
                                                      }"></ngx-skeleton-loader>
                                    </div>
                                    <div class="badgeCat-title">
                                        <ngx-skeleton-loader [theme]="{
                                                        width: '170px',
                                                        height: '40px'
                                                      }"></ngx-skeleton-loader>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="badgeCat_card">
                                    <div class="badgeCat">
                                        <ngx-skeleton-loader [theme]="{ width: '216px', height: '100px','margin': '5px'}">
                                        </ngx-skeleton-loader>
                                    </div>
                                    <div class="badgeCat-title">
                                        <ngx-skeleton-loader [theme]="{
                                                        width: '170px',
                                                        height: '40px'
                                                      }"></ngx-skeleton-loader>
                                    </div>
                                    <div class="badgeCat-title">
                                        <ngx-skeleton-loader [theme]="{
                                                        width: '170px',
                                                        height: '40px'
                                                      }"></ngx-skeleton-loader>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="badgeCat_card">
                                    <div class="badgeCat">
                                        <ngx-skeleton-loader [theme]="{ width: '216px', height: '100px','margin': '5px'}">
                                        </ngx-skeleton-loader>
                                    </div>
                                    <div class="badgeCat-title">
                                        <ngx-skeleton-loader [theme]="{
                                                        width: '170px',
                                                        height: '40px'
                                                      }"></ngx-skeleton-loader>
                                    </div>
                                    <div class="badgeCat-title">
                                        <ngx-skeleton-loader [theme]="{
                                                        width: '170px',
                                                        height: '40px'
                                                      }"></ngx-skeleton-loader>
                                    </div>
                                </div>
                            </td>
                        </div>
                    </div>
                </div>
            </tr>
        </table> -->
        <!-- <div *ngIf="skeleton">
            <div class="multiple_category_card_container" *ngIf="!noDataFound">


                <div class="content_width">
                    <div class="cards_container" *ngIf="!noCategory">

                        <div class="singel_card" *ngFor="let item of badgecategory ;let i=index">
                            <div class="overlay_hidden" [hidden]="item.visible == 1">
                                <i title="Disabled" id="enable_{{item.visible}}" class="fa fa-eye-slash" aria-hidden="true" (click)="disableCategory(2,item)"></i>
                            </div>


                            <div class="singel_card_image pointer" *ngIf="item.picRef" [ngStyle]="{'background-image': 'url(' + item.picRef + ')'}" (click)="gotoBadges(item)">
                            </div>
                            <div class="singel_card_image not_found pointer" *ngIf="!item.picRef" (click)="gotoBadges(item)">
                            </div>


                            <div class="card_title pointer" (click)="gotoBadges(item)">
                                <div *ngIf="item?.cname">
                                    <div class="" title="{{item.cname}}" *ngIf="item?.cname?.length <= 15">{{item.cname}}</div>
                                    <div class="" title="{{item.cname}}" *ngIf="item?.cname?.length > 15">
                                        {{item.cname.substring(0,15)}}...</div>
                                </div>
                                <div *ngIf="!(item?.cname)">Not Available</div>
                            </div>




                            <div class="user-icon pointer">
                                <div class="icons-enable-disable" title="Edit" (click)="gotoaddedit(item,1)">
                                    <i aria-hidden="true" class="fa fa-edit"></i>
                                </div>

                                <div class="icons-enable-disable">
                                    <i title="Enabled" id="disable_{{item.visible}}" class="fa fa-eye" aria-hidden="true" (click)="disableCategory(1,item)" [hidden]="item.visible == 0"></i>

                                    <i title="Disabled" id="enable_{{item.visible}}" class="fa fa-eye-slash" aria-hidden="true" (click)="disableCategory(2,item)" [hidden]="item.visible == 1"></i>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <div *ngIf="skeleton">
            <div *ngIf="!noDataFound ">
                <!-- [ngStyle]="{ height: conentHeight }" style="overflow-y: auto" -->
                <div *ngIf="!noCategory" (scroll)="onScroll(scrollMe)" #scrollMe class="overflow_scroll_cards_container">
                    <div *ngFor="let item of displayArray;let i=index">
                        <ngx-card (disabled)="clickTodisable(item)" (sectionEdit)="gotoCardaddedit(item)" [cardsList]="item" [config]="cardModify" (gotoDetails)="gotoCardBadges(item)"></ngx-card>
                    </div>
                </div>
            </div>
        </div>



        <ngx-no-data *ngIf="noDataFound ||noCategory" [config]="noDataVal"></ngx-no-data>
        <!-- <div *ngIf="noCategory">
            <div class="col-md-12 ">
                <img style="width: 100px;" src='assets/images/noDataFound1.png' onerror="this.src='assets/images/noDataFound1.png';">
            <img src='assets/images/noDataFound2.png' onerror="this.src='assets/images/noDataFound2.png';">
            <p class="nodata"> No Data Found</p>
            </div>
            <ngx-no-data></ngx-no-data>
        </div> -->
    </div>
    <ngx-sidebar-form *ngIf="popupModal" [sidebarTitle]="badgeTitle" [buttonName]="btnName" (saveBtn)="Submit(category, catForm)" (outside)="closeModal()" (closeBtn)="closeModal()">


        <!-- <div class="deleteModalBackdrop" *ngIf="popupModal"> -->
        <form #catForm="ngForm">
            <div class="col-md-12">
                <!-- <div class="modal-header">
                    <span *ngIf="addAction">Add category</span>
                    <span *ngIf="!addAction">Edit category</span>
                    <button class="close" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
                </div> -->
                <div class="modal-body">

                    <div class="container2">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    <label class="side-form-label">{{helpContent?.add_edit_badge_category?.category_name.label}}<sup>&#x2731;</sup>
                                        <app-info-tooltip [description]="helpContent?.add_edit_badge_category?.category_name?.labelHelpContent">
                                        </app-info-tooltip>
                                      </label>
                                    <!-- <label for="">
                  {{helpContent?.add_edit_badge_category?.category_name.label}}
                  <sup class="required_mark">*</sup>
                  <div class="help-tooltip">
                    <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                    <div class="help-tooltip-position-right">
                      <p>{{helpContent?.add_edit_badge_category?.category_name?.labelHelpContent}}</p>
                      <i></i>
                    </div>
                  </div>
                </label> -->
                                    <input type="text" class="form-control commonInput" id="name" name="name" required [(ngModel)]="category.name" #name="ngModel" placeholder="Max 50 characters" minlength="2" maxlength="50">
                                    <!-- <div *ngIf="name.errors && (name.dirty || name.touched)" class="alert alert-danger">
                  <div [hidden]="!name.errors.required">Categoty name is required.</div>
                  <div [hidden]="!name.errors.minlength">Minimum 5 and maximum 50 characters are allowed.</div>
                </div> -->

                                    <div *ngIf="name.errors && (name.dirty || name.touched)">
                                        <small class="invalid-msg" [hidden]="!name.errors.required">Category name is
                    required.</small>
                                        <small class="invalid-msg" [hidden]="!name.errors.minlength">Minimum 2 characters
                    required</small>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    <label class="side-form-label">{{helpContent?.add_edit_badge_category?.description.label}}<sup>&#x2731;</sup>
                                        <app-info-tooltip [description]="helpContent?.add_edit_badge_category?.description?.labelHelpContent">
                                        </app-info-tooltip>
                                      </label>
                                    <!-- <label for="">
                  {{helpContent?.add_edit_badge_category?.description.label}}
                  <sup class="required_mark">*</sup>
                  <div class="help-tooltip">
                    <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                    <div class="help-tooltip-position-right">
                      <p>{{helpContent?.add_edit_badge_category?.description?.labelHelpContent}}</p>
                      <i></i>
                    </div>
                  </div>
                </label> -->
                                    <textarea type="text" class="form-control commonTextarea" id="desc" name="desc" required [(ngModel)]="category.desc" #desc="ngModel" placeholder="Min 20 and Max 500" maxlength="500" minlength="20"></textarea>
                                    <!-- <div *ngIf="desc.errors && (desc.dirty || desc.touched)" class="alert alert-danger">
                  <div [hidden]="!desc.errors.required">Description is required.</div>
                  <div [hidden]="!desc.errors.minlength">Minimum 20 and maximum 500 characters are allowed.</div>
                </div> -->

                                    <div *ngIf="desc.errors && (desc.dirty || desc.touched)">
                                        <small class="invalid-msg" [hidden]="!desc.errors.required">Description is required.</small>
                                        <small class="invalid-msg" [hidden]="!desc.errors.minlength">Minimum 20 characters
                    required</small>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>



                    <div class="container3">
                        <label class="side-form-label">{{helpContent?.add_edit_badge_category?.category_image.label}}
                            <app-info-tooltip [description]="helpContent?.add_edit_badge_category?.category_image?.labelHelpContent">
                            </app-info-tooltip>
                          </label>
                        <!-- <label class="imgLblMargin">
            {{helpContent?.add_edit_badge_category?.category_image.label}}
            <sup class="required_mark">*</sup>
            <div class="help-tooltip">
              <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
              <div class="help-tooltip-position-right">
                <p>{{helpContent?.add_edit_badge_category?.category_image?.labelHelpContent}}</p>
                <i></i>
              </div>
            </div>
          </label> -->
                        <!-- <div class="course-icon">

              <div class="m0 courseIcon-upload">
                <div class="courseIcon-edit">

                  <input type='file' id="imageUploadBadge" accept=".png, .jpg, .jpeg" (change)="readBadgeCategoryThumb($event)" />
                  <label for="imageUploadBadge" class="editLabel"></label>
                </div>
                <div class="courseIcon-delete" (click)="deleteBadgeCategoryThumb()">
                  <label class="deleteLabel"></label>
                </div>
                <div class="courseIcon-preview">

                  <img *ngIf="category.picRef" class="imgAddEdit" src="{{category.picRef}}">
                  <img *ngIf="!category.picRef" class="imgAddEdit" src="assets/images/badgeNew.png">

                  <div class="fileexterrclass" *ngIf="fileexterror">File format not supported.</div>

                </div>
              </div>
            </div> -->

                        <div class="certIconbc">
                            <div class="m0 certIconbc-upload">
                                <div class="certIconbc-edit">
                                    <input type='file' id="imageUploadBadge" accept=".png, .jpg, .jpeg" (change)="readBadgeCategoryThumb($event)" />
                                    <label for="imageUploadBadge" title="Change Thumbnail"></label>
                                </div>
                                <div class="certIconbc-delete" (click)="deleteBadgeCategoryThumb()">
                                    <label title="Restore to default"></label>
                                </div>
                                <div class="certIconbc-preview">
                                    <img *ngIf="category.picRef" src="{{category.picRef}}">
                                    <img *ngIf="!category.picRef" src="assets/images/courseicon.jpg">

                                    <small class="invalid-msg" *ngIf="fileexterror">File format not supported.</small>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- <div class="modal-footer">
                    <button class="constantbtn-button-blue-left" (click)="Submit(category, catForm)">Save</button>
                </div> -->

            </div>

        </form>

        <!-- </div> -->
    </ngx-sidebar-form>
    <!-- <div class="col-md-12" *ngIf="noDataFound">
        <img style="width: 1000px;" src='assets/images/noDataFound1.png' onerror="this.src='assets/images/noDataFound1.png';">
        <img src='assets/images/noDataFound2.png' onerror="this.src='assets/images/noDataFound2.png';">
        <p class="nodata"> No Data Found</p>
    </div> -->
</div>
<!-- <div *ngIf="noladders">
      <div class="NoDataDiv">
          No Ladders Found.
      </div>
  </div>
  </div>

  <div *ngIf="Nodatafound">
      <div class="NoDataDiv">
          No Data Found.
      </div>
  </div> -->


<div class="deleteModalBackdrop" *ngIf="enableDisableBadgeCatModal">
    <div class="deleteModal">
        <div class="modal-header deleteModalHeader">
            <p class="enableDisableModalHeaderP" *ngIf="enableCat">{{title}}</p>
            <p class="enableDisableModalHeaderP" *ngIf="!enableCat">{{title}}</p>
            <button class="close closeDeleteModalBtn" aria-label="Close" (click)="closeEnableDisableBadgeCatModal()">
        <span aria-hidden="true">&times;</span>
      </button>
        </div>

        <div class="modal-body">
            <div *ngIf="enableCat">
                <p class="enableDisableModalBodyP">Are you sure you want to Enable {{catName}} ?</p>
            </div>
            <div *ngIf="!enableCat">
                <p class="enableDisableModalBodyP">Are you sure you want to Disable {{catName}} ?</p>
            </div>
        </div>

        <div class="modal-footer">
            <div class="">
                <button type="button" class="constantbtn-button-blue-left" (click)="enableDisableBadgeCategoryAction(1)">Yes</button>
            </div>
            <div class="">
                <button type="button" class="constantbtn-button-blue-right" (click)="enableDisableBadgeCategoryAction(2)">No</button>
            </div>
        </div>
    </div>
</div>
<!-- <div class="cerdivBadgebc col-md-12 sticky-top">
    <div class="col-md-6 certSubdiv2bc" >
    <h3 class="heading">Badges category</h3>
    </div>

    <div class="col-md-6 text-right" style="padding: 0;">
    <button type="button" class="constantbtn-button-blue-left" (click)="gotoaddedit('',0)">Add Category</button>
    <button type="button" class="constantbtn-button-blue-right" (click)="back()" id="editbtnEnroll">Back</button>

    </div>
  </div>


<div class="widgets" *ngIf="!noDataFound">

    <div ba-panel ba-panel-class="with-scroll" *ngIf="!noCategory">
        <section id="feature sec" class="section01">
            <div class="row col-md-12 catrow">
                <div *ngFor="let item of rows ; let i=index" class="card col-md-3">
                    <div (click)="gotoBadges(item)">
                        <a *ngIf="!item.picRef" style="cursor: pointer;">
                            <img src='assets/images/courseicon.jpg'>
                        </a>
                        <a *ngIf="item.picRef" style="cursor: pointer;">
                            <img src={{item.picRef}}>
                        </a>
                    </div>

                    <div (click)="gotoBadges(item)">
                        <div class="catsep">
                            <p class="toolcatp1 tooltip1">{{item.cname}}</p>
                        </div>
                        <div class="col-sm-12" style="height: 70px;border-bottom: 1px solid #f1f5f8;">
                            <p class="catdesp" title="{{item.description}}">{{item.desc | slice:0:120}}</p>
                        </div>
                    </div>

                    <div class="col-sm-12 card-footer-main">
                        <div class="col-sm-6 card-footer-sub">
                            <div class="" title="Edit" (click)="gotoaddedit(item,1)">
                                <i class="fa fa-edit card-footer-icon pointer" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="col-sm-6 card-footer-sub">
                            <div class="">
                                <i title="Enabled" id="disable_{{item.visible}}" class="fa fa-eye card-footer-icon pointer" aria-hidden="true" (click)="disableCategory(1,item)" [hidden]="item.visible == 0"></i>
                                <i title="Disabled" id="enable_{{item.visible}}" class="fa fa-eye-slash card-footer-icon pointer" aria-hidden="true" (click)="disableCategory(2,item)" [hidden]="item.visible == 1"></i>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </section>
    </div>

    <div *ngIf="noCategory">
      <div class="NoDataDiv">
          No Category Found.
      </div>
  </div>

  </div> -->