@import '../../../@theme/styles/variable.scss';
.badge_main_container {
    // .cerdivBadgebc {
    //     /* margin-left: 30px; */
    //     /*margin-top: 8px;*/
    //     transform: none;
    //     background: #fff;
    //     height: 55px;
    //     margin: 0 ;
    //     padding: 13px;
    //     position: sticky;
    //     top: 67px;
    //      z-index: 1090;
    //   }
    //   .certSubdiv2bc {
    //     float: left;
    //   }
    //   .floterightcertbc {
    //     float: right;
    //   }
    //   .constantbtncertbc{
    //     width: auto ;
    //     border: none;
    //     padding: 6px 14px ;
    //     background-color: #076ba1 ;
    //     color: #fff ;
    //     text-transform: uppercase ;
    //     min-width: 90px ;
    //     max-height: 29px ;
    //   }
    //   .certBackbtnbc{
    //     width: auto ;
    //     border: none;
    //     padding: 6px 14px ;
    //     background-color: #bbc0c3 ;
    //     color: #fff ;
    //     text-transform: uppercase ;
    //     min-width: 90px ;
    //     max-height: 29px ;
    //     margin-left: 5px;
    //   }
    //   .catrow {
    //     height: auto;
    //     width: 100%;
    //     display: inline-flex;
    //     margin: 0px;
    //     padding: 0px;
    //   }
    //   .catrow>div {
    //     // width: 100%;
    //     // padding: 0;
    //     // margin:3%;
    //     // height: 100%;
    //     width: 100%;
    //     padding: 0;
    //     margin: 4% 0 0 4%;
    //     height: 100%;
    //     flex: 0 0 20%;
    //     a {
    //         text-align: center;
    //     }
    //     a>img {
    //         // width: 100%;
    //         width: 100%;
    //         // height: 100%;
    //         height: 125.656px;
    //         // height: 190px;
    //     }
    //     div {
    //         width: 100%;
    //         // margin: 0.7rem 0;
    //         .toolcatp1 {
    //             text-align: center;
    //             margin: 1% 0% ;
    //             // width: 92%;
    //             width: 100%;
    //             cursor: pointer;
    //             font-size: 16px;
    //             font-weight: 500;
    //             color: black;
    //         }
    //         .toolcat1 {
    //             width: 8%;
    //             float: right;
    //             margin: 3% 0% ;
    //         }
    //     }
    //   }
    //   .catsep {
    //     border-bottom: 1px solid #f1f5f8;
    //     margin-bottom: 5px;
    //   }
    .addSelfDemoModalCat {
        margin: auto;
        width: 50%;
        background-color: #fff;
        border-radius: 5px;
        margin-top: 2%;
    }
    .modal-header {
        background-color: #076ba1;
        height: 55px;
        color: #fff;
    }
    .modal-footer {
        height: 55px;
    }
    .modal-body .row {
        margin: 20px 0;
    }
    .modal-body {
        position: relative;
        padding: 0;
        display: flex;
        box-sizing: border-box;
    }
    .close {
        float: right;
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1;
        color: #fff;
        text-shadow: 0 1px 0 #fff;
        opacity: 0.5;
    }
    .container2 {
        width: 50%;
        padding: 0 10px;
    }
    .container3 {
        width: 50%;
        // padding: 40px;
        padding: 20px 30px;
    }
    .imgLblMargin {
        margin-bottom: 8px;
        margin-left: 10px;
    }
    .course-icon {
        margin: 0 auto;
    }
    .courseIcon-upload {
        position: relative;
        max-width: 205px;
        /*margin: 50px auto;*/
        .courseIcon-edit {
            // position: absolute;
            // right: 12px;
            // z-index: 1;
            // top: 10px;
            position: absolute;
            z-index: 1;
            bottom: 4px;
            left: 7px;
            input {
                display: none;
                +.editLabel {
                    display: inline-block;
                    width: 34px;
                    height: 34px;
                    margin-bottom: 0;
                    border-radius: 100%;
                    background: #ffffff;
                    border: 1px solid transparent;
                    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
                    cursor: pointer;
                    font-weight: normal;
                    transition: all 0.2s ease-in-out;
                    &:hover {
                        background: #f1f1f1;
                        border-color: #d6d6d6;
                    }
                    &:after {
                        content: "\f040";
                        font-family: "FontAwesome";
                        color: #757575;
                        position: absolute;
                        top: 10px;
                        left: 0;
                        right: 0;
                        text-align: center;
                        margin: auto;
                    }
                }
            }
        }
        .courseIcon-delete {
            // position: absolute;
            // right: 12px;
            // z-index: 1;
            // bottom: 10px;
            position: absolute;
            // right: 20px;
            right: -17px;
            z-index: 1;
            bottom: 4px;
            .deleteLabel {
                display: inline-block;
                width: 34px;
                height: 34px;
                margin-bottom: 0;
                border-radius: 100%;
                background: #ffffff;
                border: 1px solid transparent;
                box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
                cursor: pointer;
                font-weight: normal;
                transition: all 0.2s ease-in-out;
                &:hover {
                    background: #f1f1f1;
                    border-color: #d6d6d6;
                }
                &:after {
                    content: "\f1f8";
                    font-family: "FontAwesome";
                    color: #757575;
                    position: absolute;
                    top: 10px;
                    left: 0;
                    right: 0;
                    text-align: center;
                    margin: auto;
                }
            }
        }
        .courseIcon-preview {
            // width: 192px;
            // height: 192px;
            width: 230px !important;
            height: 170px;
            position: relative;
            //border-radius: 100%;
            // border: 6px solid #F8F8F8;
            box-shadow: 3px 4px 4px 2px rgba(0, 0, 0, 0.1);
            >div {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
            }
        }
    }
    @media (max-width: 991px) {
        .container3 {
            padding: 8% 0;
        }
        .courseIcon-upload .courseIcon-preview {
            width: 110px;
            height: 110px;
        }
        .courseIcon-upload .courseIcon-preview>div {
            width: 100px;
            height: 100px;
        }
        .courseIcon-upload .courseIcon-delete label {
            margin-bottom: -20px;
        }
        .courseIcon-upload .courseIcon-edit {
            top: -9px;
        }
    }
    //   .constantbtn{
    //     width: auto ;
    //     border: none;
    //     padding: 6px 14px ;
    //     background-color: #076ba1 ;
    //     color: #fff ;
    //     text-transform: uppercase ;
    //     min-width: 90px ;
    //     max-height: 29px ;
    //   }
    //   .floterightgami {
    //     float: right;
    //   }
    .imgAddEdit {
        width: inherit;
        // height: -webkit-fill-available;
        //border-radius: 50%;
    }
    .enableDisableModalBodyP {
        margin: 1rem;
    }
    // .NoDataDiv{
    //   position:fixed;
    //   top: 50%;
    //   left: 52%;
    // }
    .required_mark {
        font-size: 20px;
        font-weight: 100;
        top: -0.3em;
        color: #ed462f;
    }
    // .reqField{
    //   display: inline;
    //   color: #ed462f ;
    // }
    .fileexterrclass {
        text-align: -webkit-center;
        color: brown;
        /* margin: auto; */
        margin: 5px;
    }
    .certIconbc {
        margin: 0 auto;
        text-align: -webkit-center;
    }
    .certIconbc-upload {
        position: relative;
        .certIconbc-edit {
            position: absolute;
            left: 20px;
            z-index: 1;
            bottom: 10px;
            input {
                display: none;
                +label {
                    display: inline-block;
                    width: 34px;
                    height: 34px;
                    margin-bottom: 0;
                    border-radius: 100%;
                    background: #ffffff;
                    border: 1px solid transparent;
                    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
                    cursor: pointer;
                    font-weight: normal;
                    transition: all 0.2s ease-in-out;
                    &:hover {
                        background: #f1f1f1;
                        border-color: #d6d6d6;
                    }
                    &:after {
                        content: "\f040";
                        font-family: "FontAwesome";
                        // color: #757575;
                        color: var(--colorIcons);
                        position: absolute;
                        top: 10px;
                        left: 0;
                        right: 0;
                        text-align: center;
                        margin: auto;
                    }
                }
            }
        }
        .certIconbc-delete {
            position: absolute;
            right: 20px;
            z-index: 1;
            bottom: 10px;
            label {
                display: inline-block;
                width: 34px;
                height: 34px;
                margin-bottom: 0;
                border-radius: 100%;
                background: #ffffff;
                border: 1px solid transparent;
                box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
                cursor: pointer;
                font-weight: normal;
                transition: all 0.2s ease-in-out;
                &:hover {
                    background: #f1f1f1;
                    border-color: #d6d6d6;
                }
                &:after {
                    content: "\f1f8";
                    font-family: "FontAwesome";
                    // color: #757575;
                    color: var(--colorIcons);
                    position: absolute;
                    top: 10px;
                    left: 0;
                    right: 0;
                    text-align: center;
                    margin: auto;
                }
            }
        }
        .certIconbc-preview {
            width: 200px;
            height: 170px;
            width: auto;
            position: relative;
            border: 6px solid #fbfbfb;
            -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
            >img {
                width: 100%;
                height: 100%;
            }
        }
    }
    // .heading{
    //   margin-top: 0px;
    // }
    @import "../../../@theme/styles/variable.scss";
    .badge_div {
        .content_width {
            width: 78vw;
            margin: 0 auto;
        }
        .top_header_container {
            background: #fff;
            position: sticky;
            top: 4.75rem;
            z-index: 1020;
            .top_header_div_sticky {
                background: #fff;
                display: grid;
                grid-template-columns: 0.5fr 1fr 1fr;
                height: 50px;
                align-items: center;
                .page_title {
                    text-align: left;
                    h4 {
                        margin: 0;
                    }
                }
                // .filter_div{
                //     // display: grid;
                //     // grid-template-columns: 1fr 1fr;
                //     // grid-column-gap: 10px;
                //     align-items: center;
                //     .drop_down{
                //         border: 1px solid $border_color;
                //         .drop_down_select{
                //             height: 30px;
                //             border: none;
                //             box-shadow: none;
                //         }
                //     }
                .search_div {
                    display: grid;
                    grid-template-columns: auto 20px;
                    border: 1px solid $border_color;
                    .search_field {
                        height: 30px;
                        border: none !important;
                        box-shadow: none;
                        padding: 0 10px;
                        &::placeholder {
                            font-size: 14px;
                        }
                    }
                    .remove_icon {
                        line-height: 30px;
                    }
                }
            }
            .buttons_div {
                text-align: right;
            }
        }
    }
    .multiple_category_card_container {
        background: $background_for_card_container;
        margin: 20px 20px 30px;
        width: 95%;
        // margin: auto;
        .cards_container {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-column-gap: 30px;
            grid-row-gap: 30px;
            .singel_card {
                position: relative;
                background: #fff;
                text-align: center;
                box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
                border-radius: 10px;
                .overlay_hidden {
                    position: absolute;
                    background: rgba(0, 0, 0, 0.5);
                    height: 100%;
                    width: 100%;
                    display: grid;
                    align-items: center;
                    font-size: 30px;
                    color: #fff;
                    border-radius: 10px;
                    i {
                        cursor: pointer;
                    }
                }
                // border-bottom-left-radius: 10px ;
                // border-bottom-right-radius: 10px;
                // box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
                .singel_card_image {
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                    height: 150px;
                    width: 100%;
                    background-position: center;
                    background-size: cover;
                    //    background
                }
                .card_title {
                    padding: 10px;
                    border-top: 1px solid $border_color;
                    border-bottom: 1px solid $border_color;
                    color: #000;
                    font-size: $font_size_for_cards;
                }
                .card_subtitle {
                    font-size: 14px;
                    padding: 10px;
                    // border-top: 1px solid #F1F5F8;
                    border-bottom: 1px solid $border_color;
                    color: #000;
                }
                .user-icon {
                    display: grid;
                    grid-template-columns: auto auto;
                    height: 40px;
                    align-items: center;
                    .icons-enable-disable {
                        border-right: 1px solid $border_color;
                        color: $icon_font_color;
                        font-size: 20px;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
                .content-icons {
                    text-align: center;
                    border-bottom: 1px solid $border_color;
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    align-items: center;
                }
                .para_margin_0 {
                    margin: 0;
                }
            }
            .not_found {
                background-image: url("assets/images/courseicon.jpg");
            }
        }
    }
    .multiple_badgeCat_card_container {
        background: $background_for_card_container;
        margin: 20px 20px 30px;
        width: 95%;
        // margin: auto;
        .badgeCat_container {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-column-gap: 30px;
            grid-row-gap: 30px;
            .badgeCat_card {
                position: relative;
                background: #fff;
                text-align: center;
                box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
                border-radius: 10px;
            }
        }
    }
    // .badgeCat {
    //   margin-top: 10px;
    //   width: 60px;
    //   // height: 90px;
    // }
    .badgeCat-title {
        // width: 100px;
        // padding: 16px 25px 0px;
        margin-top: 5px;
        // height: 80px;
    }
    .badgeCat_width {
        width: 1000px;
    }
}

.deleteModalBackdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1503;
    background-color: #404040c2;
    .addSelfDemoModalCat {
        margin: auto;
        width: 45%;
        background-color: #fff;
        border-radius: 5px;
        margin-top: 2%;
        .modal-header {
            background-color: #076ba1;
            height: 55px;
            color: #fff;
            .close {
                float: right;
                font-size: 1.5rem;
                font-weight: 700;
                line-height: 1;
                color: #fff;
                text-shadow: 0 1px 0 #fff;
                opacity: 0.5;
                outline: none;
            }
        }
        .modalBody12 {
            height: 100%;
            padding: 15px;
        }
        .modal-footer {
            height: 55px;
        }
    }
}