<app-subheader [headerConfig]="header" (inputsearch)="search($event)" (addbtn)="addBtn()" (backClick)="back()" (Clear)="clear()"></app-subheader>
<div class="tableCompo">
    <ngx-enrol-table [label]="labels" [tableData]="pricingData" [pagination]="true">
    </ngx-enrol-table>
</div>


<ngx-sidebar-form *ngIf="sidebarForm" (saveBtn)="save()" (closeBtn)="cloeSidebar()" (outside)="cloeSidebar()" [sidebarTitle]="titleName" [buttonName]="btnName">
    <form>
        <div class="form-group" >
            <label class="side-form-label">Name of the pricing plan <sup>&#x2731;</sup></label>
            <input type="text" class="form-control" [ngClass]="{'invalid-form': valid}" placeholder="Enter name of the pricing plan">
            <small class="invalid-msg" *ngIf="valid">Lorem Ipsum is simply dummy text</small>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label class="side-form-label">Currency <sup>&#x2731;</sup></label>
                <select class="custom-select">
                    <option selected>Select currency type</option>
                    <option value="1">$</option>
                    <option value="2">$</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label class="side-form-label">Amount <sup>&#x2731;</sup></label>
                <input type="number" class="form-control" placeholder="Enter amount">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label class="side-form-label">Valid From</label>
                <input [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" class="form-control" placeholder="Slecet from date">
                <owl-date-time #dt1 [pickerType]="'calendar'"></owl-date-time>
            </div>
            <div class="form-group col-md-6">
                <label class="side-form-label">Valid To</label>
                <input [owlDateTime]="dt2" [owlDateTimeTrigger]="dt2" class="form-control" placeholder="Slecet to date">
                <owl-date-time #dt2 [pickerType]="'calendar'"></owl-date-time>
            </div>
        </div>
        <div class="form-group">
            <label class="side-form-label">Current Date</label>
            <input [owlDateTime]="dt3" [owlDateTimeTrigger]="dt3" class="form-control" placeholder="Slecet current date">
            <owl-date-time #dt3 [pickerType]="'calendar'"></owl-date-time>
        </div>
    </form>
</ngx-sidebar-form>