.quizCard {
    .bottomDiv {
        ul {
            li {
                // padding-bottom: 4px;
            }
        }
    }
}
// ================================
.quiz_main_container {
    .pointer {
        cursor: pointer;
    }
    .trHeader {
        text-align: center;
        text-transform: uppercase;
        font-weight: 500;
        padding: 8px;
        background-color: #2574a2
    }
    .btn:hover {
        transform: none;
    }
    #btnAdd:hover {
        background: #076ba1;
        background-color: #076ba1;
    }
    #btnBackHover:hover {
        background: #FF0000;
        background-color: #FF0000;
    }
    .btnAddCategory {
        margin: 10px;
        border-radius: 0px;
        background: #076ba1;
        background-color: #076ba1;
        transform: none;
        color: white;
        height: 37px;
        //padding: 5px;
        margin-right: 5px;
        border-color: #076ba1;
        transform: none;
    }
    .btnBack {
        border-radius: 0px;
        background: #076ba1;
        //padding: 5px;
        height: 37px;
        margin: 10px;
        color: white;
        transform: none;
    }
    #noMatch {
        margin: 10px;
        text-align: center;
        border-radius: 15px;
        border: 1px solid #076ba1;
        padding: 20px;
    }
    /* Center the loader */
    #loader {
        position: absolute;
        left: 50%;
        top: 70%;
        z-index: 1;
        width: 150px;
        height: 150px;
        margin: -75px 0 0 -75px;
        border: 16px solid #076ba1;
        border-radius: 50%;
        border-top: 16px solid #ffffff;
        /* border: 16px solid #f3f3f3; Light grey */
        /* border-top: 16px solid #3498db; Blue */
        width: 120px;
        height: 120px;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
    }
    @-webkit-keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
        }
    }
    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
    /* Add animation to "page content" */
    .animate-bottom {
        position: relative;
        -webkit-animation-name: animatebottom;
        -webkit-animation-duration: 1s;
        animation-name: animatebottom;
        animation-duration: 1s
    }
    @-webkit-keyframes animatebottom {
        from {
            bottom: -100px;
            opacity: 0
        }
        to {
            bottom: 0px;
            opacity: 1
        }
    }
    @keyframes animatebottom {
        from {
            bottom: -100px;
            opacity: 0
        }
        to {
            bottom: 0;
            opacity: 1
        }
    }
    .mid {
        vertical-align: middle;
        line-height: 21px;
        padding-right: 8px;
    }
    /*@import "../../../../theme/sass/conf/conf";*/
     :host /deep/.pie-charts {
        color: #fff;
        .pie-chart-item-container {
            position: relative;
            padding: 0 15px;
            float: left;
            box-sizing: border-box;
            .card {
                height: 114px;
            }
        }
        @media screen and (min-width: 1325px) {
            .pie-chart-item-container {
                max-width: 25%;
                flex: 0 0 25%
            }
        }
        @media screen and (min-width: 700px) and (max-width: 1325px) {
            .pie-chart-item-container {
                max-width: 50%;
                flex: 0 0 50%
            }
        }
        @media screen and (max-width: 700px) {
            .pie-chart-item-container {
                max-width: 100%;
                flex: 0 0 100%
            }
        }
        .pie-chart-item {
            position: relative;
            .chart-icon {
                position: absolute;
                right: 0;
                top: 3px;
            }
        }
        @media screen and (min-width: 1325px) and (max-width: 1650px),
        (min-width: 700px) and (max-width: 830px),
        (max-width: 400px) {
            .chart-icon {
                display: none;
            }
        }
        .chart {
            position: relative;
            display: inline-block;
            width: 84px;
            height: 84px;
            text-align: center;
            float: left;
        }
        .chart canvas {
            position: absolute;
            top: 0;
            left: 0;
        }
        .percent {
            display: inline-block;
            line-height: 84px;
            z-index: 2;
            font-size: 16px;
        }
        .percent:after {
            content: '%';
            margin-left: 0.1em;
            font-size: .8em;
        }
        .description {
            display: inline-block;
            padding: 20px 0 0 20px;
            font-size: 18px;
            opacity: 0.9;
            .description-stats {
                padding-top: 8px;
                font-size: 24px;
            }
        }
        .angular {
            margin-top: 100px;
        }
        .angular .chart {
            margin-top: 0;
        }
    }
    .tooltipMenu::after {
        content: " ";
        position: absolute;
        border-width: 10px;
        border-style: solid;
    }
    .bottomSide.tooltipMenu::after {
        bottom: 100%;
        left: 45%;
        border-color: transparent transparent white transparent;
    }
    .leftSide.tooltipMenu::after {
        left: 100%;
        top: 5%;
        border-color: transparent transparent transparent white;
    }
    .rightSide.tooltipMenu::after {
        right: 100%;
        top: 5%;
        border-color: transparent white transparent transparent;
    }
    .topSide.tooltipMenu::after {
        right: 45%;
        top: 100%;
        border-color: white transparent transparent transparent;
    }
    .bottomSide {
        top: 100%;
    }
    .topSide {
        bottom: 100%;
    }
    .leftSide {
        right: 70%;
        top: 15%
    }
    .catsep {
        border-bottom: 1px solid #f1f5f8;
        // margin-bottom: 5px;
    }
    .rightSide {
        left: 70%;
        top: 15%;
    }
    div li:hover .tooltipMenu {
        visibility: visible;
        cursor: pointer;
    }
    .tooltip {
        position: relative;
        display: inline-block;
        opacity: 1;
    }
    .tooltipMenu {
        visibility: hidden;
        position: absolute;
        z-index: 1;
    }
    .tooltipMenu {
        min-height: 100px;
        width: 45%;
        /* border: 1px solid #0d77b6;*/
    }
    .tooltipMenu ul li {
        color: #fff;
        padding: 13px;
        font-family: sans-serif;
        font-size: 15px;
        width: 100%;
        background: #62a8ea;
        display: flex;
        height: 2.5rem;
        border-radius: 1px;
    }
    .tooltipMenu ul li:hover {
        background: #0d77b6;
        color: white;
        cursor: pointer;
        font-weight: bold;
    }
    .card {
        color: #000000;
        background-color: #ffffff;
        /*border: 0px solid #0000000a;*/
        border: 0px;
        box-shadow: none;
    }
    .sec {
        float: none;
    }
    .catHead {
        border: none;
        background-color: #ffffff;
        height: auto;
        width: 100%;
        display: inline-flex;
    }
    .catsearchdiv {
        float: left;
        // margin: 7.5px;
        // margin: 10.5px;
        display: inline-flex;
        border: 1px solid #cbcbcb;
        padding: 0;
    }
    // .searchdiv{
    //   float: left;
    //   margin: 10px ;
    //   display: inline-flex;
    //   border: 1px solid #cbcbcb;
    //   padding: 0;
    // }
    .catsearchdiv>input {
        border-radius: 0;
        border: 0px;
        background-color: #ffffff;
         :focus {
            background-color: #ffffff;
        }
    }
    .catRemove {
        background-color: #ffffff;
        //padding: 9px 9px 0 0;
        // padding: 9px 1px 0px 0px;
        padding: 9px 5px;
    }
    .borderNone {
        border: none;
    }
    .btn-div {
        float: right;
        // margin: 8px;
        //padding: 5px 30px 5px 5px;
    }
    h1,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Poppins";
        width: 100%;
        margin-top: 16px;
    }
    .btn-div>button {
        float: right;
        background: #076ba1;
        border-color: #076ba1;
        color: #ffffff;
        border-radius: 0;
    }
    .catrow {
        height: auto;
        width: 100%;
        display: inline-flex;
        margin: 0px;
        padding: 0px;
    }
    .catrow>div {
        // width: 100%;
        // padding: 0;
        // margin:3%;
        // height: 100%;
        width: 100%;
        padding: 0;
        margin: 4% 0 0 4%;
        height: 100%;
        flex: 0 0 20%;
        a {
            text-align: center;
        }
        a>img {
            // width: 100%;
            width: 100%;
            height: 100%;
            // height: 190px;
        }
        div {
            width: 100%;
            // margin: 0.7rem 0;
            .toolcatp {
                text-align: center;
                margin: 1% 0%;
                width: 92%;
                cursor: pointer;
                font-size: 20px;
                font-weight: 500;
            }
            .toolcat {
                width: 8%;
                float: right;
                margin: 3% 0%;
            }
        }
    }
    .tolicon {
        font-size: 19px;
    }
    .catdesp {
        font-size: 12px;
    }
    .tooltipMenulist {
        display: flex;
        width: 5rem;
        ul {
            display: inherit;
            border-radius: 17px;
            padding-left: 7px;
        }
    }
    .firstli {
        border-bottom-left-radius: 6px;
        border-top-left-radius: 6px;
    }
    .lastli {
        border-bottom-right-radius: 6px;
        border-top-right-radius: 6px;
    }
    .al-content {
        padding: 0px;
    }
    .colpadd {
        padding: 0px;
    }
    .sticky-catHead {
        position: sticky;
        top: 67px;
        z-index: 3;
    }
    .pad14px {
        padding: 12px;
    }
    .marginTop14 {
        margin-top: 14px;
    }
    .notFoundPage {
        display: inline-block;
        width: 100%;
        padding: 10px;
        height: 100%;
    }
    // .badgeCount {
    //     display: inline-block;
    //     padding: 0.25em 0.4em;
    //     font-size: 100%;
    //     font-weight: bold;
    //     line-height: 1;
    //     color: #ed462f;
    //     text-align: center;
    //     white-space: nowrap;
    //     vertical-align: baseline;
    //     border-radius: 50px;
    //     background: #ffffff;
    //     border: 1px solid #ed462f;
    // }
    [data-notifications] {
        position: relative;
    }
    [data-notifications]:after {
        content: attr(data-notifications);
        position: absolute;
        background: white;
        border-radius: 50%;
        display: inline-block;
        padding: 0.8em;
        color: #c30e0e;
        right: -10px;
        top: -10px;
    }
    .dupSurveyModal {
        // position: absolute;
        // width: 100%;
        // height: 100%;
        // top: 67px;
        // background-color: #404040c2;
        // z-index: 2000;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        z-index: 1503;
        background-color: #404040c2;
        .dupSurveyModalSub {
            /*width: 80%;*/
            // width: 50%;
            // margin: auto;
            // background-color: #fff;
            // margin-top: 50px;
            // border-radius: 5px;
            width: 50%;
            margin: auto;
            background-color: #fff;
            margin-top: 65px;
            border-radius: 5px;
        }
    }
    .modal-body {
        position: relative;
        padding: 1.25rem;
        ;
        display: block;
        box-sizing: border-box;
    }
    .catque {
        margin: 5px 0;
    }
    .textleft {
        float: left;
    }
    .textright {
        float: right;
    }
    .bordright {
        border-right: 1px solid #f1f5f8;
    }
    .pointhand {
        cursor: pointer;
    }
    .borderbtm {
        border-bottom: 1px solid #eee
    }
    .borderrght {
        border-right: 1px solid #eee
    }
    .pad0 {
        padding: 0px;
    }
    .mar9 {
        margin: 9px 15px;
    }
    .mar6 {
        margin: 6px 0px;
    }
    .quiz-card {
        // color: #000000;
        // background-color: #ffffff;
        // /*border: 0px solid #0000000a;*/
        // border: 0px;
        // box-shadow: none;
        position: relative;
    }
    .quiz-disabled {
        background-color: #00000082;
        height: 100%;
        position: absolute;
        z-index: 2;
        /* color: #fff; */
        display: grid;
        text-align: center;
        align-items: center;
    }
    .disabled-icon {
        font-size: 30px;
        color: #fff;
        cursor: pointer;
    }
    @import '../../../@theme/styles/variable.scss';
    .quiz_div {
        .content_width {
            width: 78vw;
            margin: 0 auto;
        }
        .top_header_container {
            background: #fff;
            position: sticky;
            // top: 4.75rem;
            top: 1px;
            z-index: 1020;
            .top_header_div_sticky {
                background: #fff;
                display: grid;
                grid-template-columns: 1fr 5fr 2fr;
                height: 50px;
                align-items: center;
                .page_title {
                    text-align: left;
                    h4 {
                        margin: 0;
                    }
                }
                .filter_div {
                    // display: grid;
                    // grid-template-columns: 1fr 1fr;
                    // grid-column-gap: 10px;
                    align-items: center;
                    .drop_down {
                        border: 1px solid $border_color;
                        .drop_down_select {
                            height: 30px;
                            border: none;
                            box-shadow: none;
                        }
                    }
                    .search_div {
                        display: grid;
                        grid-template-columns: auto 20px;
                        border: 1px solid $border_color;
                        .search_field {
                            height: 30px;
                            border: none;
                            box-shadow: none;
                        }
                        .remove_icon {
                            line-height: 30px;
                        }
                    }
                }
                .buttons_div {
                    text-align: right;
                }
            }
        }
        .multiple_category_card_container {
            background: $background_for_card_container;
            margin: 20px auto;
            width: 95%;
            // margin: auto;
            .cards_container {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                grid-column-gap: 30px;
                grid-row-gap: 30px;
                .singel_card {
                    position: relative;
                    background: #fff;
                    text-align: center;
                    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
                    border-radius: 10px;
                    .overlay_hidden {
                        position: absolute;
                        background: rgba(0, 0, 0, 0.5);
                        height: 100%;
                        width: 100%;
                        display: grid;
                        align-items: center;
                        font-size: 30px;
                        color: #fff;
                        border-radius: 10px;
                        i {
                            cursor: pointer;
                        }
                    }
                    // border-bottom-left-radius: 10px ;
                    // border-bottom-right-radius: 10px;
                    // box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
                    .singel_card_image {
                        border-top-left-radius: 10px;
                        border-top-right-radius: 10px;
                        height: 150px;
                        width: 100%;
                        background-position: center;
                        background-size: cover;
                        //    background
                    }
                    .card_title {
                        padding: 10px;
                        border-top: 1px solid $border_color;
                        border-bottom: 1px solid $border_color;
                        color: #000;
                        font-size: $font_size_for_cards;
                    }
                    .card_subtitle {
                        font-size: 14px;
                        padding: 10px;
                        // border-top: 1px solid #F1F5F8;
                        border-bottom: 1px solid $border_color;
                        color: #000;
                        min-height: 55px;
                    }
                    .icon-div {
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        height: 40px;
                        align-items: center;
                        border-bottom: 1px solid $border_color;
                        .icon {
                            border-right: 1px solid $border_color;
                            color: $icon_font_color;
                            font-size: 20px;
                            height: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            margin: 0;
                        }
                        .icon:last-child {
                            border-right: 0px;
                        }
                    }
                    .icon-div:not(last) {
                        border-right: 1px solid $border_color;
                    }
                    .user-icon {
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        // grid-template-columns: 1fr 1fr 1fr;
                        height: 40px;
                        align-items: center;
                        .icons-enable-disable {
                            border-right: 1px solid $border_color;
                            color: $icon_font_color;
                            font-size: 20px;
                            height: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                    }
                    .content-icons {
                        text-align: center;
                        border-bottom: 1px solid $border_color;
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        align-items: center;
                    }
                    .para_margin_0 {
                        margin: 0;
                    }
                }
                .not_found {
                    background-image: url('assets/images/category.jpg');
                }
            }
        }
    }
}

// .gravatar {
//   margin-top: 10px;
//   width: 60px;
//   // height: 90px;
// }
.multiple_quiz_card_container {
    // background:$background_for_card_container;
    margin: 20px 0px 30px 25px;
    width: 95%;
    // margin: auto;
    .quiz_container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-column-gap: 30px;
        grid-row-gap: 30px;
        .quiz_card1 {
            position: relative;
            background: #fff;
            text-align: center;
            height: 290px;
            box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
            border-radius: 10px;
        }
    }
}

// .quiz {
//     margin-top: 10px;
//     width: 60px;
//     // height: 90px;
//   }
.quiz-title {
    // width: 100px;
    // padding: 16px 25px 0px;
    // height: 80px;
    margin-bottom: 5px;
    margin-top: 10px;
}

.quiz_width {
    width: 775px;
}

.close {
    outline: none;
}