<app-subheader [headerConfig]="header" (inputsearch)="onsearch($event)" (Clear)="clear()" (addbtn)="addeditccategory(undefined,0)" (backClick)="back()"></app-subheader>
<div class="quiz_main_container">
    <!-- [ngStyle]="{ height: conentHeight }" style="overflow-y: auto;" -->
    <div class="quiz_div" (scroll)="onScroll(scrollMe)" #scrollMe class="overflow_scroll_cards_container">
        <!-- <div class="multiple_category_card_container" *ngIf="quiz?.length !=0">
            <div class="loaderBackdrop" *ngIf="loader == true">
                <div id="loader"></div>
            </div>
            <div class="content_width">
                <div class="cards_container">
                    <div class="singel_card" *ngFor="let item of quiz;let j=index">
                        <div class="overlay_hidden" [hidden]="item.visible == 1">
                            <i title="Disabled" id="enable_{{item.courseId}}" class="fa fa-eye-slash" aria-hidden="true" (click)="disablequize(j,item)"></i>
                        </div>
                        <div class="singel_card_image pointer" *ngIf="item.picRef" [ngStyle]="{'background-image': 'url(' + item.picRef + ')'}" (click)="addeditccategory(item,1)">
                        </div>
                        <div class="singel_card_image not_found pointer" *ngIf="!item.picRef" (click)="addeditccategory(item,1)">
                        </div>
                        <div class="card_title pointer" (click)="addeditccategory(item,1)">
                            <div *ngIf="item?.qName">
                                <div class="" title="{{item.qName}}" *ngIf="item?.qName?.length <= 15">{{item.qName}}</div>
                                <div class="" title="{{item.qName}}" *ngIf="item?.qName?.length > 15">
                                    {{item.qName.substring(0,15)}}...</div>
                            </div>
                            <div *ngIf="item?.qName"></div>
                        </div>
                        <div class="card_subtitle">
                            Number of Questions :{{item.qcnt}}
                        </div>
                        <div class="card_subtitle">
                            Maximum Score :{{item.maxscore}}
                        </div>
                        <div class="card_subtitle">
                            Maximum Attempts :{{item.attLabel}}
                        </div>
                        <div class="user-icon">
                            <div class="icons-enable-disable" title="Edit" (click)="addeditccategory(item,1)">
                                <i aria-hidden="true" class="fa fa-edit"></i>
                            </div>
                            <div class="icons-enable-disable">
                                <i title="Enabled" class="fa fa-eye" aria-hidden="true" (click)="disablequize(j,item)" [hidden]="item.visible == 0"></i>
                                <i title="Disabled" class="fa fa-eye-slash" aria-hidden="true" (click)="disablequize(j,item)" [hidden]="item.visible == 1"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->



        <div *ngIf="quiz?.length != 0">
            <div *ngFor="let item of quiz;let i=index">
                <ngx-card (disabled)="clickTodisable(item,i)" [cardsList]="item" [config]="cardModify" (gotoDetails)="gotoCardaddedit(item)"></ngx-card>
            </div>
        </div>
        <app-skeleton [count]='count' *ngIf="!skeleton"></app-skeleton>

        <!-- <table *ngIf="!skeleton">
            <tr>
                <div class="multiple_quiz_card_container">
                    <div class="quiz_width">
                        <div class="quiz_container">
                            <td>
                                <div class="quiz_card1">
                                    <div class="quiz">
                                        <ngx-skeleton-loader [theme]="{ width: '216px', height: '140px','margin': '5px' }">
                                        </ngx-skeleton-loader>
                                    </div>
                                    <div class="quiz-title">
                                        <ngx-skeleton-loader [theme]="{
                                                    width: '170px',
                                                    height: '40px'
                                                  }"></ngx-skeleton-loader>
                                    </div>
                                    <div class="quiz-title">
                                        <ngx-skeleton-loader [theme]="{
                                                    width: '170px',
                                                    height: '40px'
                                                  }"></ngx-skeleton-loader>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="quiz_card1">
                                    <div class="quiz">
                                        <ngx-skeleton-loader [theme]="{ width: '216px', height: '140px','margin': '5px' }">
                                        </ngx-skeleton-loader>
                                    </div>
                                    <div class="quiz-title">
                                        <ngx-skeleton-loader [theme]="{
                                                    width: '170px',
                                                    height: '40px'
                                                  }"></ngx-skeleton-loader>
                                    </div>
                                    <div class="quiz-title">
                                        <ngx-skeleton-loader [theme]="{
                                                    width: '170px',
                                                    height: '40px'
                                                  }"></ngx-skeleton-loader>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="quiz_card1">
                                    <div class="quiz">
                                        <ngx-skeleton-loader [theme]="{ width: '216px', height: '140px','margin': '5px'}">
                                        </ngx-skeleton-loader>
                                    </div>
                                    <div class="quiz-title">
                                        <ngx-skeleton-loader [theme]="{
                                                    width: '170px',
                                                    height: '40px'
                                                  }"></ngx-skeleton-loader>
                                    </div>
                                    <div class="quiz-title">
                                        <ngx-skeleton-loader [theme]="{
                                                    width: '170px',
                                                    height: '40px'
                                                  }"></ngx-skeleton-loader>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="quiz_card1">
                                    <div class="quiz">
                                        <ngx-skeleton-loader [theme]="{ width: '216px', height: '140px','margin': '5px'}">
                                        </ngx-skeleton-loader>
                                    </div>
                                    <div class="quiz-title">
                                        <ngx-skeleton-loader [theme]="{
                                                    width: '170px',
                                                    height: '40px'
                                                  }"></ngx-skeleton-loader>
                                    </div>
                                    <div class="quiz-title">
                                        <ngx-skeleton-loader [theme]="{
                                                    width: '170px',
                                                    height: '40px'
                                                  }"></ngx-skeleton-loader>
                                    </div>
                                </div>
                            </td>
                        </div>
                    </div>
                </div>
            </tr>
            <tr>
                <div class="multiple_quiz_card_container">
                    <div class="quiz_width">
                        <div class="quiz_container">
                            <td>
                                <div class="quiz_card1">
                                    <div class="quiz">
                                        <ngx-skeleton-loader [theme]="{ width: '216px', height: '140px','margin': '5px'}">
                                        </ngx-skeleton-loader>
                                    </div>
                                    <div class="quiz-title">
                                        <ngx-skeleton-loader [theme]="{
                                                        width: '170px',
                                                        height: '40px'
                                                      }"></ngx-skeleton-loader>
                                    </div>
                                    <div class="quiz-title">
                                        <ngx-skeleton-loader [theme]="{
                                                        width: '170px',
                                                        height: '40px'
                                                      }"></ngx-skeleton-loader>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="quiz_card1">
                                    <div class="quiz">
                                        <ngx-skeleton-loader [theme]="{ width: '216px', height: '140px','margin': '5px'}">
                                        </ngx-skeleton-loader>
                                    </div>
                                    <div class="quiz-title">
                                        <ngx-skeleton-loader [theme]="{
                                                        width: '170px',
                                                        height: '40px'
                                                      }"></ngx-skeleton-loader>
                                    </div>
                                    <div class="quiz-title">
                                        <ngx-skeleton-loader [theme]="{
                                                        width: '170px',
                                                        height: '40px'
                                                      }"></ngx-skeleton-loader>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="quiz_card1">
                                    <div class="quiz">
                                        <ngx-skeleton-loader [theme]="{ width: '216px', height: '140px','margin': '5px'}">
                                        </ngx-skeleton-loader>
                                    </div>
                                    <div class="quiz-title">
                                        <ngx-skeleton-loader [theme]="{
                                                        width: '170px',
                                                        height: '40px'
                                                      }"></ngx-skeleton-loader>
                                    </div>
                                    <div class="quiz-title">
                                        <ngx-skeleton-loader [theme]="{
                                                        width: '170px',
                                                        height: '40px'
                                                      }"></ngx-skeleton-loader>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="quiz_card1">
                                    <div class="quiz">
                                        <ngx-skeleton-loader [theme]="{ width: '216px', height: '140px','margin': '5px'}">
                                        </ngx-skeleton-loader>
                                    </div>
                                    <div class="quiz-title">
                                        <ngx-skeleton-loader [theme]="{
                                                        width: '170px',
                                                        height: '40px'
                                                      }"></ngx-skeleton-loader>
                                    </div>
                                    <div class="quiz-title">
                                        <ngx-skeleton-loader [theme]="{
                                                        width: '170px',
                                                        height: '40px'
                                                      }"></ngx-skeleton-loader>
                                    </div>
                                </div>
                            </td>
                        </div>
                    </div>
                </div>
            </tr>
        </table> -->


        <div *ngIf="notFound">
            <!-- <div class="col-md-12 noDataDiv">
                <img class="noDataImg" src='assets/images/noDataFound1.png' onerror="this.src='assets/images/noDataFound1.png';">
            </div> -->
            <ngx-no-data [config]="noDataVal"></ngx-no-data>
        </div>
    </div>

    <div class="dupSurveyModal" *ngIf="QuizDup == true">
        <div class="dupSurveyModalSub">
            <div class="modal-header">
                <p>Duplicate Quiz</p>
                <button class="close" aria-label="Close" (click)="closeDuplicateModel()">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="mBodyQue modal-body">
                <div>
                    <form class="forms-sample" #duplicateForm="ngForm">
                        <div class="marginTop">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="space_left" for="dname">Name<h3 class="reqField">*</h3></label>
                                    <input type="text" class="form-control" id="dname" [(ngModel)]="duplicate.dname" required placeholder="Question Name" name="dname" #dname="ngModel">
                                    <div class="required_msg_text" [hidden]="dname.valid || dname.pristine">
                                        <small class="form-text text-muted" [hidden]="!dname.hasError('required')">Name is required</small>
                                    </div>
                                    <span></span>
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="space_left" for="ddesc">Description<h3 class="reqField">*</h3></label>
                                    <textarea type="text" class="form-control" id="ddesc" [(ngModel)]="duplicate.ddesc" required placeholder="Question Name" name="ddesc" #ddesc="ngModel"></textarea>
                                    <div class="required_msg_text" [hidden]="ddesc.valid || ddesc.pristine">
                                        <small class="form-text text-muted" [hidden]="!ddesc.hasError('required')">Description is
                      required</small>
                                    </div>
                                    <span></span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer text-right">
                <button type="button" class="constantbtn-button-blue-left" [disabled]="!duplicateForm.form.valid" (click)="saveDupSurvey(duplicate)" id="editbtn">SAVE</button>
            </div>
        </div>
    </div>
</div>
<div class="deleteModalBackdrop" *ngIf="enableDisableModal == true">
    <div class="deleteModal">
        <div class="modal-header deleteModalHeader">
            <p *ngIf="!enable" class="enableDisableModalHeaderP">Enable Quiz</p>
            <p *ngIf="enable" class="enableDisableModalHeaderP">Disable Quiz</p>
            <button class="close closeDeleteModalBtn" aria-label="Close" (click)="closeEnableDisableModal()">
                      <span aria-hidden="true">&times;</span>
                  </button>
        </div>
        <div class="modal-body">
            <div class="" *ngIf="!enable">
                <p class="enableDisableModalBodyP">Are you sure you want to enable this {{Disbaledata.qName}} ?</p>
            </div>
            <div class="" *ngIf="enable">
                <p class="enableDisableModalBodyP">Are you sure you want to disable this {{Disbaledata.qName}} ?</p>
            </div>
        </div>
        <div class="modal-footer deleteModalFooter">
            <div class="col-md-2">
                <button type="button" class="deleteModalBtn" (click)="enableDisableQuizAction(true)">Yes</button>
            </div>
            <div class="col-md-2">
                <button type="button" class="deleteModalBtn" (click)="enableDisableQuizAction(false)">No</button>
            </div>
        </div>
    </div>
</div>