<div class="calendarPadding">

    <div class="row" *ngIf="!addEditSlot">
        <div [ngSwitch]="view" class="col-md-7 mycalendar">
            <div class="text-center">
                <div class="col-md-12">
                    <div class="btn-group">
                        <div class="nominationPrevNxtbtn" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="closeOpenMonthViewDay()">
                            <i class="fas fa-angle-double-left"></i>
                        </div>
                        <div class="secondtab" mwlCalendarToday [(viewDate)]="viewDate">
                            {{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}
                        </div>
                        <div class="nominationPrevNxtbtn" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="closeOpenMonthViewDay()">
                            <i class="fas fa-angle-double-right"></i>
                        </div>
                    </div>
                </div>

            </div>
            <br />

            <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events" [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)" (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
            </mwl-calendar-month-view>

        </div>


        <br /><br /><br />
        <div class="col-md-5">
            <div class="row">


                <div class="table-responsive">
                    <!-- <div class="slotbtn">
            <button class="constantbtn-button-blue-left" (click)="addSlot()">Slot</button>
          </div> -->
                    <div class="evntcrdPadding" *ngIf="eventlist.length != 0">
                        <div>
                            <div class="cardEvnt" *ngFor="let event of eventlist">
                                <div class="date-content">
                                    <p class="event-date">{{ event.start | date: 'dd' }}</p>
                                    <p class="event-day">{{ viewDate | date: 'EEE' }}</p>
                                    <!-- calendarDate:(view + 'ViewTitle'):'en' -->
                                    <!-- <p class="monthblk">{{ event.start | date: 'month' }}{{ event.start | date: 'yyyy' }}</p> -->
                                </div>
                                <div class="event-content">
                                    <p class="nominationEventTitle">{{ event.title }}</p>
                                    <p class="nominationmonthblk">{{ event.trainerName }} ({{ event.displayName }})</p>
                                    <p class="nominationmonthblk">Call time : {{ event.displaytime }}</p>
                                </div>
                            </div>
                        </div>


                        <!-- <h4 [(ngModel)]="event.title">{{ event.title }}</h4>

                <div class="col-md-3">
                  <p class="lbl">{{ event.start | date: 'dd Month, yyyy' }}</p>

                </div>

                <div class="col-md-1 marginAu">
                  <button class="deletebtn" (click)="deleteEvent(event)">
                    <i class="fas fa-trash"></i>
                  </button>
                </div> -->
                    </div>
                    <ngx-no-data *ngIf="eventlist?.length == 0" [config]="noDataVal"></ngx-no-data>

                    <!-- <div class="no_event_found" *ngIf="eventlist.length == 0">
                        No Events to display.
                    </div> -->
                </div>
            </div>
        </div>
    </div>


    <div class="" *ngIf="addEditSlot">
        <div class=" btnssgroup">
            <!-- [disabled]="!evaluationForm.form.valid" -->
            <!-- <button class="constantbtn-button-blue-left marginRigth"
        (click)="addMoreSlots(evalutionSlotsArr)">Add Slot</button>
      <button class="constantbtn-button-blue-left"
        (click)="saveSlots(evalutionSlotsArr)">Save</button>
      <button class="back_button" (click)="back()">Cancel</button> -->
        </div>
        <ngx-no-data *ngIf="evalutionSlotsArr?.length == 0" [config]="noDataValue"></ngx-no-data>

        <div class="" *ngIf="evalutionSlotsArr?.length!=0">
            <form #evaluationForm="ngForm">
                <div class="labelDiv">
                    <label class="left_space">{{helpContent?.ttt_calendar_slots?.trainer_name?.label}}
                    <sup>&#x2731;</sup>
                    <app-info-tooltip  [description]="helpContent?.ttt_calendar_slots?.trainer_name?.labelHelpContent"></app-info-tooltip>
                    <!-- <label class="left_space" for="trainerName{{i}}">{{helpContent?.ttt_calendar_slots?.trainer_name?.label}}
            <sup class="reqFieldActivity">*</sup>
            <div class="help-tooltip">
              <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
              <div class="help-tooltip-position-right">
                <p>{{helpContent?.ttt_calendar_slots?.trainer_name?.labelHelpContent}}</p>
                <i></i>
              </div>
            </div> -->
          </label>

                    <label class="left_space">{{helpContent?.ttt_calendar_slots?.date?.label}}
            <sup>&#x2731;</sup>
            <app-info-tooltip  [description]="helpContent?.ttt_calendar_slots?.date?.labelHelpContent"></app-info-tooltip>
                    <!-- <label class="left_space" for="startdate{{i}}">{{helpContent?.ttt_calendar_slots?.date?.label}}
            <sup class="reqFieldActivity">*</sup>
            <div class="help-tooltip">
              <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
              <div class="help-tooltip-position-right">
                <p>{{helpContent?.ttt_calendar_slots?.date?.labelHelpContent}}</p>
                <i></i>
              </div>
            </div> -->
          </label>

                    <label class="left_space">{{helpContent?.ttt_calendar_slots?.from_Time?.label}}
            <sup>&#x2731;</sup>
            <app-info-tooltip  [description]="helpContent?.ttt_calendar_slots?.from_Time?.labelHelpContent"></app-info-tooltip>
                    <!-- <label class="left_space" for="time{{i}}">{{helpContent?.ttt_calendar_slots?.from_Time?.label}}
            <sup class="reqFieldActivity">*</sup>
            <div class="help-tooltip">
              <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
              <div class="help-tooltip-position-right">
                <p>{{helpContent?.ttt_calendar_slots?.from_Time?.labelHelpContent}}</p>
                <i></i>
              </div>
            </div> -->
          </label>

                    <label class="left_space">{{helpContent?.ttt_calendar_slots?.to_Time?.label}}
            <sup>&#x2731;</sup>
            <app-info-tooltip  [description]="helpContent?.ttt_calendar_slots?.to_Time?.labelHelpContent"></app-info-tooltip>
                    <!-- <label class="left_space" for="time1{{i}}">{{helpContent?.ttt_calendar_slots?.to_Time?.label}}
            <sup class="reqFieldActivity">*</sup>
            <div class="help-tooltip">
              <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
              <div class="help-tooltip-position-right">
                <p>{{helpContent?.ttt_calendar_slots?.to_Time?.labelHelpContent}}</p>
                <i></i>
              </div>
            </div> -->
          </label>
                </div>

                <div class="formInGrid calenderDiv" *ngFor="let item of evalutionSlotsArr;  let i=index">
                    <div class="">
                        <div class="form-group">
                            <!-- <label class="left_space" for="trainerName{{i}}">{{helpContent?.ttt_calendar_slots?.trainer_name?.label}}
                    <sup class="reqFieldActivity">*</sup>
                    <div class="help-tooltip">
                      <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                      <div class="help-tooltip-position-right">
                        <p>{{helpContent?.ttt_calendar_slots?.trainer_name?.labelHelpContent}}</p>
                        <i></i>
                      </div>
                    </div>
                  </label> -->

                            <angular2-multiselect [data]="trainers" name="trainerName{{i}}" id="trainerName{{i}}" [ngModelOptions]="{standalone: true}" #trainer="ngModel" [(ngModel)]="item.trainers" [settings]="settings" (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)"
                                (onSelectAll)="onSelectAll($event)" required (onDeSelectAll)="onDeSelectAll($event)">
                                <c-badge>
                                    <ng-template let-item="item">
                                        <label>{{item.trainerName}}</label>
                                        <!-- <img [src]="item.image" style="width: 16px; margin-right: 5px;" /> -->
                                    </ng-template>
                                </c-badge>
                                <c-item>
                                    <ng-template let-item="item">
                                        <label>{{item.trainerName}}</label>
                                        <!-- <img [src]="item.image" style="width: 30px; border: 1px solid #efefef;margin-right: 20px;" /> -->
                                        <!-- <label>Capital - {{item.capital}}</label> -->
                                    </ng-template>
                                </c-item>
                            </angular2-multiselect>
                            <!-- <input type="text" class="form-control form-control-input inputText" name="trainerName{{i}}" id="trainerName{{i}}"
                                placeholder="Enter Trainer Name" [(ngModel)]="item.trainerName" #trainerName="ngModel" required> -->
                            <div [hidden]="trainer.valid || trainer.pristine" class="invalid-msg">
                                <div [hidden]="!trainer.hasError('required')">Trainer Name is required</div>
                            </div>
                        </div>
                    </div>

                    <!-- <div class=""> -->
                    <div class="form-group">
                        <!-- <label class="left_space" for="startdate{{i}}">{{helpContent?.ttt_calendar_slots?.date?.label}}
                    <sup class="reqFieldActivity">*</sup>
                    <div class="help-tooltip">
                      <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                      <div class="help-tooltip-position-right">
                        <p>{{helpContent?.ttt_calendar_slots?.date?.labelHelpContent}}</p>
                        <i></i>
                      </div>
                    </div>
                  </label> -->

                        <div class="nominationfullwidth">
                            <input [owlDateTime]="dt1" [min]="item.minDate" [(ngModel)]="item.callDate" #startdate="ngModel" placeholder="dd-mm-yyyy" required class="form-control commonInput" name="startdate{{i}}" id="startdate{{i}}" (dateTimeChange)="validateEndDate($event.value)"
                                [owlDateTimeTrigger]="dt1">
                            <div class="nominationcalenderIcon" [owlDateTimeTrigger]="dt1"><i class="fa fa-calendar nominationcalfont"></i>
                            </div>
                            <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
                        </div>
                        <div [hidden]="startdate.valid || startdate.pristine" class="invalid-msg">
                            <div [hidden]="!startdate.hasError('required')">Start date is required</div>
                        </div>
                    </div>
                    <!-- </div> -->

                    <!-- <div class="">
            <div class="form-group">
              <label class="space_left" for="enddate{{i}}">To Date<h3 class="reqField">*
                </h3></label>
              <div class="nominationfullwidth">
                <input [owlDateTime]="dt2" [(ngModel)]="item.enddate" #enddate="ngModel" [min]="minDateto"
                  placeholder="dd/mm/yyyy" required class="form-control form-control-input nominationdateinput"
                  name="enddate{{i}}" id="enddate{{i}}" [owlDateTimeTrigger]="dt2">
                <div class="nominationcalenderIcon">
                  <i class="fa fa-calendar nominationcalfont"></i>
                </div>
                <owl-date-time [pickerType]="'calendar'" #dt2></owl-date-time>
              </div>
              <div [hidden]="enddate.valid || enddate.pristine" class="invalid-msg">
                <div [hidden]="!enddate.hasError('required')">End date is required</div>
              </div>
            </div>
          </div> -->

                    <div class="">
                        <div class="form-group">
                            <!-- <label class="left_space" for="time{{i}}">{{helpContent?.ttt_calendar_slots?.from_Time?.label}}
                    <sup class="reqFieldActivity">*</sup>
                    <div class="help-tooltip">
                      <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                      <div class="help-tooltip-position-right">
                        <p>{{helpContent?.ttt_calendar_slots?.from_Time?.labelHelpContent}}</p>
                        <i></i>
                      </div>
                    </div>
                  </label> -->

                            <div class="nominationfullwidth">
                                <!-- {{item.time}} -->
                                <input placeholder="hh:mm:ss" [min]="item.minCallStartTime" [(ngModel)]="item.callStartTime" #time="ngModel" name="time{{i}}" id="time{{i}}" class="form-control commonInput" [owlDateTimeTrigger]="dp2" [owlDateTime]="dp2" [hour12Timer]="'false'" required>
                                <owl-date-time [pickerType]="'timer'" #dp2></owl-date-time>
                            </div>
                            <div [hidden]="time.valid || time.pristine" class="invalid-msg">
                                <div [hidden]="!time.hasError('required')">Time is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <div class="form-group">
                            <!-- <label class="left_space" for="time1{{i}}">{{helpContent?.ttt_calendar_slots?.to_Time?.label}}
                      <sup class="reqFieldActivity">*</sup>
                      <div class="help-tooltip">
                        <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                        <div class="help-tooltip-position-right">
                          <p>{{helpContent?.ttt_calendar_slots?.to_Time?.labelHelpContent}}</p>
                          <i></i>
                        </div>
                      </div>
                    </label> -->

                            <div class="nominationfullwidth">
                                <!-- {{item.time}} -->
                                <input placeholder="hh:mm:ss" [(ngModel)]="item.callEndTime" #timeEnd="ngModel" name="timeEnd{{i}}" id="timeEnd{{i}}" class="form-control commonInput" [owlDateTimeTrigger]="dp3" [owlDateTime]="dp3" [hour12Timer]="'false'" required>
                                <owl-date-time [pickerType]="'timer'" #dp3></owl-date-time>
                            </div>
                            <div [hidden]="timeEnd.valid || timeEnd.pristine" class="invalid-msg">
                                <div [hidden]="!timeEnd.hasError('required')">Time is required</div>
                            </div>
                        </div>
                    </div>

                    <div class="remove_btn_algn align-self-baseline" *ngIf='!item.employeeId' (click)="deleteSlot(i, item)">
                        <button class="subBttn focus">Delete</button>
                        <!-- <div class="removeButton">
              <i class="far fa-times-circle"></i>
            </div> -->
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>
<!-- ***************************************** SCRAP *************************************************** -->

<!-- <mwl-calendar-week-view
        *ngSwitchCase="CalendarView.Week"
        [viewDate]="viewDate"
        [events]="events"
        [refresh]="refresh"
        (eventClicked)="handleEvent('Clicked', $event.event)"
        (eventTimesChanged)="eventTimesChanged($event)"
      >
      </mwl-calendar-week-view>
      <mwl-calendar-day-view
        *ngSwitchCase="CalendarView.Day"
        [viewDate]="viewDate"
        [events]="events"
        [refresh]="refresh"
        (eventClicked)="handleEvent('Clicked', $event.event)"
        (eventTimesChanged)="eventTimesChanged($event)"
      >
      </mwl-calendar-day-view> -->

<!-- <input
                      type="text"
                      class="form-control inputboxs"
                      [(ngModel)]="event.title"
                      (keyup)="refresh.next()"
                    /> -->
<!-- <input
                          type="color"
                          [(ngModel)]="event.color.primary"
                          (change)="refresh.next()"
                        />

                        <input
                          type="color"
                          [(ngModel)]="event.color.secondary"
                          (change)="refresh.next()"
                        /> -->

<!-- <input
                      class="form-control inputboxs"
                      type="text"
                      mwlFlatpickr
                      [(ngModel)]="event.start"
                      (ngModelChange)="refresh.next()"
                      [altInput]="true"
                      [convertModelValue]="true"
                      [enableTime]="true"
                      dateFormat="Y-m-dTH:i"
                      altFormat="F j, Y H:i"
                      placeholder="Not set"
                    /> -->

<!-- <div class="col-md-3">
                    <label class="lbl">Ends at</label>
                    <input
                      class="form-control inputboxs"
                      type="text"
                      mwlFlatpickr
                      [(ngModel)]="event.end"
                      (ngModelChange)="refresh.next()"
                      [altInput]="true"
                      [convertModelValue]="true"
                      [enableTime]="true"
                      dateFormat="Y-m-dTH:i"
                      altFormat="F j, Y H:i"
                      placeholder="Not set"
                    />
                  </div> -->





<!-- <div class="col-md-4 headmarg">
              <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
            </div>
            <div class="col-md-4">
              <div class="btn-group">
                <div
                  class="firsttab"
                  (click)="setView(CalendarView.Month)"
                  [class.active]="view === CalendarView.Month"
                >
                  Month
                </div>
                <div
                  class="secondtab"
                  (click)="setView(CalendarView.Week)"
                  [class.active]="view === CalendarView.Week"
                >
                  Week
                </div>
                <div
                  class="thirdtab"
                  (click)="setView(CalendarView.Day)"
                  [class.active]="view === CalendarView.Day"
                >
                  Day
                </div>
              </div>
            </div> -->

<!-- <ng-template #modalContent let-close="close">
      <div class="modal-header">
        <h5 class="modal-title">Event action occurred</h5>
        <button type="button" class="close" (click)="close()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          Action:
          <pre>{{ modalData?.action }}</pre>
        </div>
        <div>
          Event:
          <pre>{{ modalData?.event | json }}</pre>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="close()">
          OK
        </button>
      </div>
    </ng-template> -->
<!-- <mat-form-field>
      <mat-select  >
        <mat-select-search ></mat-select-search>
        <mat-option *ngFor="let trainer of trainers" [value]="trainer.trainerName">
          {{ trainer.trainerName }}
        </mat-option>
      </mat-select>
    </mat-form-field> -->