@import '../../../../../../@theme/styles/variable.scss';
nomination-calendar {
    .calendarPadding {
        padding: 15px;
    }
    h3 {
        margin: 0 0 10px;
    }
    pre {
        background-color: #f5f5f5;
        padding: 15px;
    }
    .cal-month-view .cal-header {
        text-align: center;
        font-weight: bolder;
        height: 50px !important;
        line-height: 40px !important;
        color: #8a8888 !important;
    }
    .cal-month-view .cal-day-badge {
        // background-color: #2196F3 !important;
        background-color: var(--colorCommon);
        color: #fff;
        width: 30px !important;
        line-height: 25px !important;
        height: 30px !important;
        font-size: 14px !important;
        border-radius: 5px !important;
    }
    .cal-month-view .cal-day-number {
        opacity: 1;
        color: #5c5b5b !important;
    }
    .cal-month-view .cal-open-day-events {
        display: none;
    }
    .nominationPrevNxtbtn {
        width: 50px;
        height: 50px;
        font-size: 30px;
        line-height: 50px;
        // color: #407cee;
        color: var(--colorCommon);
        cursor: pointer;
    }
    .secondtab {
        width: 250px;
        margin: 0px 10px;
        height: 50px;
        background: transparent;
        border-radius: 7px;
        // color: #407cee;
        color: var(--colorCommon);
        line-height: 50px;
        font-size: 25px;
    }
    .cal-event-actions {
        color: #fff !important;
    }
    .lbl {
        width: 100%;
        color: #000;
        font-size: 16px;
    }
    .rightsection {
        padding: 20px;
        border-radius: 10px;
    }
    .evntcrdPadding {
        background: transparent;
        padding: 10px;
        border-radius: 5px;
        max-height: 500px;
        overflow-y: auto;
    }
    .inputboxs {
        background: transparent !important;
        border-radius: 8px !important;
        border: 1px solid #e6e4e4 !important;
        color: #000 !important;
    }
    .rowMargin {
        margin: auto;
    }
    .cardEvnt {
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-column-gap: 20px;
        background: #fff;
        -webkit-box-shadow: 1px 5px 11px 0px rgba(196, 196, 196, 0.95);
        box-shadow: 1px 5px 11px 0px rgba(196, 196, 196, 0.95);
        margin-bottom: 18px;
        // border-left: 5px solid #058AD2;
        border-left: 5px solid var(--colorCommon);
        padding: 10px 7px;
        border-radius: 10px;
        cursor: pointer;
        align-items: center;
    }
    .date-content {
        text-align: center;
        // border-right: 1px solid #058AD2;
        border-right: 1px solid var(--colorCommon);
    }
    .event-content {
        align-self: center;
    }
    .headmarg {
        text-align: center !important;
        margin-bottom: 30px;
    }
    .addhead {
        background: #fff;
        // padding: 8px;
        border-radius: 5px;
        display: flex;
    }
    .evntnote {
        width: 100%;
        margin: auto;
        font-family: "open sans";
        color: #a09d9b;
        font-weight: 600;
        padding: 0 10px;
    }
    .addcal {
        padding: 0;
        width: 35px;
        height: 35px;
        font-size: 23px;
        border-radius: 18%;
        // background: #507bfc;
        background: var(--colorCommon);
        border: none;
        cursor: pointer;
        color: #fff;
    }
    .marginRigth {
        margin-right: 15px;
    }
    // .marginAu{
    //     margin: auto
    // }
    .remove_btn_algn {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .deletebtn {
        width: 35px;
        height: 35px;
        margin: auto;
        background: #f96b6b;
        border: none;
        border-radius: 50%;
        color: #fff;
        font-size: 16px;
        padding: 0;
        cursor: pointer;
    }
    .nominationmonthblk {
        display: block;
        font-size: 14px;
        color: #8e908f;
        text-transform: capitalize;
        margin: 0;
        line-height: 20px;
    }
    .event-date {
        display: block;
        font-size: 22px;
        color: #000;
        margin: 0;
    }
    .event-day {
        display: block;
        font-size: 17px;
        color: #060606;
        margin: 0;
    }
    .nominationTitlemarg {
        margin: auto 0;
        padding: 0;
    }
    .nominationEventTitle {
        display: block;
        font-size: 17px;
        color: #8e908f;
        text-transform: capitalize;
        margin: 0;
    }
    .blueCard {
        background: #5acef7;
    }
    .orangeCard {
        background: #ffae74;
    }
    .purpleCard {
        background: #c15cff;
    }
    .slotbtn {
        padding: 14px;
        text-align: right;
    }
    .deleteModalBackdrop {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        z-index: 1503;
        background-color: #404040c2;
        .addSelfDemoModal2 {
            margin: auto;
            width: 50%;
            background-color: #fff;
            border-radius: 5px;
            margin-top: 2%;
        }
        .modal-header {
            background-color: #076ba1;
            height: 55px;
            color: #fff !important;
        }
        .modalBody {
            height: 100%;
        }
        .close {
            float: right;
            font-size: 1.5rem;
            font-weight: 700;
            line-height: 1;
            color: #fff !important;
            text-shadow: 0 1px 0 #fff;
            opacity: .5;
        }
        .modal-footer {
            height: 55px;
            width: 100%;
        }
    }
    .columnMargin {
        margin: 15px 0;
    }
    .btnssgroup {
        text-align: right;
        margin-bottom: 15px;
    }
    .calenderDiv {
        .form-control {
            border: 1px solid #e8e7e7;
            box-shadow: none;
            color: #787878;
            font-size: 13px;
        }
        .calenDate {
            border-right: none;
        }
        .nominationcalenderIcon {
            border: 1px solid #e8e7e7;
            background: #ffffff;
            border-top-right-radius: 6px;
            border-bottom-right-radius: 6px;
            padding: 4px 5px;
            .nominationcalfont {
                font-size: 16px;
                // color: #076ba1;
                color: #fff;
            }
        }
    }
    .left_space {
        padding-left: 10px;
    }
    .labelDiv {
        display: grid;
        grid-template-columns: repeat(4, 1fr) 72px;
        grid-column-gap: 15px;
        text-align: left;
        background: var(--colorBgbtn);
        padding-top: 10px;
        margin-bottom: 12px;
        border-radius: 5px;
        color: var(--colorBtnTxt);
        font-size: 14px;
        // border-bottom: 1px solid #dee2e6;
        // border-top: 1px solid #dee2e6;
        height: 40px;
    }
    .formInGrid {
        display: grid;
        // grid-template-columns: 1.5fr auto auto auto 0.4fr;
        grid-template-columns: repeat(4, 1fr) 72px;
        grid-column-gap: 15px;
        .c-btn {
            border: 1px solid #e8e7e7;
            font-size: 13px;
            padding: 4px;
            min-height: 33px;
            align-items: center;
        }
        .c-token {
            font-size: 11px;
        }
        .selected-list .c-list .c-token .c-remove {
            width: 7px;
        }
        .selected-list .c-angle-down,
        .selected-list .c-angle-up {
            font-size: 5px;
            width: 10px;
            height: 10px;
        }
        .selected-list .c-list .c-token .c-remove {
            position: absolute;
            right: 8px;
            top: 50%;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            width: 7px;
        }
    }
    .removeButton {
        color: #000;
        text-align: center;
        font-weight: 900;
        cursor: pointer;
    }
}