<!--
<div class="col-md-12 addEditCattoprow addEditCatsticky-top">
  <div class="col-md-6">
    <h4 class="addEditCatHead">Bulk Unenrol Course</h4>
  </div>
  <div class="col-md-6 text-right pad14px">
    <button type="submit" class="back_button" (click)="back()">
      Back
    </button>
  </div>
</div> -->

<div class="col-md-12">
  <div class="uploadCard">
      <div class="col-md-12">
            <div class="form-group inputDnD">
                <label class="sr-only" for="inputFile">File Upload</label>
                <input type="file" title="{{selectFileTitle}}" #fileUpload
                class="form-control-file text-success font-weight-bold" id="inputFile" name="inputFile"
               accept=".csv,.xls,.xlsx, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
               (change)="readFileUrl($event)" attr.data-title="{{fileName}}">
               <!-- [(ngModel)]="addEditAssetForm.file" -->
            </div>
      </div>
      <div class="centerAlign">
        <button class="constantbtn-button-blue-left" (click)="uploadSheet()" [disabled]="uploadedData?.length ==0">Upload</button>
        <!-- <button class="constantbtn" href="templateExelLink" download><i class="fas fa-download"></i>  Template</button> -->
        <!-- <a [href]="templateExelLink" download></a> -->
        <a href="assets/images/Demo_sheet_for_bulk_course_bundle_unenrolment.xlsx" download><button class="constantbtn-button-blue-right"><i class="fas fa-download"></i>  Template</button></a>
        <!-- <a href="googleLink" download><button class="constantbtn-button-blue-right"><i class="fas fa-download"></i>  Google</button></a> -->
      </div>

    </div>


    <div class="uploadCard" *ngIf = "showTable">
        <ngx-datatable #myTable style="width: 100%;" class="material" [rows]="statusData" [columnMode]="'force'"
        [headerHeight]="50" [footerHeight]="50" [limit]="10"
       [selectAllRowsOnPage]="false"
        >
        <ngx-datatable-column name="Status" [width]=60>
          <ng-template let-row="row" ngx-datatable-cell-template>
            <div>
              <!-- {{row.assetName}} -->
              {{row.status}}
            </div>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Reason" [width]=60>
          <ng-template let-row="row" ngx-datatable-cell-template>
            <div>
              <!-- {{row.assetName}} -->
              {{row.reason}}
            </div>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Ecn" [width]=60>
          <ng-template let-row="row" ngx-datatable-cell-template>
            <div>
              <!-- {{row.assetName}} -->
              {{row.ecn}}
            </div>
          </ng-template>
        </ngx-datatable-column>
        <!-- <ngx-datatable-column name="Date" [width]=100>
          <ng-template let-row="row" ngx-datatable-cell-template>
            <div>
              {{row.date}}
            </div>
          </ng-template>
        </ngx-datatable-column> -->
        <!-- <ngx-datatable-column name="Code" [width]=60>
          <ng-template let-row="row" ngx-datatable-cell-template>
            <div>
              {{row.code}}
            </div>
          </ng-template>
        </ngx-datatable-column> -->
          <!-- <ngx-datatable-column name="Status" [width]=100>
            <ng-template let-row="row" ngx-datatable-cell-template>
              <div>
                {{row.status}}
              </div>
            </ng-template>
        </ngx-datatable-column> -->
      </ngx-datatable>

      <div class="centerAlign" *ngIf="showInvalidExcel">
          <button class="constantbtn-button-blue-left rightMargin" (click)="exportToExcelInvalid()"><i class="fas fa-download"></i> Invalid</button>
          <!-- <button class="constantbtn" href="templateExelLink" download><i class="fas fa-download"></i> Template</button> -->
          <!-- <a [href]="templateExelLink" download></a> -->
          <!-- <a href="assets/images/Asset_Upload_Template.xlsx" download><button class="constantbtn-button-blue-right" href="templateExelLink" download><i class="fas fa-download"></i> Template</button></a> -->
          </div>

      <div class="text-right">
        <!-- <button class="constantbtn-button-blue-left" [disabled]="statusData.length == 0" (click)="submit()">Save</button> -->
      </div>
    </div>
</div>





<!-- <div>
<label for="filepicker-button ">Add
  File<h3 class="reqField">*</h3></label>
<button class=" fp-btn-choose cancelButton" id="filepicker-button" value="Cancel" name="userfilechoose"
  (click)="cancelFile()"><i class="fa fa-times" aria-hidden="true"></i></button>
<div class="form-group inputFileCourse">
  <label class="sr-only" for="inputFile">File
    Upload</label>
  <input type="file" title="{{selectFileTitle}}" #fileUpload
    class="form-control-file text-success font-weight-bold" id="inputFile" name="inputFile"
    accept=".csv,.xls,.xlsx, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
    (change)="readFileUrl($event)" attr.data-title="{{fileName}}" required>
</div>
</div> -->
