.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.addEditCattoprow {
    // padding: 12px;
    border: none;
    background-color: #ffffff;
    height: auto;
    width: 100%;
    display: inline-flex;
  }
  .floteright {
    float: right;
    font-size: 13px;
    background-color: #fff;
  }

  .addEditCatsticky-top {
    position: sticky;
    top: 67px;
    z-index: 1090;
  }
  
  .addEditCatHead {
    // padding: 15px 0px 15px 30px;
    margin: 15px auto;
  }

  .btnAlignRight{
      text-align: right;
      width: 100%;
  }


  .uploadCard{
    background: #fff;
    width: 100%;
    padding: 10px;
    margin: auto;
    margin-top: 10px;
}
.rightMargin{
    margin: auto;
    margin-right: 15px;
}

.centerAlign{
    width: 100%;
    text-align: center;
}


.inputDnD {
    // height: 14em;
    .form-control-file {
      position: relative;
      width: 100%;
      height: 100%;
      min-height: 6em;
      outline: none;
      visibility: hidden;
      cursor: pointer;
      background-color: #c61c23;
      box-shadow: 0 0 5px solid currentColor;
      &::before {
        color: #ed462f;
        content: attr(data-title);
        position: absolute;
        left: 0;
        width: 100%;
        height: 6em;
        line-height: 5.5em;
        opacity: 1;
        visibility: visible;
        text-align: center;
        border: 0.15em dashed #9ea4a5;
        -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        overflow: hidden;
    }
    &::hover {
      &:before {
        border-style: solid #076ba1;
        /*box-shadow: inset 0px 0px 0px 0.25em currentColor;*/
      }
    }
  }
}
