<div class="partner_component">

        <!-- <div class="toprow col-md-12 bottom15 sticky-top">
                <div class="col-md-9 teamSubdiv2" >
                  <h3 class="heding1">Partner</h3>
                </div>
                <div class="col-md-3 text-right" style="margin-top: 7px;">       
                  <button class="constantbtn-button-blue-left "  (click)="gotoAddPartner()" ><i class="ion-plus-round plusIcon"></i>Partner</button>       
                  <button class="constantbtn-button-blue-right " (click)="gotoBack()">Back</button>
                </div>
        </div> -->
        <div class="top_header_container">
                <div class="top_header_div_sticky content_width">
                  <div class="page_title">
                    <h4>Partner</h4>
                  </div>
          
                  <div class="buttons_div">
                      <button class="constantbtn-button-blue-left" (click)="gotoAddPartner()"><i class="ion-plus-round plusIcon"></i>Partner</button>       
                      <button class="back_button " (click)="gotoBack()">Back</button>
                  </div>
                </div>
        </div>    
            
            
            <div class="container">
                <div>
                <ngx-datatable
                    #myTable
                    class='material expandable'
                    style="width: 100%;"
                    [columnMode]="'force'"
                    [headerHeight]="50"
                    [footerHeight]="50"
                    [rowHeight]="50"
                    [rows]='rows'
                >
                <ngx-datatable-column
                            [width]="50"
                            [resizeable]="false"
                            [sortable]="false"
                            [draggable]="false"
                            [canAutoResize]="false">
                        </ngx-datatable-column>
                        <ngx-datatable-column name="PARTNER">
                            <ng-template let-value="value" ngx-datatable-cell-template>
                                <div>
                                {{value}}
                                </div>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="BUSINESS">
                            <ng-template let-value="value" ngx-datatable-cell-template>
                                <div>
                                {{value}}
                                </div>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="DEPARTMENT">
                            <ng-template let-value="value" ngx-datatable-cell-template>
                                <div>
                                {{value}}
                                </div>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="LEVEL">
                            <ng-template let-value="value" ngx-datatable-cell-template>
                                <div>
                                {{value}}
                                </div>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column
                            [width]="50"
                            [resizeable]="false"
                            [sortable]="false"
                            [draggable]="false"
                            [canAutoResize]="false">
                            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex">
                                <div (click)="editPartner(rowIndex,1)">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                </div>
                            </ng-template>
                        </ngx-datatable-column>
                    </ngx-datatable>
                </div>
            
            </div>


</div>

