.course_consumption {
    .search_div {
        display: grid;
        grid-template-columns: auto 20px;
        border: 1px solid #ababab;
        .search_field {
            height: 30px;
            border: none !important;
            box-shadow: none;
        }
        .remove_icon {
            line-height: 30px;
        }
    }
    .course_consumption_header {
        background: #fff;
        position: sticky;
        top: 4.75rem;
        z-index: 999;
        .content_width {
            width: 83vw;
            margin: auto;
            .header_grid {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                align-items: center;
                height: 50px;
                padding: 0 30px;
                .header_title {
                    h4 {
                        text-align: left;
                        margin: 0;
                    }
                }
                .buttons_container {
                    text-align: right;
                }
            }
        }
    }
    .reportContents {
        .flexGrid {
            padding: 20px;
        }
    }
    .usersCountToView:hover {
        text-decoration: underline;
        cursor: pointer;
    }
    .TopButton {
        background: white;
        position: sticky;
        top: 68px;
        width: 100%;
        left: 0;
        height: 56px;
        box-shadow: 3px 3px 5px 0px #ccc;
        z-index: 1;
    }
    .btninnerDiv {
        position: absolute;
        // right: 8px;
        width: 100%;
        p {
            float: left;
            margin: 0;
            padding: 17px;
            font-size: 20px;
            color: #111218;
        }
    }
    .AddBtn {
        float: right;
        padding: 8px 21px;
        border: 1px solid #2196F3;
        background: #2196F3;
        color: #ffffff;
        transition: .4s ease-in-out;
        cursor: pointer!important;
        border-radius: 3px;
        outline: none;
        margin-top: 10px;
        margin-right: 10px;
    }
    .AddBtn:hover {
        color: #2196F3;
        background: #ffffff;
    }
    .sidemenuCompo {
        margin-top: 0px;
        box-shadow: none;
    }
    .totalrows {
        background: #fff;
        padding: 10px;
        .totalcount {
            margin: 0px;
            color: #000;
            font-size: 10px;
        }
    }
    .side_menu_container {
        background: #fff;
        box-shadow: 3px 3px 5px 0px #ccc;
        overflow-y: scroll;
        padding-top: 22px;
        // width: 230px;
    }
    .side_menu_container::-webkit-scrollbar {
        width: 10px !important;
        scroll-margin-left: 10px !important;
    }
    .side_menu_container::-webkit-scrollbar-thumb {
        background: #E3E9EE !important;
        border-radius: 25px !important;
    }
    .side_menu_container::-webkit-scrollbar-track {
        display: none !important;
    }
    .tableList {
        display: inline-block;
        vertical-align: top;
        // padding-top: 16px;
        table {
            width: 100%;
            background: white;
            box-shadow: 3px 2px 6px 4px #ccc;
        }
    }
    .containerC {
        display: block;
        position: relative;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .containerC input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 21px;
        width: 21px;
        background-color: #eee;
    }
    .containerC:hover input~.checkmark {
        background-color: #ccc;
    }
    .containerC input:checked~.checkmark {
        background-color: #2196F3;
    }
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }
    .containerC input:checked~.checkmark:after {
        display: block;
    }
    .containerC .checkmark:after {
        left: 9px;
        top: 5px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 2px 2px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    .nodatatoDisplay {
        width: 100%;
        display: grid;
        align-content: center;
        align-items: center;
        justify-content: center;
    }
    .ngx-datatable.scroll-vertical .datatable-body {
        height: 400px !important;
        overflow-y: auto;
    }
    @media screen and (max-width: 768px) {
        .sidemenuCompo {
            padding-left: 15px;
            height: inherit!important;
        }
    }
}
@import "../../../@theme/styles/loader.scss";
