<!-- buttons -->
<div class="d-flex align-items-center justify-content-end pb-2">
    <!-- <div class="searchBar focus" [ngClass]="{ fullserch: showSearch }"> -->
    <div class="searchBarNew focus" [ngClass]="{'fullserch': showSearch}">
        <i class="fa fa-search search cursor-p" (click)="search()"></i>
        <i class="fa fa-times close-icon cursor-p" (click)="passEventToParent('clearSearch', '');reference.value=''"></i>
        <input type="text" placeholder="Search..." #reference [(ngModel)]="searchText" (keyup)="passEventToParent('searchBar', $event)" />
    </div>
    <button class="commonBtn mr-0" (click)="passEventToParent('bindValueToAddEditForm', 'add', null)">
    Add Pricing Plan
  </button>
</div>

<!-- table -->
<ngx-enrol-table *ngIf="pricingConfig" [pagination]= true [label]="pricingConfig?.labels" [tableData]="pricingConfig?.data" (clickOnicon)="passEventToParent('bindValueToAddEditForm', 'edit', $event)"></ngx-enrol-table>
<ngx-no-data [config]="noDataVal" *ngIf="pricingConfig?.data?.length == 0"></ngx-no-data>

<!-- sidebar form -->
<ngx-sidebar-form *ngIf="pricingConfig?.showSidebar" (saveBtn)="save(form)" (closeBtn)="closeSidebar();passEventToParent('closeSidebar', '')" (outside)="closeSidebar();passEventToParent('closeSidebar', '')" [sidebarTitle]="titleName" [buttonName]="btnName">
    <form #form="ngForm">
        <div class="form-group">
            <label class="side-form-label">Name of the pricing plan <sup>&#x2731;</sup></label
      >
      <input
        type="text"
        class="form-control"
        name="name"
        [ngClass]="{ 'invalid-form': name.invalid && name.dirty }"
        [(ngModel)]="pricingConfig.addEditPriceForm.name"
        #name="ngModel"
        required
        [ngClass]="{ 'invalid-form': name.invalid && name.dirty }"
        placeholder="Enter name of the pricing plan"
      />
      <ng-container *ngIf="name.invalid && name.dirty">
        <small class="invalid-msg">Name of the pricing plan is required</small>
      </ng-container>
    </div>

    <div class="row">
      <div class="form-group col-md-6">
        <label class="side-form-label">Valid From <sup>&#x2731;</sup></label>
            <input [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" class="form-control" required placeholder="Select from date" [(ngModel)]="pricingConfig.addEditPriceForm.validFrom" name="validFrom" [ngClass]="{ 'invalid-form': validFrom.invalid && validFrom.dirty }"
                #validFrom="ngModel" />
            <owl-date-time #dt1 [pickerType]="'calendar'"></owl-date-time>
            <ng-container *ngIf="validFrom.invalid && validFrom.dirty">
                <small class="invalid-msg">Valid From date is required</small>
            </ng-container>
        </div>
        <div class="form-group col-md-6">
            <label class="side-form-label">Valid To <sup>&#x2731;</sup></label>
            <input [owlDateTime]="dt2" [owlDateTimeTrigger]="dt2" required [(ngModel)]="pricingConfig.addEditPriceForm.validTo" name="validTo" [min]="pricingConfig.addEditPriceForm.validFrom" [ngClass]="{ 'invalid-form': validTo.invalid && validTo.dirty }" #validTo="ngModel"
                class="form-control" placeholder="Select to date" />
            <owl-date-time #dt2 [pickerType]="'calendar'"></owl-date-time>
            <ng-container *ngIf="validTo.invalid && validTo.dirty">
                <small class="invalid-msg" *ngIf="validTo?.errors?.required">Valid to date is required</small>
                <small class="invalid-msg" *ngIf="validTo?.errors?.owlDateTimeMin">Valid To date should be greater than Valid From Date. </small>
            </ng-container>
        </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label class="side-form-label">Current Date <sup>&#x2731;</sup></label>
                <input [owlDateTime]="dt3" [owlDateTimeTrigger]="dt3" required [disabled]="true" [(ngModel)]="pricingConfig.addEditPriceForm.currentDate" name="currentDate" [ngClass]="{
            'invalid-form': currentDate.invalid && currentDate.dirty
          }" #currentDate="ngModel" class="form-control" placeholder="Select current date" />
                <owl-date-time #dt3 [pickerType]="'calendar'"></owl-date-time>
                <ng-container *ngIf="currentDate.invalid && currentDate.dirty">
                    <small class="invalid-msg">Current date is required</small>
                </ng-container>
            </div>
            <div class="form-group col-md-6">
                <ng-container *ngIf="!discountedListNotFound">
                    <label class="side-form-label">Discount </label>
                    <angular2-multiselect [data]="pricingConfig?.discountListDropdownList" [(ngModel)]="pricingConfig.addEditPriceForm.discount" [settings]="dropdownSettings" (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)"
                        #discount="ngModel" name="discount" ngDefaultControl (onDeSelectAll)="onDeSelectAll($event)">
                    </angular2-multiselect>
                    <!-- <ng-container *ngIf="discount.invalid && discount.dirty">
                <small class="invalid-msg">Discount is required</small>
              </ng-container> -->
                </ng-container>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 form-group">
                <label><input
            type="radio"
            name="freeRadio"
            type="radio"
            id="freeRadio"
            required
            #subscription="ngModel"
            [value]="1"
            [(ngModel)]="pricingConfig.addEditPriceForm.isFree"
          />
          <span class="ml-2">Free Course</span>
        </label>
            </div>
            <div class="col-md-6 form-group">
                <label><input
            type="radio"
            name="freeRadio"
            type="radio"
            id="freeRadio"
            required
            #subscription="ngModel"
            [value]="0"
            [(ngModel)]="pricingConfig.addEditPriceForm.isFree"
          />
          <span class="ml-2">One time Subscription</span>
        </label>
            </div>
            <ng-container *ngIf="subscription.invalid && subscription.dirty">
                <small class="invalid-msg">Discount is required</small>
            </ng-container>
        </div>
        <div class="row" *ngIf="pricingConfig.addEditPriceForm.isFree == 0">
            <div class="form-group col-md-6">
                <label class="side-form-label">Currency <sup>&#x2731;</sup></label>
                <select class="custom-select" #currency="ngModel" required [ngClass]="{ 'invalid-form': currency.invalid && currency.dirty }" [(ngModel)]="pricingConfig.addEditPriceForm.currency" name="currency">
          <option value="" selected>Select currency type</option>
          <option
            *ngFor="let item of pricingConfig?.currencyTypeDropDown"
            [value]="item?.id"
            >{{ item?.name }}</option
          >
        </select>
                <ng-container *ngIf="currency.invalid && currency.dirty">
                    <small class="invalid-msg">Currency is required</small>
                </ng-container>
            </div>
            <div class="form-group col-md-6">
                <label class="side-form-label">Amount <sup>&#x2731;</sup></label>
                <input type="number" type="number" class="form-control" min="0" required [(ngModel)]="pricingConfig.addEditPriceForm.amount" name="amount" [ngClass]="{ 'invalid-form': amount.invalid && amount.dirty }" #amount="ngModel" class="form-control" placeholder="Enter amount"
                />
                <ng-container *ngIf="amount.invalid && amount.dirty">
                    <small class="invalid-msg">Amount is required</small>
                </ng-container>
            </div>
        </div>
    </form>
</ngx-sidebar-form>
