
.attribute_master{

  .top_header_container{
    background: #fff;
    position: sticky;
    top: 4.75rem;
    z-index: 1020;
    .top_header_div_sticky{
        background: #fff;
        display: grid;
        grid-template-columns: 1fr 1fr; 
        height: 50px;
        align-items: center;
        .page_title{
            text-align: left;
            h4{
                margin: 0;
            }
        }
        // .filter_div{
        //     // display: grid;
        //     // grid-template-columns: 1fr 1fr;
        //     // grid-column-gap: 10px;
        //     align-items: center;
        //     .drop_down{
        //         border: 1px solid $border_color;
        //         .drop_down_select{
        //             height: 30px;
        //             border: none;
        //             box-shadow: none;
        //         }
        //     }

        //     .search_div{
        //         display: grid;
        //         grid-template-columns: auto 20px;
        //         border: 1px solid $border_color;
        //         .search_field{
        //             height: 30px;
        //             border: none !important;
        //             box-shadow: none;
        //         }
        //         .remove_icon{
        //             line-height: 30px;
        //         }
        //     }
        }
        
        .buttons_div{
            text-align: right;
        }
    }
    .content_width{
      width: 95%;
      margin: 0 auto;
    }
  .bottom15{
      margin-bottom: 15px;
    }
    .teamSubdiv2 {
      float: left;
    }

    .floatingbtn{
      margin: auto;
      padding: 0;
      text-align: right;
    }

    .heding1{
      line-height: 50px;
      margin: auto;
    }

    .ngx-datatable.fixed-header .datatable-header .datatable-header-inner .datatable-header-cell {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: center;
    }
    
    .ngx-datatable.material .datatable-body .datatable-body-row{
      border-bottom: 1px solid #e0e0e0;
    }
    
    .ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell {
      text-align: center;
    }

    .mar20{
        margin-right: 20px;
    }

    .plusIcon{
      margin-right: 8px;
    }

    .mainDiv{
      padding: 15px;
      width: auto;
      margin: 15px;
      margin-top: 65px;
      color: #666666;
    }
    
    .skillCheckDiv{
          display: -webkit-box;
    }
    .skillLabel{
        margin-left: 10px;
        font-weight: 400;
        margin-bottom: -1px;
    }
    .AssessText{
            display: block;
        /* margin-left: auto; */
        /* margin-right: auto; */
        /* width: 180%; */
        /* margin-bottom: -6px; */
        margin: 0 auto;
        border-radius: 5px;
        height: 30px;
        width:100%
    }
    .AssessTable{
      margin-top:1rem;
    }
    .AssessSubmit{
      float:right;
      background-color: #076ba1 !important;
      cursor: pointer !important;
      border-radius:2px !important;
    }
    
      .topDiv{
        background-color:white;
        display: flow-root;
      }
      
      
      
      /* data-table */
      .add {
        border: none;
          height: 34px;
          width: 150px;
          /* margin-bottom: 1em; */
          background-color: #076ba1;
          color: #fff;
          background-color: #076ba1 !important;
          border-radius: 2px;
          float: right;
          margin-top: 8px;
          margin-right: 13px;
      }
  
}

 