<div class="attribute_master">
    <!-- <div class="toprow col-md-12 bottom15 sticky-top">
        <div class="col-md-9 teamSubdiv2" >
          <h3 class="heding1">Attribute Master</h3>
        </div>
        <div class="col-md-3 text-right" style="margin-top:7px">       
          <button class="constantbtn-button-blue-left" (click)="gotoAddEdit()" ><i class="ion-plus-round plusIcon"></i>Attributes</button>       
          <button class="constantbtn-button-blue-right" (click)="gotoBack()" >Back</button>
        </div>
    </div> -->
    <div class="top_header_container">
        <div class="top_header_div_sticky content_width">
          <div class="page_title">
            <h4>Attribute Master</h4>
            <!-- <h4 *ngIf="!addAction">Edit Participant</h4> -->
          </div>
  
          <div class="buttons_div">
              <button class="constantbtn-button-blue-left" (click)="gotoAddEdit()" ><i class="ion-plus-round plusIcon"></i>Attributes</button>       
              <button class="back_button" (click)="gotoBack()" >Back</button>
          </div>
        </div>
    </div>
    <div id="table" class="table-editable mainDiv">
        <table class="table table-bordered table-responsive-md table-striped text-center">
          <thead>
            <tr>
              <th class="text-center">Attribute</th>
              <th class="text-center">Skills</th>
              <th class="text-center">Description</th>
              <!-- <th class="text-center">360 Feedback Score(5 Scale)</th>
                    <th class="text-center">360 Feedback Score</th>
                    <th class="text-center">FGD SCore</th> -->
              <th class="text-center"></th>
              <!--  <th class="text-center">PI Score Average</th>
                    <th class="text-center">Weighted Score</th> -->
            </tr>
          </thead>
          <tbody *ngFor="let person of personList; let id = index">
            <tr style="background-color: white;">
              <td [attr.rowspan]="person.skill.length+1" contenteditable="false">{{person.name}}</td>
              <td contenteditable="false">{{person.skill[0].name}}</td>
              <td contenteditable="false">{{person.skill[0].desc}}</td>
              <!-- <td [attr.rowspan]="person.skill.length+1" contenteditable="true" (keyup)="changeValue(id, 'FS5', $event)" (blur)="updateList(id, 'FS5', $event)">{{person.FS5}}</td>
                    <td [attr.rowspan]="person.skill.length+1" contenteditable="true" (keyup)="changeValue(id, 'FS', $event)" (blur)="updateList(id, 'FS', $event)">{{person.FS}}</td>
                    <td [attr.rowspan]="person.skill.length+1" contenteditable="true" (keyup)="changeValue(id, 'FGD', $event)" (blur)="updateList(id, 'FGD', $event)">{{person.FGD}}</td> -->
              <td>
                <div class="custom-controls-stacked d-block">
                  <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </div>
              </td>
              <!--  <td [attr.rowspan]="person.skill.length+1" contenteditable="true" (keyup)="changeValue(id, 'PIAvg', $event)" (blur)="updateList(id, 'PIAvg', $event)">{{person.PIAvg}}</td>
                    <td [attr.rowspan]="person.skill.length+1" contenteditable="true" (keyup)="changeValue(id, 'WeiAvg', $event)" (blur)="updateList(id, 'WeiAvg', $event)">{{person.WeiAvg}}</td> -->
            </tr>
            <tr *ngFor="let skills of person.skill; let id1 = index" style="background-color: white;">
              <ng-container *ngIf='id1>0'>
                <td contenteditable="false">{{skills.name}}</td>
                <td contenteditable="false">{{skills.desc}}</td>
                <td>
                  <div class="custom-controls-stacked d-block">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                  </div>
                </td>
              </ng-container>
            </tr>
          </tbody>
        </table>
      </div>

</div>


