<div class="team_component"> 

    <!-- <div class="toprow col-md-12 bottom15 sticky-top">
      <div class="col-md-6 teamSubdiv2" >
        <h3 class="heding1">TEAM</h3>
      </div>

      <div class="col-md-6 text-right " style="padding-top: 10px;">
          <button class="constantbtn-button-blue-left " (click)="gotoAddEditTeam('', 0)"><i class="ion-plus-round plusIcon"></i>MEMBER</button>       
          <button class="constantbtn-button-blue-right" (click)="gotoBack()">Back</button>
      </div>
    </div> -->

    <div class="top_header_container">
         <div class="top_header_div_sticky content_width">
           <div class="page_title">
             <h4>TEAM</h4>
           </div>
   
           <div class="buttons_div">
               <button class="constantbtn-button-blue-left " (click)="gotoAddEditTeam('', 0)"><i class="ion-plus-round plusIcon"></i>MEMBER</button>       
               <button class="back_button" (click)="gotoBack()">Back</button>
           </div>
         </div>
       </div>

   <div class="mainTable">
         <ngx-datatable
         #myTable
         style="width: 100%;"
         class="material"
         [rows]="rows"
         [columnMode]="'force'"
         [headerHeight]="50"
         [footerHeight]="50"
         [rowHeight]="50"
         [limit]="10"
         (select)='onSelect($event)'>
         <!-- [selected]="selected"
         [selectionType]="'checkbox'"
         [selectAllRowsOnPage]="false"
         [displayCheck]="displayCheck" -->

         <!--  <ngx-datatable-column
         [width]="30"
         [sortable]="false"
         [canAutoResize]="false"
         [draggable]="false"
         [resizeable]="false"
         [headerCheckboxable]="true"
         [checkboxable]="true">
         </ngx-datatable-column> -->

         <!-- Column Templates -->


         <ngx-datatable-column name="NAME" [width]=100>
         <ng-template let-row="row" ngx-datatable-cell-template>
         <div>
            {{row.name}}
         </div>
         </ng-template>
         </ngx-datatable-column>
         <ngx-datatable-column name="DESIGNATION" [width]=100>
         <ng-template let-row="row" ngx-datatable-cell-template>
         <div>
            {{row.designation}}
         </div>
         </ng-template>
         </ngx-datatable-column>
         <ngx-datatable-column name="MOBILE" [width]=100>
         <ng-template let-row="row" ngx-datatable-cell-template>
         <div>
            {{row.mobile}}
         </div>
         </ng-template>
         </ngx-datatable-column>
         <ngx-datatable-column name="E-MAIL" [width]=100>
         <ng-template let-row="row" ngx-datatable-cell-template>
         <div>
            {{row.email}}
         </div>
         </ng-template>
         </ngx-datatable-column>
         <ngx-datatable-column name="STATUS" [width]=100>
         <ng-template let-row="row" ngx-datatable-cell-template>
         <div>
            {{row.status}}
         </div>
         </ng-template>
         </ngx-datatable-column>
         <ngx-datatable-column [width]="50">
         <ng-template let-row="row" ngx-datatable-cell-template>
         <div (click)="gotoAddEditTeam(row,1)">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
         </div>
         </ng-template>
         </ngx-datatable-column>
         </ngx-datatable>
   </div>

</div>