<div class="boxCard" (click)="boxCard()">
  <div class="innerboxCard">
    <div class="iconNumber">
      <i class="{{ cardList.menuIcon }}"></i>
      <span *ngIf="cardcount">{{ cardList.cardcount == ''?'': cardList.cardcount }}</span>
    </div>
    <div class="contentboxCard">
      <h3>{{ cardList.menuName }}</h3>
      <p class="m-0">{{ cardList.menuDescription | truncate : 80 : "..."  }}</p>
    </div>
  </div>
</div>
