@import "../../@theme/styles/variable.scss";

.boxCard {
  height: 100%;
  padding: 12px;
  border-radius: 6px;
  color: var(--colorIcons);
  background-color: $white-color;
  box-shadow: 20px 20px 16px #d8dde3, -7px -4px 16px #dde7f0;
  cursor: pointer;
  .innerboxCard {
    position: relative;
    .iconNumber {
      height: 23px;
      text-align: right;
      border-bottom: 1px solid $border-color;
      i {
        position: absolute;
        top: 0;
        left: 0;
        width: 47px;
        font-size: 24px;
        padding: 10px 9px;
        text-align: center;
        border-radius: 25px;
        background: $white-color;
        border: 1px solid $border-color;
      }
      span {
        font-weight: 700;
      }
    }
    .contentboxCard {
      padding-top: 32px;
      h3 {
        font-size: 14px;
        color: #000000;
        font-weight: 600;
        letter-spacing: 0.4px;
        // color: var(--colorIcons);
      }
      p {
        font-size: 12px;
        min-height: 30px;
        line-height: 1.2;
        letter-spacing: 0.3px;
        color: $card-dis-color;
      }
    }
  }
}

@media only screen and (min-width: 1800px) {
  .contentboxCard {
    h3 {
      font-size: 16px;
    }
    p {
      font-size: 14px;
    }
  }
}
