@import '../../../@theme/styles/variable.scss';
.enrol_news_container {
    .addEditCattoprow {
        // padding: 12px;
        border: none;
        background-color: #ffffff;
        height: auto;
        width: 100%;
        display: inline-flex;
    }
    .floteright {
        float: right;
        font-size: 13px;
        background-color: #fff;
    }
    .marginTop14 {
        margin-top: 14px;
    }
    .addEditCatsticky-top {
        position: sticky;
        top: 67px;
        z-index: 1030;
        margin-bottom: 15px;
    }
    .addEditCatHead {
        // padding: 15px 0px 15px 30px;
        margin: 15px auto;
    }
    .dropdown-height {
        height: 34px !important;
    }
    .newsTabset>ul {
        background: #fff;
        // border-bottom: 1px solid #076ba1;
        border-bottom: 1px solid var(--colorCommon);
        padding-left: 0;
        margin-left: 15px !important;
        margin-right: 15px !important;
        position: sticky;
        top: 106px;
        z-index: 2;
    }
    .newsTabset>ul>li.active>a {
        // color: #076ba1;
        color: var(--colorCommon);
    }
    .newsTabset>ul>li>a::before {
        // background: #076ba1;
        background: var(--colorCommon);
    }
    .newsTabset>ul>li>a:hover {
        // color: #076ba1;
        color: var(--colorCommon);
    }
    .bgwhite {
        background-color: white;
    }
    .padding-top {
        padding-top: 15px;
    }
    .padding-bottom {
        padding-bottom: 20px;
    }
    .margin-top {
        margin-top: 15px;
    }
    .margin-vertical {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .margin-all {
        margin: 20px;
    }
    .margin-left-right {
        margin: 0 20px;
    }
    .padding-all {
        padding: 20px;
    }
    .constantbtn-approve {
        background: green;
        color: white;
        border: none;
        width: auto !important;
        min-width: 90px !important;
        max-height: 36px !important;
    }
    .constantbtn-reject {
        background: red;
        color: white;
        border: none;
        width: auto !important;
        min-width: 90px !important;
        max-height: 36px !important;
    }
    // // radio button style code start here
    // // /* The container */
    // .containerRadio {
    //   display: block;
    //   position: relative;
    //   padding-left: 35px;
    //   margin-bottom: 12px;
    //   cursor: pointer;
    //   // font-size: 22px;
    //   -webkit-user-select: none;
    //   -moz-user-select: none;
    //   -ms-user-select: none;
    //   user-select: none;
    // }
    // // /* Hide the browser's default radio button */
    // .containerRadio input {
    //   position: absolute;
    //   opacity: 0;
    //   cursor: pointer;
    // }
    // // /* Create a custom radio button */
    // .checkmark {
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   height: 25px;
    //   width: 25px;
    //   background-color: #eee;
    //   border-radius: 50%;
    // }
    // /* On mouse-over, add a grey background color */
    // .containerRadio:hover input ~ .checkmark {
    //   background-color: #ccc;
    // }
    // /* When the radio button is checked, add a blue background */
    // .containerRadio input:checked ~ .checkmark {
    //   background-color: #2196F3;
    // }
    // // /* Create the indicator (the dot/circle - hidden when not checked) */
    // .checkmark:after {
    //   content: "";
    //   position: absolute;
    //   display: none;
    // }
    // // /* Show the indicator (dot/circle) when checked */
    // .containerRadio input:checked ~ .checkmark:after {
    //   display: block;
    // }
    // // /* Style the indicator (dot/circle) */
    // .containerRadio .checkmark:after {
    //  	top: 9px;
    // 	left: 9px;
    // 	width: 8px;
    // 	height: 8px;
    // 	border-radius: 50%;
    // 	background: white;
    // }
    .padding1rem {
        padding: 1rem 0;
    }
    // radio style code end here
    .enrolCardBody {
        padding: 0;
        // background: #f1f5f8;
    }
    .subMenu {
        width: 100%;
    }
    .cancelBut {
        border-radius: 0;
        transform: none;
    }
    .margin10 {
        margin: 10px;
    }
    .upbackbtn {
        text-align: center;
        margin: 8px;
    }
    .background_white {
        background: #FFF;
    }
    .inputenup {
        height: 14em;
        .form-control-file {
            position: relative;
            width: 100%;
            height: 100%;
            min-height: 6em;
            outline: none;
            visibility: hidden;
            cursor: pointer;
            background-color: #c61c23;
            box-shadow: 0 0 5px solid currentColor;
            &::before {
                color: #ed462f;
                content: attr(data-title);
                position: absolute;
                top: 1.5em;
                left: 0;
                width: 100%;
                /* min-height: 8em; */
                height: 12em;
                line-height: 8em;
                padding-top: 1.5em;
                opacity: 1;
                visibility: visible;
                text-align: center;
                border: 0.15em dashed #9ea4a5;
                transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
                overflow: hidden;
            }
            &::hover {
                &:before {
                    border-style: solid #076ba1;
                    /*box-shadow: inset 0px 0px 0px 0.25em currentColor;*/
                }
            }
        }
    }
    .chooseFile {
        text-align: center;
        float: left;
        /* margin-left: 12%; */
        /* margin-top: 7%; */
    }
    .cancelFile {
        text-align: center;
        /* float: left; */
        /* margin-left: 12%; */
        /* margin-top: 7%; */
    }
    .upbackbtn {
        text-align: center;
        margin: 8px;
    }
    .enrolTab {
        background: #fff;
        padding-left: 0;
        margin-left: 15px !important;
        margin-right: 15px !important;
        padding: 0 10px 10px 10px;
    }
}