<app-subheader [headerConfig]="header" (addbtn)="save()" (btntwo)="enrolpage()" (btnthree)="bulkEnrol()" (backClick)="back()" (btnsix)="passData('news')"></app-subheader>
<div class="enrol_news_container">
    <!-- <div *ngIf="ButtonAvailabilty">
        <app-subheader [headerConfig]="header" (inputsearch)="SarchFilter($event, searchtext)" (Clear)="clear($event)" (btntwo)="gotoBulkUpload($event)" (addbtn)="addeditParticipantAdd($event)" (backClick)="gotoBack($event)"></app-subheader>
    </div> -->
    <!-- <div class="col-md-12 addEditCattoprow addEditCatsticky-top"> -->
    <!-- <div class="col-md-6">

            <h3 class="marginTop14" *ngIf="addAction">Add News</h3>
            <h3 class="marginTop14" *ngIf="!addAction">Edit News</h3> -->
    <!-- </div>  -->
    <!-- <div class="col-md-6 text-right padding1rem">
        <div class="text-right"> -->

    <!-- <button type="submit" class="constantbtn-button-blue-left" *ngIf="!showEnrolpage" (click)="enrolpage()">
              Enrol
            </button>
                    <button type="submit" class="constantbtn-button-blue-right" *ngIf="!showBulkpage" (click)="bulkEnrol()">
                Bulk Enrol
              </button>
                    <button *ngIf="showEnrolpage || showBulkpage" type="submit" class="back_button" (click)="backtoenrol()">
                  Back
              </button>
                    <button *ngIf="!showEnrolpage && !showBulkpage" type="submit" class="back_button" (click)="back()">
                  Back
              </button>
                </div>

                <div *ngIf="!ButtonAvailabilty">
                    <button type="submit" class="back_button" (click)="back()">
                  Back
              </button>
                </div> -->

    <!-- </div>selectedTab
        </div>
    </div> -->
    <nb-tabset class="newsTabset" (changeTab)="ButtonEnableEnroll($event)">
        <nb-tab tabTitle="Basic Details" [active]="Details">
            <ngx-basic-details [inpdata]="isdata"></ngx-basic-details>
        </nb-tab>
        <nb-tab tabTitle="Enrol" [active]="Enrol" class="enrolTab">
            <div *ngIf="!showEnrolpage && !showBulkpage">
                <div *ngIf="Enrol">
                    <ngx-enrol [data]="result"></ngx-enrol>
                </div>
            </div>
            <div *ngIf="showEnrolpage">
                <div *ngIf="Enrol">
                    <ngx-enrol-anouncement></ngx-enrol-anouncement>
                </div>
            </div>

            <!-- <div class="col-sm-12 upbackbtn" *ngIf="preview">

                <button type="button" class="constantbtn-button-blue-right" (click)="savebukupload()">Save</button>
              </div> -->

            <div *ngIf="showBulkpage" class="subMenu">
                <!-- <div *ngIf="!rows" class="subMenu"> -->

                <!-- <div class="col-sm-12 upbackbtn" *ngIf="!preview && enableUpload">

                  <button type="button" class="constantbtn-button-blue-right"  (click)="savebukupload()">Upload</button>
                  <button type="button" class="constantbtn-button-blue-right" (click)="cancel()">Cancel</button>
                </div> -->
                <div class=" card margin-left-right">
                    <!-- <div class="col-sm-12 upbackbtn" *ngIf="!enableUpload">
                        <a href="assets/images/bulkenrolfinal.xlsx" download>
                        <button class="constantbtn-button-blue-right"><i class="fas fa-download"></i>Template</button></a>
                    </div> -->
                    <div class="col-md-12 grid-margin stretch-card" *ngIf="!preview">

                        <div class="col-md-12 grid-margin stretch-card">

                            <div class="card-body  enrolCardBody">
                                <div class="col-12 margin10 ">
                                    <div class="form-group inputenup">
                                        <label class="sr-only" for="inputFile">File Upload</label>
                                        <input type="file" #fileUpload class="form-control-file text-success font-weight-bold " id="inputFile" accept=".xls,.xlsx" (change)="readUrl($event)" attr.data-title="{{fileName}}">
                                    </div>

                                    <span></span>
                                    <!-- <div class="col-sm-12 upbackbtn" *ngIf="!enableUpload">
                                        <a href="assets/images/bulkenrol.xlsx" download>
                                            <button class="constantbtn-button-blue-right"><i class="fas fa-download"></i>Template</button></a>
                                        <button class="constantbtn-button-blue-right" *ngIf="showInvalidExcel" (click)="exportToExcelInvalid()"><i class="fas fa-download"></i>
                                                Enrollment Status
                                              </button>
                                    </div>
                                    <div class="col-sm-12 upbackbtn" *ngIf="!preview && enableUpload">

                                        <button type="button" class="constantbtn-button-blue-right" (click)="uploadfile()">Upload</button>
                                        <button type="button" class="constantbtn-button-blue-right" (click)="cancel()">Cancel</button>

                                    </div> -->
                                </div>
                                <div class="text-center mb-2">
                                    <!-- <button type="button" class="constantbtn-button-blue-left" *ngIf="preview" (click)="savebukupload()">Save</button> -->
                                    <a href="assets/images/bulkenrolfinal.xlsx" *ngIf="!enableUpload" download>
                                        <button class="constantbtn-button-blue-right"><i class="fas fa-download"></i>Template</button></a>

                                    <button type="button" *ngIf="!preview && enableUpload" class="constantbtn-button-blue-right" (click)="savebukupload()">Upload</button>
                                    <button type="button" *ngIf="!preview && enableUpload" class="constantbtn-button-blue-right" (click)="cancel()">Cancel</button>
                                    <button class="constantbtn-button-blue-right" *ngIf="showInvalidExcel" (click)="exportToExcelInvalid()"><i class="fas fa-download"></i> Enrollment Status</button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-sm-12 text-right " *ngIf="preview">
                    <div class="background_white">
                        <button type="button" class="constantbtn-button-blue-right" (click)="savebukupload()">Save</button>

                    </div>
                </div> -->
                <div class="tableCompo" *ngIf="preview">
                    <ngx-enrol-table [label]="labels" [pagination]="true" [tableData]="datasetPreview"></ngx-enrol-table>
                </div>
                <!-- <div class="col-md-12 grid-margin stretch-card" *ngIf="preview">
                    <div class="card cardForm">
                        <div class="card-body enrolCardBody">
                            <div class="col-12 margin10 ">
                                <ngx-datatable #previewTable style="width: 100%" class="material" [rows]="datasetPreview" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="30" [rowHeight]="50" [limit]="9" [scrollbarV]="true" [selected]="selected" [selectAllRowsOnPage]="false"
                                    [displayCheck]="displayCheck">
                                    <ngx-datatable-column prop="status" name="STATUS"></ngx-datatable-column>
                                    <ngx-datatable-column prop="ecn" name="EMP CODE"></ngx-datatable-column>
                                    <ngx-datatable-column prop="fullname" name="FULLNAME"></ngx-datatable-column>
                                    <ngx-datatable-column prop="enrolDate" name="ENROL Date"></ngx-datatable-column>
                                </ngx-datatable>
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div> -->

                <!-- <div class="centerAlign" *ngIf="showInvalidExcel">
                  <button class="constantbtn-button-blue-left rightMargin" (click)="exportToExcelInvalid()"><i class="fas fa-download"></i> Enrolment Status</button>
              </div> -->

            </div>
        </nb-tab>
    </nb-tabset>
    <!-- <div *ngIf="showEnrolpage">
      <div *ngIf="!rows" class="subMenu">
      <ngx-enrol-anouncement></ngx-enrol-anouncement>
    </div> -->
</div>