<!-- <div class="loaderBackdrop" *ngIf="loader == true">
    <div id="loader"></div>
</div> -->

<div class="module_container">

    <div class="row m0 formGen">
        <div class="col-md-12 padding0">
            <div class="topicListContainer col-md-12" [ngClass]="{'col-md-3': isActive,'col-md-12': !isActive}" [hidden]="isActive == true">

                <!-- <div class="btn-group addTopicBtnTool text-right width100">
          <div *ngIf="conData?.catName" class="btn-group marginTop10 btn-breadcrumb1 breadcrumbDiv">
            <a class="btn btn-primary1 firstChild">
              {{conData?.catName}}
            </a>
                        <a class="btn btn-primary1 lastChild">
              {{conData?.fullname}}
            </a>
                    </div>
                    <span class="addTopicBtnToolSpan">
            <button type="submit" class="subBttn focus" (click)="addEditCourseModule('',0)"
              [disabled]="isActiveTop == true">Add Module</button>
          </span>
        </div> -->
                <!-- <div class="btn-toolbar addTopicBtnTool" *ngIf="moduledisplaylist">
                    <span class="Nomodule">
            No module to display
          </span>
                </div>  -->
                <ngx-no-data *ngIf="moduledisplaylist" [config]="noDataVal"></ngx-no-data>
                <!-- <div class="card cardForm divScrollTopicList" data-spy="scroll" *ngIf="!moduledisplaylist">
          <div class="pad0">

            <div class="col-md-12 card-body padding0">
              <div class="modAct" id="modules">
                <ul class="modActUl">
                  <li class="modActLi" *ngFor="let module of courseModules | filterBy: search; let i = index">
                    <div class="modActDiv">
                      <div class="modActSubDiv" (click)="current = i;">
                        <span class="treeIcon">
                          <i class="fa fa-tasks"></i>
                        </span>
                        <span class="curPointer" (click)="addEditCourseModule(module,1);">
                          {{module.modulename}}
                        </span>
                        <span>
                          <button title="Enabled" class="submit"  [hidden]="module.visible == 0" class="addActBtn"
                            (click)="disableModule(module,i)">
                            <i class="fa fa-eye"></i>
                          </button>
                          <button title="Disabled" [hidden]="module.visible == 1" class="submit" class="addActBtn"
                          (click)="disableModule(module,i)">
                          >
                          <i class="fa fa-eye-slash"></i>
                        </button>
                          <button type="submit" class="addActBtn" (click)="deleteModule(module)" title="Delete Module">

                            <i class="ion-trash-b"></i>
                          </button>
                          <button type="submit" class="addActBtn" (click)="addEditActivity('',module,0,null,i)"
                            [disabled]="isActiveRes == true" title="Add Activity">

                            <i class="ion-plus"></i>
                          </button>
                        </span>
                      </div>
                    </div>
                    <div id="collapse1" class="panel-show">
                      <ul class="modActSubUl">
                        <li class="modActSubLi" *ngFor="let activity of module.activity; let j = index"
                          [hidden]="module.moduleId != activity.moduleId">
                          <span class="treeIcon">
                            <i class="fa fa-file"></i>
                          </span>
                          <span class="curPointer" (click)="addEditActivity(activity,module,1,j,i)">
                            {{activity.activityName}}
                          </span>
                          <span>
                            <button title="Delete Activity" class="submit" class="addActBtn"
                              (click)="deleteActivity(activity)">
                              <i class="ion-trash-b"></i>
                            </button>
                            <button title="Enabled" class="submit"  [hidden]="activity.activityVisible == 0" class="addActBtn"
                            (click)="disableActivity(activity,i,j)">
                            <i class="fa fa-eye"></i>
                          </button>
                          <button title="Disabled" [hidden]="activity.activityVisible == 1" class="submit" class="addActBtn"
                          (click)="disableActivity(activity,i,j)">
                          <i class="fa fa-eye-slash"></i>
                        </button>
                          </span>
                        </li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div> -->

                <!-- <div class="courseDiv py-2" *ngIf="!moduledisplaylist">
      <ul class="moduleLists p-0">

          <li class="moduleInner" *ngFor="let item of courseModules; let i = index" >
              <div class="moduleDiv d-flex justify-content-between align-items-center" [ngClass]="{'moduleDisable': item.visible == 0 }">
                  <label class="moduleName m-0">
                    <span *ngIf="item.visible == 0" class="pr-3"><i class="fas fa-lock"></i></span>
                    <span>{{ item.modulename }}</span>
                  </label>
                                <span class="moduleBtn">
                      <span class="selectDrop">
                          <button class="subBttn" >
                              Add Activity <i class="fa fa-sort-down dropicon"></i>
                          </button>
                          <ul class="innerdrop" [ngClass]="{'showDropDown': showList}">
                              <div class="dropCategory" *ngFor="let activityType of activitySubTypeList">
                                <label class="m-0">{{activityType?.typeName}}</label>
                                <li *ngFor="let typeItem of activityType?.subtype" (click)="addAcitivity(typeItem, item,i,activityType)"> <i [class]="typeItem.icon" aria-hidden="true"></i> {{typeItem.name}} </li>
                              </div>
                          </ul>
                      </span>
                                <span>
                        <button class="subBttn focus" (click)="deleteModule(item)" title="Delete Module">Delete <i class="far fa-trash-alt"></i></button>
                      </span>
                                <span>
                        <button class="subBttn focus" [hidden]="item.visible == 1"  (click)="disableModule(item,i)">Enabled <i class="fa fa-eye"></i></button>
                        <button class="subBttn focus" [hidden]="item.visible == 0"  (click)="disableModule(item,i)">Disabled  <i class="fa fa-eye-slash"></i></button>
                      </span>
                                <span>
                        <button class="subBttn focus" (click)="addEditCourseModule(item,1);" title="Edit Module">Edit <i class="far fa-edit"></i></button>
                      </span>
                                </span>
                            </div>
                            <div class="activityDiv d-flex align-items-center pl-3 pr-3" [ngClass]="{'activityDisable': acti.activityVisible == 0 }" *ngFor="let acti of item.activity; let j = index">
                                <label class="actName m-0" (click)="addEditActivity(acti,item,1,j,i)">
                      <i *ngIf="acti.activityVisible == 1" [ngClass]="getActivityIcon(acti)"></i>
                      <i *ngIf="acti.activityVisible == 0" class="fas fa-lock"></i>
                      <span>{{ acti.activityName }}</span>
                  </label>
                                <span class="actionBtn">
                      <span><button class="subBttn focus"  (click)="deleteActivity(acti)">Delete <i class="far fa-trash-alt"></i></button></span>
                                <span>
                        <button class="subBttn focus" [hidden]="acti.activityVisible == 1" (click)="disableActivity(acti,i,j)">Enabled <i class="fa fa-eye"></i></button>
                        <button class="subBttn focus" [hidden]="acti.activityVisible == 0"  (click)="disableActivity(acti,i,j)">Disabled <i class="fa fa-eye-slash"></i></button>
                      </span>
                  </span>
              </div>
          </li>
      </ul>
  </div> -->
                <div *ngIf="!moduledisplaylist">
                    <ngx-module-activity-list (performAction)="doAction($event)" [activitySubTypeList]="activitySubTypeList" [courseModules]="courseModules"></ngx-module-activity-list>
                </div>
            </div>
            <!-- <div class="breadCrumbsDiv col-md-6" [hidden]="isActiveTop != true">
                  <ul class="breadcrumb">
                      <li (click)="closeModuleForm()">All Modules</li>
                      <li>{{courseNav.currentModule.moduleName}}</li>
                  </ul>
              </div> -->
            <!-- <div class="gridBreadcrumb" [hidden]="isActiveTop != true">
                  <div class="container">
                      <ol class="breadcrumb">
                          <li><a (click)="closeModuleForm()">All Modules</a></li>
                          <li class="active relative drop-containerBreadcrumb">
                              <span>{{courseNav.currentModule.modulename}}  -->
            <!-- <span class="glyphicon glyphicon-triangle-bottom smallBreadcrumb" aria-hidden="true"></span> -->
            <!-- </span> -->
            <!-- <div class="drop bg-white">
                                  <ul class="list pl0" style="list-style: none;">
                                      <li *ngFor="let activity of courseNav.currentModule.activity;let j = index">
                                          <a (click)="addEditActivity(activity,courseNav.currentModule,1,j)">Activity {{j+1}}</a>
                                      </li>
                                  </ul>
                              </div> -->
            <!-- </li>
                      </ol>
                  </div>
              </div> -->
            <!-- *ngIf="isActiveTop == true" -->
            <!--<div class="col-md-12 grid-margin stretch-card formCustCard paddingLeft25 floatR" *ngIf="isActiveTop == true"
        style="margin-top: 0">
         <form name="form" (ngSubmit)="courseId && saveModuleDetails(modf)" #modf="ngForm" novalidate>
          <div class="btn-toolbar addTopicBtnTool">
            <span class="addTopicBtnToolSpan text-right">
                <button type="submit" class="subBttn focus">Save</button>
              <button type="button" class="constantbtn-button-blue-right" (click)="closeModuleForm()">Cancel</button>
              <div class="btn-group btn-breadcrumb1 breadcrumbDiv">
                <a class="btn btn-primary1 firstChild" (click)="closeModuleForm()">
                  <i class="glyphicon glyphicon-list" style="margin-right: 10px;"></i>
                  All Modules
                </a>
                <a class="btn btn-primary1 lastChild">{{courseNav.currentModule.modulename}}</a>
              </div>
            </span>
                    </div>
                    <div class="card cardForm borderNone">
                        <div class="card-body padding0 ">
                            <div class=" topEditHead marginBottom0 marginTop0">Module
                                <div class="btn-toolbar btnTool" style="">
                                    <div class="btn-group floatR" style="">
                                        <button class="toolBut" title="Submit">
                    </button>
                                        <button class="toolBut" title="Close form" (click)="closeModuleForm()">

                    </button>
                                    </div>
                                </div>
                            </div>
                            <hr class="listSeperator displayNone" />
                            <div class="row moduleContentDiv">
                                <!-- <div class="col-md-4">
                                      <label class="left_space" style="padding-left: 7px" for="conThumb">Module Thumbnail</label>
                                      <div class="form-group" id="conThumb">
                                          <div class="module-icon">
                                              <div class="m0 moduleIcon-upload">
                                                  <div class="moduleIcon-edit">
                                                      <input type='file' id="imageUpload1" accept=".png, .jpg, .jpeg, .application" (change)="readModuleThumb($event)" />
                                                      <label for="imageUpload1" title="Change Thumbnail"></label>
                                                  </div>
                                                  <div class="moduleIcon-delete" (click)="deleteModuleThumb()">
                                                      <label title="Restore to default"></label>
                                                  </div>
                                                  <div class="moduleIcon-preview">
                                                      <img src="{{formDataModule.modulePic}}">
                                                  </div>

                                              </div>
                                          </div>
                                      </div>
                                  </div>
                <div class="col-md-8">
                  <div class="form-group">

                                        <label class="left_space" for="moduleName">{{helpContent?.course_Module?.module_name?.label}} <sup
                        class="reqFieldActivity">*</sup>
                      <div class="help-tooltip">
                        <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                        <div class="help-tooltip-position-right">
                          <p>{{helpContent?.course_Module?.module_name?.labelHelpContent}}</p>
                          <i></i>
                        </div>
                      </div>
                    </label>

                    <input type="text" class="form-control inputText" id="moduleName"
                      [(ngModel)]="formDataModule.moduleName" required placeholder="Maximum 50 charecters" minlength="2"
                      maxlength="50" name="moduleName" #moduleName="ngModel">

                    <div *ngIf="moduleName.errors && (moduleName.dirty || moduleName.touched)"
                      class="alert alert-danger">
                      <div *ngIf="moduleName.errors.required">Module Name is required</div>
                      <div *ngIf="moduleName.errors.minlength">Minimum 2 characters are required</div>

                    </div>

                                        <span></span>
                                    </div>
                                    <div class="form-group">
                                        <label class="left_space" for="summary">{{helpContent?.course_Module?.summary?.label}} <sup
                        class="reqFieldActivity">*</sup>
                      <div class="help-tooltip">
                        <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                        <div class="help-tooltip-position-right">
                          <p>{{helpContent?.course_Module?.summary?.labelHelpContent}}</p>
                          <i></i>
                        </div>
                      </div>
                    </label>


                    <textarea cols="30" rows="6" class="form-control form-control-input inputText" id="summary"
                      minlength="20" maxlength="500" [(ngModel)]="formDataModule.summary"
                      placeholder="Min 20 and Max 500 characters." name="summary" #summary="ngModel" required
                      pattern=".{20,500}"></textarea>
                    <div *ngIf="summary.errors && (summary.dirty || summary.touched)" class="alert alert-danger">
                      <div [hidden]="!summary.errors.required">Summary is required</div>
                      <div [hidden]="!summary.errors.minlength">Minimum 20 characters required</div>
                      <div [hidden]="!summary.errors.maxlength">Maximum 500 characters required</div>
                    </div>

                    <span></span>
                  </div>
                  <!-- <div class="form-group">
                                          <label class="left_space" for="learnerCreditPoints">Learner Credit Points</label>
                                          <input type="text" class="form-control form-control-input select_field_height inputText" id="learnerCreditPoints" placeholder="Learner Credit Points" [(ngModel)]="formDataModule.learnerCreditPoints" name="learnerCreditPoints" #learnerCreditPoints="ngModel" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');"
                                              onKeyDown="if(this.value.length==3 && event.keyCode!=8) return false;" maxlength="3" min="1">
                                          <div [hidden]="learnerCreditPoints.valid || learnerCreditPoints.pristine" class="alert alert-danger">
                                              <div [hidden]="!learnerCreditPoints.errors.required">Learner Credit Points required
                                              </div>
                                              <div [hidden]="!learnerCreditPoints.errors.minlength">Only numbers allowed</div>
                                          </div>
                                          <div *ngIf="modf.submitted && learnerCreditPoints.invalid" class="alert alert-danger">
                                              <div *ngIf="learnerCreditPoints.errors.required">Learner Credit Points required</div>
                                              <div *ngIf="learnerCreditPoints.errors.pattern">Only numbers allowed</div>
                                          </div>
                                          <span></span>
                                      </div>
                  <div class="form-group">
                      <label class="left_space" for="visible">{{helpContent?.course_Module?.visibility?.label}}
                      <div class="help-tooltip">
                        <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                        <div class="help-tooltip-position-right">
                          <p>{{helpContent?.course_Module?.visibility?.labelHelpContent}}</p>
                          <i></i>
                        </div>
                      </div>
                    </label>


                    <select [(ngModel)]="formDataModule.visible" id="visible" class="form-control select_field_height"
                      required name="visible" #visible="ngModel">
                      <option value="" selected disabled>Select Type</option>
                      <option *ngFor="let item of visibility" value={{item.id}}>{{item.name}}</option>
                    </select>
                                        <!-- <div [hidden]="visible.valid || visible.pristine" class="alert alert-danger">
                                              <div [hidden]="!visible.errors.required">Visibility is required</div>
                                          </div>
                    <div *ngIf="visible.errors && (visible.dirty || visible.touched)" class="alert alert-danger">
                      <div *ngIf="visible.errors.required">Visibility is required</div>
                    </div>
                </form>
            </div>
          </div>
        </form>

      </div>-->
            <div *ngIf="isActiveTop == true">
                <ngx-add-edit-modules [formDataModule]="formDataModule" [tempUsers]="[]" [trainerVisible]="false" (performAction)="doActionOnModule($event)" [getEventData]="inpdata" [courseTypeId]="1" [visibility]="visibility">
                </ngx-add-edit-modules>
            </div>
            <div *ngIf="isActiveRes == true" style="">

                <ngx-add-edit-activity [roles]="roles"
                [allowMultiLanguage]= true
                [selectedMultiLanguageContent]="selectedMultiLanguageContent"
                [showContentSelected]="showContentSelected" [selectedContentData]="showContentSelectedData" [activitieslist]="activitieslist" [selectedTags]="selectedTags" [tagList]="tagList" [formats]="formats" [courseTypeId]="1"
                    [endDateRadio]="endDateRadio" [courseTypeDetails]="selectedType" [linkGenerationInProgress]="linkGenerationInProgress" [showGenrateButton]="showGenrateButton" [shortUrl]="shortUrl" [activityFileData]="activityFileData" [enableUpload]="enableUpload"
                    [currentActIndex]="currentActIndex" [activityCompTrack]="activityCompTrack" [days]="days" [pointFormat]="pointFormat" [subtypeId]="selectedActivitySubType" [formDataActivity]="formDataActivity" (saveActivity)="saveActivityDetails($event)"
                    (browseEvent)="browsePopup($event)"
                    (removeMultiContentEvent)= "preformActionOnRemove($event)"
                    (formatChangeForMultiLanguage) = "preformActionOnFormatChange($event)"
                    (removeContentEvent)="removeContentpopup($event)" (generateAcitivitylink)="generateAcitivtyUrl()" (closeActivityForm)="closeActivityForm()">
                </ngx-add-edit-activity>
            </div>
        </div>
    </div>
    <ngx-multilanguage-popup [noDataFoundActivitySearch]="noDataFoundActivitySearch"   [selectedList]="selectedMultiLanguageContent" [damAssetsList]="srchContentResult" (sendEventToParent)="performActionOnData($event)" [languageList]="languageList" *ngIf="activityContentShow == true">

    </ngx-multilanguage-popup>

    <!-- <div class="selectContentBackdrop" *ngIf="activityContentShow == true">
        <div class="selectContentModal">
            <div class="modal-header">
                <p>Select a content</p>
                <button class="close" aria-label="Close" (click)="closeActivityContentModel(1)">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <div class="contentModelSubDiv">

                    <div class="col-md-12 manEnrolSrchDiv">
                        <input type='text' class="manEnrolSearchUsr searchInput" placeholder='Search content...' (keyup)='searchActivityContent($event,contentSearchQry)' [(ngModel)]="contentSearchQry" />
                    </div>
                    <div class="container content">

                        <div class="card borderNone col-md-4" *ngFor="let catData of srchContentResult; let i = index">
                            <div class="contentDiv contentImgDiv" [ngClass]="{'activeActType': activeSelectedContentId == catData.id}" (click)="selectedActivityContent(i, catData);setActiveSelectedContent(i, catData)">
                                <a>
                                    <img for="content{{ catData.id }}" class="contentIcon" src='{{catData.assetRef}}' onerror="this.src='assets/images/noImage.jpg';">
                                </a>
                                <p class="contentName" title="{{catData.assetName}}">{{catData.assetName | slice:0:20}}</p>
                            </div>
                        </div>

                    </div>
                    <div class="container content" *ngIf="!srchContentResult.length">

                        <p class="nodata">{{ dataDetail }}</p>
                    </div>


                </div>
            </div>
            <div class="modal-footer text-right">
                <button type="button" class="subBttn focus" (click)="saveSelectedActivityContent(1)" id="editbtn">Select</button>
            </div>
        </div>
    </div> -->
    <div class="deleteModalBackdrop" *ngIf="deleteModuleModal == true">
        <div class="deleteModal">
            <div class="modal-header deleteModalHeader">
                <p class="deleteModalHeaderP">Delete module</p>
                <button class="close closeDeleteModalBtn" aria-label="Close" (click)="closeDeleteModuleModal()">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <div class="">
                    <p class="deleteModalBodyP">Are you sure you want to delete {{deleteModuleData.name}} ?</p>
                </div>
            </div>
            <div class="modal-footer deleteModalFooter">
                <div class="">
                    <button type="button" class="subBttn focus" (click)="deleteModuleAction(true)">Yes</button>
                </div>
                <div class="">
                    <button type="button" class="subBttn focus" (click)="deleteModuleAction(false)">No</button>
                </div>
            </div>
        </div>
    </div>
    <div class="deleteModalBackdrop" *ngIf="deleteActivityModal == true">
        <div class="deleteModal">
            <div class="modal-header deleteModalHeader">
                <p class="deleteModalHeaderP">Delete activity</p>
                <button class="close closeDeleteModalBtn" aria-label="Close" (click)="closeDeleteActivityModal()">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <div class="">
                    <p class="deleteModalBodyP">Are you sure you want to delete {{deleteActivityData.rname}} ?</p>
                </div>
            </div>
            <div class="modal-footer deleteModalFooter">
                <div class="">
                    <button type="button" class="subBttn focus" (click)="deleteActivityAction(true)">Yes</button>
                </div>
                <div class="">
                    <button type="button" class="subBttn focus" (click)="deleteActivityAction(false)">No</button>
                </div>
            </div>
        </div>
    </div>
    <div class="existingModalBackdrop" *ngIf="existingActivityModal == true">
        <div class="existingModal">
            <div class="modal-header existingModalHeader">
                <p class="existingModalHeaderP">File already exists</p>
                <button class="close closeExistingModalBtn" aria-label="Close" (click)="closeExistingActivityModal()">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <div class="">
                    <p class="existingModalBodyP">File you have uploaded is already exists,Do you want to proceed ?</p>
                </div>
            </div>
            <div class="modal-footer existingModalFooter">
                <div class="">
                    <button type="button" class="subBttn focus" (click)="existingActivityAction(true)">Yes</button>
                </div>
                <div class="">
                    <button type="button" class="subBttn focus" (click)="existingActivityAction(false)">No</button>
                </div>
            </div>
        </div>
    </div>
    <div class="selectContentBackdrop" *ngIf="quizContentShow == true">
        <div class="selectContentModal">
            <div class="modal-header">
                <p>Select a content</p>
                <button class="close" aria-label="Close" (click)="closequizContentModel()">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <div class="contentModelSubDiv">
                    <!-- <div> -->
                    <div class="col-md-12 manEnrolSrchDiv">
                        <input type='text' class="manEnrolSearchUsr searchInput" placeholder='Search content...' (keyup)='searchQuizContent($event,quizSearchQry)' [(ngModel)]="quizSearchQry" />
                    </div>
                    <div class="container content">
                        <!-- <div class="row"> -->
                        <div class="card borderNone col-md-4" *ngFor="let catData of srchquizResult; let i = index ">
                            <div class="contentDiv contentImgDiv" [ngClass]="{'activeActType': activeSelectedQuizId == catData.qid}" (click)="setActiveSelectedQuiz(i,catData)">
                                <a>
                                    <img for="content{{catData.qid}}" class="contentIcon" src='{{catData.picRef}}' onerror="this.src='assets/images/noImage.jpg';">
                                </a>
                                <p class="contentName" title="{{catData.qName}}">{{catData.qName | slice:0:10}} ({{catData.qcode}})</p>
                            </div>
                        </div>
                        <!-- </div> -->
                    </div>
                    <div class="container content" *ngIf="!srchquizResult.length">
                        <!-- <img class="noDataImg" src='assets/images/noDataFound1.png' onerror="this.src='assets/images/noDataFound1.png';"> -->
                        <!-- <img src='assets/images/noDataFound2.png' onerror="this.src='assets/images/noDataFound2.png';"> -->
                        <p class="nodata">Search content...</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer text-right">
                <button type="button" class="subBttn focus" (click)="saveSelectedQuizContent()" id="editbtn">Select</button>
            </div>
        </div>
    </div>
    <div class="selectContentBackdrop" *ngIf="feedbackContentShow == true">
        <div class="selectContentModal">
            <div class="modal-header">
                <p>Select a content</p>
                <button class="close" aria-label="Close" (click)="closefeedbackContentModel()">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <div class="contentModelSubDiv">
                    <!-- <div> -->
                    <div class="col-md-12 manEnrolSrchDiv">
                        <input type='text' class="manEnrolSearchUsr searchInput" placeholder='Search content...' (keyup)='searchFeedbackContent($event,feedbackSearchQry)' [(ngModel)]="feedbackSearchQry" />
                    </div>
                    <div class="container content">

                        <div class="card borderNone col-md-4" *ngFor="let catData of srchfeedbackResult; let i = index ">
                            <div class="contentDiv contentImgDiv" [ngClass]="{'activeActType': activeSelectedFeedbackId == catData.fid}" (click)="setActiveSelectedFeedback(i,catData)">
                                <a>
                                    <img for="content{{catData.fid}}" class="contentIcon" src='{{catData.picRef}}' onerror="this.src='assets/images/noImage.jpg';">
                                </a>
                                <p class="contentName" title="{{catData.fname}}">{{catData.fname | slice:0:20}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="container content" *ngIf="!srchfeedbackResult.length">

                        <p class="nodata">Search content...</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-default floteright constantbtn" (click)="saveSelectedFeedbackContent()">Select</button>
            </div>
        </div>
    </div>

    <div class="existingModalBackdrop" *ngIf="removeActivityConfirmation">
      <div class="existingModal">
          <div class="modal-header existingModalHeader">
              <p class="existingModalHeaderP">Remove Langugae Content</p>
              <button class="close closeExistingModalBtn" aria-label="Close" (click)="toggelActivityConfirmation(false)">
        <span aria-hidden="true">&times;</span>
      </button>
          </div>
          <div class="modal-body">
              <div class="">
                  <p class="existingModalBodyP">Do you really want to delete langugae ?</p>
              </div>
          </div>
          <div class="modal-footer existingModalFooter">
              <div class="">
                  <button type="button" class="subBttn focus" (click)="removeLangugae(removeActivityContent)">Yes</button>
              </div>
              <div class="">
                  <button type="button" class="subBttn focus" (click)="toggelActivityConfirmation(false)">No</button>
              </div>
          </div>
      </div>
  </div>

  <!-- <ngx-modal-pop-up [title]="'Remove Langugae Content'" *ngIf="removeActivityConfirmation" [header]="true" (closeBtn)="toggelActivityConfirmation(false)">
<div>
  <p>Do you really want to delete langugae ?</p>
</div>
<div class="border-top text-right pt-3 pr-3 pl-3 ">
  <button type="button" class="subBttn mr-3" (click)="removeLangugae(removeActivityContent)">Yes</button>
  <button type="button" class="subBttn" (click)="toggelActivityConfirmation(false)">No</button>
</div>
  </ngx-modal-pop-up> -->
</div>
