@import '../../../../../../@theme/styles/variable.scss';
// .headT{
//     width: 100%;
//     margin: 0;
//     line-height: 28px;
//     color: #484848;
//     font-family: "poppins";
// }
// .d-flex{
//     display: flex !important;
//     padding: 10px;
//     font-size: 20px;
//     border-bottom: 0.5px solid #ccc;
// }
// .modalbtn{
//     width: 30px;
//     height: 30px;
//     border-radius: 50%;
//     border: none;
//     font-weight: 600;
//     background: #73a1ff;
//     line-height: 30px;
//     color: #fff;
//     cursor: pointer;
//     font-size: 24px;
// }
// .horiz{
//     margin: 0;
//     border: 1px solid #ccc;
//     width: 100%;
// }
// .coursediv{
//     width: 100%;
//     padding: 0;
//     margin: 4% 0 0 4%;
//     height: 100%;
//     -webkit-box-flex: 0;
//     -ms-flex: 0 0 20%;
//     flex: 0 0 20%;
//     color: #000000;
//     background-color: #ffffff;
//     border: 1px solid #eedded;
//     -webkit-box-shadow: none;
//     box-shadow: none;
// }
// .contents{
//     margin-top: 20px;
//     padding: 10px 15px;
// }
// .imgblock{
//     text-align: center;
// }
// .imgCC{
//     width: 100%;
//     height: 100px;
//     margin: auto;
// }
// .mains{
//     padding: 10px;
// }
// .flextit{
//     display: flex;
//     line-height: 30px;
// }
// .items{
//     display: flex;
//     margin: 20px 0;
// }
// .title1{
//     margin: 0;
//     font-size: 18px;
//     font-family: "poppins";
//     width: 100%;
// }
// .bars{
//     line-height: 30px;
//     font-size: 20px;
//     cursor: pointer;
// }
// .desc{
//     font-size: 13px;
//     text-align: justify;
//     margin: 14px 0;
// }
// .addSelfBackdrop345{
//     // position: absolute;
//     //   width: 100%;
//     //   height: 100%;
//     //   top: 0px;
//     //   left:0px;
//     //   padding: 0;
//     //   background-color: #404040c2;
//     //   z-index: 1500;
//     //   box-sizing: border-box;
//     position: fixed;
//     width: 100%;
//     height: 100%;
//     top: 0px;
//     left: 0px;
//     z-index: 1503;
//     background-color: #404040c2;
//   }
//   .addSelfDemoModal345{
//     // margin: auto ;
//     // width:50%;
//     // background-color: #fff;
//     // border-radius: 5px;
//     // margin-top: 2%;
//     width: 50%;
//     margin: auto;
//     background-color: #fff;
//     margin-top: 65px;
//     border-radius: 5px;
//   }
.modal-header {
    background-color: #076ba1;
    height: 55px;
    color: #fff !important;
}

.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #fff !important;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    outline: none;
}

//   .percents{
//       width: 100%;
//       text-align: center;
//   }
//   .modalTitle{
//     width: 100%;
//     line-height: 30px;
//     height: 30px;
//     margin: auto;
//     padding: 0 20px;
//     color: #fff;
//     font-family: "poppins";
//   }
//   .close{
//     line-height: 30px;
//     height: 30px;
//     font-family: "poppins";
//     color: #fff;
//     width: 30px;
//     margin: auto;
//   }
//   .checkbtn{
//       width: 30px;
//       height: 30px;
//       padding: 0 8px;
//       border: 1px solid #ccc;
//       border-radius: 50%;
//       background: #fff;
//       color: #fff;
//       text-align: center;
//       cursor: pointer;
//       line-height: 30px;
//   }
//   .selected{
//     width: 30px;
//     height: 30px;
//     padding: 0 8px;
//     border: none;
//     border-radius: 50%;
//     background: #67e640;
//     text-align: center;
//     color: #fff;
//     cursor: pointer;
//     line-height: 30px;
//   }
//   .modalfooter345{
//     text-align: right;
//   }
.addCourseBackdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1503;
    background-color: #404040c2;
    .addCourseBackdropModal {
        width: 50%;
        margin: auto;
        background-color: #fff;
        margin-top: 65px;
        border-radius: 5px;
    }
}

.modal-close {
    color: #FFFFFF;
}

.topDivRe {
    height: 323px;
    overflow-y: scroll;
}

.search_div {
    // display: grid;
    // grid-template-columns: 5fr 0fr;
    // grid-column-gap: 20px;
    // -webkit-box-align: center;
    // -ms-flex-align: center;
    // align-items: center;
    padding: 10px 0;
    display: flex;
    width: 100%;
    .search_field {
        -webkit-box-shadow: none;
        box-shadow: none;
        border: none;
        border-bottom: 1px solid #EEE;
        padding: 10px;
        width: 100%;
    }
    .search_field:focus {
        border-bottom: 1px solid #EEE;
    }
    .remove_icon {
        position: relative;
        padding: 10px;
        background: white;
        color: black;
        min-width: 50px;
        text-align: center;
        cursor: pointer;
    }
}

.badgeContainer,
.certContainer {
    margin: 15px;
}

.displayin {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 0px;
    margin-bottom: 12px;
    cursor: pointer;
    border: 1px solid #eee;
}

.activeCourse {
    border: 1px solid #076ba1 !important;
    background-color: #e9eef1;
}

.courseIcon {
    width: 100px;
    height: 50px;
    margin: 0;
}

.courseIm {
    align-self: center;
    text-align: center;
}

.floatrig {
    font-size: 11px;
    line-height: 15px;
    margin: 0;
    text-align: justify;
    margin-top: 10px;
}

.courseContainer {
    margin: 15px;
}

.BrCo {
    float: right;
    background: #076ba1 !important;
    color: white !important;
    border: none !important;
    height: 28px !important;
    margin: 5px !important;
}


/******************************************** copy data ************************************************/

// ngx-course-details{
.mainDiv {
    padding: 2.25rem 2.25rem 0.75rem !important;
}

.headContainer {
    display: inline-flex;
    width: 100%;
}

// .headImg{
//     float: right;
// }
.headContent {
    height: 86px;
    width: 1036px;
}

.headTitle {
    color: #464646;
    // font-family: "Open Sans";
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 0rem !important;
}

.headDesc {
    opacity: 0.6;
    color: #464646;
    //font-family: "Open Sans";
    font-size: 14px;
    line-height: 35px;
    margin-bottom: 0;
}

.headDetails {
    color: #464646;
    //font-family: "Open Sans";
    font-size: 12px;
    line-height: 17px;
}

.shareContent {
    margin: auto;
    text-align: center;
}

.headShareImg {
    height: 30px;
    width: 30px;
    float: right;
}

.row_inline {
    display: grid;
    width: 100%;
    align-items: center;
    grid-template-columns: 100px 1fr;
    margin-bottom: 20px;
}

// .noPad{
//     padding: 0px !important;
//     margin-right: 10px;
// }
.bodyContent {
    height: auto;
    width: 100%;
    border-radius: 10px;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-top: 20px;
}

.bodyImg {
    height: 100%;
    width: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.card-overlay {
    z-index: 0;
    background: rgba(0, 0, 0, 0.5);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-right: 12px;
    width: 35%;
}

.card-not-overlay {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 100%;
    padding-left: 0;
}

.bodyMid {
    // margin: 30px 0;
    width: 100%;
}

.bodyMidHead {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 0fr;
    margin-top: 10px;
    align-items: center;
}

.rightOnlineStat {
    width: 100%;
    display: grid;
    grid-template-columns: 20px 0fr;
    align-items: center;
}

.bNo {
    color: #507BFC;
    // font-family: "Open Sans";
    font-size: 26px;
    line-height: 36px;
    text-align: center;
}

.bNa {
    color: #1B2437;
    // font-family: "Open Sans";
    font-size: 18px;
    line-height: 36px;
    text-align: center;
}

.bMHP1 {
    margin: 0;
}

.alignCenter {
    width: 100%;
    margin: auto 0;
    padding: 0;
    text-align: right;
}

.bMHP2 {
    color: #464646;
    //font-family: "Open Sans";
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    margin: auto 10px;
}

.bodyMidCoins {
    margin-top: 15px;
    height: 24px;
    width: 92px;
    border-radius: 12px;
    background-color: #FFAE74;
}

.bodyMidCoinsText {
    color: #FFFFFF;
    // font-family: "Open Sans";
    font-size: 12px;
    font-weight: 600;
    line-height: 17px;
    text-align: center;
    padding-top: 4px;
}

.cardImg {
    height: 14px;
    width: auto;
    margin: auto 0;
}

.cardImg2 {
    cursor: pointer;
    width: 18px;
    float: right;
}

.bodydesc {
    width: 100%;
    text-align: justify;
    margin: 20px 0;
    font-size: 13px;
    //font-family: "open sans";
    line-height: 24px;
}

.bodyMidButton {
    height: 40px;
    width: 228px;
    border-radius: 100px;
    background-color: #507BFC;
    box-shadow: 0 10px 20px 0 rgba(80, 123, 252, 0.5);
    margin-top: 45px;
    margin-right: 30px;
    float: right;
    cursor: pointer;
}

.bodyMidButton1 {
    height: 40px;
    width: 228px;
    border: 1px solid #AAAAAA;
    border-radius: 100px;
    box-shadow: 0 10px 20px 0 rgba(80, 123, 252, 0.5);
    float: right;
    cursor: pointer;
    margin-right: 25px;
}

.bodyMidButton2 {
    height: 40px;
    width: 228px;
    border-radius: 100px;
    background-color: #AAAAAA;
    box-shadow: 0 10px 20px 0 rgba(80, 123, 252, 0.5);
    margin-top: 45px;
    margin-right: 30px;
    float: right;
    cursor: not-allowed;
}

.bodyMidButtonText {
    color: #FFFFFF;
    // font-family: "Open Sans";
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    text-align: center;
    padding: 10px;
}

.bodyMidButtonText1 {
    color: #AAAAAA;
    // font-family: "Open Sans";
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    padding: 10px;
}

.bodyMidButtonText2 {
    color: #FFFFFF;
    // font-family: "Open Sans";
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
    text-align: center;
    padding: 10px;
}

.Tabs {
    display: inline-flex;
}

.Tab-container {
    height: 35px;
    width: auto;
    /* padding: 0px; */
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 17px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 6px 0 rgba(47, 83, 151, 0.1);
    margin-right: 10px;
    cursor: pointer;
}

.Tab-content {
    // color: #076ba1;
    color: var(--colorCommon);
    //font-family: "Open Sans";
    font-size: 15px;
    font-weight: 500;
    line-height: 34.5px;
    text-align: center;
    // width: auto !important;
    // border: 1px solid #076ba1;
    // padding: 6px 14px !important;
    // background-color: #ffffff !important;
    // color: #076ba1 !important;
    // min-width: 90px !important;
    // max-height: 36px !important;
    // height: 32px;
}

.noData {
    text-align: center;
    height: 100vh;
}

.centerAlign {
    position: relative;
    top: 50%;
    width: 70%;
    margin: 0 auto;
}

.centrtxt {
    font-size: 14px;
    text-align: center;
}

.Tab-container-active {
    height: 35px;
    width: auto;
    /* padding: 0px; */
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 17px;
    // background-color: #076ba1;
    background-color: var(--colorCommon);
    // box-shadow: 0 10px 20px 0 rgba(80, 123, 252, 0.5);
    margin-right: 10px;
}

.Tab-content-active {
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 500;
    line-height: 34.5px;
    text-align: center;
}

.deleteModuleIcon {
    float: right;
    font-size: x-large;
    cursor: pointer;
}

.icon_css_new {
    text-align: center;
    width: 100%;
    font-size: 50px;
    /* margin: 60px 0 0 0; */
    display: flex;
    align-items: flex-end;
    justify-content: center;
    // color: #076ba1;
    color: var(--colorIcons);
}

// }