<app-subheader [headerConfig]="header" (inputsearch)="SarchFilter($event)" (Clear)="clear()" (addbtn)="addeditccategory(undefined,0)" (backClick)="back()"></app-subheader>

<div class="asset_category_container">
    <div class="asset_category_div">
        <!-- <div class="top_header_container">
            <div class="top_header_div_sticky content_width">
                <div class="page_title">
                    <h4>Asset Category</h4>
                </div>
                <div class="search_div">
                    <input type="text" (keyup)="SarchFilter($event, searchtext)" [(ngModel)]="searchtext" class="search_field" placeholder="Search by category name">
                    <i class="fa fa-remove remove_icon" aria-hidden="true" (click)="clear()"></i>
                </div>
                <div class="buttons_div">
                    <button type="button" class="constantbtn-button-blue-left " (click)="addeditccategory(undefined,0)">Add
            Category</button>
                    <button type="submit" class="back_button" (click)="back()">Back</button>
                </div>
            </div>
        </div> -->

        <div class="" *ngIf="!noDataFound">

            <table *ngIf="!skeleton">
                <tr>
                    <div class="multiple_assetCat_card_container">
                        <div class="assetCat_width">
                            <div class="assetCat_container">
                                <td>
                                    <div class="assetCat_card">
                                        <div class="assetCat">
                                            <ngx-skeleton-loader [theme]="{ width: '216px', height: '140px','margin': '5px' }">
                                            </ngx-skeleton-loader>
                                        </div>
                                        <div class="assetCat-title">
                                            <ngx-skeleton-loader [theme]="{
                                                  width: '170px',
                                                  height: '40px'
                                                }"></ngx-skeleton-loader>
                                        </div>
                                        <div class="assetCat-title">
                                            <ngx-skeleton-loader [theme]="{
                                                  width: '170px',
                                                  height: '40px'
                                                }"></ngx-skeleton-loader>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="assetCat_card">
                                        <div class="assetCat">
                                            <ngx-skeleton-loader [theme]="{ width: '216px', height: '140px','margin': '5px' }">
                                            </ngx-skeleton-loader>
                                        </div>
                                        <div class="assetCat-title">
                                            <ngx-skeleton-loader [theme]="{
                                                  width: '170px',
                                                  height: '40px'
                                                }"></ngx-skeleton-loader>
                                        </div>
                                        <div class="assetCat-title">
                                            <ngx-skeleton-loader [theme]="{
                                                  width: '170px',
                                                  height: '40px'
                                                }"></ngx-skeleton-loader>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="assetCat_card">
                                        <div class="assetCat">
                                            <ngx-skeleton-loader [theme]="{ width: '216px', height: '140px','margin': '5px'}">
                                            </ngx-skeleton-loader>
                                        </div>
                                        <div class="assetCat-title">
                                            <ngx-skeleton-loader [theme]="{
                                                  width: '170px',
                                                  height: '40px'
                                                }"></ngx-skeleton-loader>
                                        </div>
                                        <div class="assetCat-title">
                                            <ngx-skeleton-loader [theme]="{
                                                  width: '170px',
                                                  height: '40px'
                                                }"></ngx-skeleton-loader>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="assetCat_card">
                                        <div class="assetCat">
                                            <ngx-skeleton-loader [theme]="{ width: '216px', height: '140px','margin': '5px'}">
                                            </ngx-skeleton-loader>
                                        </div>
                                        <div class="assetCat-title">
                                            <ngx-skeleton-loader [theme]="{
                                                  width: '170px',
                                                  height: '40px'
                                                }"></ngx-skeleton-loader>
                                        </div>
                                        <div class="assetCat-title">
                                            <ngx-skeleton-loader [theme]="{
                                                  width: '170px',
                                                  height: '40px'
                                                }"></ngx-skeleton-loader>
                                        </div>
                                    </div>
                                </td>
                            </div>
                        </div>
                    </div>
                </tr>
                <tr>
                    <div class="multiple_assetCat_card_container">
                        <div class="assetCat_width">
                            <div class="assetCat_container">
                                <td>
                                    <div class="assetCat_card">
                                        <div class="assetCat">
                                            <ngx-skeleton-loader [theme]="{ width: '216px', height: '140px','margin': '5px'}">
                                            </ngx-skeleton-loader>
                                        </div>
                                        <div class="assetCat-title">
                                            <ngx-skeleton-loader [theme]="{
                                                      width: '170px',
                                                      height: '40px'
                                                    }"></ngx-skeleton-loader>
                                        </div>
                                        <div class="assetCat-title">
                                            <ngx-skeleton-loader [theme]="{
                                                      width: '170px',
                                                      height: '40px'
                                                    }"></ngx-skeleton-loader>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="assetCat_card">
                                        <div class="assetCat">
                                            <ngx-skeleton-loader [theme]="{ width: '216px', height: '140px','margin': '5px'}">
                                            </ngx-skeleton-loader>
                                        </div>
                                        <div class="assetCat-title">
                                            <ngx-skeleton-loader [theme]="{
                                                      width: '170px',
                                                      height: '40px'
                                                    }"></ngx-skeleton-loader>
                                        </div>
                                        <div class="assetCat-title">
                                            <ngx-skeleton-loader [theme]="{
                                                      width: '170px',
                                                      height: '40px'
                                                    }"></ngx-skeleton-loader>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="assetCat_card">
                                        <div class="assetCat">
                                            <ngx-skeleton-loader [theme]="{ width: '216px', height: '140px','margin': '5px'}">
                                            </ngx-skeleton-loader>
                                        </div>
                                        <div class="assetCat-title">
                                            <ngx-skeleton-loader [theme]="{
                                                      width: '170px',
                                                      height: '40px'
                                                    }"></ngx-skeleton-loader>
                                        </div>
                                        <div class="assetCat-title">
                                            <ngx-skeleton-loader [theme]="{
                                                      width: '170px',
                                                      height: '40px'
                                                    }"></ngx-skeleton-loader>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="assetCat_card">
                                        <div class="assetCat">
                                            <ngx-skeleton-loader [theme]="{ width: '216px', height: '140px','margin': '5px'}">
                                            </ngx-skeleton-loader>
                                        </div>
                                        <div class="assetCat-title">
                                            <ngx-skeleton-loader [theme]="{
                                                      width: '170px',
                                                      height: '40px'
                                                    }"></ngx-skeleton-loader>
                                        </div>
                                        <div class="assetCat-title">
                                            <ngx-skeleton-loader [theme]="{
                                                      width: '170px',
                                                      height: '40px'
                                                    }"></ngx-skeleton-loader>
                                        </div>
                                    </div>
                                </td>
                            </div>
                        </div>
                    </div>
                </tr>
            </table>

            <!-- <div class="content_width" *ngIf="skeleton">
                <div class="cards_container" *ngIf="!noCategory">

                    <div class="singel_card" *ngFor="let item of category ;let i=index">
                        <div class="overlay_hidden" [hidden]="item.visible == 1">
                            <i title="Disabled" id="enable_{{item.visible}}" class="fa fa-eye-slash" aria-hidden="true" (click)="disableCategory(2,item)"></i>
                        </div>


                        <div class="singel_card_image pointer" *ngIf="item.categoryPicRef" [ngStyle]="{'background-image': 'url(' + item.categoryPicRef + ')'}" (click)="gotoAsset(item)">
                        </div>
                        <div class="singel_card_image not_found pointer" *ngIf="!item.categoryPicRef" (click)="gotoAsset(item)">
                        </div>


                        <div class="card_title" (click)="gotoAsset(item)">
                            <div *ngIf="item?.categoryName">
                                <div class="pointer" title="{{item.categoryName}}" *ngIf="item?.categoryName?.length <= 15">
                                    {{item.categoryName}}</div>
                                <div class="pointer" title="{{item.categoryName}}" *ngIf="item?.categoryName?.length > 15">
                                    {{item.categoryName.substring(0,15)}}...</div>
                            </div>
                            <div *ngIf="!(item?.categoryName)">Not Available</div>
                        </div>

                        <div class="card_subtitle" title="Category Code">
                            Asset(s) : {{item.cnt}}
                        </div>




                        <div class="user-icon pointer">
                            <div class="icons-enable-disable" title="Edit" (click)="addeditccategory(item,1)">
                                <i aria-hidden="true" class="fa fa-edit"></i>
                            </div>

                            <div class="icons-enable-disable">
                                <i title="Enabled" id="disable_{{item.categoryId}}" class="fa fa-eye" aria-hidden="true" (click)="disableCategory(1,item)" [hidden]="item.visible == 0"></i>

                                <i title="Disabled" id="enable_{{item.categoryId}}" class="fa fa-eye-slash" aria-hidden="true" (click)="disableCategory(2,item)" [hidden]="item.visible == 1"></i>
                            </div>


                        </div>
                    </div>
                </div>
            </div> -->
        </div>

        <!-- [ngStyle]="{ height: conentHeight }" -->
        <div *ngIf="skeleton">
            <div *ngIf="!noCategory" class="dam_asset_category overflow_scroll_cards_container" (scroll)="onScroll(scrollMe)" #scrollMe>
                <div *ngFor="let item of displayArray ;let i=index">
                    <ngx-card (disabled)="clickTodisable(item)" (sectionEdit)="EditSection(item)" [cardsList]="item" [config]="cardModify" (gotoDetails)="gotodetails(item)"></ngx-card>
                </div>
            </div>
        </div>

        <div *ngIf="noCategory">
            <div class="">
                <div class="col-md-12">
                    <img style="width: 1000px;" src='assets/images/noDataFound1.png' onerror="this.src='assets/images/noDataFound1.png';">
                    <!-- <img src='assets/images/noDataFound2.png' onerror="this.src='assets/images/noDataFound2.png';"> -->
                    <!-- <p class="nodata"> No Data Found</p> -->
                </div>
            </div>
        </div>
    </div>


    <div class="deleteModalBackdrop " *ngIf="addEditCategoryModal == true">
        <div class="addSelfDemoModalCat">
            <div class="modal-header">
                <p *ngIf="addAction">Add Asset Category</p>
                <p *ngIf="!addAction">Edit Asset Category</p>
                <button class="close " aria-label="Close" (click)="closeModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modalBody12">

                <form class="forms-sample" style="color: #6b6b6b; width: 100%;" #categoryFormValidation="ngForm">
                    <div class="row rowMarginAuto">
                        <div class="col-6 pad-lr">
                            <div class="boxMargin">
                                <label class="left_space">
                                    {{helpContent?.dam_asset?.category_name.label}}
                                    <sup class="reqFieldActivity">*</sup>
                                    <div class="help-tooltip">
                                        <i class="fa fa-info-circle tooltip-hover-info-label-round"
                                            aria-hidden="true"></i>
                                        <div class="help-tooltip-position-right">
                                            <p>{{helpContent?.dam_asset?.category_name?.labelHelpContent}}</p>
                                            <i></i>
                                        </div>
                                    </div>
                                </label>
                                <input type="text" class="form-control form-control-input inputText" minlength="2" maxlength="50" required [(ngModel)]="categoryForm.name" id="name" placeholder="Maximum 50 characters" name="Name" #categoryName="ngModel" [ngClass]="{ 'is-invalid': submitted && categoryName.errors }">
                                <div *ngIf="categoryName.errors && (categoryName.dirty || categoryName.touched)" class="alert alert-danger custom-alert">
                                    <div *ngIf="categoryName.errors.required">Category Name is required</div>
                                    <div *ngIf="categoryName.errors.minlength">Minimum 2 characters required</div>
                                </div>
                            </div>



                            <div class="">
                                <label class="left_space">
                                    {{helpContent?.dam_asset?.description.label}}
                                    <sup class="reqFieldActivity">*</sup>
                                    <div class="help-tooltip">
                                        <i class="fa fa-info-circle tooltip-hover-info-label-round"
                                            aria-hidden="true"></i>
                                        <div class="help-tooltip-position-right">
                                            <p>{{helpContent?.dam_asset?.description?.labelHelpContent}}</p>
                                            <i></i>
                                        </div>
                                    </div>
                                </label>
                                <textarea type="text" class="form-control form-control-input inputText" id="desc" [(ngModel)]="categoryForm.desc" placeholder="Min 20 and Max 500 characters." name="desc" #desc="ngModel" minlength="20" maxlength="500" required [ngClass]="{ 'is-invalid': submitted && desc.errors }"></textarea>
                                <div *ngIf="desc.errors && (desc.dirty || desc.touched)" class="alert alert-danger custom-alert">
                                    <div *ngIf="desc.errors.required">Category Description is required</div>
                                    <div *ngIf="desc.errors.minlength">Minimum 20 characters required</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 pad_rm">
                            <label class="left_space">
                                {{helpContent?.dam_asset?.asset_image.label}}
                                <!-- <sup class="reqFieldActivity">*</sup>  -->
                                <div class="help-tooltip">
                                    <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                                    <div class="help-tooltip-position-right">
                                        <p>{{helpContent?.dam_asset?.asset_image?.labelHelpContent}}</p>
                                        <i></i>
                                    </div>
                                </div>
                            </label>
                            <div class="image_upload_container">
                                <div class="image_preview">

                                    <!-- style="background-image: url('https://bhaveshedgetest.s3.ap-south-1.amazonaws.com/BFL.jpg')"  -->
                                    <div class="image_preview_container" [ngClass]="{ 'not_found': !categoryForm.categoryPicRef || categoryForm.categoryPicRef === null }" [style.background-image]="'url(' + categoryForm.categoryPicRef + ')'">
                                        <div class="icon_upload_image">
                                            <input type='file' id="imageUploadBadge" accept=".png, .jpg, .jpeg" (change)="readAssetCatImage($event)" style="display: none" />

                                            <label for="imageUploadBadge" title="Change Thumbnail"><i
                                                    class="fa fa-pencil" aria-hidden="true"></i></label>
                                        </div>
                                        <div class="icon_delete" (click)="deleteAssetCatImage()">
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                            <!-- <label></label> -->
                                        </div>
                                    </div>

                                    <div class="fileexterrclass" *ngIf="fileexterror">File format not supported.</div>

                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer ">
                <button class="constantbtn-button-blue-left" [disabled]="isSave" (click)="submit(categoryForm, categoryFormValidation)">Save</button>
            </div>
        </div>
    </div>

    <div *ngIf="noDataFound">
        <div class="row">
            <div class="col-md-12">
                <img style="width: 1000px;" src='assets/images/noDataFound1.png' onerror="this.src='assets/images/noDataFound1.png';">

            </div>
        </div>
    </div>


    <div class="deleteModalBackdrop" *ngIf="enableDisableCategoryModal == true">
        <div class="deleteModal">
            <div class="modal-header deleteModalHeader">
                <p class="enableDisableModalHeaderP">{{changetitle}} category</p>
                <button class="close closeDeleteModalBtn" aria-label="Close" (click)="closeEnableDisableCategoryModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="">
                    <p class="enableDisableModalBodyP">Are you sure you want to {{changetitle}} {{categoryData.categoryName}} ?</p>
                </div>

            </div>

            <div class="modal-footer deleteModalFooter">
                <div class="">
                    <button type="button" class="constantbtn-button-blue-left" (click)="enableDisableAction(true)">Yes</button>
                </div>
                <div class="">
                    <button type="button" class="constantbtn-button-blue-right" (click)="enableDisableAction(false)">No</button>
                </div>
            </div>
        </div>
    </div>
</div>
