.asset_category_container {
  height: 100%;

    .pointer {
        cursor: pointer;
    }

    .dam_asset_category{
      // overflow-y: auto;
      // height: calc(100vh - 7.75rem);
      padding-bottom: 10px;
      padding-bottom: 20px;
    }
    // .trHeader {
    //     text-align: center;
    //     text-transform: uppercase;
    //     font-weight: 500;
    //     padding: 8px;
    //     background-color: #2574a2
    // }
    // .btn:hover {
    //     transform: none;
    // }
    // #editbtn2{
    //     margin-right: 12%;
    //     margin-left: 10px;
    //     border-radius: 0;
    //     background: #076ba1;
    //     color: #fff;
    //     border: #076ba1;
    //     height: 32px;
    //     color: #ffffff;
    //     background-image: none;
    //     border-color: #076ba1;
    //     -webkit-transform: none;
    //     transform: none;
    // }
    // .round{
    //     position: absolute   ;
    //     height: 40px   ;
    //     width: 40px   ;
    //     color: #fff;
    //     background: blue;
    //     border-radius: 50%;
    //     right: -5px;
    //     text-align: center;
    //     top: -5%;
    //     padding: 10px;
    //  .count{
    //    // position: relative;
    // background: blue;
    // height: 40px   ;
    //  width: 40px   ;
    //  border-radius: 40%;
    //  color: #fff;
    // // left: 25%;
    // // top: 25%;
    // font-size: 15px;
    //  }
    // }
    // .addSelfBackdrop2 {
    //     position: absolute;
    //     width: 100%;
    //     height: 100%;
    //     top: 67px;
    //     padding: 0;
    //     background-color: #404040c2;
    //     z-index: 2000;
    //     box-sizing: border-box;
    // }
    // .addSelfDemoModal2 {
    // margin: auto;
    // width: 50%;
    // background-color: #fff;
    // border-radius: 5px;
    // margin-top: 2%;
    // }
    .form-control {
        -webkit-box-shadow: none;
        box-shadow: none;
        border: 1px solid #dadfe6;
    }
    .rowMarginAuto {
        margin: auto;
    }
    .boxMargin {
        margin-bottom: 20px;
    }
    textarea {
        resize: none;
    }
    // .course-icon {
    //     margin: 0 auto;
    // }
    // .courseIcon-upload {
    //     position: relative;
    //     // max-width: 205px;
    //     max-width: 275px;
    //     /*margin: 50px auto;*/
    //     .courseIcon-edit {
    //         position: absolute;
    //         // right: 12px;
    //         z-index: 1;
    //         // top: 10px;
    //         left: 13px;
    //         bottom: 8px;
    //         input {
    //             display: none;
    //             +label {
    //                 display: inline-block;
    //                 width: 34px;
    //                 height: 34px;
    //                 margin-bottom: 0;
    //                 border-radius: 100%;
    //                 background: #FFFFFF;
    //                 border: 1px solid transparent;
    //                 box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    //                 cursor: pointer;
    //                 font-weight: normal;
    //                 transition: all .2s ease-in-out;
    //                 &:hover {
    //                     background: #f1f1f1;
    //                     border-color: #d6d6d6;
    //                 }
    //                 &:after {
    //                     content: "\f040";
    //                     font-family: 'FontAwesome';
    //                     color: #757575;
    //                     position: absolute;
    //                     top: 10px;
    //                     left: 0;
    //                     right: 0;
    //                     text-align: center;
    //                     margin: auto;
    //                 }
    //             }
    //         }
    //     }
    //     .courseIcon-delete {
    //         position: absolute;
    //         // right: 12px;
    //         z-index: 1;
    //         // bottom: 10px;
    //         right: 13px;
    //         bottom: 8px;
    //         label {
    //             display: inline-block;
    //             width: 34px;
    //             height: 34px;
    //             margin-bottom: 0;
    //             border-radius: 100%;
    //             background: #FFFFFF;
    //             border: 1px solid transparent;
    //             box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    //             cursor: pointer;
    //             font-weight: normal;
    //             transition: all .2s ease-in-out;
    //             &:hover {
    //                 background: #f1f1f1;
    //                 border-color: #d6d6d6;
    //             }
    //             &:after {
    //                 content: "\f1f8";
    //                 font-family: 'FontAwesome';
    //                 color: #757575;
    //                 position: absolute;
    //                 top: 10px;
    //                 left: 0;
    //                 right: 0;
    //                 text-align: center;
    //                 margin: auto;
    //             }
    //         }
    //     }
    //     .courseIcon-preview {
    //         // width: 192px;
    //         // height: 192px;
    //         // position: relative;
    //         // border-radius: 100%;
    //         // border: 6px solid #F8F8F8;
    //         // box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    //         width: 100%;
    //         height: 180px;
    //         position: relative;
    //         /* border-radius: 100%; */
    //         border: 6px solid #F8F8F8;
    //         -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    //         box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    //         // > div {
    //         //     width: 100%;
    //         //     height: 100%;
    //         //     // border-radius: 100%;
    //         //     background-size: cover;
    //         //     background-repeat: no-repeat;
    //         //     background-position: center;
    //         // }
    //         >img {
    //             width: 100%;
    //             height: 100%;
    //             // border-radius: inherit;
    //             // background-size: contain;
    //             // background-size: cover;
    //             // background-repeat: no-repeat;
    //             // background-position: center;
    //         }
    //     }
    // }
    .NoDataDiv {
        position: fixed;
        top: 50%;
        left: 52%;
    }
    .image_upload_container {
        // margin-top: 15px;
        .image_preview {
            height: 100%;
            // width: 300px;
            margin-right: auto;
            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
            padding: 10px;
            background: #fff9f9;
            position: relative;
            .image_preview_container {
                height: 150px;
                width: 100%;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                display: grid;
                grid-template-columns: 1fr 1fr;
                // position: absolute;
                grid-column-gap: 20px;
                align-items: end;
                // margin-top: -10px;
                // img{
                //   width: 100%;
                //   height: 100%;
                // }
                .icon_upload_image {
                    // text-align: right;
                    // margin-left: auto;
                    margin-left: 10px;
                    margin-bottom: 10px;
                    label {
                        display: flex;
                        align-items: center;
                        // align-content:
                        justify-content: center;
                        // justify-items: center;
                        background: #fff;
                        color: #076ba1;
                        height: 40px;
                        width: 40px;
                        border-radius: 50%;
                        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
                        margin-bottom: 0;
                        padding: 0;
                        i {
                            line-height: 40px;
                        }
                    }
                    // margin: 0 auto;
                }
                .icon_delete {
                    // text-align: right;
                    // margin-right: auto;
                    margin-left: auto;
                    margin-right: 10px;
                    margin-bottom: 10px;
                    display: flex;
                    align-items: center;
                    // align-content:
                    justify-content: center;
                    // justify-items: center;
                    background: #fff;
                    color: #076ba1;
                    height: 40px;
                    width: 40px;
                    border-radius: 50%;
                    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
                    // margin: 0;
                    padding: 0;
                    i {
                        line-height: 40px;
                    }
                }
                //   .buttons_image_preview{
                //     // display: grid;
                //     // grid-template-columns: 1fr 1fr;
                //     // // position: absolute;
                //     // grid-column-gap: 20px;
                //     // align-items: end;
                //     // margin-top: -10px;
                // }
            }
        }
    }
    // .certIconbc{
    //     margin: 0 auto;
    //     text-align: -webkit-center;
    //   }
    //   .certIconbc-upload {
    //      position: relative;
    //      .certIconbc-edit {
    //         position: absolute;
    //         left: 14%;
    //         z-index: 1;
    //         bottom: 5%;
    //          input {
    //              display: none;
    //              + label {
    //                  display: inline-block;
    //                  width: 34px;
    //                  height: 34px;
    //                  margin-bottom: 0;
    //                  border-radius: 100%;
    //                  background: #FFFFFF;
    //                  border: 1px solid transparent;
    //                  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    //                  cursor: pointer;
    //                  font-weight: normal;
    //                  transition: all .2s ease-in-out;
    //                  &:hover {
    //                      background: #f1f1f1;
    //                      border-color: #d6d6d6;
    //                  }
    //                  &:after {
    //                      content: "\f040";
    //                      font-family: 'FontAwesome';
    //                      color: #757575;
    //                      position: absolute;
    //                      top: 10px;
    //                      left: 0;
    //                      right: 0;
    //                      text-align: center;
    //                      margin: auto;
    //                  }
    //              }
    //          }
    //      }
    //      .certIconbc-delete {
    //         position: absolute;
    //         right: 14%;
    //         z-index: 1;
    //         bottom: 5%;
    //          label {
    //                  display: inline-block;
    //                  width: 34px;
    //                  height: 34px;
    //                  margin-bottom: 0;
    //                  border-radius: 100%;
    //                  background: #FFFFFF;
    //                  border: 1px solid transparent;
    //                  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    //                  cursor: pointer;
    //                  font-weight: normal;
    //                  transition: all .2s ease-in-out;
    //                  &:hover {
    //                      background: #f1f1f1;
    //                      border-color: #d6d6d6;
    //                  }
    //                  &:after {
    //                      content: "\f1f8";
    //                      font-family: 'FontAwesome';
    //                      color: #757575;
    //                      position: absolute;
    //                      top: 10px;
    //                      left: 0;
    //                      right: 0;
    //                      text-align: center;
    //                      margin: auto;
    //              }
    //          }
    //      }
    .deleteModalBackdrop {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        z-index: 1503;
        background-color: #404040c2;
        .addSelfDemoModalCat {
            margin: auto;
            width: 50%;
            background-color: #fff;
            border-radius: 5px;
            margin-top: 2%;
            .modal-header {
                background-color: #076ba1;
                height: 55px;
                color: #fff;
                .close {
                    float: right;
                    font-size: 1.5rem;
                    font-weight: 700;
                    line-height: 1;
                    color: #fff;
                    text-shadow: 0 1px 0 #fff;
                    opacity: 0.5;
                }
            }
            .modalBody12 {
                height: 100%;
                padding: 15px;
            }
            .modal-footer {
                height: 55px;
            }
        }
    }
    .certIconbc-preview {
        width: 300px;
        height: 175px;
        position: relative;
        border: 6px solid #fbfbfb;
        -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
        >img {
            width: 100%;
            height: 100%;
        }
    }
    .notFoundPage {
        display: inline-block;
        width: 100%;
        padding: 10px;
        height: 100%;
    }
    @import "../../../@theme/styles/variable.scss";
    .asset_category_div {
        .content_width {
            width: 78vw;
            margin: 0 auto;
        }
        .top_header_container {
            background: #fff;
            position: sticky;
            top: 4.75rem;
            z-index: 1020;
            .top_header_div_sticky {
                background: #fff;
                display: grid;
                // grid-template-columns: auto auto;
                grid-template-columns: 0.5fr 1fr 1fr;
                height: 50px;
                align-items: center;
                .page_title {
                    text-align: left;
                    h4 {
                        margin: 0;
                    }
                }
                // .filter_div{
                //     // display: grid;
                //     // grid-template-columns: 1fr 1fr;
                //     // grid-column-gap: 10px;
                //     align-items: center;
                //     .drop_down{
                //         border: 1px solid $border_color;
                //         .drop_down_select{
                //             height: 30px;
                //             border: none;
                //             box-shadow: none;
                //         }
                //     }
                .search_div {
                    display: grid;
                    grid-template-columns: auto 20px;
                    border: 1px solid $border_color;
                    input {
                        outline: none;
                    }
                    .search_field {
                        height: 30px;
                        border: none;
                        box-shadow: none;
                        padding: 10px;
                    }
                    .remove_icon {
                        line-height: 30px;
                    }
                }
            }
            //   .search_div {
            //     display: grid;
            //     grid-template-columns: auto 20px;
            //     border: 1px solid $border_color;
            //     .search_field {
            //       height: 30px;
            //       border: none !important;
            //       box-shadow: none;
            //       padding: 0 10px;
            //       &::placeholder {
            //         font-size: 14px;
            //       }
            //     }
            //     .remove_icon {
            //       line-height: 30px;
            //     }
            //   }
            .buttons_div {
                text-align: right;
            }
        }
    }
    .multiple_category_card_container {
        background: $background_for_card_container;
        margin: 0px auto;
        width: 95%;
        // margin: auto;
        .cards_container {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-column-gap: 30px;
            grid-row-gap: 30px;
            .singel_card {
                position: relative;
                background: #fff;
                text-align: center;
                box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
                border-radius: 10px;
                .overlay_hidden {
                    position: absolute;
                    background: rgba(0, 0, 0, 0.5);
                    height: 100%;
                    width: 100%;
                    display: grid;
                    align-items: center;
                    font-size: 30px;
                    color: #fff;
                    border-radius: 10px;
                    i {
                        cursor: pointer;
                    }
                }
                // border-bottom-left-radius: 10px ;
                // border-bottom-right-radius: 10px;
                // box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
                .singel_card_image {
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                    height: 150px;
                    width: 100%;
                    background-position: center;
                    background-size: cover;
                    //    background
                }
                .card_title {
                    padding: 10px;
                    border-top: 1px solid $border_color;
                    border-bottom: 1px solid $border_color;
                    color: #000;
                    font-size: $font_size_for_cards;
                }
                .card_subtitle {
                    font-size: 14px;
                    padding: 10px;
                    // border-top: 1px solid #F1F5F8;
                    border-bottom: 1px solid $border_color;
                    color: #000;
                }
                .user-icon {
                    display: grid;
                    grid-template-columns: auto auto;
                    height: 40px;
                    align-items: center;
                    .icons-enable-disable {
                        border-right: 1px solid $border_color;
                        color: $icon_font_color;
                        font-size: 20px;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
                .content-icons {
                    text-align: center;
                    border-bottom: 1px solid $border_color;
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    align-items: center;
                }
                .para_margin_0 {
                    margin: 0;
                }
            }
        }
    }
    // .required_msg_text{
    //     .form-text{
    //       color: #ed462f ;
    //     }
    //   }
    .not_found {
        background-image: url("assets/images/category.jpg");
    }
}

.multiple_assetCat_card_container {
    // background:$background_for_card_container;
    margin: 0px 10px 10px 10px;
    width: 95%;
    // margin: auto;
    .assetCat_container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-column-gap: 30px;
        grid-row-gap: 30px;
        .assetCat_card {
            position: relative;
            background: #fff;
            text-align: center;
            box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
            border-radius: 10px;
        }
    }
}

.pad_rm {
    padding-right: 0px;
}

.pad-lr {
    padding-left: 0px;
}

.assetCat_width {
    width: 0px;
    margin: 10px;
    // margin: 0 auto;
}
