@import '../../../@theme/styles/variable.scss';

.filter-height {
    height: calc(100vh - 15rem);
}

.mat-tab-list {
    background: white;
}

.mat-tab-label-container {
    z-index: 0;
    // background: white;
}
.mat-tab-label-active{
    //your code...
    color: var(--colorCommon);
}
.mat-tab-label:hover{
    color: var(--colorCommon);
}

 .mat-ink-bar {           
    &:before,
    &:after {
        content: "";
        height: 10px;
        width: 20px;
        background-color: white;
        // background: #076ba1;
        position: absolute;
        left: 0;
    }
    &:after {
        left: initial;
        right: 0;
    }
}

.mat-tab-label:hover{
    //your code...
    color: var(--colorCommon);
}
.mat-tab-group.mat-primary .mat-ink-bar {
    background: var(--colorCommon);
    height: 5px;
}

.assets {
    .no-padding-right {
        padding-right: 0px;
    }
    .addEditCattoprow {
        // padding: 12px;
        border: none;
        background-color: #ffffff;
        height: auto;
        width: 100%;
        display: inline-flex;
    }
    .floteright {
        float: right;
        font-size: 13px;
        background-color: #fff;
    }
    .addEditCatsticky-top {
        position: sticky;
        top: 67px;
        z-index: 1030;
    }
    .asset_top_div {
        background: #fff;
        position: sticky;
        top: 4.75rem;
        z-index: 1020;
    }
    .addEditCatHead {
        // padding: 15px 0px 15px 30px;
        margin: 15px auto;
    }
    .dropdown-height {
        height: 34px;
    }
    // .overflow_scroll_container{
    //   overflow-y: auto;
    //   height: calc(100vh - 7.8rem);
    // }
    .bgwhite {
        background-color: white;
        padding: 15px;
        // height: -webkit-fill-available;
    }
    .padding-top {
        padding-top: 15px;
    }
    .padding-bottom {
        padding-bottom: 20px;
    }
    .margin-top {
        margin-top: 15px;
    }
    .margin-vertical {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .margin-all {
        margin: 20px;
    }
    .padding-all {
        padding: 20px;
    }
    .boxMargin {
        margin-bottom: 20px;
    }
    .constantbtn-approve {
        background: green;
        color: white;
        border: none;
        width: auto;
        min-width: 90px;
        max-height: 36px;
    }
    .constantbtn-reject {
        background: red;
        color: white;
        border: none;
        width: auto;
        min-width: 90px;
        max-height: 36px;
    }
    // radio button style code start here
    // /* The container */
    .containerRadio {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        // font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    // /* Hide the browser's default radio button */
    .containerRadio input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }
    // /* Create a custom radio button */
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #eee;
        border-radius: 50%;
    }
    /* On mouse-over, add a grey background color */
    .containerRadio:hover input~.checkmark {
        background-color: #ccc;
    }
    /* When the radio button is checked, add a blue background */
    .containerRadio input:checked~.checkmark {
        background-color: #076ba1;
    }
    // /* Create the indicator (the dot/circle - hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }
    // /* Show the indicator (dot/circle) when checked */
    .containerRadio input:checked~.checkmark:after {
        display: block;
    }
    // /* Style the indicator (dot/circle) */
    .containerRadio .checkmark:after {
        top: 9px;
        left: 9px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: white;
    }
    // radio style code end here
    .catrow {
        height: auto;
        width: 100%;
        display: inline-flex;
        margin: 0px;
        padding: 0px;
    }
    .catrow>div {
        // width: 100%;
        // padding: 0;
        // margin:3%;
        // height: 100%;
        width: 100%;
        padding: 0;
        margin: 4% 0 0 4%;
        height: 100%;
        flex: 0 0 20%;
        a {
            text-align: center;
        }
        a>img {
            // width: 100%;
            width: 100%;
            // height: 100%;
            height: 125.656px;
            // height: 190px;
        }
        div {
            width: 100%;
            // margin: 0.7rem 0;
            .toolcatp1 {
                text-align: center;
                margin: 1% 0%;
                // width: 92%;
                width: 100%;
                cursor: pointer;
                font-size: 16px;
                font-weight: 500;
                color: black;
            }
            .toolcat1 {
                width: 8%;
                float: right;
                margin: 3% 0%;
            }
        }
    }
    .catsep {
        border-bottom: 1px solid #f1f5f8;
        margin-bottom: 5px;
    }
    .catdesp {
        color: black;
    }
    .NoDataDiv {
        position: fixed;
        top: 50%;
        left: 52%;
    }
    .overlay_hidden {
        position: absolute;
        background: rgba(0, 0, 0, 0.5);
        height: 100%;
        width: 100%;
        display: grid;
        align-items: center;
        font-size: 30px;
        color: #fff;
        border-radius: 10px;
        i {
            cursor: pointer;
        }
    }
    .progress-bar {
        align-items: center;
        background-color: #007bff;
        color: #fff;
        display: flex;
        justify-content: center;
      }
    .assetHead {
        border: none;
        background-color: #ffffff;
        height: auto;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 0 18px;
    }
    .sticky-assetHead {
        position: sticky;
        top: 67px;
        z-index: 1030;
    }
    .marginTop14 {
        margin-top: 14px;
    }
    .assetsearchdiv {
        float: left;
        // margin: 7.5px;
        margin: 10.5px;
        display: inline-flex;
        border: 1px solid #cbcbcb;
        padding: 0;
    }
    .asset_card {
        position: relative;
        background: #fff;
        text-align: center;
        -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
        box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
        border-radius: 10px;
        width: 100%;
        padding: 0;
        margin: 4% 0 0 4%;
    }
    .asset_card_image {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        height: 150px;
        width: 100%;
        background-position: center;
        background-size: cover;
    }
    .asset_title {
        padding: 10px;
        border-top: 1px solid #f1f5f8;
        border-bottom: 1px solid #f1f5f8;
        color: #000;
        font-size: 20px;
    }
    // .searchdiv{
    //   float: left;
    //   margin: 10px    ;
    //   display: inline-flex;
    //   border: 1px solid #cbcbcb;
    //   padding: 0;
    // }
    .assetsearchdiv>input {
        border-radius: 0;
        border: 0px;
        background-color: #ffffff;
         :focus {
            background-color: #ffffff;
        }
    }
    .assetRemove {
        background-color: #ffffff;
        //padding: 9px 9px 0 0;
        // padding: 9px 1px 0px 0px;
        padding: 9px 5px;
    }
    .pad14px {
        padding: 12px;
    }
    .assetBackButton {
        width: auto;
        border: none;
        padding: 6px 14px;
        background-color: #076ba1;
        color: #fff;
        text-transform: uppercase;
        min-width: 90px;
        max-height: 29px;
        margin-left: 5px;
    }
    .assetSubmit {
        width: auto;
        border: none;
        padding: 6px 14px;
        background-color: #076ba1;
        color: #fff;
        text-transform: uppercase;
        min-width: 90px;
        max-height: 29px;
    }
    .noLftPadding {
        padding: 0;
    }
    .listheadings {
        height: 40px;
        // border-top: 0.5px solid #68c7fb;
        // border-bottom: 0.5px solid #68c7fb;
        border-bottom: 0.5px solid var(--colorCommon);
        display: flex;
        cursor: pointer;
    }
    .listLabel {
        line-height: 30px;
        font-size: 15px;
        font-weight: 100;
        width: 100%;
        margin: auto;
        // color: #076ba1;
        color: var(--colorCommon);
    }
    .sticky-top {
        position: sticky;
        position: -webkit-sticky;
        top: 107px;
        z-index: 1030;
        overflow-y: auto;
    }
    .filterLength {
        min-width: 25px;
        height: 25px;
        line-height: 25px;
        color: #fff;
        margin: auto;
        font-size: 13px;
        // background: #076ba1;
        background: var(--colorCommon);
        text-align: center;
    }
    .textBoxLength {
        width: 100%;
        height: 25px;
        line-height: 25px;
        margin: auto;
        outline: none;
        border: none;
        font-size: 13px;
        color: #484343;
    }
    .textBoxLength::placeholder {
        // color: #076ba1;
    }
    .scroll-Div {
        height: 200px;
        overflow-y: scroll;
    }
    .scroll-Div::-webkit-scrollbar {
        width: 20px;
        scroll-margin-left: 10px;
    }
    .scroll-Div::-webkit-scrollbar-thumb {
        background: #e3e9ee;
        border-radius: 25px;
    }
    .scroll-Div::-webkit-scrollbar-track {
        display: none;
    }
    /* Hide the browser's default checkbox */
    .checkContainer1 input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }
    /* Create a custom checkbox */
    .checkmarkDiv {
        position: absolute;
        top: 0;
        left: 0;
        height: 18px;
        margin: 12px 0;
        width: 18px;
        // border: 1px solid #076ba1;
        border: 1px solid var(--colorCommon);
        background-color: #feffff;
    }
    /* On mouse-over, add a grey background color */
    .checkContainer1:hover input~.checkmarkDiv {
        background-color: #f1f5f8;
    }
    /* When the checkbox is checked, add a blue background */
    .checkContainer1 input:checked~.checkmarkDiv {
        background-color: #feffff;
    }
    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmarkDiv:after {
        content: "";
        position: absolute;
        display: none;
    }
    /* Show the checkmark when checked */
    .checkContainer1 input:checked~.checkmarkDiv:after {
        display: block;
    }
    /* Style the checkmark/indicator */
    .checkContainer1 .checkmarkDiv:after {
        left: 6px;
        top: 0px;
        width: 6px;
        height: 12px;
        // border: solid #076ba1;
        border: solid var(--colorCommon);
        border-width: 0 2px 2px 0;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    .checkContainer1 {
        margin: 0;
        line-height: 30px;
        width: 100%;
        font-size: 14px;
        padding-left: 15px;
        font-weight: 100;
        cursor: pointer;
    }
    // .required_msg_text{
    //   .form-text{
    //     color: #ed462f ;
    //   }
    // }
}

.multiple_asset_card_container {
    // background:$background_for_card_container;
    margin: 30px 20px 30px 30px;
    width: 95%;
    // margin: auto;
    .asset_container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-column-gap: 30px;
        grid-row-gap: 30px;
        padding-left: 10px;
        .asset_card {
            position: relative;
            background: #fff;
            text-align: center;
            // width: 180px;
            // min-width: 768px;
            box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
            border-radius: 10px;
        }
    }
}

.asset_width {
    width: 750px;
}

.rowMarginAuto {
    margin: auto;
}

.deleteModalBackdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1503;
    background-color: #404040c2;
    .addSelfDemoModalCat {
        margin: auto;
        width: 50%;
        background-color: #fff;
        border-radius: 5px;
        margin-top: 2%;
        .modal-header {
            background-color: #076ba1;
            height: 55px;
            color: #fff;
            .close {
                float: right;
                font-size: 1.5rem;
                font-weight: 700;
                line-height: 1;
                color: #fff;
                text-shadow: 0 1px 0 #fff;
                opacity: 0.5;
            }
        }
        .modalBody12 {
            height: 100%;
            padding: 15px;
        }
        .modal-footer {
            height: 55px;
        }
    }
}

.image_upload_container {
    // margin-top: 15px;
    .image_preview {
        height: 100%;
        // width: 300px;
        margin-right: auto;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
        padding: 10px;
        background: #fff9f9;
        position: relative;
        .image_preview_container {
            height: 150px;
            width: 100%;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            display: grid;
            grid-template-columns: 1fr 1fr;
            // position: absolute;
            grid-column-gap: 20px;
            align-items: end;
            // margin-top: -10px;
            // img{
            //   width: 100%;
            //   height: 100%;
            // }
            .icon_upload_image {
                // text-align: right;
                // margin-left: auto;
                margin-left: 10px;
                margin-bottom: 10px;
                label {
                    display: flex;
                    align-items: center;
                    // align-content:
                    justify-content: center;
                    // justify-items: center;
                    background: #fff;
                    color: #076ba1;
                    height: 40px;
                    width: 40px;
                    border-radius: 50%;
                    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
                    margin-bottom: 0;
                    padding: 0;
                    i {
                        line-height: 40px;
                    }
                }
                // margin: 0 auto;
            }
            .icon_delete {
                // text-align: right;
                // margin-right: auto;
                margin-left: auto;
                margin-right: 10px;
                margin-bottom: 10px;
                display: flex;
                align-items: center;
                // align-content:
                justify-content: center;
                // justify-items: center;
                background: #fff;
                color: #076ba1;
                height: 40px;
                width: 40px;
                border-radius: 50%;
                box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
                // margin: 0;
                padding: 0;
                i {
                    line-height: 40px;
                }
            }
            //   .buttons_image_preview{
            //     // display: grid;
            //     // grid-template-columns: 1fr 1fr;
            //     // // position: absolute;
            //     // grid-column-gap: 20px;
            //     // align-items: end;
            //     // margin-top: -10px;
            // }
        }
    }
}

.not_found {
    background-image: url("assets/images/category.jpg");
}

// .asset {
//   margin-top: 10px;
//   width: 60px;
//   // height: 90px;
// }
.asset-title {
    // width: 100px;
    // padding: 16px 30px 0px;
    // height: 80px;
    margin-top: 5px;
    min-height: 60px;
    word-break: break-word;
}

.identifier {
    position: relative;
    top: -30px;
    float: right;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    grid-column-gap: 0px;
    padding: 0 15px;
    margin-right: 20px;
    z-index: 2;
}

// .mat-tab-label-container {
//     display: flex;
//     flex-grow: 1;
//     overflow: hidden;
//     background: white;
// }
// .mat-tab-label .mat-tab-link {}
// .mat-tab-label {
//     height: 48px;
//     padding: 0 24px;
//     cursor: pointer;
//     box-sizing: border-box;
//     opacity: .6;
//     min-width: 160px;
//     text-align: center;
//     display: inline-flex;
//     justify-content: center;
//     align-items: center;
//     white-space: nowrap;
//     position: relative;
// }
// .mat-tab-labels {
//     display: flex;
// }
// .mat-tab-list {
//     flex-grow: 1;
//     position: relative;
//     transition: transform .5s cubic-bezier(.35, 0, .25, 1);
//     transform: translateX(0px);
// }
// .mat-tab-group.mat-primary .mat-ink-bar,
// .mat-tab-nav-bar.mat-primary .mat-ink-bar {
//     background-color: #3f51b5;
// }
// .mat-ink-bar {
//     position: absolute;
//     bottom: 0;
//     height: 2px;
//     transition: .5s cubic-bezier(.35, 0, .25, 1);
//     visibility: visible;
//     left: 320px;
//     width: 160px;
// }
// .mat-tab-body-wrapper {
//     position: relative;
//     overflow: hidden;
//     display: flex;
//     transition: height .5s cubic-bezier(.35, 0, .25, 1);
// }