.ui-droppable {
    background: #FFF;
    height: 400px;
}

.ui_style {
    // margin: 20px auto 0 auto;
    // display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(75px, 100px));
    // row-gap: 10px;
    // -webkit-column-gap: 15px;
    // column-gap: 15px;
    // -webkit-box-pack: center;
    // -ms-flex-pack: center;
    // justify-content: center;
    display: flex;
    overflow-x: auto;
    padding: 0;
}

.tag_container {
    // border: none;
    //   min-height: 27px;
    //   margin: 10px 5px;
    //   background-color: #076ba1;
    //   color: #fff;
    //   padding: 0px 15px;
    //   border-radius: 19px;
    //   cursor: pointer;
    //   z-index: 20;
    //   font-size: 14px;
    border: none;
    min-height: 27px;
    margin: 0px 5px;
    background-color: var(--colorCommon);
    color: #fff;
    padding: 0px 12px;
    border-radius: 19px;
    cursor: pointer;
    z-index: 20;
    font-size: 12px;
    word-break: break-all;
    text-align: left;
}

.tags_horizontal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tags_vertical {
    display: grid;
    row-gap: 10px;
    column-gap: 10px;
    list-style-type: none;
    border: none;
    padding: 0 !important;
    li {
        display: flex;
        align-items: center;
        span {
            width: 100%;
            text-align: center;
        }
    }
    // ul{
    // }
}

.tags_horizontal_scroll {}

.tags_vertical_scroll {
    height: 80%;
    overflow-y: auto;
    overflow-x: inherit;
}