
<div [ngClass]="{'tags_horizontal_scroll' : !vertical , 'tags_vertical_scroll': vertical}">
  <ul class="ui_style" [ngClass]="{'tags_horizontal' : !vertical , 'tags_vertical': vertical}" id = "draggable">
    <li class="tag_container" *ngFor="let tab of inputTags">
      <span>{{tab.name}}</span>

    </li>
    <!-- <li  class="tag_container ">

       Javascript
    </li>
    <li  class="tag_container">

       Javascript
    </li>
    <li  class="tag_container">

      HTML
    </li>
    <li  class="tag_container">

       C
    </li>
    <li  class="tag_container">

      C++
    </li>
    <li  class="tag_container">

    C##
    </li>
    <li  class="tag_container">

        Python
    </li>
    <li  class="tag_container">

       C++
    </li>
    <li  class="tag_container">

       Ruby
    </li>
    <li  class="tag_container">

      Perl

    </li> -->
  </ul>
  <!-- <div class="ui_style" id = "draggable">
      <div class="tag_container">
          PHP
      </div>
      <div class="tag_container">
        Javascript
      </div>
      <div class="tag_container">
        Python
      </div>
      <div class="tag_container">
        C++
      </div>
      <div class="tag_container">
        Mac
      </div>
      <div class="tag_container">
          Ubuntu
      </div>
  </div> -->
  <!-- <p></p> -->
</div>
<!-- <div class = "pull-right" style = "padding:20px; border:1px #000 dotted; width:400px;"> -->
  <div class = "form-group mt-0">
    <!-- <input type = "text" name = "program" class = "form-control " /> -->
    <!-- <div class="p_lang ui-droppable" id="editable" aria-label="With textarea" contenteditable="true"></div> -->
    <!-- <textarea class="form-control p_lang ui-droppable" aria-label="With textarea"></textarea> -->
    <!-- <textarea class="form-control p_lang ui-droppable" aria-label="With textarea"></textarea> -->
    <!-- <center><label>Your favorite language</label></center> -->
    <!-- <button class = "btn btn-success" id ="reset" type = "button"><span class = "glyphicon glyphicon-refresh"></span> Reset</button> -->
  </div>
