<!-- buttons -->
<div class="d-flex align-items-center justify-content-end pb-2">
    <div class="col-md-3">
        <input [owlDateTime]="dt1" [(ngModel)]="enrolDate" [owlDateTimeTrigger]="dt1" class="form-control head-picker" placeholder="Select Enrol Date" />
        <owl-date-time #dt1 [pickerType]="'calendar'"></owl-date-time>
    </div>
    <button class="commonBtn ml-0" [disabled]="" (click)="addBtn()">Add</button>
    <button class="commonBtn mr-0" (click)="passEventToParent('openRegulatoryFilterModal', '')">
    Target Users
  </button>
</div>

<!-- table -->
<ngx-enrol-table *ngIf="regulatoryEnrolConfig"   [pagination]=true  [label]="regulatoryEnrolConfig?.labels" [tableData]="regulatoryEnrolConfig?.data" (clickOnbutton)="passEventToParent('regulatoryVisiblityChange', $event)">
</ngx-enrol-table>
<ngx-no-data [config]="noDataVal" *ngIf="regulatoryEnrolConfig?.data?.length == 0"></ngx-no-data>

<!-- sidebar form -->
<ngx-sidebar-form *ngIf="regulatoryEnrolConfig?.showAddRegulatoryFilterModal" (saveBtn)="
    passEventToParent(
      'saveRegFilter',
      regulatoryEnrolConfig?.regularData,
      addRegFilterForm
    )
  " [saveDisabled]="!addRegFilterForm.valid" (closeBtn)="passEventToParent('closeRegulatoryFilterModal', '')" (outside)="passEventToParent('closeRegulatoryFilterModal', '')" [sidebarTitle]="titleName" [buttonName]="btnName">
    <form #addRegFilterForm="ngForm" novalidate>
        <!-- <div class="form-group">
            <label class="side-form-label">Name of the rule <sup>&#x2731;</sup></label>
            <input type="email" class="form-control" [ngClass]="{'invalid-form': valid}"
                placeholder="Enter name of the rule">
            <small class="invalid-msg" *ngIf="valid">Lorem Ipsum is simply dummy text</small>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label class="side-form-label">Rule Applicability <sup>&#x2731;</sup></label>
                <select class="custom-select">
                    <option selected>Select</option>
                    <option value="1">Lorem </option>
                    <option value="2">Ipsum</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label class="side-form-label">Start Form <sup>&#x2731;</sup></label>
                <select class="custom-select">
                    <option selected>Select</option>
                    <option value="1">Lorem </option>
                    <option value="2">Ipsum</option>
                </select>
            </div>
        </div> -->

        <div class="selector-section position-relative p-2 mb-3" *ngFor="
        let item of regulatoryEnrolConfig?.regularData?.profiles;
        let i = index
      ">
            <span class="remove-selector position-absolute" *ngIf="regulatoryEnrolConfig?.regularData?.profiles?.length > 1" (click)="passEventToParent('removeRegFilter', i)">X</span>
            <div class="row">
                <div class="form-group m-0 col-md-6">
                    <select class="custom-select commonSelect" [name]="'fieldId_' + i" [id]="'fieldId_' + i" [(ngModel)]="item.field" #ruleId="ngModel" ngDefaultControl (change)="
              passEventToParent(
                'regFilterTypeSelected',
                $event,
                i,
                item,
                regulatoryEnrolConfig?.regularData
              );
              passEventToParent(
                'callTypeRegFilter',
                $event,
                i,
                2,
                regulatoryEnrolConfig?.regularData
              )
            " required>
            <option value="" selected>Select</option>
            <option *ngFor="
                let ruleField of regulatoryEnrolConfig?.profileFieldsRegFilter
              " [disabled]="ruleField.selected == 'true'" value="{{ ruleField.id }}">{{ ruleField.name }}
            </option>
            <!-- <option value="2">Ipsum</option> -->
          </select>
                </div>
                <div class="form-group m-0 col-md-6">
                    <ng-container *ngIf="(regulatoryEnrolConfig?.controlList)[i]?.datatype == 'text'">
                        <input type="text" class="form-control commonInput" [id]="'inputText_' + i" placeholder="Input Text" [name]="'fieldTypeValues_' + i" [(ngModel)]="item.fieldValues" (ngModelChange)="onChange($event)" #fieldValues="ngModel" required [ngClass]="{ 'invalid-form': fieldValues?.errors &&
              (fieldValues?.dirty || fieldValues?.touched) }" placeholder="Enter name of the rule" />
                        <ng-container *ngIf="
                fieldValues?.errors &&
                (fieldValues?.dirty || fieldValues?.touched)
              ">
                            <small class="invalid-msg" [hidden]="!fieldValues?.errors?.required">
                Input required</small>
                        </ng-container>
                    </ng-container>
                    <ng-container *ngIf="
              (regulatoryEnrolConfig?.controlList)[i]?.datatype == 'number'
            ">
                        <input type="number" class="form-control commonInput" [id]="'inputText_' + i" placeholder="Input Text" [name]="'fieldTypeValues_' + i" [(ngModel)]="item.fieldValues" (ngModelChange)="onChange($event)" #fieldValues="ngModel" required [ngClass]="{ 'invalid-form': fieldValues?.errors &&
              (fieldValues?.dirty || fieldValues?.touched) }" placeholder="Enter name of the rule" />
                        <ng-container *ngIf="
                fieldValues?.errors &&
                (fieldValues?.dirty || fieldValues?.touched)
              ">
                            <small class="invalid-msg" [hidden]="!fieldValues?.errors?.required">
                Input required</small>
                        </ng-container>
                    </ng-container>
                    <ng-container *ngIf="(regulatoryEnrolConfig?.controlList)[i]?.datatype == 'menu'">
                        <angular2-multiselect [data]="(regulatoryEnrolConfig?.controlList)[i]?.subtype" [(ngModel)]="item.fieldValuesArr" [settings]="dropdownSettings" (onSelect)="
                passEventToParent(
                  'onItemSelectRegulatory',
                  $event,
                  i,
                  item,
                  regulatoryEnrolConfig?.regularData
                )
              " (onDeSelect)="
                passEventToParent(
                  'onSelectAllRegulatory',
                  $event,
                  i,
                  item,
                  regulatoryEnrolConfig?.regularData
                )
              " (onSelectAll)="
                passEventToParent(
                  'onSelectAllRegulatory',
                  $event,
                  i,
                  item,
                  regulatoryEnrolConfig?.regularData
                )
              " (onDeSelectAll)="
                passEventToParent(
                  'onDeSelectAllRegulatory',
                  $event,
                  i,
                  item,
                  regulatoryEnrolConfig?.regularData
                )
              " [name]="'fieldTypeValues_' + i" [id]="'fieldTypeValues_' + i" #fieldValuesArr="ngModel" [ngClass]="{ 'invalid-form': fieldValues?.errors &&
              (fieldValues?.dirty || fieldValues?.touched) }" ngDefaultControl required>
                            <c-item>
                                <ng-template let-item="item">
                                    <label class="multiselect-label">{{ item.name }}</label>
                                </ng-template>
                            </c-item>
                        </angular2-multiselect>
                        <ng-container *ngIf="
                fieldValues?.errors &&
                (fieldValues?.dirty || fieldValues?.touched)
              ">
                            <small class="invalid-msg" [hidden]="!fieldValues?.errors?.required">
                Input required</small>
                        </ng-container>
                    </ng-container>
                    <ng-container *ngIf="
              (regulatoryEnrolConfig?.controlList)[i]?.datatype == 'datetime' &&
             (!item.fieldValues.includes('$'))
            ">
                        <input placeholder="Select date:" class="form-control commonSelect" [bsConfig]="{
                containerClass: 'theme-dark-blue',
                dateInputFormat: 'DD-MM-YYYY'
              }" [selectMode]="'range'" [ngClass]="{ 'invalid-form': fieldValues?.errors &&
              (fieldValues?.dirty || fieldValues?.touched) }" [owlDateTimeTrigger]="dtRange2" [owlDateTime]="dtRange2" [name]="'fieldTypeValues_' + i" [id]="'fieldTypeValues_' + i" [(ngModel)]="item.fieldValues" (ngModelChange)="onChange($event)" [value]="item.fieldValues ? item.fieldValues : []"
                            ngDefaultControl #fieldValues="ngModel" required />

                        <!-- <input placeholder="Select date:" class="form-control datePickerInput" [style.width]="'350px'" [max]='maxDate' id="inputDate_{{i}}"
                          [(ngModel)]="item.fieldValues" name="fieldTypeValues_{{i}}" [bsConfig]="{ containerClass: 'theme-dark-blue', dateInputFormat: 'DD-MMM-YYYY'}"
                              [selectMode]="'range'" #fieldValues="ngModel" required [owlDateTimeTrigger]="dtRange2" [owlDateTime]="dtRange2"> -->
                        <owl-date-time [pickerType]="'calendar'" #dtRange2></owl-date-time>

                        <ng-container *ngIf="
                fieldValues?.errors &&
                (fieldValues?.dirty || fieldValues?.touched)
              ">
                            <small class="invalid-msg" [hidden]="!fieldValues?.errors?.required">
                Input required</small>
                        </ng-container>
                    </ng-container>
                </div>
                <!-- <div class="form-group m-0 col-md-6">
                    <input [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" [selectMode]="'range'" class="form-control" placeholder="Select Date">
                    <owl-date-time #dt1 [pickerType]="'calendar'"></owl-date-time>
                </div> -->
            </div>
        </div>
        <div class="float-right" [class.disabled-contenct]="!addRegFilterForm.valid" (click)="passEventToParent('addRegulatoryFilter', '')">
            <small class="add-icon" (click)="addMore()">Add +</small>
        </div>
    </form>
</ngx-sidebar-form>

<!-- modal pop-up -->
<app-modal-pop-up *ngIf="showPopup" (closeBtn)="closePopup()">
    <ngx-enrol-table [pagination]= true [label]="labels" [tableData]="tableList" (selectRow)="openPopup()"></ngx-enrol-table>
</app-modal-pop-up>
