.questions_container {
    @import '../../../../@theme/styles/variable.scss';
    /*.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; green
}*/
    /*.ng-invalid:not(form)  {
  border-left: 5px solid #a94442;  red 
}*/
    // .alert {
    //   margin-bottom: 1px;
    //   height: 25px;
    //   line-height:25px;
    //   padding:0px 15px;
    // }
    // .alert-danger {
    //     background-color: #f0f3f4;
    //     border-color: #f0f3f4;
    //     color: #645a5a;
    // }
    .addEditCatbtn-secondary:hover {
        color: #fff;
        background-color: #ed462f;
        border-color: #ed462f;
    }
    .usersCountToView {
        text-align: center;
    }
    .noquesFound {
        display: grid;
        justify-content: center;
        align-items: center;
        margin: 10px 0;
        padding: 10px;
        border: 1px solid #076BA1;
        border-radius: 15px;
        .noMargin {
            margin: 0;
            font-size: 18px;
        }
    }
    // .sticky-top
    // {
    //   position: sticky;
    //   top: 67px;
    //   z-index: 1090;
    // }
    // .toprow{
    //   border: none;
    //   background-color: #ffffff;
    //   height: auto;
    //   width: 100%;
    //   display: inline-flex;
    // }
    .addEditCattoprow {
        // padding: 12px;
        border: none;
        background-color: #ffffff;
        height: auto;
        width: 99.5%;
        display: inline-flex;
    }
    .addEditCatsticky-top {
        position: sticky;
        top: 67px;
        z-index: 1;
    }
    #submitBut {
        margin: 10px;
        border-radius: 0;
        background: #ed462f;
        color: #fff;
        border: #ed462f;
        height: 37px;
        width: 135px;
        color: #ffffff;
        background-color: #ed462f;
        background-image: none;
        border-color: #ed462f;
        transform: none;
    }
    #addEditCatbackBut {
        margin: 10px;
        border-radius: 0;
        background: #076ba1;
        color: #fff;
        border: #076ba1;
        height: 37px;
        width: 135px;
        color: #ffffff;
        background-color: #076ba1;
        background-image: none;
        border-color: #076ba1;
        transform: none;
    }
    .addEditCatoptbtnNew {
        border-radius: 0px;
        /*background: #076ba1;*/
        background: #ed462f;
        color: #fff;
        border: #076ba1;
        height: 37px;
        width: 135px;
        transform: none;
        margin: 10px;
    }
    .userField {
        margin-left: 30px;
        margin-top: 15px;
    }
    .userLegend {
        margin-bottom: 5px;
    }
    // .required_msg_text{
    //   .form-text{
    //     color: #ed462f ;
    //   }
    // }
    .userLegendBorder {
        border-bottom-style: solid;
        border-bottom-width: 2px;
    }
    #userRow1 {
        margin-top: 10px;
    }
    .userSubBut {
        float: right;
        /* margin-left: 30px; */
        /*margin-top: 8px;*/
        transform: none;
        background: #fff;
        height: 55px;
        margin: 0 auto;
        padding: 9px;
    }
    .userBackBut {
        /* display: none; */
    }
    #backBut {
        //margin: 10px;
        border-radius: 0;
        background: #076ba1;
        color: #fff;
        border: #076ba1;
        height: 37px;
        width: 135px;
        color: #ffffff;
        background-color: #076ba1;
        background-image: none;
        border-color: #076ba1;
        transform: none;
    }
    .optbtnNew {
        border-radius: 0;
        /*background: #076ba1;*/
        background: #ed462f;
        color: #fff;
        border: #076ba1;
        height: 37px;
        width: 135px;
        transform: none;
        margin: 10px;
    }
    .btn-secondary:hover {
        color: #fff;
        background-color: #ed462f;
        border-color: #ed462f;
    }
    .inputLabel {
        line-height: 2.5;
        font-size: 15px;
    }
    .left {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .photo {
        width: 200px;
        height: 200px;
        margin-top: -120px;
        border-radius: 100px;
        border: 4px solid #fff;
    }
    // .active {
    //   width: 20px;
    //   height: 20px;
    //   border-radius: 20px;
    //   position: absolute;
    //   right: calc(50% - 70px);
    //   top: 75px;
    //   background-color: #FFC107;
    //   border: 3px solid #fff;
    // }
    // @media (max-width:990px) {
    //   .active {
    //     right: calc(50% - 60px);
    //     top: 50px;
    //   } 
    // }
    // .proImg{
    //   margin-left: 157%;
    //   margin-top: 65%;
    // }
    // .img-circle {
    //   border-radius: 50%;
    // }
    // .bg-form{
    //     float:left;width:100%;
    //     position:relative;
    //     background: url("http://lorempixel.com/200/200/abstract/");
    //     background-repeat: no-repeat;
    //     background-size: cover;
    //     margin-top: 0px;
    // }
    // .img-section{
    //     float: left;width: 100%;padding-top: 15px;padding-bottom: 15px;background: rgba(0,0,0,0.7);position: relative;
    // }
    // .img-section h4{color:#fff;}
    // #PicUpload{
    //     color: #ffffff;
    //     width: 180px;
    //     height: 180px;
    //     background: rgba(255,255,255,0.4);
    //     padding: 100px;
    //     position: absolute;
    //     left: 30.5%;
    //     border-radius: 50%;
    //     display: none;
    //     top:15px;
    // }
    // .imgCircle{
    //     border-radius: 50%;
    //     width: 200px;
    //     height: 200px;
    // }
    // .Profile-input-file{
    //     height:180px;width:180px;left:33%;
    //     position: absolute;
    //     top: 0px;
    //     z-index: 999;
    //     opacity: 0 ;
    // }
    /*.form-control{padding: 10px 50px;}*/
    .form-input {
        height: 50px;
        border-radius: 0px;
        margin-top: 20px;
    }
    .form-style-fake {
        position: absolute;
        top: 0px;
    }
    .form-style-base {
        position: absolute;
        top: 0px;
        z-index: 999;
        opacity: 0;
    }
    .space_left {
        padding-left: 2px;
    }
    .fake-styled-btn {
        background: #006cad;
        padding: 10px;
        color: #fff;
    }
    .camera {
        font-size: 50px;
        color: #333;
    }
    .avatar-upload {
        position: relative;
        max-width: 205px;
        /*margin: 50px auto;*/
        .avatar-edit {
            position: absolute;
            right: 12px;
            z-index: 1;
            top: 10px;
            input {
                display: none;
                +label {
                    display: inline-block;
                    width: 34px;
                    height: 34px;
                    margin-bottom: 0;
                    border-radius: 100%;
                    background: #FFFFFF;
                    border: 1px solid transparent;
                    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
                    cursor: pointer;
                    font-weight: normal;
                    transition: all .2s ease-in-out;
                    &:hover {
                        background: #f1f1f1;
                        border-color: #d6d6d6;
                    }
                    &:after {
                        content: "\f040";
                        font-family: 'FontAwesome';
                        color: #757575;
                        position: absolute;
                        top: 10px;
                        left: 0;
                        right: 0;
                        text-align: center;
                        margin: auto;
                    }
                }
            }
        }
        .avatar-delete {
            position: absolute;
            right: 12px;
            z-index: 1;
            bottom: 10px;
            label {
                display: inline-block;
                width: 34px;
                height: 34px;
                margin-bottom: 0;
                border-radius: 100%;
                background: #FFFFFF;
                border: 1px solid transparent;
                box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
                cursor: pointer;
                font-weight: normal;
                transition: all .2s ease-in-out;
                &:hover {
                    background: #f1f1f1;
                    border-color: #d6d6d6;
                }
                &:after {
                    content: "\f1f8";
                    font-family: 'FontAwesome';
                    color: #757575;
                    position: absolute;
                    top: 10px;
                    left: 0;
                    right: 0;
                    text-align: center;
                    margin: auto;
                }
            }
        }
        .avatar-preview {
            width: 192px;
            height: 192px;
            position: relative;
            border-radius: 100%;
            border: 6px solid #F8F8F8;
            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
            >div {
                width: 100%;
                height: 100%;
                border-radius: inherit;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
            }
        }
    }
    .inputLabelUpload {
        line-height: 12.5;
        font-size: 15px;
    }
    .activeRoute {
        text-decoration: underline;
        text-underline-position: under;
        text-decoration-color: #076ba1;
        color: #076ba1;
    }
    .al-content {
        padding: 0px;
    }
    .m0 {
        margin: 0 auto;
    }
    .photo-left {
        margin: 0 auto;
    }
    .cardForm {
        color: #666666;
        background-color: #ffffff;
        border: 1px solid #f1eded;
        border-radius: 0px;
        position: relative;
        margin-bottom: 24px;
        box-shadow: none;
    }
    .tabset>.nav .nav-tabs {
        width: 100%;
    }
    .tabset>.nav .nav-tabs>li {
        width: 33%;
    }
    .tabset>.nav .nav-tabs>li>a {
        width: 100%;
    }
    .tabset>ul>li>a>span>i {
        font-size: 20px;
        display: block;
        height: 100%;
    }
    .tabset>ul>li>a>span>i>b {
        display: block;
        font-weight: 500;
        font-style: normal;
        font-size: 16px;
    }
    .tabset>ul>li>a>.span {
        width: 100%;
    }
    .tabset>ul>li:last-child a {
        border-top-right-radius: 5px;
    }
    .tabset>ul>li.active>a {
        background-color: #bec0c1;
        color: #fff;
    }
    /*#addUser .tabset .nav .nav-tabs{
      height: 60px ;
      background: #ffff ;
      padding-left: 15px ;
      border: none ;
    }
  #addUser .tabset .nav .nav-tabs li.active{
    line-height: 4 ;
    background: transparent ;
    border-bottom: 2px solid #076ba1 ;
  }*/
    .tabset>ul>li.active {
        width: 20px;
        height: 20px;
        border-radius: 20px;
        position: inherit;
        right: calc(50% - 70px);
        top: 75px;
        background-color: transparent;
        border: none;
    }
    .nav.nav-tabs>li.active>a {
        border-bottom: 3px solid #076ba1;
        background-color: #fff;
        color: #076ba1;
    }
    .tabset>ul>li {
        width: 22%;
    }
    .tabset>ul>li:hover>a {
        color: #076ba1;
        background-color: #ffffff;
        transform: none;
        transition: none;
    }
    .nav.nav-tabs {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom: none;
        background-color: white;
    }
    .tabset>ul>li>a {
        width: 100%;
        background-color: transparent;
        color: #686868;
        height: 55px;
        border-bottom: none;
        line-height: 2.5;
    }
    .al-content {
        padding: 0px;
    }
    // .nb-theme-corporate select.form-control:not([size]):not([multiple]) {
    //   height: 19%;
    // }
    .addEditCatHead {
        // padding: 15px 0px 15px 30px;
        margin: 15px auto;
    }
    .catquesearchdiv {
        float: left;
        margin: 10.5px;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        border: 1px solid #cbcbcb;
        padding: 0;
    }
    .catqueinput {
        width: 100%;
        padding: 5px;
    }
    .pad0 {
        padding: 0px;
    }
    .conSearchdiv {
        float: left;
        margin: 10px;
        display: inline-flex;
        border: none;
        padding: 0;
    }
    .conSearchdiv>input {
        border-radius: 0;
        // border: 0px;
        background-color: #ffffff;
         :focus {
            background-color: #ffffff;
        }
    }
    .conSearchInputque {
        height: 36px;
        margin-left: 10px;
    }
    .conRemove {
        background-color: #ffffff;
        // padding: 9px 9px 0 0;
        // padding-top:16px;
        padding: 10px;
    }
    .qcathei {
        height: 100%;
    }
    .optbtnNewInd:hover {
        color: #fff;
        background-color: #076ba1;
        border-color: #076ba1;
    }
    .optbtnNewInd:disabled {
        background-color: #076ba1;
        border-color: #076ba1;
    }
    .optbtnNewInd {
        border-radius: 0px;
        background: #076ba1;
        color: #fff;
        //border: #076ba1;
        border: none;
        height: 35px;
        color: #ffffff;
        margin-right: 0px;
        /*width: 135px;*/
        text-align: left;
        padding: 0rem 1.0rem;
    }
    .show>.optbtnNewInd.splitBtn {
        color: #ffffff;
        background-color: #076ba1;
        background-image: none;
        border-color: #076ba1;
    }
    .splitBtn {
        border-radius: 0px;
        border: none;
        height: 35px;
        margin-left: 0px;
        //padding: 0px ;
        /*box-shadow: 0 0 0 2px rgba(2, 117, 216,0.25);*/
        box-shadow: none;
    }
    .dropMenuqcat {
        border-radius: 0px;
        background: #076ba1;
        // border: #076ba1;
        padding: 3px;
        min-width: 9.3rem;
    }
    .dropMenuUnRegqcat {
        left: -5px;
        // left: -108px ;
    }
    .content_width {
        width: 80vw;
        margin: auto;
    }
    .dropBtnWidth {
        width: 100px;
    }
    .dropItemqcat {
        display: block;
        width: 100%;
        padding: 3px 1.5rem;
        clear: both;
        font-weight: normal;
        color: #ffffff;
        text-align: inherit;
        white-space: nowrap;
        background: #076ba1;
        border: 0;
        line-height: 1;
        background-color: #076ba1;
        /* border-bottom: 1px solid; */
        margin: 1px 0px 1px 0px;
        height: 28px;
        padding-top: 7px;
        padding-left: 7px;
        cursor: pointer;
    }
    .myUl {
        margin-bottom: 0px;
        //padding: 5px;
        padding-left: 0rem;
        text-align: center;
    }
    .mydropdata {
        background: #076ba1;
        border: none;
        color: #fff;
        width: 35px;
        border-left: 0.5px solid #7d9bda;
    }
    .mydrophei {
        height: 33px
    }
    .disablespa {
        cursor: not-allowed;
    }
    .disableli {
        pointer-events: none;
    }
    .top_header_container {
        background: #fff;
        position: sticky;
        top: 3.75rem;
        z-index: 1020;
        .top_header_div_sticky {
            background: #fff;
            display: grid;
            grid-template-columns: 2fr 4fr 2fr;
            height: 50px;
            grid-column-gap: 15px;
            align-items: center;
            .page_title {
                text-align: left;
                h4 {
                    margin: 0;
                }
            }
            .filter_div {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-column-gap: 10px;
                align-items: center;
                .drop_down {
                    border: 1px solid $border_color;
                    .drop_down_select {
                        height: 30px;
                        border: none;
                        box-shadow: none;
                        width: 100%;
                    }
                }
                .search_div {
                    display: grid;
                    grid-template-columns: auto 20px;
                    border: 1px solid $border_color;
                    .search_field {
                        height: 30px;
                        border: none;
                        box-shadow: none;
                        padding: 10px;
                    }
                    .remove_icon {
                        line-height: 30px;
                    }
                }
            }
            .buttons_div {
                text-align: right;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                align-items: center;
                grid-column-gap: 10px;
                .width150 {
                    width: 130px;
                }
            }
        }
    }
}


.btnsubh4 {
    height: 26px;
    font-size: 15px;
    font-weight: bold;
    position: absolute;
    right: 5%;
    top: 10px;
}


#addbtn {
    margin-left: 10px;
    border-radius: 0;
    background: #ffffff;
    color: #fff;
    // border: 1px solid #076ba1;
    border: 1px solid var(--colorCommon);
    height: 28px;
    // width: 111px;
    width: 60px;
    // color: #076ba1;
    color: var(--colorCommon);
    /* background-color: #076ba1; */
    background-image: none;
    // border-color: #076ba1;
    border-color: var(--colorCommon);
    transform: none;
}


.removeMulti {
    font-size: 1.5rem;
    padding: 0px;
    font-weight: 700;
    line-height: 1;
    color: #076ba1;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.5;
    background: none;
    border: none;
}

.padding0 {
    padding: 0px;
}

.stretch-card {
    padding: 0px;
}

.fileActivityContainer {
    // margin-top: 31px;
}

.divbroder {
    border: 1px solid lightgrey;
    margin-bottom: 16px;
}


.padd-sideform {
    padding-bottom: 16px;
}

.formsequence {
    display: flex;
    justify-content: space-between;
}

.dragBtn {
    height: 30px;
    width: 37px;
    background-color: #ffffff;
    // border: none;
    /* padding: 20px; */
    border-bottom: 1px solid grey;
}

.seqBottom {
    margin-bottom: 16px;
}

.paddingallSize {
    padding: 12px;
}

.courseTabset1>ul {
    background: #fff;
    border-bottom: none;
    position: sticky;
    top: 50px;
    z-index: 100;
    // padding-left: 0 ;
    // padding-right: 0 ;
    // position: -webkit-sticky ;
    // position: sticky ;
    // top: 67px ;
    // z-index: 1090 ;
}


.form-sidebar {
    .inner-from {
        // padding: 0px !important;
    }
}

.inputFileCourse {
    height: 14em;
    .form-control-file {
        position: relative;
        width: 100%;
        height: 100%;
        min-height: 6em;
        outline: none;
        visibility: hidden;
        cursor: pointer;
        background-color: #c61c23;
        box-shadow: 0 0 5px solid currentColor;
        &::before {
            color: #ed462f;
            content: attr(data-title);
            position: absolute;
            top: 1.5em;
            left: 0;
            width: 100%;
            /* min-height: 8em; */
            height: 12em;
            line-height: 8em;
            padding-top: 1.5em;
            opacity: 1;
            visibility: visible;
            text-align: center;
            border: 0.15em dashed #9ea4a5;
            transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
            overflow: hidden;
        }
        &::hover {
            &:before {
                border-style: solid #076ba1;
                /*box-shadow: inset 0px 0px 0px 0.25em currentColor;*/
            }
        }
    }
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    // display: inline-block;
}

.upload-btn-wrapper input[type="file"] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.padZero {
    padding: 0px !important;
}

.add-Label {
    // z-index: 10000;
    // padding: 6px 0px 0px;
    // top: 150px;
    // display: flex;
    // justify-content: flex-end;
    // position: fixed;
    // width: 623px;
    // background: white;
    // .marRight {
    //     margin-right: 9px;
    // }
}

.btnposition {
    position: absolute;
    top: 113px;
    z-index: 120;
    right: 22px;
}

.divpadd {
    margin: 0px 0px 6px;
}

.divmargin {
    margin: 0px 12px;
}

.basic-margin {
    margin-top: 12px;
}

.sectionsCard {
    padding: 0px 12px;
}

.marTop {
    margin-top: 12px;
}

.marDiv {
    margin-top: 14px;
}