<app-subheader [headerConfig]="header" (selectdropdown)="selectedChoices($event)" (dropdClick)="showList()" (inputsearch)="searchQuestion($event)" [parentcat]="parentcat" (dropsearch)="doropserch($event)" (addbtn)="addeditquestion(0,category)" (backClick)="back()"
    (Clear)="clear()"></app-subheader>

<div class="questions_container">
    <div class="widgets">
        <div ba-panel ba-panel-class="with-scroll">

            <div class="col-sm-12" style="padding: 10px;" *ngIf="!nodata">
                <div class="tableCompo">
                    <ngx-enrol-table [pagination]="true" [addPointer]="true" [label]="labels" [tableData]="questions" (clickOntext)="addeditquestion(1,$event)" (clickOnicon)="addeditquestion(2,$event)" (clickOnbutton)="visibilityTableRow($event)"></ngx-enrol-table>
                </div>

                <div style="padding: 10px">
                    <div>Total: {{ questions.length }}</div>
                </div>
            </div>


            <!-- <div class="container pad0" *ngIf="questions.length >=1">
                    <ngx-datatable style="width: 100%" class="material" [rows]="questions" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="10" [selected]="selected" [selectionType]="'checkbox'" (activate)="onActivate($event)"
                        (select)='onSelect($event)'>
                        <ngx-datatable-column [width]="400">
                            <ng-template ngx-datatable-header-template>
                                <span>Question</span>
                            </ng-template>
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <a class="usersCountToView" (click)="addeditquestion(1,row)" [innerHtml]="row.questionText">

                                </a>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column [width]="100">
                            <ng-template ngx-datatable-header-template>
                                <span>Question Format</span>
                            </ng-template>
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <a class="usersCountToView" (click)="addeditquestion(1,row)">
                          {{row.qType}}
                        </a>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column [width]="200">
                            <ng-template ngx-datatable-header-template>
                                <span>Instructions</span>
                            </ng-template>
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <a class="usersCountToView" (click)="addeditquestion(1,row)" [innerHtml]="row.instructions">

                                </a>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column [width]="10">
                            <ng-template ngx-datatable-header-template>
                                <span>Visibility</span>
                            </ng-template>
                            <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                                <a class="">
                                    <i class="fa fa-eye" title="Disable Question" aria-hidden="true" (click)="disabledQuecat(row)" [hidden]="row.visible == 0"></i>
                                    <i class="fa fa-eye-slash" aria-hidden="true" title="Enable Question" (click)="disabledQuecat(row)" [hidden]="row.visible == 1"></i>
                                </a>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column [width]="10">
                            <ng-template ngx-datatable-header-template>
                                <span>Duplicate</span>
                            </ng-template>
                            <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                                <a class="" title="Duplicate">

                                    <i class="fa fa-clone" aria-hidden="true" (click)="addeditquestion(2,row)"></i>
                                </a>
                            </ng-template>
                        </ngx-datatable-column>
                    </ngx-datatable>
                </div> -->
            <div *ngIf="nodata">
                <!-- <h5 class="noMargin">No Questions Found</h5> -->
                <ngx-no-data [config]="noDataVal"></ngx-no-data>
            </div>
        </div>
    </div>
</div>


<ngx-sidebar-form *ngIf="sidebarForm" (saveBtn)="save(categoryForm,shortform)" (closeBtn)="cloeSidebar()" (outside)="cloeSidebar()" [my_Class]="customCss" [padding]="padding" [sidebarTitle]="titleName" [buttonName]="btnName">


    <!-- <app-subheader [headerConfig]="headers" *ngIf="selectedActInd == 1 && type == true "
    (btntwo)="savemultImageData(multipleform)" (backClick)="back($event)"></app-subheader>
  <app-subheader [headerConfig]="headers" *ngIf="selectedActInd == 3 && type == true "
    (btntwo)="saveSequence(sequenceform)" (backClick)="back($event)"></app-subheader>
  <app-subheader [headerConfig]="headers" *ngIf="selectedActInd == 2 && type == true "
    (btntwo)="savematchImageData(matchingform)" (backClick)="back($event)"></app-subheader>
  <app-subheader [headerConfig]="headers" *ngIf="selectedActInd == 4 && type == true " (btntwo)="saveShort(shortform)"
    (backClick)="back($event)"></app-subheader>
  <app-subheader [headerConfig]="headers" *ngIf='basic==true' (btntwo)="submit(categoryForm)" (backClick)="back($event)">
  </app-subheader> -->



    <nb-tabset class="custom_tabset courseTabset1" (changeTab)="selectTab($event)">
        <nb-tab tabTitle="Basic Details" [active]="basic" class="courseDetailsTab">
            <div class="add-Label">

                <!-- <button type="submit" class="commonBtn btnposition" (click)="changetab(categoryForm)">Next</button> -->



            </div>
            <!-- <div class="row m0 ">
                <div class="col-md-12">
                    <div class=" cardForm">
                        <div class="card-body padding0">
                            <div class="courseDetails">
                                <div class="col-sm-12 grid-margin stretch-card marDiv">
                                    <div class="card cardForm divmargin">
                                        <div class="basic-margin pad-body"> -->
            <form class="forms-sample marDiv" #categoryForm="ngForm">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="side-form-label">{{helpContent?.assessment_qbCategory?.qbCat_name.label}}
                                    <sup>&#x2731;</sup>
                                    <app-info-tooltip
                                        [description]="helpContent?.assessment_qbCategory?.qbCat_name.labelHelpContent">
                                    </app-info-tooltip>
                                    </label>

                        <input type="text" class="form-control" id="qname" minlength="2" maxlength="50" [(ngModel)]="formdata.qname" required placeholder="Maximum 50  characters" name="qname" #qname="ngModel">

                        <div *ngIf="qname.errors && (qname.dirty || qname.touched)">
                            <small class="invalid-msg" [hidden]="!qname.errors.required">Question Name is
                                        required.</small>
                            <small class="invalid-msg" [hidden]="!qname.errors.minlength">Minimum 2
                                        characters
                                        required.</small>
                        </div>
                        <span></span>
                    </div>








                </div>

                <div class="col-sm-6">
                    <div class="form-group" [disabled]="catID ==2">
                        <label class="side-form-label">{{helpContent?.assessment_qbCategory?.qbCat_format.label}}
                                    <sup>&#x2731;</sup>
                                    <app-info-tooltip
                                        [description]="helpContent?.assessment_qbCategory?.qbCat_format.labelHelpContent">
                                    </app-info-tooltip>
                                    </label>

                        <select [(ngModel)]="formdata.qtypeid" id="qtypeid" class="custom-select commonSelect" required name="qtypeid" #qtypeid="ngModel" (ngModelChange)="qtypechange()" [disabled]="catID ==2">
                                    <option value="">Select </option>
                                    <option *ngFor="let item of qbtype" value={{item.id}}>{{item.name}}</option>
                                    </select>


                        <div *ngIf="qtypeid.errors && (qtypeid.dirty || qtypeid.touched)">
                            <small class="invalid-msg" [hidden]="!qtypeid.errors.required">Question type
                                        is required</small>
                        </div>
                        <span></span>
                    </div>
                </div>



                <div class="col-sm-12">


                    <div class="form-group" *ngIf="formdata.qtypeid ==1" [disabled]="catID ==2">
                        <label class="side-form-label">{{helpContent?.assessment_qbCategory?.qbCat_text.label}}
                                    <sup>&#x2731;</sup>
                                    <app-info-tooltip
                                        [description]="helpContent?.assessment_qbCategory?.qbCat_text.labelHelpContent">
                                    </app-info-tooltip>
                                    </label>

                        <div class="overflow_hidden">
                            <jodit-editor [config]="config" name="qtext" [(ngModel)]="formdata.qtext" #qtext="ngModel" required>
                            </jodit-editor>
                        </div>



                        <div *ngIf="qtext.errors && (qtext.dirty || qtext.touched)">
                            <small class="invalid-msg" [hidden]="!qtext.errors.required">Question is
                                        Required</small>
                            <small class="invalid-msg" [hidden]="!qtext.errors.minlength">Minimum 20
                                        characters required</small>
                        </div>
                        <span></span>
                    </div>
                    <div class="form-group" style="margin-bottom: 24px;" *ngIf="formdata.qtypeid ==2">
                        <div>
                            <label class="side-form-label">{{helpContent?.assessment_qbCategory?.qbCat_add_file.label}}
                                        <sup>&#x2731;</sup>
                                        <app-info-tooltip
                                        [description]="helpContent?.assessment_qbCategory?.qbCat_add_file.labelHelpContent">
                                        </app-info-tooltip>
                                    </label>

                            <!-- <input type="button" class="btn btn-secondary constantbtn fp-btn-choose cancelButton"
                                        id="filepicker-button" value="Cancel" name="userfilechoose" (click)="cancel()"
                                        style="float: right;transform: none;" [disabled]="catID ==2"> -->
                            <button class="removeMulti" style="float: right" aria-label="Close" [disabled]="catID ==2" (click)="cancel()">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                            <div class="form-group inputFileCourse">
                                <label class="sr-only" for="inputFile">File Upload</label>
                                <input type="file" #fileUpload class="form-control-file text-success font-weight-bold" name="inputFile" id="inputFile" accept="audio/*,video/*,image/*" (change)="readquestion($event)" attr.data-title="{{formdata.qfileName}}" [disabled]="catID ==2">
                            </div>
                            <span></span>
                        </div>
                        <span></span>
                    </div>

                </div>


                <div class="col-sm-6">


                    <div class="form-group">
                        <label class="side-form-label">{{helpContent?.assessment_qbCategory?.qbCat_tag.label}}
                                    <sup>&#x2731;</sup>
                                    <app-info-tooltip
                                        [description]="helpContent?.assessment_qbCategory?.qbCat_tag.labelHelpContent">
                                    </app-info-tooltip>
                                    </label>
                        <div id="addTags">
                            <angular2-multiselect id="exampleInputTags4" [data]="tagList" [(ngModel)]="selectedTags" [settings]="settingsTagDrop" required #tags="ngModel" (onSelect)="onTagsSelect($event)" class="select_field_height" (onDeSelect)="OnTagDeSelect($event)" name="selectedTags"
                                ngDefaultControl>

                                <c-item>
                                    <ng-template let-item="item">
                                        <label style="color: #333;">{{item.name}}</label>
                                    </ng-template>
                                </c-item>
                            </angular2-multiselect>
                            <div *ngIf="tags.errors && (tags.dirty || tags.touched)">
                                <small class="invalid-msg" [hidden]="!tags.errors.required">Tag is
                                        required</small>
                            </div>
                        </div>

                        <span></span>
                    </div>

                    <!-- <div class="form-group">
                                                        <label class="side-form-label">{{helpContent?.assessment_qbCategory?.qbCat_cat.label}}
                                <sup>&#x2731;</sup>
                                <app-info-tooltip
                                    [description]="helpContent?.assessment_qbCategory?.qbCat_cat.labelHelpContent">
                                </app-info-tooltip>
                                </label>

                                                        <select [(ngModel)]="formdata.cid" id="cid" class="custom-select commonSelect" required name="cid" #cid="ngModel" disabled>
                                <option value="" disabled>Select</option>
                                <option *ngFor="let item of qbcategory" value={{item.id}}>{{item.name}}</option>
                                </select>


                                                        <div *ngIf="cid.errors && (cid.dirty || cid.touched)">
                                                            <small class="invalid-msg" [hidden]="!cid.errors.required">Category is
                                    required</small>
                                                        </div>
                                                        <span></span>
                                                    </div> -->







                </div>


                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="side-form-label">{{helpContent?.assessment_qbCategory?.qbCat_level.label}}
                                <sup>&#x2731;</sup>
                                <app-info-tooltip
                                    [description]="helpContent?.assessment_qbCategory?.qbCat_level.labelHelpContent">
                                </app-info-tooltip>
                                </label>
                        <select [(ngModel)]="formdata.qlevelid" id="qlevelid" class="custom-select commonSelect" required name="qlevelid" #qlevelid="ngModel" [disabled]="catID ==2">
                                <option value="">Select </option>
                                <option *ngFor="let item of qblevel" value={{item.id}}>{{item.name}}</option>
                                </select>

                        <span></span>
                    </div>

                </div>

                <div class="col-sm-12">
                    <div class="form-group" [disabled]="catID ==2">
                        <label class="side-form-label">{{helpContent?.assessment_qbCategory?.qbCat_instr.label}}
                                    
                                    <app-info-tooltip
                                        [description]="helpContent?.assessment_qbCategory?.qbCat_instr.labelHelpContent">
                                    </app-info-tooltip>
                                    </label>

                        <div class="overflow_hidden">
                            <jodit-editor [config]="config1" name="qinsrtu" [(ngModel)]="formdata.qinsrtu" #qinsrtu="ngModel">
                            </jodit-editor>
                        </div>

                        <span></span>
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="side-form-label">{{helpContent?.assessment_qbCategory?.qbCat_add_info.label}}
                                    <app-info-tooltip
                                        [description]="helpContent?.assessment_qbCategory?.qbCat_add_info.labelHelpContent">
                                    </app-info-tooltip>
                                    </label>

                        <div class="overflow_hidden">
                            <jodit-editor [config]="config1" name="cdesc" [(ngModel)]="formdata.qfeed" #qfeed="ngModel" [disabled]="catID ==2">
                            </jodit-editor>
                        </div>

                        <span></span>
                    </div>
                </div>

            </form>
            <!-- </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
        </nb-tab>
        <nb-tab [tabTitle]="questionType" [active]="type" class="courseMoudulesTab p-0">
            <div class="add-Label">

                <button *ngIf="selectedActInd == 1" type="submit" class="commonBtn btnposition" (click)="addmulti()">Add</button>
                <button *ngIf="selectedActInd == 2" type="submit" class="commonBtn btnposition" (click)="addanswer(matchingform)">Add</button>
                <button *ngIf="selectedActInd == 3" type="submit" class="commonBtn btnposition" (click)="addsequence()"> Add</button>


            </div>

            <div class="">

                <form class="forms-sample contentConten" #userForm="ngForm">
                    <div class="form-group" style="margin-bottom: 0px">

                        <div class="bhoechie-tab-container margin0auto width100" style="">
                            <div class="bhoechie-tab-menu">

                            </div>


                            <div class=" cardForm divScrollActivityTypeData addeditqu marTop " data-spy="scroll">
                                <div class="pad0">
                                    <div class="sectionsCard">
                                        <div>
                                            <h4 *ngIf=" activeTypeId > 0 " class=" h4header card-title resEditHead">{{activeTypeName}}
                                            </h4>
                                        </div>
                                        <!-- <div class=" d-flex align-items-end">

                                            <button *ngIf="selectedActInd == 1" type="submit" class="subBttn backBttn focus" id="addbtn" (click)="addmulti()">Add</button>
                                            <button *ngIf="selectedActInd == 2" type="submit" class="subBttn backBttn focus" id="addbtn" (click)="addanswer(matchingform)">Add</button>
                                            <button *ngIf="selectedActInd == 3" type="submit" class="subBttn backBttn focus" id="addbtn" (click)="addsequence()"> Add</button>
                                        </div> -->

                                        <div class="bhoechie-tab activityTabContent actheigt">
                                            <div class="bhoechie-tab-content" *ngIf='selectedActInd == 2'>
                                                <div class="fileActivityContainer">

                                                    <form #matchingform="ngForm">
                                                        <div class="col-sm-12 divbroder" *ngFor=" let moptions of matching.moption;let j=index ">

                                                            <div class="borderDiv">
                                                                <div class="text-right">
                                                                    <button class="removeMulti" aria-label="Close" (click)="remove(j)">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                                                </div>


                                                                <div class="col-sm-12 seqBottom">
                                                                    <div class="">
                                                                        <label class="side-form-label">{{helpContent?.assessment_qbCategory?.qbCat_qtype.label}}
                                                        <sup>&#x2731;</sup>
                                                        <app-info-tooltip
                                                        [description]="helpContent?.assessment_qbCategory?.qbCat_qtype.labelHelpContent">
                                                        </app-info-tooltip>
                                                    </label>

                                                                        <select [(ngModel)]="moptions.qtypeid" id="qtypeid{{j}}" class="custom-select commonSelect" required name="qtypeid{{j}}" #qtypeid="ngModel" (ngModelChange)="matchtypechange(j)">
                                                        <option value="">Select </option>
                                                        <option *ngFor="let item of qbtype" value={{item.id}}>{{item.name}}
                                                        </option>
                                                    </select>


                                                                        <div *ngIf="qtypeid.errors && (qtypeid.dirty || qtypeid.touched)">
                                                                            <small class="invalid-msg" [hidden]="!qtypeid.errors.required">Question
                                                        type is required</small>
                                                                        </div>
                                                                        <span></span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-12 seqBottom">
                                                                    <div class="" *ngIf="moptions.qtypeid ==1">
                                                                        <label class="side-form-label">{{helpContent?.assessment_qbCategory?.qbCat_choice.label}}
                                                        <sup>&#x2731;</sup>
                                                        <app-info-tooltip
                                                        [description]="helpContent?.assessment_qbCategory?.qbCat_choice.labelHelpContent">
                                                        </app-info-tooltip>
                                                    </label>


                                                                        <input type="input" class="form-control" id="optionText{{j}}" [(ngModel)]="moptions.optionText" required placeholder="Question" name="optionText{{j}}" #optionText="ngModel">


                                                                        <div *ngIf="optionText.errors && (optionText.dirty || optionText.touched)">
                                                                            <small class="invalid-msg" [hidden]="optionText.errors.required">Question is required</small>
                                                                        </div>
                                                                        <span></span>
                                                                    </div>

                                                                    <div *ngIf="moptions.qtypeid ==2">
                                                                        <button class="removeMulti" style="float: right" aria-label="Close" (click)="cancelmatch(j)">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                                        <label class="side-form-label">{{helpContent?.assessment_qbCategory?.qbCat_choice.label}}
                                                        <sup>&#x2731;</sup>
                                                        <app-info-tooltip
                                                        [description]="helpContent?.assessment_qbCategory?.qbCat_choice.labelHelpContent">
                                                        </app-info-tooltip>
                                                    </label>

                                                                        <div class="upload-btn-wrapper">
                                                                            <button class="constantbtn-button-blue-left brwsbtn">Browse</button>
                                                                            <!-- <button class="courseRewardsBtn btn brwsbtn"  (click)="cancelmatch(j)">Cancel</button> -->
                                                                            <label class="marleftimg" for="optionRef{{j}}">{{moptions.qfileName}}</label>
                                                                            <input type="file" #multupload name="optionRef{{j}}" id="optionRef{{j}}" [(ngModel)]="moptions.contentRef" (change)="readmatchimg($event,j)" #optionRef="ngModel" title=" " [required]="moptions.qfileName==''">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-12 seqBottom">
                                                                    <div class="">
                                                                        <label class="side-form-label">{{helpContent?.assessment_qbCategory?.qbCat_Option.label}}
                                                        <sup>&#x2731;</sup>
                                                        <app-info-tooltip
                                                        [description]="helpContent?.assessment_qbCategory?.qbCat_Option.labelHelpContent">
                                                        </app-info-tooltip>
                                                    </label>

                                                                        <div class="overflow_hidden">
                                                                            <jodit-editor [config]="config2" id="optionMatch{{j}}" name="optionMatch{{j}}" [(ngModel)]="moptions.optionMatch" #optionMatch="ngModel" required ngDefaultControl>
                                                                            </jodit-editor>
                                                                        </div>

                                                                    </div>


                                                                    <div *ngIf="optionMatch.invalid && (optionMatch.dirty || optionMatch.touched)">
                                                                        <small class="invalid-msg" [hidden]="!optionMatch.errors.required">Answer
                                                        is required</small>
                                                                    </div>
                                                                    <span></span>
                                                                </div>
                                                                <div class="col-sm-6 seqBottom">
                                                                    <div class="padd-sideform">

                                                                        <label class="side-form-label">{{helpContent?.assessment_qbCategory?.qbCat_Score.label}}
                                                        <sup>&#x2731;</sup>
                                                        <app-info-tooltip
                                                        [description]="helpContent?.assessment_qbCategory?.qbCat_Score.labelHelpContent">
                                                        </app-info-tooltip>
                                                    </label>

                                                                        <input type="text" class="form-control" id="mpoint{{j}}" [(ngModel)]="moptions.mpoint" required placeholder="Score" name="mpoint{{j}}" #mpoint="ngModel" required oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');"
                                                                            onKeyDown="if(this.value.length==3 && event.keyCode!=8) return false;" maxlength="3" min="1">

                                                                        <div *ngIf="mpoint.errors && (mpoint.dirty || mpoint.touched)">
                                                                            <small class="invalid-msg" [hidden]="!mpoint.errors.required">Score
                                                        is required</small>
                                                                        </div>
                                                                        <span></span>

                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <div class="padd-sideform">
                                                                        <label class="side-form-label">{{helpContent?.assessment_qbCategory?.qbCat_Penalty.label}}
                                                        <sup>&#x2731;</sup>
                                                        <app-info-tooltip
                                                        [description]="helpContent?.assessment_qbCategory?.qbCat_Penalty.labelHelpContent">
                                                        </app-info-tooltip>
                                                    </label>

                                                                        <input type="text" class="form-control" id="mipoint{{j}}" [(ngModel)]="moptions.mipoint" placeholder="Penalty" name="mipoint{{j}}" #mipoint="ngModel" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');"
                                                                            onKeyDown="if(this.value.length==3 && event.keyCode!=8) return false;" maxlength="3" min="1">

                                                                        <span></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>

                                            <div class="bhoechie-tab-content" *ngIf='selectedActInd == 1'>
                                                <div class="contentActivityContainer">
                                                    <div class="col-sm-12  divpadd">

                                                        <label class="col-md-3 customRadioque side-form-label">
                                        <input id="mEnrol" type="radio" name="checkbox" value="1"
                                            class="with-gap marginRight5px" [(ngModel)]="multiple.mvalue"
                                            (click)="onMultiple()">
                                        <span class="customCheckRoundque " for="mEnrol"></span>
                                        {{helpContent?.assessment_qbCategory?.qbCat_Single.label}}
                                        <app-info-tooltip
                                            [description]="helpContent?.assessment_qbCategory?.qbCat_Single.labelHelpContent">
                                        </app-info-tooltip>

                                    
                                        </label>


                                                        <label class="col-md-3 customRadioque side-form-label">
                                        <input id="mEnrol" type="radio" name="checkbox" value="2"
                                            class="with-gap marginRight5px" [(ngModel)]="multiple.mvalue"
                                            (click)="onMultiple()">
                                        <span class="customCheckRoundque " for="mEnrol"></span>
                                        {{helpContent?.assessment_qbCategory?.qbCat_Multiple.label}}
                                        <app-info-tooltip
                                            [description]="helpContent?.assessment_qbCategory?.qbCat_Multiple.labelHelpContent">
                                        </app-info-tooltip>

                                        
                                        </label>

                                                    </div>

                                                    <form #multipleform="ngForm">
                                                        <div class="col-sm-12 divbroder" *ngFor=" let moptions of multiple.moption;let k=index ">
                                                            <div class="text-right">
                                                                <button class="removeMulti" aria-label="Close" (click)="removemulti(k)">
                                            <span aria-hidden="true">&times;</span>
                                            </button>
                                                            </div>

                                                            <div class="">


                                                                <div class="col-sm-3 padZero">
                                                                    <div class="padd-sideform">
                                                                        <div class="">
                                                                            <label class="side-form-label">{{helpContent?.assessment_qbCategory?.qbCat_Option_type.label}}
                                                            <sup>&#x2731;</sup>
                                                            <app-info-tooltip
                                                                [description]="helpContent?.assessment_qbCategory?.qbCat_Option_type.labelHelpContent">
                                                            </app-info-tooltip>
                                                            </label>

                                                                            <select [(ngModel)]="moptions.qtypeid" id="qtypeid{{k}}" class="custom-select commonSelect" required name="qtypeid{{k}}" #qtypeid="ngModel" (ngModelChange)="choicetypechange(k)">
                                                            <option value="">Select </option>
                                                            <option *ngFor="let item of qbtype" value={{item.id}}>{{item.name}}
                                                            </option>
                                                            </select>


                                                                            <div *ngIf="qtypeid.errors && (qtypeid.dirty || qtypeid.touched)">
                                                                                <small class="invalid-msg" [hidden]="!qtypeid.errors.required">Option type
                                                                is required</small>
                                                                            </div>
                                                                            <span></span>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="col-sm-9">
                                                                    <div class="padd-sideform">
                                                                        <div class="" *ngIf="moptions.qtypeid ==1">
                                                                            <label class="side-form-label">{{helpContent?.assessment_qbCategory?.qbCat_Answer.label}}
                                                            <sup>&#x2731;</sup>
                                                            <app-info-tooltip
                                                                [description]="helpContent?.assessment_qbCategory?.qbCat_Answer.labelHelpContent">
                                                            </app-info-tooltip>
                                                            </label>

                                                                            <div class="overflow_hidden">
                                                                                <jodit-editor [config]="config2" id="manswer{{k}}" name="manswer{{k}}" [(ngModel)]="moptions.manswer" #manswer="ngModel" required ngDefaultControl>
                                                                                </jodit-editor>
                                                                            </div>



                                                                            <div *ngIf="manswer.errors && (manswer.dirty || manswer.touched)">
                                                                                <small class="invalid-msg" [hidden]="!manswer.errors.required">Answer is
                                                                required</small>
                                                                            </div>
                                                                            <span></span>
                                                                        </div>
                                                                        <div *ngIf="moptions.qtypeid ==2">
                                                                            <div class="labelgrid">
                                                                                <label class="side-form-label">{{helpContent?.assessment_qbCategory?.qbCat_Answer.label}}
                                                                <sup>&#x2731;</sup>
                                                                <app-info-tooltip
                                                                [description]="helpContent?.assessment_qbCategory?.qbCat_Answer.labelHelpContent">
                                                                </app-info-tooltip>
                                                            </label>

                                                                                <button class="removeMulti" style="float: right;" aria-label="Close" (click)="cancelmulti(k)">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                                            </div>

                                                                            <div class="upload-btn-wrapper">
                                                                                <button class="constantbtn-button-blue-left brwsbtn">Browse</button>
                                                                                <label class="marleftimg" for="contentRef{{k}}">{{moptions.qfileName}}</label>
                                                                                <input type="file" #multupload name="contentRef{{k}}" id="contentRef{{k}}" [(ngModel)]="moptions.contentRef" (change)="readmultimg($event,k)" #contentRef="ngModel" title=" " [required]="moptions.qfileName==''">
                                                                            </div>
                                                                        </div>


                                                                    </div>
                                                                </div>
                                                            </div>


                                                            <div class="col-sm-12 padZero">
                                                                <div class="form-group">
                                                                    <label class="side-form-label">{{helpContent?.assessment_qbCategory?.qbCat_Feedback.label}}
                                                <app-info-tooltip
                                                [description]="helpContent?.assessment_qbCategory?.qbCat_Feedback.labelHelpContent">
                                                </app-info-tooltip>
                                            </label>

                                                                    <div class="overflow_hidden">
                                                                        <jodit-editor [config]="config3" id="manfeed{{k}}" name="manfeed{{k}}" [(ngModel)]="moptions.manfeed" #manfeed="ngModel" ngDefaultControl>
                                                                        </jodit-editor>
                                                                    </div>

                                                                    <span></span>
                                                                </div>
                                                            </div>





                                                            <div class="col-sm-6">

                                                                <div class="disgrid padd-sideform" *ngIf="multiple.mvalue==1">

                                                                    <label class="mysqr mysqrcheck sqrCheckBox pointer">
                                                    <input id="mopvalue{{k}}" type="checkbox" name="mopvalue{{k}}"
                                                    class="mysqrcheckclr marginRight5px" [checked]="moptions.mopvalue"
                                                    value="1" [(ngModel)]="moptions.mopvalue" #mopvalue="ngModel"
                                                    (ngModelChange)="radiobtn($event,k)">
                                                    <label class="sqrCheckBoxLabel " for="mopvalue{{k}}"></label>
                                                                    </label>
                                                                    <label style="margin-left: 12px" class="margin-auto space_left side-form-label" for="mopvalue{{k}}">Correct
                                                    Answer<h3 class="reqFieldActivity"></h3></label>
                                                                </div>
                                                                <div class="disgrid padd-sideform" *ngIf="multiple.mvalue==2">

                                                                    <label class="mysqr mysqrcheck sqrCheckBox pointer">
                                                    <input id="mopvalue{{k}}" type="checkbox" name="mopvalue{{k}}"
                                                    class="mysqrcheckclr marginRight5px" [checked]="moptions.mopvalue"
                                                    value="1" [(ngModel)]="moptions.mopvalue" #mopvalue="ngModel"
                                                    (click)="multipleCheck(k)">
                                                    <label class="sqrCheckBoxLabel " for="mopvalue{{k}}"></label>
                                                                    </label>

                                                                    <label class="side-form-label">{{helpContent?.assessment_qbCategory?.qbCat_correct_ans.label}}
                                                    <sup>&#x2731;</sup>
                                                    <app-info-tooltip
                                                    [description]="helpContent?.assessment_qbCategory?.qbCat_correct_ans.labelHelpContent">
                                                    </app-info-tooltip>
                                                </label>

                                                                </div>

                                                            </div>
                                                            <div class="col-sm-6">
                                                                <div class=" pad0 padd-sideform" *ngIf="moptions.mopvalue">
                                                                    <div class="">

                                                                        <label class="side-form-label">{{helpContent?.assessment_qbCategory?.qbCat_Score.label}}
                                                    <sup>&#x2731;</sup>
                                                    <app-info-tooltip
                                                        [description]="helpContent?.assessment_qbCategory?.qbCat_Score.labelHelpContent">
                                                    </app-info-tooltip>
                                                    </label>

                                                                        <input type="text" class="form-control" id="mpoint{{k}}" [(ngModel)]="moptions.mpoint" required placeholder="Score" name="mpoint{{k}}" #mpoint="ngModel" required oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');"
                                                                            onKeyDown="if(this.value.length==3 && event.keyCode!=8) return false;" maxlength="3" min="1">


                                                                        <div *ngIf="mpoint.errors && (mpoint.dirty || mpoint.touched)">
                                                                            <small class="invalid-msg" [hidden]="!mpoint.errors.required">Score is
                                                        required</small>
                                                                        </div>
                                                                        <span></span>


                                                                    </div>
                                                                </div>
                                                                <div class=" pad0 padd-sideform" *ngIf="!moptions.mopvalue">
                                                                    <div class="">

                                                                        <label class="side-form-label">{{helpContent?.assessment_qbCategory?.qbCat_Penalty.label}}
                                                    <app-info-tooltip
                                                        [description]="helpContent?.assessment_qbCategory?.qbCat_Penalty.labelHelpContent">
                                                    </app-info-tooltip>
                                                    </label>

                                                                        <input type="text" class="form-control" id="mipoint{{k}}" [(ngModel)]="moptions.mipoint" placeholder="Penalty" name="mipoint{{k}}" #mipoint="ngModel" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');"
                                                                            onKeyDown="if(this.value.length==3 && event.keyCode!=8) return false;" maxlength="3" min="1"> <span></span>
                                                                    </div>
                                                                </div>
                                                            </div>



                                                        </div>
                                                    </form>
                                                </div>
                                            </div>

                                            <div class="bhoechie-tab-content" *ngIf='selectedActInd == 4'>
                                                <div class="contentActivityContainer">

                                                    <form (ngSubmit)="save()" #shortform="ngForm">
                                                        <div class="col-sm-12 divbroder paddingallSize">
                                                            <div class="col-sm-6">
                                                                <div class="">
                                                                    <label class="side-form-label">{{helpContent?.assessment_qbCategory?.qbCat_Min.label}}
                                                <sup>&#x2731;</sup>
                                                <app-info-tooltip
                                                [description]="helpContent?.assessment_qbCategory?.qbCat_Min.labelHelpContent">
                                                </app-info-tooltip>
                                            </label>

                                                                    <input type="number" class="form-control" id="min" [(ngModel)]="short.min" required placeholder="Min Length" name="min" #min="ngModel" required oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');"
                                                                        onKeyDown="if(this.value.length==3 && event.keyCode!=8) return false;" maxlength="4" min="1">
                                                                    <div *ngIf="min.errors && (min.dirty || min.touched)">
                                                                        <small class="invalid-msg" [hidden]="!min.errors.required">Min text
                                                length
                                                is required</small>
                                                                    </div>
                                                                    <div *ngIf="short.min > short.max">
                                                                        <small class="invalid-msg"> Min length must be less than max
                                                length</small>
                                                                    </div>
                                                                    <span></span>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <div class="">
                                                                    <label class="side-form-label">{{helpContent?.assessment_qbCategory?.qbCat_Max.label}}
                                                <sup>&#x2731;</sup>
                                                <app-info-tooltip
                                                [description]="helpContent?.assessment_qbCategory?.qbCat_Max.labelHelpContent">
                                                </app-info-tooltip>
                                            </label>

                                                                    <input type="number" class="form-control" id="max" [(ngModel)]="short.max" placeholder="Max Length" name="max" #max="ngModel" required oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" onKeyDown="if(this.value.length==3 && event.keyCode!=8) return false;"
                                                                        maxlength="5" min="1"> <span></span>

                                                                    <div *ngIf="max.errors && (max.dirty || max.touched)">
                                                                        <small class="invalid-msg" [hidden]="!min.errors.required">Max text
                                                length
                                                is required</small>
                                                                    </div>
                                                                    <span></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>

                                            <div class="bhoechie-tab-content" *ngIf='selectedActInd == 3'>
                                                <div class="contentActivityContainer fileActivityContainer">

                                                    <form (ngSubmit)="save()" #sequenceform="ngForm">
                                                        <div class=" disblc" [sortablejs]="sequence.soption" [sortablejsOptions]="QuestionListOptions">
                                                            <div class="col-sm-12 divbroder list-group-item" *ngFor=" let options of sequence.soption;let i=index ">
                                                                <div class="text-right formsequence">

                                                                    <div class="pad0">
                                                                        <button type="button" class="dragBtn drag-handle">
                                                        <span class="glyphicon glyphicon-move sortIcon"></span>
                                                        <span class="sr-only">Drag</span>
                                                    </button>
                                                                    </div>
                                                                    <button class="removeMulti" aria-label="Close" (click)="removesequence(i)">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                                                </div>



                                                                <!-- <div class="col-sm-1 pad0">
                                            <button type="button" class="dragBtn drag-handle">
                                                <span class="glyphicon glyphicon-move sortIcon"></span>
                                                <span class="sr-only">Drag</span>
                                            </button>
                                            </div> -->
                                                                <div class="col-sm-12 seqBottom">
                                                                    <div class="">
                                                                        <label class="side-form-label">{{helpContent?.assessment_qbCategory?.qbCat_Answer.label}}
                                                <sup>&#x2731;</sup>
                                                <app-info-tooltip
                                                    [description]="helpContent?.assessment_qbCategory?.qbCat_Answer.labelHelpContent">
                                                </app-info-tooltip>
                                                </label>
                                                                        <div class="overflow_hidden">
                                                                            <jodit-editor [config]="config2" id="sanswer{{i}}" name="sanswer{{i}}" [(ngModel)]="options.sanswer" #sanswer="ngModel" required ngDefaultControl>
                                                                            </jodit-editor>
                                                                        </div>



                                                                        <div *ngIf="sanswer.errors && (sanswer.dirty || sanswer.touched)">
                                                                            <small class="invalid-msg" [hidden]="!sanswer.errors.required">Answer is
                                                    required</small>
                                                                        </div>
                                                                        <span></span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <div class="">
                                                                        <label class="side-form-label">{{helpContent?.assessment_qbCategory?.qbCat_Score.label}}
                                                <sup>&#x2731;</sup>
                                                <app-info-tooltip
                                                    [description]="helpContent?.assessment_qbCategory?.qbCat_Score.labelHelpContent">
                                                </app-info-tooltip>
                                                </label>
                                                                        <input type="text" class="form-control" id="spoint{{i}}" [(ngModel)]="options.spoint" required placeholder="Score" name="spoint{{i}}" #spoint="ngModel" required oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');"
                                                                            onKeyDown="if(this.value.length==3 && event.keyCode!=8) return false;" maxlength="3" min="1">


                                                                        <div *ngIf="spoint.errors && (spoint.dirty || spoint.touched)">
                                                                            <small class="invalid-msg" [hidden]="!spoint.errors.required">Score is
                                                    required</small>
                                                                        </div>
                                                                        <span></span>

                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <div class="">
                                                                        <label class="side-form-label">{{helpContent?.assessment_qbCategory?.qbCat_Penalty.label}}
                                                <app-info-tooltip
                                                    [description]="helpContent?.assessment_qbCategory?.qbCat_Penalty.labelHelpContent">
                                                </app-info-tooltip>
                                                </label>

                                                                        <input type="text" class="form-control" id="sipoint{{i}}" [(ngModel)]="options.sipoint" placeholder="Penalty" name="sipoint{{i}}" #sipoint="ngModel" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');"
                                                                            onKeyDown="if(this.value.length==3 && event.keyCode!=8) return false;" maxlength="3" min="1"> <span></span>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- </div>
                        </div>
                    </div>
                </div>-->
            </div>
        </nb-tab>
    </nb-tabset>

</ngx-sidebar-form>