.certificates {
    .certificate_top_margin {
        margin-top: 25px;
        // padding-right: 10px;
    }
    .addEditCerttoprow {
        // padding: 12px;
        border: none;
        background-color: #ffffff;
        height: auto;
        width: 100%;
        display: inline-flex;
    }
    .addEditCertsticky-top {
        position: sticky;
        top: 67px;
        z-index: 1090;
    }
    .addEditCertHead {
        margin: 15px auto;
    }
    .cardFormCertificate {
        color: #666666;
        background-color: #ffffff;
        border: 1px solid #f1eded;
        border-radius: 0px;
        position: relative;
        margin-bottom: 24px;
        box-shadow: none;
    }
    .marginTop0 {
        margin-top: 0px;
    }
    .keyworddiv {
        padding: 0 20px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .tags {
        margin: 0;
    }
    .keywords {
        margin: 0 10px;
        /* background: #f0f0f0; */
        color: #317ddc;
        padding: 10px;
        border: 1px solid #317ddc;
        border-radius: 5px;
        box-shadow: 1px 3px 5px #eee;
    }
    .space_left {
        padding-left: 2px;
    }
    .certIcon {
        margin: 0 auto;
        text-align: -webkit-center;
    }
    .certIcon-upload {
        position: relative;
        .certIcon-edit {
            position: absolute;
            left: 28%;
            z-index: 1;
            bottom: 5%;
            input {
                display: none;
                +label {
                    display: inline-block;
                    width: 34px;
                    height: 34px;
                    margin-bottom: 0;
                    border-radius: 100%;
                    background: #FFFFFF;
                    border: 1px solid transparent;
                    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
                    cursor: pointer;
                    font-weight: normal;
                    transition: all .2s ease-in-out;
                    &:hover {
                        background: #f1f1f1;
                        border-color: #d6d6d6;
                    }
                    &:after {
                        content: "\f040";
                        font-family: 'FontAwesome';
                        color: #757575;
                        position: absolute;
                        top: 10px;
                        left: 0;
                        right: 0;
                        text-align: center;
                        margin: auto;
                    }
                }
            }
        }
        .certIcon-delete {
            position: absolute;
            right: 28%;
            z-index: 1;
            bottom: 5%;
            label {
                display: inline-block;
                width: 34px;
                height: 34px;
                margin-bottom: 0;
                border-radius: 100%;
                background: #FFFFFF;
                border: 1px solid transparent;
                box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
                cursor: pointer;
                font-weight: normal;
                transition: all .2s ease-in-out;
                &:hover {
                    background: #f1f1f1;
                    border-color: #d6d6d6;
                }
                &:after {
                    content: "\f1f8";
                    font-family: 'FontAwesome';
                    color: #757575;
                    position: absolute;
                    top: 10px;
                    left: 0;
                    right: 0;
                    text-align: center;
                    margin: auto;
                }
            }
        }
        .certIcon-preview {
            width: 300px;
            height: 175px;
            position: relative;
            border: 6px solid #fbfbfb;
            -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
            >img {
                width: 100%;
                height: 100%;
            }
        }
    }
    .cardHeadCert {
        padding: 10px;
        background: var(--colorCommon) !important;
        color: #fff;
        margin: 0;
    }
    .addEditCategory_page_container {
        .content_width {
            width: 78vw;
            margin: 0 auto;
        }
        .addEditCategory_header {
            background: #fff;
            position: sticky;
            top: 4.75rem;
            z-index: 1020;
            .header_grid {
                display: grid;
                grid-template-columns: 1fr 1fr;
                align-items: center;
                height: 50px;
                .header_title {
                    h4 {
                        text-align: left;
                    }
                }
                .buttons_container {
                    text-align: right;
                }
            }
        }
        .inside_form_container {
            // display: grid;
            // grid-template-columns: 1fr 1fr;
            background: #fff;
            margin: 20px;
            .form_grid {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-column-gap: 30px;
                padding: 15px;
                .left_form_container {}
                .right_form_container {}
                .form_container {
                    // .flex_header{
                    //   display: flex;
                    //   h5{
                    //     width: 100%;
                    //     margin: 0;
                    //     align-self: center;
                    //   }
                    // }
                }
                //   .five_col_grids{
                //     display: grid;
                //     grid-template-columns: 3fr 3fr 2fr 2fr 1fr;
                //     grid-column-gap: 20px;
                //     align-items: center;
                //   }
                .form_field_container {
                    margin: 20px 0;
                    label {
                        color: #666666;
                    }
                    .required_mark {
                        font-size: 20px;
                        font-weight: 100;
                        top: -0.3em;
                        color: #ed462f;
                    }
                    //   .select_field_height{
                    //     height: 35px;
                    //     width: 100%;
                    // }
                    .image_upload_container {
                        margin-top: 15px;
                        .image_preview {
                            height: 170px;
                            width: 300px;
                            margin-right: auto;
                            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
                            padding: 10px;
                            background: #fff9f9;
                            position: relative;
                            .image_preview_container {
                                height: 150px;
                                width: 100%;
                                background-size: cover;
                                background-position: center;
                                background-repeat: no-repeat;
                                display: grid;
                                grid-template-columns: 1fr 1fr;
                                // position: absolute;
                                grid-column-gap: 20px;
                                align-items: end;
                                // margin-top: -10px;
                                // img{
                                //   width: 100%;
                                //   height: 100%;
                                // }
                                .icon_upload_image {
                                    // text-align: right;
                                    // margin-left: auto;
                                    margin-left: 10px;
                                    margin-bottom: 10px;
                                    label {
                                        display: flex;
                                        align-items: center;
                                        // align-content: 
                                        justify-content: center;
                                        // justify-items: center;
                                        background: #fff;
                                        color: #076ba1;
                                        height: 40px;
                                        width: 40px;
                                        border-radius: 50%;
                                        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
                                        margin-bottom: 0;
                                        padding: 0;
                                        i {
                                            line-height: 40px;
                                        }
                                    }
                                    // margin: 0 auto;
                                }
                                .icon_delete {
                                    // text-align: right;
                                    // margin-right: auto;
                                    margin-left: auto;
                                    margin-right: 10px;
                                    margin-bottom: 10px;
                                    display: flex;
                                    align-items: center;
                                    // align-content: 
                                    justify-content: center;
                                    // justify-items: center;
                                    background: #fff;
                                    color: #076ba1;
                                    height: 40px;
                                    width: 40px;
                                    border-radius: 50%;
                                    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
                                    // margin: 0;
                                    padding: 0;
                                    i {
                                        line-height: 40px;
                                    }
                                }
                                //   .buttons_image_preview{
                                //     // display: grid;
                                //     // grid-template-columns: 1fr 1fr;
                                //     // // position: absolute;
                                //     // grid-column-gap: 20px;
                                //     // align-items: end;
                                //     // margin-top: -10px;
                                // }
                            }
                        }
                    }
                    .not_found {
                        background-image: url('assets/images/category.jpg');
                    }
                    .form_div {
                        padding: 15px;
                    }
                }
                // .tagcontainer{
                //   margin-bottom: 4px;
                // }
                // .tagcontainer .bootstrap.ng2-tag-input {
                //   display: block;
                //   -webkit-box-orient: horizontal;
                //   -webkit-box-direction: normal;
                //   -ms-flex-direction: row;
                //   flex-direction: row;
                //   -ms-flex-wrap: wrap;
                //   flex-wrap: wrap;
                //   position: relative;
                //   cursor: text;
                //   // width: 445px   ;
                //   border-bottom: 2px solid #efefef;
                // }
                // tag-input{
                //   width: 100%;
                // }
                // .image_preview{
                //   .image_preview_container{
                //       img{
                //         height: 300px;
                //         width: 300px;
                //       }
                //   }
                //   .buttons_image_preview{
                //       display: grid;
                //       grid-template-columns: 1fr 1fr;
                //       .icon_upload_image{
                //         display: block;
                //         background: #fff;
                //         color: #076ba1;
                //         height: 30px;
                //         width: 30px;
                //         margin: 0 auto;
                //         box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
                //       }
                //       .icon_delete{
                //         display: block;
                //         background: #fff;
                //         color: #076ba1;
                //         height: 30px;
                //         width: 30px;
                //         margin: 0 auto;
                //         box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
                //       }
                //   }
                // }
            }
        }
    }
    // .required_msg_text{
    //   .form-text{
    //     color: #ed462f !important;
    //   }
    // }
}