<!-- <div class="page-top clearfix" > -->
<!-- <a class="al-logo clearfix"><span><img src="" alt="Carefewerks"></span></a> -->
<!-- <a class="al-logo clearfix"><span>BFL EDGE</span></a>
  <a routerLink="/register" class="auth-link auth-link1" translate>Dont't have an account? Sign up</a>
</div> -->
<div id="nb-global-spinner" class="spinner" *ngIf ="spinner">
    <div class="blob blob-0"></div>
    <div class="blob blob-1"></div>
    <div class="blob blob-2"></div>
    <div class="blob blob-3"></div>
    <div class="blob blob-4"></div>
    <div class="blob blob-5"></div>
</div>
<div>
  <div class="auth-main myDiv">
    <div class="auth-block">
      <div class="subDivauth-block">
        <p class="para-auth-block" translate>Sign in</p>
      </div>
      <!-- <a routerLink="/register" class="auth-link" translate>{{'login.signup_link'}}< /a> -->
      <form class="form1" #loginForm="ngForm" (keyup.enter)="loginUser();">
        <fieldset class="fieldset1">
          <div>
            <img class="fieldset1Img" src="/assets/images/512.png" width="45px">
            <div class="fieldset1Div">
              <p class="fieldset1DivP1">Welcome to EDGE,</p>
              <p class="fieldset1DivP2">sign in to access your account.</p>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputEmail3" class="col-sm-4 control-label fieldset1Div2label" id="labelName">Username</label>
            <div class="col-sm-8 fieldset1Div2subDiv" class="inputVal">
              <input [(ngModel)]="userData1.email" type="email" class="form-control form-control-sm fieldset1Div2subDivInput" id="inputEmail3" placeholder="Username" required name="email" #email="ngModel" autocomplete="off">
              <!-- <i id="0-email" class="error"></i> -->
              <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
                <div [hidden]="!email.hasError('required')">Username is required</div>
                <!-- <div [hidden]="!userName.hasError('minlength')">Minimum 3 required</div> -->
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPassword3" class="col-sm-4 control-label fieldset1Div2label" id="labelName">Password</label>
            <!-- margin-top: -28%;  type="password"-->
            <div class="col-sm-8 fieldset1Div2subDiv" class="inputVal">
              <input [(ngModel)]="userData1.password" [type]="show ? 'text' : 'password'" class="form-control form-control-sm fieldset1Div3subDivInput" id="inputPassword3" placeholder="Password" required name="password" #password="ngModel" autocomplete="off"><span (click)="passwordEye()" class="fa fa-fw fa-eye field-icon toggle-password"></span>
              <!-- <button type="button" (click)="password();"><i class="ios-eye-outline"></i></button> -->
              <!-- <i id="0-password" class="error"></i> -->
              <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
                <div [hidden]="!password.hasError('required')">Password is required</div>
                <!-- <div [hidden]="!userName.hasError('minlength')">Minimum 3 required</div> -->
                <!-- <div [hidden]="!userName.hasError('pattern')">Only alphabets allowed</div> -->
              </div>
            </div>
          </div>
          <div class="form-group row marginTop25px">
            <!-- <div class="offset-sm-4 col-sm-8" style="margin-left: -94px;">
            <a routerLink="/signup" class="forgot-pass forgot-pass1" translate style="color: #fff;">Dont't have an account? Sign up</a>
            </div> -->
            <div class="col-sm-12 textCenter">
            <a class="forgot-pass forgot-pass1 whiteCol"  translate (click)="gotoforgotpassword()">Forgot password?</a>
            </div>
          </div>
          <div class="alert alert-danger errorDiv" role="alert" *ngIf="error"> {{errorMessage}} </div>
        </fieldset>
        
        <div class="form-group row signIn">
          <div class="">
            <!-- <button type="button" [disabled]="!loginForm.form.valid" class="btn-auth" (click)="saveUser(login,0);" translate>Sign in</button> -->
            <button type="button" [disabled]="!loginForm.form.valid" class="btn-auth" (click)="loginUser();" translate>Sign in</button>
          </div>
        </div>
        
      </form>
    </div>
    <!-- <ng2-popup #popup></ng2-popup> -->
  </div>
</div>
