<!-- <div class="page-top clearfix" > -->
<!-- <a class="al-logo clearfix"><span><img src="" alt="Carefewerks"></span></a> -->
<!-- <a class="al-logo clearfix"><span>BFL ILLUME</span></a>
  <a routerLink="/register" class="auth-link auth-link1" translate>Dont't have an account? Sign up</a>
</div> -->
<div class="login_container" *ngIf="false">
  <div id="nb-global-spinner" class="spinner" *ngIf="spinner">
    <div class="blob blob-0"></div>
    <div class="blob blob-1"></div>
    <div class="blob blob-2"></div>
    <div class="blob blob-3"></div>
    <div class="blob blob-4"></div>
    <div class="blob blob-5"></div>
  </div>
  <div style="">
    <div class="auth-main myDiv" style="background-color: #00bcd4 !important;">
      <div class="auth-block">
        <div
          style="
            font-weight: 300; /* margin-bottom: 28px; */
            text-align: center;
            background-color: #4dcae8;
            height: 7%;
          "
        >
          <p
            translate
            style="
              font-weight: 400;
              font-size: 15px;
              padding-top: 9px;
              text-transform: uppercase;
            "
          >
            Sign in
          </p>
        </div>

        <form
          #loginForm="ngForm"
          (keyup.enter)="loginUser();"
          style="height: 67%;"
        >
          <fieldset style="height: 100%;">
            <div>
              <img
                [src]="currentBrandData?.logo"
                width="45px"
                style="
                  width: 70px;
                  margin-top: 7%;
                  margin-bottom: -20%;
                  margin-left: 7%;
                  font-weight: 600;
                "
              />
              <div
                style="margin-left: 8%; margin-top: 24%; margin-bottom: -29%;"
              >
                <p style="font-size: 22px !important;">
                  Welcome to {{currentBrandData?.brandName}},
                </p>
                <p style="font-size: 20px !important;">
                  Sign in to access your account.
                </p>
              </div>
            </div>
            <div class="form-group row marginAuto">
              <label
                for="inputEmail3"
                class="col-sm-4 control-label"
                id="labelName"
                style="display: none;"
                >Username</label
              >
              <div class="col-sm-8" class="inputVal" style="width: 100%;">
                <input
                  [(ngModel)]="userData1.email"
                  type="email"
                  class="form-control form-control-sm"
                  id="inputEmail3"
                  placeholder="Username"
                  required
                  name="email"
                  #email="ngModel"
                  autocomplete="off"
                  style="
                    margin-top: 30%;
                    width: 80%;
                    margin-left: 10%;
                    margin-right: 10%;
                    background-color: #ece0e000 !important;
                    border: none;
                    border-bottom: 3px solid #ffeb3b;
                    color: #fff;
                    font-size: 15px;
                    border-radius: 0;
                  "
                />
                <!-- <i id="0-email" class="error"></i> -->
                <div
                  [hidden]="email.valid || email.pristine"
                  class="alert alert-danger error_text"
                >
                  <div [hidden]="!email.hasError('required')">
                    Username is required
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group row marginAuto">
              <label
                for="inputPassword3"
                class="col-sm-4 control-label"
                id="labelName"
                style="display: none;"
                >Password</label
              >
              <!-- margin-top: -28%;  type="password"-->
              <div class="col-sm-8" class="inputVal" style="width: 100%;">
                <input
                  [(ngModel)]="userData1.password"
                  [type]="show ? 'text' : 'password'"
                  class="form-control form-control-sm"
                  id="inputPassword3"
                  placeholder="Password"
                  required
                  name="password"
                  #password="ngModel"
                  autocomplete="off"
                  style="
                    margin-top: 0%;
                    width: 80%;
                    margin-left: 10%;
                    margin-right: 10%;
                    background-color: #ece0e000 !important;
                    border: none;
                    border-bottom: 3px solid #ffeb3b;
                    color: #fff;
                    font-size: 15px;
                    border-radius: 0;
                  "
                /><span
                  (click)="passwordEye()"
                  class="fa fa-fw fa-eye field-icon toggle-password"
                ></span>
                <!-- <button type="button" (click)="password();"><i class="ios-eye-outline"></i></button> -->
                <!-- <i id="0-password" class="error"></i> -->
                <div
                  [hidden]="password.valid || password.pristine"
                  class="alert alert-danger error_text"
                >
                  <div [hidden]="!password.hasError('required')">
                    Password is required
                  </div>
                  <!-- <div [hidden]="!userName.hasError('minlength')">Minimum 3 required</div> -->
                  <!-- <div [hidden]="!userName.hasError('pattern')">Only alphabets allowed</div> -->
                </div>
              </div>
            </div>
            <div class="form-group row forgotRow">
              <div class="offset-sm-4 col-sm-8" style="margin-left: -94px;">
                <a routerLink="/signup" class="forgot-pass forgot-pass1" translate style="color: #fff;">Dont't have an account? Sign up</a>
                </div>
              <div class="col-sm-12" style="text-align: center;">
                <a
                  class="forgot-pass forgot-pass1"
                  translate
                  style="color: #fff;"
                  (click)="gotoforgotpassword()"
                  >Forgot password?</a
                >
              </div>
            </div>
            <div
              class="alert alert-danger"
              role="alert"
              *ngIf="error"
              style="text-align: center; padding: 0; margin-top: 0;"
            >
              {{errorMessage}}
            </div>
          </fieldset>

          <div
            class="form-group row"
            class="signIn"
            style="position: relative; bottom: 0;"
          >
            <div class="">
              <!-- <button type="button" [disabled]="!loginForm.form.valid" class="btn-auth" (click)="saveUser(login,0);" translate>Sign in</button> -->
              <button
                type="button"
                [disabled]="checkDisabled()"
                class="btn-auth"
                (click)="loginUser();"
                translate
              >
                Sign in
              </button>
            </div>
          </div>
        </form>
      </div>
      <!-- <ng2-popup #popup></ng2-popup> -->
    </div>
  </div>

  <div class="footer_container">
    <a [href]="currentBrandData?.termsandcondition" target="_blank"
      >Privacy Policy</a
    >
  </div>
</div>
<section class="vh-100 bg-soft d-flex align-items-center bg-light">
  <div class="w-100 text-center col-md-12">
    <div class="row justify-content-center form-bg-image">
      <!-- sign up -->
      <!-- <div
        *ngIf="signin"
        class="d-flex align-items-center justify-content-center w-100"
      >
        <div
          class="signin-inner mt-lg-0 bg-white shadow-soft border border-light rounded p-4 px-lg-5 w-100"
        >
          <div class="d-flex justify-content-center pb-3">
            <img
              src="assets/images/Edge/edge-blue.png"
              alt="logo"
              width="40"
              height="40"
            />
            <h1 class="head align-self-center">Sign Up</h1>
          </div>

          <form #signupForm="ngForm">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="far fa-user"></i
                  ></span>
                </div>
                <input
                  type="text"
                  [(ngModel)]="signUpDetails.firstName"
                  required
                  name="firstName"
                  pattern="[A-Za-z0-9]+"
                  #firstName="ngModel"
                  class="form-control"
                  minlength="2"
                  placeholder="Enter first name"
                />
              </div>
              <ng-container *ngIf="firstName.invalid && firstName.touched">
                <small class="invalid-msg" [hidden]="!firstName.hasError('required')"
                  >First Name is required</small
                >
                <small class="invalid-msg" [hidden]="!firstName.hasError('minlength')"
                >Minimum 2 charecter requrired.</small
              >
                <small class="invalid-msg" *ngIf="firstName.errors.pattern"
                  >Only letters and numbers allowed.</small
                >
              </ng-container>
            </div>
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="far fa-user"></i
                  ></span>
                </div>
                <input
                  type="text"
                  [(ngModel)]="signUpDetails.lastName"
                  required
                  name="lastName"
                  #lastName="ngModel"
                  pattern="[a-zA-Z]+"
                  #lastname="ngModel"
                  minlength="2"
                  maxlength="20"
                  class="form-control"
                  placeholder="Enter last name"
                />
              </div>
              <ng-container *ngIf="lastName.invalid && lastName.touched">
                <small class="invalid-msg" [hidden]="!lastName.hasError('required')"
                  >Last Name is required</small
                >
                <small class="invalid-msg" [hidden]="!lastName.hasError('minlength')"
                >Minimum 2 charecter requrired.</small
              >
                <small class="invalid-msg" *ngIf="lastName.errors.pattern"
                  > Only alphabets allowed</small
                >
              </ng-container>
            </div>
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="far fa-envelope"></i
                  ></span>
                </div>
                <input
                  type="email"
                  [(ngModel)]="signUpDetails.email"
                  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                  required
                  name="email"
                  #email="ngModel"
                  class="form-control"
                  placeholder="Enter email"
                  [email]="true"
                />
              </div>
              <ng-container *ngIf="email.invalid && email.touched">
                <small class="invalid-msg" [hidden]="!email.hasError('required')"
                  >Email is required</small
                >
                <small class="invalid-msg" *ngIf="email.errors.pattern"
                >Email format should be
                <small><b>joe@abc.com</b></small></small
              >
              </ng-container>
            </div>
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="fas fa-mobile-alt"></i
                  ></span>
                </div>

                <input
                  type="tel"
                  class="form-control"
                  [(ngModel)]="signUpDetails.phone"
                  required
                 pattern ="^[6-9]\d{9}$"
                  maxlength = 10
                  name="phone"
                  #phone="ngModel"
                  placeholder="Enter mobile number"
                />
              </div>
              <ng-container *ngIf="phone.invalid && phone.touched">
                <small class="invalid-msg" [hidden]="!phone.hasError('required')"
                  >Please Enter a phone number</small
                >
                <small class="invalid-msg" *ngIf="phone.errors.pattern"
                >Please Enter a valid phone number</small
              >
              </ng-container>
            </div>
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="fas fa-unlock-alt"></i
                  ></span>
                </div>
                <input
                  class="form-control"
                  [(ngModel)]="signUpDetails.password"
                  required
                  [type]="show ? 'text' : 'password'"
                  name="password"
                  pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,20}$"
                  #password="ngModel"
                  placeholder="Password"
                  type="password"
                />
                <div class="input-group-append" (click)="passwordEye()">
                  <span class="input-group-text"
                    ><i class="fas fa-eye"></i
                  ></span>
                </div>
              </div>
              <ng-container *ngIf="password.invalid && password.touched">
                <small class="invalid-msg" [hidden]="!password.hasError('required')"
                  >Password is required</small
                >
                <small class="invalid-msg" *ngIf="password.errors.pattern"
                  > Password must contain 8 to 20 characters, including 1 uppercase,lowercase, numbers and special character</small
                >
              </ng-container>
              <div class="input-group mt-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="fas fa-unlock-alt"></i
                  ></span>
                </div>
                <input
                  type = "password"
                  class="form-control"
                  placeholder="Confirm password"
                  [(ngModel)]="signUpDetails.confirmPassword"
                  required
                  pattern="{{ password.value }}"
                  name="confirmPassword"
                  #confirmPassword="ngModel"
                />
              </div>
              <ng-container *ngIf="confirmPassword.invalid && confirmPassword.touched">
                <small class="invalid-msg" [hidden]="!confirmPassword.hasError('required')"
                  >Confirm Password is required</small
                >
                <small class="invalid-msg" *ngIf="confirmPassword.errors.pattern"
                  >Password does not match</small
                >

              </ng-container>


            </div>

            <div class="row text-left ml-0 mr-0 mt-3">
              <div class="col-md-6 mb-0 ml-0 pl-0 form-group">
                <label
                  ><input
                    type="radio"
                    name="organization"
                    id="organization"
                    required
                    #organization="ngModel"
                    [value]="1"
                    [(ngModel)]="signUpDetails.organization"
                  />
                  <span class="ml-2">Organization</span>
                </label>
              </div>
              <div class="col-md-6 ml-0 pl-0  mb-0 form-group">
                <label
                  ><input
                    type="radio"
                    name="organization"
                    id="freeRadio"
                    required
                    #organization="ngModel"
                    [value]="2"
                    [(ngModel)]="signUpDetails.organization"
                  />
                  <span class="ml-2">Indivdual</span>
                </label>
              </div>
              <ng-container *ngIf="organization.invalid && organization.touched">
                <small class="invalid-msg">Organization is required</small>
              </ng-container>
            </div>
            <div
              class="d-block d-sm-flex justify-content-between align-items-center mt-2"
            >
              <div class="d-flex form-group form-check pl-0 my-2">
                <input type="checkbox" [(ngModel)]="signUpDetails.termsAndCondition"
                required
                value = true
                name="termsAndCondition"
                #termsAndCondition="ngModel" class="form-check-input" />
                <label
                  class="form-check-label ml-4 form-check-sign-white agree"
                  for="exampleCheck1"
                >
                  I agree to the <a [href]="currentBrandData?.termsandcondition" target="_blank">terms and conditions</a>
                </label>
              </div>

            </div>
            <ng-container *ngIf="termsAndCondition.invalid && termsAndCondition.touched">
              <small class="invalid-msg" [hidden]="!termsAndCondition.hasError('required')"
                >Please agree to Terms And Condition</small
              >
            </ng-container>
            <div class="alert alert-success" *ngIf ="mailSent" role="alert">
              {{mailSentMessage}}
            </div>
            <div class="alert alert-warning mt-2" *ngIf ="count !== 0" role="alert">
                Remaining reattempt: {{ maxResendCount - count}}
            </div>
            <div class="mt-3">
              <button
                type="submit"
                class="btn btn-block btn-color"
                (click)="sendVerificationLink(signupForm)"
                [disabled]="mailSent"
              >
                Sign up
              </button>
            </div>
            <div class="mt-3">
              <button
                *ngIf ="mailSent"
                type="button"
                class="btn btn-block btn-color"
                (click)="resendEmail()"
              >
                Resend Email
              </button>
            </div>
          </form>

          <div
            class="d-block d-sm-flex justify-content-center align-items-center mt-2"
          >
            <span class="font-weight-normal"
              >Already have an account?

              <a class="change-screen" (click)="signIn(signupForm)">Login here</a>
            </span>
          </div>
        </div>
      </div> -->

      <!-- sign in -->
      <div
        *ngIf="!signin"
        class="d-flex align-items-center justify-content-center w-100"
      >
        <div
          class="login-inner d-flex justify-content-center flex-column mt-lg-0 bg-white shadow-soft border border-light rounded p-4 px-lg-5 w-100"
        >
          <div class="pb-5">
            <img
              src="assets/images/Edge/edge-blue-full.png"
              alt="logo"
              width="150"
            />
          </div>

          <form #loginForm="ngForm" (keyup.enter)="loginUser(loginForm);">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="far fa-envelope"></i
                  ></span>
                </div>
                <input
                  type="email"
                  [(ngModel)]="userData1.email"
                  required
                  name="email"
                  #email="ngModel"
                  autocomplete="off"
                  class="form-control"
                  placeholder="Enter email"
                />

              </div>
              <ng-container *ngIf="email.invalid && email.touched">
                <small class="invalid-msg" [hidden]="!email.hasError('required')"
                  >Username is required</small
                >
              </ng-container>
            </div>
            <div class="form-group mt-4">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="fas fa-unlock-alt"></i
                  ></span>
                </div>
                <input
                  class="form-control"
                  placeholder="Password"
                  [(ngModel)]="userData1.password"
                  [type]="show ? 'text' : 'password'"
                  required
                  name="password"
                  #password="ngModel"
                  autocomplete="off"
                  type="password"
                />
                <div class="input-group-append" (click)="passwordEye()">
                  <span class="input-group-text"
                    ><i class="fas fa-eye"></i
                  ></span>
                </div>

              </div>
              <ng-container *ngIf="password.invalid && password.touched">
                <small class="invalid-msg"  [hidden]="!password.hasError('required')"
                  >Password is required</small
                >
              </ng-container>
            </div>
            <ng-container *ngIf="error">
              <small class="invalid-msg"
                > {{errorMessage}}</small
              >
            </ng-container>
            <div class="mt-4">
              <button
                type="submit"

                class="btn btn-block btn-color"
                (click)="loginUser(loginForm)"
              >
                Sign in
              </button>

            </div>
          </form>

          <div *ngIf="featureConfig?.showSignUpButton"
            class="d-block d-sm-flex justify-content-center align-items-center mt-2"
          >
            <span class="font-weight-normal"
              >Create an account?
              <a class="change-screen" (click)="signIn(loginForm)">Sign up here</a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <section *ngIf="!domain" class="vh-100 bg-soft d-flex align-items-center domain-bg-image">
  <div class="w-100 text-center col-md-12">
      <div class="row justify-content-center">
          <div class="domain d-flex align-items-center justify-content-center">
              <div class="d-flex justify-content-center flex-column mt-lg-0 shadow-soft border border-light rounded p-4 p-lg-5 w-100">
                  <form>
                      <div class="form-group row  pr-3">
                          <div class="input-group col-md-7 pr-0">
                              <div class="input-group-prepend">
                                  <span class="input-group-text"><i class="fas fa-globe"></i></span>
                              </div>
                              <input type="text" class="form-control" placeholder="Domain name">
                          </div>
                          <div class="col-md-5 align-self-end pl-1 edge-learn">
                              <label>.edgelearning.co.in</label>
                          </div>
                      </div>
                      <div class="form-group">
                          <select class="custom-select">
                              <option selected>Select Country</option>
                              <option value="1">India</option>
                              <option value="2">China</option>
                          </select>
                      </div>
                      <div class="mt-4">
                          <button type="submit" class="btn btn-block btn-color"
                              (click)="dashboard()">Submit</button>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</section> -->
