/*@import '../../theme/sass/auth';
@import '../../theme/sass/conf/conf';
@import '../../theme/components/baMsgCenter/baMsgCenter';*/
// .login_container{


// .error{
//   font-size: 10px;
//   color: red;
//   font-weight: 600;
// }
// .footer_container{
//   position: absolute;
//   bottom: 10px;
//   left: 50%;
//   transform: translateX(-50%);
//   a{
//     color: #FFF;
//     &:hover{
//       color: #FFF;
//     }
//   }

// }
// .auth-block {
//     width: 510px;
//     margin: 0 auto;
//     background: rgba(1, 18, 23, 0.9215686274509803);
//     color: #fff;
//     height: 515px;
//     /*z-index: 999999;*/

//   h1 {
//     /*font-weight: $font-light;*/
//     margin-bottom: 28px;
//     text-align: center;
//     background-color: #58b4ff;
//   }
//   p {
//     font-size: 16px;
//   }
//   a {
//     text-decoration: none;
//     outline: none;
//     transition: all 0.2s ease;
//     color: #fff;
//     &:hover {
//       color: #fff;
//     }
//   }

//   .control-label {
//     padding-top: 11px;
//     color: #fff;
//   }

//   .form-group {
//     margin-bottom: 12px;
//   }
// }

// .marginAuto{
//   margin: auto;
//   width: 100%;
// }

// .error_text{
//   width: 80%;
//   /* background: #076ba1a1; */
//   margin: auto;
//   /* color: white !important; */
//   /* font-weight: 100; */
//   padding: 0 10px !important;
//   margin-top: 6px;
//   border-radius: 0 !important;
// }

// .forgotRow{
//   width: 100%;
//   margin: auto;
//   margin-top: 12px;
// }

// .auth-input {
//   width: 300px;
//   margin-bottom: 24px;
//   input {
//     display: block;
//     width: 100%;
//     border: none;
//     font-size: 16px;
//     padding: 4px 10px;
//     outline: none;
//   }
// }

// :host /deep/ {

//   .page-top {
//     background-color: #fff;
//     position: fixed;
//     z-index: 904;
//     box-shadow: 2px 0 3px rgba(0, 0, 0, 0.5);
//     height: 130px;
//     width: 100%;
//     min-width: 100%;
//     padding: 0 32px 0 40px;

//     .dropdown-toggle::after {
//       display: none;
//     }
//   }

//   .blur {
//     .page-top.scrolled {
//       background-color: rgba(black, 0.85)
//     }
//   }

//   a.al-logo {
//     margin-top: 30px;
//     color: #fff;
//     display: block;
//     font-size: 24px;
//     /*font-family: $font-family;*/
//     white-space: nowrap;
//     float: left;
//     outline: none !important;
//     line-height: 60px;

//     span {
//       color: #fff;
//       /*font-family: $font-family;*/
//       /* font-family: Futura, "Trebuchet MS", Arial, sans-serif; */
//       /* font-family : Brush Script MT, Brush Script Std, cursive; */
//       font-size: 50px;
//       font-style: normal;
//       font-variant: normal;
//       font-weight: 500;
//     }
//   }

//   a.al-logo:hover {
//     color: #fff;
//   }

//   .user-profile {
//     float: right;
//     min-width: 230px;
//     margin-top: 10px;
//   }

//   .al-user-profile {
//     float: right;
//     margin-right: 12px;
//     transition: all .15s ease-in-out;
//     padding: 0;
//     width: 36px;
//     height: 36px;
//     border: 0;
//     opacity: 1;
//     position: relative;
//     ul.profile-dropdown:after {
//       bottom: 100%;
//       right: 0;
//       border: solid transparent;
//       content: " ";
//       height: 0;
//       width: 0;
//       position: absolute;
//       pointer-events: none;
//       border-color: rgba(255, 255, 255, 0);
//       border-bottom-color: #fff;
//       border-width: 10px;
//       margin-right: 28px;
//     }
//     a {
//       display: block;
//     }
//     img {
//       width: 45px;
//       height: 45px;
//       border-radius: 50%;
//     }
//   }

//   a.refresh-data {
//     color: #fff;
//     font-size: 13px;
//     text-decoration: none;
//     /*font-weight: $font-normal;*/
//     float: right;
//     margin-top: 13px;
//     margin-right: 26px;

//     &:hover {
//       color: #fff;
//     }
//   }

//   a.collapse-menu-link {
//     font-size: 31px;
//     cursor: pointer;
//     display: block;
//     text-decoration: none;
//     line-height: 42px;
//     color: #fff;
//     padding: 0;
//     float: left;
//     margin: 11px 0 0 25px;

//     &:hover {
//       text-decoration: none;
//       color: #fff;
//     }
//   }

//   .al-skin-dropdown {
//     float: right;
//     margin-top: 14px;
//     margin-right: 26px;

//     .tpl-skin-panel {
//       max-height: 300px;
//       overflow-y: scroll;
//       overflow-x: hidden;
//     }
//   }

//   .icon-palette {
//     display: inline-block;
//     width: 14px;
//     height: 13px;
//     /*@include bg('theme/palette.png');*/
//     background-size: cover;
//   }

//   .search {
//     text-shadow: none;
//     font-size: 13px;
//     line-height: 25px;
//     transition: all 0.5s ease;
//     white-space: nowrap;
//     overflow: hidden;
//     width: 162px;
//     float: left;
//     margin: 20px 0 0 30px;

//     label {
//       cursor: pointer;
//     }
//     i {
//       width: 16px;
//       display: inline-block;
//       cursor: pointer;
//       padding-left: 1px;
//       font-size: 16px;
//       margin-right: 13px;
//     }
//     input {
//       color:#fff;
//       background: none;
//       border: none;
//       outline: none;
//       width: 120px;
//       padding: 0;
//       margin: 0 0 0 -3px;
//       height: 27px;
//     }
//   }

//   @media screen and (max-width: 100%) {
//     .search {
//       display: none;
//     }
//   }

//   @media screen and (max-width: 200%) {
//     .page-top {
//       padding: 0 20px;
//     }
//   }

//   @media (max-width: 300%) {
//     .user-profile {
//       min-width: 136px;
//     }
//     a.refresh-data {
//       margin-right: 10px;
//     }
//     a.collapse-menu-link {
//       margin-left: 10px;
//     }

//     .al-skin-dropdown {
//       display: none;
//     }
//   }

//   .profile-toggle-link {
//     cursor: pointer;
//   }
// }
// .auth-link1{
//     width: 20%;
//     float: right;
//     margin-top: 50px;
//     /*font-family: $font-family;*/
//     /*font-family: Futura, "Trebuchet MS", Arial, sans-serif;*/
// }

// #labelName {
//   font-size: 22px;
//   /*font-family: $font-family;*/
//   /*font-family: Futura, "Trebuchet MS", Arial, sans-serif;*/
//   text-align: left;
//   display: inline-block;
//   margin-left : 60px;
// }

// h1 {
//   /*font-family: $font-family;*/
//   /*font-family: Futura, "Trebuchet MS", Arial, sans-serif;*/
// }

// a.forgot-pass1{
//   cursor: pointer;
//   /*font-family: $font-family;*/
//   /*font-family: Futura, "Trebuchet MS", Arial, sans-serif;*/
// }

//     .inputVal{
//         display: inline-block;
//         text-align: left;
//         float: right;
//         margin-top:6px;
//     }

// .signIn{
//       margin-top:60px;
//       position: relative;
//       bottom: 0;
// }

// input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
//       background-color: #008899 !important;
// }

// .myDiv{
//   // background-image: url("/assets/images/People1.jpg");
//   background-image: url("/assets/images/admin-background.jpg");
//   background-size: cover;
//   background-position: center;
//   /*opacity: 0.5;*/
//       display: flex;
//     -ms-flex-align: center;
//     align-items: center;
//     height: 100%;
//     width: 100%;
//     position: absolute;
//     background-color: #00BCD4 !important;
// }

// .subDivauth-block{
//   font-weight: 300;
//   /* margin-bottom: 28px; */
//   text-align: center;
//   background-color: #4dcae8;
//   height: 7%;
// }

// .para-auth-block{
//   font-weight: 400;
//   font-size: 15px;
//   padding-top: 9px;
//   text-transform: uppercase;
// }

// .form1{
//   height: 67%;
// }

// .fieldset1{
//   height: 100%;
// }

// .fieldset1Img{
//   width: 70px;
//   margin-top: 7%;
//   margin-bottom: -20%;
//   margin-left: 7%;
//   font-weight: 600;
// }

// .fieldset1Div{
//   margin-left: 8%;
//   margin-top: 24%;
//   margin-bottom: -29%;
// }

// .fieldset1DivP1{
//   font-size: 22px !important;
// }
// .fieldset1DivP2{
//   font-size: 20px !important;
// }

// .fieldset1Div2label{
//   display: none;
// }

// .fieldset1Div2subDiv{
//   width: 100%;
// }

// .fieldset1Div2subDivInput{
//   margin-top: 30%;
//   width: 80%;
//   margin-left: 10%;
//   margin-right: 10%;
//   background-color: #ece0e000 !important;
//   border: none;
//   border-bottom: 3px solid #FFEB3B ;
//   color: #fff;
//   font-size: 15px;
//   border-radius: 0;
// }

// .fieldset1Div3subDivInput{
//   margin-top: 0%;
//   width: 80%;
//   margin-left: 10%;
//   margin-right: 10%;
//   background-color: #ece0e000 !important;
//   border: none;
//   border-bottom: 3px solid #FFEB3B ;
//   color: #fff;
//   font-size: 15px;
//   border-radius: 0;
// }

// .marginTop0{
//   margin-top: 0%;
// }

// .marginTop25px{
//   margin-top: 25px;
// }

// .marginLeft142px{
//   margin-left: 142px;
// }

// .whiteCol{
//   color: #fff;
// }

// .errorDiv{
//   text-align: center;
//   padding: 0;
//   margin-top: 0;
// }

// ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
//     color: #fff;
//     opacity: 1; /* Firefox */
//     font-size:15px;
// }

// :-ms-input-placeholder { /* Internet Explorer 10-11 */
//     color: #fff;
//     font-size:15px;
// }

// ::-ms-input-placeholder { /* Microsoft Edge */
//     color: #fff;
//     font-size:15px;
// }

// .error{
//   margin-left:60px;
// }

// .ng-valid[required], .ng-valid.required  {
//   border-bottom: 3px solid #42A948 !important; /* green */
// }

// /*.ng-invalid:not(form)  {
//   border-bottom: 3px solid #a94442 !important; red
// }*/

//  .ng-dirty .ng-invalid .ng-invalid {
//   border-bottom: 3px solid #a94442 !important; /* red */
// }

// .alert {
//   margin-bottom: 1px;
//   height: 25px;
//   line-height:25px;
//   padding:0px 15px;
// }

// .alert-danger {
//     background-color: transparent;
//     border-color: transparent;
//     color: #a94442;
//     padding-left: 61px;
//     font-weight: 700;
// }

// /*input{
//   border-bottom: 3px solid #FFEB3B ;
// }*/

// button, input, optgroup, select, textarea, p{
//     /*font-family: $font-family;*/
//     /*font-family: ubuntu;*/
// }

// .toggle-password{
//   float: right;
//     margin-right: 53px;
//     margin-top: -28px;
//     font-size: 20px;
// }

// .btn-auth {
//     color: #008899 !important;
//     vertical-align: baseline;
//     background: #ffffff !important;
//     border-color: #ffffff !important;
//     width: 100%;
//     height: 67px;
//     border: none;
//     border-radius: 0;
//     box-shadow: none;
//     font-weight: 600;
//     font-size: 20px;
//     text-transform: uppercase;
//     margin-top: 18px;
// }

// .textCenter{
//   text-align: center;
// }
// }

// New Scss
.form-bg-image {
  background-size: 87%;
  background-repeat: no-repeat;
  background-position: top center;
  background-image: url("../../../assets/signin.svg");
}

.login-inner {
  height: 95vh;
  max-width: 484px;
}

.head {
  margin: 0;
  font-size: 24px;
  color: #454748;
  padding-left: 12px;
}

.input-group-text {
  i {
    width: 12px;
  }
}

.agree {
  font-size: 14px;
}

.change-screen {
  cursor: pointer;
  color: #007bff;
}


.btn-color {
  color: #ffffff;
  background: #1282ce;
}
