@import './@theme/styles/variable.scss';
.mainCard {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(32%, 32%));
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    padding: 20px;
}

.tableCompo {
    padding: 16px 16px 0px;
}

.tablePop {
    height: 300px;
    overflow-X: auto;
    overflow-y: auto;
}

.tableInfinite {
    max-height: 34vw;
    overflow: scroll;
}

.customCard {
    .bottomDiv {
        h2 {
            margin-bottom: 10px !important;
        }
    }
}

.commonTitle {
    // color: #076ba1 !important;
    font-size: 18px;
    color: var(--colorCommon) !important;
}

.MsoNormal,
.jodit_wysiwyg {
    font-size: 12px !important;
    font-family: poppins !important;
    span {
        font-family: poppins !important;
    }
    .jodit_workplace {
        height: 150px !important;
    }
}

.widMult {
    width: 150px;
}

// .jodit_container {
//     min-height: 100px !important;
// }
// .jodit_workplace {
//     height: 150px !important;
// }
// .jodit .jodit_workplace .jodit_wysiwyg,
// .jodit .jodit_workplace .jodit_wysiwyg_iframe,
// .jodit_container .jodit_workplace .jodit_wysiwyg,
// .jodit_container .jodit_workplace .jodit_wysiwyg_iframe {
//     height: 150px !important;
//     width: 100%;
// }
// .jodit_container:not(.jodit_inline) .jodit_workplace {
//     border: 1px solid #ccc;
//     height: 150px !important;
// }

nb-tabset ul li a {
    // padding: 1rem !important;
    padding: 13px 16px 14px 16px !important;
}

nb-tabset ul {
    font-size: 1rem !important;
}

.innerNbtab {
    margin: 16px;
}

.nominationTabset>ul {
    top: 106px !important;
}

.courseTabset>ul {
    background: #fff;
    // border-bottom: 1px solid #076ba1 !important;
    border-bottom: 1px solid var(--colorCommon) !important;
    padding-right: 0;
    position: -webkit-sticky;
    position: sticky;
    top: 106px !important;
    padding-left: 3px !important;
    // z-index: 6;
    z-index: 2;
}

.courseTabset>ul>li.active>a {
    // color: #076ba1 !important;
    color: var(--colorCommon) !important;
    font-weight: 400 !important;
}

.courseTabset>ul>li>a::before {
    // background: #076ba1 !important;
    background: var(--colorCommon) !important;
}

.courseTabset>ul>li>a:hover {
    // color: #076ba1;
    color: var(--colorCommon) !important;
}

.courseTabset>ul>li {
    &.disabled {
        cursor: not-allowed;
        a {
            color: #a4abb3;
            cursor: not-allowed;
            pointer-events: none;
            &:hover {
                color: #a4abb3;
            }
        }
    }
}

// ========================================
.ui-widget-content>.slick-row>.active {
    right: 0px !important;
}

.ui-widget-content .slick-row {
    .active {
        right: 0px !important;
    }
}

.nb-theme-corporate nb-menu .menu-item a.active {
    color: #181818 !important;
    font-weight: 600 !important;
}

.nb-theme-corporate nb-menu .menu-item a:hover,
.nb-theme-corporate nb-menu .menu-item a:active {
    background-color: #e3e9ee !important;
    color: #181818 !important;
    font-weight: 600 !important;
}

input[type="button"]:disabled {
    cursor: not-allowed;
    // background-color: #ff9081;
}

// .nb-theme-corporate nb-menu .menu-item a.active {
//     color: red !important;
// }
.ngx-datatable.fixed-header .datatable-header .datatable-header-inner .datatable-header-cell {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    // text-align: center;
    font-size: 14px;
    color: black;
}

.ngx-datatable.material {
    background: #FFF;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.ngx-datatable.fixed-row .datatable-scroll .datatable-body-row {
    border-bottom: 0.5px solid #e8dedef0;
}

toaster-container {
    position: absolute;
    bottom: 20px;
    min-width: 40%;
    left: 30%;
    border-radius: 10px !important;
    border: 1px;
    z-index: 1500;
    text-align: center;
}

.nb-theme-corporate .toast {
    border-radius: 10px !important;
    min-height: 50px !important;
}

.nb-theme-corporate .toast-close-button {
    font-size: 1.2rem !important;
    border: none !important;
    top: 0px !important;
}

.main-content {
    padding: 0rem !important;
}

.slick-gridmenu-button {
    position: relative !important;
    cursor: pointer;
    right: 0;
    padding: 0 0px !important;
    top: 0;
    float: right !important;
    background-color: transparent;
    cursor: pointer;
    border: 0;
    margin-top: 5px;
    margin-right: 12px !important;
    width: 22px;
    font-size: 19px !important;
}

.slick-headerrow {
    width: 100% !important;
}

.slick-header {
    min-height: 50px !important;
}


/* Center the loader */

#loader {
    position: absolute;
    left: 50%;
    top: 52%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    // border: 16px solid #076ba1;
    border: 16px solid var(--colorCommon);
    border-radius: 50%;
    border-top: 16px solid #ffffff;
    /* border: 16px solid #f3f3f3; Light grey */
    /* border-top: 16px solid #3498db; Blue */
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

.loaderBackdrop {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0;
    background-color: #404040c2;
    z-index: 10000;
    #loader {
        position: fixed;
        margin: auto;
        left: 50%;
        top: 50%;
        z-index: 1;
        width: 150px;
        height: 150px;
        /* margin: -75px 0 0 -75px; */
        // border: 16px solid #076ba1;
        border: 16px solid var(--colorCommon);
        border-radius: 50%;
        border-top: 16px solid #ffffff;
        width: 120px;
        height: 120px;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
    }
}

.logoHeader {
    padding-left: 0px !important;
}

.dashboardWidgets {
    padding: 15px;
}


/* .btnPad0  {
  padding: 0px !important;
} */

.nb-theme-corporate .btn {
    padding: 0.375rem 0.75rem !important;
    /*line-height: 0 !important;*/
}

.nb-theme-corporate .form-control {
    padding: 0.375rem 0.75rem;
}

// .form-control:focus {
// box-shadow: none !important;

/*border: none !important;*/

// }

/*.nb-theme-corporate select.form-control:not([size]):not([multiple]) {
  height: 2.5rem !important;
}*/

.nb-theme-corporate select.form-control:focus {
    border: 1px solid #dadfe6 !important;
}

.nb-theme-corporate .form-control {
    border: 1px solid #dadfe6;
}


/*nb-layout-footer {
  display: none;
}*/

.tabset>ul>li>a {
    line-height: 3 !important;
}

.sticky-top {
    position: sticky;
    position: -webkit-sticky;
    top: 67px;
    z-index: 1030;
}

.toprow {
    border: none;
    background-color: #ffffff;
    height: auto;
    width: 100%;
    display: inline-flex;
}

.h3lable {
    margin-top: 11.5px;
}

.usersTab>.tabset>ul {
    top: 0px !important;
}

.slick-viewport {
    overflow: scroll !important;
}

.slick-viewport::-webkit-scrollbar {
    height: 30px !important;
}

.nodata {
    height: 100%;
    font-size: 24px;
    text-align: center;
    vertical-align: middle;
    margin: 18% auto !important;
}

.backcombut {
    height: 36px;
    float: right;
    color: #ffffff;
    //  text-transform: uppercase;
    letter-spacing: 0.4px;
    font-weight: 500;
    border: 2px solid transparent;
    -webkit-transition: none;
    transition: none;
    cursor: pointer;
    padding: 0.6rem 1rem;
    font-size: 1rem;
    line-height: 1.25;
    background: #076ba1;
}

.constantBackbtn {
    width: auto !important;
    border: none;
    padding: 6px 14px !important;
    background-color: #bbc0c3 !important;
    color: #fff !important;
    //   text-transform: uppercase !important;
    min-width: 90px !important;
    // max-height: 29px !important;
    max-height: 36px !important;
    text-transform: uppercase;
    height: 32px;
}

.constantbtn {
    width: auto !important;
    border: none;
    padding: 6px 14px !important;
    background-color: var(--colorCommon) !important;
    color: #fff !important;
    text-transform: capitalize !important;
    min-width: 90px !important;
    // max-height: 29px !important;
    // max-height: 36px !important;
    // height: 32px;
    height: auto;
    &:disabled {
        cursor: not-allowed !important;
        background-color: #048ad24a !important;
    }
}

// .constantbtn:disabled {
//     cursor: not-allowed !important;
//     background-color: #82b7e5 !important;
// }
.flotlefttop {
    float: left;
    margin: 5px;
    height: 36px;
    padding: 0;
}

.ngxmdp .ngxmdpicon:before {
    font-family: ngx-mydatepicker !important;
}

.floteright {
    float: right;
    font-size: 13px;
    background-color: #fff;
}

#editbtn {
    margin: 0 10px;
    border-radius: 0;
    // background: #076ba1 !important;
    // color: #fff;
    // border: #076ba1;
    height: 32px;
    // color: #ffffff;
    // background-color: #bbc0c3;
    background-image: none;
    // border-color: #076ba1;
    -webkit-transform: none;
    transform: none;
    background-color: var(--colorBgbtn) !important;
    color: var(--colorBtnTxt) !important;
    border: 1px solid var(--colorBtnTxt) !important;
    //    text-transform: uppercase;
}

.optbtnNewAdd,
.optbtnNewSubmit {
    border-radius: 0;
    background: #076ba1;
    color: #fff;
    border: #076ba1;
    height: 32px;
    -webkit-transform: none !important;
    transform: none !important;
    //   text-transform: uppercase;
}

.optbtnNewAdd:disabled,
.optbtnNewSubmit:disabled {
    cursor: not-allowed;
    background-color: #ff9081;
}

.alert {
    margin-bottom: 1px !important;
    // height: 25px !important;
    line-height: 25px !important;
    padding: 0px 15px !important;
}

.alert-danger {
    background-color: #ffffff !important;
    border-color: #ffffff !important;
    color: #a94442 !important;
    width: 100%;
}

.pad14px {
    padding: 12px;
}

.pointer {
    cursor: pointer;
}

button[disabled],
html input[disabled] {
    cursor: not-allowed;
}

.mydp .icon:before {
    font-family: mydatepicker !important;
}

.disablespa {
    cursor: not-allowed !important;
}

.disableli {
    pointer-events: none !important;
}

.loading:not(:required) {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.loading {
    position: fixed;
    z-index: 9999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.loading:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.loading:not(:required):after {
    content: '';
    display: block;
    font-size: 10px;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    /*-webkit-animation: spinner 1500ms infinite linear;
    -moz-animation: spinner 1500ms infinite linear;
    -ms-animation: spinner 1500ms infinite linear;
    -o-animation: spinner 1500ms infinite linear;
    animation: spinner 1500ms infinite linear;
    border-radius: 0.5em;
    -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
    box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;*/
}

// .nb-theme-corporate select.form-control:not([size]):not([multiple]) {
//   height: 19% !important;
// }
bs-datepicker-container,
bs-daterangepicker-container {
    z-index: 2080;
}


/* The custom radio */

.customRadio {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}


/* Hide the browser's default radio button */

.customRadio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}


/* Create a custom radio button */

.customCheckRound {
    position: absolute;
    top: 6px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    // border-color:#f8204f;
    border-color: #076ba1;
    border-style: solid;
    border-width: 2px;
    border-radius: 50%;
}


/* When the radio button is checked, add a blue background */

.customRadio input:checked~.customCheckRound {
    background-color: #fff;
}


/* Create the indicator (the dot/circle - hidden when not checked) */

.customCheckRound:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the indicator (dot/circle) when checked */

.customRadio input:checked~.customCheckRound:after {
    display: block;
}


/* Style the indicator (dot/circle) */

.customRadio .customCheckRound:after {
    left: 2px;
    top: 2px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    // background: #f8204f;
    background: #076ba1;
}

.deleteModalBackdrop,
.existingModalBackdrop,
.enableDisableModalBackdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1503;
    background-color: #404040c2;
    .deleteModal,
    .existingModal,
    .enableDisableModal {
        // width: 50%;
        width: 30%;
        margin: auto;
        background-color: #fff;
        margin-top: 65px;
        border-radius: 5px;
    }
}

.deleteModalBtn,
.existingModalBtn,
.enableDisableModalBtn {
    width: auto !important;
    border: none;
    padding: 6px 14px !important;
    // background-color: #076ba1 !important;
    background-color: var(--colorBgbtn);
    // color: #fff !important;
    color: var(--colorBtnTxt);
    //  text-transform: uppercase !important;
    /* min-width: 90px !important; */
    max-height: 36px !important;
    // max-height: 29px !important;
}

.deleteModalHeader,
.existingModalHeader,
.enableDisableModalHeader {
    /* padding: 8px; */
    background: #076ba1;
    color: #fff !important;
}

.deleteModalHeaderP,
.existingModalHeaderP,
.enableDisableModalHeaderP {
    margin-bottom: 0;
}

.deleteModalBodyP,
.existingModalBodyP,
.enableDisableModalBodyP {
    // margin-bottom: 0;
    color: #000;
}

.closeDeleteModalBtn,
.closeExistingModalBtn,
.closeEnableDisableModalBtn {
    color: #fff !important;
}

.deleteModalFooter,
.existingModalFooter,
.enableDisableModalFooter {
    padding: 10px;
}

.inputText:focus {
    border: 1px solid #dadfe6 !important;
    background-color: #ffffff;
}

.card-footer-main {
    // height: 50px;
    padding: 0;
}

.card-footer-sub {
    // height: 50px;
    // padding: 0;
    text-align: center;
    // margin: 10px 0;
    padding: 10px 0;
    border-right: 1px solid #EEE;
}

.card-footer-icon {
    font-size: 15px;
    margin: 1px 10px;
    // color: #2795d0;
    color: var(--colorIcons);
}

.noDataDiv {
    width: 100%;
    height: 100%;
    .noDataImg {
        width: 100%;
        height: 100%;
    }
}

.constimg {
    // width: 274px;
    // height: 126px;
    // width: 274px !important;
    height: 126px !important;
}

.constDesc {
    // height: 50px
    height: 50px !important;
}

.dropdown-menu-ul {
    background-color: #2574a2;
    /* position: absolute!important; */
    padding: 0;
    text-align: center;
    top: 25px!important;
    // width: 150px !important;
    z-index: 2000;
    // width: 10em !important;
    background-color: transparent !important;
    // border: 1px solid #313daa !important;
    // color: #313daa !important;
    // padding: 0;
    // text-align: center;
    // top: 23px !important;
    // z-index: 2000;
    // float: right !important;
    // right: 0 !important;
}

// .nb-theme-corporate .dropdown-item1:hover, .nb-theme-corporate .dropdown-item1:focus {
//     background-color: transparent !important;
// }
// .dropdown-menu>li>a {
//     color: #313daa !important;
// }
.reqFieldActivity {
    display: inline;
    color: #ed462f !important;
    font-size: 16px;
    margin: 0;
    font-weight: 100 !important;
    top: -0.1em !important;
}

.alert-danger {
    font-size: 0.85rem !important;
    color: #ed462f !important;
    font-family: Poppins !important;
    padding: 0 !important;
}

.courseDetailsBtn,
.courseModuleBtn,
.courseEnrolBtn,
.courseEngageBtn,
.courseRewardsBtn {
    border-radius: 0;
    background: #076ba1;
    color: #fff;
    border: #076ba1;
    height: 29px;
    -webkit-transform: none !important;
    transform: none !important;
    margin-right: 5px !important;
}


/*************************BREADCRUMBS************************************/


/** The Magic **/

.btn-breadcrumb1 .btn:not(:last-child):after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    border-left: 10px solid white;
    position: absolute;
    top: 50%;
    margin-top: -17px;
    left: 100%;
    z-index: 3;
}

.btn-breadcrumb1 .btn:not(:last-child):before {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    border-left: 10px solid rgb(173, 173, 173);
    position: absolute;
    top: 50%;
    margin-top: -17px;
    margin-left: 1px;
    left: 100%;
    z-index: 3;
}


/** The Spacing **/

.btn-breadcrumb1 .btn {
    padding: 6px 12px 6px 24px;
}

.btn-breadcrumb1 .btn:first-child {
    padding: 6px 6px 6px 10px;
}

.btn-breadcrumb1 .btn:last-child {
    padding: 6px 18px 6px 24px;
}


/** Primary button **/

.btn-breadcrumb1 .btn.btn-primary1:not(:last-child):after {
    border-left: 10px solid #428bca;
}

.btn-breadcrumb1 .btn.btn-primary1:not(:last-child):before {
    border-left: 10px solid #357ebd;
}

.btn-breadcrumb1 .btn.btn-primary1:hover:not(:last-child):after {
    border-left: 10px solid #3276b1;
}

.btn-breadcrumb .btn.btn-primary1:hover:not(:last-child):before {
    border-left: 10px solid #285e8e;
}

.btn-primary1 {
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
}

.btn-primary1:hover {
    color: #fff;
    background-color: #3276b1;
    border-color: #285e8e;
}

.breadcrumbDiv {
    color: #fff !important;
}

.firstChild {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    cursor: pointer !important;
}

.midChild {
    cursor: pointer !important;
}

.lastChild {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    // background-color: #3276b1 !important;
    background-color: var(--colorCommon) !important;
}

.breadcrumbActToolbarDiv {
    padding-left: 20px;
    padding-right: 20px;
}

.mrgn10 {
    margin: 15px 0 !important;
}

.menu_icon_size {
    font-size: 20px !important;
}

.menu-item .menu-icon {
    font-size: 20px !important;
}

.menu-item a .menu-title {
    font-size: 13px;
}

.nb-theme-corporate nb-layout ::-webkit-scrollbar {
    width: 15px;
    height: 5px;
}

.testClass {
    margin-top: 35px;
    margin-bottom: 30px;
}

mat-radio-button {
    margin-right: 10px;
}

.mat-radio-inner-circle {
    // background-color: #507bfc !important;
    background-color: var(--colorCommon) !important;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: var(--colorCommon) !important;
}

.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
    color: var(--colorCommon) !important;
}

.mat-primary .mat-pseudo-checkbox-checked {
    background: var(--colorCommon) !important;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: var(--colorCommon) !important;
}

.mat-placeholder-required {
    color: #ed462f !important;
}

.ttt_form_field_style {
    font-size: 12px !important;
    padding: 10px !important;
}

star-rating:focus {
    outline: none;
}

.rating :focus {
    outline: none;
}

.jodit_button {
    color: #212529 !important;
}

.jodit_dialog_footer .jodit_button_primary {
    color: #FFF !important;
}

.overflow_scroll_cards_container {
    overflow-y: auto;
    height: calc(100vh - 7.8rem);
}

// .ngx-charts{
//     .bar{
//         fill: var(--colorCommon);
//     }
// }
.modal-header,
.modal-header-1 {
    background-color: var(--colorCommon) !important;
}

.ngx-pagination .current {
    background-color: var(--colorCommon) !important;
}

.ngx-pagination a:hover {
    color: var(--colorCommon) !important;
}

.content_main_parent_div .listheadings {
    border-bottom: 0.5px solid var(--colorCommon) !important;
}

.content_main_parent_div .listLabel {
    color: var(--colorCommon) !important;
}

.module_container .modAct li .treeIcon {
    border: 2px solid var(--colorIcons) !important;
    color: var(--colorIcons) !important;
}

.module_container .addActBtn {
    border: 1px solid var(--colorIcons) !important;
    color: var(--colorIcons) !important;
}

.module_container .card .card-body .topEditHead,
.content_main_parent_div .filterLength,
.enrolment .manualTitle,
.rewrds_course .cardTitle,
.cardTitle,
.card-title,
.add_edit_survey .surveyTabset>ul>li>a::before,
.add_edit_pole .pollTabset>ul>li>a::before {
    // background: var(--colorCommon) !important;
}

.content_main_parent_div .checkmarkDiv,
.Nomodule,
.noQuestions,
.pagination li.active {
    border: 1px solid var(--colorCommon) !important;
}

.content_main_parent_div .checkContainer1 .checkmarkDiv:after {
    left: 6px !important;
    top: 0px !important;
    width: 6px !important;
    height: 12px !important;
    border: solid var(--colorCommon) !important;
    border-width: 0 2px 2px 0 !important;
    -webkit-transform: rotate(45deg) !important;
    transform: rotate(45deg) !important;
}

.course_main_container .glyphicon-move:before,
.add_edit_survey .surveyTabset>ul>li.active>a,
.add_edit_pole .pollTabset>ul>li.active>a {
    color: var(--colorCommon) !important;
}

.course_main_container .sqrCheckBox input[type="checkbox"]:checked+.sqrCheckBoxLabel,
.add_edit_survey .sqrCheckBox input[type="checkbox"]:checked+.sqrCheckBoxLabel {
    border-color: var(--colorCommon) !important;
}

.icon_upload_image,
.icon_delete,
.glyphicon-move:before,
.glyphicon-sort:before {
    color: var(--colorIcons) !important;
}

.openDatepicker,
.divcalicon,
.cal_icon,
.nominationcalenderIcon {
    background: var(--colorIcons) !important;
}

.divcalicon {
    height: 34px !important;
    line-height: 30px !important;
}

.copybtn {
    background-color: var(--colorBgbtn) !important;
    color: var(--colorBtnTxt) !important;
    border: 1px solid var(--colorBtnTxt) !important;
}

.treeIcon {
    border: 2px solid var(--colorIcons) !important;
    color: var(--colorIcons) !important;
}

.addActBtn {
    border: 1px solid var(--colorIcons) !important;
    color: var(--colorIcons) !important;
}

.treeIcon:hover,
.addActBtn:hover {
    background-color: #fff !important;
}

.add_edit_survey .sqrCheckBox .sqrCheckBoxLabel:after {
    // border: 2px solid var(--colorCommon) !important;
    border-top: none;
    border-right: none;
    content: "";
    height: 4px;
    left: 1.5px;
    opacity: 0;
    position: absolute;
    top: 4px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    width: 12px;
}

.pure-checkbox input[type="checkbox"]+label:before {
    color: var(--colorCommon) !important;
    border: 2px solid var(--colorCommon) !important;
}

.pure-checkbox input[type="checkbox"]+label:after,
.pure-checkbox input[type="checkbox"]:checked+label:before {
    background-color: var(--colorCommon) !important;
}

timepicker .btn {
    color: var(--colorIcons) !important;
}

.subBttn {
    padding: 6px 10px;
    border: none;
    margin-left: 10px;
    font-size: 14px;
    border-radius: 3px;
    background: var(--colorBgbtn) !important;
    color: var(--colorBtnTxt) !important;
    border: 1px solid var(--colorBtnTxt) !important;
    outline: none;
    text-transform: capitalize;
    transition: 0.4s ease-in-out;
    // &:hover {
    //     background: var(--colorBtnTxt);
    //     color: var(--colorBgbtn);
    //     border: 1px solid var(--colorBgbtn);
    // }
}

.backBttn {
    padding: 5px 10px;
    color: var(--colorBgbtn) !important;
    background: var(--colorBtnTxt) !important;
    border: 1px solid var(--colorBgbtn) !important;
    &:hover {
        color: var(--colorBtnTxt) !important;
        background: var(--colorBgbtn) !important;
    }
}

// .commonpadding{
//     padding: 16px !important;
// }