<!-- <mat-card class="mycrd">
    <div class="row header167">
        <div class="col-12">
            <input type="text" class="searchin" placeholder="&#xf002;   Search" [(ngModel)]="person">
        </div>
    </div>
  <div class="scrollable-table">
      <table mat-table [dataSource]="assessments" class="assesstable">

          <ng-container matColumnDef="participants" sticky>
            <th mat-header-cell *matHeaderCellDef *ngFor="let datakeys of listData[0] | keys"> {{datakeys}} </th>
            <td mat-cell *matCellDef="let element"> {{element.participants}} </td>
          </ng-container>
      
          <ng-container matColumnDef="question1">
            <th mat-header-cell *matHeaderCellDef> Question 1 </th>
            <td mat-cell *matCellDef="let element"> {{element.question1}} </td>
          </ng-container>
      
          <ng-container matColumnDef="question2">
            <th mat-header-cell *matHeaderCellDef> Question 2 </th>
            <td mat-cell *matCellDef="let element"> {{element.question2}} </td>
          </ng-container>
    
          <ng-container matColumnDef="question3">
              <th mat-header-cell *matHeaderCellDef> Question 3 </th>
              <td mat-cell *matCellDef="let element"> {{element.question3}} </td>
          </ng-container>
    
          <ng-container matColumnDef="question4">
              <th mat-header-cell *matHeaderCellDef> Question 4 </th>
              <td mat-cell *matCellDef="let element"> {{element.question4}} </td>
          </ng-container>
    
          <ng-container matColumnDef="question5">
              <th mat-header-cell *matHeaderCellDef> Question 5 </th>
              <td mat-cell *matCellDef="let element"> {{element.question5}} </td>
          </ng-container>
    
          <ng-container matColumnDef="question6">
              <th mat-header-cell *matHeaderCellDef> Question 6 </th>
              <td mat-cell *matCellDef="let element"> {{element.question6}} </td>
          </ng-container>
    
          <ng-container matColumnDef="question7">
              <th mat-header-cell *matHeaderCellDef> Question 7 </th>
              <td mat-cell *matCellDef="let element"> {{element.question7}} </td>
          </ng-container>
    
          <ng-container matColumnDef="question8">
              <th mat-header-cell *matHeaderCellDef> Question 8 </th>
              <td mat-cell *matCellDef="let element"> {{element.question8}} </td>
          </ng-container>
      
          <ng-container matColumnDef="question9">
            <th mat-header-cell *matHeaderCellDef > Question 9 </th>
            <td mat-cell *matCellDef="let element"> {{element.question9}} </td>
          </ng-container>
    
          <ng-container matColumnDef="question10">
              <th mat-header-cell *matHeaderCellDef > Question 9 </th>
              <td mat-cell *matCellDef="let element"> {{element.question9}} </td>
          </ng-container>
    
          <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
        </table>
  </div>
 
  
  </mat-card> -->

 
    <div class="stickyrow">
        <div class="trainerheader mt-2">
            <div >
                <div class="backIcon" (click)="goBack()">
                    <i class="fas fa-chevron-left"></i>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="!noAssessmentData">
        <div class="scrollable-table">
            <table class="assesstable">
                <thead>
                    <tr>
                        <th *ngFor="let datakeys of objKeys" class="" [title]="datakeys ">{{ makeAssementData(datakeys) }}</th>
                    </tr>
                </thead>
        
        
                <tr *ngFor="let datavalues of participants" class="rowData">
                    <td *ngFor="let item of Object.values(datavalues)">
                        {{item}}
                    </td>
                </tr>
            </table>
        
        </div>
    </div>
    
  




    <div *ngIf="noAssessmentData" class="no_data_found">
        Data not Found
     </div>
