<div class="add_attr_skill">

    <div class="toprow col-md-12 bottom15 sticky-top">
        <div class="col-md-6 teamSubdiv2" >
          <h3 class="heding1">Add Attribute Skills</h3>
        </div>
        <div class="col-md-6 text-right ">  
          <button class="constantbtn-button-blue-left " (click)="onSubmit()">Save</button>    
          <button class="constantbtn-button-blue-right" (click)="goBack()" >back</button>    
        </div>
      </div>
      
      <div class="wrapit">
      <div class="accordion1">
          <div class="card ">
              <div class="card-body padding0">
                <div class="headerCard">
                  <h5 class="cardTitle card-title">
                    <div class="AccPointer" data-toggle="collapse" data-target="#collapse1" aria-controls="collapse1">Department Band Map</div>
                  </h5> 
                </div>
                  <div id="collapse1" class="collapse" aria-labelledby="collapse1" data-parent="#accordionExample">
                
                      <form [formGroup]="registerForm" class="myForm">
                        <div class="row col-md-12 marTop">
                          <div class="col-md-6">
                            <div class="form-group">
                                  <label class='noWeight'>BUSINESS</label>
                                  <input type="text" formControlName="business" class="form-control inputText" [(ngModel)]="DBM.business" [ngClass]="{ 'is-invalid': submitted && f.business.errors }" />
                                  <div *ngIf="submitted && f.business.errors" class="invalid-feedback">
                                      <div *ngIf="f.business.errors.required">Business is required</div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                                  <label class='noWeight'>DEPARTMENT</label>
                                  <input type="text" formControlName="department" class="form-control inputText" [(ngModel)]="DBM.department" [ngClass]="{ 'is-invalid': submitted && f.department.errors }" />
                                  <div *ngIf="submitted && f.department.errors" class="invalid-feedback">
                                      <div *ngIf="f.department.errors.required">Department is required</div>
                                  </div>
                              </div>
                          </div>
                        </div>
                        <div class="row col-md-12 marTop">
                          <div class="col-md-6">
                            <div class="form-group">
                                  <label class='noWeight'>SUB-DEPARTMENT</label>
                                  <input type="text" formControlName="subdepartment" class="form-control inputText" [(ngModel)]="DBM.subdepartment" [ngClass]="{ 'is-invalid': submitted && f.subdepartment.errors }" />
                                  <div *ngIf="submitted && f.subdepartment.errors" class="invalid-feedback">
                                      <div *ngIf="f.subdepartment.errors.required">Sub-Department is required</div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                                  <label class='noWeight'>BAND</label>
                                  <input type="text" formControlName="band" class="form-control inputText" [(ngModel)]="DBM.band" [ngClass]="{ 'is-invalid': submitted && f.band.errors }" />
                                  <div *ngIf="submitted && f.band.errors" class="invalid-feedback">
                                      <div *ngIf="f.band.errors.required">Band is required</div>
                                  </div>
                              </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
      
          <div class="accordion2">
            <div class="card ">
              <div class="card-body padding0">
                <div class="headerCard">
                  <h5 class="cardTitle card-title">
                    <div class="AccPointer" data-toggle="collapse" data-target="#collapse2" aria-controls="collapse2">Add Attributes and Skills</div>
                  </h5> 
              </div>
              <div id="collapse2" class="collapse" aria-labelledby="collapse2" data-parent="#accordionExample">
               <div class="row alignright">
                <button class="constantbtn-button-blue-left" (click)="addAttr()">+ ATTRIBUTE</button>               
              </div>
                
                <form [formGroup]="registerForm" class="myForm">
                  <div *ngFor='let item of addEditAttr;index as i'>
                    <div class="row col-md-12 marTop  justify-content-end" *ngFor='let element of item'>
                          <div class="col-md-3" *ngIf="element.display!=false">
                            <div class="form-group">
                                    <label class='noWeight'>ATTRIBUTE</label>
                                    <input type="text" formControlName="attribute" class="form-control inputText" [(ngModel)]="element.attribute" [ngClass]="{ 'is-invalid': submitted && f.attribute.errors }" />
                                    <div *ngIf="submitted && f.attribute.errors" class="invalid-feedback">
                                        <div *ngIf="f.attribute.errors.required">Attribute is required</div>
                                    </div>
                                </div>
                          </div>
                          <div class="col-md-3">
                            <div class="form-group">
                                    <label class='noWeight'>SKILL</label>
                                    <input type="text" formControlName="skill" class="form-control inputText" [(ngModel)]="element.skill" [ngClass]="{ 'is-invalid': submitted && f.skill.errors }" />
                                    <div *ngIf="submitted && f.skill.errors" class="invalid-feedback">
                                        <div *ngIf="f.skill.errors.required">Skill is required</div>
                                    </div>
                                </div>
                          </div>
                          <div class="col-md-3">
                            <div class="form-group">
                                    <label class='noWeight'>DESCRIPTION</label>
                                    <input type="text" formControlName="description" class="form-control inputText" [(ngModel)]="element.description" [ngClass]="{ 'is-invalid': submitted && f.description.errors }" />
                                    <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                                        <div *ngIf="f.description.errors.required">Description is required</div>
                                    </div>
                                </div>
                          </div>
                          <div class="col-md-3">
                            <div class="form-group">
                                    <label class='noWeight'>STATUS</label>
                                    <!-- <input type="text" formControlName="status" class="form-control" [(ngModel)]="element.status" [ngClass]="{ 'is-invalid': submitted && f.status.errors }" /> -->
                                    <select formControlName="status"[(ngModel)]="element.status"  class="form-control select_field_height inputText" [ngClass]="{ 'is-invalid': submitted && f.status.errors }" >
                          <option *ngFor="let stat of status" [value]="stat.id">{{stat.label}}</option>
                        </select>
                                    <div *ngIf="submitted && f.status.errors" class="invalid-feedback">
                                        <div *ngIf="f.status.errors.required">Status is required</div>
                                    </div>
                                </div>
                          </div>
                        </div>
                        <div class="row skillbtn justify-content-end">
                          <button class="constantbtn-button-blue-left" (click)="addSkill(i)">+ Skill</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
          </div>
      </div>
</div>
