.add_attr_skill{


.heding1{
    line-height: 50px;
    margin: auto;
  }

  .floatingbtn{
    margin: auto;
    padding: 0;
    text-align: right;
  }

    
  .mainDiv{
    margin: 0 15px;
  }

  .bottom15{
    margin-bottom: 15px;
  }
  
.cellpointr{
    cursor: pointer;
}

  .sticky-topEnroll {
    position: sticky;
      top: 66px;
      /*z-index: 1090;*/
      z-index: 1040;
  }
  .teamSubdiv2 {
    float: left;
  }
  
  .floterightbtn {
    float: right;
  }

  .plusIcon{
    margin-right: 8px;
  }

  .mr20{
    margin-left: 20px;
  }

  .dropHeight {
    height: 2.5rem !important;
}


.noWeight{
font-weight: normal !important;
text-transform: capitalize;
}

.marTop{
width: 100%;
margin: auto;
margin-top: 20px;
}

.padding0{
  padding: 0;
}

.headerCard{
  display:inline-block;
  // display: inline-flex;
  // display: inherit;
  width:100%;
}

.cardTitle {
  background: #076ba1;
  color: #ffff !important;
  padding: 10px;
  margin-bottom: 0;
  margin-top: 0;
  width: 100%;
  }

  .wrapit{
    margin: 15px;
    background: #fff;
    margin-top: 65px;
    padding: 20px;
  }

  .certTitleLabel{
    font-size: 15.75px;
    font-weight: 600;
  }

  .AccPointer{
    cursor: pointer;
  }

  .alignright{
    margin: 10px;
    text-align: right;
  }

  .accordion1{
    margin-bottom: 20px;
  }

  [data-toggle="collapse"] i:before{
    content: "\f139";
}

[data-toggle="collapse"].collapsed i:before{
    content: "\f13a";
}


.skillbtn{
width: 100%;
margin: auto;
padding: 30px;
}

.form-control{
box-shadow: none;
}

.myForm{
  color: black;
}

}