<div class="pricing6 py-5 bg-light">
  <div class="container">
    <div class="row justify-content-center mb-3">
      <div class="col-md-6 text-center">
        <div class="d-inline-flex w-100 justify-content-center">
          <!-- <button (click)="goToLogin()" class="align-self-center btn btn-info-gradiant common_button border-0 text-white pl-4 pr-4 pt-2 pb-2 mr-3">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
          </button> -->
          <div class="text-left">
            <h3 class="mb-2">
              <b>
                Choose your desired plan
              </b>
            </h3>
            <h3 class="text-center"><b>& get started</b></h3>
            <!-- <h6 class="subtitle font-weight-normal">We offer 100% satisafaction and Money back Guarantee</h6> -->
          </div>

        </div>


      </div>
    </div>
    <!-- row  -->
    <div class="row justify-content-center" *ngIf="!noPlansFound">
      <!-- column  -->
      <div class="col-md-6" *ngFor="let price of priceList">
        <div class="card card-shadow border-0 mb-4">
          <div class="card-body p-4">
            <div class="d-flex align-items-center">
              <h5 class="font-weight-medium mb-0">{{price?.name}}</h5>
              <div class="ml-auto">
                <!-- <span class="badge badge-danger font-weight-normal p-2">Popular</span> -->
              </div>
            </div>
            <hr>

            <div class="row">
              <div class="col-md-12">

                <p>
                  {{price?.description}}
                </p>

              </div>
            </div>

            <!-- <div class="row">
              <div class="col-lg-5 text-center align-self-center">
                <div class="price-box my-3">
                  <sup>Rs.</sup><span class="text-dark display-5">{{price?.cost}}</span>
                  <h6 class="font-weight-light">MONTHLY</h6>

                </div>
              </div>
             </div>-->
             <div class="row">
              <div class="col-lg-12 align-self-center">
                <ul class="list-inline mb-0 font-14 font-weight-medium text-dark">
                  <li class="py-2"  *ngFor="let feature of price?.featureList"><i class="fas fa-check text-info mr-2"></i> <span>{{feature}} </span></li>
                  <!-- <li class="py-2"><i class="fas fa-check text-info mr-2"></i> <span>Dedicated Trainer</span></li>
                  <li class="py-2"><i class="fas fa-check text-info mr-2"></i> <span>Diet Plan Included </span></li>
                  <li class="py-2"><i class="fas fa-check text-info mr-2"></i> <span>Morning and Evening Batches</span></li> -->
                </ul>
              </div>
             </div>


            <hr>
            <div class="row">
              <div class="col-md-12">

                <button (click)="goToSignUp(price)" class="btn btn-info-gradiant common_button border-0 text-white p-2 mt-3">
                  Get Plan
                </button>

              </div>
            </div>
          </div>
        </div>

      </div>
      <!-- <div class="col-md-6" *ngFor="let price of priceList">
        <div class="card card-shadow border-0 mb-4">
          <div class="card-body p-4">
            <div class="d-flex align-items-center">
              <h5 class="font-weight-medium mb-0">{{price?.name}}</h5>
              <div class="ml-auto"><span class="badge badge-danger font-weight-normal p-2">Popular</span></div>
            </div>
            <hr>
            <div class="row">
              <div class="col-lg-5 text-center align-self-center">
                <div class="price-box my-3">
                  <sup>Rs.</sup><span class="text-dark display-5">{{price?.cost}}</span>
                  <h6 class="font-weight-light">MONTHLY</h6>

                </div>
              </div>
              <div class="col-lg-7 align-self-center">
                <ul class="list-inline pl-3 font-14 font-weight-medium text-dark">
                  <li class="py-2"><i class="fas fa-check text-info mr-2"></i> <span>6 Days a Week </span></li>
                  <li class="py-2"><i class="fas fa-check text-info mr-2"></i> <span>Dedicated Trainer</span></li>
                  <li class="py-2"><i class="fas fa-check text-info mr-2"></i> <span>Diet Plan Included </span></li>
                  <li class="py-2"><i class="fas fa-check text-info mr-2"></i> <span>Morning and Evening Batches</span></li>
                </ul>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-12">
                <p>
                  {{price?.description}}
                </p>
                <button (click)="goToSignUp(price)" class="btn btn-info-gradiant common_button border-0 text-white p-3 mt-3">
                  Choose Plan
                </button>

              </div>
            </div>
          </div>
        </div>

      </div> -->
      <!-- column  -->
      <!-- column  -->
      <!-- <div class="col-md-6">
        <div class="card card-shadow border-0 mb-4">
          <div class="card-body p-4">
            <div class="d-flex align-items-center">
              <h5 class="font-medium m-b-0">Advanced Plan</h5>
            </div>
            <div class="row">
              <div class="col-lg-5 text-center">
                <div class="price-box my-3">
                  <sup>$</sup><span class="text-dark display-5">368</span>
                  <h6 class="font-weight-light">YEARLY</h6>

                </div>
              </div>
              <div class="col-lg-7 align-self-center">
                <ul class="list-inline pl-3 font-14 font-weight-medium text-dark">
                  <li class="py-2"><i class="fas fa-check text-info mr-2"></i> <span>6 Days a Week </span></li>
                  <li class="py-2"><i class="fas fa-check text-info mr-2"></i> <span>Dedicated Trainer</span></li>
                  <li class="py-2"><i class="fas fa-check text-info mr-2"></i> <span>Diet Plan Included </span></li>
                  <li class="py-2"><i class="fas fa-check text-info mr-2"></i> <span>Morning and Evening Batches</span></li>
                </ul>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis atque assumenda magnam nam repudiandae sunt libero neque optio quod alias ipsa, eaque at, dignissimos reiciendis debitis dolorem, magni cum eveniet.</p>
                <a class="btn btn-info-gradiant border-0 font-14 text-white p-3 btn-block mt-3" href="#">CHOOSE PLAN </a>
              </div>
            </div>
          </div>
        </div>
      </div> -->
      <!-- column  -->
    </div>

    <ngx-no-data [config]="noDataVal" *ngIf="noPlansFound"></ngx-no-data>
  </div>
</div>
