// section.pricing {
//   background: #007bff;
//   height: 100%;
//   min-height: 100vh;
//   background: linear-gradient(to right, #0062E6, #33AEFF);
// }

// .pricing .card {
//   border: none;
//   border-radius: 1rem;
//   transition: all 0.2s;
//   box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
// }

// .pricing hr {
//   margin: 1.5rem 0;
// }

// .pricing .card-title {
//   margin: 0.5rem 0;
//   font-size: 0.9rem;
//   letter-spacing: .1rem;
//   font-weight: bold;
// }

// .pricing .card-price {
//   font-size: 3rem;
//   margin: 0;
// }

// .pricing .card-price .period {
//   font-size: 0.8rem;
// }

// .pricing ul li {
//   margin-bottom: 1rem;
// }

// .pricing .text-muted {
//   opacity: 0.7;
// }

// .pricing .btn {
//   font-size: 80%;
//   border-radius: 5rem;
//   letter-spacing: .1rem;
//   font-weight: bold;
//   padding: 1rem;
//   opacity: 0.7;
//   transition: all 0.2s;
// }

// /* Hover Effects on Card */

// @media (min-width: 992px) {
//   .pricing .card:hover {
//     margin-top: -.25rem;
//     margin-bottom: .25rem;
//     box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
//   }
//   .pricing .card:hover .btn {
//     opacity: 1;
//   }
// }


// @import url(//fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800);
.pricing6 {
  // font-family: "Montserrat", sans-serif;
  color: #8d97ad;
  font-weight: 300;
  height: 100%;
  min-height: 100vh;
}

.pricing6 h1,
.pricing6 h2,
.pricing6 h3,
.pricing6 h4,
.pricing6 h5,
.pricing6 h6 {
  color: #3e4555;
}

.pricing6 .font-weight-medium {
  font-weight: 500;
}

.pricing6 .bg-light {
  background-color: #f4f8fa !important;

}

.pricing6 h5 {
    line-height: 22px;
    // font-size: 18px;
    font-size: 20px;
}

.pricing6 .subtitle {
  color: #8d97ad;
  line-height: 24px;
}

.pricing6 .card.card-shadow {
  -webkit-box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
  box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
}

.pricing6 .price-box sup {
  top: -20px;
  font-size: 16px;
}

.pricing6 .price-box .display-5 {
  line-height: 58px;
  font-size: 3rem;
}

.pricing6 .btn-info-gradiant {
		background: #188ef4;
    background: -webkit-linear-gradient(legacy-direction(to right), #188ef4 0%, #316ce8 100%);
    background: -webkit-gradient(linear, left top, right top, from(#188ef4), to(#316ce8));
    background: -webkit-linear-gradient(left, #188ef4 0%, #316ce8 100%);
    background: -o-linear-gradient(left, #188ef4 0%, #316ce8 100%);
    background: linear-gradient(to right, #188ef4 0%, #316ce8 100%);
}

.pricing6 .btn-info-gradiant:hover {
		background: #316ce8;
    background: -webkit-linear-gradient(legacy-direction(to right), #316ce8 0%, #188ef4 100%);
    background: -webkit-gradient(linear, left top, right top, from(#316ce8), to(#188ef4));
    background: -webkit-linear-gradient(left, #316ce8 0%, #188ef4 100%);
    background: -o-linear-gradient(left, #316ce8 0%, #188ef4 100%);
    background: linear-gradient(to right, #316ce8 0%, #188ef4 100%);
}

.pricing6 .btn-md {
    padding: 15px 45px;
    font-size: 16px;
}

.pricing6 .text-info {
    color: #188ef4 !important;
}

.pricing6 .badge-danger {
    background-color: #ff4d7e;
}

.pricing6 .font-14 {
	font-size: 14px;
}
.common_button{
  font-size: 13px;
}
