<div class="call_mapping">

    <!-- <div class="toprow col-md-12 bottom15 sticky-top">
    <div class="col-md-6 teamSubdiv2" >
      <h3 class="heding1">Call Mapping</h3>
    </div>

    <div class="col-md-6 text-right" style="margin-top:8px;">
        <button class="constantbtn-button-blue-left">Coach</button>       
        <button class="constantbtn-button-blue-right " (click)="gotoBack()">Back</button>
    </div>
  </div> -->


    <div class="top_header_container">
        <div class="top_header_div_sticky content_width">
            <div class="page_title">
                <h4>Call Mapping</h4>
            </div>

            <div class="buttons_div">
                <button class="constantbtn-button-blue-left">Coach</button>
                <button class="back_button" (click)="gotoBack()">Back</button>
            </div>
        </div>
    </div>

    <div class="mainTable">
        <ngx-datatable #myTable style="width: 100%" class="material" [rows]="rows" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="50" [limit]="10" [selected]="selected" [selectionType]="'checkbox'" [selectAllRowsOnPage]="false" (select)='onSelect($event)'>
            <ngx-datatable-column [width]="30" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false" [headerCheckboxable]="true" [checkboxable]="true">
            </ngx-datatable-column>

            <ngx-datatable-column name="PARTICIPANT NAME">
                <ng-template let-value="value" ngx-datatable-cell-template>
                    <div>
                        {{value}}
                    </div>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="COACH">
                <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                    <div>
                        {{value}}
                    </div>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="BUSINESS">
                <ng-template let-value="value" ngx-datatable-cell-template>
                    <div>
                        {{value}}
                    </div>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="DEPARTMENT">
                <ng-template let-value="value" ngx-datatable-cell-template>
                    <div>
                        {{value}}
                    </div>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="ZONE">
                <ng-template let-value="value" ngx-datatable-cell-template>
                    <div>
                        {{value}}
                    </div>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="LOCATION">
                <ng-template let-value="value" ngx-datatable-cell-template>
                    <div>
                        {{value}}
                    </div>
                </ng-template>
            </ngx-datatable-column>

        </ngx-datatable>

    </div>
</div>