
  
  .call_mapping{
    .ngx-datatable.fixed-header .datatable-header .datatable-header-inner .datatable-header-cell {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: center;
    }
    .ngx-datatable.material .datatable-body .datatable-body-row{
      border-bottom: 1px solid #e0e0e0;
    }
    
    .ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell {
      text-align: center;
    }
    .top_header_container{
      background: #fff;
      position: sticky;
      top: 4.75rem;
      z-index: 1020;
      .top_header_div_sticky{
          background: #fff;
          display: grid;
          grid-template-columns: auto auto; 
          height: 50px;
          align-items: center;
          .page_title{
              text-align: left;
              h4{
                  margin: 0;
              }
          }
          // .filter_div{
          //     // display: grid;
          //     // grid-template-columns: 1fr 1fr;
          //     // grid-column-gap: 10px;
          //     align-items: center;
          //     .drop_down{
          //         border: 1px solid $border_color;
          //         .drop_down_select{
          //             height: 30px;
          //             border: none;
          //             box-shadow: none;
          //         }
          //     }
  
          //     .search_div{
          //         display: grid;
          //         grid-template-columns: auto 20px;
          //         border: 1px solid $border_color;
          //         .search_field{
          //             height: 30px;
          //             border: none !important;
          //             box-shadow: none;
          //         }
          //         .remove_icon{
          //             line-height: 30px;
          //         }
          //     }
          }
          
          .buttons_div{
              text-align: right;
          }
      }
    .heding1{
      line-height: 50px;
      margin: auto;
    }
  
    .floatingbtn{
      margin: auto;
      padding: 0;
      text-align: right;
    }
  
    .content_width{
      width: 95%;
      margin: 0 auto;
    }
    .mr20{
      margin-left: 20px;
    }
    
  .teamdiv1 {
      /* margin-left: 30px; */
      /*margin-top: 8px;*/
      transform: none;
      background: #fff;
      height: 55px;
      margin: 0 ;
      padding: 13px;
      margin-bottom: 15px;
    }
  
    .bottom15{
      margin-bottom: 15px;
    }
    
    .mainTable{
      margin: 0 15px;
    }
  
    // .sticky-topEnroll {
    //   position: sticky;
    //     top: 66px;
    //     /*z-index: 1090;*/
    //     z-index: 1040;
    // }
    // .teamSubdiv2 {
    //   float: left;
    // }
    
    // .floterightbtn {
    //   float: right;
    // }
  
    // .plusIcon{
    //   margin-right: 8px;
    // }
  }

 