.stepnos{
    display: inline-flex;
    margin: auto;
    width: 100%;
}

.stepsbtn{
    width: 30px;
    text-align: center;
    margin: auto;
    height: 30px;
    line-height: 30px;
    background: #e3e9ee;
    color: #1b1a1a;
    box-shadow: 1px 1px 3px #888;
    border-radius: 50%;
    cursor: pointer;
}

.datatable-scroll{
    width: 100% !important;
}

.stepsbtn.active{
    background: #4b85c5;
}

.rowDetail{
    display: flex;
}

.tablerow{
    height: 50px;
    border-bottom: 1px solid #ccc; 
}

.reqField { 
    display: inline;
    color: #ed462f !important;
}

.ngx-datatable.material .datatable-body .datatable-row-detail {
    background: transparent;
    // width: 1230px !important;
    margin: auto;
    width: 100%;
    overflow-y: scroll !important;
    padding: 20px !important;
    // overflow-y: scroll !important;
    padding: 0px !important;
    margin-bottom: 40px;
}

.datatable-row-wrapper:hover{
    background: #fff !important;
}

.qno{
    width: 30px !important;
    text-align: center;
}

.rowTable{
    width: 100%;
}

.savebtn{
    margin: auto;
    text-align: center;
    padding: 0;
}

.question{
    width: auto;
    min-width: 450px;
    text-align: center;
}

.answer{
    width: 300px;
    text-align: center;
}

.scoreBoard{
    padding: 20px;
    width: 100%;
}

.scoreCard{
    background: #e3e9ee;
    padding: 10px 20px;
    height: 60px;
    width: 100%;
    line-height: 42px;
    color: #524d4d;
    border-radius: 0;
    display: flex;
    font-size: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.cardtitle{
    width: 100%;
}

.employeeDetail{
    width: 100%;
    margin: auto;
    padding: 15px 100px;
}

.imgColumn{
    text-align: center;
    margin: auto;
}

.pSize_Img{
  width: 120px;
//   border-radius: 50%;
}

.width100percent{
    width: 100%;
}

.approvedTable{
    width: 50%;
    text-align: center;
    margin: auto;
}

.approvedTable2{
    width: 50%;
    margin: auto;
    margin-top: 20px;
}

.imgCell{
    padding: 15px;
    text-align: center;
}

.tableData{
    padding: 15px;
    display: table-cell;
    // line-height: 35px;
    // height: 35px;
}


.noMargin{
    margin: 0;
}

.rowBorder{
    border-bottom: 1px solid #eee;
}

.approvedStatus{
    text-align: center;
    // margin: 0;
    padding: 20px;
    width: 90%;
    margin: auto;
    // padding: 20px;
    margin-top: 30px;
    background: #03a9f41c;
    border-radius: 100px;
}

.comments{
    height: 34px !important;
    resize: none;
}

.columnBtn{
    height: 100%;
    padding: 0;
    margin-top: 24px;
    text-align: center;
}

.approverName{
    margin: 0;
    line-height: 35px;
}

.cellpadding{
    display: block;
    padding: 0 20px;
}

.detailheader{
    background: #f5f5f5;
    padding: 15px;
    color: #887a7a;
    margin-bottom: 10px;
}

.certifiedTxt{
    line-height: 60px;
    font-size: 22px;
    margin: 0;
    color: #00f500;
    font-family: inherit;
}

.marginAuto{
    margin: auto;
}