<div class="mainTable" *ngIf="nodata">
    <ngx-datatable #myTable style="width: 100%;" class="material expandable" [rows]="rows" [headerHeight]="50" [footerHeight]="50" [columnMode]="'force'" [limit]="10">

        <div class="row">
            <div class="col-md-12">
                <ngx-datatable-row-detail class="rowBlock" #myDetailRow>
                    <ng-template let-row="row" let-rowIndex="rowIndex" let-expanded="expanded" ngx-datatable-row-detail-template>

                        <!-- Evaluation Call -->
                        <div *ngIf="stepSelected == 1" class="">
                            <div class="width100percent detailheader">
                                <p class="noMargin">Nominee Details :</p>
                                <!-- <p (click)="closeRowDetail(selectedRowDetail,1 )">X</p> -->
                            </div>

                            <div class="width100percent">
                                <table class="width100percent">
                                    <tr class="rowBorder">
                                        <th rowspan="5" class="imgCell">
                                            <img src="{{employee_Detail.profile_pic}}" class="pSize_Img">
                                        </th>

                                        <td class="tableData">
                                            <p class="noMargin">Full Name : {{ employee_Detail.name }}</p>
                                        </td>
                                        <td class="tableData">
                                            <p class="noMargin">Business : {{ employee_Detail.business }}</p>
                                        </td>
                                        <td class="tableData">
                                            <p class="noMargin">Sub Department : {{ employee_Detail.subDept }}</p>
                                        </td>
                                    </tr>
                                    <tr class="rowBorder">
                                        <td class="tableData">
                                            <p class="noMargin">Contact No. : {{ employee_Detail.phone }}</p>
                                        </td>
                                        <td class="tableData">
                                            <p class="noMargin">Alternate Contact No. : {{ employee_Detail.alternate_phone }}</p>
                                        </td>
                                        <td class="tableData">
                                            <p class="noMargin">Email Id : {{ employee_Detail.email }}</p>
                                        </td>
                                    </tr>
                                    <tr class="rowBorder">
                                        <td class="tableData">
                                            <p class="noMargin">Reporting Manager : {{ employee_Detail.reporting_Manager }}</p>
                                        </td>
                                        <td class="tableData">
                                            <p class="noMargin">Band : {{ employee_Detail.band }}</p>
                                        </td>
                                        <td class="tableData">
                                            <p class="noMargin" *ngIf="employee_Detail.trainer_before">Are you trainer before ? : Yes</p>
                                            <p class="noMargin" *ngIf="!employee_Detail.trainer_before">Are you trainer before ? : No</p>
                                        </td>
                                    </tr>

                                </table>
                            </div>
                        </div>
                        <!-- Evaluation call ends -->

                        <!-- Evaluation feedback -->
                        <div *ngIf="stepSelected == 2" class="">
                            <div class="width100percent detailheader">
                                <p class="noMargin">BH Approval Status :</p>
                            </div>

                            <div class="width100percent" *ngIf="BHApproved.status == 0">
                                <div class="col-md-2">
                                    <label class="space_left">Approver Name: </label>
                                    <p class="approverName">{{ BHApproved.BHName }}</p>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="space_left" for="onDate">Date <h3 class="reqField">*</h3></label>
                                        <div class="nominationfullwidth">
                                            <input [owlDateTime]="dp1" [(ngModel)]="onDate" placeholder="mm/dd/yyyy" class="form-control nominationdateinput" name="onDate" id="onDate" [owlDateTimeTrigger]="dp1">
                                            <div class="nominationcalenderIcon">
                                                <i class="fa fa-calendar nominationcalfont"></i>
                                            </div>
                                            <owl-date-time [pickerType]="'calendar'" #dp1></owl-date-time>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="space_left" for="datepick">Time <h3 class="reqField">*</h3></label>
                                        <div class="nominationfullwidth">
                                            <input placeholder="hh:mm:ss" [(ngModel)]="datepick" name="datepick" id="datepick" class="form-control form-control-input  nominationdateinput" [owlDateTimeTrigger]="dp2" [owlDateTime]="dp2" required>
                                            <owl-date-time [pickerType]="'timer'" #dp2></owl-date-time>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label class="space_left" for="comments">Comments <h3 class="reqField">*</h3></label>
                                        <div class="nominationfullwidth">
                                            <textarea rows="5" cols="12" class="form-control comments" id="comments" placeholder="Write your comments"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-1 columnBtn">
                                    <button class="constantbtn-button-blue-left">Approve</button>
                                </div>

                            </div>
                            <div class="width100percent" *ngIf="BHApproved.status == 1">
                                <!-- <table class="approvedTable">
                <tr class="rowBorder">
                    <th class="tableData">Approver</th>
                    <th class="tableData">Date</th>
                    <th class="tableData">Time</th>
                </tr>
                <tr class="rowBorder">
                  <td class="tableData">{{ BHApproved.BHName }}</td>
                  <td class="tableData">{{ BHApproved.onDate | date:'fullDate' }}</td>
                  <td class="tableData">{{ BHApproved.onDate | date: 'shortTime' }}</td>
                </tr>
              </table> -->

                                <p class="approvedStatus">Approved by {{ BHApproved.BHName }} on {{ BHApproved.onDate | date:'fullDate' }} at {{ BHApproved.onDate | date: 'shortTime' }}
                                </p>
                            </div>
                        </div>
                        <!-- Evaluation feedback -->

                        <!-- Evaluation approval -->
                        <div *ngIf="stepSelected == 3" class="">
                            <div class="width100percent detailheader">
                                <p class="noMargin">Evaluation Call Assigned to nominee :</p>
                            </div>

                            <div class="width100percent ">
                                <!-- <table class="approvedTable">
                    <tr class="rowBorder">
                        <th class="tableData">Evaluator</th>
                        <th class="tableData">From</th>
                        <th class="tableData">To</th>
                        <th class="tableData">Time</th>
                    </tr>
                    <tr class="rowBorder">
                      <td class="tableData">{{ evaluationCallDetails.trainerName }}</td>
                      <td class="tableData">{{ evaluationCallDetails.date | date:'fullDate' }}</td>
                      <td class="tableData">{{ evaluationCallDetails.fromTime | date:'shortTime' }}</td>
                      <td class="tableData">{{ evaluationCallDetails.toTime | date: 'shortTime' }}</td>
                    </tr>
                  </table> -->

                                <p class="approvedStatus">An Evaluation slot between {{ evaluationCallDetails.fromTime | date:'shortTime' }} to {{ evaluationCallDetails.toTime | date:'shortTime' }} has been assigned to the nominee on {{ evaluationCallDetails.date | date:'fullDate'
                                    }}.</p>
                            </div>
                        </div>
                        <!-- Evaluation approval ends -->

                        <!-- FG Assessment -->
                        <div *ngIf="stepSelected == 4" class="">
                            <div class="width100percent detailheader">
                                <p class="noMargin">Feedback from Nominee :</p>
                            </div>

                            <table class="rowTable">
                                <tr class="tablerow">
                                    <td class="qno">Qno.</td>
                                    <td class="question">Question</td>
                                    <td class="answer">Feedback</td>
                                </tr>
                                <tr *ngFor="let item of feedback" class="tablerow">
                                    <td class="qno">{{ item.id }}</td>
                                    <td class="question" [innerHTML]="item.question"></td>
                                    <!-- <td class="answer">{{ item.score }}</td> -->
                                    <td class="question">
                                        <star-rating [starType]="'svg'" [rating]="item.score"></star-rating>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <!-- FG Assessment ends -->

                        <!-- Observer training -->
                        <div *ngIf="stepSelected == 5" class="">
                            <div class="width100percent detailheader">
                                <p class="noMargin">Assessment Details :</p>
                            </div>
                            <div class="rowDetail">
                                <table class="rowTable">
                                    <tr class="tablerow">
                                        <td class="qno">Qno.</td>
                                        <td class="question">Question</td>
                                        <td class="answer">Answers</td>
                                    </tr>
                                    <tr *ngFor="let item of assessment" class="tablerow">
                                        <td class="qno">{{ item.id }}</td>
                                        <td class="question" [innerHTML]="item.question"></td>
                                        <td class="answer">{{ item.answer }}</td>
                                    </tr>
                                </table>
                                <div class="scoreBoard">
                                    <div class="scoreCard">
                                        <p class="cardtitle">Question</p>
                                        <p>10</p>
                                    </div>

                                    <div class="scoreCard">
                                        <p class="cardtitle">Correct</p>
                                        <p>8</p>
                                    </div>

                                    <div class="scoreCard">
                                        <p class="cardtitle">Incorrect</p>
                                        <p>2</p>
                                    </div>

                                    <div class="scoreCard">
                                        <p class="cardtitle">Score</p>
                                        <p>8</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Observer training -->

                        <!-- Webinar Call -->
                        <div *ngIf="stepSelected == 6" class="">
                            <div class="width100percent detailheader">
                                <p class="noMargin">Assign a webinar call to the nominee :</p>
                            </div>
                            <form #webinarForm="ngForm" class="row" style="width: 100%; margin: auto;">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="space_left" for="date">Date<h3 class="reqField">*
                        </h3></label>
                                        <div class="nominationfullwidth">
                                            <input [owlDateTime]="dt1" [(ngModel)]="date" placeholder="mm/dd/yyyy" required [owlDateTimeTrigger]="dt1" class="form-control form-control-input  nominationdateinput" name="date" id="date">
                                            <div class="nominationcalenderIcon"><i class="fa fa-calendar nominationcalfont"></i>
                                            </div>
                                            <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
                                        </div>
                                        <!-- <div [hidden]="date.valid || date.pristine" class="alert alert-danger">
                        <div [hidden]="!date.hasError('required')">Start date is required</div>
                      </div> -->

                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="space_left" for="dateTime1">From<h3 class="reqField">*
                        </h3></label>
                                        <div class="nominationfullwidth">
                                            <input placeholder="hh:mm:ss" [(ngModel)]="webinar.dateTime1" name="dateTime1" id="dateTime1" class="form-control form-control-input  nominationdateinput" [owlDateTimeTrigger]="dt2" [owlDateTime]="dt2" required>
                                            <owl-date-time [pickerType]="'timer'" #dt2></owl-date-time>
                                        </div>
                                        <!-- <div [hidden]="dateTime1.valid || dateTime1.pristine" class="alert alert-danger">
                        <div [hidden]="!dateTime1.hasError('required')">Time is required</div>
                      </div> -->

                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="space_left" for="dateTime2">To<h3 class="reqField">*
                        </h3></label>
                                        <div class="nominationfullwidth">
                                            <input placeholder="hh:mm:ss" id="dateTime2" name="dateTime2" class="form-control form-control-input  nominationdateinput" [(ngModel)]="webinar.dateTime2" [owlDateTimeTrigger]="dt3" [owlDateTime]="dt3" required>
                                            <owl-date-time [pickerType]="'timer'" #dt3></owl-date-time>
                                        </div>
                                        <!-- <div [hidden]="dateTime2.valid || dateTime2.pristine" class="alert alert-danger">
                        <div [hidden]="!dateTime2.hasError('required')">Time is required</div>
                      </div> -->

                                    </div>
                                </div>
                                <div class="col-md-1 savebtn">
                                    <button class="constantbtn-button-blue-left" [disabled]="!webinarForm.form.valid" (click)="webinarSubmit(webinar) ">Save</button>
                                </div>
                            </form>
                        </div>
                        <!-- Webinar Call ends -->

                        <!-- Mock session assessment -->
                        <div *ngIf="stepSelected == 7" class="">
                            <div class="width100percent detailheader">
                                <p class="noMargin">FG Assessment Details :</p>
                            </div>

                            <div class="rowDetail">
                                <table class="rowTable">
                                    <tr class="tablerow">
                                        <td class="qno">Qno.</td>
                                        <td class="question">Question</td>
                                        <td class="answer">Answers</td>
                                    </tr>
                                    <tr *ngFor="let item of FGassessment" class="tablerow">
                                        <td class="qno">{{ item.id }}</td>
                                        <td class="question">{{ item.question }}</td>
                                        <td class="answer">{{ item.answer }}</td>
                                    </tr>
                                </table>
                                <div class="scoreBoard">
                                    <div class="scoreCard">
                                        <p class="cardtitle">Question</p>
                                        <p>10</p>
                                    </div>

                                    <div class="scoreCard">
                                        <p class="cardtitle">Correct</p>
                                        <p>8</p>
                                    </div>

                                    <div class="scoreCard">
                                        <p class="cardtitle">Incorrect</p>
                                        <p>2</p>
                                    </div>

                                    <div class="scoreCard">
                                        <p class="cardtitle">Score</p>
                                        <p>8</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- Mock session assessment ends -->

                        <!-- Final asessment -->
                        <div *ngIf="stepSelected == 8" class="">
                            <div class="width100percent detailheader">
                                <p class="noMargin">Course assigned to the nominee :</p>
                            </div>
                            <div class="width100percent">
                                <!-- <table class="approvedTable">
                    <tr class="rowBorder">
                        <th class="tableData">Course</th>
                        <th class="tableData">Date</th>
                        <th class="tableData">Venue</th>
                        <th class="tableData">Time</th>
                    </tr>
                    <tr class="rowBorder">
                      <td class="tableData">{{ courseDetail.courseName }}</td>
                      <td class="tableData">{{ courseDetail.date | date:'fullDate' }} </td>
                      <td class="tableData">{{ courseDetail.venue }}</td>
                      <td class="tableData">{{ courseDetail.time | date: 'shortTime' }}</td>
                    </tr>
                  </table> -->

                                <p class="approvedStatus">The nominee has been assigned a course "{{ courseDetail.courseName }}" which is scheduled on {{ courseDetail.date | date:'fullDate' }} in {{ courseDetail.venue }} at {{ courseDetail.time | date: 'shortTime' }}.</p>
                            </div>
                        </div>
                        <!-- Final asessment -->

                        <!-- certification -->
                        <div *ngIf="stepSelected == 9" class="">
                            <div class="width100percent detailheader">
                                <p class="noMargin">Certificates :</p>
                            </div>
                            <div class="width100percent">
                                <table class="approvedTable2">
                                    <tr>
                                        <td>
                                            <img [src]="certificate.certificatePath" class="" />
                                        </td>
                                        <td class="cellpadding">
                                            <p class="certifiedTxt" *ngIf="certificate.status == true">Certified Facilitator</p>
                                            <p class="" *ngIf="certificate.status == false">Non-Certified Facilitator</p>
                                            <p class="">{{certificate.date | date:'fullDate'}}</p>
                                            <p>{{certificate.approver}}</p>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <!-- certification ends -->

                        <!-- Publish -->
                        <div *ngIf="stepSelected == 10" class="">

                        </div>
                        <!-- Publish ends -->


                    </ng-template>
                </ngx-datatable-row-detail>
            </div>
        </div>
        <ngx-datatable-row>
            <ngx-datatable-column name="ECN" [width]="10">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <div>
                        {{row.ecn}}
                    </div>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Name" [width]="50">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <div>
                        {{ row.name }}
                    </div>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Contact" [width]="50">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <div>
                        {{row.phone}}
                    </div>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Email" [width]="50">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <div>
                        {{row.email}}
                    </div>
                </ng-template>
            </ngx-datatable-column>

        </ngx-datatable-row>





        <ngx-datatable-column name="Workflow" [width]="200">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <div class="stepnos">
                    <span class="marginAuto" tooltip="Nominee Details" [tooltipDisabled]="false" [tooltipAnimation]="true" tooltipPlacement="top">
            <p class="stepsbtn" (click)="toggleExpandRow(1, row)" [ngClass]="{ 'activeStep': stepSelected==1 }">1</p>
          </span>

                    <span class="marginAuto" tooltip="BH Approval" [tooltipDisabled]="false" [tooltipAnimation]="true" tooltipPlacement="top">
            <p class="stepsbtn" (click)="toggleExpandRow(2, row)" [ngClass]="{ 'activeStep': stepSelected==2 }">2</p>
          </span>

                    <span class="marginAuto" tooltip="Evaluation Call" [tooltipDisabled]="false" [tooltipAnimation]="true" tooltipPlacement="top">
            <p class="stepsbtn" (click)="toggleExpandRow(3, row)" [ngClass]="{ 'activeStep': stepSelected==3 }">3</p>
          </span>

                    <span class="marginAuto" tooltip="Feedback" [tooltipDisabled]="false" [tooltipAnimation]="true" tooltipPlacement="top">
            <p class="stepsbtn" (click)="toggleExpandRow(4, row)"  [ngClass]="{ 'activeStep': stepSelected==4 }">4</p>
          </span>

                    <span class="marginAuto" tooltip="Assessment Details" [tooltipDisabled]="false" [tooltipAnimation]="true" tooltipPlacement="top">
            <p class="stepsbtn" (click)="toggleExpandRow(5, row)" [ngClass]="{ 'activeStep': stepSelected==5 }">5</p>
          </span>

                    <span class="marginAuto" tooltip="Webinar Call" [tooltipDisabled]="false" [tooltipAnimation]="true" tooltipPlacement="top">
            <p class="stepsbtn" (click)="toggleExpandRow(6, row)" [ngClass]="{ 'activeStep': stepSelected==6 }">6</p>
          </span>

                    <span class="marginAuto" tooltip="FG Assessment" [tooltipDisabled]="false" [tooltipAnimation]="true" tooltipPlacement="top">
            <p class="stepsbtn" (click)="toggleExpandRow(7, row)" [ngClass]="{ 'activeStep': stepSelected==7 }">7</p>
          </span>

                    <span class="marginAuto" tooltip="Course Assigned" [tooltipDisabled]="false" [tooltipAnimation]="true" tooltipPlacement="top">
            <p class="stepsbtn" (click)="toggleExpandRow(8, row)" [ngClass]="{ 'activeStep': stepSelected==8 }">8</p>
          </span>

                    <span class="marginAuto" tooltip="Certificates" [tooltipDisabled]="false" [tooltipAnimation]="true" tooltipPlacement="top">
            <p class="stepsbtn" (click)="toggleExpandRow(9, row)" [ngClass]="{ 'activeStep': stepSelected==9 }">9</p>
          </span>
                    <!-- <p class="stepsbtn" (click)="toggleExpandRow(10, row)">10</p> -->

                    <!-- <div class="step" *ngFor="let steps of row.workflow">{{ steps.id }}}</div> -->
                    <!-- <div *ngFor="let steps of steps">{{ steps.id }}</div> -->
                </div>
            </ng-template>
        </ngx-datatable-column>

    </ngx-datatable>
    <ngx-no-data [config]="noDataVal" *ngIf="nodata"></ngx-no-data>