.certificate_container{


  .enableDisableModalBodyP{
    margin: 1rem;
  }

  

  
@import '../../../@theme/styles/variable.scss';
.certificate_div{
    .content_width{
        width: 78vw;
        margin: 0 auto;
    }
    .top_header_container{
        background: #fff;
        position: sticky;
        top: 4.75rem;
        z-index: 1020;
        .top_header_div_sticky{
            background: #fff;
            display: grid;
            grid-template-columns: 0.5fr 1fr 1fr;
            height: 50px;
            align-items: center;
            .page_title{
                text-align: left;
                h4{
                    margin: 0;
                }
            }
            .search_div {
                display: grid;
                grid-template-columns: auto 20px;
                border: 1px solid $border_color;
                .search_field {
                  height: 30px;
                  border: none !important;
                  box-shadow: none;
                  padding: 0 10px;
                  &::placeholder {
                    font-size: 14px;
                  }
                }
                .remove_icon {
                  line-height: 30px;
                }
              }
            // .filter_div{
            //     // display: grid;
            //     // grid-template-columns: 1fr 1fr;
            //     // grid-column-gap: 10px;
            //     align-items: center;
            //     .drop_down{
            //         border: 1px solid $border_color;
            //         .drop_down_select{
            //             height: 30px;
            //             border: none;
            //             box-shadow: none;
            //         }
            //     }

            //     .search_div{
            //         display: grid;
            //         grid-template-columns: auto 20px;
            //         border: 1px solid $border_color;
            //         .search_field{
            //             height: 30px;
            //             border: none !important;
            //             box-shadow: none;
            //         }
            //         .remove_icon{
            //             line-height: 30px;
            //         }
            //     }
            }
            
            .buttons_div{
                text-align: right;
            }
        }
    }
   
    .multiple_category_card_container{
        background:$background_for_card_container;
        margin: 20px 20px 30px;
        width: 95%;
        // margin: auto;
        .cards_container{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-column-gap: 30px;
            grid-row-gap: 30px;
            .singel_card{
                position: relative;
                background: #fff;
                text-align: center;
                box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
                border-radius: 10px;
                .overlay_hidden{
                    position: absolute;
                    background: rgba(0, 0, 0, 0.5);
                    height: 100%;
                    width: 100%;
                    display: grid;
                    align-items: center;
                    font-size: 30px;
                    color: #fff;
                    border-radius: 10px;
                    i{
                        cursor: pointer;
                    }
                }
                // border-bottom-left-radius: 10px ;
                // border-bottom-right-radius: 10px;
                // box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
                .singel_card_image{
                   border-top-left-radius: 10px ;
                   border-top-right-radius: 10px;
                   height: 150px;
                   width: 100%;
                   background-position: center;
                   background-size: cover;
                //    background
                }
                .card_title{
                    padding: 10px !important;
                    border-top: 1px solid $border_color;
                    border-bottom: 1px solid $border_color;
                    color: #000;
                    font-size:$font_size_for_cards; 
                }
                .card_subtitle{
                    font-size: 14px;
                    padding: 10px !important;
                    // border-top: 1px solid #F1F5F8;
                    border-bottom: 1px solid $border_color;
                    color: #000;
                }
              
                .user-icon{
                    display: grid;
                    grid-template-columns: auto auto;
                    height: 40px;
                    align-items: center;

                    .icons-enable-disable{
                        border-right: 1px solid $border_color;
                        color: $icon_font_color;
                        font-size: 20px;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }

                .content-icons{
                    text-align: center;
                    border-bottom: 1px solid $border_color;
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    align-items: center;
                }

                .para_margin_0{
                    margin: 0;
                }
               
            }
            .not_found{
                background-image:url('assets/images/courseicon.jpg');
            }
        }
    }
}
.multiple_certificate_card_container{
    // background:$background_for_card_container;
    margin: 20px 20px 30px;
    width: 95%;
    // margin: auto;
    .certificate_container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-column-gap: 30px;
        grid-row-gap: 30px;
        .certificate_card{
            position: relative;
            background: #fff;
            text-align: center;
            box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
            border-radius: 10px;
        }
    }
}
// .certificate {
//     margin-top: 10px;
//     width: 60px;
//     // height: 90px;
//   }
  .certificate-title {
    // width: 100px;
    // padding: 16px 30px 0px;
    margin-top: 5px;
    // height: 80px;
  }
  .certificate_width{
    width: 78vw;
    margin: 0 auto;
}