<app-subheader [headerConfig]="header" (inputsearch)="searchData($event)" (Clear)="clear()" (addbtn)="gotoaddedit('',0)" (backClick)="back()"></app-subheader>
<ngx-no-data *ngIf="Nodatafound || nocertificates" [config]="noDataVal"></ngx-no-data>
<div class="certificate_container">
    <div class="certificate_div">
        <!-- <div class="top_header_container">
            <div class="top_header_div_sticky content_width">
                <div class="page_title">
                    <h4>Certificates</h4>
                </div>
                <div class="search_div">
                    <input type="text" (keyup)="SarchFilter($event, searchtext)" [(ngModel)]="searchtext" class="form-control search_field" placeholder="Search by certificate name">
                    <i class="fa fa-remove remove_icon" aria-hidden="true" (click)="clear()"></i>
                </div>
                <div class="buttons_div">
                    <button type="button" class="constantbtn-button-blue-left " (click)="gotoaddedit('',0)">Add Certificate</button>
                    <button type="submit" class="back_button " (click)="back()">Back</button>
                </div>
            </div>
        </div> -->
        <app-skeleton [count]='count' *ngIf="!skeleton"></app-skeleton>
        <!-- <table *ngIf="!skeleton">
            <tr>
                <div class="multiple_certificate_card_container">
                    <div class="certificate_width">
                        <div class="certificate_container">
                            <td>
                                <div class="certificate_card">
                                    <div class="certificate">
                                        <ngx-skeleton-loader [theme]="{ width: '216px', height: '100px','margin': '5px' }">
                                        </ngx-skeleton-loader>
                                    </div>
                                    <div class="certificate-title">
                                        <ngx-skeleton-loader [theme]="{
                                                        width: '170px',
                                                        height: '40px'
                                                      }"></ngx-skeleton-loader>
                                    </div>
                                    <div class="certificate-title">
                                        <ngx-skeleton-loader [theme]="{
                                                        width: '170px',
                                                        height: '40px'
                                                      }"></ngx-skeleton-loader>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="certificate_card">
                                    <div class="certificate">
                                        <ngx-skeleton-loader [theme]="{ width: '216px', height: '100px','margin': '5px' }">
                                        </ngx-skeleton-loader>
                                    </div>
                                    <div class="certificate-title">
                                        <ngx-skeleton-loader [theme]="{
                                                        width: '170px',
                                                        height: '40px'
                                                      }"></ngx-skeleton-loader>
                                    </div>
                                    <div class="certificate-title">
                                        <ngx-skeleton-loader [theme]="{
                                                        width: '170px',
                                                        height: '40px'
                                                      }"></ngx-skeleton-loader>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="certificate_card">
                                    <div class="certificate">
                                        <ngx-skeleton-loader [theme]="{ width: '216px', height: '100px','margin': '5px'}">
                                        </ngx-skeleton-loader>
                                    </div>
                                    <div class="certificate-title">
                                        <ngx-skeleton-loader [theme]="{
                                                        width: '170px',
                                                        height: '40px'
                                                      }"></ngx-skeleton-loader>
                                    </div>
                                    <div class="certificate-title">
                                        <ngx-skeleton-loader [theme]="{
                                                        width: '170px',
                                                        height: '40px'
                                                      }"></ngx-skeleton-loader>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="certificate_card">
                                    <div class="certificate">
                                        <ngx-skeleton-loader [theme]="{ width: '216px', height: '100px','margin': '5px'}">
                                        </ngx-skeleton-loader>
                                    </div>
                                    <div class="certificate-title">
                                        <ngx-skeleton-loader [theme]="{
                                                        width: '170px',
                                                        height: '40px'
                                                      }"></ngx-skeleton-loader>
                                    </div>
                                    <div class="certificate-title">
                                        <ngx-skeleton-loader [theme]="{
                                                        width: '170px',
                                                        height: '40px'
                                                      }"></ngx-skeleton-loader>
                                    </div>
                                </div>
                            </td>
                        </div>
                    </div>
                </div>
            </tr>
            <tr>
                <div class="multiple_certificate_card_container">
                    <div class="certificate_width">
                        <div class="certificate_container">
                            <td>
                                <div class="certificate_card">
                                    <div class="certificate">
                                        <ngx-skeleton-loader [theme]="{ width: '216px', height: '100px','margin': '5px'}">
                                        </ngx-skeleton-loader>
                                    </div>
                                    <div class="certificate-title">
                                        <ngx-skeleton-loader [theme]="{
                                                            width: '170px',
                                                            height: '40px'
                                                          }"></ngx-skeleton-loader>
                                    </div>
                                    <div class="certificate-title">
                                        <ngx-skeleton-loader [theme]="{
                                                            width: '170px',
                                                            height: '40px'
                                                          }"></ngx-skeleton-loader>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="certificate_card">
                                    <div class="certificate">
                                        <ngx-skeleton-loader [theme]="{ width: '216px', height: '100px','margin': '5px'}">
                                        </ngx-skeleton-loader>
                                    </div>
                                    <div class="certificate-title">
                                        <ngx-skeleton-loader [theme]="{
                                                            width: '170px',
                                                            height: '40px'
                                                          }"></ngx-skeleton-loader>
                                    </div>
                                    <div class="certificate-title">
                                        <ngx-skeleton-loader [theme]="{
                                                            width: '170px',
                                                            height: '40px'
                                                          }"></ngx-skeleton-loader>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="certificate_card">
                                    <div class="certificate">
                                        <ngx-skeleton-loader [theme]="{ width: '216px', height: '100px','margin': '5px'}">
                                        </ngx-skeleton-loader>
                                    </div>
                                    <div class="certificate-title">
                                        <ngx-skeleton-loader [theme]="{
                                                            width: '170px',
                                                            height: '40px'
                                                          }"></ngx-skeleton-loader>
                                    </div>
                                    <div class="certificate-title">
                                        <ngx-skeleton-loader [theme]="{
                                                            width: '170px',
                                                            height: '40px'
                                                          }"></ngx-skeleton-loader>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="certificate_card">
                                    <div class="certificate">
                                        <ngx-skeleton-loader [theme]="{ width: '216px', height: '100px','margin': '5px'}">
                                        </ngx-skeleton-loader>
                                    </div>
                                    <div class="certificate-title">
                                        <ngx-skeleton-loader [theme]="{
                                                            width: '170px',
                                                            height: '40px'
                                                          }"></ngx-skeleton-loader>
                                    </div>
                                    <div class="certificate-title">
                                        <ngx-skeleton-loader [theme]="{
                                                            width: '170px',
                                                            height: '40px'
                                                          }"></ngx-skeleton-loader>
                                    </div>
                                </div>
                            </td>
                        </div>
                    </div>
                </div>
            </tr>
        </table> -->
        <!-- <div *ngIf="skeleton">
            <div class="multiple_category_card_container" *ngIf="!Nodatafound">
                <div class="content_width">
                    <div class="cards_container" *ngIf="!nocertificates">
                        <div class="singel_card" *ngFor="let item of certificates ;let i=index">
                            <div class="overlay_hidden" [hidden]="item.visible == 1">
                                <i title="Disabled" id="enable_{{item.visible}}" class="fa fa-eye-slash" aria-hidden="true" (click)="disableCertificate(i,item,false)"></i>
                            </div>
                            <div class="singel_card_image pointer" *ngIf="item.certIcon" [ngStyle]="{'background-image': 'url(' + item.certIcon + ')'}" (click)="gotoaddedit(item,1)">
                            </div>
                            <div class="singel_card_image not_found pointer" *ngIf="!item.certIcon" (click)="gotoaddedit(item,1)">
                            </div>
                            <div class="card_title pointer" (click)="gotoaddedit(item,1)">
                                <div *ngIf="item?.certName">
                                    <div class="" title="{{item.certName}}" *ngIf="item?.certName?.length <= 15">{{item.certName}}</div>
                                    <div class="" title="{{item.certName}}" *ngIf="item?.certName?.length > 15">
                                        {{item.certName.substring(0,15)}}...</div>
                                </div>
                                <div *ngIf="!(item?.certName)">Not Available</div>
                            </div>
                            <div class="user-icon pointer">
                                <div class="icons-enable-disable" title="Edit" (click)="gotoaddedit(item,1)">
                                    <i aria-hidden="true" class="fa fa-edit"></i>
                                </div>
                                <div class="icons-enable-disable">
                                    <i title="Enabled" id="disable_{{item.visible}}" class="fa fa-eye" aria-hidden="true" (click)="disableCertificate(i,item,true)" [hidden]="item.visible == 0"></i>
                                    <i title="Disabled" id="enable_{{item.visible}}" class="fa fa-eye-slash" aria-hidden="true" (click)="disableCertificate(i,item,false)" [hidden]="item.visible == 1"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

        <div *ngIf="skeleton">
            <!-- [ngStyle]="{ height: conentHeight }" style="overflow-y: auto" -->
            <div *ngIf='!Nodatafound ||!nocertificates' (scroll)="onScroll(scrollMe)" #scrollMe class="overflow_scroll_cards_container">
                <div *ngFor="let item of displayArray;let i=index">
                    <ngx-card (disabled)="clickTodisable(item)" [cardsList]="item" [config]="cardModify" (gotoDetails)="gotoCardaddedit(item)"></ngx-card>
                </div>
            </div>
        </div>





        <div>
            <!-- <div>
                <img class="noDataImg" src='assets/images/noDataFound1.png' onerror="this.src='assets/images/noDataFound1.png';"> -->
            <!-- <img src='assets/images/noDataFound2.png' onerror="this.src='assets/images/noDataFound2.png';"> -->
            <!-- <p class="nodata"> No Data Found</p> -->
            <!-- </div> -->
        </div>
    </div>
</div>

<div class="deleteModalBackdrop" *ngIf="enableDisableCertModal == true">
    <div class="deleteModal">
        <div class="modal-header deleteModalHeader">
            <p *ngIf="!enableCert" class="enableDisableModalHeaderP">{{title}}</p>
            <p *ngIf="enableCert" class="enableDisableModalHeaderP">{{title}}</p>
            <button class="close closeDeleteModalBtn" aria-label="Close" (click)="closeEnableDisableCertModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
            <div class="" *ngIf="!enableCert">
                <p class="enableDisableModalBodyP">Are you sure you want to Enable {{enableDisableCertData.certName}} ?</p>
            </div>
            <div class="" *ngIf="enableCert">
                <p class="enableDisableModalBodyP">Are you sure you want to Disable {{enableDisableCertData.certName}} ?</p>
            </div>
        </div>

        <div class="modal-footer deleteModalFooter">
            <div class="">
                <button type="button" class="constantbtn-button-blue-left" (click)="enableDisableCategoryAction(true)">Yes</button>
            </div>
            <div class="">
                <button type="button" class="constantbtn-button-blue-right" (click)="enableDisableCategoryAction(false)">No</button>
            </div>
        </div>
    </div>
</div>





<!-- ******************************************** OLD CODE ************************************** -->

<!-- <div class="cerdivBadge col-md-12 sticky-top">
    <div class="col-md-6 certSubdiv2" >
    <h3 class="heading">Certificates</h3>
    </div>

    <div class="col-md-6 text-right" style="padding: 0;">
    <button type="button" class="constantbtn-button-blue-left" (click)="gotoaddedit('',0)">Add Certificates</button>
    <button type="button" class="constantbtn-button-blue-right" (click)="back()" id="editbtnEnroll">Back</button>

    </div>
  </div>


  <div class="widgets"  *ngIf="!Nodatafound">

    <div ba-panel ba-panel-class="with-scroll" *ngIf="!nocertificates">
        <section id="feature sec" class="section01">
            <div class="row col-md-12 catrowCert">
                <div *ngFor="let item of certificates ; let i=index" class="card col-md-3">
                    <div (click)="content2(item,0)">
                        <a *ngIf="!item.certIcon" style="cursor: pointer;">
                            <img src='assets/images/badgeNew.png'>
                        </a>
                        <a *ngIf="item.certIcon" style="cursor: pointer;">
                            <img src={{item.certIcon}}>
                        </a>
                    </div>

                    <div (click)="content2(item,0)">
                        <div class="catsepCert">
                            <p class="toolcatp1 tooltip1">{{item.certName}}</p>
                        </div>
                        <div class="col-sm-12" style="height: 70px;border-bottom: 1px solid #f1f5f8;">
                            <p class="catdespCert" title="{{item.description}}">{{item.description | slice:0:100}}</p>
                        </div>
                    </div>

                    <div class="col-sm-12 card-footer-main">
                        <div class="col-sm-6 card-footer-sub">
                            <div class="" title="Edit" (click)="gotoaddedit(item,1)">
                                <i class="fa fa-edit card-footer-icon pointer" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="col-sm-6 card-footer-sub">
                            <div class="">
                                <i title="Enabled" id="disable_{{item.visible}}" class="fa fa-eye card-footer-icon pointer" aria-hidden="true" (click)="disableCertificate(i,item,true)" [hidden]="item.visible == 0"></i>
                                <i title="Disabled" id="enable_{{item.visible}}" class="fa fa-eye-slash card-footer-icon pointer" aria-hidden="true" (click)="disableCertificate(i,item,false)" [hidden]="item.visible == 1"></i>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </section>
    </div>
    <div *ngIf="nocertificates">
      <div class="NoDataDiv">
          No Ladders Found.
      </div>
  </div>
  </div> -->