.video {
    box-shadow: 1px 6px 10px 2px rgba(35, 35, 35, 0.62);
    // height: 600px;
    // max-height: 800px;
    width: 100%;
  }
.row {
    // margin-bottom: 20px;
  }

  .margin-border {
    margin: 15px;
  }