<app-subheader [headerConfig]="header" (btnone)="startRecording()" (btntwo)="stopRecording()" (btnthree)="download()" (backClick)="back()">
</app-subheader>
<div>
    <!-- <div class="row"> -->
    <div class="col-xs-12 mt-3">
        <video #video class="video"></video>
        <!-- <video #video1 class="video" controls></video> -->
    </div>
    <!-- </div> -->
    <!-- <div class="row">
        <div class="col-xs-12 margin-border">
      <button md-raised-button color="primary" (click)="startRecording()"> Record </button>
      <button md-raised-button color="primary"(click) ="stopRecording()"> Stop</button>
      <button md-raised-button color="primary" (click)="download()"> Download</button>
    </div>
    </div> -->
</div>