.card{
.wFCard{
    padding: 15px;
}

.drager
{
  display: block ;
}

.taskbtnborder
{
  border:1px solid #eee;
  padding:10px;
}

.dragBtn2{
    height: 30px;
    width: 30px;
    background-color: #ffffff;
    border: none;
    padding: 0;
    text-align: center;
    margin: auto;
  }

.sortIcon2{
    font-size: 25px;
    color: #076ba1;
    font-weight: 100 ;
  }

  .left_space {
    padding-left: 2px;
}

  .feedmartop123
  {
    margin: 35px 0;
    line-height: 30px; 
  }

  .marg35{
    margin: 35px 0;
  }

  .reqField{
    display: inline;
    color: #ed462f ;
  }

  .fontforfeed23
{
  font-size: 28px;
  margin-top: 7px;
}
}