<div class="card drager" [sortablejs]="tasks" [sortablejsOptions]="TasksSortable">
  <div class="col-sm-12 taskbtnborder list-group-item" *ngFor="let item of tasks">
    <div class="col-sm-1 marg35">
      <button type="button" class="dragBtn2 drag-handle">
        <span class="glyphicon glyphicon-move sortIcon2"></span>
      </button>
    </div>
    <div class="col-sm-2" style="cursor: pointer;" >
      <h5 class="feedmartop123">{{ item.taskName }}<h3 class="reqField">
          &nbsp; *</h3>
      </h5>
    </div>
    <div class="col-sm-2" style="cursor: pointer;">
      <div class="form-group">
        <label class="left_space" for="sdate">Start Date <h3 class="reqField">*</h3></label>
        <div id="sdate" class="input-group">
            <input type="text" class="form-control datePickerInput" #dpFrom="bsDatepicker" bsDatepicker [bsConfig]="{ containerClass: 'theme-dark-blue',dateInputFormat: 'YYYY-MM-DD' }" placement="left center"
                name="startDate" [(ngModel)]="startDate">
            <button class="openDatepicker" (click)="dpFrom.toggle()" [attr.aria-expanded]="dpFrom.isOpen">
            <i class="ion-calendar calenderIcon"></i>
            </button>
        </div>
        <span></span>
      </div>
    </div>
    <div class="col-sm-2" style="cursor: pointer;">
      <div class="form-group">
        <label class="left_space" for="edate">End Date <h3 class="reqField">*</h3></label>
        <div id="edate" class="input-group">
            <input type="text" class="form-control datePickerInput" #dpFrom="bsDatepicker" bsDatepicker [bsConfig]="{ containerClass: 'theme-dark-blue',dateInputFormat: 'YYYY-MM-DD' }" placement="left center"
                name="endDate" [(ngModel)]="endDate">
            <button class="openDatepicker" (click)="dpFrom.toggle()" [attr.aria-expanded]="dpFrom.isOpen">
            <i class="ion-calendar calenderIcon"></i>
            </button>
        </div>
        <span></span>
      </div>
    </div>
    <div class="col-sm-3">
      <label class="left_space" for="assign">Assigned to<h3 class="reqField">*</h3></label>
      <select id="assign" class="form-control select_field_height" name="assign" [(ngModel)]="assign">
        <option value="" selected disabled></option>
        <option *ngFor="let option of item.assignee" value={{option.id}}>{{ option.name }}</option>
      </select>
    </div>
    <div class="col-sm-2 marg35">
      <button class="constantbtn-button-blue-left ">Save</button>
    </div>
  </div>
</div>