<div class="detailcontent">
    <div class="text-right">
        <!-- <button class="constantbtn-button-blue-left" [disabled]="!nominationForm.form.valid"
      (click)="onSubmit(nominationData)">Save</button> -->
        <!-- <button class="constantbtn-button-blue-left"
      (click)="onSubmit(nominationData)">Save</button> -->
    </div>
    <div class="">
        <form class="detailsForm forms-sample" #nominationForm="ngForm" novalidate>
            <div class="form_grid">
                <div class="left_grid">
                    <div class="form-group">
                        <label class="left_space side-form-label" for="">{{helpContent?.blended_programs_AddEditNomination?.instance_name?.label}}
              <sup>&#x2731;</sup>
<app-info-tooltip [direction]="direction" [description]="helpContent?.blended_programs_AddEditNomination?.instance_name?.labelHelpContent"></app-info-tooltip>
            
              <!-- <h3 class="reqField">*</h3>
              <div class="help-tooltip">
                <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>

                <div class="help-tooltip-position-right">
                  <p>{{helpContent?.blended_programs_AddEditNomination?.instance_name?.labelHelpContent}}</p>
                  <i></i>
                </div>
              </div> -->

            </label>
                        <input type="text" class="form-control form-control-input commonInput detailsInput" id="instName" name="instName" minlength="10" maxlength="50" placeholder="Max 50 characters" [(ngModel)]="nominationData.instName" #iname="ngModel" required>
                        <div [hidden]="iname.valid || iname.pristine" class="invalid-msg">
                            <small [hidden]="!iname.hasError('required')">Instance Name is required</small>
                            <small *ngIf="iname.errors?.minlength">Instance name must be between 10 to 50 characters</small>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="left_space side-form-label" for="">{{helpContent?.blended_programs_AddEditNomination?.program_name?.label}}
              <sup>&#x2731;</sup>
<app-info-tooltip  [description]="helpContent?.blended_programs_AddEditNomination?.program_name?.labelHelpContent"></app-info-tooltip>
            
              <!-- <h3
                class="reqField">*</h3>
              <div class="help-tooltip">
                <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>

                <div class="help-tooltip-position-right">
                  <p>{{helpContent?.blended_programs_AddEditNomination?.program_name?.labelHelpContent}}</p>

                  <i></i>
                </div>
              </div> -->
            </label>
                        <select class="commonSelect custom-select" name="pId" id="pId" [(ngModel)]="nominationData.pId" #programName="ngModel" required>
              <option value="" selected disabled>Select Program</option>
              <option *ngFor="let item of programs" value={{item.pId}}>{{ item.programName }}</option>
            </select>
                        <div [hidden]="programName.valid || programName.pristine" class="invalid-msg">
                            <small [hidden]="!programName.hasError('required')">Select name of Program</small>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="left_space side-form-label" for="">{{helpContent?.blended_programs_AddEditNomination?.visibility?.label}}
              <sup>&#x2731;</sup>
              <app-info-tooltip  [description]="helpContent?.blended_programs_AddEditNomination?.visibility?.labelHelpContent"></app-info-tooltip>
                          
              <!-- <h3
                class="reqField">*</h3>
              <div class="help-tooltip">
                <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>

                <div class="help-tooltip-position-right">
                  <p>{{helpContent?.blended_programs_AddEditNomination?.visibility?.labelHelpContent}}</p>

                  <i></i>
                </div>
              </div> -->
            </label>
                        <select class="commonSelect custom-select" name="visible" id="visible" [(ngModel)]="nominationData.visible" #visibility="ngModel" required>
              <option value=""  disabled>Select visibility type</option>
              <option *ngFor="let options of visibilityOptions" value={{options.id}}>{{ options.name }}</option>
            </select>
                        <div [hidden]="visibility.valid || visibility.pristine" class="invalid-msg">
                            <small [hidden]="!visibility.hasError('required')">Select visibility of Instance</small>
                        </div>
                    </div>

                </div>

                <div class="right_grid">

                    <div class="form-group">
                        <label class="space_left side-form-label" for="sDate">{{helpContent?.blended_programs_AddEditNomination?.start_date?.label}}
              <sup>&#x2731;</sup>
              <app-info-tooltip  [direction]="direction" [description]="helpContent?.blended_programs_AddEditNomination?.start_date?.labelHelpContent"></app-info-tooltip>
                  
              <!-- <h3 class="reqField">* </h3>

              <div class="help-tooltip">
                <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>

                <div class="help-tooltip-position-right">
                  <p>{{helpContent?.blended_programs_AddEditNomination?.start_date?.labelHelpContent}}</p>

                  <i></i>
                </div>
              </div> -->


            </label>
                        <div class="nominationfullwidth">
                            <input [owlDateTime]="dt1" [min]="minDate" [(ngModel)]="nominationData.sDate" (dateTimeChange)="onSearchChange($event.value)" #sdate="ngModel" placeholder="dd-mm-yyyy" required class="form-control form-control-input commonInput nominationdateinput detailsInput"
                                id="sDate" name="sDate" [owlDateTimeTrigger]="dt1">
                            <div class="nominationcalenderIcon"><i class="fa fa-calendar nominationcalfont" [owlDateTimeTrigger]="dt1"></i>
                            </div>
                            <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
                        </div>
                        <div [hidden]="sdate.valid || sdate.pristine" class="invalid-msg">
                            <div [hidden]="!sdate.hasError('required')">Enter start date</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="space_left side-form-label" for="eDate">{{helpContent?.blended_programs_AddEditNomination?.end_date?.label}}
              <sup>&#x2731;</sup>
              <app-info-tooltip  [description]="helpContent?.blended_programs_AddEditNomination?.end_date?.labelHelpContent"></app-info-tooltip>
                  
              <!-- <h3 class="reqField">*
              </h3> -->

              <!-- <div class="help-tooltip">
                <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>

                <div class="help-tooltip-position-right">
                  <p>{{helpContent?.blended_programs_AddEditNomination?.end_date?.labelHelpContent}}</p>

                  <i></i>
                </div>
              </div> -->

            </label>
                        <div class="nominationfullwidth">
                            <input [owlDateTime]="dt2" [(ngModel)]="nominationData.eDate" id="eDate" #edate="ngModel" [min]="nominationData.sDate" placeholder="dd-mm-yyyy" required class="form-control form-control-input commonInput nominationdateinput detailsInput" name="eDate"
                                [owlDateTimeTrigger]="dt2">
                            <div class="nominationcalenderIcon">
                                <i class="fa fa-calendar nominationcalfont" [owlDateTimeTrigger]="dt2"></i>
                            </div>
                            <div class="calendar2">
                                <owl-date-time [pickerType]="'calendar'" #dt2></owl-date-time>
                            </div>
                        </div>
                        <div [hidden]="edate.valid || edate.pristine" class="invalid-msg">
                            <small [hidden]="!edate.hasError('required')">Enter end date</small>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="left_space side-form-label" for="nDesc">{{helpContent?.blended_programs_AddEditNomination?.description?.label}} 
              <sup>&#x2731;</sup>
              <app-info-tooltip  [description]="helpContent?.blended_programs_AddEditNomination?.description?.labelHelpContent"></app-info-tooltip>
                
              <!-- <h3 class="reqField">*
              </h3>

              <div class="help-tooltip">
                <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>

                <div class="help-tooltip-position-right">
                  <p>{{helpContent?.blended_programs_AddEditNomination?.description?.labelHelpContent}}</p>

                  <i></i>
                </div>
              </div> -->
            </label>
                        <textarea type="text" cols="12" rows="5" class="form-control commonTextarea" id="nDesc" #comments="ngModel" minlength="10" maxlength="500" placeholder="Min 10 to Max 500 characters" required [(ngModel)]="nominationData.nDesc" name="nDesc"></textarea>
                        <div [hidden]="comments.valid || comments.pristine" class="invalid-msg">
                            <small [hidden]="!comments.hasError('required')">Description is required</small>
                            <small *ngIf="comments.errors?.minlength">Min 10 to Max 500 characters</small>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>