@import '../../../../../../@theme/styles/variable.scss';
.detailsForm {
    width: 100%;
    label {
        font-size: 13px;
    }
    // textarea{
    //   font-size: 12px;
    // }
}

.font_size_field {
    font-size: 12px;
}

.left_space {
    padding-left: 2px;
}

.reqField {
    display: inline;
    // font-size: 16px;
    color: #ed462f !important;
}

.form_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
}

// .nominationcalenderIcon {
//     font-size: 21px;
// }
.noPadding {
    padding: 0 !important;
}

.detailcontent {
    padding: 15px;
}

.detailsInput {
    font-size: 14px;
    box-shadow: none;
}

.form-control {
    box-shadow: none;
    color: #787878 !important;
}

.nominationdateinput {
    width: 100%;
}

select {
    height: 35px !important;
}

.nominationcalfont {
    font-size: 16px;
    // color: #076ba1;
    color: #fff;
}

.nominationfullwidth {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    .form-control {
        font-size: 14px;
    }
}

input::placeholder {
    font-size: 13px !important;
}

.nominationcalenderIcon {
    padding: 4px 10px;
    display: flex;
    align-items: center;
    border: 1px solid #dadfe6;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-left: none;
}

.nominationopenDatepicker {
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 0.4px;
    font-weight: 500;
    font-family: Poppins;
    border: 2px solid transparent;
    -webkit-transition: none;
    transition: none;
    cursor: default;
    padding: 0.16rem 0.5rem;
    background: #076ba1;
}

.nominationopenDatepicker:focus {
    outline: none;
}

.nominationdatePickerInput:focus {
    border: 1px solid #dadfe6 !important;
    background-color: #ffffff;
}

.inputText:focus {
    border: 1px solid #dadfe6 !important;
    background-color: #ffffff;
}

.drop-height {
    margin: auto;
    height: 34px !important;
    font-size: 14px !important;
    padding: 0px;
}

.calendar2 {
    top: 481.667px;
}

sup {
    color: red;
}