<div class="enrolNomineeContainer">

    <div class="accordion" id="accordionExample">
        <div class=" m0 formGen manualformGen" id="manual">
            <div class="col-md-12 grid-margin stretch-card  manualformGenCard">
                <div class="card cardForm manualCardForm">
                    <div class="card-body manualCardBody">
                        <div class="headerCard">
                            <h4 class="card-title manualTitle">
                                <label class="sqrCheckBoxEnrol pointer width100">
                <input id="mEnrol" type="checkbox" name="manualEnrol" class="marginRight5px"
                  (ngModelChange)="onCheckBoxClick($event,'manual')" [(ngModel)]="enrolment.manual"
                  data-toggle="collapse" data-target="#collapseManual" aria-controls="collapseManual">
                Manual
              </label>
                            </h4>
                        </div>
                        <div id="collapseManual" class="collapse show" aria-labelledby="collapseManual" data-parent="#accordionExample" *ngIf="enrolment.manual == true">
                            <div class="topBorderForm"></div>
                            <form class="forms-sample" class="panel-body manualContent" #userForm="ngForm">
                                <div class="form-group" style="margin-bottom: 0px">
                                    <div class="col-md-12 manualToolBar">
                                        <div class="col-md-4">
                                            <input type='text' class="manSearchUsr searchInput" [(ngModel)]="searchvalue.value" placeholder='Search by ECN, Name, Email..' (keyup)='searchManEnrol($event)' name="fname" />
                                            <i class="fa fa-remove searchRemove" (click)="clearesearch()"></i>
                                        </div>
                                        <div class="col-md-6">
                                            <angular2-multiselect [data]="tempUsers" [(ngModel)]="selectedUsers" [settings]="settingsUsersSelDrop" (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)"
                                                name="selectedUsers" ngDefaultControl>
                                                <c-search>
                                                    <ng-template>
                                                        <input type="text" (keyup)="onSearch($event)" placeholder="Search users..." [(ngModel)]="searchvalue.value1" name="fname" />
                                                        <i class="fa fa-remove searchRemove" (click)="clearesearch()"></i>
                                                    </ng-template>
                                                </c-search>
                                                <c-item>
                                                    <ng-template let-item="item">
                                                        <label style="color: #333;width: 30%;">{{item.ecn}}</label>
                                                        <label style="color: #333;width: 30%;">{{item.fullname}}</label>
                                                        <label style="color: #333;width: 30%;">{{item.emailId}}</label>
                                                    </ng-template>
                                                </c-item>
                                            </angular2-multiselect>

                                        </div>
                                        <div class="col-md-2 text-right">
                                            <button type="submit" class="constantbtn-button-blue-left" [disable]="!selectedUsers" (click)="manEnrolUser()" id="manEnrolBtn">Add user</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="tableList col-md-12">

                                    <div class="tableCompo ">
                                        <ngx-enrol-table [label]="labels" [pagination]="true" [tableData]="rowsManual" (clickOnbutton)=visibilityTableRow($event)></ngx-enrol-table>
                                    </div>
                                    <div style="padding: 10px">
                                        <div>Total: {{ rowsManual.length }}</div>
                                    </div>
                                </div>


                                <!-- <div class="form-group" style="margin-bottom: 0px">
                                    <div class="col-md-12">
                                        <div>

                                            <ngx-datatable #tableDataManual style="width: 100%" class="material" [columns]="columnsManual" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="30" [limit]="5" [rowHeight]="70" [scrollbarV]="true" [rows]='rowsManual' [selected]="selectedManual"
                                                [selectionType]="'checkbox'" [selectAllRowsOnPage]="false" (activate)="onActivateManual($event)" (select)='onSelectManual($event)'>

                                                <ngx-datatable-column prop="ecn" name="EMP CODE"></ngx-datatable-column>
                                                <ngx-datatable-column prop="fullname" name="FULLNAME">
                                                </ngx-datatable-column>
                                                <ngx-datatable-column prop="emailId" name="EMAIL"></ngx-datatable-column>
                                                <ngx-datatable-column prop="phoneNo" name="MOBILE"></ngx-datatable-column>
                                                <ngx-datatable-column prop="enrolDate" name="DOE"></ngx-datatable-column>
                                                <ngx-datatable-column prop="enrolmode" name="MODE"></ngx-datatable-column>

                                                <ngx-datatable-column [width]="50" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                                                    <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                                                        <a class="deleteUserIcon" title="Delete User">
                                                            <i title="Enabled" class="fa fa-eye card-footer-icon pointer" aria-hidden="true" (click)="disableCourseVisibility(i,row,0)" *ngIf="row.visible == 1"></i>
                                                            <i title="Disabled" class="fa fa-eye-slash card-footer-icon pointer" aria-hidden="true" (click)="disableCourseVisibility(i,row,1)" *ngIf="row.visible==0"></i>
                                                        </a>
                                                    </ng-template>
                                                </ngx-datatable-column>
                                                <ngx-datatable-footer>
                                                    <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize" let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset">
                                                        <div style="padding: 5px 10px">
                                                          
                                                            <div>Total: {{ rowCount }}</div>
                                                        </div>
                                                    </ng-template>
                                                </ngx-datatable-footer>

                                            </ngx-datatable>
                                        </div>
                                    </div>
                                </div> -->
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class=" m0 formGen selfformGen" id="self">
            <div class="col-md-12 grid-margin stretch-card  selfformGenCard">

                <div class="card cardForm selfCardForm">
                    <div class="card-body selfCardBody">
                        <div class="headerCard">
                            <h4 class="card-title selfTitle">
                                <label class="sqrCheckBoxEnrol pointer width100">
                  <input
                    id="self"
                    type="checkbox"
                    name="selfEnrol"
                    class="marginRight5px"
                    (ngModelChange)="onCheckBoxClick($event, 'self')"
                    [(ngModel)]="enrolment.self"
                    data-toggle="collapse"
                    data-target="#collapseself"
                    aria-controls="collapseself"
                  />
                 Self
                                </label>
                            </h4>
                        </div>

                        <div id="collapseself" class="collapse" aria-labelledby="self" data-parent="#accordionExample">
                            <div class="topBorderForm"></div>
                            <form class="forms-sample" class="panel-body selfContent">
                                <div class="form-group" style="margin-bottom: 0px">
                                    <div class="col-md-12 manualToolBar">
                                        <div class="col-md-8">
                                            <input type="text" class="manSearchUsr searchInput" placeholder="Search users..." (keyup)="searchSelfEnrol($event)" [(ngModel)]="searchvalue.value2" name="fname" />
                                            <i class="fa fa-remove searchRemove" (click)="clearesearchSelf()"></i>
                                        </div>

                                        <div class="col-md-1 text-right">
                                            <button type="submit" class="constantbtn-button-blue-left" (click)="openSelfModal()" id="selfBtn">
                        Settings
                      </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="tableList col-md-12">

                                    <div class="tableCompo ">
                                        <ngx-enrol-table [label]="labels1" [pagination]="true" [tableData]="rowsSelf" (clickOnbutton)=visibilityTableRow1($event)></ngx-enrol-table>
                                    </div>
                                    <div style="padding: 10px">
                                        <div>Total: {{ rowsSelf.length }}</div>
                                    </div>
                                </div>

                                <!-- <div class="form-group" style="margin-bottom: 0px">
                                    <div class="col-md-12">
                                        <div>
                                            <ngx-datatable #tableDataSelf style="width: 100%" class="material" [columns]="columnsSelf" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="30" [limit]="5" [rowHeight]="50" [scrollbarV]="true" [rows]="rowsSelf" [selected]="selectedSelf" [selectionType]="'checkbox'"
                                                [selectAllRowsOnPage]="false" (activate)="onActivateSelf($event)" (select)="onSelectSelf($event)">


                                                <ngx-datatable-column prop="ecn" name="EMP CODE"></ngx-datatable-column>
                                                <ngx-datatable-column prop="fullname" name="FULLNAME">
                                                </ngx-datatable-column>

                                                <ngx-datatable-column prop="emailId" name="EMAIL"></ngx-datatable-column>
                                                <ngx-datatable-column prop="phoneNo" name="MOBILE"></ngx-datatable-column>
                                                <ngx-datatable-column prop="enrolDate" name="DOE"></ngx-datatable-column>

                                                <ngx-datatable-column prop="enrolmode" name="MODE"></ngx-datatable-column>

                                                <ngx-datatable-column [width]="50" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                                                    <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                                                        <a class="deleteUserIcon" title="Delete Rule">
                                                            <i title="Enabled" class="fa fa-eye card-footer-icon pointer" aria-hidden="true" (click)="disableselfVisibility(i, row, 0)" *ngIf="row.visible == 1"></i>
                                                            <i title="Disabled" class="fa fa-eye-slash card-footer-icon pointer" aria-hidden="true" (click)="disableselfVisibility(i, row, 1)" *ngIf="row.visible == 0"></i>
                                                        </a>
                                                    </ng-template>
                                                </ngx-datatable-column>
                                                <ngx-datatable-footer>
                                                    <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize" let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset">
                                                        <div style="padding: 5px 10px">

                                                            <div>Total: {{ rowCount }}</div>
                                                        </div>
                                                    </ng-template>
                                                </ngx-datatable-footer>
                                            </ngx-datatable>
                                        </div>
                                    </div>
                                </div> -->
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="addSelfBackdrop" *ngIf="showAddSelfModal == true">
        <div class="addSelfDemoModal">
            <div class="modal-header">
                <p>Self Enrollment</p>
                <button class="close" aria-label="Close" (click)="closeSelfModal()">
      <span aria-hidden="true" class="closebtn">&times;</span>
    </button>
            </div>

            <div class="modal-body addSelfEnrolHeightContainer">
                <form class="forms-sample rules-row col-md-12" #selfForm="ngForm">
                    <div class="row ">
                        <div class="form-group col-md-3">
                            <label for="left_space">{{ helpContent?.course_enrol?.self_type?.label }}
            <sup class="reqFieldActivity">*</sup>
            <div class="help-tooltip">
              <i
                class="fa fa-info-circle tooltip-hover-info-label-round"
                aria-hidden="true"
              ></i>
              <div class="help-tooltip-position-right">
                <p>
                  {{
                    helpContent?.course_enrol?.self_type?.labelHelpContent
                  }}
                </p>
                <i></i>
              </div>
            </div>
          </label>

                            <select id="dropRuleType" class="form-control form-control-input select_field_height" [(ngModel)]="selfFieldsData.sid" name="id" #id="ngModel" required>
            <option value="" selected disabled>Select Type </option>
            <option *ngFor="let type of selfType" value="{{ type.id }}" [hidden]="type.id ==2">{{
              type.name
            }}</option>
          </select>
                            <div *ngIf="id.errors && (id.dirty || id.touched)" class="alert alert-danger">
                                <div [hidden]="!id.errors.required">Type is required</div>
                            </div>
                        </div>

                        <div class="form-group col-md-3" style="padding: 0;">
                            <label for="left_space">{{ helpContent?.course_enrol?.max_enrollments?.label }}
            <sup class="reqFieldActivity">*</sup>
            <div class="help-tooltip">
              <i
                class="fa fa-info-circle tooltip-hover-info-label-round"
                aria-hidden="true"
              ></i>
              <div class="help-tooltip-position-right">
                <p>
                  {{
                    helpContent?.course_enrol?.max_enrollments
                      ?.labelHelpContent
                  }}
                </p>
                <i></i>
              </div>
            </div>
          </label>

                            <!-- <label class="left_space" for="InputRDesc">Max Enrollments
            <sup class="reqFieldActivity">*</sup>
          </label> -->
                            <input type="number" class="form-control form-control-input inputText" id="InputRDesc" placeholder="Max Enrollments" [(ngModel)]="selfFieldsData.maxCount" name="maxCount" #maxCount="ngModel" required />
                            <div *ngIf="maxCount.errors && (maxCount.dirty || maxCount.touched)" class="alert alert-danger">
                                <div [hidden]="!maxCount.errors.required">
                                    Max count is required
                                </div>
                            </div>
                            <span></span>
                        </div>

                        <div class="form-group col-md-3">
                            <label for="left_space">{{ helpContent?.course_enrol?.fields_type?.label }}
            <sup class="reqFieldActivity">*</sup>
            <div class="help-tooltip">
              <i
                class="fa fa-info-circle tooltip-hover-info-label-round"
                aria-hidden="true"
              ></i>
              <div class="help-tooltip-position-right">
                <p>
                  {{
                    helpContent?.course_enrol?.fields_type?.labelHelpContent
                  }}
                </p>
                <i></i>
              </div>
            </div>
          </label>

                            <!-- <label class="left_space" for="dropRuleType">Fields Type
            <sup class="reqFieldActivity">*</sup>
          </label> -->
                            <select id="dropSelfType_{{ i }}" class="form-control form-control-input select_field_height" (change)="selfFieldTypeSelected($event, i, selfField)" [(ngModel)]="selfFieldsData.type" name="selfType_{{ i }}" #type="ngModel" required>
            <option value="" selected disabled
              >Select Type
              <sup class="reqFieldActivity">*</sup>
            </option>
            <option
              *ngFor="let ftype of selfFeildType"
              value="{{ ftype.selfTypeId }}"
            >
              {{ ftype.selfTypeName }}</option
            >
          </select>
                            <div *ngIf="type.errors && (type.dirty || type.touched)" class="alert alert-danger">
                                <div [hidden]="!type.errors.required">
                                    Fields Type is required
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-md-3 addSelfbtn text-right">
                            <button type="submit" class="constantbtn-button-blue-left" (click)="addSelfFields()" id="editbtn" [disabled]="!selfForm.valid">
            Add Field
          </button>
                            <!-- [disabled]="!selfForm.valid" -->
                            <span></span>
                        </div>
                    </div>
                    <!--  *ngIf="isFetchingSettings" -->
                    <!-- selfProfileFieldSelected == true || selfFieldsData.profiles -->
                    <div class="row" *ngIf="isFetchingSettings">
                        <div class="rules-row col-md-12" *ngFor="let selfField of selfFieldsData.profiles; let i = index">
                            <div class="form-group col-md-6">
                                <!-- [(ngModel)]="item.field" -->
                                <!-- <select id="dropSelfRuleType_{{ i }}" class="form-control form-control-input select_field_height" [(ngModel)]="selectedFilterOptionSelf[i]" name="dropSelfRuleType_{{ i }}" #dropSelfRuleType="ngModel"
                                (change)="selfFieldTypeSelected($event, i, item);callTypeSelfFields($event, i)" required> -->
                                <select class="form-control form-control-input select_field_height" #dropSelfRuleType="ngModel" [name]="'dropSelfRuleType_' + i" [id]="'dropSelfRuleType_' + i" [(ngModel)]="selfField.field" ngDefaultControl (change)="
                selfFieldTypeSelected($event, i, selfField);
                callTypeSelfFields($event, i, 2)
              " required>
              <option value="" selected disabled>Select Type</option>
              <option
                *ngFor="let selfProField of profileFieldsSelf"
                [disabled]="selfProField.selected == 'true'" 
                [value]="selfProField.id"
                >{{ selfProField.name }}</option
              >
              <!-- [ngValue]="selfProField" [value]="selfProField.id" [value]="convert_string_to_int(selfField.field)" name="dropSelfRuleType_{{ i }}" -->
            </select>
                                <div *ngIf="
                dropSelfRuleType.errors &&
                (dropSelfRuleType.dirty || dropSelfRuleType.touched)
              " class="alert alert-danger">
                                    <div [hidden]="!dropSelfRuleType.errors.required">
                                        Type is required
                                    </div>
                                </div>
                                <span></span>
                            </div>
                            <div class="form-group col-md-5" *ngIf="controlList[i].datatype == 'text'">
                                <input type="text" class="form-control form-control-input inputText" [id]="'inputText_' + i " placeholder="Input Text" [name]="'fieldTypeValues_' + i" [(ngModel)]="item.fieldValues" #fieldTypeValues="ngModel" required />
                                <div *ngIf="
                fieldTypeValues.errors &&
                (fieldTypeValues.dirty || fieldTypeValues.touched)
              " class="alert alert-danger">
                                    <div [hidden]="!fieldTypeValues.errors.required">
                                        Input required
                                    </div>
                                </div>
                                <span></span>
                            </div>
                            <div class="form-group col-md-5" *ngIf="controlList[i].datatype == 'textarea'">
                                <input type="text" class="form-control form-control-input inputText" [id]="'inputText_' + i " placeholder="Input Text" [name]="'fieldTypeValues_' + i" [(ngModel)]="item.fieldValues" #fieldTypeValues="ngModel" required />
                                <div *ngIf="
                fieldTypeValues.errors &&
                (fieldTypeValues.dirty || fieldTypeValues.touched)
              " class="alert alert-danger">
                                    <div [hidden]="!fieldTypeValues.errors.required">
                                        Input required
                                    </div>
                                </div>
                                <span></span>
                            </div>
                            <div class="form-group col-md-5" *ngIf="controlList[i].datatype == 'number'">
                                <input type="number" class="form-control form-control-input inputText" [id]="'inputText_' + i " placeholder="Input Text" [name]="'fieldTypeValues_' + i" [(ngModel)]="item.fieldValues" #fieldTypeValues="ngModel" required />
                                <div *ngIf="
                fieldTypeValues.errors &&
                (fieldTypeValues.dirty || fieldTypeValues.touched)
              " class="alert alert-danger">
                                    <div [hidden]="!fieldTypeValues.errors.required">
                                        Input required
                                    </div>
                                </div>
                                <span></span>
                            </div>

                            <div class="form-group col-md-5" *ngIf="controlList[i].datatype == 'menu'">
                                <angular2-multiselect [data]="controlList[i].subtype" [(ngModel)]="selfField.fieldValuesArr" [settings]="settings" (onSelect)="onItemSelectSelf($event, i, selfField)" (onDeSelect)="OnItemDeSelectSelf($event, i, selfField)" (onSelectAll)="onSelectAllSelf($event, i, selfField)"
                                    (onDeSelectAll)="onDeSelectAllSelf($event, i, selfField)" [name]="'fieldTypeValues_' + i" [id]="'fieldTypeValues_' + i" #fieldValuesArr="ngModel" ngDefaultControl required>
                                    <c-item>
                                        <ng-template let-item="item">
                                            <label>{{ item.name }}</label>
                                        </ng-template>
                                    </c-item>
                                </angular2-multiselect>
                                <div *ngIf="fieldValuesArr.errors && (fieldValuesArr.dirty || fieldValuesArr.touched)" class="alert alert-danger">
                                    <div [hidden]="!fieldValuesArr.errors.required">Input required</div>
                                </div>
                            </div>
                            <!-- [(ngModel)]="selectedfiltervalue[i]"  -->

                            <div class="form-group col-md-5" *ngIf="controlList[i].datatype == 'datetime'">
                                <!-- [minDate]="minDate" -->
                                <input placeholder="Select date:" class="form-control datePickerInput" [max]="maxDate" [bsConfig]="{
                containerClass: 'theme-dark-blue',
                dateInputFormat: 'DD-MM-YYYY'
              }" [selectMode]="'range'" [owlDateTimeTrigger]="dtRange4" [owlDateTime]="dtRange4" [name]="'fieldTypeValues_' + i" [id]="'fieldTypeValues_' + i" [(ngModel)]="selfField.fieldValues" ngDefaultControl #fieldValues="ngModel" required />
                                <owl-date-time [pickerType]="'calendar'" #dtRange4></owl-date-time>
                                <div *ngIf="
                fieldValues.errors &&
                (fieldValues.dirty || fieldValues.touched)
              " class="alert alert-danger">
                                    <div [hidden]="!fieldValues.errors.required">
                                        Input required
                                    </div>
                                </div>
                                <span></span>
                            </div>

                            <div class="form-group col-md-1">
                                <span class="glyphicon glyphicon-remove pull-right paraRemove fa fa-times" *ngIf="selfFieldsData.profiles.length > 1" (click)="removeSelfFields(i, id, selfField)"></span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer text-right">
                <!-- <button type="button" *ngIf = "selfProfileFieldSelected == false" class=" floteright constantbtn" (click)="saveSelfFields()" id="editbtn" [disabled]="!selfForm.valid">Save</button>             -->
                <button type="button" class="constantbtn-button-blue-left" (click)="saveSelfFields(selfFieldsData, selfForm)" id="editbtn" [disabled]="!addSelfFieldsForm.valid && !selfForm.valid">
      Save
    </button>
                <!-- [disabled]="!addSelfFieldsForm.valid" -->
            </div>
        </div>
    </div>
</div>