<!-- <div>
    <div [hidden]="enrolTab" style="position:fixed;right: 2%;top:76px;z-index: 2">
        <button type="submit" class="back_button" (click)="back()">Back</button>

    </div>
    <div [hidden]="!enrolTab" style="position:fixed;right: 2%;top:76px;z-index: 1000">
        <button type="button" class="constantbtn-button-blue-left" *ngIf="!showEnrolpage" (click)="saveEnrol()">Enrol</button>
        <button type="button" class="constantbtn-button-blue-right" *ngIf="!showBulkpage " (click)="bulkEnrol()">Bulk Enrol</button>
        <button type="submit" class="back_button" *ngIf="!showEnrolpage && !showBulkpage" (click)="back()">Back</button>
        <button type="button" class="back_button" *ngIf="showEnrolpage || showBulkpage" (click)="backToEnrol()">Back</button>

    </div>
</div> -->

<app-subheader [headerConfig]="header" (btnthree)="bulkEnrol('')" (btntwo)="saveEnrol()" (backClick)="back()" (btnfour)="passData('details')" (btnfive)="passData('add')" (btnsix)="passData('save')" (btnseven)="passData('steps')" (btneight)="downloadTableData()"
    (btnine)="openDialog()"></app-subheader>

<div style="top:2%">
    <nb-tabset class="custom_tabset nominationTabset" (changeTab)="selectedTab($event);">
        <nb-tab tabTitle="Details" [active]="detailsTab" class="nominationDetailsTab">
            <div class="row m0 nominationformGen">
                <div class="col-md-12 stretch-card nominationformGenCard">
                    <div class="card cardForm">
                        <div class="card-body nopadding cardBody">
                            <div class="">
                                <eep-details [inpdata]="isdata" [servicedata]="servicedata" (passWfId)="getId($event)"></eep-details>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nb-tab>
        <nb-tab tabTitle="Program Structure" [active]="codeOfConduct" class="nominationDetailsTab">
            <div class="row m0 nominationformGen">
                <div class="col-md-12 stretch-card nominationformGenCard">
                    <div class="card cardForm">
                        <div class="card-body nopadding cardBody" style="height: 100vh;">
                            <div class="">
                                <eep-code-of-conduct [inpdata]="isdata" [servicedata]="servicedata"></eep-code-of-conduct>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nb-tab>

        <nb-tab tabTitle="Content" [active]="content" class="nominationDetailsTab">
            <div class="row m0 nominationformGen">
                <div class="col-md-12 stretch-card nominationformGenCard">
                    <div class="card cardForm">
                        <div class="card-body nopadding cardBody" style="height: 100vh;">
                            <div class="">
                                <eep-content [chnage]="content" [servicedata]="servicedata" (passcrsId)="getcrsId($event)"></eep-content>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nb-tab>



        <nb-tab tabTitle="Steps" [active]="steps" class="nominationDetailsTab">
            <div class="row m0 nominationformGen">
                <div class="col-md-12 stretch-card nominationformGenCard">
                    <div class="card cardForm">
                        <div class="card-body nopadding cardBody" *ngIf="steps" style="height: 100vh;">
                            <div class="">
                                <eep-steps [inpdata]="isdata" [chnage]="steps" [servicedata]="servicedata"></eep-steps>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nb-tab>
        <nb-tab tabTitle="Enrol" [active]="enrolTab" class="nominationDetailsTab">
            <div class="row m0 nominationformGen">
                <div class="col-md-12 stretch-card nominationformGenCard">
                    <div class="card cardForm">
                        <div class="card-body nopadding cardBody" style="height: 100vh;">
                            <div class="" style="padding: 1.25rem;width: 100%;" *ngIf="!showBulkpage && !showEnrolpage">
                                <div class="manEnrolSrchDiv col-md-12">
                                    <input type='text' class="manEnrolSearchUsr searchInput" placeholder='Search user...' (keyup)='searchEnrolUser($event)' [(ngModel)]="searchvalue.value" name="fname">
                                    <i class="fa fa-remove searchRemove" style="position:absolute; cursor: pointer;" (click)="clearesearch()"></i>
                                    <div *ngIf="rows.length!=0">
                                        <!-- <input type='text' class="manEnrolSearchUsr searchInput" placeholder='Search user...' (keyup)='searchEnrolUser($event)' [(ngModel)]="searchvalue.value" name="fname">
                                        <i class="fa fa-remove searchRemove" style="position:absolute; cursor: pointer;" (click)="clearesearch()"></i> -->
                                    </div>
                                    <!-- <button type="submit" class="constantbtn-button-blue" *ngIf="!showEnrolpage && !showBulkpage" (click)="downloadTableData()">Download</button> -->
                                    <!-- <button type="button" class="constantbtn-button-blue" *ngIf="!showEnrolpage ||!showBulkpage" (click)="openDialog()">Upload</button> -->


                                    <div class="tableList">
                                        <div class="tableCompo ">
                                            <ngx-enrol-table [label]="labels" [pagination]="true" [tableData]="rows" [addPointer]="true" (clickOntext)="getEmployeeCriteria($event)" (clickOnbutton)=visibilityTableRow($event)></ngx-enrol-table>
                                        </div>
                                        <div style="padding: 10px" *ngIf="rows.length!=0&&!showBulkpage && !showEnrolpage">
                                            <div>Total: {{ rows.length }}</div>
                                        </div>
                                    </div>
                                </div>
                                <ngx-no-data [config]="noDataVal" *ngIf="rows?.length==0"></ngx-no-data>

                            </div>


                            <!-- <div class="row" style="width: 100%;" *ngIf="!showBulkpage && !showEnrolpage">

                            <div class="col-md-12" *ngIf='isShown'> -->
                            <!--  [selected]="selectedManual" [selectionType]="'checkbox'"
                                    [selectAllRowsOnPage]="false"  -->
                            <!-- <ngx-datatable #myTable style="width: 100%" class="material" [rows]="rows" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="30" [rowHeight]="50" [limit]="9" [scrollbarV]="true" [selectionType]="'checkbox'" [selectAllRowsOnPage]="false" [displayCheck]="displayCheck"
                                    (activate)="onEnrolDataClickEvent($event)" (select)='onSelectEnrolData($event)' (page)="onPageEnrolData($event)"> -->
                            <!-- <ngx-datatable #tableDataSelf style="width: 100%" class="material" [columns]="columnsSelf" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="30" [limit]="5" [rowHeight]="50" [scrollbarV]="true" [rows]="rowsSelf" [selected]="selectedSelf" [selectionType]="'checkbox'"
                                                [selectAllRowsOnPage]="false" (activate)="onActivateSelf($event)" (select)="onSelectSelf($event)"> -->
                            <!--
                                    <ngx-datatable-column (click)="openDialog()" prop="ecn" name="EMP CODE"></ngx-datatable-column>
                                    <ngx-datatable-column prop="fullname" name="FULLNAME"></ngx-datatable-column>
                                    <ngx-datatable-column prop="emailId" name="EMAIL"></ngx-datatable-column>
                                    <ngx-datatable-column prop="phoneNo" name="MOBILE"></ngx-datatable-column>
                                    <ngx-datatable-column prop="enrolDate" name="DOE"></ngx-datatable-column>
                                    <ngx-datatable-column prop="enrolmode" name="MODE"></ngx-datatable-column>
                                    <ngx-datatable-column prop="result" name="CRITERIA STATUS"></ngx-datatable-column>
                                    <ngx-datatable-column [width]="100" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                                        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                                            <a class="deleteUserIcon" title="Delete User">
                                                <i title="Enabled" class="fa fa-eye card-footer-icon pointer" aria-hidden="true" (click)="disableCourseVisibility(i,row,0)" *ngIf="row.visible == 1"></i>
                                                <i title="Disabled" class="fa fa-eye-slash card-footer-icon pointer" aria-hidden="true" (click)="disableCourseVisibility(i,row,1)" *ngIf="row.visible==0"></i>
                                            </a>
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-footer>
                                        <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize" let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset">
                                            <div style="padding: 5px 10px">

                                                <div>Total: {{ rowCount }}</div>
                                            </div>
                                        </ng-template>
                                    </ngx-datatable-footer>
                                </ngx-datatable>


                            </div>
                        </div> -->
                            <div class="" *ngIf="showEnrolpage && !showBulkpage">
                                <eep-enrol-nominee [chnage]="steps" [servicedata]="servicedata"></eep-enrol-nominee>
                            </div>

                            <div *ngIf="showBulkpage && !showEnrolpage " class="subMenu">

                                <div class="col-md-12 grid-margin stretch-card" *ngIf="!preview">
                                    <div class="">
                                        <div class="card-body enrolCardBody">
                                            <div class="col-12 margin10 ">
                                                <div class="form-group inputenup">
                                                    <label class="sr-only" for="inputFile">File Upload</label>
                                                    <input type="file" #fileUpload class="form-control-file text-success font-weight-bold " id="inputFile" accept=".xls,.xlsx" (change)="readFileUrl($event)" attr.data-title="{{fileName}}">
                                                </div>
                                                <span></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12 grid-margin stretch-card" *ngIf="preview">
                                    <div class="card cardForm">
                                        <div class="card-body enrolCardBody">
                                            <div class="col-12 margin10 ">
                                                <ngx-datatable #previewTable style="width: 100%" class="material" [rows]="datasetPreview" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="30" [rowHeight]="50" [limit]="9" [scrollbarV]="true" [selected]="selected" [selectAllRowsOnPage]="false"
                                                    [displayCheck]="displayCheck">
                                                    <ngx-datatable-column prop="status" name="STATUS"></ngx-datatable-column>
                                                    <ngx-datatable-column prop="ecn" name="EMP CODE"></ngx-datatable-column>
                                                    <ngx-datatable-column prop="fullname" name="FULLNAME"></ngx-datatable-column>
                                                    <ngx-datatable-column prop="enrolDate" name="ENROL Date"></ngx-datatable-column>

                                                </ngx-datatable>
                                                <span></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="centerAlign" >

                        </div> -->
                                <div class="text-center ml-2 mb-4">
                                    <button type="button" class="constantbtn-button-blue-left" *ngIf="preview" (click)="savebukupload()">Save</button>
                                    <a href="assets/images/bulkenrolfinal.xlsx" *ngIf="!enableUpload" download>
                                        <button class="constantbtn-button-blue-right"><i class="fas fa-download"></i>Template</button></a>

                                    <button type="button" *ngIf="!preview && enableUpload" class="constantbtn-button-blue-right" (click)="savebukupload()">Upload</button>
                                    <button type="button" *ngIf="!preview && enableUpload" class="constantbtn-button-blue-right" (click)="cancel()">Cancel</button>
                                    <button class="constantbtn-button-blue-right" *ngIf="showInvalidExcel" (click)="exportToExcelInvalid()"><i class="fas fa-download"></i> Enrollment Status</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nb-tab>
        <!-- <nb-tab tabTitle="Enrol" [active]="enrolTab" class="nominationDetailsTab">
        <div class="row m0 nominationformGen">
            <div class="col-md-12 stretch-card nominationformGenCard">
                <div class="card cardForm">
                    <div class="card-body nopadding cardBody">
                        <div class="">
                            <eep-enrol-nominee [chnage]="steps" [servicedata]="servicedata"></eep-enrol-nominee>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nb-tab> -->


        <nb-tab tabTitle="Nominees" [active]="nomineeTab" class="nominationDetailsTab">
            <div class="row m0 nominationformGen">
                <div class="col-md-12 stretch-card nominationformGenCard">
                    <div class="card cardForm">
                        <div class="card-body nopadding cardBody" *ngIf="nomineeTab">
                            <div class="">
                                <eep-nominee-details [nominee]="nomineeTab" [servicedata]="servicedata"></eep-nominee-details>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nb-tab>

        <nb-tab tabTitle="Workflow" [active]="steps_data" class="nominationDetailsTab">
            <div class="row m0 nominationformGen">
                <div class="col-md-12 stretch-card nominationformGenCard">
                    <div class="card cardForm">
                        <div class="card-body nopadding cardBody" style="height: 100vh;">
                            <div class="">

                                <ngx-step-wise-data></ngx-step-wise-data>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nb-tab>
    </nb-tabset>
    <div class="addSelfPopupBackdrop" *ngIf="employeeCriteriaPopup == true">
        <div class="addSelfDemoModal">
            <div class="modal-header">
                <p>Criteria</p>
                <button class="close" aria-label="Close" (click)="closeEmployeeCriteriaModal()">
  <span aria-hidden="true" class="closebtn">&times;</span>
</button>
            </div>
            <div class="popupBody">
                <ngx-datatable #CriteriaTable style="width: 100%" class="material" [rows]="criteriaRows" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="30" [rowHeight]="50" [limit]="9" [scrollbarV]="true" [selectAllRowsOnPage]="false" [displayCheck]="displayCheck">
                    <!-- <ngx-datatable #tableDataSelf style="width: 100%" class="material" [columns]="columnsSelf" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="30" [limit]="5" [rowHeight]="50" [scrollbarV]="true" [rows]="rowsSelf" [selected]="selectedSelf" [selectionType]="'checkbox'"
                        [selectAllRowsOnPage]="false" (activate)="onActivateSelf($event)" (select)="onSelectSelf($event)"> -->

                    <ngx-datatable-column prop="criteria" name="Criteria"></ngx-datatable-column>
                    <ngx-datatable-column prop="status" name="Status"></ngx-datatable-column>


                </ngx-datatable>


            </div>

        </div>
    </div>
</div>