        .marginTop14 {
            margin-top: 14px;
        }
        
        .ngx-datatable.scroll-vertical .datatable-body {
            // overflow-y: auto;
            height: 300px !important;
        }
        
        .nominationformGen,
        .nominationmanualformGen {
            width: 100%;
            margin: 0 auto;
        }
        
        .nominationformGenCard {
            padding-left: 10px;
            padding-right: 10px;
        }
        
        .nominationformGenCard>.nominationcardForm {
            border: none !important;
        }
        
        .manEnrolSrchDiv {
            // width: 100%;
            // margin: 0px 10px;
            // display: grid;
            // grid-template-columns: 10fr 1.2fr 1fr;
            input {
                width: 100%;
                height: 30px;
                border: none;
                border-bottom: 1px solid #eee;
                outline: none;
            }
             ::placeholder {
                padding-left: 10px;
            }
            i {
                right: 20px;
                color: #cecdcd;
            }
            input:focus {
                outline: none;
            }
             :focus::placeholder {
                color: #fff;
                transition: color 0.35s ease-in-out;
            }
        }
        
        .constantbtn-button-blue {
            background: #076ba1;
            color: #fff;
            border: #02a0f5;
            height: 32px;
            min-width: 90px;
            color: #ffffff;
            background-image: none;
            border-color: #02a0f5;
            transform: none;
            text-transform: capitalize;
            border-radius: 3px;
            margin-left: 10px;
        }
        
        .clearbtn {
            // position: absolute;
            // right: 5%;
            top: 10%;
            // text-align: center;
            margin-left: 10px;
        }
        
        .nominationformGenCard>.nominationcardForm>.cardBody {
            background-color: #f1f5f8;
            border: none;
        }
        
        .headerCard {
            display: inline-block;
            width: 100%;
        }
        
        // .sticky-top {
        //     border-bottom: 1px solid #076ba1 !important;
        // }
        .nopadding {
            padding: 0 !important;
        }
        
        .stickybtn {
            padding: 10.5px;
            border-bottom: 0.2px solid #076ba1 !important;
            z-index: 1000;
        }
        
        .nominationTabset>ul {
            background: #fff !important;
            border-bottom: 1px solid #076ba1;
            padding-left: 0 !important;
            padding-right: 0 !important;
            position: -webkit-sticky !important;
            position: sticky!important;
            top: 106px!important;
            z-index: 1;
        }
        
        .nominationTabset>ul>li.active>a {
            // color: #076ba1 !important;
            color: var(--colorCommon) !important;
        }
        
        .nominationTabset>ul>li>a::before {
            // background: #076ba1 !important;
            background: var(--colorCommon) !important;
        }
        
        .nominationTabset>ul>li>a:hover {
            // color: #076ba1 !important;
            color: var(--colorCommon) !important;
        }
        
        .nominationDetailsTab {
            margin-top: 10px !important;
        }
        
        .nominationTabset>ul>li {
            &.disabled {
                cursor: not-allowed;
                a {
                    color: #a4abb3;
                    cursor: not-allowed;
                    pointer-events: none;
                    &:hover {
                        color: #a4abb3;
                    }
                }
            }
        }
        
        .upbackbtn {
            text-align: center;
            margin: 8px;
        }
        
        .inputenup {
            height: 14em;
            .form-control-file {
                position: relative;
                width: 100%;
                height: 100%;
                min-height: 6em;
                outline: none;
                visibility: hidden;
                cursor: pointer;
                background-color: #c61c23;
                box-shadow: 0 0 5px solid currentColor;
                &::before {
                    color: #ed462f;
                    content: attr(data-title);
                    position: absolute;
                    top: 1.5em;
                    left: 0;
                    width: 100%;
                    /* min-height: 8em; */
                    height: 12em;
                    line-height: 8em;
                    padding-top: 1.5em;
                    opacity: 1;
                    visibility: visible;
                    text-align: center;
                    border: 0.15em dashed #9ea4a5;
                    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
                    overflow: hidden;
                }
                &::hover {
                    &:before {
                        border-style: solid #076ba1;
                        /*box-shadow: inset 0px 0px 0px 0.25em currentColor;*/
                    }
                }
            }
        }
        
        .addRuleBackdrop,
        .addRegulatoryBackdrop,
        .addSelfPopupBackdrop {
            // position: absolute;
            // width: 100%;
            // height: 100%;
            // top: 50px;
            // background-color: #404040c2;
            // z-index: 1000;
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0px;
            left: 0px;
            z-index: 1503;
            background-color: #404040c2;
            .addRuleDemoModal,
            .addRegulatoryDemoModal,
            .addSelfDemoModal {
                /*width: 80%;*/
                // width: 50%;
                // margin: auto;
                // background-color: #fff;
                // margin-top: 50px;
                // border-radius: 5px;
                width: 50%;
                margin: auto;
                background-color: #fff;
                margin-top: 65px;
                border-radius: 5px;
            }
        }
        
        .ruleUsersBackdrop {
            // position: absolute;
            // width: 100%;
            // height: 100%;
            // top: 50px;
            // background-color: #404040c2;
            // z-index: 1000;
            // position: absolute;
            // width: 100%;
            // height: 100%;
            // top: 67px;
            // background-color: #404040c2;
            // z-index: 2000;
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0px;
            left: 0px;
            z-index: 1503;
            background-color: #404040c2;
            .ruleUsersDemoModal {
                /*width: 80%;*/
                // width: 50%;
                // margin: auto;
                // background-color: #fff;
                // margin-top: 50px;
                // border-radius: 5px;
                width: 75%;
                margin: auto;
                background-color: #fff;
                margin-top: 65px;
                border-radius: 5px;
            }
        }
        
        .modal-header {
            background-color: #076ba1;
            height: 55px;
            color: #fff !important;
        }
        
        .close {
            outline: none;
        }