<app-subheader [headerConfig]="header" (backClick)="back($event)" (comeBack)='gotodetails($event,"eve")' (addbtn)="addEditSection('',0)" (inputsearch)="SarchFilter($event)" (Clear)="clear()"></app-subheader>
<div class="tool_category_container">
    <div class="tool_category_div">
        <!-- <div class="top_header_container">
            <div class="top_header_div_sticky content_width">
                <div class="page_title">
                    <h4>Tools</h4>
                </div>

                <div class="search_div">

                    <input type="text" (keyup)="SarchFilter($event, searchtext)" [(ngModel)]="searchtext" class="form-control search_field" placeholder="Search by Tools title">
                    <i class="fa fa-remove remove_icon" aria-hidden="true" (click)="clear()"></i>
                </div>
                <div class="buttons_div">
                    <button type="button" class="constantbtn-button-blue-left " (click)="addEditSection('',0)">Add
            Section</button>
                    <button type="submit" class="back_button " (click)="back()" *ngIf="parentSectionId">Back</button>
                </div>
            </div>
        </div> -->



        <app-skeleton [count]='count' *ngIf="!skeleton"></app-skeleton>



        <!-- <table *ngIf="!skeleton">
            <tr>
                <div class="multiple_tools_card_container1">
                    <div class="tools_width">
                        <div class="tools_container1">
                            <td>
                                <div class="tools_card1">
                                    <div class="tools">
                                        <ngx-skeleton-loader [theme]="{ width: '215px', height: '130px','margin': '5px' }">
                                        </ngx-skeleton-loader>
                                    </div>
                                    <div class="tools-title">
                                        <ngx-skeleton-loader [theme]="{
                                                  width: '170px',
                                                  height: '40px'
                                                }"></ngx-skeleton-loader>
                                    </div>
                                    <div class="tools-title">
                                        <ngx-skeleton-loader [theme]="{
                                                  width: '170px',
                                                  height: '40px'
                                                }"></ngx-skeleton-loader>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="tools_card1">
                                    <div class="tools">
                                        <ngx-skeleton-loader [theme]="{ width: '215px', height: '130px','margin': '5px' }">
                                        </ngx-skeleton-loader>
                                    </div>
                                    <div class="tools-title">
                                        <ngx-skeleton-loader [theme]="{
                                                  width: '170px',
                                                  height: '40px'
                                                }"></ngx-skeleton-loader>
                                    </div>
                                    <div class="tools-title">
                                        <ngx-skeleton-loader [theme]="{
                                                  width: '170px',
                                                  height: '40px'
                                                }"></ngx-skeleton-loader>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="tools_card1">
                                    <div class="tools">
                                        <ngx-skeleton-loader [theme]="{ width: '215px', height: '130px','margin': '5px'}">
                                        </ngx-skeleton-loader>
                                    </div>
                                    <div class="tools-title">
                                        <ngx-skeleton-loader [theme]="{
                                                  width: '170px',
                                                  height: '40px'
                                                }"></ngx-skeleton-loader>
                                    </div>
                                    <div class="tools-title">
                                        <ngx-skeleton-loader [theme]="{
                                                  width: '170px',
                                                  height: '40px'
                                                }"></ngx-skeleton-loader>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="tools_card1">
                                    <div class="tools">
                                        <ngx-skeleton-loader [theme]="{ width: '215px', height: '130px','margin': '5px'}">
                                        </ngx-skeleton-loader>
                                    </div>
                                    <div class="tools-title">
                                        <ngx-skeleton-loader [theme]="{
                                                  width: '170px',
                                                  height: '40px'
                                                }"></ngx-skeleton-loader>
                                    </div>
                                    <div class="tools-title">
                                        <ngx-skeleton-loader [theme]="{
                                                  width: '170px',
                                                  height: '40px'
                                                }"></ngx-skeleton-loader>
                                    </div>
                                </div>
                            </td>
                        </div>
                    </div>
                </div>
            </tr>
            <tr>
                <div class="multiple_tools_card_container1">
                    <div class="tools_width">
                        <div class="tools_container1">
                            <td>
                                <div class="tools_card1">
                                    <div class="tools">
                                        <ngx-skeleton-loader [theme]="{ width: '215px', height: '130px','margin': '5px'}">
                                        </ngx-skeleton-loader>
                                    </div>
                                    <div class="tools-title">
                                        <ngx-skeleton-loader [theme]="{
                                                      width: '170px',
                                                      height: '40px'
                                                    }"></ngx-skeleton-loader>
                                    </div>
                                    <div class="tools-title">
                                        <ngx-skeleton-loader [theme]="{
                                                      width: '170px',
                                                      height: '40px'
                                                    }"></ngx-skeleton-loader>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="tools_card1">
                                    <div class="tools">
                                        <ngx-skeleton-loader [theme]="{ width: '215px', height: '130px','margin': '5px'}">
                                        </ngx-skeleton-loader>
                                    </div>
                                    <div class="tools-title">
                                        <ngx-skeleton-loader [theme]="{
                                                      width: '170px',
                                                      height: '40px'
                                                    }"></ngx-skeleton-loader>
                                    </div>
                                    <div class="tools-title">
                                        <ngx-skeleton-loader [theme]="{
                                                      width: '170px',
                                                      height: '40px'
                                                    }"></ngx-skeleton-loader>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="tools_card1">
                                    <div class="tools">
                                        <ngx-skeleton-loader [theme]="{ width: '215px', height: '130px','margin': '5px'}">
                                        </ngx-skeleton-loader>
                                    </div>
                                    <div class="tools-title">
                                        <ngx-skeleton-loader [theme]="{
                                                      width: '170px',
                                                      height: '40px'
                                                    }"></ngx-skeleton-loader>
                                    </div>
                                    <div class="tools-title">
                                        <ngx-skeleton-loader [theme]="{
                                                      width: '170px',
                                                      height: '40px'
                                                    }"></ngx-skeleton-loader>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="tools_card1">
                                    <div class="tools">
                                        <ngx-skeleton-loader [theme]="{ width: '215px', height: '130px','margin': '5px'}">
                                        </ngx-skeleton-loader>
                                    </div>
                                    <div class="tools-title">
                                        <ngx-skeleton-loader [theme]="{
                                                      width: '170px',
                                                      height: '40px'
                                                    }"></ngx-skeleton-loader>
                                    </div>
                                    <div class="tools-title">
                                        <ngx-skeleton-loader [theme]="{
                                                      width: '170px',
                                                      height: '40px'
                                                    }"></ngx-skeleton-loader>
                                    </div>
                                </div>
                            </td>
                        </div>
                    </div>
                </div>
            </tr>
        </table> -->
        <!-- <div class="multiple_category_card_container" *ngIf="!noDataFound">
            <div class="content_width" *ngIf="skeleton">
                <div class="cards_container">
                    <div class="singel_card" *ngFor="let item of allSection;let i=index"> -->
        <!-- <div class="overlay_hidden" [hidden]="item.visible == 1">
                            <i title="Disabled" id="enable_{{item.visible}}" class="fa fa-eye-slash" aria-hidden="true" (click)="disableSection(2,item)"></i>
                        </div>
                        <div class="singel_card_image " *ngIf="item.sectionIcon" (click)="goto(item)">
                            <i class=" {{ item.sectionIcon }} fa-7x fa-position" aria-hidden="true" [spin]="true" [styles]="{'stroke': 'red', 'color': 'red'}"> </i>
                        </div>
                        <div class="singel_card_image not_found" *ngIf="!item.sectionIcon" (click)="goto(item)">
                        </div>
                        <div class="card_title" (click)="goto(item)">
                            <div *ngIf="item?.sectionName">
                                <div class="" title="{{item.sectionName}}" *ngIf="item?.sectionName?.length <= 15">
                                    {{item.sectionName}}</div>
                                <div class="" title="{{item.Name}}" *ngIf="item?.sectionName?.length > 15">
                                    {{item.sectionName.substring(0,15)}}...</div>
                            </div>
                            <div *ngIf="!(item?.sectionName)"></div>
                        </div>
                        <div class="card_subtitle" title="Category Code" (click)="goto(item)">
                            <div *ngIf="item?.sectionDesc">
                                <div class="" title="{{item.sectionDesc}}" *ngIf="item?.sectionDesc?.length <= 30">
                                    {{item.sectionDesc}}</div>
                                <div class="" title="{{item.sectionDesc}}" *ngIf="item?.sectionDesc?.length > 30">
                                    {{item.sectionDesc.substring(0,30)}}...</div>
                            </div>
                            <div *ngIf="!(item?.sectionDesc)"></div>
                        </div>
                        <div class="user-icon">
                            <div class="icons-enable-disable" title="Edit" (click)="addEditSection(item,1)">
                                <i aria-hidden="true" class="fa fa-edit"></i>
                            </div>

                            <div class="icons-enable-disable">
                                <i title="Enabled" id="disable_{{item.id}}" class="fa fa-eye" aria-hidden="true" (click)="disableSection(1,item)" [hidden]="item.visible == 0"></i>

                                <i title="Disabled" id="enable_{{item.id}}" class="fa fa-eye-slash" aria-hidden="true" (click)="disableSection(2,item)" [hidden]="item.visible == 1"></i>
                            </div>


                        </div> -->
        <!-- </div>
                </div>
            </div>
        </div> -->
        <div *ngIf="!noDataFound">
            <div *ngIf="skeleton">
                <div *ngFor="let item of allSection;let i=index">
                    <ngx-card (disabled)="clickTodisableTool(item)" (sectionEdit)="EditSection(item)" [cardsList]="item" [config]="cardModify" (gotoDetails)="gotodetails(item,'')"></ngx-card>
                </div>
            </div>
        </div>







        <div *ngIf="noDataFound">
            <!-- <div class="">
                <div class="col-md-12">
                    <img style="width: 1000px;" src='assets/images/noDataFound1.png' onerror="this.src='assets/images/noDataFound1.png';">

                </div>
            </div> -->
            <ngx-no-data [config]="noDataVal"></ngx-no-data>
        </div>
    </div>

    <ngx-sidebar-form *ngIf="showSection" [sidebarTitle]="title" [buttonName]="btnName" [saveDisabled]="!categoryFormValidation.form.valid" (saveBtn)="submit(sectionForm)" (outside)="closeModal()" (closeBtn)="closeModal()">
        <!-- <div class="sectionModalBackdrop " *ngIf="showSection == true">
        <div class="addSelfDemoModalCat">
            <div class="modal-header">
                <p *ngIf="addAction">Add Section</p>
                <p *ngIf="!addAction">Edit Section</p>
                <button class="close " aria-label="Close" (click)="closeModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modalBody12"> -->

        <form class="forms-sample" (ngSubmit)="onSubmit(categoryFormValidation)" #categoryFormValidation="ngForm">
            <div class="row rowMarginAuto">
                <div class="col-6">
                    <div class="boxMargin">
                        <label class="side-form-label">Name<sup>&#x2731;</sup>
                                    <app-info-tooltip [description]="tooltipName">
                                    </app-info-tooltip>
                                  </label>
                        <!-- <label class="left_space">
                                    Name
                                    <h3 class="reqFieldActivity">*</h3>
                                    <div class="help-tooltip">
                                        <i class="fa fa-info-circle tooltip-hover-info-label-round"
                                            aria-hidden="true"></i>
                                        <div class="help-tooltip-position-right">
                                            <p>Enter the name of the Section</p>
                                            <i></i>
                                        </div>
                                    </div>
                                </label> -->
                        <input type="text" class="form-control commonInput" minlength="2" maxlength="50" required [(ngModel)]="sectionForm.secName" id="name" placeholder="Maximum 50 characters" name="name" #secName="ngModel">
                        <div *ngIf="secName.errors && (secName.dirty || secName.touched)">
                            <small class="invalid-msg" *ngIf="secName.errors.required">Section name is required.</small>
                            <!-- <small *ngIf="assetName.errors?.maxlength">max Length error.</small> -->
                            <small class="invalid-msg" *ngIf="secName.errors.minlength">Minimum 2 & maximum 50 characters required
                                    </small>
                            <small class="invalid-msg" *ngIf="secName.errors.maxlength">Minimum 2 & maximum 50 characters required
                                    </small>
                        </div>
                        <!-- <span class="help-block" *ngIf="!secName.valid && secName.touched">Name is required.</span> -->
                        <!-- <span class="help-block" *ngIf="secName.valid && secName.touched && secName.ma">Name is required.</span> -->

                    </div>

                    <div class="boxMargin no-margin">
                        <label class="side-form-label">Description<sup>&#x2731;</sup>
                                    <app-info-tooltip [description]="tooltipDesc">
                                    </app-info-tooltip>
                                  </label>
                        <!-- <label class="left_space">
                                    Description
                                    <h3 class="reqFieldActivity">*</h3>
                                    <div class="help-tooltip">
                                        <i class="fa fa-info-circle tooltip-hover-info-label-round"
                                            aria-hidden="true"></i>
                                        <div class="help-tooltip-position-right">
                                            <p>Enter description for section</p>
                                            <i></i>
                                        </div>
                                    </div>
                                </label> -->
                        <textarea type="text" class="form-control smallHeight commonTextarea" id="" [(ngModel)]="sectionForm.secDescription" placeholder="Min 20 and Max 500 characters." name="desc" #desc="ngModel" minlength="20" maxlength="500" required [ngClass]="{ 'is-invalid': submitted && desc.errors }"></textarea>

                        <!-- <span class="help-block" *ngIf="!desc.valid && desc.touched">Description is required.</span> -->
                        <div *ngIf="desc.errors && (desc.dirty || desc.touched)">
                            <small class="invalid-msg" *ngIf="desc.errors.required">Description is required.</small>
                            <!-- <small class="invalid-msg"*ngIf="assetName.errors?.maxlength">max Length error.</small>class="invalid-msg" -->
                            <small class="invalid-msg" *ngIf="desc.errors.minlength">Minimum 20 & maximum 500 characters required
                            </small>
                            <small class="invalid-msg" *ngIf="desc.errors.maxlength">Minimum 20 & maximum 500 characters required
                            </small>
                        </div>

                    </div>
                </div>

                <div class="col-6">

                    <div class="boxMargin" *ngIf="addAction">
                        <label class="side-form-label">Content<sup>&#x2731;</sup>
                                    <app-info-tooltip [description]="tooltipCont">
                                    </app-info-tooltip>
                                  </label>
                        <!-- <label class="left_space">
                                    Content
                                    <h3 class="reqFieldActivity">*</h3>
                                    <div class="help-tooltip">
                                        <i class="fa fa-info-circle tooltip-hover-info-label-round"
                                            aria-hidden="true"></i>
                                        <div class="help-tooltip-position-right">
                                            <p>Enter the Content of the Section</p>
                                            <i></i>
                                        </div>
                                    </div>
                                </label> -->
                        <select id="content" class="custom-select commonSelect" name="Content" [(ngModel)]="sectionForm.secContent" #conName="ngModel" required>
                                    <option value="" disabled selected>Select content</option>
                                    <option *ngFor="let data of dropdownActivity" value={{data.LOVValue}}>
                                        {{data.LOVName}}</option>
                                </select>
                        <!-- <span class="help-block" *ngIf="!conName.valid && conName.touched">Please select content.</span> -->
                        <div *ngIf="conName.errors && (conName.dirty || conName.touched)">
                            <small class="invalid-msg" *ngIf="conName.errors.required">Content is required</small >
                        </div>

                    </div>

                    <div class="boxMargin" *ngIf="!addAction">
                        <label class="side-form-label">Content<sup>&#x2731;</sup>
                                    <app-info-tooltip [description]="tooltipCont">
                                    </app-info-tooltip>
                                  </label>
                        <!-- <label class="left_space">
                                    Content
                                    <h3 class="reqFieldActivity">*</h3>
                                    <div class="help-tooltip">
                                        <i class="fa fa-info-circle tooltip-hover-info-label-round"
                                            aria-hidden="true"></i>
                                        <div class="help-tooltip-position-right">
                                            <p>Enter the Content of the Section</p>
                                            <i></i>
                                        </div>
                                    </div>
                                </label> -->
                        <select id="content" class="custom-select commonSelect" name="Content" [(ngModel)]="sectionForm.secContent" #conName="ngModel" required disabled>
                                    <option value="" selected disabled>Select content type</option>
                                    <option *ngFor="let data of dropdownActivity" value={{data.LOVValue}}>
                                        {{data.LOVName}}</option>
                                </select>
                        <!-- <span class="help-block" *ngIf="!conName.valid && conName.touched">Please select content.</span> -->
                        <div *ngIf="conName.errors && (conName.dirty || conName.touched)" class="alert alert-danger custom-alert">
                            <small class="invalid-msg" *ngIf="conName.errors.required">Content is required</small>
                        </div>
                    </div>
                    <div class="boxMargin">
                        <label class="side-form-label">Icon<sup>&#x2731;</sup>
                                    <app-info-tooltip [description]="tooltipIcon">
                                    </app-info-tooltip>
                                  </label>
                        <!-- <label class="left_space">
                                    Icon
                                    <h3 class="reqFieldActivity">*</h3>
                                    <div class="help-tooltip">
                                        <i class="fa fa-info-circle tooltip-hover-info-label-round"
                                            aria-hidden="true"></i>
                                        <div class="help-tooltip-position-right">
                                            <p>Enter the Icon of the Section</p>
                                            <i></i>
                                        </div>
                                    </div>
                                </label> -->
                        <div class="input-group">
                            <input type="text" name="iconCss" class="form-control commonInput" autocomplete="off" required [(ngModel)]="secIcon" [iconPicker]="icon" [ipPosition]="'bottom'" [ipWidth]="'250px'" [ipPlaceHolder]="'Choose an icon'" [ipIconPack]="['fa5']" [ipFallbackIcon]="fallbackIcon"
                                [ipIconPack]="['fa5']" (iconPickerSelect)="onIconPickerSelect($event)" />
                            <span class="input-group-addons" autocomplete="off"> 
                                            <i class=" {{ secIcons.value }} fa-2x " aria-hidden="true" [spin]="true"> </i>
                                        </span>
                        </div>

                    </div>

                </div>
            </div>
        </form>
    </ngx-sidebar-form>
    <!-- </div>
            <div class="modal-footer ">
                <button class="constantbtn-button-blue-left" [disabled]="!categoryFormValidation.form.valid" (click)="submit(sectionForm)">Save</button>
            </div>
        </div>
    </div>
</div> -->

    <!-- <div *ngIf="noDataFound">
    <div class="row">
        <div class="col-md-12 noDataDiv">
            <img class="noDataImg" src='assets/images/noDataFound1.png' onerror="this.src='assets/images/noDataFound1.png';">

        </div>
    </div>
    <ngx-no-data ></ngx-no-data>
</div> -->

    <div class="deleteModalBackdrop" *ngIf="enableDisableToolModal == true">
        <div class="deleteModal">
            <div class="modal-header deleteModalHeader">
                <p *ngIf="!enableTool" class="enableDisableModalHeaderP">{{title}}</p>
                <p *ngIf="enableTool" class="enableDisableModalHeaderP">{{title}}</p>
                <button class="close closeDeleteModalBtn" aria-label="Close" (click)="closeEnableDisableToolModal()">
                  <span aria-hidden="true">&times;</span>
              </button>
            </div>

            <div class="modal-body">
                <div class="" *ngIf="!enableTool">
                    <p class="enableDisableModalBodyP">Are you sure you want to Enable {{enableToolData.sectionName}} ?</p>
                </div>
                <div class="" *ngIf="enableTool">
                    <p class="enableDisableModalBodyP">Are you sure you want to Disable {{enableToolData.sectionName}} ?</p>
                </div>
            </div>

            <div class="modal-footer deleteModalFooter">
                <div class="col-md-2">
                    <button type="button" class="deleteModalBtn" (click)="enableDisableToolAction(true)">Yes</button>
                </div>
                <div class="col-md-2">
                    <button type="button" class="deleteModalBtn" (click)="enableDisableToolAction(false)">No</button>
                </div>
            </div>
        </div>
    </div>