.pvtUi { 
    color: #333; 
    border: 1px solid;
    background: #eee;
}


table.pvtTable {
    font-size: 8pt;
    text-align: left;
    border-collapse: collapse;
    min-width: 746px !important;
}
table.pvtTable thead tr th, table.pvtTable tbody tr th {
    background-color: #e6EEEE;
    border: 1px solid #CDCDCD;
    font-size: 8pt;
    padding: 5px;
}

table.pvtTable .pvtColLabel {text-align: center;}
table.pvtTable .pvtTotalLabel {text-align: right;}

table.pvtTable tbody tr td {
    color: #3D3D3D;
    padding: 5px;
    background-color: #FFF;
    border: 1px solid #CDCDCD;
    vertical-align: top;
    text-align: right;
}

.pvtTotal, .pvtGrandTotal { 
    font-weight: bold;
    /* color: #FF9800 !important; */
    /* background: #8a8989 !important; */
}

.pvtGrandTotal { 
    /* color: #FF9800 !important; */
    /* background: #8a8989 !important; */
    color: #889829 !important;
    background: #e6eeee !important;
}

.rowTotal { 
    font-weight: bold;
    color: #FF9800 !important;
    background: #8a8989 !important;
}

.colTotal { 
    font-weight: bold;
    color: #51c9e8 !important;
    background: #8a8989 !important;
}

.pvtRowLabel, .pvtColTotalLabel { 
    /* font-weight: bold; */
    color: #fff !important;
    background: #FF9800 !important;
}

.pvtColLabel, .pvtRowTotalLabel { 
    /* font-weight: bold; */
    color: #fff !important;
    background: #51c9e8 !important;
}

.pvtVals { text-align: center; white-space: nowrap;}
.pvtRowOrder, .pvtColOrder {
    cursor:pointer;
    width: 15px;
    margin-left: 5px;
    display: inline-block; }
.pvtAggregator { margin-bottom: 5px ;}

.pvtAxisContainer, .pvtVals {
    border: 1px solid gray;
    background: #EEE;
    padding: 5px;
    min-width: 20px;
    min-height: 20px;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}
.pvtAxisContainer li {
    padding: 8px 6px;
    list-style-type: none;
    cursor:move;
}
.pvtAxisContainer li.pvtPlaceholder {
    -webkit-border-radius: 5px;
    padding: 3px 15px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px dashed #aaa;
}

.pvtAxisContainer li span.pvtAttr {
    -webkit-text-size-adjust: 100%;
    /*background: #F3F3F3;
    border: 1px solid #DEDEDE;*/
    background: #52c9e8;
    /*border: 1px solid #ff9801;*/
    color: #fff;
    padding: 2px 5px;
    white-space:nowrap;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.pvtTriangle {
    cursor:pointer;
    /*color: grey;*/
    /*color: #ff9801;*/
    color: #fff;
}

.pvtHorizList li { display: inline; }
.pvtVertList { vertical-align: top; }

.pvtFilteredAttribute { font-style: italic }

.pvtFilterBox{
    z-index: 100;
    width: 300px;
    border: 1px solid gray;
    background-color: #fff;
    position: absolute;
    text-align: center;
}

.pvtFilterBox h4{ margin: 15px; }
.pvtFilterBox p { margin: 10px auto; }
.pvtFilterBox label { font-weight: normal; }
.pvtFilterBox input[type='checkbox'] { margin-right: 10px; margin-left: 10px; }
.pvtFilterBox input[type='text'] { width: 230px; }
.pvtFilterBox .count { color: gray; font-weight: normal; margin-left: 3px;}

.pvtCheckContainer{
    text-align: left;
    font-size: 14px;
    white-space: nowrap;
    overflow-y: scroll;
    width: 100%;
    max-height: 250px;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
}

.pvtCheckContainer p{ margin: 5px; }

.pvtRendererArea { padding: 5px;}

.pvtUiCell select{
        display: block;
        width: 100%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}