<div class="deleteModalBackdrop">
    <div class="deleteModal">
        <div class="modal-header deleteModalHeader">
            <p class="enableDisableModalHeaderP">{{modalInfo.title}}</p>
            <button class="close closeDeleteModalBtn" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
        </div>
  
        <div class="modal-body">
            <div class="" >
                <p class="enableDisableModalBodyP">{{modalInfo.message}}</p>
            </div>
        </div>
  
        <div class="modal-footer deleteModalFooter" *ngIf="modalInfo.event_first && modalInfo.event_second">
            <div class="">
                <button type="button" class="constantbtn-button-blue-left" (click)="accepted()">{{modalInfo.event_first}}</button>
            </div>
            <div class="">
                <button type="button" class="constantbtn-button-blue-left" (click)="rejected()">{{modalInfo.event_second}}</button>
            </div>
        </div>
    </div>
  </div>