.commonBtn {
    outline: 0;
    border: none;
    font-size: 14px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 6px 10px;
    border-radius: 3px;
    text-transform: capitalize;
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
    color: var(--colorBtnTxt);
    background-color: var(--colorBgbtn);
    border: 1px solid var(--colorBtnTxt);
    &:hover {
        opacity: 0.9;
    }
}

.commonLabel {
    font-size: 12px;
}

.commonInput,
.custom-select {
    font-size: 0.9rem !important;
}

.in-mandatory {
    color: #ff0000;
}

::placeholder {
    font-size: 0.9rem;
}

::-webkit-input-placeholder {
    font-size: 0.9rem;
}

:-ms-input-placeholder {
    font-size: 0.9rem;
}

.commonField {
    border-radius: 6px;
    border: 1px solid #707070;
}

.commonLegend {
    width: auto;
    padding: 0 10px;
    margin-bottom: 0;
}

.commonSelect {
    font-size: 12px !important;
    height: 34px !important;
}

.commonTextarea {
    font-size: 0.9rem !important;
}

.cursor-p {
    cursor: pointer;
}

.cursor-as {
    cursor: all-scroll;
}

// ================================================
// TOGGLE BUTTON start
// ================================================
.switch {
    width: 45px;
    height: 24px;
    position: relative;
    display: inline-block;
    input {
        width: 0;
        height: 0;
        opacity: 0;
        &:checked+.slider {
            background-color: #076ba1;
        }
        &:checked+.slider:before {
            -webkit-transform: translateX(20px);
            -ms-transform: translateX(20px);
            transform: translateX(20px);
        }
    }
    .slider {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        cursor: pointer;
        transition: 0.4s;
        position: absolute;
        border-radius: 25px;
        background: #f6f6f6;
        border: 0.4px solid #ced4da;
        &:before {
            content: "";
            left: 4px;
            bottom: 4px;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            position: absolute;
            transition: 0.4s;
            background-color: #ffffff;
            border: 0.4px solid #ced4da;
            box-shadow: 1px 1px 6px #0000004a;
        }
    }
}

// ================================================
// TOGGLE BUTTON end
// ================================================
// ====================================
// MODULE (Activity List) start
// ====================================
.courseDiv {
    background: white;
    border-radius: 6px;
    .moduleLists {
        margin: 0;
        padding: 0 !important;
        border-bottom: none;
        list-style-type: none;
        .moduleInner:not(:last-child) {
            margin-bottom: 12px;
        }
    }
    .moduleDiv {
        background: #f2f0f0;
        padding: 6px 12px;
        border-radius: 6px;
        .moduleName {
            cursor: default;
            font-size: 14px;
            font-weight: 700;
            color: #000000;
            text-decoration: none;
            text-transform: uppercase;
        }
        .moduleBtn {
            .subBttn {
                padding: 4px 6px;
                font-size: 12px;
                color: #ffffff;
            }
        }
    }
    .moduleDisable {
        background: #cacaca;
    }
    .activityDiv {
        margin: 3px 0;
        padding: 3px 0;
        &:not(:last-child) {
            border-bottom: 1px solid #f7f7f7;
        }
        .actName {
            font-size: 14px;
            line-height: 22px;
            cursor: pointer;
            display: flex;
            align-items: center;
            color: #000000;
            font-weight: unset;
            &:hover {
                text-decoration: underline;
            }
            i {
                width: 24px;
                font-size: 12px;
            }
            img {
                width: 12px;
                margin-right: 5px;
            }
        }
        .actionBtn {
            display: none;
        }
        &:hover {
            .actionBtn {
                display: inline;
            }
        }
    }
    .activityDisable {
        .actName {
            cursor: default;
            color: #bfbfbf;
        }
    }
    .subBttn {
        border: none;
        outline: none;
        color: #ffffff;
        font-size: 11px;
        padding: 4px 6px;
        margin-left: 10px;
        border-radius: 3px;
        letter-spacing: 0.2px;
        text-transform: capitalize;
        transition: 0.4s ease-in-out;
        &:hover {
            background: #136cb1;
            color: #ffffff;
        }
    }
    .endropBtn {
        background: #136cb1;
        color: #ffffff;
    }
    .selectDrop {
        position: relative;
        &:hover {
            .innerdrop {
                display: block;
            }
        }
        .dropicon {
            position: relative;
            top: -2px;
        }
        .innerdrop {
            display: none;
            position: absolute;
            top: 100%;
            left: 9px;
            min-width: 150px;
            padding: 0px;
            margin: 4px 0 0;
            font-size: 13px;
            text-align: left;
            list-style: none;
            color: #999999;
            background: #fff;
            box-shadow: 0 0px 9px 0 rgba(0, 0, 0, 0.22), 0 0px 8px 0 rgba(0, 0, 0, 0);
            border-radius: 3px;
            z-index: 1;
            .dropCategory {
                padding: 8px;
                color: #3c3c3c;
                border-bottom: 0.5px solid #d6d6d6;
                label {
                    display: block;
                    padding: 0 6px;
                    font-size: 12px;
                    line-height: 27px;
                    border-radius: 3px;
                    background: whitesmoke;
                }
                li {
                    display: flex;
                    cursor: pointer;
                    font-size: 13px;
                    padding: 5px 10px;
                    i {
                        width: 20px;
                        font-size: 17px;
                    }
                    &:hover {
                        color: #136cb1;
                    }
                }
            }
        }
        .showDropDown {
            display: block;
        }
    }
}

// ====================================
// MODULE (Activity List) end
// ====================================
// ====================================
// SIDEBABR FORM start
// ====================================
@mixin focus {
    border: 1px solid #0d85c7 !important;
    box-shadow: 0 0 0 0.2rem #0d85c72e !important;
}

.side-form-label {
    font-size: 12px;
    color: #707070;
    font-weight: 400;
    letter-spacing: 0.3px;
    text-transform: capitalize;
    sup {
        color: #dc3545;
        font-size: 7px;
    }
}

.invalid-form {
    border: 1px solid #dc3545 !important;
}

.invalid-msg {
    color: #dc3545;
    font-size: 11px !important;
}

.form-control {
    box-shadow: none;
    &:focus {
        color: #495057;
        @include focus;
    }
}

.custom-select:focus {
    @include focus;
}

// ====================================
// SIDEBABR FORM end
// ====================================
// ================================================
// SEARCH BAR start
// ================================================
.searchBar {
    // width: 0;
    display: flex;
    padding: 5px 6px;
    position: relative;
    border-radius: 3px;
    // padding-right: 20px;
    border: 1px solid var(--colorCommon);
    i {
        color: #717171;
    }
    .search {
        padding: 2px 0px;
        cursor: pointer;
    }
    .close-icon {
        top: 0;
        right: 2px;
        padding: 6px;
        display: none;
        font-size: 15px;
        position: absolute;
    }
    input {
        border: 0;
        outline: none;
        font-size: 14px;
        padding: 0;
        width: 0%;
    }
}

.searchBarNew {
    // width: 0;
    border: 1px solid var(--colorCommon);
    // border-color: #dadfe6 !important;
    padding: 5px 0px 5px 8px;
    border-radius: 3px;
    padding-right: 22px;
    position: relative;
    display: flex;
    width: 0;
    i {
        color: #717171;
    }
    .search {
        padding: 2px 0px;
        cursor: pointer;
    }
    .close-icon {
        top: 0;
        right: 2px;
        padding: 6px;
        display: none;
        font-size: 15px;
        position: absolute;
    }
    input {
        border: 0;
        outline: none;
        font-size: 14px;
        padding: 0;
        width: 0%;
    }
}

.fullserch {
    width: 300px;
    transition: all 0.3s;
    .close-icon {
        display: block;
    }
    input {
        width: 100%;
        padding: 0 6px;
    }
}

// ================================================
// SEARCH BAR end
// ================================================
// ====================================
// MULTISELCT start
// ====================================
.custom-class-example {
    color: #ccc;
    .cuppa-dropdown {
        border-radius: 3px;
        background: #ffffff;
        border: 1px solid #ced4da;
        &:focus {
            @include focus;
        }
        .dropdown-list ul li {
            padding: 1px 8px !important;
        }
        .c-btn {
            outline: none;
            border: none !important;
            &:focus {
                @include focus;
            }
        }
        .c-token {
            color: #ffffff;
            background: var(--colorCommon);
        }
        // .pure-checkbox {
        //   label::before {
        //     border: 1px solid #076ba1 !important;
        //   }
        //   input[type="checkbox"]:checked + label:after {
        //     border-color: #076ba1 !important;
        //   }
        //   input[type="checkbox"] + label {
        //     padding-left: 24px !important;
        //     color: #515050;
        //     font-size: 15px;
        //   }
        //   input[type="checkbox"]:checked + label[_ngcontent-c1]:before {
        //     background: #076ba1 !important;
        //   }
        // }
    }
}

.smallHeight {
    .selected-list {
        .c-btn {
            display: flex;
            align-items: center;
            min-height: 33px !important;
            padding: 0px 10px !important;
            .c-token {
                font-size: 11px;
                .c-remove {
                    width: 7px !important;
                }
            }
        }
        .c-angle-down,
        .c-angle-up {
            width: 10px !important;
            height: inherit !important;
        }
    }
}

.common-multi {
    .selected-list {
        .c-btn {
            display: flex;
            align-items: center;
            min-height: 34px !important;
            padding: 0px 10px !important;
            border-color: #dadfe6 !important;
            font-size: 12px;
            .c-token {
                font-size: 12px;
                margin-bottom: 2px;
                padding: 3px 25px 3px 8px !important;
                .c-remove {
                    width: 7px !important;
                }
            }
        }
        .c-angle-down,
        .c-angle-up {
            width: 10px !important;
            height: inherit !important;
        }
    }
    .dropdown-list {
        z-index: 3 !important;
        .list-filter input {
            border: 0;
            width: 90%;
            height: 100%;
            padding: 0;
        }
        ul {
            padding: 0 !important;
            li {
                padding: 5px 10px !important;
                .multiselect-label {
                    font-size: 12px;
                    font-weight: 400;
                    letter-spacing: 0.3px;
                    text-transform: capitalize;
                    color: #000000 !important;
                }
            }
        }
    }
}

.multiselect-email-label {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.3px;
    color: #000000 !important;
}

.selector-section {
    border-radius: 3px;
    background: #ebeff5;
    .remove-selector {
        top: -10px;
        z-index: 1;
        right: -6px;
        font-size: 10px;
        padding: 1px 4px;
        color: #ff0000;
        border-radius: 50%;
        background: #ffffff;
        border: 1px solid #ced4da;
    }
}

.add-icon {
    color: #076ba1;
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}

// ====================================
// MULTISELCT end
// ====================================
.disabled-contenct {
    pointer-events: none;
    opacity: 0.4;
}

// ====================================
// CONTEXT start
// ====================================
.context-dropdown {
    ul {
        padding: 0 !important;
        min-width: 150px !important;
        border-radius: 4px !important;
        border: 0.5px solid #e4e9f2 !important;
        box-shadow: 0 3px 6px 0 rgba(140, 141, 143, 0.42);
        li {
            text-transform: capitalize;
            i {
                width: 20px;
            }
            &:first-child {
                border-top: none;
            }
            a {
                padding: 0;
                display: block;
                &:hover {
                    background: #ffffff;
                    text-decoration: none !important;
                }
                span {
                    display: block;
                    cursor: pointer;
                    font-size: 14px;
                    color: #5f6368;
                    padding: 6px 12px;
                    &:hover {
                        color: #232423;
                        background: #dfdfde;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

// ====================================
// CONTEXT end
// ====================================