/*
The loaders use CSS custom properties (variables) to control the attributes of the loaders
*/
:root{
	--loader-width: 95px;
	--loader-height: 95px;
	--loader-color-primary: #28adf4;
	--loader-color-secondary: #eee;
	--line-width: 6px;
	--animation-duration: 2s;
	--loader-initial-scale: 0.1;
}
.loader,.loader:before,.loader:after{
	box-sizing: border-box;
	flex-grow: 0;
	flex-shrink: 0;
}
/*
In order to get optimal results, please only change the
variables above and don't change anything in the actual loader code
*/



@keyframes rect-rotate {
  0% {
    transform: rotate(0);
  }
  50%, 100% {
    transform: rotate(360deg);
  }
}

@keyframes fill-rect {
  0%, 50% {
    height: 0px;
  }
  100% {

    height: inherit;
  }
}

.loader.box-rotation {
  transform-origin: center center;
  color: var(--loader-color-primary, #28adf4);
  width: var(--loader-width, 100px);
  height: var(--loader-height, 100px);
  position: relative;
  border: var(--line-width, 4px) solid;
  display: inline-block;
  animation: rect-rotate var(--animation-duration, 1s)  linear infinite;
}

.loader.box-rotation::after {
  content: "";
  height: 0px;
  width: 100%;
  height:100%;
  display: block;
  background: var(--loader-color-primary, #28adf4);
  // background: #ffffff00;
  opacity: 0.5;
  animation: fill-rect var(--animation-duration, 1s) linear infinite;
}

.spinner_container{
  position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(92, 90, 90, 0.8);
    z-index: 99999!important;
    display: flex;
    justify-content: center;
    align-items: center;
}
