@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '../../../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss';

/*ngx-quill editor*/


/* You can add global styles to this file, and also import other style files */

@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.bubble.css';
@import '~quill/dist/quill.snow.css';

/*owl dattime picker*/

@import "~ng-pick-datetime/assets/style/picker.min.css";
@import '~ngx-bar-rating/themes/br-square-theme';

/* angular-cli file: src/styles.css */

@import "../../../../node_modules/angular-calendar/css/angular-calendar.css";

/* REQUIRED  checkbox-css*/

@import '~pretty-checkbox/src/pretty-checkbox.scss';
// themes - our custom or/and out of the box themes
@import './variable.scss';
@import 'themes';
// framework component themes (styles tied to theme variables)
@import '~@nebular/theme/styles/globals';
@import '~@nebular/auth/styles/all';
// global app font size
@import './font-size';
// Variable Scss
@import './variable';
// loading progress bar theme
@import './pace.theme';
@import './bootstrap-rtl';
// star-rating styles
@import '~css-star-rating/scss/star-rating';
// install the framework and custom global styles
@include nb-install() {
    // framework global styles
    @include nb-theme-global();
    @include nb-auth-global();
    // loading progress bar
    @include ngx-pace-theme();
    // fixed in rc.9 and can be removed after upgrade
    .custom-control .custom-control-indicator {
        border-radius: 50%; // TODO: quickfix for https://github.com/akveo/nebular/issues/275
    }
    @include bootstrap-rtl();
    .nb-theme-corporate nb-layout .layout .layout-container .content .columns nb-layout-column {
        padding: 0rem 0rem 0rem !important;
    }
}

;
// Tooltip Label
.tooltip-hover-info-label {
    font-size: 10px !important;
    margin-left: 2px;
}

// Tooltip Label
.tooltip-hover-info-label-round {
    font-size: 13px !important;
    margin-left: 2px;
    color: #e1d9d9 !important;
}

// Tooltip
.help-tooltip {
    // display:inline-block;
    // position:relative;
    // border-bottom:1px dotted #666;
    // text-align: center;
    // border: 1px solid #000;
    // border-radius: 50%;
    // height: 15px;
    // width: 15px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

// Tooltip Top
.help-tooltip .help-tooltip-position-top {
    min-width: 200px;
    // max-width:50px;
    top: -20px;
    left: 50%;
    transform: translate(-50%, -100%);
    padding: 10px 20px;
    color: #FFFFFF;
    background-color: #000000;
    font-weight: normal;
    font-size: 13px;
    word-wrap: break-word;
    white-space: initial;
    border-radius: 8px;
    position: absolute;
    z-index: 99999999;
    box-sizing: border-box;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.8s;
}

.help-tooltip:hover .help-tooltip-position-top {
    visibility: visible;
    opacity: 1;
}

.help-tooltip .help-tooltip-position-top i {
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -12px;
    width: 24px;
    height: 12px;
    overflow: hidden;
}

.help-tooltip .help-tooltip-position-bottom {
    min-width: 200px;
    top: 145px;
    left: 75%;
    margin-left: 30px;
    transform: translate(-50%, -100%);
    padding: 10px 20px;
    color: #FFFFFF;
    background-color: #000000;
    font-weight: normal;
    font-size: 13px;
    word-wrap: break-word;
    white-space: initial;
    border-radius: 8px;
    position: absolute;
    z-index: 99999999;
    box-sizing: border-box;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.8s;
}

.help-tooltip .help-tooltip-position-bottom i {
    position: absolute;
    top: -10px;
    left: 50%;
    margin-left: -12px;
    width: 24px;
    height: 12px;
    overflow: hidden;
    transform: rotateX(180deg);
}

.help-tooltip:hover .help-tooltip-position-bottom {
    visibility: visible;
    opacity: 1;
}

.help-tooltip .help-tooltip-position-bottom i::after {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background-color: #000000;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
}

.help-tooltip .help-tooltip-position-top i::after {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background-color: #000000;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
}

// Tooltip Right
.help-tooltip .help-tooltip-position-right {
    min-width: 200px;
    max-width: 250px;
    // max-width:100px;
    word-wrap: break-word;
    white-space: initial;
    top: 50%;
    left: 100%;
    margin-left: 20px;
    transform: translate(0, -50%);
    padding: 10px 20px;
    color: #FFFFFF;
    background-color: #0000009e;
    // background-color:#000000;
    font-weight: normal;
    font-size: 13px;
    border-radius: 8px;
    position: absolute;
    z-index: 99999999;
    box-sizing: border-box;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.8s;
}

.help-tooltip:hover .help-tooltip-position-right {
    visibility: visible;
    opacity: 1;
}

.help-tooltip .help-tooltip-position-right i {
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -12px;
    width: 12px;
    height: 24px;
    overflow: hidden;
}

.help-tooltip .help-tooltip-position-right i::after {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    left: 0;
    top: 50%;
    transform: translate(50%, -50%) rotate(-45deg);
    background-color: #0000009e;
    // background-color:#000000;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}

// Toaster Position
// .toast{
//   top: 100px !important;
//   left: 30% !important;
// // }
// toaster-container{
//   right: 0%;
//     top: 20%;
// }
.toast-top-center {
    top: 20% !important;
    left: unset !important;
    right: unset !important;
    // left: 30% !important;
}

toaster-container {
    top: 20% !important;
    bottom: unset !important;
}

#toast-container.toast-center>div,
#toast-container.toast-top-center>div,
#toast-container.toast-bottom-center>div {
    margin-left: auto;
}

.nb-theme-corporate .h6 {
    color: #FFFFFF;
}

.select_field_height {
    height: 35px !important;
    width: 100%;
}

.rating.color-goldenyellow .star-container .star {
    width: 45px;
    height: 45px;
    margin: 4px;
    margin-top: -10px;
    svg {
        fill: #3880FF;
    }
    i {
        color: #3880FF;
    }
}

.cdk-overlay-container {
    position: fixed;
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    position: absolute;
    z-index: 9999999 !important;
}

.cdk-global-overlay-wrapper,
.cdk-overlay-container {
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    position: absolute;
    z-index: 9999999 !important;
}

.ngx-datatable.material .empty-row {
    height: 50px;
    padding: .5rem 1.2rem;
    display: grid !important;
    border-top: 0;
    justify-content: center !important;
    align-items: center !important;
    border: 1px solid #076ba1 !important;
    border-radius: 15px !important;
    margin: 15px !important;
}

.selected-list .c-list .c-token {
    // background: #076ba1 !important;
    background: var(--colorCommon) !important;
    // padding: 5px 24px 5px 8px !important;
}

@import '~ngx-toastr/toastr.css';
#toast-container>div {
    border-radius: 0px !important;
    opacity: 1;
}

.toast-close-button {
    right: 0.9em !important;
}

.nb-theme-corporate .toast-success {
    background-color: #51a351 !important;
}

.nb-theme-corporate .toast-title {
    font-size: 16px !important;
}

.toast-message {
    font-size: 14px !important;
}

.nb-theme-corporate .toast-warning {
    background-color: #f89406 !important;
}

.nb-theme-corporate .toast-error {
    background-color: #bd362f !important;
}
// =========================================
nb-layout-column {
    background: var(--colorBgPage) !important;
}
nb-layout .layout nb-layout-header nav {
  height: 4rem !important;
  box-shadow: none !important;
  background: var(--colorHeader) !important;
  color: var(--colorHeadertxt) !important;
}
nb-layout .layout nb-layout-header nav a {
  color: var(--colorHeadertxt) !important;
}
nb-layout .layout nb-layout-header.fixed ~ .layout-container {
  padding-top: 4rem !important;
}
.nb-theme-corporate nb-menu {
  background: var(--colorSidebar) !important;
  color: var(--colorSidebartxt) !important;
}
.nb-theme-corporate nb-popover{
    border: none;

}
nb-popover .arrow {
    // border: 2px solid #73a1ff;
    border: 0px solid var(--colorCommon) !important;
    border-bottom: 11px solid var(--colorCommon) !important;
}
nb-popover {
    // border: 2px solid #73a1ff;
    border: 0px solid var(--colorCommon) !important;
    // border-bottom: 11px solid var(--colorCommon);
}
nb-popover nb-menu .menu-items {
    border: 2px solid var(--colorCommon) !important;
}
nb-popover nb-menu .menu-items .menu-item a:hover{
    background: var(--colorCommon) !important;
    color: #181818 !important;
}
