// @nebular theming framework
@import "~@nebular/theme/styles/theming";
// @nebular out of the box themes
@import "~@nebular/theme/styles/themes";
// imoprt custom font
@import "../../../assets/fonts/fonts.scss";
// angular material theme
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./variable.scss";
@import "./common.scss";
// @import "./mixin.scss";

// @import "~ngx-tabset/ngx-tabset";
// @import '~ngx-bar-rating/themes/br-square-theme';
// which themes you what to enable (empty to enable all)
$nb-enabled-themes: (default, cosmic, corporate);
$nb-themes: nb-register-theme(
  (
    // app wise variables for each theme
      sidebar-header-gap: 2rem,
    sidebar-header-height: initial,
    layout-content-width: 1400px,
    // font-main: Roboto,
      // font-secondary: Exo,
      switcher-background: #ebeff5,
    switcher-background-percentage: 50%,
    drops-icon-line-gadient: -webkit-linear-gradient(#01dbb5, #0bbb79),
    color-primary: #73a1ff,
    color-success: #51a351,
    color-info: #076ba1,
    color-warning: #f5843d,
    color-danger: red,
    list-item-border-width: 1px,
    header-bg: #076ba1,
    // linear-gradient(to left, #475edc , #2d36a0)
      sidebar-bg: #fff,
    menu-bg: #fff,
    menu-active-bg: #e3e9ee,
    menu-icon-color: #076ba1,
    slide-out-container-width: 30%,
    slide-out-background: linear-gradient(270deg, #f7fafb 0%, #ecf2f5 100%),
    slide-out-shadow-color: 0 4px 14px 0 #a2d2c8,
    slide-out-shadow-color-rtl: 0 4px 14px 0 #a2d2c8,
    chart-panel-summary-box-shadow: none,
    chart-panel-summary-background-color: #ecf2f5,
    chart-panel-summary-border-color: #ebeff1,
    chart-panel-summary-border-width: 1px,
    ecommerce-card-border-width: 1px,
    progress-bar-background: linear-gradient(90deg, #3edd81 0%, #3bddaf 100%)
  ),
  default,
  default
);
$nb-themes: nb-register-theme(
  (
    // app wise variables for each theme
      sidebar-header-gap: 2rem,
    sidebar-header-height: initial,
    layout-content-width: 1400px,
    // font-main: Poppins,
    // font-secondary: Poppins,
    switcher-background: #4e41a5,
    switcher-background-percentage: 14%,
    drops-icon-line-gadient: -webkit-linear-gradient(#a258fe, #7958fa),
    list-item-border-width: 1px,
    slide-out-container-width: 30%,
    slide-out-background: radial-gradient(circle, #302c6e 0%, #423f8c 100%),
    slide-out-shadow-color: 2px 0 3px rgba(19, 19, 94, 0.9),
    slide-out-shadow-color-rtl: -2px 0 3px rgba(19, 19, 94, 0.9),
    chart-panel-summary-box-shadow: none,
    chart-panel-summary-background-color: rgba(0, 0, 0, 0.1),
    chart-panel-summary-border-color: #332e73,
    chart-panel-summary-border-width: 1px,
    header-bg: #076ba1,
    sidebar-bg: #fff,
    menu-bg: #fff,
    menu-active-bg: #e3e9ee,
    menu-icon-color: #076ba1,
    ecommerce-card-border-width: 1px,
    progress-bar-background: linear-gradient(90deg, #00c7c7 0%, #00d977 100%)
  ),
  cosmic,
  cosmic
);
$nb-themes: nb-register-theme(
  (
    // app wise variables for each theme
      sidebar-header-gap: 2rem,
    sidebar-header-height: initial,
    layout-content-width: 1400px,
    header-bg: #076ba1,
    sidebar-bg: #fff,
    menu-bg: #fff,
    menu-active-bg: #e3e9ee,
    menu-icon-color: #076ba1,
    font-main: Segoe,
    font-secondary: Segoe,
    text-caption-font-weight: 400,
    switcher-background: #2b2d34,
    switcher-background-percentage: 14%,
    drops-icon-line-gadient: -webkit-linear-gradient(#e9e8eb, #a7a2be),
    list-item-border-width: 1px,
    slide-out-container-width: 30%,
    slide-out-background: linear-gradient(270deg, #f7fafb 0%, #ecf2f5 100%),
    slide-out-shadow-color: 0 4px 14px 0 #a2d2c8,
    slide-out-shadow-color-rtl: 0 4px 14px 0 #a2d2c8,
    chart-panel-summary-box-shadow: none,
    chart-panel-summary-background-color: #f7fafb,
    chart-panel-summary-border-color: #ebeff1,
    chart-panel-summary-border-width: 1px,
    ecommerce-card-border-width: 1px,
    progress-bar-background: linear-gradient(90deg, #ff9f6f 0%, #ff8b97 100%)
  ),
  corporate,
  corporate
);
.constantbtn-button-blue-left {
  // margin-left: 10px;
  // background: #076ba1;
  // color: #fff;
  // border: #02a0f5;
  height: 32px;
  min-width: 70px;
  // color: #ffffff;
  background-image: none;
  // border-color: #02a0f5;
  -webkit-transform: none;
  transform: none;
  text-transform: capitalize;
  border-radius: 3px;
  background-color: var(--colorBgbtn) !important;
  color: var(--colorBtnTxt) !important;
  border: 1px solid var(--colorBtnTxt) !important;
}

.constantbtn-button-blue-right {
  // background: #076ba1;
  // color: #fff;
  // border: #02a0f5;
  height: 32px;
  min-width: 70px;
  // color: #ffffff;
  background-image: none;
  // border-color: #02a0f5;
  -webkit-transform: none;
  transform: none;
  margin-left: 10px;
  text-transform: capitalize;
  border-radius: 3px;
  background-color: var(--colorBgbtn) !important;
  color: var(--colorBtnTxt) !important;
  border: 1px solid var(--colorBtnTxt) !important;
}

.form-button-inside {
  border-radius: 0;
  // color: #076ba1;
  background: #fff;
  // border: 1px solid #076ba1;
  color: var(--colorCommon);
  border: 1px solid var(--colorCommon);
  height: 32px;
  min-width: 135px;
  -webkit-transform: none;
  transform: none;
  font-weight: bold;
  border-radius: 3px;
}

.back_button {
  margin-left: 15px;
  border-radius: 0;
  // color: #076ba1;
  // background: #fff;
  // border: 1px solid #076ba1;
  height: 32px;
  min-width: 80px;
  -webkit-transform: none;
  transform: none;
  font-weight: bold;
  border-radius: 3px;
  background-color: var(--colorBtnTxt) !important;
  color: var(--colorBgbtn) !important;
  border: 1px solid var(--colorBgbtn) !important;
  &:hover {
    // background: #076ba1;
    // color: #fff;
    background: var(--colorBgbtn);
    color: var(--colorBtnTxt);
  }
}
.focus {
  transition: box-shadow 0.15s ease-in-out;
}

.required_msg_text {
  .form-text {
    color: #ed462f !important;
  }
}
