$white-color: #ffffff;
$black-color: #000000;
$header-color: #076BA1;
$sidebar-color: #076BA1;
$icons-color: #076BA1;

// COMMON
$common-color: #076BA1;
$common-btn-color: #076BA1;
$common-btn-hover-color: #076BA1;
$common-btn-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
$common-add-btn-color: #38be3e;

$menu-card-color: #0c4253;
$border-color: #e1e1e1;

$icon-color: #b1bdc7;
$card-dis-color: #8b8b8b;
$card-list-color: #706f6f;


// ========================================================
// Header Divs Border and Font Size
$font_size_page_top: 25px;
$header_div_border: #eee;

// Cards Layout Scss
$font_size_for_cards: 20px;
$font_size_for_card_subtitle: 14px;
// $background_for_card_container: #F1F5F8;
$background_for_card_container: transparent;
$icon_font_color: #3480a8;
$border_color: #F1F5F8;
$card_font_size_icons:20px;


.theme {
    --colorCommon: #0f3a68;
    --colorHeader: #ffffff;
    --colorHeadertxt: #000000;
    --colorSidebar: #ffffff;
    --colorSidebartxt: #000000;
    --colorIcons: #076BA1;
    --colorBgbtn: #076BA1;
    --colorBtnTxt: #ffffff;
    --colorBgPage: #ebeff5;
}

$variables: (
    --colorCommon: var(--colorCommon),
    --colorHeader: var(--colorHeader),
    --colorHeadertxt: var(--colorHeadertxt),
  
    --colorSidebar: var(--colorSidebar),
    --colorSidebartxt: var(--colorSidebartxt),
  
    --colorBgbtn: var(--colorBgbtn),
    --colorBtnTxt: var(--colorBtnTxt),
  
    --colorIcons: var(--colorIcons),
    --colorBgPage: var(--colorBgPage),
);