<app-subheader [headerConfig]="header" (inputsearch)="searchData($event)" (Clear)="clear()" (addbtn)="addeditsurvey('',0)" (backClick)="back()"></app-subheader>
<div class="survey_main_container">
    <div class="survey_div">
        <!-- <div class="top_header_container">
            <div class="top_header_div_sticky content_width">
                <div class="page_title">
                    <h4>Survey</h4>
                </div>
                <div>
                    <div class="filter_div">
                        <div class="search_div">
                            <input type="text" [(ngModel)]="search.sName" class="form-control search_field" placeholder="Search by survey name" name="sname" [disabled]="notFound">
                            <i class="fa fa-remove remove_icon" aria-hidden="true" (click)="clear()"></i>
                        </div>
                    </div>
                </div>
                <div class="buttons_div">
                    <button type="button" class="constantbtn-button-blue-left " (click)="addeditsurvey('',0)" [disabled]="notFound">Add Survey</button>
                    <button type="submit" class="back_button " (click)="back()">Back</button>
                </div>
            </div>
        </div> -->

        <!-- <div *ngIf="skeleton">
            <div class="multiple_category_card_container" *ngIf="!Nodatafound">
                <div class="loaderBackdrop" *ngIf="loader == true">
                    <div id="loader"></div>
                </div>
                <div class="content_width">
                    <div class="cards_container" *ngIf="!noSurvey">
                        <div class="singel_card" *ngFor="let item of rows |filterBy: search;let j=index">
                            <div class="overlay_hidden" [hidden]="item.visible == 1">
                                <i title="Disabled" id="enable_{{item.courseId}}" class="fa fa-eye-slash" aria-hidden="true" (click)="disableSurvey(i,item,false)"></i>
                            </div>
                            <div class="singel_card_image pointer" *ngIf="item.iconRef" [ngStyle]="{'background-image': 'url(' + item.iconRef + ')'}" (click)="addeditsurvey(item,1)">
                            </div>
                            <div class="singel_card_image not_found pointer" *ngIf="!item.iconRef" (click)="addeditsurvey(item,1)">
                            </div>
                            <div class="card_title pointer" (click)="addeditsurvey(item,1)">
                                <div class="" title="{{item.sName}}" *ngIf="item?.sName?.length <= 15">{{item.sName}}</div>
                                <div class="" title="{{item.sName}}" *ngIf="item?.sName?.length > 15">
                                    {{item.sName.substring(0,15)}}...</div>
                            </div>
                            <div class="icon-div">
                                <div class="icon_inner_content">
                                    <p class="icon"> <i class="fa fa-user" aria-hidden="true" title="Completed/Enrolled"></i></p>
                                    <p class="para_margin_0" *ngIf="item.enrollcount" title="Completed/Enrolled"><b> {{item.enrollcount}} </b></p>
                                    <p class="para_margin_0" *ngIf="!item.enrollcount" title="Completed/Enrolled"><b> 0/0 </b></p>
                                </div>
                                <div class="icon_inner_para_content">
                                    <p class="icon"> <i class="fa fa-question" aria-hidden="true" title="Number of questions"></i></p>
                                    <p class="para_margin_0" title="Completion Days"><b>{{item.noofquestion}}</b></p>
                                </div>
                            </div>
                            <div class="card_subtitle">Open Date : {{item.opendate}}</div>
                            <div class="card_subtitle">Close Date : {{item.closedate}}</div>
                            <div class="user-icon pointer">
                                <div class="icons-enable-disable " title="Edit" (click)="addeditsurvey(item,1)">
                                    <i aria-hidden="true" class="fa fa-edit"></i>
                                </div>
                                <div class="icons-enable-disable">
                                    <i title="Enabled" class="fa fa-eye" aria-hidden="true" (click)="disableSurvey(i,item,true)" [hidden]="item.visible == 0"></i>
                                    <i title="Disabled" class="fa fa-eye-slash" aria-hidden="true" (click)="disableSurvey(i,item,false)" [hidden]="item.visible == 1"></i>
                                </div>
                                <div class="icons-enable-disable " title="Duplicate" (click)="dupSurvey(item)">
                                    <i class="fa fa-clone" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->


        <div *ngIf="skeleton && !noSurvey">
            <!-- [ngStyle]="{ height: conentHeight }" style="overflow-y: auto" -->
            <div (scroll)="onScroll(scrollMe)" #scrollMe class="overflow_scroll_cards_container">
                <ng-container *ngIf="( displayArray | filterBy:search) as displayArray">
                    <div *ngFor="let item of displayArray;let i=index">
                        <ngx-card (disabled)="enableDisableSurvey(item,i)" (copyClick)="copyCard(item)" [cardsList]="item" [config]="cardModify" (gotoDetails)="gotoCardaddedit(item)"></ngx-card>
                    </div>
                    <ngx-no-data *ngIf="displayArray?.length === 0" [config]="noDataVal"></ngx-no-data>
                </ng-container>
            </div>
        </div>
        <app-skeleton [count]='count' *ngIf="!skeleton"></app-skeleton>
        <!-- <table *ngIf="!skeleton">
            <tr>
                <div class="multiple_survey_card_container">
                    <div class="survey_width">
                        <div class="survey_container">
                            <td>
                                <div class="survey_card">
                                    <div class="survey">
                                        <ngx-skeleton-loader [theme]="{ width: '216px', height: '140px','margin': '5px' }">
                                        </ngx-skeleton-loader>
                                    </div>
                                    <div class="survey-title">
                                        <ngx-skeleton-loader [theme]="{
                                                  width: '170px',
                                                  height: '40px'
                                                }"></ngx-skeleton-loader>
                                    </div>
                                    <div class="survey-title">
                                        <ngx-skeleton-loader [theme]="{
                                                  width: '170px',
                                                  height: '40px'
                                                }"></ngx-skeleton-loader>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="survey_card">
                                    <div class="survey">
                                        <ngx-skeleton-loader [theme]="{ width: '216px', height: '140px','margin': '5px' }">
                                        </ngx-skeleton-loader>
                                    </div>
                                    <div class="survey-title">
                                        <ngx-skeleton-loader [theme]="{
                                                  width: '170px',
                                                  height: '40px'
                                                }"></ngx-skeleton-loader>
                                    </div>
                                    <div class="survey-title">
                                        <ngx-skeleton-loader [theme]="{
                                                  width: '170px',
                                                  height: '40px'
                                                }"></ngx-skeleton-loader>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="survey_card">
                                    <div class="survey">
                                        <ngx-skeleton-loader [theme]="{ width: '216px', height: '140px','margin': '5px'}">
                                        </ngx-skeleton-loader>
                                    </div>
                                    <div class="survey-title">
                                        <ngx-skeleton-loader [theme]="{
                                                  width: '170px',
                                                  height: '40px'
                                                }"></ngx-skeleton-loader>
                                    </div>
                                    <div class="survey-title">
                                        <ngx-skeleton-loader [theme]="{
                                                  width: '170px',
                                                  height: '40px'
                                                }"></ngx-skeleton-loader>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="survey_card">
                                    <div class="survey">
                                        <ngx-skeleton-loader [theme]="{ width: '216px', height: '140px','margin': '5px'}">
                                        </ngx-skeleton-loader>
                                    </div>
                                    <div class="survey-title">
                                        <ngx-skeleton-loader [theme]="{
                                                  width: '170px',
                                                  height: '40px'
                                                }"></ngx-skeleton-loader>
                                    </div>
                                    <div class="survey-title">
                                        <ngx-skeleton-loader [theme]="{
                                                  width: '170px',
                                                  height: '40px'
                                                }"></ngx-skeleton-loader>
                                    </div>
                                </div>
                            </td>
                        </div>
                    </div>
                </div>
            </tr>
            <tr>
                <div class="multiple_survey_card_container">
                    <div class="survey_width">
                        <div class="survey_container">
                            <td>
                                <div class="survey_card">
                                    <div class="survey">
                                        <ngx-skeleton-loader [theme]="{ width: '216px', height: '140px','margin': '5px'}">
                                        </ngx-skeleton-loader>
                                    </div>
                                    <div class="survey-title">
                                        <ngx-skeleton-loader [theme]="{
                                                      width: '170px',
                                                      height: '40px'
                                                    }"></ngx-skeleton-loader>
                                    </div>
                                    <div class="survey-title">
                                        <ngx-skeleton-loader [theme]="{
                                                      width: '170px',
                                                      height: '40px'
                                                    }"></ngx-skeleton-loader>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="survey_card">
                                    <div class="survey">
                                        <ngx-skeleton-loader [theme]="{ width: '216px', height: '140px','margin': '5px'}">
                                        </ngx-skeleton-loader>
                                    </div>
                                    <div class="survey-title">
                                        <ngx-skeleton-loader [theme]="{
                                                      width: '170px',
                                                      height: '40px'
                                                    }"></ngx-skeleton-loader>
                                    </div>
                                    <div class="survey-title">
                                        <ngx-skeleton-loader [theme]="{
                                                      width: '170px',
                                                      height: '40px'
                                                    }"></ngx-skeleton-loader>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="survey_card">
                                    <div class="survey">
                                        <ngx-skeleton-loader [theme]="{ width: '216px', height: '140px','margin': '5px'}">
                                        </ngx-skeleton-loader>
                                    </div>
                                    <div class="survey-title">
                                        <ngx-skeleton-loader [theme]="{
                                                      width: '170px',
                                                      height: '40px'
                                                    }"></ngx-skeleton-loader>
                                    </div>
                                    <div class="survey-title">
                                        <ngx-skeleton-loader [theme]="{
                                                      width: '170px',
                                                      height: '40px'
                                                    }"></ngx-skeleton-loader>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="survey_card">
                                    <div class="survey">
                                        <ngx-skeleton-loader [theme]="{ width: '216px', height: '140px','margin': '5px'}">
                                        </ngx-skeleton-loader>
                                    </div>
                                    <div class="survey-title">
                                        <ngx-skeleton-loader [theme]="{
                                                      width: '170px',
                                                      height: '40px'
                                                    }"></ngx-skeleton-loader>
                                    </div>
                                    <div class="survey-title">
                                        <ngx-skeleton-loader [theme]="{
                                                      width: '170px',
                                                      height: '40px'
                                                    }"></ngx-skeleton-loader>
                                    </div>
                                </div>
                            </td>
                        </div>
                    </div>
                </div>
            </tr>
        </table> -->

        <div *ngIf="noSurvey">
            <!-- <div class="col-md-12 noDataDiv">
                <img class="noDataImg" src='assets/images/noDataFound1.png' onerror="this.src='assets/images/noDataFound1.png';"> -->
            <!-- <img src='assets/images/noDataFound2.png' onerror="this.src='assets/images/noDataFound2.png';"> -->
            <!-- <p class="nodata"> No Data Found</p> -->
            <!-- </div> -->
            <ngx-no-data [config]="noDataVal"></ngx-no-data>
        </div>
    </div>

    <!-- <div class="deleteModalBackdrop" *ngIf="enableDisableSurveyModal == true">
        <div class="deleteModal">
            <div class="modal-header deleteModalHeader">
                <p *ngIf="!enableSurvey" class="enableDisableModalHeaderP">{{title}}</p>
                <p *ngIf="enableSurvey" class="enableDisableModalHeaderP"> {{title}}</p>
                <button class="close closeDeleteModalBtn" aria-label="Close" (click)="closeEnableDisableSurveyModal()">
        <span aria-hidden="true">&times;</span>
      </button>
            </div>

            <div class="modal-body">
                <div class="" *ngIf="!enableSurvey">
                    <p class="enableDisableModalBodyP">Are you sure you want to Enable {{enableDisableSurveyData.sName}} ?</p>
                </div>
                <div class="" *ngIf="enableSurvey">
                    <p class="enableDisableModalBodyP">Are you sure you want to Disable {{enableDisableSurveyData.sName}} ?</p>
                </div>
            </div>

            <div class="modal-footer text-right">
                <div class="">
                    <button type="button" class="constantbtn-button-blue-left" (click)="enableDisableSurveyAction(true)">Yes</button>
                </div>
                <div class="">
                    <button type="button" class="constantbtn-button-blue-right" (click)="enableDisableSurveyAction(false)">No</button>
                </div>
            </div>
        </div>
    </div> -->

    <ngx-sidebar-form *ngIf="surveyDup" [sidebarTitle]='title' [buttonName]="btnName" [saveDisabled]="!duplicateForm.form.valid" (outside)="closeDuplicateModel()" (saveBtn)='saveDupSurvey(duplicate)' (closeBtn)='closeDuplicateModel()'>

        <!-- <div class="dupSurveyModal" *ngIf="surveyDup == true">
        <div class="dupSurveyModalSub">
            <div class="modal-header">
                <p>Duplicate Survey</p>
                <button class="close" aria-label="Close" (click)="closeDuplicateModel()">
        <span aria-hidden="true">&times;</span>
      </button>
            </div>
            <div class="mBodyQue modal-body">
                <div> -->
        <form class="forms-sample" #duplicateForm="ngForm">
            <div class="marginTop">
                <!-- <h5 class="card-title">General Details</h5>
              <hr /> -->

                <div class="col-sm-12">
                    <div class="form-group">
                        <!-- <label class="space_left" for="dname">Survey Name  <sup class="required_mark">*</sup></label> -->
                        <label class="side-form-label">Survey Name <sup>&#x2731;</sup></label>
                        <input type="text" class="form-control" id="dname" [(ngModel)]="duplicate.sName" required maxlength="50" placeholder="Survey Name" name="dname" #dname="ngModel">
                        <!-- <div [hidden]="dname.valid || dname.pristine" class="alert alert-danger">
                  <div [hidden]="!dname.hasError('required')">Name is required</div>
                </div> -->

                        <div [hidden]="dname.valid || dname.pristine">
                            <small class="invalid-msg" [hidden]="!dname.hasError('required')">Name is required</small>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="form-group">
                        <!-- <label class="space_left" for="ddesc">Survey Description <sup class="required_mark">*</sup></label> -->
                        <label class="side-form-label">Survey Description <sup>&#x2731;</sup></label>
                        <textarea type="text" class="form-control" id="" [(ngModel)]="duplicate.sDesc" required placeholder="Survey Description" name="ddesc" #ddesc="ngModel" pattern=".{20,500}"></textarea>
                        <!-- <div [hidden]="ddesc.valid || ddesc.pristine" class="alert alert-danger">
                  <div [hidden]="!ddesc.hasError('required')">Description is required.</div>
                  <div [hidden]="!ddesc.hasError('pattern')">Minimum 20 characters required.</div>
                </div> -->

                        <div [hidden]="ddesc.valid || ddesc.pristine">
                            <small class="invalid-msg" [hidden]="!ddesc.hasError('required')">Description is required.</small>
                            <small class="invalid-msg" [hidden]="!ddesc.hasError('pattern')">Minimum 20 characters required.</small>
                        </div>
                        <!-- <span></span> -->
                    </div>
                </div>

            </div>

        </form>
        <!-- </div>
            </div>
            <div class="modal-footer text-right">
                <button type="button" class="constantbtn-button-blue-left" [disabled]="!duplicateForm.form.valid" (click)="saveDupSurvey(duplicate)">Save</button>
            </div>
        </div>
    </div> -->
    </ngx-sidebar-form>

</div>

<!-- ************************** Survey ************************** -->
<!-- <div class="col-md-12 catHead sticky-catHead">
    <div class="col-md-3">
      <h3 class="marginTop14">SURVEY</h3>
    </div>
    <div class="col-md-6 catsearchdiv">
      <input type="text" [(ngModel)]="search.sName" class="form-control" style="border:none"  placeholder="Search by keywords" name="sname" [disabled]="notFound">
      <i class="fa fa-remove catRemove" aria-hidden="true" (click)="clear()"></i>
    </div>
    <div class="col-md-3 text-right pad14px">
        <button type="button" class="constantbtn-button-blue-left " (click)="addeditsurvey('',0)" [disabled]="notFound">ADD SURVEY</button>
        <button type="submit" class="constantbtn-button-blue-right " (click)="back()">BACK</button>



    </div>
  </div>

  <div class="widgets" *ngIf="!Nodatafound">

    <div *ngIf="!noSurvey" ba-panel ba-panel-class="with-scroll">
      <section id="feature sec" class="section01">
        <div class="row col-md-12 catrow">
          <div *ngFor="let item of rows |filterBy: search;let j=index" class="card col-md-3 survey-card"  >
            <div class="survey-disabled" [hidden]="item.visible == 1">
              <i title="Disabled" id="enable_{{item.courseId}}" class="fa fa-eye-slash disabled-icon" aria-hidden="true" (click)="disableQcate(j,item)" ></i>
            </div>
            <a *ngIf="!item.iconRef" style="cursor: pointer;">
              <img src='assets/images/survey.png'>
            </a>
            <a *ngIf="item.iconRef" style="cursor: pointer;">
              <img src={{item.iconRef}}>
            </a>
            <div class="border-bott-feed">
               <div class="catsep" >
              <p class="toolcatp">{{item.sName | slice:0:15}} {{item.sName.length > 15 ? '...' : '' }}</p>
            </div>
              <div class="col-sm-12" class="paddingLR0">
                <p class="catdesp">{{item.sdesc | slice:0:120}} {{item.sdesc.length > 120 ? '...' : '' }}</p>
                <div class="col-sm-12 contdespDiv">
                  <p class="contdesp">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry standard du. . .</p>
                  <p class="contdesp" title="{{item.summary}}">{{item.summary | slice:0:120}}</p>
                  <div class="col-sm-12 usericon">
                      <p class="contenticon"> <i class="fa fa-user" aria-hidden="true" title="Completed/Enrolled"></i></p>
                      <p class="contdesp"  title="Completed/Enrolled"><b> 0/0</b></p>
                      <p class="contdesp"  title="Completed/Enrolled"><b> 0/0 </b></p>
                  </div>
                  <div class="col-sm-6 usericon">
                      <p class="manager">Questions</p>
                      <p class="contdesp" title="Completion Days"><b>0</b></p>
                  </div>
                  <p class="contdesp" *ngIf="item.enrollcount">Users : 0/{{item.enrollcount}}</p>
                  <p class="contdesp" *ngIf="!item.enrollcount">Users : 0/0</p>
                  <p class="contdesp">Completion Days : {{item.courseCompletion}}</p>
              </div>
              <div class="col-md-12 manager">No. of questions : <b>{{item.noofquestion}}</b></div>
              <div class="col-sm-12 contdespDiv">
                  <div class="col-sm-6 usericon" style="border-right: 1px solid #f1f5f8" >
                      <p class="contenticon">Open Date</p>
                      <p class="contdesp"><b>{{item.opendate}}</b></p>
                  </div>
                  <div class="col-sm-6 usericon">
                      <p class="contenticon">Close Date</p>
                      <p class="contdesp"><b>{{item.closedate}}</b></p>
                  </div>
              </div>
              <div class="col-md-12 manager">No. of questions : 0</div>
              </div>
            </div>
              <div class="col-sm-12 card-footer-main">
                <div class="col-sm-4 card-footer-sub">
                  <div class="" title="Edit"(click)="addeditsurvey(item,1)">
                        <i class="fa fa-edit card-footer-icon" aria-hidden="true"></i>
                      </div>

                </div>
                 <div class="col-sm-4 card-footer-sub">
                  <div class="" title="Disable">
                        <i class="fa fa-eye card-footer-icon" aria-hidden="true" (click)="disableSurvey(i,item,true)" [hidden]="item.visible == 0"></i>
                        <i class="fa fa-eye-slash card-footer-icon" aria-hidden="true" (click)="disableSurvey(i,item,false)" [hidden]="item.visible == 1"></i>
                      </div>

                </div>
                 <div class="col-sm-4 card-footer-sub">
                  <div class="" title="Duplicate">
                        <i class="fa fa-clone card-footer-icon" aria-hidden="true" (click)="dupSurvey(item)"></i>
                      </div>
                </div>
              </div>
          </div>

        </div>
      </section>
    </div>
    <div *ngIf="noSurvey">
      <div class="NoDataDiv">
          No Surveys Found.
      </div>
  </div>
  </div> -->