.survey_main_container {
    .pointer {
        cursor: pointer;
    }
    .notFoundPage {
        display: inline-block;
        width: 100%;
        padding: 10px;
        height: 100%;
    }
    .required_mark {
        font-size: 20px;
        font-weight: 100;
        top: -0.3em;
        color: #ed462f;
    }
    .NoDataDiv {
        position: fixed;
        top: 50%;
        left: 52%;
    }
    .modal-header {
        background-color: #076ba1;
        height: 55px;
        color: #fff !important;
    }
    .close {
        float: right;
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1;
        color: #fff !important;
        text-shadow: 0 1px 0 #fff;
        opacity: .5;
        outline: none;
    }
    .icon_upload_image {
        label {
            color: var(--colorIcons);
        }
    }
    .enableDisableModalBodyP {
        margin: 1rem;
    }
    .modal-footer {
        height: 55px;
    }
    .modal-body .row {
        margin: 20px 0 !important;
    }
    .modal-body {
        position: relative;
        padding: 1.25rem;
        ;
        display: flex;
        box-sizing: border-box;
    }
    // .BackButton{
    //   width: auto !important;
    //     border: none;
    //     padding: 6px 14px !important;
    //     background-color: #076ba1 !important;
    //     color: #fff !important;
    //     text-transform: uppercase !important;
    //     min-width: 90px !important;
    //     max-height: 29px !important;
    //     margin-left: 5px;
    // }
    .surveybtnNewAdd {
        width: auto !important;
        border: none;
        padding: 6px 14px !important;
        background-color: #076ba1 !important;
        color: #fff !important;
        text-transform: uppercase !important;
        min-width: 90px !important;
        max-height: 29px !important;
    }
    // .reqField{
    //   display: inline;
    //   color: #ed462f !important;
    // }
    .dupSurveyModal {
        // position: absolute;
        // width: 100%;
        // height: 100%;
        // top: 67px;
        // background-color: #404040c2;
        // z-index: 2000;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        z-index: 1503;
        background-color: #404040c2;
        .dupSurveyModalSub {
            /*width: 80%;*/
            // width: 50%;
            // margin: auto;
            // background-color: #fff;
            // margin-top: 50px;
            // border-radius: 5px;
            width: 50%;
            margin: auto;
            background-color: #fff;
            margin-top: 65px;
            border-radius: 5px;
        }
    }
    // .usericon{
    //   text-align: center;
    //   //border-bottom: 1px solid #f1f5f8;
    //   .contenticon {
    //       i{
    //           font-size: 20px;
    //           color: #2795d0;
    //           margin-bottom: 0px !important;
    //       }
    //       padding-top: 10px;
    //       margin: 0;
    //       padding-bottom: 5px;
    //   }
    // }
    // .contdesp {
    //   font-size: 14px;
    // }
    // .manager{
    //   padding: 10px !important;
    //   border-bottom: 1px solid #f1f5f8;
    // }
    // .contdespDiv {
    //   //  height: 70px;
    //     border-bottom: 1px solid #f1f5f8;
    // }
    // .paddingLR0{
    //   padding-left: 0px !important;
    //   padding-right : 0px !important;
    // }
    // .survey-card {
    //   // color: #000000;
    //   // background-color: #ffffff;
    //   // /*border: 0px solid #0000000a;*/
    //   // border: 0px;
    //   // box-shadow: none;
    //   position: relative;
    // }
    // .survey-disabled
    // {
    //   background-color: #00000082;
    //   height: 100%;
    //   position: absolute;
    //   z-index: 2;
    //   /* color: #fff; */
    //   display: grid;
    //   text-align: center;
    //   align-items: center;
    // }
    // .disabled-icon{
    //   font-size: 30px;
    //   color:#fff;
    //   cursor: pointer;
    // }
    @import '../../../@theme/styles/variable.scss';
    .survey_div {
        .content_width {
            width: 78vw;
            margin: 0 auto;
        }
        .top_header_container {
            background: #fff;
            position: sticky;
            top: 4.75rem;
            z-index: 1020;
            .top_header_div_sticky {
                background: #fff;
                display: grid;
                grid-template-columns: 2fr 5fr 2fr;
                height: 50px;
                align-items: center;
                .page_title {
                    text-align: left;
                    h4 {
                        margin: 0;
                        font-size: $font_size_page_top;
                    }
                }
                .filter_div {
                    display: grid;
                    grid-template-columns: auto;
                    grid-column-gap: 10px;
                    align-items: center;
                    .drop_down {
                        border: 1px solid $header_div_border;
                        .drop_down_select {
                            height: 30px;
                            border: none;
                            box-shadow: none;
                        }
                    }
                    .search_div {
                        display: grid;
                        grid-template-columns: auto 20px;
                        border: 1px solid $header_div_border;
                        .search_field {
                            height: 30px;
                            border: none;
                            box-shadow: none;
                        }
                        .remove_icon {
                            line-height: 30px;
                        }
                    }
                }
                .buttons_div {
                    text-align: right;
                }
            }
        }
        .multiple_category_card_container {
            background: $background_for_card_container;
            margin: 20px 20px 30px;
            width: 95%;
            // margin: auto;
            .cards_container {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                grid-column-gap: 30px;
                grid-row-gap: 30px;
                .singel_card {
                    position: relative;
                    background: #fff;
                    text-align: center;
                    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
                    border-radius: 10px;
                    .overlay_hidden {
                        position: absolute;
                        background: rgba(0, 0, 0, 0.5);
                        height: 100%;
                        width: 100%;
                        display: grid;
                        align-items: center;
                        font-size: 30px;
                        color: #fff;
                        border-radius: 10px;
                        i {
                            cursor: pointer;
                        }
                    }
                    // border-bottom-left-radius: 10px ;
                    // border-bottom-right-radius: 10px;
                    // box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
                    .singel_card_image {
                        border-top-left-radius: 10px;
                        border-top-right-radius: 10px;
                        height: 150px;
                        width: 100%;
                        background-position: center;
                        background-size: cover;
                        //    background
                    }
                    .card_title {
                        padding: 10px !important;
                        border-top: 1px solid $border_color;
                        border-bottom: 1px solid $border_color;
                        color: #000;
                        font-size: $font_size_for_cards;
                    }
                    .card_subtitle {
                        font-size: $font_size_for_card_subtitle;
                        padding: 10px !important;
                        // border-top: 1px solid #F1F5F8;
                        border-bottom: 1px solid $border_color;
                        color: #000;
                    }
                    .icon-div {
                        display: grid;
                        grid-template-columns: 1fr 2fr;
                        height: 50px;
                        align-items: center;
                        border-bottom: 1px solid $border_color;
                        .icon_inner_content {
                            display: grid;
                            grid-template-columns: 1fr 1fr;
                            align-items: center;
                            // height: 40px;
                            border-right: 1px solid $border_color;
                            p {
                                color: #000;
                            }
                            .icon {
                                border-right: 1px solid $border_color;
                                color: $icon_font_color;
                                font-size: $card_font_size_icons;
                                height: 100%;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                margin: 0;
                            }
                            .icon:last-child {
                                border-right: 0px;
                            }
                        }
                        .icon_inner_content:last-child {
                            border-right: 0px;
                            p {
                                color: #000;
                            }
                        }
                        .icon_inner_para_content {
                            display: grid;
                            height: 50px;
                            align-items: center;
                        }
                    }
                    .icon-div:not(last) {
                        border-right: 1px solid $border_color;
                    }
                    .user-icon {
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr;
                        height: 40px;
                        align-items: center;
                        .icons-enable-disable {
                            border-right: 1px solid $border_color;
                            color: $icon_font_color;
                            font-size: $card_font_size_icons;
                            height: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                    }
                    .content-icons {
                        text-align: center;
                        border-bottom: 1px solid $border_color;
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        align-items: center;
                    }
                    .para_margin_0 {
                        margin: 0;
                    }
                }
                .not_found {
                    background-image: url('assets/images/survey.png');
                }
            }
        }
    }
    .multiple_survey_card_container {
        background: $background_for_card_container;
        margin: 20px 20px 30px;
        width: 95%;
        // margin: auto;
        .survey_container {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-column-gap: 30px;
            grid-row-gap: 30px;
            .survey_card {
                position: relative;
                background: #fff;
                text-align: center;
                box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
                border-radius: 10px;
            }
        }
    }
    .survey_width {
        width: 78vw;
        margin: 0 auto;
    }
    // .survey {
    //     margin-top: 10px;
    //     width: 60px;
    //     // height: 90px;
    //   }
    .survey-title {
        // width: 100px;
        // padding: 16px 25px 0px;
        // height: 80px;
        margin-top: 5px;
    }
}