<div class="divMainSub" style=""> 
                <div class="btn-group subButGrp" style="">
                  <button type="button" class="btn btn-secondary optbtnNewInd">Add/Upload Users</button>
                  <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split splitBtn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <div class="dropdown-menu dropMenu" aria-labelledby="dropdownMenuButton">
                    <ul class="myUl">
                      <li class="dropdown-item dropItem" (click)="addEditUsersUnReg(0)">Add User</li>
                      <li class="dropdown-item dropItem" (click)="uploadUsers()">Upload Users</li>
                    </ul>
                  </div>
                </div>

                <div class="btn-group subButGrp" style="">
                  <!--  [disabled]="btnShowSingleUnReg == false" -->
                  <button type="button" class="btn btn-secondary optbtnNewInd">Actions</button>
                  <!--  [disabled]="btnShowSingleUnReg == false" -->
                  <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split splitBtn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <div class="dropdown-menu dropMenu" aria-labelledby="dropdownMenuButton">
                    <ul class="myUl">
                      <li class="dropdown-item dropItem no_space" (click)="addEditUsersUnReg(1);">Edit User</li>
                      <li class="dropdown-item dropItem no_space" (click)="markAttendance();">Mark Attendance</li>
                    </ul>
                  </div>
                </div>

                <div class="btn-group subButGrp" style="" >
                  <!-- [disabled]="btnShowMultipleUnReg == false" -->
                  <button type="button" class="btn btn-secondary optbtnNewInd" >Mass Actions</button>
                  <!-- [disabled]="btnShowMultipleUnReg == false" -->
                  <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split splitBtn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <div class="dropdown-menu dropMenu" aria-labelledby="dropdownMenuButton">
                    <ul class="myUl">
                      <li class="dropdown-item dropItem" (click)="getSelectedRowsUnReg();">Mark Attendance</li>
                    </ul>
                  </div>
                </div>
              </div>     

              <div class="divMainSub" style="" *ngIf="!tab1 == true"> 
                <div class="btn-group subButGrp" style="">
                  <button type="button" class="btn btn-secondary optbtnNewInd">Add/Upload Users</button>
                  <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split splitBtn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only">Toggle Dropdown</span>addEditUsersReg
                  </button>
                  <div class="dropdown-menu dropMenu" aria-labelledby="dropdownMenuButton">
                    <ul class="myUl">
                      <li class="dropdown-item dropItem" (click)="addEditUsersReg(0)">Add User</li>
                      <li class="dropdown-item dropItem" (click)="uploadUsers()">Upload Users</li>
                    </ul>
                  </div>
                </div>

                <div class="btn-group subButGrp" style="">
                  <button type="button" class="btn btn-secondary optbtnNewInd" [disabled]="btnShowSingleReg == false">Actions</button>
                  <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split splitBtn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" [disabled]="btnShowSingleReg == false">
                    <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <div class="dropdown-menu dropMenu" aria-labelledby="dropdownMenuButton">
                    <ul class="myUl">
                      <li class="dropdown-item dropItem" (click)="addEditUsersReg(1);">Edit User</li>
                      <li class="dropdown-item dropItem" (click)="getSelectedRowsReg();">Unmark Attendance</li>
                    </ul>
                  </div>
                </div>

                <div class="btn-group subButGrp" style="" >
                  <button type="button" class="btn btn-secondary optbtnNewInd" [disabled]="btnShowMultipleReg == false">Mass Actions</button>
                  <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split splitBtn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" [disabled]="btnShowMultipleReg == false">
                    <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <div class="dropdown-menu dropMenu" aria-labelledby="dropdownMenuButton">
                    <ul class="myUl">
                      <li class="dropdown-item dropItem" (click)="getSelectedRowsReg();">Unmark Attendance</li>
                    </ul>
                  </div>
                </div>
              </div>  