<app-subheader [headerConfig]="header" (inputsearch)="onsearch($event)" (user)="true" (backClick)="back()" (addbtn)="AddUsers(0)" (Clear)="clear()"></app-subheader>

<div class="widgets" *ngIf="!gridShow">
    <!-- <div id="loader" *ngIf="loader == true"></div> -->
    <!-- <div class="loaderBackdrop" *ngIf="loader == true">
        <div id="loader"></div>
    </div> -->
    <!-- <div class="spinner_container" *ngIf="loader">
        <div class="loader box-rotation"></div>
    </div> -->
    <div ba-panel ba-panel-class="with-scroll">
        <div class="col-sm-12 csm12">
            <div class="divCon">
                <!-- <div class="userSubButInd1 sticky-top">
                    <div class="col-sm-2">
                        <h3 class="h3lableuser">USERS</h3>
                    </div> -->
                <!--  *ngIf="tab1 == true" -->
                <!-- <div class="col-sm-5">
                        <div class="search_div"> -->
                <!-- [disabled]="notFound" -->
                <!-- <input type="text" (keyup)="onsearch($event)" [(ngModel)]="search.name" class="form-control search_field" placeholder="Search " name="name" />
                            <i class="fa fa-remove remove_icon" aria-hidden="true" (click)="clear()"></i>
                        </div>
                    </div>
                    <div class="col-sm-5 divMainSub" style="">
                        <div class="btn-group subButGrp" style="">
                            <button type="button" class="btnPad0 btn btn-secondary optbtnNewInd" style="outline: none;">New Users</button>
                            <button type="button" class="btnPad0 btn btn-danger dropdown-toggle dropdown-toggle-split splitBtn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Toggle Dropdown</span>
              </button>
                            <div class="dropdown-menu dropMenu dropMenuUnReg1" aria-labelledby="dropdownMenuButton">
                                <ul class="myUl">
                                    <span>
                  <li   class="dropdown-item dropItemUsers" (click)="AddUsers(0)">Add User</li></span> -->
                <!-- <span [ngClass]="{'disablespa':uploadEmployees==false}" >
                  <li [ngClass]="{'disableli':uploadEmployees==false}" class="dropdown-item dropItemUsers" (click)="uploadUsers()">UploadAddUsers(0) Employees</li></span>
                  <li class="dropdown-item dropItemUsers" (click)="AddUsers(0)">Add User</li> -->
                <!-- <li class="dropdown-item dropItemUsers" (click)="uploadUsers()">Upload Users</li> -->
                <!-- </ul>
                            </div>
                        </div> -->

                <!-- <div class="btn-group subButGrp" style="">
                            <button type="button" class="btnPad0 btn btn-secondary optbtnNewInd" [disabled]="!unRegCheckData1" style="outline: none;">Actions</button>
                            <button type="button" class="btnPad0 btn btn-danger dropdown-toggle dropdown-toggle-split splitBtn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" [disabled]="!unRegCheckData1">
                <span class="sr-only">Toggle Dropdown</span>
              </button>
                            <div class="dropdown-menu dropMenu dropMenuUnReg2" aria-labelledby="dropdownMenuButton">
                                <ul class="myUl">
                                    <span>
                  <li class="dropdown-item dropItemUsers" (click)="EditUsers(1,$event)">Edit User</li></span>
                                </ul>
                            </div>
                        </div> -->
                <!-- <div class="btn-group subButGrp" style="">
                            <button class="back_button" (click)="back()" style="margin: 0">Back</button>
                        </div> -->
                <!-- <div class="btn-group subButGrp" style="" >
              <button type="button" class="btnPad0 btn btn-secondary optbtnNewInd" [disabled]="unRegGetDisable()<2">Mass Actions</button>
              <button type="button" class="btnPad0 btn btn-danger dropdown-toggle dropdown-toggle-split splitBtn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" [disabled]="unRegGetDisable()<2">
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <div class="dropdown-menu dropMenu dropMenuUnReg3" aria-labelledby="dropdownMenuButton">
                <ul class="myUl">
                  <li class="dropdown-item dropItemUsers" (click)="markAttendance();">Mark Attendance</li>
                </ul>
              </div>
            </div> -->
                <!-- </div>
                </div> -->

                <!-- <div>
              <div class="MainToolBarUsers" style="">
                  <div class="container" >
                    <angular-slickgrid gridId="grid1"
                              [columnDefinitions]="columnDefinitions"
                              [gridOptions]="gridOptions"
                              [dataset]="dataset"
                              (onAngularGridCreated)="GridReady($event)"
                              (onGridStateChanged)="unRegGridStateChanged($event)"
                              (sgOnSelectedRowsChanged)="unRegHandleSelectedRowsChanged($event.detail.eventData, $event.detail.args)">
                    </angular-slickgrid>
                  </div>
              </div>
            </div> -->



                <div class="scroll" (scroll)="onScrollDown($event.offsetY, false)">
                    <div class="tableCompo">
                        <ngx-enrol-table [pagination]="true" [label]="labels" [tableData]="users" (clickOnicon)="onSelectRow($event)"></ngx-enrol-table>
                    </div>
                    <div *ngIf='users.length > 0' style="padding: 5px 15px">
                        <div>Total: {{ users.length }}</div>
                    </div>
                </div>
                <!-- <div>

                    <ngx-datatable class="material server-scrolling-demo" style="" [rows]="users" [columnMode]="'force'" [headerHeight]="headerHeight" [rowHeight]="rowHeight" [loadingIndicator]="isLoading" [scrollbarV]="true" [selected]="selected" [selectionType]="'checkbox'"
                        [selectAllRowsOnPage]="false" (select)='onSelect($event)' (scroll)="onScrollDown($event.offsetY, false)" [limit]="5">
                        <ngx-datatable-column [width]="30" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false" [headerCheckboxable]="false" [checkboxable]="true">
                        </ngx-datatable-column>
                        <ngx-datatable-column>
                            <ng-template ngx-datatable-header-template>
                                <span><b>USERNAME</b></span>
                            </ng-template>
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <a class="usersCountToView">
                              {{row.username}}
                            </a>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column>
                            <ng-template ngx-datatable-header-template>
                                <span><b>FIRST NAME</b></span>
                            </ng-template>
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <a class="usersCountToView">
                              {{row.firstname}}
                            </a>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column>
                            <ng-template ngx-datatable-header-template>
                                <span><b>LAST NAME</b></span>
                            </ng-template>
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <a class="usersCountToView">
                              {{row.lastname}}
                            </a>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column>
                            <ng-template ngx-datatable-header-template>
                                <span><b>EMAIL</b></span>
                            </ng-template>
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <a class="usersCountToView">
                              {{row.email}}
                            </a>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column>
                            <ng-template ngx-datatable-header-template>
                                <span><b>PHONE</b></span>
                            </ng-template>
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <a class="usersCountToView">
                              {{row.phone}}
                            </a>
                            </ng-template>
                        </ngx-datatable-column>
                    </ngx-datatable>
                </div> -->


                <!-- </div> -->
            </div>
        </div>
    </div>
</div>
<div *ngIf="gridShow">
    <!-- <p class="nodata">No Data Found</p> -->
    <ngx-no-data [config]="noDataVal"></ngx-no-data>
</div>