@import '../../../@theme/styles/variable.scss';
.ui-grid-render-container {
    position: static;
}


/*
  Changes by Bhavesh Tandel
*/

.slickgrid-container {
    height: 100% !important;
}


/*
  End Changes by Bhavesh Tandel
*/

.badgeCount {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 100%;
    font-weight: bold;
    line-height: 1;
    color: #ed462f;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 50px;
    background: #ffffff;
    border: 1px solid #ed462f;
}

.toolBar {
    display: inline-flex;
    /*background: #f5f7f7;*/
    background: #dbe0e0;
    width: 100%;
    border-top: 1px solid #bdc3c7;
    border-left: 1px solid #bdc3c7;
    border-right: 1px solid #bdc3c7;
    margin-bottom: -2.6px;
    height: 40px;
}

.optbtnNewInd {
    border-radius: 0px !important;
    background: #076ba1 !important;
    color: #fff;
    //border: #076ba1;
    border: none !important;
    height: 35px;
    color: #ffffff !important;
    margin-right: 0px !important;
    /*width: 135px;*/
    text-align: left;
    padding: 0rem 1.0rem;
}

.splitBtn {
    border-radius: 0px !important;
    border: none;
    height: 35px !important;
    margin-left: 0px !important;
    //padding: 0px !important;
    /*box-shadow: 0 0 0 2px rgba(2, 117, 216,0.25);*/
    box-shadow: none;
}

.show>.optbtnNewInd.splitBtn {
    color: #ffffff;
    background-color: #076ba1;
    background-image: none;
    border-color: #076ba1;
}

.dropMenu {
    border-radius: 0px;
    background: #076ba1;
    border: #076ba1;
    padding: 3px
}

.dropdown-menu {}

.dropItemUsers {
    display: block;
    width: 100%;
    padding: 3px 1.5rem;
    clear: both;
    font-weight: normal;
    color: #ffffff;
    text-align: inherit;
    white-space: nowrap;
    background: #076ba1;
    border: 0;
    line-height: 1;
    background-color: #076ba1 !important;
    /* border-bottom: 1px solid; */
    // margin: 5px 0px 5px 0px;
    margin: 0;
    height: 28px;
    padding-top: 7px;
    padding-left: 7px;
    cursor: pointer;
}

.myUl {
    margin-bottom: 0px !important;
    //padding: 5px;
    padding-left: 0rem !important;
    text-align: center !important;
    width: 50%;
}

.no_space {
    list-style-type: none;
    list-style-position: inside;
    margin: 0;
    padding: 0;
}

.pointer {
    cursor: pointer;
}

.trHeader {
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    padding: 8px;
    background-color: #2574a2 !important
}

.btn:hover {
    transform: none;
}

#noMatch {
    margin: 10px;
    text-align: center;
    border-radius: 15px;
    border: 1px solid #076ba1;
    padding: 20px;
}


/* Center the loader */

#loader {
    position: absolute;
    left: 50%;
    top: 70%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #076ba1;
    border-radius: 50%;
    border-top: 16px solid #ffffff;
    /* border: 16px solid #f3f3f3; Light grey */
    /* border-top: 16px solid #3498db; Blue */
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* Add animation to "page content" */

.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }
    to {
        bottom: 0px;
        opacity: 1
    }
}

@keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }
    to {
        bottom: 0;
        opacity: 1
    }
}

// .tabset>.nav.nav-tabs {
//   background-color: transparent !important;
// }
button.btn.btn-danger {
    background: #076ba1 !important;
    border-color: #076ba1 !important;
}

.activeRoute {
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-color: #076ba1;
    color: #076ba1;
}

.csm12 {
    /*margin-top: 20px;
  margin-bottom: 5px;*/
    padding: 0;
}

.divCon {
    /*padding: 25px;*/
}

.divMain {
    /*display: inline-flex;*/
    float: left;
    padding: 10px;
}

.divMainSpan1 {
    cursor: pointer;
}

.divMainSub {
    display: inline-flex;
    float: right;
}

.subButGrp {
    margin-right: 25px;
    border-radius: 0px !important;
    display: flex !important;
    position: relative;
}

.MainToolBarUsers {
    box-sizing: border-box;
    /*padding-top: 30px;*/
    height: 98%;
    padding: 20px;
}

.toolBarSub {
    padding-top: 3px;
    padding-left: 3px;
}

.tooBarInput {
    width: 350px;
    height: 30px;
    padding: 9px;
}

.divExport {
    width: 100%;
    margin-top: 4px;
}

.divExportBtn {
    background: none !important;
    border: none !important;
    box-shadow: none;
}

.divExportBtnIcon {
    color: #304629;
    font-size: 18px;
}

.divPage {
    width: 135px;
    margin-top: 6.3px;
    margin-bottom: 8px;
    margin-left: 8px;
}

.divPageDrop {
    /*border-radius: 5px;*/
}

.userSubButInd1 {
    // float: right;
    /* margin-left: 30px; */
    /*margin-top: 8px;*/
    transform: none;
    background: #fff;
    height: 55px;
    margin: 0 auto;
    padding: 9px;
    /*width: 100%;*/
    .search_div {
        display: grid;
        grid-template-columns: auto 20px;
        border: 1px solid $border_color;
        .search_field {
            height: 30px;
            border: none !important;
            box-shadow: none;
        }
        .remove_icon {
            line-height: 30px;
        }
    }
}

.h3lableuser {
    margin-top: 5px;
}

.optbtnNewInd:hover {
    color: #fff !important;
    background-color: #076ba1 !important;
    border-color: #076ba1 !important;
}

.optbtnNewInd:disabled {
    background-color: #076ba1 !important;
    border-color: #076ba1 !important;
}

.inputLabel {
    line-height: 2.5;
    font-size: 15px;
}

.left {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


/*.form-control{padding: 10px 50px;}*/

.form-input {
    height: 50px;
    border-radius: 0px;
    margin-top: 20px;
}

.form-style-fake {
    position: absolute;
    top: 0px;
}

.form-style-base {
    position: absolute;
    top: 0px;
    z-index: 999;
    opacity: 0;
}

.fake-styled-btn {
    background: #006cad;
    padding: 10px;
    color: #fff;
}

.activeRoute {
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-color: #076ba1;
    color: #076ba1;
}

.al-content {
    padding: 0px;
}

.nav-tabs {
    background-color: #f0f3f4 !important;
}

.usersTab>.tabset>.nav .nav-tabs {
    width: 100% !important;
}

.usersTab>.tabset>.nav .nav-tabs>li {
    width: 33% !important;
}

.usersTab>.tabset>.nav .nav-tabs>li>a {
    width: 100% !important;
}

.usersTab>.tabset>ul>li>a>span>i {
    font-size: 20px !important;
    display: block !important;
    height: 100% !important;
}

.usersTab>.tabset>ul>li>a>span>i>b {
    display: block !important;
    font-weight: 500 !important;
    font-style: normal !important;
    font-size: 16px !important;
}

.usersTab>.tabset>ul>li>a>.span {
    width: 100% !important;
}

.usersTab>.tabset>ul>li:last-child a {
    border-top-right-radius: 5px !important;
}

.usersTab>.tabset>ul>li.active>a {
    background-color: #bec0c1 !important;
    color: #fff !important;
}

.usersTab>.tabset>ul>li.active {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    position: inherit;
    right: calc(50% - 70px);
    top: 75px;
    background-color: transparent;
    border: none;
}

.usersTab>.tabset>.nav.nav-tabs>li.active>a {
    border-bottom: 3px solid #076ba1 !important;
    background-color: #fff !important;
    color: #076ba1 !important;
}

.usersTab>.tabset>ul>li {
    width: 170px !important;
    /*display: none;*/
    height: 100% !important;
}

.usersTab>.tabset>ul {
    background: #fff !important;
    height: 55px;
    position: sticky;
    top: 66px;
    z-index: 1030;
    padding: 0px !important;
}

.usersTab>.tabset>ul>li:hover>a {
    color: #076ba1 !important;
    background-color: #ffffff !important;
    transform: none !important;
    transition: none !important;
    border-radius: 0px;
}

.usersTab>.tabset>.nav.nav-tabs {
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
    border-bottom: none !important;
    background-color: white !important;
}

.usersTab>.tabset>ul>li>a {
    width: 100% !important;
    background-color: transparent !important;
    color: #686868 !important;
    height: 55px !important;
    border-bottom: none !important;
    line-height: 3;
    border-radius: 0px;
}

.form-control-input {
    border-radius: 0;
}

.sticky-top {
    position: sticky;
    top: 66px;
    z-index: 1030;
}

.dropMenuUnReg1 {
    // left: -87px !important;
    left: -99px !important;
    min-width: 131px;
}

.dropMenuReg1 {
    // left: -87px !important;
    left: -99px !important;
}

.dropMenuEnrol1 {
    // left: -87px !important;
    left: -108px !important;
}

.dropMenuUnReg2 {
    // left: -107px !important;
    left: -82px !important;
    min-width: 115px;
}

.dropMenuReg2 {
    // left: -96px !important;
    left: -121px !important;
}

.dropMenuEnrol2 {
    // left: -142px !important;
    left: -30px !important;
}

.dropMenuUnReg3 {
    left: -29px !important;
    // left: -87px !important;
}

.dropMenuReg3 {
    left: -29px !important;
}

.dropMenuEnrol3 {
    left: -29px !important;
}

.nodata {
    height: 100%;
    font-size: 24px;
    margin: 23% auto;
    text-align: center;
    vertical-align: middle;
}

.ngx-datatable.scroll-vertical .datatable-body {
    height: 500px !important;
    overflow-y: auto;
}
.scroll{
    height: 500px !important;
    overflow-y: auto;
}
@import "../../../@theme/styles/loader.scss";
