<div class="widgets">
  <!-- <div id="loader" *ngIf="loader == true"></div> -->
  <div class="loaderBackdrop" *ngIf="loader == true">
    <div id="loader"></div>
  </div>
  <div  ba-panel ba-panel-class="with-scroll" >
    <div class="col-sm-12 csm12">
      <div class="divCon">
        <div class="userSubButInd sticky-top">
          <!--  *ngIf="tab1 == true" -->
          <div class="divMainSub" style="" *ngIf="tab1 == true"> 
            <div class="btn-group subButGrp" style="">
              <button type="button" class="btnPad0 btn btn-secondary optbtnNewInd">New Users</button>
              <button type="button" class="btnPad0 btn btn-danger dropdown-toggle dropdown-toggle-split splitBtn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <div class="dropdown-menu dropMenu dropMenuUnReg1" aria-labelledby="dropdownMenuButton">
                <ul class="myUl">
                  <li class="dropdown-item dropItemUsers" (click)="UnRegAddUsers(0)">Add User</li>
                  <li class="dropdown-item dropItemUsers" (click)="uploadUsers()">Upload Users</li>
                </ul>
              </div>
            </div>

            <div class="btn-group subButGrp" style="">
              <button type="button" class="btnPad0 btn btn-secondary optbtnNewInd" [disabled]="unRegGetDisable()<1 || unRegGetDisable()>1">Actions</button>
              <button type="button" class="btnPad0 btn btn-danger dropdown-toggle dropdown-toggle-split splitBtn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" [disabled]="unRegGetDisable()<1 || unRegGetDisable()>1">
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <div class="dropdown-menu dropMenu dropMenuUnReg2" aria-labelledby="dropdownMenuButton">
                <ul class="myUl">
                  <li class="dropdown-item dropItemUsers" (click)="UnRegEditUsers(1,$event)">Edit User</li>
                  <!-- <li class="dropdown-item dropItemUsers" (click)="markAttendance();">Mark Attendance</li> -->
                </ul>
              </div>
            </div>

            <div class="btn-group subButGrp" style="" >
              <button type="button" class="btnPad0 btn btn-secondary optbtnNewInd" [disabled]="unRegGetDisable()<2">Mass Actions</button>
              <button type="button" class="btnPad0 btn btn-danger dropdown-toggle dropdown-toggle-split splitBtn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" [disabled]="unRegGetDisable()<2">
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <div class="dropdown-menu dropMenu dropMenuUnReg3" aria-labelledby="dropdownMenuButton">
                <ul class="myUl">
                  <!-- <li class="dropdown-item dropItemUsers" (click)="markAttendance();">Mark Attendance</li> -->
                </ul>
              </div>
            </div>
          </div>     

          <div class="divMainSub" style="" *ngIf="tab2 == true"> 
            <div class="btn-group subButGrp" style="">
              <button type="button" class="btnPad0 btn btn-secondary optbtnNewInd">New Users</button>
              <button type="button" class="btnPad0 btn btn-danger dropdown-toggle dropdown-toggle-split splitBtn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <div class="dropdown-menu dropMenu dropMenuReg1" aria-labelledby="dropdownMenuButton">
                <ul class="myUl">
                  <li class="dropdown-item dropItemUsers" (click)="addUsersUnReg(0)">Add User</li>
                  <li class="dropdown-item dropItemUsers" (click)="uploadUsers()">Upload Users</li>
                </ul>
              </div>
            </div>

            <div class="btn-group subButGrp" style="">
              <button type="button" class="btnPad0 btn btn-secondary optbtnNewInd" [disabled]="getDisable()<1 || getDisable()>1">Actions</button>
              <button type="button" class="btnPad0 btn btn-danger dropdown-toggle dropdown-toggle-split splitBtn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" [disabled]="getDisable()<1 || getDisable()>1">
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <div class="dropdown-menu dropMenu dropMenuReg2" aria-labelledby="dropdownMenuButton">
                <ul class="myUl">
                  <li class="dropdown-item dropItemUsers" (click)="EditUsersUnReg(1);">Edit User</li>
                  <li class="dropdown-item dropItemUsers" (click)="markAttendance();">Mark Attendance</li>
                </ul>
              </div>
            </div>

            <div class="btn-group subButGrp" style="" >
              <button type="button" class="btnPad0 btn btn-secondary optbtnNewInd" [disabled]="getDisable()<2">Mass Actions</button>
              <button type="button" class="btnPad0 btn btn-danger dropdown-toggle dropdown-toggle-split splitBtn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" [disabled]="getDisable()<2">
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <div class="dropdown-menu dropMenu dropMenuReg3" aria-labelledby="dropdownMenuButton">
                <ul class="myUl">
                  <li class="dropdown-item dropItemUsers" (click)="markAttendance();">Mark Attendance</li>
                </ul>
              </div>
            </div>
          </div>

          <div class="divMainSub" style="" *ngIf="tab3 == true"> 
            <div class="btn-group subButGrp" style="">
              <button type="button" class="btnPad0 btn btn-secondary optbtnNewInd">New Users</button>
              <button type="button" class="btnPad0 btn btn-danger dropdown-toggle dropdown-toggle-split splitBtn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <div class="dropdown-menu dropMenu dropMenuEnrol1" aria-labelledby="dropdownMenuButton">
                <ul class="myUl">
                  <li class="dropdown-item dropItemUsers" (click)="addUsersReg(0)">Add User</li>
                  <li class="dropdown-item dropItemUsers" (click)="uploadUsers()">Upload Users</li>
                </ul>
              </div>
            </div>

            <div class="btn-group subButGrp" style="">
              <button type="button" class="btnPad0 btn btn-secondary optbtnNewInd" [disabled]="getDisable1()<1 || getDisable1()>1">Actions</button>
              <button type="button" class="btnPad0 btn btn-danger dropdown-toggle dropdown-toggle-split splitBtn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" [disabled]="getDisable1()<1 || getDisable1()>1">
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <div class="dropdown-menu dropMenu dropMenuEnrol2" aria-labelledby="dropdownMenuButton">
                <ul class="myUl">
                  <li class="dropdown-item dropItemUsers" (click)="EditUsersReg(1);">Edit User</li>
                  <li class="dropdown-item dropItemUsers" (click)="getSelectedRowsReg();">Unmark Attendance</li>
                </ul>
              </div>
            </div>

            <div class="btn-group subButGrp" style="" >
              <button type="button" class="btnPad0 btn btn-secondary optbtnNewInd" [disabled]="getDisable1()<2">Mass Actions</button>
              <button type="button" class="btnPad0 btn btn-danger dropdown-toggle dropdown-toggle-split splitBtn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" [disabled]="getDisable1()<2">
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <div class="dropdown-menu dropMenu dropMenuEnrol3" aria-labelledby="dropdownMenuButton">
                <ul class="myUl">
                  <li class="dropdown-item dropItemUsers" (click)="getSelectedRowsReg();">Unmark Attendance</li>
                </ul>
              </div>
            </div>
          </div>        
        </div>

        <tabset [pills]="false" class="usersTab" (onSelect)="postfileTab($event)">
          
          <tab title="" [disabled]="false" [active]= "tab1">
            <span *tabHeading>
              <b> 
                Un-Registered
                <span class="badge badge-light badgeCount">{{unRegRowDataCount}}</span>
              </b> 
            </span> 

            <div>          
              <div class="MainToolBarUsers" style="">
                  <div class="container"  *ngIf = "tabCont1">
                    <angular-slickgrid gridId="grid1"
                              [columnDefinitions]="columnDefinitions"
                              [gridOptions]="gridOptions"
                              [dataset]="unRegDataset"
                              (onAngularGridCreated)="unRegGridReady($event)"
                              (onGridStateChanged)="unRegGridStateChanged($event)"
                              (sgOnSelectedRowsChanged)="unRegHandleSelectedRowsChanged($event.detail.eventData, $event.detail.args)">
                    </angular-slickgrid>
                  </div>
              </div>
            </div> 
          </tab>

          <tab title="" [disabled]="false" [active]= "tab2">
            <span *tabHeading>
              <b> 
                Registered
                <span class="badge badge-light badgeCount">{{rowDataUnRegCount}}</span>
              </b> 
            </span> 

            <div>          
              <!-- <br><br> -->
              <div class="MainToolBarUsers" style="">
                  <div class="container"  *ngIf = "tabCont2">
                    <angular-slickgrid gridId="grid2"
                              [columnDefinitions]="columnDefinitions"
                              [gridOptions]="gridOptions"
                              [dataset]="dataset"
                              (onAngularGridCreated)="angularGridReady($event)"
                              (onGridStateChanged)="gridStateChanged($event)"  
                              (sgOnSelectedRowsChanged)="handleSelectedRowsChanged($event.detail.eventData, $event.detail.args)">
                              <!-- (sgOnRowCountChanged)="refreshStatistics($event.detail.eventData, $event.detail.args)" -->
                    </angular-slickgrid>

                  </div>

              </div>
            </div> 

          </tab>

          <tab title="" [disabled]="false" [active]= "tab3">
            <span *tabHeading>
              <b> 
                Enrolled
                <span class="badge badge-light badgeCount">{{rowDataRegCount}}</span>
              </b> 
            </span> 

              <div>          
                <!-- <br><br> -->
                <div class="MainToolBarUsers" style="">
                  
                  <div class="container" *ngIf = "tabCont3">
                    <angular-slickgrid gridId="grid3"
                              [columnDefinitions]="columnDefinitions"
                              [gridOptions]="gridOptions"
                              [dataset]="dataset1"
                              (onAngularGridCreated)="angularGridReady1($event)"
                              (onGridStateChanged)="gridStateChanged1($event)"
                              (sgOnSelectedRowsChanged)="handleSelectedRowsChanged1($event.detail.eventData, $event.detail.args)">
                              <!-- (sgOnRowCountChanged)="refreshStatistics($event.detail.eventData, $event.detail.args)" -->
                              <!--  (onBeforeGridDestroy)="saveCurrentGridState($event)" -->
                    </angular-slickgrid>
                  </div>

              </div>
            </div> 

          </tab>
        </tabset>
 
      </div>
    </div>
  </div>
</div>


