@import '../../styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/bootstrap/breakpoints';

@include nb-install-component() {
  display: flex;
  justify-content: space-between;
  width: 100%;
  .dropdown-toggle1::after{
    right: -1.25rem !important;
  }
  .clearfix1{
    width: 150px;
  }
  .dropdown-menu1{
    background-color: rgb(37, 116, 162);
    position: absolute !important;
    padding : 0px;
    text-align: center;
    top: 25px !important;
  }
  .dropdown-item1:hover, .dropdown-item1:focus{
    background-color: rgb(37, 116, 162);
    color: #fff;
  }
  .userImg{
    height: 35px;
    width: 35px;
    margin-top: 5px;
    border: 2px solid #fff;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
  }
  .userName{

  }
  .left {
    display: flex;
    width: 100%;
    order: 0;
    flex-direction: row;
  }
  .right {
    order: 1;
    flex-direction: row-reverse;
  }

  .logo-containter {
    display: flex;
    align-items: center;
    width: calc(#{nb-theme(sidebar-width)} - #{nb-theme(header-padding)});
  }

  .control-item {
    display: block;
  }
  .user_icon{
    display: flex;
  }
  .icon_size{
    font-size: 25px;
  }
  nb-action{
    border-color: #f1f4f5 !important;
  }
  .feedback_div{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    .inside_content{
      width: 400px;
      height: 400px;
      background: #fff;
      margin: 0 auto;
      display: grid;
      box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.188235);
      .header_title{
        display: grid;
        grid-template-columns: 1fr 1fr;
        // background: #076BA1;
        background: var(--colorHeader);
        height: 40px;
        align-items: center;
        padding: 0 20px 0 20px;
        .close_div{
          text-align: right;
          font-size: 18px;
          color: var(--colorBtnTxt)
        }
    }
    }
  }
    .faq_div{
      position: absolute;
      background: #ffffff;
      width: 350px;
      height: 500px;
      top: 100px;
      right: 20px;
      overflow-y: hidden;
      overflow-x: hidden;
      box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.188235);
      .header_title{
        display: grid;
        grid-template-columns: 1fr 1fr;
        // background: #076BA1;
        background: var(--colorHeader);
        height: 40px;
        align-items: center;
        padding: 0 20px 0 20px;
        .close_div{
          text-align: right;
          font-size: 18px;
          color: var(--colorBtnTxt);
        }
    }

    }
    div::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      border-radius: 10px;
      background-color: #F5F5F5;
    }
    
    div::-webkit-scrollbar {
      width: 12px;
      background-color: #F5F5F5;
    }
    
    div::-webkit-scrollbar-thumb {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
      background-color: #555;
    }
  
  .header-container {
    cursor: pointer;
    display: flex;
    align-items: center;
    width: auto;

    .navigation {
      @include nb-ltr(padding-right, nb-theme(padding));
      @include nb-rtl(padding-left, nb-theme(padding));
      font-size: 2.5rem;
      text-decoration: none;

      i {
        display: block;
      }

    }

    .logo {
      padding: 0 nb-theme(padding);
      font-size: 1.75rem;
      font-weight: nb-theme(font-weight-bolder);
      @include nb-ltr(border-left, 1px solid nb-theme(separator));
      @include nb-rtl(border-right, 1px solid nb-theme(separator));
      white-space: nowrap;

      span {
        font-weight: nb-theme(font-weight-normal);
      }
      width: 100px;
    }
  }

  .drpul {
    // width: 10em !important;
    // background-color: #2574a2;
    // // padding: 0;
    // padding-left: 0;
    text-align: center;
    top: 25px !important;
    z-index: 2000;
    // float: right !important;
    // background-color: transparent !important;
    // right: 0 !important;
}

  .dropdown-menu.drpul{
    background-color: #fff !important;
  }

  .drpul>.drpli:hover{
    background: #fff;
  }

  .drpul>.drpli>.signout:hover{
    background: #fff !important;
  }

.dropdown-menu>li>a {
  color: #086CA1 !important;
  font-weight: 900;
  text-align: center;
}

  @include nb-for-theme(corporate) {
    $menu-action-separator-color: #3f4550;

    nb-action {
      @include nb-ltr(border-left-color, $menu-action-separator-color);
      @include nb-rtl(border-right-color, $menu-action-separator-color);
    }

    .header-container .logo {
      @include nb-ltr(border, none);
      @include nb-rtl(border, none);
    }

    .header-container /deep/ ngx-theme-switcher .dropdown-toggle {
      color: nb-theme(color-white);
      background: transparent;
    }
  }

  ngx-layout-direction-switcher {
    margin: 0 1.5rem;
  }

  ngx-theme-switcher {
    margin: nb-theme(layout-padding);
    margin-top: 0;
    margin-bottom: 0;
  }

  @include media-breakpoint-down(xl) {
    ngx-layout-direction-switcher {
      display: none;
    }
  }

  .toggle-layout /deep/ a {
    display: block;
    text-decoration: none;
    line-height: 1;

    i {
      color: nb-theme(color-fg-highlight);
      font-size: 2.25rem;
      border-radius: 50%;
      position: relative;
      animation-name: pulse-light;

      &::after {
        content: ' ';
        // hack to be able to set border-radius
        background-image: url('data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7');
        border-radius: 50%;
        pointer-events: none;

        position: absolute;
        top: 52.3%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 13%;
        height: 13%;

        animation: 3s linear infinite pulse;

        @include nb-for-theme(default) {
          animation-name: pulse-light;
        }
      }
    }
  }

  @include keyframes(pulse) {
    0% {
      box-shadow: 0 0 1px 0 rgba(nb-theme(color-fg-highlight), 0);
    }
    20% {
      box-shadow: 0 0 3px 10px rgba(nb-theme(color-fg-highlight), 0.4);
    }
    100% {
      box-shadow: 0 0 5px 20px rgba(nb-theme(color-fg-highlight), 0);
    }
  }

  @include keyframes(pulse-light) {
    0% {
      box-shadow: 0 0 1px 0 rgba(115, 255, 208, 0);
    }
    20% {
      box-shadow: 0 0 3px 10px rgba(115, 255, 208, 0.4);
    }
    100% {
      box-shadow: 0 0 5px 20px rgba(115, 255, 208, 0);
    }
  }

  @include media-breakpoint-down(md) {

    nb-action:not(.toggle-layout) {
      border: none;
    }

    .control-item {
      display: none;
    }

    .toggle-layout {
      padding: 0;
    }

    ngx-layout-direction-switcher {
      display: none;
    }

    ngx-theme-switcher {
      margin: 0 0.5rem;
    }
  }

  @include media-breakpoint-down(sm) {

    nb-user /deep/ .user-name {
      display: none;
    }
  }

  @include media-breakpoint-down(is) {

    .header-container {
      .logo {
        font-size: 1.25rem;
      }
    }

    .toggle-layout {
      display: none;
    }

    ngx-theme-switcher {
      display: none;
    }

    nb-action:not(.toggle-layout) {
      padding: 0;
    }
  }

  @include media-breakpoint-down(xs) {
    .right /deep/ {
      display: none;
    }
  }

}


.drpul > .drpli > a:hover {
    /* color: #262626; */
    // position: sticky;
    // top:67px; 
    // text-decoration: none;
    // /* background-color: #f5f5f5; */
    // background-color: #2574a2 !important;
    // z-index: 100 !important;
}

.drpul > .drpli:hover {
  // position: sticky;
  // top: 67px;
  // border-bottom-left-radius: inherit !important;
  // border-bottom-right-radius: inherit !important;
  // z-index: 100 !important;
}

.drpul{
  will-change: unset !important;
}

.mytopDiv
{
      width: 150px;
    padding: 3px;
    /* height: 55px; */
    /* border-radius: 0; */
    position: fixed;
    transform: translate3d(-10px, 42px, 0px);
    top: 20px;
    left: -1px;
    /* font-size: 37px; */
    right: -3px;
    will-change: transform;
    background-color: rgb(2, 160, 245);
}
.myUltop
{
  padding:0;

}
.signout
{
  display: table !important;
  padding:0px !important;
}
.drpli
{
  padding: 10px 15px !important;
  border-bottom: 1px solid #eee;
}
.drpli:nth-child(1){
  border-top: 1px solid #eee;
}
// .drpul{
//   background-color: #2574a2 !important;
//   position: absolute !important;
//   padding: 0px !important;
//   text-align: center !important; 
//   top: 25px !important;
// }

