<div class="header-container" [class.left]="position === 'normal'" [class.right]="position === 'inverse'">
  <div class="logo-containter">
    <a (click)="toggleSidebar()" href="#" class="navigation"><i class="nb-menu"></i></a>
    <!-- <div class="logo" (click)="goToHome()">ngx-<span>admin</span></div> -->
    <div class="logo logoHeader" (click)="goToHome()">
      <span *ngIf="featureConfig.allowDynamicDbLogoImage">
        <!-- {{currentBrandData?.brandName}} -->
        <img width="75%" [src]="themebind()" (onError)="errorHandler($event)">
      </span>
      <span *ngIf="!featureConfig.allowDynamicDbLogoImage">
        {{currentBrandData?.brandName}}
        <!-- <img width="75%" [src]="themebind()" (onError)="errorHandler($event)"> -->
      </span>
    </div>
  </div>
  <!-- <ngx-theme-switcher></ngx-theme-switcher> -->
</div>
<div class="header-container">
  <!-- <ngx-layout-direction-switcher></ngx-layout-direction-switcher> -->
  <!--   <nb-actions
    size="medium"
    [class.right]="position === 'normal'"
    [class.left]="position === 'inverse'"> -->
  <!-- <nb-action icon="nb-gear" class="toggle-layout" (click)="toggleSettings()"></nb-action> -->
  <!--     <nb-action *nbIsGranted="['view', 'user']" >
      <nb-user [name]="user?.name" [picture]="user?.picture"></nb-user>
    </nb-action> -->
  <!-- <nb-action class="control-item" disabled icon="nb-notifications"></nb-action> -->
  <!-- <nb-action class="control-item" icon="nb-email"></nb-action> -->
  <!-- <nb-action class="control-item">
      <nb-search type="rotate-layout" (click)="startSearch()"></nb-search>
    </nb-action> -->
  <!-- </nb-actions> -->
  <!-- <div class="btn-group subButGrp" style="" >
              <button type="button" class="btnPad0 btn btn-secondary optbtnNewInd" [disabled]="unRegGetDisable()<2">Mass Actions</button>
              <button type="button" class="btnPad0 btn btn-danger dropdown-toggle dropdown-toggle-split splitBtn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" [disabled]="unRegGetDisable()<2">
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <div class="dropdown-menu dropMenu dropMenuUnReg3" aria-labelledby="dropdownMenuButton">
                <ul class="myUl">
                  <li class="dropdown-item dropItemUsers" (click)="markAttendance();">Mark Attendance</li>
                </ul>
              </div>
            </div> -->
            <nb-actions size="medium">
                <!-- <nb-action icon="nb-search"></nb-action> -->
                <nb-action [nbContextMenu]="help_menu">
                    <i class="fas fa-question-circle icon_size"></i>
                </nb-action>
               <nb-action [nbContextMenu]="user_menu" >
                  <nb-user size="medium"
                name="{{ userData?.firstname }} {{userData?.lastname}}"
                [picture]="userData?.picture_url">
                </nb-user>
               </nb-action>
              </nb-actions>
            <!-- <div class="user_icon">


            </div> -->
  <!-- <div class="user-profile clearfix clearfix1">
    <div class="dropdown al-user-profile" *ngIf="userData" >
      <a class="profile-toggle-link dropdown-toggle dropdown-toggle1" id="user-profile-dd" data-toggle="dropdown" aria-expanded="false">
        <img class="userImg" [src]="userData?.picture_url"><span class="userName">{{ userData?.firstname }} {{userData?.lastname}}</span>
      </a>
      <div class="mytopDiv dropdown-menu " aria-labelledby="user-profile-dd" style=" width: 150px!im">
        <ul class="myUltop">
          <li class="dropdown-item" (click)="logout()">
            <a href class="signout">
              <i class="fa fa-power-off"></i>
              Sign out
            </a>
          </li>
        </ul>
      </div>
              <ul class="dropdown-menu top-dropdown-menu profile-dropdown dropdown-menu-ul drpul" aria-labelledby="user-profile-dd">
                  <li class="dropdown-item dropdown-item1 drpli" (click)="logout()">
                      <a >
                        <i class="fa fa-power-off"></i>
                          <span>Help</span>
                      </a>
                    </li>
                <li class="dropdown-item dropdown-item1 drpli" (click)="logout()">
                <a class="signout" >
                  <i class="fa fa-power-off"></i>

                  <span>Sign out</span>
                </a>
              </li>
        </ul>
    </div>
  </div> -->
</div>
<div class="faq_div" *ngIf="showfaqs">
    <div class="header_title">
        <div>
            Help
        </div>
        <div class="close_div" (click)="closeFaq()">
            <i class="fa fa-times" aria-hidden="true" ></i>
        </div>
    </div>
    <ngx-faq></ngx-faq>
</div>

<div class="feedback_div" *ngIf="showSendFeedback">
  <div class="inside_content">
      <div class="header_title">
          <div>
              Send Feedback
          </div>
          <div class="close_div" (click)="closeSendFeedback()">
              <i class="fa fa-times" aria-hidden="true" ></i>
          </div>
      </div>
      <ngx-send-feedback (feedBackSent)="sendFeedback($event)" [screencapture]="imageSrc"></ngx-send-feedback>
  </div>

</div>

<ng-template >
		<!-- <nb-card class="margin-bottom-0">
			<nb-card-header>Notifications</nb-card-header>
			<nb-list>
				<nb-list-item *ngFor="let notifications of notificationMenu">
					<H4> {{ notifications.title }} </H4>
					<p> {{ notifications.message }} </p>
				</nb-list-item>

			</nb-list>
    </nb-card> -->

      <!-- <nb-card>
          <nb-card-body>

            <nb-user size="middle"
                    name="John Doe"
                    title="Engineer">
            </nb-user>

          </nb-card-body>
        </nb-card>   -->
	</ng-template>
