<app-subheader [headerConfig]="header" (backClick)="back()"></app-subheader>

<nb-tabset class="courseTabset" (changeTab)="selectedTabTest($event)">
  <!-- <nb-tab *ngFor="let item of themesclr" [tabTitle]="item.typeName" [active]="item.typeName == 'Admin'"> -->
    <nb-tab *ngFor="let item of themesclr" [tabTitle]="item.typeName" [active]="item.typeName == selectTab">
    <div class="Pickerdiv mt-4">
      <div class="innnerPicker">
        <div class="colorPicker p-1" *ngFor="let i of item.componentList">
          <label>{{i.compName}} :</label>
          <input (click)="changeLayout(i.compCode, item.typeName)" [(colorPicker)]="i.codeValue" [style.background]="i.codeValue" [style.color]="i.codeValue"
            [(ngModel)]="i.codeValue" (cpSliderDragEnd)="onEventLog($event,i.compCode, item.typeName)">
          <span class="code">{{i.codeValue}}</span>
        </div>
        <div>
          <button class="themeBtn" (click)="addEditTheme(item.componentList,item)">Save</button>
          &nbsp;&nbsp;
          <button class="themeBtn" (click)="setDefault(item)">Set as Default</button>
        </div>
      </div>

      <div class="preview" *ngIf="preview">
        <div class="portal">
          <main>
            <header class="d-flex justify-content-between align-items-center" [style.background]="portalTheme.header">
              <img [src]="imgUrl" alt="logo">
              <input type="text" placeholder="Search fot Courses">
              <span>
                <i [style.color]="portalTheme.icon" class="fa fa-bell pr-3"></i>
                <i [style.color]="portalTheme.icon" class="fa fa-user-circle pr-2"></i>
                <label class="m-0">User</label>
              </span>
            </header>
            <section>
              <div [style.background]="portalTheme.sidemenu" class="sidebar position-relative text-center">
                <div class="innerSide">
                  <i [style.color]="portalTheme.icon" class="fas fa-home"></i>
                  <label [style.color]="portalTheme.sidemenuclr" >Home</label>
                </div>
                <div class="innerSide">
                  <i [style.color]="portalTheme.icon" class="fab fa-leanpub"></i>
                  <label [style.color]="portalTheme.sidemenuclr" >Learn</label>
                </div>
                <div class="innerSide">
                  <i [style.color]="portalTheme.icon" class="far fa-calendar-alt"></i>
                  <label [style.color]="portalTheme.sidemenuclr" >Calender</label>
                </div>
                <div class="innerSide bottomSide position-absolute w-100">
                  <i [style.color]="portalTheme.icon" class="fas fa-sign-out-alt"></i>
                  <label [style.color]="portalTheme.sidemenuclr" >Logout</label>
                </div>
              </div>
              <!-- home page -->
              <div *ngIf="showHome" [style.background]="portalTheme.pageBackground" class="content">
                <div class="innerConte">
                  <div class="banner">
                    <img src="assets/images/banner_new.jpg">
                  </div>
                  <div class="boxes">
                    <div class="sbox" *ngFor="let item of courses">
                      <h2 [style.background]="portalTheme.commonColor">{{ item.name }}</h2>
                      <div class="sboxinnner">
                        <p> Ongoing <span>{{ item.ongoing }}</span></p>
                        <ul>
                          <li>
                            <label>Classroom <span>{{ item.classroom }}</span></label>
                          </li>
                          <li>
                            <label>Online <span>{{ item.online }}</span></label>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="sbox">
                      <h2 [style.background]="portalTheme.commonColor"> Program </h2>
                      <div class="sboxinnner">
                        <p>Ongoing <span>20</span></p>
                        <ul>
                          <li>
                            <label>Classroom <span>10</span></label>
                          </li>
                          <li>
                            <label>Classroom <span>10</span></label>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="bottomDiv">
                    <div class="pbox text-center" *ngFor="let item of box">
                      <div class="innerbox">
                        <h3 class="m-0"> {{ item.name }} </h3>
                        <i [style.color]="portalTheme.icon" class="{{ item.icon }}"></i>
                        <p class="m-0"> {{ item.text }} </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="newsLead">
                  <div class="newSec">
                    <h2 [style.background]="portalTheme.commonColor" class="m-0 text-center">News & Announcement</h2>
                    <div class="discri" *ngFor="let item of news">
                      <h3 class="m-0"> {{ item.title }} </h3>
                      <p class="m-0"> {{ item.discription }} </p>
                    </div>
                  </div>
                  <div class="leadDiv">
                    <div [style.background]="portalTheme.commonColor" class="toplead text-center">
                      <h2 class="m-0">Leaderboard</h2>
                      <span>
                        <a>342</a>
                        <i class="fa fa-home"></i>
                        <a>90pt(s)</a>
                      </span>
                    </div>
                    <div class="inerlead">
                      <ul>
                        <li>
                          <span>RANK</span>
                          <span>NAME</span>
                          <span>POINTS</span>
                        </li>
                        <li *ngFor="let item of leaders;let i = index">
                          <span>{{i+1}}. <i [style.color]="portalTheme.icon" class="fa fa-user-circle-o"></i></span>
                          <span>{{ item.name }}</span>
                          <span>{{ item.points }}</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <!-- button click -->
              <!-- <div *ngIf="!showHome" [style.background]="portalTheme.pageBackground" class="content">
                <div class="courseHead">
                  <button [style.color]="btnclr" [style.borderColor]="btnclr" [style.background]="portalTheme.button">BUtton change</button>
                </div>
              </div> -->

              <div *ngIf="!showHome" [style.background]="portalTheme.pageBackground" class="courses">
                <div class="courseHead">
                  <i class="fa fa-life-ring"></i>
                  <div class="head">
                    <h1 class="m-0">Lorem Ipsum is simply dummy</h1>
                    <p class="m-0">Lorem Ipsum has been the industry's standard dummy text ever</p>
                  </div>
                  <i class="fa fa-times close"></i>
                </div>
                <div class="module">
                  <button class="mobtn" [style.color]="btnclr" [style.borderColor]="btnclr" [style.background]="portalTheme.button">Module</button>
                  <button class="mobtn" [style.color]="portalTheme.button" [style.borderColor]="portalTheme.button" [style.background]="btnclr" *ngFor="let item of [1,2,3,4]">Module</button>
                </div>
                <div class="activities">
                <div class="activity d-flex" *ngFor="let item of activities">
                    <img [src]="item.image">
                    <div class="innercard d-flex flex-column w-100">
                      <h2> {{ item.name }} <span class="float-right">ONLINIE |  {{ item.time }} </span></h2>
                      <p> {{ item.discription }} </p>
                      <button class="modbtn align-self-end" [style.color]="btnclr" [style.borderColor]="btnclr" [style.background]="portalTheme.button">Begin</button>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </main>
        </div>
      </div>

    </div>
  </nb-tab>

  <nb-tab tabTitle="Logo">
    <!-- <div class="logoDiv mt-4 p-4">
      <p>logo :</p>
      <div class="custom-file col-md-6">
        <input type="file" class="custom-file-input" id="customFile">
        <label class="custom-file-label" for="customFile">Choose logo</label>
      </div>
      <div class="imageDiv">
        <img src="../../../assets/images/assessment1.png" alt="logo"> 
      </div>
      <button class="themeBtn">Remove Image</button>
    </div> -->
    <div class="logoDiv mt-4 p-4">
      <div class="image_upload_container">
        <div class="image_preview">
          <!-- [ngStyle]="{'not_found': !imgUrl }" -->
          <div class="image_preview_container" [style.background-image]="'url(' + imgUrl + ')'">
            <div class="icon_upload_image">
              <input type='file' id="imageUpload" [ngModelOptions]="{standalone: true}" accept=".png, .jpg, .jpeg"
                (change)="pickLogo($event)" class="d-none" />
              <label for="imageUpload" title="Change Thumbnail"><i class="fa fa-pencil" aria-hidden="true"></i></label>
            </div>
            <div class="icon_delete" (click)="deleteLogo()">
              <i class="fa fa-trash" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>
      <button class="themeBtn" (click)="changeImage()">Save</button>
    </div>
  </nb-tab>
</nb-tabset>