@import '../../@theme/styles/variable.scss';
.Pickerdiv,
.logoDiv {
  margin: 16px;
  background: white;
  padding: 12px;
  border-radius: 4px;
  border: 0.5px solid #efefef;
  .colorPicker {
    // display: inline-block;
    // width: 50%;
    label {
      width: 155px;
      margin: 0;
      letter-spacing: 0.4px;
    }
    input {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      cursor: pointer;
      outline: none;
      border: 1px solid #efefef;
      box-shadow: 0px 0px 8px -2px;
    }
    .code {
      margin-left: 12px;
    }
  }
  .innnerPicker {
    width: 50%;
    display: inline-block;
  }
  .preview {
    width: 50%;
    padding: 10px;
    border-radius: 3px;
    display: inline-block;
    vertical-align: top;
    .portal {
      // background: #ebeff5;
      border: 0.5px solid #cbc5c573;
      box-shadow: 2px 4px 3px 0 #dfe3eb;
      main {
        header {
          height: 50px;
          padding: 0 12px;
          box-shadow: 0 2px 12px 0 #dfe3eb;
          img {
            width: 65px;
          }
          input {
            border: none;
            outline: none;
            width: 58%;
            font-size: 10px;
            padding: 6px 12px;
            border-radius: 25px;
            background: #f4f4f4;
          }
          span {
            i {
              color: blue;
            }
            label {
              font-size: 10px;
            }
          }
        }
        section {
          display: grid;
          height: 230px;
          grid-template-columns: 50px 1fr;
          .sidebar {
            box-shadow: 0 2px 12px 0 #dfe3eb;
            .innerSide {
              padding: 6px 0;
              i {
                color: blue;
              }
              label {
                margin: 0;
                font-size: 8px;
                display: block;
              }
            }
            .bottomSide {
              bottom: 0;
            }
          }
          .content {
            padding: 12px;
            display: grid;
            overflow: auto;
            background: #ebeff5;
            grid-column-gap: 12px;
            grid-template-columns: 1fr 33%;
            &::-webkit-scrollbar {
              width: 5px !important;
            }
            .innerConte {
              .banner {
                margin-bottom: 12px;
                border-radius: 4px;
                box-shadow: 0px 0px 10px 1px rgba(47, 83, 151, 0.2);
                img {
                  width: 100%;
                  border-radius: 4px;
                }
              }
              .boxes {
                display: grid;
                margin-bottom: 12px;
                grid-column-gap: 6px;
                grid-template-columns: 1fr 1fr 1fr;
                .sbox {
                  overflow: hidden;
                  text-align: center;
                  border-radius: 4px;
                  background: #ffffff;
                  border: 0.5px solid rgba(47, 83, 151, 0.1);
                  box-shadow: 0px 3px 4px 1px rgba(47, 83, 151, 0.12);
                  h2 {
                    margin: 0;
                    padding: 4px 0;
                    font-size: 7px;
                    color: white;
                    background: blue;
                  }
                  .sboxinnner {
                    padding-top: 4px;
                    p {
                      margin: 0;
                      font-size: 6px;
                      span {
                        display: block;
                        padding: 3px 0;
                      }
                    }
                    ul {
                      margin: 0;
                      padding: 0;
                      border: none;
                      list-style-type: none;
                      li {
                        font-size: 6px;
                        padding: 3px;
                        margin-top: 1px;
                        text-align: left;
                        background: #eeeeee;
                        label {
                          margin: 0;
                          width: 100%;
                          span {
                            float: right;
                          }
                        }
                      }
                    }
                  }
                }
              }
              .bottomDiv {
                display: flex;
                flex-wrap: wrap;
                .pbox {
                  flex: 0 50%;
                  padding-bottom: 8px;
                  &:nth-child(odd) {
                    padding-right: 8px;
                  }
                  .innerbox {
                    padding: 6px;
                    height: 100%;
                    border-radius: 4px;
                    background: #ffffff;
                    box-shadow: 0px 3px 4px 1px rgba(47, 83, 151, 0.12);
                    h3 {
                      font-size: 10px;
                    }
                    i {
                      color: blue;
                      padding: 6px 0;
                      font-size: 12px;
                    }
                    p {
                      font-size: 7px;
                    }
                  }
                }
              }
            }
            .newsLead {
              .newSec {
                overflow: hidden;
                border-radius: 6px;
                margin-bottom: 12px;
                border: 0.5px solid rgba(47, 83, 151, 0.1);
                box-shadow: 0px 3px 4px 1px rgba(47, 83, 151, 0.12);
                h2 {
                  font-size: 10px;
                  color: white;
                  background: blue;
                  padding: 4px;
                }
                .discri {
                  padding: 4px;
                  background: #ffffff;
                  border-bottom: 1px solid #e3e3e3;
                  h3 {
                    font-size: 7px;
                  }
                  p {
                    font-size: 5px;
                  }
                }
              }
              .leadDiv {
                border-radius: 6px;
                overflow: hidden;
                margin-bottom: 12px;
                border: 0.5px solid rgba(47, 83, 151, 0.1);
                box-shadow: 0px 3px 4px 1px rgba(47, 83, 151, 0.12);
                .toplead {
                  background: blue;
                  color: white;
                  padding: 6px 0;
                  h2 {
                    font-size: 12px;
                    color: white;
                    padding-bottom: 6px;
                  }
                  span {
                    font-size: 8px;
                    i {
                      font-size: 14px;
                      padding: 0 9px;
                    }
                  }
                }
                .inerlead {
                  background: #ffffff;
                  ul {
                    margin: 0;
                    padding: 0;
                    list-style-type: none;
                    li {
                      padding: 3px;
                      font-size: 6px;
                      display: flex;
                      justify-content: space-between;
                      &:first-child {
                        border-bottom: 0.5px solid #cbc5c573;
                      }
                      &:nth-child(even) {
                        background: #eeeeee;
                      }
                    }
                  }
                }
              }
            }
            // .courseHead {
            //   button {
            //     border: none;
            //     padding: 10px;
            //     color: white;
            //     background: #000;
            //   }
            // }
          }
          .courses {
            padding: 12px;
            overflow: auto;
            background: #ebeff5;
            &::-webkit-scrollbar {
              width: 5px !important;
            }
            .courseHead {
              padding: 6px;
              border-radius: 6px;
              background: #ffffff;
              display: grid;
              align-items: center;
              grid-template-columns: 20px 1fr 20px;
              .head {
                h1 {
                  font-size: 9px;
                  padding-bottom: 1px;
                }
                p {
                  font-size: 7px;
                }
              }
              .close {
                font-size: 8px;
                padding: 2px 3px;
                border-radius: 2px;
                justify-self: center;
                border: 0.5px solid gray;
              }
            }
            .module {
              .mobtn {
                border: none;
                color: white;
                background: #475edc;
                font-size: 6px;
                padding: 2px 4px;
                margin-right: 4px;
                border-radius: 3px;
                letter-spacing: 0.6px;
              }
            }
            .activities {
              .activity {
                margin: 6px 0;
                overflow: hidden;
                border-radius: 4px;
                background: #ffffff;
                img {
                  width: 25%;
                }
                .innercard {
                  padding: 6px;
                  h2 {
                    font-size: 8px;
                    span {
                      font-size: 5px;
                    }
                  }
                  p {
                    font-size: 6px;
                  }
                  button {
                    width: 80px;
                    font-size: 9px;
                    padding: 2px 0;
                    border-radius: 4px;
                    letter-spacing: 0.6px;
                    border: 0.5px solid #475edc;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

// .logoDiv {
// //   margin-top: 0;
//   p {
//     color: #4b4b4b;
//     font-weight: 600;
//     letter-spacing: 0.4px;
//   }
//   .imageDiv {
//     height: 100%;
//     width: 24%;
//     box-shadow: 5px 5px 10px 1px rgba(47, 83, 151, 0.1);

//     img {
//       height: 100%;
//       width: 100%;
//       object-fit: contain;
//     }
//   }
// }

.themeBtn {
  padding: 6px 10px;
  border: none;
  margin-top: 16px;
  font-size: 14px;
  border-radius: 3px;
  // background: #076ba1;
  // color: white;
  background-color: var(--colorBgbtn) !important;
  color: var(--colorBtnTxt) !important;
  border: 1px solid var(--colorBtnTxt) !important;
  letter-spacing: 0.4px;
  outline: none;
  text-transform: capitalize;
  transition: 0.4s ease-in-out;
}

.image_upload_container {
  // margin-top: 15px;
  .image_preview {
    height: 170px;
    width: 300px;
    margin-right: auto;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    padding: 10px;
    background: #fff9f9;
    position: relative;
    .image_preview_container {
      height: 150px;
      width: 100%;
      // background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 20px;
      align-items: end;
      .icon_upload_image {
        margin-left: 10px;
        margin-bottom: 10px;
        label {
          display: flex;
          align-items: center;
          justify-content: center;
          background: #fff;
          // color: #076ba1;
          color: var(--colorIcons);
          height: 40px;
          width: 40px;
          border-radius: 50%;
          box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
          margin-bottom: 0;
          padding: 0;
          i {
            line-height: 40px;
          }
        }
      }
      .icon_delete {
        margin-left: auto;
        margin-right: 10px;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #fff;
        // color: #076ba1;
        color: var(--colorIcons);
        height: 40px;
        width: 40px;
        border-radius: 50%;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
        padding: 0;
        i {
          line-height: 40px;
        }
      }
    }
  }
}
.not_found {
  background-image: url("assets/images/BajajFinserv_Logo.png");
}

// ==============================================================

@media only screen and (max-width: 910px) {
  .Pickerdiv {.innnerPicker {width: 100%;}}
  .Pickerdiv>.innnerPicker {width: 100%;}
  .preview {display: none !important;}
}