@import '../../../../../../@theme/styles/variable.scss';
ngx-step-wise-data{
// ====================================
.loaderDiv {
  position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(7, 7, 7, 0.5);
    z-index: 3;
    p {
      text-align: center;
      position: absolute;
      left: 0;
      right: 0;
      top: 66%;
      transform: translateY(-50%);
      color: white;
    }
} 
.loader {
  transform: translateY(50%);
  top: 50%;
  left: 47%;
  position: absolute;
  z-index: 4;
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 9px solid #076BA1;
  width: 60px;
  height: 60px;
  animation: spin 1.3s linear infinite;
}
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
// ====================================
  label{
    font-size: 13px;
  }
  .no_data_found{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    color: #000;
    p{
      margin: 0;
    }
  }
  .parent_ttt_nomination{
    display: grid;
    grid-template-columns: 0.8fr 4fr;
    .stepper-container{
        background: #eee;
      .bs-vertical-wizard {
        border-right: 1px solid #eaecf1;
        // padding-bottom: 50px;
      }
      // .stepName{
      //     font-size: 15px;
      // }
      .bs-vertical-wizard ul {
        margin: 0;
        padding: 0;
        list-style: none;
      }

      .bs-vertical-wizard ul>li {
        display: block;
        position: relative;
        cursor: pointer;
      }

      .bs-vertical-wizard ul>li>div {
        display: block;
        padding: 10px 10px 10px 40px;
        color: #333c4e;
        font-size: 13px;
        font-weight: 400;
        letter-spacing: .8px;
      }

      .bs-vertical-wizard ul>li>div:before {
        content: '';
        position: absolute;
        width: 1px;
        height: calc(100% - 25px);
        background-color: #bdc2ce;
        left: 13px;
        bottom: -9px;
        z-index: 3;
      }

      .bs-vertical-wizard ul>li>div .ico {
        pointer-events: none;
        font-size: 14px;
        position: absolute;
        left: 10px;
        top: 15px;
        z-index: 2;
      }
      .bs-vertical-wizard ul>li>div .ico-pending{
        pointer-events: none;
        font-size: 14px;
        position: absolute;
        left: 7px;
        top: 15px;
        z-index: 2;
        color: #507BFC;
      }
      .bs-vertical-wizard ul>li>div:after {
        content: '';
        position: absolute;
        border: 2px solid #bdc2ce;
        border-radius: 50%;
        top: 14px;
        left: 6px;
        width: 16px;
        height: 16px;
        z-index: 3;
      }

      .bs-vertical-wizard ul>li>div .desc {
        display: block;
        color: #bdc2ce;
        font-size: 11px;
        font-weight: 400;
        line-height: 1.8;
        letter-spacing: .8px;
      }

      .bs-vertical-wizard ul>li.complete>div:before {
        background-color: #5cb85c;
        opacity: 1;
        height: calc(100% - 25px);
        bottom: -9px;
      }

      .bs-vertical-wizard ul>li.complete>div:after {display:none;}
      .bs-vertical-wizard ul>li.locked>div:after {display:none;}
      .bs-vertical-wizard ul>li:last-child>div:before {display:none;}

      .bs-vertical-wizard ul>li.complete>div .ico {
        left: 8px;
      }

      .bs-vertical-wizard ul>li>div .ico.ico-green {
        color: #5cb85c;
      }

      .bs-vertical-wizard ul>li>div .ico.ico-muted {
        color: #bdc2ce;
      }

      .bs-vertical-wizard ul>li.current {
        background-color: #fff;
      }

      .bs-vertical-wizard ul>li.current>div:before {
        // background-color: #076BA1;
        background-color: var(--colorCommon);
        opacity: 1;
      }

      .bs-vertical-wizard ul>li>div:after {
        // border-color: #076BA1;
        // background-color: #076BA1;
        background-color: var(--colorCommon);
        border-color: var(--colorCommon);
        opacity: 1;
      }

      .bs-vertical-wizard ul>li.current:after, .bs-vertical-wizard ul>li.current:before {
        left: 100%;
        top: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
      }

      .bs-vertical-wizard ul>li.current:after {
        border-color: rgba(255,255,255,0);
        border-left-color: #fff;
        border-width: 10px;
        margin-top: -10px;
      }

      .bs-vertical-wizard ul>li.current:before {
        border-color: rgba(234,236,241,0);
        border-left-color: #eaecf1;
        border-width: 11px;
        margin-top: -11px;
      }

    }
    // .stepper-container{
    //   .StepProgress {
    //     position: relative;
    //     padding-left: 45px;
    //     list-style: none;
    //     counter-reset: progress;
    //   }
    //   .StepProgress::before {
    //     display: inline-block;
    //     content: '';
    //     position: absolute;
    //     top: 0;
    //     left: 15px;
    //     width: 10px;
    //     height: 100%;
    //     border-left: 2px solid #CCC;
    //   }
    //   .StepProgress-item {
    //     position: relative;
    //     counter-increment: progress;
    //   }
    //   .StepProgress-item:not(:last-child) {
    //     padding-bottom: 20px;
    //   }
    //   .StepProgress-item::before {
    //     display: inline-block;
    //     content: '';
    //     position: absolute;
    //     left: -30px;
    //     height: 100%;
    //     width: 10px;
    //   }
    //   .StepProgress-item::after {
    //     content: '';
    //     display: inline-block;
    //     position: absolute;
    //     top: 0;
    //     left: -45px;
    //     width: 25px;
    //     height: 25px;
    //     border: 2px solid #CCC;
    //     border-radius: 50%;
    //     background-color: #FFF;
    //     content: counters(progress,".") " ";
    //     color:#777;
    //   }
    //   .StepProgress strong {
    //     display: block;
    //   }
    // }
    .stepper_data_conatiner{
      background: #fff;
      // padding:20px;
      .grid_2_col{
        display: grid;
        grid-template-columns: 3fr 1fr;
        align-items: center;
        row-gap: 10px;
        column-gap: 20px;
      }
        // .mycrd4{
        //     width: 100%;
        //     border-radius: 10px;
        //     padding: 15px 0;
        //     min-width: 900px;
        // }
        // .participants-table{
        //     width: 100%;
        //     min-width: 900px;
        //     overflow: scroll;
        // }
        // .tableRow{
        //     font-size: 17px;
        //     display: grid;
        //     grid-template-columns: 1fr 1fr 1fr;
        // }
        // .tableData{
        //     margin: auto 0;
        // }
        // .titlePara{
        //     margin: auto;
        //     line-height: 26px;
        // }
        // .lastCellPadding{
        //     margin: auto 0;
        // }
        // .quesNo{
        //     width: 80px;
        //     height: 80px;
        //     line-height: 80px;
        //     margin: auto;
        //     text-align: center;
        // }
        .card_content{
          box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
          transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
          display: block;
          position: relative;
          padding: 16px;
          border-radius: 10px;
        }
        .table-head-row{
          display: grid;
          grid-template-columns: 1fr 2fr 4fr 1fr;
          align-items: center;
          padding: 10px ;
          text-align: center;
          // min-height: 56px;
          h2{
              text-align: center !important;
              font-size: 16px !important;
              font-weight: 600;
              text-transform: uppercase;
              Color:rgba(0, 0, 0, 0.54);
              margin: 0;
          }
      }
      .table-content{
          display: grid;
          // grid-template-columns: 1fr 2fr 4fr 1fr;
          align-items: center;
          padding: 10px ;
          text-align: center;

          .table-row-image{
              margin: 0 auto;
              border-radius: 50%;
              height: 55px;
              width: 55px;;
              border: 3px solid #8e9db7;
          }
          h2{
              line-height: 30px;
              font-size: 16px;
              font-family: Roboto, "Helvetica Neue", sans-serif;
              margin: 0;
          }
          .rank {
              // font-size: 13vw;
              font-size: 45px;
              // color: blue;
              text-align: center;
              position: relative;
              .rank-number {
                  position: absolute;
                  color: white;
                  left: 38%;
                  font-size: 20px;
                  top: 23%;
              }
          }
          // .golden-medal {
          //     color: #FFD700;
          // }
          // .silver-medal {
          //     color: #C0C0C0;
          // }
          // .bronze-medal {
          //     color: #cd7f32;
          // }
      }
      .table-content-odd{
          background-color: #4646460f;
      }
      .table-content-even{
          background-color: #fff;
      }
    }
   .constantbtn{
     margin: 10px;
   }
   .webinar-form-container{
     display: grid;
     grid-template-columns: 1.5fr 1.5fr 1fr 1fr auto;
     grid-column-gap: 20px;
   }

   .webinarForm{
    padding: 0 20px;
   }

   .save{
    align-self: end;
    margin-bottom: 5px;
   }

   .nomargin{
     margin: 0;
   }


      .innerDiv{
        input{
          margin-right: 10px;
        }
        position: relative;
        padding-right: 18px;
        display: inline-block;
        vertical-align: middle;
      }

.gridBtn{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

/* Hide the browser's default checkbox */
.checkLabel input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  }

/* Create a custom checkbox */
.checkMarker {
  position: absolute;
  top: 3px;
  left: 6px;
  height: 16px;
  margin: auto;
  width: 16px;
  // border: 1px solid #2196F3;
  border: 1px solid var(--colorCommon);
  background-color: #feffff;
  }

  /* On mouse-over, add a grey background color */
  .checkLabel:hover input ~ .checkMarker {
  background-color: #F1F5F8;
  }

  /* When the checkbox is checked, add a blue background */
  .checkLabel input:checked ~ .checkMarker {
    background-color: #feffff
  }

  /* Create the checkmark/indicator (hidden when not checked) */
  .checkMarker:after {
  content: "";
  position: absolute;
  display: none;
  }

  /* Show the checkmark when checked */
  .checkLabel input:checked ~ .checkMarker:after {
  display: block;
  }

  /* Style the checkmark/indicator */
  .checkLabel .checkMarker:after {
    left: 6px;
    top: 1px;
    width: 4px;
    height: 10px;
    // border: solid #2196F3;
    border: solid var(--colorCommon);
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .checkLabel{
    margin: auto;
    line-height: 22px;
    width: 100%;
    font-size: 13px;
    padding-left: 27px;
    cursor: pointer;
  }

  }
  .mat-tab-label-active{
    // background: #076ba1 !important;
    background: var(--colorCommon) !important;
    color: #fff !important;
}
.content_center_container{
  width: 60%;
  margin: 0 auto;
}
.content_width_container {
  width: 96%;
  margin: 0 auto;
  padding-bottom: 12px;
  .selected-list {
    .c-btn {
      padding: 7px 10px;
    }
  } 
  .form-control {
    font-size: 13px !important; 
    box-shadow: none;
  }
}
.no-data-found{
  // padding: 50px;
  // background: #FFF;
  transform: translateY(50%);
  position: absolute;
  top: 27%;
  left: 44%;
  color: #a7aeb2;
  p {
    font-weight: 600;
  }
  i {
    font-size: 115px;
  }
}
// .mat-tab-body{
//   margin-top: 35px !important;
//   margin-bottom: 35px !important;
// }

.mat-tab-header{
  // width: 90% !important;
  margin: 16px auto !important;
}

.mat-tab-label {
  width: 100%;
  background: #fff;
  // border: 1px solid #076ba1;
  border: 1px solid var(--colorCommon);
  font-size: 14px;
  height: 35px;
  // color: #076ba1;
  color: var(--colorCommon);
  opacity: 1 !important;
  font-weight: 400;
  font-family: 'Poppins',sans-serif;
}

.mat-tab-label:first-child{
  border-bottom-left-radius: 25px !important;
  border-top-left-radius: 25px !important;
}

.mat-tab-label:last-child{
  border-bottom-right-radius: 25px !important;
  border-top-right-radius: 25px !important;
}

.mat-tab-group {
  width: 100% !important;
  margin: auto;
}

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{
  visibility: hidden !important;
}

.mat-tab-header, .mat-tab-nav-bar{
  border: none !important;
}

}

