<div class="parent_ttt_nomination" *ngIf='!noStepsFound'>

    <div class="stepper-container">
        <div class="bs-vertical-wizard">
            <ul>
                <!-- complete: step.status == '1' , -->
                <li (click)="stepdetail(step)" [ngClass]="{

            current: selectedstep == step.id
            }" *ngFor="let step of stepsData; let stepIndex = index">
                    <div class="stepName"> {{ step.displayName }}
                        <!-- *ngIf="step.status == '1' " -->
                        <!-- <i class="ico fa fa-check ico-green" ></i> -->
                        <!-- <i class="ico-pending  fa fa-exclamation-circle ico-muted"></i> -->
                        <!-- <i class="ico-pending fa fa-exclamation-circle ico-muted" ></i> -->
                        <!-- <i class="ico fa fa-exclamation ico-green" aria-hidden="true" ></i> -->
                        <!-- <i class="ico fa fa-lock ico-muted" *ngIf="step.status == '0'"></i> -->
                        <!-- <span class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, cumque.</span> -->
                    </div>
                </li>
                <!-- <li class="current">
              <div> Hello
                <i class="ico-pending fa fa-exclamation-circle ico-muted" aria-hidden="true" ></i>
              </div>
          </li> -->
            </ul>
        </div>
    </div>
    <div class="stepper_data_conatiner position-relative">
        <div class="loaderDiv" *ngIf="loader">
            <div class="loader"></div>
            <p>Please wait as this may take a few minutes...</p>
        </div>
        <div class="mattabs">
            <mat-tab-group #tab1 [selectedIndex]="selectedIndex" (selectedTabChange)="tabChanged($event)">
                <mat-tab [label]="data" *ngFor="let data of tabsArray">
                </mat-tab>



            </mat-tab-group>
        </div>
        <div *ngIf="data?.length !=0" class="">
            <div class="form-group1 content_center_container" *ngIf="selectedstep === 2">

                <div class="">
                    <div> <label class="space_left" for="comments">Comments <h3 class="reqField">*</h3></label></div>
                    <textarea rows="2" cols="8" [(ngModel)]="comment" class="form-control comments" id="comments" placeholder="Write your comments" #comm="ngModel" minlength="2" maxlength="50" (keyup)="submit()"></textarea>
                    <div *ngIf="errflag">
                        <p class="invalid-msg">Comment is required</p>
                    </div>
                    <div class="invalid-msg" *ngIf="comm.errors?.minlength">
                        Min 2 characters are required.
                    </div>
                    <div class="invalid-msg" *ngIf="comm.errors?.maxlength">
                        Max 50 characters are allowed.
                    </div>
                </div>

                <div class="text-center mt-2" *ngIf="currentTabLabel != 'Pending'">
                    <button class="constantbtn-button-blue-left" *ngIf="currentTabLabel == 'Rejected'" [disabled]="!comment" (click)="updata('1')">Approve</button>
                    <button class="constantbtn-button-blue-right" *ngIf="currentTabLabel == 'Approved'" [disabled]="!comment" (click)="updata('0')">Reject</button>
                </div>
                <div class="text-center mt-2" *ngIf="currentTabLabel == 'Pending'">
                    <button class="constantbtn-button-blue-left" [disabled]="!comment" (click)="updata('1')">Approve</button>
                    <button class="constantbtn-button-blue-right" [disabled]="!comment" (click)="updata('0')">Reject</button>
                </div>
            </div>

            <div class="content_width_container" *ngIf="selectedstep === 3">

                <div class="text-right">
                    <div class="innerDiv" *ngIf="currentTabLabel == 'Pending' ">
                        <label class="checkLabel">
                    <input type="radio" name="options" (change)="radioValue(1)" [value]="1"/>Accept
                    <span class="checkMarker"></span>
                  </label>

                    </div>
                    <div class="innerDiv" *ngIf="currentTabLabel == 'Pending'">
                        <label class="checkLabel">
                    <input type="radio" name="options" (change)="radioValue(0)" [value]="0"/>Reject
                    <span class="checkMarker"></span>
                  </label>

                    </div>
                    <div class="innerDiv" *ngIf="currentTabLabel == 'Rejected'">
                        <label class="checkLabel">
                  <input type="checkbox" name="options"  (change)="onCheckValue($event, 'approve')" />Accept
                  <span class="checkMarker"></span>
                </label>

                    </div>
                    <div class="innerDiv" *ngIf="currentTabLabel == 'Approved'">
                        <label class="checkLabel">
                  <input type="checkbox" name="options" (change)="onCheckValue($event, 'reject')" />Reject
                  <span class="checkMarker"></span>
                </label>

                    </div>


                    <div class="innerDiv">
                        <label class="checkLabel">
                <input type="checkbox"  [(ngModel)]="theCheckbox"  data-md-icheck (change)="toggleVisibility($event)"/>Publish
                <span class="checkMarker"></span>
              </label>


                        <!-- <input type="checkbox" [(ngModel)]="theCheckbox"  data-md-icheck (change)="toggleVisibility($event)"/>publish -->
                    </div>
                    <button class="constantbtn-button-blue-left" (click)="evalutionapprove()" [disabled]="disableSubmit">Save</button>
                </div>


            </div>
            <div class="content_width_container" *ngIf="isapprove == 0 && selectedstep === 3 && currentTabLabel != 'Rejected' && rejResTArea">
                <label class="space_left" for="comments">Reason <h3 class="reqField">*</h3></label>
                <div class="nominationfullwidth">
                    <textarea rows="2" cols="8" [(ngModel)]="rejRes" class="form-control comments" id="comments" placeholder="Write your comments" (keyup)="submit1()"></textarea>
                </div>
                <div *ngIf="errflag1">
                    <p class="reqField">Rejection reason required</p>
                </div>
            </div>
            <form #webinarForm="ngForm" class="content_width_container" *ngIf="selectedstep === 4 && currentTabLabel != 'Completed'">

                <div class="webinar-form-container">
                    <div class="form-group nomargin">
                        <label class="left_space" for="trainerName">Trainer Name
              <h3 class="reqField">*</h3></label>
                        <!-- <select class="form-control" name="trainerName" id="trainerName" [(ngModel)]="webinar.trainer"
              #trainer="ngModel" required>
              <option value="undefined" selected disabled>Select Trainer</option>
              <option *ngFor="let trainer of trainers" value="{{ trainer.ID }}">{{ trainer.trainerName }}
              </option>
            </select> -->
                        <angular2-multiselect id="exampleInputTags4" [data]="trainers" [(ngModel)]="webinar.trainer" [settings]="settings" #trainer="ngModel" required name="selectedTags" ngDefaultControl>
                            <!-- <c-search>
              <ng-template>
                <input type="text"
                  placeholder="Search Emails"
                  style="border: none;width: 100%; height: 100%;outline: none;" />
              </ng-template>
            </c-search> -->
                            <c-item>
                                <ng-template let-item="item">

                                    <label class="header_text">{{item?.trainerName}}</label>

                                    <!-- <img [src]="item.flag" style="width: 30px; border: 1px solid #efefef;margin-right: 0px;" /> -->
                                    <!-- <label style="color: #333;width: 30%;">{{item.fullname}}</label> -->
                                    <!-- <label style="color: #333;width: 30%;">{{item.email}}</label> -->
                                </ng-template>
                            </c-item>
                        </angular2-multiselect>
                        <!-- <div [hidden]="trainer.valid || trainer.pristine" class="invalid-msg">
              <div [hidden]="!trainer.hasError('required')">
                Trainer Name is required
              </div>
            </div> -->
                    </div>
                    <div class="form-group nomargin">
                        <label class="space_left" for="startdate"> Date
                <h3 class="reqField">*</h3></label>
                        <div class="nominationfullwidth">
                            <input [owlDateTime]="dt1" [(ngModel)]="webinar.startdate" #startdate="ngModel" placeholder="dd-mm-yyyy" required class="form-control form-control-input  nominationdateinput" name="startdate" id="startdate" (dateTimeChange)="validateEndDate($event.value)"
                                [owlDateTimeTrigger]="dt1" />
                            <div class="nominationcalenderIcon" [owlDateTimeTrigger]="dt1">
                                <i class="fa fa-calendar nominationcalfont"></i>
                            </div>
                            <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
                        </div>
                        <div [hidden]="startdate.valid || startdate.pristine" class="invalid-msg">
                            <div [hidden]="!startdate.hasError('required')">
                                Start date is required
                            </div>
                        </div>
                    </div>
                    <div class="form-group nomargin">
                        <label class="space_left" for="time1"> From Time
                  <h3 class="reqField">*</h3></label>
                        <div class="nominationfullwidth">
                            <input placeholder="hh:mm:ss" [(ngModel)]="webinar.fromtime" #time1="ngModel" name="time1" id="time1" class="form-control form-control-input  nominationdateinput" [owlDateTimeTrigger]="dp2" [owlDateTime]="dp2" [hour12Timer]="'true'" required />
                            <owl-date-time [pickerType]="'timer'" #dp2></owl-date-time>
                        </div>
                        <div [hidden]="time1.valid || time1.pristine" class="invalid-msg">
                            <div [hidden]="!time1.hasError('required')">
                                Time is required
                            </div>
                        </div>
                    </div>
                    <div class="form-group nomargin">
                        <label class="space_left" for="time"> To Time
                    <h3 class="reqField">*</h3></label>
                        <div class="nominationfullwidth">
                            <input placeholder="hh:mm:ss" [(ngModel)]="webinar.totime" #time="ngModel" name="time" id="time" class="form-control form-control-input  nominationdateinput" [owlDateTimeTrigger]="dp3" [owlDateTime]="dp3" [hour12Timer]="'true'" required />
                            <owl-date-time [pickerType]="'timer'" #dp3></owl-date-time>
                        </div>
                        <div [hidden]="time.valid || time.pristine" class="invalid-msg">
                            <div [hidden]="!time.hasError('required')">
                                Time is required
                            </div>
                        </div>
                    </div>
                    <div class="save">
                        <button class="constantbtn-button-blue-left" [disabled]="!webinarForm.form.valid" (click)="webinarSubmit(webinar)">
                      Save
                    </button>
                    </div>
                </div>

            </form>
        </div>

        <div *ngIf="data?.length !=0">
            <!-- <mat-card class="cardPaddings">
        <table style="width: 100%">
           [ngStyle]="{'grid-template-columns': repeat(data.length, 1fr)}"
          <tr *ngFor="let item of data" class="tableRow" >
            <td class="quesNo">{{ item.col_1 }}</td>
            <td class="tableData">
              <p class="titlePara">{{ item.col_2  }}</p>
            </td>
            <td class="lastCellPadding">
               <p class="lastCellPara">{{ item.col_3 }}</p>
            </td>
          </tr>
        </table>
      </mat-card>  -->
            <!-- <div class="card_content"> -->
            <!--  [ngClass]="{ table-content-odd: odd, table-content-even: even } " -->
            <!-- <div class="table-head-row " [ngStyle]="{'grid-template-columns': repeatCssFunction(data.length)}" [ngClass]="{'table-content-odd': even, 'table-content-even': odd}" *ngFor="let item of data;let even = even; let odd = odd">
          <div>
            <h2>{{item.col_1}}</h2>
          </div>
          <div>
            <h2>{{item.col_2}}</h2>
          </div>
          <div>
            <h2>{{item.col_3}}</h2>
          </div>
          <div>
            <h2>{{item.col_4}}</h2>
          </div>
        </div> -->
            <!-- <div class="table-content table-content-odd">
        <div>
          <div class="rank">

          </div>
          <span>1</span>
        </div>
        <div>
          12

        </div>
        <div>
          <h2>Shashank Joshi</h2>
        </div>
        <div>
          <h2>22</h2>
        </div>
        </div>
        <div class="table-content table-content-even">
          <div>
            <div class="rank">

            </div>
            <span>1</span>
          </div>
          <div>
            123

          </div>
          <div>
            <h2>Shashank Joshi</h2>
          </div>
          <div>
            <h2>22</h2>
          </div>
        </div> -->
            <!-- </div> -->

            <ngx-table [stepIndex]="selectedstep" [currenttablabel]="currentTabLabel" [dropDownData]="evaluationDropdown" [tableContent]="data" [ignoreCol]="['empId']" [showToggle]="showPopup" (callPopUpModal)="bindPopUpDate($event)" (sendUpdatedValues)='displayDataFromChild($event)'></ngx-table>

        </div>

        <!-- <div >
      <div class="NoDataDiv">
        <p>  No Participants Found.</p>
      </div>
  </div> -->

        <!-- <div *ngIf = 'data?.length ==0' class="text-center no-data-found">
    <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
    <p>No data found.</p>
  </div> -->
        <ngx-no-data [config]="noDataVal" *ngIf="data?.length ==0"></ngx-no-data>

    </div>
</div>
<ngx-no-data [config]="noDataVal" *ngIf="noStepsFound"></ngx-no-data>

<!-- <div *ngIf = 'noStepsFound' class="no_data_found">
  <p>No data found.</p>
</div> -->
<div *ngIf="modal_showPopup">
    <ngx-table-modal [showPopup]="!showPopup" [tableContent]="dataPopUp" [stepId]="selectedstep" (close)="closeModal($event)"></ngx-table-modal>
</div>