ngx-trainer-dashboard {
    // .buttonClick{
    //     position: absolute;
    //     right: 0;
    //     border: none;
    //     padding: 12px;
    //     top: 210px;
    //     background: white;
    //     border-radius: 4px;
    //     font-size: 23px;
    //     box-shadow: 0px 0px 15px 0px #aaa;
    // }
    .mat-form-field-label-wrapper {
        font-size: 16px;
    }
    .pointer_disabled {
        // cursor: ;
        cursor: not-allowed;
    }
    .noDataFound {
        text-align: center;
        background: #FFF;
        padding: 40px;
        color: #000;
    }
    #Hide {
        position: absolute;
        height: 100%;
        width: 0;
        background: rgba(0, 0, 0, 0.4);
        // z-index: 1;
        top: 0;
        left: 0;
        // display: none;
    }
    .opensidebar {
        width: 134px;
    }
    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        // z-index: 2;
        top: 68px;
        right: 0;
        background-color: #fff;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 44px;
        box-shadow: 0px 0px 15px 0px #aaa;
        .icon {
            font-size: 38px;
            border: 1px solid #c1c5ca;
            padding: 18px;
            background: #ffffff;
            border-radius: 5px;
            color: #507bfc;
            margin-bottom: 5px;
        }
    }
    .sidenav p {
        cursor: pointer;
        padding: 8px 19px 0px 24px;
        text-decoration: none;
        font-size: 14px;
        color: #818181;
        display: block;
        transition: 0.3s;
        text-align: center;
        label {
            font-size: 12px;
            text-align: center;
            width: 100%;
            margin-bottom: 0px;
        }
    }
    .sidenav a:hover {
        color: #f1f1f1;
    }
    .sidenav .closebtn {
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0;
        font-size: 21px;
        margin-left: 17px;
        margin-top: 6px;
    }
    .ToggleDiv {
        position: relative;
        align-self: center;
        border-radius: 10px;
    }
    .coBtns {
        cursor: pointer !important;
        text-align: left;
        margin-bottom: 10px;
        border-radius: 0px;
        background: #ffffff;
        padding: 10px;
        // color: #076ba1;
        color: var(--colorCommon);
        box-shadow: 1px 2px 5px #ccc;
        border: 0;
        // border-left: 3px solid #076ba1;
        border-left: 3px solid var(--colorCommon);
        .togglebtn {
            position: absolute;
            top: 4px;
            font-size: 16px;
            right: 15px;
        }
    }
    .batchesmainDiv {
        float: right;
        padding-right: 0;
    }
    .badgeDiv {
        // max-height: 380px;
        // overflow: hidden;
        text-transform: capitalize;
        padding-right: 1px;
        // position: absolute;
        // top: 52px;
        // z-index: 1;
        background: #ebeff5;
        border-radius: 4px;
        .pointer_disabled {
            // cursor: ;
            cursor: not-allowed;
        }
        .btn_card {
            background: white;
            color: black;
            margin-bottom: 10px;
            text-align: left;
            box-shadow: 0px 8px 11px 0px #dfe3eb;
            padding: 0.45rem 1rem!important;
            border: none;
            cursor: pointer;
            border-left: 3px solid #40dc7e;
        }
        .btn_card1 {
            background: white;
            color: black;
            margin-bottom: 10px;
            text-align: left;
            box-shadow: 0px 8px 11px 0px #dfe3eb;
            padding: 0.45rem 1rem!important;
            border: none;
            cursor: auto;
            border-left: 3px solid #40dc7e;
        }
        .prname {
            text-transform: capitalize;
        }
        h2 {
            font-size: 13px;
            text-transform: capitalize;
            margin-bottom: 0;
            // word-break: break-all;
            word-wrap: break-word;
            white-space: normal;
            line-height: 1.2;
            padding-bottom: 3px;
            font-weight: 700;
        }
        h3 {
            font-size: 12px;
            margin-bottom: 0;
            text-align: left;
            text-transform: capitalize;
            padding: 1px 0 3px 0;
        }
        h4 {
            text-align: left;
            text-transform: capitalize;
            margin-bottom: 0;
            font-size: 10px;
        }
    }
    .upcomingdiv {
        .btn {
            border-left: 3px solid #8a7fff!important;
        }
    }
    .feedbackDiv {
        margin: 18px 0px 0px 0px;
        padding: 0;
        border-radius: 10px;
        // box-shadow: 0px 19px 15px 13px #dfe3eb;
        .tableDiv {
            padding-bottom: 18px;
        }
    }
    // ttt pop up  
    .tttpopup {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        z-index: 1503;
        background-color: #40404075;
        opacity: 1;
        .modal {
            background: #53514f59;
        }
        .modal-header {
            padding: 12px 1.25rem;
            background: #475edc;
        }
        .modal-dialog {
            top: 30%;
        }
        .modal-title {
            width: 100%;
            text-align: center;
            color: white;
            .closebtn {
                float: right;
                background: no-repeat;
                border: none;
                font-size: 23px;
                padding: 0;
            }
        }
        .modal-body {
            max-height: 270px;
            overflow-y: scroll;
        }
        .modal-content {
            border: none;
        }
        .message p {
            text-align: center;
            margin: 5px;
        }
        .tttcard {
            padding: 5px 10px;
            background: #f7f7f7;
            border-radius: 6px;
            margin-bottom: 15px;
            box-shadow: 1px 1px 0px 2px #7c9af7;
            box-shadow: 1px 3px 6px 2px #a7a5a5;
            cursor: pointer;
            h2 {
                font-size: 13px;
                margin: 0;
            }
            a {
                font-size: 11px;
            }
            p {
                padding-top: 4px;
                margin: 0;
                color: #9d9d9d;
                font-size: 13px;
            }
        }
    }
    // ===================================================
    .mainDiv {
        // padding: 2.25rem 2.25rem 0.75rem ;
    }
    .padding0 {
        padding: 0 !important;
    }
    .m-auto {
        margin: auto;
    }
    .smallbxs {
        width: auto;
        height: 100px;
        margin: auto;
        color: #fff;
        text-align: center;
        cursor: pointer;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        border-radius: 10px;
    }
    .blck2 {
        text-align: left;
        width: 100%;
        padding-left: 10px;
        height: auto;
        margin: auto;
    }
    .margBtm {
        padding-bottom: 20px !important;
    }
    .points {
        margin: 0;
        font-size: 35px;
    }
    .para {
        margin: 0;
        font-size: 16px;
        margin-top: 5px;
    }
    .mtop {
        // margin-top: 30px !important;
    }
    .col-lft {
        border-radius: 10px;
        padding: 0;
        // width: 68%;
        // height: fit-content;
        table {
            background: #f4f4f4;
            border-radius: 7px;
            color: #828282;
            font-size: 15px;
            box-shadow: 1px 2px 5px #ccc;
        }
    }
    .tablerow {
        // height: 80px;
        line-height: 50px;
        font-size: 17px;
        border-bottom: 1px solid #e1e1e1;
        background: #FFF;
        // color: #507bfc !important;
    }
    .tablerow_new {
        // height: 80px;
        line-height: 36px;
        font-size: 15px;
        border-bottom: 1px solid #e1e1e1;
        background: #FFF;
    }
    .innerRow {
        .td-left {
            font-size: 13px;
            padding: 6px 0 6px 20px;
        }
        .td-right {
            font-size: 13px;
        }
    }
    .tablerow_new:nth-child(1) {
        font-size: 14px;
        font-weight: 600;
        text-transform: capitalize;
        background: #d8ebfa;
        // color: #0f3a68 !important;
        color: var(--colorCommon) !important;
    }
    .td-left {
        padding-left: 20px;
        word-break: break-word;
        line-height: initial;
    }
    .td-right {
        text-align: right;
        padding-right: 20px;
        display: flex;
        width: 100%;
        margin: 0;
        justify-content: flex-end;
    }
    .tablerow:last-child {
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    .col-rt {
        background: #fff;
        border-radius: 10px;
        margin-left: auto;
        // width: 30%;
        height: fit-content;
    }
    .cardbx {
        padding: 0;
    }
    .divider {
        width: 95%;
        margin: 0 auto;
        border: 0.5px solid #ccc;
        margin-bottom: 15px;
    }
    .title {
        line-height: 40px;
        font-size: 18px;
        color: #868080;
        width: 82%;
        padding: 6px 0px 4px 20px;
    }
    .iconblk {
        width: auto;
        font-size: 50px;
        margin: auto;
        padding: 0 25px;
    }
    .blueCard {
        background: #4b85c5 !important;
        margin-right: 10px;
    }
    .greenCard {
        background: #4b85c5 !important;
        margin-right: 10px;
    }
    .yellowCard {
        background: #4b85c5 !important;
        margin-right: 10px;
    }
    .redCard {
        background: #4b85c5 !important;
    }
    .view {
        float: right;
        color: #00BCD4 !important;
        margin: auto;
        font-size: 16px;
        cursor: pointer;
    }
    .headr {
        width: 100%;
        display: inline-flex;
    }
    .tskname {
        width: 100%;
        font-size: 15px;
        color: #868080;
    }
    .perc {
        text-align: right;
        width: 90px;
        font-size: 14px;
        color: #868080;
    }
    .progressBr {
        height: 16px !important;
        border-radius: 25px !important;
        margin: auto !important;
    }
    .taskList {
        list-style: none;
        padding: 0 15px;
        height: 60px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        cursor: pointer;
    }
    .titleblk {
        width: 100%;
        display: flex;
    }
    .tasks {
        margin-top: 10px;
        padding: 0 20px !important;
        list-style: none;
    }
    .mat-progress-bar-buffer {
        background-color: #ffffff;
        border: 1px solid #e0dcdc;
        border-radius: 25px;
    }
    .marAutooo {
        margin: auto;
    }
    .mat-progress-bar-fill::after {
        background-color: #a3e698 !important;
        border-radius: 25px !important;
    }
    .cards-row {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 18px;
        grid-row-gap: 18px;
        padding-left: 0;
        position: relative;
        .card {
            cursor: pointer;
            display: grid;
            grid-template-columns: 1fr 2fr;
            grid-column-gap: 0px;
            color: #076ba1;
            height: 90px;
            padding: 10px 10px 10px 0px;
            border: none;
            box-shadow: 1px 2px 5px #ccc;
            border-radius: 0px;
            // box-shadow: 0px 5px 11px 1px #cecece;
            .icon-container {
                text-align: center;
                align-self: center;
                i {
                    font-size: 35px;
                    display: block;
                    // color: #076ba1;
                    color: var(--colorIcons);
                }
                .point {
                    margin-bottom: 0;
                    font-size: 12px;
                    padding-top: 7px;
                    font-weight: 700;
                }
            }
            .participants {
                .participants-number {
                    background: rgb(253, 87, 87);
                    padding: 5px 8px;
                    border-radius: 15px;
                    font-size: 11px;
                }
            }
            .icon-content {
                align-self: center;
                color: #272727;
                .point {
                    margin: 0;
                    font-size: 25px;
                    padding-bottom: 6px;
                }
                .point-text {
                    margin: 0;
                    font-size: 14px;
                    // font-weight: 600;
                    // padding-bottom: 3px;
                }
                span {
                    font-size: 12px;
                }
            }
            .course-name {
                font-size: 13px;
                margin: 0;
            }
            .course-venue {
                font-size: 13px;
                margin: 0;
            }
            .course-date {
                font-size: 12px;
                margin: 0;
            }
        }
        .card-1 {
            background: #4b85c5 !important;
        }
        .card-2 {
            background: #4b85c5 !important;
        }
        .card-3 {
            background: #4b85c5 !important;
        }
        .card-4 {
            background: #4b85c5;
            // display: none;
            cursor: pointer;
        }
        .card-5 {
            background: #4b85c5 !important;
            cursor: pointer;
        }
        .card-6 {
            background: #a062ff !important;
        }
        .card-7 {
            background: #f7b75a !important;
        }
        .card-8 {
            background: #7c5af7 !important;
        }
    }
    .row-container {
        display: grid;
        grid-template-columns: 2fr 1fr;
        .overall-content {
            display: grid;
            grid-template-columns: 1fr;
            .label-container {
                display: grid;
                grid-template-columns: 1fr 1fr;
                .label {
                    .text-title {
                        margin: 0;
                    }
                }
                .progress-content {
                    color: black;
                    text-align: right;
                    .text-title {
                        margin: 0;
                    }
                }
            }
            .progress-bar-div {}
        }
        .trainer-dashbaord-below {
            padding-right: 0;
        }
    }
    .header {
        padding: 10px 18px;
        width: 100%;
        // display: -webkit-box;
        // display: -ms-flexbox;
        // display: flex;
        margin-bottom: 15px;
        border-radius: 5px;
        // opacity: 0.8;
        .header_content {
            // height: 60px;
            // border-radius: 5px;
            box-shadow: 1px 2px 5px #ccc;
            margin: 8px 0 18px 0;
            padding: 0;
            background: #ffffff;
            align-items: center;
        }
        .header_program_name {
            margin: 0;
            padding: 0;
            color: #141515;
            // font-family: "Open sans";
            font-size: 1.5rem;
        }
        .dropdown_full_width {
            width: 100%;
            padding-top: 10px;
        }
        .select_drop_down {
            border-radius: 4px;
            border: 2px solid #dadfe6;
            padding: 0;
            .dropbtn_full_width {
                width: 100%;
            }
            .btn_dropdown {
                color: #2a2a2a;
                background-color: transparent;
                width: 100%;
                border: none;
            }
            .toggleBtn {
                border: none !important;
                box-shadow: none;
                background-color: transparent;
                color: #000;
            }
            .toggleBtn:hover,
            .toggleBtn:active {
                background-color: #E1E5EC;
                color: #000
            }
            .dropdown_menu {
                min-width: 31rem !important;
            }
            .myUl {
                padding: 0;
                margin: 0;
            }
            .dropItems {
                padding: 10px 40px;
            }
        }
    }
    @media only screen and (max-width: 1200px) {
        .cards-row {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-column-gap: 15px;
            .card {
                display: grid;
                grid-template-columns: 1fr;
                grid-column-gap: 10px;
                color: white;
                border-radius: 10px;
                padding: 15px 10px;
                .icon-container {
                    align-self: start;
                    margin-top: 5px;
                    text-align: center;
                    i {
                        font-size: 45px;
                        display: block;
                    }
                }
                .icon-content {
                    text-align: center;
                    .point {
                        margin: 15px 5px 0 0;
                        font-size: 25px;
                    }
                    .point-text {
                        margin: 0;
                        font-size: 18px;
                    }
                }
            }
        }
        .trainer-dashbaord-below {
            padding: 0;
            margin-top: 20px;
        }
    }
    @media only screen and (max-width: 750px) {
        .cards-row {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-row-gap: 15px;
        }
        .mainDiv {
            padding: 1rem !important;
        }
        .tablerow {
            height: 40px !important;
        }
    }
    @media only screen and (max-width: 380px) {
        .cards-row {
            display: grid;
            grid-template-columns: 1fr;
        }
    }
    .addSelfBackdrop2 {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        z-index: 1503;
        color: #000;
        background-color: #40404075;
        opacity: 0;
        display: none;
        transition: all 0.5s ease;
        .addSelfDemoModal2 {
            width: 40%;
            margin: auto;
            background-color: #fff;
            border-radius: 5px;
            margin-top: 15%;
            padding: 20px;
            opacity: 0;
            transition: all 0.2s ease;
            .closeicon {
                text-align: end;
            }
        }
    }
    .show_popup {
        opacity: 1 !important;
        display: block;
        transition: all 0.5s ease;
    }
    .read_more_feedback {
        color: red;
        cursor: pointer;
        padding-left: 5px;
        font-size: 14px;
    }
}

.cursor {
    // cursor: context-menu;
    cursor: not-allowed;
}