

.flotlefttop
{
  padding-left:4.5px;
}

.toprow{
  border: none;
  background-color: #ffffff;
  height: auto;width: 100%;
  display: inline-flex;
}

.sticky-top
{
  position: sticky;
    top: 66px;
    z-index: 1030;
}
.h3lable
{
  margin-top:11.5px;
}
.tablepadd
{
  padding: 25px;
}
.nodata
{
    height: 100%;
    font-size: 24px;
    margin: 23% auto;
    text-align: center;
    vertical-align: middle;

}
