.multiLanguageSearch{
  position: relative;
  .multiLanguageSearchInput{
    border: none;
      border-bottom: 1px solid #313233bf;
      background: transparent;
      -webkit-box-shadow: none;
      box-shadow: none;
      border-radius: 0;
      width: 100%;
      padding: 10px;
    &:focus{
      outline: none;
    }
  }
  .multiLanguageSearchRemove{
    position: absolute;
    top: 12px;
    right: 2px;
    cursor: pointer;
  }
}
.noDataFoundMessage{
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
  font-size: 20px;
}
