<ngx-modal-pop-up [customWidthSetting]="customWidthSetting" [title]="'Select a Content'" *ngIf="true" [header]="true" (closeBtn)="passEventToParent('toggelMultiLanguage', selectedList, false)">
    <div class="row pb-2 pl-3 pr-3 pb-2">
        <div class="col-sm-11 pr-0 ">
            <div class="w-100 multiLanguageSearch">
                <input type='text' class="multiLanguageSearchInput mb-0 searchInput commonInput" [(ngModel)]="searchtext" placeholder='Search asset...' (keyup.enter)="passEventToParent('searchAsset', selectedList, languageList, searchtext)" />
                <i class="fa fa-remove multiLanguageSearchRemove" (click)="passEventToParent('clearSearch', selectedList,languageList)"></i>
            </div>
        </div>
        <div class="col-sm-1 align-self-end text-right">
            <button class="subBttn ml-0" (click)="passEventToParent('searchAsset', selectedList, languageList, searchtext)">
         <!-- <i class="fa fa-search" aria-hidden="true"></i> -->
         <i class="fa fa-check" aria-hidden="true"></i>
      </button>
        </div>
    </div>

    <div class="tablePop mt-3 pl-2 pr-2">
        <!--  -->
        <ngx-enrol-table (customCheckAllClicked)="checkAllSelected($event)" [customCheckAllFlag]=customCheckAllFlag [customCheckAll]=true [label]="labels" [pagination]="true" *ngIf="damAssetsList?.length != 0" [tableData]="damAssetsList" (clickOnCheck)='onSelectSingleItem($event)'
            (selectedItems)="selectedItemList($event)"></ngx-enrol-table>
        <!-- <ngx-no-data [config]="noDataVal" *ngIf="damAssetsList?.length == 0"></ngx-no-data> -->
        <div *ngIf="damAssetsList?.length == 0" class="noDataFoundMessage">
            {{ noDataFoundActivitySearch.message }}
        </div>
    </div>
    <div class="border-top text-right pt-3 pr-3 pl-3 ">
        <button type="button" class="subBttn" (click)="setSelectedListContent();passEventToParent('save', selectedList,languageList)">Select</button>
    </div>
</ngx-modal-pop-up>
