<div class="widgets">
  <div class="loaderBackdrop" *ngIf="loader == true">
    <div id="loader"></div>
  </div>
  <div ba-panel ba-panel-class="with-scroll">
    <div class="col-sm-12" style="padding: 0;">
      <div style="">
        <div class="userSubBut col-md-12 sticky-top" style="" *ngIf="tab1 == true">
          <div class="col-md-3 usersubdiv1" style="">
            <h4> Course Bundle</h4>
          </div>
            <div class="col-md-6 searchdivBundle">
              <!-- <select [(ngModel)]="cat.id" class="form-control select"  name="id" (click)="doropserch()">
                <option value = "">All Courses</option>
                <option *ngFor="let item of parentcat" value={{item.id}} >{{item.name}}</option>
              </select> -->
              <input type="text" [(ngModel)]="search.inputText" class="form-control"  placeholder="Search by course bundle name.." name="inputText" (input)="onSearchChange($event.target.value)" (keydown.enter)="serachBundle()">
              <i class="fa fa-remove removesearchBundle" aria-hidden="true" (click)="clearSearch()"></i>
            </div>
          <div class="col-md-3 text-right" style="">
            <button type="button" style="" class="constantbtn-button-blue-left" (click)="addWorkflow()" style="font-size: 13px">Add Course Bundle</button>
            <button type="submit" class="back_button" (click)="back()">Back</button>
          </div>
        </div>
        <div class="row m0 formGen">
          <div class="col-md-12">
            <!-- <div class="listContainer"> -->
              <!-- <div class="list-view" [style.top]="(startIndex * rowHeight) + 'px'">list-item [style.height]="rowHeight + 'px'" [style.line-height]="rowHeight + 'px'"-->
                <div class="col-md-4 grid-margin stretch-card formGenCard floteleft" [ngClass]="{'col-md-4': isActive == true,'col-md-12': isActive == false}" style="">
                  <div class="divScrollWorkflowList" data-spy="scroll">
                    <div class="card cardForm pad0 marginBottom10px" *ngFor="let item of coursebundle">
                      <div class="col-md-12 rowtopic mainHeadDiv card-body rowtopicext" style="">
                        <div class="col-md-12  displayinline" style="float: none;">
                          <div class="col-md-6 colpad">
                            <h4 class="h4mar" (click)="activeButtonTop(item)" [(ngModel)]="formdatabundle.longname" name="longname" #longname="ngModel" ngDefaultControl> {{item.longname}}</h4>
                          </div>
                          <div class="col-md-6 colpad floteright">
                            <p class="cdatestyle" [(ngModel)]="formdatabundle.datecreated" name="datecreated" #datecreated="ngModel" ngDefaultControl style="">{{item.datecreated}}</p>
                          </div>
                        </div>
                        <hr class="hrc" />
                        <div class="col-md-12 colpad">
                          <p class="desstyle" [(ngModel)]="formdatabundle.createduserid" name="createduserid" #createduserid="ngModel" ngDefaultControl style="">{{item.createduserid}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              <!-- </div> -->
            <!-- </div> -->
            <div class="col-md-8 grid-margin stretch-card formCustCard floteright" *ngIf="isActiveTop == true" style="max-height: 498px">
              <div class="card cardForm">
                <div class="card-body">
                  <h4 class="card-title topEditHead">Edit Course Bundle
                    <div class="btn-toolbar btnTool">
                      <div class="btn-group">
                        
                       <!--  <button class="toolBut" (click)="closeFormTop()">
                          <i class="ion-android-checkmark-circle iconSubmit"></i>
                        </button> -->
                        <!-- <button type="submit" class="submitbtncb btn btn-mm btn-default floteright" (click)="addtopic()" >Submit</button> -->
                        <button type="button" class="optbtnNewSubmit floteright" (click)="updateWorkflow()" style="font-size: 13px" [disabled]="!enableSubmit">Submit</button>
                        <button class="toolBut paddingTop" (click)="closeFormTop()">
                          <i class="ion-close iconCancel"></i>
                        </button>
                     </div>
                    </div>    
                  </h4>
                  <hr/>
                  <p class="card-description"></p>
                  <!-- <form class="forms-sample"> -->
                  <div class="col-12 displayInFlex">  
                    <div class="form-group col-6">
                      <label for="longname">Full Name</label>
                      <input type="test" class="form-control" [(ngModel)]="formdatabundle.longname" required id="longname" placeholder="Full Name" name="longname" #longname="ngModel" (ngModelChange)="updateTopName(formdatabundle)">
                      <div [hidden]="longname.valid || longname.pristine" class="alert alert-danger">
                        <div [hidden]="!longname.hasError('required')">Full Name is required</div>
                        <div [hidden]="!longname.hasError('pattern')">Only alphabets allowed</div>
                      </div>
                      <span></span>
                    </div>
                    <div class="form-group col-6">
                      <label for="shortname">Short Name</label>
                      <input type="test" class="form-control" [(ngModel)]="formdatabundle.shortname" required id="shortname" placeholder="Short Name" name="shortname" #shortname="ngModel">
                      <div [hidden]="shortname.valid || shortname.pristine" class="alert alert-danger">
                        <div [hidden]="!shortname.hasError('required')">Short Name is required</div>
                        <div [hidden]="!shortname.hasError('pattern')">Only alphabets allowed</div>
                      </div>
                      <span></span>
                    </div>
                  </div>  
                   <div class="form-group">
                    <!--<label for="ccohortid">Cohort</label>
                    <select [(ngModel)]="formdatabundle.ccohortid" class="form-control select" name="ccohortid" required>
                      <option value="">Select Cohort</option>
                      <option *ngFor="let item of Cohortdrop" value={{item.id}}>{{item.name}}</option>
                    </select>
                    <span></span>-->  
                  </div> 
                  <!-- <p class="my-3">Edit Workflow</p> -->
                  <div class="row padding15pxleftright">
                    <div class="col-sm-6">
                      <!-- <h3>list 1</h3> -->
                      <select [(ngModel)]="cat.id" class="form-control select selectDrop"  name="id" (click)="doropserch()">
                          <option value = "">All Courses</option>
                          <option *ngFor="let item of parentcat" value={{item.id}} >{{item.name}}</option>
                      </select>
                      <div class="divScrollCourseList" data-spy="scroll">  
                        <div class="items1 list-group sortable" [sortablejs]="content" [sortablejsOptions]="CourseListOptions">
                          <div class="list-group-item" *ngFor="let item of content" 
                          [class.draggable]="item.draggable" [class.disabled]="!item.draggable" 
                          (drop)="drop(item)">
                            {{ item.fullname }}
                          </div>
                        </div>
                      </div>  
                    </div>
                    <div class="col-sm-6">
                      <!-- <h3>list 2</h3> -->
                      <div class="divScrollBundleList" data-spy="scroll">
                      <div class="items2 list-group sortable" [sortablejs]="contentList" [sortablejsOptions]="BundleListOptions">
                        <div style="width: 100%;display:block" class="list-group-item"*ngFor="let item of contentList;let i = index" (drop)="drop2(item)">
                          <div style="width: 100%;display: inline-flex;">
                              <p style="width: 70%;margin-bottom: 0">{{item.fullname}}</p>
                              <!-- <div style="width: 30%">
                                <div style="width: 50%;float: right;">
                                  <i class="fa fa-eye-slash" aria-hidden="true" [hidden]="item.enable == true" style="font-size:20px;float: right;" title="{{item.courseid}}" (click)="enableeye(item)"></i>
                                  <i class="fa fa-eye" aria-hidden="true" [hidden]="item.enable != true" style="font-size:20px;float: right;" title="{{item.courseid}}" (click)="enableeye(item)"></i>
                                </div>
                              </div> -->
                            </div>
                              <hr class="hrc1"/>
                            <div>
                            <button class="toolBut" (click)="removeCourse(item)">
                              <i class="ion-close iconCancel" style="color: #666666"></i>
                            </button>
                            <!-- <div class="btn-group" dropdown is-open="status.isopen" on-toggle="toggled(open)"> -->
                              <p style="margin: 5px 0;" [hidden]="i==0">
                                <input id="rd_{{item.courseid}}" type="checkbox" [(ngModel)]="item.value1" name="course_{{item.courseid}}" class="marginRight5px"
                                (ngModelChange)="onCheck1Change($event,item)">Previous
                                
                                  <select [(ngModel)]="item.previousCourseid" class="form-control select selectDrop" name="id" (change)="callTypeSelected($event,i)" [disabled]="item.value1 == false" id="rd1_{{item.courseid}}" name="course_{{item.courseid}}">
                                    <option value = "" selected [disabled]="item.value1 == true">Select Course</option>
                                    <option *ngFor="let item of getDropdownItems(i)" value={{item.courseid}} >{{item.fullname}}</option>
                                  </select>
                              course completed.</p>
                              <!-- <div [hidden]="item.value1 == true && item.previousCourseid == ''" class="alert alert-danger">
                                <div [hidden]="item.value1 == true && item.previousCourseid == ''">Please select course</div>
                              </div> -->
                            <!-- </div> -->
                              <p style="margin: 5px 0;">
                                <input type="checkbox"  class="marginRight5px" id="rd2_{{item.courseid}}" [(ngModel)]="item.value2" name="course_{{item.courseid}}"
                                (ngModelChange)="onCheck2Change($event,item)">Starts in
                                <input type="number" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" (input)="onInput($event,i,item)" onKeyDown="if(this.value.length==3 && event.keyCode!=8) return false;" class="inputdrop" [(ngModel)]="item.cascade_days" maxlength="3" min="{{item.minValue}}" [disabled]="item.value2 == false" id="rd3_{{i}}" name="course_{{item.courseid}}"
                                (change)="setMinVal($event,i)"> days.</p>
                                <div [hidden]="item.validNumber == true" class="alert alert-danger">
                                  <div [hidden]="item.validNumber == true">Day should be greater than {{item.minValue}}</div>
                                  <!-- <div [hidden]="!cohortidnumber.hasError('pattern')">Only alphanumericals allowed</div> -->
                                </div>
                                <!-- <input type="number" name="daysCount" min="1" max="5"><br> -->
                              <!-- <p style="margin: 5px 0;" [hidden]="i==0">
                                <input type="radio" id="rd3_{{item.id}}" value="3" [(ngModel)]="item.value"  name="course_{{item.id}}">Starts in
                                <input type="text" class="inputdrop" [(ngModel)]="item.cascade_days" maxlength="3"> days, after previous course is completed.</p> -->  
                            </div>
                        </div>
                      </div>
                    </div>
                    </div>  
                  </div>
                  <!--  <p class="my-3">and the actual state is</p>
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="alert alert-dark">> {{ normalList1 |json}}</div>
                    </div>
                    <div class="col-sm-6">
                      <div class="alert alert-dark">> {{ normalList2 | json }}</div>
                    </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
