@import '../../../@theme/styles/variable.scss';
.course_main_container {
    .form-control {
        // border: 1px solid #ccc;
        box-shadow: none;
    }
    .alert {
        margin-bottom: 1px;
        height: 25px;
        line-height: 25px;
        padding: 0px 15px;
    }
    .overflow_scroll_container_pathways {
        overflow-y: auto;
        height: calc(100vh - 7.8rem);
    }
    .alert-danger {
        background-color: #ffffff;
        border-color: #ffffff;
        color: #a94442;
    }
    .select_course_head {
        background: #076ba1;
        color: #fff;
        padding: 12px;
        .required_course {
            color: #fff;
            top: -0.1em;
            font-size: 20px;
            font-weight: 100;
        }
    }
    // .cbHeadDiv {
    //     float: right;
    //     /* margin-left: 30px; */
    //     /*margin-top: 8px;*/
    //     transform: none;
    //     background: #fff;
    //     height: 55px;
    //     margin: 0 auto;
    //     // padding: 13.5px;
    //     padding: 9px;
    // }
    // .cbHeading {
    //     margin-top: 0;
    // }
    // .userBackBut {
    //     /* display: none; */
    // }
    // #backBut {
    //     margin-left: 10px;
    //     border-radius: 0;
    //     background: #076ba1;
    //     color: #fff;
    //     border: #076ba1;
    //     height: 37px;
    //     width: 135px;
    //     color: #ffffff;
    //     background-color: #076ba1;
    //     background-image: none;
    //     border-color: #076ba1;
    //     transform: none;
    // }
    // label {
    //     font-weight: 400;
    //     // color: #000;
    // }
    // .optbtnNewAdd, .optbtnNewSubmit {
    //   border-radius: 0;
    //   background: #ed462f;
    //   color: #fff;
    //   border: #076ba1;
    //   height: 28px;
    //   /*width: 91px;*/
    //   transform: none   ;
    // }
    // .optbtnNewSubmit:disabled {
    //     cursor: not-allowed;
    //     background-color: #ff9081;
    // }
    // .btn-secondary:hover {
    //     color: #fff;
    //     background-color: #ed462f;
    //     border-color: #ed462f;
    // }
    // .inputLabel {
    //     line-height: 2.5;
    //     font-size: 15px;
    // }
    // .left {
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;
    //     flex-direction: column;
    // }
    // .photo {
    //     width: 200px;
    //     height: 200px;
    //     margin-top: -120px;
    //     border-radius: 100px;
    //     border: 4px solid #fff;
    // }
    // .active {
    //   width: 20px;
    //   height: 20px;
    //   border-radius: 20px;
    //   position: absolute;
    //   right: calc(50% - 70px);
    //   top: 75px;
    //   background-color: #FFC107;
    //   border: 3px solid #fff;
    // }
    // @media (max-width:990px) {
    //   .active {
    //     right: calc(50% - 60px);
    //     top: 50px;
    //   }
    // }
    // .proImg {
    //     margin-left: 157%;
    //     margin-top: 65%;
    // }
    // .img-circle {
    //     border-radius: 50%;
    // }
    // .bg-form {
    //     float: left;
    //     width: 100%;
    //     position: relative;
    //     background: url("http://lorempixel.com/200/200/abstract/");
    //     background-repeat: no-repeat;
    //     background-size: cover;
    //     margin-top: 0px;
    // }
    // .img-section {
    //     float: left;
    //     width: 100%;
    //     padding-top: 15px;
    //     padding-bottom: 15px;
    //     background: rgba(0, 0, 0, 0.7);
    //     position: relative;
    // }
    // .img-section h4 {
    //     color: #fff;
    // }
    // #PicUpload {
    //     color: #ffffff;
    //     width: 180px;
    //     height: 180px;
    //     background: rgba(255, 255, 255, 0.4);
    //     padding: 100px;
    //     position: absolute;
    //     left: 30.5%;
    //     border-radius: 50%;
    //     display: none;
    //     top: 15px;
    // }
    // .imgCircle {
    //     border-radius: 50%;
    //     width: 200px;
    //     height: 200px;
    // }
    // .Profile-input-file {
    //     height: 180px;
    //     width: 180px;
    //     left: 33%;
    //     position: absolute;
    //     top: 0px;
    //     z-index: 999;
    //     opacity: 0   ;
    // }
    /*.form-control{padding: 10px 50px;}*/
    // .form-input {
    //     height: 50px;
    //     border-radius: 0px;
    //     margin-top: 20px;
    // }
    // .form-style-fake {
    //     position: absolute;
    //     top: 0px;
    // }
    // .form-style-base {
    //     position: absolute;
    //     top: 0px;
    //     z-index: 999;
    //     opacity: 0;
    // }
    // .fake-styled-btn {
    //     background: #006cad;
    //     padding: 10px;
    //     color: #fff;
    // }
    // .camera {
    //     font-size: 50px;
    //     color: #333;
    // }
    // .avatar-upload {
    //     position: relative;
    //     max-width: 205px;
    //     /*margin: 50px auto;*/
    //     .avatar-edit {
    //         position: absolute;
    //         right: 12px;
    //         z-index: 1;
    //         top: 10px;
    //         input {
    //             display: none;
    //             +label {
    //                 display: inline-block;
    //                 width: 34px;
    //                 height: 34px;
    //                 margin-bottom: 0;
    //                 border-radius: 100%;
    //                 background: #FFFFFF;
    //                 border: 1px solid transparent;
    //                 box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    //                 cursor: pointer;
    //                 font-weight: normal;
    //                 transition: all .2s ease-in-out;
    //                 &:hover {
    //                     background: #f1f1f1;
    //                     border-color: #d6d6d6;
    //                 }
    //                 &:after {
    //                     content: "\f040";
    //                     font-family: 'FontAwesome';
    //                     color: #757575;
    //                     position: absolute;
    //                     top: 10px;
    //                     left: 0;
    //                     right: 0;
    //                     text-align: center;
    //                     margin: auto;
    //                 }
    //             }
    //         }
    //     }
    //     .avatar-delete {
    //         position: absolute;
    //         right: 12px;
    //         z-index: 1;
    //         bottom: 10px;
    //         label {
    //             display: inline-block;
    //             width: 34px;
    //             height: 34px;
    //             margin-bottom: 0;
    //             border-radius: 100%;
    //             background: #FFFFFF;
    //             border: 1px solid transparent;
    //             box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    //             cursor: pointer;
    //             font-weight: normal;
    //             transition: all .2s ease-in-out;
    //             &:hover {
    //                 background: #f1f1f1;
    //                 border-color: #d6d6d6;
    //             }
    //             &:after {
    //                 content: "\f1f8";
    //                 font-family: 'FontAwesome';
    //                 color: #757575;
    //                 position: absolute;
    //                 top: 10px;
    //                 left: 0;
    //                 right: 0;
    //                 text-align: center;
    //                 margin: auto;
    //             }
    //         }
    //     }
    //     .avatar-preview {
    //         width: 192px;
    //         height: 192px;
    //         position: relative;
    //         border-radius: 100%;
    //         border: 6px solid #F8F8F8;
    //         box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    //         >div {
    //             width: 100%;
    //             height: 100%;
    //             background-size: cover;
    //             background-repeat: no-repeat;
    //             background-position: center;
    //         }
    //     }
    // }
    // .inputLabelUpload {
    //     line-height: 12.5;
    //     font-size: 15px;
    // }
    // .activeRoute {
    //     text-decoration: underline;
    //     text-underline-position: under;
    //     text-decoration-color: #076ba1;
    //     color: #076ba1;
    // }
    // .al-content {
    //     padding: 0px;
    // }
    // .m0 {
    //     margin: 0 auto;
    // }
    // .photo-left {
    //     margin: 0 auto;
    // }
    /*#addUser .tabset .nav .nav-tabs{
      height: 60px   ;
      background: #ffff   ;
      padding-left: 15px   ;
      border: none   ;
    }
  #addUser .tabset .nav .nav-tabs li.active{
    line-height: 4  ;
    background: transparent  ;
    border-bottom: 2px solid #076ba1  ;
  }*/
    // .tabset>ul>li.active {
    //     width: 20px;
    //     height: 20px;
    //     border-radius: 20px;
    //     position: inherit;
    //     right: calc(50% - 70px);
    //     top: 75px;
    //     background-color: transparent;
    //     border: none;
    // }
    .nav.nav-tabs>li.active>a {
        border-bottom: 3px solid #076ba1;
        background-color: #fff;
        color: #076ba1;
    }
    // .tabset>ul>li {
    //     width: 22%;
    // }
    .tabset>ul>li:hover>a {
        color: #076ba1;
        background-color: #ffffff;
        transform: none;
        transition: none;
    }
    .nav.nav-tabs {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom: none;
        background-color: white;
    }
    // .tabset>ul>li>a {
    //     width: 100%;
    //     background-color: transparent;
    //     color: #686868;
    //     height: 55px;
    //     border-bottom: none;
    //     line-height: 2.5;
    // }
    // .cardmar {
    //     margin: 44px;
    // }
    // .colpad {
    //     padding: 0;
    // }
    // .rowtopic {
    //     display: inline-flex;
    // }
    // #editbtn {
    //   margin: 0 10px;
    //   border-radius: 0;
    //   background: #076ba1;
    //   color: #fff;
    //   border: #076ba1;
    //   height: 28px;
    //   /*width: 92px;*/
    //   color: #ffffff;
    //   background-color: #076ba1;
    //   background-image: none;
    //   border-color: #076ba1;
    //   transform: none;
    // }
    .floteright {
        float: right;
        font-size: 13px;
        background-color: transparent;
    }
    // #editbtn {
    //     margin-right: 10%;
    //     // margin: 0 10px;
    //     border-radius: 0;
    //     background: #076ba1;
    //     color: #fff;
    //     border: #076ba1;
    //     height: 32px;
    //     color: #ffffff;
    //     background-color: #bbc0c3;
    //     background-image: none;
    //     border-color: #076ba1;
    //     -webkit-transform: none;
    //     transform: none;
    // }
    // .optbtnNewAdd,
    // .optbtnNewSubmit {
    //     border-radius: 0;
    //     background: #076ba1;
    //     color: #fff;
    //     border: #076ba1;
    //     height: 32px;
    //     -webkit-transform: none   ;
    //     transform: none   ;
    // }
    hr {
        display: block;
        height: 2px;
        border: 0;
        border-top: 1px solid #ececec;
        /*border-top: 2px solid #85c320;*/
        margin: 1em 0;
        padding: 0;
    }
    // .tooltipMenu::after {
    //     content: " ";
    //     position: absolute;
    //     border-width: 10px;
    //     border-style: solid;
    // }
    // .bottomSide.tooltipMenu::after {
    //     bottom: 100%;
    //     left: 45%;
    //     border-color: transparent transparent white transparent;
    // }
    // .leftSide.tooltipMenu::after {
    //     left: 100%;
    //     top: 5%;
    //     border-color: transparent transparent transparent white;
    // }
    // .rightSide.tooltipMenu::after {
    //     right: 100%;
    //     top: 5%;
    //     border-color: transparent white transparent transparent;
    // }
    // .topSide.tooltipMenu::after {
    //     right: 45%;
    //     top: 100%;
    //     border-color: white transparent transparent transparent;
    // }
    // .bottomSide {
    //     top: 100%;
    // }
    // .topSide {
    //     bottom: 100%;
    // }
    // .leftSide {
    //     right: 70%;
    //     top: 15%
    // }
    // .rightSide {
    //     left: 70%;
    //     top: 15%;
    // }
    // div li:hover .tooltipMenu {
    //     visibility: visible;
    //     cursor: pointer;
    // }
    // .tooltip {
    //     position: relative;
    //     display: inline-block;
    //     opacity: 1;
    //     z-index: 1050;
    // }
    // .tooltipMenu {
    //     visibility: hidden;
    //     position: absolute;
    //     z-index: 1;
    // }
    // .tooltipMenu {
    //     min-height: 100px;
    //     width: 45%;
    //     /* border: 1px solid #0d77b6;*/
    // }
    // .tooltipMenu ul li {
    //     color: #fff;
    //     padding: 13px;
    //     font-family: sans-serif;
    //     font-size: 15px;
    //     width: 100%;
    //     background: #62a8ea;
    //     display: flex;
    //     height: 2.5rem;
    //     border-radius: 1px;
    // }
    // .tooltipMenu ul li:hover {
    //     background: #0d77b6;
    //     color: white;
    //     cursor: pointer;
    //     font-weight: bold;
    // }
    // .toolul {
    //     display: inline-flex;
    //     padding: 0;
    // }
    // .toolposdiv {
    //     float: right;
    //     margin-right: 42px;
    // }
    // #addbtn {
    //     margin-left: 10px;
    //     border-radius: 0;
    //     background: #ffffff;
    //     color: #fff;
    //     border: 1px solid #076ba1;
    //     height: 28px;
    //     width: 110px;
    //     color: #076ba1;
    //     /* background-color: #076ba1; */
    //     background-image: none;
    //     border-color: #076ba1;
    //     transform: none;
    // }
    // .paddp {
    //     padding-right: 15px;
    //     margin: 15px 0;
    // }
    // .h4mar {
    //     margin: 6px 0 0 0;
    // }
    // .activeForm {}
    // .formGen {
    //     width: 100%;
    // }
    // .formGenCard {
    //     padding: 0px;
    //     margin-top: 0px;
    // }
    .formCustCard {
        margin-top: 0px;
        padding: 0px;
    }
    // .cosntpadding {
    //     padding: 10px   ;
    // }
    // .CustomFieldsformGenCard1,
    // .CustomFieldsformGenCard2,
    // .CustomFieldsformGenCard3,
    // .CustomFieldsformGenCard4,
    // .CustomFieldsformGenCard5,
    // .CustomFieldsformGenCard6,
    // .CustomFieldsformGenCard7 {
    //     margin-bottom: 0   ;
    // }
    // .CustomFieldscardForm1,
    // .CustomFieldscardForm2,
    // .CustomFieldscardForm3,
    // .CustomFieldscardForm4,
    // .CustomFieldscardForm5,
    // .CustomFieldscardForm6,
    // .CustomFieldscardForm7 {
    //     cursor: pointer   ;
    //     margin-bottom: 0   ;
    // }
    // .CustomFieldscardBody1,
    // .CustomFieldscardBody2,
    // .CustomFieldscardBody3,
    // .CustomFieldscardBody4,
    // .CustomFieldscardBody5,
    // .CustomFieldscardBody6,
    // .CustomFieldscardBody7 {
    //     padding: 15px 15px 0px 15px   ;
    // }
    // [data-toggle="collapse"] i:before {
    //     content: "\f139";
    // }
    // [data-toggle="collapse"].collapsed i:before {
    //     content: "\f13a";
    // }
    // .btn-group-xs>.btn,
    // .btn-xs {
    //     padding: 0px 5px;
    //     font-size: 12px;
    // }
    // .headCard {
    //     display: flex;
    // }
    // .custTitle {
    //     margin-bottom: 0   ;
    // }
    // .downArrow {
    //     color: #ed462f;
    // }
    // .form-control-input {
    //     border-radius: 0;
    // }
    // .topBorderForm {
    //     /*border-top: 1px solid #076ba1;*/
    //     /*margin-bottom: 10px*/
    // }
    // .reqField {
    //     display: inline;
    //     color: #ed462f;
    // }
    .topEditHead {
        /*background: #f2f8f9;*/
        padding: 10px;
        /*border: 1px solid #5ba3f5;*/
    }
    // .btnTool {
    //     float: right;
    //     margin-top: -3.2px;
    // }
    .toolBut {
        float: right;
        background: transparent;
        border: none;
    }
    // .crossbuttoncb {
    //     padding: 18px;
    //     text-align: right;
    //     position: absolute;
    //     left: 95%;
    //     z-index: 1091;
    // }
    .toolBut:focus {
        outline: none;
    }
    // .iconSubmit {
    //     font-size: 19px;
    //     color: #8BC34A;
    // }
    .iconCancel {
        color: #f44336;
    }
    .iconCancelCB {
        color: #f44336;
    }
    .dropOption {
        text-align: center;
    }
    // .iconMore {
    //     font-size: 19px;
    //     padding-left: 5px;
    // }
    // .dropMoreList {
    //     min-width: inherit;
    //     left: -24%;
    //     top: 24px;
    //     cursor: pointer;
    // }
    // .dropMoreListItem {
    //     /*padding: 5px 10px;*/
    //     text-align: center;
    //     font-size: 12px;
    //     padding: 0 12px 0 12px;
    // }
    // .dropMoreListItem:active {
    //     color: #444;
    // }
    // .removeResDiv {
    //     width: 100%;
    // }
    /*.removeResDiv > input:focus {
    outline: none;
    border: none;
}*/
    // input.editing {
    //     outline: none;
    //     border: none;
    //     /*border-bottom: 1px solid #ececec;*/
    //     font-size: 16px;
    //     color: #076ba1;
    // }
    // .resRemoveHead {
    //     margin-top: 0;
    // }
    // .resRemoveHead:hover .btnTool {
    //     display: block;
    // }
    // .resRemoveHead .btnTool {
    //     display: none;
    // }
    // .mainHeadDiv:hover .addResBut {
    //     display: block;
    // }
    // .mainHeadDiv .addResBut {
    //     display: none;
    // }
    // .sortable {
    //   background: #eee;
    //   border-radius: 0.25rem;
    //   min-height: 40px;
    // }
    // .hrc {
    //     margin: 1em 0 0 0;
    // }
    // .cbHeadSubDiv {
    //     float: left;
    //     margin-top: 4px;
    // }
    // .floteleft {
    //     float: left;
    // }
    // .pad0 {
    //     padding-bottom: 0px;
    // }
    // .rowtopicext {
    //     // padding-left: 28px;
    //     padding-right: 0;
    //     display: inline;
    // }
    // .displayinline {
    //     display: inline-flex;
    // }
    // .cdatestyle {
    //     margin-bottom: 0;
    //     padding-right: 31px;
    //     float: right;
    //     margin-top: 6px
    // }
    // .desstyle {
    //     margin-bottom: 0;
    //     padding-left: 16px;
    // }
    // .cbbtnhei {
    //     height: 33px   ;
    //     padding-top: 1px;
    //     padding-bottom: 0px;
    // }
    // .submitbtncb {
    //     margin: 0 10px;
    //     border-radius: 0;
    //     background: #ffffff;
    //     color: #fff;
    //     height: 28px;
    //     color: #959595;
    //     background-color: #ffffff;
    //     background-image: none;
    //     border-color: #9E9E9E;
    //     transform: none;
    //     transition: 0.3s;
    // }
    // .submitbtncb:hover {
    //     background-color: #eeeeee   ;
    //     transition: 0.3s;
    // }
    // .dropMoreList {
    //     left: -58px;
    // }
    // .inputdrop {
    //     line-height: 13px;
    //     width: 22px;
    //     border: unset;
    //     border-bottom: 1px solid;
    //     margin: 0 5px;
    //     text-align: center;
    // }
    // .inputdrop:focus {
    //     outline: 0px;
    // }
    // .coursebundleEditSeperator {
    //     margin: 0;
    // }
    // .hrc1 {
    //     margin: 0.2em 0;
    // }
    // .sticky-top {
    //     position: sticky;
    //     top: 66px;
    //     z-index: 1090;
    // }
    // .sortable {
    //   background: #eee;
    //   border-radius: 0.25rem;
    //   min-height: 40px;
    // }
    .selectDrop {
        height: 2.5rem;
    }
    .searchdivBundle {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        padding: 0;
        border: 1px solid #cbcbcb;
    }
    .searchdivBundle>input {
        border-radius: 0;
        // border: 0px   ;
        background-color: #ffffff;
         :focus {
            background-color: #ffffff;
        }
    }
    .cbmartop {
        margin-top: 2px;
    }
    .cbriborder {
        border: none;
        height: 32px;
    }
    .removesearchBundle {
        background-color: #ffffff;
        padding: 8px 9px 0 0;
        height: 32px;
    }
    .listContainer {
        display: inline-block;
        position: relative;
        width: 400px;
        height: 400px;
        overflow-x: hidden;
        overflow-y: auto;
        box-sizing: border-box;
        border: 1px solid #e8f8ff;
    }
    .list-item {
        border-bottom: 1px solid #e8f8ff;
        background-color: #ffffff;
        box-sizing: border-box;
        font-family: sans-serif;
        font-weight: 300;
        font-size: 14px;
        padding: 0 20px;
    }
    .list-view {
        position: absolute;
        left: 0;
        right: 0;
    }
    .list-filler {
        position: absolute;
        top: 0;
        right: -1px;
        width: 1px;
        box-sizing: border-box;
    }
    .marginBottom10px {
        margin-bottom: 10px;
    }
    .marginRight5px {
        margin-right: 5px;
    }
    .no-margin {
        margin: 0;
    }
    .divUl {
        position: absolute;
        top: 20px;
        bottom: 20px;
        left: 20px;
        right: 20px;
        overflow: scroll;
        margin: 0;
        padding: 0;
        border: 2px solid #ccc;
        font-size: 16px;
        font-family: Arial, sans-serif;
        // Again, this is where the magic happens
        -webkit-overflow-scrolling: touch;
    }
    .divScrollWorkflowList {
        width: 100%;
        min-height: 96px;
        max-height: 610px;
        overflow-y: auto;
        margin-bottom: 0px;
    }
    .divScrollCourseList {
        width: 100%;
        // height: 196px;
        // height: 284px;
        // height: 278px;
        height: 338px;
        overflow-y: auto;
        border-bottom: 1px solid #ccc;
    }
    .divScrollBundleList {
        width: 100%;
        // height: 227px;
        // height: 316px;
        // height: 313px;
        height: 366px;
        overflow-y: auto;
    }
    .paddingTop {
        padding-top: 3px;
    }
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    .displayInFlex {
        padding: 0;
        display: inline-flex;
    }
    .padding15pxleftright {
        padding: 0 15px;
    }
    .pointer {
        cursor: pointer;
    }
    .ladderlabel {
        color: #ffffff;
    }
    .sqrCheckBox .sqrCheckBoxLabel {
        // border: 1px solid #ccc;
        // border-radius: 50%;
        // cursor: pointer;
        // height: 20px;
        // left: -7px;
        // position: absolute;
        // top: 0;
        // width: 20px;
        // margin-top: 4px;
        border: 1px solid #ccc;
        border-radius: 3px;
        cursor: pointer;
        height: 18px;
        left: -14px;
        position: -webkit-sticky;
        position: relative;
        width: 18px;
        top: 10px;
        margin-right: -10px;
    }
    .sqrCheckBox .sqrCheckBoxLabel:after {
        border: 2px solid #076ba1;
        border-top: none;
        border-right: none;
        content: "";
        height: 5px;
        left: 2.5px;
        opacity: 0;
        position: absolute;
        top: 4px;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        width: 10px;
    }
    .sqrCheckBox input[type="checkbox"] {
        visibility: hidden;
    }
    .sqrCheckBox input[type="checkbox"]:checked+.sqrCheckBoxLabel {
        background-color: #ffffff;
        border-color: #076ba1;
    }
    .sqrCheckBox input[type="checkbox"]:checked+.sqrCheckBoxLabel:after {
        opacity: 1;
    }
    .short_input_field {
        line-height: 13px;
        width: 22px;
        border: unset;
        border-bottom: 1px solid;
        margin: 0 5px;
        text-align: center;
    }
    .marginright8px {
        margin-right: 8px;
    }
    .dragBtn {
        height: 17px;
        width: 17px;
        background-color: #ffffff;
        border: none;
    }
    .sortIcon {
        right: 4.5px;
        font-size: 14px;
        top: 0px;
    }
    .glyphicon-sort:before {
        // content: "\e150";
        color: #076ba1;
    }
    .glyphicon-move:before {
        // content: "\e068";
        color: #076ba1;
    }
    .dragBtn:focus {
        // outline: 5px auto -webkit-focus-ring-color;
        outline: none;
    }
    .avoid-clicks {
        /* pointer-events: none; */
        cursor: not-allowed;
        background-color: #fdfbfbc2;
        // z-index: 1000;
        .card-body {
            pointer-events: none;
        }
    }
    .activeWorkflow {
        border: 1px solid #076ba1;
        background-color: #e9eef1;
    }
    .disableItem {
        cursor: not-allowed;
        .eyeEnable {
            pointer-events: none;
        }
        .eyeDisable {
            pointer-events: none;
        }
    }
    .cbTab {
        padding: 15px;
        border: 15px solid #efeaea;
    }
    .cbdisnone {
        display: none;
    }
    .coursebundleTabset>ul {
        background: #fff;
        border-bottom: 1px solid #076ba1;
        padding-left: 0;
        padding-right: 0;
        position: sticky;
    top: 1px;
    z-index: 2;
        // position: -webkit-sticky;
        // position: sticky;
        // top: calc(1.6rem + 50px);
        // z-index: 1000;
    }
    .height_overflow {
        max-height: 400px;
        overflow: auto;
    }
    .coursebundleTabset>ul>li.active>a {
        // color: #076ba1;
        color: var(--colorCommon) !important;
    }
    .coursebundleTabset>ul>li>a::before {
        // background: #076ba1;
        background: var(--colorCommon) !important;
    }
    .coursebundleTabset>ul>li>a:hover {
        // color: #076ba1
        color: var(--colorCommon) !important;
    }
    .bundleDropLoc {
        min-height: 75px;
        border: 1.5px solid #898686;
        border-style: dashed;
        display: grid;
        width: 100%;
    }
    .bundleDropLoc::before {
        content: "Drag course(s) here";
        color: #817b7b;
        text-align: center;
        align-self: center;
        font-size: 20px;
    }
    .catrow {
        height: auto;
        width: 100%;
        display: inline-flex;
        margin: 0px;
        padding: 0px;
    }
    .catsep {
        border-bottom: 1px solid #f1f5f8;
    }
    .card-footer-sub {
        padding: 0;
        text-align: center;
        /* margin: 3% 0%; */
        //    margin: 4% 0%   ;
        margin: 0%;
        border-right: 1px solid #f1f5f8;
    }
    .card-footer-icon {
        font-size: 20px;
        margin: 7% 10px;
        color: #2795d0;
    }
    .managerbundle {
        padding: 10px;
        border-bottom: 1px solid #f1f5f8;
    }
    .count {
        margin-top: 5px;
        margin-bottom: 5px;
        color: #000;
        font-size: 15px;
    }
    // .searchInput {
    // }
    .EnrolSrchDiv {
        padding-left: 0px;
        margin-bottom: 10px;
    }
    .manEnrolcoursebundle {
        width: 100%;
        padding: 10px;
        border: 1px solid rgba(0, 0, 0, 0.125);
    }
    .catrow>div {
        // width: 100%;
        // padding: 0;
        // margin:3%;
        // height: 100%;
        width: 100%;
        padding: 0;
        margin: 4% 0 0 4%;
        height: 100%;
        flex: 0 0 20%;
        a {
            text-align: center;
        }
        a>img {
            // width: 100%;
            width: 100%;
            // height: 100%;
            //  height: 140px;
            // height: 190px;
        }
        div {
            width: 100%;
            // margin: 0.7rem 0;
            .toolcatp {
                z-index: 1;
                text-align: center;
                color: #000;
                margin: 3% 0%;
                // width: 92%;
                width: 100%;
                cursor: pointer;
                font-size: 18px;
                font-weight: 500;
            }
            .toolcat {
                width: 8%;
                float: right;
                margin: 3% 0%;
            }
        }
    }
    .ngx-datatable.material .empty-row {
        margin: 10px;
        text-align: center;
        border-radius: 15px;
        border: 1px solid #076ba1;
        padding: 20px;
    }
    .manEnrolSrchDiv {
        margin-bottom: 15px;
    }
    .manEnrolSearchUsr {
        width: 100%;
        padding: 10px;
        border: none;
        outline: none;
        border-bottom: 1px solid #ccc;
    }
    .searchInput {
        border: none;
        background: transparent;
        box-shadow: none;
        border-radius: 0;
        outline: none;
        width: 100% !important;
        margin: 0;
    }
    .searchRemove {
        position: absolute;
        right: 28px;
        top: 10px;
        width: 30px;
        text-align: center;
        height: 30px;
        cursor: pointer;
    }
    .sticky-topbundle {
        position: sticky;
        top: 66px;
        z-index: 3;
    }
    .marginbot20 {
        margin-bottom: 15px;
    }
    .constantBackbtn1 {
        width: auto;
        padding: 6px 14px;
        background-color: #076ba1;
        // background-color: #bbc0c3   ;
        color: #fff;
        min-width: 90px;
        max-height: 36px;
        height: 32px;
    }
    // .courseDetailsTab, .courseMoudulesTab, .courseEnrolTab, .courseEngageTab, .courseRewardsTab{
    //     margin-top: 10px   ;
    // }
    /*.styled-checkbox {
  position: absolute; // take it out of document flow
  opacity: 0; // hide it

  & + label {
    position: relative;
    cursor: pointer;
    padding: 0;
  }

  // Box.
  & + label:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 20px;
    height: 20px;
    background: white;
  }

  // Box hover
  &:hover + label:before {
    background: #f35429;
  }

  // Box focus
  &:focus + label:before {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
  }

  // Box checked
  &:checked + label:before {
    background: #f35429;
  }

  // Disabled state label.
  &:disabled + label {
    color: #b8b8b8;
    cursor: auto;
  }

  // Disabled box.
  &:disabled + label:before {
    box-shadow: none;
    background: #ddd;
  }

  // Checkmark. Could be replaced with an image
  &:checked + label:after {
    content: '';
    position: absolute;
    left: 5px;
    top: 9px;
    background: white;
    width: 2px;
    height: 2px;
    box-shadow:
      2px 0 0 white,
      4px 0 0 white,
      4px -2px 0 white,
      4px -4px 0 white,
      4px -6px 0 white,
      4px -8px 0 white;
    transform: rotate(45deg);
  }
}*/
    /*@media (min-height: 200px) and (max-height: 485px){

}

@media screen and (min-height: 480px) and (max-height: 480px){

}*/
    .content-bundel-card {
        // color: #000000;
        // background-color: #ffffff;
        /*border: 0px solid #0000000a;*/
        // border: 0px;
        // box-shadow: none;
        position: relative;
    }
    .content-bundel-disabled {
        background-color: #00000082;
        height: 100%;
        position: absolute;
        z-index: 2;
        /* color: #fff; */
        display: grid;
        text-align: center;
        align-items: center;
    }
    .disabled-icon {
        font-size: 30px;
        color: #fff;
        cursor: pointer;
    }
    /*UPLOAD FILE CSS*/
    .inputenupcb {
        height: 14em;
        .form-control-file {
            position: relative;
            width: 100%;
            height: 100%;
            min-height: 6em;
            outline: none;
            visibility: hidden;
            cursor: pointer;
            background-color: #c61c23;
            box-shadow: 0 0 5px solid currentColor;
            &::before {
                color: #ed462f;
                content: attr(data-title);
                position: absolute;
                top: 1.5em;
                left: 0;
                width: 100%;
                /* min-height: 8em; */
                height: 12em;
                line-height: 8em;
                padding-top: 1.5em;
                opacity: 1;
                visibility: visible;
                text-align: center;
                border: 0.15em dashed #9ea4a5;
                transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
                overflow: hidden;
            }
            &::hover {
                &:before {
                    border-style: solid #076ba1;
                    /*box-shadow: inset 0px 0px 0px 0.25em currentColor;*/
                }
            }
        }
    }
    .chooseFilecb {
        text-align: center;
        float: left;
        /* margin-left: 12%; */
        /* margin-top: 7%; */
    }
    .cancelFilecb {
        text-align: center;
        /* float: left; */
        /* margin-left: 12%; */
        /* margin-top: 7%; */
    }
    // .colInputcb {
    //   /*margin-top: -2em;*/
    // }
    .orcb {
        text-align: center;
        margin-left: 12%;
        margin-top: 3%;
        margin-bottom: -4%;
    }
    .labelFilecb {
        font-size: 17px;
    }
    .cancelButcb {
        border-radius: 0;
        transform: none;
    }
    /* ::-moz-placeholder  Firefox v19+ */
    /* :-moz-placeholder  Firefox v18- */
    /* For Firefox only */
    .inputenupcb {
        height: 14em;
        .form-control-file {
            position: relative;
            width: 100%;
            height: 100%;
            min-height: 6em;
            outline: none;
            visibility: hidden;
            cursor: pointer;
            background-color: #c61c23;
            box-shadow: 0 0 5px solid currentColor;
            &:before {
                color: #ed462f;
                content: attr(data-title);
                position: absolute;
                top: 1.5em;
                left: 0;
                width: 100%;
                /* min-height: 8em; */
                height: 12em;
                line-height: 8em;
                padding-top: 1.5em;
                opacity: 1;
                visibility: visible;
                text-align: center;
                border: 0.15em dashed #9ea4a5;
                transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
                overflow: hidden;
            }
            &:hover {
                &:before {
                    border-style: solid #076ba1;
                    /*box-shadow: inset 0px 0px 0px 0.25em currentColor;*/
                }
            }
        }
    }
    /* For Firefox only */
    .labelFilecb {
        font-size: 17px;
    }
    /* For Firefox only */
    .cancelButcb {
        border-radius: 0;
        transform: none;
    }
    .margin10 {
        margin: 10px;
    }
    .upbackbtncb {
        text-align: center;
        margin: 8px;
    }
    @import "../../../@theme/styles/variable.scss";
    .course_bundle_div {
        // .content_width{
        //     width: 1200px;
        //     margin: 0 auto;
        // }
        .top_header_container {
            background: #fff;
            position: sticky;
            top: 4.75rem;
            z-index: 1020;
            padding: 0 10px;
            .top_header_div_sticky {
                background: #fff;
                display: grid;
                grid-template-columns: 2fr 4fr 3fr;
                height: 50px;
                align-items: center;
                width: 78vw;
                margin: auto;
                .page_title {
                    text-align: left;
                    h4 {
                        margin: 0;
                    }
                }
                .search_div {
                    display: grid;
                    grid-template-columns: auto 20px;
                    border: 1px solid $border_color;
                    height: 35px;
                    outline: none;
                    .search_field {
                        height: 30px;
                        border: none;
                        box-shadow: none;
                    }
                    .remove_icon {
                        line-height: 30px;
                    }
                }
                .buttons_div {
                    text-align: right;
                }
            }
        }
        .multiple_category_card_container {
            background: $background_for_card_container;
            margin: 20px auto;
            width: 95%;
            // margin: auto;
            .cards_container {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                grid-column-gap: 30px;
                grid-row-gap: 30px;
                .singel_card {
                    position: relative;
                    background: #fff;
                    text-align: center;
                    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
                    border-radius: 10px;
                    .overlay_hidden {
                        position: absolute;
                        background: rgba(0, 0, 0, 0.5);
                        height: 100%;
                        width: 100%;
                        display: grid;
                        align-items: center;
                        font-size: 30px;
                        color: #fff;
                        border-radius: 10px;
                        i {
                            cursor: pointer;
                        }
                    }
                    // border-bottom-left-radius: 10px ;
                    // border-bottom-right-radius: 10px;
                    // box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
                    .singel_card_image {
                        border-top-left-radius: 10px;
                        border-top-right-radius: 10px;
                        height: 150px;
                        width: 100%;
                        background-position: center;
                        background-size: cover;
                        //    background
                    }
                    .card_title {
                        padding: 10px;
                        border-top: 1px solid $border_color;
                        border-bottom: 1px solid $border_color;
                        color: #000;
                        font-size: $font_size_for_cards;
                    }
                    .card_subtitle {
                        font-size: 14px;
                        padding: 10px;
                        // border-top: 1px solid #F1F5F8;
                        border-bottom: 1px solid $border_color;
                        color: #000;
                    }
                    .user-icon {
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr;
                        height: 40px;
                        align-items: center;
                        .icons-enable-disable {
                            border-right: 1px solid $border_color;
                            color: $icon_font_color;
                            font-size: 20px;
                            height: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                    }
                    .content-icons {
                        text-align: center;
                        border-bottom: 1px solid $border_color;
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        align-items: center;
                    }
                    .icon-div {
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        height: 40px;
                        align-items: center;
                        border-bottom: 1px solid $border_color;
                        .icon {
                            border-right: 1px solid $border_color;
                            color: $icon_font_color;
                            font-size: 20px;
                            height: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            margin: 0;
                        }
                        .icon:last-child {
                            border-right: 0px;
                        }
                    }
                    .icon-div:not(last) {
                        border-right: 1px solid $border_color;
                    }
                    .para_margin_0 {
                        margin: 0;
                    }
                }
                .not_found {
                    background-image: url("assets/images/open-book-leaf.jpg");
                }
            }
        }
        .card_width {
            width: 1200px;
            margin: 15px auto;
        }
        .addEditCategory_page_container {
            .content_width {
                // width: 78vw;
                margin: 0 auto;
            }
            .tab_container {
                display: grid;
                grid-template-columns: 90% 10%;
                grid-column-gap: 20px;
            }
            .addEditCategory_header {
                background: #fff;
                position: sticky;
                top: 4.75rem;
                z-index: 1020;
                .header_grid {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    align-items: center;
                    height: 50px;
                    .header_title {
                        h4 {
                            text-align: left;
                        }
                    }
                    .buttons_container {
                        text-align: right;
                    }
                    .no_image_found {
                        background-image: url('assets/images/noImage.jpg');
                    }
                }
            }
            .inside_form_container {
                // display: grid;
                // grid-template-columns: 1fr 1fr;
                background: #fff;
                // margin: 20px;
                .form_grid {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    padding-top: 0;
                    grid-column-gap: 20px;
                    padding-bottom: 15px;
                    // .left_form_container {
                    // }
                    // .right_form_container {
                    //   .form_container {
                    //   }
                    // }
                    .form_field_container {
                        label {
                            color: #666666;
                        }
                    }
                    .image_upload_container {
                        // margin-top: 15px;
                        .image_preview {
                            height: 140px;
                            width: 300px;
                            margin-right: auto;
                            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
                            padding: 10px;
                            background: #fff;
                            position: relative;
                            overflow: hidden;
                            .image_preview_container {
                                height: 120px;
                                width: 280px;
                                background-size: cover;
                                background-position: center;
                                background-repeat: no-repeat;
                                display: grid;
                                overflow: hidden;
                                grid-template-columns: 1fr 1fr;
                                // position: absolute;
                                grid-column-gap: 20px;
                                align-items: end;
                                // margin-top: -10px;
                                // img{
                                //   width: 100%;
                                //   height: 100%;
                                // }
                                .icon_upload_image {
                                    // text-align: right;
                                    // margin-left: auto;
                                    margin-left: 10px;
                                    margin-bottom: 10px;
                                    label {
                                        display: flex;
                                        align-items: center;
                                        // align-content:
                                        justify-content: center;
                                        // justify-items: center;
                                        background: #fff;
                                        // color: #076ba1;
                                        color: var(--colorCommon);
                                        height: 40px;
                                        width: 40px;
                                        border-radius: 50%;
                                        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
                                        margin-bottom: 0;
                                        padding: 0;
                                        i {
                                            line-height: 40px;
                                        }
                                    }
                                    // margin: 0 auto;
                                }
                                .icon_delete {
                                    // text-align: right;
                                    // margin-right: auto;
                                    margin-left: auto;
                                    margin-right: 10px;
                                    margin-bottom: 10px;
                                    display: flex;
                                    align-items: center;
                                    // align-content:
                                    justify-content: center;
                                    // justify-items: center;
                                    background: #fff;
                                    // color: #076ba1;
                                    color: var(--colorCommon);
                                    height: 40px;
                                    width: 40px;
                                    border-radius: 50%;
                                    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
                                    // margin: 0;
                                    padding: 0;
                                    i {
                                        line-height: 40px;
                                    }
                                }
                                //   .buttons_image_preview{
                                //     // display: grid;
                                //     // grid-template-columns: 1fr 1fr;
                                //     // // position: absolute;
                                //     // grid-column-gap: 20px;
                                //     // align-items: end;
                                //     // margin-top: -10px;
                                // }
                            }
                            .no_image_found {
                                background-image: url("assets/images/open-book-leaf.jpg");
                            }
                        }
                    }
                }
            }
        }
    }
    .required_mark {
        font-size: 20px;
        font-weight: 100;
        top: -0.3em;
        color: #ed462f;
    }
    // .courseBundle {
    //   margin-top: 10px;
    //   width: 60px;
    //   // height: 90px;
    // }
    .courseBundle-title {
        // width: 100px;
        // padding: 16px 25px 0px;
        // height: 80px;
        margin-top: 5px;
    }
    .multiple_courseBundle_card_container1 {
        background: $background_for_card_container;
        margin: 0px 20px 30px;
        width: 95%;
        // margin: auto;
        .courseBundle_container1 {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-column-gap: 30px;
            grid-row-gap: 30px;
            .courseBundle_card1 {
                position: relative;
                background: #fff;
                text-align: center;
                box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
                border-radius: 10px;
            }
        }
    }
    .courseBundle_width1 {
        width: 1000px;
        margin: 20px 10px 20px 3px;
    }
    .copyurl {
        display: grid;
        grid-template-columns: 3fr 1fr;
        width: 100%;
        z-index: 0;
        .copybtn {
            cursor: pointer;
            // background: #076ba1;
            background: var(--colorCommon);
            width: 100%;
            border-radius: 0px;
        }
        .copybtn:hover,
        .copybtn:focus,
        .copybtn:active,
        .copybtn:disabled {
            // cursor: pointer;
            // background: #076ba1;
            background: var(--colorCommon);
            // width: 100%;
        }
    }
    .input-group-btn {
        width: 100%;
    }
    .fa-spin-infinite {
        font-size: 18px;
        // -webkit-animation: infinite-spinning 1s ease-out 0s infinite normal;
        animation: infinite-spinning 1s ease-out 0s infinite normal;
    }
    @keyframes infinite-spinning {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }
    .texar{
        resize: none;
    }
    .padlr{
        padding: 0 16px;
    }
}