@import '../../../../@theme/styles/variable.scss';
.browsebtn {
    // margin-left: 74px !important;
    margin-top: 10px;
    float: right;
}

.borderNone {
    border: none;
    padding-top: 13px;
}

.contentImgDiv {
    width: 175px;
    height: 150px;
    margin-bottom: 10px;
}

.contentName {
    margin-bottom: 0;
    padding-top: 10px;
}

.contentIcon {
    width: 50%;
    height: 50%;
    margin: 5px;
    // margin-left: 50px;
}

.contentDiv {
    border: 1px solid #f5f5f5;
    text-align: center;
    padding: 15px;
}

.contentModelSubDiv {
    /* height: 323px; */
    overflow-y: scroll;
    height: 365px;
    width: 100%;
}

.selectContentBackdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1503;
    background-color: #404040c2;
    .selectContentModal {
        width: 50%;
        margin: auto;
        background-color: #fff;
        margin-top: 65px;
        border-radius: 5px;
    }
}

// .constantbtn-button-blue-lefts {
//   border-radius: 0;
//   background: #076ba1;
//   color: #fff;
//   border: #076ba1;
//   height: 32px;
//   min-width: 70px;
//   color: #ffffff;
//   background-image: none;
//   border-color: #076ba1;
//   -webkit-transform: none;
//   transform: none;
//   margin-left: 860px;
//   margin-top: 21px;
// }
.modal-header {
    background: #076ba1;
    color: #fff;
}

.searchInput {
    width: 100%;
    border: none;
    border-bottom: 1px solid #ddd;
    padding: 10px;
    outline: 0;
}

.activeActType {
    border: 1px solid #076ba1;
    background-color: #e9eef1;
}

.close {
    color: #fff;
    outline: none;
}

.col-6 {
    padding-top: 0px !important;
}

.left_spaces {
    font-weight: 600 !important;
}

.content-img {
    vertical-align: middle;
    border-style: none;
    width: 203.5px;
    height: 152px;
    border-radius: 10px 10px 0px 0px;
}

.noWeight {
    font-weight: unset;
}

.uploadCard {
    background: #fff;
    width: 100%;
    padding: 10px;
    margin: auto;
    margin-top: 10px;
}

.inputDnD {
    // height: 14em;
    .form-control-file {
        position: relative;
        width: 100%;
        height: 100%;
        min-height: 6em;
        outline: none;
        visibility: hidden;
        cursor: pointer;
        background-color: #c61c23;
        box-shadow: 0 0 5px solid currentColor;
        &::before {
            color: #ed462f;
            content: attr(data-title);
            position: absolute;
            left: 0;
            width: 100%;
            height: 6em;
            line-height: 5.5em;
            opacity: 1;
            visibility: visible;
            text-align: center;
            border: 0.15em dashed #9ea4a5;
            -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
            transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
            overflow: hidden;
        }
        &::hover {
            &:before {
                border-style: solid #076ba1;
                /*box-shadow: inset 0px 0px 0px 0.25em currentColor;*/
            }
        }
    }
}

.help-block {
    color: red;
}

.uploadCard {
    background: #fff;
    width: 100%;
    padding: 10px;
    margin: auto;
    margin-top: 10px;
}

.inputDnD {
    // height: 14em;
    .form-control-file {
        position: relative;
        width: 100%;
        height: 100%;
        min-height: 6em;
        outline: none;
        visibility: hidden;
        cursor: pointer;
        background-color: #c61c23;
        box-shadow: 0 0 5px solid currentColor;
        &::before {
            color: #ed462f;
            content: attr(data-title);
            position: absolute;
            left: 0;
            width: 100%;
            height: 6em;
            line-height: 5.5em;
            opacity: 1;
            visibility: visible;
            text-align: center;
            border: 0.15em dashed #9ea4a5;
            -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
            transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
            overflow: hidden;
        }
        &::hover {
            &:before {
                border-style: solid #076ba1;
                /*box-shadow: inset 0px 0px 0px 0.25em currentColor;*/
            }
        }
    }
}

.modal-headers {
    display: flex;
    color: var(--colorCommon);
    background-color: var(--colorBtnTxt);
    border-color: var(--colorCommon);
    padding: 10px;
    padding-bottom: 0px;
    border: 1px solid #d5dbe0;
    border-top-left-radius: 0.17rem;
    border-top-right-radius: 0.17rem;
    font-family: Poppins;
    font-weight: 500;
    font-size: 1.125rem;
}

.content_category_container {
    .pointer {
        cursor: pointer;
    }
    .form-control {
        -webkit-box-shadow: none;
        box-shadow: none;
        border: 1px solid #dadfe6;
    }
    .form-controls {
        -webkit-box-shadow: none;
        box-shadow: none;
        // width: 275px;
        border: 1px solid #dadfe6;
        height: calc(1.6rem + 10px);
        width: 100%;
    }
    .rowMarginAuto {
        margin: auto;
    }
    .boxMargin {
        margin-bottom: 20px;
    }
    textarea {
        resize: none;
    }
    .NoDataDiv {
        position: fixed;
        top: 50%;
        left: 52%;
    }
    .image_upload_container {
        margin-top: 15px;
        .image_preview {
            height: 170px;
            width: 300px;
            margin-right: auto;
            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
            padding: 10px;
            background: #fff9f9;
            position: relative;
            .image_preview_container {
                height: 150px;
                width: 100%;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                display: grid;
                grid-template-columns: 1fr 1fr;
                // position: absolute;
                grid-column-gap: 20px;
                align-items: end;
                .icon_upload_image {
                    // text-align: right;
                    // margin-left: auto;
                    margin-left: 10px;
                    margin-bottom: 10px;
                    label {
                        display: flex;
                        align-items: center;
                        // align-content:
                        justify-content: center;
                        // justify-items: center;
                        background: #fff;
                        color: #076ba1;
                        height: 40px;
                        width: 40px;
                        border-radius: 50%;
                        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
                        margin-bottom: 0;
                        padding: 0;
                        i {
                            line-height: 40px;
                        }
                    }
                    // margin: 0 auto;
                }
                .icon_delete {
                    // text-align: right;
                    // margin-right: auto;
                    margin-left: auto;
                    margin-right: 10px;
                    margin-bottom: 10px;
                    display: flex;
                    align-items: center;
                    // align-content:
                    justify-content: center;
                    // justify-items: center;
                    background: #fff;
                    color: #076ba1;
                    height: 40px;
                    width: 40px;
                    border-radius: 50%;
                    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
                    // margin: 0;
                    padding: 0;
                    i {
                        line-height: 40px;
                    }
                }
            }
        }
    }
    .notFoundPage {
        display: inline-block;
        width: 100%;
        padding: 10px;
        height: 100%;
    }
    //  @import '../../../@theme/styles/variable.scss';
    .content_category_div {
        .content_width {
            width: 78vw;
            margin: 0 auto;
        }
        .top_header_container {
            background: #fff;
            position: sticky;
            top: 4.75rem;
            z-index: 1020;
            .top_header_div_sticky {
                background: #fff;
                display: grid;
                grid-template-columns: auto auto;
                height: 50px;
                align-items: center;
                .page_title {
                    text-align: left;
                    h4 {
                        margin: 0;
                    }
                }
            }
            .buttons_div {
                text-align: right;
            }
        }
    }
    .not_found {
        background-image: url("assets/images/category.jpg");
    }
}

.NoDataDiv {
    position: fixed;
    top: 38%;
    left: 28%;
}

.card .card-body .topEditHead {
    background: #076ba1;
    color: #ffff;
    padding: 10px;
    margin-bottom: 10px;
}

.displayin {
    display: inline;
    padding: 0px;
    margin-bottom: 12px;
    margin-top: 15px;
}

.selectedContentIcon {
    // width: 60%;
    width: 70%;
    height: 60%;
    margin: 20px;
}

.floatrightContent {
    float: right;
    font-size: 14px;
    line-height: 20px;
    text-align: justify;
    top: 7px;
}

.removeSelectedContent {
    color: #ee3622;
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    /* line-height: 1; */
    /* text-shadow: 0 1px 0 #fff; */
    opacity: .5;
    background: transparent;
    border: none;
}

.selectedContentHeader {
    border-bottom: 1px solid #b3babd61;
    padding-bottom: 5px;
    padding-top: 2px;
}