<div class="content_category_container">

    <div class="">
        <div class="modal-headers">
            <p class="left_spaces" *ngIf="addAction">Add Content</p>
            <p class="left_spaces" *ngIf="!addAction">Edit Content</p>

        </div>

        <!-- <div class="text-right" style="margin-top: 10px; padding-right: 17px;">
            <button class="constantbtn-button-blue-left" (click)="submit(contentData)" [disabled]="!contentFormValidation.form.valid">Save & Next</button>
        </div> -->

        <div class="modalBody12">

            <form class="" style="color: #000; width: 100%;" #contentFormValidation="ngForm">
                <div class="row rowMarginAuto mt-2">
                    <div class="col-6">
                        <div class="boxMargin" style="margin-bottom: 28px;">
                            <label class="side-form-label" for="name">Content name <sup>&#x2731;</sup>
                                <app-info-tooltip for="name" [description]="contentTooltip"></app-info-tooltip>
                            </label>
                            <!-- <label class="left_space">
                Content name
                  <h3 class="reqFieldActivity">*</h3>
                  <div class="help-tooltip">
                    <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                    <div class="help-tooltip-position-right">
                      <p>Enter the name of the Content</p>
                      <i></i>
                    </div>
                  </div>
                </label> -->
                            <input type="text" class="form-control form-control-input commonInput" minlength="2" maxlength="50" required [(ngModel)]="contentData.contentName" id="name" placeholder="Maximum 50 characters" name="name" #contentName="ngModel">

                            <!-- <span class="help-block" *ngIf="!contentName.valid && contentName.touched">Enter content name.</span> -->
                            <ng-container *ngIf="contentName.errors && (contentName.dirty || contentName.touched)">
                                <small class="invalid-msg" *ngIf="contentName.errors.required">Content name is required.</small>
                                <!-- <small *ngIf="assetName.errors?.maxlength">max Length error.</small> -->
                                <small class="invalid-msg" *ngIf="contentName.errors.minlength">Minimum 2 & maximum 50 characters required</small>
                                <small class="invalid-msg" *ngIf="contentName.errors.maxlength">Minimum 2 & maximum 50 characters required</small>
                            </ng-container>
                        </div>

                        <div class="boxMargin">
                            <label class="side-form-label" for="name">Description<sup>&#x2731;</sup>
                                <app-info-tooltip for="name" [description]="description"></app-info-tooltip>
                            </label>
                            <!-- <label class="left_space">
                  Description
                  <h3 class="reqFieldActivity">*</h3>
                  <div class="help-tooltip">
                    <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                    <div class="help-tooltip-position-right">
                      <p>Enter description for section</p>
                      <i></i>
                    </div>
                  </div>
                </label> -->
                            <textarea type="text" class="form-control form-control-input commonTextarea" id="desc" [(ngModel)]="contentData.contentDesc" placeholder="Min 20 and Max 500 characters." name="desc" #desc="ngModel" minlength="20" maxlength="500" required></textarea>

                            <!-- <span class="help-block" *ngIf="!desc.valid && desc.touched">Enter description.</span> -->
                            <ng-container *ngIf="desc.errors && (desc.dirty || desc.touched)">
                                <small class="invalid-msg" *ngIf="desc.errors.required">Description is required.</small>
                                <!-- <small *ngIf="assetName.errors?.maxlength">max Length error.</small> -->
                                <small class="invalid-msg" *ngIf="desc.errors.minlength">Minimum 20 & maximum 500 characters required</small>
                                <small class="invalid-msg" *ngIf="desc.errors.maxlength">Minimum 20 & maximum 500 characters required</small>
                            </ng-container>
                        </div>



                    </div>

                    <div class="col-6" style="padding-left: 0px">


                        <div class="boxMargin">
                            <label class="side-form-label" for="name">Content<sup>&#x2731;</sup>
                                <app-info-tooltip for="name" [description]="contentSect"></app-info-tooltip>
                            </label>
                            <!-- <label class="left_space">
                    Content
                      <h3 class="reqFieldActivity">*</h3>
                      <div class="help-tooltip">
                        <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                        <div class="help-tooltip-position-right">
                          <p>Enter the Content of the Section</p>
                          <i></i>
                        </div>
                      </div>
                    </label> -->
                            <div>
                                <select id="content" class="custom-select commonSelect" name="Content" [(ngModel)]="contentData.contentType" #conType="ngModel" (change)="contentSelect($event)" required>
                          <option value="" selected disabled>Select content type</option>
                          <option *ngFor="let data of allContentDropdown" value={{data.LOVValue}}>{{data.LOVName}}</option>
                        </select>


                                <button type="submit" class="btn-default browsebtn constantbtn" (click)="browseContent()" id="editbtnRules" *ngIf="browse">Browse</button>

                            </div>




                            <div *ngIf="conType.errors && (conType.dirty || conType.touched)" class="invalid-msg">
                                <small *ngIf="conType.errors.required">Content-type is required</small>
                            </div>

                            <div class="col-sm-12 card displayin" *ngIf="activityContentSelected == true">
                                <div class="col-sm-2 padding0">
                                    <a>
                                        <img class="selectedContentIcon" src='{{contentData.assetRef}}' onerror="this.src='assets/images/noImage.jpg';">
                                    </a>
                                </div>
                                <div class="col-sm-10 floatrightContent">
                                    <button class="removeSelectedContent" aria-label="Close" (click)="removeSelectedActivityContent()">
                            <span aria-hidden="true">&times;</span>
                          </button>
                                    <p class="selectedContentHeader commonInput" title="{{contentData.assetName}}">
                                        {{contentData.assetName | slice:0:20}}</p>
                                    <p class="commonInput" title="{{contentData.description}}">
                                        {{contentData.description | slice:0:250}}
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="boxMargin" *ngIf='textBox'>
                            <label class="side-form-label" for="name">Enter Link<sup>&#x2731;</sup>
                                <app-info-tooltip for="name" [description]="contentLink"></app-info-tooltip>
                            </label>
                            <!-- <label class="left_space">
                Enter Link
                  <h3 class="reqFieldActivity">*</h3>
                  <div class="help-tooltip">
                    <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                    <div class="help-tooltip-position-right">
                      <p>Enter link of content</p>
                      <i></i>
                    </div>
                  </div>
                </label> -->
                            <div>
                                <textarea type="text" class="form-control form-control-input  commonTextarea" id="link" [(ngModel)]="contentData.link" placeholder="Min 5 and Max 100 characters." name="link" #link="ngModel" minlength="5" maxlength="100" required></textarea>

                            </div>




                            <ng-container *ngIf="link.errors && (link.dirty || link.touched)" class="invalid-msg">
                                <small class="invalid-msg" *ngIf="link.errors.required">Link is required</small>
                            </ng-container>
                        </div>












                    </div>




                </div>



            </form>
        </div>

    </div>
</div>

<ngx-sidebar-form *ngIf="browseContentShow" [sidebarTitle]='title' [buttonName]="btnName" (saveBtn)='saveSelectedActivityContent(1)' (outside)="closeActivityContentModel(1)" (closeBtn)='closeActivityContentModel(1)'>


    <!-- <div class="selectContentBackdrop" *ngIf="browseContentShow == true">
    <div class="selectContentModal">
        <div class="modal-header">
            <p>Select a content</p>
            <button class="close" aria-label="Close" (click)="closeActivityContentModel(1)">
        <span aria-hidden="true">&times;</span>
      </button>
        </div> -->
    <!-- <div class="modal-body">
            <div class="contentModelSubDiv"> -->
    <!-- <div> -->
    <div class="col-md-12 manEnrolSrchDiv">
        <input type='text' class="manEnrolSearchUsr searchInput commonInput" placeholder='Search content...' (keyup)='searchActivityContent(contentData.contentType,contentSearchQry)' [(ngModel)]="contentSearchQry" />
        <!-- <i class="fa fa-remove searchRemove" (click)="clearesearch()"></i> -->
    </div>
    <div class="container content">
        <!-- <div class="row"> -->
        <div class="card borderNone col-md-4" *ngFor="let catData of srchContentResult; let i = index">
            <div class="contentDiv contentImgDiv" [ngClass]="{'activeActType': activeSelectedContentId == catData.id}" (click)="selectedActivityContent(i, catData);setActiveSelectedContent(i, catData)">
                <a>
                    <img for="content{{ catData.id }}" class="contentIcon" src='{{catData.assetRef}}' onerror="this.src='assets/images/noImage.jpg';">
                </a>
                <p class="contentName" title="{{catData.assetName}}">{{catData.assetName | slice:0:20}}</p>
            </div>
        </div>
        <!-- </div> -->
    </div>
    <div *ngIf="!srchContentResult?.length">
        <!-- <img class="noDataImg" src='assets/images/noDataFound1.png' onerror="this.src='assets/images/noDataFound1.png';"> -->
        <!-- <img src='assets/images/noDataFound2.png' onerror="this.src='assets/images/noDataFound2.png';"> -->
        <!-- <p class="nodata">{{ dataDetail }}</p> -->
        <ngx-no-data [config]="noDataVal"></ngx-no-data>
    </div>

    <!-- </div> -->
    <!-- <div id="panel-group">
                    <div class="panel panel-default" *ngFor="let cat of contentCat; let i = index">
                        <div class="panel-heading padding0" (click)="current = i;">
                            <h5 class="panel-title padding0">
                                <div class="inputGroupRadioDemo margin0">
                                    <input id="cat_{{cat.catId}}" name="radio" type="radio" value="cat.catId" [checked]='cat.selected' (click)="contentCatSelected($event,cat)" />
                                    <label class="margin0" for="cat_{{cat.catId}}">{{cat.catName}}</label>
                                </div>
                            </h5>
                        </div>
                        <div id="collapse1" class="panel-collapse" [class.collapse]='current != i' [class.show]='cat.selected == true'>
                            <div class="panel-body">
                                <div class="container content">
                                    <div class="row">
                                        <div class="card borderNone col-md-4" *ngFor="let catData of cat.content; let i = index">
                                            <div class="contentDiv" [ngClass]="{'activeActType': activeContentId == catData.conId && activeContentCatId == catData.catId}" (click)="onCheckBoxselecClick(catData);setActiveContent(i, catData)">
                                                <a>
                                                    <img for="content{{catData.conId}}" class="contentIcon" src='{{catData.conIcon}}'>
                                                </a>
                                                <p class="contentName">{{catData.conName}}</p>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div> -->
    <!-- </div>
        </div> -->
</ngx-sidebar-form>
<!-- <div class="modal-footer">
            <button type="button" class="btn-default floteright constantbtn" (click)="saveSelectedActivityContent(1)" id="editbtn">Select</button>
        </div>
    </div>
</div> -->