.reports_container {
    .reports_header {
        background: #fff;
        position: sticky;
        top: 4.75rem;
        z-index: 1020;
        .content_width {
            width: 81vw;
            margin: auto;
            .header_grid {
                display: grid;
                grid-template-columns: 1fr 1fr;
                align-items: center;
                height: 50px;
                padding: 0 30px;
                .header_title {
                    h4 {
                        text-align: left;
                        margin: 0;
                    }
                }
                .buttons_container {
                    text-align: right;
                }
            }
        }
    }
    .block {
        margin-top: 30px;
        padding: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }
    .cloud {
        font-size: 90px;
        /* width: 86px; */
        /* height: 86px; */
        /* margin: 21px auto 21px auto; */
        color: #076ba1;
        text-align: center;
        align-self: self-end;
    }
    .mainrow {
        margin: 25px 0 0 0;
    }
    .maincol {
        padding: 10px;
        cursor: pointer;
        border: none;
    }
    .mainbox {
        border: 2px solid #ffffff;
        box-shadow: 2px 4px 8px #dedede;
        border-radius: 10px;
        background-color: #ffffff;
        cursor: pointer;
        display: grid;
        height: 240px;
        outline-style: none;
        align-items: center;
        justify-content: center;
    }
    .mainh3 {
        text-align: center;
        color: #076ba1;
        cursor: pointer;
    }
    .mainp {
        text-align: center;
        font-weight: 300;
        cursor: pointer;
    }
    .iconDiv {
        // width: 27%;
        // margin: auto;
        // padding-top: 6vh;
        img {
            width: 100%;
            height: 100%;
        }
    }
}