<div class="reports_container">
    <!-- <div class="reports_header">
        <div class="content_width">
          <div class="header_grid">
            <div class="header_title">
              <h4>{{reportname}}</h4>
            </div>
            <div class="buttons_container">
               
                <button class="back_button" (click)="back()">Back</button>
               
            </div>
          </div>
        </div>
      </div> -->

    <app-subheader [headerConfig]="header" (backClick)="back()"></app-subheader>


    <!-- old card -->
    <!-- <div ba-panel ba-panel-class="with-scroll">
        <section id="feature" class="section01" style="float:none; ">
            <div class="container">
                <div class="block">
                    <div class="" *ngFor ="let item of menuList" (click)="gotopages(item, item.menuId)">
                        <div class="element-animate mainbox">
                            <div class="{{item.menuIcon}} cloud">
                            </div>
                            <div class="">
                                <div class="media-body">
                                    <h3 class="mt-0 mainh3">{{item.menuName}}</h3>
                                    <p class="mainp">{{item.menuDescription}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div> -->

    <!-- new card -->
    <div class="mainCard">
        <ngx-parent-card [cardList]="item" *ngFor="let item of menuList" (cardClick)="gotopages(item,item.menuId)"></ngx-parent-card>
    </div>
</div>