 .add_edit_participants{
 
 .fullwiddth{
   position: relative;
 }

 .fullwiddth .calfont{
   position: absolute;
   padding: 10px;
   pointer-events: none;
 }

 .left-icon .calfont{
   left:0px;
 }

 .right-icon .calfont{
   left:242px;
   top: -6px;
 }

// .add_participants{
//     .heding1{
//       line-height: 50px;
//       margin: auto;
//     }

    
//     .AssessDown{
//       padding: 16px;
//     }
//     .mainDiv{
//       margin: 0 15px;
//     }

//     .bottom15{
//       margin-bottom: 15px;
//     }

//     .cellpointr{
//       cursor: pointer;
//     }

    
//     .top_header_container{
//       background: #fff;
//       position: sticky;
//       top: 4.75rem;
//       z-index: 1020;
//       .top_header_div_sticky{
//           background: #fff;
//           display: grid;
//           grid-template-columns: 1fr 1fr; 
//           height: 50px;
//           align-items: center;
//           .page_title{
//               text-align: left;
//               h4{
//                   margin: 0;
//               }
//           }
          
//           }
          
//           .buttons_div{
//               text-align: right;
//           }
//       }

.uploadCard{
  background: #fff;
  width: 100%;
  padding: 10px;
  margin: auto;
  margin-top: 10px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.centerAlign{
  width: 100%;
  text-align: center;
}
.rightMargin{
  margin: auto;
  margin-right: 15px;
}

.inputDnD {
  // height: 14em;
  .form-control-file {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 6em;
    outline: none;
    visibility: hidden;
    cursor: pointer;
    background-color: #c61c23;
    box-shadow: 0 0 5px solid currentColor;
    &::before {
      color: #ed462f;
      content: attr(data-title);
      position: absolute;
      left: 0;
      width: 100%;
      height: 6em;
      line-height: 5.5em;
      opacity: 1;
      visibility: visible;
      text-align: center;
      border: 0.15em dashed #9ea4a5;
      -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
      transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
      overflow: hidden;
  }
  &::hover {
    &:before {
      border-style: solid #076ba1;
      /*box-shadow: inset 0px 0px 0px 0.25em currentColor;*/
    }
  }
}
}

        .content_width{
          width: 95%;
          margin: 0 auto;
        }
        .top_header_container{
          background: #fff;
          position: sticky;
          top: 4.75rem;
          z-index: 1020;
          .top_header_div_sticky{
              background: #fff;
              display: grid;
              grid-template-columns: 1fr 1fr; 
              height: 50px;
              align-items: center;
              .page_title{
                  text-align: left;
                  h4{
                      margin: 0;
                  }
              }
              // .filter_div{
              //     // display: grid;
              //     // grid-template-columns: 1fr 1fr;
              //     // grid-column-gap: 10px;
              //     align-items: center;
              //     .drop_down{
              //         border: 1px solid $border_color;
              //         .drop_down_select{
              //             height: 30px;
              //             border: none;
              //             box-shadow: none;
              //         }
              //     }
      
              //     .search_div{
              //         display: grid;
              //         grid-template-columns: auto 20px;
              //         border: 1px solid $border_color;
              //         .search_field{
              //             height: 30px;
              //             border: none !important;
              //             box-shadow: none;
              //         }
              //         .remove_icon{
              //             line-height: 30px;
              //         }
              //     }
              }
              
              .buttons_div{
                  text-align: right;
              }
          }


      //kv
    .mr20{
      margin-left: 20px;
    }


    .headerCard{
    display:inline-block;
    // display: inline-flex;
    // display: inherit;
    width:100%;
    }

    .padding0{
    padding: 0;
    }

    .row12{
    width: 100%;
    margin: auto;
    }

    .mgbot {
    margin-bottom: 20px;
    }

    .innercollapse {
      padding: 16px 4px 0px;
      color: #666666;
    }

    .cardTitle {
    background: #076ba1;
    color: #ffff !important;
    padding: 10px;
    margin-bottom: 0;
    margin-top: 0;
    width: 100%;
    }

    .wrapit{
      margin: 15px;
      background: #fff;
      //margin-top: 65px;
      padding: 20px;
    }

    .certTitleLabel{
      font-size: 15.75px;
      font-weight: 600;
    }

    .AccPointer{
      cursor: pointer;
    }

    .alignright{
      margin: 10px;
      text-align: right;
    }


    [data-toggle="collapse"] i:before{
      content: "\f139";
    }

    [data-toggle="collapse"].collapsed i:before{
      content: "\f13a";
    }


    .noWeight{
      font-weight: unset;
    }

    .formrow{
      width: 100%;
      margin: auto;
    }

    .table-editable{
      width: 100%;
      margin: 15px;
      color: #666666;;
    }

    .form-control{
    box-shadow: none ;
    }

    table{
      background: #fff;
    }

    .custom-control{

      &.material-checkbox{
        --color: #26a69a;

        .material-control-input{
          display: none;
          &:checked~.material-control-indicator{
            border-color: var(--color);
            transform: rotateZ(45deg) translate(1px, -5px);
            width: 10px;
            border-top: 0px solid #fff;
            border-left: 0px solid #fff;
          }
        }
        .material-control-indicator{
          display: inline-block;
          position: absolute;
          top: 4px;
          left: 0;
          width: 16px;
          height: 16px;
          border: 2px solid #aaa;
          transition: .3s;
        }
      }
    }

    .divcalicon{
      width: 35px;
      background: #2795d0;
      display: flex;
      align-items: center;
      justify-content: center;
      }

      .calfont{
          font-size: 20px;
        /* padding: 10px 10px; */
        //color: bv#fff;
        color: #fff;
        // margin-left: 8px;
    }


.dropdown-height{
  height: 34px ;
}

// .reqFieldActivity{
//   display: inline;
//   color: #ed462f  ;
//   }

  .flexInput{
    display: flex;
  }

  .widcl{
    width: 150px;
  }

 
 }