<div class="add_edit_participants">
    <!-- <div class="top_header_container">
        <div class="top_header_div_sticky content_width">
          <div class="page_title">
            <h4 *ngIf="addAction">Add Participant</h4>
            <h4 *ngIf="!addAction">Edit Participant</h4>
          </div>
  
          <div class="buttons_div">
   <button type="submit" class="constantbtn-button-blue-left" (click)='submit(userData)'[disabled]="!f.form.valid">Save</button>

              <button class="back_button"  (click)="gotoBack()" >Back</button>
          </div>
        </div>
    </div> -->

    <!-- <app-subheader [headerConfig]="header"  (btntwo) = "submit(userData)"  (backClick) = "gotoBack()"></app-subheader> -->

    <app-subheader [headerConfig]="header" [isSave]="f.valid" (btnone)="submit(userData)" (backClick)="gotoBack()"></app-subheader>

    <div class="wrapit">
        <div class="card cardForm mgbot">
            <div class="card-body certCardBody1 padding0">
                <div class="headerCard">
                    <h5 class="cardTitle card-title certTitle">
                        <div class="AccPointer">Nominee Details</div>
                    </h5>
                </div>
                <div>

                    <form #f="ngForm" class="innercollapse">
                        <div class="row row12">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class='noWeight' for="exampleInputPassword4">{{helpContent?.add_edit_participant?.select_employee?.label}} 
                                  <sup class="reqFieldActivity">*</sup>
                                  <div class="help-tooltip">
                                    <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                                    <div class="help-tooltip-position-right">
                                      <p>{{helpContent?.add_edit_participant?.select_employee?.labelHelpContent}}</p>
                                      <i></i>
                                    </div>
                                  </div>
                                </label>
                                    <!-- <label class='noWeight' for="exampleInputPassword4">Select Employee
                              <sup class="reqFieldActivity">*</sup> 
                            </label> -->

                                    <angular2-multiselect class="form-control" id="exampleInputPassword4" [data]="allEmployeeAutoDrop" [(ngModel)]="selectedCreator" [settings]="settingsCreatorDrop" (onSelect)="onCreatorSelect($event)" (onDeSelect)="OnCreatorDeSelect($event)" name="selectedCreator">

                                        <c-search>
                                            <ng-template>
                                                <input type="text" [disabled]="disable" (keyup)="onCreatorSearch($event)" placeholder="Search & select {{currentBrandData.employee}}..." style="border: none;width: 100%; height: 100%;outline: none;" />
                                            </ng-template>
                                        </c-search>
                                        <c-item>
                                            <ng-template let-item="item">
                                                <label class="multiselect-label widcl">{{item.empCode}}</label>
                                                <label class="multiselect-label">{{item.empName}}</label>
                                            </ng-template>
                                        </c-item>
                                    </angular2-multiselect>
                                    <span></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <!-- <label class='noWeight'>{{helpContent?.add_edit_participant?.business?.label}} 
                                  <div class="help-tooltip">
                                    <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                                    <div class="help-tooltip-position-right">
                                      <p>{{helpContent?.add_edit_participant?.business?.labelHelpContent}}</p>
                                      <i></i>
                                    </div>
                                  </div>
                                </label> -->
                                    <label class='noWeight'>Business</label>
                                    <input type="text" class="form-control commonInput" [(ngModel)]="userData.business" disabled name="business" />

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <!-- <label class='noWeight'>{{helpContent?.add_edit_participant?.department?.label}} 
                                  <div class="help-tooltip">
                                    <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                                    <div class="help-tooltip-position-right">
                                      <p>{{helpContent?.add_edit_participant?.department?.labelHelpContent}}</p>
                                      <i></i>
                                    </div>
                                  </div>
                                </label> -->


                                    <label class='noWeight'>Department</label>
                                    <input type="text" name="department" class="form-control commonInput" [(ngModel)]="userData.department" disabled/>

                                </div>
                            </div>
                        </div>


                        <div class="row row12">
                            <div class="col-md-4">

                                <div class="form-group">
                                    <label class='noWeight'>{{helpContent?.add_edit_participant?.date?.label}} 
                                <sup class="reqFieldActivity">*</sup>
                                  <div class="help-tooltip">
                                    <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                                    <div class="help-tooltip-position-right">
                                      <p>{{helpContent?.add_edit_participant?.date?.labelHelpContent}}</p>
                                      <i></i>
                                    </div>
                                  </div>
                                </label>

                                    <!-- <label class="noWeight">Date <sup class="reqFieldActivity">*</sup></label> -->
                                    <div class="flexInput">

                                        <input [owlDateTime]="dt22" placeholder="Nomination Date" [owlDateTimeTrigger]="dt22" class="form-control dateinput commonInput" [(ngModel)]="userData.date" name="date" class="form-control dateinput" required/>
                                        <div class="divcalicon" [owlDateTimeTrigger]="dt22">
                                            <i class="fa fa-calendar calfont"></i>
                                        </div>
                                        <owl-date-time [pickerType]="'calendar'" #dt22></owl-date-time>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="flexInput">
                          <input [owlDateTime]="dt22" placeholder="Inception Date" [owlDateTimeTrigger]="dt22"  class="form-control dateinput"
                          [(ngModel)]="reviewFormData.incDate" [ngClass]="{ 'is-invalid': submitted && incepDate.errors }" #incepDate="ngModel" required
                            name="inception" />
                          <div class="divcalicon" [owlDateTimeTrigger]="dt22">
                            <i class="fa fa-calendar calfont"></i>
                          </div>
                          <owl-date-time [pickerType]="'calendar'" #dt22></owl-date-time>
                        </div> -->
                            <div class="col-md-4">
                                <div class="form-group">
                                    <!-- <label class='noWeight'>{{helpContent?.add_edit_participant?.location?.label}} 
                                <div class="help-tooltip">
                                  <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                                  <div class="help-tooltip-position-right">
                                    <p>{{helpContent?.add_edit_participant?.location?.labelHelpContent}}</p>
                                    <i></i>
                                  </div>
                                </div>
                              </label> -->
                                    <label class='noWeight'>Location</label>
                                    <input type="text" class="form-control commonInput" name="location" [(ngModel)]="userData.location" disabled/>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <!-- <label class='noWeight'>{{helpContent?.add_edit_participant?.zone?.label}} 
                                <div class="help-tooltip">
                                  <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                                  <div class="help-tooltip-position-right">
                                    <p>{{helpContent?.add_edit_participant?.zone?.labelHelpContent}}</p>
                                    <i></i>
                                  </div>
                                </div>
                              </label> -->

                                    <label class='noWeight'>Zone</label>
                                    <input type="text" class="form-control commonInput" [(ngModel)]="userData.zone" name="zone" disabled/>

                                </div>
                            </div>

                            <div class="col-md-4">
                                <label class='noWeight'>{{helpContent?.add_edit_participant?.partner?.label}} 
                              <sup class="reqFieldActivity">*</sup>
                                <div class="help-tooltip">
                                  <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                                  <div class="help-tooltip-position-right">
                                    <p>{{helpContent?.add_edit_participant?.partner?.labelHelpContent}}</p>
                                    <i></i>
                                  </div>
                                </div>
                              </label>

                                <!-- <label class = 'noWeight' for="partner">Partner
                            <sup class="reqFieldActivity">*</sup> 
                          </label> -->
                                <select class="custom-select commonSelect" name="partner" #partner="ngModel" [ngClass]="{ 'is-invalid': submitted && partner.errors }" [(ngModel)]="userData.partner" required>
                            <option value='' selected disabled>Select Partner</option>
                            <option *ngFor="let part of partners" value="{{ part.partnerId }}">{{ part.partnerName }}</option>
                          </select>
                                <div *ngIf="submitted && partner.errors" class="alert alert-danger custom-alert">
                                    <div *ngIf="partner.hasError('required')">partner is required</div>
                                </div>
                            </div>


                        </div>
                        <br/>

                        <!-- <div class="row row12">
                        <div class="col-md-12">
                          <div class="form-group">


                            <label class="noWeight" for="inputFile">Pre-Assessment</label>
                            <div class="uploadCard">
                              <div class="form-group inputDnD">
                                  
                                  <input type="file"
                                         title="{{selected ? 'No file chosen.' : ' '}}"
                                         #fileUpload
                                         class="form-control-file text-success font-weight-bold"   
                                         id="inputFile"
                                          
                                         name="file[]"
                                         accept="application/pdf" 
                                         [(ngModel)]="userData.preAssessRef"
                                         (change)="readFileUrl($event)" 
                                         attr.data-title="{{fileName}}">
                              </div>
                          </div>
                          </div>  
                        </div>

                      </div> -->


                    </form>


                    <!-- <form (ngSubmit)="onSubmit(f)" #f="ngForm">
                        <div id="user-data" >
                          <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text"
                              id="username"
                              class="form-control"
                              ngModel
                              name="username"
                              required>
                          </div>
                          <button class="btn btn-default" type="button">Suggest an Username</button>
                          <div class="form-group">
                            <label for="email">Mail</label>
                            <input type="email"
                              id="email"
                              class="form-control"
                              ngModel
                              name="email"
                              required
                              email
                              #email="ngModel">
                              <span class="help-block" *ngIf="!email.valid && email.touched">Please enter valid Email.</span>
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="secret">Secret Questions</label>
                          <select id="secret"
                           class="form-control"
                           ngModel
                           name="secret">
                            <option value="pet">Your first Pet?</option>
                            <option value="teacher">Your first teacher?</option>
                          </select>
                        </div>
                        <button class="btn btn-primary" type="submit" [disabled]="f.invalid">Save</button>
                    </form> -->
                </div>
            </div>
        </div>

        <!-- <div class="card cardForm mgbot">
              <div class="card-body certCardBody1 padding0">
                <div class="headerCard">
                  <h5 class="cardTitle card-title certTitle">
                    <div class="AccPointer">Nominee Assessment</div>
                  </h5> 
                </div>
                  <div>          
                      <div class="row row12">
                        <div *ngIf="!userData.preAssessRef" class="col-md-12 AssessDown">
                                 <input type='file' id="imageUpload" accept="pdf" (change)="readFileUrl($event)" />
                                    <label for="imageUpload" title="Change Thumbnail"></label>
                        </div>
                        <div *ngIf="userData.preAssessRef" class="col-md-12 AssessDown">
                          <a href="{{userData.preAssessRef}}" download>
                              <div>{{userData.assessDoc}} <button class="constantbtn">Download</button> </div>
                          </a>
                              
                      </div>
                      </div>
                  </div>
                </div>
          </div> -->


        <!-- upload file -->




        <!-- <div class="card cardForm certCardForm">
              <div class="card-body certCardBody1 padding0">
                <div class="headerCard">
                  <h5 class="cardTitle card-title certTitle">
                    <div class="AccPointer" data-toggle="collapse" data-target="#collapse2" aria-controls="collapse2">Assessment Table</div>
                  </h5> 
                </div>
                  <div id="collapse2" class="collapse" aria-labelledby="collapse2" data-parent="#accordionExample">
                
        
                <div class="row formrow">
                  <div id="table" class="table-editable">
                    <table class="table table-bordered table-responsive-md table-striped text-center">
                      <thead>
                        <tr>
                          <th class="text-center">Attribute</th>
                          <th class="text-center">Skills</th>
                          <th class="text-center">Description</th>
                          <th class="text-center">
                          </th>
                        </tr>
                      </thead>
                      <tbody *ngFor="let person of personList; let id = index">
                        <tr style="background: #fff !important;">
                          <td [attr.rowspan]="person.skill.length+1" contenteditable="false">{{person.name}}</td>
                          <td contenteditable="false">{{person.skill[0].name}}</td>
                          <td contenteditable="false">{{person.skill[0].desc}}</td>
                          <td>
                            <div class="custom-controls-stacked d-block">
                                            <label class="custom-control material-checkbox" for="{{person.name}}_0">
                                              <input type="checkbox" class="material-control-input" id="{{person.name}}_0">
                                            
                                                <span style="margin-left: 35%;top: 2px;" class="material-control-indicator"></span>
                                          
                                            </label>
                                          </div>
                          </td>
                        </tr>
                        <tr *ngFor="let skills of person.skill; let id1 = index" style="background: #fff !important">
                          <ng-container *ngIf='id1>0'>
                            <td contenteditable="false">{{skills.name}}</td>
                              <td contenteditable="false">{{skills.desc}}</td>
                              <td>
                                <div class="custom-controls-stacked d-block">
                                                <label class="custom-control material-checkbox" for="{{person.name}}_{{id1}}">
                                                  <input type="checkbox" class="material-control-input" id="{{person.name}}_{{id1}}">
                                                  <span style="margin-left: 35%;top: 2px;" class="material-control-indicator"></span>
                                                </label>
                                              </div>
                              </td>
                            </ng-container>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
        
              </div>
            </div>
        </div> -->
    </div>
</div>





<!-- template driven form -->


<!-- <form (ngSubmit)="onSubmit(f)" #f="ngForm" class="innercollapse">
                          

    <div class="row row12">
        <div class="col-md-4">
          <div class="form-group">
            <label class='noWeight' for="exampleInputPassword4">Username</label>

            <angular2-multiselect  id="exampleInputPassword4" [data]="usersList" [(ngModel)]="selectedCreator" [settings]="settingsCreatorDrop" (onSelect)="onCreatorSelect($event)" (onDeSelect)="OnCreatorDeSelect($event)" name="selectedCreator">
                <c-search>
                    <ng-template>
                        <input type="text" class="form-control" name="userName" (keyup)="onCreatorSearch($event)" placeholder="Search users..." style="border: none;width: 100%; height: 100%;outline: none;"   [(ngModel)]= "userName"
                        #username="ngModel"
                        required/>
                    </ng-template>
                </c-search>
                <c-item>
                    <ng-template let-item="item">
                        <label style="color: #333;width: 150px;">{{item.empId}}</label>
                        <img [src]="item.flag" style="width: 30px; border: 1px solid #efefef;margin-right: 0px;" /> 
                        <label>{{item.empName}}</label>
                    </ng-template>
                </c-item>
            </angular2-multiselect>
            <span></span>
          </div>
        </div>



        <div class="col-md-4">
            <div class="form-group">
                  <label class='noWeight'>Business</label>
                  <input type="text"  class="form-control" [(ngModel)]="userData.business"  disabled/>
                  
              </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
                  <label class='noWeight'>Department</label>
                  <input type="text" formControlName="department" class="form-control" [(ngModel)]="userData.department"  disabled/>
                  
              </div>
          </div>
        </div>
        <div class="row row12">
          <div class="col-md-4">
           
              <div class="form-group">
                  <label class='noWeight'>Date</label>
                <div class="fullwiddth">
                    <input [owlDateTime]="dt22" placeholder="Nomination Date"  class="form-control" [(ngModel)]="userData.date" class="form-control dateinput" required/>
                    <div class="divcalicon" [owlDateTimeTrigger]="dt22"><i class="fa fa-calendar calfont"></i>
                    </div>
                    <owl-date-time [pickerType]="'calendar'" #dt22></owl-date-time>
                </div>
              </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
                  <label class='noWeight'>Location</label>
                  <input type="text" class="form-control" [(ngModel)]="userData.location"  disabled/>
                  
              </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
                  <label class='noWeight'>Zone</label>
                  <input type="text"  class="form-control" [(ngModel)]="userData.zone"  disabled/>
                  
              </div>
          </div>
        </div>
  
</form> -->