<app-enrollment [config]="config"  (sendEventToParent)="performActionOnData($event)"></app-enrollment>
<div class="addRuleBackdrop" *ngIf="showaddenrolModal == true">
    <div class="addRuleDemoModal">
        <div class="modal-header">
            <p>User Enrollment</p>
            <button class="close" aria-label="Close" (click)="closeenrol()">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
            <form class="forms-sample col-md-12" #enroluserForm="ngForm">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label class="left_space commonLabel" for="dropRuleType">Enrol by</label>
                        <select id="dropRuleType" class="custom-select commonSelect" (change)="TypeSelected($event,i,ruleField, type)" [(ngModel)]="enroluserData.rntype" name="type" #type="ngModel" required>
                        <option value="" selected disabled>Select</option>
                        <option *ngFor="let type of enroluserDataType" value={{type.TypeId}}>{{type.TypeName}}</option>
                    </select>
                    </div>
                    <div class="form-group col-md-6" *ngIf="enroluserData.rntype ==  2">
                        <label class="commonLabel" class="left_space" for="rnDate"> Enrol Date </label>
                        <!-- [minDate]="minDate" -->
                        <input type="text" class="form-control datePickerInput commonInput" [minDate]="nextDay" [maxDate]="maxDate" id="rnDate" [(ngModel)]="enroluserData.rnDate" name="rnDate" #dp="bsDatepicker" bsDatepicker [bsConfig]="{ containerClass: 'theme-dark-blue',dateInputFormat: 'DD-MM-YYYY' }"
                            placement="bottom">
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer text-right">
            <button type="button" class="constantbtn-button-blue-left" [disabled]="!enroluserForm.valid" (click)="manEnrolUser()" id="editbtn">Save</button>
        </div>
    </div>
</div>