// sidebar
@import '../../@theme/styles/variable.scss';
.buttonClick {
    position: fixed;
    right: 0;
    border: none;
    padding: 12px;
    top: 35%;
    // background: #076ba1;
    background: var(--colorCommon);
    color: #FFF;
    border-radius: 4px;
    font-size: 23px;
    // box-shadow: 0px 0px 15px 0px #aaa;
    z-index: 1;
}

#Hide {
    position: absolute;
    height: 100%;
    width: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
    top: 0;
    left: 0;
    // display: none;
}

.opensidebar {
    width: 134px;
}

.sidenav {
    // height: 100%;
    // width: 0;
    position: fixed;
    // overflow: scroll;
    z-index: 2;
    top: 69px;
    height: 88%;
    right: 16px;
    z-index: 1100;
    background-color: #fff;
    // overflow-x: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    padding-top: 44px;
    -webkit-box-shadow: 0px 0px 15px 0px #aaa;
    box-shadow: 0px 0px 15px 0px #aaa;
    .icon {
        font-size: 38px;
        border: 1px solid #c1c5ca;
        padding: 18px;
        background: #ffffff;
        border-radius: 5px;
        color: #507bfc;
        margin-bottom: 5px;
    }
}

.sidenav p {
    cursor: pointer;
    padding: 8px 19px 0px 24px;
    text-decoration: none;
    font-size: 14px;
    color: #818181;
    display: block;
    transition: 0.3s;
    text-align: center;
    label {
        font-size: 12px;
        text-align: center;
        width: 100%;
        margin-bottom: 0px;
    }
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 21px;
    margin-left: 17px;
    margin-top: 6px;
}

.sidenav-popup {
    // height: 100%;
    width: 0;
    position: fixed;
    // overflow: scroll;
    z-index: 2;
    top: 69px;
    height: 88%;
    right: 0px;
    z-index: 1100;
    background-color: #fff;
    // overflow-x: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    padding-top: 44px;
    // -webkit-box-shadow: 0px 0px 15px 0px #aaa;
    // box-shadow: 0px 0px 15px 0px #aaa;
    // .icon {
    //   font-size: 38px;
    //   border: 1px solid #c1c5ca;
    //   padding: 18px;
    //   background: #ffffff;
    //   border-radius: 5px;
    //   color: #507bfc;
    //   margin-bottom: 5px;
    // }
}

.sidenav-popup .closebtn {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 21px;
    margin-left: 17px;
    margin-top: 6px;
}