
<button (click)="openNav()" class="buttonClick" ><i class="fa fa-tags"></i></button>
<div id="mySidenav" class="sidenav-popup" >
  <span class="closebtn" (click)="closeNav()" ><i class="fa fa-arrow-right"></i></span>
  <ng-content ></ng-content>

</div>

