<div class="attribute_skills">
        <div class="toprow col-md-12 bottom15 sticky-top">
                <div class="col-md-9 teamSubdiv2" >
                  <h3 class="heding1">Attribute Skills</h3>
                </div>
                <div class="col-md-3 text-right" style="margin-top:7px">     
                  <button class="constantbtn-button-blue-left" (click)="gotoAddEdit()"><i class="ion-plus-round plusIcon"></i> Attributes</button>         
                  <button class="back_button" (click)="gotoBack()">Back</button> 
                </div>
        </div>
        <div class="container">
                    <ngx-datatable
                        #myTable
                        style="width:100%"
                        class='material expandable'
                        [columnMode]="'force'"
                        [headerHeight]="50"
                        [footerHeight]="50"
                        [rowHeight]="50"
                        [rows]='rows'
                    >
                       <ngx-datatable-column
                        [width]="30"
                        [sortable]="false"
                        [canAutoResize]="false"
                        [draggable]="false"
                        [resizeable]="false"
                        [headerCheckboxable]="true"
                        [checkboxable]="true">
                      </ngx-datatable-column>
                            <ngx-datatable-column name="BUSINESS">
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    <div>
                                    {{row.business}}
                                    </div>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="DEPARTMENT">
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    <div>
                                    {{row.dept}}
                                    </div>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="SUB-DEPARTMENT">
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    <div>
                                    {{row.subdept}}
                                    </div>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="BANDS">
                              <ng-template let-row="row" ngx-datatable-cell-template>
                                    <div>
                                    {{row.bands}}
                                    </div>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column
                                [width]="50"
                                [resizeable]="false"
                                [sortable]="false"
                                [draggable]="false"
                                [canAutoResize]="false">
                                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex">
                                    <div (click)="editAttSkills(rowIndex,1)">
                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                    </div>
                                </ng-template>
                            </ngx-datatable-column>
                        </ngx-datatable>
                
        </div>

</div>

