.attribute_skills{


.bottom15{
    margin-bottom: 15px;
  }

  .teamSubdiv2 {
    float: left;
  }

  .floatingbtn{
    margin: auto;
    padding: 0;
    text-align: right;
  }

  .heding1{
    line-height: 50px;
    margin: auto;
  }

  .ngx-datatable.fixed-header .datatable-header .datatable-header-inner .datatable-header-cell {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
  }
  
  .ngx-datatable.material .datatable-body .datatable-body-row{
    border-bottom: 1px solid #e0e0e0;
  }
  
  .ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell {
    text-align: center;
  }

  .mr10{
      margin-right: 20px;
  }

  .plusIcon{
    margin-right: 8px;
  }
    
}