<div class="dam-section" [ngClass]="(view == false) ? 'd-grid' : 'd-flex view' ">
    <div class="dam-folders position-relative">
        <div class="storage p-2">
            <label class="d-block m-0">85% storage full</label>
            <span>
                <i class="fas fa-server"></i>
                10 GB of 20 GB used
            </span>
        </div>
        <div class="tree-folder">
            <div *ngFor="let item of damTabs">
                <label class="m-0 pl-2 py-1 cursor-p d-flex align-items-center" (click)="showFolder(item)">
                    <i *ngIf="!item.expand" class="fas fa-caret-right pr-2"></i>
                    <i *ngIf="item.expand" class="fas fa-sort-down pr-2"></i>
                    {{ item.name }}
                </label>
                <app-tree *ngIf="item.expand" [trees]="tree"></app-tree>
            </div>
        </div>
    </div>
    <div class="dam-content p-2">
        <label class="label-name">Folders</label>
        <div class="dam-content--folders">
            <div class="folders-section cursor-p p-2" *ngFor="let item of folder;let i = index;"
                (dblclick)="doubleClick(item)" (click)="singleClick(item)" [contextMenu]="basicMenu"
                [contextMenuSubject]="item">
                <div class="folder d-flex align-items-center" [ngClass]="{'active-folder': activeFolder}">
                    <span class="folder--icon">
                        <svg x="0px" y="0px" focusable="false" viewBox="0 0 24 24" height="24px" width="24px"
                            fill="#5f6368">
                            <g>
                                <path
                                    d="M10 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V8c0-1.1-.9-2-2-2h-8l-2-2z">
                                </path>
                                <path d="M0 0h24v24H0z" fill="none"></path>
                            </g>
                        </svg>
                    </span>
                    <span class="folder--text">{{ item.name }}</span>
                </div>
            </div>
            <!-- <div class="menu">
                <context-menu #basicMenu>
                    <ng-template *ngFor="let list of context" contextMenuItem (execute)="rightClick($event)">
                        <span class="menu-list pl-3 py-2">
                            <i class="{{list.icon}}"></i>
                            {{ list.name }}
                        </span>
                    </ng-template>
                </context-menu>
            </div> -->
        </div>

        <label class="label-name">Files</label>
        <div class="dam-content--files">
            <div class="file-section p-2" *ngFor="let item of folder;let i = index;">
                <div class="file position-relative">
                    <div class="file--img position-absolute">
                        <i class="fa fa-file"></i>
                    </div>
                    <div class="inner-file position-absolute d-flex align-items-center">
                        <span class="file--icon"><i class="fa fa-file"></i></span>
                        <span class="file--text">{{ item.name }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="view-section d-none" [ngClass]="{ 'd-block': view }">
        <div class="icon-folder position-relative">
            <span class="icon-folder--icon d-inline-block">
                <i class="fa fa-folder"></i>
            </span>
            <span class="icon-folder--name d-inline-block" title="Folder name & file name">
                Folder name & file name
            </span>
            <span class="icon-folder--close position-absolute text-center cursor-p">
                <svg class="a-qd-va undefined" x="0px" y="0px" width="14px" height="14px" viewBox="0 0 10 10"
                    focusable="false" fill="#000000">
                    <polygon class="a-s-fa-Ha-pa"
                        points="10,1.01 8.99,0 5,3.99 1.01,0 0,1.01 3.99,5 0,8.99 1.01,10 5,6.01 8.99,10 10,8.99 6.01,5 ">
                    </polygon>
                </svg>
            </span>
        </div>
        <!-- tabs section -->
        <div class="tabs" *ngIf="!fileFolder">
            <div class="inner-tabs px-2 d-flex justify-content-around">
                <div class="tab text-center position-relative" [ngClass]="{ 'activeTab': activeTab }"
                    (click)="tabActive()" *ngFor="let item of details">
                    {{ item.name }}
                    <span class="position-absolute"></span>
                </div>
            </div>
        </div>
        <div class="view-folder" [ngClass]="{'no-tabs': fileFolder}">
            <!-- ṃessage section -->
            <!-- <div class="message text-center  p-4">
                <label class="d-block">
                    <i class="far fa-folder fa-5x"></i>
                </label>
                <label>Select a file or folder to view its details</label>
            </div> -->
            <div class="view-edit px-3">
                <!-- folder section -->
                <div class="folder-file" *ngIf="fileFolder">
                    <div class="image-section">
                        <img src="../../../assets/card.jpg" alt="folder image">
                    </div>
                    <div class="action-btn pb-1 text-center">
                        <button class="commonBtn">
                            <i class="far fa-trash-alt"></i>Delete
                        </button>
                        <button class="commonBtn">
                            <i class="fa fa-home"></i>Browse
                        </button>
                    </div>
                    <div class="add-edit">
                        <div class="form-group mb-1">
                            <label class="side-form-label">Folder Name <sup>&#x2731;</sup>
                                <!-- <app-info-tooltip [description]="infoDescri"></app-info-tooltip> -->
                            </label>
                            <input type="email" class="form-control commonInput" [ngClass]="{'invalid-form': valid}"
                                placeholder="Enter Folder Name">
                            <small class="invalid-msg" *ngIf="valid">Lorem Ipsum is simply dummy text</small>
                        </div>
                        <div class="form-group">
                            <label class="side-form-label commonInput">Description </label>
                            <textarea class="form-control" placeholder="Enter Description" rows="3"></textarea>
                        </div>
                    </div>
                </div>
                <!-- file section -->
                <div class="asset-file" *ngIf="!fileFolder">
                    <div class="preview-section">
                        <!-- <div class="image-section">
                            <img src="../../../assets/card.jpg" alt="folder image">
                        </div> -->
                        <!-- <div class="video-section">
                            <video src="../../../assets/SampleVideo_1mb.mp4"></video>
                        </div> -->
                        <div class="choose cursor-p position-relative d-flex align-items-center justify-content-center">
                            Select a file 
                            <input type="file" class="position-absolute">
                        </div>
                        <div class="action-btn pb-1 text-center">
                            <button class="commonBtn">
                                <i class="far fa-eye-slash"></i>Disable
                            </button>
                            <button class="commonBtn">
                                <i class="fas fa-copy"></i>Version
                            </button>
                            <button class="commonBtn">
                                <i class="fas fa-download"></i>Download
                            </button>
                            <button class="commonBtn">
                                Browse
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>