@mixin folder {
  color: #000000b8;
  border-radius: 4px;
  letter-spacing: 0.1px;
  border: 1px solid #d1d1d1;
  // display: flex;
  // align-items: center;
  &--icon {
    padding: 8px 12px;
  }
  &--text {
    font-size: 13px;
    font-weight: 500;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: calc(100% - 58px);
    // width: 60%;
    text-transform: capitalize;
  }
}
@mixin image-video {
  margin: 12px auto;
  img,
  video {
    width: 100%;
    height: 100%;
  }
}
.d-grid {
  display: grid;
}
.label-name {
  font-size: 13px;
  padding: 0 10px;
  font-weight: 500;
  color: #5f6368;
}
.dam-section {
  // grid-template-columns: 200px 1fr;
  grid-template-columns: 230px 1fr;
  .dam-folders {
    // flex: 1 1 235px;
    flex: 1 1 237px;
    color: #000000b8;
    background: #ffffff;
    label {
      font-weight: 500;
    }
    .storage {
      top: 0;
      z-index: 1;
      position: sticky;
      background: #ffffff;
      border-top: 1px solid #d1d1d1;
      border-bottom: 1px solid #d1d1d1;
      span {
        font-size: 12px;
      }
    }
    .tree-folder {
      top: 66px;
      overflow-y: auto;
      position: sticky;
      height: calc(100vh - 11.4rem);
      label {
        font-size: 14px;
        &:hover {
          background: #f2f2f2;
        }
        i {
          font-size: 11px;
        }
      }
    }
  }
  .dam-content {
    background: #ffffff;
    border-top: 1px solid #d1d1d1;
    border-left: 1px solid #d1d1d1;
    &--folders {
      display: grid;
      // grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: repeat(auto-fit, minmax(21%, 1fr));
      .folders-section {
        .folder {
          @include folder;
        }
      }
      .active-folder {
        background: #e1ebf4;
      }
    }
    &--files {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(21%, 1fr));
      .file-section {
        .file {
          @include folder;
          min-height: 220px;
          &--img {
            left: 50%;
            top: 42%;
            font-size: 60px;
            transform: translate(-50%, -50%);
          }
          .inner-file {
            bottom: 0;
            width: 100%;
          }
        }
      }
    }
  }

  .view-section {
    top: 0;
    flex: 1 1 390px;
    position: sticky;
    background: #ffffff;
    height: calc(100vh - 7rem);
    border-top: 1px solid #d1d1d1;
    border-left: 1px solid #d1d1d1;
    .icon-folder {
      padding: 12px;
      &--icon {
        color: #5f6368;
        font-size: 20px;
        margin-right: 12px;
      }
      &--name {
        font-size: 22px;
        line-height: 1.2;
        color: #202124;
        vertical-align: top;
        width: calc(100% - 65px);
      }
      &--close {
        top: 10px;
        right: 10px;
        width: 24px;
        opacity: 0.5;
      }
    }
    .tabs {
      .inner-tabs {
        border-bottom: 1px solid #d1d1d1;
        .tab {
          width: 100%;
          padding: 12px;
          margin: 0 12px;
          font-size: 14px;
          cursor: pointer;
          color: #000000b8;
          span {
            left: 0;
            bottom: 0;
            width: 100%;
            height: 3px;
            display: none;
            border-width: 3px;
            background: #f44336;
          }
        }
        .activeTab {
          cursor: default;
          color: #f44336;
          span {
            display: block;
          }
        }
      }
    }
    .view-folder {
      overflow-y: auto;
      height: calc(100vh - 15rem);
      .view-edit {
        .folder-file {
        }
        .image-section {
          @include image-video;
          width: 70%;
        }
        .video-section {
          @include image-video;
        }
        .choose {
          height: 150px;
          margin: 12px auto;
          border: 1px dashed #000000b8;
          input {
            width: 100%;
            height: 100%;
            visibility: hidden;
          }
        }
        .action-btn {
          .commonBtn {
            font-size: 11px;
          }
          button {
            i {
              padding-right: 4px;
            }
          }
        }
      }
      .message {
        color: #a3a3a3;
      }
    }
    .no-tabs {
      height: calc(100vh - 12rem);
      border-top: 1px solid #d1d1d1;
    }
  }
}

:host {
  // .menu {
  .menu-list {
    color: #000000b8;
    padding-left: 6px;
    i {
      width: 30px;
      text-align: center;
    }
  }
  // }

  context-menu .dropdown .dropdown-menu a {
    color: #000000b8;
    padding-left: 6px;
  }
  .dropdown {
    .dropdown-menu {
      a {
        color: #202124;
      }
    }
  }
}

.view {
  .dam-content {
    flex: 1 1 50%;
    &--folders,
    &--files {
      grid-template-columns: 1fr 1fr;
    }
  }
}
