@import '../../../../@theme/styles/variable.scss';
.calenderIcon {
    font-size: 21px;
}

.floateright {
    background-color: #fff;
    //  z-index: 0  ;
}

.calenderBtnDiv {
    padding: 24.5px 0px 0px 15px;
}

.ngx-datatable.material .empty-row {
    margin: 10px;
    text-align: center;
    border-radius: 15px;
    border: 1px solid #076ba1;
    padding: 20px;
}

.openDatepicker {
    // color: #ffffff;
    // text-transform: uppercase;
    // letter-spacing: 0.4px;
    // font-weight: 500;
    // font-family: Poppins;
    // border: 2px solid transparent;
    // -webkit-transition: none;
    // transition: none;
    // cursor: default;
    // padding: 0.75rem 1.5rem;
    // font-size: 1rem;
    // line-height: 1.25;
    // border-radius: 0.75rem;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 0.4px;
    font-weight: 500;
    font-family: Poppins;
    border: 2px solid transparent;
    -webkit-transition: none;
    transition: none;
    cursor: default;
    // padding: 0.5rem 1.5rem;
    padding: 0rem 0.5rem;
    // background: #076ba1;
    background: var(--colorIcons);
}

.openDatepicker:focus {
    outline: none;
}

.datePickerInput:focus {
    border: 1px solid #dadfe6;
    background-color: #ffffff;
}

.inputText:focus {
    border: 1px solid #dadfe6;
    background-color: #ffffff;
}

.searchInput::placeholder {
    color: #313233bf;
}

.searchInput {
    border: none;
    border-bottom: 1px solid #313233bf;
    background: transparent;
    box-shadow: none;
    border-radius: 0;
}

.searchRemove {
    position: absolute;
    top: 14px;
    right: 15px;
    cursor: pointer;
}

.ngx-datatable.fixed-header .datatable-header .datatable-header-inner .datatable-header-cell {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    // text-align: center;
    font-size: 14px;
    color: black;
}

.ngx-datatable.material {
    background: #FFF;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.ngx-datatable.material .datatable-body .datatable-body-row {
    border-bottom: 0.5px solid #e8dedef0;
}

// .ngx-datatable.bootstrap:not(.cell-selection) .datatable-body-row:hover,
// .ngx-datatable.material:not(.cell-selection) .datatable-body-row:hover .datatable-row-group
// { 
//    background: transparent  ;
// }
.courseRevDis {
    /* pointer-events: none; */
    cursor: not-allowed;
    background-color: #fdfbfbc2;
    // z-index: 1000;
    .checkBoxDiv {
        pointer-events: none;
    }
}

.marginTop14 {
    margin-top: 14px;
}

.formGen,
.manualformGen {
    width: 100%;
    margin: 0 auto;
}

// .formGenCard{
//   padding-left: 25px;
//   // margin-top: 25px;  
// }
.formGenCardCourse {
    padding-left: 10px;
    padding-right: 10px;
}

.formGenCardCourse>.cardForm {
    border: none;
}

.formGenCardGameTab {
    // padding-top: 10px;
}

.cardFormGameTab {
    margin-top: 10px;
}

.enrolCardBody {
    padding: 0;
    // background: #f1f5f8;
}

.formGenCardCourse>.cardForm>.cardBody {
    background-color: #fff;
    border: none;
}

.manualformGenCard,
.ruleBasedformGenCard,
.regulatoryformGenCard,
.selfformGenCard {
    margin-bottom: 0;
    margin-top: 10px;
}

.manualCardForm,
.ruleBasedCardForm,
.regulatoryCardForm,
.selfCardForm {
    cursor: pointer;
    margin-bottom: 0;
}

.manualCardBody,
.ruleBasedCardBody,
.regulatoryCardBody,
.selfCardBody {
    // padding: 15px 15px 0px 15px  ;
    padding: 0.5rem;
}

.headerCard {
    display: inline-block;
    // display: inline-flex;
    // display: inherit;
    width: 100%;
}

.manualTitle,
.ruleTitle,
.regTitle,
.selfTitle {
    float: left;
    margin-bottom: 0;
    font-size: 1.3rem;
    font-weight: 100;
    margin-top: 0;
}

.downArrow {
    color: #ed462f;
}

#right_float {
    float: right;
}

[data-toggle="collapse"] i:before {
    content: "\f139";
}

[data-toggle="collapse"].collapsed i:before {
    content: "\f13a";
}

.expandBtn {
    float: right;
    background: #fff;
    border: none;
}

.expandBtn:hover {
    background: #fff;
    border: none;
    outline: none;
}

.topBorderForm {
    // border-bottom: 1px solid #076ba1;
    // margin-top: 30px;
}

.manualContent {
    // min-height: 100px;
    min-height: 350px;
}

.ruleBasedContent {
    // min-height: 100px;
    min-height: 350px;
}

.regulatoryContent {
    // min-height: 100px;
    min-height: 350px;
}

.selfContent {
    // min-height: 100px;
    min-height: 350px;
}

.pointer {
    margin-bottom: 0px;
}

// .sticky-topcourse {
//     background: #fff;
//     position: sticky;
//     top: 67px;
//     border-bottom: 1px solid #076ba1  ;
//      z-index: 1  ;
// }
// .constantbtn{
//   width: auto  ;
//   padding: 7px  ;
//   background-color: #076ba1  ;
//   text-transform: uppercase  ;
// }
.subMenu {
    width: 100%;
}

.buttons-div {
    position: relative;
}

.inside-button-div {
    position: fixed;
    z-index: 2;
    right: 3%;
    top: 76px;
}

.courseDetailsBtn,
.courseModuleBtn,
.courseEnrolBtn,
.courseEngageBtn,
.courseRewardsBtn {
    border-radius: 0;
    background: #076ba1;
    color: #fff;
    border: #076ba1;
    height: 29px;
    -webkit-transform: none;
    transform: none;
}

.courseDetailsBackBtn,
.courseModuleBackBtn,
.courseEnrolBackBtn,
.courseEngageBackBtn,
.courseRewardsBackBtn {
    margin: 0 10px;
    border-radius: 0;
    background: #076ba1;
    color: #fff;
    border: #076ba1;
    height: 29px;
    color: #ffffff;
    // background-color: #bbc0c3;
    background-image: none;
    border-color: #076ba1;
    -webkit-transform: none;
    transform: none;
}

.constantBackbtn1 {
    width: auto;
    padding: 6px 14px;
    /* background-color: #bbc0c3  ; */
    color: #fff;
    min-width: 90px;
    max-height: 36px;
}

.courseDetailsTab1,
.courseMoudulesTab,
.courseEngageTab,
.courseRewardsTab {
    margin-top: 10px;
    // margin-top: 0  ;
}

.addRulebtn,
.addRegulatorybtn,
.addSelfbtn {
    margin-bottom: 0;
    top: 23px;
    button {
        height: 35px;
    }
}

.styled-select {
    background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
    height: 29px;
    overflow: hidden;
    width: 240px;
}

.styled-select.slate {
    background: url(http://i62.tinypic.com/2e3ybe1.jpg) no-repeat right center;
    height: 34px;
    width: 240px;
}

.styled-select.slate select {
    border: 1px solid #ccc;
    font-size: 16px;
    height: 34px;
    width: 268px;
}

.dropHeight {
    height: 2.5rem;
}

option:disabled {
    background: #dddddd;
    cursor: not-allowed;
    opacity: .65;
}

.mainDrop {
    // margin-left: 366px;
}

.paraRemove {
    /*margin-top: 23px;*/
    /*margin-top: 30px;*/
    /*margin-right: 475px;*/
    cursor: pointer;
    // margin-top: 24px;
}

.inputDrop,
.inputDate,
.inputText,
.inputNumber {
    /* margin-top: 1.3rem; */
    /* width: 144px; */
    /* margin-left: 25px; */
}

.optSubmit {
    /*float: right;*/
    margin-top: 20px;
}

.clearRes {
    float: left;
}

.toDate,
.fromDate {
    width: 144px;
    margin-left: 25px;
}

.dateSelect {
    /*display:inherit;*/
    margin-top: 21px;
    display: inline-flex;
}

.mainDropPara {
    /* width: 175px; */
    /* margin-top: 4px; */
    padding: 0;
}

.mainDropVal {
    margin-top: 1px;
}

.mainDropParaRow {
    display: -webkit-inline-box;
}

.rulesDiv {
    overflow-y: auto;
    max-height: 310px;
    form {
        width: 100%;
    }
}

.mrgbtm {
    margin-bottom: 1rem;
}

.manEnrolSrchDiv {
    margin-bottom: 15px;
}

.manEnrolSearchUsr {
    width: 100%;
    padding: 10px;
}

.deleteUserIcon {
    cursor: pointer;
    color: #f7521e;
    font-size: 15px;
}

.padding0 {
    padding: 0;
}

.addRuleBackdrop,
.addRegulatoryBackdrop,
.addSelfBackdrop {
    // position: absolute;
    // width: 100%;
    // height: 100%;
    // top: 50px;
    // background-color: #404040c2;
    // z-index: 1000;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 67px;
    background-color: #404040c2;
    z-index: 2000;
    box-sizing: border-box;
    .addRuleDemoModal,
    .addRegulatoryDemoModal,
    .addSelfDemoModal {
        /*width: 80%;*/
        // width: 50%;
        // margin: auto;
        // background-color: #fff;
        // margin-top: 50px;
        // border-radius: 5px;
        width: 50%;
        margin: auto;
        background-color: #fff;
        margin-top: 65px;
        border-radius: 5px;
    }
}

.addSelfBackdrop2 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 67px;
    padding: 0;
    background-color: #404040c2;
    z-index: 2000;
    box-sizing: border-box;
}

.addSelfDemoModal2 {
    margin: auto;
    width: 50%;
    background-color: #fff;
    border-radius: 5px;
    margin-top: 2%;
}

.form-control {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #dadfe6;
}

.modal-header {
    background-color: #076ba1;
    height: 55px;
    color: #fff;
}

.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}

.modal-footer {
    height: 55px;
}

.daysInputNo input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.modal-body .row {
    margin: 20px 0;
}

.savebtn {
    background-color: #076ba1;
    border: none;
    padding: 8px;
    color: #fff;
}

.enterDaysDiv {
    display: flex;
}

.enterDaysDiv label {
    padding-top: 8px;
    width: 25%;
}

#enterDays {
    width: 75%;
}


/* The container */

.chkbx {
    display: inline;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    margin-right: 20px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* Hide the browser's default checkbox */

.chkbx input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}


/* Create a custom checkbox */

.checkmark2 {
    position: absolute;
    top: 4px;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #e2dddd;
    border-radius: 5px;
}


/* On mouse-over, add a grey background color */

.chkbx:hover input~.checkmark2 {
    background-color: rgb(196, 182, 182);
}


/* When the checkbox is checked, add a blue background */

.chkbx input:checked~.checkmark2 {
    background-color: #2196F3;
}


/* Create the checkmark22/indicator (hidden when not checked) */

.checkmark2:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the checkmark22 when checked */

.chkbx input:checked~.checkmark2:after {
    display: block;
}


/* Style the checkmark22/indicator */

.chkbx .checkmark2:after {
    left: 4px;
    top: 1px;
    width: 7px;
    height: 12px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

input:focus {
    outline: none;
    border-bottom-color: #076ba1;
}

.lineHeight2 {
    line-height: 2;
}

.lineHeight3 {
    line-height: 3;
}

.dispInFlex {
    display: inline-flex;
}

// @media screen and (max-width: 800px) {
//   .desktop-hidden {
//     display: initial;
//   }
//   .mobile-hidden {
//     display: none;
//   }
// }
// @media screen and (min-width: 800px) {
//   .desktop-hidden {
//     display: none;
//   }
//   .mobile-hidden {
//     display: initial;
//   }
// }
.ngx-datatable.scroll-vertical .datatable-body {
    overflow-y: auto;
}

.ngx-datatable.scroll-vertical {
    height: 70vh;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

textarea {
    resize: none;
}


/*UPLOAD FILE CSS*/

.inputenup {
    height: 14em;
    .form-control-file {
        position: relative;
        width: 100%;
        height: 100%;
        min-height: 6em;
        outline: none;
        visibility: hidden;
        cursor: pointer;
        background-color: #c61c23;
        box-shadow: 0 0 5px solid currentColor;
        &::before {
            color: #ed462f;
            content: attr(data-title);
            position: absolute;
            top: 1.5em;
            left: 0;
            width: 100%;
            /* min-height: 8em; */
            height: 12em;
            line-height: 8em;
            padding-top: 1.5em;
            opacity: 1;
            visibility: visible;
            text-align: center;
            border: 0.15em dashed #9ea4a5;
            transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
            overflow: hidden;
        }
        &::hover {
            &:before {
                border-style: solid #076ba1;
                /*box-shadow: inset 0px 0px 0px 0.25em currentColor;*/
            }
        }
    }
}

.chooseFile {
    text-align: center;
    float: left;
    /* margin-left: 12%; */
    /* margin-top: 7%; */
}

.cancelFile {
    text-align: center;
    /* float: left; */
    /* margin-left: 12%; */
    /* margin-top: 7%; */
}

.colInput {
    /*margin-top: -2em;*/
}

.or {
    text-align: center;
    margin-left: 12%;
    margin-top: 3%;
    margin-bottom: -4%;
}

.labelFile {
    font-size: 17px;
}

.cancelBut {
    border-radius: 0;
    transform: none;
}


/* ::-moz-placeholder  Firefox v19+ */


/* :-moz-placeholder  Firefox v18- */


/* For Firefox only */

.inputenup {
    height: 14em;
    .form-control-file {
        position: relative;
        width: 100%;
        height: 100%;
        min-height: 6em;
        outline: none;
        visibility: hidden;
        cursor: pointer;
        background-color: #c61c23;
        box-shadow: 0 0 5px solid currentColor;
        &:before {
            color: #ed462f;
            content: attr(data-title);
            position: absolute;
            top: 1.5em;
            left: 0;
            width: 100%;
            /* min-height: 8em; */
            height: 12em;
            line-height: 8em;
            padding-top: 1.5em;
            opacity: 1;
            visibility: visible;
            text-align: center;
            border: 0.15em dashed #9ea4a5;
            transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
            overflow: hidden;
        }
        &:hover {
            &:before {
                border-style: solid #076ba1;
                /*box-shadow: inset 0px 0px 0px 0.25em currentColor;*/
            }
        }
    }
}


/* For Firefox only */

.labelFile {
    font-size: 17px;
}


/* For Firefox only */

.cancelBut {
    border-radius: 0;
    transform: none;
}

.margin10 {
    margin: 10px;
}

.upbackbtn {
    text-align: center;
    margin: 8px;
}