<app-subheader [headerConfig]="header" (btnthree)="bulkEnrol()" (btntwo)="saveEnrol()" (backClick)="back()" (btneight)="passData('savennext')" (btnfive)="passData('modules')" (btnsix)="passData('notif')" (btnseven)="passData('rewards')" (btnine)="passData('save')"
    (btnten)="passData('cancel')" (comeBack) = "backToAsset($event)"(sameComp)='passData("closeMod")'></app-subheader>

<div class="loaderBackdrop" *ngIf="loader == true">
    <div id="loader"></div>
</div>

<!-- <div class="backaddcou  buttons-div" style="background: #fff;">
        <div class="text-right inside-button-div" *ngIf="courseDetails">
            <button type="submit" class="back_button" (click)="back()">Back</button>
        </div>
        <div class="text-right inside-button-div" *ngIf="courseModules">
            <button type="submit" class="back_button" (click)="back()">Back</button>
        </div>
        <div class="text-right inside-button-div" *ngIf="courseEnrol">
            <button type="button" class="constantbtn-button-blue-right" *ngIf="!showEnrolpage " (click)="saveEnrol()">Enrol</button>
            <button type="button" class="constantbtn-button-blue-right" *ngIf="!showBulkpage " (click)="bulkEnrol()">Bulk Enrol</button>
            <button type="submit inside-button-div" class="back_button" *ngIf="!showEnrolpage && !showBulkpage" (click)="back()">Back</button>
            <button type="button" class="back_button" *ngIf="showEnrolpage ||  showBulkpage" (click)="backToEnrol()">Back</button>
        </div>
        <div class="text-right inside-button-div" *ngIf="courseEngage">
            <button type="submit" class="back_button" (click)="back()">Back</button>
        </div>
        <div class="text-right inside-button-div" *ngIf="courseRewards">
            <button type="submit" class="back_button" (click)="back()">Back</button>
        </div>
        <div class="text-right inside-button-div" *ngIf="courseGamification">
            <button type="submit" class="back_button" (click)="back()">Back</button>
        </div>
    </div> -->

<nb-tabset class="custom_tabset courseTabset" (changeTab)="selectedTabTest($event)" [routerLink]="" fragment="details">
    <nb-tab tabTitle="Details" [active]="detailsTab" class="courseDetailsTab">
        <!-- <p>List of <strong>users</strong>.</p> -->
        <div class="row m0 formGen">
            <div class="col-md-12 stretch-card formGenCardCourse">
                <div class="card cardForm">
                    <div class="card-body padding0 cardBody">
                        <!-- <h4 class="card-title">Details</h4>
                      <p class="card-description cardDesc"></p>
                      <form class="forms-sample" #userForm="ngForm">
                        <div class="form-group">

                        </div>
                      </form> -->
                        <div class="courseDetails">
                            <course-details (savennext)="passData('cancel')" [inpdata]="isdata"></course-details>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nb-tab>
    <nb-tab tabTitle="Modules" [active]="modulesTab" class="courseMoudulesTab disabled">
        <!-- <p>List of <strong>orders</strong>.</p> -->
        <div class="row m0 formGen">
            <div class="col-md-12 grid-margin stretch-card formGenCardCourse">
                <div class="card cardForm">
                    <div class="card-body padding0 cardBody">
                        <!-- <h4 class="card-title">Modules Details</h4>
                      <p class="card-description cardDesc"></p>
                      <form class="forms-sample" #userForm="ngForm">
                        <form class="forms-sample" #userForm="ngForm">
                          <div class="form-group">

                          </div>
                        </form>
                      </form> -->
                        <div class="courseModules" *ngIf="courseModules">
                            <course-modules (cancelm)="passData('cancel')" (editm)="setHeader($event)" (addAct)="onActevent($event)" (closeAct)="oncancelAct()" [inpdata]="isdata"></course-modules>
                            <!-- <ngx-add-edit-activity (cancelm)="passData('cancel')" (editm)="setHeader()" (addAct)="onActevent()" (closeAct)="oncancelAct()" [inpdata]="isdata"></ngx-add-edit-activity> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nb-tab>
    <nb-tab tabTitle="Notification" [active]="engageTab" class="courseEngageTab">
        <!-- <p>List of <strong>transactions</strong>.</p> -->
        <div class="row m0 formGen">
            <div class="col-md-12 grid-margin stretch-card formGenCardCourse">
                <div class="card cardForm">
                    <div class="card-body">
                        <!-- padding0<h4 class="card-title">Engage Details</h4>
                      <p class="card-description cardDesc"></p>
                      <form class="forms-sample" #userForm="ngForm">
                        <div class="form-group">

                        </div>
                      </form> -->
                        <div class="courseEngage" *ngIf="engageTab">
                            <course-engage [inpdata]="isdata"></course-engage>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nb-tab>
    <nb-tab tabTitle="Enrol" [active]="enrolTab" class="courseEnrolTab">
        <div *ngIf="showEnrolpage && !showBulkpage" class="subMenu">
            <course-enrolment></course-enrolment>
        </div>
        <div class="row m0 formGen">
            <div class="col-md-12 grid-margin stretch-card formGenCardCourse">
                <div class="card cardForm" *ngIf="!preview">
                    <div class="card-body enrolCardBody">
                        <!-- padding0 <h4 class="card-title">Enrol Details</h4> -->
                        <!-- <p class="card-description cardDesc"></p> -->
                        <div class="" style="width: 100%;">
                            <!-- <course-enrolment></course-enrolment> -->
                            <div class="col-md-12" style="padding: 1.25rem;" *ngIf="!showEnrolpage && !showBulkpage">
                                <div class="col-md-12 manEnrolSrchDiv">
                                    <input type='text' class="manEnrolSearchUsr searchInput commonInput" placeholder='Search user...' (keyup)='searchEnrolUser($event)' [(ngModel)]="searchvalue.value" name="fname" />
                                    <i class="fa fa-remove searchRemove" (click)="clear()"></i>
                                </div>
                                <div class="tableList col-md-12" *ngIf = "!nodata">
                                    <div class="tableDiv ">
                                        <ngx-enrol-table [pagination]="true" [label]="labels" [tableData]="rows" (clickOnbutton)="visibilityTableRow($event)"></ngx-enrol-table>
                                    </div>
                                    <div style="padding: 10px" *ngIf="!rows.length==0">
                                        <div>Total: {{ rows.length }}</div>
                                    </div>
                                </div>

                                <!-- <div style="width: 100%;">
                                        <ngx-datatable #myTable style="width: 100%" class="material" [rows]="rows" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="30" [rowHeight]="50" [limit]="9" [scrollbarV]="true" [selected]="selected" [selectionType]="'checkbox'" [selectAllRowsOnPage]="false"
                                            [displayCheck]="displayCheck" (activate)="onEnrolDataClickEvent($event)" (select)='onSelectEnrolData($event)' (page)="onPageEnrolData($event)">
                                            <ngx-datatable-column prop="ecn" name="EMP CODE"></ngx-datatable-column>
                                            <ngx-datatable-column prop="fullname" name="FULLNAME"></ngx-datatable-column>
                                            <ngx-datatable-column prop="emailId" name="EMAIL"></ngx-datatable-column>
                                            <ngx-datatable-column prop="phoneNo" name="MOBILE"></ngx-datatable-column>
                                            <ngx-datatable-column prop="enrolDate" name="DOE"></ngx-datatable-column>
                                            <ngx-datatable-column prop="enrolmode" name="MODE"></ngx-datatable-column>
                                            <ngx-datatable-column [width]="50" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                                                <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                                                    <a class="deleteUserIcon" title="Delete User">
                                                        <i title="Enabled" class="fa fa-eye card-footer-icon pointer" aria-hidden="true" (click)="disableCourseVisibility(i,row,0)" *ngIf="row.visible == 1"></i>
                                                        <i title="Disabled" class="fa fa-eye-slash card-footer-icon pointer" aria-hidden="true" (click)="disableCourseVisibility(i,row,1)" *ngIf="row.visible==0"></i>
                                                    </a>
                                                </ng-template>
                                            </ngx-datatable-column>
                                        </ngx-datatable>
                                    </div>  -->
                            </div>
                            <ngx-no-data *ngIf="nodata &&!showEnrolpage && !showBulkpage" [config]="noDataVal"></ngx-no-data>
                            <div *ngIf="showBulkpage && !showEnrolpage " class="subMenu">

                                <div class="col-md-12 grid-margin stretch-card" *ngIf="!preview">
                                    <div class="">
                                        <div class="card-body enrolCardBody">
                                            <div class="col-12 margin10 ">
                                                <div class="form-group inputenup">
                                                    <label class="sr-only commonLabel" for="inputFile">File Upload</label>
                                                    <input type="file" #fileUpload class="form-control-file text-success font-weight-bold" id="inputFile" accept=".xls,.xlsx" (change)="readUrl($event)" attr.data-title="{{fileName}}">
                                                </div>
                                                <span></span>
                                            </div>
                                        </div>
                                    </div>


                                    <!-- <div class="col-sm-12 upbackbtn text-center" *ngIf="!enableUpload">
                    <a href="assets/images/bulkenrolfinal.xlsx" download>
                    <button class="constantbtn-button-blue-left"><i class="fas fa-download"></i>Template</button></a>
                </div> -->
                                    <!-- <div *ngIf="!rows" class="subMenu"> -->
                                    <!-- <div class="col-sm-12 upbackbtn text-center" *ngIf="!preview && enableUpload">

                <button type="button" class="constantbtn-button-blue-left"  (click)="savebukupload()">Upload</button>
                <button type="button" class="constantbtn-button-blue-right" (click)="cancel()">Cancel</button>
              </div> -->

                                    <!-- <div class="col-sm-12 upbackbtn text-center" *ngIf="preview">

                    <button type="button" class="constantbtn-button-blue-right" (click)="savebukupload()">Save</button>

                  </div> -->


                                    <!-- <div class="centerAlign" *ngIf="showInvalidExcel">
                    <button class="constantbtn-button-blue-left rightMargin" (click)="exportToExcelInvalid()"><i class="fas fa-download"></i> Enrolment Status</button>
                </div> -->
                                    <div class="text-center mb-2">
                                        <button type="button" class="constantbtn-button-blue-left" *ngIf="preview" (click)="savebukupload()">Save</button>
                                        <a href="assets/images/bulkenrolfinal.xlsx" *ngIf="!enableUpload" download>
                                            <button class="constantbtn-button-blue-right"><i class="fas fa-download"></i>Template</button></a>

                                        <button type="button" *ngIf="!preview && enableUpload" class="constantbtn-button-blue-right" (click)="savebukupload()">Upload</button>
                                        <button type="button" *ngIf="!preview && enableUpload" class="constantbtn-button-blue-right" (click)="cancel()">Cancel</button>
                                        <button class="constantbtn-button-blue-right" *ngIf="showInvalidExcel" (click)="exportToExcelInvalid()"><i class="fas fa-download"></i> Enrollment Status</button>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- </div> -->
    </nb-tab>

    <nb-tab tabTitle="Rewards" [active]="rewardsTab" class="courseRewardsTab">
        <!-- <p>List of <strong>transactions</strong>.</p> -->
        <div class="row m0 formGen">
            <div class="col-md-12 grid-margin stretch-card formGenCardCourse formGenCardGameTab">
                <div class="card cardForm">
                    <!-- cardBody -->
                    <div class="card-body">
                        <!-- padding0 -->
                        <!--  <h4 class="card-title">Rewards Details</h4> -->
                        <!-- <p class="card-description cardDesc"></p> -->
                        <div *ngIf="rewardsTab">
                            <course-rewards [inpdata]="isdata"></course-rewards>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nb-tab>

</nb-tabset>
<!-- Engage popup model -->
<div class="addSelfBackdrop2" *ngIf="addEngagePopup == true">
    <div class="addSelfDemoModal2">
        <div class="modal-header">
            <p>Add Notifications</p>
            <button class="close " aria-label="Close" (click)="closeEngageModal()">
          <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modalBody">
            <form class="forms-sample col-md-12" style="color: #000;">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label class="left_space commonLabel">Name </label>
                        <input type="text" class="form-control form-control-input inputText commonInput" placeholder="Enter name" name="Name" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="left_space commonLabel">Decription</label>
                        <input type="text" class="form-control form-control-input inputText commonInput" placeholder="Enter decription" name="Name" required>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12 ">
                        <label class="left_space commonLabel">Modes</label><br>
                        <label class="sqrCheckBoxengage  col-md-4">
                <input id="sms" type="checkbox">
                <label class="sqrCheckBoxengageLabel commonLabel" for="sms"></label> SMS
                        </label>
                        <label class="sqrCheckBoxengage  col-md-4">
                <input id="email" type="checkbox">
                <label class="sqrCheckBoxengageLabel commonLabel " for="email"></label> Email
                        </label>
                        <label class="sqrCheckBoxengage col-md-4">
                <input id="notify" type="checkbox">
                <label class="sqrCheckBoxengageLabel commonLabel" for="notify"></label> App
                        </label>
                        <!-- <label class="chkbx">Sms
                          <input type="checkbox" checked="checked">
                          <span class="checkmark2"></span>
                        </label>
                        <label class="chkbx">Email
                          <input type="checkbox">
                          <span class="checkmark2"></span>
                        </label>
                        <label class="chkbx">Notification
                          <input type="checkbox">
                          <span class="checkmark2"></span>
                        </label> -->
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label class="left_space commonLabel">Methods</label>
                        <select class="form-control input select_field_height commonSelect" [(ngModel)]="selectMethod" name="dropdown" (click)="onChange(selectMethod)" style="">
                <option value="Date">Date</option>
                <option value="Event">Event</option>
              </select>
                        <div [hidden]="selectMethod != 'Date'">
                            <div class="row">
                                <div class="col-xs-12 col-12 col-sm-4 form-group padding0" style="">
                                    <label class="left_space commonLabel">Date</label>
                                    <input type="text" class="form-control datePickerInput commonInput" [minDate]="minDate" [maxDate]="maxDate" #dp="bsDatepicker" bsDatepicker [(bsValue)]="myDateValue" [bsConfig]="bsConfig" placement="top">
                                </div>
                                <div class="col-xs-12 col-12 col-sm-8 form-group calenderBtnDiv" style="">
                                    <!-- <input class="btn btn-success" type="button" (click)="dp.show()" value="Open"> -->
                                    <!-- <input class="btn btn-success" type="button" (click)="dp.hide()" value="Close"> -->
                                    <button class="openDatepicker" (click)="dp.toggle()" [attr.aria-expanded]="dp.isOpen">
                      <i class="ion-calendar calenderIcon"></i>
                    </button>
                                </div>
                            </div>
                        </div>
                        <div [hidden]="selectMethod != 'Event'">
                            <div class="row">
                                <label class="left_space commonLabel">Event</label>
                                <select class="form-control commonSelect" name="dropdown2" [(ngModel)]="enterDays" (change)="onChange(enterDays)" style="height:34px !important;">
                    <option value="">On course enrolment</option>
                    <option value="nDays">n days before completion</option>
                    <option value="">On Course completion</option>
                  </select>
                            </div>
                        </div>
                        <div [hidden]="enterDays !='nDays' || selectMethod == 'Date' " class="daysInputNo">
                            <div class="row enterDaysDiv">
                                <label class="commonLabel" for="enterDays">Enter Days</label>
                                <input type="number" class="form-control form-control-input commonInput " id="enterDays" min="0" max="365">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="constantbtn" (click)="closeEngageModal()">Save</button>
        </div>
    </div>
</div>
<!--   </nb-card-body>
      </nb-card> -->