<div class="engage">

    <!-- <div class="text-right">
        <button type="button" class="constantbtn-button-blue-left" (click)="openAddEdit()">Add Notification</button>
    </div> -->
    <div class="col-md-12 container">
        <div class="col-md-12 container ">
            <input type="text" placeholder="Search" class="searchInput col-md-12" [(ngModel)]="searchvalue.value" (keyup)='searchnotification($event)'>
            <i class="fa fa-remove searchRemove" (click)="clearesearch()"></i>
        </div>
        <div class="tableCompo">
            <ngx-enrol-table [pagination]="true" [label]="notificationLabel" (clickOnicon)="onSelect($event)" [tableData]="rows"></ngx-enrol-table>
        </div>
        <!-- <div>
            <ngx-datatable #tablenoti style="width:100%" class="material" [columns]="columns" [rows]=rows [headerHeight]="50" [footerHeight]="50" [rowHeight]="50" [limit]="10" [width]="30" [columnMode]="'force'" [selected]="selected" [selectAllRowsOnPage]="false"
                (activate)="onSelect($event)">
            </ngx-datatable>

        </div> -->
    </div>
    <ngx-no-data [config]="noDataVal" *ngIf="noData"></ngx-no-data>

    <ngx-sidebar-form *ngIf="addEngagePopup" [sidebarTitle]='notiTitle' [buttonName]="btnName" (saveBtn)='submitCourseNotification(CourseNotification,notiForm)' (outside)='closeEngageModal()' (closeBtn)='closeEngageModal()'>

        <!-- <div class="addSelfBackdropen" *ngIf="addEngagePopup == true">
        <div class="addSelfDemoModalen">
            <div class="modal-header">
                <p *ngIf="addFlag">Add Notifications</p>
                <p *ngIf="!addFlag">Edit Notifications</p>
                <button class="close " aria-label="Close" (click)="closeEngageModal()">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>

            <div class="modal-body"> -->
        <ngx-sidemenu-drower *ngIf="init">
            <div>
                <ngx-drag-chips-component [inputTags]="tagsArray" [vertical]='true'></ngx-drag-chips-component>
            </div>

        </ngx-sidemenu-drower>
        <!-- <ngx-drag-chips-component [inputTags]="tagsArray" *ngIf="init"></ngx-drag-chips-component> -->
        <form #notiForm="ngForm">
            <div class="row">

                <div class="form-group col-md-12">
                    <label class="side-form-label">Name<sup>&#x2731;</sup></label>
                    <input type="text" class="form-control form-control-input inputText" [(ngModel)]="CourseNotification.name" placeholder="Maximum 50 characters" name="name" #name="ngModel" minlength="2" maxlength="50" required>
                    <div *ngIf="name.errors && (name.dirty || name.touched)">
                        <small class="invalid-msg" [hidden]="!name.errors.required">Name is required.</small>
                        <small class="invalid-msg" [hidden]="!name.errors.minlength">Minimum 2 characters required</small>
                    </div>
                </div>

                <div class="form-group col-md-12">
                    <label class="side-form-label">Description<sup>&#x2731;</sup></label>
                    <textarea type="text" class="form-control form-control-input inputText" [(ngModel)]="CourseNotification.desc" placeholder="Min 20 Max 500 character" name="desc" #desc="ngModel" minlength="20" maxlength="500" required></textarea>
                    <div *ngIf="desc.errors && (desc.dirty || desc.touched)">
                        <small class="invalid-msg" [hidden]="!desc.errors.required">Description is required.</small>
                        <small class="invalid-msg" [hidden]="!desc.errors.minlength">Minimum 20 and maximum 250 characters required
                                </small>
                    </div>
                </div>

            </div>



            <div class="row">
                <div class="form-group col-md-12">
                    <div>
                        <label class="side-form-label">Event<sup>&#x2731;</sup></label>
                        <select class="custom-select" name="dropdown2" [(ngModel)]="CourseNotification.event" name="event" (change)="onChange2(CourseNotification.event)" #evnt="ngModel" required>
                  <option value="" selected="selected">Select Events</option>
                  <option *ngFor="let temp of eventsDrop" value={{temp.notEventId}}>{{temp.notEvent}}
                  </option>
                </select>
                        <div *ngIf="evnt.errors && (evnt.dirty || evnt.touched)">
                            <small class="invalid-msg" [hidden]="!evnt.errors.required">Event is required.</small>
                        </div>
                    </div>

                    <!-- <small class="invalid-msg" [hidden]="enterDays !='nDays' || selectMethod == 'Date' " class="daysInputNo">
                <div class="row enterDaysDiv">
                  <label for="enterDays">Enter Days</label>
                  <input type="number" class="form-control form-control-input " id="enterDays" min="0" max="365">
                </div>
              </div> -->
                </div>
            </div>

            <div class="row" [hidden]="CourseNotification.event == ''">

                <div class="form-group col-md-12 ">
                    <div class="text-notification-text" *ngIf="userData[0].flag==true">
                        <div class="edit-notification-grid">
                            <div>
                                <label class="side-form-label container1">{{userData[0].name}}
                      <input type="checkbox" id="lnmsg" name="lnmsg" value="true"
                        [(ngModel)]="CourseNotification.lnmsg">
                      <span class="checkmark1"></span>
                    </label>
                            </div>
                            <div [hidden]="!CourseNotification.lnmsg == true">
                                <select [(ngModel)]="CourseNotification.lnmsgtemp" id="" class="custom-select" name="lnmsgtemp" (change)="onChangeDropDownSms($event)">
                      <option value="" selected="selected">{{userData[0].selectplace}}</option>
                      <option *ngFor="let temp of templatesms" value={{temp.id}}>{{temp.name}}
                      </option>
                    </select>
                            </div>
                            <!-- <div class="preview-button"
                    *ngIf="CourseNotification.reviewTextSms == true && CourseNotification.lnmsg == true">
                    <button class="constantbtn-button-blue-left"
                      (click)="getTempData(1,CourseNotification.lnmsgtemp)">Preview</button>
                  </div> -->
                        </div>
                        <div class="content-boxes" [hidden]="!(CourseNotification.lnmsg == true && CourseNotification.reviewTextSms == true)">
                            <label class="side-form-label">{{userData[0].Edittemp}}</label>
                            <textarea type="text" class="form-control " placeholder="{{userData[0].Edittemp}}" name="Edit-Template-Sms" minlength="20" maxlength="140" #sms="ngModel" [(ngModel)]="CourseNotification.editSmsTemplateData" required></textarea>
                            <div *ngIf="sms.invalid && sms.touched||sms.dirty">
                                <small class="invalid-msg" *ngIf="sms.hasError('required')">Template is required.</small>
                                <small class="invalid-msg" *ngIf="sms.hasError('minlength')">Minimum 20 characters required.</small>
                                <small class="invalid-msg" *ngIf="sms.hasError('maxlength')">Enter Maximum 140 characters only.</small>
                            </div>
                        </div>
                    </div>
                    <div class="text-notification-text" *ngIf="userData[1].flag==true">
                        <div class="edit-notification-grid">
                            <div>
                                <label class="side-form-label container1">{{userData[1].name}}
                      <input type="checkbox" id="lnnot" name="lnnot" value="true"
                        [(ngModel)]="CourseNotification.lnnot">
                      <span class="checkmark1"></span>
                    </label>
                            </div>
                            <div [hidden]="!(CourseNotification.lnnot == true)">
                                <select [(ngModel)]="CourseNotification.lnnottemp" id="exampleInputAccRole2" class="custom-select" name="lnnottemp" (change)="onChangeDropDownNot($event)">
                      <option value="" selected="selected">{{userData[1].selectplace}}</option>
                      <option *ngFor="let temp of templatenot" value={{temp.id}}>{{temp.name}}
                      </option>
                    </select>
                            </div>
                            <!-- <div class="preview-button"
                    *ngIf="CourseNotification.reviewTextNot == true && CourseNotification.lnnot == true">
                    <button class="constantbtn-button-blue-left"
                      (click)="getTempData(1,CourseNotification.lnnottemp)">Preview</button>
                  </div> -->
                        </div>
                        <div class="content-boxes" [hidden]="!(CourseNotification.reviewTextNot == true && CourseNotification.lnnot == true)">
                            <label class="side-form-label">{{userData[1].Edittemp}}</label>
                            <textarea type="text" class="form-control " placeholder="{{userData[1].Edittemp}}" name="Edit-Template-Not" #noti="ngModel" minlength="2" maxlength="140" [(ngModel)]="CourseNotification.editNotTemplateData" [required] = "CourseNotification.lnnot == true"></textarea>
                            <div *ngIf="noti.invalid && noti.touched||noti.dirty">
                                <small class="invalid-msg" *ngIf="noti.hasError('required')">Template is required.</small>
                                <small class="invalid-msg" *ngIf="noti.hasError('minlength')">Minimum 2 characters required.</small>
                                <small class="invalid-msg" *ngIf="noti.hasError('maxlength')">Enter Maximum 140 characters only.</small>
                            </div>
                        </div>
                    </div>
                    <div class="text-notification-text" *ngIf="userData[2].flag==true">
                        <div class="edit-notification-grid">
                            <div>
                                <label class="side-form-label container1"> {{userData[2].name}}
                      <input type="checkbox" id="lnemail" name="lnemail" value="true"
                        [(ngModel)]="CourseNotification.lnemail">
                      <span class="checkmark1"></span>
                    </label>
                            </div>
                            <div [hidden]="!(CourseNotification.lnemail == true)">
                                <select [(ngModel)]="CourseNotification.lnemailTemp" id="" class="custom-select" name="lnemailTemp" (change)="onChangeDropDownEmail($event)">
                      <option value="" selected="selected">{{userData[2].selectplace}}</option>
                      <option *ngFor="let temp of templateemail" value={{temp.id}}>
                        {{temp.name}}</option>
                    </select>
                            </div>
                            <!-- <div class="preview-button"
                    *ngIf="CourseNotification.reviewTextEmail == true && CourseNotification.lnemail == true">
                    <button class="constantbtn-button-blue-left"
                      (click)="getTempData(3,CourseNotification.lnemailTemp)">Preview</button>
                  </div> -->
                        </div>
                        <div class="content-boxes" [hidden]="!(CourseNotification.reviewTextEmail == true && CourseNotification.lnemail == true)">
                            <label class="side-form-label">{{userData[2].Edittemp}}</label>
                            <!-- <input type="text" class="form-control inputText" placeholder="Edit Template" name="Edit-Template-Email"
                                                  [(ngModel)]="CourseNotification.editEmailTemplateData" required> -->
                            <!-- <quill-editor id="cCont" [(ngModel)]="CourseNotification.editEmailTemplateData" name="Edit-Template-Email"  [ngModelOptions]="{standalone: true}"
                                                    [options]="editorOptions" pattern=".{20,500}" required ngDefaultControl></quill-editor> -->
                            <input type="text" class="form-control form-control-input inputText" [(ngModel)]="CourseNotification.emailSubjectData" placeholder="Maximum 50 characters" name="emailSubjectData" minlength="2" maxlength="200">
                            <label class="side-form-label">{{userData[2].Editbody}}</label>
                            <!-- <textarea type="text" class="form-control engage-" placeholder="Edit Template"
                    name="Edit-Template-Email" [(ngModel)]="CourseNotification.editEmailTemplateData"
                    required></textarea> -->
                            <jodit-editor [config]="config" id="Edit-Template-Email dropped_content" [ngModelOptions]="{standalone: true}" #appnoti="ngModel" [(ngModel)]="CourseNotification.editEmailTemplateData" required ngDefaultControl>
                            </jodit-editor>
                            <div *ngIf="appnoti.invalid && appnoti.touched||appnoti.dirty">
                                <small class="invalid-msg" *ngIf="appnoti.hasError('required')">Email body is required.</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="alert alert-danger ml-3">
                    Note:- Please select at least one option.
                </div>
            </div>

        </form>
        <!-- </div>

            <div class="modal-footer text-right">
                <button type="button" class="constantbtn-button-blue-left" (click)="submitCourseNotification(CourseNotification,notiForm)">Save</button>
            </div>
        </div>
    </div> -->

    </ngx-sidebar-form>

    <div class="deleteModalBackdrop" *ngIf="warningModal == true">
        <div class="deleteModal">
            <div class="modal-header deleteModalHeader">
                <p class="enableDisableModalHeaderP">Warning</p>
                <button class="close closeDeleteModalBtn" aria-label="Close" (click)="closeWarningModal()">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>

            <div class="modal-body">
                <div>
                    <p class="enableDisableModalBodyP">Not Allowed</p>
                </div>
            </div>

            <div class="modal-footer deleteModalFooter">
                <div class="">
                    <button type="button" class="constantbtn-button-blue-left" (click)="closeWarningModal()">OK</button>
                </div>
            </div>
        </div>
    </div>

    <div class="deleteModalBackdrop" *ngIf="notDetailsModal">
        <div class="addSelfDemoModalEngage">
            <div class="modal-header">
                <span>Template Description</span>
                <!-- <button class="close" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button> -->
            </div>
            <div class="modal-body">
                <div class="OuterDiv">
                    <!-- <div class="InnerDiv">
                  <lable>Name</lable>
                  <p>{{templateData.name}}</p>
              </div>
              <div class="InnerDiv">
                  <lable>Description</lable>
                  <p>{{templateData.desc}}</p>
              </div> -->
                    <div class="InnerDiv">
                        <lable>Template</lable>
                        <p [innerHtml]="templateData.template"></p>
                    </div>
                </div>
            </div>

            <div class="modal-footer text-right">
                <button class="constantbtn-button-blue-left" (click)="closeNotDetailModal()">OK</button>
            </div>

        </div>

    </div>

</div>