<!-- <button (click)="gotoBlendedCourses()"></button> -->
<!-- BlendedHomeComponent


gotoBlendedCourses(){
  this.router.navigate(['blended-courses'],{relativeTo:this.routes});
} -->


<div class="blended_home">
    <div class="widgets">
        <!-- <div class="col-md-12 toprow sticky-top">
            <div class="col-md-6">
                <h3 class="h3lable">Blended Courses</h3>
            </div>
            <div class="col-md-6 butnMrg">
                <button class="back_button" (click)="back()">Back</button>
            </div>
        </div> -->

  <app-subheader [headerConfig]="header"  (backClick) = "back()"></app-subheader>


        <!-- <div ba-panel ba-panel-class="with-scroll">
            <section id="feature" class="section01" style="float:none; ">
                <div class="container">
                    <div class="row col-md-12 mainrow">
                            <div class="col-md-6 maincol" *ngFor ="let item of learnData" style="">

                                   <div class="element-animate mainbox" style="" (click)="gotopages(item.menuRoute, item)">

                                       <div class="{{item.menuIcon}}"></div>
                                       <div class="media custom-media">

                                           <div class="media-body">
                                               <h3 class="mt-0 mainh3" style="">{{item.menuName}}</h3>
                                              <p class="mainp" style="">{{item.menuDescription}}</p>
                                           </div>
                                       </div>
                                   </div>
                               </div>

                       
                    </div>
                </div>
            </section>
        </div> -->

        <div class="mainCard">
            <ngx-parent-card [cardList]="item" *ngFor ="let item of learnData" (cardClick)="gotopages(item.menuRoute, item)"></ngx-parent-card>
        </div>
    </div>
</div>
