<app-subheader [headerConfig]="header" (inputsearch)="search1($event)" (backClick)="back()" (Clear)="clear()"></app-subheader>

<div class="notification_container">
    <div class="notification_div" *ngIf="!noCategory">
        <div *ngIf="skeleton">
            <ng-container *ngIf="rows | filterBy: search as rows">
                <div *ngFor="let item of rows; let i = index">
                    <ngx-card [cardsList]="item" [config]="cardModify" (bulkCopyEmit)="getNotificationTemplateForBulk(item, true)" (smsClick)="smsClick(1, item)" (msgClick)="smsClick(2, item)" (mblClick)="smsClick(3, item)"></ngx-card>
                </div>
                <div *ngIf="rows?.length === 0">
                    <ngx-no-data [config]="noDataVal"></ngx-no-data>
                </div>
            </ng-container>
        </div>
        <app-skeleton [count]="count" *ngIf="!skeleton"></app-skeleton>
        <!-- <table>
            <tr>
                <div class="multiple_category_card_container" *ngIf="!skeleton">
                    <div class="content_width1">
                        <div class="cards_container">

                            <div class="singel_card">
                                <div class="notification">
                                    <ngx-skeleton-loader [theme]="{ width: '215px', height: '100px','margin': '5px' }">
                                    </ngx-skeleton-loader>
                                </div>
                                <div class="notification-title">
                                    <ngx-skeleton-loader [theme]="{
                                                          width: '184px',
                                                          height: '40px'
                                                        }"></ngx-skeleton-loader>
                                </div>
                                <div class="notification-title">
                                    <ngx-skeleton-loader [theme]="{
                                                          width: '184px',
                                                          height: '40px'
                                                        }"></ngx-skeleton-loader>
                                </div>
                            </div>


                            <div class="singel_card">
                                <div class="notification">
                                    <ngx-skeleton-loader [theme]="{ width: '215px', height: '100px','margin': '5px' }">
                                    </ngx-skeleton-loader>
                                </div>
                                <div class="notification-title">
                                    <ngx-skeleton-loader [theme]="{
                                                          width: '184px',
                                                          height: '40px'
                                                        }"></ngx-skeleton-loader>
                                </div>
                                <div class="notification-title">
                                    <ngx-skeleton-loader [theme]="{
                                                          width: '184px',
                                                          height: '40px'
                                                        }"></ngx-skeleton-loader>
                                </div>
                            </div>


                            <div class="singel_card">
                                <div class="notification">
                                    <ngx-skeleton-loader [theme]="{ width: '215px', height: '100px','margin': '5px'}">
                                    </ngx-skeleton-loader>
                                </div>
                                <div class="notification-title">
                                    <ngx-skeleton-loader [theme]="{
                                                          width: '184px',
                                                          height: '40px'
                                                        }"></ngx-skeleton-loader>
                                </div>
                                <div class="notification-title">
                                    <ngx-skeleton-loader [theme]="{
                                                          width: '184px',
                                                          height: '40px'
                                                        }"></ngx-skeleton-loader>
                                </div>
                            </div>


                            <div class="singel_card">
                                <div class="notification">
                                    <ngx-skeleton-loader [theme]="{ width: '215px', height: '100px','margin': '5px'}">
                                    </ngx-skeleton-loader>
                                </div>
                                <div class="notification-title">
                                    <ngx-skeleton-loader [theme]="{
                                                          width: '184px',
                                                          height: '40px'
                                                        }"></ngx-skeleton-loader>
                                </div>
                                <div class="notification-title">
                                    <ngx-skeleton-loader [theme]="{
                                                          width: '184px',
                                                          height: '40px'
                                                        }"></ngx-skeleton-loader>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </tr>
            <tr>
                <div class="multiple_category_card_container" *ngIf="!skeleton">
                    <div class="content_width1">
                        <div class="cards_container">

                            <div class="singel_card">
                                <div class="notification">
                                    <ngx-skeleton-loader [theme]="{ width: '215px', height: '100px','margin': '5px'}">
                                    </ngx-skeleton-loader>
                                </div>
                                <div class="notification-title">
                                    <ngx-skeleton-loader [theme]="{
                                                              width: '184px',
                                                              height: '40px'
                                                            }"></ngx-skeleton-loader>
                                </div>
                                <div class="notification-title">
                                    <ngx-skeleton-loader [theme]="{
                                                              width: '184px',
                                                              height: '40px'
                                                            }"></ngx-skeleton-loader>
                                </div>
                            </div>


                            <div class="singel_card">
                                <div class="notification">
                                    <ngx-skeleton-loader [theme]="{ width: '215px', height: '100px','margin': '5px'}">
                                    </ngx-skeleton-loader>
                                </div>
                                <div class="notification-title">
                                    <ngx-skeleton-loader [theme]="{
                                                              width: '184px',
                                                              height: '40px'
                                                            }"></ngx-skeleton-loader>
                                </div>
                                <div class="notification-title">
                                    <ngx-skeleton-loader [theme]="{
                                                              width: '184px',
                                                              height: '40px'
                                                            }"></ngx-skeleton-loader>
                                </div>
                            </div>


                            <div class="singel_card">
                                <div class="notification">
                                    <ngx-skeleton-loader [theme]="{ width: '215px', height: '100px','margin': '5px'}">
                                    </ngx-skeleton-loader>
                                </div>
                                <div class="notification-title">
                                    <ngx-skeleton-loader [theme]="{
                                                              width: '184px',
                                                              height: '40px'
                                                            }"></ngx-skeleton-loader>
                                </div>
                                <div class="notification-title">
                                    <ngx-skeleton-loader [theme]="{
                                                              width: '184px',
                                                              height: '40px'
                                                            }"></ngx-skeleton-loader>
                                </div>
                            </div>


                            <div class="singel_card">
                                <div class="notification">
                                    <ngx-skeleton-loader [theme]="{ width: '215px', height: '100px','margin': '5px'}">
                                    </ngx-skeleton-loader>
                                </div>
                                <div class="notification-title">
                                    <ngx-skeleton-loader [theme]="{
                                                              width: '184px',
                                                              height: '40px'
                                                            }"></ngx-skeleton-loader>
                                </div>
                                <div class="notification-title">
                                    <ngx-skeleton-loader [theme]="{
                                                              width: '184px',
                                                              height: '40px'
                                                            }"></ngx-skeleton-loader>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </tr>
        </table> -->
    </div>
</div>

<!-- <div *ngIf="noCategory">
            <div class="col-md-12 noDataDiv">
                <img class="noDataImg" src='assets/images/noDataFound1.png' onerror="this.src='assets/images/noDataFound1.png';"> -->
<!-- <img src='assets/images/noDataFound2.png' onerror="this.src='assets/images/noDataFound2.png';"> -->
<!-- <p class="nodata"> No Data Found</p> -->
<!-- </div>
        </div> -->
<!-- <div *ngIf="noEvents">
        <div class="col-md-12 noDataDiv">
            <img class="noDataImg" src='assets/images/noDataFound1.png' onerror="this.src='assets/images/noDataFound1.png';"> -->
<!-- <img src='assets/images/noDataFound2.png' onerror="this.src='assets/images/noDataFound2.png';"> -->
<!-- <p class="nodata"> No Data Found</p> -->
<!-- </div>
    </div>
    <div *ngIf="Nodatafound">
        <div class="col-md-12 noDataDiv">
            <img class="noDataImg" src='assets/images/noDataFound1.png' onerror="this.src='assets/images/noDataFound1.png';"> -->
<!-- <img src='assets/images/noDataFound2.png' onerror="this.src='assets/images/noDataFound2.png';"> -->
<!-- <p class="nodata"> No Data Found</p> -->
<!-- </div>
    </div> -->
<ngx-no-data *ngIf="noCategory || noEvents || Nodatafound" [config]="noDataVal"></ngx-no-data>
<!-- <ngx-no-data *ngIf="noEvents"></ngx-no-data>
<ngx-no-data *ngIf="Nodatafound"></ngx-no-data> -->
<ngx-sidebar-form *ngIf="sectionshow" [sidebarTitle]="title" [buttonName]="btnName" (saveBtn)="submit(notTemp, templateForm)" (outside)="closesectionModel()" (closeBtn)="closesectionModel()">
    <!-- <div class="widgets">
        <div ba-panel ba-panel-class="with-scroll">
            <div class="col-sm-12"> -->
    <form class="forms-sample" #templateForm="ngForm">
        <!-- <div class="row"> -->

        <div class="col-md-12">
            <!-- <div class="card cardForm cardFormCertificate"> -->
            <!-- <div>
                <h4 class="side-form-label">Template Details</h4>
            </div> -->

            <!-- <div class="card-body"> -->
            <div class="form-group">
                <label class="side-form-label" for="name">{{ helpContent?.notification_temp_add_edit?.template_name.label }}
          <sup>&#x2731;</sup>
          <app-info-tooltip
            for="name"
            [description]="
              helpContent?.notification_temp_add_edit?.template_name
                .labelHelpContent
            "
          ></app-info-tooltip>
        </label>
                <!-- <label class="commonLabel">{{helpContent?.notification_temp_add_edit?.template_name?.label}}
                      <sup class="reqFieldActivity">*</sup>
                      <div class="help-tooltip">
                        <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                        <div class="help-tooltip-position-right">
                          <p>{{helpContent?.notification_temp_add_edit?.template_name?.labelHelpContent}}</p>
                          <i></i>
                        </div>
                      </div>
                    </label> -->
                <!-- <label class="space_left" for="cname">Template Name<h3 class="reqField">*</h3></label> -->
                <input type="text" class="form-control commonInput" id="tname" [(ngModel)]="notTemp.name" required placeholder="Template Name" name="tName" #tName="ngModel" ngDefaultControl />
                <div [hidden]="tName.valid || tName.pristine">
                    <small class="invalid-msg" [hidden]="!tName.hasError('required')">Template name is required.</small
          >
        </div>
        <span></span>
      </div>
      <div class="form-group">
        <label class="side-form-label" for="name"
          >{{ helpContent?.notification_temp_add_edit?.description.label }}
          <sup>&#x2731;</sup>
          <app-info-tooltip
            for="name"
            [description]="
              helpContent?.notification_temp_add_edit?.description
                .labelHelpContent
            "
          ></app-info-tooltip>
        </label>
        <!-- <label class="commonLabel">{{helpContent?.notification_temp_add_edit?.description?.label}}
                      <sup class="reqFieldActivity">*</sup>
                      <div class="help-tooltip">
                        <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                        <div class="help-tooltip-position-right">
                          <p>{{helpContent?.notification_temp_add_edit?.description?.labelHelpContent}}</p>
                          <i></i>
                        </div>
                      </div>
                    </label> -->
        <!-- <label class="space_left" for="cdesc">Description<h3 class="reqField">*</h3></label> -->
        <textarea
          cols="30"
          rows="6"
          class="form-control form-control-input commonTextarea"
          id="cdesc"
          placeholder="Description"
          name="desc"
          [(ngModel)]="notTemp.desc"
          #desc="ngModel"
          minlength="20"
          maxlength="1000"
          required
          ngDefaultControl
        ></textarea>
        <div [hidden]="desc.valid || desc.pristine">
          <small class="invalid-msg" [hidden]="!desc.hasError('required')"
            >Description is required</small
          >
          <!-- <div [hidden]="!desc.hasError('minlength') && !">Minimum 20 and Maximum 1000 characters required</div> -->
          <small class="invalid-msg" *ngIf="desc.errors?.minlength">
            Min 20 and Max 1000 characters is required</small
          >
        </div>
        <span></span>
      </div>
      <!-- </div> -->
      <!-- </div> -->
    </div>
    <div class="col-md-12">
      <div class="">
        <!-- <div class="card cardForm"> -->
        <!-- <div>
                    <h4 class="side-form-label">Notification Content</h4>
                </div> -->
        <!-- <div class="card-body"> -->
        <div class="form-group" *ngIf="showTemplateFor === 'email'">
          <label class="side-form-label" for="name"
            >{{ helpContent?.notification_temp_add_edit?.subject.label }}
            <sup>&#x2731;</sup>
            <app-info-tooltip
              for="name"
              [description]="
                helpContent?.notification_temp_add_edit?.subject
                  .labelHelpContent
              "
            ></app-info-tooltip>
          </label>
          <!-- <label class="commonLabel">{{helpContent?.notification_temp_add_edit?.subject?.label}}
                        <sup class="reqFieldActivity">*</sup>
                        <div class="help-tooltip">
                          <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                          <div class="help-tooltip-position-right">
                            <p>{{helpContent?.notification_temp_add_edit?.subject?.labelHelpContent}}</p>
                            <i></i>
                          </div>
                        </div>
                      </label> -->
          <!-- <label class="space_left" for="subject">Subject<h3 class="reqField">*</h3></label> -->
          <input
            type="text"
            class="form-control commonInput"
            id="subject"
            [(ngModel)]="notTemp.subject"
            required
            placeholder="Subject Name"
            name="subject"
            #subject="ngModel"
            ngDefaultControl
          />
          <div [hidden]="subject.valid || subject.pristine">
            <small class="invalid-msg" [hidden]="!subject.hasError('required')"
              >Subject is required.</small
            >
          </div>
          <span></span>
        </div>
        <div class="form-group">
          <label class="side-form-label" for="name"
            >{{ helpContent?.notification_temp_add_edit?.content.label }}
            <sup>&#x2731;</sup>
            <app-info-tooltip
              for="name"
              [description]="
                helpContent?.notification_temp_add_edit?.content
                  .labelHelpContent
              "
            ></app-info-tooltip>
          </label>
          <!-- <label class="commonLabel">{{helpContent?.notification_temp_add_edit?.content?.label}}
                        <sup class="reqFieldActivity">*</sup>
                        <div class="help-tooltip">
                          <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                          <div class="help-tooltip-position-right">
                            <p>{{helpContent?.notification_temp_add_edit?.content?.labelHelpContent}}</p>
                            <i></i>
                          </div>
                        </div>
                      </label> -->
          <!-- <label class="space_left" for="cdesc">Content<h3 class="reqField">*</h3></label> -->
          <!-- <div *ngIf="!emailTemplate">
                        <textarea cols="30" rows="6" class="form-control form-control-input commonTextarea" id="cdesc"
                          placeholder="Content" name="description" [(ngModel)]="notTemp.content" #content="ngModel"
                          minlength="20" maxlength="1000" required ngDefaultControl></textarea>
                        <div [hidden]="content.valid || content.pristine" class="alert alert-danger">
                          <div [hidden]="!content.hasError('required')">Content is required</div>
                          <div [hidden]="!content.hasError('minlength')">Minimum 20 and maximum 1000 characters
                            required.</div>
                        </div>
                      </div>
                      <div *ngIf="emailTemplate">
                        <jodit-editor [config]="config" name="description" id="cdesc" [(ngModel)]="notTemp.content"
                          #content="ngModel" required>
                        </jodit-editor>
                        <!-- <div [hidden]="content.valid || content.pristine" class="alert alert-danger">
                            <div [hidden]="!content.hasError('required')">Content is required</div>
                          </div>
                      </div> -->

          <div *ngIf="showTemplateFor == 'appNotification'">
            <textarea
              cols="30"
              rows="6"
              class="form-control form-control-input"
              id="cdesc"
              placeholder="Content"
              name="description"
              [(ngModel)]="notTemp.content"
              #content="ngModel"
              minlength="20"
              maxlength="1000"
              required
              ngDefaultControl
            ></textarea>
            <div [hidden]="content.valid || content.pristine">
              <small
                class="invalid-msg"
                [hidden]="!content.hasError('required')"
                >Content is required</small
              >
              <small
                class="invalid-msg"
                [hidden]="!content.hasError('minlength')"
                >Minimum 20 and maximum 1000 characters required.</small
              >
            </div>
          </div>
          <div *ngIf="showTemplateFor == 'email'">
            <jodit-editor
              [config]="config"
              name="description"
              id="cdesc"
              [(ngModel)]="notTemp.content"
              #content="ngModel"
              required
            >
            </jodit-editor>
            <!-- <div [hidden]="content.valid || content.pristine" class="alert alert-danger">
                          <div [hidden]="!content.hasError('required')">Content is required</div>
                        </div> -->
          </div>
          <div *ngIf="showTemplateFor == 'sms'">
            <textarea
              cols="30"
              rows="6"
              class="form-control form-control-input"
              id="cdesc"
              placeholder="Content"
              name="description"
              [(ngModel)]="notTemp.content"
              #content="ngModel"
              minlength="20"
              maxlength="140"
              required
              ngDefaultControl
            ></textarea>
            <div class="text-right mt-2 mb-2">
              Character count: {{ notTemp?.content?.length }} / 140
            </div>
            <div [hidden]="content.valid || content.pristine">
              <small
                class="invalid-msg"
                [hidden]="!content.hasError('required')"
                >Content is required</small
              >
              <small
                class="invalid-msg"
                [hidden]="!content.hasError('minlength')"
                >Minimum 20 required.</small
              >
              <small
                class="invalid-msg"
                [hidden]="!content.hasError('maxlength')"
                >Enter Maximum 140 characters only.</small
              >
            </div>
          </div>
          <span></span>
        </div>
        <!-- </div> -->
        <!-- </div> -->
      </div>
      <!-- <div class="grid-margin stretch-card" style="margin-top: 25px;padding-right: 25px;" *ngIf="htmlEditor">
                <div class="card cardForm">
                  <div>
                      <h4 class="card-title cardHead marginTop0">Notification Content</h4>
                  </div>

                  <div class="card-body">

                    <form class="forms-sample">
                      <div class="form-group">
                        <quill-editor id="cCont" [(ngModel)]="notTemp.content" name="content" #content="ngModel" [ngModelOptions]="{standalone: true}"
                          [options]="editorOptions" pattern=".{20,4000}" required ngDefaultControl></quill-editor>
                          <div [hidden]="content.valid || content.pristine" class="alert alert-danger">
                              <div [hidden]="!content.hasError('required')">Content is required</div>
                              <div [hidden]="!content.hasError('pattern')">Minimum 20 and maximum 4000 characters required.</div>
                            </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div> -->
    </div>

    <!-- </div> -->
  </form>
  <!-- </div>
        </div>
    </div> -->
</ngx-sidebar-form>
<ngx-bulk-copy
  [config]="configBulkEnrol"
  (performAction)="performActionOnBulk($event)"
  [activityClicked]="null"
  [basicDetails]= "basicDetails"
  [titleName]= "'Bulk Notification'"
  [componentConfig]="'news'"
  [courseTypeId] = "4"
  *ngIf="showBulkUploadContainer"
></ngx-bulk-copy>