<div class="enroll_news" style="margin: 0 15px;">
    <div class="search_div">
        <input type='text' class="manSearchUsr searchInput" [(ngModel)]="searchvalue.value" placeholder='Search by ECN, Name, Email..' (keyup)='searchenrol($event)' name="fname" />
        <i class="fa fa-remove searchRemove" (click)="clearesearch()"></i>
    </div>
    <div class="bgwhite" *ngIf='rows.length!=0'>
        <!-- <div class="col-md-12 manEnrolSrchDiv">
               <input type='text' class="manEnrolSearchUsr searchInput" placeholder='Search user...' (keyup)='searchenrol($event)' 
               [(ngModel)]="searchvalue.value" name="fname" />
               <i class="fa fa-remove searchRemove" (click)="clearesearch()"></i>
            </div> -->
        <!-- <div class="search_div">
            <input type='text' class="manSearchUsr searchInput" [(ngModel)]="searchvalue.value" placeholder='Search by ECN, Name, Email..' (keyup)='searchenrol($event)' name="fname" />
            <i class="fa fa-remove searchRemove" (click)="clearesearch()"></i>
        </div> -->
        <div class="tableList col-md-12">
            <div class="tableCompo pl-0 pr-0">
                <ngx-enrol-table [pagination]="true" [label]="labels" [tableData]="rows" (clickOnbutton)=visibilityTableRow($event)></ngx-enrol-table>
            </div>
            <div style="padding: 5px 10px">
                <div>Total: {{ rows.length }}</div>
            </div>
        </div>
    </div>
</div>
<ngx-no-data *ngIf="rows?.length==0" [config]="noDataVal"></ngx-no-data>

<!-- <div class="mainTable">
            <ngx-datatable #tableData style="width: 100%;" class="material" [rows]="rows" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="50" [limit]="10" [selected]="selected" [selectAllRowsOnPage]="false"> -->

<!-- <ngx-datatable-column [width]="30" [sortable]="false" [canAutoResize]="false" [draggable]="false"
                     [resizeable]="false" [headerCheckboxable]="true" [checkboxable]="true">
                  </ngx-datatable-column> -->

<!-- Column Templates -->

<!-- 
                <ngx-datatable-column name="ECN" [width]=100>
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <div>
                            {{row.ecn}}
                        </div>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="FULLNAME" [width]=100>
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <div>
                            {{row.fullname}}
                        </div>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="EMAIL" [width]=100>
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <div>
                            {{row.emailId}}
                        </div>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="MOBILE" [width]=100>
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <div>
                            {{row.phoneNo}}
                        </div>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="DOE" [width]=100>
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <div>
                            {{row.enrolDate}}
                        </div>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="MODE" [width]=100>
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <div>
                            {{row.enrolmode}}
                        </div>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [width]="50" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                    <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                        <a class="deleteUserIcon" title="Delete User">
                            <i title="Enabled" class="fa fa-eye card-footer-icon pointer" aria-hidden="true" (click)="disableCourseVisibility(i,row,0)" *ngIf="row.visible == 1"></i>
                            <i title="Disabled" class="fa fa-eye-slash card-footer-icon pointer" aria-hidden="true" (click)="disableCourseVisibility(i,row,1)" *ngIf="row.visible==0"></i>
                        </a>
                    </ng-template>
                </ngx-datatable-column> -->

<!-- <ngx-datatable-column name="Type" [width]=100>
                     <ng-template let-row="row" ngx-datatable-cell-template>
                        <div *ngFor="let type of row.Type">
                           <div class="col-sm-2 card-footer-sub">
                              <p>{{ type.ClassName }}</p>
                              <div title="{{ type.type }}">
                                 <i class="{{ type.ClassName }}"></i>
                              </div>
                           </div>
                        </div>
                     </ng-template>
                  </ngx-datatable-column> -->
<!-- <ngx-datatable-column [width]="50">
                 <ng-template let-row="row" ngx-datatable-cell-template>
                 <div (click)="gotoAddEditTeam(row,1)">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                 </div>
                 </ng-template>
                 </ngx-datatable-column> -->
<!-- </ngx-datatable>
        </div> -->