// .addEditCattoprow {
//   // padding: 12px;
//   border: none;
//   background-color: #ffffff;
//   height: auto;
//   width: 100%;
//   display: inline-flex;
// }
// .floteright {
//   float: right;
//   font-size: 13px;
//   background-color: #fff;
// }
// .addEditCatsticky-top {
//   position: sticky;
//   top: 67px;
//   z-index: 1090;
// }
// .addEditCatHead {
//   // padding: 15px 0px 15px 30px;
//   margin: 15px auto;
// }
// .dropdown-height{
//   height: 34px !important;
// }
// .bgwhite {
//   background-color: white;
// }
// .padding-top {
//   padding-top: 15px;
// }
// .padding-bottom{
//   padding-bottom: 20px;
// }
// .margin-top {
//   margin-top: 15px;
// }
// .margin-vertical{
//   margin-top: 20px;
//   margin-bottom: 20px;
// }
// .margin-all{
//   margin: 20px;
// }
// .padding-all {
//   padding: 20px;
// }
// .constantbtn-approve {
//   background: green;
//   color: white;
//   border: none;
//   width: auto !important;
//   min-width: 90px !important;
//   max-height: 36px !important;
// }
// .constantbtn-reject {
//   background: red;
//   color: white;
//   border: none;
//   width: auto !important;
//   min-width: 90px !important;
//   max-height: 36px !important;
// }
// // radio button style code start here
// // /* The container */
// .containerRadio {
//   display: block;
//   position: relative;
//   padding-left: 35px;
//   margin-bottom: 12px;
//   cursor: pointer;
//   // font-size: 22px;
//   -webkit-user-select: none;
//   -moz-user-select: none;
//   -ms-user-select: none;
//   user-select: none;
// }
// // /* Hide the browser's default radio button */
// .containerRadio input {
//   position: absolute;
//   opacity: 0;
//   cursor: pointer;
// }
// // /* Create a custom radio button */
// .checkmark {
//   position: absolute;
//   top: 0;
//   left: 0;
//   height: 25px;
//   width: 25px;
//   background-color: #eee;
//   border-radius: 50%;
// }
// /* On mouse-over, add a grey background color */
// .containerRadio:hover input ~ .checkmark {
//   background-color: #ccc;
// }
// /* When the radio button is checked, add a blue background */
// .containerRadio input:checked ~ .checkmark {
//   background-color: #2196F3;
// }
// // /* Create the indicator (the dot/circle - hidden when not checked) */
// .checkmark:after {
//   content: "";
//   position: absolute;
//   display: none;
// }
// // /* Show the indicator (dot/circle) when checked */
// .containerRadio input:checked ~ .checkmark:after {
//   display: block;
// }
// // /* Style the indicator (dot/circle) */
// .containerRadio .checkmark:after {
//  	top: 9px;
// 	left: 9px;
// 	width: 8px;
// 	height: 8px;
// 	border-radius: 50%;
// 	background: white;
// }
// // radio style code end here
// ngx-enrol {
// }
.search_div {
    position: relative;
    padding: 15px;
    padding-bottom: 0;
    .searchInput {
        border: none;
        border-bottom: 1px solid #ccc;
        background: transparent;
        box-shadow: none;
        border-radius: 0;
        width: 100%;
        height: 30px;
        outline: none;
    }
    .searchRemove {
        position: absolute;
        top: 22px;
        right: 15px;
        // padding:0px;
    }
}

.tableList {
    display: inline-block;
    vertical-align: top;
    background: #ffffff;
    table {
        width: 100%;
        background: #ffffff;
        box-shadow: 3px 2px 6px 4px #ccc;
    }
}

//   .manEnrolSrchDiv {
//     margin-bottom: 15px;
//   }
//   .manEnrolSearchUsr {
//     width: 100%;
//     padding: 10px;
//   }
//   .inputText:focus {
//     border: 1px solid #dadfe6;
//     background-color: #ffffff;
//   }
//   .searchInput::placeholder {
//     color: #313233bf;
//   }
//   .searchInput {
//     border: none;
//     border-bottom: 1px solid #313233bf;
//     background: transparent;
//     box-shadow: none;
//     border-radius: 0;
//   }
//   .searchRemove {
//     position: absolute;
//     top: 14px;
//     right: 15px;
//   }
// }