<ngx-sidebar-form (saveBtn)="performSaveAction()" (closeBtn)="passDataToParent('closeCopy', null, false)" (outside)="passDataToParent('closeCopy', null, false)" [sidebarTitle]="titleName" [saveDisabled]="saveWorking" [buttonName]="currentActiveTab?.showSave ? 'Save' : ''">
    <div class="" *ngIf="config">
        <ngx-tabset class="tabset" #ngxtab *ngIf="displayTabArray?.length != 0" (onSelect)="createDataForTabChange($event, ngxtab)" customNavClass="sub-tabs tabClassIndex" customTabsClass="sub-inner tabClassIndex-inner" customPaneClass="inner-pane">
            <ng-container *ngFor="let tab of displayTabArray; let i = index">
                <ngx-tab class="tabinner" [active]="i === 0" [tabTitle]="tab?.tabTitle" [bypassDOM]="false" [disabled]="tab?.disabled">
                    <!-- addNewsForm  -->
                    <div *ngIf="tab.identifier == 'addNewsForm'" class="min-height-200">
                        <ng-container *ngIf="!addNewsFormLoading">
                            <ngx-sidemenu-drower *ngIf="init">
                                <div>
                                    <ngx-drag-chips-component [inputTags]="tagsArray" [vertical]="true"></ngx-drag-chips-component>
                                </div>
                            </ngx-sidemenu-drower>

                            <form #formData="ngForm">
                                <div class="">
                                    <label class="side-form-label">
                    <span
                      >{{
                        helpContent?.notification_temp_add_edit?.template_name
                          .label
                      }}
                      <sup>&#x2731;</sup>
                      <app-info-tooltip
                        for="name"
                        [direction]="direction"
                        [description]="
                          helpContent?.notification_temp_add_edit?.template_name
                            ?.labelHelpContent
                        "
                      ></app-info-tooltip>
                    </span>
                  </label>

                                    <input type="text" class="form-control commonInput" required [minlength]="'2'" [maxlength]="'50'" placeholder="Min 2 and Max 50 characters." name="newsName" [(ngModel)]="basicDetails.NotificationTypeName" #name="ngModel" required />

                                    <span></span>

                                    <div [hidden]="name.valid || name.pristine" class="mt-2">
                                        <small class="invalid-msg" [hidden]="!name.hasError('required')">
                      Template name is required
                    </small>
                                        <small class="invalid-msg" [hidden]="!name.hasError('minlength')">
                      Min 2 characters is required.
                    </small>
                                        <small class="invalid-msg" [hidden]="!name.hasError('maxlength')">
                      Max 50 characters is required.
                    </small>
                                    </div>
                                </div>

                                <div class="mt-2">
                                    <label class="side-form-label">
                    <span
                      >{{
                        helpContent?.notification_temp_add_edit?.description
                          .label
                      }}
                      <sup>&#x2731;</sup>
                      <app-info-tooltip
                        for="name"
                        [description]="
                          helpContent?.notification_temp_add_edit?.description
                            ?.labelHelpContent
                        "
                      ></app-info-tooltip>
                    </span>
                  </label>

                                    <textarea cols="30" rows="6" class="form-control form-control-input commonTextarea" id="cdesc" placeholder="Description" name="desc" [(ngModel)]="basicDetails.description" #desc="ngModel" minlength="20" maxlength="500" required ngDefaultControl></textarea>
                                    <div [hidden]="desc.valid || desc.pristine" class="mt-2">
                                        <small class="invalid-msg" class="invalid-msg" [hidden]="!desc.hasError('required')">Description is required</small
                    >

                    <small
                      class="invalid-msg"
                      class="invalid-msg"
                      *ngIf="desc.errors?.minlength"
                    >
                      Min 20 and Max 500 characters is required</small
                    >
                  </div>
                </div>

                <div class="mt-3 mb-3">
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      [checked]="basicDetails.AppNotificationCheckBox"
                      (click)="setUnsetValidation('app', $event)"
                      [(ngModel)]="basicDetails.AppNotificationCheckBox"
                      name="appCheckBox"
                    />
                    <label
                      class="form-check-label side-form-label"
                      for="inlineCheckbox1"
                    >
                      {{
                        helpContent?.courses_notification?.app_notification
                          ?.label
                      }}

                      <app-info-tooltip
                        for="name"
                        [description]="
                          helpContent?.courses_notification?.app_notification
                            ?.labelHelpContent
                        "
                      ></app-info-tooltip>
                    </label>
                  </div>
                </div>
                  <div
                    class="mt-2"
                    [hidden]="!basicDetails.AppNotificationCheckBox"
                  >
                    <div>
                      <label class="side-form-label"
                        >{{
                          helpContent?.news_n_announcement
                            ?.app_Notification_Subject?.label
                        }}
                        <sup>&#x2731;</sup>

                        <!-- <app-info-tooltip for="name" [description]="
                            helpContent?.news_n_announcement
                              ?.app_Notification_Subject?.labelHelpContent
                          "></app-info-tooltip> -->
                      </label>

                      <input
                        type="text"
                        class="form-control commonInput"
                        [required]="basicDetails.AppNotificationCheckBox"
                        placeholder="Min 2 and Max 200 characters."
                        name="appNotificationSubject"
                        [minlength]="appNotification.notificationSubjectMin"
                        [maxlength]="appNotification.notificationSubjectMax"
                        [(ngModel)]="basicDetails.AppNotificationSubject"
                        #appSubject="ngModel"
                        name="appsubject"
                      />

                      <div
                        [hidden]="appSubject.valid || appSubject.pristine"
                        class="invalid-msg mt-2"
                      >
                        <small
                          class="invalid-msg"
                          [hidden]="!appSubject.hasError('required')"
                        >
                          Subject is required
                        </small>
                                        <small class="invalid-msg" [hidden]="!appSubject.hasError('minlength')">
                          Min 2 characters is required.
                        </small>
                                        <small class="invalid-msg" [hidden]="!appSubject.hasError('maxlength')">
                          Max 200 characters is required.
                        </small>
                                    </div>
                                </div>
                                <div class="mt-2">
                                    <label class="side-form-label">{{
                          helpContent?.courses_notification?.app_notification
                            ?.label
                        }}
                        <sup>&#x2731;</sup>

                        <!-- <app-info-tooltip for="name" [description]="
                            helpContent?.news_n_announcement
                              ?.app_Notification_Body?.labelHelpContent
                          "></app-info-tooltip> -->
                      </label>

                                    <!-- <jodit-editor
                        [config]="config"
                        name="appNotificationDescrition"
                        class="dropped_content commonInput"
                        [(ngModel)]="basicDetails.AppNotificationDescrition"
                        [minlength]="
                          appNotification.appNotificationDescritionMin
                        "
                        #appBody="ngModel"
                        [required]="basicDetails.AppNotificationCheckBox"
                      >
                      </jodit-editor>

                      <div
                        [hidden]="appBody.valid || appBody.pristine"
                        class="invalid-msg mt-2"
                      >
                        <small
                          class="invalid-msg"
                          [hidden]="!appBody.hasError('required')"
                        >
                          App Notification Body is required
                        </small>

                        <small
                          class="invalid-msg"
                          *ngIf="appBody.errors?.minlength"
                        >
                          Min 20 and Max 1000 characters is required
                        </small>
                      </div> -->

                                    <textarea cols="30" rows="6" class="form-control form-control-input" id="cdesc" placeholder="Content" name="description" [(ngModel)]="basicDetails.AppNotificationDescrition" #content="ngModel" minlength="20" maxlength="1000" [required] = "basicDetails.AppNotificationCheckBox" ngDefaultControl></textarea>
                                    <div [hidden]="content.valid || content.pristine" class="mt-2">
                                        <small class="invalid-msg" [hidden]="!content.hasError('required')">Content is required</small
                      >
                      <small
                        class="invalid-msg"
                        [hidden]="!content.hasError('minlength')"
                        >Minimum 20 and maximum 1000 characters required.</small
                      >
                    </div>


                    </div>
    </div>

    <div class="mt-3 mb-3">
        <div class="form-check form-check-inline">
            <input class="form-check-input"  (click)="setUnsetValidation('sms', $event)" [(ngModel)]="basicDetails.SMSChecked" [checked]="basicDetails.SMSChecked" name="SmsCheck" type="checkbox" id="inlineCheckbox1" value="option1" />
            <label class="form-check-label side-form-label" for="inlineCheckbox1">{{ helpContent?.courses_notification?.text_sms?.label }}

                      <app-info-tooltip
                        for="name"
                        [description]="
                          helpContent?.courses_notification?.text_sms
                            ?.labelHelpContent
                        "
                      ></app-info-tooltip>
                    </label>
        </div>
        <div class="mt-2" [hidden]="!basicDetails.SMSChecked">
            <div>
                <label class="side-form-label">
                        <span
                          >{{ helpContent?.news_n_announcement?.text?.label }}
                          <sup>&#x2731;</sup>
                        </span>
                      </label>
                <textarea type="text" cols="30" rows="2" class="form-control dropped_content commonTextarea" placeholder="Min 20 and Max 140 characters." name="smsContent" [minlength]="smsNotification.min" [maxlength]="smsNotification.max" [(ngModel)]="basicDetails.SMSText"
                    [required]="basicDetails.SMSChecked" #smstext="ngModel" name="smsText"></textarea>
                <!-- maxlength="140" minlength="20" -->

                <div class="text-right font-size-10 mt-2 mb-2">
                    Character count: {{ basicDetails?.SMSText?.length ? basicDetails?.SMSText?.length : 0 }} / 140
                </div>
                <div [hidden]="smstext.valid || smstext.pristine">
                    <small class="invalid-msg" [hidden]="!smstext.hasError('required')">
                          Content is required
                        </small>
                                        <small class="invalid-msg" [hidden]="!smstext.hasError('minlength')">
                          Minimum 20 required.
                        </small>
                                        <small class="invalid-msg" [hidden]="!smstext.hasError('maxlength')">
                          Enter Maximum 140 characters only.
                        </small>
                                    </div>
                                </div>
                    </div>
    </div>
    <div class="mt-3 mb-3">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" type="checkbox"  name="emailCheckBox" (click)="setUnsetValidation('email', $event)" [(ngModel)]="basicDetails.EmailCheckBox" [checked]="basicDetails.EmailCheckBox" />
            <label class="form-check-label side-form-label" for="inlineCheckbox1">{{ helpContent?.courses_notification?.email?.label }}
                      <app-info-tooltip
                        for="name"
                        [description]="
                          helpContent?.courses_notification?.email
                            ?.labelHelpContent
                        "
                      ></app-info-tooltip>
                    </label>
        </div>
        <div class="mt-2" [hidden]="!basicDetails.EmailCheckBox">
            <div>
                <label class="side-form-label">
                        <span
                          >{{
                            helpContent?.news_n_announcement?.subject?.label
                          }}
                          <sup>&#x2731;</sup>
                        </span>
                      </label>
                <textarea type="text" cols="30" rows="2" class="form-control commonTextarea" [required]="basicDetails.EmailCheckBox" [minlength]="emailNotification.emailSubjectMin" [maxlength]="emailNotification.emailSubjectMax" placeholder="Min 20 and Max 1000 characters."
                    name="emailSubject" [(ngModel)]="basicDetails.EmailSubject" #EmailSubject="ngModel"></textarea>
                <!--  pattern=".{6,200}" -->
                <!-- <jodit-editor  [config]="config" name="EmailSubject" [(ngModel)]="basicDetails.EmailSubject" #EmailSubject="ngModel"  required>
                    </jodit-editor> -->
                <div [hidden]="EmailSubject.valid || EmailSubject.pristine" class="invalid-msg mt-2">
                    <small class="invalid-msg" [hidden]="!EmailSubject.hasError('required')">
                          Email Text is required
                        </small>
                    <small class="invalid-msg" *ngIf="EmailSubject.errors?.minlength">
                          Min 2 characters is required.
                        </small>
                    <small class="invalid-msg" *ngIf="EmailSubject.errors?.maxlength">
                          Max 1000 characters is required.
                        </small>
                </div>
            </div>
            <div class="mt-2">
                <label class="side-form-label">{{ helpContent?.news_n_announcement?.body?.label }}
                        <sup>&#x2731;</sup>
                      </label>

                <jodit-editor [config]="config" class="dropped_content commonInput" [(ngModel)]="basicDetails.EmailDescrition" #EmailBody="ngModel" [required]="basicDetails.EmailCheckBox" name="emailBody">
                </jodit-editor>

                <div class="invalid-msg mt-2" [hidden]="EmailBody.valid || EmailBody.pristine">
                    <small class="invalid-msg mt-2" [hidden]="!EmailBody.hasError('required')">
                          Email Body is required
                        </small>
                </div>
            </div>
        </div>
    </div>
    <div class="invalid-msg ml-2">
        Note:- Please select at least one option.
    </div>
    </form>
    </ng-container>
    <ng-container *ngIf="addNewsFormLoading">
        <div class="make-content-center loader-container-height">
            <div class="d-flex justify-content-center">
                <div class="spinner-border text-primary spinner-width-height" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
    </ng-container>
    </div>

    <!-- End addNewsForm  -->

    <!-- category  -->

    <div [hidden]="!(tab.identifier == 'category')" class="min-height-200">
        <div class="row">
            <div class="col-md-12">
                <div class="searchBarNew focus ml-auto" [ngClass]="{ fullserch: showSearchCategory }">
                    <i class="fa fa-search search cursor-p" (click)="showSearchCategoryToggel()"></i>
                    <i class="fa fa-times close-icon cursor-p" (click)="clearSearchCategory()"></i>
                    <input type="text" placeholder="Search..." #reference [(ngModel)]="searchTextCategory" maxlength="20" (keyup)="searchInTree($event)" />
                </div>
            </div>
        </div>
        <div [ngClass]="{
                'make-content-center':
                  categoryFoundNotFound && !categoryListLoading
              }">
            <app-tree [valueChanged]="valueChanged" [inputTab]="tab" [hidden]="!(!categoryFoundNotFound && !categoryListLoading)" [selectedItem]="selectedItem" [showCurrentSelected]="true" [trees]="preparedCategoriesList" (getFolders)="getFolders($event, 'tree', tab)"
                (bread)="openDeepyNestedFolder($event)"></app-tree>
            <ngx-no-data [config]="nocategoryFound" *ngIf="categoryFoundNotFound && !categoryListLoading">
            </ngx-no-data>
        </div>

        <ng-container *ngIf="categoryListLoading">
            <div class="make-content-center loader-container-height">
                <div class="d-flex justify-content-center">
                    <div class="spinner-border text-primary spinner-width-height" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>

    <!-- End category  -->

    <!-- courseList  -->

    <div [hidden]="!(tab.identifier == 'courseList')" class="min-height-200">
        <div class="copy-section-grid bg-light" *ngIf="componentConfig == 'course'">
            <div class="">Copy Session</div>
            <div class="form-group mb-0">
                <select class="custom-select commonInput" (ngModelChange)="selectedSessionValueChange($event)" [(ngModel)]="selectedSession">
                  <option [value]="item?.id" *ngFor="let item of sessionList">
                    {{ item?.name }}
                  </option>
                  <!-- <option value="1">Session 1</option>
                <option value="2">Session 2</option>
                <option value="3">Session 3</option>
                <option value="4">Session 4</option>
                <option value="5">Session 5</option> -->
                </select>
            </div>

            <div class="form-group ml-auto w-75 mb-0">
                <!-- [(ngModel)]="addEditAssetForm.format" #format="ngModel" name='assetfname' (change)="onFormatChange($event)" -->
                <!-- <select
                class="custom-select commonInput"
                (ngModelChange)="selectedProgramValueChange($event)"
                [(ngModel)]="selectedProgram"
              >
                <option value="" selected>Select Program</option>
                <option value="1">SOS Induction</option>
                <option value="2">SOS Indirect</option>
                <option value="3">SOS Direct</option>
                <option value="4">SOS PL</option>

              </select> -->
                <angular2-multiselect [data]="programList" [(ngModel)]="selectedProgram" [settings]="dropdownSettings" (onSelect)="selectedProgramValueChange($event)" name="selectedUsers" ngDefaultControl>
                    <c-item>
                        <ng-template let-item="item">
                            <label class="multiselect-label">{{
                        item.programName ? item.programName : "NA"
                      }}</label>
                        </ng-template>
                    </c-item>
                </angular2-multiselect>
            </div>
        </div>
        <div class="row align-items-center mt-2">
            <div class="col-sm-3">
                <label class="checkbox-inline" *ngIf="selectedSession != ''">
                  <input
                    type="checkbox"
                    [(ngModel)]="selectAllCourses"
                    (ngModelChange)="checkAllCourses($event)"
                  />Select All
                </label>

            </div>
            <div class="col-sm-9">
                <div class="searchBarNew focus ml-auto" [ngClass]="{ fullserch: showSearch }">
                    <i class="fa fa-search search cursor-p" (click)="search()"></i>
                    <i class="fa fa-times close-icon cursor-p" (click)="clearSearch()"></i>
                    <input type="text" placeholder="Search..." #reference [(ngModel)]="searchText" maxlength="20" (keyup)="searchCourses($event)" />
                </div>
            </div>
        </div>
        <div [ngClass]="{
                'make-content-center': courseListNotFound && !courseListLoading
              }">
            <!-- <ng-container> -->
              <div  [hidden]= "!(!courseListNotFound && !courseListLoading)">
                <ngx-bulk-upload-tree [selectedSession]="selectedSession" [invalidArray]="invalidArray" [trees]="preparedCourseModuleList" (getUpdatedCourseList)="getUpdatedCourseList($event)" (bread)="openDeepyNestedFolder($event)">
                </ngx-bulk-upload-tree>
                <div class="text-right total-count mt-1">
                    Total : {{preparedCourseModuleList?.length}}
                </div>
              </div>
               
            <!-- </ng-container> -->
            <ngx-no-data [config]="noCourseListConfig" *ngIf="courseListNotFound && !courseListLoading"></ngx-no-data>
        </div>

        <ng-container *ngIf="courseListLoading">
            <div class="make-content-center loader-container-height">
                <div class="d-flex justify-content-center spinner-container">
                    <div class="spinner-border text-primary spinner-width-height" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>

    <!-- End courseList  -->

    <!-- resultList  -->
    <div *ngIf="tab.identifier == 'resultList'" class="min-height-200">
        <div class="row mb-2">
            <div class="col-md-6 d-inline-flex" *ngIf="componentConfig == 'course'">
                <p class="text-green mr-1">
                    Valid Batch: {{ tableData?.length }}
                </p>
                <p class="text-danger ml-2">
                    Invalid Batch: {{ invalidArray?.length }}
                </p>
            </div>
            <div class="col-md-6 d-inline-flex" *ngIf="componentConfig == 'news'">
                <p class="text-green mr-1">
                    Notification Added: {{ tableData?.length }}
                </p>
                <!-- <p class="text-danger ml-2">Notification Updated: 1</p> -->
            </div>
            <div class="col-md-6 text-right" *ngIf="componentConfig == 'course' && invalidArray?.length != 0">
                <p class="text-muted cursor-p" (click)="exportToExcel()">
                    (Download batches having errors !)
                </p>
            </div>
        </div>
        <ng-container *ngIf="!noResultFound && !resultLoading">
            <ngx-enrol-table [label]="labels" [tableData]="tableData"></ngx-enrol-table>
        </ng-container>
        <div class="loader-container-height" [ngClass]="{
                'make-content-center':
                  resultLoading || (noResultFound && !resultLoading)
              }">
            <ngx-no-data [config]="noResultFoundConfig" *ngIf="noResultFound && !resultLoading"></ngx-no-data>
            <ng-container *ngIf="resultLoading">
                <div class="spin-container"></div>
                <div class="d-flex justify-content-center">
                    <div class="spinner-border text-primary spinner-width-height" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
    <!-- End resultList  -->
    </ngx-tab>
    </ng-container>
    </ngx-tabset>
    </div>
</ngx-sidebar-form>