:host /deep/ {
  .sub-tabs {
    margin: 0;
    padding: 0 !important;
    display: flex;
    justify-content: center;
    border-bottom: 0;
    list-style-type: none;
    li {
      cursor: pointer;
      font-size: 13px;
      color: #575757;
      font-weight: 400;
      padding: 8px 18px;
      letter-spacing: 0.4px;
    }
    li.active {
      z-index: 1;
      font-weight: 600;
      color: #000000;
      margin-bottom: -2px;
      background: #ffffff;
      border: 1px solid #c9c9ca !important;
      border-bottom: none !important;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
    }

  }
  .tabClassIndex{
    li.disabled{
      background-color: #eee !important;
      border-right: 1px solid #ccc;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      /* border-radius: 2px; */
      border-top: 1px solid #ccc;
    }

  }
  .tabClassIndex-inner {
    max-height: calc(100vh - 12.4rem);
    overflow-y: auto;
    overflow-x: hidden;
    }
  .sub-inner {
    padding: 12px;
    border-radius: 3px;
    background: #ffffff;
    border: 1px solid #c9c9ca;
  }
  .form-control:disabled {
    color: #6c757d;
    background-color: #e9ecef;
  }

  .copy-section-grid{
    display: grid;
    grid-template-columns: 1fr 2fr 3fr;
    align-items: center;
    column-gap: 20px;
    padding: 10px;
  }
}

.min-height-200{
  min-height: 200px;

  .spinner-width-height{
    width: 3rem;
    height: 3rem;
  }

}
.total-count{
  margin: 0;
  font-size: 13px;
  font-weight: 400;
  overflow: hidden;
  color: #0000006e;
  white-space: nowrap;
  text-overflow: ellipsis;
  // width: calc(100% - 35px);
  text-transform: capitalize;
}
.text-green{
  color: #28a745 !important;
}
.make-content-center{
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader-container-height{
  height: 180px;
}
.font-size-10{
  font-size: 10px;
}
