<div class="classes_container" style="margin-top: 10px;">
    <div class="basicSave">

    </div>

    <div class="col-md-12">
        <ngx-sidemenu-drower *ngIf="init">
            <div>
                <ngx-drag-chips-component [inputTags]="tagsArray" [vertical]="true"></ngx-drag-chips-component>
            </div>
        </ngx-sidemenu-drower>
        <!-- <div class="menu" >
    <div class="title">Tags</div>
    <div class="nav">
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Work</a></li>
      <li><a href="#">Resources</a></li>
      <li><a href="#">Contact</a></li>
      <ngx-drag-chips-component [vertical]="true" *ngIf="init" [inputTags]="tagsArray" ></ngx-drag-chips-component>
    </div>
</div> -->
        <div class="backgroundCard">
            <form #formData="ngForm">
                <div class="">
                    <label class="container pl-0">
            <span>{{ helpContent?.news_n_announcement?.name?.label }}
              <sup class="reqFieldActivity">*</sup>
              <div class="help-tooltip">
                <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                <div class="help-tooltip-position-right">
                  <p>
                    {{
                      helpContent?.news_n_announcement?.name
                        ?.labelHelpContent
                    }}
                  </p>
                  <i></i>
                </div>
              </div>
            </span>
          </label>

                    <input type="text" class="form-control inputText commonInput" required [minlength]="'2'" [maxlength]="'50'" placeholder="Max 50 characters." name="newsName" [(ngModel)]="basicDetails.NotificationTypeName" #name="ngModel" required />

                    <span></span>

                    <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                        <div [hidden]="!name.hasError('required')">
                            Name is required
                        </div>
                        <div [hidden]="!name.hasError('minlength')">
                            Min 2 characters is required.
                        </div>
                        <div [hidden]="!name.hasError('maxlength')">
                            Max 50 characters is required.
                        </div>
                    </div>
                </div>
                <!-- <div class="">
          <label class="space_left">Description
            <sup class="reqFieldActivity">*</sup> </label>
            <textarea rows="2" maxlength="500" minlength="20" class="form-control"
            [(ngModel)]="basicDetails.detail" placeholder="Min 20 and Max 500 characters." #detail="ngModel"
             required></textarea>
          <span></span>
        </div> -->
                <!-- [ngClass]="{ 'active-border': basicDetails.SMSChecked }" -->
                <div class="grid-add-edit-news-msg mt-2">
                    <!-- <div>
                        <label class="container"><span class="label-checkbox">App<sup class="reqFieldActivity">*</sup> </span>
            <input type="checkbox" value="true" checked="true" [(ngModel)]="basicDetails.AppNotificationCheckBox"
              name="appCheckBox">
            <span class="checkmark"></span>
          </label>


                        <label>{{ helpContent?.news_n_announcement?.app?.label }}
            <sup class="reqFieldActivity">*</sup>
            <div class="help-tooltip">
              <i
                class="fa fa-info-circle tooltip-hover-info-label-round"
                aria-hidden="true"
              ></i>
              <div class="help-tooltip-position-right">
                <p>
                  {{
                    helpContent?.news_n_announcement?.app?.labelHelpContent
                  }}
                </p>
                <i></i>
              </div>
            </div>
          </label>
                    </div> -->
                    <div class="">
                        <label class="container">
              <div class="label-checkbox">
                <span>{{ helpContent?.news_n_announcement?.app?.label }}
                  <!-- <sup class="reqFieldActivity">*</sup> -->
                  <div class="help-tooltip">
                    <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                    <div class="help-tooltip-position-right">
                      <p>
                        {{
                          helpContent?.news_n_announcement?.app
                            ?.labelHelpContent
                        }}
                      </p>
                      <i></i>
                    </div>
                  </div>
                </span>
              </div>
              <input type="checkbox" value="true"
              (ngModelChange)="setUnsetValidation('app',$event)"
               [(ngModel)]="basicDetails.AppNotificationCheckBox"
                name="appCheckBox" />
              <span class="checkmark"></span>
            </label>
                    </div>
                    <div class="app-forms" [hidden]="!basicDetails.AppNotificationCheckBox">
                        <div>
                            <label>{{
                  helpContent?.news_n_announcement?.app_Notification_Subject
                    ?.label
                }}
                <sup class="reqFieldActivity">*</sup>
                <div class="help-tooltip">
                  <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                  <div class="help-tooltip-position-right">
                    <p>
                      {{
                        helpContent?.news_n_announcement
                          ?.app_Notification_Subject?.labelHelpContent
                      }}
                    </p>
                    <i></i>
                  </div>
                </div>
              </label>
                            <!-- {{basicDetails.AppNotificationSubject}} -->
                            <!-- <label>App Notification Subject<sup class="reqFieldActivity">*</sup> </label> -->
                            <input type="text" class="form-control inputText commonInput" [required]="basicDetails.AppNotificationCheckBox" placeholder="Min 2 and Max 200 characters." name="appNotificationSubject" [minlength]="appNotification.notificationSubjectMin" [maxlength]="appNotification.notificationSubjectMax"
                                [(ngModel)]="basicDetails.AppNotificationSubject" #appSubject="ngModel" name="appsubject" />
                            <!-- pattern=".{6,200}" -->

                            <div [hidden]="appSubject.valid || appSubject.pristine" class="alert alert-danger">
                                <div [hidden]="!appSubject.hasError('required')">
                                    Subject is required
                                </div>
                                <div [hidden]="!appSubject.hasError('minlength')">
                                    Min 2 characters is required.
                                </div>
                                <div [hidden]="!appSubject.hasError('maxlength')">
                                    Max 200 characters is required.
                                </div>
                            </div>
                        </div>
                        <div class="margin_top">
                            <label>{{
                  helpContent?.news_n_announcement?.app_Notification_Body?.label
                }}
                <sup class="reqFieldActivity">*</sup>
                <div class="help-tooltip">
                  <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                  <div class="help-tooltip-position-right">
                    <p>
                      {{
                        helpContent?.news_n_announcement?.app_Notification_Body
                          ?.labelHelpContent
                      }}
                    </p>
                    <i></i>
                  </div>
                </div>
              </label>

                            <!-- <label class="left_space" for="des">App Notification Body
              <sup class="reqFieldActivity">*</sup> </label> -->
                            <!-- {{basicDetails.AppNotificationDescrition}} -->
                            <!-- <textarea cols="30" rows="2" class="form-control form-control-input inputText" id="des"
              placeholder="Min 20 and Max 1000 characters." name="appDescription" maxlength="1000" minlength="20"
              [(ngModel)]="basicDetails.AppNotificationDescrition" #appBody="ngModel" name="AppNotification" required
              ngDefaultControl></textarea> -->
                            <jodit-editor [config]="config" name="appNotificationDescrition" class="dropped_content commonInput" [(ngModel)]="basicDetails.AppNotificationDescrition" [minlength]="appNotification.appNotificationDescritionMin" #appBody="ngModel" [required]="basicDetails.AppNotificationCheckBox">
                            </jodit-editor>
                            <!--  minlength="20" -->
                            <div [hidden]="appBody.valid || appBody.pristine" class="alert alert-danger">
                                <div [hidden]="!appBody.hasError('required')">
                                    App Notification Body is required
                                </div>
                                <!-- <div *ngIf="appBody.errors?.pattern">Min 20 and Max 1000 characters.</div> -->
                                <div *ngIf="appBody.errors?.minlength">
                                    Min 2 and Max 1000 characters is required
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- [ngClass]="{ 'active-border': basicDetails.EmailCheckBox }" -->
                <div class="grid-add-edit-news-msg">
                    <div class="">
                        <label class="container">
              <div class="label-checkbox">
                <span>{{ helpContent?.news_n_announcement?.sms?.label }}
                  <!-- <sup class="reqFieldActivity">*</sup> -->
                  <div class="help-tooltip">
                    <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                    <div class="help-tooltip-position-right">
                      <p>
                        {{
                          helpContent?.news_n_announcement?.sms
                            ?.labelHelpContent
                        }}
                      </p>
                      <i></i>
                    </div>
                  </div>
                </span>
                <!-- SMS -->
                <!-- <sup class="reqFieldActivity">*</sup>  -->
              </div>
              <input type="checkbox" value="true"
              (ngModelChange)="setUnsetValidation('sms',$event)"
              [(ngModel)]="basicDetails.SMSChecked" name="SmsCheck" />
              <span class="checkmark"></span>
            </label>
                    </div>
                    <div class="app-forms" [hidden]="!basicDetails.SMSChecked">
                        <div>
                            <label>
                <span>{{ helpContent?.news_n_announcement?.text?.label }}
                  <sup class="reqFieldActivity">*</sup>
                  <div class="help-tooltip">
                    <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                    <div class="help-tooltip-position-right">
                      <p>
                        {{
                          helpContent?.news_n_announcement?.text
                            ?.labelHelpContent
                        }}
                      </p>
                      <i></i>
                    </div>
                  </div>
                </span>
                <!-- Text<sup class="reqFieldActivity">*</sup>  -->
              </label>
                            <textarea type="text" cols="30" rows="2" class="form-control inputText dropped_content commonTextarea" placeholder="Min 2 and Max 144 characters." name="smsContent" [minlength]="smsNotification.min" [maxlength]="smsNotification.max" [(ngModel)]="basicDetails.SMSText"
                                [required]="basicDetails.SMSChecked" #smstext="ngModel" name="smsText"></textarea>
                            <!-- maxlength="140" minlength="20" -->

                            <div class="text-right mt-2 mb-2">
                                Character count: {{ basicDetails?.SMSText?.length ? basicDetails?.SMSText?.length : 0 }} / 140
                            </div>
                            <div [hidden]="smstext.valid || smstext.pristine" class="alert alert-danger">
                                <div [hidden]="!smstext.hasError('required')">
                                    Content is required
                                </div>
                                <div [hidden]="!smstext.hasError('minlength')">
                                    Minimum 2 required.
                                </div>
                                <div [hidden]="!smstext.hasError('maxlength')">
                                    Enter Maximum 140 characters only.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid-add-edit-news-msg">
                    <div>
                        <label class="container">
              <div class="label-checkbox">
                <span>{{ helpContent?.news_n_announcement?.email?.label }}
                  <!-- <sup class="reqFieldActivity">*</sup> -->
                  <div class="help-tooltip">
                    <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                    <div class="help-tooltip-position-right">
                      <p>
                        {{
                          helpContent?.news_n_announcement?.email
                            ?.labelHelpContent
                        }}
                      </p>
                      <i></i>
                    </div>
                  </div>
                </span>

                <!-- Email -->
                <!-- <sup class="reqFieldActivity">*</sup>  -->
              </div>
              <input type="checkbox" value="true" name="emailCheckBox"
              (ngModelChange)="setUnsetValidation('email',$event)"
              [(ngModel)]="basicDetails.EmailCheckBox"  />
              <span class="checkmark"></span>
            </label>
                    </div>
                    <div class="app-forms" [hidden]="!basicDetails.EmailCheckBox">
                        <div>
                            <label>
                <span>{{ helpContent?.news_n_announcement?.subject?.label }}
                  <sup class="reqFieldActivity">*</sup>
                  <div class="help-tooltip">
                    <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                    <div class="help-tooltip-position-right">
                      <p>
                        {{
                          helpContent?.news_n_announcement?.subject
                            ?.labelHelpContent
                        }}
                      </p>
                      <i></i>
                    </div>
                  </div>
                </span>

                <!-- Text<sup class="reqFieldActivity">*</sup>  -->
              </label>
                            <textarea type="text" cols="30" rows="2" class="form-control inputText commonTextarea" [required]="basicDetails.EmailCheckBox" [minlength]="emailNotification.emailSubjectMin" [maxlength]="emailNotification.emailSubjectMax" placeholder="Min 2 and Max 1000 characters."
                                name="emailSubject" [(ngModel)]="basicDetails.EmailSubject" #EmailSubject="ngModel"></textarea>
                            <!--  pattern=".{6,200}" -->
                            <!-- <jodit-editor  [config]="config" name="EmailSubject" [(ngModel)]="basicDetails.EmailSubject" #EmailSubject="ngModel"  required>
              </jodit-editor> -->
                            <div [hidden]="EmailSubject.valid || EmailSubject.pristine" class="alert alert-danger">
                                <div [hidden]="!EmailSubject.hasError('required')">
                                    Email Text is required
                                </div>
                                <div *ngIf="EmailSubject.errors?.minlength">
                                    Min 2 characters is required.
                                </div>
                                <div *ngIf="EmailSubject.errors?.maxlength">
                                    Max 1000 characters is required.
                                </div>
                            </div>
                        </div>
                        <div class="mt-2">
                            <label>{{ helpContent?.news_n_announcement?.body?.label }}
                <sup class="reqFieldActivity">*</sup>
                <div class="help-tooltip">
                  <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                  <div class="help-tooltip-position-right">
                    <p>
                      {{
                        helpContent?.news_n_announcement?.body?.labelHelpContent
                      }}
                    </p>
                    <i></i>
                  </div>
                </div>
              </label>

                            <!-- <label class="left_space" for="des">Body
              <sup class="reqFieldActivity">*</sup> </label> -->
                            <!-- <textarea cols="30" rows="2" class="form-control form-control-input inputText" id="des"
              placeholder="Min 20 and Max 1000 characters." name="emailDescription" maxlength="1000" minlength="20"
              [(ngModel)]="basicDetails.EmailDescrition" #EmailBody="ngModel" required ngDefaultControl></textarea> -->

                            <jodit-editor [config]="config" class="dropped_content commonInput" [(ngModel)]="basicDetails.EmailDescrition" #EmailBody="ngModel" [required]="basicDetails.EmailCheckBox" name="emailBody">
                            </jodit-editor>
                            <!--  maxlength="1000" minlength="20" -->
                            <div [hidden]="EmailBody.valid || EmailBody.pristine" class="alert alert-danger">
                                <div [hidden]="!EmailBody.hasError('required')">
                                    Email Body is required
                                </div>
                                <!-- <div *ngIf="EmailBody.errors?.minlength">
                  Min 20 and Max 1000 characters is required.
                </div> -->
                            </div>
                        </div>
                        <!-- <div class="form-group">
            <label class="left_space" for="des">Attachment
              <sup class="reqFieldActivity">*</sup> </label>
            <div class="uploadCard">
              <div>
                <div class="form-group inputDnD">

                  <label class="sr-only" for="inputFile">File Upload</label>
                  <input type="file" title="{{selectFileTitle}}" #fileUpload [(ngModel)]="basicDetails.attachRef"
                    class="form-control-file text-success font-weight-bold" id="inputFile" name="inputFile"
                    accept=".png, .jpg, .jpeg, .csv,.xls,.xlsx, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                    (change)="readFileUrl($event)" attr.data-title="{{fileName}}">
                </div>
              </div>
            </div>
          </div> -->
                    </div>
                </div>
                <div class="alert alert-danger  ml-2">
                    Note:- Please select at least one option.
                </div>
            </form>


        </div>

    </div>
</div>