@import '../../../../@theme/styles/variable.scss';
.classes_container {
    .uploadCard {
        background: #fff;
        width: 100%;
        padding: 10px;
        margin: auto;
        margin-top: 10px;
    }
    .inputDnD {
        // height: 14em;
        .form-control-file {
            position: relative;
            width: 100%;
            height: 100%;
            min-height: 6em;
            outline: none;
            visibility: hidden;
            cursor: pointer;
            background-color: #c61c23;
            box-shadow: 0 0 5px solid currentColor;
            &::before {
                color: #ed462f;
                content: attr(data-title);
                position: absolute;
                left: 0;
                width: 100%;
                height: 6em;
                line-height: 5.5em;
                opacity: 1;
                visibility: visible;
                text-align: center;
                border: 0.15em dashed #9ea4a5;
                -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
                transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
                overflow: hidden;
            }
            &::hover {
                &:before {
                    border-style: solid #076ba1;
                    /*box-shadow: inset 0px 0px 0px 0.25em currentColor;*/
                }
            }
        }
    }
    .grid-add-edit-news-msg {
        padding-top: 10px;
        display: grid;
        grid-template-columns: 1fr 3fr;
        .label-checkbox {
            font-size: 14px;
            //  line-height: 40px;
            color: #313131;
        }
        .container {
            display: block;
            position: relative;
            padding-left: 35px;
            margin-bottom: 12px;
            cursor: pointer;
            font-size: 22px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        /* Hide the browser's default checkbox */
        .container input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }
        /* Create a custom checkbox */
        .checkmark {
            position: absolute;
            top: 1px;
            left: 5px;
            height: 18px;
            width: 18px;
            margin: 0 0 0 0;
            background-color: #fff;
            // border: 1px solid #076ba1;
            border: 1px solid var(--colorCommon);
        }
        /* On mouse-over, add a grey background color */
        .container:hover input~.checkmark {
            background-color: #fff;
        }
        /* When the checkbox is checked, add a blue background */
        .container input:checked~.checkmark {
            // background-color: #2196F3;
        }
        /* Create the checkmark/indicator (hidden when not checked) */
        .checkmark:after {
            content: "";
            position: absolute;
            display: none;
        }
        /* Show the checkmark when checked */
        .container input:checked~.checkmark:after {
            display: block;
        }
        /* Style the checkmark/indicator */
        .container .checkmark:after {
            left: 5px;
            top: 1px;
            width: 6px;
            height: 12px;
            // border: solid #076ba1;
            border: solid var(--colorCommon);
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    }
    .grid-add-edit-news-app {
        display: grid;
        grid-template-columns: 1fr 3fr;
        .label-checkbox {
            font-size: 14px;
            //  line-height: 40px;
            color: #313131;
        }
        .container {
            display: block;
            position: relative;
            padding-left: 35px;
            margin-bottom: 12px;
            cursor: pointer;
            font-size: 22px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        /* Hide the browser's default checkbox */
        .container input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }
    }
    .basicSave {
        position: absolute;
        top: 67px;
        // z-index: 2;
        z-index: 7;
        right: 104px;
    }
    .backgroundCard {
        padding: 15px;
        background: #fff;
    }
    .margin_top {
        margin-top: 10px;
    }
}

div#mySidenav::-webkit-scrollbar {
    width: 8px;
}

.allowed {
    cursor: pointer;
}

.not {
    cursor: not-allowed;
}