<div class="gamification_main_container">
  <div class="floterightm mar12 col-md-12">  
    <div class="text-right">
        <!-- <button type="submit" class="courseRewardsBackBtn floteright" (click)="back()">Back</button> -->
      <button type="button" class="constantbtn-button-blue-left" (click)="saveGame()">Save</button>
   </div>
  </div> 
  <div class="col-md-12 ladderContainer">
      <ul class="myladder">
          <li *ngFor="let ladders of ladder"  id="ladder-list">
             <!--  <h3 class="headings">{{ ladders.label }}  <input type="checkbox" checked="checked">
                  <span class="checkmark"></span></h3>
                  <p class="description">{{ ladders.desc }}</p> -->
              <h4 class="card-title ladderHeadings">
                <label class="mysqrcheck sqrCheckBoxLadder pointer width100 ladderlabel ">
                  <input id="mEnrol-{{ ladders.label }}" type="checkbox" name="manualEnrol-{{ ladders.label }}" class="marginRight5px">
                  <label class="sqrCheckBoxLadderLabel " for="mEnrol-{{ ladders.label }}"></label>
                    {{ ladders.label }}
                    
                </label>
              </h4>  
              <p class="description ladderDesc">{{ ladders.desc }}</p>
              <!-- </div> -->
          </li>    
      </ul>
  </div>

  
</div>



       
      
