@import '../../../../@theme/styles/variable.scss';
.add_edit_leadership {
    .tabset>.nav .nav-tabs {
        width: 100%;
    }
    .tabset>.nav .nav-tabs>li {
        width: 33%;
    }
    .tabset>.nav .nav-tabs>li>a {
        width: 100%;
    }
    .tabset>ul {
        background: #fff;
        height: 55px;
        position: sticky;
        padding-left: 0px;
        top: 66px;
        z-index: 1030;
        padding: 0px;
    }
    .tabset>ul>li>a>span>i {
        font-size: 20px;
        display: block;
        height: 100%;
    }
    .tabset>ul>li>a>span>i>b {
        display: block;
        font-weight: 500;
        font-style: normal;
        font-size: 16px;
    }
    .tabset>ul>li>a>.span {
        width: 100%;
    }
    .tabset>ul>li:last-child a {
        border-top-right-radius: 5px;
    }
    .tabset>ul>li.active>a {
        background-color: #bec0c1;
        color: #fff;
    }
    .tabset>ul>li.active {
        width: 20px;
        height: 20px;
        border-radius: 20px;
        position: inherit;
        // right: calc(50% - 70px);
        top: 75px;
        background-color: transparent;
        border: none;
        outline: 0;
    }
    .nav.nav-tabs>li.active>a {
        border-bottom: 3px solid #076ba1;
        background-color: #fff;
        color: #076ba1;
        border-radius: 0px;
    }
    .nav-tabs>li>a:hover {
        border-color: #fff #fff #fff;
    }
    .tabset>ul>li {
        width: 22%;
        height: 100%;
        // border-radius: 0px;
    }
    .tabset>ul>li:hover>a {
        color: #076ba1;
        border-radius: 0px;
        background-color: #ffffff;
        transform: none;
        transition: none;
    }
    .nav.nav-tabs {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom: none;
        background-color: white;
    }
    .nav-tabs>li.active>a,
    .nav-tabs>li.active>a:focus,
    .nav-tabs>li.active>a:hover {
        border: 1px solid #fff;
    }
    .btn:focus {
        // outline: 0;
        // box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
        box-shadow: none;
    }
    .btn:active {
        // box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
        box-shadow: none;
    }
    .search_content {
        display: grid;
        grid-template-columns: 1fr 0fr;
        grid-column-gap: 10px;
        padding: 12px;
        align-items: center;
    }
    .imageTitle {
        display: grid;
        grid-template-columns: 1fr 0fr;
    }
    .tabBorder {
        border-radius: 0px;
    }
    .tabset>ul>li>a {
        width: 100%;
        background-color: transparent;
        color: #686868;
        height: 55px;
        border-bottom: none;
        line-height: 3;
    }
    .panelCol {
        padding: 0;
    }
    .formGen {
        width: 100%;
    }
    .formGenCard1 {
        padding: 15px;
    }
    .badgeDesc {
        text-align: justify;
        line-height: 20px;
    }
    .formCustCard {
        margin-top: 25px;
        padding-right: 25px;
    }
    .ag-theme-balham {}
    .CustomFieldsformGenCard1,
    .CustomFieldsformGenCard2,
    .CustomFieldsformGenCard3,
    .CustomFieldsformGenCard4,
    .CustomFieldsformGenCard5,
    .CustomFieldsformGenCard6,
    .CustomFieldsformGenCard7 {
        margin-bottom: 0;
    }
    .CustomFieldscardForm1,
    .CustomFieldscardForm2,
    .CustomFieldscardForm3,
    .CustomFieldscardForm4,
    .CustomFieldscardForm5,
    .CustomFieldscardForm6,
    .CustomFieldscardForm7 {
        cursor: pointer;
        margin-bottom: 0;
    }
    .CustomFieldscardBody1,
    .CustomFieldscardBody2,
    .CustomFieldscardBody3,
    .CustomFieldscardBody4,
    .CustomFieldscardBody5,
    .CustomFieldscardBody6,
    .CustomFieldscardBody7 {
        padding: 15px 15px 0px 15px;
    }
    #right_float {
        float: right;
    }
    [data-toggle="collapse"] i:before {
        content: "\f139";
    }
    [data-toggle="collapse"].collapsed i:before {
        content: "\f13a";
    }
    .btn-group-xs>.btn,
    .btn-xs {
        padding: 0px 5px;
        font-size: 12px;
    }
    .headCard {
        display: flex;
    }
    .align-right {
        float: right;
    }
    .custTitle {
        float: left;
        margin-bottom: 0;
    }
    .leftTitle {
        float: left;
    }
    .headerCard {
        display: inline-block;
        width: 100%;
    }
    .arrow_right {
        float: right;
    }
    .downArrow {
        color: #ed462f;
    }
    .txtHeight {
        height: 34px;
    }
    .datestyle {
        padding: 5px 10px;
        width: 94%;
        border-right: 0px solid #dadfe6;
        border-bottom: 2px solid #dadfe6;
        border-left: 2px solid #dadfe6;
        border-top: 2px solid #dadfe6;
    }
    .form-control-input {
        border-radius: 0;
    }
    .topBorderForm {
        /*border-top: 1px solid #076ba1;*/
        /*margin-bottom: 10px*/
    }
    nb-tabset nb-tab {
        // height: -webkit-fill-available;
    }
    .reqField {
        display: inline;
        color: #ed462f;
    }
    .sticky-top {
        position: sticky;
        top: 66px;
        //z-index: 1030;
    }
    .inpucal {
        width: 100%;
        height: 35px;
    }
    .btnCal {
        width: 35px;
        height: 35px;
        float: right;
    }
    .spancal {
        width: 100%;
        display: inline-flex;
    }
    .cal_icon {
        background: url(assets/images/calendar-icon.png) no-repeat;
        background-size: 100% 100%;
    }
    .cardDesc {
        margin-top: 5px;
        margin-bottom: 0;
    }
    .selectDrop {
        height: 2.5rem;
        cursor: pointer;
    }
    #content {
        width: 100%;
        height: 100%;
    }
    #contentInside {
        display: inline-flex;
    }
    .menuSeprator {
        border-top-color: #9E9E9E;
        // margin-top: 2rem;
        margin-top: 0;
    }
    .featureSeprator {
        border-top-color: #ececec;
        margin-top: 0;
    }
    .menuUL {
        list-style-type: none;
    }
    label {
        // border-radius: 5px;
        // padding: 3px;
        // padding-left: 25px;
        color: #8b8b8b;
        // width: 100%;
        // padding-left: 10px;
    }
    .menuUL>li {
        /*margin: 10px;
  padding: 5px;
  border: 1px solid #ABC;
  border-radius: 5px;*/
    }
    .expandFeatures {
        display: none;
    }
    .expandFeatures~ul {
        max-height: 0;
        max-width: 0;
        opacity: 0;
        overflow: hidden;
        white-space: nowrap;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
    .expandFeatures:checked~ul {
        max-height: 100%;
        max-width: 100%;
        opacity: 1;
        margin-left: 15px;
    }
    .expandFeatures+label:before {
        transform-origin: 25% 50%;
        border: 8px solid transparent;
        border-width: 8px 12px;
        border-left-color: #aaafab;
        width: 0;
        height: 0;
        display: inline-block;
        text-align: center;
        content: '';
        color: #AAAFAB;
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
        position: relative;
        margin-top: 1px;
        float: right;
    }
    .expandFeatures:checked+label:before {
        transform: rotate(90deg);
    }
    .menu {
        position: relative;
    }
    .menu .menuLabel {
        border: 1px solid #ccc;
        border-radius: 50%;
        cursor: pointer;
        height: 20px;
        left: -7px;
        position: absolute;
        top: 0;
        width: 20px;
        margin-top: 4px;
    }
    .menu .menuLabel:after {
        border: 2px solid #fff;
        border-top: none;
        border-right: none;
        content: "";
        height: 6px;
        left: 3.5px;
        opacity: 0;
        position: absolute;
        top: 5.2px;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        width: 12px;
    }
    .menu input[type="checkbox"] {
        visibility: hidden;
    }
    .menu input[type="checkbox"]:checked+.menuLabel {
        background-color: #66bb6a;
        border-color: #66bb6a;
    }
    .menu input[type="checkbox"]:checked+.menuLabel:after {
        opacity: 1;
    }
    // .magin20px
    // {
    //   margin: 20px
    // }
    .accdata {
        display: inline-flex;
        margin-top: 7px;
    }
    .dropheight {
        height: 39px;
    }
    .margintop10 {
        margin-top: 10px;
    }
    .toolButrole {
        float: right;
        background: transparent;
        border: none;
    }
    .crossbuttonrole {
        padding: 10px;
        text-align: right;
        position: relative;
        top: -21px;
        color: red;
    }
    button:focus {
        outline: none;
    }
    // .sqrCheckBox .sqrCheckBoxLabel:after {
    //   // border: 2px solid #fff;
    //   border: 2px solid #076ba1;
    //   border-top: none;
    //   border-right: none;
    //   content: "";
    //   height: 4px;
    //   left: 1.5px;
    //   opacity: 0;
    //   position: absolute;
    //   top: 4.0px;
    //   -webkit-transform: rotate(-45deg);
    //   transform: rotate(-45deg);
    //   width: 12px;
    // }
    .mardis {
        margin: 10px
    }
    #ladder-list {
        margin: 0;
        padding: 0;
        list-style: none;
        border-radius: 5px;
        margin-bottom: 20px;
    }
    .addRuleBackdrop1 {
        // position: absolute;
        // width: 100%;
        // height: 100%;
        // top: 67px;
        // background-color: #404040c2;
        // z-index: 2000;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        z-index: 1503;
        background-color: #404040c2;
        .addRuleDemoModal1 {
            /*width: 80%;*/
            // width: 50%;
            // margin: auto;
            // background-color: #fff;
            // margin-top: 50px;
            // border-radius: 5px;
            width: 50%;
            margin: auto;
            background-color: #fff;
            margin-top: 65px;
            border-radius: 5px;
        }
    }
    .mar1510 {
        margin: 5px 10px;
    }
    .imgsrc {
        width: 60%;
        height: 8vw;
        margin: 5px;
        margin-left: 5%;
    }
    .top75 {
        top: 50%;
    }
    /* The custom radio */
    .customRadio123 {
        display: block;
        position: relative;
        padding-left: 30px;
        margin-bottom: 12px;
        // cursor: pointer;
        font-size: 14px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    /* Hide the browser's default radio button */
    .customRadio123 input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }
    /* Create a custom radio button */
    .customCheckRound123 {
        position: absolute;
        top: 4px;
        left: 0;
        height: 15px;
        width: 15px;
        background-color: #fff;
        border-color: #076ba1;
        border-style: solid;
        border-width: 2px;
        border-radius: 50%;
    }
    /* When the radio button is checked, add a blue background */
    .customRadio123 input:checked~.customCheckRound123 {
        background-color: #fff;
    }
    /* Create the indicator (the dot/circle - hidden when not checked) */
    .customCheckRound123:after {
        content: "";
        position: absolute;
        display: none;
    }
    /* Show the indicator (dot/circle) when checked */
    .customRadio123 input:checked~.customCheckRound123:after {
        display: block;
    }
    /* Style the indicator (dot/circle) */
    .customRadio123 .customCheckRound123:after {
        left: 1px;
        top: 1px;
        width: 9px;
        height: 9px;
        border-radius: 50%;
        background: #076ba1;
    }
    // Round radio button end  //
    .floatrig {
        float: right;
    }
    .floatleft {
        float: left;
    }
    .displayin {
        display: inline;
        padding: 10px;
        cursor: pointer;
    }
    // .mbody
    // {
    //   height: 400px;
    // }
    .topDivRe {
        height: 323px;
        overflow-y: scroll;
    }
    .checkboxsize {
        width: 33px;
        height: 21px;
    }
    .h5margin {
        margin-top: 0px;
    }
    .imgsrc2 {
        width: 75%;
        height: 50%;
        margin: 5px 30px;
    }
    .cardTitle {
        background: #076ba1;
        color: #ffff;
        padding: 10px;
        margin-bottom: 0;
        margin-top: 0;
        width: 100%;
    }
    .badgeCount1 {
        display: inline-block;
        padding: 1.4em 1.2em;
        font-size: 100%;
        font-weight: bold;
        line-height: 0;
        // color: #ed462f;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        border-radius: 50px;
        // background: #ffffff;
        // border: 1px solid #ed462f;
        // background: #076ba1;
        background: var(--colorCommon);
        color: #fff;
    }
    .marmid {
        margin: 3% 0;
        text-align: center;
    }
    .crossdelete {
        text-align: right;
        padding-right: 0px;
        margin-top: 1%;
        width: 15px;
    }
    .stepForm {
        margin: 0 15px;
    }
    .crossicon {
        color: #076ba1;
    }
    .col11 {
        padding-right: 0px;
        padding-left: 0px;
    }
    .disgrid {
        display: grid;
    }
    .marbott {
        margin-bottom: 15px;
    }
    .textareaLadder {
        padding-left: 15px;
    }
    .maebott20 {
        margin-bottom: 20px;
    }
    .marsub {
        margin: 0 44%;
    }
    .marsub1 {
        margin-left: 46%;
        margin-top: 1%;
        margin-bottom: 1%;
    }
    .userSubButEnroll {
        float: right;
        /* margin-left: 30px; */
        /*margin-top: 8px;*/
        transform: none;
        background: #fff;
        height: 55px;
        margin: 0 auto;
        padding: 13.5px;
    }
    .sticky-topEnroll {
        position: sticky;
        top: 66px;
        /*z-index: 1090;*/
        z-index: 998;
    }
    .usersubdiv1Enroll {
        float: left;
        margin-top: 4px;
    }
    .floterightEnroll {
        float: right;
        //border-bottom: 1px solid #076ba1     ;
    }
    .stepCard {
        display: grid;
        grid-template-columns: 0fr 1fr 0fr;
        grid-column-gap: 20px;
        align-items: center;
        padding: 15px;
    }
    .alignInnerCOntentOfCard {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 20px;
        align-items: start;
    }
    .imageGrid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 20px;
        -webkit-box-align: start;
        align-items: start;
    }
    .ladderTabset>ul {
        background: #fff;
        // border-bottom: 1px solid #076ba1;
        border-bottom: 1px solid var(--colorCommon);
        padding-left: 0;
        padding-right: 0;
        position: -webkit-sticky;
        position: sticky;
        top: 67px;
        z-index: 1090;
    }
    // ul{
    //   background: #fff;
    // }
    .ladderTabset>ul>li.active>a {
        // color: #076ba1;
        color: var(--colorCommon);
    }
    .ladderTabset>ul>li>a::before {
        // background: #076ba1;
        background: var(--colorCommon);
    }
    .ladderTabset>ul>li>a:hover {
        // color: #076ba1;
        color: var(--colorCommon);
    }
    .optbtnNewEnroll {
        border-radius: 0;
        background: #ed462f;
        color: #fff;
        border: #076ba1;
        height: 28px;
        /*width: 91px;*/
        transform: none;
    }
    #editbtnEnroll {
        margin: 0 10px;
        border-radius: 0;
        background: #076ba1;
        color: #fff;
        border: #076ba1;
        height: 28px;
        /*width: 92px;*/
        color: #ffffff;
        background-color: #076ba1;
        background-image: none;
        border-color: #076ba1;
        transform: none;
    }
    .ladderDetailsTab,
    .ladderMoudulesTab,
    .ladderEngageTab {
        margin-top: 10px;
        // margin-top: 0     ;
    }
    .increaseCount {
        width: auto;
        padding: 7px;
        margin-top: 1vw;
        margin-right: 1vw;
        background: #076ba1;
        color: white;
        border: none;
    }
    .increaseCountDiv {
        text-align: right;
    }
    /* The container */
    .container {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 15px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        font-weight: 100;
        color: #2196F3;
    }
    /* Hide the browser's default checkbox */
    .container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }
    /* Create a custom checkbox */
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 18px;
        width: 18px;
        background-color: #eee;
    }
    /* On mouse-over, add a grey background color */
    .container:hover input~.checkmark {
        background-color: #ccc;
    }
    /* When the checkbox is checked, add a blue background */
    .container input:checked~.checkmark {
        background-color: #2196F3;
    }
    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }
    /* Show the checkmark when checked */
    .container input:checked~.checkmark:after {
        display: block;
    }
    /* Style the checkmark/indicator */
    .container .checkmark:after {
        left: 7px;
        top: 3px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    .btndiv {
        padding: 10px;
        top: 66px;
        z-index: 1000;
        background: #fff;
        border-bottom: 1px solid #076ba1;
        height: 55px;
        position: sticky;
    }
    // nb-tabset ul{
    //   background: #fff;
    // }
    .catrow1 {
        height: auto;
        width: 100%;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        margin: 0px;
        padding: 0px;
        justify-content: center;
    }
    form-group {
        margin-bottom: 0;
    }
    .countDiv {
        margin-top: 5px;
    }
    .catrow1>div {
        // width: 100%;
        // padding: 0;
        // margin:3%;
        // height: 100%;
        width: 100%;
        padding: 0;
        margin: 4% 0 0 4%;
        height: 100%;
        flex: 0 0 20%;
        a {
            text-align: center;
        }
        a>img {
            // width: 100%;
            width: 100%;
            // height: 100%;
            height: 61.656px;
            // height: 190px;
        }
        div {
            width: 100%;
            // margin: 0.7rem 0;
            .toolcatp1 {
                text-align: center;
                margin: 1% 0%;
                // width: 92%;
                width: 100%;
                cursor: pointer;
                font-size: 14px;
                font-weight: 400;
                color: black;
            }
            .toolcat1 {
                width: 8%;
                float: right;
                margin: 3% 0%;
            }
        }
    }
    .catsep {
        border-bottom: 1px solid #f1f5f8;
        margin-bottom: 5px;
    }
    .activeBadge {
        border: 1px solid #076ba1;
        background-color: #e9eef1;
    }
    .badgeimg {
        width: 200px;
        height: 100px;
    }
    .badgeRemove {
        float: right;
    }
    .badgeImgDiv {
        border-radius: 0;
    }
    .imageTitle {
        display: grid;
        grid-template-columns: 1fr 0fr;
        align-items: center;
        padding: 0 5px;
    }
    .badgeimgname {
        font-size: smaller;
        text-align: left;
        margin-bottom: 5px;
    }
    .selectBadgeDiv {
        //margin-top: 10%;
        //border: 1px solid #cdc9c9;
        // height: 30px;
        // width: 100%;
    }
    .activeCert {
        border: 1px solid #076ba1;
        background-color: #e9eef1;
    }
    .selectP {
        margin-bottom: 8px;
    }
    .close {
        float: right;
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1;
        color: #fff;
        text-shadow: 0 1px 0 #fff;
        opacity: .5;
    }
    .modal-header {
        background-color: #076ba1;
        height: 55px;
        color: #fff;
    }
    .modal-body .row {
        margin: 20px 0;
    }
    .modal-body {
        position: relative;
        padding: 0;
        box-sizing: border-box;
    }
    .enableDisableModalBodyP {
        margin: 1rem;
    }
    .modal-footer {
        height: 55px;
    }
    .catrow {
        height: auto;
        width: 100%;
        display: inline-flex;
        margin: 0px;
        padding: 0px;
    }
    .catrowEng>div {
        // width: 100%;
        // padding: 0;
        // margin:3%;
        // height: 100%;
        width: 100%;
        padding: 0;
        margin: 4% 0 0 4%;
        height: 100%;
        flex: 0 0 20%;
        a {
            text-align: center;
        }
        a>img {
            // width: 100%;
            width: 100%;
            // height: 100%;
            height: 125.656px;
            // height: 190px;
        }
        div {
            width: 100%;
            // margin: 0.7rem 0;
            .toolcatpEng {
                text-align: center;
                margin: 1% 0%;
                // width: 92%;
                width: 100%;
                cursor: pointer;
                font-size: 15px;
                font-weight: 400;
                color: black;
            }
            .toolcatEng {
                width: 8%;
                float: right;
                margin: 3% 0%;
            }
        }
    }
    .catsepEng {
        border-bottom: 1px solid #f1f5f8;
        margin-bottom: 5px;
    }
    .addSelfDemoModalCat {
        margin: auto;
        width: 50%;
        background-color: #fff;
        border-radius: 5px;
        margin-top: 2%;
    }
    .modal-header {
        background-color: #076ba1;
        height: 55px;
        color: #fff;
    }
    .modal-footer {
        height: 55px;
    }
    .close {
        float: right;
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1;
        color: #fff;
        text-shadow: 0 1px 0 #fff;
        opacity: .5;
        outline: none;
    }
    .constantbtn {
        width: auto;
        border: none;
        padding: 6px 14px;
        background-color: #076ba1;
        color: #fff;
        text-transform: uppercase;
        min-width: 90px;
        max-height: 29px;
    }
    .floterightgami {
        float: right;
    }
    .OuterDiv {
        padding: 20px;
        width: 100%;
    }
    .InnerDiv {
        padding-bottom: 10px;
        p {
            color: black;
        }
    }
    .courseEngage123 {
        margin: 20px;
    }
    .content-box {
        margin: 10px 0;
        .engage-content-area,
        .ql-snow {
            height: 100px;
        }
    }
    .flex_col2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .addEditLadder_page_container {
        .content_width {
            width: 82vw;
            margin: 0 auto;
        }
        .addEditCategory_header {
            // background: #fff;
            position: sticky;
            top: 3.75rem;
            z-index: 1020;
            .header_grid {
                display: grid;
                padding: 0 10px;
                grid-template-columns: 1fr 1fr;
                align-items: center;
                height: 50px;
                background: #fff;
                .header_title {
                    h4 {
                        text-align: left;
                        font-size: 20px;
                        margin: 5px 10px auto;
                    }
                }
                .buttons_container {
                    text-align: right;
                }
            }
        }
        .inside_form_container {
            // display: grid;
            // grid-template-columns: 1fr 1fr;
            background: #fff;
            // margin: 20px;
            .form_div {
                padding: 15px;
            }
            .form_grid {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-column-gap: 30px;
                .left_form_container {}
                .right_form_container {}
                .form_container {
                    .flex_header {
                        display: flex;
                        h5 {
                            width: 100%;
                            margin: 0;
                            align-self: center;
                        }
                    }
                }
                .five_col_grids {
                    display: grid;
                    grid-template-columns: 3fr 3fr 2fr 2fr 1fr;
                    grid-column-gap: 20px;
                    align-items: center;
                }
                .form_field_container {
                    margin: 20px 0;
                    // .select_field_height{
                    //   height: 35px;
                    //   width: 100%;
                    // }
                    label {
                        color: #666666;
                    }
                    .required_mark {
                        font-size: 20px;
                        font-weight: 100;
                        top: -0.3em;
                        color: #ed462f;
                    }
                    //   .select_field_height{
                    //     height: 35px;
                    //     width: 100%;
                    // }
                    .image_upload_container {
                        margin-top: 15px;
                        .image_preview {
                            height: 170px;
                            width: 300px;
                            margin-right: auto;
                            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
                            padding: 10px;
                            background: #fff9f9;
                            position: relative;
                            .image_preview_container {
                                height: 150px;
                                width: 100%;
                                background-size: cover;
                                background-position: center;
                                background-repeat: no-repeat;
                                display: grid;
                                grid-template-columns: 1fr 1fr;
                                // position: absolute;
                                grid-column-gap: 20px;
                                align-items: end;
                                // margin-top: -10px;
                                // img{
                                //   width: 100%;
                                //   height: 100%;
                                // }
                                .icon_upload_image {
                                    // text-align: right;
                                    // margin-left: auto;
                                    margin-left: 10px;
                                    margin-bottom: 10px;
                                    label {
                                        display: flex;
                                        align-items: center;
                                        // align-content: 
                                        justify-content: center;
                                        // justify-items: center;
                                        background: #fff;
                                        color: #076ba1;
                                        height: 40px;
                                        width: 40px;
                                        border-radius: 50%;
                                        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
                                        margin-bottom: 0;
                                        padding: 0;
                                        i {
                                            line-height: 40px;
                                        }
                                    }
                                    // margin: 0 auto;
                                }
                                .icon_delete {
                                    // text-align: right;
                                    // margin-right: auto;
                                    margin-left: auto;
                                    margin-right: 10px;
                                    margin-bottom: 10px;
                                    display: flex;
                                    align-items: center;
                                    // align-content: 
                                    justify-content: center;
                                    // justify-items: center;
                                    background: #fff;
                                    color: #076ba1;
                                    height: 40px;
                                    width: 40px;
                                    border-radius: 50%;
                                    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
                                    // margin: 0;
                                    padding: 0;
                                    i {
                                        line-height: 40px;
                                    }
                                }
                                //   .buttons_image_preview{
                                //     // display: grid;
                                //     // grid-template-columns: 1fr 1fr;
                                //     // // position: absolute;
                                //     // grid-column-gap: 20px;
                                //     // align-items: end;
                                //     // margin-top: -10px;
                                // }
                            }
                        }
                    }
                    .not_found {
                        background-image: url('assets/images/survey.png');
                    }
                }
            }
        }
    }
    .sqrCheckBox .sqrCheckBoxLabel {
        border: 1px solid #ccc;
        border-radius: none;
        cursor: pointer;
        height: 16px;
        left: 5px;
        position: -webkit-sticky;
        position: relative;
        width: 16px;
        // top: 8px   ;
        top: 9.5px;
        margin-right: 10px;
        background: white;
    }
    .sqrCheckBox .sqrCheckBoxLabel:after {
        // border: 2px solid #fff;
        // border: 2px solid #076ba1;
        border: 2px solid var(--colorCommon);
        border-top: none;
        border-right: none;
        content: "";
        height: 4px;
        left: 1.5px;
        opacity: 0;
        position: absolute;
        top: 4.0px;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        width: 12px;
    }
    .sqrCheckBox input[type="radio"] {
        visibility: hidden;
        background: white;
        display: none;
    }
    .sqrCheckBox input[type="radio"]:checked+.sqrCheckBoxLabel {
        background-color: #ffffff;
        // border-color: #076ba1;
        border-color: var(--colorCommon);
    }
    .sqrCheckBox input[type="radio"]:checked+.sqrCheckBoxLabel:after {
        opacity: 1;
    }
    .sqrCheckBoxTemp .sqrCheckBoxLabelTemp {
        border: 1px solid #ccc;
        border-radius: none;
        cursor: pointer;
        height: 16px;
        left: 5px;
        position: -webkit-sticky;
        position: relative;
        width: 16px;
        // top: 8px   ;
        top: 9.5px;
        margin-right: 10px;
        background: white;
    }
    .sqrCheckBoxTemp .sqrCheckBoxLabelTemp:after {
        // border: 2px solid #fff;
        // border: 2px solid #076ba1;
        border: 2px solid var(--colorCommon);
        border-top: none;
        border-right: none;
        content: "";
        height: 4px;
        left: 1.5px;
        opacity: 0;
        position: absolute;
        top: 4.0px;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        width: 12px;
    }
    .sqrCheckBoxTemp input[type="checkbox"] {
        visibility: hidden;
        background: white;
        display: none;
    }
    .sqrCheckBoxTemp input[type="checkbox"]:checked+.sqrCheckBoxLabelTemp {
        background-color: #ffffff;
        // border-color: #076ba1;
        border-color: var(--colorCommon);
    }
    .sqrCheckBoxTemp input[type="checkbox"]:checked+.sqrCheckBoxLabelTemp:after {
        opacity: 1;
    }
    // .martp{
    //     margin-top: 12px !important;
    // }
}