<div class="add_edit_leadership">

    <div class="addEditLadder_page_container">

        <div class="addEditCategory_header">
            <app-subheader [headerConfig]="header" (btntwo)="submitDetails(formdataDetails, userFormDetails)" (btnthree)="submitSteps(userFormSteps)" (btnfour)="submitNotifications(formdataNotifications, userFormNotifications)" (backClick)="back()"></app-subheader>

            <!-- <div class="header_grid content_width">
                <div class="header_title">
                    <h4 class="" *ngIf="addAction">Add Leaderboard</h4>
                    <h4 class="" *ngIf="!addAction">Edit Leaderboard</h4>
                </div>
                <div class="buttons_container" *ngIf="DetailsSubmit">
                    <button type="submit" class="constantbtn-button-blue-left" (click)="submitDetails(formdataDetails, userFormDetails)">Save</button>
                    <button type="submit" class="back_button" (click)="back()">Back</button>
                </div>


                <div class="buttons_container" *ngIf="StepsSubmit">
                    <button type="submit" class="constantbtn-button-blue-left" id="" (click)="submitSteps(userFormSteps)">Save</button>
                    <button type="submit" class="back_button" (click)="back()">Back</button>
                </div>

                <div class="buttons_container" *ngIf="NotificationSubmit">
                    <button type="submit" class="constantbtn-button-blue-left" id="" (click)="submitNotifications(formdataNotifications, userFormNotifications)">Save</button>
                    <button type="submit" class="back_button" (click)="back()">Back</button>
                </div>
            </div> -->
        </div>
        <div class="inside_form_container">
            <nb-tabset class="custom_tabset ladderTabset" (changeTab)="selectTab($event)">
                <nb-tab tabTitle="Details" [active]="detailsTab" class="ladderDetailsTab">
                    <form class="form_div" #userFormDetails="ngForm">
                        <!-- <div class="form_title">
							  <h5>General Details</h5>
							</div>
							<hr> -->

                        <div class="form_grid">
                            <div class="left_form_container">
                                <div class="form_container">
                                    <div class="form-group form_field_container">
                                        <label class="" for="exampleInputUName1">
												{{helpContent?.add_edit_Ladders?.leadership_name.label}}
												<sup class="required_mark">*</sup>
												<div class="help-tooltip">
													<i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
													<div class="help-tooltip-position-bottom">
													<p>{{helpContent?.add_edit_Ladders?.leadership_name?.labelHelpContent}}</p>
													<i></i>
													</div>
												</div>
											</label>
                                        <input type="text" class="form-control commonInput" id="exampleInputUName1" [(ngModel)]="formdataDetails.lname" required id="lname" placeholder="Max 50 characters" name="lname" #lname="ngModel" minlength="2" maxlength="50">

                                        <div *ngIf="lname.errors && (lname.dirty || lname.touched)" class="required_msg_text">
                                            <small class="form-text text-muted" [hidden]="!lname.hasError('required')">Username is required.</small>
                                            <small class="form-text text-muted" [hidden]="!lname.hasError('minlength')">Minimum 2 character required</small>
                                        </div>
                                    </div>


                                    <div class="form-group form_field_container">
                                        <label class="" for="sdesc">
												{{helpContent?.add_edit_Ladders?.formula.label}}
												<sup class="required_mark">*</sup>
												<div class="help-tooltip">
													<i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
													<div class="help-tooltip-position-right">
													<p>{{helpContent?.add_edit_Ladders?.formula?.labelHelpContent}}</p>
													<i></i>
													</div>
												</div>
											</label>
                                        <div class="flex_col2">
                                            <div class="">
                                                <label class="sqrCheckBox pointer">
														<input id="mEnrol" type="radio" name="checkbox" value="1"
															class="mysqrcheckclr" [(ngModel)]="formdataDetails.lformula"
															(change)="checkPreviousvalueYes(formdataDetails.lformula)">
														<label class="sqrCheckBoxLabel " for="mEnrol"></label> Yes
                                                </label>
                                            </div>

                                            <div>
                                                <label class="mysqrcheck sqrCheckBox pointer">
														<input id="mEnrol" type="radio" name="checkbox" value="0"
															class="mysqrcheckclr" [(ngModel)]="formdataDetails.lformula"
															(change)="checkPreviousvalueNo(formdataDetails.lformula)">
														<label class="sqrCheckBoxLabel " for="mEnrol"></label> No
                                                </label>
                                            </div>

                                            <!-- [checked]="formdataDetails.lformula" -->
                                        </div>

                                        <!-- <div [hidden]="sdesc.valid || sdesc.pristine" class="required_msg_text">
									  <small class="form-text text-muted" [hidden]="!sdesc.hasError('required')">Description is
										Required</small>
									  <small class="form-text text-muted" [hidden]="!sdesc.hasError('pattern')">Minimum 20 characters
										Required</small>
									</div> -->
                                    </div>


                                    <div class="form-group form_field_container" *ngIf="formdataDetails.lformula == '1'">
                                        <label class="" for="exampleInputPhone12">
												{{helpContent?.add_edit_Ladders?.multiply.label}}
												<sup class="required_mark">*</sup>
												<div class="help-tooltip">
													<i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
													<div class="help-tooltip-position-right">
													<p>{{helpContent?.add_edit_Ladders?.multiply?.labelHelpContent}}</p>
													<i></i>
													</div>
												</div>
											</label>
                                        <input type="tel" class="form-control commonInput" id="exampleInputPhone12" [(ngModel)]="formdataDetails.lmulti" id="lmulti" placeholder="Enter 2 digit number" name="lmulti" pattern="[0-9]*" minlength="1" maxlength="2" #lmulti="ngModel" step=".1" required>

                                        <div *ngIf="lmulti.errors && (lmulti.dirty || lmulti.touched)" class="required_msg_text">
                                            <small class="form-text text-muted" [hidden]="!lmulti.errors.minlength">Multiplier should be 2
													digit</small>
                                            <small class="form-text text-muted" [hidden]="!lmulti.hasError('required')">Multiplier is required.
												</small>
                                            <small class="form-text text-muted" [hidden]="!lmulti.hasError('pattern')">Multiplier should be like 5.5
												</small>
                                        </div>
                                    </div>

                                    <div class="form-group form_field_container martp">
                                        <label class="" for="exampleInputPhone12">
												{{helpContent?.add_edit_Ladders?.base_points.label}}
												<sup class="required_mark">*</sup>
												<div class="help-tooltip">
													<i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
													<div class="help-tooltip-position-right">
													<p>{{helpContent?.add_edit_Ladders?.base_points?.labelHelpContent}}</p>
													<i></i>
													</div>
												</div>
											</label>
                                        <input type="text" class="form-control commonInput" id="exampleInputPhone13" [(ngModel)]="formdataDetails.lbasep" id="lbasep" required placeholder="Enter number between 0-999" name="lbasep" pattern="[0-9]*" minlength="1" maxlength="3" min="0" max="999" #lbasep="ngModel">

                                        <div *ngIf="lbasep.errors && (lbasep.dirty || lbasep.touched)" class="required_msg_text">
                                            <small class="form-text text-muted" [hidden]="!lbasep.hasError('min')">Base points should be between
													0-999.</small>
                                            <small class="form-text text-muted" [hidden]="!lbasep.hasError('required')">Base points are required
												</small>
                                            <small class="form-text text-muted" [hidden]="!lbasep.hasError('pattern')">Base points should be only
													numbers
												</small>
                                            <small class="form-text text-muted" [hidden]="!lbasep.hasError('max')">Base points should be between
													0-999.
												</small>
                                        </div>
                                    </div>



                                </div>
                            </div>
                            <div class="right_form_container">



                                <div class="form-group form_field_container">
                                    <label class="" for="exampleInputAccRole">
											{{helpContent?.add_edit_Ladders?.display_option.label}}
											<sup class="required_mark">*</sup>
											<div class="help-tooltip">
												<i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
												<div class="help-tooltip-position-right">
												<p>{{helpContent?.add_edit_Ladders?.display_option?.labelHelpContent}}</p>
												<i></i>
												</div>
											</div>
										</label>
                                    <select [(ngModel)]="formdataDetails.ldisplay" id="exampleInputAccRole" class="custom-select commonSelect" name="ldisplay" #ldisplay="ngModel" required>
											<option value="" selected>Select Display</option>
											<option *ngFor="let disp of display" value={{disp.id}}>{{disp.name}}
											</option>
										</select>

                                    <div *ngIf="ldisplay.errors && (ldisplay.dirty || ldisplay.touched)" class="required_msg_text">
                                        <small class="form-text text-muted" [hidden]="!ldisplay.hasError('required')">Multiplier is required.
											</small>
                                    </div>
                                </div>

                                <div class="form-group form_field_container">
                                    <label class="" for="exampleInputPhon4">
											{{helpContent?.add_edit_Ladders?.min_time.label}}
											<sup class="required_mark">*</sup>
											<div class="help-tooltip">
												<i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
												<div class="help-tooltip-position-right">
												<p>{{helpContent?.add_edit_Ladders?.min_time?.labelHelpContent}}</p>
												<i></i>
												</div>
											</div>
										</label>
                                    <input type="tel" class="form-control commonInput" id="exampleInputPhon4" [(ngModel)]="formdataDetails.lmintime" required id="lmintime" placeholder="Min Time" name="lmintime" pattern="[0-9]*" minlength="1" maxlength="2" min="1" max="60" #lmintime="ngModel">

                                    <div *ngIf="lmintime.errors && (lmintime.dirty || lmintime.touched)" class="required_msg_text">
                                        <small class="form-text text-muted" [hidden]="!lmintime.hasError('min')">Minimum time should between
												0-60 sec.</small>
                                        <small class="form-text text-muted" [hidden]="!lmintime.hasError('max')">Minimum time should between
												0-60 sec.</small>
                                        <small class="form-text text-muted" [hidden]="!lmintime.hasError('maxlength')">Only 2 digits are
												allowed..
											</small>
                                        <small class="form-text text-muted" [hidden]="!lmintime.hasError('required')">Minimum time is required.
											</small>
                                        <small class="form-text text-muted" [hidden]="!lmintime.hasError('pattern')">Multiplier should be like
												5.5
											</small>
                                    </div>
                                </div>

                                <div class="form-group form_field_container">
                                    <label class="" for="exampleInputPhone5">
											{{helpContent?.add_edit_Ladders?.max_action.label}}
											<sup class="required_mark">*</sup>
											<div class="help-tooltip">
												<i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
												<div class="help-tooltip-position-right">
												<p>{{helpContent?.add_edit_Ladders?.max_action?.labelHelpContent}}</p>
												<i></i>
												</div>
											</div>
										</label>
                                    <input type="number" class="form-control commonInput" id="exampleInputPhone5" [(ngModel)]="formdataDetails.lmaxtime" required id="lmaxtime" placeholder="Max Time" name="lmaxtime" pattern="[0-9]*" minlength="1" maxlength="2" min="1" max="10" #lmaxtime="ngModel">

                                    <div *ngIf="lmaxtime.errors && (lmaxtime.dirty || lmaxtime.touched)" class="required_msg_text">
                                        <small class="form-text text-muted" [hidden]="!lmaxtime.hasError('min')">Action should be betweem 1-10.
											</small>
                                        <small class="form-text text-muted" [hidden]="!lmaxtime.hasError('max')">Action should be betweem 1-10.
											</small>

                                        <small class="form-text text-muted" [hidden]="!lmaxtime.hasError('required')">Action is required.
											</small>
                                        <small class="form-text text-muted" [hidden]="!lmaxtime.hasError('pattern')">Action number should be
												only numbers.
											</small>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </form>
                </nb-tab>
                <nb-tab tabTitle="Steps" [active]="stepsTab" class="ladderMoudulesTab">
                    <div class="">

                        <div class="stepForm">
                            <div class="card cardForm">
                                <div class="increaseCountDiv">
                                    <button type="submit" class="increaseCount constantbtn-button-blue-left" [disabled]="!userFormSteps.form.valid" (click)="submit2(formdataDetails)">Add</button>
                                </div>

                                <div class="card-body padding0 cardBody">

                                    <div class="courseModules">
                                    </div>
                                    <form class="forms-sample" #userFormSteps="ngForm">
                                        <div class="marbott20">
                                            <div *ngFor="let level of lcountData;let j =index; let first = first; let last = last" class="card countDiv">
                                                <div class="stepCard">
                                                    <div class="">
                                                        <span class="badge badge-light badgeCount1">{{j+1}}</span>
                                                    </div>
                                                    <div class="alignInnerCOntentOfCard">
                                                        <div class="form-group">
                                                            <div class="">
                                                                <label for="exampleInputPhone1">
																			{{helpContent?.add_edit_Ladders?.points.label}}
																			<sup class="reqFieldActivity">*</sup>
																			<div class="help-tooltip">
																				<i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
																				<div class="help-tooltip-position-right">
																				<p>{{helpContent?.add_edit_Ladders?.points?.labelHelpContent}}</p>
																				<i></i>
																				</div>
																			</div>
																			</label>
                                                                <input type="tel" class="form-control commonInput" id="exampleInputPhone1" [(ngModel)]="level.points" #points="ngModel" required placeholder="Points" name="points{{level.id}}" minlength="0" maxlength="9" [disabled]="formdataDetails.lformula==1 || first">
                                                                <!-- <div *ngIf="points.errors && (points.dirty || points.touched)"
																				class="alert alert-danger">
																				<div
																					[hidden]="!points.hasError('required')">
																					Point is
																					required</div>
																			</div> -->

                                                                <div class="required_msg_text" *ngIf="points.errors && (points.dirty || points.touched)">
                                                                    <small class="form-text text-muted" [hidden]="!points.errors.required">Point is required</small>
                                                                </div>
                                                                <span></span>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="textareaLadder">
                                                                <label for="textarea">
																			{{helpContent?.add_edit_Ladders?.description.label}}
																			<sup class="reqFieldActivity">*</sup>
																			<div class="help-tooltip">
																				<i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
																				<div class="help-tooltip-position-right">
																				<p>{{helpContent?.add_edit_Ladders?.description?.labelHelpContent}}</p>
																				<i></i>
																				</div>
																			</div>
																			</label>
                                                                <textarea type="textarea" class="form-control commonTextarea" id="textarea" [(ngModel)]="level.desc" #desc="ngModel" required id="desc" placeholder="Min 20 max 500 characters" name="desc{{level.id}}" (change)="descdata($event,j)" minlength="20" maxlength="500"></textarea>
                                                                <!-- <div *ngIf="desc.errors && (desc.dirty || desc.touched)"
																				class="alert alert-danger">
																				<div
																					[hidden]="!desc.hasError('required')">
																					Description
																					is required.</div>
																				<div
																					[hidden]="!desc.hasError('pattern')">
																					Minimum 20 and
																					maximum 250 characters are allowed.
																				</div>
																			</div> -->

                                                                <div class="required_msg_text" *ngIf="desc.errors && (desc.dirty || desc.touched)">
                                                                    <small class="form-text text-muted" [hidden]="!desc.hasError('required')">Description is required.</small>
                                                                    <small class="form-text text-muted" [hidden]="!desc.hasError('minlength')">Minimum 20 characters required</small>
                                                                </div>
                                                                <span></span>
                                                            </div>
                                                        </div>
                                                        <!-- <div class="row">
																		<div class="col-sm-6">
																			<label>Select Rewards</label>
																		</div>
																	</div> -->
                                                        <div class="imageGrid">
                                                            <div class="">

                                                                <div *ngIf="level.bimgsrc == '' || level.bimgsrc == null || level.bimgsrc == undefined">
                                                                    <div class="selectBadgeDiv">
                                                                        <div>
                                                                            <p class="selectP">Badge</p>
                                                                        </div>
                                                                        <div>
                                                                            <button type="submit" class="constantbtn-button-blue-left" (click)="browse(1,j)">Browse</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="" *ngIf="!level.bimgsrc == '' || !level.bimgsrc == null || !level.bimgsrc == undefined">
                                                                    <div class="badgeImgDiv">
                                                                        <div class="imageTitle">
                                                                            <p class="badgeimgname">
                                                                                {{level.bname}}</p>
                                                                            <i class="fa fa-times badgeRemove" aria-hidden="true" (click)="removeBadge(j)"></i>
                                                                        </div>

                                                                        <div class=" catrow1" *ngIf="level.bimgsrc != ''">
                                                                            <a>
                                                                                <img class="badgeimg" src='{{level.bimgsrc}}'>
                                                                            </a>
                                                                        </div>
                                                                        <div class="catrow1" *ngIf="level.bimgsrc == ''">
                                                                            <a>
                                                                                <img class="badgeimg" src='assets/images/badgeNew.jpg'>
                                                                            </a>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="">
                                                                <div class="" *ngIf="level.cimgsrc == '' || level.cimgsrc == null || level.cimgsrc == undefined">
                                                                    <div class="selectBadgeDiv">
                                                                        <div>
                                                                            <p class="selectP">Certificate</p>
                                                                        </div>
                                                                        <div>
                                                                            <button type="submit" class="constantbtn-button-blue-left" (click)="browse(2,j)">Browse</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="">
                                                                    <div class="" *ngIf="!level.cimgsrc == '' || !level.cimgsrc == null || !level.cimgsrc == undefined">
                                                                        <div class="badgeImgDiv">
                                                                            <div class="imageTitle">
                                                                                <p class="badgeimgname">
                                                                                    {{level.cname}}</p>
                                                                                <i class="fa fa-times badgeRemove" aria-hidden="true" (click)="removeCert(j)"></i>
                                                                            </div>
                                                                            <div class="catrow1" *ngIf="level.cimgsrc != ''">
                                                                                <a>
                                                                                    <img class="badgeimg" src='{{level.cimgsrc}}'>
                                                                                </a>
                                                                            </div>
                                                                            <div class="catrow1" *ngIf="level.cimgsrc == ''">
                                                                                <a>
                                                                                    <img class="badgeimg" src='assets/images/badgeNew.jpg'>
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>

                                                    </div>

                                                    <div class="crossdelete">
                                                        <i class="far fa-times-circle crossicon" aria-hidden="true" (click)="deleteSteps(j)" *ngIf="last && !first"></i>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="card buttons_container " *ngIf="lcountData.length >0" hidden>
                                                <button class="constantbtn-button-blue-left" type="submit" (click)="savelevel(lcountData)">Save</button>
                                            </div>

                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>

                    </div>
                </nb-tab>

                <nb-tab tabTitle="Notification" [active]="notificationTab" class="ladderEngageTab" disabled>
                    <div class="m0 formGen">
                        <div class="col-md-12 grid-margin stretch-card formGenCardCourse">
                            <div class="card cardForm">
                                <div class="card-body cardBodyNotification">
                                    <div class="courseEngage123">
                                        <form class="forms-sample col-md-12" #userFormNotifications="ngForm">
                                            <!-- <div class="form-group">
														<label class="container">Enable Notification
															<input type="checkbox" id="mEnrol3{{j}}"
																name="checkbox1{{j}}" value="true"
																[(ngModel)]="formdataNotifications.lenablenot">
															<span class="checkmark"></span>
														</label>
													</div> -->
                                            <div class="form-group">
                                                <div class="row">
                                                    <!-- <div class="col-sm-12 mardis"> -->

                                                    <div class="col-sm-4">

                                                        <label class="sqrCheckBoxTemp pointer">
																	<input id="lnmsg" type="checkbox" name="templates" value="true"
																		class="" [(ngModel)]="formdataNotifications.lnmsg">
																	<label class="sqrCheckBoxLabelTemp " for="lnmsg"></label> {{helpContent?.add_edit_Ladders?.text_sms.label}}
                                                        <!-- <sup class="required_mark">*</sup> -->
                                                        <div class="help-tooltip">
                                                            <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                                                            <div class="help-tooltip-position-bottom">
                                                                <p>{{helpContent?.add_edit_Ladders?.text_sms?.labelHelpContent}}</p>
                                                                <i></i>
                                                            </div>
                                                        </div>
                                                        </label>
                                                        <!--
															<label class="container">Text Sms
																<input type="checkbox" id="lnmsg" name="lnmsg"
																	value="true"
																	[(ngModel)]="formdataNotifications.lnmsg">
																<span class="checkmark"></span>
															</label> -->
                                                    </div>
                                                    <div class="col-sm-5" *ngIf="formdataNotifications.lnmsg == true">
                                                        <select [(ngModel)]="formdataNotifications.lnmsgtemp" id="lnmsgtemp" (change)="onChangeDropDownSms($event)" class="custom-select commonSelect" name="lnmsgtemp">
																<option value="" selected disabled>Select Template
																</option>
																<option *ngFor="let temp of templatesms"
																	value={{temp.id}}>
																	{{temp.name}}
																</option>
															</select>
                                                    </div>
                                                    <!-- *ngIf="formdataNotifications.lnmsg1 == true" -->
                                                    <div class="col-sm-3" *ngIf="formdataNotifications.reviewTextSms == true &&  formdataNotifications.lnmsg == true">
                                                        <button class="constantbtn-button-blue-left" (click)="getTempData(1,formdataNotifications.lnmsgtemp)">Preview</button>
                                                    </div>
                                                    <!-- </div> -->
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="content-box" *ngIf="formdataNotifications.reviewTextSms == true && formdataNotifications.lnmsg == true">
                                                            <label class="space_left">Edit Template</label>
                                                            <textarea type="text" class="form-control engage-content-area commonTextarea" placeholder="Edit Template" name="Edit-Template-Sms" [(ngModel)]="formdataNotifications.editSmsTemplateData"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                                <span></span>
                                            </div>
                                            <div class="form-group">
                                                <div class="row">
                                                    <!-- <div class="col-sm-12 mardis"> -->
                                                    <div class="col-sm-4">
                                                        <!-- <label class="container">App Notification
																<input type="checkbox" id="lnnot" name="lnnot"
																	value="true"
																	[(ngModel)]="formdataNotifications.lnnot">
																<span class="checkmark"></span>
															</label> -->

                                                        <label class="sqrCheckBoxTemp pointer">
																	<input id="lnnot" type="checkbox" name="templates" value="true"
																		class="" [(ngModel)]="formdataNotifications.lnnot">
																	<label class="sqrCheckBoxLabelTemp " for="lnnot"></label> {{helpContent?.add_edit_Ladders?.app_notification.label}}
                                                        <!-- <sup class="required_mark">*</sup> -->
                                                        <div class="help-tooltip">
                                                            <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                                                            <div class="help-tooltip-position-right">
                                                                <p>{{helpContent?.add_edit_Ladders?.app_notification?.labelHelpContent}}</p>
                                                                <i></i>
                                                            </div>
                                                        </div>
                                                        </label>
                                                    </div>

                                                    <div class="col-sm-5" *ngIf="formdataNotifications.lnnot == true">
                                                        <select [(ngModel)]="formdataNotifications.lnnottemp" id="lnnottemp" (change)="onChangeDropDownnot($event)" class="custom-select commonSelect" name="lnnottemp">
																<option value="" selected disabled>Select Template
																</option>
																<option *ngFor="let temp of templatenot"
																	value={{temp.id}}>{{temp.name}}
																</option>
															</select>
                                                    </div>
                                                    <div class="col-sm-3" *ngIf="formdataNotifications.lnnot == true && formdataNotifications.reviewnot == true">
                                                        <button class="constantbtn-button-blue-left" (click)="getTempData(3,formdataNotifications.lnnottemp)">Preview</button>
                                                    </div>
                                                    <!-- </div> -->
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="content-box" *ngIf="formdataNotifications.lnnot == true && formdataNotifications.reviewnot == true">
                                                            <label class="space_left">Edit Template</label>
                                                            <textarea type="text" class="form-control engage-content-area commonTextarea" placeholder="Edit Template" name="Edit-Template-Not" [(ngModel)]="formdataNotifications.editNotTemplateData"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                                <span></span>
                                            </div>
                                            <div class="form-group">
                                                <div class="row">
                                                    <!-- <div class="col-sm-12 mardis"> -->
                                                    <div class="col-sm-4">
                                                        <!-- <label class="container"> Email
																<input type="checkbox" id="lnemail" name="lnemail"
																	value="true"
																	[(ngModel)]="formdataNotifications.lnemail">
																<span class="checkmark"></span>
															</label> -->

                                                        <label class="sqrCheckBoxTemp pointer">
																	<input id="lnemail" type="checkbox" name="templates" value="true"
																		class="commonInput" [(ngModel)]="formdataNotifications.lnemail">
																	<label class="sqrCheckBoxLabelTemp " for="lnemail"></label> {{helpContent?.add_edit_Ladders?.email.label}}
                                                        <!-- <sup class="required_mark">*</sup> -->
                                                        <div class="help-tooltip">
                                                            <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                                                            <div class="help-tooltip-position-right">
                                                                <p>{{helpContent?.add_edit_Ladders?.email?.labelHelpContent}}</p>
                                                                <i></i>
                                                            </div>
                                                        </div>
                                                        </label>
                                                    </div>
                                                    <div class="col-sm-5" *ngIf="formdataNotifications.lnemail == true">
                                                        <select [(ngModel)]="formdataNotifications.lnemailTemp" id="lnemailTemp" (change)="onChangeDropDownemail($event)" class="custom-select commonSelect" name="lnemailTemp">
																<!-- <option value="default" selected disabled>Select Template</option> -->
																<option *ngFor="let temp of templateemail"
																	value={{temp.id}}>
																	{{temp.name}}</option>
															</select>
                                                    </div>
                                                    <div class="col-sm-3" *ngIf="formdataNotifications.lnemail == true && formdataNotifications.reviewemail == true">
                                                        <button class="constantbtn-button-blue-left" (click)="getTempData(2,formdataNotifications.lnemailTemp)">Preview</button>
                                                    </div>
                                                    <!-- </div> -->
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="content-box" *ngIf="formdataNotifications.lnemail == true && formdataNotifications.reviewemail == true">
                                                            <label class="space_left">Edit Template</label>
                                                            <quill-editor id="cCont" class="commonInput" [(ngModel)]="formdataNotifications.editEmailTemplateData" name="Edit-Template-Email" [ngModelOptions]="{standalone: true}" [options]="editorOptions" pattern=".{20,500}" ngDefaultControl>
                                                            </quill-editor>
                                                        </div>
                                                    </div>
                                                </div>
                                                <span></span>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </nb-tab>

            </nb-tabset>




        </div>



        <div class="addRuleBackdrop1" *ngIf="badgeshow == true">
            <div class="addRuleDemoModal1">
                <div class="modal-header">
                    <p>Select Badge</p>
                    <button class="close" aria-label="Close" (click)="closeModel(1)">
						<span aria-hidden="true">&times;</span>
					</button>
                </div>

                <div class="mbody modal-body">
                    <div class="search_content">
                        <input type="text" class="form-control" placeholder="Search by badge name">
                        <i class="fa fa-remove"></i>
                    </div>
                    <div class="topDivRe">
                        <div class="col-sm-12 card displayin" [ngClass]="{'activeBadge': activeSelectedBadgeId == item.badgeId}" *ngFor="let item of badgeData;let i=index">
                            <div (click)="setActiveSelectedBadge(i, item)">
                                <div class="col-sm-6 buttons_container">
                                    <label>
										<a>
											<img for="badge{{item.badgeId}}" class="imgsrc" src='{{item.badgeIcon}}'>
										</a>
									</label>
                                </div>
                                <div class="col-sm-6 button">
                                    <p>{{item.badgeName}}</p>
                                    <p class="badgeDesc">{{item.description}}</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="modal-footer text-right">
                    <button type="button" class="constantbtn-button-blue-left" (click)="saveBadge(1)">Select</button>
                </div>

            </div>
        </div>

        <div class="addRuleBackdrop1" *ngIf="certshow == true">
            <div class="addRuleDemoModal1">
                <div class="modal-header">
                    <p>Select Template</p>
                    <button class="close" aria-label="Close" (click)="closeModel(2)">
						<span aria-hidden="true">&times;</span>
					</button>
                </div>

                <div class="mbody modal-body">

                    <div class="topDivRe">
                        <div class="col-sm-12 card displayin" [ngClass]="{'activeCert': activeSelectedCertId == item.id}" *ngFor="let item of certData;let i=index">
                            <div (click)="setActiveSelectedCert(i, item)">
                                <div class="col-sm-6 floatleft">
                                    <a>
                                        <img for="cert{{item.id}}" class="imgsrc" src='{{item.certIcon ? item.certIcon : "assets/images/badgeNew.png" }}'>
                                    </a>
                                </div>
                                <div class="col-sm-6 floatrig">
                                    <p>{{item.certName}}</p>
                                    <p class="badgeDesc">{{item.description}}</p>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

                <div class="modal-footer text-right">
                    <button type="button" class="constantbtn-button-blue-left" (click)="saveCert(2)">Select</button>
                </div>

            </div>
        </div>

        <div class="deleteModalBackdrop" *ngIf="warning">
            <div class="deleteModal">
                <div class="modal-header deleteModalHeader">
                    <p *ngIf="!enableLadder" class="enableDisableModalHeaderP">Warning</p>
                    <button class="close closeDeleteModalBtn" aria-label="Close" (click)="closeWarningModel()">
						<span aria-hidden="true">&times;</span>
					</button>
                </div>

                <div class="modal-body">
                    <div class="">
                        <p class="enableDisableModalBodyP">If you change Formula, your leadership steps will be deleted. Do you want to continue?</p>
                    </div>
                </div>

                <div class="modal-footer deleteModalFooter">
                    <div class="">
                        <button type="button" class="constantbtn-button-blue-left" (click)="WarningYes()">Yes</button>
                    </div>
                    <div class="">
                        <button type="button" class="constantbtn-button-blue-right" (click)="WarningNo()">No</button>
                    </div>
                </div>
            </div>
        </div>



        <div class="deleteModalBackdrop" *ngIf="notDetailsModal">
            <div class="addSelfDemoModalCat">
                <div class="modal-header">
                    <span>Template Description</span>
                    <!-- <button class="close" aria-label="Close" (click)="closeModal()">
							<span aria-hidden="true">&times;</span>
						  </button> -->
                </div>
                <div class="modal-body">
                    <div class="OuterDiv">
                        <!-- <div class="InnerDiv">
									<lable>Name</lable>
									<p>{{templateData.name}}</p>
								</div>
								<div class="InnerDiv">
									<lable>Description</lable>
									<p>{{templateData.desc}}</p>
								</div> -->
                        <div class="InnerDiv">
                            <lable>Template</lable>
                            <p [innerHtml]="templateData.template"></p>
                        </div>
                    </div>
                </div>

                <div class="modal-footer text-right">
                    <button class="constantbtn-button-blue-left" (click)="closeNotDetailModal()">Ok</button>
                </div>

            </div>

        </div>
    </div>
</div>

<!-- ************************************* OLD CODE **************************************** -->

<!-- <div class="text-right" style="padding: 10px;" *ngIf="DetailsSubmit">
    <button type="submit" class="constantbtn-button-blue-left" id="" [disabled]="!userFormDetails.form.valid"
        (click)="submitDetails(formdataDetails)">Save</button>
    <button type="submit" class="constantbtn-button-blue-right" (click)="back()" id="editbtnEnroll">Back</button>

</div>

<div class="text-right" style="padding: 10px;" *ngIf="StepsSubmit">
    <button type="submit" class="constantbtn-button-blue-right" id="" [disabled]="!userFormSteps.form.valid"
        (click)="submitSteps()">Save</button>
    <button type="submit" class="constantbtn-button-blue-left" (click)="back()" id="editbtnEnroll">Back</button>
</div>

<div class="text-right" style="padding: 10px;" *ngIf="NotificationSubmit">
    <button type="submit" class="constantbtn-button-blue-right" id="" [disabled]="!userFormNotifications.form.valid"
        (click)="submitNotifications(formdataNotifications)">Save</button>
    <button type="submit" class="constantbtn-button-blue-left" (click)="back()" id="editbtnEnroll">Back</button>

</div>
<nb-tabset class="ladderTabset" (changeTab)="selectTab($event)">
    (changeTab)="selectedTab($event)"
    <nb-tab tabTitle="Details" [active]="detailsTab" class="ladderDetailsTab">
        <p>List of <strong>users</strong>.</p>
        <div class="row m0 formGen">
            <div class="col-md-12 stretch-card formGenCardCourse">
                <div class="card cardForm">
                    <div class="card-body padding0 cardBody">
                        <div class="courseDetails">
                            <div class="card cardForm">
                                <div class="card-body">
                                    <h4 class="card-title">Ladder Details</h4>
                                    <p class="card-description cardDesc">

                                    </p>
                                    <form class="forms-sample col-md-12 " #userFormDetails="ngForm">

                                        <div class="form-group">
                                            <label for="exampleInputUName1">Leadership Name<h3 class="reqField">*
                                                </h3></label>
                                            pattern="^$|^[A-Za-z0-9]+$"
                                            <input type="text" class="form-control form-control-input"
                                                id="exampleInputUName1" [(ngModel)]="formdataDetails.lname" required
                                                id="lname" placeholder="Max 45 characters" name="lname" #lname="ngModel"
                                                minlength="6" maxlength="45">
                                            <div *ngIf="lname.errors && (lname.dirty || lname.touched)" class="alert alert-danger">
                                                <div [hidden]="!lname.hasError('required')">Username is required.</div>
                                                <div [hidden]="!lname.hasError('pattern')">Only Alphanumericals allowed
                                                    </div>
                                                <div [hidden]="!lname.hasError('minlength')">Minimum 6 character in
                                                    length. </div>
                                                <div [hidden]="!lname.hasError('maxlength')">Maximum 45 character in
                                                    length.</div>
                                            </div>
                                            <span></span>
                                        </div>
                                        <div class="form-group">
                                            <label>Formula<h3 class="reqField">*</h3></label>
                                            <div class="col-sm-12">
                                                <label class="col-md-6 customRadio123 ">
                                                    <input id="mEnrol" type="radio" name="checkbox" value="1"
                                                        class="with-gap marginRight5px"
                                                        [(ngModel)]="formdataDetails.lformula"
                                                        (change)="checkPreviousvalueYes(formdataDetails.lformula)">
                                                    <span class="customCheckRound123 " for="mEnrol"></span>
                                                    Yes
                                                </label>
                                                <label class="col-md-6 customRadio123 ">
                                                    <input id="mEnrol1" type="radio" name="checkbox" value="0"
                                                        class="with-gap marginRight5px"
                                                        [(ngModel)]="formdataDetails.lformula"
                                                        (change)="checkPreviousvalueNo(formdataDetails.lformula)">
                                                    <span class="customCheckRound123 " for="mEnrol1"></span>
                                                    No
                                                </label>
                                            </div>
                                            <span></span>
                                        </div>
                                        <div class="form-group" *ngIf="formdataDetails.lformula == '1'">
                                            <label for="exampleInputPhone12">Multiply<h3 class="reqField">*</h3>
                                            </label>
                                            <input type="tel" class="form-control form-control-input"
                                                id="exampleInputPhone12" [(ngModel)]="formdataDetails.lmulti"
                                                id="lmulti" placeholder="Enter 2 digit number" name="lmulti"
                                                pattern="[0-9]*" minlength="1" maxlength="2" #lmulti="ngModel" step=".1"
                                                required>
                                            <div *ngIf="lmulti.errors && (lmulti.dirty || lmulti.touched)" class="alert alert-danger">
                                                <div [hidden]="!lmulti.hasError('minlength')">Multiplier should be 2
                                                    digit
                                                </div>
                                                <div [hidden]="!lmulti.hasError('required')">Multiplier is required.
                                                </div>
                                                <div [hidden]="!lmulti.hasError('pattern')">Multiplier should be like
                                                    5.5
                                                </div>
                                            </div>
                                            <span></span>
                                        </div>

                                        <div class="form-group">
                                            <label for="exampleInputPhone13">Base Points<h3 class="reqField">*
                                                </h3></label>
                                            <input type="text" class="form-control form-control-input"
                                                id="exampleInputPhone13" [(ngModel)]="formdataDetails.lbasep"
                                                id="lbasep" required placeholder="Enter number between 0-999"
                                                name="lbasep" pattern="[0-9]*" minlength="1" maxlength="3" min="0"
                                                max="999" #lbasep="ngModel">
                                            <div *ngIf="lbasep.errors && (lbasep.dirty || lbasep.touched)" class="alert alert-danger">
                                                <div [hidden]="!lbasep.hasError('min')">Base points should be between
                                                    0-999.
                                                </div>
                                                <div [hidden]="!lbasep.hasError('max')">Base points should be between
                                                    0-999.
                                                </div>
                                                <div [hidden]="!lbasep.hasError('required')">Base points are required
                                                </div>
                                                <div [hidden]="!lbasep.hasError('pattern')">Base points should be only
                                                    numbers</div>
                                            </div>
                                            <span></span>
                                        </div>

                                        <div class="form-group">
                                                <label>Courses</label>
                                                <angular2-multiselect name="course" #lcourse="ngModel"
                                                    [data]="dropdownListDept" [(ngModel)]="formdataDetails.lcourse"
                                                    [settings]="dropdownSettingsDept" (onSelect)="ondeptSelect($event)"
                                                    (onDeSelect)="OndeptDeSelect($event)"
                                                    (onSelectAll)="ondeptSelectAll($event)"
                                                    (onDeSelectAll)="ondeptDeSelectAll($event)">
                                                </angular2-multiselect>
                                            </div>

                                        <div class="form-group">
                                            <label for="exampleInputAccRole">Display Option<h3 class="reqField">*
                                                </h3></label>
                                            <select [(ngModel)]="formdataDetails.ldisplay" id="exampleInputAccRole"
                                                class="form-control form-control-input selectDrop" name="ldisplay"
                                                #ldisplay="ngModel" required>
                                                <option value="" selected>Select Display</option>
                                                <option *ngFor="let disp of display" value={{disp.id}}>{{disp.name}}
                                                </option>
                                            </select>
                                            <div *ngIf="ldisplay.errors && (ldisplay.dirty || ldisplay.touched)"
                                                class="alert alert-danger">
                                                <div [hidden]="!ldisplay.hasError('required')">Display option is
                                                    required.</div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="exampleInputPhon4">Min Time(seconds)<h3 class="reqField">
                                                    *</h3></label>
                                            <input type="tel" class="form-control form-control-input"
                                                id="exampleInputPhon4" [(ngModel)]="formdataDetails.lmintime" required
                                                id="lmintime" placeholder="Min Time" name="lmintime" pattern="[0-9]*"
                                                minlength="1" maxlength="2" min="1" max="60" #lmintime="ngModel">
                                            <div *ngIf="lmintime.errors && (lmintime.dirty || lmintime.touched)"
                                                class="alert alert-danger">
                                                <div [hidden]="!lmintime.hasError('min')">Minimum time should between
                                                    0-60 sec.</div>
                                                <div [hidden]="!lmintime.hasError('max')">Minimum time should between
                                                    0-60 sec.</div>
                                                <div [hidden]="!lmintime.hasError('required')">Minimum time is required.
                                                </div>
                                                <div [hidden]="!lmintime.hasError('pattern')">Minimum time should be
                                                    only numbers.</div>
                                                <div [hidden]="!lmintime.hasError('maxlength')">Only 2 digits are
                                                    allowed..</div>
                                            </div>
                                            <span></span>
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputPhone5">Max Action in 1 min<h3 class="reqField">*
                                                </h3></label>
                                            <input type="number" class="form-control form-control-input"
                                                id="exampleInputPhone5" [(ngModel)]="formdataDetails.lmaxtime" required
                                                id="lmaxtime" placeholder="Max Time" name="lmaxtime" pattern="[0-9]*"
                                                minlength="1" maxlength="2" min="1" max="10" #lmaxtime="ngModel">
                                            <div *ngIf="lmaxtime.errors && (lmaxtime.dirty || lmaxtime.touched)"
                                                class="alert alert-danger">
                                                <div [hidden]="!lmaxtime.hasError('min')">Action should be betweem 1-10.
                                                </div>
                                                <div [hidden]="!lmaxtime.hasError('max')">Action should be betweem 1-10.
                                                </div>
                                                <div [hidden]="!lmaxtime.hasError('required')">Action is required.</div>
                                                <div [hidden]="!lmaxtime.hasError('pattern')">Action number should be
                                                    only numbers.</div>
                                            </div>
                                            <span></span>
                                        </div>




                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nb-tab>

    <nb-tab tabTitle="Steps" [active]="stepsTab" class="ladderMoudulesTab">
        <div class="row m0 formGen">

            <div class="col-md-12 grid-margin stretch-card formGenCardCourse">
                <div class="card cardForm">
                    <div class="increaseCountDiv">
                        <button type="submit" class="increaseCount" [disabled]="!userFormSteps.form.valid"
                            (click)="submit2(formdataDetails)">Add</button>
                    </div>

                    <div class="card-body padding0 cardBody">

                        <div class="courseModules">
                        </div>
                        <form class="forms-sample" #userFormSteps="ngForm">
                            <div class="marbott20">
                                <div *ngFor="let level of lcountData;let j =index; let first = first; let last = last"
                                    class="card countDiv">
                                    <div class="col-sm-12">
                                        <div class="col-sm-1 marmid">
                                            <span class="badge badge-light badgeCount1">{{j+1}}</span>
                                        </div>
                                        <div class="col-sm-10 col11">
                                            <div class="col-sm-12">
                                                <div class="col-sm-1">
                                                    <div class="form-group">
                                                        <div class="row">
                                                            <label for="exampleInputPhone1">Points<h3 class="reqField">*
                                                                </h3></label>
                                                            <input type="tel" class="form-control form-control-input"
                                                                id="exampleInputPhone1" [(ngModel)]="level.points"
                                                                #points="ngModel" required placeholder="Points"
                                                                name="points{{level.id}}" pattern="[0-9]*" minlength="0"
                                                                [disabled]="formdataDetails.lformula==1 || first">
                                                            <div *ngIf="points.errors && (points.dirty || points.touched)"
                                                                class="alert alert-danger">
                                                                <div [hidden]="!points.hasError('required')">Point is
                                                                    required</div>
                                                            </div>
                                                            <span></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <div class="row textareaLadder">
                                                            <label for="textarea">Description<h3 class="reqField">*
                                                                </h3></label>
                                                            <textarea type="textarea"
                                                                class="form-control form-control-input" id="textarea"
                                                                [(ngModel)]="level.desc" #desc="ngModel" required
                                                                id="desc" placeholder="Min 20 max 250 characters"
                                                                name="desc{{level.id}}" (change)="descdata($event,j)"
                                                                pattern=".{20,250}"></textarea>
                                                            <div *ngIf="desc.errors && (desc.dirty || desc.touched)"
                                                                class="alert alert-danger">
                                                                <div [hidden]="!desc.hasError('required')">Description
                                                                    is required.</div>
                                                                <div [hidden]="!desc.hasError('pattern')">Minimum 20 and
                                                                    maximum 250 characters are allowed.</div>
                                                            </div>
                                                            <span></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                        <div class="col-sm-6">
                                                            <label>Select Rewards</label>
                                                        </div>
                                                    </div>
                                                <div class="row">
                                                    <div class="col-sm-6">

                                                        <div class="col-sm-12"
                                                            *ngIf="level.bimgsrc == '' || level.bimgsrc == null || level.bimgsrc == undefined">
                                                            <div class="selectBadgeDiv">
                                                                <div>
                                                                    <p class="selectP">Badge</p>
                                                                </div>
                                                                <div>
                                                                    <button type="submit" class="browsebtn constantbtn"
                                                                        (click)="browse(1,j)"
                                                                        id="editbtnRules">Browse</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12"
                                                            *ngIf="!level.bimgsrc == '' || !level.bimgsrc == null || !level.bimgsrc == undefined">
                                                            <div class="badgeImgDiv">
                                                                <i class="fa fa-times badgeRemove" aria-hidden="true"
                                                                    (click)="removeBadge(j)"></i>
                                                                <div class="row col-md-12 catrow1"
                                                                    *ngIf="level.bimgsrc != ''">
                                                                    <a>
                                                                        <img class="badgeimg" src='{{level.bimgsrc}}'>
                                                                    </a>
                                                                </div>
                                                                <div class="row col-md-12 catrow1"
                                                                    *ngIf="level.bimgsrc == ''">
                                                                    <a>
                                                                        <img class="badgeimg"
                                                                            src='assets/images/badgeNew.jpg'>
                                                                    </a>
                                                                </div>
                                                                <div>
                                                                    <p class="badgeimgname">{{level.bname}}</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="col-sm-12"
                                                            *ngIf="level.cimgsrc == '' || level.cimgsrc == null || level.cimgsrc == undefined">
                                                            <div class="selectBadgeDiv">
                                                                <div>
                                                                    <p class="selectP">Certificate</p>
                                                                </div>
                                                                <div>
                                                                    <button type="submit" class="browsebtn constantbtn"
                                                                        (click)="browse(2,j)"
                                                                        id="editbtnRules">Browse</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12">
                                                            <div class="col-sm-12"
                                                                *ngIf="!level.cimgsrc == '' || !level.cimgsrc == null || !level.cimgsrc == undefined">
                                                                <div class="badgeImgDiv">
                                                                    <i class="fa fa-times badgeRemove"
                                                                        aria-hidden="true" (click)="removeCert(j)"></i>
                                                                    <div class="row col-md-12 catrow1"
                                                                        *ngIf="level.cimgsrc != ''">
                                                                        <a>
                                                                            <img class="badgeimg"
                                                                                src='{{level.cimgsrc}}'>
                                                                        </a>
                                                                    </div>
                                                                    <div class="row col-md-12 catrow1"
                                                                        *ngIf="level.cimgsrc == ''">
                                                                        <a>
                                                                            <img class="badgeimg"
                                                                                src='assets/images/badgeNew.jpg'>
                                                                        </a>
                                                                    </div>
                                                                    <div>
                                                                        <p class="badgeimgname">{{level.cname}}</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-sm-1 crossdelete">
                                            <i class="far fa-times-circle crossicon" aria-hidden="true"
                                                (click)="deleteSteps(j)" *ngIf="last && !first"></i>
                                        </div>
                                    </div>

                                </div>
                                <div class="card col-sm-12 " *ngIf="lcountData.length >0" hidden>
                                    <button class="marsub1" type="submit" id="submitBut"
                                        (click)="savelevel(lcountData)">Save</button>
                                </div>

                            </div>
                        </form>

                    </div>
                </div>
            </div>

        </div>
    </nb-tab>

    <nb-tab tabTitle="Notification" [active]="notificationTab" class="ladderEngageTab" disabled>
        <div class="row m0 formGen">
            <div class="col-md-12 grid-margin stretch-card formGenCardCourse">
                <div class="card cardForm">
                    <div class="card-body cardBodyNotification">
                        <div class="courseEngage123">
                            <form class="forms-sample col-md-12" #userFormNotifications="ngForm">
                                <div class="form-group">
                                        <label class="container">Enable Notification
                                            <input type="checkbox" id="mEnrol3{{j}}"
                                                name="checkbox1{{j}}" value="true"
                                                [(ngModel)]="formdataNotifications.lenablenot">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-12 mardis">

                                        <div class="col-sm-4">
                                            <label class="container">Text Sms
                                                <input type="checkbox" id="lnmsg" name="lnmsg" value="true"
                                                    [(ngModel)]="formdataNotifications.lnmsg">
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                        <div class="col-sm-5" *ngIf="formdataNotifications.lnmsg == true">
                                            <select [(ngModel)]="formdataNotifications.lnmsgtemp" id="lnmsgtemp"
                                                (change)="onChangeDropDownSms($event)"
                                                class="form-control form-control-input selectDrop" name="lnmsgtemp">
                                                <option value="" selected disabled>Select Template</option>
                                                <option *ngFor="let temp of templatesms" value={{temp.id}}>
                                                    {{temp.name}}
                                                </option>
                                            </select>
                                        </div>
                                        *ngIf="formdataNotifications.lnmsg1 == true"
                                        <div class="col-sm-3"
                                            *ngIf="formdataNotifications.reviewTextSms == true &&  formdataNotifications.lnmsg == true">
                                            <button class="constantbtn"
                                                (click)="getTempData(1,formdataNotifications.lnmsgtemp)">Preview</button>
                                        </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="content-box"
                                                *ngIf="formdataNotifications.reviewTextSms == true && formdataNotifications.lnmsg == true">
                                                <label class="space_left">Edit Template</label>
                                                <textarea type="text" class="form-control engage-content-area"
                                                    placeholder="Edit Template" name="Edit-Template-Sms"
                                                    [(ngModel)]="formdataNotifications.editSmsTemplateData"
                                                    required></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <span></span>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-12 mardis">
                                        <div class="col-sm-4">
                                            <label class="container">App Notification
                                                <input type="checkbox" id="lnnot" name="lnnot" value="true"
                                                    [(ngModel)]="formdataNotifications.lnnot">
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                        <div class="col-sm-5" *ngIf="formdataNotifications.lnnot == true">
                                            <select [(ngModel)]="formdataNotifications.lnnottemp" id="lnnottemp"
                                                (change)="onChangeDropDownnot($event)"
                                                class="form-control form-control-input selectDrop" name="lnnottemp">
                                                <option value="" selected disabled>Select Template</option>
                                                <option *ngFor="let temp of templatenot" value={{temp.id}}>{{temp.name}}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-sm-3"
                                            *ngIf="formdataNotifications.lnnot == true && formdataNotifications.reviewnot == true">
                                            <button class="constantbtn"
                                                (click)="getTempData(3,formdataNotifications.lnnottemp)">Preview</button>
                                        </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="content-box"
                                                *ngIf="formdataNotifications.lnnot == true && formdataNotifications.reviewnot == true">
                                                <label class="space_left">Edit Template</label>
                                                <textarea type="text" class="form-control engage-content-area"
                                                    placeholder="Edit Template" name="Edit-Template-Not"
                                                    [(ngModel)]="formdataNotifications.editNotTemplateData"
                                                    required></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <span></span>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-12 mardis">
                                        <div class="col-sm-4">
                                            <label class="container"> Email
                                                <input type="checkbox" id="lnemail" name="lnemail" value="true"
                                                    [(ngModel)]="formdataNotifications.lnemail">
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                        <div class="col-sm-5" *ngIf="formdataNotifications.lnemail == true">
                                            <select [(ngModel)]="formdataNotifications.lnemailTemp" id="lnemailTemp"
                                                (change)="onChangeDropDownemail($event)"
                                                class="form-control form-control-input selectDrop" name="lnemailTemp">
                                                <option value="default" selected disabled>Select Template</option>
                                                <option *ngFor="let temp of templateemail" value={{temp.id}}>
                                                    {{temp.name}}</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-3"
                                            *ngIf="formdataNotifications.lnemail == true && formdataNotifications.reviewemail == true">
                                            <button class="constantbtn"
                                                (click)="getTempData(2,formdataNotifications.lnemailTemp)">Preview</button>
                                        </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="content-box"
                                                *ngIf="formdataNotifications.lnemail == true && formdataNotifications.reviewemail == true">
                                                <label class="space_left">Edit Template</label>
                                                <quill-editor id="cCont"
                                                    [(ngModel)]="formdataNotifications.editEmailTemplateData"
                                                    name="Edit-Template-Email" [ngModelOptions]="{standalone: true}"
                                                    [options]="editorOptions" pattern=".{20,500}" required
                                                    ngDefaultControl>
                                                </quill-editor>
                                            </div>
                                        </div>
                                    </div>
                                    <span></span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nb-tab>

</nb-tabset> -->