 <div class="loaderBackdrop" *ngIf="loader == true">
    <div id="loader"></div>
  </div> 
<div class="fixed  " *ngIf="show">
<div class="col-md-12 toprow sticky-top">
  <div class="col-md-6">
    <h3 class="h3lable">Buddy Calling Report</h3>
  </div>
   <div class="col-md-6 text-right">
   <button type="button" class="back_button"  (click)="back()" >Back</button> 
  </div>
  </div>
<div class="container">  
  <div class="tablepadd">
  <angular-slickgrid gridId="grid1"
            [columnDefinitions]="columnDefinitions"
            [gridOptions]="gridOptions"
            [dataset]="dataset"
            (onAngularGridCreated)="angularGridReady($event)"
            (onGridStateChanged)="gridStateChanged($event)"
            (onBeforeGridDestroy)="saveCurrentGridState($event)"
            (sgOnSelectedRowsChanged)="handleSelectedRowsChanged($event.detail.eventData, $event.detail.args)">
            <!-- (sgOnRowCountChanged)="refreshStatistics($event.detail.eventData, $event.detail.args)" -->
  </angular-slickgrid>
  </div>
  </div>
</div>