<!-- <div id="table" class="table-editable mytable">
  <table class="table table-bordered table-responsive-md table-striped text-center">
    <thead>
      <tr>
        <th class="text-center">Attribute</th>
        <th class="text-center">Skills</th>
        <th class="text-center">Description</th>
        <th class="text-center">360 Feedback Score(5 Scale)</th>
        <th class="text-center">360 Feedback Score</th>
        <th class="text-center">FGD SCore</th>
        <th class="text-center">PI Score</th>
        <th class="text-center">PI Score Average</th>
        <th class="text-center">Weighted Score</th>
      </tr>
    </thead>
    <tbody *ngFor="let person of personList; let id = index">
      <tr style="background-color: white;">
        <td [attr.rowspan]="person.skill.length+1" contenteditable="false">{{person.name}}</td>
        <td contenteditable="false">{{person.skill[0].name}}</td>
        <td contenteditable="false">{{person.skill[0].desc}}</td>
        <td [attr.rowspan]="person.skill.length+1" contenteditable="false" (keyup)="changeValue(id, 'FS5', $event)" (blur)="updateList(id, 'FS5', $event)">{{person.FS5}}</td>
        <td [attr.rowspan]="person.skill.length+1" contenteditable="false" (keyup)="changeValue(id, 'FS', $event)" (blur)="updateList(id, 'FS', $event)">{{person.FS}}</td>
        <td [attr.rowspan]="person.skill.length+1" contenteditable="false" (keyup)="changeValue(id, 'FGD', $event)" (blur)="updateList(id, 'FGD', $event)">{{person.FGD}}</td>
        <td contenteditable="false" (keyup)="changeValue(id, 'PI', $event)" (blur)="updateList(id, 'PI', $event)">{{person.skill[0].PI}}</td>
        <td [attr.rowspan]="person.skill.length+1" contenteditable="false" (keyup)="changeValue(id, 'PIAvg', $event)" (blur)="updateList(id, 'PIAvg', $event)">{{person.PIAvg}}</td>
        <td [attr.rowspan]="person.skill.length+1" contenteditable="false" (keyup)="changeValue(id, 'WeiAvg', $event)" (blur)="updateList(id, 'WeiAvg', $event)">{{person.WeiAvg}}</td>
      </tr>
      <tr *ngFor="let skills of person.skill; let id1 = index" style="background-color: white;">
        <ng-container *ngIf='id1>0'>
          <td contenteditable="false">{{skills.name}}</td>
            <td contenteditable="false">{{skills.desc}}</td>
            <td contenteditable="false" (keyup)="changeValue(id, 'PI', $event)" (blur)="updateList(id, 'PI', $event)">{{skills.PI}}</td>
          </ng-container>
      </tr>
    </tbody>
  </table>
</div> -->
<!-- <div class="col-md-12 colPad">
    <button type="button" class="assessSubmit floteright" (click)="submit(assessmentTemplate)">Save</button>
  </div> -->
<div id="table" class="table-editable mytable">
    <div class="tname">
        Trainer
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col" class="tHeadSize">Spectr</th>
                <th scope="col" class="tHeadSize">Competencies</th>
                <th scope="col" class="tHeadSize">Assess</th>
                <th scope="col" class="tHeadSizeSec">Score</th>
                <th scope="col" class="tHeadSize">Remarks</th>
            </tr>
        </thead>
        <tbody *ngFor="let template of assessmentTemplate">
            <tr>
                <td></td>
                <td></td>
                <td class="subheading"><b>{{template.areaName}}</b></td>
                <td></td>
                <td></td>
            </tr>
            <tr *ngFor="let templateInner of template.areaSubAssess">
                <td class="justifyContent" title="{{templateInner.spectrName}}">{{templateInner.spectrName}}</td>
                <td class="justifyContent" title="{{templateInner.compName}}">{{templateInner.compName}}</td>
                <td class="justifyContent" title="{{templateInner.assessName}}">{{templateInner.assessName}}</td>
                <td class="justifyContent">
                    <star-rating [starType]="'svg'" [readOnly]="true" [numOfStars]="4" staticColor="goldenyellow" [rating]="templateInner.score"></star-rating>

                    <!-- <star-rating [starType]="'svg'" [readOnly]="true" [numOfStars]="4" staticColor="goldenyellow" [rating]="templateInner.score"></star-rating> -->
                </td>
                <td class="justifyContent">{{templateInner.remarks}}
                    <!-- <textarea [(ngModel)]="templateInner.remarks" min="20" max="250" class="txtArea"></textarea> -->
                </td>
            </tr>
        </tbody>
    </table>
</div>