ul {
  list-style-type: none;
  background: #ffffff;

  border-bottom: 0 !important;
  li {
    padding: 6px 0;
  }

  .activateSelectedActive{
    padding: 6px 5px;
  }
 .activeSelected{
    background: var(--colorBgbtn);
    color: var(--colorBtnTxt);
    .folder-name{
      color: var(--colorBtnTxt);
    }
  }
  .folder {
    font-size: 10px;
    cursor: pointer;
    margin-right: 4px;
  }
  .folder-icon {
    width: 12px;
    height: 12px;
    font-size: 13px;
    margin-right: 8px;
  }
  .folder-name {
    margin: 0;
    font-size: 13px;
    font-weight: 400;
    overflow: hidden;
    color: #000000b8;
    white-space: nowrap;
    // letter-spacing: 0.2px;
    text-overflow: ellipsis;
    width: calc(100% - 35px);
    text-transform: capitalize;
    &:hover {
      text-decoration: underline;
    }
  }
  .folder-name-width {

    width: calc(100% - 35px);
  }
}
.pl-left-6{
  padding-left: 6px !important;
}
