<app-subheader [headerConfig]="header" (inputsearch)="searchData($event)" (addbtn)="showTemplate(null,0)" (backClick)="back()" (Clear)="clear()"></app-subheader>
<div class="top_header_container" *ngIf='!noMaster'>
    <!-- <div class="top_header_div_sticky content_width">
        <div class="widgets">
            <div class="loaderBackdrop" *ngIf="loader == true">
                <div id="loader"></div>
            </div>
            <div ba-panel ba-panel-class="with-scroll">
                <div class="col-sm-12 csm12"> -->
    <!-- <div class="divCon">
                        <div class="userSubButInd1 sticky-top">
                            <div class="col-sm-3">
                                <h3 class="h3lableuser">Location</h3>
                            </div>
                            <div class="col-sm-5">
                                <div class="search_div">
                                    <input type="text" class="form-control search_field" placeholder="Search by location name " [(ngModel)]="searchParticipant.locationName" />
                                    <i class="fa fa-remove remove_icon" aria-hidden="true" (click)="clear()"></i>
                                </div>
                            </div>
                            <div class="buttons_div">

                                <button class="constantbtn-button-blue-left" (click)="showTemplate(null,0)">Add</button>

                                <button type="submit" class="back_button" (click)="back()">Back</button>
                            </div>
                        </div>
                    </div> -->

    <!-- <ng-container *ngIf="( locationJson | filterBy:searchParticipant) as locationJson"> -->
    <div class="tableCompo">
        <ngx-enrol-table [label]="labels" [pagination]="true" [tableData]="locationJson" (clickOnbutton)="visibilityTableRow($event)" (clickOnicon)="editTableRow($event)"></ngx-enrol-table>
    </div>
    <div *ngIf="!noMaster" style="padding: 5px 10px">
        <div>Total: {{ locationJson.length }}</div>
    </div>

    <!-- </ng-container> -->
    <!-- </div>
            </div>
        </div>
    </div> -->
</div>
<div *ngIf="noMaster">
    <ngx-no-data [config]="noDataVal"></ngx-no-data>
</div>
<!-- <div class="tableDiv">
                        <div class="headers col-md-12">
                            <div class="col-sm-2">
                                <h6>
                                    <strong>
                    ID
                  </strong>
                                </h6>
                            </div>
                            <div class="col-sm-6">
                                <h6>
                                    <strong>
                    NAME
                  </strong>
                                </h6>
                            </div>

                            <div class="col-sm-1">
                            </div>
                            <div class="col-sm-1">
                            </div>
                        </div> -->



<!-- <div class="scroll_div">
                            <div class="col-sm-12 tableData" *ngFor=" let item of locationJson | filterBy: searchParticipant;let j=index ">

                                <div class="col-sm-2">
                                    <h6>{{item.locationId}}</h6>
                                </div>
                                <div class="col-sm-6">
                                    <h6>{{item.locationName}}</h6>
                                </div>
                                <div>
                                    <p style="padding-right: 150px;"></p>
                                </div>
                                <div class="col-sm-1">

                                    <i title="Enabled" style="color: black;" class="fa fa-eye fa-lg pointer" aria-hidden="true" (click)="disableVisibility(j,item,0)" [hidden]="item.visible == 0"></i>
                                    <i title="Disabled" style="color: black;" class="fa fa-eye-slash fa-lg pointer" aria-hidden="true" (click)="disableVisibility(j,item,1)" [hidden]="item.visible == 1"></i>

                                </div>
                                <div class="col-sm-1">
                                    <button class="cancelbutquiz" (click)="showTemplate(item,1)">
                                   <i class="fa fa-edit" title="Edit" style="float: right;"></i>
                                   </button>
                                </div>

                            </div>
                        </div> -->

<ngx-sidebar-form *ngIf="sectionshow" [sidebarTitle]='title' [buttonName]="btnName" (saveBtn)='saveTemp(form)' (outside)="closesectionModel()" (closeBtn)='closesectionModel()'>
    <!-- <div class="addRuleBackdropaddquiz" *ngIf="sectionshow"> -->
    <!-- <div class="addRuleDemoaddquizModal"> -->
    <!-- <div class="modal-header-1">

            <p>{{title}}</p>
            <button class="close" aria-label="Close" (click)="closesectionModel()">
                  <span aria-hidden="true">&times;</span>
                </button>
        </div> -->
    <!-- <div class="mbody modal-body">
                <div class="form_body_padding">
                  <div class="col-md-12">
                    <form class="forms-sample" [formGroup]="locationForm" (ngSubmit)="saveTemp()">
                      <table>
                        <td>
                          <label class="commonLabel"
                            for="name">{{helpContent?.location_AddEditCategoryContent?.name.label}} <sup
                              class="reqFieldActivity">*</sup>
                            <div class="help-tooltip">
                              <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                              <div class="help-tooltip-position-right">
                                <p>{{helpContent?.location_AddEditCategoryContent?.name.labelHelpContent}}</p>
                                <i></i>
                              </div>
                            </div>
                          </label>
                          <input id="name" style="width: 220px;" class="form-control commonInput" type="text"
                            formControlName="name" required [(ngModel)]="locationName1"
                            placeholder="Please enter location name">

                          <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
                            <div *ngIf="name.errors.required">
                              Name is required.
                            </div>
                            <div *ngIf="name.errors.minlength">
                              Name must be at least 3 characters long.
                            </div>
                            <div *ngIf="name.errors.maxlength">
                              Name must be less then 100 characters.
                            </div>
                          </div>
                          <p></p>
                        </td><span style="padding-right: 50px;"></span>
                        <td>
                          <label class="commonLabel"
                            for="visibility">{{helpContent?.location_AddEditCategoryContent?.visibility.label}}<sup
                              class="reqFieldActivity">*</sup>
                            <div class="help-tooltip">
                              <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                              <div class="help-tooltip-position-right">
                                <p>{{helpContent?.location_AddEditCategoryContent?.visibility.labelHelpContent}}</p>
                                <i></i>
                              </div>
                            </div>
                          </label>
                          <select [(ngModel)]="selectedVenueId" [ngModelOptions]="{standalone: true}"
                            class="form-control select_field_height commonSelect" required>
                            <option value="" selected disabled>Select Visibility</option>
                            <option *ngFor="let item of drowDownVisibleData" [value]=item.id>{{item.name}}</option>
                          </select>
                          <p></p>
                        </td>
                      </table>
                    </form>
                  </div>
                </div>
                <p></p>
                <div class="text-right">
                  <button type="button" class="constantbtn-button-blue-left" [disabled]="!locationForm.valid"
                    id="editbtn" (click)="saveTemp()">SUBMIT</button>
                </div>
              </div> -->


    <!-- <div class="mbody">
        <div class="container"> -->
    <form class="forms-sample" [formGroup]="locationForm" #form="ngForm" (ngSubmit)="saveTemp()">
        <div class="form-group">
            <label class="side-form-label" for="name">{{helpContent?.location_AddEditCategoryContent?.name.label}} <sup>&#x2731;</sup>
                    <app-info-tooltip for="name" [description]="helpContent?.location_AddEditCategoryContent?.name.labelHelpContent"></app-info-tooltip>
                </label>
            <input class="form-control commonInput" [ngClass]="{'invalid-form': name.invalid && (name.dirty || name.touched)}" id="name" type="text" formControlName="name" required [(ngModel)]="locationName1" placeholder="Please enter location name">
            <div *ngIf="name.invalid && (name.dirty || name.touched)">
                <small class="invalid-msg" *ngIf="name.errors.required">Name is required.</small>
                <small class="invalid-msg" *ngIf="name.errors.minlength">Name must be at least 3 characters long.</small>
                <small class="invalid-msg" *ngIf="name.errors.maxlength">Name must be less then 20 characters.</small>
            </div>
        </div>
        <div class="form-group">
            <label class="side-form-label">{{helpContent?.location_AddEditCategoryContent?.visibility.label}} <sup>&#x2731;</sup>
                    <app-info-tooltip  [description]="helpContent?.location_AddEditCategoryContent?.visibility.labelHelpContent"></app-info-tooltip>
                    </label>
            <select class="custom-select commonSelect" [(ngModel)]="selectedVenueId" [ngModelOptions]="{standalone: true}" required>
                      <option selected disabled>Select Visibility</option>
                      <option *ngFor="let item of drowDownVisibleData" [value]=item.id>{{item.name}}</option>
                  </select>
        </div>
        <!-- <div class="row">
                    <div class="col-md-5 col-sm-6 pad">
                        <label class="commonLabel" for="name">{{helpContent?.location_AddEditCategoryContent?.name.label}} <sup
                          class="reqFieldActivity">*</sup>
                        <div class="help-tooltip">
                          <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                          <div class="help-tooltip-position-right">
                            <p>{{helpContent?.location_AddEditCategoryContent?.name.labelHelpContent}}</p>
                            <i></i>
                          </div>
                        </div>
                      </label>
                        <input id="name" style="width: 100%;" class="form-control commonInput" type="text" formControlName="name" required [(ngModel)]="locationName1" placeholder="Please enter location name">
                        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
                            <div *ngIf="name.errors.required">
                                Name is required.
                            </div>
                            <div *ngIf="name.errors.minlength">
                                Name must be at least 3 characters long.
                            </div>
                            <div *ngIf="name.errors.maxlength">
                                Name must be less then 100 characters.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-6 pad">
                        <label class="commonLabel" for="visibility">{{helpContent?.location_AddEditCategoryContent?.visibility.label}}<sup
                          class="reqFieldActivity">*</sup>
                        <div class="help-tooltip">
                          <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                          <div class="help-tooltip-position-right">
                            <p>{{helpContent?.location_AddEditCategoryContent?.visibility.labelHelpContent}}</p>
                            <i></i>
                          </div>
                        </div>
                      </label>
                        <select [(ngModel)]="selectedVenueId" [ngModelOptions]="{standalone: true}" class="form-control select_field_height commonSelect" required>
                        <option value="" selected disabled>Select Visibility</option>
                        <option *ngFor="let item of drowDownVisibleData" [value]=item.id>{{item.name}}</option>
                      </select>
                    </div>
                    <div class="col-md-2 col-sm-3 btn-position">
                            <button type="button" class="constantbtn-button-blue-left" [disabled]="!locationForm.valid" id="editbtn" (click)="saveTemp()">Submit</button>
                        </div>
                </div> -->
    </form>
    <!-- </div>
    </div> -->
    <!-- </div> -->
    <!-- </div> -->
</ngx-sidebar-form>
<!-- 
                    <div class="clearfix bottomPager col-md-12">
                        <div class="hint-text">Total Pages : <b>{{pager.totalPages}}</b></div>
                        <ul class="pagination">
                            <li class="page-item disabled" [ngClass]="{disabled:pager.currentPage === 1}" (click)="setpage(pager.currentPage - 1)">Previous</li>
                            <li class="page-item" *ngFor="let item of pager.pages; let i = index" [ngClass]="{active:pager.currentPage === item}" (click)="setpage(item)">
                                {{item}}</li>
                            <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}" (click)="setpage(pager.currentPage + 1)">Next</li>
                        </ul>
                    </div> -->