<app-subheader [headerConfig]="header" (btntwo)="submit(programForm)" (btnthree)="setheader('call')" (backClick)="back()">
</app-subheader>

<div class="add_edit_program_container">

    <div class="">
        <div class="tab_container">
            <!-- <div class="buttons-tab">
        <div class="buttons-tab-inside">
          <button type="button" class="constantbtn-button-blue-left" *ngIf="Details"
            (click)="submit(programForm)">Save</button>
          <button type="submit" class="back_button" (click)="back()">Back</button>
        </div>
      </div> -->

            <nb-tabset class="custom_tabset tabs-content" (changeTab)="selectedTab($event)">
                <nb-tab tabTitle="Details" [active]="Details">
                    <div class="form_container" style="height: 100vh;">
                        <div class="">
                            <form class="form_grid" #programForm="ngForm">
                                <div class="left_form_container">
                                    <div class="form-group form_field_container">
                                        <label class="side-form-label" for="catid">{{helpContent?.blended_programs?.program_name?.label}}
                                          <sup>&#x2731;</sup>
                            <app-info-tooltip  [description]="helpContent?.blended_programs?.program_name?.labelHelpContent"></app-info-tooltip>
                        
                      <!-- <sup class="required_mark">*</sup>
                      <div class="help-tooltip">
                        <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                        <div class="help-tooltip-position-bottom">
                          <p>{{helpContent?.blended_programs?.program_name?.labelHelpContent}}.</p>
                          <i></i>
                        </div>
                      </div> -->
                    </label>
                                        <input type="text" class="form-control commonInput" id="progName" maxlength="50" minlength="2" [(ngModel)]="member.programName" placeholder="Max 50 characters" #progName="ngModel" required name="programName">

                                        <div *ngIf="progName.errors && (progName.dirty || progName.touched)">
                                            <small class="invalid-msg" [hidden]="!progName.errors.required">
                        Program name is required
                      </small>
                                            <small class="invalid-msg" [hidden]="!progName.errors.minlength">
                        Minimum 2 characters required
                      </small>
                                        </div>
                                    </div>



                                    <!--

                       <div class="form-group form_field_container">
                        <label class="" for="categoryId">{{helpContent?.blended_programs?.category_name?.label}}
                          <sup class="required_mark">*</sup>
                          <div class="help-tooltip">
                            <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                            <div class="help-tooltip-position-right">
                              <p>{{helpContent?.blended_programs?.category_name?.labelHelpContent}}.</p>
                              <i></i>
                            </div>
                          </div>
                        </label>
                        <select [(ngModel)]="member.categoryId" id="categoryId" #categoryName="ngModel" required
                          class="form-control form-control-input select_field_height inputText" name="categoryId">
                          <option value="" selected disabled>Select Category</option>
                          <option *ngFor="let item of category" value={{item.categoryId}}>
                            {{item.categoryName}}</option>
                        </select>


                        <div  *ngIf="categoryName.errors && (categoryName.dirty || categoryName.touched)">
                          <small class="invalid-msg" [hidden]="!categoryName.errors.required">
                            Category Name is required
                          </small>
                        </div>

                      </div> -->

                                    <div class="form-group form_field_container">
                                        <label class="side-form-label" for="categoryId">{{helpContent?.blended_programs?.category_name?.label}}
                                          <sup>&#x2731;</sup>
<app-info-tooltip  [description]="helpContent?.blended_programs?.category_name?.labelHelpContent"></app-info-tooltip>
                   
                      <!-- <sup class="required_mark">*</sup>
                      <div class="help-tooltip">
                        <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                        <div class="help-tooltip-position-right">
                          <p>{{helpContent?.blended_programs?.category_name?.labelHelpContent}}.</p>
                          <i></i>
                        </div>
                      </div> -->
                    </label>
                                        <select [(ngModel)]="member.categoryId" id="categoryId" #categoryName="ngModel" required class="custom-select commonInput" style="height: 30px;" name="categoryId">
                      <option value="" selected disabled>Select Category</option>
                      <option *ngFor="let item of category" value={{item.categoryId}}>
                        {{item.categoryName}}</option>
                    </select>


                                        <div *ngIf="categoryName.errors && (categoryName.dirty || categoryName.touched)">
                                            <small class="invalid-msg" [hidden]="!categoryName.errors.required">
                        Category Name is required
                      </small>
                                        </div>

                                    </div>

                                    <div class="form-group form_field_container">
                                        <label class="side-form-label" for="visiid">{{helpContent?.blended_programs?.visibility?.label}}
                                          <sup>&#x2731;</sup>
<app-info-tooltip  [description]="helpContent?.blended_programs?.visibility?.labelHelpContent"></app-info-tooltip>
                   
                      <!-- <sup class="required_mark">*</sup>
                      <div class="help-tooltip">
                        <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                        <div class="help-tooltip-position-right">
                          <p>{{helpContent?.blended_programs?.visibility?.labelHelpContent}}.</p>
                          <i></i>
                        </div>
                      </div> -->
                    </label>
                                        <select [(ngModel)]="member.visible" id="visiid" #visible="ngModel" required class="custom-select commonInput" style="height: 30px;" name="visible">
                      <option value="" selected disabled>Select Type</option>
                      <option *ngFor="let item of visibility" value={{item.id}}>{{item.name}}
                      </option>
                    </select>


                                        <div *ngIf="visible.errors && (visible.dirty || visible.touched)">
                                            <small class="invalid-msg" [hidden]="!visible.errors.required">
                        Visibility is required
                      </small>
                                        </div>

                                    </div>

                                    <div class="form-group form_field_container">
                                        <label class="side-form-label" for="catid">{{helpContent?.blended_programs?.program_duration?.label}}
                                          <sup>&#x2731;</sup>
<app-info-tooltip  [description]="helpContent?.blended_programs?.program_duration?.labelHelpContent"></app-info-tooltip>
                   
                      <!-- <sup class="required_mark">*</sup>
                      <div class="help-tooltip">
                        <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                        <div class="help-tooltip-position-right">
                          <p>{{helpContent?.blended_programs?.program_duration?.labelHelpContent}}.</p>
                          <i></i>
                        </div>
                      </div> -->
                    </label>
                                        <input type="number" class="form-control commonInput" id="duration" placeholder="Program Duration" [(ngModel)]="member.duration" name="duration" #pduration="ngModel" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');"
                                            onKeyDown="if(this.value.length==3 && event.keyCode!=8) return false;" maxlength="3" min="1" required>


                                        <div *ngIf="pduration.errors && (pduration.dirty || pduration.touched)">
                                            <small class="invalid-msg" [hidden]="!pduration.errors.required">
                        Program Duration is required
                      </small>
                                        </div>

                                    </div>

                                    <div class="form-group form_field_container">
                                        <label class="side-form-label" for="addTags">{{helpContent?.blended_programs?.tags?.label}}
                                          <sup>&#x2731;</sup>
<app-info-tooltip  [description]="helpContent?.blended_programs?.tags?.labelHelpContent"></app-info-tooltip>
                   
                      <!-- <sup class="required_mark">*</sup>
                      <div class="help-tooltip">
                        <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                        <div class="help-tooltip-position-right">
                          <p>{{helpContent?.blended_programs?.tags?.labelHelpContent}}.</p>
                          <i></i>
                        </div>
                      </div> -->
                    </label>
                                        <div id="addTags">
                                            <angular2-multiselect id="exampleInputTags4" [data]="tagList" [(ngModel)]="selectedTags" [settings]="settingsTagDrop" required #tags="ngModel" (onSelect)="onTagsSelect($event)" (onDeSelect)="OnTagDeSelect($event)" name="selectedTags" ngDefaultControl [ngModelOptions]="{standalone: true}">
                                                <c-search>
                                                    <ng-template>
                                                        <input class="commonInput " type="text " (keyup)="onTagSearch($event) " placeholder="Search Tags " style="border: none;width: 100%; height: 100%;outline: none; " />
                                                    </ng-template>
                                                </c-search>
                                                <c-item>
                                                    <ng-template let-item="item">
                                                        <label class="side-form-label " style="color: #333; ">{{item.name}}</label>
                                                    </ng-template>
                                                </c-item>
                                            </angular2-multiselect>
                                            <!-- <div *ngIf="tags.errors && (tags.dirty || tags.touched) ">
                                                <small class="invalid-msg " [hidden]="!tags.errors.required ">
                          Tags are required
                        </small>
                                            </div> -->
                                            <div *ngIf="selectedTags.length == 0 && valid == false ">
                                              <small class="invalid-msg " [hidden]="!tags.errors.required ">
                                              Tags are required
                                          </small>
                                          </div>
                                        </div>




                                    </div>

                                    <div class="form-group form_field_container ">
                                        <label class="side-form-label " for="standardId ">{{helpContent?.blended_programs?.standard?.label}}
                                          <sup>&#x2731;</sup>
<app-info-tooltip  [description]="helpContent?.blended_programs?.standard?.labelHelpContent "></app-info-tooltip>
                   
                      <!-- <sup class="required_mark ">*</sup>
                      <div class="help-tooltip ">
                        <i class="fa fa-info-circle tooltip-hover-info-label-round " aria-hidden="true "></i>
                        <div class="help-tooltip-position-right ">
                          <p>{{helpContent?.blended_programs?.standard?.labelHelpContent}}.</p>
                          <i></i>
                        </div>
                      </div> -->
                    </label>
                                        <select [(ngModel)]="member.standardId" id="standardId" required #standard2="ngModel" class="custom-select commonInput " style="height: 30px; " name="standardId">
                      <option value="" selected disabled>Select Standard</option>
                      <option *ngFor="let item of standard " value={{item.id}}>{{item.name}}</option>
                    </select>


                                        <div *ngIf="standard2.errors && (standard2.dirty || standard2.touched) ">
                                            <small class="invalid-msg " [hidden]="!standard2.errors.required ">
                        Standard is required
                      </small>
                                        </div>
                                    </div>



                                </div>

                                <div class="right_form_container ">
                                    <!-- <label class="sqrCheckBox pointer ">
                            <input id="cReview " type="checkbox " name="courseReview " [(ngModel)]="member.isWfPgm " class="marginRight5px " >
                            <label class="sqrCheckBoxLabel " for="cReview "> </label>Is workflow program
                              <div class="help-tooltip ">
                                <i class="fa fa-info-circle tooltip-hover-info-label-round " aria-hidden="true "></i>

                                <div class="help-tooltip-position-right ">
                                    <h3>Lorem Ipsum</h3> 
                                    <p>Tick on the checkbox if program should be a workflow program</p>

                                    <i></i>
                                </div>
                              </div>


                          </label> -->
                                    <div class="form-group form_field_container ">
                                        <label class="side-form-label " for="programCode ">{{helpContent?.blended_programs?.program_code?.label}}
                                          <app-info-tooltip  [description]="helpContent?.blended_programs?.program_code?.labelHelpContent "></app-info-tooltip>
            
          <!-- <div class="help-tooltip ">
            <i class="fa fa-info-circle tooltip-hover-info-label-round " aria-hidden="true "></i>
            <div class="help-tooltip-position-right ">
              <p>{{helpContent?.blended_programs?.program_code?.labelHelpContent}}.</p>
              <i></i>
            </div>
          </div> -->
        </label>
                                        <input type="text " class="form-control inputText commonInput " id="programCode " [(ngModel)]="member.programCode " placeholder="Program Code " name="programCode " [disabled]="true ">


                                        <!-- <div  *ngIf="progName.errors && (progName.dirty || progName.touched) ">
                      <small class="invalid-msg "  [hidden]="!progName.errors.required ">
                        Program name is required
                      </small>
                  </div> -->

                                    </div>
                                    <div class="form-group form_field_container ">
                                        <label class="side-form-label " for="catid ">{{helpContent?.blended_programs?.program_images?.label}}
                      <!-- <sup class="required_mark ">*</sup> -->
                      <app-info-tooltip  [description]="helpContent?.blended_programs?.program_images?.labelHelpContent "></app-info-tooltip>
            
                      <!-- <div class="help-tooltip ">
                        <i class="fa fa-info-circle tooltip-hover-info-label-round " aria-hidden="true "></i>
                        <div class="help-tooltip-position-right ">
                          <p>{{helpContent?.blended_programs?.program_images?.labelHelpContent}}.</p>
                          <i></i>
                        </div>
                      </div> -->
                    </label>

                                        <div class="image_upload_container ">
                                            <div class="image_preview ">

                                                <div class="image_preview_container " [ngStyle]="{ 'not_found': !member.progPicRef } " [style.background-image]=" 'url(' + member.progPicRef + ')' ">

                                                    <div class="icon_upload_image ">
                                                        <input class="commonInput " type='file' id="imageUpload " accept=".png, .jpg, .jpeg " (change)="readCategoryThumb($event) " [(ngModel)]="member.categoryPicRefs " [ngModelOptions]="{standalone:
                                                true} " style="display: none " />

                                                        <label class="side-form-label " for="imageUpload " title="Change Thumbnail "><i class="fa fa-pencil "
                                aria-hidden="true "></i></label>
                                                    </div>
                                                    <div class="icon_delete " (click)="deleteCategoryThumb() ">
                                                        <i class="fa fa-trash " aria-hidden="true "></i>
                                                        <!-- <label></label> -->
                                                    </div>

                                                </div>



                                                <!-- <div class="image_preview_container no_image_found " *ngIf="!member.progPicRef "
                            >

                            <div class="icon_upload_image ">
                              <input type='file' id="imageUpload " name="imageUpload "
                              (change)="readCategoryThumb($event) " style="display:none "/>
                            <label for="imageUpload " title="Change Thumbnail "><i class="fa fa-pencil "
                                aria-hidden="true "></i></label>
                          </div>
                          <div class="icon_delete " (click)="deleteCategoryThumb() ">
                            <i class="fa fa-trash " aria-hidden="true "></i>

                          </div>


                            </div> -->
                                                <!-- <div class="buttons_image_preview "> -->


                                                <!-- </div> -->

                                            </div>
                                        </div>



                                        <!-- <div  *ngIf="standard2.errors && (standard2.dirty || standard2.touched) ">
                          <small class="invalid-msg " [hidden]="!standard2.errors.required ">
                            Standard is required
                          </small>
                        </div> -->
                                    </div>

                                    <div class="form-group form_field_container ">
                                        <label class="side-form-label " for="des ">{{helpContent?.blended_programs?.description?.label}}
                                          <sup>&#x2731;</sup>
<app-info-tooltip  [description]="helpContent?.blended_programs?.description?.labelHelpContent "></app-info-tooltip>
                        
                      <!-- <sup class="required_mark ">*</sup>
                      <div class="help-tooltip ">
                        <i class="fa fa-info-circle tooltip-hover-info-label-round " aria-hidden="true "></i>
                        <div class="help-tooltip-position-right ">
                          <p>{{helpContent?.blended_programs?.description?.labelHelpContent}}.</p>
                          <i></i>
                        </div>
                      </div> -->
                    </label>
                                        <textarea style="height: 120px; " cols="30" rows="6" class="form-control form-control-input  commonTextarea " id="des " placeholder="Min 20 and max 500 characters " name="description" required #description="ngModel" [(ngModel)]="member.description" minlength="20"
                                            maxlength="500"></textarea>


                                        <div *ngIf="description.errors && (description.dirty || description.touched) ">
                                            <small class="invalid-msg " [hidden]="!description.errors.required ">
                        Description is required
                      </small>
                                            <small class="invalid-msg " *ngIf="description.errors?.minlength ">
                        Minimum 20 characters are required
                      </small>
                                        </div>
                                    </div>

                                </div>


                            </form>
                        </div>


                    </div>







                    <!--   <div class="col-md-6 grid-margin stretch-card " style="margin-top: 25px;padding-right: 25px; ">
                                                              <div class="card cardForm ">
                                                                  <div class="card-body ">
                                                                      <h4 class="card-title marginTop0 ">Program Image</h4>
                                                                      <p class="card-description ">
                                                                      </p>
                                                                      <form class="forms-sample ">
                                                                          <div class="form-group ">
                                                                       <label class="space_left " for="catid ">Program Duration</label>
                                                                              <div class="categoryIcon ">
                                                                                  <div class="m0 categoryIcon-upload ">
                                                                                      <div class="categoryIcon-edit ">
                                                                                          <input type='file' id="imageUpload " accept=".png, .jpg, .jpeg " (change)="readCategoryThumb($event) " />
                                                                                          <label for="imageUpload " title="Change Thumbnail "></label>
                                                                                      </div>
                                                                                      <div class="categoryIcon-delete " (click)="deleteCategoryThumb() ">
                                                                                          <label title="Restore to default "></label>
                                                                                      </div>
                                                                                      <div class="categoryIcon-preview ">
                                                                                          <img src={{member.picRef}}>
                                                                                      </div>
                                                                                  </div>
                                                                              </div>
                                                                          </div>
                                                                      </form>
                                                                  </div>
                                                              </div>
                                                          </div> -->










                </nb-tab>

                <nb-tab tabTitle="Content" [active]="contentTab" class="contentTab">
                    <div class="formMargTop ">
                        <div class="col-md-12 formGenCardCourse23 ">
                            <div class="card card1234 " style="height:100vh">
                                <div class="card-body padding0 cardBody ">
                                    <div class="contentComponent ">
                                        <ngx-content></ngx-content>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </nb-tab>


                <nb-tab tabTitle="Call" [active]="call" class=" ">
                    <div class="formMargTop">
                        <div class="col-md-12 formGenCardCourse23">
                            <div class="card card1234" style="height: 100vh;">
                                <div class="card-body padding0 cardBody " style="padding: 1.25rem; ">
                                    <div class="contentComponent">
                                        <!-- <ngx-call *ngIf='call'></ngx-call> -->
                                        <div *ngIf='call'>
                                            <ngx-call [inputData]="isdata"></ngx-call>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </nb-tab>

            </nb-tabset>
        </div>
    </div>
</div>