.add_edit_program_container {
    .formMargTop {
        margin-top: 15px;
    }
    .sqrCheckBox .sqrCheckBoxLabel {
        border: 1px solid #ccc;
        border-radius: none;
        cursor: pointer;
        height: 16px;
        left: 5px;
        position: -webkit-sticky;
        position: relative;
        width: 16px;
        // top: 8px  ;
        top: 9.5px;
        margin-right: 10px;
        background: white;
    }
    .sqrCheckBox .sqrCheckBoxLabel:after {
        // border: 2px solid #fff;
        border: 2px solid #076ba1;
        border-top: none;
        border-right: none;
        content: "";
        height: 4px;
        left: 1.5px;
        opacity: 0;
        position: absolute;
        top: 4.0px;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        width: 12px;
    }
    .sqrCheckBox input[type="checkbox"] {
        visibility: hidden;
        background: white;
        display: none;
    }
    .sqrCheckBox input[type="checkbox"]:checked+.sqrCheckBoxLabel {
        background-color: #ffffff;
        border-color: #076ba1;
    }
    .sqrCheckBox input[type="checkbox"]:checked+.sqrCheckBoxLabel:after {
        opacity: 1;
    }
    .tab_container {
        .buttons-tab {
            position: relative;
            .buttons-tab-inside {
                position: fixed;
                right: 2%;
                top: 76px;
                z-index: 1031;
            }
        }
        .tabs-content {
            .form_container {
                margin: 15px;
                background: #fff;
                padding: 0px 15px;
                border-radius: 5px;
                box-shadow: 1px 2px 9px #ccc;
                .form_grid {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-column-gap: 40px;
                    .right_form_margin {
                        margin-top: 8px;
                    }
                    .form_field_container {
                        margin: 15px 0;
                        label {
                            color: #666666;
                        }
                        .required_mark {
                            font-size: 20px;
                            font-weight: 100;
                            top: -0.3em;
                            color: #ed462f;
                        }
                        .tagcontainer {
                            margin-bottom: 4px;
                        }
                        .tagcontainer .bootstrap.ng2-tag-input {
                            display: block;
                            -webkit-box-orient: horizontal;
                            -webkit-box-direction: normal;
                            -ms-flex-direction: row;
                            flex-direction: row;
                            -ms-flex-wrap: wrap;
                            flex-wrap: wrap;
                            position: relative;
                            cursor: text;
                            // width: 445px   ;
                            border-bottom: 2px solid #efefef;
                        }
                        tag-input {
                            width: 100%;
                        }
                        .image_upload_container {
                            // margin-top: 15px;
                            .image_preview {
                                height: 170px;
                                width: 300px;
                                margin-right: auto;
                                box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
                                padding: 10px;
                                background: #fff9f9;
                                position: relative;
                                .image_preview_container {
                                    height: 150px;
                                    width: 100%;
                                    background-size: cover;
                                    background-position: center;
                                    background-repeat: no-repeat;
                                    display: grid;
                                    grid-template-columns: 1fr 1fr;
                                    // position: absolute;
                                    grid-column-gap: 20px;
                                    align-items: end;
                                    // margin-top: -10px;
                                    // img{
                                    //   width: 100%;
                                    //   height: 100%;
                                    // }
                                    .icon_upload_image {
                                        // text-align: right;
                                        // margin-left: auto;
                                        margin-left: 10px;
                                        margin-bottom: 10px;
                                        label {
                                            display: flex;
                                            align-items: center;
                                            // align-content: 
                                            justify-content: center;
                                            // justify-items: center;
                                            background: #fff;
                                            // color: #076ba1;
                                            color: var(--colorIcons) !important;
                                            height: 40px;
                                            width: 40px;
                                            border-radius: 50%;
                                            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
                                            margin-bottom: 0;
                                            padding: 0;
                                            i {
                                                line-height: 40px;
                                            }
                                        }
                                        // margin: 0 auto;
                                    }
                                    .icon_delete {
                                        // text-align: right;
                                        // margin-right: auto;
                                        margin-left: auto;
                                        margin-right: 10px;
                                        margin-bottom: 10px;
                                        display: flex;
                                        align-items: center;
                                        // align-content: 
                                        justify-content: center;
                                        // justify-items: center;
                                        background: #fff;
                                        color: #076ba1;
                                        height: 40px;
                                        width: 40px;
                                        border-radius: 50%;
                                        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
                                        // margin: 0;
                                        padding: 0;
                                        i {
                                            line-height: 40px;
                                        }
                                    }
                                    //   .buttons_image_preview{
                                    //     // display: grid;
                                    //     // grid-template-columns: 1fr 1fr;
                                    //     // // position: absolute;
                                    //     // grid-column-gap: 20px;
                                    //     // align-items: end;
                                    //     // margin-top: -10px;
                                    // }
                                }
                            }
                        }
                    }
                    //   .select_field_height{
                    //     height: 35px;
                    //     width: 100%;
                    // }
                }
            }
        }
        // .content_width{
        //   width: 78vw;
        //   margin: 0 auto;
        //   }
        // background: #fff;
        // position: sticky;
        // top: 4.75rem;
        // z-index: 1020;
        .buttons_container {
            text-align: right;
        }
        .form_title {}
        // .required_msg_text{
        //   .form-text{
        //     color: #ed462f ;
        //   }
        // }
    }
    .tabs-content>ul {
        background: #fff;
        border-bottom: 1px solid var(--colorCommon);
        padding-left: 0;
        padding-right: 0;
        position: -webkit-sticky;
        position: sticky;
        top: 105px;
        z-index: 2;
    }
    .tabs-content>ul>li.active>a {
        // color: #076ba1;
        color: var(--colorCommon) !important;
    }
    .tabs-content>ul>li>a::before {
        // background: #076ba1;
        background: var(--colorCommon) !important;
    }
    .tabs-content>ul>li>a:hover {
        // color: #076ba1;
        color: var(--colorCommon) !important;
    }
    .tabs-contentTab {
        margin-top: 10px;
    }
}