<a [href]="buttonDown" *ngIf="buttonDown != null"><i (click)="btnDownclick()" [ngClass]="temp"></i></a>
<span *ngIf="buttonDown == null && tableHead['noDataMessage']">{{tableHead['noDataMessage']}}</span>


<a  *ngIf="buttonDown == null && !tableHead['noDataMessage']"><i (click)="btnDownclick()" [ngClass]="temp"></i></a>
