@import '../../../../@theme/styles/variable.scss';
.add_edit_question {
    li.active .sqrCheckBox {
        display: inline;
    }
    .labelgrid {
        display: grid;
        grid-template-columns: 1fr 0fr;
    }
    .overflow_hidden {
        overflow: hidden;
    }
    .sqrCheckBox .sqrCheckBoxLabel1 {
        border: 1px solid #ccc;
        border-radius: none;
        cursor: pointer;
        height: 16px;
        left: -12px;
        position: -webkit-sticky;
        position: relative;
        width: 16px;
        top: 9px;
        margin-right: -9px;
        background: white;
    }
    .sqrCheckBox .sqrCheckBoxLabel1:after {
        // border: 2px solid #fff;
        border: 2px solid var(--colorCommon);
        border-top: none;
        border-right: none;
        content: "";
        height: 4px;
        left: 1.5px;
        opacity: 0;
        position: absolute;
        top: 4px;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        width: 12px;
    }
    .sqrCheckBox input[type="checkbox"] {
        visibility: hidden;
    }
    .sqrCheckBox input[type="checkbox"]:checked+.sqrCheckBoxLabel {
        background-color: #ffffff;
        // border-color: #076ba1;
        border-color: var(--colorCommon);
    }
    .sqrCheckBox input[type="checkbox"]:checked+.sqrCheckBoxLabel:after {
        opacity: 1;
    }
    .searchInput::placeholder {
        color: #313233bf;
    }
    .searchInput {
        border: none;
        border-bottom: 1px solid #313233bf;
        background: transparent;
        box-shadow: none;
        border-radius: 0;
    }
    .ngx-datatable.fixed-header .datatable-header .datatable-header-inner .datatable-header-cell {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        // text-align: center;
        font-size: 14px;
        color: black;
        padding-left: 7px;
    }
    .ngx-datatable.material {
        background: #fff;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .ngx-datatable.material .datatable-body .datatable-body-row {
        border-bottom: 0.5px solid #e8dedef0;
    }
    // .required_msg_text{
    //   .form-text{
    //     color: #ed462f ;
    //   }
    // }
    .dragBtn {
        height: 70px;
        width: 37px;
        background-color: #ffffff;
        border: none;
        /* padding: 20px; */
    }
    .courseRevDis {
        /* pointer-events: none; */
        cursor: not-allowed;
        background-color: #fdfbfbc2;
        // z-index: 1000;
        .checkBoxDiv {
            pointer-events: none;
        }
    }
    .marginTop14 {
        margin-top: 14px;
    }
    .formGen,
    .manualformGen {
        width: 100%;
        margin: 0 auto;
    }
    // .formGenCard{
    //   padding-left: 25px;
    //   // margin-top: 25px;
    // }
    .formGenCardCourse {
        padding-left: 10px;
        padding-right: 10px;
    }
    .manualformGenCard,
    .ruleBasedformGenCard,
    .regulatoryformGenCard,
    .selfformGenCard {
        margin-bottom: 0;
        margin-top: 10px;
    }
    .manualCardForm,
    .ruleBasedCardForm,
    .regulatoryCardForm,
    .selfCardForm {
        cursor: pointer;
        margin-bottom: 0;
    }
    .manualCardBody,
    .ruleBasedCardBody,
    .regulatoryCardBody,
    .selfCardBody {
        // padding: 15px 15px 0px 15px ;
        padding: 0.5rem;
    }
    .headerCard {
        display: inline-block;
        // display: inline-flex;
        // display: inherit;
        width: 100%;
    }
    .manualTitle,
    .ruleTitle,
    .regTitle,
    .selfTitle {
        float: left;
        margin-bottom: 0;
        font-size: 1.3rem;
        font-weight: 100;
        margin-top: 0;
    }
    .downArrow {
        color: #ed462f;
    }
    #right_float {
        float: right;
    }
    [data-toggle="collapse"] i:before {
        content: "\f139";
    }
    [data-toggle="collapse"].collapsed i:before {
        content: "\f13a";
    }
    .expandBtn {
        float: right;
        background: #fff;
        border: none;
    }
    .expandBtn:hover {
        background: #fff;
        border: none;
        outline: none;
    }
    .topBorderForm {
        // border-bottom: 1px solid #076ba1;
        // margin-top: 30px;
    }
    .manualContent {
        // min-height: 100px;
        min-height: 350px;
    }
    .ruleBasedContent {
        // min-height: 100px;
        min-height: 350px;
    }
    .regulatoryContent {
        // min-height: 100px;
        min-height: 350px;
    }
    .selfContent {
        // min-height: 100px;
        min-height: 350px;
    }
    .pointer {
        margin-bottom: 0px;
    }
    .subMenu {
        width: 100%;
    }
    .courseDetailsBtn,
    .courseModuleBtn,
    .courseEnrolBtn,
    .courseEngageBtn,
    .courseRewardsBtn {
        border-radius: 0;
        background: #076ba1;
        color: #fff;
        border: #076ba1;
        height: 29px;
        -webkit-transform: none;
        transform: none;
    }
    .courseDetailsBackBtn,
    .courseModuleBackBtn,
    .courseEnrolBackBtn,
    .courseEngageBackBtn,
    .courseRewardsBackBtn {
        margin: 0 10px;
        border-radius: 0;
        background: #076ba1;
        color: #fff;
        border: #076ba1;
        height: 29px;
        color: #ffffff;
        background-color: #bbc0c3;
        background-image: none;
        border-color: #076ba1;
        -webkit-transform: none;
        transform: none;
    }
    .courseTabset1>ul {
        background: #fff;
        border-bottom: none;
        position: sticky;
        top: 107px;
        z-index: 7;
        // padding-left: 0 ;
        // padding-right: 0 ;
        // position: -webkit-sticky ;
        // position: sticky ;
        // top: 67px ;
        // z-index: 1090 ;
    }
    .courseTabset1>ul>li.active>a {
        // color: #076ba1;
        color: var(--colorCommon);
    }
    .courseTabset1>ul>li>a::before {
        // background: #076ba1;
        background: var(--colorCommon);
    }
    .courseTabset1>ul>li>a:hover {
        // color: #076ba1;
        color: var(--colorCommon);
    }
    .courseDetailsTab,
    .courseMoudulesTab,
    .courseEnrolTab,
    .courseEngageTab,
    .courseRewardsTab {
        margin-top: 10px;
    }
    .addRulebtn,
    .addRegulatorybtn,
    .addSelfbtn {
        margin-bottom: 0;
        top: 23px;
        button {
            height: 35px;
        }
    }
    .styled-select {
        background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
        height: 29px;
        overflow: hidden;
        width: 240px;
    }
    .styled-select.slate {
        background: url(http://i62.tinypic.com/2e3ybe1.jpg) no-repeat right center;
        height: 34px;
        width: 240px;
    }
    .styled-select.slate select {
        border: 1px solid #ccc;
        font-size: 16px;
        height: 34px;
        width: 268px;
    }
    .dropHeight {
        height: 2.5rem;
    }
    option:disabled {
        background: #dddddd;
        cursor: not-allowed;
        opacity: 0.65;
    }
    .mainDrop {
        // margin-left: 366px;
    }
    .paraRemove {
        /*margin-top: 23px;*/
        /*margin-top: 30px;*/
        /*margin-right: 475px;*/
        cursor: pointer;
        // margin-top: 24px;
    }
    .inputDrop,
    .inputDate,
    .inputText,
    .inputNumber {
        /* margin-top: 1.3rem; */
        /* width: 144px; */
        /* margin-left: 25px; */
    }
    .optSubmit {
        /*float: right;*/
        margin-top: 20px;
    }
    .clearRes {
        float: left;
    }
    .toDate,
    .fromDate {
        width: 144px;
        margin-left: 25px;
    }
    .dateSelect {
        /*display:inherit;*/
        margin-top: 21px;
        display: inline-flex;
    }
    .mainDropPara {
        /* width: 175px; */
        /* margin-top: 4px; */
        padding: 0;
    }
    .mainDropVal {
        margin-top: 1px;
    }
    .mainDropParaRow {
        display: -webkit-inline-box;
    }
    .rulesDiv {
        overflow-y: auto;
        max-height: 310px;
        form {
            width: 100%;
        }
    }
    .mrgbtm {
        margin-bottom: 1rem;
    }
    .manEnrolSrchDiv {
        margin-bottom: 15px;
    }
    .manEnrolSearchUsr {
        width: 100%;
        padding: 10px;
    }
    .deleteUserIcon {
        cursor: pointer;
        color: #f7521e;
        font-size: 15px;
    }
    .padding0 {
        padding: 0;
    }
    .addRuleBackdrop,
    .addRegulatoryBackdrop,
    .addSelfBackdrop {
        // position: absolute;
        // width: 100%;
        // height: 100%;
        // top: 50px;
        // background-color: #404040c2;
        // z-index: 1000;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 67px;
        background-color: #404040c2;
        z-index: 2000;
        box-sizing: border-box;
        .addRuleDemoModal,
        .addRegulatoryDemoModal,
        .addSelfDemoModal {
            /*width: 80%;*/
            // width: 50%;
            // margin: auto;
            // background-color: #fff;
            // margin-top: 50px;
            // border-radius: 5px;
            width: 50%;
            margin: auto;
            background-color: #fff;
            margin-top: 65px;
            border-radius: 5px;
        }
    }
    .addSelfBackdrop2 {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 67px;
        padding: 0;
        background-color: #404040c2;
        z-index: 2000;
        box-sizing: border-box;
    }
    .addSelfDemoModal2 {
        margin: auto;
        width: 50%;
        background-color: #fff;
        border-radius: 5px;
        margin-top: 2%;
    }
    .form-control {
        -webkit-box-shadow: none;
        box-shadow: none;
        border: 1px solid #dadfe6;
    }
    .modal-header {
        background-color: #076ba1;
        height: 55px;
        color: #fff;
    }
    .removeMulti {
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1;
        color: #076ba1;
        text-shadow: 0 1px 0 #fff;
        opacity: 0.5;
        background: none;
        border: none;
    }
    .modal-footer {
        height: 55px;
    }
    .daysInputNo input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
    .modal-body .row {
        margin: 20px 0;
        width: 100%;
    }
    .savebtn {
        background-color: #076ba1;
        border: none;
        padding: 8px;
        color: #fff;
    }
    .enterDaysDiv {
        display: flex;
    }
    .enterDaysDiv label {
        padding-top: 8px;
        width: 25%;
    }
    #enterDays {
        width: 75%;
    }
    /* The container */
    .chkbx {
        display: inline;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        margin-right: 20px;
        cursor: pointer;
        font-size: 15px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    /* Hide the browser's default checkbox */
    .chkbx input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }
    /* Create a custom checkbox */
    .checkmark2 {
        position: absolute;
        top: 4px;
        left: 0;
        height: 15px;
        width: 15px;
        background-color: #e2dddd;
        border-radius: 5px;
    }
    /* On mouse-over, add a grey background color */
    .chkbx:hover input~.checkmark2 {
        background-color: rgb(196, 182, 182);
    }
    /* When the checkbox is checked, add a blue background */
    .chkbx input:checked~.checkmark2 {
        background-color: #2196f3;
    }
    /* Create the checkmark22/indicator (hidden when not checked) */
    .checkmark2:after {
        content: "";
        position: absolute;
        display: none;
    }
    /* Show the checkmark22 when checked */
    .chkbx input:checked~.checkmark2:after {
        display: block;
    }
    /* Style the checkmark22/indicator */
    .chkbx .checkmark2:after {
        left: 4px;
        top: 1px;
        width: 7px;
        height: 12px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    .card {
        border: 0px solid rgba(0, 0, 0, 0.125);
    }
    .dropd {
        height: calc(1rem + 22px);
    }
    .card-titlemar {
        margin-left: 20px;
    }
    /*.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; green
}*/
    /*.ng-invalid:not(form)  {
  border-left: 5px solid #a94442;  red
}*/
    .alert {
        margin-bottom: 1px;
        height: 25px;
        line-height: 25px;
        padding: 0px 15px;
    }
    .alert-danger {
        background-color: #f0f3f4;
        border-color: #f0f3f4;
        color: #a94442;
    }
    .userField {
        margin-left: 30px;
        margin-top: 15px;
    }
    .userLegend {
        margin-bottom: 5px;
    }
    .userLegendBorder {
        border-bottom-style: solid;
        border-bottom-width: 2px;
    }
    #userRow1 {
        margin-top: 10px;
    }
    .userSubBut {
        float: right;
        /* margin-left: 30px; */
        /*margin-top: 8px;*/
        transform: none;
        background: #fff;
        height: 55px;
        //margin: 0 auto;
        padding: 13.5px;
    }
    .userBackBut {
        /* display: none; */
    }
    #addTopicBtn {
        //margin-left: 10px;
        border-radius: 0;
        background: #076ba1;
        color: #fff;
        border: #ed462f;
        height: 37px;
        width: 135px;
        float: left;
        //padding: 2px;
        //width: 90px;
        color: #ffffff;
        background-color: #076ba1;
        background-image: none;
        border-color: #076ba1;
        transform: none;
    }
    .errorMsg {
        background-color: #ffffff;
    }
    .txtHeight {
        //height:30px;
        display: block;
        width: 95%;
        padding: 10px;
        float: left;
        height: 2.5rem;
        color: #495057;
        background-color: #fff;
        //line-height: 1.5;
        //height:40px;
        border: 1px solid #ccd4da;
    }
    #topMargin {
        margin-top: 30px;
    }
    .align_icon {
        display: block;
        width: 15%;
        float: right;
        //color: #495057;
        background-color: #fff;
        //line-height: 1.5;
        border: 1px solid #ccd4da;
    }
    .btnCal {
        position: absolute;
        width: 5%;
        float: right;
        height: 2.5rem;
    }
    .left_space {
        padding-left: 2px;
    }
    .cal_icon {
        background: url(assets/images/calendar-icon.png) no-repeat;
        background-size: 100% 100%;
    }
    .btnCal2 {
        position: absolute;
        width: 30px;
        float: right;
        height: 2.5rem;
    }
    #submitContent {
        margin-left: 10px;
        margin-right: 20px;
        border-radius: 0;
        background: #ed462f;
        color: #fff;
        border: #ed462f;
        height: 37px;
        width: 135px;
        color: #ffffff;
        background-color: #ed462f;
        background-image: none;
        border-color: #ed462f;
        transform: none;
    }
    #saveBut {
        margin-right: 10px;
        border-radius: 0;
        background: #ed462f;
        color: #fff;
        border: #ed462f;
        height: 37px;
        width: 135px;
        //padding: 2px;
        //width: 90px;
        color: #ffffff;
        background-color: #ed462f;
        background-image: none;
        border-color: #ed462f;
        transform: none;
    }
    #backButton {
        margin-bottom: 10px;
        border-radius: 0;
        background: #076ba1;
        color: #fff;
        border: #076ba1;
        height: 37px;
        width: 135px;
        color: #ffffff;
        background-color: #076ba1;
        background-image: none;
        border-color: #076ba1;
        transform: none;
    }
    .optbtnNew {
        border-radius: 0;
        background: #ed462f;
        color: #fff;
        border: #076ba1;
        height: 28px;
        /*width: 91px;*/
        transform: none;
    }
    .btn-secondary:hover {
        color: #fff;
        background-color: #ed462f;
        border-color: #ed462f;
    }
    .inputLabel {
        line-height: 2.5;
        font-size: 15px;
    }
    .left {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .photo {
        width: 200px;
        height: 200px;
        margin-top: -120px;
        border-radius: 100px;
        border: 4px solid #fff;
    }
    .proImg {
        margin-left: 157%;
        margin-top: 65%;
    }
    .img-circle {
        border-radius: 50%;
    }
    .bg-form {
        float: left;
        width: 100%;
        position: relative;
        background: url("http://lorempixel.com/200/200/abstract/");
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 0px;
    }
    .img-section {
        float: left;
        width: 100%;
        padding-top: 15px;
        padding-bottom: 15px;
        background: rgba(0, 0, 0, 0.7);
        position: relative;
    }
    .img-section h4 {
        color: #fff;
    }
    #PicUpload {
        color: #ffffff;
        width: 180px;
        height: 180px;
        background: rgba(255, 255, 255, 0.4);
        padding: 100px;
        position: absolute;
        left: 30.5%;
        border-radius: 50%;
        display: none;
        top: 15px;
    }
    .imgCircle {
        border-radius: 50%;
        width: 200px;
        height: 200px;
    }
    .Profile-input-file {
        height: 180px;
        width: 180px;
        left: 33%;
        position: absolute;
        top: 0px;
        z-index: 999;
        opacity: 0;
    }
    /*.form-control{padding: 10px 50px;}*/
    .form-input {
        height: 50px;
        border-radius: 0px;
        margin-top: 20px;
    }
    .form-style-fake {
        position: absolute;
        top: 0px;
    }
    .form-style-base {
        position: absolute;
        top: 0px;
        z-index: 999;
        opacity: 0;
    }
    .fake-styled-btn {
        background: #006cad;
        padding: 10px;
        color: #fff;
    }
    .camera {
        font-size: 50px;
        color: #333;
    }
    .avatar-upload {
        position: relative;
        max-width: 205px;
        /*margin: 50px auto;*/
        .avatar-edit {
            position: absolute;
            right: 12px;
            z-index: 1;
            top: 10px;
            input {
                display: none;
                +label {
                    display: inline-block;
                    width: 34px;
                    height: 34px;
                    margin-bottom: 0;
                    border-radius: 100%;
                    background: #ffffff;
                    border: 1px solid transparent;
                    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
                    cursor: pointer;
                    font-weight: normal;
                    transition: all 0.2s ease-in-out;
                    &:hover {
                        background: #f1f1f1;
                        border-color: #d6d6d6;
                    }
                    &:after {
                        content: "\f040";
                        font-family: "FontAwesome";
                        color: #757575;
                        position: absolute;
                        top: 10px;
                        left: 0;
                        right: 0;
                        text-align: center;
                        margin: auto;
                    }
                }
            }
        }
        .avatar-delete {
            position: absolute;
            right: 12px;
            z-index: 1;
            bottom: 10px;
            label {
                display: inline-block;
                width: 34px;
                height: 34px;
                margin-bottom: 0;
                border-radius: 100%;
                background: #ffffff;
                border: 1px solid transparent;
                box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
                cursor: pointer;
                font-weight: normal;
                transition: all 0.2s ease-in-out;
                &:hover {
                    background: #f1f1f1;
                    border-color: #d6d6d6;
                }
                &:after {
                    content: "\f1f8";
                    font-family: "FontAwesome";
                    color: #757575;
                    position: absolute;
                    top: 10px;
                    left: 0;
                    right: 0;
                    text-align: center;
                    margin: auto;
                }
            }
        }
        .avatar-preview {
            width: 192px;
            height: 192px;
            position: relative;
            border-radius: 100%;
            border: 6px solid #f8f8f8;
            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
            >div {
                width: 100%;
                height: 100%;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
            }
        }
    }
    .inputLabelUpload {
        line-height: 12.5;
        font-size: 15px;
    }
    .activeRoute {
        text-decoration: underline;
        text-underline-position: under;
        text-decoration-color: #076ba1;
        color: #076ba1;
    }
    .al-content {
        padding: 0px;
    }
    .m0 {
        margin: 0 auto;
    }
    .photo-left {
        margin: 0 auto;
    }
    .cardForm {
        color: #666666;
        background-color: #ffffff;
        // border: 1px solid #f1eded;
        border-radius: 0px;
        position: relative;
        margin-bottom: 24px;
        box-shadow: none;
        .pad-body {
            padding-bottom: 0px;
            padding-right: 0px;
            padding-left: 0px;
        }
    }
    .courseTabs>.tabset>.nav .nav-tabs {
        width: 100%;
    }
    .courseTabs>.tabset>.nav .nav-tabs>li {
        // width:33% ;
        width: 16%;
    }
    .courseTabs>.tabset>ul {
        padding-left: 0;
        background: #fff;
        border: none;
    }
    .courseTabs>.tabset>ul>li {
        width: 16%;
        height: auto;
    }
    .courseTabs>.tabset>.nav .nav-tabs>li>a {
        width: 100%;
    }
    .courseTabs>.tabset>ul>li>a>span>i {
        font-size: 20px;
        display: block;
        height: 100%;
    }
    .courseTabs>.tabset>ul>li>a>span>i>b {
        display: block;
        font-weight: 500;
        font-style: normal;
        font-size: 16px;
    }
    .courseTabs>.tabset>ul>li>a>.span {
        width: 100%;
    }
    .courseTabs>.tabset>ul>li:last-child a {
        border-top-right-radius: 0px;
    }
    .courseTabs>.tabset>ul>li:hover {
        border-radius: 0px;
        border: none;
        color: #076ba1;
    }
    .courseTabs>.tabset>.nav-tabs>li>a:hover {
        // border-color: #eee #eee #ddd;
        border: none;
        background: #fff;
        color: #076ba1;
    }
    .courseTabs>.tabset>ul>li.active>a {
        background-color: #ffffff;
        color: #076ba1;
        border-radius: 0px;
        border-bottom: 2.5px solid #076ba1;
    }
    .courseTabs>.tabset>ul>li.active>a:hover {
        background-color: #ffffff;
        color: #076ba1;
        border-radius: 0px;
        border-bottom: 2.5px solid #076ba1;
    }
    .courseTabs>.tabset>ul>li.active {
        // width: 20px;
        //height: 20px;
        // border-radius: 20px;
        // position: inherit;
        position: initial;
        // right: calc(50% - 70px);
        //top: 75px;
        background-color: transparent;
        border: none;
        height: auto;
    }
    /*.courseTabs > .tabset > .nav.nav-tabs > li.active > a {
    border-bottom: 3px solid #076ba1 ;
    background-color: #fff ;
    color: #076ba1 ;
}

.courseTabs > .tabset > ul{
  background: #fff ;
  height: 55px;
   position: sticky;
    top: 66px;
    z-index: 1030;
    padding: 0px ;
}

.courseTabs > .tabset > ul > li {
    width: 22% ;
    height:100% ;
}

.courseTabs > .tabset > ul > li:hover > a {
    color: #076ba1 ;
    background-color: #ffffff ;
    transform: none ;
    transition: none ;
}

.courseTabs > .tabset > .nav.nav-tabs {
  border-top-left-radius: 5px ;
  border-top-right-radius: 5px ;
  border-bottom: none ;
  background-color: white;
}

.courseTabs > .tabset>ul>li>a{
  width: 100% ;
  background-color: transparent ;
  color: #686868 ;
  height: 55px ;
  border-bottom: none ;
  line-height: 2.5;
}*/
    .cardmar {
        margin: 44px;
    }
    .colpad {
        padding: 0;
    }
    .pad0 {
        padding: 0;
    }
    .rowtopic {
        display: inline-flex;
    }
    // #editbtn {
    //     margin: 0 10px;
    //     border-radius: 0;
    //     background: #076ba1;
    //     color: #fff;
    //     border: #076ba1;
    //     height: 28px;
    //     /*width: 92px;*/
    //     color: #ffffff;
    //     background-color: #076ba1;
    //     background-image: none;
    //     border-color: #076ba1;
    //     transform: none;
    // }
    hr {
        display: block;
        height: 2px;
        border: 0;
        border-top: 1px solid #ececec;
        /*border-top: 2px solid #85c320;*/
        margin: 1em 0;
        padding: 0;
    }
    .tooltipMenu::after {
        content: " ";
        position: absolute;
        border-width: 10px;
        border-style: solid;
    }
    .bottomSide.tooltipMenu::after {
        bottom: 100%;
        left: 45%;
        border-color: transparent transparent white transparent;
    }
    .leftSide.tooltipMenu::after {
        left: 100%;
        top: 5%;
        border-color: transparent transparent transparent white;
    }
    .rightSide.tooltipMenu::after {
        right: 100%;
        top: 5%;
        border-color: transparent white transparent transparent;
    }
    .topSide.tooltipMenu::after {
        right: 45%;
        top: 100%;
        border-color: white transparent transparent transparent;
    }
    .bottomSide {
        top: 100%;
    }
    .topSide {
        bottom: 100%;
    }
    .leftSide {
        right: 70%;
        top: 15%;
    }
    .rightSide {
        left: 70%;
        top: 15%;
    }
    div li:hover .tooltipMenu {
        visibility: visible;
        cursor: pointer;
    }
    .tooltip {
        position: relative;
        display: inline-block;
        opacity: 1;
        z-index: 1050;
    }
    .tooltipMenu {
        visibility: hidden;
        position: absolute;
        z-index: 1;
    }
    .tooltipMenu {
        min-height: 100px;
        width: 45%;
        /* border: 1px solid #0d77b6;*/
    }
    .tooltipMenu ul li {
        color: #fff;
        padding: 13px;
        font-family: sans-serif;
        font-size: 15px;
        width: 100%;
        background: #62a8ea;
        display: flex;
        height: 2.5rem;
        border-radius: 1px;
    }
    .tooltipMenu ul li:hover {
        background: #0d77b6;
        color: white;
        cursor: pointer;
        font-weight: bold;
    }
    .toolul {
        display: inline-flex;
        padding: 0;
    }
    .toolposdiv {
        float: right;
        margin-right: 42px;
    }
    #addbtn {
        margin-left: 10px;
        border-radius: 0;
        background: #ffffff;
        color: #fff;
        // border: 1px solid #076ba1;
        border: 1px solid var(--colorCommon);
        height: 28px;
        // width: 111px;
        width: 60px;
        // color: #076ba1;
        color: var(--colorCommon);
        /* background-color: #076ba1; */
        background-image: none;
        // border-color: #076ba1;
        border-color: var(--colorCommon);
        transform: none;
    }
    .paddp {
        padding-right: 15px;
        margin: 15px 0;
    }
    .h4mar {
        margin: 6px 0 0 0;
    }
    .activeForm {}
    .btn-group-xs>.btn,
    .btn-xs {
        padding: 0px 5px;
        font-size: 12px;
    }
    .formGen {
        width: 100%;
    }
    .formGenCard {
        padding-left: 25px;
        margin-top: 25px;
    }
    .formCustCard {
        margin-top: 25px;
        // padding-right: 25px;
        padding-right: 0;
        padding-left: 0;
    }
    .CustomFieldsformGenCard1,
    .CustomFieldsformGenCard2,
    .CustomFieldsformGenCard3,
    .CustomFieldsformGenCard4,
    .CustomFieldsformGenCard5,
    .CustomFieldsformGenCard6,
    .CustomFieldsformGenCard7 {
        margin-bottom: 0;
    }
    .CustomFieldscardForm1,
    .CustomFieldscardForm2,
    .CustomFieldscardForm3,
    .CustomFieldscardForm4,
    .CustomFieldscardForm5,
    .CustomFieldscardForm6,
    .CustomFieldscardForm7 {
        cursor: pointer;
        margin-bottom: 0;
    }
    .CustomFieldscardBody1,
    .CustomFieldscardBody2,
    .CustomFieldscardBody3,
    .CustomFieldscardBody4,
    .CustomFieldscardBody5,
    .CustomFieldscardBody6,
    .CustomFieldscardBody7 {
        padding: 15px 15px 0px 15px;
    }
    [data-toggle="collapse"] i:before {
        content: "\f139";
    }
    [data-toggle="collapse"].collapsed i:before {
        content: "\f13a";
    }
    .headCard {
        display: flex;
    }
    .custTitle {
        margin-bottom: 0;
    }
    .downArrow {
        color: #ed462f;
    }
    .form-control-input {
        border-radius: 0;
    }
    .reqField {
        display: inline;
        color: #ed462f;
    }
    .topEditHead .resEditHead .resRemoveHead {
        /*background: #f2f8f9;*/
        color: #1e2121;
        padding: 10px 0px 10px 0px;
        /*border: 1px solid #5ba3f5;*/
    }
    .topEditHead {
        background: #076ba1;
        color: #ffff;
        padding: 10px;
    }
    .btnTool {
        float: right;
        margin-top: -3.2px;
    }
    .toolBut {
        float: right;
        background: transparent;
        border: none;
    }
    .toolBut:focus {
        outline: none;
    }
    .iconSubmit {
        font-size: 19px;
        color: #b5b5b5;
    }
    #right_align {
        //width:70%;
        float: right;
    }
    .iconSubmit:hover {
        color: #8bc34a;
    }
    .iconCancel {
        color: #b5b5b5;
    }
    .iconCancel:hover {
        color: #f44336;
    }
    .dropOption {
        text-align: center;
    }
    .iconMore {
        font-size: 19px;
        padding-left: 5px;
    }
    .dropMoreList {
        min-width: inherit;
        left: -24%;
        top: 24px;
        cursor: pointer;
        padding: 6px 0 6px 0;
    }
    .dropMoreListItem {
        /*padding: 5px 10px;*/
        /*text-align: center;*/
        font-size: 12px;
        padding: 0 12px 0 12px;
        color: #1e2121;
    }
    .dropMoreListItem:active {
        color: #444;
    }
    .removeResDiv {
        width: 100%;
    }
    .removeTopDiv {
        width: 100%;
    }
    /*.removeResDiv > input:focus {
    outline: none;
    border: none;
}*/
    input.editing {
        outline: none;
        border: none;
        /*border-bottom: 1px solid #ececec;*/
        font-size: 16px;
        color: #076ba1;
    }
    .divScrollTopicList {
        width: 100%;
        min-height: 96px;
        max-height: 498px;
        overflow-y: auto;
    }
    .resRemoveHead {
        margin-top: 0;
        margin-bottom: 0;
        /* padding-left: 20px; */
        padding: 7px 20px;
    }
    .resRemoveHead:hover .btnTool {
        display: block;
    }
    .resRemoveHead .btnTool {
        display: none;
    }
    .topRemoveHead .topicHead {
        margin-top: 0;
        min-height: 25px;
        padding: 0;
    }
    .topRemoveHead {
        padding: 0;
    }
    .topRemoveHead:hover .btnTool {
        display: block;
    }
    .topRemoveHead .btnTool {
        display: none;
    }
    .mainHeadDiv {
        /*bottom: 14px;*/
        border-bottom: 1px solid #111218;
    }
    .mainHeadDiv:hover .addResBut {
        display: block;
    }
    .mainHeadDiv .addResBut {
        display: none;
    }
    .nv-file-over {
        border: dotted 3px red;
    }
    /* Default class applied to drop zones on over */
    .another-file-over-class {
        border: dotted 3px green;
    }
    .chooseFile {
        text-align: center;
        float: left;
        /* margin-left: 12%; */
        /* margin-top: 7%; */
    }
    .cancelFile {
        text-align: center;
        /* float: left; */
        /* margin-left: 12%; */
        /* margin-top: 7%; */
    }
    .colInput {
        /*margin-top: -2em;*/
    }
    .or {
        text-align: center;
        margin-left: 12%;
        margin-top: 3%;
        margin-bottom: -4%;
    }
    .inputFileCourse {
        height: 14em;
        .form-control-file {
            position: relative;
            width: 100%;
            height: 100%;
            min-height: 6em;
            outline: none;
            visibility: hidden;
            cursor: pointer;
            background-color: #c61c23;
            box-shadow: 0 0 5px solid currentColor;
            &::before {
                color: #ed462f;
                content: attr(data-title);
                position: absolute;
                top: 1.5em;
                left: 0;
                width: 100%;
                /* min-height: 8em; */
                height: 12em;
                line-height: 8em;
                padding-top: 1.5em;
                opacity: 1;
                visibility: visible;
                text-align: center;
                border: 0.15em dashed #9ea4a5;
                transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
                overflow: hidden;
            }
            &::hover {
                &:before {
                    border-style: solid #076ba1;
                    /*box-shadow: inset 0px 0px 0px 0.25em currentColor;*/
                }
            }
        }
    }
    .labelFile {
        font-size: 17px;
    }
    .dropHeight {
        height: 2.5rem;
    }
    .cancelButton {
        border-radius: 0px;
        background-color: #076ba1;
        background: #076ba1;
        color: white;
        transform: none;
    }
    /* ::-moz-placeholder  Firefox v19+ */
    /* :-moz-placeholder  Firefox v18- */
    /* For Firefox only */
    .inputFileCourse {
        height: 14em;
        .form-control-file {
            position: relative;
            width: 100%;
            height: 100%;
            min-height: 6em;
            outline: none;
            visibility: hidden;
            cursor: pointer;
            background-color: #c61c23;
            box-shadow: 0 0 5px solid currentColor;
            &:before {
                color: #ed462f;
                content: attr(data-title);
                position: absolute;
                top: 1.5em;
                left: 0;
                width: 100%;
                /* min-height: 8em; */
                height: 12em;
                line-height: 8em;
                padding-top: 1.5em;
                opacity: 1;
                visibility: visible;
                text-align: center;
                border: 0.15em dashed #9ea4a5;
                transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
                overflow: hidden;
            }
            &:hover {
                &:before {
                    border-style: solid #076ba1;
                    /*box-shadow: inset 0px 0px 0px 0.25em currentColor;*/
                }
            }
        }
    }
    /* For Firefox only */
    .labelFile {
        font-size: 17px;
    }
    /* For Firefox only */
    .cancelBut {
        border-radius: 0;
        transform: none;
    }
    .addFileHeadSeperator {
        /*margin: 4px;*/
        border-top-color: #9e9e9e;
    }
    .topicSeprator {
        border-top-color: #9e9e9e;
    }
    .resourceSeprator {
        border-top-color: #ececec;
    }
    .topicEditSeperator,
    .resourceEditSeperator {
        margin: 4px;
        /*border-top-color: #9E9E9E;*/
    }
    .form-control,
    .mydp,
    .mydp .headertodaybtn,
    .mydp .selection,
    .mydp .selectiongroup,
    .mydp .selector {
        border-radius: 0px;
    }
    .sticky-top {
        position: sticky;
        top: 66px;
        z-index: 1;
    }
    .borderDiv {
        border: 1px solid #eee;
        padding: 15px;
    }
    .matching_col_grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 20px;
        grid-row-gap: 10px;
    }
    .addEditConTopBtnDiv {
        background-color: #fff;
    }
    .margin-auto {
        margin: auto 0;
    }
    .width98 {
        width: 98%;
    }
    .sqrCheckBox .sqrCheckBoxLabel {
        border: 1px solid #ccc;
        border-radius: none;
        cursor: pointer;
        height: 16px;
        left: -14px;
        position: -webkit-sticky;
        position: relative;
        width: 16px;
        top: 25px;
        margin-right: 10px;
    }
    .sqrCheckBox .sqrCheckBoxLabel:after {
        // border: 2px solid #fff;
        // border: 2px solid #076ba1;
        border: 2px solid var(--colorCommon);
        border-top: none;
        border-right: none;
        content: "";
        height: 4px;
        left: 1.5px;
        opacity: 0;
        position: absolute;
        top: 4px;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        width: 12px;
    }
    .sqrCheckBox input[type="checkbox"] {
        visibility: hidden;
    }
    .sqrCheckBox input[type="checkbox"]:checked+.sqrCheckBoxLabel {
        background-color: #ffffff;
        border-color: #076ba1;
    }
    .sqrCheckBox input[type="checkbox"]:checked+.sqrCheckBoxLabel:after {
        opacity: 1;
    }
    .courseRevDis {
        /* pointer-events: none; */
        cursor: not-allowed;
        background-color: #fdfbfbc2;
        // z-index: 1000;
        .checkBoxDiv {
            pointer-events: none;
        }
    }
    .marginTop14 {
        margin-top: 14px;
    }
    .width100 {
        width: 100%;
    }
    .formGen,
    .contentformGen {
        width: 100%;
    }
    .formGenCard {
        padding-left: 25px;
        // margin-top: 25px;
    }
    .contentformGenCard {
        margin-top: 0px;
        margin-bottom: 0;
    }
    .assesmentformGenCard,
    .assignmentformGenCard,
    .communicationformGenCard {
        margin-bottom: 0;
        margin-top: 10px;
    }
    .managementformGenCard {
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .contentCardForm,
    .assesmentCardForm,
    .assignmentCardForm,
    .communicationCardForm,
    .managementCardForm {
        cursor: pointer;
        margin-bottom: 0;
    }
    .contentCardBody,
    .assesmentCardBody,
    .assignmentCardBody,
    .communicationCardBody,
    .managementCardBody {
        // padding: 15px 15px 0px 15px ;
        padding: 0.5rem;
    }
    .headerCard {
        display: inline-block;
        // display: inline-flex;
        // display: inherit;
        width: 100%;
    }
    .contentTitle,
    .assesmentTitle,
    .assignmentTitle,
    .communicationTitle,
    .managementTitle {
        float: left;
        margin-bottom: 0;
        font-size: 1.3rem;
        font-weight: 100;
        margin-top: 0;
        background: #076ba1;
        color: #ffff;
        padding: 2px 10px 10px 10px;
    }
    .downArrow {
        color: #ed462f;
    }
    #right_float {
        float: right;
    }
    [data-toggle="collapse"] i:before {
        content: "\f139";
    }
    [data-toggle="collapse"].collapsed i:before {
        content: "\f13a";
    }
    .expandBtn {
        float: right;
        background: #fff;
        border: none;
    }
    .expandBtn:hover {
        background: #fff;
        border: none;
        outline: none;
    }
    .topBorderForm {
        // border-bottom: 1px solid #076ba1;
        // margin-top: 30px;
    }
    .contentContent,
    .assesmentContent,
    .assignmentContent,
    .communicationContent,
    .managementContent {
        // min-height: 100px;
        min-height: 498px;
        // max-height: 498px;
    }
    // .assesmentContent{
    //   // min-height: 100px;
    //   min-height: 350px;
    // }
    // .assignmentContent{
    //   // min-height: 100px;
    //   min-height: 350px;
    // }
    // .communicationContent{
    //   // min-height: 100px;
    //   min-height: 350px;
    // }
    .pointer {
        margin-bottom: 0px;
    }
    .divScrollActivityTypeList {
        // width: 100%;
        width: 25%;
        min-height: 100px;
        // max-height: 340px;
        max-height: 498px;
        overflow-y: auto;
        margin-bottom: 0;
    }
    .divScrollActivityTypeData {
        // width: 74%;
        // margin-left: 9px;
        min-height: 100px;
        // max-height: 340px;
        max-height: 498px;
        overflow-y: auto;
        margin-bottom: 0;
    }
    .actTypeHead {
        margin-bottom: 0px;
        line-height: 0.7;
    }
    .actTypeSeprator {
        border-top-color: #9e9e9e;
        // margin-top: 20px;
        margin: 20px 0 0 0;
    }
    .actTypeHeadDiv {
        padding: 0;
    }
    .activeActType,
    .activeTopic {
        border: 1px solid #076ba1;
        background-color: #e9eef1;
    }
    .activityContainer {
        max-height: 610px;
        overflow-y: auto;
    }
    .cardBodyActivityList {
        border-bottom: 1px solid #000;
    }
    .contentDiv {
        border: 1px solid #f5f5f5;
        text-align: center;
        padding: 15px;
    }
    .contentName {
        margin-bottom: 0;
        padding-top: 10px;
    }
    .selectedContentIcon {
        width: 75%;
    }
    .selectedContentName {
        font-weight: 550;
        font-size: 17px;
        border-bottom: 1px solid #dadada;
    }
    .selectedContentDesc {}
    .inputGroupRadioDemo {
        background-color: #fff;
        display: block;
        margin: 10px 0;
        position: relative;
        label {
            padding: 12px 30px;
            width: 100%;
            display: block;
            text-align: left;
            color: #3c454c;
            cursor: pointer;
            position: relative;
            z-index: 2;
            transition: color 200ms ease-in;
            overflow: hidden;
            &:before {
                // width: 10px;
                // height: 10px;
                // border-radius: 50%;
                // content: '';
                // background-color: #5562eb;
                // position: absolute;
                // left: 50%;
                // top: 50%;
                // transform: translate(-50%, -50%) scale3d(1, 1, 1);
                // transition: all 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
                // opacity: 0;
                // z-index: -1;
                width: 100%;
                height: 10px;
                border-radius: 50%;
                content: "";
                // background-color: #2baadd;
                background-color: #076ba1;
                position: absolute;
                /* left: 50%; */
                top: 50%;
                -webkit-transform: translate(-50%, -50%) scale3d(1, 1, 1);
                transform: translate(-50%, -50%) scale3d(1, 1, 1);
                -webkit-transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
                transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
                opacity: 0;
                z-index: -1;
            }
            &:after {
                width: 32px;
                height: 32px;
                content: "";
                border: 2px solid #d1d7dc;
                background-color: #fff;
                background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
                background-repeat: no-repeat;
                background-position: 2px 3px;
                border-radius: 50%;
                z-index: 2;
                position: absolute;
                right: 30px;
                top: 50%;
                transform: translateY(-50%);
                cursor: pointer;
                transition: all 200ms ease-in;
            }
        }
        input:checked~label {
            color: #fff;
            &:before {
                transform: translate(-50%, -50%) scale3d(56, 56, 1);
                opacity: 1;
            }
            &:after {
                background-color: #54e0c7;
                border-color: #54e0c7;
            }
        }
        input {
            width: 32px;
            height: 32px;
            order: 1;
            z-index: 2;
            position: absolute;
            right: 30px;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
            visibility: hidden;
        }
    }
    .displayNone {
        display: none;
    }
    .borderNone {
        border: none;
    }
    .textCenter {
        text-align: center;
    }
    .padding0 {
        // padding: 0;
        padding: 0;
    }
    .margin0 {
        margin: 0;
    }
    .marginBottom0 {
        margin-bottom: 0;
    }
    .selectContentBackdrop {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        z-index: 1503;
        background-color: #404040c2;
        .selectContentModal {
            width: 50%;
            margin: auto;
            background-color: #fff;
            margin-top: 65px;
            border-radius: 5px;
        }
    }
    .contentModelSubDiv {
        /* height: 323px; */
        overflow-y: scroll;
        height: 365px;
    }
    .module-icon {
        margin: 0 auto;
    }
    .moduleIcon-upload {
        position: relative;
        max-width: 205px;
        /*margin: 50px auto;*/
        .moduleIcon-edit {
            position: absolute;
            right: 12px;
            z-index: 1;
            top: 10px;
            input {
                display: none;
                +label {
                    display: inline-block;
                    width: 34px;
                    height: 34px;
                    margin-bottom: 0;
                    border-radius: 100%;
                    background: #ffffff;
                    border: 1px solid transparent;
                    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
                    cursor: pointer;
                    font-weight: normal;
                    transition: all 0.2s ease-in-out;
                    &:hover {
                        background: #f1f1f1;
                        border-color: #d6d6d6;
                    }
                    &:after {
                        content: "\f040";
                        font-family: "FontAwesome";
                        color: #757575;
                        position: absolute;
                        top: 10px;
                        left: 0;
                        right: 0;
                        text-align: center;
                        margin: auto;
                    }
                }
            }
        }
        .moduleIcon-delete {
            position: absolute;
            right: 12px;
            z-index: 1;
            bottom: 10px;
            label {
                display: inline-block;
                width: 34px;
                height: 34px;
                margin-bottom: 0;
                border-radius: 100%;
                background: #ffffff;
                border: 1px solid transparent;
                box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
                cursor: pointer;
                font-weight: normal;
                transition: all 0.2s ease-in-out;
                &:hover {
                    background: #f1f1f1;
                    border-color: #d6d6d6;
                }
                &:after {
                    content: "\f1f8";
                    font-family: "FontAwesome";
                    color: #757575;
                    position: absolute;
                    top: 10px;
                    left: 0;
                    right: 0;
                    text-align: center;
                    margin: auto;
                }
            }
        }
        .moduleIcon-preview {
            width: 192px;
            height: 192px;
            position: relative;
            border-radius: 100%;
            border: 6px solid #f8f8f8;
            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
            >div {
                width: 100%;
                height: 100%;
                border-radius: 100%;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
            }
        }
    }
    .moduleContentDiv {
        width: 98%;
        margin-left: 10px;
    }
    .sqrCheckBoxLabel1 {
        left: 0px;
    }
    .disgrid {
        display: flex;
    }
    // .mysqr
    // {
    //   text-align: center;
    // }
    .h4header {
        background: var(--colorCommon);
        margin: 0;
        padding: 10px;
        color: #fff;
    }
    .btnsubh4 {
        height: 26px;
        font-size: 15px;
        font-weight: bold;
        position: absolute;
        right: 5%;
        top: 10px;
    }
    .not-allow {
        cursor: not-allowed;
    }
    .pad01 {
        padding-top: 0px;
    }
    .divbroder {
        // border-bottom: 1px solid #eee ;
        padding: 10px;
    }
    .divpad {
        padding-bottom: 10px;
    }
    .h4font {
        font-size: 1rem;
        margin: 3px 0;
    }
    /*  bhoechie tab */
    div.bhoechie-tab-container {
        z-index: 10;
        // background-color: #ffffff;
        padding: 0;
        border-radius: 4px;
        -moz-border-radius: 4px;
        // margin-top: 20px;
        // margin-left: 50px;
        // border:1px solid #ddd;
        // -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
        // box-shadow: 0 6px 12px rgba(0,0,0,.175);
        // -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
        background-clip: padding-box;
        opacity: 0.97;
        filter: alpha(opacity=97);
        display: grid;
        grid-template-columns: 1fr 4fr;
    }
    div.bhoechie-tab-menu {
        padding-right: 0;
        padding-left: 0;
        padding-bottom: 0;
    }
    div.bhoechie-tab-menu div.list-group {
        margin-bottom: 0;
    }
    div.bhoechie-tab-menu div.list-group>.list-group-item {
        padding: 24.59px;
        // color: #2d98d1;
        color: var(--colorCommon);
        height: 150px;
        display: grid;
        align-items: center;
        justify-content: center;
    }
    div.bhoechie-tab-menu div.list-group>.list-group-item.active {
        border: none;
    }
    div.bhoechie-tab-menu div.list-group>a {
        margin-bottom: 0;
    }
    div.bhoechie-tab-menu div.list-group>a .glyphicon,
    div.bhoechie-tab-menu div.list-group>a .fa,
    div.bhoechie-tab-menu div.list-group>a .ion {
        // color: #5A55A3;
        // color: #2d98d1;
        color: var(--colorCommon);
    }
    div.bhoechie-tab-menu div.list-group>a:first-child {
        border-top-right-radius: 0;
        -moz-border-top-right-radius: 0;
    }
    div.bhoechie-tab-menu div.list-group>a:last-child {
        border-bottom-right-radius: 0;
        -moz-border-bottom-right-radius: 0;
    }
    div.bhoechie-tab-menu div.list-group>a.active,
    div.bhoechie-tab-menu div.list-group>a.active .glyphicon,
    div.bhoechie-tab-menu div.list-group>a.active .fa,
    div.bhoechie-tab-menu div.list-group>a.active .ion {
        // background-color: #5A55A3;
        // background-color: #076ba1;
        background-color: var(--colorCommon);
        background-image: #5a55a3;
        color: #ffffff;
    }
    div.bhoechie-tab-menu div.list-group>a.active:after {
        content: "";
        position: absolute;
        left: 100%;
        top: 50%;
        margin-top: -13px;
        border-left: 0;
        border-bottom: 13px solid transparent;
        border-top: 13px solid transparent;
        // border-left: 10px solid #5A55A3;
        // border-left: 10px solid #076ba1;
        border-left: 10px solid var(--colorCommon);
    }
    .h4Marg0 {
        width: 100%;
        margin: 0;
        font-size: 40px;
    }
    .acttype {
        width: 100%;
    }
    div.bhoechie-tab-content {
        background-color: #ffffff;
        /* border: 1px solid #eeeeee; */
        // padding-left: 20px;
        padding: 0 10px;
        // padding-top: 10px;
    }
    div.bhoechie-tab div.bhoechie-tab-content:not(.active) {
        display: none;
    }
    .activityTabContent {
        // max-height: 498px;
        max-height: 480px;
        // max-height: 508px;
        overflow-y: auto;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        border-right: 1px solid #ddd;
    }
    .width100 {
        width: 100%;
    }
    // .addeditqu
    // {
    //   width: 82% ;
    // }
    .sectionsCard {
        padding: 0px;
        border: 1px solid #eee;
        border-bottom: none;
        margin: 0 1.25rem;
    }
    .margaddque10 {
        margin-left: 10px;
    }
    .actheigt {
        height: 419px;
    }
    .mar10 {
        margin-top: 11px;
    }
    // ::-webkit-file-upload-button {
    //   background: #076ba1;
    //   color: #ffffff;
    //   height: 30px;
    //   border:0px;
    // }
    // ::-ms-browse {
    //    background: #076ba1;
    //   color: #ffffff;
    //   height: 30px;
    //   border:0px;
    // }
    .upload-btn-wrapper {
        position: relative;
        overflow: hidden;
        // display: inline-block;
    }
    // .btn {
    //   border: 2px solid gray;
    //   color: gray;
    //   background-color: white;
    //   padding: 8px 20px;
    //   border-radius: 8px;
    //   font-size: 20px;
    //   font-weight: bold;
    // }
    .upload-btn-wrapper input[type="file"] {
        font-size: 100px;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
    }
    .brwsbtn {
        border-radius: 0px;
        height: 34px;
        width: 142px;
    }
    .marleftimg {
        margin-left: 5px;
    }
    // button:focus {
    //     outline: 1px dotted;
    //     outline: 0px auto -webkit-focus-ring-color;
    // }
    .disdiv {
        pointer-events: none;
        /* for "disabled" effect */
        opacity: 0.5;
    }
    .quez {
        z-index: 1030;
    }
    .addEditCattoprow {
        // padding: 12px;
        border: none;
        background-color: #ffffff;
        height: auto;
        width: 100%;
        display: inline-flex;
    }
    .addEditCatsticky-top-add-edit-question {
        position: sticky;
        top: 56px;
        z-index: 1030;
    }
    .addEditCatHead {
        // padding: 15px 0px 15px 30px;
        margin: 15px auto;
    }
    .cardTitle {
        background: var(--colorCommon);
        color: #ffff;
        padding: 10px;
        margin-bottom: 0;
        margin-top: 0;
    }
    /* The custom radio */
    .customRadioque {
        display: block;
        position: relative;
        padding-left: 30px;
        margin-bottom: 12px;
        // cursor: pointer;
        font-size: 14px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    /* Hide the browser's default radio button */
    .customRadioque input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }
    /* Create a custom radio button */
    .customCheckRoundque {
        position: absolute;
        top: 4px;
        left: 0;
        height: 15px;
        width: 15px;
        background-color: #fff;
        // border-color: #076ba1;
        border-color: var(--colorCommon);
        border-style: solid;
        border-width: 2px;
        border-radius: 50%;
    }
    /* When the radio button is checked, add a blue background */
    .customRadioque input:checked~.customCheckRoundque {
        background-color: #fff;
    }
    /* Create the indicator (the dot/circle - hidden when not checked) */
    .customCheckRoundque:after {
        content: "";
        position: absolute;
        display: none;
    }
    /* Show the indicator (dot/circle) when checked */
    .customRadioque input:checked~.customCheckRoundque:after {
        display: block;
    }
    /* Style the indicator (dot/circle) */
    .customRadioque .customCheckRoundque:after {
        left: 2px;
        top: 2px;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        // background: #68a5c5;
        background: var(--colorCommon);
    }
    .button_right_container {
        text-align: right;
    }
    .gridCol2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 20px;
    }
}