<div class="add_edit_question" *ngIf="show">

 
  <app-subheader [headerConfig]="header" *ngIf="selectedActInd == 0 && type == true "
    (btntwo)="savemultImageData(multipleform)" (backClick)="back($event)"></app-subheader>
  <app-subheader [headerConfig]="header" *ngIf="selectedActInd == 2 && type == true "
    (btntwo)="saveSequence(sequenceform)" (backClick)="back($event)"></app-subheader>
  <app-subheader [headerConfig]="header" *ngIf="selectedActInd == 1 && type == true "
    (btntwo)="savematchImageData(matchingform)" (backClick)="back($event)"></app-subheader>
  <app-subheader [headerConfig]="header" *ngIf="selectedActInd == 3 && type == true " (btntwo)="saveShort(shortform)"
    (backClick)="back($event)"></app-subheader>
  <app-subheader [headerConfig]="header" *ngIf='basic==true' (btntwo)="submit(categoryForm)" (backClick)="back($event)">
  </app-subheader>



  <nb-tabset class="custom_tabset courseTabset1" (changeTab)="selectTab($event)">
    <nb-tab tabTitle="Basic Details" [active]="basic" class="courseDetailsTab">
      <div class="row m0 ">
        <div class="col-md-12">
          <div class="card cardForm">
            <div class="card-body padding0">
              <div class="courseDetails">
                <div class="col-sm-12 grid-margin stretch-card">
                  <div class="card cardForm">
                    <div class="card-body pad-body">
                      <form class="forms-sample" #categoryForm="ngForm">
                        <div class="col-sm-6">
                          <div class="form-group">
                            <label class="side-form-label">{{helpContent?.assessment_qbCategory?.qbCat_name.label}}
                              <sup>&#x2731;</sup>
                              <app-info-tooltip
                                [description]="helpContent?.assessment_qbCategory?.qbCat_name.labelHelpContent">
                              </app-info-tooltip>
                            </label>
                           
                            <input type="text" class="form-control" id="qname" minlength="2" maxlength="50"
                              [(ngModel)]="formdata.qname" required placeholder="Maximum 50  characters" name="qname"
                              #qname="ngModel">
                           
                            <div *ngIf="qname.errors && (qname.dirty || qname.touched)">
                              <small class="invalid-msg" [hidden]="!qname.errors.required">Question Name is
                                required.</small>
                              <small class="invalid-msg" [hidden]="!qname.errors.minlength">Minimum 2
                                characters
                                required.</small>
                            </div>
                            <span></span>
                          </div>


                          <div class="form-group" [disabled]="catID ==2">
                            <label class="side-form-label">{{helpContent?.assessment_qbCategory?.qbCat_format.label}}
                              <sup>&#x2731;</sup>
                              <app-info-tooltip
                                [description]="helpContent?.assessment_qbCategory?.qbCat_format.labelHelpContent">
                              </app-info-tooltip>
                            </label>
                           
                            <select [(ngModel)]="formdata.qtypeid" id="qtypeid"
                              class=" select_field_height form-control " required name="qtypeid" #qtypeid="ngModel"
                              (ngModelChange)="qtypechange()" [disabled]="catID ==2">
                              <option value="">Select </option>
                              <option *ngFor="let item of qbtype" value={{item.id}}>{{item.name}}</option>
                            </select>
                           

                            <div *ngIf="qtypeid.errors && (qtypeid.dirty || qtypeid.touched)">
                              <small class="invalid-msg" [hidden]="!qtypeid.errors.required">Question type
                                is required</small>
                            </div>
                            <span></span>
                          </div>

                          <div class="form-group" *ngIf="formdata.qtypeid ==1" [disabled]="catID ==2">
                            <label class="side-form-label">{{helpContent?.assessment_qbCategory?.qbCat_text.label}}
                              <sup>&#x2731;</sup>
                              <app-info-tooltip
                                [description]="helpContent?.assessment_qbCategory?.qbCat_text.labelHelpContent">
                              </app-info-tooltip>
                            </label>
                           
                            <div class="overflow_hidden">
                              <jodit-editor [config]="config" name="qtext" [(ngModel)]="formdata.qtext" #qtext="ngModel"
                                required>
                              </jodit-editor>
                            </div>

                         

                            <div *ngIf="qtext.errors && (qtext.dirty || qtext.touched)">
                              <small class="invalid-msg" [hidden]="!qtext.errors.required">Question is
                                Required</small>
                              <small class="invalid-msg" [hidden]="!qtext.errors.minlength">Minimum 20
                                characters required</small>
                            </div>
                            <span></span>
                          </div>
                          <div class="form-group" style="margin-bottom: 24px;" *ngIf="formdata.qtypeid ==2">
                            <div>
                              <label
                                class="side-form-label">{{helpContent?.assessment_qbCategory?.qbCat_add_file.label}}
                                <sup>&#x2731;</sup>
                                <app-info-tooltip
                                  [description]="helpContent?.assessment_qbCategory?.qbCat_add_file.labelHelpContent">
                                </app-info-tooltip>
                              </label>
                              
                              <input type="button" class="btn btn-secondary constantbtn fp-btn-choose cancelButton"
                                id="filepicker-button" value="Cancel" name="userfilechoose" (click)="cancel()"
                                style="float: right;transform: none;" [disabled]="catID ==2">
                              <div class="form-group inputFileCourse">
                                <label class="sr-only" for="inputFile">File Upload</label>
                                <input type="file" #fileUpload class="form-control-file text-success font-weight-bold"
                                  name="inputFile" id="inputFile" accept="audio/*,video/*,image/*"
                                  (change)="readquestion($event)" attr.data-title="{{formdata.qfileName}}"
                                  [disabled]="catID ==2">
                              </div>
                              <span></span>
                            </div>
                            <span></span>
                          </div>

                         
                          <div class="form-group" [disabled]="catID ==2">
                            <label class="side-form-label">{{helpContent?.assessment_qbCategory?.qbCat_instr.label}}
                              <sup>&#x2731;</sup>
                              <app-info-tooltip
                                [description]="helpContent?.assessment_qbCategory?.qbCat_instr.labelHelpContent">
                              </app-info-tooltip>
                            </label>
                          
                            <div class="overflow_hidden">
                              <jodit-editor [config]="config1" name="qinsrtu" [(ngModel)]="formdata.qinsrtu"
                                #qinsrtu="ngModel">
                              </jodit-editor>
                            </div>

                            <span></span>
                          </div>
                          <div class="form-group">
                            <label class="side-form-label">{{helpContent?.assessment_qbCategory?.qbCat_tag.label}}
                              <sup>&#x2731;</sup>
                              <app-info-tooltip
                                [description]="helpContent?.assessment_qbCategory?.qbCat_tag.labelHelpContent">
                              </app-info-tooltip>
                            </label>
                               <div id="addTags">
                              <angular2-multiselect id="exampleInputTags4" [data]="tagList" [(ngModel)]="selectedTags"
                                [settings]="settingsTagDrop" required #tags="ngModel" (onSelect)="onTagsSelect($event)"
                                class="select_field_height" (onDeSelect)="OnTagDeSelect($event)" name="selectedTags"
                                ngDefaultControl>
                              
                                <c-item>
                                  <ng-template let-item="item">
                                    <label style="color: #333;">{{item.name}}</label>
                                  </ng-template>
                                </c-item>
                              </angular2-multiselect>
                              <div *ngIf="tags.errors && (tags.dirty || tags.touched)">
                                <small class="invalid-msg" [hidden]="!tags.errors.required">Tag is
                                  required</small>
                              </div>
                            </div>
                         
                            <span></span>
                          </div>
                        </div>
                        <div class="col-sm-6">

                          <div class="form-group">
                            <label class="side-form-label">{{helpContent?.assessment_qbCategory?.qbCat_cat.label}}
                              <sup>&#x2731;</sup>
                              <app-info-tooltip
                                [description]="helpContent?.assessment_qbCategory?.qbCat_cat.labelHelpContent">
                              </app-info-tooltip>
                            </label>
                         
                            <select [(ngModel)]="formdata.cid" id="cid" class=" select_field_height form-control "
                              required name="cid" #cid="ngModel" disabled>
                              <option value="" disabled>Select</option>
                              <option *ngFor="let item of qbcategory" value={{item.id}}>{{item.name}}</option>
                            </select>
                            

                            <div *ngIf="cid.errors && (cid.dirty || cid.touched)">
                              <small class="invalid-msg" [hidden]="!cid.errors.required">Category is
                                required</small>
                            </div>
                            <span></span>
                          </div>



                          <div class="form-group">
                            <label class="side-form-label">{{helpContent?.assessment_qbCategory?.qbCat_level.label}}
                              <sup>&#x2731;</sup>
                              <app-info-tooltip
                                [description]="helpContent?.assessment_qbCategory?.qbCat_level.labelHelpContent">
                              </app-info-tooltip>
                            </label>
                                    <select [(ngModel)]="formdata.qlevelid" id="qlevelid"
                              class=" select_field_height form-control " required name="qlevelid" #qlevelid="ngModel"
                              [disabled]="catID ==2">
                              <option value="">Select </option>
                              <option *ngFor="let item of qblevel" value={{item.id}}>{{item.name}}</option>
                            </select>
                           
                            <span></span>
                          </div>
                          <div class="form-group">
                            <label class="side-form-label">{{helpContent?.assessment_qbCategory?.qbCat_add_info.label}}
                              <app-info-tooltip
                                [description]="helpContent?.assessment_qbCategory?.qbCat_add_info.labelHelpContent">
                              </app-info-tooltip>
                            </label>
                          
                            <div class="overflow_hidden">
                              <jodit-editor [config]="config1" name="cdesc" [(ngModel)]="formdata.qfeed"
                                #qfeed="ngModel" [disabled]="catID ==2">
                              </jodit-editor>
                            </div>

                            <span></span>
                          </div>



                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nb-tab>
    <nb-tab tabTitle="Question Type" [active]="type" class="courseMoudulesTab">
      <div class="row m0 ">
        <div class="col-md-12 grid-margin stretch-card formGenCardCourse">
          <div class="card cardForm">
            <div class="card-body padding0">
              <div class="courseModules">
                <form class="forms-sample" class="panel-body contentContent" #userForm="ngForm">
                  <div class="form-group" style="margin-bottom: 0px">

                    <div class="bhoechie-tab-container margin0auto width100" style="">
                      <div class="bhoechie-tab-menu">
                        <div class="list-group">
                          <a #activityForm class="list-group-item text-center"
                            *ngFor="let actType of qbformat ; let j = index " [class.active]='j == selectedActInd'
                            (click)="activateActivityTab($event,actType,j)"
                            [ngClass]="{'disdiv':selectedActInd !=j && catID && formatID}">
                            <h4 class="ion font50 h4Marg0 ion ion-ios-paper"></h4>
                            <div class="acttype">{{actType.name}}</div>
                          </a>
                        </div>
                      </div>

                      <div class="card cardForm divScrollActivityTypeData addeditqu " data-spy="scroll">
                        <div class="pad0">
                          <div class="sectionsCard card-body">
                            <div>
                              <h4 *ngIf=" activeTypeId > 0 " class=" h4header card-title resEditHead">{{activeTypeName}}
                              </h4>
                            </div>
                            <div>
                              <!-- [ngClass]="{'not-allow': !sequenceform.valid}" -->
                              <button *ngIf="selectedActInd == 0" type="submit" class="btnsubh4" id="addbtn"
                                [disabled]="!multipleform.valid" (click)="addmulti()">Add</button>
                              <button *ngIf="selectedActInd == 1" type="submit" class="btnsubh4" id="addbtn"
                                (click)="addanswer(matchingform)">Add</button>
                              <button *ngIf="selectedActInd == 2" type="submit" class="btnsubh4" id="addbtn"
                                [disabled]="!sequenceform.valid" (click)="addsequence()"> Add</button>
                            </div>
                            <!-- <p class="card-description"></p> -->
                            <div class="bhoechie-tab activityTabContent actheigt">
                              <div class="bhoechie-tab-content" [class.active]='selectedActInd == 1'>
                                <div class="fileActivityContainer">

                                  <form #matchingform="ngForm">
                                    <div class="col-sm-12 divbroder"
                                      *ngFor=" let moptions of matching.moption;let j=index ">

                                      <div class="borderDiv">
                                        <div class="text-right">
                                          <button class="removeMulti" aria-label="Close" (click)="remove(j)">
                                            <span aria-hidden="true">&times;</span>
                                          </button>
                                        </div>

                                        <div class="matching_col_grid">

                                          <div class="">
                                            <div class="">
                                              <label
                                                class="side-form-label">{{helpContent?.assessment_qbCategory?.qbCat_qtype.label}}
                                                <sup>&#x2731;</sup>
                                                <app-info-tooltip
                                                  [description]="helpContent?.assessment_qbCategory?.qbCat_qtype.labelHelpContent">
                                                </app-info-tooltip>
                                              </label>

                                              <select [(ngModel)]="moptions.qtypeid" id="qtypeid{{j}}"
                                                class=" select_field_height form-control " required name="qtypeid{{j}}"
                                                #qtypeid="ngModel" (ngModelChange)="matchtypechange(j)">
                                                <option value="">Select </option>
                                                <option *ngFor="let item of qbtype" value={{item.id}}>{{item.name}}
                                                </option>
                                              </select>


                                              <div *ngIf="qtypeid.errors && (qtypeid.dirty || qtypeid.touched)">
                                                <small class="invalid-msg" [hidden]="!qtypeid.errors.required">Question
                                                  type is required</small>
                                              </div>
                                              <span></span>
                                            </div>
                                          </div>
                                          <div class="">
                                            <div class="" *ngIf="moptions.qtypeid ==1">
                                              <label
                                                class="side-form-label">{{helpContent?.assessment_qbCategory?.qbCat_choice.label}}
                                                <sup>&#x2731;</sup>
                                                <app-info-tooltip
                                                  [description]="helpContent?.assessment_qbCategory?.qbCat_choice.labelHelpContent">
                                                </app-info-tooltip>
                                              </label>


                                              <input type="input" class="form-control" id="optionText{{j}}"
                                                [(ngModel)]="moptions.optionText" required placeholder="Question"
                                                name="optionText{{j}}" #optionText="ngModel">


                                              <div
                                                *ngIf="optionText.errors && (optionText.dirty || optionText.touched)">
                                                <small class="invalid-msg"
                                                  [hidden]="optionText.errors.required">Question is required</small>
                                              </div>
                                              <span></span>
                                            </div>
                                            <div *ngIf="moptions.qtypeid ==2">
                                              <button class="removeMulti" style="float: right" aria-label="Close"
                                                (click)="cancelmatch(j)">
                                                <span aria-hidden="true">&times;</span>
                                              </button>
                                              <label
                                                class="side-form-label">{{helpContent?.assessment_qbCategory?.qbCat_choice.label}}
                                                <sup>&#x2731;</sup>
                                                <app-info-tooltip
                                                  [description]="helpContent?.assessment_qbCategory?.qbCat_choice.labelHelpContent">
                                                </app-info-tooltip>
                                              </label>

                                              <div class="upload-btn-wrapper">
                                                <button class="constantbtn-button-blue-left brwsbtn">Browse</button>
                                                <!-- <button class="courseRewardsBtn btn brwsbtn"  (click)="cancelmatch(j)">Cancel</button> -->
                                                <label class="marleftimg"
                                                  for="optionRef{{j}}">{{moptions.qfileName}}</label>
                                                <input type="file" #multupload name="optionRef{{j}}" id="optionRef{{j}}"
                                                  [(ngModel)]="moptions.contentRef" (change)="readmatchimg($event,j)"
                                                  #optionRef="ngModel" title=" " [required]="moptions.qfileName==''">
                                              </div>
                                            </div>
                                          </div>
                                          <div class="">
                                            <div class="">
                                              <label
                                                class="side-form-label">{{helpContent?.assessment_qbCategory?.qbCat_Option.label}}
                                                <sup>&#x2731;</sup>
                                                <app-info-tooltip
                                                  [description]="helpContent?.assessment_qbCategory?.qbCat_Option.labelHelpContent">
                                                </app-info-tooltip>
                                              </label>

                                              <div class="overflow_hidden">
                                                <jodit-editor [config]="config2" id="optionMatch{{j}}"
                                                  name="optionMatch{{j}}" [(ngModel)]="moptions.optionMatch"
                                                  #optionMatch="ngModel" required ngDefaultControl>
                                                </jodit-editor>
                                              </div>

                                            </div>


                                            <div
                                              *ngIf="optionMatch.invalid && (optionMatch.dirty || optionMatch.touched)">
                                              <small class="invalid-msg" [hidden]="!optionMatch.errors.required">Answer
                                                is required</small>
                                            </div>
                                            <span></span>
                                          </div>
                                          <div class="matching_col_grid">
                                            <div class="">

                                              <label
                                                class="side-form-label">{{helpContent?.assessment_qbCategory?.qbCat_Score.label}}
                                                <sup>&#x2731;</sup>
                                                <app-info-tooltip
                                                  [description]="helpContent?.assessment_qbCategory?.qbCat_Score.labelHelpContent">
                                                </app-info-tooltip>
                                              </label>
                                              <!-- <label class="" for="mpoint{{j}}">
                                                {{helpContent?.assessment_qbCategory?.qbCat_Score.label}}
                                                <sup class="reqFieldActivity">*</sup>
                                                <div class="help-tooltip">
                                                  <i class="fa fa-info-circle tooltip-hover-info-label-round"
                                                    aria-hidden="true"></i>
                                                  <div class="help-tooltip-position-right">
                                                    <p>
                                                      {{helpContent?.assessment_qbCategory?.qbCat_Score?.labelHelpContent}}
                                                    </p>
                                                    <i></i>
                                                  </div>
                                                </div>
                                              </label> -->
                                              <!-- <label class="space_left" for="mpoint{{j}}">Score <h3
                                                  class="reqFieldActivity">*
                                                </h3></label> -->
                                              <input type="text" class="form-control" id="mpoint{{j}}"
                                                [(ngModel)]="moptions.mpoint" required placeholder="Score"
                                                name="mpoint{{j}}" #mpoint="ngModel" required
                                                oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');"
                                                onKeyDown="if(this.value.length==3 && event.keyCode!=8) return false;"
                                                maxlength="3" min="1">
                                              <!-- <div *ngIf="mpoint.errors && (mpoint.dirty || mpoint.touched)" class="alert alert-danger">
                                      <div [hidden]="!mpoint.errors.required">Score is required</div>
                                    </div> -->

                                              <div *ngIf="mpoint.errors && (mpoint.dirty || mpoint.touched)">
                                                <small class="invalid-msg" [hidden]="!mpoint.errors.required">Score
                                                  is required</small>
                                              </div>
                                              <span></span>

                                            </div>
                                            <div class="">
                                              <label
                                                class="side-form-label">{{helpContent?.assessment_qbCategory?.qbCat_Penalty.label}}
                                                <sup>&#x2731;</sup>
                                                <app-info-tooltip
                                                  [description]="helpContent?.assessment_qbCategory?.qbCat_Penalty.labelHelpContent">
                                                </app-info-tooltip>
                                              </label>
                                              <!-- <label class="" for="mipoint{{j}}">
                                                {{helpContent?.assessment_qbCategory?.qbCat_Penalty.label}}
                                                <sup class="reqFieldActivity">*</sup>
                                                <div class="help-tooltip">
                                                  <i class="fa fa-info-circle tooltip-hover-info-label-round"
                                                    aria-hidden="true"></i>
                                                  <div class="help-tooltip-position-right">
                                                    <p>
                                                      {{helpContent?.assessment_qbCategory?.qbCat_Penalty?.labelHelpContent}}
                                                    </p>
                                                    <i></i>
                                                  </div>
                                                </div>
                                              </label> -->
                                              <!-- <label class="space_left" for="mipoint{{j}}">Penalty(-)
                                                <h3 class="reqFieldActivity">&nbsp;</h3>
                                              </label> -->
                                              <input type="text" class="form-control" id="mipoint{{j}}"
                                                [(ngModel)]="moptions.mipoint" placeholder="Penalty" name="mipoint{{j}}"
                                                #mipoint="ngModel"
                                                oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');"
                                                onKeyDown="if(this.value.length==3 && event.keyCode!=8) return false;"
                                                maxlength="3" min="1">
                                              <!--    <div [hidden]="optionMatch.valid || optionMatch.pristine" class="alert alert-danger">
                                      <div [hidden]="!optionMatch.errors.required">Answer is required</div>
                                    </div> -->
                                              <span></span>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </form>
                                </div>
                              </div>
                              <div class="bhoechie-tab-content" [class.active]='selectedActInd == 0'>
                                <div class="contentActivityContainer">
                                  <div class="col-sm-12 divbroder  divpadd">
                                    <!--  <div class="col-sm-3">
                                <label class="pointer">
                                  <input id="mEnrol" type="radio" name="checkbox" value="1" class="with-gap marginRight5px" [(ngModel)]="multiple.mvalue" (click)="onMultiple()">
                                  <label class="sqrCheckBoxLabel" for="mEnrol"></label>
                                  Single
                                </label>
                              </div>
                              <div class="col-sm-3">
                                <label class="pointer">
                                  <input id="mEnrol" type="radio" name="checkbox" value="2" class="with-gap marginRight5px" [(ngModel)]="multiple.mvalue" (click)="onMultiple()">
                                  <label class="sqrCheckBoxLabel" for="mEnrol"></label>
                                  Multiple
                                </label>
                              </div> -->
                                    <label class="col-md-3 customRadioque side-form-label">
                                      <input id="mEnrol" type="radio" name="checkbox" value="1"
                                        class="with-gap marginRight5px" [(ngModel)]="multiple.mvalue"
                                        (click)="onMultiple()">
                                      <span class="customCheckRoundque " for="mEnrol"></span>
                                      {{helpContent?.assessment_qbCategory?.qbCat_Single.label}}
                                      <app-info-tooltip
                                        [description]="helpContent?.assessment_qbCategory?.qbCat_Single.labelHelpContent">
                                      </app-info-tooltip>

                                      <!-- <div class="help-tooltip">
                                        <i class="fa fa-info-circle tooltip-hover-info-label-round"
                                          aria-hidden="true"></i>
                                        <div class="help-tooltip-position-bottom">
                                          <p>{{helpContent?.assessment_qbCategory?.qbCat_Single?.labelHelpContent}}</p>
                                          <i></i>
                                        </div>
                                      </div> -->
                                    </label>


                                    <label class="col-md-3 customRadioque side-form-label">
                                      <input id="mEnrol" type="radio" name="checkbox" value="2"
                                        class="with-gap marginRight5px" [(ngModel)]="multiple.mvalue"
                                        (click)="onMultiple()">
                                      <span class="customCheckRoundque " for="mEnrol"></span>
                                      {{helpContent?.assessment_qbCategory?.qbCat_Multiple.label}}
                                      <app-info-tooltip
                                        [description]="helpContent?.assessment_qbCategory?.qbCat_Multiple.labelHelpContent">
                                      </app-info-tooltip>

                                      <!-- <div class="help-tooltip">
                                        <i class="fa fa-info-circle tooltip-hover-info-label-round"
                                          aria-hidden="true"></i>
                                        <div class="help-tooltip-position-bottom">
                                          <p>{{helpContent?.assessment_qbCategory?.qbCat_Multiple?.labelHelpContent}}
                                          </p>
                                          <i></i>
                                        </div>
                                      </div> -->
                                    </label>
                                    <!-- <div class="button_right_container">

                                      <button type="submit" class="constantbtn-button-blue-left"
                                        [disabled]="!multipleform.valid" (click)="addmulti()">Add
                                      </button>

                                    </div> -->
                                  </div>
                                  <!--  <div class="col-sm-12 divbroder ">
                              <div class="col-sm-6">
                                <div class="">
                                  <label class="mysqrcheck sqrCheckBox pointer width100">
                                    <input id="mshuffle" type="checkbox" name="mshuffle" class="mysqrcheckclr marginRight5px" [checked]="multiple.mshuffle" value="true" [(ngModel)]="multiple.mshuffle">
                                    <label class="sqrCheckBoxLabel " for="mshuffle"></label>
                                    Shuffle The Answers
                                  </label>
                                </div>
                              </div>

                            </div> -->
                                  <form #multipleform="ngForm">
                                    <div class="col-sm-12 divbroder"
                                      *ngFor=" let moptions of multiple.moption;let k=index ">
                                      <div class="text-right">
                                        <button class="removeMulti" aria-label="Close" (click)="removemulti(k)">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                      </div>

                                      <div class="gridCol2">
                                        <div class="">
                                          <div class="">
                                            <label
                                              class="side-form-label">{{helpContent?.assessment_qbCategory?.qbCat_Option_type.label}}
                                              <sup>&#x2731;</sup>
                                              <app-info-tooltip
                                                [description]="helpContent?.assessment_qbCategory?.qbCat_Option_type.labelHelpContent">
                                              </app-info-tooltip>
                                            </label>
                                            <!-- <label class="" for="qtypeid{{k}}">
                                              {{helpContent?.assessment_qbCategory?.qbCat_Option_type.label}}
                                              <sup class="reqFieldActivity">*</sup>
                                              <div class="help-tooltip">
                                                <i class="fa fa-info-circle tooltip-hover-info-label-round"
                                                  aria-hidden="true"></i>
                                                <div class="help-tooltip-position-right">
                                                  <p>
                                                    {{helpContent?.assessment_qbCategory?.qbCat_Option_type?.labelHelpContent}}
                                                  </p>
                                                  <i></i>
                                                </div>
                                              </div>
                                            </label> -->
                                            <!-- <label class="space_left" for="qtypeid{{k}}">Option Type <h3
                                                class="reqFieldActivity">*</h3></label> -->
                                            <select [(ngModel)]="moptions.qtypeid" id="qtypeid{{k}}"
                                              class=" select_field_height form-control " required name="qtypeid{{k}}"
                                              #qtypeid="ngModel" (ngModelChange)="choicetypechange(k)">
                                              <option value="">Select </option>
                                              <option *ngFor="let item of qbtype" value={{item.id}}>{{item.name}}
                                              </option>
                                            </select>
                                            <!-- <div *ngIf="qtypeid.errors && (qtypeid.dirty || qtypeid.touched)" class="alert alert-danger">
                                  <div [hidden]="!qtypeid.errors.required">Option type is required</div>
                                </div> -->

                                            <div *ngIf="qtypeid.errors && (qtypeid.dirty || qtypeid.touched)">
                                              <small class="invalid-msg" [hidden]="!qtypeid.errors.required">Option type
                                                is required</small>
                                            </div>
                                            <span></span>
                                          </div>
                                        </div>
                                        <div class="">
                                          <div class="" *ngIf="moptions.qtypeid ==1">
                                            <label
                                              class="side-form-label">{{helpContent?.assessment_qbCategory?.qbCat_Answer.label}}
                                              <sup>&#x2731;</sup>
                                              <app-info-tooltip
                                                [description]="helpContent?.assessment_qbCategory?.qbCat_Answer.labelHelpContent">
                                              </app-info-tooltip>
                                            </label>
                                            <!-- <label class="" for="manswer{{k}}">
                                              {{helpContent?.assessment_qbCategory?.qbCat_Answer.label}}
                                              <sup class="reqFieldActivity">*</sup>
                                              <div class="help-tooltip">
                                                <i class="fa fa-info-circle tooltip-hover-info-label-round"
                                                  aria-hidden="true"></i>
                                                <div class="help-tooltip-position-right">
                                                  <p>
                                                    {{helpContent?.assessment_qbCategory?.qbCat_Answer?.labelHelpContent}}
                                                  </p>
                                                  <i></i>
                                                </div>
                                              </div>
                                            </label> -->
                                            <!-- <label class="space_left" for="manswer{{k}}">Answer<h3
                                                class="reqFieldActivity">*</h3></label> -->
                                            <!-- <input type="text" class="form-control" id="manswer{{k}}"
                                              [(ngModel)]="moptions.manswer" required placeholder="Answer"
                                              name="manswer{{k}}" #manswer="ngModel"> -->
                                            <div class="overflow_hidden">
                                              <jodit-editor [config]="config2" id="manswer{{k}}" name="manswer{{k}}"
                                                [(ngModel)]="moptions.manswer" #manswer="ngModel" required
                                                ngDefaultControl>
                                              </jodit-editor>
                                            </div>


                                            <!-- <div *ngIf="manswer.errors && (manswer.dirty || manswer.touched)" class="alert alert-danger">
                                  <div [hidden]="!manswer.errors.required">Answer is required</div>
                                </div> -->

                                            <div *ngIf="manswer.errors && (manswer.dirty || manswer.touched)">
                                              <small class="invalid-msg" [hidden]="!manswer.errors.required">Answer is
                                                required</small>
                                            </div>
                                            <span></span>
                                          </div>
                                          <div *ngIf="moptions.qtypeid ==2">
                                            <div class="labelgrid">
                                              <label
                                                class="side-form-label">{{helpContent?.assessment_qbCategory?.qbCat_Answer.label}}
                                                <sup>&#x2731;</sup>
                                                <app-info-tooltip
                                                  [description]="helpContent?.assessment_qbCategory?.qbCat_Answer.labelHelpContent">
                                                </app-info-tooltip>
                                              </label>
                                              <!-- <label class="" for="contentRef{{k}}">
                                                {{helpContent?.assessment_qbCategory?.qbCat_Answer.label}}
                                                <sup class="reqFieldActivity">*</sup>
                                                <div class="help-tooltip">
                                                  <i class="fa fa-info-circle tooltip-hover-info-label-round"
                                                    aria-hidden="true"></i>
                                                  <div class="help-tooltip-position-right">
                                                    <p>
                                                      {{helpContent?.assessment_qbCategory?.qbCat_Answer?.labelHelpContent}}
                                                    </p>
                                                    <i></i>
                                                  </div>
                                                </div>
                                              </label> -->
                                              <button class="removeMulti" aria-label="Close" (click)="cancelmulti(k)">
                                                <span aria-hidden="true">&times;</span>
                                              </button>
                                            </div>
                                            <!-- <label class="space_left" for="contentRef{{k}}">Answer<h3
                                                class="reqFieldActivity"></h3></label> -->
                                            <div class="upload-btn-wrapper">
                                              <button class="constantbtn-button-blue-left brwsbtn">Browse</button>
                                              <label class="marleftimg"
                                                for="contentRef{{k}}">{{moptions.qfileName}}</label>
                                              <input type="file" #multupload name="contentRef{{k}}" id="contentRef{{k}}"
                                                [(ngModel)]="moptions.contentRef" (change)="readmultimg($event,k)"
                                                #contentRef="ngModel" title=" ">
                                            </div>
                                          </div>


                                        </div>
                                      </div>
                                      <div class="gridCol2 width98 mar10">
                                        <!-- <div class="col-sm-3 disgrid" *ngIf="multiple.mvalue==1">
                                <label class="space_left" for="mopvalue">Correct<h3 class="reqFieldActivity"></h3></label>
                                <input id="mopvalue{{k}}" type="radio" name="mopvalue"  class="mysqr with-gap marginRight5px" [(ngModel)]="moptions.mopvalue" (ngModelChange)="radiobtn($event,k)"  value="1" #mopvalue="ngModel">
                              </div> -->
                                        <div class="disgrid" *ngIf="multiple.mvalue==1">

                                          <label class="mysqr mysqrcheck sqrCheckBox pointer">
                                            <input id="mopvalue{{k}}" type="checkbox" name="mopvalue{{k}}"
                                              class="mysqrcheckclr marginRight5px" [checked]="moptions.mopvalue"
                                              value="1" [(ngModel)]="moptions.mopvalue" #mopvalue="ngModel"
                                              (ngModelChange)="radiobtn($event,k)">
                                            <label class="sqrCheckBoxLabel " for="mopvalue{{k}}"></label>
                                          </label>
                                          <label class="margin-auto space_left side-form-label"
                                            for="mopvalue{{k}}">Correct
                                            Answer<h3 class="reqFieldActivity"></h3></label>
                                        </div>
                                        <div class="disgrid" *ngIf="multiple.mvalue==2">

                                          <label class="mysqr mysqrcheck sqrCheckBox pointer">
                                            <input id="mopvalue{{k}}" type="checkbox" name="mopvalue{{k}}"
                                              class="mysqrcheckclr marginRight5px" [checked]="moptions.mopvalue"
                                              value="1" [(ngModel)]="moptions.mopvalue" #mopvalue="ngModel"
                                              (click)="multipleCheck(k)">
                                            <label class="sqrCheckBoxLabel " for="mopvalue{{k}}"></label>
                                          </label>

                                          <label
                                            class="side-form-label">{{helpContent?.assessment_qbCategory?.qbCat_correct_ans.label}}
                                            <sup>&#x2731;</sup>
                                            <app-info-tooltip
                                              [description]="helpContent?.assessment_qbCategory?.qbCat_correct_ans.labelHelpContent">
                                            </app-info-tooltip>
                                          </label>
                                          <!-- <label class="space_left margin-auto" for="mopvalue{{k}}">
                                            {{helpContent?.assessment_qbCategory?.qbCat_correct_ans.label}}
                                            <sup class="reqFieldActivity">*</sup>
                                            <div class="help-tooltip">
                                              <i class="fa fa-info-circle tooltip-hover-info-label-round"
                                                aria-hidden="true"></i>
                                              <div class="help-tooltip-position-right">
                                                <p>
                                                  {{helpContent?.assessment_qbCategory?.qbCat_correct_ans?.labelHelpContent}}
                                                </p>
                                                <i></i>
                                              </div>
                                            </div>
                                          </label> -->


                                          <!-- <label class="space_left margin-auto" for="mopvalue{{k}}">Correct Answer<h3
                                              class="reqFieldActivity"></h3></label> -->
                                        </div>

                                        <div class=" pad0" *ngIf="moptions.mopvalue">
                                          <div class="">

                                            <label
                                              class="side-form-label">{{helpContent?.assessment_qbCategory?.qbCat_Score.label}}
                                              <sup>&#x2731;</sup>
                                              <app-info-tooltip
                                                [description]="helpContent?.assessment_qbCategory?.qbCat_Score.labelHelpContent">
                                              </app-info-tooltip>
                                            </label>
                                            <!-- <label class="" for="mpoint{{k}}">
                                              {{helpContent?.assessment_qbCategory?.qbCat_Score.label}}
                                              <sup class="reqFieldActivity">*</sup>
                                              <div class="help-tooltip">
                                                <i class="fa fa-info-circle tooltip-hover-info-label-round"
                                                  aria-hidden="true"></i>
                                                <div class="help-tooltip-position-right">
                                                  <p>
                                                    {{helpContent?.assessment_qbCategory?.qbCat_Score?.labelHelpContent}}
                                                  </p>
                                                  <i></i>
                                                </div>
                                              </div>
                                            </label> -->
                                            <!-- <label class="space_left" for="mpoint{{k}}">Score <h3
                                                class="reqFieldActivity">*</h3></label> -->
                                            <input type="text" class="form-control" id="mpoint{{k}}"
                                              [(ngModel)]="moptions.mpoint" required placeholder="Score"
                                              name="mpoint{{k}}" #mpoint="ngModel" required
                                              oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');"
                                              onKeyDown="if(this.value.length==3 && event.keyCode!=8) return false;"
                                              maxlength="3" min="1">
                                            <!-- <div *ngIf="mpoint.errors && (mpoint.dirty || mpoint.touched)" class="alert alert-danger">
                                  <div [hidden]="!mpoint.errors.required">Score is required</div>
                                </div> -->

                                            <div *ngIf="mpoint.errors && (mpoint.dirty || mpoint.touched)">
                                              <small class="invalid-msg" [hidden]="!mpoint.errors.required">Score is
                                                required</small>
                                            </div>
                                            <span></span>
                                            <!-- <span></span> -->

                                          </div>
                                        </div>
                                        <div class=" pad0" *ngIf="!moptions.mopvalue">
                                          <div class="">

                                            <label
                                              class="side-form-label">{{helpContent?.assessment_qbCategory?.qbCat_Penalty.label}}
                                              <app-info-tooltip
                                                [description]="helpContent?.assessment_qbCategory?.qbCat_Penalty.labelHelpContent">
                                              </app-info-tooltip>
                                            </label>
                                          
                                            <input type="text" class="form-control" id="mipoint{{k}}"
                                              [(ngModel)]="moptions.mipoint" placeholder="Penalty" name="mipoint{{k}}"
                                              #mipoint="ngModel"
                                              oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');"
                                              onKeyDown="if(this.value.length==3 && event.keyCode!=8) return false;"
                                              maxlength="3" min="1"> <span></span>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="width98">
                                        <div class="form-group">
                                          <label
                                            class="side-form-label">{{helpContent?.assessment_qbCategory?.qbCat_Feedback.label}}
                                            <app-info-tooltip
                                              [description]="helpContent?.assessment_qbCategory?.qbCat_Feedback.labelHelpContent">
                                            </app-info-tooltip>
                                          </label>
                                        
                                          <div class="overflow_hidden">
                                            <jodit-editor [config]="config3" id="manfeed{{k}}" name="manfeed{{k}}"
                                              [(ngModel)]="moptions.manfeed" #manfeed="ngModel" ngDefaultControl>
                                            </jodit-editor>
                                          </div>

                                          <span></span>
                                        </div>
                                      </div>

                                    </div>
                                  </form>
                                </div>
                              </div>
                              <div class="bhoechie-tab-content" [class.active]='selectedActInd == 3'>
                                <div class="contentActivityContainer">
                               
                                  <form #shortform="ngForm">
                                    <div class="col-sm-12 divbroder">
                                      <div class="col-sm-6">
                                        <div class="">
                                          <label
                                            class="side-form-label">{{helpContent?.assessment_qbCategory?.qbCat_Min.label}}
                                            <sup>&#x2731;</sup>
                                            <app-info-tooltip
                                              [description]="helpContent?.assessment_qbCategory?.qbCat_Min.labelHelpContent">
                                            </app-info-tooltip>
                                          </label>
                                         
                                          <input type="number" class="form-control" id="min" [(ngModel)]="short.min"
                                            required placeholder="Min Length" name="min" #min="ngModel" required
                                            oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');"
                                            onKeyDown="if(this.value.length==3 && event.keyCode!=8) return false;"
                                            maxlength="4" min="1">
                                          <div *ngIf="min.errors && (min.dirty || min.touched)">
                                            <small class="invalid-msg" [hidden]="!min.errors.required">Min text
                                              length
                                              is required</small>
                                          </div>
                                          <div *ngIf="short.min > short.max">
                                            <small class="invalid-msg"> Min length must be less than max
                                              length</small>
                                          </div>
                                          <span></span>
                                        </div>
                                      </div>
                                      <div class="col-sm-6">
                                        <div class="">
                                          <label
                                            class="side-form-label">{{helpContent?.assessment_qbCategory?.qbCat_Max.label}}
                                            <sup>&#x2731;</sup>
                                            <app-info-tooltip
                                              [description]="helpContent?.assessment_qbCategory?.qbCat_Max.labelHelpContent">
                                            </app-info-tooltip>
                                          </label>
                                         
                                          <input type="number" class="form-control" id="max" [(ngModel)]="short.max"
                                            placeholder="Max Length" name="max" #max="ngModel" required
                                            oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');"
                                            onKeyDown="if(this.value.length==3 && event.keyCode!=8) return false;"
                                            maxlength="5" min="1"> <span></span>

                                          <div *ngIf="max.errors && (max.dirty || max.touched)">
                                            <small class="invalid-msg" [hidden]="!min.errors.required">Max text
                                              length
                                              is required</small>
                                          </div>
                                          <span></span>
                                        </div>
                                      </div>
                                        </div>
                                  </form>
                                </div>
                              </div>
                              <div class="bhoechie-tab-content" [class.active]='selectedActInd == 2'>
                                <div class="contentActivityContainer">
                                 
                                  <form #sequenceform="ngForm">
                                    <div class=" disblc" [sortablejs]="sequence.soption"
                                      [sortablejsOptions]="QuestionListOptions">
                                      <div class="col-sm-12 divbroder list-group-item"
                                        *ngFor=" let options of sequence.soption;let i=index ">
                                        <div class="text-right">
                                          <button class="removeMulti" aria-label="Close" (click)="removesequence(i)">
                                            <span aria-hidden="true">&times;</span>
                                          </button>
                                        </div>
                                        <div class="col-sm-1 pad0">
                                          <button type="button" class="dragBtn drag-handle">
                                            <span class="glyphicon glyphicon-move sortIcon"></span>
                                            <span class="sr-only">Drag</span>
                                          </button>
                                        </div>
                                        <div class="col-sm-5">
                                          <div class="">
                                            <label
                                              class="side-form-label">{{helpContent?.assessment_qbCategory?.qbCat_Answer.label}}
                                              <sup>&#x2731;</sup>
                                              <app-info-tooltip
                                                [description]="helpContent?.assessment_qbCategory?.qbCat_Answer.labelHelpContent">
                                              </app-info-tooltip>
                                            </label>
                                           <div class="overflow_hidden">
                                              <jodit-editor [config]="config2" id="sanswer{{i}}" name="sanswer{{i}}"
                                                [(ngModel)]="options.sanswer" #sanswer="ngModel" required
                                                ngDefaultControl>
                                              </jodit-editor>
                                            </div>

                                          

                                            <div *ngIf="sanswer.errors && (sanswer.dirty || sanswer.touched)">
                                              <small class="invalid-msg" [hidden]="!sanswer.errors.required">Answer is
                                                required</small>
                                            </div>
                                            <span></span>
                                          </div>
                                        </div>
                                        <div class="col-sm-2">
                                          <div class="">
                                            <label
                                              class="side-form-label">{{helpContent?.assessment_qbCategory?.qbCat_Score.label}}
                                              <sup>&#x2731;</sup>
                                              <app-info-tooltip
                                                [description]="helpContent?.assessment_qbCategory?.qbCat_Score.labelHelpContent">
                                              </app-info-tooltip>
                                            </label>
                                          <input type="text" class="form-control" id="spoint{{i}}"
                                              [(ngModel)]="options.spoint" required placeholder="Score"
                                              name="spoint{{i}}" #spoint="ngModel" required
                                              oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');"
                                              onKeyDown="if(this.value.length==3 && event.keyCode!=8) return false;"
                                              maxlength="3" min="1">
                                       

                                            <div *ngIf="spoint.errors && (spoint.dirty || spoint.touched)">
                                              <small class="invalid-msg" [hidden]="!spoint.errors.required">Score is
                                                required</small>
                                            </div>
                                            <span></span>

                                          </div>
                                        </div>
                                        <div class="col-sm-2">
                                          <div class="">
                                            <label
                                              class="side-form-label">{{helpContent?.assessment_qbCategory?.qbCat_Penalty.label}}
                                              <app-info-tooltip
                                                [description]="helpContent?.assessment_qbCategory?.qbCat_Penalty.labelHelpContent">
                                              </app-info-tooltip>
                                            </label>
                                       
                                            <input type="text" class="form-control" id="sipoint{{i}}"
                                              [(ngModel)]="options.sipoint" placeholder="Penalty" name="sipoint{{i}}"
                                              #sipoint="ngModel"
                                              oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');"
                                              onKeyDown="if(this.value.length==3 && event.keyCode!=8) return false;"
                                              maxlength="3" min="1"> <span></span>
                                          </div>
                                        </div>

                                      </div>
                                    </div>
                                  </form>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nb-tab>
  </nb-tabset>
</div>

