<app-subheader [headerConfig]="header" (inputsearch)="searchData($event)" (addbtn)="showTemplate(null,0)" (backClick)="back()" (Clear)="clear()"></app-subheader>

<!-- <div class="top_header_container" *ngIf='!noMaster'>
    <div class="top_header_div_sticky content_width">
        <div class="widgets"> -->
<!-- <div class="loaderBackdrop" *ngIf="loader == true">
    <div id="loader"></div>
</div> -->
<!-- <div ba-panel ba-panel-class="with-scroll"> -->
<!-- <div class="divCon">
                        <div class="userSubButInd1 sticky-top">
                            <div class="col-sm-3">
                                <h3 class="h3lableuser">Venue</h3>
                            </div>
                            <div class="col-sm-5">
                                <div class="search_div"> -->
<!-- <input type="text" class="form-control search_field" placeholder="Search by venue name / location name" [(ngModel)]="searchParticipant.venueName" (ngModelChange)="searchData($event)" /> -->
<!-- [(ngModel)]="search.name"  name="name" -->
<!-- <i class="fa fa-remove remove_icon" aria-hidden="true" (click)="clear()"></i>
                                </div>
                            </div>
                            <div class="buttons_div">

                                <button class="constantbtn-button-blue-left" (click)="showTemplate(null,0)">Add</button>

                                <button type="submit" class="back_button" (click)="back()">Back</button>
                            </div>
                        </div>
                    </div> -->

<div *ngIf='!noMaster'>
    <div class="tableCompo">
        <ngx-enrol-table [label]="labels" [pagination]="true" [tableData]="tempData" (clickOnbutton)="visibilityTableRow($event)" (clickOnicon)="showTemplate($event,1)"></ngx-enrol-table>
    </div>
    <div *ngIf='!noMaster' style="padding: 5px 10px">
        <div>Total: {{ tempData.length }}</div>
    </div>
</div>

<div *ngIf='noMaster'>

    <ngx-no-data [config]="noDataVal"></ngx-no-data>
</div>


<ngx-sidebar-form *ngIf="sidebarForm" (saveBtn)="onSubmit(form)" (closeBtn)="cloeSidebar()" (outside)="cloeSidebar()" [sidebarTitle]="title" [buttonName]="btnName">
    <form [formGroup]="editVenueForm" class="example-form">

        <div class="row">
            <div class="col-md-6">
                <label class="side-form-label" for="venue">{{helpContent?.venue_AddEditCategoryContent?.Venue.label}} <sup>&#x2731;</sup>
          <app-info-tooltip  [description]="helpContent?.venue_AddEditCategoryContent?.Venue.labelHelpContent"></app-info-tooltip>

      </label>
                <input id="VENUE" type="text" class="form-control commonInput" formControlName="VENUE" required [(ngModel)]="editData.venueName" matInput placeholder="Enter Venue Name">

                <div *ngIf="VENUE && VENUE.invalid && (VENUE.dirty || VENUE.touched)" class="invalid-msg">

                    <small *ngIf="VENUE.errors.required">
                        Venue is required.
                    </small>
                    <small *ngIf="VENUE.errors.minlength">
                        Venue must be atleast 3 characters long.
                    </small>
                    <small *ngIf="VENUE.errors.maxlength">
                        Venue must be less then 100 characters
                    </small>

                </div>
            </div>
            <div class="col-md-6">
                <label class="side-form-label" for="locationName">{{helpContent?.venue_AddEditCategoryContent?.Location_Name.label}}
          <sup>&#x2731;</sup>
                    <app-info-tooltip  [description]="helpContent?.venue_AddEditCategoryContent?.Location_Name.labelHelpContent"></app-info-tooltip>

        </label>

                <select name="locationName" [(ngModel)]="selectedLocationId" [ngModelOptions]="{standalone: true}" class="commonSelect custom-select" formControlName="locationName" required>
          <option value=null selected disabled>Select Location Name</option>
          <option *ngFor="let item of locationDropDownData" [value]="item.locationId">{{item.locationName}}</option>
        </select>
                <div *ngIf="locationName && locationName.invalid && (locationName.dirty || locationName.touched)" class="invalid-msg">

                    <small *ngIf="locationName.errors.required">
                        Location Name is required.
                    </small>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label class="side-form-label" for="Address">{{helpContent?.venue_AddEditCategoryContent?.Address.label}} <sup>&#x2731;</sup>
          <app-info-tooltip  [description]="helpContent?.venue_AddEditCategoryContent?.Address.labelHelpContent"></app-info-tooltip>

      </label>
                <input id="address" type="text" class="form-control commonInput" [(ngModel)]="editData.address1" formControlName="address" required matInput placeholder="Enter Address">


                <div *ngIf="address && address.invalid && (address.dirty || address.touched)" class="invalid-msg">

                    <small *ngIf="address.errors.required">
                        Address is required.
                    </small>
                    <small *ngIf="address.errors.minlength">
                        Address must be atleast 5 characters long.
                    </small>
                    <small *ngIf="address.errors.maxlength">
                        Address must be less then 100 characters.
                    </small>
                </div>
            </div>
            <div class="col-md-6">
                <label for="address1" class="side-form-label">{{helpContent?.venue_AddEditCategoryContent?.Address1.label}}
          <app-info-tooltip  [description]="helpContent?.venue_AddEditCategoryContent?.Address1.labelHelpContent"></app-info-tooltip>

        </label>
                <input id="address1" type="text" [(ngModel)]="editData.address2" class="form-control commonInput" formControlName="address1" matInput placeholder="Enter Address">


                <div *ngIf="address1 && address1.invalid && (address1.dirty || address1.touched)" class="invalid-msg">
                    <small *ngIf="address1.errors.minlength">
                        Address 1 must be atleast 5 characters long.
                    </small>
                    <small *ngIf="address1.errors.maxlength">
                        Address 1 must be less then 100 characters.
                    </small>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label class="side-form-label" for="pincode">{{helpContent?.venue_AddEditCategoryContent?.Pincode.label}} <sup>&#x2731;</sup>
          <app-info-tooltip  [description]="helpContent?.venue_AddEditCategoryContent?.Pincode.labelHelpContent"></app-info-tooltip>

      </label>
                <input id="pincode" type="number" class="form-control commonInput" [(ngModel)]="editData.pinCode" formControlName="pincode" required matInput placeholder="Enter Pincode">


                <div *ngIf="pincode && pincode.invalid && (pincode.dirty || pincode.touched)" class="invalid-msg">
                    <small *ngIf="pincode.errors.required">
                        Pincode is required.
                    </small>
                    <small *ngIf="pincode.errors.pattern">
                        Pincode should be only 6 digits.
                    </small>
                    <!-- <div *ngIf="pincode.errors.pattern">
          Pincode should be only 6 digits.
        </div> -->
                </div>
            </div>
            <div class="col-md-6">
                <label class="side-form-label" for="contactPerson">{{helpContent?.venue_AddEditCategoryContent?.Contact_Person.label}}
          <app-info-tooltip  [description]="helpContent?.venue_AddEditCategoryContent?.Contact_Person.labelHelpContent"></app-info-tooltip>

        </label>
                <input id="contactPerson" type="text" class="form-control commonInput" [(ngModel)]="editData.contactPerson" [ngClass]="{'invalid-form': contactPerson.invalid && (contactPerson.dirty || contactPerson.touched)}" formControlName="contactPerson" matInput
                    placeholder="Enter Contact Person Name">


                <div *ngIf="contactPerson && contactPerson.invalid && (contactPerson.dirty || contactPerson.touched)" class="invalid-msg">
                    <small *ngIf="contactPerson.errors.minlength">
                        ContactPerson be atleast 3 characters long.
                    </small>
                    <small *ngIf="contactPerson.errors.maxlength">
                        ContactPerson be less than 100 characters long.
                    </small>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label class="side-form-label" for="mobileNumber">{{helpContent?.venue_AddEditCategoryContent?.Mobile_Number.label}} <sup>&#x2731;</sup>
          <app-info-tooltip  [description]="helpContent?.venue_AddEditCategoryContent?.Mobile_Number.labelHelpContent"></app-info-tooltip>

      </label>
                <input id="mobile" type="tel" pattern="[6-9]{1}[0-9]{9}" class="form-control commonInput" [(ngModel)]="editData.mobile" maxlength="10" formControlName="mobile" required matInput placeholder="Enter Mobile Number">


                <div *ngIf="mobile.invalid && (mobile.dirty || mobile.touched)" class="invalid-msg">

                    <small *ngIf="mobile.errors.required">
                        Mobile Number is required.
                    </small>
                    <!-- <div *ngIf="mobile.errors.minlength">
          Mobile Number should be only 10 digits.
        </div>
        <div *ngIf="mobile.errors.maxlength">
          Mobile Number should be only 10 digits.
        </div> -->
                    <small *ngIf="mobile.errors.pattern">
                        Please enter proper mobile number.
                    </small>
                </div>
            </div>
            <div class="col-md-6">
                <label for="visibility" class="side-form-label">{{helpContent?.venue_AddEditCategoryContent?.visibility.label}}<sup>&#x2731;</sup>
          <app-info-tooltip  [description]="helpContent?.venue_AddEditCategoryContent?.visibility.labelHelpContent"></app-info-tooltip>

        </label>
                <select [(ngModel)]="selectedVenueId" [ngModelOptions]="{standalone: true}" class="commonSelect custom-select" required>
          <option value="" selected disabled>Select Visible</option>
          <option *ngFor="let item of visibleDropDownData" [value]=item.id>{{item.name}}</option>
        </select>
            </div>
        </div>
    </form>
</ngx-sidebar-form>