<div class="d-flex align-items-center justify-content-end pb-2">
    <!-- <div class="searchBar focus" [ngClass]="{'fullserch': showSearch}"> -->
    <div class="searchBarNew focus" [ngClass]="{'fullserch': showSearch}">
        <i class="fa fa-search search cursor-p" (click)="search()"></i>
        <i class="fa fa-times close-icon cursor-p" (click)="passEventToParent('clearesearch',$event);reference.value=''"></i>
        <input type="text" #reference placeholder="Search..." (keyup)="passEventToParent('searchManEnrol',$event)">
    </div>
    <div class="col-md-4">
        <!-- <angular2-multiselect [data]="manulEnrolConfig?.userList" [(ngModel)]="selectedItems"
            [ngModelOptions]="{standalone: true}" [settings]="dropdownSettings"
              (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)"
            (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)">
        </angular2-multiselect> -->
        <angular2-multiselect [data]="manulEnrolConfig?.userList" [(ngModel)]="manulEnrolConfig.selectedUsers" [settings]="dropdownSettings" (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)"
            name="selectedUsers" ngDefaultControl>
            <c-search>
                <ng-template>
                    <input class="commonInput" type="text" (keyup)="passEventToParent('onSearch',$event)" placeholder="Search users..." name="fname" #name />
                    <i class="fa fa-remove searchRemoveNew" (click)="passEventToParent('clearesearch','')"></i>
                </ng-template>
            </c-search>
            <c-item>
                <ng-template let-item="item">
                    <!-- <div>

              </div> -->
                    <label class="multiselect-label">ECN: {{
                item.ecn ? item.ecn : 'NA'
                }}</label>
                    <div>
                        <label class="multiselect-label">Name: {{
                    item.fullname ? item.fullname : 'NA'
                    }}</label>
                    </div>
                    <div>
                        <label class="multiselect-email-label">Email: {{
                item.emailId ? item.emailId : 'NA'
                }}</label>
                    </div>

                </ng-template>
            </c-item>
        </angular2-multiselect>
    </div>
    <button class="commonBtn m-0" (click)="passEventToParent('manEnrolUser',manulEnrolConfig?.selectedUsers)" [disabled]="!manulEnrolConfig?.selectedUsers">Add User</button>
</div>
<ngx-enrol-table [pagination]= true *ngIf="manulEnrolConfig" (clickOnbutton)="passEventToParent('visibilityTableRow',$event)" [label]="manulEnrolConfig?.labels" [tableData]="manulEnrolConfig?.data"></ngx-enrol-table>
<ngx-no-data [config]="noDataVal" *ngIf="manulEnrolConfig?.data?.length == 0"></ngx-no-data>
