<div class="parent_ttt_nomination" *ngIf='!noStepsFound'>

    <div class="stepper-container">
        <div class="bs-vertical-wizard">
            <ul>
                <!-- complete: step.status == '1' , -->
                <li (click)="stepdetail(step)" [ngClass]="{

            current: selectedstep == step.id
            }" *ngFor="let step of stepsData; let stepIndex = index">
                    <div class="stepName"> {{ step.displayName }}
                        <!-- *ngIf="step.status == '1' " -->
                        <!-- <i class="ico fa fa-check ico-green" ></i> -->
                        <!-- <i class="ico-pending  fa fa-exclamation-circle ico-muted"></i> -->
                        <!-- <i class="ico-pending fa fa-exclamation-circle ico-muted" ></i> -->
                        <!-- <i class="ico fa fa-exclamation ico-green" aria-hidden="true" ></i> -->
                        <!-- <i class="ico fa fa-lock ico-muted" *ngIf="step.status == '0'"></i> -->
                        <!-- <span class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, cumque.</span> -->
                    </div>
                </li>
                <!-- <li class="current">
              <div> Hello
                <i class="ico-pending fa fa-exclamation-circle ico-muted" aria-hidden="true" ></i>
              </div>
          </li> -->
            </ul>
        </div>
    </div>
    <div class="stepper_data_conatiner">
        <div class="mattabs">
            <mat-tab-group [selectedIndex]="selectedIndex" (selectedTabChange)="tabChanged($event)">
                <mat-tab [label]="data" *ngFor="let data of tabsArray">
                </mat-tab>


                <!-- <mat-tab label="Participants List">

          asdasd
        </mat-tab>


        <mat-tab label="Participants Guide">
          Guide

        </mat-tab> -->

            </mat-tab-group>
        </div>
        <div *ngIf="data?.length !=0" class="">
            <div class="form-group1 content_center_container" *ngIf="selectedstep === 3">

                <div class="">
                    <div> <label class="space_left" for="comments">Comments <h3 class="reqField">*</h3></label></div>
                    <textarea rows="2" cols="8" [(ngModel)]="comment" class="form-control comments" id="comments" placeholder="Write your comments" (keyup)="submit()"></textarea>
                    <div *ngIf="errflag">
                        <p>Comment required</p>
                    </div>
                </div>

                <div class="text-center mt-2" *ngIf="currentTabLabel != 'Pending'">
                    <button class="constantbtn-button-blue-left" *ngIf="currentTabLabel == 'Rejected'" [disabled]="!comment" (click)="updata('1')">Approve</button>
                    <button class="constantbtn-button-blue-right" *ngIf="currentTabLabel == 'Approved'" [disabled]="!comment" (click)="updata('0')">Reject</button>
                </div>
                <div class="text-center mt-2" *ngIf="currentTabLabel == 'Pending'">
                    <button class="constantbtn-button-blue-left" [disabled]="!comment" (click)="updata('1')">Approve</button>
                    <button class="constantbtn-button-blue-right" [disabled]="!comment" (click)="updata('0')">Reject</button>
                </div>
            </div>
            <div class="form-group1 content_center_container" *ngIf="selectedstep === 4 ">

                <div class="">
                    <div> <label class="space_left" for="comments">Comments <h3 class="reqField">*</h3></label></div>
                    <textarea rows="2" cols="8" [(ngModel)]="comment" class="form-control comments" id="comments" placeholder="Write your comments" (keyup)="submit()"></textarea>
                    <div *ngIf="errflag">
                        <p>Comment required</p>
                    </div>
                </div>

                <div class="text-center mt-2" *ngIf="currentTabLabel != 'Pending'">
                    <button class="constantbtn-button-blue-left" *ngIf="currentTabLabel == 'Rejected'" [disabled]="!comment" (click)="updatAdminAprroval('1')">Approve</button>
                    <button class="constantbtn-button-blue-right" *ngIf="currentTabLabel == 'Approved'" [disabled]="!comment" (click)="updatAdminAprroval('0')">Reject</button>
                </div>
                <div class="text-center mt-2" *ngIf="currentTabLabel == 'Pending'">
                    <button class="constantbtn-button-blue-left" [disabled]="!comment" (click)="updatAdminAprroval('1')">Approve</button>
                    <button class="constantbtn-button-blue-right" [disabled]="!comment" (click)="updatAdminAprroval('0')">Reject</button>
                </div>
            </div>
        </div>

        <div *ngIf="data?.length !=0">

            <ngx-table [stepIndex]="selectedstep" [tableContent]="data" [ignoreCol]="['empId']" [showToggle]="showPopup" [stepThreeFlag]='false' (callPopUpModal)="bindPopUpDate($event)" (sendUpdatedValues)='displayDataFromChild($event)'></ngx-table>
        </div>

        <!-- <div *ngIf = 'data?.length ==0' class="text-center no-data-found">
    <p>No data found.</p>
  </div> -->
        <ngx-no-data *ngIf='data?.length ==0'></ngx-no-data>
    </div>
</div>
<ngx-no-data *ngIf='noStepsFound'></ngx-no-data>

<!-- <div *ngIf = 'noStepsFound'>
  <p>No data found.</p>
</div> -->
<div *ngIf="modal_showPopup">
    <ngx-table-modal [showPopup]="!showPopup" [tableContent]="dataPopUp" [stepId]="selectedstep" [workflowType]="'eep'" (close)="closeModal($event)"></ngx-table-modal>
</div>