<div class="employee_container">
    <!-- <div class="top_header_container">
        <div class="top_header_div_sticky content_width">
            <div class="page_title">
                <h4>Employees</h4>
            </div> -->

    <!-- <div>
                    <div class="filter_div">
                        <div class="drop_down">
                            <select [(ngModel)]="cat.id" class=" drop_down_select" name="id" (click)="doropserch()">
                                <option value = "">All Categories</option>
                                <option *ngFor="let item of parentcat" value={{item.categoryId}} >{{item.categoryName}}</option>
                            </select>
                        </div>
                        <div class="search_box">
                            <input type="text" [(ngModel)]="search.fullname" class=" search_field" placeholder="Search by course name" name="fname">
                            <i class="fa fa-remove remove_icon" aria-hidden="true" (click)="clear()"></i>
                        </div>
                    </div>
                </div> -->

    <!-- <div class="buttons_div">
                <div class="btn-group ">
                    <button type="button" class="btnPad0 btn btn-secondary optbtnNewInd" style="outline: none;">New Employees</button>
                    <button type="button" class="btnPad0 btn btn-danger dropdown-toggle dropdown-toggle-split splitBtn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                    <div class="dropdown-menu dropMenu dropMenuUnReg1" aria-labelledby="dropdownMenuButton">
                        <ul class="myUl"> -->
    <!-- <span >
                                <li class="dropdown-item dropItemUsers" (click)="UnRegAddUsers(0)">Add Employee</li>
                            </span> -->
    <!-- <div>
                                <li class="dropdown-item dropItemUsers" (click)="uploadUsers()">Upload Employees</li>
                            </div>
                        </ul>
                    </div> -->


    <!-- <span [ngClass]="{'disablespa':editEmployees==false}" >
        <li [ngClass]="{'disableli':editEmployees==false}" class="dropdown-item dropItemUsers" (click)="UnRegEditUsers(1,$event)">Edit Employees</li></span> -->
    <!-- <button class="back_button" (click)="back()" style="margin: 2px 10px;">Back</button>
                </div>
                <div class="btn-group subButGrp" style=""> -->
    <!-- [disabled]="unRegGetDisable()<1 || unRegGetDisable()>1" -->
    <!-- <button type="button" class="btnPad0 btn btn-secondary optbtnNewInd">Actions</button> -->
    <!-- [disabled]="unRegGetDisable()<1 || unRegGetDisable()>1" -->
    <!-- <button type="button" class="btnPad0 btn btn-danger dropdown-toggle dropdown-toggle-split splitBtn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only">Toggle Dropdown</span>
                        </button> -->
    <!-- <div class="dropdown-menu dropMenu dropMenuUnReg2" aria-labelledby="dropdownMenuButton">
                        <ul class="myUl"> -->
    <!-- <li  class="dropdown-item dropItemUsers" (click)="UnRegEditUsers(1,$event)">Edit Employees</li></span> -->
    <!--  <li [disabled]="editEmployees==false" class="dropdown-item dropItemUsers" (click)="UnRegEditUsers(1,$event)">Edit User</li> -->
    <!-- <span [ngClass]="{'disablespa':selectedEmployees.length == 0}">
                                    <li class="dropdown-item dropItemUsers" (click)="updatAttendanceStatus('Active');" [ngClass]="{'disableli': selectedEmployees.length == 0 }">Mark Attendance</li>
                                </span>
                            <span [ngClass]="{'disablespa':selectedEmployees.length == 0}">
                                    <li class="dropdown-item dropItemUsers"  (click)="updatAttendanceStatus('Inactive')" [ngClass]="{'disableli':selectedEmployees.length == 0 }">Unmark Attendance</li>
                                </span>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <app-subheader [headerConfig]="header" (backClick)="back()" (drpdown1)="uploadUsers()"></app-subheader>

    <div class="employee_contents">
        <div class="search_contents">
            <div class="form-group">
                <!-- <label>{{helpContent?.employee?.emp_name?.label}}
                    <div class="help-tooltip">
                        <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                        <div class="help-tooltip-position-right">
                        <p>{{helpContent?.employee?.emp_name?.labelHelpContent}}</p>
                        <i></i>
                        </div>
                    </div>
                </label> -->
                <label class="side-form-label" for="Address">{{helpContent?.employee?.emp_name.label}}
                    <app-info-tooltip  [description]="helpContent?.employee?.emp_name.labelHelpContent"></app-info-tooltip>
                  
                </label>
                <!-- <label class="">Date Of Joining</label> -->
                <div class="flexInput">
                    <input class="form-control commonInput dateinput commonpadding" name="str" placeholder="Search By {{currentBrandData.employee}} Name" [(ngModel)]="formData.str" />
                    <div class="divcalicon" (click)="clearSearch()">
                        <i class="fa fa-remove remove_icon"></i>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="side-form-label" for="Address">{{helpContent?.employee?.doj.label}}
                    <app-info-tooltip  [description]="helpContent?.employee?.doj.labelHelpContent"></app-info-tooltip>
                </label>
                <!-- <label>{{helpContent?.employee?.doj?.label}}
                    <div class="help-tooltip">
                        <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                        <div class="help-tooltip-position-right">
                        <p>{{helpContent?.employee?.doj?.labelHelpContent}}</p>
                        <i></i>
                        </div>
                    </div>
                </label> -->
                <!-- <label class="">Date Of Joining</label> -->
                <div class="flexInput">
                    <input [owlDateTime]="doj" placeholder="Select Date Of Joining" [owlDateTimeTrigger]="doj" class="form-control commonInput dateinput commonpadding " name="doj" [(ngModel)]="formData.doj" [selectMode]="'range'" />
                    <div class="divcalicon" [owlDateTimeTrigger]="doj">
                        <i class="fa fa-calendar calfont"></i>
                    </div>
                    <owl-date-time [pickerType]="'calendar'" #doj></owl-date-time>
                </div>
            </div>

            <div class="form-group">
                <label class="side-form-label" for="Address">{{helpContent?.employee?.status.label}}
                    <app-info-tooltip  [description]="helpContent?.employee?.status.labelHelpContent"></app-info-tooltip>
                </label>
                <!-- <label>{{helpContent?.employee?.status?.label}}
                    <div class="help-tooltip">
                        <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                        <div class="help-tooltip-position-right">
                        <p>{{helpContent?.employee?.status?.labelHelpContent}}</p>
                        <i></i>
                        </div>
                    </div>
                </label> -->
                <!-- <label>Status</label> -->
                <select class="commonSelect custom-select" [(ngModel)]="formData.status">
                    <option value="{{item.id}}" *ngFor="let item of employeeStatus">{{item?.status}}</option>
                    <!-- <option value="">All</option>
                    <option value="">Active</option>
                    <option value="">Inactive</option> -->
                </select>
            </div>

            <div class="">
                <button class="constantbtn-button-blue-left" (click)="searchEmpData()">Search</button>
            </div>

        </div>

        <div>
            <ngx-enrol-table [label]="labels" [pagination]="true" [tableData]="employeeList"></ngx-enrol-table>

            <div *ngIf='employeeList.length > 0' style="padding: 5px 10px">
                <div>Total: {{ employeeList.length }}</div>
            </div>
        </div>
        <ngx-no-data *ngIf="noData" [config]="noDataVal"></ngx-no-data>

        <div class="loaderBackdrop" *ngIf="loader">
            <div id="loader"></div>
        </div>
        <!-- <div class="ngxtable">
            <ngx-datatable #myTable class="material server-scrolling-demo" style="" [rows]="employeeList" [columnMode]="'force'" [scrollbarV]="true" [headerHeight]="50" [rowHeight]="50" [footerHeight]="50" [limit]="10" (select)='onSelect($event)' [selected]="selected"
                [selectAllRowsOnPage]="true" (scroll)="onScrollDown($event.offsetY, false)">

                <ngx-datatable-column [width]="30" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                </ngx-datatable-column>


                <ngx-datatable-column name="ECN" [width]=100>
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <div>
                            {{row.ecn}}
                        </div>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Full Name" [width]=100>
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <div>
                            {{row.fullname}}
                        </div>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Email" [width]=100>
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <div>
                            {{row.email}}
                        </div>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Contact" [width]=100>
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <div>
                            {{row.phone}}
                        </div>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Date Of Joining" [width]=100>
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <div>
                            {{row.doj}}
                        </div>
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Status" [width]=100>
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <div>
                            {{row.isActive}}
                        </div>
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>
        </div> -->
    </div>
</div>
<!-- <div class="spinner_container" *ngIf="showSpinner">
    <div class="loader box-rotation"></div>
</div> -->