<div class="widgets employee_container">
  <!-- <div id="loader" *ngIf="loader == true"></div> -->
  <div class="loaderBackdrop" *ngIf="loader == true">
    <div id="loader"></div>
  </div>
  <div  ba-panel ba-panel-class="with-scroll" >
    <div class="col-sm-12 csm12">
      <div class="divCon">
        <div class="userSubButInd sticky-top">
          <!--  *ngIf="tab1 == true" -->
          <div class="divMainSub" style="" *ngIf="tab1 == true"> 
            <div class="btn-group subButGrp" style="">
              <button type="button" class="btnPad0 btn btn-secondary optbtnNewInd">New Employees</button>
              <button type="button" class="btnPad0 btn btn-danger dropdown-toggle dropdown-toggle-split splitBtn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <div class="dropdown-menu dropMenu dropMenuUnReg1" aria-labelledby="dropdownMenuButton">
                <ul class="myUl">
                  <!-- <span > -->
                  <!-- <li class="dropdown-item dropItemUsers" (click)="UnRegAddUsers(0)">Add Employee</li></span> -->
                  <span >
                  <li class="dropdown-item dropItemUsers" (click)="uploadUsers()">Upload Employees</li></span>
                </ul>
              </div>
            </div>

            <div class="btn-group subButGrp" style="">
              <button type="button" class="btnPad0 btn btn-secondary optbtnNewInd" [disabled]="unRegGetDisable()<1 || unRegGetDisable()>1">Actions</button>
              <button type="button" class="btnPad0 btn btn-danger dropdown-toggle dropdown-toggle-split splitBtn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" [disabled]="unRegGetDisable()<1 || unRegGetDisable()>1">
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <div class="dropdown-menu dropMenu dropMenuUnReg2" aria-labelledby="dropdownMenuButton">
                <ul class="myUl">
                   <span  >
                  <li  class="dropdown-item dropItemUsers" (click)="UnRegEditUsers(1,$event)">Edit Employees</li></span>
                 <!--  <li [disabled]="editEmployees==false" class="dropdown-item dropItemUsers" (click)="UnRegEditUsers(1,$event)">Edit User</li> -->
                  <!-- <li class="dropdown-item dropItemUsers" (click)="markAttendance();">Mark Attendance</li> -->
                </ul>
              </div>
            </div>

            <!-- <div class="btn-group subButGrp" style="" >
              <button type="button" class="btnPad0 btn btn-secondary optbtnNewInd" [disabled]="unRegGetDisable()<2">Mass Actions</button>
              <button type="button" class="btnPad0 btn btn-danger dropdown-toggle dropdown-toggle-split splitBtn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" [disabled]="unRegGetDisable()<2">
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <div class="dropdown-menu dropMenu dropMenuUnReg3" aria-labelledby="dropdownMenuButton">
                <ul class="myUl">
                  <li class="dropdown-item dropItemUsers" (click)="markAttendance();">Mark Attendance</li>
                </ul>
              </div>
            </div> -->
          </div>     

          <div class="divMainSub" style="" *ngIf="tab2 == true"> 
            <div class="btn-group subButGrp" style="">
              <button type="button" class="btnPad0 btn btn-secondary optbtnNewInd">New Employees</button>
              <button type="button" class="btnPad0 btn btn-danger dropdown-toggle dropdown-toggle-split splitBtn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <div class="dropdown-menu dropMenu dropMenuReg1" aria-labelledby="dropdownMenuButton">
                <ul class="myUl">
                  <!-- <span > -->
                  <!-- <li class="dropdown-item dropItemUsers" (click)="regAddUsers(0)">Add Employee</li></span> -->
                  <span >
                  <li class="dropdown-item dropItemUsers" (click)="uploadUsers()">Upload Employees</li></span>
          <!--         <li [disabled]="addEmployees==false" class="dropdown-item dropItemUsers" (click)="regAddUsers(0)">Add User</li>
                  <li [disabled]="uploadEmployees==false" class="dropdown-item dropItemUsers" (click)="uploadUsers()">Upload Users</li> -->
                </ul>
              </div>
            </div>

            <div class="btn-group subButGrp" style="">
              <button type="button" class="btnPad0 btn btn-secondary optbtnNewInd" [disabled]="regGetDisable()<1 || regGetDisable()>1">Actions</button>
              <button type="button" class="btnPad0 btn btn-danger dropdown-toggle dropdown-toggle-split splitBtn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" [disabled]="regGetDisable()<1 || regGetDisable()>1">
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <div class="dropdown-menu dropMenu dropMenuReg2" aria-labelledby="dropdownMenuButton">
                <ul class="myUl">
                   <span >
                  <li   class="dropdown-item dropItemUsers" (click)="regEditUsers(1)">Edit User Employee</li></span>
                  <span  >
                  <li  class="dropdown-item dropItemUsers" (click)="markAttendance()">Mark Attendance</li></span>
                 <!--  <li [disabled]="editEmployees==false" class="dropdown-item dropItemUsers" (click)="regEditUsers(1);">Edit User</li>
                  <li [disabled]="mrkAttendance==false" class="dropdown-item dropItemUsers" (click)="markAttendance();">Mark Attendance</li> -->
                </ul>
              </div>
            </div>

            <div class="btn-group subButGrp" style="" >
              <button type="button" class="btnPad0 btn btn-secondary optbtnNewInd" [disabled]="regGetDisable()<2">Mass Actions</button>
              <button type="button" class="btnPad0 btn btn-danger dropdown-toggle dropdown-toggle-split splitBtn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" [disabled]="regGetDisable()<2">
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <div class="dropdown-menu dropMenu dropMenuReg3" aria-labelledby="dropdownMenuButton">
                <ul class="myUl">
                   <span  >
                  <li   class="dropdown-item dropItemUsers" (click)="markAttendance()">Mark Attendance</li></span>
                  <!-- <li [disabled]="mrkAttendance==false" class="dropdown-item dropItemUsers" (click)="markAttendance();">Mark Attendance</li> -->
                </ul>
              </div>
            </div>
          </div>

          <div class="divMainSub" style="" *ngIf="tab3 == true"> 
            <div class="btn-group subButGrp" style="">
              <button type="button" class="btnPad0 btn btn-secondary optbtnNewInd">New Employees</button>
              <button type="button" class="btnPad0 btn btn-danger dropdown-toggle dropdown-toggle-split splitBtn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <div class="dropdown-menu dropMenu dropMenuEnrol1" aria-labelledby="dropdownMenuButton">
                <ul class="myUl">
                  <!-- <span > -->
                  <!-- <li class="dropdown-item dropItemUsers" (click)="enrolAddUsers(0)">Add Employee</li></span> -->
                  <span >
                  <li class="dropdown-item dropItemUsers" (click)="uploadUsers()">Upload Employees</li></span>
                </ul>
              </div>
            </div>

            <div class="btn-group subButGrp" style="">
              <button type="button" class="btnPad0 btn btn-secondary optbtnNewInd" [disabled]="enrolGetDisable()<1 || enrolGetDisable()>1">Actions</button>
              <button type="button" class="btnPad0 btn btn-danger dropdown-toggle dropdown-toggle-split splitBtn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" [disabled]="enrolGetDisable()<1 || enrolGetDisable()>1">
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <div class="dropdown-menu dropMenu dropMenuEnrol2" aria-labelledby="dropdownMenuButton">
                <ul class="myUl">
                   <span  >
                  <li class="dropdown-item dropItemUsers" (click)="enrolEditUsers(1)">Edit User Employee</li></span>
               <!--    <li [disabled]="editEmployees==false" class="dropdown-item dropItemUsers" (click)="enrolEditUsers(1);">Edit User</li> -->
                  <!-- <li class="dropdown-item dropItemUsers" (click)="getSelectedRowsReg();">Unmark Attendance</li> -->
                </ul>
              </div>
            </div>

            <!-- <div class="btn-group subButGrp" style="" >
              <button type="button" class="btnPad0 btn btn-secondary optbtnNewInd" [disabled]="enrolGetDisable()<2">Mass Actions</button>
              <button type="button" class="btnPad0 btn btn-danger dropdown-toggle dropdown-toggle-split splitBtn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" [disabled]="enrolGetDisable()<2">
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <div class="dropdown-menu dropMenu dropMenuEnrol3" aria-labelledby="dropdownMenuButton">
                <ul class="myUl">
                  <li class="dropdown-item dropItemUsers" (click)="getSelectedRowsReg();">Unmark Attendance</li>
                </ul>
              </div>
            </div> -->
          </div>        
        </div>

        <tabset [pills]="false" class="usersTab" (onSelect)="postfileTab($event)">
          
          <!-- <tab title="" [disabled]="false" [active]= "tab1">
            <span *tabHeading>
              <b> 
                Un-Registered
                <span class="badge badge-light badgeCount">{{unRegRowDataCount}}</span>
              </b> 
            </span> 

            <div>          
              <div class="MainToolBarUsers" style="">
                  <div class="container"  *ngIf = "tabCont1">
                    <angular-slickgrid gridId="grid1"
                              [columnDefinitions]="columnDefinitions"
                              [gridOptions]="gridOptions"
                              [dataset]="unRegDataset"
                              (onAngularGridCreated)="unRegGridReady($event)"
                              (onGridStateChanged)="unRegGridStateChanged($event)"
                              (sgOnSelectedRowsChanged)="unRegHandleSelectedRowsChanged($event.detail.eventData, $event.detail.args)">
                    </angular-slickgrid>
                  </div>
              </div>
            </div> 
          </tab> -->

          <!-- <tab title="" [disabled]="false" [active]= "tab2">
            <span *tabHeading>
              <b> 
                Registered
                <span class="badge badge-light badgeCount">{{regRowDataCount}}</span>
              </b> 
            </span> 

            <div>          
              <div class="MainToolBarUsers" style="">
                  <div class="container"  *ngIf = "tabCont2">
                    <angular-slickgrid gridId="grid2"
                              [columnDefinitions]="columnDefinitions"
                              [gridOptions]="gridOptions"
                              [dataset]="regDataset"
                              (onAngularGridCreated)="regGridReady($event)"
                              (onGridStateChanged)="regGridStateChanged($event)"  
                              (sgOnSelectedRowsChanged)="regHandleSelectedRowsChanged($event.detail.eventData, $event.detail.args)">
                    </angular-slickgrid>

                  </div>

              </div>
            </div> 

          </tab> -->

          <tab title="" [disabled]="false" [active]= "tab3">
            <span *tabHeading>
              <b> 
                Enrolled
                <span class="badge badge-light badgeCount">{{enrolRowDataCount}}</span>
              </b> 
            </span> 

              <div>          
                <!-- <br><br> -->
                <div class="MainToolBarUsers" style="">
                  
                  <div class="container" *ngIf = "tabCont3">
                    <angular-slickgrid gridId="grid3"
                              [columnDefinitions]="columnDefinitions"
                              [gridOptions]="gridOptions"
                              [dataset]="enrolDataset"
                              (onAngularGridCreated)="enrolGridReady($event)"
                              (onGridStateChanged)="enrolGridStateChanged($event)"
                              (sgOnSelectedRowsChanged)="enrolHandleSelectedRowsChanged($event.detail.eventData, $event.detail.args)">
                              <!-- (sgOnRowCountChanged)="refreshStatistics($event.detail.eventData, $event.detail.args)" -->
                              <!--  (onBeforeGridDestroy)="saveCurrentGridState($event)" -->
                    </angular-slickgrid>
                  </div>

              </div>
            </div> 

          </tab>
        </tabset>
 
        <!-- <div class="col-md-12" *ngIf="!gridShow">
          <p class="nodata">No Data Found</p>
        </div> -->

      </div>
    </div>
  </div>
</div>


