<app-subheader [headerConfig]="header" (inputsearch)="search($event)" (addbtn)="bindValueToAddEditForm('add', null)" (backClick)="back()" (Clear)="clear()"></app-subheader>
<div class="tableCompo">
    <ngx-enrol-table *ngIf="!discountedListNotFound" [label]="labels" (clickOnicon)="bindValueToAddEditForm('edit',$event)" [tableData]="tempDisplayList" [pagination]="true">
    </ngx-enrol-table>
    <div *ngIf='tempDisplayList?.length > 0' style="padding: 5px 15px">
        <div>Total: {{ tempDisplayList?.length }}</div>
    </div>
    <ngx-no-data [config]="config" *ngIf="discountedListNotFound"></ngx-no-data>
</div>

<ngx-sidebar-form *ngIf="sidebarForm" (saveBtn)="save(form)" (closeBtn)="cloeSidebar()" (outside)="cloeSidebar()" [sidebarTitle]="titleName" [buttonName]="btnName">
    <form #form="ngForm">
        <div class="form-group">
            <label class="side-form-label ">Name of the Discount Plan<sup>&#x2731;</sup></label>
            <input type="email" class="form-control " required [(ngModel)]="addEditDiscountForm.name" name="name" [ngClass]="{'invalid-form': name.invalid && name.dirty}" #name="ngModel" placeholder="Enter name of the Discount Plan">
            <ng-container *ngIf="(name.invalid && name.dirty)">
                <small class="invalid-msg">Name of the Discount Plan is required</small>
            </ng-container>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label class="side-form-label ">Discount Type<sup>&#x2731;</sup></label>
                <select class="commonSelect custom-select" #discountType="ngModel" required [ngClass]="{'invalid-form': discountType.invalid && discountType.dirty}" [(ngModel)]="addEditDiscountForm.type" name="discountType">
                    <!-- <option value="" selected disabled>Select Discount Type</option>
                    <option *ngFor="let item of discountTypeDropDown" [value]= "item?.id"  >
                      {{item?.Name}}
                    </option> -->
                    <option *ngFor="let item of discountTypeDropDown" [value]= "item?.id" >{{item?.Name}}</option>
                </select>
                <ng-container *ngIf="discountType.invalid && discountType.dirty">
                    <small class="invalid-msg">Discount Type is required</small>
                </ng-container>
            </div>
            <div class="form-group col-md-6">
                <label class="side-form-label ">Discount value <sup>&#x2731;</sup></label>
                <input type="number" class="form-control commonInput" min="0" required [(ngModel)]="addEditDiscountForm.discountValue" name="discountValue" [ngClass]="{'invalid-form': discountValue.invalid && discountValue.dirty}" #discountValue="ngModel" placeholder="Enter Discount Value">
                <ng-container *ngIf="discountValue.invalid && discountValue.dirty">
                    <small class="invalid-msg">Discount Value is required</small>
                </ng-container>
            </div>
        </div>
        <div class="form-group">
            <label class="side-form-label ">Coupon Name <sup>&#x2731;</sup></label>
            <input type="text" class="form-control commonInput" required [(ngModel)]="addEditDiscountForm.couponName" name="couponName" [ngClass]="{'invalid-form': couponName.invalid && couponName.dirty}" #couponName="ngModel" placeholder="Enter Coupan Name">
            <ng-container *ngIf="couponName.invalid && couponName.dirty">
                <small class="invalid-msg">Coupon name is required</small>
            </ng-container>
        </div>
        <div class="form-group">
            <label class="side-form-label ">Coupon Code <sup>&#x2731;</sup></label>
            <input type="text" [(ngModel)]="addEditDiscountForm.couponCode" name="couponCode" required [ngClass]="{'invalid-form': couponCode.invalid && couponCode.dirty}" #couponCode="ngModel" class="form-control " placeholder="Enter Coupan Code">
            <ng-container *ngIf="couponCode.invalid && couponCode.dirty">
                <small class="invalid-msg">Coupon Code is required</small>
            </ng-container>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label class="side-form-label ">Applicable date <sup>&#x2731;</sup></label>
                <input [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" class="form-control commonInput" required [(ngModel)]="addEditDiscountForm.startDate" name="startDate" [ngClass]="{'invalid-form': startDate.invalid && startDate.dirty}" #startDate="ngModel" placeholder="Select Applicable Date">
                <owl-date-time #dt1 [pickerType]="'calendar'"></owl-date-time>
                <ng-container *ngIf="startDate.invalid && startDate.dirty">
                    <small class="invalid-msg">Applicable Date is required</small>
                </ng-container>
            </div>
            <div class="form-group col-md-6">
                <label class="side-form-label ">Expiry date <sup>&#x2731;</sup></label>
                <input [owlDateTime]="dt2" [owlDateTimeTrigger]="dt2" required [min]="addEditDiscountForm.startDate" [(ngModel)]="addEditDiscountForm.expiryDate" name="expiryDate" [ngClass]="{'invalid-form': expiryDate.invalid && expiryDate.dirty}" #expiryDate="ngModel"
                    class="form-control commonInput" placeholder="Select expiry date">
                <owl-date-time #dt2 [pickerType]="'calendar'"></owl-date-time>
                <ng-container *ngIf="expiryDate.invalid && expiryDate.dirty">
                    <small class="invalid-msg">Expiry Date is required</small>
                </ng-container>
            </div>
        </div>
        <div class="form-group">
            <label class="side-form-label ">Coupon Availability (In Days) <sup>&#x2731;</sup></label>
            <input type="number" class="form-control commonInput" min="0" [(ngModel)]="addEditDiscountForm.coupanAvailability" #coupanAvailability="ngModel" required name="coupanAvailability" [ngClass]="{'invalid-form': coupanAvailability.invalid && coupanAvailability.dirty}"
                placeholder="Coupon Availability">
            <ng-container *ngIf="coupanAvailability.invalid && coupanAvailability.dirty">
                <small class="invalid-msg">Coupon Availability is required</small>
            </ng-container>
        </div>
    </form>
</ngx-sidebar-form>
