.add_attribute_master{
  
    .add_attribute_master_top_header_container{
      background: #fff;
      position: sticky;
      top: 4.75rem;
      z-index: 1020;
      .top_header_div_sticky{
        background: #fff;
        display: grid;
        grid-template-columns: 1fr 1fr; 
        height: 50px;
        align-items: center;
        .buttons_div{
          display: grid;
          grid-template-columns: 1fr 1fr; 
        }
      }
    }
    .heding1{
      line-height: 50px;
      margin: auto;
    }

    .floatingbtn{
      margin: auto;
      padding: 0;
      text-align: right;
    }

      
    .mainDiv{
      margin: 0 15px;
    }

    .bottom15{
      margin-bottom: 15px;
    }

    .cellpointr{
      cursor: pointer;
    }

    .sticky-topEnroll {
      position: sticky;
        top: 66px;
        /*z-index: 1090;*/
        z-index: 1040;
    }
    .teamSubdiv2 {
      float: left;
    }

    .floterightbtn {
      float: right;
    }

    .plusIcon{
      margin-right: 8px;
    }

    .mr20{
      margin-left: 20px;
    }

    .atrForm{
      color: #666666;
      width: auto;
      margin: 15px;
      background: #ffffff;
      margin-top: 65px;
    }

    .dropHeight {
      height: 2.5rem !important;
    }

    .noWeight{
    font-weight: normal !important;
    text-transform: capitalize;
    }

    .marTop{
    width: 100%;
    margin: auto;
    margin-top: 20px;
    }


    .skillbtn{
    width: 100%;
    margin: auto;
    padding: 30px;
    }

    .form-control{
    box-shadow: none;
    }
}
