<div class="add_attribute_master">
    <!-- <div class="toprow col-md-12 bottom15 sticky-top">
        <div class="col-md-6 teamSubdiv2" >
          <h3 class="heding1">Add Attribute Master</h3>
        </div>
        <div class="col-md-6 text-right" style="margin-top:7px">       
          <button class="constantbtn-button-blue-left " (click)="onSubmit()">Save</button>   
          <button class="constantbtn-button-blue-right" (click)="addAttr()">Add Attribute</button>
          <button class="constantbtn-button-blue-right" (click)="goBack()" >back</button>     
        </div>
    </div> -->
    <div class="add_attribute_master_top_header_container">
        <div class="top_header_div_sticky content_width">
          <div class="page_title">
            <h4>Attribute Master</h4>
            <!-- <h4 *ngIf="!addAction">Edit Participant</h4> -->
          </div>
  
          <div class="buttons_div">
              <button class="constantbtn-button-blue-left" (click)="gotoAddEdit()" ><i class="ion-plus-round plusIcon"></i>Attributes</button>       
              <button class="back_button" (click)="gotoBack()" >Back</button>
          </div>
        </div>
    </div>
      
      <div class="atrForm" >
        <form [formGroup]="registerForm">
          <div *ngFor='let item of addEditAttr;index as i'>
            <div class="row col-md-12 marTop justify-content-end" *ngFor='let element of item'>
                  <div class="col-md-3 " *ngIf="element.display!=false">
                    <div class="form-group">
                            <label class='noWeight'>ATTRIBUTE</label>
                            <input type="text" formControlName="attribute" class="form-control inputText" [(ngModel)]="element.attribute" [ngClass]="{ 'is-invalid': submitted && f.attribute.errors }" />
                            <div *ngIf="submitted && f.attribute.errors" class="invalid-feedback">
                                <div *ngIf="f.attribute.errors.required">Attribute is required</div>
                            </div>
                        </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                            <label class='noWeight'>SKILL</label>
                            <input type="text" formControlName="skill" class="form-control inputText" [(ngModel)]="element.skill" [ngClass]="{ 'is-invalid': submitted && f.skill.errors }" />
                            <div *ngIf="submitted && f.skill.errors" class="invalid-feedback">
                                <div *ngIf="f.skill.errors.required">Skill is required</div>
                            </div>
                        </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                            <label class='noWeight'>DESCRIPTION</label>
                            <input type="text" formControlName="description" class="form-control inputText" [(ngModel)]="element.description" [ngClass]="{ 'is-invalid': submitted && f.description.errors }" />
                            <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                                <div *ngIf="f.description.errors.required">Description is required</div>
                            </div>
                        </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                            <label class='noWeight'>STATUS</label>
                            <!-- <input type="text" formControlName="status" class="form-control" [(ngModel)]="element.status" [ngClass]="{ 'is-invalid': submitted && f.status.errors }" /> -->
                            <select formControlName="status"[(ngModel)]="element.status"  class="form-control inputText select_field_height" [ngClass]="{ 'is-invalid': submitted && f.status.errors }" >
                  <option *ngFor="let stat of status" [value]="stat.id">{{stat.label}}</option>
                </select>
                            <div *ngIf="submitted && f.status.errors" class="invalid-feedback">
                                <div *ngIf="f.status.errors.required">Status is required</div>
                            </div>
                        </div>
                  </div>
                </div>
                <div class="skillbtn row text-right">
                  <button class="addskill constantbtn-button-blue-left" (click)="addSkill(i)">+ Skill</button>
                </div>
              </div>
      
            </form>
      </div>

</div>

