<!-- <p>
  move-asset-popup works!
</p> -->
<div class="searchBarNew focus ml-auto mb-2" [ngClass]="{ fullserch: showSearchCategory }">
  <i class="fa fa-search search cursor-p" (click)="showSearchCategoryToggel()"></i>
  <i class="fa fa-times close-icon cursor-p" (click)="clearSearchCategory()"></i>
  <input type="text" placeholder="Search..." #reference [(ngModel)]="searchTextCategory" maxlength="20" (keyup)="searchInTree($event)" />
</div>
<app-tree [valueChanged]="valueChanged" [selectedItem]="selectedItem" [trees]="preparedCategoriesList"  (bread)="openDeepyNestedFolder($event)" [showCurrentSelected]= "true" *ngIf="trees"
(getFolders)="passEventToParent('moveFileToFolder', $event)" ></app-tree>

<div *ngIf="categoryNotFound">
  <ngx-no-data [config]="nocategoryFound" >
  </ngx-no-data>
</div>
