.nominee_details {
    .tableRow {
        display: grid;
        grid-template-columns: 1fr 2fr 2fr 2fr;
        // height: 100px;
        text-align: center;
        background: #fff;
        // border-bottom: 1px solid #eee;
        margin-bottom: 20px;
    }
    .tableheadings {
        display: grid;
        grid-template-columns: 1fr 2fr 2fr 2fr;
        text-align: center;
        height: 40px;
        margin: auto;
        font-weight: 600;
        border-bottom: 1px solid #e8e7e7;
        background: var(--colorCommon);
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        color: var(--colorBtnTxt);
    }
    .stepColumn {
        display: grid;
        grid-template-columns: repeat(15, 1fr);
        grid-column-gap: 10px;
        margin: auto 0;
        width: 80%;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    .completedStep {
        background: #56ba56 !important;
        color: #fff !important;
    }
    .rejectedStat {
        background: red !important;
        color: #000 !important;
    }
    .pendingStat {
        background: yellow !important;
        color: #000 !important;
    }
    .evalApproval {
        padding-left: 25px;
    }
    .innerRow {
        height: auto;
        // padding: 15px 0;
        background: #f5f9fc85;
        border-bottom: 1px solid #eee;
    }
    .column {
        margin: auto;
        width: auto;
    }
    .tableCells {
        overflow-y: scroll;
        max-height: 550px;
    }
    .tableFooter {
        background: #fff;
        height: 60px;
    }
    .stepLabel {
        margin: 0;
        line-height: 22px;
        font-size: 16px;
    }
    .stepno {
        width: 35px;
        margin: 5px;
        height: 35px;
        padding: 0;
        background: #c0ddee;
        color: #fff;
        border-radius: 50%;
        border: none;
        outline: none !important;
    }
    .activeStep {
        background: #076ba1;
    }
    .noMargin {
        margin: 0;
    }
    .width100percent {
        width: 100%;
    }
    .rowBorder {
        border-bottom: 1px solid #eee;
    }
    .imgCell {
        padding: 15px;
        text-align: center;
    }
    .pSize_Img {
        width: 120px;
        //   border-radius: 50%;
    }
    .tableData {
        padding: 15px;
        display: table-cell;
        // line-height: 35px;
        // height: 35px;
    }
    .hiddenClass {
        height: 0 !important;
        display: none;
    }
    .tableContent {
        margin: -18px;
    }
    .stepHeader {
        margin: 0;
        padding: 15px 45px;
        background: #edf4f8;
        color: #697f83;
        font-size: 16px;
        border: 1px solid #f4f4f4;
    }
    .BHApprovalGrid {
        width: 95%;
        display: grid;
        grid-template-columns: auto 1fr auto auto auto;
        grid-column-gap: 15px;
        margin: auto;
        font-size: 14px;
        padding-top: 20px;
        color: #45484e;
    }
    .marginAuto {
        margin: auto;
    }
    .margin10 {
        margin: 10px;
    }
    .star-container {
        pointer-events: none;
    }
    .formlabel {
        font-weight: 200;
    }
    .approvedStatus {
        text-align: center;
        // margin: 0;
        padding: 20px;
        width: 90%;
        margin: 30px auto;
        // padding: 20px;
        // margin-top: 30px;
        background: #03a9f41c;
        border-radius: 100px;
    }
    .qno {
        width: 30px !important;
        text-align: center;
    }
    .feedbackTable {
        width: 100%;
    }
    .tablerow {
        height: 50px;
        // border-bottom: 1px solid #ccc;
    }
    .question {
        width: auto;
        min-width: 450px;
        text-align: center;
    }
    .answer {
        width: 300px;
        text-align: center;
    }
    // .scoreBoard{
    //     padding: 0px;
    //     width: 100%;
    // }
    .scoreCard {
        background: #e8f1f8;
        padding: 10px 20px;
        height: 100px;
        width: 170px;
        color: #4d6b71;
        /* display: flex; */
        text-align: center;
        font-size: 20px;
        border-radius: 0;
        margin: auto;
        margin-bottom: 10px;
    }
    .border_bottom {
        border-bottom: 1px solid var(--colorCommon);
    }
    .grid2Cols {
        display: grid;
        grid-template-columns: 5fr 1fr;
        grid-column-gap: 20px;
        padding: 20px;
    }
    .cardtitle {
        width: 100%;
    }
    .tablepadding {
        padding: 20px;
    }
    .webinarForm {
        width: 100%;
        margin: auto;
        display: grid;
        grid-template-columns: 2fr 2fr 2fr 1fr;
        grid-column-gap: 30px;
    }
    .savebtn {
        display: grid;
        grid-template-columns: 2fr 2fr 2fr 1fr;
        grid-column-gap: 30px;
    }
    .approvedTable2 {
        width: 50%;
        margin: 20px auto;
    }
    .cellpadding {
        display: block;
        padding: 0 20px;
    }
    .certifiedTxt {
        line-height: 60px;
        font-size: 22px;
        margin: 0;
        color: #42cb42;
        font-family: inherit;
    }
    .containerRadio {
        display: block;
        position: relative;
        padding-left: 35px;
        // width: 150px;
        cursor: pointer;
        // font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        margin: 0;
        line-height: 30px;
    }
    // /* Hide the browser's default radio button */
    .containerRadio input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        visibility: hidden;
    }
    .flexcol {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
        grid-column-gap: 20px;
        margin: 0;
        align-items: top;
    }
    .form-group {
        margin-bottom: 20px;
    }
    .label-checkbox {
        font-size: 14px;
        //  line-height: 40px;
        color: #313131;
    }
    .container {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    /* Hide the browser's default checkbox */
    .container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }
    /* Create a custom checkbox */
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 18px;
        width: 18px;
        margin: 6px 0 0 0;
        background-color: #fff;
        border: 1px solid #076ba1;
    }
    /* On mouse-over, add a grey background color */
    .container:hover input~.checkmark {
        background-color: #fff;
    }
    /* When the checkbox is checked, add a blue background */
    .container input:checked~.checkmark {
        background-color: #2196f3;
    }
    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }
    /* Show the checkmark when checked */
    .container input:checked~.checkmark:after {
        display: block;
    }
    /* Style the checkmark/indicator */
    .container .checkmark:after {
        left: 5px;
        top: 2px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    .search_div1 {
        position: relative;
        width: 100%;
        margin: auto;
        margin-bottom: 20px;
        .remove_icon {
            position: absolute;
            top: 25%;
            right: 1%;
            cursor: pointer;
        }
    }
}