<div class="nominee_details">
    <div class="mbody modal-body" *ngIf='!noEmpEnrol'>
        <div class="search_div1">
            <input class="form-control search_field ng-untouched ng-pristine ng-valid" name="namw" [(ngModel)]="searchtext" (keyup)="SarchFilter($event, searchtext)" placeholder="Search by name, email" type="text">
            <i aria-hidden="true" class="fa fa-remove remove_icon" (click)="clear()"></i>
        </div>
        <!-- <div class="tableCompo">
            <ngx-enrol-table [label]="notificationLabel" [tableData]="nominees"></ngx-enrol-table>
        </div> -->
        <ngx-no-data *ngIf="nominees?.length==0" [config]="noDataVal"></ngx-no-data>

        <div class="tableheadings" *ngIf="nominees.length!=0">
            <p class="column">ECN No.</p>
            <p class="column">Name</p>
            <p class="column">Contact</p>
            <p class="column">Email</p>
        </div>

        <div class="">
            <div class="rows-Container border_bottom" *ngFor="let row of nominees; let rowIndex = index">
                <div class="tableRow height10">
                    <div class="column">
                        <p class="tableData">{{ row.ecn }}</p>
                    </div>
                    <div class="column">
                        <p class="tableData">{{ row.name }}</p>
                    </div>
                    <div class="column">
                        <p class="tableData">{{ row.phone }}</p>
                    </div>
                    <div class="column">
                        <p class="tableData">{{ row.email }}</p>
                    </div>
                </div>

                <div class="stepColumn">
                    <button class="stepno" (click)="showRowDetail(rowIndex, stepIndex, row, step)" *ngFor="let step of row.finalWf; let stepIndex = index" [ngClass]="{
              activeStep: stepIndex == stepSelected-1 && selectedRow == rowIndex,
              completedStep: step.status == '1',
              rejectedStat: step.status == '0',
              pendingStat: step.status == '2'
            }" [disabled]="!step.clickableType">
            <p class="stepLabel">
              {{ stepIndex + 1 }}
            </p>
          </button>
                </div>

                <div class="rowDetail" *ngIf="showDetail == true && selectedRow == rowIndex">
                    <div class="innerRow">
                        <div class="workflowContent" *ngIf="stepSelected == 1">
                            <p class="stepHeader">Nominee Details :</p>

                            <div class="width100percent">
                                <table class="width100percent">
                                    <tr class="rowBorder">
                                        <th rowspan="5" class="imgCell">
                                            <img src="{{ employee_Detail.profile_pic }}" class="pSize_Img" />
                                        </th>

                                        <td class="tableData">
                                            <p class="noMargin">
                                                Full Name : {{ employee_Detail.name }}
                                            </p>
                                        </td>
                                        <td class="tableData">
                                            <p class="noMargin">
                                                Business : {{ employee_Detail.business }}
                                            </p>
                                        </td>
                                        <td class="tableData">
                                            <p class="noMargin">
                                                Sub Department : {{ employee_Detail.subDept }}
                                            </p>
                                        </td>
                                    </tr>
                                    <tr class="rowBorder">
                                        <td class="tableData">
                                            <p class="noMargin">
                                                Contact No. : {{ employee_Detail.phone }}
                                            </p>
                                        </td>
                                        <!-- <td class="tableData">
                    <p class="noMargin">
                      Alternate Contact No. :
                      {{ employee_Detail.alternate_phone }}
                    </p>
                  </td> -->
                                        <td class="tableData">
                                            <p class="noMargin">
                                                Email Id : {{ employee_Detail.email }}
                                            </p>
                                        </td>
                                    </tr>
                                    <tr class="rowBorder">
                                        <td class="tableData">
                                            <p class="noMargin">
                                                Reporting Manager : {{ employee_Detail.reporting_Manager }}
                                            </p>
                                        </td>
                                        <td class="tableData">
                                            <p class="noMargin">Band : {{ employee_Detail.band }}</p>
                                        </td>
                                        <!-- <td class="tableData">
                    <p class="noMargin">
                      Trained before ? : {{ employee_Detail.trained_before }}
                    </p>
                  </td> -->
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="workflowContent" *ngIf="stepSelected == 2">
                            <div *ngIf="noQuizAttempted">
                                <p class="stepHeader">No quiz attempted yet.</p>
                            </div>
                            <div *ngIf="!noQuizAttempted">
                                <p class="stepHeader">Aptitude Test :</p>

                                <div class="grid2Cols">
                                    <table class="feedbackTable">
                                        <tr class="tablerow">
                                            <td class="qno">Qno.</td>
                                            <td class="question">Question</td>
                                            <td class="answer">Answers</td>
                                        </tr>
                                        <tr *ngFor="let item of fgAssessment; let i = index" class="tablerow">
                                            <td class="qno">{{ i + 1 }}</td>
                                            <td class="question" [innerHTML]="item.qText"></td>
                                            <td class="answer" [innerHTML]="item.formattedAns">{{ item.formattedAns }}</td>
                                        </tr>
                                    </table>

                                    <div class="scoreBoard">
                                        <div class="scoreCard">
                                            <p class="cardtitle">Question</p>
                                            <p>{{ quizData.totalQue }}</p>
                                        </div>

                                        <div class="scoreCard">
                                            <p class="cardtitle">Correct</p>
                                            <p>{{ quizData.correctCount }}</p>
                                        </div>

                                        <div class="scoreCard">
                                            <p class="cardtitle">Incorrect</p>
                                            <p>{{ quizData.wrongCount }}</p>
                                        </div>

                                        <div class="scoreCard">
                                            <p class="cardtitle">Score</p>
                                            <p>{{ quizData.scoreCount }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="workflowContent" *ngIf="stepSelected == 3">
                            <p class="stepHeader">GBH Approval Status :</p>
                            <div class="">
                                <form class="BHApprovalGrid" *ngIf="!BHApproved.status" #bhForm="ngForm">
                                    <div class="">
                                        <label class="formlabel">Approver Name: </label>
                                        <p class="approverName">{{ BHApproved.BHName }}</p>
                                    </div>
                                    <div class="">
                                        <div class="form-group  col-md-12">
                                            <label class="formlabel" for="comments">Comments</label>
                                            <div class="nominationfullwidth">
                                                <textarea rows="2" class="form-control comments" #comments="ngModel" name="comments" [(ngModel)]="BHApproved.comments" id="comments" placeholder="Write your comments" style="resize: none" required></textarea>
                                            </div>

                                            <div [hidden]="comments.valid || comments.pristine" class="alert alert-danger">
                                                <div [hidden]="!comments.hasError('required')">
                                                    Enter comments
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="margin10 col-md-12">
                                            <button class="constantbtn-button-blue-left" [disabled]="!bhForm.form.valid" (click)="onapprove(row, BHApproved, 1)">
                      Approve
                    </button>
                                        </div>
                                        <div class="margin10 col-md-12">
                                            <button class="constantbtn-button-blue-left" [disabled]="!bhForm.form.valid" (click)="onapprove(row, BHApproved, 0)">
                      Reject
                    </button>
                                        </div>
                                    </div>

                                    <!-- <div class="marginAuto">
                        <button class="constantbtn" [disabled]="!bhForm.form.valid" (click)="onapprove(3)">Reject</button>
                      </div> -->
                                </form>
                                <div *ngIf="BHApproved.status">
                                    <p class="approvedStatus" *ngIf="BHApproved.approveStatus == 1">
                                        Approved by {{ BHApproved.BHName }} on {{ BHApproved.onDate }} at {{ BHApproved.onTime }}
                                    </p>
                                    <p class="approvedStatus" *ngIf="BHApproved.approveStatus == 0">
                                        Rejected by {{ BHApproved.BHName }} on {{ BHApproved.onDate }} at {{ BHApproved.onTime }}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- *ngIf="stepSelected == 4" -->
                        <div class="workflowContent" *ngIf="stepSelected == 4">
                            <p class="stepHeader">Admin Approval Status :</p>
                            <div class="">
                                <form class="BHApprovalGrid" *ngIf="!adminaprove.status" #adminForm="ngForm">
                                    <div class="">
                                        <label class="formlabel">Approver Name: </label>
                                        <p class="approverName">{{ adminaprove.username }}</p>
                                    </div>
                                    <div class="">
                                        <div class="form-group  col-md-12">
                                            <label class="formlabel" for="comments">Comments</label>
                                            <div class="nominationfullwidth">
                                                <textarea rows="2" class="form-control comments" #comments="ngModel" name="comments" [(ngModel)]="adminaprove.comments" id="comments" placeholder="Write your comments" style="resize: none" required></textarea>
                                            </div>

                                            <div [hidden]="comments.valid || comments.pristine" class="alert alert-danger">
                                                <div [hidden]="!comments.hasError('required')">
                                                    Enter comments
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="margin10 col-md-12">
                                            <button class="constantbtn-button-blue-left" [disabled]="!adminForm.form.valid" (click)="onadminapprove(row, adminaprove, 1)">
                      Approve
                    </button>
                                        </div>
                                        <div class="margin10 col-md-12">
                                            <button class="constantbtn-button-blue-left" [disabled]="!adminForm.form.valid" (click)="onadminapprove(row, adminaprove, 0)">
                      Reject
                    </button>
                                        </div>
                                    </div>

                                    <!-- <div class="marginAuto">
                        <button class="constantbtn" [disabled]="!bhForm.form.valid" (click)="onapprove(3)">Reject</button>
                      </div> -->
                                </form>
                                <div *ngIf="adminaprove.status">
                                    <p class="approvedStatus" *ngIf="adminaprove.approveStatus == 1">
                                        Approved by {{ adminaprove.username }} on {{ adminaprove.onDate }} at {{ adminaprove.onTime }}
                                    </p>
                                    <p class="approvedStatus" *ngIf="adminaprove.approveStatus == 0">
                                        Rejected by {{ adminaprove.username }} on {{ adminaprove.onDate }} at {{ adminaprove.onTime }}
                                    </p>
                                </div>
                            </div>
                        </div>






                        <!-- <div class="workflowContent" *ngIf="stepSelected == 9">
                  <p class="stepHeader"></p>
                </div>

                <div class="workflowContent" *ngIf="stepSelected == 10">
                  <p class="stepHeader"></p>
                </div>


                <div class="workflowContent" *ngIf="stepSelected == 11">
                  <p class="stepHeader"></p>
                </div> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="tableFooter"></div>
    </div>
    <!-- <ngx-no-data *ngIf="noEmpEnrol" [config]="noDataVal"></ngx-no-data> -->
</div>