

// .trHeader {
//     text-align: center;
//     text-transform: uppercase;
//     font-weight: 500;
//     padding: 8px;
//     background-color: #2574a2
// }

// .btn:hover {
//     transform: none;
// }

// #btnAdd:hover {
//     background: #076ba1;
//     background-color: #076ba1;
// }

// #btnBackHover:hover {
//     background: #FF0000;
//     background-color: #FF0000;
// }

// .btnAddCategory {
//     margin: 10px  ;
//     border-radius: 0px;
//     background: #076ba1;
//     background-color: #076ba1;
//     transform: none;
//     color: white;
//     height: 37px;
//     //padding: 5px;
//     margin-right: 5px;
//     border-color: #076ba1;
//     transform: none;
// }

// .btnBack {
//     border-radius: 0px;
//     background: #076ba1;
//     //padding: 5px;
//     height: 37px;
//     margin: 10px  ;
//     color: white;
//     transform: none  ;
// }

// #noMatch {
//     margin: 10px;
//     text-align: center;
//     border-radius: 15px;
//     border: 1px solid #076ba1;
//     padding: 20px;
// }


/* Center the loader */

// #loader {
//     position: absolute;
//     left: 50%;
//     top: 70%;
//     z-index: 1;
//     width: 150px;
//     height: 150px;
//     margin: -75px 0 0 -75px;
//     border: 16px solid #076ba1;
//     border-radius: 50%;
//     border-top: 16px solid #ffffff;
//     /* border: 16px solid #f3f3f3; Light grey */
//     /* border-top: 16px solid #3498db; Blue */
//     width: 120px;
//     height: 120px;
//     -webkit-animation: spin 2s linear infinite;
//     animation: spin 2s linear infinite;
// }

// @-webkit-keyframes spin {
//     0% {
//         -webkit-transform: rotate(0deg);
//     }
//     100% {
//         -webkit-transform: rotate(360deg);
//     }
// }

// @keyframes spin {
//     0% {
//         transform: rotate(0deg);
//     }
//     100% {
//         transform: rotate(360deg);
//     }
// }


// /* Add animation to "page content" */

// .animate-bottom {
//     position: relative;
//     -webkit-animation-name: animatebottom;
//     -webkit-animation-duration: 1s;
//     animation-name: animatebottom;
//     animation-duration: 1s
// }

// @-webkit-keyframes animatebottom {
//     from {
//         bottom: -100px;
//         opacity: 0
//     }
//     to {
//         bottom: 0px;
//         opacity: 1
//     }
// }

// @keyframes animatebottom {
//     from {
//         bottom: -100px;
//         opacity: 0
//     }
//     to {
//         bottom: 0;
//         opacity: 1
//     }
// }

@import '../../../../@theme/styles/variable.scss';
.blended_category_div{
    .content_width{
        width: 78vw;
        margin: 0 auto;
    }
    // .overflow_scroll_container_blended_category{
    //   overflow-y: auto;
    //   height: calc(100vh - 7.8rem);
    // }
    .top_header_container{
        background: #fff;
        position: sticky;
        top: 4.75rem;
        z-index: 1020;
        .top_header_div_sticky{
            background: #fff;
            display: grid;
            grid-template-columns: 2fr 4fr 3fr;
            height: 50px;
            align-items: center;
            .page_title{
                text-align: left;
                h4{
                    margin: 0;
                }
            }
            .search_div{
                display: grid;
                grid-template-columns: auto 20px;
                border: 1px solid $border_color;
                .search_field{
                    height: 30px;
                    border: none;
                    box-shadow: none;
                    padding: 10px;
                }
                .remove_icon{
                    line-height: 30px;
                }
            }
            .buttons_div{
                text-align: right;
            }
        }
    }

    .multiple_category_card_container{
        background:$background_for_card_container;
        margin: 20px auto;
        width: 95%;
        // margin: auto;
        .cards_container{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-column-gap: 30px;
            grid-row-gap: 30px;
            .singel_card{
                position: relative;
                background: #fff;
                text-align: center;
                box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
                border-radius: 10px;
                .overlay_hidden{
                    position: absolute;
                    background: rgba(0, 0, 0, 0.5);
                    height: 100%;
                    width: 100%;
                    display: grid;
                    align-items: center;
                    font-size: 30px;
                    color: #fff;
                    border-radius: 10px;
                    i{
                        cursor: pointer;
                    }
                }
                // border-bottom-left-radius: 10px ;
                // border-bottom-right-radius: 10px;
                // box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
                .singel_card_image{
                   border-top-left-radius: 10px ;
                   border-top-right-radius: 10px;
                   height: 150px;
                   width: 100%;
                   background-position: center;
                   background-size: cover;
                //    background
                }
                .card_title{
                    padding: 10px  ;
                    border-top: 1px solid $border_color;
                    border-bottom: 1px solid $border_color;
                    color: #000;
                    font-size:$font_size_for_cards;
                }
                .card_subtitle{
                    font-size: 14px;
                    padding: 10px  ;
                    // border-top: 1px solid #F1F5F8;
                    border-bottom: 1px solid $border_color;
                    color: #000;
                }
                .user-icon{
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    height: 40px;
                    align-items: center;

                    .icons-enable-disable{
                        border-right: 1px solid $border_color;
                        color: $icon_font_color;
                        font-size: 20px;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }

                .content-icons{
                    text-align: center;
                    border-bottom: 1px solid $border_color;
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    align-items: center;
                }

                .para_margin_0{
                    margin: 0;
                }

            }
            .not_found{
                background-image:url('assets/images/category.jpg');
            }

        }
    }


    .pointer {
        cursor: pointer;
    }

    .notFoundPage {
        display: inline-block;
        width: 100%;
        padding: 10px;
        height: 100%;
    }
    .multiple_blendCategory_card_container1{
        background:$background_for_card_container;
        margin: 10px 0px 30px 20px;
        width: 95%;
        // margin: auto;
        .blendCategory_container1{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-column-gap: 30px;
            grid-row-gap: 30px;
            .blendCategory_card1{
                position: relative;
                background: #fff;
                text-align: center;
                box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
                border-radius: 10px;
            }
        }
    }

 // .blendCategory {
  //   margin-top: 10px;
  //   width: 60px;
  //   // height: 90px;
  // }
  .blendCategory-title {
    // width: 100px;
    // padding: 16px 25px 0px;
    // height: 80px;
     margin-top: 5px;
  }
  .blendCategory_width1{
    width: 1000px;
    margin: 19px 10px 20px 6px;
  }
  /// new structure
  $black-color: #000000b8;
  $border: 1px solid #d1d1d1;
  @mixin folder {
      border-radius: 4px;
      color: $black-color;
      background: #ffffff;
      letter-spacing: 0.1px;
      border: 0.5px solid #d1d1d1;
      &--icon {
        font-size: 20px;
        color: #5f6368;
        padding: 8px 12px;
      }
      &--text {
        font-size: 13px;
        font-weight: 500;
        overflow: hidden;
        user-select: none;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: calc(100% - 58px);
        -webkit-touch-callout: none;
        text-transform: capitalize;
      }
    }
  .dam-content {
    //   overflow-y: auto;
    //   overflow-x: hidden;
      border-left: $border;
      height: calc(100vh - 7.9rem);
      &--folders {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20%, 219px));
        .folders-section {
          .folder {
            @include folder;
            .hover-content {
              top: 41px;
              z-index: 1;
              width: 100%;
              padding: 10px;
              margin-top: 6px;
              border-radius: 4px;
              background: #ffffff;
              border: 0.5px solid #d1d1d1;
              box-shadow: 0px 4px 6px #0000004a;
              h4 {
                font-size: 14px;
                font-weight: 600;
              }
              p {
                font-size: 13px;
                line-height: 1.5;
              }
            }
            .window-top {
              bottom: 45px;
              top: inherit !important;
              box-shadow: 0px -3px 6px #00000028 !important;
            }
          }
          .disable {
            text-decoration: line-through;
            background: rgba(105, 110, 115, 0.67);
            color: #000000;
            i {
              font-size: 18px;
            }
          }
        }
        .active-folder {
          background: #e1ebf4;
        }
      }
      &--files {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(21%, 242px));
        .file-section {
          .file {
            @include folder;
            min-height: 200px;
            &--img {
              left: 50%;
              top: 42%;
              font-size: 60px;
              transform: translate(-50%, -50%);
            }
            .inner-file {
              bottom: 0;
              width: 100%;
            }
          }
          .disable {
            background: rgba(105, 110, 115, 0.67);
            .inner-file {
              text-decoration: line-through;
            }
          }
        }
      }
    }

    .duplicateModalBackdrop {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        z-index: 1503;
        background-color: #404040c2;
        .duplicateModal {
            width: 50%;
            margin: auto;
            background-color: #fff;
            margin-top: 65px;
            border-radius: 5px;
        }
    }
    .duplicateModalHeader {
        /* padding: 8px; */
        background: #076ba1;
        color: #fff;
    }
    .duplicateModalHeaderP {
        margin-bottom: 0;
    }
    // .duplicateModalBtn {
    //     width: auto  ;
    //     border: none;
    //     padding: 6px 14px  ;
    //     background-color: #076ba1  ;
    //     color: #fff  ;
    //     text-transform: uppercase  ;
    //     /* min-width: 90px  ; */
    //     max-height: 36px  ;
    //     // max-height: 29px  ;
    //     &:disabled {
    //         background-color: #076ba14a  ;
    //     }
    // }
    // .duplicateModalHeader {
    //     /* padding: 8px; */
    //     background: #076ba1;
    //     color: #fff  ;
    // }
    // .duplicateModalHeaderP {
    //     margin-bottom: 0;
    // }
    .duplicateModalBtn {
        width: auto;
        border: none;
        padding: 6px 14px;
        background-color: #076ba1;
        color: #fff;
        text-transform: uppercase;
        /* min-width: 90px  ; */
        max-height: 36px;
        // max-height: 29px  ;
        &:disabled {
            background-color: #076ba14a;
        }
    }
    // .duplicateModalBodyP {
    //     // margin-bottom: 0;
    //     color: #000;
    // }
    .closeDuplicateModalBtn {
        color: #fff;
    }
    .duplicateModalFooter {
        padding: 10px;
    }
  /// end new structure
}
.image_upload_container {
    // margin-top: 15px;
    .image_preview {
        height: 170px;
        width: 300px;
        margin-right: auto;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
        padding: 10px;
        background: #fff9f9;
        position: relative;
        .image_preview_container {
            height: 150px;
            width: 100%;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            display: grid;
            grid-template-columns: 1fr 1fr;
            // position: absolute;
            grid-column-gap: 20px;
            align-items: end;
            // margin-top: -10px;
            // img{
            //   width: 100%;
            //   height: 100%;
            // }
            .icon_upload_image {
                // text-align: right;
                // margin-left: auto;
                margin-left: 10px;
                margin-bottom: 10px;
                label {
                    display: flex;
                    align-items: center;
                    // align-content: 
                    justify-content: center;
                    // justify-items: center;
                    background: #fff;
                    // color: #076ba1;
                    color: var(--colorIcons) !important;
                    height: 40px;
                    width: 40px;
                    border-radius: 50%;
                    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
                    margin-bottom: 0;
                    padding: 0;
                    i {
                        line-height: 40px;
                    }
                }
                // margin: 0 auto;
            }
            .icon_delete {
                // text-align: right;
                // margin-right: auto;
                margin-left: auto;
                margin-right: 10px;
                margin-bottom: 10px;
                display: flex;
                align-items: center;
                // align-content: 
                justify-content: center;
                // justify-items: center;
                background: #fff;
                color: #076ba1;
                height: 40px;
                width: 40px;
                border-radius: 50%;
                box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
                // margin: 0;
                padding: 0;
                i {
                    line-height: 40px;
                }
            }
            //   .buttons_image_preview{
            //     // display: grid;
            //     // grid-template-columns: 1fr 1fr;
            //     // // position: absolute;
            //     // grid-column-gap: 20px;
            //     // align-items: end;
            //     // margin-top: -10px;
            // }
        }
    }
}