<div class="blended_category_div">
    <!-- <div class="top_header_container">
        <div class="top_header_div_sticky content_width">
            <div class="page_title">
                <h4>BLENDED CATEGORY</h4>
            </div>

            <div>
                <div class="filter_div"> -->
    <!-- <div class="drop_down">
                                <select [(ngModel)]="cat.id" class="form-control drop_down_select" name="id" (click)="doropserch()">
                                    <option value = "">All Categories</option>
                                    <option *ngFor="let item of parentcat" value={{item.categoryId}} >{{item.categoryName}}</option>
                                </select>
                            </div> -->
    <!-- <div class="search_div">
                        <input type="text" [(ngModel)]="search.categoryName" class="search_field" placeholder="Search by category Name" name="namw" [disabled]="notFound">
                        <i class="fa fa-remove remove_icon" aria-hidden="true" (click)="clear()"></i>
                    </div>
                </div>
            </div>

            <div class="buttons_div">
                <button type="button" class="constantbtn-button-blue-left " (click)="addeditccategory(undefined,0)" [disabled]="notFound">Add Category</button>
                <button type="submit" class="back_button " (click)="back()">Back</button>
            </div>
        </div>
    </div> -->

    <app-subheader [headerConfig]="header" (inputsearch)="searchData($event)" (addbtn)="addeditccategory(undefined,0)" (Clear)="clear()"(btnone)= "addeditcontent(undefined,0)" (comeBack)="breadcrumbNavigate($event)"(filterClick)="gotoFilter()" (backClick)="back()"></app-subheader>
    <ngx-filter [courseTag]="filters" [filterInnertag]="filtersInner" (dropdownClick)="getSortData($event)"[filterConfig]="filtercon" (changeFilterData)="filteredChanged($event)"   *ngIf="filter" [clearData]="filterClearData"></ngx-filter>


    <!-- <table *ngIf="!skeleton">
        <tr>
            <div class="multiple_blendCategory_card_container1">
                <div class="blendCategory_width1">
                    <div class="blendCategory_container1">
                        <td>
                            <div class="blendCategory_card1">
                                <div class="blendCategory">
                                    <ngx-skeleton-loader [theme]="{ width: '215px', height: '145px','margin': '5px' }">
                                    </ngx-skeleton-loader>
                                </div>
                                <div class="blendCategory-title">
                                    <ngx-skeleton-loader [theme]="{
                                                    width: '170px',
                                                    height: '40px'
                                                  }"></ngx-skeleton-loader>
                                </div>
                                <div class="blendCategory-title">
                                    <ngx-skeleton-loader [theme]="{
                                                    width: '170px',
                                                    height: '40px'
                                                  }"></ngx-skeleton-loader>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="blendCategory_card1">
                                <div class="blendCategory">
                                    <ngx-skeleton-loader [theme]="{ width: '215px', height: '145px','margin': '5px' }">
                                    </ngx-skeleton-loader>
                                </div>
                                <div class="blendCategory-title">
                                    <ngx-skeleton-loader [theme]="{
                                                    width: '170px',
                                                    height: '40px'
                                                  }"></ngx-skeleton-loader>
                                </div>
                                <div class="blendCategory-title">
                                    <ngx-skeleton-loader [theme]="{
                                                    width: '170px',
                                                    height: '40px'
                                                  }"></ngx-skeleton-loader>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="blendCategory_card1">
                                <div class="blendCategory">
                                    <ngx-skeleton-loader [theme]="{ width: '215px', height: '145px','margin': '5px'}">
                                    </ngx-skeleton-loader>
                                </div>
                                <div class="blendCategory-title">
                                    <ngx-skeleton-loader [theme]="{
                                                    width: '170px',
                                                    height: '40px'
                                                  }"></ngx-skeleton-loader>
                                </div>
                                <div class="blendCategory-title">
                                    <ngx-skeleton-loader [theme]="{
                                                    width: '170px',
                                                    height: '40px'
                                                  }"></ngx-skeleton-loader>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="blendCategory_card1">
                                <div class="blendCategory">
                                    <ngx-skeleton-loader [theme]="{ width: '215px', height: '145px','margin': '5px'}">
                                    </ngx-skeleton-loader>
                                </div>
                                <div class="blendCategory-title">
                                    <ngx-skeleton-loader [theme]="{
                                                    width: '170px',
                                                    height: '40px'
                                                  }"></ngx-skeleton-loader>
                                </div>
                                <div class="blendCategory-title">
                                    <ngx-skeleton-loader [theme]="{
                                                    width: '170px',
                                                    height: '40px'
                                                  }"></ngx-skeleton-loader>
                                </div>
                            </div>
                        </td>
                    </div>
                </div>
            </div>
        </tr>
        <tr>
            <div class="multiple_blendCategory_card_container1">
                <div class="blendCategory_width1">
                    <div class="blendCategory_container1">
                        <td>
                            <div class="blendCategory_card1">
                                <div class="blendCategory">
                                    <ngx-skeleton-loader [theme]="{ width: '215px', height: '145px','margin': '5px'}">
                                    </ngx-skeleton-loader>
                                </div>
                                <div class="blendCategory-title">
                                    <ngx-skeleton-loader [theme]="{
                                                        width: '170px',
                                                        height: '40px'
                                                      }"></ngx-skeleton-loader>
                                </div>
                                <div class="blendCategory-title">
                                    <ngx-skeleton-loader [theme]="{
                                                        width: '170px',
                                                        height: '40px'
                                                      }"></ngx-skeleton-loader>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="blendCategory_card1">
                                <div class="blendCategory">
                                    <ngx-skeleton-loader [theme]="{ width: '215px', height: '145px','margin': '5px'}">
                                    </ngx-skeleton-loader>
                                </div>
                                <div class="blendCategory-title">
                                    <ngx-skeleton-loader [theme]="{
                                                        width: '170px',
                                                        height: '40px'
                                                      }"></ngx-skeleton-loader>
                                </div>
                                <div class="blendCategory-title">
                                    <ngx-skeleton-loader [theme]="{
                                                        width: '170px',
                                                        height: '40px'
                                                      }"></ngx-skeleton-loader>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="blendCategory_card1">
                                <div class="blendCategory">
                                    <ngx-skeleton-loader [theme]="{ width: '215px', height: '145px','margin': '5px'}">
                                    </ngx-skeleton-loader>
                                </div>
                                <div class="blendCategory-title">
                                    <ngx-skeleton-loader [theme]="{
                                                        width: '170px',
                                                        height: '40px'
                                                      }"></ngx-skeleton-loader>
                                </div>
                                <div class="blendCategory-title">
                                    <ngx-skeleton-loader [theme]="{
                                                        width: '170px',
                                                        height: '40px'
                                                      }"></ngx-skeleton-loader>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="blendCategory_card1">
                                <div class="blendCategory">
                                    <ngx-skeleton-loader [theme]="{ width: '215px', height: '145px','margin': '5px'}">
                                    </ngx-skeleton-loader>
                                </div>
                                <div class="blendCategory-title">
                                    <ngx-skeleton-loader [theme]="{
                                                        width: '170px',
                                                        height: '40px'
                                                      }"></ngx-skeleton-loader>
                                </div>
                                <div class="blendCategory-title">
                                    <ngx-skeleton-loader [theme]="{
                                                        width: '170px',
                                                        height: '40px'
                                                      }"></ngx-skeleton-loader>
                                </div>
                            </div>
                        </td>
                    </div>
                </div>
            </div>
        </tr>
    </table> -->
    <app-skeleton [count]='count' *ngIf="!skeleton"></app-skeleton>


    <div *ngIf="!notFound">
        <!-- [ngStyle]="{ height: conentHeight }" style="overflow-y: auto" -->
        <div (scroll)="onScroll(scrollMe)" #scrollMe class="overflow_scroll_cards_container" *ngIf = "skeleton">
            <div *ngIf = "showOld == true">
            <div *ngFor="let item of displayArray |filterBy: search;let i=index">
                <ngx-card (disabled)="clickTodisable(item,i)" [cardsList]="item" [config]="cardModify" (sectionEdit)="addeditccategory(item, 1)" (gotoDetails)="gotoCardDetails(item)"></ngx-card>
            </div>
        </div>
            <!-- //new structure -->
            <div class="dam-content p-2">
                <ng-container *ngIf="!showContentBoxSpinner">
                  <!-- <label class="label-name" *ngIf="displayArray?.length>0">Folders</label> -->
                  <div class="dam-content--folders" style="padding:8px;" *ngIf="displayArray?.length>0 && showOld == false">
                      <div class="folders-section p-2"  *ngFor="let item of displayArray;let i = index;"
                          (click)="getAllSubCat(item)"
                          [contextMenu]="folderMenu" [contextMenuSubject]="item" #iconFolder
                          (mouseenter)="mouseup(i, item)" (mouseleave)="mousedown(i)">
                          <div class="folder d-flex align-items-center position-relative cursor-p"
                              [ngClass]="{'active-folder': activeFolder, 'disable': item.visible == 0}">
                              <span class="folder--icon">
                                  <i *ngIf="item.visible == 1" class="fa fa-folder"></i>
                                  <i *ngIf="item.visible == 0"  class="fa fa-eye-slash" title="Enable"></i>
                              </span>
                              <span class="folder--text" title={{item.categoryName}}>{{ item.categoryName }}</span>
                              <div class="hover-content position-absolute" *ngIf="item.isHoverDesc == 1 && item.description" #hover>
                                  <p class="m-0 text-break">{{ item?.description }}</p>
                                  <!-- <h4 class="text-break ">Course Count:{{ item?.coursecount }}</h4> -->
                                  <p class="m-0 text-break ">Course Count: {{ item?.coursecount }}</p>
                              </div>
                          </div>
                          <context-menu #folderMenu [menuClass]="'context-dropdown'">
                            <ng-template contextMenuItem (execute)="contextItem($event,list)">
                                
                                  <span (click)="View('Edit','')"><i class="fa fas fa-folder"></i>Edit </span>
                                  <span (click)="View('Enable',i)" *ngIf="item?.visible == 0 || item?.isVisibility == 1"><i
                                          class="fas fa-eye"></i>Enable</span>
                                  <span (click)="View('Disable',i)" *ngIf="item?.visible == 1 || item?.isVisibility == 1"><i
                                          class="fas fa-eye-slash"></i>Disable</span>
                                  
                              </ng-template>
                        </context-menu>
                      </div>
                  </div>
                  <div  *ngIf= "courseList?.length>0 && showOld == false">
                    <div *ngFor="let item of courseList;let i=index">
          <ngx-card (disabled)="clickTodisableBatch(item,i)" [cardsList]="item" [config]="cardModifyCourse" (copyClick)="copyCard(item)" (sectionEdit)="addeditccategory(item,1)" (gotoDetails)="gotoCardaddedit(item)"></ngx-card>
      </div>
    </div>
          
                  <label class="label-name" *ngIf="files?.length>0">Files</label>
                  <div class="dam-content--files" *ngIf="files?.length>0">
                      <div class="file-section cursor-p p-2" *ngFor="let item of files;let i = index" (click)="onlyEdit(item)"
                          >
                          <div class="file position-relative" [ngClass]="{ 'disable': item.visible == 0 }">
                              <div class="file--img position-absolute">
                                  <i class={{item.formatIcon}}></i>
                              </div>
                              <div class="inner-file position-absolute d-flex align-items-center">
                                  <span class="file--icon" *ngIf="item.visible == 0"><i class="fa fa-eye-slash"></i></span>
                                  <span class="file--icon" *ngIf="!item.visible == 0"><i class={{item.formatIcon}}></i></span>
                                  <span class="file--text" title={{item.assetName}}>{{ item.assetName }}</span>
                              </div>
                          </div>
                          
                      </div>
                  </div>
                </ng-container>
                <ng-container *ngIf="showContentBoxSpinner">
                  <div class="content_spinner">
                    <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
                  </div>
          
                </ng-container>
                  <!-- <div *ngIf="(folder?.length==0 && files.length == 0) && !showSpinner && !showContentBoxSpinner">
                      <ngx-no-data [config]="noDataVal"></ngx-no-data>
                  </div> -->
              </div>

              <div class="duplicateModalBackdrop" *ngIf="duplicateCourseModal == true">
                <div class="duplicateModal">
                    <div class="modal-header duplicateModalHeader">
                        <p class="duplicateModalHeaderP">Duplicate course {{duplicateCourseData.fullname}}</p>
                        <button class="close closeDuplicateModalBtn" aria-label="Close" (click)="closeDuplicateCourseModal()">
                          <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
            
                    <div class="modal-body" style="max-height: 375px;overflow-y: auto;">
                        <div class="card cardForm">
                            <div class="card-body cardBody">
                                <form class="forms-sample formPad10" #courseDupliForm="ngForm">
                                    <div class="courseBasicDetailsContainer">
                                        <div class="form-group">
                                            <label class="left_space" for="fullname">Full Name</label>
                                            <input type="text" class="form-control form-control-input select_field_height inputText" [(ngModel)]="formDataCourse.fullname" required id="fullname" maxlength="50" placeholder="Full Name" name="fullname" #fullname="ngModel">
                                            <div class="errorMsg" [hidden]="fullname.valid || fullname.pristine" class="required_msg_text">
                                                <small class="form-text text-muted" [hidden]="!fullname.hasError('required')">Full Name is required</small>
                                            </div>
                                            <span></span>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
            
                    <div class="modal-footer duplicateModalFooter">
                        <div class="">
                            <button type="button" class="constantbtn-button-blue-left" (click)="duplicateCourseAction(true)" [disabled]="!courseDupliForm.valid">Duplicate</button>
                        </div>
                        <div class="">
                            <button type="button" class="constantbtn-button-blue-right" (click)="duplicateCourseAction(false)">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
              <!-- // End new Structure -->
        </div>
    </div>



    <!-- <div *ngIf="category?.length == 0 && courseList?.length == 0 ">

        <ngx-no-data [config]="noDataVal"></ngx-no-data>
    </div> -->

    <div *ngIf="notFound">
        <!-- <ngx-not-found></ngx-not-found> -->
        <ngx-no-data [config]="noDataVal"></ngx-no-data>
    </div>

    <div class="deleteModalBackdrop" *ngIf="deleteCategoryModal == true">
        <div class="deleteModal">
            <div class="modal-header deleteModalHeader">
                <p class="deleteModalHeaderP">Delete category</p>
                <button class="close closeDeleteModalBtn" aria-label="Close" (click)="closeDeleteCategoryModal()">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>

            <div class="modal-body">
                <div class="">
                    <p class="deleteModalBodyP">Are you sure you want to delete {{deleteCatData.categoryName}} ?</p>
                </div>
            </div>

            <div class="modal-footer deleteModalFooter">
                <div class="">
                    <button type="button" class="constantbtn-button-blue-left" (click)="deleteCategoryAction(true)">Yes</button>
                </div>
                <div class="">
                    <button type="button" class="constantbtn-button-blue-right" (click)="deleteCategoryAction(false)">No</button>
                </div>
            </div>
        </div>
    </div>


    <div class="deleteModalBackdrop" *ngIf="enableDisableCategoryModal == true">
        <div class="deleteModal">
            <div class="modal-header deleteModalHeader">
                <p *ngIf="!enableCat" class="enableDisableModalHeaderP">Enable category</p>
                <p *ngIf="enableCat" class="enableDisableModalHeaderP">Disable category</p>
                <button class="close closeDeleteModalBtn" aria-label="Close" (click)="closeEnableDisableCategoryModal()">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>

            <div class="modal-body">
                <div class="" *ngIf="!enableCat">
                    <p class="enableDisableModalBodyP">Are you sure you want to Enable {{enableDisableCategoryData.categoryName}} ?</p>
                </div>
                <div class="" *ngIf="enableCat">
                    <p class="enableDisableModalBodyP">Are you sure you want to Disable {{enableDisableCategoryData.categoryName}} ?</p>
                </div>
            </div>

            <div class="modal-footer deleteModalFooter">
                <div class="">
                    <button type="button" class="constantbtn-button-blue-left" (click)="enableDisableCategoryAction(true)">Yes</button>
                </div>
                <div class="">
                    <button type="button" class="constantbtn-button-blue-right" (click)="enableDisableCategoryAction(false)">No</button>
                </div>
            </div>
        </div>
    </div>
</div>

<ngx-sidebar-form *ngIf="sidebarForm" (saveBtn)="submit(categoryForm)" (closeBtn)="cloeSidebar()" (outside)="cloeSidebar()" [sidebarTitle]="titleName" [buttonName]="btnName">
    <form #form="ngForm">

        <div class="inside_form_container">

            <div class="form_grid">

                <div class="left_form_container">
                    <div class="form_container">
                        <form #categoryForm="ngForm">
                            <div class="form-group form_field_container">
                                <label class="space_left side-form-label" for="catna">{{helpContent?.blended_courses_AddEditCategoryContent?.name?.label}} <sup *ngIf="helpContent?.blended_courses_AddEditCategoryContent?.name?.isMandatory">&#x2731;</sup>
                                    <!-- <sup>&#x2731;</sup> -->
                                  <app-info-tooltip  [description]="helpContent?.blended_courses_AddEditCategoryContent?.name?.labelHelpContent"></app-info-tooltip>
     
                                    <!-- <div class="help-tooltip">
                                        <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                                       
                                        <div class="help-tooltip-position-right">
                                            <p>{{helpContent?.blended_courses_AddEditCategoryContent?.name?.labelHelpContent}}
                                            </p>
                                            <i></i>
                                        </div>
                                    </div> -->
                                </label>

                                <input type="text" class="form-control commonInput" id="catna" minlength="2" maxlength="50" [(ngModel)]="formdata.categoryName" required placeholder="Max 50 characters." name="categoryName" #categoryName="ngModel" ngDefaultControl>
                                <div *ngIf="categoryName.errors && (categoryName.dirty || categoryName.touched)">
                                    <small class="invalid-msg" [hidden]="!categoryName.errors.required">Category Name is required</small>
                                    <small class="invalid-msg" [hidden]="!categoryName.errors.minlength">Minimum 2 characters required</small>
                                </div>
                                <span></span>
                            </div>

                            <!-- new -->
                            <div class="form-group form_field_container">
                                <label class="space_left side-form-label" for="catcode">{{helpContent?.courses_AddEditCategoryContent?.code?.label}}<sup
                                        *ngIf="helpContent?.blended_courses_AddEditCategoryContent?.name?.isMandatory">&#x2731;</sup>
                                    <!-- <sup>&#x2731;</sup> -->
                                    <!-- <app-info-tooltip  [description]="helpContent?.blended_courses_AddEditCategoryContent?.name?.labelHelpContent"></app-info-tooltip> -->
                                </label>
                            
                                <input type="text" class="form-control commonInput" id="catcode" disabled [(ngModel)]="formdata.categoryCode"
                                    name="categoryCode" #categoryCode="ngModel" ngDefaultControl>
                            
                                <span></span>
                            </div>
                            <!-- End -->
                            <div class="form-group form_field_container">
                                <label class="left_space side-form-label" for="des">{{helpContent?.blended_courses_AddEditCategoryContent?.description?.label}}
                                    <!-- <sup class="reqFieldActivity">*</sup> -->
                                    <app-info-tooltip  [description]="helpContent?.blended_courses_AddEditCategoryContent?.description?.labelHelpContent"></app-info-tooltip>

                                    <!-- <div class="help-tooltip">
                                        <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                                        
                                        <div class="help-tooltip-position-right">
                                            <p>{{helpContent?.blended_courses_AddEditCategoryContent?.description?.labelHelpContent}}
                                            </p>
                                            <i></i>
                                        </div>
                                    </div> -->
                                </label>
                                <textarea cols="30" rows="2" maxlength="500" minlength="20" class="form-control form-control-input commonTextarea" id="des" placeholder="Min 20 and Max 500 characters." name="description" [(ngModel)]="formdata.description" #description="ngModel" ngDefaultControl></textarea>
                                <div *ngIf="description.errors && (description.dirty || description.touched)">
                                    <!-- <small class="invalid-msg" [hidden]="!description.errors.required">Description is required</small> -->
                                    <small class="invalid-msg" [hidden]="!description.errors.minlength">Minimum 20 characters required</small>
                                </div>
                                <span></span>
                            </div>
                            <div class="form-group tagcontainer">
                                <label class="left_space side-form-label" for="addTags">{{helpContent?.blended_courses_AddEditCategoryContent?.tags?.label}}<sup>&#x2731;</sup>
                                        <app-info-tooltip  [description]="helpContent?.blended_courses_AddEditCategoryContent?.tags?.labelHelpContent"></app-info-tooltip>

                                    <!-- <div class="help-tooltip">
                                        <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                                       
                                        <div class="help-tooltip-position-right">
                                            <p>{{helpContent?.blended_courses_AddEditCategoryContent?.tags?.labelHelpContent}}
                                            </p>
                                            <i></i>
                                        </div>
                                    </div> -->
                                </label>
                                <div id="addTags">
                                    <angular2-multiselect id="exampleInputTags4" [data]="tagList" [(ngModel)]="selectedTags" [settings]="settingsTagDrop" required #tags="ngModel" (onSelect)="onTagsSelect($event)" class="select_field_height" (onDeSelect)="OnTagDeSelect($event)" name="selectedTags"
                                        ngDefaultControl>

                                        <c-item>
                                            <ng-template let-item="item">
                                                <label>{{item.name}}</label>
                                            </ng-template>
                                        </c-item>
                                    </angular2-multiselect>
                                    <div *ngIf="tags.errors && (tags.dirty || tags.touched)">
                                        <small class="invalid-msg" [hidden]="!tags.errors.required">Tag is required</small>
                                    </div>
                                </div>
                                <span></span>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="right_form_container">
                    <form class="forms-sample form_field_container">
                        <div class="form-group form_field_container">
                            <label class="left_space side-form-label" for="visiid">{{helpContent?.blended_courses_AddEditCategoryContent?.visibility?.label}}
                                <sup *ngIf="helpContent?.blended_courses_AddEditCategoryContent?.visibility?.isMandatory">&#x2731;</sup>
                                <app-info-tooltip  [description]="helpContent?.blended_courses_AddEditCategoryContent?.visibility?.labelHelpContent"></app-info-tooltip>

                                <!-- <div class="help-tooltip">
                                    <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>

                                    <div class="help-tooltip-position-right">
                                       
                                        <p>{{helpContent?.blended_courses_AddEditCategoryContent?.visibility?.labelHelpContent}}
                                        </p>
                                        <i></i>
                                    </div>
                                </div> -->
                            </label>
                            <select [(ngModel)]="formdata.visible" id="visiid" class="commonSelect custom-select" required name="visible" #visible="ngModel" ngDefaultControl [disabled] = "courseCount>0">
                                <option value="" selected disabled>Select Type</option>
                                <option *ngFor="let item of visibility" value={{item.id}}>{{item.name}}</option>
                            </select>
                            <div *ngIf="visible.errors && (visible.dirty || visible.touched)">
                                <small class="invalid-msg" [hidden]="!visible.errors.required">Visibility is required</small>
                            </div>
                            <span></span>
                        </div>
                        <label class="side-form-label">
                            {{helpContent?.blended_courses_AddEditCategoryContent?.category_thumbnail?.label}}
                            <app-info-tooltip  [description]="helpContent?.blended_courses_AddEditCategoryContent?.category_thumbnail?.labelHelpContent"></app-info-tooltip>

                        <!-- <div class="help-tooltip">
                            <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                           
                            <div class="help-tooltip-position-right">
                                <p>{{helpContent?.blended_courses_AddEditCategoryContent?.category_thumbnail?.labelHelpContent}}
                                </p>
                                <i></i>
                            </div>
                        </div> -->
                    </label>

                        <div class="image_upload_container">
                            <div class="image_preview">

                                <div class="image_preview_container" [style.background-image]="'url(' + formdata.categoryPicRef + ')'">
                                    <div class="icon_upload_image">
                                        <input class="" type='file' [(ngModel)]="formdata.categoryPicRefs" [ngModelOptions]="{standalone: true}" id="imageUpload_1" accept=".png, .jpg, .jpeg" style="display:none" (change)="readCategoryThumb($event)" />
                                        <label class="" for="imageUpload_1" title="Change Thumbnail"><i class="fa fa-pencil"
                                                    aria-hidden="true"></i></label>
                                    </div>
                                    <div class="icon_delete" (click)="deleteCategoryThumb()">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </form>
</ngx-sidebar-form>