<div class="col-md-12 toprow sticky-top">
  <div class="col-md-6">
    <h3 class="h3lable">Learning</h3>
  </div>
  <div class="col-md-6 text-right">
   <button type="button" class="back_button"  (click)="back()" >Back</button> 
  </div>
  </div>
<div class="widgets"> 
    <div ba-panel ba-panel-class="with-scroll">
       <section id="feature" class="section01" style="float:none;">
        <div class="container">
            <div class="row col-md-12 mainrow">
            <!--     <div class="col-md-6 maincol">
                    <div class="element-animate mainbox" (click)="gotopivot()">
                       
                        <div class="ion-ios-cloud cloud"></div>
                        <div class="media custom-media">
                          
                            <div class="media-body">
                                <h3 class="mt-0 mainh3">Pivot</h3>
                              
                               <p class="mainp"> Get all the information related to your users here.</p>
                            </div>
                        </div>
                    </div>
                </div> -->
                 <div class="col-md-6 maincol" *ngIf="employeeMasterReport == true">
                    <div class="element-animate mainbox" (click)="gotoEmpInductionReport()">
                        <!-- col-lg-4 mb-4 -->
                        <div class="ion-ios-cloud cloud"></div>
                        <div class="media custom-media">
                            <!-- <img class="mr-3" width="30" src="img/img_1.jpg" alt="Generic placeholder image"> -->
                            <div class="media-body">
                                <h3 class="mt-0 mainh3">Employee Master Report</h3>
                                <!-- <p class="post-meta">May 12, 2018, <a href="#">Children Ministries</a></p> -->
                                <p class="mainp">Get all the information related to your Employee Status here</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 maincol" *ngIf="employeeLoginReport == true">
                    <div class="element-animate mainbox" (click)="gotoEmpLoginReport()">
                        <!-- col-lg-4 mb-4 -->
                        <div class="ion-ios-cloud cloud"></div>
                        <div class="media custom-media">
                            <!-- <img class="mr-3" width="30" src="img/img_1.jpg" alt="Generic placeholder image"> -->
                            <div class="media-body">
                                <h3 class="mt-0 mainh3">Employee Login Report</h3>
                                <!-- <p class="post-meta">May 12, 2018, <a href="#">Children Ministries</a></p> -->
                               <p class="mainp"> Get all the information related to your Employee Login here.</p>
                            </div>
                        </div>
                    </div>
                </div>

               <!--  <div class="col-md-6 maincol">
                    <div class="element-animate mainbox" (click)="gotoUserActivityReport()">
                       
                        <div class="ion-ios-cloud cloud"></div>
                        <div class="media custom-media">
                       
                            <div class="media-body">
                                <h3 class="mt-0 mainh3">User Activity Report</h3>
                              
                               <p class="mainp"> Get all the information related to your Users Activity here.</p>
                            </div>
                        </div>
                    </div>
                </div> -->
                 <div class="col-md-6 maincol" *ngIf="courseCompleationReportDate == true">
                    <div class="element-animate mainbox" (click)="gotocoursecompletionreportdate()">
                        
                        <div class="ion-ios-cloud cloud"></div>
                        <div class="media custom-media">
                           
                            <div class="media-body">
                                <h3 class="mt-0 mainh3">Course completion Report(Date)</h3>
                               
                                <p class="mainp">Get all the information related to your users here</p>
                            </div>
                        </div>
                    </div>
                </div>
                         <div class="col-md-6 maincol" *ngIf="courseCompleationReportPerc == true">
                    <div class="element-animate mainbox" (click)="gotocoursecompletionreportpercentage()">
                        
                        <div class="ion-ios-cloud cloud"></div>
                        <div class="media custom-media">
                           
                            <div class="media-body">
                                <h3 class="mt-0 mainh3">Course completion Report(Percentage)</h3>
                               
                                <p class="mainp">Get all the information related to your users here</p>
                            </div>
                        </div>
                    </div>
                </div>

                 <div class="col-md-6 maincol" *ngIf="quizCompleationReport == true">
                    <div class="element-animate mainbox" (click)="gotoquizcompletionreport()">
                        
                        <div class="ion-ios-cloud cloud"></div>
                        <div class="media custom-media">
                          
                            <div class="media-body">
                                <h3 class="mt-0 mainh3">Quiz completion Report</h3>
                                
                                <p class="mainp">Get all the information related to your users here</p>
                            </div>
                        </div>
                    </div>
                </div>
                    <div class="col-md-6 maincol" *ngIf="feedbackReport == true">
                    <div class="element-animate mainbox" (click)="gotofeedbackreport()">
                        
                        <div class="ion-ios-cloud cloud"></div>
                        <div class="media custom-media">
                           
                            <div class="media-body">
                                <h3 class="mt-0 mainh3">Feedback Report</h3>
                               
                                <p class="mainp">Get all the information related to your users here</p>
                            </div>
                        </div>
                    </div>
                </div> 

                 <div class="col-md-6 maincol" *ngIf="buddycalingReport == true">
                    <div class="element-animate mainbox" (click)="gotobuddycallingreport()">
                        
                        <div class="ion-ios-cloud cloud"></div>
                        <div class="media custom-media">
                          
                            <div class="media-body">
                                <h3 class="mt-0 mainh3">Buddy Calling Report</h3>
                                
                                <p class="mainp">Get all the information related to your users here</p>
                            </div>
                        </div>
                    </div>
                </div>
                  <div class="col-md-6 maincol" *ngIf="courseModuleCompleationReport == true">
                        <div class="element-animate mainbox" (click)="gotoModuleCompletionInitialReport()">
                        
                                <div class="ion-ios-cloud cloud"></div>
                                <div class="media custom-media">
                                   
                                    <div class="media-body">
                                        <h3 class="mt-0 mainh3">Course Module Completion Report</h3>
                                       
                                        <p class="mainp">Get all the information related to your users here</p>
                                    </div>
                                </div>
                            </div>
                </div>
                    <div class="col-md-6 maincol">
                        <div class="element-animate mainbox" (click)="gotoCourseSummaryInitialReport()">
                        
                                <div class="ion-ios-cloud cloud"></div>
                                <div class="media custom-media">
                                   
                                    <div class="media-body">
                                        <h3 class="mt-0 mainh3">Course Summary Report</h3>
                                       
                                        <p class="mainp">Get all the information related to your >Course Summary here</p>
                                    </div>
                                </div>
                            </div>
                </div>
            </div>
            
 <!--            <div class="row col-md-12" style="margin: 0">
                   <div class="col-md-6 maincol">
                    <div class="element-animate mainbox" (click)="gotocoursecompletionreportpercentage()">
                        
                        <div class="ion-ios-cloud cloud"></div>
                        <div class="media custom-media">
                           
                            <div class="media-body">
                                <h3 class="mt-0 mainh3">Course completion Report_Percentage</h3>
                               
                                <p class="mainp">Get all the information related to your users here</p>
                            </div>
                        </div>
                    </div>
                </div>

                 <div class="col-md-6 maincol">
                    <div class="element-animate mainbox" routerLink="../buddycallingreport">
                        
                        <div class="ion-ios-cloud cloud"></div>
                        <div class="media custom-media">
                          
                            <div class="media-body">
                                <h3 class="mt-0 mainh3">Buddy Calling Report</h3>
                                
                                <p class="mainp">Get all the information related to your users here</p>
                            </div>
                        </div>
                    </div>
                </div>

              
            </div> -->
           <!--  <div class="row col-md-12">
               
                  <div class="col-md-6" style="padding: 10px;cursor: pointer;">
                    <div class="element-animate" style="border:2px solid #e2f2f9;box-shadow: 2px 4px #e2f2f9; border-radius:10px;background-color:#ffffff; margin-top:60px;height: 240px;cursor: pointer;">
                       
                        <div class="ion-ios-cloud" style="font-size:60px; width:50px; height: 50px; margin: 18px auto;color:#076ba1;"></div>
                        <div class="media custom-media">
                           
                            <div class="media-body">
                                <h3 class="mt-0 mainh3" style="text-align:center; color:#076ba1;">USERS</h3>
                              
                                <p style="text-align:center; font-weight:300;">Get all the information related to your users here</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6" style="padding: 10px;">
                    <div class="element-animate" style="border:2px solid #e2f2f9;box-shadow: 2px 4px #e2f2f9; border-radius:10px;background-color:#ffffff; margin-top:0px;height: 240px;cursor: pointer;">
                        
                        <div class="ion-ios-cloud" style="font-size:60px; width:50px; height: 50px; margin: 18px auto;color:#076ba1;"></div>
                        <div class="media custom-media" ng-click="locations()">
                            
                            <div class="media-body">
                                <h3 class="mt-0 mainh3" style="text-align:center; color:#076ba1;">USERS</h3>
                                
                                <p style="text-align:center; font-weight:300;">Get all the information related to your users here</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>          -->   
        </div>

</section>
</div>

</div>
