<app-subheader [headerConfig]="header" (inputsearch)="onsearch($event)" (Clear)="clear()" (addbtn)="addeditccategory(undefined,0)" (backClick)="back()"></app-subheader>
<div class="feedback_main_container" *ngIf="notFound1">
    <!-- [ngStyle]="{ height: conentHeight }" style="overflow-y: auto;" -->
    <div class="feedback_div" (scroll)="onScroll(scrollMe)" #scrollMe class="overflow_scroll_cards_container" [bottomOffset]="200" [topOffset]="200">

        <!-- <div class="top_header_container">
            <div class="top_header_div_sticky content_width">
                <div class="page_title">
                    <h4>Feedback</h4>
                </div>
                <div>
                    <div class="filter_div">

                        <div class="search_div">
                            <input type="text" (keyup)="onsearch($event)" [(ngModel)]="search.fname" class="form-control search_field" placeholder="Search by feedback" name="fname" [disabled]="notFound" />
                            <i class="fa fa-remove remove_icon" aria-hidden="true" (click)="clear()"></i>
                        </div>
                    </div>
                </div>
                <div class="buttons_div">
                    <button type="button" class="constantbtn-button-blue-left " (click)="addeditccategory(undefined, 0)" [disabled]="notFound">
            Add Feedback
          </button>
                    <button type="submit" class="back_button" (click)="back()">
            Back
          </button>
                </div>
            </div>
        </div> -->

        <!-- </div> -->
        <!---------------------code end--------------->
        <!-- </div> -->
        <!-- (scroll)="handleScroll($event)" -->

        <!-- <div>
            <div class="multiple_category_card_container">
                <div class="cards_container">
                    <div class="singel_card" *ngFor="let item of feedback let j = index">
                        <div class="overlay_hidden" [hidden]="item.visible == 1">
                            <i title="Disabled" id="enable_{{ item.courseId }}" class="fa fa-eye-slash" aria-hidden="true" (click)="disableQcate(j, item)"></i>
                        </div>
                        <div class="singel_card_image pointer" *ngIf="item.fimg" [ngStyle]="{ 'background-image': 'url(' + item.fimg + ')' }" (click)="addeditccategory(item, 1)"></div>
                        <div class="singel_card_image not_found pointer" *ngIf="!item.fimg" (click)="addeditccategory(item, 1)"></div>
                        <div class="card_title pointer" (click)="addeditccategory(item, 1)">
                            <div *ngIf="item?.fname">
                                <div class="" title="{{ item.fname }}" *ngIf="item?.fname?.length <= 15">
                                    {{ item.fname }}
                                </div>
                                <div class="" title="{{ item.fname }}" *ngIf="item?.fname?.length > 15">
                                    {{ item.fname.substring(0, 15) }}...
                                </div>
                            </div>
                            <div *ngIf="!(item?.fname)">Not Available</div>
                        </div>
                        <div class="card_subtitle pointer" title="{{ item.fdesc }}" *ngIf="item?.fdesc?.length <= 30" (click)="addeditccategory(item, 1)">
                            {{ item.fdesc }}
                        </div>
                        <div class="card_subtitle pointer" title="{{ item.fdesc }}" *ngIf="item?.fdesc?.length > 30" (click)="addeditccategory(item, 1)">
                            {{ item.fdesc.substring(0, 30) }}...
                        </div>
                        <div class="user-icon pointer">
                            <div class="icons-enable-disable" title="Edit" (click)="addeditccategory(item, 1)">
                                <i aria-hidden="true" class="fa fa-edit"></i>
                            </div>
                            <div class="icons-enable-disable">
                                <i title="Enabled" class="fa fa-eye" aria-hidden="true" (click)="disableQcate(j, item)" [hidden]="item.visible == 0"></i>
                                <i title="Disabled" class="fa fa-eye-slash" aria-hidden="true" (click)="disableQcate(j, item)" [hidden]="item.visible == 1"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

        <div *ngIf="skeleton">
            <div *ngFor="let item of feedback;let i=index">
                <ngx-card (disabled)="clickTodisable(item,i)" [cardsList]="item" [config]="cardModify" (gotoDetails)="gotoCardaddedit(item)"></ngx-card>
            </div>
        </div>
        <app-skeleton [count]='count' *ngIf="!skeleton"></app-skeleton>

        <!-- <table *ngIf="!skeleton">
            <tr>
                <div class="multiple_feedback_card_container">
                    <div class="feedback_width">
                        <div class="feedback_container">
                            <td>
                                <div class="feedback_card">
                                    <div class="feedback">
                                        <ngx-skeleton-loader [theme]="{ width: '216px', height: '100px','margin': '5px' }">
                                        </ngx-skeleton-loader>
                                    </div>
                                    <div class="feedback-title">
                                        <ngx-skeleton-loader [theme]="{
                                              width: '170px',
                                              height: '40px'
                                            }"></ngx-skeleton-loader>
                                    </div>
                                    <div class="feedback-title">
                                        <ngx-skeleton-loader [theme]="{
                                              width: '170px',
                                              height: '40px'
                                            }"></ngx-skeleton-loader>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="feedback_card">
                                    <div class="feedback">
                                        <ngx-skeleton-loader [theme]="{ width: '216px', height: '100px','margin': '5px' }">
                                        </ngx-skeleton-loader>
                                    </div>
                                    <div class="feedback-title">
                                        <ngx-skeleton-loader [theme]="{
                                              width: '170px',
                                              height: '40px'
                                            }"></ngx-skeleton-loader>
                                    </div>
                                    <div class="feedback-title">
                                        <ngx-skeleton-loader [theme]="{
                                              width: '170px',
                                              height: '40px'
                                            }"></ngx-skeleton-loader>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="feedback_card">
                                    <div class="feedback">
                                        <ngx-skeleton-loader [theme]="{ width: '216px', height: '100px','margin': '5px'}">
                                        </ngx-skeleton-loader>
                                    </div>
                                    <div class="feedback-title">
                                        <ngx-skeleton-loader [theme]="{
                                              width: '170px',
                                              height: '40px'
                                            }"></ngx-skeleton-loader>
                                    </div>
                                    <div class="feedback-title">
                                        <ngx-skeleton-loader [theme]="{
                                              width: '170px',
                                              height: '40px'
                                            }"></ngx-skeleton-loader>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="feedback_card">
                                    <div class="feedback">
                                        <ngx-skeleton-loader [theme]="{ width: '216px', height: '100px','margin': '5px'}">
                                        </ngx-skeleton-loader>
                                    </div>
                                    <div class="feedback-title">
                                        <ngx-skeleton-loader [theme]="{
                                              width: '170px',
                                              height: '40px'
                                            }"></ngx-skeleton-loader>
                                    </div>
                                    <div class="feedback-title">
                                        <ngx-skeleton-loader [theme]="{
                                              width: '170px',
                                              height: '40px'
                                            }"></ngx-skeleton-loader>
                                    </div>
                                </div>
                            </td>
                        </div>
                    </div>
                </div>
            </tr>
            <tr>
                <div class="multiple_feedback_card_container">
                    <div class="feedback_width">
                        <div class="feedback_container">
                            <td>
                                <div class="feedback_card">
                                    <div class="feedback">
                                        <ngx-skeleton-loader [theme]="{ width: '216px', height: '100px','margin': '5px'}">
                                        </ngx-skeleton-loader>
                                    </div>
                                    <div class="feedback-title">
                                        <ngx-skeleton-loader [theme]="{
                                                  width: '170px',
                                                  height: '40px'
                                                }"></ngx-skeleton-loader>
                                    </div>
                                    <div class="feedback-title">
                                        <ngx-skeleton-loader [theme]="{
                                                  width: '170px',
                                                  height: '40px'
                                                }"></ngx-skeleton-loader>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="feedback_card">
                                    <div class="feedback">
                                        <ngx-skeleton-loader [theme]="{ width: '216px', height: '100px','margin': '5px'}">
                                        </ngx-skeleton-loader>
                                    </div>
                                    <div class="feedback-title">
                                        <ngx-skeleton-loader [theme]="{
                                                  width: '170px',
                                                  height: '40px'
                                                }"></ngx-skeleton-loader>
                                    </div>
                                    <div class="feedback-title">
                                        <ngx-skeleton-loader [theme]="{
                                                  width: '170px',
                                                  height: '40px'
                                                }"></ngx-skeleton-loader>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="feedback_card">
                                    <div class="feedback">
                                        <ngx-skeleton-loader [theme]="{ width: '216px', height: '100px','margin': '5px'}">
                                        </ngx-skeleton-loader>
                                    </div>
                                    <div class="feedback-title">
                                        <ngx-skeleton-loader [theme]="{
                                                  width: '170px',
                                                  height: '40px'
                                                }"></ngx-skeleton-loader>
                                    </div>
                                    <div class="feedback-title">
                                        <ngx-skeleton-loader [theme]="{
                                                  width: '170px',
                                                  height: '40px'
                                                }"></ngx-skeleton-loader>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="feedback_card">
                                    <div class="feedback">
                                        <ngx-skeleton-loader [theme]="{ width: '216px', height: '100px','margin': '5px'}">
                                        </ngx-skeleton-loader>
                                    </div>
                                    <div class="feedback-title">
                                        <ngx-skeleton-loader [theme]="{
                                                  width: '170px',
                                                  height: '40px'
                                                }"></ngx-skeleton-loader>
                                    </div>
                                    <div class="feedback-title">
                                        <ngx-skeleton-loader [theme]="{
                                                  width: '170px',
                                                  height: '40px'
                                                }"></ngx-skeleton-loader>
                                    </div>
                                </div>
                            </td>
                        </div>
                    </div>
                </div>
            </tr>
        </table> -->
    </div>
</div>
<!-- <div *ngIf="notFound1"> -->
<!-- <div class="col-md-12">
        <img style="width: 900px;" src="assets/images/noDataFound1.png" onerror="this.src='assets/images/noDataFound1.png';" /> -->
<!-- <img src='assets/images/noDataFound2.png' onerror="this.src='assets/images/noDataFound2.png';"> -->
<!-- <p class="nodata"> No Data Found</p> -->
<!-- </div> -->
<ngx-no-data *ngIf="!notFound1" [config]="noDataVal"></ngx-no-data>
<!-- </div> -->
<!-- <div class="deleteModalBackdrop" *ngIf="enableDisableFeedbackModal == true">
    <div class="deleteModal">
        <div class="modal-header deleteModalHeader">
            <p *ngIf="!enableFeedback" class="enableDisableModalHeaderP">Enable Feedback</p>
            <p *ngIf="enableFeedback" class="enableDisableModalHeaderP">Disable Feedback</p>
            <button class="close closeDeleteModalBtn" aria-label="Close" (click)="closeEnableDisableFeedbackModal()">
                  <span aria-hidden="true">&times;</span>
              </button>
        </div>

        <div class="modal-body">
            <div class="" *ngIf="!enableFeedback">
                <p class="enableDisableModalBodyP">Are you sure you want to Enable {{enableFeedbackData.fname}} ?</p>
            </div>
            <div class="" *ngIf="enableFeedback">
                <p class="enableDisableModalBodyP">Are you sure you want to Disable {{enableFeedbackData.fname}} ?</p>
            </div>
        </div>

        <div class="modal-footer deleteModalFooter">
            <div class="col-md-2">
                <button type="button" class="deleteModalBtn" (click)="enableDisableFeedbackAction(true)">Yes</button>
            </div>
            <div class="col-md-2">
                <button type="button" class="deleteModalBtn" (click)="enableDisableFeedbackAction(false)">No</button>
            </div>
        </div>
    </div>
</div> -->