.participants {
    @import '../../../@theme/styles/variable.scss';
    .content_width {
        width: 95%;
        margin: 0 auto;
    }
    .top_header_container {
        background: #fff;
        position: sticky;
        top: 4.75rem;
        z-index: 1020;
        .top_header_div_sticky {
            background: #fff;
            display: grid;
            grid-template-columns: 0.5fr 1fr 1fr;
            height: 50px;
            align-items: center;
            .page_title {
                text-align: left;
                h4 {
                    margin: 0;
                }
            }
            // .filter_div{
            //     // display: grid;
            //     // grid-template-columns: 1fr 1fr;
            //     // grid-column-gap: 10px;
            //     align-items: center;
            //     .drop_down{
            //         border: 1px solid $border_color;
            //         .drop_down_select{
            //             height: 30px;
            //             border: none;
            //             box-shadow: none;
            //         }
            //     }
            .search_div {
                display: grid;
                grid-template-columns: auto 20px;
                border: 1px solid $border_color;
                .search_field {
                    height: 30px;
                    border: none !important;
                    box-shadow: none;
                    padding: 0 10px;
                    outline: none;
                    &::placeholder {
                        font-size: 14px;
                    }
                }
                .remove_icon {
                    line-height: 30px;
                }
            }
        }
        .buttons_div {
            text-align: right;
        }
    }
    .ngx-datatable.fixed-header .datatable-header .datatable-header-inner .datatable-header-cell {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: center;
    }
    .ngx-datatable.material .datatable-body .datatable-body-row {
        border-bottom: 1px solid #e0e0e0;
    }
    .ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell {
        text-align: center;
    }
    .heding1 {
        line-height: 50px;
        margin: auto;
    }
    .floatingbtn {
        margin: auto;
        padding: 0;
        text-align: right;
    }
    .mainDiv {
        margin: 10px 15px;
    }
    .bottom15 {
        margin-bottom: 15px;
    }
    .cellpointr {
        cursor: pointer;
    }
    .sticky-topEnroll {
        position: sticky;
        top: 66px;
        /*z-index: 1090;*/
        z-index: 1040;
    }
    .teamSubdiv2 {
        float: left;
    }
    .floterightbtn {
        float: right;
    }
    .plusIcon {
        margin-right: 8px;
    }
    .mr10 {
        margin-left: 10px;
    }
    .viewEdit {
        padding: 15px 0px;
    }
}

// new form css
.uplosdDiv {
    width: 100%;
    background: white;
    padding: 15px;
    left: 50px;
    display: block;
    margin-top: 30px;
    .upBtn {
        .AddBtn {
            margin-top: 0;
        }
    }
}

.TopButton {
    background: white;
    position: fixed;
    top: 68px;
    width: 100%;
    z-index: 2;
    left: 0;
    height: 56px;
    box-shadow: 3px 3px 5px 0px #ccc;
}

.btninnerDiv {
    position: absolute;
    right: 0;
}

.TableDiv {
    background: #ffffff;
    box-shadow: 0px 0px 4px 1px #99cbf361;
    //border-radius: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    margin-top: 7vh;
}

.TableDiv table>thead {
    background: #99cbf361;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.TableDiv table>thead>tr>th {
    color: #01579b;
    cursor: pointer;
}

.Textbox input {
    //font-size: 10px;
    height: 26px;
    padding: 6px 6px;
    border-radius: 5px !important;
}

::-webkit-input-placeholder {
    font-size: 10px;
}

.AddBtn {
    padding: 8px 21px;
    border: 1px solid #01579b;
    background: #01579b;
    color: #ffffff;
    transition: .4s ease-in-out;
    cursor: pointer!important;
    border-radius: 3px;
    outline: none;
    margin-top: 10px;
    margin-right: 10px;
}

.AddBtn:hover {
    color: #01579b;
    background: #ffffff;
}

.clearBtn {
    margin-right: 31px;
}

.AddBtn:hover {
    color: #01579b;
    background: #ffffff;
}

.arrBtn {
    float: right;
}

.fa-sort-asc::before {
    content: "[ ↑ ]";
    display: block;
    font-weight: 900;
    padding-left: 2px;
    position: relative;
    bottom: 2px;
}

.fa-sort-desc::before {
    content: "[ ↓ ]";
    display: block;
    font-weight: 900;
    padding-left: 2px;
    position: relative;
    bottom: 2px;
}

.edit i {
    cursor: pointer;
}

.borderLeft {
    border-left: 1px solid #dee2e6;
}

.edit {
    border-right: 1px solid #dee2e6;
}

.Textbox input {
    //font-size: 10px;
    height: 26px;
    padding: 6px 6px;
    border-radius: 5px !important;
}

.selectSup {
    height: 25px;
    border-radius: 4px;
    border: 2px solid #dadfe6;
    color: #b1b6af;
    outline: none;
}

.userList {
    p {
        margin: 0;
    }
}

.green {
    color: #009f57;
}

.red {
    color: #ff0000b5;
}

.yellow {
    color: #FFC107;
}

.boldClass {
    font-weight: 500;
}

@media screen and (max-width: 768px) {
    .uplosdDiv {
        margin-top: 40px;
    }
    .upBtn {
        padding-top: 10px;
    }
}

@media screen and (max-width: 576px) {
    .AddBtn {
        padding: 6px 9px;
        font-size: 12px;
    }
    .clearBtn {
        margin-right: 11px;
    }
    .TopButton {
        top: 53px;
        height: 51px;
    }
    .uplosdDiv {
        margin-top: 25px;
    }
}

@media screen and (max-width: 400px) {
    .TopButton {
        .btninnerDiv {
            .AddBtn {
                padding: 6px 6px;
                font-size: 10px;
                margin-right: 4px;
            }
        }
    }
}

// nominee css
.nominee_details {
    .fa-edit {
        cursor: pointer;
    }
    .tableRow {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 1fr 2fr 2fr 2fr 1fr;
        justify-items: center;
        background: #fff;
        margin-bottom: 5px;
        margin-top: 5px;
    }
    .tableheadings {
        display: grid;
        grid-template-columns: 1fr 1fr 2fr 2fr 2fr 1fr;
        align-items: center;
        justify-items: center;
        height: 60px;
        /* margin: auto; */
        font-size: 15px;
        font-weight: 600;
        border-bottom: 1px solid #ccc;
    }
    .stepColumn {
        display: grid;
        grid-template-columns: repeat(15, 1fr);
        grid-column-gap: 10px;
        margin: auto 0;
        width: 80%;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    .completedStep {
        background: #56ba56 !important;
        color: #fff !important;
    }
    .rejectedStat {
        background: red !important;
        color: #000 !important;
    }
    .pendingStat {
        background: yellow !important;
        color: #000 !important;
    }
    .evalApproval {
        padding-left: 25px;
    }
    .innerRow {
        height: auto;
        // padding: 15px 0;
        background: #f5f9fc85;
        border-bottom: 1px solid #eee;
    }
    .column {
        margin: 0;
        width: auto;
        cursor: pointer;
    }
    .tableCells {
        overflow-y: scroll;
        max-height: 550px;
    }
    .tableFooter {
        background: #fff;
        height: 60px;
    }
    .stepLabel {
        margin: 0;
        line-height: 22px;
        font-size: 16px;
    }
    .stepno {
        width: 35px;
        margin: 5px;
        height: 35px;
        padding: 0;
        background: #c0ddee;
        color: #fff;
        border-radius: 50%;
        border: none;
        outline: none !important;
    }
    .activeStep {
        background: #076ba1;
    }
    .noMargin {
        margin: 0;
    }
    .width100percent {
        width: 100%;
    }
    .rowBorder {
        border-bottom: 1px solid #eee;
    }
    .imgCell {
        padding: 15px;
        text-align: center;
    }
    .pSize_Img {
        width: 120px;
        //   border-radius: 50%;
    }
    .tableData {
        padding: 15px;
        display: table-cell;
        // line-height: 35px;
        // height: 35px;
    }
    .hiddenClass {
        height: 0 !important;
        display: none;
    }
    .tableContent {
        margin: -18px;
    }
    .stepHeader {
        margin: 0;
        padding: 15px 45px;
        background: #edf4f8;
        color: #697f83;
        font-size: 16px;
        border: 1px solid #f4f4f4;
    }
    .BHApprovalGrid {
        width: 95%;
        display: grid;
        grid-template-columns: auto 1fr auto auto auto;
        grid-column-gap: 15px;
        margin: auto;
        font-size: 14px;
        padding-top: 20px;
        color: #45484e;
    }
    .marginAuto {
        margin: auto;
    }
    .margin10 {
        margin: 10px;
    }
    .star-container {
        pointer-events: none;
    }
    .formlabel {
        font-weight: 200;
    }
    .approvedStatus {
        text-align: center;
        // margin: 0;
        padding: 20px;
        width: 90%;
        margin: 30px auto;
        // padding: 20px;
        // margin-top: 30px;
        background: #03a9f41c;
        border-radius: 100px;
    }
    .qno {
        width: 30px !important;
        text-align: center;
    }
    .feedbackTable {
        width: 100%;
    }
    .tablerow {
        height: 50px;
        // border-bottom: 1px solid #ccc; 
    }
    .question {
        width: auto;
        min-width: 450px;
        text-align: center;
    }
    .answer {
        width: 300px;
        text-align: center;
    }
    // .scoreBoard{
    //     padding: 0px;
    //     width: 100%;
    // }
    .scoreCard {
        background: #e8f1f8;
        padding: 10px 20px;
        height: 100px;
        width: 170px;
        color: #4d6b71;
        /* display: flex; */
        text-align: center;
        font-size: 20px;
        border-radius: 0;
        margin: auto;
        margin-bottom: 10px;
    }
    .border_bottom {
        border-bottom: 1px solid #e8f1f8;
    }
    .grid2Cols {
        display: grid;
        grid-template-columns: 5fr 1fr;
        grid-column-gap: 20px;
        padding: 20px;
    }
    .cardtitle {
        width: 100%;
    }
    .tablepadding {
        padding: 20px;
    }
    .webinarForm {
        width: 100%;
        margin: auto;
        display: grid;
        grid-template-columns: 2fr 2fr 2fr 1fr;
        grid-column-gap: 30px;
    }
    .savebtn {
        display: grid;
        grid-template-columns: 2fr 2fr 2fr 1fr;
        grid-column-gap: 30px;
    }
    .approvedTable2 {
        width: 50%;
        margin: 20px auto;
    }
    .cellpadding {
        display: block;
        padding: 0 20px;
    }
    .certifiedTxt {
        line-height: 60px;
        font-size: 22px;
        margin: 0;
        color: #42cb42;
        font-family: inherit;
    }
    .containerRadio {
        display: block;
        position: relative;
        padding-left: 35px;
        // width: 150px;
        cursor: pointer;
        // font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        margin: 0;
        line-height: 30px;
    }
    // /* Hide the browser's default radio button */
    .containerRadio input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        visibility: hidden;
    }
    .flexcol {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
        grid-column-gap: 20px;
        margin: 0;
        align-items: top;
    }
    .form-group {
        margin-bottom: 20px;
    }
    .label-checkbox {
        font-size: 14px;
        //  line-height: 40px;
        color: #313131;
    }
    .container {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    /* Hide the browser's default checkbox */
    .container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }
    /* Create a custom checkbox */
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 18px;
        width: 18px;
        margin: 6px 0 0 0;
        background-color: #fff;
        border: 1px solid #076ba1;
    }
    /* On mouse-over, add a grey background color */
    .container:hover input~.checkmark {
        background-color: #fff;
    }
    /* When the checkbox is checked, add a blue background */
    .container input:checked~.checkmark {
        background-color: #2196F3;
    }
    .certificate_grid_container {
        display: grid;
        // grid-template-columns: 3fr 1fr;
        align-items: center;
    }
    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }
    /* Show the checkmark when checked */
    .container input:checked~.checkmark:after {
        display: block;
    }
    /* Style the checkmark/indicator */
    .container .checkmark:after {
        left: 5px;
        top: 2px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}

.marginTop14 {
    margin-top: 14px;
}

.nominationformGen,
.nominationmanualformGen {
    width: 100%;
    margin: 0 auto;
}

.nominationformGenCard {
    padding-left: 10px;
    padding-right: 10px;
}

.nominationformGenCard>.nominationcardForm {
    border: none !important;
}

.nominationformGenCard>.nominationcardForm>.cardBody {
    background-color: #f1f5f8;
    border: none;
}

.headerCard {
    display: inline-block;
    width: 100%;
}

// .sticky-top {
//     border-bottom: 1px solid #076ba1 !important;
// }
.nopadding {
    padding: 0 !important;
}

.stickybtn {
    padding: 10.5px;
    border-bottom: 0.2px solid #076ba1 !important;
    z-index: 1000;
}

.nominationTabset>ul {
    background: #fff !important;
    border-bottom: 1px solid #076ba1 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 105px;
    z-index: 1090 !important;
}

.nominationTabset>ul>li.active>a {
    color: #076ba1 !important;
}

.nominationTabset>ul>li>a::before {
    background: #076ba1 !important;
}

.nominationTabset>ul>li>a:hover {
    color: #076ba1 !important;
}

.nominationDetailsTab {
    margin-top: 10px !important;
}

.nominationTabset>ul>li {
    &.disabled {
        cursor: not-allowed;
        a {
            color: #a4abb3;
            cursor: not-allowed;
            pointer-events: none;
            &:hover {
                color: #a4abb3;
            }
        }
    }
}

.marginTop14 {
    margin-top: 14px;
}

.nominationformGen,
.nominationmanualformGen {
    width: 100%;
    margin: 0 auto;
}

.nominationformGenCard {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    color: #000;
}

.nominationformGenCard>.nominationcardForm {
    border: none !important;
}

.nominationformGenCard>.nominationcardForm>.cardBody {
    background-color: #f1f5f8;
    border: none;
}

.headerCard {
    display: inline-block;
    width: 100%;
}

// .sticky-top {
//     border-bottom: 1px solid #076ba1 !important;
// }
.nopadding {
    padding: 0 !important;
}

.stickybtn {
    padding: 10.5px;
    border-bottom: 0.2px solid #076ba1 !important;
    z-index: 1000;
}

.nominationTabset>ul {
    background: #fff !important;
    border-bottom: 1px solid #076ba1 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 67px !important;
    z-index: 1090 !important;
}

.nominationTabset>ul>li.active>a {
    color: #076ba1 !important;
}

.nominationTabset>ul>li>a::before {
    background: #076ba1 !important;
}

.nominationTabset>ul>li>a:hover {
    color: #076ba1 !important;
}

.nominationDetailsTab {
    margin-top: 10px !important;
}

.nominationTabset>ul>li {
    &.disabled {
        cursor: not-allowed;
        a {
            color: #a4abb3;
            cursor: not-allowed;
            pointer-events: none;
            &:hover {
                color: #a4abb3;
            }
        }
    }
}

.NoDataDiv {
    position: fixed;
    top: 50%;
    left: 52%;
}