<app-subheader [headerConfig]="header" (inputsearch)="SarchFilter($event, searchtext)" (Clear)="clear()" (btntwo)="gotoBulkUpload()" (addbtn)="addeditParticipantAdd($event)" (backClick)="gotoBack()"></app-subheader>
<div class="participants" *ngIf='!noNominatedEmployees'>

    <!-- <div class="top_header_container">
        <div class="top_header_div_sticky content_width">
            <div class="page_title">
                <h4>NOMINATIONS</h4>
            </div>

            <div class="search_div">
                <input type="text" (keyup)="SarchFilter($event, searchtext)" [(ngModel)]="searchtext" class="search_field" placeholder="Search by nominee fields">
                <i class="fa fa-remove remove_icon" aria-hidden="true" (click)="clear()"></i>
            </div>

            <div class="buttons_div">
                <button class="constantbtn-button-blue-right" (click)="gotoBulkUpload()">Bulk Upload</button>
                <button class="constantbtn-button-blue-right" (click)="addeditParticipant('',0)">Add Nomination</button>
                <button class="back_button" (click)="gotoBack()">Back</button>
            </div>
        </div>
    </div> -->

    <div class="tableCompo">
        <ngx-enrol-table [label]="labels" [pagination]="true" [tableData]="nominees" [addPointer]="true" (clickOntext)='gotouserprofile($event)' (clickOnicon)="addeditParticipant($event)"></ngx-enrol-table>
    </div>
    <div style="padding: 10px">
        <div>Total: {{ nominees.length }}</div>
    </div>
</div>

<!-- <div *ngIf='!noNominatedEmployees' class="row m0 nominationformGen">
<div class="col-md-12 stretch-card nominationformGenCard">
  <div class="card cardForm">
      <div class="card-body nopadding cardBody">
          <div class="">
              <nominee-details>
                  <div class="nominee_details">
                      <div class="tableheadings">
                        <p class="column" (click)="sort('code')" (click)="invert()">ECN NO.
                            <i class="fa"  [ngClass]="{'fa-sort-asc': (column == 'code' && !isDesc) ,'fa-sort-desc': (column == 'code' && isDesc) }"
                            aria-hidden="true" >
                          </i>
                        
                        </p>
                        <p class="column" (click)="sort('name')" (click)="invert()">FULL NAME
                            <i class="fa"  [ngClass]="{'fa-sort-asc': (column == 'name' && !isDesc) ,'fa-sort-desc': (column == 'name' && isDesc) }"
                            aria-hidden="true" >
                          </i>
                        
                        </p>
                                                                                
                          <p class="column" (click)="sort('business')">BUSINESS
                            <i class="fa"
                            [ngClass]="{'fa-sort-asc': (column == 'business' && !isDesc),'fa-sort-desc': (column == 'business' && isDesc) }"
                            aria-hidden="true">
                          </i>
                        </p>
                                                                            
                        
                        <p class="column" (click)="sort('department')">DEPARTMENT
                            <i class="fa"
                            [ngClass]="{'fa-sort-asc': (column == 'department' && !isDesc),'fa-sort-desc': (column == 'department' && isDesc) }"
                            aria-hidden="true">
                          </i>
                        </p>
                                                                              
                        
                        <p class="column" (click)="sort('manager')">MANAGER
                            <i class="fa"
                            [ngClass]="{'fa-sort-asc': (column == 'manager' && !isDesc),'fa-sort-desc': (column == 'manager' && isDesc) }"
                              aria-hidden="true">
                            </i>
                          
                        </p>
                                
                        
                        
                      </div>

                      <div class="tableCells">
                          <div class="rows-Container border_bottom" *ngFor="let row of nominees ; let rowIndex = index">
                            <div class="tableRow height10">
                              <div class="column" (click)='gotouserprofile(row)'>
                                <p class="tableData">{{row.code}}</p>
                              </div>
                              <div class="column" (click)='gotouserprofile(row)'>
                                <p class="tableData">{{ row.name }}</p>
                              </div>
                              <div class="column" (click)='gotouserprofile(row)'>
                                <p class="tableData">{{ row.business }}</p>
                              </div>
                              <div class="column" (click)='gotouserprofile(row)'>
                                <p class="tableData">{{ row.department }}</p>
                              </div>
                              <div class="column" (click)='gotouserprofile(row)'>
                                <p class="tableData">{{ row.manager }}</p>
                              </div>
                              
                              <div class="column">
                                <p class="tableData"><i class="far fa-edit" (click)="addeditParticipant(row,1)" title="Edit"></i></p>
                              </div>
                              
                            </div>
                          </div>
                      </div>
                  </div>    
                </nominee-details>

          </div>
      </div>
  </div>
</div>
</div> -->
<ngx-no-data *ngIf='noNominatedEmployees' [config]="noDataVal"></ngx-no-data>

<!-- <div *ngIf='noNominatedEmployees'>
    <div class="col-md-12 noDataDiv">
        <img class="noDataImg" src='assets/images/noDataFound1.png' onerror="this.src='assets/images/noDataFound1.png';">
    </div>
</div> -->