<!-- <div class="col-md-12 submitcolumn">
  <button type="button" class="constantbtn floteright" (click)="submit(feedbacktemplateArr)">Save</button>
</div> -->

<!-- <div class="acordion" *ngFor="let item of feedbacktemplateArr;let i = index">
  <div class="card ">
    <a class="titleOfCard" data-toggle="collapse" href="#List-{{ i }}">
          {{item.role}}
    </a>
    <div class="collapse " id="List-{{ i }}">
      <div class="cardBody" *ngFor="let itemone of item.section">
            <label class="formLabel">{{itemone.section}}</label>
        <div class="" *ngFor="let itemtwo of itemone.subsection">
          <div class="col-md-12 nopadding botmMargin" *ngIf="itemone.subsection.length != 1">
            <div class="col-md-3 nopadding">
              {{itemtwo.subsection_name}}:
            </div>
            <div class="col-md-9 nopadding" *ngIf="itemtwo.dataType=='text'">
              <textarea class="feedbackText" rows="4" cols="50" [(ngModel)]="itemtwo.value"></textarea>
            </div>
            <div class="col-md-9 nopadding" *ngIf="itemtwo.dataType=='datetime'">
              <div class="fullwiddth">
                <input [owlDateTime]="dt2" class="form-control dateinput"
                  [(ngModel)]="itemtwo.value" name="potime" id="potime">
                <div class="divcalicon" [owlDateTimeTrigger]="dt2"><i class="fa fa-calendar calfont"></i>
                </div>
                <owl-date-time [pickerType]="'calendar'" #dt2></owl-date-time>
              </div>
            </div>
          </div>

          <div class="col-md-12 nopadding" *ngIf="itemone.subsection.length == 1">
            <div class="col-md-12 nopadding" *ngIf="itemtwo.dataType=='text'">
              <textarea class="feedbackText" rows="4" cols="50" [(ngModel)]="itemtwo.value"></textarea>
            </div>
            <div class="col-md-12 nopadding" *ngIf="itemtwo.dataType=='datetime'">
              <div class="fullwiddth">
                <input [owlDateTime]="dt2" class="form-control dateinput"
                  [(ngModel)]="itemtwo.value" name="potime" id="potime">
                <div class="divcalicon" [owlDateTimeTrigger]="dt2"><i class="fa fa-calendar calfont"></i>
                </div>
                <owl-date-time [pickerType]="'calendar'" #dt2></owl-date-time>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="cardPadding" *ngFor="let item of feedbacktemplateArr;let i = index">
    <div class="card ">
        <a class="titleOfCard">
            {{item.role}}
      </a>
        <div class="">
            <div class="cardBody" *ngFor="let itemone of item.section">
                <label class="col-md-12 nopadding formLabel">{{itemone.section}}</label>
                <div class="" *ngFor="let itemtwo of itemone.subsection">
                    <div class="col-md-12 nopadding botmMargin">
                        <div class="col-md-3 nopadding">
                            {{itemtwo.subsection_name}} :
                        </div>
                        <div class="col-md-9 nopadding" *ngIf="itemtwo.dataType=='text'">
                            <textarea disabled class="feedbackText" rows="4" cols="50" [(ngModel)]="itemtwo.value"></textarea>
                        </div>
                        <div class="col-md-9 nopadding" *ngIf="itemtwo.dataType=='datetime'">
                            <div class="fullwiddth">
                                <!-- <input [owlDateTime]="dt2" class="form-control dateinput"
                    [(ngModel)]="itemtwo.value" name="potime" id="potime">
                  <div class="divcalicon" [owlDateTimeTrigger]="dt2"><i class="fa fa-calendar calfont"></i>
                  </div>
                  <owl-date-time [pickerType]="'calendar'" #dt2></owl-date-time> -->
                                <p>{{itemtwo.value | date : 'medium'}}</p>
                            </div>
                        </div>
                    </div>

                    <!-- <div class="col-md-12 nopadding" *ngIf="itemone.subsection.length == 1">
              <div class="col-md-12 nopadding" *ngIf="itemtwo.dataType=='text'">
                <textarea disabled class="feedbackText" rows="4" cols="50" [(ngModel)]="itemtwo.value"></textarea>
              </div>
              <div class="col-md-12 nopadding" *ngIf="itemtwo.dataType=='datetime'">
                <div class="fullwiddth">

                  <p>{{itemtwo.value | date : 'medium'}}</p>
                </div>
              </div>
            </div> -->
                </div>
            </div>
        </div>
    </div>
</div>