participants {
    .no_data_found{
        text-align: center;
    background: #FFF;
    color: #000;
    padding: 80px;
    border-radius: 10px;
    }
    // .mat-tab-label {
    //     height: 48px;
    //     padding: 0 24px;
    //     cursor: pointer;
    //     box-sizing: border-box;
    //     opacity: .6;
    //     width: 100%;
    //     text-align: center;
    //     border: 1px solid #076ba1!important;
    //     color: #076ba1!important;
    //     margin: 0px !important;
    //     font-size: 18px !important;
    //     display: inline-flex;
    //     justify-content: center;
    //     align-items: center;
    //     white-space: nowrap;
    //     position: relative;
    //     border-radius: 0 !important;
    // }
    .NoDataDiv{
        text-align: center;
        display: grid;
        height: 300px;
        align-content: center;
        p{
            margin: 0;
            font-size: 19px;
        }
      }
    .participants-table{
        width: 100%;
        min-width: 900px;
        overflow: scroll;    
    }
    .mat-tab-label-active{
        background: #076ba1!important;
        color: #fff !important;
    }

    td.mat-cell,  td.mat-footer-cell,  th.mat-header-cell{
        width: 100px !important;
        line-height: 30px;
    }
    
    // .mat-tab-body.mat-tab-body-active {
    //     position: relative;
    //     overflow-x: hidden;
    //     overflow-y: auto;
    //     z-index: 1;
    //     // background: #fff !important;
    //     flex-grow: 1;
    //     margin-top: 10px !important;
    //     border-radius: 8px !important;
    //     padding: 10px !important;
    // }
    
    // .mat-tab-header {
    //     display: flex;
    //     overflow: hidden;
    //     position: relative;
    //     flex-shrink: 0;
    //     width: 90% !important;
    //     margin: auto !important;
    //     border-radius: 25px !important;
    // }
    
    .mat-tab-body{
        margin-top: 15px !important;
    }
    
    .mat-tab-header{
        width: 90% !important;
        margin: auto !important;
    }
    
    .mat-tab-label {
        width: 100%;
        background: #fff;
        border: 1px solid #076ba1;
        font-size: 16px;
        height: 48px;
        color: #076ba1;
        opacity: 1 !important;
    }
    
    .mat-tab-label:first-child{
        border-bottom-left-radius: 25px !important;
        border-top-left-radius: 25px !important;
    }
    
    .mat-tab-label:last-child{
        border-bottom-right-radius: 25px !important;
        border-top-right-radius: 25px !important;
    }
    
    .mat-tab-group {
        width: 100% !important;
        margin: auto;
    }
    
    .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{
        visibility: hidden !important;
      }
      
      .mat-tab-header, .mat-tab-nav-bar{
        border: none !important;
      }
    
      .backIcon{
        width: 40px;
        height: 40px;
        margin: auto;
        border-radius: 50%;
        color: #076ba1;
        background: transparent;
        border: 2px solid #076ba1;
        text-align: center;
        font-size: 20px;
        line-height: 36px;
      }
    
    .mattabs{
        width: 100%;
        margin: auto;
        margin-top: 30px;
    }
    
    .titlePara{
        margin: 0;
        line-height: 40px;
        color: #615f5f;
        font-weight: 600;
        width: 100%;
    }
    
    .icoab{
        width: 40px;
        text-align: center;
        line-height: 40px;
        height: 40px;
        background: #f7a076;
        font-size: 20px;
        margin: auto 0;
        color: #fff;
        border-radius: 5px;
        margin-right: 20px;
    }
    
    .courseWrap{
        width: 100%;
    }
    
    .courseHeading{
        display: flex;
    }
    .courseDesc{
        opacity: 0.6;
        color: #464646;
        font-size: 14px;
        line-height: 25px;
        margin-bottom: 0;
    }
    
    
    
    .coursetitle{
        color: #464646;
        font-size: 26px;
        line-height: 30px;
        margin-bottom: 0rem !important;
    }
    
    .Tabs{
        display: inline-flex;
        margin: 20px 0;
    }
    
    .Tab-container{
        height: 35px;	
        width: 150px;	
        border-radius: 17px;	
        background-color: #FFFFFF;	
        box-shadow: 0 2px 6px 0 rgba(47,83,151,0.1);
        margin-right: 10px;
        cursor: pointer;
    }
    
    .Tab-content{
        color: #076ba1;	
        // font-family: "Open Sans";	
        font-size: 16px;	
        font-weight: 600;	
        line-height: 34px;
        text-align: center;
    }
    
    .Tab-container-active{
        height: 35px;	
        width: 150px;	
        border-radius: 17px;	
        background-color: #076ba1;	
        box-shadow: 0 10px 20px 0 rgba(80,123,252,0.5);
        margin-right: 10px;
    }
    
    .Tab-content-active{
        color: #FFFFFF;	
        // font-family: "Open Sans";	
        font-size: 16px;	
        font-weight: 600;	
        line-height: 34px;	
        text-align: center;
    }
    
    .col1{
        display: flex;
        padding-left: 0;
    }
    
    .titlesub{
        font-size: 15px;
        line-height: 20px;
        font-weight: 100;
    }
    
    .smallicons{
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background: #076ba1;
        color: #fbf4f4;
        text-align: center;
        margin: auto;
        line-height: 45px;
        font-size: 22px;
        cursor: pointer;
        outline: none;
        box-shadow: 2px 6px 12px 0 #4d5d6585;
    }
    
    .stickyrow{
        position: sticky !important;
    }
    
    .trainerheader{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin: 0;
        height: 60px;
        font-size: 20px;
        background: transparent;
        border-radius: 10px;
        width: 100%;
        padding: 0;
    }
    
    .bodyContent{
        height: auto;
        width: 100%;
        border-radius: 10px;
        background-color: #FFFFFF;
        -webkit-box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.1);
        box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.1);
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        margin-bottom: 20px;
    }
    
    .bodyImg{
        height: 100%;
        width: 100%;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    
    .card-overlay{
        z-index: 999;
        background: rgba(0, 0, 0, 0.5);
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        margin-right: 12px;
        width: 35%;
    }
    
    .bodyMid{
        margin: 30px 0;
        width: 100%;
    }
    
    // .bodyMidHead{
    //     display: inline-flex;
    //     width: 100%;
    // }
    
    .bNo{
        color: #076ba1;	
        // font-family: "Open Sans";	
        font-size: 26px;	
        line-height: 36px;	
        text-align: center;
    }
    
    .bNa{
        color: #1B2437;	
        // font-family: "Open Sans";	
        font-size: 26px;	
        line-height: 36px;	
        text-align: center;
    }
    
    .bMHP1{
        margin: 0;
    }
    
    .alignCenter{
        width: 100%;
        margin: auto 0;
        padding: 0;
        text-align: right;
    }
    
    .bMHP2{
        color: #464646;
        // font-family: "Open Sans";
        font-size: 14px;
        font-weight: 600;
        line-height: 23px;
        margin: auto 20px;
    }
    
    
    .cardImg{
        height: 20px;
        margin: auto 0;
    }
    
    .cardImg2{
        cursor: pointer;
        width: 15px;
        float: right;
    }
    .cardImg3{
        cursor: pointer;
        width: 18px;
        float: right;
    }
    
    .bodydesc{
        width: 100%;
        text-align: justify;
        margin: 20px 0;
        font-size: 15px;
        // font-family: "open sans";
        line-height: 24px;
    }
    
    .bodyMidButton{
        height: 40px;	
        width: 228px;	
        border-radius: 100px;	
        background-color: #076ba1;	
        box-shadow: 0 10px 20px 0 rgba(80,123,252,0.5);
        margin-top: 45px;
        margin-right: 30px;
        float: right;
        cursor: pointer;
    }
    
    .mar-auto{
        margin: auto;
    }
    
    .bodyMidButtonText{
        color: #FFFFFF;	
        // font-family: "Open Sans";	
        font-size: 16px;	
        font-weight: 600;	
        line-height: 19px;	
        text-align: center;
        padding: 10px;
    }
    
    
    table{
        width: 100%;
        // font-family: "open sans" !important;
    }
    th.mat-header-cell {
        text-align: center !important;
        font-size: 16px !important;
        font-weight: 400;
    }
    
    .mat-cell {
        font-size: 16px !important;
        text-align: center !important;
        font-weight: 400;
    }
    
    .mat-paginator-navigation-previous {
        padding: 0;
        min-width: 0;
        width: 40px;
        border: 1px solid #076ba1 !important;
        font-size: 0px;
        height: 40px;
        color: #076ba1 !important;
        flex-shrink: 0;
        margin-left: -3px !important;
        line-height: 40px;
        border-bottom-left-radius: 8px !important;
        border-top-left-radius: 8px !important;
        border-bottom-right-radius: 0 !important;
        border-top-right-radius: 0 !important;
        outline: none !important;
    }
    
    .mat-paginator-navigation-next{
        padding: 0;
        min-width: 0;
        width: 40px;
        border: 1px solid #076ba1 !important;
        font-size: 0px;
        height: 40px;
        color: #076ba1 !important;
        flex-shrink: 0;
        margin-left: -1px !important;
        line-height: 40px;
        border-bottom-left-radius: 0px !important;
        border-top-left-radius: 0px !important;
        border-bottom-right-radius: 8px !important;
        border-top-right-radius: 8px !important;
        outline: none !important;
    }
    
    tr.mat-header-row {
        height: 80px;
        text-transform: uppercase;
    }
    
    .mat-tab-header-pagination-before, .mat-tab-header-rtl .mat-tab-header-pagination-after{
        visibility: hidden;
    }
    
    tr.mat-footer-row, tr.mat-row {
        height: 80px ;
    }
    
    td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
        padding: 0;
        border: none !important; 
    }
    
    .mat-row:nth-child(odd) {
        background-color: #f3f2f2 !important;
    }
    
    .mat-paginator-container{
        padding: 0 45px !important;
    }
    
    .mat-paginator-range-label {
        font-size: 14px !important;
        color: #4b4a4a !important;
    }
    
    .icon1{
        width: 40px;
        height: 40px;
        font-size: 20px;
        border-radius: 50%;
        border: 1px solid #8c8888;
        line-height: 40px;
        color: #8c8888;
        text-align: center;
        margin: auto;
    }
    
    .present {
        border: 1px solid #57a81e;
        color: #57a81e;
    }
    
    .crd{
        background: #fff;
        padding: 0;
        border-radius: 10px;
    }
    
    .iBlk{
        text-align: center;
        margin: auto;
        padding: 0;
    }
    
    .rowsss:nth-child(even){
    background: #4646460f;
    }
    
    th{
        text-align: center;
        height: 50px;
        font-weight: 100;
        color: #4a4848;
        // border-left: 0.5px solid #e8e8e89c;
        }
        
        thead{
            text-transform: uppercase !important;
        }
    
        .rowData{
            text-align: center;
            font-size: 16px;
        }
        
        .rowData:nth-child(odd){
            text-align: center;
            font-size: 16px;
            background: #e8e8e89c;
        }
        
        tr{
            height: 80px !important;
            font-weight: 100;
            color: #4a4848 !important;
            font-size: 16px;
        
        }
    
    .rowsss{
        width: 100%;
        margin: auto;
        height: 80px;
        display: inline-flex;
        cursor: pointer;
    }
    
    .listdata{
        margin: auto;
        font-size: 18px;
        padding: 0;
    }
    
    .mycrd4{
        width: 100%;
        border-radius: 10px;
        padding: 15px 0;
        min-width: 900px;
    }
    
    .header167{
        padding: 20px;
        width: 100%;
        margin: auto;
    }
    
    .searchin{
            padding: 10px;
        border-radius: 10px;
        border: 1px solid #bebdbd;
        color: #464646;
        font-size: 17px;
        // font-family: FontAwesome, "Open Sans";
        width: 300px;
        outline: none;
        line-height: 20px;
    }
    
    .lftalign{
        text-align: right;
        font-size: 12px;
        margin: auto;
        padding-right: 30px;
        line-height: 20px;
    }
    
    }
    @media only screen and (max-width: 700px) {
        tr.mat-header-row {
            height: 45px !important;
            // text-transform: uppercase;
        }
        tr.mat-footer-row, tr.mat-row {
            height: 45px !important;
        }
        .mycrd4{
            border-bottom-right-radius: 0 !important;
            border-bottom-left-radius: 0!important;
        }
        .mycrd4{
            padding: 0;
        }
    }