// .enrolment {
//     .searchInput::placeholder {
//         color: #313233bf;
//     }
//     .rules-row {
//         padding-left: 0px;
//     }
//     .searchInput {
//         border: none;
//         border-bottom: 1px solid #ccc;
//         background: transparent;
//         box-shadow: none;
//         border-radius: 0;
//     }
//     .searchRemove {
//         position: absolute;
//         top: 14px;
//         right: 15px;
//         // padding:0px;
//     }
//     .ngx-datatable.fixed-header .datatable-header .datatable-header-inner .datatable-header-cell {
//         white-space: nowrap;
//         overflow: hidden;
//         text-overflow: ellipsis;
//         // text-align: center;
//         font-size: 14px;
//         color: black;
//     }
//     .ngx-datatable.material {
//         background: #fff;
//         -webkit-box-shadow: none;
//         box-shadow: none;
//     }
//     .ngx-datatable.material .empty-row {
//         margin: 10px;
//         text-align: center;
//         border-radius: 15px;
//         border: 1px solid #076ba1;
//         padding: 20px;
//     }
//     // .constantbtn{
//     //   width: auto  ;
//     //   padding: 7px  ;
//     //   background-color: #076ba1  ;
//     //   text-transform: uppercase  ;
//     // }
//     .form-control {
//         -webkit-box-shadow: none;
//         box-shadow: none;
//         border: 1px solid #ccc;
//     }
//     .ngx-datatable.fixed-row .datatable-scroll .datatable-body-row {
//         border-bottom: 0.5px solid #e8dedef0;
//     }
//     .modal-header {
//         background-color: #076ba1;
//         height: 55px;
//         color: #fff;
//     }
//     .close {
//         float: right;
//         font-size: 1.5rem;
//         font-weight: 700;
//         line-height: 1;
//         color: #fff;
//         text-shadow: 0 1px 0 #fff;
//         opacity: 0.5;
//         outline: none;
//     }
//     .modal-footer {
//         height: 55px;
//     }
//     .sqrCheckBoxEnrol .sqrCheckBoxEnrolLabel {
//         border: 1px solid #ccc;
//         border-radius: none;
//         cursor: pointer;
//         height: 16px;
//         left: -14px;
//         position: -webkit-sticky;
//         position: relative;
//         width: 16px;
//         top: 10px;
//         margin-right: -10px;
//         background: #fff;
//     }
//     .sqrCheckBoxEnrol .sqrCheckBoxEnrolLabel:after {
//         // border: 2px solid #fff;
//         border: 2px solid #076ba1;
//         border-top: none;
//         border-right: none;
//         content: "";
//         height: 4px;
//         left: 1.5px;
//         opacity: 0;
//         position: absolute;
//         top: 4px;
//         -webkit-transform: rotate(-45deg);
//         transform: rotate(-45deg);
//         width: 12px;
//     }
//     .sqrCheckBoxEnrol input[type="checkbox"] {
//         visibility: hidden;
//     }
//     .sqrCheckBoxEnrol input[type="checkbox"]:checked+.sqrCheckBoxEnrolLabel {
//         background-color: #ffffff;
//         border-color: #076ba1;
//     }
//     .sqrCheckBoxEnrol input[type="checkbox"]:checked+.sqrCheckBoxEnrolLabel:after {
//         opacity: 1;
//     }
//     .width100 {
//         width: 100%;
//     }
//     .courseRevDis {
//         /* pointer-events: none; */
//         cursor: not-allowed;
//         background-color: #fdfbfbc2;
//         // z-index: 1000;
//         .checkBoxDiv {
//             pointer-events: none;
//         }
//     }
//     .marginTop14 {
//         margin-top: 14px;
//     }
//     .formGen,
//     .manualformGen {
//         width: 100%;
//         margin-bottom: 1rem;
//     }
//     .formGenCard {
//         padding-left: 25px;
//         // margin-top: 25px;
//     }
//     .manualformGenCard,
//     .ruleBasedformGenCard,
//     .regulatoryformGenCard,
//     .selfformGenCard {
//         margin-bottom: 0;
//         // margin-top: 10px;
//         margin-top: 0;
//         padding: 0;
//     }
//     .addSelfEnrolHeightContainer {
//         overflow-y: auto;
//         max-height: 310px;
//         overflow-x: hidden;
//     }
//     .manualCardForm,
//     .ruleBasedCardForm,
//     .regulatoryCardForm,
//     .selfCardForm {
//         cursor: pointer;
//         margin-bottom: 0;
//         border: none;
//     }
//     .manualCardBody,
//     .ruleBasedCardBody,
//     .regulatoryCardBody,
//     .selfCardBody {
//         // padding: 15px 15px 0px 15px  ;
//         // padding: 0.5rem  ;
//         padding: 0;
//     }
//     .headerCard {
//         display: inline-block;
//         // display: inline-flex;
//         // display: inherit;
//         width: 100%;
//     }
//     .manualTitle,
//     .ruleTitle,
//     .regTitle,
//     .selfTitle {
//         float: left;
//         margin-bottom: 0;
//         font-size: 1.3rem;
//         font-weight: 100;
//         margin-top: 0;
//         width: 100%;
//         background: #076ba1;
//         color: #ffff;
//         padding: 2px 10px 10px 10px;
//     }
//     .downArrow {
//         color: #ed462f;
//     }
//     #right_float {
//         float: right;
//     }
//     [data-toggle="collapse"] i:before {
//         content: "\f139";
//     }
//     [data-toggle="collapse"].collapsed i:before {
//         content: "\f13a";
//     }
//     .expandBtn {
//         float: right;
//         background: #fff;
//         border: none;
//     }
//     .expandBtn:hover {
//         background: #fff;
//         border: none;
//         outline: none;
//     }
//     .topBorderForm {
//         // border-bottom: 1px solid #076ba1;
//         // margin-top: 30px;
//     }
//     // .manualContent{
//     //   // min-height: 100px;
//     //   min-height: 350px;
//     // }
//     // .ruleBasedContent{
//     //   // min-height: 100px;
//     //   min-height: 350px;
//     // }
//     // .regulatoryContent{
//     //   // min-height: 100px;
//     //   min-height: 350px;
//     // }
//     // .selfContent{
//     //   // min-height: 100px;
//     //   min-height: 350px;
//     // }
//     .manualContent,
//     .ruleBasedContent,
//     .regulatoryContent,
//     .selfContent {
//         min-height: 380px;
//     }
//     .addRuleDemoModal,
//     .addRegulatoryDemoModal,
//     .addSelfDemoModal {
//         // .list-area {
//         //   position: fixed;
//         // }
//     }
//     .pointer {
//         margin-bottom: 0px;
//         padding-top: 5px;
//     }
//     .subMenu {
//         width: 100%;
//     }
//     .dropdown-list {
//         // position: absolute;
//         // padding-top: 14px;
//         // width: 100%;
//         z-index: 1000;
//     }
//     .list-area {
//         // position: fixed  ;
//         // border: 1px solid #ccc;
//         // border-radius: 3px;
//         // background: #fff;
//         // margin: 0;
//     }
//     .manualToolBar {
//         // margin-top: -13px;
//         margin-top: 0px;
//         margin-bottom: 13px;
//     }
//     #manEnrolBtn,
//     #ruleBasedBtn,
//     #regulatoryBtn,
//     #regulatoryBtn2,
//     #selfBtn,
//     #ruleUserBtn {
//         /* margin: 0 10px; */
//         border-radius: 0;
//         background: #076ba1;
//         color: #fff;
//         border: 1px solid #076ba1;
//         height: 38px;
//         color: #ffffff;
//         /* background-color: #bbc0c3; */
//         background-image: none;
//         /* border-color: #076ba1; */
//         -webkit-transform: none;
//         transform: none;
//         width: 68px;
//     }
//     #manEnrolBtn {
//         width: 85px;
//     }
//     #ruleBasedBtn {
//         width: 72px;
//     }
//     #ruleUserBtn {
//         margin-right: 15px;
//         width: 128px;
//     }
//     #regulatoryBtn2 {
//         margin-right: 10px;
//     }
//     #selfBtn {
//         width: 115px;
//     }
//     .manSearchUsr {
//         padding: 7.5px;
//         width: 100%;
//         margin-top: 2px;
//     }
//     .addRuleBackdrop,
//     .addRegulatoryBackdrop,
//     .addSelfBackdrop {
//         // position: absolute;
//         // width: 100%;
//         // height: 100%;
//         // top: 50px;
//         // background-color: #404040c2;
//         // z-index: 1000;
//         position: fixed;
//         width: 100%;
//         height: 100%;
//         top: 0px;
//         left: 0px;
//         z-index: 1503;
//         background-color: #404040c2;
//         .addRuleDemoModal,
//         .addRegulatoryDemoModal,
//         .addSelfDemoModal {
//             /*width: 80%;*/
//             // width: 50%;
//             // margin: auto;
//             // background-color: #fff;
//             // margin-top: 50px;
//             // border-radius: 5px;
//             width: 60%;
//             margin: auto;
//             background-color: #fff;
//             margin-top: 65px;
//             border-radius: 5px;
//         }
//         .align-self-baseline {
//             align-self: flex-end !important;
//         }
//     }
//     .ruleUsersBackdrop {
//         // position: absolute;
//         // width: 100%;
//         // height: 100%;
//         // top: 50px;
//         // background-color: #404040c2;
//         // z-index: 1000;
//         // position: absolute;
//         // width: 100%;
//         // height: 100%;
//         // top: 67px;
//         // background-color: #404040c2;
//         // z-index: 2000;
//         position: fixed;
//         width: 100%;
//         height: 100%;
//         top: 0px;
//         left: 0px;
//         z-index: 1503;
//         background-color: #404040c2;
//         .ruleUsersDemoModal {
//             /*width: 80%;*/
//             // width: 50%;
//             // margin: auto;
//             // background-color: #fff;
//             // margin-top: 50px;
//             // border-radius: 5px;
//             width: 75%;
//             margin: auto;
//             background-color: #fff;
//             margin-top: 65px;
//             border-radius: 5px;
//         }
//     }
//     .addRulebtn,
//     .addRegulatorybtn,
//     .addSelfbtn {
//         margin-bottom: 0;
//         top: 23px;
//         button {
//             height: 35px;
//         }
//     }
//     .styled-select {
//         background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
//         height: 29px;
//         overflow: hidden;
//         width: 240px;
//     }
//     .styled-select.slate {
//         background: url(http://i62.tinypic.com/2e3ybe1.jpg) no-repeat right center;
//         height: 34px;
//         width: 240px;
//     }
//     .styled-select.slate select {
//         border: 1px solid #ccc;
//         font-size: 16px;
//         height: 34px;
//         width: 268px;
//     }
//     .dropHeight {
//         height: 2.5rem;
//     }
//     option:disabled {
//         background: #dddddd;
//         cursor: not-allowed;
//         opacity: 0.65;
//     }
//     .mainDrop {
//         // margin-left: 366px;
//     }
//     .paraRemove {
//         /*margin-top: 23px;*/
//         /*margin-top: 30px;*/
//         /*margin-right: 475px;*/
//         cursor: pointer;
//         // margin-top: 24px;
//     }
//     .inputDrop,
//     .inputDate,
//     .inputText,
//     .inputNumber {
//         /* margin-top: 1.3rem; */
//         /* width: 144px; */
//         /* margin-left: 25px; */
//     }
//     .optSubmit {
//         /*float: right;*/
//         margin-top: 20px;
//     }
//     .clearRes {
//         float: left;
//     }
//     .toDate,
//     .fromDate {
//         width: 144px;
//         margin-left: 25px;
//     }
//     .dateSelect {
//         /*display:inherit;*/
//         margin-top: 21px;
//         display: inline-flex;
//     }
//     .mainDropPara {
//         /* width: 175px; */
//         /* margin-top: 4px; */
//         padding: 0;
//     }
//     .mainDropVal {
//         margin-top: 1px;
//     }
//     .mainDropParaRow {
//         display: -webkit-inline-box;
//     }
//     .rulesDiv {
//         overflow-y: auto;
//         max-height: 310px;
//         overflow-x: hidden;
//         form {
//             width: 100%;
//         }
//     }
//     .mrgbtm {
//         margin-bottom: 1rem;
//     }
//     .subActionBtnGrp {
//         margin-right: 25px;
//         border-radius: 0px;
//     }
//     .subActionBtn {
//         border-radius: 0px;
//         background: #076ba1;
//         color: #fff;
//         //border: #076ba1;
//         border: none;
//         height: 38px;
//         color: #ffffff;
//         margin-right: 0px;
//         /*width: 135px;*/
//         text-align: left;
//         padding: 0rem 1rem;
//     }
//     .subActionSplitBtn {
//         border-radius: 0px;
//         border: none;
//         height: 38px;
//         margin-left: 0px;
//         //padding: 0px  ;
//         /*box-shadow: 0 0 0 2px rgba(2, 117, 216,0.25);*/
//         color: #fff;
//         background: #076ba1;
//         border: 1px solid #076ba1;
//         box-shadow: none;
//     }
//     .show>.subActionBtn.subActionSplitBtn {
//         color: #ffffff;
//         background-color: #076ba1;
//         background-image: none;
//         border-color: #076ba1;
//     }
//     .dropMenu {
//         border-radius: 0px;
//         background: #076ba1;
//         border: #076ba1;
//         padding: 3px;
//     }
//     .subActionBtnDropItem {
//         display: block;
//         width: 100%;
//         padding: 3px 1.5rem;
//         clear: both;
//         font-weight: normal;
//         color: #ffffff;
//         text-align: inherit;
//         white-space: nowrap;
//         background: #076ba1;
//         border: 0;
//         line-height: 1;
//         background-color: #076ba1;
//         /* border-bottom: 1px solid; */
//         margin: 5px 0px 5px 0px;
//         height: 28px;
//         padding-top: 7px;
//         padding-left: 7px;
//         cursor: pointer;
//     }
//     .subActionBtnDropUl {
//         margin-bottom: 0px;
//         border-bottom: none;
//         // padding-left: 0rem  ;
//         padding: 0rem;
//         text-align: center;
//     }
//     .subActionBtnDropMenu {
//         position: absolute;
//         transform: translate3d(0px, 37px, 0px);
//         top: 0px;
//         left: 0px;
//         will-change: transform;
//     }
//     .addRegbtn {
//         float: right;
//         background: #fff;
//         background-color: #fff;
//         color: #076ba1;
//     }
//     .regFormContainer {
//         max-height: 380px;
//         overflow-y: auto;
//         overflow-x: hidden;
//     }
//     .usersCountToView {
//         // color: #076ba1;
//         // border: 1px solid #076ba1;
//         // border-radius: 50%;
//         // padding: 6px 10px;
//         // margin: 0 auto;
//     }
//     // .cdk-overlay-pane,.mat-select-panel {
//     //     z-index: 999999999999999  ;
//     // }
// }

