<div class="enrolment">
    <div class="accordion" id="accordionExample">
        <div class="row m0 formGen manualformGen" id="manual">
            <div class="col-md-12 grid-margin stretch-card  manualformGenCard">
                <div class="card cardForm manualCardForm">
                    <div class="card-body manualCardBody">
                        <div class="headerCard">
                            <h4 class="card-title manualTitle">
                                <label class="sqrCheckBoxEnrol pointer width100 commonLabel">
                  <input
                  class="commonInput"
                    id="mEnrol"
                    type="checkbox"
                    name="manualEnrol"
                    class="marginRight5px"
                    (ngModelChange)="onCheckBoxClick($event, 'manual')"
                    [(ngModel)]="enrolment.manual"
                    data-toggle="collapse"
                    data-target="#collapseManual"
                    aria-controls="collapseManual"
                  />
                  Manual
                </label>
                            </h4>
                        </div>
                        <div id="collapseManual" class="collapse" aria-labelledby="collapseManual" data-parent="#accordionExample">
                            <div class="topBorderForm"></div>
                            <form class="forms-sample" class="panel-body manualContent" #userForm="ngForm">
                                <div class="form-group" style="margin-bottom: 0px">
                                    <div class="col-md-12 manualToolBar">
                                        <div class="col-md-4">
                                            <input type="text" class="manSearchUsr searchInput commonInput" [(ngModel)]="searchvalue.value" placeholder="Search by ECN, Name, Email.." (keyup)="searchManEnrol($event)" name="fname" />
                                            <i class="fa fa-remove searchRemove" (click)="clearesearch()"></i>
                                        </div>
                                        <div class="col-md-6">
                                            <angular2-multiselect [data]="tempUsers" [(ngModel)]="selectedUsers" [settings]="settingsUsersSelDrop" (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)"
                                                name="selectedUsers" ngDefaultControl>
                                                <c-search>
                                                    <ng-template>
                                                        <input class="commonInput" type="text" (keyup)="onSearch($event)" placeholder="Search users..." [(ngModel)]="searchvalue.value1" name="fname" />
                                                        <i class="fa fa-remove searchRemove" (click)="clearesearch()"></i>
                                                    </ng-template>
                                                </c-search>
                                                <c-item>
                                                    <ng-template let-item="item">
                                                        <label class="commonLabel" style="color: #333;width: 30%;">{{
                              item.ecn
                            }}</label>
                                                        <label class="commonLabel" style="color: #333;width: 30%;">{{
                              item.fullname
                            }}</label>
                                                        <label class="commonLabel" style="color: #333;width: 30%;">{{
                              item.emailId
                            }}</label>
                                                    </ng-template>
                                                </c-item>
                                            </angular2-multiselect>
                                        </div>
                                        <div class="col-md-2 text-right">
                                            <button type="submit" class="constantbtn-button-blue-left" [disable]="!selectedUsers" (click)="manEnrolUser()" id="manEnrolBtn">
                        Add user
                      </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="tableList col-md-12">
                                    <div class="tableCompo ">
                                        <ngx-enrol-table [pagination]="true" [label]="labels" [tableData]="rowsManual" (clickOnbutton)=visibilityTableRow($event)></ngx-enrol-table>
                                    </div>
                                    <div style="padding: 10px">
                                        <div>Total: {{ rowsManual.length }}</div>
                                    </div>
                                </div>

                                <!-- <div class="form-group" style="margin-bottom: 0px">
                                    <div class="col-md-12">
                                        <div>
                                            <ngx-datatable #tableDataManual style="width: 100%" class="material" [columns]="columnsManual" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="30" [limit]="5" [rowHeight]="50" [scrollbarV]="true" [rows]="rowsManual" [selectionType]="'checkbox'"
                                                [selectAllRowsOnPage]="false" (activate)="onActivateManual($event)" (select)="onSelectManual($event)">
                                                <ngx-datatable-column prop="ecn" name="EMP CODE"></ngx-datatable-column>
                                                <ngx-datatable-column prop="fullname" name="FULLNAME">
                                                </ngx-datatable-column>
                                                <ngx-datatable-column prop="emailId" name="EMAIL"></ngx-datatable-column>
                                                <ngx-datatable-column prop="phoneNo" name="MOBILE"></ngx-datatable-column>
                                                <ngx-datatable-column prop="enrolDate" name="DOE"></ngx-datatable-column>

                                                <ngx-datatable-column prop="enrolmode" name="MODE"></ngx-datatable-column>

                                                <ngx-datatable-column [width]="50" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false">

                                                    <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                                                        <a class="deleteUserIcon" title="Delete User">
                                                            <i title="Enabled" class="fa fa-eye card-footer-icon pointer" aria-hidden="true" (click)="disableCourseVisibility(i, row, 0)" *ngIf="row.visible == 1"></i>
                                                            <i title="Disabled" class="fa fa-eye-slash card-footer-icon pointer" aria-hidden="true" (click)="disableCourseVisibility(i, row, 1)" *ngIf="row.visible == 0"></i>


                                                        </a>
                                                    </ng-template>
                                                </ngx-datatable-column>
                                                <ngx-datatable-footer>
                                                    <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize" let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset">
                                                        <div style="padding: 5px 10px">

                                                            <div>Total: {{ rowCount }}</div>
                                                        </div>
                                                    </ng-template>
                                                </ngx-datatable-footer>
                                            </ngx-datatable>
                                        </div>
                                    </div>
                                </div> -->
                            </form>
                        </div>
                        <!-- <course-enrolment></course-enrolment> -->
                    </div>
                </div>
            </div>
        </div>

        <div class="row m0 formGen ruleBasedformGen" id="ruleBased">
            <div class="col-md-12 grid-margin stretch-card  ruleBasedformGenCard">
                <!-- formGenCard -->
                <div class="card cardForm ruleBasedCardForm">
                    <div class="card-body ruleBasedCardBody">
                        <div class="headerCard">
                            <h4 class="card-title ruleTitle">
                                <label class="sqrCheckBoxEnrol pointer width100 commonLabel" style="margin-bottom: 0px;">
                  <input
                    id="ruleBased"
                    type="checkbox"
                    name="ruleBased"
                    class="marginRight5px commonInput"
                    (ngModelChange)="onCheckBoxClick($event, 'rule')"
                    [(ngModel)]="enrolment.rule"
                    data-toggle="collapse"
                    data-target="#collapseruleBased"
                    aria-controls="collapseruleBased"
                  />
                  <!-- <label class="sqrCheckBoxEnrolLabel" for="ruleBased"></label> --> Rule Based
                                </label>
                            </h4>
                            <!-- <div class="col-md-3 floteright">
              <button type="submit" class="btn-default floteright" (click)="addRule()" id="editbtn">Add Rule</button>
            </div> -->
                        </div>
                        <!-- <p class="card-description cardDesc"></p>   -->
                        <div id="collapseruleBased" class="collapse" aria-labelledby="ruleBased" data-parent="#accordionExample">
                            <div class="topBorderForm"></div>
                            <form class="forms-sample" class="panel-body ruleBasedContent">
                                <div class="form-group" style="margin-bottom: 0px">
                                    <div class="col-md-12 manualToolBar">
                                        <div class="col-md-8">
                                            <input type="text" class="manSearchUsr searchInput commonInput" placeholder="Search rules..." (keyup)="searchRuleEnrol($event)" [(ngModel)]="searchvalue.value" name="fname" />
                                            <i class="fa fa-remove searchRemove" (click)="clearRuleEnrol()"></i>
                                        </div>

                                        <div class="col-md-4 text-right">
                                            <button type="submit" class="constantbtn-button-blue-left" (click)="openRuleModal('', 0)">
                        Add Rule
                      </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="tableList col-md-12">

                                    <div class="tableCompo">
                                        <ngx-enrol-table [pagination]="true" [label]="labelsRule" [tableData]="rowsRules" (clickOnbutton)=visibilityTableRow1($event) (clickOntext)=viewRuleUsers($event) (clickOnicon)="editrule($event)"></ngx-enrol-table>
                                    </div>
                                    <div style="padding: 10px">
                                        <div>Total: {{ rowsRules.length }}</div>
                                    </div>
                                </div>

                                <!-- <div class="form-group" style="margin-bottom: 0px">
                                    <div class="col-md-12">
                                        <div>
                                            <ngx-datatable #tableDataRules style="width: 100%" class="material" [columns]="columnsRules" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="30" [limit]="5" [rowHeight]="50" [scrollbarV]="true" [rows]="rowsRules" [selected]="selectedRules"
                                                [selectionType]="'checkbox'" [selectAllRowsOnPage]="false" (activate)="onActivateRules($event)" (select)="onSelectRules($event)">
                                                <ngx-datatable-column width="30">
                                                    <ng-template ngx-datatable-header-template>
                                                        <span>RULE NAME</span>
                                                    </ng-template>
                                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                                        <a class="usersCountToView" (click)="editrule(row)">
                              {{ row.rulename }}
                            </a>
                                                    </ng-template>
                                                </ngx-datatable-column>
                                                <ngx-datatable-column width="30">
                                                    <ng-template ngx-datatable-header-template>
                                                        <span>DESCRIPTION</span>
                                                    </ng-template>
                                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                                        <a class="usersCountToView" title="{{ row.description }}" (click)="editrule(row)">
                              {{ row.description }}
                            </a>
                                                    </ng-template>
                                                </ngx-datatable-column>
                                                <ngx-datatable-column width="30">
                                                    <ng-template ngx-datatable-header-template>
                                                        <span>APPLICABLE USERS</span>
                                                    </ng-template>
                                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                                        <a class="usersCountToView" title="View Users" style="text-align: center;" (click)="viewRuleUsers(row)">
                              {{ row.noOfEmp }}
                            </a>
                                                    </ng-template>
                                                </ngx-datatable-column>

                                                <ngx-datatable-column [width]="50" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                                                    <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                                                        <a class="deleteUserIcon" title="Delete Rule">

                                                            <i title="Enabled" class="fa fa-eye card-footer-icon pointer" aria-hidden="true" (click)="disableRuleVisibility(i, row, 0)" *ngIf="row.visible == 1"></i>
                                                            <i title="Disabled" class="fa fa-eye-slash card-footer-icon pointer" aria-hidden="true" (click)="disableRuleVisibility(i, row, 1)" *ngIf="row.visible == 0"></i>
                                                        </a>
                                                    </ng-template>
                                                </ngx-datatable-column>
                                                <ngx-datatable-footer>
                                                    <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize" let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset">
                                                        <div style="padding: 5px 10px">

                                                            <div>Total: {{ rowCount }}</div>
                                                        </div>
                                                    </ng-template>
                                                </ngx-datatable-footer>
                                            </ngx-datatable>
                                        </div>
                                    </div>
                                </div> -->
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row m0 formGen regulatoryformGen" id="regulatory">
            <div class="col-md-12 grid-margin stretch-card  regulatoryformGenCard">
                <!-- formGenCard -->
                <div class="card cardForm regulatoryCardForm">
                    <div class="card-body regulatoryCardBody">
                        <div class="headerCard">
                            <h4 class="card-title regTitle">
                                <label class="sqrCheckBoxEnrol pointer width100 commonLabel">
                  <input
                    id="regulatory"
                    type="checkbox"
                    name="regulatoryEn"
                    class="marginRight5px commonInput"
                    (ngModelChange)="onCheckBoxClick($event, 'regulatory')"
                    [(ngModel)]="enrolment.regulatory"
                    data-toggle="collapse"
                    data-target="#collapseregulatory"
                    aria-controls="collapseregulatory"
                  />
                  <!-- <label class="sqrCheckBoxEnrolLabel" for="regulatory"></label> --> Regulatory
                                </label>
                            </h4>
                        </div>
                        <!-- <p class="card-description cardDesc"></p>   -->
                        <div id="collapseregulatory" class="collapse" aria-labelledby="regulatory" data-parent="#accordionExample">
                            <div class="topBorderForm"></div>
                            <!-- enrolf.form.valid &&  -->
                            <form class="forms-sample panel-body regulatoryContent" name="form" (ngSubmit)="saveReg(regData)" #enrolf="ngForm" novalidate style="padding-left: 0px">
                                <div class="form-group" style="margin-bottom: 0px">
                                    <div class="col-md-12 manualToolBar">
                                        <div class="col-md-5">
                                            <!-- <input type='text' class="manSearchUsr searchInput" [(ngModel)]="searchvalue.value"name="fname" placeholder='Search...' (keyup)='searchRegEnrol($event)' />
                                        <i class="fa fa-remove searchRemove" (click)="clearesearch()"></i> -->
                                        </div>

                                        <div class="col-md-7" floteright>
                                            <!-- <button type="submit" class="floteright constantbtn" (click)="openRegulatoryModal()" id="regulatoryBtn">Settings</button> -->
                                            <div class="form-group col-md-5 text-right">
                                                <button type="button" class="constantbtn-button-blue-left" (click)="openRegulatoryFilterModal()" id="editbtn">
                          Target Users
                        </button>
                                                <!-- id="regulatoryBtn2" -->
                                            </div>
                                            <div class="form-group col-md-4">
                                                <!-- [minDate]="minDate" -->
                                                <input type="text" class="form-control datePickerInput commonInput" placeholder="Select Enroll Date" #enrolDate="ngModel" #dp="bsDatepicker" id="Value" [(ngModel)]="regData.enrolDate" name="value" bsDatepicker [bsConfig]="{
                            containerClass: 'theme-dark-blue',
                            dateInputFormat: 'DD-MM-YYYY'
                          }" placement="bottom" required />
                                                <!-- <div
                          *ngIf="
                            enrolDate.errors &&
                            (enrolDate.dirty || enrolDate.touched)
                          "
                          class="alert alert-danger"
                        >
                          <div *ngIf="enrolDate.errors.required">
                            Enrol Date is required
                          </div>
                        </div> -->
                                                <span></span>
                                            </div>
                                            <div class="form-group col-md-3 text-right">
                                                <button type="submit" class="constantbtn-button-blue-left">
                          Add
                        </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="tableCompo">
                                    <ngx-enrol-table [pagination]="true" [label]="labelsReg" [tableData]="rowsReg" (clickOnbutton)=visibilityTableRow2($event)></ngx-enrol-table>
                                </div>
                                <!-- <div class="form-group" style="margin-bottom: 0px">
                                    <div class="col-md-12">

                                        <div>
                                            <ngx-datatable #tableDataReg style="width: 100%" class="material" [columns]="columnsReg" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="30" [limit]="5" [rowHeight]="50" [scrollbarV]="true" [rows]="rowsReg" [selected]="selectedReg" [selectionType]="'checkbox'"
                                                [selectAllRowsOnPage]="false" (activate)="onActivateReg($event)" (select)="onSelectReg($event)">

                                                <ngx-datatable-column prop="enrolDate" name="ENROL DATE">
                                                </ngx-datatable-column>

                                                <ngx-datatable-column [width]="50" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                                                    <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                                                        <a class="deleteUserIcon" title="Delete Rule">

                                                            <i title="Enabled" class="fa fa-eye card-footer-icon pointer" aria-hidden="true" (click)="disableregulatoryVisibility(i, row, 0)" *ngIf="row.visible == 1"></i>
                                                            <i title="Disabled" class="fa fa-eye-slash card-footer-icon pointer" aria-hidden="true" (click)="disableregulatoryVisibility(i, row, 1)" *ngIf="row.visible == 0"></i>
                                                        </a>
                                                    </ng-template>
                                                </ngx-datatable-column>
                                                <ngx-datatable-footer>
                                                    <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize" let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset">
                                                        <div style="padding: 5px 10px">

                                                            <div>Total: {{ rowCount }}</div>
                                                        </div>
                                                    </ng-template>
                                                </ngx-datatable-footer>
                                            </ngx-datatable>
                                        </div>
                                    </div>
                                </div> -->
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row m0 formGen selfformGen" id="self">
            <div class="col-md-12 grid-margin stretch-card  selfformGenCard">
                <!-- formGenCard -->
                <div class="card cardForm selfCardForm">
                    <div class="card-body selfCardBody">
                        <div class="headerCard">
                            <h4 class="card-title selfTitle">
                                <label class="sqrCheckBoxEnrol pointer width100 commonLabel">
                  <input
                    id="self"
                    type="checkbox"
                    name="selfEnrol"
                    class="marginRight5px commonInput"
                    (ngModelChange)="onCheckBoxClick($event, 'self')"
                    [(ngModel)]="enrolment.self"
                    data-toggle="collapse"
                    data-target="#collapseself"
                    aria-controls="collapseself"
                  />
                  <!-- <label class="sqrCheckBoxEnrolLabel" for="self"></label> --> Self
                                </label>
                            </h4>
                        </div>
                        <!-- <p class="card-description cardDesc"></p>   -->
                        <div id="collapseself" class="collapse" aria-labelledby="self" data-parent="#accordionExample">
                            <div class="topBorderForm"></div>
                            <form class="forms-sample" class="panel-body selfContent">
                                <div class="form-group" style="margin-bottom: 0px">
                                    <div class="col-md-12 manualToolBar">
                                        <div class="col-md-8">
                                            <input type="text" class="manSearchUsr searchInput commonInput" placeholder="Search users..." (keyup)="searchSelfEnrol($event)" [(ngModel)]="searchvalue.value" name="fname" />
                                            <i class="fa fa-remove searchRemove" (click)="clearself()"></i>
                                        </div>

                                        <div class="col-md-1 text-right">
                                            <button type="submit" class="constantbtn-button-blue-left" (click)="openSelfModal()" id="selfBtn">
                        Settings
                      </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="tableList col-md-12">
                                    <div class="tableCompo">
                                        <ngx-enrol-table [pagination]="true" [label]="labelsSelf" [tableData]="rowsSelf" (clickOnbutton)=visibilityTableRow3($event)></ngx-enrol-table>
                                    </div>
                                    <div style="padding: 10px">
                                        <div>Total: {{ rowsSelf.length }}</div>
                                    </div>
                                </div>

                                <!-- <div class="form-group" style="margin-bottom: 0px">
                                    <div class="col-md-12">
                                        <div>
                                            <ngx-datatable #tableDataSelf style="width: 100%" class="material" [columns]="columnsSelf" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="30" [limit]="5" [rowHeight]="50" [scrollbarV]="true" [rows]="rowsSelf" [selected]="selectedSelf" [selectionType]="'checkbox'"
                                                [selectAllRowsOnPage]="false" (activate)="onActivateSelf($event)" (select)="onSelectSelf($event)">

                                                <ngx-datatable-column prop="ecn" name="EMP CODE"></ngx-datatable-column>
                                                <ngx-datatable-column prop="fullname" name="FULLNAME">
                                                </ngx-datatable-column>
                                                <ngx-datatable-column prop="emailId" name="EMAIL"></ngx-datatable-column>
                                                <ngx-datatable-column prop="phoneNo" name="MOBILE"></ngx-datatable-column>
                                                <ngx-datatable-column prop="enrolDate" name="DOE"></ngx-datatable-column>
                                                <ngx-datatable-column prop="enrolmode" name="MODE"></ngx-datatable-column>

                                                <ngx-datatable-column [width]="50" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                                                    <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                                                        <a class="deleteUserIcon" title="Delete Rule">
                                                            <i title="Enabled" class="fa fa-eye card-footer-icon pointer" aria-hidden="true" (click)="disableselfVisibility(i, row, 0)" *ngIf="row.visible == 1"></i>
                                                            <i title="Disabled" class="fa fa-eye-slash card-footer-icon pointer" aria-hidden="true" (click)="disableselfVisibility(i, row, 1)" *ngIf="row.visible == 0"></i>
                                                        </a>
                                                    </ng-template>
                                                </ngx-datatable-column>
                                                <ngx-datatable-footer>
                                                    <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize" let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset">
                                                        <div style="padding: 5px 10px">

                                                            <div>Total: {{ rowCount }}</div>
                                                        </div>
                                                    </ng-template>
                                                </ngx-datatable-footer>
                                            </ngx-datatable>
                                        </div>
                                    </div>
                                </div> -->
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="addRuleBackdrop" *ngIf="showAddRuleModal == true">
        <div class="addRuleDemoModal">
            <div class="modal-header">
                <p>Rule Enrollment</p>
                <button class="close" aria-label="Close" (click)="closeRuleModal()">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>

            <div class="modal-body rulesDiv">
                <form class="forms-sample " #ruleForm="ngForm" novalidate>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="commonLabel" for="left_space">{{ helpContent?.course_enrol?.name?.label }}
                <sup class="reqFieldActivity">*</sup>
                <div class="help-tooltip">
                  <i
                    class="fa fa-info-circle tooltip-hover-info-label-round"
                    aria-hidden="true"
                  ></i>
                  <div class="help-tooltip-position-right">
                    <p>
                      {{ helpContent?.course_enrol?.name?.labelHelpContent }}
                    </p>
                    <i></i>
                  </div>
                </div>
              </label>

                            <!-- <label class="left_space" for="InputRName">Name
                <sup class="reqFieldActivity">*</sup>
              </label> -->
                            <input type="text" class="form-control form-control-input inputText commonInput" id="InputRName" placeholder="Rule Name" [(ngModel)]="ruleData.name" name="name" minlength="2" maxlength="50" #name="ngModel" required />
                            <div class="errorMsg" *ngIf="name.errors && (name.dirty || name.touched)" class="alert alert-danger">
                                <div [hidden]="!name.errors.required">
                                    Rule Name is required
                                </div>
                                <div [hidden]="!name.errors.minlength">
                                    Minimum 2 characters required
                                </div>
                            </div>
                            <span></span>
                        </div>

                        <div class="form-group col-md-6">
                            <label class="commonLabel" for="left_space">{{ helpContent?.course_enrol?.description?.label }}
                <sup class="reqFieldActivity">*</sup>
                <div class="help-tooltip">
                  <i
                    class="fa fa-info-circle tooltip-hover-info-label-round"
                    aria-hidden="true"
                  ></i>
                  <div class="help-tooltip-position-right">
                    <p>
                      {{
                        helpContent?.course_enrol?.description?.labelHelpContent
                      }}
                    </p>
                    <i></i>
                  </div>
                </div>
              </label>

                            <!-- <label class="left_space" for="InputRDesc">Description
                <sup class="reqFieldActivity">*</sup>
              </label> -->
                            <input type="text" class="form-control form-control-input inputText commonInput" id="InputRDesc" placeholder="Rule Description" [(ngModel)]="ruleData.description" name="description" #description="ngModel" minlength="2" maxlength="50" required />
                            <div class="errorMsg" *ngIf="
                  description.errors &&
                  (description.dirty || description.touched)
                " class="alert alert-danger">
                                <div [hidden]="!description.errors.required">
                                    Description is required
                                </div>
                                <div [hidden]="!description.errors.minlength">
                                    Minimum 2 characters required
                                </div>
                            </div>
                            <span></span>
                        </div>
                    </div>
                    <div class="row">


                        <div class="form-group col-md-4">
                            <label class="commonLabel" for="left_space">{{ helpContent?.course_enrol?.rule_applicability?.label }}
                <sup class="reqFieldActivity">*</sup>
                <div class="help-tooltip">
                  <i
                    class="fa fa-info-circle tooltip-hover-info-label-round"
                    aria-hidden="true"
                  ></i>
                  <div class="help-tooltip-position-right">
                    <p>
                      {{
                        helpContent?.course_enrol?.rule_applicability
                          ?.labelHelpContent
                      }}
                    </p>
                    <i></i>
                  </div>
                </div>
              </label>

                            <select id="dropRuleType" class="form-control form-control-input select_field_height commonSelect" (change)="ruleTypeSelected($event, i, ruleField, type)" [(ngModel)]="ruleData.type" name="type" #type="ngModel" required>
                <option value="" selected disabled>Select</option>
                <option
                  *ngFor="let type of ruleApplicType"
                  value="{{ type.id }}"
                  >{{ type.name }}</option
                >
              </select>
                            <div *ngIf="type.errors && (type.dirty || type.touched)" class="alert alert-danger">
                                <div [hidden]="!type.errors.required">
                                    Rule Applicability is required
                                </div>
                            </div>
                        </div>
                        <!-- new  enrol menu  start--->
                        <!-- <div class="form-group col-md-3">
              <label for="left_space"> Enrol date
                  <sup class="reqFieldActivity">*</sup>
                  <div class="help-tooltip">
                    <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                    <div class="help-tooltip-position-right">
                      <p>Enrol date</p>
                      <i></i>
                    </div>
                  </div>
                </label>

                <label class="left_space" for="dropProspType"> Starts From
                    <sup class="reqFieldActivity">*</sup>
                </label>
                <select id="dropenroltype" class="form-control form-control-input select_field_height"
                    (change)="enroldatetype($event,i,ruleField, ruleenroldate)" [(ngModel)]="ruleData.enroltype"
                    name="ruleenroldate" #rdate="ngModel" required>
                    <option value="" selected disabled>Select</option>
                    <option *ngFor="let prospname of ruledate" value={{prospname.id}}>{{prospname.name}}
                    </option>
                </select>
                <div *ngIf="rdate.errors && (rdate.dirty || rdate.touched)" class="alert alert-danger">
                    <div [hidden]="!rdate.errors.required">Starts from field is required</div>
                </div>
            </div>
            <div class="form-group col-md-3" *ngIf="this.ruleData.enroltype == 3">
                <label for="left_space">Date of joining
                    <div class="help-tooltip">
                      <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                      <div class="help-tooltip-position-right">
                        <p>{{helpContent?.course_enrol?.custom_date?.labelHelpContent}}</p>
                        <i></i>
                      </div>
                    </div>
                  </label>


                <label class="left_space" for="Value"> Custom Date </label>
                [minDate]="minDate"
                <input type="text" class="form-control datePickerInput" [minDate]="nextDay" [maxDate]="maxDate"
                    id="Value" [(ngModel)]="ruleData.enroldate" name="value" #dp="bsDatepicker" bsDatepicker
                    [bsConfig]="{ containerClass: 'theme-dark-blue' }" placement="bottom">
            </div> -->
                        <!--- new enrol date End----->
                        <!-- *ngIf="this.ruleData.type == 2" -->
                        <div class="form-group col-md-3">
                            <label class="commonLabel" for="left_space">{{ helpContent?.course_enrol?.start_from?.label }}
                <sup class="reqFieldActivity">*</sup>
                <div class="help-tooltip">
                  <i
                    class="fa fa-info-circle tooltip-hover-info-label-round"
                    aria-hidden="true"
                  ></i>
                  <div class="help-tooltip-position-right">
                    <p>
                      {{
                        helpContent?.course_enrol?.start_from?.labelHelpContent
                      }}
                    </p>
                    <i></i>
                  </div>
                </div>
              </label>

                            <!-- <label class="left_space" for="dropProspType"> Start From
                <sup class="reqFieldActivity">*</sup>
              </label> -->
                            <select id="dropProspType" class="form-control form-control-input select_field_height commonSelect" (change)="prospTypeSelected($event, i, ruleField, prospname)" [(ngModel)]="ruleData.prospName" name="prospname" #sfrom="ngModel" required>
                <option value="" selected disabled>Select</option>
                <option
                  *ngFor="let prospname of prospectivType"
                  value="{{ prospname.id }}"
                  >{{ prospname.name }}
                </option>
              </select>
                            <div *ngIf="sfrom.errors && (sfrom.dirty || sfrom.touched)" class="alert alert-danger">
                                <div [hidden]="!sfrom.errors.required">
                                    Start from is required
                                </div>
                            </div>
                        </div>
                        <!-- && this.ruleData.type != 1 -->
                        <div class="form-group col-md-3" *ngIf="this.ruleData.prospName == 3">
                            <label class="commonLabel" for="left_space">{{ helpContent?.course_enrol?.custom_date?.label }}
                <sup class="reqFieldActivity">*</sup>
                <div class="help-tooltip">
                  <i
                    class="fa fa-info-circle tooltip-hover-info-label-round"
                    aria-hidden="true"
                  ></i>
                  <div class="help-tooltip-position-right">
                    <p>
                      {{
                        helpContent?.course_enrol?.custom_date?.labelHelpContent
                      }}
                    </p>
                    <i></i>
                  </div>
                </div>
              </label>

                            <!-- <label class="left_space" for="Value"> Custom Date
                <sup class="reqFieldActivity">*</sup>
              </label> -->
                            <!-- [minDate]="minDate" -->
                            <input type="text" class="form-control datePickerInput commonInput" [minDate]="nextDay" [maxDate]="maxDate" id="Value" [(ngModel)]="ruleData.value" name="value" #cdate="ngModel" #dp="bsDatepicker" bsDatepicker [bsConfig]="{
                  containerClass: 'theme-dark-blue',
                  dateInputFormat: 'DD-MM-YYYY'
                }" placement="bottom" required />
                            <div *ngIf="cdate.errors && (cdate.dirty || cdate.touched)" class="alert alert-danger">
                                <div [hidden]="!cdate.errors.required">
                                    Date is required
                                </div>
                            </div>
                        </div>

                        <!-- *ngIf="this.ruleData.type != 2" -->
                        <!-- <div class="form-group col-md-3 addRulebtn" *ngIf="this.ruleData.type != 2">
                        <button type="submit" class="floteright constantbtn" (click)="addRuleList()" id="editbtn" [disabled]="!ruleForm.valid">
                            Add Rule
                        </button>
                        <span></span>
                    </div> -->
                        <!-- *ngIf="this.ruleData.type != 1 && this.ruleData.type"  -->
                        <div class="form-group col-md-2 text-right align-self-baseline">
                            <button type="submit" class="constantbtn-button-blue-left" (click)="addRuleList()" [disabled]="!ruleForm.valid">
                Add
              </button>
                            <span></span>
                        </div>
                    </div>
                    <div class="row" *ngIf="this.ruleData.type"></div>
                    <!-- && ruleData.type != 2 -->
                    <div class="row" *ngIf="profileFieldSelected == true">
                        <div class="rules-row col-md-12" *ngFor="let item of ruleData.profiles; let i = index">
                            <div class="form-group col-md-5">
                                <!-- <select id="dropRuleType_{{ i }}" class="form-control form-control-input select_field_height" [(ngModel)]="item.field" name="fieldId_{{ i }}" #ruleId="ngModel" (change)="
                    ruleFieldTypeSelected($event, i, item);
                    callRuleFieldType($event, i)
                  " required> -->
                                <select [id]="'dropRuleType' + i " class="form-control form-control-input select_field_height commonSelect" #temprulefield="ngModel" [name]="'dropRuleType_' + i" [(ngModel)]="item.field" ngDefaultControl (change)="
                    ruleFieldTypeSelected($event, i, item);
                    callRuleFieldType($event, i, 2)
                  " required>
                  <option value="" selected disabled>Select Type</option>
                  <option
                    *ngFor="let ruleField of profileFields" [disabled]="ruleField.selected == 'true'"
                    value="{{ ruleField.id }}"
                  >
                    {{ ruleField.name }}</option
                  >
                </select>
                                <div *ngIf="temprulefield.errors && (temprulefield.dirty || temprulefield.touched)" class="alert alert-danger">
                                    <div [hidden]="!temprulefield.errors.required">Type is required</div>
                                </div>
                                <!-- <div *ngIf="ruleForm.submitted && field.invalid" class="invalid-text">
                                  <div *ngIf="field.errors.required">Type is required</div>
                                </div> -->
                                <span></span>
                            </div>

                            <div class="form-group col-md-6" *ngIf="controlList[i].datatype == 'text'">
                                <input type="text" class="form-control form-control-input inputText commonInput" [id]="'inputText_' + i " placeholder="Input Text" [name]="'fieldTypeValues_' + i" [(ngModel)]="item.fieldValues" #fieldValues="ngModel" required />
                                <div *ngIf="
                  fieldValues.errors &&
                    (fieldValues.dirty || fieldValues.touched)
                  " class="alert alert-danger">
                                    <div [hidden]="!fieldValues.errors.required">
                                        Input required
                                    </div>
                                </div>
                                <span></span>
                            </div>

                            <div class="form-group col-md-6" *ngIf="controlList[i].datatype == 'textarea'">
                                <input type="text" class="form-control form-control-input inputText commonInput" [id]="'inputText_' + i " placeholder="Input Text" [name]="'fieldTypeValues_' + i" [(ngModel)]="item.fieldValues" #fieldValues="ngModel" required />
                                <div *ngIf="
                  fieldValues.errors &&
                    (fieldValues.dirty || fieldValues.touched)
                  " class="alert alert-danger">
                                    <div [hidden]="!fieldTypeValues.errors.required">
                                        Input required
                                    </div>
                                </div>
                                <span></span>
                            </div>

                            <div class="form-group col-md-6" *ngIf="controlList[i].datatype == 'number'">
                                <input type="number" class="form-control form-control-input inputText commonInput" [id]="'inputText_' + i " placeholder="Input Text" [name]="'fieldTypeValues_' + i" [(ngModel)]="item.fieldValues" #fieldValues="ngModel" required />
                                <div *ngIf="
                  fieldValues.errors &&
                    (fieldValues.dirty || fieldValues.touched)
                  " class="alert alert-danger">
                                    <div [hidden]="!fieldValues.errors.required">
                                        Input required
                                    </div>
                                </div>
                                <span></span>
                            </div>

                            <div class="form-group col-md-6" *ngIf="controlList[i].datatype == 'menu'">
                                <angular2-multiselect [data]="controlList[i].subtype" [(ngModel)]="item.fieldValuesArr" [settings]="settings" (onSelect)="onItemSelectRule($event, i, item)" (onDeSelect)="OnItemDeSelectRule($event, i, item)" (onSelectAll)="onSelectAllRule($event, i, item)"
                                    (onDeSelectAll)="onDeSelectAllRule($event, i, item)" [name]="'fieldTypeValues_' + i" [id]="'fieldTypeValues_' + i" [value]="item.fieldValuesArr" #fieldValuesArr="ngModel" ngDefaultControl required>
                                    <c-item>
                                        <ng-template let-item="item">
                                            <label class="commonLabel">{{ item.name }}</label>
                                        </ng-template>
                                    </c-item>
                                </angular2-multiselect>
                                <div *ngIf="
                  fieldValuesArr.errors &&
                    (fieldValuesArr.dirty || fieldValuesArr.touched)
                  " class="alert alert-danger">
                                    <div [hidden]="!fieldValuesArr.errors.required">
                                        Input required
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-md-6" *ngIf="controlList[i].datatype == 'datetime'">
                                <!-- [minDate]="minDate" -->
                                <input placeholder="Select date:" class="form-control datePickerInput commonInput" [max]="maxDate" [bsConfig]="{
                    containerClass: 'theme-dark-blue',
                    dateInputFormat: 'DD-MM-YYYY'
                  }" [selectMode]="'range'" [owlDateTimeTrigger]="dtRange2" [owlDateTime]="dtRange2" [name]="'fieldTypeValues_' + i" [id]="'fieldTypeValues_' + i" [(ngModel)]="item.fieldValues" [value]="item.fieldValues" ngDefaultControl #fieldValues="ngModel"
                                    required />

                                <!-- <input placeholder="Select date:" class="form-control datePickerInput" [style.width]="'350px'" [max]='maxDate' id="inputDate_{{i}}"
                                [(ngModel)]="item.fieldValues" name="fieldTypeValues_{{i}}" [bsConfig]="{ containerClass: 'theme-dark-blue', dateInputFormat: 'DD-MMM-YYYY'}"
                                    [selectMode]="'range'" #fieldValues="ngModel" required [owlDateTimeTrigger]="dtRange2" [owlDateTime]="dtRange2"> -->
                                <owl-date-time [pickerType]="'calendar'" #dtRange2></owl-date-time>
                                <div *ngIf="
                    fieldValues.errors &&
                    (fieldValues.dirty || fieldValues.touched)
                  " class="alert alert-danger">
                                    <div [hidden]="!fieldValues.errors.required">
                                        Input required
                                    </div>
                                </div>
                                <span></span>
                            </div>

                            <div class="form-group col-md-1">
                                <span class="glyphicon glyphicon-remove pull-right paraRemove fa fa-times" *ngIf="ruleData.profiles.length > 1" (click)="removeRuleList(i)"></span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer text-right">
                <button type="button" class="constantbtn-button-blue-left" [disabled]="!ruleData.profiles.length" (click)="saveRule($event, ruleForm)">
          Save
        </button>
                <!-- <button type="button" class="floteright constantbtn" *ngIf="this.ruleData.type == 2" [disabled]=" !ruleForm.valid"
                (click)="saveRule($event)" id="editbtn">Save</button> -->
            </div>
        </div>
    </div>

    <div class="addRegulatoryBackdrop" *ngIf="showAddRegulatoryFilterModal == true">
        <div class="addRegulatoryDemoModal">
            <div class="modal-header">
                <p>Add Filter</p>
                <button class="close" aria-label="Close" (click)="closeRegulatoryFilterModal()">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>

            <div class="modal-body regFormContainer">
                <form #addRegFilterForm="ngForm" novalidate style="width: 100%;">
                    <div class="row" *ngIf="regFilterProfileFieldSelected == true">
                        <div class="width100" *ngFor="let item of regularData.profiles; let i = index">
                            <div class="form-group col-md-6">
                                <!-- <select id="dropRuleType_{{ i }}" class="form-control form-control-input select_field_height" [(ngModel)]="item.field" name="fieldId_{{ i }}" #ruleId="ngModel" (change)="
                    ruleFieldTypeSelected($event, i, item);
                    callRuleFieldType($event, i)
                  " required> -->
                                <select class="form-control form-control-input select_field_height commonSelect" [name]="'fieldId_' + i" [id]="'fieldId_' + i" [(ngModel)]="item.field" #ruleId="ngModel" ngDefaultControl (change)="
                    regFilterTypeSelected($event, i, item);
                    callTypeRegFilter($event, i, 2)
                  " required>
                  <option value="" selected disabled>Select Type</option>
                  <option
                    *ngFor="let ruleField of profileFieldsRegFilter" [disabled]="ruleField.selected == 'true'"
                    value="{{ ruleField.id }}"
                  >
                    {{ ruleField.name }}</option
                  >
                </select>

                                <div *ngIf="ruleId.errors && (ruleId.dirty || ruleId.touched)" class="alert alert-danger">
                                    <div [hidden]="!ruleId.errors.required">
                                        Type is required
                                    </div>
                                </div>
                                <span></span>
                            </div>

                            <div class="form-group col-md-5" *ngIf="controlList[i].datatype == 'text'">
                                <input type="text" class="form-control form-control-input inputText commonInput" [id]="'inputText_' + i " placeholder="Input Text" [name]="'fieldTypeValues_' + i" [(ngModel)]="item.fieldValues" #fieldValues="ngModel" required />
                                <div *ngIf="
                  fieldValues.errors &&
                    (fieldValues.dirty || fieldValues.touched)
                  " class="alert alert-danger">
                                    <div [hidden]="!fieldValues.errors.required">
                                        Input required
                                    </div>
                                </div>
                                <span></span>
                            </div>
                            <div class="form-group col-md-5" *ngIf="controlList[i].datatype == 'textarea'">
                                <input type="text" class="form-control form-control-input inputText commonInput" [id]="'inputText_' + i " placeholder="Input Text" [name]="'fieldTypeValues_' + i" [(ngModel)]="item.fieldValues" #fieldValues="ngModel" required />
                                <div *ngIf="
                  fieldValues.errors &&
                    (fieldValues.dirty || fieldValues.touched)
                  " class="alert alert-danger">
                                    <div [hidden]="!fieldValues.errors.required">
                                        Input required
                                    </div>
                                </div>
                                <span></span>
                            </div>
                            <div class="form-group col-md-5" *ngIf="controlList[i].datatype == 'number'">
                                <input type="number" class="form-control form-control-input inputText commonInput" [id]="'inputText_' + i " placeholder="Input Text" [name]="'fieldTypeValues_' + i" [(ngModel)]="item.fieldValues" #fieldValues="ngModel" required />
                                <div *ngIf="
                  fieldValues.errors &&
                    (fieldValues.dirty || fieldValues.touched)
                  " class="alert alert-danger">
                                    <div [hidden]="!fieldValues.errors.required">
                                        Input required
                                    </div>
                                </div>
                                <span></span>
                            </div>
                            <div class="form-group col-md-5" *ngIf="controlList[i].datatype == 'menu'">
                                <span></span>
                                <angular2-multiselect [data]="controlList[i].subtype" [(ngModel)]="item.fieldValuesArr" [settings]="settings" (onSelect)="onItemSelectRule($event, i, item)" (onDeSelect)="OnItemDeSelectRule($event, i, item)" (onSelectAll)="onSelectAllRule($event, i, item)"
                                    (onDeSelectAll)="onDeSelectAllRule($event, i, item)" [name]="'fieldTypeValues_' + i" [id]="'fieldTypeValues_' + i" [value]="item.fieldValuesArr" #fieldValuesArr="ngModel" ngDefaultControl required>
                                    <c-item>
                                        <ng-template let-item="item">
                                            <label class="commonLabel">{{ item.name }}</label>
                                        </ng-template>
                                    </c-item>
                                </angular2-multiselect>

                                <div *ngIf="
                fieldValuesArr.errors &&
                    (fieldValuesArr.dirty || fieldValuesArr.touched)
                " class="alert alert-danger">
                                    <div [hidden]="!fieldValuesArr.errors.required">
                                        Input required
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-5" *ngIf="controlList[i].datatype == 'datetime'">
                                <!-- [minDate]="minDate" -->
                                <input placeholder="Select date:" class="form-control datePickerInput commonInput" [max]="maxDate" [bsConfig]="{
                    containerClass: 'theme-dark-blue',
                    dateInputFormat: 'DD-MM-YYYY'
                  }" [selectMode]="'range'" [owlDateTimeTrigger]="dtRange3" [owlDateTime]="dtRange3" [name]="'fieldTypeValues_' + i" [id]="'fieldTypeValues_' + i" [(ngModel)]="item.fieldValues" [value]="item.fieldValues" ngDefaultControl #fieldValues="ngModel"
                                    required />
                                <owl-date-time [pickerType]="'calendar'" #dtRange3></owl-date-time>
                                <div *ngIf="
                  fieldValues.errors &&
                    (fieldValues.dirty || fieldValues.touched)
                  " class="alert alert-danger">
                                    <div [hidden]="!fieldValues.errors.required">
                                        Date is required
                                    </div>
                                </div>
                                <span></span>
                            </div>
                            <div class="form-group col-md-1">
                                <span class="glyphicon glyphicon-remove pull-right paraRemove fa fa-times" *ngIf="regularData.profiles.length > 1" (click)="removeRegFilter(i)"></span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer text-right">
                <button type="submit" class="constantbtn-button-blue-left" [disabled]="!addRegFilterForm.valid" (click)="addRegulatoryFilter()" id="editbtn">
          Add
        </button>
                <button type="button" class="constantbtn-button-blue-left" (click)="saveRegFilter(regularData, addRegFilterForm)" id="editbtn">
          Save
        </button>
                <!-- [disabled]="!addRegFilterForm.valid" -->
            </div>
        </div>
    </div>

    <div class="addRegulatoryBackdrop" *ngIf="showAddRegulatoryModal == true">
        <div class="addRegulatoryDemoModal">
            <div class="modal-header">
                <p>Regulatory Based Enrollment</p>
                <button class="close" aria-label="Close" (click)="closeRegulatoryModal()">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>

            <div class="modal-body regFormContainer">
                <!-- <form class="forms-sample col-md-12">
          <div class="form-group col-md-4">
            <label class="left_space" for="InputRName">Enrol date</label>
            <input type="text" class="form-control datePickerInput" [minDate]="minDate" [maxDate]="maxDate"
              		#dp="bsDatepicker" bsDatepicker [(bsValue)]="myDateValue" [bsConfig]="{ containerClass: 'theme-dark-blue' }" placement="bottom">
            <span></span>
          </div>

          <div class="form-group col-md-4">
            <label class="left_space" for="InputRDesc">Due days</label>
            <input type="text" class="form-control form-control-input inputText" id="InputRDesc" placeholder="Due days" name="dueDays" [(ngModel)]="regData.dueDays" #dueDays = "ngModel" required>
            <div [hidden]="dueDays.valid || dueDays.pristine" class="alert alert-danger">
              <div [hidden]="!dueDays.errors.required">Due days required</div>
            </div>
            <span></span>
          </div>

          <div class="form-group col-md-4">
            <label class="left_space" for="dropRuleType">Reminder days</label>
            <input type="text" class="form-control form-control-input inputText" id="InputRDesc" placeholder="Reminder days" name="reminder" [(ngModel)]="regData.reminder" #reminder = "ngModel" required>
            <div [hidden]="reminder.valid || reminder.pristine" class="alert alert-danger">
              <div [hidden]="!reminder.errors.required">Reminder days required</div>
            </div>
          </div>
        </form> -->

                <form [formGroup]="regulatoryForm" novalidate (ngSubmit)="save(regulatoryForm.value)">
                    <div class="form-group">
                        <div formArrayName="fields">
                            <div *ngFor="
                  let field of regulatoryForm.controls.fields.controls;
                  let i = index
                " class="">
                                <div class="mainDrop">
                                    <span class="glyphicon glyphicon-remove pull-right paraRemove fa fa-times" *ngIf="regulatoryForm.controls.fields.controls.length > 1" (click)="removeRegForm(i)"></span>
                                </div>
                                <div class="" [formGroupName]="i">
                                    <div class="mainDropParaRow col-md-12">
                                        <div class="form-group col-md-4">
                                            <label class="left_space commonLabel" for="InputRName">Enrol date</label
                      >
                      <!-- [minDate]="minDate" -->
                      <input

                        type="text"
                        class="form-control datePickerInput commonInput"
                        [maxDate]="maxDate"
                        #dp="bsDatepicker"
                        bsDatepicker
                        [bsConfig]="{
                          containerClass: 'theme-dark-blue',
                          dateInputFormat: 'DD-MM-YYYY'
                        }"
                        placement="bottom"
                        formControlName="enrolDate"
                      />
                      <!--[(bsValue)]="myDateValue" [bsConfig]="bsConfig" [bsConfig]="{ containerClass: 'custom-today-class' }" -->
                      <span></span>
                    </div>

                    <!-- <div class="form-group col-md-4"> -->
                    <!-- <label class="left_space" for="InputRDesc">Due days</label>
                                            <select id="dueDays_{{i}}" name="dueDays" formControlName="dueDays" class="form-control form-control-input select_field_height vaildDrop2" autocomplete="false" (change)="callTypeRegDueDays($event,i,field)" required>
			                          	<option value="" selected disabled>Select</option>
			                          	<option *ngFor="let day of dueDaysArr; let j=index" value={{day.id}}>{{day.name}}</option>
			                        </select> -->
                                            <!-- <mat-form-field>
									  <mat-select placeholder="Toppings" [formControlName]="dueDays" multiple>
									    <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
									  </mat-select>
									</mat-form-field> -->
                                            <!-- <span></span>
						        </div>  -->

                                            <!-- <div class="form-group col-md-4">
						            <label class="left_space" for="dropRuleType">Reminder days</label>
						            <select id="remDays_{{i}}" name="reminder" formControlName="remDays" class="form-control form-control-input select_field_height vaildDrop2" autocomplete="false" required>
			                          	<option value="" selected disabled>Select</option>
			                          	<option *ngFor="let day of remDaysArr" value={{day.id}} [hidden]="dueDays < day.id">{{day.name}}</option>
			                        </select>
						        </div> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </form>
                </div>

                <div class="modal-footer text-right">
                    <button type="submit" class="constantbtn-button-blue-left" (click)="addRegForm()" id="editbtn">
          <!-- <i class="fa fa-plus"></i> -->Add
        </button>
                    <button type="button" class="constantbtn-button-blue-left" (click)="saveReg()" id="editbtn">
          Save
        </button>
                </div>
            </div>
        </div>

        <div class="addSelfBackdrop" *ngIf="showAddSelfModal == true">
            <div class="addSelfDemoModal">
                <div class="modal-header">
                    <p>Self Enrollment</p>
                    <button class="close" aria-label="Close" (click)="closeSelfModal()">
          <span aria-hidden="true" class="closebtn">&times;</span>
        </button>
                </div>

                <div class="modal-body addSelfEnrolHeightContainer">
                    <form class="forms-sample rules-row col-md-12" #selfForm="ngForm">
                        <div class="row ">
                            <div class="form-group col-md-3">
                                <label class="commonLabel" for="left_space">{{ helpContent?.course_enrol?.self_type?.label }}
                <sup class="reqFieldActivity">*</sup>
                <div class="help-tooltip">
                  <i
                    class="fa fa-info-circle tooltip-hover-info-label-round"
                    aria-hidden="true"
                  ></i>
                  <div class="help-tooltip-position-right">
                    <p>
                      {{
                        helpContent?.course_enrol?.self_type?.labelHelpContent
                      }}
                    </p>
                    <i></i>
                  </div>
                </div>
              </label>

                                <select id="dropRuleType" class="form-control form-control-input select_field_height commonSelect" [(ngModel)]="selfFieldsData.sid" name="id" #id="ngModel" required>
                <option value="" selected disabled>Select Type </option>
                <option *ngFor="let type of selfType" value="{{ type.id }}">{{
                  type.name
                }}</option>
              </select>
                                <div *ngIf="id.errors && (id.dirty || id.touched)" class="alert alert-danger">
                                    <div [hidden]="!id.errors.required">Type is required</div>
                                </div>
                            </div>

                            <div class="form-group col-md-3">
                                <label class="commonLabel" for="left_space">{{ helpContent?.course_enrol?.max_enrollments?.label }}
                <sup class="reqFieldActivity">*</sup>
                <div class="help-tooltip">
                  <i
                    class="fa fa-info-circle tooltip-hover-info-label-round"
                    aria-hidden="true"
                  ></i>
                  <div class="help-tooltip-position-right">
                    <p>
                      {{
                        helpContent?.course_enrol?.max_enrollments
                          ?.labelHelpContent
                      }}
                    </p>
                    <i></i>
                  </div>
                </div>
              </label>

                                <!-- <label class="left_space" for="InputRDesc">Max Enrollments
                <sup class="reqFieldActivity">*</sup>
              </label> -->
                                <input type="number" class="form-control form-control-input inputText commonInput" id="InputRDesc" placeholder="Max Enrollments" [(ngModel)]="selfFieldsData.maxCount" name="maxCount" #maxCount="ngModel" required />
                                <div *ngIf="maxCount.errors && (maxCount.dirty || maxCount.touched)" class="alert alert-danger">
                                    <div [hidden]="!maxCount.errors.required">
                                        Max count is required
                                    </div>
                                </div>
                                <span></span>
                            </div>

                            <div class="form-group col-md-3">
                                <label class="commonLabel" for="left_space">{{ helpContent?.course_enrol?.fields_type?.label }}
                <sup class="reqFieldActivity">*</sup>
                <div class="help-tooltip">
                  <i
                    class="fa fa-info-circle tooltip-hover-info-label-round"
                    aria-hidden="true"
                  ></i>
                  <div class="help-tooltip-position-right">
                    <p>
                      {{
                        helpContent?.course_enrol?.fields_type?.labelHelpContent
                      }}
                    </p>
                    <i></i>
                  </div>
                </div>
              </label>

                                <!-- <label class="left_space" for="dropRuleType">Fields Type
                <sup class="reqFieldActivity">*</sup>
              </label> -->
                                <select id="dropSelfType_{{ i }}" class="form-control form-control-input select_field_height commonSelect" (change)="selfFieldTypeSelected($event, i, selfField)" [(ngModel)]="selfFieldsData.type" name="selfType_{{ i }}" #type="ngModel" required>
                <option value="" selected disabled
                  >Select Type
                  <sup class="reqFieldActivity">*</sup>
                </option>
                <option
                  *ngFor="let ftype of selfFeildType"
                  value="{{ ftype.selfTypeId }}"
                >
                  {{ ftype.selfTypeName }}</option
                >
              </select>
                                <div *ngIf="type.errors && (type.dirty || type.touched)" class="alert alert-danger">
                                    <div [hidden]="!type.errors.required">
                                        Fields Type is required
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-md-3 addSelfbtn text-right">
                                <button type="submit" class="constantbtn-button-blue-left" (click)="addSelfFields()" id="editbtn" [disabled]="!selfForm.valid">
                Add Field
              </button>
                                <!-- [disabled]="!selfForm.valid" -->
                                <span></span>
                            </div>
                        </div>
                        <!--  *ngIf="isFetchingSettings" -->
                        <!-- selfProfileFieldSelected == true || selfFieldsData.profiles -->
                        <div class="row" *ngIf="isFetchingSettings">
                            <div class="rules-row col-md-12" *ngFor="let selfField of selfFieldsData.profiles; let i = index">
                                <div class="form-group col-md-6">
                                    <!-- [(ngModel)]="item.field" -->
                                    <!-- <select id="dropSelfRuleType_{{ i }}" class="form-control form-control-input select_field_height" [(ngModel)]="selectedFilterOptionSelf[i]" name="dropSelfRuleType_{{ i }}" #dropSelfRuleType="ngModel"
                                    (change)="selfFieldTypeSelected($event, i, item);callTypeSelfFields($event, i)" required> -->
                                    <select class="form-control form-control-input select_field_height commonSelect" #dropSelfRuleType="ngModel" [name]="'dropSelfRuleType_' + i" [id]="'dropSelfRuleType_' + i" [(ngModel)]="selfField.field" ngDefaultControl (change)="
                    selfFieldTypeSelected($event, i, selfField);
                    callTypeSelfFields($event, i, 2)
                  " required>
                  <option value="" selected disabled>Select Type</option>
                  <option
                    *ngFor="let selfProField of profileFieldsSelf"
                    [disabled]="selfProField.selected == 'true'"
                    [value]="selfProField.id"
                    >{{ selfProField.name }}</option
                  >
                  <!-- [ngValue]="selfProField" [value]="selfProField.id" [value]="convert_string_to_int(selfField.field)" name="dropSelfRuleType_{{ i }}" -->
                </select>
                                    <div *ngIf="
                    dropSelfRuleType.errors &&
                    (dropSelfRuleType.dirty || dropSelfRuleType.touched)
                  " class="alert alert-danger">
                                        <div [hidden]="!dropSelfRuleType.errors.required">
                                            Type is required
                                        </div>
                                    </div>
                                    <span></span>
                                </div>
                                <div class="form-group col-md-5" *ngIf="controlList[i].datatype == 'text'">
                                    <input type="text" class="form-control form-control-input inputText commonInput" [id]="'inputText_' + i " placeholder="Input Text" [name]="'fieldTypeValues_' + i" [(ngModel)]="item.fieldValues" #fieldTypeValues="ngModel" required />
                                    <div *ngIf="
                    fieldTypeValues.errors &&
                    (fieldTypeValues.dirty || fieldTypeValues.touched)
                  " class="alert alert-danger">
                                        <div [hidden]="!fieldTypeValues.errors.required">
                                            Input required
                                        </div>
                                    </div>
                                    <span></span>
                                </div>
                                <div class="form-group col-md-5" *ngIf="controlList[i].datatype == 'textarea'">
                                    <input type="text" class="form-control form-control-input inputText commonInput" [id]="'inputText_' + i " placeholder="Input Text" [name]="'fieldTypeValues_' + i" [(ngModel)]="item.fieldValues" #fieldTypeValues="ngModel" required />
                                    <div *ngIf="
                    fieldTypeValues.errors &&
                    (fieldTypeValues.dirty || fieldTypeValues.touched)
                  " class="alert alert-danger">
                                        <div [hidden]="!fieldTypeValues.errors.required">
                                            Input required
                                        </div>
                                    </div>
                                    <span></span>
                                </div>
                                <div class="form-group col-md-5" *ngIf="controlList[i].datatype == 'number'">
                                    <input type="number" class="form-control form-control-input inputText commonInput" [id]="'inputText_' + i " placeholder="Input Text" [name]="'fieldTypeValues_' + i" [(ngModel)]="item.fieldValues" #fieldTypeValues="ngModel" required />
                                    <div *ngIf="
                    fieldTypeValues.errors &&
                    (fieldTypeValues.dirty || fieldTypeValues.touched)
                  " class="alert alert-danger">
                                        <div [hidden]="!fieldTypeValues.errors.required">
                                            Input required
                                        </div>
                                    </div>
                                    <span></span>
                                </div>

                                <div class="form-group col-md-5" *ngIf="controlList[i].datatype == 'menu'">
                                    <angular2-multiselect [data]="controlList[i].subtype" [(ngModel)]="selfField.fieldValuesArr" [settings]="settings" (onSelect)="onItemSelectSelf($event, i, selfField)" (onDeSelect)="OnItemDeSelectSelf($event, i, selfField)" (onSelectAll)="onSelectAllSelf($event, i, selfField)"
                                        (onDeSelectAll)="onDeSelectAllSelf($event, i, selfField)" [name]="'fieldTypeValues_' + i" [id]="'fieldTypeValues_' + i" #fieldValuesArr="ngModel" ngDefaultControl required>
                                        <c-item>
                                            <ng-template let-item="item">
                                                <label class="commonLabel">{{ item.name }}</label>
                                            </ng-template>
                                        </c-item>
                                    </angular2-multiselect>
                                    <div *ngIf="fieldValuesArr.errors && (fieldValuesArr.dirty || fieldValuesArr.touched)" class="alert alert-danger">
                                        <div [hidden]="!fieldValuesArr.errors.required">Input required</div>
                                    </div>
                                </div>
                                <!-- [(ngModel)]="selectedfiltervalue[i]"  -->

                                <div class="form-group col-md-5" *ngIf="controlList[i].datatype == 'datetime'">
                                    <!-- [minDate]="minDate" -->
                                    <input placeholder="Select date:" class="form-control datePickerInput commonInput" [max]="maxDate" [bsConfig]="{
                    containerClass: 'theme-dark-blue',
                    dateInputFormat: 'DD-MM-YYYY'
                  }" [selectMode]="'range'" [owlDateTimeTrigger]="dtRange4" [owlDateTime]="dtRange4" [name]="'fieldTypeValues_' + i" [id]="'fieldTypeValues_' + i" [(ngModel)]="selfField.fieldValues" ngDefaultControl #fieldValues="ngModel" required />
                                    <owl-date-time [pickerType]="'calendar'" #dtRange4></owl-date-time>
                                    <div *ngIf="
                    fieldValues.errors &&
                    (fieldValues.dirty || fieldValues.touched)
                  " class="alert alert-danger">
                                        <div [hidden]="!fieldValues.errors.required">
                                            Input required
                                        </div>
                                    </div>
                                    <span></span>
                                </div>

                                <div class="form-group col-md-1">
                                    <span class="glyphicon glyphicon-remove pull-right paraRemove fa fa-times" *ngIf="selfFieldsData.profiles.length > 1" (click)="removeSelfFields(i, id, selfField)"></span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="modal-footer text-right">
                    <!-- <button type="button" *ngIf = "selfProfileFieldSelected == false" class=" floteright constantbtn" (click)="saveSelfFields()" id="editbtn" [disabled]="!selfForm.valid">Save</button>             -->
                    <button type="button" class="constantbtn-button-blue-left" (click)="saveSelfFields(selfFieldsData, selfForm)" id="editbtn" [disabled]="!addSelfFieldsForm.valid && !selfForm.valid">
          Save
        </button>
                    <!-- [disabled]="!addSelfFieldsForm.valid" -->
                </div>
            </div>
        </div>

        <div class="ruleUsersBackdrop" *ngIf="showRuleUsersModal == true">
            <div class="ruleUsersDemoModal">
                <div class="modal-header">
                    <p>Applicable users to {{ ruleUsersModelTitle }}</p>
                    <button class="close" aria-label="Close" (click)="closeRuleUsersModal()">
          <span aria-hidden="true">&times;</span>
        </button>
                </div>

                <div class="modal-body">
                    <form class="forms-sample" class="" #userForm="ngForm" style="width:100%">
                        <div class="form-group" style="margin-bottom: 0px">
                            <div class="col-md-12 manualToolBar">
                                <div class="col-md-12">
                                    <input type="text" class="manSearchUsr searchInput commonInput" placeholder="Type to filter the users..." (keyup)="searchEnrolRule($event)" />
                                </div>
                                <!-- <div class="col-md-1" floteright>
      					<button type="submit" class="btn-default floteright" (click)="manEnrolUser()" id="manEnrolBtn">Add user</button>
		    		</div> -->
                            </div>
                        </div>
                        <div class="tableCompo">
                            <ngx-enrol-table [pagination]="true" [label]="labels4" [tableData]="rowsEnrolRule"></ngx-enrol-table>
                        </div>
                        <!-- <div class="form-group" style="margin-bottom: 0px">
                            <div class="col-md-12">
                                <div>
                                    <ngx-datatable #tableDataManual style="width: 100%" class="material" [columns]="columnsManual" [loadingIndicator]="loadingIndicator" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="30" [limit]="5" [rowHeight]="50" [scrollbarV]="true" [selectionType]="'checkbox'"
                                        [selectAllRowsOnPage]="false" [rows]="rowsEnrolRule">
                                        <ngx-datatable-column prop="ecn" name="EMP CODE"></ngx-datatable-column>
                                        <ngx-datatable-column prop="fullname" name="FULLNAME"></ngx-datatable-column>
                                        <ngx-datatable-column prop="emailId" name="EMAIL"></ngx-datatable-column>
                                        <ngx-datatable-column prop="phoneNo" name="MOBILE"></ngx-datatable-column>
                                        <ngx-datatable-column prop="enrolDate" name="DOE"></ngx-datatable-column>
                                        <ngx-datatable-column prop="enrolmode" name="MODE"></ngx-datatable-column>
                                    </ngx-datatable>
                                </div>
                            </div>
                        </div> -->
                    </form>
                </div>

                <div class="modal-footer">
                    <!-- <button type="button" class="btn-default floteright constantbtn" [disabled]="!addRulesForm.valid" (click)="saveRule($event)" id="editbtn">Save</button> -->
                </div>
            </div>
        </div>
    </div>
