<div class="row height100per">
  <div class="col-md-12">
    <nb-card class="height100per">
      <nb-card-body>
        <div class="flex-centered col-xl-4 col-lg-6 col-md-8 col-sm-12">
          <h2 class="title">Server not responding!</h2>
          <small class="sub-title">Please contact your administrator.</small>
          <button (click)="goToHome()" type="button" class="btn btn-block btn-hero-primary">
            Go to dashboard
          </button>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>