
<div class="widgets">
    <div class="col-md-12 toprow sticky-top">
  <div class="col-md-6">
    <h3 class="h3lable">Analytics</h3>
  </div>
  <div class="col-md-6 flotlefttop">
   <!-- <button type="button" class="backcombut"  (click)="back()" >Back</button>  -->
  </div>
  </div>
    <div ba-panel ba-panel-class="with-scroll">
       <section id="feature" class="section01" style="float:none;">
        <div class="container">
            <div class="row col-md-12" style="margin: 25px">
                <div class="col-md-6" style="padding: 10px;cursor: pointer;border:none" *ngIf="learning == true">
                    <div class="element-animate" style="border:2px solid #e2f2f9;box-shadow: 2px 4px #e2f2f9; border-radius:10px;background-color:#ffffff;cursor: pointer;height: 240px;outline-style: none;" (click)="gotolearning()">
                        <!-- col-lg-4 mb-4 -->
                        <div class="ion-ios-cloud cloud"></div>
                        <div class="media custom-media" style="cursor: pointer;">
                            <!-- <img class="mr-3" width="30" src="img/img_1.jpg" alt="Generic placeholder image"> -->
                            <div class="media-body" style="cursor: pointer;">
                                <h3 class="mt-0" style="text-align:center; color:#076ba1;cursor: pointer;">Learning</h3>
                                <!-- <p class="post-meta">May 12, 2018, <a href="#">Children Ministries</a></p> -->
                               <p style="text-align:center; font-weight:300;cursor: pointer;"> Get all the information related to your users here.</p>
                            </div>
                        </div>
                    </div>
                </div>
                 <div class="col-md-6" style="padding: 10px;" *ngIf="marketing == true">
                    <div class="element-animate" style="border:2px solid #e2f2f9;box-shadow: 2px 4px #e2f2f9; border-radius:10px;background-color:#ffffff; margin-top:0px;height: 240px;cursor: pointer;" >
                        <!-- col-lg-4 mb-4 (click)="gotomarketing()"-->
                        <div class="ion-ios-cloud cloud"></div>
                        <div class="media custom-media">
                            <!-- <img class="mr-3" width="30" src="img/img_1.jpg" alt="Generic placeholder image"> -->
                            <div class="media-body">
                                <h3 class="mt-0" style="text-align:center; color:#076ba1;">Marketing</h3>
                                <!-- <p class="post-meta">May 12, 2018, <a href="#">Children Ministries</a></p> -->
                                <p style="text-align:center; font-weight:300;">Get all the information related to your users here</p>
                            </div>
                        </div>
                    </div>
                </div>
                 <div class="col-md-6" style="padding: 10px;" *ngIf="huddle == true">
                    <div class="element-animate" style="border:2px solid #e2f2f9;box-shadow: 2px 4px #e2f2f9; border-radius:10px;background-color:#ffffff; margin-top:0px;height: 240px;cursor: pointer;" >
                        <!-- col-lg-4 mb-4 (click)="gotohuddle()"-->
                        <div class="ion-ios-cloud cloud"></div>
                        <div class="media custom-media">
                            <!-- <img class="mr-3" width="30" src="img/img_1.jpg" alt="Generic placeholder image"> -->
                            <div class="media-body">
                                <h3 class="mt-0" style="text-align:center; color:#076ba1;">Huddle</h3>
                                <!-- <p class="post-meta">May 12, 2018, <a href="#">Children Ministries</a></p> -->
                                <p style="text-align:center; font-weight:300;">Get all the information related to your users here</p>
                            </div>
                        </div>
                    </div>
                </div>

              
            </div>
                    
        </div>

</section>
</div>

</div>
<!-- <breadcrumb [allowBootstrap]="true"></breadcrumb> -->
<router-outlet></router-outlet>
