<div class="workflowSteps">

  <div class="">
    <!-- <p class="takeANote">Workflow Steps</p> -->
    <div class="stepFooter pb-3 pt-3">
      <!-- <button class="constantbtn-button-blue-left" (click)="onSubmit()">Save</button> -->
      <!-- [disabled]="!stepForm.form.valid" -->
    </div>
  </div>

  <form #stepForm="ngForm" class="formPadding">
    <div class="stepRow headRow">
      <label> Steps </label>
      <label> Weightage<sup class="reqFieldActivity">*</sup> </label>
      <label> Start Date<sup class="reqFieldActivity">*</sup> </label>
      <label> End Date<sup class="reqFieldActivity">*</sup> </label>
      <label> Activity/Category<sup class="reqFieldActivity">*</sup> </label>
      <label> Module/Program<sup class="reqFieldActivity">*</sup> </label>
      <label> Re certification </label>
    </div>
    <div class="stepRow" *ngFor="let item of steps; let i = index">
      <div class="stepName">
        <label class="stepLabel">{{ item.displayName }}
          <input type="checkbox" id="stepno{{i}}" name="stepno{{i}}" value="true" [(ngModel)]="item.checked"
            (click)="onChecked($event)">
          <span class="stepMarker"></span>
        </label>
      </div>

      <div class="" *ngIf="item.checked == true">
        <!-- <label>{{helpContent?.ttt_steps_add_edit?.weightage?.label}}
              <sup class="reqFieldActivity">*</sup>
              <div class="help-tooltip">
                <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                <div class="help-tooltip-position-right">
                  <p>{{helpContent?.ttt_steps_add_edit?.weightage?.labelHelpContent}}</p>
                  <i></i>
                </div>
              </div>
            </label> -->
        <!-- <label>Weightage<sup class="reqFieldActivity">*</sup></label> -->
        <input type="number" placeholder="Enter weightage in %" id="weightage{{i}}" name="weightage{{i}}"
          class="form-control fz-13" #weightage="ngModel" (keyup)="getWeightage($event, stepForm)"
          [(ngModel)]="item.weightage" required min="1" max="999" pattern="">
        <div [hidden]="weightage.valid || weightage.pristine" class="alert alert-danger">
          <div [hidden]="!weightage.hasError('required')">Enter weightage of step</div>
          <!-- <div *ngIf="weightage.invalid">Enter value less than 100</div> -->
        </div>
      </div>

      <div class="" *ngIf="item.checked == true">
        <!-- <label>{{helpContent?.ttt_steps_add_edit?.start_date?.label}}
              <sup class="reqFieldActivity">*</sup>
              <div class="help-tooltip">
                <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                <div class="help-tooltip-position-right">
                  <p>{{helpContent?.ttt_steps_add_edit?.start_date?.labelHelpContent}}</p>
                  <i></i>
                </div>
              </div>
            </label> -->


        <!-- <label class="">Start Date<sup class="reqFieldActivity">*</sup> </label> -->
        <div class="flexInput">
          <input [owlDateTime]="dt1" placeholder="dd-mm-yyyy" [owlDateTimeTrigger]="dt1"
            class="form-control dateinput_border fz-13" name="sdate{{i}}" [(ngModel)]="item.startDate"
            #startDate="ngModel" (dateTimeChange)="onSearchChange($event.value)" [min]="lastEndDate" required />
          <div class="divcalicon" [owlDateTimeTrigger]="dt1">
            <i class="fa fa-calendar calfont"></i>
          </div>
          <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
        </div>
        <div [hidden]="startDate.valid || startDate.pristine" class="alert alert-danger">
          <div [hidden]="!startDate.hasError('required')">Enter Start date of the workflow step</div>
        </div>
      </div>
      <div class="" *ngIf="item.checked == true">
        <!-- <label>{{helpContent?.ttt_steps_add_edit?.end_date?.label}}
              <sup class="reqFieldActivity">*</sup>
              <div class="help-tooltip">
                <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                <div class="help-tooltip-position-right">
                  <p>{{helpContent?.ttt_steps_add_edit?.end_date?.labelHelpContent}}</p>
                  <i></i>
                </div>
              </div>
            </label> -->

        <!-- <label class="">End Date<sup class="reqFieldActivity">*</sup> </label> -->
        <div class="flexInput">
          <input [owlDateTime]="dt2" placeholder="dd-mm-yyyy" [owlDateTimeTrigger]="dt2"
            class="form-control dateinput_border fz-13" name="enddate{{i}}" [(ngModel)]="item.endDate"
            #enddate="ngModel" [min]="minDateto" required />
          <div class="divcalicon" [owlDateTimeTrigger]="dt2">
            <i class="fa fa-calendar calfont"></i>
          </div>
          <owl-date-time [pickerType]="'calendar'" #dt2></owl-date-time>
        </div>
        <div [hidden]="enddate.valid || enddate.pristine" class="alert alert-danger">
          <div [hidden]="!enddate.hasError('required')">Enter End date of workflow step</div>
        </div>
      </div>

      <div class="">
        <div *ngIf="item.checked == true && item.isActivityEnable == 1">
          <!-- <label class="">Activity<sup class="reqFieldActivity">*</sup></label> -->
          <select class="form-control drop-height" name="categories{{i}}" id="categories{{i}}"
            [(ngModel)]="item.activityId" #category="ngModel" required>
            <option value="0" selected disabled>Select Activity</option>
            <option *ngFor="let dropdown of activities" value={{dropdown.actId}}>{{ dropdown.actName }}</option>
          </select>
          <div [hidden]="category.valid || category.pristine" class="alert alert-danger">
            <div [hidden]="!category.hasError('required')">Select activity of workflow step</div>
          </div>
        </div>
        <div *ngIf="item.checked == true && item.isCategoryEnable == 1">
          <!-- <label class="">Category<sup class="reqFieldActivity">*</sup></label> -->
          <select class="form-control drop-height" name="categories{{i}}" id="categories{{i}}"
            [(ngModel)]="item.categoryId" #category="ngModel" (change)="onChange(category.value, item)" required>
            <option value="0" selected disabled>Select Category</option>
            <option *ngFor="let dropdown of categories" value={{dropdown.categoryId}}>{{ dropdown.categoryName }}
            </option>
          </select>
          <div [hidden]="category.valid || category.pristine" class="alert alert-danger">
            <div [hidden]="!category.hasError('required')">Select Category of workflow step</div>
          </div>
        </div>
      </div>

      <div class="">
        <div *ngIf="item.checked == true && item.isModuleEnable == 1">
          <!-- <label class="">Module<sup class="reqFieldActivity">*</sup></label> -->
          <select class="form-control drop-height" name="modules{{i}}" id="modules{{i}}" [(ngModel)]="item.moduleId"
            #module="ngModel" required>
            <option value="0" selected disabled>Select Module</option>
            <option *ngFor="let dropdown of modules" value={{dropdown.modId}}>{{ dropdown.modName }}</option>
          </select>
          <div [hidden]="module.valid || module.pristine" class="alert alert-danger">
            <div [hidden]="!module.hasError('required')">Select module of workflow step</div>
          </div>
        </div>
        <div *ngIf="item.checked == true &&  item.isProgramEnable == 1 ">
          <!-- <label class="">Program<sup class="reqFieldActivity">*</sup></label> -->
          <select class="form-control drop-height" name="program{{i}}" [disabled]="disabledProgram" id="program{{i}}"
            [(ngModel)]="item.programId" #program="ngModel" required>
            <option value="0" selected disabled>Select Program</option>
            <option *ngFor="let dropdown of tempPrograms" value={{dropdown.programId}}>{{ dropdown.programName }}
            </option>
          </select>
          <div [hidden]="program.valid || program.pristine" class="alert alert-danger">
            <div [hidden]="!program.hasError('required')">Select Program of workflow step</div>
          </div>
        </div>
      </div>
      <div class="stepName" *ngIf="item.checked == true && item.isRecertEnable == 1">
        <!-- Re certification  -->
        <label class="stepLabel">
          <input type="checkbox" name="isRecertEnable{{i}}" value="true" [(ngModel)]="item.isRecert">
          <span class="stepMarker certCheck"></span>
        </label>
      </div>
    </div>
  </form>
</div>

<div class="deleteModalBackdrop" *ngIf="weightNotMatch">
  <div class="deleteModal">
    <div class="modal-header deleteModalHeader">
      <p class="enableDisableModalHeaderP">Warning</p>
    </div>

    <div class="modal-body">
      <div>
        <p class="enableDisableModalBodyP">Total weightage must be 100. current weightage is {{cnt}}.</p>
      </div>
    </div>

    <div class="modal-footer deleteModalFooter">
      <div class="">
        <button type="button" class="constantbtn-button-blue-left" (click)="closeModal()">OK</button>
      </div>
    </div>
  </div>
</div>