@import '../../../../../../@theme/styles/variable.scss';
.takeANote {
    font-size: 16px;
    width: 100%;
    margin: auto;
    margin-bottom: 20px;
    color: #ffffff;
    background: #076ba1;
    padding: 10px;
}

.dateinput_border {
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    border-right: 0;
}

.stepRow {
    display: grid;
    grid-template-columns: 1.2fr 0.5fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    border-bottom: 1px solid #ebecee;
    padding: 10px 0;
    // min-height: 50px;
    /* margin-top: 10px; */
    // align-items: baseline;
}

.headRow {
    background: var(--colorHeader);
    justify-items: center;
    align-items: center;
    height: 40px;
    border-top: 1px solid #ebecee;
}

.form-control {
    border: 1px solid #f0f0f0;
    font-size: 13px;
    color: #787878 !important;
}

.stepRow:last-child {
    border: none !important;
}

.dateinput_border {
    font-size: 13px;
    color: #787878 !important;
}

select,
input,
textarea {
    box-shadow: none !important;
}

.stepWeightage {
    margin-left: 30px;
    color: #464a47;
}

.stepFooter {
    /* margin-top: 20px; */
    /* text-align: right; */
    text-align: right;
    padding: 0 15px;
}

.formPadding {
    padding: 0 15px;
    padding-bottom: 20px;
}

// .stepLabel{
//     margin: auto 0;
//     text-align: left;
//     font-size: 16px;
//     color: #5e5454;
//     text-transform: capitalize;
// }
.stepName {
    position: relative;
    overflow: overlay;
    // margin: auto 0;
}

.certCheck {
    left: 45% !important;
}


/* Hide the browser's default checkbox */

.stepLabel input {
    // position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}


/* Create a custom checkbox */

.stepMarker {
    position: absolute;
    top: 4px;
    left: 0;
    height: 19px;
    margin: auto;
    width: 19px;
    // border: 1px solid #076ba1;
    border: 1px solid var(--colorCommon);
    background-color: #feffff;
    border-radius: 4px;
}


/* On mouse-over, add a grey background color */

.stepLabel:hover input~.stepMarker {
    background-color: #F1F5F8;
}


/* When the checkbox is checked, add a blue background */

.stepLabel input:checked~.stepMarker {
    background-color: #feffff
}


/* Create the checkmark/indicator (hidden when not checked) */

.stepMarker:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the checkmark when checked */

.stepLabel input:checked~.stepMarker:after {
    display: block;
}


/* Style the checkmark/indicator */

.stepLabel .stepMarker:after {
    left: 6px;
    top: 1px;
    width: 6px;
    height: 12px;
    // border: solid #076ba1;
    border: solid var(--colorCommon);
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.stepLabel {
    color: #787878 !important;
    margin: auto;
    line-height: 24px;
    width: 100%;
    font-size: 13px;
    padding-left: 28px;
    /* font-weight: 100; */
    cursor: pointer;
    vertical-align: -webkit-baseline-middle;
}

label {
    font-weight: 100;
    margin-bottom: 0px;
    color: #4e4646;
    font-size: 13px;
}

.headRow {
    label {
        font-weight: 600;
        font-size: 14px;
        color: var(--colorBtnTxt);
    }
}

// .workflowSteps{
//   label{
//     // font-weight: 100 !important;
//     // margin-bottom: 10px;
//     // color: #4e4646;
//   }
// }
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.alert-danger {
    padding: 0 !important;
    margin-bottom: 10px !important;
}

.drop-height {
    margin: auto;
    height: 30px !important;
    font-size: 12px;
    padding: 0px;
}

.flexInput {
    display: flex;
}

.divcalicon {
    padding: 4px 7px;
    display: flex;
    align-items: center;
    // a: auto;
    color: #fff;
    height: 32px !important;
    border: 1px solid #f0f0f0;
    border-left: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.calfont {
    //  font-size: 20px;
    /* padding: 10px 10px; */
    // margin-left: 8px;
    // color: #076ba1;
    color: #fff;
}

.modal-header {
    background-color: #076ba1;
    height: 55px;
    color: #fff !important;
}

.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #fff !important;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}

.modal-body .row {
    margin: 0 !important;
}

.enableDisableModalBodyP {
    margin: 1rem;
}

.modal-footer {
    height: 55px;
}