/* angular-cli file: src/styles.css */

//@import "node_modules/angular-calendar/css/angular-calendar.css";
.calender_component {
    .top_header_calender_component {
        background: #fff;
        .top_header_div_sticky {
            display: grid;
            grid-template-columns: 1fr 1fr;
            height: 50px;
            align-items: center;
            .buttons_div {
                text-align: right;
            }
        }
    }
    .calRow {
        margin: 15px;
        width: 100%;
        display: flex;
    }
    .padding0 {
        padding: 0;
    }
    .eventtitle {
        margin: 0 0 10px;
        // width: 85%;
    }
    pre {
        background-color: #f5f5f5;
        padding: 15px;
    }
    // .inputboxs{
    //   border-radius: 0 !important;
    //   box-shadow: none !important;
    // }
    .plusIcon {
        margin-right: 8px;
    }
    .toprow2 {
        border: none;
        background-color: #ffffff;
        height: 50px;
        width: 100%;
        margin-bottom: 20px;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
    }
    .prevNxtbtn {
        width: auto;
        border: none;
        padding: 6px 14px;
        background-color: var(--colorCommon);
        color: #fff;
        min-width: 90px;
        max-height: 36px;
        height: 32px;
        line-height: 20px;
        cursor: pointer;
    }
    .calenderDiv {
        padding: 16px;
        background: #fff;
        // height: 590px;
        // overflow-y: scroll;
        border-radius: 10px;
    }
    .deleteButton {
        background: #ff6b83;
    }
    .cal-month-view .cal-day-badge {
        margin-top: 18px;
        margin-left: 10px;
        background-color: var(--colorCommon);
        display: inline-block;
        width: 35px;
        height: 35px;
        padding: 3px 7px;
        font-size: 14px;
        font-weight: 700;
        line-height: 30px;
        color: white;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        border-radius: 5px;
    }
    .cal-month-view .cal-open-day-events {
        display: none;
        padding: 15px;
        color: white;
        background-color: #508aca;
        -webkit-box-shadow: inset 0 0 15px 0 rgb(152, 195, 243);
        box-shadow: inset 0 0 15px 0 rgb(152, 195, 243);
    }
    .dispFlex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .mar-right {
            margin-right: 15px;
        }
    }
    .marg0 {
        margin: 0;
    }
    .cal-month-view .cal-header .cal-cell {
        padding: 20px 0;
    }
    .outlinebtn {
        width: auto;
        border: 1px solid var(--colorCommon);
        padding: 0px 14px;
        background-color: #fff;
        color: var(--colorCommon);
        min-width: 90px;
        max-height: 36px;
        height: 32px;
        line-height: 32px;
    }
    .eventsCard {
        padding: 20px;
    }
    .events {
        border: none;
        margin: 10px 0;
        background: #fff;
        border-radius: 10px;
        padding: 15px;
        width: 100%;
        color: #313131;
    }
    .eventBtns {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        padding-bottom: 5px;
        margin-bottom: 5px;
        border-bottom: 1px solid #eee;
    }
    .btnRow {
        width: 120px;
        float: right;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
    }
    .evntBtns {
        border: none;
        background: none;
        color: #ccc;
    }
    .rowmarg {
        margin: auto;
        padding: 0;
        margin-top: 15px;
    }
    .heding1 {
        line-height: 50px;
        margin: auto;
    }
    .floatingbtn {
        margin: auto;
        padding: 0;
        text-align: right;
    }
    .lbl {
        width: 100%;
        color: #716f6f;
        font-size: 15px;
        font-weight: 100;
        // margin-bottom: 5px ;
    }
    // .inputboxs{
    //   background: transparent ;
    //   border-radius: 8px ;
    //   border: 1px solid #e6e4e4 ;
    //   color: #000 ;
    //   box-shadow: none ;
    // }
    // .c-btn{
    //   border-radius: 8px ;
    //   border: 1px solid #e7e5e5 ;
    //   padding: 8px ;
    // }
    .delete:hover {
        color: #ff3e4f;
    }
    .edit:hover {
        color: var(--colorCommon);
    }
    .view:hover {
        color: var(--colorCommon);
    }
    .eventsContent {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-top: 10px;
    }
    .eventsDiv {
        overflow-y: scroll;
        height: 450px;
    }
    .content_width {
        width: 95%;
        margin: 0 auto;
    }
    .event_modal_backdrop {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        z-index: 1503;
        background-color: #404040c2;
        .event_modal {
            margin: auto;
            background-color: #fff;
            margin-top: 65px;
            border-radius: 5px;
            .modal_header {
                background: var(--colorCommon);
                color: #fff;
                display: flex;
                align-items: center;
                p {
                    margin: 0;
                }
                .close {
                    color: #fff;
                    font-size: 16px;
                    padding: 0;
                    padding-right: 10px;
                }
            }
            .modal-head {
                position: relative;
                background: var(--colorCommon);
                /* margin: auto; */
                /* width: 18px; */
                // font-size: 16px;
                color: #fff;
                p {
                    font-size: 16px;
                    padding: 5px;
                }
                .close {
                    color: #fff;
                    font-size: 16px;
                    padding: 0;
                    position: absolute;
                    padding-right: 10px;
                    /* right: 12%; */
                    top: 5px;
                    opacity: 1;
                    right: 1%;
                    outline: none;
                }
            }
            .comment {
                text-align: center;
                font-size: 18px;
                color: #000;
                padding: 34px;
            }
            .modal_body {
                padding: 20px;
                .form_grid {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-column-gap: 20px;
                    margin-bottom: 20px;
                    .form_field {
                        .form-control {
                            border: 1px solid #ccc;
                            box-shadow: none;
                        }
                        .flexInput {
                            display: flex;
                            background: var(--colorCommon);
                            align-items: center;
                            border: none;
                            border-radius: 4px;
                            .divcalicon {
                                color: #fff;
                                /* background: #076ba1; */
                                font-size: 16px;
                                width: 30px;
                                text-align: center;
                            }
                        }
                    }
                }
            }
            .modal-footer_1 {
                padding: 10px;
                justify-content: center;
                display: flex;
                border-top: 1px solid;
                button {
                    margin: 0 1rem 0 1rem;
                }
            }
            .modal_footer {
                padding: 10px;
            }
        }
        .event_modal_size_small {
            width: 30%;
        }
        .event_modal_size_big {
            width: 50%;
        }
    }
    .noCallDiv {
        background: #fff;
        border-radius: 5px;
        height: 15%;
        text-align: center;
    }
    .noCallDivInner {
        margin: 35px 0;
    }
    .reqField {
        display: inline;
        color: #ed462f;
    }
}
