<!-- <p>
  calendar works!
</p> -->
<app-subheader [headerConfig]="header" (backClick)="gotoparticipants()"></app-subheader>

<!-- <button type="button" class="constantbtn" (click)="gotoCallDetail()" style="margin: auto"> go to call details page. </button> -->
<div class="calender_component">
    <!-- <div class="toprow2 col-md-12 bottom15 sticky-top"> -->
    <!-- <div class="col-md-9 teamSubdiv2" >
          <h3 class="heding1">{{participantData.username}}</h3>
        </div> -->
    <!-- <div class="col-md-12 floatingbtn">
          <button class="constantbtn" (click)="gotoparticipants()">Back</button>
        </div>
    </div> -->
    <!-- <div class="top_header_calender_component">
        <div class="top_header_div_sticky content_width">
            <div class="page_title">
                <h4>{{participantData?.name}}</h4>
            </div>

            <div class="buttons_div">
                <button class="back_button" (click)="gotoparticipants()">Back</button>
            </div>
        </div>
    </div> -->

    <ng-template #modalContent let-close="close">
        <div class="modal-header">
            <h5 class="modal-title">Event action occurred</h5>
            <button type="button" class="close" (click)="close()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div>
                Action:
                <pre>{{ modalData?.action }}</pre>
            </div>
            <div>
                Event:
                <pre>{{ modalData?.event | json }}</pre>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" (click)="close()">
                OK
            </button>
        </div>
    </ng-template>

    <div class="calRow">
        <div class="col-md-6 calenderDiv">
            <div class="">
                <div class="row text-center">
                    <div class="col-md-12">
                        <div class="btn-group">
                            <!-- (viewDateChange)="activeDayIsOpen = false" -->
                            <div class="prevNxtbtn" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="closeOpenMonthViewDay()">
                                Previous
                            </div>
                            <div class="outlinebtn" mwlCalendarToday [(viewDate)]="viewDate">
                                {{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}
                            </div>
                            <div class="prevNxtbtn" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="closeOpenMonthViewDay()">
                                Next
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-md-4">
              <h3 class="marg0">{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
            </div>
            <div class="col-md-4">
              <div class="btn-group">
                <div
                  class="btn btn-primary"
                  (click)="view = CalendarView.Month"
                  [class.active]="view === CalendarView.Month"
                >
                  Month
                </div>
                <div
                  class="btn btn-primary"
                  (click)="view = CalendarView.Week"
                  [class.active]="view === CalendarView.Week"
                >
                  Week
                </div>
                <div
                  class="btn btn-primary"
                  (click)="view = CalendarView.Day"
                  [class.active]="view === CalendarView.Day"
                >
                  Day
                </div>
              </div> -->
                </div>
            </div>
            <br />
            <div [ngSwitch]="view">
                <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events" [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)" (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
                </mwl-calendar-month-view>
                <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate" [events]="events" [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
                </mwl-calendar-week-view>
                <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="events" [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
                </mwl-calendar-day-view>
            </div>
        </div>


        <br /><br /><br />


        <div class="col-md-6 eventsCard">
            <div class="dispFlex">
                <h3 class="eventtitle">
                    Calls
                </h3>
                <button class="subBttn backBttn focus mar-right" (click)="addEvent(null)">
                    Add new
                </button>
            </div>

            <div *ngIf='eventlist.length' class="table-responsive eventsDiv">
                <div class="events" *ngFor="let event of eventlist; let i =index">
                    <div class="eventBtns">
                        <div>
                            Call-{{event.callId}}
                        </div>
                        <div class="btnRow">
                            <button class="evntBtns edit" (click)="addEvent(event); refresh.next()">
                                <i class="fas fa-edit"></i>
                            </button>
                            <button class="evntBtns view" (click)="gotoCallDetail(event); refresh.next()">
                                <i class="far fa-eye"></i>
                            </button>
                            <button class="evntBtns delete" (click)="deleteCall(event); refresh.next()">
                                <i class="fas fa-trash"></i>
                            </button>

                        </div>
                    </div>


                    <div class="eventsContent">
                        <label> Start Date : </label>
                        <p>{{event.callStartDateF}}</p>

                        <label> End Date : </label>
                        <p>{{event.callEndDateF}}</p>

                        <label> Call Date-Time : </label>
                        <p>{{event.calldate}}</p>

                        <label> Participant Name : </label>
                        <p>{{event.empName}}</p>

                        <label> Trainer Name : </label>
                        <p>{{event.trainerName}}</p>
                    </div>
                </div>
            </div>

            <!-- <div *ngIf='eventlist.length == 0' class="table-responsive noCallDiv">
                <div class='noCallDivInner'> No calls found.</div>
            </div> -->
            <ngx-no-data *ngIf='eventlist?.length == 0' [config]="noDataVal"></ngx-no-data>


            <ngx-sidebar-form *ngIf="addEventModal" [sidebarTitle]='title' [buttonName]="btnName" (saveBtn)='saveCall(modf, eventsList)' (outside)="closeModal()" (closeBtn)='closeModal()'>
                <!--
            <div class="event_modal_backdrop" *ngIf="addEventModal">
                <div class="event_modal event_modal_size_big"> -->
                <!-- <form name="form" (ngSubmit)="saveCall(modf, eventsList)" #modf="ngForm" novalidate> -->
                <form name="form" #modf="ngForm">
                    <!-- <div class="modal-header modal_header">
                            <p *ngIf='addAction'>Add Call</p>
                            <p *ngIf='!addAction'>Edit Call</p>
                            <button class="close" aria-label="Close" (click)="closeModal()">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div> -->
                    <div class="modal_body">
                        <div class="form_grid">
                            <div class="form-group">
                                <label class="side-form-label">{{helpContent?.add_edit_call?.start_Date.label}} <sup>&#x2731;</sup>
                                        <app-info-tooltip  [description]="helpContent?.add_edit_call?.start_Date.labelHelpContent"></app-info-tooltip>
                                    </label>
                                <!-- <label class='lbl'>{{helpContent?.add_edit_call?.start_Date?.label}}
                                        <sup class="reqFieldActivity">*</sup>
                                        <div class="help-tooltip">
                                            <i class="fa fa-info-circle tooltip-hover-info-label-round"
                                                aria-hidden="true"></i>
                                            <div class="help-tooltip-position-right">
                                                <p>{{helpContent?.add_edit_call?.start_Date?.labelHelpContent}}</p>
                                                <i></i>
                                            </div>
                                        </div>
                                    </label> -->
                                <!-- <label class="lbl">Start Date <sup class="reqField">*</sup></label> -->
                                <div class="flexInput">
                                    <!-- <input [owlDateTime]="dt1" placeholder="DD/MM/YYYY" [owlDateTimeTrigger]="dt1" class="form-control dateinput commonInput"
                                        [(ngModel)]="eventsList.startDate" name="start" (dateTimeChange)="endMinDate($event.value)" (ngModelChange)="refresh.next()" [min]='startMinDate'
                                            name="startDate" #startDate="ngModel"  required/> -->
                                    <input [owlDateTime]="dt9" placeholder="DD/MM/YYYY" [owlDateTimeTrigger]="dt9" class="form-control dateinput commonInput" [(ngModel)]="eventsList.startDate" name="start" (dateTimeChange)="endMinDate($event.value)" (ngModelChange)="refresh.next()" [min]='startMinDate'
                                        name="startDate" #startDate="ngModel" required />
                                    <!-- <div class="divcalicon" [owlDateTimeTrigger]="dt9">
                                        <i class="fa fa-calendar calfont"></i>
                                    </div> -->
                                    <!-- [ngClass]="{ 'is-invalid': startDate.invalid }" -->
                                    <owl-date-time [pickerType]="'calendar'" #dt9></owl-date-time>
                                </div>
                                <!-- <div *ngIf="startDate.errors && (startDate.dirty || startDate.touched)" class="invalid-msg">
                                        <div *ngIf="startDate.errors.required">Start Date is required</div>
                                    </div> -->
                                <div *ngIf="(startDate.invalid && startDate.dirty)" class="invalid-msg">
                                    <small *ngIf="startDate.errors.required">Start Date is required</small>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="side-form-label">{{helpContent?.add_edit_call?.end_Date.label}} <sup>&#x2731;</sup>
                                        <app-info-tooltip  [description]="helpContent?.add_edit_call?.end_Date.labelHelpContent"></app-info-tooltip>
                                    </label>
                                <!-- <label class='lbl'>{{helpContent?.add_edit_call?.end_Date?.label}}
                                        <sup class="reqFieldActivity">*</sup>
                                        <div class="help-tooltip">
                                            <i class="fa fa-info-circle tooltip-hover-info-label-round"
                                                aria-hidden="true"></i>
                                            <div class="help-tooltip-position-right">
                                                <p>{{helpContent?.add_edit_call?.end_Date?.labelHelpContent}}</p>
                                                <i></i>
                                            </div>
                                        </div>
                                    </label> -->

                                <!-- <label class="lbl">End Date <sup class="reqField">*</sup></label> -->
                                <!-- [ngClass]="{ 'is-invalid': endDate.invalid }" -->
                                <div class="flexInput">
                                    <input [owlDateTime]="dt2" placeholder="DD/MM/YYYY" [owlDateTimeTrigger]="dt2" class="form-control dateinput commonInput" [(ngModel)]="eventsList.endDate" name="end" (ngModelChange)="refresh.next()" [min]='eenddate' (dateTimeChange)="endMaxDate($event.value)"
                                        name="endDate" #endDate="ngModel" required />
                                    <!-- <div class="divcalicon" [owlDateTimeTrigger]="dt2">
                                        <i class="fa fa-calendar calfont"></i>
                                    </div> -->
                                    <owl-date-time [pickerType]="'calendar'" #dt2></owl-date-time>
                                </div>
                                <!-- <div *ngIf="endDate.errors && (endDate.dirty || endDate.touched)" class="invalid-msg">
                                        <div *ngIf="endDate.errors.required">End Date is required</div>
                                    </div> -->
                                <div *ngIf="(endDate.invalid && endDate.dirty)" class="invalid-msg">
                                    <small *ngIf="endDate.errors.required">End Date is required</small>
                                </div>
                            </div>
                        </div>
                        <div class="form_grid">
                            <div class="form-group">
                                <label class="side-form-label">{{helpContent?.add_edit_call?.call_Date_Time.label}} <sup>&#x2731;</sup>
                                        <app-info-tooltip  [description]="helpContent?.add_edit_call?.call_Date_Time.labelHelpContent"></app-info-tooltip>
                                    </label>
                                <!-- <label class='lbl'>{{helpContent?.add_edit_call?.call_Date_Time?.label}}
                                        <sup class="reqFieldActivity">*</sup>
                                        <div class="help-tooltip">
                                            <i class="fa fa-info-circle tooltip-hover-info-label-round"
                                                aria-hidden="true"></i>
                                            <div class="help-tooltip-position-right">
                                                <p>{{helpContent?.add_edit_call?.call_Date_Time?.labelHelpContent}}</p>
                                                <i></i>
                                            </div>
                                        </div>
                                    </label> -->

                                <!-- <label class="lbl">Call Date-Time <sup class="reqField">*</sup></label> -->
                                <div class="flexInput">
                                    <input [owlDateTime]="dt3" placeholder="DD/MM/YYYY" [owlDateTimeTrigger]="dt3" class="form-control dateinput commonInput" [(ngModel)]="eventsList.cDateTime" name="cDateTime" (ngModelChange)="refresh.next()" [min]='endDateMins' [max]='endMaxDates' name="cDateTime"
                                        #cDateTime="ngModel" [ngClass]="{ 'is-invalid': cDateTime.invalid }" required />
                                    <!-- <div class="divcalicon" [owlDateTimeTrigger]="dt3">
                                        <i class="fa fa-calendar calfont"></i>
                                    </div> -->
                                    <owl-date-time [pickerType]="'both'" #dt3></owl-date-time>
                                </div>
                                <!-- <div *ngIf="cDateTime.errors && (cDateTime.dirty || cDateTime.touched)" class="invalid-msg">
                                        <div *ngIf="cDateTime.errors.required">Call Date-Time is required</div>
                                    </div> -->
                                <div *ngIf="(cDateTime.invalid && cDateTime.dirty)" class="invalid-msg">
                                    <small *ngIf="cDateTime.errors.required">Call Date-Time is required</small>
                                </div>
                            </div>
                        </div>
                        <div class="form_grid">
                            <div class="form-group">
                                <!-- <label class='lbl'>{{helpContent?.add_edit_call?.employee?.label}}
                                                <sup class="reqFieldActivity">*</sup>
                                                <div class="help-tooltip">
                                                    <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                                                    <div class="help-tooltip-position-right">
                                                    <p>{{helpContent?.add_edit_call?.employee?.labelHelpContent}}</p>
                                                    <i></i>
                                                    </div>
                                                </div>
                                            </label> -->

                                <!-- <label class="lbl">Employee <sup class="reqFieldActivity">*</sup></label> -->
                                <label class="side-form-label">{{employee}}<sup>&#x2731;</sup>
                                </label>
                                <angular2-multiselect id="employee" [data]="usersList" [(ngModel)]="selectedEmployee" [settings]="settingsEmployeeDrop" (onSelect)="onCreatorSelect($event);getAllNominatedEmployee($event)" (onDeSelect)="OnCreatorDeSelect($event)" name="selectedEmployee"
                                    #selectedEmployeeSelect="ngModel" [ngClass]="{ 'is-invalid': selectedEmployeeSelect.invalid }" required>
                                    <c-search>
                                        <ng-template>
                                            <input type="text" (keyup)="onCreatorSearch($event)" placeholder="Search employee..." class="form-control" [disabled]='disabledEmpDrop' />
                                        </ng-template>
                                    </c-search>
                                    <c-item>
                                        <ng-template let-item="item">
                                            <label style="color: #333;width: 150px;">{{item.empCode}}</label>
                                            <label>{{item.empName}}</label>
                                        </ng-template>
                                    </c-item>
                                </angular2-multiselect>
                                <span></span>
                                <div *ngIf="(selectedEmployeeSelect.invalid && selectedEmployeeSelect.dirty)" class="invalid-msg">
                                    <small *ngIf="selectedEmployeeSelect.errors.required">{{employee}} is required</small>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="side-form-label">{{helpContent?.add_edit_call?.trainer.label}} <sup>&#x2731;</sup>
                                        <app-info-tooltip  [description]="helpContent?.add_edit_call?.trainer.labelHelpContent"></app-info-tooltip>
                                    </label>
                                <!-- <label class='lbl'>{{helpContent?.add_edit_call?.trainer?.label}}
                                        <sup class="reqFieldActivity">*</sup>
                                        <div class="help-tooltip">
                                            <i class="fa fa-info-circle tooltip-hover-info-label-round"
                                                aria-hidden="true"></i>
                                            <div class="help-tooltip-position-right">
                                                <p>{{helpContent?.add_edit_call?.trainer?.labelHelpContent}}</p>
                                                <i></i>
                                            </div>
                                        </div>
                                    </label> -->

                                <!-- <label class="lbl">Trainer <sup class="reqField">*</sup></label> -->
                                <angular2-multiselect id="coach" [data]="coachList" [(ngModel)]="selectedCoach" [settings]="settingsCoachDrop" (onSelect)="onCoachSelect($event)" (onDeSelect)="OnCoachDeSelect($event)" name="selectedCoach" #selectedCoachSelect="ngModel" [ngClass]="{ 'is-invalid': selectedCoachSelect.invalid }"
                                    required>
                                    <c-search>
                                        <ng-template>
                                            <input type="text" (keyup)="onCoachSearch($event)" placeholder="Search trainer..." class="form-control" />
                                        </ng-template>
                                    </c-search>
                                    <c-item>
                                        <ng-template let-item="item">
                                            <!-- <label style="color: #333;width: 150px;">{{item.trainerId}}</label> -->
                                            <label>{{item.trainerName}}</label>
                                        </ng-template>
                                    </c-item>
                                </angular2-multiselect>
                                <span></span>
                                <div *ngIf="(selectedCoachSelect.invalid && selectedCoachSelect.dirty)" class="invalid-msg">
                                    <small *ngIf="selectedCoachSelect.errors.required">Trainer is required</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="modal-footer modal_footer">
                            <button type="submit" class="constantbtn-button-blue-left">Save</button>
                        </div> -->
                </form>
                <!-- </div>
            </div> -->
            </ngx-sidebar-form>
            <div class="event_modal_backdrop" *ngIf="confirmmsg">
                <div class="event_modal event_modal_size_small">
                    <div class="modal-head">
                        <p>Confirm Deletion</p>
                        <i class="fa fa-remove close" aria-hidden="true" (click)="closemodel(1)"></i>
                        <!-- <button class="close" aria-label="Close" (click)="closemodel(1)">
                            <span aria-hidden="true"><i class="fa fa-remove remove_icon" aria-hidden="true" (click)="clear()"></i></span>
                        </button> -->
                    </div>
                    <div class="comment">
                        Are you sure you want to delete?
                    </div>
                    <div class="modal-footer_1">
                        <!-- [disabled]="!sectionForm.form.valid" -->
                        <button type="button" class="constantbtn-button-blue-left" (click)="closemodel(0)">Ok</button>
                        <button type="button" class="constantbtn-button-blue-left" (click)="closemodel(1)">Cancel</button>
                    </div>
                </div>
            </div>
            <!-- <table class="table table-bordered">
            <thead>
              <tr>
                <th>Starts at</th>
                <th>Ends at</th>
                <th>Actions</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let event of events; let index = index">
                <td>
                  <input
                    class="form-control"
                    type="text"
                    mwlFlatpickr
                    [(ngModel)]="event.start"
                    (ngModelChange)="refresh.next()"
                    [altInput]="true"
                    [convertModelValue]="true"
                    [enableTime]="true"
                    dateFormat="Y-m-dTH:i"
                    altFormat="F j, Y H:i"
                    placeholder="Not set"
                  />
                </td>
                <td>
                  <input
                    class="form-control"
                    type="text"
                    mwlFlatpickr
                    [(ngModel)]="event.end"
                    (ngModelChange)="refresh.next()"
                    [altInput]="true"
                    [convertModelValue]="true"
                    [enableTime]="true"
                    dateFormat="Y-m-dTH:i"
                    altFormat="F j, Y H:i"
                    placeholder="Not set"
                  />
                </td>
                <td>
                  <div class="col-sm-12">
                    <div class="col-sm-4">
                        <button
                          class="btn btn-danger deleteButton"
                          (click)="deleteCall(event); refresh.next()">
                          <i class="fas fa-trash"></i>
                      </button>
                    </div>
                    <div class="col-sm-4">
                        <button
                          class="btn btn-primary"
                          (click)="saveCall(event); refresh.next()">
                          <i class="fas fa-save"></i>
                      </button>
                    </div>
                    <div class="col-sm-4">
                      <button
                        class="btn btn-primary"
                        (click)="gotoCallDetail(event); refresh.next()">
                        <i class="far fa-eye"></i>
                    </button>
                  </div>
                  </div>
                </td>
              </tr>
            </tbody>
        </table> -->


        </div>
    </div>
</div>