<div class="addEditquiz_Container">

    <app-subheader [headerConfig]="header" (addbtn)="addObservation()" (backClick)="back()"></app-subheader>

    <!-- <div class="top_header_container">
        <div class="top_header_div_sticky content_width">

            <div class="page_title">
                <h4>Pre-Assessment </h4>
            </div>


            <div class="buttons_div">

                <button type="submit" class="back_button" (click)="back()">Back</button>
            </div>
        </div>
    </div> -->

    <div *ngIf="questions">
        <div class="tableCompo" *ngIf="noObservation == false">
            <ngx-enrol-table [pagination]="true" [label]="labels" [tableData]="observation" (clickOnbutton)="visibilityTableRow($event)" (clickOnDelbutton)="clickToDelete($event)"></ngx-enrol-table>
            <div style="padding: 10px">
                <div>Total: {{ observation.length }}</div>
            </div>
        </div>
    </div>

    <ngx-sidebar-form *ngIf="showObservTemp" [sidebarTitle]="title" [buttonName]="btnName" [saveDisabled]="observationForm.invalid" (saveBtn)="saveObservation(observationForm)" (outside)="closeObservationTemp()" (closeBtn)="closeObservationTemp()">

        <!-- <div class="addRuleBackdropaddquiz" *ngIf="showObservTemp">
        <div class="addRuleDemoaddquizModal">
            <div class="modal-header-1">

                <p>Add Pre-Assessment Template</p>
                <button class="close" aria-label="Close" (click)="closeObservationTemp()">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="mbody modal-body">
                <div class="form_body_padding">
                    <div class=""> -->
        <form class="forms-sample" (ngSubmit)="onSubmitSec(observationForm)" #observationForm="ngForm">

            <div class="">
                <div class="form-group">
                    <label class="side-form-label">{{helpContent?.cc_pre_assessment?.spectr_name.label}}<sup>&#x2731;</sup>
                                        <app-info-tooltip [description]="helpContent?.cc_pre_assessment?.spectr_name?.labelHelpContent">
                                        </app-info-tooltip>
                                      </label>
                    <!-- <label>{{helpContent?.cc_pre_assessment?.spectr_name?.label}}
                    <sup class="reqFieldActivity">*</sup>
                    <div class="help-tooltip">
                      <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                      <div class="help-tooltip-position-right">
                        <p>{{helpContent?.cc_pre_assessment?.spectr_name?.labelHelpContent}}</p>
                        <i></i>
                      </div>
                    </div>
                  </label> -->


                    <!-- <label class='' for="spctrNames">Spectr Name<sup class="required">*</sup></label> -->

                    <angular2-multiselect id="spctrNames" [data]="spectrList" [(ngModel)]="selectedSpectr" [settings]="settingsSpectrDrop" (onSelect)="onSpectrSelect($event)" (onDeSelect)="OnSpectrDeSelect($event)" (onSelectAll)="onSelectAllSpectr($event)" (onDeSelectAll)="onDeSelectAllSpectr($event)"
                        name="selectedSpectr" required spectr #spectr="ngModel">
                        <c-search>
                            <ng-template>
                                <input type="text" (keyup)="onSpectrSearch($event)" placeholder="Search Spector..." />
                            </ng-template>
                        </c-search>
                        <c-item>
                            <ng-template let-item="item">
                                <label class="multiselect-label">{{item.spectrId}}</label>
                                <label class="multiselect-label">{{item.spectrName}}</label>
                            </ng-template>
                        </c-item>
                    </angular2-multiselect>
                    <span></span>
                </div>
            </div>
            <div class="">
                <div class="form-group">
                    <label class="side-form-label">{{helpContent?.cc_pre_assessment?.competency_name.label}}<sup>&#x2731;</sup>
                                        <app-info-tooltip [description]="helpContent?.cc_pre_assessment?.competency_name?.labelHelpContent">
                                        </app-info-tooltip>
                                      </label>
                    <!-- <label>{{helpContent?.cc_pre_assessment?.competency_name?.label}}
                    <sup class="reqFieldActivity">*</sup>
                    <div class="help-tooltip">
                      <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                      <div class="help-tooltip-position-right">
                        <p>{{helpContent?.cc_pre_assessment?.competency_name?.labelHelpContent}}</p>
                        <i></i>
                      </div>
                    </div>
                  </label> -->

                    <!-- <label class='' for="competency">Competency Name<sup class="required">*</sup></label> -->

                    <angular2-multiselect id="competency" [data]="competencyList" [(ngModel)]="selectedCompetency" [settings]="settingsCompenDrop" (onSelect)="onCompenSelect($event)" (onDeSelect)="OnCompenDeSelect($event)" (onSelectAll)="onSelectAllCompen($event)" (onDeSelectAll)="onDeSelectAllCompen($event)"
                        name="selectedCompetency" required competency #competency="ngModel">
                        <c-search>
                            <ng-template>
                                <input type="text" (keyup)="onCompenSearch($event)" placeholder="Search Compentency..." />
                            </ng-template>
                        </c-search>
                        <c-item>
                            <ng-template let-item="item">
                                <label class="multiselect-label">{{item.compId}}</label>
                                <label class="multiselect-label">{{item.compName}}</label>
                            </ng-template>
                        </c-item>
                    </angular2-multiselect>
                    <small class="invalid-msg" *ngIf="!competency.valid && competency.touched">Please enter
                    competency.</small>
                </div>
            </div>

            <div class="">
                <div class="form-group">
                    <label class="side-form-label">{{helpContent?.cc_pre_assessment?.evaluation_Area_Name.label}}<sup>&#x2731;</sup>
                                        <app-info-tooltip [description]="helpContent?.cc_pre_assessment?.evaluation_Area_Name?.labelHelpContent">
                                        </app-info-tooltip>
                                      </label>
                    <!-- <label>{{helpContent?.cc_pre_assessment?.evaluation_Area_Name?.label}}
                    <sup class="reqFieldActivity">*</sup>
                    <div class="help-tooltip">
                      <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                      <div class="help-tooltip-position-right">
                        <p>{{helpContent?.cc_pre_assessment?.evaluation_Area_Name?.labelHelpContent}}</p>
                        <i></i>
                      </div>
                    </div>
                  </label> -->

                    <!-- <label class='' for="area">Evaluation Area<sup class="required">*</sup></label> -->

                    <angular2-multiselect id="area" [data]="areaList" [(ngModel)]="selectedArea" [settings]="settingsAreaDrop" (onSelect)="onAreaSelect($event)" (onDeSelect)="OnAreaDeSelect($event)" (onSelectAll)="onSelectAllarea($event)" (onDeSelectAll)="onDeSelectAllarea($event)"
                        name="selectedArea" required area #area="ngModel">


                        <c-search>
                            <ng-template>
                                <input type="text" (keyup)="onAreaSearch($event)" placeholder="Search Area Evaluation..." />
                            </ng-template>
                        </c-search>
                        <c-item>
                            <ng-template let-item="item">
                                <label class="multiselect-label">{{item.areaId}}</label>
                                <label class="multiselect-label">{{item.areaName}}</label>
                            </ng-template>
                        </c-item>
                    </angular2-multiselect>
                    <span></span>
                </div>
            </div>




        </form>

        <!-- </div>

                </div>
            </div>
            <div class="modal-footer text-right">
                <button type="button" class="constantbtn-button-blue-left" (click)="saveObservation()" [disabled]="observationForm.invalid" id="editbtn">Submit</button>
            </div>
        </div>
    </div> -->
    </ngx-sidebar-form>



</div>


<div *ngIf='noObservation'>
    <!-- <div class="col-md-12 noDataDiv">
        <img class="noDataImg" src='assets/images/noDataFound1.png' onerror="this.src='assets/images/noDataFound1.png';">
    </div> -->
    <ngx-no-data [config]="noDataVal"></ngx-no-data>
</div>
<div class="deleteModalBackdrop" *ngIf="enableDeleteModal == true">
    <div class="deleteModal">
        <div class="modal-header deleteModalHeader">
            <p class="enableDisableModalHeaderP">Delete Pre-Assessment</p>
            <button class="close closeDeleteModalBtn" aria-label="Close" (click)="closeDeleteModal()">
                  <span aria-hidden="true">&times;</span>
              </button>
        </div>

        <div class="modal-body">
            <div class="">
                <p class="enableDisableModalBodyP">Are you sure you want to Delete {{delData.spectrNames}}?</p>
            </div>

        </div>

        <div class="modal-footer deleteModalFooter">
            <div class="">
                <button type="button" class="subBttn focus" (click)="enableDelaction(true)">Yes</button>
            </div>
            <div class="">
                <button type="button" class="subBttn focus" (click)="enableDelaction(false)">No</button>
            </div>
        </div>
    </div>
</div>