<app-subheader [headerConfig]="header" (inputsearch)="onsearch($event, searchTags)" (addbtn)="Addinstitue(null,0)" (backClick)="back()" (Clear)="clear()"></app-subheader>

<div class="top_header_container" *ngIf='!nodata'>
    <div class="top_header_div_sticky">
        <div class="widgets">
            <!-- <div ba-panel ba-panel-class="with-scroll">
                <div class="col-sm-12 csm12">
                    <div class="divCon">
                        <div class="userSubButInd1 sticky-top">
                            <div class="col-sm-3">
                                <h3 class="h3lableuser">Institutes</h3>
                            </div>
                            <div class="col-sm-5">
                                <div class="search_div">
                                    <input type="text" class="form-control search_field" placeholder="Search by Intitute name " [(ngModel)]="searchTags" (keyup.enter)="onsearch($event, searchTags)" />
                                    <i class="fa fa-remove remove_icon" aria-hidden="true" (click)="clear()"></i>
                                </div>
                            </div>
                            <div class="buttons_div">

                                <button class="constantbtn-button-blue-left" (click)="Addinstitue(null,0)">Add</button>

                                <button type="submit" class="back_button" (click)="back()">Back</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            <div>
                <div class="tableCompo">
                    <ngx-enrol-table [pagination]="true" [label]="labels" [tableData]="instituteslist" (clickOnbutton)=visibilityTableRow($event) (clickOnicon)="Addinstitue($event,1)"></ngx-enrol-table>
                </div>
                <div style="padding: 5px 10px">
                    <div>Total: {{ instituteslist.length }}</div>
                </div>
                <!-- <div class="bottomPager col-md-12" *ngIf="!nodata">
                    <div class="clearfix" *ngIf='!nodata'>
                        <div class="hint-text">Total Pages : <b>{{pager.totalPages}}</b></div>
                        <ul class="pagination">
                            <li class="page-item disabled" [ngClass]="{disabled:pager.currentPage === 1}" (click)="setpage(pager.currentPage - 1)">Previous</li>
                            <li class="page-item" *ngFor="let item of pager.pages; let i = index" [ngClass]="{active:pager.currentPage === item}" (click)="setpage(item)">
                                {{item}}</li>
                            <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}" (click)="setpage(pager.currentPage + 1)">Next</li>
                        </ul>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>

<ngx-sidebar-form *ngIf="sectionshow" [sidebarTitle]='title' [buttonName]="btnName" (saveBtn)='saveinstitute(instituteForm)' (outside)='closesectionModel()' (closeBtn)='closesectionModel()'>

    <!-- <div class="addRuleBackdropaddquiz" *ngIf="sectionshow">
    <div class="addRuleDemoaddquizModal">
        <div class="modal-header-1">

            <p>{{title}} Institute</p>
            <button class="close" aria-label="Close" (click)="closesectionModel()">
        <span aria-hidden="true">&times;</span>
      </button>
        </div>
        <div class="mbody modal-body">
            <div class="form_body_padding">
                <div class="col-md-12" style="padding: 0px;"> -->
    <form #instituteForm="ngForm">
        <div class="row">
            <div class="form-group col-md-6">
                <label class="side-form-label">{{helpContent?.Institute?.name.label}} <sup>&#x2731;</sup>
                                    <app-info-tooltip  [description]="helpContent?.Institute?.name.labelHelpContent"></app-info-tooltip>
                                </label>
                <!-- <label class="commonLabel" for="name">{{helpContent?.Institute?.name.label}} <sup class="reqFieldActivity">*</sup>
                  <div class="help-tooltip">
                    <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                    <div class="help-tooltip-position-right">
                      <p>{{helpContent?.Institute?.name.labelHelpContent}}</p>
                      <i></i>
                    </div>
                  </div>
                </label> -->
                <input type="text" class="form-control commonInput" id="InputRName" placeholder="Enter Institutes name" [ngClass]="{'invalid-form': instituteName.invalid && (instituteName.dirty || instituteName.touched)}" [(ngModel)]="instituteData.instituteName" name="instituteName"
                    #instituteName="ngModel" minlength="2" maxlength="50" required>

                <div *ngIf="instituteName.invalid && (instituteName.dirty || instituteName.touched)">

                    <div class="invalid-msg" *ngIf="instituteName.errors.required">
                        Name is required.
                    </div>
                    <div class="invalid-msg" *ngIf="instituteName.errors?.minlength">Name must be between 2 to 50 characters</div>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label class="side-form-label">{{helpContent?.Institute?.visibility.label}} <sup>&#x2731;</sup>
                                    <app-info-tooltip  [description]="helpContent?.Institute?.visibility.labelHelpContent"></app-info-tooltip>
                                </label>
                <!-- <label class="commonLabel" for="visibility">{{helpContent?.Institute?.visibility.label}}
                  <sup class="reqFieldActivity">*</sup>
                  <div class="help-tooltip">
                    <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                    <div class="help-tooltip-position-right">
                      <p>{{helpContent?.Institute?.visibility.labelHelpContent}}</p>
                      <i></i>
                    </div>
                  </div>
                </label> -->
                <select [(ngModel)]="instituteData.visible" class=" commonSelect custom-select" name="visible" #visible="ngModel" required>
                  <option value="" selected disabled>Select Visible</option>
                  <option *ngFor="let item of drowDownVisibleData" [value]=item.id>{{item.name}}</option>
                </select>
                <!-- <div *ngIf="visible.errors.required">
                Please select a visibility
              </div> -->
                <!-- <p></p> -->
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <label class="side-form-label">{{helpContent?.Institute?.description.label}} 
                                    <app-info-tooltip  [description]="helpContent?.Institute?.description.labelHelpContent"></app-info-tooltip>
                                </label>
                <!-- <label class="commonLabel" for="name">{{helpContent?.Institute?.description.label}}
                  <sup class="reqFieldActivity">*</sup>
                  <div class="help-tooltip">
                    <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                    <div class="help-tooltip-position-right">
                      <p>{{helpContent?.Institute?.description.labelHelpContent}}</p>
                      <i></i>
                    </div>
                  </div>
                </label> -->
                <textarea rows="2" cols="100" id="description" name="description" #description="ngModel" class="form-control commonLabel" type="text" [(ngModel)]="instituteData.description" placeholder="Enter Description"></textarea>
                <!-- <div *ngIf="description.invalid && (description.dirty || description.touched)" class="alert alert-danger">
                <div *ngIf="description.errors.required">
                  Name is required.
                </div>
              </div>   -->
            </div>
        </div>


    </form>
</ngx-sidebar-form>
<!-- </div>
            </div>
            <div class="text-right">
                <button type="button" class="constantbtn-button-blue-left" [disabled]="!instituteForm.valid" id="editbtn" (click)="saveinstitute(instituteForm.value)">Submit</button>
            </div>
        </div>
    </div>
</div> -->
<div *ngIf='nodata'>
    <!-- <div class="col-md-12 noDataDiv">
        <img class="noDataImg" src='assets/images/noDataFound1.png' onerror="this.src='assets/images/noDataFound1.png';">
    </div> -->
    <ngx-no-data [config]="noDataVal"></ngx-no-data>
</div>