// ngx-tags {
.addEditquiz_Container {
    .addEditCatbtn-secondary:hover {
        color: #fff;
        background-color: #ed462f;
        border-color: #ed462f;
    }
    .top_header_container {
        background: #fff;
        position: sticky;
        top: 4.75rem;
        z-index: 1020;
        padding: 0 10px;
        .top_header_div_sticky {
            background: #fff;
            display: grid;
            grid-template-columns: 1fr 1fr;
            height: 50px;
            align-items: center;
            width: 78vw;
            margin: auto;
            .page_title {
                text-align: left;
                h4 {
                    margin: 0;
                }
            }
            .buttons_div {
                text-align: right;
            }
        }
    }
}

.userSubButInd1 {
    transform: none;
    background: #fff;
    height: 55px;
    margin: 0 auto;
    padding: 9px;
    .search_div {
        display: grid;
        grid-template-columns: auto 20px;
        border: 1px solid;
        .search_field {
            height: 30px;
            border: none !important;
            box-shadow: none;
        }
        .remove_icon {
            line-height: 30px;
        }
    }
}

.h3lableuser {
    margin-top: 5px;
}

.buttons_div {
    padding-left: 30px;
    text-align: right;
}

.tableDiv {
    // margin: 15px;
    background: #fff;
    border-top: 1px solid #999999;
    padding: 15px;
    // border-radius: 5px;
}

.tableData {
    height: 50px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eee;
    padding: 0;
}

.headers {
    padding: 0;
    height: 50px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eee;
}

.scroll_div {
    width: 100%;
    height: 515px;
    overflow-y: auto;
    overflow-x: hidden;
}

.pointer {
    cursor: pointer;
}

.cancelbutquiz {
    background: transparent;
    border: none;
    color: black;
}

.addRuleBackdropaddquiz {
    // position: absolute;
    // width: 100%;
    // height: 100%;
    // top: 67px;
    // background-color: #404040c2;
    // z-index: 2000;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1503;
    background-color: #404040c2;
    .pop_scroll {
        max-height: 300px;
        overflow-y: auto;
    }
    .addRuleDemoaddquizModal {
        width: 50%;
        margin: auto;
        background-color: #fff;
        margin-top: 65px;
        border-radius: 5px;
    }
}

.modal-header-1 {
    padding: 10px;
    border-bottom: 1px solid #d5dbe0;
    border-top-left-radius: 0.17rem;
    border-top-right-radius: 0.17rem;
    color: #181818;
    font-family: Poppins;
    font-weight: 500;
    font-size: 1.125rem;
    background: #076ba1;
    color: white;
    display: grid;
    grid-template-columns: 2fr 0fr;
    align-items: center;
    p {
        margin: 0;
    }
    .close {
        display: contents;
        color: #fff;
        outline: none;
    }
}

.form_body_padding {
    // padding: 15px;
}

.forms-sample {
    color: #6d6d6d;
    width: 100%;
}

.nb-theme-corporate select.form-control:not([size]):not([multiple]) {
    height: 19%;
}

.div-align2 {
    text-align: start;
    color: #ed462f;
}

.btn {
    padding: 10px !important;
}

.addbtn {
    margin-top: 23px;
    i {
        color: #ed462f !important;
    }
}

.subbtn {
    padding: 15px !important;
}

// }
.pagination {
    float: right;
    margin: 0 0 5px;
    border: none !important;
}

.pagination li {
    border: none;
    font-size: 13px;
    min-width: 30px;
    min-height: 30px;
    padding: 0 10px;
    color: #999;
    margin: 0 2px;
    line-height: 30px;
    border-radius: 30px !important;
    text-align: center;
    cursor: pointer;
}

// .pagination li:hover {
//   color: #666;
// }
.pagination li.active {
    // background: #076ba1;
    border: 1px solid #076ba1 !important;
    cursor: not-allowed;
}

// .pagination li.active:hover {
//   background: #076ba1;
//   cursor: not-allowed;
// }
.pagination li.disabled {
    cursor: not-allowed;
    color: #ccc;
}

.pagination li i {
    font-size: 16px;
    padding-top: 6px;
}

.hint-text {
    float: left;
    margin-top: 10px;
    font-size: 13px;
}

.csm12 {
    border-bottom: 1px solid #eee;
}