@import '../../../../../@theme/styles/variable.scss';

/*.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; green
}*/


/*.ng-invalid:not(form)  {
  border-left: 5px solid #a94442;  red 
}*/

// .courseBasicDetailsContainer,
// .courseAdvDetailsContainer {
//     // padding: 0 14px 0 14px;
//     // padding: 4px 14px 0 14px;
//     padding: 0.5em 1.5em 0 1.5em;
// }
// .floterightcd{
//   //  background: #fff;
//   margin-right: -4px;
//   FLOAT: right;
// }
// .width100 {
//     width: 100%;
// }
// .reqFieldActivity {
//     display: inline;
//     color: #ed462f  ;
//   }
// .width100Imp {
//     width: 100%  ;
// }
// tag-input {
//     width: 100%;
// }
// tag-input div {
//     width: 100%  ;
// }
// .courseDetailsTab {
//     .form-control {
//         -webkit-box-shadow: none  ;
//         box-shadow: none  ;
//         border: 1px solid #dadfe6;
//     }
//     .alert {
//         margin-bottom: 1px;
//         height: 25px;
//         line-height: 25px;
//         padding: 0px 15px;
//     }
//     .alert-danger {
//         background-color: #f0f3f4;
//         border-color: #f0f3f4;
//         color: #a94442;
//     }
// .userField {
//     margin-left: 30px;
//     margin-top: 15px;
// }
// .userLegend {
//     margin-bottom: 5px;
// }
// .userLegendBorder {
//     border-bottom-style: solid;
//     border-bottom-width: 2px;
// }
// #userRow1 {
//     margin-top: 10px;
// }
// .userSubBut {
//     float: right;
//     /* margin-left: 30px; */
//     /*margin-top: 8px;*/
//     transform: none;
//     background: #fff;
//     height: 55px;
//     //margin: 0 auto;
//     padding: 13.5px;
// }
// .userBackBut {
//     /* display: none; */
// }
// #addTopicBtn {
//     //margin-left: 10px;
//     border-radius: 0;
//     background: #076ba1;
//     color: #fff;
//     border: #ed462f;
//     height: 37px;
//     width: 135px;
//     float: left;
//     //padding: 2px;
//     //width: 90px;
//     color: #ffffff;
//     background-color: #076ba1;
//     background-image: none;
//     border-color: #076ba1;
//     transform: none;
// }
// .errorMsg {
//     background-color: #ffffff;
// }
// .txtHeight2 {
//     //height:30px;
//     display: block;
//     // width: 94%  ;
//     width: 94%  ;
//     padding: 10px;
//     float: left;
//     height: 2.5rem  ;
//     color: #495057;
//     background-color: #fff;
//     //line-height: 1.5;
//     //height:40px;
//     border: 1px solid #ccd4da;
// }
// #topMargin {
//     margin-top: 30px  ;
// }
// .tagcontainer {
//     margin-bottom: 4px;
// }
// .tagcontainer .bootstrap.ng2-tag-input {
//     display: block;
//     -webkit-box-orient: horizontal;
//     -webkit-box-direction: normal;
//     -ms-flex-direction: row;
//     flex-direction: row;
//     -ms-flex-wrap: wrap;
//     flex-wrap: wrap;
//     position: relative;
//     cursor: text;
//     // width: 445px  ;
//     border-bottom: 2px solid #efefef;
// }
// .align_icon {
//     display: block;
//     width: 15%;
//     float: right;
//     //color: #495057;
//     background-color: #fff;
//     //line-height: 1.5;
//     border: 1px solid #ccd4da;
// }
// .btnCal2 {
//     position: absolute;
//     width: 30px  ;
//     float: right;
//     height: 2.5rem  ;
// }
// .left_space {
//     padding-left: 2px;
// }
// .cal_icon {
//     background: url(assets/images/calendar-icon.png) no-repeat;
//     background-size: 100% 100%;
// }
// #submitContent {
//     margin-left: 10px;
//     margin-right: 20px;
//     border-radius: 0;
//     background: #ed462f;
//     color: #fff;
//     border: #ed462f;
//     height: 37px;
//     width: 135px;
//     color: #ffffff;
//     background-color: #ed462f;
//     background-image: none;
//     border-color: #ed462f;
//     transform: none;
// }
// #saveBut {
//     margin-right: 10px;
//     border-radius: 0;
//     background: #ed462f;
//     color: #fff;
//     border: #ed462f;
//     height: 37px;
//     width: 135px;
//     //padding: 2px;
//     //width: 90px;
//     color: #ffffff;
//     background-color: #ed462f;
//     background-image: none;
//     border-color: #ed462f;
//     transform: none;
// }
// #backButton {
//     margin-bottom: 10px  ;
//     border-radius: 0;
//     background: #076ba1;
//     color: #fff;
//     border: #076ba1;
//     height: 37px;
//     width: 135px;
//     color: #ffffff;
//     background-color: #076ba1;
//     background-image: none;
//     border-color: #076ba1;
//     transform: none;
// }
// .optbtnNew {
//     border-radius: 0;
//     background: #ed462f;
//     color: #fff;
//     border: #076ba1;
//     height: 28px;
//     /*width: 91px;*/
//     transform: none  ;
// }
// .btn-secondary:hover {
//     color: rgb(150, 144, 144);
//     background-color: #ed462f;
//     border-color: #ed462f;
// }
// .inputLabel {
//     line-height: 2.5;
//     font-size: 15px;
// }
// .left {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     flex-direction: column;
// }
// .photo {
//     width: 200px;
//     height: 200px;
//     margin-top: -120px;
//     border-radius: 100px;
//     border: 4px solid #fff;
// }
// .proImg {
//     margin-left: 157%;
//     margin-top: 65%;
// }
// .img-circle {
//     border-radius: 50%;
// }
// .bg-form {
//     float: left;
//     width: 100%;
//     position: relative;
//     background: url("http://lorempixel.com/200/200/abstract/");
//     background-repeat: no-repeat;
//     background-size: cover;
//     margin-top: 0px;
// }
// .img-section {
//     float: left;
//     width: 100%;
//     padding-top: 15px;
//     padding-bottom: 15px;
//     background: rgba(0, 0, 0, 0.7);
//     position: relative;
// }
// .img-section h4 {
//     color: #fff;
// }
// #PicUpload {
//     color: #ffffff;
//     width: 180px;
//     height: 180px;
//     background: rgba(255, 255, 255, 0.4);
//     padding: 100px;
//     position: absolute;
//     left: 30.5%;
//     border-radius: 50%;
//     display: none;
//     top: 15px;
// }
// .imgCircle {
//     border-radius: 50%;
//     width: 200px;
//     height: 200px;
// }
// .Profile-input-file {
//     height: 180px;
//     width: 180px;
//     left: 33%;
//     position: absolute;
//     top: 0px;
//     z-index: 999;
//     opacity: 0  ;
// }

/*.form-control{padding: 10px 50px;}*/

// .form-input {
//     height: 50px;
//     border-radius: 0px;
//     margin-top: 20px;
// }
// .form-style-fake {
//     position: absolute;
//     top: 0px;
// }
// .form-style-base {
//     position: absolute;
//     top: 0px;
//     z-index: 999;
//     opacity: 0;
// }
// .fake-styled-btn {
//     background: #006cad;
//     padding: 10px;
//     color: #fff;
// }
// .camera {
//     font-size: 50px;
//     color: #333;
// }
// .activeRoute{
//   text-decoration: underline;
//   text-underline-position: under;
//   text-decoration-color: #076ba1;
//   color: #076ba1;
// }
// .al-content {
//    padding: 0px;
// }
//     .grid-margin {
//         padding: 0  ;
//         padding-right: 10px  ;
//         background-color: #f1f5f8;
//     }
//     .grid-margin2 {
//         padding: 0  ;
//     }
//     // .m0{
//     //   margin: 0 auto;
//     // }
//     .photo-left {
//         margin: 0 auto;
//     }
//     .cardForm {
//         color: #666666;
//         background-color: #ffffff;
//         border: 1px solid #f1eded;
//         border-radius: 0px;
//         position: relative;
//         margin-bottom: 24px;
//         box-shadow: none;
//         // height: 695px;
//     }
//     // .courseTabs>.tabset>.nav .nav-tabs {
//     //     width: 100%  ;
//     // }
//     // .courseTabs>.tabset>.nav .nav-tabs>li {
//     //     // width:33%  ;
//     //     width: 16%  ;
//     // }
//     // .courseTabs>.tabset>ul {
//     //     padding-left: 0  ;
//     //     background: #fff  ;
//     //     border: none  ;
//     // }
//     // .courseTabs>.tabset>ul>li {
//     //     width: 16%  ;
//     //     height: auto;
//     // }
//     // .courseTabs>.tabset>.nav .nav-tabs>li>a {
//     //     width: 100%  ;
//     // }
//     // .courseTabs>.tabset>ul>li>a>span>i {
//     //     font-size: 20px  ;
//     //     display: block  ;
//     //     height: 100%  ;
//     // }
//     // .courseTabs>.tabset>ul>li>a>span>i>b {
//     //     display: block  ;
//     //     font-weight: 500  ;
//     //     font-style: normal  ;
//     //     font-size: 16px  ;
//     // }
//     // .courseTabs>.tabset>ul>li>a>.span {
//     //     width: 100%  ;
//     // }
//     // .courseTabs>.tabset>ul>li:last-child a {
//     //     border-top-right-radius: 0px  ;
//     // }
//     // .courseTabs>.tabset>ul>li:hover {
//     //     border-radius: 0px  ;
//     //     border: none  ;
//     //     color: #076ba1  ;
//     // }
//     // .courseTabs>.tabset>.nav-tabs>li>a:hover {
//     //     // border-color: #eee #eee #ddd;
//     //     border: none  ;
//     //     background: #fff  ;
//     //     color: #076ba1  ;
//     // }
//     // .courseTabs>.tabset>ul>li.active>a {
//     //     background-color: #ffffff  ;
//     //     color: #076ba1  ;
//     //     border-radius: 0px  ;
//     //     border-bottom: 2.5px solid #076ba1  ;
//     // }
//     // .courseTabs>.tabset>ul>li.active>a:hover {
//     //     background-color: #ffffff  ;
//     //     color: #076ba1  ;
//     //     border-radius: 0px  ;
//     //     border-bottom: 2.5px solid #076ba1  ;
//     // }
//     // .courseTabs>.tabset>ul>li.active {
//     //     // width: 20px;
//     //     //height: 20px;
//     //     // border-radius: 20px;
//     //     // position: inherit;
//     //     position: initial;
//     //     // right: calc(50% - 70px);
//     //     //top: 75px;
//     //     background-color: transparent;
//     //     border: none;
//     //     height: auto;
//     // }
//     /*.courseTabs > .tabset > .nav.nav-tabs > li.active > a {
//     border-bottom: 3px solid #076ba1  ;
//     background-color: #fff  ;
//     color: #076ba1  ;
// }
// .courseTabs > .tabset > ul{
//   background: #fff  ;
//   height: 55px;
//    position: sticky;
//     top: 66px;
//     z-index: 1030;
//     padding: 0px  ;
// }
// .courseTabs > .tabset > ul > li {
//     width: 22%  ;
//     height:100%  ;
// }
// .courseTabs > .tabset > ul > li:hover > a {
//     color: #076ba1  ;
//     background-color: #ffffff  ;
//     transform: none  ;
//     transition: none  ;
// }
// .courseTabs > .tabset > .nav.nav-tabs {
//   border-top-left-radius: 5px  ;
//   border-top-right-radius: 5px  ;
//   border-bottom: none  ;
//   background-color: white;
// }
// .courseTabs > .tabset>ul>li>a{
//   width: 100%  ;
//   background-color: transparent  ;
//   color: #686868  ;
//   height: 55px  ;
//   border-bottom: none  ;
//   line-height: 2.5;
// }*/
//     .cardmar {
//         margin: 44px;
//     }
//     .colpad {
//         padding: 0;
//     }
//     .rowtopic {
//         display: inline-flex;
//     }
//     // #editbtn {
//     //     margin: 0 10px;
//     //     border-radius: 0;
//     //     background: #076ba1;
//     //     color: #fff;
//     //     border: #076ba1;
//     //     height: 28px;
//     //     /*width: 92px;*/
//     //     color: #ffffff;
//     //     background-color: #076ba1;
//     //     background-image: none;
//     //     border-color: #076ba1;
//     //     transform: none;
//     // }
//     hr {
//         display: block;
//         height: 2px;
//         border: 0;
//         border-top: 1px solid #ececec;
//         /*border-top: 2px solid #85c320;*/
//         margin: 1em 0;
//         padding: 0;
//     }
//     .tooltipMenu::after {
//         content: " ";
//         position: absolute;
//         border-width: 10px;
//         border-style: solid;
//     }
//     .bottomSide.tooltipMenu::after {
//         bottom: 100%;
//         left: 45%;
//         border-color: transparent transparent white transparent;
//     }
//     .leftSide.tooltipMenu::after {
//         left: 100%;
//         top: 5%;
//         border-color: transparent transparent transparent white;
//     }
//     .rightSide.tooltipMenu::after {
//         right: 100%;
//         top: 5%;
//         border-color: transparent white transparent transparent;
//     }
//     .topSide.tooltipMenu::after {
//         right: 45%;
//         top: 100%;
//         border-color: white transparent transparent transparent;
//     }
//     .bottomSide {
//         top: 100%;
//     }
//     .topSide {
//         bottom: 100%;
//     }
//     .leftSide {
//         right: 70%;
//         top: 15%
//     }
//     .rightSide {
//         left: 70%;
//         top: 15%;
//     }
//     div li:hover .tooltipMenu {
//         visibility: visible;
//         cursor: pointer;
//     }
//     .tooltip {
//         position: relative;
//         display: inline-block;
//         opacity: 1;
//         z-index: 1050;
//     }
//     .tooltipMenu {
//         visibility: hidden;
//         position: absolute;
//         z-index: 1;
//     }
//     .tooltipMenu {
//         min-height: 100px;
//         width: 45%;
//         /* border: 1px solid #0d77b6;*/
//     }
//     .tooltipMenu ul li {
//         color: #fff;
//         padding: 13px;
//         font-family: sans-serif;
//         font-size: 15px;
//         width: 100%;
//         background: #62a8ea;
//         display: flex;
//         height: 2.5rem;
//         border-radius: 1px;
//     }
//     .tooltipMenu ul li:hover {
//         background: #0d77b6;
//         color: white;
//         cursor: pointer;
//         font-weight: bold;
//     }
//     .toolul {
//         display: inline-flex;
//         padding: 0;
//     }
//     .toolposdiv {
//         float: right;
//         margin-right: 42px;
//     }
//     #addbtn {
//         margin-left: 10px;
//         border-radius: 0;
//         background: #ffffff;
//         color: #fff;
//         border: 1px solid #076ba1;
//         height: 28px;
//         width: 110px;
//         color: #076ba1;
//         /* background-color: #076ba1; */
//         background-image: none;
//         border-color: #076ba1;
//         transform: none;
//     }
//     .paddp {
//         padding-right: 15px;
//         margin: 15px 0;
//     }
//     .h4mar {
//         margin: 6px 0 0 0;
//     }
//     .activeForm {}
//     .formGen {
//         width: 100%;
//     }
//     .formGenCard {
//         padding-left: 25px;
//         margin-top: 25px;
//     }
//     .formCustCard {
//         margin-top: 25px;
//         padding-right: 25px;
//     }
//     .CustomFieldsformGenCard1,
//     .CustomFieldsformGenCard2,
//     .CustomFieldsformGenCard3,
//     .CustomFieldsformGenCard4,
//     .CustomFieldsformGenCard5,
//     .CustomFieldsformGenCard6,
//     .CustomFieldsformGenCard7 {
//         margin-bottom: 0  ;
//     }
//     .CustomFieldscardForm1,
//     .CustomFieldscardForm2,
//     .CustomFieldscardForm3,
//     .CustomFieldscardForm4,
//     .CustomFieldscardForm5,
//     .CustomFieldscardForm6,
//     .CustomFieldscardForm7 {
//         cursor: pointer  ;
//         margin-bottom: 0  ;
//     }
//     .CustomFieldscardBody1,
//     .CustomFieldscardBody2,
//     .CustomFieldscardBody3,
//     .CustomFieldscardBody4,
//     .CustomFieldscardBody5,
//     .CustomFieldscardBody6,
//     .CustomFieldscardBody7 {
//         padding: 15px 15px 0px 15px  ;
//     }
//     [data-toggle="collapse"] i:before {
//         content: "\f139";
//     }
//     [data-toggle="collapse"].collapsed i:before {
//         content: "\f13a";
//     }
//     .btn-group-xs>.btn,
//     .btn-xs {
//         padding: 0px 5px;
//         font-size: 12px;
//     }
//     .headCard {
//         display: flex;
//     }
//     .custTitle {
//         margin-bottom: 0  ;
//     }
//     .downArrow {
//         color: #ed462f;
//     }
//     .form-control-input {
//         border-radius: 0;
//     }
//     .reqField {
//         display: inline;
//         color: #ed462f;
//     }
//     .topEditHead .resEditHead .resRemoveHead {
//         /*background: #f2f8f9;*/
//         color: #1e2121;
//         padding: 10px 0px 10px 0px;
//         /*border: 1px solid #5ba3f5;*/
//     }
//     .btnTool {
//         float: right;
//         margin-top: -3.2px;
//     }
//     .toolBut {
//         float: right;
//         background: transparent;
//         border: none;
//     }
//     .toolBut:focus {
//         outline: none;
//     }
//     .iconSubmit {
//         font-size: 19px;
//         color: #b5b5b5;
//     }
//     #right_align {
//         //width:70%;
//         float: right;
//     }
//     .iconSubmit:hover {
//         color: #8BC34A;
//     }
//     .iconCancel {
//         color: #b5b5b5;
//     }
//     .iconCancel:hover {
//         color: #F44336;
//     }
//     .dropOption {
//         text-align: center;
//     }
//     .iconMore {
//         font-size: 19px;
//         padding-left: 5px;
//     }
//     .dropMoreList {
//         min-width: inherit;
//         left: -24%;
//         top: 24px;
//         cursor: pointer;
//         padding: 6px 0 6px 0;
//     }
//     .dropMoreListItem {
//         /*padding: 5px 10px;*/
//         /*text-align: center;*/
//         font-size: 12px;
//         padding: 0 12px 0 12px;
//         color: #1e2121 ;
//     }
//     .dropMoreListItem:active {
//         color: #444;
//     }
//     .removeResDiv {
//         width: 100%;
//     }
//     .removeTopDiv {
//         width: 100%;
//     }
//     /*.removeResDiv > input:focus {
//     outline: none;
//     border: none;
// }*/
//     input.editing {
//         outline: none;
//         border: none;
//         /*border-bottom: 1px solid #ececec;*/
//         font-size: 16px;
//         color: #076ba1;
//     }
//     .divScrollTopicList {
//         width: 100%;
//         min-height: 96px;
//         max-height: 498px;
//         overflow-y: auto;
//     }
//     .resRemoveHead {
//         margin-top: 0;
//     }
//     .resRemoveHead:hover .btnTool {
//         display: block;
//     }
//     .resRemoveHead .btnTool {
//         display: none;
//     }
//     .topRemoveHead .topicHead {
//         margin-top: 0;
//         min-height: 25px;
//     }
//     .topRemoveHead:hover .btnTool {
//         display: block;
//     }
//     .topRemoveHead .btnTool {
//         display: none;
//     }

/*.mainHeadDiv{
  bottom: 14px;
}*/

// .mainHeadDiv:hover .addResBut {
//     display: block;
// }
// .mainHeadDiv .addResBut {
//     display: none;
// }
// .nv-file-over {
//     border: dotted 3px red;
// }

/* Default class applied to drop zones on over */

// .another-file-over-class {
//     border: dotted 3px green;
// }
// .chooseFile {
//     text-align: center;
//     float: left;
//     /* margin-left: 12%; */
//     /* margin-top: 7%; */
// }
// .cancelFile {
//     text-align: center;
//     /* float: left; */
//     /* margin-left: 12%; */
//     /* margin-top: 7%; */
// }
// .colInput {
//     /*margin-top: -2em;*/
// }
// .or {
//     text-align: center;
//     margin-left: 12%;
//     margin-top: 3%;
//     margin-bottom: -4%;
// }
// .inputFileCourse {
//     height: 14em;
//     .form-control-file {
//         position: relative;
//         width: 100%;
//         height: 100%;
//         min-height: 6em;
//         outline: none;
//         visibility: hidden;
//         cursor: pointer;
//         background-color: #c61c23;
//         box-shadow: 0 0 5px solid currentColor;
//         &::before {
//             color: #ed462f;
//             content: attr(data-title);
//             position: absolute;
//             top: 1.5em;
//             left: 0;
//             width: 100%;
//             /* min-height: 8em; */
//             height: 12em;
//             line-height: 8em;
//             padding-top: 1.5em;
//             opacity: 1;
//             visibility: visible;
//             text-align: center;
//             border: 0.15em dashed #9ea4a5;
//             transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
//             overflow: hidden;
//         }
//         &::hover {
//             &:before {
//                 border-style: solid #076ba1;
//                 /*box-shadow: inset 0px 0px 0px 0.25em currentColor;*/
//             }
//         }
//     }
// }
// .labelFile {
//     font-size: 17px  ;
// }
// // .dropHeight {
// //     height: 2.5rem  ;
// // }
// .align-vertical-center{
//     align-self: flex-end;
// }
// .cancelButton {
//     border-radius: 0px  ;
//     background-color: #076ba1  ;
//     background: #076ba1;
//     color: white  ;
//     transform: none;
// }
// /* ::-moz-placeholder  Firefox v19+ */
// /* :-moz-placeholder  Firefox v18- */
// /* For Firefox only */
// .inputFileCourse {
//     height: 14em;
//     .form-control-file {
//         position: relative;
//         width: 100%;
//         height: 100%;
//         min-height: 6em;
//         outline: none;
//         visibility: hidden;
//         cursor: pointer;
//         background-color: #c61c23;
//         box-shadow: 0 0 5px solid currentColor;
//         &:before {
//             color: #ed462f;
//             content: attr(data-title);
//             position: absolute;
//             top: 1.5em;
//             left: 0;
//             width: 100%;
//             /* min-height: 8em; */
//             height: 12em;
//             line-height: 8em;
//             padding-top: 1.5em;
//             opacity: 1;
//             visibility: visible;
//             text-align: center;
//             border: 0.15em dashed #9ea4a5;
//             transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
//             overflow: hidden;
//         }
//         &:hover {
//             &:before {
//                 border-style: solid #076ba1;
//                 /*box-shadow: inset 0px 0px 0px 0.25em currentColor;*/
//             }
//         }
//     }
// }
// /* For Firefox only */
// .labelFile {
//     font-size: 17px  ;
// }
// /* For Firefox only */
// .cancelBut {
//     border-radius: 0;
//     transform: none;
// }
// .addFileHeadSeperator {
//     /*margin: 4px;*/
//     border-top-color: #9E9E9E;
// }
// .topicSeprator {
//     border-top-color: #9E9E9E;
// }
// .resourceSeprator {
//     border-top-color: #ececec;
// }
// .topicEditSeperator,
// .resourceEditSeperator {
//     margin: 4px;
//     /*border-top-color: #9E9E9E;*/
// }
// .form-control,
// .mydp,
// .mydp .headertodaybtn,
// .mydp .selection,
// .mydp .selectiongroup,
// .mydp .selector {
//     border-radius: 0px  ;
// }
// .sticky-top {
//     position: sticky;
//     top: 67px;
//     z-index: 1090;
// }
// .addEditConTopBtnDiv {
//     background-color: #fff;
// }
//     .courseRevDis {
//         /* pointer-events: none; */
//         cursor: not-allowed;
//         background-color: #fdfbfbc2;
//         // z-index: 1000;
//         .checkBoxDiv {
//             pointer-events: none;
//         }
//     }
//     .marginTop14 {
//         margin-top: 14px;
//     }
//     .formGen,
//     .manualformGen {
//         width: 100%;
//     }
//     .formGenCard {
//         padding-left: 25px;
//         // margin-top: 25px;
//     }
//     .manualformGenCard,
//     .ruleBasedformGenCard,
//     .regulatoryformGenCard,
//     .selfformGenCard {
//         margin-bottom: 0  ;
//         margin-top: 10px;
//     }
//     .manualCardForm,
//     .ruleBasedCardForm,
//     .regulatoryCardForm,
//     .selfCardForm {
//         cursor: pointer  ;
//         margin-bottom: 0  ;
//     }
//     .manualCardBody,
//     .ruleBasedCardBody,
//     .regulatoryCardBody,
//     .selfCardBody {
//         // padding: 15px 15px 0px 15px  ;
//         padding: 0.5rem  ;
//     }
//     .headerCard {
//         display: inline-block;
//         // display: inline-flex;
//         // display: inherit;
//         width: 100%;
//     }
//     .manualTitle,
//     .ruleTitle,
//     .regTitle,
//     .selfTitle {
//         float: left;
//         margin-bottom: 0  ;
//         font-size: 1.3rem  ;
//         font-weight: 100  ;
//         margin-top: 0  ;
//     }
//     .downArrow {
//         color: #ed462f;
//     }
//     #right_float {
//         float: right;
//     }
//     [data-toggle="collapse"] i:before {
//         content: "\f139";
//     }
//     [data-toggle="collapse"].collapsed i:before {
//         content: "\f13a";
//     }
//     .expandBtn {
//         float: right;
//         background: #fff;
//         border: none  ;
//     }
//     .expandBtn:hover {
//         background: #fff;
//         border: none;
//         outline: none;
//     }
//     .grid-padding {
//         padding-left: 0  ;
//     }
//     .topBorderForm {
//         // border-bottom: 1px solid #076ba1;
//         // margin-top: 30px;
//     }
//     .manualContent {
//         // min-height: 100px;
//         min-height: 350px;
//     }
//     .ruleBasedContent {
//         // min-height: 100px;
//         min-height: 350px;
//     }
//     .regulatoryContent {
//         // min-height: 100px;
//         min-height: 350px;
//     }
//     .selfContent {
//         // min-height: 100px;
//         min-height: 350px;
//     }
//     .pointer {
//         margin-bottom: 0px;
//     }
//     .cardTitle {
//         background: #076ba1;
//         color: #ffff  ;
//         padding: 10px;
//         margin-bottom: 0;
//         margin-top: 0;
//     }
//     .formPad10 {
//         padding: 10px;
//     }
//     .cardBody {
//         padding: 0;
//     }
//     .vaildDrop1,
//     .vaildDrop2 {
//         margin-bottom: 0;
//         width: 148px;
//         margin-left: 30px;
//     }
//     .vaildDrop2 {
//         // margin-left: 99px;
//         margin-left: 30px;
//         margin-top: 4px;
//     }
//     .dispInFlex {
//         display: inline-flex;
//     }
//     textarea {
//         resize: none;
//     }
//     .m0 {
//         margin: 0 auto;
//     }
//     .padLeft0 {
//         padding-left: 0;
//     }
//     .courseIconContainer {
//         width: 98%;
//         margin-left: 7px;
//         padding: 0.5em;
//     }
//     .paddingCourseIconContainer {
//         padding: 0em 0.5em 0em 0.5em;
//     }
//     .course-icon {
//         margin: 0 auto;
//     }
//     .courseIcon-upload {
//         position: relative;
//         // max-width: 205px;
//         max-width: 275px;
//         /*margin: 50px auto;*/
//         .courseIcon-edit {
//             position: absolute;
//             // right: 12px;
//             z-index: 1;
//             // top: 10px;
//             left: 13px;
//             bottom: 8px;
//             input {
//                 display: none;
//                 +label {
//                     display: inline-block;
//                     width: 34px;
//                     height: 34px;
//                     margin-bottom: 0;
//                     border-radius: 100%;
//                     background: #FFFFFF;
//                     border: 1px solid transparent;
//                     box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
//                     cursor: pointer;
//                     font-weight: normal;
//                     transition: all .2s ease-in-out;
//                     &:hover {
//                         background: #f1f1f1;
//                         border-color: #d6d6d6;
//                     }
//                     &:after {
//                         content: "\f040";
//                         font-family: 'FontAwesome';
//                         color: #757575;
//                         position: absolute;
//                         top: 10px;
//                         left: 0;
//                         right: 0;
//                         text-align: center;
//                         margin: auto;
//                     }
//                 }
//             }
//         }
//         .courseIcon-delete {
//             position: absolute;
//             // right: 12px;
//             z-index: 1;
//             // bottom: 10px;
//             right: 13px;
//             bottom: 8px;
//             label {
//                 display: inline-block;
//                 width: 34px;
//                 height: 34px;
//                 margin-bottom: 0;
//                 border-radius: 100%;
//                 background: #FFFFFF;
//                 border: 1px solid transparent;
//                 box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
//                 cursor: pointer;
//                 font-weight: normal;
//                 transition: all .2s ease-in-out;
//                 &:hover {
//                     background: #f1f1f1;
//                     border-color: #d6d6d6;
//                 }
//                 &:after {
//                     content: "\f1f8";
//                     font-family: 'FontAwesome';
//                     color: #757575;
//                     position: absolute;
//                     top: 10px;
//                     left: 0;
//                     right: 0;
//                     text-align: center;
//                     margin: auto;
//                 }
//             }
//         }
//         .courseIcon-preview {
//             // width: 192px;
//             // height: 192px;
//             // position: relative;
//             // border-radius: 100%;
//             // border: 6px solid #F8F8F8;
//             // box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
//             width: 100%;
//             height: 180px;
//             position: relative;
//             /* border-radius: 100%; */
//             border: 6px solid #F8F8F8;
//             -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
//             box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
//             // > div {
//             //     width: 100%;
//             //     height: 100%;
//             //     // border-radius: 100%;
//             //     background-size: cover;
//             //     background-repeat: no-repeat;
//             //     background-position: center;
//             // }
//             >img {
//                 width: 100%;
//                 height: 100%;
//                 // border-radius: inherit;
//                 // background-size: contain;
//                 // background-size: cover;
//                 // background-repeat: no-repeat;
//                 // background-position: center;
//             }
//         }
//     }
//     .inputLabelUpload {
//         line-height: 12.5;
//         font-size: 15px;
//     }
//     .lineHeight2 {
//         line-height: 2;
//     }
//     .lineHeight3 {
//         line-height: 3;
//     }
//     .checkDiv {
//         margin-left: 25px;
//         margin-top: 15px;
//     }
//     .divP {
//         margin: 5px 0;
//         padding-left: 2px;
//     }
// }
// .courseThumbCont {
//     padding-top: 25px;
// }
// .creditPointsLabel {
//     margin-bottom: 0;
//     line-height: 2;
// }
.details_container {
    .addEditCategory_page_container {
        background: #fff;
        margin-top: 10px;
        .submit_form_button {
            width: 95%;
            margin: auto;
            padding-top: 15px;
        }
        .content_padding {
            padding: 20px;
        }
        .addEditCategory_header {
            background: #fff;
            position: sticky;
            top: 4.75rem;
            z-index: 1020;
            .header_grid {
                display: grid;
                grid-template-columns: 1fr 1fr;
                align-items: center;
                height: 50px;
                .header_title {
                    h4 {
                        text-align: left;
                    }
                }
                .buttons_container {
                    text-align: right;
                }
                .no_image_found {
                    background-image: url('assets/images/noImage.jpg');
                }
            }
        }
        .inside_form_container {
            // display: grid;
            // grid-template-columns: 1fr 1fr;
            background: #fff;
            // margin: 20px;
            // .select_field_height{
            //     height: 35px;
            //     width: 100%;
            // }
            .margin_top7 {
                margin-top: 7px;
            }
            .form_grid {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-column-gap: 20px;
                .flex_form_field {
                    display: grid;
                    grid-template-columns: 2fr 2fr 1fr 1fr 0fr;
                    grid-column-gap: 10px;
                    // align-items: center;
                    margin-bottom: 15px;
                    // .align_grid_Items_center{
                    //     align-items: center;
                    // }
                }
                .left_form_container {
                    .form_title {
                        display: grid;
                        align-items: center;
                        // padding: 0 15px;
                        // background: #076BA1;
                        background: var(--colorBtnTxt);
                        padding: 10px;
                        h5 {
                            margin: 0;
                            color: var(--colorCommon);
                        }
                    }
                    .form_container {
                        padding: 15px;
                        border: 1px solid #eee;
                        min-height: 700px;
                    }
                }
                .right_form_container {
                    .form_title {
                        display: grid;
                        align-items: center;
                        padding: 0 15px;
                        // background: #076BA1;
                        background: var(--colorBtnTxt);
                        padding: 10px;
                        h5 {
                            margin: 0;
                            color: var(--colorCommon);
                        }
                    }
                    .form_container {
                        padding: 15px;
                        border: 1px solid #eee;
                        min-height: 700px;
                    }
                    .form_field_grid3 {
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr;
                        align-items: center;
                    }
                    .sqrCheckBox .sqrCheckBoxLabel {
                        border: 1px solid #ccc;
                        border-radius: none;
                        cursor: pointer;
                        height: 16px;
                        left: -14px;
                        position: -webkit-sticky;
                        position: relative;
                        width: 16px;
                        top: 10px;
                        margin-right: -10px;
                    }
                    .sqrCheckBox .sqrCheckBoxLabel:after {
                        // border: 2px solid #fff;
                        border: 2px solid #076ba1;
                        border-top: none;
                        border-right: none;
                        content: "";
                        height: 4px;
                        left: 1.5px;
                        opacity: 0;
                        position: absolute;
                        top: 4.0px;
                        -webkit-transform: rotate(-45deg);
                        transform: rotate(-45deg);
                        width: 12px;
                    }
                    .sqrCheckBox input[type="checkbox"] {
                        visibility: hidden;
                    }
                    .sqrCheckBox input[type="checkbox"]:checked+.sqrCheckBoxLabel {
                        background-color: #ffffff;
                        border-color: #076ba1;
                    }
                    .sqrCheckBox input[type="checkbox"]:checked+.sqrCheckBoxLabel:after {
                        opacity: 1;
                    }
                }
                .form_field_container {
                    margin: 15px 0;
                    //   .select_field_height{
                    //     height: 35px;
                    //     width: 100%;
                    // }
                    .coursePointsHeading {
                        display: flex;
                        align-items: center;
                        height: 60px;
                        .Widthfull {
                            width: 100%;
                        }
                    }
                    .image_upload_container {
                        // margin-top: 15px;
                        .image_preview {
                            height: 170px;
                            width: 300px;
                            margin-right: auto;
                            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
                            padding: 10px;
                            background: #fff9f9;
                            position: relative;
                            .image_preview_container {
                                height: 150px;
                                width: 100%;
                                background-size: cover;
                                background-position: center;
                                background-repeat: no-repeat;
                                display: grid;
                                grid-template-columns: 1fr 1fr;
                                // position: absolute;
                                grid-column-gap: 20px;
                                align-items: end;
                                // margin-top: -10px;
                                // img{
                                //   width: 100%;
                                //   height: 100%;
                                // }
                                .icon_upload_image {
                                    // text-align: right;
                                    // margin-left: auto;
                                    margin-left: 10px;
                                    margin-bottom: 10px;
                                    label {
                                        display: flex;
                                        align-items: center;
                                        // align-content: 
                                        justify-content: center;
                                        // justify-items: center;
                                        background: #fff;
                                        color: #076ba1;
                                        height: 40px;
                                        width: 40px;
                                        border-radius: 50%;
                                        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
                                        margin-bottom: 0;
                                        padding: 0;
                                        i {
                                            line-height: 40px;
                                        }
                                    }
                                    // margin: 0 auto;
                                }
                                .icon_delete {
                                    // text-align: right;
                                    // margin-right: auto;
                                    margin-left: auto;
                                    margin-right: 10px;
                                    margin-bottom: 10px;
                                    display: flex;
                                    align-items: center;
                                    // align-content: 
                                    justify-content: center;
                                    // justify-items: center;
                                    background: #fff;
                                    color: #076ba1;
                                    height: 40px;
                                    width: 40px;
                                    border-radius: 50%;
                                    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
                                    // margin: 0;
                                    padding: 0;
                                    i {
                                        line-height: 40px;
                                    }
                                }
                                //   .buttons_image_preview{
                                //     // display: grid;
                                //     // grid-template-columns: 1fr 1fr;
                                //     // // position: absolute;
                                //     // grid-column-gap: 20px;
                                //     // align-items: end;
                                //     // margin-top: -10px;
                                // }
                            }
                        }
                    }
                    label {
                        color: #666666;
                    }
                    .required_mark {
                        // font-size: 20px;
                        // font-weight: 100;
                        // top: -0.3em;
                        color: #ed462f;
                    }
                }
            }
        }
        .tagcontainer {
            margin-bottom: 4px;
        }
        .tagcontainer .bootstrap.ng2-tag-input {
            display: block;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            position: relative;
            cursor: text;
            // width: 445px  ;
            border-bottom: 2px solid #efefef;
        }
        tag-input {
            width: 100%;
        }
        .no-margin {
            margin: 0;
        }
    }
}