<div class="details_container">

    <div class="addEditCategory_page_container">
        <!-- <div class="addEditCategory_header">
        <div class="content_width">
            <div class="header_grid">
                <div class="header_title">
                    <h4>Course Category</h4>
                </div>
                <div class="buttons_container">
                    <button type="button" class="constantbtn-button-blue-left " [disabled]="!categoryForm.form.valid"
                        (click)="submit()">Submit</button>
                    <button type="submit" class="constantbtn-button-blue-right " (click)="back()">Back</button>
                </div>
            </div>

        </div>

    </div> -->

        <!-- <div class="text-right submit_form_button">
            <button type="button" class="constantbtn-button-blue-left" (click)="saveCourseDetails(courseForm,PForm)">Save & Next</button>
        </div> -->

        <div class="inside_form_container">
            <div class="content_padding">
                <form #courseForm="ngForm">
                    <div class="form_grid">

                        <div class="left_form_container">
                            <div class="form_title">
                                <h5>General Details</h5>
                                <!-- <p class="card-description">
                        </p> -->
                            </div>
                            <div class="form_container">

                                <div class="form_grid">
                                    <div class="form-group form_field_container">
                                        <label class="side-form-label">Course Image </label>
                                        <div class="image_upload_container">
                                            <div class="image_preview">

                                                <!-- style="background-image: url('https://bhaveshedgetest.s3.ap-south-1.amazonaws.com/BFL.jpg')"  -->
                                                <div class="image_preview_container" [style.background-image]="'url(' + formdata.coursePicRef + ')'" [ngStyle]="{'no_image_found': !formdata.coursePicRef}">

                                                    <div class="icon_upload_image">
                                                        <input type='file' id="imageUpload" [(ngModel)]="formdata.categoryPicRefs" [ngModelOptions]="{standalone: true}" accept=".png, .jpg, .jpeg" style="display:none" (change)="readCourseThumb($event)" />
                                                        <label for="imageUpload" title="Change Thumbnail"><i class="fa fa-pencil"
                                      aria-hidden="true"></i></label>
                                                    </div>
                                                    <div class="icon_delete" (click)="deleteCourseThumb()">
                                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                                        <!-- <label></label> -->
                                                    </div>

                                                </div>

                                                <!-- <div class="image_preview_container no_image_found" *ngIf="!formdata.coursePicRef">
                            </div> -->

                                                <!-- <div class="buttons_image_preview"> -->

                                                <!-- </div> -->

                                            </div>
                                        </div>
                                    </div>


                                    <div class="">
                                        <div class="form-group form_field_container">
                                            <label class="side-form-label" for="fullname">{{helpContent?.courses_AddEditCourseContent?.course_code.label}}
                                            <app-info-tooltip  [description]="helpContent?.courses_AddEditCourseContent?.course_code.labelHelpContent"></app-info-tooltip>
                                          </label>
                                            <!-- <label for="courseCode">{{helpContent?.courses_AddEditCourseContent?.course_code.label}}
                                <div class="help-tooltip">
                                  <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i> -->
                                            <!-- <i class="fa fa-info tooltip-hover-info-label"
                                      aria-hidden="true"></i> -->
                                            <!-- <div class="help-tooltip-position-right"> -->
                                            <!-- <h3>Lorem Ipsum</h3> -->
                                            <!-- <p>{{helpContent?.courses_AddEditCourseContent?.course_code?.labelHelpContent}}</p>
                                    <i></i>
                                  </div>
                                </div>
                              </label> -->
                                            <input type="text" class="form-control commonInput" id="courseCode" [(ngModel)]="formdata.courseCode" [disabled]="true" placeholder="Code" name="courseCode">

                                            <!-- <div >
                              <small class="invalid-msg">We'll never share your email with anyone
                                else.</small>
                            </div> -->

                                        </div>

                                        <div class="form-group form_field_container">
                                            <label class="side-form-label" for="fullname">{{helpContent?.courses_AddEditCourseContent?.course_name.label}} <sup>&#x2731;</sup>
                                            <app-info-tooltip  [description]="helpContent?.courses_AddEditCourseContent?.course_name.labelHelpContent"></app-info-tooltip>
                                          </label>
                                            <!-- <label for="fullname">{{helpContent?.courses_AddEditCourseContent?.course_name.label}} <sup
                                  class="required_mark">*</sup>
                                <div class="help-tooltip">
                                  <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i> -->
                                            <!-- <i class="fa fa-info tooltip-hover-info-label"
                                      aria-hidden="true"></i> -->
                                            <!-- <div class="help-tooltip-position-right"> -->
                                            <!-- <h3>Lorem Ipsum</h3> -->
                                            <!-- <p>{{helpContent?.courses_AddEditCourseContent?.course_name.labelHelpContent}}</p>
                                    <i></i>
                                  </div>
                                </div>
                              </label> -->
                                            <input type="text" class="form-control commonInput" [(ngModel)]="formdata.fullname" required id="fullname" placeholder="Max 50 characters." minlength="2" maxlength="50" name="fullname" #fullname="ngModel">

                                            <div *ngIf="fullname.errors && (fullname.dirty || fullname.touched)">
                                                <small class="invalid-msg" [hidden]="!fullname.errors.required">
                                  Course Name is required</small>
                                                <small class="invalid-msg" [hidden]="!fullname.errors.minlength">
                                  Minimum 2 characters are required</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>






                                <div class="form-group form_field_container">
                                    <label class="side-form-label" for="fullname">{{helpContent?.courses_AddEditCourseContent?.category.label}} <sup>&#x2731;</sup>
                                    <app-info-tooltip  [description]="helpContent?.courses_AddEditCourseContent?.category.labelHelpContent"></app-info-tooltip>
                                  </label>
                                    <!-- <label for="categoryId">{{helpContent?.courses_AddEditCourseContent?.category.label}} <sup
                      class="required_mark">*</sup>
                    <div class="help-tooltip">
                      <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i> -->
                                    <!-- <i class="fa fa-info tooltip-hover-info-label"
                          aria-hidden="true"></i> -->
                                    <!-- <div class="help-tooltip-position-right"> -->
                                    <!-- <h3>Lorem Ipsum</h3> -->
                                    <!-- <p>{{helpContent?.courses_AddEditCourseContent?.category?.labelHelpContent}}</p>
                        <i></i>
                      </div>
                    </div>

                  </label> -->
                                    <select [(ngModel)]="formdata.categoryId" id="categoryId" class="form-control commonSelect custom-select" required name="categoryId" [disabled]="isShow" #categoryId="ngModel">
                    <option value="" selected disabled>Select Type</option>
                    <option *ngFor="let item of categoryData" value={{item.id}}>{{item.name}}</option>
                  </select>
                                    <div *ngIf="categoryId.errors && (categoryId.dirty || categoryId.touched)">
                                        <small class="invalid-msg" [hidden]="!categoryId.errors.required">
                      Category is required
                    </small>
                                    </div>

                                </div>

                                <div class="form-group form_field_container">
                                    <label class="side-form-label" for="fullname">{{helpContent?.courses_AddEditCourseContent?.visibility.label}} <sup>&#x2731;</sup>
                                    <app-info-tooltip  [description]="helpContent?.courses_AddEditCourseContent?.visibility.labelHelpContent"></app-info-tooltip>
                                  </label>
                                    <!-- <label for="visible">{{helpContent?.courses_AddEditCourseContent?.visibility?.label}} <sup
                      class="required_mark">*</sup>
                    <div class="help-tooltip">
                      <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i> -->
                                    <!-- <i class="fa fa-info tooltip-hover-info-label"
                            aria-hidden="true"></i> -->
                                    <!-- <div class="help-tooltip-position-right"> -->
                                    <!-- <h3>Lorem Ipsum</h3> -->
                                    <!-- <p>{{helpContent?.courses_AddEditCourseContent?.visibility?.labelHelpContent}}</p>
                        <i></i>
                      </div>
                    </div> -->

                                    <!-- </label> -->
                                    <select [(ngModel)]="formdata.visible" id="visible" class="form-control commonSelect custom-select" required name="visible" #visible="ngModel">
                    <option value="" selected disabled>Select Type</option>
                    <option *ngFor="let item of visibility" value={{item.id}}>{{item.name}}</option>
                  </select>
                                    <div *ngIf="visible.errors && (visible.dirty || visible.touched)">
                                        <small class="invalid-msg" [hidden]="!visible.errors.required">
                      Visibility is required
                    </small>
                                    </div>

                                </div>


                                <div class="form-group form_field_container">
                                    <label class="side-form-label" for="fullname">{{helpContent?.courses_AddEditCourseContent?.summary.label}} <sup>&#x2731;</sup>
                                    <app-info-tooltip  [description]="helpContent?.courses_AddEditCourseContent?.summary.labelHelpContent"></app-info-tooltip>
                                  </label>
                                    <!-- <label for="summary">{{helpContent?.courses_AddEditCourseContent?.summary?.label}} <sup
                      class="required_mark">*</sup>
                    <div class="help-tooltip">
                      <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i> -->
                                    <!-- <i class="fa fa-info tooltip-hover-info-label"
                          aria-hidden="true"></i> -->
                                    <!-- <div class="help-tooltip-position-right"> -->
                                    <!-- <h3>Lorem Ipsum</h3> -->
                                    <!-- <p>{{helpContent?.courses_AddEditCourseContent?.summary?.labelHelpContent}}</p>
                        <i></i>
                      </div>
                    </div>
                  </label> -->
                                    <textarea cols="30" rows="6" maxlength="500" minlength="20" class="form-control commonTextarea" id="summary" [(ngModel)]="formdata.summary" placeholder="Min 20 and Max 500 characters." name="summary" #summary="ngModel" required></textarea>

                                    <div *ngIf="summary.errors && (summary.dirty || summary.touched)">
                                        <small class="invalid-msg" [hidden]="!summary.errors.required">
                      Summary is required</small>
                                        <small class="invalid-msg" [hidden]="!summary.errors.minlength">
                      Minimum 20 characters required</small>
                                    </div>
                                </div>

                                <div class="form-group form_field_container tagcontainer">
                                    <label class="side-form-label" for="fullname">{{helpContent?.courses_AddEditCourseContent?.tags.label}} <sup>&#x2731;</sup>
                                    <app-info-tooltip  [description]="helpContent?.courses_AddEditCourseContent?.tags.labelHelpContent"></app-info-tooltip>
                                  </label>
                                    <!-- <label for="addTags">{{helpContent?.courses_AddEditCourseContent?.tags?.label}} <sup
                      class="required_mark">*</sup>
                    <div class="help-tooltip">
                      <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i> -->
                                    <!-- <i class="fa fa-info tooltip-hover-info-label"
                            aria-hidden="true"></i> -->
                                    <!-- <div class="help-tooltip-position-right"> -->
                                    <!-- <h3>Lorem Ipsum</h3> -->
                                    <!-- <p>{{helpContent?.courses_AddEditCourseContent?.tags?.labelHelpContent}}</p>
                        <i></i>
                      </div>
                    </div>
                  </label> -->
                                    <div id="addTags">
                                        <!-- <tag-input [theme]="'bootstrap'"
                      [separatorKeyCodes]="[32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,58,59,60,61,62,63,64188]"
                      [(ngModel)]="formdata.tags" name="items" required #tags="ngModel">
                    </tag-input> -->
                                        <angular2-multiselect id="exampleInputTags4" [data]="tagList" [(ngModel)]="selectedTags" [settings]="settingsTagDrop" (onSelect)="onTagsSelect($event)" class="commonSelect custom-select" (onDeSelect)="OnTagDeSelect($event)" name="selectedTags" ngDefaultControl>
                                            <!-- <c-search>
                      <ng-template>
                        <input type="text" (keyup)="onTagSearch($event)"
                          placeholder="Search Tags"
                          style="border: none;width: 100%; height: 100%;outline: none;" />
                      </ng-template>
                    </c-search> -->
                                            <c-item>
                                                <ng-template let-item="item">
                                                    <label style="color: #333;">{{item.name}}</label>
                                                    <!-- <img [src]="item.flag" style="width: 30px; border: 1px solid #efefef;margin-right: 0px;" /> -->
                                                    <!-- <label style="color: #333;width: 30%;">{{item.fullname}}</label> -->
                                                    <!-- <label style="color: #333;width: 30%;">{{item.email}}</label> -->
                                                </ng-template>
                                            </c-item>
                                        </angular2-multiselect>

                                        <div *ngIf="selectedTags.length ==0 && valid== true">
                                            <small class="invalid-msg">
                        Tags are required</small>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>


                        <div class="right_form_container">
                            <div class="form_title">
                                <h5>Advanced Options</h5>
                                <!-- <p class="card-description">
                          </p> -->
                            </div>

                            <div class="form_container">


                                <div class="form-group form_field_container">
                                    <label class="side-form-label" for="fullname">{{helpContent?.courses_AddEditCourseContent?.course_level.label}} <sup>&#x2731;</sup>
                                    <app-info-tooltip  [description]="helpContent?.courses_AddEditCourseContent?.course_level.labelHelpContent"></app-info-tooltip>
                                  </label>
                                    <!-- <label for="courseLevelId">{{helpContent?.courses_AddEditCourseContent?.course_level?.label}}
                    <sup class="required_mark">*</sup>
                    <div class="help-tooltip">
                      <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i> -->
                                    <!-- <i class="fa fa-info tooltip-hover-info-label"
                              aria-hidden="true"></i> -->
                                    <!-- <div class="help-tooltip-position-right"> -->
                                    <!-- <h3>Lorem Ipsum</h3> -->
                                    <!-- <p>{{helpContent?.courses_AddEditCourseContent?.course_level?.labelHelpContent}}</p>
                        <i></i>
                      </div>
                    </div>
                  </label> -->
                                    <select [(ngModel)]="formdata.courseLevelId" id="courseLevelId" class="form-control commonSelect custom-select" required name="courseLevelId" #courseLevelId="ngModel">
                    <option value="" selected disabled>Select Level</option>
                    <option *ngFor="let item of courseLevel" value={{item.id}}>{{item.name}}</option>
                  </select>

                                    <div *ngIf="courseLevelId.errors && (courseLevelId.dirty || courseLevelId.touched)">
                                        <small class="invalid-msg" [hidden]="!courseLevelId.errors.required">
                      Course level is required
                    </small>
                                    </div>

                                </div>

                                <div class="form-group form_field_container">
                                    <label class="side-form-label" for="fullname">{{helpContent?.courses_AddEditCourseContent?.course_completion_days.label}} <sup>&#x2731;</sup>
                                    <app-info-tooltip  [description]="helpContent?.courses_AddEditCourseContent?.course_completion_days.labelHelpContent"></app-info-tooltip>
                                  </label>
                                    <!-- <label for="courseCompletion">{{helpContent?.courses_AddEditCourseContent?.course_completion_days?.label}}
                    <sup class="required_mark">*</sup>
                    <div class="help-tooltip">
                      <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i> -->
                                    <!-- <i class="fa fa-info tooltip-hover-info-label"
                              aria-hidden="true"></i> -->
                                    <!-- <div class="help-tooltip-position-right"> -->
                                    <!-- <h3>Lorem Ipsum</h3> -->
                                    <!-- <p>{{helpContent?.courses_AddEditCourseContent?.course_completion_days?.labelHelpContent}}</p>
                        <i></i>
                      </div>
                    </div>
                  </label> -->
                                    <input [(ngModel)]="formdata.courseCompletion" type="text" class="form-control commonInput" id="courseCompletion" placeholder="Course Completion Days (in days)" required name="courseCompletion" #courseCompletion="ngModel" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');"
                                        onKeyDown="if(this.value.length==3 && event.keyCode!=8) return false;" maxlength="3" minlength="1">

                                    <div *ngIf="courseCompletion.errors && (courseCompletion.dirty || courseCompletion.touched)">
                                        <small class="invalid-msg" [hidden]="!courseCompletion.errors.required">
                      Course Completion Days required</small>
                                        <small class="invalid-msg" [hidden]="!courseCompletion.errors.minlength">
                      Minimum 1 digit is required</small>
                                    </div>
                                </div>


                                <div class="form-group form_field_container">
                                    <label class="side-form-label" for="fullname">{{helpContent?.courses_AddEditCourseContent?.course_manager.label}} <sup>&#x2731;</sup>
                                    <app-info-tooltip  [description]="helpContent?.courses_AddEditCourseContent?.course_manager.labelHelpContent"></app-info-tooltip>
                                  </label>
                                    <!-- <label for="exampleInputPassword4">{{helpContent?.courses_AddEditCourseContent?.course_manager?.label}}
                    <sup class="required_mark">*</sup>
                    <div class="help-tooltip">
                      <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i> -->
                                    <!-- <i class="fa fa-info tooltip-hover-info-label"
                              aria-hidden="true"></i> -->
                                    <!-- <div class="help-tooltip-position-right">
                        <!-- <h3>Lorem Ipsum</h3>
                                    <p>{{helpContent?.courses_AddEditCourseContent?.course_manager?.labelHelpContent}}</p>
                                    <i></i>
                                </div>
                            </div>

                            </label> -->
                                    <angular2-multiselect id="exampleInputPassword4" [data]="usersList" [(ngModel)]="selectedCreator" [settings]="settingsCreatorDrop" required #manager="ngModel" (onSelect)="onCreatorSelect($event)" class="commonSelect custom-select" (onDeSelect)="OnCreatorDeSelect($event)"
                                        name="selectCreator" [ngModelOptions]="{standalone: true}" ngDefaultControl>
                                        <c-search>
                                            <ng-template>
                                                <input type="text" (keyup)="onCreatorSearch($event)" placeholder="Search user (ECN,Name,Email ID)" style="border: none;width: 100%; height: 100%;outline: none;" />
                                            </ng-template>
                                        </c-search>
                                        <c-item>
                                            <ng-template let-item="item">
                                                <label style="color: #333;width: 30%;">{{item.ecn}}</label>
                                                <!-- <img [src]="item.flag" style="width: 30px; border: 1px solid #efefef;margin-right: 0px;" /> -->
                                                <label style="color: #333;width: 30%;">{{item.fullname}}</label>
                                                <label style="color: #333;width: 30%;">{{item.email}}</label>
                                            </ng-template>
                                        </c-item>
                                    </angular2-multiselect>
                                    <!-- <div  *ngIf="manager.errors && (manager.dirty || manager.touched)"> -->
                                    <div *ngIf="selectedCreator.length == 0 && manager.errors && valid">
                                        <small class="invalid-msg" [hidden]="!manager.errors.required">
                      Course Manager is required
                    </small>
                                    </div>

                                </div>

                                <div class="form-group form_field_container">
                                    <div class="coursePointsHeading">
                                        <label class=" Widthfull side-form-label" for="fullname">{{helpContent?.courses_AddEditCourseContent?.course_completion_points.label}} <sup>&#x2731;</sup>
                                        <app-info-tooltip  [description]="helpContent?.courses_AddEditCourseContent?.course_completion_points.labelHelpContent"></app-info-tooltip>
                                      </label>
                                        <!-- <label class="Widthfull" for="courseCredits">{{helpContent?.courses_AddEditCourseContent?.course_completion_points?.label}}
                      <sup class="required_mark">*</sup>
                      <div class="help-tooltip">
                        <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>

                        <div class="help-tooltip-position-right">

                          <p>{{helpContent?.courses_AddEditCourseContent?.course_completion_points?.labelHelpContent}}</p>
                          <i></i>
                        </div>
                      </div>

                    </label> -->
                                        <div class="text-right">
                                            <button type="submit" class="form-button-inside" (click)="addPointsList()" [disabled]="disableAddCredit || !PForm.form.valid">Add One More</button>
                                        </div>
                                    </div>


                                    <!-- <div class="flex_form_field">
                    <div class="form-group no-margin">
                      <label class="" for="dropRoleType"></label>
                      <select id="dropRoleType_{{i}}" class="form-control"
                        [(ngModel)]="item.roleId" name="roleId_{{i}}" #roleId="ngModel"
                        (change)="roleTypeSelected(i,item)" required>
                        <option value="" selected disabled>Select Role</option>
                        <option *ngFor="let type of userRoles" [disabled]="type.isSelected == 1" value={{type.id}}>
                          {{type.name}}</option>
                      </select>
                      <span></span>
                    </div>
                    <div class="form-group no-margin">
                    <select id="dropMarksType_{{i}}" class="form-control"
                        [(ngModel)]="item.creditTypeId" name="creditTypeId_{{i}}" #creditTypeId="ngModel"
                        (change)="marksTypeSelected($event,i,item)" required>
                        <option value="" selected disabled>Credit Type</option>
                        <option *ngFor="let type of marksType" [disabled]="item.roleId == 8 && type.id == 2"
                          value={{type.id}}>{{type.name}}</option>
                      </select>
                      <span></span>
                    </div>
                    <div class="form-group no-margin" *ngIf="item.creditTypeId == 1">
                      <label class="side-form-label" for="inputPoints">Before </label>
                      <input type="number" class="form-control" id="inputPoints_{{i}}"
                        placeholder="Points" [(ngModel)]="item.creditTypeValuebc" name="creditTypeValuebc_{{i}}"
                        #creditTypeValuebc="ngModel"
                        oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');"
                        onKeyDown="if(this.value.length==3 && event.keyCode!=8) return false;" maxlength="3" min="1"
                        required>

                      <div [hidden]="creditTypeValuebc.valid || creditTypeValuebc.pristine" class="alert alert-danger">
                        <div [hidden]="!creditTypeValuebc.hasError('required')">Points required</div>
                      </div>
                      <span></span>
                    </div>
                    <div class="form-group no-margin" *ngIf="item.creditTypeId == 1">
                      <label class="side-form-label" for="inputPoints">After </label>
                      <input type="number" class="form-control" id="inputPoints_{{i}}"
                        placeholder="Points" [(ngModel)]="item.creditTypeValueac" name="creditTypeValueac_{{i}}"
                        #creditTypeValueac="ngModel"
                        oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');"
                        onKeyDown="if(this.value.length==3 && event.keyCode!=8) return false;" maxlength="3" min="1"
                        required>

                      <div [hidden]="creditTypeValueac.valid || creditTypeValueac.pristine" class="alert alert-danger">
                        <div [hidden]="!creditTypeValueac.hasError('required')">Points required</div>
                      </div>
                      <span></span>
                    </div>
                    <div class="form-group no-margin" *ngIf="item.creditTypeId == 2">
                      <label class="side-form-label" for="inputPercentage">Before </label>
                      <input type="number" class="form-control form-control-input inputText" id="inputPercentage_{{i}}"
                        placeholder="Percentage" [(ngModel)]="item.creditTypeValuebc" name="creditTypeValuebc_{{i}}"
                        #creditTypeValuebc="ngModel"
                        oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');"
                        onKeyDown="if(this.value.length==3 && event.keyCode!=8) return false;" maxlength="3" min="1"
                        required>
                   (change)="setMinVal($event,i)" (input)="onInput($event,i,item)"
                      <div [hidden]="creditTypeValuebc.valid || creditTypeValuebc.pristine" class="alert alert-danger">
                        <div [hidden]="!creditTypeValuebc.hasError('required')">Percentage is required</div>
                      </div>
                      <span></span>
                    </div>
                    <div class="form-group no-margin" *ngIf="item.creditTypeId == 2">
                      <label class="side-form-label" for="inputPercentage">After </label>
                      <input type="number" class="form-control" id="inputPercentage_{{i}}"
                        placeholder="Percentage" [(ngModel)]="item.creditTypeValueac" name="creditTypeValueac_{{i}}"
                        #creditTypeValueac="ngModel"
                        oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');"
                        onKeyDown="if(this.value.length==3 && event.keyCode!=8) return false;" maxlength="3" min="1"
                        required>
                      (change)="setMinVal($event,i)" (input)="onInput($event,i,item)"
                      <div [hidden]="creditTypeValueac.valid || creditTypeValueac.pristine" class="alert alert-danger">
                        <div [hidden]="!creditTypeValueac.hasError('required')">Percentage is required</div>
                      </div>
                      <span></span>
                    </div>
                    <div class="form-group ">
                      <span class="glyphicon glyphicon-remove pull-right paraRemove fa fa-times"
                        *ngIf="formdata.craditpoints.length > 1" (click)="removePointsList(i)"></span>
                    </div>

                  </div> -->

                                    <div class="form-group">
                                        <form #PForm="ngForm">
                                            <div class="flex_form_field" *ngFor="let item of formdata.craditpoints; let i=index">
                                                <div class="form-group no-margin">
                                                    <label class="side-form-label" for="dropRoleType"></label>
                                                    <select id="dropRoleType_{{i}}" class="form-control select_field_height margin_top7" [(ngModel)]="item.roleId" name="roleId_{{i}}" #roleId="ngModel" (change)="roleTypeSelected(i,item)" required>
                          <option value="" selected disabled>Select Role</option>
                          <option *ngFor="let type of userRoles" [disabled]="type.isSelected == 1" value={{type.id}}>
                            {{type.name}}</option>
                        </select>
                                                    <span></span>
                                                </div>
                                                <div class="form-group no-margin">
                                                    <!-- <label class="side-form-label" for="dropMarksType">Credit Type</label> -->
                                                    <label class=""></label>
                                                    <select id="dropMarksType_{{i}}" class="form-control select_field_height margin_top7" [(ngModel)]="item.creditTypeId" name="creditTypeId_{{i}}" #creditTypeId="ngModel" (change)="marksTypeSelected($event,i,item)" required>
                          <option value="" selected disabled>Credit Type</option>
                          <option *ngFor="let type of marksType" [disabled]="item.roleId == 8 && type.id == 2"
                            value={{type.id}}>{{type.name}}</option>
                        </select>
                                                    <span></span>
                                                </div>
                                                <div class="form-group no-margin" *ngIf="item.creditTypeId == 1">
                                                    <label class="side-form-label" for="inputPoints">Before <sup>&#x2731;</sup> </label>
                                                    <input type="number" class="form-control select_field_height" id="inputPoints_{{i}}" placeholder="Points" [(ngModel)]="item.creditTypeValuebc" name="creditTypeValuebc_{{i}}" #creditTypeValuebc="ngModel" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');"
                                                        onKeyDown="if(this.value.length==3 && event.keyCode!=8) return false;" maxlength="3" min="1" required>
                                                    <!-- (change)="setMinVal($event,i)" (input)="onInput($event,i,item)" -->
                                                    <!-- <div [hidden]="creditTypeValuebc.valid || creditTypeValuebc.pristine"
                          class="alert alert-danger">
                          <div [hidden]="!creditTypeValuebc.hasError('required')">Points required</div>
                        </div> -->
                                                    <div *ngIf="creditTypeValuebc.errors && (creditTypeValuebc.dirty || creditTypeValuebc.touched)">
                                                        <small class="invalid-msg" [hidden]="!creditTypeValuebc.errors.required">Points required</small>
                                                    </div>
                                                    <span></span>
                                                </div>
                                                <div class="form-group no-margin" *ngIf="item.creditTypeId == 1">
                                                    <label class="side-form-label" for="inputPoints">After <sup>&#x2731;</sup></label>
                                                    <input type="number" class="form-control" id="inputPoints_{{i}}" placeholder="Points" [(ngModel)]="item.creditTypeValueac" name="creditTypeValueac_{{i}}" #creditTypeValueac="ngModel" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');"
                                                        onKeyDown="if(this.value.length==3 && event.keyCode!=8) return false;" maxlength="3" min="1" required>
                                                    <!-- (change)="setMinVal($event,i)" (input)="onInput($event,i,item)" -->
                                                    <!-- <div [hidden]="creditTypeValueac.valid || creditTypeValueac.pristine"
                          class="alert alert-danger">
                          <div [hidden]="!creditTypeValueac.hasError('required')">Points required</div>
                        </div> -->
                                                    <div *ngIf="creditTypeValueac.errors && (creditTypeValueac.dirty || creditTypeValueac.touched)">
                                                        <small class="invalid-msg" [hidden]="!creditTypeValueac.errors.required">Points required</small>
                                                    </div>
                                                    <span></span>
                                                </div>
                                                <div class="form-group no-margin" *ngIf="item.creditTypeId == 2">
                                                    <label class="side-form-label" for="inputPercentage">Before <sup>&#x2731;</sup></label>
                                                    <input type="number" class="form-control" id="inputPercentage_{{i}}" placeholder="Percentage" [(ngModel)]="item.creditTypeValuebc" name="creditTypeValuebc_{{i}}" #creditTypeValuebc="ngModel" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');"
                                                        onKeyDown="if(this.value.length==3 && event.keyCode!=8) return false;" maxlength="3" min="1" required>
                                                    <!-- (change)="setMinVal($event,i)" (input)="onInput($event,i,item)" -->
                                                    <!-- <div [hidden]="creditTypeValuebc.valid || creditTypeValuebc.pristine"
                          class="alert alert-danger">
                          <div [hidden]="!creditTypeValuebc.hasError('required')">Percentage is required</div>
                        </div> -->

                                                    <div *ngIf="creditTypeValuebc.errors && (creditTypeValuebc.dirty || creditTypeValuebc.touched)">
                                                        <small class="invalid-msg" [hidden]="!creditTypeValuebc.errors.required">Percentage is required</small>
                                                    </div>
                                                    <span></span>
                                                </div>
                                                <div class="form-group no-margin" *ngIf="item.creditTypeId == 2">
                                                    <label class="side-form-label" for="inputPercentage">After <sup>&#x2731;</sup></label>
                                                    <input type="number" class="form-control commonInput" id="inputPercentage_{{i}}" placeholder="Percentage" [(ngModel)]="item.creditTypeValueac" name="creditTypeValueac_{{i}}" #creditTypeValueac="ngModel" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');"
                                                        onKeyDown="if(this.value.length==3 && event.keyCode!=8) return false;" maxlength="3" min="1" required>
                                                    <!-- (change)="setMinVal($event,i)" (input)="onInput($event,i,item)" -->
                                                    <!-- <div [hidden]="creditTypeValueac.valid || creditTypeValueac.pristine"
                          class="alert alert-danger">
                          <div [hidden]="!creditTypeValueac.hasError('required')">Percentage is required</div>
                        </div> -->

                                                    <div *ngIf="creditTypeValueac.errors && (creditTypeValueac.dirty || creditTypeValueac.touched)">
                                                        <small class="invalid-msg" [hidden]="!creditTypeValueac.errors.required">Percentage is required</small>
                                                    </div>
                                                    <span></span>
                                                </div>
                                                <div class="form-group no-margin">
                                                    <span class="glyphicon glyphicon-remove pull-right paraRemove fa fa-times" *ngIf="formdata.craditpoints.length > 1" (click)="removePointsList(i)"></span>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>


                                <div class="form-group form_field_container">
                                    <label class="side-form-label" for="fullname">{{helpContent?.courses_AddEditCourseContent?.course_valid_from_date.label}}
                            <sup>&#x2731;</sup>
                           <app-info-tooltip  [description]="helpContent?.courses_AddEditCourseContent?.course_valid_from_date.labelHelpContent"></app-info-tooltip>
                          </label>
                                    <!-- <label for="sdate">{{helpContent?.courses_AddEditCourseContent?.course_valid_from_date?.label}} <sup
                      class="required_mark">*</sup>
                    <div class="help-tooltip">
                      <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i> -->
                                    <!-- <i class="fa fa-info tooltip-hover-info-label"
                              aria-hidden="true"></i> -->
                                    <!-- <div class="help-tooltip-position-right"> -->
                                    <!-- <h3>Lorem Ipsum</h3> -->
                                    <!-- <p>{{helpContent?.courses_AddEditCourseContent?.course_valid_from_date?.labelHelpContent}}</p>
                        <i></i>
                      </div>
                    </div>
                  </label> -->
                                    <div id="divDoj" class="input-group">
                                        <input type="text" class="form-control commonInput datePickerInput" [minDate]="date" [maxdate]="formdata.validToDate" #dpFrom="bsDatepicker" bsDatepicker [bsConfig]="{ containerClass: 'theme-dark-blue',dateInputFormat: 'DD-MMM-YYYY' }" placement="top"
                                            [(ngModel)]="formdata.validFromDate" required name="validFromDate" #validFromDate="ngModel" (ngModelChange)="onValidFromDateChanged($event,formdata.validFromDate)">
                                        <button class="openDatepicker" (click)="dpFrom.toggle()" [attr.aria-expanded]="dpFrom.isOpen">
                      <i class="ion-calendar calenderIcon"></i>
                    </button>
                                    </div>
                                    <div *ngIf="validFromDate.errors && (validFromDate.dirty || validFromDate.touched)">
                                        <small class="invalid-msg" [hidden]="!validFromDate.errors.required">Course Valid From Date</small>
                                    </div>
                                    <!-- <div  [hidden]="summary.valid || summary.pristine">
                        <small class="invalid-msg" [hidden]="!summary.hasError('required')">
                          Summary is required</small>
                        <small class="invalid-msg" [hidden]="!summary.hasError('minlength')">
                          Minimum 20 characters required</small>
                      </div> -->
                                </div>

                                <div class="form_field_container">
                                    <label class="sqrCheckBox pointer">
                    <input id="cReview" type="checkbox" name="courseReview" class="marginRight5px"
                      (ngModelChange)="onCourseValidCheckBoxClick($event,courseReviewCheck)"
                      [(ngModel)]="courseReviewCheck.value">
                    <label class="sqrCheckBoxLabel side-form-label"
                      for="cReview"></label>{{helpContent?.courses_AddEditCourseContent?.whether_course_needs_to_be_validated?.label}}
                                    <!-- <h3
                              class="reqFieldActivity" *ngIf="!helpContent.courses_AddEditCourseContent.whether_course_needs_to_be_validated.isMandatory">*</h3> -->
                                    <app-info-tooltip [description]="helpContent?.courses_AddEditCourseContent?.course_valid_to_date.labelHelpContent"></app-info-tooltip>
                                    <!-- <div class="help-tooltip">
                                <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i> -->
                                    <!-- <i class="fa fa-info tooltip-hover-info-label"
                                  aria-hidden="true"></i> -->
                                    <!-- <div class="help-tooltip-position-right"> -->
                                    <!-- <h3>Lorem Ipsum</h3> -->
                                    <!-- <p>
                                        {{helpContent?.courses_AddEditCourseContent?.whether_course_needs_to_be_validated?.labelHelpContent}}
                                    </p>
                                    <i></i>
                                </div>
                            </div> -->
                                    </label>
                                </div>

                                <div class="form-group form_field_container tagcontainer">
                                    <div [hidden]="courseReviewCheck.value == false" class="checkDiv" style="">
                                        <div class="checkBoxDiv1">
                                            <div class="form_field_grid3">
                                                <label class="sqrCheckBox pointer lineHeight2 side-form-label" for="reviewCheck1">
                          Frequency of validation
                        </label>
                                                <select id="reviewCheck1" class=" form-control commonSelect custom-select" autocomplete="false" (ngModelChange)="onValidFreqMonthSelected($event)" [(ngModel)]="formdata.validationFreq" name="validationFreq" #validationFreq="ngModel">
                          <option value="" selected disabled>Select</option>
                          <option *ngFor="let month of months" value={{month.id}}>{{month.name}}</option>
                        </select>
                                                <label class="lineHeight2" style="padding-left: 20px;">
                          Months
                        </label>
                                            </div>
                                        </div>
                                        <div class="checkBoxDiv1">
                                            <div class="form_field_grid3">
                                                <label class="sqrCheckBox pointer lineHeight3 side-form-label" for="reviewCheck2">
                          Lead time for validation

                          <!-- <div class="help-tooltip">
                                <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>

                                <div class="help-tooltip-position-right">

                                    <p>Dolor sit amet, consectetur adipiscing elit.</p>
                                    <i></i>
                                </div>
                            </div> -->
                        </label>
                                                <select id="reviewCheck2" class=" commonSelect custom-select" autocomplete="false" [(ngModel)]="formdata.leadTime" name="leadTime" #leadTime="ngModel">
                          <option value="" selected disabled>Select</option>
                          <option *ngFor="let day of daysBucket" [disabled] ="day?.status == false " value={{day.id}}>{{day.name}}</option>
                        </select>
                                                <label class="lineHeight3" style="padding-left: 20px;">
                          Days
                        </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form_field_container">
                                    <label class="side-form-label" for="fullname">{{helpContent?.courses_AddEditCourseContent?.course_valid_to_date.label}}
                            <sup>&#x2731;</sup>
                           <app-info-tooltip  [description]="helpContent?.courses_AddEditCourseContent?.course_valid_to_date.labelHelpContent"></app-info-tooltip>
                          </label>
                                    <!-- <label class="" for="sdate">{{helpContent?.courses_AddEditCourseContent?.course_valid_to_date?.label}}
                    <sup class="required_mark">*</sup>
                    <div class="help-tooltip">
                      <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i> -->
                                    <!-- <i class="fa fa-info tooltip-hover-info-label"
                              aria-hidden="true"></i> -->
                                    <!-- <div class="help-tooltip-position-right"> -->
                                    <!-- <h3>Lorem Ipsum</h3> -->
                                    <!-- <p>{{helpContent?.courses_AddEditCourseContent?.course_valid_to_date?.labelHelpContent}}</p>
                        <i></i>
                      </div>
                    </div>
                  </label> -->
                                    <div id="divDoj" class="input-group">
                                        <input type="text" class="form-control commonInput datePickerInput" #dpTo="bsDatepicker" [minDate]="validfrmDate" bsDatepicker [bsConfig]="{ containerClass: 'theme-dark-blue',dateInputFormat: 'DD-MMM-YYYY' }" placement="top" [(ngModel)]="formdata.validToDate"
                                            required name="validToDate" #validToDate="ngModel" [disabled]="courseValidChecked">
                                        <button class="openDatepicker" (click)="dpTo.toggle()" [attr.aria-expanded]="dpTo.isOpen" [disabled]="courseValidChecked">
                      <i class="ion-calendar calenderIcon"></i>
                    </button>
                                    </div>
                                    <div *ngIf="validToDate.errors && (validToDate.dirty || validToDate.touched)">
                                        <small class="invalid-msg" [hidden]="!validToDate.errors.required">Course Valid To Date</small>
                                    </div>
                                </div>


                            </div>

                        </div>



                    </div>
                </form>

            </div>
        </div>
    </div>
</div>



<!-- ************************************ OLD CODE **************************************** -->
<!--
<div>
    <div class="col-md-12 text-right" style="margin-bottom: 9px;margin-top: 10px;">
      <button type="button" class="constantbtn-button-blue-left" [disabled]="!courseForm.form.valid"
        (click)="saveCourseDetails()">Save</button>
    </div>
    <form class="forms-sample formPad10" #courseForm="ngForm">
      <div class="col-md-6 grid-margin stretch-card grid-padding">
        <div class="card cardForm">
          <div class="card-body cardBody">
            <h5 class="card-title cardTitle">General</h5>
            <div class="row courseIconContainer">
              <div class="col-md-6 padLeft0">
                <label class="side-form-label" style="padding-left: 7px" for="conThumb">Course Thumbnail</label>
                <div class="form-group" id="conThumb">
                  <div class="course-icon">
                    <div class="m0 courseIcon-upload">
                      <div class="courseIcon-edit">
                        <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg"
                          (change)="readCourseThumb($event)" />
                        <label for="imageUpload" title="Change Thumbnail"></label>
                      </div>
                      <div class="courseIcon-delete" (click)="deleteCourseThumb()">
                        <label title="Restore to default"></label>
                      </div>
                      <div class="courseIcon-preview">
                        <img src={{formdata.coursePicRef}} onError="assets/images/noImage.jpg">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 m0 paddingCourseIconContainer">
                <div class="form-group">
                  <label class="side-form-label" for="courseCode">{{helpContent?.courses_AddEditCourseContent?.course_code.label}}
                    <div class="help-tooltip">
                      <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                      <i class="fa fa-info tooltip-hover-info-label"
                          aria-hidden="true"></i>
                      <div class="help-tooltip-position-right">
                          <h3>Lorem Ipsum</h3>
                          <p>{{helpContent?.courses_AddEditCourseContent?.course_code?.labelHelpContent}}</p>
                          <i></i>
                      </div>
                  </div>
                  </label>
                  <input type="text" class="form-control inputText" id="courseCode" [(ngModel)]="formdata.courseCode"
                    [disabled]="true" placeholder="Code" name="courseCode">
                    <div [hidden]="courseCode.valid || courseCode.pristine" class="alert alert-danger">
                                      <div [hidden]="!courseCode.hasError('required')">Code is required</div>
                                  </div>
                  <span></span>
                </div>


                <div class="form-group">
                  <label class="side-form-label" for="fullname">{{helpContent?.courses_AddEditCourseContent?.course_name.label}} <sup class="reqFieldActivity">*</sup>
                    <div class="help-tooltip">
                      <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                      <i class="fa fa-info tooltip-hover-info-label"
                          aria-hidden="true"></i>
                      <div class="help-tooltip-position-right">
                          <h3>Lorem Ipsum</h3>
                          <p>{{helpContent?.courses_AddEditCourseContent?.course_name.labelHelpContent}}</p>
                          <i></i>
                      </div>
                  </div>
                  </label>
                  <input type="text" class="form-control form-control-input commonSelect custom-select inputText"
                    [(ngModel)]="formdata.fullname" required id="fullname" placeholder="Max 50 characters."
                    pattern=".{1,50}" maxlength="50" name="fullname" #fullname="ngModel">
                  <div class="errorMsg" [hidden]="fullname.valid || fullname.pristine" class="alert alert-danger">
                    <div [hidden]="!fullname.hasError('required')">Course Name is required</div>
                    <div [hidden]="!fullname.hasError('pattern')">Maximum 50 Characters required</div>
                  </div>
                  <span></span>
                </div>
                <div class="form-group">
                                  <label class="side-form-label" for="shortname">Display Name</label>
                                  <input type="text" class="form-control form-control-input select_field_height inputText" id="shortname" [(ngModel)]="formdata.shortname" required placeholder="Display Name" name="shortname" #shortname="ngModel">
                                  <div [hidden]="shortname.valid || shortname.pristine" class="alert alert-danger">
                                      <div [hidden]="!shortname.hasError('required')">Display Name is required</div>
                                  </div>
                                  <span></span>
                              </div>
              </div>
            </div>
            <div class="courseBasicDetailsContainer">
              <div class="form-group">
                <label class="side-form-label" for="categoryId.">{{helpContent?.courses_AddEditCourseContent?.category.label}} <sup class="reqFieldActivity">*</sup>
                  <div class="help-tooltip">
                    <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                    <i class="fa fa-info tooltip-hover-info-label"
                        aria-hidden="true"></i>
                    <div class="help-tooltip-position-right">
                        <h3>Lorem Ipsum</h3>
                        <p>{{helpContent?.courses_AddEditCourseContent?.category?.labelHelpContent}}</p>
                        <i></i>
                    </div>
                </div>

                </label>
                <select [(ngModel)]="formdata.categoryId" id="categoryId"
                  class="form-control form-control-input select_field_height" required name="categoryId" #categoryId="ngModel">
                  <option class="form-control" value="" selected disabled>Select Type</option>
                  <option *ngFor="let item of categoryData" value={{item.id}}>{{item.name}}</option>
                </select>
                <div [hidden]="categoryId.valid || categoryId.pristine" class="alert alert-danger">
                  <div [hidden]="!categoryId.hasError('required')">Category is required</div>
                </div>
                <span></span>
              </div>
              <div class="form-group">
                <label class="side-form-label" for="visible">{{helpContent?.courses_AddEditCourseContent?.visibility?.label}}
                    <h3 class="reqFieldActivity" *ngIf="!helpContent.courses_AddEditCourseContent.visibility.isMandatory">*</h3>
                  <div class="help-tooltip">
                    <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                    <i class="fa fa-info tooltip-hover-info-label"
                        aria-hidden="true"></i>
                    <div class="help-tooltip-position-right">
                        <h3>Lorem Ipsum</h3>
                        <p>{{helpContent?.courses_AddEditCourseContent?.visibility?.labelHelpContent}}</p>
                        <i></i>
                    </div>
                </div>
                </label>
                <select [(ngModel)]="formdata.visible" id="visible" class="form-control form-control-input select_field_height"
                  required name="visible" #visible="ngModel">
                  <option value="" selected disabled>Select Type</option>
                  <option *ngFor="let item of visibility" value={{item.id}}>{{item.name}}</option>
                </select>
                <div [hidden]="visible.valid || visible.pristine" class="alert alert-danger">
                  <div [hidden]="!visible.hasError('required')">Visibility is required</div>
                </div>
                <span></span>
              </div>
              <div class="form-group">
                <label class="side-form-label" for="summary">{{helpContent?.courses_AddEditCourseContent?.summary?.label}} <sup class="reqFieldActivity">*</sup>
                  <div class="help-tooltip">
                    <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                    <i class="fa fa-info tooltip-hover-info-label"
                        aria-hidden="true"></i>
                    <div class="help-tooltip-position-right">
                        <h3>Lorem Ipsum</h3>
                        <p>{{helpContent?.courses_AddEditCourseContent?.summary?.labelHelpContent}}</p>
                        <i></i>
                    </div>
                </div>
                </label>
                <textarea cols="30" rows="6" maxlength="500" minlength="20"
                  class="form-control form-control-input inputText" id="summary" [(ngModel)]="formdata.summary"
                  placeholder="Min 20 and Max 500 characters." name="summary" #summary="ngModel" required
                  pattern=".{20,500}"></textarea>
                <div [hidden]="summary.valid || summary.pristine" class="alert alert-danger">
                  <div [hidden]="!summary.hasError('required')">Summary is required</div>
                  <div [hidden]="!summary.hasError('minlength')">Minimum 20 characters required</div>
                  <div [hidden]="!summary.hasError('pattern')">Maximum 500 characters required</div>
                </div>
                <span></span>
              </div>
              <div class="form-group tagcontainer">
                <label class="side-form-label" for="addTags">{{helpContent?.courses_AddEditCourseContent?.tags?.label}} <sup class="reqFieldActivity">*</sup>
                  <div class="help-tooltip">
                     <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                    <i class="fa fa-info tooltip-hover-info-label"
                        aria-hidden="true"></i>
                    <div class="help-tooltip-position-right">
                        <h3>Lorem Ipsum</h3>
                        <p>{{helpContent?.courses_AddEditCourseContent?.tags?.labelHelpContent}}</p>
                        <i></i>
                    </div>
                </div>
                </label>
                <div id="addTags" class="input-group">
                  <tag-input [theme]="'bootstrap'"
                    [separatorKeyCodes]="[32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,58,59,60,61,62,63,64188]"
                    [(ngModel)]="formdata.tags" name="items" required #tags="ngModel">
                  </tag-input>
                  <div [hidden]="tags.valid || tags.pristine" class="alert alert-danger">
                    <div [hidden]="!tags.hasError('required')">Tags are required</div>
                    <div [hidden]="!summary.hasError('pattern')">Maximum 500 characters required</div>
                  </div>
                  <span></span>
                </div>
              </div>
            </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-6 grid-margin2 stretch-card">
        <div class="card cardForm">
          <div class="card-body cardBody">
            <h5 class="card-title cardTitle">Advanced Options</h5>
            <form class="forms-sample formPad10" #courseForm="ngForm">
            <div class="courseAdvDetailsContainer">
                          <div class="form-group">
                <label class="side-form-label" for="courseTypeId">Course Type <sup class="reqFieldActivity">*</sup> </label>
                <select [(ngModel)]="formdata.courseTypeId" id="courseTypeId" class="form-control select_field_height" required name="courseTypeId" #courseTypeId="ngModel">
                  <option value="" selected disabled>Select Type</option>
                  <option *ngFor="let item of courseFormat" value={{item.id}}>{{item.name}}</option>
                </select>
                <div [hidden]="courseTypeId.valid || courseTypeId.pristine" class="alert alert-danger">
                  <div [hidden]="!courseTypeId.hasError('required')">Course type is required</div>
                </div>
                <span></span>
              </div>
              <div class="form-group">
                <label class="side-form-label" for="courseLevelId">{{helpContent?.courses_AddEditCourseContent?.course_level?.label}}
                    <h3 class="reqFieldActivity" *ngIf="!helpContent.courses_AddEditCourseContent.course_level.isMandatory">*</h3>
                  <div class="help-tooltip">
                    <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                    <i class="fa fa-info tooltip-hover-info-label"
                        aria-hidden="true"></i>
                    <div class="help-tooltip-position-right">
                        <h3>Lorem Ipsum</h3>
                        <p>{{helpContent?.courses_AddEditCourseContent?.course_level?.labelHelpContent}}</p>
                        <i></i>
                    </div>
                </div>
                </label>
                <select [(ngModel)]="formdata.courseLevelId" id="courseLevelId" class="form-control select_field_height" required
                  name="courseLevelId" #courseLevelId="ngModel">
                  <option value="" selected disabled>Select Level</option>
                  <option *ngFor="let item of courseLevel" value={{item.id}}>{{item.name}}</option>
                </select>
                <div [hidden]="courseLevelId.valid || courseLevelId.pristine" class="alert alert-danger">
                  <div [hidden]="!courseLevelId.hasError('required')">Course level is required</div>
                </div>
                <span></span>
              </div>
              <div class="form-group">
                <label class="side-form-label" for="courseCompletion">{{helpContent?.courses_AddEditCourseContent?.course_completion_days?.label}} <h3
                    class="reqFieldActivity">*</h3>
                    <div class="help-tooltip">
                      <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                      <i class="fa fa-info tooltip-hover-info-label"
                          aria-hidden="true"></i>
                      <div class="help-tooltip-position-right">
                          <h3>Lorem Ipsum</h3>
                          <p>{{helpContent?.courses_AddEditCourseContent?.course_completion_days?.labelHelpContent}}</p>
                          <i></i>
                      </div>
                  </div>
                </label>
                <input [(ngModel)]="formdata.courseCompletion" type="text"
                  class="form-control form-control-input select_field_height inputText" id="courseCompletion"
                  placeholder="Course Completion Days (in days)" required name="courseCompletion"
                  #courseCompletion="ngModel"
                  oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');"
                  onKeyDown="if(this.value.length==3 && event.keyCode!=8) return false;" maxlength="3" min="1">
                <div [hidden]="courseCompletion.valid || courseCompletion.pristine" class="alert alert-danger">
                  <div [hidden]="!courseCompletion.hasError('required')">Course Completion Days required</div>
                  <div [hidden]="!courseCompletion.hasError('pattern')">Only numbers required</div>
                </div>
                <span></span>
              </div>
              <div class="form-group">
                <label class="side-form-label" for="exampleInputPassword4">{{helpContent?.courses_AddEditCourseContent?.course_manager?.label}} <sup class="reqFieldActivity">*</sup>
                  <div class="help-tooltip">
                    <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                    <i class="fa fa-info tooltip-hover-info-label"
                        aria-hidden="true"></i>
                    <div class="help-tooltip-position-right">
                        <h3>Lorem Ipsum</h3>
                        <p>{{helpContent?.courses_AddEditCourseContent?.course_manager?.labelHelpContent}}</p>
                        <i></i>
                    </div>
                </div>
                </label>
                <angular2-multiselect id="exampleInputPassword4" [data]="usersList" [(ngModel)]="selectedCreator"
                  [settings]="settingsCreatorDrop" (onSelect)="onCreatorSelect($event)"
                  (onDeSelect)="OnCreatorDeSelect($event)" name="selectedCreator" ngDefaultControl>
                  <c-search>
                    <ng-template>
                      <input type="text" (keyup)="onCreatorSearch($event)" placeholder="Search user (ECN,Name,Email ID)"
                        style="border: none;width: 100%; height: 100%;outline: none;" />
                    </ng-template>
                  </c-search>
                  <c-item>
                    <ng-template let-item="item">
                      <label style="color: #333;width: 30%;">{{item.ecn}}</label>
                      <img [src]="item.flag" style="width: 30px; border: 1px solid #efefef;margin-right: 0px;" />
                      <label style="color: #333;width: 30%;">{{item.fullname}}</label>
                      <label style="color: #333;width: 30%;">{{item.email}}</label>
                    </ng-template>
                  </c-item>
                </angular2-multiselect>
                <span></span>
              </div>
              <div class="form-group">
                  <label class="side-form-label" for="learnerCreditPoints">Learner Credit Points</label>
                  <input type="text" class="form-control form-control-input select_field_height inputText" id="learnerCreditPoints" placeholder="Learner Credit Points" [(ngModel)]="formdata.learnerCreditPoints" required name="learnerCreditPoints" #learnerCreditPoints="ngModel">
                  <span></span>
              </div>

              <div class="form-group">
                  <label class="side-form-label" for="managerCreditPoints">Manager Credit Points(in percentage)</label>
                  <input type="text" class="form-control form-control-input select_field_height inputText" id="managerCreditPoints" placeholder="Manager Credit Points" [(ngModel)]="formdata.managerCreditPoints" required name="managerCreditPoints" #managerCreditPoints="ngModel"
                      pattern="[0-9]+(\.[0-9]{0,2})?%?" minlength="1" maxlength="3">
                  <div [hidden]="managerCreditPoints.valid || managerCreditPoints.pristine" class="alert alert-danger">
                      <div [hidden]="!managerCreditPoints.hasError('pattern')">Only numbers required</div>
                  </div>
                  <span></span>
              </div>
              <div class="form-group row" >
                <div class="col-md-8">
                  <h4 style="margin-top: 0;">Add Credits</h4>
                  <label class="side-form-label creditPointsLabel" for="courseCredits">{{helpContent?.courses_AddEditCourseContent?.course_completion_points?.label}} <h3
                      class="reqFieldActivity">*</h3>
                      <div class="help-tooltip">
                        <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                        <i class="fa fa-info tooltip-hover-info-label"
                            aria-hidden="true"></i>
                        <div class="help-tooltip-position-right">
                            <h3>Lorem Ipsum</h3>
                            <p>{{helpContent?.courses_AddEditCourseContent?.course_completion_points?.labelHelpContent}}</p>
                            <i></i>
                        </div>
                    </div>
                    </label>
                </div>
                <div class="col-md-4 text-right">
                  <button type="submit" class="form-button-inside" (click)="addPointsList()"
                    [disabled]="disableAddCredit">Add</button>
                </div>
              </div>




              <div class="form-group" id="courseCredits">
                <div class="row" *ngFor="let item of formdata.craditpoints; let i=index" style="align-items: center">
                  <div class="form-group align-vertical-center col-md-3" style="margin-top: 7px;">
                    <label class="side-form-label" for="dropRoleType"></label>
                    <select id="dropRoleType_{{i}}" class="form-control form-control-input select_field_height" [(ngModel)]="item.roleId"
                      name="roleId_{{i}}" #roleId="ngModel" (change)="roleTypeSelected(i,item)" required>
                      <option value="" selected disabled>Select Role</option>
                      <option *ngFor="let type of userRoles" [disabled]="type.isSelected == 1" value={{type.id}}>
                        {{type.name}}</option>
                    </select>
                    <span></span>
                  </div>
                  <div class="form-group align-vertical-center col-md-3"  style="margin-top: 7px;">
                    <label class="side-form-label" for="dropMarksType">Completion</label>
                    <select id="dropMarksType_{{i}}" class="form-control form-control-input select_field_height"
                      [(ngModel)]="item.creditTypeId" name="creditTypeId_{{i}}" #creditTypeId="ngModel"
                      (change)="marksTypeSelected($event,i,item)" required>
                      <option value="" selected disabled>Credit Type</option>
                      <option *ngFor="let type of marksType" [disabled]="item.roleId == 8 && type.id == 2"
                        value={{type.id}}>{{type.name}}</option>
                    </select>
                    <span></span>
                  </div>
                  <div class="form-group align-vertical-center col-md-2" *ngIf="item.creditTypeId == 1" style="margin-top: 7px;">
                    <label class="side-form-label" for="inputPoints">Before </label>
                    <input type="number" class="form-control form-control-input inputText" id="inputPoints_{{i}}"
                      placeholder="Points" [(ngModel)]="item.creditTypeValuebc" name="creditTypeValuebc_{{i}}"
                      #creditTypeValuebc="ngModel"
                      oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');"
                      onKeyDown="if(this.value.length==3 && event.keyCode!=8) return false;" maxlength="3" min="1"
                      required>
                     (change)="setMinVal($event,i)" (input)="onInput($event,i,item)"
                    <div [hidden]="creditTypeValuebc.valid || creditTypeValuebc.pristine" class="alert alert-danger">
                      <div [hidden]="!creditTypeValuebc.hasError('required')">Points required</div>
                    </div>
                    <span></span>
                  </div>
                  <div class="form-group col-md-2" *ngIf="item.creditTypeId == 1" style="margin-top: 7px;">
                    <label class="side-form-label" for="inputPoints">After </label>
                    <input type="number" class="form-control form-control-input inputText" id="inputPoints_{{i}}"
                      placeholder="Points" [(ngModel)]="item.creditTypeValueac" name="creditTypeValueac_{{i}}"
                      #creditTypeValueac="ngModel"
                      oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');"
                      onKeyDown="if(this.value.length==3 && event.keyCode!=8) return false;" maxlength="3" min="1"
                      required>
                   (change)="setMinVal($event,i)" (input)="onInput($event,i,item)"
                    <div [hidden]="creditTypeValueac.valid || creditTypeValueac.pristine" class="alert alert-danger">
                      <div [hidden]="!creditTypeValueac.hasError('required')">Points required</div>
                    </div>
                    <span></span>
                  </div>
                  <div class="form-group col-md-2" *ngIf="item.creditTypeId == 2" style="margin-top: 7px;">
                    <label class="side-form-label" for="inputPercentage">Before </label>
                    <input type="number" class="form-control form-control-input inputText" id="inputPercentage_{{i}}"
                      placeholder="Percentage" [(ngModel)]="item.creditTypeValuebc" name="creditTypeValuebc_{{i}}"
                      #creditTypeValuebc="ngModel"
                      oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');"
                      onKeyDown="if(this.value.length==3 && event.keyCode!=8) return false;" maxlength="3" min="1"
                      required>
                     (change)="setMinVal($event,i)" (input)="onInput($event,i,item)"
                    <div [hidden]="creditTypeValuebc.valid || creditTypeValuebc.pristine" class="alert alert-danger">
                      <div [hidden]="!creditTypeValuebc.hasError('required')">Percentage is required</div>
                    </div>
                    <span></span>
                  </div>
                  <div class="form-group col-md-2" *ngIf="item.creditTypeId == 2" style="margin-top: 7px;">
                    <label class="side-form-label" for="inputPercentage">After </label>
                    <input type="number" class="form-control form-control-input inputText" id="inputPercentage_{{i}}"
                      placeholder="Percentage" [(ngModel)]="item.creditTypeValueac" name="creditTypeValueac_{{i}}"
                      #creditTypeValueac="ngModel"
                      oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');"
                      onKeyDown="if(this.value.length==3 && event.keyCode!=8) return false;" maxlength="3" min="1"
                      required>
                     (change)="setMinVal($event,i)" (input)="onInput($event,i,item)"
                    <div [hidden]="creditTypeValueac.valid || creditTypeValueac.pristine" class="alert alert-danger">
                      <div [hidden]="!creditTypeValueac.hasError('required')">Percentage is required</div>
                    </div>
                    <span></span>
                  </div>
                  <div class="form-group col-md-1" style="margin-top: 5%;">
                    <span class="glyphicon glyphicon-remove pull-right paraRemove fa fa-times"
                      *ngIf="formdata.craditpoints.length > 1" (click)="removePointsList(i)"></span>
                  </div>
                </div>
              </div>



              <div class="form-group">
                <label class="side-form-label" for="sdate">{{helpContent?.courses_AddEditCourseContent?.course_valid_from_date?.label}} <sup class="reqFieldActivity">*</sup>
                  <div class="help-tooltip">
                    <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                    <i class="fa fa-info tooltip-hover-info-label"
                        aria-hidden="true"></i>
                    <div class="help-tooltip-position-right">
                        <h3>Lorem Ipsum</h3>
                        <p>{{helpContent?.courses_AddEditCourseContent?.course_valid_from_date?.labelHelpContent}} </p>
                        <i></i>
                    </div>
                </div>
                 </label>
                <div id="divDoj" class="input-group">
                  <input type="text" class="form-control datePickerInput" [minDate]="date"
                    [maxdate]="formdata.validToDate" #dpFrom="bsDatepicker" bsDatepicker
                    [bsConfig]="{ containerClass: 'theme-dark-blue',dateInputFormat: 'DD-MMM-YYYY' }" placement="top"
                    [(ngModel)]="formdata.validFromDate" required name="validFromDate" #validFromDate="ngModel"
                    (ngModelChange)="onValidFromDateChanged($event,formdata.validFromDate)">
                  <button class="openDatepicker" (click)="dpFrom.toggle()" [attr.aria-expanded]="dpFrom.isOpen">
                    <i class="ion-calendar calenderIcon"></i>
                  </button>
                </div>
                <span></span>
              </div>
              <div class="form-group">
                <p class="divP" style="">
                  <label class="sqrCheckBox pointer">
                    <input id="cReview" type="checkbox" name="courseReview" class="marginRight5px"
                      (ngModelChange)="onCourseValidCheckBoxClick($event,courseReviewCheck)"
                      [(ngModel)]="courseReviewCheck.value">
                    <label class="sqrCheckBoxLabel" for="cReview"></label>{{helpContent?.courses_AddEditCourseContent?.whether_course_needs_to_be_validated?.label}}
                    <h3
                      class="reqFieldActivity" *ngIf="!helpContent.courses_AddEditCourseContent.whether_course_needs_to_be_validated.isMandatory">*</h3>
                    <div class="help-tooltip">
                      <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                      <i class="fa fa-info tooltip-hover-info-label"
                          aria-hidden="true"></i>
                      <div class="help-tooltip-position-right">
                          <h3>Lorem Ipsum</h3>
                          <p>{{helpContent?.courses_AddEditCourseContent?.whether_course_needs_to_be_validated?.labelHelpContent}}</p>
                          <i></i>
                      </div>
                  </div>
                  </label>
                </p>
                <div [hidden]="courseReviewCheck.value == false" class="checkDiv" style="">
                  <div class="checkBoxDiv1 row">
                    <div class="col-md-10 dispInFlex">
                      <label class="sqrCheckBox pointer lineHeight2" for="reviewCheck1">
                        Frequency of validation
                      </label>
                      <select id="reviewCheck1" class="form-control form-control-input select_field_height vaildDrop1"
                        autocomplete="false" (ngModelChange)="onValidFreqMonthSelected($event)"
                        [(ngModel)]="formdata.validationFreq" name="validationFreq" #validationFreq="ngModel">
                        <option value="" selected disabled>Select</option>
                        <option *ngFor="let month of months" value={{month.id}}>{{month.name}}</option>
                      </select>
                      <label class="lineHeight2" style="padding-left: 20px;">
                        Months.
                      </label>
                    </div>
                  </div>
                  <div class="checkBoxDiv1 row">
                    <div class="col-md-10 dispInFlex">
                      <label class="sqrCheckBox pointer lineHeight3" for="reviewCheck2">
                        Lead time for validation

                        <div class="help-tooltip">
                          <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>

                          <div class="help-tooltip-position-right">

                              <p>Dolor sit amet, consectetur adipiscing elit.</p>
                              <i></i>
                          </div>
                      </div>
                      </label>
                      <select id="reviewCheck2" class="form-control form-control-input select_field_height vaildDrop2"
                        autocomplete="false" [(ngModel)]="formdata.leadTime" name="leadTime" #leadTime="ngModel">
                        <option value="" selected disabled>Select</option>
                        <option *ngFor="let day of daysBucket" value={{day.id}}>{{day.name}}</option>
                      </select>
                      <label class="lineHeight3" style="padding-left: 20px;">
                        Days.
                      </label>
                    </div>
                  </div>
                </div>
                <span></span>
              </div>
              <div class="form-group">
                <label class="side-form-label" for="sdate">{{helpContent?.courses_AddEditCourseContent?.course_valid_to_date?.label}} <h3 class="reqFieldActivity" >*</h3>
                  <div class="help-tooltip">
                    <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                    <i class="fa fa-info tooltip-hover-info-label"
                        aria-hidden="true"></i>
                    <div class="help-tooltip-position-right">
                        <h3>Lorem Ipsum</h3>
                        <p>{{helpContent?.courses_AddEditCourseContent?.course_valid_to_date?.labelHelpContent}}</p>
                        <i></i>
                    </div>
                </div>
                </label>
                <div id="divDoj" class="input-group">
                  <input type="text" class="form-control datePickerInput" #dpTo="bsDatepicker" [minDate]="validfrmDate"
                    bsDatepicker [bsConfig]="{ containerClass: 'theme-dark-blue',dateInputFormat: 'DD-MMM-YYYY' }"
                    placement="top" [(ngModel)]="formdata.validToDate" required name="validToDate" #validToDate="ngModel"
                    [disabled]="courseValidChecked">
                  <button class="openDatepicker" (click)="dpTo.toggle()" [attr.aria-expanded]="dpTo.isOpen"
                    [disabled]="courseValidChecked">
                    <i class="ion-calendar calenderIcon"></i>
                  </button>
                </div>
                <span></span>
              </div>
            </div>
             </form>labelHelpContent
          </div>
        </div>
      </div>
    </form>
  </div> -->