@import '../../../../@theme/styles/variable.scss';
.nomination_container {
    .nominationtoprow {
        border: none;
        height: 50px;
        background-color: #ffffff;
        width: 100%;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        margin: auto;
    }
    .nominationsticky-top {
        position: sticky;
        top: 67px;
        z-index: 1090;
    }
    .nominationmarginLft {
        margin-left: 10px;
    }
    .nominationcontGrid {
        height: auto;
        width: 100%;
        display: inline-flex;
        margin: 0px;
        padding: 0px;
    }
    .NoDataDiv {
        position: fixed;
        top: 50%;
        left: 52%;
    }
    .nominationcontentCard {
        color: #000000;
        background-color: #ffffff;
        /*border: 0px solid #0000000a;*/
        border: 0px;
        box-shadow: none;
    }
    .content_width {
        width: 960px;
        margin: 19px 10px 20px 10px;
    }
    .content_width1 {
        width: 78vw;
        margin: 0 auto;
    }
    .top_header_container {
        background: #fff;
        position: sticky;
        top: 4.75rem;
        z-index: 1020;
        .top_header_div_sticky {
            background: #fff;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            height: 50px;
            align-items: center;
            .page_title {
                text-align: left;
                h4 {
                    margin: 0;
                }
            }
            .filter_div {
                display: grid;
                grid-template-columns: 1fr;
                grid-column-gap: 10px;
                align-items: center;
                .drop_down {
                    border: 1px solid $border_color;
                    .drop_down_select {
                        height: 30px;
                        border: none;
                        box-shadow: none;
                        width: 100%;
                    }
                }
                .search_div {
                    display: grid;
                    grid-template-columns: auto 20px;
                    border: 1px solid $border_color;
                    input {
                        border: none;
                        width: 95%;
                        margin: 0;
                        padding: 0;
                        height: 30px;
                        box-shadow: none;
                    }
                    input:focus {
                        outline: none;
                    }
                    i {
                        color: #cecdcd;
                    }
                     ::placeholder {
                        padding-left: 15px;
                        font-family: 'poppins', 'sans-serif';
                    }
                     :focus::placeholder {
                        color: #fff;
                        transition: color 0.35s ease-in-out;
                    }
                    .search_field {
                        height: 30px;
                        border: none;
                        box-shadow: none;
                        padding: 10px;
                    }
                    .remove_icon {
                        line-height: 30px;
                    }
                }
            }
            .buttons_div {
                text-align: right;
            }
        }
    }
    .nominationcontsep {
        border-bottom: 1px solid #f1f5f8;
        // margin-bottom: 10px;
    }
    .nominationtoolcontp {
        text-align: center;
        margin: 1% 0% !important;
        width: 92%;
        cursor: pointer;
        font-size: 20px;
        font-weight: 500;
        min-height: 50px;
    }
    .nominationcontGrid>div {
        width: 100%;
        padding: 0;
        margin: 4% 0 0 4%;
        height: 100%;
        flex: 0 0 20%;
        a {
            text-align: center;
            cursor: pointer;
        }
        a>img {
            // width: 70%;
            // height: 165px;
            width: 100%;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            height: 125.656px;
        }
        div {
            width: 100%;
            cursor: pointer;
            // display: inline-flex;
            // margin: 0.7rem 0;
            // p{
            //   text-align: center;
            //   margin: 4% 0% !important;
            //   width: 100%;
            // }
            // div
            // {
            //   width: 8%;
            //   float: right;
            //   margin: 4% 0% !important;
            // }
            .nominationtoolcontp {
                text-align: center;
                margin: 1% 0% !important;
                width: 92%;
                cursor: pointer;
                font-size: 20px;
                font-weight: 500;
            }
            .toolcont {
                width: 8%;
                float: right;
                margin: 3% 0% !important;
            }
        }
    }
    .headerName {
        margin: 0;
    }
    .marginAuto {
        margin: auto;
    }
    .nominationtooltip {
        position: relative;
        display: inline-block;
        opacity: 1;
    }
    .constantBackbtn {
        width: auto !important;
        border: none;
        // padding: 6px 14px !important;
        background-color: #076ba1 !important;
        color: #fff !important;
        height: 28px !important;
    }
    .blended-program-nomination-card {
        // color: #000000;
        // background-color: #ffffff;
        // /*border: 0px solid #0000000a;*/
        // border: 0px;
        // box-shadow: none;
        position: relative;
    }
    .blended-program-nomination-disabled {
        background-color: #00000082;
        height: 100%;
        position: absolute;
        z-index: 2;
        /* color: #fff; */
        display: grid;
        text-align: center;
        align-items: center;
    }
    .disabled-icon {
        font-size: 30px;
        color: #fff;
        cursor: pointer;
    }
    .multiple_category_card_container {
        background: $background_for_card_container;
        margin: 55px 30px 30px;
        width: 95%;
        // margin: auto;
        .cards_container {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-column-gap: 51px;
            grid-row-gap: 30px;
            .singel_card {
                position: relative;
                background: #fff;
                text-align: center;
                box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
                border-radius: 10px;
            }
        }
    }
    // .gravatar {
    //   margin-top: 10px;
    //   width: 60px;
    //   // height: 90px;
    // }
    //   .gravatar-title {
    // width: 100px;
    // padding: 16px 25px 0px;
    // height: 80px;
    //  margin-top: 5px;
    //   }
}