<app-subheader [headerConfig]="header" (inputsearch)="searchData($event)" (addbtn)="addeditcontent(undefined,0)" (backClick)="back()" (Clear)="clear()"></app-subheader>

<div class="nomination_container">
    <div *ngIf="noNominationInstance">
        <!-- <div>
  <img class="noDataImg" src='assets/images/noDataFound1.png' onerror="this.src='assets/images/noDataFound1.png';">
</div> -->
        <ngx-no-data [config]="noDataVal"></ngx-no-data>

    </div>
    <div *ngIf="skeleton">
        <!-- [ngStyle]="{ height: conentHeight }" style="overflow-y: auto" -->
        <div (scroll)="onScroll(scrollMe)" #scrollMe class="overflow_scroll_cards_container">
            <div *ngFor="let item of displayArray;let i=index">
                <ngx-card (disabled)="clickTodisableInst(item,i)" [cardsList]="item" [config]="cardModify" (goBatch)="batchClick(item)" (gotoDetails)="gotoCardaddedit(item)"></ngx-card>
            </div>
        </div>
    </div>
    <app-skeleton [count]='count' *ngIf="!skeleton && !noNominationInstance"></app-skeleton>

    <!-- <table *ngIf="!skeleton && !noNominationInstance">
        <tr>
            <div class="multiple_category_card_container">
                <div class="content_width">
                    <div class="cards_container">
                        <td>
                            <div class="singel_card">
                                <div class="gravatar">
                                    <ngx-skeleton-loader [theme]="{ width: '190px', height: '90px','margin': '5px' }">
                                    </ngx-skeleton-loader>
                                </div>
                                <div class="">
                                    <ngx-skeleton-loader [theme]="{
                                                    width: '160px',
                                                    height: '35px'
                                                  }"></ngx-skeleton-loader>
                                </div>
                                <div class="">
                                    <ngx-skeleton-loader [theme]="{
                                                    width: '160px',
                                                    height: '35px'
                                                  }"></ngx-skeleton-loader>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="singel_card">
                                <div class="gravatar">
                                    <ngx-skeleton-loader [theme]="{ width: '190px', height: '90px','margin': '5px' }">
                                    </ngx-skeleton-loader>
                                </div>
                                <div class="">
                                    <ngx-skeleton-loader [theme]="{
                                                    width: '160px',
                                                    height: '35px'
                                                  }"></ngx-skeleton-loader>
                                </div>
                                <div class="">
                                    <ngx-skeleton-loader [theme]="{
                                                    width: '160px',
                                                    height: '35px'
                                                  }"></ngx-skeleton-loader>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="singel_card">
                                <div class="gravatar">
                                    <ngx-skeleton-loader [theme]="{ width: '190px', height: '90px','margin': '5px'}">
                                    </ngx-skeleton-loader>
                                </div>
                                <div class="">
                                    <ngx-skeleton-loader [theme]="{
                                                    width: '160px',
                                                    height: '35px'
                                                  }"></ngx-skeleton-loader>
                                </div>
                                <div class="">
                                    <ngx-skeleton-loader [theme]="{
                                                    width: '160px',
                                                    height: '35px'
                                                  }"></ngx-skeleton-loader>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="singel_card">
                                <div class="gravatar">
                                    <ngx-skeleton-loader [theme]="{ width: '190px', height: '90px','margin': '5px'}">
                                    </ngx-skeleton-loader>
                                </div>
                                <div class="">
                                    <ngx-skeleton-loader [theme]="{
                                                    width: '160px',
                                                    height: '35px'
                                                  }"></ngx-skeleton-loader>
                                </div>
                                <div class="">
                                    <ngx-skeleton-loader [theme]="{
                                                    width: '160px',
                                                    height: '35px'
                                                  }"></ngx-skeleton-loader>
                                </div>
                            </div>
                        </td>
                    </div>
                </div>
            </div>
        </tr>
        <tr>
            <div class="multiple_category_card_container">
                <div class="content_width">
                    <div class="cards_container">
                        <td>
                            <div class="singel_card">
                                <div class="gravatar">
                                    <ngx-skeleton-loader [theme]="{ width: '190px', height: '90px','margin': '5px'}">
                                    </ngx-skeleton-loader>
                                </div>
                                <div class="">
                                    <ngx-skeleton-loader [theme]="{
                                                        width: '160px',
                                                        height: '35px'
                                                      }"></ngx-skeleton-loader>
                                </div>
                                <div class="">
                                    <ngx-skeleton-loader [theme]="{
                                                        width: '160px',
                                                        height: '35px'
                                                      }"></ngx-skeleton-loader>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="singel_card">
                                <div class="gravatar">
                                    <ngx-skeleton-loader [theme]="{ width: '190px', height: '90px','margin': '5px'}">
                                    </ngx-skeleton-loader>
                                </div>
                                <div class="">
                                    <ngx-skeleton-loader [theme]="{
                                                        width: '160px',
                                                        height: '35px'
                                                      }"></ngx-skeleton-loader>
                                </div>
                                <div class="">
                                    <ngx-skeleton-loader [theme]="{
                                                        width: '160px',
                                                        height: '35px'
                                                      }"></ngx-skeleton-loader>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="singel_card">
                                <div class="gravatar">
                                    <ngx-skeleton-loader [theme]="{ width: '190px', height: '90px','margin': '5px'}">
                                    </ngx-skeleton-loader>
                                </div>
                                <div class="">
                                    <ngx-skeleton-loader [theme]="{
                                                        width: '160px',
                                                        height: '35px'
                                                      }"></ngx-skeleton-loader>
                                </div>
                                <div class="">
                                    <ngx-skeleton-loader [theme]="{
                                                        width: '160px',
                                                        height: '35px'
                                                      }"></ngx-skeleton-loader>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="singel_card">
                                <div class="gravatar">
                                    <ngx-skeleton-loader [theme]="{ width: '190px', height: '90px','margin': '5px'}">
                                    </ngx-skeleton-loader>
                                </div>
                                <div class="">
                                    <ngx-skeleton-loader [theme]="{
                                                        width: '160px',
                                                        height: '35px'
                                                      }"></ngx-skeleton-loader>
                                </div>
                                <div class="">
                                    <ngx-skeleton-loader [theme]="{
                                                        width: '160px',
                                                        height: '35px'
                                                      }"></ngx-skeleton-loader>
                                </div>
                            </div>
                        </td>
                    </div>
                </div>
            </div>
        </tr>
    </table> -->
    <div class="deleteModalBackdrop" *ngIf="enableDisableModal == true">
        <div class="deleteModal">
            <div class="modal-header deleteModalHeader">
                <p *ngIf="!enable" class="enableDisableModalHeaderP">{{title}}</p>
                <p *ngIf="enable" class="enableDisableModalHeaderP">{{title}}</p>
                <button class="close closeDeleteModalBtn" aria-label="Close" (click)="closeEnableDisableModal()">
                              <span aria-hidden="true">&times;</span>
                          </button>
            </div>
            <div class="modal-body">
                <div class="" *ngIf="!enable">
                    <p class="enableDisableModalBodyP">Are you sure you want to enable this {{NominationData.instName}} ?</p>
                </div>
                <div class="" *ngIf="enable">
                    <p class="enableDisableModalBodyP">Are you sure you want to disable this {{NominationData.instName}} ?</p>
                </div>
            </div>
            <div class="modal-footer deleteModalFooter">
                <div class="col-md-2">
                    <button type="button" class="deleteModalBtn" (click)="enableDisableInstAction(true)">Yes</button>
                </div>
                <div class="col-md-2">
                    <button type="button" class="deleteModalBtn" (click)="enableDisableInstAction(false)">No</button>
                </div>
            </div>
        </div>
    </div>
</div>