<!-- <div class="col-md-12 nominationtoprow nominationsticky">
    <div class="col-md-3 marginAuto">
        <h3 class="headerName">EEP Workflow</h3>
    </div>
    <div class="col-md-6 filter_div">
        <div class="search_div">
            <input type="text" class="search_field" [(ngModel)]="searchinst.instName" placeholder="Search by instance name">
            <i class="fa fa-remove remove_icon" aria-hidden="true" (click)="clear()"></i>
        </div>
    </div>
    <div class="col-md-3 text-right" style="margin-top: 10px;margin-bottom: 10px;">
        <button type="button" class="constantbtn-button-blue-left" (click)="addeditcontent('', 0)">Add Cohort</button>
        <button type="submit" class="back_button" (click)="back()">Back</button>
    </div>
</div> -->
<app-subheader [headerConfig]="header" (addbtn)="addeditcontent('',0)" (backClick)="back()" (inputsearch)="searchData($event)" (Clear)="clear()"></app-subheader>






<!-- <div *ngIf="skeleton">
    <div *ngIf="!noNominationInstance" class="row nominationcontGrid">
        <div *ngFor="let item of nominationInstances | filterBy: searchinst; let i=index" class="card nominationcontentCard col-md-3 blended-program-nomination-card">

            <div (click)="addeditcontent(item,1)">
                <a *ngIf="item.instancePicRef">
                    <img src={{item.instancePicRef}} onerror="this.src='assets/images/noImage.jpg';">
                </a>
                <a *ngIf="!item.instancePicRef">
                    <img src='assets/images/courseicon.jpg' onerror="this.src='assets/images/noImage.jpg';">
                </a>
            </div>
            <div (click)="addeditcontent(item,1)">
                <div class="nominationcontsep">
                    <div class="nominationtoolcontp nominationtooltip" title="{{item.instName}}" *ngIf="item?.instName?.length <= 15">{{item.instName}}</div>
                    <div class="nominationtoolcontp nominationtooltip" title="{{item.instName}}" *ngIf="item?.instName?.length > 15">{{item.instName.substring(0,15)}}...</div>
                </div>
            </div>

            <div class="col-sm-12 card-footer-main">
                <div class="col-sm-6 card-footer-sub">
                    <div class="" title="Edit" (click)="addeditcontent(item,1)">
                        <i class="fa fa-edit card-footer-icon pointer" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="col-sm-6 card-footer-sub">
                    <div class="">
                        <i title="Enabled" id="disable_{{item.nId}}" class="fa fa-eye card-footer-icon pointer" aria-hidden="true" (click)="disableInstance(i,item)" [hidden]="item.visible == 0"></i>

                        <i title="Disabled" id="enable_{{item.nId}}" class="fa fa-eye-slash card-footer-icon pointer" aria-hidden="true" (click)="disableInstance(i,item)" [hidden]="item.visible == 1"></i>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div> -->
<!-- [ngStyle]="{ height: conentHeight }" style="overflow-y: auto" -->
<div *ngIf="skeleton">
    <div *ngIf="!noNominationInstance" (scroll)="onScroll(scrollMe)" #scrollMe class="overflow_scroll_cards_container">
        <div *ngFor="let item of displayArray | filterBy: searchinst;let i=index">
            <ngx-card (disabled)="clickTodisableEep(item, i)" [cardsList]="item" [config]="cardModify" (gotoDetails)="gotoCardEdit(item)"></ngx-card>
        </div>
    </div>
</div>
<div class="deleteModalBackdrop" *ngIf="enableDisableModal == true">
    <div class="deleteModal">
        <div class="modal-header deleteModalHeader">
            <p *ngIf="!enable" class="enableDisableModalHeaderP">{{title}}</p>
            <p *ngIf="enable" class="enableDisableModalHeaderP">{{title}}</p>
            <button class="close closeDeleteModalBtn" aria-label="Close" (click)="closeEnableDisableModal()">
                      <span aria-hidden="true">&times;</span>
                  </button>
        </div>
        <div class="modal-body">
            <div class="" *ngIf="!enable">
                <p class="enableDisableModalBodyP">Are you sure you want to enable this {{eepData.instName}} ?</p>
            </div>
            <div class="" *ngIf="enable">
                <p class="enableDisableModalBodyP">Are you sure you want to disable this {{eepData.instName}} ?</p>
            </div>
        </div>
        <div class="modal-footer deleteModalFooter">
            <div class="col-md-2">
                <button type="button" class="deleteModalBtn" (click)="enableDisableEepAction(true)">Yes</button>
            </div>
            <div class="col-md-2">
                <button type="button" class="deleteModalBtn" (click)="enableDisableEepAction(false)">No</button>
            </div>
        </div>
    </div>
</div>
<!-- <app-skeleton *ngIf="!skeleton" [count]='skeletonCount'></app-skeleton> -->
<app-skeleton [count]='skeletonCount' *ngIf="!skeleton"></app-skeleton>
<!-- <table *ngIf="!skeleton">
    <tr>
        <div class="multiple_category_card_container">
            <div class="content_width">
                <div class="cards_container">
                    <td>
                        <div class="singel_card">
                            <div class="gravatar">
                                <ngx-skeleton-loader [theme]="{ width: '154px', height: '90px','margin': '5px' }">
                                </ngx-skeleton-loader>
                            </div>
                            <div class="">
                                <ngx-skeleton-loader [theme]="{
                                                      width: '160px',
                                                      height: '35px'
                                                    }"></ngx-skeleton-loader>
                            </div>
                            <div class="">
                                <ngx-skeleton-loader [theme]="{
                                                      width: '160px',
                                                      height: '35px'
                                                    }"></ngx-skeleton-loader>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="singel_card">
                            <div class="gravatar">
                                <ngx-skeleton-loader [theme]="{ width: '154px', height: '90px','margin': '5px' }">
                                </ngx-skeleton-loader>
                            </div>
                            <div class="">
                                <ngx-skeleton-loader [theme]="{
                                                      width: '160px',
                                                      height: '35px'
                                                    }"></ngx-skeleton-loader>
                            </div>
                            <div class="">
                                <ngx-skeleton-loader [theme]="{
                                                      width: '160px',
                                                      height: '35px'
                                                    }"></ngx-skeleton-loader>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="singel_card">
                            <div class="gravatar">
                                <ngx-skeleton-loader [theme]="{ width: '154px', height: '90px','margin': '5px'}">
                                </ngx-skeleton-loader>
                            </div>
                            <div class="">
                                <ngx-skeleton-loader [theme]="{
                                                      width: '160px',
                                                      height: '35px'
                                                    }"></ngx-skeleton-loader>
                            </div>
                            <div class="">
                                <ngx-skeleton-loader [theme]="{
                                                      width: '160px',
                                                      height: '35px'
                                                    }"></ngx-skeleton-loader>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="singel_card">
                            <div class="gravatar">
                                <ngx-skeleton-loader [theme]="{ width: '154px', height: '90px','margin': '5px'}">
                                </ngx-skeleton-loader>
                            </div>
                            <div class="">
                                <ngx-skeleton-loader [theme]="{
                                                      width: '160px',
                                                      height: '35px'
                                                    }"></ngx-skeleton-loader>
                            </div>
                            <div class="">
                                <ngx-skeleton-loader [theme]="{
                                                      width: '160px',
                                                      height: '35px'
                                                    }"></ngx-skeleton-loader>
                            </div>
                        </div>
                    </td>
                </div>
            </div>
        </div>
    </tr>
    <tr>
        <div class="multiple_category_card_container">
            <div class="content_width">
                <div class="cards_container">
                    <td>
                        <div class="singel_card">
                            <div class="gravatar">
                                <ngx-skeleton-loader [theme]="{ width: '154px', height: '90px','margin': '5px'}">
                                </ngx-skeleton-loader>
                            </div>
                            <div class="">
                                <ngx-skeleton-loader [theme]="{
                                                          width: '160px',
                                                          height: '35px'
                                                        }"></ngx-skeleton-loader>
                            </div>
                            <div class="">
                                <ngx-skeleton-loader [theme]="{
                                                          width: '160px',
                                                          height: '35px'
                                                        }"></ngx-skeleton-loader>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="singel_card">
                            <div class="gravatar">
                                <ngx-skeleton-loader [theme]="{ width: '154px', height: '90px','margin': '5px'}">
                                </ngx-skeleton-loader>
                            </div>
                            <div class="">
                                <ngx-skeleton-loader [theme]="{
                                                          width: '160px',
                                                          height: '35px'
                                                        }"></ngx-skeleton-loader>
                            </div>
                            <div class="">
                                <ngx-skeleton-loader [theme]="{
                                                          width: '160px',
                                                          height: '35px'
                                                        }"></ngx-skeleton-loader>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="singel_card">
                            <div class="gravatar">
                                <ngx-skeleton-loader [theme]="{ width: '154px', height: '90px','margin': '5px'}">
                                </ngx-skeleton-loader>
                            </div>
                            <div class="">
                                <ngx-skeleton-loader [theme]="{
                                                          width: '160px',
                                                          height: '35px'
                                                        }"></ngx-skeleton-loader>
                            </div>
                            <div class="">
                                <ngx-skeleton-loader [theme]="{
                                                          width: '160px',
                                                          height: '35px'
                                                        }"></ngx-skeleton-loader>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="singel_card">
                            <div class="gravatar">
                                <ngx-skeleton-loader [theme]="{ width: '154px', height: '90px','margin': '5px'}">
                                </ngx-skeleton-loader>
                            </div>
                            <div class="">
                                <ngx-skeleton-loader [theme]="{
                                                          width: '160px',
                                                          height: '35px'
                                                        }"></ngx-skeleton-loader>
                            </div>
                            <div class="">
                                <ngx-skeleton-loader [theme]="{
                                                          width: '160px',
                                                          height: '35px'
                                                        }"></ngx-skeleton-loader>
                            </div>
                        </div>
                    </td>
                </div>
            </div>
        </div>
    </tr>
</table> -->
<div *ngIf="noNominationInstance">
    <!-- <div> -->
    <!-- <img class="noDataImg" src='assets/images/noDataFound1.png' onerror="this.src='assets/images/noDataFound1.png';"> -->
    <!-- <img src='assets/images/noDataFound2.png' onerror="this.src='assets/images/noDataFound2.png';"> -->
    <!-- <p class="nodata"> No Data Found</p> -->
    <ngx-no-data [config]="noDataVal"></ngx-no-data>

    <!-- </div> -->
</div>