<div class="reports_container">
    <!-- <div class="reports_header">
        <div class="content_width">
            <div class="header_grid">
                <div class="header_title">
                    <h4>Reports</h4>
                </div>
                <div class="buttons_container">
                    
                </div>
            </div>
        </div>
    </div> -->
    <!-- <button class="constantbtn-button-blue-left">BACK</button> -->
    <!-- <button class="constantbtn-button-blue-right" (click)="DownlaodReports()">Download</button>
                <button class="AddBtn clearBtn" (click)="GetReports()">Report</button> -->


    <app-subheader [headerConfig]="header"></app-subheader>

    <!-- old card -->
    <!-- <div ba-panel ba-panel-class="with-scroll">
        <section id="feature" class="section01" style="float:none; ">
            <div class="container">
                <div class="block">
                    <div class="" *ngFor="let item of menuList" (click)="gotopages(item, item.menuId)">
                        <div class="element-animate mainbox">
                            <div class="{{item.menuIcon}} cloud">
                            </div>
                            <div class="">
                                <div class="media-body">
                                    <h3 class="mt-0 mainh3">{{item.menuName}}</h3>
                                    <p class="mainp">{{item.menuDescription}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div> -->
    <!-- ========================================== -->

    <div class="mainCard">
        <ngx-parent-card *ngFor="let item of menuList" [cardcount]="cardsCount" [cardList]="item" (cardClick)="gotoCard(item)"></ngx-parent-card>
    </div>
</div>