<div *ngIf="!getApprovedAssets">
    <app-subheader [headerConfig]="header" (addbtn)="addeditAsset('')" (drop_1)="fileUpload()" (drop_2)="addeditAsset('')" (drpdown1)="folderUpload()" (drpdown2)="addeditccategory(undefined,0)" (comeBack)="breadcrumbNavigate($event)" (btnthree)="folderUpload()"
        (btnfour)="fileUpload()" (btntwo)="addeditccategory(undefined,0)" (backClick)="back1()" (inputsearch)="SearchFilter($event)" (Clear)="SearchFilter()" (filterClick)="gotoFilter()"></app-subheader>
    <ngx-filter [courseTag]="filters" [filterInnertag]="filtersInner" (dropdownClick)="getSortData($event)" [filterConfig]="filtercon" (changeFilterData)="filteredChanged($event)" *ngIf="filter" [clearData]="filterClearData"></ngx-filter>
    <!-- <app-subheader [headerConfig]="header" (addbtn)="addeditAsset('')" (drop_1)="fileUpload()" (drop_2)="addeditAsset('')"
    (drpdown1)="folderUpload()" (drpdown2)="addeditccategory()" (btnthree)="folderUpload()" (btnfour)="fileUpload()"
    (btntwo)="addeditccategory()" (backClick)="back1()" (inputsearch)="SearchFilter($event)"(comeBack)="breadcrumbNavigate($event)"
    (filterClick)="gotoFilter()"></app-subheader>
<ngx-filter [courseTag]="filters" [filterInnertag]="" [filterConfig]="filtercon"
    (changeFilterData)="filteredChanged($event)" *ngIf="filter" [clearData]="filterClearData"></ngx-filter>
     (comeBack)="breadcrumbNavigate($event)" -->
    <!-- (Clear)="clear()" -->
    <div style="display: none;">
        <input #fileInput type="file" id="checkFile" (click)="fileInput.value = null" name="checkFile" (change)="onSelectFile($event)" accept="video/*,audio/*,application/pdf,.png, .jpg, .jpeg,.ppt,.pptx,.doc,.docx,.xls,.xlsx">
    </div>
    <div style="display: none;">
        <input #folderInput type="file" (click)="folderInput.value = null" id="folderFile" (click)="folderInput.value = null" name="folderFile" (change)="onSelectFile($event)" accept="zip,application/octet-stream,application/zip,application/x-zip,application/x-zip-compressed,.csv">
    </div>
    <div class="deleteModalBackdrop" *ngIf="enableFileUploadModal == true">
        <div class="deleteModal">
            <div class="modal-header deleteModalHeader">
                <!-- <p class="enableDisableModalHeaderP"> {{modalName}}</p> -->
                <p class="enableDisableModalHeaderP">{{fileName | truncate : 50 : "..." }}</p>
                <!-- <button class="close closeDeleteModalBtn" aria-label="Close" (click)="closeEnableDisableCategoryModal()"> -->
                <!-- <span aria-hidden="true">&times;</span>
    </button> -->
            </div>

            <div class="modal-body">
                <div class="">
                    <p style="text-align: center;font-size: 14px;margin-bottom: 10px;">Upload in Progress</p>
                    <div class="progress" *ngIf="progress">
                        <div class="progress-bar" [style.width]="progress + '%'">{{progress}}%</div>
                    </div>
                </div>

            </div>

            <div class="modal-footer deleteModalFooter" *ngIf="identifier == 'asset'">
                <div class="">
                    <button type="button" class="constantbtn-button-blue-left" (click)="enableDisableAction(true)">Yes</button>
                </div>
                <div class="">
                    <button type="button" class="constantbtn-button-blue-right" (click)="enableDisableAction(false)">No</button>
                </div>
            </div>

            <div class="modal-footer deleteModalFooter" *ngIf="identifier == 'cat'">
                <div class="">
                    <button type="button" class="constantbtn-button-blue-left" (click)="enableDisableActionCat(true)">Yes</button>
                </div>
                <div class="">
                    <button type="button" class="constantbtn-button-blue-right" (click)="enableDisableActionCat(false)">No</button>
                </div>
            </div>

        </div>
    </div>

    <div class="dam-section" [ngClass]="(view == false) ? 'd-grid' : 'd-flex view' ">
        <div class="dam-folders position-relative">
            <div class="storage p-2">
                <label class="d-block m-0 pb-1"> {{damStorageDetails?.usedPercentage}} storage full</label>
                <span>
                <i class="fas fa-server pr-2"></i>
                {{damStorageDetails?.usedSize}} of {{damStorageDetails?.totalSize}} used
            </span>
            </div>
            <div class="tree-folder">
                <div *ngFor="let item of tabs">
                    <label class="m-0 pl-2 py-2 cursor-p d-flex align-items-center" [ngClass]="{'active-tree':  item.isActive == 1} ">
                    <i *ngIf="(!item?.expand && item?.tabId != 5) && item?.isTreeEnable === 1" class="fas fa-caret-right pr-2" (click)="showFolder(item,'tab')"></i>
                    <i *ngIf="(item?.expand && item?.tabId != 5) && item?.isTreeEnable === 1" class="fas fa-sort-down pr-2" (click)="showFolder(item,'tab')"></i>
                    <p class="tree-title m-0" [ngStyle]="{'padding-left': item.tabId == 5 || item?.isTreeEnable === 0 ? '12px':''}" (click)="getAllFolders(item)">
                        <i [class]="item?.tabIcon"></i> {{ item.tabName }}
                    </p>
                </label>
                    <app-tree [valueChanged]="valueChanged" [inputTab]="item" id="expand" *ngIf="item.expand" [trees]="tree" (getFolders)="getFolders($event,'tree',item)" (bread)="openDeepyNestedFolder($event)"></app-tree>
                </div>
            </div>
        </div>
        <div class="dam-content p-2">
            <ng-container *ngIf="!showContentBoxSpinner">

                <!-- <div class="dam-content--folders" *ngIf="folder?.length>0">
                    <div class="folders-section p-2  position-relative" *ngFor="let item of folder;let i = index;" (dblclick)="getFolders(item,'folder','');passDataToAppchild(item,'')" (mouseenter)="mouseup(i, item)" (mouseleave)="mousedown(i)" [contextMenu]="folderMenu"
                        [contextMenuSubject]="item" #iconFolder>
                        <div class="folder d-flex align-items-center position-relative cursor-p" (click)="getFolders(item,'folder','');passDataToAppchild(item,'')" (click)="singleClick(item)" [ngClass]="{'active-folder': activeFolder, 'disable': item.visible == 0}">
                            <span class="expiry-date position-absolute" *ngIf="tabId==5">{{item.expiryDate}}</span>
                            <span class="folder--icon">
                                <i *ngIf="item.visible == 1" class="fa fa-folder"></i>
                                <i *ngIf="item.visible == 0"  class="fa fa-eye-slash" title="Enable"></i>
                            </span>
                            <span class="folder--text" title={{item.assetName}}>{{ item.assetName }}</span>
                            <i class="fas fa-ellipsis-v folder--three-dot py-2 text-center" (mouseenter)="openfolderCtxt(i)"></i>
                            <div class="hover-content position-absolute" *ngIf="item.isHoverDesc == 1 && item.description" #hover>
                                <h4 class="text-break ">{{ item?.assetName }}</h4>
                                <p class="m-0 text-break" [innerHtml]="item?.description"></p>
                            </div>
                        </div>

                        <div class="custom-context position-absolute" *ngIf="item.isMenu == 1" (click)=contextItem(item)>
                            <span (click)="View('Edit','',i)" *ngIf="item?.isEditable == 1&&(item?.visible == 1 && item?.isVisibility == 1)"><i class="fa fas fa-folder"></i>Edit </span>
                            <span (click)="View('Enable','',i)" *ngIf="item?.visible == 0 && item?.isVisibility == 1"><i class="fas fa-eye"></i>Enable</span>
                            <span (click)="View('Disable','',i)" *ngIf="item?.visible == 1 && item?.isVisibility == 1"><i class="fas fa-eye-slash"></i>Disable</span>
                            <span *ngIf="item?.visible == 1 && item?.isVisibility == 1" (click)="View( 'Download', '') ;downloadfolder(item)"><i class="fas fa-download "></i>Download</span>
                            <span *ngIf="item?.isRemove==1 &&(item?.visible == 1 && item?.isVisibility == 1)" (click)="View( 'Delete', '') "><i class="fa fas fa-trash "></i>Remove</span>
                            <span (click)="View( 'Restore', '',i) " *ngIf="item?.isRestore==1&&(item?.visible == 1 && item?.isVisibility == 1) "><i class="fa fa-undo "></i>Restore </span>
                            <span (click)="View( 'deleteForever', '',i) " *ngIf="item?.isDelete==1 &&(item?.visible == 1 && item?.isVisibility == 1)"><i class="fa fas fa-trash "></i>Delete Forever </span>
                            <span (click)="View( 'shareAsset', '',i) " *ngIf="item?.isShare==1 &&(item?.visible == 1 && item?.isVisibility == 1)"><i class="fa fa-share-alt " ></i>Share With</span>
                            <span (click)="View( 'moveAsset', '',i) " *ngIf="item?.isMove==1&&(item?.visible == 1 && item?.isVisibility == 1) "><i class="fas fa-file-export "></i>Move To</span>
                        </div>

                        <context-menu #folderMenu [menuClass]="'context-dropdown'">
                            <ng-template contextMenuItem (execute)="contextItem($event,list)">
                                <span (click)="View('Edit','',i)" *ngIf="item?.isEditable == 1&&(item?.visible == 1 && item?.isVisibility == 1)"><i class="fa fas fa-folder"></i>Edit </span>
                                <span (click)="View('Enable','',i)" *ngIf="item?.visible == 0 && item?.isVisibility == 1"><i class="fas fa-eye"></i>Enable</span>
                                <span (click)="View('Disable','',i)" *ngIf="item?.visible == 1 && item?.isVisibility == 1"><i class="fas fa-eye-slash"></i>Disable</span>
                                <span *ngIf="item?.visible == 1 && item?.isVisibility == 1" (click)="View( 'Download', '') ;downloadfolder(item)"><i class="fas fa-download "></i>Download</span>
                                <span *ngIf="item?.isRemove==1 &&(item?.visible == 1 && item?.isVisibility == 1)" (click)="View( 'Delete', '') "><i class="fa fas fa-trash "></i>Remove</span>
                                <span (click)="View( 'Restore', '',i) " *ngIf="item?.isRestore==1&&(item?.visible == 1 && item?.isVisibility == 1) "><i class="fa fa-undo "></i>Restore </span>
                                <span (click)="View( 'deleteForever', '',i) " *ngIf="item?.isDelete==1 &&(item?.visible == 1 && item?.isVisibility == 1)"><i class="fa fas fa-trash "></i>Delete Forever </span>
                                <span (click)="View( 'shareAsset', '',i) " *ngIf="item?.isShare==1 &&(item?.visible == 1 && item?.isVisibility == 1)"><i class="fa fa-share-alt " ></i>Share With</span>
                                <span (click)="View( 'moveAsset', '',i) " *ngIf="item?.isMove==1&&(item?.visible == 1 && item?.isVisibility == 1) "><i class="fas fa-file-export "></i>Move To</span>
                            </ng-template>
                        </context-menu>
                    </div>
                </div> -->
                <cdk-virtual-scroll-viewport itemSize="18"  *ngIf="allFolderCombined?.length>0" minBufferPx="700" maxBufferPx="1500"  class="virtual_scroll_height">

                  <ng-container *cdkVirtualFor="let item of allFolderCombined;let i = index;templateCacheSize: 0">
                    <ng-container *ngIf="checkIfCondition(i)">
                      <label class="label-name d-block" *ngIf="item.caFlag == 1">Folders</label>
                      <label class="label-name d-block" *ngIf="item.caFlag == 2">Files</label>
                    </ng-container>
                    <div class="dam-content--folders d-inline-block" *ngIf="item.caFlag == 1" (mouseenter)="mouseup(i, item,hover)" (mouseleave)="mousedown(i,hover,foldermenu)">
                      <div class="folders-section p-2  position-relative" (dblclick)="getFolders(item,'folder','');passDataToAppchild(item,'')"  [contextMenu]="folderMenu"
                          [contextMenuSubject]="item" #iconFolder>
                          <div class="folder d-flex align-items-center position-relative cursor-p" (click)="getFolders(item,'folder','');passDataToAppchild(item,'')" (click)="singleClick(item)" [ngClass]="{'active-folder': activeFolder, 'disable': item.visible == 0}">
                              <span class="expiry-date position-absolute" *ngIf="tabId == 5">{{item.expiryDate}}</span>
                              <span class="folder--icon">
                                  <i *ngIf="item.visible == 1" class="fa fa-folder"></i>
                                  <i *ngIf="item.visible == 0"  class="fa fa-eye-slash" title="Enable"></i>
                              </span>
                              <span class="folder--text" title={{item.assetName}}>{{ item.assetName }}</span>
                              <i class="fas fa-ellipsis-v folder--three-dot py-2 text-center" (mouseenter)="openfolderCtxt(i,foldermenu)"></i>
                              <div class="hover-content position-absolute" [hidden]="!(item.isHoverDesc == 1 && item.description)" id="hover_folder" #hover>
                                  <h4 class="text-break ">{{ item?.assetName }}</h4>
                                  <p class="m-0 text-break" [innerHtml]="item?.description"></p>
                              </div>
                          </div>

                          <div class="custom-context position-absolute" #foldermenu [hidden]="item.isMenu == 0" (click)=contextItem(item)>
                            <span (click)="View('viewDetails','',i)" *ngIf="item?.isView == 1 && item?.visible == 1"><i class="fa fas fa-info-circle"></i>View Details </span>
                              <span (click)="View('Edit','',i)" *ngIf="item?.isEditable == 1 && item?.visible == 1"><i class="fa fas fa-folder"></i>Edit </span>
                              <span (click)="View('Enable','',i)" *ngIf="item?.visible == 0 && item?.isVisibility == 1"><i class="fas fa-eye"></i>Enable</span>
                              <span (click)="View('Disable','',i)" *ngIf="item?.visible == 1 && item?.isVisibility == 1"><i class="fas fa-eye-slash"></i>Disable</span>
                              <span *ngIf="item?.visible == 1  && item?.isDownload == 1" (click)="View( 'Download', '') ;downloadfolder(item)"><i class="fas fa-download "></i>Download</span>
                              <span *ngIf="item?.isRemove==1 && item?.visible == 1" (click)="View( 'Delete', '') "><i class="fa fas fa-trash "></i>Remove</span>
                              <span (click)="View( 'Restore', '',i) " *ngIf="item?.isRestore==1 && item?.visible == 1 "><i class="fa fa-undo "></i>Restore </span>
                              <span (click)="View( 'deleteForever', '',i) " *ngIf="item?.isDelete==1 && item?.visible == 1"><i class="fa fas fa-trash "></i>Delete Forever </span>
                              <span (click)="View( 'shareAsset', '',i) " *ngIf="item?.isShare==1 && item?.visible == 1 "><i class="fa fa-share-alt " ></i>Share With</span>
                              <span (click)="View( 'moveAsset', '',i) " *ngIf="item?.isMove==1 && item?.visible == 1 "><i class="fas fa-file-export "></i>Move To</span>
                          </div>

                          <context-menu #folderMenu [menuClass]="'context-dropdown'" [disabled] = "item.isEditable == 0 && item.isVisibility == 0
                          && item.isRestore == 0 && item.isDelete == 0 && item.isShare == 0 && item.isMove == 0 && item.isRemove == 0 && item.isDownload == 0 && item.isView == 0">
                              <ng-template contextMenuItem (execute)="contextItem($event,list)">
                                <span (click)="View('viewDetails','',i)" *ngIf="item?.isView == 1 && item?.visible == 1"><i class="fa fas fa-info-circle"></i>View Details </span>
                                  <span (click)="View('Edit','',i)" *ngIf="item?.isEditable == 1 && item?.visible == 1"><i class="fa fas fa-folder"></i>Edit </span>
                                  <span (click)="View('Enable','',i)" *ngIf="item?.visible == 0 && item?.isVisibility == 1"><i class="fas fa-eye"></i>Enable</span>
                                  <span (click)="View('Disable','',i)" *ngIf="item?.visible == 1 && item?.isVisibility == 1"><i class="fas fa-eye-slash"></i>Disable</span>
                                  <span *ngIf="item?.visible == 1 && item.isDownload == 1" (click)="View( 'Download', '') ;downloadfolder(item)"><i class="fas fa-download "></i>Download</span>
                                  <span *ngIf="item?.isRemove==1 && item?.visible == 1 " (click)="View( 'Delete', '') "><i class="fa fas fa-trash "></i>Remove</span>
                                  <span (click)="View( 'Restore', '',i) " *ngIf="item?.isRestore==1 && item?.visible == 1"><i class="fa fa-undo "></i>Restore </span>
                                  <span (click)="View( 'deleteForever', '',i) " *ngIf="item?.isDelete==1 && item?.visible == 1 "><i class="fa fas fa-trash "></i>Delete Forever </span>
                                  <span (click)="View( 'shareAsset', '',i) " *ngIf="item?.isShare==1 && item?.visible == 1"><i class="fa fa-share-alt " ></i>Share With</span>
                                  <span (click)="View( 'moveAsset', '',i) " *ngIf="item?.isMove==1 && item?.visible == 1"><i class="fas fa-file-export "></i>Move To</span>
                              </ng-template>
                          </context-menu>
                      </div>
                  </div>

                  <div class="dam-content--files d-inline-block" (mouseleave)="closeFilectxt((i - folder?.length),filemenu2)" *ngIf="item.caFlag == 2">
                    <div class="file-section cursor-p p-2" [contextMenu]="fileMenu" [contextMenuSubject]="item" >
                      <div class="file position-relative" [ngClass]="{ 'disable': item.visible == 0 }">
                          <span class="expiry-date position-absolute" *ngIf="tabId==5">{{item.expiryDate}}</span>
                          <div class="file--img position-absolute" (click)="onlyEdit(item, (i - folder?.length))">
                              <i class={{item.formatIcon}}></i>
                          </div>
                          <div class="inner-file position-absolute d-flex align-items-center">
                              <span class="file--icon" *ngIf="item.visible == 0"><i class="fa fa-eye-slash"></i></span>
                              <span class="file--icon" *ngIf="!item.visible == 0"><i class={{item.formatIcon}}></i></span>
                              <span class="file--text" title={{item.assetName}}>{{ item.assetName }}</span>
                              <i class="fas fa-ellipsis-v folder--three-dot py-2 text-center" (mouseenter)="openfileCtxt((i - folder?.length),filemenu2)"></i>
                          </div>
                          <div class="custom-context context-file position-absolute" id="i" [hidden]="!(item.isMenu == 1)" #filemenu2>
                              <span (click)="View('Edit','isSpecial',(i - folder?.length),item)" *ngIf="item?.isView == 1"><i class="fa fas fa-info-circle"></i>View Details</span>
                              <span (click)="View('Edit','',(i - folder?.length),item)" *ngIf="item?.isEditable == 1"><i class="fa fas fa-folder"></i>Edit</span>
                              <span (click)="View('Enable','',(i - folder?.length),item)" *ngIf="item?.isVisibility == 1 && item?.visible == 0"><i class="fas fa-eye"></i>Enable</span>
                              <span (click)="View('Disable','',(i - folder?.length),item)" *ngIf="item?.isVisibility == 1 && item?.visible == 1"><i class="fas fa-eye-slash"></i>Disable</span>
                              <span (click)="View('Download','',(i - folder?.length),item);download(item?.assetRef,$event,item)" *ngIf="item.isDownload == 1"><i class="fas fa-download"></i>Download</span>
                              <span (click)="View('Version','',(i - folder?.length),item)" *ngIf="item?.isVersion == 1"><i class="fas fa-copy"></i>Version</span>
                              <span (click)="View('Restore','',(i - folder?.length),item)" *ngIf="item?.isRestore == 1"><i class="fa fa-undo"></i>Restore </span>
                              <span (click)="View('deleteForever','',(i - folder?.length),item)" *ngIf="item?.isDelete == 1"><i class="fa fas fa-trash"></i>Delete Forever </span>
                              <span (click)="View('shareAsset', '',(i - folder?.length),item)" *ngIf="item?.isShare == 1"><i class="fa fa-share-alt"></i>Share With</span>
                              <span (click)="View('moveAsset', '',(i - folder?.length),item)" *ngIf="item?.isMove == 1"><i class="fas fa-file-export"></i>Move To</span>
                              <span (click)="View('Delete','',(i - folder?.length),item)" *ngIf="item?.isRemove == 1"><i class="fa fas fa-trash"></i>Remove </span>
                              <span (click)="View('reviewAsset','',(i - folder?.length),item)" *ngIf="item?.isReview == 1"><i class="fa fas fa-retweet"></i>Review  </span>
                          </div>
                      </div>

                      <context-menu #fileMenu [menuClass]="'context-dropdown'" [disabled] = "item.isView == 0 && item.isEditable == 0 && item.isVisibility == 0 && item.isDownload == 0 && item.isVersion == 0
                      && item.isRestore == 0 && item.isDelete == 0 && item.isShare == 0 && item.isMove == 0 && item.isRemove == 0 && item.isReview == 0">
                          <ng-template contextMenuItem (execute)="contextFileItem($event,list)" >
                              <p class="m-0">
                                  <span (click)="View('Edit','isSpecial',(i - folder?.length),'notcall')" *ngIf="item?.isView == 1"><i class="fa fas fa-info-circle"></i>View Details</span>
                                  <span (click)="View('Edit','',(i - folder?.length),'notcall')" *ngIf="item?.isEditable == 1"><i class="fa fas fa-folder"></i>Edit</span>
                                  <span (click)="View('Enable','',(i - folder?.length),'notcall')" *ngIf="item?.isVisibility == 1 && item?.visible == 0"><i class="fas fa-eye"></i>Enable</span>
                                  <span (click)="View('Disable','',(i - folder?.length),'notcall')" *ngIf="item?.isVisibility == 1 && item?.visible == 1"><i class="fas fa-eye-slash"></i>Disable</span>
                                  <span (click)="View('Download','',(i - folder?.length),'notcall');download(item?.assetRef,$event,item)" *ngIf="item.isDownload == 1"><i class="fas fa-download"></i>Download</span>
                                  <span (click)="View('Version','',(i - folder?.length),'notcall')" *ngIf="item?.isVersion == 1"><i class="fas fa-copy"></i>Version</span>
                                  <span (click)="View('Restore','',(i - folder?.length),'notcall')" *ngIf="item?.isRestore == 1"><i class="fa fa-undo"></i>Restore </span>
                                  <span (click)="View('deleteForever','',(i - folder?.length),'notcall')" *ngIf="item?.isDelete == 1"><i class="fa fas fa-trash"></i>Delete Forever </span>
                                  <span (click)="View('shareAsset', '',(i - folder?.length),'notcall')" *ngIf="item?.isShare == 1"><i class="fa fa-share-alt"></i>Share With</span>
                                  <span (click)="View('moveAsset', '',(i - folder?.length),'notcall')" *ngIf="item?.isMove == 1"><i class="fas fa-file-export"></i>Move To</span>
                                  <span (click)="View('Delete','',(i - folder?.length),'notcall')" *ngIf="item?.isRemove == 1"><i class="fa fas fa-trash"></i>Remove </span>
                                  <span (click)="View('reviewAsset','',(i - folder?.length),'notcall')" *ngIf="item?.isReview == 1"><i class="fa fas fa-retweet"></i>Review  </span>
                              </p>
                          </ng-template>
                      </context-menu>
                  </div>
                  </div>
                  </ng-container>

                </cdk-virtual-scroll-viewport>

                <!-- {{files | json}} -->
                <!-- <div class="dam-content--files" *ngIf="files?.length>0">
                    <div class="file-section cursor-p p-2" *ngFor="let item of files;let i = index" [contextMenu]="fileMenu" [contextMenuSubject]="item" (mouseleave)="closeFilectxt(i)">
                        <div class="file position-relative" [ngClass]="{ 'disable': item.visible == 0 }">
                            <span class="expiry-date position-absolute" *ngIf="tabId==5">{{item.expiryDate}}</span>
                            <div class="file--img position-absolute" (click)="onlyEdit(item,i)">
                                <i class={{item.formatIcon}}></i>
                            </div>
                            <div class="inner-file position-absolute d-flex align-items-center">
                                <span class="file--icon" *ngIf="item.visible == 0"><i class="fa fa-eye-slash"></i></span>
                                <span class="file--icon" *ngIf="!item.visible == 0"><i class={{item.formatIcon}}></i></span>
                                <span class="file--text" title={{item.assetName}}>{{ item.assetName }}</span>
                                <i class="fas fa-ellipsis-v folder--three-dot py-2 text-center" (mouseenter)="openfileCtxt(i)"></i>
                            </div>
                            <div class="custom-context context-file position-absolute" *ngIf="item.isMenu == 1">
                                <span (click)="View('Edit','isSpecial',i,item)" *ngIf="item?.isView == 1"><i class="fa fas fa-info-circle"></i>View Details</span>
                                <span (click)="View('Edit','',i,item)" *ngIf="item?.isEditable == 1"><i class="fa fas fa-folder"></i>Edit</span>
                                <span (click)="View('Enable','',i,item)" *ngIf="item?.isVisibility == 1 && item?.visible == 0"><i class="fas fa-eye"></i>Enable</span>
                                <span (click)="View('Disable','',i,item)" *ngIf="item?.isVisibility == 1 && item?.visible == 1"><i class="fas fa-eye-slash"></i>Disable</span>
                                <span (click)="View('Download','',i,item);download(item?.assetRef,$event,item)" *ngIf="item.isDownload == 1"><i class="fas fa-download"></i>Download</span>
                                <span (click)="View('Version','',i,item)" *ngIf="item?.isVersion == 1"><i class="fas fa-copy"></i>Version</span>
                                <span (click)="View('Restore','',i,item)" *ngIf="item?.isRestore == 1"><i class="fa fa-undo"></i>Restore </span>
                                <span (click)="View('deleteForever','',i,item)" *ngIf="item?.isDelete == 1"><i class="fa fas fa-trash"></i>Delete Forever </span>
                                <span (click)="View('shareAsset', '',i,item)" *ngIf="item?.isShare == 1"><i class="fa fa-share-alt"></i>Share With</span>
                                <span (click)="View('moveAsset', '',i,item)" *ngIf="item?.isMove == 1"><i class="fas fa-file-export"></i>Move To</span>
                                <span (click)="View('Delete','',i,item)" *ngIf="item?.isRemove == 1"><i class="fa fas fa-trash"></i>Remove </span>
                                <span (click)="View('reviewAsset','',i,item)" *ngIf="item?.isReview == 1"><i class="fa fas fa-retweet"></i>Review  </span>
                            </div>
                        </div>

                        <context-menu #fileMenu [menuClass]="'context-dropdown'">
                            <ng-template contextMenuItem (execute)="contextFileItem($event,list)">
                                <p class="m-0">
                                    <span (click)="View('Edit','isSpecial',i,'notcall')" *ngIf="item?.isView == 1"><i class="fa fas fa-info-circle"></i>View Details</span>
                                    <span (click)="View('Edit','',i,'notcall')" *ngIf="item?.isEditable == 1"><i class="fa fas fa-folder"></i>Edit</span>
                                    <span (click)="View('Enable','',i,'notcall')" *ngIf="item?.isVisibility == 1 && item?.visible == 0"><i class="fas fa-eye"></i>Enable</span>
                                    <span (click)="View('Disable','',i,'notcall')" *ngIf="item?.isVisibility == 1 && item?.visible == 1"><i class="fas fa-eye-slash"></i>Disable</span>
                                    <span (click)="View('Download','',i,'notcall');download(item?.assetRef,$event,item)" *ngIf="item.isDownload == 1"><i class="fas fa-download"></i>Download</span>
                                    <span (click)="View('Version','',i,'notcall')" *ngIf="item?.isVersion == 1"><i class="fas fa-copy"></i>Version</span>
                                    <span (click)="View('Restore','',i,'notcall')" *ngIf="item?.isRestore == 1"><i class="fa fa-undo"></i>Restore </span>
                                    <span (click)="View('deleteForever','',i,'notcall')" *ngIf="item?.isDelete == 1"><i class="fa fas fa-trash"></i>Delete Forever </span>
                                    <span (click)="View('shareAsset', '',i,'notcall')" *ngIf="item?.isShare == 1"><i class="fa fa-share-alt"></i>Share With</span>
                                    <span (click)="View('moveAsset', '',i,'notcall')" *ngIf="item?.isMove == 1"><i class="fas fa-file-export"></i>Move To</span>
                                    <span (click)="View('Delete','',i,'notcall')" *ngIf="item?.isRemove == 1"><i class="fa fas fa-trash"></i>Remove </span>
                                    <span (click)="View('reviewAsset','',i,'notcall')" *ngIf="item?.isReview == 1"><i class="fa fas fa-retweet"></i>Review  </span>
                                </p>
                            </ng-template>
                        </context-menu>
                    </div>
                </div> -->

                <!-- <cdk-virtual-scroll-viewport itemSize="30"  *ngIf="files?.length>0" style="height: 300px;">
                  <div class="dam-content--files">
                    <div class="file-section cursor-p p-2" *cdkVirtualFor="let item of files;let i = index" [contextMenu]="fileMenu" [contextMenuSubject]="item" (mouseleave)="closeFilectxt(i)">
                      <div class="file position-relative" [ngClass]="{ 'disable': item.visible == 0 }">
                          <span class="expiry-date position-absolute" *ngIf="tabId==5">{{item.expiryDate}}</span>
                          <div class="file--img position-absolute" (click)="onlyEdit(item,i)">
                              <i class={{item.formatIcon}}></i>
                          </div>
                          <div class="inner-file position-absolute d-flex align-items-center">
                              <span class="file--icon" *ngIf="item.visible == 0"><i class="fa fa-eye-slash"></i></span>
                              <span class="file--icon" *ngIf="!item.visible == 0"><i class={{item.formatIcon}}></i></span>
                              <span class="file--text" title={{item.assetName}}>{{ item.assetName }}</span>
                              <i class="fas fa-ellipsis-v folder--three-dot py-2 text-center" (mouseenter)="openfileCtxt(i)"></i>
                          </div>
                          <div class="custom-context context-file position-absolute" *ngIf="item.isMenu == 1">
                              <span (click)="View('Edit','isSpecial',i,item)" *ngIf="item?.isView == 1"><i class="fa fas fa-info-circle"></i>View Details</span>
                              <span (click)="View('Edit','',i,item)" *ngIf="item?.isEditable == 1"><i class="fa fas fa-folder"></i>Edit</span>
                              <span (click)="View('Enable','',i,item)" *ngIf="item?.isVisibility == 1 && item?.visible == 0"><i class="fas fa-eye"></i>Enable</span>
                              <span (click)="View('Disable','',i,item)" *ngIf="item?.isVisibility == 1 && item?.visible == 1"><i class="fas fa-eye-slash"></i>Disable</span>
                              <span (click)="View('Download','',i,item);download(item?.assetRef,$event,item)" *ngIf="item.isDownload == 1"><i class="fas fa-download"></i>Download</span>
                              <span (click)="View('Version','',i,item)" *ngIf="item?.isVersion == 1"><i class="fas fa-copy"></i>Version</span>
                              <span (click)="View('Restore','',i,item)" *ngIf="item?.isRestore == 1"><i class="fa fa-undo"></i>Restore </span>
                              <span (click)="View('deleteForever','',i,item)" *ngIf="item?.isDelete == 1"><i class="fa fas fa-trash"></i>Delete Forever </span>
                              <span (click)="View('shareAsset', '',i,item)" *ngIf="item?.isShare == 1"><i class="fa fa-share-alt"></i>Share With</span>
                              <span (click)="View('moveAsset', '',i,item)" *ngIf="item?.isMove == 1"><i class="fas fa-file-export"></i>Move To</span>
                              <span (click)="View('Delete','',i,item)" *ngIf="item?.isRemove == 1"><i class="fa fas fa-trash"></i>Remove </span>
                              <span (click)="View('reviewAsset','',i,item)" *ngIf="item?.isReview == 1"><i class="fa fas fa-retweet"></i>Review  </span>
                          </div>
                      </div>

                      <context-menu #fileMenu [menuClass]="'context-dropdown'">
                          <ng-template contextMenuItem (execute)="contextFileItem($event,list)">
                              <p class="m-0">
                                  <span (click)="View('Edit','isSpecial',i,'notcall')" *ngIf="item?.isView == 1"><i class="fa fas fa-info-circle"></i>View Details</span>
                                  <span (click)="View('Edit','',i,'notcall')" *ngIf="item?.isEditable == 1"><i class="fa fas fa-folder"></i>Edit</span>
                                  <span (click)="View('Enable','',i,'notcall')" *ngIf="item?.isVisibility == 1 && item?.visible == 0"><i class="fas fa-eye"></i>Enable</span>
                                  <span (click)="View('Disable','',i,'notcall')" *ngIf="item?.isVisibility == 1 && item?.visible == 1"><i class="fas fa-eye-slash"></i>Disable</span>
                                  <span (click)="View('Download','',i,'notcall');download(item?.assetRef,$event,item)" *ngIf="item.isDownload == 1"><i class="fas fa-download"></i>Download</span>
                                  <span (click)="View('Version','',i,'notcall')" *ngIf="item?.isVersion == 1"><i class="fas fa-copy"></i>Version</span>
                                  <span (click)="View('Restore','',i,'notcall')" *ngIf="item?.isRestore == 1"><i class="fa fa-undo"></i>Restore </span>
                                  <span (click)="View('deleteForever','',i,'notcall')" *ngIf="item?.isDelete == 1"><i class="fa fas fa-trash"></i>Delete Forever </span>
                                  <span (click)="View('shareAsset', '',i,'notcall')" *ngIf="item?.isShare == 1"><i class="fa fa-share-alt"></i>Share With</span>
                                  <span (click)="View('moveAsset', '',i,'notcall')" *ngIf="item?.isMove == 1"><i class="fas fa-file-export"></i>Move To</span>
                                  <span (click)="View('Delete','',i,'notcall')" *ngIf="item?.isRemove == 1"><i class="fa fas fa-trash"></i>Remove </span>
                                  <span (click)="View('reviewAsset','',i,'notcall')" *ngIf="item?.isReview == 1"><i class="fa fas fa-retweet"></i>Review  </span>
                              </p>
                          </ng-template>
                      </context-menu>
                  </div>
                  </div>

                </cdk-virtual-scroll-viewport> -->
            </ng-container>
            <!-- <ng-container *ngIf="showContentBoxSpinner">
                <div class="content_spinner">
                    <div class="lds-ring">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>

            </ng-container> -->
            <!-- <ng-container *ngIf="(folder?.length==0&&files?.length==0)&&(!showContentBoxSpinner&&!showSpinner)"> -->
            <ng-container *ngIf="nodata">
                <ngx-no-data [config]="noDataVal"></ngx-no-data>
            </ng-container>
        </div>

        <div class="view-section d-none" [ngClass]="{ 'd-block': view }">
            <div class="top-section position-sticky" #parent>
                <div class="icon-folder position-relative">
                    <span class="icon-folder--icon d-inline-block" *ngIf="!icon ">
                    <i class="fa fa-folder"></i>
                </span>
                    <span class="icon-folder--icon d-inline-block" *ngIf="icon">
                    <i class={{icon}}></i>
                </span>
                    <span class="icon-folder--name d-inline-block " title="{{name}}">
                    <!-- {{name?name:'Folder name & file name'  }} -->
                    <ng-container *ngIf="name">
                        {{name | truncate : 25 : "..."   }}
                    </ng-container>
                    <ng-container *ngIf="!name">

                    </ng-container>
                </span>
                    <div class="icon-folder--close position-absolute text-center cursor-p" *ngIf="!showSave || !showFile" [ngClass]="{'back-icon': showSave || showFile || vieweFileFolderField }" (click)="closeDetail()">
                        <!-- <span class="cursor-p" *ngIf="showSave || showFile" title="Close"><i class="fas fa-chevron-right"></i></span> -->
                        <span class="cursor-p" title="Close">
                        <i class="fas fa-chevron-right"></i>
                        <!-- <svg class="a-qd-va undefined" x="0px" y="0px" width="14px" height="14px" viewBox="0 0 10 10"
                            focusable="false" fill="#5f6368">
                            <polygon class="a-s-fa-Ha-pa"
                                points="10,1.01 8.99,0 5,3.99 1.01,0 0,1.01 3.99,5 0,8.99 1.01,10 5,6.01 8.99,10 10,8.99 6.01,5 ">
                            </polygon>
                        </svg> -->
                    </span>
                    </div>
                    <span class="icon-folder--close position-absolute text-center cursor-p" title="Save Changes" *ngIf="showSave">
                    <i class="fa fa-check" (click)="submit(categoryForm)"></i>
                </span>
                    <span class="icon-folder--close position-absolute text-center cursor-p" title="Save Changes" *ngIf="(showFile && dummy !== 'Version') && !special ">
                    <i class="fa fa-check" (click)="onSubmit(addEditAssetForm, assetFo)"></i>
                </span>
                    <span class="icon-folder--close position-absolute text-center cursor-p" title="Save Changes" *ngIf="showFile && dummy === 'Version'">
                    <i class="fa fa-check" (click)="insertAssetVersion(addEditAssetForm)"></i>
                </span>
                    <span class="icon-folder--close position-absolute text-center cursor-p" title="Save Changes" *ngIf="vieweFileFolderField">
                    <i class="fa fa-check" (click)="uploadFileFolder()"></i>
                </span>
                </div>
                <!-- tabs section -->
                <div class="tabs" *ngIf="showFile">
                    <div class="inner-tabs px-2 d-flex justify-content-around">
                        <ng-container *ngFor="let item of detailsTab">
                            <div class="tab text-center position-relative" [ngClass]="{ 'activeTab': item?.id === activeTab?.id }" (click)="tabActive(item)" [hidden]="item.id === 1 && dummy === 'Version' || dummy === 'addFile'">
                                {{ item.name }}
                                <span class="position-absolute"></span>
                            </div>
                        </ng-container>

                    </div>
                </div>
            </div>

            <div class="view-folder" [style.height]="calc" [style.top]="top" *ngIf="showFile||fileFolder">
                <!-- ṃessage section -->
                <!-- <div class="message text-center  p-4">
                <label class="d-block">
                    <i class="far fa-folder fa-5x"></i>
                </label>
                <label>Select a file or folder to view its details</label>
            </div> -->
                <div class="view-edit">
                    <!-- folder section -->
                    <form #categoryFormValidation="ngForm" class="px-3">
                        <div class="folder-file" *ngIf="fileFolder">
                            <div class="preview-section">
                                <div class="image-section">
                                    <img [src]="categoryForm.categoryPicRef?categoryForm.categoryPicRef:'assets/images/category.jpg'" alt="folder image">
                                </div>
                            </div>
                            <div class="action-btn pb-3 mb-2 text-center" *ngIf = "showSave">
                                <button class="commonBtn cursor-p" (click)="deleteAssetCatImage()">
                                <i class="far fa-trash-alt" ></i>Delete
                            </button>
                                <label class="commonBtn cursor-p">
                                <input type='file' id="imageUploadBadge"#foderImage accept=".png, .jpg, .jpeg"
                                (click)="foderImage.value = null"  (change)="readAssetCatImage($event)" style="display: none" />
                                <label for="imageUploadBadge" class="m-0 font-weight-normal">
                                    <i class="far fa-image pr-2"></i>Browse
                                </label>
                                </label>
                            </div>
                            <div class="add-edit">
                                <div class="form-group mb-1">
                                    <label class="side-form-label">Folder Name <sup>&#x2731;</sup>
                                    <!-- <app-info-tooltip [description]="infoDescri"></app-info-tooltip> -->
                                </label>
                                    <input type="email" class="form-control commonInput" [ngClass]="{'invalid-form': valid}" [(ngModel)]="categoryForm.name" name="Name" #categoryName="ngModel" required min="2" maxlength="50" pattern=".{2,50}" placeholder="Enter Folder Name">
                                    <div *ngIf="categoryName.errors && (categoryName.dirty || categoryName.touched)" class="alert alert-danger custom-alert">
                                        <small class="invalid-msg" *ngIf="categoryName.errors.required">Folder name is
                                        required</small>
                                        <small class="invalid-msg" *ngIf="categoryName.hasError('pattern')">Minimum 2 characters and maximum 50 are
                                        required</small>
                                    </div>
                                </div>
                                <div class="form-group mb-2" *ngIf="defaultValFlag == 1">
                                    <label class="side-form-label">Author </label>
                                    <angular2-multiselect [data]="allEmployeeEdgeAuto" [(ngModel)]="categoryForm.selectedEmployee" #author="ngModel" name='author' [settings]="settingsEmployeeDrop" (onSelect)="onEmployeeSelect($event)" (onDeSelect)="OnEmployeeDeSelect($event)">
                                        <c-item>
                                            <ng-template let-item="item">
                                                <label style="color: #333; width: 100px;">{{item.code}}</label>
                                                <label style="color: #333; width: 100px;">{{ item.name }}</label>
                                            </ng-template>
                                        </c-item>
                                    </angular2-multiselect>
                                </div>
                                <!-- <div class="form-group">
                                <label class="side-form-label">Description </label>
                                <textarea class="form-control commonInput" placeholder="Enter Description" rows="3"
                                    [(ngModel)]="categoryForm.desc" name="desc" #desc="ngModel"
                                    placeholder="Max 500 characters."></textarea>
                            </div> -->

                                <div class="form-group">
                                    <!-- <label class="side-form-label">Description </label>
                                    <textarea class="form-control commonInput" placeholder="Enter Description" rows="3"
                                        [(ngModel)]="categoryForm.desc" name="desc" #desc="ngModel"
                                        placeholder="Max 500 characters."></textarea> -->
                                    <label class="side-form-label">Description </label>
                                    <jodit-editor [config]="config" name="desc" [(ngModel)]="categoryForm.desc" #desc="ngModel" [minlength]="minDesc">
                                    </jodit-editor>
                                    <div *ngIf="desc.errors && (desc.dirty || desc.touched)" class="invalid-msg">
                                        <small [hidden]="!desc.hasError('minlength')">Minimum 20 characters required.</small>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </form>
                    <!-- file section -->
                    <div class="asset-file" *ngIf="showFile">
                        <ng-container *ngIf="activeTab?.id == 0">
                            <div class="preview-section px-3">
                                <ng-container *ngIf="(addEditAssetForm.preViewUrl !='' && addEditAssetForm.preViewUrl != null) && selectedAssetFormatData?.previewEnable == 1">
                                    <div class="image-section" *ngIf="addEditAssetForm?.format == 7">
                                        <img [src]="addEditAssetForm.preViewUrl" alt="folder image">
                                    </div>

                                    <div class="video-section" *ngIf="addEditAssetForm.format == 1">
                                        <video controls [src]="addEditAssetForm.preViewUrl"></video>
                                    </div>

                                    <div class="" *ngIf="addEditAssetForm.format == 3">
                                        <ng-container *ngIf="isLocalfile">
                                            <iframe [src]="addEditAssetForm.preViewUrl" style="
                            width: 100%;
                            height: 200px;
                          " fullscreen></iframe>
                                        </ng-container>
                                        <ng-container *ngIf="!isLocalfile">
                                            <iframe [src]="pdfReference" *ngIf="pdfReference" style="
                            width: 100%;
                            height: 200px;
                          " fullscreen></iframe>
                                        </ng-container>
                                    </div>
                                    <div class="" *ngIf="addEditAssetForm?.format == 2">
                                        <audio style="width: 100%;" controls>
                                        <source [src]="addEditAssetForm.preViewUrl" />
                                        Your browser does not support
                                        HTML5 video.
                                    </audio>
                                    </div>

                                </ng-container>
                                <div class="video-section" *ngIf="selectedAssetFormatData?.previewEnable == 0 && (addEditAssetForm.preViewUrl !='' && addEditAssetForm.preViewUrl != null)">
                                    <label class="w-100 m-0">
                                        <div
                                            class="choose position-relative d-flex align-items-center justify-content-center">
                                            File Preview not Available
                                        </div>
                                    </label>
                                </div>
                                <input type='file' *ngIf="selectedAssetFormatData?.pickerType == 1" #fileInput (click)="fileInput.value = null" id="fileid" (change)="readFileUrl($event)" style="display: none" />
                                <label class="w-100 m-0" [class.disabled-contenct]="special" for="fileid" *ngIf="selectedAssetFormatData?.pickerType == 1 && !showBrowse">
                                <div class="choose position-relative d-flex align-items-center justify-content-center">
                                    {{fileName |truncate: 30 : "..." }}
                                </div>
                            </label>
                            </div>
                            <div class="action-btn pb-3 mb-2 text-center" [class.disabled-contenct]="special" *ngIf="selectedAssetFormatData?.pickerType == 1 && showBrowse && !isEditFlag">
                                <label class="commonBtn font-weight-normal cursor-p" for="fileid">Browse</label>
                            </div>

                            <div class="add-edit px-3">
                                <form #assetFo="ngForm">
                                    <div class="form-group mb-2">
                                        <label class="side-form-label" for="name">Name <sup>&#x2731;</sup>
                                        <!-- <app-info-tooltip [description]="infoDescri"></app-info-tooltip> -->
                                    </label>
                                        <input id="name" type="text" class="form-control commonInput" [ngClass]="{'invalid-form': valid}" pattern=".{2,50}" min="2" maxlength="50" placeholder="Enter File Name" [disabled]="dummy === 'Version' || special" [(ngModel)]="addEditAssetForm.assetName"
                                            #name="ngModel" name='assetName' required>
                                        <!-- <small class="invalid-msg" *ngIf="valid">Lorem Ipsum is simply dummy text</small> -->
                                        <div *ngIf="name.errors &&(name.dirty || name.touched)" class="alert alert-danger custom-alert">
                                            <small *ngIf="name.errors?.required">Name is required</small>
                                            <small class="invalid-msg" *ngIf="name.hasError('pattern')">Minimum 2 characters and maximum 50 characters
                                                required</small>
                                        </div>
                                    </div>
                                    <div class="form-group mb-2 ">
                                        <label class="side-form-label" for="foldername">Folder Name <sup>&#x2731;</sup>
                                    </label>
                                        <input id="foldername" type="text" class="form-control commonInput" [ngClass]="{'invalid-form': valid}" placeholder="Enter Folder Name" [disabled]="dummy === 'Version' || special" #fname="ngModel" [(ngModel)]="categoryName" name='folder' disabled>
                                        <small class="invalid-msg" *ngIf="valid">Lorem Ipsum is simply dummy
                                        text</small>
                                    </div>
                                    <div class="form-group mb-2">
                                        <label class="side-form-label">Format Name <sup>&#x2731;</sup></label>
                                        <select class="custom-select commonInput" [disabled]="dummy === 'Version' || special || dummy==='Edit'" (change)="onFormatChange($event)" [(ngModel)]="addEditAssetForm.format" #format="ngModel" name='assetfname'>
                                        <option value="" disabled>Select Format</option>
                                        <option *ngFor="let format of formats" value="{{ format.formatId }}">
                                            {{ format?.formatName }}</option>
                                    </select>
                                    </div>
                                    <!-- addEditAssetForm?.format == 8 ||addEditAssetForm?.format == 4 ||addEditAssetForm?.format == 6 -->
                                    <div class="form-group mb-2" *ngIf="selectedAssetFormatData?.pickerType == 2">
                                        <label class="side-form-label">Enter Link <sup>&#x2731;</sup></label>
                                        <!-- dummy === 'Version' || -->
                                        <div class="d-flex">
                                          <input type="text" class="form-control commonInput" [ngClass]="{'invalid-form': link.invalid}" placeholder="Enter Link" [disabled]="special" [(ngModel)]="addEditAssetForm.assetRef" #link="ngModel" name='External' required>
                                          <button class="btn btn-primary copybtn border-0" [ngClass]="{'cursor-pointer': !(addEditAssetForm.assetRef == null || addEditAssetForm.assetRef == '')}" title="copy the link" type="submit" *ngIf="selectedAssetFormatData?.pickerType == 2" (click)="copytext(addEditAssetForm.assetRef)" [disabled]="addEditAssetForm.assetRef == null || addEditAssetForm.assetRef == '' ">
                                            <i class="fas fa-copy"></i>
                                          </button>
                                        </div>

                                        <div *ngIf="(link.dirty || link.touched)" class="alert alert-danger custom-alert">
                                            <div *ngIf="link.errors?.required">Link is required</div>
                                        </div>

                                    </div>
                                    <div class="form-group mb-2">
                                        <label class="side-form-label">Description </label>
                                        <textarea class="form-control commonInput" [disabled]="dummy === 'Version' || special" placeholder="Enter Description" rows="3" maxlength="500" [(ngModel)]="addEditAssetForm.description" #desc="ngModel" name='desc' pattern=".{20,500}"></textarea>
                                        <div *ngIf="desc.errors && (desc.dirty || desc.touched)" class="invalid-msg">
                                            <small [hidden]="!desc.hasError('pattern')">Minimum 20 and Maximum 500 characters required.</small>
                                        </div>
                                    </div>
                                    <div class="row mb-1">
                                        <div class="form-group mb-1 col-md-6">
                                            <label class="side-form-label">Channel<sup>&#x2731;</sup> </label>
                                            <select class="custom-select commonInput" [disabled]="dummy === 'Version' || special" [(ngModel)]="addEditAssetForm.channel" #channel="ngModel" name='channel' required>
                                            <option value="" disabled>Select Channel</option>
                                            <option *ngFor="let channel of channels" value="{{ channel.channelId }}">
                                                {{ channel?.channelName }}</option>
                                        </select>
                                            <div *ngIf="(channel.dirty || channel.touched)" class="alert alert-danger custom-alert">
                                                <div *ngIf="channel.errors?.required">Channel is required</div>
                                            </div>

                                        </div>
                                        <div class="form-group mb-1 col-md-6">
                                            <label class="side-form-label">Language<sup>&#x2731;</sup> </label>
                                            <select class="custom-select commonInput" [disabled]="dummy === 'Version' || special" [(ngModel)]="addEditAssetForm.language" #language="ngModel" name='language' required>
                                            <option value="" disabled>Select Language</option>
                                            <option *ngFor="let item of languages" value="{{ item.languageId }}">
                                                {{ item?.languageName }}</option>
                                        </select>
                                            <div *ngIf="(language.dirty || language.touched)" class="alert alert-danger custom-alert">
                                                <div *ngIf="language.errors?.required">Language is required</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-1">
                                        <!-- <div class="form-group mb-1 col-md-6">
                                        <label class="side-form-label">Folder Name <sup>&#x2731;</sup>
                                        </label>
                                        <input type="text" class="form-control commonInput"
                                            [ngClass]="{'invalid-form': valid}" placeholder="Enter Folder Name"
                                            [disabled]="dummy === 'Version'" #fname="ngModel" [(ngModel)]="categoryName"
                                            name='folder' disabled>
                                        <small class="invalid-msg" *ngIf="valid">Lorem Ipsum is simply dummy
                                            text</small>
                                    </div> -->
                                        <div class="form-group mb-1 col-md-12">
                                            <label class="side-form-label">Estimated Cost ( INR ) <sup>&#x2731;</sup>
                                        </label>
                                            <input type="text" class="form-control commonInput" [ngClass]="{'invalid-form': valid}" placeholder="Enter Estimated Cost" pattern="^[0-9]*$" maxlength="8" [disabled]="dummy === 'Version' || special" [(ngModel)]="addEditAssetForm.estimateCost" #cost="ngModel"
                                                name='cost' required>
                                            <div *ngIf="(cost.dirty || cost.touched)" class="alert alert-danger custom-alert">
                                                <div *ngIf="cost.errors?.required">Cost is required</div>
                                                <div *ngIf="cost.hasError('pattern')">Enter a valid cost of the asset</div>
                                            </div>
                                            <!-- <small class="invalid-msg" *ngIf="valid">Lorem Ipsum is simply dummy
                                            text</small> -->
                                        </div>
                                    </div>
                                    <div class="form-group mb-2" [class.disabled-contenct]="dummy === 'Version' || special">
                                        <label class="side-form-label">Author <sup>&#x2731;</sup></label>
                                        <angular2-multiselect [data]="allEmployeeEdgeAuto" [(ngModel)]="addEditAssetForm.selectedEmployee" #author="ngModel" name='author' [settings]="settingsEmployeeDrop" (onSelect)="onEmployeeSelect($event)" (onDeSelect)="OnEmployeeDeSelect($event)" required>
                                            <c-item>
                                                <ng-template let-item="item">
                                                    <label style="color: #333; width: 100px;">{{item.code}}</label>
                                                    <label style="color: #333; width: 100px;">{{ item.name }}</label>
                                                </ng-template>
                                            </c-item>
                                        </angular2-multiselect>
                                        <div *ngIf="(author.dirty || author.touched)" class="alert alert-danger custom-alert">
                                            <div *ngIf="author.errors?.required">Author is required</div>
                                        </div>
                                    </div>
                                    <!-- <div class="form-group mb-2" [class.disabled-contenct]="dummy === 'Version'">
                                    <label class="side-form-label">Custom tags <sup>&#x2731;</sup></label>
                                    <angular2-multiselect [data]="tagList" [(ngModel)]="selectedTags" #tags="ngModel"
                                        name='tags'  [settings]="settingsTagDrop" required>
                                        <c-item>
                                            <ng-template let-item="item">
                                                <label style="color: #333; width: 100px;">{{ item.name }}</label>
                                            </ng-template>
                                        </c-item>
                                    </angular2-multiselect>
                                    <div *ngIf= "(tags.dirty || tags.touched)"
                                    class="alert alert-danger custom-alert">
                                    <div *ngIf="tags.errors?.required">Tag is required</div>
                                  </div>
                                </div> -->
                                    <div class="form-group mb-2">
                                        <label class="side-form-label verticle-align-middle pr-2">Estimated time :</label>
                                        <timepicker [(ngModel)]="addEditAssetForm.time" [disabled]="dummy === special" [minuteStep]="1" [showMinutes]="true" [showSeconds]="true" #time="ngModel" name='time' [showMeridian]="false"></timepicker>
                                    </div>
                                    <div class="form-check d-flex pl-0 mb-2">
                                        <input class="form-check-input m-0 cursor-p" type="checkbox" [disabled]="dummy === 'Version' || dummy === 'Edit'" [checked]="isShowApprover" value="" id="defaultCheck1" name=app (click)="check($event)">
                                        <!-- <label class="form-check-label pl-4 side-form-label cursor-p" for="defaultCheck1"> -->
                                        <label class="pl-4 side-form-label cursor-p" for="defaultCheck1">
                                        Approval required?
                                    </label>
                                    </div>
                                    <div class="form-group mb-2" *ngIf="isShowApprover" [class.disabled-contenct]="dummy === 'Version' || special ||dummy === 'Edit'">
                                        <label class="side-form-label">Approver <sup>&#x2731;</sup></label>
                                        <angular2-multiselect [data]="allEmployeesAuto" (onSelect)="onEmployeeSelect($event)" (onDeSelect)="OnEmployeeDeSelect($event)" [(ngModel)]="selectedCreator" #approve="ngModel" name='approve' [ngModelOptions]="{standalone: true}" [settings]="settingsCreatorDrop">
                                            <c-item>
                                                <ng-template let-item="item">
                                                    <label style="color: #333; width: 100px;">{{item.id}}</label>
                                                    <label style="color: #333; width: 100px;">{{ item.name }}</label>
                                                </ng-template>
                                            </c-item>
                                        </angular2-multiselect>
                                    </div>

                                    <div class="form-group mb-2" [class.disabled-contenct]="dummy === 'Version' || special">
                                        <label class="side-form-label">Custom tags </label>
                                        <angular2-multiselect [data]="tagList" [(ngModel)]="selectedTags" #tags="ngModel" name='tags' [settings]="settingsTagDrop">
                                            <c-item>
                                                <ng-template let-item="item">
                                                    <label style="color: #333; width: 100px;">{{ item.name }}</label>
                                                </ng-template>
                                            </c-item>
                                        </angular2-multiselect>
                                        <!-- <div *ngIf="(tags.dirty || tags.touched)" class="alert alert-danger custom-alert">
                                            <div *ngIf="tags.errors?.required">Tag is required</div>
                                        </div> -->
                                    </div>
                                    <div class="form-group mb-2" *ngIf="dummy=='Version'">
                                        <label class="side-form-label">Comments<sup>&#x2731;</sup></label>
                                        <textarea class="form-control commonInput" placeholder="Enter Comments" rows="3" [(ngModel)]="addEditAssetForm.comment" #comment="ngModel" name='comment' pattern=".{20,500}" required></textarea>
                                        <div *ngIf="comment.errors && (comment.dirty || comment.touched)" class="invalid-msg">
                                            <small [hidden]="!comment.hasError('pattern')">Minimum 20 and Maximum 500 characters required.</small>
                                        </div>
                                    </div>
                                </form>

                            </div>

                        </ng-container>

                        <!-- link version -->
                        <div class="asset-version position-relative" *ngIf="(dummy === 'Edit' && activeTab?.id == 1) || dummy=== 'Download'">
                            <table class="w-100">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Created by</th>
                                        <th>Created on</th>
                                        <!-- <th>Link</th> -->
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of assetVersions">
                                        <td>{{item?.versionNumber}}</td>
                                        <td>{{ item?.uName }}</td>
                                        <td>{{ item?.timeCreated }}</td>
                                        <!-- <td class="text-center">
                                            <span class="copy-link cursor-p pr-3" (click)="copytext(item?.assetRef)">
                                            <i class="fa fa-copy cursor-p" title = {{item?.assetRef}}></i>
                                        </span>
                                        </td> -->
                                        <td class="position-relative text-center">
                                            <div class="allIcons text-right cursor-p">
                                                <i class="fas fa-ellipsis-v option cursor-p"></i>
                                                <div class="showlist text-left">
                                                    <label class="m-0 d-block cursor-p" *ngIf="item?.isDownload == 1">
                                                      <!-- View('Download',''); -->
                                                    <span (click)="download(item?.assetRef,$event,item)" ><i class="fas fa-download"></i>
                                                        <span>Download</span></span>
                                                </label>
                                                    <label class="m-0 d-block cursor-p" *ngIf="item?.isDelete == 1" (click)="deleteAssetVersion(item)">
                                                    <i class="fas fa-trash"></i>
                                                    <span>Delete</span>
                                                </label>
                                                    <label class="m-0 d-block cursor-p" *ngIf="item?.isPreview == 1" (click)="preview(item)">
                                                    <i class="fas fa-eye"></i>
                                                    <span>Preview</span>
                                                </label>
                                                    <label class="m-0 d-block cursor-p" *ngIf="item?.isCopy == 1" (click)="copytext(item?.assetRef)">
                                                    <i class="fa fa-copy"></i>
                                                    <span>Copy</span>
                                                </label>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="add-version text-center font-weight-bold position-sticky w-100 cursor-p" *ngIf="versionShow && versionShow == 1 && !special" (click)="addVersion()">
                                Add Version
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="view-folder mt-2" style="height: 78vh;" [style.top]="top" *ngIf="vieweFileFolderField">
                <div class="add-edit px-3">
                    <form #fileFolderForm="ngForm">
                        <div class="row mb-1">
                            <div class="form-group mb-1 col-md-6">
                                <label class="side-form-label">Channel<sup>&#x2731;</sup> </label>
                                <select class="custom-select commonInput" [(ngModel)]="fileFolderForm.channel" placeholder="Select Channel" #channel="ngModel" name='channel' required>
                            <option value="undefined" disabled selected>Select Channel</option>
                            <option *ngFor="let channel of channels" value="{{ channel.channelId }}">
                                {{ channel?.channelName }}</option>
                        </select>
                                <div *ngIf="(channel.dirty || channel.touched)" class="alert alert-danger custom-alert">
                                    <div *ngIf="channel.errors?.required">Channel is required</div>
                                </div>

                            </div>
                            <div class="form-group mb-1 col-md-6">
                                <label class="side-form-label">Language<sup>&#x2731;</sup> </label>
                                <select class="custom-select commonInput" [(ngModel)]="fileFolderForm.language" placeholder="Select Language" #language="ngModel" name='language' required>
                            <option value="undefined" disabled selected>Select Language</option>
                            <option *ngFor="let item of languages" value="{{ item.languageId }}">
                                {{ item?.languageName }}</option>
                        </select>
                                <div *ngIf="(language.dirty || language.touched)" class="alert alert-danger custom-alert">
                                    <div *ngIf="language.errors?.required">Language is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-1">
                            <div class="form-group mb-1 col-md-12">
                                <label class="side-form-label">Estimated Cost ( INR ) <sup>&#x2731;</sup>
                        </label>
                                <input type="text" class="form-control commonInput" [ngClass]="{'invalid-form': valid}" placeholder="Enter Estimated Cost" pattern="^[0-9]*$" maxlength="8" [(ngModel)]="fileFolderForm.estimateCost" #cost="ngModel" name='cost' required>
                                <div *ngIf="(cost.dirty || cost.touched)" class="alert alert-danger custom-alert">
                                    <div *ngIf="cost.errors?.required">Cost is required</div>
                                    <div *ngIf="cost.hasError('pattern')">Enter a valid cost of the asset</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group mb-2">
                            <label class="side-form-label">Author <sup>&#x2731;</sup></label>
                            <angular2-multiselect [data]="allEmployeeEdgeAuto" [(ngModel)]="fileFolderForm.selectedEmployee" #author="ngModel" name='author' [settings]="settingsEmployeeDrop" (onSelect)="onEmployeeSelect($event)" (onDeSelect)="OnEmployeeDeSelect($event)" required>
                                <c-item>
                                    <ng-template let-item="item">
                                        <label style="color: #333; width: 100px;">{{item.code}}</label>
                                        <label style="color: #333; width: 100px;">{{ item.name }}</label>
                                    </ng-template>
                                </c-item>
                            </angular2-multiselect>
                            <div *ngIf="(author.dirty || author.touched)" class="alert alert-danger custom-alert">
                                <div *ngIf="author.errors?.required">Author is required</div>
                            </div>
                        </div>
                        <div class="form-group mb-2">
                            <label class="side-form-label verticle-align-middle pr-2">Estimated time :</label>
                            <timepicker [(ngModel)]="fileFolderForm.time" [disabled]="dummy === 'Version' || special" [minuteStep]="1" [showMinutes]="true" [showSeconds]="true" #time="ngModel" name='time' [showMeridian]="false"></timepicker>
                        </div>
                        <div class="form-check d-flex pl-0 mb-2">
                            <input class="form-check-input m-0 cursor-p" type="checkbox" [checked]="isShowApprover" value="" id="defaultCheck1" name=app (click)="check($event)">
                            <label class="pl-4 side-form-label cursor-p" for="defaultCheck1">
                        Approval required?
                    </label>
                        </div>
                        <div class="form-group mb-2" *ngIf="isShowApprover">
                            <label class="side-form-label">Approver<sup>&#x2731;</sup> </label>
                            <angular2-multiselect [data]="allEmployeesAuto" (onSelect)="onEmployeeSelect($event)" (onDeSelect)="OnEmployeeDeSelect($event)" [(ngModel)]="selectedCreator" #approve="ngModel" name='approve' [ngModelOptions]="{standalone: true}" [settings]="settingsCreatorDrop"
                                [required]="isShowApprover">
                                <c-item>
                                    <ng-template let-item="item">
                                        <label style="color: #333; width: 100px;">{{item.id}}</label>
                                        <label style="color: #333; width: 100px;">{{ item.name }}</label>
                                    </ng-template>
                                </c-item>
                            </angular2-multiselect>
                            <div *ngIf="(tags.dirty || tags.touched) && isShowApprover" class="alert alert-danger custom-alert">
                                <div *ngIf="tags.errors?.required">Approver is required</div>
                            </div>
                        </div>

                        <div class="form-group mb-2" [class.disabled-contenct]="dummy === 'Version' || special">
                            <label class="side-form-label">Custom tags</label>
                            <angular2-multiselect [data]="tagList" [(ngModel)]="selectedTags" #tags="ngModel" name='tags' [settings]="settingsTagDrop">
                                <c-item>
                                    <ng-template let-item="item">
                                        <label style="color: #333; width: 100px;">{{ item.name }}</label>
                                    </ng-template>
                                </c-item>
                            </angular2-multiselect>
                            <!-- <div *ngIf="(tags.dirty || tags.touched)" class="alert alert-danger custom-alert">
                                <div *ngIf="tags.errors?.required">Tag is required</div>
                            </div> -->
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Disable pop up -->
    <ngx-modal-pop-up *ngIf="!disablePop" (closeBtn)="this.disablePop = false" [header]="false">
        <div class="disable-pop text-center">
            <!-- <i class="fa fa-file fa-4x"></i> -->
            <i class="fa fa-folder fa-4x"></i>
            <h5 class="py-3">Enable this item</h5>
            <div class="pop-btn text-center">
                <button class="commonBtn cursor-p">Yes</button>
                <button class="commonBtn cursor-p">No</button>
            </div>
        </div>
    </ngx-modal-pop-up>

    <!-- preview section -->
    <ngx-modal-pop-up [title]="" *ngIf="previewShow" [header]="false" (closeBtn)="clsosePreview()">
        <div class="preview-version">
            <ng-container *ngIf="selectedAssetFormatData?.previewEnable == 1">
                <video controls *ngIf="previewData?.formatId == 1" [src]="previewData?.assetRef"></video>
                <img *ngIf="previewData?.formatId == 7" [src]="previewData?.assetRef" alt="">
                <iframe *ngIf="previewData?.formatId == 3" [src]="pdfReference" frameborder="0"></iframe>
                <audio controls *ngIf="previewData?.formatId == 2">
          <source [src]="previewData.preViewUrl" />
          Your browser does not support
          HTML5 video.
      </audio>
            </ng-container>

            <ng-container *ngIf="selectedAssetFormatData?.previewEnable == 0">
                <p style="text-align: center;font-weight: bold;font-size: 20px;padding: 150px;"> Preview not available</p>
            </ng-container>
        </div>
    </ngx-modal-pop-up>

    <div class="deleteModalBackdrop" *ngIf="fileExistModal">
        <div class="deleteModal">
            <div class="modal-header deleteModalHeader">
                <p class="enableDisableModalHeaderP">Warning</p>
                <button class="close closeDeleteModalBtn" aria-label="Close" (click)="closeFileExistModal()">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>

            <div class="modal-body">
                <div>
                    <p class="enableDisableModalBodyP">{{dupFileError}}</p>
                </div>
            </div>

            <div class="modal-footer deleteModalFooter">
                <div class="">
                    <button type="button" class="constantbtn-button-blue-left" (click)="fileExistModalSubmit(1)">Yes</button>
                </div>
                <div class="">
                    <button type="button" class="constantbtn-button-blue-left" (click)="fileExistModalSubmit(2)">No</button>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="spinner_container" *ngIf="showSpinner">
        <div class="loader box-rotation"></div>
    </div> -->
    <ngx-modal-pop-up [title]="'Share'" *ngIf="showShareAsset" [header]="true" (closeBtn)="toggelShareAsset(false)">
        <ngx-share-asset-popup [asset]="clickedAssetData" [assetParentId]="parentCatId" [assetParentCatName]="parentCatName" (closePopup)="toggelShareAsset(false)"></ngx-share-asset-popup>

    </ngx-modal-pop-up>



    <ngx-sidebar-form *ngIf="showMoveAsset" (saveBtn)="moveFileFolder()" (closeBtn)="toggelMoveAssets(false);" (outside)="toggelMoveAssets(false);" [sidebarTitle]="'Move'" [buttonName]="'Move'" [buttonName1]="">

        <ngx-move-asset-popup [selectedItem]="moveToFolderData" [trees]="treeMoves" *ngIf="!noTressMoves" (sendEventToParent)="performActionOnData($event)"></ngx-move-asset-popup>

        <ngx-no-data [config]="noDataVal" *ngIf="noTressMoves"></ngx-no-data>
    </ngx-sidebar-form>
