$black-color: #000000b8;
$border: 1px solid #d1d1d1;
@mixin folder {
    border-radius: 4px;
    color: $black-color;
    background: #ffffff;
    letter-spacing: 0.1px;
    border: 0.88px solid #d1d1d1;
    &--icon {
        font-size: 20px;
        color: #5f6368;
        padding: 8px 12px;
    }
    &--text {
        font-size: 13px;
        font-weight: 500;
        overflow: hidden;
        user-select: none;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: calc(100% - 58px);
        -webkit-touch-callout: none;
        text-transform: capitalize;
    }
    &--three-dot {
        width: 20px;
        font-size: 12px;
    }
    .expiry-date {
        top: -9px;
        right: -0.5px;
        font-size: 9px;
        padding: 4px 5px;
        color: #f44336;
        background: #ffffff;
        border: 0.5px solid #d1d1d1;
        border-radius: 4px;
        border-bottom-right-radius: 0;
    }
}

@mixin image-video {
    img,
    video,
    iframe {
        width: 100%;
        height: 100%;
        border: 0.1px solid;
    }
}
@mixin box-scroll {
     ::-webkit-scrollbar {
        height: 16px;
        overflow: visible;
        width: 10px !important;
    }
     ::-webkit-scrollbar-button {
        height: 0;
        width: 0;
    }
     ::-webkit-scrollbar-corner {
        background: transparent;
    }
     ::-webkit-scrollbar-thumb {
        min-height: 28px;
        padding: 100px 0 0;
        border: solid #f1f3f5;
        background-clip: padding-box;
        border-width: 2px 1px 1px 2px;
        background: #b7babe !important;
        -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1), inset 0 -1px 0 rgba(0, 0, 0, .07);
        box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1), inset 0 -1px 0 rgba(0, 0, 0, .07);
    }
     ::-webkit-scrollbar-track {
        border-width: 0 0 0 4px;
        border: solid transparent;
        background-clip: padding-box;
        border: 0.5px solid #e6e6e6;
        background: #ebeef0b0 !important;
        &:hover {
            background: #5f6368 !important;
            background: #ffffff !important;
             ::-webkit-scrollbar-thumb {
                background: #999ca0 !important;
            }
        }
    }
}

:host/deep/ {
    .subHeader {
        border-bottom: $border;
        box-shadow: none !important;
    }
    timepicker>table {
        display: inline-block;
        vertical-align: middle;
        .bs-timepicker-field {
            width: 41px;
            font-size: 12px;
        }
    }
    .cdk-virtual-scroll-orientation-vertical .cdk-virtual-scroll-content-wrapper {
        contain: initial;
     }
     .border-0{
      border-radius: 0!important;
    }
    .cursor-pointer {
      cursor: pointer !important;
  }
}

@include box-scroll;
.d-grid {
    display: grid;
}

.label-name {
    margin: 0;
    padding: 10px;
    font-size: 13px;
    font-weight: 700;
    color: #5f6368;
}

.dam-section {
    grid-template-columns: 0.2fr 1fr;
    .dam-folders {
        flex: 1 1 237px;
        color: $black-color;
        background: #ffffff;
        // label {
        //   font-weight: 500;
        // }
        .storage {
            top: 107px;
            z-index: 1;
            position: sticky;
            background: #ffffff;
            border-bottom: $border;
            font-family: sans-serif;
            span {
                font-size: 12px;
            }
        }
        .tree-folder {
            top: 108px;
            position: sticky;
            overflow-y: auto;
            overflow-x: hidden;
            height: calc(100vh - 11.7rem);
            label {
                font-size: 14px;
                &:hover {
                    background: #ECEFF1;
                }
                .tree-title {
                    i {
                        width: 30px;
                        text-align: center;
                    }
                }
            }
            .active-tree {
                background: #e0e0e0;
            }
        }
    }
    .dam-content {
        overflow-y: auto;
        overflow-x: hidden;
        border-left: $border;
        height: calc(100vh - 7.9rem);
        &--folders {
          width: 25%;
            // display: grid;
            // grid-template-columns: repeat(auto-fit, minmax(25%, 242px));
            .folders-section {
                .folder {
                    @include folder;
                    .hover-content {
                        top: 41px;
                        z-index: 1;
                        width: 100%;
                        padding: 10px;
                        margin-top: 6px;
                        border-radius: 4px;
                        background: #ffffff;
                        border: 0.5px solid #d1d1d1;
                        box-shadow: 0px 4px 6px #0000004a;
                        h4 {
                            font-size: 14px;
                            font-weight: 600;
                        }
                        p {
                            font-size: 13px;
                            line-height: 1.5;
                        }
                    }
                    .window-top {
                        bottom: 45px;
                        top: inherit !important;
                        box-shadow: 0px -3px 6px #00000028 !important;
                    }
                }
                .disable {
                    // text-decoration: line-through;
                    background: rgba(105, 110, 115, 0.67);
                    color: #000000;
                }
            }
            .active-folder {
                background: #e1ebf4;
            }
        }
        &--files {
          width: 25%;
            // display: grid;
            // grid-template-columns: repeat(auto-fit, minmax(25%, 25%));
            .file-section {
                .file {
                    @include folder;
                    min-height: 200px;
                    &--img {
                        left: 50%;
                        top: 42%;
                        font-size: 60px;
                        transform: translate(-50%, -50%);
                    }
                    .inner-file {
                        bottom: 0;
                        width: 100%;
                    }
                }
                .disable {
                    background: rgba(105, 110, 115, 0.67);
                    // .inner-file {
                    //     text-decoration: line-through;
                    // }
                }
            }
        }
    }
    .virtual_scroll_height{
      height: calc(100vh - 8.9rem);
    }
    .view-section {
        top: 0;
        flex: 1 1 390px;
        width: 25%;
        position: sticky;
        background: #ffffff;
        border-left: $border;
        .top-section {
            top: 107px;
            z-index: 1;
            border-bottom: $border;
            background: #ffffff;
            .icon-folder {
                padding: 12px;
                &--icon {
                    color: #5f6368;
                    font-size: 18px;
                    margin-right: 12px;
                }
                &--name {
                    font-size: 18px;
                    line-height: 1.2;
                    color: #202124;
                    vertical-align: top;
                    width: calc(100% - 65px);
                    text-transform: capitalize;
                }
                &--close {
                    top: 10px;
                    right: 10px;
                    width: 24px;
                    opacity: 0.7;
                    font-size: 18px;
                    color: #606469;
                    // .fa-check {
                    //   color: #4CAF50;
                    // }
                }
                .back-icon {
                    top: 0;
                    z-index: 1;
                    opacity: 1;
                    width: 29px;
                    left: -29px;
                    padding: 3px;
                    border: $border;
                    border-top: none;
                    background: #ffffff;
                    border-bottom-left-radius: 4px;
                }
            }
            .tabs {
                .inner-tabs {
                    .tab {
                        width: 100%;
                        margin: 0 12px;
                        cursor: pointer;
                        font-size: 14px;
                        padding: 0 12px 12px;
                        color: $black-color;
                        span {
                            left: 0;
                            bottom: 0;
                            width: 100%;
                            height: 3px;
                            display: none;
                            border-width: 3px;
                            background: #f44336;
                        }
                    }
                }
            }
        }
        .view-folder {
            overflow-y: auto;
            overflow-x: hidden;
            .view-edit {
                .preview-section {
                    width: 100%;
                    margin: 12px auto;
                }
                .image-section {
                    height: 30vh;
                    @include image-video;
                    object-fit: contain;
                }
                .video-section {
                    @include image-video;
                }
                .choose {
                    height: 150px;
                    margin: 12px auto;
                    border: 1px dashed $black-color;
                    input {
                        opacity: 0;
                        width: 100%;
                        height: 100%;
                    }
                }
                .action-btn {
                    border-bottom: 0.5px solid #d1d1d1;
                    .commonBtn {
                        font-size: 11px;
                        margin-left: 4px;
                        margin-right: 4px;
                    }
                    button {
                        i {
                            padding-right: 4px;
                        }
                    }
                }
            }
            .asset-version {
                table {
                    font-size: 12px;
                    color: $black-color;
                    thead {
                        background: #e0e1e5;
                    }
                    th,
                    td {
                        padding: 8px;
                    }
                    tbody {
                        tr {
                            border-bottom: 0.5px solid #d1d1d1;
                        }
                    }
                }
                .copy-link {
                    &:hover {
                        opacity: 0.8;
                    }
                }
                .allIcons {
                    display: inline;
                    &:hover .showlist {
                        display: block;
                    }
                    .option {
                        width: 20px;
                        font-size: 11px;
                        padding: 4px 3px;
                        text-align: center;
                        border: $border;
                    }
                    .showlist {
                        right: 8px;
                        z-index: 1;
                        padding: 8px;
                        display: none;
                        min-width: 115px;
                        border-radius: 4px;
                        position: absolute;
                        background: #ffffff;
                        box-shadow: 0 3px 6px 0 rgba(140, 141, 143, 0.42);
                        label {
                            line-height: 2;
                            font-size: 12px;
                            color: $black-color;
                            a {
                                color: inherit !important;
                                &:hover {
                                    text-decoration: none;
                                }
                            }
                            i {
                                width: 25px;
                                font-size: 13px;
                                text-align: center;
                            }
                            &:hover {
                                border-radius: 3px;
                                background: #e7e9ea;
                            }
                        }
                    }
                }
                .add-version {
                    bottom: 0;
                    font-size: 13px;
                    color: #0c6b0f;
                    padding: 8px 12px;
                    border-top: $border;
                    background: #ffffff;
                    box-shadow: 0px 5px 10px #00000054;
                }
            }
            .message {
                color: #a3a3a3;
            }
        }
        .no-tabs {
            border-top: $border;
        }
    }
}

.activeTab {
    cursor: default !important;
    color: #f44336 !important;
    span {
        display: block !important;
    }
}

.view {
    .dam-content {
        flex: 1 1 50%;
        &--folders,
        &--files {
            grid-template-columns: 1fr 1fr;
        }
    }
}

.disable-pop {
    i {
        font-size: 70px;
        background: -webkit-linear-gradient(#a9a4a4, #171414);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .pop-btn {
        width: 65%;
        margin: auto;
        .commonBtn {
            width: 45%;
            transition: none;
            &:last-child {
                border: 0.5px solid #cac5c5;
                background: #ffffff;
                color: #020202;
            }
        }
    }
}

.preview-version {
    height: 60vh;
    @include image-video;
    img {
        max-width: 100%;
        max-height: 100%;
    }
    audio {
        max-width: 100%;
        max-height: 100%;
    }
    video {
        max-width: 100%;
        max-height: 100%;
    }
    iframe {
        max-width: 100%;
        max-height: 100%;
    }
}

.custom-context {
    top: 40px;
    z-index: 1;
    right: 16px;
    border-radius: 4px;
    background: #ffffff;
    border: .5px solid #e4e9f2;
    box-shadow: 0 3px 6px 0 rgba(140, 141, 143, 0.42);
    float: right;
    span {
      display: block;
      cursor: pointer;
      font-size: 14px;
      color: #5f6368;
      padding: 6px 12px;
      i {
        width: 24px;
      }
      &:hover {
        color: #232423;
        background: #dfdfde;
        text-decoration: none;
      }
    }
  }
.context-file {
    top: auto;
    bottom: 16px;
}

@import "../../../@theme/styles/loader.scss";
// Search Box Loader
.content_spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: var(--colorCommon) transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
