
	<div class="privacy_container">
		<div class="left_container">
				<p class="left_container__text">Privacy Policy</p>
		</div>
		<div class="right_container text-center">
			<div class="logo_container">
					<img src = "assets/images/BajajFinserv_Logo.png" class="companyLogo">
			</div>
	
			<div class="list_container">
		    
<ul>
	<li>The information, products, and services included in or available on bajajfinserv.in may include inaccuracies or typographical errors. Changes are periodically added to the information herein. bajajfinserv.in and/or its respective suppliers / affiliates may make improvements and/or changes on the bajajfinserv.in website at any time.</li>
</ul>

<div>&nbsp;</div>

<ul>
	<li>If you rely on this service or any material available through this service, you do so at your own risk. You understand and accept that there may be delays, omissions, interruptions, inaccuracies, and/or other problems with the information, products, and services published over this site. This service is provided to you &quot;as is.&quot; bajajfinserv.in and its affiliates, agents and licensors cannot and do not warrant the accuracy, completeness, non-infringement, merchantability or fitness for a particular purpose of the information available through the service (or any information, goods or services that are referred to, advertised on, or sold through this service). Nor do they guarantee that the service will be error free, or continuously available, or that the service will be free of viruses or other harmful components. Under no circumstances shall bajajfinserv.in or its affiliates, agents or licensors be liable to you or anyone else for any damages, including, without limitation, any liability for consequential, special, incidental, indirect, punitive, exemplary, or other damages of any kind (including lost revenues or profits, loss of business or loss of data) even if we are advised beforehand of the possibility of such damages. The material contained in this site and on associated web pages is general information and it is not intended to be advice on any particular matter. Subscribers and users should seek professional advice before acting on the basis of the information contained herein. The decision with respect to any financial product or opportunity or nature or suitability or choice or the viability of any product or service shall always be sole responsibility and decision of the subscriber and user.</li>
</ul>

<div>&nbsp;</div>

<ul>
	<li>The material contained in this site and on associated web pages is general information and it is not intended to be advice on any particular matter. Subscribers and users should seek professional advice before acting on the basis of the information contained herein. The decision with respect to any financial product or opportunity or nature or suitability or choice or the viability of any product or service shall always be sole responsibility and decision of the subscriber and user.</li>
</ul>

<div>&nbsp;</div>

<ul>
	<li>bajajfinserv.in and/or its respective suppliers, affiliates, associates, representatives make no representations about the suitability, reliability, availability, timeliness and accuracy of the information, products and services contained on the bajajfinserv.in site for any purpose. All such information, products offered, services offered etc. are provided on an &quot;as is where is&quot; basis without warranty of any kind. bajajfinserv.in and/or its respective suppliers, associates, affiliates hereby disclaim all warranties and conditions with regard to the information, products, services, including all implied warranties and conditions of merchantability, fitness for a particular purpose, title and non-infringement.</li>
</ul>

<div>&nbsp;</div>

<ul>
	<li>In no event shall bajajfinserv.in be liable for any direct, indirect, punitive, incidental, special, consequential damages or any damages whatsoever including without limitation, damages for loss of use arising out of or in any way connected with the use or performance of the bajajfinserv.in website, with the delay or inability to use the bajajfinserv.in website or related services, the provision or failure to provide services, or for any information, products, services and related graphics obtained through the bajajfinserv.in website, or otherwise arising out of the use of the bajajfinserv.in website, whether based on contract, tort, negligence, strict liability or otherwise, even if bajajfinserv.in or any of its suppliers / affiliates has been advised of the possibility of damages. If you are dissatisfied with any portion of the bajajfinserv.in website or with any of these terms of use, your sole and exclusive remedy is to discontinue using the bajajfinserv.in website.</li>
</ul>

<div>&nbsp;</div>

<ul>
	<li>bajajfinserv.in reserves the right to cancel any listing at any time for any reason, with or without cause/reason, and reserves the right to prohibit or restrict access to the Services to anyone at any time, with or without cause/reason. If you rely on this service or any material available through this service, you do at your own risk. You understand and accept that there may be delays, omissions, interruptions, inaccuracies and/or other problems with the information, products and services published on this site.</li>
</ul>

<div>&nbsp;</div>

<ul>
	<li>The material that appears on bajajfinservlending.in is for informational purposes only. Despite our efforts to provide useful and accurate information, errors may appear from time to time. Before purchasing goods or services you&#39;ve read about on bajajfinservlending.in, you should confirm with the company / dealer any information that is important to your decision of opting for services from the company. bajajfinserv.in is not responsible for typographical or photographic errors.</li>
</ul>

<div>&nbsp;</div>

<ul>
	<li>If you rely on this service or any material available through this service, you do at your own risk. You understand and accept that there may be delays, omissions, interruptions, inaccuracies and/or other problems with the information, products and services published on this site.</li>
</ul>

<div>&nbsp;</div>

<ul>
	<li>This service is provided to you &quot;as is&quot;. bajajfinserv.in and its affiliates, agents, licensors cannot and do not warrant the accuracy, completeness, correctness, non-infringement, merchantability or fitness for a particular purpose of the information available through the service (or any information, goods or services that are referred to, advertised on, or sold through this service). Nor do they guarantee that this information will be error free or continuously available, or that the service will be free of viruses or other harmful components.</li>
</ul>

<div>&nbsp;</div>

<ul>
	<li>bajajfinserv.in is not responsible for typographical or photographic errors.</li>
</ul>

<div>&nbsp;</div>

<ul>
	<li>You agree that any material, information, and ideas that you transmit to this site shall be and remain the property of bajajfinservlending.in.</li>
</ul>

<div>&nbsp;</div>

<ul>
	<li>All Transmissions shall be treated as non-confidential and non-proprietary and bajajfinserv.in shall be under no obligation of any kind with respect to such information and shall be free to reproduce, use, disclose, and distribute the Transmissions to others without limitation. Additionally, bajajfinserv.in shall be free to use any ideas, concepts, know-how, or techniques contained in such information for any purpose whatsoever including, but not limited to, developing or marketing services incorporating such information.</li>
	<li>bajajfinserv.in is not responsible for typographical or photographic errors.</li>
</ul>

<div>&nbsp;</div>

<ul>
	<li>You agree, and are hereby put on notice, that you are prohibited from posting or transmitting to or from this Site any unlawful, threatening, libelous, defamatory, inflammatory, pornographic, or profane material or any other material that could give rise to any civil or criminal liability under law. You are solely responsible for the content of any comments you make.</li>
</ul>

<div>&nbsp;</div>

<ul>
	<li>bajajfinserv.in may revise these terms of use by updating this posting. You agree that in the event any portion of these Site terms of use are found to be unenforceable, the remainder of these Site terms and conditions shall remain in full force and effect. By using this Site you agree to be bound by any such revisions and should therefore periodically visit this page to determine the then current terms of use to which you are bound.</li>
</ul>

<div>&nbsp;</div>

<ul>
	<li>bajajfinserv.in web site may collect information from web site visitors that is not personally-identifiable, including the visitor&#39;s operating system, browser, domain name, and the specific web pages on the bajajfinserv.in Web site that are accessed or visited. bajajfinserv.in only collects this information in the aggregate, and only uses it to improve bajajfinserv.in web site.</li>
</ul>

<div>&nbsp;</div>

<ul>
	<li>bajajfinserv.in informs web site visitors that when they visit bajajfinserv.in web site, bajajfinserv.in may store some information on the visitor&#39;s computer in the form of a &quot;cookie&quot; or similar file. These files allow bajajfinserv.in to tailor a Website to reflect a customer&#39;s listed or historical preferences. Most Web browsers allow Web users to exercise control over such files on their computers by erasing them, blocking them, or notifying the user when such a file is stored. bajajfinserv.in web site visitors are asked to refer to their browser&#39;s instructions to learn about those functions.</li>
</ul>

<div>&nbsp;</div>

<ul>
	<li>bajajfinserv.in is not responsible for any errors, omissions or representations on any of our pages or on any links on any of our pages. We do not endorse in anyway any advertisers on our web pages. Please verify the veracity of all information on your own before undertaking any reliance. The linked sites are not under our control and we are not responsible for the contents of any linked site or any link contained in a linked site, or any changes or updates to such sites. We are providing these links to you only as a convenience, and the inclusion of any link does not imply endorsement by us of the site.</li>
</ul>

<div>&nbsp;</div>

<ul>
	<li>We hereby expressly disclaim any implied warranties imputed by the laws of any jurisdiction. We consider ourselves and intend to be subject to the jurisdiction only of the courts of the Pune, Maharashtra in India. If you don&#39;t agree with any of our Disclaimers above please do not read the material on any of our pages. The bajajfinservlending.in website is offered to you conditioned on your acceptance without modification of the terms, conditions, and notices contained herein. Your use of bajajfinservlending.in constitutes your agreement to all such terms, conditions, and notices.</li>
</ul>

<div>&nbsp;</div>

<ul>
	<li>bajajfinserv.in reserves the right to change the terms, conditions, and notices under which the bajajfinserv.in Site is offered, including but not limited to the charges associated with the use of the bajajfinserv.in site. You are responsible for regularly reviewing these terms and conditions.</li>
</ul>

<div>&nbsp;</div>

<ul>
	<li>The bajajfinserv.in site may contain bulletin board services, chat areas, news groups, forums, communities, personal web pages, calendars, and/or other message or communication facilities designed to enable you to communicate with the public at large or with a group (collectively, &quot;Communication Services&quot;), you agree to use the Communication Services only to post, send and receive messages and material that are proper and related to the particular Communication Service. By way of example, and not as a limitation, you agree that when using a Communication Service, you will not:</li>
</ul>

<div>&nbsp;</div>

<ul>
	<li>Defame, abuse, harass, stalk, threaten or otherwise violate the legal rights (such as rights of privacy and publicity) of others.</li>
</ul>

<div>&nbsp;</div>

<ul>
	<li>Publish, post, upload, distribute or disseminate any inappropriate, profane, defamatory, infringing, obscene, indecent or unlawful topic, name, material or information.</li>
</ul>

<div>&nbsp;</div>

<ul>
	<li>Upload files that contain software or other material protected by intellectual property laws (or by rights of privacy of publicity) unless you own or control the rights thereto or have received all necessary consents.</li>
</ul>

<div>&nbsp;</div>

<ul>
	<li>Upload files that contain viruses, corrupted files, or any other similar software or programs that may damage the operation of another&#39;s computer.</li>
</ul>

<div>&nbsp;</div>

<ul>
	<li>Advertise or offer to sell or buy any goods or services for any business purpose, unless such Communication Service specifically allows such messages.</li>
</ul>

<div>&nbsp;</div>

<ul>
	<li>Conduct or forward surveys, contests, pyramid schemes or chain letters.</li>
</ul>

<div>&nbsp;</div>

<ul>
	<li>Download any file posted by another user of a Communication Service that you know, or reasonably should know, cannot be legally distributed in such manner.</li>
</ul>

<div>&nbsp;</div>

<ul>
	<li>Falsify or delete any author attributions, legal or other proper notices or proprietary designations or labels of the origin or source of software or other material contained in a file that is uploaded.</li>
</ul>

<div>&nbsp;</div>

<ul>
	<li>Restrict or inhibit any other user from using and enjoying the Communication Services.</li>
</ul>

<div>&nbsp;</div>

<ul>
	<li>Violate any code of conduct or other guidelines which may be applicable for any particular Communication Service.</li>
</ul>

<div>&nbsp;</div>

<ul>
	<li>Harvest or otherwise collect information about others, including e-mail addresses, without their consent.</li>
</ul>

<div>&nbsp;</div>

<ul>
	<li>Violate any applicable laws or regulations.</li>
</ul>

<div>&nbsp;</div>

<ul>
	<li>bajajfinserv.in has no obligation to monitor the Communication Services. However, bajajfinserv.in reserves the right to review materials posted to a Communication Service and to remove any materials in its sole discretion. bajajfinserv.in reserves the right to terminate your access to any or all of the Communication Services at any time without notice for any reason whatsoever.</li>
</ul>

<div>&nbsp;</div>

<ul>
	<li>bajajfinserv.in reserves the right at all times to disclose any information as necessary to satisfy any applicable law, regulation, legal process or governmental request, or to edit, refuse to post or to remove any information or materials, in whole or in part, in the sole discretion of bajajfinserv.in.</li>
</ul>

<div>&nbsp;</div>

<ul>
	<li>Always use caution when giving out any personally identifying information about yourself or your children in any Communication Service. bajajfinserv.in does not control or endorse the content, messages or information found in any Communication Service and, therefore, bajajfinserv.in specifically disclaims any liability with regard to the Communication Services and any actions resulting from your participation in any Communication Service.</li>
</ul>

<div>&nbsp;</div>

<ul>
	<li>Materials uploaded to a Communication Service may be subject to posted limitations on usage, reproduction and/or dissemination, you are responsible for adhering to such limitations if you download the materials.</li>
</ul>

<div>&nbsp;</div>

<ul>
	<li>No compensation will be paid with respect to the use of your submissions, as provided herein. bajajfinserv.in is under no obligation to post or use any Submission you may provide and may remove any Submission at any time in the sole discretion of bajajfinserv.in.</li>
</ul>

<div>&nbsp;</div>

<ul>
	<li>By posting, uploading, inputting, providing or submitting your Submission you warrant and represent that you own or otherwise control all of the rights to your Submission as described in this section including, without limitation, all the rights necessary for you to provide, post, upload, input or submit the Submissions.</li>
</ul>

<div>&nbsp;</div>

<ul>
	<li>Software (if any) that is made available to download from the bajajfinservlending.in site, excluding software that may be made available by end-users through a Communication Service, (&quot;Software&quot;) is the end work of the software provider. Your use of the Software is governed by the terms of the end user license agreement, if any, which accompanies or is included with the Software (&quot;License Agreement&quot;). You may not install or use any Software that is accompanied by or includes a License Agreement unless you first agree to the License Agreement terms.</li>
</ul>

<div>&nbsp;</div>

<ul>
	<li>bajajfinserv.in reserves the right, in its sole discretion, to terminate your access to any or all of the bajajfinserv.in web site and the related services or any portion thereof at any time, without notice</li>
</ul>

<div>&nbsp;</div>

<ul>
	<li>This agreement is governed by the laws of the Union of India. You hereby consent to the exclusive jurisdiction and venue of courts in Mumbai, Mahrashtra, India, in all disputes arising out of or relating to the use of bajajfinservlending.in. Use of bajajfinservlending.in is unauthorized in any jurisdiction that does not give effect to all provisions of these terms and conditions, including without limitation this paragraph.</li>
</ul>

<div>&nbsp;</div>

<div>&nbsp;</div>

<ul>
	<li>You agree that no joint venture, partnership, employment, or agency relationship exists between you and bajajfinservlending.in as a result of this agreement or use of the bajajfinservlending.in site. Performance of this agreement by bajajfinservlending.in is subject to existing laws and legal process, and nothing contained in this agreement is in derogation of the rights of bajajfinservlending.in to comply with governmental, court and law enforcement requests or requirements relating to your use of bajajfinservlending.in or information provided to or gathered by bajajfinservlending.in with respect to such use.</li>
</ul>

<div>&nbsp;</div>

<ul>
	<li>Unless otherwise specified herein, this agreement constitutes the entire agreement between the user and bajajfinservlending.in with respect to the bajajfinservlending.in Site and it supersedes all prior or contemporaneous communications and proposals, whether electronic, oral or written, between the user and bajajfinservlending.in with respect to the bajajfinservlending.in site. A printed version of this agreement and of any notice given in electronic form shall be admissible in judicial or administrative proceedings based upon or relating to this agreement to the same extent and subject to the same conditions as other business documents and records originally generated and maintained in printed form.</li>
</ul>

<div>&nbsp;</div>

<ul>
	<li>bajajfinserv.in does not guarantee, warrant or endorse any product or service sold by a manufacturer or dealer, nor do we have any liability or responsibility for the quality or performance of any product or service sold to you by any manufacturer or dealer since Bajaj Finance is only acting as a financier and any question or dispute you may have regarding any such product or service should be addressed directly to the concerned manufacturer or dealer.</li>
</ul>

<div>&nbsp;</div>

<ul>
	<li>bajajfinserv.in cannot screen, censor or otherwise control the listings or any transactions, including whether a listing is accurately described, whether an item can be legally purchased or sold in your jurisdiction, or whether a transaction will be completed as described by the seller or the buyer. Further, bajajfinserv.in cannot control or warrant the behavior of the users of the Services. As such, your use of this section is at your own risk, and bajajfinserv.in disclaims any liability with regard to use of the Services and any actions resulting from your or any other party&#39;s participation in the Services.</li>
</ul>

<div>&nbsp;</div>

<ul>
	<li>You hereby agree to release bajajfinserv.in, its suppliers, service partners, agents, employees, consultants, officers and directors from all claims, demands and damages, whether actual or consequential, of every kind, whether known or unknown, disclosed or undisclosed, arising out of or relating to any and all listings, transactions, or any other use of bajajfinserv.in web site.</li>
</ul>

<div>&nbsp;</div>

<ul>
	<li>The Company is not responsible for any pornographic material, restricted secrets or controlled content or material in any form, which may be uploaded by Registered Users/third parties onto the Web site. All submissions of this nature are unauthorized by the Company and it shall use its best efforts to remove any such submission as soon as it is notified of the same. bajajfinserv.in is not responsible for and will not be liable for, any conduct, failure to act, product or services of bajajfinserv.in affiliated web sites, including, without limitation, the manner and timing of opportunities to accumulate or use bajajfinserv.in and any malfunction, breach of warranty or injury or damage suffered as a result of the products or services offered by any bajajfinserv.in affiliated website</li>
</ul>

<div>&nbsp;</div>

<ul>
	<li>The bajajfinserv.in web site may contain links to other Web Sites. The Linked Sites are not under the control of bajajfinserv.in and bajajfinserv.in is not responsible for the contents of any Linked Site, including without limitation any link contained in a Linked Site, or any changes or updates to a Linked Site. bajajfinserv.in is providing these links to you only as a convenience, and the inclusion of any link does not imply endorsement by bajajfinserv.in of the site or any association with its operators.</li>
</ul>

<div>&nbsp;</div>

<ul>
	<li>bajajfinserv.in does not warrant that any web site that it administers within the scope of the bajajfinserv.in programme or any linked web site is free from viruses or other destructive materials, and the website and its affiliates shall not be liable for any damage caused to the Registered User&#39;s hardware or software as a result of the Registered User&#39;s participation in the bajajfinserv.in programme. bajajfinserv.in does not warrant that Registered User will be able to access any web sites administered by bajajfinserv.in and the bajajfinserv.in will not be liable for any damages suffered by the Registered User as a result of not being able to access such web sites.</li>
</ul>

<div>&nbsp;</div>

<ul>
	<li>[Bajaj Finserv app] app may collect information with your consent from your mobile device like device location, device information (including storage, model, installed apps, Wi-Fi, mobile network) transactional and promotional SMS, communication information including contacts to provide customized offerings.</li>
</ul>

<div>&nbsp;</div>

<ul>
	<li>By clicking on &#39;APPLY NOW&#39; or &#39;REQUEST A CALL-BACK&#39;, you agree &amp; authorize Bajaj Finance Limited or its representatives to call you or contact you via various communication modes to assist you in completing the application process. This consent will override your DNC / NDNC registration, if any.</li>
</ul>

<div>&nbsp;</div>

<ul>
	<li><strong>PLCS Charges </strong></li>
</ul>

<div class="table-responsive">
<table class="table table-bordered">
	<tbody>
		<tr>
			<td width="25%;">Full pre-payment (Foreclosure) Charges</td>
			<td width="25%;">Foreclosure can be processed post clearance of first EMI<br />
			<strong>4% plus applicable taxes</strong> on Principal Outstanding</td>
			<td width="25%;">Statement Of Account/ Repayment Schedule/ Foreclosure Letter charge</td>
			<td width="25%;">Download your e-statements at no extra cost by logging into Customer Portal &ndash; Experia.<br />
			<br />
			You can get a physical copy of your e-statements from any of our branches at a charge of <strong>Rs. 250/- (inclusive of taxes)</strong> per statement per account</td>
		</tr>
		<tr>
			<td width="25%;">Part Pre-payment Charges</td>
			<td width="25%;">Part pre-payment can be processed post clearance of first EMI<br />
			<strong>2% plus applicable taxes</strong> on part pre-payment amount paid</td>
			<td width="25%;">Outstation Collection Charges</td>
			<td width="25%;"><strong>Rs.65/- (Rupees Sixty-Five Only) plus applicable taxes</strong> per repayment instrument</td>
		</tr>
		<tr>
			<td width="25%;">Annual Maintenance Charges</td>
			<td width="25%;">EMI Card and Add-on EMI Card : Annual fee per card <strong>Rs. 117 (Rs. 99 + 18% GST)<br />
			<br />
			Annual fee will only be applicable to EMI Cards which are not used for the preceding 12 months</strong></td>
			<td width="25%;">Bounce Charges</td>
			<td width="25%;"><strong>Rs. 600/- (Rupees Two Hundred Only)</strong> including taxes levies in case of default by reason of the repayment instrument(s) being dishonored</td>
		</tr>
		<tr>
			<td width="25%;">Mandate Rejection Service Charge</td>
			<td width="25%;"><strong>Rs 450/- (Rupees four hundred fifty only)</strong> Inclusive of applicable taxes.<br />
			<br />
			(Charges will be levied if new mandate form is not registered within 30 days from the date of rejection of previous mandate form by Customer&rsquo;s Bank for any reasons whatsoever)</td>
			<td width="25%;">Overdue Charges</td>
			<td width="25%;">In case of delay/default in payment of Monthly Installment, the Lender shall levy <strong>Overdue Charge of Rs. 200/- (Rupees Two Hundred Only)</strong> including taxes./td&gt;</td>
		</tr>
	</tbody>
</table>
</div>

<div>&nbsp;</div>

<ul>
	<li><strong>SALPL Charges </strong></li>
</ul>

	<div class="table-responsive">
	<table class="table table-bordered">
		<tbody>
			<tr>
				<td colspan="2"><strong>Full Pre-payment Charges</strong><br />
				(Foreclosure can be processed post clearance of first EMI)</td>
				<td colspan="2"><strong>Annual Maintenance Charge</strong><br />
				(Applicable from first loan anniversary)</td>
			</tr>
			<tr>
				<td width="25%;">a) Term Loan</td>
				<td>width=&quot;25%;&quot; <strong>4% plus applicable taxes </strong>on Principal Outstandingamount as on the date of such full pre-payment</td>
				<td width="25%;">a) Flexi Term Loan and<br />
				Flexi Hybrid Loan</td>
				<td width="25%;"><strong>0.25% plus applicable taxes</strong>, on the maximum withdrawable amount<br />
				irrespective of utilization on date of levy of such charges</td>
			</tr>
			<tr>
				<td width="25%;">b) Flexi Term Loan<br />
				and<br />
				Flexi Hybrid Loan</td>
				<td width="25%;">4% plus applicable taxes on total withdrawable amount* (*Total loan amount that you can withraw under Flexi Loan, tfrom time to time as per the repayment schedule) on the date of levy of such charges</td>
				<td width="25%;">b) EMI Card / Add-on EMI Card / Elite Card<br />
				(if availed)</td>
				<td width="25%;">Annual fee per card: <strong>Rs. 117 (Rs. 99 + 18% GST)</strong></td>
			</tr>
			<tr>
				<td colspan="2" width="50%;"><strong>Part Pre-payment Charges</strong><br />
				(Part pre-payment can be processed post clearance of first EMI for Term Loans. However, for Flexi Loans the part prepayment can be processed post disbursal of loan)</td>
				<td width="25%;"><strong>Statement Of Account/ Repayment Schedule/ Foreclosure Letter charge </strong></td>
				<td width="25%;">Download your e-statements at no extra cost by logging into Customer Portal &ndash; Experia.<br />
				<br />
				You can get a physical copy of your e-statements from any of our branches at a charge of <strong>Rs. 250/- (inclusive of taxes)</strong> per statement per account</td>
			</tr>
			<tr>
				<td width="25%;">a) Term Loan</td>
				<td width="25%;"><strong>2% plus applicable taxes </strong>on part pre-payment amount paid</td>
				<td width="25%;"><strong>Outstation Collection Charges</strong></td>
				<td width="25%;"><strong>Rs.65/- (Rupees Sixty-Five Only) plus the applicable taxes</strong> per repayment instrument</td>
			</tr>
			<tr>
				<td width="25%;">b) Flexi Term Loan</td>
				<td width="25%;">Nil</td>
				<td width="25%;"><strong>Penal Interest</strong></td>
				<td width="25%;"><strong>2% default interest plus taxes </strong>per month will be levied in case of delay in payment on the amount of Monthly Instalment outstanding as on that date.</td>
			</tr>
			<tr>
				<td width="25%;">c) Flexi Hybrid Loan</td>
				<td width="25%;">Nil</td>
				<td width="25%;"><strong>Bounce Charges</strong></td>
				<td width="25%;"><strong>Rs. 1,200/- (Rupees Twelve Hundred Only) </strong>including taxes levies in case of default by reason of the repayment instrument(s) being dishonored</td>
			</tr>
			<tr>
				<td width="25%;">&nbsp;</td>
				<td width="25%;">&nbsp;</td>
				<td width="25%;"><strong>Mandate Rejection Service Charge</strong></td>
				<td width="25%;"><strong>Rs 450 /- (Four hundred fifty only) </strong>&nbsp;(Inclusive of applicable taxes)<br />
				Charges will be levied if new mandate form is not registered within 30 days from the date of rejection of previous mandate form by Customer&rsquo;s Bank for any reasons whatsoever.</td>
			</tr>
		</tbody>
	</table>
	</div>

	
			</div>
		</div>
	  
	</div>