
.privacy_container{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    overflow: auto;
    .left_container{
        // background-color: #507bfc;
        // flex: 0 0 35%;
        align-items: center;
        display: flex;
        justify-content: center;
        // background: url('../../../assets/images/ILLUME-signin.jpg');
        background-color: #507BFC;
        background-position: center;
        background-size: cover;
        &__text{
            color: #FFFFFF;
            font-size: 30px;
            font-weight: 100;
            text-align: center;
            height: 100px;
            margin: 0;
            margin-bottom: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .right_container{
        // background-color: #507bfc;
        flex: 1;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
        .content_text{
            font-size: 17px;
        }
        .logo_container{
            margin: 20px;
            width: 100%;
            .companyLogo{
                width: 160px;
                height: auto;
                display: block;
                margin: 10px auto;
                // margin-left: auto;
                // margin-right: 30px;
            }
        }
        .list_container{
            // padding: 0 70px;
            width: 80%;
            text-align: justify;
            // margin-top: -20px;
            // width: 100%;
            .tabs-new-updated{
                margin: 20px auto 0 auto;
                display: grid;
                grid-template-columns: repeat( auto-fit, minmax(200px, 250px) );
                row-gap: 15px;
                column-gap: 15px;
                justify-content: center;
                .tabs_button{
                      // width: 100%;
                    border: none;
                    min-height: 45px;
                    // padding: 10px 40px;
                
                    background-color: #507BFC;
                    color: #fff;
                    // box-shadow: 0 10px 20px 0 rgba(80,123,252,0.5);
                    border-radius: 100px;
                    cursor: pointer;		   
                    // &:not(:last-child){
                    //     margin-right: 10px;
                    //     margin-bottom: 10px;
                    // }    
                }
                
                
            }
           
        }
     
    }

    @media only screen and (max-width: 800px) {
    //   flex-direction: column;
    grid-template-columns: 1fr;
      .left_container{
        background-color: #507bfc;
        flex: 1;
        // height: 50px;
        align-items: center;
        &__text{
            font-size: 30px ;
           line-height: 4;
        }
    }
    .right_container{
        // background-color: #507bfc;
        flex: 1;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        .content_text{
            font-size: 17px;
        }
        .logo_container{
            margin-top: 0px;
          
        }
        .list_container{
            // padding: 0 70px;
            width: 80%;
        }
        .footer_container{
            align-self: flex-end;
        }
    
    }
    }

    @media only screen and (max-width: 400px) {

        .left_container{
            margin-top: 0px;
          &__text{
              font-size: 30px ;
             line-height: 2;
          }
      }
    }

    @media only screen and (max-height: 400px) {

        .left_container{
            margin-top: 0px;
      }
    }
}