 <div class="loaderBackdrop" *ngIf="loader == true">
    <div id="loader"></div>
  </div> 
<div class="fixed" *ngIf='show'>
<div class="col-md-12 toprow sticky-top">
  <div class="col-md-6">
    <h3 class="h3lable">{{workflowname}} / {{coursename}} / {{name}}</h3>
  </div>
     <div class="col-md-6 text-right">
   <button type="button" class="back_button"  (click)="back()" >Back</button> 
  </div>
  </div>
 <!-- div class="btn-group col-sm-2 flotlefttop">
        <select id="FilterOpt" [(ngModel)]="formdata.fid" (change)="callType(formdata.fid)" class="form-dropcc" autocomplete="false">
          <option *ngFor="let feedback of feedbacklistdrop" value={{feedback.id}}>{{feedback.name}}</option>
        </select>
      </div> -->
   <div class="tablepadd container" *ngIf="gridShow">
  <angular-slickgrid gridId="grid1"
            [columnDefinitions]="columnDefinitions"
            [gridOptions]="gridOptions"
            [dataset]="dataset"
            (onAngularGridCreated)="angularGridReady($event)"
            (onGridStateChanged)="gridStateChanged($event)"
            (onBeforeGridDestroy)="saveCurrentGridState($event)"
            (sgOnSelectedRowsChanged)="handleSelectedRowsChanged($event.detail.eventData, $event.detail.args)">
            <!-- (sgOnRowCountChanged)="refreshStatistics($event.detail.eventData, $event.detail.args)" -->
  </angular-slickgrid>
  </div>
   <div class="col-md-12" *ngIf="!gridShow">
      <p class="nodata"> No Data Found</p>
  </div>
</div>