<div class="main-dashboard" *ngIf="!showData">
  <!-- header -->
  <!-- <div class="dash-header position-sticky d-flex p-2">
      <span class="sheet-name d-flex align-items-center">
        <label class="font-weight-normal m-0">Dashboard Name : </label>
        <input type="text" class="ml-2">
      </span>
    <select class="custom-select cursor-p">
      <option selected>Dash Sheets</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>

    <div class="action-btns d-flex align-items-center w-100">
      <button class="commonBtn" (click)="getCalender()">Filter <i class="fas fa-filter pl-2"></i></button>
      <button class="commonBtn">Edit<i class="fas fa-cog pl-2"></i></button>
      <button class="commonBtn">Add Dashboard</button>
      <button class="commonBtn">Save</button>
      <button class="commonBtn">Back</button>
    </div>
  </div> -->

  <!-- <ngx-modal-pop-up title="Filter" [customWidthSetting]="popupConfig" (closeBtn)="closeModal()" *ngIf="showCalender == true">
    <div class="calender-list">
      <h2 class="py-2 m-0 text-center" *ngFor="let data of yearArray" (click)="getYear(data)">
        {{ data.fromYear }} - {{ data.toYear }}
      </h2>
    </div>
  </ngx-modal-pop-up> -->

  <!-- no-widget -->
  <!-- <div class="widget-begin d-flex flex-column align-items-center justify-content-center">
      <img src="assets/svg/images/dashboard-widget.svg" alt="widget-image">
      <button class="commonBtn mt-4">Add Widgets</button>
    </div> -->

    <!-- <div class="dash-container"> -->
    <!-- dashboard -->
    <!-- <div class="dash-inner">
      <div lb-gridstack width="4" (change)="onWidgetGridChangeNew($event)" (added)="onAdded($event)"
        [options]="{acceptWidgets: '.shared-grid-stack-item'}">
        <div lb-gridstack-item *ngFor="let item of widgets" [x]="item.x" [y]="item.y" [width]="item.width"
          [height]="item.height" [id]="item.id" (change)="onChange($event, item)">
          <span class="remove-widget position-absolute text-center cursor-p" (click)="removeWidget(item)"><i class="fas fa-times"></i></span>
          <div *ngIf="item.widgetId === 'ngx-active-user'">
            <ngx-active-user></ngx-active-user>
          </div>
          <div *ngIf="item.widgetId === 'ngx-total-user'">
            <ngx-total-user></ngx-total-user>
          </div>
          <div *ngIf="item.widgetId === 'app-widget3'">
            <app-widget3></app-widget3>
          </div>
          <div *ngIf="item.widgetId === 'app-widget4'">
            <app-widget4></app-widget4>
          </div>
        </div>
      </div>
    </div>  -->

    <!-- widget list -->
    <!-- <div class="widget-list">
      <div class="widget-list--header d-flex p-2">
        <img class="cursor-p" src="assets/svg/icons/close.svg" alt="close-icon">
        <h2 class="text-center m-0 w-100">Widget List</h2>
      </div>
      <div class="widget-list--inner">
         [ngClass] = widget-selected 
        <div class="widget-list--list d-flex align-items-center cursor-p" (click)="addWidgetDyanamic(item.wname)" *ngFor="let item of widgetArray">
          <i [class]="item.icon"></i>
          <label class="font-weight-normal m-0 mr-2 cursor-p">{{ item.name }}</label>
        </div>
      </div>
    </div> -->
  <!-- </div> -->

  <div class="grid-rows p-3">
    <div class="gridIn4">
      <div class="componentCard" *ngIf="skeleton">
        <div class="gridSections">
          <div class="iconClass">
            <i class="fas fa-user-circle"></i>
          </div>
          <!-- (click)="tempFunction()" -->
          <div class="txtMargin">
            <p class="titleNo">{{ active_user }}</p>
            <p class="subtitile">Active users for this month</p>
          </div>
        </div>
      </div>
      <div class="componentCard1" *ngIf="!skeleton">
        <!-- <ngx-content-loading [width]="150" [height]='80' [speed]="'1500ms'">
              <svg:g ngx-rect width="150" height="70" y="0" x="0" rx="10" ry="10"></svg:g>
          </ngx-content-loading> -->
        <div class="fb-item">
          <div class="first-section-wrapper">
            <div class="gravatar">
              <ngx-skeleton-loader appearance="circle" [theme]="{ width: '60px', height: '60px' }">
              </ngx-skeleton-loader>
            </div>
            <div class="gravatar-title">
              <div>
                <ngx-skeleton-loader [theme]="{
                        width: '120px',
                        'border-radius': '0',
                        height: '15px',
                        'margin-bottom': '10px'
                      }"></ngx-skeleton-loader>
              </div>
              <div>
                <ngx-skeleton-loader [theme]="{     
                        width: '120px',
                        'border-radius': '0',
                        height: '15px'
                      }"></ngx-skeleton-loader>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="componentCard" *ngIf="skeleton">
        <div class="gridSections">
          <div class="iconClass">
            <i class="fas fa-users"></i>
          </div>
          <div class="txtMargin">
            <p class="titleNo">{{ total_courses }}</p>
            <p class="subtitile">Total Users</p>
          </div>
        </div>
      </div>
      <div class="componentCard1" *ngIf="!skeleton">
        <!-- <ngx-content-loading [width]="150" [height]='80' [speed]="'1500ms'">
              <svg:g ngx-rect width="150" height="70" y="0" x="0" rx="10" ry="10"></svg:g>
          </ngx-content-loading> -->
        <div class="fb-item">
          <div class="first-section-wrapper">
            <div class="gravatar">
              <ngx-skeleton-loader appearance="circle" [theme]="{ width: '60px', height: '60px' }">
              </ngx-skeleton-loader>
            </div>
            <div class="gravatar-title">
              <div>
                <ngx-skeleton-loader [theme]="{
                        width: '120px',
                        'border-radius': '0',
                        height: '15px',
                        'margin-bottom': '10px'
                      }"></ngx-skeleton-loader>
              </div>
              <div>
                <ngx-skeleton-loader [theme]="{     
                        width: '120px',
                        'border-radius': '0',
                        height: '15px'
                      }"></ngx-skeleton-loader>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="componentCard" *ngIf="skeleton">
        <div class="gridSections ">
          <div class="iconClass">
            <!-- <i class="far fa-clock"></i> -->
            <i class="fas fa-book"></i>

          </div>
          <div class="txtMargin">
            <p class="titleNo">{{ learning_Hours }}</p>
            <p class="subtitile">Total Courses</p>
          </div>
        </div>
      </div>
      <div class="componentCard1" *ngIf="!skeleton">
        <!-- <ngx-content-loading [width]="150" [height]='80' [speed]="'1500ms'">
              <svg:g ngx-rect width="150" height="70" y="0" x="0" rx="10" ry="10"></svg:g>
          </ngx-content-loading> -->
        <div class="fb-item">
          <div class="first-section-wrapper">
            <div class="gravatar">
              <ngx-skeleton-loader appearance="circle" [theme]="{ width: '60px', height: '60px' }">
              </ngx-skeleton-loader>
            </div>
            <div class="gravatar-title">
              <div>
                <ngx-skeleton-loader [theme]="{
                        width: '120px',
                        'border-radius': '0',
                        height: '15px',
                        'margin-bottom': '10px'
                      }"></ngx-skeleton-loader>
              </div>
              <div>
                <ngx-skeleton-loader [theme]="{     
                        width: '120px',
                        'border-radius': '0',
                        height: '15px'
                      }"></ngx-skeleton-loader>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="componentCard" *ngIf="skeleton">
        <div class="gridSections">
          <div class="iconClass">
            <i class="fas fa-percentage"></i>
          </div>
          <div class="txtMargin">
            <p class="titleNo">
              {{ Total_Course_Completion_Percentage | number: "1.2-2" }} %
            </p>
            <p class="subtitile">Courses Completed</p>
          </div>
        </div>
      </div>
      <div class="componentCard1" *ngIf="!skeleton">
        <!-- <ngx-content-loading [width]="150" [height]='80' [speed]="'1500ms'">
              <svg:g ngx-rect width="150" height="70" y="0" x="0" rx="10" ry="10"></svg:g>
          </ngx-content-loading> -->
        <div class="fb-item">
          <div class="first-section-wrapper">
            <div class="gravatar">
              <ngx-skeleton-loader appearance="circle" [theme]="{ width: '60px', height: '60px' }">
              </ngx-skeleton-loader>
            </div>
            <div class="gravatar-title">
              <div>
                <ngx-skeleton-loader [theme]="{
                        width: '120px',
                        'border-radius': '0',
                        height: '15px',
                        'margin-bottom': '10px'
                      }"></ngx-skeleton-loader>
              </div>
              <div>
                <ngx-skeleton-loader [theme]="{     
                        width: '120px',
                        'border-radius': '0',
                        height: '15px'
                      }"></ngx-skeleton-loader>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="cardBg">
      <p class="mostPopularTxt">Total users vs Active users (Year {{fromYear}} - {{toYear}})</p>
      <div *ngIf="!skeleton">
        <div class="customloader">Loading...</div>
        <!-- <div class="ske">
          <div>
              <ngx-content-loading [width]="150" [height]='100' [speed]="'1500ms'">
                  <svg:g ngx-rect width="150" height="90" y="0" x="0" rx="10" ry="10"></svg:g>
              </ngx-content-loading>
          </div>
          <div>
            <div>
                <ngx-content-loading [width]="150" [height]='20' [speed]="'1500ms'">
                    <svg:g ngx-rect width="30" height="10" y="0" x="0" rx="5" ry="5"></svg:g>
                    <svg:g ngx-rect width="30" height="10" y="0" x="40" rx="5" ry="5"></svg:g>
                    <svg:g ngx-rect width="30" height="10" y="0" x="80" rx="5" ry="5"></svg:g>
                    <svg:g ngx-rect width="30" height="10" y="0" x="120" rx="5" ry="5"></svg:g>
                </ngx-content-loading>
                <ngx-content-loading [width]="150" [height]='20' [speed]="'1500ms'">
                    <svg:g ngx-rect width="30" height="10" y="0" x="0" rx="5" ry="5"></svg:g>
                    <svg:g ngx-rect width="30" height="10" y="0" x="40" rx="5" ry="5"></svg:g>
                    <svg:g ngx-rect width="30" height="10" y="0" x="80" rx="5" ry="5"></svg:g>
                    <svg:g ngx-rect width="30" height="10" y="0" x="120" rx="5" ry="5"></svg:g>
                </ngx-content-loading>
                <ngx-content-loading [width]="150" [height]='20' [speed]="'1500ms'">
                    <svg:g ngx-rect width="30" height="10" y="0" x="0" rx="5" ry="5"></svg:g>
                    <svg:g ngx-rect width="30" height="10" y="0" x="40" rx="5" ry="5"></svg:g>
                    <svg:g ngx-rect width="30" height="10" y="0" x="80" rx="5" ry="5"></svg:g>
                    <svg:g ngx-rect width="30" height="10" y="0" x="120" rx="5" ry="5"></svg:g>
                </ngx-content-loading>
                <ngx-content-loading [width]="150" [height]='20' [speed]="'1500ms'">
                    <svg:g ngx-rect width="30" height="10" y="0" x="0" rx="5" ry="5"></svg:g>
                    <svg:g ngx-rect width="30" height="10" y="0" x="40" rx="5" ry="5"></svg:g>
                    <svg:g ngx-rect width="30" height="10" y="0" x="80" rx="5" ry="5"></svg:g>
                    <svg:g ngx-rect width="30" height="10" y="0" x="120" rx="5" ry="5"></svg:g>
                </ngx-content-loading>
                <ngx-content-loading [width]="150" [height]='20' [speed]="'1500ms'">
                    <svg:g ngx-rect width="30" height="10" y="0" x="0" rx="5" ry="5"></svg:g>
                    <svg:g ngx-rect width="30" height="10" y="0" x="40" rx="5" ry="5"></svg:g>
                    <svg:g ngx-rect width="30" height="10" y="0" x="80" rx="5" ry="5"></svg:g>
                    <svg:g ngx-rect width="30" height="10" y="0" x="120" rx="5" ry="5"></svg:g>
                </ngx-content-loading>
            </div>        
          </div>
        </div> -->
      </div>
      <div *ngIf="skeleton">
        <div class="gridCard" *ngIf="showLineChart">

          <div class="">
            <!-- <ngx-charts-line-chart
            [view]="view"
            class="chart-container"
            [results]="multi_line_chart"
            [animations]="animations"
            [legend]="showLegend_line"
            [legendTitle]="legendTitle_line"
            [legendPosition]="legendPosition"
            [xAxis]="showXAxis_line"
            [yAxis]="showYAxis_line"
            [showXAxisLabel]="showXAxisLabel_line"
            [showYAxisLabel]="showYAxisLabel_line"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            [autoScale]="autoScale_line"
            [yScaleMin]="yScaleMin_line"
            [xScaleMin]="xScaleMin_line"
            [showGridLines]="showGridLines_line"
          >
          </ngx-charts-line-chart> -->

            <chart type="line" [data]="line_chart_data" [options]="options" [yScaleMin]="yScaleMin" [yScaleMax]="1">
            </chart>
          </div>

          <div class="gridTable">
            <div class="tableheadings_line">
              <p class="tableHeadPara">Month</p>
              <p class="tableHeadPara">Active Users</p>
              <p class="tableHeadPara">Total Users</p>
              <p class="tableHeadPara">Cummulative Active Users</p>
            </div>
            <div class="scrollableRows">
              <div *ngFor="let item of dataTable" class="tableRoww_line">
                <p class="marginAuto">
                  {{ item.faMonth }}
                </p>
                <p class="marginAuto">
                  {{ item.activeUsers }}
                </p>
                <p class="marginAuto">
                  {{ item.totalUsers }}
                </p>
                <p class="marginAuto">
                  {{ item.cumActiveUsers }}
                </p>
              </div>
            </div>
          </div>

          <!-- </div> -->
          <!-- <div class="componentCard">
          <div class="gridTable">
            <div class="tableheadings">
              <p>Month</p>
              <p>Active Users</p>
              <p>Total Users</p>
            </div>
            <div class="scrollableRows">
              <div *ngFor="let item of dataTable" class="tableRoww">
                <p class="marginAuto">
                  {{ item.name }}
                </p>
                <p class="marginAuto">
                  {{ item.total }}
                </p>
                <p class="marginAuto">
                  {{ item.active }}
                </p>
              </div>
            </div>
          </div>
        </div> -->
        </div>
        <div class="noDataAvail" *ngIf="!showLineChart">
          <p>No Data Available...</p>
        </div>
      </div>
    </div>

    <div class="cardBg">
      <!-- 7 years of -->
      <p class="mostPopularTxt"> Courses Completion (Year {{fromYear}} - {{toYear}})</p>
      <div *ngIf="!skeleton">
        <div class="customloader">Loading...</div>
        <!-- <div class="ske">
            <div>
                <ngx-content-loading [width]="150" [height]='100' [speed]="'1500ms'">
                    <svg:g ngx-rect width="150" height="90" y="0" x="0" rx="10" ry="10"></svg:g>
                </ngx-content-loading>
            </div>
            <div>
              <div>
                  <ngx-content-loading [width]="150" [height]='20' [speed]="'1500ms'">
                      <svg:g ngx-rect width="30" height="10" y="0" x="0" rx="5" ry="5"></svg:g>
                      <svg:g ngx-rect width="30" height="10" y="0" x="40" rx="5" ry="5"></svg:g>
                      <svg:g ngx-rect width="30" height="10" y="0" x="80" rx="5" ry="5"></svg:g>
                      <svg:g ngx-rect width="30" height="10" y="0" x="120" rx="5" ry="5"></svg:g>
                  </ngx-content-loading>
                  <ngx-content-loading [width]="150" [height]='20' [speed]="'1500ms'">
                      <svg:g ngx-rect width="30" height="10" y="0" x="0" rx="5" ry="5"></svg:g>
                      <svg:g ngx-rect width="30" height="10" y="0" x="40" rx="5" ry="5"></svg:g>
                      <svg:g ngx-rect width="30" height="10" y="0" x="80" rx="5" ry="5"></svg:g>
                      <svg:g ngx-rect width="30" height="10" y="0" x="120" rx="5" ry="5"></svg:g>
                  </ngx-content-loading>
                  <ngx-content-loading [width]="150" [height]='20' [speed]="'1500ms'">
                      <svg:g ngx-rect width="30" height="10" y="0" x="0" rx="5" ry="5"></svg:g>
                      <svg:g ngx-rect width="30" height="10" y="0" x="40" rx="5" ry="5"></svg:g>
                      <svg:g ngx-rect width="30" height="10" y="0" x="80" rx="5" ry="5"></svg:g>
                      <svg:g ngx-rect width="30" height="10" y="0" x="120" rx="5" ry="5"></svg:g>
                  </ngx-content-loading>
                  <ngx-content-loading [width]="150" [height]='20' [speed]="'1500ms'">
                      <svg:g ngx-rect width="30" height="10" y="0" x="0" rx="5" ry="5"></svg:g>
                      <svg:g ngx-rect width="30" height="10" y="0" x="40" rx="5" ry="5"></svg:g>
                      <svg:g ngx-rect width="30" height="10" y="0" x="80" rx="5" ry="5"></svg:g>
                      <svg:g ngx-rect width="30" height="10" y="0" x="120" rx="5" ry="5"></svg:g>
                  </ngx-content-loading>
                  <ngx-content-loading [width]="150" [height]='20' [speed]="'1500ms'">
                      <svg:g ngx-rect width="30" height="10" y="0" x="0" rx="5" ry="5"></svg:g>
                      <svg:g ngx-rect width="30" height="10" y="0" x="40" rx="5" ry="5"></svg:g>
                      <svg:g ngx-rect width="30" height="10" y="0" x="80" rx="5" ry="5"></svg:g>
                      <svg:g ngx-rect width="30" height="10" y="0" x="120" rx="5" ry="5"></svg:g>
                  </ngx-content-loading>
              </div>        
            </div>
          </div> -->
      </div>
      <div *ngIf="skeleton">
        <div class="gridCard" *ngIf="showBarChart">
          <!-- <div class="">
                  (window:resize)="onResize($event)" -->
          <ngx-charts-bar-vertical-stacked [view]="view" [scheme]="colorScheme" [results]="multi" [gradient]="gradient"
            [xAxis]="showXAxis" [yAxis]="showYAxis" [showDataLabel]="showDataLabel" [legend]="showLegend"
            [noBarWhenZero]="noBarWhenZero" [legendTitle]="legendTitle" [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel">
          </ngx-charts-bar-vertical-stacked>
          <!-- </div> -->

          <div class="">
            <div class="gridTable">
              <div class="tableheadings">
                <p class="tableHeadPara">Month</p>
                <p class="tableHeadPara">Courses Enrolled</p>
                <p class="tableHeadPara">Courses Completed</p>
              </div>
              <div class="scrollableRows">
                <div *ngFor="let item of completeCourseDataForBarChart" class="tableRoww">
                  <p class="marginAuto">
                    {{ item.faMonth }}
                  </p>
                  <p class="marginAuto">
                    {{ item.enrolments | number:'2.0-0' }}
                  </p>
                  <p class="marginAuto">
                    {{ item.courseComp | number:'2.0-0' }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="noDataAvail" *ngIf="!showBarChart">
          <p>No Data Available...</p>
        </div>
      </div>

    </div>

    <div class="">
      <div class="secondGridCOl">
        <div class="componentCard" style="padding: 0">
          <p class="mostPopularTxt">Most popular Courses</p>
          <div *ngIf="!skeleton">
            <div class="customloader">Loading...</div>
            <!-- <div class="fb-item">
                  <div class="first-section-wrapper">
                    <div class="gravatar">
                      <ngx-skeleton-loader appearance="circle" [theme]="{ width: '60px', height: '60px' }">
                      </ngx-skeleton-loader>
                    </div>
                    <div class="gravatar-title">
                      <div>
                        <ngx-skeleton-loader
                          [theme]="{
                            width: '120px',
                            'border-radius': '0',
                            height: '15px',
                            'margin-bottom': '10px'
                          }"
                        ></ngx-skeleton-loader>
                      </div>
                      <div>
                        <ngx-skeleton-loader
                          [theme]="{     
                            width: '120px',
                            'border-radius': '0',
                            height: '15px'
                          }"
                        ></ngx-skeleton-loader>
                      </div>
                      <div>
                          <ngx-skeleton-loader
                            [theme]="{     
                              width: '120px',
                              'border-radius': '0',
                              height: '15px'
                            }"
                          ></ngx-skeleton-loader>
                        </div>
                      <div>
                          <ngx-skeleton-loader
                              [theme]="{     
                                width: '120px',
                                'border-radius': '0',
                                height: '15px'
                              }"
                            ></ngx-skeleton-loader>
                      </div>
                      <div>
                          <ngx-skeleton-loader
                                [theme]="{     
                                  width: '120px',
                                  'border-radius': '0',
                                  height: '15px'
                                }"
                              ></ngx-skeleton-loader>
                      </div>
                    </div>
                  </div>
                </div> -->
          </div>
          <div *ngIf="skeleton">
            <div class="margin25" *ngIf="showBarChart">
              <div class="barChartgrid">
                <div class="cupIcon">
                  <i class="fas fa-trophy"></i>
                </div>
                <div class="courseBlock">
                  <div class="">
                    <div class="flexBars" *ngFor="let item of mostPopularCourses">
                      <nb-progress-bar [value]="item.enrolments" class="progressBar">
                        <div class="courseName">
                          {{ item.courseName }}
                        </div>
                        <div class="smallTexts">
                          <p class="progresstext">{{ item.enrolments }}%</p>
                        </div>
                      </nb-progress-bar>
                      <!-- <div class="enrolTxt">
                            {{ item?.usersEnrolled }} Enrolled
                          </div> -->
                    </div>
                  </div>
                </div>
              </div>
              <!-- <div class="mostPopularTxt">
                    Most popular Courses
                  </div> -->
            </div>
            <div class="noDataAvail margin25" *ngIf="!showBarChart">
              <p>No Data Available...</p>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="cardList" style="position: fixed; right: 33px; bottom: 13px;">
      <!-- <input [owlDateTime]="dp" [owlDateTimeTrigger]="dp"  class="form-control dateinput"
                [(ngModel)]="yearPicker" /> -->
      <i class="fa fa-calendar fasa fa-2x" (click)="getCalender()"></i>
      <!-- <owl-date-time [pickerType]="'calendar'" #dp></owl-date-time> -->
    </div>

    <div class="calenderModel " *ngIf="showCalender == true">
      <div class="calenderData">
        <div class="modal-header">
          <p>Calender</p>
          <button class="close " aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modalBody12">
          <!-- <table class="fixed_header">   
                <tbody>
                  <tr *ngFor="let data of year" class="cal-row">
                      <td>{{ data.year }}</td>  
                  </tr>
                </tbody>
            </table> -->
          <div class="dateDiv">
            <div class="rowYrList" *ngFor="let data of yearArray" (click)="getYear(data)">
              {{ data.fromYear }} - {{ data.toYear }}
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>

<div class="class" *ngIf="showData">
  <div class="col-md-12 noDataDiv">
    <img class="noDataImg" src='assets/images/noDataFound1.png' onerror="this.src='assets/images/noDataFound1.png';">
  </div>
</div>