<div class="widgets dashboardWidgets">
  <!-- <div id="loader" *ngIf="loader == true"></div> -->
  <div class="loaderBackdrop" *ngIf="loader == true">
    <div id="loader"></div>
  </div>
  <!-- *ngIf="loader == false" -->
  <div ba-panel ba-panel-class="with-scroll" >
    <div class="row pie-charts">
      <div class="pie-chart-item-container col-xlg-3 col-lg-3 col-md-6 col-sm-12 col-12">
        <div class="pie-chart-item">
          <!--  <div class="chart" [attr.data-rel]="chart.color" data-percent="60">
            <span class="percent">{{chart.percent}}</span>
          </div> -->
          <nb-card class="orange">
            <div class="description description1">
              <div translate>Total Users</div>
              <div class="description-stats" style="padding-top: 12px">5254</div>
            </div>
          </nb-card>  
        </div>
      </div>

      <div class="pie-chart-item-container col-xlg-3 col-lg-3 col-md-6 col-sm-12 col-12">
        <div class="pie-chart-item">
          <!--  <div class="chart" [attr.data-rel]="chart.color" data-percent="60">
            <span class="percent">{{chart.percent}}</span>
          </div> -->
          <nb-card class="green">
            <div class="description description1">
              <div translate>Registered</div>
              <div class="description-stats" style="padding-top: 12px">4895</div>
            </div>
          </nb-card>
        </div>
      </div>

      <div class="pie-chart-item-container col-xlg-3 col-lg-3 col-md-6 col-sm-12 col-12">
        <div class="pie-chart-item">
          <!--  <div class="chart" [attr.data-rel]="chart.color" data-percent="60">
            <span class="percent">{{chart.percent}}</span>
          </div> -->
          <nb-card class="pink">
            <div class="description description1">
              <div translate>Logged In</div>
              <div class="description-stats" style="padding-top: 12px">3250</div>
            </div>
          </nb-card>  
        </div>
      </div>

      <div class="pie-chart-item-container col-xlg-3 col-lg-3 col-md-6 col-sm-12 col-12">
        <div class="pie-chart-item">
          <!--  <div class="chart" [attr.data-rel]="chart.color" data-percent="60">
            <span class="percent">{{chart.percent}}</span>
          </div> -->
          <nb-card class="blue">
            <div class="description description1">
              <div translate>Induction Completed</div>
              <div class="description-stats" style="padding-top: 12px">4285</div>
            </div>
          </nb-card>  
        </div>
      </div>
    </div>

    <!--<div class="row" style="width: 100%;margin: 0"> -->
    <div class="table-responsive">
      <h4>COURSE COMPLETION</h4>
      <table class="table table-striped table-condensed " style="border: 2px solid #cdcdcd;width: 100%;float: right;margin-bottom: 20px">
        <tr style="background: #1c2b36;color: #fff;">
          <th class="textaa trHeader" (click)="sort('shortname')">COURSES <i class="fa" [ngClass]="{'fa-sort-asc': (key == 'shortname' && !reverse),'fa-sort-desc': (key == 'shortname' && reverse) }"
              aria-hidden="true"></i></th>
          <th class="textaa trHeader" (click)="sort('Completed')">COMPLETED <i class="fa" [ngClass]="{'fa-sort-asc': (key == 'Completed' && !reverse),'fa-sort-desc': (key == 'Completed' && reverse) }"
              aria-hidden="true"></i></th>
          <th class="textaa trHeader" (click)="sort('Pending')">PENDING <i class="fa" [ngClass]="{'fa-sort-asc': (key == 'Pending' && !reverse),'fa-sort-desc': (key == 'Pending' && reverse) }"
              aria-hidden="true"></i></th>
          <!-- <th  class="textaa trHeader" (click)="sort('countryCode')">PROGRESS <i class="fa" [ngClass]="{'fa-sort-asc': (key == 'countryCode' && !isDesc),'fa-sort-desc': (key == 'countryCode' && isDesc) }" aria-hidden="true"></i></th> -->
          <th class="textaa trHeader">PROGRESS</th>
        </tr>

        <!--  <tr>
          <th class="textaa">
            <div class="forseach">
                    <input  class="form-control with-primary-addon" placeholder="COURSES" [(ngModel)]="search.shortname" type="search" aria-describedby="basic-addon1" style="font-size: 10px; height: 26px; padding: 6px 6px;border-radius: 5px !important;">
                </div>
          </th>

          <th class="textaa">
            <div class="forseach">
                    <input  class="form-control with-primary-addon" placeholder="COMPLETED" [(ngModel)]="search.Completed" type="search" aria-describedby="basic-addon1" style="font-size: 10px; height: 26px; padding: 6px 6px;border-radius: 5px !important;">
                </div>
          </th>
          <th class="textaa">
            <div class="forseach">
                    <input  class="form-control with-primary-addon" placeholder="PENDING" [(ngModel)]="search.Pending" type="search" aria-describedby="basic-addon1" style="font-size: 10px; height: 26px; padding: 6px 6px;border-radius: 5px !important;">
                </div>
          </th>
          <th class="textaa" >
            <button type="button" style="margin-right: -50px;padding: 5px 27px;" class="btn btn-default btn-mm btn-with-icon" (click)="Clear()"><i class="fa fa-refresh" ></i>Clear</button>
          </th>
        </tr>
      -->


        <tr *ngFor="let item of compleation | filterBy: search | orderBy:key:reverse | paginate: { itemsPerPage: 5, currentPage: p, id: 'p' }">
          <td class="mid" style="text-align: left;">{{item.fullname}}</td>
          <td class="mid" style="text-align: center;">{{item.Completed}}</td>
          <td class="mid" style="text-align: center;">{{item.Pending}}</td>
          <td class="mid" style="padding: 1% 0.5% 1% 0.5% !important;">
            <div [ngStyle]="comp(item.Completed_Perc)" style="margin: 2px 0">
              <p class="proPer"> {{item.Completed_Perc}}%</p>
            </div>
            <!-- <div style="width: 100%;text-align: center"> -->
              
              <!--  <div  [ngStyle]="incomp(item.Pending_Perc)" style="margin: 2px 0">
                        <p style="position: absolute;width: 14%;margin: 0"> {{item.Pending_Perc}}%</p>
                    </div> -->
            <!-- </div> -->
          </td>
        </tr>
      </table>
    </div>

    <div class="row">

      <div class="col-sm-12 col-12">
        <div *ngIf="(compleation | filterBy: search).length === 0" id="noMatch">
          <p class="text-secondary"><b>No data found</b></p>
        </div>

      </div>
    </div>

    <div style="width: 100%; text-align: center;margin-top: 10px;">
      <pagination-controls (pageChange)="p = $event" maxSize="5" directionLinks="true" autoHide="true" id="p">
      </pagination-controls>
    </div>
    <div class="table-responsive">
      <h3>GRADES</h3>
      <table class="table table-striped table-condensed " style="border: 2px solid #cdcdcd;width: 100%;float: right;margin-bottom: 20px">
        <tr style="background: #1c2b36;color: #fff;">
          <th class="textaa trHeader" (click)="sort('Course')">COURSE <i class="fa" [ngClass]="{'fa-sort-asc': (key == 'Course' && !reverse),'fa-sort-desc': (key == 'Course' && reverse) }"
              aria-hidden="true"></i></th>

          <th class="textaa trHeader" (click)="sort('g25')"> &#60;25 <i class="fa" [ngClass]="{'fa-sort-asc': (key == 'g25' && !reverse),'fa-sort-desc': (key == 'g25' && reverse) }"
              aria-hidden="true"></i></th>

          <th class="textaa trHeader" (click)="sort('g50')">&#60;50 <i class="fa" [ngClass]="{'fa-sort-asc': (key == 'g50' && !reverse),'fa-sort-desc': (key == 'g50' && reverse) }"
              aria-hidden="true"></i></th>

          <th class="textaa trHeader" (click)="sort('g100')">&#60;100 <i class="fa" [ngClass]="{'fa-sort-asc': (key == 'g100' && !reverse),'fa-sort-desc': (key == 'g100' && reverse) }"
              aria-hidden="true"></i></th>

          <th class="textaa trHeader">PROGRESS</th>

        </tr>

        <!--    <tr>
              <th class="textaa">
                <div class="forseach">
                        <input  class="form-control with-primary-addon" placeholder="COURSE" [(ngModel)]="search1.Course" type="search" aria-describedby="basic-addon1" style="font-size: 10px; height: 26px; padding: 6px 6px;border-radius: 5px !important;">
                    </div>
              </th>
              <th class="textaa">
                <div class="forseach">
                        <input  class="form-control with-primary-addon" placeholder="<25" [(ngModel)]="search1.g25" type="search" aria-describedby="basic-addon1" style="font-size: 10px; height: 26px; padding: 6px 6px;border-radius: 5px !important;">
                    </div>
              </th>
              <th class="textaa">
                <div class="forseach">
                        <input  class="form-control with-primary-addon" placeholder="<50" [(ngModel)]="search1.g50" type="search" aria-describedby="basic-addon1" style="font-size: 10px; height: 26px; padding: 6px 6px;border-radius: 5px !important;">
                    </div>
              </th>
              <th class="textaa">
                <div class="forseach">
                        <input  class="form-control with-primary-addon" placeholder="<100" [(ngModel)]="search1.g100" type="search" aria-describedby="basic-addon1" style="font-size: 10px; height: 26px; padding: 6px 6px;border-radius: 5px !important;">
                    </div>
              </th>
              <th class="textaa">
                  <button type="button" style="margin-right: -20px;padding: 5px 27px;"  class="btn btn-default btn-mm btn-with-icon" (click)="Clear1()"><i class="fa fa-refresh" ></i>Clear</button>
              </th>
            </tr> -->
        <tr *ngFor="let item of grades | filterBy: search1 | orderBy:key:reverse | paginate: { itemsPerPage: 5, currentPage: q, id: 'q' }">
          <td class="mid" style="text-align: left;">{{item.Course}}</td>
          <td class="mid" style="text-align: right;">{{item.g25}}</td>
          <td class="mid" style="text-align: right;">{{item.g50}}</td>
          <td class="mid" style="text-align: right;">{{item.g100}}</td>
          <td class="mid" style="padding: 0% 0.5% 0% 0.5% !important;">
            <!--   <div style="width: 100%;text-align: center" [hidden]="item.g25_per==null  && item.g50_per==null && item.g100_per==null " >
                       <div  [ngStyle]="g25(item.g25_per)">
                         <p style="position: absolute;width: 21%;height: 14px;font-size: 12px;vertical-align: middle;margin: -0.36% 0 0 0;"> {{item.g25_per}}%</p>
                       </div>
                       <div  [ngStyle]="g50(item.g50_per)">
                            <p style="position: absolute;width: 21%;height: 14px;font-size: 12px;vertical-align: middle;margin: -0.36% 0 0 0;"> {{item.g50_per}}%</p>
                      </div>
                       <div  [ngStyle]="g100(item.g100_per)">
                            <p style="position: absolute;width: 21%;height: 14px;font-size: 12px;vertical-align: middle;margin: -0.36% 0 0 0;"> {{item.g100_per}}%</p>
                      </div>
                </div>   -->
            <div style="display: block;width: 301px;height: 150px;margin-left: 24%">
              <canvas baseChart [data]="item.alldata" [labels]="doughnutChartLabels" [chartType]="doughnutChartType" (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)">

              </canvas>
            </div>
          </td>
        </tr>
      </table>
    </div>
    <div class="row">

      <div class="col-sm-12 col-12">
        <div *ngIf="(grades | filterBy: search1).length === 0" id="noMatch">
          <p class="text-secondary"><b>No data found</b></p>
        </div>

      </div>
    </div>

    <div style="width: 100%; text-align: center;margin-top: 10px;">
      <pagination-controls id="q" (pageChange)="q = $event" maxSize="5" directionLinks="true" autoHide="true">
      </pagination-controls>
    </div>
    <!--   </div> -->
    <!--  <div class="row" style="width: 100%;margin: 20px 0 0 0">
            <h3>TEAM</h3>
              <table class="table table-striped table-condensed " style="border: 2px solid #cdcdcd;width: 100%;margin-bottom: 20px">
                <thead>
                  <tr style="background: #1c2b36;color: #fff;">
            
                <th class="textaa trHeader" (click)="sort('UserFullname')">USERS <i class="fa" [ngClass]="{'fa-sort-asc': (key == 'UserFullname' && !reverse),'fa-sort-desc': (key == 'UserFullname' && reverse) }" aria-hidden="true"></i></th>

                <th class="textaa trHeader" (click)="sort('NoCourses')">COURSES <i class="fa" [ngClass]="{'fa-sort-asc': (key == 'NoCourses' && !reverse),'fa-sort-desc': (key == 'NoCourses' && reverse) }" aria-hidden="true"></i></th>

                <th  class="textaa trHeader" (click)="sort('Completed')">COMPLETED <i class="fa" [ngClass]="{'fa-sort-asc': (key == 'Completed' && !reverse),'fa-sort-desc': (key == 'Completed' && reverse) }" aria-hidden="true"></i></th>

                <th  class="textaa trHeader" (click)="sort('Score')">POINTS<i class="fa" [ngClass]="{'fa-sort-asc': (key == 'Score' && !reverse),'fa-sort-desc': (key == 'Score' && reverse) }" aria-hidden="true"></i></th>
                
            </tr>

            <tr>
              <th class="textaa">
                <div class="forseach">
                        <input  class="form-control with-primary-addon" placeholder="USERS" [(ngModel)]="search2.UserFullname" type="search" aria-describedby="basic-addon1" style="font-size: 10px; height: 26px; padding: 6px 6px;border-radius: 5px !important;">
                    </div>
              </th>
              <th class="textaa">
                <div class="forseach">
                        <input  class="form-control with-primary-addon" placeholder="COURSES" [(ngModel)]="search2.NoCourses" type="search" aria-describedby="basic-addon1" style="font-size: 10px; height: 26px; padding: 6px 6px;border-radius: 5px !important;">
                    </div>
              </th>
              <th class="textaa">
                <div class="forseach">
                        <input  class="form-control with-primary-addon" placeholder="COMPLETED" [(ngModel)]="search2.Completed" type="search" aria-describedby="basic-addon1" style="font-size: 10px; height: 26px; padding: 6px 6px;border-radius: 5px !important;">
                    </div>
              </th>
              <th class="textaa">
                <div class="forseach">
                        <input  class="form-control with-primary-addon" placeholder="POINTS" [(ngModel)]="search2.Score" type="search" aria-describedby="basic-addon1" style="font-size: 10px; height: 26px; padding: 6px 6px;border-radius: 5px !important;">
                    </div>
              </th>
              <th class="textaa">
                  <button type="button" class="btn btn-default btn-mm btn-with-icon" (click)="Clear2()"><i class="fa fa-refresh" ></i>Clear</button>
              </th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let item of users | filterBy: search2 | orderBy:key:reverse | paginate: { itemsPerPage: 5, currentPage: r, id: 'r' }">
            <td style="text-align: left;">{{item.UserFullname}}</td>
            <td style="text-align: right;">{{item.NoCourses}}</td>
            <td style="text-align: right;">{{item.Completed}}</td>
            <td style="text-align: center;" [hidden]="item.Score==null">{{item.Score}}/{{item.MAX}}</td>
             <td style="text-align: center;"[hidden]="item.Score!=null">-</td> -->
    <!-- <td>
                  <div class="dropdown al-user-profile" style="text-align: center;">
                         <a class="profile-toggle-link " id="user-profile-dd" data-toggle="dropdown" aria-expanded="false" title="Delete" style="font-size: 20px;">
                             <span><i class="fa fa-trash" style=""></i></span>
                         </a>
                   </div> 
            </td>
          </tr>   
          </tbody>
          <tfoot>

        </tfoot>
      </table>
      </div>
      <div class="row">

          <div class="col-sm-12 col-12">
            <div *ngIf="(users | filterBy:search2).length === 0" id="noMatch"><p class="text-secondary"><b>No data found</b></p>
            </div>
            
          </div>
        </div>
     </div> 
      <div style="width: 100%; text-align: center;margin-top: 10px;">
        <pagination-controls  (pageChange)="r = $event" maxSize="5" directionLinks="true" autoHide="true" id="r">
        </pagination-controls> 
      </div>-->
  </div>
</div>


<!-- <div>

  <div class="mb-2">
    <button class="btn btn-primary" (click)="exportToExcel()">Excel export</button>
    <button class="btn btn-primary" (click)="exportToText()">Text export</button>
    <button class="btn btn-primary" (click)="exportToCSV()">CSV export</button>
  </div>

  <br><br>
  <div class="columns">
    <div class="column col-12">
      <div class="form-group">
        <label class="form-checkbox">
          <input type="checkbox" [checked]="true" (change)="toggle('phone', $event.target.checked)">
          <i class="form-icon"></i> phone
        </label>
        <label class="form-checkbox">
          <input type="checkbox" [checked]="true" (change)="toggle('age', $event.target.checked)">
          <i class="form-icon"></i> age
        </label>
        <label class="form-checkbox">
          <input type="checkbox" [checked]="true" (change)="toggle('company', $event.target.checked)">
          <i class="form-icon"></i> company
        </label>
        <label class="form-checkbox">
          <input type="checkbox" [checked]="true" (change)="toggle('name', $event.target.checked)">
          <i class="form-icon"></i> name
        </label>
        <label class="form-checkbox">
          <input type="checkbox" [checked]="true" (change)="toggle('isActive', $event.target.checked)">
          <i class="form-icon"></i> active
        </label>
      </div>
    </div>
  </div>

  <ngx-table [configuration]="configuration"
            [data]="data"
            [columns]="columns">
  </ngx-table>

</div> -->
<!-- <div class="row">
  <div class="col-xxxl-3 col-md-6" *ngFor="let statusCard of statusCards">
    <ngx-status-card [title]="statusCard.title"
                     [type]="statusCard.type">
      <i [ngClass]="statusCard.iconClass"></i>
    </ngx-status-card>
  </div>
</div>

<div class="row">
  <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
    <ngx-temperature></ngx-temperature>
  </div>

  <div class="col-xxxl-9 col-xxl-8 col-lg-7 col-md-6">
    <ngx-electricity></ngx-electricity>
  </div>
</div>

<div class="row">
  <div class="col-xxxl-9 col-xl-12">
    <ngx-rooms></ngx-rooms>
  </div>

  <div class="col-xxxl-3 col-xxl-4 col-lg-7 col-md-6">
    <ngx-contacts></ngx-contacts>
  </div>

  <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
    <ngx-solar [chartValue]="72"></ngx-solar>

    <ngx-kitten></ngx-kitten>
  </div>

  <div class="col-xxxl-3 col-xxl-4 col-md-5">
    <ngx-traffic></ngx-traffic>
    <ngx-weather></ngx-weather>
  </div>

  <div class="col-xxxl-6 col-xxl-12 col-md-7">
    <ngx-security-cameras></ngx-security-cameras>
  </div>
</div> -->