.main-dashboard {
    // .grid {
    //   width: 400px;
    //   float: left;
    // }
    // ================================================
    //  WIDGETS start
    // ================================================
    .dash-header {
        top: 4rem;
        border-bottom: .5px solid #707070;
        select {
            width: 25%;
            font-size: .9rem;
            padding: 2px 10px;
        }
        .sheet-name {
            label {
                color: #707070;
                white-space: nowrap;
            }
            input {
                border: none;
                height: 25px;
                color: #000000;
                background: var(--colorBgPage);
                border-bottom: .5px solid #707070;
            }
        }
        .action-btns {
            justify-content: flex-end;
            .commonBtn {
                font-size: .9rem;
            }
        }
    }
    .widget-begin {
        flex-direction: column;
        min-height: 82vh;
        img {
            width: 28%;
        }
    }
    .widget-card {
        padding: 10px 12px;
        border-radius: 2px;
        background: #ffffff;
        border: 1px solid #e5e5e5;
        height: -webkit-fill-available;
        i {
            font-size: 2.4em;
            color: var(--colorIcons);
        }
        .content {
            color: #000000;
            p {
                font-size: 1.2rem;
            }
            label {
                font-size: .9rem;
            }
        }
    }
    .dash-container {
        display: grid;
        grid-template-columns: 1fr 20%;
        .dash-inner {
            padding: 10px 0;
            overflow-x: auto;
            height: calc(100vh - 7.3rem);
            .remove-widget {
                top: 0;
                right: 1px;
                color: #f63030;
                font-size: 11px;
                padding: 2px 4px;
                border-bottom-left-radius: 1px;
                border-left: 1px solid #e5e5e5;
                border-bottom: 1px solid #e5e5e5;
            }
        }
        .widget-list {
            background: #ffffff;
            border-left: .5px solid #707070;
            &--header {
                color: #ffffff;
                background: var(--colorHeader);
                img {
                    width: 15px;
                    height: 15px;
                    padding: 2px;
                }
                h2 {
                    font-size: 1rem;
                    color: #ffffff;
                }
            }
            &--inner {
                overflow-x: auto;
                height: calc(100vh - 9.5rem);
            }
            &--list {
                color: #707070;
                i {
                    padding: 12px;
                    font-size: 1.4rem;
                }
                label {
                    font-size: .9rem;
                    user-select: none;
                }
                border-bottom: .5px solid #707070;
            }
            .widget-selected {
                color: #000000;
                background: #d5d5d5;
            }
        }
    }
     ::-webkit-scrollbar {
        height: 16px;
        overflow: visible;
        width: 10px !important;
    }
     ::-webkit-scrollbar-button {
        height: 0;
        width: 0;
    }
     ::-webkit-scrollbar-corner {
        background: transparent;
    }
     ::-webkit-scrollbar-thumb {
        min-height: 28px;
        padding: 100px 0 0;
        border: solid #f1f3f5;
        background-clip: padding-box;
        border-width: 2px 1px 1px 2px;
        background: #b7babe !important;
        -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1), inset 0 -1px 0 rgba(0, 0, 0, .07);
        box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1), inset 0 -1px 0 rgba(0, 0, 0, .07);
    }
     ::-webkit-scrollbar-track {
        border-width: 0 0 0 4px;
        border: solid transparent;
        background-clip: padding-box;
        border: 0.5px solid #e6e6e6;
        background: #ebeef0b0 !important;
        &:hover {
            background: #ffffff !important;
             ::-webkit-scrollbar-thumb {
                background: #999ca0 !important;
            }
        }
    }
    .calender-list {
        height: 50vh;
        overflow-x: auto;
        h2 {
            font-size: 1rem;
            border-bottom: .5px solid #cacaca;
        }
    }
    // ================================================
    //  WIDGETS end
    // ================================================
     ::ng-deep.grid-stack-item-content {
        background-color: greenyellow;
    }
    @import "../../@theme/styles/themes";
    @import "~bootstrap/scss/mixins/breakpoints";
    @import "~@nebular/theme/styles/global/bootstrap/breakpoints";
    /* Add application styles & imports to this file! */
    @import "~ngx-easy-table/style.css";
    @import "../../@theme/styles/variable.scss";
    // @import "../../theme/sass/conf/conf";
    // @include nb-install-component() {
    //   .solar-card nb-card-header {
    //     border: none;
    //     padding-bottom: 0;
    //   }
    //   @include media-breakpoint-down(sm) {
    //     ngx-traffic {
    //       display: none;
    //     }
    //   }
    //   @include media-breakpoint-down(is) {
    //     /deep/ nb-card.large-card {
    //       height: nb-theme(card-height-medium);
    //     }
    //   }
    // }
    // .pointer{
    //   cursor: pointer;
    // }
    // .trHeader{
    //   text-align: center;
    //   text-transform: uppercase;
    //   font-weight: 500;
    //   padding: 8px;
    //   background-color:#2574a2 !important
    // }
    // .btn:hover{
    //   transform: none;
    // }
    // #noMatch{
    // margin: 10px;
    // text-align:center;
    // border-radius: 15px;
    // border: 1px solid #076ba1;
    // padding: 20px;
    // }
    @-webkit-keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
        }
    }
    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
    /* Add animation to "page content" */
    .animate-bottom {
        position: relative;
        -webkit-animation-name: animatebottom;
        -webkit-animation-duration: 1s;
        animation-name: animatebottom;
        animation-duration: 1s;
    }
    @-webkit-keyframes animatebottom {
        from {
            bottom: -100px;
            opacity: 0;
        }
        to {
            bottom: 0px;
            opacity: 1;
        }
    }
    @keyframes animatebottom {
        from {
            bottom: -100px;
            opacity: 0;
        }
        to {
            bottom: 0;
            opacity: 1;
        }
    }
    // .mid{
    // vertical-align: middle;
    // line-height: 21px;
    // padding-right:8px;
    // }
    // :host /deep/.pie-charts {
    //   color: #000;
    //   // color: $content-text;
    // .pie-chart-item-container {
    //   position: relative;
    //   padding: 0 15px;
    //   float: left;
    //   box-sizing: border-box;
    //   .card {
    //     height: 114px;
    //   }
    // }
    // @media screen and (min-width: 1325px) {
    //   .pie-chart-item-container {
    //     max-width: 25%;
    //     flex: 0 0 25%
    //   }
    // }
    // @media screen and (min-width: 700px) and (max-width: 1325px)  {
    //   .pie-chart-item-container {
    //     max-width: 50%;
    //     flex: 0 0 50%
    //   }
    // }
    // @media screen and (max-width: 700px)  {
    //   .pie-chart-item-container {
    //     max-width: 100%;
    //     flex: 0 0 100%
    //   }
    // }
    // .pie-chart-item {
    //   position: relative;
    //   .chart-icon {
    //     position: absolute;
    //     right: 0;
    //     top: 3px;
    //   }
    // }
    // @media screen and
    // (min-width: 1325px) and (max-width: 1650px),
    // (min-width: 700px) and (max-width: 830px),
    // (max-width: 400px) {
    //   .chart-icon {
    //     display: none;
    //   }
    // }
    // .chart {
    //   position: relative;
    //   display: inline-block;
    //   width: 84px;
    //   height: 84px;
    //   text-align: center;
    //   float: left;
    // }
    // .chart canvas {
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    // }
    // .percent {
    //   display: inline-block;
    //   line-height: 84px;
    //   z-index: 2;
    //   font-size: 16px;
    // }
    // .percent:after {
    //   content: '%';
    //   margin-left: 0.1em;
    //   font-size: .8em;
    // }
    // .description {
    //   display: inline-block;
    //   padding: 20px 0 0 20px;
    //   font-size: 18px;
    //   opacity: 0.9;
    //   .description-stats {
    //     padding-top: 8px;
    //     font-size: 24px;
    //   }
    // }
    // .angular {
    //   margin-top: 100px;
    // }
    // .angular .chart {
    //   margin-top: 0;
    // }
    // }
    // // .card > .card-body {
    // //   padding: 15px 22px;
    // //   height: 100%;
    // // }
    // .orange {
    //   background-color: #fbad4b;
    //   padding: 15px 22px;
    //   height: 100%;
    //   border-radius: 0;
    // }
    // .green {
    //   background-color: #59cf5d;
    //   padding: 15px 22px;
    //   height: 100%;
    //   border-radius: 0;
    // }
    // .pink {
    //   background-color: #ff646c;
    //   padding: 15px 22px;
    //   height: 100%;
    //   border-radius: 0;
    // }
    // .blue {
    //   background-color: #538fe3;
    //   padding: 15px 22px;
    //   height: 100%;
    //   border-radius: 0;
    // }
    // .description1{
    //   text-align: center;
    //   width: 100%;
    //   padding: 15px 0 12px 0 !important;
    //   color: #ffffff;
    // }
    // .proPer{
    //   // position: absolute;
    //   width: 21%;
    //   margin: 0
    // }
    /*************************************************** New dashboard styles ****************************************************/
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-column-gap: 20px;
    }
    .dashcontents {
        padding-top: 30px;
        padding-left: 20px;
        padding-right: 20px;
        height: 100%;
        // background: #fff;
    }
    .componentCard {
        background: #fff;
        padding: 12px;
        color: #272727;
        -webkit-box-shadow: 1px 2px 5px #ccc;
        box-shadow: 1px 2px 5px #ccc;
    }
    .componentCard1 {
        background: #fff;
        padding: 20px 10px;
        color: #272727;
        -webkit-box-shadow: 1px 2px 5px #ccc;
        box-shadow: 1px 2px 5px #ccc;
    }
    .gridSections {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-column-gap: 10px;
        padding: 0 10px;
        height: 100%;
    }
    .txtMargin {
        margin: auto;
    }
    .gridIn4 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-column-gap: 20px;
    }
    .subtitile {
        margin: 0;
        font-size: 13px;
        line-height: 18px;
        text-align: left;
        width: 100%;
    }
    .titleNo {
        font-size: 24px;
        text-align: left;
        width: 100%;
        margin: 0;
        line-height: 35px;
    }
    .iconClass {
        font-size: 50px;
        // color: #076ba1;
        color: var(--colorIcons);
        text-align: center;
        margin: auto;
    }
    .borderRightNBottom {
        border-right: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
    }
    .borderBottom {
        border-bottom: 1px solid #ccc;
    }
    .borderRight {
        border-right: 1px solid #ccc;
    }
    .cupIcon {
        font-size: 80px;
        // color: #076ba1;
        color: var(--colorIcons);
        margin: auto;
    }
    .flexBars {
        display: flex;
        width: 100%;
    }
    .barChartgrid {
        display: grid;
        grid-template-columns: 1fr 5fr;
        grid-column-gap: 20px;
    }
    .dateinput {
        display: none;
    }
    .progressBar {
        width: 100%;
    }
    .dateDiv {
        height: 300px;
        overflow-y: scroll;
    }
    .rowYrList {
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid #ccc;
        font-size: 18px;
        cursor: pointer;
    }
    .noDataAvail {
        padding: 20px;
        text-align: center;
        color: #565656;
    }
    .progress-container {
        background: #e9edf8 !important;
        border-radius: 0 !important;
        height: 30px !important;
        line-height: 30px !important;
        margin-bottom: 5px !important;
    }
    .progress-value {
        // background-color: #076ba1 !important;
        background-color: var(--colorCommon) !important;
        display: flex !important;
    }
    .enrolTxt {
        color: #b97d7d;
        font-size: 12px;
        text-align: center;
        line-height: 30px;
        margin-left: 3%;
        font-weight: 600;
    }
    .margin25 {
        margin: 25px;
    }
    .progresstext {
        margin: 0;
        font-size: 9px;
        line-height: 12px;
        font-weight: 100;
        text-align: right;
    }
    .smallTexts {
        margin: auto;
        margin-right: 4px;
    }
    .courseName {
        width: 100%;
        text-align: left;
        padding-left: 10px;
    }
    .grid-rows {
        display: grid;
        // grid-template-rows: auto auto;
        grid-row-gap: 20px;
    }
    .secondGridCOl {
        display: grid;
        // grid-template-columns: 3fr 2fr !important;
        grid-column-gap: 20px;
    }
    canvas {
        height: 300px !important;
    }
    .mostPopularTxt {
        text-align: center;
        font-weight: 400;
        color: #101010;
        text-transform: capitalize;
        font-size: 16px;
        margin-bottom: 0;
        min-width: 500px;
        margin-top: 15px;
    }
    .cardBg {
        background: #ffff;
        box-shadow: 1px 3px 6px #ccc;
        // height:200px;
    }
    .gridTable {
        width: auto;
        text-align: center;
    }
    .columnRow {
        display: grid;
        grid-template-rows: auto auto;
        grid-row-gap: 20px;
    }
    .tableheadings {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        height: 50px;
        font-size: 14px;
        align-items: center;
        border-bottom: 1px solid #ccc;
    }
    .tableheadings_line {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 2fr;
        height: 50px;
        font-size: 14px;
        align-items: center;
        border-bottom: 1px solid #ccc;
    }
    .tableHeadPara {
        margin: 0;
        line-height: 16px;
    }
    .tableRoww {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        height: 40px;
        border-bottom: 1px solid #ccc;
    }
    .tableRoww_line {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 2fr;
        height: 40px;
        border-bottom: 1px solid #ccc;
    }
    .marginAuto {
        margin: auto;
    }
    .scrollableRows {
        height: 265px !important;
        overflow-y: scroll;
    }
    .scrollableRows::-webkit-scrollbar {
        width: 10px !important;
        scroll-margin-left: 10px !important;
    }
    .scrollableRows::-webkit-scrollbar-thumb {
        background: #e3e9ee !important;
        border-radius: 25px !important;
    }
    .scrollableRows::-webkit-scrollbar-track {
        display: none !important;
    }
    .chartDiv {
        display: flex;
    }
    .gridCard {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 20px;
        // background: #f8f8f8;
        padding: 20px;
        // box-shadow: 1px 3px 6px #ccc;
    }
    .ske {
        grid-column-gap: 20px;
        display: grid;
        grid-template-columns: 7fr 5fr;
        margin: 10px;
    }
    .loader,
    .loader:before,
    .loader:after {
        background: #ffffff;
        -webkit-animation: load1 1s infinite ease-in-out;
        animation: load1 1s infinite ease-in-out;
        width: 1em;
        height: 4em;
    }
    @media screen and (min-width: 1080px) {
        .secondGridCOl {
            grid-template-columns: auto auto !important;
        }
        canvas {
            // margin: auto !important;
            // width: 620px !important;
        }
    }
}

.calenderModel {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1503;
    background-color: #404040c2;
    .calenderData {
        margin: auto;
        width: 33%;
        background-color: #fff;
        border-radius: 5px;
        margin-top: 9%;
        .modal-header {
            background-color: #076ba1;
            height: 55px;
            color: #fff;
            .close {
                float: right;
                font-size: 1.5rem;
                font-weight: 700;
                line-height: 1;
                color: #fff;
                text-shadow: 0 1px 0 #fff;
                opacity: 0.5;
            }
        }
        .modalBody12 {
            height: 100%;
            padding: 15px;
        }
        .modal-footer {
            height: 55px;
        }
    }
}

.NoDataDiv {
    position: fixed;
    top: 50%;
    left: 52%;
}

i.fasa {
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0px 0px 2px #888;
    // background-color: #076ba1;
    background-color: var(--colorIcons);
    padding: 0.5em 0.6em;
}

.fa-calendar {
    color: white;
}

.cardList {
    padding: 1px;
    text-align: end;
}

.fixed_header {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.fixed_header tbody {
    display: block;
    width: 100%;
    overflow: auto;
    height: 100px;
}

.fixed_header thead tr {
    display: block;
}

.fixed_header thead {
    background: slategrey;
    color: #fff;
}

.fixed_header th,
.fixed_header td {
    padding: 5px;
    text-align: center;
    color: black;
    width: 454px;
    /* border: 1px solid lightgray; */
    border-bottom: 1px solid grey;
}


/*************skeleton*************/

.fb-item {
    width: auto;
    height: auto;
    // margin: 10px auto;
    // border: 1px solid #eaeaea;
    // padding: 10px;
}

.gravatar {
    margin-top: 5px;
    width: 60px;
    z-index: 1;
    // height: 90px;
}

.gravatar-title {
    width: 100px;
    padding: 16px 20px 0px;
    z-index: 1;
    // height: 80px;
}

.first-section-wrapper {
    // width: 100%;
    height: auto;
    flex: 1;
}

.first-section-wrapper {
    display: inline-flex;
}


/****************** Loader **************/

.customloader {
    // color: #076BA1;
    color: var(--colorCommon);
    font-size: 90px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin: 72px auto;
    position: relative;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
    animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}

@-webkit-keyframes load6 {
    0% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    38% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    100% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
}

@keyframes load6 {
    0% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    38% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    100% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
}

@-webkit-keyframes round {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes round {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}