<!-- <div class="col-md-12 nominationtoprow nominationsticky">
  <div class="col-md-9 marginAuto">
    <h3 class="headerName">Trainer</h3>
  </div>
  <div class="col-md-3 text-right" style="margin-top: 10px;margin-bottom: 10px;">
    <button type="button" class="constantbtn-button-blue-left" (click)="addEditTrainer(undefined, 0)">
      Add Trainer
    </button>
    <button type="submit" class="back_button" (click)="back()">
      Back
    </button>
  </div>
</div> -->


<app-subheader [headerConfig]="header" (addbtn)="addEditTrainer(undefined, 0)" (backClick)="back()" (inputsearch)="searchTrainer($event)" (filterClick)="gotoFilter()" (Clear)="searchTrainer($event)"></app-subheader>
<ngx-filter [courseTag]="filters" [filterInnertag]="filtersInner" [filterConfig]="filtercon" (changeFilterData)="filteredChanged1($event)" *ngIf="filter"></ngx-filter>
<div *ngIf="!noTrainerFound" class="">
    <div class=" bgwhite disnone" style="height: 460px;width: 230px; ">
        <div>
            <div class="listheadings">
                <!-- <label class="custom-control"> -->
                <!-- <p class="listLabel">Search</p>
        <br /> -->
                <input type="text" class="textBoxLength" placeholder="Search by name" (keyup)="searchTrainer($event)" />
                <!-- </label> -->
            </div>
            <div class="listheadings" data-toggle="collapse" data-target="#LC">
                <p class="listLabel">Languages</p>
                <p class="filterLength">{{ SelectedCategoryLength.languageId }}</p>
            </div>
            <div id="LC" class="collapse">
                <div class="custom-control custom-checkbox small" *ngFor="let language of Languages; let i = index">
                    <label class="checkContainer1" for="language{{ i }}">{{ language.languageName }}
          <input type="checkbox" id="language{{ i }}" class="" (click)="
              onUpdateSubjectName($event); subjectName(language, 'languageId')
            " />
          <span class="checkmarkDiv"></span>
        </label>
                </div>

                <!-- <div
                      class="custom-control custom-checkbox small"
                      *ngFor="let language of Languages; let i = index">

                      <input
                        type="checkbox"
                        class=""
                        id="language{{ i }}"
                        (click)="onUpdateSubjectName($event); subjectName(language, 'languageId')"
                      />
                      <label class="" for="language{{ i }}">
                        {{ language.languageName }}</label
                      >
                    </div> -->
            </div>

            <div class="listheadings" data-toggle="collapse" data-target="#SC">
                <p class="listLabel">Standards</p>
                <p class="filterLength">{{ SelectedCategoryLength.standardId }}</p>
            </div>
            <div id="SC" class="collapse">
                <div class="custom-control custom-checkbox small" *ngFor="let standard of Standards; let i = index">
                    <label class="checkContainer1" for="standard{{ i }}">{{ standard.standardName }}
          <input type="checkbox" id="standard{{ i }}" class="" (click)="
              onUpdateSubjectName($event); subjectName(standard, 'standardId')
            " />
          <span class="checkmarkDiv"></span>
        </label>
                </div>
            </div>
            <div class="listheadings" data-toggle="collapse" data-target="#StatusC">
                <p class="listLabel">Visibility</p>
                <p class="filterLength">{{ SelectedCategoryLength.visibilityId }}</p>
            </div>
            <div id="StatusC" class="collapse">
                <div class="custom-control custom-checkbox small" *ngFor="let visibility of Visibility; let i = index">
                    <label class="checkContainer1" for="visibility{{ i }}">{{ visibility.visibilityName }}
          <input type="checkbox" id="visibility{{ i }}" class="" (click)="
              onUpdateSubjectName($event);
              subjectName(visibility, 'visibilityId')
            " />
          <span class="checkmarkDiv"></span>
        </label>
                </div>

                <!-- <div
                      class="custom-control custom-checkbox small"
                      *ngFor="let visibility of Status; let i = index"
                    >
                      <input
                        type="checkbox"
                        class=""
                        id="visibility{{ i }}"
                        (click)="
                          onUpdateSubjectName($event); subjectName(visibility, 'visibilityId')
                        "
                      />
                      <label class="" for="visibility{{ i }}"> {{ visibility.visibilityName }}</label>
                    </div> -->
            </div>
            <div class="listheadings" data-toggle="collapse" data-target="#isInternal">
                <p class="listLabel">Trainer Type</p>
                <p class="filterLength">{{ SelectedCategoryLength.trainerTypeId }}</p>
            </div>
            <div id="isInternal" class="collapse">
                <div class="custom-control custom-checkbox small" *ngFor="let trainer of trainerType; let i = index">
                    <label class="checkContainer1" for="trainer{{ i }}">{{ trainer.trainerTypeName }}
          <input type="checkbox" id="trainer{{ i }}" class="" (click)="
              onUpdateSubjectName($event);
              subjectName(trainer, 'trainerTypeId')
            " />
          <span class="checkmarkDiv"></span>
        </label>
                </div>
            </div>
        </div>
        <!-- <div *ngIf="!skeleton">
            <div class="trainer-title">
                <ngx-skeleton-loader [theme]="{
                                                width: '130px',
                                                height: '30px',
                                                'margin-bottom':'8px'
                                              }"></ngx-skeleton-loader>
            </div>
            <div class="trainer-title">
                <ngx-skeleton-loader [theme]="{
                                                width: '130px',
                                                height: '30px',
                                                'margin-bottom':'8px'
                                              }"></ngx-skeleton-loader>
            </div>
            <div class="trainer-title">
                <ngx-skeleton-loader [theme]="{
                                                  width: '130px',
                                                  height: '30px',
                                                  'margin-bottom':'8px'
                                                }"></ngx-skeleton-loader>
            </div>
            <div class="trainer-title">
                <ngx-skeleton-loader [theme]="{
                                                  width: '130px',
                                                  height: '30px'
                                                }"></ngx-skeleton-loader>
            </div>
        </div> -->
    </div>

    <!-- <div class="col-md-10" *ngIf="skeleton">
    <div class="row nominationcontGrid">
      <div class="card col-md-3 trainer_card" *ngFor="let item of displayArray | filterBy: search ; let i = index">
        <div (click)="addEditTrainer(item, 1)" class="trainer_card_image"
          style="background-image: url(assets/images/courseicon.jpg)">
       
        </div>
        <div class="trainer_title" (click)="addEditTrainer(item, 1)">
          <p class="nominationtoolcontp nominationtooltip">
            {{ item.trainerName }}
          </p>
        </div>

        <div class="col-sm-12 card-footer-main">
          <div class="col-sm-6 card-footer-sub">
            <div class="" title="Edit" (click)="addEditTrainer(item, 1)">
              <i class="fa fa-edit card-footer-icon pointer" aria-hidden="true"></i>
            </div>
          </div>
          <div class="col-sm-6 card-footer-sub">
            <div class="">
              <i title="Enabled" id="disable_{{ i }}" class="fa fa-eye card-footer-icon pointer" aria-hidden="true"
                (click)="disableTrainerCard(i, item)" [hidden]="item.visibilityId == 0"></i>

              <i title="Disabled" id="enable_{{ i }}" class="fa fa-eye-slash card-footer-icon pointer"
                aria-hidden="true" (click)="disableTrainerCard(i, item)" [hidden]="item.visibilityId == 1"></i>
            </div>
          </div>
         
        </div>
      </div>
    </div>
  </div> -->

    <div class="" *ngIf="skeleton">
        <div *ngFor="let item of displayArray ;let i=index">
            <ngx-card (disabled)="clickTodisable(i,item)" [cardsList]="item" [config]="cardModify" (gotoDetails)="gotoCardEdit(item)"></ngx-card>
        </div>
    </div>

    <!-- <table>
        <tr>
            <div class="multiple_trainer_card_container" *ngIf="!skeleton">
                <div class="trainer_width1">
                    <div class="trainer_container">

                        <div class="trainer_card1">
                            <div class="trainer">
                                <ngx-skeleton-loader [theme]="{ width: '160px', height: '120px','margin': '5px' }">
                                </ngx-skeleton-loader>
                            </div>
                            <div class="trainer-title">
                                <ngx-skeleton-loader [theme]="{
                                                      width: '130px',
                                                      height: '40px'
                                                    }"></ngx-skeleton-loader>
                            </div>
                            <div class="trainer-title">
                                <ngx-skeleton-loader [theme]="{
                                                      width: '130px',
                                                      height: '40px'
                                                    }"></ngx-skeleton-loader>
                            </div>
                        </div>


                        <div class="trainer_card1">
                            <div class="trainer">
                                <ngx-skeleton-loader [theme]="{ width: '160px', height: '120px','margin': '5px' }">
                                </ngx-skeleton-loader>
                            </div>
                            <div class="trainer-title">
                                <ngx-skeleton-loader [theme]="{
                                                      width: '130px',
                                                      height: '40px'
                                                    }"></ngx-skeleton-loader>
                            </div>
                            <div class="trainer-title">
                                <ngx-skeleton-loader [theme]="{
                                                      width: '130px',
                                                      height: '40px'
                                                    }"></ngx-skeleton-loader>
                            </div>
                        </div>


                        <div class="trainer_card1">
                            <div class="trainer">
                                <ngx-skeleton-loader [theme]="{ width: '160px', height: '120px','margin': '5px'}">
                                </ngx-skeleton-loader>
                            </div>
                            <div class="trainer-title">
                                <ngx-skeleton-loader [theme]="{
                                                      width: '130px',
                                                      height: '40px'
                                                    }"></ngx-skeleton-loader>
                            </div>
                            <div class="trainer-title">
                                <ngx-skeleton-loader [theme]="{
                                                      width: '130px',
                                                      height: '40px'
                                                    }"></ngx-skeleton-loader>
                            </div>
                        </div>


                        <div class="trainer_card1">
                            <div class="trainer">
                                <ngx-skeleton-loader [theme]="{ width: '160px', height: '120px','margin': '5px'}">
                                </ngx-skeleton-loader>
                            </div>
                            <div class="trainer-title">
                                <ngx-skeleton-loader [theme]="{
                                                      width: '130px',
                                                      height: '40px'
                                                    }"></ngx-skeleton-loader>
                            </div>
                            <div class="trainer-title">
                                <ngx-skeleton-loader [theme]="{
                                                      width: '130px',
                                                      height: '40px'
                                                    }"></ngx-skeleton-loader>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </tr>
        <tr>
            <div class="multiple_trainer_card_container" *ngIf="!skeleton">
                <div class="trainer_width1">
                    <div class="trainer_container">

                        <div class="trainer_card1">
                            <div class="trainer">
                                <ngx-skeleton-loader [theme]="{ width: '160px', height: '120px','margin': '5px'}">
                                </ngx-skeleton-loader>
                            </div>
                            <div class="trainer-title">
                                <ngx-skeleton-loader [theme]="{
                                                          width: '130px',
                                                          height: '40px'
                                                        }"></ngx-skeleton-loader>
                            </div>
                            <div class="trainer-title">
                                <ngx-skeleton-loader [theme]="{
                                                          width: '130px',
                                                          height: '40px'
                                                        }"></ngx-skeleton-loader>
                            </div>
                        </div>


                        <div class="trainer_card1">
                            <div class="trainer">
                                <ngx-skeleton-loader [theme]="{ width: '160px', height: '120px','margin': '5px'}">
                                </ngx-skeleton-loader>
                            </div>
                            <div class="trainer-title">
                                <ngx-skeleton-loader [theme]="{
                                                          width: '130px',
                                                          height: '40px'
                                                        }"></ngx-skeleton-loader>
                            </div>
                            <div class="trainer-title">
                                <ngx-skeleton-loader [theme]="{
                                                          width: '130px',
                                                          height: '40px'
                                                        }"></ngx-skeleton-loader>
                            </div>
                        </div>


                        <div class="trainer_card1">
                            <div class="trainer">
                                <ngx-skeleton-loader [theme]="{ width: '160px', height: '120px','margin': '5px'}">
                                </ngx-skeleton-loader>
                            </div>
                            <div class="trainer-title">
                                <ngx-skeleton-loader [theme]="{
                                                          width: '130px',
                                                          height: '40px'
                                                        }"></ngx-skeleton-loader>
                            </div>
                            <div class="trainer-title">
                                <ngx-skeleton-loader [theme]="{
                                                          width: '130px',
                                                          height: '40px'
                                                        }"></ngx-skeleton-loader>
                            </div>
                        </div>


                        <div class="trainer_card1">
                            <div class="trainer">
                                <ngx-skeleton-loader [theme]="{ width: '160px', height: '120px','margin': '5px'}">
                                </ngx-skeleton-loader>
                            </div>
                            <div class="trainer-title">
                                <ngx-skeleton-loader [theme]="{
                                                          width: '130px',
                                                          height: '40px'
                                                        }"></ngx-skeleton-loader>
                            </div>
                            <div class="trainer-title">
                                <ngx-skeleton-loader [theme]="{
                                                          width: '130px',
                                                          height: '40px'
                                                        }"></ngx-skeleton-loader>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </tr>
    </table> -->
    <app-skeleton [count]='count' *ngIf="!skeleton"></app-skeleton>

</div>
<div *ngIf="noTrainerFound">
    <!-- <div class="">
            <img style="width: 100%" src='assets/images/noDataFound1.png'>
        </div> -->
    <ngx-no-data [config]="noDataVal"></ngx-no-data>
</div>
<div class="deleteModalBackdrop" *ngIf="enableDisableTrainerModal == true">
    <div class="deleteModal">
        <div class="modal-header deleteModalHeader">
            <p *ngIf="!enableTrain" class="enableDisableModalHeaderP">Enable Trainer</p>
            <p *ngIf="enableTrain" class="enableDisableModalHeaderP">Disable Trainer</p>
            <button class="close closeDeleteModalBtn" aria-label="Close" (click)="closeEnableDisableTrainerModal()">
                      <span aria-hidden="true">&times;</span>
                  </button>
        </div>

        <div class="modal-body">
            <div class="" *ngIf="!enableTrain">
                <p class="enableDisableModalBodyP">Are you sure you want to Enable {{enableTrainData.trainerName}} ?</p>
            </div>
            <div class="" *ngIf="enableTrain">
                <p class="enableDisableModalBodyP">Are you sure you want to Disable {{enableTrainData.trainerName}} ?</p>
            </div>
        </div>

        <div class="modal-footer deleteModalFooter">
            <div class="col-md-2">
                <button type="button" class="deleteModalBtn" (click)="enableDisableTrainerAction(true)">Yes</button>
            </div>
            <div class="col-md-2">
                <button type="button" class="deleteModalBtn" (click)="enableDisableTrainerAction(false)">No</button>
            </div>
        </div>
    </div>
</div>