@import '../../../@theme/styles/variable.scss';
.nominationtoprow {
    border: none;
    height: 50px;
    background-color: #ffffff;
    width: 100%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin: auto;
    // position: fixed;
    // z-index: 1;
    position: sticky;
    top: 67px;
    z-index: 1;
}
.disnone {
    display: none;
}
.nominationsticky-top {
    position: sticky;
    top: 67px;
    z-index: 1090;
}

.nominationmarginLft {
    margin-left: 10px;
}

.nominationcontGrid {
    height: auto;
    width: 100%;
    display: inline-flex;
    margin: 0px;
    padding: 0px;
}

.nominationcontentCard {
    color: #000000;
    background-color: #ffffff;
    /*border: 0px solid #0000000a;*/
    border: 0px;
    box-shadow: none;
}

.NoDataDiv {
    position: fixed;
    top: 50%;
    left: 52%;
}

.nominationcontsep {
    border-bottom: 1px solid #f1f5f8;
    margin-bottom: 5px;
}

.nominationtoolcontp {
    text-align: center;
    margin: 1% 0% !important;
    width: 92%;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
}

.nominationcontGrid>div {
    width: 100%;
    padding: 0;
    margin: 4% 0 0 4%;
    height: 100%;
    flex: 0 0 20%;
    a {
        text-align: center;
        cursor: pointer;
    }
    a>img {
        // width: 70%;
        // height: 165px;
        width: 100%;
        height: 125.656px;
    }
    div {
        width: 100%;
        cursor: pointer;
        // display: inline-flex;
        // margin: 0.7rem 0;
        // p{
        //   text-align: center;
        //   margin: 4% 0% !important;
        //   width: 100%;
        // }
        // div
        // {
        //   width: 8%;
        //   float: right;
        //   margin: 4% 0% !important;
        // }
        .nominationtoolcontp {
            text-align: center;
            margin: 1% 0% !important;
            width: 92%;
            cursor: pointer;
            font-size: 20px;
            font-weight: 500;
        }
        .toolcont {
            width: 8%;
            float: right;
            margin: 3% 0% !important;
        }
    }
}

.headerName {
    margin: 0;
}

.marginAuto {
    margin: auto;
}

.nominationtooltip {
    position: relative;
    display: inline-block;
    opacity: 1;
}

.constantBackbtn {
    width: auto !important;
    border: none;
    // padding: 6px 14px !important;
    background-color: #076ba1 !important;
    color: #fff !important;
    height: 28px !important;
}

.blended-program-nomination-card {
    // color: #000000;
    // background-color: #ffffff;
    // /*border: 0px solid #0000000a;*/
    // border: 0px;
    // box-shadow: none;
    position: relative;
}

.blended-program-nomination-disabled {
    background-color: #00000082;
    height: 100%;
    position: absolute;
    z-index: 2;
    /* color: #fff; */
    display: grid;
    text-align: center;
    align-items: center;
}

.disabled-icon {
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}

.addEditCattoprow {
    // padding: 12px;
    border: none;
    background-color: #ffffff;
    height: auto;
    width: 100%;
    display: inline-flex;
}

.floteright {
    float: right;
    font-size: 13px;
    background-color: #fff;
}

.addEditCatsticky-top {
    position: sticky;
    top: 67px;
    z-index: 1090;
}

.addEditCatHead {
    // padding: 15px 0px 15px 30px;
    margin: 15px auto;
}

.dropdown-height {
    height: 34px !important;
}

.bgwhite {
    background-color: white;
    padding: 15px;
    // height: -webkit-fill-available;
    top: 107px;
    z-index: 1;
    overflow-y: auto;
    position: sticky;
}

.padding-top {
    padding-top: 15px;
}

.padding-bottom {
    padding-bottom: 20px;
}

.margin-top {
    margin-top: 15px;
}

.margin-vertical {
    margin-top: 20px;
    margin-bottom: 20px;
}

.margin-all {
    margin: 20px;
}

.padding-all {
    padding: 20px;
}

.constantbtn-approve {
    background: green;
    color: white;
    border: none;
    width: auto !important;
    min-width: 90px !important;
    max-height: 36px !important;
}

.constantbtn-reject {
    background: red;
    color: white;
    border: none;
    width: auto !important;
    min-width: 90px !important;
    max-height: 36px !important;
}

// radio button style code start here
// /* The container */
.containerRadio {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    // font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

// /* Hide the browser's default radio button */
.containerRadio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

// /* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}


/* On mouse-over, add a grey background color */

.containerRadio:hover input~.checkmark {
    background-color: #ccc;
}


/* When the radio button is checked, add a blue background */

.containerRadio input:checked~.checkmark {
    background-color: #2196F3;
}

// /* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

// /* Show the indicator (dot/circle) when checked */
.containerRadio input:checked~.checkmark:after {
    display: block;
}

// /* Style the indicator (dot/circle) */
.containerRadio .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

// radio style code end here
.catrow {
    height: auto;
    width: 100%;
    display: inline-flex;
    margin: 0px;
    padding: 0px;
}

.catrow>div {
    // width: 100%;
    // padding: 0;
    // margin:3%;
    // height: 100%;
    width: 100%;
    padding: 0;
    margin: 4% 0 0 4%;
    height: 100%;
    flex: 0 0 20%;
    a {
        text-align: center;
    }
    a>img {
        // width: 100%;
        width: 100%;
        // height: 100%;
        height: 125.656px;
        // height: 190px;
    }
    div {
        width: 100%;
        // margin: 0.7rem 0;
        .toolcatp1 {
            text-align: center;
            margin: 1% 0% !important;
            // width: 92%;
            width: 100%;
            cursor: pointer;
            font-size: 16px;
            font-weight: 500;
            color: black;
        }
        .toolcat1 {
            width: 8%;
            float: right;
            margin: 3% 0% !important;
        }
    }
}

.catsep {
    border-bottom: 1px solid #f1f5f8;
    margin-bottom: 5px;
}

.catdesp {
    color: black;
}

.NoDataDiv {
    position: fixed;
    top: 50%;
    left: 52%;
}

.assetHead {
    border: none;
    background-color: #ffffff;
    height: auto;
    width: 100%;
    display: inline-flex;
}

.sticky-assetHead {
    position: sticky;
    top: 67px;
    z-index: 1090;
}

.marginTop14 {
    margin-top: 14px;
}

.assetsearchdiv {
    float: left;
    // margin: 7.5px;
    margin: 10.5px;
    display: inline-flex;
    border: 1px solid #cbcbcb;
    padding: 0;
}

// .searchdiv{
//   float: left;
//   margin: 10px !important;
//   display: inline-flex;
//   border: 1px solid #cbcbcb;
//   padding: 0;
// }
.assetsearchdiv>input {
    border-radius: 0;
    border: 0px;
    background-color: #ffffff !important;
     :focus {
        background-color: #ffffff;
    }
}

.assetRemove {
    background-color: #ffffff;
    //padding: 9px 9px 0 0;
    // padding: 9px 1px 0px 0px;
    padding: 9px 5px;
}

.pad14px {
    padding: 12px;
}

.assetBackButton {
    width: auto !important;
    border: none;
    padding: 6px 14px !important;
    background-color: #076ba1 !important;
    color: #fff !important;
    text-transform: uppercase !important;
    min-width: 90px !important;
    max-height: 29px !important;
    margin-left: 5px;
}

.assetSubmit {
    width: auto !important;
    border: none;
    padding: 6px 14px !important;
    background-color: #076ba1 !important;
    color: #fff !important;
    text-transform: uppercase !important;
    min-width: 90px !important;
    max-height: 29px !important;
}

.noLftPadding {
    padding-left: 0 !important;
}

.listheadings {
    height: 40px;
    // border-top: 0.5px solid #68c7fb;
    // border-bottom: 0.5px solid #68c7fb
    border-bottom: 0.5px solid var(--colorCommon);
    display: flex;
    cursor: pointer;
}

.listLabel {
    line-height: 30px;
    font-size: 15px;
    font-weight: 100 !important;
    width: 100%;
    margin: auto;
    // color: #076ba1;
    color: var(--colorCommon);
}

.sticky-top {
    position: sticky;
    position: -webkit-sticky;
    top: 67px;
    z-index: 1030;
}

.filterLength {
    min-width: 25px;
    height: 25px;
    line-height: 25px;
    color: #fff !important;
    margin: auto;
    font-size: 13px;
    // background: #076ba1;
    background: var(--colorCommon);
    text-align: center;
}

.trainer_card {
    position: relative;
    background: #fff;
    text-align: center;
    -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, .05);
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, .05);
    border-radius: 10px;
    width: 100%;
    padding: 0;
    margin: 4% 0 0 4%;
}

.trainer_card_image {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 150px;
    width: 100%;
    background-position: center;
    background-size: cover;
}

.trainer_title {
    padding: 10px;
    border-top: 1px solid #f1f5f8;
    border-bottom: 1px solid #f1f5f8;
    color: #000;
    font-size: 20px;
    min-height: 70px;
    word-break: break-word;
}

.textBoxLength {
    width: 100%;
    height: 25px;
    line-height: 25px;
    margin: auto;
    outline: none;
    border: none;
    font-size: 13px;
    color: #484343;
}

.textBoxLength::placeholder {
    color: var(--colorCommon);
}

.scroll-Div {
    height: 200px;
    overflow-y: scroll;
}

.scroll-Div::-webkit-scrollbar {
    width: 20px;
    scroll-margin-left: 10px;
}

.scroll-Div::-webkit-scrollbar-thumb {
    background: #E3E9EE;
    border-radius: 25px;
}

.scroll-Div::-webkit-scrollbar-track {
    display: none;
}


/* Hide the browser's default checkbox */

.checkContainer1 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}


/* Create a custom checkbox */

.checkmarkDiv {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    margin: 12px 0;
    width: 18px;
    // border: 1px solid #2196F3;
    border: 1px solid var(--colorCommon);
    background-color: #feffff;
}


/* On mouse-over, add a grey background color */

.checkContainer1:hover input~.checkmarkDiv {
    background-color: #F1F5F8;
}


/* When the checkbox is checked, add a blue background */

.checkContainer1 input:checked~.checkmarkDiv {
    background-color: #feffff
}


/* Create the checkmark/indicator (hidden when not checked) */

.checkmarkDiv:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the checkmark when checked */

.checkContainer1 input:checked~.checkmarkDiv:after {
    display: block;
}


/* Style the checkmark/indicator */

.checkContainer1 .checkmarkDiv:after {
    left: 6px;
    top: 0px;
    width: 6px;
    height: 12px;
    // border: solid #2196F3;
    border: solid var(--colorCommon);
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.checkContainer1 {
    margin: 0;
    line-height: 30px;
    width: 100%;
    font-size: 14px;
    padding-left: 15px;
    font-weight: 100;
    cursor: pointer;
}

.multiple_trainer_card_container {
    // background: $background_for_card_container;
    margin: 50px 50px 30px;
    // margin: auto;
    .trainer_container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-column-gap: 27px;
        grid-row-gap: 20px;
        .trainer_card1 {
            position: relative;
            background: #fff;
            text-align: center;
            box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
            border-radius: 10px;
        }
    }
}

// .gravatar {
//   margin-top: 10px;
//   width: 60px;
//   // height: 90px;
// }
// .gravatar-title {
//   padding-top: 10px
// }
.trainer_width1 {
    width: 750px;
}