<div class="no-data text-center {{config?.margin}}">
    <img [src]="config?.imageSrc" alt="no-data">
    <h1 *ngIf="config?.titleShow==true">{{config?.title}}</h1>
    <p *ngIf="config?.descShow==true"> {{config?.desc}}</p>
    <!-- <a *ngIf="config.linkShow==true" target="_blank" [href]="config.link" class="d-block pb-4">{{config.linkTxt}}</a> -->
    <button *ngIf="config?.btnShow==true" class="commoen-button mt-2 ml-0" (click)="navigate()">{{config?.btnText}}
        <!-- <i class="fas fa-long-arrow-alt-right"></i> -->
        <!-- <i class="fas fa-chevron-right"></i> -->
    </button>
</div>
