$color: #305ab6;
.no-data {
    width: 55%;
    margin: auto;
    img {
        width: 50%;
    }
    h1 {
        font-size: 19px;
    }
    p {
        font-size: 15px;
    }
    .commoen-button{
      padding: 6px 10px;
    border: none;
      margin-left: 10px;
    font-size: 14px;
    border-radius: 3px;
    background: var(--colorBgbtn);
    color: var(--colorBtnTxt);
    border: 1px solid var(--colorBtnTxt);
    outline: none;
    text-transform: capitalize;
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
    }
    // .learnBtn {
    //     z-index: 1;
    //     border: none;
    //     width: 155px;
    //     color: #fff;
    //     font-size: 14px;
    //     overflow: hidden;
    //     padding: 6px 12px;
    //     border-radius: 3px;
    //     position: relative;
    //     letter-spacing: 0.9px;
    //     display: inline-block;
    //     -webkit-transition: all 0.3s;
    //     transition: all 0.3s;
    //     // text-transform: uppercase;
    //     i {
    //         // top: 12.5px;
    //         // right: 25px;
    //         // font-size: 10px;
    //         // position: absolute;
    //         // transition: all 0.5s ease;
    //     }
    //     &:after {
    //         content: "";
    //         position: absolute;
    //         bottom: 0;
    //         left: 0;
    //         width: 100%;
    //         height: 100%;
    //         background-color: $color;
    //         border-radius: 3px;
    //         z-index: -2;
    //     }
    //     &:before {
    //         content: "";
    //         position: absolute;
    //         bottom: 0;
    //         left: 0;
    //         width: 0%;
    //         height: 100%;
    //         background-color: darken($color, 15%);
    //         transition: all 0.3s;
    //         border-radius: 3px;
    //         z-index: -1;
    //     }
    //     &:hover {
    //         color: #fff;
    //         i {
    //             right: 20px;
    //         }
    //         &:before {
    //             width: 100%;
    //         }
    //     }
    // }
}
