<div class="search_bar" *ngIf='!noEmpEnrol'>
    <div class="search_container">
        <input type='text' class="manSearchUsr searchInput" [(ngModel)]="searchString" placeholder='Search by ECN, Name, Email' (keyup)='searchEnrol($event)' name="fname" />
        <i class="fa fa-remove searchRemove" (click)="clearesearch()"></i>
    </div>
    <div class="refresh_list">
        <button class="button-refresh" title="Refresh" (click)="refreshSteps()">
      <!-- <i class="fas fa-sync-alt"></i> -->
      <i class="fa fa-refresh" aria-hidden="true"></i>
    </button>
    </div>

</div>
<div class="nominee_details">
    <div class="tableheadings" *ngIf='!noEmpEnrol'>
        <p class="column">Ecn</p>
        <p class="column">Name</p>
        <p class="column">Contact</p>
        <p class="column">Email</p>
        <!-- <p class="column">Workflows</p> -->
    </div>

    <div class="tableCells" *ngIf='!noEmpEnrol'>
        <div class="rows-Container border_bottom" *ngFor="let row of tempNominees; let rowIndex = index">
            <div class="tableRow height10">
                <div class="column">
                    <p class="tableData">{{ row.ecn }}</p>
                </div>
                <div class="column">
                    <p class="tableData">{{ row.name }}</p>
                </div>
                <div class="column">
                    <p class="tableData">{{ row.phone }}</p>
                </div>
                <div class="column">
                    <p class="tableData">{{ row.email }}</p>
                </div>
            </div>
            <!--[ngStyle]="{ 'grid-template-columns': numberOfCol() }" -->
            <div class="stepColumn">
                <div *ngFor="let step of row.finalWf; let stepIndex = index">
                    <!-- !step.clickableType -->
                    <button class="stepno" (click)="showRowDetail(rowIndex, stepIndex, row, step)" [disabled]="step.status == '0' || step.status == '3'" [ngClass]="{
              activeStep: stepIndex == stepSelectedOrder && selectedRow == rowIndex,
              completedStep: step.status == '1',
              rejectedStat: step.status == '0',
              pendingStat: step.status == '2'
            }">
            <!-- -->
            <p class="stepLabel" [title]="step.stepName">
              {{ stepIndex + 1 }}
            </p>
            </button>

                    <p class="step_name" [title]="step.stepName">
                        {{ step.stepName }}
                    </p>
                </div>

            </div>

            <div class="rowDetail" *ngIf="showDetail == true && selectedRow == rowIndex">

                <div class="innerRow">
                    <div class="workflowContent" *ngIf="stepSelected == 1">
                        <!-- <p class="stepHeader">Nominee Details :</p> -->

                        <div class="width100percent table_padding">
                            <table class="width100percent">
                                <tr class="rowBorder ">
                                    <!-- <th rowspan="5" class="imgCell">
                    <img src="{{ employee_Detail.profile_pic }}" class="pSize_Img" />
                  </th> -->

                                    <td class="tableData">
                                        <p class="noMargin">
                                            Full Name : <span class="pl-3">{{ employee_Detail.name }}</span>
                                        </p>
                                    </td>
                                    <td class="tableData">
                                        <p class="noMargin">
                                            Business : <span class="pl-3">{{ employee_Detail.business }}</span>
                                        </p>
                                    </td>
                                    <td class="tableData">
                                        <p class="noMargin">
                                            Sub Department : <span class="pl-3">{{ employee_Detail.subDept }}</span>
                                        </p>
                                    </td>
                                </tr>
                                <tr class="rowBorder">
                                    <td class="tableData">
                                        <p class="noMargin">
                                            Contact No. : <span class="pl-3">{{ employee_Detail.phone }}</span>
                                        </p>
                                    </td>
                                    <td class="tableData">
                                        <p class="noMargin">
                                            Alternate Contact No. : <span class="pl-3">{{ employee_Detail.alternate_phone }}</span>
                                        </p>
                                    </td>
                                    <td class="tableData">
                                        <p class="noMargin">
                                            Email Id : <span class="pl-3">{{ employee_Detail.email }}</span>
                                        </p>
                                    </td>
                                </tr>
                                <tr class="rowBorder">
                                    <td class="tableData">
                                        <p class="noMargin">
                                            Reporting Manager : <span class="pl-3">{{ employee_Detail.reporting_Manager }}</span>
                                        </p>
                                    </td>
                                    <td class="tableData">
                                        <p class="noMargin">Band : <span class="pl-3">{{ employee_Detail.band }}</span></p>
                                    </td>
                                    <td class="tableData">
                                        <p class="noMargin">
                                            Trained before ? : <span class="pl-3">{{ employee_Detail.trained_before }}</span>
                                        </p>
                                        <!-- <p class="noMargin" *ngIf="!employee_Detail.trainer_before">Are you trainer before ?  :  No</p> -->
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div class="workflowContent" *ngIf="stepSelected == 2">
                        <!-- <p class="stepHeader">BH Approval Status :</p> -->
                        <div class="">
                            <form class="BHApprovalGrid" #bhForm="ngForm">
                                <div class="">
                                    <label class="formlabel">Approver Name: </label>
                                    <p class="approverName">{{ BHApproved.BHName }}</p>
                                </div>
                                <div class="">
                                    <div class="form-group  col-md-12">
                                        <label class="formlabel" for="comments">Comments</label>
                                        <div class="nominationfullwidth">
                                            <textarea rows="2" class="form-control comments" #comments="ngModel" name="comments" [(ngModel)]="BHApproved.comments" id="comments" placeholder="Write your comments" style="resize: none" required></textarea>
                                        </div>

                                        <div [hidden]="comments.valid || comments.pristine" class="alert alert-danger">
                                            <div [hidden]="!comments.hasError('required')">
                                                Enter comments
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="align-self-center">
                                    <div *ngIf='approveBtn'>
                                        <button class="constantbtn-button-blue-left" [disabled]="!bhForm.form.valid" (click)="onapprove(row, BHApproved, 1)">
                      Approve
                    </button>
                                    </div>
                                    <div class="mt-2" *ngIf='rejectBtn'>
                                        <button class="constantbtn-button-blue-left" [disabled]="!bhForm.form.valid" (click)="onapprove(row, BHApproved, 0)">
                      Reject
                    </button>
                                    </div>
                                </div>

                                <!-- <div class="marginAuto">
                        <button class="constantbtn" [disabled]="!bhForm.form.valid" (click)="onapprove(3)">Reject</button>
                      </div> -->
                            </form>
                            <div *ngIf="BHApproved.status">
                                <p class="approvedStatus" *ngIf="BHApproved.approveStatus == 1">
                                    Approved by {{ BHApproved.BHName }} on {{ BHApproved.onDate }} at {{ BHApproved.onTime }}
                                </p>
                                <p class="approvedStatus" *ngIf="BHApproved.approveStatus == 0">
                                    Rejected by {{ BHApproved.BHName }} on {{ BHApproved.onDate }} at {{ BHApproved.onTime }}
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="workflowContent" *ngIf="stepSelected == 3 && !feedbackShow">
                        <!-- <p class="stepHeader">Evaluation Call Assigned to nominee :</p> -->

                        <p class="approvedStatus" *ngIf="callStartDateException">
                            An Evaluation slot with trainer {{ evaluationCallDetails.trainerName }} has been assigned to the nominee on {{ evaluationCallDetails.callDate }} between {{ evaluationCallDetails.sTime}} and {{ evaluationCallDetails.eTime }}
                            <!-- {{ evaluationCallDetails.callStartDate | date: 'shortTime' }} to
              {{ evaluationCallDetails.callEndDate | date: 'shortTime' }} has
              been assigned to the nominee on
              {{ evaluationCallDetails.callEndDate | date: 'fullDate' }}. -->

                        </p>
                        <p class="approvedStatus" *ngIf="!callStartDateException">Evaluation call has not been confirm for the nominee</p>
                    </div>

                    <div class="workflowContent" *ngIf="stepSelected == 3 && feedbackShow">
                        <!-- <p class="stepHeader">Feedback from Nominee :</p> -->
                        <div class="tablepadding">
                            <div class="tableBg">
                                <table class="feedbackTable">
                                    <tr class="tablerow tablehead">
                                        <td class="qno">Qno.</td>
                                        <td class="question">Question</td>
                                        <td class="answer">Feedback</td>
                                    </tr>
                                    <tr *ngFor="let item of feedback; let i = index" class="tablerow">
                                        <td class="qno">{{ i + 1 }}</td>
                                        <td class="question">{{ item.fName }}</td>
                                        <!-- <td class="answer">{{ item.score }}</td> -->
                                        <td class="question">
                                            <div *ngIf="item.questionTypeId != 4">
                                                {{ item.value }}
                                            </div>
                                            <div class="star_rating_container" *ngIf="item.questionTypeId == 4 && item.value != null">
                                                <star-rating [numOfStars]="4" [starType]="'svg'" [rating]="item.value"></star-rating>
                                            </div>
                                            <div *ngIf="item.questionTypeId == 4 && item.value == null">
                                                {{ 'N/A' }}
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="tablerow" *ngIf="feedbackAvgobject">
                                        <td class="qno"></td>
                                        <td class="question">{{feedbackAvgobject?.label}}</td>
                                        <td class="answer">{{feedbackAvgobject?.cnt}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <form class="evalApproval" *ngIf="stepSelected == 3 && feedbackShow" #evaluationApproval="ngForm">
                            <div class="form-group flexcol">
                                <!-- <div>
                  <label class="containerRadio ">Approve
                    <input type="radio" checked="checked" [value]="1" [(ngModel)]="evaluationCallDetails.approvalStatus" name="radio" (click)="approveReject(true)" />
                    <span class="checkmark"></span>
                  </label>
                </div> -->


                                <!-- <div>
                  <label class="containerRadio">Reject
                    <input type="radio" name="radio" [value]="0" [(ngModel)]="evaluationCallDetails.approvalStatus" (click)="approveReject(false)" />
                    <span class="checkmark"></span>
                  </label>
                </div> -->
                                <div>
                                    <label class="container"><span class="label-checkbox" (click)="approveReject(true)">Approve</span>
                    <input type="radio" [value]="1"
                    name="Approve" [(ngModel)]="evaluationCallDetails.approvalStatus"
                    >
                    <span class="checkmark"></span>
                </label>
                                </div>
                                <div>
                                    <label class="container"><span class="label-checkbox">Reject</span>
                    <input type="radio" [value]="0"   [(ngModel)]="evaluationCallDetails.approvalStatus" (click)="approveReject(false)"
                    name="reject"
                    >
                    <span class="checkmark"></span>
                </label>
                                </div>


                                <div class="" *ngIf="showReason">
                                    <div class="form-group">
                                        <label class="formlabel" for="comments">Reason</label>
                                        <div class="nominationfullwidth">
                                            <textarea rows="2" cols="12" class="form-control comments" #reason="ngModel" name="reason" [(ngModel)]="evaluationCallDetails.reason" id="reason" placeholder="Write your reason" style="resize: none" required></textarea>
                                        </div>

                                        <div [hidden]="reason.valid || reason.pristine" class="alert alert-danger">
                                            <div [hidden]="!reason.hasError('required')">
                                                Enter reason
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <label class="container"><span class="label-checkbox">Publish</span>
                    <input type="checkbox" value="true" [(ngModel)]="evaluationCallDetails.isPublished"
                    name="Publish"
                    >
                    <span class="checkmark"></span>
                </label>
                                </div>
                                <div class="text-right">
                                    <button class="constantbtn-button-blue-left" (click)="evalutionApproval(row, evaluationCallDetails)">
                    Save
                  </button>
                                </div>
                            </div>

                            <!-- <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" [(ngModel)]="evaluationCallDetails.isPublished"
                  name="publishValue"  id="pubValue" />
                <label class="custom-control-label" for="pubValue">Publish</label>
              </div>  -->
                        </form>
                    </div>

                    <div class="workflowContent" *ngIf="stepSelected == 4">
                        <div *ngIf="!showDownloadList">
                            <div class="tablepadding" *ngIf="!webEventConfirm">
                                <!-- <p class="stepHeader">Assign a webinar call to the nominee :</p> -->

                                <form #webinarForm="ngForm" class="webinarForm">
                                    <div class="form-group">
                                        <label class="left_space" for="trainerName">Trainer Name
                        <h3 class="reqField">*</h3></label>
                                        <select class="form-control" name="trainerName" id="trainerName" [(ngModel)]="webinar.trainer" #trainer="ngModel" required>
                        <option value="0" selected  disabled>Select Trainer</option>
                        <option *ngFor="let trainer of trainers" value="{{ trainer.ID }}">{{ trainer.trainerName }}
                        </option>
                      </select>
                                        <div [hidden]="trainer.valid || trainer.pristine" class="alert alert-danger">
                                            <div [hidden]="!trainer.hasError('required')">
                                                Trainer Name is required
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="space_left" for="startdate"> Date
                        <h3 class="reqField">*</h3></label>
                                        <div class="nominationfullwidth">
                                            <input [owlDateTime]="dt1" [(ngModel)]="webinar.startdate" #startdate="ngModel" placeholder="dd/mm/yyyy" required class="form-control form-control-input  nominationdateinput" name="startdate" id="startdate" (dateTimeChange)="validateEndDate($event.value)"
                                                [owlDateTimeTrigger]="dt1" />
                                            <div class="nominationcalenderIcon">
                                                <i class="fa fa-calendar nominationcalfont"></i>
                                            </div>
                                            <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
                                        </div>
                                        <div [hidden]="startdate.valid || startdate.pristine" class="alert alert-danger">
                                            <div [hidden]="!startdate.hasError('required')">
                                                Start date is required
                                            </div>
                                        </div>
                                    </div>

                                    <!-- <div class="">
                    <div class="form-group">
                      <label class="space_left" for="enddate">To Date
                        <h3 class="reqField">*</h3></label>
                      <div class="nominationfullwidth">
                        <input [owlDateTime]="dt2" [(ngModel)]="webinar.enddate" #enddate="ngModel" [min]="minDateto"
                          placeholder="dd/mm/yyyy" required class="form-control form-control-input nominationdateinput"
                          name="enddate" id="enddate" [owlDateTimeTrigger]="dt2" />
                        <div class="nominationcalenderIcon">
                          <i class="fa fa-calendar nominationcalfont"></i>
                        </div>
                        <owl-date-time [pickerType]="'calendar'" #dt2></owl-date-time>
                      </div>
                      <div [hidden]="enddate.valid || enddate.pristine" class="alert alert-danger">
                        <div [hidden]="!enddate.hasError('required')">
                          End date is required
                        </div>
                      </div>
                    </div>
                  </div> -->

                                    <div class="form-group">
                                        <label class="space_left" for="time"> From Time
                        <h3 class="reqField">*</h3></label>
                                        <div class="nominationfullwidth">
                                            <input placeholder="hh:mm:ss" [(ngModel)]="webinar.fromtime" #time="ngModel" name="time" id="time" class="form-control form-control-input  nominationdateinput" [owlDateTimeTrigger]="dp2" [owlDateTime]="dp2" required />
                                            <owl-date-time [pickerType]="'timer'" [hour12Timer]="true" #dp2></owl-date-time>
                                        </div>
                                        <div [hidden]="time.valid || time.pristine" class="alert alert-danger">
                                            <div [hidden]="!time.hasError('required')">
                                                Time is required
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="space_left" for="time"> To Time
                          <h3 class="reqField">*</h3></label>
                                        <div class="nominationfullwidth">
                                            <input placeholder="hh:mm:ss" [(ngModel)]="webinar.totime" #toTime="ngModel" name="toTime" id="toTime" class="form-control form-control-input  nominationdateinput" [owlDateTimeTrigger]="dp3" [owlDateTime]="dp3" required />
                                            <owl-date-time [pickerType]="'timer'" [hour12Timer]="true" #dp3></owl-date-time>
                                        </div>
                                        <div [hidden]="time.valid || time.pristine" class="alert alert-danger">
                                            <div [hidden]="!time.hasError('required')">
                                                Time is required
                                            </div>
                                        </div>
                                    </div>

                                    <div class="marginAuto text-right">
                                        <button class="constantbtn-button-blue-left" [disabled]="!webinarForm.form.valid" (click)="webinarSubmit(row, webinar)">
                          Save
                        </button>
                                    </div>
                                </form>
                            </div>

                            <div class="tablepadding" *ngIf="webEventConfirm">
                                {{ webEventConfirmMsg }}
                            </div>

                        </div>
                        <div *ngIf="showDownloadList">
                            <!-- <p class="stepHeader">Webinar Download list :</p> -->
                            <div class="width100percent table_padding container_scroll" *ngIf="!webinarListNotFound">

                                <table class="width100percent">
                                    <tr class="rowBorder">
                                        <!-- <th rowspan="5" class="imgCell">
                      <img src="{{ employee_Detail.profile_pic }}" class="pSize_Img" />
                    </th> -->

                                        <td class="tableData">
                                            <p class="noMargin">
                                                #
                                            </p>
                                        </td>
                                        <td class="tableData">
                                            <p class="noMargin">
                                                Recording List
                                            </p>
                                        </td>
                                        <td class="tableData">
                                            <p class="noMargin">

                                            </p>
                                        </td>
                                    </tr>
                                    <tr class="rowBorder" *ngFor="let item of webinarList; let i = index">
                                        <td class="tableData">
                                            <p class="noMargin">
                                                {{i+1}}
                                            </p>
                                        </td>
                                        <td class="tableData">
                                            <p class="noMargin">
                                                Recording - {{ item?.recordingDate}}
                                            </p>
                                        </td>
                                        <td class="tableData">
                                            <!-- <p class="noMargin">
                          View
                      </p> -->
                                            <button class="constantbtn-button-blue-left" (click)="viewDownloadVideo(item)">
                        View
                      </button>
                                            <a [href]="item.link" download>
                                                <button class="constantbtn-button-blue-right">
                          Download
                        </button>
                                            </a>

                                        </td>
                                    </tr>
                                    <!-- <tr class="rowBorder">
                    <td class="tableData">
                      <p class="noMargin">
                        Reporting Manager :

                      </p>
                    </td>
                    <td class="tableData">
                      <p class="noMargin">Band : </p>
                    </td>
                    <td class="tableData">
                      <p class="noMargin">
                        das
                      </p>

                    </td>
                  </tr> -->
                                </table>
                            </div>
                            <div class="approvedStatus" *ngIf="webinarListNotFound">
                                <p><i class="fas fa-server"></i> Webinar list not found</p>
                            </div>
                        </div>

                    </div>

                    <div class="workflowContent" *ngIf="stepSelected == 6">
                        <div *ngIf="noQuizAttempted">
                            <p class="stepHeader">FG assessment has not been attempted</p>
                        </div>
                        <div *ngIf="!noQuizAttempted">
                            <!-- <p class="stepHeader">FG Assessment Details :</p> -->

                            <div class="grid2Cols">
                                <div class="tableBg">
                                    <table class="feedbackTable">
                                        <tr class="tablerow tablehead mainHead">
                                            <td class="qno">Qno.</td>
                                            <td class="question">Question</td>
                                            <td class="answer">Answers</td>
                                        </tr>
                                        <tr *ngFor="let item of fgAssessment; let i = index" class="tablerow">
                                            <td class="qno">{{ i + 1 }}</td>
                                            <td class="question">{{ item.qText }}</td>
                                            <td class="answer">{{ item.formattedAns }}</td>
                                        </tr>
                                    </table>
                                </div>

                                <div class="scoreBoard">
                                    <div class="scoreCard">
                                        <p class="cardtitle">Question</p>
                                        <p class="mb-0">{{ quizData.totalQue }}</p>
                                    </div>

                                    <div class="scoreCard">
                                        <p class="cardtitle">Correct</p>
                                        <p class="mb-0">{{ quizData.correctCount }}</p>
                                    </div>

                                    <div class="scoreCard">
                                        <p class="cardtitle">Incorrect</p>
                                        <p class="mb-0">{{ quizData.wrongCount }}</p>
                                    </div>

                                    <div class="scoreCard">
                                        <p class="cardtitle">Score</p>
                                        <p class="mb-0">{{ quizData.correctCount }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="workflowContent" *ngIf="stepSelected == 7 && feedbackShowKT">
                        <!-- <p class="stepHeader">Knowledge Test Details :</p> -->
                        <div class="width100percent">
                            <div class="grid2Cols">
                                <div class="tableBg">
                                    <table class="feedbackTable">
                                        <tr class="tablerow tablehead">
                                            <td class="qno">Qno.</td>
                                            <td class="question">Question</td>
                                            <td class="answer">Feedback</td>
                                        </tr>
                                        <tr *ngFor="let item of assessment; let i = index" class="tablerow">
                                            <td class="qno">{{ i + 1 }}</td>
                                            <td class="question" [innerHTML]="item.fName"></td>
                                            <!-- <td class="answer">{{ item.score }}</td> -->
                                            <td class="question">
                                                <div *ngIf="item.questionTypeId != 4">
                                                    {{ item.value }}
                                                </div>
                                                <div *ngIf="item.questionTypeId == 4 && item.value != null" class="star_rating_container">
                                                    <star-rating [numOfStars]="4" [starType]="'svg'" [rating]="item.value"></star-rating>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>

                                <div>
                                    <div class="scoreCard">
                                        <p class="cardtitle">Question</p>
                                        <p>10</p>
                                    </div>

                                    <div class="scoreCard">
                                        <p class="cardtitle">Correct</p>
                                        <p>8</p>
                                        <!-- <p class="approvedStatus">An Evaluation slot between {{ evaluationCallDetails.callStartDate | date:'shortTime' }} to
                          {{ evaluationCallDetails.callEndDate | date:'shortTime' }} has been assigned to the nominee on
                          {{ evaluationCallDetails.callEndDate | date:'fullDate' }}.</p> -->

                                        <!-- <p class="approvedStatus">An Evaluation call slot has been assigned to the nominee on
                            {{ evaluationCallDetails.callStartDate | date:'fullDate' }}</p> -->
                                        <!-- at  {{ evaluationCallDetails.callTime }} -->
                                    </div>

                                    <div class="scoreCard">
                                        <p class="cardtitle">Incorrect</p>
                                        <p>2</p>
                                    </div>

                                    <div class="scoreCard">
                                        <p class="cardtitle">Score</p>
                                        <p>8</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- <div class="workflowContent" *ngIf="stepSelected == 8 && feedbackShowKT">
            <p class="stepHeader">Viva Details :</p>
            <div class="grid2Cols">
              <table class="feedbackTable">
                <tr class="tablerow">
                  <td class="qno">Qno.</td>
                  <td class="question">Question</td>
                  <td class="answer">Feedback</td>
                </tr>
                <tr *ngFor="let item of assessment" class="tablerow">
                  <td class="qno">{{ item.fId }}</td>
                  <td class="question">{{ item.fName }}</td>
                  <td class="question">
                    <div *ngIf="item.questionTypeId != 4">
                      {{ item.value }}
                    </div>
                    <div *ngIf="item.questionTypeId == 4 && item.value != null">
                      <star-rating [numOfStars]="4" [starType]="'svg'" [rating]="item.value"></star-rating>
                    </div>
                    <div *ngIf="item.questionTypeId == 4 && item.value == null">
                      {{ 'N/A' }}
                    </div>
                  </td>
                </tr>
              </table>

              <div>
              </div>
            </div>
          </div> -->

                    <div class="workflowContent" *ngIf="stepSelected == 8">
                        <!-- <p class="stepHeader">Viva Details :</p> -->
                        <div class="tablepadding" *ngIf="feedbackShowVD">
                            <div class="tableBg">
                                <table class="feedbackTable">
                                    <tr class="tablerow tablehead">
                                        <td class="qno">Qno.</td>
                                        <td class="question">Question</td>
                                        <td class="answer">Feedback</td>
                                    </tr>
                                    <tr *ngFor="let item of vivaFeedBackObject; let i = index" class="tablerow">
                                        <td class="qno">{{ i + 1 }}</td>
                                        <td class="question" [innerHTML]="item.fName"></td>
                                        <td class="question">
                                            <div *ngIf="item.questionTypeId != 4">
                                                {{ item.value }}
                                            </div>
                                            <div *ngIf="item.questionTypeId == 4 && item.value != null" class="star_rating_container">
                                                <star-rating [numOfStars]="4" [starType]="'svg'" [rating]="item.value"></star-rating>
                                            </div>
                                            <div *ngIf="item.questionTypeId == 4 && item.value == null">
                                                {{ 'N/A' }}
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="approvedStatus" *ngIf="!feedbackShowVD">
                            <p><i class="fas fa-server"></i> Feedback not found</p>
                        </div>
                    </div>
                    <div class="workflowContent" *ngIf="stepSelected == 9">
                        <!-- <p class="stepHeader">Batch Selection :</p> -->

                        <p class="approvedStatus" *ngIf="batchSelected">
                            {{batchDetails.fullname}} batch is selected. it is valid from {{ batchDetails.validFromDate }} to {{ batchDetails.validToDate }}.

                        </p>
                        <p class="approvedStatus" *ngIf="!batchSelected">
                            Batch is not selected by the nominee.
                        </p>
                    </div>
                    <!-- <div class="workflowContent" *ngIf="stepSelected == 10 && mockshowVD">
                <p class="stepHeader">Mock Details :</p>
                <div class="tablepadding">
                  <div class="tableBg">
                      <table class="feedbackTable">
                          <tr class="tablerow tablehead">
                            <td class="qno">Qno.</td>
                            <td class="question">Question</td>
                            <td class="answer">Feedback</td>
                          </tr>
                          <tr *ngFor="let item of mockFeedBackObject; let i = index" class="tablerow">
                            <td class="qno">{{ i + 1 }}</td>
                            <td class="question" [innerHTML]="item.fName"></td>
                            <td class="question">
                              <div *ngIf="item.questionTypeId != 4">
                                {{ item.value }}
                              </div>
                              <div *ngIf="item.questionTypeId == 4 && item.value != null" class="star_rating_container">
                                <star-rating [numOfStars]="4" [starType]="'svg'" [rating]="item.value"></star-rating>
                              </div>
                              <div *ngIf="item.questionTypeId == 4 && item.value == null">
                                {{ 'N/A' }}
                              </div>
                            </td>
                          </tr>
                        </table>
                  </div>
                </div>

            </div> -->
                    <div class="workflowContent" *ngIf="(stepSelected == 14 || stepSelected == 10)">
                        <!-- <p class="stepHeader">
                  <span *ngIf="stepSelected == 14">Mock 2 Details :</span>
                  <span *ngIf="stepSelected == 10">Mock 1 Details :</span>
                </p> -->
                        <div class="tablepadding" *ngIf="mockshowVD">
                            <div class="approvedStatus" *ngIf="isFeedPublish.isFeedPublish == 0">
                                <span *ngIf="stepSelected == 14">Mock 2 is not published.</span>
                                <span *ngIf="stepSelected == 10">Mock 1 is not published.</span>
                            </div>
                            <div class="tableBg" *ngIf="isFeedPublish.isFeedPublish == 1">
                                <table class="feedbackTable">
                                    <tr class="tablerow tablehead">
                                        <td class="qno">Qno.</td>
                                        <td class="question">Question</td>
                                        <td class="answer">Feedback</td>
                                    </tr>
                                    <tr *ngFor="let item of mockFeedBackObject; let i = index" class="tablerow">
                                        <td class="qno">{{ i + 1 }}</td>
                                        <td class="question" [innerHTML]="item.fName"></td>
                                        <td class="question">
                                            <div *ngIf="item.questionTypeId != 4">
                                                {{ item.value }}
                                            </div>
                                            <div *ngIf="item.questionTypeId == 4 && item.value != null" class="star_rating_container">
                                                <star-rating [numOfStars]="4" [starType]="'svg'" [rating]="item.value"></star-rating>
                                            </div>
                                            <div *ngIf="item.questionTypeId == 4 && item.value == null">
                                                {{ 'N/A' }}
                                            </div>
                                        </td>
                                    </tr>
                                    <tr *ngIf="mockFeedbackAvg" class="tablerow">
                                        <td class="qno"></td>
                                        <td class="question">
                                            {{mockFeedbackAvg?.label}}
                                        </td>
                                        <td class="question">
                                            {{mockFeedbackAvg?.cnt}}
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <!-- <div class="approvedStatus" *ngIf="!mockshowVD">
                  <p><i class="fas fa-server"></i> No Data Found </p>
                </div> -->
                        <ngx-no-data [config]="noDataVal" *ngIf="!mockshowVD"></ngx-no-data>

                    </div>
                    <div class="workflowContent" *ngIf="(stepSelected == 11 || stepSelected == 15)">
                        <!-- <p class="stepHeader">
                    <span *ngIf="stepSelected == 11">Assessment 1 Feedback Details :</span>
                    <span *ngIf="stepSelected == 15">Assessment 2 Feedback Details :</span>
                  </p> -->
                        <div class="tablepadding" *ngIf="assesmentshowVD">
                            <div class="approvedStatus" *ngIf="isFeedPublish.isFeedPublish == 0">
                                <span *ngIf="stepSelected == 14">Assessment 1 not published.</span>
                                <span *ngIf="stepSelected == 10">Assessment 2 not published.</span>
                            </div>
                            <div class="tableBg" *ngIf="isFeedPublish.isFeedPublish == 1">
                                <table class="feedbackTable">
                                    <tr class="tablerow tablehead">
                                        <td class="qno">Qno.</td>
                                        <td class="question">Question</td>
                                        <td class="answer">Feedback</td>
                                    </tr>
                                    <tr *ngFor="let item of assesmentFeedBackObject; let i = index" class="tablerow">
                                        <td class="qno">{{ i + 1 }}</td>
                                        <td class="question" [innerHTML]="item.fName"></td>
                                        <td class="question">
                                            <div *ngIf="item.questionTypeId != 4">
                                                {{ item.value }}
                                            </div>
                                            <div *ngIf="item.questionTypeId == 4 && item.value != null" class="star_rating_container">
                                                <star-rating [numOfStars]="4" [starType]="'svg'" [rating]="item.value"></star-rating>
                                            </div>
                                            <div *ngIf="item.questionTypeId == 4 && item.value == null">
                                                {{ 'N/A' }}
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="tablerow">
                                        <td class="qno"></td>
                                        <td class="question">{{assesmentFeedBackAvg?.label}}</td>
                                        <td class="answer">{{assesmentFeedBackAvg?.cnt}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <!-- <div class="approvedStatus" *ngIf="!assesmentshowVD">
                    <p><i class="fas fa-server"></i> No Data Found </p>
                  </div> -->
                        <ngx-no-data [config]="noDataVal" *ngIf="!assesmentshowVD"></ngx-no-data>

                    </div>



                    <div class="workflowContent" *ngIf="stepSelected == 12">
                        <!-- <p class="stepHeader">Certificate :  <h4>{{ CertificateObject.message }}</h4></p> -->

                        <!-- <table class="approvedTable2"  *ngIf ="CerPresent">
              <tr>
                <td>
                  <img [src]="certificate.certificatePath" class="" />
                </td>
                <td class="cellpadding">
                  <p class="certifiedTxt" *ngIf="certificate.status == true">
                    Certified Facilitator
                  </p>
                  <p class="" *ngIf="certificate.status == false">
                    Non-Certified Facilitator
                  </p>
                  <p class="">{{ certificate.date | date: 'fullDate' }}</p>
                  <p>{{ certificate.approver }}</p>
                </td>
              </tr>
            </table> -->

                        <div class="certificate_grid_container" *ngIf="CerPresent">
                            <div>
                                <!-- <div class="stepHeader">Certificate </div> -->
                            </div>
                            <div class="width100percent table_padding">
                                <table class="width100percent">
                                    <tr class="rowBorder nominiTable" *ngIf="showTotal">
                                        <td class="tableData">
                                            <p class="noMargin text_bold">
                                                Steps
                                            </p>
                                        </td>
                                        <td class="tableData">
                                            <p class="noMargin text_bold">
                                                Points
                                            </p>
                                        </td>
                                    </tr>
                                    <tr class="rowBorder" *ngFor="let item of certificateContent['alltab']">
                                        <!-- <th rowspan="5" class="imgCell">
                          <img src="{{ employee_Detail.profile_pic }}" class="pSize_Img" />
                        </th> -->

                                        <td class="tableData">
                                            <p class="noMargin">
                                                {{item.displayName}}
                                            </p>
                                        </td>
                                        <td class="tableData">
                                            <p class="noMargin">
                                                {{item.points}}
                                            </p>
                                        </td>
                                        <!-- <td class="tableData">
                          <p class="noMargin">
                            Business : {{ employee_Detail.business }}
                          </p>
                        </td> -->
                                        <!-- <td class="tableData">
                          <p class="noMargin">
                            Sub Department : {{ employee_Detail.subDept }}
                          </p>
                        </td> -->
                                    </tr>
                                    <tr class="rowBorder nominiTable" *ngIf="showTotal">
                                        <td class="tableData">
                                            <p class="noMargin text_bold">
                                                {{certificateContent['totalTab'].displayName}}
                                            </p>
                                        </td>
                                        <td class="tableData">
                                            <p class="noMargin text_bold">
                                                {{certificateContent['totalTab'].points}}
                                            </p>
                                        </td>
                                    </tr>
                                    <!-- <tr class="rowBorder">
                        <td class="tableData">
                          <p class="noMargin">
                            Reporting Manager :
                            {{ employee_Detail.reporting_Manager }}
                          </p>
                        </td>
                        <td class="tableData">
                          <p class="noMargin">Band : {{ employee_Detail.band }}</p>
                        </td>
                        <td class="tableData">
                          <p class="noMargin">
                            Trained before ? : {{ employee_Detail.trained_before }}
                          </p>

                        </td>
                      </tr> -->
                                </table>
                            </div>

                            <div *ngIf="showDownloadCertificate" class="pending_status_certificate">
                                <a [href]="certificateDownloadUrl" target="_blank">Download Certificate</a>
                                <!-- <iframe [src]="CertificateObject.finalPath" style="width:100%;height:500px" fullscreen></iframe> -->
                            </div>
                            <div *ngIf="!showDownloadCertificate" class="pending_status_certificate">
                                Please wait while we are generating the certificate
                                <!-- <iframe [src]="CertificateObject.finalPath" style="width:100%;height:500px" fullscreen></iframe> -->
                            </div>
                            <!-- <div>
                    <h4>{{ CertificateObject.message }}</h4>
                </div> -->
                        </div>

                        <!-- <p class="approvedStatus" *ngIf ="!CerPresent">{{Certmsg}}</p> -->
                    </div>

                    <!-- <div class="workflowContent" *ngIf="stepSelected == 9">
                  <p class="stepHeader"></p>
                </div>

                <div class="workflowContent" *ngIf="stepSelected == 10">
                  <p class="stepHeader"></p>
                </div>


                <div class="workflowContent" *ngIf="stepSelected == 11">
                  <p class="stepHeader"></p>
                </div> -->
                </div>
            </div>
        </div>
    </div>
    <ngx-no-data [config]="noDataVal" *ngIf="noEmpEnrol"></ngx-no-data>

    <!-- <div *ngIf = 'noEmpEnrol' class="no_data_found">
    <p>No data found.</p>
  </div> -->
    <div class="tableFooter" *ngIf='!noEmpEnrol'></div>
</div>
<!-- <div class="deleteModalBackdrop" *ngIf="showVideoPopup == true">
  <div class="deleteModal">
    <div class="modal-header deleteModalHeader">
      Recording - {{showVideoDataContent.recordingDate}}
      <button class="close closeDeleteModalBtn" aria-label="Close" (click)="closePopup()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">
      <video width="320" height="240" controls>
        <source [src]="showVideoDataContent.link" type="video/mp4">

        Your browser does not support the video tag.
      </video>
    </div>

    <div class="modal-footer deleteModalFooter">
      <div class="">
        <a [href]="showVideoDataContent.link" download>
          <button type="button" class="constantbtn-button-blue-left" >Download</button>
        </a>

      </div>
      <div class="">
        <button type="button" class="constantbtn-button-blue-left" (click)="closePopup()">Close</button>
      </div>
    </div>
  </div>
</div> -->
<div class="videoModal_backdrop" *ngIf="showVideoPopup == true">
    <div class="videoModel_container">
        <div class="modal-header">
            Recording - {{showVideoDataContent.recordingDate}}
            <button class="close " aria-label="Close" (click)="closePopup()">
          <span aria-hidden="true">&times;</span>
        </button>
        </div>

        <div class="modal-body">
            <video width="400" height="240" controls>
        <source [src]="showVideoDataContent.link" type="video/mp4">
        <!-- <source src="movie.ogg" type="video/ogg"> -->
        Your browser does not support the video tag.
      </video>
        </div>

        <div class="modal-footer">
            <div class="">
                <a [href]="showVideoDataContent.link" download>
                    <!-- <a [href]="showVideoDataContent.link" download> -->
                    <button type="button" class="constantbtn-button-blue-left">Download</button>
                </a>

            </div>
            <div class="">
                <button type="button" class="constantbtn-button-blue-left" (click)="closePopup()">Close</button>
            </div>
        </div>
    </div>
</div>