@import '../../../../../../@theme/styles/variable.scss';
.nominee_details {
    margin: 10px 0;
    border: 1px solid #e8e7e7;
    border-radius: 6px;
    label {
        font-size: 12px;
    }
    .no_data_found {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
        color: #000;
        p {
            margin: 0;
        }
    }
    .rows-Container {
        border-bottom: 1px solid #e8e7e7;
        &:nth-child(even) {
            background: #fafafa;
        }
    }
    .workflowContent {
        border-top: 1px solid #e8e7e7;
        padding: 16px 16px;
        background: #ffffff;
        // &:nth-child(even) {
        // }
        // &:nth-child(odd) {
        //   background: #fafafa !important;
        // }
    }
    // .workflowContent :nth-child(even) {
    //   background: #fafafa;
    // }
    // .workflowContent :nth-child(odd) {
    //   background: #ffffff;
    // }
    .nominiTable {
        background: #e9f0f4;
    }
    .tableRow {
        display: grid;
        grid-template-columns: 1fr 2fr 2fr 2fr;
        text-align: center;
        font-size: 13px;
        // background: #fff;
        // height: 100px;
        // border-bottom: 1px solid #eee;
        // margin-bottom: 20px;
    }
    .container_scroll {
        max-height: 300px;
        overflow: auto;
        margin: 10px 0;
    }
    .tableheadings {
        // font-family: sans-serif;
        display: grid;
        grid-template-columns: 1fr 2fr 2fr 2fr;
        text-align: center;
        height: 40px;
        margin: auto;
        font-weight: 600;
        border-bottom: 1px solid var(--colorBtnTxt);
        background: var(--colorCommon);
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        color: var(--colorBtnTxt);
        p {
            font-size: 14px;
        }
    }
    // .table_padding {
    //   padding: 0 30px;
    // }
    .stepColumn {
        display: grid;
        grid-template-columns: repeat(14, 1fr);
        grid-column-gap: 6px;
        width: 99%;
        margin: auto;
        // margin-left: 45px;
        // margin-bottom: 30px;
        div {
            text-align: center;
            overflow: overlay;
        }
        .step_name {
            font-size: 10px;
        }
    }
    .stepno {
        width: 30px;
        margin: 5px;
        height: 30px;
        padding: 0;
        // background: #d1e5ef;
        background: #bababa;
        color: #fff;
        border-radius: 50%;
        border: none;
        outline: none !important;
    }
    .activeStep {
        border: 2px solid #0f0f0f;
        color: #000000 !important;
    }
    .completedStep {
        background: #70d970;
        // color: #fff !important;
    }
    .rejectedStat {
        background: red !important;
        // color: #fff !important;
    }
    .pendingStat {
        background: #fcba6d;
        // color: #fff !important;
    }
    .evalApproval {
        padding: 0 45px;
    }
    .innerRow {
        height: auto;
        // padding: 15px 0;
        background: #f5f9fc85;
        border-bottom: 1px solid #eee;
    }
    .column {
        margin: auto;
        width: auto;
    }
    .tableCells {
        overflow-y: auto;
        overflow-x: hidden;
        // max-height: 550px;
        max-height: 380px;
    }
    .tableFooter {
        background: #fff;
        max-height: 60px;
    }
    .stepLabel {
        margin: 0;
        line-height: 20px;
        font-size: 12px;
    }
    .noMargin {
        margin: 0;
    }
    .width100percent {
        width: 100%;
    }
    .rowBorder {
        border-bottom: 1px solid #eee;
    }
    .imgCell {
        padding: 15px;
        text-align: center;
    }
    .pSize_Img {
        width: 120px;
        //   border-radius: 50%;
    }
    .tableData {
        padding: 10px 12px;
        margin: 0;
        font-size: 13px;
        // text-decoration: underline;
    }
    .hiddenClass {
        height: 0 !important;
        display: none;
    }
    .tableContent {
        margin: -18px;
    }
    .text_bold {
        font-weight: bold;
    }
    .pending_status_certificate {
        text-align: center;
        padding-top: 20px;
        /* background: #FFF; */
        color: #000;
        font-size: 18px;
        a {
            font-size: 16px;
        }
    }
    .stepHeader {
        margin: 0;
        // padding: 15px 45px;
        // background: #F1F5F8;
        color: #000000;
        font-size: 16px;
        border: 1px solid #f4f4f4;
    }
    .BHApprovalGrid {
        width: 100%;
        display: grid;
        grid-template-columns: auto 1fr auto;
        grid-column-gap: 15px;
        margin: auto;
        font-size: 14px;
        // padding-top: 20px;
        color: #45484e;
    }
    .marginAuto {
        margin: auto;
    }
    .margin10 {
        margin: 10px;
    }
    .star-container {
        pointer-events: none;
    }
    .formlabel {
        font-weight: 600;
    }
    .approvedStatus {
        text-align: center;
        padding: 8px 0;
        color: #bcbbbb;
        // width: 90%;
        // padding: 20px;
        /* background: #03a9f41c; */
        // border-radius: 24px;
        // border: 1px solid #058ad2;
        p {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0;
        }
        i {
            padding-right: 8px;
            font-size: 16px;
        }
    }
    .tablehead {
        background: #e9f0f4;
        font-weight: 600;
        text-transform: capitalize;
        color: #595959;
        height: 35px;
        // font-family: sans-serif;
        text-align: center;
        td {
            text-align: center;
            // font-family: sans-serif;
            font-size: 14px;
            padding: 6px !important;
        }
    }
    .qno {
        width: 30px !important;
        padding: 0 6px;
        text-align: center;
    }
    .feedbackTable {
        width: 100%;
    }
    .tablerow {
        height: 50px;
        border-bottom: 1px solid #eee;
        // border-bottom: 1px solid #ccc;
        font-size: 13px;
    }
    .tablerow:last-child {
        border: none;
    }
    .question {
        width: auto;
        min-width: 450px;
        text-align: left;
        padding: 10px;
    }
    // .tablehead {}
    .tableBg {
        background: #fff;
        // padding: 0 8px;
        // border-radius: 8px;
    }
    .answer {
        // width: 300px;
        text-align: left;
        padding: 6px;
    }
    // .scoreBoard{
    //     padding: 0px;
    //     width: 100%;
    // }
    .scoreCard {
        background: #e9f0f4;
        padding: 10px 10px;
        height: 85px;
        color: #595959;
        text-align: center;
        font-size: 20px;
        border-radius: 0;
        margin: auto;
        margin-bottom: 10px;
        /* display: flex; */
        // width: 170px;/
    }
    // .border_bottom{
    //     border-bottom: 1px solid #e8f1f8;
    // }
    .star_rating_container {
        margin: 0;
        width: 80px;
    }
    .grid2Cols {
        display: grid;
        grid-template-columns: 5fr 1fr;
        grid-column-gap: 16px;
        padding: 20px 0px;
    }
    .cardtitle {
        width: 100%;
    }
    .webinarForm {
        width: 100%;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 80px;
        grid-column-gap: 20px;
        margin-top: 10px;
    }
    .savebtn {
        display: grid;
        grid-template-columns: 2fr 2fr 2fr 1fr;
        grid-column-gap: 30px;
    }
    .approvedTable2 {
        width: 50%;
        margin: 20px auto;
    }
    .cellpadding {
        display: block;
        padding: 0 20px;
    }
    .certifiedTxt {
        line-height: 60px;
        font-size: 22px;
        margin: 0;
        color: #42cb42;
        font-family: inherit;
    }
    .containerRadio {
        display: block;
        position: relative;
        padding-left: 35px;
        // width: 150px;
        cursor: pointer;
        // font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        margin: 0;
        line-height: 30px;
    }
    // /* Hide the browser's default radio button */
    .containerRadio input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        visibility: hidden;
    }
    .flexcol {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 2fr 1fr;
        grid-column-gap: 20px;
        margin: 0;
        align-items: top;
    }
    .form-group {
        margin-bottom: 20px;
    }
    .label-checkbox {
        font-size: 14px;
        //  line-height: 40px;
        color: #313131;
    }
    .container {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    /* Hide the browser's default checkbox */
    .container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }
    /* Create a custom checkbox */
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 18px;
        width: 18px;
        margin: 6px 0 0 0;
        background-color: #fff;
        border: 1px solid #076ba1;
    }
    /* On mouse-over, add a grey background color */
    .container:hover input~.checkmark {
        background-color: #fff;
    }
    /* When the checkbox is checked, add a blue background */
    .container input:checked~.checkmark {
        // background-color: #2196F3;
    }
    .certificate_grid_container {
        display: grid;
        // grid-template-columns: 3fr 1fr;
        align-items: center;
    }
    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }
    /* Show the checkmark when checked */
    .container input:checked~.checkmark:after {
        display: block;
    }
    /* Style the checkmark/indicator */
    .container .checkmark:after {
        left: 5px;
        top: 1px;
        width: 6px;
        height: 12px;
        border: solid #076ba1;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}

.search_bar {
    display: grid;
    grid-template-columns: auto 75px;
    // padding-top: 10px;
    // margin: 10px;
    .button-refresh {
        margin-right: 6px;
        height: 40px;
        cursor: pointer;
        display: -webkit-box;
        display: -ms-flexbox;
        /* display: flex; */
        width: 40px;
        // background: #076ba1;
        background: var(--colorIcons);
        border-radius: 50%;
        // -webkit-box-shadow: 0px 6px 12px #91bde9;
        // box-shadow: 0px 6px 12px #076ba1;
        // border: 2px solid #076ba1;
        border: 2px solid var(--colorIcons);
        color: #fff;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-left: auto;
        margin-right: 12px;
        /* margin-bottom: 20px; */
        /* padding: 10px; */
        /* align-self: end;*/
    }
    .button-refresh:focus {
        outline: none;
    }
    .searchInput::placeholder {
        color: #313233bf !important;
    }
    .manSearchUsr {
        padding: 7.5px;
        width: 100%;
        margin-top: 2px;
    }
    .search_container {
        position: relative;
        .searchInput {
            border: none !important;
            border-bottom: 1px solid #e8e7e7 !important;
            background: transparent !important;
            box-shadow: none !important;
            // border-radius: 0 !important;
            width: 100%;
            margin-left: 12px;
            // border-radius: 6px !important;
            margin-left: 0;
        }
        .searchRemove {
            position: absolute;
            top: 2px;
            right: 0px;
            padding: 10px;
        }
        .searchInput:focus {
            border: none !important;
            border-bottom: 1px solid #ccc !important;
            outline: none;
        }
    }
}

.videoModal_backdrop {
    // position: absolute;
    // width: 100%;
    // height: 100%;
    // top: 67px;
    // background-color: #404040c2;
    // z-index: 2000;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1503;
    background-color: #404040c2;
    .videoModel_container {
        /*width: 80%;*/
        // width: 50%;
        // margin: auto;
        // background-color: #fff;
        // margin-top: 50px;
        // border-radius: 5px;
        width: 40%;
        margin: auto;
        background-color: #fff;
        margin-top: 65px;
        border-radius: 5px;
    }
    .modal-footer {
        justify-content: flex-start;
    }
}

star-rating:focus {
    outline: none;
}

.rating :focus {
    outline: none;
}