<!-- <div>
    <div *ngIf="!enrolTab" style="position:fixed;right: 2%;top:76px;z-index: 1000">
        <button type="submit" class="back_button" (click)="back()">Back</button>
       

    </div>
    <div class="" *ngIf="enrolTab" style="position:fixed;right: 2%;top:76px;z-index: 1002">
        <button type="button" class="constantbtn-button-blue-left" *ngIf="!showEnrolpage" (click)="saveEnrol()">Enrol</button>
        <button type="button" class="constantbtn-button-blue-right" *ngIf="!showBulkpage " (click)="bulkEnrol()">Bulk
			Enrol</button>
        <button type="submit" class="back_button" *ngIf="!showEnrolpage && !showBulkpage" (click)="back()">Back</button>
        <button type="button" class="back_button" *ngIf="showEnrolpage || showBulkpage" (click)="backToEnrol()">Back</button>

    </div>
</div> -->

<app-subheader [headerConfig]="header" (btnthree)="bulkEnrol()" (btntwo)="saveEnrol()" (backClick)="back()" (btnfour)="passData('details')" (btnfive)="passData('add')" (btnsix)="passData('save')" (btnseven)="passData('savesett')" (btneight)="passData('slot')"
    (btnine)="passData('addslot')" (btnten)="passData('saveslot')" (btneleven)="passData('cancel')"></app-subheader>



<nb-tabset class="custom_tabset nominationTabset" (changeTab)="selectedTab($event);">
    <nb-tab tabTitle="Details" [active]="detailsTab" class="nominationDetailsTab">
        <div class="row m0 nominationformGen">
            <div class="col-md-12 stretch-card nominationformGenCard">
                <div class="card cardForm">
                    <div class="card-body nopadding cardBody" style="height: 100vh;">
                        <div class="">
                            <nomination-details [inpdata]="isdata"></nomination-details>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nb-tab>
    <nb-tab tabTitle="T&C" [active]="codeOfConduct" class="nominationDetailsTab">
        <div class="row m0 nominationformGen">
            <div class="col-md-12 stretch-card nominationformGenCard">
                <div class="card cardForm">
                    <div class="card-body nopadding cardBody" style="height: 100vh;">
                        <div class="">
                            <code-of-conduct [inpdata]="isdata"></code-of-conduct>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nb-tab>

    <nb-tab tabTitle="Content" [active]="content" class="nominationDetailsTab">
        <div class="row m0 nominationformGen">
            <div class="col-md-12 stretch-card nominationformGenCard">
                <div class="card cardForm">
                    <div class="card-body nopadding cardBody">
                        <div class="">
                            <nomination-content></nomination-content>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nb-tab>



    <nb-tab tabTitle="Settings" [active]="steps" class="nominationDetailsTab">
        <div class="row m0 nominationformGen">
            <div class="col-md-12 stretch-card nominationformGenCard">
                <div class="card cardForm">
                    <div class="card-body nopadding cardBody">
                        <div class="">
                            <steps [inpdata]="isdata" [DataChanged]="steps"></steps>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nb-tab>

    <nb-tab tabTitle="Enrol" [active]="enrolTab" class="nominationDetailsTab">
        <div class="row m0 nominationformGen">
            <div class="col-md-12 stretch-card nominationformGenCard">
                <div class="card cardForm">
                    <div class="card-body nopadding cardBody" style="height: 100vh;">
                        
                        <div *ngIf="!showBulkpage && !showEnrolpage">
                            <div class="manEnrolSrchDiv" >
                                <!-- *ngIf="rows.length!=0" -->
                                <input type='text' class="manEnrolSearchUsr searchInput" placeholder='Search user...' (keyup)=' searchEnrolUser($event)' [(ngModel)]="searchvalue.value" name="fname" />
                                <i class="fa fa-remove searchRemove" (click)="clear()"></i>
                            </div>
                            <!-- <div class="col-md-1 text-left align-items-center d-flex"></div> -->
                            <!-- <div class="tableList col-md-12 tableInfinite" > -->

                            <div class="tableCompo ">
                                <ngx-enrol-table [pagination]="true" [label]="labels" [tableData]="rows" (clickOnbutton)=visibilityTableRow($event)></ngx-enrol-table>
                            </div>
                            <div style="padding: 10px" *ngIf="rows.length!=0!">
                                <div>Total: {{ rows.length }}</div>
                            </div>
                            <ngx-no-data [config]="noDataVal" *ngIf="rows?.length==0"></ngx-no-data>
                        </div>
                        <!-- </div -->

                        <!-- <div class="enroldivTabel" style="width: 100%;" *ngIf="!showBulkpage && !showEnrolpage">
							<table class="table">
								<thead>
									<tr>
										<th>Ecn</th>
										<th>Fullname</th>
										<th>Email</th>
										<th>Mobile</th>
										<th>DOE</th>
										<th>Mode</th>
										<th>Re - Certification</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr *ngFor="let item of enrolldata">
										<td>{{item.ecn}}</td>
										<td>{{item.fullname}}</td>
										<td>{{item.emailId}}</td>
										<td>{{item.phoneNo}}</td>
										<td>{{item.enrolDate}}</td>
										<td>{{item.enrolmode}}</td>
										<td>{{item.isRecert}}</td>
										<td>
											<a class="deleteUserIcon" title="Delete User">
												<i title="Enabled" class="fa fa-eye card-footer-icon pointer" aria-hidden="true"
													(click)="disableCourseVisibility(item,0)" *ngIf="item.visible == 1"></i>
												<i title="Disabled" class="fa fa-eye-slash card-footer-icon pointer"
													aria-hidden="true" (click)="disableCourseVisibility(item,1)"
													*ngIf="item.visible==0"></i>
											</a>
										</td>
									</tr>
								</tbody>
							</table>
						</div> -->
                        <!-- <div class="enroldivTabel" style="width: 100%;" *ngIf="!showBulkpage && !showEnrolpage">
							<div class="">
								<ngx-datatable #myTable style="width: 100%" class="material" [rows]="rows"
									[columnMode]="'force'" [headerHeight]="40" [footerHeight]="30" [rowHeight]="40" [limit]="9"
									[scrollbarV]="true" [selectionType]="'checkbox'" [selectAllRowsOnPage]="false"
									[displayCheck]="displayCheck" (activate)="onEnrolDataClickEvent($event)"
									(select)='onSelectEnrolData($event)' (page)="onPageEnrolData($event)">
									<ngx-datatable-column prop="ecn" name="Emp Code"></ngx-datatable-column>
									<ngx-datatable-column prop="fullname" name="Fullname"></ngx-datatable-column>
									<ngx-datatable-column prop="emailId" name="Email"></ngx-datatable-column>
									<ngx-datatable-column prop="phoneNo" name="Mobile"></ngx-datatable-column>
									<ngx-datatable-column prop="enrolDate" name="Doe"></ngx-datatable-column>
									<ngx-datatable-column prop="enrolmode" name="Mode"></ngx-datatable-column>
									<ngx-datatable-column prop="isRecert" name="Re-Certification" [sortable]="false"
										[canAutoResize]="false" [draggable]="false" [resizeable]="false">
										<ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
											{{row.isRecert}}
										</ng-template>
									</ngx-datatable-column>
									<ngx-datatable-column [width]="100" [sortable]="false" [canAutoResize]="false"
										[draggable]="false" [resizeable]="false">
										<ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
											<a class="deleteUserIcon" title="Delete User">
												<i title="Enabled" class="fa fa-eye card-footer-icon pointer" aria-hidden="true"
													(click)="disableCourseVisibility(row,0)" *ngIf="row.visible == 1"></i>
												<i title="Disabled" class="fa fa-eye-slash card-footer-icon pointer"
													aria-hidden="true" (click)="disableCourseVisibility(row,1)"
													*ngIf="row.visible==0"></i>
											</a>
										</ng-template>
									</ngx-datatable-column>
									<ngx-datatable-footer>
										<ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize"
											let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset">
											<div style="padding: 5px 10px">
												<div>Total: {{ rowCount }}</div>
											</div>
										</ng-template>
									</ngx-datatable-footer>
								</ngx-datatable>
							</div>
						</div> -->
                        <div class="" *ngIf="showEnrolpage && !showBulkpage">
                            <enrol-nominee></enrol-nominee>
                        </div>
                        <div *ngIf="showBulkpage && !showEnrolpage " class="subMenu">
                            <div class="col-md-12 grid-margin stretch-card" *ngIf="!preview">
                                <div class="">
                                    <div class="card-body enrolCardBody">
                                        <div class="col-12 margin10 ">
                                            <div class="form-group inputenup">
                                                <label class="sr-only" for="inputFile">File Upload</label>
                                                <input type="file" #fileUpload class="form-control-file text-success font-weight-bold " id="inputFile" accept=".xls,.xlsx" (change)="readUrl($event)" attr.data-title="{{fileName}}">
                                            </div>
                                            <!-- <div class="col-sm-12 upbackbtn" *ngIf="!enableUpload">
                                                <a href="assets/images/bulkenrolfinal.xlsx" download>
                                                    <button class="constantbtn-button-blue-right"><i class="fas fa-download"></i>Template</button></a>
                                            </div>
                                            <div class="col-sm-12 upbackbtn" *ngIf="!preview && enableUpload">

                                                <button type="button" class="constantbtn-button-blue-right" (click)="savebukupload()">Upload</button>
                                                <button type="button" class="constantbtn-button-blue-right" (click)="cancel()">Cancel</button>
                                            </div>
                                            <span></span> -->
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- <div class="col-sm-12 upbackbtn" *ngIf="preview">
                                <button type="button" class="constantbtn-button-blue-right" (click)="savebukupload()">Save</button>
                            </div> -->
                            <div class="tableList col-md-12">
                                <div class="tableCompo " *ngIf="preview">
                                    <ngx-enrol-table [pagination]="true" [label]="labelsPreview" [tableData]="datasetPreview" (clickOnbutton)=visibilityTableRow($event)></ngx-enrol-table>
                                </div>
                                <div style="padding: 10px">
                                    <!-- <div>Total: {{ datasetPreview.length }}</div> -->
                                </div>
                            </div>

                            <!-- <div class="col-md-12 grid-margin stretch-card" *ngIf="preview">
                                <div class="card cardForm">
                                    <div class="card-body pt-3 enrolCardBody">
                                        <div class="col-12 margin10 ">
                                            <ngx-datatable #previewTable style="width: 100%" class="material" [rows]="datasetPreview" [columnMode]="'force'" [headerHeight]="40" [footerHeight]="30" [rowHeight]="40" [limit]="9" [scrollbarV]="true" [selected]="selected" [selectAllRowsOnPage]="false"
                                                [displayCheck]="displayCheck">
                                                <ngx-datatable-column prop="ecn" name="Emp Code"></ngx-datatable-column>
                                                <ngx-datatable-column prop="fullname" name="Fullname">
                                                </ngx-datatable-column>
                                                <ngx-datatable-column prop="emailId" name="Email"></ngx-datatable-column>
                                                <ngx-datatable-column prop="phoneNo" name="Mobile"></ngx-datatable-column>
                                                <ngx-datatable-column prop="enrolDate" name="Doe"></ngx-datatable-column>
                                                <ngx-datatable-column prop="enrolmode" name="Mode"></ngx-datatable-column>
                                            </ngx-datatable>

                                            <span></span>
                                        </div>
                                    </div>
                                </div>
                               

                            </div> -->
                            <div class="text-center mb-2">
                                <button type="button" class="constantbtn-button-blue-left" *ngIf="preview" (click)="savebukupload()">Save</button>
                                <a href="assets/images/bulkenrolfinal.xlsx" *ngIf="!enableUpload" download>
                                    <button class="constantbtn-button-blue-right"><i
											class="fas fa-download"></i>Template</button></a>

                                <button type="button" *ngIf="!preview && enableUpload" class="constantbtn-button-blue-right" (click)="savebukupload()">Upload</button>
                                <button type="button" *ngIf="!preview && enableUpload" class="constantbtn-button-blue-right" (click)="cancel()">Cancel</button>
                                <button class="constantbtn-button-blue-right" *ngIf="showInvalidExcel" (click)="exportToExcelInvalid()"><i class="fas fa-download"></i> Enrollment Status</button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nb-tab>


    <nb-tab tabTitle="Nominees" [active]="nomineeTab" class="nominationDetailsTab">
        <div class="row m0 nominationformGen">
            <div class="col-md-12 stretch-card nominationformGenCard">
                <div class="card cardForm">
                    <div class="card-body cardBody" style="height: 100vh;">
                        <div class="">
                            <nominee-details [DataChanged]="nomineeTab"></nominee-details>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nb-tab>

    <nb-tab tabTitle="Workflow" [active]="steps_data" class="nominationDetailsTab">
        <div class="row m0 nominationformGen">
            <div class="col-md-12 stretch-card nominationformGenCard">
                <div class="card cardForm">
                    <div class="card-body nopadding cardBody" style="height: 100vh;">
                        <!-- <div class=""> -->
                        <ngx-step-wise-data></ngx-step-wise-data>
                        <!-- </div> -->
                    </div>
                </div>
            </div>
        </div>
    </nb-tab>

    <nb-tab tabTitle="Calendar" [active]="calendar" class="nominationDetailsTab">
        <div class="row m0 nominationformGen">
            <div class="col-md-12 stretch-card nominationformGenCard">
                <div class="card cardForm">
                    <div class="card-body nopadding cardBody" style="height: 100vh;">
                        <div class="">
                            <nomination-calendar (Clear)="passData('cancel')" [inpdata]="isdata"></nomination-calendar>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nb-tab>



</nb-tabset>