@import '../../../../../@theme/styles/variable.scss';
ngx-datatable {
    .datatable-header {
        background: #e9f0f4;
    }
    datatable-header-cell {
        background: #e9f0f4;
        border-top: 1px solid #ebecee;
        padding-top: 6px !important;
        font-weight: 600 !important;
        color: #4b4b4b !important;
    }
}

.searchRemove {
    cursor: pointer;
}

.ttt_form_field_style {
    font-size: 14px !important;
}

.fz-13 {
    font-size: 13px;
}

.enroldivTabel {
    width: 100%;
    padding: 0 16px;
    thead {
        background: #e9f0f4;
        color: #4b4b4b;
        th {
            font-size: 14px;
            padding: 10px 8px !important;
            border-bottom: 1px solid #dee2e6 !important;
        }
    }
    tbody {
        color: #787878;
        font-size: 13px;
        border-bottom: 1px solid #dee2e6;
        tr {
            td {
                font-size: 13px;
                padding: 8px 12px;
            }
        }
    }
}

.marginTop14 {
    margin-top: 14px;
}

.nominationformGen,
.nominationmanualformGen {
    width: 100%;
    margin: 0 auto;
}

.nominationformGenCard {
    padding-left: 10px;
    padding-right: 10px;
}

.recert_row {
    background: #EEE;
    // column-gap: 20px;
    // color: #FFF;
}

.recert_highlights {
    color: #EEE;
    // color: #FFF;
    border: 1px solid #076ba1;
    margin-right: 5px;
}

.highlights {
    // color: #EEE;
    color: #FFF;
    border: 1px solid #076ba1;
    margin-right: 5px;
}

.resert_logo_size {
    width: 30px;
}

.flex_mode {
    display: flex;
    padding: 0 15px;
    .row_gap {
        margin-right: 20px;
    }
}

.nominationformGenCard>.nominationcardForm {
    border: none !important;
}

.upbackbtn {
    text-align: center;
    margin: 8px;
}

.inputenup {
    height: 14em;
    .form-control-file {
        position: relative;
        width: 100%;
        height: 100%;
        min-height: 6em;
        outline: none;
        visibility: hidden;
        cursor: pointer;
        background-color: #c61c23;
        box-shadow: 0 0 5px solid currentColor;
        &::before {
            color: #ed462f;
            content: attr(data-title);
            position: absolute;
            top: 1.5em;
            left: 0;
            width: 100%;
            /* min-height: 8em; */
            height: 12em;
            line-height: 8em;
            padding-top: 1.5em;
            opacity: 1;
            visibility: visible;
            text-align: center;
            border: 0.15em dashed #9ea4a5;
            transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
            overflow: hidden;
        }
        &::hover {
            &:before {
                border-style: solid #076ba1;
                /*box-shadow: inset 0px 0px 0px 0.25em currentColor;*/
            }
        }
    }
}

.nominationformGenCard>.nominationcardForm>.cardBody {
    background-color: #f1f5f8;
    border: none;
}

.manEnrolSrchDiv {
    // position: relative;
    width: 95%;
    i {
        position: absolute;
        right: 17px;
        top: 5px;
        padding: 12px;
    }
}

// .manEnrolSearchUsr {
//     width: 100%;
//     padding: 10px;
// }
.inputText:focus {
    border: 1px solid #dadfe6;
    background-color: #ffffff;
}

.searchInput::placeholder {
    color: #313233bf;
}

.searchInput {
    border: none;
    border-bottom: 1px solid #e8e7e7;
    background: transparent;
    box-shadow: none;
    // border-radius: 6px;
    width: 95%;
    margin: 16px;
    padding: 10px;
    margin-bottom: 10px;
    outline: none;
}

// .enroldivTabel {
//     padding: 0.4rem 1.25rem 1.25rem 1.25rem;
// }
.headerCard {
    display: inline-block;
    width: 100%;
}

// .sticky-top {
//     border-bottom: 1px solid #076ba1 !important;
// }
.nopadding {
    padding: 0 !important;
}

.stickybtn {
    padding: 10.5px;
    border-bottom: 0.2px solid #076ba1 !important;
    z-index: 1000;
}

.nominationTabset>ul {
    background: #fff !important;
    // border-bottom: 1px solid #076ba1 !important;
    border-bottom: 1px solid var(--colorCommon) !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 106px !important;
    z-index: 4;
}

.nominationTabset>ul>li.active>a {
    // color: #076ba1 !important;
    color: var(--colorCommon) !important;
}

.nominationTabset>ul>li>a::before {
    // background: #076ba1 !important;
    background: var(--colorCommon) !important;
}

.nominationTabset>ul>li>a:hover {
    // color: #076ba1 !important;
    color: var(--colorCommon) !important;
}

.nominationDetailsTab {
    margin-top: 10px !important;
}

.nominationTabset>ul>li {
    &.disabled {
        cursor: not-allowed;
        a {
            color: #a4abb3;
            cursor: not-allowed;
            pointer-events: none;
            &:hover {
                color: #a4abb3;
            }
        }
    }
}