<div class="titlerow">
  <div class="buttonInCenter">
    <button class="downloadbtn" (click)="back()"><i class="fas fa-chevron-left"></i></button>
  </div>
  <div class="titleDiv">
    <p class="titlePara">{{program_Data?.programName}} </p>
    <!-- <p class="titlesub">Batches Conducted</p> -->
  </div>
  <div class="cardContainer" style="padding: 0">
    <div class="scoreCard scoreCard1" *ngIf="displayDataOf == 'feedback'">
      <div class="scoreTxt">Overall Feedback</div>
      <!-- | number: '1.2-2' -->
      <div class="scorNum" *ngIf="feedback_data">{{feedback_data ? feedback_data : 'NA'}}</div>
      <div class="scorNum" *ngIf="!feedback_data">0</div>
    </div>
    <div class="scoreCard scoreCard2" *ngIf="displayDataOf == 'quiz'">
      <div class="scoreTxt">Average Score</div>
      <div class="scorNum" *ngIf="avg_asess">{{avg_asess ? avg_asess : 'NA' }}</div>
      <div class="scorNum" *ngIf="!avg_asess">0</div>
    </div>
    <!-- *ngIf="npm_data" -->
    <div class="scoreCard scoreCard3"   *ngIf="npm_data &&  this.displayDataOf === 'feedback'">
      <div class="scoreTxt" *ngIf="npm_data">{{npm_data?.label}}</div>
      <div class="scorNum" *ngIf="npm_data">{{npm_data.cnt == null  ? 'NA' : npm_data.cnt }}</div>
    </div>
  </div>
</div>

<!-- **************************** New Feedback Accordian ********************************* -->
<div class="accordian_conatiner" *ngIf="noFeedData">
    <mat-accordion>
        <mat-expansion-panel class="expansion_panel_relative"
          *ngFor="let item of level1data; let i = index;let isFirst = first"
          (closed)="setClosed(item, i)" (click)="setOpened(item,i,$event)">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ item?.BatchName | titlecase }} - {{ item?.instanceName | titlecase }}
            </mat-panel-title>
            <mat-panel-description class="content_end">
             Score- {{ item.score == null ? 'NA' : item.score }}
             <span *ngIf="displayDataOf == 'feedback'" class="npa_score">  Nps - {{ item.nps  == null ? 'NA' : item.nps }} </span>

             <!-- <button class="btn btn-primary"  (opened)="setOpened(item,i, true)">Go To next level</button> -->
            </mat-panel-description>
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>

              <button class="btn btn-primary go_to_page"  (click)="gotoLevel2(item,i)">Go Next</button>

            <div class="section_container">
                <div class="inside_content_conatiner" *ngFor="let feedback_section_item of feedback_section; let j = index;">
                    <!-- {{feedback_section_item.secName}} |      {{feedback_section_item.secavg}}
                   <div *ngFor="let feedback_section_question of feedback_section_item.feedback; let k = index;">
                      {{feedback_section_question.questionNme}}   {{feedback_section_question.cnt}}
                   </div> -->
                   <div class="feedback_section_name_Container">
                        <div class="section_name">
                            {{feedback_section_item?.sectionName}}
                        </div>
                        <div class="section_marks">
                            Avg - {{feedback_section_item.secAvg == null ? 'NA' : feedback_section_item.secAvg }}
                            <!-- <span *ngIf="displayDataOf == 'feedback'" class="npa_score">   NPS - {{ feedback_section_item?.npa == null ? 'NA' : feedback_section_item?.npa }} </span> -->
                        </div>
                   </div>

                   <div>
                      <!-- {{feedback_section_question.secName}}   {{feedback_section_question.secavg}} -->
                      <table style="width:100%" >
                          <thead>
                            <tr>
                              <th >Question Name</th>
                              <th >Marks</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let feedback_section_question of feedback_section_item.list; let k = index;" class="rowData" (click)="gotoLevel2FD(sub_item, i)">
                              <!-- <td *ngFor="let data of Object.values(feedback_section_question); let l=index" [hidden]="l == 0">{{ data ? data : 'NA' }}</td> -->
                              <td [innerHTML]="feedback_section_question.label" *ngIf="feedback_section_question?.questionTypeId == 1">
                              </td>
                              <td  *ngIf="feedback_section_question?.questionTypeId == 2">
                                <img class="question-image-level-1" [src]="feedback_section_question?.contentRef" alt="image not found" srcset="">
                              </td>
                              <td>{{feedback_section_question.score == null ? 'NA' : feedback_section_question.score}}</td>
                            </tr>
                          </tbody>
                        </table>
                   </div>

              </div>
            </div>

          </ng-template>
        </mat-expansion-panel>
    </mat-accordion>
</div>



<!-- **************************** New Feedback Accordian End ********************************* -->



<!-- **************************** Feedback table ********************************* -->
<!-- <div class="titleDiv_table" *ngIf="!noFeedbackModule">

  <p class="para_title">Feedback</p>
  <div class="tabs-layouts">
		<div class="tabs_single" [ngClass]="{'tabs_single_active': activeTabIndex == i }" *ngFor='let tabs of sectionArray;let i=index;' (click)='tabChanged(tabs,i)'>
			<p>{{ tabs.secName | titlecase }}</p>

		</div>
	</div>
</div>

<div class="tableContent">
  <table style="width:100%" *ngIf="!noFeedData">
    <thead>
      <tr>
        <th *ngFor="let item of objKeys" title="{{item}}" [hidden]="item == 'courseId'">{{ item  | truncate : 25 : "..." }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let sub_item of level1Details; let i = index" class="rowData" (click)="gotoLevel2FD(sub_item, i)">
        <td *ngFor="let data of Object.values(sub_item); let j=index" [hidden]="j == 0">{{ data ? data : 'NA' }}</td>
      </tr>
    </tbody>
  </table>

  <div class="noDataGrid" *ngIf="noFeedData">
    No data available.
  </div>
</div> -->

<!-- **************************** Feedback table ********************************* -->




<!-- **************************** Assessment table ********************************* -->


<!-- <div class="titleDiv_table" *ngIf="!noAssessData">

  <p class="para_title">Assessment</p>
</div>
<div class="tableContent">
  <table style="width:100%" *ngIf="!noAssessData">
    <thead>
      <tr>

        <th>PROGRAM NAME</th>
        <th>Batch CODE</th>

        <th>fullName</th>
        <th>Quiz Point</th>
        <th>Score</th>

      </tr>

    </thead>

    <tbody>
      <tr *ngFor="let item of assessmentData; let i = index" class="rowData" (click)="gotoLevel2ByAssess(item, i)">

        <td>{{ item.programName  ? item.programName : 'NA' }}</td>
        <td>{{ item.courseCode ? item.courseCode : 'NA'}}</td>
        <td>{{ item.fullName ? item.fullName : 'NA'}}</td>
        <td>{{ item.quizPoints }}</td>
        <td>{{ item.quizScore }}</td>
      </tr>
    </tbody>
  </table>

  <div class="noDataGrid" *ngIf="noAssessData">
    No data available
  </div>
</div> -->

<!-- **************************** Assessment table ********************************* -->




