<div class="add_edit_EMP">

        <div class="widgets">
                <!-- <div id="loader" *ngIf="loader == true"></div> -->
                <div class="loaderBackdrops" >
                    <div id="loaders"></div>
                </div>
                <div ba-panel ba-panel-class="with-scroll">
                    <div class="col-sm-12 panelCol">
                        <div style="">
                            <!-- <induction></induction> -->
                            <!-- <div style="display: inline-flex;">
                      <span style="cursor: pointer;" routerLink="../../plan">Plan </span>
                      <span>&nbsp;/&nbsp;</span>
                      <span style="cursor: pointer;" routerLink="../../users/induction"> Users</span> 
                      <span>&nbsp;/&nbsp;</span>
                      <span class="activeRoute"> Add User</span>
                    </div> -->
                            <!-- <div class="widgets">
                      <div ba-panel ba-panel-class="with-scroll" >
                      -->
                            <!-- <div class="userBackBut" (click)="back()">  -->
                            <!-- <button type="submit" class="btn btn-mm btn-default" (click)="back()" id="backBut"> Back</button> -->
                            <!-- <i class="fa fa-arrow-left"></i> -->
                            <!-- </div> -->
                            <!-- <i class="fa fa-arrow-left"></i> -->
            
                            <!-- <div class="userSubButAddEdit sticky-top">
                          submit class="btn btn-secondary optbtnNewAddEdit"
                          class="btn btn-mm btn-default"
                          back   
                          -->
                            <div class="userSubButAddEdit sticky-top">
                                <button type="submit" id="submitBut" [disabled]="!userForm.form.valid" (click)="addEdit(formdata)">Save</button>
                                <button type="button" (click)="back()" class="back_button">Back</button>
                            </div>
            
                            <tabset [pills]="false" class="addEditUsersTab">
                                <tab title="" [disabled]="false">
                                    <span *tabHeading>
                                        <b>
                                            General
                                        </b>
                                    </span>
            
                                    <div class="row m0 formGen" [hidden]="submitted">
                                        <div class="col-md-6 grid-margin stretch-card formGenCard">
                                            <div class="card cardForm">
                                                <div class="card-body">
                                                    <h4 class="card-title">Basic Details</h4>
                                                    <p class="card-description cardDesc">
            
                                                    </p>
                                                    <form class="forms-sample" #userForm="ngForm">
            
                                                        <!-- <div class="form-group">
                                                            <label for="exampleInputcohort">Workflow<h3 class="reqField">&nbsp;*</h3></label>
                                                            <input       type="text" class="form-control form-control-input" id="exampleInputcohort" [(ngModel)]="formdata.cohortidnumber" required pattern="^$|^[A-Za-z0-9]+$" id="cohortidnumber" placeholder="Workflow" name="cohortidnumber" #cohortidnumber="ngModel">
                                                            <input type="text" class="form-control form-control-input" id="exampleInputcohort" [(ngModel)]="formdata.cohortidnumber" pattern="^$|^[A-Za-z0-9]+$" id="cohortidnumber" placeholder="Workflow" name="cohortidnumber" #cohortidnumber="ngModel">
                                                            <div [hidden]="cohortidnumber.valid || cohortidnumber.pristine" class="alert alert-danger">
                                                                <div         [hidden]="!cohortidnumber.hasError('required')">Workflow is required</div>
                                                                <div [hidden]="!cohortidnumber.hasError('pattern')">Only alphanumericals allowed</div>
                                                            </div>
                                                            <span></span>
                                                        </div> -->
            
                                                        <div class="form-group">
                                                            <label for="exampleInputUName1">Username<h3 class="reqField">&nbsp; *
                                                                </h3></label>
                                                            <input type="text" class="form-control form-control-input" id="exampleInputUName1" [(ngModel)]="formdata.code" required pattern="^$|^[A-Za-z0-9]+$" id="code" placeholder="Username" name="code" #code="ngModel" [disabled]="para.id == 1">
                                                            <div [hidden]="code.valid || code.pristine" class="alert alert-danger">
                                                                <div [hidden]="!code.hasError('required')">Username is required
                                                                </div>
                                                                <div [hidden]="!code.hasError('pattern')">Only Alphanumericals allowed
                                                                </div>
                                                            </div>
                                                            <span></span>
                                                        </div>
                                                        <!-- <div class="form-group">
                                                            <label for="exampleInputPassword4">Password</label>
                                                            <input type="password" class="form-control form-control-input"
                                                                id="exampleInputPassword4" [(ngModel)]="formdata.password" required
                                                                pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,20}$" id="password" placeholder="Password"
                                                                name="password" #password="ngModel">
                                                            <div [hidden]="password.valid || password.pristine"
                                                                class="alert alert-danger">
                                                                <div [hidden]="!password.hasError('required')">Password is required
                                                                </div>
                                                                <div [hidden]="!password.hasError('pattern')">Only alphabets allowed
                                                                </div>
                                                            </div>
                                                            <span></span>
                                                        </div> -->
                                                        <div class="form-group">
                                                            <label for="exampleInputName1">First Name<h3 class="reqField">&nbsp; *
                                                                </h3></label>
                                                            <input type="text" class="form-control form-control-input" id="exampleInputName1" [(ngModel)]="formdata.firstname" required pattern="[a-zA-Z][a-zA-Z ]+" id="firstname" placeholder="First Name" name="firstname" #firstname="ngModel">
                                                            <div [hidden]="firstname.valid || firstname.pristine" class="alert alert-danger">
                                                                <div [hidden]="!firstname.hasError('required')">First Name is required
                                                                </div>
                                                                <div [hidden]="!firstname.hasError('pattern')">Only alphabets allowed
                                                                </div>
                                                            </div>
                                                            <span></span>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="exampleInputName2">Last Name</label>
                                                            <input type="text" class="form-control form-control-input" id="exampleInputName2" [(ngModel)]="formdata.lastname" pattern="[a-zA-Z][a-zA-Z ]+" id="lastname" placeholder="Last Name" name="lastname" #lastname="ngModel">
                                                            <div [hidden]="lastname.valid || lastname.pristine" class="alert alert-danger">
                                                                <!-- <div [hidden]="!lastname.hasError('required')">Last Name is required</div> -->
                                                                <div [hidden]="!lastname.hasError('pattern')">Only alphabets allowed
                                                                </div>
                                                            </div>
                                                            <span></span>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="exampleInputEmail3">Email address<h3 class="reqField">&nbsp;
                                                                    *</h3></label>
                                                            <input type="email" class="form-control form-control-input" id="exampleInputEmail3" [(ngModel)]="formdata.email" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" id="email" placeholder="E-Mail" name="email" #email="ngModel">
                                                            <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
                                                                <div [hidden]="!email.hasError('required')">Email is required</div>
                                                                <div [hidden]="!email.hasError('pattern')">Email format should be
                                                                    <small><b>joe@abc.com</b></small>
                                                                </div>
                                                            </div>
                                                            <span></span>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="exampleInputPhone1">Phone<h3 class="reqField">&nbsp; *</h3>
                                                                </label>
                                                            <input type="tel" class="form-control form-control-input" id="exampleInputPhone1" [(ngModel)]="formdata.contactDetails" required id="contactDetails" placeholder="Phone Number" name="contactDetails" pattern="[0-9]*" minlength="10" maxlength="10" #contactDetails="ngModel">
                                                            <div [hidden]="contactDetails.valid || contactDetails.pristine" class="alert alert-danger">
                                                                <div [hidden]="!contactDetails.hasError('minlength')">Mobile should be 10 digit</div>
                                                                <div [hidden]="!contactDetails.hasError('required')">Mobile is required
                                                                </div>
                                                                <div [hidden]="!contactDetails.hasError('pattern')">Mobile number should be only numbers</div>
                                                            </div>
                                                            <span></span>
                                                        </div>
                                                        <!-- <div class="form-group">
                                      <label>File upload</label>
                                      <input type="file" name="img[]" class="file-upload-default">
                                      <div class="input-group col-xs-12">
                                        <input type="text" class="form-control form-control-input file-upload-info" disabled="" placeholder="Upload Image">
                                        <span class="input-group-append">
                                          <button class="file-upload-browse btn btn-info" type="button">Upload</button>
                                        </span>
                                      </div>
                                    </div> -->
                                                        <!-- <div class="form-group">
                                      <label for="exampleInputCity1">City / Town</label>
                                      <input type="text" class="form-control form-control-input" id="exampleInputCity1" [(ngModel)]="formdata.city" required id="city" placeholder="City / Town" name="city" pattern="[a-zA-Z][a-zA-Z ]+" #city="ngModel">
                                      <div [hidden]="city.valid || city.pristine" class="alert alert-danger">
                                        <div [hidden]="!city.hasError('required')">City/Town is required</div>
                                        <div [hidden]="!city.hasError('pattern')">Only alphabets allowed</div>
                                      </div>
                                      <span></span>
                                    </div> -->
                                                        <!-- <div class="form-group">
                                      <label for="exampleInputGender">Gender</label>
                                      <input type="text" class="form-control form-control-input" id="exampleInputGender" [(ngModel)]="formdata.gender" id="gender" placeholder="gender" name="gender" pattern="[a-zA-Z][a-zA-Z ]+" #gender="ngModel">
                                      <div [hidden]="gender.valid || gender.pristine" class="alert alert-danger">
                                          <div [hidden]="!gender.hasError('required')">Gender is required</div>
                                          <div [hidden]="!gender.hasError('pattern')">Only alphabets allowed</div>
                                        </div>
                                      <span></span>
                                    </div> -->
                                                        <div class="form-group ">
                                                            <label for="exampleInputGender">Gender</label>
                                                            <select [(ngModel)]="formdata.gender" id="exampleInputGender" class="form-control form-control-input selectDrop" name="gender" #gender="ngModel">
                                                                <option value="">Select Type</option>
                                                                <option *ngFor="let gender of strArrayGender" value={{gender.gId}}>
                                                                    {{gender.gName}}</option>
                                                            </select>
                                                        </div>
                                                        <!-- <div class="form-group">
                                      <label for="exampleTextarea1">Textarea</label>
                                      <textarea class="form-control form-control-input" id="exampleTextarea1" rows="2"></textarea>
                                    </div> -->
                                                        <!-- <button type="submit" class="btn btn-success mr-2">Save</button>
                                    <button class="btn btn-light">Cancel</button> -->
            
                                                        <!-- <div class="form-group">
                                                            <label for="exampleInputAccRole">Role</label>
                                                            <select [(ngModel)]="selRole.id" id="exampleInputAccRole" class="form-control form-control-input selectDrop" name="id" #id="ngModel">
                                          <option value = "">Select Role</option>
                                            <option *ngFor="let role of roles" value={{role.id}} >{{role.name}}</option>
                                        </select>
                                                        </div> -->
            
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
            
                                        <div class="col-md-6 grid-margin stretch-card formCustCard">
                                            <div class="card cardForm">
                                                <div class="card-body">
                                                    <h4 class="card-title">Profile Picture</h4>
                                                    <p class="card-description cardDesc">
            
                                                    </p>
                                                    <form class="forms-sample">
                                                        <!-- <div class="form-group">
                                      <label for="exampleInputName1">Username</label>
                                      <input type="text" class="form-control form-control-input" id="exampleInputName1" placeholder="Name">
                                    </div> -->
                                                        <div class="form-group">
                                                            <div class="photo-left">
                                                                <div class="m0 avatar-upload">
                                                                    <!-- <div class="avatar-edit">
                                              <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" (change)="readUrl($event)" [disabled]/>
                                              <label for="imageUpload"></label>
                                          </div>
                                          <div class="avatar-delete" (click)="deleteProfile()">
                                            <label></label>
                                          </div> -->
                                                                    <div class="avatar-preview">
                                                                        <div id="imagePreview" [ngStyle]="{'background-image': 'url(' + profileUrl + ')'}">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- <button type="submit" class="btn btn-success mr-2">Upload</button>
                                    <button class="btn btn-light">Cancel</button> -->
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
            
                                    </div>
                                </tab>
            
                                <tab title="" [disabled]="false">
                                    <span *tabHeading>
                                        <b>
                                            Custom Fields
                                        </b>
                                    </span>
            
                                    <div class="row m0 formGen CustomFieldsformGen2" id="accordion2">
                                        <div class="col-md-12 grid-margin stretch-card formGenCard CustomFieldsformGenCard2">
                                            <div class="card cardForm CustomFieldscardForm2">
                                                <div class="card-body CustomFieldscardBody2">
                                                    <!-- class="headCard" -->
                                                    <div class="headerCard">
                                                        <!-- card-title custTitle -->
                                                        <h4 class="card-title custTitle" data-toggle="collapse" data-parent="#accordion2" href="#collapse2">Personal Details</h4>
                                                        <a data-toggle="collapse" class="collapsed btn btn-default btn-xs arrow_right" href="#collapse2" aria-label="Expand/Collapse Card 2" aria-expanded="false" role="button">
                                                            <i class="fa downArrow" aria-hidden="true"></i>
                                                            <span class="sr-only">Expand/Collapse Card 2</span>
                                                        </a>
                                                        <!--
                                     <div class="dropArrow">
                                      <a data-toggle="collapse" class="collapsed" id="right_float" href="#collapse2">
                                          <i class="fa downArrow" aria-hidden="true" id="right_float"></i>
                                          <span class="sr-only">Expand/Collapse Card 2</span>
                                      </a>
                                    </div> -->
                                                    </div>
                                                    <p class="card-description cardDesc">
            
                                                    </p>
                                                    <div id="collapse2" class="panel-collapse collapse in">
                                                        <div class="topBorderForm"></div>
                                                        <form class="forms-sample" class="panel-body">
            
                                                            <div class="row">
                                                                <div class="form-group col-md-6">
                                                                    <label for="exampleInputPersonalMobile">Personal Mobile</label>
                                                                    <input type="tel" class="form-control form-control-input" id="exampleInputPersonalMobile" placeholder="Personal Mobile" [(ngModel)]="formdata.personalmobile" name="personalmobile" #personalmobile="ngModel" pattern="[0-9]*" minlength="10" maxlength="10">
                                                                    <div [hidden]="personalmobile.valid || personalmobile.pristine" class="alert alert-danger">
                                                                        <div [hidden]="!personalmobile.hasError('minlength')">Mobile should be 10 digit</div>
                                                                        <div [hidden]="!personalmobile.hasError('pattern')">Mobile number should be only numbers</div>
                                                                    </div>
                                                                </div>
            
                                                                <div class="form-group col-md-6">
                                                                    <label for="exampleInputPersonalEmail">Personal Email</label>
                                                                    <input type="text" class="form-control form-control-input" id="exampleInputPersonalEmail" placeholder="Personal Email" [(ngModel)]="formdata.personalemail" name="personalemail" #personalemail="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
                                                                    <div [hidden]="personalemail.valid || personalemail.pristine" class="alert alert-danger">
                                                                        <div [hidden]="!personalemail.hasError('pattern')">Email format should be
                                                                            <small><b>joe@abc.com</b></small>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
            
                                                            <div class="row">
                                                                <div class="form-group col-md-6">
                                                                    <label for="dob">Date of Birth</label>
                                                                    <div id="divdob" class="mdl-left inpucal" style="">
                                                                        <span class="spancal">
                                                                            <input class="txtHeight datestyle"
                                                                                [placeholder]="placeHolder"
                                                                                [options]="myDatePickerOptions" id="dob"
                                                                                [(ngModel)]="formdata.dob" #dob="ngx-mydatepicker"
                                                                                ngx-mydatepicker name="dob"
                                                                                (dateChanged)="onDateChanged($event)" />
                                                                            <span>
                                                                                <button type="button" class="btnCal cal_icon"
                                                                                    (click)="dob.toggleCalendar()">
            
                                                                                </button>
                                                                            </span>
                                                                        </span>
                                                                    </div>
                                                                </div>
            
                                                                <div class="form-group col-md-6">
                                                                    <label for="doj">Date of Joining</label>
                                                                    <div id="divDoj" class="mdl-left inpucal" style="">
                                                                        <span class="spancal">
                                                                            <input class="txtHeight datestyle"
                                                                                [placeholder]="placeHolder"
                                                                                [options]="myDatePickerOptions1" id="doj"
                                                                                ngx-mydatepicker name="doj" #doj="ngx-mydatepicker"
                                                                                [(ngModel)]="formdata.doj" />
                                                                            <span>
                                                                                <button type="button" class="btnCal cal_icon"
                                                                                    (click)="doj.toggleCalendar()">
            
                                                                                </button>
                                                                            </span>
                                                                        </span>
            
                                                                    </div>
                                                                </div>
                                                            </div>
            
                                                            <!-- <div class="row">
                                        <div class="form-group col-md-6">
                                          <label for="dob">Date of Birth</label>
                                            <div id="divdob" class="mdl-left" style="">
                                              <my-date-picker name="mydate" [options]="myDatePickerOptions"
                                [(ngModel)]="model1" required></my-date-picker>
                                              <span></span>
                                            </div>
                                        </div>
                                      </div>   -->
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
            
                                    <div class="row m0 formGen CustomFieldsformGen3" id="accordion3">
                                        <div class="col-md-12 grid-margin stretch-card formGenCard CustomFieldsformGenCard3">
                                            <div class="card cardForm CustomFieldscardForm3">
                                                <div class="card-body CustomFieldscardBody3">
                                                    <div class="headerCard">
                                                        <h4 class="card-title custTitle" data-toggle="collapse" data-parent="#accordion3" href="#collapse3">Present Address</h4>
                                                        <a data-toggle="collapse" class="collapsed btn btn-default btn-xs arrow_right" href="#collapse3" aria-label="Expand/Collapse Card 3" aria-expanded="false" role="button">
                                                            <i class="fa downArrow" aria-hidden="true"></i>
                                                            <span class="sr-only">Expand/Collapse Card 3</span>
                                                        </a>
                                                    </div>
                                                    <p class="card-description cardDesc">
            
                                                    </p>
                                                    <div id="collapse3" class="panel-collapse collapse in">
                                                        <div class="topBorderForm"></div>
                                                        <form class="forms-sample" class="panel-body">
            
                                                            <div class="row">
                                                                <div class="form-group col-md-6">
                                                                    <label for="exampleInputPresentAddress">Address line 1</label>
                                                                    <input type="text" class="form-control form-control-input" id="exampleInputPresentAddress" placeholder="Address Line 1" [(ngModel)]="formdata.presentaddress" name="presentaddress" #presentaddress="ngModel">
                                                                </div>
            
                                                                <div class="form-group col-md-6">
                                                                    <label for="exampleInputPresentCity">City</label>
                                                                    <input type="text" class="form-control form-control-input" id="exampleInputPresentCity" placeholder="City" [(ngModel)]="formdata.presentcity" name="presentcity" #presentcity="ngModel" pattern="[a-zA-Z][a-zA-Z ]+">
                                                                    <div [hidden]="presentcity.valid || presentcity.pristine" class="alert alert-danger">
                                                                        <div [hidden]="!presentcity.hasError('pattern')">Only alphabets allowed</div>
                                                                    </div>
                                                                </div>
                                                            </div>
            
                                                            <div class="row">
                                                                <div class="form-group col-md-6">
                                                                    <label for="exampleInputPresentState">State</label>
                                                                    <input type="text" class="form-control form-control-input" id="exampleInputPresentState" placeholder="State" [(ngModel)]="formdata.presentstate" name="presentstate" #presentstate="ngModel" pattern="[a-zA-Z][a-zA-Z ]+">
                                                                    <div [hidden]="presentstate.valid || presentstate.pristine" class="alert alert-danger">
                                                                        <div [hidden]="!presentstate.hasError('pattern')">Only alphabets allowed</div>
                                                                    </div>
                                                                </div>
            
                                                                <div class="form-group col-md-6">
                                                                    <label for="exampleInputPresentPincode">Pincode</label>
                                                                    <input type="text" class="form-control form-control-input" id="exampleInputPresentPincode" placeholder="Pincode" [(ngModel)]="formdata.presentpincode" name="presentpincode" #presentpincode="ngModel" pattern="[0-9]{6}">
                                                                    <div [hidden]="presentpincode.valid || presentpincode.pristine" class="alert alert-danger">
                                                                        <div [hidden]="!presentpincode.hasError('pattern')">Only 6 digits allowed</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
            
                                    <div class="row m0 formGen CustomFieldsformGen4" id="accordion4">
                                        <div class="col-md-12 grid-margin stretch-card formGenCard CustomFieldsformGenCard4">
                                            <div class="card cardForm CustomFieldscardForm4">
                                                <div class="card-body CustomFieldscardBody4">
                                                    <div class="headerCard">
                                                        <h4 class="card-title custTitle" data-toggle="collapse" data-parent="#accordion4" href="#collapse4">Permanent Address</h4>
                                                        <a data-toggle="collapse" class="collapsed btn btn-default btn-xs arrow_right" href="#collapse4" aria-label="Expand/Collapse Card 4" aria-expanded="false" role="button">
                                                            <i class="fa downArrow" aria-hidden="true"></i>
                                                            <span class="sr-only">Expand/Collapse Card 4</span>
                                                        </a>
                                                    </div>
                                                    <p class="card-description cardDesc">
            
                                                    </p>
                                                    <div id="collapse4" class="panel-collapse collapse in">
                                                        <div class="topBorderForm"></div>
                                                        <form class="forms-sample" class="panel-body">
            
                                                            <div class="row">
                                                                <div class="form-group col-md-6">
                                                                    <label for="exampleInputPermanentadd">Address Line 1</label>
                                                                    <input type="text" class="form-control form-control-input" id="exampleInputPermanentadd" placeholder="Address Line 1" [(ngModel)]="formdata.permanentadd" name="permanentadd" #permanentadd="ngModel">
                                                                </div>
            
                                                                <div class="form-group col-md-6">
                                                                    <label for="exampleInputPresentCity">City</label>
                                                                    <input type="text" class="form-control form-control-input" id="exampleInputPresentCity" placeholder="City" [(ngModel)]="formdata.permanentcity" name="permanentcity" #permanentcity="ngModel" pattern="[a-zA-Z][a-zA-Z ]+">
                                                                    <div [hidden]="permanentcity.valid || permanentcity.pristine" class="alert alert-danger">
                                                                        <div [hidden]="!permanentcity.hasError('pattern')">Only alphabets allowed</div>
                                                                    </div>
                                                                </div>
                                                            </div>
            
                                                            <div class="row">
                                                                <div class="form-group col-md-6">
                                                                    <label for="exampleInputPermanentState">State</label>
                                                                    <input type="text" class="form-control form-control-input" id="exampleInputPermanentState" placeholder="State" [(ngModel)]="formdata.permanentstate" name="permanentstate" #permanentstate="ngModel" pattern="[a-zA-Z][a-zA-Z ]+">
                                                                    <div [hidden]="permanentstate.valid || permanentstate.pristine" class="alert alert-danger">
                                                                        <div [hidden]="!permanentstate.hasError('pattern')">Only alphabets allowed</div>
                                                                    </div>
                                                                </div>
            
                                                                <div class="form-group col-md-6">
                                                                    <label for="exampleInputPresentPincode">Pincode</label>
                                                                    <input type="text" class="form-control form-control-input" id="exampleInputPresentPincode" placeholder="Pincode" [(ngModel)]="formdata.permanentpincode" name="permanentpincode" #permanentpincode="ngModel" pattern="[0-9]{6}">
                                                                    <div [hidden]="permanentpincode.valid || permanentpincode.pristine" class="alert alert-danger">
                                                                        <div [hidden]="!permanentpincode.hasError('pattern')">Only 6 digits allowed</div>
                                                                    </div>
                                                                </div>
                                                            </div>
            
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
            
                                    <div class="row m0 formGen CustomFieldsformGen5" id="accordion5">
                                        <div class="col-md-12 grid-margin stretch-card formGenCard CustomFieldsformGenCard5">
                                            <div class="card cardForm CustomFieldscardForm5">
                                                <div class="card-body CustomFieldscardBody5">
                                                    <div class="headerCard">
                                                        <h4 class="card-title custTitle" data-toggle="collapse" data-parent="#accordion5" href="#collapse5">Reporting Manager</h4>
                                                        <a data-toggle="collapse" class="collapsed btn btn-default btn-xs arrow_right" href="#collapse5" aria-label="Expand/Collapse Card 5" aria-expanded="false" role="button">
                                                            <i class="fa downArrow" aria-hidden="true"></i>
                                                            <span class="sr-only">Expand/Collapse Card 5</span>
                                                        </a>
                                                    </div>
                                                    <p class="card-description cardDesc">
            
                                                    </p>
                                                    <div id="collapse5" class="panel-collapse collapse in">
                                                        <div class="topBorderForm"></div>
                                                        <form class="forms-sample" class="panel-body">
            
                                                            <div class="row">
                                                                <div class="form-group col-md-4">
                                                                    <label for="exampleInputReportingManagerCode">Code</label>
                                                                    <input type="text" class="form-control form-control-input" id="exampleInputReportingManagerCode" placeholder="Code" [(ngModel)]="formdata.reportingmanagercode" name="reportingmanagercode" #reportingmanagercode="ngModel" pattern="^$|^[A-Za-z0-9]+$">
                                                                    <div [hidden]="reportingmanagercode.valid || reportingmanagercode.pristine" class="alert alert-danger">
                                                                        <div [hidden]="!reportingmanagercode.hasError('pattern')">
                                                                            Only Alphanumericals allowed</div>
                                                                    </div>
                                                                </div>
            
                                                                <div class="form-group col-md-4">
                                                                    <label for="exampleInputReportingManagerName">Name</label>
                                                                    <input type="text" class="form-control form-control-input" id="exampleInputReportingManagerName" placeholder="Name" [(ngModel)]="formdata.reportingmanagername" name="reportingmanagername" #reportingmanagername="ngModel" pattern="[a-zA-Z][a-zA-Z ]+">
                                                                    <div [hidden]="reportingmanagername.valid || reportingmanagername.pristine" class="alert alert-danger">
                                                                        <div [hidden]="!reportingmanagername.hasError('pattern')">
                                                                            Only alphabets allowed</div>
                                                                    </div>
                                                                </div>
            
                                                                <div class="form-group col-md-4">
                                                                    <label for="exampleInputRMEmail">Email</label>
                                                                    <input type="text" class="form-control form-control-input" id="exampleInputRMEmail" placeholder="Email" [(ngModel)]="formdata.rmemail" name="rmemail" #rmemail="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
                                                                    <div [hidden]="rmemail.valid || rmemail.pristine" class="alert alert-danger">
                                                                        <div [hidden]="!rmemail.hasError('pattern')">Email format should be
                                                                            <small><b>joe@abc.com</b></small>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
            
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
            
                                    <div class="row m0 formGen CustomFieldsformGen6" id="accordion6">
                                        <div class="col-md-12 grid-margin stretch-card formGenCard CustomFieldsformGenCard6">
                                            <div class="card cardForm CustomFieldscardForm6">
                                                <div class="card-body CustomFieldscardBody6">
                                                    <div class="headerCard">
                                                        <h4 class="card-title custTitle" data-toggle="collapse" data-parent="#accordion6" href="#collapse6">Skiplevel Manager</h4>
                                                        <a data-toggle="collapse" class="collapsed btn btn-default btn-xs arrow_right" href="#collapse6" aria-label="Expand/Collapse Card 6" aria-expanded="false" role="button">
                                                            <i class="fa downArrow" aria-hidden="true"></i>
                                                            <span class="sr-only">Expand/Collapse Card 6</span>
                                                        </a>
                                                    </div>
                                                    <p class="card-description cardDesc">
            
                                                    </p>
                                                    <div id="collapse6" class="panel-collapse collapse in">
                                                        <div class="topBorderForm"></div>
                                                        <form class="forms-sample" class="panel-body">
            
                                                            <div class="row">
                                                                <div class="form-group col-md-6">
                                                                    <label for="exampleInputSkipLevelmCode">Code</label>
                                                                    <input type="text" class="form-control form-control-input" id="exampleInputSkipLevelmCode" placeholder="Code" [(ngModel)]="formdata.skiplevelmcode" name="skiplevelmcode" #skiplevelmcode="ngModel">
                                                                    <div [hidden]="skiplevelmcode.valid || skiplevelmcode.pristine" class="alert alert-danger" pattern="^$|^[A-Za-z0-9]+$">
                                                                        <div [hidden]="!skiplevelmcode.hasError('pattern')">Only Alphanumericals allowed</div>
                                                                    </div>
                                                                </div>
            
                                                                <div class="form-group col-md-6">
                                                                    <label for="exampleInputSkipLevelmName">Name</label>
                                                                    <input type="text" class="form-control form-control-input" id="exampleInputSkipLevelmName" placeholder="Name" [(ngModel)]="formdata.skiplevelmname" name="skiplevelmname" #skiplevelmname="ngModel" pattern="[a-zA-Z][a-zA-Z ]+">
                                                                    <div [hidden]="skiplevelmname.valid || skiplevelmname.pristine" class="alert alert-danger">
                                                                        <div [hidden]="!skiplevelmname.hasError('pattern')">Only alphabets allowed</div>
                                                                    </div>
                                                                </div>
                                                            </div>
            
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
            
                                    <div class="row m0 formGen CustomFieldsformGen7" id="accordion7">
                                        <div class="col-md-12 grid-margin stretch-card formGenCard CustomFieldsformGenCard7">
                                            <div class="card cardForm CustomFieldscardForm7">
                                                <div class="card-body CustomFieldscardBody7">
                                                    <div class="headerCard">
                                                        <h4 class="card-title custTitle" data-toggle="collapse" data-parent="#accordion7" href="#collapse7">Employee Details</h4>
                                                        <a data-toggle="collapse" class="collapsed btn btn-default btn-xs arrow_right" href="#collapse7" aria-label="Expand/Collapse Card 7" aria-expanded="false" role="button">
                                                            <i class="fa downArrow" aria-hidden="true"></i>
                                                            <span class="sr-only">Expand/Collapse Card 6</span>
                                                        </a>
                                                    </div>
                                                    <p class="card-description cardDesc">
            
                                                    </p>
                                                    <div id="collapse7" class="panel-collapse collapse in">
                                                        <div class="topBorderForm"></div>
                                                        <form class="forms-sample" class="panel-body">
            
                                                            <div class="row">
                                                                <div class="form-group col-md-6">
                                                                    <label for="exampleInputEmpclassification">Employee
                                                                        classification</label>
                                                                    <input type="text" class="form-control form-control-input" id="exampleInputEmpclassification" placeholder="Employee classification" [(ngModel)]="formdata.empclassification" name="empclassification" #empclassification="ngModel" pattern="[a-zA-Z][a-zA-Z ]+">
                                                                    <div [hidden]="empclassification.valid || empclassification.pristine" class="alert alert-danger">
                                                                        <div [hidden]="!empclassification.hasError('pattern')">Only alphabets allowed</div>
                                                                    </div>
                                                                </div>
            
                                                                <div class="form-group col-md-6">
                                                                    <label for="exampleInputEmployeeStatus">Employee Status</label>
                                                                    <input type="text" class="form-control form-control-input" id="exampleInputEmployeeStatus" placeholder="Employee Status" [(ngModel)]="formdata.employeestatus" name="employeestatus" #employeestatus="ngModel" pattern="[a-zA-Z][a-zA-Z ]+">
                                                                    <div [hidden]="employeestatus.valid || employeestatus.pristine" class="alert alert-danger">
                                                                        <div [hidden]="!employeestatus.hasError('pattern')">Only alphabets allowed</div>
                                                                    </div>
                                                                </div>
                                                            </div>
            
                                                            <div class="row">
                                                                <div class="form-group col-md-6">
                                                                    <label for="exampleInputEmpCategory">Employee Category</label>
                                                                    <input type="text" class="form-control form-control-input" id="exampleInputEmpCategory" placeholder="Emp Category" [(ngModel)]="formdata.empcategory" name="empcategory" #empcategory="ngModel" pattern="[a-zA-Z][a-zA-Z ]+">
                                                                    <div [hidden]="empcategory.valid || empcategory.pristine" class="alert alert-danger">
                                                                        <div [hidden]="!empcategory.hasError('pattern')">Only alphabets allowed</div>
                                                                    </div>
                                                                </div>
            
                                                                <div class="form-group col-md-6">
                                                                    <label for="exampleInputTrainingVenue">Training Venue</label>
                                                                    <input type="text" class="form-control form-control-input" id="exampleInputTrainingVenue" placeholder="Training Venue" [(ngModel)]="formdata.trainingvenue" name="trainingvenue" #trainingvenue="ngModel" pattern="[a-zA-Z][a-zA-Z ]+">
                                                                    <div [hidden]="trainingvenue.valid || trainingvenue.pristine" class="alert alert-danger">
                                                                        <div [hidden]="!trainingvenue.hasError('pattern')">Only alphabets allowed</div>
                                                                    </div>
                                                                </div>
                                                            </div>
            
                                                            <div class="row">
                                                                <div class="form-group col-md-6">
                                                                    <label for="exampleInputRole">Role</label>
                                                                    <input type="text" class="form-control form-control-input" id="exampleInputRole" placeholder="Role" [(ngModel)]="formdata.role" name="role" #role="ngModel" pattern="[a-zA-Z][a-zA-Z ]+">
                                                                    <div [hidden]="role.valid || role.pristine" class="alert alert-danger">
                                                                        <div [hidden]="!role.hasError('pattern')">Only alphabets allowed
                                                                        </div>
                                                                    </div>
                                                                </div>
            
                                                                <div class="form-group col-md-6">
                                                                    <label for="attFlag">Employee Type</label>
                                                                    <select [(ngModel)]="formdata.attinfodata" id="attFlag" class="form-control form-control-input selectDrop" name="attinfodata" #attinfodata="ngModel">
                                                                        <option value="">Select Type</option>
                                                                        <option *ngFor="let attFlag of strArrayAttFlag"
                                                                            value={{attFlag.vId}}>{{attFlag.vName}}</option>
                                                                    </select>
                                                                </div>
                                                            </div>
            
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
            
                                    <div class="row m0 formGen CustomFieldsformGen1" id="accordion">
                                        <div class="col-md-12 grid-margin stretch-card formGenCard CustomFieldsformGenCard1">
                                            <div class="card cardForm CustomFieldscardForm1">
                                                <div class="card-body CustomFieldscardBody1">
                                                    <div class="headerCard">
                                                        <h4 class="card-title custTitle" data-toggle="collapse" data-parent="#accordion" href="#collapse1">Other Details</h4>
                                                        <a data-toggle="collapse" class="collapsed btn btn-default btn-xs arrow_right" href="#collapse1" aria-label="Expand/Collapse Card 1" aria-expanded="false" role="button">
                                                            <i class="fa downArrow" aria-hidden="true"></i>
                                                            <span class="sr-only">Expand/Collapse Card 1</span>
                                                        </a>
                                                    </div>
                                                    <p class="card-description cardDesc">
            
                                                    </p>
                                                    <div id="collapse1" class="panel-collapse collapse in">
                                                        <div class="topBorderForm"></div>
                                                        <form class="forms-sample" class="panel-body">
                                                            <div class="row">
                                                                <div class="form-group col-md-4">
                                                                    <label for="exampleInputInstitution">Company</label>
                                                                    <input type="text" class="form-control form-control-input" id="exampleInputInstitution" placeholder="Company" [(ngModel)]="formdata.institution" name="institution" #institution="ngModel" pattern="[a-zA-Z][a-zA-Z ]+">
                                                                    <div [hidden]="institution.valid || institution.pristine" class="alert alert-danger">
                                                                        <div [hidden]="!institution.hasError('pattern')">Only alphabets allowed</div>
                                                                    </div>
                                                                </div>
            
                                                                <div class="form-group col-md-4">
                                                                    <label for="exampleInputBand">Band</label>
                                                                    <input type="text" class="form-control form-control-input" id="exampleInputBand" placeholder="Band" [(ngModel)]="formdata.band" name="band" #band="ngModel">
                                                                </div>
            
                                                                <div class="form-group col-md-4">
                                                                    <label for="exampleInputLevel">Level</label>
                                                                    <input type="text" class="form-control form-control-input" id="exampleInputLevel" placeholder="Level" [(ngModel)]="formdata.level" name="level" #level="ngModel">
                                                                </div>
            
                                                            </div>
            
                                                            <div class="row">
                                                                <div class="form-group col-md-4">
                                                                    <label for="exampleInputDepartment">Department</label>
                                                                    <input type="text" class="form-control form-control-input" id="exampleInputDepartment" placeholder="Department" [(ngModel)]="formdata.department" name="department" #department="ngModel" pattern="[a-zA-Z][a-zA-Z ]+">
                                                                    <div [hidden]="department.valid || department.pristine" class="alert alert-danger">
                                                                        <div [hidden]="!department.hasError('pattern')">Only alphabets allowed</div>
                                                                    </div>
                                                                </div>
            
                                                                <div class="form-group col-md-4">
                                                                    <label for="exampleInputSDepartment">Sub Department</label>
                                                                    <input type="text" class="form-control form-control-input" id="exampleInputSDepartment" placeholder="Sub Department" [(ngModel)]="formdata.sdepartment" name="sdepartment" #sdepartment="ngModel" pattern="[a-zA-Z][a-zA-Z ]+">
                                                                    <div [hidden]="sdepartment.valid || sdepartment.pristine" class="alert alert-danger">
                                                                        <div [hidden]="!sdepartment.hasError('pattern')">Only alphabets allowed</div>
                                                                    </div>
                                                                </div>
            
                                                                <div class="form-group col-md-4">
                                                                    <label for="exampleInputSSDepartment">Sub Sub Department</label>
                                                                    <input type="text" class="form-control form-control-input" id="exampleInputSSDepartment" placeholder="Sub Sub Department" [(ngModel)]="formdata.ssdepartment" name="ssdepartment" #ssdepartment="ngModel" pattern="[a-zA-Z][a-zA-Z ]+">
                                                                    <div [hidden]="ssdepartment.valid || ssdepartment.pristine" class="alert alert-danger">
                                                                        <div [hidden]="!ssdepartment.hasError('pattern')">Only alphabets allowed</div>
                                                                    </div>
                                                                </div>
                                                            </div>
            
                                                            <div class="row">
                                                                <div class="form-group col-md-6">
                                                                    <label for="exampleInputBusiness">Business</label>
                                                                    <input type="text" class="form-control form-control-input" id="exampleInputBusiness" placeholder="Business" [(ngModel)]="formdata.business" name="business" #business="ngModel" pattern="[a-zA-Z][a-zA-Z ]+">
                                                                    <div [hidden]="business.valid || business.pristine" class="alert alert-danger">
                                                                        <div [hidden]="!business.hasError('pattern')">Only alphabets allowed
                                                                        </div>
                                                                    </div>
                                                                </div>
            
                                                                <div class="form-group col-md-6">
                                                                    <label for="exampleInputOrgcode">Org Code</label>
                                                                    <input type="text" class="form-control form-control-input" id="exampleInputOrgcode" placeholder="Org Code" [(ngModel)]="formdata.orgcode" name="orgcode" #orgcode="ngModel" pattern="^$|^[A-Za-z0-9]+$">
                                                                    <div [hidden]="orgcode.valid || orgcode.pristine" class="alert alert-danger">
                                                                        <div [hidden]="!orgcode.hasError('pattern')">Only Alphanumericals allowed</div>
                                                                    </div>
                                                                </div>
                                                            </div>
            
                                                            <div class="row">
                                                                <div class="form-group col-md-4">
                                                                    <label for="exampleInputZone">Zone</label>
                                                                    <input type="text" class="form-control form-control-input" id="exampleInputZone" placeholder="Zone" [(ngModel)]="formdata.zone" name="zone" #zone="ngModel">
                                                                </div>
            
                                                                <div class="form-group col-md-4">
                                                                    <label for="exampleInputState">State</label>
                                                                    <input type="text" class="form-control form-control-input" id="exampleInputState" placeholder="State" [(ngModel)]="formdata.state" name="state" #state="ngModel" pattern="[a-zA-Z][a-zA-Z ]+">
                                                                    <div [hidden]="state.valid || state.pristine" class="alert alert-danger">
                                                                        <div [hidden]="!state.hasError('pattern')">Only alphabets allowed
                                                                        </div>
                                                                    </div>
                                                                </div>
            
                                                                <div class="form-group col-md-4">
                                                                    <label for="exampleInputLocation">Location</label>
                                                                    <input type="text" class="form-control form-control-input" id="exampleInputLocation" placeholder="Location" [(ngModel)]="formdata.inductionLocation" name="inductionLocation" #inductionLocation="ngModel" pattern="[a-zA-Z][a-zA-Z ]+">
                                                                    <div [hidden]="inductionLocation.valid || inductionLocation.pristine" class="alert alert-danger">
                                                                        <div [hidden]="!inductionLocation.hasError('pattern')">Only alphabets allowed</div>
                                                                    </div>
                                                                </div>
                                                            </div>
            
                                                            <div class="row">
                                                            </div>
            
                                                            <!-- <div class="row">
                                        <div class="form-group col-md-6">
                                          <label for="skilllevel">Skill Level</label>
                                          <select [(ngModel)]="formdata.skilllevel" id="skilllevel" class="form-control form-control-input" name="skilllevel" #skilllevel="ngModel">
                                            <option value = "">Select Type</option>
                                              <option *ngFor="let skill of strArraySkilllevel" value={{skill.sId}} >{{skill.sName}}</option>
                                          </select>
                                        </div>
                                        <div class="form-group col-md-6">
                                          <label for="doj">Date of Joining</label>
                                          <div id="divDoj" class="mdl-left" style="">
                                              <my-date-picker class="form-control-input" name="mydatedoj" [placeholder]="placeHolder" [options]="myDatePickerOptions" id="doj" 
                                                [(ngModel)]="formdata.doj"></my-date-picker>
                                              <span></span>
                                            </div>
                                        </div>
                                      </div>
            
                                      <div class="row">
                                        <div class="form-group col-md-6">
                                          <label for="otp">OTP Flag</label>
                                            <select [(ngModel)]="formdata.otp" id="otp" class="form-control form-control-input" name="otp" #otp="ngModel">
                                              <option value = "">Select Type</option>
                                                <option *ngFor="let ver of strArrayVer" value={{ver.vId}} >{{ver.vName}}</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-md-6">
                                          <label for="coc">Code of Conduction Flag</label>
                                            <select [(ngModel)]="formdata.coc" id="coc" class="form-control form-control-input" name="coc" #coc="ngModel">
                                              <option value = "">Select Type</option>
                                                <option *ngFor="let coc of strArrayCoc" value={{coc.vId}} >{{coc.vName}}</option>
                                            </select>
                                        </div>
                                      </div> -->
            
                                                            <!-- <div class="row">
                                        <div class="form-group col-md-6">
                                          <label for="attFlag">Attendance Flag</label>
                                            <select [(ngModel)]="formdata.attFlag" id="attFlag" class="form-control form-control-input" name="attFlag" #attFlag="ngModel">
                                              <option value = "">Select Type</option>
                                                <option *ngFor="let attFlag of strArrayAttFlag" value={{attFlag.vId}} >{{attFlag.vName}}</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-md-6">
                                          <label for="dob">Date of Birth</label>
                                            <div id="divdob" class="mdl-left" style="">
                                              <my-date-picker class="form-control-input" name="mydatedob" [placeholder]="placeHolder" [options]="myDatePickerOptions" id="dob" 
                                                  [(ngModel)]="formdata.dob"></my-date-picker>
                                                  <span></span>
                                            </div>
                                        </div>
                                      </div> -->
            
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </tab>
                                <!-- 
                          <tab title="" [disabled]="false" >
                            <span *tabHeading>
                              <b > 
                                Data access
                              </b> 
                            </span> 
                            <div class="row m0 formGen" id="content" >  
                             
                              <div class="col-md-12 grid-margin stretch-card formGenCard" >
                                <div class="card cardForm">
                                  <div class="card-body">
                                    <h4 class="card-title">Select Role</h4>
                                    <div class="magin20px">
                                        <label >Role</label>
                                    <angular2-multiselect [data]="dropdownListRole" [(ngModel)]="selectedItemsRole" 
                                    [settings]="dropdownSettingsRole" 
                                    (onSelect)="onItemSelect($event)" 
                                    (onDeSelect)="OnItemDeSelect($event)"
                                    (onSelectAll)="onSelectAll($event)"
                                    (onDeSelectAll)="onDeSelectAll($event)">
                                  </angular2-multiselect>
                                  </div>
                                <div class="magin20px">
                                    <label >Department</label>
                                  <angular2-multiselect [data]="dropdownListDept" [(ngModel)]="selectedItemsDept" 
                                  [settings]="dropdownSettingsDept" 
                                  (onSelect)="onItemSelect($event)" 
                                  (onDeSelect)="OnItemDeSelect($event)"
                                  (onSelectAll)="onSelectAll($event)"
                                  (onDeSelectAll)="onDeSelectAll($event)">
                                </angular2-multiselect>
                                </div>
                                  <div class="magin20px">
                                    <label >Band</label>
                                <angular2-multiselect [data]="dropdownListBand" [(ngModel)]="selectedItemsBand" 
                                [settings]="dropdownSettingsBand" 
                                (onSelect)="onItemSelect($event)" 
                                (onDeSelect)="OnItemDeSelect($event)"
                                (onSelectAll)="onSelectAll($event)"
                                (onDeSelectAll)="onDeSelectAll($event)">
                              </angular2-multiselect>
                              </div>
                                  </div>
                                </div>
                              </div>
            
                            </div>
                          </tab>              
             -->
                            </tabset>
                        </div>
                    </div>
                </div>
            </div>
</div>
