<div class="widgets">
    
    <div  ba-panel ba-panel-class="with-scroll" >
        <div class="col-sm-12 panelCol">
            <div style="">
                <div class="userSubButAddEdit sticky-top">
                        <button type="submit"  [disabled]="!userForm.form.valid" (click)="addEdit(formdata)">Save</button>  
                        <button type="button"  (click)="back()" class="back_button">Back</button>              
                 </div>
            </div>
        </div>
    </div>
</div>