.add_edit_survey {
    /*.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; green
}*/
    /*.ng-invalid:not(form)  {
  border-left: 5px solid #a94442;  red
}*/
    // .alert {
    //   margin-bottom: 1px;
    //   height: 25px;
    //   line-height:25px;
    //   padding:0px 15px;
    // }
    // .alert-danger {
    //     background-color: #f0f3f4;
    //     border-color: #f0f3f4;
    //     color: #645a5a;
    // }
    // .addEditCatbtn-secondary:hover {
    //   color: #fff;
    //   background-color: #ed462f;
    //   border-color:  #ed462f;
    // }
    // .sticky-top
    // {
    //   position: sticky;
    //   top: 67px;
    //   z-index: 1090;
    // }
    // .toprow{
    //   border: none;
    //   background-color: #ffffff;
    //   height: auto;
    //   width: 100%;
    //   display: inline-flex;
    // }
    // .addEditCattoprow{
    //   // padding: 12px;
    //   border: none;
    //   background-color: #ffffff;
    //   height: auto;
    //   width: 100%;
    //   display: inline-flex;
    // }
    // .addEditCatsticky-top{
    //   position: sticky;
    //   top: 67px;
    //   z-index: 1090;
    // }
    // #submitBut {
    // 	margin: 10px;
    // 	border-radius: 0;
    //   background: #ed462f;
    //   color: #fff;
    //   border: #ed462f;
    //   height: 37px;
    //   width: 135px;
    //   color: #ffffff;
    //   background-color: #ed462f;
    //   background-image: none;
    //   border-color: #ed462f;
    //   transform: none;
    // }
    // #addEditCatbackBut {
    //   margin: 10px;
    //   border-radius: 0;
    //   background: #076ba1;
    //   color: #fff;
    //   border: #076ba1;
    //   height: 37px;
    //   width: 135px;
    //   color: #ffffff;
    //   background-color: #076ba1;
    //   background-image: none;
    //   border-color: #076ba1;
    //   transform: none;
    // }
    // .addEditCatoptbtnNew{
    //   border-radius: 0px   ;
    //   /*background: #076ba1;*/
    //   background: #ed462f   ;
    //   color: #fff;
    //   border: #076ba1;
    //   height: 37px;
    //   width: 135px;
    //   transform: none   ;
    //   margin: 10px;
    // }
    // .userField {
    //   margin-left: 30px ;
    //   margin-top: 15px ;
    // }
    // .userLegend {
    //   margin-bottom: 5px;
    // }
    // .userLegendBorder {
    //   border-bottom-style: solid;
    //   border-bottom-width: 2px;
    // }
    // #userRow1 {
    //   margin-top: 10px;
    // }
    // .userSubBut {
    //     float: right;
    //     /* margin-left: 30px; */
    //     /*margin-top: 8px;*/
    //     transform: none;
    //     background: #fff;
    //     height: 55px;
    //     margin: 0 auto;
    //     padding: 9px;
    // }
    // .userBackBut{
    //   /* display: none; */
    // }
    // #backBut {
    //   //margin: 10px;
    //   border-radius: 0;
    //   background: #076ba1;
    //   color: #fff;
    //   border: #076ba1;
    //   height: 37px;
    //   width: 135px;
    //   color: #ffffff;
    //   background-color: #076ba1;
    //   background-image: none;
    //   border-color: #076ba1;
    //   transform: none;
    // }
    // .optbtnNew{
    //     border-radius: 0;
    //     /*background: #076ba1;*/
    //     background: #ed462f;
    //     color: #fff;
    //     border: #076ba1;
    //     height: 37px;
    //     width: 135px;
    //     transform: none   ;
    //     margin: 10px;
    // }
    // .btn-secondary:hover {
    //      color: #fff;
    //      background-color: #ed462f;
    //      border-color:  #ed462f;
    // }
    // .inputLabel{
    //   line-height: 2.5;
    //   font-size: 15px;
    // }
    // .left {
    //   display: flex;
    //   align-items: center;
    //   justify-content: center;
    //   flex-direction: column;
    // }
    // .photo {
    //   width: 200px;
    //   height: 200px;
    //   margin-top: -120px;
    //   border-radius: 100px;
    //   border: 4px solid #fff;
    // }
    // // .active {
    // //   width: 20px;
    // //   height: 20px;
    // //   border-radius: 20px;
    // //   position: absolute;
    // //   right: calc(50% - 70px);
    // //   top: 75px;
    // //   background-color: #FFC107;
    // //   border: 3px solid #fff;
    // // }
    // @media (max-width:990px) {
    //   .active {
    //     right: calc(50% - 60px);
    //     top: 50px;
    //   }
    // }
    // .proImg{
    //   margin-left: 157%;
    //   margin-top: 65%;
    // }
    // .img-circle {
    //   border-radius: 50%;
    // }
    // .bg-form{
    //     float:left;width:100%;
    //     position:relative;
    //     background: url("http://lorempixel.com/200/200/abstract/");
    //     background-repeat: no-repeat;
    //     background-size: cover;
    //     margin-top: 0px;
    // }
    // .img-section{
    //     float: left;width: 100%;padding-top: 15px;padding-bottom: 15px;background: rgba(0,0,0,0.7);position: relative;
    // }
    // .img-section h4{color:#fff;}
    // #PicUpload{
    //     color: #ffffff;
    //     width: 180px;
    //     height: 180px;
    //     background: rgba(255,255,255,0.4);
    //     padding: 100px;
    //     position: absolute;
    //     left: 30.5%;
    //     border-radius: 50%;
    //     display: none;
    //     top:15px;
    // }
    // .imgCircle{
    //     border-radius: 50%;
    //     width: 200px;
    //     height: 200px;
    // }
    // .Profile-input-file{
    //     height:180px;width:180px;left:33%;
    //     position: absolute;
    //     top: 0px;
    //     z-index: 999;
    //     opacity: 0   ;
    // }
    // /*.form-control{padding: 10px 50px;}*/
    // .form-input{height:50px;border-radius: 0px;margin-top: 20px;}
    // .form-style-fake{position:absolute;top:0px;}
    // .form-style-base{position:absolute;top:0px;z-index: 999;opacity: 0;}
    // .space_left{
    //   padding-left: 2px;
    // }
    // .fake-styled-btn{
    //     background: #006cad;
    //     padding: 10px;
    //     color: #fff;
    // }
    // .camera{
    //     font-size: 50px;
    //     color: #333;
    // }
    // .avatar-upload {
    //    position: relative;
    //    max-width: 205px;
    //    /*margin: 50px auto;*/
    //    .avatar-edit {
    //        position: absolute;
    //        right: 12px;
    //        z-index: 1;
    //        top: 10px;
    //        input {
    //            display: none;
    //            + label {
    //                display: inline-block;
    //                width: 34px;
    //                height: 34px;
    //                margin-bottom: 0;
    //                border-radius: 100%;
    //                background: #FFFFFF;
    //                border: 1px solid transparent;
    //                box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    //                cursor: pointer;
    //                font-weight: normal;
    //                transition: all .2s ease-in-out;
    //                &:hover {
    //                    background: #f1f1f1;
    //                    border-color: #d6d6d6;
    //                }
    //                &:after {
    //                    content: "\f040";
    //                    font-family: 'FontAwesome';
    //                    color: #757575;
    //                    position: absolute;
    //                    top: 10px;
    //                    left: 0;
    //                    right: 0;
    //                    text-align: center;
    //                    margin: auto;
    //                }
    //            }
    //        }
    //    }
    //    .avatar-delete {
    //        position: absolute;
    //        right: 12px;
    //        z-index: 1;
    //        bottom: 10px;
    //        label {
    //                display: inline-block;
    //                width: 34px;
    //                height: 34px;
    //                margin-bottom: 0;
    //                border-radius: 100%;
    //                background: #FFFFFF;
    //                border: 1px solid transparent;
    //                box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    //                cursor: pointer;
    //                font-weight: normal;
    //                transition: all .2s ease-in-out;
    //                &:hover {
    //                    background: #f1f1f1;
    //                    border-color: #d6d6d6;
    //                }
    //                &:after {
    //                    content: "\f1f8";
    //                    font-family: 'FontAwesome';
    //                    color: #757575;
    //                    position: absolute;
    //                    top: 10px;
    //                    left: 0;
    //                    right: 0;
    //                    text-align: center;
    //                    margin: auto;
    //            }
    //        }
    //    }
    //    .avatar-preview {
    //        width: 192px;
    //        height: 192px;
    //        position: relative;
    //        border-radius: 100%;
    //        border: 6px solid #F8F8F8;
    //        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    //        > div {
    //            width: 100%;
    //            height: 100%;
    //            border-radius: inherit;
    //            background-size: contain;
    //            background-repeat: no-repeat;
    //            background-position: center;
    //        }
    //    }
    // }
    // .inputLabelUpload{
    //   line-height: 12.5;
    //   font-size: 15px;
    // }
    // .activeRoute{
    //   text-decoration: underline;
    //   text-underline-position: under;
    //   text-decoration-color: #076ba1;
    //   color: #076ba1;
    // }
    // .al-content {
    //    padding: 0px;
    // }
    // .m0{
    //   margin: 0 auto;
    // }
    // .photo-left{
    //   margin: 0 auto;
    // }
    // .cardForm {
    //     color: #666666;
    //     background-color: #ffffff;
    //     border: 1px solid #f1eded;
    //     border-radius: 0px;
    //     position: relative;
    //     margin-bottom: 24px;
    //     box-shadow: none;
    // }
    .manEnrolSrchDiv {
        // display: flex;
        display: block !important;
        position: relative;
        input:focus {
            border-style: none;
        }
    }
    .tabset>.nav .nav-tabs {
        width: 100%;
    }
    .tabset>.nav .nav-tabs>li {
        width: 33%;
    }
    .tabset>.nav .nav-tabs>li>a {
        width: 100%;
    }
    .tabset>ul>li>a>span>i {
        font-size: 20px;
        display: block;
        height: 100%;
    }
    .tabset>ul>li>a>span>i>b {
        display: block;
        font-weight: 500;
        font-style: normal;
        font-size: 16px;
    }
    .tabset>ul>li>a>.span {
        width: 100%;
    }
    .tabset>ul>li:last-child a {
        border-top-right-radius: 5px;
    }
    .tabset>ul>li.active>a {
        background-color: #bec0c1;
        color: #fff;
    }
    /*#addUser .tabset .nav .nav-tabs{
      height: 60px   ;
      background: #ffff   ;
      padding-left: 15px   ;
      border: none   ;
    }
  #addUser .tabset .nav .nav-tabs li.active{
    line-height: 4   ;
    background: transparent   ;
    border-bottom: 2px solid #076ba1   ;
  }*/
    // .tabset>ul>li.active {
    //     width: 20px;
    //     height: 20px;
    //     border-radius: 20px;
    //     position: inherit;
    //     right: calc(50% - 70px);
    //     top: 75px;
    //     background-color: transparent;
    //     border: none;
    // }
    .nav.nav-tabs>li.active>a {
        border-bottom: 3px solid var(--colorCommon);
        background-color: #fff;
        color: #076ba1;
    }
    // .tabset>ul>li {
    //     width: 22%;
    // }
    .tabset>ul>li:hover>a {
        color: #076ba1;
        background-color: #ffffff;
        transform: none;
        transition: none;
    }
    .nav.nav-tabs {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom: none;
        background-color: white;
    }
    // .tabset>ul>li>a {
    //     width: 100%;
    //     background-color: transparent;
    //     color: #686868;
    //     height: 55px;
    //     border-bottom: none;
    //     line-height: 2.5;
    // }
    // .al-content {
    //    padding: 0px;
    // }
    // .nb-theme-corporate select.form-control:not([size]):not([multiple]) {
    //   height: 19%;
    // }
    // .addEditCatHead{
    //   // padding: 15px 0px 15px 30px;
    //   margin: 15px auto;
    // }
    // .texthei
    // {
    //   height: 96px   ;
    // }
    // .mar10
    // {
    //   margin: 10px
    // }
    // .pad0
    // {
    //   padding: 0   ;
    // }
    .fullwiddth {
        width: 100%;
        display: inline-flex;
    }
    .dateinput {
        width: 95%;
        float: left;
    }
    .calfont {
        font-size: 20px;
        /* padding: 10px 10px; */
        color: #fff;
        // margin-left: 8px;
    }
    .padding0 {
        padding: 0;
    }
    .divcalicon {
        padding: 0;
        width: 30px;
        display: flex;
        background: #2795d0;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    .sqrCheckBox .sqrCheckBoxLabel {
        border: 1px solid #ccc;
        border-radius: none;
        cursor: pointer;
        height: 16px;
        left: 5px;
        position: -webkit-sticky;
        position: relative;
        width: 16px;
        // top: 8px   ;
        top: 9.5px;
        margin-right: 10px;
        background: white;
    }
    .sqrCheckBox .sqrCheckBoxLabel:after {
        // border: 2px solid #fff;
        border: 2px solid #076ba1;
        border-top: none;
        border-right: none;
        content: "";
        height: 4px;
        left: 1.5px;
        opacity: 0;
        position: absolute;
        top: 4px;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        width: 12px;
    }
    .sqrCheckBox input[type="checkbox"] {
        visibility: hidden;
        background: white;
        display: none;
    }
    .sqrCheckBox input[type="checkbox"]:checked+.sqrCheckBoxLabel {
        background-color: #ffffff;
        border-color: #076ba1;
    }
    .sqrCheckBox input[type="checkbox"]:checked+.sqrCheckBoxLabel:after {
        opacity: 1;
    }
    .cancelbutquiz {
        background: transparent;
        border: none;
        float: right;
        margin: 5px 0;
    }
    .addRuleBackdropaddquiz {
        // position: absolute;
        // width: 100%;
        // height: 100%;
        // top: 67px;
        // background-color: #404040c2;
        // z-index: 2000;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        z-index: 1503;
        background-color: #404040c2;
        .addRuleDemoaddquizModal {
            /*width: 80%;*/
            // width: 50%;
            // margin: auto;
            // background-color: #fff;
            // margin-top: 50px;
            // border-radius: 5px;
            width: 50%;
            margin: auto;
            background-color: #fff;
            margin-top: 65px;
            border-radius: 5px;
            .modal-header {
                background: #076ba1;
                color: #fff;
                font-size: 16px;
                p {
                    margin: 0;
                }
            }
        }
    }
    .marginTop {
        margin-top: 20px;
    }
    .header {
        background: var(--colorHeader);
    }
    .borderQuestion {
        border: 1px solid #eee;
        padding: 10px;
        display: grid;
        grid-template-columns: 0.2fr 2fr 2fr 1fr;
        grid-column-gap: 10px;
        justify-items: left;
        // grid-template-rows: 16px;
        padding-right: 16px;
    }
    .marginBottombutaddquiz {
        margin-bottom: 20px;
    }
    .quiztabpad {
        padding: 0px 15px;
    }
    .disblc {
        display: block;
    }
    .paddingmarginBottombutaddquiz {
        padding-bottom: 20px;
    }
    .dragBtn {
        height: 17px;
        width: 17px;
        background-color: #ffffff;
        border: none;
        // padding: 20px;
        margin-left: 10px;
    }
    .sortIcon {
        right: 4.5px;
        font-size: 14px;
        top: 0px;
    }
    .glyphicon-sort:before {
        // content: "\e150";
        color: #076ba1;
    }
    .glyphicon-move:before {
        // content: "\e068";
        color: #076ba1;
    }
    .dragBtn:focus {
        // outline: 5px auto -webkit-focus-ring-color;
        outline: none;
    }
    .iconCancelaq {
        color: #f44336;
    }
    .qattmarlef {
        margin-left: 5px;
    }
    .qattllabel {
        margin: 31px 0;
    }
    .qmandisinflex {
        display: inline-flex;
    }
    .qpercentage {
        margin: 10px 5px;
    }
    // .reqField{
    //   display: inline;
    //   color: #ed462f   ;
    // }
    .fontforfeed {
        font-size: 28px;
        margin-top: 7px;
    }
    .noQuestions {
        display: flex;
        justify-content: center;
        margin: 20px;
        border: 1px solid #058ad2;
        padding: 10px;
        border-radius: 25px;
    }
    .addQuestbtn {
        //height: -webkit-fill-available;\
        margin: 20px 0;
        text-align: right;
    }
    .BackButton {
        width: auto;
        border: none;
        padding: 6px 14px;
        background-color: #076ba1;
        color: #fff;
        text-transform: uppercase;
        min-width: 90px;
        max-height: 29px;
        margin-left: 5px;
    }
    .surveybtnNewAdd {
        width: auto;
        border: none;
        padding: 6px 14px;
        background-color: #076ba1;
        color: #fff;
        text-transform: uppercase;
        min-width: 90px;
        max-height: 29px;
    }
    .feedmartop9 {
        // margin-top: 9px;
        margin: 0;
        /* margin: auto; */
        display: flex;
        align-items: center;
        font-size: 12px;
    }
    .feedmartop21 {
        margin-top: 21px;
    }
    .subTable {
        border-collapse: collapse;
        width: 80%;
        margin: 1.5em;
        /*font-family: Arial, Helvetica, sans-serif*/
        font-size: 0.85em;
    }
    .subTableRow {
        border-bottom: 1px solid #ccc;
        line-height: 3.5em;
        /*font-weight: bold;*/
        color: #111218;
    }
    .subTableCol {
        width: 25%;
        /*font-weight: bold;*/
    }
    .subTableColHead {
        font-weight: bold;
    }
    .subTableDiv {
        padding-left: 90px;
        max-height: 210px;
        overflow-y: auto;
        /* text-align: -webkit-right; */
        /* margin-left: 90px; */
    }
    .feedbackSrchDiv {
        margin: 15px;
    }
    .feedbackSearchUsr {
        width: 100%;
        padding: 10px;
    }
    .searchInput::placeholder {
        color: #313233bf;
    }
    .subTableRowanal {
        border: 1px solid #ccc;
        line-height: 3.5em;
        /*font-weight: bold;*/
        color: #111218;
    }
    .subTablecolpad {
        padding: 0px 10px;
    }
    .subTableanal {
        border-collapse: collapse;
        margin: 1.5em;
        /*font-family: Arial, Helvetica, sans-serif*/
        font-size: 0.85em;
    }
    .floatleft {
        float: left;
    }
    .floatright {
        float: right;
    }
    .textcent {
        text-align: center;
    }
    .ngx-datatable.scroll-vertical .datatable-body {
        overflow-y: auto;
        height: 350px;
    }
    /*****************************setting css****************************/
    .surveyIcon {
        margin: 0 auto;
        text-align: -webkit-center;
    }
    .surveyIcon-upload {
        position: relative;
        .surveyIcon-edit {
            position: absolute;
            left: 28%;
            z-index: 1;
            bottom: 5%;
            input {
                display: none;
                +label {
                    display: inline-block;
                    width: 34px;
                    height: 34px;
                    margin-bottom: 0;
                    border-radius: 100%;
                    background: #ffffff;
                    border: 1px solid transparent;
                    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
                    cursor: pointer;
                    font-weight: normal;
                    transition: all 0.2s ease-in-out;
                    &:hover {
                        background: #f1f1f1;
                        border-color: #d6d6d6;
                    }
                    &:after {
                        content: "\f040";
                        font-family: "FontAwesome";
                        color: #757575;
                        position: absolute;
                        top: 10px;
                        left: 0;
                        right: 0;
                        text-align: center;
                        margin: auto;
                    }
                }
            }
        }
        .surveyIcon-delete {
            position: absolute;
            right: 28%;
            z-index: 1;
            bottom: 5%;
            label {
                display: inline-block;
                width: 34px;
                height: 34px;
                margin-bottom: 0;
                border-radius: 100%;
                background: #ffffff;
                border: 1px solid transparent;
                box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
                cursor: pointer;
                font-weight: normal;
                transition: all 0.2s ease-in-out;
                &:hover {
                    background: #f1f1f1;
                    border-color: #d6d6d6;
                }
                &:after {
                    content: "\f1f8";
                    font-family: "FontAwesome";
                    color: #757575;
                    position: absolute;
                    top: 10px;
                    left: 0;
                    right: 0;
                    text-align: center;
                    margin: auto;
                }
            }
        }
        .surveyIcon-preview {
            width: 300px;
            height: 175px;
            position: relative;
            border: 6px solid #fbfbfb;
            -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
            >img {
                width: 100%;
                height: 100%;
            }
        }
    }
    .reqField {
        display: inline;
        color: #ed462f;
    }
    .mBodyQue {
        height: 300px;
        overflow-y: scroll;
        width: 100%;
    }
    .closeAns {
        color: #ea6161;
        cursor: pointer;
        background: none;
        border: none;
        font-size: 24px;
        margin-top: 4px;
        margin-left: 2px;
    }
    .formModal {
        color: #6b6b6b;
        width: 100%;
    }
    .manEnrolSearchUsr {
        width: 100%;
        padding: 10px;
        display: flex;
    }
    // .searchInput::placeholder {
    //     color: #313233bf;
    // }
    .searchInput {
        border: none;
        border-bottom: 1px solid #313233bf;
        background: transparent;
        box-shadow: none;
        border-radius: 0;
        outline: none;
    }
    .searchInput:active {
        border-bottom: 1px solid #313233bf;
    }
    // nb-tabset nb-tab {
    //   height: -webkit-fill-available;
    // }
    .searchRemove {
        position: absolute;
        top: 28px;
        right: 10px;
        // padding:0px;
        cursor: pointer;
    }
    .formGenCardEnrol {
        padding-top: 30px;
    }
    .surveyTabset>ul {
        background: #fff;
        border-bottom: 1px solid var(--colorCommon) !important;
        padding-left: 0;
        padding-right: 0;
        position: -webkit-sticky;
        position: sticky;
        top: 106px;
        z-index: 2;
    }
    .surveyTabset>ul>li.active>a {
        color: var(--colorCommon);
    }
    .surveyTabset>ul>li>a::before {
        background: var(--colorCommon);
    }
    .surveyTabset>ul>li>a:hover {
        color: var(--colorCommon) !important;
    }
    .surveyTabset>ul>li {
        &.disabled {
            cursor: not-allowed;
            a {
                color: #a4abb3;
                cursor: not-allowed;
                pointer-events: none;
                &:hover {
                    color: #a4abb3;
                }
            }
        }
    }
    .my-custom-scrollbar {
        position: relative;
        height: 500px;
        overflow: auto;
    }
    .table-wrapper-scroll-y {
        display: block;
    }
    @import "../../../../@theme/styles/themes";
    @include nb-install-component() {
        .piechart {
            display: block;
            height: nb-theme(card-height-medium);
            width: 100%;
            /deep/ chart {
                display: block;
                height: 100%;
                width: 100%;
            }
        }
    }
    .tabBlock {
        padding-top: 5%;
    }
    .chartPie {
        padding: 16px;
    }
    // .cdk-overlay-pane {
    //   position: absolute;
    //   pointer-events: auto;
    //   -webkit-box-sizing: border-box;
    //   box-sizing: border-box;
    //   z-index: 1000;
    //   display: -webkit-box;
    //   display: -ms-flexbox;
    //   display: flex;
    //   max-width: 100%;
    //   max-height: 100%;
    //   pointer-events: auto   ;
    //   bottom: 154.6px    ;
    //   left: 279px    ;
    // }
    .eyeIcon {
        // padding: 16px;
        margin-top: 0px;
        margin-left: 24px;
    }
    .required_mark {
        display: inline;
        color: #ed462f !important;
        font-size: 16px;
        margin: 0;
        font-weight: 100 !important;
        top: -0.1em !important;
    }
    .addEditCategory_page_container {
        .content_width {
            width: 78vw;
            margin: 0 auto;
        }
        .addEditCategory_header {
            background: #fff;
            position: sticky;
            top: 4.75rem;
            z-index: 1020;
            .header_grid {
                display: grid;
                grid-template-columns: 1fr 1fr;
                align-items: center;
                height: 50px;
                .header_title {
                    h4 {
                        text-align: left;
                    }
                }
                .buttons_container {
                    text-align: right;
                }
            }
        }
        .bg_white {
            background-color: #FFF;
            margin: 15px;
            height: 540px;
            overflow: hidden;
        }
        .enrolTab {
            background: #fff;
            padding-left: 0;
            margin-left: 15px !important;
            margin-right: 15px !important;
            padding: 0 10px 10px 10px;
        }
        .inside_form_container {
            // display: grid;
            // grid-template-columns: 1fr 1fr;
            // background: #fff;
            // margin: 20px;
            .form_div {
                padding: 15px;
                background-color: #FFF;
                ;
            }
            .form_grid {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-column-gap: 30px;
                .form_field_container {
                    margin: 20px 0;
                    // .select_field_height{
                    //   height: 35px;
                    //   width: 100%;
                    // }
                    label {
                        color: #666666;
                    }
                    .image_upload_container {
                        // margin-top: 15px;
                        .image_preview {
                            height: 214px;
                            width: 300px;
                            margin-right: auto;
                            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
                            padding: 10px;
                            background: #fff9f9;
                            position: relative;
                            .image_preview_container {
                                height: 194px;
                                width: 100%;
                                background-size: cover;
                                background-position: center;
                                background-repeat: no-repeat;
                                display: grid;
                                grid-template-columns: 1fr 1fr;
                                // position: absolute;
                                grid-column-gap: 20px;
                                align-items: end;
                                // margin-top: -10px;
                                // img{
                                //   width: 100%;
                                //   height: 100%;
                                // }
                                .icon_upload_image {
                                    // text-align: right;
                                    // margin-left: auto;
                                    margin-left: 10px;
                                    margin-bottom: 10px;
                                    label {
                                        display: flex;
                                        align-items: center;
                                        // align-content:
                                        justify-content: center;
                                        // justify-items: center;
                                        background: #fff;
                                        // color: #076ba1;
                                        color: var(--colorIcons);
                                        height: 40px;
                                        width: 40px;
                                        border-radius: 50%;
                                        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
                                        margin-bottom: 0;
                                        padding: 0;
                                        i {
                                            line-height: 40px;
                                        }
                                    }
                                    // margin: 0 auto;
                                }
                                .icon_delete {
                                    // text-align: right;
                                    // margin-right: auto;
                                    margin-left: auto;
                                    margin-right: 10px;
                                    margin-bottom: 10px;
                                    display: flex;
                                    align-items: center;
                                    // align-content:
                                    justify-content: center;
                                    // justify-items: center;
                                    background: #fff;
                                    color: #076ba1;
                                    height: 40px;
                                    width: 40px;
                                    border-radius: 50%;
                                    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
                                    // margin: 0;
                                    padding: 0;
                                    i {
                                        line-height: 40px;
                                    }
                                }
                                //   .buttons_image_preview{
                                //     // display: grid;
                                //     // grid-template-columns: 1fr 1fr;
                                //     // // position: absolute;
                                //     // grid-column-gap: 20px;
                                //     // align-items: end;
                                //     // margin-top: -10px;
                                // }
                            }
                        }
                    }
                }
                // .tagcontainer{
                //   margin-bottom: 4px;
                // }
                // .tagcontainer .bootstrap.ng2-tag-input {
                //   display: block;
                //   -webkit-box-orient: horizontal;
                //   -webkit-box-direction: normal;
                //   -ms-flex-direction: row;
                //   flex-direction: row;
                //   -ms-flex-wrap: wrap;
                //   flex-wrap: wrap;
                //   position: relative;
                //   cursor: text;
                //   // width: 445px   ;
                //   border-bottom: 2px solid #efefef;
                // }
                // tag-input{
                //   width: 100%;
                // }
                // .image_preview{
                //   .image_preview_container{
                //       img{
                //         height: 300px;
                //         width: 300px;
                //       }
                //   }
                //   .buttons_image_preview{
                //       display: grid;
                //       grid-template-columns: 1fr 1fr;
                //       .icon_upload_image{
                //         display: block;
                //         background: #fff;
                //         color: #076ba1;
                //         height: 30px;
                //         width: 30px;
                //         margin: 0 auto;
                //         box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
                //       }
                //       .icon_delete{
                //         display: block;
                //         background: #fff;
                //         color: #076ba1;
                //         height: 30px;
                //         width: 30px;
                //         margin: 0 auto;
                //         box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
                //       }
                //   }
                // }
            }
            .form_container {
                .flex_header {
                    display: grid;
                    grid-template-columns: 1fr 0fr;
                    align-items: center;
                    h5 {
                        width: 100%;
                        margin: 0;
                        align-self: center;
                    }
                }
            }
        }
    }
    .five_col_grids {
        display: grid;
        grid-template-columns: 3fr 3fr 2fr 2fr 1fr;
        grid-column-gap: 20px;
        align-items: center;
    }
    .not_found {
        background: url("../../../../../assets/images/survey.png");
    }
    .ngx-datatable.material .empty-row {
        height: 50px;
        text-align: center;
        padding: 0;
        border: 1px solid #076ba1;
        margin: 14px;
        display: flex;
        color: #076ba1;
        /* font-weight: 600; */
        border-radius: 20px;
        align-items: center;
        justify-content: center;
    }
    // .required_msg_text{
    //   .form-text{
    //     color: #ed462f !important;
    //   }
    // }
    .modal_form_grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 15px;
    }
    .option_grid {
        display: grid;
        grid-template-columns: 1fr 0fr;
        // grid-column-gap: 15px;
    }
    .cancelBut {
        border-radius: 0;
        transform: none;
    }
    .margin10 {
        margin: 10px;
    }
    .upbackbtn {
        text-align: center;
        margin: 8px;
    }
    .inputenup {
        height: 14em;
        .form-control-file {
            position: relative;
            width: 100%;
            height: 100%;
            min-height: 6em;
            outline: none;
            visibility: hidden;
            cursor: pointer;
            background-color: #c61c23;
            box-shadow: 0 0 5px solid currentColor;
            &::before {
                color: #ed462f;
                content: attr(data-title);
                position: absolute;
                top: 1.5em;
                left: 0;
                width: 100%;
                /* min-height: 8em; */
                height: 12em;
                line-height: 8em;
                padding-top: 1.5em;
                opacity: 1;
                visibility: visible;
                text-align: center;
                border: 0.15em dashed #9ea4a5;
                transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
                overflow: hidden;
            }
            &::hover {
                &:before {
                    border-style: solid #076ba1;
                    /*box-shadow: inset 0px 0px 0px 0.25em currentColor;*/
                }
            }
        }
    }
    .chooseFile {
        text-align: center;
        float: left;
        /* margin-left: 12%; */
        /* margin-top: 7%; */
    }
    .cancelFile {
        text-align: center;
        /* float: left; */
        /* margin-left: 12%; */
        /* margin-top: 7%; */
    }
}

.close {
    outline: none;
}

.subBttn {
    padding: 6px 10px;
    border: none;
    margin-left: 10px;
    font-size: 14px;
    border-radius: 3px;
    background: var(--colorBgbtn);
    color: var(--colorBtnTxt);
    border: 1px solid var(--colorBtnTxt);
    outline: none;
    text-transform: capitalize;
    transition: 0.4s ease-in-out;
    // &:hover {
    //     background: var(--colorBtnTxt);
    //     color: var(--colorBgbtn);
    //     border: 1px solid var(--colorBgbtn);
    // }
}

.backBttn {
    margin-right: 10px;
    padding: 5px 10px;
    color: var(--colorBgbtn);
    background: var(--colorBtnTxt);
    border: 1px solid var(--colorBgbtn);
    &:hover {
        color: var(--colorBtnTxt);
        background: var(--colorBgbtn);
    }
}

.focus:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25) !important;
}

.focus {
    transition: box-shadow 0.15s ease-in-out;
}

.btnnew {
    padding: 6px 10px;
    background: var(--colorBgbtn);
    color: var(--colorBtnTxt);
    border: 1px solid var(--colorBtnTxt);
    border-radius: 3px;
    cursor: pointer;
    small {
        text-decoration: none !important;
        color: var(--colorBtnTxt) !important;
    }
}

.makebold {
    font-weight: 600 !important;
    color: var(--colorBtnTxt) !important;
}

.margauto {
    margin: auto 0;
}

.add-icon {
    color: var(--colorBtnTxt);
}