<div class="add_edit_blended_course_enrol">
    <div class="accordion" id="accordionExample">
        <div class="row m0 formGen manualformGen" id="manual">
            <div class="col-md-12 grid-margin stretch-card  manualformGenCard">
                <!-- formGenCard -->
                <div class="card cardForm manualCardForm">
                    <div class="card-body manualCardBody">
                        <div class="headerCard">
                            <!-- <a class="expandBtn collapsed btn btn-default btn-xs arrow_right" type="button" data-toggle="collapse" data-target="#collapseManual" aria-expanded="true" aria-controls="collapseManual" role="button">
                  <i class="fa downArrow" aria-hidden="true"></i>
                  <span class="sr-only">Expand/Collapse Manual</span>
                </a> -->
                            <h4 class="card-title manualTitle">
                                <label class="sqrCheckBoxEnrol pointer width100">
                                    <input id="mEnrol" type="checkbox" name="manualEnrol" class="marginRight5px"
                                        (ngModelChange)="onCheckBoxClick($event,'manual')" [(ngModel)]="enrolment.manual"
                                        data-toggle="collapse" data-target="#collapseManual" aria-controls="collapseManual">
                                    <!-- <label class="sqrCheckBoxEnrolLabel" for="mEnrol"></label > -->
                                    Manual
                                </label>
                            </h4>
                        </div>
                        <!--  class="collapse show" -->
                        <div id="collapseManual" class="collapse" aria-labelledby="collapseManual" data-parent="#accordionExample">
                            <div class="topBorderForm"></div>
                            <form class="forms-sample" class="panel-body manualContent" #userForm="ngForm">
                                <div class="form-group" style="margin-bottom: 0px">
                                    <div class="col-md-12 manualToolBar">
                                        <div class="col-md-4">
                                            <input type='text' class="manSearchUsr searchInput commonInput" [(ngModel)]="searchvalue.value" placeholder='Type to filter the users fullname, Emp Code, Email...' (keyup)='searchManEnrol($event)' name="fname" />
                                            <i class="fa fa-remove searchRemove" (click)="clearesearch()"></i>
                                            <!-- <span class="glyphicon glyphicon-remove pull-right paraRemove fa fa-times" (click)="clearesearch()" style = "position: absolute;
                                                    top: 14px;
                                                    right: 15px;
                                                "></span> -->

                                        </div>
                                        <div class="col-md-6">
                                            <!-- <angular2-multiselect [data]="dropdownListUsers" [(ngModel)]="selectedItemsUsers"
                                        [settings]="dropdownSettingsUsers"
                                        (onSelect)="onItemSelect($event)"
                                        (onDeSelect)="OnItemDeSelect($event)"
                                        (onSelectAll)="onSelectAll($event)"
                                        (onDeSelectAll)="onDeSelectAll($event)"
                                        name="selectedItemsUsers" ngDefaultControl>
                                    </angular2-multiselect> -->

                                            <angular2-multiselect [data]="tempUsers" [(ngModel)]="selectedUsers" [settings]="settingsUsersSelDrop" (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)"
                                                name="selectedUsers" ngDefaultControl>
                                                <c-search>
                                                    <ng-template>
                                                        <input type="text" class="commonInput" (keyup)="onSearch($event)" placeholder="Search users..." [(ngModel)]="searchvalue.value1" name="fname" />
                                                        <i class="fa fa-remove searchRemove" (click)="clearesearch()"></i>
                                                    </ng-template>
                                                </c-search>
                                                <c-item>
                                                    <ng-template let-item="item">
                                                        <!-- <div class="col-md-12">
                                                            <div class="col-md-2">
                                                                    {{item.ecn}}
                                                            </div>
                                                            <div class="col-md-4">
                                                                    {{item.fullname}}
                                                            </div>
                                                            <div class="col-md-6">
                                                                    {{item.emailId}}
                                                            </div>
                                                        </div>   -->
                                                        <label style="color: #333;width: 30%;">{{item.ecn}}</label>
                                                        <!-- <img [src]="item.flag" style="width: 30px; border: 1px solid #efefef;margin-right: 0px;" /> -->
                                                        <label style="color: #333;width: 30%;">{{item.fullname}}</label>
                                                        <label style="color: #333;width: 30%;">{{item.emailId}}</label>
                                                    </ng-template>
                                                </c-item>
                                            </angular2-multiselect>

                                        </div>
                                        <div class="col-md-2 text-right">
                                            <button type="submit" class="constantbtn-button-blue-left" [disable]="!selectedUsers" (click)="manEnrolUser()" id="manEnrolBtn">Add user</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="tableList col-md-12">
                                    <div class="tableCompo ">
                                        <ngx-enrol-table [label]="labels" [pagination]="true" [tableData]="rowsManual" (clickOnbutton)=visibilityTableRow($event)></ngx-enrol-table>
                                    </div>
                                    <div style="padding: 10px">
                                        <div>Total: {{ rowsManual.length }}</div>
                                    </div>
                                </div>

                                <!-- <div class="form-group" style="margin-bottom: 0px">
                                    <div class="col-md-12">

                                        <div>

                                            <ngx-datatable #tableDataManual style="width: 100%" class="material" [columns]="columnsManual" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="30" [limit]="5" [rowHeight]="50" [scrollbarV]="true" [rows]='rowsManual' [selected]="selectedManual"
                                                [selectionType]="'checkbox'" [selectAllRowsOnPage]="false" (activate)="onActivateManual($event)" (select)='onSelectManual($event)'>
                                                <ngx-datatable-column prop="ecn" name="EMP CODE"></ngx-datatable-column>
                                                <ngx-datatable-column prop="fullname" name="FULLNAME"></ngx-datatable-column>
                                                <ngx-datatable-column prop="emailId" name="EMAIL"></ngx-datatable-column>
                                                <ngx-datatable-column prop="phoneNo" name="MOBILE"></ngx-datatable-column>
                                                <ngx-datatable-column prop="enrolDate" name="DOE"></ngx-datatable-column>
                                                <ngx-datatable-column prop="enrolmode" name="MODE"></ngx-datatable-column>

                                                <ngx-datatable-column [width]="50" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                                                    <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                                                        <a class="deleteUserIcon" title="Delete User">
                                                            <i title="Enabled" class="fa fa-eye card-footer-icon pointer" aria-hidden="true" (click)="disableCourseVisibility(i,row,0)" *ngIf="row.visible == 1"></i>
                                                            <i title="Disabled" class="fa fa-eye-slash card-footer-icon pointer" aria-hidden="true" (click)="disableCourseVisibility(i,row,1)" *ngIf="row.visible==0"></i>
                                                        </a>
                                                    </ng-template>
                                                </ngx-datatable-column>
                                                <ngx-datatable-footer>
                                                    <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize" let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset">
                                                        <div style="padding: 5px 10px">

                                                            <div>Total: {{ rowCount }}</div>
                                                        </div>
                                                    </ng-template>
                                                </ngx-datatable-footer>
                                            </ngx-datatable>
                                        </div>
                                    </div>
                                </div> -->
                            </form>
                        </div>
                        <!-- <course-enrolment></course-enrolment> -->
                    </div>
                </div>
            </div>
        </div>

        <!--   <div class="row m0 formGen ruleBasedformGen" id="ruleBased">
            <div class="col-md-12 grid-margin stretch-card  ruleBasedformGenCard">

                <div class="card cardForm ruleBasedCardForm">
                    <div class="card-body ruleBasedCardBody">
                        <div class="headerCard">

                            <h4 class="card-title ruleTitle">
                                <label class="sqrCheckBoxEnrol pointer width100" style="margin-bottom: 0px;">
                                    <input id="ruleBased" type="checkbox" name="ruleBased" class="marginRight5px"
                                        (ngModelChange)="onCheckBoxClick($event,'rule')" [(ngModel)]="enrolment.rule"
                                        data-toggle="collapse" data-target="#collapseruleBased" aria-controls="collapseruleBased">
                                   Rule Based
                                </label>
                            </h4>

                        </div>

                        <div id="collapseruleBased" class="collapse" aria-labelledby="ruleBased" data-parent="#accordionExample">
                            <div class="topBorderForm"></div>
                            <form class="forms-sample" class="panel-body ruleBasedContent">
                                <div class="form-group" style="margin-bottom: 0px">
                                    <div class="col-md-12 manualToolBar">
                                        <div class="col-md-8">
                                            <input type='text' class="manSearchUsr searchInput" placeholder='Search rules...'
                                                (keyup)='searchRuleEnrol($event)' [(ngModel)]="searchvalue.value" name="fname" />
                                            <i class="fa fa-remove searchRemove" (click)="clearesearch()"></i>
                                        </div>

                                        <div class="col-md-4">
                                            <button type="submit" class="floteright constantbtn" (click)="openRuleModal('',0)"
                                                id="ruleBasedBtn">Add
                                                Rule</button>


                                        </div>
                                    </div>
                                </div>

                                <div class="form-group" style="margin-bottom: 0px">
                                    <div class="col-md-12">

                                        <div>
                                            <ngx-datatable #tableDataRules style="width: 100%" class="material" [columns]="columnsRules"
                                                [columnMode]="'force'" [headerHeight]="50" [footerHeight]="30" [limit]="5"
                                                [rowHeight]="50" [scrollbarV]="true" [rows]='rowsRules' [selected]="selectedRules"
                                                [selectionType]="'checkbox'" [selectAllRowsOnPage]="false" (activate)="onActivateRules($event)"
                                                (select)='onSelectRules($event)'>


                                                <ngx-datatable-column width="30">
                                                    <ng-template ngx-datatable-header-template>
                                                        <span>RULE NAME</span>
                                                    </ng-template>
                                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                                        <a class="usersCountToView" (click)="editrule(row)">
                                                            {{row.rulename}}
                                                        </a>
                                                    </ng-template>
                                                </ngx-datatable-column>
                                                <ngx-datatable-column width="30">
                                                    <ng-template ngx-datatable-header-template>
                                                        <span>DESCRIPTION</span>
                                                    </ng-template>
                                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                                        <a class="usersCountToView" (click)="editrule(row)">
                                                            {{row.description}}
                                                        </a>
                                                    </ng-template>
                                                </ngx-datatable-column>
                                                <ngx-datatable-column width="30">
                                                    <ng-template ngx-datatable-header-template>
                                                        <span>APPLICABLE USERS</span>
                                                    </ng-template>
                                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                                        <a class="usersCountToView" title="View Users" style="text-align: center;"
                                                            (click)="viewRuleUsers(row)">
                                                            {{row.noOfEmp}}
                                                        </a>
                                                    </ng-template>
                                                </ngx-datatable-column>


                                                <ngx-datatable-column [width]="50" [sortable]="false" [canAutoResize]="false"
                                                    [draggable]="false" [resizeable]="false">
                                                    <ng-template let-row="row" let-expanded="expanded"
                                                        ngx-datatable-cell-template>
                                                        <a class="deleteUserIcon" title="Delete Rule">

                                                            <i title="Enabled" class="fa fa-eye card-footer-icon pointer"
                                                                aria-hidden="true" (click)="disableRuleVisibility(i,row,0)"
                                                                *ngIf="row.visible == 1"></i>
                                                            <i title="Disabled" class="fa fa-eye-slash card-footer-icon pointer"
                                                                aria-hidden="true" (click)="disableRuleVisibility(i,row,1)"
                                                                *ngIf="row.visible==0"></i>

                                                        </a>
                                                    </ng-template>
                                                </ngx-datatable-column>

                                            </ngx-datatable>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

        <!--     <div class="row m0 formGen regulatoryformGen" id="regulatory">
            <div class="col-md-12 grid-margin stretch-card  regulatoryformGenCard">

                <div class="card cardForm regulatoryCardForm">
                    <div class="card-body regulatoryCardBody">
                        <div class="headerCard">

                            <h4 class="card-title regTitle">
                                <label class="sqrCheckBoxEnrol pointer width100">
                                    <input id="regulatory" type="checkbox" name="regulatoryEn" class="marginRight5px"
                                        (ngModelChange)="onCheckBoxClick($event,'regulatory')" [(ngModel)]="enrolment.regulatory"
                                        data-toggle="collapse" data-target="#collapseregulatory" aria-controls="collapseregulatory">
                            Regulatory
                                </label>
                            </h4>
                        </div>

                        <div id="collapseregulatory" class="collapse" aria-labelledby="regulatory" data-parent="#accordionExample">
                            <div class="topBorderForm"></div>
                            <form class="forms-sample panel-body regulatoryContent" name="form" (ngSubmit)="enrolf.form.valid && saveReg(regData)"
                                #enrolf="ngForm" novalidate style="padding-left: 0px">
                                <div class="form-group" style="margin-bottom: 0px">
                                    <div class="col-md-12 manualToolBar">
                                        <div class="col-md-5">

                                        </div>

                                        <div class="col-md-7" floteright>

                                            <div class="form-group col-md-5">
                                                <button type="button" class="btn-default floteright constantbtn" (click)="openRegulatoryFilterModal()"
                                                    id="editbtn">Target Users</button>

                                            </div>
                                            <div class="form-group col-md-4">

                                                <input type="text" class="form-control datePickerInput" placeholder="Select Enroll Date"
                                                    #enrolDate="ngModel" [maxDate]="maxDate" #dp="bsDatepicker" id="Value"
                                                    [(ngModel)]="regData.enrolDate" name="value" bsDatepicker [bsConfig]="{ containerClass: 'theme-dark-blue', dateInputFormat: 'DD-MM-YYYY' }"
                                                    placement="bottom" required>
                                                <div *ngIf="enrolf.submitted && enrolDate.invalid" class="alert alert-danger">
                                                    <div *ngIf="enrolDate.errors.required">Enrol Date is required</div>
                                                </div>
                                                <span></span>
                                            </div>
                                            <div class="form-group col-md-3">
                                                <button type="submit" class="btn-default floteright constantbtn" id="editbtn">ADD</button>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="form-group" style="margin-bottom: 0px">
                                    <div class="col-md-12">

                                        <div>
                                            <ngx-datatable #tableDataReg style="width: 100%" class="material" [columns]="columnsReg"
                                                [columnMode]="'force'" [headerHeight]="50" [footerHeight]="30" [limit]="5"
                                                [rowHeight]="50" [scrollbarV]="true" [rows]='rowsReg' [selected]="selectedReg"
                                                [selectionType]="'checkbox'" [selectAllRowsOnPage]="false" (activate)="onActivateReg($event)"
                                                (select)='onSelectReg($event)'>


                                                <ngx-datatable-column prop="enrolDate" name="ENROL DATE"></ngx-datatable-column>


                                                <ngx-datatable-column [width]="50" [sortable]="false" [canAutoResize]="false"
                                                    [draggable]="false" [resizeable]="false">
                                                    <ng-template let-row="row" let-expanded="expanded"
                                                        ngx-datatable-cell-template>
                                                        <a class="deleteUserIcon" title="Delete Rule">

                                                            <i title="Enabled" class="fa fa-eye card-footer-icon pointer"
                                                                aria-hidden="true" (click)="disableregulatoryVisibility(i,row,0)"
                                                                *ngIf="row.visible == 1"></i>
                                                            <i title="Disabled" class="fa fa-eye-slash card-footer-icon pointer"
                                                                aria-hidden="true" (click)="disableregulatoryVisibility(i,row,1)"
                                                                *ngIf="row.visible==0"></i>
                                                        </a>
                                                    </ng-template>
                                                </ngx-datatable-column>

                                            </ngx-datatable>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

        <div class="row m0 formGen selfformGen" id="self">
            <div class="col-md-12 grid-margin stretch-card  selfformGenCard">
                <div class="card cardForm selfCardForm">
                    <div class="card-body selfCardBody">
                        <div class="headerCard">

                            <h4 class="card-title selfTitle">
                                <label class="sqrCheckBoxEnrol pointer width100">
                                    <input id="self" type="checkbox" name="selfEnrol" class="marginRight5px commonInput"
                                        (ngModelChange)="onCheckBoxClick($event,'self')" [(ngModel)]="enrolment.self"
                                        data-toggle="collapse" data-target="#collapseself" aria-controls="collapseself">
                                   Self
                                </label>
                            </h4>
                        </div>

                        <div id="collapseself" class="collapse" aria-labelledby="self" data-parent="#accordionExample">
                            <div class="topBorderForm"></div>
                            <form class="forms-sample" class="panel-body selfContent">
                                <div class="form-group" style="margin-bottom: 0px">
                                    <div class="col-md-12 manualToolBar">
                                        <div class="col-md-8">
                                            <input type='text' class="manSearchUsr searchInput commonInput" placeholder='Search users...' (keyup)='searchSelfEnrol($event)' [(ngModel)]="searchvalue.value" name="fname" />
                                            <i class="fa fa-remove searchRemove" (click)="clearesearchSelf()"></i>
                                        </div>

                                        <div class="col-md-1 text-right">
                                            <button type="submit" class="constantbtn-button-blue-left" (click)="fetchsetting()" id="selfBtn">Settings</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="tableList col-md-12">
                                    <div class="tableCompo ">
                                        <ngx-enrol-table [pagination]="true" [label]="labels" [tableData]="rowsSelf" (clickOnbutton)=visibilityTableRow1($event)></ngx-enrol-table>
                                    </div>
                                    <div style="padding: 10px">
                                        <div>Total: {{ rowsSelf.length }}</div>
                                    </div>
                                </div>

                                <!-- <div class="form-group" style="margin-bottom: 0px">
                                    <div class="col-md-12">

                                        <div>
                                            <ngx-datatable #tableDataSelf style="width: 100%" class="material" [columns]="columnsSelf" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="30" [limit]="5" [rowHeight]="50" [scrollbarV]="true" [rows]='rowsSelf' [selected]="selectedSelf" [selectionType]="'checkbox'"
                                                [selectAllRowsOnPage]="false" (activate)="onActivateSelf($event)" (select)='onSelectSelf($event)'>



                                                <ngx-datatable-column prop="ecn" name="EMP CODE"></ngx-datatable-column>
                                                <ngx-datatable-column prop="fullname" name="FULLNAME"></ngx-datatable-column>

                                                <ngx-datatable-column prop="emailId" name="EMAIL"></ngx-datatable-column>
                                                <ngx-datatable-column prop="phoneNo" name="MOBILE"></ngx-datatable-column>
                                                <ngx-datatable-column prop="enrolDate" name="DOE"></ngx-datatable-column>

                                                <ngx-datatable-column prop="enrolmode" name="MODE"></ngx-datatable-column>

                                                <ngx-datatable-column [width]="50" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                                                    <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                                                        <a class="deleteUserIcon" title="Delete Rule">
                                                            <i title="Enabled" class="fa fa-eye card-footer-icon pointer" aria-hidden="true" (click)="disableselfVisibility(i,row,0)" *ngIf="row.visible == 1"></i>
                                                            <i title="Disabled" class="fa fa-eye-slash card-footer-icon pointer" aria-hidden="true" (click)="disableselfVisibility(i,row,1)" *ngIf="row.visible==0"></i>
                                                        </a>
                                                    </ng-template>
                                                </ngx-datatable-column>
                                                <ngx-datatable-footer>
                                                    <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize" let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset">
                                                        <div style="padding: 5px 10px">

                                                            <div>Total: {{ rowCount }}</div>
                                                        </div>
                                                    </ng-template>
                                                </ngx-datatable-footer>
                                            </ngx-datatable>
                                        </div>
                                    </div>
                                </div> -->
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="addRuleBackdrop" *ngIf="showAddRuleModal == true">
        <div class="addRuleDemoModal">
            <div class="modal-header">
                <p>Rule Enrollment</p>
                <button class="close" aria-label="Close" (click)="closeRuleModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form class="forms-sample col-md-12" #ruleForm="ngForm">
                    <div class="row">
                        <div class="form-group col-md-3">
                            <label for="left_space">{{helpContent?.course_enrol?.name?.label}} <sup
                                    class="reqFieldActivity">*</sup>
                                    <div class="help-tooltip">
                                      <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                                      <div class="help-tooltip-position-right">
                                        <p>{{helpContent?.course_enrol?.name?.labelHelpContent}}</p>
                                        <i></i>
                                      </div>
                                    </div>
                                  </label>


                            <!-- <label class="left_space" for="InputRName">Name
                                <sup class="reqFieldActivity">*</sup>
                            </label> -->
                            <input type="text" class="form-control form-control-input inputText commonInput" id="InputRName" placeholder="Rule Name" [(ngModel)]="ruleData.name" name="name" #name="ngModel" required>
                            <div class="errorMsg" *ngIf="name.errors && (name.dirty || name.touched)" class="alert alert-danger">
                                <div [hidden]="!name.errors.required">Rule Name is required</div>
                            </div>
                            <span></span>
                        </div>

                        <div class="form-group col-md-3">
                            <label for="left_space">{{helpContent?.course_enrol?.description?.label}} <sup
                                    class="reqFieldActivity">*</sup>
                                    <div class="help-tooltip">
                                      <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                                      <div class="help-tooltip-position-right">
                                        <p>{{helpContent?.course_enrol?.description?.labelHelpContent}}</p>
                                        <i></i>
                                      </div>
                                    </div>
                                  </label>


                            <!-- <label class="left_space" for="InputRDesc">Description
                                <sup class="reqFieldActivity">*</sup>
                            </label> -->
                            <input type="text" class="form-control form-control-input inputText commonInput" id="InputRDesc" placeholder="Rule Description" [(ngModel)]="ruleData.description" name="description" #description="ngModel" required>
                            <div class="errorMsg" *ngIf="description.errors && (description.dirty || description.touched)" class="alert alert-danger">
                                <div [hidden]="!description.errors.required">Description is required</div>
                            </div>
                            <span></span>
                        </div>

                        <!-- <div class="form-group col-md-3">
                  <label class="left_space" for="dropRuleType">Dimension</label>
                  <select id="dropRuleType" class="form-control form-control-input select_field_height" (change)="ruleTypeSelected($event,i,ruleField)" [(ngModel)]="ruleData.type" name="type" #type = "ngModel" required>
                    <option value="" selected disabled>Select Type</option>
                    <option *ngFor="let type of ruleType" value={{type.ruleTypeId}}>{{type.ruleTypeName}}</option>
                  </select>
                  <div [hidden]="type.valid || type.pristine" class="alert alert-danger">
                    <div [hidden]="!type.errors.required">Rule Type is required</div>
                  </div>
                </div> -->

                        <div class="form-group col-md-3">

                            <label for="left_space">{{helpContent?.course_enrol?.rule_applicability?.label}} <sup
                                    class="reqFieldActivity">*</sup>
                                    <div class="help-tooltip">
                                      <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                                      <div class="help-tooltip-position-right">
                                        <p>{{helpContent?.course_enrol?.rule_applicability?.labelHelpContent}}</p>
                                        <i></i>
                                      </div>
                                    </div>
                                  </label>


                            <!-- <label class="left_space" for="dropRuleType">Rule Applicability
                                <sup class="reqFieldActivity">*</sup>
                            </label> -->
                            <select id="dropRuleType" class="form-control form-control-input select_field_height" (change)="ruleTypeSelected($event,i,ruleField, type)" [(ngModel)]="ruleData.type" name="type" #type="ngModel" required>
                                <option value="" selected disabled>Select</option>
                                <option *ngFor="let type of ruleApplicType" value={{type.id}}>{{type.name}}</option>
                            </select>
                            <div *ngIf="type.errors && (type.dirty || type.touched)" class="alert alert-danger">
                                <div [hidden]="!type.errors.required">Rule Applicability is required</div>
                            </div>
                        </div>
                        <!-- *ngIf="this.ruleData.type == 2" -->
                        <div class="form-group col-md-3">
                            <label for="left_space">{{helpContent?.course_enrol?.start_from?.label}} <sup
                                    class="reqFieldActivity">*</sup>
                                    <div class="help-tooltip">
                                      <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                                      <div class="help-tooltip-position-right">
                                        <p>{{helpContent?.course_enrol?.start_from?.labelHelpContent}}</p>
                                        <i></i>
                                      </div>
                                    </div>
                                  </label>

                            <!-- <label class="left_space" for="dropProspType"> Start From
                                <sup class="reqFieldActivity">*</sup>
                            </label> -->
                            <select id="dropProspType" class="form-control form-control-input select_field_height" (change)="prospTypeSelected($event,i,ruleField, prospname)" [(ngModel)]="ruleData.prospName" name="prospname" #sfrom="ngModel" required>
                                <option value="" selected disabled>Select</option>
                                <option *ngFor="let prospname of prospectivType" value={{prospname.id}}>{{prospname.name}}</option>
                            </select>
                            <div *ngIf="sfrom.errors && (sfrom.dirty || sfrom.touched)" class="alert alert-danger">
                                <div [hidden]="!sfrom.errors.required">Starts from is required</div>
                            </div>
                        </div>
                        <!-- && this.ruleData.type != 1 -->
                        <div class="form-group col-md-3" *ngIf="this.ruleData.prospName == 3 ">

                            <label for="left_space">{{helpContent?.course_enrol?.custom_date?.label}}
                                    <div class="help-tooltip">
                                      <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                                      <div class="help-tooltip-position-right">
                                        <p>{{helpContent?.course_enrol?.custom_date?.labelHelpContent}}</p>
                                        <i></i>
                                      </div>
                                    </div>
                                  </label>


                            <!-- <label class="left_space" for="Value"> Custom Date </label> -->
                            <!-- [minDate]="minDate" -->
                            <input type="text" class="form-control datePickerInput" [minDate]="nextDay" [maxDate]="maxDate" id="Value" [(ngModel)]="ruleData.value" name="value" #dp="bsDatepicker" bsDatepicker [bsConfig]="{ containerClass: 'theme-dark-blue',dateInputFormat: 'DD-MM-YYYY' }"
                                placement="bottom">
                            <!-- <div *ngIf="sfrom.errors && (sfrom.dirty || sfrom.touched)" class="alert alert-danger">
                                <div [hidden]="!sfrom.errors.required">Starts from is required</div>
                            </div> -->
                        </div>

                        <!-- *ngIf="this.ruleData.type != 2" -->
                        <!-- <div class="form-group col-md-3 addRulebtn" *ngIf="this.ruleData.type != 2">
                            <button type="submit" class="floteright constantbtn" (click)="addRuleList()" id="editbtn" [disabled]="!ruleForm.valid">
                                Add Rule
                            </button>
                            <span></span>
                        </div> -->
                        <!-- *ngIf="this.ruleData.type != 1 && this.ruleData.type"  -->
                        <div class="form-group col-md-3 text-right" style="top: 23px;">
                            <button type="submit" class="constantbtn-button-blue-left" (click)="addRuleList()" id="editbtn" [disabled]="!ruleForm.valid">
                                Add Rule
                            </button>
                            <span></span>
                        </div>

                    </div>
                    <div class="row" *ngIf="this.ruleData.type">
                        <!-- <div class="form-group col-md-3" *ngIf="this.ruleData.prospName == 3 && this.ruleData.type != 1">
                                    <label class="left_space" for="Value"> Custom Date </label>

                                                            <input type="text" class="form-control datePickerInput"  [maxDate]="maxDate" id="Value" [(ngModel)]="ruleData.value" name="value" #dp="bsDatepicker" bsDatepicker [bsConfig]="{ containerClass: 'theme-dark-blue' }" placement="bottom">
                                                    </div> -->

                        <!-- *ngIf="this.ruleData.type != 2" -->
                        <!-- <div class="form-group col-md-3" *ngIf="this.ruleData.type != 1">
                                    <button type="submit" class="floteright constantbtn" (click)="addRuleList()" id="editbtn" [disabled]="!ruleForm.valid">
                                        Add Rule
                                    </button>
                                    <span></span>
                                </div> -->


                    </div>
                    <!-- && ruleData.type != 2 -->
                    <div class="row rulesDiv" *ngIf="profileFieldSelected == true ">

                        <!-- <form [formGroup]="addRulesForm" novalidate (ngSubmit)="save(addRulesForm.value)">
                  <div class="form-group">
                    <div formArrayName="rules">
                      <div *ngFor="let rule of addRulesForm.controls.rules.controls; let i=index" class="">
                        <div class="mainDrop">
                          <span class="glyphicon glyphicon-remove pull-right paraRemove fa fa-times" *ngIf="addRulesForm.controls.rules.controls.length > 1" (click)="removeRule(i)"></span>
                        </div>
                        <div class="" [formGroupName]="i">
                          <div class="mainDropParaRow col-md-12">

                            <div class="mainDropPara col-md-6">
                              <select id="dropRuleType" class="form-control form-control-input select_field_height mrgbtm" id="FilterOpt" (change)="callType($event,i)" formControlName="FilterOpt" autocomplete="false" required>
                                <option value="" selected disabled>Select Option</option>
                                <option *ngFor="let ruleField of profileFields" [disabled]="ruleField.selected=='true'" value={{ruleField.id}}>{{ruleField.name}}</option>
                              </select>
                            </div>

                            <div class="mainDropVal col-md-6" *ngIf="controlList[i].datatype == 'textarea'">
                              <div class="form-group inputTextarea">
                                <input type="textarea" class="form-control form-control-input inputText" placeholder="Input textarea" autocomplete="false" id="Value1" formControlName="Value1" required>
                              </div>
                            </div>

                            <div class="mainDropVal col-md-6" *ngIf="controlList[i].datatype == 'number'">
                              <div class="form-group inputNumber">
                                <input type="text" class="form-control form-control-input inputText" placeholder="Input number" formControlName="Value1" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" min="10" max="10" maxlength="10" minlength="10" autocomplete="false" required>
                              </div>
                            </div>

                            <div class="mainDropVal col-md-6" *ngIf="controlList[i].datatype == 'text'">
                              <div class="form-group inputText">
                                <input type="text" class="form-control form-control-input inputText" id="Value1" placeholder="Input text" formControlName="Value1" autocomplete="false" required>
                              </div>
                            </div>

                            <div class="mainDropVal col-md-6" *ngIf="controlList[i].datatype == 'menu'">
                              <div class="form-group inputDrop">
                                <select id="dropRuleType" class="form-control form-control-input select_field_height" id="Value1" formControlName="Value1" autocomplete="false" required>
                                  <option value="" selected disabled>select option</option>
                                  <option *ngFor="let inv of strArraySkilllevel" value={{inv.sId}}>{{inv.sName}}</option>
                                </select>
                              </div>
                            </div>

                            <div class="mainDropVal col-md-6" *ngIf="controlList[i].datatype == 'datetime'">
                              <div class="form-group inputDate">
                                                            <input type="text" class="form-control datePickerInput" [minDate]="minDate" [maxDate]="maxDate"
                                                            id="Value1" formControlName="Value1"
                                #dp="bsDatepicker" bsDatepicker [(bsValue)]="myDateValue" [bsConfig]="{ containerClass: 'theme-dark-blue' }" placement="bottom">
                              </div>
                            </div>

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                            </form> -->

                        <div class="rules-row col-md-12" *ngFor="let item of ruleData.profiles; let i=index">
                            <div class="form-group col-md-6">
                                <select id="dropRuleType_{{i}}" class="form-control form-control-input select_field_height" [(ngModel)]="item.field" name="fieldId_{{i}}" #ruleId="ngModel" (change)="ruleFieldTypeSelected($event,i,item);callRuleFieldType($event,i)" required>
                                    <option value="" selected disabled>Select Type</option>
                                    <option *ngFor="let ruleField of profileFields" value={{ruleField.id}}>{{ruleField.name}}</option>
                                </select>
                                <div *ngIf="ruleId.errors && (ruleId.dirty || ruleId.touched)" class="required_msg_text">
                                    <div class="form-text text-muted" [hidden]="!ruleId.errors.required">Type is required</div>
                                </div>
                                <!-- [disabled]="ruleField.selected=='true'" -->
                                <span></span>
                            </div>

                            <div class="form-group col-md-5" *ngIf="controlList[i].datatype == 'text'">
                                <input type="text" class="form-control form-control-input inputText commonInput" id="inputText_{{i}}" placeholder="Input Text" [(ngModel)]="item.fieldValues" name="fieldTypeValues_{{i}}" #fieldTypeValues="ngModel" required>
                                <div *ngIf="fieldTypeValues.errors && (fieldTypeValues.dirty || fieldTypeValues.touched)" class="alert alert-danger">
                                    <div [hidden]="!fieldTypeValues.errors.required">Input required</div>
                                </div>
                                <span></span>
                            </div>

                            <div class="form-group col-md-5" *ngIf="controlList[i].datatype == 'textarea'">
                                <input type="text" class="form-control form-control-input inputText commonInput" id="inputText_{{i}}" placeholder="Input Text" [(ngModel)]="item.fieldValues" name="fieldTypeValues_{{i}}" #fieldTypeValues="ngModel" required>
                                <div *ngIf="fieldTypeValues.errors && (fieldTypeValues.dirty || fieldTypeValues.touched)" class="alert alert-danger">
                                    <div [hidden]="!fieldTypeValues.errors.required">Input required</div>
                                </div>
                                <span></span>
                            </div>

                            <div class="form-group col-md-5" *ngIf="controlList[i].datatype == 'number'">
                                <input type="number" class="form-control form-control-input inputText commonInput" id="inputText_{{i}}" placeholder="Input Text" [(ngModel)]="item.fieldValues" name="fieldTypeValues_{{i}}" #fieldTypeValues="ngModel" required>
                                <div *ngIf="fieldTypeValues.errors && (fieldTypeValues.dirty || fieldTypeValues.touched)" class="alert alert-danger">
                                    <div [hidden]="!fieldTypeValues.errors.required">Input required</div>
                                </div>
                                <span></span>
                            </div>

                            <div class="form-group col-md-5" *ngIf="controlList[i].datatype == 'menu'">
                                <!-- <select id="inputText_{{i}}" class="form-control form-control-input select_field_height" [(ngModel)]="item.fieldValues" name="fieldTypeValues_{{i}}" #fieldTypeValues="ngModel" autocomplete="false" required>
                                            <option value="" selected disabled>select option</option>
                                            <option *ngFor="let inv of controlList[i].subtype" value={{inv.name}}>{{inv.name}}</option>
                                            </select>
                                <div *ngIf="fieldTypeValues.errors && (fieldTypeValues.dirty || fieldTypeValues.touched)" class="alert alert-danger">
                                    <div [hidden]="!fieldValues.errors.required">Select required</div>
                                </div>
                                <span></span> -->
                                <angular2-multiselect [data]="controlList[i].subtype" [(ngModel)]="selectedrulevalue[i]" [settings]="settings" (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)" #fieldTypeValues="ngModel" required
                                    (onDeSelectAll)="onDeSelectAll($event)" name="fieldTypeValues_{{i}}">
                                    <c-item>
                                        <ng-template let-item="item">
                                            <label>{{item.name}}</label>
                                        </ng-template>
                                    </c-item>
                                </angular2-multiselect>
                                <div *ngIf="fieldTypeValues.errors && (fieldTypeValues.dirty || fieldTypeValues.touched)" class="alert alert-danger">
                                    <div [hidden]="!fieldTypeValues.errors.required">Select required</div>
                                </div>
                            </div>

                            <div class="form-group col-md-5" *ngIf="controlList[i].datatype == 'datetime'">
                                <!-- [minDate]="minDate" -->
                                <input type="text" class="form-control datePickerInput commonInput" [maxDate]="maxDate" id="inputDate_{{i}}" #dp="bsDatepicker" #fieldTypeValues="ngModel" bsDatepicker [(ngModel)]="item.fieldValues" name="fieldTypeValues_{{i}}" [bsConfig]="{ containerClass: 'theme-dark-blue',dateInputFormat: 'DD-MM-YYYY' }"
                                    placement="bottom" required>
                                <div *ngIf="fieldTypeValues.errors && (fieldTypeValues.dirty || fieldTypeValues.touched)" class="alert alert-danger">
                                    <div [hidden]="!fieldTypeValues.errors.required">Input required</div>
                                </div>
                                <span></span>
                            </div>

                            <div class="form-group col-md-1">
                                <span class="glyphicon glyphicon-remove pull-right paraRemove fa fa-times" *ngIf="ruleData.profiles.length > 1" (click)="removeRuleList(i)"></span>
                            </div>
                        </div>
                    </div>

                </form>

            </div>

            <div class="modal-footer text-right">
                <button type="button" class="constantbtn-button-blue-left" [disabled]="!ruleData.profiles.length" (click)="saveRule($event, ruleForm)">Save</button>
                <!-- <button type="button" class="floteright constantbtn" *ngIf="this.ruleData.type == 2" [disabled]=" !ruleForm.valid"
                    (click)="saveRule($event)" id="editbtn">Save</button> -->
            </div>

        </div>
    </div>

    <div class="addRegulatoryBackdrop" *ngIf="showAddRegulatoryFilterModal == true">
        <div class="addRegulatoryDemoModal">
            <div class="modal-header">
                <p>Add Filter</p>
                <button class="close" aria-label="Close" (click)="closeRegulatoryFilterModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body regFormContainer">
                <form #addRegFilterForm="ngForm" novalidate style="width: 100%;">
                    <div class="row rulesDiv">

                        <div class="rules-row col-md-12" *ngFor="let item of regularData.profiles; let i=index">
                            <!-- *ngFor="let item of regularData.profiles; let i=index" -->
                            <!-- <form [formGroup]="addRegFilterForm" novalidate (ngSubmit)="save(addRegFilterForm.value)">
                    <div class="form-group">
                        <div formArrayName="filters">
                            <div *ngFor="let filter of addRegFilterForm.controls.filters.controls; let i=index" class="">
                                <div class="mainDrop">
                                    <span class="glyphicon glyphicon-remove pull-right paraRemove fa fa-times" *ngIf="addRegFilterForm.controls.filters.controls.length > 1" (click)="removeRegFilter(i)"></span>
                                </div>
                                <div class="" [formGroupName]="i">
                                    <div class="mainDropParaRow col-md-12">

                                        <div class="mainDropPara col-md-6">
                                            <select id="dropRuleType" class="form-control form-control-input select_field_height mrgbtm" id="FilterOpt" (change)="callTypeRegFilter($event,i)" formControlName="FilterOpt" autocomplete="false" required>
                          <option value="" selected disabled>Select Option</option>
                          <option *ngFor="let ruleField of profileFieldsRegFilter" [disabled]="ruleField.selected=='true'"
                            value={{ruleField.id}}>{{ruleField.name}}</option>
                        </select>
                                        </div>

                                        <div class="mainDropVal col-md-6" *ngIf="controlListRegFilter[i].datatype == 'textarea'">
                                            <div class="form-group inputTextarea">
                                                <input type="textarea" class="form-control form-control-input inputText" placeholder="Input textarea" autocomplete="false" id="Value1" formControlName="Value1" required>
                                            </div>
                                        </div>

                                        <div class="mainDropVal col-md-6" *ngIf="controlListRegFilter[i].datatype == 'number'">
                                            <div class="form-group inputNumber">
                                                <input type="text" class="form-control form-control-input inputText" placeholder="Input number" formControlName="Value1" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" min="10" max="10"
                                                    maxlength="10" minlength="10" autocomplete="false" required>
                                            </div>
                                        </div>

                                        <div class="mainDropVal col-md-6" *ngIf="controlListRegFilter[i].datatype == 'text'">
                                            <div class="form-group inputText">
                                                <input type="text" class="form-control form-control-input inputText" id="Value1" placeholder="Input text" formControlName="Value1" autocomplete="false" required>
                                            </div>
                                        </div>

                                        <div class="mainDropVal col-md-6" *ngIf="controlListRegFilter[i].datatype == 'menu'">
                                            <div class="form-group inputDrop">
                                                <select id="dropRuleType" class="form-control form-control-input select_field_height" id="Value1" formControlName="Value1" autocomplete="false" required>
                            <option value="" selected disabled>select option</option>
                            <option *ngFor="let inv of strArraySkilllevel" value={{inv.sId}}>{{inv.sName}}</option>
                          </select>
                                            </div>
                                        </div>

                                        <div class="mainDropVal col-md-6" *ngIf="controlListRegFilter[i].datatype == 'datetime'">
                                            <div class="form-group inputDate">
                                                <input type="text" class="form-control datePickerInput" [minDate]="minDate" [maxDate]="maxDate" #dp="bsDatepicker" bsDatepicker [(bsValue)]="myDateValue" [bsConfig]="{ containerClass: 'theme-dark-blue' }" placement="bottom">
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form> -->
                            <div class="form-group col-md-6">
                                <select id="dropRuleType_{{i}}" class="form-control form-control-input select_field_height" [(ngModel)]="item.field" name="fieldId_{{i}}" #ruleId="ngModel" (change)="ruleFieldTypeSelected($event,i,item);callRuleFieldType($event,i)" required>
                                    <option value="" selected disabled>Select Type</option>
                                    <option *ngFor="let ruleField of profileFields" value={{ruleField.id}}>{{ruleField.name}}</option>
                                </select>
                                <div *ngIf="ruleId.errors && (ruleId.dirty || ruleId.touched)" class="alert alert-danger">
                                    <div [hidden]="!ruleId.errors.required">Input required</div>
                                </div>
                                <span></span>
                            </div>
                            <div class="form-group col-md-5" *ngIf="controlList[i].datatype == 'text'">
                                <input type="text" class="form-control form-control-input inputText commonInput" id="inputText_{{i}}" placeholder="Input Text" [(ngModel)]="item.fieldValues" name="fieldTypeValues_{{i}}" #fieldTypeValues="ngModel" required>
                                <div *ngIf="fieldTypeValues.errors && (fieldTypeValues.dirty || fieldTypeValues.touched)" class="alert alert-danger">
                                    <div [hidden]="!fieldTypeValues.errors.required">Input required</div>
                                </div>
                                <span></span>
                            </div>
                            <div class="form-group col-md-5" *ngIf="controlList[i].datatype == 'textarea'">
                                <input type="text" class="form-control form-control-input inputText commonInput" id="inputText_{{i}}" placeholder="Input Text" [(ngModel)]="item.fieldValues" name="fieldTypeValues_{{i}}" #fieldTypeValues="ngModel" required>
                                <div *ngIf="fieldTypeValues.errors && (fieldTypeValues.dirty || fieldTypeValues.touched)" class="alert alert-danger">
                                    <div [hidden]="!fieldTypeValues.errors.required">Input required</div>
                                </div>
                                <span></span>
                            </div>
                            <div class="form-group col-md-5" *ngIf="controlList[i].datatype == 'number'">
                                <input type="number" class="form-control form-control-input inputText commonInput" id="inputText_{{i}}" placeholder="Input Text" [(ngModel)]="item.fieldValues" name="fieldTypeValues_{{i}}" #fieldTypeValues="ngModel" required>
                                <div *ngIf="fieldTypeValues.errors && (fieldTypeValues.dirty || fieldTypeValues.touched)" class="alert alert-danger">
                                    <div [hidden]="!fieldTypeValues.errors.required">Input required</div>
                                </div>
                                <span></span>
                            </div>
                            <div class="form-group col-md-5" *ngIf="controlList[i].datatype == 'menu'">
                                <!-- profileFields[i].subtype -->
                                <!-- <select id="inputText_{{i}}" class="form-control form-control-input select_field_height" [(ngModel)]="item.fieldValues" name="fieldTypeValues_{{i}}" #fieldTypeValues="ngModel" autocomplete="false" required>
                                        <option value="" selected disabled>select option</option>
                                        <option *ngFor="let inv of controlList[i].subtype" value={{inv.name}}>{{inv.name}}</option>
                                    </select> -->
                                <!-- <div *ngIf="fieldTypeValues.errors && (fieldTypeValues.dirty || fieldTypeValues.touched)" class="alert alert-danger">
                                            <div [hidden]="!fieldValues.errors.required">Select required</div>
                                    </div> -->
                                <span></span>
                                <angular2-multiselect [data]="controlList[i].subtype" [(ngModel)]="selectedfiltervalue[i]" [settings]="settings" #fieldTypeValues="ngModel" (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)"
                                    name="fieldTypeValues_{{i}}">
                                    <c-item>
                                        <ng-template let-item="item">
                                            <label>{{item.name}}</label>
                                        </ng-template>
                                    </c-item>
                                </angular2-multiselect>
                                <div *ngIf="fieldTypeValues.errors && (fieldTypeValues.dirty || fieldTypeValues.touched)" class="alert alert-danger">
                                    <div [hidden]="!fieldTypeValues.errors.required">Input required</div>
                                </div>
                            </div>
                            <div class="form-group col-md-5" *ngIf="controlList[i].datatype == 'datetime'">
                                <!-- [minDate]="minDate" -->
                                <input type="text" class="form-control datePickerInput commonInput" [maxDate]="maxDate" id="inputDate_{{i}}" #dp="bsDatepicker" bsDatepicker #fieldTypeValues="ngModel" [(ngModel)]="item.fieldValues" name="fieldTypeValues_{{i}}" [bsConfig]="{ containerClass: 'theme-dark-blue',dateInputFormat: 'DD-MM-YYYY' }"
                                    placement="bottom" required>
                                <div *ngIf="fieldTypeValues.errors && (fieldTypeValues.dirty || fieldTypeValues.touched)" class="alert alert-danger">
                                    <div [hidden]="!fieldTypeValues.errors.required">Input required</div>
                                </div>
                                <span></span>
                            </div>
                            <div class="form-group col-md-1">
                                <span class="glyphicon glyphicon-remove pull-right paraRemove fa fa-times" *ngIf="regularData.profiles.length > 1" (click)="removeRegFilter(i)"></span>
                            </div>
                        </div>
                    </div>
                </form>

            </div>

            <div class="modal-footer text-right">
                <button type="submit" class="constantbtn-button-blue-left" [disabled]="!addRegFilterForm.valid" (click)="addRegulatoryFilter()">Add</button>
                <button type="button" class="constantbtn-button-blue-right" (click)="saveRegFilter(regularData, addRegFilterForm)">Save</button>
            </div>
        </div>
    </div>

    <div class="addRegulatoryBackdrop" *ngIf="showAddRegulatoryModal == true">
        <div class="addRegulatoryDemoModal">
            <div class="modal-header">
                <p>Regulatory Based Enrollment</p>
                <button class="close" aria-label="Close" (click)="closeRegulatoryModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body regFormContainer">

                <!-- <form class="forms-sample col-md-12">
              <div class="form-group col-md-4">
                <label class="left_space" for="InputRName">Enrol date</label>
                <input type="text" class="form-control datePickerInput" [minDate]="minDate" [maxDate]="maxDate"
                        #dp="bsDatepicker" bsDatepicker [(bsValue)]="myDateValue" [bsConfig]="{ containerClass: 'theme-dark-blue' }" placement="bottom">
                <span></span>
              </div>

              <div class="form-group col-md-4">
                <label class="left_space" for="InputRDesc">Due days</label>
                <input type="text" class="form-control form-control-input inputText" id="InputRDesc" placeholder="Due days" name="dueDays" [(ngModel)]="regData.dueDays" #dueDays = "ngModel" required>
                <div [hidden]="dueDays.valid || dueDays.pristine" class="alert alert-danger">
                  <div [hidden]="!dueDays.errors.required">Due days required</div>
                </div>
                <span></span>
              </div>

              <div class="form-group col-md-4">
                <label class="left_space" for="dropRuleType">Reminder days</label>
                <input type="text" class="form-control form-control-input inputText" id="InputRDesc" placeholder="Reminder days" name="reminder" [(ngModel)]="regData.reminder" #reminder = "ngModel" required>
                <div [hidden]="reminder.valid || reminder.pristine" class="alert alert-danger">
                  <div [hidden]="!reminder.errors.required">Reminder days required</div>
                </div>
              </div>
            </form> -->

                <form [formGroup]="regulatoryForm" novalidate (ngSubmit)="save(regulatoryForm.value)">
                    <div class="form-group">
                        <div formArrayName="fields">
                            <div *ngFor="let field of regulatoryForm.controls.fields.controls; let i=index" class="">
                                <div class="mainDrop">
                                    <span class="glyphicon glyphicon-remove pull-right paraRemove fa fa-times" *ngIf="regulatoryForm.controls.fields.controls.length > 1" (click)="removeRegForm(i)"></span>
                                </div>
                                <div class="" [formGroupName]="i">
                                    <div class="mainDropParaRow col-md-12">
                                        <div class="form-group col-md-4">
                                            <label class="left_space" for="InputRName">Enrol date</label>
                                            <!-- [minDate]="minDate" -->
                                            <input type="text" class="form-control datePickerInput commonInput" [maxDate]="maxDate" #dp="bsDatepicker" bsDatepicker #dp="ngModel" [bsConfig]="{ containerClass: 'theme-dark-blue',dateInputFormat: 'DD-MM-YYYY' }" placement="bottom" formControlName="enrolDate">
                                            <div *ngIf="dp.errors && (dp.dirty || dp.touched)" class="alert alert-danger">
                                                <div [hidden]="!dp.errors.required">Input required</div>
                                            </div>
                                            <!--[(bsValue)]="myDateValue" [bsConfig]="bsConfig" [bsConfig]="{ containerClass: 'custom-today-class' }" -->
                                            <span></span>
                                        </div>

                                        <!-- <div class="form-group col-md-4"> -->
                                        <!-- <label class="left_space" for="InputRDesc">Due days</label>
                                        <select id="dueDays_{{i}}" name="dueDays" formControlName="dueDays" class="form-control form-control-input select_field_height vaildDrop2" autocomplete="false" (change)="callTypeRegDueDays($event,i,field)" required>
                                            <option value="" selected disabled>Select</option>
                                            <option *ngFor="let day of dueDaysArr; let j=index" value={{day.id}}>{{day.name}}</option>
                                        </select> -->
                                        <!-- <mat-form-field>
                                          <mat-select placeholder="Toppings" [formControlName]="dueDays" multiple>
                                            <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
                                          </mat-select>
                                        </mat-form-field> -->
                                        <!-- <span></span>
                                    </div>  -->

                                        <!-- <div class="form-group col-md-4">
                                        <label class="left_space" for="dropRuleType">Reminder days</label>
                                        <select id="remDays_{{i}}" name="reminder" formControlName="remDays" class="form-control form-control-input select_field_height vaildDrop2" autocomplete="false" required>
                                            <option value="" selected disabled>Select</option>
                                            <option *ngFor="let day of remDaysArr" value={{day.id}} [hidden]="dueDays < day.id">{{day.name}}</option>
                                        </select>
                                    </div> -->

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

            </div>

            <div class="modal-footer">
                <button type="submit" class="constantbtn-button-blue-left" (click)="addRegForm()" id="editbtn">
                    <!-- <i class="fa fa-plus"></i> -->Add
                </button>
                <button type="button" class="constantbtn-button-blue-right" (click)="saveReg()" id="editbtn">Save</button>
            </div>
        </div>
    </div>

    <div class="addSelfBackdrop" *ngIf="showAddSelfModal == true">
        <div class="addSelfDemoModal">
            <div class="modal-header">
                <p>Self Enrollment</p>
                <button class="close" aria-label="Close" (click)="closeSelfModal()">
              <span aria-hidden="true" class="closebtn">&times;</span>
            </button>
            </div>


            <div class="modal-body blended_course_self_scroll">
                <form class="forms-sample rules-row col-md-12" #selfForm="ngForm">
                    <div class="row ">
                        <div class="form-group col-md-3">
                            <label for="left_space">{{ helpContent?.course_enrol?.self_type?.label }}
                    <sup class="reqFieldActivity">*</sup>
                    <div class="help-tooltip">
                      <i
                        class="fa fa-info-circle tooltip-hover-info-label-round"
                        aria-hidden="true"
                      ></i>
                      <div class="help-tooltip-position-right">
                        <p>
                          {{
                            helpContent?.course_enrol?.self_type?.labelHelpContent
                          }}
                        </p>
                        <i></i>
                      </div>
                    </div>
                  </label>

                            <select id="dropRuleType" class="form-control form-control-input select_field_height" [(ngModel)]="selfFieldsData.sid" name="id" #id="ngModel" required>
                    <option value="" selected disabled>Select Type </option>
                    <option *ngFor="let type of selfType" value="{{ type.id }}">{{
                      type.name
                    }}</option>
                  </select>
                            <div *ngIf="id.errors && (id.dirty || id.touched)" class="alert alert-danger">
                                <div [hidden]="!id.errors.required">Type is required</div>
                            </div>
                        </div>

                        <div class="form-group col-md-3">
                            <label for="left_space">{{ helpContent?.course_enrol?.max_enrollments?.label }}
                    <sup class="reqFieldActivity">*</sup>
                    <div class="help-tooltip">
                      <i
                        class="fa fa-info-circle tooltip-hover-info-label-round"
                        aria-hidden="true"
                      ></i>
                      <div class="help-tooltip-position-right">
                        <p>
                          {{
                            helpContent?.course_enrol?.max_enrollments
                              ?.labelHelpContent
                          }}
                        </p>
                        <i></i>
                      </div>
                    </div>
                  </label>

                            <!-- <label class="left_space" for="InputRDesc">Max Enrollments
                    <sup class="reqFieldActivity">*</sup>
                  </label> -->
                            <input type="number" class="form-control form-control-input inputText commonInput" id="InputRDesc" placeholder="Max Enrollments" [(ngModel)]="selfFieldsData.maxCount" name="maxCount" #maxCount="ngModel" required />
                            <div *ngIf="maxCount.errors && (maxCount.dirty || maxCount.touched)" class="alert alert-danger">
                                <div [hidden]="!maxCount.errors.required">
                                    Max count is required
                                </div>
                            </div>
                            <span></span>
                        </div>

                        <div class="form-group col-md-3">
                            <label for="left_space">{{ helpContent?.course_enrol?.fields_type?.label }}
                    <sup class="reqFieldActivity">*</sup>
                    <div class="help-tooltip">
                      <i
                        class="fa fa-info-circle tooltip-hover-info-label-round"
                        aria-hidden="true"
                      ></i>
                      <div class="help-tooltip-position-right">
                        <p>
                          {{
                            helpContent?.course_enrol?.fields_type?.labelHelpContent
                          }}
                        </p>
                        <i></i>
                      </div>
                    </div>
                  </label>

                            <!-- <label class="left_space" for="dropRuleType">Fields Type
                    <sup class="reqFieldActivity">*</sup>
                  </label> -->
                            <select id="dropSelfType_{{ i }}" class="form-control form-control-input select_field_height" (change)="selfFieldTypeSelected($event, i, selfField)" [(ngModel)]="selfFieldsData.type" name="selfType_{{ i }}" #type="ngModel" required>
                    <option value="" selected disabled
                      >Select Type
                      <sup class="reqFieldActivity">*</sup>
                    </option>
                    <option
                      *ngFor="let ftype of selfFeildType"
                      value="{{ ftype.selfTypeId }}"
                    >
                      {{ ftype.selfTypeName }}</option
                    >
                  </select>
                            <div *ngIf="type.errors && (type.dirty || type.touched)" class="alert alert-danger">
                                <div [hidden]="!type.errors.required">
                                    Fields Type is required
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-md-3 addSelfbtn text-right">
                            <button type="submit" class="constantbtn-button-blue-left" (click)="addSelfFields()" id="editbtn" [disabled]="!selfForm.valid">
                    Add Field
                  </button>
                            <!-- [disabled]="!selfForm.valid" -->
                            <span></span>
                        </div>
                    </div>
                    <!--  *ngIf="isFetchingSettings" -->
                    <!-- selfProfileFieldSelected == true || selfFieldsData.profiles -->
                    <div class="row " *ngIf="isFetchingSettings == true">
                        <div class="rules-row col-md-12" *ngFor="let selfField of selfFieldsData.profiles; let i = index">
                            <div class="form-group col-md-6">
                                <!-- [(ngModel)]="item.field" -->
                                <!-- <select id="dropSelfRuleType_{{ i }}" class="form-control form-control-input select_field_height" [(ngModel)]="selectedFilterOptionSelf[i]" name="dropSelfRuleType_{{ i }}" #dropSelfRuleType="ngModel"
                                        (change)="selfFieldTypeSelected($event, i, item);callTypeSelfFields($event, i)" required> -->
                                <select class="form-control form-control-input select_field_height" #dropSelfRuleType="ngModel" [name]="'dropSelfRuleType_' + i" [id]="'dropSelfRuleType_' + i" [(ngModel)]="selfField.field" ngDefaultControl (change)="
                        selfFieldTypeSelected($event, i, selfField);
                        callTypeSelfFields($event, i, 2)
                      " required>
                      <option value="" selected disabled>Select Type</option>
                      <option
                        *ngFor="let selfProField of profileFieldsSelf"
                        [disabled]="selfProField.selected == 'true'"
                        [value]="selfProField.id"
                        >{{ selfProField.name }}</option
                      >
                      <!-- [ngValue]="selfProField" [value]="selfProField.id" [value]="convert_string_to_int(selfField.field)" name="dropSelfRuleType_{{ i }}" -->
                    </select>
                                <div *ngIf="
                        dropSelfRuleType.errors &&
                        (dropSelfRuleType.dirty || dropSelfRuleType.touched)
                      " class="alert alert-danger">
                                    <div [hidden]="!dropSelfRuleType.errors.required">
                                        Type is required
                                    </div>
                                </div>
                                <span></span>
                            </div>
                            <div class="form-group col-md-5" *ngIf="controlList[i].datatype == 'text'">
                                <input type="text" class="form-control form-control-input inputText commonInput" [id]="'inputText_' + i " placeholder="Input Text" [name]="'fieldTypeValues_' + i" [(ngModel)]="selfField.fieldValues" #fieldTypeValues="ngModel" required />
                                <div *ngIf="
                        fieldTypeValues.errors &&
                        (fieldTypeValues.dirty || fieldTypeValues.touched)
                      " class="alert alert-danger">
                                    <div [hidden]="!fieldTypeValues.errors.required">
                                        Input required
                                    </div>
                                </div>
                                <span></span>
                            </div>
                            <div class="form-group col-md-5" *ngIf="controlList[i].datatype == 'textarea'">
                                <input type="text" class="form-control form-control-input inputText" [id]="'inputText_' + i " placeholder="Input Text" [name]="'fieldTypeValues_' + i" [(ngModel)]="selfField.fieldValues" #fieldTypeValues="ngModel" required />
                                <div *ngIf="
                        fieldTypeValues.errors &&
                        (fieldTypeValues.dirty || fieldTypeValues.touched)
                      " class="alert alert-danger">
                                    <div [hidden]="!fieldTypeValues.errors.required">
                                        Input required
                                    </div>
                                </div>
                                <span></span>
                            </div>
                            <div class="form-group col-md-5" *ngIf="controlList[i].datatype == 'number'">
                                <input type="number" class="form-control form-control-input inputText commonInput" [id]="'inputText_' + i " placeholder="Input Text" [name]="'fieldTypeValues_' + i" [(ngModel)]="selfField.fieldValues" #fieldTypeValues="ngModel" required />
                                <div *ngIf="
                        fieldTypeValues.errors &&
                        (fieldTypeValues.dirty || fieldTypeValues.touched)
                      " class="alert alert-danger">
                                    <div [hidden]="!fieldTypeValues.errors.required">
                                        Input required
                                    </div>
                                </div>
                                <span></span>
                            </div>

                            <div class="form-group col-md-5" *ngIf="controlList[i].datatype == 'menu'">
                                <angular2-multiselect [data]="controlList[i].subtype" [(ngModel)]="selfField.fieldValuesArr" [settings]="settings" (onSelect)="onItemSelectSelf($event, i, selfField)" (onDeSelect)="OnItemDeSelectSelf($event, i, selfField)" (onSelectAll)="onSelectAllSelf($event, i, selfField)"
                                    (onDeSelectAll)="onDeSelectAllSelf($event, i, selfField)" [name]="'fieldTypeValues_' + i" [id]="'fieldTypeValues_' + i" #fieldValuesArr="ngModel" ngDefaultControl required>
                                    <c-item>
                                        <ng-template let-item="item">
                                            <label>{{ item.name }}</label>
                                        </ng-template>
                                    </c-item>
                                </angular2-multiselect>
                                <div *ngIf="fieldValuesArr.errors && (fieldValuesArr.dirty || fieldValuesArr.touched)" class="alert alert-danger">
                                    <div [hidden]="!fieldValuesArr.errors.required">Input required</div>
                                </div>
                            </div>
                            <!-- [(ngModel)]="selectedfiltervalue[i]"  -->

                            <div class="form-group col-md-5" *ngIf="controlList[i].datatype == 'datetime'">
                                <!-- [minDate]="minDate" -->
                                <input placeholder="Select date:" class="form-control datePickerInput commonInput" [bsConfig]="{
                        containerClass: 'theme-dark-blue',
                        dateInputFormat: 'DD-MM-YYYY'
                      }" [selectMode]="'range'" [owlDateTimeTrigger]="dtRange4" [owlDateTime]="dtRange4" [name]="'fieldTypeValues_' + i" [id]="'fieldTypeValues_' + i" [(ngModel)]="selfField.fieldValues" ngDefaultControl #fieldValues="ngModel" required
                                />
                                <owl-date-time [pickerType]="'calendar'" #dtRange4></owl-date-time>
                                <div *ngIf="
                        fieldValues.errors &&
                        (fieldValues.dirty || fieldValues.touched)
                      " class="alert alert-danger">
                                    <div [hidden]="!fieldValues.errors.required">
                                        Input required
                                    </div>
                                </div>
                                <span></span>
                            </div>

                            <div class="form-group col-md-1">
                                <span class="glyphicon glyphicon-remove pull-right paraRemove fa fa-times" *ngIf="selfFieldsData.profiles.length > 1" (click)="removeSelfFields(i, id, selfField)"></span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer text-right">

                <button type="button" class="constantbtn-button-blue-left" (click)="saveSelfFields(selfFieldsData, selfForm)" id="editbtn" [disabled]="!addSelfFieldsForm.valid && !selfForm.valid">
              Save
            </button>

            </div>
        </div>
    </div>

    <div class="addSelfBackdrop" *ngIf="showAddSelfttt == true">
        <div class="addSelfDemoModal">
            <div class="modal-header">
                <p>Self Enrollment</p>
                <button class="close" aria-label="Close" (click)="closeSelfModal()">
                        <span aria-hidden="true" class="closebtn">&times;</span>
                    </button>
            </div>

            <div class="modal-body">
                <form class="forms-sample rules-row col-md-12" #self1Form="ngForm">
                    <div class="row ">
                        <div class="form-group col-md-">
                            <label for="left_space">{{helpContent?.course_enrol?.max_enrollments?.label}} <sup
                                        class="reqFieldActivity">*</sup>
                                        <div class="help-tooltip">
                                          <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                                          <div class="help-tooltip-position-right">
                                            <p>{{helpContent?.course_enrol?.max_enrollments?.labelHelpContent}}</p>
                                            <i></i>
                                          </div>
                                        </div>
                                      </label>
                            <input type="number" class="form-control form-control-input inputText commonInput" id="InputRDesc" placeholder="Max Enrollments" [(ngModel)]="selftttData.maxCount" name="maxCount" #maxCount="ngModel" required>
                            <div *ngIf="maxCount.errors && (maxCount.dirty || maxCount.touched)" class="alert alert-danger">
                                <div [hidden]="!maxCount.errors.required">Max count is required</div>
                            </div>
                            <span></span>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer text-right">

                <button type="button" class="constantbtn-button-blue-left" (click)="saveTTTFields(selftttData, self1Form)" id="editbtn">Save</button>

            </div>
        </div>
    </div>

    <div class="ruleUsersBackdrop" *ngIf="showRuleUsersModal == true">
        <div class="ruleUsersDemoModal">
            <div class="modal-header">
                <p>Applicable users to {{ruleUsersModelTitle}}</p>
                <button class="close" aria-label="Close" (click)="closeRuleUsersModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form class="forms-sample" class="" #userForm="ngForm">
                    <div class="form-group" style="margin-bottom: 0px">
                        <div class="col-md-12 manualToolBar">
                            <div class="col-md-12">
                                <input type='text' class="manSearchUsr searchInput commonInput" placeholder='Type to filter the users...' (keyup)='searchManEnrol($event)' />
                            </div>
                            <!-- <div class="col-md-1" floteright>
                            <button type="submit" class="btn-default floteright" (click)="manEnrolUser()" id="manEnrolBtn">Add user</button>
                        </div> -->
                        </div>
                    </div>

                    <div class="form-group" style="margin-bottom: 0px">
                        <div class="col-md-12">
                            <div>
                                <ngx-datatable #tableDataManual style="width: 100%" class="material" [columns]="columnsManual" [loadingIndicator]="loadingIndicator" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="30" [limit]="5" [rowHeight]="50" [scrollbarV]="true" [rows]='rowsManual'>
                                </ngx-datatable>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <!-- <button type="button" class="btn-default floteright constantbtn" [disabled]="!addRulesForm.valid" (click)="saveRule($event)" id="editbtn">Save</button> -->
            </div>

        </div>
    </div>
</div>