<!-- <div class="col-md-12 catHead sticky-categoryHead">
    <div class="col-md-4">
        <h4 class="marginTop14">COURSE CATEGORY</h4>
    </div>
    <div class="col-md-4 catsearchdiv">
        <input type="text" [(ngModel)]="search.categoryName" class="form-control borderNone" placeholder="Search by keywords" name="namw" [disabled]="notFound">
        <i class="fa fa-remove catRemove" aria-hidden="true" (click)="clear()"></i>
    </div>
    <div class="col-md-4 text-right pad14px">
        <button type="button" class="constantbtn-button-blue-left " (click)="addeditccategory(undefined,0)" [disabled]="notFound">Add Category</button>
        <button type="submit" class="constantbtn-button-blue-left " (click)="back()" id="editbtn2">Back</button>
    </div>
</div> -->
<app-subheader [headerConfig]="header" (inputsearch)="onsearch($event)" (addbtn)="addeditccategory(undefined,0)" (backClick)="back()" (comeBack)="breadcrumbNavigate($event)" (btnone)="addeditcontent(undefined,0)" (filterClick)="gotoFilter()" (Clear)="clear()"></app-subheader>
<ngx-filter [courseTag]="filters" [filterInnertag]="filtersInner" (dropdownClick)="getSortData($event)" [filterConfig]="filtercon" (changeFilterData)="filteredChanged($event)" *ngIf="filter" [clearData]="filterClearData"></ngx-filter>


<app-skeleton [count]='count' *ngIf="!skeleton && !showOld"></app-skeleton>

<div class="category_main_container">
    <div>
        <div class="category_div">
            <div *ngIf="notFound">
                <!-- <img class="noDataImg" src='assets/images/noDataFound1.png' onerror="this.src='assets/images/noDataFound1.png';"> -->
                <ngx-no-data [config]="noDataVal"></ngx-no-data>
            </div>
            <!-- <table *ngIf="!skeleton">
                <tr>
                    <div class="multiple_categorys_card_container">
                        <div class="content_width">
                            <div class="cards_containers">
                                <td>
                                    <div class="singel_cards">
                                        <div class="courseCat">
                                            <ngx-skeleton-loader [theme]="{ width: '216px', height: '135px','margin': '5px' }">
                                            </ngx-skeleton-loader>
                                        </div>
                                        <div class="courseCat-title">
                                            <ngx-skeleton-loader [theme]="{
                                                            width: '170px',
                                                            height: '40px'
                                                          }"></ngx-skeleton-loader>
                                        </div>
                                        <div class="courseCat-title">
                                            <ngx-skeleton-loader [theme]="{
                                                            width: '170px',
                                                            height: '40px'
                                                          }"></ngx-skeleton-loader>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="singel_cards">
                                        <div class="courseCat">
                                            <ngx-skeleton-loader [theme]="{ width: '216px', height: '135px','margin': '5px' }">
                                            </ngx-skeleton-loader>
                                        </div>
                                        <div class="courseCat-title">
                                            <ngx-skeleton-loader [theme]="{
                                                            width: '170px',
                                                            height: '40px'
                                                          }"></ngx-skeleton-loader>
                                        </div>
                                        <div class="courseCat-title">
                                            <ngx-skeleton-loader [theme]="{
                                                            width: '170px',
                                                            height: '40px'
                                                          }"></ngx-skeleton-loader>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="singel_cards">
                                        <div class="courseCat">
                                            <ngx-skeleton-loader [theme]="{ width: '216px', height: '135px','margin': '5px'}">
                                            </ngx-skeleton-loader>
                                        </div>
                                        <div class="courseCat-title">
                                            <ngx-skeleton-loader [theme]="{
                                                            width: '170px',
                                                            height: '40px'
                                                          }"></ngx-skeleton-loader>
                                        </div>
                                        <div class="courseCat-title">
                                            <ngx-skeleton-loader [theme]="{
                                                            width: '170px',
                                                            height: '40px'
                                                          }"></ngx-skeleton-loader>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="singel_cards">
                                        <div class="courseCat">
                                            <ngx-skeleton-loader [theme]="{ width: '216px', height: '135px','margin': '5px'}">
                                            </ngx-skeleton-loader>
                                        </div>
                                        <div class="courseCat-title">
                                            <ngx-skeleton-loader [theme]="{
                                                            width: '170px',
                                                            height: '40px'
                                                          }"></ngx-skeleton-loader>
                                        </div>
                                        <div class="courseCat-title">
                                            <ngx-skeleton-loader [theme]="{
                                                            width: '170px',
                                                            height: '40px'
                                                          }"></ngx-skeleton-loader>
                                        </div>
                                    </div>
                                </td>
                            </div>
                        </div>
                    </div>
                </tr>
                <tr>
                    <div class="multiple_categorys_card_container">
                        <div class="content_width">
                            <div class="cards_containers">
                                <td>
                                    <div class="singel_cards">
                                        <div class="courseCat">
                                            <ngx-skeleton-loader [theme]="{ width: '216px', height: '135px','margin': '5px'}">
                                            </ngx-skeleton-loader>
                                        </div>
                                        <div class="courseCat-title">
                                            <ngx-skeleton-loader [theme]="{
                                                                width: '170px',
                                                                height: '40px'
                                                              }"></ngx-skeleton-loader>
                                        </div>
                                        <div class="courseCat-title">
                                            <ngx-skeleton-loader [theme]="{
                                                                width: '170px',
                                                                height: '40px'
                                                              }"></ngx-skeleton-loader>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="singel_cards">
                                        <div class="courseCat">
                                            <ngx-skeleton-loader [theme]="{ width: '216px', height: '135px','margin': '5px'}">
                                            </ngx-skeleton-loader>
                                        </div>
                                        <div class="courseCat-title">
                                            <ngx-skeleton-loader [theme]="{
                                                                width: '170px',
                                                                height: '40px'
                                                              }"></ngx-skeleton-loader>
                                        </div>
                                        <div class="courseCat-title">
                                            <ngx-skeleton-loader [theme]="{
                                                                width: '170px',
                                                                height: '40px'
                                                              }"></ngx-skeleton-loader>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="singel_cards">
                                        <div class="courseCat">
                                            <ngx-skeleton-loader [theme]="{ width: '216px', height: '135px','margin': '5px'}">
                                            </ngx-skeleton-loader>
                                        </div>
                                        <div class="courseCat-title">
                                            <ngx-skeleton-loader [theme]="{
                                                                width: '170px',
                                                                height: '40px'
                                                              }"></ngx-skeleton-loader>
                                        </div>
                                        <div class="courseCat-title">
                                            <ngx-skeleton-loader [theme]="{
                                                                width: '170px',
                                                                height: '40px'
                                                              }"></ngx-skeleton-loader>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="singel_cards">
                                        <div class="courseCat">
                                            <ngx-skeleton-loader [theme]="{ width: '216px', height: '135px','margin': '5px'}">
                                            </ngx-skeleton-loader>
                                        </div>
                                        <div class="courseCat-title">
                                            <ngx-skeleton-loader [theme]="{
                                                                width: '170px',
                                                                height: '40px'
                                                              }"></ngx-skeleton-loader>
                                        </div>
                                        <div class="courseCat-title">
                                            <ngx-skeleton-loader [theme]="{
                                                                width: '170px',
                                                                height: '40px'
                                                              }"></ngx-skeleton-loader>
                                        </div>
                                    </div>
                                </td>
                            </div>
                        </div>
                    </div>
                </tr>
            </table> -->
            <!-- <div class="top_header_container">
                <div class="top_header_div_sticky content_width">
                    <div class="page_title"> -->
            <!-- ABCpqr -->
            <!-- <h4>COURSE CATEGORY</h4>
                    </div>
                    <div>
                        <div class="search_div">
                            <input (keyup)="onsearch($event)" class="form-control search_field ng-untouched ng-pristine ng-valid" name="namw" [(ngModel)]="search.categoryName" placeholder="Search by keywords" type="text" [disabled]="notFound">
                            <i aria-hidden="true" class="fa fa-remove remove_icon" (click)="clear()"></i>
                        </div>
                    </div>
                    <div class="buttons_div">
                        <button type="button" class="constantbtn-button-blue-left " (click)="addeditccategory(undefined,0)" [disabled]="notFound">Add Category</button>
                        <button type="submit" class="back_button" (click)="back()">Back</button>
                    </div>
                </div>
            </div> -->



            <!-- <div class="multiple_category_card_container" #scrollMe (scroll)="onScroll(scrollMe)">
                <div class="content_width" *ngIf="!notFound">
                    <div class="cards_container" *ngIf="category?.length">

                        <div class="singel_card" *ngFor="let item of category |filterBy: search; let i=index">
                            <div class="overlay_hidden" [hidden]="item.visible == 1">
                                <i title="Disabled" id="enable_{{item.categoryId}}" class="fa fa-eye-slash" aria-hidden="true" (click)="disableCategory(i,item,false)"></i>
                            </div>
                            <div class="singel_card_image pointer" *ngIf="item.categoryPicRef" [ngStyle]="{'background-image': 'url(' + item.categoryPicRef + ')'}" (click)="content2(item,0)">
                            </div>
                            <div class="singel_card_image pointer" *ngIf="!item.categoryPicRef" [ngStyle]="{'background-image': getUrl('https://bhaveshedgetest.s3.ap-south-1.amazonaws.com/BFL.jpg')}" (click)="content2(item,0)">
                            </div>
                            <div class="card_title pointer" (click)="content2(item,0)">
                                <div class="" title="{{item.categoryName}}" *ngIf="item.categoryName.length <= 15">
                                    {{item.categoryName}}</div>
                                <div class="" title="{{item.categoryName}}" *ngIf="item.categoryName.length > 15">
                                    {{item.categoryName.substring(0,15)}}...</div>
                            </div>
                            <div class="card_subtitle pointer" (click)="content2(item,0)">
                                Courses : {{item.coursecount}}
                            </div>
                            <div class="icon-div pointer">
                                <div class="icon" title="Edit" (click)="addeditccategory(item,1)">
                                    <i aria-hidden="true" class="fa fa-edit"></i>
                                </div>
                                <div class="icon">
                                    <i title="Enabled" id="disable_{{item.categoryId}}" class="fa fa-eye" aria-hidden="true" (click)="disableCategory(i,item,true)" [hidden]="item.visible == 0"></i>

                                    <i title="Disabled" id="enable_{{item.categoryId}}" class="fa fa-eye-slash" aria-hidden="true" (click)="disableCategory(i,item,false)" [hidden]="item.visible == 1"></i>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div> -->

            <div class="overflow_scroll_cards_container" #scrollMe (scroll)="onScroll(scrollMe)" *ngIf = "skeleton">
                <!-- <div *ngIf="category?.length && !notFound"> -->
                <div *ngIf="!notFound">
                    <div *ngIf="showOld">
                        <div *ngFor="let item of category;let i=index">
                            <ngx-card (disabled)="enableDisableCategory(i,item)" [cardsList]="item" [config]="cardModify" (sectionEdit)="addeditccategory(item,1)" (gotoDetails)="gotoCarddetails(item)"></ngx-card>
                        </div>
                    </div>

                    <!-- //new structure -->
                    <!-- <div *ngIf= "courseList?.length>0">
                        <div *ngFor="let item of courseList;let i=index">
              <ngx-card (disabled)="enableDisableCourse(item)" [cardsList]="item" [config]="cardModifyCourse" (copyClick)="copyCard(item)" (sectionEdit)="addeditccategory(item,1)" (gotoDetails)="gotoCardaddedit(item)"></ngx-card>
          </div>
        </div> -->

                    <div class="dam-content p-2">

                        <ng-container>
                            <!-- <label class="label-name" *ngIf="category?.length>0">Folders</label> -->
                            <div class="dam-content--folders" style="padding:8px;" *ngIf="category?.length>0 && !showOld">
                                <div class="folders-section p-2" *ngFor="let item of category;let i = index;" (click)="getAllSubCat(item)" [contextMenu]="folderMenu" [contextMenuSubject]="item" #iconFolder (mouseenter)="mouseup(i, item)" (mouseleave)="mousedown(i)">
                                    <div class="folder d-flex align-items-center position-relative cursor-p" [ngClass]="{'active-folder': activeFolder, 'disable': item.visible == 0}">
                                        <span class="folder--icon">
                                          <i *ngIf="item.visible == 1" class="fa fa-folder"></i>
                                          <i *ngIf="item.visible == 0"  class="fa fa-eye-slash" title="Enable"></i>
                                      </span>
                                        <span class="folder--text" title={{item.categoryName}}>{{ item.categoryName }}</span>
                                        <div class="hover-content position-absolute" *ngIf="item.isHoverDesc == 1 && item.description" #hover>
                                            <p class="m-0 text-break">{{ item?.description }}</p>
                                            <p class="m-0 text-break ">Course Count: {{ item?.coursecount }}</p>
                                        </div>
                                    </div>
                                    <context-menu #folderMenu [menuClass]="'context-dropdown'">
                                        <ng-template contextMenuItem (execute)="contextItem($event,list)">

                                            <span (click)="View('Edit','')"><i class="fa fas fa-folder"></i>Edit </span>
                                            <!-- <span (click)="View('Duplicate','')"><i class="fa fas fa-folder"></i>Duplicate </span> -->
                                            <span (click)="View('Enable',i)" *ngIf="item?.visible == 0 || item?.isVisibility == 1"><i
                                                  class="fas fa-eye"></i>Enable</span>
                                            <span (click)="View('Disable',i)" *ngIf="item?.visible == 1 || item?.isVisibility == 1"><i
                                                  class="fas fa-eye-slash"></i>Disable</span>

                                        </ng-template>
                                    </context-menu>
                                </div>
                            </div>
                            <div *ngIf="courseList?.length>0 && !showOld">
                                <div *ngFor="let item of courseList;let i=index">
                                    <ngx-card (disabled)="enableDisableCourse(item)" [cardsList]="item" [config]="cardModifyCourse" (copyClick)="copyCard(item)" (sectionEdit)="addeditccategory(item,1)" (gotoDetails)="gotoCardaddedit(item)"></ngx-card>
                                </div>
                            </div>

                            <label class="label-name" *ngIf="files?.length>0">Files</label>
                            <div class="dam-content--files" *ngIf="files?.length>0">
                                <div class="file-section cursor-p p-2" *ngFor="let item of files;let i = index" (click)="onlyEdit(item)">
                                    <div class="file position-relative" [ngClass]="{ 'disable': item.visible == 0 }">
                                        <div class="file--img position-absolute">
                                            <i class={{item.formatIcon}}></i>
                                        </div>
                                        <div class="inner-file position-absolute d-flex align-items-center">
                                            <span class="file--icon" *ngIf="item.visible == 0"><i class="fa fa-eye-slash"></i></span>
                                            <span class="file--icon" *ngIf="!item.visible == 0"><i class={{item.formatIcon}}></i></span>
                                            <span class="file--text" title={{item.assetName}}>{{ item.assetName }}</span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="showContentBoxSpinner">
                            <div class="content_spinner">
                                <div class="lds-ring">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                            </div>

                        </ng-container>
                        <!-- <div *ngIf="(folder?.length==0 && files.length == 0) && !showSpinner && !showContentBoxSpinner">
                              <ngx-no-data [config]="noDataVal"></ngx-no-data>
                          </div> -->
                    </div>



                </div>


                <div class="duplicateModalBackdrop" *ngIf="duplicateCourseModal == true">
                    <div class="duplicateModal">
                        <div class="modal-header duplicateModalHeader">
                            <p class="duplicateModalHeaderP">Duplicate course {{duplicateCourseData.fullname}}</p>
                            <button class="close closeDuplicateModalBtn" aria-label="Close" (click)="closeDuplicateCourseModal()">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                        </div>

                        <div class="modal-body" style="max-height: 375px;overflow-y: auto;">
                            <div class="card cardForm">
                                <div class="card-body cardBody">
                                    <!-- <h5 class="card-title cardTitle">General</h5> -->
                                    <form class="forms-sample formPad10" #courseDupliForm="ngForm">
                                        <div class="courseBasicDetailsContainer">
                                            <div class="form-group">
                                                <label class="left_space" for="fullname">Full Name</label>
                                                <input type="text" class="form-control form-control-input select_field_height inputText" [(ngModel)]="formDataCourse.fullname" required id="fullname" placeholder="Full Name" name="fullname" #fullname="ngModel" minlength="2" maxlength="50">
                                                <div class="errorMsg" [hidden]="fullname.valid || fullname.pristine" class="alert alert-danger">
                                                    <div [hidden]="!fullname.hasError('required')">Full Name is required</div>
                                                </div>
                                                <span></span>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer duplicateModalFooter">
                            <div class="">
                                <button type="button" class="duplicateModalBtn" (click)="duplicateCourseAction(true)" [disabled]="!courseDupliForm.valid">Duplicate</button>
                            </div>
                            <div class="">
                                <button type="button" class="duplicateModalBtn" (click)="duplicateCourseAction(false)">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- //End new Structure -->

            </div>
        </div>

    </div>


</div>
<!-- </div> -->
<div class="deleteModalBackdrop" *ngIf="deleteCategoryModal == true">
    <div class="deleteModal">
        <div class="modal-header deleteModalHeader">
            <p class="deleteModalHeaderP">Delete category</p>
            <button class="close closeDeleteModalBtn" aria-label="Close" (click)="closeDeleteCategoryModal()">
                        <span aria-hidden="true">&times;</span>
                    </button>
        </div>

        <div class="modal-body">
            <div class="">
                <p class="deleteModalBodyP">Are you sure you want to delete {{deleteCatData.categoryName}} ?</p>
            </div>
        </div>

        <div class="modal-footer deleteModalFooter">
            <div class="col-md-2">
                <button type="button" class="deleteModalBtn" (click)="deleteCategoryAction(true)">Yes</button>
            </div>
            <div class="col-md-2">
                <button type="button" class="deleteModalBtn" (click)="deleteCategoryAction(false)">No</button>
            </div>
        </div>
    </div>
</div>

<!-- <div class="enableDisableModalBackdrop" *ngIf="enableDisableCategoryModal == true">
    <div class="enableDisableModal">
        <div class="modal-header enableDisableModalHeader">
            <p *ngIf="enableCat" class="enableDisableModalHeaderP">Enable category</p>
            <p *ngIf="!enableCat" class="enableDisableModalHeaderP">Disable category</p>
            <button class="close closeEnableDisableModalBtn" aria-label="Close" (click)="closeEnableDisableCategoryModal()">
        <span aria-hidden="true">&times;</span>
      </button>
        </div>

        <div class="modal-body">
            <div class="" *ngIf="enableCat">
                <p class="enableDisableModalBodyP">Are you sure you want to Enable {{enableDisableCategoryData.categoryName}} ?</p>
            </div>
            <div class="" *ngIf="!enableCat">
                <p class="enableDisableModalBodyP">Are you sure you want to Disable {{enableDisableCategoryData.categoryName}} ?</p>
            </div>
        </div>

        <div class="modal-footer enableDisableModalFooter">
            <div class="col-md-2">
                <button type="button" class="enableDisableModalBtn" (click)="enableDisableCategoryAction(true)">Yes</button>
            </div>
            <div class="col-md-2">
                <button type="button" class="enableDisableModalBtn" (click)="enableDisableCategoryAction(false)">No</button>
            </div>
        </div>
    </div>
</div> -->

<div class="deleteModalBackdrop" *ngIf="enableDisableCategoryModal == true">
    <div class="deleteModal">
        <div class="modal-header deleteModalHeader">
            <p *ngIf="!enableCat" class="enableDisableModalHeaderP">Enable category</p>
            <p *ngIf="enableCat" class="enableDisableModalHeaderP">Disable category</p>
            <button class="close closeDeleteModalBtn" aria-label="Close" (click)="closeEnableDisableCategoryModal()">
                        <span aria-hidden="true">&times;</span>
                    </button>
        </div>

        <div class="modal-body">
            <div class="" *ngIf="!enableCat">
                <p class="enableDisableModalBodyP">Are you sure you want to Enable {{enableDisableCategoryData.categoryName}} ?</p>
            </div>
            <div class="" *ngIf="enableCat">
                <p class="enableDisableModalBodyP">Are you sure you want to Disable {{enableDisableCategoryData.categoryName}} ?</p>
            </div>
        </div>

        <div class="modal-footer deleteModalFooter">
            <div class="col-md-2">
                <button type="button" class="deleteModalBtn" (click)="enableDisableCategoryAction(true)">Yes</button>
            </div>
            <div class="col-md-2">
                <button type="button" class="deleteModalBtn" (click)="enableDisableCategoryAction(false)">No</button>
            </div>
        </div>
    </div>
</div>
<ngx-sidebar-form *ngIf="catShow" [sidebarTitle]='title' [buttonName]="btnName" (saveBtn)='submit(categoryForm)' (outside)="closesectionModel()" (closeBtn)='closesectionModel()'>

    <!-- <div class="inside_form_container">
        <div class="content_width"> -->
    <!-- <div class="form_title">
                <h5>General Details</h5>
                <p class="card-description">
                </p>
            </div> -->
    <!-- <div class="form_grid">

                <div class="left_form_container">

                    <div class="form_container"> -->
    <form class="forms-sample" #categoryForm="ngForm">
        <div class="form-group form_field_container">
            <label class="side-form-label">{{helpContent?.courses_AddEditCategoryContent?.name.label}} <sup>&#x2731;</sup>
                                    <app-info-tooltip  [description]="helpContent?.courses_AddEditCategoryContent?.name.labelHelpContent"></app-info-tooltip>
                                </label>
            <!-- <label class="commonLabel" for="Name">{{helpContent?.courses_AddEditCategoryContent?.name?.label}} <sup
                                        class="required_mark">*</sup>
                                    <div class="help-tooltip">
                                        <i class="fa fa-info-circle tooltip-hover-info-label-round"
                                            aria-hidden="true"></i> -->
            <!-- <i class="fa fa-info tooltip-hover-info-label"
                                                aria-hidden="true"></i> -->
            <!-- <div class="help-tooltip-position-right"> -->
            <!-- <h3>Lorem Ipsum</h3> -->
            <!-- <p>{{helpContent?.courses_AddEditCategoryContent?.name?.labelHelpContent}}
                                            </p>
                                            <i></i>
                                        </div>
                                    </div>
                                </label> -->
            <input class="commonInput" type="text" class="form-control commonInput" id="catna" minlength="2" maxlength="50" [(ngModel)]="formdata.categoryName" required placeholder="Max 50 characters." name="categoryName" #categoryName="ngModel" ngDefaultControl>
            <div *ngIf="categoryName.errors && (categoryName.dirty || categoryName.touched)">
                <small class="invalid-msg" [hidden]="!categoryName.errors.required">Category Name is required</small>
                <small class="invalid-msg" [hidden]="!categoryName.errors.minlength">Minimum 2 characters required</small>
            </div>

        </div>

        <!-- new -->
        <div class="form-group form_field_container">
            <label class="side-form-label">{{helpContent?.courses_AddEditCategoryContent?.code?.label}}<sup>&#x2731;</sup>
                <!-- <app-info-tooltip [description]="helpContent?.courses_AddEditCategoryContent?.name.labelHelpContent">
                </app-info-tooltip> -->
            </label>
            <input class="commonInput" type="text" class="form-control commonInput" id="catcode" disabled
                [(ngModel)]="formdata.categoryCode" name="categoryCode" #categoryCode="ngModel" ngDefaultControl>
        
        </div>
        <!-- End -->
        <div class="form-group tagcontainer">
            <label class="side-form-label">{{helpContent?.courses_AddEditCategoryContent?.tags.label}} <sup>&#x2731;</sup>
                                    <app-info-tooltip  [description]="helpContent?.courses_AddEditCategoryContent?.tags.labelHelpContent"></app-info-tooltip>
                                </label>
            <!-- <label class="commonLabel" for="addTags">{{helpContent?.courses_AddEditCategoryContent?.tags?.label}}
                                    <sup class="required_mark">*</sup>
                                    <div class="help-tooltip">
                                        <i class="fa fa-info-circle tooltip-hover-info-label-round"
                                            aria-hidden="true"></i> -->
            <!-- <i class="fa fa-info tooltip-hover-info-label"
                                                aria-hidden="true"></i> -->
            <!-- <img src="../../../../../assets/images/info.svg" alt="" srcset=""> -->
            <!-- <div class="help-tooltip-position-right"> -->
            <!-- <h3>Lorem Ipsum</h3> -->
            <!-- <p>{{helpContent?.courses_AddEditCategoryContent?.tags?.labelHelpContent}}
                                            </p>
                                            <i></i>
                                        </div>
                                    </div>
                                </label> -->
            <div id="addTags">
                <angular2-multiselect id="exampleInputTags4" class="form-control" [data]="tagList" [(ngModel)]="selectedTags" [settings]="settingsTagDrop" required #tags="ngModel" (onSelect)="onTagsSelect($event)" (onDeSelect)="OnTagDeSelect($event)" name="selectedTags"
                    ngDefaultControl>
                    <!-- <c-search>
                                          <ng-template>
                                            <input type="text" (keyup)="onTagSearch($event)"
                                              placeholder="Search Tags"
                                              style="border: none;width: 100%; height: 100%;outline: none;" />
                                          </ng-template>
                                        </c-search> -->
                    <c-item>
                        <ng-template let-item="item">
                            <label class="multiselect-label">{{item.name}}</label>
                        </ng-template>
                    </c-item>
                </angular2-multiselect>
                <div *ngIf="tags.errors && (tags.dirty || tags.touched)">
                    <small class="invalid-msg" [hidden]="!tags.errors.required">Tag is required</small>
                </div>
            </div>
        </div>
        <!-- </form> -->
        <!-- </div>
                </div>
                <div class="right_form_container"> -->
        <!-- <form class="forms-sample form_field_container"> -->
        <div class="form-group form_field_container">
            <label class="side-form-label">{{helpContent?.courses_AddEditCategoryContent?.visibility.label}} <sup>&#x2731;</sup>
                                <app-info-tooltip  [description]="helpContent?.courses_AddEditCategoryContent?.visibility.labelHelpContent"></app-info-tooltip>
                            </label>
            <!-- <label class="commonLabel" for="select_field">{{helpContent?.courses_AddEditCategoryContent?.visibility?.label}} <sup
                                    class="required_mark">*</sup>
                                <div class="help-tooltip">
                                    <i class="fa fa-info-circle tooltip-hover-info-label-round"
                                        aria-hidden="true"></i> -->
            <!-- <i class="fa fa-info tooltip-hover-info-label"
                                            aria-hidden="true"></i> -->
            <!-- <div class="help-tooltip-position-right"> -->
            <!-- <h3>Lorem Ipsum</h3> -->
            <!-- <p>{{helpContent?.courses_AddEditCategoryContent?.visibility?.labelHelpContent}}
                                        </p>
                                        <i></i>
                                    </div>
                                </div>
                            </label> -->
            <!-- <label for="select_field">Visibility<sup class="required_mark">*</sup></label> -->

            <select [(ngModel)]="formdata.visible" class="commonInput custom-select" required name="visible" #visible="ngModel" ngDefaultControl [disabled] = "courseCount>0">
                                <option value="" selected disabled>Select Type</option>
                                <option *ngFor="let item of visibility" value={{item.id}}>{{item.name}}
                                </option>
                            </select>

            <!-- <select class="form-control" id="select_field">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select> -->
            <div *ngIf="visible.errors && (visible.dirty || visible.touched)">
                <small class="invalid-msg" [hidden]="!visible.errors.required">Visibility is required</small>
            </div>

        </div>
        <div class="form-group form_field_container">
            <label class="side-form-label" for="Address">{{helpContent?.courses_AddEditCategoryContent?.description.label}} 
                                    <app-info-tooltip  [description]="helpContent?.courses_AddEditCategoryContent?.description.labelHelpContent"></app-info-tooltip>
                                </label>
            <!-- <label class="commonLabel" for="comment">{{helpContent?.courses_AddEditCategoryContent?.description?.label}}
                                    <sup class="required_mark">*</sup>
                                    <div class="help-tooltip">
                                        <i class="fa fa-info-circle tooltip-hover-info-label-round"
                                            aria-hidden="true"></i> -->
            <!-- <i class="fa fa-info tooltip-hover-info-label"
                                                        aria-hidden="true"></i> -->
            <!-- <img src="../../../../../assets/images/info.svg" alt="" srcset=""> -->
            <!-- <div class="help-tooltip-position-right"> -->
            <!-- <h3>Lorem Ipsum</h3> -->
            <!-- <p>{{helpContent?.courses_AddEditCategoryContent?.description?.labelHelpContent}}
                                            </p>
                                            <i></i>
                                        </div>
                                    </div>
                                </label> -->
            <textarea cols="30" rows="5" maxlength="500" minlength="20" class="form-control commonTextarea" placeholder="Min 20 and Max 500 characters." name="description" [(ngModel)]="formdata.description" #description="ngModel" ngDefaultControl></textarea>
            <!-- <textarea class="form-control" rows="5" ></textarea> -->
            <div *ngIf="description.errors && (description.dirty || description.touched)">
                <!-- <small class="invalid-msg" [hidden]="!description.errors.required">Description is
                                        required.</small> -->
                <small class="invalid-msg" [hidden]="!description.errors.minlength">Minimum 20 characters
                                        required</small>
            </div>

        </div>
        <label class="side-form-label">{{helpContent?.courses_AddEditCategoryContent?.category_thumbnail.label}} 
                            <app-info-tooltip  [description]="helpContent?.courses_AddEditCategoryContent?.category_thumbnail.labelHelpContent"></app-info-tooltip>
                        </label>
        <!-- <label class="commonLabel">
                            {{helpContent?.courses_AddEditCategoryContent?.category_thumbnail?.label}}
                        
                        <div class="help-tooltip">
                            <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i> -->
        <!-- <i class="fa fa-info tooltip-hover-info-label"
                                                aria-hidden="true"></i> -->
        <!-- <div class="help-tooltip-position-right">
                                <!-- <h3>Lorem Ipsum</h3>
                        <p>{{helpContent?.courses_AddEditCategoryContent?.category_thumbnail?.labelHelpContent}}
                        </p>
                        <i></i>
                </div>
            </div>
            </label> -->
        <div class="image_upload_container">
            <div class="image_preview">

                <!-- style="background-image: url('https://bhaveshedgetest.s3.ap-south-1.amazonaws.com/BFL.jpg')"  -->
                <div class="image_preview_container" [style.background-image]="'url(' + formdata.categoryPicRef + ')'">
                    <!-- <div class="buttons_image_preview"> -->

                    <div class="icon_upload_image">
                        <input class="commonInput" type='file' id="imageUpload_1" accept=".png, .jpg, .jpeg" style="display:none" [(ngModel)]="formdata.categoryPicRefs" [ngModelOptions]="{standalone: true}" (change)="readCategoryThumb($event)" />
                        <label class="commonLabel" for="imageUpload_1" title="Change Thumbnail"><i class="fa fa-pencil"
                                                        aria-hidden="true"></i></label>
                    </div>
                    <div class="icon_delete" (click)="deleteCategoryThumb()">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                        <!-- <label></label> -->
                    </div>
                    <!-- </div> -->
                </div>

            </div>
        </div>
    </form>

    <!-- </div>
            </div>

        </div>

    </div> -->

</ngx-sidebar-form>