<div class="codeContainer">
    <div class="alignbtnsRight">
        <div class="text-right">
            <!-- <button class="constantbtn-button-blue-left" (click)="addSection()" [disabled]="!codeOfConduct.form.valid">Add Section</button>
            <button class="constantbtn-button-blue-right" (click)="onSubmit(codeOfConduct.form.value)" [disabled]="!codeOfConduct.form.valid">Save</button> -->
        </div>
    </div>

    <form #codeOfConduct="ngForm">
        <div class="codeContainer list-group  sortable" [sortablejs]="codeContents" [sortablejsOptions]="DragableContent">
            <div class="sectionContent list-group-item" *ngFor="let item of codeContents; let i = index">

                <div class="closeDiv">
                    <button type="button" class="dragBtn drag-handle">
          <span class="glyphicon glyphicon-move sortIcon"></span>
          <span class="sr-only">Drag</span>
        </button>
                    <button class="closebutton" (click)="closeSection(item, i)"><i class="far fa-times-circle"></i></button>
                </div>

                <div class="sectionName" style="padding-bottom: 10px;">
                    <label class="stepLabel">{{helpContent?.ttt_code_of_conduct?.section_name?.label}}
                      <sup>&#x2731;</sup>
<app-info-tooltip  [description]="helpContent?.ttt_code_of_conduct?.section_name?.labelHelpContent"></app-info-tooltip>
                        

            <!-- <sup class="reqFieldActivity">*</sup>
              <div class="help-tooltip">
                <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                <div class="help-tooltip-position-right">
                  <p>{{helpContent?.ttt_code_of_conduct?.section_name?.labelHelpContent}}</p>
                  <i></i>
                </div>
              </div> -->
            </label>
                    <!-- <label class="stepLabel">Section Name <h3 class="reqField">*</h3></label> -->
                    <input type="text" id="sName{{i}}" placeholder="Section Name" minlength="10" class="form-control" name="sName{{i}}" [(ngModel)]="item.sName" #sName="ngModel" required>
                    <div [hidden]="sName.valid || sName.pristine" class="">
                        <small class="invalid-msg" [hidden]="!sName.hasError('required')">Enter section name</small>
                        <small class="invalid-msg" [hidden]="!sName.hasError('minlength')">Min 10 characters requried</small>
                    </div>
                </div>

                <div class="stepName">
                    <label class="side-form-label">{{helpContent?.ttt_code_of_conduct?.section_desc?.label}}
                      <sup>&#x2731;</sup>
                      <app-info-tooltip  [description]="helpContent?.ttt_code_of_conduct?.section_desc?.labelHelpContent"></app-info-tooltip>
                                              
            <!-- <sup class="reqFieldActivity">*</sup>
              <div class="help-tooltip">
                <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                <div class="help-tooltip-position-right">
                  <p>{{helpContent?.ttt_code_of_conduct?.section_desc?.labelHelpContent}}</p>
                  <i></i>
                </div>
              </div> -->
            </label>
                    <!-- <label class="sectionDescLabel">Section Description <h3 class="reqField">*</h3></label> -->
                    <!-- <textarea rows="5" cols="20" class="form-control" id="sDesc{{i}}" name="sDesc{{i}}" [(ngModel)]="item.sDesc"
          #sDesc="ngModel" [required]="item.requiredDescription"></textarea> -->
                    <jodit-editor id="sDesc{{i}}" [config]="config" id="sDesc{{i}}" name="sDesc{{i}}" [required]="item.requiredDescription" [(ngModel)]="item.sDesc" #sDesc="ngModel">
                    </jodit-editor>
                    <div [hidden]="sDesc.valid || sDesc.pristine" class="">
                        <small class="invalid-msg" [hidden]="!sDesc.hasError('required')">Enter section description</small>
                        <!-- <small class="invalid-msg" [hidden]="!sDesc.hasError('minlength')">Min 10 characters requried</small> -->
                    </div>
                </div>

                <!-- <div class="attachDiv">
        <button class="removeMulti" aria-label="Close" (click)="cancelmulti(i)">
          <span aria-hidden="true">&times;</span>
        </button>
        <button class="constantbtn">Attach file</button>
        <label class="marleftimg" for="contentRef{{k}}">{{item.fileName}}</label> -->
                <!-- <input type="file" #multupload name="contentRef{{k}}" id="contentRef{{k}}" [(ngModel)]="moptions.contentRef" (change)="readmultimg($event,k)" #contentRef="ngModel" title=""> -->
                <!-- <input type="file" #multupload id="inputFile{{i}}" name="inputFile{{i}}" [(ngModel)]="item.attachedFile"
          (change)="readmultimg($event,i)"  title=""> -->
                <!-- <div [hidden]="attachedFile.valid || attachedFile.pristine" class="">
          <div [hidden]="!attachedFile.hasError('required')">Attach a file</div>
          <!-- #contentRef="ngModel" -->
                <!-- </div> -->
                <!-- </div> -->
                <!--  accept=".csv,.xls,.xlsx, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" -->
                <div class="uploadCard">
                    <!-- <div class="col-md-12"> -->
                    <div class="form-group inputDnD">
                        <label class="sr-only" class="upload_file" for="inputFile">{{helpContent?.ttt_code_of_conduct?.file_Upload?.label}}

                          <!-- <sup>&#x2731;</sup> -->
                          <app-info-tooltip  [description]="helpContent?.ttt_code_of_conduct?.file_Upload?.labelHelpContent"></app-info-tooltip>
                            
<!--                           
                        <div class="help-tooltip">
                          <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                          <div class="help-tooltip-position-right">
                            <p>{{helpContent?.ttt_code_of_conduct?.file_Upload?.labelHelpContent}}</p>
                            <i></i>
                          </div>
                        </div> -->
                      </label>

                        <!-- <label class="sr-only" class="upload_file" for="inputFile">File Upload</label> -->
                        <input type="file" #fileUpload class="form-control-file text-success font-weight-bold" id="inputFile{{i}}" name="inputFile{{i}}" (change)="readmultimg($event,i, item)" (click)="fileUpload.value = null" [required]="!item.requiredDescription" [attr.data-title]="item.fileName">
                        <!-- [(ngModel)]="addEditAssetForm.file" -->
                        <!-- <div>Upload File Hiii</div> -->
                    </div>
                    <!-- </div> -->
                    <div class="d-flex justify-content-center">
                        <!-- <button class="constantbtn-button-blue-left rightMargin" (click)="readmultimg()">Upload</button> -->
                        <button class="subBttn focus" [disabled]='!enableCancelBtn' (click)="cancelmulti(i)">Cancel</button>
                        <!-- <button class="constantbtn" href="templateExelLink" download><i class="fas fa-download"></i>  Template</button> -->
                        <!-- <a [href]="templateExelLink" download></a> -->
                        <!-- <a href="assets/images/Asset_Upload_Template_New.xlsx" download><button class="constantbtn-button-blue-right"><i class="fas fa-download"></i>  Template</button></a> -->
                        <!-- <a href="googleLink" download><button class="constantbtn-button-blue-right"><i class="fas fa-download"></i>  Google</button></a> -->
                    </div>

                </div>

            </div>
        </div>
    </form>



</div>