<!-- <label id="#bb" class="floteright constantbtn btnmargin"> Upload
  <input type="file" id="File"   size="60" >
</label>
<button type="button" class="btnmargin floteright constantbtn" >Download</button> -->


<!-- <div class="uplodDiv">
  <button class="removeMulti" aria-label="Close" (click)="cancelmatch(j)">
    <span aria-hidden="true">&times;</span>
  </button>
  <label class="space_left" for="optionRef{{j}}">Question <sup class="reqFieldActivity">*</sup> </label>
  <div class="upload-btn-wrapper">
    <label class="courseRewardsBtn btn brwsbtn" for="optionRef">Browse</label>
    <label class="marleftimg" for="optionRef">No file chosen</label>
    <input type="file" #multupload name="optionRef" id="optionRef" [(ngModel)]="contentRef" (change)="readmatchimg($event,j)" #optionRef="ngModel" title=" ">
  </div> 
</div> -->
<!-- 
<div class="mainTable"> -->


<div class="maincost">
  <form #selfForm="ngForm" id="selfForm">
    <div class="">
        <!-- <div class="col-md-12 text-right but">
            <button type="button" class="constantbtn-button-blue-left" (click)="save()">Save</button>
        </div> -->
    </div>
    <div class="costing-container">
        <div class="row-gap header">
            <div>
                <h6><b>Item </b></h6>
            </div>
            <div>
                <h6><b>Cost </b></h6>
            </div>
        </div>


        <div class="row-gap" *ngFor="let item of fileData;let i =index">
            <div>
                <p class="margin0">{{item.lineItem}}</p>
            </div>
            <div>
                <!--  form-control form-control-input select_field_height inputText-->
                <input type="number" class="costinputr inputText commonInput " name="{{item.lineItem}}" id="{{item.itemId}}" [(ngModel)]="item.cost" [ngModelOptions]="{standalone: true}" max="99999999999" pattern="[0-9]*" required>
            </div>
        </div>

    </div>
  </form>
</div>
<!-- <div class="maincost costrow">
  <div class="row ">
    <div class="col-md-6">
      Item
    </div>
    <div class="col-md-6">
      Cost
    </div>
  </div>
  <div *ngFor="let item of fileData; let i=index">
    <div class="row ">
      <div class="col-md-6">
        {{item.itemName}}:
      </div>
      <div class="col-md-6">
        <input type="number">
      </div>
    </div>
  </div>
</div> -->
<!-- <ion-row class="costrrow">
        <ion-col class="col-md-3"></ion-col>
        <ion-col class="col-md-3">
          <input type="number">
        </ion-col> -->

<!-- <ion-col>
            class="form-control form-control-input inputText" id="inputPoints_{{i}}" placeholder="Points" [(ngModel)]="item.creditTypeValuebc" name="creditTypeValuebc_{{i}}" #creditTypeValuebc="ngModel" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" onKeyDown="if(this.value.length==3 && event.keyCode!=8) return false;" maxlength="3" min="1" required
          <input type="number" class="form-control form-control-input inputText" id="inputPoints_{{i}}" [(ngModel)]="item.itemName">
        </ion-col> -->
<!-- </ion-row> -->
<!-- </div> -->
<!-- <div class="mainTable">
    <ngx-datatable
    #myTable
    style="width: 100%;"
    class="material"
    [rows]="rows"
    [columnMode]="'force'"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="auto"
    [limit]="10"
    (select)='onSelect($event)'>

    <ngx-datatable-column name="Item" [width]=100>
      <ng-template let-row="row" ngx-datatable-cell-template>
      <div>
          {{row.itemName}}
      </div>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Date" [width]=100>
      <ng-template let-row="row" ngx-datatable-cell-template>
      <div>
          {{row.date | date:"dd-mm-yyyy"}}
      </div>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Cost" [width]=100>
      <ng-template let-row="row" ngx-datatable-cell-template>
      <div>
          {{row.cost}}
      </div>
      </ng-template>
    </ngx-datatable-column>
    </ngx-datatable> -->