.maincost {
    background: #ffffff;
    .ngx-datatable.fixed-header .datatable-header .datatable-header-inner .datatable-header-cell {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        // text-align: center;
        font-size: 14px;
        color: black;
    }
    .ngx-datatable.material {
        background: #FFF;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .header {
        background: var(--colorHeader);
        div {
            h6 {
                color: var(--colorHeadertxt);
            }
        }
    }
    .ngx-datatable.fixed-row .datatable-scroll .datatable-body-row {
        border-bottom: 0.5px solid #e8dedef0;
    }
    input[type="file"] {
        display: none;
    }
    .btnmargin {
        margin-bottom: 10px;
        margin-right: 10px;
        font-weight: 100 !important;
    }
    .removeMulti {
        float: right;
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1;
        color: #076ba1 !important;
        text-shadow: 0 1px 0 #fff;
        opacity: .5;
        background: none;
        border: none;
    }
    .reqField {
        display: inline;
        color: #ed462f;
    }
    .upload-btn-wrapper {
        position: relative;
        overflow: hidden;
        // display: inline-block;
    }
    .upload-btn-wrapper input[type=file] {
        font-size: 100px;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
    }
    .courseRewardsBtn {
        border-radius: 0;
        background: #076ba1;
        color: #fff;
        border: #076ba1;
        height: 29px;
        -webkit-transform: none !important;
        transform: none !important;
    }
    .uplodDiv {
        padding: 20px;
        width: 30%;
        float: right;
    }
    .brwsbtn {
        border-radius: 0px !important;
        height: 34px !important;
        width: 142px !important;
    }
    .marleftimg {
        margin-left: 15px;
    }
    .but {
        padding-top: 10px;
    }
    .costinputr {
        border: 1px solid rgba(0, 0, 0, 0.125);
        // text-align: center;
        padding-left: 12px;
        padding-right: 12px;
        height: 2rem;
    }
    .costinputr:focus {
        border: 1px solid rgba(0, 0, 0, 0.125);
    }
    .margin0 {
        margin: 0 !important;
    }
    .row-gap {
        // margin-bottom: 20px;
        text-align: center;
        padding: 10px;
        border-bottom: 0.5px solid #d4d1d1;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }
    .costing-container {
        // width: 70%;
        margin: 0 auto;
    }
    .costrow {
        // width: 50%;
        border-bottom: 1px solid;
        margin: 0 auto;
    }
}