<div class="widgets">
  <app-subheader [headerConfig]="header" ></app-subheader>

    <!-- <div ba-panel ba-panel-class="with-scroll">
       <section id="feature" class="section01" style="float:none; ">
        <div class="container">
            <div class="row col-md-12 mainrow" style="">
                  <div class="col-md-6 maincol" *ngFor ="let item of planData" style="">
                    <div class="element-animate mainbox" style="" (click)="gotopages(item.menuRoute)">
                        <div class="{{item.menuIcon}}"></div>
                        <div class="media custom-media">
                            <div class="media-body">
                                <h3 class="mt-0 mainh3" style="">{{item.menuName}}</h3>
                               <p class="mainp" style="">{{item.menuDescription}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       </section>
    </div> -->
    <!-- ========================================== -->

    <!-- new card -->
  <div class="mainCard">
    <ngx-parent-card [cardList]="item" *ngFor ="let item of planData" (cardClick)="gotopages(item)"></ngx-parent-card>
    <!-- <ngx-parent-card [cardList]="theme" (cardClick)="gototheme()"></ngx-parent-card>
    <ngx-parent-card [cardList]="discount" (cardClick)="gotodiscount()"></ngx-parent-card> -->
    <!-- <ngx-parent-card [cardList]="pricing" (cardClick)="gotopricing()"></ngx-parent-card> -->
  </div>

</div>
