ngx-plan{
  .pointer{
      cursor: pointer;
  }
  .trHeader{
      text-align: center;
      text-transform: uppercase;
      font-weight: 500;
      padding: 8px;
      background-color:#2574a2 !important

  }
  .btn:hover{
      transform: none;
  }
  #noMatch{
    margin: 10px;
    text-align:center;
    border-radius: 15px;
    border: 1px solid #076ba1;
    padding: 20px; 
  }

  /* Center the loader */
  #loader {
    position: absolute;
    left: 50%;
    top: 70%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #076ba1;
    border-radius: 50%;
    border-top: 16px solid #ffffff;
    /* border: 16px solid #f3f3f3; Light grey */
    /* border-top: 16px solid #3498db; Blue */
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }

  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  /* Add animation to "page content" */
  .animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
  }

  @-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
  }

  @keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
  }

  .mid{
    vertical-align: middle;
    line-height: 21px;
    padding-right:8px;
  }
  /*@import "../../theme/sass/conf/conf";*/

  :host /deep/.pie-charts {
    color: #fff;

    .pie-chart-item-container {
      position: relative;
      padding: 0 15px;
      float: left;
      box-sizing: border-box;

      .card {
        height: 114px;
      }
    }

    @media screen and (min-width: 1325px) {
      .pie-chart-item-container {
        max-width: 25%;
        flex: 0 0 25%
      }
    }
    @media screen and (min-width: 700px) and (max-width: 1325px)  {
      .pie-chart-item-container {
        max-width: 50%;
        flex: 0 0 50%
      }
    }
    @media screen and (max-width: 700px)  {
      .pie-chart-item-container {
        max-width: 100%;
        flex: 0 0 100%
      }
    }

    .pie-chart-item {
      position: relative;
      .chart-icon {
        position: absolute;
        right: 0;
        top: 3px;
      }
    }
    @media screen and
    (min-width: 1325px) and (max-width: 1650px),
    (min-width: 700px) and (max-width: 830px),
    (max-width: 400px) {
      .chart-icon {
        display: none;
      }
    }

    .chart {
      position: relative;
      display: inline-block;
      width: 84px;
      height: 84px;
      text-align: center;
      float: left;
    }
    .chart canvas {
      position: absolute;
      top: 0;
      left: 0;
    }
    .percent {
      display: inline-block;
      line-height: 84px;
      z-index: 2;
      font-size: 16px;
    }
    .percent:after {
      content: '%';
      margin-left: 0.1em;
      font-size: .8em;
    }
    .description {
      display: inline-block;
      padding: 20px 0 0 20px;
      font-size: 18px;
      opacity: 0.9;
      .description-stats {
        padding-top: 8px;
        font-size: 24px;
      }
    }
    .angular {
      margin-top: 100px;
    }
    .angular .chart {
      margin-top: 0;
    }
  }
  .cloud{
    font-size: 99px;
      width: 86px;
      height: 86px;
      margin: 21px auto 21px auto;
      color: #076ba1;
  }

  .mainrow
  {
    margin:25px 0 0 0;
  }
  .maincol
  {
    padding: 10px;
    cursor: pointer;
    border:none;
  }
  .mainbox
  {
    border: 2px solid #ffffff;
    box-shadow: 2px 4px 8px #dedede;
    border-radius:10px;
    background-color:#ffffff;
    cursor: pointer;
    height: 240px;outline-style: none;
    display: grid;
  }
  .mainh3
  {
    text-align:center; 
    color:#076ba1;
    cursor: pointer;
  }
  .mainp
  {
    text-align:center;
    font-weight:300;
    cursor: pointer;
  }
}