.course_main_container_div{

.pointer{
    cursor: pointer;
}


.mid{
  vertical-align: middle;
  line-height: 21px;
  padding-right:8px;
}

.cloud{
  font-size: 99px;
    width: 86px;
    height: 86px;
    margin: 21px auto 21px auto;
    color: #076ba1;
}

.CourseSection{
  float:none;
}

.CourseDiv2{
  margin-top: 60px
}

.CourseDiv3{
  padding: 10px;
  cursor: pointer;
  border:none
}

.CourseDiv4{
  border:2px solid #e2f2f9;
  box-shadow: 2px 4px #e2f2f9; 
  border-radius:10px;
  background-color:#ffffff;
  cursor: pointer;
  height: 240px;
  outline-style: none;
}

.cursorPointer{
  cursor: pointer;
}

.textCenter{
  text-align:center;
}

.padTop10{
  padding: 10px;
}

.marginTop0{
  margin-top:0px;
}

.h3Color{
  color:#076ba1;
}

.pFontWeight{
  font-weight:300;
}
.toprow{
  align-items: center;
}

}