<div class="course_main_container_div">

    <div class="widgets">
        <div class="col-md-12 toprow sticky-top">
        <div class="col-md-6">
          <h3 class="h3lable">Courses</h3>
        </div>
        <div class="col-md-6 text-right">
         <button type="button" class="back_button" (click)="back()" >Back</button> 
         <!-- <button  placement="top" type="button" class="constantbtn"
                tooltip="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
          Simple demo
        </button> -->
        </div>
        </div>
          <div ba-panel ba-panel-class="with-scroll">
             <section id="feature" class="CourseSection" style="">
              <div class="container CourseDiv1">
                  <div class="row col-md-12 CourseDiv2" style="">
                      <div class="col-md-6 CourseDiv3" style="">
                          <div class="element-animate CourseDiv4" style="" (click)="gotocategory()">
                              <!-- col-lg-4 mb-4 -->
                              <div class="ion-ios-cloud cloud"></div>
                              <div class="media custom-media cursorPointer" style="">
                                  <!-- <img class="mr-3" width="30" src="img/img_1.jpg" alt="Generic placeholder image"> -->
                                  <div class="media-body cursorPointer" style="">
                                      <h3 class="mt-0 textCenter cursorPointer h3Color" style=" ">CATEGORY</h3>
                                      <!-- <p class="post-meta">May 12, 2018, <a href="#">Children Ministries</a></p> -->
                                     <p class="textCenter cursorPointer pFontWeight" style=""> Get all the information related to your users here.</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                       <div class="col-md-6 padTop10" style="">
                          <div class="element-animate CourseDiv4 marginTop0" style="" (click)="gotocontent()">
                              <!-- col-lg-4 mb-4 -->
                              <div class="ion-ios-cloud cloud"></div>
                              <div class="media custom-media">
                                  <!-- <img class="mr-3" width="30" src="img/img_1.jpg" alt="Generic placeholder image"> -->
                                  <div class="media-body">
                                      <h3 class="mt-0 textCenter h3Color" style="">CONTENT</h3>
                                     
                                      <!-- <p class="post-meta">May 12, 2018, <a href="#">Children Ministries</a></p> -->
                                      <p class="textCenter pFontWeight" style="">Get all the information related to your users here</p>
                                  </div>
                              </div>
                          </div>
                      </div>
      
                    
                  </div>
               <!--    <div class="row col-md-12">
                     
                        <div class="col-md-6" style="padding: 10px;cursor: pointer;">
                          <div class="element-animate" style="border:2px solid #e2f2f9;box-shadow: 2px 4px #e2f2f9; border-radius:10px;background-color:#ffffff; margin-top:60px;height: 240px;cursor: pointer;">
                             
                              <div class="ion-ios-cloud" style="font-size:60px; width:50px; height: 50px; margin: 18px auto;color:#076ba1;"></div>
                              <div class="media custom-media">
                                 
                                  <div class="media-body">
                                      <h3 class="mt-0" style="text-align:center; color:#076ba1;">USERS</h3>
                                    
                                      <p style="text-align:center; font-weight:300;">Get all the information related to your users here</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-6" style="padding: 10px;">
                          <div class="element-animate" style="border:2px solid #e2f2f9;box-shadow: 2px 4px #e2f2f9; border-radius:10px;background-color:#ffffff; margin-top:0px;height: 240px;cursor: pointer;">
                              
                              <div class="ion-ios-cloud" style="font-size:60px; width:50px; height: 50px; margin: 18px auto;color:#076ba1;"></div>
                              <div class="media custom-media" ng-click="locations()">
                                  
                                  <div class="media-body">
                                      <h3 class="mt-0" style="text-align:center; color:#076ba1;">USERS</h3>
                                      
                                      <p style="text-align:center; font-weight:300;">Get all the information related to your users here</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div> -->            
              </div>
      
      </section>
      </div>
      
      </div>
</div>

