<div class="coaching_calls_component">
    <!-- <div class="toprow col-md-12 bottom15 sticky-top">
        <div class="col-md-9 teamSubdiv2" >
          <h3 class="heding1">Calls</h3>
        </div>
        <div class="col-md-3 text-right " style="margin-top:7px">
          <button class="constantbtn-button-blue-left" (click)="gotoBack()">Back</button>   
        </div>
        
    </div> -->
    <div class="top_header_container">
        <div class="top_header_div_sticky content_width">
          <div class="page_title">
            <!-- <h4 *ngIf="addAction">Add Participant</h4> -->
            <h4 >Calls</h4>
          </div>
  
          <div class="buttons_div">
              <button class="back_button" (click)="gotoBack()">Back</button>   
          </div>
        </div>
    </div>
    <div class="mainTable">
        <ngx-datatable
          #myTable
          style="width: 100%"
          class="material"
          [rows]="rows"
          [columnMode]="'force'"
          [headerHeight]="50"
          [footerHeight]="50"
          [rowHeight]="50"
          [scrollbarV]="true"
          [limit]="8"
          (select)='onSelect($event)'
          >
        
          <ngx-datatable-column name="PARTICIPANT NAME">
            <ng-template let-value="value" ngx-datatable-cell-template>
                <div (click)="gotouserprofile()">
                    {{value}}
                </div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="DATE">
            <ng-template let-value="value" ngx-datatable-cell-template>
                <div (click)="gotouserprofile()">
                    {{value}}
                </div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="BUSINESS">
            <ng-template let-value="value" ngx-datatable-cell-template>
                <div (click)="gotouserprofile()">
                    {{value}}
                </div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="DEPARTMENT">
            <ng-template let-value="value" ngx-datatable-cell-template>
                <div (click)="gotouserprofile()">
                    {{value}}
                </div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="MANAGER">
            <ng-template let-value="value" ngx-datatable-cell-template>
                <div (click)="gotouserprofile()">
                    {{value}}
                </div>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
        </div>


</div>

