<!-- <div class="floterightm mar12 col-md-12">

</div>  -->

<div class="engage_pole_container" *ngIf="!nodata">
    <!-- <div class="col-md-12 container"> -->
    <!-- <div class=" text-right">
        <button type="button" class="constantbtn-button-blue-left" (click)="addNotification()">Add Notification</button>
    </div> -->
    <!-- <div class="mb-2 container">
        <input type="text" class="col-md-12 searchInput" (keyup)="searchnotification($event)" [(ngModel)]="searchvalue.value" placeholder="Search" />
        <i class="fa fa-remove searchRemove" (click)="clearesearch()"></i>
    </div> -->

    <div class="tableCompo">
        <ngx-enrol-table [pagination]="true" (clickOnicon)="onSelect($event)" [label]="notificationLabel" [addPointer]="true" [tableData]="rows" (clickOnbutton)="visibilityTableRow($event)"></ngx-enrol-table>
    </div>
</div>
<ngx-no-data *ngIf="nodata" [config]="noDataVal"></ngx-no-data>

<!-- <div>

            <ngx-datatable #tablenoti style="width:100%" class="material" [columns]="columns" [rows]=rows [headerHeight]="50" [footerHeight]="50" [rowHeight]="50" [limit]="10" [width]="30" [columnMode]="'force'" [selected]="selected" [selectAllRowsOnPage]="false"
                (activate)="onSelect($event)"> -->
<!-- <ngx-datatable
        style="width:100%"
        class="material"
        [rows]='engageData'
        [headerHeight]="50"
        [footerHeight]="50"
        [rowHeight]="50"
        [limit]="10"
        [columnMode]="'force'"
        [selected]="selected"
        [selectionType]="'checkbox'"
        [selectAllRowsOnPage]="false"
        [displayCheck]="displayCheck"
        (select)='onselect($event)'> -->
<!-- <ngx-datatable-column
        [width]="30"
        [sortable]="false"
        [canAutoResize]="false"
        [draggable]="false"
        [resizeable]="false">
        </ngx-datatable-column>
        <ngx-datatable-column prop="name" name="Name" >
            <ng-template let-value="value" ngx-datatable-cell-template>
            {{value}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="description" name="Description">
                <ng-template let-value="value" ngx-datatable-cell-template>
                {{value}}
                </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="method" name="Method">
                <ng-template let-value="value" ngx-datatable-cell-template>
                {{value}}
                </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="details" name="Detail">
                <ng-template let-value="value" ngx-datatable-cell-template>
                {{value}}
                </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="modes" name="Modes">
                <ng-template let-value="value" ngx-datatable-cell-template>
                {{value}}
                </ng-template>
        </ngx-datatable-column> -->

<!--     <ngx-datatable-column
                [width]="30"
                [sortable]="false"
                [canAutoResize]="false"
                [draggable]="false"
                [resizeable]="false">
                <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                    <a class="deleteUserIcon"
                    title="Delete User">
                    <i class="fa fa-trash"></i>
                    </a>
                </ng-template>
                </ngx-datatable-column>
       </ngx-datatable>
    </div>
  </div> -->
<!-- Engage popup model -->

<!-- <div class="addSelfBackdrop2" *ngIf="addEngagePopup == true">
       <div class="addSelfDemoModal2" >
         <div class="modal-header">
             <p>Add Engagement</p>
            <button class="close" aria-label="Close" (click)="closeEngageModal()">
               <span aria-hidden="true">&times;</span>
             </button>
         </div>

         <div class="modal-body">
           <form class="forms-sample col-md-12" >
             <div class="row">

               <div class="form-group col-md-6">
                 <label class="left_space">Name</label>
                 <input type="text" class="form-control form-control-input"  placeholder="Enter name" name="Name" required>
               </div>

               <div class="form-group col-md-6">
                 <label class="left_space">Decription</label>
                 <input type="text" class="form-control form-control-input" placeholder="Enter decription" name="Name" required>
               </div>

             </div>



             <div class="row">

                 <div class="form-group col-md-12">
                     <label class="left_space">Modes</label><br>
                     <label class="checkbox-inline">
                       <input type="checkbox" value="" name="modes">SMS
                     </label>
                     <label class="checkbox-inline">
                       <input type="checkbox" value="" name="modes">Email
                     </label>
                     <label class="checkbox-inline">
                       <input type="checkbox" value="" name="modes">Notifications
                     </label>
                 </div>
             </div>

             <div class="row">
               <div class="form-group col-md-12">
                 <label class="left_space">Methods</label>
                 <select class="form-control input-lg" [(ngModel)]="selectMethod" name="dropdown" (click)= "onChange(selectMethod)"  style="height:34px !important;">
                   <option value="Date">Date</option>
                   <option value="Event">Event</option>
                 </select>


                 <div [hidden]="selectMethod != 'Date'">
                   <div class="row">
                     <label class="left_space">Date</label>
                     <input type="date"  class="form-control form-control-input ">
                   </div>
                 </div>

                 <div [hidden]="selectMethod != 'Event'">
                   <div class="row">
                     <label class="left_space">Event</label>
                     <select class="form-control " name="dropdown2" [(ngModel)]="enterDays" (change)="onChange(enterDays)"  style="height:34px !important;">
                       <option value="">On course enrolment</option>
                       <option value="nDays" >n days before completion</option>
                       <option value="">On Course completion</option>
                     </select>

                   </div>
                 </div>

                 <div [hidden]="enterDays !='nDays' || selectMethod == 'Date' " class="daysInputNo">
                   <div class="row">
                   <label for="enterDays">Enter Days</label>
                   <input type="number" class="form-control form-control-input " id="enterDays" min="0" max="365">
                   </div>
                 </div>
               </div>
             </div>

           </form>
         </div>

         <div class="modal-footer" >
             <button type="button" class="btn-default floteright" (click)= "closeEngageModal()">Save</button>
         </div>
       </div>
    </div> -->
<ngx-sidebar-form *ngIf="addEngagePopup" [sidebarTitle]="notiTitle" [buttonName]="btnName" (saveBtn)="submitSurveyNotification(SurveyNotification, notiForm)" [saveDisabled]="!notiForm.valid" (outside)="closeEngageModal()" (closeBtn)="closeEngageModal()">
    <!-- 
<div class="addNotiEngBackdrop2" *ngIf="addEngagePopup == true">
    <div class="addNotiEngBackdropModal2">
        <div class="modal-header">
            <p *ngIf="addFlag">Add Notifications</p>
            <p *ngIf="!addFlag">Edit Notifications</p>
            <button class="close " aria-label="Close" (click)="closeEngageModal()">
          <span aria-hidden="true">&times;</span>
        </button>
        </div> -->
    <div class="bgHide" id="Hide" (click)="closeNav()" *ngIf="init"></div>
    <ngx-sidemenu-drower *ngIf="init">
        <div>
            <ngx-drag-chips-component [inputTags]="tagsArray" [vertical]="true"></ngx-drag-chips-component>
        </div>
    </ngx-sidemenu-drower>
    <div class="modal-body">
        <!-- <ngx-drag-chips-component [inputTags]="tagsArray" *ngIf="init"></ngx-drag-chips-component> -->
        <form #notiForm="ngForm">
            <div class="row m-0">
                <div class="form-group col-md-12">
                    <label class="side-form-label">{{helpContent?.add_edit_poll?.notification_name?.label}}<sup>&#x2731;</sup>
            <app-info-tooltip [description]="helpContent?.add_edit_poll?.notification_name?.labelHelpContent">
            </app-info-tooltip>
          </label>
                    <!-- <label class="left_space">
                {{helpContent?.add_edit_poll?.notification_name.label}}
                <sup class="required_mark">*</sup>
                <div class="help-tooltip">
                  <i
                    class="fa fa-info-circle tooltip-hover-info-label-round"
                    aria-hidden="true"
                  ></i>
                  <div class="help-tooltip-position-bottom">
                    <p>
                      {{helpContent?.add_edit_poll?.notification_name?.labelHelpContent}}
                    </p>
                    <i></i>
                  </div>
                </div>
              </label> -->
                    <input type="text" class="form-control commonInput" [(ngModel)]="SurveyNotification.name" placeholder="Enter name" name="name" #name="ngModel" minlength="2" maxlength="50" required />
                    <!-- <div *ngIf="name.errors && (name.dirty || name.touched)" class="alert alert-danger">
                    <div [hidden]="!name.errors.required">Name is required.</div>
                    <div [hidden]="!name.errors.minlength">Minimum 6 and maximum 45 character in
                            length.</div>
                </div> -->

                    <div *ngIf="name.errors && (name.dirty || name.touched)">
                        <!-- <small class="form-text text-muted" [hidden]="!name.errors.required">Name is required.</small
                >
                <small
                  class="form-text text-muted"
                  [hidden]="!name.errors.minlength"
                  >Minimum 2 characters required</small
                > -->
                        <small class="invalid-msg" *ngIf="name.errors.required">Name is required.</small>
                        <small class="invalid-msg" *ngIf="name.errors.minlength">Minimum 2 characters required.</small>
                    </div>
                </div>

                <div class="form-group col-md-12">
                    <label class="side-form-label">{{helpContent?.add_edit_poll?.notification_desc?.label}}
                      <!-- <sup>&#x2731;</sup> -->
            <app-info-tooltip [description]="helpContent?.add_edit_poll?.notification_desc?.labelHelpContent">
            </app-info-tooltip>
          </label>
                    <!-- <label class="left_space">
                {{helpContent?.add_edit_poll?.notification_desc.label}}
                <sup class="required_mark">*</sup>
                <div class="help-tooltip">
                  <i
                    class="fa fa-info-circle tooltip-hover-info-label-round"
                    aria-hidden="true"
                  ></i>
                  <div class="help-tooltip-position-right">
                    <p>
                      {{helpContent?.add_edit_poll?.notification_desc?.labelHelpContent}}
                    </p>
                    <i></i>
                  </div>
                </div>
              </label> -->
                    <textarea type="text" class="form-control textar commonTextarea" [(ngModel)]="SurveyNotification.desc" placeholder="Min 20 and max 500 characters." name="desc" #desc="ngModel" minlength="20" maxlength="500"></textarea>
                    <!-- <div *ngIf="desc.errors && (desc.dirty || desc.touched)" class="alert alert-danger">
                      <div [hidden]="!desc.errors.required">Description is required.</div>
                      <div [hidden]="!desc.errors.minlength">Minimum 20 and maximum 250 character in
                              length.</div>
                  </div> -->

                    <div *ngIf="desc.errors && (desc.dirty || desc.touched)">
                        <!-- <small
                  class="form-text text-muted"
                  [hidden]="!desc.errors.required"
                  >Description is required.</small
                >
                <small
                  class="form-text text-muted"
                  [hidden]="!desc.errors.minlength"
                  >Minimum 20 characters required</small
                > -->
                        <!-- <small class="invalid-msg" *ngIf="desc.errors.required">Description is required.</small> -->
                        <small class="invalid-msg" *ngIf="desc.errors.minlength">Minimum 20 and maximum 250 characters characters
              required.</small>
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <label for="visibility" class="side-form-label">{{helpContent?.add_edit_poll?.notification_Visible.label}}<sup>&#x2731;</sup>
            <app-info-tooltip  [description]="helpContent?.add_edit_poll?.notification_Visible.labelHelpContent"></app-info-tooltip>
  
          </label>
                    <select [(ngModel)]="SurveyNotification.visible" [ngModelOptions]="{standalone: true}" class="commonSelect custom-select" required>
            <option value="" selected disabled>Select Visible</option>
            <option *ngFor="let item of visibleDropDownData" [value]=item.id>{{item.name}}</option>
          </select>
                </div>
            </div>

            <!-- <label class="left_space">Methods<h3 class="reqField">*</h3></label>
                 <select class="form-control input select_field_height" [(ngModel)]="selectMethod" name="dropdown" (click)= "onChange(selectMethod)"  style="">
                   <option value="Date" disabled>Date</option>
                   <option value="Event" selected>Event</option>
                 </select> -->

            <!-- <div [hidden]="selectMethod != 'Date'">
                   <div class="row">
                      <div class="col-xs-12 col-12 col-sm-4 form-group padding0" >
                        <label class="left_space">Date</label>
                        <input type="text" class="form-control datePickerInput" [minDate]="minDate" [maxDate]="maxDate"
                      #dp="bsDatepicker" bsDatepicker [(bsValue)]="myDateValue" [bsConfig]="bsConfig" placement="top">
                      </div>
                      <div class="col-xs-12 col-12 col-sm-8 form-group calenderBtnDiv" style="">
                        <input class="btn btn-success" type="button" (click)="dp.show()" value="Open">
                        <input class="btn btn-success" type="button" (click)="dp.hide()" value="Close">
                        <button class="openDatepicker" (click)="dp.toggle()" [attr.aria-expanded]="dp.isOpen">
                            <i class="ion-calendar calenderIcon" ></i>
                        </button>
                      </div>
                   </div>
                 </div> -->
            <!-- [hidden]="selectMethod != 'Event'"  -->
            <div>
                <div class="form-group col-md-12">
                    <label class="side-form-label">{{helpContent?.add_edit_poll?.notification_Event?.label}}<sup>&#x2731;</sup>
            <app-info-tooltip [description]="helpContent?.add_edit_poll?.notification_Event?.labelHelpContent">
            </app-info-tooltip>
          </label>
                    <!-- <label class="left_space">
                {{helpContent?.add_edit_poll?.notification_Event.label}}
                <sup class="required_mark">*</sup>
                <div class="help-tooltip">
                  <i
                    class="fa fa-info-circle tooltip-hover-info-label-round"
                    aria-hidden="true"
                  ></i>
                  <div class="help-tooltip-position-right">
                    <p>
                      {{helpContent?.add_edit_poll?.notification_Event?.labelHelpContent}}
                    </p>
                    <i></i>
                  </div>
                </div>
              </label> -->
                    <select class="custom-select commonSelect" #ent="ngModel" required name="dropdown2" [(ngModel)]="SurveyNotification.event" name="event" (change)="onChange2(SurveyNotification.event)">
            <option value="2" selected="selected">Select Events</option>
            <option *ngFor="let temp of eventsDrop" value="{{temp.notEventId}}">{{temp.notEvent}}
            </option>
          </select>
                    <div *ngIf="ent.errors && (ent.dirty || ent.touched)">
                        <small class="invalid-msg" [hidden]="!ent.errors.required">Event is required.</small>
                    </div>
                </div>
            </div>

            <!-- <div [hidden]="enterDays !='nDays' || selectMethod == 'Date' " class="daysInputNo">
                   <div class="row enterDaysDiv">
                   <label for="enterDays">Enter Days</label>
                   <input type="number" class="form-control form-control-input " id="enterDays" min="0" max="365">
                   </div>
                 </div> -->

            <div>
                <div class="form-group col-md-12" [hidden]="SurveyNotification.event == ''">
                    <!-- <label class="left_space">Modes</label><br>

                    <label class="sqrCheckBoxengage col-md-4">
                     <input id="sms" type="checkbox">
                     <label class="sqrCheckBoxengageLabel" for = "sms"></label>
                       SMS
                   </label>

                   <label class="sqrCheckBoxengage col-md-4">
                     <input id="email" type="checkbox">
                     <label class="sqrCheckBoxengageLabel " for="email"></label>
                      Email
                   </label>

                   <label class="sqrCheckBoxengage col-md-4">
                     <input id="notify" type="checkbox">
                     <label class="sqrCheckBoxengageLabel" for="notify"></label>
                       Notification
                   </label> -->
                    <!-- <div class="form-group">
                    <div class="col-sm-12 mardis">
                      <div class="col-sm-3">
                        <label class="container1">Text Sms
                          <input type="checkbox" id="lnmsg" name="lnmsg" value="true" [(ngModel)]="SurveyNotification.lnmsg">
                          <span class="checkmark1"></span>
                        </label>
                      </div>
                      <div class="col-sm-6" *ngIf="SurveyNotification.lnmsg == true">
                        <select [(ngModel)]="SurveyNotification.lnmsgtemp" id="exampleInputAccRole3"
                          class="form-control select_field_height" name="lnmsgtemp" (change)="onChangeDropDownSms($event)">
                          <option value="" selected="selected" disabled>Select Template</option>
                          <option *ngFor="let temp of templatesms" value={{temp.id}}>{{temp.name}}
                          </option>
                        </select>
                        <div class="" *ngIf="SurveyNotification.reviewTextSms == true">
                          <label class="space_left">Edit Template</label>
                          <input type="text" class="form-control inputText" placeholder="Edit Template"
                            name="Edit-Template-Sms" [(ngModel)]="SurveyNotification.editSmsTemplateData" required>
                        </div>
                      </div>
                      <div class="col-sm-3" *ngIf="SurveyNotification.reviewTextSms == true && SurveyNotification.lnmsg == true">
                        <button class="constantbtn" (click)="getTempData(1,SurveyNotification.lnmsgtemp)">Preview</button>
                      </div>
                    </div>
                    <span></span>
                  </div> -->
                    <div class="text-notification-text form-group" *ngIf="notiData[0].flag==true">
                        <div class="edit-notification-grid">
                            <div>
                                <label class="container1">
                                  <input type="checkbox" id="lnmsg" name="lnmsg" value="true" [(ngModel)]="SurveyNotification.lnmsg" (ngModelChange)="smsValidCheck($event)" />
                                  <span class="checkmark1"></span>
                                <label class=" side-form-label labelalign">{{helpContent?.add_edit_poll?.text_Sms?.label}}
                                <app-info-tooltip  [description]="helpContent?.add_edit_poll?.text_Sms?.labelHelpContent"></app-info-tooltip>
                                </label>
                                <!-- <label class="container1">
                  {{helpContent?.add_edit_poll?.text_Sms.label}}
                  <sup class="required_mark">*</sup>
                  <div class="help-tooltip">
                    <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                    <div class="help-tooltip-position-right">
                      <p>
                        {{helpContent?.add_edit_poll?.text_Sms?.labelHelpContent}}
                      </p>
                      <i></i>
                    </div>
                  </div>
                </label> -->

                                </label>
                            </div>
                            <div *ngIf="SurveyNotification.lnmsg == true">
                                <select [(ngModel)]="SurveyNotification.lnmsgtemp" id="exampleInputAccRole3" class="custom-select commonSelect" name="lnmsgtemp" (change)="onChangeDropDownSms($event)">
                  <option value="" selected="selected" disabled>{{notiData[0].selectplace}}
                  </option>
                  <option class="caps" *ngFor="let temp of templatesms" value="{{temp.id}}">{{temp.name}}
                  </option>
                </select>
                            </div>
                            <!-- <div class="preview-button"  *ngIf="SurveyNotification.reviewTextSms == true && SurveyNotification.lnmsg == true">
                              <button class="constantbtn-button-blue-left" (click)="getTempData(1,SurveyNotification.lnmsgtemp)">Preview</button>
                          </div> -->
                        </div>
                        <div class="content-boxes" [hidden]="!(SurveyNotification.reviewTextSms == true && SurveyNotification.lnmsg == true)">
                            <label class="space_left side-form-label">{{notiData[0].Edittemp}}</label>
                            <textarea type="text" class="form-control textar commonTextarea" placeholder="{{notiData[0].Edittemp}}" name="Edit-Template-Sms" [(ngModel)]="SurveyNotification.editSmsTemplateData" #content="ngModel" [required]="SurveyNotification.lnmsg" [minlength]="smsMinText"
                                [maxlength]="smsMaxText"></textarea>
                            <div class="text-right mt-2 mb-2 side-form-label">
                                Character count: {{SurveyNotification.editSmsTemplateData?.length}} / 140
                            </div>
                            <div *ngIf="content.invalid || content.touched">
                                <small class="invalid-msg" *ngIf="content.hasError('required')">Template is required.</small>
                                <small class="invalid-msg" *ngIf="content.hasError('minlength')">Minimum 20 characters required.</small>
                                <small class="invalid-msg" *ngIf="content.hasError('maxlength')">Enter Maximum 140 characters only.</small>
                                <!-- <div [hidden]="!content.hasError('required')">
                                    Content is required
                                </div>
                                <div [hidden]="!content.hasError('minlength')">
                                    Minimum 20 required.
                                </div>
                                <div [hidden]="!content.hasError('maxlength')">
                                    Enter Maximum 140 characters only.
                                </div> -->
                            </div>
                        </div>
                    </div>

                    <hr>

                    <!-- <div class="form-group">
                      <div class="col-sm-12 mardis">
                        <div class="col-sm-3">
                          <label class="container1">App Notification
                            <input type="checkbox" id="lnnot"
                              name="lnnot" value="true"
                              [(ngModel)]="SurveyNotification.lnnot">
                            <span class="checkmark1"></span>
                          </label>
                        </div>
                        <div class="col-sm-6" *ngIf="SurveyNotification.lnnot == true">
                          <select [(ngModel)]="SurveyNotification.lnnottemp"
                            id="exampleInputAccRole2"
                            class="form-control select_field_height" name="lnnottemp" (change)="onChangeDropDownNot($event)">
                            <option value="" selected="selected" disabled>Select Template</option>
                            <option *ngFor="let temp of templatenot" value={{temp.id}}>{{temp.name}}
                            </option>
                          </select>
                          <div class="" *ngIf="SurveyNotification.reviewTextNot == true">
                            <label class="space_left">Edit Template</label>
                            <input type="text" class="form-control inputText" placeholder="Edit Template"
                              name="Edit-Template-Not" [(ngModel)]="SurveyNotification.editNotTemplateData" required>

                          </div>
                        </div>
                        <div class="col-sm-3" *ngIf="SurveyNotification.reviewTextNot == true && SurveyNotification.lnnot == true">
                          <button class="constantbtn" (click)="getTempData(3,SurveyNotification.lnnottemp)">Preview</button>
                        </div>
                      </div>
                      <span></span>
                  </div> -->

                    <div class="text-notification-text form-group" *ngIf="notiData[1].flag==true">
                        <div class="edit-notification-grid">
                            <div>
                                <label class="container1">
                                <input type="checkbox" id="lnnot" name="lnnot" value="true" [(ngModel)]="SurveyNotification.lnnot" />
                                <span class="checkmark1"></span>
                                <label class="side-form-label labelalign">{{helpContent?.add_edit_poll?.app_noti?.label}}
                                <app-info-tooltip  [description]="helpContent?.add_edit_poll?.app_noti?.labelHelpContent"></app-info-tooltip>
                                </label>
                                <!-- <label class="container1">
                  {{helpContent?.add_edit_poll?.app_noti.label}}
                  <sup class="required_mark">*</sup>
                  <div class="help-tooltip">
                    <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                    <div class="help-tooltip-position-right">
                      <p>
                        {{helpContent?.add_edit_poll?.app_noti?.labelHelpContent}}
                      </p>
                      <i></i>
                    </div>
                  </div>
                </label> -->

                                </label>
                            </div>
                            <div *ngIf="SurveyNotification.lnnot == true">
                                <select [(ngModel)]="SurveyNotification.lnnottemp" id="exampleInputAccRole2" class="custom-select commonSelect" name="lnnottemp" (change)="onChangeDropDownNot($event)">
                  <option value="" selected="selected" disabled>{{notiData[1].selectplace}}</option>
                  <option class="caps" *ngFor="let temp of templatenot" value="{{temp.id}}">{{temp.name}}
                  </option>
                </select>
                            </div>
                            <!-- <div class="preview-button"  *ngIf="SurveyNotification.reviewTextNot == true && SurveyNotification.lnnot == true">
                              <button class="constantbtn-button-blue-left" (click)="getTempData(3,SurveyNotification.lnnottemp)">Preview</button>
                          </div> -->
                        </div>
                        <div class="content-boxes" [hidden]="!(SurveyNotification.reviewTextNot == true && SurveyNotification.lnnot == true)">
                            <label class="space_left side-form-label">{{notiData[1].Edittemp}}</label>
                            <textarea type="text" class="form-control textar commonTextarea" placeholder="{{notiData[1].Edittemp}}" name="Edit-Template-Not" #noti="ngModel" minlength="2" maxlength="140" [(ngModel)]="SurveyNotification.editNotTemplateData" [required]="SurveyNotification.lnnot"></textarea>
                            <div *ngIf="noti.invalid && noti.touched||noti.dirty">
                                <small class="invalid-msg" *ngIf="noti.hasError('required')">Template is required.</small>
                                <small class="invalid-msg" *ngIf="noti.hasError('minlength')">Minimum 2 characters required.</small>
                                <small class="invalid-msg" *ngIf="noti.hasError('maxlength')">Enter Maximum 140 characters only.</small>
                            </div>
                        </div>
                    </div>

                    <hr>

                    <!-- <div class="form-group">
                      <div class="col-sm-12 mardis">
                        <div class="col-sm-3">
                          <label class="container1">	Email
                            <input type="checkbox" id="lnemail"
                              name="lnemail" value="true"
                              [(ngModel)]="SurveyNotification.lnemail">
                            <span class="checkmark1"></span>
                          </label>
                        </div>
                        <div class="col-sm-6" *ngIf="SurveyNotification.lnemail == true">
                          <select [(ngModel)]="SurveyNotification.lnemailTemp"
                            id="exampleInputAccRole1"
                            class="form-control select_field_height" name="lnemailTemp" (change)="onChangeDropDownEmail($event)">
                            <option value="" selected="selected" disabled>Select Template</option>
                            <option *ngFor="let temp of templateemail" value={{temp.id}}>
                              {{temp.name}}</option>
                          </select>
                          <div class="" *ngIf="SurveyNotification.reviewTextEmail == true">
                            <label class="space_left">Edit Template</label>
                            <input type="text" class="form-control inputText" placeholder="Edit Template" name="Edit-Template-Email"
                              [(ngModel)]="SurveyNotification.editEmailTemplateData" required>
                              <quill-editor id="cCont" [(ngModel)]="SurveyNotification.editEmailTemplateData" name="Edit-Template-Email"  [ngModelOptions]="{standalone: true}"
                              [options]="editorOptions" pattern=".{20,500}" required ngDefaultControl></quill-editor>

                          </div>
                        </div>
                        <div class="col-sm-3" *ngIf="SurveyNotification.lnemail == true && SurveyNotification.reviewTextEmail == true">
                          <button class="constantbtn" (click)="getTempData(2,SurveyNotification.lnemailTemp)">Preview</button>
                        </div>
                      </div>
                      <span></span>
                  </div> -->

                    <div class="text-notification-text form-group" *ngIf="notiData[2].flag==true">
                        <div class="edit-notification-grid">
                            <div>
                                <!-- <label class="container1">
                  {{helpContent?.add_edit_poll?.email.label}}
                  <sup class="required_mark">*</sup>
                  <div class="help-tooltip">
                    <i class="fa fa-info-circle tooltip-hover-info-label-round" aria-hidden="true"></i>
                    <div class="help-tooltip-position-right">
                      <p>
                        {{helpContent?.add_edit_poll?.email?.labelHelpContent}}
                      </p>
                      <i></i>
                    </div>
                  </div>
                </label> -->
                                <label class="container1">
                                  <input type="checkbox" id="lnemail" name="lnemail" value="true" [(ngModel)]="SurveyNotification.lnemail" />
                                  <span class="checkmark1"></span>
                                <label class="side-form-label labelalign">{{helpContent?.add_edit_poll?.email?.label}}
                  <app-info-tooltip  [description]="helpContent?.add_edit_poll?.email?.labelHelpContent"></app-info-tooltip>
                  </label>

                                </label>
                            </div>
                            <div *ngIf="SurveyNotification.lnemail == true">
                                <select [(ngModel)]="SurveyNotification.lnemailTemp" id="exampleInputAccRole1" class="custom-select commonSelect" name="lnemailTemp" (change)="onChangeDropDownEmail($event)">
                  <option value="" selected="selected" disabled>{{notiData[2].selectplace}}</option>
                  <option class="caps" *ngFor="let temp of templateemail" value="{{temp.id}}">
                    {{temp.name}}</option>
                </select>
                            </div>
                            <!-- <div class="preview-button" *ngIf="SurveyNotification.lnemail == true && SurveyNotification.reviewTextEmail == true">
                              <button class="constantbtn-button-blue-left" (click)="getTempData(2,SurveyNotification.lnemailTemp)">Preview</button>
                          </div> -->
                        </div>
                        <div class="content-boxes" [hidden]="!(SurveyNotification.lnemail == true && SurveyNotification.reviewTextEmail == true)">
                            <label class="space_left side-form-label">{{notiData[2].Edittemp}}</label>
                            <input type="text" class="form-control commonInput" [(ngModel)]="SurveyNotification.emailSubjectData" placeholder="Maximum 50 characters" name="emailSubjectData" />
                            <!-- <textarea type="text" class="form-control engage-" placeholder="Edit Template"
                          name="Edit-Template-Email" [(ngModel)]="SurveyNotification.editEmailTemplateData"
                          required></textarea> -->
                            <!-- <quill-editor id="cCont" [(ngModel)]="SurveyNotification.editEmailTemplateData" name="Edit-Template-Email"  [ngModelOptions]="{standalone: true}"
                            [options]="editorOptions" pattern=".{20,500}" required ngDefaultControl></quill-editor> -->
                        </div>
                        <div class="content-boxes" [hidden]="!(SurveyNotification.lnemail == true && SurveyNotification.reviewTextEmail == true)">
                            <label class="space_left side-form-label">{{notiData[2].Editbody}} </label>
                            <jodit-editor class="dropped_content commonInput" [config]="config" id="Edit-Template-Email " [ngModelOptions]="{standalone: true}" #appnoti="ngModel" [(ngModel)]="SurveyNotification.editEmailTemplateData" [required]="SurveyNotification.lnemail" ngDefaultControl>
                            </jodit-editor>
                            <div *ngIf="appnoti.invalid && appnoti.touched||appnoti.dirty">
                                <small class="invalid-msg" *ngIf="appnoti.hasError('required')">Email body is required.</small>
                            </div>
                        </div>
                    </div>
                    <div class="alert alert-danger">
                        Note:- Please select at least one option.
                    </div>
                </div>
            </div>
        </form>
    </div>
</ngx-sidebar-form>
<!-- <div class="modal-footer text-right">
        <button
          type="button"
          class="constantbtn-button-blue-left"
          (click)="submitSurveyNotification(SurveyNotification, notiForm)"
        >
          Save
        </button>
      </div>
    </div>
  </div> -->

<div class="deleteModalBackdrop" *ngIf="warningModal == true">
    <div class="deleteModal">
        <div class="modal-header deleteModalHeader">
            <p class="enableDisableModalHeaderP">Warning</p>
            <button class="close closeDeleteModalBtn" aria-label="Close" (click)="closeWarningModal()">
          <span aria-hidden="true">&times;</span>
        </button>
        </div>

        <div class="modal-body">
            <div>
                <p class="enableDisableModalBodyP">
                    Event already present in event list .
                </p>
            </div>
        </div>

        <div class="modal-footer deleteModalFooter">
            <div class="">
                <button type="button" class="deleteModalBtn" (click)="closeWarningModal()">
            OK
          </button>
            </div>
        </div>
    </div>
</div>

<div class="deleteModalBackdrop" *ngIf="notDetailsModal">
    <div class="addSelfDemoModalEngage">
        <div class="modal-header">
            <span>Template Description</span>
            <!-- <button class="close" aria-label="Close" (click)="closeModal()">
              <span aria-hidden="true">&times;</span>
            </button> -->
        </div>
        <div class="modal-body">
            <div class="OuterDiv">
                <!-- <div class="InnerDiv">
                      <lable>Name</lable>
                      <p>{{templateData.name}}</p>
                  </div>
                  <div class="InnerDiv">
                      <lable>Description</lable>
                      <p>{{templateData.desc}}</p>
                  </div> -->
                <div class="InnerDiv">
                    <lable>Template</lable>
                    <p [innerHtml]="templateData.template"></p>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button class="constantbtn floterightgami" (click)="closeNotDetailModal()">
          OK
        </button>
        </div>
    </div>
</div>