<div class="emp_list_consumption">
    <!-- <div class="list_consumption_header">
        <div class="content_width">
            <div class="header_grid">
                <div class="header_title">
                    <h4>{{ReportName}}</h4>
                </div>
                <div class="search_div">
                    <input class="form-control search_field ng-untouched ng-pristine ng-valid" name="name" [(ngModel)]="searchtext" (change)="SearchFilter($event, searchtext)" placeholder="Search by keywords" type="text">
                    <i aria-hidden="true" class="fa fa-remove remove_icon" (click)="clear()"></i>
                </div>
                <div class="buttons_container">
                    <button class="constantbtn-button-blue-left" (click)="Exportreport()">Schedule</button>
                    <button class="constantbtn-button-blue-left" [hidden]="true" (click)="DownlaodReports()">Download</button>
                    <button class="constantbtn-button-blue-right" (click)="GetReports()">Preview</button>
                    <button class="back_button" (click)="GoToBack()">Back</button>
                </div>
            </div>
        </div>
    </div> -->

    <app-subheader [headerConfig]="header" (inputsearch)="SarchFiltertest($event,null)" (Clear)="clear()" (btntwo)="Exportreport()" (btnthree)="GetReports()" (backClick)="GoToBack()"></app-subheader>


    <div class="tableCompo tableInfinite" *ngIf='!noData'>
        <ngx-enrol-table [label]="labels" [pagination]="setFlag" [tableData]="courseList" (clickOnCheck)="onSelectRow($event)"></ngx-enrol-table>
    </div>
    <!-- <div class="nodatatoDisplay" *ngIf="noData">
        <img src="assets/images/noDataFound11.png">
    </div> -->
    <ngx-no-data *ngIf="noData"></ngx-no-data>

    <div class="totalrows" *ngIf='!noData'>
        <p class="totalcount">TOTAL: &nbsp; <b>{{FilterParam?.total}}</b></p>
    </div>
    <!-- commented by Ui team member punit soni on 12-03-2020 for dynamic table component -->

    <!-- <div>
    <div *ngIf="!noData">
      <ngx-datatable class="material server-scrolling-demo" [rows]="courseList" class="material" [columnMode]="'force'"
        [headerHeight]="headerHeight" [rowHeight]="rowHeight" [loadingIndicator]="isLoading" [scrollbarV]="true"
        [selected]="selected" [selectionType]="'checkbox'" [selectAllRowsOnPage]="false" [displayCheck]="displayCheck"
        (select)='onSelect($event)' (activate)="onActivate($event)" (scroll)="onScrollDown($event.offsetY, false)"
        [limit]="5">
        <ngx-datatable-column [width]="20" [sortable]="false" [canAutoResize]="false" [draggable]="false"
          [resizeable]="false" [headerCheckboxable]="false" [checkboxable]="true">
        </ngx-datatable-column>
        <ngx-datatable-column>
          <ng-template ngx-datatable-header-template>
            <span>User Name</span>
          </ng-template>
          <ng-template let-row="row" ngx-datatable-cell-template>
            <a class="">
              {{row.ecn}}
            </a>
          </ng-template>
        </ngx-datatable-column>
         <ngx-datatable-column>
          <ng-template ngx-datatable-header-template>
            <span>Full Name</span>
          </ng-template>
          <ng-template let-row="row" ngx-datatable-cell-template>
            <a class="">
              {{row.full_name}}
            </a>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column>
          <ng-template ngx-datatable-header-template>
            <span>Email</span>
          </ng-template>
          <ng-template let-row="row" ngx-datatable-cell-template>
            <a class="">
              {{row.email}}
            </a>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column>
          <ng-template ngx-datatable-header-template>
            <span>Enroll Count</span>
          </ng-template>
          <ng-template let-row="row" ngx-datatable-cell-template>
            <a class="">
              {{row.enrol_count}}
            </a>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
      <div class="totalrows">
        <p class="totalcount">TOTAL: &nbsp; <b>{{FilterParam.total}}</b></p>
      </div>
    </div>
    <div class="nodatatoDisplay" *ngIf="noData">
      <img src="assets/images/noDataFound11.png">
    </div>
  </div> -->



    <!-- <div *ngIf="exports">
        <ngx-report-schedule [data]="FMReportFilterValues" [menuId]="menuId" (closed)="closedmodel($event)"></ngx-report-schedule>
    </div> -->

    <ngx-sidebar-form *ngIf="exports" [sidebarTitle]='notiTitle' (outside)="closeSiderBar()" [buttonName]="btnName" [buttonName1]="btnName1" (closeBtn)='closeSiderBar()' (saveBtn)="sendSaveBtn('save')" (saveBtn1)="sendSaveBtn('savenshow')">
        <ngx-report-schedule-sidebar  [inpdata]="isdata" [data]="FMReportFilterValues" [menuId]="menuId" (closed)="closedmodel($event)">
        </ngx-report-schedule-sidebar>
    </ngx-sidebar-form>
