<div class="pop-back" (click)="closePopup()"></div>
<div class="pop-section">
    <div class="pop-dialog" [ngStyle]="{'width': customWidthSetting?.enabled ? customWidthSetting?.width : null }">
        <div class="pop-content">
            <div class="pop-header px-2" *ngIf="header">
                <h1 class="d-inline">{{title}}</h1>
                <button type="button" class="close" (click)="closePopup()"><i class="fas fa-times"></i></button>
            </div>
            <div class="pop-body p-3">
                <ng-content></ng-content>
            </div>
        </div>
    </div>
</div>
