:host {
  top: 0;
  right: 0;
  z-index: 7;
  width: 100%;
  height: 100%;
  display: block;
  position: fixed;
  background: #00000061;
  .pop-back {
    top: 0;
    left: 0;
    z-index: 7;
    width: 100%;
    height: 100%;
    position: fixed;
    background: #1b191966;
  }
  .pop-section {
    top: 50%;
    left: 50%;
    z-index: 8;
    position: absolute;
    transform: translate(-50%, -50%);
  }
  .pop-dialog {
    min-width: 650px;
    border-radius: 3px;
    // border: 1px solid #dfdddd;
  }
  .pop-body {
    background: #ffffff;
  }
  .pop-content {
    .pop-header {
      padding: 10px 0;
      border-bottom: 0.5px solid #dfdddd;
      background-color: var(--colorCommon) !important;
      h1 {
        padding: 0 8px;
        font-size: 17px;
        color: #ffffff;
      }
    }
    .close {
      opacity: 1;
      outline: none;
      font-size: 14px;
      color: #ffffff;
      padding: 2px 12px;
    }
  }
}
