<div class="fullDiv h-100">
    <div class="from-leftbar" (click)="outsideClick()"></div>
    <div class="form-sidebar">
        <div class="header d-flex align-items-center">
            <span (click)="close()" class="close">
                <img class="cursor-p" width="12" height="12" src="assets/svg/icons/close.svg" alt="close-icon">
            </span>
            <h1 class="text-center m-0">{{sidebarTitle}}</h1>
            <button (click)="save()" *ngIf="buttonName" [disabled]="saveDisabled">{{buttonName}}</button>
            <button (click)="save1()" class="newbt" *ngIf="buttonName1" [disabled]="saveDisabled1">{{buttonName1}}</button>
        </div>
        <!-- <div class="inner-from {{padding}}">
            <ng-content></ng-content>
        </div> -->
        <div [className]="my_Class">
            <ng-content></ng-content>
        </div>
    </div>

</div>