:host {
    top: 0;
    right: 0;
    z-index: 12;
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;
    background: #00000061;
}

.from-leftbar {
    width: 50%;
    height: 100%;
    display: inline-block;
}

.form-sidebar {
    width: 50%;
    color: #000000;
    overflow-y: auto;
    display: inline-block;
    background: #ffffff;
    height: calc(100% - 4rem);
    .header {
        top: 0;
        z-index: 100;
        position: sticky;
        padding: 12px 12px;
        background: var(--colorCommon);
        border-top: 0.1px solid #939090a3;
        box-shadow: 0px 0px 10px -1px #948e8e;
        h1 {
            flex-grow: 6;
            font-size: 16px;
            cursor: default;
            font-weight: 600;
            color: #ffffff;
        }
        .close {
            flex: 0.6;
            opacity: 1;
            font-size: 16px;
            cursor: pointer;
            padding: 4px 6px;
            color: #ffffff;
        }
        button {
            // flex: 0%;
            font-size: 13px;
            padding: 4px 8px;
            // color: #076ba1;
            border-radius: 3px;
            transition: .5s ease;
            // background: #ffffff;
            background: var(--colorBgbtn);
            // border: 1px solid #076ba1;
            color: var(--colorBtnTxt);
            border: 1px solid var(--colorBtnTxt);
            &:hover {
                // color: #ffffff;
                // background: #076ba1;
                color: var(--colorBtnTxt);
                background: var(--colorBgbtn);
            }
        }
    }
    .inner-from {
        padding: 16px;
    }
    .inner-form-zero {
        padding: 0px
    }
}

.newbt {
    // flex: none !important;
    margin-left: 8px;
}
