<div class="blended_program_div">

    <app-subheader [headerConfig]="header" (inputsearch)="searchData($event)" [parentcat]="category" (Clear)="clear()" (dropsearch)="doropserch($event.id)" (addbtn)="addeditprogram(undefined,0)" (backClick)="back()"></app-subheader>

    <!-- <div class="top_header_container">
        <div class="top_header_div_sticky content_width">
            <div class="page_title">
                <h4>PROGRAMS</h4>
            </div>
            <div>
                <div class="filter_div">
                    <div class="drop_down">
                        <select [(ngModel)]="categories" class="drop_down_select" name="id" (change)="doropserch(categories)">
              <option value="">All Categories</option>
              <option *ngFor="let item of category" value={{item.categoryId}}>{{item.categoryName}}</option>
            </select>
                    </div>
                    <div class="search_div">
                        <input type="text" [(ngModel)]="search.programName" class="search_field" placeholder="Search by program name" name="name">
                        <i class="fa fa-remove remove_icon" aria-hidden="true" (click)="clear()"></i>
                    </div>
                </div>
            </div>
            <div class="buttons_div">
                <button type="button" class="constantbtn-button-blue-left " (click)="addeditprogram(undefined,0)" [disabled]="notFound">Add Program</button>
                <button type="submit" class="back_button" (click)="back()">Back</button>
            </div>
        </div>
    </div> -->
    <app-skeleton [count]='count' *ngIf="!skeleton"></app-skeleton>
    <!-- <table *ngIf="!skeleton">
        <tr>
            <div class="multiple_bProgram_card_container1">
                <div class="bProgram_width1">
                    <div class="bProgram_container1">
                        <td>
                            <div class="bProgram_card1">
                                <div class="bProgram">
                                    <ngx-skeleton-loader [theme]="{ width: '215px', height: '145px','margin': '5px' }">
                                    </ngx-skeleton-loader>
                                </div>
                                <div class="bProgram-title">
                                    <ngx-skeleton-loader [theme]="{
                                                  width: '170px',
                                                  height: '40px'
                                                }"></ngx-skeleton-loader>
                                </div>
                                <div class="bProgram-title">
                                    <ngx-skeleton-loader [theme]="{
                                                  width: '170px',
                                                  height: '40px'
                                                }"></ngx-skeleton-loader>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="bProgram_card1">
                                <div class="bProgram">
                                    <ngx-skeleton-loader [theme]="{ width: '215px', height: '145px','margin': '5px' }">
                                    </ngx-skeleton-loader>
                                </div>
                                <div class="bProgram-title">
                                    <ngx-skeleton-loader [theme]="{
                                                  width: '170px',
                                                  height: '40px'
                                                }"></ngx-skeleton-loader>
                                </div>
                                <div class="bProgram-title">
                                    <ngx-skeleton-loader [theme]="{
                                                  width: '170px',
                                                  height: '40px'
                                                }"></ngx-skeleton-loader>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="bProgram_card1">
                                <div class="bProgram">
                                    <ngx-skeleton-loader [theme]="{ width: '215px', height: '145px','margin': '5px'}">
                                    </ngx-skeleton-loader>
                                </div>
                                <div class="bProgram-title">
                                    <ngx-skeleton-loader [theme]="{
                                                  width: '170px',
                                                  height: '40px'
                                                }"></ngx-skeleton-loader>
                                </div>
                                <div class="bProgram-title">
                                    <ngx-skeleton-loader [theme]="{
                                                  width: '170px',
                                                  height: '40px'
                                                }"></ngx-skeleton-loader>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="bProgram_card1">
                                <div class="bProgram">
                                    <ngx-skeleton-loader [theme]="{ width: '215px', height: '145px','margin': '5px'}">
                                    </ngx-skeleton-loader>
                                </div>
                                <div class="bProgram-title">
                                    <ngx-skeleton-loader [theme]="{
                                                  width: '170px',
                                                  height: '40px'
                                                }"></ngx-skeleton-loader>
                                </div>
                                <div class="bProgram-title">
                                    <ngx-skeleton-loader [theme]="{
                                                  width: '170px',
                                                  height: '40px'
                                                }"></ngx-skeleton-loader>
                                </div>
                            </div>
                        </td>
                    </div>
                </div>
            </div>
        </tr>
        <tr>
            <div class="multiple_bProgram_card_container1">
                <div class="bProgram_width1">
                    <div class="bProgram_container1">
                        <td>
                            <div class="bProgram_card1">
                                <div class="bProgram">
                                    <ngx-skeleton-loader [theme]="{ width: '215px', height: '145px','margin': '5px'}">
                                    </ngx-skeleton-loader>
                                </div>
                                <div class="bProgram-title">
                                    <ngx-skeleton-loader [theme]="{
                                                      width: '170px',
                                                      height: '40px'
                                                    }"></ngx-skeleton-loader>
                                </div>
                                <div class="bProgram-title">
                                    <ngx-skeleton-loader [theme]="{
                                                      width: '170px',
                                                      height: '40px'
                                                    }"></ngx-skeleton-loader>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="bProgram_card1">
                                <div class="bProgram">
                                    <ngx-skeleton-loader [theme]="{ width: '215px', height: '145px','margin': '5px'}">
                                    </ngx-skeleton-loader>
                                </div>
                                <div class="bProgram-title">
                                    <ngx-skeleton-loader [theme]="{
                                                      width: '170px',
                                                      height: '40px'
                                                    }"></ngx-skeleton-loader>
                                </div>
                                <div class="bProgram-title">
                                    <ngx-skeleton-loader [theme]="{
                                                      width: '170px',
                                                      height: '40px'
                                                    }"></ngx-skeleton-loader>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="bProgram_card1">
                                <div class="bProgram">
                                    <ngx-skeleton-loader [theme]="{ width: '215px', height: '145px','margin': '5px'}">
                                    </ngx-skeleton-loader>
                                </div>
                                <div class="bProgram-title">
                                    <ngx-skeleton-loader [theme]="{
                                                      width: '170px',
                                                      height: '40px'
                                                    }"></ngx-skeleton-loader>
                                </div>
                                <div class="bProgram-title">
                                    <ngx-skeleton-loader [theme]="{
                                                      width: '170px',
                                                      height: '40px'
                                                    }"></ngx-skeleton-loader>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="bProgram_card1">
                                <div class="bProgram">
                                    <ngx-skeleton-loader [theme]="{ width: '215px', height: '145px','margin': '5px'}">
                                    </ngx-skeleton-loader>
                                </div>
                                <div class="bProgram-title">
                                    <ngx-skeleton-loader [theme]="{
                                                      width: '170px',
                                                      height: '40px'
                                                    }"></ngx-skeleton-loader>
                                </div>
                                <div class="bProgram-title">
                                    <ngx-skeleton-loader [theme]="{
                                                      width: '170px',
                                                      height: '40px'
                                                    }"></ngx-skeleton-loader>
                                </div>
                            </div>
                        </td>
                    </div>
                </div>
            </div>
        </tr>
    </table> -->
    <!-- <div class="multiple_category_card_container" *ngIf="skeleton">
        <div class="content_width" *ngIf="!notFound">
            <div class="cards_container">

                <div class="singel_card" *ngFor="let item of programs |filterBy: search;let j=index">
                    <div class="overlay_hidden" [hidden]="item.visible == 1">
                        <i title="Disabled" id="enable_{{item.courseId}}" class="fa fa-eye-slash" aria-hidden="true" (click)="disableQcate(j,item)"></i>
                    </div>


                    <div class="singel_card_image pointer" *ngIf="item.progPicRef" [ngStyle]="{'background-image': 'url(' + item.progPicRef + ')'}" (click)="addeditprogram(item,1)">
                    </div>
                    <div class="singel_card_image not_found pointer" *ngIf="!item.progPicRef" (click)="addeditprogram(item,1)">
                    </div>


                    <div class="card_title pointer" (click)="addeditprogram(item,1)">
                        <div *ngIf="item?.programName">
                            <div class="" title="{{item.programName}}" *ngIf="item?.programName?.length <= 10">{{item.programName}}</div>
                            <div class="" title="{{item.programName}}" *ngIf="item?.programName?.length > 10">
                                {{item.programName.substring(0,15)}}...</div>
                        </div>
                        <div *ngIf="!(item?.programName)">Not Available</div>
                    </div>


                    <div class="card_subtitle pointer" title="{{item.description}}" (click)="addeditprogram(item,1)" *ngIf="item?.description?.length <=30">{{item.description}}
                    </div>

                    <div class="card_subtitle pointer" title="{{item.description}}" (click)="addeditprogram(item,1)" *ngIf="item?.description?.length >30">{{item.description.substring(0,30)}}...
                    </div>



                    <div class="user-icon pointer">
                        <div class="icons-enable-disable" title="Edit" (click)="addeditprogram(item,1)">
                            <i aria-hidden="true" class="fa fa-edit"></i>
                        </div>

                        <div class="icons-enable-disable">
                            <i title="Enabled" class="fa fa-eye" aria-hidden="true" (click)="disableQcate(j,item)" [hidden]="item.visible == 0"></i>

                            <i title="Disabled" class="fa fa-eye-slash" aria-hidden="true" (click)="disableQcate(j,item)" [hidden]="item.visible == 1"></i>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- [ngStyle]="{ height: conentHeight }" style="overflow-y: auto" -->
    <div *ngIf="skeleton">
        <div (scroll)="onScroll(scrollMe)" #scrollMe class="overflow_scroll_cards_container" *ngIf="!notFound">
            <div *ngFor="let item of displayArray |filterBy: search;let i=index">
                <ngx-card (disabled)="clickTodisableProgram(item, i)" [cardsList]="item" [config]="cardModify" (gotoDetails)="gotoCardDetails(item)"></ngx-card>
            </div>
        </div>
    </div>


    <div *ngIf="notFound">
        <!-- <img class="noDataImg " src='assets/images/noDataFound1.png' onerror="this.src='assets/images/noDataFound1.png' ; "> -->
        <!-- <img src='assets/images/noDataFound2.png' onerror="this.src='assets/images/noDataFound2.png' ; "> -->
        <!-- <p class="nodata "> No Data Found</p> -->
        <ngx-no-data [config]="noDataVal"></ngx-no-data>

    </div>
</div>



<!--
<div class="col-md-12 noDataDiv " *ngIf="!category.length && !notFound ">
  <img class="noDataImg " src='assets/images/noDataFound1.png' onerror="this.src='assets/images/noDataFound1.png' ; ">
  <img src='assets/images/noDataFound2.png' onerror="this.src='assets/images/noDataFound2.png' ; ">
   <p class="nodata "> No Data Found</p>
</div>

<div *ngIf="notFound " class="notFoundPage ">
  <ngx-not-found></ngx-not-found>
</div> -->

<div class="deleteModalBackdrop " *ngIf="deleteCategoryModal==true ">
    <div class="deleteModal ">
        <div class="modal-header deleteModalHeader ">
            <p class="deleteModalHeaderP ">Delete category</p>
            <button class="close closeDeleteModalBtn " aria-label="Close " (click)="closeDeleteCategoryModal() ">
      <span aria-hidden="true ">&times;</span>
    </button>
        </div>

        <div class="modal-body ">
            <div class=" ">
                <p class="deleteModalBodyP ">Are you sure you want to delete {{deleteCatData.categoryName}} ?</p>
            </div>
        </div>

        <div class="modal-footer deleteModalFooter ">
            <div class="col-md-2 ">
                <button type="button " class="deleteModalBtn " (click)="deleteCategoryAction(true) ">Yes</button>
            </div>
            <div class="col-md-2 ">
                <button type="button " class="deleteModalBtn " (click)="deleteCategoryAction(false) ">No</button>
            </div>
        </div>
    </div>
</div>
<div class="deleteModalBackdrop " *ngIf="enableDisableModal==true ">
    <div class="deleteModal ">
        <div class="modal-header deleteModalHeader ">
            <p *ngIf="!enable " class="enableDisableModalHeaderP ">{{title}}</p>
            <p *ngIf="enable " class="enableDisableModalHeaderP ">{{title}}</p>
            <button class="close closeDeleteModalBtn " aria-label="Close " (click)="closeEnableDisableModal() ">
      <span aria-hidden="true ">&times;</span>
    </button>
        </div>

        <div class="modal-body ">
            <div class=" " *ngIf="!enable ">
                <p class="enableDisableModalBodyP ">Are you sure you want to Enable {{progData.programName}} ?</p>
            </div>
            <div class=" " *ngIf="enable ">
                <p class="enableDisableModalBodyP ">Are you sure you want to Disable {{progData.programName}} ?</p>
            </div>
        </div>

        <div class="modal-footer deleteModalFooter ">
            <div class="col-md-2 ">
                <button type="button " class="deleteModalBtn " (click)="enableDisableProgAction(true) ">Yes</button>
            </div>
            <div class="col-md-2 ">
                <button type="button " class="deleteModalBtn " (click)="enableDisableProgAction(false) ">No</button>
            </div>
        </div>
    </div>
</div>



<!-- **********************************  OLD CODE *********************************************** -->


<!-- <div class="buttons-tab ">
  <div class="buttons-tab-inside ">
    <button type="button " [disabled]="!programForm.form.valid " class="constantbtn-button-blue-left " *ngIf="Details " (click)="submit(programForm) ">Submit</button>
    <button type="submit " class="constantbtn-button-blue-right " (click)="back() ">Back</button>
  </div>
</div>

<nb-tabset class="tabs-content " (changeTab)="selectedTab($event) ">



  <nb-tab tabTitle="Details " [active]="Details ">
    <div class="row formGen2 ">
      <div class="col-md-12 paddingright0 formGenCardCourse23 ">
        <div class="card card1234 ">
          <div class="card-body padding0 cardBody ">
            <div class="contentComponent ">
              <div class="col-md-12 addEditCattoprow ">
                addEditCatHead
                <div class="col-md-6 ">
                  <h4 class="addEditCatHead ">Programs</h4>
                </div>
                <div class="col-sm-6 " style="text-align:right " >
                      <button type="button " class="btn btn-secondary " id="submitBut " (click)="submit() ">Submit</button>
                      <button type="submit " class="btn btn-mm btn-default " id="backBut " (click)="back() " > Back</button>
                    </div>
                <div class="col-md-12 text-right paddingright0 ">

                  <div class="back-button ">
                        <button type="button " class="constantbtn-button-blue-left " (click)="submit() ">Submit</button>
                    </div>

                </div>
              </div>
              <div class="widgets ">
                <div class="loaderBackdrop " *ngIf="loader==t rue ">
                          <div id="loader "></div>
                      </div>
                <div ba-panel ba-panel-class="with-scroll ">
                  <div class="col-sm-12 " style="padding: 0; ">
                    <div style=" ">
                      <div class="row m0 " style="width: 100%; ">
                        <div class="col-md-12 grid-margin stretch-card " style="padding-left: 25px;margin-top: 25px; ">
                          <div class="card cardForm cardFormCategory ">
                            <div class="card-body ">

                              <div class="cardTitle row ">
                                <div class="col-md-8 ">
                                  <h4 class="card-title cardTitle marginTop0 ">General Details</h4>
                                </div>
                                <div class="col-md-4 text-align ">
                                        <button type="button " class="constantbtn-button-blue-left " (click)="submit() ">Submit</button>
                                    </div>
                              </div>
                              <p class="card-description ">
                              </p>
                              <form class=" " #programForm="ngForm ">
                                    <div class="col-sm-12 ">
                                      <div class="col-sm-6 ">
                                        <div class="col-sm-12 ">
                                          <div class="form-group ">
                                            <label class="space_left " for="catid ">{{helpContent?.blended_programs?.program_name?.label}} <h3
                                                class="reqFieldActivity ">*</h3>
                                              <div class="help-tooltip ">
                                                <i class="fa fa-info-circle tooltip-hover-info-label-round " aria-hidden="true "></i>
                                                <i class="fa fa-info tooltip-hover-info-label "
                                                                                          aria-hidden="true "></i>
                                                <div class="help-tooltip-position-right ">
                                                  <h3>Lorem Ipsum</h3>
                                                  <p>{{helpContent?.blended_programs?.program_name?.labelHelpContent}}.</p>
                                                  <i></i>
                                                </div>
                                              </div>
                                            </label>
                                            <input type="text " class="form-control inputText " id="progName " maxlength="50 "
                                              [(ngModel)]="member.programName " placeholder="Max 50 characters " #progName="ngModel " required
                                              name="programName ">
                                            <div *ngIf="submitted && f.programName.errors " class="invalid-feedback ">
                                                                                    <div *ngIf="f.programName.errors.required ">Program Name is required</div>
                                                                                  </div>
                                            <div [hidden]="progName.valid || progName.pristine " class="alert alert-danger ">
                                              <div [hidden]="!progName.hasError( 'required') ">Program name is required
                                              </div>
                                              <div *ngIf="progName.errors?.minlength ">Max 50 characters are allowed
                                                                                    </div>
                                            </div>
                                            <span></span>
                                          </div>
                                        </div>
                                        <div class="col-sm-12 ">
                                          <div class="form-group ">
                                            <label class="space_left "
                                              for="programCode ">{{helpContent?.blended_programs?.program_code?.label}}
                                              <div class="help-tooltip ">
                                                <i class="fa fa-info-circle tooltip-hover-info-label-round " aria-hidden="true "></i>
                                                <i class="fa fa-info tooltip-hover-info-label "
                                                                                          aria-hidden="true "></i>
                                                <div class="help-tooltip-position-right ">
                                                  <h3>Lorem Ipsum</h3>
                                                  <p>{{helpContent?.blended_programs?.program_code?.labelHelpContent}}</p>
                                                  <i></i>
                                                </div>
                                              </div>
                                            </label>
                                            <input type="text " class="form-control inputText " id="programCode "
                                              [(ngModel)]="member.programCode " placeholder="Program Code " name="programCode "
                                              [disabled]="true ">
                                             <div *ngIf="submitted && f.programCode.errors " class="invalid-feedback ">
                                                                                        <div *ngIf="f.programCode.errors.required ">Program Code is required</div>
                                                                                      </div>
                                            <div [hidden]="programCode.valid || programCode.pristine " class="alert alert-danger ">
                                                                                      <div [hidden]="!programCode.hasError( 'required') ">Program Code is required</div>
                                                                                  </div>
                                            <span></span>
                                          </div>
                                        </div>
                                        <div class="col-sm-12 ">
                                          <div class="form-group ">
                                            <label class="space_left "
                                              for="categoryId ">{{helpContent?.blended_programs?.category_name?.label}} <h3
                                                class="reqFieldActivity ">*</h3>
                                              <div class="help-tooltip ">
                                                <i class="fa fa-info-circle tooltip-hover-info-label-round " aria-hidden="true "></i>
                                                <i class="fa fa-info tooltip-hover-info-label "
                                                                                          aria-hidden="true "></i>
                                                <div class="help-tooltip-position-right ">
                                                  <h3>Lorem Ipsum</h3>
                                                  <p>{{helpContent?.blended_programs?.category_name?.labelHelpContent}}</p>
                                                  <i></i>
                                                </div>
                                              </div>
                                            </label>
                                            <select [(ngModel)]="member.categoryId " id="categoryId " #categoryName="ngModel " required
                                              class="form-control form-control-input select_field_height inputText " name="categoryId ">
                                              <option value=" " selected disabled>Select Category</option>
                                              <option *ngFor="let item of category " value={{item.categoryId}}>
                                                {{item.categoryName}}</option>
                                            </select>
                                            <div *ngIf="submitted && f.categoryName.errors " class="invalid-feedback ">
                                                                                    <div *ngIf="f.categoryName.errors.required ">Please select a category for
                                                                                      program</div>
                                                                                  </div>
                                            <div [hidden]="categoryName.valid || categoryName.pristine " class="alert alert-danger ">
                                              <div [hidden]="!categoryName.hasError( 'required') ">Category Name is required</div>
                                            </div>
                                            <span></span>
                                          </div>
                                        </div>
                                                     <div class="col-sm-12 ">
                                                                                    <div class="form-group ">
                                                                                      <label class="space_left " for="catid ">Category Code</label>
                                                                                      <input type="text " class="form-control inputText " id="catid " [(ngModel)]="member.categoryCode " placeholder="Category Code " name="categoryCode
        " formControlName="categoryCode " [ngClass]="{ 'is-invalid': submitted && f.categoryCode.errors } ">
                                                                                      <div *ngIf="submitted && f.categoryCode.errors " class="invalid-feedback ">
                                                                                        <div *ngIf="f.categoryCode.errors.required ">Please enter valid category code </div>
                                                                                      </div>
                                                                                      <div [hidden]="categoryCode.valid || categoryCode.pristine " class="alert alert-danger ">
                                                                                                            <div [hidden]="!categoryCode.hasError( 'required') ">Category Code is required</div>
                                                                                                        </div>
                                                                                                        <span></span>
                                                                                    </div>
                                                                                  </div>
                                        <div class="col-sm-12 ">
                                          <div class="form-group ">
                                            <label class="left_space " for="visiid ">{{helpContent?.blended_programs?.visibility.label}}<h3
                                                class="reqFieldActivity ">*</h3>
                                              <div class="help-tooltip ">
                                                <i class="fa fa-info-circle tooltip-hover-info-label-round " aria-hidden="true "></i>
                                                <i class="fa fa-info tooltip-hover-info-label "
                                                                                          aria-hidden="true "></i>
                                                <div class="help-tooltip-position-right ">
                                                  <h3>Lorem Ipsum</h3>
                                                  <p>{{helpContent?.blended_programs?.visibility?.labelHelpContent}}</p>
                                                  <i></i>
                                                </div>
                                              </div>
                                            </label>
                                            <select [(ngModel)]="member.visible " id="visiid " #visible="ngModel " required
                                              class="form-control form-control-input select_field_height inputText " name="visible ">
                                              <option value=" " selected disabled>Select Type</option>
                                              <option *ngFor="let item of visibility " value={{item.id}}>{{item.name}}
                                              </option>
                                            </select>
                                            <div *ngIf="submitted && f.visible.errors " class="invalid-feedback ">
                                                                                    <div *ngIf="f.visible.errors.required ">Select a visibility mode for the
                                                                                      program.</div>
                                                                                  </div>
                                            <div [hidden]="visible.valid || visible.pristine " class="alert alert-danger ">
                                              <div [hidden]="!visible.hasError( 'required') ">Visibility is required</div>
                                            </div>
                                            <span></span>
                                          </div>
                                        </div>
                                        <div class="col-sm-12 ">
                                          <div class="form-group ">

                                            <div class="form-group ">
                                                                                        <label class="space_left " for="catid ">Program Duration<sup class="reqFieldActivity ">*</sup> </label>
                                                                                        <timepicker id="duration " [(ngModel)]="member.duration " [showMeridian]="isMeridian " name="duration " #pduration="ngModel " required></timepicker>
                                                                                        <span></span>
                                                                                      </div>
                                            <label class="space_left " for="catid ">{{helpContent?.blended_programs?.program_duration?.label}}
                                              <sup class="reqFieldActivity ">*</sup>
                                              <div class="help-tooltip ">
                                                <i class="fa fa-info-circle tooltip-hover-info-label-round " aria-hidden="true "></i>
                                                <i class="fa fa-info tooltip-hover-info-label "
                                                                                          aria-hidden="true "></i>
                                                <div class="help-tooltip-position-right ">
                                                  <h3>Lorem Ipsum</h3>
                                                  <p>{{helpContent?.blended_programs?.program_duration?.labelHelpContent}}</p>
                                                  <i></i>
                                                </div>
                                              </div>
                                            </label>
                                            <input type="number " class="form-control inputText " id="duration " placeholder="Program Duration "
                                              [(ngModel)]="member.duration " name="duration " #pduration="ngModel "
                                              oninput="this.value=t his.value.replace(/[^0-9.]/g, ''); this.value=t his.value.replace(/(\..*)\./g, '$1'); "
                                              onKeyDown="if(this.value.length==3 && event.keyCode!=8) return false; " maxlength="3 " min="1 "
                                              required>


                                                                                  <input type="text " class="form-control inputText " id="duration " #pduration="ngModel " required
                                                                                    [(ngModel)]="member.duration " placeholder="Program Duration " name="duration ">
                                            <div [hidden]="pduration.valid || pduration.pristine " class="alert alert-danger ">
                                              <div [hidden]="!pduration.hasError( 'required') ">Program Duration is required</div>
                                            </div>
                                            <span></span>
                                          </div>
                                        </div>
                                        <div class="col-sm-12 ">
                                          <div class="form-group tagcontainer ">
                                                                                  <label class="left_space " for="addTags ">Tags</label>
                                                                                  <div id="addTags " class="input-group ">
                                                                                    <tag-input [theme]=" 'bootstrap' " [(ngModel)]="member.tags " name="tags "
                                                                                      [modelAsStrings]="true " >
                                                                                    </tag-input>
                                                                                  </div>
                                                                                </div>
                                          <div class="form-group tagcontainer ">
                                            <label class="left_space " for="addTags ">{{helpContent?.blended_programs?.tags?.label}}<h3
                                                class="reqFieldActivity ">*</h3>
                                              <div class="help-tooltip ">
                                                <i class="fa fa-info-circle tooltip-hover-info-label-round " aria-hidden="true "></i>
                                                <i class="fa fa-info tooltip-hover-info-label "
                                                                                            aria-hidden="true "></i>
                                                <div class="help-tooltip-position-right ">
                                                  <h3>Lorem Ipsum</h3>
                                                  <p>{{helpContent?.blended_programs?.tags?.labelHelpContent}}</p>
                                                  <i></i>
                                                </div>
                                              </div>

                                            </label>
                                            <div id="addTags " class="input-group ">
                                              <tag-input [theme]=" 'bootstrap' "
                                                [separatorKeyCodes]="[32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,58,59,60,61,62,63,64188] "
                                                [(ngModel)]="member.tags " name="items " required #tags="ngModel ">
                                              </tag-input>
                                              <div [hidden]="tags.valid || tags.pristine " class="alert alert-danger ">
                                                <div [hidden]="!tags.hasError( 'required') ">Tags are required</div>
                                                <div [hidden]="!summary.hasError( 'pattern') ">Maximum 500 characters required</div>
                                              </div>
                                              <span></span>
                                            </div>
                                          </div>
                                          </div>
                                        </div>
                                        <div class="col-sm-12 ">
                                          <div class="form-group ">
                                            <label class="left_space " for="standardId ">{{helpContent?.blended_programs?.standard?.label}}<h3
                                                class="reqFieldActivity ">*</h3>
                                              <div class="help-tooltip ">
                                                <i class="fa fa-info-circle tooltip-hover-info-label-round " aria-hidden="true "></i>
                                                <i class="fa fa-info tooltip-hover-info-label "
                                                                                          aria-hidden="true "></i>
                                                <div class="help-tooltip-position-right ">
                                                  <h3>Lorem Ipsum</h3>
                                                  <p>{{helpContent?.blended_programs?.standard?.labelHelpContent}}</p>
                                                  <i></i>
                                                </div>
                                              </div>
                                            </label>
                                            <select [(ngModel)]="member.standardId " id="standardId " required #standard2="ngModel "
                                              class="form-control form-control-input select_field_height inputText " name="standardId ">
                                              <option value=" " selected disabled>Select Type</option>
                                              <option *ngFor="let item of standard " value={{item.id}}>{{item.name}}</option>
                                            </select>
                                            <div *ngIf="submitted && f.standardId.errors " class="invalid-feedback ">
                                                                                    <div *ngIf="f.standardId.errors.required ">Select a Standard for the program.
                                                                                    </div>
                                                                                  </div>
                                            <div [hidden]="standard2.valid || standard2.pristine " class="alert alert-danger ">
                                              <div [hidden]="!standard2.hasError( 'required') ">Standard is required</div>
                                            </div>
                                            <span></span>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="col-sm-6 ">
                                        <div class="col-sm-12 ">
                                          <div class="form-group ">
                                            <label class="space_left " for="catid ">{{helpContent?.blended_programs?.program_images?.label}}
                                              <div class="help-tooltip ">
                                                <i class="fa fa-info-circle tooltip-hover-info-label-round " aria-hidden="true "></i>
                                                <i class="fa fa-info tooltip-hover-info-label "
                                                                                          aria-hidden="true "></i>
                                                <div class="help-tooltip-position-right ">
                                                  <h3>Lorem Ipsum</h3>
                                                  <p>{{helpContent?.blended_programs?.program_images?.labelHelpContent}}</p>
                                                  <i></i>
                                                </div>
                                              </div>

                                            </label>
                                            <div class="categoryIcon ">
                                              <div class="m0 categoryIcon-upload ">
                                                <div class="categoryIcon-edit ">
                                                  <input type='file' id="imageUpload " name="imageUpload "
                                                    (change)="readCategoryThumb($event) " />
                                                  <label for="imageUpload " title="Change Thumbnail "></label>
                                                </div>
                                                <div class="categoryIcon-delete " (click)="deleteCategoryThumb() ">
                                                  <label title="Restore to default "></label>
                                                </div>
                                                <div class="categoryIcon-preview ">
                                                  <img src={{member.progPicRef}}>
                                                </div>
                                              </div>
                                            </div>
                                          </div>

                                          <div [hidden]="image.valid || image.pristine " class="alert alert-danger ">
                                                                                  <div [hidden]="!image.hasError( 'required') ">Program image is required</div>
                                                                              </div>

                                        </div>
                                        <div class="col-sm-12 ">
                                          <div class="form-group ">
                                            <label class="left_space " for="des ">{{helpContent?.blended_programs?.description?.label}}<h3
                                                class="reqFieldActivity ">*</h3>
                                              <div class="help-tooltip ">
                                                <i class="fa fa-info-circle tooltip-hover-info-label-round " aria-hidden="true "></i>
                                                <i class="fa fa-info tooltip-hover-info-label "
                                                                                            aria-hidden="true "></i>
                                                <div class="help-tooltip-position-right ">
                                                  <h3>Lorem Ipsum</h3>
                                                  <p>{{helpContent?.blended_programs?.description?.labelHelpContent}}</p>
                                                  <i></i>
                                                </div>
                                              </div>
                                            </label>
                                            <textarea cols="30 " rows="6 " class="form-control form-control-input inputText " id="des "
                                              placeholder="Min 20 and max 500 characters " name="description " required #description="ngModel "
                                              [(ngModel)]="member.description " pattern=".{20,500} " minlength="20 "
                                              maxlength="500 "></textarea>
                                            <div *ngIf="submitted && f.description.errors " class="invalid-feedback ">
                                                                                    <div *ngIf="f.description.errors.required ">Enter few lines of description
                                                                                    </div>
                                                                                  </div>
                                            <div [hidden]="description.valid || description.pristine " class="alert alert-danger ">
                                              <div [hidden]="!description.hasError( 'required') ">Description is required</div>
                                              <div [hidden]="!description.hasError( 'pattern') ">Minimum 20 characters required</div>
                                              <div *ngIf="description.errors?.minlength ">Minimum 20 characters are required
                                              </div>
                                            </div>
                                            <span></span>
                                          </div>
                                        </div>


                                      </div>
                                    </div>
                                  </form>
                            </div>
                          </div>
                        </div>
                          <div class="col-md-6 grid-margin stretch-card " style="margin-top: 25px;padding-right: 25px; ">
                                          <div class="card cardForm ">
                                              <div class="card-body ">
                                                  <h4 class="card-title marginTop0 ">Program Image</h4>
                                                  <p class="card-description ">
                                                  </p>
                                                  <form class="forms-sample ">
                                                      <div class="form-group ">
                                                   <label class="space_left " for="catid ">Program Duration</label>
                                                          <div class="categoryIcon ">
                                                              <div class="m0 categoryIcon-upload ">
                                                                  <div class="categoryIcon-edit ">
                                                                      <input type='file' id="imageUpload " accept=".png, .jpg, .jpeg " (change)="readCategoryThumb($event) " />
                                                                      <label for="imageUpload " title="Change Thumbnail "></label>
                                                                  </div>
                                                                  <div class="categoryIcon-delete " (click)="deleteCategoryThumb() ">
                                                                      <label title="Restore to default "></label>
                                                                  </div>
                                                                  <div class="categoryIcon-preview ">
                                                                      <img src={{member.picRef}}>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                      </div>
                                                  </form>
                                              </div>
                                          </div>
                                      </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nb-tab>



  <nb-tab tabTitle="Content " [active]="contentTab " class="contentTab ">
    <div class="row formGen2 ">
      <div class="col-md-12 formGenCardCourse23 ">
        <div class="card card1234 ">
          <div class="card-body padding0 cardBody ">
            <div class="contentComponent ">
              <ngx-content></ngx-content>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nb-tab>



</nb-tabset> -->