<app-subheader [headerConfig]="header" (backClick)="backContent()" (sameComp)='backContent()' (comeBack)="backToTools($event)" (btntwo)="passData('enrol')" (btnthree)="passData('bulken')" (btnfour)="passData('details')"></app-subheader>


<!-- <div class="backaddcou" style="position:fixed;right: 2%;top:76px;z-index: 1092">
  <div class="">
      <button type="submit" class="back_button" (click)="backContent()">Back</button>
      <button type="button" class="constantbtn-button-blue-right" *ngIf="!showEnrolpage " (click)="saveEnrol()">Enrol</button>
      <button type="button" class="constantbtn-button-blue-right" *ngIf="!showBulkpage " (click)="bulkEnrol()">Bulk Enrol</button>
      <button type="submit inside-button-div" class="constantbtn-button-blue-right" *ngIf="!showEnrolpage && !showBulkpage" (click)="back()">Back</button>
      <button type="button" class="constantbtn-button-blue-right" *ngIf="showEnrolpage ||  showBulkpage" (click)="backToEnrol()">Back</button>
  </div>
</div> -->
<nb-tabset class="custom_tabset calldetailTabset" (changeTab)="selectedTab($event)">
    <nb-tab tabTitle="Details" [active]="contentTab" class="contentTab">
        <div class="row formGen2">
            <div class="col-md-12 p-0">
                <div class="card card1234">
                    <div class="card-body padding0 cardBody">
                        <div class="contentComponent">
                            <ngx-content-details [inpdata]="isdata"></ngx-content-details>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nb-tab>


    <nb-tab tabTitle="Enrol" [active]="EnrolTab" class="contentTab">
        <div class="row formGen2">
            <div class="col-md-12  p-0">
                <div class="card card1234">
                    <div class="card-body padding0 cardBody">
                        <div class="contentComponent" *ngIf="EnrolTab">
                            <ngx-eneroltools [inpdata]="isdata"></ngx-eneroltools>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nb-tab>

    <!-- <nb-tab tabTitle="Enrolment" [active]="EnrolmentTab" class="contentTab">
      <div class="row formGen2">  
        <div class="col-md-12 formGenCardCourse23">
          <div class="card card1234">
            <div class="card-body padding0 cardBody">
              <div class="contentComponent">  
                <course-enrolment></course-enrolment>
              </div>
            </div>
          </div>
        </div>
      </div>
  </nb-tab> -->